{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.notion.agents#QueryAgentsRequestFilterCase0Case0Id": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case0": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case0Id",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case1StringEquals": {
      "type": "enum",
      "members": {
        "NOTION_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notion_ai"
          }
        },
        "CUSTOM_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_agent"
          }
        },
        "AUTOFILL_CUSTOM_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autofill_custom_agent"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case1String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case1StringEquals",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case1": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case1String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case2People": {
      "type": "structure",
      "members": {
        "contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case2": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "people": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case2People",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case3Date": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case3": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case3Date",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case4Checkbox": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case4": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "checkbox": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case4Checkbox",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case5McpServer": {
      "type": "structure",
      "members": {
        "contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case5": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mcp_server": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case5McpServer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case6StatusInItem": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case6StatusInList": {
      "type": "list",
      "member": {
        "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case6StatusInItem"
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case6Status": {
      "type": "structure",
      "members": {
        "in": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case6StatusInList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case6": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case6Status",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case7SelectEquals": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "PINNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pinned"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case7Select": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case7SelectEquals",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case7": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "select": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case7Select",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case8Number": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case8": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case8Number",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case9Date": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0Case9": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case9Date",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase0": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case0"
        },
        "Case1": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case1"
        },
        "Case2": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case2"
        },
        "Case3": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case3"
        },
        "Case4": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case4"
        },
        "Case5": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case5"
        },
        "Case6": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case6"
        },
        "Case7": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case7"
        },
        "Case8": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case8"
        },
        "Case9": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0Case9"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case0Id": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case0": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case0Id",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case1StringEquals": {
      "type": "enum",
      "members": {
        "NOTION_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notion_ai"
          }
        },
        "CUSTOM_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_agent"
          }
        },
        "AUTOFILL_CUSTOM_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autofill_custom_agent"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case1String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case1StringEquals",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case1": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case1String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case2People": {
      "type": "structure",
      "members": {
        "contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case2": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "people": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case2People",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case3Date": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case3": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case3Date",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case4Checkbox": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case4": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "checkbox": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case4Checkbox",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case5McpServer": {
      "type": "structure",
      "members": {
        "contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case5": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mcp_server": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case5McpServer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case6StatusInItem": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case6StatusInList": {
      "type": "list",
      "member": {
        "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case6StatusInItem"
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case6Status": {
      "type": "structure",
      "members": {
        "in": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case6StatusInList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case6": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case6Status",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case7SelectEquals": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "PINNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pinned"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case7Select": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case7SelectEquals",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case7": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "select": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case7Select",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case8Number": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case8": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case8Number",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case9Date": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case9": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case9Date",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case0"
        },
        "Case1": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case1"
        },
        "Case2": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case2"
        },
        "Case3": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case3"
        },
        "Case4": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case4"
        },
        "Case5": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case5"
        },
        "Case6": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case6"
        },
        "Case7": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case7"
        },
        "Case8": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case8"
        },
        "Case9": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0Case9"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase0Id": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase0": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase0Id",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase1StringEquals": {
      "type": "enum",
      "members": {
        "NOTION_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notion_ai"
          }
        },
        "CUSTOM_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_agent"
          }
        },
        "AUTOFILL_CUSTOM_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autofill_custom_agent"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase1String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase1StringEquals",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase1": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase1String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase2People": {
      "type": "structure",
      "members": {
        "contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase2": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "people": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase2People",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase3Date": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase3": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase3Date",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase4Checkbox": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase4": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "checkbox": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase4Checkbox",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase5McpServer": {
      "type": "structure",
      "members": {
        "contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase5": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mcp_server": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase5McpServer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase6StatusInItem": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase6StatusInList": {
      "type": "list",
      "member": {
        "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase6StatusInItem"
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase6Status": {
      "type": "structure",
      "members": {
        "in": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase6StatusInList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase6": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase6Status",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase7SelectEquals": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "PINNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pinned"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase7Select": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase7SelectEquals",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase7": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "select": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase7Select",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase8Number": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase8": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase8Number",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase9Date": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase9": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase9Date",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase0"
        },
        "Case1": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase1"
        },
        "Case2": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase2"
        },
        "Case3": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase3"
        },
        "Case4": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase4"
        },
        "Case5": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase5"
        },
        "Case6": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase6"
        },
        "Case7": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase7"
        },
        "Case8": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase8"
        },
        "Case9": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItemCase9"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndList": {
      "type": "list",
      "member": {
        "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndItem"
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0": {
      "type": "structure",
      "members": {
        "and": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0AndList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase0Id": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase0": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase0Id",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase1StringEquals": {
      "type": "enum",
      "members": {
        "NOTION_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notion_ai"
          }
        },
        "CUSTOM_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_agent"
          }
        },
        "AUTOFILL_CUSTOM_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autofill_custom_agent"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase1String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase1StringEquals",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase1": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase1String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase2People": {
      "type": "structure",
      "members": {
        "contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase2": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "people": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase2People",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase3Date": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase3": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase3Date",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase4Checkbox": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase4": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "checkbox": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase4Checkbox",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase5McpServer": {
      "type": "structure",
      "members": {
        "contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase5": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mcp_server": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase5McpServer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase6StatusInItem": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase6StatusInList": {
      "type": "list",
      "member": {
        "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase6StatusInItem"
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase6Status": {
      "type": "structure",
      "members": {
        "in": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase6StatusInList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase6": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase6Status",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase7SelectEquals": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "PINNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pinned"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase7Select": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase7SelectEquals",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase7": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "select": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase7Select",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase8Number": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase8": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase8Number",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase9Date": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase9": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase9Date",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase0"
        },
        "Case1": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase1"
        },
        "Case2": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase2"
        },
        "Case3": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase3"
        },
        "Case4": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase4"
        },
        "Case5": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase5"
        },
        "Case6": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase6"
        },
        "Case7": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase7"
        },
        "Case8": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase8"
        },
        "Case9": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItemCase9"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrList": {
      "type": "list",
      "member": {
        "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrItem"
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1": {
      "type": "structure",
      "members": {
        "or": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1OrList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case0"
        },
        "Case1": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1Case1"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase0"
        },
        "Case1": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItemCase1"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndList": {
      "type": "list",
      "member": {
        "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndItem"
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case0": {
      "type": "structure",
      "members": {
        "and": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0AndList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case0Id": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case0": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case0Id",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case1StringEquals": {
      "type": "enum",
      "members": {
        "NOTION_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notion_ai"
          }
        },
        "CUSTOM_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_agent"
          }
        },
        "AUTOFILL_CUSTOM_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autofill_custom_agent"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case1String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case1StringEquals",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case1": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case1String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case2People": {
      "type": "structure",
      "members": {
        "contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case2": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "people": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case2People",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case3Date": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case3": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case3Date",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case4Checkbox": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case4": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "checkbox": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case4Checkbox",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case5McpServer": {
      "type": "structure",
      "members": {
        "contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case5": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mcp_server": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case5McpServer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case6StatusInItem": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case6StatusInList": {
      "type": "list",
      "member": {
        "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case6StatusInItem"
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case6Status": {
      "type": "structure",
      "members": {
        "in": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case6StatusInList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case6": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case6Status",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case7SelectEquals": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "PINNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pinned"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case7Select": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case7SelectEquals",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case7": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "select": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case7Select",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case8Number": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case8": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case8Number",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case9Date": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case9": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case9Date",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case0"
        },
        "Case1": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case1"
        },
        "Case2": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case2"
        },
        "Case3": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case3"
        },
        "Case4": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case4"
        },
        "Case5": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case5"
        },
        "Case6": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case6"
        },
        "Case7": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case7"
        },
        "Case8": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case8"
        },
        "Case9": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0Case9"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase0Id": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase0": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase0Id",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase1StringEquals": {
      "type": "enum",
      "members": {
        "NOTION_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notion_ai"
          }
        },
        "CUSTOM_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_agent"
          }
        },
        "AUTOFILL_CUSTOM_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autofill_custom_agent"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase1String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase1StringEquals",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase1": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase1String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase2People": {
      "type": "structure",
      "members": {
        "contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase2": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "people": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase2People",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase3Date": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase3": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase3Date",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase4Checkbox": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase4": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "checkbox": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase4Checkbox",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase5McpServer": {
      "type": "structure",
      "members": {
        "contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase5": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mcp_server": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase5McpServer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase6StatusInItem": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase6StatusInList": {
      "type": "list",
      "member": {
        "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase6StatusInItem"
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase6Status": {
      "type": "structure",
      "members": {
        "in": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase6StatusInList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase6": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase6Status",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase7SelectEquals": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "PINNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pinned"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase7Select": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase7SelectEquals",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase7": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "select": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase7Select",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase8Number": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase8": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase8Number",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase9Date": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase9": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase9Date",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase0"
        },
        "Case1": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase1"
        },
        "Case2": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase2"
        },
        "Case3": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase3"
        },
        "Case4": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase4"
        },
        "Case5": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase5"
        },
        "Case6": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase6"
        },
        "Case7": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase7"
        },
        "Case8": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase8"
        },
        "Case9": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItemCase9"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndList": {
      "type": "list",
      "member": {
        "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndItem"
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0": {
      "type": "structure",
      "members": {
        "and": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0AndList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase0Id": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase0": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase0Id",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase1StringEquals": {
      "type": "enum",
      "members": {
        "NOTION_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notion_ai"
          }
        },
        "CUSTOM_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_agent"
          }
        },
        "AUTOFILL_CUSTOM_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autofill_custom_agent"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase1String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase1StringEquals",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase1": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase1String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase2People": {
      "type": "structure",
      "members": {
        "contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase2": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "people": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase2People",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase3Date": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase3": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase3Date",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase4Checkbox": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase4": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "checkbox": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase4Checkbox",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase5McpServer": {
      "type": "structure",
      "members": {
        "contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase5": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mcp_server": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase5McpServer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase6StatusInItem": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase6StatusInList": {
      "type": "list",
      "member": {
        "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase6StatusInItem"
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase6Status": {
      "type": "structure",
      "members": {
        "in": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase6StatusInList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase6": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase6Status",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase7SelectEquals": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "PINNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pinned"
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase7Select": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase7SelectEquals",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase7": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "select": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase7Select",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase8Number": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase8": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase8Number",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase9Date": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase9": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase9Date",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase0"
        },
        "Case1": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase1"
        },
        "Case2": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase2"
        },
        "Case3": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase3"
        },
        "Case4": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase4"
        },
        "Case5": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase5"
        },
        "Case6": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase6"
        },
        "Case7": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase7"
        },
        "Case8": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase8"
        },
        "Case9": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItemCase9"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrList": {
      "type": "list",
      "member": {
        "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrItem"
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1": {
      "type": "structure",
      "members": {
        "or": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1OrList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case0"
        },
        "Case1": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1Case1"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase0"
        },
        "Case1": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItemCase1"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrList": {
      "type": "list",
      "member": {
        "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrItem"
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1Case1": {
      "type": "structure",
      "members": {
        "or": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1OrList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilterCase1": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case0"
        },
        "Case1": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1Case1"
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestFilter": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase0"
        },
        "Case1": {
          "target": "com.notion.agents#QueryAgentsRequestFilterCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter agents by public properties, optionally combined with and/or."
      }
    },
    "com.notion.agents#QueryAgentsRequestSortsItemProperty": {
      "type": "enum",
      "members": {
        "CREATED_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_time"
          }
        },
        "LAST_RUN_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "last_run_at"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Timestamp used to sort agents."
      }
    },
    "com.notion.agents#QueryAgentsRequestSortsItemDirection": {
      "type": "enum",
      "members": {
        "ASCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ascending"
          }
        },
        "DESCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "descending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sort direction."
      }
    },
    "com.notion.agents#QueryAgentsRequestSortsItem": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.agents#QueryAgentsRequestSortsItemProperty",
          "traits": {
            "smithy.api#documentation": "Timestamp used to sort agents.",
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.notion.agents#QueryAgentsRequestSortsItemDirection",
          "traits": {
            "smithy.api#documentation": "Sort direction.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#QueryAgentsRequestSortsList": {
      "type": "list",
      "member": {
        "target": "com.notion.agents#QueryAgentsRequestSortsItem"
      },
      "traits": {
        "smithy.api#documentation": "Ordered sort precedence. Defaults to created_time descending."
      }
    },
    "com.notion.agents#QueryAgentsRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Search agent names and descriptions using a case-insensitive substring match."
          }
        },
        "filter": {
          "target": "com.notion.agents#QueryAgentsRequestFilter",
          "traits": {
            "smithy.api#documentation": "Filter agents by public properties, optionally combined with and/or."
          }
        },
        "sorts": {
          "target": "com.notion.agents#QueryAgentsRequestSortsList",
          "traits": {
            "smithy.api#documentation": "Ordered sort precedence. Defaults to created_time descending."
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque continuation cursor from the previous page."
          }
        },
        "page_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of agents to return. Maximum: 100."
          }
        },
        "verbose": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to include inline instructions for each agent. Defaults to false."
          }
        },
        "include_deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to include soft-deleted agents. Defaults to false."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.notion.agents#QueryAgentsResponseResultsItemCase0AgentType": {
      "type": "enum",
      "members": {
        "CUSTOM_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_agent"
          }
        },
        "AUTOFILL_CUSTOM_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autofill_custom_agent"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "What kind of agent this is: \"custom_agent\" is a standalone agent you chat with; \"autofill_custom_agent\" fills a database property."
      }
    },
    "com.notion.agents#PageIconResponse": {
      "type": "union",
      "members": {
        "EmojiPageIconResponse": {
          "target": "com.notion.agents#EmojiPageIconResponse"
        },
        "FilePageIconResponse": {
          "target": "com.notion.agents#FilePageIconResponse"
        },
        "ExternalPageIconResponse": {
          "target": "com.notion.agents#ExternalPageIconResponse"
        },
        "CustomEmojiPageIconResponse": {
          "target": "com.notion.agents#CustomEmojiPageIconResponse"
        },
        "IconPageIconResponse": {
          "target": "com.notion.agents#IconPageIconResponse"
        }
      },
      "traits": {}
    },
    "com.notion.agents#EmojiPageIconResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of icon. In this case, an emoji.",
            "smithy.api#required": {}
          }
        },
        "emoji": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The emoji character used as the icon.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#FilePageIconResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of icon. In this case, a file.",
            "smithy.api#required": {}
          }
        },
        "file": {
          "target": "com.notion.agents#InternalFileResponse",
          "traits": {
            "smithy.api#documentation": "The file URL for the icon.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#InternalFileResponse": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the file.",
            "smithy.api#required": {}
          }
        },
        "expiry_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the URL will expire.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#ExternalPageIconResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of icon. In this case, an external URL.",
            "smithy.api#required": {}
          }
        },
        "external": {
          "target": "com.notion.agents#ExternalPageIconResponseExternal",
          "traits": {
            "smithy.api#documentation": "The external URL for the icon.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#ExternalPageIconResponseExternal": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the external file or resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The external URL for the icon."
      }
    },
    "com.notion.agents#CustomEmojiPageIconResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of icon. In this case, a custom emoji.",
            "smithy.api#required": {}
          }
        },
        "custom_emoji": {
          "target": "com.notion.agents#CustomEmojiResponse",
          "traits": {
            "smithy.api#documentation": "The custom emoji details for the icon.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#CustomEmojiResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the custom emoji.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the custom emoji.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the custom emoji.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#IconPageIconResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of icon. In this case, a Notion native icon.",
            "smithy.api#required": {}
          }
        },
        "icon": {
          "target": "com.notion.agents#NoticonIconResponse",
          "traits": {
            "smithy.api#documentation": "The Notion native icon, specified by name and color.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.agents#NoticonIconResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Notion icon (e.g. pizza, meeting, home). See the Notion icon picker for valid names.",
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.agents#NoticonColor",
          "traits": {
            "smithy.api#documentation": "The color variant of the icon. Valid values: gray, lightgray, brown, yellow, orange, green, blue, purple, pink, red.",
            "smithy.api#required": {}
[...]
