{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.notion.blocks#GetBlockRequest": {
      "type": "structure",
      "members": {
        "block_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.notion.blocks#PartialBlockObjectResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#BlockObjectResponse": {
      "type": "union",
      "members": {
        "ParagraphBlockObjectResponse": {
          "target": "com.notion.blocks#ParagraphBlockObjectResponse"
        },
        "Heading1BlockObjectResponse": {
          "target": "com.notion.blocks#Heading1BlockObjectResponse"
        },
        "Heading2BlockObjectResponse": {
          "target": "com.notion.blocks#Heading2BlockObjectResponse"
        },
        "Heading3BlockObjectResponse": {
          "target": "com.notion.blocks#Heading3BlockObjectResponse"
        },
        "Heading4BlockObjectResponse": {
          "target": "com.notion.blocks#Heading4BlockObjectResponse"
        },
        "BulletedListItemBlockObjectResponse": {
          "target": "com.notion.blocks#BulletedListItemBlockObjectResponse"
        },
        "NumberedListItemBlockObjectResponse": {
          "target": "com.notion.blocks#NumberedListItemBlockObjectResponse"
        },
        "QuoteBlockObjectResponse": {
          "target": "com.notion.blocks#QuoteBlockObjectResponse"
        },
        "ToDoBlockObjectResponse": {
          "target": "com.notion.blocks#ToDoBlockObjectResponse"
        },
        "ToggleBlockObjectResponse": {
          "target": "com.notion.blocks#ToggleBlockObjectResponse"
        },
        "TemplateBlockObjectResponse": {
          "target": "com.notion.blocks#TemplateBlockObjectResponse"
        },
        "SyncedBlockBlockObjectResponse": {
          "target": "com.notion.blocks#SyncedBlockBlockObjectResponse"
        },
        "ChildPageBlockObjectResponse": {
          "target": "com.notion.blocks#ChildPageBlockObjectResponse"
        },
        "ChildDatabaseBlockObjectResponse": {
          "target": "com.notion.blocks#ChildDatabaseBlockObjectResponse"
        },
        "EquationBlockObjectResponse": {
          "target": "com.notion.blocks#EquationBlockObjectResponse"
        },
        "CodeBlockObjectResponse": {
          "target": "com.notion.blocks#CodeBlockObjectResponse"
        },
        "CalloutBlockObjectResponse": {
          "target": "com.notion.blocks#CalloutBlockObjectResponse"
        },
        "DividerBlockObjectResponse": {
          "target": "com.notion.blocks#DividerBlockObjectResponse"
        },
        "BreadcrumbBlockObjectResponse": {
          "target": "com.notion.blocks#BreadcrumbBlockObjectResponse"
        },
        "TableOfContentsBlockObjectResponse": {
          "target": "com.notion.blocks#TableOfContentsBlockObjectResponse"
        },
        "TabBlockObjectResponse": {
          "target": "com.notion.blocks#TabBlockObjectResponse"
        },
        "ColumnListBlockObjectResponse": {
          "target": "com.notion.blocks#ColumnListBlockObjectResponse"
        },
        "ColumnBlockObjectResponse": {
          "target": "com.notion.blocks#ColumnBlockObjectResponse"
        },
        "LinkToPageBlockObjectResponse": {
          "target": "com.notion.blocks#LinkToPageBlockObjectResponse"
        },
        "TableBlockObjectResponse": {
          "target": "com.notion.blocks#TableBlockObjectResponse"
        },
        "TableRowBlockObjectResponse": {
          "target": "com.notion.blocks#TableRowBlockObjectResponse"
        },
        "MeetingNotesBlockObjectResponse": {
          "target": "com.notion.blocks#MeetingNotesBlockObjectResponse"
        },
        "EmbedBlockObjectResponse": {
          "target": "com.notion.blocks#EmbedBlockObjectResponse"
        },
        "BookmarkBlockObjectResponse": {
          "target": "com.notion.blocks#BookmarkBlockObjectResponse"
        },
        "ImageBlockObjectResponse": {
          "target": "com.notion.blocks#ImageBlockObjectResponse"
        },
        "VideoBlockObjectResponse": {
          "target": "com.notion.blocks#VideoBlockObjectResponse"
        },
        "PdfBlockObjectResponse": {
          "target": "com.notion.blocks#PdfBlockObjectResponse"
        },
        "FileBlockObjectResponse": {
          "target": "com.notion.blocks#FileBlockObjectResponse"
        },
        "AudioBlockObjectResponse": {
          "target": "com.notion.blocks#AudioBlockObjectResponse"
        },
        "LinkPreviewBlockObjectResponse": {
          "target": "com.notion.blocks#LinkPreviewBlockObjectResponse"
        },
        "UnsupportedBlockObjectResponse": {
          "target": "com.notion.blocks#UnsupportedBlockObjectResponse"
        }
      },
      "traits": {}
    },
    "com.notion.blocks#ParagraphBlockObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "paragraph": {
          "target": "com.notion.blocks#ContentWithRichTextColorAndIconResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.notion.blocks#ParentForBlockBasedObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_children": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "in_trash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#ContentWithRichTextColorAndIconResponse": {
      "type": "structure",
      "members": {
        "rich_text": {
          "target": "com.notion.blocks#ContentWithRichTextColorAndIconResponseRichTextList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.blocks#ApiColor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "icon": {
          "target": "com.notion.blocks#PageIconResponse",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#RichTextItemResponse": {
      "type": "structure",
      "members": {
        "plain_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plain text content of the rich text object, without any styling.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL that the rich text object links to or mentions.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "annotations": {
          "target": "com.notion.blocks#AnnotationResponse",
          "traits": {
            "smithy.api#documentation": "All rich text objects contain an annotations object that sets the styling for the rich text.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `text`"
          }
        },
        "text": {
          "target": "com.notion.blocks#RichTextItemResponseText",
          "traits": {
            "smithy.api#documentation": "If a rich text object's type value is `text`, then the corresponding text field contains an object including the text content and any inline link."
          }
        },
        "mention": {
          "target": "com.notion.blocks#RichTextItemResponseMention",
          "traits": {
            "smithy.api#documentation": "Mention objects represent an inline mention of a database, date, link preview mention, page, template mention, or user. A mention is created in the Notion UI when a user types `@` followed by the name of the reference."
          }
        },
        "equation": {
          "target": "com.notion.blocks#RichTextItemResponseEquation",
          "traits": {
            "smithy.api#documentation": "Notion supports inline LaTeX equations as rich text objects with a type value of `equation`."
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#AnnotationResponse": {
      "type": "structure",
      "members": {
        "bold": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "italic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "strikethrough": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "underline": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.blocks#ApiColor",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#ApiColor": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "GRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gray"
          }
        },
        "BROWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brown"
          }
        },
        "ORANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orange"
          }
        },
        "YELLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yellow"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "BLUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blue"
          }
        },
        "PURPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purple"
          }
        },
        "PINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pink"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        },
        "DEFAULT_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default_background"
          }
        },
        "GRAY_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gray_background"
          }
        },
        "BROWN_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brown_background"
          }
        },
        "ORANGE_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orange_background"
          }
        },
        "YELLOW_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yellow_background"
          }
        },
        "GREEN_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green_background"
          }
        },
        "BLUE_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blue_background"
          }
        },
        "PURPLE_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purple_background"
          }
        },
        "PINK_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pink_background"
          }
        },
        "RED_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red_background"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `default`, `gray`, `brown`, `orange`, `yellow`, `green`, `blue`, `purple`, `pink`, `red`, `default_background`, `gray_background`, `brown_background`, `orange_background`, `yellow_background`, `green_background`, `blue_background`, `purple_background`, `pink_background`, `red_background`"
      }
    },
    "com.notion.blocks#RichTextItemResponseTextLink": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the link.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#RichTextItemResponseText": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The actual text content of the text.",
            "smithy.api#required": {}
          }
        },
        "link": {
          "target": "com.notion.blocks#RichTextItemResponseTextLink",
          "traits": {
            "smithy.api#documentation": "An object with information about any inline link in this text, if included.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If a rich text object's type value is `text`, then the corresponding text field contains an object including the text content and any inline link."
      }
    },
    "com.notion.blocks#UserValueResponse": {
      "type": "union",
      "members": {
        "PartialUserObjectResponse": {
          "target": "com.notion.blocks#PartialUserObjectResponse"
        },
        "UserObjectResponse": {
          "target": "com.notion.blocks#UserObjectResponse"
        }
      },
      "traits": {}
    },
    "com.notion.blocks#PartialUserObjectResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `user`",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#UserObjectResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user object type name.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the user.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The avatar URL of the user.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates this user is a person."
          }
        },
        "person": {
          "target": "com.notion.blocks#UserObjectResponsePerson",
          "traits": {
            "smithy.api#documentation": "Details about the person, when the `type` of the user is `person`."
          }
        },
        "bot": {
          "target": "com.notion.blocks#UserObjectResponseBot",
          "traits": {
            "smithy.api#documentation": "Details about the bot, when the `type` of the user is `bot`."
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#UserObjectResponsePerson": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the person."
          }
        },
        "email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the person's email is verified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the person, when the `type` of the user is `person`."
      }
    },
    "com.notion.blocks#BotInfoResponse": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "com.notion.blocks#BotInfoResponseOwner",
          "traits": {
            "smithy.api#documentation": "Details about the owner of the bot.",
            "smithy.api#required": {}
          }
        },
        "workspace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the bot's workspace.",
            "smithy.api#required": {}
          }
        },
        "workspace_limits": {
          "target": "com.notion.blocks#BotInfoResponseWorkspaceLimits",
          "traits": {
            "smithy.api#documentation": "Limits and restrictions that apply to the bot's workspace",
            "smithy.api#required": {}
          }
        },
        "workspace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the bot's workspace.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#BotInfoResponseOwnerCase0UserCase0Person": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the person."
          }
        },
        "email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the person's email is verified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The person info of the user."
      }
    },
    "com.notion.blocks#BotInfoResponseOwnerCase0UserCase0": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user object type name.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the user.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The avatar URL of the user.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the user.",
            "smithy.api#required": {}
          }
        },
        "person": {
          "target": "com.notion.blocks#BotInfoResponseOwnerCase0UserCase0Person",
          "traits": {
            "smithy.api#documentation": "The person info of the user.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#BotInfoResponseOwnerCase0User": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.blocks#BotInfoResponseOwnerCase0UserCase0"
        },
        "PartialUserObjectResponse": {
          "target": "com.notion.blocks#PartialUserObjectResponse"
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the owner of the bot, when the `type` of the owner is `user`. This means the bot is for a integration."
      }
    },
    "com.notion.blocks#BotInfoResponseOwnerCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `user`",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.notion.blocks#BotInfoResponseOwnerCase0User",
          "traits": {
            "smithy.api#documentation": "Details about the owner of the bot, when the `type` of the owner is `user`. This means the bot is for a integration.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#BotInfoResponseOwnerCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `workspace`",
            "smithy.api#required": {}
          }
        },
        "workspace": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Details about the owner of the bot, when the `type` of the owner is `workspace`. This means the bot is for an internal integration.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#BotInfoResponseOwner": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.blocks#BotInfoResponseOwnerCase0"
        },
        "Case1": {
          "target": "com.notion.blocks#BotInfoResponseOwnerCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the owner of the bot."
      }
    },
    "com.notion.blocks#BotInfoResponseWorkspaceLimits": {
      "type": "structure",
      "members": {
        "max_file_upload_size_in_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum allowable size of a file upload, in bytes",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Limits and restrictions that apply to the bot's workspace"
      }
    },
    "com.notion.blocks#UserObjectResponseBot": {
      "type": "union",
      "members": {
        "EmptyObject": {
          "target": "smithy.api#Document"
        },
        "BotInfoResponse": {
          "target": "com.notion.blocks#BotInfoResponse"
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the bot, when the `type` of the user is `bot`."
      }
    },
    "com.notion.blocks#RichTextItemResponseMentionCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `user`",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.notion.blocks#UserValueResponse",
          "traits": {
            "smithy.api#documentation": "Details of the user mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#DateResponse": {
      "type": "structure",
      "members": {
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start date of the date object.",
            "smithy.api#required": {}
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end date of the date object, if any.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "time_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone of the date object.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#RichTextItemResponseMentionCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `date`",
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "com.notion.blocks#DateResponse",
          "traits": {
            "smithy.api#documentation": "Details of the date mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#LinkPreviewMentionResponse": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the link preview mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#RichTextItemResponseMentionCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `link_preview`",
            "smithy.api#required": {}
          }
        },
        "link_preview": {
          "target": "com.notion.blocks#LinkPreviewMentionResponse",
          "traits": {
            "smithy.api#documentation": "Details of the link preview mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#LinkMentionResponse": {
      "type": "structure",
      "members": {
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The href of the link mention.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the link."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the link."
          }
        },
        "link_author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The author of the link."
          }
        },
        "link_provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provider of the link."
          }
        },
        "thumbnail_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The thumbnail URL of the link."
          }
        },
        "icon_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The icon URL of the link."
          }
        },
        "iframe_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The iframe URL of the link."
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The height of the link preview iframe."
          }
        },
        "padding": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The padding of the link preview iframe."
          }
        },
        "padding_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The top padding of the link preview iframe."
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#RichTextItemResponseMentionCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `link_mention`",
            "smithy.api#required": {}
          }
        },
        "link_mention": {
          "target": "com.notion.blocks#LinkMentionResponse",
          "traits": {
            "smithy.api#documentation": "Details of the link mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#RichTextItemResponseMentionCase4Page": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the page in the mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the page mention."
      }
    },
    "com.notion.blocks#RichTextItemResponseMentionCase4": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `page`",
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "com.notion.blocks#RichTextItemResponseMentionCase4Page",
          "traits": {
            "smithy.api#documentation": "Details of the page mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#RichTextItemResponseMentionCase5Database": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the database in the mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the database mention."
      }
    },
    "com.notion.blocks#RichTextItemResponseMentionCase5": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `database`",
            "smithy.api#required": {}
          }
        },
        "database": {
          "target": "com.notion.blocks#RichTextItemResponseMentionCase5Database",
          "traits": {
            "smithy.api#documentation": "Details of the database mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#TemplateMentionResponse": {
      "type": "union",
      "members": {
        "TemplateMentionDateTemplateMentionResponse": {
          "target": "com.notion.blocks#TemplateMentionDateTemplateMentionResponse"
        },
        "TemplateMentionUserTemplateMentionResponse": {
          "target": "com.notion.blocks#TemplateMentionUserTemplateMentionResponse"
        }
      },
      "traits": {}
    },
    "com.notion.blocks#TemplateMentionDateTemplateMentionResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `template_mention_date`",
            "smithy.api#required": {}
          }
        },
        "template_mention_date": {
          "target": "com.notion.blocks#TemplateMentionDateTemplateMentionResponseTemplateMentionDate",
          "traits": {
            "smithy.api#documentation": "The date of the template mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#TemplateMentionDateTemplateMentionResponseTemplateMentionDate": {
      "type": "enum",
      "members": {
        "TODAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "today"
          }
        },
        "NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "now"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The date of the template mention."
      }
    },
    "com.notion.blocks#TemplateMentionUserTemplateMentionResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `template_mention_user`",
            "smithy.api#required": {}
          }
        },
        "template_mention_user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user of the template mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#RichTextItemResponseMentionCase6": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `template_mention`",
            "smithy.api#required": {}
          }
        },
        "template_mention": {
          "target": "com.notion.blocks#TemplateMentionResponse",
          "traits": {
            "smithy.api#documentation": "Details of the template mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#CustomEmojiResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the custom emoji.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the custom emoji.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the custom emoji.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#RichTextItemResponseMentionCase7": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `custom_emoji`",
            "smithy.api#required": {}
          }
        },
        "custom_emoji": {
          "target": "com.notion.blocks#CustomEmojiResponse",
          "traits": {
            "smithy.api#documentation": "Details of the custom emoji mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#RichTextItemResponseMention": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.blocks#RichTextItemResponseMentionCase0"
        },
        "Case1": {
          "target": "com.notion.blocks#RichTextItemResponseMentionCase1"
        },
        "Case2": {
          "target": "com.notion.blocks#RichTextItemResponseMentionCase2"
        },
        "Case3": {
          "target": "com.notion.blocks#RichTextItemResponseMentionCase3"
        },
        "Case4": {
          "target": "com.notion.blocks#RichTextItemResponseMentionCase4"
        },
        "Case5": {
          "target": "com.notion.blocks#RichTextItemResponseMentionCase5"
        },
        "Case6": {
          "target": "com.notion.blocks#RichTextItemResponseMentionCase6"
        },
        "Case7": {
          "target": "com.notion.blocks#RichTextItemResponseMentionCase7"
        }
      },
      "traits": {
        "smithy.api#documentation": "Mention objects represent an inline mention of a database, date, link preview mention, page, template mention, or user. A mention is created in the Notion UI when a user types `@` followed by the name of the reference."
      }
    },
    "com.notion.blocks#RichTextItemResponseEquation": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A KaTeX compatible string.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Notion supports inline LaTeX equations as rich text objects with a type value of `equation`."
      }
    },
    "com.notion.blocks#ContentWithRichTextColorAndIconResponseRichTextList": {
      "type": "list",
      "member": {
        "target": "com.notion.blocks#RichTextItemResponse"
      },
      "traits": {}
    },
    "com.notion.blocks#PageIconResponse": {
      "type": "union",
      "members": {
        "EmojiPageIconResponse": {
          "target": "com.notion.blocks#EmojiPageIconResponse"
        },
        "FilePageIconResponse": {
          "target": "com.notion.blocks#FilePageIconResponse"
        },
        "ExternalPageIconResponse": {
          "target": "com.notion.blocks#ExternalPageIconResponse"
        },
        "CustomEmojiPageIconResponse": {
          "target": "com.notion.blocks#CustomEmojiPageIconResponse"
        },
        "IconPageIconResponse": {
          "target": "com.notion.blocks#IconPageIconResponse"
        }
      },
      "traits": {}
    },
    "com.notion.blocks#EmojiPageIconResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of icon. In this case, an emoji.",
            "smithy.api#required": {}
          }
        },
        "emoji": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The emoji character used as the icon.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#FilePageIconResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of icon. In this case, a file.",
            "smithy.api#required": {}
          }
        },
        "file": {
          "target": "com.notion.blocks#InternalFileResponse",
          "traits": {
            "smithy.api#documentation": "The file URL for the icon.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#InternalFileResponse": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the file.",
            "smithy.api#required": {}
          }
        },
        "expiry_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the URL will expire.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#ExternalPageIconResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of icon. In this case, an external URL.",
            "smithy.api#required": {}
          }
        },
        "external": {
          "target": "com.notion.blocks#ExternalPageIconResponseExternal",
          "traits": {
            "smithy.api#documentation": "The external URL for the icon.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#ExternalPageIconResponseExternal": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the external file or resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The external URL for the icon."
      }
    },
    "com.notion.blocks#CustomEmojiPageIconResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of icon. In this case, a custom emoji.",
            "smithy.api#required": {}
          }
        },
        "custom_emoji": {
          "target": "com.notion.blocks#CustomEmojiResponse",
          "traits": {
            "smithy.api#documentation": "The custom emoji details for the icon.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#IconPageIconResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of icon. In this case, a Notion native icon.",
            "smithy.api#required": {}
          }
        },
        "icon": {
          "target": "com.notion.blocks#NoticonIconResponse",
          "traits": {
            "smithy.api#documentation": "The Notion native icon, specified by name and color.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#NoticonIconResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Notion icon (e.g. pizza, meeting, home). See the Notion icon picker for valid names.",
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.blocks#NoticonColor",
          "traits": {
            "smithy.api#documentation": "The color variant of the icon. Valid values: gray, lightgray, brown, yellow, orange, green, blue, purple, pink, red.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#NoticonColor": {
      "type": "enum",
      "members": {
        "GRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gray"
          }
        },
        "LIGHTGRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lightgray"
          }
        },
        "BROWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brown"
          }
        },
        "YELLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yellow"
          }
        },
        "ORANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orange"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "BLUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blue"
          }
        },
        "PURPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purple"
          }
        },
        "PINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pink"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `gray`, `lightgray`, `brown`, `yellow`, `orange`, `green`, `blue`, `purple`, `pink`, `red`"
      }
    },
    "com.notion.blocks#ParentForBlockBasedObjectResponse": {
      "type": "union",
      "members": {
        "DatabaseParentResponse": {
          "target": "com.notion.blocks#DatabaseParentResponse"
        },
        "DataSourceParentResponse": {
          "target": "com.notion.blocks#DataSourceParentResponse"
        },
        "PageIdParentForBlockBasedObjectResponse": {
          "target": "com.notion.blocks#PageIdParentForBlockBasedObjectResponse"
        },
        "BlockIdParentForBlockBasedObjectResponse": {
          "target": "com.notion.blocks#BlockIdParentForBlockBasedObjectResponse"
        },
        "AgentIdParentForBlockBasedObjectResponse": {
          "target": "com.notion.blocks#AgentIdParentForBlockBasedObjectResponse"
        },
        "WorkspaceParentForBlockBasedObjectResponse": {
          "target": "com.notion.blocks#WorkspaceParentForBlockBasedObjectResponse"
        }
      },
      "traits": {}
    },
    "com.notion.blocks#DatabaseParentResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent type.",
            "smithy.api#required": {}
          }
        },
        "database_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the parent database.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#DataSourceParentResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent type.",
            "smithy.api#required": {}
          }
        },
        "data_source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the parent data source.",
            "smithy.api#required": {}
          }
        },
        "database_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the data source's parent database.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#PageIdParentForBlockBasedObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent type.",
            "smithy.api#required": {}
          }
        },
        "page_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the parent page.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#BlockIdParentForBlockBasedObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent type.",
            "smithy.api#required": {}
          }
        },
        "block_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the parent block.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#AgentIdParentForBlockBasedObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent type.",
            "smithy.api#required": {}
          }
        },
        "agent_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the parent agent.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#WorkspaceParentForBlockBasedObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent type.",
            "smithy.api#required": {}
          }
        },
        "workspace": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always true for workspace parent.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#Heading1BlockObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "heading_1": {
          "target": "com.notion.blocks#HeaderContentWithRichTextAndColorResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.notion.blocks#ParentForBlockBasedObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_children": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "in_trash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#HeaderContentWithRichTextAndColorResponse": {
      "type": "structure",
      "members": {
        "rich_text": {
          "target": "com.notion.blocks#HeaderContentWithRichTextAndColorResponseRichTextList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.blocks#ApiColor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_toggleable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#HeaderContentWithRichTextAndColorResponseRichTextList": {
      "type": "list",
      "member": {
        "target": "com.notion.blocks#RichTextItemResponse"
      },
      "traits": {}
    },
    "com.notion.blocks#Heading2BlockObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "heading_2": {
          "target": "com.notion.blocks#HeaderContentWithRichTextAndColorResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.notion.blocks#ParentForBlockBasedObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_children": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "in_trash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#Heading3BlockObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "heading_3": {
          "target": "com.notion.blocks#HeaderContentWithRichTextAndColorResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.notion.blocks#ParentForBlockBasedObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_children": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "in_trash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#Heading4BlockObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "heading_4": {
          "target": "com.notion.blocks#HeaderContentWithRichTextAndColorResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.notion.blocks#ParentForBlockBasedObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_children": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "in_trash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#BulletedListItemBlockObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bulleted_list_item": {
          "target": "com.notion.blocks#ContentWithRichTextAndColorResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.notion.blocks#ParentForBlockBasedObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_children": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "in_trash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#ContentWithRichTextAndColorResponse": {
      "type": "structure",
      "members": {
        "rich_text": {
          "target": "com.notion.blocks#ContentWithRichTextAndColorResponseRichTextList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.blocks#ApiColor",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#ContentWithRichTextAndColorResponseRichTextList": {
      "type": "list",
      "member": {
        "target": "com.notion.blocks#RichTextItemResponse"
      },
      "traits": {}
    },
    "com.notion.blocks#NumberedListItemBlockObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numbered_list_item": {
          "target": "com.notion.blocks#ContentWithRichTextAndColorAndListResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.notion.blocks#ParentForBlockBasedObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_children": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "in_trash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#ContentWithRichTextAndColorAndListResponse": {
      "type": "structure",
      "members": {
        "rich_text": {
          "target": "com.notion.blocks#ContentWithRichTextAndColorAndListResponseRichTextList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.blocks#ApiColor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "list_start_index": {
          "target": "smithy.api#Integer"
        },
        "list_format": {
          "target": "com.notion.blocks#NumberedListFormat"
        }
      },
      "traits": {}
    },
    "com.notion.blocks#ContentWithRichTextAndColorAndListResponseRichTextList": {
      "type": "list",
      "member": {
        "target": "com.notion.blocks#RichTextItemResponse"
      },
      "traits": {}
    },
    "com.notion.blocks#NumberedListFormat": {
      "type": "enum",
      "members": {
        "NUMBERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "numbers"
          }
        },
        "LETTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "letters"
          }
        },
        "ROMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "roman"
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#QuoteBlockObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "quote": {
          "target": "com.notion.blocks#ContentWithRichTextAndColorResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.notion.blocks#ParentForBlockBasedObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_children": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "in_trash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#ToDoBlockObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "to_do": {
          "target": "com.notion.blocks#ToDoBlockObjectResponseToDo",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.notion.blocks#ParentForBlockBasedObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_children": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "in_trash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#ToDoBlockObjectResponseToDoRichTextList": {
      "type": "list",
      "member": {
        "target": "com.notion.blocks#RichTextItemResponse"
      },
      "traits": {}
    },
    "com.notion.blocks#ToDoBlockObjectResponseToDo": {
      "type": "structure",
      "members": {
        "rich_text": {
          "target": "com.notion.blocks#ToDoBlockObjectResponseToDoRichTextList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.blocks#ApiColor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "checked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#ToggleBlockObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "toggle": {
          "target": "com.notion.blocks#ContentWithRichTextAndColorResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.notion.blocks#ParentForBlockBasedObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_children": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "in_trash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#TemplateBlockObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "template": {
          "target": "com.notion.blocks#TemplateBlockObjectResponseTemplate",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.notion.blocks#ParentForBlockBasedObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_children": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "in_trash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#TemplateBlockObjectResponseTemplateRichTextList": {
      "type": "list",
      "member": {
        "target": "com.notion.blocks#RichTextItemResponse"
      },
      "traits": {}
    },
    "com.notion.blocks#TemplateBlockObjectResponseTemplate": {
      "type": "structure",
      "members": {
        "rich_text": {
          "target": "com.notion.blocks#TemplateBlockObjectResponseTemplateRichTextList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#SyncedBlockBlockObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "synced_block": {
          "target": "com.notion.blocks#SyncedBlockBlockObjectResponseSyncedBlock",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.notion.blocks#ParentForBlockBasedObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_children": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "in_trash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#SyncedBlockBlockObjectResponseSyncedBlockSyncedFrom": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "block_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#SyncedBlockBlockObjectResponseSyncedBlock": {
      "type": "structure",
      "members": {
        "synced_from": {
          "target": "com.notion.blocks#SyncedBlockBlockObjectResponseSyncedBlockSyncedFrom",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#ChildPageBlockObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "child_page": {
          "target": "com.notion.blocks#TitleObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.notion.blocks#ParentForBlockBasedObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_children": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "in_trash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#TitleObjectResponse": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#ChildDatabaseBlockObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "child_database": {
          "target": "com.notion.blocks#TitleObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.notion.blocks#ParentForBlockBasedObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_children": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "in_trash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#EquationBlockObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "equation": {
          "target": "com.notion.blocks#ExpressionObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.notion.blocks#ParentForBlockBasedObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_children": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "in_trash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#ExpressionObjectResponse": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#CodeBlockObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "com.notion.blocks#CodeBlockObjectResponseCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.notion.blocks#ParentForBlockBasedObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_edited_by": {
          "target": "com.notion.blocks#PartialUserObjectResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_children": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "in_trash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#CodeBlockObjectResponseCodeRichTextList": {
      "type": "list",
      "member": {
        "target": "com.notion.blocks#RichTextItemResponse"
      },
      "traits": {}
    },
    "com.notion.blocks#CodeBlockObjectResponseCodeCaptionList": {
      "type": "list",
      "member": {
        "target": "com.notion.blocks#RichTextItemResponse"
      },
      "traits": {}
    },
    "com.notion.blocks#LanguageRequest": {
      "type": "enum",
      "members": {
        "ABAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abap"
          }
        },
        "ABC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abc"
          }
        },
        "AGDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agda"
          }
        },
        "ARDUINO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arduino"
          }
        },
        "ASCII_ART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ascii art"
          }
        },
        "ASSEMBLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assembly"
          }
        },
        "BASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bash"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic"
          }
        },
        "BNF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bnf"
          }
        },
        "C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "c"
          }
        },
        "C_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "c#"
          }
        },
        "C_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "c++"
          }
        },
        "CLOJURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clojure"
          }
        },
        "COFFEESCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coffeescript"
          }
        },
        "COQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coq"
          }
        },
        "CSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "css"
          }
        },
        "DART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dart"
          }
        },
        "DHALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dhall"
          }
        },
        "DIFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "diff"
          }
        },
        "DOCKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docker"
          }
        },
        "EBNF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ebnf"
          }
        },
        "ELIXIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elixir"
          }
        },
        "ELM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elm"
          }
        },
        "ERLANG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "erlang"
          }
        },
        "F": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "f#"
          }
        },
        "FLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flow"
          }
        },
        "FORTRAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fortran"
          }
        },
        "GHERKIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gherkin"
          }
        },
        "GLSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "glsl"
          }
        },
        "GO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "go"
          }
        },
        "GRAPHQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "graphql"
          }
        },
        "GROOVY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groovy"
          }
        },
        "HASKELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "haskell"
          }
        },
        "HCL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hcl"
          }
        },
        "HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "html"
          }
        },
        "IDRIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "idris"
          }
        },
        "JAVA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "java"
          }
        },
        "JAVASCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "javascript"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "JULIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "julia"
          }
        },
        "KOTLIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kotlin"
          }
        },
        "LATEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "latex"
          }
        },
        "LESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less"
          }
        },
        "LISP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lisp"
          }
        },
        "LIVESCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "livescript"
          }
        },
        "LLVM_IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "llvm ir"
          }
        },
        "LUA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lua"
          }
        },
        "MAKEFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "makefile"
          }
        },
        "MARKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "markdown"
          }
        },
        "MARKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "markup"
          }
        },
        "MATLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "matlab"
          }
        },
        "MATHEMATICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mathematica"
          }
        },
        "MERMAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mermaid"
          }
        },
        "NIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nix"
          }
        },
        "NOTION_FORMULA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notion formula"
          }
        },
        "OBJECTIVE_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "objective-c"
          }
        },
        "OCAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ocaml"
          }
        },
        "PASCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pascal"
          }
        },
        "PERL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "perl"
          }
        },
        "PHP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "php"
          }
        },
        "PLAIN_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain text"
          }
        },
        "POWERSHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "powershell"
          }
        },
        "PROLOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prolog"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protobuf"
          }
        },
        "PURESCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purescript"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "python"
          }
        },
        "R": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r"
          }
        },
        "RACKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "racket"
          }
        },
        "REASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reason"
          }
        },
        "RUBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ruby"
          }
        },
        "RUST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rust"
          }
        },
        "SASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sass"
          }
        },
        "SCALA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scala"
          }
        },
        "SCHEME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheme"
          }
        },
        "SCSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scss"
          }
        },
        "SHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shell"
          }
        },
        "SMALLTALK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smalltalk"
          }
        },
        "SOLIDITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "solidity"
          }
        },
        "SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sql"
          }
        },
        "SWIFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "swift"
          }
        },
        "TOML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "toml"
          }
        },
        "TYPESCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "typescript"
          }
        },
        "VB_NET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vb.net"
          }
        },
        "VERILOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verilog"
          }
        },
        "VHDL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vhdl"
          }
        },
        "VISUAL_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visual basic"
          }
        },
        "WEBASSEMBLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webassembly"
          }
        },
        "XML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xml"
          }
        },
        "YAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yaml"
          }
        },
        "JAVA_C_C_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "java/c/c++/c#"
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#CodeBlockObjectResponseCode": {
      "type": "structure",
      "members": {
        "rich_text": {
          "target": "com.notion.blocks#CodeBlockObjectResponseCodeRichTextList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "caption": {
          "target": "com.notion.blocks#CodeBlockObjectResponseCodeCaptionList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "language": {
          "target": "com.notion.blocks#LanguageRequest",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.blocks#CalloutBlockObjectResponse": {
      "type": "structure",
[...]
