{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.notion.data_sources#GetDataSourceRequest": {
      "type": "structure",
      "members": {
        "data_source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.notion.data_sources#PartialDataSourceObjectResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The data source object type name.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the data source.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.notion.data_sources#PartialDataSourceObjectResponsePropertiesMap",
          "traits": {
            "smithy.api#documentation": "The properties schema of the data source.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#DatabasePropertyConfigResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the property.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the property.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the property.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `number`"
          }
        },
        "number": {
          "target": "com.notion.data_sources#DatabasePropertyConfigResponseNumber"
        },
        "formula": {
          "target": "com.notion.data_sources#DatabasePropertyConfigResponseFormula"
        },
        "select": {
          "target": "com.notion.data_sources#DatabasePropertyConfigResponseSelect"
        },
        "multi_select": {
          "target": "com.notion.data_sources#DatabasePropertyConfigResponseMultiSelect"
        },
        "status": {
          "target": "com.notion.data_sources#DatabasePropertyConfigResponseStatus"
        },
        "relation": {
          "target": "com.notion.data_sources#DatabasePropertyRelationConfigResponse"
        },
        "rollup": {
          "target": "com.notion.data_sources#DatabasePropertyConfigResponseRollup"
        },
        "unique_id": {
          "target": "com.notion.data_sources#DatabasePropertyConfigResponseUniqueId"
        },
        "title": {
          "target": "smithy.api#Document"
        },
        "rich_text": {
          "target": "smithy.api#Document"
        },
        "url": {
          "target": "smithy.api#Document"
        },
        "people": {
          "target": "smithy.api#Document"
        },
        "files": {
          "target": "smithy.api#Document"
        },
        "email": {
          "target": "smithy.api#Document"
        },
        "phone_number": {
          "target": "smithy.api#Document"
        },
        "date": {
          "target": "smithy.api#Document"
        },
        "checkbox": {
          "target": "smithy.api#Document"
        },
        "created_by": {
          "target": "smithy.api#Document"
        },
        "created_time": {
          "target": "smithy.api#Document"
        },
        "last_edited_by": {
          "target": "smithy.api#Document"
        },
        "last_edited_time": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#DatabasePropertyConfigResponseNumber": {
      "type": "structure",
      "members": {
        "format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number format for the property.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#DatabasePropertyConfigResponseFormula": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#SelectPropertyResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.data_sources#SelectColor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#SelectColor": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "GRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gray"
          }
        },
        "BROWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brown"
          }
        },
        "ORANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orange"
          }
        },
        "YELLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yellow"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "BLUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blue"
          }
        },
        "PURPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purple"
          }
        },
        "PINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pink"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `default`, `gray`, `brown`, `orange`, `yellow`, `green`, `blue`, `purple`, `pink`, `red`"
      }
    },
    "com.notion.data_sources#DatabasePropertyConfigResponseSelectOptionsList": {
      "type": "list",
      "member": {
        "target": "com.notion.data_sources#SelectPropertyResponse"
      },
      "traits": {}
    },
    "com.notion.data_sources#DatabasePropertyConfigResponseSelect": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.notion.data_sources#DatabasePropertyConfigResponseSelectOptionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#DatabasePropertyConfigResponseMultiSelectOptionsList": {
      "type": "list",
      "member": {
        "target": "com.notion.data_sources#SelectPropertyResponse"
      },
      "traits": {}
    },
    "com.notion.data_sources#DatabasePropertyConfigResponseMultiSelect": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.notion.data_sources#DatabasePropertyConfigResponseMultiSelectOptionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#StatusPropertyResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the status option.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the status option.",
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.data_sources#SelectColor",
          "traits": {
            "smithy.api#documentation": "The color of the status option.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the status option.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#DatabasePropertyConfigResponseStatusOptionsList": {
      "type": "list",
      "member": {
        "target": "com.notion.data_sources#StatusPropertyResponse"
      },
      "traits": {
        "smithy.api#documentation": "The options for the status property."
      }
    },
    "com.notion.data_sources#DatabasePropertyConfigResponseStatusGroupsItemOptionIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The IDs of the status options in this group."
      }
    },
    "com.notion.data_sources#DatabasePropertyConfigResponseStatusGroupsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the status group.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the status group.",
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.data_sources#SelectColor",
          "traits": {
            "smithy.api#documentation": "The color of the status group.",
            "smithy.api#required": {}
          }
        },
        "option_ids": {
          "target": "com.notion.data_sources#DatabasePropertyConfigResponseStatusGroupsItemOptionIdsList",
          "traits": {
            "smithy.api#documentation": "The IDs of the status options in this group.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#DatabasePropertyConfigResponseStatusGroupsList": {
      "type": "list",
      "member": {
        "target": "com.notion.data_sources#DatabasePropertyConfigResponseStatusGroupsItem"
      },
      "traits": {
        "smithy.api#documentation": "The groups for the status property."
      }
    },
    "com.notion.data_sources#DatabasePropertyConfigResponseStatus": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.notion.data_sources#DatabasePropertyConfigResponseStatusOptionsList",
          "traits": {
            "smithy.api#documentation": "The options for the status property.",
            "smithy.api#required": {}
          }
        },
        "groups": {
          "target": "com.notion.data_sources#DatabasePropertyConfigResponseStatusGroupsList",
          "traits": {
            "smithy.api#documentation": "The groups for the status property.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#DatabasePropertyRelationConfigResponse": {
      "type": "structure",
      "members": {
        "database_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data_source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `single_property`"
          }
        },
        "single_property": {
          "target": "smithy.api#Document"
        },
        "dual_property": {
          "target": "com.notion.data_sources#DatabasePropertyRelationConfigResponseDualProperty"
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#DatabasePropertyRelationConfigResponseDualProperty": {
      "type": "structure",
      "members": {
        "synced_property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "synced_property_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RollupFunction": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "COUNT_VALUES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count_values"
          }
        },
        "EMPTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "empty"
          }
        },
        "NOT_EMPTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_empty"
          }
        },
        "UNIQUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unique"
          }
        },
        "SHOW_UNIQUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "show_unique"
          }
        },
        "PERCENT_EMPTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percent_empty"
          }
        },
        "PERCENT_NOT_EMPTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percent_not_empty"
          }
        },
        "SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sum"
          }
        },
        "AVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "average"
          }
        },
        "MEDIAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "median"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "range"
          }
        },
        "EARLIEST_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "earliest_date"
          }
        },
        "LATEST_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "latest_date"
          }
        },
        "DATE_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date_range"
          }
        },
        "CHECKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "checked"
          }
        },
        "UNCHECKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unchecked"
          }
        },
        "PERCENT_CHECKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percent_checked"
          }
        },
        "PERCENT_UNCHECKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percent_unchecked"
          }
        },
        "COUNT_PER_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count_per_group"
          }
        },
        "PERCENT_PER_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percent_per_group"
          }
        },
        "SHOW_ORIGINAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "show_original"
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#DatabasePropertyConfigResponseRollup": {
      "type": "structure",
      "members": {
        "function": {
          "target": "com.notion.data_sources#RollupFunction",
          "traits": {
            "smithy.api#documentation": "The function to use for the rollup, e.g. count, count_values, percent_not_empty, max.",
            "smithy.api#required": {}
          }
        },
        "rollup_property_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "relation_property_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rollup_property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "relation_property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#DatabasePropertyConfigResponseUniqueId": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix for the unique ID.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#PartialDataSourceObjectResponsePropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.notion.data_sources#DatabasePropertyConfigResponse"
      },
      "traits": {
        "smithy.api#documentation": "The properties schema of the data source."
      }
    },
    "com.notion.data_sources#DataSourceObjectResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The data source object type name.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the data source.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "com.notion.data_sources#DataSourceObjectResponseTitleList",
          "traits": {
            "smithy.api#documentation": "The title of the data source.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.notion.data_sources#DataSourceObjectResponseDescriptionList",
          "traits": {
            "smithy.api#documentation": "The description of the data source.",
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.notion.data_sources#ParentOfDataSourceResponse",
          "traits": {
            "smithy.api#documentation": "The parent of the data source.",
            "smithy.api#required": {}
          }
        },
        "database_parent": {
          "target": "com.notion.data_sources#ParentOfDatabaseResponse",
          "traits": {
            "smithy.api#documentation": "The parent of the data source's containing database. This is typically a page, block, or workspace, but can be another database in the case of wikis.",
            "smithy.api#required": {}
          }
        },
        "is_inline": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the data source is inline.",
            "smithy.api#required": {}
          }
        },
        "database_type": {
          "target": "com.notion.data_sources#DataSourceObjectResponseDatabaseType",
          "traits": {
            "smithy.api#documentation": "The type of typed database this data source belongs to, or `null` for a regular data source.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "in_trash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the data source is in the trash.",
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the data source was created.",
            "smithy.api#required": {}
          }
        },
        "last_edited_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the data source was last edited.",
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.notion.data_sources#PartialUserObjectResponse",
          "traits": {
            "smithy.api#documentation": "The user who created the data source.",
            "smithy.api#required": {}
          }
        },
        "last_edited_by": {
          "target": "com.notion.data_sources#PartialUserObjectResponse",
          "traits": {
            "smithy.api#documentation": "The user who last edited the data source.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.notion.data_sources#DataSourceObjectResponsePropertiesMap",
          "traits": {
            "smithy.api#documentation": "The properties schema of the data source.",
            "smithy.api#required": {}
          }
        },
        "icon": {
          "target": "com.notion.data_sources#PageIconResponse",
          "traits": {
            "smithy.api#documentation": "The icon of the data source.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cover": {
          "target": "com.notion.data_sources#PageCoverResponse",
          "traits": {
            "smithy.api#documentation": "The cover of the data source.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the data source.",
            "smithy.api#required": {}
          }
        },
        "public_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The public URL of the data source if it is publicly accessible.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemResponse": {
      "type": "structure",
      "members": {
        "plain_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plain text content of the rich text object, without any styling.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL that the rich text object links to or mentions.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "annotations": {
          "target": "com.notion.data_sources#AnnotationResponse",
          "traits": {
            "smithy.api#documentation": "All rich text objects contain an annotations object that sets the styling for the rich text.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `text`"
          }
        },
        "text": {
          "target": "com.notion.data_sources#RichTextItemResponseText",
          "traits": {
            "smithy.api#documentation": "If a rich text object's type value is `text`, then the corresponding text field contains an object including the text content and any inline link."
          }
        },
        "mention": {
          "target": "com.notion.data_sources#RichTextItemResponseMention",
          "traits": {
            "smithy.api#documentation": "Mention objects represent an inline mention of a database, date, link preview mention, page, template mention, or user. A mention is created in the Notion UI when a user types `@` followed by the name of the reference."
          }
        },
        "equation": {
          "target": "com.notion.data_sources#RichTextItemResponseEquation",
          "traits": {
            "smithy.api#documentation": "Notion supports inline LaTeX equations as rich text objects with a type value of `equation`."
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#AnnotationResponse": {
      "type": "structure",
      "members": {
        "bold": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "italic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "strikethrough": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "underline": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.data_sources#ApiColor",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#ApiColor": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "GRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gray"
          }
        },
        "BROWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brown"
          }
        },
        "ORANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orange"
          }
        },
        "YELLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yellow"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "BLUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blue"
          }
        },
        "PURPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purple"
          }
        },
        "PINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pink"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        },
        "DEFAULT_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default_background"
          }
        },
        "GRAY_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gray_background"
          }
        },
        "BROWN_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brown_background"
          }
        },
        "ORANGE_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orange_background"
          }
        },
        "YELLOW_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yellow_background"
          }
        },
        "GREEN_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green_background"
          }
        },
        "BLUE_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blue_background"
          }
        },
        "PURPLE_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purple_background"
          }
        },
        "PINK_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pink_background"
          }
        },
        "RED_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red_background"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `default`, `gray`, `brown`, `orange`, `yellow`, `green`, `blue`, `purple`, `pink`, `red`, `default_background`, `gray_background`, `brown_background`, `orange_background`, `yellow_background`, `green_background`, `blue_background`, `purple_background`, `pink_background`, `red_background`"
      }
    },
    "com.notion.data_sources#RichTextItemResponseTextLink": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the link.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemResponseText": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The actual text content of the text.",
            "smithy.api#required": {}
          }
        },
        "link": {
          "target": "com.notion.data_sources#RichTextItemResponseTextLink",
          "traits": {
            "smithy.api#documentation": "An object with information about any inline link in this text, if included.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If a rich text object's type value is `text`, then the corresponding text field contains an object including the text content and any inline link."
      }
    },
    "com.notion.data_sources#UserValueResponse": {
      "type": "union",
      "members": {
        "PartialUserObjectResponse": {
          "target": "com.notion.data_sources#PartialUserObjectResponse"
        },
        "UserObjectResponse": {
          "target": "com.notion.data_sources#UserObjectResponse"
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#PartialUserObjectResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `user`",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#UserObjectResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user object type name.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the user.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The avatar URL of the user.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates this user is a person."
          }
        },
        "person": {
          "target": "com.notion.data_sources#UserObjectResponsePerson",
          "traits": {
            "smithy.api#documentation": "Details about the person, when the `type` of the user is `person`."
          }
        },
        "bot": {
          "target": "com.notion.data_sources#UserObjectResponseBot",
          "traits": {
            "smithy.api#documentation": "Details about the bot, when the `type` of the user is `bot`."
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#UserObjectResponsePerson": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the person."
          }
        },
        "email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the person's email is verified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the person, when the `type` of the user is `person`."
      }
    },
    "com.notion.data_sources#BotInfoResponse": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "com.notion.data_sources#BotInfoResponseOwner",
          "traits": {
            "smithy.api#documentation": "Details about the owner of the bot.",
            "smithy.api#required": {}
          }
        },
        "workspace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the bot's workspace.",
            "smithy.api#required": {}
          }
        },
        "workspace_limits": {
          "target": "com.notion.data_sources#BotInfoResponseWorkspaceLimits",
          "traits": {
            "smithy.api#documentation": "Limits and restrictions that apply to the bot's workspace",
            "smithy.api#required": {}
          }
        },
        "workspace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the bot's workspace.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#BotInfoResponseOwnerCase0UserCase0Person": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the person."
          }
        },
        "email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the person's email is verified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The person info of the user."
      }
    },
    "com.notion.data_sources#BotInfoResponseOwnerCase0UserCase0": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user object type name.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the user.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The avatar URL of the user.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the user.",
            "smithy.api#required": {}
          }
        },
        "person": {
          "target": "com.notion.data_sources#BotInfoResponseOwnerCase0UserCase0Person",
          "traits": {
            "smithy.api#documentation": "The person info of the user.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#BotInfoResponseOwnerCase0User": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.data_sources#BotInfoResponseOwnerCase0UserCase0"
        },
        "PartialUserObjectResponse": {
          "target": "com.notion.data_sources#PartialUserObjectResponse"
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the owner of the bot, when the `type` of the owner is `user`. This means the bot is for a integration."
      }
    },
    "com.notion.data_sources#BotInfoResponseOwnerCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `user`",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.notion.data_sources#BotInfoResponseOwnerCase0User",
          "traits": {
            "smithy.api#documentation": "Details about the owner of the bot, when the `type` of the owner is `user`. This means the bot is for a integration.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#BotInfoResponseOwnerCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `workspace`",
            "smithy.api#required": {}
          }
        },
        "workspace": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Details about the owner of the bot, when the `type` of the owner is `workspace`. This means the bot is for an internal integration.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#BotInfoResponseOwner": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.data_sources#BotInfoResponseOwnerCase0"
        },
        "Case1": {
          "target": "com.notion.data_sources#BotInfoResponseOwnerCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the owner of the bot."
      }
    },
    "com.notion.data_sources#BotInfoResponseWorkspaceLimits": {
      "type": "structure",
      "members": {
        "max_file_upload_size_in_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum allowable size of a file upload, in bytes",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Limits and restrictions that apply to the bot's workspace"
      }
    },
    "com.notion.data_sources#UserObjectResponseBot": {
      "type": "union",
      "members": {
        "EmptyObject": {
          "target": "smithy.api#Document"
        },
        "BotInfoResponse": {
          "target": "com.notion.data_sources#BotInfoResponse"
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the bot, when the `type` of the user is `bot`."
      }
    },
    "com.notion.data_sources#RichTextItemResponseMentionCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `user`",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.notion.data_sources#UserValueResponse",
          "traits": {
            "smithy.api#documentation": "Details of the user mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#DateResponse": {
      "type": "structure",
      "members": {
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start date of the date object.",
            "smithy.api#required": {}
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end date of the date object, if any.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "time_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone of the date object.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemResponseMentionCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `date`",
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "com.notion.data_sources#DateResponse",
          "traits": {
            "smithy.api#documentation": "Details of the date mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#LinkPreviewMentionResponse": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the link preview mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemResponseMentionCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `link_preview`",
            "smithy.api#required": {}
          }
        },
        "link_preview": {
          "target": "com.notion.data_sources#LinkPreviewMentionResponse",
          "traits": {
            "smithy.api#documentation": "Details of the link preview mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#LinkMentionResponse": {
      "type": "structure",
      "members": {
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The href of the link mention.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the link."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the link."
          }
        },
        "link_author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The author of the link."
          }
        },
        "link_provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provider of the link."
          }
        },
        "thumbnail_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The thumbnail URL of the link."
          }
        },
        "icon_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The icon URL of the link."
          }
        },
        "iframe_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The iframe URL of the link."
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The height of the link preview iframe."
          }
        },
        "padding": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The padding of the link preview iframe."
          }
        },
        "padding_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The top padding of the link preview iframe."
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemResponseMentionCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `link_mention`",
            "smithy.api#required": {}
          }
        },
        "link_mention": {
          "target": "com.notion.data_sources#LinkMentionResponse",
          "traits": {
            "smithy.api#documentation": "Details of the link mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemResponseMentionCase4Page": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the page in the mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the page mention."
      }
    },
    "com.notion.data_sources#RichTextItemResponseMentionCase4": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `page`",
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "com.notion.data_sources#RichTextItemResponseMentionCase4Page",
          "traits": {
            "smithy.api#documentation": "Details of the page mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemResponseMentionCase5Database": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the database in the mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the database mention."
      }
    },
    "com.notion.data_sources#RichTextItemResponseMentionCase5": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `database`",
            "smithy.api#required": {}
          }
        },
        "database": {
          "target": "com.notion.data_sources#RichTextItemResponseMentionCase5Database",
          "traits": {
            "smithy.api#documentation": "Details of the database mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#TemplateMentionResponse": {
      "type": "union",
      "members": {
        "TemplateMentionDateTemplateMentionResponse": {
          "target": "com.notion.data_sources#TemplateMentionDateTemplateMentionResponse"
        },
        "TemplateMentionUserTemplateMentionResponse": {
          "target": "com.notion.data_sources#TemplateMentionUserTemplateMentionResponse"
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#TemplateMentionDateTemplateMentionResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `template_mention_date`",
            "smithy.api#required": {}
          }
        },
        "template_mention_date": {
          "target": "com.notion.data_sources#TemplateMentionDateTemplateMentionResponseTemplateMentionDate",
          "traits": {
            "smithy.api#documentation": "The date of the template mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#TemplateMentionDateTemplateMentionResponseTemplateMentionDate": {
      "type": "enum",
      "members": {
        "TODAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "today"
          }
        },
        "NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "now"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The date of the template mention."
      }
    },
    "com.notion.data_sources#TemplateMentionUserTemplateMentionResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `template_mention_user`",
            "smithy.api#required": {}
          }
        },
        "template_mention_user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user of the template mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemResponseMentionCase6": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `template_mention`",
            "smithy.api#required": {}
          }
        },
        "template_mention": {
          "target": "com.notion.data_sources#TemplateMentionResponse",
          "traits": {
            "smithy.api#documentation": "Details of the template mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#CustomEmojiResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the custom emoji.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the custom emoji.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the custom emoji.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemResponseMentionCase7": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `custom_emoji`",
            "smithy.api#required": {}
          }
        },
        "custom_emoji": {
          "target": "com.notion.data_sources#CustomEmojiResponse",
          "traits": {
            "smithy.api#documentation": "Details of the custom emoji mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemResponseMention": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.data_sources#RichTextItemResponseMentionCase0"
        },
        "Case1": {
          "target": "com.notion.data_sources#RichTextItemResponseMentionCase1"
        },
        "Case2": {
          "target": "com.notion.data_sources#RichTextItemResponseMentionCase2"
        },
        "Case3": {
          "target": "com.notion.data_sources#RichTextItemResponseMentionCase3"
        },
        "Case4": {
          "target": "com.notion.data_sources#RichTextItemResponseMentionCase4"
        },
        "Case5": {
          "target": "com.notion.data_sources#RichTextItemResponseMentionCase5"
        },
        "Case6": {
          "target": "com.notion.data_sources#RichTextItemResponseMentionCase6"
        },
        "Case7": {
          "target": "com.notion.data_sources#RichTextItemResponseMentionCase7"
        }
      },
      "traits": {
        "smithy.api#documentation": "Mention objects represent an inline mention of a database, date, link preview mention, page, template mention, or user. A mention is created in the Notion UI when a user types `@` followed by the name of the reference."
      }
    },
    "com.notion.data_sources#RichTextItemResponseEquation": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A KaTeX compatible string.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Notion supports inline LaTeX equations as rich text objects with a type value of `equation`."
      }
    },
    "com.notion.data_sources#DataSourceObjectResponseTitleList": {
      "type": "list",
      "member": {
        "target": "com.notion.data_sources#RichTextItemResponse"
      },
      "traits": {
        "smithy.api#documentation": "The title of the data source."
      }
    },
    "com.notion.data_sources#DataSourceObjectResponseDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.notion.data_sources#RichTextItemResponse"
      },
      "traits": {
        "smithy.api#documentation": "The description of the data source."
      }
    },
    "com.notion.data_sources#ParentOfDataSourceResponse": {
      "type": "union",
      "members": {
        "DatabaseParentResponse": {
          "target": "com.notion.data_sources#DatabaseParentResponse"
        },
        "DataSourceParentResponse": {
          "target": "com.notion.data_sources#DataSourceParentResponse"
        }
      },
      "traits": {
        "smithy.api#documentation": "The parent of the data source. This is typically a database (`database_id`), but for externally synced data sources, can be another data source (`data_source_id`)."
      }
    },
    "com.notion.data_sources#DatabaseParentResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent type.",
            "smithy.api#required": {}
          }
        },
        "database_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the parent database.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#DataSourceParentResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent type.",
            "smithy.api#required": {}
          }
        },
        "data_source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the parent data source.",
            "smithy.api#required": {}
          }
        },
        "database_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the data source's parent database.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#ParentOfDatabaseResponse": {
      "type": "union",
      "members": {
        "PageIdParentForBlockBasedObjectResponse": {
          "target": "com.notion.data_sources#PageIdParentForBlockBasedObjectResponse"
        },
        "WorkspaceParentForBlockBasedObjectResponse": {
          "target": "com.notion.data_sources#WorkspaceParentForBlockBasedObjectResponse"
        },
        "DatabaseParentResponse": {
          "target": "com.notion.data_sources#DatabaseParentResponse"
        },
        "BlockIdParentForBlockBasedObjectResponse": {
          "target": "com.notion.data_sources#BlockIdParentForBlockBasedObjectResponse"
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#PageIdParentForBlockBasedObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent type.",
            "smithy.api#required": {}
          }
        },
        "page_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the parent page.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#WorkspaceParentForBlockBasedObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent type.",
            "smithy.api#required": {}
          }
        },
        "workspace": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always true for workspace parent.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#BlockIdParentForBlockBasedObjectResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent type.",
            "smithy.api#required": {}
          }
        },
        "block_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the parent block.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#DataSourceObjectResponseDatabaseType": {
      "type": "enum",
      "members": {
        "TASKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tasks"
          }
        },
        "PROJECTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "projects"
          }
        },
        "SPRINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sprints"
          }
        },
        "DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docs"
          }
        },
        "WIKI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wiki"
          }
        },
        "MEETINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "meetings"
          }
        },
        "MEETING_NOTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "meeting_notes"
          }
        },
        "SKILLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skills"
          }
        },
        "GITHUB_PRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github_prs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `tasks`, `projects`, `sprints`, `docs`, `wiki`, `meetings`, `meeting_notes`, `skills`, `github_prs`"
      }
    },
    "com.notion.data_sources#DataSourceObjectResponsePropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.notion.data_sources#DatabasePropertyConfigResponse"
      },
      "traits": {
        "smithy.api#documentation": "The properties schema of the data source."
      }
    },
    "com.notion.data_sources#PageIconResponse": {
      "type": "union",
      "members": {
        "EmojiPageIconResponse": {
          "target": "com.notion.data_sources#EmojiPageIconResponse"
        },
        "FilePageIconResponse": {
          "target": "com.notion.data_sources#FilePageIconResponse"
        },
        "ExternalPageIconResponse": {
          "target": "com.notion.data_sources#ExternalPageIconResponse"
        },
        "CustomEmojiPageIconResponse": {
          "target": "com.notion.data_sources#CustomEmojiPageIconResponse"
        },
        "IconPageIconResponse": {
          "target": "com.notion.data_sources#IconPageIconResponse"
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#EmojiPageIconResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of icon. In this case, an emoji.",
            "smithy.api#required": {}
          }
        },
        "emoji": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The emoji character used as the icon.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#FilePageIconResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of icon. In this case, a file.",
            "smithy.api#required": {}
          }
        },
        "file": {
          "target": "com.notion.data_sources#InternalFileResponse",
          "traits": {
            "smithy.api#documentation": "The file URL for the icon.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#InternalFileResponse": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the file.",
            "smithy.api#required": {}
          }
        },
        "expiry_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the URL will expire.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#ExternalPageIconResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of icon. In this case, an external URL.",
            "smithy.api#required": {}
          }
        },
        "external": {
          "target": "com.notion.data_sources#ExternalPageIconResponseExternal",
          "traits": {
            "smithy.api#documentation": "The external URL for the icon.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#ExternalPageIconResponseExternal": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the external file or resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The external URL for the icon."
      }
    },
    "com.notion.data_sources#CustomEmojiPageIconResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of icon. In this case, a custom emoji.",
            "smithy.api#required": {}
          }
        },
        "custom_emoji": {
          "target": "com.notion.data_sources#CustomEmojiResponse",
          "traits": {
            "smithy.api#documentation": "The custom emoji details for the icon.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#IconPageIconResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of icon. In this case, a Notion native icon.",
            "smithy.api#required": {}
          }
        },
        "icon": {
          "target": "com.notion.data_sources#NoticonIconResponse",
          "traits": {
            "smithy.api#documentation": "The Notion native icon, specified by name and color.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#NoticonIconResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Notion icon (e.g. pizza, meeting, home). See the Notion icon picker for valid names.",
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.data_sources#NoticonColor",
          "traits": {
            "smithy.api#documentation": "The color variant of the icon. Valid values: gray, lightgray, brown, yellow, orange, green, blue, purple, pink, red.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#NoticonColor": {
      "type": "enum",
      "members": {
        "GRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gray"
          }
        },
        "LIGHTGRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lightgray"
          }
        },
        "BROWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brown"
          }
        },
        "YELLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yellow"
          }
        },
        "ORANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orange"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "BLUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blue"
          }
        },
        "PURPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purple"
          }
        },
        "PINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pink"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `gray`, `lightgray`, `brown`, `yellow`, `orange`, `green`, `blue`, `purple`, `pink`, `red`"
      }
    },
    "com.notion.data_sources#PageCoverResponse": {
      "type": "union",
      "members": {
        "FilePageCoverResponse": {
          "target": "com.notion.data_sources#FilePageCoverResponse"
        },
        "ExternalPageCoverResponse": {
          "target": "com.notion.data_sources#ExternalPageCoverResponse"
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#FilePageCoverResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of cover. In this case, a file.",
            "smithy.api#required": {}
          }
        },
        "file": {
          "target": "com.notion.data_sources#InternalFileResponse",
          "traits": {
            "smithy.api#documentation": "The file URL for the cover.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#ExternalPageCoverResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of cover. In this case, an external URL.",
            "smithy.api#required": {}
          }
        },
        "external": {
          "target": "com.notion.data_sources#ExternalPageCoverResponseExternal",
          "traits": {
            "smithy.api#documentation": "The external URL for the cover.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#ExternalPageCoverResponseExternal": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the external file or resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The external URL for the cover."
      }
    },
    "com.notion.data_sources#GetDataSourceResponseBody": {
      "type": "union",
      "members": {
        "PartialDataSourceObjectResponse": {
          "target": "com.notion.data_sources#PartialDataSourceObjectResponse"
        },
        "DataSourceObjectResponse": {
          "target": "com.notion.data_sources#DataSourceObjectResponse"
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#GetDataSourceResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.notion.data_sources#GetDataSourceResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.notion.data_sources#GetDataSource": {
      "type": "operation",
      "input": {
        "target": "com.notion.data_sources#GetDataSourceRequest"
      },
      "output": {
        "target": "com.notion.data_sources#GetDataSourceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/data_sources/{data_source_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a data source"
      }
    },
    "com.notion.data_sources#RichTextItemRequest": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.notion.data_sources#AnnotationRequest",
          "traits": {
            "smithy.api#documentation": "All rich text objects contain an annotations object that sets the styling for the rich text."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `text`"
          }
        },
        "text": {
          "target": "com.notion.data_sources#RichTextItemRequestText",
          "traits": {
            "smithy.api#documentation": "If a rich text object's type value is `text`, then the corresponding text field contains an object including the text content and any inline link."
          }
        },
        "mention": {
          "target": "com.notion.data_sources#RichTextItemRequestMention",
          "traits": {
            "smithy.api#documentation": "Mention objects represent an inline mention of a database, date, link preview mention, page, template mention, or user. A mention is created in the Notion UI when a user types `@` followed by the name of the reference."
          }
        },
        "equation": {
          "target": "com.notion.data_sources#RichTextItemRequestEquation",
          "traits": {
            "smithy.api#documentation": "Notion supports inline LaTeX equations as rich text objects with a type value of `equation`."
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#AnnotationRequest": {
      "type": "structure",
      "members": {
        "bold": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the text is formatted as bold."
          }
        },
        "italic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the text is formatted as italic."
          }
        },
        "strikethrough": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the text is formatted with a strikethrough."
          }
        },
        "underline": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the text is formatted with an underline."
          }
        },
        "code": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the text is formatted as code."
          }
        },
        "color": {
          "target": "com.notion.data_sources#ApiColor",
          "traits": {
            "smithy.api#documentation": "The color of the text."
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemRequestTextLink": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the link.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemRequestText": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The actual text content of the text.",
            "smithy.api#required": {}
          }
        },
        "link": {
          "target": "com.notion.data_sources#RichTextItemRequestTextLink",
          "traits": {
            "smithy.api#documentation": "An object with information about any inline link in this text, if included.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If a rich text object's type value is `text`, then the corresponding text field contains an object including the text content and any inline link."
      }
    },
    "com.notion.data_sources#PartialUserObjectRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user object type name."
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemRequestMentionCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `user`"
          }
        },
        "user": {
          "target": "com.notion.data_sources#PartialUserObjectRequest",
          "traits": {
            "smithy.api#documentation": "Details of the user mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#DateRequest": {
      "type": "structure",
      "members": {
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start date of the date object.",
            "smithy.api#required": {}
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end date of the date object, if any.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "time_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone of the date object, if any. E.g. America/Los_Angeles, Europe/London, etc.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemRequestMentionCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `date`"
          }
        },
        "date": {
          "target": "com.notion.data_sources#DateRequest",
          "traits": {
            "smithy.api#documentation": "Details of the date mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemRequestMentionCase2Page": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the page in the mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the page mention."
      }
    },
    "com.notion.data_sources#RichTextItemRequestMentionCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `page`"
          }
        },
        "page": {
          "target": "com.notion.data_sources#RichTextItemRequestMentionCase2Page",
          "traits": {
            "smithy.api#documentation": "Details of the page mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemRequestMentionCase3Database": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the database in the mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the database mention."
      }
    },
    "com.notion.data_sources#RichTextItemRequestMentionCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `database`"
          }
        },
        "database": {
          "target": "com.notion.data_sources#RichTextItemRequestMentionCase3Database",
          "traits": {
            "smithy.api#documentation": "Details of the database mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#TemplateMentionRequest": {
      "type": "union",
      "members": {
        "TemplateMentionDateTemplateMentionRequest": {
          "target": "com.notion.data_sources#TemplateMentionDateTemplateMentionRequest"
        },
        "TemplateMentionUserTemplateMentionRequest": {
          "target": "com.notion.data_sources#TemplateMentionUserTemplateMentionRequest"
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#TemplateMentionDateTemplateMentionRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `template_mention_date`"
          }
        },
        "template_mention_date": {
          "target": "com.notion.data_sources#TemplateMentionDateTemplateMentionRequestTemplateMentionDate",
          "traits": {
            "smithy.api#documentation": "The date of the template mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#TemplateMentionDateTemplateMentionRequestTemplateMentionDate": {
      "type": "enum",
      "members": {
        "TODAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "today"
          }
        },
        "NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "now"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The date of the template mention."
      }
    },
    "com.notion.data_sources#TemplateMentionUserTemplateMentionRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `template_mention_user`"
          }
        },
        "template_mention_user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user of the template mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemRequestMentionCase4": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `template_mention`"
          }
        },
        "template_mention": {
          "target": "com.notion.data_sources#TemplateMentionRequest",
          "traits": {
            "smithy.api#documentation": "Details of the template mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemRequestMentionCase5CustomEmoji": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the custom emoji.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the custom emoji."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the custom emoji."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the custom emoji mention."
      }
    },
    "com.notion.data_sources#RichTextItemRequestMentionCase5": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `custom_emoji`"
          }
        },
        "custom_emoji": {
          "target": "com.notion.data_sources#RichTextItemRequestMentionCase5CustomEmoji",
          "traits": {
            "smithy.api#documentation": "Details of the custom emoji mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#RichTextItemRequestMention": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.data_sources#RichTextItemRequestMentionCase0"
        },
        "Case1": {
          "target": "com.notion.data_sources#RichTextItemRequestMentionCase1"
        },
        "Case2": {
          "target": "com.notion.data_sources#RichTextItemRequestMentionCase2"
        },
        "Case3": {
          "target": "com.notion.data_sources#RichTextItemRequestMentionCase3"
        },
        "Case4": {
          "target": "com.notion.data_sources#RichTextItemRequestMentionCase4"
        },
        "Case5": {
          "target": "com.notion.data_sources#RichTextItemRequestMentionCase5"
        }
      },
      "traits": {
        "smithy.api#documentation": "Mention objects represent an inline mention of a database, date, link preview mention, page, template mention, or user. A mention is created in the Notion UI when a user types `@` followed by the name of the reference."
      }
    },
    "com.notion.data_sources#RichTextItemRequestEquation": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A KaTeX compatible string.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Notion supports inline LaTeX equations as rich text objects with a type value of `equation`."
      }
    },
    "com.notion.data_sources#UpdateDataSourceRequestTitleList": {
      "type": "list",
      "member": {
        "target": "com.notion.data_sources#RichTextItemRequest"
      },
      "traits": {
        "smithy.api#documentation": "Title of data source as it appears in Notion."
      }
    },
    "com.notion.data_sources#PageIconRequest": {
      "type": "union",
      "members": {
        "FileUploadPageIconRequest": {
          "target": "com.notion.data_sources#FileUploadPageIconRequest"
        },
        "EmojiPageIconRequest": {
          "target": "com.notion.data_sources#EmojiPageIconRequest"
        },
        "ExternalPageIconRequest": {
          "target": "com.notion.data_sources#ExternalPageIconRequest"
        },
        "CustomEmojiPageIconRequest": {
          "target": "com.notion.data_sources#CustomEmojiPageIconRequest"
        },
        "IconPageIconRequest": {
          "target": "com.notion.data_sources#IconPageIconRequest"
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#FileUploadPageIconRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `file_upload`"
          }
        },
        "file_upload": {
          "target": "com.notion.data_sources#FileUploadPageIconRequestFileUpload",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#FileUploadPageIconRequestFileUpload": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of a FileUpload object that has the status `uploaded`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#EmojiPageIconRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `emoji`"
          }
        },
        "emoji": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An emoji character.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#ExternalPageIconRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `external`"
          }
        },
        "external": {
          "target": "com.notion.data_sources#ExternalPageIconRequestExternal",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#ExternalPageIconRequestExternal": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the external file.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#CustomEmojiPageIconRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `custom_emoji`"
          }
        },
        "custom_emoji": {
          "target": "com.notion.data_sources#CustomEmojiPageIconRequestCustomEmoji",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#CustomEmojiPageIconRequestCustomEmoji": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the custom emoji.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the custom emoji."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the custom emoji."
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#IconPageIconRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `icon`"
          }
        },
        "icon": {
          "target": "com.notion.data_sources#IconPageIconRequestIcon",
          "traits": {
            "smithy.api#documentation": "A Notion native icon, specified by name and optional color.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#IconPageIconRequestIcon": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Notion icon (e.g. pizza, meeting, home). See the Notion icon picker for valid names.",
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.data_sources#NoticonColor",
          "traits": {
            "smithy.api#documentation": "The color variant of the icon. Defaults to gray if not specified. Valid values: gray, lightgray, brown, yellow, orange, green, blue, purple, pink, red."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Notion native icon, specified by name and optional color."
      }
    },
    "com.notion.data_sources#UpdateDataSourceRequestPropertiesValueCase0Number": {
      "type": "structure",
      "members": {
        "format": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#UpdateDataSourceRequestPropertiesValueCase0Formula": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#UpdateDataSourceRequestPropertiesValueCase0SelectOptionsItem": {
      "type": "structure",
      "members": {
        "color": {
          "target": "com.notion.data_sources#SelectColor"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#UpdateDataSourceRequestPropertiesValueCase0SelectOptionsList": {
      "type": "list",
      "member": {
        "target": "com.notion.data_sources#UpdateDataSourceRequestPropertiesValueCase0SelectOptionsItem"
      },
      "traits": {}
    },
    "com.notion.data_sources#UpdateDataSourceRequestPropertiesValueCase0Select": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.notion.data_sources#UpdateDataSourceRequestPropertiesValueCase0SelectOptionsList"
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#UpdateDataSourceRequestPropertiesValueCase0MultiSelectOptionsItem": {
      "type": "structure",
      "members": {
        "color": {
          "target": "com.notion.data_sources#SelectColor"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#UpdateDataSourceRequestPropertiesValueCase0MultiSelectOptionsList": {
      "type": "list",
      "member": {
        "target": "com.notion.data_sources#UpdateDataSourceRequestPropertiesValueCase0MultiSelectOptionsItem"
      },
      "traits": {}
    },
    "com.notion.data_sources#UpdateDataSourceRequestPropertiesValueCase0MultiSelect": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.notion.data_sources#UpdateDataSourceRequestPropertiesValueCase0MultiSelectOptionsList"
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#StatusPropertyConfigUpdateRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.notion.data_sources#StatusOptionUpdateRequestArray",
          "traits": {
            "smithy.api#documentation": "Status options to add or update. Use group to assign an option to To-do, In progress, or Complete. Existing options keep their current group when group is omitted; new options use To-do when present, or the first existing group otherwise."
          }
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#StatusOptionUpdateRequestArray": {
      "type": "list",
      "member": {
        "target": "com.notion.data_sources#StatusOptionUpdateRequest"
      },
      "traits": {}
    },
    "com.notion.data_sources#StatusOptionUpdateRequest": {
      "type": "structure",
      "members": {
        "color": {
          "target": "com.notion.data_sources#SelectColor"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "group": {
          "target": "com.notion.data_sources#StatusOptionGroup"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#StatusOptionGroup": {
      "type": "enum",
      "members": {
        "TO_DO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "To-do"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "In progress"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Complete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `To-do`, `In progress`, `Complete`"
      }
    },
    "com.notion.data_sources#UpdateDataSourceRequestPropertiesValueCase0RelationDualProperty": {
      "type": "structure",
      "members": {
        "synced_property_id": {
          "target": "smithy.api#String"
        },
        "synced_property_name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.data_sources#UpdateDataSourceRequestPropertiesValueCase0Relation": {
      "type": "structure",
      "members": {
        "data_source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `single_property`"
          }
        },
        "single_property": {
          "target": "smithy.api#Document"
        },
        "dual_property": {
[...]
