{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.notion.pages#CreatePageRequestFilterPropertiesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestParentCase0": {
      "type": "structure",
      "members": {
        "page_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestParentCase1": {
      "type": "structure",
      "members": {
        "database_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestParentCase2": {
      "type": "structure",
      "members": {
        "data_source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestParentCase3": {
      "type": "structure",
      "members": {
        "workspace": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestParent": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.pages#CreatePageRequestParentCase0"
        },
        "Case1": {
          "target": "com.notion.pages#CreatePageRequestParentCase1"
        },
        "Case2": {
          "target": "com.notion.pages#CreatePageRequestParentCase2"
        },
        "Case3": {
          "target": "com.notion.pages#CreatePageRequestParentCase3"
        }
      },
      "traits": {}
    },
    "com.notion.pages#RichTextItemRequest": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.notion.pages#AnnotationRequest",
          "traits": {
            "smithy.api#documentation": "All rich text objects contain an annotations object that sets the styling for the rich text."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `text`"
          }
        },
        "text": {
          "target": "com.notion.pages#RichTextItemRequestText",
          "traits": {
            "smithy.api#documentation": "If a rich text object's type value is `text`, then the corresponding text field contains an object including the text content and any inline link."
          }
        },
        "mention": {
          "target": "com.notion.pages#RichTextItemRequestMention",
          "traits": {
            "smithy.api#documentation": "Mention objects represent an inline mention of a database, date, link preview mention, page, template mention, or user. A mention is created in the Notion UI when a user types `@` followed by the name of the reference."
          }
        },
        "equation": {
          "target": "com.notion.pages#RichTextItemRequestEquation",
          "traits": {
            "smithy.api#documentation": "Notion supports inline LaTeX equations as rich text objects with a type value of `equation`."
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#AnnotationRequest": {
      "type": "structure",
      "members": {
        "bold": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the text is formatted as bold."
          }
        },
        "italic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the text is formatted as italic."
          }
        },
        "strikethrough": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the text is formatted with a strikethrough."
          }
        },
        "underline": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the text is formatted with an underline."
          }
        },
        "code": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the text is formatted as code."
          }
        },
        "color": {
          "target": "com.notion.pages#ApiColor",
          "traits": {
            "smithy.api#documentation": "The color of the text."
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#ApiColor": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "GRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gray"
          }
        },
        "BROWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brown"
          }
        },
        "ORANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orange"
          }
        },
        "YELLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yellow"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "BLUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blue"
          }
        },
        "PURPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purple"
          }
        },
        "PINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pink"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        },
        "DEFAULT_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default_background"
          }
        },
        "GRAY_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gray_background"
          }
        },
        "BROWN_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brown_background"
          }
        },
        "ORANGE_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orange_background"
          }
        },
        "YELLOW_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yellow_background"
          }
        },
        "GREEN_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green_background"
          }
        },
        "BLUE_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blue_background"
          }
        },
        "PURPLE_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purple_background"
          }
        },
        "PINK_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pink_background"
          }
        },
        "RED_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red_background"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `default`, `gray`, `brown`, `orange`, `yellow`, `green`, `blue`, `purple`, `pink`, `red`, `default_background`, `gray_background`, `brown_background`, `orange_background`, `yellow_background`, `green_background`, `blue_background`, `purple_background`, `pink_background`, `red_background`"
      }
    },
    "com.notion.pages#RichTextItemRequestTextLink": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the link.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#RichTextItemRequestText": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The actual text content of the text.",
            "smithy.api#required": {}
          }
        },
        "link": {
          "target": "com.notion.pages#RichTextItemRequestTextLink",
          "traits": {
            "smithy.api#documentation": "An object with information about any inline link in this text, if included.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If a rich text object's type value is `text`, then the corresponding text field contains an object including the text content and any inline link."
      }
    },
    "com.notion.pages#PartialUserObjectRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user object type name."
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#RichTextItemRequestMentionCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `user`"
          }
        },
        "user": {
          "target": "com.notion.pages#PartialUserObjectRequest",
          "traits": {
            "smithy.api#documentation": "Details of the user mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#DateRequest": {
      "type": "structure",
      "members": {
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start date of the date object.",
            "smithy.api#required": {}
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end date of the date object, if any.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "time_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone of the date object, if any. E.g. America/Los_Angeles, Europe/London, etc.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#RichTextItemRequestMentionCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `date`"
          }
        },
        "date": {
          "target": "com.notion.pages#DateRequest",
          "traits": {
            "smithy.api#documentation": "Details of the date mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#RichTextItemRequestMentionCase2Page": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the page in the mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the page mention."
      }
    },
    "com.notion.pages#RichTextItemRequestMentionCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `page`"
          }
        },
        "page": {
          "target": "com.notion.pages#RichTextItemRequestMentionCase2Page",
          "traits": {
            "smithy.api#documentation": "Details of the page mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#RichTextItemRequestMentionCase3Database": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the database in the mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the database mention."
      }
    },
    "com.notion.pages#RichTextItemRequestMentionCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `database`"
          }
        },
        "database": {
          "target": "com.notion.pages#RichTextItemRequestMentionCase3Database",
          "traits": {
            "smithy.api#documentation": "Details of the database mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#TemplateMentionRequest": {
      "type": "union",
      "members": {
        "TemplateMentionDateTemplateMentionRequest": {
          "target": "com.notion.pages#TemplateMentionDateTemplateMentionRequest"
        },
        "TemplateMentionUserTemplateMentionRequest": {
          "target": "com.notion.pages#TemplateMentionUserTemplateMentionRequest"
        }
      },
      "traits": {}
    },
    "com.notion.pages#TemplateMentionDateTemplateMentionRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `template_mention_date`"
          }
        },
        "template_mention_date": {
          "target": "com.notion.pages#TemplateMentionDateTemplateMentionRequestTemplateMentionDate",
          "traits": {
            "smithy.api#documentation": "The date of the template mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#TemplateMentionDateTemplateMentionRequestTemplateMentionDate": {
      "type": "enum",
      "members": {
        "TODAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "today"
          }
        },
        "NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "now"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The date of the template mention."
      }
    },
    "com.notion.pages#TemplateMentionUserTemplateMentionRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `template_mention_user`"
          }
        },
        "template_mention_user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user of the template mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#RichTextItemRequestMentionCase4": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `template_mention`"
          }
        },
        "template_mention": {
          "target": "com.notion.pages#TemplateMentionRequest",
          "traits": {
            "smithy.api#documentation": "Details of the template mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#RichTextItemRequestMentionCase5CustomEmoji": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the custom emoji.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the custom emoji."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the custom emoji."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the custom emoji mention."
      }
    },
    "com.notion.pages#RichTextItemRequestMentionCase5": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `custom_emoji`"
          }
        },
        "custom_emoji": {
          "target": "com.notion.pages#RichTextItemRequestMentionCase5CustomEmoji",
          "traits": {
            "smithy.api#documentation": "Details of the custom emoji mention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#RichTextItemRequestMention": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.pages#RichTextItemRequestMentionCase0"
        },
        "Case1": {
          "target": "com.notion.pages#RichTextItemRequestMentionCase1"
        },
        "Case2": {
          "target": "com.notion.pages#RichTextItemRequestMentionCase2"
        },
        "Case3": {
          "target": "com.notion.pages#RichTextItemRequestMentionCase3"
        },
        "Case4": {
          "target": "com.notion.pages#RichTextItemRequestMentionCase4"
        },
        "Case5": {
          "target": "com.notion.pages#RichTextItemRequestMentionCase5"
        }
      },
      "traits": {
        "smithy.api#documentation": "Mention objects represent an inline mention of a database, date, link preview mention, page, template mention, or user. A mention is created in the Notion UI when a user types `@` followed by the name of the reference."
      }
    },
    "com.notion.pages#RichTextItemRequestEquation": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A KaTeX compatible string.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Notion supports inline LaTeX equations as rich text objects with a type value of `equation`."
      }
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase0TitleList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#RichTextItemRequest"
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase0": {
      "type": "structure",
      "members": {
        "title": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase0TitleList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase1RichTextList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#RichTextItemRequest"
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase1": {
      "type": "structure",
      "members": {
        "rich_text": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase1RichTextList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase2": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase3": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#SelectColor": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "GRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gray"
          }
        },
        "BROWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brown"
          }
        },
        "ORANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orange"
          }
        },
        "YELLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yellow"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "BLUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blue"
          }
        },
        "PURPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purple"
          }
        },
        "PINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pink"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `default`, `gray`, `brown`, `orange`, `yellow`, `green`, `blue`, `purple`, `pink`, `red`"
      }
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase4SelectCase0": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "color": {
          "target": "com.notion.pages#SelectColor"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase4SelectCase1": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "color": {
          "target": "com.notion.pages#SelectColor"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase4Select": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase4SelectCase0"
        },
        "Case1": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase4SelectCase1"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase4": {
      "type": "structure",
      "members": {
        "select": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase4Select",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase5MultiSelectItemCase0": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "color": {
          "target": "com.notion.pages#SelectColor"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase5MultiSelectItemCase1": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "color": {
          "target": "com.notion.pages#SelectColor"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase5MultiSelectItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase5MultiSelectItemCase0"
        },
        "Case1": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase5MultiSelectItemCase1"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase5MultiSelectList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#CreatePageRequestPropertiesValueCase5MultiSelectItem"
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase5": {
      "type": "structure",
      "members": {
        "multi_select": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase5MultiSelectList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#GroupObjectRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase6PeopleItem": {
      "type": "union",
      "members": {
        "PartialUserObjectRequest": {
          "target": "com.notion.pages#PartialUserObjectRequest"
        },
        "GroupObjectRequest": {
          "target": "com.notion.pages#GroupObjectRequest"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase6PeopleList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#CreatePageRequestPropertiesValueCase6PeopleItem"
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase6": {
      "type": "structure",
      "members": {
        "people": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase6PeopleList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase7": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase8": {
      "type": "structure",
      "members": {
        "phone_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase9": {
      "type": "structure",
      "members": {
        "date": {
          "target": "com.notion.pages#DateRequest",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase10": {
      "type": "structure",
      "members": {
        "checkbox": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#RelationItemPropertyValueResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase11RelationList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#RelationItemPropertyValueResponse"
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase11": {
      "type": "structure",
      "members": {
        "relation": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase11RelationList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#InternalOrExternalFileWithNameRequest": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.pages#InternalOrExternalFileWithNameRequestCase0"
        },
        "Case1": {
          "target": "com.notion.pages#InternalOrExternalFileWithNameRequestCase1"
        }
      },
      "traits": {}
    },
    "com.notion.pages#InternalFileRequest": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiry_time": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#InternalOrExternalFileWithNameRequestCase0": {
      "type": "structure",
      "members": {
        "file": {
          "target": "com.notion.pages#InternalFileRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#ExternalFileRequest": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#InternalOrExternalFileWithNameRequestCase1": {
      "type": "structure",
      "members": {
        "external": {
          "target": "com.notion.pages#ExternalFileRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#FileUploadWithOptionalNameRequest": {
      "type": "structure",
      "members": {
        "file_upload": {
          "target": "com.notion.pages#FileUploadIdRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#FileUploadIdRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase12FilesItem": {
      "type": "union",
      "members": {
        "InternalOrExternalFileWithNameRequest": {
          "target": "com.notion.pages#InternalOrExternalFileWithNameRequest"
        },
        "FileUploadWithOptionalNameRequest": {
          "target": "com.notion.pages#FileUploadWithOptionalNameRequest"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase12FilesList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#CreatePageRequestPropertiesValueCase12FilesItem"
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase12": {
      "type": "structure",
      "members": {
        "files": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase12FilesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase13StatusCase0": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "color": {
          "target": "com.notion.pages#SelectColor"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase13StatusCase1": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "color": {
          "target": "com.notion.pages#SelectColor"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase13Status": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase13StatusCase0"
        },
        "Case1": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase13StatusCase1"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase13": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase13Status",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase14Place": {
      "type": "structure",
      "members": {
        "lat": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lon": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "aws_place_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "google_place_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase14": {
      "type": "structure",
      "members": {
        "place": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase14Place",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase15VerificationCase0": {
      "type": "structure",
      "members": {
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "com.notion.pages#DateRequest"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase15VerificationCase1": {
      "type": "structure",
      "members": {
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase15Verification": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase15VerificationCase0"
        },
        "Case1": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase15VerificationCase1"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValueCase15": {
      "type": "structure",
      "members": {
        "verification": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase15Verification",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase0"
        },
        "Case1": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase1"
        },
        "Case2": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase2"
        },
        "Case3": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase3"
        },
        "Case4": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase4"
        },
        "Case5": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase5"
        },
        "Case6": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase6"
        },
        "Case7": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase7"
        },
        "Case8": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase8"
        },
        "Case9": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase9"
        },
        "Case10": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase10"
        },
        "Case11": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase11"
        },
        "Case12": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase12"
        },
        "Case13": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase13"
        },
        "Case14": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase14"
        },
        "Case15": {
          "target": "com.notion.pages#CreatePageRequestPropertiesValueCase15"
        }
      },
      "traits": {}
    },
    "com.notion.pages#CreatePageRequestPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.notion.pages#CreatePageRequestPropertiesValue"
      },
      "traits": {}
    },
    "com.notion.pages#PageIconRequest": {
      "type": "union",
      "members": {
        "FileUploadPageIconRequest": {
          "target": "com.notion.pages#FileUploadPageIconRequest"
        },
        "EmojiPageIconRequest": {
          "target": "com.notion.pages#EmojiPageIconRequest"
        },
        "ExternalPageIconRequest": {
          "target": "com.notion.pages#ExternalPageIconRequest"
        },
        "CustomEmojiPageIconRequest": {
          "target": "com.notion.pages#CustomEmojiPageIconRequest"
        },
        "IconPageIconRequest": {
          "target": "com.notion.pages#IconPageIconRequest"
        }
      },
      "traits": {}
    },
    "com.notion.pages#FileUploadPageIconRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `file_upload`"
          }
        },
        "file_upload": {
          "target": "com.notion.pages#FileUploadPageIconRequestFileUpload",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#FileUploadPageIconRequestFileUpload": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of a FileUpload object that has the status `uploaded`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#EmojiPageIconRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `emoji`"
          }
        },
        "emoji": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An emoji character.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#ExternalPageIconRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `external`"
          }
        },
        "external": {
          "target": "com.notion.pages#ExternalPageIconRequestExternal",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#ExternalPageIconRequestExternal": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the external file.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#CustomEmojiPageIconRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `custom_emoji`"
          }
        },
        "custom_emoji": {
          "target": "com.notion.pages#CustomEmojiPageIconRequestCustomEmoji",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#CustomEmojiPageIconRequestCustomEmoji": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the custom emoji.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the custom emoji."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the custom emoji."
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#IconPageIconRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `icon`"
          }
        },
        "icon": {
          "target": "com.notion.pages#IconPageIconRequestIcon",
          "traits": {
            "smithy.api#documentation": "A Notion native icon, specified by name and optional color.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#NoticonColor": {
      "type": "enum",
      "members": {
        "GRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gray"
          }
        },
        "LIGHTGRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lightgray"
          }
        },
        "BROWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brown"
          }
        },
        "YELLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yellow"
          }
        },
        "ORANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orange"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "BLUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blue"
          }
        },
        "PURPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purple"
          }
        },
        "PINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pink"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `gray`, `lightgray`, `brown`, `yellow`, `orange`, `green`, `blue`, `purple`, `pink`, `red`"
      }
    },
    "com.notion.pages#IconPageIconRequestIcon": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Notion icon (e.g. pizza, meeting, home). See the Notion icon picker for valid names.",
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.pages#NoticonColor",
          "traits": {
            "smithy.api#documentation": "The color variant of the icon. Defaults to gray if not specified. Valid values: gray, lightgray, brown, yellow, orange, green, blue, purple, pink, red."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Notion native icon, specified by name and optional color."
      }
    },
    "com.notion.pages#PageCoverRequest": {
      "type": "union",
      "members": {
        "FileUploadPageCoverRequest": {
          "target": "com.notion.pages#FileUploadPageCoverRequest"
        },
        "ExternalPageCoverRequest": {
          "target": "com.notion.pages#ExternalPageCoverRequest"
        }
      },
      "traits": {}
    },
    "com.notion.pages#FileUploadPageCoverRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `file_upload`"
          }
        },
        "file_upload": {
          "target": "com.notion.pages#FileUploadPageCoverRequestFileUpload",
          "traits": {
            "smithy.api#documentation": "The file upload for the cover.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#FileUploadPageCoverRequestFileUpload": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of a FileUpload object that has the status `uploaded`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The file upload for the cover."
      }
    },
    "com.notion.pages#ExternalPageCoverRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `external`"
          }
        },
        "external": {
          "target": "com.notion.pages#ExternalPageCoverRequestExternal",
          "traits": {
            "smithy.api#documentation": "External URL for the cover.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#ExternalPageCoverRequestExternal": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the external file.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "External URL for the cover."
      }
    },
    "com.notion.pages#BlockObjectRequest": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.pages#BlockObjectRequestCase0"
        },
        "Case1": {
          "target": "com.notion.pages#BlockObjectRequestCase1"
        },
        "Case2": {
          "target": "com.notion.pages#BlockObjectRequestCase2"
        },
        "Case3": {
          "target": "com.notion.pages#BlockObjectRequestCase3"
        },
        "Case4": {
          "target": "com.notion.pages#BlockObjectRequestCase4"
        },
        "Case5": {
          "target": "com.notion.pages#BlockObjectRequestCase5"
        },
        "Case6": {
          "target": "com.notion.pages#BlockObjectRequestCase6"
        },
        "Case7": {
          "target": "com.notion.pages#BlockObjectRequestCase7"
        },
        "Case8": {
          "target": "com.notion.pages#BlockObjectRequestCase8"
        },
        "Case9": {
          "target": "com.notion.pages#BlockObjectRequestCase9"
        },
        "Case10": {
          "target": "com.notion.pages#BlockObjectRequestCase10"
        },
        "Case11": {
          "target": "com.notion.pages#BlockObjectRequestCase11"
        },
        "Case12": {
          "target": "com.notion.pages#BlockObjectRequestCase12"
        },
        "Case13": {
          "target": "com.notion.pages#BlockObjectRequestCase13"
        },
        "Case14": {
          "target": "com.notion.pages#BlockObjectRequestCase14"
        },
        "Case15": {
          "target": "com.notion.pages#BlockObjectRequestCase15"
        },
        "Case16": {
          "target": "com.notion.pages#BlockObjectRequestCase16"
        },
        "Case17": {
          "target": "com.notion.pages#BlockObjectRequestCase17"
        },
        "Case18": {
          "target": "com.notion.pages#BlockObjectRequestCase18"
        },
        "Case19": {
          "target": "com.notion.pages#BlockObjectRequestCase19"
        },
        "Case20": {
          "target": "com.notion.pages#BlockObjectRequestCase20"
        },
        "Case21": {
          "target": "com.notion.pages#BlockObjectRequestCase21"
        },
        "Case22": {
          "target": "com.notion.pages#BlockObjectRequestCase22"
        },
        "Case23": {
          "target": "com.notion.pages#BlockObjectRequestCase23"
        },
        "Case24": {
          "target": "com.notion.pages#BlockObjectRequestCase24"
        },
        "Case25": {
          "target": "com.notion.pages#BlockObjectRequestCase25"
        },
        "Case26": {
          "target": "com.notion.pages#BlockObjectRequestCase26"
        },
        "Case27": {
          "target": "com.notion.pages#BlockObjectRequestCase27"
        },
        "Case28": {
          "target": "com.notion.pages#BlockObjectRequestCase28"
        },
        "Case29": {
          "target": "com.notion.pages#BlockObjectRequestCase29"
        },
        "Case30": {
          "target": "com.notion.pages#BlockObjectRequestCase30"
        }
      },
      "traits": {}
    },
    "com.notion.pages#MediaContentWithUrlAndCaptionRequest": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "caption": {
          "target": "com.notion.pages#MediaContentWithUrlAndCaptionRequestCaptionList"
        }
      },
      "traits": {}
    },
    "com.notion.pages#MediaContentWithUrlAndCaptionRequestCaptionList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#RichTextItemRequest"
      },
      "traits": {}
    },
    "com.notion.pages#EmbedFileUploadRequest": {
      "type": "structure",
      "members": {
        "file_upload": {
          "target": "com.notion.pages#FileUploadIdRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "caption": {
          "target": "com.notion.pages#EmbedFileUploadRequestCaptionList"
        }
      },
      "traits": {}
    },
    "com.notion.pages#EmbedFileUploadRequestCaptionList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#RichTextItemRequest"
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestCase0Embed": {
      "type": "union",
      "members": {
        "MediaContentWithUrlAndCaptionRequest": {
          "target": "com.notion.pages#MediaContentWithUrlAndCaptionRequest"
        },
        "EmbedFileUploadRequest": {
          "target": "com.notion.pages#EmbedFileUploadRequest"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestCase0": {
      "type": "structure",
      "members": {
        "embed": {
          "target": "com.notion.pages#BlockObjectRequestCase0Embed",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestCase1": {
      "type": "structure",
      "members": {
        "bookmark": {
          "target": "com.notion.pages#MediaContentWithUrlAndCaptionRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#MediaContentWithFileAndCaptionRequest": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.pages#MediaContentWithFileAndCaptionRequestCase0"
        },
        "Case1": {
          "target": "com.notion.pages#MediaContentWithFileAndCaptionRequestCase1"
        }
      },
      "traits": {}
    },
    "com.notion.pages#MediaContentWithFileAndCaptionRequestCase0CaptionList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#RichTextItemRequest"
      },
      "traits": {}
    },
    "com.notion.pages#MediaContentWithFileAndCaptionRequestCase0": {
      "type": "structure",
      "members": {
        "external": {
          "target": "com.notion.pages#ExternalFileRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "caption": {
          "target": "com.notion.pages#MediaContentWithFileAndCaptionRequestCase0CaptionList"
        }
      },
      "traits": {}
    },
    "com.notion.pages#MediaContentWithFileAndCaptionRequestCase1CaptionList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#RichTextItemRequest"
      },
      "traits": {}
    },
    "com.notion.pages#MediaContentWithFileAndCaptionRequestCase1": {
      "type": "structure",
      "members": {
        "file_upload": {
          "target": "com.notion.pages#FileUploadIdRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "caption": {
          "target": "com.notion.pages#MediaContentWithFileAndCaptionRequestCase1CaptionList"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestCase2": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.notion.pages#MediaContentWithFileAndCaptionRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestCase3": {
      "type": "structure",
      "members": {
        "video": {
          "target": "com.notion.pages#MediaContentWithFileAndCaptionRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestCase4": {
      "type": "structure",
      "members": {
        "pdf": {
          "target": "com.notion.pages#MediaContentWithFileAndCaptionRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#MediaContentWithFileNameAndCaptionRequest": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.pages#MediaContentWithFileNameAndCaptionRequestCase0"
        },
        "Case1": {
          "target": "com.notion.pages#MediaContentWithFileNameAndCaptionRequestCase1"
        }
      },
      "traits": {}
    },
    "com.notion.pages#MediaContentWithFileNameAndCaptionRequestCase0CaptionList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#RichTextItemRequest"
      },
      "traits": {}
    },
    "com.notion.pages#MediaContentWithFileNameAndCaptionRequestCase0": {
      "type": "structure",
      "members": {
        "external": {
          "target": "com.notion.pages#ExternalFileRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "caption": {
          "target": "com.notion.pages#MediaContentWithFileNameAndCaptionRequestCase0CaptionList"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#MediaContentWithFileNameAndCaptionRequestCase1CaptionList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#RichTextItemRequest"
      },
      "traits": {}
    },
    "com.notion.pages#MediaContentWithFileNameAndCaptionRequestCase1": {
      "type": "structure",
      "members": {
        "file_upload": {
          "target": "com.notion.pages#FileUploadIdRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "caption": {
          "target": "com.notion.pages#MediaContentWithFileNameAndCaptionRequestCase1CaptionList"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestCase5": {
      "type": "structure",
      "members": {
        "file": {
          "target": "com.notion.pages#MediaContentWithFileNameAndCaptionRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestCase6": {
      "type": "structure",
      "members": {
        "audio": {
          "target": "com.notion.pages#MediaContentWithFileAndCaptionRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestCase7CodeRichTextList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#RichTextItemRequest"
      },
      "traits": {}
    },
    "com.notion.pages#LanguageRequest": {
      "type": "enum",
      "members": {
        "ABAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abap"
          }
        },
        "ABC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abc"
          }
        },
        "AGDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agda"
          }
        },
        "ARDUINO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arduino"
          }
        },
        "ASCII_ART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ascii art"
          }
        },
        "ASSEMBLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assembly"
          }
        },
        "BASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bash"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic"
          }
        },
        "BNF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bnf"
          }
        },
        "C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "c"
          }
        },
        "C_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "c#"
          }
        },
        "C_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "c++"
          }
        },
        "CLOJURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clojure"
          }
        },
        "COFFEESCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coffeescript"
          }
        },
        "COQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coq"
          }
        },
        "CSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "css"
          }
        },
        "DART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dart"
          }
        },
        "DHALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dhall"
          }
        },
        "DIFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "diff"
          }
        },
        "DOCKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docker"
          }
        },
        "EBNF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ebnf"
          }
        },
        "ELIXIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elixir"
          }
        },
        "ELM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elm"
          }
        },
        "ERLANG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "erlang"
          }
        },
        "F": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "f#"
          }
        },
        "FLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flow"
          }
        },
        "FORTRAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fortran"
          }
        },
        "GHERKIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gherkin"
          }
        },
        "GLSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "glsl"
          }
        },
        "GO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "go"
          }
        },
        "GRAPHQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "graphql"
          }
        },
        "GROOVY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groovy"
          }
        },
        "HASKELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "haskell"
          }
        },
        "HCL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hcl"
          }
        },
        "HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "html"
          }
        },
        "IDRIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "idris"
          }
        },
        "JAVA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "java"
          }
        },
        "JAVASCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "javascript"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "JULIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "julia"
          }
        },
        "KOTLIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kotlin"
          }
        },
        "LATEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "latex"
          }
        },
        "LESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less"
          }
        },
        "LISP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lisp"
          }
        },
        "LIVESCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "livescript"
          }
        },
        "LLVM_IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "llvm ir"
          }
        },
        "LUA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lua"
          }
        },
        "MAKEFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "makefile"
          }
        },
        "MARKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "markdown"
          }
        },
        "MARKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "markup"
          }
        },
        "MATLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "matlab"
          }
        },
        "MATHEMATICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mathematica"
          }
        },
        "MERMAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mermaid"
          }
        },
        "NIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nix"
          }
        },
        "NOTION_FORMULA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notion formula"
          }
        },
        "OBJECTIVE_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "objective-c"
          }
        },
        "OCAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ocaml"
          }
        },
        "PASCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pascal"
          }
        },
        "PERL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "perl"
          }
        },
        "PHP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "php"
          }
        },
        "PLAIN_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain text"
          }
        },
        "POWERSHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "powershell"
          }
        },
        "PROLOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prolog"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protobuf"
          }
        },
        "PURESCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purescript"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "python"
          }
        },
        "R": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r"
          }
        },
        "RACKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "racket"
          }
        },
        "REASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reason"
          }
        },
        "RUBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ruby"
          }
        },
        "RUST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rust"
          }
        },
        "SASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sass"
          }
        },
        "SCALA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scala"
          }
        },
        "SCHEME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheme"
          }
        },
        "SCSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scss"
          }
        },
        "SHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shell"
          }
        },
        "SMALLTALK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smalltalk"
          }
        },
        "SOLIDITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "solidity"
          }
        },
        "SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sql"
          }
        },
        "SWIFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "swift"
          }
        },
        "TOML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "toml"
          }
        },
        "TYPESCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "typescript"
          }
        },
        "VB_NET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vb.net"
          }
        },
        "VERILOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verilog"
          }
        },
        "VHDL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vhdl"
          }
        },
        "VISUAL_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visual basic"
          }
        },
        "WEBASSEMBLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webassembly"
          }
        },
        "XML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xml"
          }
        },
        "YAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yaml"
          }
        },
        "JAVA_C_C_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "java/c/c++/c#"
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestCase7CodeCaptionList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#RichTextItemRequest"
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestCase7Code": {
      "type": "structure",
      "members": {
        "rich_text": {
          "target": "com.notion.pages#BlockObjectRequestCase7CodeRichTextList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "language": {
          "target": "com.notion.pages#LanguageRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "caption": {
          "target": "com.notion.pages#BlockObjectRequestCase7CodeCaptionList"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestCase7": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.notion.pages#BlockObjectRequestCase7Code",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#ContentWithExpressionRequest": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestCase8": {
      "type": "structure",
      "members": {
        "equation": {
          "target": "com.notion.pages#ContentWithExpressionRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestCase9": {
      "type": "structure",
      "members": {
        "divider": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestCase10": {
      "type": "structure",
      "members": {
        "breadcrumb": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#TabRequestWithNestedTabItemChildren": {
      "type": "structure",
      "members": {
        "children": {
          "target": "com.notion.pages#TabRequestWithNestedTabItemChildrenChildrenList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#TabItemRequestWithSingleLevelOfChildren": {
      "type": "structure",
      "members": {
        "paragraph": {
          "target": "com.notion.pages#ParagraphWithSingleLevelOfChildrenRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#ParagraphWithSingleLevelOfChildrenRequest": {
      "type": "structure",
      "members": {
        "rich_text": {
          "target": "com.notion.pages#ParagraphWithSingleLevelOfChildrenRequestRichTextList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.pages#ApiColor"
        },
        "icon": {
          "target": "com.notion.pages#PageIconRequest"
        },
        "children": {
          "target": "com.notion.pages#ParagraphWithSingleLevelOfChildrenRequestChildrenList"
        }
      },
      "traits": {}
    },
    "com.notion.pages#ParagraphWithSingleLevelOfChildrenRequestRichTextList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#RichTextItemRequest"
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildren": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase0"
        },
        "Case1": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase1"
        },
        "Case2": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase2"
        },
        "Case3": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase3"
        },
        "Case4": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase4"
        },
        "Case5": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase5"
        },
        "Case6": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase6"
        },
        "Case7": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase7"
        },
        "Case8": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase8"
        },
        "Case9": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase9"
        },
        "Case10": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase10"
        },
        "Case11": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase11"
        },
        "Case12": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase12"
        },
        "Case13": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase13"
        },
        "Case14": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase14"
        },
        "Case15": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase15"
        },
        "Case16": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase16"
        },
        "Case17": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase17"
        },
        "Case18": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase18"
        },
        "Case19": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase19"
        },
        "Case20": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase20"
        },
        "Case21": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase21"
        },
        "Case22": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase22"
        },
        "Case23": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase23"
        },
        "Case24": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase24"
        },
        "Case25": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase25"
        },
        "Case26": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase26"
        },
        "Case27": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase27"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase0Embed": {
      "type": "union",
      "members": {
        "MediaContentWithUrlAndCaptionRequest": {
          "target": "com.notion.pages#MediaContentWithUrlAndCaptionRequest"
        },
        "EmbedFileUploadRequest": {
          "target": "com.notion.pages#EmbedFileUploadRequest"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase0": {
      "type": "structure",
      "members": {
        "embed": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase0Embed",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase1": {
      "type": "structure",
      "members": {
        "bookmark": {
          "target": "com.notion.pages#MediaContentWithUrlAndCaptionRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase2": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.notion.pages#MediaContentWithFileAndCaptionRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase3": {
      "type": "structure",
      "members": {
        "video": {
          "target": "com.notion.pages#MediaContentWithFileAndCaptionRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase4": {
      "type": "structure",
      "members": {
        "pdf": {
          "target": "com.notion.pages#MediaContentWithFileAndCaptionRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase5": {
      "type": "structure",
      "members": {
        "file": {
          "target": "com.notion.pages#MediaContentWithFileNameAndCaptionRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase6": {
      "type": "structure",
      "members": {
        "audio": {
          "target": "com.notion.pages#MediaContentWithFileAndCaptionRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase7CodeRichTextList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#RichTextItemRequest"
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase7CodeCaptionList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#RichTextItemRequest"
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase7Code": {
      "type": "structure",
      "members": {
        "rich_text": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase7CodeRichTextList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "language": {
          "target": "com.notion.pages#LanguageRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "caption": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase7CodeCaptionList"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase7": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase7Code",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase8": {
      "type": "structure",
      "members": {
        "equation": {
          "target": "com.notion.pages#ContentWithExpressionRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase9": {
      "type": "structure",
      "members": {
        "divider": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase10": {
      "type": "structure",
      "members": {
        "breadcrumb": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase11": {
      "type": "structure",
      "members": {
        "tab": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase12TableOfContents": {
      "type": "structure",
      "members": {
        "color": {
          "target": "com.notion.pages#ApiColor"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase12": {
      "type": "structure",
      "members": {
        "table_of_contents": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase12TableOfContents",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase13LinkToPageCase0": {
      "type": "structure",
      "members": {
        "page_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase13LinkToPageCase1": {
      "type": "structure",
      "members": {
        "database_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase13LinkToPageCase2": {
      "type": "structure",
      "members": {
        "comment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase13LinkToPage": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase13LinkToPageCase0"
        },
        "Case1": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase13LinkToPageCase1"
        },
        "Case2": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase13LinkToPageCase2"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase13": {
      "type": "structure",
      "members": {
        "link_to_page": {
          "target": "com.notion.pages#BlockObjectRequestWithoutChildrenCase13LinkToPage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#ContentWithTableRowRequest": {
      "type": "structure",
      "members": {
        "cells": {
          "target": "com.notion.pages#ContentWithTableRowRequestCellsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.pages#ContentWithTableRowRequestCellsItemList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#RichTextItemRequest"
      },
      "traits": {}
    },
    "com.notion.pages#ContentWithTableRowRequestCellsList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#ContentWithTableRowRequestCellsItemList"
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase14": {
      "type": "structure",
      "members": {
        "table_row": {
          "target": "com.notion.pages#ContentWithTableRowRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#HeaderContentWithRichTextAndColorRequest": {
      "type": "structure",
      "members": {
        "rich_text": {
          "target": "com.notion.pages#HeaderContentWithRichTextAndColorRequestRichTextList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.pages#ApiColor"
        },
        "is_toggleable": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.notion.pages#HeaderContentWithRichTextAndColorRequestRichTextList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#RichTextItemRequest"
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase15": {
      "type": "structure",
      "members": {
        "heading_1": {
          "target": "com.notion.pages#HeaderContentWithRichTextAndColorRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase16": {
      "type": "structure",
      "members": {
        "heading_2": {
          "target": "com.notion.pages#HeaderContentWithRichTextAndColorRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase17": {
      "type": "structure",
      "members": {
        "heading_3": {
          "target": "com.notion.pages#HeaderContentWithRichTextAndColorRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase18": {
      "type": "structure",
      "members": {
        "heading_4": {
          "target": "com.notion.pages#HeaderContentWithRichTextAndColorRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.pages#ContentWithRichTextColorAndIconRequest": {
      "type": "structure",
      "members": {
        "rich_text": {
          "target": "com.notion.pages#ContentWithRichTextColorAndIconRequestRichTextList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.pages#ApiColor"
        },
        "icon": {
          "target": "com.notion.pages#PageIconRequest"
        }
      },
      "traits": {}
    },
    "com.notion.pages#ContentWithRichTextColorAndIconRequestRichTextList": {
      "type": "list",
      "member": {
        "target": "com.notion.pages#RichTextItemRequest"
      },
      "traits": {}
    },
    "com.notion.pages#BlockObjectRequestWithoutChildrenCase19": {
      "type": "structure",
      "members": {
[...]
