{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.notion.sessions#UpdateSessionRequestBodyCase0AgentIdCase1": {
      "type": "enum",
      "members": {
        "NOTION_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notion_ai"
          }
        },
        "_33333333_3333_3333_3333_333333333333": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "33333333-3333-3333-3333-333333333333"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `notion_ai`, `33333333-3333-3333-3333-333333333333`"
      }
    },
    "com.notion.sessions#UpdateSessionRequestBodyCase0AgentId": {
      "type": "union",
      "members": {
        "IdRequest": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.notion.sessions#UpdateSessionRequestBodyCase0AgentIdCase1"
        }
      },
      "traits": {}
    },
    "com.notion.sessions#UpdateSessionRequestBodyCase0AttachmentsItemFileUpload": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#UpdateSessionRequestBodyCase0AttachmentsItem": {
      "type": "structure",
      "members": {
        "file_upload": {
          "target": "com.notion.sessions#UpdateSessionRequestBodyCase0AttachmentsItemFileUpload",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `file_upload`"
          }
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.sessions#UpdateSessionRequestBodyCase0AttachmentsList": {
      "type": "list",
      "member": {
        "target": "com.notion.sessions#UpdateSessionRequestBodyCase0AttachmentsItem"
      },
      "traits": {}
    },
    "com.notion.sessions#UpdateSessionRequestBodyCase0MetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.notion.sessions#UpdateSessionRequestBodyCase0": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agent_id": {
          "target": "com.notion.sessions#UpdateSessionRequestBodyCase0AgentId"
        },
        "session_id": {
          "target": "smithy.api#String"
        },
        "attachments": {
          "target": "com.notion.sessions#UpdateSessionRequestBodyCase0AttachmentsList"
        },
        "metadata": {
          "target": "com.notion.sessions#UpdateSessionRequestBodyCase0MetadataMap"
        },
        "prompt_context": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.notion.sessions#UpdateSessionRequestBodyCase1ActionsItemOptionId": {
      "type": "enum",
      "members": {
        "APPROVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approve"
          }
        },
        "REJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reject"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `approve`, `reject`"
      }
    },
    "com.notion.sessions#UpdateSessionRequestBodyCase1ActionsItem": {
      "type": "structure",
      "members": {
        "action_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "option_id": {
          "target": "com.notion.sessions#UpdateSessionRequestBodyCase1ActionsItemOptionId",
          "traits": {
            "smithy.api#documentation": "One of: `approve`, `reject`",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#UpdateSessionRequestBodyCase1ActionsList": {
      "type": "list",
      "member": {
        "target": "com.notion.sessions#UpdateSessionRequestBodyCase1ActionsItem"
      },
      "traits": {}
    },
    "com.notion.sessions#UpdateSessionRequestBodyCase1MetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.notion.sessions#UpdateSessionRequestBodyCase1": {
      "type": "structure",
      "members": {
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.notion.sessions#UpdateSessionRequestBodyCase1ActionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.notion.sessions#UpdateSessionRequestBodyCase1MetadataMap"
        }
      },
      "traits": {}
    },
    "com.notion.sessions#UpdateSessionRequestBodyCase2": {
      "type": "structure",
      "members": {
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "continue_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#UpdateSessionRequestBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.sessions#UpdateSessionRequestBodyCase0"
        },
        "Case1": {
          "target": "com.notion.sessions#UpdateSessionRequestBodyCase1"
        },
        "Case2": {
          "target": "com.notion.sessions#UpdateSessionRequestBodyCase2"
        }
      },
      "traits": {
        "smithy.api#documentation": "Exactly one mode: append a message, answer pending actions, or replay from an event."
      }
    },
    "com.notion.sessions#UpdateSessionRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.notion.sessions#UpdateSessionRequestBody",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.notion.sessions#UpdateSessionResponseStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `queued`, `in_progress`, `requires_action`, `completed`, `failed`, `canceled`, `terminated`"
      }
    },
    "com.notion.sessions#UpdateSessionResponseRequiredActionsItemOptionsItemId": {
      "type": "enum",
      "members": {
        "APPROVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approve"
          }
        },
        "REJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reject"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `approve`, `reject`"
      }
    },
    "com.notion.sessions#UpdateSessionResponseRequiredActionsItemOptionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.notion.sessions#UpdateSessionResponseRequiredActionsItemOptionsItemId",
          "traits": {
            "smithy.api#documentation": "One of: `approve`, `reject`",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#UpdateSessionResponseRequiredActionsItemOptionsList": {
      "type": "list",
      "member": {
        "target": "com.notion.sessions#UpdateSessionResponseRequiredActionsItemOptionsItem"
      },
      "traits": {}
    },
    "com.notion.sessions#UpdateSessionResponseRequiredActionsItem": {
      "type": "structure",
      "members": {
        "action_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "options": {
          "target": "com.notion.sessions#UpdateSessionResponseRequiredActionsItemOptionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#UpdateSessionResponseRequiredActionsList": {
      "type": "list",
      "member": {
        "target": "com.notion.sessions#UpdateSessionResponseRequiredActionsItem"
      },
      "traits": {}
    },
    "com.notion.sessions#UpdateSessionResponseError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retryable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#UpdateSessionResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `session`",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agent_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.notion.sessions#UpdateSessionResponseStatus",
          "traits": {
            "smithy.api#documentation": "One of: `queued`, `in_progress`, `requires_action`, `completed`, `failed`, `canceled`, `terminated`",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "required_actions": {
          "target": "com.notion.sessions#UpdateSessionResponseRequiredActionsList"
        },
        "error": {
          "target": "com.notion.sessions#UpdateSessionResponseError"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.notion.sessions#UpdateSession": {
      "type": "operation",
      "input": {
        "target": "com.notion.sessions#UpdateSessionRequest"
      },
      "output": {
        "target": "com.notion.sessions#UpdateSessionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/sessions",
          "code": 200
        },
        "smithy.api#documentation": "Update a session"
      }
    },
    "com.notion.sessions#GetSessionRequest": {
      "type": "structure",
      "members": {
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.notion.sessions#GetSessionResponseStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `queued`, `in_progress`, `requires_action`, `completed`, `failed`, `canceled`, `terminated`"
      }
    },
    "com.notion.sessions#GetSessionResponseCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "BOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bot"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `user`, `bot`"
      }
    },
    "com.notion.sessions#GetSessionResponseCreatedBy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.notion.sessions#GetSessionResponseCreatedByType",
          "traits": {
            "smithy.api#documentation": "One of: `user`, `bot`",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#GetSessionResponseAgentVersion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "published_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#GetSessionResponseModelsCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `auto`",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#GetSessionResponseModelsCase1IdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String",
        "traits": {
          "com.distilled.openapi#nullable": {}
        }
      },
      "traits": {}
    },
    "com.notion.sessions#GetSessionResponseModelsCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `pinned`",
            "smithy.api#required": {}
          }
        },
        "ids": {
          "target": "com.notion.sessions#GetSessionResponseModelsCase1IdsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#GetSessionResponseModels": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.sessions#GetSessionResponseModelsCase0"
        },
        "Case1": {
          "target": "com.notion.sessions#GetSessionResponseModelsCase1"
        }
      },
      "traits": {}
    },
    "com.notion.sessions#GetSessionResponseRequiredActionsItemOptionsItemId": {
      "type": "enum",
      "members": {
        "APPROVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approve"
          }
        },
        "REJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reject"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `approve`, `reject`"
      }
    },
    "com.notion.sessions#GetSessionResponseRequiredActionsItemOptionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.notion.sessions#GetSessionResponseRequiredActionsItemOptionsItemId",
          "traits": {
            "smithy.api#documentation": "One of: `approve`, `reject`",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#GetSessionResponseRequiredActionsItemOptionsList": {
      "type": "list",
      "member": {
        "target": "com.notion.sessions#GetSessionResponseRequiredActionsItemOptionsItem"
      },
      "traits": {}
    },
    "com.notion.sessions#GetSessionResponseRequiredActionsItem": {
      "type": "structure",
      "members": {
        "action_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "options": {
          "target": "com.notion.sessions#GetSessionResponseRequiredActionsItemOptionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#GetSessionResponseRequiredActionsList": {
      "type": "list",
      "member": {
        "target": "com.notion.sessions#GetSessionResponseRequiredActionsItem"
      },
      "traits": {}
    },
    "com.notion.sessions#GetSessionResponseError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retryable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#GetSessionResponseTypeLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.notion.sessions#GetSessionResponseChatUserEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.notion.sessions#GetSessionResponseToolTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.notion.sessions#GetSessionResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `session`",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agent_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.notion.sessions#GetSessionResponseStatus",
          "traits": {
            "smithy.api#documentation": "One of: `queued`, `in_progress`, `requires_action`, `completed`, `failed`, `canceled`, `terminated`",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.notion.sessions#GetSessionResponseCreatedBy",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agent_version": {
          "target": "com.notion.sessions#GetSessionResponseAgentVersion",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "models": {
          "target": "com.notion.sessions#GetSessionResponseModels",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "required_actions": {
          "target": "com.notion.sessions#GetSessionResponseRequiredActionsList"
        },
        "error": {
          "target": "com.notion.sessions#GetSessionResponseError"
        },
        "trigger_type": {
          "target": "smithy.api#String"
        },
        "type_labels": {
          "target": "com.notion.sessions#GetSessionResponseTypeLabelsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "chat_user_emails": {
          "target": "com.notion.sessions#GetSessionResponseChatUserEmailsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tool_types": {
          "target": "com.notion.sessions#GetSessionResponseToolTypesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tool_call_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "credits_used": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "runs_completed": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "message_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.notion.sessions#GetSession": {
      "type": "operation",
      "input": {
        "target": "com.notion.sessions#GetSessionRequest"
      },
      "output": {
        "target": "com.notion.sessions#GetSessionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/sessions/{session_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a session"
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase0Property": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by id."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase0String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions with this exact value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An exact string comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase0": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase0Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by id.",
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase0String",
          "traits": {
            "smithy.api#documentation": "An exact string comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase1Property": {
      "type": "enum",
      "members": {
        "AGENT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent_id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by agent_id."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase1String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions with this exact value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An exact string comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase1": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase1Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by agent_id.",
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase1String",
          "traits": {
            "smithy.api#documentation": "An exact string comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase2Property": {
      "type": "enum",
      "members": {
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by status."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase2StatusEquals": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Return sessions with this status."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase2StatusInItem": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase2StatusInList": {
      "type": "list",
      "member": {
        "target": "com.notion.sessions#QuerySessionsRequestFilterCase2StatusInItem"
      },
      "traits": {
        "smithy.api#documentation": "Return sessions with any of these statuses."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase2Status": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase2StatusEquals",
          "traits": {
            "smithy.api#documentation": "Return sessions with this status."
          }
        },
        "in": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase2StatusInList",
          "traits": {
            "smithy.api#documentation": "Return sessions with any of these statuses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A session status comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase2": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase2Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by status.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase2Status",
          "traits": {
            "smithy.api#documentation": "A session status comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase3Property": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The session timestamp to compare."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase3Timestamp": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions before this time."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions after this time."
          }
        },
        "on_or_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions at or before this time."
          }
        },
        "on_or_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions at or after this time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A timestamp range."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase3": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase3Property",
          "traits": {
            "smithy.api#documentation": "The session timestamp to compare.",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase3Timestamp",
          "traits": {
            "smithy.api#documentation": "A timestamp range.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase0Property": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by id."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase0String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions with this exact value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An exact string comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase0": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase0Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by id.",
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase0String",
          "traits": {
            "smithy.api#documentation": "An exact string comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase1Property": {
      "type": "enum",
      "members": {
        "AGENT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent_id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by agent_id."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase1String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions with this exact value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An exact string comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase1": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase1Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by agent_id.",
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase1String",
          "traits": {
            "smithy.api#documentation": "An exact string comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase2Property": {
      "type": "enum",
      "members": {
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by status."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase2StatusEquals": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Return sessions with this status."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase2StatusInItem": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase2StatusInList": {
      "type": "list",
      "member": {
        "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase2StatusInItem"
      },
      "traits": {
        "smithy.api#documentation": "Return sessions with any of these statuses."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase2Status": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase2StatusEquals",
          "traits": {
            "smithy.api#documentation": "Return sessions with this status."
          }
        },
        "in": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase2StatusInList",
          "traits": {
            "smithy.api#documentation": "Return sessions with any of these statuses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A session status comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase2": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase2Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by status.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase2Status",
          "traits": {
            "smithy.api#documentation": "A session status comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase3Property": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The session timestamp to compare."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase3Timestamp": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions before this time."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions after this time."
          }
        },
        "on_or_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions at or before this time."
          }
        },
        "on_or_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions at or after this time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A timestamp range."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase3": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase3Property",
          "traits": {
            "smithy.api#documentation": "The session timestamp to compare.",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase3Timestamp",
          "traits": {
            "smithy.api#documentation": "A timestamp range.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase0Property": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by id."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase0String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions with this exact value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An exact string comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase0": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase0Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by id.",
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase0String",
          "traits": {
            "smithy.api#documentation": "An exact string comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase1Property": {
      "type": "enum",
      "members": {
        "AGENT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent_id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by agent_id."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase1String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions with this exact value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An exact string comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase1": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase1Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by agent_id.",
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase1String",
          "traits": {
            "smithy.api#documentation": "An exact string comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase2Property": {
      "type": "enum",
      "members": {
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by status."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase2StatusEquals": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Return sessions with this status."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase2StatusInItem": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase2StatusInList": {
      "type": "list",
      "member": {
        "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase2StatusInItem"
      },
      "traits": {
        "smithy.api#documentation": "Return sessions with any of these statuses."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase2Status": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase2StatusEquals",
          "traits": {
            "smithy.api#documentation": "Return sessions with this status."
          }
        },
        "in": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase2StatusInList",
          "traits": {
            "smithy.api#documentation": "Return sessions with any of these statuses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A session status comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase2": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase2Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by status.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase2Status",
          "traits": {
            "smithy.api#documentation": "A session status comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase3Property": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The session timestamp to compare."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase3Timestamp": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions before this time."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions after this time."
          }
        },
        "on_or_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions at or before this time."
          }
        },
        "on_or_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions at or after this time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A timestamp range."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase3": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase3Property",
          "traits": {
            "smithy.api#documentation": "The session timestamp to compare.",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase3Timestamp",
          "traits": {
            "smithy.api#documentation": "A timestamp range.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase0"
        },
        "Case1": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase1"
        },
        "Case2": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase2"
        },
        "Case3": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItemCase3"
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndList": {
      "type": "list",
      "member": {
        "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndItem"
      },
      "traits": {
        "smithy.api#documentation": "Return sessions that match every child filter."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4": {
      "type": "structure",
      "members": {
        "and": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4AndList",
          "traits": {
            "smithy.api#documentation": "Return sessions that match every child filter.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase0Property": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by id."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase0String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions with this exact value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An exact string comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase0": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase0Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by id.",
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase0String",
          "traits": {
            "smithy.api#documentation": "An exact string comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase1Property": {
      "type": "enum",
      "members": {
        "AGENT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent_id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by agent_id."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase1String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions with this exact value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An exact string comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase1": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase1Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by agent_id.",
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase1String",
          "traits": {
            "smithy.api#documentation": "An exact string comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase2Property": {
      "type": "enum",
      "members": {
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by status."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase2StatusEquals": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Return sessions with this status."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase2StatusInItem": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase2StatusInList": {
      "type": "list",
      "member": {
        "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase2StatusInItem"
      },
      "traits": {
        "smithy.api#documentation": "Return sessions with any of these statuses."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase2Status": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase2StatusEquals",
          "traits": {
            "smithy.api#documentation": "Return sessions with this status."
          }
        },
        "in": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase2StatusInList",
          "traits": {
            "smithy.api#documentation": "Return sessions with any of these statuses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A session status comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase2": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase2Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by status.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase2Status",
          "traits": {
            "smithy.api#documentation": "A session status comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase3Property": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The session timestamp to compare."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase3Timestamp": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions before this time."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions after this time."
          }
        },
        "on_or_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions at or before this time."
          }
        },
        "on_or_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions at or after this time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A timestamp range."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase3": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase3Property",
          "traits": {
            "smithy.api#documentation": "The session timestamp to compare.",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase3Timestamp",
          "traits": {
            "smithy.api#documentation": "A timestamp range.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase0"
        },
        "Case1": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase1"
        },
        "Case2": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase2"
        },
        "Case3": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItemCase3"
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrList": {
      "type": "list",
      "member": {
        "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrItem"
      },
      "traits": {
        "smithy.api#documentation": "Return sessions that match any child filter."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5": {
      "type": "structure",
      "members": {
        "or": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5OrList",
          "traits": {
            "smithy.api#documentation": "Return sessions that match any child filter.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase0"
        },
        "Case1": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase1"
        },
        "Case2": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase2"
        },
        "Case3": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase3"
        },
        "Case4": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase4"
        },
        "Case5": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItemCase5"
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4AndList": {
      "type": "list",
      "member": {
        "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndItem"
      },
      "traits": {
        "smithy.api#documentation": "Return sessions that match every child filter."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase4": {
      "type": "structure",
      "members": {
        "and": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase4AndList",
          "traits": {
            "smithy.api#documentation": "Return sessions that match every child filter.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase0Property": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by id."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase0String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions with this exact value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An exact string comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase0": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase0Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by id.",
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase0String",
          "traits": {
            "smithy.api#documentation": "An exact string comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase1Property": {
      "type": "enum",
      "members": {
        "AGENT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent_id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by agent_id."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase1String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions with this exact value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An exact string comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase1": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase1Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by agent_id.",
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase1String",
          "traits": {
            "smithy.api#documentation": "An exact string comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase2Property": {
      "type": "enum",
      "members": {
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by status."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase2StatusEquals": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Return sessions with this status."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase2StatusInItem": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase2StatusInList": {
      "type": "list",
      "member": {
        "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase2StatusInItem"
      },
      "traits": {
        "smithy.api#documentation": "Return sessions with any of these statuses."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase2Status": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase2StatusEquals",
          "traits": {
            "smithy.api#documentation": "Return sessions with this status."
          }
        },
        "in": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase2StatusInList",
          "traits": {
            "smithy.api#documentation": "Return sessions with any of these statuses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A session status comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase2": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase2Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by status.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase2Status",
          "traits": {
            "smithy.api#documentation": "A session status comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase3Property": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The session timestamp to compare."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase3Timestamp": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions before this time."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions after this time."
          }
        },
        "on_or_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions at or before this time."
          }
        },
        "on_or_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions at or after this time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A timestamp range."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase3": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase3Property",
          "traits": {
            "smithy.api#documentation": "The session timestamp to compare.",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase3Timestamp",
          "traits": {
            "smithy.api#documentation": "A timestamp range.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase0Property": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by id."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase0String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions with this exact value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An exact string comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase0": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase0Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by id.",
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase0String",
          "traits": {
            "smithy.api#documentation": "An exact string comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase1Property": {
      "type": "enum",
      "members": {
        "AGENT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent_id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by agent_id."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase1String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions with this exact value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An exact string comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase1": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase1Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by agent_id.",
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase1String",
          "traits": {
            "smithy.api#documentation": "An exact string comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase2Property": {
      "type": "enum",
      "members": {
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by status."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase2StatusEquals": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Return sessions with this status."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase2StatusInItem": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase2StatusInList": {
      "type": "list",
      "member": {
        "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase2StatusInItem"
      },
      "traits": {
        "smithy.api#documentation": "Return sessions with any of these statuses."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase2Status": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase2StatusEquals",
          "traits": {
            "smithy.api#documentation": "Return sessions with this status."
          }
        },
        "in": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase2StatusInList",
          "traits": {
            "smithy.api#documentation": "Return sessions with any of these statuses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A session status comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase2": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase2Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by status.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase2Status",
          "traits": {
            "smithy.api#documentation": "A session status comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase3Property": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The session timestamp to compare."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase3Timestamp": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions before this time."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions after this time."
          }
        },
        "on_or_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions at or before this time."
          }
        },
        "on_or_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions at or after this time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A timestamp range."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase3": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase3Property",
          "traits": {
            "smithy.api#documentation": "The session timestamp to compare.",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase3Timestamp",
          "traits": {
            "smithy.api#documentation": "A timestamp range.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase0"
        },
        "Case1": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase1"
        },
        "Case2": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase2"
        },
        "Case3": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItemCase3"
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndList": {
      "type": "list",
      "member": {
        "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndItem"
      },
      "traits": {
        "smithy.api#documentation": "Return sessions that match every child filter."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4": {
      "type": "structure",
      "members": {
        "and": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase4AndList",
          "traits": {
            "smithy.api#documentation": "Return sessions that match every child filter.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase0Property": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by id."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase0String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions with this exact value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An exact string comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase0": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase0Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by id.",
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase0String",
          "traits": {
            "smithy.api#documentation": "An exact string comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase1Property": {
      "type": "enum",
      "members": {
        "AGENT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent_id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by agent_id."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase1String": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return sessions with this exact value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An exact string comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase1": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase1Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by agent_id.",
            "smithy.api#required": {}
          }
        },
        "string": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase1String",
          "traits": {
            "smithy.api#documentation": "An exact string comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase2Property": {
      "type": "enum",
      "members": {
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter sessions by status."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase2StatusEquals": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Return sessions with this status."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase2StatusInItem": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase2StatusInList": {
      "type": "list",
      "member": {
        "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase2StatusInItem"
      },
      "traits": {
        "smithy.api#documentation": "Return sessions with any of these statuses."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase2Status": {
      "type": "structure",
      "members": {
        "equals": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase2StatusEquals",
          "traits": {
            "smithy.api#documentation": "Return sessions with this status."
          }
        },
        "in": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase2StatusInList",
          "traits": {
            "smithy.api#documentation": "Return sessions with any of these statuses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A session status comparison."
      }
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase2": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase2Property",
          "traits": {
            "smithy.api#documentation": "Filter sessions by status.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase2Status",
          "traits": {
            "smithy.api#documentation": "A session status comparison.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.sessions#QuerySessionsRequestFilterCase5OrItemCase5OrItemCase3Property": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        }
      },
      "traits": {
[...]
