{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.notion.views#ListViewsRequest": {
      "type": "structure",
      "members": {
        "database_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "database_id"
          }
        },
        "data_source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "data_source_id"
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "start_cursor"
          }
        },
        "page_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page_size"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.notion.views#DataSourceViewReferenceResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object type name.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the view.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#ListViewsResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.notion.views#DataSourceViewReferenceResponse"
      },
      "traits": {}
    },
    "com.notion.views#RequestStatusResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.notion.views#RequestStatusResponseType",
          "traits": {
            "smithy.api#documentation": "Whether the result set is complete or incomplete. `incomplete` means the response does not include all rows that match the query parameters (e.g. due to a server-side pagination depth limit).",
            "smithy.api#required": {}
          }
        },
        "incomplete_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the result set is incomplete. Only present when `type` is `incomplete`."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#RequestStatusResponseType": {
      "type": "enum",
      "members": {
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "complete"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the result set is complete or incomplete. `incomplete` means the response does not include all rows that match the query parameters (e.g. due to a server-side pagination depth limit)."
      }
    },
    "com.notion.views#ListViewsResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `list`",
            "smithy.api#required": {}
          }
        },
        "next_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "results": {
          "target": "com.notion.views#ListViewsResponseResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `view`",
            "smithy.api#required": {}
          }
        },
        "view": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "request_status": {
          "target": "com.notion.views#RequestStatusResponse"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.notion.views#ListViews": {
      "type": "operation",
      "input": {
        "target": "com.notion.views#ListViewsRequest"
      },
      "output": {
        "target": "com.notion.views#ListViewsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/views",
          "code": 200
        },
        "smithy.api#documentation": "List views",
        "smithy.api#paginated": {
          "inputToken": "start_cursor",
          "outputToken": "next_cursor",
          "items": "results",
          "pageSize": "page_size"
        }
      }
    },
    "com.notion.views#ViewTypeRequest": {
      "type": "enum",
      "members": {
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "table"
          }
        },
        "BOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "board"
          }
        },
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        },
        "CALENDAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "calendar"
          }
        },
        "TIMELINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timeline"
          }
        },
        "GALLERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gallery"
          }
        },
        "FORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "form"
          }
        },
        "CHART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chart"
          }
        },
        "MAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "map"
          }
        },
        "DASHBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dashboard"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `table`, `board`, `list`, `calendar`, `timeline`, `gallery`, `form`, `chart`, `map`, `dashboard`"
      }
    },
    "com.notion.views#ViewSortsRequest": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.notion.views#CreateViewRequestQuickFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Quick filters to pin in the view's filter bar. Keys are property names or IDs. Values are filter conditions (same shape as a property filter but without the property field). Each quick filter appears as a clickable pill above the view, independent of the advanced filter."
      }
    },
    "com.notion.views#CreateDatabaseForViewRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "com.notion.views#CreateDatabaseForViewRequestParent",
          "traits": {
            "smithy.api#documentation": "The parent page for the new linked database block.",
            "smithy.api#required": {}
          }
        },
        "position": {
          "target": "com.notion.views#CreateDatabaseForViewRequestPosition",
          "traits": {
            "smithy.api#documentation": "Where to place the new database block within the parent page. Defaults to appending at the end."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#CreateDatabaseForViewRequestParent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent type. Must be \"page_id\".",
            "smithy.api#required": {}
          }
        },
        "page_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the page to create the database on.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The parent page for the new linked database block."
      }
    },
    "com.notion.views#CreateDatabaseForViewRequestPosition": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Position type. \"after_block\" places the new database after the specified block in the page.",
            "smithy.api#required": {}
          }
        },
        "block_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of an existing block in the page. The new database will be placed after this block.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where to place the new database block within the parent page. Defaults to appending at the end."
      }
    },
    "com.notion.views#ViewConfigRequest": {
      "type": "union",
      "members": {
        "TableViewConfigRequest": {
          "target": "com.notion.views#TableViewConfigRequest"
        },
        "BoardViewConfigRequest": {
          "target": "com.notion.views#BoardViewConfigRequest"
        },
        "CalendarViewConfigRequest": {
          "target": "com.notion.views#CalendarViewConfigRequest"
        },
        "TimelineViewConfigRequest": {
          "target": "com.notion.views#TimelineViewConfigRequest"
        },
        "GalleryViewConfigRequest": {
          "target": "com.notion.views#GalleryViewConfigRequest"
        },
        "ListViewConfigRequest": {
          "target": "com.notion.views#ListViewConfigRequest"
        },
        "MapViewConfigRequest": {
          "target": "com.notion.views#MapViewConfigRequest"
        },
        "FormViewConfigRequest": {
          "target": "com.notion.views#FormViewConfigRequest"
        },
        "ChartViewConfigRequest": {
          "target": "com.notion.views#ChartViewConfigRequest"
        }
      },
      "traits": {
        "smithy.api#documentation": "View configuration, discriminated by the type field."
      }
    },
    "com.notion.views#TableViewConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The view type. Must be \"table\".",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.notion.views#TableViewConfigRequestPropertiesList",
          "traits": {
            "smithy.api#documentation": "Property visibility and display configuration. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_by": {
          "target": "com.notion.views#GroupByConfigRequest",
          "traits": {
            "smithy.api#documentation": "Group-by configuration for the table. Pass null to remove grouping.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "subtasks": {
          "target": "com.notion.views#SubtaskConfigRequest",
          "traits": {
            "smithy.api#documentation": "Subtask (sub-item) configuration. Pass null to reset subtask config to defaults (which may show subtasks). Use `{ \"display_mode\": \"disabled\" }` to explicitly disable subtasks.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "wrap_cells": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to wrap cell content in the table."
          }
        },
        "frozen_column_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of columns frozen from the left side of the table."
          }
        },
        "show_vertical_lines": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to show vertical grid lines between columns."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#ViewPropertyConfigRequest": {
      "type": "structure",
      "members": {
        "property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property ID (stable identifier).",
            "smithy.api#required": {}
          }
        },
        "visible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this property is visible in the view."
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Width of the property column in pixels (table view only)."
          }
        },
        "wrap": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to wrap content in this property cell/card."
          }
        },
        "status_show_as": {
          "target": "com.notion.views#ViewPropertyConfigRequestStatusShowAs",
          "traits": {
            "smithy.api#documentation": "How to display status properties (select dropdown or checkbox)."
          }
        },
        "card_property_width_mode": {
          "target": "com.notion.views#ViewPropertyConfigRequestCardPropertyWidthMode",
          "traits": {
            "smithy.api#documentation": "Property width mode in compact card layouts (board/gallery)."
          }
        },
        "date_format": {
          "target": "com.notion.views#ViewPropertyConfigRequestDateFormat",
          "traits": {
            "smithy.api#documentation": "Date display format (date properties only)."
          }
        },
        "time_format": {
          "target": "com.notion.views#ViewPropertyConfigRequestTimeFormat",
          "traits": {
            "smithy.api#documentation": "Time display format (date properties only)."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#ViewPropertyConfigRequestStatusShowAs": {
      "type": "enum",
      "members": {
        "SELECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "select"
          }
        },
        "CHECKBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "checkbox"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How to display status properties (select dropdown or checkbox)."
      }
    },
    "com.notion.views#ViewPropertyConfigRequestCardPropertyWidthMode": {
      "type": "enum",
      "members": {
        "FULL_LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full_line"
          }
        },
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inline"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Property width mode in compact card layouts (board/gallery)."
      }
    },
    "com.notion.views#ViewPropertyConfigRequestDateFormat": {
      "type": "enum",
      "members": {
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        },
        "SHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "short"
          }
        },
        "MONTH_DAY_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month_day_year"
          }
        },
        "DAY_MONTH_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day_month_year"
          }
        },
        "YEAR_MONTH_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year_month_day"
          }
        },
        "RELATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "relative"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Date display format (date properties only)."
      }
    },
    "com.notion.views#ViewPropertyConfigRequestTimeFormat": {
      "type": "enum",
      "members": {
        "_12_HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "12_hour"
          }
        },
        "_24_HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24_hour"
          }
        },
        "HIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hidden"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Time display format (date properties only)."
      }
    },
    "com.notion.views#TableViewConfigRequestPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.notion.views#ViewPropertyConfigRequest"
      },
      "traits": {}
    },
    "com.notion.views#GroupByConfigRequest": {
      "type": "union",
      "members": {
        "SelectGroupByConfigRequest": {
          "target": "com.notion.views#SelectGroupByConfigRequest"
        },
        "StatusGroupByConfigRequest": {
          "target": "com.notion.views#StatusGroupByConfigRequest"
        },
        "PersonGroupByConfigRequest": {
          "target": "com.notion.views#PersonGroupByConfigRequest"
        },
        "RelationGroupByConfigRequest": {
          "target": "com.notion.views#RelationGroupByConfigRequest"
        },
        "DateGroupByConfigRequest": {
          "target": "com.notion.views#DateGroupByConfigRequest"
        },
        "TextGroupByConfigRequest": {
          "target": "com.notion.views#TextGroupByConfigRequest"
        },
        "NumberGroupByConfigRequest": {
          "target": "com.notion.views#NumberGroupByConfigRequest"
        },
        "CheckboxGroupByConfigRequest": {
          "target": "com.notion.views#CheckboxGroupByConfigRequest"
        },
        "FormulaGroupByConfigRequest": {
          "target": "com.notion.views#FormulaGroupByConfigRequest"
        }
      },
      "traits": {
        "smithy.api#documentation": "Group-by configuration based on property type."
      }
    },
    "com.notion.views#SelectGroupByConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.notion.views#SelectGroupByConfigRequestType",
          "traits": {
            "smithy.api#documentation": "The property type for grouping.",
            "smithy.api#required": {}
          }
        },
        "property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property ID to group by.",
            "smithy.api#required": {}
          }
        },
        "sort": {
          "target": "com.notion.views#GroupSortRequest",
          "traits": {
            "smithy.api#documentation": "Sort order for groups.",
            "smithy.api#required": {}
          }
        },
        "hide_empty_groups": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to hide groups that have no items."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#SelectGroupByConfigRequestType": {
      "type": "enum",
      "members": {
        "SELECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "select"
          }
        },
        "MULTI_SELECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multi_select"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The property type for grouping."
      }
    },
    "com.notion.views#GroupSortRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.notion.views#GroupSortRequestType",
          "traits": {
            "smithy.api#documentation": "Sort direction for groups.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#GroupSortRequestType": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "ASCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ascending"
          }
        },
        "DESCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "descending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sort direction for groups."
      }
    },
    "com.notion.views#StatusGroupByConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The property type for grouping.",
            "smithy.api#required": {}
          }
        },
        "property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property ID to group by.",
            "smithy.api#required": {}
          }
        },
        "group_by": {
          "target": "com.notion.views#StatusGroupByConfigRequestGroupBy",
          "traits": {
            "smithy.api#documentation": "How to group status values. \"group\" groups by status group (To Do/In Progress/Done), \"option\" groups by individual option.",
            "smithy.api#required": {}
          }
        },
        "sort": {
          "target": "com.notion.views#GroupSortRequest",
          "traits": {
            "smithy.api#documentation": "Sort order for groups.",
            "smithy.api#required": {}
          }
        },
        "hide_empty_groups": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to hide groups that have no items."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#StatusGroupByConfigRequestGroupBy": {
      "type": "enum",
      "members": {
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group"
          }
        },
        "OPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "option"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How to group status values. \"group\" groups by status group (To Do/In Progress/Done), \"option\" groups by individual option."
      }
    },
    "com.notion.views#PersonGroupByConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.notion.views#PersonGroupByConfigRequestType",
          "traits": {
            "smithy.api#documentation": "The property type for grouping.",
            "smithy.api#required": {}
          }
        },
        "property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property ID to group by.",
            "smithy.api#required": {}
          }
        },
        "sort": {
          "target": "com.notion.views#GroupSortRequest",
          "traits": {
            "smithy.api#documentation": "Sort order for groups.",
            "smithy.api#required": {}
          }
        },
        "hide_empty_groups": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to hide groups that have no items."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#PersonGroupByConfigRequestType": {
      "type": "enum",
      "members": {
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person"
          }
        },
        "CREATED_BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_by"
          }
        },
        "LAST_EDITED_BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "last_edited_by"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The property type for grouping."
      }
    },
    "com.notion.views#RelationGroupByConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The property type for grouping.",
            "smithy.api#required": {}
          }
        },
        "property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property ID to group by.",
            "smithy.api#required": {}
          }
        },
        "sort": {
          "target": "com.notion.views#GroupSortRequest",
          "traits": {
            "smithy.api#documentation": "Sort order for groups.",
            "smithy.api#required": {}
          }
        },
        "hide_empty_groups": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to hide groups that have no items."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#DateGroupByConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.notion.views#DateGroupByConfigRequestType",
          "traits": {
            "smithy.api#documentation": "The property type for grouping.",
            "smithy.api#required": {}
          }
        },
        "property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property ID to group by.",
            "smithy.api#required": {}
          }
        },
        "group_by": {
          "target": "com.notion.views#DateGroupByConfigRequestGroupBy",
          "traits": {
            "smithy.api#documentation": "Granularity for date grouping.",
            "smithy.api#required": {}
          }
        },
        "sort": {
          "target": "com.notion.views#GroupSortRequest",
          "traits": {
            "smithy.api#documentation": "Sort order for groups.",
            "smithy.api#required": {}
          }
        },
        "hide_empty_groups": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to hide groups that have no items."
          }
        },
        "start_day_of_week": {
          "target": "com.notion.views#DateGroupByConfigRequestStartDayOfWeek",
          "traits": {
            "smithy.api#documentation": "Start day of week for week grouping (0 = Sunday, 1 = Monday)."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#DateGroupByConfigRequestType": {
      "type": "enum",
      "members": {
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date"
          }
        },
        "CREATED_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_time"
          }
        },
        "LAST_EDITED_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "last_edited_time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The property type for grouping."
      }
    },
    "com.notion.views#DateGroupByConfigRequestGroupBy": {
      "type": "enum",
      "members": {
        "RELATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "relative"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Granularity for date grouping."
      }
    },
    "com.notion.views#DateGroupByConfigRequestStartDayOfWeek": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Start day of week for week grouping (0 = Sunday, 1 = Monday)."
      }
    },
    "com.notion.views#TextGroupByConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.notion.views#TextGroupByConfigRequestType",
          "traits": {
            "smithy.api#documentation": "The property type for grouping.",
            "smithy.api#required": {}
          }
        },
        "property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property ID to group by.",
            "smithy.api#required": {}
          }
        },
        "group_by": {
          "target": "com.notion.views#TextGroupByConfigRequestGroupBy",
          "traits": {
            "smithy.api#documentation": "How to group text values. \"exact\" = exact match, \"alphabet_prefix\" = first letter.",
            "smithy.api#required": {}
          }
        },
        "sort": {
          "target": "com.notion.views#GroupSortRequest",
          "traits": {
            "smithy.api#documentation": "Sort order for groups.",
            "smithy.api#required": {}
          }
        },
        "hide_empty_groups": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to hide groups that have no items."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#TextGroupByConfigRequestType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "title"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "PHONE_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "phone_number"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The property type for grouping."
      }
    },
    "com.notion.views#TextGroupByConfigRequestGroupBy": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "ALPHABET_PREFIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alphabet_prefix"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How to group text values. \"exact\" = exact match, \"alphabet_prefix\" = first letter."
      }
    },
    "com.notion.views#NumberGroupByConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The property type for grouping.",
            "smithy.api#required": {}
          }
        },
        "property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property ID to group by.",
            "smithy.api#required": {}
          }
        },
        "sort": {
          "target": "com.notion.views#GroupSortRequest",
          "traits": {
            "smithy.api#documentation": "Sort order for groups.",
            "smithy.api#required": {}
          }
        },
        "hide_empty_groups": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to hide groups that have no items."
          }
        },
        "range_start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start of the range for number grouping buckets."
          }
        },
        "range_end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End of the range for number grouping buckets."
          }
        },
        "range_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of each bucket in number grouping."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#CheckboxGroupByConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The property type for grouping.",
            "smithy.api#required": {}
          }
        },
        "property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property ID to group by.",
            "smithy.api#required": {}
          }
        },
        "sort": {
          "target": "com.notion.views#GroupSortRequest",
          "traits": {
            "smithy.api#documentation": "Sort order for groups.",
            "smithy.api#required": {}
          }
        },
        "hide_empty_groups": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to hide groups that have no items."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#FormulaGroupByConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The property type for grouping.",
            "smithy.api#required": {}
          }
        },
        "property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property ID of the formula to group by.",
            "smithy.api#required": {}
          }
        },
        "group_by": {
          "target": "com.notion.views#FormulaGroupByConfigRequestGroupBy",
          "traits": {
            "smithy.api#documentation": "Sub-group-by configuration based on the formula result type.",
            "smithy.api#required": {}
          }
        },
        "hide_empty_groups": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to hide groups that have no items."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#FormulaDateSubGroupByRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The formula result type for grouping.",
            "smithy.api#required": {}
          }
        },
        "group_by": {
          "target": "com.notion.views#FormulaDateSubGroupByRequestGroupBy",
          "traits": {
            "smithy.api#documentation": "Granularity for date grouping.",
            "smithy.api#required": {}
          }
        },
        "sort": {
          "target": "com.notion.views#GroupSortRequest",
          "traits": {
            "smithy.api#documentation": "Sort order for groups.",
            "smithy.api#required": {}
          }
        },
        "start_day_of_week": {
          "target": "com.notion.views#FormulaDateSubGroupByRequestStartDayOfWeek",
          "traits": {
            "smithy.api#documentation": "Start day of week for week grouping (0 = Sunday, 1 = Monday)."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#FormulaDateSubGroupByRequestGroupBy": {
      "type": "enum",
      "members": {
        "RELATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "relative"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Granularity for date grouping."
      }
    },
    "com.notion.views#FormulaDateSubGroupByRequestStartDayOfWeek": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Start day of week for week grouping (0 = Sunday, 1 = Monday)."
      }
    },
    "com.notion.views#FormulaTextSubGroupByRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The formula result type for grouping.",
            "smithy.api#required": {}
          }
        },
        "group_by": {
          "target": "com.notion.views#FormulaTextSubGroupByRequestGroupBy",
          "traits": {
            "smithy.api#documentation": "How to group text values. \"exact\" = exact match, \"alphabet_prefix\" = first letter.",
            "smithy.api#required": {}
          }
        },
        "sort": {
          "target": "com.notion.views#GroupSortRequest",
          "traits": {
            "smithy.api#documentation": "Sort order for groups.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#FormulaTextSubGroupByRequestGroupBy": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "ALPHABET_PREFIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alphabet_prefix"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How to group text values. \"exact\" = exact match, \"alphabet_prefix\" = first letter."
      }
    },
    "com.notion.views#FormulaNumberSubGroupByRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The formula result type for grouping.",
            "smithy.api#required": {}
          }
        },
        "sort": {
          "target": "com.notion.views#GroupSortRequest",
          "traits": {
            "smithy.api#documentation": "Sort order for groups.",
            "smithy.api#required": {}
          }
        },
        "range_start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start of the range for number grouping buckets."
          }
        },
        "range_end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End of the range for number grouping buckets."
          }
        },
        "range_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of each bucket in number grouping."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#FormulaCheckboxSubGroupByRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The formula result type for grouping.",
            "smithy.api#required": {}
          }
        },
        "sort": {
          "target": "com.notion.views#GroupSortRequest",
          "traits": {
            "smithy.api#documentation": "Sort order for groups.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#FormulaGroupByConfigRequestGroupBy": {
      "type": "union",
      "members": {
        "FormulaDateSubGroupByRequest": {
          "target": "com.notion.views#FormulaDateSubGroupByRequest"
        },
        "FormulaTextSubGroupByRequest": {
          "target": "com.notion.views#FormulaTextSubGroupByRequest"
        },
        "FormulaNumberSubGroupByRequest": {
          "target": "com.notion.views#FormulaNumberSubGroupByRequest"
        },
        "FormulaCheckboxSubGroupByRequest": {
          "target": "com.notion.views#FormulaCheckboxSubGroupByRequest"
        }
      },
      "traits": {
        "smithy.api#documentation": "Sub-group-by configuration based on the formula result type."
      }
    },
    "com.notion.views#SubtaskConfigRequest": {
      "type": "structure",
      "members": {
        "property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relation property ID used for parent-child nesting."
          }
        },
        "display_mode": {
          "target": "com.notion.views#SubtaskConfigRequestDisplayMode",
          "traits": {
            "smithy.api#documentation": "How sub-items are displayed. \"show\" renders hierarchically with toggles, \"hidden\" shows parents with a count, \"flattened\" shows sub-items with a parent indicator, \"disabled\" turns off sub-item rendering."
          }
        },
        "filter_scope": {
          "target": "com.notion.views#SubtaskConfigRequestFilterScope",
          "traits": {
            "smithy.api#documentation": "Which items are included when filtering. \"parents\" includes parent items only, \"parents_and_subitems\" includes both, \"subitems\" includes sub-items only."
          }
        },
        "toggle_column_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property ID of the column showing the sub-item expand/collapse toggle."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#SubtaskConfigRequestDisplayMode": {
      "type": "enum",
      "members": {
        "SHOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "show"
          }
        },
        "HIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hidden"
          }
        },
        "FLATTENED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flattened"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How sub-items are displayed. \"show\" renders hierarchically with toggles, \"hidden\" shows parents with a count, \"flattened\" shows sub-items with a parent indicator, \"disabled\" turns off sub-item rendering."
      }
    },
    "com.notion.views#SubtaskConfigRequestFilterScope": {
      "type": "enum",
      "members": {
        "PARENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "parents"
          }
        },
        "PARENTS_AND_SUBITEMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "parents_and_subitems"
          }
        },
        "SUBITEMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subitems"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Which items are included when filtering. \"parents\" includes parent items only, \"parents_and_subitems\" includes both, \"subitems\" includes sub-items only."
      }
    },
    "com.notion.views#BoardViewConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The view type. Must be \"board\".",
            "smithy.api#required": {}
          }
        },
        "group_by": {
          "target": "com.notion.views#GroupByConfigRequest",
          "traits": {
            "smithy.api#documentation": "Group-by configuration for board columns.",
            "smithy.api#required": {}
          }
        },
        "sub_group_by": {
          "target": "com.notion.views#GroupByConfigRequest",
          "traits": {
            "smithy.api#documentation": "Secondary group-by configuration for sub-grouping within columns. Pass null to remove sub-grouping.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "com.notion.views#BoardViewConfigRequestPropertiesList",
          "traits": {
            "smithy.api#documentation": "Property visibility and display configuration on cards. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cover": {
          "target": "com.notion.views#CoverConfigRequest",
          "traits": {
            "smithy.api#documentation": "Cover image configuration for cards. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cover_size": {
          "target": "com.notion.views#BoardViewConfigRequestCoverSize",
          "traits": {
            "smithy.api#documentation": "Size of the cover image on cards. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cover_aspect": {
          "target": "com.notion.views#BoardViewConfigRequestCoverAspect",
          "traits": {
            "smithy.api#documentation": "Aspect ratio mode for cover images. \"contain\" fits the image, \"cover\" fills the area. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "card_layout": {
          "target": "com.notion.views#BoardViewConfigRequestCardLayout",
          "traits": {
            "smithy.api#documentation": "Card layout mode. \"list\" shows full cards, \"compact\" shows condensed cards. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#BoardViewConfigRequestPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.notion.views#ViewPropertyConfigRequest"
      },
      "traits": {}
    },
    "com.notion.views#CoverConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.notion.views#CoverConfigRequestType",
          "traits": {
            "smithy.api#documentation": "Source of the cover image.",
            "smithy.api#required": {}
          }
        },
        "property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property ID when type is \"property\"."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#CoverConfigRequestType": {
      "type": "enum",
      "members": {
        "PAGE_COVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "page_cover"
          }
        },
        "PAGE_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "page_content"
          }
        },
        "PROPERTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "property"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source of the cover image."
      }
    },
    "com.notion.views#BoardViewConfigRequestCoverSize": {
      "type": "enum",
      "members": {
        "SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "small"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "large"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `small`, `medium`, `large`"
      }
    },
    "com.notion.views#BoardViewConfigRequestCoverAspect": {
      "type": "enum",
      "members": {
        "CONTAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contain"
          }
        },
        "COVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cover"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `contain`, `cover`"
      }
    },
    "com.notion.views#BoardViewConfigRequestCardLayout": {
      "type": "enum",
      "members": {
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        },
        "COMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "compact"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `list`, `compact`"
      }
    },
    "com.notion.views#CalendarViewConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The view type. Must be \"calendar\".",
            "smithy.api#required": {}
          }
        },
        "date_property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property ID of the date property used to position items on the calendar.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.notion.views#CalendarViewConfigRequestPropertiesList",
          "traits": {
            "smithy.api#documentation": "Property visibility and display configuration on calendar cards. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "view_range": {
          "target": "com.notion.views#CalendarViewConfigRequestViewRange",
          "traits": {
            "smithy.api#documentation": "Default calendar range. \"week\" shows a week view, \"month\" shows a month view. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "show_weekends": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to show weekend days. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#CalendarViewConfigRequestPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.notion.views#ViewPropertyConfigRequest"
      },
      "traits": {}
    },
    "com.notion.views#CalendarViewConfigRequestViewRange": {
      "type": "enum",
      "members": {
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `week`, `month`"
      }
    },
    "com.notion.views#TimelineViewConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The view type. Must be \"timeline\".",
            "smithy.api#required": {}
          }
        },
        "date_property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property ID of the date property used for the start of timeline items.",
            "smithy.api#required": {}
          }
        },
        "end_date_property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property ID of the date property used for the end of timeline items. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "com.notion.views#TimelineViewConfigRequestPropertiesList",
          "traits": {
            "smithy.api#documentation": "Property visibility and display configuration on timeline items. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "show_table": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to show the table panel alongside the timeline. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "table_properties": {
          "target": "com.notion.views#TimelineViewConfigRequestTablePropertiesList",
          "traits": {
            "smithy.api#documentation": "Property configuration for the table panel (when show_table is true). Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "preference": {
          "target": "com.notion.views#TimelinePreferenceRequest",
          "traits": {
            "smithy.api#documentation": "Timeline display preferences (zoom level and center position). Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "arrows_by": {
          "target": "com.notion.views#TimelineArrowsByRequest",
          "traits": {
            "smithy.api#documentation": "Configuration for dependency arrows between timeline items. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "color_by": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to color timeline items by a property. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#TimelineViewConfigRequestPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.notion.views#ViewPropertyConfigRequest"
      },
      "traits": {}
    },
    "com.notion.views#TimelineViewConfigRequestTablePropertiesList": {
      "type": "list",
      "member": {
        "target": "com.notion.views#ViewPropertyConfigRequest"
      },
      "traits": {}
    },
    "com.notion.views#TimelinePreferenceRequest": {
      "type": "structure",
      "members": {
        "zoom_level": {
          "target": "com.notion.views#TimelinePreferenceRequestZoomLevel",
          "traits": {
            "smithy.api#documentation": "Zoom level for the timeline.",
            "smithy.api#required": {}
          }
        },
        "center_timestamp": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp (ms) to center the timeline view on."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#TimelinePreferenceRequestZoomLevel": {
      "type": "enum",
      "members": {
        "HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hours"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "BI_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bi_week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "QUARTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarter"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        },
        "_5_YEARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5_years"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Zoom level for the timeline."
      }
    },
    "com.notion.views#TimelineArrowsByRequest": {
      "type": "structure",
      "members": {
        "property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relation property ID used for dependency arrows, or null to disable arrows.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#GalleryViewConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The view type. Must be \"gallery\".",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.notion.views#GalleryViewConfigRequestPropertiesList",
          "traits": {
            "smithy.api#documentation": "Property visibility and display configuration on gallery cards. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cover": {
          "target": "com.notion.views#CoverConfigRequest",
          "traits": {
            "smithy.api#documentation": "Cover image configuration for cards. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cover_size": {
          "target": "com.notion.views#GalleryViewConfigRequestCoverSize",
          "traits": {
            "smithy.api#documentation": "Size of the cover image on cards. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cover_aspect": {
          "target": "com.notion.views#GalleryViewConfigRequestCoverAspect",
          "traits": {
            "smithy.api#documentation": "Aspect ratio mode for cover images. \"contain\" fits the image, \"cover\" fills the area. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "card_layout": {
          "target": "com.notion.views#GalleryViewConfigRequestCardLayout",
          "traits": {
            "smithy.api#documentation": "Card layout mode. \"list\" shows full cards, \"compact\" shows condensed cards. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#GalleryViewConfigRequestPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.notion.views#ViewPropertyConfigRequest"
      },
      "traits": {}
    },
    "com.notion.views#GalleryViewConfigRequestCoverSize": {
      "type": "enum",
      "members": {
        "SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "small"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "large"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `small`, `medium`, `large`"
      }
    },
    "com.notion.views#GalleryViewConfigRequestCoverAspect": {
      "type": "enum",
      "members": {
        "CONTAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contain"
          }
        },
        "COVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cover"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `contain`, `cover`"
      }
    },
    "com.notion.views#GalleryViewConfigRequestCardLayout": {
      "type": "enum",
      "members": {
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        },
        "COMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "compact"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `list`, `compact`"
      }
    },
    "com.notion.views#ListViewConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The view type. Must be \"list\".",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.notion.views#ListViewConfigRequestPropertiesList",
          "traits": {
            "smithy.api#documentation": "Property visibility and display configuration. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#ListViewConfigRequestPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.notion.views#ViewPropertyConfigRequest"
      },
      "traits": {}
    },
    "com.notion.views#MapViewConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The view type. Must be \"map\".",
            "smithy.api#required": {}
          }
        },
        "height": {
          "target": "com.notion.views#MapViewConfigRequestHeight",
          "traits": {
            "smithy.api#documentation": "Map display height. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "map_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property ID of the location property used to position items on the map. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "com.notion.views#MapViewConfigRequestPropertiesList",
          "traits": {
            "smithy.api#documentation": "Property visibility and display configuration on map pin cards. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#MapViewConfigRequestHeight": {
      "type": "enum",
      "members": {
        "SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "small"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "large"
          }
        },
        "EXTRA_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "extra_large"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `small`, `medium`, `large`, `extra_large`"
      }
    },
    "com.notion.views#MapViewConfigRequestPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.notion.views#ViewPropertyConfigRequest"
      },
      "traits": {}
    },
    "com.notion.views#FormViewConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The view type. Must be \"form\".",
            "smithy.api#required": {}
          }
        },
        "is_form_closed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the form is closed for submissions. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "anonymous_submissions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether anonymous (non-logged-in) submissions are allowed. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "submission_permissions": {
          "target": "com.notion.views#FormViewConfigRequestSubmissionPermissions",
          "traits": {
            "smithy.api#documentation": "Permission level granted to the submitter on the created page after form submission. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#FormViewConfigRequestSubmissionPermissions": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "COMMENT_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "comment_only"
          }
        },
        "READER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reader"
          }
        },
        "READ_AND_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read_and_write"
          }
        },
        "EDITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "editor"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `none`, `comment_only`, `reader`, `read_and_write`, `editor`"
      }
    },
    "com.notion.views#ChartViewConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The view type. Must be \"chart\".",
            "smithy.api#required": {}
          }
        },
        "chart_type": {
          "target": "com.notion.views#ChartViewConfigRequestChartType",
          "traits": {
            "smithy.api#documentation": "The chart type.",
            "smithy.api#required": {}
          }
        },
        "x_axis": {
          "target": "com.notion.views#GroupByConfigRequest",
          "traits": {
            "smithy.api#documentation": "X-axis grouping configuration for grouped data mode. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "y_axis": {
          "target": "com.notion.views#ChartAggregationRequest",
          "traits": {
            "smithy.api#documentation": "Y-axis aggregation for grouped data mode. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "x_axis_property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property ID for x-axis values in results mode. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "y_axis_property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property ID for y-axis values in results mode. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "value": {
          "target": "com.notion.views#ChartAggregationRequest",
          "traits": {
            "smithy.api#documentation": "Aggregation for number charts. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sort": {
          "target": "com.notion.views#ChartViewConfigRequestSort",
          "traits": {
            "smithy.api#documentation": "Sort order for chart data. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "color_theme": {
          "target": "com.notion.views#ChartViewConfigRequestColorTheme",
          "traits": {
            "smithy.api#documentation": "Color theme. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "height": {
          "target": "com.notion.views#ChartViewConfigRequestHeight",
          "traits": {
            "smithy.api#documentation": "Chart height. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hide_empty_groups": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to hide groups with no data. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "legend_position": {
          "target": "com.notion.views#ChartViewConfigRequestLegendPosition",
          "traits": {
            "smithy.api#documentation": "Legend position. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "show_data_labels": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to show data labels. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "axis_labels": {
          "target": "com.notion.views#ChartViewConfigRequestAxisLabels",
          "traits": {
            "smithy.api#documentation": "Which axis labels to show. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "grid_lines": {
          "target": "com.notion.views#ChartViewConfigRequestGridLines",
          "traits": {
            "smithy.api#documentation": "Which grid lines to show. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cumulative": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Cumulative values (line only). Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "smooth_line": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Smooth line curves (line only). Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hide_line_fill_area": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Hide area fill (line only). Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_style": {
          "target": "com.notion.views#ChartViewConfigRequestGroupStyle",
          "traits": {
            "smithy.api#documentation": "Grouped/stacked bar display style. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "y_axis_min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Custom y-axis minimum. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "y_axis_max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Custom y-axis maximum. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "donut_labels": {
          "target": "com.notion.views#ChartViewConfigRequestDonutLabels",
          "traits": {
            "smithy.api#documentation": "Donut slice labels. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hide_title": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Hide title (number only). Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "stack_by": {
          "target": "com.notion.views#GroupByConfigRequest",
          "traits": {
            "smithy.api#documentation": "Stack-by grouping for stacked/grouped bar charts. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "reference_lines": {
          "target": "com.notion.views#ChartViewConfigRequestReferenceLinesList",
          "traits": {
            "smithy.api#documentation": "Reference lines on the chart. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "caption": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Chart caption text. Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "color_by_value": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to color chart elements by their numeric value (gradient coloring). Pass null to clear.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#ChartViewConfigRequestChartType": {
      "type": "enum",
      "members": {
        "COLUMN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "column"
          }
        },
        "BAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bar"
          }
        },
        "LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "line"
          }
        },
        "DONUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "donut"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The chart type."
      }
    },
    "com.notion.views#ChartAggregationRequest": {
      "type": "structure",
      "members": {
        "aggregator": {
          "target": "com.notion.views#ChartAggregationRequestAggregator",
          "traits": {
            "smithy.api#documentation": "The aggregation operator. \"count\" counts all rows and does not require a property_id. All other operators require a property_id.",
            "smithy.api#required": {}
          }
        },
        "property_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The property to aggregate on. Required for all operators except \"count\"."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#ChartAggregationRequestAggregator": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "COUNT_VALUES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count_values"
          }
        },
        "SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sum"
          }
        },
        "AVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "average"
          }
        },
        "MEDIAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "median"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "range"
          }
        },
        "UNIQUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unique"
          }
        },
        "EMPTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "empty"
          }
        },
        "NOT_EMPTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_empty"
          }
        },
        "PERCENT_EMPTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percent_empty"
          }
        },
        "PERCENT_NOT_EMPTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percent_not_empty"
          }
        },
        "CHECKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "checked"
          }
        },
        "UNCHECKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unchecked"
          }
        },
        "PERCENT_CHECKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percent_checked"
          }
        },
        "PERCENT_UNCHECKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percent_unchecked"
          }
        },
        "EARLIEST_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "earliest_date"
          }
        },
        "LATEST_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "latest_date"
          }
        },
        "DATE_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date_range"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The aggregation operator. \"count\" counts all rows and does not require a property_id. All other operators require a property_id."
      }
    },
    "com.notion.views#ChartViewConfigRequestSort": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "X_ASCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "x_ascending"
          }
        },
        "X_DESCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "x_descending"
          }
        },
        "Y_ASCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "y_ascending"
          }
        },
        "Y_DESCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "y_descending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `manual`, `x_ascending`, `x_descending`, `y_ascending`, `y_descending`"
      }
    },
    "com.notion.views#ChartViewConfigRequestColorTheme": {
      "type": "enum",
      "members": {
        "GRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gray"
          }
        },
        "BLUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blue"
          }
        },
        "YELLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yellow"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "PURPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purple"
          }
        },
        "TEAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teal"
          }
        },
        "ORANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orange"
          }
        },
        "PINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pink"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "COLORFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "colorful"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `gray`, `blue`, `yellow`, `green`, `purple`, `teal`, `orange`, `pink`, `red`, `auto`, `colorful`"
      }
    },
    "com.notion.views#ChartViewConfigRequestHeight": {
      "type": "enum",
      "members": {
        "SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "small"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "large"
          }
        },
        "EXTRA_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "extra_large"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `small`, `medium`, `large`, `extra_large`"
      }
    },
    "com.notion.views#ChartViewConfigRequestLegendPosition": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "BOTTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bottom"
          }
        },
        "SIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "side"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `off`, `bottom`, `side`"
      }
    },
    "com.notion.views#ChartViewConfigRequestAxisLabels": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "X_AXIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "x_axis"
          }
        },
        "Y_AXIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "y_axis"
          }
        },
        "BOTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "both"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `none`, `x_axis`, `y_axis`, `both`"
      }
    },
    "com.notion.views#ChartViewConfigRequestGridLines": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "HORIZONTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "horizontal"
          }
        },
        "VERTICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vertical"
          }
        },
        "BOTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "both"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `none`, `horizontal`, `vertical`, `both`"
      }
    },
    "com.notion.views#ChartViewConfigRequestGroupStyle": {
      "type": "enum",
      "members": {
        "NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "normal"
          }
        },
        "PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percent"
          }
        },
        "SIDE_BY_SIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "side_by_side"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `normal`, `percent`, `side_by_side`"
      }
    },
    "com.notion.views#ChartViewConfigRequestDonutLabels": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "value"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "NAME_AND_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name_and_value"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of: `none`, `value`, `name`, `name_and_value`"
      }
    },
    "com.notion.views#ChartReferenceLineRequest": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The y-axis value where the reference line is drawn.",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label displayed alongside the reference line.",
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.notion.views#ChartReferenceLineRequestColor",
          "traits": {
            "smithy.api#documentation": "Color of the reference line.",
            "smithy.api#required": {}
          }
        },
        "dash_style": {
          "target": "com.notion.views#ChartReferenceLineRequestDashStyle",
          "traits": {
            "smithy.api#documentation": "Line style: \"solid\" for a continuous line, \"dash\" for a dashed line.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the reference line. Auto-generated if omitted."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#ChartReferenceLineRequestColor": {
      "type": "enum",
      "members": {
        "GRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gray"
          }
        },
        "LIGHTGRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lightgray"
          }
        },
        "BROWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brown"
          }
        },
        "YELLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yellow"
          }
        },
        "ORANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orange"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "BLUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blue"
          }
        },
        "PURPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purple"
          }
        },
        "PINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pink"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Color of the reference line."
      }
    },
    "com.notion.views#ChartReferenceLineRequestDashStyle": {
      "type": "enum",
      "members": {
        "SOLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "solid"
          }
        },
        "DASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dash"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Line style: \"solid\" for a continuous line, \"dash\" for a dashed line."
      }
    },
    "com.notion.views#ChartViewConfigRequestReferenceLinesList": {
      "type": "list",
      "member": {
        "target": "com.notion.views#ChartReferenceLineRequest"
      },
      "traits": {}
    },
    "com.notion.views#ViewPositionRequest": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.views#ViewPositionRequestCase0"
        },
        "Case1": {
          "target": "com.notion.views#ViewPositionRequestCase1"
        },
        "Case2": {
          "target": "com.notion.views#ViewPositionRequestCase2"
        }
      },
      "traits": {
        "smithy.api#documentation": "Position of the new view in the database's view tab bar."
      }
    },
    "com.notion.views#ViewPositionRequestCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Position type. \"start\" places the view as the first tab.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#ViewPositionRequestCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Position type. \"end\" places the view as the last tab.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#ViewPositionRequestCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Position type. \"after_view\" places the new view immediately after the specified view.",
            "smithy.api#required": {}
          }
        },
        "view_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of an existing view in the database. The new view will be placed after this view.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#WidgetPlacementRequest": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.notion.views#WidgetPlacementRequestCase0"
        },
        "Case1": {
          "target": "com.notion.views#WidgetPlacementRequestCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Where to place the new widget in the dashboard. \"new_row\" creates a new row, \"existing_row\" adds to an existing row side-by-side with other widgets."
      }
    },
    "com.notion.views#WidgetPlacementRequestCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Placement type. \"new_row\" creates a new row containing the widget.",
            "smithy.api#required": {}
          }
        },
        "row_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The 0-based row position to insert the new row at. If omitted, the new row is appended at the end."
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#WidgetPlacementRequestCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Placement type. \"existing_row\" adds the widget to an existing row (side-by-side with other widgets).",
            "smithy.api#required": {}
          }
        },
        "row_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The 0-based index of the existing row to add the widget to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.notion.views#CreateViewRequest": {
      "type": "structure",
      "members": {
        "data_source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the data source this view should be scoped to.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the view.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.notion.views#ViewTypeRequest",
          "traits": {
            "smithy.api#documentation": "The type of view to create.",
            "smithy.api#required": {}
          }
        },
        "database_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the database to create a view in. Mutually exclusive with view_id and create_database."
          }
        },
        "view_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of a dashboard view to add this view to as a widget. Mutually exclusive with database_id and create_database."
          }
        },
        "filter": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Filter to apply to the view. Uses the same format as the data source query filter."
          }
        },
        "sorts": {
          "target": "com.notion.views#ViewSortsRequest",
          "traits": {
            "smithy.api#documentation": "Sorts to apply to the view. Uses the same format as the data source query sorts."
          }
        },
        "quick_filters": {
          "target": "com.notion.views#CreateViewRequestQuickFiltersMap",
          "traits": {
            "smithy.api#documentation": "Quick filters to pin in the view's filter bar. Keys are property names or IDs. Values are filter conditions (same shape as a property filter but without the property field). Each quick filter appears as a clickable pill above the view, independent of the advanced filter."
          }
        },
        "create_database": {
          "target": "com.notion.views#CreateDatabaseForViewRequest",
          "traits": {
            "smithy.api#documentation": "Create a new linked database block on a page and add the view to it. Mutually exclusive with database_id and view_id."
          }
        },
        "configuration": {
          "target": "com.notion.views#ViewConfigRequest",
          "traits": {
            "smithy.api#documentation": "View presentation configuration. The type field must match the view type."
          }
        },
        "position": {
          "target": "com.notion.views#ViewPositionRequest",
          "traits": {
            "smithy.api#documentation": "Where to place the new view in the database's view tab bar. Only applicable when database_id is provided. Defaults to \"end\" (append)."
          }
        },
        "placement": {
          "target": "com.notion.views#WidgetPlacementRequest",
          "traits": {
[...]
