{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openrouter.api#GetUserActivityRequestGroupBy": {
      "type": "enum",
      "members": {
        "WORKSPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workspace"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set to 'workspace' to split each row per workspace and include `workspace_id` on every item. Omitted by default, in which case rows are aggregated across workspaces (by date, model, and endpoint) and `workspace_id` is not returned — preserving the historical response shape."
      }
    },
    "com.openrouter.api#GetUserActivityRequest": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date",
            "smithy.api#documentation": "Filter by a single UTC date in the last 30 days (YYYY-MM-DD format)."
          }
        },
        "api_key_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "api_key_hash",
            "smithy.api#documentation": "Filter by API key hash (SHA-256 hex string, as returned by the keys API)."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "user_id",
            "smithy.api#documentation": "Filter by org member user ID. Only applicable for organization accounts."
          }
        },
        "group_by": {
          "target": "com.openrouter.api#GetUserActivityRequestGroupBy",
          "traits": {
            "smithy.api#httpQuery": "group_by",
            "smithy.api#documentation": "Set to 'workspace' to split each row per workspace and include `workspace_id` on every item. Omitted by default, in which case rows are aggregated across workspaces (by date, model, and endpoint) and `workspace_id` is not returned — preserving the historical response shape."
          }
        },
        "workspace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "workspace_id",
            "smithy.api#documentation": "Filter by workspace ID (UUID). Returns only activity attributed to that workspace. The workspace must belong to the authenticated account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openrouter.api#ActivityResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.openrouter.api#ActivityResponseDataList",
          "traits": {
            "smithy.api#documentation": "List of activity items",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openrouter.api#ActivityItem": {
      "type": "structure",
      "members": {
        "byok_usage_inference": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "BYOK inference cost in USD (external credits spent)",
            "smithy.api#required": {}
          }
        },
        "cached_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total prompt tokens read from the provider prompt cache (cache hits). Generally a subset of `prompt_tokens`; for replayed response-cache hits the provider may report the two counters over disjoint token sets, so `cached_tokens` can exceed `prompt_tokens`.",
            "smithy.api#required": {}
          }
        },
        "completion_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total completion tokens generated",
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the activity (YYYY-MM-DD format)",
            "smithy.api#required": {}
          }
        },
        "endpoint_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the endpoint",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Model slug (e.g., \"openai/gpt-4.1\")",
            "smithy.api#required": {}
          }
        },
        "model_permaslug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Model permaslug (e.g., \"openai/gpt-4.1-2025-04-14\")",
            "smithy.api#required": {}
          }
        },
        "prompt_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total prompt tokens used",
            "smithy.api#required": {}
          }
        },
        "provider_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the provider serving this endpoint",
            "smithy.api#required": {}
          }
        },
        "reasoning_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total reasoning tokens used",
            "smithy.api#required": {}
          }
        },
        "requests": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of requests made",
            "smithy.api#required": {}
          }
        },
        "usage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total cost in USD (OpenRouter credits spent)",
            "smithy.api#required": {}
          }
        },
        "workspace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the workspace this activity is attributed to. Only present when `group_by=workspace` is passed; the response is then split per workspace. Activity recorded before workspace resolution existed is attributed to the account default workspace."
          }
        }
      },
      "traits": {}
    },
    "com.openrouter.api#ActivityResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.openrouter.api#ActivityItem"
      },
      "traits": {
        "smithy.api#documentation": "List of activity items"
      }
    },
    "com.openrouter.api#GetUserActivity": {
      "type": "operation",
      "input": {
        "target": "com.openrouter.api#GetUserActivityRequest"
      },
      "output": {
        "target": "com.openrouter.api#ActivityResponse"
      },
      "errors": [
        {
          "target": "com.openrouter.api#BadRequest"
        },
        {
          "target": "com.openrouter.api#InvalidApiKey"
        },
        {
          "target": "com.openrouter.api#Forbidden"
        },
        {
          "target": "com.openrouter.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/activity",
          "code": 200
        },
        "smithy.api#documentation": "Get user activity grouped by endpoint\n\nReturns user activity data grouped by endpoint for the last 30 (completed) UTC days. Pass `workspace_id` to scope the response to a single workspace. Pass `group_by=workspace` to split each row per workspace and include `workspace_id` on every item; by default rows are aggregated across workspaces and `workspace_id` is not returned. Activity recorded before workspace resolution existed is permanently attributed to the account default workspace (no backfill is possible). [Management key](/docs/guides/overview/auth/management-api-keys) required."
      }
    },
    "com.openrouter.api#GetAnalyticsMetaResponseDataDimensionsItem": {
      "type": "structure",
      "members": {
        "display_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable label",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dimension identifier used in query requests",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openrouter.api#GetAnalyticsMetaResponseDataDimensionsList": {
      "type": "list",
      "member": {
        "target": "com.openrouter.api#GetAnalyticsMetaResponseDataDimensionsItem"
      },
      "traits": {}
    },
    "com.openrouter.api#GetAnalyticsMetaResponseDataGranularitiesItemName": {
      "type": "enum",
      "members": {
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minute"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Granularity identifier"
      }
    },
    "com.openrouter.api#GetAnalyticsMetaResponseDataGranularitiesItem": {
      "type": "structure",
      "members": {
        "display_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable label",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.openrouter.api#GetAnalyticsMetaResponseDataGranularitiesItemName",
          "traits": {
            "smithy.api#documentation": "Granularity identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openrouter.api#GetAnalyticsMetaResponseDataGranularitiesList": {
      "type": "list",
      "member": {
        "target": "com.openrouter.api#GetAnalyticsMetaResponseDataGranularitiesItem"
      },
      "traits": {}
    },
    "com.openrouter.api#GetAnalyticsMetaResponseDataMetricsItemDisplayFormat": {
      "type": "enum",
      "members": {
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "CURRENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "currency"
          }
        },
        "PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percent"
          }
        },
        "LATENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "latency"
          }
        },
        "THROUGHPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "throughput"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How this metric value should be formatted for display (e.g. percent → multiply by 100 and append %, currency → prefix with $)"
      }
    },
    "com.openrouter.api#GetAnalyticsMetaResponseDataMetricsItem": {
      "type": "structure",
      "members": {
        "display_format": {
          "target": "com.openrouter.api#GetAnalyticsMetaResponseDataMetricsItemDisplayFormat",
          "traits": {
            "smithy.api#documentation": "How this metric value should be formatted for display (e.g. percent → multiply by 100 and append %, currency → prefix with $)",
            "smithy.api#required": {}
          }
        },
        "display_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable label",
            "smithy.api#required": {}
          }
        },
        "is_rate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this metric is a rate/ratio (averaged, not summed)",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metric identifier used in query requests",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openrouter.api#GetAnalyticsMetaResponseDataMetricsList": {
      "type": "list",
      "member": {
        "target": "com.openrouter.api#GetAnalyticsMetaResponseDataMetricsItem"
      },
      "traits": {}
    },
    "com.openrouter.api#GetAnalyticsMetaResponseDataOperatorsItemName": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "NEQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "neq"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operator identifier used in filter definitions"
      }
    },
    "com.openrouter.api#GetAnalyticsMetaResponseDataOperatorsItemValueType": {
      "type": "enum",
      "members": {
        "SCALAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scalar"
          }
        },
        "ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "array"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the operator expects a single value or an array"
      }
    },
    "com.openrouter.api#GetAnalyticsMetaResponseDataOperatorsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.openrouter.api#GetAnalyticsMetaResponseDataOperatorsItemName",
          "traits": {
            "smithy.api#documentation": "Operator identifier used in filter definitions",
            "smithy.api#required": {}
          }
        },
        "value_type": {
          "target": "com.openrouter.api#GetAnalyticsMetaResponseDataOperatorsItemValueType",
          "traits": {
            "smithy.api#documentation": "Whether the operator expects a single value or an array",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openrouter.api#GetAnalyticsMetaResponseDataOperatorsList": {
      "type": "list",
      "member": {
        "target": "com.openrouter.api#GetAnalyticsMetaResponseDataOperatorsItem"
      },
      "traits": {}
    },
    "com.openrouter.api#GetAnalyticsMetaResponseData": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.openrouter.api#GetAnalyticsMetaResponseDataDimensionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "granularities": {
          "target": "com.openrouter.api#GetAnalyticsMetaResponseDataGranularitiesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.openrouter.api#GetAnalyticsMetaResponseDataMetricsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operators": {
          "target": "com.openrouter.api#GetAnalyticsMetaResponseDataOperatorsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openrouter.api#GetAnalyticsMetaResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.openrouter.api#GetAnalyticsMetaResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.openrouter.api#GetAnalyticsMeta": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.openrouter.api#GetAnalyticsMetaResponse"
      },
      "errors": [
        {
          "target": "com.openrouter.api#InvalidApiKey"
        },
        {
          "target": "com.openrouter.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/analytics/meta",
          "code": 200
        },
        "smithy.api#documentation": "Get available analytics metrics and dimensions\n\nReturns the available metrics, dimensions, filter operators, and granularities for the analytics query endpoint. [Management key](/docs/guides/overview/auth/management-api-keys) required."
      }
    },
    "com.openrouter.api#QueryAnalyticsRequestClassifierDimensionsDimensionNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.openrouter.api#QueryAnalyticsRequestClassifierDimensions": {
      "type": "structure",
      "members": {
        "classifier_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the classifier whose tags to group by.",
            "smithy.api#required": {}
          }
        },
        "dimension_names": {
          "target": "com.openrouter.api#QueryAnalyticsRequestClassifierDimensionsDimensionNamesList"
        },
        "include_nulls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, also include generations that have no tag from this classifier. Defaults to false, which returns only classified generations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Group results by custom classifier tags, breaking down metrics by the specified dimension values. Requires an active classifier on the workspace."
      }
    },
    "com.openrouter.api#QueryAnalyticsRequestClassifierFiltersFiltersItemValueCase2Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.openrouter.api#QueryAnalyticsRequestClassifierFiltersFiltersItemValueCase2List": {
      "type": "list",
      "member": {
        "target": "com.openrouter.api#QueryAnalyticsRequestClassifierFiltersFiltersItemValueCase2Item"
      },
      "traits": {}
    },
    "com.openrouter.api#QueryAnalyticsRequestClassifierFiltersFiltersItemValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "com.openrouter.api#QueryAnalyticsRequestClassifierFiltersFiltersItemValueCase2List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter value. Use a scalar (string or number) for eq/neq, or an array for in/not_in."
      }
    },
    "com.openrouter.api#QueryAnalyticsRequestClassifierFiltersFiltersItem": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Classifier dimension name to filter on (snake_case identifier, e.g. \"department\", \"work_type\").",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter operator. Only equality/set operators are supported (eq, neq, in, not_in) — ordered comparisons are not available because classification values are strings.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.openrouter.api#QueryAnalyticsRequestClassifierFiltersFiltersItemValue",
          "traits": {
            "smithy.api#documentation": "Filter value. Use a scalar (string or number) for eq/neq, or an array for in/not_in.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openrouter.api#QueryAnalyticsRequestClassifierFiltersFiltersList": {
      "type": "list",
      "member": {
        "target": "com.openrouter.api#QueryAnalyticsRequestClassifierFiltersFiltersItem"
      },
      "traits": {}
    },
    "com.openrouter.api#QueryAnalyticsRequestClassifierFilters": {
      "type": "structure",
      "members": {
        "classifier_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the classifier whose tags to filter by. Must match classifier_dimensions.classifier_id when both are specified.",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "com.openrouter.api#QueryAnalyticsRequestClassifierFiltersFiltersList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter results to generations with specific classifier tag values. Can be combined with classifier_dimensions (must use the same classifier_id) or used independently with standard dimensions."
      }
    },
    "com.openrouter.api#QueryAnalyticsRequestDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.openrouter.api#QueryAnalyticsRequestFiltersItemValueCase2Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.openrouter.api#QueryAnalyticsRequestFiltersItemValueCase2List": {
      "type": "list",
      "member": {
        "target": "com.openrouter.api#QueryAnalyticsRequestFiltersItemValueCase2Item"
      },
      "traits": {}
    },
    "com.openrouter.api#QueryAnalyticsRequestFiltersItemValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "com.openrouter.api#QueryAnalyticsRequestFiltersItemValueCase2List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter value (scalar or array depending on operator). Several dimensions are enriched in responses (returned as human-readable labels), but filters must use the underlying ID: `api_key_id` — numeric ID (from generation metadata) or key hash (64-char hex from GET /api/v1/keys, resolved server-side); `user` — Clerk user ID (e.g. \"user_abc123\"), not the display name; `workspace` — workspace UUID, not the workspace name (filtering or grouping by the account default workspace also covers activity recorded before workspace resolution existed, which is attributed to that default workspace); `app` — numeric app ID, not the app title; `model` — permaslug (e.g. \"openai/gpt-4o\"), not the display name. Other dimensions (provider, origin, country, etc.) are not enriched and accept the value as returned."
      }
    },
    "com.openrouter.api#QueryAnalyticsRequestFiltersItem": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dimension to filter on. Use the /meta endpoint for available dimensions.",
            "smithy.api#required": {}
          }
        },
        "include_unset": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include rows where the dimension has no value. Applies only to the `in` and `not_in` operators and dimensions that have an unset bucket."
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter operator",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.openrouter.api#QueryAnalyticsRequestFiltersItemValue",
          "traits": {
            "smithy.api#documentation": "Filter value (scalar or array depending on operator). Several dimensions are enriched in responses (returned as human-readable labels), but filters must use the underlying ID: `api_key_id` — numeric ID (from generation metadata) or key hash (64-char hex from GET /api/v1/keys, resolved server-side); `user` — Clerk user ID (e.g. \"user_abc123\"), not the display name; `workspace` — workspace UUID, not the workspace name (filtering or grouping by the account default workspace also covers activity recorded before workspace resolution existed, which is attributed to that default workspace); `app` — numeric app ID, not the app title; `model` — permaslug (e.g. \"openai/gpt-4o\"), not the display name. Other dimensions (provider, origin, country, etc.) are not enriched and accept the value as returned.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openrouter.api#QueryAnalyticsRequestFiltersList": {
      "type": "list",
      "member": {
        "target": "com.openrouter.api#QueryAnalyticsRequestFiltersItem"
      },
      "traits": {}
    },
    "com.openrouter.api#QueryAnalyticsRequestMetricsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.openrouter.api#QueryAnalyticsRequestOrderByDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.openrouter.api#QueryAnalyticsRequestOrderBy": {
      "type": "structure",
      "members": {
        "direction": {
          "target": "com.openrouter.api#QueryAnalyticsRequestOrderByDirection",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Field to order by: a metric included in `metrics` (or \"request_count\", which may be ordered by without being requested), a requested dimension, or \"date\".",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openrouter.api#QueryAnalyticsRequestTimeRange": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 UTC timestamp. Must include seconds (YYYY-MM-DDTHH:MM:SSZ; fractional seconds allowed); minute-precision timestamps are rejected.",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 UTC timestamp. Must include seconds (YYYY-MM-DDTHH:MM:SSZ; fractional seconds allowed); minute-precision timestamps are rejected.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openrouter.api#QueryAnalyticsRequest": {
      "type": "structure",
      "members": {
        "classifier_dimensions": {
          "target": "com.openrouter.api#QueryAnalyticsRequestClassifierDimensions",
          "traits": {
            "smithy.api#documentation": "Group results by custom classifier tags, breaking down metrics by the specified dimension values. Requires an active classifier on the workspace."
          }
        },
        "classifier_filters": {
          "target": "com.openrouter.api#QueryAnalyticsRequestClassifierFilters",
          "traits": {
            "smithy.api#documentation": "Filter results to generations with specific classifier tag values. Can be combined with classifier_dimensions (must use the same classifier_id) or used independently with standard dimensions."
          }
        },
        "dimensions": {
          "target": "com.openrouter.api#QueryAnalyticsRequestDimensionsList"
        },
        "filters": {
          "target": "com.openrouter.api#QueryAnalyticsRequestFiltersList"
        },
        "granularity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time granularity"
          }
        },
        "group_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum rows per distinct combination of dimensions. When omitted on time-series queries (granularity + dimensions), auto-computed to avoid truncating time windows. Explicit values override the default and may truncate time buckets if set lower than the number of buckets in the range. Ignored when no dimensions are specified."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum total rows returned. Defaults to 1000. On time-series queries with dimensions and no explicit group_limit, the server may raise this to accommodate the expected number of unique time-bucket/dimension combinations."
          }
        },
        "metrics": {
          "target": "com.openrouter.api#QueryAnalyticsRequestMetricsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "order_by": {
          "target": "com.openrouter.api#QueryAnalyticsRequestOrderBy"
        },
        "time_range": {
          "target": "com.openrouter.api#QueryAnalyticsRequestTimeRange"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openrouter.api#QueryAnalyticsResponseDataDataList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#QueryAnalyticsResponseDataMetadata": {
      "type": "structure",
      "members": {
        "query_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "row_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openrouter.api#QueryAnalyticsResponseDataWarningsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Warnings about filter resolution issues (e.g. unresolvable api_key_id hashes). The query still runs normally; these inform the caller that some filter values could not be resolved."
      }
    },
    "com.openrouter.api#QueryAnalyticsResponseData": {
      "type": "structure",
      "members": {
        "cachedAt": {
          "target": "smithy.api#Double"
        },
        "data": {
          "target": "com.openrouter.api#QueryAnalyticsResponseDataDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.openrouter.api#QueryAnalyticsResponseDataMetadata",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "warnings": {
          "target": "com.openrouter.api#QueryAnalyticsResponseDataWarningsList",
          "traits": {
            "smithy.api#documentation": "Warnings about filter resolution issues (e.g. unresolvable api_key_id hashes). The query still runs normally; these inform the caller that some filter values could not be resolved."
          }
        }
      },
      "traits": {}
    },
    "com.openrouter.api#QueryAnalyticsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.openrouter.api#QueryAnalyticsResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.openrouter.api#QueryAnalytics": {
      "type": "operation",
      "input": {
        "target": "com.openrouter.api#QueryAnalyticsRequest"
      },
      "output": {
        "target": "com.openrouter.api#QueryAnalyticsResponse"
      },
      "errors": [
        {
          "target": "com.openrouter.api#BadRequest"
        },
        {
          "target": "com.openrouter.api#InvalidApiKey"
        },
        {
          "target": "com.openrouter.api#Forbidden"
        },
        {
          "target": "com.openrouter.api#RequestTimeout"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/analytics/query",
          "code": 200
        },
        "smithy.api#documentation": "Query analytics data\n\nExecute an analytics query with specified metrics, dimensions, filters, and time range. [Management key](/docs/guides/overview/auth/management-api-keys) required."
      }
    },
    "com.openrouter.api#CreateAlphaDecisionRequestProviderDataCollection": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data collection setting. If no available model provider meets the requirement, your request will return an error.\n- allow: (default) allow providers which store user data non-transiently and may train on it\n\n- deny: use only providers which do not collect user data."
      }
    },
    "com.openrouter.api#ProviderName": {
      "type": "enum",
      "members": {
        "MODAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Modal"
          }
        },
        "AKASHML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AkashML"
          }
        },
        "AI21": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AI21"
          }
        },
        "AIONLABS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AionLabs"
          }
        },
        "ALIBABA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Alibaba"
          }
        },
        "AMBIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ambient"
          }
        },
        "BAIDU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Baidu"
          }
        },
        "AMAZON_BEDROCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Amazon Bedrock"
          }
        },
        "AMAZON_NOVA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Amazon Nova"
          }
        },
        "ANTHROPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Anthropic"
          }
        },
        "ARCEE_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Arcee AI"
          }
        },
        "ASSEMBLYAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AssemblyAI"
          }
        },
        "ATLASCLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AtlasCloud"
          }
        },
        "AVIAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Avian"
          }
        },
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Azure"
          }
        },
        "BASETEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BaseTen"
          }
        },
        "BYTEPLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BytePlus"
          }
        },
        "BLACK_FOREST_LABS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Black Forest Labs"
          }
        },
        "CEREBRAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cerebras"
          }
        },
        "CHUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Chutes"
          }
        },
        "CIRRASCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cirrascale"
          }
        },
        "CLAUDE_PLATFORM_ON_AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Claude Platform on AWS"
          }
        },
        "CLARIFAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Clarifai"
          }
        },
        "CLOUDFLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cloudflare"
          }
        },
        "COHERE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cohere"
          }
        },
        "COREWEAVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CoreWeave"
          }
        },
        "COSINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cosine"
          }
        },
        "CRUCIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Crucible"
          }
        },
        "CRUSOE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Crusoe"
          }
        },
        "DARKBLOOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Darkbloom"
          }
        },
        "DATABRICKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Databricks"
          }
        },
        "DECART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Decart"
          }
        },
        "DEEPGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deepgram"
          }
        },
        "DEEPINFRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeepInfra"
          }
        },
        "DEEPSEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeepSeek"
          }
        },
        "DEKALLM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DekaLLM"
          }
        },
        "DIGITALOCEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DigitalOcean"
          }
        },
        "ELEVENLABS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ElevenLabs"
          }
        },
        "FEATHERLESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Featherless"
          }
        },
        "FIREWORKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Fireworks"
          }
        },
        "FISH_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Fish Audio"
          }
        },
        "FRIENDLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Friendli"
          }
        },
        "GMICLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMICloud"
          }
        },
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Google"
          }
        },
        "GOOGLE_AI_STUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Google AI Studio"
          }
        },
        "GROQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Groq"
          }
        },
        "HEYGEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HeyGen"
          }
        },
        "INCEPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inception"
          }
        },
        "INCEPTRON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inceptron"
          }
        },
        "INFERENCENET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InferenceNet"
          }
        },
        "IONSTREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ionstream"
          }
        },
        "INFERMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Infermatic"
          }
        },
        "IO_NET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Io Net"
          }
        },
        "INFERACT_VLLM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inferact vLLM"
          }
        },
        "INFLECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inflection"
          }
        },
        "LIQUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Liquid"
          }
        },
        "MAKORA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Makora"
          }
        },
        "MARA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mara"
          }
        },
        "MANCER_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mancer 2"
          }
        },
        "META": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Meta"
          }
        },
        "MINIMAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Minimax"
          }
        },
        "MODELRUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ModelRun"
          }
        },
        "MISTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mistral"
          }
        },
        "MODULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Modular"
          }
        },
        "MOONSHOT_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Moonshot AI"
          }
        },
        "MORPH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Morph"
          }
        },
        "VOYAGEAI_BY_MONGODB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VoyageAI by MongoDB"
          }
        },
        "TYPESAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TypeSafe"
          }
        },
        "NEAR_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Near AI"
          }
        },
        "NEBIUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Nebius"
          }
        },
        "NEX_AGI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Nex AGI"
          }
        },
        "NEXTBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NextBit"
          }
        },
        "NOVITA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Novita"
          }
        },
        "NVIDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Nvidia"
          }
        },
        "OLLAMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ollama"
          }
        },
        "OPENAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OpenAI"
          }
        },
        "OPENINFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OpenInference"
          }
        },
        "PARASAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Parasail"
          }
        },
        "POOLSIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Poolside"
          }
        },
        "PRIMEINTELLECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PrimeIntellect"
          }
        },
        "PERCEPTRON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Perceptron"
          }
        },
        "PERPLEXITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Perplexity"
          }
        },
        "PHALA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Phala"
          }
        },
        "RECRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Recraft"
          }
        },
        "REKA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Reka"
          }
        },
        "RELACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Relace"
          }
        },
        "RESPAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Respan"
          }
        },
        "SAIL_RESEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sail Research"
          }
        },
        "SAKANA_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sakana AI"
          }
        },
        "SAMBANOVA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SambaNova"
          }
        },
        "SCALEDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ScaleDown"
          }
        },
        "SEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Seed"
          }
        },
        "SILICONFLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SiliconFlow"
          }
        },
        "SOURCEFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sourceful"
          }
        },
        "STEPFUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StepFun"
          }
        },
        "STEALTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stealth"
          }
        },
        "STREAMLAKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StreamLake"
          }
        },
        "SWITCHPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Switchpoint"
          }
        },
        "TENCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tencent"
          }
        },
        "TENSTORRENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tenstorrent"
          }
        },
        "THINKING_MACHINES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Thinking Machines"
          }
        },
        "TOGETHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Together"
          }
        },
        "UNBIASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unbiased"
          }
        },
        "UPSTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Upstage"
          }
        },
        "VENICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Venice"
          }
        },
        "WAFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Wafer"
          }
        },
        "WANDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WandB"
          }
        },
        "QUIVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Quiver"
          }
        },
        "KREA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Krea"
          }
        },
        "RUNWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Runway"
          }
        },
        "XIAOMI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Xiaomi"
          }
        },
        "XAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xAI"
          }
        },
        "Z_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Z.AI"
          }
        },
        "FAKEPROVIDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FakeProvider"
          }
        }
      },
      "traits": {}
    },
    "com.openrouter.api#CreateAlphaDecisionRequestProviderIgnoreItem": {
      "type": "union",
      "members": {
        "ProviderName": {
          "target": "com.openrouter.api#ProviderName"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.openrouter.api#CreateAlphaDecisionRequestProviderIgnoreList": {
      "type": "list",
      "member": {
        "target": "com.openrouter.api#CreateAlphaDecisionRequestProviderIgnoreItem"
      },
      "traits": {
        "smithy.api#documentation": "List of provider slugs to ignore. If provided, this list is merged with your account-wide ignored provider settings for this request."
      }
    },
    "com.openrouter.api#CreateAlphaDecisionRequestProviderMaxPrice": {
      "type": "structure",
      "members": {
        "audio": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum price in USD per audio unit"
          }
        },
        "completion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum price in USD per million completion tokens"
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum price in USD per image"
          }
        },
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum price in USD per million prompt tokens"
          }
        },
        "request": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum price in USD per request"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object specifying the maximum price you want to pay for this request. USD price per million tokens, for prompt and completion."
      }
    },
    "com.openrouter.api#CreateAlphaDecisionRequestProviderOnlyItem": {
      "type": "union",
      "members": {
        "ProviderName": {
          "target": "com.openrouter.api#ProviderName"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.openrouter.api#CreateAlphaDecisionRequestProviderOnlyList": {
      "type": "list",
      "member": {
        "target": "com.openrouter.api#CreateAlphaDecisionRequestProviderOnlyItem"
      },
      "traits": {
        "smithy.api#documentation": "List of provider slugs to allow. If provided, this list is merged with your account-wide allowed provider settings for this request."
      }
    },
    "com.openrouter.api#ProviderOptions": {
      "type": "structure",
      "members": {
        "_01ai": {
          "target": "com.openrouter.api#ProviderOptions01aiMap",
          "traits": {
            "smithy.api#jsonName": "01ai"
          }
        },
        "ai21": {
          "target": "com.openrouter.api#ProviderOptionsAi21Map"
        },
        "aion_labs": {
          "target": "com.openrouter.api#ProviderOptionsAionLabsMap",
          "traits": {
            "smithy.api#jsonName": "aion-labs"
          }
        },
        "akashml": {
          "target": "com.openrouter.api#ProviderOptionsAkashmlMap"
        },
        "alibaba": {
          "target": "com.openrouter.api#ProviderOptionsAlibabaMap"
        },
        "amazon_bedrock": {
          "target": "com.openrouter.api#ProviderOptionsAmazonBedrockMap",
          "traits": {
            "smithy.api#jsonName": "amazon-bedrock"
          }
        },
        "amazon_bedrock_claude_on_aws": {
          "target": "com.openrouter.api#ProviderOptionsAmazonBedrockClaudeOnAwsMap",
          "traits": {
            "smithy.api#jsonName": "amazon-bedrock/claude-on-aws"
          }
        },
        "amazon_nova": {
          "target": "com.openrouter.api#ProviderOptionsAmazonNovaMap",
          "traits": {
            "smithy.api#jsonName": "amazon-nova"
          }
        },
        "ambient": {
          "target": "com.openrouter.api#ProviderOptionsAmbientMap"
        },
        "anthropic": {
          "target": "com.openrouter.api#ProviderOptionsAnthropicMap"
        },
        "anthropic_2": {
          "target": "com.openrouter.api#ProviderOptionsAnthropic2Map",
          "traits": {
            "smithy.api#jsonName": "anthropic/2"
          }
        },
        "anyscale": {
          "target": "com.openrouter.api#ProviderOptionsAnyscaleMap"
        },
        "arcee_ai": {
          "target": "com.openrouter.api#ProviderOptionsArceeAiMap",
          "traits": {
            "smithy.api#jsonName": "arcee-ai"
          }
        },
        "assemblyai": {
          "target": "com.openrouter.api#ProviderOptionsAssemblyaiMap"
        },
        "atlas_cloud": {
          "target": "com.openrouter.api#ProviderOptionsAtlasCloudMap",
          "traits": {
            "smithy.api#jsonName": "atlas-cloud"
          }
        },
        "atoma": {
          "target": "com.openrouter.api#ProviderOptionsAtomaMap"
        },
        "avian": {
          "target": "com.openrouter.api#ProviderOptionsAvianMap"
        },
        "azure": {
          "target": "com.openrouter.api#ProviderOptionsAzureMap"
        },
        "baidu": {
          "target": "com.openrouter.api#ProviderOptionsBaiduMap"
        },
        "baseten": {
          "target": "com.openrouter.api#ProviderOptionsBasetenMap"
        },
        "black_forest_labs": {
          "target": "com.openrouter.api#ProviderOptionsBlackForestLabsMap",
          "traits": {
            "smithy.api#jsonName": "black-forest-labs"
          }
        },
        "byteplus": {
          "target": "com.openrouter.api#ProviderOptionsByteplusMap"
        },
        "centml": {
          "target": "com.openrouter.api#ProviderOptionsCentmlMap"
        },
        "cerebras": {
          "target": "com.openrouter.api#ProviderOptionsCerebrasMap"
        },
        "chutes": {
          "target": "com.openrouter.api#ProviderOptionsChutesMap"
        },
        "cirrascale": {
          "target": "com.openrouter.api#ProviderOptionsCirrascaleMap"
        },
        "clarifai": {
          "target": "com.openrouter.api#ProviderOptionsClarifaiMap"
        },
        "claude_on_aws": {
          "target": "com.openrouter.api#ProviderOptionsClaudeOnAwsMap",
          "traits": {
            "smithy.api#jsonName": "claude-on-aws"
          }
        },
        "cloudflare": {
          "target": "com.openrouter.api#ProviderOptionsCloudflareMap"
        },
        "cohere": {
          "target": "com.openrouter.api#ProviderOptionsCohereMap"
        },
        "coreweave": {
          "target": "com.openrouter.api#ProviderOptionsCoreweaveMap"
        },
        "cosine": {
          "target": "com.openrouter.api#ProviderOptionsCosineMap"
        },
        "crofai": {
          "target": "com.openrouter.api#ProviderOptionsCrofaiMap"
        },
        "crucible": {
          "target": "com.openrouter.api#ProviderOptionsCrucibleMap"
        },
        "crusoe": {
          "target": "com.openrouter.api#ProviderOptionsCrusoeMap"
        },
        "darkbloom": {
          "target": "com.openrouter.api#ProviderOptionsDarkbloomMap"
        },
        "databricks": {
          "target": "com.openrouter.api#ProviderOptionsDatabricksMap"
        },
        "decart": {
          "target": "com.openrouter.api#ProviderOptionsDecartMap"
        },
        "deepgram": {
          "target": "com.openrouter.api#ProviderOptionsDeepgramMap"
        },
        "deepinfra": {
          "target": "com.openrouter.api#ProviderOptionsDeepinfraMap"
        },
        "deepseek": {
          "target": "com.openrouter.api#ProviderOptionsDeepseekMap"
        },
        "dekallm": {
          "target": "com.openrouter.api#ProviderOptionsDekallmMap"
        },
        "digitalocean": {
          "target": "com.openrouter.api#ProviderOptionsDigitaloceanMap"
        },
        "elevenlabs": {
          "target": "com.openrouter.api#ProviderOptionsElevenlabsMap"
        },
        "enfer": {
          "target": "com.openrouter.api#ProviderOptionsEnferMap"
        },
        "fake_provider": {
          "target": "com.openrouter.api#ProviderOptionsFakeProviderMap",
          "traits": {
            "smithy.api#jsonName": "fake-provider"
          }
        },
        "featherless": {
          "target": "com.openrouter.api#ProviderOptionsFeatherlessMap"
        },
        "fireworks": {
          "target": "com.openrouter.api#ProviderOptionsFireworksMap"
        },
        "fish_audio": {
          "target": "com.openrouter.api#ProviderOptionsFishAudioMap",
          "traits": {
            "smithy.api#jsonName": "fish-audio"
          }
        },
        "friendli": {
          "target": "com.openrouter.api#ProviderOptionsFriendliMap"
        },
        "gmicloud": {
          "target": "com.openrouter.api#ProviderOptionsGmicloudMap"
        },
        "google_ai_studio": {
          "target": "com.openrouter.api#ProviderOptionsGoogleAiStudioMap",
          "traits": {
            "smithy.api#jsonName": "google-ai-studio"
          }
        },
        "google_vertex": {
          "target": "com.openrouter.api#ProviderOptionsGoogleVertexMap",
          "traits": {
            "smithy.api#jsonName": "google-vertex"
          }
        },
        "gopomelo": {
          "target": "com.openrouter.api#ProviderOptionsGopomeloMap"
        },
        "groq": {
          "target": "com.openrouter.api#ProviderOptionsGroqMap"
        },
        "heygen": {
          "target": "com.openrouter.api#ProviderOptionsHeygenMap"
        },
        "huggingface": {
          "target": "com.openrouter.api#ProviderOptionsHuggingfaceMap"
        },
        "hyperbolic": {
          "target": "com.openrouter.api#ProviderOptionsHyperbolicMap"
        },
        "hyperbolic_quantized": {
          "target": "com.openrouter.api#ProviderOptionsHyperbolicQuantizedMap",
          "traits": {
            "smithy.api#jsonName": "hyperbolic-quantized"
          }
        },
        "inception": {
          "target": "com.openrouter.api#ProviderOptionsInceptionMap"
        },
        "inceptron": {
          "target": "com.openrouter.api#ProviderOptionsInceptronMap"
        },
        "inferact_vllm": {
          "target": "com.openrouter.api#ProviderOptionsInferactVllmMap",
          "traits": {
            "smithy.api#jsonName": "inferact-vllm"
          }
        },
        "inference_net": {
          "target": "com.openrouter.api#ProviderOptionsInferenceNetMap",
          "traits": {
            "smithy.api#jsonName": "inference-net"
          }
        },
        "infermatic": {
          "target": "com.openrouter.api#ProviderOptionsInfermaticMap"
        },
        "inflection": {
          "target": "com.openrouter.api#ProviderOptionsInflectionMap"
        },
        "inocloud": {
          "target": "com.openrouter.api#ProviderOptionsInocloudMap"
        },
        "io_net": {
          "target": "com.openrouter.api#ProviderOptionsIoNetMap",
          "traits": {
            "smithy.api#jsonName": "io-net"
          }
        },
        "ionstream": {
          "target": "com.openrouter.api#ProviderOptionsIonstreamMap"
        },
        "klusterai": {
          "target": "com.openrouter.api#ProviderOptionsKlusteraiMap"
        },
        "krea": {
          "target": "com.openrouter.api#ProviderOptionsKreaMap"
        },
        "lambda": {
          "target": "com.openrouter.api#ProviderOptionsLambdaMap"
        },
        "lepton": {
          "target": "com.openrouter.api#ProviderOptionsLeptonMap"
        },
        "liquid": {
          "target": "com.openrouter.api#ProviderOptionsLiquidMap"
        },
        "lynn": {
          "target": "com.openrouter.api#ProviderOptionsLynnMap"
        },
        "lynn_private": {
          "target": "com.openrouter.api#ProviderOptionsLynnPrivateMap",
          "traits": {
            "smithy.api#jsonName": "lynn-private"
          }
        },
        "makora": {
          "target": "com.openrouter.api#ProviderOptionsMakoraMap"
        },
        "mancer": {
          "target": "com.openrouter.api#ProviderOptionsMancerMap"
        },
        "mancer_old": {
          "target": "com.openrouter.api#ProviderOptionsMancerOldMap",
          "traits": {
            "smithy.api#jsonName": "mancer-old"
          }
        },
        "mara": {
          "target": "com.openrouter.api#ProviderOptionsMaraMap"
        },
        "meta": {
          "target": "com.openrouter.api#ProviderOptionsMetaMap"
        },
        "minimax": {
          "target": "com.openrouter.api#ProviderOptionsMinimaxMap"
        },
        "mistral": {
          "target": "com.openrouter.api#ProviderOptionsMistralMap"
        },
        "modal": {
          "target": "com.openrouter.api#ProviderOptionsModalMap"
        },
        "modelrun": {
          "target": "com.openrouter.api#ProviderOptionsModelrunMap"
        },
        "modular": {
          "target": "com.openrouter.api#ProviderOptionsModularMap"
        },
        "moonshotai": {
          "target": "com.openrouter.api#ProviderOptionsMoonshotaiMap"
        },
        "morph": {
          "target": "com.openrouter.api#ProviderOptionsMorphMap"
        },
        "ncompass": {
          "target": "com.openrouter.api#ProviderOptionsNcompassMap"
        },
        "near_ai": {
          "target": "com.openrouter.api#ProviderOptionsNearAiMap",
          "traits": {
            "smithy.api#jsonName": "near-ai"
          }
        },
        "nebius": {
          "target": "com.openrouter.api#ProviderOptionsNebiusMap"
        },
        "nex_agi": {
          "target": "com.openrouter.api#ProviderOptionsNexAgiMap",
          "traits": {
            "smithy.api#jsonName": "nex-agi"
          }
        },
        "nextbit": {
          "target": "com.openrouter.api#ProviderOptionsNextbitMap"
        },
        "nineteen": {
          "target": "com.openrouter.api#ProviderOptionsNineteenMap"
        },
        "novita": {
          "target": "com.openrouter.api#ProviderOptionsNovitaMap"
        },
        "nvidia": {
          "target": "com.openrouter.api#ProviderOptionsNvidiaMap"
        },
        "octoai": {
          "target": "com.openrouter.api#ProviderOptionsOctoaiMap"
        },
        "ollama": {
          "target": "com.openrouter.api#ProviderOptionsOllamaMap"
        },
        "open_inference": {
          "target": "com.openrouter.api#ProviderOptionsOpenInferenceMap",
          "traits": {
            "smithy.api#jsonName": "open-inference"
          }
        },
        "openai": {
          "target": "com.openrouter.api#ProviderOptionsOpenaiMap"
        },
        "parasail": {
          "target": "com.openrouter.api#ProviderOptionsParasailMap"
        },
        "perceptron": {
          "target": "com.openrouter.api#ProviderOptionsPerceptronMap"
        },
        "perplexity": {
          "target": "com.openrouter.api#ProviderOptionsPerplexityMap"
        },
        "phala": {
          "target": "com.openrouter.api#ProviderOptionsPhalaMap"
        },
        "poolside": {
          "target": "com.openrouter.api#ProviderOptionsPoolsideMap"
        },
        "primeintellect": {
          "target": "com.openrouter.api#ProviderOptionsPrimeintellectMap"
        },
        "quiver": {
          "target": "com.openrouter.api#ProviderOptionsQuiverMap"
        },
        "recraft": {
          "target": "com.openrouter.api#ProviderOptionsRecraftMap"
        },
        "recursal": {
          "target": "com.openrouter.api#ProviderOptionsRecursalMap"
        },
        "reflection": {
          "target": "com.openrouter.api#ProviderOptionsReflectionMap"
        },
        "reka": {
          "target": "com.openrouter.api#ProviderOptionsRekaMap"
        },
        "relace": {
          "target": "com.openrouter.api#ProviderOptionsRelaceMap"
        },
        "replicate": {
          "target": "com.openrouter.api#ProviderOptionsReplicateMap"
        },
        "respan": {
          "target": "com.openrouter.api#ProviderOptionsRespanMap"
        },
        "runway": {
          "target": "com.openrouter.api#ProviderOptionsRunwayMap"
        },
        "sail_research": {
          "target": "com.openrouter.api#ProviderOptionsSailResearchMap",
          "traits": {
            "smithy.api#jsonName": "sail-research"
          }
        },
        "sakana": {
          "target": "com.openrouter.api#ProviderOptionsSakanaMap"
        },
        "sakana_ai": {
          "target": "com.openrouter.api#ProviderOptionsSakanaAiMap",
          "traits": {
            "smithy.api#jsonName": "sakana-ai"
          }
        },
        "sambanova": {
          "target": "com.openrouter.api#ProviderOptionsSambanovaMap"
        },
        "sambanova_cloaked": {
          "target": "com.openrouter.api#ProviderOptionsSambanovaCloakedMap",
          "traits": {
            "smithy.api#jsonName": "sambanova-cloaked"
          }
        },
        "scaledown": {
          "target": "com.openrouter.api#ProviderOptionsScaledownMap"
        },
        "seed": {
          "target": "com.openrouter.api#ProviderOptionsSeedMap"
        },
        "sf_compute": {
          "target": "com.openrouter.api#ProviderOptionsSfComputeMap",
          "traits": {
            "smithy.api#jsonName": "sf-compute"
          }
        },
        "siliconflow": {
          "target": "com.openrouter.api#ProviderOptionsSiliconflowMap"
        },
        "sourceful": {
          "target": "com.openrouter.api#ProviderOptionsSourcefulMap"
        },
        "stealth": {
          "target": "com.openrouter.api#ProviderOptionsStealthMap"
        },
        "stepfun": {
          "target": "com.openrouter.api#ProviderOptionsStepfunMap"
        },
        "streamlake": {
          "target": "com.openrouter.api#ProviderOptionsStreamlakeMap"
        },
        "switchpoint": {
          "target": "com.openrouter.api#ProviderOptionsSwitchpointMap"
        },
        "targon": {
          "target": "com.openrouter.api#ProviderOptionsTargonMap"
        },
        "tencent": {
          "target": "com.openrouter.api#ProviderOptionsTencentMap"
        },
        "tenstorrent": {
          "target": "com.openrouter.api#ProviderOptionsTenstorrentMap"
        },
        "thinkingmachines": {
          "target": "com.openrouter.api#ProviderOptionsThinkingmachinesMap"
        },
        "together": {
          "target": "com.openrouter.api#ProviderOptionsTogetherMap"
        },
        "together_lite": {
          "target": "com.openrouter.api#ProviderOptionsTogetherLiteMap",
          "traits": {
            "smithy.api#jsonName": "together-lite"
          }
        },
        "typesafe": {
          "target": "com.openrouter.api#ProviderOptionsTypesafeMap"
        },
        "ubicloud": {
          "target": "com.openrouter.api#ProviderOptionsUbicloudMap"
        },
        "unbiased": {
          "target": "com.openrouter.api#ProviderOptionsUnbiasedMap"
        },
        "upstage": {
          "target": "com.openrouter.api#ProviderOptionsUpstageMap"
        },
        "venice": {
          "target": "com.openrouter.api#ProviderOptionsVeniceMap"
        },
        "voyageai": {
          "target": "com.openrouter.api#ProviderOptionsVoyageaiMap"
        },
        "wafer": {
          "target": "com.openrouter.api#ProviderOptionsWaferMap"
        },
        "wandb": {
          "target": "com.openrouter.api#ProviderOptionsWandbMap"
        },
        "wandb_legacy": {
          "target": "com.openrouter.api#ProviderOptionsWandbLegacyMap",
          "traits": {
            "smithy.api#jsonName": "wandb-legacy"
          }
        },
        "xai": {
          "target": "com.openrouter.api#ProviderOptionsXaiMap"
        },
        "xiaomi": {
          "target": "com.openrouter.api#ProviderOptionsXiaomiMap"
        },
        "z_ai": {
          "target": "com.openrouter.api#ProviderOptionsZAiMap",
          "traits": {
            "smithy.api#jsonName": "z-ai"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provider-specific options keyed by provider slug. Only options for the matched provider are forwarded; the rest are ignored. Unrecognized keys are silently dropped."
      }
    },
    "com.openrouter.api#ProviderOptions01aiMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsAi21Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsAionLabsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsAkashmlMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsAlibabaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsAmazonBedrockMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsAmazonBedrockClaudeOnAwsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsAmazonNovaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsAmbientMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsAnthropicMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsAnthropic2Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsAnyscaleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsArceeAiMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsAssemblyaiMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsAtlasCloudMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsAtomaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsAvianMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsAzureMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsBaiduMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsBasetenMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsBlackForestLabsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsByteplusMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsCentmlMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsCerebrasMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsChutesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsCirrascaleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsClarifaiMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsClaudeOnAwsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsCloudflareMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsCohereMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsCoreweaveMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsCosineMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsCrofaiMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsCrucibleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsCrusoeMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsDarkbloomMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsDatabricksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsDecartMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsDeepgramMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsDeepinfraMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsDeepseekMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsDekallmMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsDigitaloceanMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsElevenlabsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsEnferMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsFakeProviderMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsFeatherlessMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsFireworksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsFishAudioMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsFriendliMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsGmicloudMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsGoogleAiStudioMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsGoogleVertexMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsGopomeloMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsGroqMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsHeygenMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsHuggingfaceMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsHyperbolicMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsHyperbolicQuantizedMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsInceptionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsInceptronMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsInferactVllmMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsInferenceNetMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsInfermaticMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsInflectionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsInocloudMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsIoNetMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsIonstreamMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsKlusteraiMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsKreaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsLambdaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsLeptonMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsLiquidMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsLynnMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsLynnPrivateMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsMakoraMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsMancerMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsMancerOldMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsMaraMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsMinimaxMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsMistralMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsModalMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsModelrunMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsModularMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsMoonshotaiMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsMorphMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsNcompassMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsNearAiMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsNebiusMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsNexAgiMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsNextbitMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsNineteenMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsNovitaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsNvidiaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsOctoaiMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsOllamaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsOpenInferenceMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsOpenaiMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsParasailMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsPerceptronMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsPerplexityMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsPhalaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsPoolsideMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsPrimeintellectMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsQuiverMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsRecraftMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsRecursalMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsReflectionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsRekaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsRelaceMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsReplicateMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsRespanMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openrouter.api#ProviderOptionsRunwayMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
[...]
