{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.gusto.api#RevokeAccessTokenRequest": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your client id",
            "smithy.api#required": {}
          }
        },
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your client secret",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The access token that will be revoked.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#RevokeAccessToken": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#RevokeAccessTokenRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/oauth/revoke",
          "code": 200
        },
        "smithy.api#documentation": "Revoke access token\n\nRevokes the given access token. After revoking, this token can no longer be used to make requests nor can it be refreshed."
      }
    },
    "com.gusto.api#OauthAccessTokenRequestBodyCase0GrantType": {
      "type": "enum",
      "members": {
        "REFRESH_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refresh_token"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set system_access to create a system access token, refresh_token to refresh an existing token"
      }
    },
    "com.gusto.api#OauthAccessTokenRequestBodyCase0": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your client ID",
            "smithy.api#required": {}
          }
        },
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your client secret",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "grant_type": {
          "target": "com.gusto.api#OauthAccessTokenRequestBodyCase0GrantType",
          "traits": {
            "smithy.api#documentation": "Set system_access to create a system access token, refresh_token to refresh an existing token",
            "smithy.api#required": {}
          }
        },
        "redirect_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The redirect URI you set up via the Developer Portal"
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#OauthAccessTokenRequestBodyCase1GrantType": {
      "type": "enum",
      "members": {
        "SYSTEM_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system_access"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set system_access to create a system access token, refresh_token to refresh an existing token"
      }
    },
    "com.gusto.api#OauthAccessTokenRequestBodyCase1": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your client ID",
            "smithy.api#required": {}
          }
        },
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your client secret",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "grant_type": {
          "target": "com.gusto.api#OauthAccessTokenRequestBodyCase1GrantType",
          "traits": {
            "smithy.api#documentation": "Set system_access to create a system access token, refresh_token to refresh an existing token",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#OauthAccessTokenRequestBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.gusto.api#OauthAccessTokenRequestBodyCase0"
        },
        "Case1": {
          "target": "com.gusto.api#OauthAccessTokenRequestBodyCase1"
        }
      },
      "traits": {}
    },
    "com.gusto.api#OauthAccessTokenRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gusto.api#OauthAccessTokenRequestBody",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#Authentication": {
      "type": "union",
      "members": {
        "CreateTokenAuthentication": {
          "target": "com.gusto.api#CreateTokenAuthentication"
        },
        "RefreshTokenAuthentication": {
          "target": "com.gusto.api#RefreshTokenAuthentication"
        }
      },
      "traits": {}
    },
    "com.gusto.api#CreateTokenAuthentication": {
      "type": "structure",
      "members": {
        "access_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A new access token that can be used for subsequent authenticated requests",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Datetime for when the new access token is created.",
            "smithy.api#required": {}
          }
        },
        "expires_in": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The TTL of this token. After this amount of time, you must hit the refresh token endpoint to continue making authenticated requests.",
            "smithy.api#required": {}
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that must be passed to the refresh token endpoint to get a new authenticated token. Only present when refresh token is provided.",
            "com.distilled.openapi#nullable": {},
            "smithy.api#sensitive": {}
          }
        },
        "token_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The literal string 'Bearer'",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#RefreshTokenAuthentication": {
      "type": "structure",
      "members": {
        "access_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A new access token that can be used for subsequent authenticated requests",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Datetime for when the new access token is created.",
            "smithy.api#required": {}
          }
        },
        "expires_in": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The TTL of this token. After this amount of time, you must hit the refresh token endpoint to continue making authenticated requests.",
            "smithy.api#required": {}
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that must be passed to the refresh token endpoint to get a new authenticated token. Only present when refresh token is provided.",
            "com.distilled.openapi#nullable": {},
            "smithy.api#sensitive": {}
          }
        },
        "token_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The literal string 'Bearer'",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "All of the scopes for which the access token provides access."
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#OauthAccessTokenResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gusto.api#Authentication",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.gusto.api#OauthAccessToken": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#OauthAccessTokenRequest"
      },
      "output": {
        "target": "com.gusto.api#OauthAccessTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/oauth/token",
          "code": 200
        },
        "smithy.api#documentation": "Create a System Access Token or Refresh an Access Token\n\nCreates a system access token or refreshes an oauth access token"
      }
    },
    "com.gusto.api#SupportedBenefitList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#SupportedBenefit"
      },
      "traits": {}
    },
    "com.gusto.api#SupportedBenefit": {
      "type": "structure",
      "members": {
        "benefit_type": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The benefit type in Gusto."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category where the benefit belongs to."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the benefit."
          }
        },
        "healthcare": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the benefit is healthcare related."
          }
        },
        "imputed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the benefit is considered imputed income."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the benefit."
          }
        },
        "posttax": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the benefit is deducted after tax calculations."
          }
        },
        "pretax": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the benefit is deducted before tax calculations, thus reducing one’s taxable income"
          }
        },
        "retirement": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the benefit is associated with retirement planning."
          }
        },
        "writable_by_application": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this benefit can be written (created, updated, or destroyed). Returns true if the benefit type is permitted for the application, false otherwise."
          }
        },
        "yearly_limit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the benefit has a government mandated yearly limit. If the benefit has a government mandated yearly limit, employees cannot be added to more than one benefit of this type."
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#GetBenefitsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gusto.api#SupportedBenefitList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.gusto.api#GetBenefits": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.gusto.api#GetBenefitsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/benefits",
          "code": 200
        },
        "smithy.api#documentation": "Get all supported benefits\n\nReturns all benefits supported by Gusto. The benefit object in Gusto contains high level information about a particular benefit type and its tax considerations. When companies choose to offer a benefit, they are creating a Company Benefit object associated with a particular benefit.\n\nscope: `benefits:read`"
      }
    },
    "com.gusto.api#GetBenefitRequest": {
      "type": "structure",
      "members": {
        "benefit_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The benefit type in Gusto."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#GetBenefit": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#GetBenefitRequest"
      },
      "output": {
        "target": "com.gusto.api#SupportedBenefit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/benefits/{benefit_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a supported benefit\n\nReturns a benefit supported by Gusto. The benefit object in Gusto contains high level information about a particular benefit type and its tax considerations. When companies choose to offer a benefit, they are creating a Company Benefit object associated with a particular benefit.\n\nscope: `benefits:read`"
      }
    },
    "com.gusto.api#GetBenefitsBenefitRequirementsRequest": {
      "type": "structure",
      "members": {
        "benefit_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The benefit type in Gusto."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#BenefitTypeRequirements": {
      "type": "structure",
      "members": {
        "catch_up": {
          "target": "com.gusto.api#BenefitTypeRequirementsCatchUp",
          "traits": {
            "smithy.api#documentation": "Whether the employee should use a benefit’s 'catch up' rate. Only Roth 401k and 401k benefits use this value for employees over 50."
          }
        },
        "company_contribution_annual_maximum": {
          "target": "com.gusto.api#BenefitTypeRequirementsCompanyContributionAnnualMaximum",
          "traits": {
            "smithy.api#documentation": "The maximum company contribution amount per year. A null value signifies no limit."
          }
        },
        "contribution": {
          "target": "com.gusto.api#BenefitTypeRequirementsContribution",
          "traits": {
            "smithy.api#documentation": "An object representing the type and value of the company contribution."
          }
        },
        "coverage_amount": {
          "target": "com.gusto.api#BenefitTypeRequirementsCoverageAmount",
          "traits": {
            "smithy.api#documentation": "The amount that the employee is insured for. Note: company contribution cannot be present if coverage amount is set."
          }
        },
        "coverage_salary_multiplier": {
          "target": "com.gusto.api#BenefitTypeRequirementsCoverageSalaryMultiplier",
          "traits": {
            "smithy.api#documentation": "The coverage amount as a multiple of the employee's salary. Only applicable for Group Term Life benefits. Note: cannot be set if coverage amount is also set."
          }
        },
        "deduct_as_percentage": {
          "target": "com.gusto.api#BenefitTypeRequirementsDeductAsPercentage",
          "traits": {
            "smithy.api#documentation": "Whether the employee deduction amount should be treated as a percentage to be deducted from each payroll."
          }
        },
        "employee_deduction": {
          "target": "com.gusto.api#BenefitTypeRequirementsEmployeeDeduction",
          "traits": {
            "smithy.api#documentation": "The amount to be deducted, per pay period, from the employee's pay."
          }
        },
        "limit_option": {
          "target": "com.gusto.api#BenefitTypeRequirementsLimitOption",
          "traits": {
            "smithy.api#documentation": "Some benefits require additional information to determine their limit. For example, for an HSA benefit, the limit option should be either 'Family' or 'Individual'. For a Dependent Care FSA benefit, the limit option should be either 'Joint Filing or Single' or 'Married and Filing Separately'."
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsCatchUpChoicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsCatchUpDefaultValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsCatchUp": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.gusto.api#BenefitTypeRequirementsCatchUpChoicesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.gusto.api#BenefitTypeRequirementsCatchUpDefaultValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "editable": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the employee should use a benefit’s 'catch up' rate. Only Roth 401k and 401k benefits use this value for employees over 50."
      }
    },
    "com.gusto.api#BenefitTypeRequirementsCompanyContributionAnnualMaximumChoicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsCompanyContributionAnnualMaximumDefaultValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsCompanyContributionAnnualMaximum": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.gusto.api#BenefitTypeRequirementsCompanyContributionAnnualMaximumChoicesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.gusto.api#BenefitTypeRequirementsCompanyContributionAnnualMaximumDefaultValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "editable": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "The maximum company contribution amount per year. A null value signifies no limit."
      }
    },
    "com.gusto.api#BenefitTypeRequirementsContributionChoicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsContributionDefaultValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsContribution": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.gusto.api#BenefitTypeRequirementsContributionChoicesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.gusto.api#BenefitTypeRequirementsContributionDefaultValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "editable": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "An object representing the type and value of the company contribution."
      }
    },
    "com.gusto.api#BenefitTypeRequirementsCoverageAmountChoicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsCoverageAmountDefaultValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsCoverageAmount": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.gusto.api#BenefitTypeRequirementsCoverageAmountChoicesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.gusto.api#BenefitTypeRequirementsCoverageAmountDefaultValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "editable": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "The amount that the employee is insured for. Note: company contribution cannot be present if coverage amount is set."
      }
    },
    "com.gusto.api#BenefitTypeRequirementsCoverageSalaryMultiplierChoicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsCoverageSalaryMultiplierDefaultValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsCoverageSalaryMultiplier": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.gusto.api#BenefitTypeRequirementsCoverageSalaryMultiplierChoicesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.gusto.api#BenefitTypeRequirementsCoverageSalaryMultiplierDefaultValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "editable": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "The coverage amount as a multiple of the employee's salary. Only applicable for Group Term Life benefits. Note: cannot be set if coverage amount is also set."
      }
    },
    "com.gusto.api#BenefitTypeRequirementsDeductAsPercentageChoicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsDeductAsPercentageDefaultValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsDeductAsPercentage": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.gusto.api#BenefitTypeRequirementsDeductAsPercentageChoicesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.gusto.api#BenefitTypeRequirementsDeductAsPercentageDefaultValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "editable": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the employee deduction amount should be treated as a percentage to be deducted from each payroll."
      }
    },
    "com.gusto.api#BenefitTypeRequirementsEmployeeDeductionChoicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsEmployeeDeductionDefaultValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsEmployeeDeduction": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.gusto.api#BenefitTypeRequirementsEmployeeDeductionChoicesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.gusto.api#BenefitTypeRequirementsEmployeeDeductionDefaultValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "editable": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "The amount to be deducted, per pay period, from the employee's pay."
      }
    },
    "com.gusto.api#BenefitTypeRequirementsLimitOptionChoicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsLimitOptionDefaultValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsLimitOption": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.gusto.api#BenefitTypeRequirementsLimitOptionChoicesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.gusto.api#BenefitTypeRequirementsLimitOptionDefaultValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "editable": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Some benefits require additional information to determine their limit. For example, for an HSA benefit, the limit option should be either 'Family' or 'Individual'. For a Dependent Care FSA benefit, the limit option should be either 'Joint Filing or Single' or 'Married and Filing Separately'."
      }
    },
    "com.gusto.api#GetBenefitsBenefitRequirements": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#GetBenefitsBenefitRequirementsRequest"
      },
      "output": {
        "target": "com.gusto.api#BenefitTypeRequirements"
      },
      "errors": [
        {
          "target": "com.gusto.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/benefits/{benefit_id}/requirements",
          "code": 200
        },
        "smithy.api#documentation": "Get benefit fields requirements by benefit type\n\nReturns the field requirements for a given benefit type.\n\nscope: `benefits:read`"
      }
    },
    "com.gusto.api#BulkReportItem": {
      "type": "union",
      "members": {
        "BulkReportCustomReportItem": {
          "target": "com.gusto.api#BulkReportCustomReportItem"
        },
        "BulkReportGeneralLedgerItem": {
          "target": "com.gusto.api#BulkReportGeneralLedgerItem"
        }
      },
      "traits": {
        "smithy.api#documentation": "A single report inside a bulk batch. Required fields depend on `report_type`: `custom_report` requires `columns` and `file_type`; `general_ledger` requires `payroll_uuid` and `aggregation`."
      }
    },
    "com.gusto.api#BulkReportCustomReportItem": {
      "type": "structure",
      "members": {
        "columns": {
          "target": "com.gusto.api#BulkReportCustomReportItemColumnsList",
          "traits": {
            "smithy.api#documentation": "Columns to include in the report.",
            "smithy.api#required": {}
          }
        },
        "company_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the company to generate the report for. The partner must be mapped to this company.",
            "smithy.api#required": {}
          }
        },
        "custom_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the report."
          }
        },
        "date_filter_type": {
          "target": "com.gusto.api#BulkReportCustomReportItemDateFilterType",
          "traits": {
            "smithy.api#documentation": "Which payroll date `start_date` and `end_date` filter against."
          }
        },
        "department_uuids": {
          "target": "com.gusto.api#BulkReportCustomReportItemDepartmentUuidsList",
          "traits": {
            "smithy.api#documentation": "Departments to filter by."
          }
        },
        "employee_uuids": {
          "target": "com.gusto.api#BulkReportCustomReportItemEmployeeUuidsList",
          "traits": {
            "smithy.api#documentation": "Employees to filter by.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "employment_status": {
          "target": "com.gusto.api#BulkReportCustomReportItemEmploymentStatus",
          "traits": {
            "smithy.api#documentation": "Employee employment status to filter by."
          }
        },
        "employment_type": {
          "target": "com.gusto.api#BulkReportCustomReportItemEmploymentType",
          "traits": {
            "smithy.api#documentation": "Employee employment type to filter by."
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date of data to filter by."
          }
        },
        "file_type": {
          "target": "com.gusto.api#BulkReportCustomReportItemFileType",
          "traits": {
            "smithy.api#documentation": "The type of file to generate.",
            "smithy.api#required": {}
          }
        },
        "groupings": {
          "target": "com.gusto.api#BulkReportCustomReportItemGroupingsList",
          "traits": {
            "smithy.api#documentation": "How to group the report. If omitted, defaults are derived from the requested `columns`."
          }
        },
        "payment_method": {
          "target": "com.gusto.api#BulkReportCustomReportItemPaymentMethod",
          "traits": {
            "smithy.api#documentation": "Payment method to filter by."
          }
        },
        "report_type": {
          "target": "com.gusto.api#BulkReportCustomReportItemReportType",
          "traits": {
            "smithy.api#documentation": "Identifies this batch item as a custom report.",
            "smithy.api#required": {}
          }
        },
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date of data to filter by."
          }
        },
        "with_totals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to include subtotals and grand totals."
          }
        },
        "work_address_uuids": {
          "target": "com.gusto.api#BulkReportCustomReportItemWorkAddressUuidsList",
          "traits": {
            "smithy.api#documentation": "Work addresses to filter by."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A custom report entry in a bulk batch."
      }
    },
    "com.gusto.api#BulkReportCustomReportItemColumnsItem": {
      "type": "enum",
      "members": {
        "ADDITIONAL_EARNINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "additional_earnings"
          }
        },
        "BANK_ACCOUNT_ACCOUNT_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_account_account_number"
          }
        },
        "BANK_ACCOUNT_ROUTING_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_account_routing_number"
          }
        },
        "BANK_ACCOUNT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_account_type"
          }
        },
        "BANK_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_account"
          }
        },
        "BONUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bonus"
          }
        },
        "CASH_TIPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cash_tips"
          }
        },
        "CHECK_AMOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "check_amount"
          }
        },
        "CHECK_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "check_date"
          }
        },
        "COMMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "commission"
          }
        },
        "DATE_OF_BIRTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date_of_birth"
          }
        },
        "DOUBLE_OVERTIME_EARNINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "double_overtime_earnings"
          }
        },
        "DOUBLE_OVERTIME_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "double_overtime_hours"
          }
        },
        "DOUBLE_OVERTIME_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "double_overtime_rate"
          }
        },
        "EMPLOYEE_ADDITIONAL_TAXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_additional_taxes"
          }
        },
        "EMPLOYEE_BENEFIT_CONTRIBUTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_benefit_contributions"
          }
        },
        "EMPLOYEE_COMPENSATION_TIME_PERIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_compensation_time_period"
          }
        },
        "EMPLOYEE_COMPENSATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_compensation"
          }
        },
        "EMPLOYEE_DEDUCTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_deductions"
          }
        },
        "EMPLOYEE_DEPARTMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_department"
          }
        },
        "EMPLOYEE_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_email"
          }
        },
        "EMPLOYEE_DONATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_donations"
          }
        },
        "EMPLOYEE_FEDERAL_INCOME_TAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_federal_income_tax"
          }
        },
        "EMPLOYEE_FIRST_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_first_name"
          }
        },
        "EMPLOYEE_LAST_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_last_name"
          }
        },
        "EMPLOYEE_MIDDLE_INITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_middle_initial"
          }
        },
        "EMPLOYEE_MEDICARE_ADDITIONAL_TAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_medicare_additional_tax"
          }
        },
        "EMPLOYEE_MEDICARE_TAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_medicare_tax"
          }
        },
        "EMPLOYEE_PHONE_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_phone_number"
          }
        },
        "EMPLOYEE_SOCIAL_SECURITY_TAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_social_security_tax"
          }
        },
        "EMPLOYEE_STATE_INCOME_TAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_state_income_tax"
          }
        },
        "EMPLOYEE_TAXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_taxes"
          }
        },
        "EMPLOYEE_UUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_uuid"
          }
        },
        "EMPLOYEE_WORK_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee_work_email"
          }
        },
        "EMPLOYER_ADDITIONAL_TAXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employer_additional_taxes"
          }
        },
        "EMPLOYER_BENEFIT_CONTRIBUTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employer_benefit_contributions"
          }
        },
        "EMPLOYER_COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employer_cost"
          }
        },
        "EMPLOYER_FUTA_TAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employer_futa_tax"
          }
        },
        "EMPLOYER_MEDICARE_TAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employer_medicare_tax"
          }
        },
        "EMPLOYER_SOCIAL_SECURITY_TAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employer_social_security_tax"
          }
        },
        "EMPLOYER_SUTA_TAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employer_suta_tax"
          }
        },
        "EMPLOYER_TAXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employer_taxes"
          }
        },
        "EMPLOYMENT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employment_type"
          }
        },
        "EMPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employment"
          }
        },
        "END_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "end_date"
          }
        },
        "GARNISHMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "garnishments"
          }
        },
        "GROSS_EARNINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gross_earnings"
          }
        },
        "HOLIDAY_EARNINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "holiday_earnings"
          }
        },
        "HOLIDAY_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "holiday_hours"
          }
        },
        "HOME_ADDRESS_CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "home_address_city"
          }
        },
        "HOME_ADDRESS_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "home_address_state"
          }
        },
        "HOME_ADDRESS_STREET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "home_address_street"
          }
        },
        "HOME_ADDRESS_ZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "home_address_zip"
          }
        },
        "HOME_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "home_address"
          }
        },
        "JOB_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "job_title"
          }
        },
        "NET_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "net_pay"
          }
        },
        "ONE_TIME_REIMBURSEMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "one_time_reimbursements"
          }
        },
        "OVERTIME_EARNINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "overtime_earnings"
          }
        },
        "OVERTIME_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "overtime_hours"
          }
        },
        "OVERTIME_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "overtime_rate"
          }
        },
        "PAID_TIME_OFF_EARNINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paid_time_off_earnings"
          }
        },
        "PAID_TIME_OFF_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paid_time_off_hours"
          }
        },
        "PAID_TIME_OFF_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paid_time_off_rate"
          }
        },
        "PAY_PERIOD_END": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pay_period_end"
          }
        },
        "PAY_PERIOD_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pay_period_start"
          }
        },
        "PAYCHECK_TIPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paycheck_tips"
          }
        },
        "PAYMENT_METHOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "payment_method"
          }
        },
        "PAYROLL_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "payroll_type"
          }
        },
        "PAYROLL_UUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "payroll_uuid"
          }
        },
        "PREFERRED_FIRST_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preferred_first_name"
          }
        },
        "RECURRING_REIMBURSEMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recurring_reimbursements"
          }
        },
        "REGULAR_EARNINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regular_earnings"
          }
        },
        "REGULAR_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regular_hours"
          }
        },
        "REGULAR_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regular_rate"
          }
        },
        "REIMBURSEMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reimbursements"
          }
        },
        "RISK_CLASS_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "risk_class_code"
          }
        },
        "SICK_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sick_rate"
          }
        },
        "SICK_TIME_OFF_EARNINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sick_time_off_earnings"
          }
        },
        "SICK_TIME_OFF_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sick_time_off_hours"
          }
        },
        "START_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start_date"
          }
        },
        "TOTAL_EMPLOYER_BENEFIT_CONTRIBUTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "total_employer_benefit_contributions"
          }
        },
        "TOTAL_TIME_OFF_EARNINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "total_time_off_earnings"
          }
        },
        "TOTAL_TIME_OFF_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "total_time_off_hours"
          }
        },
        "WORK_ADDRESS_CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "work_address_city"
          }
        },
        "WORK_ADDRESS_STREET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "work_address_street"
          }
        },
        "WORK_ADDRESS_ZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "work_address_zip"
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#BulkReportCustomReportItemColumnsList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#BulkReportCustomReportItemColumnsItem"
      },
      "traits": {
        "smithy.api#documentation": "Columns to include in the report."
      }
    },
    "com.gusto.api#BulkReportCustomReportItemDateFilterType": {
      "type": "enum",
      "members": {
        "PERIOD_END_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "period_end_date"
          }
        },
        "PERIOD_START_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "period_start_date"
          }
        },
        "CHECK_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "check_date"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Which payroll date `start_date` and `end_date` filter against."
      }
    },
    "com.gusto.api#BulkReportCustomReportItemDepartmentUuidsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Departments to filter by."
      }
    },
    "com.gusto.api#BulkReportCustomReportItemEmployeeUuidsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Employees to filter by."
      }
    },
    "com.gusto.api#BulkReportCustomReportItemEmploymentStatus": {
      "type": "enum",
      "members": {
        "ACTIVE_FULL_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active_full_time"
          }
        },
        "ACTIVE_PART_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active_part_time"
          }
        },
        "ACTIVE_PART_TIME_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active_part_time_eligible"
          }
        },
        "ACTIVE_VARIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active_variable"
          }
        },
        "ACTIVE_SEASONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active_seasonal"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISMISSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dismissed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Employee employment status to filter by."
      }
    },
    "com.gusto.api#BulkReportCustomReportItemEmploymentType": {
      "type": "enum",
      "members": {
        "EXEMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exempt"
          }
        },
        "SALARIED_NONEXEMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "salaried_nonexempt"
          }
        },
        "NONEXEMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nonexempt"
          }
        },
        "COMMISSION_ONLY_EXEMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "commission_only_exempt"
          }
        },
        "COMMISSION_ONLY_NONEXEMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "commission_only_nonexempt"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Employee employment type to filter by."
      }
    },
    "com.gusto.api#BulkReportCustomReportItemFileType": {
      "type": "enum",
      "members": {
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "PDF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pdf"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of file to generate."
      }
    },
    "com.gusto.api#BulkReportCustomReportItemGroupingsItem": {
      "type": "enum",
      "members": {
        "PAYROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "payroll"
          }
        },
        "EMPLOYEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee"
          }
        },
        "WORK_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "work_address"
          }
        },
        "WORK_ADDRESS_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "work_address_state"
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#BulkReportCustomReportItemGroupingsList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#BulkReportCustomReportItemGroupingsItem"
      },
      "traits": {
        "smithy.api#documentation": "How to group the report. If omitted, defaults are derived from the requested `columns`."
      }
    },
    "com.gusto.api#BulkReportCustomReportItemPaymentMethod": {
      "type": "enum",
      "members": {
        "CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "check"
          }
        },
        "DIRECT_DEPOSIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "direct_deposit"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Payment method to filter by."
      }
    },
    "com.gusto.api#BulkReportCustomReportItemReportType": {
      "type": "enum",
      "members": {
        "CUSTOM_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_report"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies this batch item as a custom report."
      }
    },
    "com.gusto.api#BulkReportCustomReportItemWorkAddressUuidsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Work addresses to filter by."
      }
    },
    "com.gusto.api#BulkReportGeneralLedgerItem": {
      "type": "structure",
      "members": {
        "aggregation": {
          "target": "com.gusto.api#BulkReportGeneralLedgerItemAggregation",
          "traits": {
            "smithy.api#documentation": "The breakdown of the report. Use `default` for no split.",
            "smithy.api#required": {}
          }
        },
        "company_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the company to generate the report for. The partner must be mapped to this company.",
            "smithy.api#required": {}
          }
        },
        "integration_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of integration set up for the company. Required when `aggregation` is `integration`; must be null otherwise.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "payroll_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UUID of the payroll to generate the general ledger for.",
            "smithy.api#required": {}
          }
        },
        "report_type": {
          "target": "com.gusto.api#BulkReportGeneralLedgerItemReportType",
          "traits": {
            "smithy.api#documentation": "Identifies this batch item as a general ledger report.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A general ledger report entry in a bulk batch."
      }
    },
    "com.gusto.api#BulkReportGeneralLedgerItemAggregation": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "JOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "job"
          }
        },
        "DEPARTMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "department"
          }
        },
        "INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The breakdown of the report. Use `default` for no split."
      }
    },
    "com.gusto.api#BulkReportGeneralLedgerItemReportType": {
      "type": "enum",
      "members": {
        "GENERAL_LEDGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "general_ledger"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies this batch item as a general ledger report."
      }
    },
    "com.gusto.api#CreateBulkReportRequestBatchList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#BulkReportItem"
      },
      "traits": {
        "smithy.api#documentation": "One report per item. Up to 25 items per batch, across any combination of companies the partner is mapped to."
      }
    },
    "com.gusto.api#CreateBulkReportRequest": {
      "type": "structure",
      "members": {
        "batch": {
          "target": "com.gusto.api#CreateBulkReportRequestBatchList",
          "traits": {
            "smithy.api#documentation": "One report per item. Up to 25 items per batch, across any combination of companies the partner is mapped to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#CreateBulkReport": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gusto.api#CreateBulkReportStatus",
          "traits": {
            "smithy.api#documentation": "The batch's processing state.\n- `pending`: accepted, not yet started\n- `processing`: reports are being generated\n- `completed`: all reports finished\n- `failed`: the batch failed before completing\n",
            "smithy.api#required": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the bulk report batch.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#CreateBulkReportStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The batch's processing state.\n- `pending`: accepted, not yet started\n- `processing`: reports are being generated\n- `completed`: all reports finished\n- `failed`: the batch failed before completing\n"
      }
    },
    "com.gusto.api#CreateBulkReport2": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#CreateBulkReportRequest"
      },
      "output": {
        "target": "com.gusto.api#CreateBulkReport"
      },
      "errors": [
        {
          "target": "com.gusto.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/bulk_reports",
          "code": 200
        },
        "smithy.api#documentation": "Create a bulk report batch\n\nTriggers asynchronous generation of up to 25 reports across companies the partner is mapped to. Each `batch` item is a `custom_report` (same parameters as [create a custom report](https://docs.gusto.com/embedded-payroll/reference/post-companies-company_uuid-reports)) or a `general_ledger` report (same parameters as [create a general ledger report](https://docs.gusto.com/embedded-payroll/reference/post-payrolls-payroll_uuid-reports-general_ledger)), keyed by `company_uuid` and `report_type`. Items are validated synchronously; if any is invalid, the entire batch is rejected.\n\nPoll the [bulk report GET endpoint](https://docs.gusto.com/embedded-payroll/reference/get-v1-bulk_reports-request_uuid) with the returned `uuid` for status and the report URL, which is valid for 10 minutes.\n\n📘 System Access Authentication\n\nThis endpoint uses the [Bearer Auth scheme with the system-level access token in the HTTP Authorization header](https://docs.gusto.com/embedded-payroll/docs/system-access)\n\nscope: `company_reports:write`"
      }
    },
    "com.gusto.api#GetBulkReportRequest": {
      "type": "structure",
      "members": {
        "request_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the bulk report batch."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#BulkReport": {
      "type": "structure",
      "members": {
        "companies": {
          "target": "com.gusto.api#BulkReportCompaniesList",
          "traits": {
            "smithy.api#documentation": "Per-company breakdown. Returned only once the batch has finished; omitted while in progress."
          }
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the batch reached a terminal state. Null while non-terminal.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "partner_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the partner that owns this batch. Returned only once the batch has finished; omitted while in progress."
          }
        },
        "processed_items": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many reports succeeded. Returned only once the batch has finished; omitted while in progress."
          }
        },
        "report_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Signed S3 URL to a zip containing every successfully-generated report, valid for 10 minutes. Returned only once the batch has finished; omitted while in progress.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.gusto.api#BulkReportStatus",
          "traits": {
            "smithy.api#documentation": "Overall batch status. `pending`/`processing` while in progress; once finished, `success` (all reports succeeded), `partial_success` (some succeeded, some failed), or `failed` (none succeeded).",
            "smithy.api#required": {}
          }
        },
        "submitted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the batch was accepted.",
            "smithy.api#required": {}
          }
        },
        "submitted_items": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many reports the partner asked for in this batch.",
            "smithy.api#required": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the bulk report batch.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#BulkReportCompany": {
      "type": "structure",
      "members": {
        "company_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the company.",
            "smithy.api#required": {}
          }
        },
        "reports": {
          "target": "com.gusto.api#BulkReportCompanyReportsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.gusto.api#BulkReportCompanyStatus",
          "traits": {
            "smithy.api#documentation": "This company's overall status across its `reports`:\n- `success`: every report succeeded\n- `partial_success`: some succeeded, some failed\n- `failed`: every report failed\n- `pending`: at least one report is still being generated\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Results for a single company in a bulk report batch."
      }
    },
    "com.gusto.api#BulkReportItemResult": {
      "type": "structure",
      "members": {
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-facing error message when status is `failed`. Null on success.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "file_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The report's output file type.",
            "smithy.api#required": {}
          }
        },
        "report_type": {
          "target": "com.gusto.api#BulkReportItemResultReportType",
          "traits": {
            "smithy.api#documentation": "Which report this entry refers to.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.gusto.api#BulkReportItemResultStatus",
          "traits": {
            "smithy.api#documentation": "The terminal state for this individual report.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single report's outcome."
      }
    },
    "com.gusto.api#BulkReportItemResultReportType": {
      "type": "enum",
      "members": {
        "CUSTOM_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_report"
          }
        },
        "GENERAL_LEDGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "general_ledger"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Which report this entry refers to."
      }
    },
    "com.gusto.api#BulkReportItemResultStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The terminal state for this individual report."
      }
    },
    "com.gusto.api#BulkReportCompanyReportsList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#BulkReportItemResult"
      },
      "traits": {}
    },
    "com.gusto.api#BulkReportCompanyStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "PARTIAL_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partial_success"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This company's overall status across its `reports`:\n- `success`: every report succeeded\n- `partial_success`: some succeeded, some failed\n- `failed`: every report failed\n- `pending`: at least one report is still being generated\n"
      }
    },
    "com.gusto.api#BulkReportCompaniesList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#BulkReportCompany"
      },
      "traits": {
        "smithy.api#documentation": "Per-company breakdown. Returned only once the batch has finished; omitted while in progress."
      }
    },
    "com.gusto.api#BulkReportStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "PARTIAL_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partial_success"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Overall batch status. `pending`/`processing` while in progress; once finished, `success` (all reports succeeded), `partial_success` (some succeeded, some failed), or `failed` (none succeeded)."
      }
    },
    "com.gusto.api#GetBulkReport": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#GetBulkReportRequest"
      },
      "output": {
        "target": "com.gusto.api#BulkReport"
      },
      "errors": [
        {
          "target": "com.gusto.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/bulk_reports/{request_uuid}",
          "code": 200
        },
        "smithy.api#documentation": "Get a bulk report batch\n\nGet a bulk report batch's status and results given the `request_uuid`. While in progress, only batch metadata is returned; once complete, it also includes a signed `report_url` (a zip of all generated reports, valid for 10 minutes) and a per-company breakdown.\n\nReports containing PHI are inaccessible with `company_reports:read:tier_2_only` data scope.\n\n📘 System Access Authentication\n\nThis endpoint uses the [Bearer Auth scheme with the system-level access token in the HTTP Authorization header](https://docs.gusto.com/embedded-payroll/docs/system-access)\n\nscope: `company_reports:read`"
      }
    },
    "com.gusto.api#GetCompaniesRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the company"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#Company": {
      "type": "structure",
      "members": {
        "company_status": {
          "target": "com.gusto.api#CompanyCompanyStatus",
          "traits": {
            "smithy.api#documentation": "The status of the company in Gusto. \"Approved\" companies are approved to run payroll from a risk and compliance perspective. However, an approved company may still need to resolve other [payroll blockers](https://docs.gusto.com/embedded-payroll/docs/payroll-blockers) to be able to run payroll. \"Not Approved\" companies may not yet run payroll with Gusto and may need to complete onboarding or contact support. \"Suspended\" companies may not run payroll with Gusto. In order to unsuspend their account, the company must contact support."
          }
        },
        "compensations": {
          "target": "com.gusto.api#CompanyCompensations",
          "traits": {
            "smithy.api#documentation": "The available company-wide compensation rates for the company."
          }
        },
        "contractor_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the company only supports contractors."
          }
        },
        "ein": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Federal Employer Identification Number of the company."
          }
        },
        "entity_type": {
          "target": "com.gusto.api#CompanyEntityType",
          "traits": {
            "smithy.api#documentation": "The tax payer type of the company.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "funding_type": {
          "target": "com.gusto.api#CompanyFundingType",
          "traits": {
            "smithy.api#documentation": "Company's default funding type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_high_risk_business": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not Gusto has identified the company as representing a high fraud risk."
          }
        },
        "is_marijuana_business": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the company is a marijuana-related business."
          }
        },
        "is_partner_managed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the company is fully managed by a partner via the API"
          }
        },
        "is_suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the company is suspended in Gusto. Suspended companies may not run payroll."
          }
        },
        "join_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Company's first invoiceable event date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "locations": {
          "target": "com.gusto.api#CompanyLocationsList",
          "traits": {
            "smithy.api#documentation": "The locations of the company."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the company."
          }
        },
        "pay_schedule_type": {
          "target": "com.gusto.api#CompanyPayScheduleType",
          "traits": {
            "smithy.api#documentation": "The pay schedule assignment type.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "primary_payroll_admin": {
          "target": "com.gusto.api#CompanyPrimaryPayrollAdmin",
          "traits": {
            "smithy.api#documentation": "The primary payroll admin of the company."
          }
        },
        "primary_signatory": {
          "target": "com.gusto.api#CompanyPrimarySignatory",
          "traits": {
            "smithy.api#documentation": "The primary signatory of the company.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the name of the company."
          }
        },
        "tier": {
          "target": "com.gusto.api#CompanyTier",
          "traits": {
            "smithy.api#documentation": "The Gusto product tier of the company (not applicable to Embedded partner managed companies).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "trade_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The trade name of the company.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier of the company in Gusto.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The representation of a company in Gusto."
      }
    },
    "com.gusto.api#CompanyCompanyStatus": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "NOT_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Not Approved"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Suspended"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the company in Gusto. \"Approved\" companies are approved to run payroll from a risk and compliance perspective. However, an approved company may still need to resolve other [payroll blockers](https://docs.gusto.com/embedded-payroll/docs/payroll-blockers) to be able to run payroll. \"Not Approved\" companies may not yet run payroll with Gusto and may need to complete onboarding or contact support. \"Suspended\" companies may not run payroll with Gusto. In order to unsuspend their account, the company must contact support."
      }
    },
    "com.gusto.api#CompanyCompensationsFixedItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the fixed compensation."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UUID of the fixed compensation.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#CompanyCompensationsFixedList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#CompanyCompensationsFixedItem"
      },
      "traits": {
        "smithy.api#documentation": "The available fixed compensation rates for the company."
      }
    },
    "com.gusto.api#CompanyCompensationsHourlyItem": {
      "type": "structure",
      "members": {
        "multiple": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount multiplied by the base rate of a job to calculate compensation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the hourly compensation rate."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UUID of the hourly compensation rate.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#CompanyCompensationsHourlyList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#CompanyCompensationsHourlyItem"
      },
      "traits": {
        "smithy.api#documentation": "The available hourly compensation rates for the company."
      }
    },
    "com.gusto.api#CompanyCompensationsPaidTimeOffItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the paid time off type."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UUID of the paid time off type.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#CompanyCompensationsPaidTimeOffList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#CompanyCompensationsPaidTimeOffItem"
      },
      "traits": {
        "smithy.api#documentation": "The available types of paid time off for the company."
      }
    },
    "com.gusto.api#CompanyCompensations": {
      "type": "structure",
      "members": {
        "fixed": {
          "target": "com.gusto.api#CompanyCompensationsFixedList",
          "traits": {
            "smithy.api#documentation": "The available fixed compensation rates for the company."
          }
        },
        "hourly": {
          "target": "com.gusto.api#CompanyCompensationsHourlyList",
          "traits": {
            "smithy.api#documentation": "The available hourly compensation rates for the company."
          }
        },
        "paid_time_off": {
          "target": "com.gusto.api#CompanyCompensationsPaidTimeOffList",
          "traits": {
            "smithy.api#documentation": "The available types of paid time off for the company."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The available company-wide compensation rates for the company."
      }
    },
    "com.gusto.api#CompanyEntityType": {
      "type": "enum",
      "members": {
        "C_CORPORATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C-Corporation"
          }
        },
        "S_CORPORATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S-Corporation"
          }
        },
        "SOLE_PROPRIETOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sole proprietor"
          }
        },
        "LLC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LLC"
          }
        },
        "LLP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LLP"
          }
        },
        "LIMITED_PARTNERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Limited partnership"
          }
        },
        "CO_OWNERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Co-ownership"
          }
        },
        "ASSOCIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Association"
          }
        },
        "TRUSTEESHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Trusteeship"
          }
        },
        "GENERAL_PARTNERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "General partnership"
          }
        },
        "JOINT_VENTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Joint venture"
          }
        },
        "NON_PROFIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Non-Profit"
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#CompanyFundingType": {
      "type": "enum",
      "members": {
        "ACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ach"
          }
        },
        "REVERSE_WIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reverse_wire"
          }
        },
        "WIRE_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wire_in"
          }
        },
        "PARTNER_DISBURSEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partner_disbursement"
          }
        },
        "RTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtp"
          }
        },
        "LINE_OF_CREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "line_of_credit"
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#CompanyAddress": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The status of the location. Inactive locations have been deleted, but may still have historical data associated with them."
          }
        },
        "city": {
          "target": "smithy.api#String"
        },
        "country": {
          "target": "smithy.api#String"
        },
        "inactive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The status of the location. Inactive locations have been deleted, but may still have historical data associated with them."
          }
        },
        "state": {
          "target": "smithy.api#String"
        },
        "street_1": {
          "target": "smithy.api#String"
        },
        "street_2": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "zip": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The representation of a company's address in Gusto."
      }
    },
    "com.gusto.api#CompanyLocationsList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#CompanyAddress"
      },
      "traits": {
        "smithy.api#documentation": "The locations of the company."
      }
    },
    "com.gusto.api#CompanyPayScheduleType": {
      "type": "enum",
      "members": {
        "SINGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "single"
          }
        },
        "HOURLY_SALARIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hourly_salaried"
          }
        },
        "BY_EMPLOYEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "by_employee"
          }
        },
        "BY_DEPARTMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "by_department"
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#CompanyPrimaryPayrollAdmin": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company's primary payroll admin's email address."
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company's primary payroll admin's first name."
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company's primary payroll admin's last name."
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company's primary payroll admin's phone number.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The primary payroll admin of the company."
      }
    },
    "com.gusto.api#CompanyPrimarySignatoryHomeAddress": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String"
        },
        "country": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "smithy.api#String"
        },
        "street_1": {
          "target": "smithy.api#String"
        },
        "street_2": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "zip": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The company's primary signatory's home address."
      }
    },
    "com.gusto.api#CompanyPrimarySignatory": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company's primary signatory's email address."
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company's primary signatory's first name."
          }
        },
        "home_address": {
          "target": "com.gusto.api#CompanyPrimarySignatoryHomeAddress",
          "traits": {
            "smithy.api#documentation": "The company's primary signatory's home address."
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company's primary signatory's last name."
          }
        },
        "middle_initial": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company's primary signatory's middle initial.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company's primary signatory's phone number."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UUID of the company's primary signatory."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The primary signatory of the company."
      }
    },
    "com.gusto.api#CompanyTier": {
      "type": "enum",
      "members": {
        "SIMPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "simple"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "premium"
          }
        },
        "CORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "core"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "complete"
          }
        },
        "CONCIERGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "concierge"
          }
        },
        "CONTRACTOR_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contractor_only"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Gusto product tier of the company (not applicable to Embedded partner managed companies)."
      }
    },
    "com.gusto.api#GetCompanies": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#GetCompaniesRequest"
      },
      "output": {
        "target": "com.gusto.api#Company"
      },
      "errors": [
        {
          "target": "com.gusto.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/companies/{company_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a company\n\nGet a company.\n\nThe employees:read scope is required to return home_address and non-work locations.\nThe company_admin:read scope is required to return primary_payroll_admin.\nThe signatories:read scope is required to return primary_signatory.\n\nscope: `companies:read`"
      }
    },
    "com.gusto.api#PutCompaniesRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the company"
          }
        },
        "contractor_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the company only supports contractors. Must be updated in order for the company to start supporting W-2 employees. Can only be updated from true to false. Note that updating this value will require additional onboarding steps to be completed in order for the company to support W-2 employees.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#PutCompanies": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#PutCompaniesRequest"
      },
      "output": {
        "target": "com.gusto.api#Company"
      },
      "errors": [
        {
          "target": "com.gusto.api#NotFound"
        },
        {
          "target": "com.gusto.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/companies/{company_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a company\n\nUpdate a company.\n\nscope: `companies:write`"
      }
    },
    "com.gusto.api#GetCompanyAdminsRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the company"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page that is requested. When unspecified, will load all objects unless endpoint forces pagination."
          }
        },
        "per": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per",
            "smithy.api#documentation": "Number of objects per page. For majority of endpoints will default to 25"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#Admin": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the admin for Gusto's system."
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first name of the admin."
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last name of the admin."
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phone number of the admin.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique id of the admin.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The representation of an admin user in Gusto."
      }
    },
    "com.gusto.api#GetCompanyAdminsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#Admin"
      },
      "traits": {}
    },
    "com.gusto.api#GetCompanyAdminsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gusto.api#GetCompanyAdminsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.gusto.api#GetCompanyAdmins": {
[...]
