{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.temporal.cloud#V1GetAccountResponse": {
      "type": "structure",
      "members": {
        "account": {
          "target": "com.temporal.cloud#V1Account"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1Account": {
      "type": "structure",
      "members": {
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the async operation that is updating the account, if any."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the account."
          }
        },
        "metrics": {
          "target": "com.temporal.cloud#V1Metrics"
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current version of the account specification.\nThe next update operation will have to include this version."
          }
        },
        "spec": {
          "target": "com.temporal.cloud#V1AccountSpec"
        },
        "state": {
          "target": "com.temporal.cloud#V1ResourceState"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1Metrics": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prometheus metrics endpoint uri.\nThis is only populated when the metrics is enabled in the metrics specification."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1AccountSpec": {
      "type": "structure",
      "members": {
        "authenticationSettings": {
          "target": "com.temporal.cloud#V1AuthenticationSettings"
        },
        "metrics": {
          "target": "com.temporal.cloud#V1MetricsSpec"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1AuthenticationSettings": {
      "type": "structure",
      "members": {
        "restrictSessionLifetimes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Restricts Cloud web UI session lifetimes for users in this account."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1MetricsSpec": {
      "type": "structure",
      "members": {
        "acceptedClientCa": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ca cert(s) in PEM format that clients connecting to the metrics endpoint can use for authentication.\nThis must only be one value, but the CA can have a chain."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1ResourceState": {
      "type": "enum",
      "members": {
        "RESOURCE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_STATE_UNSPECIFIED"
          }
        },
        "RESOURCE_STATE_ACTIVATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_STATE_ACTIVATING"
          }
        },
        "RESOURCE_STATE_ACTIVATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_STATE_ACTIVATION_FAILED"
          }
        },
        "RESOURCE_STATE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_STATE_ACTIVE"
          }
        },
        "RESOURCE_STATE_UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_STATE_UPDATING"
          }
        },
        "RESOURCE_STATE_UPDATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_STATE_UPDATE_FAILED"
          }
        },
        "RESOURCE_STATE_DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_STATE_DELETING"
          }
        },
        "RESOURCE_STATE_DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_STATE_DELETE_FAILED"
          }
        },
        "RESOURCE_STATE_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_STATE_DELETED"
          }
        },
        "RESOURCE_STATE_SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_STATE_SUSPENDED"
          }
        },
        "RESOURCE_STATE_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_STATE_EXPIRED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " - RESOURCE_STATE_ACTIVATING: The resource is being activated.\n - RESOURCE_STATE_ACTIVATION_FAILED: The resource failed to activate. This is an error state. Reach out to support for remediation.\n - RESOURCE_STATE_ACTIVE: The resource is active and ready to use.\n - RESOURCE_STATE_UPDATING: The resource is being updated.\n - RESOURCE_STATE_UPDATE_FAILED: The resource failed to update. This is an error state. Reach out to support for remediation.\n - RESOURCE_STATE_DELETING: The resource is being deleted.\n - RESOURCE_STATE_DELETE_FAILED: The resource failed to delete. This is an error state. Reach out to support for remediation.\n - RESOURCE_STATE_DELETED: The resource has been deleted.\n - RESOURCE_STATE_SUSPENDED: The resource is suspended and not available for use. Reach out to support for remediation.\n - RESOURCE_STATE_EXPIRED: The resource has expired and is no longer available for use."
      }
    },
    "com.temporal.cloud#GetAccount": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.temporal.cloud#V1GetAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/account",
          "code": 200
        },
        "smithy.api#documentation": "Get account details\n\nReturns detailed information about the account"
      }
    },
    "com.temporal.cloud#UpdateAccountRequest": {
      "type": "structure",
      "members": {
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id to use for this async operation.\nOptional, if not provided a random id will be generated."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the account for which this update is intended for.\nThe latest version can be found in the GetAccount operation response."
          }
        },
        "spec": {
          "target": "com.temporal.cloud#V1AccountSpec"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1UpdateAccountResponse": {
      "type": "structure",
      "members": {
        "asyncOperation": {
          "target": "com.temporal.cloud#V1AsyncOperation"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1AsyncOperation": {
      "type": "structure",
      "members": {
        "checkDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recommended duration to check back for an update in the operation's state."
          }
        },
        "failureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the operation failed, the reason for the failure."
          }
        },
        "finishedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the operation completed."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation id."
          }
        },
        "operationInput": {
          "target": "com.temporal.cloud#ProtobufAny"
        },
        "operationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of operation being performed."
          }
        },
        "startedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the operation initiated."
          }
        },
        "state": {
          "target": "com.temporal.cloud#V1AsyncOperationState"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#ProtobufAny": {
      "type": "structure",
      "members": {
        "_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics.",
            "smithy.api#jsonName": "@type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
      }
    },
    "com.temporal.cloud#V1AsyncOperationState": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_PENDING"
          }
        },
        "STATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_IN_PROGRESS"
          }
        },
        "STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_FAILED"
          }
        },
        "STATE_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_CANCELLED"
          }
        },
        "STATE_FULFILLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_FULFILLED"
          }
        },
        "STATE_REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_REJECTED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " - STATE_PENDING: The operation is pending.\n - STATE_IN_PROGRESS: The operation is in progress.\n - STATE_FAILED: The operation failed, check failure_reason for more details.\n - STATE_CANCELLED: The operation was cancelled.\n - STATE_FULFILLED: The operation was fulfilled.\n - STATE_REJECTED: The operation was rejected."
      }
    },
    "com.temporal.cloud#UpdateAccount": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#UpdateAccountRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1UpdateAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cloud/account",
          "code": 200
        },
        "smithy.api#documentation": "Update account details\n\nUpdates account configuration and settings"
      }
    },
    "com.temporal.cloud#ListApiKeysRequestOwnerType": {
      "type": "enum",
      "members": {
        "OWNER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER_TYPE_UNSPECIFIED"
          }
        },
        "OWNER_TYPE_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER_TYPE_USER"
          }
        },
        "OWNER_TYPE_SERVICE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER_TYPE_SERVICE_ACCOUNT"
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#ListApiKeysRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "The requested size of the page to retrieve - optional.\nCannot exceed 1000. Defaults to 100."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageToken",
            "smithy.api#documentation": "The page token if this is continuing from another response - optional."
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ownerId",
            "smithy.api#documentation": "Filter api keys by owner id - optional."
          }
        },
        "ownerType": {
          "target": "com.temporal.cloud#ListApiKeysRequestOwnerType",
          "traits": {
            "smithy.api#httpQuery": "ownerType",
            "smithy.api#documentation": "Filter api keys by owner type - optional.\n\n - OWNER_TYPE_USER: The owner is a user.\n - OWNER_TYPE_SERVICE_ACCOUNT: The owner is a service account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1GetApiKeysResponse": {
      "type": "structure",
      "members": {
        "apiKeys": {
          "target": "com.temporal.cloud#V1GetApiKeysResponseApiKeysList",
          "traits": {
            "smithy.api#documentation": "The list of api keys in ascending id order."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next page's token."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1ApiKey": {
      "type": "structure",
      "members": {
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the async operation that is creating/updating/deleting the API key, if any."
          }
        },
        "createdTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the API key was created."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the API Key."
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the API key was last modified.\nWill not be set if the API key has never been modified."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current version of the API key specification.\nThe next update operation will have to include this version."
          }
        },
        "spec": {
          "target": "com.temporal.cloud#V1ApiKeySpec"
        },
        "state": {
          "target": "com.temporal.cloud#V1ResourceState"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1ApiKeySpec": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the API key."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the API key is disabled."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the API key."
          }
        },
        "expiryTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiry time of the API key."
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the owner to create the API key for.\nThe owner id is immutable. Once set during creation, it cannot be changed.\nThe owner id is the id of the user when the owner type is user.\nThe owner id is the id of the service account when the owner type is service account."
          }
        },
        "ownerType": {
          "target": "com.temporal.cloud#V1OwnerType"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1OwnerType": {
      "type": "enum",
      "members": {
        "OWNER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER_TYPE_UNSPECIFIED"
          }
        },
        "OWNER_TYPE_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER_TYPE_USER"
          }
        },
        "OWNER_TYPE_SERVICE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER_TYPE_SERVICE_ACCOUNT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " - OWNER_TYPE_USER: The owner is a user.\n - OWNER_TYPE_SERVICE_ACCOUNT: The owner is a service account."
      }
    },
    "com.temporal.cloud#V1GetApiKeysResponseApiKeysList": {
      "type": "list",
      "member": {
        "target": "com.temporal.cloud#V1ApiKey"
      },
      "traits": {
        "smithy.api#documentation": "The list of api keys in ascending id order."
      }
    },
    "com.temporal.cloud#ListApiKeys": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#ListApiKeysRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1GetApiKeysResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/api-keys",
          "code": 200
        },
        "smithy.api#documentation": "List all API keys\n\nReturns a list of all API keys in the account",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken",
          "items": "apiKeys",
          "pageSize": "pageSize"
        }
      }
    },
    "com.temporal.cloud#CreateApiKeyRequest": {
      "type": "structure",
      "members": {
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id to use for this async operation - optional."
          }
        },
        "spec": {
          "target": "com.temporal.cloud#V1ApiKeySpec"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1CreateApiKeyResponse": {
      "type": "structure",
      "members": {
        "asyncOperation": {
          "target": "com.temporal.cloud#V1AsyncOperation"
        },
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the api key created."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token of the api key created.\nThis is a secret and should be stored securely.\nIt will not be retrievable after this response.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#CreateApiKey": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#CreateApiKeyRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1CreateApiKeyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cloud/api-keys",
          "code": 200
        },
        "smithy.api#documentation": "Create an API key\n\nCreates a new API key for programmatic access"
      }
    },
    "com.temporal.cloud#GetApiKeyRequest": {
      "type": "structure",
      "members": {
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The id of the api key to get."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1GetApiKeyResponse": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "com.temporal.cloud#V1ApiKey"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#GetApiKey": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#GetApiKeyRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1GetApiKeyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/api-keys/{keyId}",
          "code": 200
        },
        "smithy.api#documentation": "Get API key details\n\nReturns detailed information about a specific API key"
      }
    },
    "com.temporal.cloud#UpdateApiKeyRequest": {
      "type": "structure",
      "members": {
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The id of the api key to update."
          }
        },
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id to use for this async operation - optional."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the api key for which this update is intended for.\nThe latest version can be found in the GetApiKey operation response."
          }
        },
        "spec": {
          "target": "com.temporal.cloud#V1ApiKeySpec"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1UpdateApiKeyResponse": {
      "type": "structure",
      "members": {
        "asyncOperation": {
          "target": "com.temporal.cloud#V1AsyncOperation"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#UpdateApiKey": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#UpdateApiKeyRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1UpdateApiKeyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cloud/api-keys/{keyId}",
          "code": 200
        },
        "smithy.api#documentation": "Update an API key\n\nUpdates an existing API key's properties"
      }
    },
    "com.temporal.cloud#DeleteApiKeyRequest": {
      "type": "structure",
      "members": {
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The id of the api key to delete."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceVersion",
            "smithy.api#documentation": "The version of the api key for which this delete is intended for.\nThe latest version can be found in the GetApiKey operation response."
          }
        },
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "asyncOperationId",
            "smithy.api#documentation": "The id to use for this async operation - optional."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1DeleteApiKeyResponse": {
      "type": "structure",
      "members": {
        "asyncOperation": {
          "target": "com.temporal.cloud#V1AsyncOperation"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#DeleteApiKey": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#DeleteApiKeyRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1DeleteApiKeyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/cloud/api-keys/{keyId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an API key\n\nRevokes and deletes an API key"
      }
    },
    "com.temporal.cloud#V1AuditLogSinkSpec": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enabled indicates whether the sink is enabled or not."
          }
        },
        "kinesisSink": {
          "target": "com.temporal.cloud#V1KinesisSpec"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "pubSubSink": {
          "target": "com.temporal.cloud#V1PubSubSpec"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1KinesisSpec": {
      "type": "structure",
      "members": {
        "destinationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination Kinesis endpoint arn for temporal to send data to."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sink's region."
          }
        },
        "roleName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1PubSubSpec": {
      "type": "structure",
      "members": {
        "gcpProjectId": {
          "target": "smithy.api#String"
        },
        "serviceAccountId": {
          "target": "smithy.api#String"
        },
        "topicName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#ValidateAccountAuditLogSinkRequest": {
      "type": "structure",
      "members": {
        "spec": {
          "target": "com.temporal.cloud#V1AuditLogSinkSpec"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#ValidateAccountAuditLogSinkResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.temporal.cloud#ValidateAccountAuditLogSink": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#ValidateAccountAuditLogSinkRequest"
      },
      "output": {
        "target": "com.temporal.cloud#ValidateAccountAuditLogSinkResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cloud/audit-log-sink-validate",
          "code": 200
        },
        "smithy.api#documentation": "Validate audit log sink\n\nValidate customer audit log sink is accessible from Temporal's workflow by delivering an empty file to the specified sink. The operation verifies that the sink is correctly configured, accessible and ready to receive audit logs."
      }
    },
    "com.temporal.cloud#ListAccountAuditLogSinksRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "The requested size of the page to retrieve. Cannot exceed 1000.\nDefaults to 100 if not specified."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageToken",
            "smithy.api#documentation": "The page token if this is continuing from another response - optional."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1GetAccountAuditLogSinksResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next page token, set if there is another page."
          }
        },
        "sinks": {
          "target": "com.temporal.cloud#V1GetAccountAuditLogSinksResponseSinksList",
          "traits": {
            "smithy.api#documentation": "The list of audit log sinks retrieved."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1AuditLogSink": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An error message describing any issues with the audit log sink, if applicable."
          }
        },
        "health": {
          "target": "com.temporal.cloud#V1AuditLogSinkHealth"
        },
        "lastSucceededTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last succeeded timestamp for the internal workflow responsible for adding data to the sink."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the audit log sink resource."
          }
        },
        "spec": {
          "target": "com.temporal.cloud#V1AuditLogSinkSpec"
        },
        "state": {
          "target": "com.temporal.cloud#V1ResourceState"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1AuditLogSinkHealth": {
      "type": "enum",
      "members": {
        "HEALTH_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTH_UNSPECIFIED"
          }
        },
        "HEALTH_OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTH_OK"
          }
        },
        "HEALTH_ERROR_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTH_ERROR_INTERNAL"
          }
        },
        "HEALTH_ERROR_USER_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTH_ERROR_USER_CONFIGURATION"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The health status of the audit log sink.\n\n - HEALTH_OK: The audit log sink is healthy and functioning correctly.\n - HEALTH_ERROR_INTERNAL: The audit log sink has an internal error.\n - HEALTH_ERROR_USER_CONFIGURATION: The audit log sink has a configuration error."
      }
    },
    "com.temporal.cloud#V1GetAccountAuditLogSinksResponseSinksList": {
      "type": "list",
      "member": {
        "target": "com.temporal.cloud#V1AuditLogSink"
      },
      "traits": {
        "smithy.api#documentation": "The list of audit log sinks retrieved."
      }
    },
    "com.temporal.cloud#ListAccountAuditLogSinks": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#ListAccountAuditLogSinksRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1GetAccountAuditLogSinksResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/audit-log-sinks",
          "code": 200
        },
        "smithy.api#documentation": "List audit log sinks\n\nReturns a list of all audit log sinks for the account",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken",
          "items": "sinks",
          "pageSize": "pageSize"
        }
      }
    },
    "com.temporal.cloud#CreateAccountAuditLogSinkRequest": {
      "type": "structure",
      "members": {
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID to use for this async operation."
          }
        },
        "spec": {
          "target": "com.temporal.cloud#V1AuditLogSinkSpec"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1CreateAccountAuditLogSinkResponse": {
      "type": "structure",
      "members": {
        "asyncOperation": {
          "target": "com.temporal.cloud#V1AsyncOperation"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#CreateAccountAuditLogSink": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#CreateAccountAuditLogSinkRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1CreateAccountAuditLogSinkResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cloud/audit-log-sinks",
          "code": 200
        },
        "smithy.api#documentation": "Create audit log sink\n\nCreates a new audit log sink for exporting audit logs"
      }
    },
    "com.temporal.cloud#GetAccountAuditLogSinkRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the sink to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1GetAccountAuditLogSinkResponse": {
      "type": "structure",
      "members": {
        "sink": {
          "target": "com.temporal.cloud#V1AuditLogSink"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#GetAccountAuditLogSink": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#GetAccountAuditLogSinkRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1GetAccountAuditLogSinkResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/audit-log-sinks/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Get audit log sink details\n\nReturns detailed information about a specific audit log sink"
      }
    },
    "com.temporal.cloud#UpdateAccountAuditLogSinkRequestSpec": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enabled indicates whether the sink is enabled or not."
          }
        },
        "kinesisSink": {
          "target": "com.temporal.cloud#V1KinesisSpec"
        },
        "pubSubSink": {
          "target": "com.temporal.cloud#V1PubSubSpec"
        }
      },
      "traits": {
        "smithy.api#documentation": "The updated audit log sink specification."
      }
    },
    "com.temporal.cloud#UpdateAccountAuditLogSinkRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the sink e.g. \"audit_log_01\""
          }
        },
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID to use for this async operation - optional."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the audit log sink to update. The latest version can be\nretrieved using the GetAuditLogSink call."
          }
        },
        "spec": {
          "target": "com.temporal.cloud#UpdateAccountAuditLogSinkRequestSpec",
          "traits": {
            "smithy.api#documentation": "The updated audit log sink specification."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1UpdateAccountAuditLogSinkResponse": {
      "type": "structure",
      "members": {
        "asyncOperation": {
          "target": "com.temporal.cloud#V1AsyncOperation"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#UpdateAccountAuditLogSink": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#UpdateAccountAuditLogSinkRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1UpdateAccountAuditLogSinkResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cloud/audit-log-sinks/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Update audit log sink\n\nUpdates an existing audit log sink's configuration"
      }
    },
    "com.temporal.cloud#DeleteAccountAuditLogSinkRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the sink to delete."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceVersion",
            "smithy.api#documentation": "The version of the sink to delete. The latest version can be\nretrieved using the GetAccountAuditLogSink call."
          }
        },
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "asyncOperationId",
            "smithy.api#documentation": "The ID to use for this async operation - optional."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1DeleteAccountAuditLogSinkResponse": {
      "type": "structure",
      "members": {
        "asyncOperation": {
          "target": "com.temporal.cloud#V1AsyncOperation"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#DeleteAccountAuditLogSink": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#DeleteAccountAuditLogSinkRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1DeleteAccountAuditLogSinkResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/cloud/audit-log-sinks/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Delete audit log sink\n\nRemoves an audit log sink from the account"
      }
    },
    "com.temporal.cloud#ListAuditLogsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "The requested size of the page to retrieve - optional.\nCannot exceed 1000. Defaults to 100."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageToken",
            "smithy.api#documentation": "The page token if this is continuing from another response - optional."
          }
        },
        "startTimeInclusive": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "startTimeInclusive",
            "smithy.api#documentation": "Filter for UTC time >= (defaults to 30 days ago) - optional."
          }
        },
        "endTimeExclusive": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "endTimeExclusive",
            "smithy.api#documentation": "Filter for UTC time < (defaults to current time) - optional."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1GetAuditLogsResponse": {
      "type": "structure",
      "members": {
        "logs": {
          "target": "com.temporal.cloud#V1GetAuditLogsResponseLogsList"
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next page's token."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1LogRecord": {
      "type": "structure",
      "members": {
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the async operation."
          }
        },
        "emitTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the log was emitted."
          }
        },
        "logId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID for the log record."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation performed."
          }
        },
        "principal": {
          "target": "com.temporal.cloud#V1Principal"
        },
        "rawDetails": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The raw details of the operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the operation."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The internal version of the log message.  Can be used in deduplication if needed."
          }
        },
        "xForwardedFor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The originating IP address of the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LogRecord represents an audit log entry from Temporal, structured for easy parsing and analysis."
      }
    },
    "com.temporal.cloud#V1Principal": {
      "type": "structure",
      "members": {
        "apiKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The api key id of the principal if provided."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the principal."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the principal."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the principal. \nPossible type values: user, serviceaccount."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1GetAuditLogsResponseLogsList": {
      "type": "list",
      "member": {
        "target": "com.temporal.cloud#V1LogRecord"
      },
      "traits": {}
    },
    "com.temporal.cloud#ListAuditLogs": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#ListAuditLogsRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1GetAuditLogsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/audit-logs",
          "code": 200
        },
        "smithy.api#documentation": "Get audit logs\n\nReturns a paginated list of audit logs for the account, optionally filtered by time range",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken",
          "items": "logs",
          "pageSize": "pageSize"
        }
      }
    },
    "com.temporal.cloud#V1BillingReportSpec": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description for the billing report.\nOptional, default is empty."
          }
        },
        "downloadUrlExpirationDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration after which the download url will expire.\nOptional, default is 5 minutes and maximum is 1 hour."
          }
        },
        "endTimeExclusive": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the billing report (in UTC)."
          }
        },
        "granularity": {
          "target": "com.temporal.cloud#BillingReportSpecBillingReportGranularity"
        },
        "startTimeInclusive": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the billing report (in UTC)."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#BillingReportSpecBillingReportGranularity": {
      "type": "enum",
      "members": {
        "BILLING_REPORT_GRANULARITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_REPORT_GRANULARITY_UNSPECIFIED"
          }
        },
        "BILLING_REPORT_GRANULARITY_HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_REPORT_GRANULARITY_HOURLY"
          }
        },
        "BILLING_REPORT_GRANULARITY_DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_REPORT_GRANULARITY_DAILY"
          }
        },
        "BILLING_REPORT_GRANULARITY_MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_REPORT_GRANULARITY_MONTHLY"
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#CreateBillingReportRequest": {
      "type": "structure",
      "members": {
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional, if not provided a random id will be generated."
          }
        },
        "spec": {
          "target": "com.temporal.cloud#V1BillingReportSpec"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1CreateBillingReportResponse": {
      "type": "structure",
      "members": {
        "asyncOperation": {
          "target": "com.temporal.cloud#V1AsyncOperation"
        },
        "billingReportId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the billing report created."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#CreateBillingReport": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#CreateBillingReportRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1CreateBillingReportResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cloud/billing-reports",
          "code": 200
        },
        "smithy.api#documentation": "Create a billing report\n\nCreates a billing report for the account"
      }
    },
    "com.temporal.cloud#GetBillingReportRequest": {
      "type": "structure",
      "members": {
        "billingReportId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The id of the billing report to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1GetBillingReportResponse": {
      "type": "structure",
      "members": {
        "billingReport": {
          "target": "com.temporal.cloud#V1BillingReport"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1BillingReport": {
      "type": "structure",
      "members": {
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The async operation id associated with the billing report generation."
          }
        },
        "downloadInfo": {
          "target": "com.temporal.cloud#V1BillingReportDownloadInfoList"
        },
        "generatedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the billing report generation completed."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the billing report."
          }
        },
        "requestedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the billing report was requested."
          }
        },
        "spec": {
          "target": "com.temporal.cloud#V1BillingReportSpec"
        },
        "state": {
          "target": "com.temporal.cloud#BillingReportBillingReportState"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#BillingReportDownload": {
      "type": "structure",
      "members": {
        "fileFormat": {
          "target": "com.temporal.cloud#DownloadFileFormat"
        },
        "fileSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The size of the file in bytes. Useful for pre-allocating space, progress indicators, etc."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The download url."
          }
        },
        "urlExpirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the download url will expire."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#DownloadFileFormat": {
      "type": "enum",
      "members": {
        "FILE_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_FORMAT_UNSPECIFIED"
          }
        },
        "FILE_FORMAT_CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_FORMAT_CSV"
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1BillingReportDownloadInfoList": {
      "type": "list",
      "member": {
        "target": "com.temporal.cloud#BillingReportDownload"
      },
      "traits": {}
    },
    "com.temporal.cloud#BillingReportBillingReportState": {
      "type": "enum",
      "members": {
        "BILLING_REPORT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_REPORT_STATE_UNSPECIFIED"
          }
        },
        "BILLING_REPORT_STATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_REPORT_STATE_IN_PROGRESS"
          }
        },
        "BILLING_REPORT_STATE_GENERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_REPORT_STATE_GENERATED"
          }
        },
        "BILLING_REPORT_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_REPORT_STATE_FAILED"
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#GetBillingReport": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#GetBillingReportRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1GetBillingReportResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/billing-reports/{billingReportId}",
          "code": 200
        },
        "smithy.api#documentation": "Get a billing report\n\nGets an existing billing report for the account"
      }
    },
    "com.temporal.cloud#ListConnectivityRulesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "The requested size of the page to retrieve.\nOptional, defaults to 100."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageToken",
            "smithy.api#documentation": "The page token if this is continuing from another response.\nOptional, defaults to empty."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "namespace",
            "smithy.api#documentation": "Filter connectivity rule by the namespace id."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#documentation": "Filter connectivity rules by project id - optional."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1GetConnectivityRulesResponse": {
      "type": "structure",
      "members": {
        "connectivityRules": {
          "target": "com.temporal.cloud#V1GetConnectivityRulesResponseConnectivityRulesList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1ConnectivityRule": {
      "type": "structure",
      "members": {
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the async operation that is creating/updating/deleting the connectivity rule, if any."
          }
        },
        "createdTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the connectivity rule was created."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the private connectivity rule."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project this connectivity rule belongs to."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current version of the connectivity rule specification.\nThe next update operation will have to include this version."
          }
        },
        "spec": {
          "target": "com.temporal.cloud#V1ConnectivityRuleSpec"
        },
        "state": {
          "target": "com.temporal.cloud#V1ResourceState"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1ConnectivityRuleSpec": {
      "type": "structure",
      "members": {
        "privateRule": {
          "target": "com.temporal.cloud#V1PrivateConnectivityRule"
        },
        "publicRule": {
          "target": "com.temporal.cloud#V1PublicConnectivityRule"
        }
      },
      "traits": {
        "smithy.api#documentation": "The connectivity rule specification passed in on create/update operations."
      }
    },
    "com.temporal.cloud#V1PrivateConnectivityRule": {
      "type": "structure",
      "members": {
        "azurePeResourceId": {
          "target": "smithy.api#String"
        },
        "connectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection id provided by user to enforce the private connectivity.\nFor AWS: VPC endpoint ID (e.g. \"vpce-0123456789abcdef0\").\nFor GCP: PSC connection ID (numeric string).\nFor Azure: not set by the customer; populated internally with the PPv2 LinkID\nreturned by the infra plane during Private Endpoint connection approval."
          }
        },
        "gcpProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For GCP private connectivity service, GCP needs both GCP project id and the Private Service Connect Connection IDs.\nAWS only needs the connection_id."
          }
        },
        "region": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A private connectivity rule allows connections from a specific private vpc only."
      }
    },
    "com.temporal.cloud#V1PublicConnectivityRule": {
      "type": "structure",
      "members": {
        "enableStableIps": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "A public connectivity rule allows access to the namespace via the public internet."
      }
    },
    "com.temporal.cloud#V1GetConnectivityRulesResponseConnectivityRulesList": {
      "type": "list",
      "member": {
        "target": "com.temporal.cloud#V1ConnectivityRule"
      },
      "traits": {}
    },
    "com.temporal.cloud#ListConnectivityRules": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#ListConnectivityRulesRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1GetConnectivityRulesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/connectivity-rules",
          "code": 200
        },
        "smithy.api#documentation": "List all connectivity rules\n\nReturns a list of all connectivity rules in the account",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken",
          "items": "connectivityRules",
          "pageSize": "pageSize"
        }
      }
    },
    "com.temporal.cloud#CreateConnectivityRuleRequest": {
      "type": "structure",
      "members": {
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id to use for this async operation.\nOptional, if not provided a random id will be generated."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project this connectivity rule belongs to - optional.\nIf not set, the connectivity rule will be created in the account's default project."
          }
        },
        "spec": {
          "target": "com.temporal.cloud#V1ConnectivityRuleSpec"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1CreateConnectivityRuleResponse": {
      "type": "structure",
      "members": {
        "asyncOperation": {
          "target": "com.temporal.cloud#V1AsyncOperation"
        },
        "connectivityRuleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the connectivity rule that was created."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#CreateConnectivityRule": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#CreateConnectivityRuleRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1CreateConnectivityRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cloud/connectivity-rules",
          "code": 200
        },
        "smithy.api#documentation": "Create connectivity rule\n\nCreates a new connectivity rule for network access control"
      }
    },
    "com.temporal.cloud#GetConnectivityRuleRequest": {
      "type": "structure",
      "members": {
        "connectivityRuleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The id of the connectivity rule to get."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1GetConnectivityRuleResponse": {
      "type": "structure",
      "members": {
        "connectivityRule": {
          "target": "com.temporal.cloud#V1ConnectivityRule"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#GetConnectivityRule": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#GetConnectivityRuleRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1GetConnectivityRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/connectivity-rules/{connectivityRuleId}",
          "code": 200
        },
        "smithy.api#documentation": "Get connectivity rule details\n\nReturns detailed information about a specific connectivity rule"
      }
    },
    "com.temporal.cloud#DeleteConnectivityRuleRequest": {
      "type": "structure",
      "members": {
        "connectivityRuleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the connectivity rule that need be deleted, required."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceVersion",
            "smithy.api#documentation": "The resource version which should be the same from the the db, required\nThe latest version can be found in the GetConnectivityRule operation response"
          }
        },
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "asyncOperationId",
            "smithy.api#documentation": "The id to use for this async operation.\nOptional, if not provided a random id will be generated."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1DeleteConnectivityRuleResponse": {
      "type": "structure",
      "members": {
        "asyncOperation": {
          "target": "com.temporal.cloud#V1AsyncOperation"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#DeleteConnectivityRule": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#DeleteConnectivityRuleRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1DeleteConnectivityRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/cloud/connectivity-rules/{connectivityRuleId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete connectivity rule\n\nRemoves a connectivity rule from the account"
      }
    },
    "com.temporal.cloud#V1GetCurrentIdentityResponse": {
      "type": "structure",
      "members": {
        "principalApiKey": {
          "target": "com.temporal.cloud#V1ApiKey"
        },
        "serviceAccount": {
          "target": "com.temporal.cloud#V1ServiceAccount"
        },
        "user": {
          "target": "com.temporal.cloud#V1User"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1ServiceAccount": {
      "type": "structure",
      "members": {
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the async operation that is creating/updating/deleting the service account, if any."
          }
        },
        "createdTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the service account was created."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the service account."
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the service account was last modified\nWill not be set if the service account has never been modified."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current version of the service account specification.\nThe next update operation will have to include this version."
          }
        },
        "spec": {
          "target": "com.temporal.cloud#V1ServiceAccountSpec"
        },
        "state": {
          "target": "com.temporal.cloud#V1ResourceState"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1ServiceAccountSpec": {
      "type": "structure",
      "members": {
        "access": {
          "target": "com.temporal.cloud#V1Access"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description associated with the service account - optional.\nThe description is mutable."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name associated with the service account.\nThe name is mutable, but must be unique across all your active service accounts."
          }
        },
        "namespaceScopedAccess": {
          "target": "com.temporal.cloud#V1NamespaceScopedAccess"
        },
        "projectScopedAccess": {
          "target": "com.temporal.cloud#V1ProjectScopedAccess"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1Access": {
      "type": "structure",
      "members": {
        "accountAccess": {
          "target": "com.temporal.cloud#V1AccountAccess"
        },
        "namespaceAccesses": {
          "target": "com.temporal.cloud#V1AccessNamespaceAccessesMap"
        },
        "projectAccesses": {
          "target": "com.temporal.cloud#V1AccessProjectAccessesMap"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1AccountAccess": {
      "type": "structure",
      "members": {
        "customRoles": {
          "target": "com.temporal.cloud#V1AccountAccessCustomRolesList"
        },
        "role": {
          "target": "com.temporal.cloud#AccountAccessRole"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1AccountAccessCustomRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.temporal.cloud#AccountAccessRole": {
      "type": "enum",
      "members": {
        "ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_UNSPECIFIED"
          }
        },
        "ROLE_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_OWNER"
          }
        },
        "ROLE_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_ADMIN"
          }
        },
        "ROLE_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_DEVELOPER"
          }
        },
        "ROLE_FINANCE_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_FINANCE_ADMIN"
          }
        },
        "ROLE_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_READ"
          }
        },
        "ROLE_METRICS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_METRICS_READ"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " - ROLE_OWNER: Gives full access to the account, including users, namespaces, and billing.\n - ROLE_ADMIN: Gives full access to the account, including users and namespaces.\n - ROLE_DEVELOPER: Gives access to create namespaces on the account.\n - ROLE_FINANCE_ADMIN: Gives read only access and write access for billing.\n - ROLE_READ: Gives read only access to the account.\n - ROLE_METRICS_READ: Gives read only access to the account metrics."
      }
    },
    "com.temporal.cloud#V1NamespaceAccess": {
      "type": "structure",
      "members": {
        "permission": {
          "target": "com.temporal.cloud#V1NamespaceAccessPermission"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1NamespaceAccessPermission": {
      "type": "enum",
      "members": {
        "PERMISSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_UNSPECIFIED"
          }
        },
        "PERMISSION_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_ADMIN"
          }
        },
        "PERMISSION_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_WRITE"
          }
        },
        "PERMISSION_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_READ"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " - PERMISSION_ADMIN: Gives full access to the namespace, including assigning namespace access to other users.\n - PERMISSION_WRITE: Gives write access to the namespace configuration and workflows within the namespace.\n - PERMISSION_READ: Gives read only access to the namespace configuration and workflows within the namespace."
      }
    },
    "com.temporal.cloud#V1AccessNamespaceAccessesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.temporal.cloud#V1NamespaceAccess"
      },
      "traits": {}
    },
    "com.temporal.cloud#V1ProjectAccess": {
      "type": "structure",
      "members": {
        "role": {
          "target": "com.temporal.cloud#ProjectAccessProjectRole"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#ProjectAccessProjectRole": {
      "type": "enum",
      "members": {
        "PROJECT_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_ROLE_UNSPECIFIED"
          }
        },
        "PROJECT_ROLE_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_ROLE_ADMIN"
          }
        },
        "PROJECT_ROLE_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_ROLE_WRITE"
          }
        },
        "PROJECT_ROLE_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_ROLE_READ"
          }
        },
        "PROJECT_ROLE_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_ROLE_LIST"
          }
        },
        "PROJECT_ROLE_CONTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_ROLE_CONTRIBUTE"
          }
        },
        "PROJECT_ROLE_MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_ROLE_MEMBER"
          }
        },
        "PROJECT_ROLE_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_ROLE_DEVELOPER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " - PROJECT_ROLE_ADMIN: Full access to the project, including managing project membership.\n - PROJECT_ROLE_WRITE: Write access to project resources.\n - PROJECT_ROLE_READ: Read-only access to project resources.\n - PROJECT_ROLE_LIST: Access to list resources within the project.\n - PROJECT_ROLE_CONTRIBUTE: Access to contribute to workflows within the project.\n - PROJECT_ROLE_MEMBER: Basic membership; grants read-only access to the project.\n - PROJECT_ROLE_DEVELOPER: Inherited from the account developer role; cannot be assigned directly."
      }
    },
    "com.temporal.cloud#V1AccessProjectAccessesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.temporal.cloud#V1ProjectAccess"
      },
      "traits": {}
    },
    "com.temporal.cloud#V1NamespaceScopedAccess": {
      "type": "structure",
      "members": {
        "access": {
          "target": "com.temporal.cloud#V1NamespaceAccess"
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The namespace the service account is assigned to - immutable."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1ProjectScopedAccess": {
      "type": "structure",
      "members": {
        "access": {
          "target": "com.temporal.cloud#V1ProjectAccess"
        },
        "namespaceAccesses": {
          "target": "com.temporal.cloud#V1ProjectScopedAccessNamespaceAccessesMap",
          "traits": {
            "smithy.api#documentation": "The map of namespace accesses - mutable.\nThe key is the namespace name and the value is the access to the namespace."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project the service account is assigned to - immutable."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1ProjectScopedAccessNamespaceAccessesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.temporal.cloud#V1NamespaceAccess"
      },
      "traits": {
        "smithy.api#documentation": "The map of namespace accesses - mutable.\nThe key is the namespace name and the value is the access to the namespace."
      }
    },
    "com.temporal.cloud#V1User": {
      "type": "structure",
      "members": {
        "asyncOperationId": {
          "target": "smithy.api#String"
        },
        "createdTime": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "invitation": {
          "target": "com.temporal.cloud#V1Invitation"
        },
        "lastModifiedTime": {
          "target": "smithy.api#String"
        },
        "resourceVersion": {
          "target": "smithy.api#String"
        },
        "spec": {
          "target": "com.temporal.cloud#V1UserSpec"
        },
        "state": {
          "target": "com.temporal.cloud#V1ResourceState"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1Invitation": {
      "type": "structure",
      "members": {
        "createdTime": {
          "target": "smithy.api#String"
        },
        "expiredTime": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1UserSpec": {
      "type": "structure",
      "members": {
        "access": {
          "target": "com.temporal.cloud#V1Access"
        },
        "email": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#GetCurrentIdentity": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.temporal.cloud#V1GetCurrentIdentityResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/current-identity",
          "code": 200
        },
        "smithy.api#documentation": "Get current identity\n\nReturns information about the currently authenticated user or service account principal"
      }
    },
    "com.temporal.cloud#ListCustomRolesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "The requested size of the page to retrieve.\nCannot exceed 1000. Defaults to 100."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageToken",
            "smithy.api#documentation": "The page token if this is continuing from another response."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1GetCustomRolesResponse": {
      "type": "structure",
      "members": {
        "customRoles": {
          "target": "com.temporal.cloud#V1GetCustomRolesResponseCustomRolesList",
          "traits": {
            "smithy.api#documentation": "The list of custom roles in ascending ID order."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next page token."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1CustomRole": {
      "type": "structure",
      "members": {
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the async operation that is creating/updating/deleting the custom role, if any."
          }
        },
        "createdTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the custom role was created."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the custom role."
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the custom role was last modified.\nWill not be set if the custom role has never been modified."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current version of the custom role specification.\nThe next update operation will have to include this version."
          }
        },
        "spec": {
          "target": "com.temporal.cloud#V1CustomRoleSpec"
        },
        "state": {
          "target": "com.temporal.cloud#V1ResourceState"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1CustomRoleSpec": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the custom role."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the custom role."
          }
        },
        "permissions": {
          "target": "com.temporal.cloud#V1CustomRoleSpecPermissionsList",
          "traits": {
            "smithy.api#documentation": "The permissions assigned to the custom role."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1CustomRoleSpecPermission": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.temporal.cloud#V1CustomRoleSpecPermissionActionsList",
          "traits": {
            "smithy.api#documentation": "The actions allowed by the permission."
          }
        },
        "resources": {
          "target": "com.temporal.cloud#CustomRoleSpecResources"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1CustomRoleSpecPermissionActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The actions allowed by the permission."
      }
    },
    "com.temporal.cloud#CustomRoleSpecResources": {
      "type": "structure",
      "members": {
        "allowAll": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the permission applies to all resources of the given type."
          }
        },
        "resourceIds": {
          "target": "com.temporal.cloud#CustomRoleSpecResourcesResourceIdsList",
          "traits": {
            "smithy.api#documentation": "The resource IDs the permission applies to. Can be empty if allow_all is true."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type the permission applies to."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#CustomRoleSpecResourcesResourceIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resource IDs the permission applies to. Can be empty if allow_all is true."
      }
    },
    "com.temporal.cloud#V1CustomRoleSpecPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.temporal.cloud#V1CustomRoleSpecPermission"
      },
      "traits": {
        "smithy.api#documentation": "The permissions assigned to the custom role."
      }
    },
    "com.temporal.cloud#V1GetCustomRolesResponseCustomRolesList": {
      "type": "list",
      "member": {
        "target": "com.temporal.cloud#V1CustomRole"
      },
      "traits": {
        "smithy.api#documentation": "The list of custom roles in ascending ID order."
      }
    },
    "com.temporal.cloud#ListCustomRoles": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#ListCustomRolesRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1GetCustomRolesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/custom-roles",
          "code": 200
        },
        "smithy.api#documentation": "List custom roles\n\nReturns a list of custom roles in the account",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken",
          "items": "customRoles",
          "pageSize": "pageSize"
        }
      }
    },
    "com.temporal.cloud#CreateCustomRoleRequest": {
      "type": "structure",
      "members": {
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID to use for this async operation.\nOptional, if not provided a random ID will be generated."
          }
        },
        "spec": {
          "target": "com.temporal.cloud#V1CustomRoleSpec"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1CreateCustomRoleResponse": {
      "type": "structure",
      "members": {
        "asyncOperation": {
          "target": "com.temporal.cloud#V1AsyncOperation"
        },
        "roleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the custom role created."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#CreateCustomRole": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#CreateCustomRoleRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1CreateCustomRoleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cloud/custom-roles",
          "code": 200
        },
        "smithy.api#documentation": "Create a custom role\n\nCreates a new custom role in the account"
      }
    },
    "com.temporal.cloud#GetCustomRoleRequest": {
      "type": "structure",
      "members": {
        "roleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the custom role to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1GetCustomRoleResponse": {
      "type": "structure",
      "members": {
        "customRole": {
          "target": "com.temporal.cloud#V1CustomRole"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#GetCustomRole": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#GetCustomRoleRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1GetCustomRoleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/custom-roles/{roleId}",
          "code": 200
        },
        "smithy.api#documentation": "Get custom role by ID\n\nReturns details for a specific custom role"
      }
    },
    "com.temporal.cloud#UpdateCustomRoleRequest": {
      "type": "structure",
      "members": {
        "roleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the custom role to update."
          }
        },
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID to use for this async operation.\nOptional, if not provided a random ID will be generated."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the custom role for which this update is intended.\nThe latest version can be found in the GetCustomRole operation response."
          }
        },
        "spec": {
          "target": "com.temporal.cloud#V1CustomRoleSpec"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1UpdateCustomRoleResponse": {
      "type": "structure",
      "members": {
        "asyncOperation": {
          "target": "com.temporal.cloud#V1AsyncOperation"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#UpdateCustomRole": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#UpdateCustomRoleRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1UpdateCustomRoleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cloud/custom-roles/{roleId}",
          "code": 200
        },
        "smithy.api#documentation": "Update a custom role\n\nUpdates an existing custom role"
      }
    },
    "com.temporal.cloud#DeleteCustomRoleRequest": {
      "type": "structure",
      "members": {
        "roleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the custom role to delete."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceVersion",
            "smithy.api#documentation": "The version of the custom role for which this delete is intended.\nThe latest version can be found in the GetCustomRole operation response."
          }
        },
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "asyncOperationId",
            "smithy.api#documentation": "The ID to use for this async operation.\nOptional, if not provided a random ID will be generated."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1DeleteCustomRoleResponse": {
      "type": "structure",
      "members": {
        "asyncOperation": {
          "target": "com.temporal.cloud#V1AsyncOperation"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#DeleteCustomRole": {
      "type": "operation",
      "input": {
        "target": "com.temporal.cloud#DeleteCustomRoleRequest"
      },
      "output": {
        "target": "com.temporal.cloud#V1DeleteCustomRoleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/cloud/custom-roles/{roleId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a custom role\n\nDeletes a custom role from the account"
      }
    },
    "com.temporal.cloud#ListNamespacesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "The requested size of the page to retrieve.\nCannot exceed 1000.\nOptional, defaults to 100."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageToken",
            "smithy.api#documentation": "The page token if this is continuing from another response.\nOptional, defaults to empty."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "Filter namespaces by their name.\nOptional, defaults to empty."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#documentation": "Filter namespaces by project id - optional."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.cloud#V1GetNamespacesResponse": {
      "type": "structure",
      "members": {
        "namespaces": {
          "target": "com.temporal.cloud#V1GetNamespacesResponseNamespacesList",
          "traits": {
            "smithy.api#documentation": "The list of namespaces in ascending name order."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next page's token."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1Namespace": {
      "type": "structure",
      "members": {
        "activeRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The currently active region for the namespace."
          }
        },
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the async operation that is creating/updating/deleting the namespace, if any."
          }
        },
        "capacity": {
          "target": "com.temporal.cloud#V1Capacity"
        },
        "connectivityRules": {
          "target": "com.temporal.cloud#V1NamespaceConnectivityRulesList",
          "traits": {
            "smithy.api#documentation": "The connectivity rules that are set on this namespace."
          }
        },
        "createdTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the namespace was created."
          }
        },
        "endpoints": {
          "target": "com.temporal.cloud#V1Endpoints"
        },
        "lastModifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the namespace was last modified.\nWill not be set if the namespace has never been modified."
          }
        },
        "limits": {
          "target": "com.temporal.cloud#V1Limits"
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The namespace identifier."
          }
        },
        "privateConnectivities": {
          "target": "com.temporal.cloud#V1NamespacePrivateConnectivitiesList",
          "traits": {
            "smithy.api#documentation": "The private connectivities for the namespace, if any."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the project this namespace belongs to."
          }
        },
        "regionStatus": {
          "target": "com.temporal.cloud#V1NamespaceRegionStatusMap"
        },
        "replicas": {
          "target": "com.temporal.cloud#V1NamespaceReplicasList"
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current version of the namespace specification.\nThe next update operation will have to include this version."
          }
        },
        "spec": {
          "target": "com.temporal.cloud#V1NamespaceSpec"
        },
        "state": {
          "target": "com.temporal.cloud#V1ResourceState"
        },
        "tags": {
          "target": "com.temporal.cloud#V1NamespaceTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags for the namespace."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#V1Capacity": {
      "type": "structure",
      "members": {
        "latestRequest": {
          "target": "com.temporal.cloud#CapacityRequest"
        },
        "onDemand": {
          "target": "smithy.api#Document"
        },
        "provisioned": {
          "target": "com.temporal.cloud#V1CapacityProvisioned"
        }
      },
      "traits": {}
    },
    "com.temporal.cloud#CapacityRequest": {
      "type": "structure",
      "members": {
        "asyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
[...]
