{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.daytona.secret#CreateSecretRequestHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed hosts this secret may be sent to"
      }
    },
    "com.daytona.secret#CreateSecretRequest": {
      "type": "structure",
      "members": {
        "xDaytonaOrganizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "X-Daytona-Organization-ID",
            "smithy.api#documentation": "Use with JWT to specify the organization ID"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret name (alphanumeric, hyphens, underscores)",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret value",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the secret"
          }
        },
        "hosts": {
          "target": "com.daytona.secret#CreateSecretRequestHostsList",
          "traits": {
            "smithy.api#documentation": "Allowed hosts this secret may be sent to"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.secret#Secret2": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret ID",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret name",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the secret"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp",
            "smithy.api#required": {}
          }
        },
        "placeholder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque placeholder token injected as env var value in sandboxes",
            "smithy.api#required": {}
          }
        },
        "hosts": {
          "target": "com.daytona.secret#SecretHostsList",
          "traits": {
            "smithy.api#documentation": "Allowed hosts this secret may be sent to",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last update timestamp",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.secret#SecretHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed hosts this secret may be sent to"
      }
    },
    "com.daytona.secret#CreateSecret": {
      "type": "operation",
      "input": {
        "target": "com.daytona.secret#CreateSecretRequest"
      },
      "output": {
        "target": "com.daytona.secret#Secret2"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/secret",
          "code": 200
        },
        "smithy.api#documentation": "Create secret"
      }
    },
    "com.daytona.secret#ListSecretsPaginatedRequestSort": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "CREATEDAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "createdAt"
          }
        },
        "UPDATEDAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updatedAt"
          }
        }
      },
      "traits": {}
    },
    "com.daytona.secret#ListSecretsPaginatedRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.daytona.secret#ListSecretsPaginatedRequest": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor from a previous response"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results per page"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "Filter by partial name match"
          }
        },
        "sort": {
          "target": "com.daytona.secret#ListSecretsPaginatedRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Field to sort by"
          }
        },
        "order": {
          "target": "com.daytona.secret#ListSecretsPaginatedRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Direction to sort by"
          }
        },
        "xDaytonaOrganizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "X-Daytona-Organization-ID",
            "smithy.api#documentation": "Use with JWT to specify the organization ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.secret#ListSecretsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.daytona.secret#ListSecretsResponseItemsList",
          "traits": {
            "smithy.api#documentation": "List of results for the current page",
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of secrets matching the filters",
            "smithy.api#required": {}
          }
        },
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for the next page of results",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.secret#ListSecretsResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.daytona.secret#Secret2"
      },
      "traits": {
        "smithy.api#documentation": "List of results for the current page"
      }
    },
    "com.daytona.secret#ListSecretsPaginated": {
      "type": "operation",
      "input": {
        "target": "com.daytona.secret#ListSecretsPaginatedRequest"
      },
      "output": {
        "target": "com.daytona.secret#ListSecretsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/secret/paginated",
          "code": 200
        },
        "smithy.api#documentation": "List secrets with pagination"
      }
    },
    "com.daytona.secret#GetSecretRequest": {
      "type": "structure",
      "members": {
        "secretId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the secret"
          }
        },
        "xDaytonaOrganizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "X-Daytona-Organization-ID",
            "smithy.api#documentation": "Use with JWT to specify the organization ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.secret#GetSecret": {
      "type": "operation",
      "input": {
        "target": "com.daytona.secret#GetSecretRequest"
      },
      "output": {
        "target": "com.daytona.secret#Secret2"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/secret/{secretId}",
          "code": 200
        },
        "smithy.api#documentation": "Get secret"
      }
    },
    "com.daytona.secret#UpdateSecretRequestHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed hosts this secret may be sent to"
      }
    },
    "com.daytona.secret#UpdateSecretRequest": {
      "type": "structure",
      "members": {
        "secretId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the secret"
          }
        },
        "xDaytonaOrganizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "X-Daytona-Organization-ID",
            "smithy.api#documentation": "Use with JWT to specify the organization ID"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New secret value"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the secret"
          }
        },
        "hosts": {
          "target": "com.daytona.secret#UpdateSecretRequestHostsList",
          "traits": {
            "smithy.api#documentation": "Allowed hosts this secret may be sent to"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.secret#UpdateSecret": {
      "type": "operation",
      "input": {
        "target": "com.daytona.secret#UpdateSecretRequest"
      },
      "output": {
        "target": "com.daytona.secret#Secret2"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/secret/{secretId}",
          "code": 200
        },
        "smithy.api#documentation": "Update secret"
      }
    },
    "com.daytona.secret#DeleteSecretRequest": {
      "type": "structure",
      "members": {
        "secretId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the secret"
          }
        },
        "xDaytonaOrganizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "X-Daytona-Organization-ID",
            "smithy.api#documentation": "Use with JWT to specify the organization ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.secret#DeleteSecret": {
      "type": "operation",
      "input": {
        "target": "com.daytona.secret#DeleteSecretRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/secret/{secretId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete secret"
      }
    },
    "com.daytona.secret#Secret": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.daytona.secret#CreateSecret"
        },
        {
          "target": "com.daytona.secret#ListSecretsPaginated"
        },
        {
          "target": "com.daytona.secret#GetSecret"
        },
        {
          "target": "com.daytona.secret#UpdateSecret"
        },
        {
          "target": "com.daytona.secret#DeleteSecret"
        }
      ],
      "traits": {
        "smithy.api#title": "Daytona",
        "smithy.api#documentation": "Daytona AI platform API Docs"
      }
    }
  }
}
