{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.daytona.users#User": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User ID",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User name",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User email",
            "smithy.api#required": {}
          }
        },
        "emailVerified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user email address has been verified",
            "smithy.api#required": {}
          }
        },
        "pylonEmailHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HMAC of the user email for Pylon support-widget identity verification"
          }
        },
        "privacyPoliciesAccepted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user has accepted the current privacy policies. Populated on the /users/me endpoint."
          }
        },
        "publicKeys": {
          "target": "com.daytona.users#UserPublicKeysList",
          "traits": {
            "smithy.api#documentation": "User public keys",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.users#UserPublicKey": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public key",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key name",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.users#UserPublicKeysList": {
      "type": "list",
      "member": {
        "target": "com.daytona.users#UserPublicKey"
      },
      "traits": {
        "smithy.api#documentation": "User public keys"
      }
    },
    "com.daytona.users#GetAuthenticatedUser": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.daytona.users#User"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/users/me",
          "code": 200
        },
        "smithy.api#documentation": "Get authenticated user"
      }
    },
    "com.daytona.users#LoginRecord": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/users/me/logins",
          "code": 200
        },
        "smithy.api#documentation": "Record a completed login\n\nCalled by the dashboard once per completed sign-in. The email access gate evaluates the user and reports the login to analytics; a refused user receives 403 with code EMAIL_ACCESS_DENIED."
      }
    },
    "com.daytona.users#AcceptPrivacyPolicies": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/users/privacy-policies/accept",
          "code": 200
        },
        "smithy.api#documentation": "Accept the current privacy policies"
      }
    },
    "com.daytona.users#AccountProvider": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WorkOS identity provider, e.g. GoogleOAuth or GitHubOAuth",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable provider name",
            "smithy.api#required": {}
          }
        },
        "linked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the authenticated user has an identity from this provider",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.users#GetAccountProvidersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.daytona.users#AccountProvider"
      },
      "traits": {}
    },
    "com.daytona.users#GetAccountProvidersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.daytona.users#GetAccountProvidersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.users#GetAccountProviders": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.daytona.users#GetAccountProvidersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/users/account-providers",
          "code": 200
        },
        "smithy.api#documentation": "Get account providers\n\nSocial sign-in providers (Google, GitHub, ...) enabled for this environment, each flagged with whether the authenticated user has an identity linked through it."
      }
    },
    "com.daytona.users#PendingSsoLink": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "idpName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the identity provider requesting to be linked",
            "smithy.api#required": {}
          }
        },
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization that configured the identity provider",
            "smithy.api#required": {}
          }
        },
        "providerEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email asserted by the identity provider",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.daytona.users#ListPendingSsoLinksResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.daytona.users#PendingSsoLink"
      },
      "traits": {}
    },
    "com.daytona.users#ListPendingSsoLinksResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.daytona.users#ListPendingSsoLinksResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.daytona.users#ListPendingSsoLinks": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.daytona.users#ListPendingSsoLinksResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/users/me/pending-sso-links",
          "code": 200
        },
        "smithy.api#documentation": "List pending SSO account links for the authenticated user"
      }
    },
    "com.daytona.users#ConfirmPendingSsoLinkRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.users#ConfirmPendingSsoLink": {
      "type": "operation",
      "input": {
        "target": "com.daytona.users#ConfirmPendingSsoLinkRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/users/me/pending-sso-links/{id}/confirm",
          "code": 200
        },
        "smithy.api#documentation": "Confirm (link) a pending SSO account link"
      }
    },
    "com.daytona.users#DismissPendingSsoLinkRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.daytona.users#DismissPendingSsoLink": {
      "type": "operation",
      "input": {
        "target": "com.daytona.users#DismissPendingSsoLinkRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/users/me/pending-sso-links/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Dismiss a pending SSO account link"
      }
    },
    "com.daytona.users#Users": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.daytona.users#GetAuthenticatedUser"
        },
        {
          "target": "com.daytona.users#LoginRecord"
        },
        {
          "target": "com.daytona.users#AcceptPrivacyPolicies"
        },
        {
          "target": "com.daytona.users#GetAccountProviders"
        },
        {
          "target": "com.daytona.users#ListPendingSsoLinks"
        },
        {
          "target": "com.daytona.users#ConfirmPendingSsoLink"
        },
        {
          "target": "com.daytona.users#DismissPendingSsoLink"
        }
      ],
      "traits": {
        "smithy.api#title": "Daytona",
        "smithy.api#documentation": "Daytona AI platform API Docs"
      }
    }
  }
}
