{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openai.admin_api_keys#ListAdminApiKeysRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Order results by creation time, ascending or descending."
      }
    },
    "com.openai.admin_api_keys#ListAdminApiKeysRequest": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after"
          }
        },
        "order": {
          "target": "com.openai.admin_api_keys#ListAdminApiKeysRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.admin_api_keys#ApiKeyList": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.admin_api_keys#ApiKeyListObject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.admin_api_keys#ApiKeyListDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "first_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.admin_api_keys#ApiKeyListObject": {
      "type": "enum",
      "members": {
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        }
      },
      "traits": {}
    },
    "com.openai.admin_api_keys#AdminApiKey": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.admin_api_keys#AdminApiKeyObject",
          "traits": {
            "smithy.api#documentation": "The object type, which is always `organization.admin_api_key`",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier, which can be referenced in API endpoints",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the API key",
            "com.distilled.openapi#nullable": {}
          }
        },
        "redacted_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The redacted value of the API key",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) of when the API key was created",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_used_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "owner": {
          "target": "com.openai.admin_api_keys#AdminApiKeyOwner",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an individual Admin API key in an org."
      }
    },
    "com.openai.admin_api_keys#AdminApiKeyObject": {
      "type": "enum",
      "members": {
        "ORGANIZATION_ADMIN_API_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization.admin_api_key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type, which is always `organization.admin_api_key`"
      }
    },
    "com.openai.admin_api_keys#AdminApiKeyOwner": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `user`"
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object type, which is always organization.user"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier, which can be referenced in API endpoints"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the user"
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) of when the user was created"
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `owner`"
          }
        }
      },
      "traits": {}
    },
    "com.openai.admin_api_keys#ApiKeyListDataList": {
      "type": "list",
      "member": {
        "target": "com.openai.admin_api_keys#AdminApiKey"
      },
      "traits": {}
    },
    "com.openai.admin_api_keys#ListAdminApiKeys": {
      "type": "operation",
      "input": {
        "target": "com.openai.admin_api_keys#ListAdminApiKeysRequest"
      },
      "output": {
        "target": "com.openai.admin_api_keys#ApiKeyList"
      },
      "errors": [
        {
          "target": "com.openai.admin_api_keys#BadRequest"
        },
        {
          "target": "com.openai.admin_api_keys#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organization/admin_api_keys",
          "code": 200
        },
        "smithy.api#documentation": "List all organization and project API keys.\n\nList organization API keys",
        "com.distilled.openai#adminAuth": {},
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "after",
          "outputToken": "last_id",
          "items": "data",
          "pageSize": "limit"
        }
      }
    },
    "com.openai.admin_api_keys#CreateAdminApiKeyRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expires_in_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of seconds until the API key expires. Omit this field for a key that does not expire."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.admin_api_keys#CreateAdminApiKeyResponseObject": {
      "type": "enum",
      "members": {
        "ORGANIZATION_ADMIN_API_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization.admin_api_key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type, which is always `organization.admin_api_key`"
      }
    },
    "com.openai.admin_api_keys#CreateAdminApiKeyResponseOwner": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `user`"
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object type, which is always organization.user"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier, which can be referenced in API endpoints"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the user"
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) of when the user was created"
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `owner`"
          }
        }
      },
      "traits": {}
    },
    "com.openai.admin_api_keys#CreateAdminApiKeyResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.admin_api_keys#CreateAdminApiKeyResponseObject",
          "traits": {
            "smithy.api#documentation": "The object type, which is always `organization.admin_api_key`",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier, which can be referenced in API endpoints",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the API key",
            "com.distilled.openapi#nullable": {}
          }
        },
        "redacted_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The redacted value of the API key",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) of when the API key was created",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_used_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "owner": {
          "target": "com.openai.admin_api_keys#CreateAdminApiKeyResponseOwner",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the API key. Only shown on create.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.openai.admin_api_keys#CreateAdminApiKey": {
      "type": "operation",
      "input": {
        "target": "com.openai.admin_api_keys#CreateAdminApiKeyRequest"
      },
      "output": {
        "target": "com.openai.admin_api_keys#CreateAdminApiKeyResponse"
      },
      "errors": [
        {
          "target": "com.openai.admin_api_keys#BadRequest"
        },
        {
          "target": "com.openai.admin_api_keys#Forbidden"
        },
        {
          "target": "com.openai.admin_api_keys#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organization/admin_api_keys",
          "code": 200
        },
        "smithy.api#documentation": "Create admin API key\n\nCreate an organization admin API key",
        "com.distilled.openai#adminAuth": {}
      }
    },
    "com.openai.admin_api_keys#GetAdminApiKeyRequest": {
      "type": "structure",
      "members": {
        "key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.admin_api_keys#GetAdminApiKey": {
      "type": "operation",
      "input": {
        "target": "com.openai.admin_api_keys#GetAdminApiKeyRequest"
      },
      "output": {
        "target": "com.openai.admin_api_keys#AdminApiKey"
      },
      "errors": [
        {
          "target": "com.openai.admin_api_keys#Forbidden"
        },
        {
          "target": "com.openai.admin_api_keys#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organization/admin_api_keys/{key_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve admin API key\n\nRetrieve a single organization API key",
        "com.distilled.openai#adminAuth": {}
      }
    },
    "com.openai.admin_api_keys#DeleteAdminApiKeyRequest": {
      "type": "structure",
      "members": {
        "key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.admin_api_keys#DeleteAdminApiKeyResponseObject": {
      "type": "enum",
      "members": {
        "ORGANIZATION_ADMIN_API_KEY_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization.admin_api_key.deleted"
          }
        }
      },
      "traits": {}
    },
    "com.openai.admin_api_keys#DeleteAdminApiKeyResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "com.openai.admin_api_keys#DeleteAdminApiKeyResponseObject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.openai.admin_api_keys#DeleteAdminApiKey": {
      "type": "operation",
      "input": {
        "target": "com.openai.admin_api_keys#DeleteAdminApiKeyRequest"
      },
      "output": {
        "target": "com.openai.admin_api_keys#DeleteAdminApiKeyResponse"
      },
      "errors": [
        {
          "target": "com.openai.admin_api_keys#Forbidden"
        },
        {
          "target": "com.openai.admin_api_keys#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/organization/admin_api_keys/{key_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete admin API key\n\nDelete an organization admin API key",
        "com.distilled.openai#adminAuth": {}
      }
    },
    "com.openai.admin_api_keys#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.openai.admin_api_keys#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.openai.admin_api_keys#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.openai.admin_api_keys#AdminApiKeys": {
      "type": "service",
      "version": "2.3.0",
      "operations": [
        {
          "target": "com.openai.admin_api_keys#ListAdminApiKeys"
        },
        {
          "target": "com.openai.admin_api_keys#CreateAdminApiKey"
        },
        {
          "target": "com.openai.admin_api_keys#GetAdminApiKey"
        },
        {
          "target": "com.openai.admin_api_keys#DeleteAdminApiKey"
        }
      ],
      "traits": {
        "smithy.api#title": "OpenAI API",
        "smithy.api#documentation": "The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details."
      }
    }
  }
}
