{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openai.agents#GetAgentEnvironmentRequest": {
      "type": "structure",
      "members": {
        "environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the environment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.agents#PublicEnvironmentResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the environment.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "com.openai.agents#PublicEnvironmentResourceObject",
          "traits": {
            "smithy.api#documentation": "The object type. Always `agent.environment`.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.agents#EnvironmentTypeResource",
          "traits": {
            "smithy.api#documentation": "Whether the environment is hosted by OpenAI or by the application.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.agents#EnvironmentStatusResource",
          "traits": {
            "smithy.api#documentation": "The current environment connection status.",
            "smithy.api#required": {}
          }
        },
        "plugins": {
          "target": "com.openai.agents#PublicEnvironmentResourcePluginsList",
          "traits": {
            "smithy.api#documentation": "Plugins installed in the environment, without their archive contents.",
            "smithy.api#required": {}
          }
        },
        "skills": {
          "target": "com.openai.agents#PublicEnvironmentResourceSkillsList",
          "traits": {
            "smithy.api#documentation": "Skills installed in the environment, without their archive contents.",
            "smithy.api#required": {}
          }
        },
        "files": {
          "target": "com.openai.agents#PublicEnvironmentResourceFilesList",
          "traits": {
            "smithy.api#documentation": "Files installed in the environment, without their contents.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Safe metadata for a first-class execution environment."
      }
    },
    "com.openai.agents#PublicEnvironmentResourceObject": {
      "type": "enum",
      "members": {
        "AGENT_ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent.environment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type. Always `agent.environment`."
      }
    },
    "com.openai.agents#EnvironmentTypeResource": {
      "type": "enum",
      "members": {
        "OPENAI_HOSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai_hosted"
          }
        },
        "SELF_HOSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "self_hosted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of execution environment."
      }
    },
    "com.openai.agents#EnvironmentStatusResource": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disconnected"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The public lifecycle status of an execution environment."
      }
    },
    "com.openai.agents#HostedPluginResourceInline": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#HostedPluginResourceInlineType",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always `inline`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The installed plugin name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The installed plugin description.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A plugin installed from an inline ZIP archive."
      }
    },
    "com.openai.agents#HostedPluginResourceInlineType": {
      "type": "enum",
      "members": {
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inline"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always `inline`."
      }
    },
    "com.openai.agents#PublicEnvironmentResourcePluginsList": {
      "type": "list",
      "member": {
        "target": "com.openai.agents#HostedPluginResourceInline"
      },
      "traits": {
        "smithy.api#documentation": "Plugins installed in the environment, without their archive contents."
      }
    },
    "com.openai.agents#HostedSkillResource": {
      "type": "union",
      "members": {
        "HostedSkillResourceSkillReference": {
          "target": "com.openai.agents#HostedSkillResourceSkillReference"
        },
        "HostedSkillResourceInline": {
          "target": "com.openai.agents#HostedSkillResourceInline"
        }
      },
      "traits": {
        "smithy.api#documentation": "A skill installed in an OpenAI-hosted environment."
      }
    },
    "com.openai.agents#HostedSkillResourceSkillReference": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#HostedSkillResourceSkillReferenceType",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always `skill_reference`.",
            "smithy.api#required": {}
          }
        },
        "skill_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The referenced skill ID.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The concrete skill version installed for this session.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The installed skill name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The installed skill description.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A skill installed from the Skills API."
      }
    },
    "com.openai.agents#HostedSkillResourceSkillReferenceType": {
      "type": "enum",
      "members": {
        "SKILL_REFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skill_reference"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always `skill_reference`."
      }
    },
    "com.openai.agents#HostedSkillResourceInline": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#HostedSkillResourceInlineType",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always `inline`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The installed skill name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The installed skill description.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A skill installed from an inline ZIP archive."
      }
    },
    "com.openai.agents#HostedSkillResourceInlineType": {
      "type": "enum",
      "members": {
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inline"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always `inline`."
      }
    },
    "com.openai.agents#PublicEnvironmentResourceSkillsList": {
      "type": "list",
      "member": {
        "target": "com.openai.agents#HostedSkillResource"
      },
      "traits": {
        "smithy.api#documentation": "Skills installed in the environment, without their archive contents."
      }
    },
    "com.openai.agents#HostedEnvironmentFileResource": {
      "type": "union",
      "members": {
        "HostedEnvironmentFileResourceFileId": {
          "target": "com.openai.agents#HostedEnvironmentFileResourceFileId"
        },
        "HostedEnvironmentFileResourceInline": {
          "target": "com.openai.agents#HostedEnvironmentFileResourceInline"
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for a file materialized in an OpenAI-hosted execution environment."
      }
    },
    "com.openai.agents#HostedEnvironmentFileResourceFileId": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#HostedEnvironmentFileResourceFileIdType",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always `file_id`.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The session-scoped ID of the file in the execution environment.",
            "smithy.api#required": {}
          }
        },
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the uploaded file.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file's absolute path inside the environment.",
            "smithy.api#required": {}
          }
        },
        "size_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The decoded file size in bytes.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A file copied from the OpenAI Files API."
      }
    },
    "com.openai.agents#HostedEnvironmentFileResourceFileIdType": {
      "type": "enum",
      "members": {
        "FILE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file_id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always `file_id`."
      }
    },
    "com.openai.agents#HostedEnvironmentFileResourceInline": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#HostedEnvironmentFileResourceInlineType",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always `inline`.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The session-scoped ID of the file in the execution environment.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file's absolute path inside the environment.",
            "smithy.api#required": {}
          }
        },
        "size_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The decoded file size in bytes.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A file supplied inline when the session was created."
      }
    },
    "com.openai.agents#HostedEnvironmentFileResourceInlineType": {
      "type": "enum",
      "members": {
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inline"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always `inline`."
      }
    },
    "com.openai.agents#PublicEnvironmentResourceFilesList": {
      "type": "list",
      "member": {
        "target": "com.openai.agents#HostedEnvironmentFileResource"
      },
      "traits": {
        "smithy.api#documentation": "Files installed in the environment, without their contents."
      }
    },
    "com.openai.agents#GetAgentEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.openai.agents#GetAgentEnvironmentRequest"
      },
      "output": {
        "target": "com.openai.agents#PublicEnvironmentResource"
      },
      "errors": [
        {
          "target": "com.openai.agents#BadRequest"
        },
        {
          "target": "com.openai.agents#Forbidden"
        },
        {
          "target": "com.openai.agents#NotFound"
        },
        {
          "target": "com.openai.agents#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/agents/environments/{environment_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve an agent environment\n\nRetrieves an execution environment's connection status and safe installed metadata. See [environment lifecycle](https://developers.openai.com/api/docs/guides/agents-api/environments/lifecycle)."
      }
    },
    "com.openai.agents#ListOrderParam": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The order in which paginated resources are returned."
      }
    },
    "com.openai.agents#ListAgentEnvironmentFilesRequest": {
      "type": "structure",
      "members": {
        "environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the environment."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#documentation": "Restrict the listing to this absolute workspace directory."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The maximum number of files to return, between 1 and 100."
          }
        },
        "order": {
          "target": "com.openai.agents#ListOrderParam",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Sort by case-sensitive path components. Defaults to descending."
          }
        },
        "page": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The opaque token from the previous page. Keep the same path, order, and limit."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.agents#EnvironmentFileListResource": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.agents#EnvironmentFilePageObjectResource",
          "traits": {
            "smithy.api#documentation": "The object type. Always `page`.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.agents#EnvironmentFileListResourceDataList",
          "traits": {
            "smithy.api#documentation": "Files available on the current page.",
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The opaque cursor to use when requesting the next page, if any.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether more files follow this page.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A paginated list of live execution environment files."
      }
    },
    "com.openai.agents#EnvironmentFilePageObjectResource": {
      "type": "enum",
      "members": {
        "PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "page"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type for a page of files in an execution environment."
      }
    },
    "com.openai.agents#EnvironmentFileResource": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.agents#EnvironmentFileResourceObject",
          "traits": {
            "smithy.api#documentation": "The object type. Always `agent.environment.file`.",
            "smithy.api#required": {}
          }
        },
        "environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the environment containing this file.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The absolute file path inside the environment's workspace.",
            "smithy.api#required": {}
          }
        },
        "size_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The file size in bytes.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A live file in an execution environment."
      }
    },
    "com.openai.agents#EnvironmentFileResourceObject": {
      "type": "enum",
      "members": {
        "AGENT_ENVIRONMENT_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent.environment.file"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type. Always `agent.environment.file`."
      }
    },
    "com.openai.agents#EnvironmentFileListResourceDataList": {
      "type": "list",
      "member": {
        "target": "com.openai.agents#EnvironmentFileResource"
      },
      "traits": {
        "smithy.api#documentation": "Files available on the current page."
      }
    },
    "com.openai.agents#ListAgentEnvironmentFiles": {
      "type": "operation",
      "input": {
        "target": "com.openai.agents#ListAgentEnvironmentFilesRequest"
      },
      "output": {
        "target": "com.openai.agents#EnvironmentFileListResource"
      },
      "errors": [
        {
          "target": "com.openai.agents#BadRequest"
        },
        {
          "target": "com.openai.agents#Forbidden"
        },
        {
          "target": "com.openai.agents#NotFound"
        },
        {
          "target": "com.openai.agents#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/agents/environments/{environment_id}/files",
          "code": 200
        },
        "smithy.api#documentation": "List agent environment files\n\nLists live files on a connected execution environment with optional directory filtering and opaque cursor pagination. See [environment files](https://developers.openai.com/api/docs/guides/agents-api/environments/files)."
      }
    },
    "com.openai.agents#HostedEnvironmentFileParam": {
      "type": "union",
      "members": {
        "HostedEnvironmentFileParamFileId": {
          "target": "com.openai.agents#HostedEnvironmentFileParamFileId"
        },
        "HostedEnvironmentFileParamInline": {
          "target": "com.openai.agents#HostedEnvironmentFileParamInline"
        }
      },
      "traits": {
        "smithy.api#documentation": "A file materialized in an OpenAI-hosted execution environment."
      }
    },
    "com.openai.agents#HostedEnvironmentFileParamFileId": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#HostedEnvironmentFileParamFileIdType",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always `file_id`.",
            "smithy.api#required": {}
          }
        },
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the uploaded file.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The absolute destination path inside `/workspace`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A file previously uploaded through the OpenAI Files API."
      }
    },
    "com.openai.agents#HostedEnvironmentFileParamFileIdType": {
      "type": "enum",
      "members": {
        "FILE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file_id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always `file_id`."
      }
    },
    "com.openai.agents#HostedEnvironmentFileParamInline": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#HostedEnvironmentFileParamInlineType",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always `inline`.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard-base64-encoded file contents.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The absolute destination path inside `/workspace`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A file supplied directly as standard-base64 data."
      }
    },
    "com.openai.agents#HostedEnvironmentFileParamInlineType": {
      "type": "enum",
      "members": {
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inline"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always `inline`."
      }
    },
    "com.openai.agents#CreateAgentEnvironmentFileRequest": {
      "type": "structure",
      "members": {
        "environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the environment."
          }
        },
        "body": {
          "target": "com.openai.agents#HostedEnvironmentFileParam",
          "traits": {
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.agents#CreateAgentEnvironmentFile": {
      "type": "operation",
      "input": {
        "target": "com.openai.agents#CreateAgentEnvironmentFileRequest"
      },
      "output": {
        "target": "com.openai.agents#EnvironmentFileResource"
      },
      "errors": [
        {
          "target": "com.openai.agents#BadRequest"
        },
        {
          "target": "com.openai.agents#Forbidden"
        },
        {
          "target": "com.openai.agents#NotFound"
        },
        {
          "target": "com.openai.agents#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/agents/environments/{environment_id}/files",
          "code": 200
        },
        "smithy.api#documentation": "Create an agent environment file\n\nCopies inline bytes or a Files API file into a connected execution environment. See [environment files](https://developers.openai.com/api/docs/guides/agents-api/environments/files)."
      }
    },
    "com.openai.agents#ListAgentSessionSubagentsRequest": {
      "type": "structure",
      "members": {
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the session."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The maximum number of resources to return, between 1 and 100. Defaults to 20."
          }
        },
        "order": {
          "target": "com.openai.agents#ListOrderParam",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "The order in which resources are returned. Defaults to `desc`."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Return resources after this resource ID in the selected order."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.agents#ListAgentSessionSubagentsResponseObject": {
      "type": "enum",
      "members": {
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type, which is always `list`."
      }
    },
    "com.openai.agents#SubagentResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the subagent.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "com.openai.agents#SubagentObjectResource",
          "traits": {
            "smithy.api#documentation": "The object type. Always `agent.session.subagent`.",
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the session that owns the subagent.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The runner-assigned nickname, or null when unavailable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "instructions": {
          "target": "com.openai.agents#SubagentResourceInstructionsList",
          "traits": {
            "smithy.api#documentation": "Initial task content, or null when unavailable. Text may contain placeholders for images or audio when only a preview is available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "parent_agent_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the agent that created this subagent.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.agents#SubagentStatusResource",
          "traits": {
            "smithy.api#documentation": "The current status of the subagent.",
            "smithy.api#required": {}
          }
        },
        "opened_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp, in seconds, when the subagent was first opened. Resuming does not change it.",
            "smithy.api#required": {}
          }
        },
        "closed_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp, in seconds, when the subagent was closed. Null while active, including after resume.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A subagent created within a session."
      }
    },
    "com.openai.agents#SubagentObjectResource": {
      "type": "enum",
      "members": {
        "AGENT_SESSION_SUBAGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent.session.subagent"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type for a subagent."
      }
    },
    "com.openai.agents#AgentContentResource": {
      "type": "union",
      "members": {
        "OutputTextResource": {
          "target": "com.openai.agents#OutputTextResource"
        },
        "EncryptedContentResource": {
          "target": "com.openai.agents#EncryptedContentResource"
        }
      },
      "traits": {
        "smithy.api#documentation": "A plaintext or encrypted content part exchanged between agents."
      }
    },
    "com.openai.agents#OutputTextResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#OutputTextResourceType",
          "traits": {
            "smithy.api#documentation": "The content type. Always `output_text`.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text produced by the agent.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A text content part produced by the agent."
      }
    },
    "com.openai.agents#OutputTextResourceType": {
      "type": "enum",
      "members": {
        "OUTPUT_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "output_text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The content type. Always `output_text`."
      }
    },
    "com.openai.agents#EncryptedContentResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#EncryptedContentResourceType",
          "traits": {
            "smithy.api#documentation": "The content type. Always `encrypted_content`.",
            "smithy.api#required": {}
          }
        },
        "encrypted_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encrypted content payload.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encrypted content exchanged between agents."
      }
    },
    "com.openai.agents#EncryptedContentResourceType": {
      "type": "enum",
      "members": {
        "ENCRYPTED_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encrypted_content"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The content type. Always `encrypted_content`."
      }
    },
    "com.openai.agents#SubagentResourceInstructionsList": {
      "type": "list",
      "member": {
        "target": "com.openai.agents#AgentContentResource"
      },
      "traits": {
        "smithy.api#documentation": "Initial task content, or null when unavailable. Text may contain placeholders for images or audio when only a preview is available."
      }
    },
    "com.openai.agents#SubagentStatusResource": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of a subagent."
      }
    },
    "com.openai.agents#ListAgentSessionSubagentsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.openai.agents#SubagentResource"
      },
      "traits": {
        "smithy.api#documentation": "The resources returned in this page, in the requested sort order."
      }
    },
    "com.openai.agents#ListAgentSessionSubagentsResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.agents#ListAgentSessionSubagentsResponseObject",
          "traits": {
            "smithy.api#documentation": "The object type, which is always `list`.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.agents#ListAgentSessionSubagentsResponseDataList",
          "traits": {
            "smithy.api#documentation": "The resources returned in this page, in the requested sort order.",
            "smithy.api#required": {}
          }
        },
        "first_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the first resource in `data`, or `null` if the page is empty.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the last resource in `data`, or `null` if the page is empty. Pass this as `after` with the same order and filters.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there are more resources to retrieve after this page.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.openai.agents#ListAgentSessionSubagents": {
      "type": "operation",
      "input": {
        "target": "com.openai.agents#ListAgentSessionSubagentsRequest"
      },
      "output": {
        "target": "com.openai.agents#ListAgentSessionSubagentsResponse"
      },
      "errors": [
        {
          "target": "com.openai.agents#BadRequest"
        },
        {
          "target": "com.openai.agents#Forbidden"
        },
        {
          "target": "com.openai.agents#NotFound"
        },
        {
          "target": "com.openai.agents#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/agents/sessions/{session_id}/subagents",
          "code": 200
        },
        "smithy.api#documentation": "List session subagents\n\nLists subagents in a session, including nested and closed subagents. See [subagent workflows](https://developers.openai.com/api/docs/guides/agents-api/multi-agent).",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "after",
          "outputToken": "last_id",
          "items": "data",
          "pageSize": "limit"
        }
      }
    },
    "com.openai.agents#GetAgentSessionSubagentRequest": {
      "type": "structure",
      "members": {
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the session."
          }
        },
        "subagent_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the subagent in this session."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.agents#GetAgentSessionSubagent": {
      "type": "operation",
      "input": {
        "target": "com.openai.agents#GetAgentSessionSubagentRequest"
      },
      "output": {
        "target": "com.openai.agents#SubagentResource"
      },
      "errors": [
        {
          "target": "com.openai.agents#BadRequest"
        },
        {
          "target": "com.openai.agents#Forbidden"
        },
        {
          "target": "com.openai.agents#NotFound"
        },
        {
          "target": "com.openai.agents#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/agents/sessions/{session_id}/subagents/{subagent_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a session subagent\n\nRetrieves a subagent belonging to this session. See [subagent workflows](https://developers.openai.com/api/docs/guides/agents-api/multi-agent)."
      }
    },
    "com.openai.agents#ListAgentSessionSubagentItemsRequest": {
      "type": "structure",
      "members": {
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the session."
          }
        },
        "subagent_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the subagent in this session."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The maximum number of resources to return, between 1 and 100. Defaults to 20."
          }
        },
        "order": {
          "target": "com.openai.agents#ListOrderParam",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "The order in which resources are returned. Defaults to `desc`."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Return resources after this resource ID in the selected order."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.agents#SessionItemListResource": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.agents#SessionItemListResourceObject",
          "traits": {
            "smithy.api#documentation": "The object type, which is always `list`.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.agents#SessionItemListResourceDataList",
          "traits": {
            "smithy.api#documentation": "The resources returned in this page, in the requested sort order.",
            "smithy.api#required": {}
          }
        },
        "first_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the first resource in `data`, or `null` if the page is empty.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the last resource in `data`, or `null` if the page is empty. Pass this as `after` with the same order and filters.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there are more resources to retrieve after this page.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A page of messages, reasoning, and tool calls from a session's item history."
      }
    },
    "com.openai.agents#SessionItemListResourceObject": {
      "type": "enum",
      "members": {
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type, which is always `list`."
      }
    },
    "com.openai.agents#SessionTurnItemResource": {
      "type": "union",
      "members": {
        "MessageItemResource": {
          "target": "com.openai.agents#MessageItemResource"
        },
        "ReasoningItemResource": {
          "target": "com.openai.agents#ReasoningItemResource"
        },
        "FunctionCallItemResource": {
          "target": "com.openai.agents#FunctionCallItemResource"
        },
        "FunctionCallOutputItemResource": {
          "target": "com.openai.agents#FunctionCallOutputItemResource"
        },
        "AgentMessageItemResource": {
          "target": "com.openai.agents#AgentMessageItemResource"
        },
        "McpCallItemResource": {
          "target": "com.openai.agents#McpCallItemResource"
        },
        "ComputerUseCallItemResource": {
          "target": "com.openai.agents#ComputerUseCallItemResource"
        },
        "BrowserAuthenticationRequestItemResource": {
          "target": "com.openai.agents#BrowserAuthenticationRequestItemResource"
        },
        "ComputerUseApprovalRequestResultItemResource": {
          "target": "com.openai.agents#ComputerUseApprovalRequestResultItemResource"
        },
        "WebSearchCallItemResource": {
          "target": "com.openai.agents#WebSearchCallItemResource"
        },
        "CommandExecutionItemResource": {
          "target": "com.openai.agents#CommandExecutionItemResource"
        },
        "CreateSubagentCallItemResource": {
          "target": "com.openai.agents#CreateSubagentCallItemResource"
        },
        "SendSubagentInputCallItemResource": {
          "target": "com.openai.agents#SendSubagentInputCallItemResource"
        },
        "ResumeSubagentCallItemResource": {
          "target": "com.openai.agents#ResumeSubagentCallItemResource"
        },
        "WaitForSubagentsCallItemResource": {
          "target": "com.openai.agents#WaitForSubagentsCallItemResource"
        },
        "InterruptSubagentCallItemResource": {
          "target": "com.openai.agents#InterruptSubagentCallItemResource"
        },
        "CloseSubagentCallItemResource": {
          "target": "com.openai.agents#CloseSubagentCallItemResource"
        }
      },
      "traits": {
        "smithy.api#documentation": "An item associated with a session turn."
      }
    },
    "com.openai.agents#MessageItemResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#MessageItemResourceType",
          "traits": {
            "smithy.api#documentation": "The item type. Always `message`.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of this item, or null for legacy user messages whose ID was not recorded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "turn_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the turn that contains this item.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.openai.agents#SessionMessageRoleResource",
          "traits": {
            "smithy.api#documentation": "The role of the message author.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.openai.agents#MessageItemResourceContentList",
          "traits": {
            "smithy.api#documentation": "The content of the message. User messages contain input text or images; assistant messages contain output text.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.agents#OutputItemStatusResource",
          "traits": {
            "smithy.api#documentation": "The status of the message. User messages are always `completed`.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "com.openai.agents#MessagePhaseResource",
          "traits": {
            "smithy.api#documentation": "The phase of an assistant message. Null for user messages.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user or assistant message recorded in a session."
      }
    },
    "com.openai.agents#MessageItemResourceType": {
      "type": "enum",
      "members": {
        "MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The item type. Always `message`."
      }
    },
    "com.openai.agents#SessionMessageRoleResource": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ASSISTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assistant"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The author of a session message."
      }
    },
    "com.openai.agents#MessageContentResource": {
      "type": "union",
      "members": {
        "MessageContentResourceInputText": {
          "target": "com.openai.agents#MessageContentResourceInputText"
        },
        "MessageContentResourceInputImage": {
          "target": "com.openai.agents#MessageContentResourceInputImage"
        },
        "MessageContentResourceOutputText": {
          "target": "com.openai.agents#MessageContentResourceOutputText"
        }
      },
      "traits": {
        "smithy.api#documentation": "A content part in a session message."
      }
    },
    "com.openai.agents#MessageContentResourceInputText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#MessageContentResourceInputTextType",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always `input_text`.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text supplied by the user.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Text supplied by the user."
      }
    },
    "com.openai.agents#MessageContentResourceInputTextType": {
      "type": "enum",
      "members": {
        "INPUT_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always `input_text`."
      }
    },
    "com.openai.agents#MessageContentResourceInputImage": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#MessageContentResourceInputImageType",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always `input_image`.",
            "smithy.api#required": {}
          }
        },
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the image supplied by the user, which may be a base64-encoded data URL.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An image supplied by the user."
      }
    },
    "com.openai.agents#MessageContentResourceInputImageType": {
      "type": "enum",
      "members": {
        "INPUT_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_image"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always `input_image`."
      }
    },
    "com.openai.agents#MessageContentResourceOutputText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#MessageContentResourceOutputTextType",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always `output_text`.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text produced by the assistant.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Text produced by the assistant."
      }
    },
    "com.openai.agents#MessageContentResourceOutputTextType": {
      "type": "enum",
      "members": {
        "OUTPUT_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "output_text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always `output_text`."
      }
    },
    "com.openai.agents#MessageItemResourceContentList": {
      "type": "list",
      "member": {
        "target": "com.openai.agents#MessageContentResource"
      },
      "traits": {
        "smithy.api#documentation": "The content of the message. User messages contain input text or images; assistant messages contain output text."
      }
    },
    "com.openai.agents#OutputItemStatusResource": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of an agent output item."
      }
    },
    "com.openai.agents#MessagePhaseResource": {
      "type": "enum",
      "members": {
        "COMMENTARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "commentary"
          }
        },
        "FINAL_ANSWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "final_answer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The phase of an assistant message."
      }
    },
    "com.openai.agents#ReasoningItemResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#ReasoningItemResourceType",
          "traits": {
            "smithy.api#documentation": "The item type. Always `reasoning`.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the reasoning item.",
            "smithy.api#required": {}
          }
        },
        "turn_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the turn that contains this item.",
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "com.openai.agents#ReasoningItemResourceSummaryList",
          "traits": {
            "smithy.api#documentation": "The reasoning summaries produced by the agent.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.agents#OutputItemStatusResource",
          "traits": {
            "smithy.api#documentation": "The status of the reasoning item.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reasoning item produced by the agent."
      }
    },
    "com.openai.agents#ReasoningItemResourceType": {
      "type": "enum",
      "members": {
        "REASONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reasoning"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The item type. Always `reasoning`."
      }
    },
    "com.openai.agents#SummaryTextResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#SummaryTextResourceType",
          "traits": {
            "smithy.api#documentation": "The content type. Always `summary_text`.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reasoning summary text.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reasoning summary content part."
      }
    },
    "com.openai.agents#SummaryTextResourceType": {
      "type": "enum",
      "members": {
        "SUMMARY_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "summary_text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The content type. Always `summary_text`."
      }
    },
    "com.openai.agents#ReasoningItemResourceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.openai.agents#SummaryTextResource"
      },
      "traits": {
        "smithy.api#documentation": "The reasoning summaries produced by the agent."
      }
    },
    "com.openai.agents#FunctionCallItemResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#FunctionCallItemResourceType",
          "traits": {
            "smithy.api#documentation": "The item type. Always `function_call`.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the function call item.",
            "smithy.api#required": {}
          }
        },
        "turn_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the turn that contains this item.",
            "smithy.api#required": {}
          }
        },
        "call_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID used to submit the function result.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function to call.",
            "smithy.api#required": {}
          }
        },
        "arguments": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The arguments to pass to the function.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.agents#FunctionCallStatusResource",
          "traits": {
            "smithy.api#documentation": "The status of the function call.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A function call produced by the agent."
      }
    },
    "com.openai.agents#FunctionCallItemResourceType": {
      "type": "enum",
      "members": {
        "FUNCTION_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function_call"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The item type. Always `function_call`."
      }
    },
    "com.openai.agents#FunctionCallStatusResource": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of a tool call."
      }
    },
    "com.openai.agents#FunctionCallOutputItemResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the function call output item.",
            "smithy.api#required": {}
          }
        },
        "turn_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the turn that contains this item.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.agents#FunctionCallOutputItemResourceType",
          "traits": {
            "smithy.api#documentation": "The item type. Always `function_call_output`.",
            "smithy.api#required": {}
          }
        },
        "call_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the function call that produced this output.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.agents#FunctionCallStatusResource",
          "traits": {
            "smithy.api#documentation": "The status of the function call.",
            "smithy.api#required": {}
          }
        },
        "output": {
          "target": "com.openai.agents#FunctionCallOutputResource",
          "traits": {
            "smithy.api#documentation": "The function result, if the call succeeded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message, if the call failed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result supplied for a function call."
      }
    },
    "com.openai.agents#FunctionCallOutputItemResourceType": {
      "type": "enum",
      "members": {
        "FUNCTION_CALL_OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function_call_output"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The item type. Always `function_call_output`."
      }
    },
    "com.openai.agents#FunctionCallOutputResource": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.agents#FunctionCallOutputResourceCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "The text or model-input content supplied as a function result."
      }
    },
    "com.openai.agents#InputContentResource": {
      "type": "union",
      "members": {
        "InputContentResourceInputText": {
          "target": "com.openai.agents#InputContentResourceInputText"
        },
        "InputContentResourceInputImage": {
          "target": "com.openai.agents#InputContentResourceInputImage"
        }
      },
      "traits": {
        "smithy.api#documentation": "User-provided content recorded in a session item."
      }
    },
    "com.openai.agents#InputContentResourceInputText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#InputContentResourceInputTextType",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always `input_text`.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text supplied to the agent.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Text input recorded in a session item."
      }
    },
    "com.openai.agents#InputContentResourceInputTextType": {
      "type": "enum",
      "members": {
        "INPUT_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always `input_text`."
      }
    },
    "com.openai.agents#InputContentResourceInputImage": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#InputContentResourceInputImageType",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always `input_image`.",
            "smithy.api#required": {}
          }
        },
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the image supplied to the agent, which may be a base64-encoded data URL.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image input recorded in a session item."
      }
    },
    "com.openai.agents#InputContentResourceInputImageType": {
      "type": "enum",
      "members": {
        "INPUT_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_image"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always `input_image`."
      }
    },
    "com.openai.agents#FunctionCallOutputResourceCase1List": {
      "type": "list",
      "member": {
        "target": "com.openai.agents#InputContentResource"
      },
      "traits": {}
    },
    "com.openai.agents#AgentMessageItemResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the message.",
            "smithy.api#required": {}
          }
        },
        "turn_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the turn that contains this item.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.agents#AgentMessageItemResourceType",
          "traits": {
            "smithy.api#documentation": "The item type. Always `agent_message`.",
            "smithy.api#required": {}
          }
        },
        "sender_agent_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID or name of the sending agent.",
            "smithy.api#required": {}
          }
        },
        "recipient_agent_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID or name of the receiving agent.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.openai.agents#AgentMessageItemResourceContentList",
          "traits": {
            "smithy.api#documentation": "The content exchanged between the agents.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message exchanged between agent threads."
      }
    },
    "com.openai.agents#AgentMessageItemResourceType": {
      "type": "enum",
      "members": {
        "AGENT_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent_message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The item type. Always `agent_message`."
      }
    },
    "com.openai.agents#AgentMessageItemResourceContentList": {
      "type": "list",
      "member": {
        "target": "com.openai.agents#AgentContentResource"
      },
      "traits": {
        "smithy.api#documentation": "The content exchanged between the agents."
      }
    },
    "com.openai.agents#McpCallItemResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#McpCallItemResourceType",
          "traits": {
            "smithy.api#documentation": "The item type. Always `mcp_call`.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the MCP call item.",
            "smithy.api#required": {}
          }
        },
        "turn_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the turn that contains this item.",
            "smithy.api#required": {}
          }
        },
        "server_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label of the MCP server.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the MCP tool.",
            "smithy.api#required": {}
          }
        },
        "arguments": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The arguments passed to the MCP tool.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.agents#FunctionCallStatusResource",
          "traits": {
            "smithy.api#documentation": "The status of the MCP tool call.",
            "smithy.api#required": {}
          }
        },
        "output": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The output returned by the MCP tool, if any.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "error": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The error returned by the MCP tool, if any.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A call to a tool on an MCP server."
      }
    },
    "com.openai.agents#McpCallItemResourceType": {
      "type": "enum",
      "members": {
        "MCP_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mcp_call"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The item type. Always `mcp_call`."
      }
    },
    "com.openai.agents#ComputerUseCallItemResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#ComputerUseCallItemResourceType",
          "traits": {
            "smithy.api#documentation": "The item type. Always `computer_use_call`.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the activity item.",
            "smithy.api#required": {}
          }
        },
        "turn_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the turn that contains this item.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A model-generated description of the activity, when available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.openai.agents#FunctionCallStatusResource",
          "traits": {
            "smithy.api#documentation": "The execution status of the activity.",
            "smithy.api#required": {}
          }
        },
        "output": {
          "target": "com.openai.agents#ComputerScreenshotResource",
          "traits": {
            "smithy.api#documentation": "The last screenshot emitted by the model. Null when screenshot inclusion is disabled or the call emitted no screenshot.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One execution of the platform-provided computer-use capability."
      }
    },
    "com.openai.agents#ComputerUseCallItemResourceType": {
      "type": "enum",
      "members": {
        "COMPUTER_USE_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "computer_use_call"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The item type. Always `computer_use_call`."
      }
    },
    "com.openai.agents#ComputerScreenshotResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#ComputerScreenshotResourceType",
          "traits": {
            "smithy.api#documentation": "The content type. Always `computer_screenshot`.",
            "smithy.api#required": {}
          }
        },
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The complete JPEG image as a base64 data URL.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A browser screenshot emitted by the model during computer use."
      }
    },
    "com.openai.agents#ComputerScreenshotResourceType": {
      "type": "enum",
      "members": {
        "COMPUTER_SCREENSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "computer_screenshot"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The content type. Always `computer_screenshot`."
      }
    },
    "com.openai.agents#BrowserAuthenticationRequestItemResource": {
      "type": "structure",
      "members": {
        "turn_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "request": {
          "target": "com.openai.agents#BrowserAuthenticationHistoryRequestKindResourceBrowserAuthentication",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stable history item ID.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.agents#BrowserAuthenticationRequestItemResourceType",
          "traits": {
            "smithy.api#documentation": "The item type. Always computer_use_approval_request.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A credential-free history record of the emitted login request."
      }
    },
    "com.openai.agents#BrowserAuthenticationHistoryRequestKindResourceBrowserAuthentication": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#BrowserAuthenticationHistoryRequestKindResourceBrowserAuthenticationType",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always `browser_authentication`.",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the agent needs the user to sign in.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "credential_origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The registered form or frame origin where values will be entered.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fields": {
          "target": "com.openai.agents#BrowserAuthenticationHistoryRequestKindResourceBrowserAuthenticationFieldsList",
          "traits": {
            "smithy.api#documentation": "Controls to render. All submitted values are sensitive.",
            "smithy.api#required": {}
          }
        },
        "options": {
          "target": "com.openai.agents#BrowserAuthenticationHistoryRequestKindResourceBrowserAuthenticationOptionsList",
          "traits": {
            "smithy.api#documentation": "Sign-in methods. Empty for a plain form.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A registered form awaiting the application's response."
      }
    },
    "com.openai.agents#BrowserAuthenticationHistoryRequestKindResourceBrowserAuthenticationType": {
      "type": "enum",
      "members": {
        "BROWSER_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "browser_authentication"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always `browser_authentication`."
      }
    },
    "com.openai.agents#BrowserAuthenticationFieldResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field ID to submit as field_id in a fields entry.",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label to display beside the control.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rendering type, such as email, password, or text.",
            "smithy.api#required": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this control requires a nonempty value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A control in a registered browser-login form."
      }
    },
    "com.openai.agents#BrowserAuthenticationHistoryRequestKindResourceBrowserAuthenticationFieldsList": {
      "type": "list",
      "member": {
        "target": "com.openai.agents#BrowserAuthenticationFieldResource"
      },
      "traits": {
        "smithy.api#documentation": "Controls to render. All submitted values are sensitive."
      }
    },
    "com.openai.agents#BrowserAuthenticationOptionResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The option ID to submit as selected_option.",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The method label to display.",
            "smithy.api#required": {}
          }
        },
        "field_ids": {
          "target": "com.openai.agents#BrowserAuthenticationOptionResourceFieldIdsList",
          "traits": {
            "smithy.api#documentation": "IDs from the registered fields that this method accepts.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A sign-in method and the fields that belong to it."
      }
    },
    "com.openai.agents#BrowserAuthenticationOptionResourceFieldIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "IDs from the registered fields that this method accepts."
      }
    },
    "com.openai.agents#BrowserAuthenticationHistoryRequestKindResourceBrowserAuthenticationOptionsList": {
      "type": "list",
      "member": {
        "target": "com.openai.agents#BrowserAuthenticationOptionResource"
      },
      "traits": {
        "smithy.api#documentation": "Sign-in methods. Empty for a plain form."
      }
    },
    "com.openai.agents#BrowserAuthenticationRequestItemResourceType": {
      "type": "enum",
      "members": {
        "COMPUTER_USE_APPROVAL_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "computer_use_approval_request"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The item type. Always computer_use_approval_request."
      }
    },
    "com.openai.agents#ComputerUseApprovalRequestResultItemResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stable history item ID.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.agents#ComputerUseApprovalRequestResultItemResourceType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "turn_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the turn that contains this item.",
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The registered request answered by this item.",
            "smithy.api#required": {}
          }
        },
        "response": {
          "target": "com.openai.agents#ComputerUseApprovalResponseKindResource",
          "traits": {
            "smithy.api#documentation": "The admitted response, without submitted credential values.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A credential-free record of an admitted response, not proof of completion."
      }
    },
    "com.openai.agents#ComputerUseApprovalRequestResultItemResourceType": {
      "type": "enum",
      "members": {
        "COMPUTER_USE_APPROVAL_REQUEST_RESULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "computer_use_approval_request_result"
          }
        }
      },
      "traits": {}
    },
    "com.openai.agents#ComputerUseApprovalResponseKindResource": {
      "type": "union",
      "members": {
        "ComputerUseApprovalResponseKindResourceBrowserAuthenticationSubmitResource": {
          "target": "com.openai.agents#ComputerUseApprovalResponseKindResourceBrowserAuthenticationSubmitResource"
        },
        "ComputerUseApprovalResponseKindResourceBrowserAuthenticationCancelResource": {
          "target": "com.openai.agents#ComputerUseApprovalResponseKindResourceBrowserAuthenticationCancelResource"
        }
      },
      "traits": {}
    },
    "com.openai.agents#ComputerUseApprovalResponseKindResourceBrowserAuthenticationSubmitResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#ComputerUseApprovalResponseKindResourceBrowserAuthenticationSubmitResourceType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.openai.agents#ComputerUseApprovalResponseKindResourceBrowserAuthenticationSubmitResourceAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "selected_option": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The chosen sign-in method, or null when no options were offered.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.agents#ComputerUseApprovalResponseKindResourceBrowserAuthenticationSubmitResourceType": {
      "type": "enum",
      "members": {
        "BROWSER_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "browser_authentication"
          }
        }
      },
      "traits": {}
    },
    "com.openai.agents#ComputerUseApprovalResponseKindResourceBrowserAuthenticationSubmitResourceAction": {
      "type": "enum",
      "members": {
        "SUBMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "submit"
          }
        }
      },
      "traits": {}
    },
    "com.openai.agents#ComputerUseApprovalResponseKindResourceBrowserAuthenticationCancelResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#ComputerUseApprovalResponseKindResourceBrowserAuthenticationCancelResourceType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.openai.agents#ComputerUseApprovalResponseKindResourceBrowserAuthenticationCancelResourceAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.agents#ComputerUseApprovalResponseKindResourceBrowserAuthenticationCancelResourceType": {
      "type": "enum",
      "members": {
        "BROWSER_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "browser_authentication"
          }
        }
      },
      "traits": {}
    },
    "com.openai.agents#ComputerUseApprovalResponseKindResourceBrowserAuthenticationCancelResourceAction": {
      "type": "enum",
      "members": {
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancel"
          }
        }
      },
      "traits": {}
    },
    "com.openai.agents#WebSearchCallItemResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#WebSearchCallItemResourceType",
          "traits": {
            "smithy.api#documentation": "The item type. Always `web_search_call`.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the web search call.",
            "smithy.api#required": {}
          }
        },
        "turn_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the turn that contains this item.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.agents#OutputItemStatusResource",
          "traits": {
            "smithy.api#documentation": "The status of the web search call.",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.openai.agents#WebSearchActionResource",
          "traits": {
            "smithy.api#documentation": "The action performed by the web search tool.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A web search call produced by the agent."
      }
    },
    "com.openai.agents#WebSearchCallItemResourceType": {
      "type": "enum",
      "members": {
        "WEB_SEARCH_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "web_search_call"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The item type. Always `web_search_call`."
      }
    },
    "com.openai.agents#WebSearchActionResource": {
      "type": "union",
      "members": {
        "WebSearchActionResourceSearch": {
          "target": "com.openai.agents#WebSearchActionResourceSearch"
        },
        "WebSearchActionResourceOpenPage": {
          "target": "com.openai.agents#WebSearchActionResourceOpenPage"
        },
        "WebSearchActionResourceFindInPage": {
          "target": "com.openai.agents#WebSearchActionResourceFindInPage"
        },
        "WebSearchActionResourceOther": {
          "target": "com.openai.agents#WebSearchActionResourceOther"
        }
      },
      "traits": {
        "smithy.api#documentation": "An action performed by the web search tool."
      }
    },
    "com.openai.agents#WebSearchActionResourceSearch": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#WebSearchActionResourceSearchType",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always `search`.",
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The search query, when a single query was used.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "queries": {
          "target": "com.openai.agents#WebSearchActionResourceSearchQueriesList",
          "traits": {
            "smithy.api#documentation": "The search queries, when multiple queries were used.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A search query or group of search queries."
      }
    },
    "com.openai.agents#WebSearchActionResourceSearchType": {
      "type": "enum",
      "members": {
        "SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "search"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always `search`."
      }
    },
    "com.openai.agents#WebSearchActionResourceSearchQueriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The search queries, when multiple queries were used."
      }
    },
    "com.openai.agents#WebSearchActionResourceOpenPage": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#WebSearchActionResourceOpenPageType",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always `open_page`.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the page that was opened.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Opens a web page."
      }
    },
    "com.openai.agents#WebSearchActionResourceOpenPageType": {
      "type": "enum",
      "members": {
        "OPEN_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open_page"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always `open_page`."
      }
    },
    "com.openai.agents#WebSearchActionResourceFindInPage": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#WebSearchActionResourceFindInPageType",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always `find_in_page`.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the page that was searched.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text pattern that was searched for.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Finds text within a web page."
      }
    },
    "com.openai.agents#WebSearchActionResourceFindInPageType": {
      "type": "enum",
      "members": {
        "FIND_IN_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "find_in_page"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always `find_in_page`."
      }
    },
    "com.openai.agents#WebSearchActionResourceOther": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#WebSearchActionResourceOtherType",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always `other`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Another web search action."
      }
    },
    "com.openai.agents#WebSearchActionResourceOtherType": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always `other`."
      }
    },
    "com.openai.agents#CommandExecutionItemResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#CommandExecutionItemResourceType",
          "traits": {
            "smithy.api#documentation": "The item type. Always `command_execution`.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the command execution item.",
            "smithy.api#required": {}
          }
        },
        "turn_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the turn that contains this item.",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The command that was executed.",
            "smithy.api#required": {}
          }
        },
        "cwd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The working directory used to execute the command.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.openai.agents#FunctionCallStatusResource",
          "traits": {
            "smithy.api#documentation": "The status of the command execution.",
            "smithy.api#required": {}
          }
        },
        "output": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The command output, if available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "exit_code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The process exit code, if the command completed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "duration_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The command duration in milliseconds.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A command execution produced by the agent."
      }
    },
    "com.openai.agents#CommandExecutionItemResourceType": {
      "type": "enum",
      "members": {
        "COMMAND_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command_execution"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The item type. Always `command_execution`."
      }
    },
    "com.openai.agents#CreateSubagentCallItemResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.agents#CreateSubagentCallItemResourceType",
          "traits": {
            "smithy.api#documentation": "The item type. Always `create_subagent_call`.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the tool call item.",
            "smithy.api#required": {}
          }
        },
        "turn_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the turn that contains this item.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.agents#FunctionCallStatusResource",
          "traits": {
            "smithy.api#documentation": "The status of the tool call.",
            "smithy.api#required": {}
          }
        },
        "agent_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the agent that requested the subagent.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.openai.agents#CreateSubagentCallItemResourceContentList",
          "traits": {
            "smithy.api#documentation": "The task given to the spawned agent.",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The model requested for the spawned agent.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "reasoning_effort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reasoning effort requested for the spawned agent.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
[...]
