{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openai.assistants#CreateMessageRequest": {
      "type": "structure",
      "members": {
        "role": {
          "target": "com.openai.assistants#CreateMessageRequestRole",
          "traits": {
            "smithy.api#documentation": "The role of the entity that is creating the message. Allowed values include:\n- `user`: Indicates the message is sent by an actual user and should be used in most cases to represent user-generated messages.\n- `assistant`: Indicates the message is generated by the assistant. Use this value to insert messages from the assistant into the conversation.\n",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.openai.assistants#CreateMessageRequestContent",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attachments": {
          "target": "com.openai.assistants#CreateMessageRequestAttachmentsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.openai.assistants#MetadataMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#CreateMessageRequestRole": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ASSISTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assistant"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The role of the entity that is creating the message. Allowed values include:\n- `user`: Indicates the message is sent by an actual user and should be used in most cases to represent user-generated messages.\n- `assistant`: Indicates the message is generated by the assistant. Use this value to insert messages from the assistant into the conversation.\n"
      }
    },
    "com.openai.assistants#MessageContentImageFileObject": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.assistants#MessageContentImageFileObjectType",
          "traits": {
            "smithy.api#documentation": "Always `image_file`.",
            "smithy.api#required": {}
          }
        },
        "image_file": {
          "target": "com.openai.assistants#MessageContentImageFileObjectImageFile",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "References an image [File](https://developers.openai.com/api/reference/resources/files) in the content of a message."
      }
    },
    "com.openai.assistants#MessageContentImageFileObjectType": {
      "type": "enum",
      "members": {
        "IMAGE_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_file"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always `image_file`."
      }
    },
    "com.openai.assistants#MessageContentImageFileObjectImageFileDetail": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the detail level of the image if specified by the user. `low` uses fewer tokens, you can opt in to high resolution using `high`."
      }
    },
    "com.openai.assistants#MessageContentImageFileObjectImageFile": {
      "type": "structure",
      "members": {
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [File](https://developers.openai.com/api/reference/resources/files) ID of the image in the message content. Set `purpose=\"vision\"` when uploading the File if you need to later display the file content.",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "com.openai.assistants#MessageContentImageFileObjectImageFileDetail",
          "traits": {
            "smithy.api#documentation": "Specifies the detail level of the image if specified by the user. `low` uses fewer tokens, you can opt in to high resolution using `high`."
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#MessageContentImageUrlObject": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.assistants#MessageContentImageUrlObjectType",
          "traits": {
            "smithy.api#documentation": "The type of the content part.",
            "smithy.api#required": {}
          }
        },
        "image_url": {
          "target": "com.openai.assistants#MessageContentImageUrlObjectImageUrl",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "References an image URL in the content of a message."
      }
    },
    "com.openai.assistants#MessageContentImageUrlObjectType": {
      "type": "enum",
      "members": {
        "IMAGE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_url"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the content part."
      }
    },
    "com.openai.assistants#MessageContentImageUrlObjectImageUrlDetail": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the detail level of the image. `low` uses fewer tokens, you can opt in to high resolution using `high`. Default value is `auto`"
      }
    },
    "com.openai.assistants#MessageContentImageUrlObjectImageUrl": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The external URL of the image, must be a supported image types: jpeg, jpg, png, gif, webp.",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "com.openai.assistants#MessageContentImageUrlObjectImageUrlDetail",
          "traits": {
            "smithy.api#documentation": "Specifies the detail level of the image. `low` uses fewer tokens, you can opt in to high resolution using `high`. Default value is `auto`"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#MessageRequestContentTextObject": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.assistants#MessageRequestContentTextObjectType",
          "traits": {
            "smithy.api#documentation": "Always `text`.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text content to be sent to the model",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The text content that is part of a message."
      }
    },
    "com.openai.assistants#MessageRequestContentTextObjectType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always `text`."
      }
    },
    "com.openai.assistants#CreateMessageRequestContentArrayOfContentPartsItem": {
      "type": "union",
      "members": {
        "MessageContentImageFileObject": {
          "target": "com.openai.assistants#MessageContentImageFileObject"
        },
        "MessageContentImageUrlObject": {
          "target": "com.openai.assistants#MessageContentImageUrlObject"
        },
        "MessageRequestContentTextObject": {
          "target": "com.openai.assistants#MessageRequestContentTextObject"
        }
      },
      "traits": {}
    },
    "com.openai.assistants#CreateMessageRequestContentArrayOfContentPartsList": {
      "type": "list",
      "member": {
        "target": "com.openai.assistants#CreateMessageRequestContentArrayOfContentPartsItem"
      },
      "traits": {
        "smithy.api#documentation": "An array of content parts with a defined type, each can be of type `text` or images can be passed with `image_url` or `image_file`. Image types are only supported on [Vision-compatible models](https://developers.openai.com/api/docs/models)."
      }
    },
    "com.openai.assistants#CreateMessageRequestContent": {
      "type": "union",
      "members": {
        "TextContent": {
          "target": "smithy.api#String"
        },
        "ArrayOfContentParts": {
          "target": "com.openai.assistants#CreateMessageRequestContentArrayOfContentPartsList"
        }
      },
      "traits": {}
    },
    "com.openai.assistants#AssistantToolsCode": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.assistants#AssistantToolsCodeType",
          "traits": {
            "smithy.api#documentation": "The type of tool being defined: `code_interpreter`",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#AssistantToolsCodeType": {
      "type": "enum",
      "members": {
        "CODE_INTERPRETER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code_interpreter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of tool being defined: `code_interpreter`"
      }
    },
    "com.openai.assistants#AssistantToolsFileSearchTypeOnly": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.assistants#AssistantToolsFileSearchTypeOnlyType",
          "traits": {
            "smithy.api#documentation": "The type of tool being defined: `file_search`",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#AssistantToolsFileSearchTypeOnlyType": {
      "type": "enum",
      "members": {
        "FILE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file_search"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of tool being defined: `file_search`"
      }
    },
    "com.openai.assistants#CreateMessageRequestAttachmentsItemToolsItem": {
      "type": "union",
      "members": {
        "AssistantToolsCode": {
          "target": "com.openai.assistants#AssistantToolsCode"
        },
        "AssistantToolsFileSearchTypeOnly": {
          "target": "com.openai.assistants#AssistantToolsFileSearchTypeOnly"
        }
      },
      "traits": {}
    },
    "com.openai.assistants#CreateMessageRequestAttachmentsItemToolsList": {
      "type": "list",
      "member": {
        "target": "com.openai.assistants#CreateMessageRequestAttachmentsItemToolsItem"
      },
      "traits": {
        "smithy.api#documentation": "The tools to add this file to."
      }
    },
    "com.openai.assistants#CreateMessageRequestAttachmentsItem": {
      "type": "structure",
      "members": {
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the file to attach to the message."
          }
        },
        "tools": {
          "target": "com.openai.assistants#CreateMessageRequestAttachmentsItemToolsList",
          "traits": {
            "smithy.api#documentation": "The tools to add this file to."
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#CreateMessageRequestAttachmentsList": {
      "type": "list",
      "member": {
        "target": "com.openai.assistants#CreateMessageRequestAttachmentsItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of files attached to the message, and the tools they should be added to."
      }
    },
    "com.openai.assistants#MetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Set of 16 key-value pairs that can be attached to an object. This can be\nuseful for storing additional information about the object in a structured\nformat, and querying for objects via API or the dashboard.\n\nKeys are strings with a maximum length of 64 characters. Values are strings\nwith a maximum length of 512 characters.\n"
      }
    },
    "com.openai.assistants#CreateThreadRequestMessagesList": {
      "type": "list",
      "member": {
        "target": "com.openai.assistants#CreateMessageRequest"
      },
      "traits": {
        "smithy.api#documentation": "A list of [messages](https://developers.openai.com/api/docs/assistants/migration) to start the thread with."
      }
    },
    "com.openai.assistants#CreateThreadRequestToolResourcesCodeInterpreterFileIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of [file](https://developers.openai.com/api/reference/resources/files) IDs made available to the `code_interpreter` tool. There can be a maximum of 20 files associated with the tool.\n"
      }
    },
    "com.openai.assistants#CreateThreadRequestToolResourcesCodeInterpreter": {
      "type": "structure",
      "members": {
        "file_ids": {
          "target": "com.openai.assistants#CreateThreadRequestToolResourcesCodeInterpreterFileIdsList",
          "traits": {
            "smithy.api#documentation": "A list of [file](https://developers.openai.com/api/reference/resources/files) IDs made available to the `code_interpreter` tool. There can be a maximum of 20 files associated with the tool.\n"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#CreateThreadRequestToolResources": {
      "type": "structure",
      "members": {
        "code_interpreter": {
          "target": "com.openai.assistants#CreateThreadRequestToolResourcesCodeInterpreter"
        },
        "file_search": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of resources that are made available to the assistant's tools in this thread. The resources are specific to the type of tool. For example, the `code_interpreter` tool requires a list of file IDs, while the `file_search` tool requires a list of vector store IDs.\n"
      }
    },
    "com.openai.assistants#CreateThreadRequest": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.openai.assistants#CreateThreadRequestMessagesList",
          "traits": {
            "smithy.api#documentation": "A list of [messages](https://developers.openai.com/api/docs/assistants/migration) to start the thread with."
          }
        },
        "tool_resources": {
          "target": "com.openai.assistants#CreateThreadRequestToolResources",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.openai.assistants#MetadataMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.assistants#ThreadObject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier, which can be referenced in API endpoints.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "com.openai.assistants#ThreadObjectObject",
          "traits": {
            "smithy.api#documentation": "The object type, which is always `thread`.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) for when the thread was created.",
            "smithy.api#required": {}
          }
        },
        "tool_resources": {
          "target": "com.openai.assistants#ThreadObjectToolResources",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.openai.assistants#MetadataMap",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a thread that contains [messages](https://developers.openai.com/api/docs/assistants/migration)."
      }
    },
    "com.openai.assistants#ThreadObjectObject": {
      "type": "enum",
      "members": {
        "THREAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type, which is always `thread`."
      }
    },
    "com.openai.assistants#ThreadObjectToolResourcesCodeInterpreterFileIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of [file](https://developers.openai.com/api/reference/resources/files) IDs made available to the `code_interpreter` tool. There can be a maximum of 20 files associated with the tool.\n"
      }
    },
    "com.openai.assistants#ThreadObjectToolResourcesCodeInterpreter": {
      "type": "structure",
      "members": {
        "file_ids": {
          "target": "com.openai.assistants#ThreadObjectToolResourcesCodeInterpreterFileIdsList",
          "traits": {
            "smithy.api#documentation": "A list of [file](https://developers.openai.com/api/reference/resources/files) IDs made available to the `code_interpreter` tool. There can be a maximum of 20 files associated with the tool.\n"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#ThreadObjectToolResourcesFileSearchVectorStoreIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The [vector store](https://developers.openai.com/api/reference/resources/vector_stores) attached to this thread. There can be a maximum of 1 vector store attached to the thread.\n"
      }
    },
    "com.openai.assistants#ThreadObjectToolResourcesFileSearch": {
      "type": "structure",
      "members": {
        "vector_store_ids": {
          "target": "com.openai.assistants#ThreadObjectToolResourcesFileSearchVectorStoreIdsList",
          "traits": {
            "smithy.api#documentation": "The [vector store](https://developers.openai.com/api/reference/resources/vector_stores) attached to this thread. There can be a maximum of 1 vector store attached to the thread.\n"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#ThreadObjectToolResources": {
      "type": "structure",
      "members": {
        "code_interpreter": {
          "target": "com.openai.assistants#ThreadObjectToolResourcesCodeInterpreter"
        },
        "file_search": {
          "target": "com.openai.assistants#ThreadObjectToolResourcesFileSearch"
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of resources that are made available to the assistant's tools in this thread. The resources are specific to the type of tool. For example, the `code_interpreter` tool requires a list of file IDs, while the `file_search` tool requires a list of vector store IDs.\n"
      }
    },
    "com.openai.assistants#CreateThread": {
      "type": "operation",
      "input": {
        "target": "com.openai.assistants#CreateThreadRequest"
      },
      "output": {
        "target": "com.openai.assistants#ThreadObject"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/threads",
          "code": 200
        },
        "smithy.api#documentation": "Create thread\n\nCreate a thread."
      }
    },
    "com.openai.assistants#CreateThreadRequest2": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.openai.assistants#CreateThreadRequestMessagesList2",
          "traits": {
            "smithy.api#documentation": "A list of [messages](https://developers.openai.com/api/docs/assistants/migration) to start the thread with."
          }
        },
        "tool_resources": {
          "target": "com.openai.assistants#CreateThreadRequestToolResources2",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.openai.assistants#MetadataMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options to create a new thread. If no thread is provided when running a\nrequest, an empty thread will be created.\n"
      }
    },
    "com.openai.assistants#CreateThreadRequestMessagesList2": {
      "type": "list",
      "member": {
        "target": "com.openai.assistants#CreateMessageRequest"
      },
      "traits": {
        "smithy.api#documentation": "A list of [messages](https://developers.openai.com/api/docs/assistants/migration) to start the thread with."
      }
    },
    "com.openai.assistants#CreateThreadRequestToolResourcesCodeInterpreterFileIdsList2": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of [file](https://developers.openai.com/api/reference/resources/files) IDs made available to the `code_interpreter` tool. There can be a maximum of 20 files associated with the tool.\n"
      }
    },
    "com.openai.assistants#CreateThreadRequestToolResourcesCodeInterpreter2": {
      "type": "structure",
      "members": {
        "file_ids": {
          "target": "com.openai.assistants#CreateThreadRequestToolResourcesCodeInterpreterFileIdsList2",
          "traits": {
            "smithy.api#documentation": "A list of [file](https://developers.openai.com/api/reference/resources/files) IDs made available to the `code_interpreter` tool. There can be a maximum of 20 files associated with the tool.\n"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#CreateThreadRequestToolResources2": {
      "type": "structure",
      "members": {
        "code_interpreter": {
          "target": "com.openai.assistants#CreateThreadRequestToolResourcesCodeInterpreter2"
        },
        "file_search": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of resources that are made available to the assistant's tools in this thread. The resources are specific to the type of tool. For example, the `code_interpreter` tool requires a list of file IDs, while the `file_search` tool requires a list of vector store IDs.\n"
      }
    },
    "com.openai.assistants#CreateThreadAndRunRequestModelCase1": {
      "type": "enum",
      "members": {
        "GPT_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5"
          }
        },
        "GPT_5_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-mini"
          }
        },
        "GPT_5_NANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-nano"
          }
        },
        "GPT_5_2025_08_07": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-2025-08-07"
          }
        },
        "GPT_5_MINI_2025_08_07": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-mini-2025-08-07"
          }
        },
        "GPT_5_NANO_2025_08_07": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-nano-2025-08-07"
          }
        },
        "GPT_4_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.1"
          }
        },
        "GPT_4_1_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.1-mini"
          }
        },
        "GPT_4_1_NANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.1-nano"
          }
        },
        "GPT_4_1_2025_04_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.1-2025-04-14"
          }
        },
        "GPT_4_1_MINI_2025_04_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.1-mini-2025-04-14"
          }
        },
        "GPT_4_1_NANO_2025_04_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.1-nano-2025-04-14"
          }
        },
        "GPT_4O": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o"
          }
        },
        "GPT_4O_2024_11_20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-2024-11-20"
          }
        },
        "GPT_4O_2024_08_06": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-2024-08-06"
          }
        },
        "GPT_4O_2024_05_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-2024-05-13"
          }
        },
        "GPT_4O_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini"
          }
        },
        "GPT_4O_MINI_2024_07_18": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini-2024-07-18"
          }
        },
        "GPT_4_5_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.5-preview"
          }
        },
        "GPT_4_5_PREVIEW_2025_02_27": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.5-preview-2025-02-27"
          }
        },
        "GPT_4_TURBO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-turbo"
          }
        },
        "GPT_4_TURBO_2024_04_09": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-turbo-2024-04-09"
          }
        },
        "GPT_4_0125_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-0125-preview"
          }
        },
        "GPT_4_TURBO_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-turbo-preview"
          }
        },
        "GPT_4_1106_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-1106-preview"
          }
        },
        "GPT_4_VISION_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-vision-preview"
          }
        },
        "GPT_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4"
          }
        },
        "GPT_4_0314": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-0314"
          }
        },
        "GPT_4_0613": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-0613"
          }
        },
        "GPT_4_32K": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-32k"
          }
        },
        "GPT_4_32K_0314": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-32k-0314"
          }
        },
        "GPT_4_32K_0613": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-32k-0613"
          }
        },
        "GPT_3_5_TURBO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo"
          }
        },
        "GPT_3_5_TURBO_16K": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo-16k"
          }
        },
        "GPT_3_5_TURBO_0613": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo-0613"
          }
        },
        "GPT_3_5_TURBO_1106": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo-1106"
          }
        },
        "GPT_3_5_TURBO_0125": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo-0125"
          }
        },
        "GPT_3_5_TURBO_16K_0613": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo-16k-0613"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#CreateThreadAndRunRequestModel": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.assistants#CreateThreadAndRunRequestModelCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The ID of the [Model](https://developers.openai.com/api/reference/resources/models) to be used to execute this run. If a value is provided here, it will override the model associated with the assistant. If not, the model associated with the assistant will be used."
      }
    },
    "com.openai.assistants#AssistantToolsFileSearch": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.assistants#AssistantToolsFileSearchType",
          "traits": {
            "smithy.api#documentation": "The type of tool being defined: `file_search`",
            "smithy.api#required": {}
          }
        },
        "file_search": {
          "target": "com.openai.assistants#AssistantToolsFileSearchFileSearch",
          "traits": {
            "smithy.api#documentation": "Overrides for the file search tool."
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#AssistantToolsFileSearchType": {
      "type": "enum",
      "members": {
        "FILE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file_search"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of tool being defined: `file_search`"
      }
    },
    "com.openai.assistants#FileSearchRankingOptions": {
      "type": "structure",
      "members": {
        "ranker": {
          "target": "com.openai.assistants#FileSearchRanker"
        },
        "score_threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score threshold for the file search. All values must be a floating point number between 0 and 1.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ranking options for the file search. If not specified, the file search tool will use the `auto` ranker and a score_threshold of 0.\n\nSee the [file search tool documentation](https://developers.openai.com/api/docs/guides/tools-file-search#retrieval-customization) for more information.\n"
      }
    },
    "com.openai.assistants#FileSearchRanker": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "DEFAULT_2024_08_21": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default_2024_08_21"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ranker to use for the file search. If not specified will use the `auto` ranker."
      }
    },
    "com.openai.assistants#AssistantToolsFileSearchFileSearch": {
      "type": "structure",
      "members": {
        "max_num_results": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results the file search tool should output. The default is 20 for `gpt-4*` models and 5 for `gpt-3.5-turbo`. This number should be between 1 and 50 inclusive.\n\nNote that the file search tool may output fewer than `max_num_results` results. See the [file search tool documentation](https://developers.openai.com/api/docs/guides/tools-file-search#retrieval-customization) for more information.\n"
          }
        },
        "ranking_options": {
          "target": "com.openai.assistants#FileSearchRankingOptions"
        }
      },
      "traits": {
        "smithy.api#documentation": "Overrides for the file search tool."
      }
    },
    "com.openai.assistants#AssistantToolsFunction": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.assistants#AssistantToolsFunctionType",
          "traits": {
            "smithy.api#documentation": "The type of tool being defined: `function`",
            "smithy.api#required": {}
          }
        },
        "function": {
          "target": "com.openai.assistants#FunctionObject",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#AssistantToolsFunctionType": {
      "type": "enum",
      "members": {
        "FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of tool being defined: `function`"
      }
    },
    "com.openai.assistants#FunctionObject": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of what the function does, used by the model to choose when and how to call the function."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64.",
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "com.openai.assistants#FunctionParameters"
        },
        "strict": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#FunctionParameters": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The parameters the functions accepts, described as a JSON Schema object. See the [guide](https://developers.openai.com/api/docs/guides/function-calling) for examples, and the [JSON Schema reference](https://json-schema.org/understanding-json-schema/) for documentation about the format.\n\nOmitting `parameters` defines a function with an empty parameter list."
      }
    },
    "com.openai.assistants#CreateThreadAndRunRequestToolsItem": {
      "type": "union",
      "members": {
        "AssistantToolsCode": {
          "target": "com.openai.assistants#AssistantToolsCode"
        },
        "AssistantToolsFileSearch": {
          "target": "com.openai.assistants#AssistantToolsFileSearch"
        },
        "AssistantToolsFunction": {
          "target": "com.openai.assistants#AssistantToolsFunction"
        }
      },
      "traits": {}
    },
    "com.openai.assistants#CreateThreadAndRunRequestToolsList": {
      "type": "list",
      "member": {
        "target": "com.openai.assistants#CreateThreadAndRunRequestToolsItem"
      },
      "traits": {
        "smithy.api#documentation": "Override the tools the assistant can use for this run. This is useful for modifying the behavior on a per-run basis."
      }
    },
    "com.openai.assistants#CreateThreadAndRunRequestToolResourcesCodeInterpreterFileIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of [file](https://developers.openai.com/api/reference/resources/files) IDs made available to the `code_interpreter` tool. There can be a maximum of 20 files associated with the tool.\n"
      }
    },
    "com.openai.assistants#CreateThreadAndRunRequestToolResourcesCodeInterpreter": {
      "type": "structure",
      "members": {
        "file_ids": {
          "target": "com.openai.assistants#CreateThreadAndRunRequestToolResourcesCodeInterpreterFileIdsList",
          "traits": {
            "smithy.api#documentation": "A list of [file](https://developers.openai.com/api/reference/resources/files) IDs made available to the `code_interpreter` tool. There can be a maximum of 20 files associated with the tool.\n"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#CreateThreadAndRunRequestToolResourcesFileSearchVectorStoreIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The ID of the [vector store](https://developers.openai.com/api/reference/resources/vector_stores) attached to this assistant. There can be a maximum of 1 vector store attached to the assistant.\n"
      }
    },
    "com.openai.assistants#CreateThreadAndRunRequestToolResourcesFileSearch": {
      "type": "structure",
      "members": {
        "vector_store_ids": {
          "target": "com.openai.assistants#CreateThreadAndRunRequestToolResourcesFileSearchVectorStoreIdsList",
          "traits": {
            "smithy.api#documentation": "The ID of the [vector store](https://developers.openai.com/api/reference/resources/vector_stores) attached to this assistant. There can be a maximum of 1 vector store attached to the assistant.\n"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#CreateThreadAndRunRequestToolResources": {
      "type": "structure",
      "members": {
        "code_interpreter": {
          "target": "com.openai.assistants#CreateThreadAndRunRequestToolResourcesCodeInterpreter"
        },
        "file_search": {
          "target": "com.openai.assistants#CreateThreadAndRunRequestToolResourcesFileSearch"
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of resources that are used by the assistant's tools. The resources are specific to the type of tool. For example, the `code_interpreter` tool requires a list of file IDs, while the `file_search` tool requires a list of vector store IDs.\n"
      }
    },
    "com.openai.assistants#CreateThreadAndRunRequestTruncationStrategyType": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LAST_MESSAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "last_messages"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The truncation strategy to use for the thread. The default is `auto`. If set to `last_messages`, the thread will be truncated to the n most recent messages in the thread. When set to `auto`, messages in the middle of the thread will be dropped to fit the context length of the model, `max_prompt_tokens`."
      }
    },
    "com.openai.assistants#CreateThreadAndRunRequestTruncationStrategy": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.assistants#CreateThreadAndRunRequestTruncationStrategyType",
          "traits": {
            "smithy.api#documentation": "The truncation strategy to use for the thread. The default is `auto`. If set to `last_messages`, the thread will be truncated to the n most recent messages in the thread. When set to `auto`, messages in the middle of the thread will be dropped to fit the context length of the model, `max_prompt_tokens`.",
            "smithy.api#required": {}
          }
        },
        "last_messages": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#CreateThreadAndRunRequestToolChoiceType": {
      "type": "enum",
      "members": {
        "FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function"
          }
        },
        "CODE_INTERPRETER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code_interpreter"
          }
        },
        "FILE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file_search"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the tool. If type is `function`, the function name must be set"
      }
    },
    "com.openai.assistants#CreateThreadAndRunRequestToolChoiceFunction": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function to call.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#CreateThreadAndRunRequestToolChoice": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.assistants#CreateThreadAndRunRequestToolChoiceType",
          "traits": {
            "smithy.api#documentation": "The type of the tool. If type is `function`, the function name must be set"
          }
        },
        "function": {
          "target": "com.openai.assistants#CreateThreadAndRunRequestToolChoiceFunction"
        }
      },
      "traits": {}
    },
    "com.openai.assistants#AssistantsApiResponseFormatOption": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.openai.assistants#AssistantsApiResponseFormatOptionCase0"
        },
        "ResponseFormatText": {
          "target": "com.openai.assistants#ResponseFormatText"
        },
        "ResponseFormatJsonObject": {
          "target": "com.openai.assistants#ResponseFormatJsonObject"
        },
        "ResponseFormatJsonSchema": {
          "target": "com.openai.assistants#ResponseFormatJsonSchema"
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the format that the model must output. Compatible with [GPT-4o](https://developers.openai.com/api/docs/models/gpt-4o), [GPT-4 Turbo](https://developers.openai.com/api/docs/models/gpt-4-turbo), and all GPT-3.5 Turbo models since `gpt-3.5-turbo-1106`.\n\nSetting to `{ \"type\": \"json_schema\", \"json_schema\": {...} }` enables Structured Outputs which ensures the model will match your supplied JSON schema. Learn more in the [Structured Outputs guide](https://developers.openai.com/api/docs/guides/structured-outputs).\n\nSetting to `{ \"type\": \"json_object\" }` enables JSON mode, which ensures the message the model generates is valid JSON.\n\n**Important:** when using JSON mode, you **must** also instruct the model to produce JSON yourself via a system or user message. Without this, the model may generate an unending stream of whitespace until the generation reaches the token limit, resulting in a long-running and seemingly \"stuck\" request. Also note that the message content may be partially cut off if `finish_reason=\"length\"`, which indicates the generation exceeded `max_tokens` or the conversation exceeded the max context length.\n"
      }
    },
    "com.openai.assistants#AssistantsApiResponseFormatOptionCase0": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`auto` is the default value\n"
      }
    },
    "com.openai.assistants#ResponseFormatText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.assistants#ResponseFormatTextType",
          "traits": {
            "smithy.api#documentation": "The type of response format being defined. Always `text`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default response format. Used to generate text responses.\n"
      }
    },
    "com.openai.assistants#ResponseFormatTextType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of response format being defined. Always `text`."
      }
    },
    "com.openai.assistants#ResponseFormatJsonObject": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.assistants#ResponseFormatJsonObjectType",
          "traits": {
            "smithy.api#documentation": "The type of response format being defined. Always `json_object`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON object response format. An older method of generating JSON responses.\nUsing `json_schema` is recommended for models that support it. Note that the\nmodel will not generate JSON without a system or user message instructing it\nto do so.\n"
      }
    },
    "com.openai.assistants#ResponseFormatJsonObjectType": {
      "type": "enum",
      "members": {
        "JSON_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json_object"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of response format being defined. Always `json_object`."
      }
    },
    "com.openai.assistants#ResponseFormatJsonSchema": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.assistants#ResponseFormatJsonSchemaType",
          "traits": {
            "smithy.api#documentation": "The type of response format being defined. Always `json_schema`.",
            "smithy.api#required": {}
          }
        },
        "json_schema": {
          "target": "com.openai.assistants#ResponseFormatJsonSchemaJsonSchema",
          "traits": {
            "smithy.api#documentation": "Structured Outputs configuration options, including a JSON Schema.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON Schema response format. Used to generate structured JSON responses.\nLearn more about [Structured Outputs](https://developers.openai.com/api/docs/guides/structured-outputs).\n"
      }
    },
    "com.openai.assistants#ResponseFormatJsonSchemaType": {
      "type": "enum",
      "members": {
        "JSON_SCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json_schema"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of response format being defined. Always `json_schema`."
      }
    },
    "com.openai.assistants#ResponseFormatJsonSchemaSchema": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The schema for the response format, described as a JSON Schema object.\nLearn how to build JSON schemas [here](https://json-schema.org/).\n"
      }
    },
    "com.openai.assistants#ResponseFormatJsonSchemaJsonSchema": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of what the response format is for, used by the model to\ndetermine how to respond in the format.\n"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the response format. Must be a-z, A-Z, 0-9, or contain\nunderscores and dashes, with a maximum length of 64.\n",
            "smithy.api#required": {}
          }
        },
        "schema": {
          "target": "com.openai.assistants#ResponseFormatJsonSchemaSchema"
        },
        "strict": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structured Outputs configuration options, including a JSON Schema.\n"
      }
    },
    "com.openai.assistants#CreateThreadAndRunRequest": {
      "type": "structure",
      "members": {
        "assistant_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the [assistant](https://developers.openai.com/api/docs/assistants/migration) to use to execute this run.",
            "smithy.api#required": {}
          }
        },
        "thread": {
          "target": "com.openai.assistants#CreateThreadRequest2"
        },
        "model": {
          "target": "com.openai.assistants#CreateThreadAndRunRequestModel",
          "traits": {
            "smithy.api#documentation": "The ID of the [Model](https://developers.openai.com/api/reference/resources/models) to be used to execute this run. If a value is provided here, it will override the model associated with the assistant. If not, the model associated with the assistant will be used.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "instructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Override the default system message of the assistant. This is useful for modifying the behavior on a per-run basis.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tools": {
          "target": "com.openai.assistants#CreateThreadAndRunRequestToolsList",
          "traits": {
            "smithy.api#documentation": "Override the tools the assistant can use for this run. This is useful for modifying the behavior on a per-run basis.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tool_resources": {
          "target": "com.openai.assistants#CreateThreadAndRunRequestToolResources",
          "traits": {
            "smithy.api#documentation": "A set of resources that are used by the assistant's tools. The resources are specific to the type of tool. For example, the `code_interpreter` tool requires a list of file IDs, while the `file_search` tool requires a list of vector store IDs.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.openai.assistants#MetadataMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "temperature": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "top_p": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered.\n\nWe generally recommend altering this or temperature but not both.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "stream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If `true`, returns a stream of events that happen during the Run as server-sent events, terminating when the Run enters a terminal state with a `data: [DONE]` message.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "max_prompt_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of prompt tokens that may be used over the course of the run. The run will make a best effort to use only the number of prompt tokens specified, across multiple turns of the run. If the run exceeds the number of prompt tokens specified, the run will end with status `incomplete`. See `incomplete_details` for more info.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "max_completion_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of completion tokens that may be used over the course of the run. The run will make a best effort to use only the number of completion tokens specified, across multiple turns of the run. If the run exceeds the number of completion tokens specified, the run will end with status `incomplete`. See `incomplete_details` for more info.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "truncation_strategy": {
          "target": "com.openai.assistants#CreateThreadAndRunRequestTruncationStrategy"
        },
        "tool_choice": {
          "target": "com.openai.assistants#CreateThreadAndRunRequestToolChoice"
        },
        "parallel_tool_calls": {
          "target": "smithy.api#Boolean"
        },
        "response_format": {
          "target": "com.openai.assistants#AssistantsApiResponseFormatOption",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.assistants#RunObject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier, which can be referenced in API endpoints.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "com.openai.assistants#RunObjectObject",
          "traits": {
            "smithy.api#documentation": "The object type, which is always `thread.run`.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) for when the run was created.",
            "smithy.api#required": {}
          }
        },
        "thread_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the [thread](https://developers.openai.com/api/docs/assistants/migration) that was executed on as a part of this run.",
            "smithy.api#required": {}
          }
        },
        "assistant_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the [assistant](https://developers.openai.com/api/docs/assistants/migration) used for execution of this run.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.assistants#RunObjectStatus",
          "traits": {
            "smithy.api#documentation": "The status of the run, which can be either `queued`, `in_progress`, `requires_action`, `cancelling`, `cancelled`, `failed`, `completed`, `incomplete`, or `expired`.",
            "smithy.api#required": {}
          }
        },
        "required_action": {
          "target": "com.openai.assistants#RunObjectRequiredAction",
          "traits": {
            "smithy.api#documentation": "Details on the action required to continue the run. Will be `null` if no action is required.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_error": {
          "target": "com.openai.assistants#RunObjectLastError",
          "traits": {
            "smithy.api#documentation": "The last error associated with this run. Will be `null` if there are no errors.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) for when the run will expire.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "started_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) for when the run was started.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cancelled_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) for when the run was cancelled.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "failed_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) for when the run failed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "completed_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) for when the run was completed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "incomplete_details": {
          "target": "com.openai.assistants#RunObjectIncompleteDetails",
          "traits": {
            "smithy.api#documentation": "Details on why the run is incomplete. Will be `null` if the run is not incomplete.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The model that the [assistant](https://developers.openai.com/api/docs/assistants/migration) used for this run.",
            "smithy.api#required": {}
          }
        },
        "instructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The instructions that the [assistant](https://developers.openai.com/api/docs/assistants/migration) used for this run.",
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "com.openai.assistants#RunObjectToolsList",
          "traits": {
            "smithy.api#documentation": "The list of tools that the [assistant](https://developers.openai.com/api/docs/assistants/migration) used for this run.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.openai.assistants#MetadataMap",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "usage": {
          "target": "com.openai.assistants#RunCompletionUsage",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "temperature": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling temperature used for this run. If not set, defaults to 1.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "top_p": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The nucleus sampling value used for this run. If not set, defaults to 1.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "max_prompt_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of prompt tokens specified to have been used over the course of the run.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "max_completion_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of completion tokens specified to have been used over the course of the run.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "truncation_strategy": {
          "target": "com.openai.assistants#TruncationObject",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tool_choice": {
          "target": "com.openai.assistants#AssistantsApiToolChoiceOption",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "parallel_tool_calls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "response_format": {
          "target": "com.openai.assistants#AssistantsApiResponseFormatOption",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an execution run on a [thread](https://developers.openai.com/api/docs/assistants/migration)."
      }
    },
    "com.openai.assistants#RunObjectObject": {
      "type": "enum",
      "members": {
        "THREAD_RUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread.run"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type, which is always `thread.run`."
      }
    },
    "com.openai.assistants#RunObjectStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelling"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the run, which can be either `queued`, `in_progress`, `requires_action`, `cancelling`, `cancelled`, `failed`, `completed`, `incomplete`, or `expired`."
      }
    },
    "com.openai.assistants#RunObjectRequiredActionType": {
      "type": "enum",
      "members": {
        "SUBMIT_TOOL_OUTPUTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "submit_tool_outputs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For now, this is always `submit_tool_outputs`."
      }
    },
    "com.openai.assistants#RunToolCallObject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the tool call. This ID must be referenced when you submit the tool outputs in using the [Submit tool outputs to run](https://developers.openai.com/api/docs/assistants/migration) endpoint.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.assistants#RunToolCallObjectType",
          "traits": {
            "smithy.api#documentation": "The type of tool call the output is required for. For now, this is always `function`.",
            "smithy.api#required": {}
          }
        },
        "function": {
          "target": "com.openai.assistants#RunToolCallObjectFunction",
          "traits": {
            "smithy.api#documentation": "The function definition.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tool call objects"
      }
    },
    "com.openai.assistants#RunToolCallObjectType": {
      "type": "enum",
      "members": {
        "FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of tool call the output is required for. For now, this is always `function`."
      }
    },
    "com.openai.assistants#RunToolCallObjectFunction": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function.",
            "smithy.api#required": {}
          }
        },
        "arguments": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The arguments that the model expects you to pass to the function.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The function definition."
      }
    },
    "com.openai.assistants#RunObjectRequiredActionSubmitToolOutputsToolCallsList": {
      "type": "list",
      "member": {
        "target": "com.openai.assistants#RunToolCallObject"
      },
      "traits": {
        "smithy.api#documentation": "A list of the relevant tool calls."
      }
    },
    "com.openai.assistants#RunObjectRequiredActionSubmitToolOutputs": {
      "type": "structure",
      "members": {
        "tool_calls": {
          "target": "com.openai.assistants#RunObjectRequiredActionSubmitToolOutputsToolCallsList",
          "traits": {
            "smithy.api#documentation": "A list of the relevant tool calls.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details on the tool outputs needed for this run to continue."
      }
    },
    "com.openai.assistants#RunObjectRequiredAction": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.assistants#RunObjectRequiredActionType",
          "traits": {
            "smithy.api#documentation": "For now, this is always `submit_tool_outputs`.",
            "smithy.api#required": {}
          }
        },
        "submit_tool_outputs": {
          "target": "com.openai.assistants#RunObjectRequiredActionSubmitToolOutputs",
          "traits": {
            "smithy.api#documentation": "Details on the tool outputs needed for this run to continue.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details on the action required to continue the run. Will be `null` if no action is required."
      }
    },
    "com.openai.assistants#RunObjectLastErrorCode": {
      "type": "enum",
      "members": {
        "SERVER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server_error"
          }
        },
        "RATE_LIMIT_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rate_limit_exceeded"
          }
        },
        "INVALID_PROMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid_prompt"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of `server_error`, `rate_limit_exceeded`, or `invalid_prompt`."
      }
    },
    "com.openai.assistants#RunObjectLastError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.openai.assistants#RunObjectLastErrorCode",
          "traits": {
            "smithy.api#documentation": "One of `server_error`, `rate_limit_exceeded`, or `invalid_prompt`.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of the error.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The last error associated with this run. Will be `null` if there are no errors."
      }
    },
    "com.openai.assistants#RunObjectIncompleteDetailsReason": {
      "type": "enum",
      "members": {
        "MAX_COMPLETION_TOKENS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max_completion_tokens"
          }
        },
        "MAX_PROMPT_TOKENS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max_prompt_tokens"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason why the run is incomplete. This will point to which specific token limit was reached over the course of the run."
      }
    },
    "com.openai.assistants#RunObjectIncompleteDetails": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "com.openai.assistants#RunObjectIncompleteDetailsReason",
          "traits": {
            "smithy.api#documentation": "The reason why the run is incomplete. This will point to which specific token limit was reached over the course of the run."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details on why the run is incomplete. Will be `null` if the run is not incomplete."
      }
    },
    "com.openai.assistants#RunObjectToolsItem": {
      "type": "union",
      "members": {
        "AssistantToolsCode": {
          "target": "com.openai.assistants#AssistantToolsCode"
        },
        "AssistantToolsFileSearch": {
          "target": "com.openai.assistants#AssistantToolsFileSearch"
        },
        "AssistantToolsFunction": {
          "target": "com.openai.assistants#AssistantToolsFunction"
        }
      },
      "traits": {}
    },
    "com.openai.assistants#RunObjectToolsList": {
      "type": "list",
      "member": {
        "target": "com.openai.assistants#RunObjectToolsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of tools that the [assistant](https://developers.openai.com/api/docs/assistants/migration) used for this run."
      }
    },
    "com.openai.assistants#RunCompletionUsage": {
      "type": "structure",
      "members": {
        "completion_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of completion tokens used over the course of the run.",
            "smithy.api#required": {}
          }
        },
        "prompt_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of prompt tokens used over the course of the run.",
            "smithy.api#required": {}
          }
        },
        "total_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of tokens used (prompt + completion).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Usage statistics related to the run. This value will be `null` if the run is not in a terminal state (i.e. `in_progress`, `queued`, etc.)."
      }
    },
    "com.openai.assistants#TruncationObject": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.assistants#TruncationObjectType",
          "traits": {
            "smithy.api#documentation": "The truncation strategy to use for the thread. The default is `auto`. If set to `last_messages`, the thread will be truncated to the n most recent messages in the thread. When set to `auto`, messages in the middle of the thread will be dropped to fit the context length of the model, `max_prompt_tokens`.",
            "smithy.api#required": {}
          }
        },
        "last_messages": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls for how a thread will be truncated prior to the run. Use this to control the initial context window of the run."
      }
    },
    "com.openai.assistants#TruncationObjectType": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LAST_MESSAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "last_messages"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The truncation strategy to use for the thread. The default is `auto`. If set to `last_messages`, the thread will be truncated to the n most recent messages in the thread. When set to `auto`, messages in the middle of the thread will be dropped to fit the context length of the model, `max_prompt_tokens`."
      }
    },
    "com.openai.assistants#AssistantsApiToolChoiceOption": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.openai.assistants#AssistantsApiToolChoiceOptionCase0"
        },
        "AssistantsNamedToolChoice": {
          "target": "com.openai.assistants#AssistantsNamedToolChoice"
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls which (if any) tool is called by the model.\n`none` means the model will not call any tools and instead generates a message.\n`auto` is the default value and means the model can pick between generating a message or calling one or more tools.\n`required` means the model must call one or more tools before responding to the user.\nSpecifying a particular tool like `{\"type\": \"file_search\"}` or `{\"type\": \"function\", \"function\": {\"name\": \"my_function\"}}` forces the model to call that tool.\n"
      }
    },
    "com.openai.assistants#AssistantsApiToolChoiceOptionCase0": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`none` means the model will not call any tools and instead generates a message. `auto` means the model can pick between generating a message or calling one or more tools. `required` means the model must call one or more tools before responding to the user.\n"
      }
    },
    "com.openai.assistants#AssistantsNamedToolChoice": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.assistants#AssistantsNamedToolChoiceType",
          "traits": {
            "smithy.api#documentation": "The type of the tool. If type is `function`, the function name must be set",
            "smithy.api#required": {}
          }
        },
        "function": {
          "target": "com.openai.assistants#AssistantsNamedToolChoiceFunction"
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies a tool the model should use. Use to force the model to call a specific tool."
      }
    },
    "com.openai.assistants#AssistantsNamedToolChoiceType": {
      "type": "enum",
      "members": {
        "FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function"
          }
        },
        "CODE_INTERPRETER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code_interpreter"
          }
        },
        "FILE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file_search"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the tool. If type is `function`, the function name must be set"
      }
    },
    "com.openai.assistants#AssistantsNamedToolChoiceFunction": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function to call.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#CreateThreadAndRun": {
      "type": "operation",
      "input": {
        "target": "com.openai.assistants#CreateThreadAndRunRequest"
      },
      "output": {
        "target": "com.openai.assistants#RunObject"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/threads/runs",
          "code": 200
        },
        "smithy.api#documentation": "Create thread and run\n\nCreate a thread and run it in one request."
      }
    },
    "com.openai.assistants#AssistantStreamEvent": {
      "type": "union",
      "members": {
        "ThreadStreamEvent": {
          "target": "com.openai.assistants#ThreadStreamEvent"
        },
        "RunStreamEvent": {
          "target": "com.openai.assistants#RunStreamEvent"
        },
        "RunStepStreamEvent": {
          "target": "com.openai.assistants#RunStepStreamEvent"
        },
        "MessageStreamEvent": {
          "target": "com.openai.assistants#MessageStreamEvent"
        },
        "ErrorEvent": {
          "target": "com.openai.assistants#ErrorEvent"
        },
        "DoneEvent": {
          "target": "com.openai.assistants#DoneEvent"
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an event emitted when streaming a Run.\n\nEach event in a server-sent events stream has an `event` and `data` property:\n\n```\nevent: thread.created\ndata: {\"id\": \"thread_123\", \"object\": \"thread\", ...}\n```\n\nWe emit events whenever a new object is created, transitions to a new state, or is being\nstreamed in parts (deltas). For example, we emit `thread.run.created` when a new run\nis created, `thread.run.completed` when a run completes, and so on. When an Assistant chooses\nto create a message during a run, we emit a `thread.message.created event`, a\n`thread.message.in_progress` event, many `thread.message.delta` events, and finally a\n`thread.message.completed` event.\n\nWe may add additional events over time, so we recommend handling unknown events gracefully\nin your code. See the [Assistants API quickstart](https://developers.openai.com/api/docs/assistants/migration) to learn how to\nintegrate the Assistants API with streaming.\n"
      }
    },
    "com.openai.assistants#ThreadStreamEventEvent": {
      "type": "enum",
      "members": {
        "THREAD_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread.created"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#ThreadStreamEvent": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable input audio transcription."
          }
        },
        "event": {
          "target": "com.openai.assistants#ThreadStreamEventEvent",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.assistants#ThreadObject",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Occurs when a new [thread](https://developers.openai.com/api/docs/assistants/migration) is created."
      }
    },
    "com.openai.assistants#RunStreamEvent": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.openai.assistants#RunStreamEventCase0"
        },
        "Case1": {
          "target": "com.openai.assistants#RunStreamEventCase1"
        },
        "Case2": {
          "target": "com.openai.assistants#RunStreamEventCase2"
        },
        "Case3": {
          "target": "com.openai.assistants#RunStreamEventCase3"
        },
        "Case4": {
          "target": "com.openai.assistants#RunStreamEventCase4"
        },
        "Case5": {
          "target": "com.openai.assistants#RunStreamEventCase5"
        },
        "Case6": {
          "target": "com.openai.assistants#RunStreamEventCase6"
        },
        "Case7": {
          "target": "com.openai.assistants#RunStreamEventCase7"
        },
        "Case8": {
          "target": "com.openai.assistants#RunStreamEventCase8"
        },
        "Case9": {
          "target": "com.openai.assistants#RunStreamEventCase9"
        }
      },
      "traits": {}
    },
    "com.openai.assistants#RunStreamEventCase0Event": {
      "type": "enum",
      "members": {
        "THREAD_RUN_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread.run.created"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#RunStreamEventCase0": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.openai.assistants#RunStreamEventCase0Event",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.assistants#RunObject",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Occurs when a new [run](https://developers.openai.com/api/docs/assistants/migration) is created."
      }
    },
    "com.openai.assistants#RunStreamEventCase1Event": {
      "type": "enum",
      "members": {
        "THREAD_RUN_QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread.run.queued"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#RunStreamEventCase1": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.openai.assistants#RunStreamEventCase1Event",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.assistants#RunObject",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Occurs when a [run](https://developers.openai.com/api/docs/assistants/migration) moves to a `queued` status."
      }
    },
    "com.openai.assistants#RunStreamEventCase2Event": {
      "type": "enum",
      "members": {
        "THREAD_RUN_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread.run.in_progress"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#RunStreamEventCase2": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.openai.assistants#RunStreamEventCase2Event",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.assistants#RunObject",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Occurs when a [run](https://developers.openai.com/api/docs/assistants/migration) moves to an `in_progress` status."
      }
    },
    "com.openai.assistants#RunStreamEventCase3Event": {
      "type": "enum",
      "members": {
        "THREAD_RUN_REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread.run.requires_action"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#RunStreamEventCase3": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.openai.assistants#RunStreamEventCase3Event",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.assistants#RunObject",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Occurs when a [run](https://developers.openai.com/api/docs/assistants/migration) moves to a `requires_action` status."
      }
    },
    "com.openai.assistants#RunStreamEventCase4Event": {
      "type": "enum",
      "members": {
        "THREAD_RUN_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread.run.completed"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#RunStreamEventCase4": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.openai.assistants#RunStreamEventCase4Event",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.assistants#RunObject",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Occurs when a [run](https://developers.openai.com/api/docs/assistants/migration) is completed."
      }
    },
    "com.openai.assistants#RunStreamEventCase5Event": {
      "type": "enum",
      "members": {
        "THREAD_RUN_INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread.run.incomplete"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#RunStreamEventCase5": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.openai.assistants#RunStreamEventCase5Event",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.assistants#RunObject",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Occurs when a [run](https://developers.openai.com/api/docs/assistants/migration) ends with status `incomplete`."
      }
    },
    "com.openai.assistants#RunStreamEventCase6Event": {
      "type": "enum",
      "members": {
        "THREAD_RUN_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread.run.failed"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#RunStreamEventCase6": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.openai.assistants#RunStreamEventCase6Event",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.assistants#RunObject",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Occurs when a [run](https://developers.openai.com/api/docs/assistants/migration) fails."
      }
    },
    "com.openai.assistants#RunStreamEventCase7Event": {
      "type": "enum",
      "members": {
        "THREAD_RUN_CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread.run.cancelling"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#RunStreamEventCase7": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.openai.assistants#RunStreamEventCase7Event",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.assistants#RunObject",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Occurs when a [run](https://developers.openai.com/api/docs/assistants/migration) moves to a `cancelling` status."
      }
    },
    "com.openai.assistants#RunStreamEventCase8Event": {
      "type": "enum",
      "members": {
        "THREAD_RUN_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread.run.cancelled"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#RunStreamEventCase8": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.openai.assistants#RunStreamEventCase8Event",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.assistants#RunObject",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Occurs when a [run](https://developers.openai.com/api/docs/assistants/migration) is cancelled."
      }
    },
    "com.openai.assistants#RunStreamEventCase9Event": {
      "type": "enum",
      "members": {
        "THREAD_RUN_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread.run.expired"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#RunStreamEventCase9": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.openai.assistants#RunStreamEventCase9Event",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.assistants#RunObject",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Occurs when a [run](https://developers.openai.com/api/docs/assistants/migration) expires."
      }
    },
    "com.openai.assistants#RunStepStreamEvent": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.openai.assistants#RunStepStreamEventCase0"
        },
        "Case1": {
          "target": "com.openai.assistants#RunStepStreamEventCase1"
        },
        "Case2": {
          "target": "com.openai.assistants#RunStepStreamEventCase2"
        },
        "Case3": {
          "target": "com.openai.assistants#RunStepStreamEventCase3"
        },
        "Case4": {
          "target": "com.openai.assistants#RunStepStreamEventCase4"
        },
        "Case5": {
          "target": "com.openai.assistants#RunStepStreamEventCase5"
        },
        "Case6": {
          "target": "com.openai.assistants#RunStepStreamEventCase6"
        }
      },
      "traits": {}
    },
    "com.openai.assistants#RunStepStreamEventCase0Event": {
      "type": "enum",
      "members": {
        "THREAD_RUN_STEP_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread.run.step.created"
          }
        }
      },
      "traits": {}
    },
    "com.openai.assistants#RunStepObject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the run step, which can be referenced in API endpoints.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "com.openai.assistants#RunStepObjectObject",
          "traits": {
            "smithy.api#documentation": "The object type, which is always `thread.run.step`.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) for when the run step was created.",
            "smithy.api#required": {}
          }
        },
        "assistant_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the [assistant](https://developers.openai.com/api/docs/assistants/migration) associated with the run step.",
            "smithy.api#required": {}
          }
        },
        "thread_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the [thread](https://developers.openai.com/api/docs/assistants/migration) that was run.",
            "smithy.api#required": {}
          }
        },
        "run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the [run](https://developers.openai.com/api/docs/assistants/migration) that this run step is a part of.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.assistants#RunStepObjectType",
          "traits": {
            "smithy.api#documentation": "The type of run step, which can be either `message_creation` or `tool_calls`.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.assistants#RunStepObjectStatus",
          "traits": {
            "smithy.api#documentation": "The status of the run step, which can be either `in_progress`, `cancelled`, `failed`, `completed`, or `expired`.",
            "smithy.api#required": {}
          }
        },
        "step_details": {
          "target": "com.openai.assistants#RunStepObjectStepDetails",
          "traits": {
            "smithy.api#documentation": "The details of the run step.",
            "smithy.api#required": {}
          }
        },
        "last_error": {
          "target": "com.openai.assistants#RunStepObjectLastError",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "expired_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cancelled_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "failed_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "completed_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
[...]
