{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openai.chat#MetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Set of 16 key-value pairs that can be attached to an object. This can be\nuseful for storing additional information about the object in a structured\nformat, and querying for objects via API or the dashboard.\n\nKeys are strings with a maximum length of 64 characters. Values are strings\nwith a maximum length of 512 characters.\n"
      }
    },
    "com.openai.chat#ListChatCompletionsRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.openai.chat#ListChatCompletionsRequest": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "model",
            "smithy.api#documentation": "The model used to generate the Chat Completions."
          }
        },
        "metadata": {
          "target": "com.openai.chat#MetadataMap",
          "traits": {
            "smithy.api#httpQuery": "metadata",
            "smithy.api#documentation": "A list of metadata keys to filter the Chat Completions by. Example:\n\n`metadata[key1]=value1&metadata[key2]=value2`\n"
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Identifier for the last chat completion from the previous pagination request."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of Chat Completions to retrieve."
          }
        },
        "order": {
          "target": "com.openai.chat#ListChatCompletionsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Sort order for Chat Completions by timestamp. Use `asc` for ascending order or `desc` for descending order. Defaults to `asc`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.chat#ChatCompletionList": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.chat#ChatCompletionListObject",
          "traits": {
            "smithy.api#documentation": "The type of this object. It is always set to \"list\".\n",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.chat#ChatCompletionListDataList",
          "traits": {
            "smithy.api#documentation": "An array of chat completion objects.\n",
            "smithy.api#required": {}
          }
        },
        "first_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the first chat completion in the data array.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the last chat completion in the data array.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether there are more Chat Completions available.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object representing a list of Chat Completions.\n"
      }
    },
    "com.openai.chat#ChatCompletionListObject": {
      "type": "enum",
      "members": {
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of this object. It is always set to \"list\".\n"
      }
    },
    "com.openai.chat#CreateChatCompletionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for the chat completion.",
            "smithy.api#required": {}
          }
        },
        "choices": {
          "target": "com.openai.chat#CreateChatCompletionResponseChoicesList",
          "traits": {
            "smithy.api#documentation": "A list of chat completion choices. Can be more than one if `n` is greater than 1.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) of when the chat completion was created.",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The model used for the chat completion.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.openai.chat#MetadataMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "service_tier": {
          "target": "com.openai.chat#ServiceTier",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "system_fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This fingerprint represents the backend configuration that the model runs with.\n\nCan be used in conjunction with the `seed` request parameter to understand when backend changes have been made that might impact determinism.\n"
          }
        },
        "object": {
          "target": "com.openai.chat#CreateChatCompletionResponseObject",
          "traits": {
            "smithy.api#documentation": "The object type, which is always `chat.completion`.",
            "smithy.api#required": {}
          }
        },
        "usage": {
          "target": "com.openai.chat#CompletionUsage"
        },
        "moderation": {
          "target": "com.openai.chat#ChatCompletionModeration",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a chat completion response returned by model, based on the provided input."
      }
    },
    "com.openai.chat#CreateChatCompletionResponseChoicesItemFinishReason": {
      "type": "enum",
      "members": {
        "STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stop"
          }
        },
        "LENGTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "length"
          }
        },
        "TOOL_CALLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tool_calls"
          }
        },
        "CONTENT_FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "content_filter"
          }
        },
        "FUNCTION_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function_call"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason the model stopped generating tokens. This will be `stop` if the model hit a natural stop point or a provided stop sequence,\n`length` if the maximum number of tokens specified in the request was reached,\n`content_filter` if content was omitted due to a flag from our content filters,\n`tool_calls` if the model called a tool, or `function_call` (deprecated) if the model called a function.\nRead the [Model Spec](https://model-spec.openai.com/2025-12-18.html) for more.\n"
      }
    },
    "com.openai.chat#ChatCompletionResponseMessage": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "refusal": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tool_calls": {
          "target": "com.openai.chat#ChatCompletionMessageToolCalls",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "annotations": {
          "target": "com.openai.chat#ChatCompletionResponseMessageAnnotationsList",
          "traits": {
            "smithy.api#documentation": "Annotations for the message, when applicable, as when using the\n[web search tool](https://developers.openai.com/api/docs/guides/tools-web-search).\n"
          }
        },
        "role": {
          "target": "com.openai.chat#ChatCompletionResponseMessageRole",
          "traits": {
            "smithy.api#documentation": "The role of the author of this message.",
            "smithy.api#required": {}
          }
        },
        "function_call": {
          "target": "com.openai.chat#ChatCompletionResponseMessageFunctionCall",
          "traits": {
            "smithy.api#documentation": "Deprecated and replaced by `tool_calls`. The name and arguments of a function that should be called, as generated by the model.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "audio": {
          "target": "com.openai.chat#ChatCompletionResponseMessageAudio",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A chat completion message generated by the model."
      }
    },
    "com.openai.chat#ChatCompletionMessageToolCalls": {
      "type": "list",
      "member": {
        "target": "com.openai.chat#ChatCompletionMessageToolCallsItem"
      },
      "traits": {
        "smithy.api#documentation": "The tool calls generated by the model, such as function calls."
      }
    },
    "com.openai.chat#ChatCompletionMessageToolCall": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the tool call.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.chat#ChatCompletionMessageToolCallType",
          "traits": {
            "smithy.api#documentation": "The type of the tool. Currently, only `function` is supported.",
            "smithy.api#required": {}
          }
        },
        "function": {
          "target": "com.openai.chat#ChatCompletionMessageToolCallFunction",
          "traits": {
            "smithy.api#documentation": "The function that the model called.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A call to a function tool created by the model.\n"
      }
    },
    "com.openai.chat#ChatCompletionMessageToolCallType": {
      "type": "enum",
      "members": {
        "FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the tool. Currently, only `function` is supported."
      }
    },
    "com.openai.chat#ChatCompletionMessageToolCallFunction": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function to call.",
            "smithy.api#required": {}
          }
        },
        "arguments": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The function that the model called."
      }
    },
    "com.openai.chat#ChatCompletionMessageCustomToolCall": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the tool call.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.chat#ChatCompletionMessageCustomToolCallType",
          "traits": {
            "smithy.api#documentation": "The type of the tool. Always `custom`.",
            "smithy.api#required": {}
          }
        },
        "custom": {
          "target": "com.openai.chat#ChatCompletionMessageCustomToolCallCustom",
          "traits": {
            "smithy.api#documentation": "The custom tool that the model called.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A call to a custom tool created by the model.\n"
      }
    },
    "com.openai.chat#ChatCompletionMessageCustomToolCallType": {
      "type": "enum",
      "members": {
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the tool. Always `custom`."
      }
    },
    "com.openai.chat#ChatCompletionMessageCustomToolCallCustom": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the custom tool to call.",
            "smithy.api#required": {}
          }
        },
        "input": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The input for the custom tool call generated by the model.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The custom tool that the model called."
      }
    },
    "com.openai.chat#ChatCompletionMessageToolCallsItem": {
      "type": "union",
      "members": {
        "ChatCompletionMessageToolCall": {
          "target": "com.openai.chat#ChatCompletionMessageToolCall"
        },
        "ChatCompletionMessageCustomToolCall": {
          "target": "com.openai.chat#ChatCompletionMessageCustomToolCall"
        }
      },
      "traits": {}
    },
    "com.openai.chat#ChatCompletionResponseMessageAnnotationsItemType": {
      "type": "enum",
      "members": {
        "URL_CITATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url_citation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the URL citation. Always `url_citation`."
      }
    },
    "com.openai.chat#ChatCompletionResponseMessageAnnotationsItemUrlCitation": {
      "type": "structure",
      "members": {
        "end_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the last character of the URL citation in the message.",
            "smithy.api#required": {}
          }
        },
        "start_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the first character of the URL citation in the message.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the web resource.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the web resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A URL citation when using web search."
      }
    },
    "com.openai.chat#ChatCompletionResponseMessageAnnotationsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.chat#ChatCompletionResponseMessageAnnotationsItemType",
          "traits": {
            "smithy.api#documentation": "The type of the URL citation. Always `url_citation`.",
            "smithy.api#required": {}
          }
        },
        "url_citation": {
          "target": "com.openai.chat#ChatCompletionResponseMessageAnnotationsItemUrlCitation",
          "traits": {
            "smithy.api#documentation": "A URL citation when using web search.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A URL citation when using web search.\n"
      }
    },
    "com.openai.chat#ChatCompletionResponseMessageAnnotationsList": {
      "type": "list",
      "member": {
        "target": "com.openai.chat#ChatCompletionResponseMessageAnnotationsItem"
      },
      "traits": {
        "smithy.api#documentation": "Annotations for the message, when applicable, as when using the\n[web search tool](https://developers.openai.com/api/docs/guides/tools-web-search).\n"
      }
    },
    "com.openai.chat#ChatCompletionResponseMessageRole": {
      "type": "enum",
      "members": {
        "ASSISTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assistant"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The role of the author of this message."
      }
    },
    "com.openai.chat#ChatCompletionResponseMessageFunctionCall": {
      "type": "structure",
      "members": {
        "arguments": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function to call.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated and replaced by `tool_calls`. The name and arguments of a function that should be called, as generated by the model."
      }
    },
    "com.openai.chat#ChatCompletionResponseMessageAudio": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this audio response.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) for when this audio response will\nno longer be accessible on the server for use in multi-turn\nconversations.\n",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64 encoded audio bytes generated by the model, in the format\nspecified in the request.\n",
            "smithy.api#required": {}
          }
        },
        "transcript": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Transcript of the audio generated by the model.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If the audio output modality is requested, this object contains data\nabout the audio response from the model. [Learn more](https://developers.openai.com/api/docs/guides/audio).\n"
      }
    },
    "com.openai.chat#ChatCompletionTokenLogprob": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token.",
            "smithy.api#required": {}
          }
        },
        "logprob": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value `-9999.0` is used to signify that the token is very unlikely.",
            "smithy.api#required": {}
          }
        },
        "bytes": {
          "target": "com.openai.chat#ChatCompletionTokenLogprobBytesList",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "top_logprobs": {
          "target": "com.openai.chat#ChatCompletionTokenLogprobTopLogprobsList",
          "traits": {
            "smithy.api#documentation": "List of the most likely tokens and their log probability, at this token position. The number of entries may be fewer than the requested `top_logprobs`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.chat#ChatCompletionTokenLogprobBytesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be `null` if there is no bytes representation for the token."
      }
    },
    "com.openai.chat#ChatCompletionTokenLogprobTopLogprobsItemBytesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be `null` if there is no bytes representation for the token."
      }
    },
    "com.openai.chat#ChatCompletionTokenLogprobTopLogprobsItem": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token.",
            "smithy.api#required": {}
          }
        },
        "logprob": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value `-9999.0` is used to signify that the token is very unlikely.",
            "smithy.api#required": {}
          }
        },
        "bytes": {
          "target": "com.openai.chat#ChatCompletionTokenLogprobTopLogprobsItemBytesList",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.chat#ChatCompletionTokenLogprobTopLogprobsList": {
      "type": "list",
      "member": {
        "target": "com.openai.chat#ChatCompletionTokenLogprobTopLogprobsItem"
      },
      "traits": {
        "smithy.api#documentation": "List of the most likely tokens and their log probability, at this token position. The number of entries may be fewer than the requested `top_logprobs`."
      }
    },
    "com.openai.chat#CreateChatCompletionResponseChoicesItemLogprobsContentList": {
      "type": "list",
      "member": {
        "target": "com.openai.chat#ChatCompletionTokenLogprob"
      },
      "traits": {
        "smithy.api#documentation": "A list of message content tokens with log probability information."
      }
    },
    "com.openai.chat#CreateChatCompletionResponseChoicesItemLogprobsRefusalList": {
      "type": "list",
      "member": {
        "target": "com.openai.chat#ChatCompletionTokenLogprob"
      },
      "traits": {
        "smithy.api#documentation": "A list of message refusal tokens with log probability information."
      }
    },
    "com.openai.chat#CreateChatCompletionResponseChoicesItemLogprobs": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.openai.chat#CreateChatCompletionResponseChoicesItemLogprobsContentList",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "refusal": {
          "target": "com.openai.chat#CreateChatCompletionResponseChoicesItemLogprobsRefusalList",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Log probability information for the choice."
      }
    },
    "com.openai.chat#CreateChatCompletionResponseChoicesItem": {
      "type": "structure",
      "members": {
        "finish_reason": {
          "target": "com.openai.chat#CreateChatCompletionResponseChoicesItemFinishReason",
          "traits": {
            "smithy.api#documentation": "The reason the model stopped generating tokens. This will be `stop` if the model hit a natural stop point or a provided stop sequence,\n`length` if the maximum number of tokens specified in the request was reached,\n`content_filter` if content was omitted due to a flag from our content filters,\n`tool_calls` if the model called a tool, or `function_call` (deprecated) if the model called a function.\nRead the [Model Spec](https://model-spec.openai.com/2025-12-18.html) for more.\n",
            "smithy.api#required": {}
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the choice in the list of choices.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "com.openai.chat#ChatCompletionResponseMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logprobs": {
          "target": "com.openai.chat#CreateChatCompletionResponseChoicesItemLogprobs",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.chat#CreateChatCompletionResponseChoicesList": {
      "type": "list",
      "member": {
        "target": "com.openai.chat#CreateChatCompletionResponseChoicesItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of chat completion choices. Can be more than one if `n` is greater than 1."
      }
    },
    "com.openai.chat#ServiceTier": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "FLEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flex"
          }
        },
        "SCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scale"
          }
        },
        "PRIORITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "priority"
          }
        },
        "FAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fast"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the processing type used for serving the request.\n  - If set to 'auto', then the request will be processed with the service tier configured in the Project settings. Unless otherwise configured, the Project will use 'default'.\n  - If set to 'default', then the request will be processed with the standard pricing and performance for the selected model.\n  - If set to '[flex](https://developers.openai.com/api/docs/guides/flex-processing)', then the request will be processed with the Flex Processing service tier.\n  - To opt-in to [Fast mode](https://developers.openai.com/api/docs/guides/fast-mode) at the request level, include the `service_tier=fast` or `service_tier=priority` parameter for Responses or Chat Completions. The response will show `service_tier=priority` regardless of if you specify `service_tier=fast` or `priority` in your request.\n  - When not set, the default behavior is 'auto'.\n\n  When the `service_tier` parameter is set, the response body will include the `service_tier` value based on the processing mode actually used to serve the request. This response value may be different from the value set in the parameter.\n"
      }
    },
    "com.openai.chat#CreateChatCompletionResponseObject": {
      "type": "enum",
      "members": {
        "CHAT_COMPLETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chat.completion"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type, which is always `chat.completion`."
      }
    },
    "com.openai.chat#CompletionUsage": {
      "type": "structure",
      "members": {
        "completion_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of tokens in the generated completion.",
            "smithy.api#required": {}
          }
        },
        "prompt_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of tokens in the prompt.",
            "smithy.api#required": {}
          }
        },
        "total_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of tokens used in the request (prompt + completion).",
            "smithy.api#required": {}
          }
        },
        "completion_tokens_details": {
          "target": "com.openai.chat#CompletionUsageCompletionTokensDetails",
          "traits": {
            "smithy.api#documentation": "Breakdown of tokens used in a completion."
          }
        },
        "prompt_tokens_details": {
          "target": "com.openai.chat#CompletionUsagePromptTokensDetails",
          "traits": {
            "smithy.api#documentation": "Breakdown of tokens used in the prompt."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Usage statistics for the completion request."
      }
    },
    "com.openai.chat#CompletionUsageCompletionTokensDetails": {
      "type": "structure",
      "members": {
        "accepted_prediction_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "When using Predicted Outputs, the number of tokens in the\nprediction that appeared in the completion.\n"
          }
        },
        "audio_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Audio input tokens generated by the model."
          }
        },
        "reasoning_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Tokens generated by the model for reasoning."
          }
        },
        "text_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Text output tokens generated by the model."
          }
        },
        "rejected_prediction_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "When using Predicted Outputs, the number of tokens in the\nprediction that did not appear in the completion. However, like\nreasoning tokens, these tokens are still counted in the total\ncompletion tokens for purposes of billing, output, and context window\nlimits.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Breakdown of tokens used in a completion."
      }
    },
    "com.openai.chat#CompletionUsagePromptTokensDetails": {
      "type": "structure",
      "members": {
        "audio_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Audio input tokens present in the prompt."
          }
        },
        "cached_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cached tokens present in the prompt."
          }
        },
        "text_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Text input tokens present in the prompt."
          }
        },
        "image_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Image input tokens present in the prompt."
          }
        },
        "cache_write_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The unadjusted number of prompt tokens written to cache."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Breakdown of tokens used in the prompt."
      }
    },
    "com.openai.chat#ChatCompletionModeration": {
      "type": "structure",
      "members": {
        "input": {
          "target": "com.openai.chat#ChatCompletionModerationInput",
          "traits": {
            "smithy.api#documentation": "Moderation for the request input.",
            "smithy.api#required": {}
          }
        },
        "output": {
          "target": "com.openai.chat#ChatCompletionModerationOutput",
          "traits": {
            "smithy.api#documentation": "Moderation for the generated output.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Moderation results or errors for the request input and generated output."
      }
    },
    "com.openai.chat#ChatCompletionModerationResults": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.chat#ChatCompletionModerationResultsType",
          "traits": {
            "smithy.api#documentation": "The object type, which is always `moderation_results`.",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The moderation model used to generate the results.",
            "smithy.api#required": {}
          }
        },
        "results": {
          "target": "com.openai.chat#ChatCompletionModerationResultsResultsList",
          "traits": {
            "smithy.api#documentation": "A list of moderation results.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Successful moderation results for the request input or generated output."
      }
    },
    "com.openai.chat#ChatCompletionModerationResultsType": {
      "type": "enum",
      "members": {
        "MODERATION_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moderation_results"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type, which is always `moderation_results`."
      }
    },
    "com.openai.chat#ModerationResultBody": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.chat#ModerationResultBodyType",
          "traits": {
            "smithy.api#documentation": "The object type, which was always `moderation_result` for successful moderation results.",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The moderation model that produced this result.",
            "smithy.api#required": {}
          }
        },
        "flagged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A boolean indicating whether the content was flagged by any category.",
            "smithy.api#required": {}
          }
        },
        "categories": {
          "target": "com.openai.chat#ModerationResultBodyCategoriesMap",
          "traits": {
            "smithy.api#documentation": "A dictionary of moderation categories to booleans, True if the input is flagged under this category.",
            "smithy.api#required": {}
          }
        },
        "category_scores": {
          "target": "com.openai.chat#ModerationResultBodyCategoryScoresMap",
          "traits": {
            "smithy.api#documentation": "A dictionary of moderation categories to scores.",
            "smithy.api#required": {}
          }
        },
        "category_applied_input_types": {
          "target": "com.openai.chat#ModerationResultBodyCategoryAppliedInputTypesMap",
          "traits": {
            "smithy.api#documentation": "Which modalities of input are reflected by the score for each category.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A moderation result produced for the response input or output."
      }
    },
    "com.openai.chat#ModerationResultBodyType": {
      "type": "enum",
      "members": {
        "MODERATION_RESULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moderation_result"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type, which was always `moderation_result` for successful moderation results."
      }
    },
    "com.openai.chat#ModerationResultBodyCategoriesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Boolean"
      },
      "traits": {
        "smithy.api#documentation": "A dictionary of moderation categories to booleans, True if the input is flagged under this category."
      }
    },
    "com.openai.chat#ModerationResultBodyCategoryScoresMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "A dictionary of moderation categories to scores."
      }
    },
    "com.openai.chat#ModerationInputType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        }
      },
      "traits": {}
    },
    "com.openai.chat#ModerationResultBodyCategoryAppliedInputTypesValueList": {
      "type": "list",
      "member": {
        "target": "com.openai.chat#ModerationInputType"
      },
      "traits": {}
    },
    "com.openai.chat#ModerationResultBodyCategoryAppliedInputTypesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.openai.chat#ModerationResultBodyCategoryAppliedInputTypesValueList"
      },
      "traits": {
        "smithy.api#documentation": "Which modalities of input are reflected by the score for each category."
      }
    },
    "com.openai.chat#ChatCompletionModerationResultsResultsList": {
      "type": "list",
      "member": {
        "target": "com.openai.chat#ModerationResultBody"
      },
      "traits": {
        "smithy.api#documentation": "A list of moderation results."
      }
    },
    "com.openai.chat#ChatCompletionModerationError": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.chat#ChatCompletionModerationErrorType",
          "traits": {
            "smithy.api#documentation": "The object type, which is always `error`.",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An error produced while attempting moderation."
      }
    },
    "com.openai.chat#ChatCompletionModerationErrorType": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type, which is always `error`."
      }
    },
    "com.openai.chat#ChatCompletionModerationInput": {
      "type": "union",
      "members": {
        "ChatCompletionModerationResults": {
          "target": "com.openai.chat#ChatCompletionModerationResults"
        },
        "ChatCompletionModerationError": {
          "target": "com.openai.chat#ChatCompletionModerationError"
        }
      },
      "traits": {
        "smithy.api#documentation": "Moderation for the request input."
      }
    },
    "com.openai.chat#ChatCompletionModerationOutput": {
      "type": "union",
      "members": {
        "ChatCompletionModerationResults": {
          "target": "com.openai.chat#ChatCompletionModerationResults"
        },
        "ChatCompletionModerationError": {
          "target": "com.openai.chat#ChatCompletionModerationError"
        }
      },
      "traits": {
        "smithy.api#documentation": "Moderation for the generated output."
      }
    },
    "com.openai.chat#ChatCompletionListDataList": {
      "type": "list",
      "member": {
        "target": "com.openai.chat#CreateChatCompletionResponse"
      },
      "traits": {
        "smithy.api#documentation": "An array of chat completion objects.\n"
      }
    },
    "com.openai.chat#ListChatCompletions": {
      "type": "operation",
      "input": {
        "target": "com.openai.chat#ListChatCompletionsRequest"
      },
      "output": {
        "target": "com.openai.chat#ChatCompletionList"
      },
      "errors": [
        {
          "target": "com.openai.chat#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/chat/completions",
          "code": 200
        },
        "smithy.api#documentation": "List Chat Completions\n\nList stored Chat Completions. Only Chat Completions that have been stored\nwith the `store` parameter set to `true` will be returned.",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "after",
          "outputToken": "last_id",
          "items": "data",
          "pageSize": "limit"
        }
      }
    },
    "com.openai.chat#CreateChatCompletionRequestPromptCacheRetention": {
      "type": "enum",
      "members": {
        "IN_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_memory"
          }
        },
        "_24H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24h"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. Use `prompt_cache_options.ttl` instead.\n\nThe retention policy for the prompt cache. Set to `24h` to enable extended prompt caching, which keeps cached prefixes active for longer, up to a maximum of 24 hours. [Learn more](https://developers.openai.com/api/docs/guides/prompt-caching#prompt-cache-retention).\nThis field expresses a maximum retention policy, while\n`prompt_cache_options.ttl` expresses a minimum cache lifetime. The two\nfields are independent and do not interact.\nFor `gpt-5.5`, `gpt-5.5-pro`, and future models, only `24h` is supported.\n\nFor older models that support both `in_memory` and `24h`, the default depends on your organization's data retention policy:\n  - Organizations without ZDR enabled default to `24h`.\n  - Organizations with ZDR enabled default to `in_memory` when `prompt_cache_retention` is not specified.\n"
      }
    },
    "com.openai.chat#PromptCacheOptionsParam": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "com.openai.chat#PromptCacheTTLEnum",
          "traits": {
            "smithy.api#documentation": "The minimum lifetime applied to every implicit and explicit cache breakpoint written by the request. Defaults to `30m`, which is currently the only supported value. The backend may retain cache entries for longer."
          }
        },
        "mode": {
          "target": "com.openai.chat#PromptCacheModeEnum",
          "traits": {
            "smithy.api#documentation": "Controls whether OpenAI automatically creates an implicit cache breakpoint. Defaults to `implicit`. With `implicit`, OpenAI creates one implicit breakpoint and writes up to the latest three explicit breakpoints in the request. With `explicit`, OpenAI does not create an implicit breakpoint and writes up to the latest four explicit breakpoints. If there are no explicit breakpoints, the request does not use prompt caching."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for prompt caching. Supported for `gpt-5.6` and later models. By default, OpenAI automatically chooses one implicit cache breakpoint. You can add explicit breakpoints to content blocks with `prompt_cache_breakpoint`. Each request can write up to four breakpoints. For cache matching, OpenAI considers up to the latest 80 breakpoints in the conversation, without a content-block lookback limit. Set `mode` to `explicit` to disable the implicit breakpoint. The `ttl` defaults to `30m`, which is currently the only supported value. See the [prompt caching guide](https://developers.openai.com/api/docs/guides/prompt-caching) for current details."
      }
    },
    "com.openai.chat#PromptCacheTTLEnum": {
      "type": "enum",
      "members": {
        "_30M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "30m"
          }
        }
      },
      "traits": {}
    },
    "com.openai.chat#PromptCacheModeEnum": {
      "type": "enum",
      "members": {
        "IMPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "implicit"
          }
        },
        "EXPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "explicit"
          }
        }
      },
      "traits": {}
    },
    "com.openai.chat#ChatCompletionRequestMessage": {
      "type": "union",
      "members": {
        "ChatCompletionRequestDeveloperMessage": {
          "target": "com.openai.chat#ChatCompletionRequestDeveloperMessage"
        },
        "ChatCompletionRequestSystemMessage": {
          "target": "com.openai.chat#ChatCompletionRequestSystemMessage"
        },
        "ChatCompletionRequestUserMessage": {
          "target": "com.openai.chat#ChatCompletionRequestUserMessage"
        },
        "ChatCompletionRequestAssistantMessage": {
          "target": "com.openai.chat#ChatCompletionRequestAssistantMessage"
        },
        "ChatCompletionRequestToolMessage": {
          "target": "com.openai.chat#ChatCompletionRequestToolMessage"
        },
        "ChatCompletionRequestFunctionMessage": {
          "target": "com.openai.chat#ChatCompletionRequestFunctionMessage"
        }
      },
      "traits": {}
    },
    "com.openai.chat#ChatCompletionRequestDeveloperMessage": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.openai.chat#ChatCompletionRequestDeveloperMessageContent",
          "traits": {
            "smithy.api#documentation": "The contents of the developer message.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.openai.chat#ChatCompletionRequestDeveloperMessageRole",
          "traits": {
            "smithy.api#documentation": "The role of the messages author, in this case `developer`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Developer-provided instructions that the model should follow, regardless of\nmessages sent by the user. With o1 models and newer, `developer` messages\nreplace the previous `system` messages.\n"
      }
    },
    "com.openai.chat#ChatCompletionRequestMessageContentPartText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.chat#ChatCompletionRequestMessageContentPartTextType",
          "traits": {
            "smithy.api#documentation": "The type of the content part.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text content.",
            "smithy.api#required": {}
          }
        },
        "prompt_cache_breakpoint": {
          "target": "com.openai.chat#PromptCacheBreakpointParam"
        }
      },
      "traits": {
        "smithy.api#documentation": "Learn about [text inputs](https://developers.openai.com/api/docs/guides/text).\n"
      }
    },
    "com.openai.chat#ChatCompletionRequestMessageContentPartTextType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the content part."
      }
    },
    "com.openai.chat#PromptCacheBreakpointParam": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.openai.chat#PromptCacheBreakpointParamMode",
          "traits": {
            "smithy.api#documentation": "The breakpoint mode. Always `explicit`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Marks the exact end of a reusable prompt prefix. The breakpoint inherits its TTL from the request's `prompt_cache_options.ttl`; the boundary is not rounded to a token block."
      }
    },
    "com.openai.chat#PromptCacheBreakpointParamMode": {
      "type": "enum",
      "members": {
        "EXPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "explicit"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The breakpoint mode. Always `explicit`."
      }
    },
    "com.openai.chat#ChatCompletionRequestDeveloperMessageContentArrayOfContentPartsList": {
      "type": "list",
      "member": {
        "target": "com.openai.chat#ChatCompletionRequestMessageContentPartText"
      },
      "traits": {
        "smithy.api#documentation": "An array of content parts with a defined type. For developer messages, only type `text` is supported."
      }
    },
    "com.openai.chat#ChatCompletionRequestDeveloperMessageContent": {
      "type": "union",
      "members": {
        "TextContent": {
          "target": "smithy.api#String"
        },
        "ArrayOfContentParts": {
          "target": "com.openai.chat#ChatCompletionRequestDeveloperMessageContentArrayOfContentPartsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "The contents of the developer message."
      }
    },
    "com.openai.chat#ChatCompletionRequestDeveloperMessageRole": {
      "type": "enum",
      "members": {
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "developer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The role of the messages author, in this case `developer`."
      }
    },
    "com.openai.chat#ChatCompletionRequestSystemMessage": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.openai.chat#ChatCompletionRequestSystemMessageContent",
          "traits": {
            "smithy.api#documentation": "The contents of the system message.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.openai.chat#ChatCompletionRequestSystemMessageRole",
          "traits": {
            "smithy.api#documentation": "The role of the messages author, in this case `system`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Developer-provided instructions that the model should follow, regardless of\nmessages sent by the user. With o1 models and newer, use `developer` messages\nfor this purpose instead.\n"
      }
    },
    "com.openai.chat#ChatCompletionRequestSystemMessageContentArrayOfContentPartsList": {
      "type": "list",
      "member": {
        "target": "com.openai.chat#ChatCompletionRequestMessageContentPartText"
      },
      "traits": {
        "smithy.api#documentation": "An array of content parts with a defined type. For system messages, only type `text` is supported."
      }
    },
    "com.openai.chat#ChatCompletionRequestSystemMessageContent": {
      "type": "union",
      "members": {
        "TextContent": {
          "target": "smithy.api#String"
        },
        "ArrayOfContentParts": {
          "target": "com.openai.chat#ChatCompletionRequestSystemMessageContentArrayOfContentPartsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "The contents of the system message."
      }
    },
    "com.openai.chat#ChatCompletionRequestSystemMessageRole": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The role of the messages author, in this case `system`."
      }
    },
    "com.openai.chat#ChatCompletionRequestUserMessage": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.openai.chat#ChatCompletionRequestUserMessageContent",
          "traits": {
            "smithy.api#documentation": "The contents of the user message.\n",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.openai.chat#ChatCompletionRequestUserMessageRole",
          "traits": {
            "smithy.api#documentation": "The role of the messages author, in this case `user`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Messages sent by an end user, containing prompts or additional context\ninformation.\n"
      }
    },
    "com.openai.chat#ChatCompletionRequestUserMessageContentPart": {
      "type": "union",
      "members": {
        "ChatCompletionRequestMessageContentPartText": {
          "target": "com.openai.chat#ChatCompletionRequestMessageContentPartText"
        },
        "ChatCompletionRequestMessageContentPartImage": {
          "target": "com.openai.chat#ChatCompletionRequestMessageContentPartImage"
        },
        "ChatCompletionRequestMessageContentPartAudio": {
          "target": "com.openai.chat#ChatCompletionRequestMessageContentPartAudio"
        },
        "ChatCompletionRequestMessageContentPartFile": {
          "target": "com.openai.chat#ChatCompletionRequestMessageContentPartFile"
        }
      },
      "traits": {}
    },
    "com.openai.chat#ChatCompletionRequestMessageContentPartImage": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.chat#ChatCompletionRequestMessageContentPartImageType",
          "traits": {
            "smithy.api#documentation": "The type of the content part.",
            "smithy.api#required": {}
          }
        },
        "image_url": {
          "target": "com.openai.chat#ChatCompletionRequestMessageContentPartImageImageUrl",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prompt_cache_breakpoint": {
          "target": "com.openai.chat#PromptCacheBreakpointParam"
        }
      },
      "traits": {
        "smithy.api#documentation": "Learn about [image inputs](https://developers.openai.com/api/docs/guides/images-vision).\n"
      }
    },
    "com.openai.chat#ChatCompletionRequestMessageContentPartImageType": {
      "type": "enum",
      "members": {
        "IMAGE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_url"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the content part."
      }
    },
    "com.openai.chat#ChatCompletionRequestMessageContentPartImageImageUrlDetail": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "ORIGINAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "original"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the detail level of the image. Learn more in the [Vision guide](https://developers.openai.com/api/docs/guides/images-vision#choose-an-image-detail-level)."
      }
    },
    "com.openai.chat#ChatCompletionRequestMessageContentPartImageImageUrl": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Either a URL of the image or the base64 encoded image data.",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "com.openai.chat#ChatCompletionRequestMessageContentPartImageImageUrlDetail",
          "traits": {
            "smithy.api#documentation": "Specifies the detail level of the image. Learn more in the [Vision guide](https://developers.openai.com/api/docs/guides/images-vision#choose-an-image-detail-level)."
          }
        }
      },
      "traits": {}
    },
    "com.openai.chat#ChatCompletionRequestMessageContentPartAudio": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.chat#ChatCompletionRequestMessageContentPartAudioType",
          "traits": {
            "smithy.api#documentation": "The type of the content part. Always `input_audio`.",
            "smithy.api#required": {}
          }
        },
        "input_audio": {
          "target": "com.openai.chat#ChatCompletionRequestMessageContentPartAudioInputAudio",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prompt_cache_breakpoint": {
          "target": "com.openai.chat#PromptCacheBreakpointParam"
        }
      },
      "traits": {
        "smithy.api#documentation": "Learn about [audio inputs](https://developers.openai.com/api/docs/guides/audio).\n"
      }
    },
    "com.openai.chat#ChatCompletionRequestMessageContentPartAudioType": {
      "type": "enum",
      "members": {
        "INPUT_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_audio"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the content part. Always `input_audio`."
      }
    },
    "com.openai.chat#ChatCompletionRequestMessageContentPartAudioInputAudioFormat": {
      "type": "enum",
      "members": {
        "WAV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wav"
          }
        },
        "MP3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mp3"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The format of the encoded audio data. Currently supports \"wav\" and \"mp3\".\n"
      }
    },
    "com.openai.chat#ChatCompletionRequestMessageContentPartAudioInputAudio": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64 encoded audio data.",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.openai.chat#ChatCompletionRequestMessageContentPartAudioInputAudioFormat",
          "traits": {
            "smithy.api#documentation": "The format of the encoded audio data. Currently supports \"wav\" and \"mp3\".\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.chat#ChatCompletionRequestMessageContentPartFile": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.chat#ChatCompletionRequestMessageContentPartFileType",
          "traits": {
            "smithy.api#documentation": "The type of the content part. Always `file`.",
            "smithy.api#required": {}
          }
        },
        "file": {
          "target": "com.openai.chat#ChatCompletionRequestMessageContentPartFileFile",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prompt_cache_breakpoint": {
          "target": "com.openai.chat#PromptCacheBreakpointParam"
        }
      },
      "traits": {
        "smithy.api#documentation": "Learn about [file inputs](https://developers.openai.com/api/docs/guides/text) for text generation.\n"
      }
    },
    "com.openai.chat#ChatCompletionRequestMessageContentPartFileType": {
      "type": "enum",
      "members": {
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the content part. Always `file`."
      }
    },
    "com.openai.chat#ChatCompletionRequestMessageContentPartFileFile": {
      "type": "structure",
      "members": {
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the file, used when passing the file to the model as a\nstring.\n"
          }
        },
        "file_data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base64 encoded file data, used when passing the file to the model\nas a string.\n"
          }
        },
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of an uploaded file to use as input.\n"
          }
        }
      },
      "traits": {}
    },
    "com.openai.chat#ChatCompletionRequestUserMessageContentArrayOfContentPartsList": {
      "type": "list",
      "member": {
        "target": "com.openai.chat#ChatCompletionRequestUserMessageContentPart"
      },
      "traits": {
        "smithy.api#documentation": "An array of content parts with a defined type. Supported options differ based on the [model](https://developers.openai.com/api/docs/models) being used to generate the response. Can contain text, image, or audio inputs."
      }
    },
    "com.openai.chat#ChatCompletionRequestUserMessageContent": {
      "type": "union",
      "members": {
        "TextContent": {
          "target": "smithy.api#String"
        },
        "ArrayOfContentParts": {
          "target": "com.openai.chat#ChatCompletionRequestUserMessageContentArrayOfContentPartsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "The contents of the user message.\n"
      }
    },
    "com.openai.chat#ChatCompletionRequestUserMessageRole": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The role of the messages author, in this case `user`."
      }
    },
    "com.openai.chat#ChatCompletionRequestAssistantMessage": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.openai.chat#ChatCompletionRequestAssistantMessageContent",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "refusal": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "com.openai.chat#ChatCompletionRequestAssistantMessageRole",
          "traits": {
            "smithy.api#documentation": "The role of the messages author, in this case `assistant`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
          }
        },
        "audio": {
          "target": "com.openai.chat#ChatCompletionRequestAssistantMessageAudio",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tool_calls": {
          "target": "com.openai.chat#ChatCompletionMessageToolCalls"
        },
        "function_call": {
          "target": "com.openai.chat#ChatCompletionRequestAssistantMessageFunctionCall",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Messages sent by the model in response to user messages.\n"
      }
    },
    "com.openai.chat#ChatCompletionRequestAssistantMessageContentPart": {
      "type": "union",
      "members": {
        "ChatCompletionRequestMessageContentPartText": {
          "target": "com.openai.chat#ChatCompletionRequestMessageContentPartText"
        },
        "ChatCompletionRequestMessageContentPartRefusal": {
          "target": "com.openai.chat#ChatCompletionRequestMessageContentPartRefusal"
        }
      },
      "traits": {}
    },
    "com.openai.chat#ChatCompletionRequestMessageContentPartRefusal": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.chat#ChatCompletionRequestMessageContentPartRefusalType",
          "traits": {
            "smithy.api#documentation": "The type of the content part.",
            "smithy.api#required": {}
          }
        },
        "refusal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The refusal message generated by the model.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.chat#ChatCompletionRequestMessageContentPartRefusalType": {
      "type": "enum",
      "members": {
        "REFUSAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refusal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the content part."
      }
    },
    "com.openai.chat#ChatCompletionRequestAssistantMessageContentArrayOfContentPartsList": {
      "type": "list",
      "member": {
        "target": "com.openai.chat#ChatCompletionRequestAssistantMessageContentPart"
      },
      "traits": {
        "smithy.api#documentation": "An array of content parts with a defined type. Can be one or more of type `text`, or exactly one of type `refusal`."
      }
    },
    "com.openai.chat#ChatCompletionRequestAssistantMessageContent": {
      "type": "union",
      "members": {
        "TextContent": {
          "target": "smithy.api#String"
        },
        "ArrayOfContentParts": {
          "target": "com.openai.chat#ChatCompletionRequestAssistantMessageContentArrayOfContentPartsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "The contents of the assistant message. Required unless `tool_calls` or `function_call` is specified.\n"
      }
    },
    "com.openai.chat#ChatCompletionRequestAssistantMessageRole": {
      "type": "enum",
      "members": {
        "ASSISTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assistant"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The role of the messages author, in this case `assistant`."
      }
    },
    "com.openai.chat#ChatCompletionRequestAssistantMessageAudio": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a previous audio response from the model.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data about a previous audio response from the model.\n[Learn more](https://developers.openai.com/api/docs/guides/audio).\n"
      }
    },
    "com.openai.chat#ChatCompletionRequestAssistantMessageFunctionCall": {
      "type": "structure",
      "members": {
        "arguments": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function to call.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated and replaced by `tool_calls`. The name and arguments of a function that should be called, as generated by the model."
      }
    },
    "com.openai.chat#ChatCompletionRequestToolMessage": {
      "type": "structure",
      "members": {
        "role": {
          "target": "com.openai.chat#ChatCompletionRequestToolMessageRole",
          "traits": {
            "smithy.api#documentation": "The role of the messages author, in this case `tool`.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.openai.chat#ChatCompletionRequestToolMessageContent",
          "traits": {
            "smithy.api#documentation": "The contents of the tool message.",
            "smithy.api#required": {}
          }
        },
        "tool_call_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool call that this message is responding to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.chat#ChatCompletionRequestToolMessageRole": {
      "type": "enum",
      "members": {
        "TOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tool"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The role of the messages author, in this case `tool`."
      }
    },
    "com.openai.chat#ChatCompletionRequestToolMessageContentArrayOfContentPartsList": {
      "type": "list",
      "member": {
        "target": "com.openai.chat#ChatCompletionRequestMessageContentPartText"
      },
      "traits": {
        "smithy.api#documentation": "An array of content parts with a defined type. For tool messages, only type `text` is supported."
      }
    },
    "com.openai.chat#ChatCompletionRequestToolMessageContent": {
      "type": "union",
      "members": {
        "TextContent": {
          "target": "smithy.api#String"
        },
        "ArrayOfContentParts": {
          "target": "com.openai.chat#ChatCompletionRequestToolMessageContentArrayOfContentPartsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "The contents of the tool message."
      }
    },
    "com.openai.chat#ChatCompletionRequestFunctionMessage": {
      "type": "structure",
      "members": {
        "role": {
          "target": "com.openai.chat#ChatCompletionRequestFunctionMessageRole",
          "traits": {
            "smithy.api#documentation": "The role of the messages author, in this case `function`.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function to call.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.chat#ChatCompletionRequestFunctionMessageRole": {
      "type": "enum",
      "members": {
        "FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The role of the messages author, in this case `function`."
      }
    },
    "com.openai.chat#CreateChatCompletionRequestMessagesList": {
      "type": "list",
      "member": {
        "target": "com.openai.chat#ChatCompletionRequestMessage"
      },
      "traits": {
        "smithy.api#documentation": "A list of messages comprising the conversation so far. Depending on the\n[model](https://developers.openai.com/api/docs/models) you use, different message types (modalities) are\nsupported, like [text](https://developers.openai.com/api/docs/guides/text),\n[images](https://developers.openai.com/api/docs/guides/images-vision), and [audio](https://developers.openai.com/api/docs/guides/audio).\n"
      }
    },
    "com.openai.chat#ModelIdsShared": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.chat#ModelIdsSharedCase1"
        }
      },
      "traits": {}
    },
    "com.openai.chat#ModelIdsSharedCase1": {
      "type": "enum",
      "members": {
        "GPT_6_ASTRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-6-astra"
          }
        },
        "GPT_6_1_SOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-6.1-sol"
          }
        },
        "GPT_6_SOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-6-sol"
          }
        },
        "GPT_6_LUNA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-6-luna"
          }
        },
        "GPT_5_6_SOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.6-sol"
          }
        },
        "GPT_5_6_TERRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.6-terra"
          }
        },
        "GPT_5_6_LUNA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.6-luna"
          }
        },
        "GPT_5_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.5"
          }
        },
        "GPT_5_5_2026_04_23": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.5-2026-04-23"
          }
        },
        "GPT_5_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.4"
          }
        },
        "GPT_5_4_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.4-mini"
          }
        },
        "GPT_5_4_NANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.4-nano"
          }
        },
        "GPT_5_4_MINI_2026_03_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.4-mini-2026-03-17"
          }
        },
        "GPT_5_4_NANO_2026_03_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.4-nano-2026-03-17"
          }
        },
        "GPT_5_3_CHAT_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.3-chat-latest"
          }
        },
        "GPT_5_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.2"
          }
        },
        "GPT_5_2_2025_12_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.2-2025-12-11"
          }
        },
        "GPT_5_2_CHAT_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.2-chat-latest"
          }
        },
        "GPT_5_2_PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.2-pro"
          }
        },
        "GPT_5_2_PRO_2025_12_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.2-pro-2025-12-11"
          }
        },
        "GPT_5_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.1"
          }
        },
        "GPT_5_1_2025_11_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.1-2025-11-13"
          }
        },
        "GPT_5_1_CODEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.1-codex"
          }
        },
        "GPT_5_1_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.1-mini"
          }
        },
        "GPT_5_1_CHAT_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.1-chat-latest"
          }
        },
        "GPT_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5"
          }
        },
        "GPT_5_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-mini"
          }
        },
        "GPT_5_NANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-nano"
          }
        },
        "GPT_5_2025_08_07": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-2025-08-07"
          }
        },
        "GPT_5_MINI_2025_08_07": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-mini-2025-08-07"
          }
        },
        "GPT_5_NANO_2025_08_07": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-nano-2025-08-07"
          }
        },
        "GPT_5_CHAT_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-chat-latest"
          }
        },
        "GPT_4_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.1"
          }
        },
        "GPT_4_1_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.1-mini"
          }
        },
        "GPT_4_1_NANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.1-nano"
          }
        },
        "GPT_4_1_2025_04_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.1-2025-04-14"
          }
        },
        "GPT_4_1_MINI_2025_04_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.1-mini-2025-04-14"
          }
        },
        "GPT_4_1_NANO_2025_04_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.1-nano-2025-04-14"
          }
        },
        "O4_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o4-mini"
          }
        },
        "O4_MINI_2025_04_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o4-mini-2025-04-16"
          }
        },
        "O3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o3"
          }
        },
        "O3_2025_04_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o3-2025-04-16"
          }
        },
        "O3_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o3-mini"
          }
        },
        "O3_MINI_2025_01_31": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o3-mini-2025-01-31"
          }
        },
        "O1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o1"
          }
        },
        "O1_2024_12_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o1-2024-12-17"
          }
        },
        "O1_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o1-preview"
          }
        },
        "O1_PREVIEW_2024_09_12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o1-preview-2024-09-12"
          }
        },
        "O1_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o1-mini"
          }
        },
        "O1_MINI_2024_09_12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o1-mini-2024-09-12"
          }
        },
        "GPT_4O": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o"
          }
        },
        "GPT_4O_2024_11_20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-2024-11-20"
          }
        },
        "GPT_4O_2024_08_06": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-2024-08-06"
          }
        },
        "GPT_4O_2024_05_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-2024-05-13"
          }
        },
        "GPT_AUDIO_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-audio-mini"
          }
        },
        "GPT_AUDIO_MINI_2025_12_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-audio-mini-2025-12-15"
          }
        },
        "GPT_4O_AUDIO_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-audio-preview"
          }
        },
        "GPT_4O_AUDIO_PREVIEW_2024_10_01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-audio-preview-2024-10-01"
          }
        },
        "GPT_4O_AUDIO_PREVIEW_2024_12_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-audio-preview-2024-12-17"
          }
        },
        "GPT_4O_AUDIO_PREVIEW_2025_06_03": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-audio-preview-2025-06-03"
          }
        },
        "GPT_4O_MINI_AUDIO_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini-audio-preview"
          }
        },
        "GPT_4O_MINI_AUDIO_PREVIEW_2024_12_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini-audio-preview-2024-12-17"
          }
        },
        "GPT_4O_SEARCH_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-search-preview"
          }
        },
        "GPT_4O_MINI_SEARCH_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini-search-preview"
          }
        },
        "GPT_4O_SEARCH_PREVIEW_2025_03_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-search-preview-2025-03-11"
          }
        },
        "GPT_4O_MINI_SEARCH_PREVIEW_2025_03_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini-search-preview-2025-03-11"
          }
        },
        "CHATGPT_4O_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chatgpt-4o-latest"
          }
        },
        "CODEX_MINI_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "codex-mini-latest"
          }
        },
        "GPT_4O_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini"
          }
        },
        "GPT_4O_MINI_2024_07_18": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini-2024-07-18"
          }
        },
        "GPT_4_TURBO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-turbo"
          }
        },
        "GPT_4_TURBO_2024_04_09": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-turbo-2024-04-09"
          }
        },
        "GPT_4_0125_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-0125-preview"
          }
        },
        "GPT_4_TURBO_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-turbo-preview"
          }
        },
        "GPT_4_1106_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-1106-preview"
          }
        },
        "GPT_4_VISION_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-vision-preview"
          }
        },
        "GPT_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4"
          }
        },
        "GPT_4_0314": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-0314"
          }
        },
        "GPT_4_0613": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-0613"
          }
        },
        "GPT_4_32K": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-32k"
          }
        },
        "GPT_4_32K_0314": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-32k-0314"
          }
        },
        "GPT_4_32K_0613": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-32k-0613"
          }
        },
        "GPT_3_5_TURBO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo"
          }
        },
        "GPT_3_5_TURBO_16K": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo-16k"
          }
        },
        "GPT_3_5_TURBO_0301": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo-0301"
          }
        },
        "GPT_3_5_TURBO_0613": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo-0613"
          }
        },
        "GPT_3_5_TURBO_1106": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo-1106"
          }
        },
        "GPT_3_5_TURBO_0125": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo-0125"
          }
        },
        "GPT_3_5_TURBO_16K_0613": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo-16k-0613"
          }
        }
      },
      "traits": {}
    },
    "com.openai.chat#ResponseModalitiesItem": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audio"
          }
        }
      },
      "traits": {}
    },
    "com.openai.chat#ResponseModalitiesList": {
      "type": "list",
      "member": {
        "target": "com.openai.chat#ResponseModalitiesItem"
      },
      "traits": {
        "smithy.api#documentation": "Output types that you would like the model to generate.\nMost models are capable of generating text, which is the default:\n\n`[\"text\"]`\n\nThe `gpt-4o-audio-preview` model can also be used to\n[generate audio](https://developers.openai.com/api/docs/guides/audio). To request that this model generate\nboth text and audio responses, you can use:\n\n`[\"text\", \"audio\"]`\n"
      }
    },
    "com.openai.chat#Verbosity": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Constrains the verbosity of the model's response. Lower values will result in\nmore concise responses, while higher values will result in more verbose responses.\nCurrently supported values are `low`, `medium`, and `high`. The default is\n`medium`.\n"
      }
    },
    "com.openai.chat#ReasoningEffort": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minimal"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Constrains effort on reasoning for reasoning models. Currently supported\nvalues are `none`, `minimal`, `low`, `medium`, `high`, `xhigh`, and `max`.\nReducing reasoning effort can result in faster responses and fewer tokens\nused on reasoning in a response. Not all reasoning models support every\nvalue. See the\n[reasoning guide](https://developers.openai.com/api/docs/guides/reasoning)\nfor model-specific support.\n"
      }
    },
    "com.openai.chat#CreateChatCompletionRequestWebSearchOptionsUserLocationType": {
      "type": "enum",
      "members": {
        "APPROXIMATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approximate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of location approximation. Always `approximate`.\n"
      }
    },
    "com.openai.chat#WebSearchLocation": {
      "type": "structure",
      "members": {
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The two-letter \n[ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1) of the user,\ne.g. `US`.\n"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free text input for the region of the user, e.g. `California`.\n"
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free text input for the city of the user, e.g. `San Francisco`.\n"
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [IANA timezone](https://timeapi.io/documentation/iana-timezones) \nof the user, e.g. `America/Los_Angeles`.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Approximate location parameters for the search."
      }
    },
    "com.openai.chat#CreateChatCompletionRequestWebSearchOptionsUserLocation": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.chat#CreateChatCompletionRequestWebSearchOptionsUserLocationType",
          "traits": {
            "smithy.api#documentation": "The type of location approximation. Always `approximate`.\n",
            "smithy.api#required": {}
          }
        },
        "approximate": {
          "target": "com.openai.chat#WebSearchLocation",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Approximate location parameters for the search.\n"
      }
    },
    "com.openai.chat#WebSearchContextSize": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "High level guidance for the amount of context window space to use for the \nsearch. One of `low`, `medium`, or `high`. `medium` is the default.\n"
      }
    },
    "com.openai.chat#CreateChatCompletionRequestWebSearchOptions": {
      "type": "structure",
      "members": {
        "user_location": {
[...]
