{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openai.completions#CreateCompletionRequestModelCase1": {
      "type": "enum",
      "members": {
        "GPT_3_5_TURBO_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo-instruct"
          }
        },
        "DAVINCI_002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "davinci-002"
          }
        },
        "BABBAGE_002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "babbage-002"
          }
        }
      },
      "traits": {}
    },
    "com.openai.completions#CreateCompletionRequestModel": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.completions#CreateCompletionRequestModelCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "ID of the model to use. You can use the [List models](https://developers.openai.com/api/reference/resources/models/methods/list) API to see all of your available models, or see our [Model overview](https://developers.openai.com/api/docs/models) for descriptions of them.\n"
      }
    },
    "com.openai.completions#CreateCompletionRequestPromptCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.openai.completions#CreateCompletionRequestPromptCase2List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.openai.completions#CreateCompletionRequestPromptCase3ItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.openai.completions#CreateCompletionRequestPromptCase3List": {
      "type": "list",
      "member": {
        "target": "com.openai.completions#CreateCompletionRequestPromptCase3ItemList"
      },
      "traits": {}
    },
    "com.openai.completions#CreateCompletionRequestPrompt": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.completions#CreateCompletionRequestPromptCase1List"
        },
        "Case2": {
          "target": "com.openai.completions#CreateCompletionRequestPromptCase2List"
        },
        "Case3": {
          "target": "com.openai.completions#CreateCompletionRequestPromptCase3List"
        }
      },
      "traits": {
        "smithy.api#documentation": "The prompt(s) to generate completions for, encoded as a string, array of strings, array of tokens, or array of token arrays.\n\nNote that <|endoftext|> is the document separator that the model sees during training, so if a prompt is not specified the model will generate as if from the beginning of a new document.\n"
      }
    },
    "com.openai.completions#CreateCompletionRequestLogitBiasMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Modify the likelihood of specified tokens appearing in the completion.\n\nAccepts a JSON object that maps tokens (specified by their token ID in the GPT tokenizer) to an associated bias value from -100 to 100. You can use this [tokenizer tool](https://platform.openai.com/tokenizer?view=bpe) to convert text to token IDs. Mathematically, the bias is added to the logits generated by the model prior to sampling. The exact effect will vary per model, but values between -1 and 1 should decrease or increase likelihood of selection; values like -100 or 100 should result in a ban or exclusive selection of the relevant token.\n\nAs an example, you can pass `{\"50256\": -100}` to prevent the <|endoftext|> token from being generated.\n"
      }
    },
    "com.openai.completions#StopConfiguration": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.completions#StopConfigurationCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Not supported with latest reasoning models `o3` and `o4-mini`.\n\nUp to 4 sequences where the API will stop generating further tokens. The\nreturned text will not contain the stop sequence.\n"
      }
    },
    "com.openai.completions#StopConfigurationCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.openai.completions#ChatCompletionStreamOptions": {
      "type": "structure",
      "members": {
        "include_usage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set, an additional chunk will be streamed before the `data: [DONE]`\nmessage. The `usage` field on this chunk shows the token usage statistics\nfor the entire request, and the `choices` field will always be an empty\narray.\n\nAll other chunks will also include a `usage` field, but with a null\nvalue. **NOTE:** If the stream is interrupted, you may not receive the\nfinal usage chunk which contains the total token usage for the request.\n"
          }
        },
        "include_obfuscation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, stream obfuscation will be enabled. Stream obfuscation adds\nrandom characters to an `obfuscation` field on streaming delta events to\nnormalize payload sizes as a mitigation to certain side-channel attacks.\nThese obfuscation fields are included by default, but add a small amount\nof overhead to the data stream. You can set `include_obfuscation` to\nfalse to optimize for bandwidth if you trust the network links between\nyour application and the OpenAI API.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for streaming response. Only set this when you set `stream: true`.\n"
      }
    },
    "com.openai.completions#CreateCompletionRequest": {
      "type": "structure",
      "members": {
        "model": {
          "target": "com.openai.completions#CreateCompletionRequestModel",
          "traits": {
            "smithy.api#documentation": "ID of the model to use. You can use the [List models](https://developers.openai.com/api/reference/resources/models/methods/list) API to see all of your available models, or see our [Model overview](https://developers.openai.com/api/docs/models) for descriptions of them.\n",
            "smithy.api#required": {}
          }
        },
        "prompt": {
          "target": "com.openai.completions#CreateCompletionRequestPrompt",
          "traits": {
            "smithy.api#documentation": "The prompt(s) to generate completions for, encoded as a string, array of strings, array of tokens, or array of token arrays.\n\nNote that <|endoftext|> is the document separator that the model sees during training, so if a prompt is not specified the model will generate as if from the beginning of a new document.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "best_of": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Generates `best_of` completions server-side and returns the \"best\" (the one with the highest log probability per token). Results cannot be streamed.\n\nWhen used with `n`, `best_of` controls the number of candidate completions and `n` specifies how many to return – `best_of` must be greater than `n`.\n\n**Note:** Because this parameter generates many completions, it can quickly consume your token quota. Use carefully and ensure that you have reasonable settings for `max_tokens` and `stop`.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "echo": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Echo back the prompt in addition to the completion\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "frequency_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim.\n\n[See more information about frequency and presence penalties.](https://developers.openai.com/api/docs/guides/text)\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "logit_bias": {
          "target": "com.openai.completions#CreateCompletionRequestLogitBiasMap",
          "traits": {
            "smithy.api#documentation": "Modify the likelihood of specified tokens appearing in the completion.\n\nAccepts a JSON object that maps tokens (specified by their token ID in the GPT tokenizer) to an associated bias value from -100 to 100. You can use this [tokenizer tool](https://platform.openai.com/tokenizer?view=bpe) to convert text to token IDs. Mathematically, the bias is added to the logits generated by the model prior to sampling. The exact effect will vary per model, but values between -1 and 1 should decrease or increase likelihood of selection; values like -100 or 100 should result in a ban or exclusive selection of the relevant token.\n\nAs an example, you can pass `{\"50256\": -100}` to prevent the <|endoftext|> token from being generated.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "logprobs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Include the log probabilities on the `logprobs` most likely output tokens, as well the chosen tokens. For example, if `logprobs` is 5, the API will return a list of the 5 most likely tokens. The API will always return the `logprob` of the sampled token, so there may be up to `logprobs+1` elements in the response.\n\nThe maximum value for `logprobs` is 5.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "max_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of [tokens](https://platform.openai.com/tokenizer) that can be generated in the completion.\n\nThe token count of your prompt plus `max_tokens` cannot exceed the model's context length. [Example Python code](https://cookbook.openai.com/examples/how_to_count_tokens_with_tiktoken) for counting tokens.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "n": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many completions to generate for each prompt.\n\n**Note:** Because this parameter generates many completions, it can quickly consume your token quota. Use carefully and ensure that you have reasonable settings for `max_tokens` and `stop`.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "presence_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the text so far, increasing the model's likelihood to talk about new topics.\n\n[See more information about frequency and presence penalties.](https://developers.openai.com/api/docs/guides/text)\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "seed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same `seed` and parameters should return the same result.\n\nDeterminism is not guaranteed, and you should refer to the `system_fingerprint` response parameter to monitor changes in the backend.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "stop": {
          "target": "com.openai.completions#StopConfiguration",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "stream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to stream back partial progress. If set, tokens will be sent as data-only [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format) as they become available, with the stream terminated by a `data: [DONE]` message. [Example Python code](https://cookbook.openai.com/examples/how_to_stream_completions).\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "stream_options": {
          "target": "com.openai.completions#ChatCompletionStreamOptions",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suffix that comes after a completion of inserted text.\n\nThis parameter is only supported for `gpt-3.5-turbo-instruct`.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "temperature": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic.\n\nWe generally recommend altering this or `top_p` but not both.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "top_p": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered.\n\nWe generally recommend altering this or `temperature` but not both.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier representing your end-user, which can help OpenAI to monitor and detect abuse. [Learn more](https://developers.openai.com/api/docs/guides/safety-best-practices#implement-safety-identifiers).\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.completions#CreateCompletionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for the completion.",
            "smithy.api#required": {}
          }
        },
        "choices": {
          "target": "com.openai.completions#CreateCompletionResponseChoicesList",
          "traits": {
            "smithy.api#documentation": "The list of completion choices the model generated for the input prompt.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) of when the completion was created.",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The model used for completion.",
            "smithy.api#required": {}
          }
        },
        "system_fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This fingerprint represents the backend configuration that the model runs with.\n\nCan be used in conjunction with the `seed` request parameter to understand when backend changes have been made that might impact determinism.\n"
          }
        },
        "object": {
          "target": "com.openai.completions#CreateCompletionResponseObject",
          "traits": {
            "smithy.api#documentation": "The object type, which is always \"text_completion\"",
            "smithy.api#required": {}
          }
        },
        "usage": {
          "target": "com.openai.completions#CompletionUsage"
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a completion response from the API. Note: both the streamed and non-streamed response objects share the same shape (unlike the chat endpoint).\n"
      }
    },
    "com.openai.completions#CreateCompletionResponseChoicesItemFinishReason": {
      "type": "enum",
      "members": {
        "STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stop"
          }
        },
        "LENGTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "length"
          }
        },
        "CONTENT_FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "content_filter"
          }
        }
      },
      "traits": {}
    },
    "com.openai.completions#CreateCompletionResponseChoicesItemLogprobsTextOffsetList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.openai.completions#CreateCompletionResponseChoicesItemLogprobsTokenLogprobsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {}
    },
    "com.openai.completions#CreateCompletionResponseChoicesItemLogprobsTokensList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.openai.completions#CreateCompletionResponseChoicesItemLogprobsTopLogprobsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Double"
      },
      "traits": {}
    },
    "com.openai.completions#CreateCompletionResponseChoicesItemLogprobsTopLogprobsList": {
      "type": "list",
      "member": {
        "target": "com.openai.completions#CreateCompletionResponseChoicesItemLogprobsTopLogprobsItemMap"
      },
      "traits": {}
    },
    "com.openai.completions#CreateCompletionResponseChoicesItemLogprobs": {
      "type": "structure",
      "members": {
        "text_offset": {
          "target": "com.openai.completions#CreateCompletionResponseChoicesItemLogprobsTextOffsetList"
        },
        "token_logprobs": {
          "target": "com.openai.completions#CreateCompletionResponseChoicesItemLogprobsTokenLogprobsList"
        },
        "tokens": {
          "target": "com.openai.completions#CreateCompletionResponseChoicesItemLogprobsTokensList"
        },
        "top_logprobs": {
          "target": "com.openai.completions#CreateCompletionResponseChoicesItemLogprobsTopLogprobsList"
        }
      },
      "traits": {}
    },
    "com.openai.completions#CreateCompletionResponseChoicesItem": {
      "type": "structure",
      "members": {
        "finish_reason": {
          "target": "com.openai.completions#CreateCompletionResponseChoicesItemFinishReason",
          "traits": {
            "smithy.api#documentation": "The reason the model stopped generating tokens. This will be `stop` if the model hit a natural stop point or a provided stop sequence,\n`length` if the maximum number of tokens specified in the request was reached,\nor `content_filter` if content was omitted due to a flag from our content filters. The value is null while a streamed completion is unfinished.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logprobs": {
          "target": "com.openai.completions#CreateCompletionResponseChoicesItemLogprobs",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.completions#CreateCompletionResponseChoicesList": {
      "type": "list",
      "member": {
        "target": "com.openai.completions#CreateCompletionResponseChoicesItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of completion choices the model generated for the input prompt."
      }
    },
    "com.openai.completions#CreateCompletionResponseObject": {
      "type": "enum",
      "members": {
        "TEXT_COMPLETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text_completion"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type, which is always \"text_completion\""
      }
    },
    "com.openai.completions#CompletionUsage": {
      "type": "structure",
      "members": {
        "completion_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of tokens in the generated completion.",
            "smithy.api#required": {}
          }
        },
        "prompt_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of tokens in the prompt.",
            "smithy.api#required": {}
          }
        },
        "total_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of tokens used in the request (prompt + completion).",
            "smithy.api#required": {}
          }
        },
        "completion_tokens_details": {
          "target": "com.openai.completions#CompletionUsageCompletionTokensDetails",
          "traits": {
            "smithy.api#documentation": "Breakdown of tokens used in a completion."
          }
        },
        "prompt_tokens_details": {
          "target": "com.openai.completions#CompletionUsagePromptTokensDetails",
          "traits": {
            "smithy.api#documentation": "Breakdown of tokens used in the prompt."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Usage statistics for the completion request."
      }
    },
    "com.openai.completions#CompletionUsageCompletionTokensDetails": {
      "type": "structure",
      "members": {
        "accepted_prediction_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "When using Predicted Outputs, the number of tokens in the\nprediction that appeared in the completion.\n"
          }
        },
        "audio_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Audio input tokens generated by the model."
          }
        },
        "reasoning_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Tokens generated by the model for reasoning."
          }
        },
        "text_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Text output tokens generated by the model."
          }
        },
        "rejected_prediction_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "When using Predicted Outputs, the number of tokens in the\nprediction that did not appear in the completion. However, like\nreasoning tokens, these tokens are still counted in the total\ncompletion tokens for purposes of billing, output, and context window\nlimits.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Breakdown of tokens used in a completion."
      }
    },
    "com.openai.completions#CompletionUsagePromptTokensDetails": {
      "type": "structure",
      "members": {
        "audio_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Audio input tokens present in the prompt."
          }
        },
        "cached_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cached tokens present in the prompt."
          }
        },
        "text_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Text input tokens present in the prompt."
          }
        },
        "image_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Image input tokens present in the prompt."
          }
        },
        "cache_write_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The unadjusted number of prompt tokens written to cache."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Breakdown of tokens used in the prompt."
      }
    },
    "com.openai.completions#CreateCompletion": {
      "type": "operation",
      "input": {
        "target": "com.openai.completions#CreateCompletionRequest"
      },
      "output": {
        "target": "com.openai.completions#CreateCompletionResponse"
      },
      "errors": [
        {
          "target": "com.openai.completions#BadRequest"
        },
        {
          "target": "com.openai.completions#Forbidden"
        },
        {
          "target": "com.openai.completions#NotFound"
        },
        {
          "target": "com.openai.completions#ContextLengthExceeded"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/completions",
          "code": 200
        },
        "smithy.api#documentation": "Create completion\n\nCreates a completion for the provided prompt and parameters.\n\nReturns a completion object, or a sequence of completion objects if the request is streamed."
      }
    },
    "com.openai.completions#CreateCompletionStream": {
      "type": "operation",
      "input": {
        "target": "com.openai.completions#CreateCompletionRequest"
      },
      "output": {
        "target": "com.openai.completions#CreateCompletionResponse"
      },
      "errors": [
        {
          "target": "com.openai.completions#BadRequest"
        },
        {
          "target": "com.openai.completions#Forbidden"
        },
        {
          "target": "com.openai.completions#NotFound"
        },
        {
          "target": "com.openai.completions#ContextLengthExceeded"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/completions",
          "code": 200
        },
        "smithy.api#documentation": "Create completion\n\nCreates a completion for the provided prompt and parameters.\n\nReturns a completion object, or a sequence of completion objects if the request is streamed.",
        "com.distilled#eventStream": {
          "requestFlag": "stream",
          "done": "[DONE]"
        }
      }
    },
    "com.openai.completions#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.openai.completions#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.openai.completions#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.openai.completions#Completions": {
      "type": "service",
      "version": "2.3.0",
      "operations": [
        {
          "target": "com.openai.completions#CreateCompletion"
        },
        {
          "target": "com.openai.completions#CreateCompletionStream"
        }
      ],
      "traits": {
        "smithy.api#title": "OpenAI API",
        "smithy.api#documentation": "The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details."
      }
    },
    "com.openai.completions#ContextLengthExceeded": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400,
            "body": {
              "/error/code": "context_length_exceeded"
            }
          }
        ]
      }
    }
  }
}
