{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openai.content_provenance#CreateContentProvenanceCheckRequest": {
      "type": "structure",
      "members": {
        "file": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "The image or audio file to check for supported OpenAI provenance signals.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.content_provenance#ProvenanceResource": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.content_provenance#ProvenanceCheckObject",
          "traits": {
            "smithy.api#documentation": "The object type. Always `content_provenance_check` for this endpoint.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp, in seconds, when the provenance check was created.",
            "smithy.api#required": {}
          }
        },
        "results": {
          "target": "com.openai.content_provenance#ProvenanceResourceResultsList",
          "traits": {
            "smithy.api#documentation": "The provenance results that apply to the uploaded file. Image results include C2PA and SynthID; audio results include SynthID.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.content_provenance#ProvenanceCheckObject": {
      "type": "enum",
      "members": {
        "CONTENT_PROVENANCE_CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "content_provenance_check"
          }
        }
      },
      "traits": {}
    },
    "com.openai.content_provenance#C2PAProvenanceResult": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.content_provenance#C2PAProvenanceResultType",
          "traits": {
            "smithy.api#documentation": "The provenance signal type. Always `c2pa`.",
            "smithy.api#required": {}
          }
        },
        "outcome": {
          "target": "com.openai.content_provenance#ProvenanceDetectionResultApi",
          "traits": {
            "smithy.api#documentation": "Whether a supported OpenAI C2PA provenance signal was detected.\nIf `not_detected`, it means the tool did not find supported signals in the uploaded file. The content could still have been generated by OpenAI if the metadata was stripped or has evidence of tampering, the watermark was degraded, it comes from a legacy generation model, or it was created before provenance signals were available. Content could also still be AI-generated by another company's model, which the tool currently does not detect.",
            "smithy.api#required": {}
          }
        },
        "validation_state": {
          "target": "com.openai.content_provenance#C2PAValidationStateApi",
          "traits": {
            "smithy.api#documentation": "The validation status of the C2PA manifest in the uploaded image.",
            "smithy.api#required": {}
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "generated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.content_provenance#C2PAProvenanceResultType": {
      "type": "enum",
      "members": {
        "C2PA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "c2pa"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provenance signal type. Always `c2pa`."
      }
    },
    "com.openai.content_provenance#ProvenanceDetectionResultApi": {
      "type": "enum",
      "members": {
        "DETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detected"
          }
        },
        "NOT_DETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_detected"
          }
        }
      },
      "traits": {}
    },
    "com.openai.content_provenance#C2PAValidationStateApi": {
      "type": "enum",
      "members": {
        "TRUSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trusted"
          }
        },
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "valid"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid"
          }
        },
        "NOT_PRESENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_present"
          }
        }
      },
      "traits": {}
    },
    "com.openai.content_provenance#SynthIDProvenanceResult": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.content_provenance#SynthIDProvenanceResultType",
          "traits": {
            "smithy.api#documentation": "The provenance signal type. Always `synthid`.",
            "smithy.api#required": {}
          }
        },
        "outcome": {
          "target": "com.openai.content_provenance#ProvenanceDetectionResultApi",
          "traits": {
            "smithy.api#documentation": "Whether a supported OpenAI SynthID watermark was detected.\nIf `not_detected`, it means the tool did not find supported signals in the uploaded file. The content could still have been generated by OpenAI if the metadata was stripped or has evidence of tampering, the watermark was degraded, it comes from a legacy generation model, or it was created before provenance signals were available. Content could also still be AI-generated by another company's model, which the tool currently does not detect.",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "generated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.content_provenance#SynthIDProvenanceResultType": {
      "type": "enum",
      "members": {
        "SYNTHID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "synthid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provenance signal type. Always `synthid`."
      }
    },
    "com.openai.content_provenance#ProvenanceResourceResultsItem": {
      "type": "union",
      "members": {
        "C2PAProvenanceResult": {
          "target": "com.openai.content_provenance#C2PAProvenanceResult"
        },
        "SynthIDProvenanceResult": {
          "target": "com.openai.content_provenance#SynthIDProvenanceResult"
        }
      },
      "traits": {}
    },
    "com.openai.content_provenance#ProvenanceResourceResultsList": {
      "type": "list",
      "member": {
        "target": "com.openai.content_provenance#ProvenanceResourceResultsItem"
      },
      "traits": {
        "smithy.api#documentation": "The provenance results that apply to the uploaded file. Image results include C2PA and SynthID; audio results include SynthID."
      }
    },
    "com.openai.content_provenance#CreateContentProvenanceCheck": {
      "type": "operation",
      "input": {
        "target": "com.openai.content_provenance#CreateContentProvenanceCheckRequest"
      },
      "output": {
        "target": "com.openai.content_provenance#ProvenanceResource"
      },
      "errors": [
        {
          "target": "com.openai.content_provenance#BadRequest"
        },
        {
          "target": "com.openai.content_provenance#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/content_provenance_checks",
          "code": 200,
          "contentType": "multipart"
        },
        "smithy.api#documentation": "Create content provenance check\n\nCheck whether an image or audio file contains known OpenAI provenance signals. [Learn more about content provenance](https://developers.openai.com/api/docs/guides/content-provenance).\n\nIf `not_detected`, it means the tool did not find supported signals in the uploaded file. The content could still have been generated by OpenAI if the metadata was stripped or has evidence of tampering, the watermark was degraded, it comes from a legacy generation model, or it was created before provenance signals were available. Content could also still be AI-generated by another company's model, which the tool currently does not detect.",
        "com.distilled.openapi#contentType": "multipart"
      }
    },
    "com.openai.content_provenance#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.openai.content_provenance#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.openai.content_provenance#ContentProvenance": {
      "type": "service",
      "version": "2.3.0",
      "operations": [
        {
          "target": "com.openai.content_provenance#CreateContentProvenanceCheck"
        }
      ],
      "traits": {
        "smithy.api#title": "OpenAI API",
        "smithy.api#documentation": "The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details."
      }
    }
  }
}
