{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openai.conversations#ListConversationItemsRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#IncludeEnum": {
      "type": "enum",
      "members": {
        "FILE_SEARCH_CALL_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file_search_call.results"
          }
        },
        "WEB_SEARCH_CALL_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "web_search_call.results"
          }
        },
        "WEB_SEARCH_CALL_ACTION_SOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "web_search_call.action.sources"
          }
        },
        "MESSAGE_INPUT_IMAGE_IMAGE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message.input_image.image_url"
          }
        },
        "COMPUTER_CALL_OUTPUT_OUTPUT_IMAGE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "computer_call_output.output.image_url"
          }
        },
        "CODE_INTERPRETER_CALL_OUTPUTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code_interpreter_call.outputs"
          }
        },
        "REASONING_ENCRYPTED_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reasoning.encrypted_content"
          }
        },
        "MESSAGE_OUTPUT_TEXT_LOGPROBS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message.output_text.logprobs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify additional output data to include in the model response. Currently supported values are:\n- `web_search_call.results`: Include the search results of the web search tool call.\n- `web_search_call.action.sources`: Include the sources of the web search tool call.\n- `code_interpreter_call.outputs`: Includes the outputs of python code execution in code interpreter tool call items.\n- `computer_call_output.output.image_url`: Include image urls from the computer call output.\n- `file_search_call.results`: Include the search results of the file search tool call.\n- `message.input_image.image_url`: Include image urls from the input message.\n- `message.output_text.logprobs`: Include logprobs with assistant messages.\n- `reasoning.encrypted_content`: Includes an encrypted version of reasoning tokens in reasoning item outputs. This enables reasoning items to be used in multi-turn conversations when using the Responses API statelessly (like when the `store` parameter is set to `false`, or when an organization is enrolled in the zero data retention program)."
      }
    },
    "com.openai.conversations#ListConversationItemsRequestIncludeList": {
      "type": "list",
      "member": {
        "target": "com.openai.conversations#IncludeEnum"
      },
      "traits": {}
    },
    "com.openai.conversations#ListConversationItemsRequest": {
      "type": "structure",
      "members": {
        "conversation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the conversation to list items for."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "A limit on the number of objects to be returned. Limit can range between\n1 and 100, and the default is 20.\n"
          }
        },
        "order": {
          "target": "com.openai.conversations#ListConversationItemsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "The order to return the input items in. Default is `desc`.\n- `asc`: Return the input items in ascending order.\n- `desc`: Return the input items in descending order.\n"
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "An item ID to list items after, used in pagination.\n"
          }
        },
        "include": {
          "target": "com.openai.conversations#ListConversationItemsRequestIncludeList",
          "traits": {
            "smithy.api#httpQuery": "include",
            "smithy.api#documentation": "Specify additional output data to include in the model response. Currently supported values are:\n- `web_search_call.action.sources`: Include the sources of the web search tool call.\n- `code_interpreter_call.outputs`: Includes the outputs of python code execution in code interpreter tool call items.\n- `computer_call_output.output.image_url`: Include image urls from the computer call output.\n- `file_search_call.results`: Include the search results of the file search tool call.\n- `message.input_image.image_url`: Include image urls from the input message.\n- `message.output_text.logprobs`: Include logprobs with assistant messages.\n- `reasoning.encrypted_content`: Includes an encrypted version of reasoning tokens in reasoning item outputs. This enables reasoning items to be used in multi-turn conversations when using the Responses API statelessly (like when the `store` parameter is set to `false`, or when an organization is enrolled in the zero data retention program)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.conversations#ConversationItemList": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.conversations#ConversationItemListObject",
          "traits": {
            "smithy.api#documentation": "The type of object returned, must be `list`.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.conversations#ConversationItemListDataList",
          "traits": {
            "smithy.api#documentation": "A list of conversation items.",
            "smithy.api#required": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there are more items available.",
            "smithy.api#required": {}
          }
        },
        "first_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the first item in the list.",
            "smithy.api#required": {}
          }
        },
        "last_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the last item in the list.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of Conversation items."
      }
    },
    "com.openai.conversations#ConversationItemListObject": {
      "type": "enum",
      "members": {
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of object returned, must be `list`."
      }
    },
    "com.openai.conversations#ConversationItem": {
      "type": "union",
      "members": {
        "Message": {
          "target": "com.openai.conversations#Message"
        },
        "FunctionToolCallResource": {
          "target": "com.openai.conversations#FunctionToolCallResource"
        },
        "FunctionToolCallOutputResource": {
          "target": "com.openai.conversations#FunctionToolCallOutputResource"
        },
        "FileSearchToolCall": {
          "target": "com.openai.conversations#FileSearchToolCall"
        },
        "WebSearchToolCall": {
          "target": "com.openai.conversations#WebSearchToolCall"
        },
        "ImageGenToolCall": {
          "target": "com.openai.conversations#ImageGenToolCall"
        },
        "ComputerToolCall": {
          "target": "com.openai.conversations#ComputerToolCall"
        },
        "ComputerToolCallOutputResource": {
          "target": "com.openai.conversations#ComputerToolCallOutputResource"
        },
        "ToolSearchCall": {
          "target": "com.openai.conversations#ToolSearchCall"
        },
        "ToolSearchOutput": {
          "target": "com.openai.conversations#ToolSearchOutput"
        },
        "AdditionalTools": {
          "target": "com.openai.conversations#AdditionalTools"
        },
        "ResponseConfigurationUpdate": {
          "target": "com.openai.conversations#ResponseConfigurationUpdate"
        },
        "ReasoningItem": {
          "target": "com.openai.conversations#ReasoningItem"
        },
        "Program": {
          "target": "com.openai.conversations#Program"
        },
        "ProgramOutput": {
          "target": "com.openai.conversations#ProgramOutput"
        },
        "CompactionBody": {
          "target": "com.openai.conversations#CompactionBody"
        },
        "CodeInterpreterToolCall": {
          "target": "com.openai.conversations#CodeInterpreterToolCall"
        },
        "LocalShellToolCall": {
          "target": "com.openai.conversations#LocalShellToolCall"
        },
        "LocalShellToolCallOutput": {
          "target": "com.openai.conversations#LocalShellToolCallOutput"
        },
        "FunctionShellCall": {
          "target": "com.openai.conversations#FunctionShellCall"
        },
        "FunctionShellCallOutput": {
          "target": "com.openai.conversations#FunctionShellCallOutput"
        },
        "ApplyPatchToolCall": {
          "target": "com.openai.conversations#ApplyPatchToolCall"
        },
        "ApplyPatchToolCallOutput": {
          "target": "com.openai.conversations#ApplyPatchToolCallOutput"
        },
        "MCPListTools": {
          "target": "com.openai.conversations#MCPListTools"
        },
        "MCPApprovalRequest": {
          "target": "com.openai.conversations#MCPApprovalRequest"
        },
        "MCPApprovalResponseResource": {
          "target": "com.openai.conversations#MCPApprovalResponseResource"
        },
        "MCPToolCall": {
          "target": "com.openai.conversations#MCPToolCall"
        },
        "CustomToolCall": {
          "target": "com.openai.conversations#CustomToolCall"
        },
        "CustomToolCallOutput": {
          "target": "com.openai.conversations#CustomToolCallOutput"
        }
      },
      "traits": {
        "smithy.api#documentation": "A single item within a conversation. The set of possible types are the same as the `output` type of a [Response object](https://developers.openai.com/api/reference/resources/responses#%28resource%29%20responses%20%3E%20%28model%29%20response%20%3E%20%28schema%29%20%3E%20%28property%29%20output)."
      }
    },
    "com.openai.conversations#Message": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#MessageType",
          "traits": {
            "smithy.api#documentation": "The type of the message. Always set to `message`.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the message.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.conversations#MessageStatus",
          "traits": {
            "smithy.api#documentation": "The status of item. One of `in_progress`, `completed`, or `incomplete`. Populated when items are returned via API.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.openai.conversations#MessageRole",
          "traits": {
            "smithy.api#documentation": "The role of the message. One of `unknown`, `user`, `assistant`, `system`, `critic`, `discriminator`, `developer`, or `tool`.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.openai.conversations#MessageContentList",
          "traits": {
            "smithy.api#documentation": "The content of the message",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "com.openai.conversations#MessagePhase2",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message to or from the model."
      }
    },
    "com.openai.conversations#MessageType": {
      "type": "enum",
      "members": {
        "MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the message. Always set to `message`."
      }
    },
    "com.openai.conversations#MessageStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#MessageRole": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ASSISTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assistant"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "CRITIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "critic"
          }
        },
        "DISCRIMINATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discriminator"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "developer"
          }
        },
        "TOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tool"
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#InputTextContent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#InputTextContentType",
          "traits": {
            "smithy.api#documentation": "The type of the input item. Always `input_text`.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text input to the model.",
            "smithy.api#required": {}
          }
        },
        "prompt_cache_breakpoint": {
          "target": "com.openai.conversations#PromptCacheBreakpointConfig"
        }
      },
      "traits": {
        "smithy.api#documentation": "A text input to the model."
      }
    },
    "com.openai.conversations#InputTextContentType": {
      "type": "enum",
      "members": {
        "INPUT_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the input item. Always `input_text`."
      }
    },
    "com.openai.conversations#PromptCacheBreakpointConfig": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.openai.conversations#PromptCacheBreakpointConfigMode",
          "traits": {
            "smithy.api#documentation": "The breakpoint mode. Always `explicit`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Marks the exact end of a reusable prompt prefix. The breakpoint inherits its TTL from the request's `prompt_cache_options.ttl`; the boundary is not rounded to a token block."
      }
    },
    "com.openai.conversations#PromptCacheBreakpointConfigMode": {
      "type": "enum",
      "members": {
        "EXPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "explicit"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The breakpoint mode. Always `explicit`."
      }
    },
    "com.openai.conversations#OutputTextContent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#OutputTextContentType",
          "traits": {
            "smithy.api#documentation": "The type of the output text. Always `output_text`.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text output from the model.",
            "smithy.api#required": {}
          }
        },
        "annotations": {
          "target": "com.openai.conversations#OutputTextContentAnnotationsList",
          "traits": {
            "smithy.api#documentation": "The annotations of the text output.",
            "smithy.api#required": {}
          }
        },
        "logprobs": {
          "target": "com.openai.conversations#OutputTextContentLogprobsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A text output from the model."
      }
    },
    "com.openai.conversations#OutputTextContentType": {
      "type": "enum",
      "members": {
        "OUTPUT_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "output_text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the output text. Always `output_text`."
      }
    },
    "com.openai.conversations#Annotation": {
      "type": "union",
      "members": {
        "FileCitationBody": {
          "target": "com.openai.conversations#FileCitationBody"
        },
        "UrlCitationBody": {
          "target": "com.openai.conversations#UrlCitationBody"
        },
        "ContainerFileCitationBody": {
          "target": "com.openai.conversations#ContainerFileCitationBody"
        },
        "FilePath": {
          "target": "com.openai.conversations#FilePath"
        }
      },
      "traits": {
        "smithy.api#documentation": "An annotation that applies to a span of output text."
      }
    },
    "com.openai.conversations#FileCitationBody": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#FileCitationBodyType",
          "traits": {
            "smithy.api#documentation": "The type of the file citation. Always `file_citation`.",
            "smithy.api#required": {}
          }
        },
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the file.",
            "smithy.api#required": {}
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index in the output text at which to insert the file citation.",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filename of the file cited.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A citation to a file."
      }
    },
    "com.openai.conversations#FileCitationBodyType": {
      "type": "enum",
      "members": {
        "FILE_CITATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file_citation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the file citation. Always `file_citation`."
      }
    },
    "com.openai.conversations#UrlCitationBody": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#UrlCitationBodyType",
          "traits": {
            "smithy.api#documentation": "The type of the URL citation. Always `url_citation`.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the web resource.",
            "smithy.api#required": {}
          }
        },
        "start_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the first character of the URL citation in the message.",
            "smithy.api#required": {}
          }
        },
        "end_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the last character of the URL citation in the message.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the web resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A citation for a web resource used to generate a model response."
      }
    },
    "com.openai.conversations#UrlCitationBodyType": {
      "type": "enum",
      "members": {
        "URL_CITATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url_citation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the URL citation. Always `url_citation`."
      }
    },
    "com.openai.conversations#ContainerFileCitationBody": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#ContainerFileCitationBodyType",
          "traits": {
            "smithy.api#documentation": "The type of the container file citation. Always `container_file_citation`.",
            "smithy.api#required": {}
          }
        },
        "container_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the container file.",
            "smithy.api#required": {}
          }
        },
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the file.",
            "smithy.api#required": {}
          }
        },
        "start_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the first character of the container file citation in the message.",
            "smithy.api#required": {}
          }
        },
        "end_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the last character of the container file citation in the message.",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filename of the container file cited.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A citation for a container file used to generate a model response."
      }
    },
    "com.openai.conversations#ContainerFileCitationBodyType": {
      "type": "enum",
      "members": {
        "CONTAINER_FILE_CITATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container_file_citation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the container file citation. Always `container_file_citation`."
      }
    },
    "com.openai.conversations#FilePath": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#FilePathType",
          "traits": {
            "smithy.api#documentation": "The type of the file path. Always `file_path`.\n",
            "smithy.api#required": {}
          }
        },
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the file.\n",
            "smithy.api#required": {}
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the file in the list of files.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A path to a file.\n"
      }
    },
    "com.openai.conversations#FilePathType": {
      "type": "enum",
      "members": {
        "FILE_PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file_path"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the file path. Always `file_path`.\n"
      }
    },
    "com.openai.conversations#OutputTextContentAnnotationsList": {
      "type": "list",
      "member": {
        "target": "com.openai.conversations#Annotation"
      },
      "traits": {
        "smithy.api#documentation": "The annotations of the text output."
      }
    },
    "com.openai.conversations#LogProb": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logprob": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bytes": {
          "target": "com.openai.conversations#LogProbBytesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "top_logprobs": {
          "target": "com.openai.conversations#LogProbTopLogprobsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The log probability of a token."
      }
    },
    "com.openai.conversations#LogProbBytesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.openai.conversations#TopLogProb": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logprob": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bytes": {
          "target": "com.openai.conversations#TopLogProbBytesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The top log probability of a token."
      }
    },
    "com.openai.conversations#TopLogProbBytesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.openai.conversations#LogProbTopLogprobsList": {
      "type": "list",
      "member": {
        "target": "com.openai.conversations#TopLogProb"
      },
      "traits": {}
    },
    "com.openai.conversations#OutputTextContentLogprobsList": {
      "type": "list",
      "member": {
        "target": "com.openai.conversations#LogProb"
      },
      "traits": {}
    },
    "com.openai.conversations#TextContent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#TextContentType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A text content."
      }
    },
    "com.openai.conversations#TextContentType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#SummaryTextContent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#SummaryTextContentType",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always `summary_text`.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A summary of the reasoning output from the model so far.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A summary text from the model."
      }
    },
    "com.openai.conversations#SummaryTextContentType": {
      "type": "enum",
      "members": {
        "SUMMARY_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "summary_text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always `summary_text`."
      }
    },
    "com.openai.conversations#ReasoningTextContent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#ReasoningTextContentType",
          "traits": {
            "smithy.api#documentation": "The type of the reasoning text. Always `reasoning_text`.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reasoning text from the model.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reasoning text from the model."
      }
    },
    "com.openai.conversations#ReasoningTextContentType": {
      "type": "enum",
      "members": {
        "REASONING_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reasoning_text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the reasoning text. Always `reasoning_text`."
      }
    },
    "com.openai.conversations#RefusalContent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#RefusalContentType",
          "traits": {
            "smithy.api#documentation": "The type of the refusal. Always `refusal`.",
            "smithy.api#required": {}
          }
        },
        "refusal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The refusal explanation from the model.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A refusal from the model."
      }
    },
    "com.openai.conversations#RefusalContentType": {
      "type": "enum",
      "members": {
        "REFUSAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refusal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the refusal. Always `refusal`."
      }
    },
    "com.openai.conversations#InputImageContent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#InputImageContentType",
          "traits": {
            "smithy.api#documentation": "The type of the input item. Always `input_image`.",
            "smithy.api#required": {}
          }
        },
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "detail": {
          "target": "com.openai.conversations#ImageDetail",
          "traits": {
            "smithy.api#documentation": "The detail level of the image to be sent to the model. One of `high`, `low`, `auto`, or `original`. Defaults to `auto`.",
            "smithy.api#required": {}
          }
        },
        "prompt_cache_breakpoint": {
          "target": "com.openai.conversations#PromptCacheBreakpointConfig"
        }
      },
      "traits": {
        "smithy.api#documentation": "An image input to the model. Learn about [image inputs](https://developers.openai.com/api/docs/guides/images-vision)."
      }
    },
    "com.openai.conversations#InputImageContentType": {
      "type": "enum",
      "members": {
        "INPUT_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_image"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the input item. Always `input_image`."
      }
    },
    "com.openai.conversations#ImageDetail": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "ORIGINAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "original"
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#ComputerScreenshotContent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#ComputerScreenshotContentType",
          "traits": {
            "smithy.api#documentation": "Specifies the event type. For a computer screenshot, this property is always set to `computer_screenshot`.",
            "smithy.api#required": {}
          }
        },
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "detail": {
          "target": "com.openai.conversations#ImageDetail",
          "traits": {
            "smithy.api#documentation": "The detail level of the screenshot image to be sent to the model. One of `high`, `low`, `auto`, or `original`. Defaults to `auto`.",
            "smithy.api#required": {}
          }
        },
        "prompt_cache_breakpoint": {
          "target": "com.openai.conversations#PromptCacheBreakpointConfig"
        }
      },
      "traits": {
        "smithy.api#documentation": "A screenshot of a computer."
      }
    },
    "com.openai.conversations#ComputerScreenshotContentType": {
      "type": "enum",
      "members": {
        "COMPUTER_SCREENSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "computer_screenshot"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the event type. For a computer screenshot, this property is always set to `computer_screenshot`."
      }
    },
    "com.openai.conversations#InputFileContent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#InputFileContentType",
          "traits": {
            "smithy.api#documentation": "The type of the input item. Always `input_file`.",
            "smithy.api#required": {}
          }
        },
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the file to be sent to the model."
          }
        },
        "file_data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the file to be sent to the model.\n"
          }
        },
        "prompt_cache_breakpoint": {
          "target": "com.openai.conversations#PromptCacheBreakpointConfig"
        },
        "file_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the file to be sent to the model."
          }
        },
        "detail": {
          "target": "com.openai.conversations#FileInputDetail",
          "traits": {
            "smithy.api#documentation": "The detail level of the file to be sent to the model. Use `auto` to let the system select the detail level; for GPT-5.6 and later models, `auto` uses high-quality rendering, which may increase input token usage. Use `low` for lower-cost rendering, or `high` to render the file at higher quality. Defaults to `auto`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A file input to the model."
      }
    },
    "com.openai.conversations#InputFileContentType": {
      "type": "enum",
      "members": {
        "INPUT_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_file"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the input item. Always `input_file`."
      }
    },
    "com.openai.conversations#FileInputDetail": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#MessageContentItem": {
      "type": "union",
      "members": {
        "InputTextContent": {
          "target": "com.openai.conversations#InputTextContent"
        },
        "OutputTextContent": {
          "target": "com.openai.conversations#OutputTextContent"
        },
        "TextContent": {
          "target": "com.openai.conversations#TextContent"
        },
        "SummaryTextContent": {
          "target": "com.openai.conversations#SummaryTextContent"
        },
        "ReasoningTextContent": {
          "target": "com.openai.conversations#ReasoningTextContent"
        },
        "RefusalContent": {
          "target": "com.openai.conversations#RefusalContent"
        },
        "InputImageContent": {
          "target": "com.openai.conversations#InputImageContent"
        },
        "ComputerScreenshotContent": {
          "target": "com.openai.conversations#ComputerScreenshotContent"
        },
        "InputFileContent": {
          "target": "com.openai.conversations#InputFileContent"
        }
      },
      "traits": {
        "smithy.api#documentation": "A content part that makes up an input or output item."
      }
    },
    "com.openai.conversations#MessageContentList": {
      "type": "list",
      "member": {
        "target": "com.openai.conversations#MessageContentItem"
      },
      "traits": {
        "smithy.api#documentation": "The content of the message"
      }
    },
    "com.openai.conversations#MessagePhase2": {
      "type": "enum",
      "members": {
        "COMMENTARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "commentary"
          }
        },
        "FINAL_ANSWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "final_answer"
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#FunctionToolCallResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the function tool call.\n",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.conversations#FunctionToolCallResourceType",
          "traits": {
            "smithy.api#documentation": "The type of the function tool call. Always `function_call`.\n",
            "smithy.api#required": {}
          }
        },
        "call_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the function tool call generated by the model.\n",
            "smithy.api#required": {}
          }
        },
        "caller": {
          "target": "com.openai.conversations#ToolCallCaller",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The namespace of the function to run.\n"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function to run.\n",
            "smithy.api#required": {}
          }
        },
        "arguments": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JSON string of the arguments to pass to the function.\n",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.conversations#FunctionToolCallResourceStatus",
          "traits": {
            "smithy.api#documentation": "The status of the item. One of `in_progress`, `completed`, or\n`incomplete`. Populated when items are returned via API.\n",
            "smithy.api#required": {}
          }
        },
        "async": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the function tool call runs asynchronously.\n"
          }
        },
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the actor that created the item.\n"
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#FunctionToolCallResourceType": {
      "type": "enum",
      "members": {
        "FUNCTION_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function_call"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the function tool call. Always `function_call`.\n"
      }
    },
    "com.openai.conversations#ToolCallCaller": {
      "type": "union",
      "members": {
        "DirectToolCallCaller": {
          "target": "com.openai.conversations#DirectToolCallCaller"
        },
        "ProgramToolCallCaller": {
          "target": "com.openai.conversations#ProgramToolCallCaller"
        }
      },
      "traits": {
        "smithy.api#documentation": "The execution context that produced this tool call."
      }
    },
    "com.openai.conversations#DirectToolCallCaller": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#DirectToolCallCallerType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#DirectToolCallCallerType": {
      "type": "enum",
      "members": {
        "DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "direct"
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#ProgramToolCallCaller": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#ProgramToolCallCallerType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "caller_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The call ID of the program item that produced this tool call.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#ProgramToolCallCallerType": {
      "type": "enum",
      "members": {
        "PROGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "program"
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#FunctionToolCallResourceStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the item. One of `in_progress`, `completed`, or\n`incomplete`. Populated when items are returned via API.\n"
      }
    },
    "com.openai.conversations#FunctionToolCallOutputResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the function tool call output. Populated when this item\nis returned via API.\n",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.conversations#FunctionToolCallOutputResourceType",
          "traits": {
            "smithy.api#documentation": "The type of the function tool call output. Always `function_call_output`.\n",
            "smithy.api#required": {}
          }
        },
        "call_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the function tool call generated by the model.\n"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the tool that produced the output.\n"
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The namespace of the tool that produced the output.\n"
          }
        },
        "caller": {
          "target": "com.openai.conversations#ToolCallCallerParam",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "output": {
          "target": "com.openai.conversations#FunctionToolCallOutputResourceOutput",
          "traits": {
            "smithy.api#documentation": "The output from the function call generated by your code.\nCan be a string or an list of output content.\n",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.conversations#FunctionToolCallOutputResourceStatus",
          "traits": {
            "smithy.api#documentation": "The status of the item. One of `in_progress`, `completed`, or\n`incomplete`. Populated when items are returned via API.\n",
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the actor that created the item.\n"
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#FunctionToolCallOutputResourceType": {
      "type": "enum",
      "members": {
        "FUNCTION_CALL_OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function_call_output"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the function tool call output. Always `function_call_output`.\n"
      }
    },
    "com.openai.conversations#ToolCallCallerParam": {
      "type": "union",
      "members": {
        "DirectToolCallCallerParam": {
          "target": "com.openai.conversations#DirectToolCallCallerParam"
        },
        "ProgramToolCallCallerParam": {
          "target": "com.openai.conversations#ProgramToolCallCallerParam"
        }
      },
      "traits": {
        "smithy.api#documentation": "The execution context that produced this tool call."
      }
    },
    "com.openai.conversations#DirectToolCallCallerParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#DirectToolCallCallerParamType",
          "traits": {
            "smithy.api#documentation": "The caller type. Always `direct`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#DirectToolCallCallerParamType": {
      "type": "enum",
      "members": {
        "DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "direct"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The caller type. Always `direct`."
      }
    },
    "com.openai.conversations#ProgramToolCallCallerParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#ProgramToolCallCallerParamType",
          "traits": {
            "smithy.api#documentation": "The caller type. Always `program`.",
            "smithy.api#required": {}
          }
        },
        "caller_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The call ID of the program item that produced this tool call.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#ProgramToolCallCallerParamType": {
      "type": "enum",
      "members": {
        "PROGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "program"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The caller type. Always `program`."
      }
    },
    "com.openai.conversations#FunctionAndCustomToolCallOutput": {
      "type": "union",
      "members": {
        "InputTextContent": {
          "target": "com.openai.conversations#InputTextContent"
        },
        "InputImageContent": {
          "target": "com.openai.conversations#InputImageContent"
        },
        "InputFileContent": {
          "target": "com.openai.conversations#InputFileContent"
        }
      },
      "traits": {}
    },
    "com.openai.conversations#FunctionToolCallOutputResourceOutputOutputContentListList": {
      "type": "list",
      "member": {
        "target": "com.openai.conversations#FunctionAndCustomToolCallOutput"
      },
      "traits": {
        "smithy.api#documentation": "Text, image, or file output of the function call.\n"
      }
    },
    "com.openai.conversations#FunctionToolCallOutputResourceOutput": {
      "type": "union",
      "members": {
        "StringOutput": {
          "target": "smithy.api#String"
        },
        "OutputContentList": {
          "target": "com.openai.conversations#FunctionToolCallOutputResourceOutputOutputContentListList"
        }
      },
      "traits": {
        "smithy.api#documentation": "The output from the function call generated by your code.\nCan be a string or an list of output content.\n"
      }
    },
    "com.openai.conversations#FunctionToolCallOutputResourceStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the item. One of `in_progress`, `completed`, or\n`incomplete`. Populated when items are returned via API.\n"
      }
    },
    "com.openai.conversations#FileSearchToolCall": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the file search tool call.\n",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.conversations#FileSearchToolCallType",
          "traits": {
            "smithy.api#documentation": "The type of the file search tool call. Always `file_search_call`.\n",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.conversations#FileSearchToolCallStatus",
          "traits": {
            "smithy.api#documentation": "The status of the file search tool call. One of `in_progress`,\n`searching`, `incomplete` or `failed`,\n",
            "smithy.api#required": {}
          }
        },
        "queries": {
          "target": "com.openai.conversations#FileSearchToolCallQueriesList",
          "traits": {
            "smithy.api#documentation": "The queries used to search for files.\n",
            "smithy.api#required": {}
          }
        },
        "results": {
          "target": "com.openai.conversations#FileSearchToolCallResultsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The results of a file search tool call. See the\n[file search guide](https://developers.openai.com/api/docs/guides/tools-file-search) for more information.\n"
      }
    },
    "com.openai.conversations#FileSearchToolCallType": {
      "type": "enum",
      "members": {
        "FILE_SEARCH_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file_search_call"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the file search tool call. Always `file_search_call`.\n"
      }
    },
    "com.openai.conversations#FileSearchToolCallStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "SEARCHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "searching"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the file search tool call. One of `in_progress`,\n`searching`, `incomplete` or `failed`,\n"
      }
    },
    "com.openai.conversations#FileSearchToolCallQueriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The queries used to search for files.\n"
      }
    },
    "com.openai.conversations#VectorStoreFileAttributesValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.openai.conversations#VectorStoreFileAttributesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.openai.conversations#VectorStoreFileAttributesValue"
      },
      "traits": {
        "smithy.api#documentation": "Set of 16 key-value pairs that can be attached to an object. This can be\nuseful for storing additional information about the object in a structured\nformat, and querying for objects via API or the dashboard. Keys are strings\nwith a maximum length of 64 characters. Values are strings with a maximum\nlength of 512 characters, booleans, or numbers.\n"
      }
    },
    "com.openai.conversations#FileSearchToolCallResultsItem": {
      "type": "structure",
      "members": {
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the file.\n"
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text that was retrieved from the file.\n"
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the file.\n"
          }
        },
        "attributes": {
          "target": "com.openai.conversations#VectorStoreFileAttributesMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The relevance score of the file - a value between 0 and 1.\n"
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#FileSearchToolCallResultsList": {
      "type": "list",
      "member": {
        "target": "com.openai.conversations#FileSearchToolCallResultsItem"
      },
      "traits": {
        "smithy.api#documentation": "The results of the file search tool call.\n"
      }
    },
    "com.openai.conversations#WebSearchToolCall": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the web search tool call.\n",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.conversations#WebSearchToolCallType",
          "traits": {
            "smithy.api#documentation": "The type of the web search tool call. Always `web_search_call`.\n",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.conversations#WebSearchCallStatus",
          "traits": {
            "smithy.api#documentation": "The status of the web search tool call.\n",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.openai.conversations#WebSearchToolCallAction",
          "traits": {
            "smithy.api#documentation": "An object describing the specific action taken in this web search call.\nIncludes details on how the model used the web (search, open_page, find_in_page).\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The results of a web search tool call. See the\n[web search guide](https://developers.openai.com/api/docs/guides/tools-web-search) for more information.\n"
      }
    },
    "com.openai.conversations#WebSearchToolCallType": {
      "type": "enum",
      "members": {
        "WEB_SEARCH_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "web_search_call"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the web search tool call. Always `web_search_call`.\n"
      }
    },
    "com.openai.conversations#WebSearchCallStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "SEARCHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "searching"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#WebSearchActionSearch": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#WebSearchActionSearchType",
          "traits": {
            "smithy.api#documentation": "The action type.\n",
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The search query.\n"
          }
        },
        "queries": {
          "target": "com.openai.conversations#WebSearchActionSearchQueriesList",
          "traits": {
            "smithy.api#documentation": "The search queries.\n"
          }
        },
        "sources": {
          "target": "com.openai.conversations#WebSearchActionSearchSourcesList",
          "traits": {
            "smithy.api#documentation": "The sources used in the search.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Action type \"search\" - Performs a web search query.\n"
      }
    },
    "com.openai.conversations#WebSearchActionSearchType": {
      "type": "enum",
      "members": {
        "SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "search"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The action type.\n"
      }
    },
    "com.openai.conversations#WebSearchActionSearchQueriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The search queries.\n"
      }
    },
    "com.openai.conversations#WebSearchActionSearchSourcesItemType": {
      "type": "enum",
      "members": {
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of source. Always `url`.\n"
      }
    },
    "com.openai.conversations#WebSearchActionSearchSourcesItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#WebSearchActionSearchSourcesItemType",
          "traits": {
            "smithy.api#documentation": "The type of source. Always `url`.\n",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the source.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A source used in the search.\n"
      }
    },
    "com.openai.conversations#WebSearchActionSearchSourcesList": {
      "type": "list",
      "member": {
        "target": "com.openai.conversations#WebSearchActionSearchSourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "The sources used in the search.\n"
      }
    },
    "com.openai.conversations#WebSearchActionOpenPage": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#WebSearchActionOpenPageType",
          "traits": {
            "smithy.api#documentation": "The action type.\n",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL opened by the model.\n",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Action type \"open_page\" - Opens a specific URL from search results.\n"
      }
    },
    "com.openai.conversations#WebSearchActionOpenPageType": {
      "type": "enum",
      "members": {
        "OPEN_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open_page"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The action type.\n"
      }
    },
    "com.openai.conversations#WebSearchActionFind": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#WebSearchActionFindType",
          "traits": {
            "smithy.api#documentation": "The action type.\n",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the page searched for the pattern.\n",
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pattern or text to search for within the page.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Action type \"find_in_page\": Searches for a pattern within a loaded page.\n"
      }
    },
    "com.openai.conversations#WebSearchActionFindType": {
      "type": "enum",
      "members": {
        "FIND_IN_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "find_in_page"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The action type.\n"
      }
    },
    "com.openai.conversations#WebSearchToolCallAction": {
      "type": "union",
      "members": {
        "WebSearchActionSearch": {
          "target": "com.openai.conversations#WebSearchActionSearch"
        },
        "WebSearchActionOpenPage": {
          "target": "com.openai.conversations#WebSearchActionOpenPage"
        },
        "WebSearchActionFind": {
          "target": "com.openai.conversations#WebSearchActionFind"
        }
      },
      "traits": {
        "smithy.api#documentation": "An object describing the specific action taken in this web search call.\nIncludes details on how the model used the web (search, open_page, find_in_page).\n"
      }
    },
    "com.openai.conversations#ImageGenToolCall": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#ImageGenToolCallType",
          "traits": {
            "smithy.api#documentation": "The type of the image generation call. Always `image_generation_call`.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the image generation call.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.conversations#ImageGenToolCallStatus",
          "traits": {
            "smithy.api#documentation": "The status of the image generation call.",
            "smithy.api#required": {}
          }
        },
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "size": {
          "target": "com.openai.conversations#ImageGenToolCallSize",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "quality": {
          "target": "com.openai.conversations#ImageGenToolCallQuality",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "action": {
          "target": "com.openai.conversations#ImageGenActionEnum",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "background": {
          "target": "com.openai.conversations#ImageBackground",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "output_format": {
          "target": "com.openai.conversations#ImageOutputFormat",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "revised_prompt": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An image generation request made by the model."
      }
    },
    "com.openai.conversations#ImageGenToolCallType": {
      "type": "enum",
      "members": {
        "IMAGE_GENERATION_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_generation_call"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the image generation call. Always `image_generation_call`."
      }
    },
    "com.openai.conversations#ImageGenToolCallStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "GENERATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "generating"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the image generation call."
      }
    },
    "com.openai.conversations#ImageGenToolCallSizeCase1": {
      "type": "enum",
      "members": {
        "_1024X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1024"
          }
        },
        "_1024X1536": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1536"
          }
        },
        "_1536X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1536x1024"
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#ImageGenToolCallSize": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.conversations#ImageGenToolCallSizeCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The image dimensions as a `WIDTHxHEIGHT` string, for example `1536x864`."
      }
    },
    "com.openai.conversations#ImageGenToolCallQuality": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The quality of the image generated by the image generation tool call. One of `low`, `medium`, `high`, `xhigh`, `max`, or `auto`."
      }
    },
    "com.openai.conversations#ImageGenActionEnum": {
      "type": "enum",
      "members": {
        "GENERATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "generate"
          }
        },
        "EDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edit"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#ImageBackground": {
      "type": "enum",
      "members": {
        "TRANSPARENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transparent"
          }
        },
        "OPAQUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opaque"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#ImageOutputFormat": {
      "type": "enum",
      "members": {
        "PNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "png"
          }
        },
        "WEBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webp"
          }
        },
        "JPEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpeg"
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#ComputerToolCall": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#ComputerToolCallType",
          "traits": {
            "smithy.api#documentation": "The type of the computer call. Always `computer_call`.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the computer call.",
            "smithy.api#required": {}
          }
        },
        "call_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier used when responding to the tool call with output.\n",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.openai.conversations#ComputerAction"
        },
        "actions": {
          "target": "com.openai.conversations#ComputerActionList"
        },
        "pending_safety_checks": {
          "target": "com.openai.conversations#ComputerToolCallPendingSafetyChecksList",
          "traits": {
            "smithy.api#documentation": "The pending safety checks for the computer call.\n",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.conversations#ComputerToolCallStatus",
          "traits": {
            "smithy.api#documentation": "The status of the item. One of `in_progress`, `completed`, or\n`incomplete`. Populated when items are returned via API.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tool call to a computer use tool. See the\n[computer use guide](https://developers.openai.com/api/docs/guides/tools-computer-use) for more information.\n"
      }
    },
    "com.openai.conversations#ComputerToolCallType": {
      "type": "enum",
      "members": {
        "COMPUTER_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "computer_call"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the computer call. Always `computer_call`."
      }
    },
    "com.openai.conversations#ComputerAction": {
      "type": "union",
      "members": {
        "ClickParam": {
          "target": "com.openai.conversations#ClickParam"
        },
        "DoubleClickAction": {
          "target": "com.openai.conversations#DoubleClickAction"
        },
        "DragParam": {
          "target": "com.openai.conversations#DragParam"
        },
        "KeyPressAction": {
          "target": "com.openai.conversations#KeyPressAction"
        },
        "MoveParam": {
          "target": "com.openai.conversations#MoveParam"
        },
        "ScreenshotParam": {
          "target": "com.openai.conversations#ScreenshotParam"
        },
        "ScrollParam": {
          "target": "com.openai.conversations#ScrollParam"
        },
        "TypeParam": {
          "target": "com.openai.conversations#TypeParam"
        },
        "WaitParam": {
          "target": "com.openai.conversations#WaitParam"
        }
      },
      "traits": {}
    },
    "com.openai.conversations#ClickParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#ClickParamType",
          "traits": {
            "smithy.api#documentation": "Specifies the event type. For a click action, this property is always `click`.",
            "smithy.api#required": {}
          }
        },
        "button": {
          "target": "com.openai.conversations#ClickButtonType",
          "traits": {
            "smithy.api#documentation": "Indicates which mouse button was pressed during the click. One of `left`, `right`, `wheel`, `back`, or `forward`.",
            "smithy.api#required": {}
          }
        },
        "x": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The x-coordinate where the click occurred.",
            "smithy.api#required": {}
          }
        },
        "y": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The y-coordinate where the click occurred.",
            "smithy.api#required": {}
          }
        },
        "keys": {
          "target": "com.openai.conversations#ClickParamKeysList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A click action."
      }
    },
    "com.openai.conversations#ClickParamType": {
      "type": "enum",
      "members": {
        "CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "click"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the event type. For a click action, this property is always `click`."
      }
    },
    "com.openai.conversations#ClickButtonType": {
      "type": "enum",
      "members": {
        "LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "left"
          }
        },
        "RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "right"
          }
        },
        "WHEEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wheel"
          }
        },
        "BACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "back"
          }
        },
        "FORWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forward"
          }
        }
      },
      "traits": {}
    },
    "com.openai.conversations#ClickParamKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The keys being held while clicking."
      }
    },
    "com.openai.conversations#DoubleClickAction": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#DoubleClickActionType",
          "traits": {
            "smithy.api#documentation": "Specifies the event type. For a double click action, this property is always set to `double_click`.",
            "smithy.api#required": {}
          }
        },
        "x": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The x-coordinate where the double click occurred.",
            "smithy.api#required": {}
          }
        },
        "y": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The y-coordinate where the double click occurred.",
            "smithy.api#required": {}
          }
        },
        "keys": {
          "target": "com.openai.conversations#DoubleClickActionKeysList",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A double click action."
      }
    },
    "com.openai.conversations#DoubleClickActionType": {
      "type": "enum",
      "members": {
        "DOUBLE_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "double_click"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the event type. For a double click action, this property is always set to `double_click`."
      }
    },
    "com.openai.conversations#DoubleClickActionKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The keys being held while double-clicking."
      }
    },
    "com.openai.conversations#DragParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#DragParamType",
          "traits": {
            "smithy.api#documentation": "Specifies the event type. For a drag action, this property is always set to `drag`.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "com.openai.conversations#DragParamPathList",
          "traits": {
            "smithy.api#documentation": "An array of coordinates representing the path of the drag action. Coordinates will appear as an array of objects, eg\n```\n[\n  { x: 100, y: 200 },\n  { x: 200, y: 300 }\n]\n```",
            "smithy.api#required": {}
          }
        },
        "keys": {
          "target": "com.openai.conversations#DragParamKeysList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A drag action."
      }
    },
    "com.openai.conversations#DragParamType": {
      "type": "enum",
      "members": {
        "DRAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drag"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the event type. For a drag action, this property is always set to `drag`."
      }
    },
    "com.openai.conversations#CoordParam": {
      "type": "structure",
      "members": {
        "x": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The x-coordinate.",
            "smithy.api#required": {}
          }
        },
        "y": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The y-coordinate.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An x/y coordinate pair, e.g. `{ x: 100, y: 200 }`."
      }
    },
    "com.openai.conversations#DragParamPathList": {
      "type": "list",
      "member": {
        "target": "com.openai.conversations#CoordParam"
      },
      "traits": {
        "smithy.api#documentation": "An array of coordinates representing the path of the drag action. Coordinates will appear as an array of objects, eg\n```\n[\n  { x: 100, y: 200 },\n  { x: 200, y: 300 }\n]\n```"
      }
    },
    "com.openai.conversations#DragParamKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The keys being held while dragging the mouse."
      }
    },
    "com.openai.conversations#KeyPressAction": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#KeyPressActionType",
          "traits": {
            "smithy.api#documentation": "Specifies the event type. For a keypress action, this property is always set to `keypress`.",
            "smithy.api#required": {}
          }
        },
        "keys": {
          "target": "com.openai.conversations#KeyPressActionKeysList",
          "traits": {
            "smithy.api#documentation": "The combination of keys the model is requesting to be pressed. This is an array of strings, each representing a key.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of keypresses the model would like to perform."
      }
    },
    "com.openai.conversations#KeyPressActionType": {
      "type": "enum",
      "members": {
        "KEYPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keypress"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the event type. For a keypress action, this property is always set to `keypress`."
      }
    },
    "com.openai.conversations#KeyPressActionKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The combination of keys the model is requesting to be pressed. This is an array of strings, each representing a key."
      }
    },
    "com.openai.conversations#MoveParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#MoveParamType",
          "traits": {
            "smithy.api#documentation": "Specifies the event type. For a move action, this property is always set to `move`.",
            "smithy.api#required": {}
          }
        },
        "x": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The x-coordinate to move to.",
            "smithy.api#required": {}
          }
        },
        "y": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The y-coordinate to move to.",
            "smithy.api#required": {}
          }
        },
        "keys": {
          "target": "com.openai.conversations#MoveParamKeysList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mouse move action."
      }
    },
    "com.openai.conversations#MoveParamType": {
      "type": "enum",
      "members": {
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "move"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the event type. For a move action, this property is always set to `move`."
      }
    },
    "com.openai.conversations#MoveParamKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The keys being held while moving the mouse."
      }
    },
    "com.openai.conversations#ScreenshotParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#ScreenshotParamType",
          "traits": {
            "smithy.api#documentation": "Specifies the event type. For a screenshot action, this property is always set to `screenshot`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A screenshot action."
      }
    },
    "com.openai.conversations#ScreenshotParamType": {
      "type": "enum",
      "members": {
        "SCREENSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "screenshot"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the event type. For a screenshot action, this property is always set to `screenshot`."
      }
    },
    "com.openai.conversations#ScrollParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#ScrollParamType",
          "traits": {
            "smithy.api#documentation": "Specifies the event type. For a scroll action, this property is always set to `scroll`.",
            "smithy.api#required": {}
          }
        },
        "x": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The x-coordinate where the scroll occurred.",
            "smithy.api#required": {}
          }
        },
        "y": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The y-coordinate where the scroll occurred.",
            "smithy.api#required": {}
          }
        },
        "scroll_x": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The horizontal scroll distance.",
            "smithy.api#required": {}
          }
        },
        "scroll_y": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The vertical scroll distance.",
            "smithy.api#required": {}
          }
        },
        "keys": {
          "target": "com.openai.conversations#ScrollParamKeysList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A scroll action."
      }
    },
    "com.openai.conversations#ScrollParamType": {
      "type": "enum",
      "members": {
        "SCROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scroll"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the event type. For a scroll action, this property is always set to `scroll`."
      }
    },
    "com.openai.conversations#ScrollParamKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The keys being held while scrolling."
      }
    },
    "com.openai.conversations#TypeParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#TypeParamType",
          "traits": {
            "smithy.api#documentation": "Specifies the event type. For a type action, this property is always set to `type`.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text to type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An action to type in text."
      }
    },
    "com.openai.conversations#TypeParamType": {
      "type": "enum",
      "members": {
        "TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the event type. For a type action, this property is always set to `type`."
      }
    },
    "com.openai.conversations#WaitParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#WaitParamType",
          "traits": {
            "smithy.api#documentation": "Specifies the event type. For a wait action, this property is always set to `wait`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A wait action."
      }
    },
    "com.openai.conversations#WaitParamType": {
      "type": "enum",
      "members": {
        "WAIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wait"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the event type. For a wait action, this property is always set to `wait`."
      }
    },
    "com.openai.conversations#ComputerActionList": {
      "type": "list",
      "member": {
        "target": "com.openai.conversations#ComputerAction"
      },
      "traits": {
        "smithy.api#documentation": "Flattened batched actions for `computer_use`. Each action includes an\n`type` discriminator and action-specific fields.\n"
      }
    },
    "com.openai.conversations#ComputerCallSafetyCheckParam": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the pending safety check.",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A pending safety check for the computer call."
      }
    },
    "com.openai.conversations#ComputerToolCallPendingSafetyChecksList": {
      "type": "list",
      "member": {
        "target": "com.openai.conversations#ComputerCallSafetyCheckParam"
      },
      "traits": {
        "smithy.api#documentation": "The pending safety checks for the computer call.\n"
      }
    },
    "com.openai.conversations#ComputerToolCallStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the item. One of `in_progress`, `completed`, or\n`incomplete`. Populated when items are returned via API.\n"
      }
    },
    "com.openai.conversations#ComputerToolCallOutputResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.conversations#ComputerToolCallOutputResourceType",
          "traits": {
            "smithy.api#documentation": "The type of the computer tool call output. Always `computer_call_output`.\n",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the computer tool call output.\n",
            "smithy.api#required": {}
          }
        },
        "call_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the computer tool call that produced the output.\n",
            "smithy.api#required": {}
          }
        },
        "acknowledged_safety_checks": {
          "target": "com.openai.conversations#ComputerToolCallOutputResourceAcknowledgedSafetyChecksList",
          "traits": {
[...]
