{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openai.evals#ListEvalsRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.openai.evals#ListEvalsRequestOrderBy": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        }
      },
      "traits": {}
    },
    "com.openai.evals#ListEvalsRequest": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Identifier for the last eval from the previous pagination request."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of evals to retrieve."
          }
        },
        "order": {
          "target": "com.openai.evals#ListEvalsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Sort order for evals by timestamp. Use `asc` for ascending order or `desc` for descending order."
          }
        },
        "order_by": {
          "target": "com.openai.evals#ListEvalsRequestOrderBy",
          "traits": {
            "smithy.api#httpQuery": "order_by",
            "smithy.api#documentation": "Evals can be ordered by creation time or last updated time. Use\n`created_at` for creation time or `updated_at` for last updated time.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.evals#EvalList": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.evals#EvalListObject",
          "traits": {
            "smithy.api#documentation": "The type of this object. It is always set to \"list\".\n",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.evals#EvalListDataList",
          "traits": {
            "smithy.api#documentation": "An array of eval objects.\n",
            "smithy.api#required": {}
          }
        },
        "first_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the first eval in the data array.",
            "smithy.api#required": {}
          }
        },
        "last_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the last eval in the data array.",
            "smithy.api#required": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether there are more evals available.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object representing a list of evals.\n"
      }
    },
    "com.openai.evals#EvalListObject": {
      "type": "enum",
      "members": {
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of this object. It is always set to \"list\".\n"
      }
    },
    "com.openai.evals#Eval": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.evals#EvalObject",
          "traits": {
            "smithy.api#documentation": "The object type.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the evaluation.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the evaluation.",
            "smithy.api#required": {}
          }
        },
        "data_source_config": {
          "target": "com.openai.evals#EvalDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "Configuration of data sources used in runs of the evaluation.",
            "smithy.api#required": {}
          }
        },
        "testing_criteria": {
          "target": "com.openai.evals#EvalTestingCriteriaList",
          "traits": {
            "smithy.api#documentation": "A list of testing criteria.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) for when the eval was created.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.openai.evals#MetadataMap",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Eval object with a data source config and testing criteria.\nAn Eval represents a task to be done for your LLM integration.\nLike:\n - Improve the quality of my chatbot\n - See how well my chatbot handles customer support\n - Check if o4-mini is better at my usecase than gpt-6-astra\n"
      }
    },
    "com.openai.evals#EvalObject": {
      "type": "enum",
      "members": {
        "EVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eval"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type."
      }
    },
    "com.openai.evals#EvalCustomDataSourceConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#EvalCustomDataSourceConfigType",
          "traits": {
            "smithy.api#documentation": "The type of data source. Always `custom`.",
            "smithy.api#required": {}
          }
        },
        "schema": {
          "target": "com.openai.evals#EvalCustomDataSourceConfigSchemaMap",
          "traits": {
            "smithy.api#documentation": "The json schema for the run data source items.\nLearn how to build JSON schemas [here](https://json-schema.org/).\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CustomDataSourceConfig which specifies the schema of your `item` and optionally `sample` namespaces.\nThe response schema defines the shape of the data that will be:\n- Used to define your testing criteria and\n- What data is required when creating a run\n"
      }
    },
    "com.openai.evals#EvalCustomDataSourceConfigType": {
      "type": "enum",
      "members": {
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of data source. Always `custom`."
      }
    },
    "com.openai.evals#EvalCustomDataSourceConfigSchemaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The json schema for the run data source items.\nLearn how to build JSON schemas [here](https://json-schema.org/).\n"
      }
    },
    "com.openai.evals#EvalLogsDataSourceConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#EvalLogsDataSourceConfigType",
          "traits": {
            "smithy.api#documentation": "The type of data source. Always `logs`.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.openai.evals#MetadataMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "schema": {
          "target": "com.openai.evals#EvalLogsDataSourceConfigSchemaMap",
          "traits": {
            "smithy.api#documentation": "The json schema for the run data source items.\nLearn how to build JSON schemas [here](https://json-schema.org/).\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A LogsDataSourceConfig which specifies the metadata property of your logs query.\nThis is usually metadata like `usecase=chatbot` or `prompt-version=v2`, etc.\nThe schema returned by this data source config is used to defined what variables are available in your evals.\n`item` and `sample` are both defined when using this data source config.\n"
      }
    },
    "com.openai.evals#EvalLogsDataSourceConfigType": {
      "type": "enum",
      "members": {
        "LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "logs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of data source. Always `logs`."
      }
    },
    "com.openai.evals#MetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Set of 16 key-value pairs that can be attached to an object. This can be\nuseful for storing additional information about the object in a structured\nformat, and querying for objects via API or the dashboard.\n\nKeys are strings with a maximum length of 64 characters. Values are strings\nwith a maximum length of 512 characters.\n"
      }
    },
    "com.openai.evals#EvalLogsDataSourceConfigSchemaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The json schema for the run data source items.\nLearn how to build JSON schemas [here](https://json-schema.org/).\n"
      }
    },
    "com.openai.evals#EvalStoredCompletionsDataSourceConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#EvalStoredCompletionsDataSourceConfigType",
          "traits": {
            "smithy.api#documentation": "The type of data source. Always `stored_completions`.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.openai.evals#MetadataMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "schema": {
          "target": "com.openai.evals#EvalStoredCompletionsDataSourceConfigSchemaMap",
          "traits": {
            "smithy.api#documentation": "The json schema for the run data source items.\nLearn how to build JSON schemas [here](https://json-schema.org/).\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated in favor of LogsDataSourceConfig.\n"
      }
    },
    "com.openai.evals#EvalStoredCompletionsDataSourceConfigType": {
      "type": "enum",
      "members": {
        "STORED_COMPLETIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stored_completions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of data source. Always `stored_completions`."
      }
    },
    "com.openai.evals#EvalStoredCompletionsDataSourceConfigSchemaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The json schema for the run data source items.\nLearn how to build JSON schemas [here](https://json-schema.org/).\n"
      }
    },
    "com.openai.evals#EvalDataSourceConfig": {
      "type": "union",
      "members": {
        "EvalCustomDataSourceConfig": {
          "target": "com.openai.evals#EvalCustomDataSourceConfig"
        },
        "EvalLogsDataSourceConfig": {
          "target": "com.openai.evals#EvalLogsDataSourceConfig"
        },
        "EvalStoredCompletionsDataSourceConfig": {
          "target": "com.openai.evals#EvalStoredCompletionsDataSourceConfig"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of data sources used in runs of the evaluation."
      }
    },
    "com.openai.evals#GraderLabelModel": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#GraderLabelModelType",
          "traits": {
            "smithy.api#documentation": "The object type, which is always `label_model`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the grader.",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The model to use for the evaluation. Must support structured outputs.",
            "smithy.api#required": {}
          }
        },
        "input": {
          "target": "com.openai.evals#GraderLabelModelInputList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.openai.evals#GraderLabelModelLabelsList",
          "traits": {
            "smithy.api#documentation": "The labels to assign to each item in the evaluation.",
            "smithy.api#required": {}
          }
        },
        "passing_labels": {
          "target": "com.openai.evals#GraderLabelModelPassingLabelsList",
          "traits": {
            "smithy.api#documentation": "The labels that indicate a passing result. Must be a subset of labels.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A LabelModelGrader object which uses a model to assign labels to each item\nin the evaluation.\n"
      }
    },
    "com.openai.evals#GraderLabelModelType": {
      "type": "enum",
      "members": {
        "LABEL_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "label_model"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type, which is always `label_model`."
      }
    },
    "com.openai.evals#EvalItem": {
      "type": "structure",
      "members": {
        "role": {
          "target": "com.openai.evals#EvalItemRole",
          "traits": {
            "smithy.api#documentation": "The role of the message input. One of `user`, `assistant`, `system`, or\n`developer`.\n",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.openai.evals#EvalItemContent",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.evals#EvalItemType",
          "traits": {
            "smithy.api#documentation": "The type of the message input. Always `message`.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message input to the model with a role indicating instruction following\nhierarchy. Instructions given with the `developer` or `system` role take\nprecedence over instructions given with the `user` role. Messages with the\n`assistant` role are presumed to have been generated by the model in previous\ninteractions.\n"
      }
    },
    "com.openai.evals#EvalItemRole": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ASSISTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assistant"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "developer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The role of the message input. One of `user`, `assistant`, `system`, or\n`developer`.\n"
      }
    },
    "com.openai.evals#EvalItemContent": {
      "type": "union",
      "members": {
        "EvalItemContentItem": {
          "target": "com.openai.evals#EvalItemContentItem"
        },
        "EvalItemContentArray": {
          "target": "com.openai.evals#EvalItemContentArray"
        }
      },
      "traits": {
        "smithy.api#documentation": "Inputs to the model - can contain template strings. Supports text, output text, input images, and input audio, either as a single item or an array of items.\n"
      }
    },
    "com.openai.evals#EvalItemContentItem": {
      "type": "union",
      "members": {
        "EvalItemContentText": {
          "target": "smithy.api#String"
        },
        "InputTextContent": {
          "target": "com.openai.evals#InputTextContent"
        },
        "EvalItemContentOutputText": {
          "target": "com.openai.evals#EvalItemContentOutputText"
        },
        "EvalItemInputImage": {
          "target": "com.openai.evals#EvalItemInputImage"
        },
        "InputAudio": {
          "target": "com.openai.evals#InputAudio"
        }
      },
      "traits": {
        "smithy.api#documentation": "A single content item: input text, output text, input image, or input audio.\n"
      }
    },
    "com.openai.evals#InputTextContent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#InputTextContentType",
          "traits": {
            "smithy.api#documentation": "The type of the input item. Always `input_text`.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text input to the model.",
            "smithy.api#required": {}
          }
        },
        "prompt_cache_breakpoint": {
          "target": "com.openai.evals#PromptCacheBreakpointConfig"
        }
      },
      "traits": {
        "smithy.api#documentation": "A text input to the model."
      }
    },
    "com.openai.evals#InputTextContentType": {
      "type": "enum",
      "members": {
        "INPUT_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the input item. Always `input_text`."
      }
    },
    "com.openai.evals#PromptCacheBreakpointConfig": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.openai.evals#PromptCacheBreakpointConfigMode",
          "traits": {
            "smithy.api#documentation": "The breakpoint mode. Always `explicit`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Marks the exact end of a reusable prompt prefix. The breakpoint inherits its TTL from the request's `prompt_cache_options.ttl`; the boundary is not rounded to a token block."
      }
    },
    "com.openai.evals#PromptCacheBreakpointConfigMode": {
      "type": "enum",
      "members": {
        "EXPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "explicit"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The breakpoint mode. Always `explicit`."
      }
    },
    "com.openai.evals#EvalItemContentOutputText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#EvalItemContentOutputTextType",
          "traits": {
            "smithy.api#documentation": "The type of the output text. Always `output_text`.\n",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text output from the model.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A text output from the model.\n"
      }
    },
    "com.openai.evals#EvalItemContentOutputTextType": {
      "type": "enum",
      "members": {
        "OUTPUT_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "output_text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the output text. Always `output_text`.\n"
      }
    },
    "com.openai.evals#EvalItemInputImage": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#EvalItemInputImageType",
          "traits": {
            "smithy.api#documentation": "The type of the image input. Always `input_image`.\n",
            "smithy.api#required": {}
          }
        },
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the image input.\n",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The detail level of the image to be sent to the model. One of `high`, `low`, or `auto`. Defaults to `auto`.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An image input block used within EvalItem content arrays."
      }
    },
    "com.openai.evals#EvalItemInputImageType": {
      "type": "enum",
      "members": {
        "INPUT_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_image"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the image input. Always `input_image`.\n"
      }
    },
    "com.openai.evals#InputAudio": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#InputAudioType",
          "traits": {
            "smithy.api#documentation": "The type of the input item. Always `input_audio`.\n",
            "smithy.api#required": {}
          }
        },
        "input_audio": {
          "target": "com.openai.evals#InputAudioInputAudio",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An audio input to the model.\n"
      }
    },
    "com.openai.evals#InputAudioType": {
      "type": "enum",
      "members": {
        "INPUT_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_audio"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the input item. Always `input_audio`.\n"
      }
    },
    "com.openai.evals#InputAudioInputAudioFormat": {
      "type": "enum",
      "members": {
        "MP3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mp3"
          }
        },
        "WAV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wav"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The format of the audio data. Currently supported formats are `mp3` and\n`wav`.\n"
      }
    },
    "com.openai.evals#InputAudioInputAudio": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded audio data.\n",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.openai.evals#InputAudioInputAudioFormat",
          "traits": {
            "smithy.api#documentation": "The format of the audio data. Currently supported formats are `mp3` and\n`wav`.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.evals#EvalItemContentArray": {
      "type": "list",
      "member": {
        "target": "com.openai.evals#EvalItemContentItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of inputs, each of which may be either an input text, output text, input\nimage, or input audio object.\n"
      }
    },
    "com.openai.evals#EvalItemType": {
      "type": "enum",
      "members": {
        "MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the message input. Always `message`.\n"
      }
    },
    "com.openai.evals#GraderLabelModelInputList": {
      "type": "list",
      "member": {
        "target": "com.openai.evals#EvalItem"
      },
      "traits": {}
    },
    "com.openai.evals#GraderLabelModelLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The labels to assign to each item in the evaluation."
      }
    },
    "com.openai.evals#GraderLabelModelPassingLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The labels that indicate a passing result. Must be a subset of labels."
      }
    },
    "com.openai.evals#GraderStringCheck": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#GraderStringCheckType",
          "traits": {
            "smithy.api#documentation": "The object type, which is always `string_check`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the grader.",
            "smithy.api#required": {}
          }
        },
        "input": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The input text. This may include template strings.",
            "smithy.api#required": {}
          }
        },
        "reference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reference text. This may include template strings.",
            "smithy.api#required": {}
          }
        },
        "operation": {
          "target": "com.openai.evals#GraderStringCheckOperation",
          "traits": {
            "smithy.api#documentation": "The string check operation to perform. One of `eq`, `ne`, `like`, or `ilike`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A StringCheckGrader object that performs a string comparison between input and reference using a specified operation.\n"
      }
    },
    "com.openai.evals#GraderStringCheckType": {
      "type": "enum",
      "members": {
        "STRING_CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string_check"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type, which is always `string_check`."
      }
    },
    "com.openai.evals#GraderStringCheckOperation": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "NE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ne"
          }
        },
        "LIKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "like"
          }
        },
        "ILIKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ilike"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The string check operation to perform. One of `eq`, `ne`, `like`, or `ilike`."
      }
    },
    "com.openai.evals#EvalGraderTextSimilarity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#EvalGraderTextSimilarityType",
          "traits": {
            "smithy.api#documentation": "The type of grader.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the grader.",
            "smithy.api#required": {}
          }
        },
        "input": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text being graded.",
            "smithy.api#required": {}
          }
        },
        "reference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text being graded against.",
            "smithy.api#required": {}
          }
        },
        "evaluation_metric": {
          "target": "com.openai.evals#EvalGraderTextSimilarityEvaluationMetric",
          "traits": {
            "smithy.api#documentation": "The evaluation metric to use. One of `cosine`, `fuzzy_match`, `bleu`, \n`gleu`, `meteor`, `rouge_1`, `rouge_2`, `rouge_3`, `rouge_4`, `rouge_5`, \nor `rouge_l`.\n",
            "smithy.api#required": {}
          }
        },
        "pass_threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The threshold for the score.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.evals#EvalGraderTextSimilarityType": {
      "type": "enum",
      "members": {
        "TEXT_SIMILARITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text_similarity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of grader."
      }
    },
    "com.openai.evals#EvalGraderTextSimilarityEvaluationMetric": {
      "type": "enum",
      "members": {
        "COSINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cosine"
          }
        },
        "FUZZY_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fuzzy_match"
          }
        },
        "BLEU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bleu"
          }
        },
        "GLEU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gleu"
          }
        },
        "METEOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "meteor"
          }
        },
        "ROUGE_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rouge_1"
          }
        },
        "ROUGE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rouge_2"
          }
        },
        "ROUGE_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rouge_3"
          }
        },
        "ROUGE_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rouge_4"
          }
        },
        "ROUGE_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rouge_5"
          }
        },
        "ROUGE_L": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rouge_l"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The evaluation metric to use. One of `cosine`, `fuzzy_match`, `bleu`, \n`gleu`, `meteor`, `rouge_1`, `rouge_2`, `rouge_3`, `rouge_4`, `rouge_5`, \nor `rouge_l`.\n"
      }
    },
    "com.openai.evals#EvalGraderPython": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#EvalGraderPythonType",
          "traits": {
            "smithy.api#documentation": "The object type, which is always `python`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the grader.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source code of the python script.",
            "smithy.api#required": {}
          }
        },
        "image_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The image tag to use for the python script."
          }
        },
        "pass_threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The threshold for the score."
          }
        }
      },
      "traits": {}
    },
    "com.openai.evals#EvalGraderPythonType": {
      "type": "enum",
      "members": {
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "python"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type, which is always `python`."
      }
    },
    "com.openai.evals#EvalGraderScoreModel": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#EvalGraderScoreModelType",
          "traits": {
            "smithy.api#documentation": "The object type, which is always `score_model`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the grader.",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The model to use for the evaluation.",
            "smithy.api#required": {}
          }
        },
        "sampling_params": {
          "target": "com.openai.evals#EvalGraderScoreModelSamplingParams",
          "traits": {
            "smithy.api#documentation": "The sampling parameters for the model."
          }
        },
        "input": {
          "target": "com.openai.evals#EvalGraderScoreModelInputList",
          "traits": {
            "smithy.api#documentation": "The input messages evaluated by the grader. Supports text, output text, input image, and input audio content blocks, and may include template strings.\n",
            "smithy.api#required": {}
          }
        },
        "range": {
          "target": "com.openai.evals#EvalGraderScoreModelRangeList",
          "traits": {
            "smithy.api#documentation": "The service requires two numbers for the score range. Defaults to `[0, 1]`.\n"
          }
        },
        "pass_threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The threshold for the score."
          }
        }
      },
      "traits": {}
    },
    "com.openai.evals#EvalGraderScoreModelType": {
      "type": "enum",
      "members": {
        "SCORE_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "score_model"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type, which is always `score_model`."
      }
    },
    "com.openai.evals#ReasoningEffort": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minimal"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Constrains effort on reasoning for reasoning models. Currently supported\nvalues are `none`, `minimal`, `low`, `medium`, `high`, `xhigh`, and `max`.\nReducing reasoning effort can result in faster responses and fewer tokens\nused on reasoning in a response. Not all reasoning models support every\nvalue. See the\n[reasoning guide](https://developers.openai.com/api/docs/guides/reasoning)\nfor model-specific support.\n"
      }
    },
    "com.openai.evals#EvalGraderScoreModelSamplingParams": {
      "type": "structure",
      "members": {
        "seed": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "top_p": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "temperature": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "max_completions_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "reasoning_effort": {
          "target": "com.openai.evals#ReasoningEffort",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The sampling parameters for the model."
      }
    },
    "com.openai.evals#EvalGraderScoreModelInputList": {
      "type": "list",
      "member": {
        "target": "com.openai.evals#EvalItem"
      },
      "traits": {
        "smithy.api#documentation": "The input messages evaluated by the grader. Supports text, output text, input image, and input audio content blocks, and may include template strings.\n"
      }
    },
    "com.openai.evals#EvalGraderScoreModelRangeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "The service requires two numbers for the score range. Defaults to `[0, 1]`.\n"
      }
    },
    "com.openai.evals#EvalTestingCriteriaItem": {
      "type": "union",
      "members": {
        "EvalGraderLabelModel": {
          "target": "com.openai.evals#GraderLabelModel"
        },
        "EvalGraderStringCheck": {
          "target": "com.openai.evals#GraderStringCheck"
        },
        "EvalGraderTextSimilarity": {
          "target": "com.openai.evals#EvalGraderTextSimilarity"
        },
        "EvalGraderPython": {
          "target": "com.openai.evals#EvalGraderPython"
        },
        "EvalGraderScoreModel": {
          "target": "com.openai.evals#EvalGraderScoreModel"
        }
      },
      "traits": {}
    },
    "com.openai.evals#EvalTestingCriteriaList": {
      "type": "list",
      "member": {
        "target": "com.openai.evals#EvalTestingCriteriaItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of testing criteria."
      }
    },
    "com.openai.evals#EvalListDataList": {
      "type": "list",
      "member": {
        "target": "com.openai.evals#Eval"
      },
      "traits": {
        "smithy.api#documentation": "An array of eval objects.\n"
      }
    },
    "com.openai.evals#ListEvals": {
      "type": "operation",
      "input": {
        "target": "com.openai.evals#ListEvalsRequest"
      },
      "output": {
        "target": "com.openai.evals#EvalList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/evals",
          "code": 200
        },
        "smithy.api#documentation": "List evals\n\nList evaluations for a project.",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "after",
          "outputToken": "last_id",
          "items": "data",
          "pageSize": "limit"
        }
      }
    },
    "com.openai.evals#CreateEvalCustomDataSourceConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#CreateEvalCustomDataSourceConfigType",
          "traits": {
            "smithy.api#documentation": "The type of data source. Always `custom`.",
            "smithy.api#required": {}
          }
        },
        "item_schema": {
          "target": "com.openai.evals#CreateEvalCustomDataSourceConfigItemSchemaMap",
          "traits": {
            "smithy.api#documentation": "The json schema for each row in the data source.",
            "smithy.api#required": {}
          }
        },
        "include_sample_schema": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the eval should expect you to populate the sample namespace (ie, by generating responses off of your data source)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CustomDataSourceConfig object that defines the schema for the data source used for the evaluation runs.\nThis schema is used to define the shape of the data that will be:\n- Used to define your testing criteria and\n- What data is required when creating a run\n"
      }
    },
    "com.openai.evals#CreateEvalCustomDataSourceConfigType": {
      "type": "enum",
      "members": {
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of data source. Always `custom`."
      }
    },
    "com.openai.evals#CreateEvalCustomDataSourceConfigItemSchemaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The json schema for each row in the data source."
      }
    },
    "com.openai.evals#CreateEvalLogsDataSourceConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#CreateEvalLogsDataSourceConfigType",
          "traits": {
            "smithy.api#documentation": "The type of data source. Always `logs`.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.openai.evals#CreateEvalLogsDataSourceConfigMetadataMap",
          "traits": {
            "smithy.api#documentation": "Metadata filters for the logs data source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A data source config which specifies the metadata property of your logs query.\nThis is usually metadata like `usecase=chatbot` or `prompt-version=v2`, etc.\n"
      }
    },
    "com.openai.evals#CreateEvalLogsDataSourceConfigType": {
      "type": "enum",
      "members": {
        "LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "logs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of data source. Always `logs`."
      }
    },
    "com.openai.evals#CreateEvalLogsDataSourceConfigMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Metadata filters for the logs data source."
      }
    },
    "com.openai.evals#CreateEvalStoredCompletionsDataSourceConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#CreateEvalStoredCompletionsDataSourceConfigType",
          "traits": {
            "smithy.api#documentation": "The type of data source. Always `stored_completions`.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.openai.evals#CreateEvalStoredCompletionsDataSourceConfigMetadataMap",
          "traits": {
            "smithy.api#documentation": "Metadata filters for the stored completions data source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated in favor of LogsDataSourceConfig.\n"
      }
    },
    "com.openai.evals#CreateEvalStoredCompletionsDataSourceConfigType": {
      "type": "enum",
      "members": {
        "STORED_COMPLETIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stored_completions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of data source. Always `stored_completions`."
      }
    },
    "com.openai.evals#CreateEvalStoredCompletionsDataSourceConfigMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Metadata filters for the stored completions data source."
      }
    },
    "com.openai.evals#CreateEvalRequestDataSourceConfig": {
      "type": "union",
      "members": {
        "CreateEvalCustomDataSourceConfig": {
          "target": "com.openai.evals#CreateEvalCustomDataSourceConfig"
        },
        "CreateEvalLogsDataSourceConfig": {
          "target": "com.openai.evals#CreateEvalLogsDataSourceConfig"
        },
        "CreateEvalStoredCompletionsDataSourceConfig": {
          "target": "com.openai.evals#CreateEvalStoredCompletionsDataSourceConfig"
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration for the data source used for the evaluation runs. Dictates the schema of the data used in the evaluation."
      }
    },
    "com.openai.evals#CreateEvalLabelModelGrader": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#CreateEvalLabelModelGraderType",
          "traits": {
            "smithy.api#documentation": "The object type, which is always `label_model`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the grader.",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The model to use for the evaluation. Must support structured outputs.",
            "smithy.api#required": {}
          }
        },
        "input": {
          "target": "com.openai.evals#CreateEvalLabelModelGraderInputList",
          "traits": {
            "smithy.api#documentation": "A list of chat messages forming the prompt or context. May include variable references to the `item` namespace, ie {{item.name}}.",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.openai.evals#CreateEvalLabelModelGraderLabelsList",
          "traits": {
            "smithy.api#documentation": "The labels to classify to each item in the evaluation.",
            "smithy.api#required": {}
          }
        },
        "passing_labels": {
          "target": "com.openai.evals#CreateEvalLabelModelGraderPassingLabelsList",
          "traits": {
            "smithy.api#documentation": "The labels that indicate a passing result. Must be a subset of labels.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A LabelModelGrader object which uses a model to assign labels to each item\nin the evaluation.\n"
      }
    },
    "com.openai.evals#CreateEvalLabelModelGraderType": {
      "type": "enum",
      "members": {
        "LABEL_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "label_model"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type, which is always `label_model`."
      }
    },
    "com.openai.evals#CreateEvalItem": {
      "type": "union",
      "members": {
        "SimpleInputMessage": {
          "target": "com.openai.evals#CreateEvalItemSimpleInputMessage"
        },
        "EvalItem": {
          "target": "com.openai.evals#EvalItem"
        }
      },
      "traits": {
        "smithy.api#documentation": "A chat message that makes up the prompt or context. May include variable references to the `item` namespace, ie {{item.name}}."
      }
    },
    "com.openai.evals#CreateEvalItemSimpleInputMessage": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role of the message (e.g. \"system\", \"assistant\", \"user\").",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the message.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.evals#CreateEvalLabelModelGraderInputList": {
      "type": "list",
      "member": {
        "target": "com.openai.evals#CreateEvalItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of chat messages forming the prompt or context. May include variable references to the `item` namespace, ie {{item.name}}."
      }
    },
    "com.openai.evals#CreateEvalLabelModelGraderLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The labels to classify to each item in the evaluation."
      }
    },
    "com.openai.evals#CreateEvalLabelModelGraderPassingLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The labels that indicate a passing result. Must be a subset of labels."
      }
    },
    "com.openai.evals#CreateEvalRequestTestingCriteriaItem": {
      "type": "union",
      "members": {
        "CreateEvalLabelModelGrader": {
          "target": "com.openai.evals#CreateEvalLabelModelGrader"
        },
        "EvalGraderStringCheck": {
          "target": "com.openai.evals#GraderStringCheck"
        },
        "EvalGraderTextSimilarity": {
          "target": "com.openai.evals#EvalGraderTextSimilarity"
        },
        "EvalGraderPython": {
          "target": "com.openai.evals#EvalGraderPython"
        },
        "EvalGraderScoreModel": {
          "target": "com.openai.evals#EvalGraderScoreModel"
        }
      },
      "traits": {}
    },
    "com.openai.evals#CreateEvalRequestTestingCriteriaList": {
      "type": "list",
      "member": {
        "target": "com.openai.evals#CreateEvalRequestTestingCriteriaItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of graders for all eval runs in this group. Graders can reference variables in the data source using double curly braces notation, like `{{item.variable_name}}`. To reference the model's output, use the `sample` namespace (ie, `{{sample.output_text}}`)."
      }
    },
    "com.openai.evals#CreateEvalRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the evaluation."
          }
        },
        "metadata": {
          "target": "com.openai.evals#MetadataMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "data_source_config": {
          "target": "com.openai.evals#CreateEvalRequestDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "The configuration for the data source used for the evaluation runs. Dictates the schema of the data used in the evaluation.",
            "smithy.api#required": {}
          }
        },
        "testing_criteria": {
          "target": "com.openai.evals#CreateEvalRequestTestingCriteriaList",
          "traits": {
            "smithy.api#documentation": "A list of graders for all eval runs in this group. Graders can reference variables in the data source using double curly braces notation, like `{{item.variable_name}}`. To reference the model's output, use the `sample` namespace (ie, `{{sample.output_text}}`).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.evals#CreateEval": {
      "type": "operation",
      "input": {
        "target": "com.openai.evals#CreateEvalRequest"
      },
      "output": {
        "target": "com.openai.evals#Eval"
      },
      "errors": [
        {
          "target": "com.openai.evals#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/evals",
          "code": 200
        },
        "smithy.api#documentation": "Create eval\n\nCreate the structure of an evaluation that can be used to test a model's performance.\nAn evaluation is a set of testing criteria and the config for a data source, which dictates the schema of the data used in the evaluation. After creating an evaluation, you can run it on different models and model parameters. We support several types of graders and datasources.\nFor more information, see the [Evals guide](https://developers.openai.com/api/docs/guides/evals)."
      }
    },
    "com.openai.evals#GetEvalRequest": {
      "type": "structure",
      "members": {
        "eval_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the evaluation to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.evals#GetEval": {
      "type": "operation",
      "input": {
        "target": "com.openai.evals#GetEvalRequest"
      },
      "output": {
        "target": "com.openai.evals#Eval"
      },
      "errors": [
        {
          "target": "com.openai.evals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/evals/{eval_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get an eval\n\nGet an evaluation by ID."
      }
    },
    "com.openai.evals#UpdateEvalRequest": {
      "type": "structure",
      "members": {
        "eval_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the evaluation to update."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rename the evaluation."
          }
        },
        "metadata": {
          "target": "com.openai.evals#MetadataMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.evals#UpdateEval": {
      "type": "operation",
      "input": {
        "target": "com.openai.evals#UpdateEvalRequest"
      },
      "output": {
        "target": "com.openai.evals#Eval"
      },
      "errors": [
        {
          "target": "com.openai.evals#BadRequest"
        },
        {
          "target": "com.openai.evals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/evals/{eval_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update an eval\n\nUpdate certain properties of an evaluation."
      }
    },
    "com.openai.evals#DeleteEvalRequest": {
      "type": "structure",
      "members": {
        "eval_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the evaluation to delete."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.evals#DeleteEvalResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "eval_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.openai.evals#DeleteEval": {
      "type": "operation",
      "input": {
        "target": "com.openai.evals#DeleteEvalRequest"
      },
      "output": {
        "target": "com.openai.evals#DeleteEvalResponse"
      },
      "errors": [
        {
          "target": "com.openai.evals#BadRequest"
        },
        {
          "target": "com.openai.evals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/evals/{eval_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an eval\n\nDelete an evaluation."
      }
    },
    "com.openai.evals#GetEvalRunsRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.openai.evals#GetEvalRunsRequestStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {}
    },
    "com.openai.evals#GetEvalRunsRequest": {
      "type": "structure",
      "members": {
        "eval_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the evaluation to retrieve runs for."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Identifier for the last run from the previous pagination request."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of runs to retrieve."
          }
        },
        "order": {
          "target": "com.openai.evals#GetEvalRunsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Sort order for runs by timestamp. Use `asc` for ascending order or `desc` for descending order. Defaults to `asc`."
          }
        },
        "status": {
          "target": "com.openai.evals#GetEvalRunsRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter runs by status. One of `queued` | `in_progress` | `failed` | `completed` | `canceled`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.evals#EvalRunList": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.evals#EvalRunListObject",
          "traits": {
            "smithy.api#documentation": "The type of this object. It is always set to \"list\".\n",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.evals#EvalRunListDataList",
          "traits": {
            "smithy.api#documentation": "An array of eval run objects.\n",
            "smithy.api#required": {}
          }
        },
        "first_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the first eval run in the data array.",
            "smithy.api#required": {}
          }
        },
        "last_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the last eval run in the data array.",
            "smithy.api#required": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether there are more evals available.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object representing a list of runs for an evaluation.\n"
      }
    },
    "com.openai.evals#EvalRunListObject": {
      "type": "enum",
      "members": {
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of this object. It is always set to \"list\".\n"
      }
    },
    "com.openai.evals#EvalRun": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.evals#EvalRunObject",
          "traits": {
            "smithy.api#documentation": "The type of the object. Always \"eval.run\".",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the evaluation run.",
            "smithy.api#required": {}
          }
        },
        "eval_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the associated evaluation.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the evaluation run.",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The model that is evaluated, if applicable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the evaluation run.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp (in seconds) when the evaluation run was created.",
            "smithy.api#required": {}
          }
        },
        "report_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the rendered evaluation run report on the UI dashboard.",
            "smithy.api#required": {}
          }
        },
        "result_counts": {
          "target": "com.openai.evals#EvalRunResultCounts",
          "traits": {
            "smithy.api#documentation": "Counters summarizing the outcomes of the evaluation run.",
            "smithy.api#required": {}
          }
        },
        "per_model_usage": {
          "target": "com.openai.evals#EvalRunPerModelUsageList",
          "traits": {
            "smithy.api#documentation": "Usage statistics for each model during the evaluation run.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "per_testing_criteria_results": {
          "target": "com.openai.evals#EvalRunPerTestingCriteriaResultsList",
          "traits": {
            "smithy.api#documentation": "Results per testing criteria applied during the evaluation run.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "data_source": {
          "target": "com.openai.evals#EvalRunDataSource",
          "traits": {
            "smithy.api#documentation": "Information about the run's data source.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.openai.evals#MetadataMap",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "error": {
          "target": "com.openai.evals#EvalApiError",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A schema representing an evaluation run.\n"
      }
    },
    "com.openai.evals#EvalRunObject": {
      "type": "enum",
      "members": {
        "EVAL_RUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eval.run"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object. Always \"eval.run\"."
      }
    },
    "com.openai.evals#EvalRunResultCounts": {
      "type": "structure",
      "members": {
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of executed output items.",
            "smithy.api#required": {}
          }
        },
        "errored": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of output items that resulted in an error.",
            "smithy.api#required": {}
          }
        },
        "failed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of output items that failed to pass the evaluation.",
            "smithy.api#required": {}
          }
        },
        "passed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of output items that passed the evaluation.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Counters summarizing the outcomes of the evaluation run."
      }
    },
    "com.openai.evals#EvalRunPerModelUsageItem": {
      "type": "structure",
      "members": {
        "model_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the model.",
            "smithy.api#required": {}
          }
        },
        "invocation_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of invocations.",
            "smithy.api#required": {}
          }
        },
        "prompt_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of prompt tokens used.",
            "smithy.api#required": {}
          }
        },
        "completion_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of completion tokens generated.",
            "smithy.api#required": {}
          }
        },
        "total_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of tokens used.",
            "smithy.api#required": {}
          }
        },
        "cached_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of tokens retrieved from cache.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.evals#EvalRunPerModelUsageList": {
      "type": "list",
      "member": {
        "target": "com.openai.evals#EvalRunPerModelUsageItem"
      },
      "traits": {
        "smithy.api#documentation": "Usage statistics for each model during the evaluation run."
      }
    },
    "com.openai.evals#EvalRunPerTestingCriteriaResultsItem": {
      "type": "structure",
      "members": {
        "testing_criteria": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the testing criteria.",
            "smithy.api#required": {}
          }
        },
        "passed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of tests passed for this criteria.",
            "smithy.api#required": {}
          }
        },
        "failed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of tests failed for this criteria.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.evals#EvalRunPerTestingCriteriaResultsList": {
      "type": "list",
      "member": {
        "target": "com.openai.evals#EvalRunPerTestingCriteriaResultsItem"
      },
      "traits": {
        "smithy.api#documentation": "Results per testing criteria applied during the evaluation run."
      }
    },
    "com.openai.evals#CreateEvalJsonlRunDataSource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#CreateEvalJsonlRunDataSourceType",
          "traits": {
            "smithy.api#documentation": "The type of data source. Always `jsonl`.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.openai.evals#CreateEvalJsonlRunDataSourceSource",
          "traits": {
            "smithy.api#documentation": "Determines what populates the `item` namespace in the data source.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A JsonlRunDataSource object with that specifies a JSONL file that matches the eval \n"
      }
    },
    "com.openai.evals#CreateEvalJsonlRunDataSourceType": {
      "type": "enum",
      "members": {
        "JSONL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jsonl"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of data source. Always `jsonl`."
      }
    },
    "com.openai.evals#EvalJsonlFileContentSource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#EvalJsonlFileContentSourceType",
          "traits": {
            "smithy.api#documentation": "The type of jsonl source. Always `file_content`.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.openai.evals#EvalJsonlFileContentSourceContentList",
          "traits": {
            "smithy.api#documentation": "The content of the jsonl file.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.evals#EvalJsonlFileContentSourceType": {
      "type": "enum",
      "members": {
        "FILE_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file_content"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of jsonl source. Always `file_content`."
      }
    },
    "com.openai.evals#EvalJsonlFileContentSourceContentItemItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openai.evals#EvalJsonlFileContentSourceContentItemSampleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openai.evals#EvalJsonlFileContentSourceContentItem": {
      "type": "structure",
      "members": {
        "item": {
          "target": "com.openai.evals#EvalJsonlFileContentSourceContentItemItemMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sample": {
          "target": "com.openai.evals#EvalJsonlFileContentSourceContentItemSampleMap"
        }
      },
      "traits": {}
    },
    "com.openai.evals#EvalJsonlFileContentSourceContentList": {
      "type": "list",
      "member": {
        "target": "com.openai.evals#EvalJsonlFileContentSourceContentItem"
      },
      "traits": {
        "smithy.api#documentation": "The content of the jsonl file."
      }
    },
    "com.openai.evals#EvalJsonlFileIdSource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#EvalJsonlFileIdSourceType",
          "traits": {
            "smithy.api#documentation": "The type of jsonl source. Always `file_id`.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the file.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.evals#EvalJsonlFileIdSourceType": {
      "type": "enum",
      "members": {
        "FILE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file_id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of jsonl source. Always `file_id`."
      }
    },
    "com.openai.evals#CreateEvalJsonlRunDataSourceSource": {
      "type": "union",
      "members": {
        "EvalJsonlFileContentSource": {
          "target": "com.openai.evals#EvalJsonlFileContentSource"
        },
        "EvalJsonlFileIdSource": {
          "target": "com.openai.evals#EvalJsonlFileIdSource"
        }
      },
      "traits": {
        "smithy.api#documentation": "Determines what populates the `item` namespace in the data source."
      }
    },
    "com.openai.evals#CreateEvalCompletionsRunDataSource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#CreateEvalCompletionsRunDataSourceType",
          "traits": {
            "smithy.api#documentation": "The type of run data source. Always `completions`.",
            "smithy.api#required": {}
          }
        },
        "input_messages": {
          "target": "com.openai.evals#CreateEvalCompletionsRunDataSourceInputMessages",
          "traits": {
            "smithy.api#documentation": "Used when sampling from a model. Dictates the structure of the messages passed into the model. Can either be a reference to a prebuilt trajectory (ie, `item.input_trajectory`), or a template with variable references to the `item` namespace."
          }
        },
        "sampling_params": {
          "target": "com.openai.evals#CreateEvalCompletionsRunDataSourceSamplingParams"
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the model to use for generating completions (e.g. \"o3-mini\")."
          }
        },
        "source": {
          "target": "com.openai.evals#CreateEvalCompletionsRunDataSourceSource",
          "traits": {
            "smithy.api#documentation": "Determines what populates the `item` namespace in this run's data source.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CompletionsRunDataSource object describing a model sampling configuration.\n"
      }
    },
    "com.openai.evals#CreateEvalCompletionsRunDataSourceType": {
      "type": "enum",
      "members": {
        "COMPLETIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of run data source. Always `completions`."
      }
    },
    "com.openai.evals#CreateEvalCompletionsRunDataSourceInputMessagesTemplateInputMessagesType": {
      "type": "enum",
      "members": {
        "TEMPLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "template"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of input messages. Always `template`."
      }
    },
    "com.openai.evals#EasyInputMessage": {
      "type": "structure",
      "members": {
        "role": {
          "target": "com.openai.evals#EasyInputMessageRole",
          "traits": {
            "smithy.api#documentation": "The role of the message input. One of `user`, `assistant`, `system`, or\n`developer`.\n",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.openai.evals#EasyInputMessageContent",
          "traits": {
            "smithy.api#documentation": "Text, image, or audio input to the model, used to generate a response.\nCan also contain previous assistant responses.\n",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "com.openai.evals#MessagePhase",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.openai.evals#EasyInputMessageType",
          "traits": {
            "smithy.api#documentation": "The type of the message input. Always `message`.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message input to the model with a role indicating instruction following\nhierarchy. Instructions given with the `developer` or `system` role take\nprecedence over instructions given with the `user` role. Messages with the\n`assistant` role are presumed to have been generated by the model in previous\ninteractions.\n"
      }
    },
    "com.openai.evals#EasyInputMessageRole": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ASSISTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assistant"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "developer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The role of the message input. One of `user`, `assistant`, `system`, or\n`developer`.\n"
      }
    },
    "com.openai.evals#InputMessageContentList": {
      "type": "list",
      "member": {
        "target": "com.openai.evals#InputContent"
      },
      "traits": {
        "smithy.api#documentation": "A list of one or many input items to the model, containing different content \ntypes.\n"
      }
    },
    "com.openai.evals#InputContent": {
      "type": "union",
      "members": {
        "InputTextContent": {
          "target": "com.openai.evals#InputTextContent"
        },
        "InputImageContent": {
          "target": "com.openai.evals#InputImageContent"
        },
        "InputFileContent": {
          "target": "com.openai.evals#InputFileContent"
        }
      },
      "traits": {}
    },
    "com.openai.evals#InputImageContent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#InputImageContentType",
          "traits": {
            "smithy.api#documentation": "The type of the input item. Always `input_image`.",
            "smithy.api#required": {}
          }
        },
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "detail": {
          "target": "com.openai.evals#ImageDetail",
          "traits": {
            "smithy.api#documentation": "The detail level of the image to be sent to the model. One of `high`, `low`, `auto`, or `original`. Defaults to `auto`.",
            "smithy.api#required": {}
          }
        },
        "prompt_cache_breakpoint": {
          "target": "com.openai.evals#PromptCacheBreakpointConfig"
        }
      },
      "traits": {
        "smithy.api#documentation": "An image input to the model. Learn about [image inputs](https://developers.openai.com/api/docs/guides/images-vision)."
      }
    },
    "com.openai.evals#InputImageContentType": {
      "type": "enum",
      "members": {
        "INPUT_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_image"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the input item. Always `input_image`."
      }
    },
    "com.openai.evals#ImageDetail": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "ORIGINAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "original"
          }
        }
      },
      "traits": {}
    },
    "com.openai.evals#InputFileContent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#InputFileContentType",
          "traits": {
            "smithy.api#documentation": "The type of the input item. Always `input_file`.",
            "smithy.api#required": {}
          }
        },
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the file to be sent to the model."
          }
        },
        "file_data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the file to be sent to the model.\n"
          }
        },
        "prompt_cache_breakpoint": {
          "target": "com.openai.evals#PromptCacheBreakpointConfig"
        },
        "file_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the file to be sent to the model."
          }
        },
        "detail": {
          "target": "com.openai.evals#FileInputDetail",
          "traits": {
            "smithy.api#documentation": "The detail level of the file to be sent to the model. Use `auto` to let the system select the detail level; for GPT-5.6 and later models, `auto` uses high-quality rendering, which may increase input token usage. Use `low` for lower-cost rendering, or `high` to render the file at higher quality. Defaults to `auto`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A file input to the model."
      }
    },
    "com.openai.evals#InputFileContentType": {
      "type": "enum",
      "members": {
        "INPUT_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_file"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the input item. Always `input_file`."
      }
    },
    "com.openai.evals#FileInputDetail": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        }
      },
      "traits": {}
    },
    "com.openai.evals#EasyInputMessageContent": {
      "type": "union",
      "members": {
        "TextInput": {
          "target": "smithy.api#String"
        },
        "InputMessageContentList": {
          "target": "com.openai.evals#InputMessageContentList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Text, image, or audio input to the model, used to generate a response.\nCan also contain previous assistant responses.\n"
      }
    },
    "com.openai.evals#MessagePhase": {
      "type": "enum",
      "members": {
        "COMMENTARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "commentary"
          }
        },
        "FINAL_ANSWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "final_answer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Labels an `assistant` message as intermediate commentary (`commentary`) or the final answer (`final_answer`).\nFor models like `gpt-5.3-codex` and beyond, when sending follow-up requests, preserve and resend\nphase on all assistant messages — dropping it can degrade performance. Not used for user messages.\n"
      }
    },
    "com.openai.evals#EasyInputMessageType": {
      "type": "enum",
      "members": {
        "MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the message input. Always `message`.\n"
      }
    },
    "com.openai.evals#CreateEvalCompletionsRunDataSourceInputMessagesTemplateInputMessagesTemplateItem": {
      "type": "union",
      "members": {
        "EasyInputMessage": {
          "target": "com.openai.evals#EasyInputMessage"
        },
        "EvalItem": {
          "target": "com.openai.evals#EvalItem"
        }
      },
      "traits": {}
    },
    "com.openai.evals#CreateEvalCompletionsRunDataSourceInputMessagesTemplateInputMessagesTemplateList": {
      "type": "list",
      "member": {
        "target": "com.openai.evals#CreateEvalCompletionsRunDataSourceInputMessagesTemplateInputMessagesTemplateItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of chat messages forming the prompt or context. May include variable references to the `item` namespace, ie {{item.name}}."
      }
    },
    "com.openai.evals#CreateEvalCompletionsRunDataSourceInputMessagesTemplateInputMessages": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#CreateEvalCompletionsRunDataSourceInputMessagesTemplateInputMessagesType",
          "traits": {
            "smithy.api#documentation": "The type of input messages. Always `template`.",
            "smithy.api#required": {}
          }
        },
        "template": {
          "target": "com.openai.evals#CreateEvalCompletionsRunDataSourceInputMessagesTemplateInputMessagesTemplateList",
          "traits": {
            "smithy.api#documentation": "A list of chat messages forming the prompt or context. May include variable references to the `item` namespace, ie {{item.name}}.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.evals#CreateEvalCompletionsRunDataSourceInputMessagesItemReferenceInputMessagesType": {
      "type": "enum",
      "members": {
        "ITEM_REFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "item_reference"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of input messages. Always `item_reference`."
      }
    },
    "com.openai.evals#CreateEvalCompletionsRunDataSourceInputMessagesItemReferenceInputMessages": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#CreateEvalCompletionsRunDataSourceInputMessagesItemReferenceInputMessagesType",
          "traits": {
            "smithy.api#documentation": "The type of input messages. Always `item_reference`.",
            "smithy.api#required": {}
          }
        },
        "item_reference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A reference to a variable in the `item` namespace. Ie, \"item.input_trajectory\"",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.evals#CreateEvalCompletionsRunDataSourceInputMessages": {
      "type": "union",
      "members": {
        "TemplateInputMessages": {
          "target": "com.openai.evals#CreateEvalCompletionsRunDataSourceInputMessagesTemplateInputMessages"
        },
        "ItemReferenceInputMessages": {
          "target": "com.openai.evals#CreateEvalCompletionsRunDataSourceInputMessagesItemReferenceInputMessages"
        }
      },
      "traits": {
        "smithy.api#documentation": "Used when sampling from a model. Dictates the structure of the messages passed into the model. Can either be a reference to a prebuilt trajectory (ie, `item.input_trajectory`), or a template with variable references to the `item` namespace."
      }
    },
    "com.openai.evals#ResponseFormatText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#ResponseFormatTextType",
          "traits": {
            "smithy.api#documentation": "The type of response format being defined. Always `text`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default response format. Used to generate text responses.\n"
      }
    },
    "com.openai.evals#ResponseFormatTextType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of response format being defined. Always `text`."
      }
    },
    "com.openai.evals#ResponseFormatJsonSchema": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#ResponseFormatJsonSchemaType",
          "traits": {
            "smithy.api#documentation": "The type of response format being defined. Always `json_schema`.",
            "smithy.api#required": {}
          }
        },
        "json_schema": {
          "target": "com.openai.evals#ResponseFormatJsonSchemaJsonSchema",
          "traits": {
            "smithy.api#documentation": "Structured Outputs configuration options, including a JSON Schema.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON Schema response format. Used to generate structured JSON responses.\nLearn more about [Structured Outputs](https://developers.openai.com/api/docs/guides/structured-outputs).\n"
      }
    },
    "com.openai.evals#ResponseFormatJsonSchemaType": {
      "type": "enum",
      "members": {
        "JSON_SCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json_schema"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of response format being defined. Always `json_schema`."
      }
    },
    "com.openai.evals#ResponseFormatJsonSchemaSchema": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The schema for the response format, described as a JSON Schema object.\nLearn how to build JSON schemas [here](https://json-schema.org/).\n"
      }
    },
    "com.openai.evals#ResponseFormatJsonSchemaJsonSchema": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of what the response format is for, used by the model to\ndetermine how to respond in the format.\n"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the response format. Must be a-z, A-Z, 0-9, or contain\nunderscores and dashes, with a maximum length of 64.\n",
            "smithy.api#required": {}
          }
        },
        "schema": {
          "target": "com.openai.evals#ResponseFormatJsonSchemaSchema"
        },
        "strict": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structured Outputs configuration options, including a JSON Schema.\n"
      }
    },
    "com.openai.evals#ResponseFormatJsonObject": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.evals#ResponseFormatJsonObjectType",
          "traits": {
            "smithy.api#documentation": "The type of response format being defined. Always `json_object`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON object response format. An older method of generating JSON responses.\nUsing `json_schema` is recommended for models that support it. Note that the\nmodel will not generate JSON without a system or user message instructing it\nto do so.\n"
      }
    },
    "com.openai.evals#ResponseFormatJsonObjectType": {
      "type": "enum",
      "members": {
        "JSON_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json_object"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of response format being defined. Always `json_object`."
      }
    },
    "com.openai.evals#CreateEvalCompletionsRunDataSourceSamplingParamsResponseFormat": {
      "type": "union",
      "members": {
        "ResponseFormatText": {
          "target": "com.openai.evals#ResponseFormatText"
        },
        "ResponseFormatJsonSchema": {
          "target": "com.openai.evals#ResponseFormatJsonSchema"
        },
        "ResponseFormatJsonObject": {
          "target": "com.openai.evals#ResponseFormatJsonObject"
        }
      },
      "traits": {
        "smithy.api#documentation": "An object specifying the format that the model must output.\n\nSetting to `{ \"type\": \"json_schema\", \"json_schema\": {...} }` enables\nStructured Outputs which ensures the model will match your supplied JSON\nschema. Learn more in the [Structured Outputs\nguide](https://developers.openai.com/api/docs/guides/structured-outputs).\n\nSetting to `{ \"type\": \"json_object\" }` enables the older JSON mode, which\nensures the message the model generates is valid JSON. Using `json_schema`\nis preferred for models that support it.\n"
      }
[...]
