{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openai.external_storage#ExternalStorageOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#ListExternalStorageConfigurationsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project_id"
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Return external storage configurations after this ID."
          }
        },
        "order": {
          "target": "com.openai.external_storage#ExternalStorageOrder",
          "traits": {
            "smithy.api#httpQuery": "order"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.external_storage#ExternalStorageListResource": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.external_storage#ExternalStorageListResourceObject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.external_storage#ExternalStorageListResourceDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "first_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#ExternalStorageListResourceObject": {
      "type": "enum",
      "members": {
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#ExternalStorageResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.external_storage#ExternalStorageResponseObject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.openai.external_storage#ExternalStorageResponseProvider",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "geography": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.external_storage#ExternalStorageStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#ExternalStorageResponseObject": {
      "type": "enum",
      "members": {
        "ORGANIZATION_EXTERNAL_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization.external_storage"
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#AwsExternalStorageProviderResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.external_storage#AwsExternalStorageProviderResponseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role_arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#AwsExternalStorageProviderResponseType": {
      "type": "enum",
      "members": {
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws"
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#AzureExternalStorageProviderResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.external_storage#AzureExternalStorageProviderResponseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tenant_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscription_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "account_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#AzureExternalStorageProviderResponseType": {
      "type": "enum",
      "members": {
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "azure"
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#GcpExternalStorageProviderResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.external_storage#GcpExternalStorageProviderResponseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workload_identity_project_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workload_identity_pool_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workload_identity_provider_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#GcpExternalStorageProviderResponseType": {
      "type": "enum",
      "members": {
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcp"
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#ExternalStorageResponseProvider": {
      "type": "union",
      "members": {
        "AwsExternalStorageProviderResponse": {
          "target": "com.openai.external_storage#AwsExternalStorageProviderResponse"
        },
        "AzureExternalStorageProviderResponse": {
          "target": "com.openai.external_storage#AzureExternalStorageProviderResponse"
        },
        "GcpExternalStorageProviderResponse": {
          "target": "com.openai.external_storage#GcpExternalStorageProviderResponse"
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#ExternalStorageStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "VALIDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "validated"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unhealthy"
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#ExternalStorageListResourceDataList": {
      "type": "list",
      "member": {
        "target": "com.openai.external_storage#ExternalStorageResponse"
      },
      "traits": {}
    },
    "com.openai.external_storage#ListExternalStorageConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.openai.external_storage#ListExternalStorageConfigurationsRequest"
      },
      "output": {
        "target": "com.openai.external_storage#ExternalStorageListResource"
      },
      "errors": [
        {
          "target": "com.openai.external_storage#BadRequest"
        },
        {
          "target": "com.openai.external_storage#Forbidden"
        },
        {
          "target": "com.openai.external_storage#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organization/external_storage",
          "code": 200
        },
        "smithy.api#documentation": "List external storage configurations\n\nList the organization's customer-managed external storage configurations.",
        "com.distilled.openai#adminAuth": {},
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "after",
          "outputToken": "last_id",
          "items": "data",
          "pageSize": "limit"
        }
      }
    },
    "com.openai.external_storage#AwsExternalStorageProviderParams": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.external_storage#AwsExternalStorageProviderParamsType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role_arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#AwsExternalStorageProviderParamsType": {
      "type": "enum",
      "members": {
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws"
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#AzureExternalStorageProviderParams": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.external_storage#AzureExternalStorageProviderParamsType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tenant_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscription_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "account_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#AzureExternalStorageProviderParamsType": {
      "type": "enum",
      "members": {
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "azure"
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#GcpExternalStorageProviderParams": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.external_storage#GcpExternalStorageProviderParamsType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workload_identity_project_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workload_identity_pool_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workload_identity_provider_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#GcpExternalStorageProviderParamsType": {
      "type": "enum",
      "members": {
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcp"
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#CreateExternalStorageConfigurationRequestProvider": {
      "type": "union",
      "members": {
        "AwsExternalStorageProviderParams": {
          "target": "com.openai.external_storage#AwsExternalStorageProviderParams"
        },
        "AzureExternalStorageProviderParams": {
          "target": "com.openai.external_storage#AzureExternalStorageProviderParams"
        },
        "GcpExternalStorageProviderParams": {
          "target": "com.openai.external_storage#GcpExternalStorageProviderParams"
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#CreateExternalStorageConfigurationRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.openai.external_storage#CreateExternalStorageConfigurationRequestProvider",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.external_storage#CreateExternalStorageConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.openai.external_storage#CreateExternalStorageConfigurationRequest"
      },
      "output": {
        "target": "com.openai.external_storage#ExternalStorageResponse"
      },
      "errors": [
        {
          "target": "com.openai.external_storage#BadRequest"
        },
        {
          "target": "com.openai.external_storage#Forbidden"
        },
        {
          "target": "com.openai.external_storage#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organization/external_storage",
          "code": 200
        },
        "smithy.api#documentation": "Create an external storage configuration\n\nRegister one customer-managed external storage configuration.",
        "com.distilled.openai#adminAuth": {}
      }
    },
    "com.openai.external_storage#GetExternalStorageConfigurationRequest": {
      "type": "structure",
      "members": {
        "external_storage_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.external_storage#GetExternalStorageConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.openai.external_storage#GetExternalStorageConfigurationRequest"
      },
      "output": {
        "target": "com.openai.external_storage#ExternalStorageResponse"
      },
      "errors": [
        {
          "target": "com.openai.external_storage#BadRequest"
        },
        {
          "target": "com.openai.external_storage#Forbidden"
        },
        {
          "target": "com.openai.external_storage#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organization/external_storage/{external_storage_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get an external storage configuration\n\nGet one customer-managed external storage configuration.",
        "com.distilled.openai#adminAuth": {}
      }
    },
    "com.openai.external_storage#DeleteExternalStorageConfigurationRequest": {
      "type": "structure",
      "members": {
        "external_storage_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.external_storage#ExternalStorageDeletedResource": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.external_storage#ExternalStorageDeletedResourceObject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#ExternalStorageDeletedResourceObject": {
      "type": "enum",
      "members": {
        "ORGANIZATION_EXTERNAL_STORAGE_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization.external_storage.deleted"
          }
        }
      },
      "traits": {}
    },
    "com.openai.external_storage#DeleteExternalStorageConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.openai.external_storage#DeleteExternalStorageConfigurationRequest"
      },
      "output": {
        "target": "com.openai.external_storage#ExternalStorageDeletedResource"
      },
      "errors": [
        {
          "target": "com.openai.external_storage#BadRequest"
        },
        {
          "target": "com.openai.external_storage#Forbidden"
        },
        {
          "target": "com.openai.external_storage#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/organization/external_storage/{external_storage_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an external storage configuration\n\nDisconnect a customer-managed external storage configuration. Removing the project's last configuration restores organization-default retention if customer-managed retention was active. Repeating a deletion also completes any interrupted retention update. Cloud storage is unchanged.",
        "com.distilled.openai#adminAuth": {}
      }
    },
    "com.openai.external_storage#ValidateExternalStorageConfigurationRequest": {
      "type": "structure",
      "members": {
        "external_storage_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.external_storage#ValidateExternalStorageConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.openai.external_storage#ValidateExternalStorageConfigurationRequest"
      },
      "output": {
        "target": "com.openai.external_storage#ExternalStorageResponse"
      },
      "errors": [
        {
          "target": "com.openai.external_storage#BadRequest"
        },
        {
          "target": "com.openai.external_storage#Forbidden"
        },
        {
          "target": "com.openai.external_storage#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organization/external_storage/{external_storage_id}/validate",
          "code": 200
        },
        "smithy.api#documentation": "Validate an external storage configuration\n\nValidate one customer-managed external storage configuration.",
        "com.distilled.openai#adminAuth": {}
      }
    },
    "com.openai.external_storage#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.openai.external_storage#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.openai.external_storage#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.openai.external_storage#ExternalStorage": {
      "type": "service",
      "version": "2.3.0",
      "operations": [
        {
          "target": "com.openai.external_storage#ListExternalStorageConfigurations"
        },
        {
          "target": "com.openai.external_storage#CreateExternalStorageConfiguration"
        },
        {
          "target": "com.openai.external_storage#GetExternalStorageConfiguration"
        },
        {
          "target": "com.openai.external_storage#DeleteExternalStorageConfiguration"
        },
        {
          "target": "com.openai.external_storage#ValidateExternalStorageConfiguration"
        }
      ],
      "traits": {
        "smithy.api#title": "OpenAI API",
        "smithy.api#documentation": "The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details."
      }
    }
  }
}
