{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openai.files#ListFilesRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.openai.files#ListFilesRequest": {
      "type": "structure",
      "members": {
        "purpose": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "purpose",
            "smithy.api#documentation": "Only return files with the given purpose."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "A limit on the number of objects to be returned. Limit can range between 1 and 10,000, and the default is 10,000.\n"
          }
        },
        "order": {
          "target": "com.openai.files#ListFilesRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.\n"
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.files#ListFilesResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.files#ListFilesResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "first_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.files#OpenAIFile": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file identifier, which can be referenced in the API endpoints.",
            "smithy.api#required": {}
          }
        },
        "bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size of the file, in bytes. In a completed file upload response, this can\nbe null when the file size is not yet available.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) for when the file was created.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) for when the file will expire. In a\ncompleted file upload response, this can be null when no expiry is set.\n"
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the file.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "com.openai.files#OpenAIFileObject",
          "traits": {
            "smithy.api#documentation": "The object type, which is always `file`.",
            "smithy.api#required": {}
          }
        },
        "purpose": {
          "target": "com.openai.files#OpenAIFilePurpose",
          "traits": {
            "smithy.api#documentation": "The intended purpose of the file. Supported values are `assistants`, `assistants_output`, `batch`, `batch_output`, `fine-tune`, `fine-tune-results`, `vision`, and `user_data`.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.files#OpenAIFileStatus",
          "traits": {
            "smithy.api#documentation": "Deprecated. The current status of the file, which can be either `uploaded`, `processed`, or `error`.",
            "smithy.api#required": {}
          }
        },
        "status_details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. For details on why a fine-tuning training file failed validation, see the `error` field on `fine_tuning.job`. Completed file upload responses can return null when these details are unset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `File` object represents a document that has been uploaded to OpenAI."
      }
    },
    "com.openai.files#OpenAIFileObject": {
      "type": "enum",
      "members": {
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type, which is always `file`."
      }
    },
    "com.openai.files#OpenAIFilePurpose": {
      "type": "enum",
      "members": {
        "ASSISTANTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assistants"
          }
        },
        "ASSISTANTS_OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assistants_output"
          }
        },
        "BATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "batch"
          }
        },
        "BATCH_OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "batch_output"
          }
        },
        "FINE_TUNE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fine-tune"
          }
        },
        "FINE_TUNE_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fine-tune-results"
          }
        },
        "VISION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vision"
          }
        },
        "USER_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_data"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The intended purpose of the file. Supported values are `assistants`, `assistants_output`, `batch`, `batch_output`, `fine-tune`, `fine-tune-results`, `vision`, and `user_data`."
      }
    },
    "com.openai.files#OpenAIFileStatus": {
      "type": "enum",
      "members": {
        "UPLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uploaded"
          }
        },
        "PROCESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processed"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. The current status of the file, which can be either `uploaded`, `processed`, or `error`."
      }
    },
    "com.openai.files#ListFilesResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.openai.files#OpenAIFile"
      },
      "traits": {}
    },
    "com.openai.files#ListFiles": {
      "type": "operation",
      "input": {
        "target": "com.openai.files#ListFilesRequest"
      },
      "output": {
        "target": "com.openai.files#ListFilesResponse"
      },
      "errors": [
        {
          "target": "com.openai.files#BadRequest"
        },
        {
          "target": "com.openai.files#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/files",
          "code": 200
        },
        "smithy.api#documentation": "List files\n\nReturns a list of files.",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "after",
          "outputToken": "last_id",
          "items": "data",
          "pageSize": "limit"
        }
      }
    },
    "com.openai.files#CreateFileRequestPurpose": {
      "type": "enum",
      "members": {
        "ASSISTANTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assistants"
          }
        },
        "BATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "batch"
          }
        },
        "FINE_TUNE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fine-tune"
          }
        },
        "VISION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vision"
          }
        },
        "USER_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_data"
          }
        },
        "EVALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "evals"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The intended purpose of the uploaded file. One of:\n- `assistants`: Used in the Assistants API\n- `batch`: Used in the Batch API\n- `fine-tune`: Used for fine-tuning\n- `vision`: Images used for vision fine-tuning\n- `user_data`: Flexible file type for any purpose\n- `evals`: Used for eval data sets\n"
      }
    },
    "com.openai.files#FileExpirationAfter": {
      "type": "structure",
      "members": {
        "anchor": {
          "target": "com.openai.files#FileExpirationAfterAnchor",
          "traits": {
            "smithy.api#documentation": "Anchor timestamp after which the expiration policy applies. Supported anchors: `created_at`.",
            "smithy.api#required": {}
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of seconds after the anchor time that the file will expire. Must be between 3600 (1 hour) and 2592000 (30 days).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The expiration policy for a file. By default, files with `purpose=batch` expire after 30 days and all other files are persisted until they are manually deleted."
      }
    },
    "com.openai.files#FileExpirationAfterAnchor": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Anchor timestamp after which the expiration policy applies. Supported anchors: `created_at`."
      }
    },
    "com.openai.files#CreateFileRequest": {
      "type": "structure",
      "members": {
        "file": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "The File object (not file name) to be uploaded.\n",
            "smithy.api#required": {}
          }
        },
        "purpose": {
          "target": "com.openai.files#CreateFileRequestPurpose",
          "traits": {
            "smithy.api#documentation": "The intended purpose of the uploaded file. One of:\n- `assistants`: Used in the Assistants API\n- `batch`: Used in the Batch API\n- `fine-tune`: Used for fine-tuning\n- `vision`: Images used for vision fine-tuning\n- `user_data`: Flexible file type for any purpose\n- `evals`: Used for eval data sets\n",
            "smithy.api#required": {}
          }
        },
        "expires_after": {
          "target": "com.openai.files#FileExpirationAfter"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.files#CreateFile": {
      "type": "operation",
      "input": {
        "target": "com.openai.files#CreateFileRequest"
      },
      "output": {
        "target": "com.openai.files#OpenAIFile"
      },
      "errors": [
        {
          "target": "com.openai.files#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/files",
          "code": 200,
          "contentType": "multipart"
        },
        "smithy.api#documentation": "Upload file\n\nUpload a file that can be used across various endpoints. Individual files\ncan be up to 512 MB, and each project can store up to 2.5 TB of files in\ntotal. There is no organization-wide storage limit. Uploads to this\nendpoint are rate-limited to 1,000 requests per minute per authenticated\nuser.\n\n- The Assistants API supports files up to 2 million tokens and of specific\n  file types. See the [Assistants Tools guide](https://developers.openai.com/api/docs/guides/tools) for\n  details.\n- The Fine-tuning API only supports `.jsonl` files. The input also has\n  certain required formats for fine-tuning\n  [chat](https://developers.openai.com/api/docs/guides/supervised-fine-tuning#formatting-your-data) or\n  [completions](https://developers.openai.com/api/docs/guides/supervised-fine-tuning#formatting-your-data) models.\n- The Batch API only supports `.jsonl` files up to 200 MB in size. The input\n  also has a specific required\n  [format](https://developers.openai.com/api/docs/guides/batch#1-prepare-your-batch-file).\n- For Retrieval or `file_search` ingestion, upload files here first. If\n  you need to attach multiple uploaded files to the same vector store, use\n  [`/vector_stores/{vector_store_id}/file_batches`](https://developers.openai.com/api/reference/resources/vector_stores/subresources/file_batches/methods/create)\n  instead of attaching them one by one. Vector store attachment has separate\n  limits from file upload, including 2,000 attached files per minute per\n  organization.\n\nPlease [contact us](https://help.openai.com/) if you need to increase these\nstorage limits.",
        "com.distilled.openapi#contentType": "multipart"
      }
    },
    "com.openai.files#GetFileRequest": {
      "type": "structure",
      "members": {
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the file to use for this request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.files#GetFile": {
      "type": "operation",
      "input": {
        "target": "com.openai.files#GetFileRequest"
      },
      "output": {
        "target": "com.openai.files#OpenAIFile"
      },
      "errors": [
        {
          "target": "com.openai.files#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/files/{file_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve file\n\nReturns information about a specific file."
      }
    },
    "com.openai.files#DeleteFileRequest": {
      "type": "structure",
      "members": {
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the file to use for this request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.files#DeleteFileResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "com.openai.files#DeleteFileResponseObject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.files#DeleteFileResponseObject": {
      "type": "enum",
      "members": {
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file"
          }
        }
      },
      "traits": {}
    },
    "com.openai.files#DeleteFile": {
      "type": "operation",
      "input": {
        "target": "com.openai.files#DeleteFileRequest"
      },
      "output": {
        "target": "com.openai.files#DeleteFileResponse"
      },
      "errors": [
        {
          "target": "com.openai.files#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/files/{file_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete file\n\nDelete a file and remove it from all vector stores."
      }
    },
    "com.openai.files#DownloadFileRequest": {
      "type": "structure",
      "members": {
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the file to use for this request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.files#DownloadFileResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Blob",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.openai.files#DownloadFile": {
      "type": "operation",
      "input": {
        "target": "com.openai.files#DownloadFileRequest"
      },
      "output": {
        "target": "com.openai.files#DownloadFileResponse"
      },
      "errors": [
        {
          "target": "com.openai.files#BadRequest"
        },
        {
          "target": "com.openai.files#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/files/{file_id}/content",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve file content\n\nReturns a response containing the contents of the specified file."
      }
    },
    "com.openai.files#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.openai.files#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.openai.files#Files": {
      "type": "service",
      "version": "2.3.0",
      "operations": [
        {
          "target": "com.openai.files#ListFiles"
        },
        {
          "target": "com.openai.files#CreateFile"
        },
        {
          "target": "com.openai.files#GetFile"
        },
        {
          "target": "com.openai.files#DeleteFile"
        },
        {
          "target": "com.openai.files#DownloadFile"
        }
      ],
      "traits": {
        "smithy.api#title": "OpenAI API",
        "smithy.api#documentation": "The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details."
      }
    }
  }
}
