{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openai.group_users#ListGroupUsersRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.openai.group_users#ListGroupUsersRequest": {
      "type": "structure",
      "members": {
        "group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the group to inspect."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "A limit on the number of users to be returned. Limit can range between 0 and 1000, and the default is 100.\n"
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "A cursor for use in pagination. Provide the ID of the last user from the previous list response to retrieve the next page.\n"
          }
        },
        "order": {
          "target": "com.openai.group_users#ListGroupUsersRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Specifies the sort order of users in the list."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.group_users#UserListResource": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.group_users#UserListResourceObject",
          "traits": {
            "smithy.api#documentation": "Always `list`.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.group_users#UserListResourceDataList",
          "traits": {
            "smithy.api#documentation": "Users in the current page.",
            "smithy.api#required": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether more users are available when paginating.",
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor to fetch the next page of results, or `null` when no further users are available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paginated list of user objects returned when inspecting group membership."
      }
    },
    "com.openai.group_users#UserListResourceObject": {
      "type": "enum",
      "members": {
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always `list`."
      }
    },
    "com.openai.group_users#GroupUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier, which can be referenced in API endpoints",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the user.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the user.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an individual user returned when inspecting group membership."
      }
    },
    "com.openai.group_users#UserListResourceDataList": {
      "type": "list",
      "member": {
        "target": "com.openai.group_users#GroupUser"
      },
      "traits": {
        "smithy.api#documentation": "Users in the current page."
      }
    },
    "com.openai.group_users#ListGroupUsers": {
      "type": "operation",
      "input": {
        "target": "com.openai.group_users#ListGroupUsersRequest"
      },
      "output": {
        "target": "com.openai.group_users#UserListResource"
      },
      "errors": [
        {
          "target": "com.openai.group_users#BadRequest"
        },
        {
          "target": "com.openai.group_users#Forbidden"
        },
        {
          "target": "com.openai.group_users#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organization/groups/{group_id}/users",
          "code": 200
        },
        "smithy.api#documentation": "List group users\n\nLists the users assigned to a group.",
        "com.distilled.openai#adminAuth": {},
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "after",
          "outputToken": "next",
          "items": "data",
          "pageSize": "limit"
        }
      }
    },
    "com.openai.group_users#AddGroupUserRequest": {
      "type": "structure",
      "members": {
        "group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the group to update."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the user to add to the group.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.group_users#GroupUserAssignment": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.group_users#GroupUserAssignmentObject",
          "traits": {
            "smithy.api#documentation": "Always `group.user`.",
            "smithy.api#required": {}
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the user that was added.",
            "smithy.api#required": {}
          }
        },
        "group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the group the user was added to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Confirmation payload returned after adding a user to a group."
      }
    },
    "com.openai.group_users#GroupUserAssignmentObject": {
      "type": "enum",
      "members": {
        "GROUP_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group.user"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always `group.user`."
      }
    },
    "com.openai.group_users#AddGroupUser": {
      "type": "operation",
      "input": {
        "target": "com.openai.group_users#AddGroupUserRequest"
      },
      "output": {
        "target": "com.openai.group_users#GroupUserAssignment"
      },
      "errors": [
        {
          "target": "com.openai.group_users#BadRequest"
        },
        {
          "target": "com.openai.group_users#Forbidden"
        },
        {
          "target": "com.openai.group_users#NotFound"
        },
        {
          "target": "com.openai.group_users#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organization/groups/{group_id}/users",
          "code": 200
        },
        "smithy.api#documentation": "Add group user\n\nAdds a user to a group.",
        "com.distilled.openai#adminAuth": {}
      }
    },
    "com.openai.group_users#GetGroupUserRequest": {
      "type": "structure",
      "members": {
        "group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the group to inspect."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the user to retrieve from the group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.group_users#GroupMemberUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the user.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the user.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the user, or `null` for users without an email.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "picture": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the user's profile picture, if available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_service_account": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user is a service account.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "user_type": {
          "target": "com.openai.group_users#GroupMemberUserUserType",
          "traits": {
            "smithy.api#documentation": "The type of user.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about a user returned from an organization group membership lookup."
      }
    },
    "com.openai.group_users#GroupMemberUserUserType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "TENANT_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tenant_user"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of user."
      }
    },
    "com.openai.group_users#GetGroupUser": {
      "type": "operation",
      "input": {
        "target": "com.openai.group_users#GetGroupUserRequest"
      },
      "output": {
        "target": "com.openai.group_users#GroupMemberUser"
      },
      "errors": [
        {
          "target": "com.openai.group_users#BadRequest"
        },
        {
          "target": "com.openai.group_users#Forbidden"
        },
        {
          "target": "com.openai.group_users#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organization/groups/{group_id}/users/{user_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve group user\n\nRetrieves a user in a group.",
        "com.distilled.openai#adminAuth": {}
      }
    },
    "com.openai.group_users#RemoveGroupUserRequest": {
      "type": "structure",
      "members": {
        "group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the group to update."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the user to remove from the group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.group_users#GroupUserDeletedResource": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.group_users#GroupUserDeletedResourceObject",
          "traits": {
            "smithy.api#documentation": "Always `group.user.deleted`.",
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the group membership was removed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Confirmation payload returned after removing a user from a group."
      }
    },
    "com.openai.group_users#GroupUserDeletedResourceObject": {
      "type": "enum",
      "members": {
        "GROUP_USER_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group.user.deleted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always `group.user.deleted`."
      }
    },
    "com.openai.group_users#RemoveGroupUser": {
      "type": "operation",
      "input": {
        "target": "com.openai.group_users#RemoveGroupUserRequest"
      },
      "output": {
        "target": "com.openai.group_users#GroupUserDeletedResource"
      },
      "errors": [
        {
          "target": "com.openai.group_users#BadRequest"
        },
        {
          "target": "com.openai.group_users#Forbidden"
        },
        {
          "target": "com.openai.group_users#NotFound"
        },
        {
          "target": "com.openai.group_users#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/organization/groups/{group_id}/users/{user_id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove group user\n\nRemoves a user from a group.",
        "com.distilled.openai#adminAuth": {}
      }
    },
    "com.openai.group_users#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.openai.group_users#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.openai.group_users#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.openai.group_users#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.openai.group_users#GroupUsers": {
      "type": "service",
      "version": "2.3.0",
      "operations": [
        {
          "target": "com.openai.group_users#ListGroupUsers"
        },
        {
          "target": "com.openai.group_users#AddGroupUser"
        },
        {
          "target": "com.openai.group_users#GetGroupUser"
        },
        {
          "target": "com.openai.group_users#RemoveGroupUser"
        }
      ],
      "traits": {
        "smithy.api#title": "OpenAI API",
        "smithy.api#documentation": "The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details."
      }
    }
  }
}
