{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openai.images#CreateImageEditRequestModelCase1": {
      "type": "enum",
      "members": {
        "GPT_IMAGE_1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-1.5"
          }
        },
        "GPT_IMAGE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-2"
          }
        },
        "GPT_IMAGE_2_2026_04_21": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-2-2026-04-21"
          }
        },
        "GPT_IMAGE_2_5_SUNBURST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-2.5-sunburst"
          }
        },
        "GPT_IMAGE_2_5_SUNBURST_2026_09_08": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-2.5-sunburst-2026-09-08"
          }
        },
        "GPT_IMAGE_2_5_FLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-2.5-flare"
          }
        },
        "GPT_IMAGE_2_5_FLARE_2026_09_08": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-2.5-flare-2026-09-08"
          }
        },
        "GPT_IMAGE_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-1"
          }
        },
        "GPT_IMAGE_1_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-1-mini"
          }
        },
        "CHATGPT_IMAGE_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chatgpt-image-latest"
          }
        }
      },
      "traits": {}
    },
    "com.openai.images#CreateImageEditRequestModel": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.images#CreateImageEditRequestModelCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The GPT image model to use for image editing, including `gpt-image-2`, its dated snapshot `gpt-image-2-2026-04-21`, `gpt-image-2.5-sunburst`, `gpt-image-2.5-sunburst-2026-09-08`, `gpt-image-2.5-flare`, and `gpt-image-2.5-flare-2026-09-08`. Defaults to `gpt-image-2.5-sunburst`."
      }
    },
    "com.openai.images#CreateImageEditRequestImagesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Input image references to edit.\nFor GPT image models, you can provide up to 16 images.\n"
      }
    },
    "com.openai.images#CreateImageEditRequestQuality": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {}
    },
    "com.openai.images#CreateImageEditRequestInputFidelity": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        }
      },
      "traits": {}
    },
    "com.openai.images#CreateImageEditRequestSizeCase1": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "_1024X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1024"
          }
        },
        "_1536X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1536x1024"
          }
        },
        "_1024X1536": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1536"
          }
        }
      },
      "traits": {}
    },
    "com.openai.images#CreateImageEditRequestSize": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.images#CreateImageEditRequestSizeCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The size of the generated images. For `gpt-image-2`, `gpt-image-2-2026-04-21`, `gpt-image-2.5-sunburst`, `gpt-image-2.5-sunburst-2026-09-08`, `gpt-image-2.5-flare`, and `gpt-image-2.5-flare-2026-09-08`, arbitrary resolutions are supported as `WIDTHxHEIGHT` strings, for example `1536x864`. Width and height must both be divisible by 16 and the requested aspect ratio must be between 1:3 and 3:1. Resolutions above `2560x1440` are experimental, and the maximum supported resolution is `3840x2160`. The requested size must also satisfy the model's current pixel and edge limits. The standard sizes `1024x1024`, `1536x1024`, and `1024x1536` are supported by the GPT image models; `auto` is supported for models that allow automatic sizing."
      }
    },
    "com.openai.images#CreateImageEditRequestOutputFormat": {
      "type": "enum",
      "members": {
        "PNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "png"
          }
        },
        "JPEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpeg"
          }
        },
        "WEBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webp"
          }
        }
      },
      "traits": {}
    },
    "com.openai.images#CreateImageEditRequestModeration": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {}
    },
    "com.openai.images#CreateImageEditRequestBackground": {
      "type": "enum",
      "members": {
        "TRANSPARENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transparent"
          }
        },
        "OPAQUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opaque"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {}
    },
    "com.openai.images#CreateImageEditRequest": {
      "type": "structure",
      "members": {
        "model": {
          "target": "com.openai.images#CreateImageEditRequestModel",
          "traits": {
            "smithy.api#documentation": "The GPT image model to use for image editing, including `gpt-image-2`, its dated snapshot `gpt-image-2-2026-04-21`, `gpt-image-2.5-sunburst`, `gpt-image-2.5-sunburst-2026-09-08`, `gpt-image-2.5-flare`, and `gpt-image-2.5-flare-2026-09-08`. Defaults to `gpt-image-2.5-sunburst`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "images": {
          "target": "com.openai.images#CreateImageEditRequestImagesList",
          "traits": {
            "smithy.api#documentation": "Input image references to edit.\nFor GPT image models, you can provide up to 16 images.\n",
            "smithy.api#required": {}
          }
        },
        "mask": {
          "target": "smithy.api#Document"
        },
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A text description of the desired image edit.",
            "smithy.api#required": {}
          }
        },
        "n": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of edited images to generate.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "quality": {
          "target": "com.openai.images#CreateImageEditRequestQuality",
          "traits": {
            "smithy.api#documentation": "Output quality for GPT image models. The GPT image models support `low`, `medium`,\nand `high`. `gpt-image-2.5-sunburst` and `gpt-image-2.5-flare`, including their\n`2026-09-08` snapshots, also support `xhigh` and `max`. Defaults to `auto`.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "input_fidelity": {
          "target": "com.openai.images#CreateImageEditRequestInputFidelity",
          "traits": {
            "smithy.api#documentation": "Control how much effort the model will exert to match the style and features, especially facial features, of input images. Supports `high` and `low` on `gpt-image-1` and `gpt-image-1.5`; `gpt-image-1-mini` supports only `low`. For `gpt-image-2`, omit this parameter. Defaults to `low` on supported models.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "size": {
          "target": "com.openai.images#CreateImageEditRequestSize",
          "traits": {
            "smithy.api#documentation": "The size of the generated images. For `gpt-image-2`, `gpt-image-2-2026-04-21`, `gpt-image-2.5-sunburst`, `gpt-image-2.5-sunburst-2026-09-08`, `gpt-image-2.5-flare`, and `gpt-image-2.5-flare-2026-09-08`, arbitrary resolutions are supported as `WIDTHxHEIGHT` strings, for example `1536x864`. Width and height must both be divisible by 16 and the requested aspect ratio must be between 1:3 and 3:1. Resolutions above `2560x1440` are experimental, and the maximum supported resolution is `3840x2160`. The requested size must also satisfy the model's current pixel and edge limits. The standard sizes `1024x1024`, `1536x1024`, and `1024x1536` are supported by the GPT image models; `auto` is supported for models that allow automatic sizing.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier representing your end-user, which can help OpenAI\nmonitor and detect abuse.\n"
          }
        },
        "output_format": {
          "target": "com.openai.images#CreateImageEditRequestOutputFormat",
          "traits": {
            "smithy.api#documentation": "Output image format. Supported for GPT image models.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "output_compression": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Compression level for `jpeg` or `webp` output.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "moderation": {
          "target": "com.openai.images#CreateImageEditRequestModeration",
          "traits": {
            "smithy.api#documentation": "Moderation level for GPT image models.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "background": {
          "target": "com.openai.images#CreateImageEditRequestBackground",
          "traits": {
            "smithy.api#documentation": "Set the background of the generated image output. `gpt-image-2.5-sunburst` and `gpt-image-2.5-flare`, including their `2026-09-08` snapshots, support `opaque` and `transparent` backgrounds. Transparent backgrounds are available for supported GPT Image models. For `gpt-image-2` and `gpt-image-2-2026-04-21`, this support is in preview. When using `transparent`, set the output format to `png` or `webp`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "stream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Stream partial image results as events.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "partial_images": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.images#ImagesResponse": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) of when the image was created.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.images#ImagesResponseDataList",
          "traits": {
            "smithy.api#documentation": "The list of generated images."
          }
        },
        "background": {
          "target": "com.openai.images#ImagesResponseBackground",
          "traits": {
            "smithy.api#documentation": "The background parameter used for the image generation. Either `transparent` or `opaque`."
          }
        },
        "output_format": {
          "target": "com.openai.images#ImagesResponseOutputFormat",
          "traits": {
            "smithy.api#documentation": "The output format of the image generation. Either `png`, `webp`, or `jpeg`."
          }
        },
        "size": {
          "target": "com.openai.images#ImagesResponseSize",
          "traits": {
            "smithy.api#documentation": "The image dimensions as a `WIDTHxHEIGHT` string, for example `1536x864`."
          }
        },
        "quality": {
          "target": "com.openai.images#ImagesResponseQuality",
          "traits": {
            "smithy.api#documentation": "The quality of the image generated. One of `low`, `medium`, `high`, `xhigh`, or `max`."
          }
        },
        "usage": {
          "target": "com.openai.images#ImageGenUsage"
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from the image generation endpoint."
      }
    },
    "com.openai.images#Image": {
      "type": "structure",
      "members": {
        "b64_json": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base64-encoded JSON of the generated image. Returned by default for GPT image models, or when `response_format` is set to `b64_json` for models that support that parameter."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the generated image when `response_format` is set to `url` for models that support that parameter. Unsupported for GPT image models."
          }
        },
        "revised_prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The revised prompt used to generate the image, for models that support prompt revision. Not returned by GPT image models."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the content or the URL of an image generated by the OpenAI API."
      }
    },
    "com.openai.images#ImagesResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.openai.images#Image"
      },
      "traits": {
        "smithy.api#documentation": "The list of generated images."
      }
    },
    "com.openai.images#ImagesResponseBackground": {
      "type": "enum",
      "members": {
        "TRANSPARENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transparent"
          }
        },
        "OPAQUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opaque"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The background parameter used for the image generation. Either `transparent` or `opaque`."
      }
    },
    "com.openai.images#ImagesResponseOutputFormat": {
      "type": "enum",
      "members": {
        "PNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "png"
          }
        },
        "WEBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webp"
          }
        },
        "JPEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpeg"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The output format of the image generation. Either `png`, `webp`, or `jpeg`."
      }
    },
    "com.openai.images#ImagesResponseSizeCase1": {
      "type": "enum",
      "members": {
        "_1024X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1024"
          }
        },
        "_1024X1536": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1536"
          }
        },
        "_1536X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1536x1024"
          }
        }
      },
      "traits": {}
    },
    "com.openai.images#ImagesResponseSize": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.images#ImagesResponseSizeCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The image dimensions as a `WIDTHxHEIGHT` string, for example `1536x864`."
      }
    },
    "com.openai.images#ImagesResponseQuality": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The quality of the image generated. One of `low`, `medium`, `high`, `xhigh`, or `max`."
      }
    },
    "com.openai.images#ImageGenUsage": {
      "type": "structure",
      "members": {
        "input_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of tokens (images and text) in the input prompt.",
            "smithy.api#required": {}
          }
        },
        "total_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of tokens (images and text) used for the image generation.",
            "smithy.api#required": {}
          }
        },
        "output_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of output tokens generated by the model.",
            "smithy.api#required": {}
          }
        },
        "output_tokens_details": {
          "target": "com.openai.images#ImageGenOutputTokensDetails"
        },
        "input_tokens_details": {
          "target": "com.openai.images#ImageGenInputUsageDetails",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For `gpt-image-1` only, the token usage information for the image generation."
      }
    },
    "com.openai.images#ImageGenOutputTokensDetails": {
      "type": "structure",
      "members": {
        "image_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of image output tokens generated by the model.",
            "smithy.api#required": {}
          }
        },
        "text_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of text output tokens generated by the model.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The output token details for the image generation."
      }
    },
    "com.openai.images#ImageGenInputUsageDetails": {
      "type": "structure",
      "members": {
        "text_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of text tokens in the input prompt.",
            "smithy.api#required": {}
          }
        },
        "image_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of image tokens in the input prompt.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The input tokens detailed information for the image generation."
      }
    },
    "com.openai.images#CreateImageEdit": {
      "type": "operation",
      "input": {
        "target": "com.openai.images#CreateImageEditRequest"
      },
      "output": {
        "target": "com.openai.images#ImagesResponse"
      },
      "errors": [
        {
          "target": "com.openai.images#BadRequest"
        },
        {
          "target": "com.openai.images#Forbidden"
        },
        {
          "target": "com.openai.images#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/images/edits",
          "code": 200
        },
        "smithy.api#documentation": "Create image edit\n\nCreates an edited or extended image given one or more source images and a prompt. This endpoint supports GPT Image models."
      }
    },
    "com.openai.images#ImageEditStreamEvent": {
      "type": "union",
      "members": {
        "ImageEditPartialImageEvent": {
          "target": "com.openai.images#ImageEditPartialImageEvent"
        },
        "ImageEditCompletedEvent": {
          "target": "com.openai.images#ImageEditCompletedEvent"
        }
      },
      "traits": {}
    },
    "com.openai.images#ImageEditPartialImageEvent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.images#ImageEditPartialImageEventType",
          "traits": {
            "smithy.api#documentation": "The type of the event. Always `image_edit.partial_image`.\n",
            "smithy.api#required": {}
          }
        },
        "b64_json": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded partial image data, suitable for rendering as an image.\n",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp when the event was created.\n",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "com.openai.images#ImageEditPartialImageEventSize",
          "traits": {
            "smithy.api#documentation": "The image dimensions as a `WIDTHxHEIGHT` string, for example `1536x864`.",
            "smithy.api#required": {}
          }
        },
        "quality": {
          "target": "com.openai.images#ImageEditPartialImageEventQuality",
          "traits": {
            "smithy.api#documentation": "The quality setting for the requested edited image.\n",
            "smithy.api#required": {}
          }
        },
        "background": {
          "target": "com.openai.images#ImageEditPartialImageEventBackground",
          "traits": {
            "smithy.api#documentation": "The background setting for the requested edited image.\n",
            "smithy.api#required": {}
          }
        },
        "output_format": {
          "target": "com.openai.images#ImageEditPartialImageEventOutputFormat",
          "traits": {
            "smithy.api#documentation": "The output format for the requested edited image.\n",
            "smithy.api#required": {}
          }
        },
        "partial_image_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "0-based index for the partial image (streaming).\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Emitted when a partial image is available during image editing streaming.\n"
      }
    },
    "com.openai.images#ImageEditPartialImageEventType": {
      "type": "enum",
      "members": {
        "IMAGE_EDIT_PARTIAL_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_edit.partial_image"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the event. Always `image_edit.partial_image`.\n"
      }
    },
    "com.openai.images#ImageEditPartialImageEventSizeCase1": {
      "type": "enum",
      "members": {
        "_1024X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1024"
          }
        },
        "_1024X1536": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1536"
          }
        },
        "_1536X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1536x1024"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {}
    },
    "com.openai.images#ImageEditPartialImageEventSize": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.images#ImageEditPartialImageEventSizeCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The image dimensions as a `WIDTHxHEIGHT` string, for example `1536x864`."
      }
    },
    "com.openai.images#ImageEditPartialImageEventQuality": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The quality setting for the requested edited image.\n"
      }
    },
    "com.openai.images#ImageEditPartialImageEventBackground": {
      "type": "enum",
      "members": {
        "TRANSPARENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transparent"
          }
        },
        "OPAQUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opaque"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The background setting for the requested edited image.\n"
      }
    },
    "com.openai.images#ImageEditPartialImageEventOutputFormat": {
      "type": "enum",
      "members": {
        "PNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "png"
          }
        },
        "WEBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webp"
          }
        },
        "JPEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpeg"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The output format for the requested edited image.\n"
      }
    },
    "com.openai.images#ImageEditCompletedEvent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.images#ImageEditCompletedEventType",
          "traits": {
            "smithy.api#documentation": "The type of the event. Always `image_edit.completed`.\n",
            "smithy.api#required": {}
          }
        },
        "b64_json": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded final edited image data, suitable for rendering as an image.\n",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp when the event was created.\n",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "com.openai.images#ImageEditCompletedEventSize",
          "traits": {
            "smithy.api#documentation": "The image dimensions as a `WIDTHxHEIGHT` string, for example `1536x864`.",
            "smithy.api#required": {}
          }
        },
        "quality": {
          "target": "com.openai.images#ImageEditCompletedEventQuality",
          "traits": {
            "smithy.api#documentation": "The quality setting for the edited image.\n",
            "smithy.api#required": {}
          }
        },
        "background": {
          "target": "com.openai.images#ImageEditCompletedEventBackground",
          "traits": {
            "smithy.api#documentation": "The background setting for the edited image.\n",
            "smithy.api#required": {}
          }
        },
        "output_format": {
          "target": "com.openai.images#ImageEditCompletedEventOutputFormat",
          "traits": {
            "smithy.api#documentation": "The output format for the edited image.\n",
            "smithy.api#required": {}
          }
        },
        "usage": {
          "target": "com.openai.images#ImagesUsage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Emitted when image editing has completed and the final image is available.\n"
      }
    },
    "com.openai.images#ImageEditCompletedEventType": {
      "type": "enum",
      "members": {
        "IMAGE_EDIT_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_edit.completed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the event. Always `image_edit.completed`.\n"
      }
    },
    "com.openai.images#ImageEditCompletedEventSizeCase1": {
      "type": "enum",
      "members": {
        "_1024X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1024"
          }
        },
        "_1024X1536": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1536"
          }
        },
        "_1536X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1536x1024"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {}
    },
    "com.openai.images#ImageEditCompletedEventSize": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.images#ImageEditCompletedEventSizeCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The image dimensions as a `WIDTHxHEIGHT` string, for example `1536x864`."
      }
    },
    "com.openai.images#ImageEditCompletedEventQuality": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The quality setting for the edited image.\n"
      }
    },
    "com.openai.images#ImageEditCompletedEventBackground": {
      "type": "enum",
      "members": {
        "TRANSPARENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transparent"
          }
        },
        "OPAQUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opaque"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The background setting for the edited image.\n"
      }
    },
    "com.openai.images#ImageEditCompletedEventOutputFormat": {
      "type": "enum",
      "members": {
        "PNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "png"
          }
        },
        "WEBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webp"
          }
        },
        "JPEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpeg"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The output format for the edited image.\n"
      }
    },
    "com.openai.images#ImagesUsage": {
      "type": "structure",
      "members": {
        "total_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of tokens (images and text) used for the image generation.\n",
            "smithy.api#required": {}
          }
        },
        "input_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of tokens (images and text) in the input prompt.",
            "smithy.api#required": {}
          }
        },
        "output_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of image tokens in the output image.",
            "smithy.api#required": {}
          }
        },
        "input_tokens_details": {
          "target": "com.openai.images#ImagesUsageInputTokensDetails",
          "traits": {
            "smithy.api#documentation": "The input tokens detailed information for the image generation.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For the GPT image models only, the token usage information for the image generation.\n"
      }
    },
    "com.openai.images#ImagesUsageInputTokensDetails": {
      "type": "structure",
      "members": {
        "text_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of text tokens in the input prompt.",
            "smithy.api#required": {}
          }
        },
        "image_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of image tokens in the input prompt.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The input tokens detailed information for the image generation."
      }
    },
    "com.openai.images#CreateImageEditStreamResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.openai.images#ImageEditStreamEvent",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.openai.images#CreateImageEditStream": {
      "type": "operation",
      "input": {
        "target": "com.openai.images#CreateImageEditRequest"
      },
      "output": {
        "target": "com.openai.images#CreateImageEditStreamResponse"
      },
      "errors": [
        {
          "target": "com.openai.images#BadRequest"
        },
        {
          "target": "com.openai.images#Forbidden"
        },
        {
          "target": "com.openai.images#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/images/edits",
          "code": 200
        },
        "smithy.api#documentation": "Create image edit\n\nCreates an edited or extended image given one or more source images and a prompt. This endpoint supports GPT Image models.",
        "com.distilled#eventStream": {
          "requestFlag": "stream"
        }
      }
    },
    "com.openai.images#CreateImageRequestModelCase1": {
      "type": "enum",
      "members": {
        "GPT_IMAGE_1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-1.5"
          }
        },
        "GPT_IMAGE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-2"
          }
        },
        "GPT_IMAGE_2_2026_04_21": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-2-2026-04-21"
          }
        },
        "GPT_IMAGE_2_5_SUNBURST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-2.5-sunburst"
          }
        },
        "GPT_IMAGE_2_5_SUNBURST_2026_09_08": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-2.5-sunburst-2026-09-08"
          }
        },
        "GPT_IMAGE_2_5_FLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-2.5-flare"
          }
        },
        "GPT_IMAGE_2_5_FLARE_2026_09_08": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-2.5-flare-2026-09-08"
          }
        },
        "GPT_IMAGE_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-1"
          }
        },
        "GPT_IMAGE_1_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-1-mini"
          }
        },
        "CHATGPT_IMAGE_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chatgpt-image-latest"
          }
        },
        "DALL_E_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dall-e-2"
          }
        },
        "DALL_E_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dall-e-3"
          }
        }
      },
      "traits": {}
    },
    "com.openai.images#CreateImageRequestModel": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.images#CreateImageRequestModelCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The GPT image model to use for image generation. Specify a model explicitly. Supported models include `gpt-image-1`, `gpt-image-1-mini`, `gpt-image-1.5`, `gpt-image-2`, `gpt-image-2-2026-04-21`, `gpt-image-2.5-sunburst`, `gpt-image-2.5-sunburst-2026-09-08`, `gpt-image-2.5-flare`, `gpt-image-2.5-flare-2026-09-08`, and `chatgpt-image-latest`."
      }
    },
    "com.openai.images#CreateImageRequestQuality": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "HD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hd"
          }
        }
      },
      "traits": {}
    },
    "com.openai.images#CreateImageRequestResponseFormat": {
      "type": "enum",
      "members": {
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        },
        "B64_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "b64_json"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Legacy response format parameter for retired image models. Unsupported for GPT image models, which always return base64-encoded images."
      }
    },
    "com.openai.images#CreateImageRequestOutputFormat": {
      "type": "enum",
      "members": {
        "PNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "png"
          }
        },
        "JPEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpeg"
          }
        },
        "WEBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webp"
          }
        }
      },
      "traits": {}
    },
    "com.openai.images#CreateImageRequestSizeCase1": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "_1024X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1024"
          }
        },
        "_1536X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1536x1024"
          }
        },
        "_1024X1536": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1536"
          }
        },
        "_256X256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "256x256"
          }
        },
        "_512X512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "512x512"
          }
        },
        "_1792X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1792x1024"
          }
        },
        "_1024X1792": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1792"
          }
        }
      },
      "traits": {}
    },
    "com.openai.images#CreateImageRequestSize": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.images#CreateImageRequestSizeCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The size of the generated images. For `gpt-image-2`, `gpt-image-2-2026-04-21`, `gpt-image-2.5-sunburst`, `gpt-image-2.5-sunburst-2026-09-08`, `gpt-image-2.5-flare`, and `gpt-image-2.5-flare-2026-09-08`, arbitrary resolutions are supported as `WIDTHxHEIGHT` strings, for example `1536x864`. Width and height must both be divisible by 16 and the requested aspect ratio must be between 1:3 and 3:1. Resolutions above `2560x1440` are experimental, and the maximum supported resolution is `3840x2160`. The requested size must also satisfy the model's current pixel and edge limits. The standard sizes `1024x1024`, `1536x1024`, and `1024x1536` are supported by the GPT image models; `auto` is supported for models that allow automatic sizing."
      }
    },
    "com.openai.images#CreateImageRequestModeration": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {}
    },
    "com.openai.images#CreateImageRequestBackground": {
      "type": "enum",
      "members": {
        "TRANSPARENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transparent"
          }
        },
        "OPAQUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opaque"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {}
    },
    "com.openai.images#CreateImageRequestStyle": {
      "type": "enum",
      "members": {
        "VIVID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vivid"
          }
        },
        "NATURAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "natural"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Legacy style parameter for retired image models. Unsupported for GPT image models; describe the desired style in the prompt instead."
      }
    },
    "com.openai.images#CreateImageRequest": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A text description of the desired image(s). The maximum length is 32000 characters.",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "com.openai.images#CreateImageRequestModel",
          "traits": {
            "smithy.api#documentation": "The GPT image model to use for image generation. Specify a model explicitly. Supported models include `gpt-image-1`, `gpt-image-1-mini`, `gpt-image-1.5`, `gpt-image-2`, `gpt-image-2-2026-04-21`, `gpt-image-2.5-sunburst`, `gpt-image-2.5-sunburst-2026-09-08`, `gpt-image-2.5-flare`, `gpt-image-2.5-flare-2026-09-08`, and `chatgpt-image-latest`.",
            "smithy.api#required": {}
          }
        },
        "n": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of images to generate. Must be between 1 and 10.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "quality": {
          "target": "com.openai.images#CreateImageRequestQuality",
          "traits": {
            "smithy.api#documentation": "The quality of the image that will be generated.\n\n- `auto` (default value) will automatically select the best quality for the given\n  model.\n- `high`, `medium` and `low` are supported for the GPT image models.\n- `gpt-image-2.5-sunburst` and `gpt-image-2.5-flare`, including their `2026-09-08`\n  snapshots, also support `xhigh` and `max`.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "response_format": {
          "target": "com.openai.images#CreateImageRequestResponseFormat",
          "traits": {
            "smithy.api#documentation": "Legacy response format parameter for retired image models. Unsupported for GPT image models, which always return base64-encoded images.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "output_format": {
          "target": "com.openai.images#CreateImageRequestOutputFormat",
          "traits": {
            "smithy.api#documentation": "The format in which the generated images are returned. This parameter is only supported for the GPT image models. Must be one of `png`, `jpeg`, or `webp`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "output_compression": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The compression level (0-100%) for the generated images. This parameter is only supported for the GPT image models with the `webp` or `jpeg` output formats, and defaults to 100.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "stream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Generate the image in streaming mode. Defaults to `false`. See the\n[Image generation guide](https://developers.openai.com/api/docs/guides/image-generation) for more information.\nThis parameter is only supported for the GPT image models.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "partial_images": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "size": {
          "target": "com.openai.images#CreateImageRequestSize",
          "traits": {
            "smithy.api#documentation": "The size of the generated images. For `gpt-image-2`, `gpt-image-2-2026-04-21`, `gpt-image-2.5-sunburst`, `gpt-image-2.5-sunburst-2026-09-08`, `gpt-image-2.5-flare`, and `gpt-image-2.5-flare-2026-09-08`, arbitrary resolutions are supported as `WIDTHxHEIGHT` strings, for example `1536x864`. Width and height must both be divisible by 16 and the requested aspect ratio must be between 1:3 and 3:1. Resolutions above `2560x1440` are experimental, and the maximum supported resolution is `3840x2160`. The requested size must also satisfy the model's current pixel and edge limits. The standard sizes `1024x1024`, `1536x1024`, and `1024x1536` are supported by the GPT image models; `auto` is supported for models that allow automatic sizing.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "moderation": {
          "target": "com.openai.images#CreateImageRequestModeration",
          "traits": {
            "smithy.api#documentation": "Control the content-moderation level for images generated by the GPT image models. Must be either `low` for less restrictive filtering or `auto` (default value).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "background": {
          "target": "com.openai.images#CreateImageRequestBackground",
          "traits": {
            "smithy.api#documentation": "Set the background of the generated image(s). This parameter is only supported for\nthe GPT image models. Must be one of `transparent`, `opaque`, or `auto` (default\nvalue). When `auto` is used, the model will automatically determine the best\nbackground for the image.\n\n`gpt-image-2.5-sunburst` and `gpt-image-2.5-flare`, including their `2026-09-08`\nsnapshots, support `opaque` and `transparent` backgrounds. Transparent backgrounds\nare available for supported GPT Image models. For `gpt-image-2` and\n`gpt-image-2-2026-04-21`, this support is in preview. When using `transparent`,\nset the output format to `png` or `webp`.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "style": {
          "target": "com.openai.images#CreateImageRequestStyle",
          "traits": {
            "smithy.api#documentation": "Legacy style parameter for retired image models. Unsupported for GPT image models; describe the desired style in the prompt instead.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier representing your end-user, which can help OpenAI to monitor and detect abuse. [Learn more](https://developers.openai.com/api/docs/guides/safety-best-practices#implement-safety-identifiers).\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.images#CreateImage": {
      "type": "operation",
      "input": {
        "target": "com.openai.images#CreateImageRequest"
      },
      "output": {
        "target": "com.openai.images#ImagesResponse"
      },
      "errors": [
        {
          "target": "com.openai.images#BadRequest"
        },
        {
          "target": "com.openai.images#Forbidden"
        },
        {
          "target": "com.openai.images#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/images/generations",
          "code": 200
        },
        "smithy.api#documentation": "Create image\n\nCreates an image given a prompt using a GPT Image model. [Learn more](https://developers.openai.com/api/docs/guides/images-vision)."
      }
    },
    "com.openai.images#ImageGenStreamEvent": {
      "type": "union",
      "members": {
        "ImageGenPartialImageEvent": {
          "target": "com.openai.images#ImageGenPartialImageEvent"
        },
        "ImageGenCompletedEvent": {
          "target": "com.openai.images#ImageGenCompletedEvent"
        }
      },
      "traits": {}
    },
    "com.openai.images#ImageGenPartialImageEvent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.images#ImageGenPartialImageEventType",
          "traits": {
            "smithy.api#documentation": "The type of the event. Always `image_generation.partial_image`.\n",
            "smithy.api#required": {}
          }
        },
        "b64_json": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded partial image data, suitable for rendering as an image.\n",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp when the event was created.\n",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "com.openai.images#ImageGenPartialImageEventSize",
          "traits": {
            "smithy.api#documentation": "The image dimensions as a `WIDTHxHEIGHT` string, for example `1536x864`.",
            "smithy.api#required": {}
          }
        },
        "quality": {
          "target": "com.openai.images#ImageGenPartialImageEventQuality",
          "traits": {
            "smithy.api#documentation": "The quality setting for the requested image.\n",
            "smithy.api#required": {}
          }
        },
        "background": {
          "target": "com.openai.images#ImageGenPartialImageEventBackground",
          "traits": {
            "smithy.api#documentation": "The background setting for the requested image.\n",
            "smithy.api#required": {}
          }
        },
        "output_format": {
          "target": "com.openai.images#ImageGenPartialImageEventOutputFormat",
          "traits": {
            "smithy.api#documentation": "The output format for the requested image.\n",
            "smithy.api#required": {}
          }
        },
        "partial_image_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "0-based index for the partial image (streaming).\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Emitted when a partial image is available during image generation streaming.\n"
      }
    },
    "com.openai.images#ImageGenPartialImageEventType": {
      "type": "enum",
      "members": {
        "IMAGE_GENERATION_PARTIAL_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_generation.partial_image"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the event. Always `image_generation.partial_image`.\n"
      }
    },
    "com.openai.images#ImageGenPartialImageEventSizeCase1": {
      "type": "enum",
      "members": {
        "_1024X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1024"
          }
        },
        "_1024X1536": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1536"
          }
        },
        "_1536X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1536x1024"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {}
    },
    "com.openai.images#ImageGenPartialImageEventSize": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.images#ImageGenPartialImageEventSizeCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The image dimensions as a `WIDTHxHEIGHT` string, for example `1536x864`."
      }
    },
    "com.openai.images#ImageGenPartialImageEventQuality": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The quality setting for the requested image.\n"
      }
    },
    "com.openai.images#ImageGenPartialImageEventBackground": {
      "type": "enum",
      "members": {
        "TRANSPARENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transparent"
          }
        },
        "OPAQUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opaque"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The background setting for the requested image.\n"
      }
    },
    "com.openai.images#ImageGenPartialImageEventOutputFormat": {
      "type": "enum",
      "members": {
        "PNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "png"
          }
        },
        "WEBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webp"
          }
        },
        "JPEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpeg"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The output format for the requested image.\n"
      }
    },
    "com.openai.images#ImageGenCompletedEvent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.images#ImageGenCompletedEventType",
          "traits": {
            "smithy.api#documentation": "The type of the event. Always `image_generation.completed`.\n",
            "smithy.api#required": {}
          }
        },
        "b64_json": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded image data, suitable for rendering as an image.\n",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp when the event was created.\n",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "com.openai.images#ImageGenCompletedEventSize",
          "traits": {
            "smithy.api#documentation": "The image dimensions as a `WIDTHxHEIGHT` string, for example `1536x864`.",
            "smithy.api#required": {}
          }
        },
        "quality": {
          "target": "com.openai.images#ImageGenCompletedEventQuality",
          "traits": {
            "smithy.api#documentation": "The quality setting for the generated image.\n",
            "smithy.api#required": {}
          }
        },
        "background": {
          "target": "com.openai.images#ImageGenCompletedEventBackground",
          "traits": {
            "smithy.api#documentation": "The background setting for the generated image.\n",
            "smithy.api#required": {}
          }
        },
        "output_format": {
          "target": "com.openai.images#ImageGenCompletedEventOutputFormat",
          "traits": {
            "smithy.api#documentation": "The output format for the generated image.\n",
            "smithy.api#required": {}
          }
        },
        "usage": {
          "target": "com.openai.images#ImagesUsage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Emitted when image generation has completed and the final image is available.\n"
      }
    },
    "com.openai.images#ImageGenCompletedEventType": {
      "type": "enum",
      "members": {
        "IMAGE_GENERATION_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_generation.completed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the event. Always `image_generation.completed`.\n"
      }
    },
    "com.openai.images#ImageGenCompletedEventSizeCase1": {
      "type": "enum",
      "members": {
        "_1024X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1024"
          }
        },
        "_1024X1536": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1536"
          }
        },
        "_1536X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1536x1024"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {}
    },
    "com.openai.images#ImageGenCompletedEventSize": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.images#ImageGenCompletedEventSizeCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The image dimensions as a `WIDTHxHEIGHT` string, for example `1536x864`."
      }
    },
    "com.openai.images#ImageGenCompletedEventQuality": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The quality setting for the generated image.\n"
      }
    },
    "com.openai.images#ImageGenCompletedEventBackground": {
      "type": "enum",
      "members": {
        "TRANSPARENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transparent"
          }
        },
        "OPAQUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opaque"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The background setting for the generated image.\n"
      }
    },
    "com.openai.images#ImageGenCompletedEventOutputFormat": {
      "type": "enum",
      "members": {
        "PNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "png"
          }
        },
        "WEBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webp"
          }
        },
        "JPEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpeg"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The output format for the generated image.\n"
      }
    },
    "com.openai.images#CreateImageStreamResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.openai.images#ImageGenStreamEvent",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.openai.images#CreateImageStream": {
      "type": "operation",
      "input": {
        "target": "com.openai.images#CreateImageRequest"
      },
      "output": {
        "target": "com.openai.images#CreateImageStreamResponse"
      },
      "errors": [
        {
          "target": "com.openai.images#BadRequest"
        },
        {
          "target": "com.openai.images#Forbidden"
        },
        {
          "target": "com.openai.images#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/images/generations",
          "code": 200
        },
        "smithy.api#documentation": "Create image\n\nCreates an image given a prompt using a GPT Image model. [Learn more](https://developers.openai.com/api/docs/guides/images-vision).",
        "com.distilled#eventStream": {
          "requestFlag": "stream"
        }
      }
    },
    "com.openai.images#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.openai.images#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.openai.images#Gone": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 410,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 410
          }
        ]
      }
    },
    "com.openai.images#Images": {
      "type": "service",
      "version": "2.3.0",
      "operations": [
        {
          "target": "com.openai.images#CreateImageEdit"
        },
        {
          "target": "com.openai.images#CreateImageEditStream"
        },
        {
          "target": "com.openai.images#CreateImage"
        },
        {
          "target": "com.openai.images#CreateImageStream"
        }
      ],
      "traits": {
        "smithy.api#title": "OpenAI API",
        "smithy.api#documentation": "The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details."
      }
    }
  }
}
