{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openai.live#LiveMediaSessionCreateParams": {
      "type": "structure",
      "members": {
        "model": {
          "target": "com.openai.live#ModelIdsLive",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "instructions": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "audio": {
          "target": "com.openai.live#LiveMediaSessionAudioParam",
          "traits": {
            "smithy.api#documentation": "Startup audio configuration. WebRTC and SIP negotiate their audio format on the media transport."
          }
        },
        "delegation": {
          "target": "com.openai.live#Delegation",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "store": {
          "target": "smithy.api#Boolean"
        },
        "input": {
          "target": "com.openai.live#Input"
        },
        "client": {
          "target": "com.openai.live#LiveClientConfigParam"
        }
      },
      "traits": {
        "smithy.api#documentation": "Startup configuration for a Live media session. Follow the [Live prompting guide](https://developers.openai.com/api/docs/guides/live-prompting) when writing frontend instructions and the backend prompt under delegation.responses.instructions."
      }
    },
    "com.openai.live#ModelIdsLive": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.live#ModelIdsLiveCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The Live model. Required in the session configuration for every transport; do not pass it as a URL query parameter."
      }
    },
    "com.openai.live#ModelIdsLiveCase1": {
      "type": "enum",
      "members": {
        "GPT_LIVE_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-live-1"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveMediaSessionAudioParam": {
      "type": "structure",
      "members": {
        "output": {
          "target": "com.openai.live#LiveInitialSessionAudioOutputParam"
        }
      },
      "traits": {
        "smithy.api#documentation": "Startup audio output configuration. WebRTC and SIP negotiate the media format; audio.format is only accepted for primary WebSockets. Voice cannot change after startup."
      }
    },
    "com.openai.live#LiveInitialSessionAudioOutputParam": {
      "type": "structure",
      "members": {
        "voice": {
          "target": "com.openai.live#LiveInitialSessionAudioOutputParamVoice",
          "traits": {
            "smithy.api#documentation": "The voice used for Live speech, as a built-in voice name or a custom voice object containing its ID. Defaults to `marin` and cannot change after startup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for speech generated by the Live model. Choose the voice before starting the session."
      }
    },
    "com.openai.live#LiveInitialSessionAudioOutputParamVoiceCase0Case1": {
      "type": "enum",
      "members": {
        "ALLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alloy"
          }
        },
        "ASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ash"
          }
        },
        "BALLAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ballad"
          }
        },
        "BEACON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "beacon"
          }
        },
        "BOSSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bossa"
          }
        },
        "BRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brise"
          }
        },
        "CEDAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cedar"
          }
        },
        "CINDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cinder"
          }
        },
        "CORAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coral"
          }
        },
        "DELTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delta"
          }
        },
        "ECHO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "echo"
          }
        },
        "FLITZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flitz"
          }
        },
        "GLEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gleam"
          }
        },
        "HAREMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "harema"
          }
        },
        "JUNI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "juni"
          }
        },
        "MARIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marin"
          }
        },
        "MERIDIAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "meridian"
          }
        },
        "NIRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nira"
          }
        },
        "NOEUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "noeul"
          }
        },
        "NURI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nuri"
          }
        },
        "QUARTZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quartz"
          }
        },
        "RIPPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ripple"
          }
        },
        "SAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sage"
          }
        },
        "SHIMMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shimmer"
          }
        },
        "SHITAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shitan"
          }
        },
        "SILLAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sillage"
          }
        },
        "STONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stone"
          }
        },
        "TEMPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tempo"
          }
        },
        "VERSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verse"
          }
        },
        "VESPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vesper"
          }
        },
        "WILLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "willow"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveInitialSessionAudioOutputParamVoiceCase0": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.live#LiveInitialSessionAudioOutputParamVoiceCase0Case1"
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveCustomVoiceParam": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveInitialSessionAudioOutputParamVoice": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.openai.live#LiveInitialSessionAudioOutputParamVoiceCase0"
        },
        "LiveCustomVoiceParam": {
          "target": "com.openai.live#LiveCustomVoiceParam"
        }
      },
      "traits": {
        "smithy.api#documentation": "The voice used for Live speech, as a built-in voice name or a custom voice object containing its ID. Defaults to `marin` and cannot change after startup."
      }
    },
    "com.openai.live#LiveClientDelegationParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveClientDelegationParamType",
          "traits": {
            "smithy.api#documentation": "The delegation owner. Always `client` for tasks handled by your application.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Delegate tasks to your application. The Live session emits delegation events that your backend handles."
      }
    },
    "com.openai.live#LiveClientDelegationParamType": {
      "type": "enum",
      "members": {
        "CLIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The delegation owner. Always `client` for tasks handled by your application."
      }
    },
    "com.openai.live#LiveResponsesDelegationParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveResponsesDelegationParamType",
          "traits": {
            "smithy.api#documentation": "The delegation owner. Always `responses` for tasks handled by the Responses API.",
            "smithy.api#required": {}
          }
        },
        "responses": {
          "target": "com.openai.live#LiveResponsesDelegationSettingsInputParam",
          "traits": {
            "smithy.api#documentation": "Backend model, prompt, and tools used when the Live session delegates a task to Responses.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Delegate tasks to a Responses model managed by the Live session."
      }
    },
    "com.openai.live#LiveResponsesDelegationParamType": {
      "type": "enum",
      "members": {
        "RESPONSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "responses"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The delegation owner. Always `responses` for tasks handled by the Responses API."
      }
    },
    "com.openai.live#LiveResponsesDelegationSettingsInputParam": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The model used for server-owned Responses delegations.",
            "smithy.api#required": {}
          }
        },
        "instructions": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "max_output_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "service_tier": {
          "target": "com.openai.live#LiveResponsesServiceTier",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "reasoning": {
          "target": "com.openai.live#LiveDelegationReasoningInputParam",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "text": {
          "target": "com.openai.live#LiveDelegationTextInputParam",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tools": {
          "target": "com.openai.live#LiveResponsesDelegationSettingsInputParamToolsList",
          "traits": {
            "smithy.api#documentation": "Tools available to the Responses backend while it handles tasks delegated by the Live model."
          }
        },
        "tool_choice": {
          "target": "com.openai.live#LiveResponsesDelegationSettingsInputParamToolChoice",
          "traits": {
            "smithy.api#documentation": "Controls which tool the Responses backend uses when handling a task delegated by the Live model."
          }
        },
        "parallel_tool_calls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Model, prompt, and tool settings for tasks delegated by the Live session to a Responses backend."
      }
    },
    "com.openai.live#LiveResponsesServiceTier": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "FAST_TIER_TEMP_PILOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fast_tier_temp_pilot"
          }
        },
        "FLEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flex"
          }
        },
        "PRIORITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "priority"
          }
        },
        "ULTRAFAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ultrafast"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveDelegationReasoningInputParam": {
      "type": "structure",
      "members": {
        "effort": {
          "target": "com.openai.live#LiveReasoningEffort",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "summary": {
          "target": "com.openai.live#LiveReasoningSummary",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reasoning options for Responses requests made on behalf of the Live session."
      }
    },
    "com.openai.live#LiveReasoningEffort": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minimal"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveReasoningSummary": {
      "type": "enum",
      "members": {
        "CONCISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "concise"
          }
        },
        "DETAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detailed"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveDelegationTextInputParam": {
      "type": "structure",
      "members": {
        "verbosity": {
          "target": "com.openai.live#LiveTextVerbosity",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Text generation options for the Live session’s Responses backend."
      }
    },
    "com.openai.live#LiveTextVerbosity": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveFunctionToolInputParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveFunctionToolInputParamType",
          "traits": {
            "smithy.api#documentation": "The tool type. Always `function`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name the delegated Responses model uses when calling this function.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "com.openai.live#LiveFunctionToolInputParamParametersMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "strict": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A function tool available to the Responses backend when the Live model delegates a task."
      }
    },
    "com.openai.live#LiveFunctionToolInputParamType": {
      "type": "enum",
      "members": {
        "FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The tool type. Always `function`."
      }
    },
    "com.openai.live#LiveFunctionToolInputParamParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "A JSON Schema object describing the arguments accepted by the function."
      }
    },
    "com.openai.live#LiveWebSearchToolInputParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveWebSearchToolInputParamType",
          "traits": {
            "smithy.api#documentation": "The tool type. Always `web_search`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A web search tool available to the Live session’s Responses backend."
      }
    },
    "com.openai.live#LiveWebSearchToolInputParamType": {
      "type": "enum",
      "members": {
        "WEB_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "web_search"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The tool type. Always `web_search`."
      }
    },
    "com.openai.live#LiveFileSearchToolInputParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveFileSearchToolInputParamType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveFileSearchToolInputParamType": {
      "type": "enum",
      "members": {
        "FILE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file_search"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveCodeInterpreterToolInputParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveCodeInterpreterToolInputParamType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveCodeInterpreterToolInputParamType": {
      "type": "enum",
      "members": {
        "CODE_INTERPRETER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code_interpreter"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveHostedShellToolInputParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveHostedShellToolInputParamType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "com.openai.live#LiveHostedShellToolInputParamEnvironment",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Responses shell tool. Use a hosted container or return local shell results with response.item.create. Domain secrets are not supported."
      }
    },
    "com.openai.live#LiveHostedShellToolInputParamType": {
      "type": "enum",
      "members": {
        "SHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shell"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveHostedShellContainerAutoParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveHostedShellContainerAutoParamType",
          "traits": {
            "smithy.api#documentation": "Automatically creates a container for this request",
            "smithy.api#required": {}
          }
        },
        "file_ids": {
          "target": "com.openai.live#LiveHostedShellContainerAutoParamFileIdsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "memory_limit": {
          "target": "com.openai.live#LiveContainerMemoryLimit",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "network_policy": {
          "target": "com.openai.live#LiveHostedShellContainerAutoParamNetworkPolicy",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "skills": {
          "target": "com.openai.live#LiveHostedShellContainerAutoParamSkillsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveHostedShellContainerAutoParamType": {
      "type": "enum",
      "members": {
        "CONTAINER_AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container_auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Automatically creates a container for this request"
      }
    },
    "com.openai.live#LiveHostedShellContainerAutoParamFileIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "An optional list of uploaded files to make available to your code."
      }
    },
    "com.openai.live#LiveContainerMemoryLimit": {
      "type": "enum",
      "members": {
        "_1G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1g"
          }
        },
        "_4G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "4g"
          }
        },
        "_16G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "16g"
          }
        },
        "_64G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "64g"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveContainerNetworkPolicyDisabledParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveContainerNetworkPolicyDisabledParamType",
          "traits": {
            "smithy.api#documentation": "Disable outbound network access. Always `disabled`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveContainerNetworkPolicyDisabledParamType": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disable outbound network access. Always `disabled`."
      }
    },
    "com.openai.live#LiveHostedShellNetworkPolicyAllowlistParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveHostedShellNetworkPolicyAllowlistParamType",
          "traits": {
            "smithy.api#documentation": "Allow outbound network access only to specified domains. Always `allowlist`.",
            "smithy.api#required": {}
          }
        },
        "allowed_domains": {
          "target": "com.openai.live#LiveHostedShellNetworkPolicyAllowlistParamAllowedDomainsList",
          "traits": {
            "smithy.api#documentation": "A list of allowed domains when type is `allowlist`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveHostedShellNetworkPolicyAllowlistParamType": {
      "type": "enum",
      "members": {
        "ALLOWLIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allowlist"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allow outbound network access only to specified domains. Always `allowlist`."
      }
    },
    "com.openai.live#LiveHostedShellNetworkPolicyAllowlistParamAllowedDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of allowed domains when type is `allowlist`."
      }
    },
    "com.openai.live#LiveHostedShellContainerAutoParamNetworkPolicy": {
      "type": "union",
      "members": {
        "LiveContainerNetworkPolicyDisabledParam": {
          "target": "com.openai.live#LiveContainerNetworkPolicyDisabledParam"
        },
        "LiveHostedShellNetworkPolicyAllowlistParam": {
          "target": "com.openai.live#LiveHostedShellNetworkPolicyAllowlistParam"
        }
      },
      "traits": {
        "smithy.api#documentation": "Network access policy for the container."
      }
    },
    "com.openai.live#LiveSkillReferenceParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveSkillReferenceParamType",
          "traits": {
            "smithy.api#documentation": "References a skill created with the /v1/skills endpoint.",
            "smithy.api#required": {}
          }
        },
        "skill_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the referenced skill.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveSkillReferenceParamType": {
      "type": "enum",
      "members": {
        "SKILL_REFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skill_reference"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "References a skill created with the /v1/skills endpoint."
      }
    },
    "com.openai.live#LiveInlineSkillParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveInlineSkillParamType",
          "traits": {
            "smithy.api#documentation": "Defines an inline skill for this request.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the skill.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the skill.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.openai.live#LiveInlineSkillSourceParam",
          "traits": {
            "smithy.api#documentation": "Inline skill payload",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveInlineSkillParamType": {
      "type": "enum",
      "members": {
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inline"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines an inline skill for this request."
      }
    },
    "com.openai.live#LiveInlineSkillSourceParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveInlineSkillSourceParamType",
          "traits": {
            "smithy.api#documentation": "The type of the inline skill source. Must be `base64`.",
            "smithy.api#required": {}
          }
        },
        "media_type": {
          "target": "com.openai.live#LiveInlineSkillSourceParamMediaType",
          "traits": {
            "smithy.api#documentation": "The media type of the inline skill payload. Must be `application/zip`.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded skill zip bundle.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inline skill payload"
      }
    },
    "com.openai.live#LiveInlineSkillSourceParamType": {
      "type": "enum",
      "members": {
        "BASE64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "base64"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the inline skill source. Must be `base64`."
      }
    },
    "com.openai.live#LiveInlineSkillSourceParamMediaType": {
      "type": "enum",
      "members": {
        "APPLICATION_ZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application/zip"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The media type of the inline skill payload. Must be `application/zip`."
      }
    },
    "com.openai.live#LiveHostedShellContainerAutoParamSkillsItem": {
      "type": "union",
      "members": {
        "LiveSkillReferenceParam": {
          "target": "com.openai.live#LiveSkillReferenceParam"
        },
        "LiveInlineSkillParam": {
          "target": "com.openai.live#LiveInlineSkillParam"
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveHostedShellContainerAutoParamSkillsList": {
      "type": "list",
      "member": {
        "target": "com.openai.live#LiveHostedShellContainerAutoParamSkillsItem"
      },
      "traits": {
        "smithy.api#documentation": "An optional list of skills referenced by id or inline data."
      }
    },
    "com.openai.live#LiveContainerReferenceParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveContainerReferenceParamType",
          "traits": {
            "smithy.api#documentation": "References a container created with the /v1/containers endpoint",
            "smithy.api#required": {}
          }
        },
        "container_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the referenced container.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveContainerReferenceParamType": {
      "type": "enum",
      "members": {
        "CONTAINER_REFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container_reference"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "References a container created with the /v1/containers endpoint"
      }
    },
    "com.openai.live#LiveLocalEnvironmentParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveLocalEnvironmentParamType",
          "traits": {
            "smithy.api#documentation": "Use a local computer environment.",
            "smithy.api#required": {}
          }
        },
        "skills": {
          "target": "com.openai.live#LiveLocalEnvironmentParamSkillsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveLocalEnvironmentParamType": {
      "type": "enum",
      "members": {
        "LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "local"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use a local computer environment."
      }
    },
    "com.openai.live#LiveLocalSkillParam": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the skill.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the skill.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to the directory containing the skill.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveLocalEnvironmentParamSkillsList": {
      "type": "list",
      "member": {
        "target": "com.openai.live#LiveLocalSkillParam"
      },
      "traits": {
        "smithy.api#documentation": "An optional list of skills."
      }
    },
    "com.openai.live#LiveHostedShellToolInputParamEnvironment": {
      "type": "union",
      "members": {
        "LiveHostedShellContainerAutoParam": {
          "target": "com.openai.live#LiveHostedShellContainerAutoParam"
        },
        "LiveContainerReferenceParam": {
          "target": "com.openai.live#LiveContainerReferenceParam"
        },
        "LiveLocalEnvironmentParam": {
          "target": "com.openai.live#LiveLocalEnvironmentParam"
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveImageGenerationToolInputParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveImageGenerationToolInputParamType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveImageGenerationToolInputParamType": {
      "type": "enum",
      "members": {
        "IMAGE_GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_generation"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveMCPToolInputParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveMCPToolInputParamType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveMCPToolInputParamType": {
      "type": "enum",
      "members": {
        "MCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mcp"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveCustomToolInputParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveCustomToolInputParamType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveCustomToolInputParamType": {
      "type": "enum",
      "members": {
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveNamespaceToolInputParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveNamespaceToolInputParamType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveNamespaceToolInputParamType": {
      "type": "enum",
      "members": {
        "NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "namespace"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveToolSearchToolInputParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveToolSearchToolInputParamType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveToolSearchToolInputParamType": {
      "type": "enum",
      "members": {
        "TOOL_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tool_search"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveProgrammaticToolInputParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveProgrammaticToolInputParamType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveProgrammaticToolInputParamType": {
      "type": "enum",
      "members": {
        "PROGRAMMATIC_TOOL_CALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "programmatic_tool_calling"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveComputerToolInputParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveComputerToolInputParamType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveComputerToolInputParamType": {
      "type": "enum",
      "members": {
        "COMPUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "computer"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveApplyPatchToolInputParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveApplyPatchToolInputParamType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveApplyPatchToolInputParamType": {
      "type": "enum",
      "members": {
        "APPLY_PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apply_patch"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveResponsesDelegationSettingsInputParamToolsItem": {
      "type": "union",
      "members": {
        "LiveFunctionToolInputParam": {
          "target": "com.openai.live#LiveFunctionToolInputParam"
        },
        "LiveWebSearchToolInputParam": {
          "target": "com.openai.live#LiveWebSearchToolInputParam"
        },
        "LiveFileSearchToolInputParam": {
          "target": "com.openai.live#LiveFileSearchToolInputParam"
        },
        "LiveCodeInterpreterToolInputParam": {
          "target": "com.openai.live#LiveCodeInterpreterToolInputParam"
        },
        "LiveHostedShellToolInputParam": {
          "target": "com.openai.live#LiveHostedShellToolInputParam"
        },
        "LiveImageGenerationToolInputParam": {
          "target": "com.openai.live#LiveImageGenerationToolInputParam"
        },
        "LiveMCPToolInputParam": {
          "target": "com.openai.live#LiveMCPToolInputParam"
        },
        "LiveCustomToolInputParam": {
          "target": "com.openai.live#LiveCustomToolInputParam"
        },
        "LiveNamespaceToolInputParam": {
          "target": "com.openai.live#LiveNamespaceToolInputParam"
        },
        "LiveToolSearchToolInputParam": {
          "target": "com.openai.live#LiveToolSearchToolInputParam"
        },
        "LiveProgrammaticToolInputParam": {
          "target": "com.openai.live#LiveProgrammaticToolInputParam"
        },
        "LiveComputerToolInputParam": {
          "target": "com.openai.live#LiveComputerToolInputParam"
        },
        "LiveApplyPatchToolInputParam": {
          "target": "com.openai.live#LiveApplyPatchToolInputParam"
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveResponsesDelegationSettingsInputParamToolsList": {
      "type": "list",
      "member": {
        "target": "com.openai.live#LiveResponsesDelegationSettingsInputParamToolsItem"
      },
      "traits": {
        "smithy.api#documentation": "Tools available to the Responses backend while it handles tasks delegated by the Live model."
      }
    },
    "com.openai.live#LiveToolChoiceEnum": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveResponsesDelegationSettingsInputParamToolChoiceCase1Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openai.live#LiveResponsesDelegationSettingsInputParamToolChoice": {
      "type": "union",
      "members": {
        "LiveToolChoiceEnum": {
          "target": "com.openai.live#LiveToolChoiceEnum"
        },
        "Case1": {
          "target": "com.openai.live#LiveResponsesDelegationSettingsInputParamToolChoiceCase1Map"
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls which tool the Responses backend uses when handling a task delegated by the Live model."
      }
    },
    "com.openai.live#Delegation": {
      "type": "union",
      "members": {
        "LiveClientDelegationParam": {
          "target": "com.openai.live#LiveClientDelegationParam"
        },
        "LiveResponsesDelegationParam": {
          "target": "com.openai.live#LiveResponsesDelegationParam"
        }
      },
      "traits": {
        "smithy.api#documentation": "Who handles tasks delegated by the Live model. Omitted or null selects your application; use `responses` to let the API manage a Responses backend."
      }
    },
    "com.openai.live#Input": {
      "type": "list",
      "member": {
        "target": "com.openai.live#LiveInitialItem"
      },
      "traits": {
        "smithy.api#documentation": "Ordered text-only history supplied before startup. Supports developer, user, and assistant messages with one text part each; at most 128 messages and 8,192 rendered tokens in total."
      }
    },
    "com.openai.live#LiveInitialItem": {
      "type": "union",
      "members": {
        "LiveInitialDeveloperMessageItemParam": {
          "target": "com.openai.live#LiveInitialDeveloperMessageItemParam"
        },
        "LiveInitialUserMessageItemParam": {
          "target": "com.openai.live#LiveInitialUserMessageItemParam"
        },
        "LiveInitialAssistantMessageItemParam": {
          "target": "com.openai.live#LiveInitialAssistantMessageItemParam"
        }
      },
      "traits": {
        "smithy.api#documentation": "A developer, user, or assistant message supplied as text history before the Live session starts."
      }
    },
    "com.openai.live#LiveInitialDeveloperMessageItemParam": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.openai.live#LiveInitialDeveloperMessageItemParamType",
          "traits": {
            "smithy.api#documentation": "The history item type. Always `message`."
          }
        },
        "status": {
          "target": "com.openai.live#LiveInitialMessageStatus",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "com.openai.live#LiveInitialDeveloperMessageItemParamRole",
          "traits": {
            "smithy.api#documentation": "The author of this history message. Always `developer`.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.openai.live#LiveInitialDeveloperMessageItemParamContentList",
          "traits": {
            "smithy.api#documentation": "The message content. Supply exactly one text part for the initial Live conversation history.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A developer message included in the initial text history of a Live session."
      }
    },
    "com.openai.live#LiveInitialDeveloperMessageItemParamType": {
      "type": "enum",
      "members": {
        "MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The history item type. Always `message`."
      }
    },
    "com.openai.live#LiveInitialMessageStatus": {
      "type": "enum",
      "members": {
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveInitialDeveloperMessageItemParamRole": {
      "type": "enum",
      "members": {
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "developer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The author of this history message. Always `developer`."
      }
    },
    "com.openai.live#LiveInitialInputTextContentPartParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveInitialInputTextContentPartParamType",
          "traits": {
            "smithy.api#documentation": "The text content type. Always `input_text`."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message text to include in the Live session’s initial conversation history.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Text supplied in a developer or user message when starting a Live session."
      }
    },
    "com.openai.live#LiveInitialInputTextContentPartParamType": {
      "type": "enum",
      "members": {
        "INPUT_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The text content type. Always `input_text`."
      }
    },
    "com.openai.live#LiveInitialDeveloperMessageItemParamContentList": {
      "type": "list",
      "member": {
        "target": "com.openai.live#LiveInitialInputTextContentPartParam"
      },
      "traits": {
        "smithy.api#documentation": "The message content. Supply exactly one text part for the initial Live conversation history."
      }
    },
    "com.openai.live#LiveInitialUserMessageItemParam": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.openai.live#LiveInitialUserMessageItemParamType",
          "traits": {
            "smithy.api#documentation": "The history item type. Always `message`."
          }
        },
        "status": {
          "target": "com.openai.live#LiveInitialMessageStatus",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "com.openai.live#LiveInitialUserMessageItemParamRole",
          "traits": {
            "smithy.api#documentation": "The author of this history message. Always `user`.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.openai.live#LiveInitialUserMessageItemParamContentList",
          "traits": {
            "smithy.api#documentation": "The message content. Supply exactly one text part for the initial Live conversation history.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user message included in the initial text history of a Live session."
      }
    },
    "com.openai.live#LiveInitialUserMessageItemParamType": {
      "type": "enum",
      "members": {
        "MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The history item type. Always `message`."
      }
    },
    "com.openai.live#LiveInitialUserMessageItemParamRole": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The author of this history message. Always `user`."
      }
    },
    "com.openai.live#LiveInitialUserMessageItemParamContentList": {
      "type": "list",
      "member": {
        "target": "com.openai.live#LiveInitialInputTextContentPartParam"
      },
      "traits": {
        "smithy.api#documentation": "The message content. Supply exactly one text part for the initial Live conversation history."
      }
    },
    "com.openai.live#LiveInitialAssistantMessageItemParam": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.openai.live#LiveInitialAssistantMessageItemParamType",
          "traits": {
            "smithy.api#documentation": "The history item type. Always `message`."
          }
        },
        "status": {
          "target": "com.openai.live#LiveInitialMessageStatus",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "com.openai.live#LiveInitialAssistantMessageItemParamRole",
          "traits": {
            "smithy.api#documentation": "The author of this history message. Always `assistant`.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.openai.live#LiveInitialAssistantMessageItemParamContentList",
          "traits": {
            "smithy.api#documentation": "The message content. Supply exactly one text part for the initial Live conversation history.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An assistant message included in the initial text history of a Live session."
      }
    },
    "com.openai.live#LiveInitialAssistantMessageItemParamType": {
      "type": "enum",
      "members": {
        "MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The history item type. Always `message`."
      }
    },
    "com.openai.live#LiveInitialAssistantMessageItemParamRole": {
      "type": "enum",
      "members": {
        "ASSISTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assistant"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The author of this history message. Always `assistant`."
      }
    },
    "com.openai.live#LiveInitialTextContentPartParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveInitialTextContentPartParamType",
          "traits": {
            "smithy.api#documentation": "The text content type. Always `text`."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message text to include in the Live session’s initial conversation history.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Assistant text supplied as conversation history when starting a Live session."
      }
    },
    "com.openai.live#LiveInitialTextContentPartParamType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The text content type. Always `text`."
      }
    },
    "com.openai.live#LiveInitialOutputTextContentPartParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveInitialOutputTextContentPartParamType",
          "traits": {
            "smithy.api#documentation": "The text content type. Always `output_text`.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message text to include in the Live session’s initial conversation history.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Assistant output text supplied as conversation history when starting a Live session."
      }
    },
    "com.openai.live#LiveInitialOutputTextContentPartParamType": {
      "type": "enum",
      "members": {
        "OUTPUT_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "output_text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The text content type. Always `output_text`."
      }
    },
    "com.openai.live#LiveInitialAssistantMessageItemParamContentItem": {
      "type": "union",
      "members": {
        "LiveInitialTextContentPartParam": {
          "target": "com.openai.live#LiveInitialTextContentPartParam"
        },
        "LiveInitialOutputTextContentPartParam": {
          "target": "com.openai.live#LiveInitialOutputTextContentPartParam"
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveInitialAssistantMessageItemParamContentList": {
      "type": "list",
      "member": {
        "target": "com.openai.live#LiveInitialAssistantMessageItemParamContentItem"
      },
      "traits": {
        "smithy.api#documentation": "The message content. Supply exactly one text part for the initial Live conversation history."
      }
    },
    "com.openai.live#LiveClientConfigParam": {
      "type": "structure",
      "members": {
        "data_channel": {
          "target": "com.openai.live#LiveDataChannelConfigParam",
          "traits": {
            "smithy.api#documentation": "Client and server event permissions for the WebRTC frontend data channel.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Startup-only capabilities for an untrusted frontend attached to a unified WebRTC session. Trusted sideband connections are unaffected."
      }
    },
    "com.openai.live#LiveDataChannelConfigParam": {
      "type": "structure",
      "members": {
        "allowed_client_events": {
          "target": "com.openai.live#LiveDataChannelConfigParamAllowedClientEvents",
          "traits": {
            "smithy.api#documentation": "Client event types that the frontend data channel may send. Use 'all' to allow every client event; an empty array allows none. Omission preserves the existing allow-all behavior."
          }
        },
        "allowed_server_events": {
          "target": "com.openai.live#LiveDataChannelConfigParamAllowedServerEvents",
          "traits": {
            "smithy.api#documentation": "Server events that may be sent to the frontend data channel. Use 'all' to allow every server event; an empty array allows none. Omission preserves the existing allow-all behavior. Responses events use an object with type 'response.event' and a response_event selector."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Control which Live events an untrusted WebRTC frontend can send and receive over its data channel. These restrictions do not apply to trusted sideband connections."
      }
    },
    "com.openai.live#LiveDataChannelConfigParamAllowedClientEventsCase0": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveDataChannelConfigParamAllowedClientEventsCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.openai.live#LiveDataChannelConfigParamAllowedClientEvents": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.openai.live#LiveDataChannelConfigParamAllowedClientEventsCase0"
        },
        "Case1": {
          "target": "com.openai.live#LiveDataChannelConfigParamAllowedClientEventsCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Client event types that the frontend data channel may send. Use 'all' to allow every client event; an empty array allows none. Omission preserves the existing allow-all behavior."
      }
    },
    "com.openai.live#LiveDataChannelConfigParamAllowedServerEventsCase0": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveAllowedServerEventParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The outer Live server event type. Use 'response.event' for Responses events.",
            "smithy.api#required": {}
          }
        },
        "response_event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The nested Responses event type. Required when type is 'response.event'; forbidden for other event types."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Live server event selector for the WebRTC frontend data channel."
      }
    },
    "com.openai.live#LiveDataChannelConfigParamAllowedServerEventsCase1List": {
      "type": "list",
      "member": {
        "target": "com.openai.live#LiveAllowedServerEventParam"
      },
      "traits": {}
    },
    "com.openai.live#LiveDataChannelConfigParamAllowedServerEvents": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.openai.live#LiveDataChannelConfigParamAllowedServerEventsCase0"
        },
        "Case1": {
          "target": "com.openai.live#LiveDataChannelConfigParamAllowedServerEventsCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Server events that may be sent to the frontend data channel. Use 'all' to allow every server event; an empty array allows none. Omission preserves the existing allow-all behavior. Responses events use an object with type 'response.event' and a response_event selector."
      }
    },
    "com.openai.live#LiveWebRTCTransport": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveWebRTCTransportType",
          "traits": {
            "smithy.api#documentation": "The transport used for the Live session. Always `webrtc`.",
            "smithy.api#required": {}
          }
        },
        "sdp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Session Description Protocol message for the WebRTC connection.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "WebRTC transport carrying the offer SDP in a creation request or answer SDP in its response."
      }
    },
    "com.openai.live#LiveWebRTCTransportType": {
      "type": "enum",
      "members": {
        "WEBRTC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webrtc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The transport used for the Live session. Always `webrtc`."
      }
    },
    "com.openai.live#LiveSIPTransport": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveSIPTransportType",
          "traits": {
            "smithy.api#documentation": "The transport used for the Live session. Always `sip`.",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number to call in E.164 format. SIP URI destinations are not supported.",
            "smithy.api#required": {}
          }
        },
        "trunk": {
          "target": "com.openai.live#LiveSIPTrunk",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Place an outbound SIP call using your provider's trunk. Outbound SIP calling must be enabled for your organization. The trunk must support TLS signaling, Opus audio, and SDES-SRTP media. See [Telephony and SIP](https://developers.openai.com/api/docs/guides/voice-sip?api=live#place-an-outbound-call)."
      }
    },
    "com.openai.live#LiveSIPTransportType": {
      "type": "enum",
      "members": {
        "SIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sip"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The transport used for the Live session. Always `sip`."
      }
    },
    "com.openai.live#LiveSIPTrunk": {
      "type": "structure",
      "members": {
        "provider_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider endpoint in the form `sips:host[:port][;transport=tcp]`. The default port is 5061. IPv6 addresses must be bracketed. TLS signaling is required; plaintext SIP is not supported. Do not include userinfo, a path, URI headers, or other URI parameters. Local hostnames and literal private, loopback, link-local, unspecified, multicast, and broadcast IP addresses are rejected.",
            "smithy.api#required": {}
          }
        },
        "auth": {
          "target": "com.openai.live#LiveSIPTrunkAuth",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "caller_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Caller phone number in E.164 format to use in the SIP From header.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SIP trunk configuration supplied for this call. Keep trunk credentials on your server. The creation response does not return this configuration."
      }
    },
    "com.openai.live#LiveSIPTrunkAuth": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveSIPTrunkAuthType",
          "traits": {
            "smithy.api#documentation": "Use `digest` for SIP Digest authentication. Handles 401 and 407 challenges.",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider username. Must contain a non-whitespace character, be at most 256 bytes, and contain no CR, LF, or NUL.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider password. Must be at most 4096 bytes and contain no CR, LF, or NUL.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Credentials for SIP Digest authentication with your trunk provider."
      }
    },
    "com.openai.live#LiveSIPTrunkAuthType": {
      "type": "enum",
      "members": {
        "DIGEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "digest"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use `digest` for SIP Digest authentication. Handles 401 and 407 challenges."
      }
    },
    "com.openai.live#CreateLiveSessionRequestTransport": {
      "type": "union",
      "members": {
        "LiveWebRTCTransport": {
          "target": "com.openai.live#LiveWebRTCTransport"
        },
        "LiveSIPTransport": {
          "target": "com.openai.live#LiveSIPTransport"
        }
      },
      "traits": {
        "smithy.api#documentation": "WebRTC transport with an SDP offer, or SIP transport with a destination and per-call trunk credentials."
      }
    },
    "com.openai.live#CreateLiveSessionRequest": {
      "type": "structure",
      "members": {
        "session": {
          "target": "com.openai.live#LiveMediaSessionCreateParams",
          "traits": {
            "smithy.api#documentation": "Startup configuration for the Live session.",
            "smithy.api#required": {}
          }
        },
        "transport": {
          "target": "com.openai.live#CreateLiveSessionRequestTransport",
          "traits": {
            "smithy.api#documentation": "WebRTC transport with an SDP offer, or SIP transport with a destination and per-call trunk credentials.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.live#LiveSessionCreateResponse": {
      "type": "structure",
      "members": {
        "session": {
          "target": "com.openai.live#Session",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transport": {
          "target": "com.openai.live#LiveSessionCreateResponseTransport",
          "traits": {
            "smithy.api#documentation": "WebRTC transport with an SDP answer, or SIP transport without SDP or trunk credentials. For SIP, attach a sideband using session.id to receive transport.ringing, transport.answered, and transport.failed notifications.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The created Live session and its transport. WebRTC creation returns 201 Created with an SDP answer. Outbound SIP creation returns 201 Created after initialization, before the callee necessarily answers, without SDP or trunk credentials."
      }
    },
    "com.openai.live#Session": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque session identifier. Preserve the returned value unchanged, including its prefix.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The newly created Live session. Use its ID for session controls and sideband connections."
      }
    },
    "com.openai.live#LiveSessionCreateResponseTransportCase1Type": {
      "type": "enum",
      "members": {
        "SIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sip"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The transport used for the Live session. Always `sip`."
      }
    },
    "com.openai.live#LiveSessionCreateResponseTransportCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveSessionCreateResponseTransportCase1Type",
          "traits": {
            "smithy.api#documentation": "The transport used for the Live session. Always `sip`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The SIP transport. Trunk credentials and SDP are not returned."
      }
    },
    "com.openai.live#LiveSessionCreateResponseTransport": {
      "type": "union",
      "members": {
        "LiveWebRTCTransport": {
          "target": "com.openai.live#LiveWebRTCTransport"
        },
        "Case1": {
          "target": "com.openai.live#LiveSessionCreateResponseTransportCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "WebRTC transport with an SDP answer, or SIP transport without SDP or trunk credentials. For SIP, attach a sideband using session.id to receive transport.ringing, transport.answered, and transport.failed notifications."
      }
    },
    "com.openai.live#CreateLiveSession": {
      "type": "operation",
      "input": {
        "target": "com.openai.live#CreateLiveSessionRequest"
      },
      "output": {
        "target": "com.openai.live#LiveSessionCreateResponse"
      },
      "errors": [
        {
          "target": "com.openai.live#BadRequest"
        },
        {
          "target": "com.openai.live#PayloadTooLarge"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/live/sessions",
          "code": 200
        },
        "smithy.api#documentation": "Create session\n\nCreate a Live WebRTC session or place an outbound SIP call. Start with the\n[Live prompting guide](https://developers.openai.com/api/docs/guides/live-prompting) for session configuration\nand [Telephony and SIP](https://developers.openai.com/api/docs/guides/voice-sip?api=live#place-an-outbound-call)\nfor trunk setup and call monitoring.\n\nSet transport.type to `webrtc` and supply an SDP offer, or set it to `sip`\nand supply an E.164 destination and trunk credentials. Outbound SIP calling\nmust be enabled for your organization.\nRinging is limited to 3 minutes and connected calls to 2 hours; these limits\nare not configurable in the request.\n\nReturns `201 Created` after session initialization. WebRTC responses include an\nSDP answer. SIP responses do not wait for the callee to answer. Attach a\nsideband connection using session.id to monitor SIP call progress.\n\nEach SIP request creates a new call. If a request times out or the connection\nfails, retry with caution: the original request may have succeeded, and a\nretry can place another call."
      }
    },
    "com.openai.live#LiveCallAcceptSession": {
      "type": "structure",
      "members": {
        "model": {
          "target": "com.openai.live#ModelIdsLive",
          "traits": {
            "smithy.api#documentation": "The Live model to use for the accepted call.",
            "smithy.api#required": {}
          }
        },
        "instructions": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "audio": {
          "target": "com.openai.live#LiveMediaSessionAudioParam",
          "traits": {
            "smithy.api#documentation": "Startup audio output configuration. SIP negotiates the media format; audio.format is only accepted for primary WebSockets. Voice cannot change after startup."
          }
        },
        "delegation": {
          "target": "com.openai.live#Delegation",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "store": {
          "target": "smithy.api#Boolean"
        },
        "input": {
          "target": "com.openai.live#Input"
        },
        "type": {
          "target": "com.openai.live#LiveCallAcceptSessionType",
          "traits": {
            "smithy.api#documentation": "The session type. Always `live`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Startup configuration for accepting an incoming Live SIP call. Follow the [Live prompting guide](https://developers.openai.com/api/docs/guides/live-prompting) when writing frontend and backend instructions."
      }
    },
    "com.openai.live#LiveCallAcceptSessionType": {
      "type": "enum",
      "members": {
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The session type. Always `live`."
      }
    },
    "com.openai.live#AcceptLiveSessionRequest": {
      "type": "structure",
      "members": {
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Opaque Live session identifier from the creation response or incoming-call webhook. Preserve the returned value unchanged, including its prefix."
          }
        },
        "session": {
          "target": "com.openai.live#LiveCallAcceptSession",
          "traits": {
            "smithy.api#documentation": "Model and startup configuration for the Live session that answers the incoming SIP call.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.live#AcceptLiveSession": {
      "type": "operation",
      "input": {
        "target": "com.openai.live#AcceptLiveSessionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.openai.live#BadRequest"
        },
        {
          "target": "com.openai.live#NotFound"
        },
        {
          "target": "com.openai.live#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/live/sessions/{session_id}/accept",
          "code": 200
        },
        "smithy.api#documentation": "Accept call\n\nAccept an incoming SIP call. Supply session with type live, the model, and startup configuration. Before accepting calls, follow the [Live prompting guide](https://developers.openai.com/api/docs/guides/live-prompting) to write frontend conversation instructions and a separate backend prompt. SIP media format is negotiated; omit audio.format."
      }
    },
    "com.openai.live#LiveMediaSessionForkParams": {
      "type": "structure",
      "members": {
        "store": {
          "target": "smithy.api#Boolean"
        },
        "delegation": {
          "target": "com.openai.live#LiveResponsesDelegationUpdateParam"
        },
        "client": {
          "target": "com.openai.live#LiveClientConfigParam"
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional overrides for a stored Live session. Omitted settings are inherited. The model, voice, frontend instructions, and prior conversation come from the stored session. WebRTC negotiates its audio format; audio.format is only supported on WebSocket forks."
      }
    },
    "com.openai.live#LiveResponsesDelegationUpdateParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.live#LiveResponsesDelegationUpdateParamType",
          "traits": {
            "smithy.api#documentation": "The delegation owner. Always `responses` for tasks handled by the Responses API.",
            "smithy.api#required": {}
          }
        },
        "responses": {
          "target": "com.openai.live#LiveResponsesDelegationSettingsUpdateInputParam",
          "traits": {
            "smithy.api#documentation": "Responses backend settings to update. Omitted settings keep their existing values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Update the Responses backend for an existing Live session without changing delegation ownership."
      }
    },
    "com.openai.live#LiveResponsesDelegationUpdateParamType": {
      "type": "enum",
      "members": {
        "RESPONSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "responses"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The delegation owner. Always `responses` for tasks handled by the Responses API."
      }
    },
    "com.openai.live#LiveResponsesDelegationSettingsUpdateInputParam": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Responses backend model to use for subsequent delegated requests. Omit to keep the current backend model."
          }
        },
        "instructions": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "max_output_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "service_tier": {
          "target": "com.openai.live#LiveResponsesServiceTier",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "reasoning": {
          "target": "com.openai.live#LiveDelegationReasoningInputParam",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "text": {
          "target": "com.openai.live#LiveDelegationTextInputParam",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tools": {
          "target": "com.openai.live#LiveResponsesDelegationSettingsUpdateInputParamToolsList",
          "traits": {
            "smithy.api#documentation": "Tools available to the Responses backend while it handles tasks delegated by the Live model."
          }
        },
        "tool_choice": {
          "target": "com.openai.live#LiveResponsesDelegationSettingsUpdateInputParamToolChoice",
          "traits": {
            "smithy.api#documentation": "Controls which tool the Responses backend uses when handling a task delegated by the Live model."
          }
        },
        "parallel_tool_calls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates to the Responses backend of an existing Live session. Omitted settings retain their current values."
      }
    },
    "com.openai.live#LiveResponsesDelegationSettingsUpdateInputParamToolsItem": {
      "type": "union",
      "members": {
        "LiveFunctionToolInputParam": {
          "target": "com.openai.live#LiveFunctionToolInputParam"
        },
        "LiveWebSearchToolInputParam": {
          "target": "com.openai.live#LiveWebSearchToolInputParam"
        },
        "LiveFileSearchToolInputParam": {
          "target": "com.openai.live#LiveFileSearchToolInputParam"
        },
        "LiveCodeInterpreterToolInputParam": {
          "target": "com.openai.live#LiveCodeInterpreterToolInputParam"
        },
        "LiveHostedShellToolInputParam": {
          "target": "com.openai.live#LiveHostedShellToolInputParam"
        },
        "LiveImageGenerationToolInputParam": {
          "target": "com.openai.live#LiveImageGenerationToolInputParam"
        },
        "LiveMCPToolInputParam": {
          "target": "com.openai.live#LiveMCPToolInputParam"
        },
        "LiveCustomToolInputParam": {
          "target": "com.openai.live#LiveCustomToolInputParam"
        },
        "LiveNamespaceToolInputParam": {
          "target": "com.openai.live#LiveNamespaceToolInputParam"
        },
        "LiveToolSearchToolInputParam": {
          "target": "com.openai.live#LiveToolSearchToolInputParam"
        },
        "LiveProgrammaticToolInputParam": {
          "target": "com.openai.live#LiveProgrammaticToolInputParam"
        },
        "LiveComputerToolInputParam": {
          "target": "com.openai.live#LiveComputerToolInputParam"
        },
        "LiveApplyPatchToolInputParam": {
          "target": "com.openai.live#LiveApplyPatchToolInputParam"
        }
      },
      "traits": {}
    },
    "com.openai.live#LiveResponsesDelegationSettingsUpdateInputParamToolsList": {
      "type": "list",
      "member": {
        "target": "com.openai.live#LiveResponsesDelegationSettingsUpdateInputParamToolsItem"
      },
      "traits": {
        "smithy.api#documentation": "Tools available to the Responses backend while it handles tasks delegated by the Live model."
      }
    },
    "com.openai.live#LiveResponsesDelegationSettingsUpdateInputParamToolChoiceCase1Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openai.live#LiveResponsesDelegationSettingsUpdateInputParamToolChoice": {
      "type": "union",
      "members": {
        "LiveToolChoiceEnum": {
          "target": "com.openai.live#LiveToolChoiceEnum"
        },
        "Case1": {
          "target": "com.openai.live#LiveResponsesDelegationSettingsUpdateInputParamToolChoiceCase1Map"
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls which tool the Responses backend uses when handling a task delegated by the Live model."
      }
    },
    "com.openai.live#ForkLiveSessionRequest": {
      "type": "structure",
      "members": {
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the stored Live session to fork."
          }
        },
        "session": {
          "target": "com.openai.live#LiveMediaSessionForkParams",
          "traits": {
            "smithy.api#documentation": "Optional configuration overrides for the new Live session. Omit this object or send an empty object to inherit the stored session's settings."
          }
        },
        "transport": {
          "target": "com.openai.live#LiveWebRTCTransport",
          "traits": {
            "smithy.api#documentation": "WebRTC transport with an SDP offer for the new connection to the forked session.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.live#LiveCreateResponse": {
      "type": "structure",
      "members": {
        "session": {
          "target": "com.openai.live#LiveCreateResponseSession",
          "traits": {
            "smithy.api#documentation": "The newly created Live session. Use its ID for session controls and sideband connections.",
            "smithy.api#required": {}
          }
        },
        "transport": {
          "target": "com.openai.live#LiveWebRTCTransport",
          "traits": {
            "smithy.api#documentation": "WebRTC transport with the SDP answer.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The created Live session identifier and WebRTC answer. Apply transport.sdp as the peer's remote answer and wait for session.started on the data channel before sending commands."
      }
    },
    "com.openai.live#LiveCreateResponseSession": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque session identifier. Preserve the returned value unchanged, including its prefix.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The newly created Live session. Use its ID for session controls and sideband connections."
      }
    },
    "com.openai.live#ForkLiveSession": {
      "type": "operation",
      "input": {
        "target": "com.openai.live#ForkLiveSessionRequest"
      },
      "output": {
        "target": "com.openai.live#LiveCreateResponse"
      },
      "errors": [
        {
          "target": "com.openai.live#BadRequest"
        },
        {
          "target": "com.openai.live#NotFound"
        },
        {
          "target": "com.openai.live#PayloadTooLarge"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/live/sessions/{session_id}/fork",
          "code": 200
        },
        "smithy.api#documentation": "Fork session\n\nFork a stored Live session onto a new WebRTC connection."
      }
    },
    "com.openai.live#HangupLiveSessionRequest": {
      "type": "structure",
      "members": {
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Opaque Live session identifier from the creation response or incoming-call webhook. Preserve the returned value unchanged, including its prefix."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.live#HangupLiveSession": {
      "type": "operation",
      "input": {
        "target": "com.openai.live#HangupLiveSessionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.openai.live#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/live/sessions/{session_id}/hangup",
          "code": 200
        },
        "smithy.api#documentation": "Hang up session\n\nEnd a SIP call identified by session_id."
      }
    },
    "com.openai.live#ReferLiveSessionRequest": {
      "type": "structure",
      "members": {
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Opaque Live session identifier from the creation response or incoming-call webhook. Preserve the returned value unchanged, including its prefix."
          }
        },
        "target_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Nonblank URI for the SIP Refer-To header, such as tel:+14155550123 or sip:agent@example.com.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.live#ReferLiveSession": {
      "type": "operation",
      "input": {
        "target": "com.openai.live#ReferLiveSessionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.openai.live#BadRequest"
        },
        {
          "target": "com.openai.live#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/live/sessions/{session_id}/refer",
          "code": 200
        },
        "smithy.api#documentation": "Transfer call\n\nTransfer a SIP call to another destination. Supply a nonblank target_uri for the SIP Refer-To header."
      }
    },
    "com.openai.live#RejectLiveSessionRequest": {
      "type": "structure",
      "members": {
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Opaque Live session identifier from the creation response or incoming-call webhook. Preserve the returned value unchanged, including its prefix."
          }
        },
        "status_code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "SIP rejection status sent to the caller. This field is required.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.live#RejectLiveSession": {
      "type": "operation",
      "input": {
        "target": "com.openai.live#RejectLiveSessionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.openai.live#BadRequest"
        },
        {
          "target": "com.openai.live#NotFound"
        },
        {
          "target": "com.openai.live#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/live/sessions/{session_id}/reject",
          "code": 200
        },
        "smithy.api#documentation": "Reject call\n\nReject an incoming SIP call. Send a required SIP rejection status_code between 300 and 699."
      }
    },
    "com.openai.live#DownloadLiveRecordingRequest": {
      "type": "structure",
      "members": {
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the stored Live session to download. Use the session ID returned when the session started with storage enabled."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.live#DownloadLiveRecording": {
      "type": "operation",
      "input": {
        "target": "com.openai.live#DownloadLiveRecordingRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.openai.live#BadRequest"
        },
        {
          "target": "com.openai.live#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/live/sessions/{session_id}/content",
          "code": 200
        },
        "smithy.api#documentation": "Download recording\n\nGet Live session content"
      }
    },
    "com.openai.live#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.openai.live#PayloadTooLarge": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 413,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 413
          }
        ]
      }
    },
    "com.openai.live#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.openai.live#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.openai.live#Live": {
      "type": "service",
      "version": "2.3.0",
      "operations": [
        {
          "target": "com.openai.live#CreateLiveSession"
        },
        {
          "target": "com.openai.live#AcceptLiveSession"
        },
        {
          "target": "com.openai.live#ForkLiveSession"
        },
        {
          "target": "com.openai.live#HangupLiveSession"
        },
        {
          "target": "com.openai.live#ReferLiveSession"
        },
        {
          "target": "com.openai.live#RejectLiveSession"
        },
        {
          "target": "com.openai.live#DownloadLiveRecording"
        }
      ],
      "traits": {
        "smithy.api#title": "OpenAI API",
        "smithy.api#documentation": "The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details."
      }
    }
  }
}
