{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openai.moderations#CreateModerationRequestInputCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "An array of strings to classify for moderation."
      }
    },
    "com.openai.moderations#CreateModerationRequestInputCase2ItemCase0Type": {
      "type": "enum",
      "members": {
        "IMAGE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_url"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always `image_url`."
      }
    },
    "com.openai.moderations#CreateModerationRequestInputCase2ItemCase0ImageUrl": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Either a URL of the image or the base64 encoded image data.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains either an image URL or a data URL for a base64 encoded image."
      }
    },
    "com.openai.moderations#CreateModerationRequestInputCase2ItemCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.moderations#CreateModerationRequestInputCase2ItemCase0Type",
          "traits": {
            "smithy.api#documentation": "Always `image_url`.",
            "smithy.api#required": {}
          }
        },
        "image_url": {
          "target": "com.openai.moderations#CreateModerationRequestInputCase2ItemCase0ImageUrl",
          "traits": {
            "smithy.api#documentation": "Contains either an image URL or a data URL for a base64 encoded image.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object describing an image to classify."
      }
    },
    "com.openai.moderations#CreateModerationRequestInputCase2ItemCase1Type": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always `text`."
      }
    },
    "com.openai.moderations#CreateModerationRequestInputCase2ItemCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.moderations#CreateModerationRequestInputCase2ItemCase1Type",
          "traits": {
            "smithy.api#documentation": "Always `text`.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string of text to classify.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object describing text to classify."
      }
    },
    "com.openai.moderations#CreateModerationRequestInputCase2Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.openai.moderations#CreateModerationRequestInputCase2ItemCase0"
        },
        "Case1": {
          "target": "com.openai.moderations#CreateModerationRequestInputCase2ItemCase1"
        }
      },
      "traits": {}
    },
    "com.openai.moderations#CreateModerationRequestInputCase2List": {
      "type": "list",
      "member": {
        "target": "com.openai.moderations#CreateModerationRequestInputCase2Item"
      },
      "traits": {
        "smithy.api#documentation": "An array of multi-modal inputs to the moderation model."
      }
    },
    "com.openai.moderations#CreateModerationRequestInput": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.moderations#CreateModerationRequestInputCase1List"
        },
        "Case2": {
          "target": "com.openai.moderations#CreateModerationRequestInputCase2List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Input (or inputs) to classify. Can be a single string, an array of strings, or\nan array of multi-modal input objects similar to other models.\n"
      }
    },
    "com.openai.moderations#CreateModerationRequestModelCase1": {
      "type": "enum",
      "members": {
        "OMNI_MODERATION_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "omni-moderation-latest"
          }
        },
        "OMNI_MODERATION_2024_09_26": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "omni-moderation-2024-09-26"
          }
        },
        "TEXT_MODERATION_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-moderation-latest"
          }
        },
        "TEXT_MODERATION_STABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-moderation-stable"
          }
        }
      },
      "traits": {}
    },
    "com.openai.moderations#CreateModerationRequestModel": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.moderations#CreateModerationRequestModelCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The content moderation model you would like to use. Learn more in\n[the moderation guide](https://developers.openai.com/api/docs/guides/moderation), and learn about\navailable models [here](https://developers.openai.com/api/docs/guides/moderation).\n"
      }
    },
    "com.openai.moderations#CreateModerationRequest": {
      "type": "structure",
      "members": {
        "input": {
          "target": "com.openai.moderations#CreateModerationRequestInput",
          "traits": {
            "smithy.api#documentation": "Input (or inputs) to classify. Can be a single string, an array of strings, or\nan array of multi-modal input objects similar to other models.\n",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "com.openai.moderations#CreateModerationRequestModel",
          "traits": {
            "smithy.api#documentation": "The content moderation model you would like to use. Learn more in\n[the moderation guide](https://developers.openai.com/api/docs/guides/moderation), and learn about\navailable models [here](https://developers.openai.com/api/docs/guides/moderation).\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.moderations#CreateModerationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the moderation request.",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The model used to generate the moderation results.",
            "smithy.api#required": {}
          }
        },
        "results": {
          "target": "com.openai.moderations#CreateModerationResponseResultsList",
          "traits": {
            "smithy.api#documentation": "A list of moderation objects.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents if a given text input is potentially harmful."
      }
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategories": {
      "type": "structure",
      "members": {
        "hate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Content that expresses, incites, or promotes hate based on race, gender, ethnicity, religion, nationality, sexual orientation, disability status, or caste. Hateful content aimed at non-protected groups (e.g., chess players) is harassment.",
            "smithy.api#required": {}
          }
        },
        "hate_threatening": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Hateful content that also includes violence or serious harm towards the targeted group based on race, gender, ethnicity, religion, nationality, sexual orientation, disability status, or caste.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "hate/threatening"
          }
        },
        "harassment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Content that expresses, incites, or promotes harassing language towards any target.",
            "smithy.api#required": {}
          }
        },
        "harassment_threatening": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Harassment content that also includes violence or serious harm towards any target.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "harassment/threatening"
          }
        },
        "illicit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "illicit_violent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "illicit/violent",
            "com.distilled.openapi#nullable": {}
          }
        },
        "self_harm": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Content that promotes, encourages, or depicts acts of self-harm, such as suicide, cutting, and eating disorders.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "self-harm"
          }
        },
        "self_harm_intent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Content where the speaker expresses that they are engaging or intend to engage in acts of self-harm, such as suicide, cutting, and eating disorders.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "self-harm/intent"
          }
        },
        "self_harm_instructions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Content that encourages performing acts of self-harm, such as suicide, cutting, and eating disorders, or that gives instructions or advice on how to commit such acts.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "self-harm/instructions"
          }
        },
        "sexual": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Content meant to arouse sexual excitement, such as the description of sexual activity, or that promotes sexual services (excluding sex education and wellness).",
            "smithy.api#required": {}
          }
        },
        "sexual_minors": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Sexual content that includes an individual who is under 18 years old.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "sexual/minors"
          }
        },
        "violence": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Content that depicts death, violence, or physical injury.",
            "smithy.api#required": {}
          }
        },
        "violence_graphic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Content that depicts death, violence, or physical injury in graphic detail.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "violence/graphic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of the categories, and whether they are flagged or not."
      }
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryScores": {
      "type": "structure",
      "members": {
        "hate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score for the category 'hate'.",
            "smithy.api#required": {}
          }
        },
        "hate_threatening": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score for the category 'hate/threatening'.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "hate/threatening"
          }
        },
        "harassment": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score for the category 'harassment'.",
            "smithy.api#required": {}
          }
        },
        "harassment_threatening": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score for the category 'harassment/threatening'.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "harassment/threatening"
          }
        },
        "illicit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score for the category 'illicit'.",
            "smithy.api#required": {}
          }
        },
        "illicit_violent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score for the category 'illicit/violent'.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "illicit/violent"
          }
        },
        "self_harm": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score for the category 'self-harm'.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "self-harm"
          }
        },
        "self_harm_intent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score for the category 'self-harm/intent'.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "self-harm/intent"
          }
        },
        "self_harm_instructions": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score for the category 'self-harm/instructions'.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "self-harm/instructions"
          }
        },
        "sexual": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score for the category 'sexual'.",
            "smithy.api#required": {}
          }
        },
        "sexual_minors": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score for the category 'sexual/minors'.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "sexual/minors"
          }
        },
        "violence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score for the category 'violence'.",
            "smithy.api#required": {}
          }
        },
        "violence_graphic": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score for the category 'violence/graphic'.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "violence/graphic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of the categories along with their scores as predicted by model."
      }
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesHateItem": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {}
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesHateList": {
      "type": "list",
      "member": {
        "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesHateItem"
      },
      "traits": {
        "smithy.api#documentation": "The applied input type(s) for the category 'hate'."
      }
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesHateThreateningItem": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {}
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesHateThreateningList": {
      "type": "list",
      "member": {
        "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesHateThreateningItem"
      },
      "traits": {
        "smithy.api#documentation": "The applied input type(s) for the category 'hate/threatening'."
      }
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesHarassmentItem": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {}
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesHarassmentList": {
      "type": "list",
      "member": {
        "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesHarassmentItem"
      },
      "traits": {
        "smithy.api#documentation": "The applied input type(s) for the category 'harassment'."
      }
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesHarassmentThreateningItem": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {}
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesHarassmentThreateningList": {
      "type": "list",
      "member": {
        "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesHarassmentThreateningItem"
      },
      "traits": {
        "smithy.api#documentation": "The applied input type(s) for the category 'harassment/threatening'."
      }
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesIllicitItem": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {}
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesIllicitList": {
      "type": "list",
      "member": {
        "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesIllicitItem"
      },
      "traits": {
        "smithy.api#documentation": "The applied input type(s) for the category 'illicit'."
      }
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesIllicitViolentItem": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {}
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesIllicitViolentList": {
      "type": "list",
      "member": {
        "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesIllicitViolentItem"
      },
      "traits": {
        "smithy.api#documentation": "The applied input type(s) for the category 'illicit/violent'."
      }
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSelfHarmItem": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        }
      },
      "traits": {}
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSelfHarmList": {
      "type": "list",
      "member": {
        "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSelfHarmItem"
      },
      "traits": {
        "smithy.api#documentation": "The applied input type(s) for the category 'self-harm'."
      }
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSelfHarmIntentItem": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        }
      },
      "traits": {}
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSelfHarmIntentList": {
      "type": "list",
      "member": {
        "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSelfHarmIntentItem"
      },
      "traits": {
        "smithy.api#documentation": "The applied input type(s) for the category 'self-harm/intent'."
      }
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSelfHarmInstructionsItem": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        }
      },
      "traits": {}
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSelfHarmInstructionsList": {
      "type": "list",
      "member": {
        "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSelfHarmInstructionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The applied input type(s) for the category 'self-harm/instructions'."
      }
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSexualItem": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        }
      },
      "traits": {}
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSexualList": {
      "type": "list",
      "member": {
        "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSexualItem"
      },
      "traits": {
        "smithy.api#documentation": "The applied input type(s) for the category 'sexual'."
      }
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSexualMinorsItem": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {}
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSexualMinorsList": {
      "type": "list",
      "member": {
        "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSexualMinorsItem"
      },
      "traits": {
        "smithy.api#documentation": "The applied input type(s) for the category 'sexual/minors'."
      }
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesViolenceItem": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        }
      },
      "traits": {}
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesViolenceList": {
      "type": "list",
      "member": {
        "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesViolenceItem"
      },
      "traits": {
        "smithy.api#documentation": "The applied input type(s) for the category 'violence'."
      }
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesViolenceGraphicItem": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        }
      },
      "traits": {}
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesViolenceGraphicList": {
      "type": "list",
      "member": {
        "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesViolenceGraphicItem"
      },
      "traits": {
        "smithy.api#documentation": "The applied input type(s) for the category 'violence/graphic'."
      }
    },
    "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypes": {
      "type": "structure",
      "members": {
        "hate": {
          "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesHateList",
          "traits": {
            "smithy.api#documentation": "The applied input type(s) for the category 'hate'.",
            "smithy.api#required": {}
          }
        },
        "hate_threatening": {
          "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesHateThreateningList",
          "traits": {
            "smithy.api#documentation": "The applied input type(s) for the category 'hate/threatening'.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "hate/threatening"
          }
        },
        "harassment": {
          "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesHarassmentList",
          "traits": {
            "smithy.api#documentation": "The applied input type(s) for the category 'harassment'.",
            "smithy.api#required": {}
          }
        },
        "harassment_threatening": {
          "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesHarassmentThreateningList",
          "traits": {
            "smithy.api#documentation": "The applied input type(s) for the category 'harassment/threatening'.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "harassment/threatening"
          }
        },
        "illicit": {
          "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesIllicitList",
          "traits": {
            "smithy.api#documentation": "The applied input type(s) for the category 'illicit'.",
            "smithy.api#required": {}
          }
        },
        "illicit_violent": {
          "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesIllicitViolentList",
          "traits": {
            "smithy.api#documentation": "The applied input type(s) for the category 'illicit/violent'.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "illicit/violent"
          }
        },
        "self_harm": {
          "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSelfHarmList",
          "traits": {
            "smithy.api#documentation": "The applied input type(s) for the category 'self-harm'.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "self-harm"
          }
        },
        "self_harm_intent": {
          "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSelfHarmIntentList",
          "traits": {
            "smithy.api#documentation": "The applied input type(s) for the category 'self-harm/intent'.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "self-harm/intent"
          }
        },
        "self_harm_instructions": {
          "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSelfHarmInstructionsList",
          "traits": {
            "smithy.api#documentation": "The applied input type(s) for the category 'self-harm/instructions'.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "self-harm/instructions"
          }
        },
        "sexual": {
          "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSexualList",
          "traits": {
            "smithy.api#documentation": "The applied input type(s) for the category 'sexual'.",
            "smithy.api#required": {}
          }
        },
        "sexual_minors": {
          "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesSexualMinorsList",
          "traits": {
            "smithy.api#documentation": "The applied input type(s) for the category 'sexual/minors'.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "sexual/minors"
          }
        },
        "violence": {
          "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesViolenceList",
          "traits": {
            "smithy.api#documentation": "The applied input type(s) for the category 'violence'.",
            "smithy.api#required": {}
          }
        },
        "violence_graphic": {
          "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypesViolenceGraphicList",
          "traits": {
            "smithy.api#documentation": "The applied input type(s) for the category 'violence/graphic'.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "violence/graphic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of the categories along with the input type(s) that the score applies to."
      }
    },
    "com.openai.moderations#CreateModerationResponseResultsItem": {
      "type": "structure",
      "members": {
        "flagged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether any of the below categories are flagged.",
            "smithy.api#required": {}
          }
        },
        "categories": {
          "target": "com.openai.moderations#CreateModerationResponseResultsItemCategories",
          "traits": {
            "smithy.api#documentation": "A list of the categories, and whether they are flagged or not.",
            "smithy.api#required": {}
          }
        },
        "category_scores": {
          "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryScores",
          "traits": {
            "smithy.api#documentation": "A list of the categories along with their scores as predicted by model.",
            "smithy.api#required": {}
          }
        },
        "category_applied_input_types": {
          "target": "com.openai.moderations#CreateModerationResponseResultsItemCategoryAppliedInputTypes",
          "traits": {
            "smithy.api#documentation": "A list of the categories along with the input type(s) that the score applies to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.moderations#CreateModerationResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.openai.moderations#CreateModerationResponseResultsItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of moderation objects."
      }
    },
    "com.openai.moderations#CreateModeration": {
      "type": "operation",
      "input": {
        "target": "com.openai.moderations#CreateModerationRequest"
      },
      "output": {
        "target": "com.openai.moderations#CreateModerationResponse"
      },
      "errors": [
        {
          "target": "com.openai.moderations#BadRequest"
        },
        {
          "target": "com.openai.moderations#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/moderations",
          "code": 200
        },
        "smithy.api#documentation": "Create moderation\n\nClassifies if text and/or image inputs are potentially harmful. Learn\nmore in the [moderation guide](https://developers.openai.com/api/docs/guides/moderation)."
      }
    },
    "com.openai.moderations#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.openai.moderations#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.openai.moderations#Moderations": {
      "type": "service",
      "version": "2.3.0",
      "operations": [
        {
          "target": "com.openai.moderations#CreateModeration"
        }
      ],
      "traits": {
        "smithy.api#title": "OpenAI API",
        "smithy.api#documentation": "The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details."
      }
    }
  }
}
