{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openai.project_user_role_assignments#ListProjectUserRoleAssignmentsRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.openai.project_user_role_assignments#ListProjectUserRoleAssignmentsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project to inspect."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the user to inspect."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "A limit on the number of project role assignments to return."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Cursor for pagination. Provide the value from the previous response's `next` field to continue listing project roles."
          }
        },
        "order": {
          "target": "com.openai.project_user_role_assignments#ListProjectUserRoleAssignmentsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Sort order for the returned project roles."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.project_user_role_assignments#RoleListResource": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.project_user_role_assignments#RoleListResourceObject",
          "traits": {
            "smithy.api#documentation": "Always `list`.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.project_user_role_assignments#RoleListResourceDataList",
          "traits": {
            "smithy.api#documentation": "Role assignments returned in the current page.",
            "smithy.api#required": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether additional assignments are available when paginating.",
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor to fetch the next page of results, or `null` when there are no more assignments.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paginated list of roles assigned to a principal."
      }
    },
    "com.openai.project_user_role_assignments#RoleListResourceObject": {
      "type": "enum",
      "members": {
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always `list`."
      }
    },
    "com.openai.project_user_role_assignments#AssignedRoleDetails": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the role.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the role.",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.openai.project_user_role_assignments#AssignedRoleDetailsPermissionsList",
          "traits": {
            "smithy.api#documentation": "Permissions associated with the role.",
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type the role applies to.",
            "smithy.api#required": {}
          }
        },
        "predefined_role": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the role is predefined by OpenAI.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the role.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "When the role was created.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "When the role was last updated.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the actor who created the role.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by_user_obj": {
          "target": "com.openai.project_user_role_assignments#AssignedRoleDetailsCreatedByUserObjMap",
          "traits": {
            "smithy.api#documentation": "User details for the actor that created the role, when available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.openai.project_user_role_assignments#AssignedRoleDetailsMetadataMap",
          "traits": {
            "smithy.api#documentation": "Arbitrary metadata stored on the role.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "assignment_sources": {
          "target": "com.openai.project_user_role_assignments#AssignedRoleDetailsAssignmentSourcesList",
          "traits": {
            "smithy.api#documentation": "Principals from which the role assignment is inherited, when available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detailed information about a role assignment entry returned when listing assignments."
      }
    },
    "com.openai.project_user_role_assignments#AssignedRoleDetailsPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Permissions associated with the role."
      }
    },
    "com.openai.project_user_role_assignments#AssignedRoleDetailsCreatedByUserObjMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openai.project_user_role_assignments#AssignedRoleDetailsMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openai.project_user_role_assignments#AssignedRoleDetailsAssignmentSourcesItem": {
      "type": "structure",
      "members": {
        "principal_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "principal_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.project_user_role_assignments#AssignedRoleDetailsAssignmentSourcesList": {
      "type": "list",
      "member": {
        "target": "com.openai.project_user_role_assignments#AssignedRoleDetailsAssignmentSourcesItem"
      },
      "traits": {}
    },
    "com.openai.project_user_role_assignments#RoleListResourceDataList": {
      "type": "list",
      "member": {
        "target": "com.openai.project_user_role_assignments#AssignedRoleDetails"
      },
      "traits": {
        "smithy.api#documentation": "Role assignments returned in the current page."
      }
    },
    "com.openai.project_user_role_assignments#ListProjectUserRoleAssignments": {
      "type": "operation",
      "input": {
        "target": "com.openai.project_user_role_assignments#ListProjectUserRoleAssignmentsRequest"
      },
      "output": {
        "target": "com.openai.project_user_role_assignments#RoleListResource"
      },
      "errors": [
        {
          "target": "com.openai.project_user_role_assignments#BadRequest"
        },
        {
          "target": "com.openai.project_user_role_assignments#Forbidden"
        },
        {
          "target": "com.openai.project_user_role_assignments#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects/{project_id}/users/{user_id}/roles",
          "code": 200
        },
        "smithy.api#documentation": "List project user role assignments\n\nLists the project roles assigned to a user within a project.",
        "com.distilled.openai#adminAuth": {},
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "after",
          "outputToken": "next",
          "items": "data",
          "pageSize": "limit"
        }
      }
    },
    "com.openai.project_user_role_assignments#AssignProjectUserRoleRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project to update."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the user that should receive the project role."
          }
        },
        "role_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the role to assign.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.project_user_role_assignments#UserRoleAssignment": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.project_user_role_assignments#UserRoleAssignmentObject",
          "traits": {
            "smithy.api#documentation": "Always `user.role`.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.openai.project_user_role_assignments#User",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.openai.project_user_role_assignments#Role",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Role assignment linking a user to a role."
      }
    },
    "com.openai.project_user_role_assignments#UserRoleAssignmentObject": {
      "type": "enum",
      "members": {
        "USER_ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.role"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always `user.role`."
      }
    },
    "com.openai.project_user_role_assignments#User": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.project_user_role_assignments#UserObject",
          "traits": {
            "smithy.api#documentation": "The object type, which is always `organization.user`",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier, which can be referenced in API endpoints",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the user",
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the user",
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`owner` or `reader`",
            "com.distilled.openapi#nullable": {}
          }
        },
        "added_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) of when the user was added.",
            "smithy.api#required": {}
          }
        },
        "is_default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this is the organization's default user."
          }
        },
        "created": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) of when the user was created."
          }
        },
        "user": {
          "target": "com.openai.project_user_role_assignments#UserUser",
          "traits": {
            "smithy.api#documentation": "Nested user details."
          }
        },
        "is_service_account": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user is a service account."
          }
        },
        "is_scale_tier_authorized_purchaser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user is an authorized purchaser for Scale Tier.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_scim_managed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user is managed through SCIM."
          }
        },
        "api_key_last_used_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) of the user's last API key usage.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "technical_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The technical level metadata for the user.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "developer_persona": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The developer persona metadata for the user.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "projects": {
          "target": "com.openai.project_user_role_assignments#UserProjects",
          "traits": {
            "smithy.api#documentation": "Projects associated with the user, if included.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an individual `user` within an organization."
      }
    },
    "com.openai.project_user_role_assignments#UserObject": {
      "type": "enum",
      "members": {
        "ORGANIZATION_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization.user"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type, which is always `organization.user`"
      }
    },
    "com.openai.project_user_role_assignments#UserUserObject": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {}
    },
    "com.openai.project_user_role_assignments#UserUser": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.project_user_role_assignments#UserUserObject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "picture": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "banned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "banned_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Nested user details."
      }
    },
    "com.openai.project_user_role_assignments#UserProjectsObject": {
      "type": "enum",
      "members": {
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        }
      },
      "traits": {}
    },
    "com.openai.project_user_role_assignments#UserProjectsDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.project_user_role_assignments#UserProjectsDataList": {
      "type": "list",
      "member": {
        "target": "com.openai.project_user_role_assignments#UserProjectsDataItem"
      },
      "traits": {}
    },
    "com.openai.project_user_role_assignments#UserProjects": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.project_user_role_assignments#UserProjectsObject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.openai.project_user_role_assignments#UserProjectsDataList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.project_user_role_assignments#Role": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.openai.project_user_role_assignments#RoleObject",
          "traits": {
            "smithy.api#documentation": "Always `role`.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the role.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique name for the role.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the role.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "permissions": {
          "target": "com.openai.project_user_role_assignments#RolePermissionsList",
          "traits": {
            "smithy.api#documentation": "Permissions granted by the role.",
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type the role is bound to (for example `api.organization` or `api.project`).",
            "smithy.api#required": {}
          }
        },
        "predefined_role": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the role is predefined and managed by OpenAI.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about a role that can be assigned through the public Roles API."
      }
    },
    "com.openai.project_user_role_assignments#RoleObject": {
      "type": "enum",
      "members": {
        "ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "role"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always `role`."
      }
    },
    "com.openai.project_user_role_assignments#RolePermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Permissions granted by the role."
      }
    },
    "com.openai.project_user_role_assignments#AssignProjectUserRole": {
      "type": "operation",
      "input": {
        "target": "com.openai.project_user_role_assignments#AssignProjectUserRoleRequest"
      },
      "output": {
        "target": "com.openai.project_user_role_assignments#UserRoleAssignment"
      },
      "errors": [
        {
          "target": "com.openai.project_user_role_assignments#BadRequest"
        },
        {
          "target": "com.openai.project_user_role_assignments#Forbidden"
        },
        {
          "target": "com.openai.project_user_role_assignments#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/projects/{project_id}/users/{user_id}/roles",
          "code": 200
        },
        "smithy.api#documentation": "Assign project role to user\n\nAssigns a project role to a user within a project.",
        "com.distilled.openai#adminAuth": {}
      }
    },
    "com.openai.project_user_role_assignments#GetProjectUserRoleRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project to inspect."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the user to inspect."
          }
        },
        "role_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project role to retrieve for the user."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.project_user_role_assignments#GetProjectUserRole": {
      "type": "operation",
      "input": {
        "target": "com.openai.project_user_role_assignments#GetProjectUserRoleRequest"
      },
      "output": {
        "target": "com.openai.project_user_role_assignments#AssignedRoleDetails"
      },
      "errors": [
        {
          "target": "com.openai.project_user_role_assignments#BadRequest"
        },
        {
          "target": "com.openai.project_user_role_assignments#Forbidden"
        },
        {
          "target": "com.openai.project_user_role_assignments#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects/{project_id}/users/{user_id}/roles/{role_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve project user role\n\nRetrieves a project role assigned to a user.",
        "com.distilled.openai#adminAuth": {}
      }
    },
    "com.openai.project_user_role_assignments#UnassignProjectUserRoleRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project to modify."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the user whose project role assignment should be removed."
          }
        },
        "role_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project role to remove from the user."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.project_user_role_assignments#DeletedRoleAssignmentResource": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the deleted assignment, such as `group.role.deleted` or `user.role.deleted`.",
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the assignment was removed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Confirmation payload returned after unassigning a role."
      }
    },
    "com.openai.project_user_role_assignments#UnassignProjectUserRole": {
      "type": "operation",
      "input": {
        "target": "com.openai.project_user_role_assignments#UnassignProjectUserRoleRequest"
      },
      "output": {
        "target": "com.openai.project_user_role_assignments#DeletedRoleAssignmentResource"
      },
      "errors": [
        {
          "target": "com.openai.project_user_role_assignments#BadRequest"
        },
        {
          "target": "com.openai.project_user_role_assignments#Forbidden"
        },
        {
          "target": "com.openai.project_user_role_assignments#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/projects/{project_id}/users/{user_id}/roles/{role_id}",
          "code": 200
        },
        "smithy.api#documentation": "Unassign project role from user\n\nUnassigns a project role from a user within a project.",
        "com.distilled.openai#adminAuth": {}
      }
    },
    "com.openai.project_user_role_assignments#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.openai.project_user_role_assignments#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.openai.project_user_role_assignments#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.openai.project_user_role_assignments#ProjectUserRoleAssignments": {
      "type": "service",
      "version": "2.3.0",
      "operations": [
        {
          "target": "com.openai.project_user_role_assignments#ListProjectUserRoleAssignments"
        },
        {
          "target": "com.openai.project_user_role_assignments#AssignProjectUserRole"
        },
        {
          "target": "com.openai.project_user_role_assignments#GetProjectUserRole"
        },
        {
          "target": "com.openai.project_user_role_assignments#UnassignProjectUserRole"
        }
      ],
      "traits": {
        "smithy.api#title": "OpenAI API",
        "smithy.api#documentation": "The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details."
      }
    }
  }
}
