{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openai.realtime#RealtimeSessionCreateRequestGA": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.realtime#RealtimeSessionCreateRequestGAType",
          "traits": {
            "smithy.api#documentation": "The type of session to create. Always `realtime` for the Realtime API.\n",
            "smithy.api#required": {}
          }
        },
        "output_modalities": {
          "target": "com.openai.realtime#RealtimeSessionCreateRequestGAOutputModalitiesList",
          "traits": {
            "smithy.api#documentation": "The set of modalities the model can respond with. It defaults to `[\"audio\"]`, indicating\nthat the model will respond with audio plus a transcript. `[\"text\"]` can be used to make\nthe model respond with text only. It is not possible to request both `text` and `audio` at the same time.\n"
          }
        },
        "model": {
          "target": "com.openai.realtime#RealtimeSessionCreateRequestGAModel",
          "traits": {
            "smithy.api#documentation": "The Realtime model used for this session.\n"
          }
        },
        "instructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default system instructions (i.e. system message) prepended to model calls. This field allows the client to guide the model on desired responses. The model can be instructed on response content and format, (e.g. \"be extremely succinct\", \"act friendly\", \"here are examples of good responses\") and on audio behavior (e.g. \"talk quickly\", \"inject emotion into your voice\", \"laugh frequently\"). The instructions are not guaranteed to be followed by the model, but they provide guidance to the model on the desired behavior.\n\nNote that the server sets default instructions which will be used if this field is not set and are visible in the `session.created` event at the start of the session.\n"
          }
        },
        "audio": {
          "target": "com.openai.realtime#RealtimeSessionCreateRequestGAAudio",
          "traits": {
            "smithy.api#documentation": "Configuration for input and output audio.\n"
          }
        },
        "include": {
          "target": "com.openai.realtime#RealtimeSessionCreateRequestGAIncludeList",
          "traits": {
            "smithy.api#documentation": "Additional fields to include in server outputs.\n\n`item.input_audio_transcription.logprobs`: Include logprobs for input audio transcription.\n"
          }
        },
        "tracing": {
          "target": "com.openai.realtime#RealtimeSessionCreateRequestGATracing",
          "traits": {
            "smithy.api#documentation": "Realtime API can write session traces to the [Traces Dashboard](https://platform.openai.com/logs?api=traces). Set to null to disable tracing. Once\ntracing is enabled for a session, the configuration cannot be modified.\n\n`auto` will create a trace for the session with default values for the\nworkflow name, group id, and metadata.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tools": {
          "target": "com.openai.realtime#RealtimeSessionCreateRequestGAToolsList",
          "traits": {
            "smithy.api#documentation": "Tools available to the model."
          }
        },
        "tool_choice": {
          "target": "com.openai.realtime#RealtimeSessionCreateRequestGAToolChoice",
          "traits": {
            "smithy.api#documentation": "How the model chooses tools. Provide one of the string modes or force a specific\nfunction/MCP tool.\n"
          }
        },
        "parallel_tool_calls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the model may call multiple tools in parallel. Only supported by\nreasoning Realtime models such as `gpt-realtime-2`.\n"
          }
        },
        "reasoning": {
          "target": "com.openai.realtime#RealtimeReasoning"
        },
        "max_output_tokens": {
          "target": "com.openai.realtime#RealtimeSessionCreateRequestGAMaxOutputTokens",
          "traits": {
            "smithy.api#documentation": "Maximum number of output tokens for a single assistant response,\ninclusive of tool calls. Provide an integer between 1 and 4096 to\nlimit output tokens, or `inf` for the maximum available tokens for a\ngiven model. Defaults to `inf`.\n"
          }
        },
        "truncation": {
          "target": "com.openai.realtime#RealtimeTruncation"
        },
        "prompt": {
          "target": "com.openai.realtime#Prompt",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Realtime session object configuration."
      }
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGAType": {
      "type": "enum",
      "members": {
        "REALTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "realtime"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of session to create. Always `realtime` for the Realtime API.\n"
      }
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGAOutputModalitiesItem": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audio"
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGAOutputModalitiesList": {
      "type": "list",
      "member": {
        "target": "com.openai.realtime#RealtimeSessionCreateRequestGAOutputModalitiesItem"
      },
      "traits": {
        "smithy.api#documentation": "The set of modalities the model can respond with. It defaults to `[\"audio\"]`, indicating\nthat the model will respond with audio plus a transcript. `[\"text\"]` can be used to make\nthe model respond with text only. It is not possible to request both `text` and `audio` at the same time.\n"
      }
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGAModelCase1": {
      "type": "enum",
      "members": {
        "GPT_REALTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime"
          }
        },
        "GPT_REALTIME_1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime-1.5"
          }
        },
        "GPT_REALTIME_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime-2"
          }
        },
        "GPT_REALTIME_2_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime-2.1"
          }
        },
        "GPT_REALTIME_2_1_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime-2.1-mini"
          }
        },
        "GPT_REALTIME_2025_08_28": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime-2025-08-28"
          }
        },
        "GPT_4O_REALTIME_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-realtime-preview"
          }
        },
        "GPT_4O_REALTIME_PREVIEW_2024_10_01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-realtime-preview-2024-10-01"
          }
        },
        "GPT_4O_REALTIME_PREVIEW_2024_12_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-realtime-preview-2024-12-17"
          }
        },
        "GPT_4O_REALTIME_PREVIEW_2025_06_03": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-realtime-preview-2025-06-03"
          }
        },
        "GPT_4O_MINI_REALTIME_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini-realtime-preview"
          }
        },
        "GPT_4O_MINI_REALTIME_PREVIEW_2024_12_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini-realtime-preview-2024-12-17"
          }
        },
        "GPT_REALTIME_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime-mini"
          }
        },
        "GPT_REALTIME_MINI_2025_10_06": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime-mini-2025-10-06"
          }
        },
        "GPT_REALTIME_MINI_2025_12_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime-mini-2025-12-15"
          }
        },
        "GPT_AUDIO_1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-audio-1.5"
          }
        },
        "GPT_AUDIO_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-audio-mini"
          }
        },
        "GPT_AUDIO_MINI_2025_10_06": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-audio-mini-2025-10-06"
          }
        },
        "GPT_AUDIO_MINI_2025_12_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-audio-mini-2025-12-15"
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGAModel": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.realtime#RealtimeSessionCreateRequestGAModelCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The Realtime model used for this session.\n"
      }
    },
    "com.openai.realtime#RealtimeAudioFormats": {
      "type": "union",
      "members": {
        "PCMAudioFormat": {
          "target": "com.openai.realtime#RealtimeAudioFormatsPCMAudioFormat"
        },
        "PCMUAudioFormat": {
          "target": "com.openai.realtime#RealtimeAudioFormatsPCMUAudioFormat"
        },
        "PCMAAudioFormat": {
          "target": "com.openai.realtime#RealtimeAudioFormatsPCMAAudioFormat"
        }
      },
      "traits": {}
    },
    "com.openai.realtime#RealtimeAudioFormatsPCMAudioFormatType": {
      "type": "enum",
      "members": {
        "AUDIO_PCM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audio/pcm"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The audio format. Always `audio/pcm`."
      }
    },
    "com.openai.realtime#RealtimeAudioFormatsPCMAudioFormatRate": {
      "type": "intEnum",
      "members": {
        "_24000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 24000
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The sample rate of the audio. Always `24000`."
      }
    },
    "com.openai.realtime#RealtimeAudioFormatsPCMAudioFormat": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.realtime#RealtimeAudioFormatsPCMAudioFormatType",
          "traits": {
            "smithy.api#documentation": "The audio format. Always `audio/pcm`."
          }
        },
        "rate": {
          "target": "com.openai.realtime#RealtimeAudioFormatsPCMAudioFormatRate",
          "traits": {
            "smithy.api#documentation": "The sample rate of the audio. Always `24000`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The PCM audio format. Only a 24kHz sample rate is supported."
      }
    },
    "com.openai.realtime#RealtimeAudioFormatsPCMUAudioFormatType": {
      "type": "enum",
      "members": {
        "AUDIO_PCMU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audio/pcmu"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The audio format. Always `audio/pcmu`."
      }
    },
    "com.openai.realtime#RealtimeAudioFormatsPCMUAudioFormat": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.realtime#RealtimeAudioFormatsPCMUAudioFormatType",
          "traits": {
            "smithy.api#documentation": "The audio format. Always `audio/pcmu`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The G.711 μ-law format."
      }
    },
    "com.openai.realtime#RealtimeAudioFormatsPCMAAudioFormatType": {
      "type": "enum",
      "members": {
        "AUDIO_PCMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audio/pcma"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The audio format. Always `audio/pcma`."
      }
    },
    "com.openai.realtime#RealtimeAudioFormatsPCMAAudioFormat": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.realtime#RealtimeAudioFormatsPCMAAudioFormatType",
          "traits": {
            "smithy.api#documentation": "The audio format. Always `audio/pcma`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The G.711 A-law format."
      }
    },
    "com.openai.realtime#AudioTranscription": {
      "type": "structure",
      "members": {
        "model": {
          "target": "com.openai.realtime#AudioTranscriptionModel",
          "traits": {
            "smithy.api#documentation": "The model to use for transcription. Current options are `whisper-1`, `gpt-transcribe`, `gpt-live-transcribe`, `gpt-4o-mini-transcribe`, `gpt-4o-mini-transcribe-2025-12-15`, `gpt-4o-transcribe`, `gpt-4o-transcribe-diarize`, and `gpt-realtime-whisper`. Use `gpt-4o-transcribe-diarize` when you need diarization with speaker labels.\n"
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language of the input audio. Supplying the input language in\n[ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) (e.g. `en`) format\nwill improve accuracy and latency.\n"
          }
        },
        "languages": {
          "target": "com.openai.realtime#AudioTranscriptionLanguagesList",
          "traits": {
            "smithy.api#documentation": "Possible languages of the input audio, in [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) format. Supported by `gpt-transcribe` and `gpt-live-transcribe`.\n"
          }
        },
        "keywords": {
          "target": "com.openai.realtime#AudioTranscriptionKeywordsList",
          "traits": {
            "smithy.api#documentation": "Words or phrases to guide transcription of the input audio. Supported by `gpt-transcribe` and `gpt-live-transcribe`.\n"
          }
        },
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional text to guide the model's style or continue a previous audio\nsegment.\nFor `whisper-1`, the [prompt is a list of keywords](https://developers.openai.com/api/docs/guides/speech-to-text#prompting).\nFor `gpt-4o-transcribe` models (excluding `gpt-4o-transcribe-diarize`), the prompt is a free text string, for example \"expect words related to technology\".\nPrompt is not supported with `gpt-realtime-whisper` in GA Realtime sessions.\n"
          }
        },
        "delay": {
          "target": "com.openai.realtime#AudioTranscriptionDelay",
          "traits": {
            "smithy.api#documentation": "Controls how long the model waits before emitting transcription text.\nHigher values can improve transcription accuracy at the cost of latency.\nOnly supported with `gpt-realtime-whisper` in GA Realtime sessions.\n"
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#AudioTranscriptionModelCase1": {
      "type": "enum",
      "members": {
        "WHISPER_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whisper-1"
          }
        },
        "GPT_TRANSCRIBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-transcribe"
          }
        },
        "GPT_LIVE_TRANSCRIBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-live-transcribe"
          }
        },
        "GPT_4O_MINI_TRANSCRIBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini-transcribe"
          }
        },
        "GPT_4O_MINI_TRANSCRIBE_2025_12_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini-transcribe-2025-12-15"
          }
        },
        "GPT_4O_TRANSCRIBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-transcribe"
          }
        },
        "GPT_4O_TRANSCRIBE_DIARIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-transcribe-diarize"
          }
        },
        "GPT_REALTIME_WHISPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime-whisper"
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#AudioTranscriptionModel": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.realtime#AudioTranscriptionModelCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The model to use for transcription. Current options are `whisper-1`, `gpt-transcribe`, `gpt-live-transcribe`, `gpt-4o-mini-transcribe`, `gpt-4o-mini-transcribe-2025-12-15`, `gpt-4o-transcribe`, `gpt-4o-transcribe-diarize`, and `gpt-realtime-whisper`. Use `gpt-4o-transcribe-diarize` when you need diarization with speaker labels.\n"
      }
    },
    "com.openai.realtime#AudioTranscriptionLanguagesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Possible languages of the input audio, in [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) format. Supported by `gpt-transcribe` and `gpt-live-transcribe`.\n"
      }
    },
    "com.openai.realtime#AudioTranscriptionKeywordsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Words or phrases to guide transcription of the input audio. Supported by `gpt-transcribe` and `gpt-live-transcribe`.\n"
      }
    },
    "com.openai.realtime#AudioTranscriptionDelay": {
      "type": "enum",
      "members": {
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minimal"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls how long the model waits before emitting transcription text.\nHigher values can improve transcription accuracy at the cost of latency.\nOnly supported with `gpt-realtime-whisper` in GA Realtime sessions.\n"
      }
    },
    "com.openai.realtime#NoiseReductionType": {
      "type": "enum",
      "members": {
        "NEAR_FIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "near_field"
          }
        },
        "FAR_FIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "far_field"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of noise reduction. `near_field` is for close-talking microphones such as headphones, `far_field` is for far-field microphones such as laptop or conference room microphones.\n"
      }
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGAAudioInputNoiseReduction": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.realtime#NoiseReductionType"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for input audio noise reduction. This can be set to `null` to turn off.\nNoise reduction filters audio added to the input audio buffer before it is sent to VAD and the model.\nFiltering the audio can improve VAD and turn detection accuracy (reducing false positives) and model performance by improving perception of the input audio.\n"
      }
    },
    "com.openai.realtime#RealtimeTurnDetectionServerVADType": {
      "type": "enum",
      "members": {
        "SERVER_VAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server_vad"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of turn detection, `server_vad` to turn on simple Server VAD.\n"
      }
    },
    "com.openai.realtime#RealtimeTurnDetectionServerVAD": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.realtime#RealtimeTurnDetectionServerVADType",
          "traits": {
            "smithy.api#documentation": "Type of turn detection, `server_vad` to turn on simple Server VAD.\n",
            "smithy.api#required": {}
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Used only for `server_vad` mode. Activation threshold for VAD (0.0 to 1.0), this defaults to 0.5. A\nhigher threshold will require louder audio to activate the model, and\nthus might perform better in noisy environments.\n"
          }
        },
        "prefix_padding_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Used only for `server_vad` mode. Amount of audio to include before the VAD detected speech (in\nmilliseconds). Defaults to 300ms.\n"
          }
        },
        "silence_duration_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Used only for `server_vad` mode. Duration of silence to detect speech stop (in milliseconds). Defaults\nto 500ms. With shorter values the model will respond more quickly,\nbut may jump in on short pauses from the user.\n"
          }
        },
        "create_response": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to automatically generate a response when a VAD stop event occurs. If `interrupt_response` is set to `false` this may fail to create a response if the model is already responding.\n\nIf both `create_response` and `interrupt_response` are set to `false`, the model will never respond automatically but VAD events will still be emitted.\n"
          }
        },
        "interrupt_response": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to automatically interrupt (cancel) any ongoing response with output to the default\nconversation (i.e. `conversation` of `auto`) when a VAD start event occurs. If `true` then the response will be cancelled, otherwise it will continue until complete.\n\nIf both `create_response` and `interrupt_response` are set to `false`, the model will never respond automatically but VAD events will still be emitted.\n"
          }
        },
        "idle_timeout_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server-side voice activity detection (VAD) which flips on when user speech is detected and off after a period of silence."
      }
    },
    "com.openai.realtime#RealtimeTurnDetectionSemanticVADType": {
      "type": "enum",
      "members": {
        "SEMANTIC_VAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semantic_vad"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of turn detection, `semantic_vad` to turn on Semantic VAD.\n"
      }
    },
    "com.openai.realtime#RealtimeTurnDetectionSemanticVADEagerness": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used only for `semantic_vad` mode. The eagerness of the model to respond. `low` will wait longer for the user to continue speaking, `high` will respond more quickly. `auto` is the default and is equivalent to `medium`. `low`, `medium`, and `high` have max timeouts of 8s, 4s, and 2s respectively.\n"
      }
    },
    "com.openai.realtime#RealtimeTurnDetectionSemanticVAD": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.realtime#RealtimeTurnDetectionSemanticVADType",
          "traits": {
            "smithy.api#documentation": "Type of turn detection, `semantic_vad` to turn on Semantic VAD.\n",
            "smithy.api#required": {}
          }
        },
        "eagerness": {
          "target": "com.openai.realtime#RealtimeTurnDetectionSemanticVADEagerness",
          "traits": {
            "smithy.api#documentation": "Used only for `semantic_vad` mode. The eagerness of the model to respond. `low` will wait longer for the user to continue speaking, `high` will respond more quickly. `auto` is the default and is equivalent to `medium`. `low`, `medium`, and `high` have max timeouts of 8s, 4s, and 2s respectively.\n"
          }
        },
        "create_response": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to automatically generate a response when a VAD stop event occurs.\n"
          }
        },
        "interrupt_response": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to automatically interrupt any ongoing response with output to the default\nconversation (i.e. `conversation` of `auto`) when a VAD start event occurs.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server-side semantic turn detection which uses a model to determine when the user has finished speaking."
      }
    },
    "com.openai.realtime#RealtimeTurnDetection": {
      "type": "union",
      "members": {
        "ServerVAD": {
          "target": "com.openai.realtime#RealtimeTurnDetectionServerVAD"
        },
        "SemanticVAD": {
          "target": "com.openai.realtime#RealtimeTurnDetectionSemanticVAD"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for turn detection, ether Server VAD or Semantic VAD. This can be set to `null` to turn off, in which case the client must manually trigger model response.\n\nServer VAD means that the model will detect the start and end of speech based on audio volume and respond at the end of user speech.\n\nSemantic VAD is more advanced and uses a turn detection model (in conjunction with VAD) to semantically estimate whether the user has finished speaking, then dynamically sets a timeout based on this probability. For example, if user audio trails off with \"uhhm\", the model will score a low probability of turn end and wait longer for the user to continue speaking. This can be useful for more natural conversations, but may have a higher latency.\n\nFor `gpt-realtime-whisper` transcription sessions, turn detection must be\nset to `null`; VAD is not supported.\n"
      }
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGAAudioInput": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.openai.realtime#RealtimeAudioFormats",
          "traits": {
            "smithy.api#documentation": "The format of the input audio."
          }
        },
        "transcription": {
          "target": "com.openai.realtime#AudioTranscription",
          "traits": {
            "smithy.api#documentation": "Configuration for input audio transcription, defaults to off and can be set to `null` to turn off once on. Input audio transcription is not native to the model, since the model consumes audio directly. Transcription runs asynchronously through [the /audio/transcriptions endpoint](https://developers.openai.com/api/reference/resources/audio/subresources/transcriptions/methods/create) and should be treated as guidance of input audio content rather than precisely what the model heard. The client can optionally set the language and prompt for transcription, these offer additional guidance to the transcription service.\n"
          }
        },
        "noise_reduction": {
          "target": "com.openai.realtime#RealtimeSessionCreateRequestGAAudioInputNoiseReduction",
          "traits": {
            "smithy.api#documentation": "Configuration for input audio noise reduction. This can be set to `null` to turn off.\nNoise reduction filters audio added to the input audio buffer before it is sent to VAD and the model.\nFiltering the audio can improve VAD and turn detection accuracy (reducing false positives) and model performance by improving perception of the input audio.\n"
          }
        },
        "turn_detection": {
          "target": "com.openai.realtime#RealtimeTurnDetection",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#VoiceIdsOrCustomVoice": {
      "type": "union",
      "members": {
        "VoiceIdsShared": {
          "target": "com.openai.realtime#VoiceIdsShared"
        },
        "Case1": {
          "target": "com.openai.realtime#VoiceIdsOrCustomVoiceCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "A built-in voice name or a custom voice reference.\n"
      }
    },
    "com.openai.realtime#VoiceIdsShared": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.realtime#VoiceIdsSharedCase1"
        }
      },
      "traits": {}
    },
    "com.openai.realtime#VoiceIdsSharedCase1": {
      "type": "enum",
      "members": {
        "ALLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alloy"
          }
        },
        "ASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ash"
          }
        },
        "BALLAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ballad"
          }
        },
        "CORAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coral"
          }
        },
        "ECHO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "echo"
          }
        },
        "SAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sage"
          }
        },
        "SHIMMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shimmer"
          }
        },
        "VERSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verse"
          }
        },
        "MARIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marin"
          }
        },
        "CEDAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cedar"
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#VoiceIdsOrCustomVoiceCase1": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The custom voice ID, e.g. `voice_1234`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom voice reference."
      }
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGAAudioOutput": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.openai.realtime#RealtimeAudioFormats",
          "traits": {
            "smithy.api#documentation": "The format of the output audio."
          }
        },
        "voice": {
          "target": "com.openai.realtime#VoiceIdsOrCustomVoice",
          "traits": {
            "smithy.api#documentation": "The voice the model uses to respond. Supported built-in voices are\n`alloy`, `ash`, `ballad`, `coral`, `echo`, `sage`, `shimmer`, `verse`,\n`marin`, and `cedar`. You may also provide a custom voice object with\nan `id`, for example `{ \"id\": \"voice_1234\" }`. Voice cannot be changed\nduring the session once the model has responded with audio at least once.\nCustom voices must be created from audio samples. Voices created from text prompts are supported only in Live.\nWe recommend `marin` and `cedar` for best quality.\n"
          }
        },
        "speed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The speed of the model's spoken response as a multiple of the original speed.\n1.0 is the default speed. 0.25 is the minimum speed. 1.5 is the maximum speed. This value can only be changed in between model turns, not while a response is in progress.\n\nThis parameter is a post-processing adjustment to the audio after it is generated, it's\nalso possible to prompt the model to speak faster or slower.\n"
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGAAudio": {
      "type": "structure",
      "members": {
        "input": {
          "target": "com.openai.realtime#RealtimeSessionCreateRequestGAAudioInput"
        },
        "output": {
          "target": "com.openai.realtime#RealtimeSessionCreateRequestGAAudioOutput"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for input and output audio.\n"
      }
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGAIncludeItem": {
      "type": "enum",
      "members": {
        "ITEM_INPUT_AUDIO_TRANSCRIPTION_LOGPROBS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "item.input_audio_transcription.logprobs"
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGAIncludeList": {
      "type": "list",
      "member": {
        "target": "com.openai.realtime#RealtimeSessionCreateRequestGAIncludeItem"
      },
      "traits": {
        "smithy.api#documentation": "Additional fields to include in server outputs.\n\n`item.input_audio_transcription.logprobs`: Include logprobs for input audio transcription.\n"
      }
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGATracingAuto": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enables tracing and sets default values for tracing configuration options. Always `auto`.\n"
      }
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGATracingTracingConfiguration": {
      "type": "structure",
      "members": {
        "workflow_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the workflow to attach to this trace. This is used to\nname the trace in the Traces Dashboard.\n"
          }
        },
        "group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group id to attach to this trace to enable filtering and\ngrouping in the Traces Dashboard.\n"
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The arbitrary metadata to attach to this trace to enable\nfiltering in the Traces Dashboard.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Granular configuration for tracing.\n"
      }
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGATracing": {
      "type": "union",
      "members": {
        "Auto": {
          "target": "com.openai.realtime#RealtimeSessionCreateRequestGATracingAuto"
        },
        "TracingConfiguration": {
          "target": "com.openai.realtime#RealtimeSessionCreateRequestGATracingTracingConfiguration"
        }
      },
      "traits": {
        "smithy.api#documentation": "Realtime API can write session traces to the [Traces Dashboard](https://platform.openai.com/logs?api=traces). Set to null to disable tracing. Once\ntracing is enabled for a session, the configuration cannot be modified.\n\n`auto` will create a trace for the session with default values for the\nworkflow name, group id, and metadata.\n"
      }
    },
    "com.openai.realtime#RealtimeFunctionTool": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.realtime#RealtimeFunctionToolType",
          "traits": {
            "smithy.api#documentation": "The type of the tool, i.e. `function`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the function, including guidance on when and how\nto call it, and guidance about what to tell the user when calling\n(if anything).\n"
          }
        },
        "parameters": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Parameters of the function in JSON Schema."
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#RealtimeFunctionToolType": {
      "type": "enum",
      "members": {
        "FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the tool, i.e. `function`."
      }
    },
    "com.openai.realtime#MCPTool": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.realtime#MCPToolType",
          "traits": {
            "smithy.api#documentation": "The type of the MCP tool. Always `mcp`.",
            "smithy.api#required": {}
          }
        },
        "server_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A label for this MCP server, used to identify it in tool calls.\n",
            "smithy.api#required": {}
          }
        },
        "server_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL for the MCP server. One of `server_url`, `connector_id`, or\n`tunnel_id` must be provided.\n"
          }
        },
        "connector_id": {
          "target": "com.openai.realtime#MCPToolConnectorId",
          "traits": {
            "smithy.api#documentation": "Identifier for service connectors, like those available in ChatGPT. One of\n`server_url`, `connector_id`, or `tunnel_id` must be provided. Learn more\nabout service connectors [here](https://developers.openai.com/api/docs/guides/tools-connectors-mcp#connectors).\n\nThis field is deprecated for models released after September 1, 2026.\nUse `server_url` to connect to a remote MCP server, or `tunnel_id` to\nconnect through a Secure MCP Tunnel.\n\nCurrently supported `connector_id` values are:\n\n- Dropbox: `connector_dropbox`\n- Gmail: `connector_gmail`\n- Google Calendar: `connector_googlecalendar`\n- Google Drive: `connector_googledrive`\n- Microsoft Teams: `connector_microsoftteams`\n- Outlook Calendar: `connector_outlookcalendar`\n- Outlook Email: `connector_outlookemail`\n- SharePoint: `connector_sharepoint`\n"
          }
        },
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Secure MCP Tunnel ID to use instead of a direct server URL. One of\n`server_url`, `connector_id`, or `tunnel_id` must be provided.\n"
          }
        },
        "authorization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An OAuth access token that can be used with a remote MCP server, either\nwith a custom MCP server URL or a service connector. Your application\nmust handle the OAuth authorization flow and provide the token here.\n"
          }
        },
        "server_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the MCP server, used to provide more context.\n"
          }
        },
        "headers": {
          "target": "com.openai.realtime#MCPToolHeadersMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "allowed_tools": {
          "target": "com.openai.realtime#MCPToolAllowedTools",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "allowed_callers": {
          "target": "com.openai.realtime#MCPToolAllowedCallersList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "require_approval": {
          "target": "com.openai.realtime#MCPToolRequireApproval",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "defer_loading": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this MCP tool is deferred and discovered via tool search.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Give the model access to additional tools via remote Model Context Protocol\n(MCP) servers. [Learn more about MCP](https://developers.openai.com/api/docs/guides/tools-connectors-mcp).\n"
      }
    },
    "com.openai.realtime#MCPToolType": {
      "type": "enum",
      "members": {
        "MCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mcp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the MCP tool. Always `mcp`."
      }
    },
    "com.openai.realtime#MCPToolConnectorId": {
      "type": "enum",
      "members": {
        "CONNECTOR_DROPBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connector_dropbox"
          }
        },
        "CONNECTOR_GMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connector_gmail"
          }
        },
        "CONNECTOR_GOOGLECALENDAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connector_googlecalendar"
          }
        },
        "CONNECTOR_GOOGLEDRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connector_googledrive"
          }
        },
        "CONNECTOR_MICROSOFTTEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connector_microsoftteams"
          }
        },
        "CONNECTOR_OUTLOOKCALENDAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connector_outlookcalendar"
          }
        },
        "CONNECTOR_OUTLOOKEMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connector_outlookemail"
          }
        },
        "CONNECTOR_SHAREPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connector_sharepoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifier for service connectors, like those available in ChatGPT. One of\n`server_url`, `connector_id`, or `tunnel_id` must be provided. Learn more\nabout service connectors [here](https://developers.openai.com/api/docs/guides/tools-connectors-mcp#connectors).\n\nThis field is deprecated for models released after September 1, 2026.\nUse `server_url` to connect to a remote MCP server, or `tunnel_id` to\nconnect through a Secure MCP Tunnel.\n\nCurrently supported `connector_id` values are:\n\n- Dropbox: `connector_dropbox`\n- Gmail: `connector_gmail`\n- Google Calendar: `connector_googlecalendar`\n- Google Drive: `connector_googledrive`\n- Microsoft Teams: `connector_microsoftteams`\n- Outlook Calendar: `connector_outlookcalendar`\n- Outlook Email: `connector_outlookemail`\n- SharePoint: `connector_sharepoint`\n"
      }
    },
    "com.openai.realtime#MCPToolHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional HTTP headers to send to the MCP server. Use for authentication\nor other purposes.\n"
      }
    },
    "com.openai.realtime#MCPToolAllowedToolsMCPAllowedToolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A string array of allowed tool names"
      }
    },
    "com.openai.realtime#MCPToolFilter": {
      "type": "structure",
      "members": {
        "tool_names": {
          "target": "com.openai.realtime#MCPToolFilterToolNamesList",
          "traits": {
            "smithy.api#documentation": "List of allowed tool names."
          }
        },
        "read_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether or not a tool modifies data or is read-only. If an\nMCP server is [annotated with `readOnlyHint`](https://modelcontextprotocol.io/specification/2025-06-18/schema#toolannotations-readonlyhint),\nit will match this filter.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter object to specify which tools are allowed.\n"
      }
    },
    "com.openai.realtime#MCPToolFilterToolNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of allowed tool names."
      }
    },
    "com.openai.realtime#MCPToolAllowedTools": {
      "type": "union",
      "members": {
        "MCPAllowedTools": {
          "target": "com.openai.realtime#MCPToolAllowedToolsMCPAllowedToolsList"
        },
        "MCPToolFilter": {
          "target": "com.openai.realtime#MCPToolFilter"
        }
      },
      "traits": {
        "smithy.api#documentation": "List of allowed tool names or a filter object.\n"
      }
    },
    "com.openai.realtime#CallableToolAllowedCaller": {
      "type": "enum",
      "members": {
        "DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "direct"
          }
        },
        "PROGRAMMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "programmatic"
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#MCPToolAllowedCallersList": {
      "type": "list",
      "member": {
        "target": "com.openai.realtime#CallableToolAllowedCaller"
      },
      "traits": {
        "smithy.api#documentation": "The tool invocation context(s)."
      }
    },
    "com.openai.realtime#MCPToolRequireApprovalMCPToolApprovalFilter": {
      "type": "structure",
      "members": {
        "always": {
          "target": "com.openai.realtime#MCPToolFilter"
        },
        "never": {
          "target": "com.openai.realtime#MCPToolFilter"
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify which of the MCP server's tools require approval. Can be\n`always`, `never`, or a filter object associated with tools\nthat require approval.\n"
      }
    },
    "com.openai.realtime#MCPToolRequireApprovalMCPToolApprovalSetting": {
      "type": "enum",
      "members": {
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify a single approval policy for all tools. One of `always` or\n`never`. When set to `always`, all tools will require approval. When\nset to `never`, all tools will not require approval.\n"
      }
    },
    "com.openai.realtime#MCPToolRequireApproval": {
      "type": "union",
      "members": {
        "MCPToolApprovalFilter": {
          "target": "com.openai.realtime#MCPToolRequireApprovalMCPToolApprovalFilter"
        },
        "MCPToolApprovalSetting": {
          "target": "com.openai.realtime#MCPToolRequireApprovalMCPToolApprovalSetting"
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify which of the MCP server's tools require approval."
      }
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGAToolsItem": {
      "type": "union",
      "members": {
        "RealtimeFunctionTool": {
          "target": "com.openai.realtime#RealtimeFunctionTool"
        },
        "MCPTool": {
          "target": "com.openai.realtime#MCPTool"
        }
      },
      "traits": {}
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGAToolsList": {
      "type": "list",
      "member": {
        "target": "com.openai.realtime#RealtimeSessionCreateRequestGAToolsItem"
      },
      "traits": {
        "smithy.api#documentation": "Tools available to the model."
      }
    },
    "com.openai.realtime#ToolChoiceOptions": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls which (if any) tool is called by the model.\n\n`none` means the model will not call any tool and instead generates a message.\n\n`auto` means the model can pick between generating a message or calling one or\nmore tools.\n\n`required` means the model must call one or more tools.\n"
      }
    },
    "com.openai.realtime#ToolChoiceFunction": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.realtime#ToolChoiceFunctionType",
          "traits": {
            "smithy.api#documentation": "For function calling, the type is always `function`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function to call.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use this option to force the model to call a specific function.\n"
      }
    },
    "com.openai.realtime#ToolChoiceFunctionType": {
      "type": "enum",
      "members": {
        "FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For function calling, the type is always `function`."
      }
    },
    "com.openai.realtime#ToolChoiceMCP": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.realtime#ToolChoiceMCPType",
          "traits": {
            "smithy.api#documentation": "For MCP tools, the type is always `mcp`.",
            "smithy.api#required": {}
          }
        },
        "server_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label of the MCP server to use.\n",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use this option to force the model to call a specific tool on a remote MCP server.\n"
      }
    },
    "com.openai.realtime#ToolChoiceMCPType": {
      "type": "enum",
      "members": {
        "MCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mcp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For MCP tools, the type is always `mcp`."
      }
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGAToolChoice": {
      "type": "union",
      "members": {
        "ToolChoiceOptions": {
          "target": "com.openai.realtime#ToolChoiceOptions"
        },
        "ToolChoiceFunction": {
          "target": "com.openai.realtime#ToolChoiceFunction"
        },
        "ToolChoiceMCP": {
          "target": "com.openai.realtime#ToolChoiceMCP"
        }
      },
      "traits": {
        "smithy.api#documentation": "How the model chooses tools. Provide one of the string modes or force a specific\nfunction/MCP tool.\n"
      }
    },
    "com.openai.realtime#RealtimeReasoning": {
      "type": "structure",
      "members": {
        "effort": {
          "target": "com.openai.realtime#RealtimeReasoningEffort"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for reasoning-capable Realtime models such as `gpt-realtime-2`.\n"
      }
    },
    "com.openai.realtime#RealtimeReasoningEffort": {
      "type": "enum",
      "members": {
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minimal"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Constrains effort on reasoning for reasoning-capable Realtime models such as\n`gpt-realtime-2`.\n"
      }
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGAMaxOutputTokensCase1": {
      "type": "enum",
      "members": {
        "INF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inf"
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#RealtimeSessionCreateRequestGAMaxOutputTokens": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "com.openai.realtime#RealtimeSessionCreateRequestGAMaxOutputTokensCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Maximum number of output tokens for a single assistant response,\ninclusive of tool calls. Provide an integer between 1 and 4096 to\nlimit output tokens, or `inf` for the maximum available tokens for a\ngiven model. Defaults to `inf`.\n"
      }
    },
    "com.openai.realtime#RealtimeTruncation": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.openai.realtime#RealtimeTruncationCase0"
        },
        "RetentionRatioTruncation": {
          "target": "com.openai.realtime#RealtimeTruncationRetentionRatioTruncation"
        }
      },
      "traits": {
        "smithy.api#documentation": "When the number of tokens in a conversation exceeds the model's input token limit, the conversation be truncated, meaning messages (starting from the oldest) will not be included in the model's context. A 32k context model with 4,096 max output tokens can only include 28,224 tokens in the context before truncation occurs.\n\nClients can configure truncation behavior to truncate with a lower max token limit, which is an effective way to control token usage and cost.\n\nTruncation will reduce the number of cached tokens on the next turn (busting the cache), since messages are dropped from the beginning of the context. However, clients can also configure truncation to retain messages up to a fraction of the maximum context size, which will reduce the need for future truncations and thus improve the cache rate.\n\nTruncation can be disabled entirely, which means the server will never truncate but would instead return an error if the conversation exceeds the model's input token limit.\n"
      }
    },
    "com.openai.realtime#RealtimeTruncationCase0": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The truncation strategy to use for the session. `auto` is the default truncation strategy. `disabled` will disable truncation and emit errors when the conversation exceeds the input token limit."
      }
    },
    "com.openai.realtime#RealtimeTruncationRetentionRatioTruncationType": {
      "type": "enum",
      "members": {
        "RETENTION_RATIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retention_ratio"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use retention ratio truncation."
      }
    },
    "com.openai.realtime#RealtimeTruncationRetentionRatioTruncationTokenLimits": {
      "type": "structure",
      "members": {
        "post_instructions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum tokens allowed in the conversation after instructions (which including tool definitions). For example, setting this to 5,000 would mean that truncation would occur when the conversation exceeds 5,000 tokens after instructions. This cannot be higher than the model's context window size minus the maximum output tokens."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional custom token limits for this truncation strategy. If not provided, the model's default token limits will be used."
      }
    },
    "com.openai.realtime#RealtimeTruncationRetentionRatioTruncation": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.realtime#RealtimeTruncationRetentionRatioTruncationType",
          "traits": {
            "smithy.api#documentation": "Use retention ratio truncation.",
            "smithy.api#required": {}
          }
        },
        "retention_ratio": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Fraction of post-instruction conversation tokens to retain (`0.0` - `1.0`) when the conversation exceeds the input token limit. Setting this to `0.8` means that messages will be dropped until 80% of the maximum allowed tokens are used. This helps reduce the frequency of truncations and improve cache rates.\n",
            "smithy.api#required": {}
          }
        },
        "token_limits": {
          "target": "com.openai.realtime#RealtimeTruncationRetentionRatioTruncationTokenLimits",
          "traits": {
            "smithy.api#documentation": "Optional custom token limits for this truncation strategy. If not provided, the model's default token limits will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Retain a fraction of the conversation tokens when the conversation exceeds the input token limit. This allows you to amortize truncations across multiple turns, which can help improve cached token usage."
      }
    },
    "com.openai.realtime#InputTextContent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.realtime#InputTextContentType",
          "traits": {
            "smithy.api#documentation": "The type of the input item. Always `input_text`.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text input to the model.",
            "smithy.api#required": {}
          }
        },
        "prompt_cache_breakpoint": {
          "target": "com.openai.realtime#PromptCacheBreakpointConfig"
        }
      },
      "traits": {
        "smithy.api#documentation": "A text input to the model."
      }
    },
    "com.openai.realtime#InputTextContentType": {
      "type": "enum",
      "members": {
        "INPUT_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the input item. Always `input_text`."
      }
    },
    "com.openai.realtime#PromptCacheBreakpointConfig": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.openai.realtime#PromptCacheBreakpointConfigMode",
          "traits": {
            "smithy.api#documentation": "The breakpoint mode. Always `explicit`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Marks the exact end of a reusable prompt prefix. The breakpoint inherits its TTL from the request's `prompt_cache_options.ttl`; the boundary is not rounded to a token block."
      }
    },
    "com.openai.realtime#PromptCacheBreakpointConfigMode": {
      "type": "enum",
      "members": {
        "EXPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "explicit"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The breakpoint mode. Always `explicit`."
      }
    },
    "com.openai.realtime#InputImageContent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.realtime#InputImageContentType",
          "traits": {
            "smithy.api#documentation": "The type of the input item. Always `input_image`.",
            "smithy.api#required": {}
          }
        },
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "detail": {
          "target": "com.openai.realtime#ImageDetail",
          "traits": {
            "smithy.api#documentation": "The detail level of the image to be sent to the model. One of `high`, `low`, `auto`, or `original`. Defaults to `auto`.",
            "smithy.api#required": {}
          }
        },
        "prompt_cache_breakpoint": {
          "target": "com.openai.realtime#PromptCacheBreakpointConfig"
        }
      },
      "traits": {
        "smithy.api#documentation": "An image input to the model. Learn about [image inputs](https://developers.openai.com/api/docs/guides/images-vision)."
      }
    },
    "com.openai.realtime#InputImageContentType": {
      "type": "enum",
      "members": {
        "INPUT_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_image"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the input item. Always `input_image`."
      }
    },
    "com.openai.realtime#ImageDetail": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "ORIGINAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "original"
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#InputFileContent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.realtime#InputFileContentType",
          "traits": {
            "smithy.api#documentation": "The type of the input item. Always `input_file`.",
            "smithy.api#required": {}
          }
        },
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the file to be sent to the model."
          }
        },
        "file_data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the file to be sent to the model.\n"
          }
        },
        "prompt_cache_breakpoint": {
          "target": "com.openai.realtime#PromptCacheBreakpointConfig"
        },
        "file_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the file to be sent to the model."
          }
        },
        "detail": {
          "target": "com.openai.realtime#FileInputDetail",
          "traits": {
            "smithy.api#documentation": "The detail level of the file to be sent to the model. Use `auto` to let the system select the detail level; for GPT-5.6 and later models, `auto` uses high-quality rendering, which may increase input token usage. Use `low` for lower-cost rendering, or `high` to render the file at higher quality. Defaults to `auto`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A file input to the model."
      }
    },
    "com.openai.realtime#InputFileContentType": {
      "type": "enum",
      "members": {
        "INPUT_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_file"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the input item. Always `input_file`."
      }
    },
    "com.openai.realtime#FileInputDetail": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#ResponsePromptVariablesValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "InputTextContent": {
          "target": "com.openai.realtime#InputTextContent"
        },
        "InputImageContent": {
          "target": "com.openai.realtime#InputImageContent"
        },
        "InputFileContent": {
          "target": "com.openai.realtime#InputFileContent"
        }
      },
      "traits": {}
    },
    "com.openai.realtime#ResponsePromptVariablesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.openai.realtime#ResponsePromptVariablesValue"
      },
      "traits": {
        "smithy.api#documentation": "Optional map of values to substitute in for variables in your\nprompt. The substitution values can either be strings, or other\nResponse input types like images or files.\n"
      }
    },
    "com.openai.realtime#Prompt": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the prompt template to use.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "variables": {
          "target": "com.openai.realtime#ResponsePromptVariablesMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to a prompt template and its variables.\n[Learn more](https://developers.openai.com/api/docs/guides/text?api-mode=responses#version-prompts-in-code).\n"
      }
    },
    "com.openai.realtime#CreateRealtimeCallRequest": {
      "type": "structure",
      "members": {
        "sdp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebRTC Session Description Protocol (SDP) offer generated by the caller.",
            "smithy.api#required": {}
          }
        },
        "session": {
          "target": "com.openai.realtime#RealtimeSessionCreateRequestGA",
          "traits": {
            "smithy.api#documentation": "Optional session configuration to apply before the realtime session is\ncreated. Use the same parameters you would send in a [`create client secret`](https://developers.openai.com/api/reference/resources/realtime/subresources/client_secrets/methods/create)\nrequest."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.realtime#CreateRealtimeCall": {
      "type": "operation",
      "input": {
        "target": "com.openai.realtime#CreateRealtimeCallRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/realtime/calls",
          "code": 200,
          "contentType": "multipart"
        },
        "smithy.api#documentation": "Create call\n\nCreate a new Realtime API call over WebRTC and receive the SDP answer needed\nto complete the peer connection.",
        "com.distilled.openapi#contentType": "multipart"
      }
    },
    "com.openai.realtime#AcceptRealtimeCallRequestType": {
      "type": "enum",
      "members": {
        "REALTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "realtime"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of session to create. Always `realtime` for the Realtime API.\n"
      }
    },
    "com.openai.realtime#AcceptRealtimeCallRequestOutputModalitiesItem": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audio"
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#AcceptRealtimeCallRequestOutputModalitiesList": {
      "type": "list",
      "member": {
        "target": "com.openai.realtime#AcceptRealtimeCallRequestOutputModalitiesItem"
      },
      "traits": {
        "smithy.api#documentation": "The set of modalities the model can respond with. It defaults to `[\"audio\"]`, indicating\nthat the model will respond with audio plus a transcript. `[\"text\"]` can be used to make\nthe model respond with text only. It is not possible to request both `text` and `audio` at the same time.\n"
      }
    },
    "com.openai.realtime#AcceptRealtimeCallRequestModelCase1": {
      "type": "enum",
      "members": {
        "GPT_REALTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime"
          }
        },
        "GPT_REALTIME_1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime-1.5"
          }
        },
        "GPT_REALTIME_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime-2"
          }
        },
        "GPT_REALTIME_2_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime-2.1"
          }
        },
        "GPT_REALTIME_2_1_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime-2.1-mini"
          }
        },
        "GPT_REALTIME_2025_08_28": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime-2025-08-28"
          }
        },
        "GPT_4O_REALTIME_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-realtime-preview"
          }
        },
        "GPT_4O_REALTIME_PREVIEW_2024_10_01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-realtime-preview-2024-10-01"
          }
        },
        "GPT_4O_REALTIME_PREVIEW_2024_12_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-realtime-preview-2024-12-17"
          }
        },
        "GPT_4O_REALTIME_PREVIEW_2025_06_03": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-realtime-preview-2025-06-03"
          }
        },
        "GPT_4O_MINI_REALTIME_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini-realtime-preview"
          }
        },
        "GPT_4O_MINI_REALTIME_PREVIEW_2024_12_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini-realtime-preview-2024-12-17"
          }
        },
        "GPT_REALTIME_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime-mini"
          }
        },
        "GPT_REALTIME_MINI_2025_10_06": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime-mini-2025-10-06"
          }
        },
        "GPT_REALTIME_MINI_2025_12_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-realtime-mini-2025-12-15"
          }
        },
        "GPT_AUDIO_1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-audio-1.5"
          }
        },
        "GPT_AUDIO_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-audio-mini"
          }
        },
        "GPT_AUDIO_MINI_2025_10_06": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-audio-mini-2025-10-06"
          }
        },
        "GPT_AUDIO_MINI_2025_12_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-audio-mini-2025-12-15"
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#AcceptRealtimeCallRequestModel": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.realtime#AcceptRealtimeCallRequestModelCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The Realtime model used for this session.\n"
      }
    },
    "com.openai.realtime#AcceptRealtimeCallRequestAudioInputNoiseReduction": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.realtime#NoiseReductionType"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for input audio noise reduction. This can be set to `null` to turn off.\nNoise reduction filters audio added to the input audio buffer before it is sent to VAD and the model.\nFiltering the audio can improve VAD and turn detection accuracy (reducing false positives) and model performance by improving perception of the input audio.\n"
      }
    },
    "com.openai.realtime#AcceptRealtimeCallRequestAudioInput": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.openai.realtime#RealtimeAudioFormats",
          "traits": {
            "smithy.api#documentation": "The format of the input audio."
          }
        },
        "transcription": {
          "target": "com.openai.realtime#AudioTranscription",
          "traits": {
            "smithy.api#documentation": "Configuration for input audio transcription, defaults to off and can be set to `null` to turn off once on. Input audio transcription is not native to the model, since the model consumes audio directly. Transcription runs asynchronously through [the /audio/transcriptions endpoint](https://developers.openai.com/api/reference/resources/audio/subresources/transcriptions/methods/create) and should be treated as guidance of input audio content rather than precisely what the model heard. The client can optionally set the language and prompt for transcription, these offer additional guidance to the transcription service.\n"
          }
        },
        "noise_reduction": {
          "target": "com.openai.realtime#AcceptRealtimeCallRequestAudioInputNoiseReduction",
          "traits": {
            "smithy.api#documentation": "Configuration for input audio noise reduction. This can be set to `null` to turn off.\nNoise reduction filters audio added to the input audio buffer before it is sent to VAD and the model.\nFiltering the audio can improve VAD and turn detection accuracy (reducing false positives) and model performance by improving perception of the input audio.\n"
          }
        },
        "turn_detection": {
          "target": "com.openai.realtime#RealtimeTurnDetection",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#AcceptRealtimeCallRequestAudioOutput": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.openai.realtime#RealtimeAudioFormats",
          "traits": {
            "smithy.api#documentation": "The format of the output audio."
          }
        },
        "voice": {
          "target": "com.openai.realtime#VoiceIdsOrCustomVoice",
          "traits": {
            "smithy.api#documentation": "The voice the model uses to respond. Supported built-in voices are\n`alloy`, `ash`, `ballad`, `coral`, `echo`, `sage`, `shimmer`, `verse`,\n`marin`, and `cedar`. You may also provide a custom voice object with\nan `id`, for example `{ \"id\": \"voice_1234\" }`. Voice cannot be changed\nduring the session once the model has responded with audio at least once.\nCustom voices must be created from audio samples. Voices created from text prompts are supported only in Live.\nWe recommend `marin` and `cedar` for best quality.\n"
          }
        },
        "speed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The speed of the model's spoken response as a multiple of the original speed.\n1.0 is the default speed. 0.25 is the minimum speed. 1.5 is the maximum speed. This value can only be changed in between model turns, not while a response is in progress.\n\nThis parameter is a post-processing adjustment to the audio after it is generated, it's\nalso possible to prompt the model to speak faster or slower.\n"
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#AcceptRealtimeCallRequestAudio": {
      "type": "structure",
      "members": {
        "input": {
          "target": "com.openai.realtime#AcceptRealtimeCallRequestAudioInput"
        },
        "output": {
          "target": "com.openai.realtime#AcceptRealtimeCallRequestAudioOutput"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for input and output audio.\n"
      }
    },
    "com.openai.realtime#AcceptRealtimeCallRequestIncludeItem": {
      "type": "enum",
      "members": {
        "ITEM_INPUT_AUDIO_TRANSCRIPTION_LOGPROBS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "item.input_audio_transcription.logprobs"
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#AcceptRealtimeCallRequestIncludeList": {
      "type": "list",
      "member": {
        "target": "com.openai.realtime#AcceptRealtimeCallRequestIncludeItem"
      },
      "traits": {
        "smithy.api#documentation": "Additional fields to include in server outputs.\n\n`item.input_audio_transcription.logprobs`: Include logprobs for input audio transcription.\n"
      }
    },
    "com.openai.realtime#AcceptRealtimeCallRequestTracingAuto": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enables tracing and sets default values for tracing configuration options. Always `auto`.\n"
      }
    },
    "com.openai.realtime#AcceptRealtimeCallRequestTracingTracingConfiguration": {
      "type": "structure",
      "members": {
        "workflow_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the workflow to attach to this trace. This is used to\nname the trace in the Traces Dashboard.\n"
          }
        },
        "group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group id to attach to this trace to enable filtering and\ngrouping in the Traces Dashboard.\n"
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The arbitrary metadata to attach to this trace to enable\nfiltering in the Traces Dashboard.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Granular configuration for tracing.\n"
      }
    },
    "com.openai.realtime#AcceptRealtimeCallRequestTracing": {
      "type": "union",
      "members": {
        "Auto": {
          "target": "com.openai.realtime#AcceptRealtimeCallRequestTracingAuto"
        },
        "TracingConfiguration": {
          "target": "com.openai.realtime#AcceptRealtimeCallRequestTracingTracingConfiguration"
        }
      },
      "traits": {
        "smithy.api#documentation": "Realtime API can write session traces to the [Traces Dashboard](https://platform.openai.com/logs?api=traces). Set to null to disable tracing. Once\ntracing is enabled for a session, the configuration cannot be modified.\n\n`auto` will create a trace for the session with default values for the\nworkflow name, group id, and metadata.\n"
      }
    },
    "com.openai.realtime#AcceptRealtimeCallRequestToolsItem": {
      "type": "union",
      "members": {
        "RealtimeFunctionTool": {
          "target": "com.openai.realtime#RealtimeFunctionTool"
        },
        "MCPTool": {
          "target": "com.openai.realtime#MCPTool"
        }
      },
      "traits": {}
    },
    "com.openai.realtime#AcceptRealtimeCallRequestToolsList": {
      "type": "list",
      "member": {
        "target": "com.openai.realtime#AcceptRealtimeCallRequestToolsItem"
      },
      "traits": {
        "smithy.api#documentation": "Tools available to the model."
      }
    },
    "com.openai.realtime#AcceptRealtimeCallRequestToolChoice": {
      "type": "union",
      "members": {
        "ToolChoiceOptions": {
          "target": "com.openai.realtime#ToolChoiceOptions"
        },
        "ToolChoiceFunction": {
          "target": "com.openai.realtime#ToolChoiceFunction"
        },
        "ToolChoiceMCP": {
          "target": "com.openai.realtime#ToolChoiceMCP"
        }
      },
      "traits": {
        "smithy.api#documentation": "How the model chooses tools. Provide one of the string modes or force a specific\nfunction/MCP tool.\n"
      }
    },
    "com.openai.realtime#AcceptRealtimeCallRequestMaxOutputTokensCase1": {
      "type": "enum",
      "members": {
        "INF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inf"
          }
        }
      },
      "traits": {}
    },
    "com.openai.realtime#AcceptRealtimeCallRequestMaxOutputTokens": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "com.openai.realtime#AcceptRealtimeCallRequestMaxOutputTokensCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Maximum number of output tokens for a single assistant response,\ninclusive of tool calls. Provide an integer between 1 and 4096 to\nlimit output tokens, or `inf` for the maximum available tokens for a\ngiven model. Defaults to `inf`.\n"
      }
    },
    "com.openai.realtime#AcceptRealtimeCallRequest": {
      "type": "structure",
      "members": {
        "call_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier for the call provided in the\n[`realtime.call.incoming`](https://developers.openai.com/api/reference/resources/webhooks#realtime.call.incoming)\nwebhook."
          }
        },
        "type": {
          "target": "com.openai.realtime#AcceptRealtimeCallRequestType",
          "traits": {
            "smithy.api#documentation": "The type of session to create. Always `realtime` for the Realtime API.\n",
            "smithy.api#required": {}
          }
        },
        "output_modalities": {
          "target": "com.openai.realtime#AcceptRealtimeCallRequestOutputModalitiesList",
          "traits": {
            "smithy.api#documentation": "The set of modalities the model can respond with. It defaults to `[\"audio\"]`, indicating\nthat the model will respond with audio plus a transcript. `[\"text\"]` can be used to make\nthe model respond with text only. It is not possible to request both `text` and `audio` at the same time.\n"
          }
        },
        "model": {
          "target": "com.openai.realtime#AcceptRealtimeCallRequestModel",
          "traits": {
            "smithy.api#documentation": "The Realtime model used for this session.\n"
          }
        },
        "instructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default system instructions (i.e. system message) prepended to model calls. This field allows the client to guide the model on desired responses. The model can be instructed on response content and format, (e.g. \"be extremely succinct\", \"act friendly\", \"here are examples of good responses\") and on audio behavior (e.g. \"talk quickly\", \"inject emotion into your voice\", \"laugh frequently\"). The instructions are not guaranteed to be followed by the model, but they provide guidance to the model on the desired behavior.\n\nNote that the server sets default instructions which will be used if this field is not set and are visible in the `session.created` event at the start of the session.\n"
          }
        },
        "audio": {
          "target": "com.openai.realtime#AcceptRealtimeCallRequestAudio",
          "traits": {
            "smithy.api#documentation": "Configuration for input and output audio.\n"
          }
        },
        "include": {
          "target": "com.openai.realtime#AcceptRealtimeCallRequestIncludeList",
          "traits": {
            "smithy.api#documentation": "Additional fields to include in server outputs.\n\n`item.input_audio_transcription.logprobs`: Include logprobs for input audio transcription.\n"
          }
        },
        "tracing": {
          "target": "com.openai.realtime#AcceptRealtimeCallRequestTracing",
          "traits": {
            "smithy.api#documentation": "Realtime API can write session traces to the [Traces Dashboard](https://platform.openai.com/logs?api=traces). Set to null to disable tracing. Once\ntracing is enabled for a session, the configuration cannot be modified.\n\n`auto` will create a trace for the session with default values for the\nworkflow name, group id, and metadata.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tools": {
          "target": "com.openai.realtime#AcceptRealtimeCallRequestToolsList",
          "traits": {
            "smithy.api#documentation": "Tools available to the model."
          }
        },
        "tool_choice": {
          "target": "com.openai.realtime#AcceptRealtimeCallRequestToolChoice",
          "traits": {
            "smithy.api#documentation": "How the model chooses tools. Provide one of the string modes or force a specific\nfunction/MCP tool.\n"
          }
        },
        "parallel_tool_calls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the model may call multiple tools in parallel. Only supported by\nreasoning Realtime models such as `gpt-realtime-2`.\n"
          }
        },
        "reasoning": {
          "target": "com.openai.realtime#RealtimeReasoning"
        },
        "max_output_tokens": {
          "target": "com.openai.realtime#AcceptRealtimeCallRequestMaxOutputTokens",
          "traits": {
            "smithy.api#documentation": "Maximum number of output tokens for a single assistant response,\ninclusive of tool calls. Provide an integer between 1 and 4096 to\nlimit output tokens, or `inf` for the maximum available tokens for a\ngiven model. Defaults to `inf`.\n"
          }
        },
        "truncation": {
          "target": "com.openai.realtime#RealtimeTruncation"
        },
        "prompt": {
          "target": "com.openai.realtime#Prompt",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.realtime#AcceptRealtimeCall": {
      "type": "operation",
      "input": {
        "target": "com.openai.realtime#AcceptRealtimeCallRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.openai.realtime#NotFound"
        },
        {
          "target": "com.openai.realtime#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/realtime/calls/{call_id}/accept",
          "code": 200
        },
        "smithy.api#documentation": "Accept call\n\nAccept an incoming SIP call and configure the realtime session that will\nhandle it."
      }
    },
    "com.openai.realtime#HangupRealtimeCallRequest": {
      "type": "structure",
      "members": {
        "call_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier for the call. For SIP calls, use the value provided in the\n[`realtime.call.incoming`](https://developers.openai.com/api/reference/resources/webhooks#realtime.call.incoming)\nwebhook. For WebRTC sessions, reuse the call ID returned in the `Location`\nheader when creating the call with\n[`POST /v1/realtime/calls`](https://developers.openai.com/api/reference/resources/realtime/subresources/calls/methods/create)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.realtime#HangupRealtimeCall": {
      "type": "operation",
      "input": {
        "target": "com.openai.realtime#HangupRealtimeCallRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.openai.realtime#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/realtime/calls/{call_id}/hangup",
          "code": 200
        },
        "smithy.api#documentation": "Hang up call\n\nEnd an active Realtime API call, whether it was initiated over SIP or\nWebRTC."
      }
    },
    "com.openai.realtime#ReferRealtimeCallRequest": {
      "type": "structure",
      "members": {
        "call_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier for the call provided in the\n[`realtime.call.incoming`](https://developers.openai.com/api/reference/resources/webhooks#realtime.call.incoming)\nwebhook."
          }
        },
        "target_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI that should appear in the SIP Refer-To header. Supports values like\n`tel:+14155550123` or `sip:agent@example.com`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.realtime#ReferRealtimeCall": {
      "type": "operation",
      "input": {
        "target": "com.openai.realtime#ReferRealtimeCallRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.openai.realtime#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/realtime/calls/{call_id}/refer",
          "code": 200
        },
        "smithy.api#documentation": "Refer call\n\nTransfer an active SIP call to a new destination using the SIP REFER verb."
      }
    },
    "com.openai.realtime#RejectRealtimeCallRequest": {
      "type": "structure",
      "members": {
        "call_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier for the call provided in the\n[`realtime.call.incoming`](https://developers.openai.com/api/reference/resources/webhooks#realtime.call.incoming)\nwebhook."
          }
        },
        "status_code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "SIP response code to send back to the caller. Defaults to `603` (Decline)\nwhen omitted."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.realtime#RejectRealtimeCall": {
      "type": "operation",
      "input": {
        "target": "com.openai.realtime#RejectRealtimeCallRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.openai.realtime#NotFound"
        },
        {
          "target": "com.openai.realtime#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/realtime/calls/{call_id}/reject",
          "code": 200
        },
[...]
