{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openai.responses_beta#CreateResponseRequestOpenaiBetaItem": {
      "type": "enum",
      "members": {
        "RESPONSES_MULTI_AGENT_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "responses_multi_agent=v1"
          }
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#CreateResponseRequestOpenaiBetaList": {
      "type": "list",
      "member": {
        "target": "com.openai.responses_beta#CreateResponseRequestOpenaiBetaItem"
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Set of 16 key-value pairs that can be attached to an object. This can be\nuseful for storing additional information about the object in a structured\nformat, and querying for objects via API or the dashboard.\n\nKeys are strings with a maximum length of 64 characters. Values are strings\nwith a maximum length of 512 characters.\n"
      }
    },
    "com.openai.responses_beta#CreateResponseRequestPromptCacheRetention": {
      "type": "enum",
      "members": {
        "IN_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_memory"
          }
        },
        "_24H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24h"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. Use `prompt_cache_options.ttl` instead.\n\nThe retention policy for the prompt cache. Set to `24h` to enable extended prompt caching, which keeps cached prefixes active for longer, up to a maximum of 24 hours. [Learn more](https://developers.openai.com/api/docs/guides/prompt-caching#prompt-cache-retention).\nThis field expresses a maximum retention policy, while\n`prompt_cache_options.ttl` expresses a minimum cache lifetime. The two\nfields are independent and do not interact.\nFor `gpt-5.5`, `gpt-5.5-pro`, and future models, only `24h` is supported.\n\nFor older models that support both `in_memory` and `24h`, the default depends on your organization's data retention policy:\n  - Organizations without ZDR enabled default to `24h`.\n  - Organizations with ZDR enabled default to `in_memory` when `prompt_cache_retention` is not specified.\n"
      }
    },
    "com.openai.responses_beta#BetaPromptCacheOptionsParam": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "com.openai.responses_beta#BetaPromptCacheTTLEnum",
          "traits": {
            "smithy.api#documentation": "The minimum lifetime applied to every implicit and explicit cache breakpoint written by the request. Defaults to `30m`, which is currently the only supported value. The backend may retain cache entries for longer."
          }
        },
        "mode": {
          "target": "com.openai.responses_beta#BetaPromptCacheModeEnum",
          "traits": {
            "smithy.api#documentation": "Controls whether OpenAI automatically creates an implicit cache breakpoint. Defaults to `implicit`. With `implicit`, OpenAI creates one implicit breakpoint and writes up to the latest three explicit breakpoints in the request. With `explicit`, OpenAI does not create an implicit breakpoint and writes up to the latest four explicit breakpoints. If there are no explicit breakpoints, the request does not use prompt caching."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for prompt caching. Supported for `gpt-5.6` and later models. By default, OpenAI automatically chooses one implicit cache breakpoint. You can add explicit breakpoints to content blocks with `prompt_cache_breakpoint`. Each request can write up to four breakpoints. For cache matching, OpenAI considers up to the latest 80 breakpoints in the conversation, without a content-block lookback limit. Set `mode` to `explicit` to disable the implicit breakpoint. The `ttl` defaults to `30m`, which is currently the only supported value. See the [prompt caching guide](https://developers.openai.com/api/docs/guides/prompt-caching) for current details."
      }
    },
    "com.openai.responses_beta#BetaPromptCacheTTLEnum": {
      "type": "enum",
      "members": {
        "_30M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "30m"
          }
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaPromptCacheModeEnum": {
      "type": "enum",
      "members": {
        "IMPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "implicit"
          }
        },
        "EXPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "explicit"
          }
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaModelIdsResponses": {
      "type": "union",
      "members": {
        "BetaModelIdsShared": {
          "target": "com.openai.responses_beta#BetaModelIdsShared"
        },
        "ResponsesOnlyModel": {
          "target": "com.openai.responses_beta#BetaModelIdsResponsesResponsesOnlyModel"
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaModelIdsShared": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.responses_beta#BetaModelIdsSharedCase1"
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaModelIdsSharedCase1": {
      "type": "enum",
      "members": {
        "GPT_6_ASTRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-6-astra"
          }
        },
        "GPT_6_1_SOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-6.1-sol"
          }
        },
        "GPT_6_SOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-6-sol"
          }
        },
        "GPT_6_LUNA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-6-luna"
          }
        },
        "GPT_5_6_SOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.6-sol"
          }
        },
        "GPT_5_6_TERRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.6-terra"
          }
        },
        "GPT_5_6_LUNA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.6-luna"
          }
        },
        "GPT_5_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.5"
          }
        },
        "GPT_5_5_2026_04_23": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.5-2026-04-23"
          }
        },
        "GPT_5_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.4"
          }
        },
        "GPT_5_4_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.4-mini"
          }
        },
        "GPT_5_4_NANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.4-nano"
          }
        },
        "GPT_5_4_MINI_2026_03_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.4-mini-2026-03-17"
          }
        },
        "GPT_5_4_NANO_2026_03_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.4-nano-2026-03-17"
          }
        },
        "GPT_5_3_CHAT_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.3-chat-latest"
          }
        },
        "GPT_5_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.2"
          }
        },
        "GPT_5_2_2025_12_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.2-2025-12-11"
          }
        },
        "GPT_5_2_CHAT_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.2-chat-latest"
          }
        },
        "GPT_5_2_PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.2-pro"
          }
        },
        "GPT_5_2_PRO_2025_12_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.2-pro-2025-12-11"
          }
        },
        "GPT_5_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.1"
          }
        },
        "GPT_5_1_2025_11_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.1-2025-11-13"
          }
        },
        "GPT_5_1_CODEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.1-codex"
          }
        },
        "GPT_5_1_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.1-mini"
          }
        },
        "GPT_5_1_CHAT_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.1-chat-latest"
          }
        },
        "GPT_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5"
          }
        },
        "GPT_5_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-mini"
          }
        },
        "GPT_5_NANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-nano"
          }
        },
        "GPT_5_2025_08_07": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-2025-08-07"
          }
        },
        "GPT_5_MINI_2025_08_07": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-mini-2025-08-07"
          }
        },
        "GPT_5_NANO_2025_08_07": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-nano-2025-08-07"
          }
        },
        "GPT_5_CHAT_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-chat-latest"
          }
        },
        "GPT_4_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.1"
          }
        },
        "GPT_4_1_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.1-mini"
          }
        },
        "GPT_4_1_NANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.1-nano"
          }
        },
        "GPT_4_1_2025_04_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.1-2025-04-14"
          }
        },
        "GPT_4_1_MINI_2025_04_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.1-mini-2025-04-14"
          }
        },
        "GPT_4_1_NANO_2025_04_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4.1-nano-2025-04-14"
          }
        },
        "O4_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o4-mini"
          }
        },
        "O4_MINI_2025_04_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o4-mini-2025-04-16"
          }
        },
        "O3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o3"
          }
        },
        "O3_2025_04_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o3-2025-04-16"
          }
        },
        "O3_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o3-mini"
          }
        },
        "O3_MINI_2025_01_31": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o3-mini-2025-01-31"
          }
        },
        "O1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o1"
          }
        },
        "O1_2024_12_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o1-2024-12-17"
          }
        },
        "O1_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o1-preview"
          }
        },
        "O1_PREVIEW_2024_09_12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o1-preview-2024-09-12"
          }
        },
        "O1_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o1-mini"
          }
        },
        "O1_MINI_2024_09_12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o1-mini-2024-09-12"
          }
        },
        "GPT_4O": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o"
          }
        },
        "GPT_4O_2024_11_20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-2024-11-20"
          }
        },
        "GPT_4O_2024_08_06": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-2024-08-06"
          }
        },
        "GPT_4O_2024_05_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-2024-05-13"
          }
        },
        "GPT_AUDIO_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-audio-mini"
          }
        },
        "GPT_AUDIO_MINI_2025_12_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-audio-mini-2025-12-15"
          }
        },
        "GPT_4O_AUDIO_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-audio-preview"
          }
        },
        "GPT_4O_AUDIO_PREVIEW_2024_10_01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-audio-preview-2024-10-01"
          }
        },
        "GPT_4O_AUDIO_PREVIEW_2024_12_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-audio-preview-2024-12-17"
          }
        },
        "GPT_4O_AUDIO_PREVIEW_2025_06_03": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-audio-preview-2025-06-03"
          }
        },
        "GPT_4O_MINI_AUDIO_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini-audio-preview"
          }
        },
        "GPT_4O_MINI_AUDIO_PREVIEW_2024_12_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini-audio-preview-2024-12-17"
          }
        },
        "GPT_4O_SEARCH_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-search-preview"
          }
        },
        "GPT_4O_MINI_SEARCH_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini-search-preview"
          }
        },
        "GPT_4O_SEARCH_PREVIEW_2025_03_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-search-preview-2025-03-11"
          }
        },
        "GPT_4O_MINI_SEARCH_PREVIEW_2025_03_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini-search-preview-2025-03-11"
          }
        },
        "CHATGPT_4O_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chatgpt-4o-latest"
          }
        },
        "CODEX_MINI_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "codex-mini-latest"
          }
        },
        "GPT_4O_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini"
          }
        },
        "GPT_4O_MINI_2024_07_18": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4o-mini-2024-07-18"
          }
        },
        "GPT_4_TURBO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-turbo"
          }
        },
        "GPT_4_TURBO_2024_04_09": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-turbo-2024-04-09"
          }
        },
        "GPT_4_0125_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-0125-preview"
          }
        },
        "GPT_4_TURBO_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-turbo-preview"
          }
        },
        "GPT_4_1106_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-1106-preview"
          }
        },
        "GPT_4_VISION_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-vision-preview"
          }
        },
        "GPT_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4"
          }
        },
        "GPT_4_0314": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-0314"
          }
        },
        "GPT_4_0613": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-0613"
          }
        },
        "GPT_4_32K": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-32k"
          }
        },
        "GPT_4_32K_0314": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-32k-0314"
          }
        },
        "GPT_4_32K_0613": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-4-32k-0613"
          }
        },
        "GPT_3_5_TURBO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo"
          }
        },
        "GPT_3_5_TURBO_16K": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo-16k"
          }
        },
        "GPT_3_5_TURBO_0301": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo-0301"
          }
        },
        "GPT_3_5_TURBO_0613": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo-0613"
          }
        },
        "GPT_3_5_TURBO_1106": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo-1106"
          }
        },
        "GPT_3_5_TURBO_0125": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo-0125"
          }
        },
        "GPT_3_5_TURBO_16K_0613": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-3.5-turbo-16k-0613"
          }
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaModelIdsResponsesResponsesOnlyModel": {
      "type": "enum",
      "members": {
        "O1_PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o1-pro"
          }
        },
        "O1_PRO_2025_03_19": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o1-pro-2025-03-19"
          }
        },
        "O3_PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o3-pro"
          }
        },
        "O3_PRO_2025_06_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o3-pro-2025-06-10"
          }
        },
        "O3_DEEP_RESEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o3-deep-research"
          }
        },
        "O3_DEEP_RESEARCH_2025_06_26": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o3-deep-research-2025-06-26"
          }
        },
        "O4_MINI_DEEP_RESEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o4-mini-deep-research"
          }
        },
        "O4_MINI_DEEP_RESEARCH_2025_06_26": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "o4-mini-deep-research-2025-06-26"
          }
        },
        "COMPUTER_USE_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "computer-use-preview"
          }
        },
        "COMPUTER_USE_PREVIEW_2025_03_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "computer-use-preview-2025-03-11"
          }
        },
        "GPT_5_5_PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.5-pro"
          }
        },
        "GPT_5_5_PRO_2026_04_23": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.5-pro-2026-04-23"
          }
        },
        "GPT_5_CODEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-codex"
          }
        },
        "GPT_5_PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-pro"
          }
        },
        "GPT_5_PRO_2025_10_06": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5-pro-2025-10-06"
          }
        },
        "GPT_5_1_CODEX_MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.1-codex-max"
          }
        },
        "GPT_DAYBREAK_BLUE_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-daybreak-blue-latest"
          }
        },
        "GPT_DAYBREAK_RED_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-daybreak-red-latest"
          }
        },
        "GPT_5_6_CYBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-5.6-cyber"
          }
        },
        "GPT_ROSALIND_RESEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-rosalind-research"
          }
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaResponseTextParam": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.openai.responses_beta#BetaTextResponseFormatConfiguration"
        },
        "verbosity": {
          "target": "com.openai.responses_beta#BetaVerbosity",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration options for a text response from the model. Can be plain\ntext or structured JSON data. Learn more:\n- [Text inputs and outputs](https://developers.openai.com/api/docs/guides/text)\n- [Structured Outputs](https://developers.openai.com/api/docs/guides/structured-outputs)\n"
      }
    },
    "com.openai.responses_beta#BetaTextResponseFormatConfiguration": {
      "type": "union",
      "members": {
        "BetaResponseFormatText": {
          "target": "com.openai.responses_beta#BetaResponseFormatText"
        },
        "BetaTextResponseFormatJsonSchema": {
          "target": "com.openai.responses_beta#BetaTextResponseFormatJsonSchema"
        },
        "BetaResponseFormatJsonObject": {
          "target": "com.openai.responses_beta#BetaResponseFormatJsonObject"
        }
      },
      "traits": {
        "smithy.api#documentation": "An object specifying the format that the model must output.\n\nConfiguring `{ \"type\": \"json_schema\" }` enables Structured Outputs,\nwhich ensures the model will match your supplied JSON schema. Learn more in the\n[Structured Outputs guide](https://developers.openai.com/api/docs/guides/structured-outputs).\n\nThe default format is `{ \"type\": \"text\" }` with no additional options.\n\n**Not recommended for gpt-4o and newer models:**\n\nSetting to `{ \"type\": \"json_object\" }` enables the older JSON mode, which\nensures the message the model generates is valid JSON. Using `json_schema`\nis preferred for models that support it.\n"
      }
    },
    "com.openai.responses_beta#BetaResponseFormatText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaResponseFormatTextType",
          "traits": {
            "smithy.api#documentation": "The type of response format being defined. Always `text`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default response format. Used to generate text responses.\n"
      }
    },
    "com.openai.responses_beta#BetaResponseFormatTextType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of response format being defined. Always `text`."
      }
    },
    "com.openai.responses_beta#BetaTextResponseFormatJsonSchema": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaTextResponseFormatJsonSchemaType",
          "traits": {
            "smithy.api#documentation": "The type of response format being defined. Always `json_schema`.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of what the response format is for, used by the model to\ndetermine how to respond in the format.\n"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the response format. Must be a-z, A-Z, 0-9, or contain\nunderscores and dashes, with a maximum length of 64.\n",
            "smithy.api#required": {}
          }
        },
        "schema": {
          "target": "com.openai.responses_beta#BetaResponseFormatJsonSchemaSchema",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "strict": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON Schema response format. Used to generate structured JSON responses.\nLearn more about [Structured Outputs](https://developers.openai.com/api/docs/guides/structured-outputs).\n"
      }
    },
    "com.openai.responses_beta#BetaTextResponseFormatJsonSchemaType": {
      "type": "enum",
      "members": {
        "JSON_SCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json_schema"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of response format being defined. Always `json_schema`."
      }
    },
    "com.openai.responses_beta#BetaResponseFormatJsonSchemaSchema": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The schema for the response format, described as a JSON Schema object.\nLearn how to build JSON schemas [here](https://json-schema.org/).\n"
      }
    },
    "com.openai.responses_beta#BetaResponseFormatJsonObject": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaResponseFormatJsonObjectType",
          "traits": {
            "smithy.api#documentation": "The type of response format being defined. Always `json_object`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON object response format. An older method of generating JSON responses.\nUsing `json_schema` is recommended for models that support it. Note that the\nmodel will not generate JSON without a system or user message instructing it\nto do so.\n"
      }
    },
    "com.openai.responses_beta#BetaResponseFormatJsonObjectType": {
      "type": "enum",
      "members": {
        "JSON_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json_object"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of response format being defined. Always `json_object`."
      }
    },
    "com.openai.responses_beta#BetaVerbosity": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Constrains the verbosity of the model's response. Lower values will result in\nmore concise responses, while higher values will result in more verbose responses.\nCurrently supported values are `low`, `medium`, and `high`. The default is\n`medium`.\n"
      }
    },
    "com.openai.responses_beta#BetaToolsArray": {
      "type": "list",
      "member": {
        "target": "com.openai.responses_beta#BetaTool"
      },
      "traits": {
        "smithy.api#documentation": "An array of tools the model may call while generating a response. You\ncan specify which tool to use by setting the `tool_choice` parameter.\n\nWe support the following categories of tools:\n- **Built-in tools**: Tools that are provided by OpenAI that extend the\n  model's capabilities, like [web search](https://developers.openai.com/api/docs/guides/tools-web-search)\n  or [file search](https://developers.openai.com/api/docs/guides/tools-file-search). Learn more about\n  [built-in tools](https://developers.openai.com/api/docs/guides/tools).\n- **MCP Tools**: Integrations with third-party systems via custom MCP servers\n  or predefined connectors such as Google Drive and SharePoint. Learn more about\n  [MCP Tools](https://developers.openai.com/api/docs/guides/tools-connectors-mcp).\n- **Function calls (custom tools)**: Functions that are defined by you,\n  enabling the model to call your own code with strongly typed arguments\n  and outputs. Learn more about\n  [function calling](https://developers.openai.com/api/docs/guides/function-calling). You can also use\n  custom tools to call your own code.\n"
      }
    },
    "com.openai.responses_beta#BetaTool": {
      "type": "union",
      "members": {
        "BetaFunctionTool": {
          "target": "com.openai.responses_beta#BetaFunctionTool"
        },
        "BetaFileSearchTool": {
          "target": "com.openai.responses_beta#BetaFileSearchTool"
        },
        "BetaComputerTool": {
          "target": "com.openai.responses_beta#BetaComputerTool"
        },
        "BetaComputerUsePreviewTool": {
          "target": "com.openai.responses_beta#BetaComputerUsePreviewTool"
        },
        "BetaWebSearchTool": {
          "target": "com.openai.responses_beta#BetaWebSearchTool"
        },
        "BetaMCPTool": {
          "target": "com.openai.responses_beta#BetaMCPTool"
        },
        "BetaCodeInterpreterTool": {
          "target": "com.openai.responses_beta#BetaCodeInterpreterTool"
        },
        "BetaProgrammaticToolCallingParam": {
          "target": "com.openai.responses_beta#BetaProgrammaticToolCallingParam"
        },
        "BetaImageGenTool": {
          "target": "com.openai.responses_beta#BetaImageGenTool"
        },
        "BetaLocalShellToolParam": {
          "target": "com.openai.responses_beta#BetaLocalShellToolParam"
        },
        "BetaFunctionShellToolParam": {
          "target": "com.openai.responses_beta#BetaFunctionShellToolParam"
        },
        "BetaCustomToolParam": {
          "target": "com.openai.responses_beta#BetaCustomToolParam"
        },
        "BetaNamespaceToolParam": {
          "target": "com.openai.responses_beta#BetaNamespaceToolParam"
        },
        "BetaToolSearchToolParam": {
          "target": "com.openai.responses_beta#BetaToolSearchToolParam"
        },
        "BetaWebSearchPreviewTool": {
          "target": "com.openai.responses_beta#BetaWebSearchPreviewTool"
        },
        "BetaApplyPatchToolParam": {
          "target": "com.openai.responses_beta#BetaApplyPatchToolParam"
        }
      },
      "traits": {
        "smithy.api#documentation": "A tool that can be used to generate a response.\n"
      }
    },
    "com.openai.responses_beta#BetaFunctionTool": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaFunctionToolType",
          "traits": {
            "smithy.api#documentation": "The type of the function tool. Always `function`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function to call.",
            "smithy.api#required": {}
          }
        },
        "async": {
          "target": "smithy.api#Boolean"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "com.openai.responses_beta#BetaFunctionToolParametersMap",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "output_schema": {
          "target": "com.openai.responses_beta#BetaFunctionToolOutputSchemaMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "strict": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "defer_loading": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this function is deferred and loaded via tool search."
          }
        },
        "allowed_callers": {
          "target": "com.openai.responses_beta#BetaFunctionToolAllowedCallersList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a function in your own code the model can choose to call. Learn more about [function calling](https://developers.openai.com/api/docs/guides/function-calling)."
      }
    },
    "com.openai.responses_beta#BetaFunctionToolType": {
      "type": "enum",
      "members": {
        "FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the function tool. Always `function`."
      }
    },
    "com.openai.responses_beta#BetaFunctionToolParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "A JSON schema object describing the parameters of the function."
      }
    },
    "com.openai.responses_beta#BetaFunctionToolOutputSchemaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "A JSON schema object describing the JSON value encoded in string outputs for this function."
      }
    },
    "com.openai.responses_beta#BetaCallableToolAllowedCaller": {
      "type": "enum",
      "members": {
        "DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "direct"
          }
        },
        "PROGRAMMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "programmatic"
          }
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaFunctionToolAllowedCallersList": {
      "type": "list",
      "member": {
        "target": "com.openai.responses_beta#BetaCallableToolAllowedCaller"
      },
      "traits": {
        "smithy.api#documentation": "The tool invocation context(s)."
      }
    },
    "com.openai.responses_beta#BetaFileSearchTool": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaFileSearchToolType",
          "traits": {
            "smithy.api#documentation": "The type of the file search tool. Always `file_search`.",
            "smithy.api#required": {}
          }
        },
        "vector_store_ids": {
          "target": "com.openai.responses_beta#BetaFileSearchToolVectorStoreIdsList",
          "traits": {
            "smithy.api#documentation": "The IDs of the vector stores to search.",
            "smithy.api#required": {}
          }
        },
        "max_num_results": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. This number should be between 1 and 50 inclusive."
          }
        },
        "ranking_options": {
          "target": "com.openai.responses_beta#BetaRankingOptions",
          "traits": {
            "smithy.api#documentation": "Ranking options for search."
          }
        },
        "filters": {
          "target": "com.openai.responses_beta#BetaFilters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tool that searches for relevant content from uploaded files. Learn more about the [file search tool](https://developers.openai.com/api/docs/guides/tools-file-search)."
      }
    },
    "com.openai.responses_beta#BetaFileSearchToolType": {
      "type": "enum",
      "members": {
        "FILE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file_search"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the file search tool. Always `file_search`."
      }
    },
    "com.openai.responses_beta#BetaFileSearchToolVectorStoreIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The IDs of the vector stores to search."
      }
    },
    "com.openai.responses_beta#BetaRankingOptions": {
      "type": "structure",
      "members": {
        "ranker": {
          "target": "com.openai.responses_beta#BetaRankerVersionType",
          "traits": {
            "smithy.api#documentation": "The ranker to use for the file search."
          }
        },
        "score_threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score threshold for the file search, a number between 0 and 1. Numbers closer to 1 will attempt to return only the most relevant results, but may return fewer results."
          }
        },
        "hybrid_search": {
          "target": "com.openai.responses_beta#BetaHybridSearchOptions",
          "traits": {
            "smithy.api#documentation": "Weights that control how reciprocal rank fusion balances semantic embedding matches versus sparse keyword matches when hybrid search is enabled."
          }
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaRankerVersionType": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "DEFAULT_2024_11_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default-2024-11-15"
          }
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaHybridSearchOptions": {
      "type": "structure",
      "members": {
        "embedding_weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The weight of the embedding in the reciprocal ranking fusion.",
            "smithy.api#required": {}
          }
        },
        "text_weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The weight of the text in the reciprocal ranking fusion.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaFilters": {
      "type": "union",
      "members": {
        "BetaComparisonFilter": {
          "target": "com.openai.responses_beta#BetaComparisonFilter"
        },
        "BetaCompoundFilter": {
          "target": "com.openai.responses_beta#BetaCompoundFilter"
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaComparisonFilter": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaComparisonFilterType",
          "traits": {
            "smithy.api#documentation": "Specifies the comparison operator: `eq`, `ne`, `gt`, `gte`, `lt`, `lte`, `in`, `nin`.\n- `eq`: equals\n- `ne`: not equal\n- `gt`: greater than\n- `gte`: greater than or equal\n- `lt`: less than\n- `lte`: less than or equal\n- `in`: in\n- `nin`: not in\n",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key to compare against the value.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.openai.responses_beta#BetaComparisonFilterValue",
          "traits": {
            "smithy.api#documentation": "The value to compare against the attribute key; supports string, number, or boolean types.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter used to compare a specified attribute key to a given value using a defined comparison operation.\n"
      }
    },
    "com.openai.responses_beta#BetaComparisonFilterType": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "NE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ne"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nin"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the comparison operator: `eq`, `ne`, `gt`, `gte`, `lt`, `lte`, `in`, `nin`.\n- `eq`: equals\n- `ne`: not equal\n- `gt`: greater than\n- `gte`: greater than or equal\n- `lt`: less than\n- `lte`: less than or equal\n- `in`: in\n- `nin`: not in\n"
      }
    },
    "com.openai.responses_beta#BetaComparisonFilterValueCase3Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaComparisonFilterValueCase3List": {
      "type": "list",
      "member": {
        "target": "com.openai.responses_beta#BetaComparisonFilterValueCase3Item"
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaComparisonFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        },
        "Case3": {
          "target": "com.openai.responses_beta#BetaComparisonFilterValueCase3List"
        }
      },
      "traits": {
        "smithy.api#documentation": "The value to compare against the attribute key; supports string, number, or boolean types."
      }
    },
    "com.openai.responses_beta#BetaCompoundFilter": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaCompoundFilterType",
          "traits": {
            "smithy.api#documentation": "Type of operation: `and` or `or`.",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "com.openai.responses_beta#BetaCompoundFilterFiltersList",
          "traits": {
            "smithy.api#documentation": "Array of filters to combine. Items can be `ComparisonFilter` or `CompoundFilter`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Combine multiple filters using `and` or `or`."
      }
    },
    "com.openai.responses_beta#BetaCompoundFilterType": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "and"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "or"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of operation: `and` or `or`."
      }
    },
    "com.openai.responses_beta#BetaCompoundFilterFiltersItem": {
      "type": "union",
      "members": {
        "BetaComparisonFilter": {
          "target": "com.openai.responses_beta#BetaComparisonFilter"
        },
        "BetaCompoundFilter": {
          "target": "com.openai.responses_beta#BetaCompoundFilter"
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaCompoundFilterFiltersList": {
      "type": "list",
      "member": {
        "target": "com.openai.responses_beta#BetaCompoundFilterFiltersItem"
      },
      "traits": {
        "smithy.api#documentation": "Array of filters to combine. Items can be `ComparisonFilter` or `CompoundFilter`."
      }
    },
    "com.openai.responses_beta#BetaComputerTool": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaComputerToolType",
          "traits": {
            "smithy.api#documentation": "The type of the computer tool. Always `computer`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tool that controls a virtual computer. Learn more about the [computer tool](https://developers.openai.com/api/docs/guides/tools-computer-use)."
      }
    },
    "com.openai.responses_beta#BetaComputerToolType": {
      "type": "enum",
      "members": {
        "COMPUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "computer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the computer tool. Always `computer`."
      }
    },
    "com.openai.responses_beta#BetaComputerUsePreviewTool": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaComputerUsePreviewToolType",
          "traits": {
            "smithy.api#documentation": "The type of the computer use tool. Always `computer_use_preview`.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "com.openai.responses_beta#BetaComputerEnvironment",
          "traits": {
            "smithy.api#documentation": "The type of computer environment to control.",
            "smithy.api#required": {}
          }
        },
        "display_width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The width of the computer display.",
            "smithy.api#required": {}
          }
        },
        "display_height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The height of the computer display.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tool that controls a virtual computer. Learn more about the [computer tool](https://developers.openai.com/api/docs/guides/tools-computer-use)."
      }
    },
    "com.openai.responses_beta#BetaComputerUsePreviewToolType": {
      "type": "enum",
      "members": {
        "COMPUTER_USE_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "computer_use_preview"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the computer use tool. Always `computer_use_preview`."
      }
    },
    "com.openai.responses_beta#BetaComputerEnvironment": {
      "type": "enum",
      "members": {
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "windows"
          }
        },
        "MAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mac"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linux"
          }
        },
        "UBUNTU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ubuntu"
          }
        },
        "BROWSER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "browser"
          }
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaWebSearchTool": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaWebSearchToolType",
          "traits": {
            "smithy.api#documentation": "The type of the web search tool. One of `web_search` or `web_search_2025_08_26`.",
            "smithy.api#required": {}
          }
        },
        "external_web_access": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow live internet access for web search. Defaults to true when omitted. When false, the web search tool runs in offline/cache-only mode and will not fetch new external content."
          }
        },
        "filters": {
          "target": "com.openai.responses_beta#BetaWebSearchToolFilters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "user_location": {
          "target": "com.openai.responses_beta#BetaWebSearchApproximateLocation",
          "traits": {
            "smithy.api#documentation": "The approximate location of the user. If omitted or null, defaults to the\nUnited States. To avoid this fallback, pass `{\"type\": \"approximate\"}` without\nlocation fields. To localize results, provide the relevant location fields.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "search_context_size": {
          "target": "com.openai.responses_beta#BetaWebSearchToolSearchContextSize",
          "traits": {
            "smithy.api#documentation": "High level guidance for the amount of context window space to use for the search. One of `low`, `medium`, or `high`. `medium` is the default."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Search the Internet for sources related to the prompt. Learn more about the\n[web search tool](https://developers.openai.com/api/docs/guides/tools-web-search).\n"
      }
    },
    "com.openai.responses_beta#BetaWebSearchToolType": {
      "type": "enum",
      "members": {
        "WEB_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "web_search"
          }
        },
        "WEB_SEARCH_2025_08_26": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "web_search_2025_08_26"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the web search tool. One of `web_search` or `web_search_2025_08_26`."
      }
    },
    "com.openai.responses_beta#BetaWebSearchToolFiltersAllowedDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed domains for the search. If not provided, all domains are allowed.\nSubdomains of the provided domains are allowed as well.\n\nExample: `[\"pubmed.ncbi.nlm.nih.gov\"]`\n"
      }
    },
    "com.openai.responses_beta#BetaWebSearchToolFilters": {
      "type": "structure",
      "members": {
        "allowed_domains": {
          "target": "com.openai.responses_beta#BetaWebSearchToolFiltersAllowedDomainsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filters for the search.\n"
      }
    },
    "com.openai.responses_beta#BetaWebSearchApproximateLocationType": {
      "type": "enum",
      "members": {
        "APPROXIMATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approximate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of location approximation. Always `approximate`."
      }
    },
    "com.openai.responses_beta#BetaWebSearchApproximateLocation": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaWebSearchApproximateLocationType",
          "traits": {
            "smithy.api#documentation": "The type of location approximation. Always `approximate`."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The approximate location of the user.\n"
      }
    },
    "com.openai.responses_beta#BetaWebSearchToolSearchContextSize": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "High level guidance for the amount of context window space to use for the search. One of `low`, `medium`, or `high`. `medium` is the default."
      }
    },
    "com.openai.responses_beta#BetaMCPTool": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaMCPToolType",
          "traits": {
            "smithy.api#documentation": "The type of the MCP tool. Always `mcp`.",
            "smithy.api#required": {}
          }
        },
        "server_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A label for this MCP server, used to identify it in tool calls.\n",
            "smithy.api#required": {}
          }
        },
        "server_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL for the MCP server. One of `server_url`, `connector_id`, or\n`tunnel_id` must be provided.\n"
          }
        },
        "connector_id": {
          "target": "com.openai.responses_beta#BetaMCPToolConnectorId",
          "traits": {
            "smithy.api#documentation": "Identifier for service connectors, like those available in ChatGPT. One of\n`server_url`, `connector_id`, or `tunnel_id` must be provided. Learn more\nabout service connectors [here](https://developers.openai.com/api/docs/guides/tools-connectors-mcp#connectors).\n\nThis field is deprecated for models released after September 1, 2026.\nUse `server_url` to connect to a remote MCP server, or `tunnel_id` to\nconnect through a Secure MCP Tunnel.\n\nCurrently supported `connector_id` values are:\n\n- Dropbox: `connector_dropbox`\n- Gmail: `connector_gmail`\n- Google Calendar: `connector_googlecalendar`\n- Google Drive: `connector_googledrive`\n- Microsoft Teams: `connector_microsoftteams`\n- Outlook Calendar: `connector_outlookcalendar`\n- Outlook Email: `connector_outlookemail`\n- SharePoint: `connector_sharepoint`\n"
          }
        },
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Secure MCP Tunnel ID to use instead of a direct server URL. One of\n`server_url`, `connector_id`, or `tunnel_id` must be provided.\n"
          }
        },
        "authorization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An OAuth access token that can be used with a remote MCP server, either\nwith a custom MCP server URL or a service connector. Your application\nmust handle the OAuth authorization flow and provide the token here.\n"
          }
        },
        "server_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the MCP server, used to provide more context.\n"
          }
        },
        "headers": {
          "target": "com.openai.responses_beta#BetaMCPToolHeadersMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "allowed_tools": {
          "target": "com.openai.responses_beta#BetaMCPToolAllowedTools",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "allowed_callers": {
          "target": "com.openai.responses_beta#BetaMCPToolAllowedCallersList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "require_approval": {
          "target": "com.openai.responses_beta#BetaMCPToolRequireApproval",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "defer_loading": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this MCP tool is deferred and discovered via tool search.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Give the model access to additional tools via remote Model Context Protocol\n(MCP) servers. [Learn more about MCP](https://developers.openai.com/api/docs/guides/tools-connectors-mcp).\n"
      }
    },
    "com.openai.responses_beta#BetaMCPToolType": {
      "type": "enum",
      "members": {
        "MCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mcp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the MCP tool. Always `mcp`."
      }
    },
    "com.openai.responses_beta#BetaMCPToolConnectorId": {
      "type": "enum",
      "members": {
        "CONNECTOR_DROPBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connector_dropbox"
          }
        },
        "CONNECTOR_GMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connector_gmail"
          }
        },
        "CONNECTOR_GOOGLECALENDAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connector_googlecalendar"
          }
        },
        "CONNECTOR_GOOGLEDRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connector_googledrive"
          }
        },
        "CONNECTOR_MICROSOFTTEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connector_microsoftteams"
          }
        },
        "CONNECTOR_OUTLOOKCALENDAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connector_outlookcalendar"
          }
        },
        "CONNECTOR_OUTLOOKEMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connector_outlookemail"
          }
        },
        "CONNECTOR_SHAREPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connector_sharepoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifier for service connectors, like those available in ChatGPT. One of\n`server_url`, `connector_id`, or `tunnel_id` must be provided. Learn more\nabout service connectors [here](https://developers.openai.com/api/docs/guides/tools-connectors-mcp#connectors).\n\nThis field is deprecated for models released after September 1, 2026.\nUse `server_url` to connect to a remote MCP server, or `tunnel_id` to\nconnect through a Secure MCP Tunnel.\n\nCurrently supported `connector_id` values are:\n\n- Dropbox: `connector_dropbox`\n- Gmail: `connector_gmail`\n- Google Calendar: `connector_googlecalendar`\n- Google Drive: `connector_googledrive`\n- Microsoft Teams: `connector_microsoftteams`\n- Outlook Calendar: `connector_outlookcalendar`\n- Outlook Email: `connector_outlookemail`\n- SharePoint: `connector_sharepoint`\n"
      }
    },
    "com.openai.responses_beta#BetaMCPToolHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional HTTP headers to send to the MCP server. Use for authentication\nor other purposes.\n"
      }
    },
    "com.openai.responses_beta#BetaMCPToolAllowedToolsMCPAllowedToolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A string array of allowed tool names"
      }
    },
    "com.openai.responses_beta#BetaMCPToolFilter": {
      "type": "structure",
      "members": {
        "tool_names": {
          "target": "com.openai.responses_beta#BetaMCPToolFilterToolNamesList",
          "traits": {
            "smithy.api#documentation": "List of allowed tool names."
          }
        },
        "read_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether or not a tool modifies data or is read-only. If an\nMCP server is [annotated with `readOnlyHint`](https://modelcontextprotocol.io/specification/2025-06-18/schema#toolannotations-readonlyhint),\nit will match this filter.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter object to specify which tools are allowed.\n"
      }
    },
    "com.openai.responses_beta#BetaMCPToolFilterToolNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of allowed tool names."
      }
    },
    "com.openai.responses_beta#BetaMCPToolAllowedTools": {
      "type": "union",
      "members": {
        "MCPAllowedTools": {
          "target": "com.openai.responses_beta#BetaMCPToolAllowedToolsMCPAllowedToolsList"
        },
        "BetaMCPToolFilter": {
          "target": "com.openai.responses_beta#BetaMCPToolFilter"
        }
      },
      "traits": {
        "smithy.api#documentation": "List of allowed tool names or a filter object.\n"
      }
    },
    "com.openai.responses_beta#BetaMCPToolAllowedCallersList": {
      "type": "list",
      "member": {
        "target": "com.openai.responses_beta#BetaCallableToolAllowedCaller"
      },
      "traits": {
        "smithy.api#documentation": "The tool invocation context(s)."
      }
    },
    "com.openai.responses_beta#BetaMCPToolRequireApprovalMCPToolApprovalFilter": {
      "type": "structure",
      "members": {
        "always": {
          "target": "com.openai.responses_beta#BetaMCPToolFilter"
        },
        "never": {
          "target": "com.openai.responses_beta#BetaMCPToolFilter"
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify which of the MCP server's tools require approval. Can be\n`always`, `never`, or a filter object associated with tools\nthat require approval.\n"
      }
    },
    "com.openai.responses_beta#BetaMCPToolRequireApprovalMCPToolApprovalSetting": {
      "type": "enum",
      "members": {
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify a single approval policy for all tools. One of `always` or\n`never`. When set to `always`, all tools will require approval. When\nset to `never`, all tools will not require approval.\n"
      }
    },
    "com.openai.responses_beta#BetaMCPToolRequireApproval": {
      "type": "union",
      "members": {
        "MCPToolApprovalFilter": {
          "target": "com.openai.responses_beta#BetaMCPToolRequireApprovalMCPToolApprovalFilter"
        },
        "MCPToolApprovalSetting": {
          "target": "com.openai.responses_beta#BetaMCPToolRequireApprovalMCPToolApprovalSetting"
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify which of the MCP server's tools require approval."
      }
    },
    "com.openai.responses_beta#BetaCodeInterpreterTool": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaCodeInterpreterToolType",
          "traits": {
            "smithy.api#documentation": "The type of the code interpreter tool. Always `code_interpreter`.\n",
            "smithy.api#required": {}
          }
        },
        "container": {
          "target": "com.openai.responses_beta#BetaCodeInterpreterToolContainer",
          "traits": {
            "smithy.api#documentation": "The code interpreter container. Can be a container ID or an object that\nspecifies uploaded file IDs to make available to your code, along with an\noptional `memory_limit` setting.\n",
            "smithy.api#required": {}
          }
        },
        "allowed_callers": {
          "target": "com.openai.responses_beta#BetaCodeInterpreterToolAllowedCallersList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tool that runs Python code to help generate a response to a prompt.\n"
      }
    },
    "com.openai.responses_beta#BetaCodeInterpreterToolType": {
      "type": "enum",
      "members": {
        "CODE_INTERPRETER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code_interpreter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the code interpreter tool. Always `code_interpreter`.\n"
      }
    },
    "com.openai.responses_beta#BetaAutoCodeInterpreterToolParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaAutoCodeInterpreterToolParamType",
          "traits": {
            "smithy.api#documentation": "Always `auto`.",
            "smithy.api#required": {}
          }
        },
        "file_ids": {
          "target": "com.openai.responses_beta#BetaAutoCodeInterpreterToolParamFileIdsList",
          "traits": {
            "smithy.api#documentation": "An optional list of uploaded files to make available to your code."
          }
        },
        "memory_limit": {
          "target": "com.openai.responses_beta#BetaContainerMemoryLimit",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "network_policy": {
          "target": "com.openai.responses_beta#BetaAutoCodeInterpreterToolParamNetworkPolicy",
          "traits": {
            "smithy.api#documentation": "Network access policy for the container."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a code interpreter container. Optionally specify the IDs of the files to run the code on."
      }
    },
    "com.openai.responses_beta#BetaAutoCodeInterpreterToolParamType": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always `auto`."
      }
    },
    "com.openai.responses_beta#BetaAutoCodeInterpreterToolParamFileIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "An optional list of uploaded files to make available to your code."
      }
    },
    "com.openai.responses_beta#BetaContainerMemoryLimit": {
      "type": "enum",
      "members": {
        "_1G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1g"
          }
        },
        "_4G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "4g"
          }
        },
        "_16G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "16g"
          }
        },
        "_64G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "64g"
          }
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaContainerNetworkPolicyDisabledParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaContainerNetworkPolicyDisabledParamType",
          "traits": {
            "smithy.api#documentation": "Disable outbound network access. Always `disabled`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaContainerNetworkPolicyDisabledParamType": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disable outbound network access. Always `disabled`."
      }
    },
    "com.openai.responses_beta#BetaContainerNetworkPolicyAllowlistParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaContainerNetworkPolicyAllowlistParamType",
          "traits": {
            "smithy.api#documentation": "Allow outbound network access only to specified domains. Always `allowlist`.",
            "smithy.api#required": {}
          }
        },
        "allowed_domains": {
          "target": "com.openai.responses_beta#BetaContainerNetworkPolicyAllowlistParamAllowedDomainsList",
          "traits": {
            "smithy.api#documentation": "A list of allowed domains when type is `allowlist`.",
            "smithy.api#required": {}
          }
        },
        "domain_secrets": {
          "target": "com.openai.responses_beta#BetaContainerNetworkPolicyAllowlistParamDomainSecretsList",
          "traits": {
            "smithy.api#documentation": "Optional domain-scoped secrets for allowlisted domains."
          }
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaContainerNetworkPolicyAllowlistParamType": {
      "type": "enum",
      "members": {
        "ALLOWLIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allowlist"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allow outbound network access only to specified domains. Always `allowlist`."
      }
    },
    "com.openai.responses_beta#BetaContainerNetworkPolicyAllowlistParamAllowedDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of allowed domains when type is `allowlist`."
      }
    },
    "com.openai.responses_beta#BetaContainerNetworkPolicyDomainSecretParam": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain associated with the secret.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret to inject for the domain.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret value to inject for the domain.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaContainerNetworkPolicyAllowlistParamDomainSecretsList": {
      "type": "list",
      "member": {
        "target": "com.openai.responses_beta#BetaContainerNetworkPolicyDomainSecretParam"
      },
      "traits": {
        "smithy.api#documentation": "Optional domain-scoped secrets for allowlisted domains."
      }
    },
    "com.openai.responses_beta#BetaAutoCodeInterpreterToolParamNetworkPolicy": {
      "type": "union",
      "members": {
        "BetaContainerNetworkPolicyDisabledParam": {
          "target": "com.openai.responses_beta#BetaContainerNetworkPolicyDisabledParam"
        },
        "BetaContainerNetworkPolicyAllowlistParam": {
          "target": "com.openai.responses_beta#BetaContainerNetworkPolicyAllowlistParam"
        }
      },
      "traits": {
        "smithy.api#documentation": "Network access policy for the container."
      }
    },
    "com.openai.responses_beta#BetaCodeInterpreterToolContainer": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "BetaAutoCodeInterpreterToolParam": {
          "target": "com.openai.responses_beta#BetaAutoCodeInterpreterToolParam"
        }
      },
      "traits": {
        "smithy.api#documentation": "The code interpreter container. Can be a container ID or an object that\nspecifies uploaded file IDs to make available to your code, along with an\noptional `memory_limit` setting.\n"
      }
    },
    "com.openai.responses_beta#BetaCodeInterpreterToolAllowedCallersList": {
      "type": "list",
      "member": {
        "target": "com.openai.responses_beta#BetaCallableToolAllowedCaller"
      },
      "traits": {
        "smithy.api#documentation": "The tool invocation context(s)."
      }
    },
    "com.openai.responses_beta#BetaProgrammaticToolCallingParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaProgrammaticToolCallingParamType",
          "traits": {
            "smithy.api#documentation": "The type of the tool. Always `programmatic_tool_calling`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaProgrammaticToolCallingParamType": {
      "type": "enum",
      "members": {
        "PROGRAMMATIC_TOOL_CALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "programmatic_tool_calling"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the tool. Always `programmatic_tool_calling`."
      }
    },
    "com.openai.responses_beta#BetaImageGenTool": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaImageGenToolType",
          "traits": {
            "smithy.api#documentation": "The type of the image generation tool. Always `image_generation`.\n",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "com.openai.responses_beta#BetaImageGenToolModel"
        },
        "quality": {
          "target": "com.openai.responses_beta#BetaImageGenToolQuality",
          "traits": {
            "smithy.api#documentation": "The quality of the generated image. The GPT image models support `low`,\n`medium`, and `high`. `gpt-image-2.5-sunburst` and `gpt-image-2.5-flare`,\nincluding their `2026-09-08` snapshots, also support `xhigh` and `max`.\nDefault: `auto`.\n"
          }
        },
        "size": {
          "target": "com.openai.responses_beta#BetaImageGenToolSize",
          "traits": {
            "smithy.api#documentation": "The size of the generated images. For `gpt-image-2`, `gpt-image-2-2026-04-21`, `gpt-image-2.5-sunburst`, `gpt-image-2.5-sunburst-2026-09-08`, `gpt-image-2.5-flare`, and `gpt-image-2.5-flare-2026-09-08`, arbitrary resolutions are supported as `WIDTHxHEIGHT` strings, for example `1536x864`. Width and height must both be divisible by 16 and the requested aspect ratio must be between 1:3 and 3:1. Resolutions above `2560x1440` are experimental, and the maximum supported resolution is `3840x2160`. The requested size must also satisfy the model's current pixel and edge limits. The standard sizes `1024x1024`, `1536x1024`, and `1024x1536` are supported by the GPT image models; `auto` is supported for models that allow automatic sizing."
          }
        },
        "output_format": {
          "target": "com.openai.responses_beta#BetaImageGenToolOutputFormat",
          "traits": {
            "smithy.api#documentation": "The output format of the generated image. One of `png`, `webp`, or\n`jpeg`. Default: `png`.\n"
          }
        },
        "output_compression": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Compression level for the output image. Default: 100.\n"
          }
        },
        "moderation": {
          "target": "com.openai.responses_beta#BetaImageGenToolModeration",
          "traits": {
            "smithy.api#documentation": "Moderation level for the generated image. Default: `auto`.\n"
          }
        },
        "background": {
          "target": "com.openai.responses_beta#BetaImageGenToolBackground",
          "traits": {
            "smithy.api#documentation": "Set the background of the generated image. One of `transparent`, `opaque`,\nor `auto`. `gpt-image-2.5-sunburst` and `gpt-image-2.5-flare`, including\ntheir `2026-09-08` snapshots, support `opaque` and `transparent`\nbackgrounds. Transparent backgrounds are available for supported GPT Image\nmodels. For `gpt-image-2` and `gpt-image-2-2026-04-21`, this support is in\npreview. When using `transparent`, set the output format to `png` or `webp`.\nDefault: `auto`.\n"
          }
        },
        "input_fidelity": {
          "target": "com.openai.responses_beta#BetaInputFidelity",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "input_image_mask": {
          "target": "com.openai.responses_beta#BetaImageGenToolInputImageMask",
          "traits": {
            "smithy.api#documentation": "Optional mask for inpainting. Contains `image_url`\n(string, optional) and `file_id` (string, optional).\n"
          }
        },
        "partial_images": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of partial images to generate in streaming mode, from 0 (default value) to 3.\n"
          }
        },
        "action": {
          "target": "com.openai.responses_beta#BetaImageGenActionEnum",
          "traits": {
            "smithy.api#documentation": "Whether to generate a new image or edit an existing image. Default: `auto`.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tool that generates images using the GPT image models.\n"
      }
    },
    "com.openai.responses_beta#BetaImageGenToolType": {
      "type": "enum",
      "members": {
        "IMAGE_GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_generation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the image generation tool. Always `image_generation`.\n"
      }
    },
    "com.openai.responses_beta#BetaImageGenToolModelCase1": {
      "type": "enum",
      "members": {
        "GPT_IMAGE_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-1"
          }
        },
        "GPT_IMAGE_1_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-1-mini"
          }
        },
        "GPT_IMAGE_1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-1.5"
          }
        },
        "GPT_IMAGE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-2"
          }
        },
        "GPT_IMAGE_2_2026_04_21": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-2-2026-04-21"
          }
        },
        "GPT_IMAGE_2_5_SUNBURST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-2.5-sunburst"
          }
        },
        "GPT_IMAGE_2_5_SUNBURST_2026_09_08": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-2.5-sunburst-2026-09-08"
          }
        },
        "GPT_IMAGE_2_5_FLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-2.5-flare"
          }
        },
        "GPT_IMAGE_2_5_FLARE_2026_09_08": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpt-image-2.5-flare-2026-09-08"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The image generation model to use. One of `gpt-image-1`,\n`gpt-image-1-mini`, `gpt-image-1.5`, `gpt-image-2`,\n`gpt-image-2-2026-04-21`, `gpt-image-2.5-sunburst`,\n`gpt-image-2.5-sunburst-2026-09-08`, `gpt-image-2.5-flare`,\n`gpt-image-2.5-flare-2026-09-08`, or `chatgpt-image-latest`. Default:\n`gpt-image-1`.\n"
      }
    },
    "com.openai.responses_beta#BetaImageGenToolModel": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.responses_beta#BetaImageGenToolModelCase1"
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaImageGenToolQuality": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The quality of the generated image. The GPT image models support `low`,\n`medium`, and `high`. `gpt-image-2.5-sunburst` and `gpt-image-2.5-flare`,\nincluding their `2026-09-08` snapshots, also support `xhigh` and `max`.\nDefault: `auto`.\n"
      }
    },
    "com.openai.responses_beta#BetaImageGenToolSizeCase1": {
      "type": "enum",
      "members": {
        "_1024X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1024"
          }
        },
        "_1024X1536": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024x1536"
          }
        },
        "_1536X1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1536x1024"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaImageGenToolSize": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.responses_beta#BetaImageGenToolSizeCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The size of the generated images. For `gpt-image-2`, `gpt-image-2-2026-04-21`, `gpt-image-2.5-sunburst`, `gpt-image-2.5-sunburst-2026-09-08`, `gpt-image-2.5-flare`, and `gpt-image-2.5-flare-2026-09-08`, arbitrary resolutions are supported as `WIDTHxHEIGHT` strings, for example `1536x864`. Width and height must both be divisible by 16 and the requested aspect ratio must be between 1:3 and 3:1. Resolutions above `2560x1440` are experimental, and the maximum supported resolution is `3840x2160`. The requested size must also satisfy the model's current pixel and edge limits. The standard sizes `1024x1024`, `1536x1024`, and `1024x1536` are supported by the GPT image models; `auto` is supported for models that allow automatic sizing."
      }
    },
    "com.openai.responses_beta#BetaImageGenToolOutputFormat": {
      "type": "enum",
      "members": {
        "PNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "png"
          }
        },
        "WEBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webp"
          }
        },
        "JPEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpeg"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The output format of the generated image. One of `png`, `webp`, or\n`jpeg`. Default: `png`.\n"
      }
    },
    "com.openai.responses_beta#BetaImageGenToolModeration": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Moderation level for the generated image. Default: `auto`.\n"
      }
    },
    "com.openai.responses_beta#BetaImageGenToolBackground": {
      "type": "enum",
      "members": {
        "TRANSPARENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transparent"
          }
        },
        "OPAQUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opaque"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set the background of the generated image. One of `transparent`, `opaque`,\nor `auto`. `gpt-image-2.5-sunburst` and `gpt-image-2.5-flare`, including\ntheir `2026-09-08` snapshots, support `opaque` and `transparent`\nbackgrounds. Transparent backgrounds are available for supported GPT Image\nmodels. For `gpt-image-2` and `gpt-image-2-2026-04-21`, this support is in\npreview. When using `transparent`, set the output format to `png` or `webp`.\nDefault: `auto`.\n"
      }
    },
    "com.openai.responses_beta#BetaInputFidelity": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Control how much effort the model will exert to match the style and features, especially facial features, of input images. Supports `high` and `low` on `gpt-image-1` and `gpt-image-1.5`; `gpt-image-1-mini` supports only `low`. For `gpt-image-2`, omit this parameter. Defaults to `low` on supported models."
      }
    },
    "com.openai.responses_beta#BetaImageGenToolInputImageMask": {
      "type": "structure",
      "members": {
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded mask image.\n"
          }
        },
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File ID for the mask image.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional mask for inpainting. Contains `image_url`\n(string, optional) and `file_id` (string, optional).\n"
      }
    },
    "com.openai.responses_beta#BetaImageGenActionEnum": {
      "type": "enum",
      "members": {
        "GENERATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "generate"
          }
        },
        "EDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edit"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaLocalShellToolParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaLocalShellToolParamType",
          "traits": {
            "smithy.api#documentation": "The type of the local shell tool. Always `local_shell`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tool that allows the model to execute shell commands in a local environment."
      }
    },
    "com.openai.responses_beta#BetaLocalShellToolParamType": {
      "type": "enum",
      "members": {
        "LOCAL_SHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "local_shell"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the local shell tool. Always `local_shell`."
      }
    },
    "com.openai.responses_beta#BetaFunctionShellToolParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaFunctionShellToolParamType",
          "traits": {
            "smithy.api#documentation": "The type of the shell tool. Always `shell`.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "com.openai.responses_beta#BetaFunctionShellToolParamEnvironment",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "allowed_callers": {
          "target": "com.openai.responses_beta#BetaFunctionShellToolParamAllowedCallersList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tool that allows the model to execute shell commands."
      }
    },
    "com.openai.responses_beta#BetaFunctionShellToolParamType": {
      "type": "enum",
      "members": {
        "SHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shell"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the shell tool. Always `shell`."
      }
    },
    "com.openai.responses_beta#BetaContainerAutoParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.responses_beta#BetaContainerAutoParamType",
          "traits": {
            "smithy.api#documentation": "Automatically creates a container for this request",
            "smithy.api#required": {}
          }
        },
        "file_ids": {
          "target": "com.openai.responses_beta#BetaContainerAutoParamFileIdsList",
          "traits": {
            "smithy.api#documentation": "An optional list of uploaded files to make available to your code."
          }
        },
        "memory_limit": {
          "target": "com.openai.responses_beta#BetaContainerMemoryLimit",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "network_policy": {
          "target": "com.openai.responses_beta#BetaContainerAutoParamNetworkPolicy",
          "traits": {
            "smithy.api#documentation": "Network access policy for the container."
          }
        },
        "skills": {
          "target": "com.openai.responses_beta#BetaContainerAutoParamSkillsList",
          "traits": {
            "smithy.api#documentation": "An optional list of skills referenced by id or inline data."
          }
        }
      },
      "traits": {}
    },
    "com.openai.responses_beta#BetaContainerAutoParamType": {
      "type": "enum",
      "members": {
        "CONTAINER_AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container_auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Automatically creates a container for this request"
      }
    },
    "com.openai.responses_beta#BetaContainerAutoParamFileIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "An optional list of uploaded files to make available to your code."
      }
    },
    "com.openai.responses_beta#BetaContainerAutoParamNetworkPolicy": {
      "type": "union",
[...]
