{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.accounts_table_query#AccountsTableQuery2": {
      "type": "structure",
      "members": {
        "columns": {
          "target": "com.posthog.accounts_table_query#AccountsTableQueryColumnsList",
          "traits": {
            "smithy.api#documentation": "Columns to load for each account. Account identity fields are always returned.",
            "smithy.api#required": {}
          }
        },
        "filterGroups": {
          "target": "com.posthog.accounts_table_query#AccountsTableQueryFilterGroupsList",
          "traits": {
            "smithy.api#documentation": "Nonempty property-filter groups are ORed together; filters within each group use AND. Global filters still apply.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "filters": {
          "target": "com.posthog.accounts_table_query#AccountsTableQueryFiltersList",
          "traits": {
            "smithy.api#documentation": "Filters are combined with AND. Values within tag and assignment filters use OR.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "includeChurned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include churned accounts. Churned accounts are hidden by default.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "includeIgnored": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include ignored accounts. Ignored accounts are hidden by default.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "metrics": {
          "target": "com.posthog.accounts_table_query#AccountsTableQueryMetricsList",
          "traits": {
            "smithy.api#documentation": "Aggregates to evaluate against the filtered account set. A metrics query skips row loading.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "modifiers": {
          "target": "com.posthog.accounts_table_query#HogQLQueryModifiers",
          "traits": {
            "smithy.api#documentation": "Modifiers used when performing the query",
            "com.distilled.openapi#nullable": {}
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "response": {
          "target": "com.posthog.accounts_table_query#AccountsTableQueryResponse",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "sort": {
          "target": "com.posthog.accounts_table_query#AccountsTableSort",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.accounts_table_query#QueryLogTags",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "version of the node, used for schema migrations",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableAccountFieldColumn": {
      "type": "structure",
      "members": {
        "field": {
          "target": "com.posthog.accounts_table_query#AccountsTableAccountField",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableAccountField": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "EXTERNAL_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external_id"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        },
        "CHURNED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "churned_at"
          }
        },
        "IGNORED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ignored_at"
          }
        },
        "STRIPE_CUSTOMER_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stripe_customer_id"
          }
        },
        "HUBSPOT_DEAL_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hubspot_deal_id"
          }
        },
        "BILLING_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing_id"
          }
        },
        "SFDC_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sfdc_id"
          }
        },
        "ZENDESK_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zendesk_id"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableTagsColumn": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableNoteCountColumn": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableRelationshipColumn": {
      "type": "structure",
      "members": {
        "definitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Team-scoped relationship definition to return for each account.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableCustomPropertyColumn": {
      "type": "structure",
      "members": {
        "definitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Team-scoped custom property definition to return for each account.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableCustomPropertyHistoryColumn": {
      "type": "structure",
      "members": {
        "definitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Team-scoped numeric custom property definition whose write history should be returned.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "windowDays": {
          "target": "com.posthog.accounts_table_query#WindowDays",
          "traits": {
            "smithy.api#documentation": "Number of days of history to return. The current value is included even when it is older.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#WindowDays": {
      "type": "intEnum",
      "members": {
        "_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 7
          }
        },
        "_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 14
          }
        },
        "_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 30
          }
        },
        "_90": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 90
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableQueryColumnsItem": {
      "type": "union",
      "members": {
        "AccountsTableAccountFieldColumn": {
          "target": "com.posthog.accounts_table_query#AccountsTableAccountFieldColumn"
        },
        "AccountsTableTagsColumn": {
          "target": "com.posthog.accounts_table_query#AccountsTableTagsColumn"
        },
        "AccountsTableNoteCountColumn": {
          "target": "com.posthog.accounts_table_query#AccountsTableNoteCountColumn"
        },
        "AccountsTableRelationshipColumn": {
          "target": "com.posthog.accounts_table_query#AccountsTableRelationshipColumn"
        },
        "AccountsTableCustomPropertyColumn": {
          "target": "com.posthog.accounts_table_query#AccountsTableCustomPropertyColumn"
        },
        "AccountsTableCustomPropertyHistoryColumn": {
          "target": "com.posthog.accounts_table_query#AccountsTableCustomPropertyHistoryColumn"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableQueryColumnsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#AccountsTableQueryColumnsItem"
      },
      "traits": {
        "smithy.api#documentation": "Columns to load for each account. Account identity fields are always returned."
      }
    },
    "com.posthog.accounts_table_query#AccountsTableAccountFieldFilter": {
      "type": "structure",
      "members": {
        "field": {
          "target": "com.posthog.accounts_table_query#AccountsTableAccountField",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "operator": {
          "target": "com.posthog.accounts_table_query#AccountsTableAccountFieldOperator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.posthog.accounts_table_query#AccountsTableAccountFieldFilterValuesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableAccountFieldOperator": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains"
          }
        },
        "NOT_ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains"
          }
        },
        "IS_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_set"
          }
        },
        "IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not_set"
          }
        },
        "IS_DATE_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_exact"
          }
        },
        "IS_DATE_BEFORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_before"
          }
        },
        "IS_DATE_AFTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_after"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableAccountFieldFilterValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableRelationshipFilter": {
      "type": "structure",
      "members": {
        "definitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "operator": {
          "target": "com.posthog.accounts_table_query#AccountsTableRelationshipOperator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userIds": {
          "target": "com.posthog.accounts_table_query#AccountsTableRelationshipFilterUserIdsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableRelationshipOperator": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "IS_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_set"
          }
        },
        "IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not_set"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableRelationshipFilterUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableCustomPropertyFilter": {
      "type": "structure",
      "members": {
        "definitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "operator": {
          "target": "com.posthog.accounts_table_query#AccountsTableCustomPropertyOperator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.posthog.accounts_table_query#AccountsTableCustomPropertyFilterValuesList",
          "traits": {
            "smithy.api#documentation": "Values interpreted according to the custom property definition's display type.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableCustomPropertyOperator": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains"
          }
        },
        "NOT_ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "NOT_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_regex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        },
        "IS_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_set"
          }
        },
        "IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not_set"
          }
        },
        "IS_DATE_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_exact"
          }
        },
        "IS_DATE_BEFORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_before"
          }
        },
        "IS_DATE_AFTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_after"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableCustomPropertyFilterValuesItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableCustomPropertyFilterValuesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#AccountsTableCustomPropertyFilterValuesItem"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableQueryFilterGroupsItemItem": {
      "type": "union",
      "members": {
        "AccountsTableAccountFieldFilter": {
          "target": "com.posthog.accounts_table_query#AccountsTableAccountFieldFilter"
        },
        "AccountsTableRelationshipFilter": {
          "target": "com.posthog.accounts_table_query#AccountsTableRelationshipFilter"
        },
        "AccountsTableCustomPropertyFilter": {
          "target": "com.posthog.accounts_table_query#AccountsTableCustomPropertyFilter"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableQueryFilterGroupsItemList": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#AccountsTableQueryFilterGroupsItemItem"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableQueryFilterGroupsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#AccountsTableQueryFilterGroupsItemList"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableSearchFilter": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableTagsFilter": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "tagNames": {
          "target": "com.posthog.accounts_table_query#AccountsTableTagsFilterTagNamesList",
          "traits": {
            "smithy.api#documentation": "Match accounts carrying any of these tag names.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableTagsFilterTagNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Match accounts carrying any of these tag names."
      }
    },
    "com.posthog.accounts_table_query#AccountsTableAssignedToFilter": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "userIds": {
          "target": "com.posthog.accounts_table_query#AccountsTableAssignedToFilterUserIdsList",
          "traits": {
            "smithy.api#documentation": "Match accounts where any listed user actively holds any relationship.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableAssignedToFilterUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Match accounts where any listed user actively holds any relationship."
      }
    },
    "com.posthog.accounts_table_query#AccountsTableAssignedFilter": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableUnassignedFilter": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableAccountIdFilter": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableQueryFiltersItem": {
      "type": "union",
      "members": {
        "AccountsTableSearchFilter": {
          "target": "com.posthog.accounts_table_query#AccountsTableSearchFilter"
        },
        "AccountsTableTagsFilter": {
          "target": "com.posthog.accounts_table_query#AccountsTableTagsFilter"
        },
        "AccountsTableAssignedToFilter": {
          "target": "com.posthog.accounts_table_query#AccountsTableAssignedToFilter"
        },
        "AccountsTableAssignedFilter": {
          "target": "com.posthog.accounts_table_query#AccountsTableAssignedFilter"
        },
        "AccountsTableUnassignedFilter": {
          "target": "com.posthog.accounts_table_query#AccountsTableUnassignedFilter"
        },
        "AccountsTableRelationshipFilter": {
          "target": "com.posthog.accounts_table_query#AccountsTableRelationshipFilter"
        },
        "AccountsTableAccountIdFilter": {
          "target": "com.posthog.accounts_table_query#AccountsTableAccountIdFilter"
        },
        "AccountsTableAccountFieldFilter": {
          "target": "com.posthog.accounts_table_query#AccountsTableAccountFieldFilter"
        },
        "AccountsTableCustomPropertyFilter": {
          "target": "com.posthog.accounts_table_query#AccountsTableCustomPropertyFilter"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableQueryFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#AccountsTableQueryFiltersItem"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableCountMetric": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableAggregateMetric": {
      "type": "structure",
      "members": {
        "aggregation": {
          "target": "com.posthog.accounts_table_query#AccountsTableAggregation",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "column": {
          "target": "com.posthog.accounts_table_query#AccountsTableCustomPropertyColumn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "scale": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableAggregation": {
      "type": "enum",
      "members": {
        "SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sum"
          }
        },
        "AVG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "avg"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "MEDIAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "median"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableCountThresholdMetric": {
      "type": "structure",
      "members": {
        "column": {
          "target": "com.posthog.accounts_table_query#AccountsTableCustomPropertyColumn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "operator": {
          "target": "com.posthog.accounts_table_query#AccountsTableThresholdOperator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableThresholdOperator": {
      "type": "enum",
      "members": {
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        },
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableQueryMetricsItem": {
      "type": "union",
      "members": {
        "AccountsTableCountMetric": {
          "target": "com.posthog.accounts_table_query#AccountsTableCountMetric"
        },
        "AccountsTableAggregateMetric": {
          "target": "com.posthog.accounts_table_query#AccountsTableAggregateMetric"
        },
        "AccountsTableCountThresholdMetric": {
          "target": "com.posthog.accounts_table_query#AccountsTableCountThresholdMetric"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableQueryMetricsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#AccountsTableQueryMetricsItem"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#HogQLQueryModifiers": {
      "type": "structure",
      "members": {
        "bounceRateDurationSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "bounceRatePageViewMode": {
          "target": "com.posthog.accounts_table_query#BounceRatePageViewMode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "convertToProjectTimezone": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "cookielessTrafficIsRegular": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Do not treat a missing user agent as automation on cookieless events. Positive bot signals and custom project rules still apply. Resolved server-side; not intended to be set by clients.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "customBotDefinitions": {
          "target": "com.posthog.accounts_table_query#HogQLQueryModifiersCustomBotDefinitionsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "customChannelTypeRules": {
          "target": "com.posthog.accounts_table_query#HogQLQueryModifiersCustomChannelTypeRulesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "dataWarehouseEventsModifiers": {
          "target": "com.posthog.accounts_table_query#HogQLQueryModifiersDataWarehouseEventsModifiersList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "debug": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "forceClickhouseDataSkippingIndexes": {
          "target": "com.posthog.accounts_table_query#HogQLQueryModifiersForceClickhouseDataSkippingIndexesList",
          "traits": {
            "smithy.api#documentation": "If these are provided, the query will fail if these skip indexes are not used",
            "com.distilled.openapi#nullable": {}
          }
        },
        "formatCsvAllowDoubleQuotes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "inCohortVia": {
          "target": "com.posthog.accounts_table_query#InCohortVia",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "inlineCohortCalculation": {
          "target": "com.posthog.accounts_table_query#InlineCohortCalculation",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "materializationMode": {
          "target": "com.posthog.accounts_table_query#MaterializationMode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "materializedColumnsOptimizationMode": {
          "target": "com.posthog.accounts_table_query#MaterializedColumnsOptimizationMode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mergeFederatedAggregateJoins": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Merge sibling aggregating LEFT JOINs over federated Postgres tables into one UNION ALL join, so their scans overlap",
            "com.distilled.openapi#nullable": {}
          }
        },
        "optimizeJoinedFilters": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "optimizeProjections": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "parserMode": {
          "target": "com.posthog.accounts_table_query#ParserMode",
          "traits": {
            "smithy.api#documentation": "HogQL parser backend; absent → `rust_py_with_cpp_shadow` (rust-py is primary, cpp runs as a sampled shadow). `*_shadow` modes return the primary result and sample-compare against the other parser, reporting divergences without failing the request. The `rust_py_*` modes drive the same hand-rolled Rust parser as `rust_*` but build `posthog.hogql.ast` dataclass instances directly via PyO3, skipping the JSON round-trip.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "personIdPushdown": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Push an `id IN (SELECT person_id FROM <left table> WHERE …)` predicate into the joined persons subquery, so the latest-version lookup only reads persons that the outer query's left-table filters can reach. Applies only to a persons join from the query's own FROM table.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "personsArgMaxVersion": {
          "target": "com.posthog.accounts_table_query#PersonsArgMaxVersion",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "personsJoinMode": {
          "target": "com.posthog.accounts_table_query#PersonsJoinMode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "personsOnEventsMode": {
          "target": "com.posthog.accounts_table_query#PersonsOnEventsMode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "propertyGroupsMode": {
          "target": "com.posthog.accounts_table_query#PropertyGroupsMode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "pushDownPredicates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "s3TableUseInvalidColumns": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "sessionIdPushdown": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Push a `session_id_v7 IN (SELECT … FROM events WHERE …)` predicate into the raw_sessions subquery to limit aggregation to sessions that participate in the outer events filter.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sessionPropertyPreAggregation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Pre-filter raw_sessions aggregation by `session_id_v7 IN (cheap pre-aggregation that only materializes the columns referenced by the outer-WHERE session predicate)`. Useful when the breakdown/SELECT pulls in many session columns (e.g. `$channel_type`) but the filter only references one (e.g. `$entry_current_url`).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sessionTableVersion": {
          "target": "com.posthog.accounts_table_query#SessionTableVersion",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "sessionsV2JoinMode": {
          "target": "com.posthog.accounts_table_query#SessionsV2JoinMode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "timings": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "typeAwareCastSimplification": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Remove provably redundant casts and nullability wrappers (e.g. `toString(String)`, `assumeNotNull(non_nullable)`, dead `ifNull` fallbacks) using inferred expression types",
            "com.distilled.openapi#nullable": {}
          }
        },
        "useMaterializedViews": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "useNewEventsSchema": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Read events from the native JSON events table (`true`) or the legacy events table (`false`). When unset, the project's stored value applies, then the `CLICKHOUSE_HOGQL_USE_NEW_EVENTS_SCHEMA` instance settings. This is an internal rollout switch. PostHog staff set the project value in Django admin and the project settings API ignores it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "usePreaggregatedIntermediateResults": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "usePreaggregatedTableTransforms": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Try to automatically convert HogQL queries to use preaggregated tables at the AST level *",
            "com.distilled.openapi#nullable": {}
          }
        },
        "useWebAnalyticsPreAggregatedTables": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "webAnalyticsFirstPageviewFilters": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Serve filters on the stored session-entry attribution properties (`$channel_type`, `$entry_utm_*`, `$entry_referring_domain`) by recomputing the value from the session's first pageview. Resolved server-side; not intended to be set by clients.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#BounceRatePageViewMode": {
      "type": "enum",
      "members": {
        "COUNT_PAGEVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count_pageviews"
          }
        },
        "UNIQ_URLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uniq_urls"
          }
        },
        "UNIQ_PAGE_SCREEN_AUTOCAPTURES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uniq_page_screen_autocaptures"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#CustomBotRule": {
      "type": "structure",
      "members": {
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reported by `$virt_traffic_category`. Defaults to `custom`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "combiner": {
          "target": "com.posthog.accounts_table_query#FilterLogicalOperator",
          "traits": {
            "smithy.api#documentation": "Whether every condition must match (AND) or any one of them (OR).",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "items": {
          "target": "com.posthog.accounts_table_query#CustomBotRuleItemsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reported by `$virt_bot_name` and `$virt_bot_operator` when the rule matches.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#FilterLogicalOperator": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#CustomBotCondition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "com.posthog.accounts_table_query#CustomBotField",
          "traits": {
            "smithy.api#documentation": "The event property this condition reads.",
            "smithy.api#required": {}
          }
        },
        "matcher": {
          "target": "com.posthog.accounts_table_query#CustomBotMatcher",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Matched against the property named by `key`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#CustomBotField": {
      "type": "enum",
      "members": {
        "RAW_USER_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "$raw_user_agent"
          }
        },
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "$ip"
          }
        },
        "LIB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "$lib"
          }
        },
        "HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "$host"
          }
        },
        "PATHNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "$pathname"
          }
        },
        "CURRENT_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "$current_url"
          }
        },
        "BROWSER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "$browser"
          }
        },
        "OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "$os"
          }
        },
        "BROWSER_LANGUAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "$browser_language"
          }
        },
        "SCREEN_WIDTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "$screen_width"
          }
        },
        "SCREEN_HEIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "$screen_height"
          }
        },
        "GEOIP_COUNTRY_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "$geoip_country_code"
          }
        },
        "REFERRER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "$referrer"
          }
        },
        "REFERRING_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "$referring_domain"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#CustomBotMatcher": {
      "type": "enum",
      "members": {
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "CIDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cidr"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#CustomBotRuleItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#CustomBotCondition"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#HogQLQueryModifiersCustomBotDefinitionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#CustomBotRule"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#CustomChannelRule": {
      "type": "structure",
      "members": {
        "channel_type": {
          "target": "smithy.api#String"
        },
        "combiner": {
          "target": "com.posthog.accounts_table_query#FilterLogicalOperator"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "items": {
          "target": "com.posthog.accounts_table_query#CustomChannelRuleItemsList"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#CustomChannelCondition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "key": {
          "target": "com.posthog.accounts_table_query#CustomChannelField"
        },
        "op": {
          "target": "com.posthog.accounts_table_query#CustomChannelOperator"
        },
        "value": {
          "target": "com.posthog.accounts_table_query#CustomChannelConditionValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#CustomChannelField": {
      "type": "enum",
      "members": {
        "UTM_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utm_source"
          }
        },
        "UTM_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utm_medium"
          }
        },
        "UTM_CAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utm_campaign"
          }
        },
        "REFERRING_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referring_domain"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        },
        "PATHNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pathname"
          }
        },
        "HOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hostname"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#CustomChannelOperator": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "IS_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_set"
          }
        },
        "IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not_set"
          }
        },
        "ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains"
          }
        },
        "NOT_ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "NOT_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_regex"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#CustomChannelConditionValueCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#CustomChannelConditionValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.posthog.accounts_table_query#CustomChannelConditionValueCase1List"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#CustomChannelRuleItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#CustomChannelCondition"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#HogQLQueryModifiersCustomChannelTypeRulesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#CustomChannelRule"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#DataWarehouseEventsModifier": {
      "type": "structure",
      "members": {
        "distinct_id_field": {
          "target": "smithy.api#String"
        },
        "id_field": {
          "target": "smithy.api#String"
        },
        "table_name": {
          "target": "smithy.api#String"
        },
        "timestamp_field": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#HogQLQueryModifiersDataWarehouseEventsModifiersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#DataWarehouseEventsModifier"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#HogQLQueryModifiersForceClickhouseDataSkippingIndexesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#InCohortVia": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LEFTJOIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leftjoin"
          }
        },
        "SUBQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subquery"
          }
        },
        "LEFTJOIN_CONJOINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leftjoin_conjoined"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#InlineCohortCalculation": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#MaterializationMode": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LEGACY_NULL_AS_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legacy_null_as_string"
          }
        },
        "LEGACY_NULL_AS_NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legacy_null_as_null"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#MaterializedColumnsOptimizationMode": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optimized"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#ParserMode": {
      "type": "enum",
      "members": {
        "CPP_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpp_only"
          }
        },
        "CPP_WITH_RUST_SHADOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpp_with_rust_shadow"
          }
        },
        "CPP_WITH_RUST_PY_SHADOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpp_with_rust_py_shadow"
          }
        },
        "RUST_WITH_CPP_SHADOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rust_with_cpp_shadow"
          }
        },
        "RUST_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rust_only"
          }
        },
        "RUST_PY_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rust_py_only"
          }
        },
        "RUST_PY_WITH_CPP_SHADOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rust_py_with_cpp_shadow"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#PersonsArgMaxVersion": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v1"
          }
        },
        "V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v2"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#PersonsJoinMode": {
      "type": "enum",
      "members": {
        "INNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inner"
          }
        },
        "LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "left"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#PersonsOnEventsMode": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "PERSON_ID_NO_OVERRIDE_PROPERTIES_ON_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person_id_no_override_properties_on_events"
          }
        },
        "PERSON_ID_OVERRIDE_PROPERTIES_ON_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person_id_override_properties_on_events"
          }
        },
        "PERSON_ID_OVERRIDE_PROPERTIES_JOINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person_id_override_properties_joined"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#PropertyGroupsMode": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optimized"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#SessionTableVersion": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v1"
          }
        },
        "V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v2"
          }
        },
        "V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v3"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#SessionsV2JoinMode": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "UUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uuid"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableQueryResponse": {
      "type": "structure",
      "members": {
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Query error. Returned only if 'explain' or `modifiers.debug` is true. Throws an error otherwise.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hogql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Generated HogQL query.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metricsResults": {
          "target": "com.posthog.accounts_table_query#AccountsTableQueryResponseMetricsResultsList",
          "traits": {
            "smithy.api#documentation": "Aggregated values in the same order as the requested metrics.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "modifiers": {
          "target": "com.posthog.accounts_table_query#HogQLQueryModifiers",
          "traits": {
            "smithy.api#documentation": "Modifiers used when performing the query",
            "com.distilled.openapi#nullable": {}
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "query_status": {
          "target": "com.posthog.accounts_table_query#QueryStatus",
          "traits": {
            "smithy.api#documentation": "Query status indicates whether next to the provided data, a query is still running.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "resolved_compare_date_range": {
          "target": "com.posthog.accounts_table_query#ResolvedDateRangeResponse",
          "traits": {
            "smithy.api#documentation": "The resolved previous/comparison period date range, when comparing against another period",
            "com.distilled.openapi#nullable": {}
          }
        },
        "resolved_date_range": {
          "target": "com.posthog.accounts_table_query#ResolvedDateRangeResponse",
          "traits": {
            "smithy.api#documentation": "The date range used for the query",
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.accounts_table_query#AccountsTableQueryResponseResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "timings": {
          "target": "com.posthog.accounts_table_query#AccountsTableQueryResponseTimingsList",
          "traits": {
            "smithy.api#documentation": "Measured timings for different parts of the query generation process",
            "com.distilled.openapi#nullable": {}
          }
        },
        "used_data_warehouse_sources": {
          "target": "com.posthog.accounts_table_query#AccountsTableQueryResponseUsedDataWarehouseSourcesList",
          "traits": {
            "smithy.api#documentation": "Connector-synced data warehouse sources referenced by this query, if any.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "warnings": {
          "target": "com.posthog.accounts_table_query#AccountsTableQueryResponseWarningsList",
          "traits": {
            "smithy.api#documentation": "Warnings about data warehouse sources referenced by the query whose latest sync failed, is paused, hit a billing limit, or is otherwise stale. Results may not reflect current source data. Accumulated across every HogQL execution that contributes to this response — so insights backed by warehouse tables (Trends, Funnels, etc.) receive the same warnings as raw HogQL queries. Also carries access control warnings when a system-table query filters out objects the user can't access.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableQueryResponseMetricsResultsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double",
        "traits": {
          "com.distilled.openapi#nullable": {}
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#QueryStatus": {
      "type": "structure",
      "members": {
        "budget_remaining_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "bytes_read": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "cache_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache key of the run that failed, so clients can ask for its query scan.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "complete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the query is still running. Will be true if the query is complete, even if it errored. Either result or error will be set.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dashboard_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "end_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When did the query execution task finish (whether successfully or not).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "error": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the query failed, this will be set to true. More information can be found in the error_message field.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "error_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable machine-readable code for the error (the DRF exception code), when known.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "error_message": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "expiration_time": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "insight_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "labels": {
          "target": "com.posthog.accounts_table_query#QueryStatusLabelsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "pickup_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When was the query execution task picked up by a worker.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "query_async": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "ONLY async queries use QueryStatus."
          }
        },
        "query_progress": {
          "target": "com.posthog.accounts_table_query#ClickhouseQueryProgress",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "query_scan": {
          "target": "com.posthog.accounts_table_query#QueryScanSummary",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "smithy.api#Document"
        },
        "start_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When was query execution task enqueued.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "team_id": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#QueryStatusLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#ClickhouseQueryProgress": {
      "type": "structure",
      "members": {
        "active_cpu_time": {
          "target": "smithy.api#Integer"
        },
        "bytes_read": {
          "target": "smithy.api#Integer"
        },
        "estimated_rows_total": {
          "target": "smithy.api#Integer"
        },
        "rows_read": {
          "target": "smithy.api#Integer"
        },
        "time_elapsed": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#QueryScanSummary": {
      "type": "structure",
      "members": {
        "analysis": {
          "target": "com.posthog.accounts_table_query#QueryScanAnalysis",
          "traits": {
            "smithy.api#documentation": "The stored analysis, put on the response when it is served. Absent while the analysis runs, and when none was requested.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "analysis_requested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the run asked for an analysis, or found one stored. While `analysis` is absent, poll `GET /query/scan/{cache_key}` for it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "duration_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ClickHouse time for the last fresh run, summed over its ClickHouse queries.",
            "smithy.api#required": {}
          }
        },
        "killed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when ClickHouse stopped the run instead of finishing it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "rows_read": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rows ClickHouse read for the last fresh run, all tables included.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#QueryScanAnalysis": {
      "type": "structure",
      "members": {
        "assistant_prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message the Fix with AI button sends to the assistant. Absent when no finding can be fixed in the query.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "findings": {
          "target": "com.posthog.accounts_table_query#QueryScanAnalysisFindingsList",
          "traits": {
            "smithy.api#documentation": "Every finding, fixable or not. Empty when the analysis found none.",
            "smithy.api#required": {}
          }
        },
        "project_share": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How much of all the project's events the query read, 0 to 1.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "range_share": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How much of the project's events in the query's date range the query read, 0 to 1.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#QueryScanWarning": {
      "type": "structure",
      "members": {
        "actionable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the person can change the query so it reads less and still answers the same question. Surfaces show the full advice and \"Fix with AI\" only when a finding is actionable.",
            "smithy.api#required": {}
          }
        },
        "by_design": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the query reads this much on purpose, so reading less would change the answer. Absent means no.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cause": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A label for what in the query text kept the read wide, such as `in_or`. Only analytics and the assistant read it, and the labels can change.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "evidence": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The one fact the finding rests on.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What \"Fix with AI\" and the assistant are told to do.",
            "smithy.api#required": {}
          }
        },
        "fix_location": {
          "target": "com.posthog.accounts_table_query#QueryScanFixLocation",
          "traits": {
            "smithy.api#documentation": "Where the change goes. Absent means the query itself.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "kind": {
          "target": "com.posthog.accounts_table_query#QueryScanFindingKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shown to the person: what happened and what to do.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#QueryScanFixLocation": {
      "type": "enum",
      "members": {
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "query"
          }
        },
        "SUBQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subquery"
          }
        },
        "VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "view"
          }
        },
        "INSIGHT_DATE_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "insight_date_range"
          }
        },
        "DASHBOARD_DATE_FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dashboard_date_filter"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#QueryScanFindingKind": {
      "type": "enum",
      "members": {
        "NO_EVENT_FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_event_filter"
          }
        },
        "NO_START_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_start_date"
          }
        },
        "PERSONS_JOIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "persons_join"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#QueryScanAnalysisFindingsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#QueryScanWarning"
      },
      "traits": {
        "smithy.api#documentation": "Every finding, fixable or not. Empty when the analysis found none."
      }
    },
    "com.posthog.accounts_table_query#ResolvedDateRangeResponse": {
      "type": "structure",
      "members": {
        "date_from": {
          "target": "smithy.api#String"
        },
        "date_to": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableRow": {
      "type": "structure",
      "members": {
        "accountFields": {
          "target": "com.posthog.accounts_table_query#AccountsTableRowAccountFieldsMap",
          "traits": {
            "smithy.api#documentation": "Requested direct Account fields, keyed by their typed field reference.",
            "smithy.api#required": {}
          }
        },
        "customProperties": {
          "target": "com.posthog.accounts_table_query#AccountsTableRowCustomPropertiesMap",
          "traits": {
            "smithy.api#documentation": "Current values keyed by requested custom property definition ID.",
            "smithy.api#required": {}
          }
        },
        "customPropertyHistory": {
          "target": "com.posthog.accounts_table_query#AccountsTableRowCustomPropertyHistoryMap",
          "traits": {
            "smithy.api#documentation": "Numeric write history keyed by requested custom property definition ID.",
            "smithy.api#required": {}
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logoDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bare hostname the row's logo is rendered from. Null when no source resolved one.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "noteCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of linked internal notes. Omitted when the request does not select the note count.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "relationships": {
          "target": "com.posthog.accounts_table_query#AccountsTableRowRelationshipsMap",
          "traits": {
            "smithy.api#documentation": "Active assignee user IDs keyed by requested relationship definition ID.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.posthog.accounts_table_query#AccountsTableRowTagsList",
          "traits": {
            "smithy.api#documentation": "Sorted tag names. Omitted when the request does not select tags.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableRowAccountFieldsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String",
        "traits": {
          "com.distilled.openapi#nullable": {}
        }
      },
      "traits": {
        "smithy.api#documentation": "Requested direct Account fields, keyed by their typed field reference."
      }
    },
    "com.posthog.accounts_table_query#AccountsTableRowCustomPropertiesValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableRowCustomPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.posthog.accounts_table_query#AccountsTableRowCustomPropertiesValue",
        "traits": {
          "com.distilled.openapi#nullable": {}
        }
      },
      "traits": {
        "smithy.api#documentation": "Current values keyed by requested custom property definition ID."
      }
    },
    "com.posthog.accounts_table_query#AccountsTableCustomPropertyHistoryPoint": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableRowCustomPropertyHistoryValueList": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#AccountsTableCustomPropertyHistoryPoint"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableRowCustomPropertyHistoryMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.posthog.accounts_table_query#AccountsTableRowCustomPropertyHistoryValueList"
      },
      "traits": {
        "smithy.api#documentation": "Numeric write history keyed by requested custom property definition ID."
      }
    },
    "com.posthog.accounts_table_query#AccountsTableRowRelationshipsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableRowRelationshipsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.posthog.accounts_table_query#AccountsTableRowRelationshipsValueList"
      },
      "traits": {
        "smithy.api#documentation": "Active assignee user IDs keyed by requested relationship definition ID."
      }
    },
    "com.posthog.accounts_table_query#AccountsTableRowTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableQueryResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#AccountsTableRow"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#QueryTiming": {
      "type": "structure",
      "members": {
        "k": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key. Shortened to 'k' to save on data."
          }
        },
        "t": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds. Shortened to 't' to save on data."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableQueryResponseTimingsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#QueryTiming"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#DataWarehouseSourceUsage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ExternalDataSource id",
            "smithy.api#required": {}
          }
        },
        "source_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connector type of the source (e.g. Stripe, Postgres), if known",
            "com.distilled.openapi#nullable": {}
          }
        },
        "table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Warehouse table name that was referenced",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableQueryResponseUsedDataWarehouseSourcesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#DataWarehouseSourceUsage"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#DataWarehouseSyncWarning": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable warning shown to the user",
            "smithy.api#required": {}
          }
        },
        "schema_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the ExternalDataSchema responsible for syncing the table",
            "smithy.api#required": {}
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the ExternalDataSource, used to link to its management page. Null for self-managed tables.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source type, e.g. \"Stripe\", \"Hubspot\"",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sync status that triggered the warning, e.g. \"Failed\", \"Paused\", \"BillingLimitReached\"",
            "smithy.api#required": {}
          }
        },
        "table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the warehouse table the warning refers to",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tells warning kinds apart in the shared `warnings` list"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccessControlFilterWarning": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable warning shown to the user",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.posthog.accounts_table_query#AccessControlFilterWarningResourcesList",
          "traits": {
            "smithy.api#documentation": "Resource types the user has access restrictions on, referenced by the query, e.g. [\"insight\", \"dashboard\"]",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tells warning kinds apart in the shared `warnings` list"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccessControlFilterWarningResourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource types the user has access restrictions on, referenced by the query, e.g. [\"insight\", \"dashboard\"]"
      }
    },
    "com.posthog.accounts_table_query#AccountsTableQueryResponseWarningsItem": {
      "type": "union",
      "members": {
        "DataWarehouseSyncWarning": {
          "target": "com.posthog.accounts_table_query#DataWarehouseSyncWarning"
        },
        "AccessControlFilterWarning": {
          "target": "com.posthog.accounts_table_query#AccessControlFilterWarning"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableQueryResponseWarningsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#AccountsTableQueryResponseWarningsItem"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableSort": {
      "type": "structure",
      "members": {
        "column": {
          "target": "com.posthog.accounts_table_query#AccountsTableSortColumn",
          "traits": {
            "smithy.api#documentation": "A typed column that supports server-side sorting.",
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.posthog.accounts_table_query#AccountsTableSortDirection",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#AccountsTableSortColumn": {
      "type": "union",
      "members": {
        "AccountsTableAccountFieldColumn": {
          "target": "com.posthog.accounts_table_query#AccountsTableAccountFieldColumn"
        },
        "AccountsTableTagsColumn": {
          "target": "com.posthog.accounts_table_query#AccountsTableTagsColumn"
        },
        "AccountsTableNoteCountColumn": {
          "target": "com.posthog.accounts_table_query#AccountsTableNoteCountColumn"
        },
        "AccountsTableRelationshipColumn": {
          "target": "com.posthog.accounts_table_query#AccountsTableRelationshipColumn"
        },
        "AccountsTableCustomPropertyColumn": {
          "target": "com.posthog.accounts_table_query#AccountsTableCustomPropertyColumn"
        }
      },
      "traits": {
        "smithy.api#documentation": "A typed column that supports server-side sorting."
      }
    },
    "com.posthog.accounts_table_query#AccountsTableSortDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#QueryLogTags": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the query, preferably unique. For example web_analytics_vitals",
            "com.distilled.openapi#nullable": {}
          }
        },
        "presetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short id of the saved Web analytics filter preset this query was run under, if any.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "productKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Product responsible for this query. Use string, there's no need to churn the Schema when we add a new product *",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scene": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scene where this query is shown in the UI. Use string, there's no need to churn the Schema when we add a new Scene *",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#DashboardFilter": {
      "type": "structure",
      "members": {
        "breakdown_filter": {
          "target": "com.posthog.accounts_table_query#BreakdownFilter",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "explicitDate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "filterTestAccounts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Tri-state test-account override. Null/absent = inherit; true = force on; false = force off.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "interval": {
          "target": "com.posthog.accounts_table_query#IntervalType",
          "traits": {
            "smithy.api#documentation": "Time granularity forced onto every insight that supports one. Absent/null = inherit.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "com.posthog.accounts_table_query#DashboardFilterPropertiesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#BreakdownFilter": {
      "type": "structure",
      "members": {
        "breakdown": {
          "target": "com.posthog.accounts_table_query#BreakdownFilterBreakdown",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_hide_other_aggregation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_histogram_bin_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_normalize_url": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_path_cleaning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_type": {
          "target": "com.posthog.accounts_table_query#BreakdownType",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdowns": {
          "target": "com.posthog.accounts_table_query#BreakdownFilterBreakdownsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#BreakdownFilterBreakdownCase1Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#BreakdownFilterBreakdownCase1List": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#BreakdownFilterBreakdownCase1Item"
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#BreakdownFilterBreakdown": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.posthog.accounts_table_query#BreakdownFilterBreakdownCase1List"
        },
        "Case2": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#BreakdownType": {
      "type": "enum",
      "members": {
        "COHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cohort"
          }
        },
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person"
          }
        },
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event"
          }
        },
        "EVENT_METADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event_metadata"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group"
          }
        },
        "SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session"
          }
        },
        "HOGQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hogql"
          }
        },
        "DATA_WAREHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data_warehouse"
          }
        },
        "DATA_WAREHOUSE_PERSON_PROPERTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data_warehouse_person_property"
          }
        },
        "REVENUE_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revenue_analytics"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#Breakdown": {
      "type": "structure",
      "members": {
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "histogram_bin_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "normalize_url": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "property": {
          "target": "com.posthog.accounts_table_query#BreakdownProperty"
        },
        "type": {
          "target": "com.posthog.accounts_table_query#MultipleBreakdownType",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#BreakdownProperty": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#MultipleBreakdownType": {
      "type": "enum",
      "members": {
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person"
          }
        },
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event"
          }
        },
        "EVENT_METADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event_metadata"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group"
          }
        },
        "SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session"
          }
        },
        "HOGQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hogql"
          }
        },
        "COHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cohort"
          }
        },
        "REVENUE_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revenue_analytics"
          }
        },
        "DATA_WAREHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data_warehouse"
          }
        },
        "DATA_WAREHOUSE_PERSON_PROPERTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data_warehouse_person_property"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.accounts_table_query#BreakdownFilterBreakdownsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.accounts_table_query#Breakdown"
      },
      "traits": {}
    },
[...]
