{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.ai_observability#ListLlmAnalyticsPersonalSpendRequestBucketMinutes": {
      "type": "intEnum",
      "members": {
        "_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5
          }
        },
        "_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 15
          }
        },
        "_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 30
          }
        },
        "_60": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 60
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#ListLlmAnalyticsPersonalSpendRequest": {
      "type": "structure",
      "members": {
        "bucket_minutes": {
          "target": "com.posthog.ai_observability#ListLlmAnalyticsPersonalSpendRequestBucketMinutes",
          "traits": {
            "smithy.api#httpQuery": "bucket_minutes",
            "smithy.api#documentation": "When set, additionally return a `by_bucket` breakdown: a time-ascending UTC cost series for the scoped product at this bucket size in minutes, with per-bucket cost split into uncached input / output / cache read / cache creation components plus the matching token sums. Supported bucket sizes: 5, 15, 30, 60. The window may span at most 600 buckets of the chosen size (e.g. 50 hours at 5-minute buckets).\n\n* `5` - 5\n* `15` - 15\n* `30` - 30\n* `60` - 60"
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_from",
            "smithy.api#documentation": "Start of the spend window. Accepts absolute dates (`2026-04-23`) or relative strings (`-7d`, `-1m`, etc.) — same parser used elsewhere in PostHog. Defaults to `-30d`. The window between `date_from` and `date_to` cannot exceed 90 days."
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_to",
            "smithy.api#documentation": "End of the spend window. Accepts the same formats as `date_from`. Defaults to `now` when omitted."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of rows to return per breakdown (1-200, defaults to 50). Each breakdown returns up to this many rows ordered by cost descending. Per-breakdown `truncated: true` indicates more rows exist beyond the limit."
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "product",
            "smithy.api#required": {},
            "smithy.api#documentation": "Required `ai_product` key to scope the tool / model / trace breakdowns to a single product. Only the following products are currently supported: posthog_code."
          }
        },
        "refresh": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "refresh",
            "smithy.api#documentation": "If true, bypass the result cache and re-run the underlying queries against ClickHouse."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#PersonalSpendAnalysisResponse": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "com.posthog.ai_observability#Summary",
          "traits": {
            "smithy.api#documentation": "High-level totals for the lookback window.",
            "smithy.api#required": {}
          }
        },
        "by_product": {
          "target": "com.posthog.ai_observability#ProductBreakdown",
          "traits": {
            "smithy.api#documentation": "Spend grouped by the `ai_product` property — always across all products, never filtered.",
            "smithy.api#required": {}
          }
        },
        "by_tool": {
          "target": "com.posthog.ai_observability#ToolBreakdown",
          "traits": {
            "smithy.api#documentation": "Spend grouped by tool. Scoped to `product` when set.",
            "smithy.api#required": {}
          }
        },
        "by_model": {
          "target": "com.posthog.ai_observability#ModelBreakdown",
          "traits": {
            "smithy.api#documentation": "Spend grouped by `$ai_model`. Scoped to `product` when set.",
            "smithy.api#required": {}
          }
        },
        "by_day": {
          "target": "com.posthog.ai_observability#DayBreakdown",
          "traits": {
            "smithy.api#documentation": "Spend grouped by UTC day, ordered ascending. Scoped to `product`. Not subject to `limit`.",
            "smithy.api#required": {}
          }
        },
        "by_day_model": {
          "target": "com.posthog.ai_observability#PersonalSpendAnalysisResponseByDayModelList",
          "traits": {
            "smithy.api#documentation": "Daily model spend for the scoped product, ordered by day and cost. Includes the six highest-cost models in the selected window plus a null-model row for the remaining models.",
            "smithy.api#required": {}
          }
        },
        "by_bucket": {
          "target": "com.posthog.ai_observability#BucketBreakdown",
          "traits": {
            "smithy.api#documentation": "Spend grouped by UTC time bucket with per-bucket cost/token components, ordered ascending. Scoped to `product`. Only present when the request set `bucket_minutes`."
          }
        },
        "top_traces": {
          "target": "com.posthog.ai_observability#TopTraces",
          "traits": {
            "smithy.api#documentation": "Deprecated — always returns `{items: [], truncated: false}`. Trace IDs are opaque strings that aren't actionable in the UI. Kept in the response shape so existing consumers don't crash; remove your rendering of this field and we'll drop it from the response entirely in a follow-up.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structured personal LLM spend analysis for the requesting user."
      }
    },
    "com.posthog.ai_observability#Summary": {
      "type": "structure",
      "members": {
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Inclusive UTC start of the spend window resolved from the request.",
            "smithy.api#required": {}
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exclusive UTC end of the spend window resolved from the request.",
            "smithy.api#required": {}
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `ai_product` filter applied to tool / model / trace breakdowns — echoes the request `product`.",
            "smithy.api#required": {}
          }
        },
        "total_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total LLM cost in USD across every `ai_product` for the user — independent of the `product` filter.",
            "smithy.api#required": {}
          }
        },
        "event_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total $ai_generation + $ai_embedding events captured across every product.",
            "smithy.api#required": {}
          }
        },
        "scoped_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total cost in USD for the product filter. Matches the cost summed across `by_tool` / `by_model` for the scoped slice.",
            "smithy.api#required": {}
          }
        },
        "scoped_event_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total $ai_generation + $ai_embedding events for the scoped slice.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#ProductBreakdown": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.posthog.ai_observability#ProductBreakdownItemsList",
          "traits": {
            "smithy.api#documentation": "Rows of spend by product, ordered by cost descending.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when more rows exist beyond the requested `limit`. Re-request with a larger `limit` to retrieve them.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#ProductBreakdownRow": {
      "type": "structure",
      "members": {
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the `ai_product` property on the event (e.g. `posthog_code`, `background_agents`). Null when unset.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "event_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of $ai_generation + $ai_embedding events for this product.",
            "smithy.api#required": {}
          }
        },
        "cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total cost in USD for this product over the lookback window.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#ProductBreakdownItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#ProductBreakdownRow"
      },
      "traits": {
        "smithy.api#documentation": "Rows of spend by product, ordered by cost descending."
      }
    },
    "com.posthog.ai_observability#ToolBreakdown": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.posthog.ai_observability#ToolBreakdownItemsList",
          "traits": {
            "smithy.api#documentation": "Rows of spend by tool, ordered by cost descending.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when more rows exist beyond the requested `limit`. Re-request with a larger `limit` to retrieve them.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#ToolBreakdownRow": {
      "type": "structure",
      "members": {
        "tool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Individual tool name from `$ai_tools_called` (split on `,` since multi-tool generations store a comma-separated list). Null = pure text response with no tool call.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "generation_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of $ai_generation events whose tool list includes this tool.",
            "smithy.api#required": {}
          }
        },
        "cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_total_cost_usd` for generations whose tool list includes this tool. Multi-tool generations contribute their full cost to every tool they invoked, so this sum can exceed `summary.scoped_cost_usd`. Prefer `share_of_scoped` for headline percentages — it's computed per row and doesn't require the totals to reconcile.",
            "smithy.api#required": {}
          }
        },
        "share_of_scoped": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This tool's share of `summary.scoped_cost_usd`, expressed as a float in `[0, 1]`. Independent per row, so co-occurring tools can each show a substantial share — the headline number to present (e.g. `'Bash drove 47% of your spend'`).",
            "smithy.api#required": {}
          }
        },
        "avg_input_tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Average `$ai_input_tokens` across these generations — high values signal context bloat per call.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#ToolBreakdownItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#ToolBreakdownRow"
      },
      "traits": {
        "smithy.api#documentation": "Rows of spend by tool, ordered by cost descending."
      }
    },
    "com.posthog.ai_observability#ModelBreakdown": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.posthog.ai_observability#ModelBreakdownItemsList",
          "traits": {
            "smithy.api#documentation": "Rows of spend by model, ordered by cost descending.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when more rows exist beyond the requested `limit`. Re-request with a larger `limit` to retrieve them.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#ModelBreakdownRow": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the `$ai_model` property.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "generation_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of $ai_generation + $ai_embedding events.",
            "smithy.api#required": {}
          }
        },
        "cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total cost in USD for this model.",
            "smithy.api#required": {}
          }
        },
        "input_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_input_tokens` for this model.",
            "smithy.api#required": {}
          }
        },
        "output_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_output_tokens` for this model.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#ModelBreakdownItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#ModelBreakdownRow"
      },
      "traits": {
        "smithy.api#documentation": "Rows of spend by model, ordered by cost descending."
      }
    },
    "com.posthog.ai_observability#DayBreakdown": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.posthog.ai_observability#DayBreakdownItemsList",
          "traits": {
            "smithy.api#documentation": "One row per UTC day that has events, ordered by day ascending. Days with no events are omitted — zero-fill client-side when rendering a continuous series.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Effectively always false: `by_day` ignores `limit` because truncating a time series by cost would be meaningless, and the 90-day window cap already bounds the series length.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DayBreakdownRow": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC calendar day the events fall on (`toDate(timestamp)`).",
            "smithy.api#required": {}
          }
        },
        "event_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of $ai_generation + $ai_embedding events on this day for the scoped product.",
            "smithy.api#required": {}
          }
        },
        "cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total cost in USD on this day for the scoped product.",
            "smithy.api#required": {}
          }
        },
        "input_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_input_tokens` on this day for the scoped product.",
            "smithy.api#required": {}
          }
        },
        "output_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_output_tokens` on this day for the scoped product.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DayBreakdownItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#DayBreakdownRow"
      },
      "traits": {
        "smithy.api#documentation": "One row per UTC day that has events, ordered by day ascending. Days with no events are omitted — zero-fill client-side when rendering a continuous series."
      }
    },
    "com.posthog.ai_observability#DayModelBreakdownRow": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC calendar day the events fall on (`toDate(timestamp)`).",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Model name for one of the highest-cost models in the selected window. Null is the aggregate of all remaining models, including events without a model.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total cost in USD for this model on this day.",
            "smithy.api#required": {}
          }
        },
        "input_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_input_tokens` for this model on this day.",
            "smithy.api#required": {}
          }
        },
        "output_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_output_tokens` for this model on this day.",
            "smithy.api#required": {}
          }
        },
        "generation_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of $ai_generation + $ai_embedding events for this model on this day.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#PersonalSpendAnalysisResponseByDayModelList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#DayModelBreakdownRow"
      },
      "traits": {
        "smithy.api#documentation": "Daily model spend for the scoped product, ordered by day and cost. Includes the six highest-cost models in the selected window plus a null-model row for the remaining models."
      }
    },
    "com.posthog.ai_observability#BucketBreakdown": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.posthog.ai_observability#BucketBreakdownItemsList",
          "traits": {
            "smithy.api#documentation": "One row per UTC time bucket that has events, ordered by bucket start ascending. Buckets with no events are omitted; zero-fill client-side when rendering a continuous series.",
            "smithy.api#required": {}
          }
        },
        "bucket_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Bucket size in minutes the series was computed at; echoes the request `bucket_minutes`.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Effectively always false: `by_bucket` ignores `limit` because truncating a time series by cost would be meaningless, and the 600-bucket window cap already bounds the series length.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#BucketBreakdownRow": {
      "type": "structure",
      "members": {
        "bucket_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC start of the time bucket the events fall in (`toStartOfInterval(timestamp, ...)`).",
            "smithy.api#required": {}
          }
        },
        "event_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of $ai_generation + $ai_embedding events in this bucket for the scoped product.",
            "smithy.api#required": {}
          }
        },
        "cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total cost in USD in this bucket (sum of `$ai_total_cost_usd`). Authoritative: the component columns below can sum to less than this when the cost breakdown was unavailable for some events; render any remainder as uncategorized rather than assuming the components reconcile.",
            "smithy.api#required": {}
          }
        },
        "input_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cost of uncached (full-price) input tokens in USD, derived per event as `$ai_input_cost_usd` minus the cache read/write costs (the stored input cost includes them), clamped at zero. The four component columns are disjoint: they sum to `cost_usd` when the full breakdown is present, so they can be stacked without double counting cache costs.",
            "smithy.api#required": {}
          }
        },
        "output_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cost of output tokens in USD (sum of `$ai_output_cost_usd`).",
            "smithy.api#required": {}
          }
        },
        "cache_read_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cost of prompt-cache reads in USD (sum of `$ai_cache_read_cost_usd`).",
            "smithy.api#required": {}
          }
        },
        "cache_creation_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cost of prompt-cache writes in USD (sum of `$ai_cache_creation_cost_usd`). A spike here with near-zero cache reads is the signature of a cold session being revived: the full conversation context is re-written to the cache at the cache-write rate instead of being read back cheaply.",
            "smithy.api#required": {}
          }
        },
        "input_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_input_tokens` in this bucket. Whether cached tokens are included follows the provider's reporting (`$ai_cache_reporting_exclusive`): Anthropic-style events exclude them, OpenAI-style events include them, so don't stack this with the cache token sums.",
            "smithy.api#required": {}
          }
        },
        "output_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_output_tokens` in this bucket.",
            "smithy.api#required": {}
          }
        },
        "cache_read_input_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_cache_read_input_tokens` (prompt tokens served from cache) in this bucket.",
            "smithy.api#required": {}
          }
        },
        "cache_creation_input_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_cache_creation_input_tokens` (prompt tokens written to cache) in this bucket.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#BucketBreakdownItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#BucketBreakdownRow"
      },
      "traits": {
        "smithy.api#documentation": "One row per UTC time bucket that has events, ordered by bucket start ascending. Buckets with no events are omitted; zero-fill client-side when rendering a continuous series."
      }
    },
    "com.posthog.ai_observability#TopTraces": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.posthog.ai_observability#TopTracesItemsList",
          "traits": {
            "smithy.api#documentation": "Rows of top traces by cost, ordered by cost descending.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when more rows exist beyond the requested `limit`. Re-request with a larger `limit` to retrieve them.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#TopTraceRow": {
      "type": "structure",
      "members": {
        "trace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`$ai_trace_id` of the session — opaque string scoped to the originating product. Format is not stable: most are UUIDs but some SDK wrappers emit JSON-shaped strings like `{\"device_id\":\"...\",\"session_id\":\"...\"}`. Callers should treat this as an opaque identifier (URL-encode before linking to a trace view).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "generation_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of $ai_generation events in this trace.",
            "smithy.api#required": {}
          }
        },
        "cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total cost in USD for this trace.",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the earliest event in this trace.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#TopTracesItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#TopTraceRow"
      },
      "traits": {
        "smithy.api#documentation": "Rows of top traces by cost, ordered by cost descending."
      }
    },
    "com.posthog.ai_observability#ListLlmAnalyticsPersonalSpendResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#PersonalSpendAnalysisResponse"
      },
      "traits": {}
    },
    "com.posthog.ai_observability#ListLlmAnalyticsPersonalSpendResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.ai_observability#ListLlmAnalyticsPersonalSpendResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.ai_observability#ListLlmAnalyticsPersonalSpend": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#ListLlmAnalyticsPersonalSpendRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#ListLlmAnalyticsPersonalSpendResponse"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#BadRequest"
        },
        {
          "target": "com.posthog.ai_observability#Forbidden"
        },
        {
          "target": "com.posthog.ai_observability#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/llm_analytics/@me/spend/",
          "code": 200
        },
        "smithy.api#documentation": "Return a structured personal LLM spend analysis for the requesting user. Pass `date_from` / `date_to` (absolute like `2026-04-23` or relative like `-7d`) to bound the window — defaults to the last 30 days, max 90 days. The `product=<ai_product>` query param is required and scopes the tool / model / day / trace breakdowns to a single product; supported values: posthog_code. `by_product` is always returned for cross-product visibility. `by_day` returns a day-ascending spend series for the scoped product. Pass `bucket_minutes` (5, 15, 30, or 60; the window may span at most 600 buckets) to additionally get `by_bucket`, a time-ascending series with per-bucket cost split into uncached input / output / cache read / cache creation components. Use `refresh=true` to bypass the 5-minute response cache."
      }
    },
    "com.posthog.ai_observability#GetAiObservabilityInstrumentationChecklistRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "refresh": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "refresh",
            "smithy.api#documentation": "Grade the checks against a fresh read instead of a recent cached one. Use it after changing instrumentation, when a cached verdict would still describe the old code."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#InstrumentationChecklist": {
      "type": "structure",
      "members": {
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Length in days of the event window the checks were graded over.",
            "smithy.api#required": {}
          }
        },
        "checks": {
          "target": "com.posthog.ai_observability#InstrumentationChecklistChecksList",
          "traits": {
            "smithy.api#documentation": "Every check, graded. Checks are always all returned, including the ones that pass.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#InstrumentationCheck": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.posthog.ai_observability#AIObservabilityInstrumentationCheckEnum",
          "traits": {
            "smithy.api#documentation": "Identifier of the check. Stable across statuses, so a surface can key its own copy off it.\n\n* `sessions` - sessions\n* `tool_calls` - tool_calls\n* `user_identity` - user_identity\n* `trace_structure` - trace_structure",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.ai_observability#InstrumentationCheckStatusEnum",
          "traits": {
            "smithy.api#documentation": "How the check graded: 'ok' when the instrumentation is present, 'warning' when it is absent, 'pending' when the project has too little traffic to judge, and 'dismissed' when someone on the team marked the check as not applicable.\n\n* `ok` - ok\n* `warning` - warning\n* `pending` - pending\n* `dismissed` - dismissed",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short label for the check, the same for every status.",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sentence explaining what the counts mean and, for a warning, what to send. A dismissed check keeps the sentence its counts earned.",
            "smithy.api#required": {}
          }
        },
        "docs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Documentation page covering how to send the missing instrumentation.",
            "smithy.api#required": {}
          }
        },
        "stats": {
          "target": "com.posthog.ai_observability#InstrumentationCheckStatsMap",
          "traits": {
            "smithy.api#documentation": "Counts this check was graded from, over the same window. Which counts appear depends on the check.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#AIObservabilityInstrumentationCheckEnum": {
      "type": "enum",
      "members": {
        "SESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sessions"
          }
        },
        "TOOL_CALLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tool_calls"
          }
        },
        "USER_IDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_identity"
          }
        },
        "TRACE_STRUCTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trace_structure"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `sessions` - sessions\n* `tool_calls` - tool_calls\n* `user_identity` - user_identity\n* `trace_structure` - trace_structure"
      }
    },
    "com.posthog.ai_observability#InstrumentationCheckStatusEnum": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "DISMISSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dismissed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `ok` - ok\n* `warning` - warning\n* `pending` - pending\n* `dismissed` - dismissed"
      }
    },
    "com.posthog.ai_observability#InstrumentationCheckStatsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Counts this check was graded from, over the same window. Which counts appear depends on the check."
      }
    },
    "com.posthog.ai_observability#InstrumentationChecklistChecksList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#InstrumentationCheck"
      },
      "traits": {
        "smithy.api#documentation": "Every check, graded. Checks are always all returned, including the ones that pass."
      }
    },
    "com.posthog.ai_observability#GetAiObservabilityInstrumentationChecklist": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#GetAiObservabilityInstrumentationChecklistRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#InstrumentationChecklist"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/ai_observability/instrumentation_checklist/",
          "code": 200
        },
        "smithy.api#documentation": "Grade every instrumentation check for this project."
      }
    },
    "com.posthog.ai_observability#CreateAiObservabilityInstrumentationChecklistDismissRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "check": {
          "target": "com.posthog.ai_observability#AIObservabilityInstrumentationCheckEnum",
          "traits": {
            "smithy.api#documentation": "Key of the check to dismiss or restore.\n\n* `sessions` - sessions\n* `tool_calls` - tool_calls\n* `user_identity` - user_identity\n* `trace_structure` - trace_structure",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#CreateAiObservabilityInstrumentationChecklistDismiss": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#CreateAiObservabilityInstrumentationChecklistDismissRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#InstrumentationChecklist"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/ai_observability/instrumentation_checklist/dismiss/",
          "code": 200
        },
        "smithy.api#documentation": "Mark a check as not applicable to this project."
      }
    },
    "com.posthog.ai_observability#AiObservabilityInstrumentationChecklistRestoreCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "check": {
          "target": "com.posthog.ai_observability#AIObservabilityInstrumentationCheckEnum",
          "traits": {
            "smithy.api#documentation": "Key of the check to dismiss or restore.\n\n* `sessions` - sessions\n* `tool_calls` - tool_calls\n* `user_identity` - user_identity\n* `trace_structure` - trace_structure",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#AiObservabilityInstrumentationChecklistRestoreCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#AiObservabilityInstrumentationChecklistRestoreCreateRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#InstrumentationChecklist"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/ai_observability/instrumentation_checklist/restore/",
          "code": 200
        },
        "smithy.api#documentation": "Bring a dismissed check back into grading."
      }
    },
    "com.posthog.ai_observability#ListAiObservabilityOfflineExperimentsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "application_version",
            "smithy.api#documentation": "Exact application revision."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Continuation cursor returned by the previous page."
          }
        },
        "dataset_identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dataset_identifier",
            "smithy.api#documentation": "Exact durable dataset identifier."
          }
        },
        "dataset_revision_identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dataset_revision_identifier",
            "smithy.api#documentation": "Exact durable dataset revision identifier."
          }
        },
        "dataset_source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dataset_source",
            "smithy.api#documentation": "Exact dataset source."
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_from",
            "smithy.api#documentation": "Inclusive execution start time, in ISO 8601 format."
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_to",
            "smithy.api#documentation": "Exclusive execution end time, in ISO 8601 format."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Page size, from 1 to 100. Defaults to 50."
          }
        },
        "model_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "model_version",
            "smithy.api#documentation": "Exact model revision."
          }
        },
        "prompt_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "prompt_version",
            "smithy.api#documentation": "Exact prompt revision."
          }
        },
        "run_source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "run_source",
            "smithy.api#documentation": "Filter ci, local, scheduled, or not_specified for omitted run source."
          }
        },
        "scorer_definition_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "scorer_definition_id",
            "smithy.api#documentation": "Restrict results to this scorer definition."
          }
        },
        "scorer_version_ids": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "scorer_version_ids",
            "smithy.api#documentation": "Comma-separated list of at most 20 distinct scorer-version UUIDs."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search experiment names."
          }
        },
        "statuses": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "statuses",
            "smithy.api#documentation": "Comma-separated uploading, completed, or failed states. History defaults to completed; lists include all."
          }
        },
        "suite_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "suite_key",
            "smithy.api#documentation": "Exact evaluation suite identifier."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#OfflineExperimentPage": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total authorized rows matching the filters, independent of this page.",
            "smithy.api#required": {}
          }
        },
        "next_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation cursor, or null after the final page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.ai_observability#OfflineExperimentPageResultsList",
          "traits": {
            "smithy.api#documentation": "Experiment page.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#OfflineExperimentRead": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable experiment UUID.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Experiment name.",
            "smithy.api#required": {}
          }
        },
        "run_source": {
          "target": "com.posthog.ai_observability#OfflineExperimentRunSourceEnum",
          "traits": {
            "smithy.api#documentation": "Execution source.\n\n* `ci` - CI\n* `local` - Local\n* `scheduled` - Scheduled",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.posthog.ai_observability#OfflineExperimentStatusEnum",
          "traits": {
            "smithy.api#documentation": "Upload lifecycle state.\n\n* `uploading` - Uploading\n* `completed` - Completed\n* `failed` - Failed",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Caller-supplied execution time.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First server acceptance time.",
            "smithy.api#required": {}
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server closure time, or null while uploading.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "expected_item_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Declared expected items, when supplied.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "expected_result_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Declared expected results across all scorers.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "accepted_item_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Observed items, including items without a selected scorer result.",
            "smithy.api#required": {}
          }
        },
        "visible_result_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Results visible to this caller; unavailable without scorer-read scope.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "visible_scorer_definition_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Distinct visible scorer definitions.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "visible_scorer_version_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Distinct visible scorer versions.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "result_count_scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "authorized for visible-result counts, or unavailable without scorer-read scope.",
            "smithy.api#required": {}
          }
        },
        "suite_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Durable suite identifier.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dataset_source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dataset provider or source.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dataset_identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Durable dataset identifier.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dataset_revision_identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Durable dataset revision identifier.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dataset_revision_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional hosted revision navigation reference.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "application_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Application revision under evaluation.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "model_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Model revision under evaluation.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "prompt_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prompt revision under evaluation.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#OfflineExperimentRunSourceEnum": {
      "type": "enum",
      "members": {
        "CI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ci"
          }
        },
        "LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "local"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `ci` - CI\n* `local` - Local\n* `scheduled` - Scheduled"
      }
    },
    "com.posthog.ai_observability#OfflineExperimentStatusEnum": {
      "type": "enum",
      "members": {
        "UPLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uploading"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `uploading` - Uploading\n* `completed` - Completed\n* `failed` - Failed"
      }
    },
    "com.posthog.ai_observability#OfflineExperimentPageResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#OfflineExperimentRead"
      },
      "traits": {
        "smithy.api#documentation": "Experiment page."
      }
    },
    "com.posthog.ai_observability#ListAiObservabilityOfflineExperiments": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#ListAiObservabilityOfflineExperimentsRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#OfflineExperimentPage"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#BadRequest"
        },
        {
          "target": "com.posthog.ai_observability#Forbidden"
        },
        {
          "target": "com.posthog.ai_observability#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/ai_observability/offline_experiments/",
          "code": 200
        }
      }
    },
    "com.posthog.ai_observability#CreateAiObservabilityOfflineExperimentRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Caller-generated experiment UUID. Reuse it for exact retries.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for this experiment execution.",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Execution start time in ISO 8601 format, supplied by the caller.",
            "smithy.api#required": {}
          }
        },
        "run_source": {
          "target": "com.posthog.ai_observability#OfflineExperimentRunSourceEnum",
          "traits": {
            "smithy.api#documentation": "Where the execution started: ci, local, or scheduled. Omit or use null when unknown.\n\n* `ci` - CI\n* `local` - Local\n* `scheduled` - Scheduled",
            "com.distilled.openapi#nullable": {}
          }
        },
        "expected_item_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Expected number of distinct items. Completion must match this count when supplied.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "expected_result_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Expected number of distinct item/scorer-version results, including non-success statuses.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "suite_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable identifier for comparing executions of the same evaluation suite.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dataset_source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source of an external dataset. Hosted dataset provenance is derived from its revision.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dataset_identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable identifier for the external dataset.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dataset_revision_identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pinned revision identifier of the external dataset.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dataset_revision_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of a hosted dataset revision in this project.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "application_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the application under evaluation.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "model_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the model under evaluation.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "prompt_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the prompt under evaluation.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#ExperimentReceipt": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable experiment UUID supplied at creation.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.ai_observability#OfflineExperimentStatusEnum",
          "traits": {
            "smithy.api#documentation": "Current upload lifecycle state.\n\n* `uploading` - Uploading\n* `completed` - Completed\n* `failed` - Failed",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this request created the experiment.",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Caller-supplied execution start time.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the experiment was first accepted.",
            "smithy.api#required": {}
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server closure time; null while uploading.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "expected_item_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Declared item count, when supplied.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "expected_result_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Declared result count, when supplied.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "accepted_item_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of unique accepted items.",
            "smithy.api#required": {}
          }
        },
        "accepted_result_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of unique accepted results across all statuses.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#CreateAiObservabilityOfflineExperiment": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#CreateAiObservabilityOfflineExperimentRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#ExperimentReceipt"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#BadRequest"
        },
        {
          "target": "com.posthog.ai_observability#Forbidden"
        },
        {
          "target": "com.posthog.ai_observability#NotFound"
        },
        {
          "target": "com.posthog.ai_observability#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/ai_observability/offline_experiments/",
          "code": 200
        }
      }
    },
    "com.posthog.ai_observability#GetAiObservabilityOfflineExperimentRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Experiment UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#GetAiObservabilityOfflineExperiment": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#GetAiObservabilityOfflineExperimentRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#OfflineExperimentRead"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#BadRequest"
        },
        {
          "target": "com.posthog.ai_observability#Forbidden"
        },
        {
          "target": "com.posthog.ai_observability#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/ai_observability/offline_experiments/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.ai_observability#CreateAiObservabilityOfflineExperimentsCompleteRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Experiment UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#CreateAiObservabilityOfflineExperimentsComplete": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#CreateAiObservabilityOfflineExperimentsCompleteRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#ExperimentReceipt"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#BadRequest"
        },
        {
          "target": "com.posthog.ai_observability#Forbidden"
        },
        {
          "target": "com.posthog.ai_observability#NotFound"
        },
        {
          "target": "com.posthog.ai_observability#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/ai_observability/offline_experiments/{id}/complete/",
          "code": 200
        }
      }
    },
    "com.posthog.ai_observability#CreateAiObservabilityOfflineExperimentsFailRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Experiment UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#CreateAiObservabilityOfflineExperimentsFail": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#CreateAiObservabilityOfflineExperimentsFailRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#ExperimentReceipt"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#BadRequest"
        },
        {
          "target": "com.posthog.ai_observability#Forbidden"
        },
        {
          "target": "com.posthog.ai_observability#NotFound"
        },
        {
          "target": "com.posthog.ai_observability#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/ai_observability/offline_experiments/{id}/fail/",
          "code": 200
        }
      }
    },
    "com.posthog.ai_observability#ListAiObservabilityOfflineExperimentsItemsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Experiment UUID."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Continuation cursor returned by the previous page."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Page size, from 1 to 100. Defaults to 50."
          }
        },
        "scorer_version_ids": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "scorer_version_ids",
            "smithy.api#documentation": "Comma-separated list of at most 20 distinct scorer-version UUIDs."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#OfflineItemPage": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total authorized rows matching the filters, independent of this page.",
            "smithy.api#required": {}
          }
        },
        "next_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation cursor, or null after the final page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.ai_observability#OfflineItemPageResultsList",
          "traits": {
            "smithy.api#documentation": "Item page.",
            "smithy.api#required": {}
          }
        },
        "scorer_versions": {
          "target": "com.posthog.ai_observability#OfflineItemPageScorerVersionsList",
          "traits": {
            "smithy.api#documentation": "Selected scorer versions, each returned once, including versions with no results.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#OfflineItemRead": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable item UUID.",
            "smithy.api#required": {}
          }
        },
        "experiment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Owning experiment UUID.",
            "smithy.api#required": {}
          }
        },
        "case_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional stable case identifier.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "trial": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional trial identifier within a case.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dataset_item_identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Durable dataset item identifier.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dataset_item_version_identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Durable dataset item-version identifier.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dataset_item_version_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional hosted item-version navigation reference.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "application_trace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional application trace navigation reference.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "accepted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Original server acceptance time.",
            "smithy.api#required": {}
          }
        },
        "payload_state": {
          "target": "com.posthog.ai_observability#PayloadStateEnum",
          "traits": {
            "smithy.api#documentation": "Item payload storage state.\n\n* `not_provided` - Not provided\n* `available` - Available\n* `expired` - Expired",
            "smithy.api#required": {}
          }
        },
        "payload_expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Payload retention deadline; cleanup is not yet enabled.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.ai_observability#OfflineItemReadResultsList",
          "traits": {
            "smithy.api#documentation": "Cells for explicitly selected scorer versions; empty when none selected.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#PayloadStateEnum": {
      "type": "enum",
      "members": {
        "NOT_PROVIDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_provided"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `not_provided` - Not provided\n* `available` - Available\n* `expired` - Expired"
      }
    },
    "com.posthog.ai_observability#OfflineResultCell": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable result UUID.",
            "smithy.api#required": {}
          }
        },
        "item_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Item evaluated by this result.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.ai_observability#OfflineEvaluationResultStatusEnum",
          "traits": {
            "smithy.api#documentation": "Evaluation outcome.\n\n* `ok` - OK\n* `error` - Error\n* `skipped` - Skipped\n* `not_applicable` - Not applicable",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.posthog.ai_observability#OfflineResultCellValue",
          "traits": {
            "smithy.api#documentation": "Typed score for ok outcomes; null for other outcomes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "error_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional evaluator error code.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "evaluator_trace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional evaluator trace navigation reference.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "evaluated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Caller-supplied evaluation time.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "accepted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Original server acceptance time.",
            "smithy.api#required": {}
          }
        },
        "payload_state": {
          "target": "com.posthog.ai_observability#PayloadStateEnum",
          "traits": {
            "smithy.api#documentation": "Result payload storage state.\n\n* `not_provided` - Not provided\n* `available` - Available\n* `expired` - Expired",
            "smithy.api#required": {}
          }
        },
        "payload_expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Payload retention deadline; cleanup is not yet enabled.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "scorer_version_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exact scorer-version UUID in the item page's scorer_versions list.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#OfflineEvaluationResultStatusEnum": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "NOT_APPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_applicable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `ok` - OK\n* `error` - Error\n* `skipped` - Skipped\n* `not_applicable` - Not applicable"
      }
    },
    "com.posthog.ai_observability#OfflineResultCellValueCase2List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.ai_observability#OfflineResultCellValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#Boolean"
        },
        "Case2": {
          "target": "com.posthog.ai_observability#OfflineResultCellValueCase2List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Typed score for ok outcomes; null for other outcomes."
      }
    },
    "com.posthog.ai_observability#OfflineItemReadResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#OfflineResultCell"
      },
      "traits": {
        "smithy.api#documentation": "Cells for explicitly selected scorer versions; empty when none selected."
      }
    },
    "com.posthog.ai_observability#OfflineItemPageResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#OfflineItemRead"
      },
      "traits": {
        "smithy.api#documentation": "Item page."
      }
    },
    "com.posthog.ai_observability#OfflineScorerVersionRead": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exact immutable scorer-version UUID.",
            "smithy.api#required": {}
          }
        },
        "definition_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable scorer definition UUID.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number within the definition.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.posthog.ai_observability#ScoreDefinitionKindEnum",
          "traits": {
            "smithy.api#documentation": "Scorer value kind.\n\n* `categorical` - categorical\n* `numeric` - numeric\n* `boolean` - boolean",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current scorer display name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current scorer description.",
            "smithy.api#required": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the scorer is archived.",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "com.posthog.ai_observability#ScoreDefinitionConfig",
          "traits": {
            "smithy.api#documentation": "Pinned immutable configuration used to interpret these results.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#ScoreDefinitionKindEnum": {
      "type": "enum",
      "members": {
        "CATEGORICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "categorical"
          }
        },
        "NUMERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "numeric"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `categorical` - categorical\n* `numeric` - numeric\n* `boolean` - boolean"
      }
    },
    "com.posthog.ai_observability#ScoreDefinitionConfig": {
      "type": "union",
      "members": {
        "CategoricalScoreDefinitionConfig": {
          "target": "com.posthog.ai_observability#CategoricalScoreDefinitionConfig"
        },
        "NumericScoreDefinitionConfig": {
          "target": "com.posthog.ai_observability#NumericScoreDefinitionConfig"
        },
        "BooleanScoreDefinitionConfig": {
          "target": "com.posthog.ai_observability#BooleanScoreDefinitionConfig"
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#CategoricalScoreDefinitionConfig": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.posthog.ai_observability#CategoricalScoreDefinitionConfigOptionsList",
          "traits": {
            "smithy.api#documentation": "Ordered categorical options available to the scorer."
          }
        },
        "selection_mode": {
          "target": "com.posthog.ai_observability#SelectionModeEnum",
          "traits": {
            "smithy.api#documentation": "Whether reviewers can select one option or multiple options. Defaults to `single`.\n\n* `single` - single\n* `multiple` - multiple"
          }
        },
        "min_selections": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional minimum number of options that can be selected when `selection_mode` is `multiple`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "max_selections": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional maximum number of options that can be selected when `selection_mode` is `multiple`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "passing_rule": {
          "target": "com.posthog.ai_observability#CategoricalScorePassingRule",
          "traits": {
            "smithy.api#documentation": "Optional passing categories. Omit or set null for neutral scores. Each scorer version keeps its own rule.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#CategoricalScoreOption": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable option key. Use lowercase letters, numbers, underscores, or hyphens."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable option label."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#CategoricalScoreDefinitionConfigOptionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#CategoricalScoreOption"
      },
      "traits": {
        "smithy.api#documentation": "Ordered categorical options available to the scorer."
      }
    },
    "com.posthog.ai_observability#SelectionModeEnum": {
      "type": "enum",
      "members": {
        "SINGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "single"
          }
        },
        "MULTIPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiple"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `single` - single\n* `multiple` - multiple"
      }
    },
    "com.posthog.ai_observability#CategoricalScorePassingRule": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.posthog.ai_observability#CategoricalScorePassingRuleCategoriesList",
          "traits": {
            "smithy.api#documentation": "Passing category keys. Every returned category must be included. An empty list makes all accepted offline results fail.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#CategoricalScorePassingRuleCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Passing category keys. Every returned category must be included. An empty list makes all accepted offline results fail."
      }
    },
    "com.posthog.ai_observability#NumericScoreDefinitionConfig": {
      "type": "structure",
      "members": {
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional inclusive minimum score.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional inclusive maximum score.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "step": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional increment step for numeric input, for example 1 or 0.5.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "passing_rule": {
          "target": "com.posthog.ai_observability#NumericScorePassingRule",
          "traits": {
            "smithy.api#documentation": "Optional passing rule. Omit or set null for neutral scores. Each scorer version keeps its own rule.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#NumericScorePassingRule": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "com.posthog.ai_observability#NumericScorePassingRuleSerializerOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Pass at or above (gte), or at or below (lte), the threshold.\n\n* `gte` - At or above\n* `lte` - At or below",
            "smithy.api#required": {}
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Finite passing threshold within any configured score bounds.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#NumericScorePassingRuleSerializerOperatorEnum": {
      "type": "enum",
      "members": {
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `gte` - At or above\n* `lte` - At or below"
      }
    },
    "com.posthog.ai_observability#BooleanScoreDefinitionConfig": {
      "type": "structure",
      "members": {
        "true_is_failure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether true means failure. False, omitted, or null means true passes in offline evaluations.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "true_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional label for a true value."
          }
        },
        "false_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional label for a false value."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#OfflineItemPageScorerVersionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#OfflineScorerVersionRead"
      },
      "traits": {
        "smithy.api#documentation": "Selected scorer versions, each returned once, including versions with no results."
      }
    },
    "com.posthog.ai_observability#ListAiObservabilityOfflineExperimentsItems": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#ListAiObservabilityOfflineExperimentsItemsRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#OfflineItemPage"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#BadRequest"
        },
        {
          "target": "com.posthog.ai_observability#Forbidden"
        },
        {
          "target": "com.posthog.ai_observability#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/ai_observability/offline_experiments/{id}/items/",
          "code": 200
        }
      }
    },
    "com.posthog.ai_observability#GetAiObservabilityOfflineExperimentsItemRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Experiment UUID."
          }
        },
        "item_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Item UUID within the experiment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#GetAiObservabilityOfflineExperimentsItem": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#GetAiObservabilityOfflineExperimentsItemRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#OfflineItemRead"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#BadRequest"
        },
        {
          "target": "com.posthog.ai_observability#Forbidden"
        },
        {
          "target": "com.posthog.ai_observability#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/ai_observability/offline_experiments/{id}/items/{item_id}/",
          "code": 200
        }
      }
    },
    "com.posthog.ai_observability#GetAiObservabilityOfflineExperimentsItemsPayloadRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Experiment UUID."
          }
        },
        "item_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Item UUID within the experiment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#OfflineItemPayloadRead": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Owning item UUID.",
            "smithy.api#required": {}
          }
        },
        "payload_state": {
          "target": "com.posthog.ai_observability#PayloadStateEnum",
          "traits": {
            "smithy.api#documentation": "Durable payload storage state.\n\n* `not_provided` - Not provided\n* `available` - Available\n* `expired` - Expired",
            "smithy.api#required": {}
          }
        },
        "payload_expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Payload retention deadline.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the stored payload is currently available.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.posthog.ai_observability#OfflineExperimentItemPayloadInput",
          "traits": {
            "smithy.api#documentation": "Stored item payload, preserving omitted properties and JSON null; null if unavailable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#OfflineExperimentItemPayloadInput": {
      "type": "structure",
      "members": {
        "input": {
          "target": "com.posthog.ai_observability#OfflineExperimentItemPayloadInputInput",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "output": {
          "target": "com.posthog.ai_observability#OfflineExperimentItemPayloadInputOutput",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "expected_output": {
          "target": "com.posthog.ai_observability#OfflineExperimentItemPayloadInputExpectedOutput",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.posthog.ai_observability#OfflineExperimentItemPayloadInputMetadataMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#OfflineExperimentItemPayloadInputInputCase0Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.ai_observability#OfflineExperimentItemPayloadInputInputCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.ai_observability#OfflineExperimentItemPayloadInputInput": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.ai_observability#OfflineExperimentItemPayloadInputInputCase0Map"
        },
        "Case1": {
          "target": "com.posthog.ai_observability#OfflineExperimentItemPayloadInputInputCase1List"
        },
        "Case2": {
          "target": "smithy.api#String"
        },
        "Case3": {
          "target": "smithy.api#Double"
        },
        "Case4": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#OfflineExperimentItemPayloadInputOutputCase0Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
[...]
