{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.autoresearch#ListAutoresearchRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.autoresearch#PaginatedAutoresearchPipelineList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.autoresearch#PaginatedAutoresearchPipelineListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.autoresearch#AutoresearchPipeline": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique UUID of this pipeline.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the pipeline.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional free-text description."
          }
        },
        "target_event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PostHog event name to predict, e.g. '$pageview' or 'signed_up'.",
            "smithy.api#required": {}
          }
        },
        "target_definition": {
          "target": "com.posthog.autoresearch#AutoresearchPipelineTargetDefinition",
          "traits": {
            "smithy.api#documentation": "Resolved target definition: {\"type\": \"event\"} or {\"type\": \"action\", \"action_id\": N}.",
            "smithy.api#required": {}
          }
        },
        "horizon_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Prediction horizon in days. The model predicts whether the target event occurs within this window."
          }
        },
        "training_lookback_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How far back to look for training examples. Larger windows give more data but may include stale behavior."
          }
        },
        "training_population": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Population used for training. Defines which users can appear as training examples.",
            "smithy.api#required": {}
          }
        },
        "inference_population": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Population scored daily. Typically broader than the training population.",
            "smithy.api#required": {}
          }
        },
        "cadence_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Re-score the inference population every N days."
          }
        },
        "iteration_budget": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total training iterations allowed for the autoresearch loop."
          }
        },
        "iteration_budget_remaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Iterations remaining in the current budget.",
            "smithy.api#required": {}
          }
        },
        "success_auc": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Target AUC threshold. Training stops early if this score is reached.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "plateau_iterations": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Stop training if no AUC improvement is seen in this many consecutive iterations."
          }
        },
        "output_person_property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person property name that stores the daily prediction score, e.g. 'predicted_p_pageview'."
          }
        },
        "status": {
          "target": "com.posthog.autoresearch#AutoresearchPipelineStatusEnum",
          "traits": {
            "smithy.api#documentation": "Pipeline lifecycle status: draft, bootstrapping, running, converged, paused, or archived.\n\n* `draft` - Draft\n* `bootstrapping` - Bootstrapping\n* `running` - Running\n* `converged` - Converged\n* `paused` - Paused\n* `archived` - Archived",
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.autoresearch#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_scored_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the most recent completed inference run.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "champion_holdout_auc": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Offline holdout AUC of the current champion model (predictive accuracy on held-out training data).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "champion_realized_auc": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Realized online AUC of the current champion model, computed from mature predictions against actual outcomes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.autoresearch#AutoresearchPipelineTargetDefinitionCase0Type": {
      "type": "enum",
      "members": {
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.autoresearch#AutoresearchPipelineTargetDefinitionCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.autoresearch#AutoresearchPipelineTargetDefinitionCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Predict target_event. The default when target_definition is omitted."
      }
    },
    "com.posthog.autoresearch#AutoresearchPipelineTargetDefinitionCase1Type": {
      "type": "enum",
      "members": {
        "ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.autoresearch#AutoresearchPipelineTargetDefinitionCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.autoresearch#AutoresearchPipelineTargetDefinitionCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the action to predict.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Predict a PostHog action in this project."
      }
    },
    "com.posthog.autoresearch#AutoresearchPipelineTargetDefinition": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.autoresearch#AutoresearchPipelineTargetDefinitionCase0"
        },
        "Case1": {
          "target": "com.posthog.autoresearch#AutoresearchPipelineTargetDefinitionCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Resolved target definition: {\"type\": \"event\"} or {\"type\": \"action\", \"action_id\": N}."
      }
    },
    "com.posthog.autoresearch#AutoresearchPipelineStatusEnum": {
      "type": "enum",
      "members": {
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "BOOTSTRAPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bootstrapping"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "CONVERGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "converged"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paused"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `draft` - Draft\n* `bootstrapping` - Bootstrapping\n* `running` - Running\n* `converged` - Converged\n* `paused` - Paused\n* `archived` - Archived"
      }
    },
    "com.posthog.autoresearch#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.autoresearch#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.autoresearch#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.autoresearch#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.autoresearch#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.autoresearch#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.autoresearch#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.autoresearch#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.autoresearch#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.autoresearch#PaginatedAutoresearchPipelineListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.autoresearch#AutoresearchPipeline"
      },
      "traits": {}
    },
    "com.posthog.autoresearch#ListAutoresearch": {
      "type": "operation",
      "input": {
        "target": "com.posthog.autoresearch#ListAutoresearchRequest"
      },
      "output": {
        "target": "com.posthog.autoresearch#PaginatedAutoresearchPipelineList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/autoresearch/",
          "code": 200
        },
        "smithy.api#documentation": "Manage autoresearch prediction pipelines.\n\nA pipeline defines a target event, population, and horizon. The autoresearch\ntraining loop finds the best predictive recipe; the inference workflow scores\nusers daily and emits autoresearch_prediction events."
      }
    },
    "com.posthog.autoresearch#CreateAutoresearchRequestTargetDefinitionCase0Type": {
      "type": "enum",
      "members": {
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.autoresearch#CreateAutoresearchRequestTargetDefinitionCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.autoresearch#CreateAutoresearchRequestTargetDefinitionCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Predict target_event. The default when target_definition is omitted."
      }
    },
    "com.posthog.autoresearch#CreateAutoresearchRequestTargetDefinitionCase1Type": {
      "type": "enum",
      "members": {
        "ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.autoresearch#CreateAutoresearchRequestTargetDefinitionCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.autoresearch#CreateAutoresearchRequestTargetDefinitionCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the action to predict.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Predict a PostHog action in this project."
      }
    },
    "com.posthog.autoresearch#CreateAutoresearchRequestTargetDefinition": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.autoresearch#CreateAutoresearchRequestTargetDefinitionCase0"
        },
        "Case1": {
          "target": "com.posthog.autoresearch#CreateAutoresearchRequestTargetDefinitionCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Omit (or pass {\"type\": \"event\"}) to predict target_event; pass {\"type\": \"action\", \"action_id\": N} to predict a PostHog action. No other shapes are accepted."
      }
    },
    "com.posthog.autoresearch#CreateAutoresearchRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the pipeline.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional free-text description."
          }
        },
        "target_event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PostHog event name to predict, e.g. '$pageview' or 'signed_up'. Omit when predicting an action target (pass target_definition instead)."
          }
        },
        "target_definition": {
          "target": "com.posthog.autoresearch#CreateAutoresearchRequestTargetDefinition",
          "traits": {
            "smithy.api#documentation": "Omit (or pass {\"type\": \"event\"}) to predict target_event; pass {\"type\": \"action\", \"action_id\": N} to predict a PostHog action. No other shapes are accepted."
          }
        },
        "horizon_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Prediction horizon in days (1-365). The model predicts whether the target event occurs within this window."
          }
        },
        "training_lookback_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How far back to look for training examples (7-730 days). Larger windows give more data but may include stale behavior. Default: 180."
          }
        },
        "training_population": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Training population filter. Use {} for all identified users."
          }
        },
        "inference_population": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Inference population filter. Defaults to training_population if not set."
          }
        },
        "cadence_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Re-score the inference population every N days (1-365). Default: 1."
          }
        },
        "iteration_budget": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total training iterations allowed for the autoresearch loop (1-500). Default: 50."
          }
        },
        "success_auc": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Target AUC threshold (0-1). Training stops early if reached. Default: 0.75.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "plateau_iterations": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Stop training if no improvement in this many consecutive iterations (at least 1). Default: 10."
          }
        },
        "output_person_property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person property name for the prediction score, e.g. 'predicted_p_pageview'. Auto-derived from target_event if omitted. Letters, digits, and _ $ . - only, and it cannot start with $ (reserved for PostHog's own properties); must be unique among this project's non-archived pipelines."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.autoresearch#CreateAutoresearch": {
      "type": "operation",
      "input": {
        "target": "com.posthog.autoresearch#CreateAutoresearchRequest"
      },
      "output": {
        "target": "com.posthog.autoresearch#AutoresearchPipeline"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/autoresearch/",
          "code": 200
        },
        "smithy.api#documentation": "Manage autoresearch prediction pipelines.\n\nA pipeline defines a target event, population, and horizon. The autoresearch\ntraining loop finds the best predictive recipe; the inference workflow scores\nusers daily and emits autoresearch_prediction events."
      }
    },
    "com.posthog.autoresearch#ListAutoresearchModelsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.autoresearch#PaginatedAutoresearchModelList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.autoresearch#PaginatedAutoresearchModelListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.autoresearch#AutoresearchModel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique UUID of this model version.",
            "smithy.api#required": {}
          }
        },
        "pipeline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pipeline this model belongs to.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.posthog.autoresearch#AutoresearchModelRoleEnum",
          "traits": {
            "smithy.api#documentation": "Model role: 'champion' (active scoring model), 'challenger' (shadow model), or 'archived'.\n\n* `champion` - Champion\n* `challenger` - Challenger\n* `archived` - Archived"
          }
        },
        "recipe_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SHA-256 of the serialized recipe. Used to deduplicate identical recipes across runs.",
            "smithy.api#required": {}
          }
        },
        "model_recipe": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Portable recipe artifact. Feature SQL, transforms, model class, params, and metadata.",
            "smithy.api#required": {}
          }
        },
        "model_explanation": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Global feature importance and directionality. Used to explain top drivers on the model card.",
            "smithy.api#required": {}
          }
        },
        "holdout_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "AUC on the held-out test split at training time. Preliminary signal before online labels mature.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "realized_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Online AUC computed from actual realized outcomes. Authoritative once enough labels have matured.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "calibration_error": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Expected calibration error (ECE). Lower is better; well-calibrated models have ECE < 0.05.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metrics": {
          "target": "com.posthog.autoresearch#AutoresearchModelMetricsMap",
          "traits": {
            "smithy.api#documentation": "Extended metrics bundle: Brier score, precision/recall at thresholds, lift@k, base rate, row counts."
          }
        },
        "source_training_run": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Training run that produced this model. Read that run's artifact bundle to reuse the champion's train.py and features.sql as a starting point. Null for legacy models.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "agent_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The agent's own plain-English description of what this recipe does and why it was chosen."
          }
        },
        "trained_on_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of the training data window (inclusive).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "trained_on_end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of the training data window (exclusive).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_preliminary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if this model has not yet been validated against realized online outcomes."
          }
        },
        "promoted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when this model was promoted to champion.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "archived_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when this model was archived (superseded or retired).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "in_shadow_set": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if this model is in the pipeline's shadow set: the champion, the previous champion, and up to 3 recent fitted challengers with distinct recipes.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.autoresearch#AutoresearchModelRoleEnum": {
      "type": "enum",
      "members": {
        "CHAMPION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "champion"
          }
        },
        "CHALLENGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenger"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `champion` - Champion\n* `challenger` - Challenger\n* `archived` - Archived"
      }
    },
    "com.posthog.autoresearch#AutoresearchModelMetricsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Extended metrics bundle: Brier score, precision/recall at thresholds, lift@k, base rate, row counts."
      }
    },
    "com.posthog.autoresearch#PaginatedAutoresearchModelListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.autoresearch#AutoresearchModel"
      },
      "traits": {}
    },
    "com.posthog.autoresearch#ListAutoresearchModels": {
      "type": "operation",
      "input": {
        "target": "com.posthog.autoresearch#ListAutoresearchModelsRequest"
      },
      "output": {
        "target": "com.posthog.autoresearch#PaginatedAutoresearchModelList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/autoresearch/{pipeline_id}/models/",
          "code": 200
        },
        "smithy.api#documentation": "List and retrieve champion/challenger models for a pipeline.\n\nModels are the persisted artifacts produced by training runs. Each model\nholds a portable recipe (feature SQL, transforms, model class, params) that\nthe daily inference workflow compiles to score users."
      }
    },
    "com.posthog.autoresearch#GetAutoresearchModelRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this autoresearch model."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.autoresearch#GetAutoresearchModel": {
      "type": "operation",
      "input": {
        "target": "com.posthog.autoresearch#GetAutoresearchModelRequest"
      },
      "output": {
        "target": "com.posthog.autoresearch#AutoresearchModel"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/autoresearch/{pipeline_id}/models/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "List and retrieve champion/challenger models for a pipeline.\n\nModels are the persisted artifacts produced by training runs. Each model\nholds a portable recipe (feature SQL, transforms, model class, params) that\nthe daily inference workflow compiles to score users."
      }
    },
    "com.posthog.autoresearch#ListAutoresearchRunsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.autoresearch#PaginatedAutoresearchRunList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.autoresearch#PaginatedAutoresearchRunListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.autoresearch#AutoresearchRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique UUID of this run.",
            "smithy.api#required": {}
          }
        },
        "pipeline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pipeline this run belongs to.",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Model used for scoring. Null for validation runs.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "run_type": {
          "target": "com.posthog.autoresearch#AutoresearchRunRunTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of run: 'inference' (daily scoring) or 'validation' (outcome evaluation).\n\n* `inference` - Inference\n* `validation` - Validation",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.autoresearch#ZendeskImportJobStatusEnum",
          "traits": {
            "smithy.api#documentation": "Run status: pending, running, completed, or failed.\n\n* `pending` - Pending\n* `running` - Running\n* `completed` - Completed\n* `failed` - Failed"
          }
        },
        "rows_scored": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users scored in this inference run.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metrics": {
          "target": "com.posthog.autoresearch#AutoresearchRunMetricsMap",
          "traits": {
            "smithy.api#documentation": "Run metrics: score distribution summary, validation AUC, etc. An inference run records 'rows_eligible', the users in the inference population. When it is larger than rows_scored, the run scored a rolling part of the population: users never scored first, then users whose last score was oldest.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message if the run failed."
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the run started.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the run completed or failed.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.autoresearch#AutoresearchRunRunTypeEnum": {
      "type": "enum",
      "members": {
        "INFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inference"
          }
        },
        "VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "validation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `inference` - Inference\n* `validation` - Validation"
      }
    },
    "com.posthog.autoresearch#ZendeskImportJobStatusEnum": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `pending` - Pending\n* `running` - Running\n* `completed` - Completed\n* `failed` - Failed"
      }
    },
    "com.posthog.autoresearch#AutoresearchRunMetricsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Run metrics: score distribution summary, validation AUC, etc. An inference run records 'rows_eligible', the users in the inference population. When it is larger than rows_scored, the run scored a rolling part of the population: users never scored first, then users whose last score was oldest."
      }
    },
    "com.posthog.autoresearch#PaginatedAutoresearchRunListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.autoresearch#AutoresearchRun"
      },
      "traits": {}
    },
    "com.posthog.autoresearch#ListAutoresearchRuns": {
      "type": "operation",
      "input": {
        "target": "com.posthog.autoresearch#ListAutoresearchRunsRequest"
      },
      "output": {
        "target": "com.posthog.autoresearch#PaginatedAutoresearchRunList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/autoresearch/{pipeline_id}/runs/",
          "code": 200
        },
        "smithy.api#documentation": "List and retrieve inference and validation runs for a pipeline."
      }
    },
    "com.posthog.autoresearch#GetAutoresearchRunRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this autoresearch run."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.autoresearch#GetAutoresearchRun": {
      "type": "operation",
      "input": {
        "target": "com.posthog.autoresearch#GetAutoresearchRunRequest"
      },
      "output": {
        "target": "com.posthog.autoresearch#AutoresearchRun"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/autoresearch/{pipeline_id}/runs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "List and retrieve inference and validation runs for a pipeline."
      }
    },
    "com.posthog.autoresearch#ListAutoresearchSuggestionsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.autoresearch#PaginatedAutoresearchSuggestionList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.autoresearch#PaginatedAutoresearchSuggestionListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.autoresearch#AutoresearchSuggestion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique UUID of this suggestion.",
            "smithy.api#required": {}
          }
        },
        "pipeline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pipeline this suggestion targets.",
            "smithy.api#required": {}
          }
        },
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-text hypothesis or direction for the agent to explore.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "com.posthog.autoresearch#AutoresearchSuggestionPriorityEnum",
          "traits": {
            "smithy.api#documentation": "'try_next' instructs the agent to act on this before other iterations; 'consider' is advisory.\n\n* `try_next` - Try next\n* `consider` - Consider"
          }
        },
        "status": {
          "target": "com.posthog.autoresearch#AutoresearchSuggestionStatusEnum",
          "traits": {
            "smithy.api#documentation": "Lifecycle status: 'queued' (awaiting pickup), 'picked_up' (agent is applying as a constraint), 'acted_on' (agent spawned iterations), 'dismissed' (agent rejected with rationale).\n\n* `queued` - Queued\n* `picked_up` - Picked up\n* `acted_on` - Acted on\n* `dismissed` - Dismissed",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.posthog.autoresearch#AutoresearchSuggestionSourceEnum",
          "traits": {
            "smithy.api#documentation": "'user' for human-submitted suggestions; 'agent' for agent-generated hypotheses.\n\n* `user` - User\n* `agent` - Agent",
            "smithy.api#required": {}
          }
        },
        "agent_response": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Agent's note on how the suggestion was interpreted and acted upon. Populated after pickup.",
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.autoresearch#UserBasic",
          "traits": {
            "smithy.api#documentation": "The user who submitted it; null for an agent-authored suggestion.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "linked_iteration_ids": {
          "target": "com.posthog.autoresearch#AutoresearchSuggestionLinkedIterationIdsList",
          "traits": {
            "smithy.api#documentation": "UUIDs of iterations spawned from this suggestion.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.autoresearch#AutoresearchSuggestionPriorityEnum": {
      "type": "enum",
      "members": {
        "TRY_NEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "try_next"
          }
        },
        "CONSIDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "consider"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `try_next` - Try next\n* `consider` - Consider"
      }
    },
    "com.posthog.autoresearch#AutoresearchSuggestionStatusEnum": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "PICKED_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "picked_up"
          }
        },
        "ACTED_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acted_on"
          }
        },
        "DISMISSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dismissed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `queued` - Queued\n* `picked_up` - Picked up\n* `acted_on` - Acted on\n* `dismissed` - Dismissed"
      }
    },
    "com.posthog.autoresearch#AutoresearchSuggestionSourceEnum": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `user` - User\n* `agent` - Agent"
      }
    },
    "com.posthog.autoresearch#AutoresearchSuggestionLinkedIterationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "UUIDs of iterations spawned from this suggestion."
      }
    },
    "com.posthog.autoresearch#PaginatedAutoresearchSuggestionListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.autoresearch#AutoresearchSuggestion"
      },
      "traits": {}
    },
    "com.posthog.autoresearch#ListAutoresearchSuggestions": {
      "type": "operation",
      "input": {
        "target": "com.posthog.autoresearch#ListAutoresearchSuggestionsRequest"
      },
      "output": {
        "target": "com.posthog.autoresearch#PaginatedAutoresearchSuggestionList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/autoresearch/{pipeline_id}/suggestions/",
          "code": 200
        },
        "smithy.api#documentation": "List suggestions\n\nList steering suggestions for a pipeline, ordered most recent first. Check 'status' to see which have been picked up or acted on by the agent."
      }
    },
    "com.posthog.autoresearch#CreateSuggestionPriorityEnum": {
      "type": "enum",
      "members": {
        "TRY_NEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "try_next"
          }
        },
        "CONSIDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "consider"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `try_next` - try_next\n* `consider` - consider"
      }
    },
    "com.posthog.autoresearch#CreateAutoresearchSuggestionRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-text hypothesis or direction for the agent to explore, e.g. 'try a tree-based model' or 'remove recency features, I suspect leakage'.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "com.posthog.autoresearch#CreateSuggestionPriorityEnum",
          "traits": {
            "smithy.api#documentation": "'try_next' asks the agent to act on this before other autonomous iterations; 'consider' is advisory context.\n\n* `try_next` - try_next\n* `consider` - consider"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.autoresearch#CreateAutoresearchSuggestion": {
      "type": "operation",
      "input": {
        "target": "com.posthog.autoresearch#CreateAutoresearchSuggestionRequest"
      },
      "output": {
        "target": "com.posthog.autoresearch#AutoresearchSuggestion"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/autoresearch/{pipeline_id}/suggestions/",
          "code": 200
        },
        "smithy.api#documentation": "Submit a suggestion\n\nInject a free-text hypothesis or direction into a running pipeline. The sandbox agent reads queued suggestions at the start of each iteration batch and decides: translate into a concrete iteration ('acted_on'), apply as a search constraint ('picked_up'), or reject with rationale ('dismissed'). Use priority='try_next' to instruct the agent to act on this before autonomous iterations; 'consider' is advisory. Check 'agent_response' after the next training run to see how the suggestion was interpreted."
      }
    },
    "com.posthog.autoresearch#GetAutoresearchSuggestionRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this autoresearch suggestion."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.autoresearch#GetAutoresearchSuggestion": {
      "type": "operation",
      "input": {
        "target": "com.posthog.autoresearch#GetAutoresearchSuggestionRequest"
      },
      "output": {
        "target": "com.posthog.autoresearch#AutoresearchSuggestion"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/autoresearch/{pipeline_id}/suggestions/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Get suggestion\n\nGet details for a specific suggestion including its status and agent_response."
      }
    },
    "com.posthog.autoresearch#RespondToSuggestionStatusEnum": {
      "type": "enum",
      "members": {
        "PICKED_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "picked_up"
          }
        },
        "ACTED_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acted_on"
          }
        },
        "DISMISSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dismissed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `picked_up` - picked_up\n* `acted_on` - acted_on\n* `dismissed` - dismissed"
      }
    },
    "com.posthog.autoresearch#CreateAutoresearchSuggestionsRespondRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this autoresearch suggestion."
          }
        },
        "status": {
          "target": "com.posthog.autoresearch#RespondToSuggestionStatusEnum",
          "traits": {
            "smithy.api#documentation": "How the agent handled the suggestion: 'picked_up' (applied as a search constraint), 'acted_on' (spawned one or more iterations), or 'dismissed' (rejected — explain why in agent_response).\n\n* `picked_up` - picked_up\n* `acted_on` - acted_on\n* `dismissed` - dismissed",
            "smithy.api#required": {}
          }
        },
        "agent_response": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain-English note on how the suggestion was interpreted and acted upon. A dismissal needs a note, sent now or recorded earlier. Omit it to keep the note already recorded; send an empty string to clear it."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.autoresearch#CreateAutoresearchSuggestionsRespond": {
      "type": "operation",
      "input": {
        "target": "com.posthog.autoresearch#CreateAutoresearchSuggestionsRespondRequest"
      },
      "output": {
        "target": "com.posthog.autoresearch#AutoresearchSuggestion"
      },
      "errors": [
        {
          "target": "com.posthog.autoresearch#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/autoresearch/{pipeline_id}/suggestions/{id}/respond/",
          "code": 200
        },
        "smithy.api#documentation": "Respond to a suggestion\n\nRecord how the agent handled a steering suggestion: set status to 'picked_up' (applied as a search constraint), 'acted_on' (spawned iterations), or 'dismissed' (rejected — explain in agent_response), and write the agent_response note the human will read. Call this from the training loop after deciding what to do with a pending suggestion. Recording an iteration with parent_suggestion set already advances a suggestion to 'acted_on'; use this to add the narrative or to mark a suggestion picked_up/dismissed without spawning an iteration. A suggestion only moves forward (queued, picked_up, then acted_on or dismissed); the same status again updates the note."
      }
    },
    "com.posthog.autoresearch#ListAutoresearchTrainingRunsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.autoresearch#PaginatedAutoresearchTrainingRunList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.autoresearch#PaginatedAutoresearchTrainingRunListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.autoresearch#AutoresearchTrainingRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique UUID of this training run.",
            "smithy.api#required": {}
          }
        },
        "pipeline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pipeline this training run belongs to.",
            "smithy.api#required": {}
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent Task ID in the tasks sandbox. Null for stub runs.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "task_run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task sandbox run ID. Null for stub/synchronous training runs.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "task_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative URL to the underlying sandbox Task detail page. Null for stub/synchronous training runs.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.posthog.autoresearch#ZendeskImportJobStatusEnum",
          "traits": {
            "smithy.api#documentation": "Run status: pending, running, completed, or failed.\n\n* `pending` - Pending\n* `running` - Running\n* `completed` - Completed\n* `failed` - Failed",
            "smithy.api#required": {}
          }
        },
        "iteration_budget": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum iterations allowed for this run."
          }
        },
        "iteration_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of iterations completed.",
            "smithy.api#required": {}
          }
        },
        "best_holdout_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Best holdout AUC achieved across all iterations in this run.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "summary": {
          "target": "com.posthog.autoresearch#TrainingRunSummary",
          "traits": {
            "smithy.api#documentation": "Distilled cross-run learning summary written on completion. Null until the run completes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "iterations": {
          "target": "com.posthog.autoresearch#AutoresearchTrainingRunIterationsList",
          "traits": {
            "smithy.api#documentation": "Per-iteration breakdown — every recipe the agent tried this run, kept or discarded, with its model spec, holdout/train AUC, and one-line rationale. Ordered by iteration_number.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message if the run failed.",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the training run started.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the training run completed or failed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.autoresearch#TrainingRunSummary": {
      "type": "structure",
      "members": {
        "target_event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target event the run's pipeline predicts.",
            "smithy.api#required": {}
          }
        },
        "horizon_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Prediction horizon, in days.",
            "smithy.api#required": {}
          }
        },
        "best_holdout_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Best holdout AUC achieved in the run.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "champion_promoted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this run's best model was promoted to champion (vs kept as challenger).",
            "smithy.api#required": {}
          }
        },
        "champion_model_class": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Model class of the run's best model.",
            "smithy.api#required": {}
          }
        },
        "kept_ladder": {
          "target": "com.posthog.autoresearch#TrainingRunSummaryKeptLadderList",
          "traits": {
            "smithy.api#documentation": "Kept iterations, highest holdout AUC first — the winning approaches worth reusing.",
            "smithy.api#required": {}
          }
        },
        "dead_ends": {
          "target": "com.posthog.autoresearch#TrainingRunSummaryDeadEndsList",
          "traits": {
            "smithy.api#documentation": "Discarded or crashed iterations — approaches already tried that did not help; avoid repeating.",
            "smithy.api#required": {}
          }
        },
        "recommended_next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Agent's suggested next experiments for a future run. Empty if not provided.",
            "smithy.api#required": {}
          }
        },
        "distillation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Agent's 1–2 sentence distillation of what this run learned. Empty if not provided.",
            "smithy.api#required": {}
          }
        },
        "report_notebook_short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short id of the report notebook the agent built for this run. Empty if there is none."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tier-1 distilled summary of a completed run — the orientation memory a new run reads first."
      }
    },
    "com.posthog.autoresearch#TrainingRunSummaryLadderItem": {
      "type": "structure",
      "members": {
        "iteration_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Iteration index this entry refers to.",
            "smithy.api#required": {}
          }
        },
        "holdout_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Holdout AUC for this iteration.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "model_class": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Model class tried in this iteration.",
            "smithy.api#required": {}
          }
        },
        "agent_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The agent's rationale for this attempt.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One iteration referenced from a run summary's ladder or dead-ends list."
      }
    },
    "com.posthog.autoresearch#TrainingRunSummaryKeptLadderList": {
      "type": "list",
      "member": {
        "target": "com.posthog.autoresearch#TrainingRunSummaryLadderItem"
      },
      "traits": {
        "smithy.api#documentation": "Kept iterations, highest holdout AUC first — the winning approaches worth reusing."
      }
    },
    "com.posthog.autoresearch#TrainingRunSummaryDeadEndsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.autoresearch#TrainingRunSummaryLadderItem"
      },
      "traits": {
        "smithy.api#documentation": "Discarded or crashed iterations — approaches already tried that did not help; avoid repeating."
      }
    },
    "com.posthog.autoresearch#IterationTrail": {
      "type": "structure",
      "members": {
        "iteration_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Order of this attempt within its run (0-based).",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.autoresearch#AutoresearchIterationStatusEnum",
          "traits": {
            "smithy.api#documentation": "Whether this recipe was kept (improved the best score), discarded, or crashed.\n\n* `kept` - Kept\n* `discarded` - Discarded\n* `crashed` - Crashed",
            "smithy.api#required": {}
          }
        },
        "holdout_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Holdout AUC this iteration achieved. Null if it was skipped/degenerate.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "train_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Train-fold AUC for this iteration, if recorded.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "agent_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The agent's one-line rationale for what it tried and why."
          }
        },
        "model_spec": {
          "target": "com.posthog.autoresearch#IterationTrailModelSpec",
          "traits": {
            "smithy.api#documentation": "Model class and hyperparameters tried in this iteration.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Compact, read-only view of one iteration for the cross-run history feed and the Training tab."
      }
    },
    "com.posthog.autoresearch#AutoresearchIterationStatusEnum": {
      "type": "enum",
      "members": {
        "KEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kept"
          }
        },
        "DISCARDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discarded"
          }
        },
        "CRASHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crashed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `kept` - Kept\n* `discarded` - Discarded\n* `crashed` - Crashed"
      }
    },
    "com.posthog.autoresearch#IterationTrailModelSpecModelParamsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Keyword arguments for the estimator's constructor; null or absent means the defaults."
      }
    },
    "com.posthog.autoresearch#IterationTrailModelSpec": {
      "type": "structure",
      "members": {
        "model_class": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dotted path of the estimator class.",
            "smithy.api#required": {}
          }
        },
        "model_params": {
          "target": "com.posthog.autoresearch#IterationTrailModelSpecModelParamsMap",
          "traits": {
            "smithy.api#documentation": "Keyword arguments for the estimator's constructor; null or absent means the defaults.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Model class and hyperparameters tried in this iteration."
      }
    },
    "com.posthog.autoresearch#AutoresearchTrainingRunIterationsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.autoresearch#IterationTrail"
      },
      "traits": {
        "smithy.api#documentation": "Per-iteration breakdown — every recipe the agent tried this run, kept or discarded, with its model spec, holdout/train AUC, and one-line rationale. Ordered by iteration_number."
      }
    },
    "com.posthog.autoresearch#PaginatedAutoresearchTrainingRunListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.autoresearch#AutoresearchTrainingRun"
      },
      "traits": {}
    },
    "com.posthog.autoresearch#ListAutoresearchTrainingRuns": {
      "type": "operation",
      "input": {
        "target": "com.posthog.autoresearch#ListAutoresearchTrainingRunsRequest"
      },
      "output": {
        "target": "com.posthog.autoresearch#PaginatedAutoresearchTrainingRunList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/autoresearch/{pipeline_id}/training_runs/",
          "code": 200
        },
        "smithy.api#documentation": "List and retrieve training runs for a pipeline.\n\nA training run records the agent's search for a model: each iteration's recipe and holdout\nscore, and the summary of the run once it completes."
      }
    },
    "com.posthog.autoresearch#CreateAutoresearchTrainingRunRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "iteration_budget": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Iteration budget for this run. Defaults to the pipeline's iteration_budget if omitted."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.autoresearch#CreateAutoresearchTrainingRun": {
      "type": "operation",
      "input": {
        "target": "com.posthog.autoresearch#CreateAutoresearchTrainingRunRequest"
      },
      "output": {
        "target": "com.posthog.autoresearch#AutoresearchTrainingRun"
      },
      "errors": [
        {
          "target": "com.posthog.autoresearch#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/autoresearch/{pipeline_id}/training_runs/",
          "code": 200
        },
        "smithy.api#documentation": "Open a training run\n\nOpen a new training run for a pipeline and return its id. An agent — the in-house sandbox, an external bring-your-own agent, or a scheduled job — then records iterations against this run and finalizes it with the complete endpoint. The run starts in 'running'."
      }
    },
    "com.posthog.autoresearch#GetAutoresearchTrainingRunRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this autoresearch training run."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.autoresearch#GetAutoresearchTrainingRun": {
      "type": "operation",
      "input": {
        "target": "com.posthog.autoresearch#GetAutoresearchTrainingRunRequest"
      },
      "output": {
        "target": "com.posthog.autoresearch#AutoresearchTrainingRun"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/autoresearch/{pipeline_id}/training_runs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "List and retrieve training runs for a pipeline.\n\nA training run records the agent's search for a model: each iteration's recipe and holdout\nscore, and the summary of the run once it completes."
      }
    },
    "com.posthog.autoresearch#GetAutoresearchTrainingRunsArtifactRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this autoresearch training run."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.autoresearch#ArtifactList": {
      "type": "structure",
      "members": {
        "paths": {
          "target": "com.posthog.autoresearch#ArtifactListPathsList",
          "traits": {
            "smithy.api#documentation": "Relative paths of every file stored under this training run's bundle prefix.",
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of files in the bundle.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The relative paths present in a training run's bundle."
      }
    },
    "com.posthog.autoresearch#ArtifactListPathsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Relative paths of every file stored under this training run's bundle prefix."
      }
    },
    "com.posthog.autoresearch#GetAutoresearchTrainingRunsArtifact": {
      "type": "operation",
      "input": {
        "target": "com.posthog.autoresearch#GetAutoresearchTrainingRunsArtifactRequest"
      },
      "output": {
        "target": "com.posthog.autoresearch#ArtifactList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/autoresearch/{pipeline_id}/training_runs/{id}/artifacts/",
          "code": 200
        },
        "smithy.api#documentation": "List artifact bundle files\n\nList the files an agent has uploaded for this training run's artifact bundle (train.py, predict.py, features.sql, and any eda/ notebooks)."
      }
    },
    "com.posthog.autoresearch#AutoresearchTrainingRunsArtifactsDeleteCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this autoresearch training run."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path of the file within the bundle, e.g. 'train.py'.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.autoresearch#ArtifactDeleteResult": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path targeted for deletion.",
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if a file existed and was removed; False if nothing was there.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether a delete removed an existing file."
      }
    },
    "com.posthog.autoresearch#AutoresearchTrainingRunsArtifactsDeleteCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.autoresearch#AutoresearchTrainingRunsArtifactsDeleteCreateRequest"
      },
      "output": {
        "target": "com.posthog.autoresearch#ArtifactDeleteResult"
      },
      "errors": [
        {
          "target": "com.posthog.autoresearch#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/autoresearch/{pipeline_id}/training_runs/{id}/artifacts/delete/",
          "code": 200
        },
        "smithy.api#documentation": "Delete an artifact bundle file\n\nRemove one file from this training run's artifact bundle. Idempotent — deleting a missing file is a no-op. The bundle is frozen once the run completes or fails."
      }
    },
    "com.posthog.autoresearch#AutoresearchTrainingRunsArtifactsGetCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this autoresearch training run."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path of the file within the bundle, e.g. 'train.py'.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.autoresearch#ArtifactContent": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path of the file within the bundle.",
            "smithy.api#required": {}
          }
        },
        "size_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "File size in bytes.",
            "smithy.api#required": {}
          }
        },
        "sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SHA-256 hex digest of the file content.",
            "smithy.api#required": {}
          }
        },
        "content_base64": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File contents, base64-encoded.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single bundle file's content, base64-encoded."
      }
    },
    "com.posthog.autoresearch#AutoresearchTrainingRunsArtifactsGetCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.autoresearch#AutoresearchTrainingRunsArtifactsGetCreateRequest"
      },
      "output": {
        "target": "com.posthog.autoresearch#ArtifactContent"
      },
      "errors": [
        {
          "target": "com.posthog.autoresearch#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/autoresearch/{pipeline_id}/training_runs/{id}/artifacts/get/",
          "code": 200
        },
        "smithy.api#documentation": "Get an artifact bundle file\n\nFetch one file from this training run's artifact bundle, base64-encoded."
      }
    },
    "com.posthog.autoresearch#AutoresearchTrainingRunsArtifactsUploadCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this autoresearch training run."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path within the bundle, e.g. 'train.py', 'predict.py', 'features.sql', or 'eda/iter-3-gbm.ipynb'. Segments are limited to [A-Za-z0-9_.-]; absolute paths and '..' traversal are rejected.",
            "smithy.api#required": {}
          }
        },
        "content_base64": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File contents, base64-encoded. Decoded server-side and written to object storage. Max 10 MB decoded.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.autoresearch#StoredArtifact": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path the file was stored at.",
            "smithy.api#required": {}
          }
        },
        "size_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Decoded file size in bytes.",
            "smithy.api#required": {}
          }
        },
        "sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SHA-256 hex digest of the decoded file content.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of an upload: where the file landed and its content hash."
      }
    },
    "com.posthog.autoresearch#AutoresearchTrainingRunsArtifactsUploadCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.autoresearch#AutoresearchTrainingRunsArtifactsUploadCreateRequest"
      },
      "output": {
        "target": "com.posthog.autoresearch#StoredArtifact"
      },
      "errors": [
        {
          "target": "com.posthog.autoresearch#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/autoresearch/{pipeline_id}/training_runs/{id}/artifacts/upload/",
          "code": 200
        },
        "smithy.api#documentation": "Upload an artifact bundle file\n\nUpload one file of this training run's artifact bundle. Send the file contents base64-encoded in content_base64. Re-uploading the same path overwrites it. Use this — not curl/set_output — to author train.py, predict.py, and features.sql. The bundle is frozen once the run completes or fails."
      }
    },
    "com.posthog.autoresearch#CreateAutoresearchTrainingRunsCompleteRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this autoresearch training run."
          }
        },
        "best_iteration_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Advisory nomination. The server promotes the kept iteration with the highest holdout_score; this id only breaks a tie at that score, and a lower-scoring nomination is logged and ignored.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "model_explanation": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Global feature importance / directionality bundle for the champion model card."
          }
        },
        "recommended_next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What a future run should try next, given what this run learned. Stored in the run summary so the next run reads it during orientation. Keep it short and concrete; max 2000 characters."
          }
        },
        "distillation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 1–2 sentence distillation of what this run learned — the winning signal, the key transform, the dead-ends. Stored in the run summary as the cheapest thing the next run reads. Max 2000 characters."
          }
        },
        "report_notebook_short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short id of the report notebook you built for this run. Stored in the run summary only if the notebook exists in this project; an unknown id is dropped and does not fail the completion."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.autoresearch#CreateAutoresearchTrainingRunsComplete": {
      "type": "operation",
      "input": {
        "target": "com.posthog.autoresearch#CreateAutoresearchTrainingRunsCompleteRequest"
      },
      "output": {
        "target": "com.posthog.autoresearch#AutoresearchTrainingRun"
      },
      "errors": [
        {
          "target": "com.posthog.autoresearch#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/autoresearch/{pipeline_id}/training_runs/{id}/complete/",
          "code": 200
        },
        "smithy.api#documentation": "Complete a training run\n\nFinalize a training run. The backend selects the kept iteration with the highest holdout score, decides champion vs challenger via the promotion ladder, and persists the model. best_iteration_id is advisory: it breaks a tie at the top score and is otherwise logged and ignored. Agents cannot set the champion directly, because promotion is server-side."
      }
    },
    "com.posthog.autoresearch#CreateAutoresearchTrainingRunsIterationRequestRecipeSnapshotFeatureTransformsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Transforms the bundle applies to the feature columns; null or absent means none, and the in-process path accepts none."
      }
    },
    "com.posthog.autoresearch#CreateAutoresearchTrainingRunsIterationRequestRecipeSnapshot": {
      "type": "structure",
      "members": {
        "feature_sql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A read-only HogQL SELECT from {anchors}, one row per person, keyed on person_id.",
            "smithy.api#required": {}
          }
        },
        "feature_transforms": {
          "target": "com.posthog.autoresearch#CreateAutoresearchTrainingRunsIterationRequestRecipeSnapshotFeatureTransformsList",
          "traits": {
            "smithy.api#documentation": "Transforms the bundle applies to the feature columns; null or absent means none, and the in-process path accepts none.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Compact recipe for this iteration: feature_sql (HogQL SELECT keyed on person_id) and transforms."
      }
    },
    "com.posthog.autoresearch#CreateAutoresearchTrainingRunsIterationRequestModelSpecModelParamsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Keyword arguments for the estimator's constructor; null or absent means the defaults."
      }
    },
    "com.posthog.autoresearch#CreateAutoresearchTrainingRunsIterationRequestModelSpec": {
      "type": "structure",
      "members": {
        "model_class": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dotted path of the estimator class.",
            "smithy.api#required": {}
          }
        },
        "model_params": {
          "target": "com.posthog.autoresearch#CreateAutoresearchTrainingRunsIterationRequestModelSpecModelParamsMap",
          "traits": {
            "smithy.api#documentation": "Keyword arguments for the estimator's constructor; null or absent means the defaults.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
[...]
