{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.calendar_sync#ListCalendarSyncRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.calendar_sync#CalendarSyncStatus": {
      "type": "structure",
      "members": {
        "integration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of the google-calendar integration.",
            "smithy.api#required": {}
          }
        },
        "last_synced_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the last sync run completed; null before the first sync.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_syncing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a sync run is currently in flight.",
            "smithy.api#required": {}
          }
        },
        "sync_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes between scheduled syncs.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sync state of one connected calendar (read-only)."
      }
    },
    "com.posthog.calendar_sync#ListCalendarSyncResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.calendar_sync#CalendarSyncStatus"
      },
      "traits": {}
    },
    "com.posthog.calendar_sync#ListCalendarSyncResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.calendar_sync#ListCalendarSyncResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.calendar_sync#ListCalendarSync": {
      "type": "operation",
      "input": {
        "target": "com.posthog.calendar_sync#ListCalendarSyncRequest"
      },
      "output": {
        "target": "com.posthog.calendar_sync#ListCalendarSyncResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/calendar_sync/",
          "code": 200
        },
        "smithy.api#documentation": "Calendar-sync controls for Customer analytics settings. Sync runs on an hourly\nTemporal schedule; this surface only offers the manual \"sync now\" escape hatch."
      }
    },
    "com.posthog.calendar_sync#CreateCalendarSyncBackfillRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "integration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of the Google account integration to backfill.",
            "smithy.api#required": {}
          }
        },
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First UTC date to include. Must be within the last 365 days.",
            "smithy.api#required": {}
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Final UTC date to include. Cannot be after today.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.calendar_sync#CalendarSyncTriggerResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.posthog.calendar_sync#CalendarSyncTriggerResponseStatusEnum",
          "traits": {
            "smithy.api#documentation": "'started' (a sync run began) or 'already_running' (a sync for this calendar was already in flight, so this was a no-op).\n\n* `started` - started\n* `already_running` - already_running",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the calendar sync-now trigger."
      }
    },
    "com.posthog.calendar_sync#CalendarSyncTriggerResponseStatusEnum": {
      "type": "enum",
      "members": {
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started"
          }
        },
        "ALREADY_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "already_running"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `started` - started\n* `already_running` - already_running"
      }
    },
    "com.posthog.calendar_sync#CreateCalendarSyncBackfill": {
      "type": "operation",
      "input": {
        "target": "com.posthog.calendar_sync#CreateCalendarSyncBackfillRequest"
      },
      "output": {
        "target": "com.posthog.calendar_sync#CalendarSyncTriggerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/calendar_sync/backfill/",
          "code": 200
        },
        "smithy.api#documentation": "Backfill a connected Google account\n\nStart an admin-only Gmail and Google Calendar backfill for an inclusive UTC date range."
      }
    },
    "com.posthog.calendar_sync#CreateCalendarSyncIntervalRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "integration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of the connected Google account.",
            "smithy.api#required": {}
          }
        },
        "sync_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes between scheduled syncs: 5, 15, 30, or 60.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.calendar_sync#CalendarSyncInterval": {
      "type": "structure",
      "members": {
        "integration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of the connected Google account.",
            "smithy.api#required": {}
          }
        },
        "sync_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes between scheduled syncs: 5, 15, 30, or 60.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.calendar_sync#CreateCalendarSyncInterval": {
      "type": "operation",
      "input": {
        "target": "com.posthog.calendar_sync#CreateCalendarSyncIntervalRequest"
      },
      "output": {
        "target": "com.posthog.calendar_sync#CalendarSyncInterval"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/calendar_sync/interval/",
          "code": 200
        },
        "smithy.api#documentation": "Set Google account sync interval\n\nCalendar-sync controls for Customer analytics settings. Sync runs on an hourly\nTemporal schedule; this surface only offers the manual \"sync now\" escape hatch."
      }
    },
    "com.posthog.calendar_sync#CreateCalendarSyncSyncNowRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "integration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of the google-calendar integration to sync.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.calendar_sync#CreateCalendarSyncSyncNow": {
      "type": "operation",
      "input": {
        "target": "com.posthog.calendar_sync#CreateCalendarSyncSyncNowRequest"
      },
      "output": {
        "target": "com.posthog.calendar_sync#CalendarSyncTriggerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/calendar_sync/sync_now/",
          "code": 200
        },
        "smithy.api#documentation": "Sync a connected calendar now\n\nStart a sync run for one connected Google Calendar immediately, outside the hourly schedule."
      }
    },
    "com.posthog.calendar_sync#CalendarSync": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.calendar_sync#ListCalendarSync"
        },
        {
          "target": "com.posthog.calendar_sync#CreateCalendarSyncBackfill"
        },
        {
          "target": "com.posthog.calendar_sync#CreateCalendarSyncInterval"
        },
        {
          "target": "com.posthog.calendar_sync#CreateCalendarSyncSyncNow"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
