{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.context_layer#GetContextLayerChannelPageRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#ChannelWikiPage": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repo-relative path of the wiki page whose frontmatter names the channel.",
            "smithy.api#required": {}
          }
        },
        "exists": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a page exists at this path. False when the path is a proposal for a channel whose page has not been created yet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for a channel's page identity in the wiki."
      }
    },
    "com.posthog.context_layer#GetContextLayerChannelPage": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#GetContextLayerChannelPageRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#ChannelWikiPage"
      },
      "errors": [
        {
          "target": "com.posthog.context_layer#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/context_layer/channel-pages/{channel_id}/",
          "code": 200
        },
        "smithy.api#documentation": "Resolve a channel's wiki page\n\nThe organization's context wiki: a git repo of Markdown pages hosted by PostHog."
      }
    },
    "com.posthog.context_layer#CreateContextLayerCommitRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "bundle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A `git bundle` carrying the ref to land, created in the agent's clone (for example `git bundle create out.bundle origin/main..main`).",
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional run summary stored in the landed commit body."
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Land a dated dreaming branch (`dream/<YYYY-MM-DD>`) as one merge commit instead of rebasing onto `main`. Omit for ordinary commits on `main`.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#ContextLayerStatus": {
      "type": "structure",
      "members": {
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commit sha of the wiki's current head.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for the wiki's current state."
      }
    },
    "com.posthog.context_layer#CreateContextLayerCommit": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#CreateContextLayerCommitRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#ContextLayerStatus"
      },
      "errors": [
        {
          "target": "com.posthog.context_layer#BadRequest"
        },
        {
          "target": "com.posthog.context_layer#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{organization_id}/context_layer/commits/",
          "code": 200,
          "contentType": "form-urlencoded"
        },
        "smithy.api#documentation": "Land agent commits from a git bundle\n\nThe organization's context wiki: a git repo of Markdown pages hosted by PostHog.",
        "com.distilled.openapi#contentType": "form-urlencoded"
      }
    },
    "com.posthog.context_layer#ListContextLayerDreamsRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#DreamRunList": {
      "type": "structure",
      "members": {
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commit sha of the wiki's current head.",
            "smithy.api#required": {}
          }
        },
        "active_run": {
          "target": "com.posthog.context_layer#ActiveDreamRun",
          "traits": {
            "smithy.api#documentation": "The organization's active dreaming task, or null when no dream is running.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "unpublished_run": {
          "target": "com.posthog.context_layer#UnpublishedDreamRun",
          "traits": {
            "smithy.api#documentation": "The latest finished dream when no update was published after it started, or null otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dreams": {
          "target": "com.posthog.context_layer#DreamRunListDreamsList",
          "traits": {
            "smithy.api#documentation": "Every landed dream run, newest first.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for the wiki's dream run listing."
      }
    },
    "com.posthog.context_layer#ActiveDreamRun": {
      "type": "structure",
      "members": {
        "run_status": {
          "target": "com.posthog.context_layer#ActiveDreamRunRunStatusEnum",
          "traits": {
            "smithy.api#documentation": "The current task-run state for the active dream.\n\n* `not_started` - not_started\n* `queued` - queued\n* `in_progress` - in_progress",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the active dream task was created.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A dreaming task that has not reached a terminal state yet."
      }
    },
    "com.posthog.context_layer#ActiveDreamRunRunStatusEnum": {
      "type": "enum",
      "members": {
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_started"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `not_started` - not_started\n* `queued` - queued\n* `in_progress` - in_progress"
      }
    },
    "com.posthog.context_layer#UnpublishedDreamRun": {
      "type": "structure",
      "members": {
        "task_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task URL in its project for the unpublished dream outcome and logs.",
            "smithy.api#required": {}
          }
        },
        "run_status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The terminal task-run state, such as completed, failed, or cancelled.",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the unpublished dream task was created.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.context_layer#DreamRun": {
      "type": "structure",
      "members": {
        "sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Merge commit sha the run landed as; pass back as `sha` on the detail read.",
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The run's date, `YYYY-MM-DD`.",
            "smithy.api#required": {}
          }
        },
        "committed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the run landed.",
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The run summary the dreaming agent wrote.",
            "smithy.api#required": {}
          }
        },
        "pages_added": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pages the run created.",
            "smithy.api#required": {}
          }
        },
        "pages_modified": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pages the run edited.",
            "smithy.api#required": {}
          }
        },
        "pages_deleted": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pages the run removed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One dreaming run: the merge commit it landed as, plus what it changed."
      }
    },
    "com.posthog.context_layer#DreamRunListDreamsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.context_layer#DreamRun"
      },
      "traits": {
        "smithy.api#documentation": "Every landed dream run, newest first."
      }
    },
    "com.posthog.context_layer#ListContextLayerDreams": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#ListContextLayerDreamsRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#DreamRunList"
      },
      "errors": [
        {
          "target": "com.posthog.context_layer#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/context_layer/dreams/",
          "code": 200
        },
        "smithy.api#documentation": "List dream runs\n\nThe active dreaming task, when present, plus every landed run newest first. A landed run is one merge commit `dream: <date>` whose body is the summary; its changes are on the detail read."
      }
    },
    "com.posthog.context_layer#GetContextLayerDreamRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#DreamRunDetail": {
      "type": "structure",
      "members": {
        "run": {
          "target": "com.posthog.context_layer#DreamRun",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "files": {
          "target": "com.posthog.context_layer#DreamRunDetailFilesList",
          "traits": {
            "smithy.api#documentation": "Per-file patches, in diff order.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for one dream run: the run plus the diff it landed."
      }
    },
    "com.posthog.context_layer#DreamFileDiff": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repo-relative path of the changed page.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.context_layer#DreamFileDiffStatusEnum",
          "traits": {
            "smithy.api#documentation": "How the run changed the page.\n\n* `added` - added\n* `modified` - modified\n* `deleted` - deleted",
            "smithy.api#required": {}
          }
        },
        "patch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unified git patch for this file.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the patch was cut off for size.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One file a dream run changed, with its unified patch."
      }
    },
    "com.posthog.context_layer#DreamFileDiffStatusEnum": {
      "type": "enum",
      "members": {
        "ADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "added"
          }
        },
        "MODIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "modified"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `added` - added\n* `modified` - modified\n* `deleted` - deleted"
      }
    },
    "com.posthog.context_layer#DreamRunDetailFilesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.context_layer#DreamFileDiff"
      },
      "traits": {
        "smithy.api#documentation": "Per-file patches, in diff order."
      }
    },
    "com.posthog.context_layer#GetContextLayerDream": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#GetContextLayerDreamRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#DreamRunDetail"
      },
      "errors": [
        {
          "target": "com.posthog.context_layer#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/context_layer/dreams/{sha}/",
          "code": 200
        },
        "smithy.api#documentation": "Read one dream run\n\nOne dreaming run with the per-file unified patches it landed."
      }
    },
    "com.posthog.context_layer#ContextLayerEnableCreateRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#ContextLayerEnableCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#ContextLayerEnableCreateRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#ContextLayerStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{organization_id}/context_layer/enable/",
          "code": 200
        },
        "smithy.api#documentation": "Enable the context layer\n\nCreate the organization's wiki with the default structure and import existing channel CONTEXT.md documents once. Idempotent."
      }
    },
    "com.posthog.context_layer#ContextLayerExportRetrieveRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#WikiExport": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short-lived download URL for the wiki's current bundle.",
            "smithy.api#required": {}
          }
        },
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commit sha of the bundle behind the URL.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for a wiki bundle export."
      }
    },
    "com.posthog.context_layer#ContextLayerExportRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#ContextLayerExportRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#WikiExport"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/context_layer/export/",
          "code": 200
        },
        "smithy.api#documentation": "Export the wiki\n\nA short-lived download URL for the wiki's current bundle: the whole repo and its history, one file, standard git."
      }
    },
    "com.posthog.context_layer#GetContextLayerPageRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "head_sha",
            "smithy.api#documentation": "Head from the first chunk. Required for continuation. A changed head returns 409."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum characters to read. Omit for the full page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "Character offset from next_offset."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "Repo-relative Markdown path of the page to read."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#WikiPage": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repo-relative path of the page, for example `areas/analytics.md`.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page's Markdown content.",
            "smithy.api#required": {}
          }
        },
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commit sha the content was read at; pass back as `base_head` on writes.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this page was last changed in the wiki history.",
            "smithy.api#required": {}
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Character offset of this chunk.",
            "smithy.api#required": {}
          }
        },
        "total_length": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Character length of the complete page.",
            "smithy.api#required": {}
          }
        },
        "next_offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Next character offset, or null when complete.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "complete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when no further chunks remain. Do not write a page until all chunks are read.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for one wiki page."
      }
    },
    "com.posthog.context_layer#GetContextLayerPage": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#GetContextLayerPageRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#WikiPage"
      },
      "errors": [
        {
          "target": "com.posthog.context_layer#BadRequest"
        },
        {
          "target": "com.posthog.context_layer#NotFound"
        },
        {
          "target": "com.posthog.context_layer#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/context_layer/pages/",
          "code": 200
        },
        "smithy.api#documentation": "Read a wiki page\n\nThe organization's context wiki: a git repo of Markdown pages hosted by PostHog."
      }
    },
    "com.posthog.context_layer#UpdateContextLayerPageRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repo-relative Markdown path inside the wiki's structure, for example `projects/12/spaces/general.md`.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The complete Markdown content for the page.",
            "smithy.api#required": {}
          }
        },
        "base_head": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optimistic-concurrency guard: the head sha the edit is based on. A moved head is rejected with 409 and the current head; omit to write unguarded.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#UpdateContextLayerPage": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#UpdateContextLayerPageRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#ContextLayerStatus"
      },
      "errors": [
        {
          "target": "com.posthog.context_layer#BadRequest"
        },
        {
          "target": "com.posthog.context_layer#Forbidden"
        },
        {
          "target": "com.posthog.context_layer#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/organizations/{organization_id}/context_layer/pages/",
          "code": 200
        },
        "smithy.api#documentation": "Create or replace a wiki page\n\nThe organization's context wiki: a git repo of Markdown pages hosted by PostHog."
      }
    },
    "com.posthog.context_layer#ListContextLayerProposalsRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#PaginatedWikiPageProposalList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.context_layer#PaginatedWikiPageProposalListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.context_layer#WikiPageProposal": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable suggested edit ID. Only its author can apply it through the user API.",
            "smithy.api#required": {}
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task that proposed the edit.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shared wiki page to review.",
            "smithy.api#required": {}
          }
        },
        "original_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page content at the revision the proposal is based on.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Proposed page content. This is not published wiki content.",
            "smithy.api#required": {}
          }
        },
        "base_head": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Wiki revision the proposal is based on.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the edit was proposed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.context_layer#PaginatedWikiPageProposalListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.context_layer#WikiPageProposal"
      },
      "traits": {}
    },
    "com.posthog.context_layer#ListContextLayerProposals": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#ListContextLayerProposalsRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#PaginatedWikiPageProposalList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/context_layer/proposals/",
          "code": 200
        },
        "smithy.api#documentation": "List your pending wiki edits\n\nThe organization's context wiki: a git repo of Markdown pages hosted by PostHog."
      }
    },
    "com.posthog.context_layer#ContextLayerProposalsApplyCreateRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "proposal_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#ContextLayerProposalsApplyCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#ContextLayerProposalsApplyCreateRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#ContextLayerStatus"
      },
      "errors": [
        {
          "target": "com.posthog.context_layer#BadRequest"
        },
        {
          "target": "com.posthog.context_layer#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{organization_id}/context_layer/proposals/{proposal_id}/apply/",
          "code": 200
        },
        "smithy.api#documentation": "Apply a reviewed wiki edit\n\nThe organization's context wiki: a git repo of Markdown pages hosted by PostHog."
      }
    },
    "com.posthog.context_layer#GetContextLayerStatusRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#GetContextLayerStatus": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#GetContextLayerStatusRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#ContextLayerStatus"
      },
      "errors": [
        {
          "target": "com.posthog.context_layer#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/context_layer/status/",
          "code": 200
        },
        "smithy.api#documentation": "Get the wiki head\n\nThe organization's context wiki: a git repo of Markdown pages hosted by PostHog."
      }
    },
    "com.posthog.context_layer#GetContextLayerTreeRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#WikiTree": {
      "type": "structure",
      "members": {
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commit sha of the wiki's current head.",
            "smithy.api#required": {}
          }
        },
        "paths": {
          "target": "com.posthog.context_layer#WikiTreePathsList",
          "traits": {
            "smithy.api#documentation": "Repo-relative path of every Markdown page at the current head.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for the wiki's page listing."
      }
    },
    "com.posthog.context_layer#WikiTreePathsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Repo-relative path of every Markdown page at the current head."
      }
    },
    "com.posthog.context_layer#GetContextLayerTree": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#GetContextLayerTreeRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#WikiTree"
      },
      "errors": [
        {
          "target": "com.posthog.context_layer#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/context_layer/tree/",
          "code": 200
        },
        "smithy.api#documentation": "List wiki pages\n\nThe organization's context wiki: a git repo of Markdown pages hosted by PostHog."
      }
    },
    "com.posthog.context_layer#GetContextLayerWikiReportRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#WikiHealthReport": {
      "type": "structure",
      "members": {
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commit sha inspected by the report.",
            "smithy.api#required": {}
          }
        },
        "findings": {
          "target": "com.posthog.context_layer#WikiHealthReportFindingsList",
          "traits": {
            "smithy.api#documentation": "Health findings for the current wiki head.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.context_layer#WikiHealthFinding": {
      "type": "structure",
      "members": {
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable category used to group this finding.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Wiki page path associated with this finding.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of the finding.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.context_layer#WikiHealthReportFindingsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.context_layer#WikiHealthFinding"
      },
      "traits": {
        "smithy.api#documentation": "Health findings for the current wiki head."
      }
    },
    "com.posthog.context_layer#GetContextLayerWikiReport": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#GetContextLayerWikiReportRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#WikiHealthReport"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/context_layer/wiki/report/",
          "code": 200
        },
        "smithy.api#documentation": "Report wiki health findings\n\nThe organization's context wiki: a git repo of Markdown pages hosted by PostHog."
      }
    },
    "com.posthog.context_layer#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.posthog.context_layer#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.posthog.context_layer#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.posthog.context_layer#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.posthog.context_layer#ContextLayer": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.context_layer#GetContextLayerChannelPage"
        },
        {
          "target": "com.posthog.context_layer#CreateContextLayerCommit"
        },
        {
          "target": "com.posthog.context_layer#ListContextLayerDreams"
        },
        {
          "target": "com.posthog.context_layer#GetContextLayerDream"
        },
        {
          "target": "com.posthog.context_layer#ContextLayerEnableCreate"
        },
        {
          "target": "com.posthog.context_layer#ContextLayerExportRetrieve"
        },
        {
          "target": "com.posthog.context_layer#GetContextLayerPage"
        },
        {
          "target": "com.posthog.context_layer#UpdateContextLayerPage"
        },
        {
          "target": "com.posthog.context_layer#ListContextLayerProposals"
        },
        {
          "target": "com.posthog.context_layer#ContextLayerProposalsApplyCreate"
        },
        {
          "target": "com.posthog.context_layer#GetContextLayerStatus"
        },
        {
          "target": "com.posthog.context_layer#GetContextLayerTree"
        },
        {
          "target": "com.posthog.context_layer#GetContextLayerWikiReport"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
