{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.conversations#ListConversationsAiContextAccountPropertiesRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#AIContextAccountProperty": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer analytics account property definition id.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the account property.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#ListConversationsAiContextAccountPropertiesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.conversations#AIContextAccountProperty"
      },
      "traits": {}
    },
    "com.posthog.conversations#ListConversationsAiContextAccountPropertiesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.conversations#ListConversationsAiContextAccountPropertiesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.conversations#ListConversationsAiContextAccountProperties": {
      "type": "operation",
      "input": {
        "target": "com.posthog.conversations#ListConversationsAiContextAccountPropertiesRequest"
      },
      "output": {
        "target": "com.posthog.conversations#ListConversationsAiContextAccountPropertiesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/conversations/ai_context_account_properties/",
          "code": 200
        },
        "smithy.api#documentation": "Account-target Customer analytics properties that can be included in AI reply context. Capped at the first 500 properties by name."
      }
    },
    "com.posthog.conversations#GetConversationsAiReplyPlaybookRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#AIReplyPlaybook": {
      "type": "structure",
      "members": {
        "inherited_instructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repo default instructions, plus the PostHog overlay when docs_source is posthog.",
            "smithy.api#required": {}
          }
        },
        "custom_instructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Team addendum on top of the inherited playbook. Null means the team inherits the default instructions.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_customized": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when a non-empty custom addendum is saved for this team.",
            "smithy.api#required": {}
          }
        },
        "default_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version of the generic default playbook layer currently in the repo.",
            "smithy.api#required": {}
          }
        },
        "posthog_overlay_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version of the PostHog overlay when docs_source is posthog; null otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "docs_source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Documentation source for this team. 'posthog' enables PostHog docs-search and the PostHog overlay.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "max_chars": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum character length for ai_reply_custom_instructions.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#GetConversationsAiReplyPlaybook": {
      "type": "operation",
      "input": {
        "target": "com.posthog.conversations#GetConversationsAiReplyPlaybookRequest"
      },
      "output": {
        "target": "com.posthog.conversations#AIReplyPlaybook"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/conversations/ai_reply_playbook/",
          "code": 200
        },
        "smithy.api#documentation": "Inherited support-reply playbook for this project, plus the team's custom addendum if any."
      }
    },
    "com.posthog.conversations#ListConversationsTicketsRequestChannelDetail": {
      "type": "enum",
      "members": {
        "GITHUB_ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github_issue"
          }
        },
        "SLACK_BOT_MENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack_bot_mention"
          }
        },
        "SLACK_CHANNEL_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack_channel_message"
          }
        },
        "SLACK_EMOJI_REACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack_emoji_reaction"
          }
        },
        "TEAMS_BOT_MENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teams_bot_mention"
          }
        },
        "TEAMS_CHANNEL_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teams_channel_message"
          }
        },
        "WIDGET_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "widget_api"
          }
        },
        "WIDGET_EMBEDDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "widget_embedded"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#ListConversationsTicketsRequestChannelSource": {
      "type": "enum",
      "members": {
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        },
        "TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teams"
          }
        },
        "WIDGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "widget"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#ListConversationsTicketsRequestOrderBy": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-created_at"
          }
        },
        "SLA_DUE_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-sla_due_at"
          }
        },
        "TICKET_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-ticket_number"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-updated_at"
          }
        },
        "CREATED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "SLA_DUE_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sla_due_at"
          }
        },
        "TICKET_NUMBER_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ticket_number"
          }
        },
        "UPDATED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#ListConversationsTicketsRequestSla": {
      "type": "enum",
      "members": {
        "AT_RISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "at-risk"
          }
        },
        "BREACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "breached"
          }
        },
        "ON_TRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on-track"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#ListConversationsTicketsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "ai_triage_result": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ai_triage_result",
            "smithy.api#documentation": "Filter by AI triage outcome. Accepts a single value or a comma-separated list. Valid values: `persisted`, `suggested`, `escalated_with_findings`, `escalated_with_best`, `escalated_no_reply`, `skipped_unactionable`, `blocked_unsafe`, `blocked_unsafe_reply`, `clarified`, `suggested_clarification`, `in_progress`."
          }
        },
        "assignee": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "assignee",
            "smithy.api#documentation": "Filter by assignee. Accepts a single value or a comma-separated list (matches any, max 100 entries). Each entry is `unassigned` (no assignee), `me` (the requesting user), `user:<user_id>`, or `role:<role_uuid>`, e.g. `assignee=unassigned,user:123`."
          }
        },
        "channel_detail": {
          "target": "com.posthog.conversations#ListConversationsTicketsRequestChannelDetail",
          "traits": {
            "smithy.api#httpQuery": "channel_detail",
            "smithy.api#documentation": "Filter by the channel sub-type (e.g. `widget_embedded`, `slack_bot_mention`)."
          }
        },
        "channel_source": {
          "target": "com.posthog.conversations#ListConversationsTicketsRequestChannelSource",
          "traits": {
            "smithy.api#httpQuery": "channel_source",
            "smithy.api#documentation": "Filter by the channel the ticket originated from."
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_from",
            "smithy.api#documentation": "Only include tickets updated on or after this date. Accepts absolute dates (`2026-01-01`) or relative ones (`-7d`, `-1mStart`). Pass `all` to disable the filter."
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_to",
            "smithy.api#documentation": "Only include tickets updated on or before this date. Same format as `date_from`."
          }
        },
        "distinct_ids": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "distinct_ids",
            "smithy.api#documentation": "Comma-separated list of person `distinct_id`s to filter by (max 100)."
          }
        },
        "emails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "emails",
            "smithy.api#documentation": "Comma-separated list of email addresses to filter by, matched case-insensitively against `email_from` (max 100). When combined with `distinct_ids`, tickets matching either the distinct_ids or the emails are returned (OR)."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "order_by": {
          "target": "com.posthog.conversations#ListConversationsTicketsRequestOrderBy",
          "traits": {
            "smithy.api#httpQuery": "order_by",
            "smithy.api#documentation": "Sort order. Prefix with `-` for descending. Defaults to `-updated_at`."
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "priority",
            "smithy.api#documentation": "Filter by priority. Accepts a single value or a comma-separated list (e.g. `medium,high`). Valid values: `low`, `medium`, `high`, `critical`."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Free-text search. A numeric value (optionally prefixed with `#`) matches a ticket number exactly; otherwise matches against the customer's name or email, the email subject, or message content (case-insensitive, partial match)."
          }
        },
        "sla": {
          "target": "com.posthog.conversations#ListConversationsTicketsRequestSla",
          "traits": {
            "smithy.api#httpQuery": "sla",
            "smithy.api#documentation": "Filter by SLA state. `breached` = past `sla_due_at`, `at-risk` = due within the next hour, `on-track` = more than an hour remaining."
          }
        },
        "snoozed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "snoozed",
            "smithy.api#documentation": "Filter by snooze state: `true` returns only snoozed tickets, `false` only non-snoozed."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter by status. Accepts a single value or a comma-separated list (e.g. `new,open,pending`). Valid values: `new`, `open`, `pending`, `on_hold`, `resolved`."
          }
        },
        "tags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "tags",
            "smithy.api#documentation": "JSON-encoded array of tag names; returns tickets with ANY of them (OR), e.g. `[\"billing\",\"urgent\"]`."
          }
        },
        "tags_all": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "tags_all",
            "smithy.api#documentation": "JSON-encoded array of tag names; returns tickets that have ALL of them (AND), e.g. `[\"billing\",\"urgent\"]`."
          }
        },
        "tags_exclude": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "tags_exclude",
            "smithy.api#documentation": "JSON-encoded array of tag names; returns tickets that have NONE of them (NOT), e.g. `[\"escalated\"]`."
          }
        },
        "view": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "view",
            "smithy.api#documentation": "Apply a saved ticket view's filters by its `short_id` (list views via the `conversations/views` endpoint). Any filter param passed explicitly overrides the view's saved value for that dimension. Returns 400 if no view matches."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#PaginatedTicketList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.conversations#PaginatedTicketListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#Ticket": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "ticket_number": {
          "target": "smithy.api#Integer"
        },
        "channel_source": {
          "target": "com.posthog.conversations#ChannelEnum"
        },
        "channel_detail": {
          "target": "com.posthog.conversations#ChannelDetailEnum",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "distinct_id": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.posthog.conversations#TicketStatusEnum",
          "traits": {
            "smithy.api#documentation": "Ticket status: new, open, pending, on_hold, or resolved\n\n* `new` - New\n* `open` - Open\n* `pending` - Pending\n* `on_hold` - On hold\n* `resolved` - Resolved"
          }
        },
        "priority": {
          "target": "com.posthog.conversations#TicketPriority",
          "traits": {
            "smithy.api#documentation": "Ticket priority: low, medium, high, or critical. Null if unset.\n\n* `low` - Low\n* `medium` - Medium\n* `high` - High\n* `critical` - Critical",
            "com.distilled.openapi#nullable": {}
          }
        },
        "assignee": {
          "target": "com.posthog.conversations#TicketAssignment"
        },
        "anonymous_traits": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Customer-provided traits such as name and email"
          }
        },
        "identity_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Trust signal indicating whether the ticket's claimed identity was attested by the server (widget HMAC, SPF-authenticated email, or a signature-validated platform webhook). True when verified, false when assessed but not attested, null when unknown (e.g. created before this signal existed).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ai_resolved": {
          "target": "smithy.api#Boolean"
        },
        "escalation_reason": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ai_triage": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "AI support pipeline triage and outcome (status, result, ticket_type, confidence, attempts, verdict, blocker, sources). Retrieve hydrates sources from citations."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "message_count": {
          "target": "smithy.api#Integer"
        },
        "last_message_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_message_text": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "unread_team_count": {
          "target": "smithy.api#Integer"
        },
        "unread_customer_count": {
          "target": "smithy.api#Integer"
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "session_context": {
          "target": "com.posthog.conversations#TicketSessionContext",
          "traits": {
            "smithy.api#documentation": "Context captured with the ticket. Values are strings, numbers or booleans. Keys are whatever the widget sent, commonly current_url, replay_url, browser, os and sdk_version."
          }
        },
        "sla_due_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SLA deadline set via workflows. Null means no SLA.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "snoozed_until": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "slack_channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "slack_thread_ts": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "slack_team_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "email_subject": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "email_from": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "email_to": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "cc_participants": {
          "target": "smithy.api#Document"
        },
        "github_repo": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "github_issue_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "zendesk_ticket_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer's PostHog organization group key, resolved at ticket creation. Null when unknown.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organization_id_source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How organization_id was resolved: 'person' (from the requester's identity) or 'slack_channel_account' (inferred from the customer analytics account linked to the ticket's Slack channel). Null when organization_id is unset.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "person": {
          "target": "com.posthog.conversations#TicketPerson",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.conversations#TicketTagsList"
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mixin for serializers to add user access control fields"
      }
    },
    "com.posthog.conversations#ChannelEnum": {
      "type": "enum",
      "members": {
        "WIDGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "widget"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        },
        "TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teams"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `widget` - Widget\n* `email` - Email\n* `slack` - Slack\n* `teams` - Microsoft Teams\n* `github` - GitHub"
      }
    },
    "com.posthog.conversations#ChannelDetailEnum": {
      "type": "enum",
      "members": {
        "SLACK_CHANNEL_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack_channel_message"
          }
        },
        "SLACK_BOT_MENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack_bot_mention"
          }
        },
        "SLACK_EMOJI_REACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack_emoji_reaction"
          }
        },
        "TEAMS_CHANNEL_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teams_channel_message"
          }
        },
        "TEAMS_BOT_MENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teams_bot_mention"
          }
        },
        "WIDGET_EMBEDDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "widget_embedded"
          }
        },
        "WIDGET_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "widget_api"
          }
        },
        "GITHUB_ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github_issue"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `slack_channel_message` - Channel message\n* `slack_bot_mention` - Bot mention\n* `slack_emoji_reaction` - Emoji reaction\n* `teams_channel_message` - Teams channel message\n* `teams_bot_mention` - Teams bot mention\n* `widget_embedded` - Widget\n* `widget_api` - API\n* `github_issue` - GitHub issue"
      }
    },
    "com.posthog.conversations#TicketStatusEnum": {
      "type": "enum",
      "members": {
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "new"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ON_HOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on_hold"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolved"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `new` - New\n* `open` - Open\n* `pending` - Pending\n* `on_hold` - On hold\n* `resolved` - Resolved"
      }
    },
    "com.posthog.conversations#TicketPriorityEnum": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "critical"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `low` - Low\n* `medium` - Medium\n* `high` - High\n* `critical` - Critical"
      }
    },
    "com.posthog.conversations#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#TicketPriority": {
      "type": "union",
      "members": {
        "TicketPriorityEnum": {
          "target": "com.posthog.conversations#TicketPriorityEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.conversations#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Ticket priority: low, medium, high, or critical. Null if unset.\n\n* `low` - Low\n* `medium` - Medium\n* `high` - High\n* `critical` - Critical"
      }
    },
    "com.posthog.conversations#TicketAssignment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "user": {
          "target": "com.posthog.conversations#TicketAssignmentUserMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "com.posthog.conversations#TicketAssignmentRoleMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Serializer for ticket assignment (user or role)."
      }
    },
    "com.posthog.conversations#TicketAssignmentUserMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.conversations#TicketAssignmentRoleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.conversations#TicketSessionContext": {
      "type": "structure",
      "members": {
        "current_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page the reporter was on."
          }
        },
        "replay_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Replay of the session the ticket came from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Context captured with the ticket. Values are strings, numbers or booleans. Keys are whatever the widget sent, commonly current_url, replay_url, browser, os and sdk_version."
      }
    },
    "com.posthog.conversations#TicketPerson": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "distinct_ids": {
          "target": "com.posthog.conversations#TicketPersonDistinctIdsList"
        },
        "properties": {
          "target": "com.posthog.conversations#TicketPersonPropertiesMap"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "is_identified": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Minimal person serializer for embedding in ticket responses."
      }
    },
    "com.posthog.conversations#TicketPersonDistinctIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.conversations#TicketPersonPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.conversations#TicketTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.conversations#PaginatedTicketListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.conversations#Ticket"
      },
      "traits": {}
    },
    "com.posthog.conversations#ListConversationsTickets": {
      "type": "operation",
      "input": {
        "target": "com.posthog.conversations#ListConversationsTicketsRequest"
      },
      "output": {
        "target": "com.posthog.conversations#PaginatedTicketList"
      },
      "errors": [
        {
          "target": "com.posthog.conversations#BadRequest"
        },
        {
          "target": "com.posthog.conversations#Forbidden"
        },
        {
          "target": "com.posthog.conversations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/conversations/tickets/",
          "code": 200
        },
        "smithy.api#documentation": "List tickets with person data attached."
      }
    },
    "com.posthog.conversations#GetConversationsTicketRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ticket's UUID or its numeric ticket number."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#GetConversationsTicket": {
      "type": "operation",
      "input": {
        "target": "com.posthog.conversations#GetConversationsTicketRequest"
      },
      "output": {
        "target": "com.posthog.conversations#Ticket"
      },
      "errors": [
        {
          "target": "com.posthog.conversations#Forbidden"
        },
        {
          "target": "com.posthog.conversations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/conversations/tickets/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Get single ticket and mark as read by team."
      }
    },
    "com.posthog.conversations#UpdateConversationsTicketRequestPriority": {
      "type": "union",
      "members": {
        "TicketPriorityEnum": {
          "target": "com.posthog.conversations#TicketPriorityEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.conversations#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Ticket priority: low, medium, high, or critical. Pass null to clear it.\n\n* `low` - Low\n* `medium` - Medium\n* `high` - High\n* `critical` - Critical"
      }
    },
    "com.posthog.conversations#TicketAssigneeRequest": {
      "type": "union",
      "members": {
        "UserTicketAssigneeRequest": {
          "target": "com.posthog.conversations#UserTicketAssigneeRequest"
        },
        "RoleTicketAssigneeRequest": {
          "target": "com.posthog.conversations#RoleTicketAssigneeRequest"
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#UserTicketAssigneeRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Assign the ticket to a user.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "User ID.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#RoleTicketAssigneeRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Assign the ticket to a role.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role ID.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#UpdateConversationsTicketRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tag names to set on the ticket."
      }
    },
    "com.posthog.conversations#UpdateConversationsTicketRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ticket's UUID or its numeric ticket number."
          }
        },
        "status": {
          "target": "com.posthog.conversations#TicketStatusEnum",
          "traits": {
            "smithy.api#documentation": "Ticket status: new, open, pending, on_hold, or resolved.\n\n* `new` - New\n* `open` - Open\n* `pending` - Pending\n* `on_hold` - On hold\n* `resolved` - Resolved"
          }
        },
        "priority": {
          "target": "com.posthog.conversations#UpdateConversationsTicketRequestPriority",
          "traits": {
            "smithy.api#documentation": "Ticket priority: low, medium, high, or critical. Pass null to clear it.\n\n* `low` - Low\n* `medium` - Medium\n* `high` - High\n* `critical` - Critical",
            "com.distilled.openapi#nullable": {}
          }
        },
        "assignee": {
          "target": "com.posthog.conversations#TicketAssigneeRequest",
          "traits": {
            "smithy.api#documentation": "User or role to assign. Pass null to remove the current assignee.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "anonymous_traits": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Customer details such as name and email."
          }
        },
        "ai_resolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether AI resolved the ticket."
          }
        },
        "escalation_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason the ticket was escalated. Pass null to clear it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sla_due_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SLA deadline. Pass null to clear it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "snoozed_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time to reopen the ticket. Pass null to reopen it now.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.conversations#UpdateConversationsTicketRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Tag names to set on the ticket."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#UpdateConversationsTicket": {
      "type": "operation",
      "input": {
        "target": "com.posthog.conversations#UpdateConversationsTicketRequest"
      },
      "output": {
        "target": "com.posthog.conversations#Ticket"
      },
      "errors": [
        {
          "target": "com.posthog.conversations#BadRequest"
        },
        {
          "target": "com.posthog.conversations#Forbidden"
        },
        {
          "target": "com.posthog.conversations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/conversations/tickets/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Handle ticket updates including assignee changes."
      }
    },
    "com.posthog.conversations#UpdateConversationsTicketsPartialRequestPriority": {
      "type": "union",
      "members": {
        "TicketPriorityEnum": {
          "target": "com.posthog.conversations#TicketPriorityEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.conversations#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Ticket priority: low, medium, high, or critical. Pass null to clear it.\n\n* `low` - Low\n* `medium` - Medium\n* `high` - High\n* `critical` - Critical"
      }
    },
    "com.posthog.conversations#UpdateConversationsTicketsPartialRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tag names to set on the ticket."
      }
    },
    "com.posthog.conversations#UpdateConversationsTicketsPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ticket's UUID or its numeric ticket number."
          }
        },
        "status": {
          "target": "com.posthog.conversations#TicketStatusEnum",
          "traits": {
            "smithy.api#documentation": "Ticket status: new, open, pending, on_hold, or resolved.\n\n* `new` - New\n* `open` - Open\n* `pending` - Pending\n* `on_hold` - On hold\n* `resolved` - Resolved"
          }
        },
        "priority": {
          "target": "com.posthog.conversations#UpdateConversationsTicketsPartialRequestPriority",
          "traits": {
            "smithy.api#documentation": "Ticket priority: low, medium, high, or critical. Pass null to clear it.\n\n* `low` - Low\n* `medium` - Medium\n* `high` - High\n* `critical` - Critical",
            "com.distilled.openapi#nullable": {}
          }
        },
        "assignee": {
          "target": "com.posthog.conversations#TicketAssigneeRequest",
          "traits": {
            "smithy.api#documentation": "User or role to assign. Pass null to remove the current assignee.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "anonymous_traits": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Customer details such as name and email."
          }
        },
        "ai_resolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether AI resolved the ticket."
          }
        },
        "escalation_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason the ticket was escalated. Pass null to clear it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sla_due_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SLA deadline. Pass null to clear it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "snoozed_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time to reopen the ticket. Pass null to reopen it now.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.conversations#UpdateConversationsTicketsPartialRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Tag names to set on the ticket."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#UpdateConversationsTicketsPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.conversations#UpdateConversationsTicketsPartialRequest"
      },
      "output": {
        "target": "com.posthog.conversations#Ticket"
      },
      "errors": [
        {
          "target": "com.posthog.conversations#BadRequest"
        },
        {
          "target": "com.posthog.conversations#Forbidden"
        },
        {
          "target": "com.posthog.conversations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/conversations/tickets/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.conversations#ConversationsTicketsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ticket's UUID or its numeric ticket number."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#ConversationsTicketsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.conversations#ConversationsTicketsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.conversations#Forbidden"
        },
        {
          "target": "com.posthog.conversations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/conversations/tickets/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.conversations#RatingEnum": {
      "type": "enum",
      "members": {
        "GOOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "good"
          }
        },
        "BAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bad"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `good` - good\n* `bad` - bad"
      }
    },
    "com.posthog.conversations#CreateConversationsTicketsAiFeedbackRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ticket's UUID or its numeric ticket number."
          }
        },
        "message_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the AI message being rated.",
            "smithy.api#required": {}
          }
        },
        "rating": {
          "target": "com.posthog.conversations#RatingEnum",
          "traits": {
            "smithy.api#documentation": "Reviewer rating: good or bad.\n\n* `good` - good\n* `bad` - bad",
            "smithy.api#required": {}
          }
        },
        "feedback_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional text explaining a bad rating."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#CreateConversationsTicketsAiFeedback": {
      "type": "operation",
      "input": {
        "target": "com.posthog.conversations#CreateConversationsTicketsAiFeedbackRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/conversations/tickets/{id}/ai_feedback/",
          "code": 200
        },
        "smithy.api#documentation": "Record reviewer feedback on an AI reply, captured to the internal analytics project."
      }
    },
    "com.posthog.conversations#AiDraftHumanOutcomeEnum": {
      "type": "enum",
      "members": {
        "USED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "used"
          }
        },
        "EDITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edited"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `used` - used\n* `edited` - edited"
      }
    },
    "com.posthog.conversations#CreateConversationsTicketsAiHumanOutcomeRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ticket's UUID or its numeric ticket number."
          }
        },
        "message_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the private AI draft being adopted.",
            "smithy.api#required": {}
          }
        },
        "outcome": {
          "target": "com.posthog.conversations#AiDraftHumanOutcomeEnum",
          "traits": {
            "smithy.api#documentation": "used when the human inserts the draft as-is; edited after they change it in the composer.\n\n* `used` - used\n* `edited` - edited",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#CreateConversationsTicketsAiHumanOutcome": {
      "type": "operation",
      "input": {
        "target": "com.posthog.conversations#CreateConversationsTicketsAiHumanOutcomeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.conversations#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/conversations/tickets/{id}/ai_human_outcome/",
          "code": 200
        },
        "smithy.api#documentation": "Record that a human used or edited the latest AI draft."
      }
    },
    "com.posthog.conversations#ListConversationsTicketsMessagesRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ticket's UUID or its numeric ticket number."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#PaginatedTicketMessageList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.conversations#PaginatedTicketMessageListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#TicketMessage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message (comment) UUID.",
            "smithy.api#required": {}
          }
        },
        "message_type": {
          "target": "com.posthog.conversations#TicketMessageTypeEnum",
          "traits": {
            "smithy.api#documentation": "What the message is, and whether it was sent to the customer. customer_message: written by the customer. sent_reply: a reply sent to the customer by a teammate, a workflow or the AI. It does not confirm that the customer received it, because delivery can fail. internal_note: a note for the team only. It was never sent to the customer. ai_draft: a reply or question the AI wrote for a teammate to review. It was never sent to the customer.\n\n* `customer_message` - Customer message\n* `sent_reply` - Sent reply\n* `internal_note` - Internal note\n* `ai_draft` - AI draft",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain-text message body.",
            "smithy.api#required": {}
          }
        },
        "rich_content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "TipTap rich content JSON, if any.",
            "smithy.api#required": {}
          }
        },
        "author_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "One of: customer, support, AI.",
            "smithy.api#required": {}
          }
        },
        "author_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the author.",
            "smithy.api#required": {}
          }
        },
        "author_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the authoring PostHog user, when the message was written by one (support replies and internal notes). Null for customer and AI messages.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True for internal notes not visible to the customer.",
            "smithy.api#required": {}
          }
        },
        "has_full_email_content": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the complete inbound email body can be retrieved.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Edit count. 0 means never edited.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single message in a ticket thread (output-only)."
      }
    },
    "com.posthog.conversations#TicketMessageTypeEnum": {
      "type": "enum",
      "members": {
        "CUSTOMER_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customer_message"
          }
        },
        "SENT_REPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sent_reply"
          }
        },
        "INTERNAL_NOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal_note"
          }
        },
        "AI_DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_draft"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `customer_message` - Customer message\n* `sent_reply` - Sent reply\n* `internal_note` - Internal note\n* `ai_draft` - AI draft"
      }
    },
    "com.posthog.conversations#PaginatedTicketMessageListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.conversations#TicketMessage"
      },
      "traits": {}
    },
    "com.posthog.conversations#ListConversationsTicketsMessages": {
      "type": "operation",
      "input": {
        "target": "com.posthog.conversations#ListConversationsTicketsMessagesRequest"
      },
      "output": {
        "target": "com.posthog.conversations#PaginatedTicketMessageList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/conversations/tickets/{id}/messages/",
          "code": 200
        },
        "smithy.api#documentation": "Return the message thread for a ticket, ordered chronologically (paginated)."
      }
    },
    "com.posthog.conversations#GetConversationsTicketsMessagesFullEmailRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ticket's UUID or its numeric ticket number."
          }
        },
        "message_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the ticket message."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#TicketFullEmail": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full inbound email body in Markdown.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#GetConversationsTicketsMessagesFullEmail": {
      "type": "operation",
      "input": {
        "target": "com.posthog.conversations#GetConversationsTicketsMessagesFullEmailRequest"
      },
      "output": {
        "target": "com.posthog.conversations#TicketFullEmail"
      },
      "errors": [
        {
          "target": "com.posthog.conversations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/conversations/tickets/{id}/messages/{message_id}/full_email/",
          "code": 200
        },
        "smithy.api#documentation": "Return the full inbound email body in Markdown."
      }
    },
    "com.posthog.conversations#CreateConversationsTicketsNoteRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ticket's UUID or its numeric ticket number."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Note content in markdown. The note is visible to your team only and is never sent to the customer.",
            "smithy.api#required": {}
          }
        },
        "rich_content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional TipTap rich content JSON for the note. Omit it to show the markdown message."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#CreateConversationsTicketsNote": {
      "type": "operation",
      "input": {
        "target": "com.posthog.conversations#CreateConversationsTicketsNoteRequest"
      },
      "output": {
        "target": "com.posthog.conversations#TicketMessage"
      },
      "errors": [
        {
          "target": "com.posthog.conversations#BadRequest"
        },
        {
          "target": "com.posthog.conversations#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/conversations/tickets/{id}/notes/",
          "code": 200
        },
        "smithy.api#documentation": "Add a private note to a ticket.\n\nThe note is visible to your team only. The request has no privacy field, so this\nendpoint never sends anything to the customer."
      }
    },
    "com.posthog.conversations#UpdateConversationsTicketsNotesPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ticket's UUID or its numeric ticket number."
          }
        },
        "message_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the private note (comment) to edit or delete."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Updated note content in markdown."
          }
        },
        "rich_content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional TipTap rich content JSON. Omit or pass null to clear previous rich content so the thread falls back to the markdown message."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#UpdateConversationsTicketsNotesPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.conversations#UpdateConversationsTicketsNotesPartialRequest"
      },
      "output": {
        "target": "com.posthog.conversations#TicketMessage"
      },
      "errors": [
        {
          "target": "com.posthog.conversations#BadRequest"
        },
        {
          "target": "com.posthog.conversations#Forbidden"
        },
        {
          "target": "com.posthog.conversations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/conversations/tickets/{id}/notes/{message_id}/",
          "code": 200
        },
        "smithy.api#documentation": "Update a private note on a ticket.\n\nOnly the note's author can edit it. Customer-facing replies cannot be\nedited (outbound delivery only runs on create)."
      }
    },
    "com.posthog.conversations#ConversationsTicketsNotesDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ticket's UUID or its numeric ticket number."
          }
        },
        "message_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the private note (comment) to edit or delete."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#ConversationsTicketsNotesDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.conversations#ConversationsTicketsNotesDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.conversations#BadRequest"
        },
        {
          "target": "com.posthog.conversations#Forbidden"
        },
        {
          "target": "com.posthog.conversations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/conversations/tickets/{id}/notes/{message_id}/",
          "code": 200
        },
        "smithy.api#documentation": "Soft-delete a private note on a ticket.\n\nOnly the note's author can delete it. Customer-facing replies cannot be\ndeleted via this endpoint."
      }
    },
    "com.posthog.conversations#CreateConversationsTicketsReplyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ticket's UUID or its numeric ticket number."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reply content in markdown.",
            "smithy.api#required": {}
          }
        },
        "is_private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, store as an internal note (not sent to the customer). If false, the reply is delivered to the customer over the ticket's channel."
          }
        },
        "rich_content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional TipTap rich content JSON for formatted messages."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#CreateConversationsTicketsReply": {
      "type": "operation",
      "input": {
        "target": "com.posthog.conversations#CreateConversationsTicketsReplyRequest"
      },
      "output": {
        "target": "com.posthog.conversations#TicketMessage"
      },
      "errors": [
        {
          "target": "com.posthog.conversations#BadRequest"
        },
        {
          "target": "com.posthog.conversations#Forbidden"
        },
        {
          "target": "com.posthog.conversations#NotFound"
        },
        {
          "target": "com.posthog.conversations#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/conversations/tickets/{id}/reply/",
          "code": 200
        },
        "smithy.api#documentation": "Post a reply or internal note to a ticket.\n\nWith is_private=false, the reply is delivered to the customer via the\nticket's channel (email, Slack, Teams, GitHub). With is_private=true,\nthe message is stored as an internal note only visible to team members.\n\nRetrying an identical message from the same author within a short window returns the\noriginal message with a 200 rather than posting it twice, and a 409 while a concurrent\nrequest is still creating it."
      }
    },
    "com.posthog.conversations#ConversationsTicketsBulkUpdateStatusCreateRequestIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of ticket UUIDs to update."
      }
    },
    "com.posthog.conversations#ConversationsTicketsBulkUpdateStatusCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "ids": {
          "target": "com.posthog.conversations#ConversationsTicketsBulkUpdateStatusCreateRequestIdsList",
          "traits": {
            "smithy.api#documentation": "List of ticket UUIDs to update.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.conversations#TicketStatusEnum",
          "traits": {
            "smithy.api#documentation": "New status to apply to all selected tickets: new, open, pending, on_hold, or resolved.\n\n* `new` - New\n* `open` - Open\n* `pending` - Pending\n* `on_hold` - On hold\n* `resolved` - Resolved",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#BulkUpdateStatusResponse": {
      "type": "structure",
      "members": {
        "updated": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of tickets whose status actually changed.",
            "smithy.api#required": {}
          }
        },
        "ids": {
          "target": "com.posthog.conversations#BulkUpdateStatusResponseIdsList",
          "traits": {
            "smithy.api#documentation": "UUIDs of the tickets whose status changed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#BulkUpdateStatusResponseIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "UUIDs of the tickets whose status changed."
      }
    },
    "com.posthog.conversations#ConversationsTicketsBulkUpdateStatusCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.conversations#ConversationsTicketsBulkUpdateStatusCreateRequest"
      },
      "output": {
        "target": "com.posthog.conversations#BulkUpdateStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/conversations/tickets/bulk_update_status/",
          "code": 200
        },
        "smithy.api#documentation": "Update the status of multiple tickets in a single request.\n\nOnly tickets belonging to the current team are affected; other-team UUIDs\nare silently ignored. Tickets the caller lacks editor-level access to (denied\nor view-only via object-level access control) are silently skipped too, the\nsame way single-ticket updates enforce object-level access via get_object().\nTickets already in the requested status are skipped."
      }
    },
    "com.posthog.conversations#ConversationsTicketsBulkUpdateTagsCreateRequestIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of object UUIDs to update tags on."
      }
    },
    "com.posthog.conversations#BulkUpdateTagsActionEnum": {
      "type": "enum",
      "members": {
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "add"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remove"
          }
        },
        "SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `add` - add\n* `remove` - remove\n* `set` - set"
      }
    },
    "com.posthog.conversations#ConversationsTicketsBulkUpdateTagsCreateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tag names to add, remove, or set (up to 100 per request, 255 characters each)."
      }
    },
    "com.posthog.conversations#ConversationsTicketsBulkUpdateTagsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "ids": {
          "target": "com.posthog.conversations#ConversationsTicketsBulkUpdateTagsCreateRequestIdsList",
          "traits": {
            "smithy.api#documentation": "List of object UUIDs to update tags on.",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.posthog.conversations#BulkUpdateTagsActionEnum",
          "traits": {
            "smithy.api#documentation": "'add' merges with existing tags, 'remove' deletes specific tags, 'set' replaces all tags.\n\n* `add` - add\n* `remove` - remove\n* `set` - set",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.posthog.conversations#ConversationsTicketsBulkUpdateTagsCreateRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Tag names to add, remove, or set (up to 100 per request, 255 characters each).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#BulkUpdateTagsUUIDResponse": {
      "type": "structure",
      "members": {
        "updated": {
          "target": "com.posthog.conversations#BulkUpdateTagsUUIDResponseUpdatedList",
          "traits": {
            "smithy.api#documentation": "Objects whose tags were successfully updated.",
            "smithy.api#required": {}
          }
        },
        "skipped": {
          "target": "com.posthog.conversations#BulkUpdateTagsUUIDResponseSkippedList",
          "traits": {
            "smithy.api#documentation": "Objects that were skipped, with a reason each.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#BulkUpdateTagsUUIDItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the object whose tags were updated.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.posthog.conversations#BulkUpdateTagsUUIDItemTagsList",
          "traits": {
            "smithy.api#documentation": "The object's full tag list after the update.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#BulkUpdateTagsUUIDItemTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The object's full tag list after the update."
      }
    },
    "com.posthog.conversations#BulkUpdateTagsUUIDResponseUpdatedList": {
      "type": "list",
      "member": {
        "target": "com.posthog.conversations#BulkUpdateTagsUUIDItem"
      },
      "traits": {
        "smithy.api#documentation": "Objects whose tags were successfully updated."
      }
    },
    "com.posthog.conversations#BulkUpdateTagsUUIDError": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the object that was skipped.",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the object was skipped, e.g. 'Not found or no edit access'.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#BulkUpdateTagsUUIDResponseSkippedList": {
      "type": "list",
      "member": {
        "target": "com.posthog.conversations#BulkUpdateTagsUUIDError"
      },
      "traits": {
        "smithy.api#documentation": "Objects that were skipped, with a reason each."
      }
    },
    "com.posthog.conversations#ConversationsTicketsBulkUpdateTagsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.conversations#ConversationsTicketsBulkUpdateTagsCreateRequest"
      },
      "output": {
        "target": "com.posthog.conversations#BulkUpdateTagsUUIDResponse"
      },
      "errors": [
        {
          "target": "com.posthog.conversations#BadRequest"
        },
        {
          "target": "com.posthog.conversations#Forbidden"
        },
        {
          "target": "com.posthog.conversations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/conversations/tickets/bulk_update_tags/",
          "code": 200
        },
        "smithy.api#documentation": "Bulk update tags on multiple objects.\n\nPAT access: this action has no ``required_scopes=`` on the decorator —\ninheriting viewsets must add ``\"bulk_update_tags\"`` to their\n``scope_object_write_actions`` list to accept personal API keys.\nWithout that opt-in, ``APIScopePermission`` rejects PAT requests with\n\"This action does not support personal API key access\". Done per-viewset\nso granting ``<scope>:write`` for one resource doesn't leak access to\nsibling resources that share this mixin.\n\nAccepts:\n- {\"ids\": [...], \"action\": \"add\"|\"remove\"|\"set\", \"tags\": [\"tag1\", \"tag2\"]}\n\nActions:\n- \"add\": Add tags to existing tags on each object\n- \"remove\": Remove specific tags from each object\n- \"set\": Replace all tags on each object with the provided list"
      }
    },
    "com.posthog.conversations#CreateConversationsTicketsComposeRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags to apply to the new ticket, e.g. to mark its source. Each is normalized (lowercased, trimmed). Up to 100."
      }
    },
    "com.posthog.conversations#CreateConversationsTicketsComposeRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "recipient_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recipient email address.",
            "smithy.api#required": {}
          }
        },
        "recipient_distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PostHog distinct_id to link the ticket to a person. Falls back to recipient_email."
          }
        },
        "email_subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email subject line."
          }
        },
        "email_config_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the EmailChannel to send from.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message content in markdown.",
            "smithy.api#required": {}
          }
        },
        "rich_content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "TipTap rich content JSON for formatted messages."
          }
        },
        "tags": {
          "target": "com.posthog.conversations#CreateConversationsTicketsComposeRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Tags to apply to the new ticket, e.g. to mark its source. Each is normalized (lowercased, trimmed). Up to 100."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#ComposeTicketResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Created ticket UUID.",
            "smithy.api#required": {}
          }
        },
        "ticket_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Human-readable ticket number.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#CreateConversationsTicketsCompose": {
      "type": "operation",
      "input": {
        "target": "com.posthog.conversations#CreateConversationsTicketsComposeRequest"
      },
      "output": {
        "target": "com.posthog.conversations#ComposeTicketResponse"
      },
      "errors": [
        {
          "target": "com.posthog.conversations#BadRequest"
        },
        {
          "target": "com.posthog.conversations#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/conversations/tickets/compose/",
          "code": 200
        },
        "smithy.api#documentation": "Create a new outbound ticket and send the first message to the customer.\n\nIdempotent within a short window: an identical compose retried while the first is still\nin flight returns 409, and one retried after it committed returns the same ticket with a\n200. Only a genuinely new request creates a ticket and emails the customer."
      }
    },
    "com.posthog.conversations#ListConversationsViewsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.conversations#PaginatedTicketViewList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.conversations#PaginatedTicketViewListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#TicketView": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Internal UUID of the view."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable short identifier for the view. Use it to address the view in this API, to open it at /support/tickets?view=<short_id>, and as the `view` parameter when listing tickets."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the view, as it appears in the ticket views list."
          }
        },
        "filters": {
          "target": "com.posthog.conversations#TicketViewFilters",
          "traits": {
            "smithy.api#documentation": "Saved ticket filter criteria: status, priority, channel, sla, aiTriageResult, assignee, tags, tagsMatch, tagsExclude, dateFrom, dateTo, sorting, and search."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the view was created."
          }
        },
        "created_by": {
          "target": "com.posthog.conversations#UserBasic",
          "traits": {
            "smithy.api#documentation": "The user who created this view.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_favorited": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user has favorited this view. Favorited views sort to the top of the list. Favorites are personal to each user."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.conversations#TicketViewFilters": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.posthog.conversations#TicketViewFiltersStatusList",
          "traits": {
            "smithy.api#documentation": "Ticket statuses to include. Empty or omitted means all statuses."
          }
        },
        "priority": {
          "target": "com.posthog.conversations#TicketViewFiltersPriorityList",
          "traits": {
            "smithy.api#documentation": "Ticket priorities to include. Empty or omitted means all priorities."
          }
        },
        "channel": {
          "target": "com.posthog.conversations#TicketChannelFilterEnum",
          "traits": {
            "smithy.api#documentation": "Channel the ticket originated from. 'all' disables the filter.\n\n* `widget` - widget\n* `email` - email\n* `slack` - slack\n* `teams` - teams\n* `github` - github\n* `all` - all"
          }
        },
        "sla": {
          "target": "com.posthog.conversations#TicketSlaFilterEnum",
          "traits": {
            "smithy.api#documentation": "SLA state: 'breached' is past due, 'at-risk' is due within the next hour, 'on-track' has more than an hour remaining. 'all' disables the filter.\n\n* `breached` - breached\n* `at-risk` - at-risk\n* `on-track` - on-track\n* `all` - all"
          }
        },
        "aiTriageResult": {
          "target": "com.posthog.conversations#TicketViewFiltersAiTriageResultList",
          "traits": {
            "smithy.api#documentation": "AI triage outcomes to include. 'in_progress' matches tickets still being triaged. Valid values: persisted, suggested, escalated_with_findings, escalated_with_best, escalated_no_reply, skipped_unactionable, blocked_unsafe, blocked_unsafe_reply, clarified, suggested_clarification, in_progress."
          }
        },
        "assignee": {
          "target": "com.posthog.conversations#TicketViewFiltersAssigneeList",
          "traits": {
            "smithy.api#documentation": "Assignees to match (any of): 'unassigned', 'me' (resolved to the requesting user), or an object with type ('user' or 'role') and id. Send a list. Views saved earlier can hold a single value instead of a list, or the value 'all'. Wrap a single value in a list, and replace 'all' with an empty list to apply no assignee filter."
          }
        },
        "tags": {
          "target": "com.posthog.conversations#TicketViewFiltersTagsList",
          "traits": {
            "smithy.api#documentation": "Tag names to match, combined according to tagsMatch."
          }
        },
        "tagsMatch": {
          "target": "com.posthog.conversations#TicketTagsMatchEnum",
          "traits": {
            "smithy.api#documentation": "'any' returns tickets with at least one of tags (OR); 'all' requires every tag (AND).\n\n* `any` - any\n* `all` - all"
          }
        },
        "tagsExclude": {
          "target": "com.posthog.conversations#TicketViewFiltersTagsExcludeList",
          "traits": {
            "smithy.api#documentation": "Tickets carrying any of these tags are excluded."
          }
        },
        "dateFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only include tickets updated on or after this date. Accepts absolute dates (2026-01-01) or relative ones (-7d). 'all' or null disables the bound.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dateTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only include tickets updated on or before this date. Same format as dateFrom.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sorting": {
          "target": "com.posthog.conversations#TicketViewSorting",
          "traits": {
            "smithy.api#documentation": "Sort order for the ticket list.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-text search. A numeric value matches a ticket number exactly; otherwise matches the customer's name or email, the email subject, or message content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Canonical shape of a saved ticket view's filters. Every field is optional; an omitted\nfield (or an 'all' sentinel) leaves that dimension unfiltered."
      }
    },
    "com.posthog.conversations#TicketViewFiltersStatusList": {
      "type": "list",
      "member": {
        "target": "com.posthog.conversations#TicketStatusEnum"
      },
      "traits": {
        "smithy.api#documentation": "Ticket statuses to include. Empty or omitted means all statuses."
      }
    },
    "com.posthog.conversations#TicketViewFiltersPriorityList": {
      "type": "list",
      "member": {
        "target": "com.posthog.conversations#TicketPriorityEnum"
      },
      "traits": {
        "smithy.api#documentation": "Ticket priorities to include. Empty or omitted means all priorities."
      }
    },
    "com.posthog.conversations#TicketChannelFilterEnum": {
      "type": "enum",
      "members": {
        "WIDGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "widget"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        },
        "TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teams"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `widget` - widget\n* `email` - email\n* `slack` - slack\n* `teams` - teams\n* `github` - github\n* `all` - all"
      }
    },
    "com.posthog.conversations#TicketSlaFilterEnum": {
      "type": "enum",
      "members": {
        "BREACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "breached"
          }
        },
        "AT_RISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "at-risk"
          }
        },
        "ON_TRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on-track"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `breached` - breached\n* `at-risk` - at-risk\n* `on-track` - on-track\n* `all` - all"
      }
    },
    "com.posthog.conversations#AiTriageResultEnum": {
      "type": "enum",
      "members": {
        "PERSISTED": {
          "target": "smithy.api#Unit",
[...]
