{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.data_modeling_jobs#ListDataModelingJobsRequestStatus": {
      "type": "enum",
      "members": {
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelled"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Skipped"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_modeling_jobs#ListDataModelingJobsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "saved_query_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "saved_query_id"
          }
        },
        "status": {
          "target": "com.posthog.data_modeling_jobs#ListDataModelingJobsRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "* `Cancelled` - Cancelled\n* `Completed` - Completed\n* `Failed` - Failed\n* `Running` - Running\n* `Skipped` - Skipped"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_modeling_jobs#PaginatedDataModelingJobList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.data_modeling_jobs#PaginatedDataModelingJobListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_modeling_jobs#DataModelingJob": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "saved_query_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.posthog.data_modeling_jobs#DataModelingJobStatusEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "run_mode": {
          "target": "com.posthog.data_modeling_jobs#DataModelingJobRunModeEnum",
          "traits": {
            "smithy.api#documentation": "What this run wrote: full_refresh rebuilt the whole table, so rows_materialized is the table's size; incremental wrote only its window, so rows_materialized counts just the rows synced. Null for runs from before modes were recorded, or that failed before the plan resolved.\n\n* `full_refresh` - Full refresh\n* `incremental` - Incremental",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "full_refresh_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why this run rebuilt the whole table instead of updating only new rows, for example first run, definition changed, or table missing. Null when the run was incremental.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "rows_materialized": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_run_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the job row last changed. For finished jobs this is when the run reached its terminal status.",
            "smithy.api#required": {}
          }
        },
        "workflow_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "workflow_run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "rows_expected": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total rows expected to be materialized",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_modeling_jobs#DataModelingJobStatusEnum": {
      "type": "enum",
      "members": {
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelled"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Skipped"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `Cancelled` - Cancelled\n* `Completed` - Completed\n* `Failed` - Failed\n* `Running` - Running\n* `Skipped` - Skipped"
      }
    },
    "com.posthog.data_modeling_jobs#DataModelingJobRunModeEnum": {
      "type": "enum",
      "members": {
        "FULL_REFRESH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full_refresh"
          }
        },
        "INCREMENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incremental"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `full_refresh` - Full refresh\n* `incremental` - Incremental"
      }
    },
    "com.posthog.data_modeling_jobs#PaginatedDataModelingJobListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.data_modeling_jobs#DataModelingJob"
      },
      "traits": {}
    },
    "com.posthog.data_modeling_jobs#ListDataModelingJobs": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_modeling_jobs#ListDataModelingJobsRequest"
      },
      "output": {
        "target": "com.posthog.data_modeling_jobs#PaginatedDataModelingJobList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_modeling_jobs/",
          "code": 200
        },
        "smithy.api#documentation": "List data modeling jobs which are \"runs\" for our saved queries."
      }
    },
    "com.posthog.data_modeling_jobs#GetDataModelingJobRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this data modeling job."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_modeling_jobs#GetDataModelingJob": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_modeling_jobs#GetDataModelingJobRequest"
      },
      "output": {
        "target": "com.posthog.data_modeling_jobs#DataModelingJob"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_modeling_jobs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "List data modeling jobs which are \"runs\" for our saved queries."
      }
    },
    "com.posthog.data_modeling_jobs#GetDataModelingJobsRecentRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_modeling_jobs#GetDataModelingJobsRecent": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_modeling_jobs#GetDataModelingJobsRecentRequest"
      },
      "output": {
        "target": "com.posthog.data_modeling_jobs#DataModelingJob"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_modeling_jobs/recent/",
          "code": 200
        },
        "smithy.api#documentation": "Get the most recent non-running job for each saved query from the v2 backend."
      }
    },
    "com.posthog.data_modeling_jobs#GetDataModelingJobsRunningRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_modeling_jobs#GetDataModelingJobsRunning": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_modeling_jobs#GetDataModelingJobsRunningRequest"
      },
      "output": {
        "target": "com.posthog.data_modeling_jobs#DataModelingJob"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_modeling_jobs/running/",
          "code": 200
        },
        "smithy.api#documentation": "Get all currently running jobs from the v2 backend."
      }
    },
    "com.posthog.data_modeling_jobs#DataModelingJobs": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.data_modeling_jobs#ListDataModelingJobs"
        },
        {
          "target": "com.posthog.data_modeling_jobs#GetDataModelingJob"
        },
        {
          "target": "com.posthog.data_modeling_jobs#GetDataModelingJobsRecent"
        },
        {
          "target": "com.posthog.data_modeling_jobs#GetDataModelingJobsRunning"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
