{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.engineering_analytics#EngineeringAnalyticsAttentionPullRequestsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "'owner/name' repository to scope to when the selected source syncs several repositories (from the `sources` list). Defaults to the source's first repository."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#AttentionPullRequestList": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.posthog.engineering_analytics#AttentionPullRequestListItemsList",
          "traits": {
            "smithy.api#documentation": "Open pull requests needing attention, failing CI first, then newest, capped at `limit`.",
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of open pull requests needing attention, including the ones past the cap.",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of pull requests returned in `items`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#PullRequestListItem": {
      "type": "structure",
      "members": {
        "author": {
          "target": "com.posthog.engineering_analytics#Author",
          "traits": {
            "smithy.api#documentation": "The pull request author.",
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "com.posthog.engineering_analytics#RepoRef",
          "traits": {
            "smithy.api#documentation": "Repository the pull request belongs to.",
            "smithy.api#required": {}
          }
        },
        "ci": {
          "target": "com.posthog.engineering_analytics#CIStatusRollup",
          "traits": {
            "smithy.api#documentation": "CI status from the latest workflow runs on the head SHA.",
            "smithy.api#required": {}
          }
        },
        "push_history": {
          "target": "com.posthog.engineering_analytics#PullRequestListItemPushHistoryList",
          "traits": {
            "smithy.api#documentation": "This PR's CI rounds oldest-first, capped to the most recent pushes - one sample per push for the push-history sparkline. `pushes` stays the uncapped count.",
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pull request number within the repository.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request title.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.posthog.engineering_analytics#EngineeringAnalyticsPRStateEnum",
          "traits": {
            "smithy.api#documentation": "Derived state: 'open', 'closed', or 'merged'.\n\n* `open` - OPEN\n* `closed` - CLOSED\n* `merged` - MERGED",
            "smithy.api#required": {}
          }
        },
        "is_draft": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the pull request is a draft.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the pull request was opened.",
            "smithy.api#required": {}
          }
        },
        "merged_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the pull request was merged, or null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "open_to_merge_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Coarse open-to-merge time in seconds (merged_at - created_at; fuses draft and ready-for-review time). Null until merged.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ready_to_merge_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "True ready-to-merge cycle time in seconds: merged_at minus the last observed ready_for_review transition (only the last draft/ready switch counts), or minus created_at for a merged PR verifiably never drafted. Null when unmerged or not observed (the PR's life isn't fully inside the synced issue-event window) - null never means zero.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "labels": {
          "target": "com.posthog.engineering_analytics#PullRequestListItemLabelsList",
          "traits": {
            "smithy.api#documentation": "GitHub label names on the pull request.",
            "smithy.api#required": {}
          }
        },
        "pushes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "CI triggers attributed to this PR: distinct head SHAs across its workflow runs. Fork-PR runs are unattributed.",
            "smithy.api#required": {}
          }
        },
        "rerun_cycles": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Workflow runs attributed to this PR that were a 2nd+ attempt (a re-run).",
            "smithy.api#required": {}
          }
        },
        "estimated_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Estimated CI cost in USD summed over this PR's jobs (billable runners only). Null when nothing was costable or the job-level source isn't synced.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "billable_minutes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Billable (self-hosted) minutes summed over this PR's jobs. Null when the job source isn't synced.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#Author": {
      "type": "structure",
      "members": {
        "handle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login handle of the pull request author.",
            "smithy.api#required": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name; equals the handle in v1.",
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the author's avatar image.",
            "smithy.api#required": {}
          }
        },
        "is_bot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the author is a bot (handle ends in [bot] or is a known bot).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#RepoRef": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Code host provider, e.g. 'github'.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository owner or organization.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#CIStatusRollup": {
      "type": "structure",
      "members": {
        "runs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Distinct workflows run on the PR's head SHA.",
            "smithy.api#required": {}
          }
        },
        "passing": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Latest runs that completed with conclusion 'success'.",
            "smithy.api#required": {}
          }
        },
        "failing": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Latest runs that ended in failure, timeout, startup failure, or staleness.",
            "smithy.api#required": {}
          }
        },
        "pending": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Latest runs not yet completed (queued or in progress).",
            "smithy.api#required": {}
          }
        },
        "inconclusive": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Latest runs that completed without a pass-or-fail verdict: cancelled, skipped, neutral, or action required. Together with the three counts above this covers every run, so a PR whose CI was entirely cancelled is not readable as passing.",
            "smithy.api#required": {}
          }
        },
        "failing_workflows": {
          "target": "com.posthog.engineering_analytics#CIStatusRollupFailingWorkflowsList",
          "traits": {
            "smithy.api#documentation": "The workflow names behind `failing`, sorted - names what is failing instead of leaving a bare count."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#CIStatusRollupFailingWorkflowsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The workflow names behind `failing`, sorted - names what is failing instead of leaving a bare count."
      }
    },
    "com.posthog.engineering_analytics#PushCISample": {
      "type": "structure",
      "members": {
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Head commit SHA of this push (CI round).",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Earliest workflow-run start on this push.",
            "smithy.api#required": {}
          }
        },
        "wall_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Wall-clock CI seconds for this push: earliest run start to latest completed run end. Null while nothing has completed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "failed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when any latest-per-workflow run on this push ended in a decisive failure.",
            "smithy.api#required": {}
          }
        },
        "pending": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when any latest-per-workflow run on this push hasn't completed yet.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#PullRequestListItemPushHistoryList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#PushCISample"
      },
      "traits": {
        "smithy.api#documentation": "This PR's CI rounds oldest-first, capped to the most recent pushes - one sample per push for the push-history sparkline. `pushes` stays the uncapped count."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsPRStateEnum": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        },
        "MERGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "merged"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `open` - OPEN\n* `closed` - CLOSED\n* `merged` - MERGED"
      }
    },
    "com.posthog.engineering_analytics#PullRequestListItemLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "GitHub label names on the pull request."
      }
    },
    "com.posthog.engineering_analytics#AttentionPullRequestListItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#PullRequestListItem"
      },
      "traits": {
        "smithy.api#documentation": "Open pull requests needing attention, failing CI first, then newest, capped at `limit`."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsAttentionPullRequests": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsAttentionPullRequestsRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#AttentionPullRequestList"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/attention_pull_requests/",
          "code": 200
        },
        "smithy.api#documentation": "Open pull requests that need attention: failing CI, or stuck (open, non-draft, non-bot, older than 7 days), by the same rules as the ci_cards counts. Failing first, then newest, capped; `total` counts every match in the whole open backlog, however old. Cost and billable minutes can lag new CI by up to 5 minutes."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorFrictionRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "github_team": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "github_team",
            "smithy.api#documentation": "GitHub team slug: list only the team's members, through the team membership table. Ranks stay repository-wide."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "'owner/name' repository, when the selected source syncs several."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#AuthorFrictionList": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.posthog.engineering_analytics#AuthorFrictionListItemsList",
          "traits": {
            "smithy.api#documentation": "Authors by friction, most first.",
            "smithy.api#required": {}
          }
        },
        "teams": {
          "target": "com.posthog.engineering_analytics#AuthorFrictionListTeamsList",
          "traits": {
            "smithy.api#documentation": "Teams with at least 3 scored members, by median member friction, most first.",
            "smithy.api#required": {}
          }
        },
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "False when the per-PR friction view does not exist yet: it needs a GitHub source with workflow runs, workflow jobs and pull requests synced.",
            "smithy.api#required": {}
          }
        },
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pull requests merged in this many days before the view last refreshed.",
            "smithy.api#required": {}
          }
        },
        "ranked_author_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Authors with at least 3 merged pull requests, all ranked together. A team list keeps these repository-wide ranks.",
            "smithy.api#required": {}
          }
        },
        "github_team": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The team the list is filtered to, or null for every author.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_membership_data": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "False when the team membership table isn't synced, so a team filter matches nobody.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#AuthorFriction": {
      "type": "structure",
      "members": {
        "groups": {
          "target": "com.posthog.engineering_analytics#AuthorFrictionGroupsList",
          "traits": {
            "smithy.api#documentation": "The score split by the kind of friction.",
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub login.",
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The author's GitHub avatar, or empty when the pull requests carry none.",
            "smithy.api#required": {}
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Friction as a multiple of the typical author: 1.0 is typical, 2.0 is twice as much. Counts only what happened to the author, never how much or how fast they ship.",
            "smithy.api#required": {}
          }
        },
        "pr_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The author's merged pull requests in the window.",
            "smithy.api#required": {}
          }
        },
        "rank": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Position by friction in the repository, 1 is the most.",
            "smithy.api#required": {}
          }
        },
        "rank_low": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Low end of the rank band: the 10th percentile rank over resamples of the author's pull requests, and never above rank.",
            "smithy.api#required": {}
          }
        },
        "rank_high": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "High end of the rank band: the 90th percentile rank over the same resamples, and never below rank.",
            "smithy.api#required": {}
          }
        },
        "teams": {
          "target": "com.posthog.engineering_analytics#AuthorFrictionTeamsList",
          "traits": {
            "smithy.api#documentation": "The author's GitHub teams. Empty when the membership table isn't synced."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#FrictionGroupShare": {
      "type": "structure",
      "members": {
        "group": {
          "target": "com.posthog.engineering_analytics#FrictionGroupEnum",
          "traits": {
            "smithy.api#documentation": "ci (red CI and CI waits), review (waiting for the first approval), queue (merge-queue time and kickouts), or rework (own failures and extra pushes).\n\n* `ci` - CI\n* `review` - REVIEW\n* `queue` - QUEUE\n* `rework` - REWORK",
            "smithy.api#required": {}
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This group's part of the score, in the same 'x typical' unit. The parts add up.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#FrictionGroupEnum": {
      "type": "enum",
      "members": {
        "CI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ci"
          }
        },
        "REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "review"
          }
        },
        "QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queue"
          }
        },
        "REWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rework"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `ci` - CI\n* `review` - REVIEW\n* `queue` - QUEUE\n* `rework` - REWORK"
      }
    },
    "com.posthog.engineering_analytics#AuthorFrictionGroupsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#FrictionGroupShare"
      },
      "traits": {
        "smithy.api#documentation": "The score split by the kind of friction."
      }
    },
    "com.posthog.engineering_analytics#AuthorFrictionTeamsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The author's GitHub teams. Empty when the membership table isn't synced."
      }
    },
    "com.posthog.engineering_analytics#AuthorFrictionListItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#AuthorFriction"
      },
      "traits": {
        "smithy.api#documentation": "Authors by friction, most first."
      }
    },
    "com.posthog.engineering_analytics#TeamFriction": {
      "type": "structure",
      "members": {
        "github_team": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub team slug.",
            "smithy.api#required": {}
          }
        },
        "median_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The median friction of the team's scored members, in 'x typical' units.",
            "smithy.api#required": {}
          }
        },
        "scored_author_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Members with enough merged pull requests to score. A team shows only above a floor, so one or two people never read as a team's figure.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#AuthorFrictionListTeamsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#TeamFriction"
      },
      "traits": {
        "smithy.api#documentation": "Teams with at least 3 scored members, by median member friction, most first."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorFriction": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorFrictionRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#AuthorFrictionList"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/author_friction/",
          "code": 200
        },
        "smithy.api#documentation": "Every author's friction over pull requests merged in the last 30 days, most first: red CI they did not cause, re-runs that failed again, CI waits, the wait for the first approval, merge-queue time and kickouts, and rework. The score is a multiple of the typical author and never counts how much or how fast someone ships. Bots are excluded, and authors need at least 3 merged pull requests."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorFrictionDetailRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "author",
            "smithy.api#required": {},
            "smithy.api#documentation": "GitHub login of the author to show."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "'owner/name' repository, when the selected source syncs several."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#AuthorFrictionDetail": {
      "type": "structure",
      "members": {
        "author": {
          "target": "com.posthog.engineering_analytics#AuthorFriction",
          "traits": {
            "smithy.api#documentation": "The author's score and rank. Null below 3 merged pull requests in the window.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "teams": {
          "target": "com.posthog.engineering_analytics#AuthorFrictionDetailTeamsList",
          "traits": {
            "smithy.api#documentation": "The author's teams without the author, each only with at least 2 other scored members.",
            "smithy.api#required": {}
          }
        },
        "pull_requests": {
          "target": "com.posthog.engineering_analytics#AuthorFrictionDetailPullRequestsList",
          "traits": {
            "smithy.api#documentation": "The author's pull requests that added the most friction, most first.",
            "smithy.api#required": {}
          }
        },
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "False when the per-PR friction view does not exist yet: it needs a GitHub source with workflow runs, workflow jobs and pull requests synced.",
            "smithy.api#required": {}
          }
        },
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pull requests merged in this many days before the view last refreshed.",
            "smithy.api#required": {}
          }
        },
        "ranked_author_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Authors ranked in the repository: the denominator of rank.",
            "smithy.api#required": {}
          }
        },
        "has_membership_data": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "False when the team membership table isn't synced.",
            "smithy.api#required": {}
          }
        },
        "pr_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The author's merged pull requests in the window.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#AuthorFrictionDetailTeamsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#TeamFriction"
      },
      "traits": {
        "smithy.api#documentation": "The author's teams without the author, each only with at least 2 other scored members."
      }
    },
    "com.posthog.engineering_analytics#PullRequestFrictionItem": {
      "type": "structure",
      "members": {
        "groups": {
          "target": "com.posthog.engineering_analytics#PullRequestFrictionItemGroupsList",
          "traits": {
            "smithy.api#documentation": "The pull request's friction split by kind.",
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pull request number.",
            "smithy.api#required": {}
          }
        },
        "repo_owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository owner.",
            "smithy.api#required": {}
          }
        },
        "repo_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository name.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request title, empty when the snapshot has none.",
            "smithy.api#required": {}
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Friction as a multiple of the typical pull request in the repository.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#PullRequestFrictionItemGroupsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#FrictionGroupShare"
      },
      "traits": {
        "smithy.api#documentation": "The pull request's friction split by kind."
      }
    },
    "com.posthog.engineering_analytics#AuthorFrictionDetailPullRequestsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#PullRequestFrictionItem"
      },
      "traits": {
        "smithy.api#documentation": "The author's pull requests that added the most friction, most first."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorFrictionDetail": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorFrictionDetailRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#AuthorFrictionDetail"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/author_friction_detail/",
          "code": 200
        },
        "smithy.api#documentation": "One author's friction over pull requests merged in the last 30 days, next to the median of each of the author's teams, and the author's pull requests that added the most friction. Bots are excluded."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorWorkflowCostsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "author",
            "smithy.api#required": {},
            "smithy.api#documentation": "GitHub handle whose CI spend to break down."
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_from",
            "smithy.api#documentation": "Window start: relative ('-30d', '-8w') or ISO8601. Defaults to -30d."
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_to",
            "smithy.api#documentation": "Window end: relative or ISO8601. Defaults to now."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "'owner/name' repository to scope to when the selected source syncs several repositories (from the `sources` list). Defaults to the source's first repository."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#WorkflowCost": {
      "type": "structure",
      "members": {
        "workflow_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub Actions workflow name this cost is for.",
            "smithy.api#required": {}
          }
        },
        "billable_minutes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Billable (self-hosted) minutes for this workflow within the scope.",
            "smithy.api#required": {}
          }
        },
        "estimated_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Estimated dollar cost for this workflow, or null when nothing was costable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "costed_jobs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Costed jobs for this workflow (billable Linux runner, finished).",
            "smithy.api#required": {}
          }
        },
        "unsettled_jobs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Billable Linux jobs still queued/running for this workflow.",
            "smithy.api#required": {}
          }
        },
        "excluded_jobs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Provider-hosted/non-Linux jobs for this workflow, outside the estimate.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorWorkflowCostsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#WorkflowCost"
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorWorkflowCostsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorWorkflowCostsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorWorkflowCosts": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorWorkflowCostsRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorWorkflowCostsResponse"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/author_workflow_costs/",
          "code": 200
        },
        "smithy.api#documentation": "One author's estimated CI cost split by workflow over a window (date_from default -30d), highest spend first. Runs are attributed to the author through their pull requests (attribution is by PR number). Returns an empty list when the job-level source isn't synced."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsBrokenTestsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "'owner/name' repository to scope to when the selected source syncs several repositories (from the `sources` list). Defaults to the source's first repository."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#BrokenTestsResult": {
      "type": "structure",
      "members": {
        "rows": {
          "target": "com.posthog.engineering_analytics#BrokenTestsResultRowsList",
          "traits": {
            "smithy.api#documentation": "Classified failures ranked by triage urgency: breaking trunk first, single-PR failures last.",
            "smithy.api#required": {}
          }
        },
        "breaking_master_jobs": {
          "target": "com.posthog.engineering_analytics#BrokenTestsResultBreakingMasterJobsList",
          "traits": {
            "smithy.api#documentation": "Default-branch job names whose latest completed run is failing: the 'what's on fire right now' summary. Empty when the job-level source isn't synced or trunk is green.",
            "smithy.api#required": {}
          }
        },
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Length in days of the analysis window the counts cover.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when more failures qualified than the cap; `rows` is the top `limit` by urgency.",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of rows returned.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#BrokenTestRow": {
      "type": "structure",
      "members": {
        "latest_ci_engine": {
          "target": "com.posthog.engineering_analytics#CIEngineEnum",
          "traits": {
            "smithy.api#documentation": "CI execution engine; null when unknown.\n\n* `github_actions` - GitHub Actions\n* `depot_ci` - Depot CI",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable identity of this distinct failure: the failing test's node id plus a normalized error signature, so the same failure across runs groups into one row.",
            "smithy.api#required": {}
          }
        },
        "test_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pytest node id from the CI 'FAILED <id>' line: the failing test.",
            "smithy.api#required": {}
          }
        },
        "error_signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The trailing failure detail with volatile bits (numbers, hashes) normalized, shared across runs of the same failure. Empty when the FAILED line carried no detail.",
            "smithy.api#required": {}
          }
        },
        "job_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CI job the failure most recently came from. Matched against default-branch job status to decide whether trunk is currently broken by it.",
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "'owner/name' repository the failure belongs to.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.posthog.engineering_analytics#BrokenTestRowStateEnum",
          "traits": {
            "smithy.api#documentation": "The classifier's verdict on how this failure is behaving right now: 'breaking_master' (failing on trunk, latest trunk run still red), 'blocking_merge_queue' (stopped a merge on a commit that already passed the PR's own CI, trunk still green), 'novel_burst' (new within a day and spreading across branches, not on trunk yet), 'potentially_resolved' (hit trunk but trunk is green again), 'flaky' (sporadic across branches over more than a day), or 'pr_only' (confined to one branch: one PR's own problem).\n\n* `breaking_master` - BREAKING_MASTER\n* `blocking_merge_queue` - BLOCKING_MERGE_QUEUE\n* `novel_burst` - NOVEL_BURST\n* `potentially_resolved` - POTENTIALLY_RESOLVED\n* `flaky` - FLAKY\n* `pr_only` - PR_ONLY",
            "smithy.api#required": {}
          }
        },
        "first_seen": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Earliest failure line for this fingerprint in the analysis window.",
            "smithy.api#required": {}
          }
        },
        "last_seen": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Most recent failure line for this fingerprint in the analysis window.",
            "smithy.api#required": {}
          }
        },
        "occurrences": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total failure lines for this fingerprint in the window. An absolute count, never a rate: passing runs aren't in this data.",
            "smithy.api#required": {}
          }
        },
        "branches": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Distinct branches the failure appeared on in the window.",
            "smithy.api#required": {}
          }
        },
        "master_hits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Failure lines on the default branch (master/main). 0 means it never reached trunk.",
            "smithy.api#required": {}
          }
        },
        "latest_run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The most recent failing workflow run for this fingerprint: pass it to run_failure_logs to fetch the actual failing log lines.",
            "smithy.api#required": {}
          }
        },
        "latest_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The branch of the most recent failing run.",
            "smithy.api#required": {}
          }
        },
        "trend_24h": {
          "target": "com.posthog.engineering_analytics#BrokenTestRowTrend24hList",
          "traits": {
            "smithy.api#documentation": "Hourly failure counts over the last 24 hours, oldest first (fixed 24-slot array), for the row sparkline. All zeros when nothing failed in the last day."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#CIEngineEnum": {
      "type": "enum",
      "members": {
        "GITHUB_ACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github_actions"
          }
        },
        "DEPOT_CI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "depot_ci"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `github_actions` - GitHub Actions\n* `depot_ci` - Depot CI"
      }
    },
    "com.posthog.engineering_analytics#BrokenTestRowStateEnum": {
      "type": "enum",
      "members": {
        "BREAKING_MASTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "breaking_master"
          }
        },
        "BLOCKING_MERGE_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocking_merge_queue"
          }
        },
        "NOVEL_BURST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "novel_burst"
          }
        },
        "POTENTIALLY_RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "potentially_resolved"
          }
        },
        "FLAKY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flaky"
          }
        },
        "PR_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pr_only"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `breaking_master` - BREAKING_MASTER\n* `blocking_merge_queue` - BLOCKING_MERGE_QUEUE\n* `novel_burst` - NOVEL_BURST\n* `potentially_resolved` - POTENTIALLY_RESOLVED\n* `flaky` - FLAKY\n* `pr_only` - PR_ONLY"
      }
    },
    "com.posthog.engineering_analytics#BrokenTestRowTrend24hList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Hourly failure counts over the last 24 hours, oldest first (fixed 24-slot array), for the row sparkline. All zeros when nothing failed in the last day."
      }
    },
    "com.posthog.engineering_analytics#BrokenTestsResultRowsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#BrokenTestRow"
      },
      "traits": {
        "smithy.api#documentation": "Classified failures ranked by triage urgency: breaking trunk first, single-PR failures last."
      }
    },
    "com.posthog.engineering_analytics#BrokenTestsResultBreakingMasterJobsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Default-branch job names whose latest completed run is failing: the 'what's on fire right now' summary. Empty when the job-level source isn't synced or trunk is green."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsBrokenTests": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsBrokenTestsRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#BrokenTestsResult"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/broken_tests/",
          "code": 200
        },
        "smithy.api#documentation": "The broken-tests triage panel: live CI failures over the last 2 days grouped into distinct failures (by test id + normalized error signature) and classified by how each is behaving right now: breaking trunk, blocking the merge queue, a new failure spreading across branches, probably-resolved, flaky, or one PR's own problem: ranked with the most urgent first. A blocking_merge_queue row is a failure on a merge-queue gate branch that never hit trunk: the commit had already passed the PR's own CI, so it is the semantic conflict the queue exists to catch, and it is holding up landings. Also returns breaking_master_jobs, the default-branch jobs whose latest run is red. Reach for this to answer 'what CI failures should I care about right now'; expand a row's latest_run_id via run_failure_logs for the failing lines. Fingerprinting is pytest-only for now (jest/playwright/cargo failures aren't grouped yet), and the breaking/resolved distinction needs the job-level source synced: without it those failures fall through to flaky/pr_only rather than being misreported."
      }
    },
    "com.posthog.engineering_analytics#GetEngineeringAnalyticsCiSignalsConfigRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#CISignalsConfig": {
      "type": "structure",
      "members": {
        "configured": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this project has ever configured CI signals.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether every CI signal detector is enabled.",
            "smithy.api#required": {}
          }
        },
        "sync_status": {
          "target": "com.posthog.engineering_analytics#SyncStatusEnum",
          "traits": {
            "smithy.api#documentation": "Aggregate sync status for pull requests, workflow runs, and workflow jobs.\n\n* `running` - RUNNING\n* `completed` - COMPLETED\n* `failed` - FAILED",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#SyncStatusEnum": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `running` - RUNNING\n* `completed` - COMPLETED\n* `failed` - FAILED"
      }
    },
    "com.posthog.engineering_analytics#GetEngineeringAnalyticsCiSignalsConfig": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#GetEngineeringAnalyticsCiSignalsConfigRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#CISignalsConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/ci-signals-config/",
          "code": 200
        },
        "smithy.api#documentation": "Return the atomic CI Signals configuration and aggregate GitHub warehouse sync status."
      }
    },
    "com.posthog.engineering_analytics#UpdateEngineeringAnalyticsCiSignalsConfigRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable or disable every CI signal detector atomically.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#UpdateEngineeringAnalyticsCiSignalsConfig": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#UpdateEngineeringAnalyticsCiSignalsConfigRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#CISignalsConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/engineering_analytics/ci-signals-config/",
          "code": 200
        },
        "smithy.api#documentation": "Enable or disable all CI signal detectors in one transaction."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsCiCardsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "'owner/name' repository to scope to when the selected source syncs several repositories (from the `sources` list). Defaults to the source's first repository."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#CICardSummary": {
      "type": "structure",
      "members": {
        "open_prs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of open pull requests.",
            "smithy.api#required": {}
          }
        },
        "repos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Distinct repositories with at least one open pull request.",
            "smithy.api#required": {}
          }
        },
        "stuck": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Open, non-draft, non-bot pull requests older than 7 days.",
            "smithy.api#required": {}
          }
        },
        "failing_ci": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Open pull requests with at least one failing latest CI run. May lag until the workflow_run webhook settles late completions.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsCiCards": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsCiCardsRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#CICardSummary"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/ci_cards/",
          "code": 200
        },
        "smithy.api#documentation": "Headline counts for the open-PR backlog: open PRs, distinct repos, stuck PRs (open, non-draft, non-bot, older than 7 days), and PRs with failing CI. The failing-CI count rests on the head-SHA join and can lag until late CI completions settle."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsCiFailureLogsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pr_number",
            "smithy.api#required": {},
            "smithy.api#documentation": "Pull request number whose CI failure logs to fetch."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#required": {},
            "smithy.api#documentation": "'owner/name' repository the pull request belongs to."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#CIFailureLogs": {
      "type": "structure",
      "members": {
        "repo": {
          "target": "com.posthog.engineering_analytics#RepoRef",
          "traits": {
            "smithy.api#documentation": "Repository the pull request belongs to.",
            "smithy.api#required": {}
          }
        },
        "jobs": {
          "target": "com.posthog.engineering_analytics#CIFailureLogsJobsList",
          "traits": {
            "smithy.api#documentation": "Failed CI jobs with their thinned failure logs, grouped by job.",
            "smithy.api#required": {}
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pull request number the failure logs are for.",
            "smithy.api#required": {}
          }
        },
        "runs_attributed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Workflow runs attributed to the PR (across all its pushes) that were searched for logs.",
            "smithy.api#required": {}
          }
        },
        "logs_available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "False when no failure logs were found: CI hasn't failed, the logs aged out of the short Logs retention, or a fork PR carries no run association to resolve.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the overall line cap across all jobs was hit.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#CIJobFailureLog": {
      "type": "structure",
      "members": {
        "ci_engine": {
          "target": "com.posthog.engineering_analytics#CIEngineEnum",
          "traits": {
            "smithy.api#documentation": "CI execution engine; null when unknown.\n\n* `github_actions` - GitHub Actions\n* `depot_ci` - Depot CI",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lines": {
          "target": "com.posthog.engineering_analytics#CIJobFailureLogLinesList",
          "traits": {
            "smithy.api#documentation": "The thinned failure-log lines in original order, with omission markers.",
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Integer job id of the failed job; unique only together with ci_engine.",
            "smithy.api#required": {}
          }
        },
        "run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Workflow run id the job belongs to.",
            "smithy.api#required": {}
          }
        },
        "conclusion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Job conclusion ('failure', 'timed_out', ...). Only failed jobs have logs.",
            "smithy.api#required": {}
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch the run was triggered on, or '' when unknown.",
            "smithy.api#required": {}
          }
        },
        "original_total_lines": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total lines in the full job log before thinning (the denominator for each line's original_line); 0 when unknown.",
            "smithy.api#required": {}
          }
        },
        "line_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of lines returned for this job (after the per-job cap).",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the job had more failure lines than the per-job cap.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#CIFailureLogLine": {
      "type": "structure",
      "members": {
        "original_line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "1-based line number in the full pre-thinning job log, or null for a '... N lines omitted ...' marker. The gap between consecutive values is how many lines were elided.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The log line text, or the omission-marker text.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#CIJobFailureLogLinesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#CIFailureLogLine"
      },
      "traits": {
        "smithy.api#documentation": "The thinned failure-log lines in original order, with omission markers."
      }
    },
    "com.posthog.engineering_analytics#CIFailureLogsJobsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#CIJobFailureLog"
      },
      "traits": {
        "smithy.api#documentation": "Failed CI jobs with their thinned failure logs, grouped by job."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsCiFailureLogs": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsCiFailureLogsRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#CIFailureLogs"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/ci_failure_logs/",
          "code": 200
        },
        "smithy.api#documentation": "The thinned CI failure logs for a pull request, grouped by failed job. Resolves the PR to its workflow runs via the pull_requests association (all of the PR's pushes, not just the latest commit), then reads the Logs product joined on run_id. Returns failed jobs only (the worker fetches logs for failures); logs_available is false when CI hasn't failed, the logs aged out of the short Logs retention, or a fork PR has no run association. Each line carries its original 1-based line number in the full pre-thinning log; lines are the failure region (errors plus surrounding context, with omission markers), capped per job and overall."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsCurrentBranchHealthRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "'owner/name' repository to scope to when the selected source syncs several repositories (from the `sources` list). Defaults to the source's first repository."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#CurrentBranchHealth": {
      "type": "structure",
      "members": {
        "default_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detected default branch ('master' or 'main') from runs in the same 24-hour window.",
            "smithy.api#required": {}
          }
        },
        "settled_workflows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Workflows with at least one completed run in the last 24 hours.",
            "smithy.api#required": {}
          }
        },
        "failing_workflows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Workflows whose latest completed run in the last 24 hours failed or timed out.",
            "smithy.api#required": {}
          }
        },
        "failing_workflow_names": {
          "target": "com.posthog.engineering_analytics#CurrentBranchHealthFailingWorkflowNamesList",
          "traits": {
            "smithy.api#documentation": "Alphabetical preview of failing workflow names, capped at 20; use failing_workflows for the complete count.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#CurrentBranchHealthFailingWorkflowNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Alphabetical preview of failing workflow names, capped at 20; use failing_workflows for the complete count."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsCurrentBranchHealth": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsCurrentBranchHealthRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#CurrentBranchHealth"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/current_branch_health/",
          "code": 200
        },
        "smithy.api#documentation": "Current default-branch CI verdict over the fixed last-24-hours window. Counts every workflow whose latest completed run failed or timed out; failing workflow names are a bounded preview. The default branch is detected from the same window, independently of analytics date filters."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsDeliveryComparisonRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "author",
            "smithy.api#required": {},
            "smithy.api#documentation": "GitHub login of the author to compare with their team and the repository."
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_from",
            "smithy.api#documentation": "Window start: relative ('-30d', '-8w') or ISO8601. Defaults to -30d."
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_to",
            "smithy.api#documentation": "Window end: relative or ISO8601. Defaults to now."
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pr_number",
            "smithy.api#documentation": "A pull request by the author. Needs repo. A team of the author's that this pull request asked to review is the team to compare with, and the pull request stays out of the medians."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "'owner/name' repository. Required with pr_number; otherwise it picks the repository when the selected source syncs several."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#DeliveryComparison": {
      "type": "structure",
      "members": {
        "author_medians": {
          "target": "com.posthog.engineering_analytics#ReadyToMergeMedians",
          "traits": {
            "smithy.api#documentation": "Over the author's pull requests, without the pr_number pull request.",
            "smithy.api#required": {}
          }
        },
        "teams": {
          "target": "com.posthog.engineering_analytics#DeliveryComparisonTeamsList",
          "traits": {
            "smithy.api#documentation": "The author's teams that team_basis picked, sorted by slug. Empty for no_team.",
            "smithy.api#required": {}
          }
        },
        "repo_medians": {
          "target": "com.posthog.engineering_analytics#ReadyToMergeMedians",
          "traits": {
            "smithy.api#documentation": "Over every non-bot pull request in the repository, the author's included and the pr_number pull request left out.",
            "smithy.api#required": {}
          }
        },
        "pull_request": {
          "target": "com.posthog.engineering_analytics#PullRequestReadyToMerge",
          "traits": {
            "smithy.api#documentation": "The pr_number pull request measured the same way, when it merged in the window. Null otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GitHub login the comparison is for.",
            "smithy.api#required": {}
          }
        },
        "has_membership_data": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the team membership table is synced. Without it, team_basis is no_team.",
            "smithy.api#required": {}
          }
        },
        "review_data_available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "False when reviews aren't synced: the approval medians are then null.",
            "smithy.api#required": {}
          }
        },
        "ready_data_available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "False when issue events aren't synced: the ready-to-merge medians are then null.",
            "smithy.api#required": {}
          }
        },
        "team_basis": {
          "target": "com.posthog.engineering_analytics#TeamBasisEnum",
          "traits": {
            "smithy.api#documentation": "How the teams were picked from the author's teams that own code: pull_request (the pr_number asked the team to review); review_requests (the team the author's pull requests asked to review most often in the window, with ties kept); only_team (the author is in one team); all_teams (no review request points at one team); no_team (no team, or no membership data).\n\n* `pull_request` - PULL_REQUEST\n* `review_requests` - REVIEW_REQUESTS\n* `only_team` - ONLY_TEAM\n* `all_teams` - ALL_TEAMS\n* `no_team` - NO_TEAM",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#ReadyToMergeMedians": {
      "type": "structure",
      "members": {
        "merged_pr_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pull requests merged in the window, bots and drafts excluded.",
            "smithy.api#required": {}
          }
        },
        "ready_to_merge_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Median seconds from the last ready_for_review to merge. Null when nothing was measured.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "p90_ready_to_merge_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "90th percentile of the ready-to-merge seconds.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ready_to_first_approval_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Median seconds from ready to the first approval, over the pull requests with an approval. Null when nothing was measured.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_approval_to_merge_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Median seconds from the first approval to merge. The two approval medians do not add up to the ready-to-merge median.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "before_first_approval_share": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Share (0 to 1) of all ready-to-merge hours spent before the first approval, summed over the pull requests, so long pull requests weigh more.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#TeamReadyToMergeMedians": {
      "type": "structure",
      "members": {
        "medians": {
          "target": "com.posthog.engineering_analytics#ReadyToMergeMedians",
          "traits": {
            "smithy.api#documentation": "Over the pull requests by the team's members, the same population as a github_team scope, without the pr_number pull request. Null when fewer than three other authors contribute a ready time, because the author could read a teammate's value back from the median. The approval medians are null on the same terms for approvals.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "github_team": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GitHub team slug.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#DeliveryComparisonTeamsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#TeamReadyToMergeMedians"
      },
      "traits": {
        "smithy.api#documentation": "The author's teams that team_basis picked, sorted by slug. Empty for no_team."
      }
    },
    "com.posthog.engineering_analytics#PullRequestReadyToMerge": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The pull request number.",
            "smithy.api#required": {}
          }
        },
        "ready_to_merge_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Seconds from the last ready_for_review to merge. Null when not observed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ready_to_first_approval_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Seconds from ready to the first approval. Null without an approval or review data.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_approval_to_merge_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Seconds from the first approval to merge. Null without an approval or review data.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "before_first_approval_share": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Share (0 to 1) of the ready-to-merge time spent before the first approval.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#TeamBasisEnum": {
      "type": "enum",
      "members": {
        "PULL_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pull_request"
          }
        },
        "REVIEW_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "review_requests"
          }
        },
        "ONLY_TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "only_team"
          }
        },
        "ALL_TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all_teams"
          }
        },
        "NO_TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_team"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `pull_request` - PULL_REQUEST\n* `review_requests` - REVIEW_REQUESTS\n* `only_team` - ONLY_TEAM\n* `all_teams` - ALL_TEAMS\n* `no_team` - NO_TEAM"
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsDeliveryComparison": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsDeliveryComparisonRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#DeliveryComparison"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/delivery_comparison/",
          "code": 200
        },
        "smithy.api#documentation": "One author's median ready to merged time, split at the first approval, next to the same medians for the author's own team and for the whole repository, over pull requests merged in the window (date_from default -30d). The team is picked from the author's GitHub teams that own code: a team that pr_number asked to review, else the team the author's pull requests asked to review most often, else every team. Bots and drafts are excluded."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsDeliverySummaryRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "author",
            "smithy.api#documentation": "GitHub login: scope the read to this author's pull requests. Pass exactly one scope."
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_from",
            "smithy.api#documentation": "Window start: relative ('-30d', '-8w') or ISO8601. Defaults to -30d."
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_to",
            "smithy.api#documentation": "Window end: relative or ISO8601. Defaults to now."
          }
        },
        "github_team": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "github_team",
            "smithy.api#documentation": "GitHub team slug: scope the read to pull requests authored by the team's members, through the team membership table. Pass exactly one scope."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "'owner/name' repository. Required with pr_number; otherwise it picks the repository when the selected source syncs several."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#DeliverySummary": {
      "type": "structure",
      "members": {
        "cost_per_merged_pr_usd": {
          "target": "com.posthog.engineering_analytics#ScopeRepoFigure",
          "traits": {
            "smithy.api#documentation": "Median estimated CI cost per merged PR, in USD, over every run linked to the PR (merge-queue gate runs included) that started up to 30 days before the window. Null when the jobs table isn't synced.",
            "smithy.api#required": {}
          }
        },
        "billable_minutes_per_merged_pr": {
          "target": "com.posthog.engineering_analytics#ScopeRepoFigure",
          "traits": {
            "smithy.api#documentation": "Median billable runner minutes per merged PR, on the billed clock. Null when the jobs table isn't synced.",
            "smithy.api#required": {}
          }
        },
        "cost_per_push_usd": {
          "target": "com.posthog.engineering_analytics#ScopeRepoFigure",
          "traits": {
            "smithy.api#documentation": "Total CI cost divided by total pushes over the merged PRs: the price of one iteration. A push is a distinct head commit that triggered CI.",
            "smithy.api#required": {}
          }
        },
        "median_ready_to_merge_seconds": {
          "target": "com.posthog.engineering_analytics#ScopeRepoFigure",
          "traits": {
            "smithy.api#documentation": "Median seconds from the last ready_for_review to merge. Null when issue events aren't synced.",
            "smithy.api#required": {}
          }
        },
        "p90_ready_to_merge_seconds": {
          "target": "com.posthog.engineering_analytics#ScopeRepoFigure",
          "traits": {
            "smithy.api#documentation": "90th percentile of the ready-to-merge seconds.",
            "smithy.api#required": {}
          }
        },
        "median_ready_to_first_approval_seconds": {
          "target": "com.posthog.engineering_analytics#ScopeRepoFigure",
          "traits": {
            "smithy.api#documentation": "Median seconds from ready to the first approval. An approval given while the PR was a draft counts as 0. PRs merged without an approval are left out. Null when reviews aren't synced.",
            "smithy.api#required": {}
          }
        },
        "median_first_approval_to_merge_seconds": {
          "target": "com.posthog.engineering_analytics#ScopeRepoFigure",
          "traits": {
            "smithy.api#documentation": "Median seconds from the first approval to merge. This median and the one before it do not add up to the ready-to-merge median.",
            "smithy.api#required": {}
          }
        },
        "before_first_approval_share": {
          "target": "com.posthog.engineering_analytics#ScopeRepoFigure",
          "traits": {
            "smithy.api#documentation": "Share (0 to 1) of all ready-to-merge hours spent before the first approval, summed over the PRs, so long PRs weigh more. The rest came after the approval.",
            "smithy.api#required": {}
          }
        },
        "pushes_after_approval_per_merged_pr": {
          "target": "com.posthog.engineering_analytics#ScopeRepoFigure",
          "traits": {
            "smithy.api#documentation": "Mean pushes after the first approval per merged PR, over PRs with an approval.",
            "smithy.api#required": {}
          }
        },
        "merge_queue_attempts_per_merged_pr": {
          "target": "com.posthog.engineering_analytics#ScopeRepoFigure",
          "traits": {
            "smithy.api#documentation": "Mean merge-queue gate attempts per merged PR that went through the queue. A bisection probe folds into its attempt.",
            "smithy.api#required": {}
          }
        },
        "failed_merge_queue_share": {
          "target": "com.posthog.engineering_analytics#ScopeRepoFigure",
          "traits": {
            "smithy.api#documentation": "Share (0 to 1) of queue-landed merged PRs with at least one failed gate attempt. A failure caused by another PR ahead in the queue also counts, because the queue history is not in the warehouse.",
            "smithy.api#required": {}
          }
        },
        "lead_time": {
          "target": "com.posthog.engineering_analytics#DeliveryLeadTime",
          "traits": {
            "smithy.api#documentation": "Lead time to deploy for the scope against the repository.",
            "smithy.api#required": {}
          }
        },
        "scope_kind": {
          "target": "com.posthog.engineering_analytics#DeliveryScopeKindEnum",
          "traits": {
            "smithy.api#documentation": "What the read covers: 'author' (one GitHub login), 'github_team' (the members of one GitHub team, through the team membership table), or 'pull_request' (one pull request).\n\n* `author` - AUTHOR\n* `github_team` - GITHUB_TEAM\n* `pull_request` - PULL_REQUEST",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GitHub login or GitHub team slug the summary is for.",
            "smithy.api#required": {}
          }
        },
        "has_membership_data": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the team membership table is synced. A github_team scope without it matches no pull requests, so every scope figure is empty rather than the whole repository.",
            "smithy.api#required": {}
          }
        },
        "jobs_available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the workflow jobs table is synced, which cost needs.",
            "smithy.api#required": {}
          }
        },
        "review_data_available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the reviews table is synced, which the approval split needs.",
            "smithy.api#required": {}
          }
        },
        "ready_data_available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when issue events are synced, which ready-to-merge time needs.",
            "smithy.api#required": {}
          }
        },
        "opened_pr_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "PRs in scope opened in the window, drafts included, bots excluded.",
            "smithy.api#required": {}
          }
        },
        "merged_pr_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "PRs in scope merged in the window (bots and drafts excluded): the population of every per-merged-PR figure.",
            "smithy.api#required": {}
          }
        },
        "open_pr_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "PRs in scope that are open and not drafts right now. Ignores the window.",
            "smithy.api#required": {}
          }
        },
        "draft_pr_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "PRs in scope that are open drafts right now. Ignores the window.",
            "smithy.api#required": {}
          }
        },
        "total_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Estimated CI cost summed over the merged PRs in scope. Null when nothing was costable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "total_billable_minutes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Billable minutes summed over the merged PRs in scope. Null when the jobs table isn't synced.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "push_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pushes summed over the merged PRs in scope.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#ScopeRepoFigure": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The figure over the pull requests in scope. Null when the scope has nothing to measure.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "repo": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The same figure over every non-bot pull request in the repository, the scope included. Null when the repository has nothing to measure.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#DeliveryLeadTime": {
      "type": "structure",
      "members": {
        "open_to_deploy": {
          "target": "com.posthog.engineering_analytics#ScopeRepoDistribution",
          "traits": {
            "smithy.api#documentation": "Open to the first successful deploy containing the merge, over PRs deployed in the window.",
            "smithy.api#required": {}
          }
        },
        "open_to_merge": {
          "target": "com.posthog.engineering_analytics#ScopeRepoDistribution",
          "traits": {
            "smithy.api#documentation": "Open to merge over the same deployed PRs, so it composes with merge_to_deploy. Includes draft time.",
            "smithy.api#required": {}
          }
        },
        "merge_to_deploy": {
          "target": "com.posthog.engineering_analytics#ScopeRepoDistribution",
          "traits": {
            "smithy.api#documentation": "Merge to deploy over the same deployed PRs.",
            "smithy.api#required": {}
          }
        },
        "deploy_data_available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "False when the deployments and deployment statuses tables aren't synced. The distributions are then empty.",
            "smithy.api#required": {}
          }
        },
        "environment_scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deploy environments lead time was scoped to: production by default. Empty when deploy data is not available.",
            "smithy.api#required": {}
          }
        },
        "merged_pr_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "PRs in scope merged in the window (bots and drafts excluded).",
            "smithy.api#required": {}
          }
        },
        "deployed_merged_pr_count": {
          "target": "smithy.api#Integer",
          "traits": {
[...]
