{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.evaluations#ListEvaluationsRequestEvaluationType": {
      "type": "enum",
      "members": {
        "HOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hog"
          }
        },
        "LLM_JUDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "llm_judge"
          }
        },
        "SENTIMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sentiment"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#ListEvaluationsRequestIdInList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.evaluations#ListEvaluationsRequestOrderByItem": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-created_at"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-name"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-updated_at"
          }
        },
        "CREATED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "NAME_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "UPDATED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#ListEvaluationsRequestOrderByList": {
      "type": "list",
      "member": {
        "target": "com.posthog.evaluations#ListEvaluationsRequestOrderByItem"
      },
      "traits": {}
    },
    "com.posthog.evaluations#ListEvaluationsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "directory_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "directory_id",
            "smithy.api#documentation": "Filter evaluations by directory UUID."
          }
        },
        "directory_id__isnull": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "directory_id__isnull",
            "smithy.api#documentation": "Filter evaluations by whether they are at the top level."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "enabled",
            "smithy.api#documentation": "Filter by enabled status"
          }
        },
        "evaluation_type": {
          "target": "com.posthog.evaluations#ListEvaluationsRequestEvaluationType",
          "traits": {
            "smithy.api#httpQuery": "evaluation_type",
            "smithy.api#documentation": "Filter by evaluation type\n\n* `llm_judge` - LLM as a judge\n* `hog` - Hog\n* `sentiment` - Sentiment analysis"
          }
        },
        "id__in": {
          "target": "com.posthog.evaluations#ListEvaluationsRequestIdInList",
          "traits": {
            "smithy.api#httpQuery": "id__in",
            "smithy.api#documentation": "Multiple values may be separated by commas."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "order_by": {
          "target": "com.posthog.evaluations#ListEvaluationsRequestOrderByList",
          "traits": {
            "smithy.api#httpQuery": "order_by",
            "smithy.api#documentation": "Ordering\n\n* `created_at` - Created At\n* `-created_at` - Created At (descending)\n* `updated_at` - Updated At\n* `-updated_at` - Updated At (descending)\n* `name` - Name\n* `-name` - Name (descending)"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search in name or description"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.evaluations#PaginatedEvaluationList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.evaluations#PaginatedEvaluationListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#Evaluation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the evaluation."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of what this evaluation checks."
          }
        },
        "directory_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Directory containing the evaluation. Pass null to move the evaluation to the top level.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the evaluation runs automatically on new $ai_generation events."
          }
        },
        "status": {
          "target": "com.posthog.evaluations#EvaluationStatusEnum"
        },
        "status_reason": {
          "target": "com.posthog.evaluations#EvaluationStatusReasonEnum",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "status_reason_detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional detail for the current system-disabled status. This is only populated when the detail is safe to show in the evaluation UI.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "evaluation_type": {
          "target": "com.posthog.evaluations#EvaluationTypeEnum",
          "traits": {
            "smithy.api#documentation": "'llm_judge' uses an LLM to score outputs against a prompt; 'hog' runs deterministic Hog code; 'sentiment' classifies user-message sentiment (trained on English, so use 'llm_judge' for multilingual agents).\n\n* `llm_judge` - LLM as a judge\n* `hog` - Hog\n* `sentiment` - Sentiment analysis"
          }
        },
        "evaluation_config": {
          "target": "com.posthog.evaluations#EvaluationEvaluationConfig",
          "traits": {
            "smithy.api#documentation": "Configuration dict. For 'llm_judge': {prompt}; for 'hog': {source}; for 'sentiment': {source: 'user_messages'}."
          }
        },
        "output_type": {
          "target": "com.posthog.evaluations#OutputTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output format: 'boolean', 'numeric' for a finite score, 'categorical' for category keys, or 'sentiment' for sentiment analysis.\n\n* `boolean` - Boolean (Pass/Fail)\n* `numeric` - Numeric\n* `categorical` - Categorical\n* `sentiment` - Sentiment"
          }
        },
        "output_config": {
          "target": "com.posthog.evaluations#EvaluationOutputConfig",
          "traits": {
            "smithy.api#documentation": "Output config. For 'boolean' output_type: {allows_na} to permit N/A results, and {true_is_failure} to declare that a true result means the evaluation found a problem. For 'numeric': only min/max/step, allows_na, and passing_rule {operator: 'gte'|'lte', threshold}. For 'categorical': options [{key, label}], selection_mode (single or multiple), allows_na, and optional passing_rule {categories: [key]}. Do not send true_is_failure for numeric or categorical output. For 'sentiment': {}."
          }
        },
        "conditions": {
          "target": "com.posthog.evaluations#EvaluationConditionsList",
          "traits": {
            "smithy.api#documentation": "Trigger conditions that filter which events are evaluated. OR between condition sets, AND within each. Each set is {id, rollout_percentage, properties[]} — `rollout_percentage` (0-100, defaults to 100) is the sampling field the dispatcher reads."
          }
        },
        "target": {
          "target": "com.posthog.evaluations#EvaluationTargetEnum",
          "traits": {
            "smithy.api#documentation": "What the evaluation runs on. 'generation' evaluates each matching $ai_generation event individually. 'trace' evaluates the whole trace once and 'session' the whole $ai_session_id session once: the first matching generation schedules a run that waits for the unit to settle, then evaluates all of its events together. Condition filters still match individual generations — a unit is evaluated when any of its generations matches, and sampling applies per unit. A 'session' evaluation only fires for generations that carry $ai_session_id. When and how the run fires is controlled by target_config's settle strategy.\n\n* `generation` - Generation\n* `trace` - Trace\n* `session` - Session"
          }
        },
        "target_config": {
          "target": "com.posthog.evaluations#EvaluationTargetConfig",
          "traits": {
            "smithy.api#documentation": "Target-specific config. For 'trace' and 'session' targets: a settle config discriminated on `strategy`, either 'fixed_window' {window_seconds} or 'inactivity' {quiet_period_seconds, max_age_seconds}. Send `strategy` explicitly. The server fills in any other field you omit, using per-target defaults, and the accepted bounds also depend on `target`. Empty for 'generation'."
          }
        },
        "model_configuration": {
          "target": "com.posthog.evaluations#ModelConfiguration",
          "traits": {
            "smithy.api#documentation": "Provider and model for an llm_judge evaluation. Required when creating or switching to llm_judge. To add or replace a model, provide both provider and model. On an existing configured llm_judge, omit this field to keep the current model; null is rejected. When switching an llm_judge to hog or sentiment, set this field to null. Legacy llm_judge evaluations without a model remain editable without adding one. The nested provider_key_id may be null.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.evaluations#UserBasic",
          "traits": {
            "smithy.api#documentation": "User who created the evaluation.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to soft-delete the evaluation."
          }
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An evaluation that scores LLM generations, traces, or sessions."
      }
    },
    "com.posthog.evaluations#EvaluationStatusEnum": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paused"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `active` - Active\n* `paused` - Paused\n* `error` - Error"
      }
    },
    "com.posthog.evaluations#EvaluationStatusReasonEnum": {
      "type": "enum",
      "members": {
        "PROVIDER_KEY_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provider_key_required"
          }
        },
        "PROVIDER_KEY_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provider_key_deleted"
          }
        },
        "NO_DEFAULT_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_default_model"
          }
        },
        "PROVIDER_KEY_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provider_key_invalid"
          }
        },
        "PROVIDER_KEY_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provider_key_permission_denied"
          }
        },
        "PROVIDER_KEY_QUOTA_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provider_key_quota_exceeded"
          }
        },
        "PROVIDER_KEY_RATE_LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provider_key_rate_limited"
          }
        },
        "MODEL_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model_not_found"
          }
        },
        "MODEL_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model_not_supported"
          }
        },
        "HOG_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hog_error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `provider_key_required` - No provider API key configured\n* `provider_key_deleted` - Provider API key was deleted\n* `no_default_model` - No default model available for the selected provider\n* `provider_key_invalid` - Provider API key is invalid\n* `provider_key_permission_denied` - Provider API key lacks model access\n* `provider_key_quota_exceeded` - Provider API key quota exceeded\n* `provider_key_rate_limited` - Provider API key is rate limited\n* `model_not_found` - Model not found\n* `model_not_supported` - Model does not support chat completions\n* `hog_error` - Hog evaluation code failed"
      }
    },
    "com.posthog.evaluations#EvaluationTypeEnum": {
      "type": "enum",
      "members": {
        "LLM_JUDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "llm_judge"
          }
        },
        "HOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hog"
          }
        },
        "SENTIMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sentiment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `llm_judge` - LLM as a judge\n* `hog` - Hog\n* `sentiment` - Sentiment analysis"
      }
    },
    "com.posthog.evaluations#EvaluationEvaluationConfigCase0": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Evaluation criteria for the LLM judge. Describe what makes a good vs bad response.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#EvaluationEvaluationConfigCase1": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hog source code. Return a boolean, finite number, or category keys matching output_type. Categorical single selection accepts one key or a one-item list; multiple selection accepts a list, including []. Return null only for allowed N/A. Output settings determine which boolean counts as a failure.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#EvaluationEvaluationConfigCase2Source": {
      "type": "enum",
      "members": {
        "USER_MESSAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_messages"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Classify sentiment from user messages in the generation input. The classifier is trained on English, so labels are unreliable for other languages; use an 'llm_judge' evaluation for multilingual agents."
      }
    },
    "com.posthog.evaluations#EvaluationEvaluationConfigCase2": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.posthog.evaluations#EvaluationEvaluationConfigCase2Source",
          "traits": {
            "smithy.api#documentation": "Classify sentiment from user messages in the generation input. The classifier is trained on English, so labels are unreliable for other languages; use an 'llm_judge' evaluation for multilingual agents."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#EvaluationEvaluationConfig": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.evaluations#EvaluationEvaluationConfigCase0"
        },
        "Case1": {
          "target": "com.posthog.evaluations#EvaluationEvaluationConfigCase1"
        },
        "Case2": {
          "target": "com.posthog.evaluations#EvaluationEvaluationConfigCase2"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration dict. For 'llm_judge': {prompt}; for 'hog': {source}; for 'sentiment': {source: 'user_messages'}."
      }
    },
    "com.posthog.evaluations#OutputTypeEnum": {
      "type": "enum",
      "members": {
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "NUMERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "numeric"
          }
        },
        "CATEGORICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "categorical"
          }
        },
        "SENTIMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sentiment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `boolean` - Boolean (Pass/Fail)\n* `numeric` - Numeric\n* `categorical` - Categorical\n* `sentiment` - Sentiment"
      }
    },
    "com.posthog.evaluations#EvaluationOutputConfigOptionsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable category key.",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category display label.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#EvaluationOutputConfigOptionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.evaluations#EvaluationOutputConfigOptionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Categorical output options. Keys identify stored results; labels are displayed to users."
      }
    },
    "com.posthog.evaluations#EvaluationOutputConfigSelectionMode": {
      "type": "enum",
      "members": {
        "SINGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "single"
          }
        },
        "MULTIPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiple"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Select one category or multiple categories. Multiple selection allows an empty result. Defaults to single."
      }
    },
    "com.posthog.evaluations#EvaluationOutputConfigPassingRuleCase0Operator": {
      "type": "enum",
      "members": {
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pass at or above (gte), or at or below (lte), the threshold."
      }
    },
    "com.posthog.evaluations#EvaluationOutputConfigPassingRuleCase0": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "com.posthog.evaluations#EvaluationOutputConfigPassingRuleCase0Operator",
          "traits": {
            "smithy.api#documentation": "Pass at or above (gte), or at or below (lte), the threshold.",
            "smithy.api#required": {}
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Finite passing threshold within any configured score bounds.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#EvaluationOutputConfigPassingRuleCase1CategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Passing category keys. With keys selected, results must be non-empty and contain only these keys. If no passing keys are selected, only an empty result passes."
      }
    },
    "com.posthog.evaluations#EvaluationOutputConfigPassingRuleCase1": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.posthog.evaluations#EvaluationOutputConfigPassingRuleCase1CategoriesList",
          "traits": {
            "smithy.api#documentation": "Passing category keys. With keys selected, results must be non-empty and contain only these keys. If no passing keys are selected, only an empty result passes.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#EvaluationOutputConfigPassingRule": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.evaluations#EvaluationOutputConfigPassingRuleCase0"
        },
        "Case1": {
          "target": "com.posthog.evaluations#EvaluationOutputConfigPassingRuleCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional numeric or categorical passing rule. Null removes the rule; historical results use the current rule."
      }
    },
    "com.posthog.evaluations#EvaluationOutputConfig": {
      "type": "structure",
      "members": {
        "allows_na": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the evaluation can return N/A for non-applicable generations."
          }
        },
        "true_is_failure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean output only. Omit for numeric, categorical, and sentiment output. Whether a true result means the evaluation found a problem. False (the default) suits pass/fail evaluations, where a true result satisfied the criteria. Set it to true for detector-style evaluations, so a true result is counted and labeled as a fail."
          }
        },
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Inclusive minimum numeric score. Omit for no lower bound. Required for System One numeric judges.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Inclusive maximum numeric score. Omit for no upper bound. Required for System One numeric judges and must exceed min.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "step": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional positive input increment. Does not round evaluation results.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "options": {
          "target": "com.posthog.evaluations#EvaluationOutputConfigOptionsList",
          "traits": {
            "smithy.api#documentation": "Categorical output options. Keys identify stored results; labels are displayed to users."
          }
        },
        "selection_mode": {
          "target": "com.posthog.evaluations#EvaluationOutputConfigSelectionMode",
          "traits": {
            "smithy.api#documentation": "Select one category or multiple categories. Multiple selection allows an empty result. Defaults to single."
          }
        },
        "passing_rule": {
          "target": "com.posthog.evaluations#EvaluationOutputConfigPassingRule",
          "traits": {
            "smithy.api#documentation": "Optional numeric or categorical passing rule. Null removes the rule; historical results use the current rule.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output config. For 'boolean' output_type: {allows_na} to permit N/A results, and {true_is_failure} to declare that a true result means the evaluation found a problem. For 'numeric': only min/max/step, allows_na, and passing_rule {operator: 'gte'|'lte', threshold}. For 'categorical': options [{key, label}], selection_mode (single or multiple), allows_na, and optional passing_rule {categories: [key]}. Do not send true_is_failure for numeric or categorical output. For 'sentiment': {}."
      }
    },
    "com.posthog.evaluations#EvaluationCondition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable identifier for this condition set.",
            "smithy.api#required": {}
          }
        },
        "rollout_percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage (0-100) of matching events to sample for this evaluation. Defaults to 100."
          }
        },
        "properties": {
          "target": "com.posthog.evaluations#EvaluationConditionPropertiesList",
          "traits": {
            "smithy.api#documentation": "Property filters (event or person) that scope which generations match this condition set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A trigger condition set controlling which generations an evaluation runs on."
      }
    },
    "com.posthog.evaluations#EvaluationConditionPropertiesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.evaluations#EvaluationConditionPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.evaluations#EvaluationConditionPropertiesItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Property filters (event or person) that scope which generations match this condition set."
      }
    },
    "com.posthog.evaluations#EvaluationConditionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.evaluations#EvaluationCondition"
      },
      "traits": {
        "smithy.api#documentation": "Trigger conditions that filter which events are evaluated. OR between condition sets, AND within each. Each set is {id, rollout_percentage, properties[]} — `rollout_percentage` (0-100, defaults to 100) is the sampling field the dispatcher reads."
      }
    },
    "com.posthog.evaluations#EvaluationTargetEnum": {
      "type": "enum",
      "members": {
        "GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "generation"
          }
        },
        "TRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trace"
          }
        },
        "SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `generation` - Generation\n* `trace` - Trace\n* `session` - Session"
      }
    },
    "com.posthog.evaluations#EvaluationTargetConfigCase0Strategy": {
      "type": "enum",
      "members": {
        "FIXED_WINDOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed_window"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wait a fixed window after the first matching generation, then evaluate."
      }
    },
    "com.posthog.evaluations#EvaluationTargetConfigCase0": {
      "type": "structure",
      "members": {
        "strategy": {
          "target": "com.posthog.evaluations#EvaluationTargetConfigCase0Strategy",
          "traits": {
            "smithy.api#documentation": "Wait a fixed window after the first matching generation, then evaluate.",
            "smithy.api#required": {}
          }
        },
        "window_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds to wait after the first matching generation before evaluating the whole unit. Captured when the run is scheduled — editing it does not change runs already in flight. The accepted range depends on `target`: 10–7200 for 'trace', 10–604800 for 'session'. The default also depends on `target`; see the field-level help_text."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#EvaluationTargetConfigCase1Strategy": {
      "type": "enum",
      "members": {
        "INACTIVITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactivity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Evaluate once the unit has had no new activity for the quiet period."
      }
    },
    "com.posthog.evaluations#EvaluationTargetConfigCase1": {
      "type": "structure",
      "members": {
        "strategy": {
          "target": "com.posthog.evaluations#EvaluationTargetConfigCase1Strategy",
          "traits": {
            "smithy.api#documentation": "Evaluate once the unit has had no new activity for the quiet period.",
            "smithy.api#required": {}
          }
        },
        "quiet_period_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds without new activity before the unit counts as settled. The accepted range depends on `target`: 10–1800 for 'trace', 10–86400 for 'session'. The default also depends on `target`; see the field-level help_text."
          }
        },
        "max_age_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hard cap in seconds on the total wait from the first matching generation, even if the unit stays active. Must be at least quiet_period_seconds. The accepted range depends on `target`: 60–7200 for 'trace', 60–604800 for 'session'. The default also depends on `target`; see the field-level help_text."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#EvaluationTargetConfig": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.evaluations#EvaluationTargetConfigCase0"
        },
        "Case1": {
          "target": "com.posthog.evaluations#EvaluationTargetConfigCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Target-specific config. For 'trace' and 'session' targets: a settle config discriminated on `strategy`, either 'fixed_window' {window_seconds} or 'inactivity' {quiet_period_seconds, max_age_seconds}. Send `strategy` explicitly. The server fills in any other field you omit, using per-target defaults, and the accepted bounds also depend on `target`. Empty for 'generation'."
      }
    },
    "com.posthog.evaluations#ModelConfiguration": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.posthog.evaluations#LLMProviderEnum"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "provider_key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional team provider key to run this evaluation with; it must use the same provider. May be null when no key is pinned or after the selected key is removed.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "provider_key_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Nested serializer for model configuration."
      }
    },
    "com.posthog.evaluations#LLMProviderEnum": {
      "type": "enum",
      "members": {
        "OPENAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai"
          }
        },
        "ANTHROPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic"
          }
        },
        "GEMINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gemini"
          }
        },
        "OPENROUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openrouter"
          }
        },
        "FIREWORKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fireworks"
          }
        },
        "AZURE_OPENAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "azure_openai"
          }
        },
        "TOGETHER_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "together_ai"
          }
        },
        "MINIMAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minimax"
          }
        },
        "ZEABUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zeabur"
          }
        },
        "SYSTEM_ONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system_one"
          }
        },
        "OPENAI_COMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai_compatible"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `openai` - Openai\n* `anthropic` - Anthropic\n* `gemini` - Gemini\n* `openrouter` - Openrouter\n* `fireworks` - Fireworks\n* `azure_openai` - Azure OpenAI\n* `together_ai` - Together AI\n* `minimax` - MiniMax\n* `zeabur` - Zeabur AI Hub\n* `system_one` - System One\n* `openai_compatible` - OpenAI-compatible"
      }
    },
    "com.posthog.evaluations#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.evaluations#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.evaluations#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.evaluations#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.evaluations#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.evaluations#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.evaluations#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#PaginatedEvaluationListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.evaluations#Evaluation"
      },
      "traits": {}
    },
    "com.posthog.evaluations#ListEvaluations": {
      "type": "operation",
      "input": {
        "target": "com.posthog.evaluations#ListEvaluationsRequest"
      },
      "output": {
        "target": "com.posthog.evaluations#PaginatedEvaluationList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/evaluations/",
          "code": 200
        }
      }
    },
    "com.posthog.evaluations#CreateEvaluationRequestEvaluationConfigCase0": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Evaluation criteria for the LLM judge. Describe what makes a good vs bad response.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#CreateEvaluationRequestEvaluationConfigCase1": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hog source code. Return a boolean, finite number, or category keys matching output_type. Categorical single selection accepts one key or a one-item list; multiple selection accepts a list, including []. Return null only for allowed N/A. Output settings determine which boolean counts as a failure.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#CreateEvaluationRequestEvaluationConfigCase2Source": {
      "type": "enum",
      "members": {
        "USER_MESSAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_messages"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Classify sentiment from user messages in the generation input. The classifier is trained on English, so labels are unreliable for other languages; use an 'llm_judge' evaluation for multilingual agents."
      }
    },
    "com.posthog.evaluations#CreateEvaluationRequestEvaluationConfigCase2": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestEvaluationConfigCase2Source",
          "traits": {
            "smithy.api#documentation": "Classify sentiment from user messages in the generation input. The classifier is trained on English, so labels are unreliable for other languages; use an 'llm_judge' evaluation for multilingual agents."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#CreateEvaluationRequestEvaluationConfig": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestEvaluationConfigCase0"
        },
        "Case1": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestEvaluationConfigCase1"
        },
        "Case2": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestEvaluationConfigCase2"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration dict. For 'llm_judge': {prompt}; for 'hog': {source}; for 'sentiment': {source: 'user_messages'}."
      }
    },
    "com.posthog.evaluations#CreateEvaluationRequestOutputConfigOptionsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable category key.",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category display label.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#CreateEvaluationRequestOutputConfigOptionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.evaluations#CreateEvaluationRequestOutputConfigOptionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Categorical output options. Keys identify stored results; labels are displayed to users."
      }
    },
    "com.posthog.evaluations#CreateEvaluationRequestOutputConfigSelectionMode": {
      "type": "enum",
      "members": {
        "SINGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "single"
          }
        },
        "MULTIPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiple"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Select one category or multiple categories. Multiple selection allows an empty result. Defaults to single."
      }
    },
    "com.posthog.evaluations#CreateEvaluationRequestOutputConfigPassingRuleCase0Operator": {
      "type": "enum",
      "members": {
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pass at or above (gte), or at or below (lte), the threshold."
      }
    },
    "com.posthog.evaluations#CreateEvaluationRequestOutputConfigPassingRuleCase0": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestOutputConfigPassingRuleCase0Operator",
          "traits": {
            "smithy.api#documentation": "Pass at or above (gte), or at or below (lte), the threshold.",
            "smithy.api#required": {}
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Finite passing threshold within any configured score bounds.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#CreateEvaluationRequestOutputConfigPassingRuleCase1CategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Passing category keys. With keys selected, results must be non-empty and contain only these keys. If no passing keys are selected, only an empty result passes."
      }
    },
    "com.posthog.evaluations#CreateEvaluationRequestOutputConfigPassingRuleCase1": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestOutputConfigPassingRuleCase1CategoriesList",
          "traits": {
            "smithy.api#documentation": "Passing category keys. With keys selected, results must be non-empty and contain only these keys. If no passing keys are selected, only an empty result passes.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#CreateEvaluationRequestOutputConfigPassingRule": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestOutputConfigPassingRuleCase0"
        },
        "Case1": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestOutputConfigPassingRuleCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional numeric or categorical passing rule. Null removes the rule; historical results use the current rule."
      }
    },
    "com.posthog.evaluations#CreateEvaluationRequestOutputConfig": {
      "type": "structure",
      "members": {
        "allows_na": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the evaluation can return N/A for non-applicable generations."
          }
        },
        "true_is_failure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean output only. Omit for numeric, categorical, and sentiment output. Whether a true result means the evaluation found a problem. False (the default) suits pass/fail evaluations, where a true result satisfied the criteria. Set it to true for detector-style evaluations, so a true result is counted and labeled as a fail."
          }
        },
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Inclusive minimum numeric score. Omit for no lower bound. Required for System One numeric judges.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Inclusive maximum numeric score. Omit for no upper bound. Required for System One numeric judges and must exceed min.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "step": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional positive input increment. Does not round evaluation results.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "options": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestOutputConfigOptionsList",
          "traits": {
            "smithy.api#documentation": "Categorical output options. Keys identify stored results; labels are displayed to users."
          }
        },
        "selection_mode": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestOutputConfigSelectionMode",
          "traits": {
            "smithy.api#documentation": "Select one category or multiple categories. Multiple selection allows an empty result. Defaults to single."
          }
        },
        "passing_rule": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestOutputConfigPassingRule",
          "traits": {
            "smithy.api#documentation": "Optional numeric or categorical passing rule. Null removes the rule; historical results use the current rule.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output config. For 'boolean' output_type: {allows_na} to permit N/A results, and {true_is_failure} to declare that a true result means the evaluation found a problem. For 'numeric': only min/max/step, allows_na, and passing_rule {operator: 'gte'|'lte', threshold}. For 'categorical': options [{key, label}], selection_mode (single or multiple), allows_na, and optional passing_rule {categories: [key]}. Do not send true_is_failure for numeric or categorical output. For 'sentiment': {}."
      }
    },
    "com.posthog.evaluations#CreateEvaluationRequestConditionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.evaluations#EvaluationCondition"
      },
      "traits": {
        "smithy.api#documentation": "Trigger conditions that filter which events are evaluated. OR between condition sets, AND within each. Each set is {id, rollout_percentage, properties[]} — `rollout_percentage` (0-100, defaults to 100) is the sampling field the dispatcher reads."
      }
    },
    "com.posthog.evaluations#CreateEvaluationRequestTargetConfigCase0Strategy": {
      "type": "enum",
      "members": {
        "FIXED_WINDOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed_window"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wait a fixed window after the first matching generation, then evaluate."
      }
    },
    "com.posthog.evaluations#CreateEvaluationRequestTargetConfigCase0": {
      "type": "structure",
      "members": {
        "strategy": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestTargetConfigCase0Strategy",
          "traits": {
            "smithy.api#documentation": "Wait a fixed window after the first matching generation, then evaluate.",
            "smithy.api#required": {}
          }
        },
        "window_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds to wait after the first matching generation before evaluating the whole unit. Captured when the run is scheduled — editing it does not change runs already in flight. The accepted range depends on `target`: 10–7200 for 'trace', 10–604800 for 'session'. The default also depends on `target`; see the field-level help_text."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#CreateEvaluationRequestTargetConfigCase1Strategy": {
      "type": "enum",
      "members": {
        "INACTIVITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactivity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Evaluate once the unit has had no new activity for the quiet period."
      }
    },
    "com.posthog.evaluations#CreateEvaluationRequestTargetConfigCase1": {
      "type": "structure",
      "members": {
        "strategy": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestTargetConfigCase1Strategy",
          "traits": {
            "smithy.api#documentation": "Evaluate once the unit has had no new activity for the quiet period.",
            "smithy.api#required": {}
          }
        },
        "quiet_period_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds without new activity before the unit counts as settled. The accepted range depends on `target`: 10–1800 for 'trace', 10–86400 for 'session'. The default also depends on `target`; see the field-level help_text."
          }
        },
        "max_age_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hard cap in seconds on the total wait from the first matching generation, even if the unit stays active. Must be at least quiet_period_seconds. The accepted range depends on `target`: 60–7200 for 'trace', 60–604800 for 'session'. The default also depends on `target`; see the field-level help_text."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#CreateEvaluationRequestTargetConfig": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestTargetConfigCase0"
        },
        "Case1": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestTargetConfigCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Target-specific config. For 'trace' and 'session' targets: a settle config discriminated on `strategy`, either 'fixed_window' {window_seconds} or 'inactivity' {quiet_period_seconds, max_age_seconds}. Send `strategy` explicitly. The server fills in any other field you omit, using per-target defaults, and the accepted bounds also depend on `target`. Empty for 'generation'."
      }
    },
    "com.posthog.evaluations#ModelConfigurationInput": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.posthog.evaluations#LLMProviderEnum"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "provider_key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional team provider key to run this evaluation with; it must use the same provider. May be null when no key is pinned or after the selected key is removed.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Nested serializer for model configuration."
      }
    },
    "com.posthog.evaluations#CreateEvaluationRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the evaluation."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of what this evaluation checks."
          }
        },
        "directory_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Directory containing the evaluation. Pass null to move the evaluation to the top level.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the evaluation runs automatically on new $ai_generation events."
          }
        },
        "evaluation_type": {
          "target": "com.posthog.evaluations#EvaluationTypeEnum",
          "traits": {
            "smithy.api#documentation": "'llm_judge' uses an LLM to score outputs against a prompt; 'hog' runs deterministic Hog code; 'sentiment' classifies user-message sentiment (trained on English, so use 'llm_judge' for multilingual agents).\n\n* `llm_judge` - LLM as a judge\n* `hog` - Hog\n* `sentiment` - Sentiment analysis"
          }
        },
        "evaluation_config": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestEvaluationConfig",
          "traits": {
            "smithy.api#documentation": "Configuration dict. For 'llm_judge': {prompt}; for 'hog': {source}; for 'sentiment': {source: 'user_messages'}."
          }
        },
        "output_type": {
          "target": "com.posthog.evaluations#OutputTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output format: 'boolean', 'numeric' for a finite score, 'categorical' for category keys, or 'sentiment' for sentiment analysis.\n\n* `boolean` - Boolean (Pass/Fail)\n* `numeric` - Numeric\n* `categorical` - Categorical\n* `sentiment` - Sentiment"
          }
        },
        "output_config": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestOutputConfig",
          "traits": {
            "smithy.api#documentation": "Output config. For 'boolean' output_type: {allows_na} to permit N/A results, and {true_is_failure} to declare that a true result means the evaluation found a problem. For 'numeric': only min/max/step, allows_na, and passing_rule {operator: 'gte'|'lte', threshold}. For 'categorical': options [{key, label}], selection_mode (single or multiple), allows_na, and optional passing_rule {categories: [key]}. Do not send true_is_failure for numeric or categorical output. For 'sentiment': {}."
          }
        },
        "conditions": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestConditionsList",
          "traits": {
            "smithy.api#documentation": "Trigger conditions that filter which events are evaluated. OR between condition sets, AND within each. Each set is {id, rollout_percentage, properties[]} — `rollout_percentage` (0-100, defaults to 100) is the sampling field the dispatcher reads."
          }
        },
        "target": {
          "target": "com.posthog.evaluations#EvaluationTargetEnum",
          "traits": {
            "smithy.api#documentation": "What the evaluation runs on. 'generation' evaluates each matching $ai_generation event individually. 'trace' evaluates the whole trace once and 'session' the whole $ai_session_id session once: the first matching generation schedules a run that waits for the unit to settle, then evaluates all of its events together. Condition filters still match individual generations — a unit is evaluated when any of its generations matches, and sampling applies per unit. A 'session' evaluation only fires for generations that carry $ai_session_id. When and how the run fires is controlled by target_config's settle strategy.\n\n* `generation` - Generation\n* `trace` - Trace\n* `session` - Session"
          }
        },
        "target_config": {
          "target": "com.posthog.evaluations#CreateEvaluationRequestTargetConfig",
          "traits": {
            "smithy.api#documentation": "Target-specific config. For 'trace' and 'session' targets: a settle config discriminated on `strategy`, either 'fixed_window' {window_seconds} or 'inactivity' {quiet_period_seconds, max_age_seconds}. Send `strategy` explicitly. The server fills in any other field you omit, using per-target defaults, and the accepted bounds also depend on `target`. Empty for 'generation'."
          }
        },
        "model_configuration": {
          "target": "com.posthog.evaluations#ModelConfigurationInput",
          "traits": {
            "smithy.api#documentation": "Provider and model for an llm_judge evaluation. Required when creating or switching to llm_judge. To add or replace a model, provide both provider and model. On an existing configured llm_judge, omit this field to keep the current model; null is rejected. When switching an llm_judge to hog or sentiment, set this field to null. Legacy llm_judge evaluations without a model remain editable without adding one. The nested provider_key_id may be null.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to soft-delete the evaluation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.evaluations#CreateEvaluation": {
      "type": "operation",
      "input": {
        "target": "com.posthog.evaluations#CreateEvaluationRequest"
      },
      "output": {
        "target": "com.posthog.evaluations#Evaluation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/evaluations/",
          "code": 200
        }
      }
    },
    "com.posthog.evaluations#ListEvaluationsBackfillsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "evaluation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.evaluations#PaginatedEvaluationBackfillList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.evaluations#PaginatedEvaluationBackfillListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#EvaluationBackfill": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Backfill identifier.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.evaluations#EvaluationBackfillStatusEnum",
          "traits": {
            "smithy.api#documentation": "running while the walk is dispatching, then completed or cancelled.\n\n* `running` - Running\n* `completed` - Completed\n* `cancelled` - Cancelled",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.posthog.evaluations#EvaluationTargetEnum",
          "traits": {
            "smithy.api#documentation": "What one unit is, frozen at creation: a generation, a trace, or a session.\n\n* `generation` - Generation\n* `trace` - Trace\n* `session` - Session",
            "smithy.api#required": {}
          }
        },
        "window_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Inclusive start of the window, by unit timestamp.",
            "smithy.api#required": {}
          }
        },
        "window_end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exclusive end of the window.",
            "smithy.api#required": {}
          }
        },
        "conditions": {
          "target": "com.posthog.evaluations#EvaluationBackfillConditionsList",
          "traits": {
            "smithy.api#documentation": "Condition sets frozen at creation, so an edit to the evaluation does not change this run.",
            "smithy.api#required": {}
          }
        },
        "rerun_existing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether units with an existing result are evaluated again.",
            "smithy.api#required": {}
          }
        },
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Units matched at creation. Units that land in the window later can take dispatched_count and skipped_count past it.",
            "smithy.api#required": {}
          }
        },
        "dispatched_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Units the backfill has started an evaluation for so far.",
            "smithy.api#required": {}
          }
        },
        "skipped_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Units the live path had already covered, so nothing was dispatched.",
            "smithy.api#required": {}
          }
        },
        "failed_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Units whose evaluation failed to start. They have no result and count toward remaining_count.",
            "smithy.api#required": {}
          }
        },
        "remaining_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Units still holding no result when the run finished, counted at that moment. Zero means the window is covered, whoever graded it.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.evaluations#UserBasic",
          "traits": {
            "smithy.api#documentation": "User who started the backfill.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the backfill was created.",
            "smithy.api#required": {}
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the backfill reached a terminal status; null while it runs.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#EvaluationBackfillStatusEnum": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `running` - Running\n* `completed` - Completed\n* `cancelled` - Cancelled"
      }
    },
    "com.posthog.evaluations#EvaluationBackfillCondition": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.posthog.evaluations#EvaluationBackfillConditionPropertiesList",
          "traits": {
            "smithy.api#documentation": "Property filters (event or person) that scope which units match this condition set."
          }
        },
        "rollout_percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage (0-100) of matching units sampled for this condition set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One condition set as it was frozen onto the backfill: no id, no compiled bytecode."
      }
    },
    "com.posthog.evaluations#EvaluationBackfillConditionPropertiesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.evaluations#EvaluationBackfillConditionPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.evaluations#EvaluationBackfillConditionPropertiesItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Property filters (event or person) that scope which units match this condition set."
      }
    },
    "com.posthog.evaluations#EvaluationBackfillConditionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.evaluations#EvaluationBackfillCondition"
      },
      "traits": {
        "smithy.api#documentation": "Condition sets frozen at creation, so an edit to the evaluation does not change this run."
      }
    },
    "com.posthog.evaluations#PaginatedEvaluationBackfillListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.evaluations#EvaluationBackfill"
      },
      "traits": {}
    },
    "com.posthog.evaluations#ListEvaluationsBackfills": {
      "type": "operation",
      "input": {
        "target": "com.posthog.evaluations#ListEvaluationsBackfillsRequest"
      },
      "output": {
        "target": "com.posthog.evaluations#PaginatedEvaluationBackfillList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/evaluations/{evaluation_id}/backfills/",
          "code": 200
        },
        "smithy.api#documentation": "Historical runs of one evaluation over a closed time window (nested under an evaluation)."
      }
    },
    "com.posthog.evaluations#CreateEvaluationsBackfillRequestConditionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.evaluations#EvaluationCondition"
      },
      "traits": {
        "smithy.api#documentation": "Condition sets to match. Defaults to the evaluation's own condition sets."
      }
    },
    "com.posthog.evaluations#CreateEvaluationsBackfillRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "evaluation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "window_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Inclusive start of the window, by unit timestamp.",
            "smithy.api#required": {}
          }
        },
        "window_end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exclusive end of the window. Values in the future are clamped to now.",
            "smithy.api#required": {}
          }
        },
        "conditions": {
          "target": "com.posthog.evaluations#CreateEvaluationsBackfillRequestConditionsList",
          "traits": {
            "smithy.api#documentation": "Condition sets to match. Defaults to the evaluation's own condition sets."
          }
        },
        "rerun_existing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Evaluate units again even when this evaluation already has a result for them."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.evaluations#CreateEvaluationsBackfill": {
      "type": "operation",
      "input": {
        "target": "com.posthog.evaluations#CreateEvaluationsBackfillRequest"
      },
      "output": {
        "target": "com.posthog.evaluations#EvaluationBackfill"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/evaluations/{evaluation_id}/backfills/",
          "code": 200
        },
        "smithy.api#documentation": "Create a backfill: freeze the conditions, count the units, start the walk."
      }
    },
    "com.posthog.evaluations#GetEvaluationsBackfillRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "evaluation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this evaluation backfill."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.evaluations#GetEvaluationsBackfill": {
      "type": "operation",
      "input": {
        "target": "com.posthog.evaluations#GetEvaluationsBackfillRequest"
      },
      "output": {
        "target": "com.posthog.evaluations#EvaluationBackfill"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/evaluations/{evaluation_id}/backfills/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Historical runs of one evaluation over a closed time window (nested under an evaluation)."
      }
    },
    "com.posthog.evaluations#EvaluationsBackfillsCancelCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "evaluation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this evaluation backfill."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.evaluations#EvaluationsBackfillsCancelCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.evaluations#EvaluationsBackfillsCancelCreateRequest"
      },
      "output": {
        "target": "com.posthog.evaluations#EvaluationBackfill"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/evaluations/{evaluation_id}/backfills/{id}/cancel/",
          "code": 200
        },
        "smithy.api#documentation": "Stop a running backfill. Evaluations already dispatched still finish."
      }
    },
    "com.posthog.evaluations#CreateEvaluationsBackfillsEstimateRequestConditionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.evaluations#EvaluationCondition"
      },
      "traits": {
        "smithy.api#documentation": "Condition sets to match. Defaults to the evaluation's own condition sets."
      }
    },
    "com.posthog.evaluations#CreateEvaluationsBackfillsEstimateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "evaluation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "window_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Inclusive start of the window, by unit timestamp.",
            "smithy.api#required": {}
          }
        },
        "window_end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exclusive end of the window. Values in the future are clamped to now.",
            "smithy.api#required": {}
          }
        },
        "conditions": {
          "target": "com.posthog.evaluations#CreateEvaluationsBackfillsEstimateRequestConditionsList",
          "traits": {
            "smithy.api#documentation": "Condition sets to match. Defaults to the evaluation's own condition sets."
          }
        },
        "rerun_existing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Evaluate units again even when this evaluation already has a result for them."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.evaluations#EvaluationBackfillEstimate": {
      "type": "structure",
      "members": {
        "total_units": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Units that would be evaluated.",
            "smithy.api#required": {}
          }
        },
        "already_evaluated_units": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Units in the range this evaluation has already judged. They are excluded from total_units unless rerun_existing is set.",
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "com.posthog.evaluations#EvaluationTargetEnum",
          "traits": {
            "smithy.api#documentation": "What one unit is: a generation, a trace, or a session.\n\n* `generation` - Generation\n* `trace` - Trace\n* `session` - Session",
            "smithy.api#required": {}
          }
        },
        "window_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Window start after clamping.",
            "smithy.api#required": {}
          }
        },
        "window_end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Window end after clamping.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#CreateEvaluationsBackfillsEstimate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.evaluations#CreateEvaluationsBackfillsEstimateRequest"
      },
      "output": {
        "target": "com.posthog.evaluations#EvaluationBackfillEstimate"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/evaluations/{evaluation_id}/backfills/estimate/",
          "code": 200
        },
        "smithy.api#documentation": "Count what a backfill over the given window would evaluate, without creating one."
      }
    },
    "com.posthog.evaluations#GetEvaluationRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this evaluation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.evaluations#GetEvaluation": {
      "type": "operation",
      "input": {
        "target": "com.posthog.evaluations#GetEvaluationRequest"
      },
      "output": {
        "target": "com.posthog.evaluations#Evaluation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/evaluations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.evaluations#UpdateEvaluationRequestEvaluationConfigCase0": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Evaluation criteria for the LLM judge. Describe what makes a good vs bad response.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#UpdateEvaluationRequestEvaluationConfigCase1": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hog source code. Return a boolean, finite number, or category keys matching output_type. Categorical single selection accepts one key or a one-item list; multiple selection accepts a list, including []. Return null only for allowed N/A. Output settings determine which boolean counts as a failure.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#UpdateEvaluationRequestEvaluationConfigCase2Source": {
      "type": "enum",
      "members": {
        "USER_MESSAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_messages"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Classify sentiment from user messages in the generation input. The classifier is trained on English, so labels are unreliable for other languages; use an 'llm_judge' evaluation for multilingual agents."
      }
    },
    "com.posthog.evaluations#UpdateEvaluationRequestEvaluationConfigCase2": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.posthog.evaluations#UpdateEvaluationRequestEvaluationConfigCase2Source",
          "traits": {
            "smithy.api#documentation": "Classify sentiment from user messages in the generation input. The classifier is trained on English, so labels are unreliable for other languages; use an 'llm_judge' evaluation for multilingual agents."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#UpdateEvaluationRequestEvaluationConfig": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.evaluations#UpdateEvaluationRequestEvaluationConfigCase0"
        },
        "Case1": {
          "target": "com.posthog.evaluations#UpdateEvaluationRequestEvaluationConfigCase1"
        },
        "Case2": {
          "target": "com.posthog.evaluations#UpdateEvaluationRequestEvaluationConfigCase2"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration dict. For 'llm_judge': {prompt}; for 'hog': {source}; for 'sentiment': {source: 'user_messages'}."
      }
    },
    "com.posthog.evaluations#UpdateEvaluationRequestOutputConfigOptionsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable category key.",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category display label.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#UpdateEvaluationRequestOutputConfigOptionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.evaluations#UpdateEvaluationRequestOutputConfigOptionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Categorical output options. Keys identify stored results; labels are displayed to users."
      }
    },
    "com.posthog.evaluations#UpdateEvaluationRequestOutputConfigSelectionMode": {
      "type": "enum",
      "members": {
        "SINGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "single"
          }
        },
        "MULTIPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiple"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Select one category or multiple categories. Multiple selection allows an empty result. Defaults to single."
      }
    },
    "com.posthog.evaluations#UpdateEvaluationRequestOutputConfigPassingRuleCase0Operator": {
      "type": "enum",
      "members": {
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pass at or above (gte), or at or below (lte), the threshold."
      }
    },
    "com.posthog.evaluations#UpdateEvaluationRequestOutputConfigPassingRuleCase0": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "com.posthog.evaluations#UpdateEvaluationRequestOutputConfigPassingRuleCase0Operator",
          "traits": {
            "smithy.api#documentation": "Pass at or above (gte), or at or below (lte), the threshold.",
            "smithy.api#required": {}
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Finite passing threshold within any configured score bounds.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#UpdateEvaluationRequestOutputConfigPassingRuleCase1CategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Passing category keys. With keys selected, results must be non-empty and contain only these keys. If no passing keys are selected, only an empty result passes."
      }
    },
    "com.posthog.evaluations#UpdateEvaluationRequestOutputConfigPassingRuleCase1": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.posthog.evaluations#UpdateEvaluationRequestOutputConfigPassingRuleCase1CategoriesList",
          "traits": {
            "smithy.api#documentation": "Passing category keys. With keys selected, results must be non-empty and contain only these keys. If no passing keys are selected, only an empty result passes.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#UpdateEvaluationRequestOutputConfigPassingRule": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.evaluations#UpdateEvaluationRequestOutputConfigPassingRuleCase0"
        },
        "Case1": {
          "target": "com.posthog.evaluations#UpdateEvaluationRequestOutputConfigPassingRuleCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional numeric or categorical passing rule. Null removes the rule; historical results use the current rule."
      }
    },
    "com.posthog.evaluations#UpdateEvaluationRequestOutputConfig": {
      "type": "structure",
      "members": {
        "allows_na": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the evaluation can return N/A for non-applicable generations."
          }
        },
        "true_is_failure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean output only. Omit for numeric, categorical, and sentiment output. Whether a true result means the evaluation found a problem. False (the default) suits pass/fail evaluations, where a true result satisfied the criteria. Set it to true for detector-style evaluations, so a true result is counted and labeled as a fail."
          }
        },
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Inclusive minimum numeric score. Omit for no lower bound. Required for System One numeric judges.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Inclusive maximum numeric score. Omit for no upper bound. Required for System One numeric judges and must exceed min.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "step": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional positive input increment. Does not round evaluation results.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "options": {
          "target": "com.posthog.evaluations#UpdateEvaluationRequestOutputConfigOptionsList",
          "traits": {
            "smithy.api#documentation": "Categorical output options. Keys identify stored results; labels are displayed to users."
          }
        },
        "selection_mode": {
          "target": "com.posthog.evaluations#UpdateEvaluationRequestOutputConfigSelectionMode",
          "traits": {
            "smithy.api#documentation": "Select one category or multiple categories. Multiple selection allows an empty result. Defaults to single."
          }
        },
        "passing_rule": {
          "target": "com.posthog.evaluations#UpdateEvaluationRequestOutputConfigPassingRule",
          "traits": {
            "smithy.api#documentation": "Optional numeric or categorical passing rule. Null removes the rule; historical results use the current rule.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output config. For 'boolean' output_type: {allows_na} to permit N/A results, and {true_is_failure} to declare that a true result means the evaluation found a problem. For 'numeric': only min/max/step, allows_na, and passing_rule {operator: 'gte'|'lte', threshold}. For 'categorical': options [{key, label}], selection_mode (single or multiple), allows_na, and optional passing_rule {categories: [key]}. Do not send true_is_failure for numeric or categorical output. For 'sentiment': {}."
      }
    },
    "com.posthog.evaluations#UpdateEvaluationRequestConditionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.evaluations#EvaluationCondition"
      },
      "traits": {
        "smithy.api#documentation": "Trigger conditions that filter which events are evaluated. OR between condition sets, AND within each. Each set is {id, rollout_percentage, properties[]} — `rollout_percentage` (0-100, defaults to 100) is the sampling field the dispatcher reads."
      }
    },
    "com.posthog.evaluations#UpdateEvaluationRequestTargetConfigCase0Strategy": {
      "type": "enum",
      "members": {
        "FIXED_WINDOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed_window"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wait a fixed window after the first matching generation, then evaluate."
      }
    },
    "com.posthog.evaluations#UpdateEvaluationRequestTargetConfigCase0": {
      "type": "structure",
      "members": {
        "strategy": {
          "target": "com.posthog.evaluations#UpdateEvaluationRequestTargetConfigCase0Strategy",
          "traits": {
            "smithy.api#documentation": "Wait a fixed window after the first matching generation, then evaluate.",
            "smithy.api#required": {}
          }
        },
        "window_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds to wait after the first matching generation before evaluating the whole unit. Captured when the run is scheduled — editing it does not change runs already in flight. The accepted range depends on `target`: 10–7200 for 'trace', 10–604800 for 'session'. The default also depends on `target`; see the field-level help_text."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#UpdateEvaluationRequestTargetConfigCase1Strategy": {
      "type": "enum",
      "members": {
        "INACTIVITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactivity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Evaluate once the unit has had no new activity for the quiet period."
      }
    },
    "com.posthog.evaluations#UpdateEvaluationRequestTargetConfigCase1": {
      "type": "structure",
      "members": {
        "strategy": {
          "target": "com.posthog.evaluations#UpdateEvaluationRequestTargetConfigCase1Strategy",
          "traits": {
            "smithy.api#documentation": "Evaluate once the unit has had no new activity for the quiet period.",
            "smithy.api#required": {}
          }
        },
        "quiet_period_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds without new activity before the unit counts as settled. The accepted range depends on `target`: 10–1800 for 'trace', 10–86400 for 'session'. The default also depends on `target`; see the field-level help_text."
          }
        },
        "max_age_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hard cap in seconds on the total wait from the first matching generation, even if the unit stays active. Must be at least quiet_period_seconds. The accepted range depends on `target`: 60–7200 for 'trace', 60–604800 for 'session'. The default also depends on `target`; see the field-level help_text."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluations#UpdateEvaluationRequestTargetConfig": {
      "type": "union",
      "members": {
        "Case0": {
[...]
