{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.event_definitions#ListEventDefinitionsRequestEventType": {
      "type": "enum",
      "members": {
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event"
          }
        },
        "EVENT_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event_custom"
          }
        },
        "EVENT_POSTHOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event_posthog"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.event_definitions#ListEventDefinitionsRequestNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.event_definitions#ListEventDefinitionsRequestOrderingItem": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-created_at"
          }
        },
        "CREATED_AT_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-created_at::date"
          }
        },
        "LAST_SEEN_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-last_seen_at"
          }
        },
        "LAST_SEEN_AT_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-last_seen_at::date"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-name"
          }
        },
        "CREATED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "CREATED_AT_DATE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at::date"
          }
        },
        "LAST_SEEN_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "last_seen_at"
          }
        },
        "LAST_SEEN_AT_DATE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "last_seen_at::date"
          }
        },
        "NAME_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.event_definitions#ListEventDefinitionsRequestOrderingList": {
      "type": "list",
      "member": {
        "target": "com.posthog.event_definitions#ListEventDefinitionsRequestOrderingItem"
      },
      "traits": {}
    },
    "com.posthog.event_definitions#ListEventDefinitionsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "event_type": {
          "target": "com.posthog.event_definitions#ListEventDefinitionsRequestEventType",
          "traits": {
            "smithy.api#httpQuery": "event_type",
            "smithy.api#documentation": "`event_custom` keeps only names without a `$` prefix and `event_posthog` only names with one. Default `event`."
          }
        },
        "exclude_hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "exclude_hidden",
            "smithy.api#documentation": "When true, omit events that have been explicitly hidden by a team admin (Enterprise only)."
          }
        },
        "exclude_stale": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "exclude_stale",
            "smithy.api#documentation": "When true, omit events whose last ingested occurrence is older than 30 days. Events that have never been seen (`last_seen_at` is null) are kept so newly-defined events remain discoverable. Default false. If a search returns zero results with this filter on, retry with `exclude_stale=false` and tell the user the matches are stale."
          }
        },
        "excluded_properties": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "excluded_properties",
            "smithy.api#documentation": "JSON-encoded list of event names to omit. The name matches the property definitions endpoint that shares it."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "names": {
          "target": "com.posthog.event_definitions#ListEventDefinitionsRequestNamesList",
          "traits": {
            "smithy.api#httpQuery": "names",
            "smithy.api#documentation": "Return exact matches for these event names. Pass names as repeated or comma-separated values."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "ordering": {
          "target": "com.posthog.event_definitions#ListEventDefinitionsRequestOrderingList",
          "traits": {
            "smithy.api#httpQuery": "ordering",
            "smithy.api#documentation": "Sort keys, prefixed with `-` for descending. Default `-last_seen_at::date` then `name`. Projects with more than 100000 event definitions default to `name`, unless the request sets `search`, `exclude_stale`, `verified`, `names`, `tags` or `event_type=event_posthog`."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Case-insensitive match on the event name. Every whitespace-separated term has to match."
          }
        },
        "tags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "tags",
            "smithy.api#documentation": "JSON-encoded list of tag names. Keeps events that carry any of them."
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "verified",
            "smithy.api#documentation": "When true, keep only verified events and core PostHog events. When false, keep the rest (Enterprise only)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.event_definitions#PaginatedEnterpriseEventDefinitionList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.event_definitions#PaginatedEnterpriseEventDefinitionListResultsList"
        },
        "count_is_capped": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when `count` stopped at a cap, so it is a lower bound and `next` keeps paging past it."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.event_definitions#EnterpriseEventDefinition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "owner": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.event_definitions#EnterpriseEventDefinitionTagsList"
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "updated_by": {
          "target": "com.posthog.event_definitions#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_seen_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_updated_at": {
          "target": "smithy.api#String"
        },
        "verified": {
          "target": "smithy.api#Boolean"
        },
        "verified_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "verified_by": {
          "target": "com.posthog.event_definitions#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforcement_mode": {
          "target": "com.posthog.event_definitions#SchemaEnforcementModeEnum"
        },
        "primary_property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a single property on this event that PostHog UIs should display alongside the event (for example `$pathname` on `$pageview`). When set, surfaces like the session replay inspector show the property's value next to the event name without the user having to open the event.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_action": {
          "target": "smithy.api#Boolean"
        },
        "action_id": {
          "target": "smithy.api#Integer"
        },
        "is_calculating": {
          "target": "smithy.api#Boolean"
        },
        "last_calculated_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.event_definitions#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "post_to_slack": {
          "target": "smithy.api#Boolean"
        },
        "default_columns": {
          "target": "com.posthog.event_definitions#EnterpriseEventDefinitionDefaultColumnsList"
        },
        "media_preview_urls": {
          "target": "com.posthog.event_definitions#EnterpriseEventDefinitionMediaPreviewUrlsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Serializer mixin that handles tags for objects."
      }
    },
    "com.posthog.event_definitions#EnterpriseEventDefinitionTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.event_definitions#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.event_definitions#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.event_definitions#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.event_definitions#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.event_definitions#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.event_definitions#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.event_definitions#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.event_definitions#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.event_definitions#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.event_definitions#SchemaEnforcementModeEnum": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "REJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reject"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `allow` - Allow\n* `reject` - Reject"
      }
    },
    "com.posthog.event_definitions#EnterpriseEventDefinitionDefaultColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.event_definitions#EnterpriseEventDefinitionMediaPreviewUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.event_definitions#PaginatedEnterpriseEventDefinitionListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.event_definitions#EnterpriseEventDefinition"
      },
      "traits": {}
    },
    "com.posthog.event_definitions#ListEventDefinitions": {
      "type": "operation",
      "input": {
        "target": "com.posthog.event_definitions#ListEventDefinitionsRequest"
      },
      "output": {
        "target": "com.posthog.event_definitions#PaginatedEnterpriseEventDefinitionList"
      },
      "errors": [
        {
          "target": "com.posthog.event_definitions#BadRequest"
        },
        {
          "target": "com.posthog.event_definitions#Forbidden"
        },
        {
          "target": "com.posthog.event_definitions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/event_definitions/",
          "code": 200
        },
        "smithy.api#documentation": "List the event definitions of a project. On projects with more than 50000 event definitions, `count` stops at 10000 and `count_is_capped` is true, unless the request sets `search`, `exclude_stale`, `verified`, `names`, `tags` or `event_type=event_posthog`. Projects with more than 100000 event definitions also default to ordering by name under the same condition."
      }
    },
    "com.posthog.event_definitions#CreateEventDefinitionRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.event_definitions#CreateEventDefinitionRequestDefaultColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.event_definitions#CreateEventDefinitionRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "owner": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.event_definitions#CreateEventDefinitionRequestTagsList"
        },
        "verified": {
          "target": "smithy.api#Boolean"
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforcement_mode": {
          "target": "com.posthog.event_definitions#SchemaEnforcementModeEnum"
        },
        "primary_property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a single property on this event that PostHog UIs should display alongside the event (for example `$pathname` on `$pageview`). When set, surfaces like the session replay inspector show the property's value next to the event name without the user having to open the event.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "post_to_slack": {
          "target": "smithy.api#Boolean"
        },
        "default_columns": {
          "target": "com.posthog.event_definitions#CreateEventDefinitionRequestDefaultColumnsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.event_definitions#CreateEventDefinition": {
      "type": "operation",
      "input": {
        "target": "com.posthog.event_definitions#CreateEventDefinitionRequest"
      },
      "output": {
        "target": "com.posthog.event_definitions#EnterpriseEventDefinition"
      },
      "errors": [
        {
          "target": "com.posthog.event_definitions#BadRequest"
        },
        {
          "target": "com.posthog.event_definitions#Forbidden"
        },
        {
          "target": "com.posthog.event_definitions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/event_definitions/",
          "code": 200
        }
      }
    },
    "com.posthog.event_definitions#GetEventDefinitionRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this event definition."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.event_definitions#GetEventDefinition": {
      "type": "operation",
      "input": {
        "target": "com.posthog.event_definitions#GetEventDefinitionRequest"
      },
      "output": {
        "target": "com.posthog.event_definitions#EnterpriseEventDefinition"
      },
      "errors": [
        {
          "target": "com.posthog.event_definitions#Forbidden"
        },
        {
          "target": "com.posthog.event_definitions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/event_definitions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.event_definitions#UpdateEventDefinitionRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.event_definitions#UpdateEventDefinitionRequestDefaultColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.event_definitions#UpdateEventDefinitionRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this event definition."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "owner": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.event_definitions#UpdateEventDefinitionRequestTagsList"
        },
        "verified": {
          "target": "smithy.api#Boolean"
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforcement_mode": {
          "target": "com.posthog.event_definitions#SchemaEnforcementModeEnum"
        },
        "primary_property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a single property on this event that PostHog UIs should display alongside the event (for example `$pathname` on `$pageview`). When set, surfaces like the session replay inspector show the property's value next to the event name without the user having to open the event.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "post_to_slack": {
          "target": "smithy.api#Boolean"
        },
        "default_columns": {
          "target": "com.posthog.event_definitions#UpdateEventDefinitionRequestDefaultColumnsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.event_definitions#UpdateEventDefinition": {
      "type": "operation",
      "input": {
        "target": "com.posthog.event_definitions#UpdateEventDefinitionRequest"
      },
      "output": {
        "target": "com.posthog.event_definitions#EnterpriseEventDefinition"
      },
      "errors": [
        {
          "target": "com.posthog.event_definitions#BadRequest"
        },
        {
          "target": "com.posthog.event_definitions#Forbidden"
        },
        {
          "target": "com.posthog.event_definitions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/event_definitions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.event_definitions#UpdateEventDefinitionsPartialRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.event_definitions#UpdateEventDefinitionsPartialRequestDefaultColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.event_definitions#UpdateEventDefinitionsPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this event definition."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "owner": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.event_definitions#UpdateEventDefinitionsPartialRequestTagsList"
        },
        "verified": {
          "target": "smithy.api#Boolean"
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforcement_mode": {
          "target": "com.posthog.event_definitions#SchemaEnforcementModeEnum"
        },
        "primary_property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a single property on this event that PostHog UIs should display alongside the event (for example `$pathname` on `$pageview`). When set, surfaces like the session replay inspector show the property's value next to the event name without the user having to open the event.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "post_to_slack": {
          "target": "smithy.api#Boolean"
        },
        "default_columns": {
          "target": "com.posthog.event_definitions#UpdateEventDefinitionsPartialRequestDefaultColumnsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.event_definitions#UpdateEventDefinitionsPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.event_definitions#UpdateEventDefinitionsPartialRequest"
      },
      "output": {
        "target": "com.posthog.event_definitions#EnterpriseEventDefinition"
      },
      "errors": [
        {
          "target": "com.posthog.event_definitions#BadRequest"
        },
        {
          "target": "com.posthog.event_definitions#Forbidden"
        },
        {
          "target": "com.posthog.event_definitions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/event_definitions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.event_definitions#EventDefinitionsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this event definition."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.event_definitions#EventDefinitionsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.event_definitions#EventDefinitionsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.event_definitions#Forbidden"
        },
        {
          "target": "com.posthog.event_definitions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/event_definitions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.event_definitions#EventDefinitionsBulkUpdateVerifiedCreateRequestIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of event definition UUIDs to update."
      }
    },
    "com.posthog.event_definitions#EventDefinitionsBulkUpdateVerifiedCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "ids": {
          "target": "com.posthog.event_definitions#EventDefinitionsBulkUpdateVerifiedCreateRequestIdsList",
          "traits": {
            "smithy.api#documentation": "List of event definition UUIDs to update.",
            "smithy.api#required": {}
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Target verified state to apply to every matched event. `true` marks the events as verified (and unhides them, since an event cannot be both hidden and verified); `false` unverifies them.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.event_definitions#EventDefinitionBulkUpdateVerifiedResponse": {
      "type": "structure",
      "members": {
        "updated": {
          "target": "com.posthog.event_definitions#EventDefinitionBulkUpdateVerifiedResponseUpdatedList",
          "traits": {
            "smithy.api#documentation": "Events whose verified state was changed. Events already in the target state are omitted.",
            "smithy.api#required": {}
          }
        },
        "skipped": {
          "target": "com.posthog.event_definitions#EventDefinitionBulkUpdateVerifiedResponseSkippedList",
          "traits": {
            "smithy.api#documentation": "Events that were skipped (e.g. not found in this project), with a reason each.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.event_definitions#EventDefinitionBulkUpdateVerifiedItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the event definition whose verified state changed.",
            "smithy.api#required": {}
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The event's verified state after the update.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.event_definitions#EventDefinitionBulkUpdateVerifiedResponseUpdatedList": {
      "type": "list",
      "member": {
        "target": "com.posthog.event_definitions#EventDefinitionBulkUpdateVerifiedItem"
      },
      "traits": {
        "smithy.api#documentation": "Events whose verified state was changed. Events already in the target state are omitted."
      }
    },
    "com.posthog.event_definitions#BulkUpdateTagsUUIDError": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the object that was skipped.",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the object was skipped, e.g. 'Not found or no edit access'.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.event_definitions#EventDefinitionBulkUpdateVerifiedResponseSkippedList": {
      "type": "list",
      "member": {
        "target": "com.posthog.event_definitions#BulkUpdateTagsUUIDError"
      },
      "traits": {
        "smithy.api#documentation": "Events that were skipped (e.g. not found in this project), with a reason each."
      }
    },
    "com.posthog.event_definitions#EventDefinitionsBulkUpdateVerifiedCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.event_definitions#EventDefinitionsBulkUpdateVerifiedCreateRequest"
      },
      "output": {
        "target": "com.posthog.event_definitions#EventDefinitionBulkUpdateVerifiedResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/event_definitions/bulk_update_verified/",
          "code": 200
        },
        "smithy.api#documentation": "Mark multiple event definitions as verified or unverified in one request.\n\nIn the same vein as ``bulk_update_tags``, but ``verified`` lives on the enterprise\n``EnterpriseEventDefinition`` extension rather than the base row, so this action:\n- requires an enterprise license;\n- scopes by project (``team__project_id``) and relies on project membership — the same\n  boundary the single-object update path uses — rather than object-level RBAC;\n- lazily promotes ingestion-created base rows to ``EnterpriseEventDefinition`` (mirroring\n  ``_get_event_definition``) before setting ``verified``;\n- mirrors the single-object semantics: verifying stamps ``verified_by``/``verified_at`` and\n  unhides the event (an event cannot be both hidden and verified); unverifying clears them;\n- logs a \"changed\" activity per event so the History tab matches the single-object path.\n\nEvents already in the target state are skipped (not re-written, not logged)."
      }
    },
    "com.posthog.event_definitions#GetEventDefinitionsByNameRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#required": {},
            "smithy.api#documentation": "The exact event name to look up"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.event_definitions#EventDefinitionRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_seen_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_updated_at": {
          "target": "smithy.api#String"
        },
        "tags": {
          "target": "com.posthog.event_definitions#EventDefinitionRecordTagsList"
        },
        "enforcement_mode": {
          "target": "com.posthog.event_definitions#SchemaEnforcementModeEnum"
        },
        "primary_property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a single property on this event that PostHog UIs should display alongside the event (for example `$pathname` on `$pageview`). When set, surfaces like the session replay inspector show the property's value next to the event name without the user having to open the event.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_action": {
          "target": "smithy.api#Boolean"
        },
        "action_id": {
          "target": "smithy.api#Integer"
        },
        "is_calculating": {
          "target": "smithy.api#Boolean"
        },
        "last_calculated_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.event_definitions#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "post_to_slack": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Serializer mixin that handles tags for objects."
      }
    },
    "com.posthog.event_definitions#EventDefinitionRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.event_definitions#GetEventDefinitionsByName": {
      "type": "operation",
      "input": {
        "target": "com.posthog.event_definitions#GetEventDefinitionsByNameRequest"
      },
      "output": {
        "target": "com.posthog.event_definitions#EventDefinitionRecord"
      },
      "errors": [
        {
          "target": "com.posthog.event_definitions#BadRequest"
        },
        {
          "target": "com.posthog.event_definitions#Forbidden"
        },
        {
          "target": "com.posthog.event_definitions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/event_definitions/by_name/",
          "code": 200
        },
        "smithy.api#documentation": "Get event definition by exact name"
      }
    },
    "com.posthog.event_definitions#GetEventDefinitionsGolangRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.event_definitions#GetEventDefinitionsGolang": {
      "type": "operation",
      "input": {
        "target": "com.posthog.event_definitions#GetEventDefinitionsGolangRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.event_definitions#Forbidden"
        },
        {
          "target": "com.posthog.event_definitions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/event_definitions/golang/",
          "code": 200
        }
      }
    },
    "com.posthog.event_definitions#GetEventDefinitionsPrimaryPropertyRequestNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.event_definitions#GetEventDefinitionsPrimaryPropertyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "names": {
          "target": "com.posthog.event_definitions#GetEventDefinitionsPrimaryPropertyRequestNamesList",
          "traits": {
            "smithy.api#httpQuery": "names",
            "smithy.api#documentation": "Optional: restrict the response to these event names. Repeat the parameter for multiple names (e.g. `?names=a&names=b`). When omitted, returns every team-configured primary property."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.event_definitions#PrimaryPropertiesResponse": {
      "type": "structure",
      "members": {
        "primary_properties": {
          "target": "com.posthog.event_definitions#PrimaryPropertiesResponsePrimaryPropertiesMap",
          "traits": {
            "smithy.api#documentation": "Mapping from event name to the team-configured primary property for that event. Names without a configured primary property are omitted; callers should fall back to the core taxonomy defaults for those.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.event_definitions#PrimaryPropertiesResponsePrimaryPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Mapping from event name to the team-configured primary property for that event. Names without a configured primary property are omitted; callers should fall back to the core taxonomy defaults for those."
      }
    },
    "com.posthog.event_definitions#GetEventDefinitionsPrimaryProperty": {
      "type": "operation",
      "input": {
        "target": "com.posthog.event_definitions#GetEventDefinitionsPrimaryPropertyRequest"
      },
      "output": {
        "target": "com.posthog.event_definitions#PrimaryPropertiesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/event_definitions/primary_properties/",
          "code": 200
        },
        "smithy.api#documentation": "Resolve team-configured primary properties for event definitions.\n\nThe response only contains entries where a non-null primary_property is set on the\nEventDefinition. Callers should fall back to the core taxonomy defaults client-side\nfor names not present in the response."
      }
    },
    "com.posthog.event_definitions#GetEventDefinitionsPythonRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.event_definitions#GetEventDefinitionsPython": {
      "type": "operation",
      "input": {
        "target": "com.posthog.event_definitions#GetEventDefinitionsPythonRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.event_definitions#Forbidden"
        },
        {
          "target": "com.posthog.event_definitions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/event_definitions/python/",
          "code": 200
        }
      }
    },
    "com.posthog.event_definitions#GetEventDefinitionsTypescriptRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.event_definitions#GetEventDefinitionsTypescript": {
      "type": "operation",
      "input": {
        "target": "com.posthog.event_definitions#GetEventDefinitionsTypescriptRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.event_definitions#Forbidden"
        },
        {
          "target": "com.posthog.event_definitions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/event_definitions/typescript/",
          "code": 200
        }
      }
    },
    "com.posthog.event_definitions#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.posthog.event_definitions#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.posthog.event_definitions#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.posthog.event_definitions#EventDefinitions": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.event_definitions#ListEventDefinitions"
        },
        {
          "target": "com.posthog.event_definitions#CreateEventDefinition"
        },
        {
          "target": "com.posthog.event_definitions#GetEventDefinition"
        },
        {
          "target": "com.posthog.event_definitions#UpdateEventDefinition"
        },
        {
          "target": "com.posthog.event_definitions#UpdateEventDefinitionsPartial"
        },
        {
          "target": "com.posthog.event_definitions#EventDefinitionsDestroy"
        },
        {
          "target": "com.posthog.event_definitions#EventDefinitionsBulkUpdateVerifiedCreate"
        },
        {
          "target": "com.posthog.event_definitions#GetEventDefinitionsByName"
        },
        {
          "target": "com.posthog.event_definitions#GetEventDefinitionsGolang"
        },
        {
          "target": "com.posthog.event_definitions#GetEventDefinitionsPrimaryProperty"
        },
        {
          "target": "com.posthog.event_definitions#GetEventDefinitionsPython"
        },
        {
          "target": "com.posthog.event_definitions#GetEventDefinitionsTypescript"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
