{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.external_data_schemas#ListExternalDataSchemasRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "A search term."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.external_data_schemas#PaginatedExternalDataSchemaList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.external_data_schemas#PaginatedExternalDataSchemaListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.external_data_schemas#ExternalDataSchema": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "table": {
          "target": "com.posthog.external_data_schemas#ExternalDataSchemaTableMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "should_sync": {
          "target": "smithy.api#Boolean"
        },
        "last_synced_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "latest_error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The latest error that occurred when syncing this schema.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "incremental": {
          "target": "smithy.api#Boolean"
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "sync_type": {
          "target": "com.posthog.external_data_schemas#ExternalDataSchemaSyncTypeEnum",
          "traits": {
            "smithy.api#documentation": "Sync strategy: incremental, full_refresh, append, cdc, or xmin.\n\n* `full_refresh` - full_refresh\n* `incremental` - incremental\n* `append` - append\n* `webhook` - webhook\n* `cdc` - cdc\n* `xmin` - xmin",
            "com.distilled.openapi#nullable": {}
          }
        },
        "incremental_field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column name used to track sync progress.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "incremental_field_type": {
          "target": "com.posthog.external_data_schemas#IncrementalFieldTypeEnum",
          "traits": {
            "smithy.api#documentation": "Data type of the incremental field.\n\n* `integer` - integer\n* `numeric` - numeric\n* `datetime` - datetime\n* `date` - date\n* `timestamp` - timestamp\n* `objectid` - objectid\n* `xid` - xid",
            "com.distilled.openapi#nullable": {}
          }
        },
        "incremental_field_lookback_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds to subtract from the stored incremental watermark at sync time, so each incremental run re-reads a rolling overlap window and catches late or backdated rows. Applies to timestamp/date incremental fields only. The stored watermark is unchanged. Maximum 5184000 (60 days).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sync_frequency": {
          "target": "com.posthog.external_data_schemas#ExternalDataSchemaSyncFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "How often to sync. The fastest sync frequency is 5 minutes.\n\n* `never` - never\n* `5min` - 5min\n* `15min` - 15min\n* `30min` - 30min\n* `1hour` - 1hour\n* `6hour` - 6hour\n* `12hour` - 12hour\n* `24hour` - 24hour\n* `7day` - 7day\n* `30day` - 30day",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sync_time_of_day": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC time of day to run the sync (HH:MM:SS).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "full_refresh_interval_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Days between scheduled full refreshes, from 1 to 90, or null for none. A full refresh wipes the table and re-imports every row, so rows deleted at the source are removed. It runs on the first scheduled sync once the interval has passed, counted from when it was saved or from the last full resync (or, when full_refresh_time_of_day is set, from the slot of that time the last refresh served), and can start up to an hour early. Queries keep returning the current rows until a full refresh finishes, and workflows and destinations that run on new rows of the table run again for every row. Available for incremental, append, and xmin syncs only, and never shorter than the sync frequency.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "full_refresh_time_of_day": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC time of day (HH:MM:SS) that scheduled full refreshes are due, for example outside working hours. The refresh runs on the first scheduled sync from up to an hour before this time, so on a table that syncs every few hours it can run hours later. Each interval counts from the slot of this time that the last refresh or save served, where a slot less than an hour away counts as served. Saving a new time restarts the clock, so the first refresh after a save can come up to a day before a full interval has passed. Null counts the interval from when it was saved or from the last full resync. Cleared when full_refresh_interval_days is null.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_full_refresh_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the next scheduled full refresh is due. The first scheduled sync that starts at most an hour before this time re-imports the table. Saving a new interval or time, or any full resync, moves it one interval ahead, onto full_refresh_time_of_day when that is set.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "primary_key_columns": {
          "target": "com.posthog.external_data_schemas#ExternalDataSchemaPrimaryKeyColumnsList",
          "traits": {
            "smithy.api#documentation": "Column names for primary key deduplication.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cdc_table_mode": {
          "target": "com.posthog.external_data_schemas#CdcTableModeEnum",
          "traits": {
            "smithy.api#documentation": "For CDC syncs: consolidated, cdc_only, or both.\n\n* `consolidated` - consolidated\n* `cdc_only` - cdc_only\n* `both` - both",
            "com.distilled.openapi#nullable": {}
          }
        },
        "incremental_sync_blocked": {
          "target": "com.posthog.external_data_schemas#IncrementalSyncBlockedReasonEnum",
          "traits": {
            "smithy.api#documentation": "Why the last sync run could not merge rows for this table, or `null` when no such failure is current, which includes a run that failed for another reason. A blocked table is disabled, and the resolution differs by reason. `missing_primary_key`: no key to merge on, so set `primary_key_columns` to a unique key, which is accepted because none was set before. `duplicate_primary_key`: the key in use does not identify one row, and that key cannot be swapped once data has synced, so either remove the duplicates at the source and set `should_sync` to true, or delete the synced data before setting a different key. Either reason also accepts a different `sync_type`: `append` is only safe for insert-only tables, because updated rows arrive again as duplicates, and `full_refresh` re-reads the whole table on every sync and bills every row. This reports the last run's failure, so it clears once a run succeeds or fails for another reason, not when an update lands.\n\n* `missing_primary_key` - Missing primary key\n* `duplicate_primary_key` - Duplicate primary key",
            "com.distilled.openapi#nullable": {}
          }
        },
        "enabled_columns": {
          "target": "com.posthog.external_data_schemas#ExternalDataSchemaEnabledColumnsList",
          "traits": {
            "smithy.api#documentation": "Names of source columns to sync. `null` (default) syncs all columns. Primary-key columns and the active incremental field are always retained, even if not listed here.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "row_filters": {
          "target": "com.posthog.external_data_schemas#ExternalDataSchemaRowFiltersList",
          "traits": {
            "smithy.api#documentation": "Predicates ANDed onto the source query so only matching rows sync. Each is `{column, operator, value}`; `null`/empty (default) syncs all rows. The operator must be one of `> >= < <= = != IN \"NOT IN\"` and the value must match the column's type (for `IN`/`NOT IN`, a comma-separated list like `1, 2, 3` or `'a','b'`). Applied on the next sync — not retroactive to already-synced rows.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "available_columns": {
          "target": "com.posthog.external_data_schemas#ExternalDataSchemaAvailableColumnsList",
          "traits": {
            "smithy.api#documentation": "Column metadata (name, data type, nullable) for this schema. For SQL sources this is the source-side schema discovered via `refresh_schemas`; for other sources (and once synced) it falls back to the synced table's columns. Empty only before the first successful sync/refresh."
          }
        },
        "source_column_metadata_available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether exact source-side column metadata is available for safe source-query projection."
          }
        },
        "source": {
          "target": "com.posthog.external_data_schemas#ExternalDataSchemaSource",
          "traits": {
            "smithy.api#documentation": "Lightweight parent-source summary (id, source_type, access_method, column-selection support, the requesting user's access level). Only populated on the single-schema retrieve endpoint — `null` elsewhere — so read-only views can render without fetching the full source and all its schemas.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "api_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor API version override for this schema. `null` (default) syncs on the source's pinned version. Must be one of the source type's supported versions. User-managed: version-migration tooling never changes it. Not available for webhook-sync schemas.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "api_version_deprecation": {
          "target": "com.posthog.external_data_schemas#ExternalDataSourceApiVersionDeprecation",
          "traits": {
            "smithy.api#documentation": "Set when this schema's version override is deprecated by the vendor; null when there is no override or it is not deprecated. The source-level field covers the source pin.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A schema of an external data source: its sync configuration and the warehouse table it syncs into."
      }
    },
    "com.posthog.external_data_schemas#ExternalDataSchemaTableMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.external_data_schemas#ExternalDataSchemaSyncTypeEnum": {
      "type": "enum",
      "members": {
        "FULL_REFRESH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full_refresh"
          }
        },
        "INCREMENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incremental"
          }
        },
        "APPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "append"
          }
        },
        "WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webhook"
          }
        },
        "CDC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cdc"
          }
        },
        "XMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xmin"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `full_refresh` - full_refresh\n* `incremental` - incremental\n* `append` - append\n* `webhook` - webhook\n* `cdc` - cdc\n* `xmin` - xmin"
      }
    },
    "com.posthog.external_data_schemas#IncrementalFieldTypeEnum": {
      "type": "enum",
      "members": {
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integer"
          }
        },
        "NUMERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "numeric"
          }
        },
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "datetime"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date"
          }
        },
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timestamp"
          }
        },
        "OBJECTID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "objectid"
          }
        },
        "XID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `integer` - integer\n* `numeric` - numeric\n* `datetime` - datetime\n* `date` - date\n* `timestamp` - timestamp\n* `objectid` - objectid\n* `xid` - xid"
      }
    },
    "com.posthog.external_data_schemas#ExternalDataSchemaSyncFrequencyEnum": {
      "type": "enum",
      "members": {
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        },
        "_5MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5min"
          }
        },
        "_15MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "15min"
          }
        },
        "_30MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "30min"
          }
        },
        "_1HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1hour"
          }
        },
        "_6HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "6hour"
          }
        },
        "_12HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "12hour"
          }
        },
        "_24HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24hour"
          }
        },
        "_7DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "7day"
          }
        },
        "_30DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "30day"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `never` - never\n* `5min` - 5min\n* `15min` - 15min\n* `30min` - 30min\n* `1hour` - 1hour\n* `6hour` - 6hour\n* `12hour` - 12hour\n* `24hour` - 24hour\n* `7day` - 7day\n* `30day` - 30day"
      }
    },
    "com.posthog.external_data_schemas#ExternalDataSchemaPrimaryKeyColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Column names for primary key deduplication."
      }
    },
    "com.posthog.external_data_schemas#CdcTableModeEnum": {
      "type": "enum",
      "members": {
        "CONSOLIDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "consolidated"
          }
        },
        "CDC_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cdc_only"
          }
        },
        "BOTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "both"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `consolidated` - consolidated\n* `cdc_only` - cdc_only\n* `both` - both"
      }
    },
    "com.posthog.external_data_schemas#IncrementalSyncBlockedReasonEnum": {
      "type": "enum",
      "members": {
        "MISSING_PRIMARY_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "missing_primary_key"
          }
        },
        "DUPLICATE_PRIMARY_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duplicate_primary_key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `missing_primary_key` - Missing primary key\n* `duplicate_primary_key` - Duplicate primary key"
      }
    },
    "com.posthog.external_data_schemas#ExternalDataSchemaEnabledColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Names of source columns to sync. `null` (default) syncs all columns. Primary-key columns and the active incremental field are always retained, even if not listed here."
      }
    },
    "com.posthog.external_data_schemas#ExternalDataSchemaRowFiltersItem": {
      "type": "structure",
      "members": {
        "column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "One of: > >= < <= = != IN \"NOT IN\".",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Comparison value; must match the column's type. For `IN` / `NOT IN`, a comma-separated list (e.g. `1, 2, 3` or `'a','b'`).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.external_data_schemas#ExternalDataSchemaRowFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.external_data_schemas#ExternalDataSchemaRowFiltersItem"
      },
      "traits": {
        "smithy.api#documentation": "Predicates ANDed onto the source query so only matching rows sync. Each is `{column, operator, value}`; `null`/empty (default) syncs all rows. The operator must be one of `> >= < <= = != IN \"NOT IN\"` and the value must match the column's type (for `IN`/`NOT IN`, a comma-separated list like `1, 2, 3` or `'a','b'`). Applied on the next sync — not retroactive to already-synced rows."
      }
    },
    "com.posthog.external_data_schemas#ExternalDataSchemaAvailableColumnsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data_type": {
          "target": "smithy.api#String"
        },
        "is_nullable": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.external_data_schemas#ExternalDataSchemaAvailableColumnsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.external_data_schemas#ExternalDataSchemaAvailableColumnsItem"
      },
      "traits": {
        "smithy.api#documentation": "Column metadata (name, data type, nullable) for this schema. For SQL sources this is the source-side schema discovered via `refresh_schemas`; for other sources (and once synced) it falls back to the synced table's columns. Empty only before the first successful sync/refresh."
      }
    },
    "com.posthog.external_data_schemas#ExternalDataSchemaSourceSupportedApiVersionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.external_data_schemas#ExternalDataSchemaSource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "source_type": {
          "target": "smithy.api#String"
        },
        "access_method": {
          "target": "smithy.api#String"
        },
        "supports_column_selection": {
          "target": "smithy.api#Boolean"
        },
        "supports_row_filters": {
          "target": "smithy.api#Boolean"
        },
        "requires_exact_column_metadata": {
          "target": "smithy.api#Boolean"
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "api_version": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "supported_api_versions": {
          "target": "com.posthog.external_data_schemas#ExternalDataSchemaSourceSupportedApiVersionsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Lightweight parent-source summary (id, source_type, access_method, column-selection support, the requesting user's access level). Only populated on the single-schema retrieve endpoint — `null` elsewhere — so read-only views can render without fetching the full source and all its schemas."
      }
    },
    "com.posthog.external_data_schemas#ExternalDataSourceApiVersionDeprecation": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deprecated vendor API version this source is pinned to.",
            "smithy.api#required": {}
          }
        },
        "sunset_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date the vendor stops serving this version; null if not announced.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source's current default vendor API version — the migration target.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.external_data_schemas#PaginatedExternalDataSchemaListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.external_data_schemas#ExternalDataSchema"
      },
      "traits": {}
    },
    "com.posthog.external_data_schemas#ListExternalDataSchemas": {
      "type": "operation",
      "input": {
        "target": "com.posthog.external_data_schemas#ListExternalDataSchemasRequest"
      },
      "output": {
        "target": "com.posthog.external_data_schemas#PaginatedExternalDataSchemaList"
      },
      "errors": [
        {
          "target": "com.posthog.external_data_schemas#BadRequest"
        },
        {
          "target": "com.posthog.external_data_schemas#Forbidden"
        },
        {
          "target": "com.posthog.external_data_schemas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/external_data_schemas/",
          "code": 200
        }
      }
    },
    "com.posthog.external_data_schemas#GetExternalDataSchemaRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this external data schema."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.external_data_schemas#GetExternalDataSchema": {
      "type": "operation",
      "input": {
        "target": "com.posthog.external_data_schemas#GetExternalDataSchemaRequest"
      },
      "output": {
        "target": "com.posthog.external_data_schemas#ExternalDataSchema"
      },
      "errors": [
        {
          "target": "com.posthog.external_data_schemas#Forbidden"
        },
        {
          "target": "com.posthog.external_data_schemas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/external_data_schemas/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.external_data_schemas#UpdateExternalDataSchemaRequestPrimaryKeyColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Column names for primary key deduplication."
      }
    },
    "com.posthog.external_data_schemas#UpdateExternalDataSchemaRequestEnabledColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Names of source columns to sync. `null` (default) syncs all columns. Primary-key columns and the active incremental field are always retained, even if not listed here."
      }
    },
    "com.posthog.external_data_schemas#UpdateExternalDataSchemaRequestRowFiltersItem": {
      "type": "structure",
      "members": {
        "column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "One of: > >= < <= = != IN \"NOT IN\".",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Comparison value; must match the column's type. For `IN` / `NOT IN`, a comma-separated list (e.g. `1, 2, 3` or `'a','b'`).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.external_data_schemas#UpdateExternalDataSchemaRequestRowFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.external_data_schemas#UpdateExternalDataSchemaRequestRowFiltersItem"
      },
      "traits": {
        "smithy.api#documentation": "Predicates ANDed onto the source query so only matching rows sync. Each is `{column, operator, value}`; `null`/empty (default) syncs all rows. The operator must be one of `> >= < <= = != IN \"NOT IN\"` and the value must match the column's type (for `IN`/`NOT IN`, a comma-separated list like `1, 2, 3` or `'a','b'`). Applied on the next sync — not retroactive to already-synced rows."
      }
    },
    "com.posthog.external_data_schemas#UpdateExternalDataSchemaRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this external data schema."
          }
        },
        "should_sync": {
          "target": "smithy.api#Boolean"
        },
        "sync_type": {
          "target": "com.posthog.external_data_schemas#ExternalDataSchemaSyncTypeEnum",
          "traits": {
            "smithy.api#documentation": "Sync strategy: incremental, full_refresh, append, cdc, or xmin.\n\n* `full_refresh` - full_refresh\n* `incremental` - incremental\n* `append` - append\n* `webhook` - webhook\n* `cdc` - cdc\n* `xmin` - xmin",
            "com.distilled.openapi#nullable": {}
          }
        },
        "incremental_field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column name used to track sync progress.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "incremental_field_type": {
          "target": "com.posthog.external_data_schemas#IncrementalFieldTypeEnum",
          "traits": {
            "smithy.api#documentation": "Data type of the incremental field.\n\n* `integer` - integer\n* `numeric` - numeric\n* `datetime` - datetime\n* `date` - date\n* `timestamp` - timestamp\n* `objectid` - objectid\n* `xid` - xid",
            "com.distilled.openapi#nullable": {}
          }
        },
        "incremental_field_lookback_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds to subtract from the stored incremental watermark at sync time, so each incremental run re-reads a rolling overlap window and catches late or backdated rows. Applies to timestamp/date incremental fields only. The stored watermark is unchanged. Maximum 5184000 (60 days).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sync_frequency": {
          "target": "com.posthog.external_data_schemas#ExternalDataSchemaSyncFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "How often to sync. The fastest sync frequency is 5 minutes.\n\n* `never` - never\n* `5min` - 5min\n* `15min` - 15min\n* `30min` - 30min\n* `1hour` - 1hour\n* `6hour` - 6hour\n* `12hour` - 12hour\n* `24hour` - 24hour\n* `7day` - 7day\n* `30day` - 30day",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sync_time_of_day": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC time of day to run the sync (HH:MM:SS).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "full_refresh_interval_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Days between scheduled full refreshes, from 1 to 90, or null for none. A full refresh wipes the table and re-imports every row, so rows deleted at the source are removed. It runs on the first scheduled sync once the interval has passed, counted from when it was saved or from the last full resync (or, when full_refresh_time_of_day is set, from the slot of that time the last refresh served), and can start up to an hour early. Queries keep returning the current rows until a full refresh finishes, and workflows and destinations that run on new rows of the table run again for every row. Available for incremental, append, and xmin syncs only, and never shorter than the sync frequency.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "full_refresh_time_of_day": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC time of day (HH:MM:SS) that scheduled full refreshes are due, for example outside working hours. The refresh runs on the first scheduled sync from up to an hour before this time, so on a table that syncs every few hours it can run hours later. Each interval counts from the slot of this time that the last refresh or save served, where a slot less than an hour away counts as served. Saving a new time restarts the clock, so the first refresh after a save can come up to a day before a full interval has passed. Null counts the interval from when it was saved or from the last full resync. Cleared when full_refresh_interval_days is null.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "primary_key_columns": {
          "target": "com.posthog.external_data_schemas#UpdateExternalDataSchemaRequestPrimaryKeyColumnsList",
          "traits": {
            "smithy.api#documentation": "Column names for primary key deduplication.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cdc_table_mode": {
          "target": "com.posthog.external_data_schemas#CdcTableModeEnum",
          "traits": {
            "smithy.api#documentation": "For CDC syncs: consolidated, cdc_only, or both.\n\n* `consolidated` - consolidated\n* `cdc_only` - cdc_only\n* `both` - both",
            "com.distilled.openapi#nullable": {}
          }
        },
        "enabled_columns": {
          "target": "com.posthog.external_data_schemas#UpdateExternalDataSchemaRequestEnabledColumnsList",
          "traits": {
            "smithy.api#documentation": "Names of source columns to sync. `null` (default) syncs all columns. Primary-key columns and the active incremental field are always retained, even if not listed here.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "row_filters": {
          "target": "com.posthog.external_data_schemas#UpdateExternalDataSchemaRequestRowFiltersList",
          "traits": {
            "smithy.api#documentation": "Predicates ANDed onto the source query so only matching rows sync. Each is `{column, operator, value}`; `null`/empty (default) syncs all rows. The operator must be one of `> >= < <= = != IN \"NOT IN\"` and the value must match the column's type (for `IN`/`NOT IN`, a comma-separated list like `1, 2, 3` or `'a','b'`). Applied on the next sync — not retroactive to already-synced rows.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "api_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor API version override for this schema. `null` (default) syncs on the source's pinned version. Must be one of the source type's supported versions. User-managed: version-migration tooling never changes it. Not available for webhook-sync schemas.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.external_data_schemas#UpdateExternalDataSchema": {
      "type": "operation",
      "input": {
        "target": "com.posthog.external_data_schemas#UpdateExternalDataSchemaRequest"
      },
      "output": {
        "target": "com.posthog.external_data_schemas#ExternalDataSchema"
      },
      "errors": [
        {
          "target": "com.posthog.external_data_schemas#BadRequest"
        },
        {
          "target": "com.posthog.external_data_schemas#Forbidden"
        },
        {
          "target": "com.posthog.external_data_schemas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/external_data_schemas/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.external_data_schemas#UpdateExternalDataSchemasPartialRequestPrimaryKeyColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Column names for primary key deduplication."
      }
    },
    "com.posthog.external_data_schemas#UpdateExternalDataSchemasPartialRequestEnabledColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Names of source columns to sync. `null` (default) syncs all columns. Primary-key columns and the active incremental field are always retained, even if not listed here."
      }
    },
    "com.posthog.external_data_schemas#UpdateExternalDataSchemasPartialRequestRowFiltersItem": {
      "type": "structure",
      "members": {
        "column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "One of: > >= < <= = != IN \"NOT IN\".",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Comparison value; must match the column's type. For `IN` / `NOT IN`, a comma-separated list (e.g. `1, 2, 3` or `'a','b'`).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.external_data_schemas#UpdateExternalDataSchemasPartialRequestRowFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.external_data_schemas#UpdateExternalDataSchemasPartialRequestRowFiltersItem"
      },
      "traits": {
        "smithy.api#documentation": "Predicates ANDed onto the source query so only matching rows sync. Each is `{column, operator, value}`; `null`/empty (default) syncs all rows. The operator must be one of `> >= < <= = != IN \"NOT IN\"` and the value must match the column's type (for `IN`/`NOT IN`, a comma-separated list like `1, 2, 3` or `'a','b'`). Applied on the next sync — not retroactive to already-synced rows."
      }
    },
    "com.posthog.external_data_schemas#UpdateExternalDataSchemasPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this external data schema."
          }
        },
        "should_sync": {
          "target": "smithy.api#Boolean"
        },
        "sync_type": {
          "target": "com.posthog.external_data_schemas#ExternalDataSchemaSyncTypeEnum",
          "traits": {
            "smithy.api#documentation": "Sync strategy: incremental, full_refresh, append, cdc, or xmin.\n\n* `full_refresh` - full_refresh\n* `incremental` - incremental\n* `append` - append\n* `webhook` - webhook\n* `cdc` - cdc\n* `xmin` - xmin",
            "com.distilled.openapi#nullable": {}
          }
        },
        "incremental_field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column name used to track sync progress.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "incremental_field_type": {
          "target": "com.posthog.external_data_schemas#IncrementalFieldTypeEnum",
          "traits": {
            "smithy.api#documentation": "Data type of the incremental field.\n\n* `integer` - integer\n* `numeric` - numeric\n* `datetime` - datetime\n* `date` - date\n* `timestamp` - timestamp\n* `objectid` - objectid\n* `xid` - xid",
            "com.distilled.openapi#nullable": {}
          }
        },
        "incremental_field_lookback_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds to subtract from the stored incremental watermark at sync time, so each incremental run re-reads a rolling overlap window and catches late or backdated rows. Applies to timestamp/date incremental fields only. The stored watermark is unchanged. Maximum 5184000 (60 days).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sync_frequency": {
          "target": "com.posthog.external_data_schemas#ExternalDataSchemaSyncFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "How often to sync. The fastest sync frequency is 5 minutes.\n\n* `never` - never\n* `5min` - 5min\n* `15min` - 15min\n* `30min` - 30min\n* `1hour` - 1hour\n* `6hour` - 6hour\n* `12hour` - 12hour\n* `24hour` - 24hour\n* `7day` - 7day\n* `30day` - 30day",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sync_time_of_day": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC time of day to run the sync (HH:MM:SS).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "full_refresh_interval_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Days between scheduled full refreshes, from 1 to 90, or null for none. A full refresh wipes the table and re-imports every row, so rows deleted at the source are removed. It runs on the first scheduled sync once the interval has passed, counted from when it was saved or from the last full resync (or, when full_refresh_time_of_day is set, from the slot of that time the last refresh served), and can start up to an hour early. Queries keep returning the current rows until a full refresh finishes, and workflows and destinations that run on new rows of the table run again for every row. Available for incremental, append, and xmin syncs only, and never shorter than the sync frequency.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "full_refresh_time_of_day": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC time of day (HH:MM:SS) that scheduled full refreshes are due, for example outside working hours. The refresh runs on the first scheduled sync from up to an hour before this time, so on a table that syncs every few hours it can run hours later. Each interval counts from the slot of this time that the last refresh or save served, where a slot less than an hour away counts as served. Saving a new time restarts the clock, so the first refresh after a save can come up to a day before a full interval has passed. Null counts the interval from when it was saved or from the last full resync. Cleared when full_refresh_interval_days is null.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "primary_key_columns": {
          "target": "com.posthog.external_data_schemas#UpdateExternalDataSchemasPartialRequestPrimaryKeyColumnsList",
          "traits": {
            "smithy.api#documentation": "Column names for primary key deduplication.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cdc_table_mode": {
          "target": "com.posthog.external_data_schemas#CdcTableModeEnum",
          "traits": {
            "smithy.api#documentation": "For CDC syncs: consolidated, cdc_only, or both.\n\n* `consolidated` - consolidated\n* `cdc_only` - cdc_only\n* `both` - both",
            "com.distilled.openapi#nullable": {}
          }
        },
        "enabled_columns": {
          "target": "com.posthog.external_data_schemas#UpdateExternalDataSchemasPartialRequestEnabledColumnsList",
          "traits": {
            "smithy.api#documentation": "Names of source columns to sync. `null` (default) syncs all columns. Primary-key columns and the active incremental field are always retained, even if not listed here.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "row_filters": {
          "target": "com.posthog.external_data_schemas#UpdateExternalDataSchemasPartialRequestRowFiltersList",
          "traits": {
            "smithy.api#documentation": "Predicates ANDed onto the source query so only matching rows sync. Each is `{column, operator, value}`; `null`/empty (default) syncs all rows. The operator must be one of `> >= < <= = != IN \"NOT IN\"` and the value must match the column's type (for `IN`/`NOT IN`, a comma-separated list like `1, 2, 3` or `'a','b'`). Applied on the next sync — not retroactive to already-synced rows.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "api_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor API version override for this schema. `null` (default) syncs on the source's pinned version. Must be one of the source type's supported versions. User-managed: version-migration tooling never changes it. Not available for webhook-sync schemas.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.external_data_schemas#UpdateExternalDataSchemasPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.external_data_schemas#UpdateExternalDataSchemasPartialRequest"
      },
      "output": {
        "target": "com.posthog.external_data_schemas#ExternalDataSchema"
      },
      "errors": [
        {
          "target": "com.posthog.external_data_schemas#BadRequest"
        },
        {
          "target": "com.posthog.external_data_schemas#Forbidden"
        },
        {
          "target": "com.posthog.external_data_schemas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/external_data_schemas/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.external_data_schemas#ExternalDataSchemasDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this external data schema."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.external_data_schemas#ExternalDataSchemasDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.external_data_schemas#ExternalDataSchemasDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.external_data_schemas#Forbidden"
        },
        {
          "target": "com.posthog.external_data_schemas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/external_data_schemas/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.external_data_schemas#ExternalDataSchemasCancelCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this external data schema."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.external_data_schemas#ExternalDataSchemasCancelCreateResponse": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.external_data_schemas#ExternalDataSchemasCancelCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.external_data_schemas#ExternalDataSchemasCancelCreateRequest"
      },
      "output": {
        "target": "com.posthog.external_data_schemas#ExternalDataSchemasCancelCreateResponse"
      },
      "errors": [
        {
          "target": "com.posthog.external_data_schemas#BadRequest"
        },
        {
          "target": "com.posthog.external_data_schemas#Forbidden"
        },
        {
          "target": "com.posthog.external_data_schemas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/external_data_schemas/{id}/cancel/",
          "code": 200
        }
      }
    },
    "com.posthog.external_data_schemas#DeleteExternalDataSchemaDataDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this external data schema."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.external_data_schemas#DeleteExternalDataSchemaDataDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.external_data_schemas#DeleteExternalDataSchemaDataDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.external_data_schemas#Forbidden"
        },
        {
          "target": "com.posthog.external_data_schemas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/external_data_schemas/{id}/delete_data/",
          "code": 200
        }
      }
    },
    "com.posthog.external_data_schemas#GetExternalDataSchemasDestinationRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this external data schema."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.external_data_schemas#SchemaDestinations": {
      "type": "structure",
      "members": {
        "destination_ids": {
          "target": "com.posthog.external_data_schemas#SchemaDestinationsDestinationIdsList",
          "traits": {
            "smithy.api#documentation": "The table's own destinations, or null when it follows its source.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "inherits_from_source": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this table follows its source rather than having its own destinations.",
            "smithy.api#required": {}
          }
        },
        "effective_destination_ids": {
          "target": "com.posthog.external_data_schemas#SchemaDestinationsEffectiveDestinationIdsList",
          "traits": {
            "smithy.api#documentation": "Where the table actually syncs, after inheritance is resolved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for a table's destination override."
      }
    },
    "com.posthog.external_data_schemas#SchemaDestinationsDestinationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The table's own destinations, or null when it follows its source."
      }
    },
    "com.posthog.external_data_schemas#SchemaDestinationsEffectiveDestinationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Where the table actually syncs, after inheritance is resolved."
      }
    },
    "com.posthog.external_data_schemas#GetExternalDataSchemasDestination": {
      "type": "operation",
      "input": {
        "target": "com.posthog.external_data_schemas#GetExternalDataSchemasDestinationRequest"
      },
      "output": {
        "target": "com.posthog.external_data_schemas#SchemaDestinations"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/external_data_schemas/{id}/destinations/",
          "code": 200
        },
        "smithy.api#documentation": "Read or replace this table's destination override.\n\nSend `destination_ids: null` to clear the override so the table follows its source again."
      }
    },
    "com.posthog.external_data_schemas#UpdateExternalDataSchemasDestinationsPartialRequestDestinationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Destinations to sync to. On a table, null clears the override so the table follows its source again."
      }
    },
    "com.posthog.external_data_schemas#UpdateExternalDataSchemasDestinationsPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this external data schema."
          }
        },
        "destination_ids": {
          "target": "com.posthog.external_data_schemas#UpdateExternalDataSchemasDestinationsPartialRequestDestinationIdsList",
          "traits": {
            "smithy.api#documentation": "Destinations to sync to. On a table, null clears the override so the table follows its source again.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.external_data_schemas#UpdateExternalDataSchemasDestinationsPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.external_data_schemas#UpdateExternalDataSchemasDestinationsPartialRequest"
      },
      "output": {
        "target": "com.posthog.external_data_schemas#SchemaDestinations"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/external_data_schemas/{id}/destinations/",
          "code": 200
        },
        "smithy.api#documentation": "Read or replace this table's destination override.\n\nSend `destination_ids: null` to clear the override so the table follows its source again."
      }
    },
    "com.posthog.external_data_schemas#CreateExternalDataSchemasIncrementalFieldRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this external data schema."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.external_data_schemas#CreateExternalDataSchemasIncrementalField": {
      "type": "operation",
      "input": {
        "target": "com.posthog.external_data_schemas#CreateExternalDataSchemasIncrementalFieldRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.external_data_schemas#BadRequest"
        },
        {
          "target": "com.posthog.external_data_schemas#Forbidden"
        },
        {
          "target": "com.posthog.external_data_schemas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/external_data_schemas/{id}/incremental_fields/",
          "code": 200
        }
      }
    },
    "com.posthog.external_data_schemas#GetExternalDataSchemasLogRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this external data schema."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Only return entries after this ISO 8601 timestamp. Defaults to 7 days ago; pass an explicit value to read further back."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "Only return entries before this ISO 8601 timestamp."
          }
        },
        "instance_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "instance_id",
            "smithy.api#documentation": "Filter logs to a specific execution instance."
          }
        },
        "level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "level",
            "smithy.api#documentation": "Comma-separated log levels to include, e.g. 'WARN,ERROR'. Valid levels: DEBUG, LOG, INFO, WARN, ERROR."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of log entries to return (1-500, default 50)."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Case-insensitive substring search across log messages."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.external_data_schemas#GetExternalDataSchemasLog": {
      "type": "operation",
      "input": {
        "target": "com.posthog.external_data_schemas#GetExternalDataSchemasLogRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/external_data_schemas/{id}/logs/",
          "code": 200
        }
      }
    },
    "com.posthog.external_data_schemas#CreateExternalDataSchemasReloadRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this external data schema."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.external_data_schemas#CreateExternalDataSchemasReload": {
      "type": "operation",
      "input": {
        "target": "com.posthog.external_data_schemas#CreateExternalDataSchemasReloadRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.external_data_schemas#BadRequest"
        },
        {
          "target": "com.posthog.external_data_schemas#Forbidden"
        },
        {
          "target": "com.posthog.external_data_schemas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/external_data_schemas/{id}/reload/",
          "code": 200
        },
        "smithy.api#documentation": "Trigger a sync for the schema using its configured sync method. Most methods keep the existing warehouse table and add or merge new rows, but a full-refresh schema rebuilds the whole table on every run. To force a rebuild from the source, use resync."
      }
    },
    "com.posthog.external_data_schemas#CreateExternalDataSchemasResyncRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this external data schema."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.external_data_schemas#CreateExternalDataSchemasResync": {
      "type": "operation",
      "input": {
        "target": "com.posthog.external_data_schemas#CreateExternalDataSchemasResyncRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.external_data_schemas#BadRequest"
        },
        {
          "target": "com.posthog.external_data_schemas#Forbidden"
        },
        {
          "target": "com.posthog.external_data_schemas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/external_data_schemas/{id}/resync/",
          "code": 200
        },
        "smithy.api#documentation": "Request a full resync of the schema. For sources that can backfill, this drops the warehouse table and re-imports every row from the source, so existing data is deleted first. A webhook-only schema cannot backfill, so it keeps its existing table and resumes ingestion instead. To sync without requesting a rebuild, use reload."
      }
    },
    "com.posthog.external_data_schemas#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.posthog.external_data_schemas#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.posthog.external_data_schemas#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.posthog.external_data_schemas#ExternalDataSchemas": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.external_data_schemas#ListExternalDataSchemas"
        },
        {
          "target": "com.posthog.external_data_schemas#GetExternalDataSchema"
        },
        {
          "target": "com.posthog.external_data_schemas#UpdateExternalDataSchema"
        },
        {
          "target": "com.posthog.external_data_schemas#UpdateExternalDataSchemasPartial"
        },
        {
          "target": "com.posthog.external_data_schemas#ExternalDataSchemasDestroy"
        },
        {
          "target": "com.posthog.external_data_schemas#ExternalDataSchemasCancelCreate"
        },
        {
          "target": "com.posthog.external_data_schemas#DeleteExternalDataSchemaDataDestroy"
        },
        {
          "target": "com.posthog.external_data_schemas#GetExternalDataSchemasDestination"
        },
        {
          "target": "com.posthog.external_data_schemas#UpdateExternalDataSchemasDestinationsPartial"
        },
        {
          "target": "com.posthog.external_data_schemas#CreateExternalDataSchemasIncrementalField"
        },
        {
          "target": "com.posthog.external_data_schemas#GetExternalDataSchemasLog"
        },
        {
          "target": "com.posthog.external_data_schemas#CreateExternalDataSchemasReload"
        },
        {
          "target": "com.posthog.external_data_schemas#CreateExternalDataSchemasResync"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
