{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.groups#ListGroupsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor returned in the `next` URL of a previous response"
          }
        },
        "group_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "group_key",
            "smithy.api#documentation": "Filter groups whose key contains this string (case-insensitive)"
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "group_type_index",
            "smithy.api#required": {},
            "smithy.api#documentation": "Specify the group type to list"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search the group name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.groups#Group": {
      "type": "structure",
      "members": {
        "group_type_index": {
          "target": "smithy.api#Integer"
        },
        "group_key": {
          "target": "smithy.api#String"
        },
        "group_properties": {
          "target": "com.posthog.groups#GroupGroupPropertiesMap",
          "traits": {
            "smithy.api#documentation": "The group's properties."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.groups#GroupGroupPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The group's properties."
      }
    },
    "com.posthog.groups#ListGroupsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.groups#Group"
      },
      "traits": {}
    },
    "com.posthog.groups#ListGroupsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.groups#ListGroupsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.groups#ListGroups": {
      "type": "operation",
      "input": {
        "target": "com.posthog.groups#ListGroupsRequest"
      },
      "output": {
        "target": "com.posthog.groups#ListGroupsResponse"
      },
      "errors": [
        {
          "target": "com.posthog.groups#BadRequest"
        },
        {
          "target": "com.posthog.groups#Forbidden"
        },
        {
          "target": "com.posthog.groups#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/groups/",
          "code": 200
        },
        "smithy.api#documentation": "List all groups of a specific group type. You must pass ?group_type_index= in the URL.\nTo get a list of valid group types, call /api/:project_id/groups_types/.\n\nUses forward-only keyset pagination via the `cursor` parameter.\nThe `previous` field in the response envelope is always null."
      }
    },
    "com.posthog.groups#CreateGroupRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer"
        },
        "group_key": {
          "target": "smithy.api#String"
        },
        "group_properties": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.groups#CreateGroup": {
      "type": "operation",
      "input": {
        "target": "com.posthog.groups#CreateGroupRequest"
      },
      "output": {
        "target": "com.posthog.groups#Group"
      },
      "errors": [
        {
          "target": "com.posthog.groups#BadRequest"
        },
        {
          "target": "com.posthog.groups#Forbidden"
        },
        {
          "target": "com.posthog.groups#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/groups/",
          "code": 200
        }
      }
    },
    "com.posthog.groups#GetGroupsActivityRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "group_type_index",
            "smithy.api#required": {},
            "smithy.api#documentation": "Specify the group type to find"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "id",
            "smithy.api#required": {},
            "smithy.api#documentation": "Specify the id of the user to find groups for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.groups#GetGroupsActivity": {
      "type": "operation",
      "input": {
        "target": "com.posthog.groups#GetGroupsActivityRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.groups#BadRequest"
        },
        {
          "target": "com.posthog.groups#Forbidden"
        },
        {
          "target": "com.posthog.groups#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/groups/activity/",
          "code": 200
        }
      }
    },
    "com.posthog.groups#GroupsDeletePropertyCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "group_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "group_key",
            "smithy.api#required": {},
            "smithy.api#documentation": "Specify the key of the group to find"
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "group_type_index",
            "smithy.api#required": {},
            "smithy.api#documentation": "Specify the group type to find"
          }
        },
        "_unset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the property to delete.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "$unset"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.groups#GroupsDeletePropertyCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.groups#GroupsDeletePropertyCreateRequest"
      },
      "output": {
        "target": "com.posthog.groups#Group"
      },
      "errors": [
        {
          "target": "com.posthog.groups#BadRequest"
        },
        {
          "target": "com.posthog.groups#Forbidden"
        },
        {
          "target": "com.posthog.groups#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/groups/delete_property/",
          "code": 200
        }
      }
    },
    "com.posthog.groups#GetGroupsFindRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "group_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "group_key",
            "smithy.api#required": {},
            "smithy.api#documentation": "Specify the key of the group to find"
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "group_type_index",
            "smithy.api#required": {},
            "smithy.api#documentation": "Specify the group type to find"
          }
        },
        "skip_create_notebook": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "skip_create_notebook",
            "smithy.api#documentation": "When true, do not lazily create the group's CRM notebook. Use for read-only lookups (e.g. resolving a group's display name) that should not have side effects."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.groups#FindGroup": {
      "type": "structure",
      "members": {
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "group_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "group_properties": {
          "target": "com.posthog.groups#FindGroupGroupPropertiesMap",
          "traits": {
            "smithy.api#documentation": "The group's properties.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notebook": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.groups#FindGroupGroupPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The group's properties."
      }
    },
    "com.posthog.groups#GetGroupsFind": {
      "type": "operation",
      "input": {
        "target": "com.posthog.groups#GetGroupsFindRequest"
      },
      "output": {
        "target": "com.posthog.groups#FindGroup"
      },
      "errors": [
        {
          "target": "com.posthog.groups#BadRequest"
        },
        {
          "target": "com.posthog.groups#Forbidden"
        },
        {
          "target": "com.posthog.groups#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/groups/find/",
          "code": 200
        }
      }
    },
    "com.posthog.groups#GetGroupsPropertyValueRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.groups#GetGroupsPropertyValue": {
      "type": "operation",
      "input": {
        "target": "com.posthog.groups#GetGroupsPropertyValueRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.groups#Forbidden"
        },
        {
          "target": "com.posthog.groups#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/groups/property_values/",
          "code": 200
        }
      }
    },
    "com.posthog.groups#ListGroupsRelatedRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "group_type_index",
            "smithy.api#documentation": "Group type of the actor to find related actors for. Omit when the actor is a person."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "id",
            "smithy.api#required": {},
            "smithy.api#documentation": "Specify the id of the user to find groups for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.groups#RelatedActor": {
      "type": "union",
      "members": {
        "SerializedPersonActor": {
          "target": "com.posthog.groups#SerializedPersonActor"
        },
        "SerializedGroupActor": {
          "target": "com.posthog.groups#SerializedGroupActor"
        }
      },
      "traits": {}
    },
    "com.posthog.groups#SerializedPersonActor": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The person's UUID, or the group's key.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.posthog.groups#SerializedPersonActorPropertiesMap",
          "traits": {
            "smithy.api#documentation": "The actor's properties.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the actor was first seen.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "matched_recordings": {
          "target": "com.posthog.groups#SerializedPersonActorMatchedRecordingsList",
          "traits": {
            "smithy.api#documentation": "Recordings that matched the query. Empty unless the endpoint asks for them.",
            "smithy.api#required": {}
          }
        },
        "value_at_data_point": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The actor's value at the data point it was queried for. Null unless the query computes one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Marks this actor as a person.",
            "smithy.api#required": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The person's UUID. Same value as `id`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name, resolved from the person's properties or distinct IDs.",
            "smithy.api#required": {}
          }
        },
        "distinct_ids": {
          "target": "com.posthog.groups#SerializedPersonActorDistinctIdsList",
          "traits": {
            "smithy.api#documentation": "The person's distinct IDs, newest first.",
            "smithy.api#required": {}
          }
        },
        "last_seen_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the person was last seen.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_identified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the person has been identified.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.groups#SerializedPersonActorPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The actor's properties."
      }
    },
    "com.posthog.groups#SerializedPersonActorMatchedRecordingsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.groups#SerializedPersonActorMatchedRecordingsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.groups#SerializedPersonActorMatchedRecordingsItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Recordings that matched the query. Empty unless the endpoint asks for them."
      }
    },
    "com.posthog.groups#SerializedPersonActorDistinctIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The person's distinct IDs, newest first."
      }
    },
    "com.posthog.groups#SerializedGroupActor": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The person's UUID, or the group's key.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.posthog.groups#SerializedGroupActorPropertiesMap",
          "traits": {
            "smithy.api#documentation": "The actor's properties.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the actor was first seen.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "matched_recordings": {
          "target": "com.posthog.groups#SerializedGroupActorMatchedRecordingsList",
          "traits": {
            "smithy.api#documentation": "Recordings that matched the query. Empty unless the endpoint asks for them.",
            "smithy.api#required": {}
          }
        },
        "value_at_data_point": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The actor's value at the data point it was queried for. Null unless the query computes one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Marks this actor as a group.",
            "smithy.api#required": {}
          }
        },
        "group_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key identifying the group within its group type.",
            "smithy.api#required": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Index of the group type this group belongs to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.groups#SerializedGroupActorPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The actor's properties."
      }
    },
    "com.posthog.groups#SerializedGroupActorMatchedRecordingsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.groups#SerializedGroupActorMatchedRecordingsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.groups#SerializedGroupActorMatchedRecordingsItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Recordings that matched the query. Empty unless the endpoint asks for them."
      }
    },
    "com.posthog.groups#ListGroupsRelatedResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.groups#RelatedActor"
      },
      "traits": {}
    },
    "com.posthog.groups#ListGroupsRelatedResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.groups#ListGroupsRelatedResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.groups#ListGroupsRelated": {
      "type": "operation",
      "input": {
        "target": "com.posthog.groups#ListGroupsRelatedRequest"
      },
      "output": {
        "target": "com.posthog.groups#ListGroupsRelatedResponse"
      },
      "errors": [
        {
          "target": "com.posthog.groups#BadRequest"
        },
        {
          "target": "com.posthog.groups#Forbidden"
        },
        {
          "target": "com.posthog.groups#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/groups/related/",
          "code": 200
        }
      }
    },
    "com.posthog.groups#GroupsUpdatePropertyCreateRequestValueCase4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.groups#GroupsUpdatePropertyCreateRequestValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        },
        "Case3": {
          "target": "smithy.api#Document"
        },
        "Case4": {
          "target": "com.posthog.groups#GroupsUpdatePropertyCreateRequestValueCase4List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Value to set. Any JSON value other than null."
      }
    },
    "com.posthog.groups#GroupsUpdatePropertyCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "group_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "group_key",
            "smithy.api#required": {},
            "smithy.api#documentation": "Specify the key of the group to find"
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "group_type_index",
            "smithy.api#required": {},
            "smithy.api#documentation": "Specify the group type to find"
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the property to set.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.posthog.groups#GroupsUpdatePropertyCreateRequestValue",
          "traits": {
            "smithy.api#documentation": "Value to set. Any JSON value other than null.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.groups#GroupsUpdatePropertyCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.groups#GroupsUpdatePropertyCreateRequest"
      },
      "output": {
        "target": "com.posthog.groups#Group"
      },
      "errors": [
        {
          "target": "com.posthog.groups#BadRequest"
        },
        {
          "target": "com.posthog.groups#Forbidden"
        },
        {
          "target": "com.posthog.groups#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/groups/update_property/",
          "code": 200
        }
      }
    },
    "com.posthog.groups#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.posthog.groups#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.posthog.groups#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.posthog.groups#Groups": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.groups#ListGroups"
        },
        {
          "target": "com.posthog.groups#CreateGroup"
        },
        {
          "target": "com.posthog.groups#GetGroupsActivity"
        },
        {
          "target": "com.posthog.groups#GroupsDeletePropertyCreate"
        },
        {
          "target": "com.posthog.groups#GetGroupsFind"
        },
        {
          "target": "com.posthog.groups#GetGroupsPropertyValue"
        },
        {
          "target": "com.posthog.groups#ListGroupsRelated"
        },
        {
          "target": "com.posthog.groups#GroupsUpdatePropertyCreate"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
