{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.hog_flows#ListHogFlowsRequestOriginProduct": {
      "type": "enum",
      "members": {
        "BROADCASTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "broadcasts"
          }
        },
        "LOOPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "loops"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#ListHogFlowsRequestStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#ListHogFlowsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "broadcast_eligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "broadcast_eligible",
            "smithy.api#documentation": "Pass `true` to return broadcasts plus the ordinary workflows the broadcasts UI can render: a batch trigger and a single email step."
          }
        },
        "broadcast_status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "broadcast_status",
            "smithy.api#documentation": "Comma-separated broadcast statuses as the broadcasts UI shows them: draft, scheduled, sending, sent, failed, archived. Scheduled, sending, sent and failed come from the latest run and whether a schedule still has sends to come."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_at"
          }
        },
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_by",
            "smithy.api#documentation": "Filter to workflows created by the user with this uuid."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "id"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "optimization_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "optimization_enabled",
            "smithy.api#documentation": "Only workflows someone turned suggestions on for."
          }
        },
        "origin_product": {
          "target": "com.posthog.hog_flows#ListHogFlowsRequestOriginProduct",
          "traits": {
            "smithy.api#httpQuery": "origin_product",
            "smithy.api#documentation": "Filter to workflows owned by a product surface, e.g. `loops` for Desktop loops."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Case-insensitive search. Matches workflow name and description first; only when nothing matches those, it matches step names and the subject line, preheader and body text of email steps, in both the live workflow and its pending draft."
          }
        },
        "status": {
          "target": "com.posthog.hog_flows#ListHogFlowsRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "* `draft` - Draft\n* `active` - Active\n* `archived` - Archived"
          }
        },
        "trigger": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "trigger",
            "smithy.api#documentation": "Filter by trigger config as a JSON object. Returns workflows whose trigger contains the given object, e.g. {\"type\": \"event\"}."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#documentation": "Comma-separated workflow types. `loop` and `broadcast` return the workflows those surfaces own; `messaging` returns the remaining workflows with an email, SMS, or push action, and `automation` the rest."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "updated_at"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.hog_flows#PaginatedHogFlowMinimalList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.hog_flows#PaginatedHogFlowMinimalListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowMinimal": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "status": {
          "target": "com.posthog.hog_flows#HogFlowStateEnum"
        },
        "origin_product": {
          "target": "com.posthog.hog_flows#HogFlowOriginProductEnum",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.hog_flows#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "trigger": {
          "target": "smithy.api#Document"
        },
        "trigger_masking": {
          "target": "smithy.api#Document"
        },
        "conversion": {
          "target": "smithy.api#Document"
        },
        "exit_condition": {
          "target": "com.posthog.hog_flows#ExitConditionEnum"
        },
        "email_sending_rate_limit": {
          "target": "smithy.api#Document"
        },
        "edges": {
          "target": "smithy.api#Document"
        },
        "actions": {
          "target": "smithy.api#Document"
        },
        "draft": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Staged content changes awaiting publish — a full snapshot of the workflow's actions, edges and settings. Null when there's nothing staged. Test it with a use_draft test run, then promote it with the publish endpoint or throw it away with discard_draft."
          }
        },
        "abort_action": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "variables": {
          "target": "smithy.api#Document"
        },
        "billable_action_types": {
          "target": "smithy.api#Document"
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_run": {
          "target": "com.posthog.hog_flows#HogFlowLastRun",
          "traits": {
            "smithy.api#documentation": "Newest task this loop workflow created, as its last run. Null when the workflow is not a loop or has not run.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pending_suggestions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many suggested changes are waiting for a person on this workflow. Counted on the list only.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "suggestions_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether someone turned suggestions on for this workflow. Read on the list only.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mixin for serializers to add user access control fields"
      }
    },
    "com.posthog.hog_flows#HogFlowStateEnum": {
      "type": "enum",
      "members": {
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `draft` - Draft\n* `active` - Active\n* `archived` - Archived"
      }
    },
    "com.posthog.hog_flows#HogFlowOriginProductEnum": {
      "type": "enum",
      "members": {
        "LOOPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "loops"
          }
        },
        "BROADCASTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "broadcasts"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `loops` - Loops\n* `broadcasts` - Broadcasts"
      }
    },
    "com.posthog.hog_flows#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.hog_flows#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.hog_flows#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.hog_flows#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.hog_flows#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.hog_flows#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#ExitConditionEnum": {
      "type": "enum",
      "members": {
        "EXIT_ON_CONVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exit_on_conversion"
          }
        },
        "EXIT_ON_TRIGGER_NOT_MATCHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exit_on_trigger_not_matched"
          }
        },
        "EXIT_ON_TRIGGER_NOT_MATCHED_OR_CONVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exit_on_trigger_not_matched_or_conversion"
          }
        },
        "EXIT_ONLY_AT_END": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exit_only_at_end"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `exit_on_conversion` - Conversion\n* `exit_on_trigger_not_matched` - Trigger Not Matched\n* `exit_on_trigger_not_matched_or_conversion` - Trigger Not Matched Or Conversion\n* `exit_only_at_end` - Only At End"
      }
    },
    "com.posthog.hog_flows#HogFlowLastRun": {
      "type": "structure",
      "members": {
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The task this run belongs to.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the task's newest run: not_started, queued, in_progress, completed, failed or cancelled.",
            "smithy.api#required": {}
          }
        },
        "ran_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the run started, or when the task was created if it has no run yet.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#PaginatedHogFlowMinimalListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowMinimal"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#ListHogFlows": {
      "type": "operation",
      "input": {
        "target": "com.posthog.hog_flows#ListHogFlowsRequest"
      },
      "output": {
        "target": "com.posthog.hog_flows#PaginatedHogFlowMinimalList"
      },
      "errors": [
        {
          "target": "com.posthog.hog_flows#BadRequest"
        },
        {
          "target": "com.posthog.hog_flows#Forbidden"
        },
        {
          "target": "com.posthog.hog_flows#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/hog_flows/",
          "code": 200
        }
      }
    },
    "com.posthog.hog_flows#HogFlowMasking": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds (60 to ~94M / 3y) to suppress repeat firings of the same hash.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "threshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fire once per N matches of the same hash within ttl — a sampler: N=3 fires on the 1st, 4th, 7th… match. Omit to fire on the first match, then suppress repeats within ttl.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HogQL template defining the dedup/grouping key, e.g. '{person.id}' (once per person) within ttl."
          }
        },
        "bytecode": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Auto-compiled from hash. Do not set."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowConversion": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.posthog.hog_flows#HogFlowConversionFiltersList",
          "traits": {
            "smithy.api#documentation": "Property-based conversion conditions, as an ARRAY of property filters: [{key, value, operator, type: event|person|group}, ...]. Event-based goals do NOT go here — put them in 'events'. Empty array = any event within the window converts."
          }
        },
        "events": {
          "target": "com.posthog.hog_flows#HogFlowConversionEventsList",
          "traits": {
            "smithy.api#documentation": "Event-based conversion goals: [{filters: {events: [{id, name, type: 'events'}], ...}}]."
          }
        },
        "window": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How long after entering the workflow a conversion still counts, as a duration string: '7d', '12h', '30m', '45s'. Same form the delay steps use. Must be longer than zero, and at most '365d'. Omit it to use the default of 90 days.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bytecode": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Compiled server-side from 'filters'. Do not set; ignored if sent."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowConversionFiltersItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowConversionFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowConversionFiltersItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Property-based conversion conditions, as an ARRAY of property filters: [{key, value, operator, type: event|person|group}, ...]. Event-based goals do NOT go here — put them in 'events'. Empty array = any event within the window converts."
      }
    },
    "com.posthog.hog_flows#HogFlowConversionEvent": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.posthog.hog_flows#HogFunctionFilters",
          "traits": {
            "smithy.api#documentation": "Event/action filters for this conversion event, same shape as trigger filters: {events: [{id, name, type: 'events', properties?: [<cond>]}], actions?: [...], properties?: [<cond>]}. bytecode is compiled server-side.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFunctionFilters": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.posthog.hog_flows#HogFunctionFiltersSourceEnum"
        },
        "actions": {
          "target": "com.posthog.hog_flows#HogFunctionFiltersActionsList"
        },
        "events": {
          "target": "com.posthog.hog_flows#HogFunctionFiltersEventsList"
        },
        "data_warehouse": {
          "target": "com.posthog.hog_flows#HogFunctionFiltersDataWarehouseList"
        },
        "properties": {
          "target": "com.posthog.hog_flows#HogFunctionFiltersPropertiesList"
        },
        "bytecode": {
          "target": "smithy.api#Document"
        },
        "transpiled": {
          "target": "smithy.api#Document"
        },
        "filter_test_accounts": {
          "target": "smithy.api#Boolean"
        },
        "bytecode_error": {
          "target": "smithy.api#String"
        },
        "bytecode_contract": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFunctionFiltersSourceEnum": {
      "type": "enum",
      "members": {
        "EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "events"
          }
        },
        "INTERNAL_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal-events"
          }
        },
        "PERSON_UPDATES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person-updates"
          }
        },
        "DATA_WAREHOUSE_TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data-warehouse-table"
          }
        },
        "DATA_WAREHOUSE_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data-warehouse-view"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `events` - events\n* `internal-events` - internal-events\n* `person-updates` - person-updates\n* `data-warehouse-table` - data-warehouse-table\n* `data-warehouse-view` - data-warehouse-view"
      }
    },
    "com.posthog.hog_flows#HogFunctionFiltersActionsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFunctionFiltersActionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFunctionFiltersActionsItemMap"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFunctionFiltersEventsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFunctionFiltersEventsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFunctionFiltersEventsItemMap"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFunctionFiltersDataWarehouseItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFunctionFiltersDataWarehouseList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFunctionFiltersDataWarehouseItemMap"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFunctionFiltersPropertiesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFunctionFiltersPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFunctionFiltersPropertiesItemMap"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowConversionEventsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowConversionEvent"
      },
      "traits": {
        "smithy.api#documentation": "Event-based conversion goals: [{filters: {events: [{id, name, type: 'events'}], ...}}]."
      }
    },
    "com.posthog.hog_flows#HogFlowEmailSendingRateLimit": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of emails this workflow sends per period.",
            "smithy.api#required": {}
          }
        },
        "period": {
          "target": "com.posthog.hog_flows#HogFlowEmailSendingRateLimitPeriodEnum",
          "traits": {
            "smithy.api#documentation": "Window the count applies to. Sends over the limit are delayed until capacity frees up, not dropped.\n\n* `minute` - minute\n* `hour` - hour",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowEmailSendingRateLimitPeriodEnum": {
      "type": "enum",
      "members": {
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minute"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `minute` - minute\n* `hour` - hour"
      }
    },
    "com.posthog.hog_flows#HogFlowEdge": {
      "type": "structure",
      "members": {
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target action id.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.posthog.hog_flows#HogFlowEdgeTypeEnum",
          "traits": {
            "smithy.api#documentation": "continue: fall-through (sequential or the no-match path of conditional_branch). branch: requires 'index' matching config.conditions[index].\n\n* `continue` - continue\n* `branch` - branch",
            "smithy.api#required": {}
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required for type='branch'. conditional_branch: index into config.conditions[index]. random_cohort_branch: index into config.cohorts[index]. wait_until_condition: use index:0 — it advances via the index:0 branch edge when it resolves (a condition match or an events entry firing)."
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source action id.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowEdgeTypeEnum": {
      "type": "enum",
      "members": {
        "CONTINUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "continue"
          }
        },
        "BRANCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "branch"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `continue` - continue\n* `branch` - branch"
      }
    },
    "com.posthog.hog_flows#CreateHogFlowRequestEdgesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowEdge"
      },
      "traits": {
        "smithy.api#documentation": "Graph edges: [{from, to, type: 'continue'|'branch', index?}]. 'continue' = fall-through (sequential, or no-match path of conditional_branch). 'branch' requires 'index': matches config.conditions[index] on conditional_branch / wait_until_condition. Every non-exit action needs a reachable next action ('No next action found' otherwise)."
      }
    },
    "com.posthog.hog_flows#HogFlowAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique node ID within the workflow."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description."
          }
        },
        "on_error": {
          "target": "com.posthog.hog_flows#OnErrorEnum",
          "traits": {
            "smithy.api#documentation": "On failure: continue (skip the action and proceed) or abort (stop the run).\n\n* `continue` - continue\n* `abort` - abort",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Created at (epoch ms). Frontend-managed."
          }
        },
        "updated_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Updated at (epoch ms). Frontend-managed."
          }
        },
        "filters": {
          "target": "com.posthog.hog_flows#HogFunctionFilters",
          "traits": {
            "smithy.api#documentation": "Property filters gating this action.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.posthog.hog_flows#HogFlowActionTypeEnum",
          "traits": {
            "smithy.api#documentation": "One of: trigger | function | function_email | function_sms | function_push | delay | wait_until_condition | wait_until_time_window | conditional_branch | random_cohort_branch | exit.\n\n* `trigger` - trigger\n* `function` - function\n* `function_email` - function_email\n* `function_sms` - function_sms\n* `function_push` - function_push\n* `delay` - delay\n* `wait_until_condition` - wait_until_condition\n* `wait_until_time_window` - wait_until_time_window\n* `conditional_branch` - conditional_branch\n* `random_cohort_branch` - random_cohort_branch\n* `exit` - exit"
          }
        },
        "config": {
          "target": "com.posthog.hog_flows#HogFlowActionConfig",
          "traits": {
            "smithy.api#documentation": "Type-specific config keyed by action type. trigger: {type: event|webhook|manual|batch|schedule|tracking_pixel|internal-event, filters?}. An active event trigger must name at least one event, action or property filter; with filters.source 'person-updates' that means at least one property filter. internal-event requires filters.events naming one or more allowed event ids, and runs once for each matching event on the internal-events stream. Runs are person-less, so person-dependent steps are rejected. $slack_message_received takes filters: {properties: [<cond>]} over the message properties (channel, user, bot_id, text, subtype, is_thread_reply), and requires an exact-match channel filter; without one it runs on every message in every connected channel. $github_event_received takes filters: {properties: [<cond>]} over the delivery properties (repository, event_type, action, sender, bot_sender, own_app, author_association, actor_access, title, body, review_state, branch, repository_visibility), and requires exact-match repository and event_type filters; without them it runs on every delivery from every connected repository. webhook and manual triggers also require template_id: 'template-source-webhook', and tracking_pixel requires template_id: 'template-source-webhook-pixel'. filters shape: {events: [{id, name, type:'events', properties:[<cond>]}], properties:[<cond>], actions:[...], filter_test_accounts:<bool>}. <cond>: {key, value, operator, type: event|person|group}, or {key: 'id', type: 'cohort', value: <cohort_id>, operator: 'in'} to reference a cohort. batch triggers may set filters.audience_type: 'persons' (default) or 'accounts'. An accounts audience fans out one run per customer analytics account and takes account filters instead: properties entries of type 'account_custom_property' (key = definition id), plus tag_names: [<str>], assignment_status: 'all'|'assigned'|'unassigned', and assigned_to_user_ids: [<int>] when assignment_status is 'assigned'. all_roles_unassigned remains accepted for workflows saved before assignment_status was added. function*: {template_id, inputs: {<key>: {value: <str>}}}. Wrap values in {value:...} to enable hog templating ({person.x}, {event.x}); flat strings won't interpolate. function_email also accepts tracking_enabled?: <bool> (default true) - when false, no open pixel is injected, links are not rewritten, and the send skips ESP-level open/click tracking, so opens and clicks are not recorded for that step (delivery/bounce/unsubscribe still are). Dictionary input values are template strings too — write booleans/numbers as single-expression templates ('{true}', '{42}'), which evaluate to the typed value. delay: waits a fixed span or until a per-person/-event date — set EXACTLY ONE of delay_duration or delay_until. {delay_duration: '<number><unit>'} where unit is s|m|h|d. Fractions OK ('1.5d'=36h). Per-unit max s<=60, m<=60, h<=24, d<=30; values above are SILENTLY CLAMPED. Max 30d. delay_until: {expression: '<SQL>', offset?: '<±number><unit>'} waits until the date expression evaluates to (an ISO string, unix seconds, or a date value all resolve to the same instant); offset is a signed duration shifting it ('-1d' a day before, '2h' two hours after). expression is compiled server-side, so any bytecode sent with it is discarded. A person property is person.properties.<key>; an event property is properties.<key>, as the 'event.' prefix resolves to nothing and aborts the run. Optional timezone (IANA name), use_person_timezone (read $geoip_time_zone) and fallback_timezone decide which zone a date with no offset of its own is read in; a date that states an offset, and unix seconds, ignore them. Default UTC. Optional sibling max_delay_duration (default 30d, same '<number><unit>' format) caps how far past the step's start the wait may run. conditional_branch: {conditions: [{filters}, ...]}. Index N matches the 'branch' edge with index:N. random_cohort_branch: {cohorts: [{percentage: <number>, name?}, ...]}. Index N matches the 'branch' edge with index:N; percentages are relative weights, so they should sum to 100 but a total above or below that still splits traffic in the given proportions. wait_until_condition: {condition: {filters}, events?: [{filters: {events: [{id, name, type: 'events'}], actions?: [...]}, name?}], max_wait_duration: <duration>} (same rules as delay). Continues when condition.filters match OR any events entry fires; each events entry must target at least one event or action. On resolution (a condition match or any events entry firing) it advances via the 'branch' edge with index:0; the max_wait_duration timeout falls through the 'continue' edge. exit: {reason}."
          }
        },
        "output_variable": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Output variable for downstream actions: {key, result_path?, spread?, label?} or a list of those."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#OnErrorEnum": {
      "type": "enum",
      "members": {
        "CONTINUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "continue"
          }
        },
        "ABORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abort"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `continue` - continue\n* `abort` - abort"
      }
    },
    "com.posthog.hog_flows#HogFlowActionTypeEnum": {
      "type": "enum",
      "members": {
        "TRIGGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trigger"
          }
        },
        "FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function"
          }
        },
        "FUNCTION_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function_email"
          }
        },
        "FUNCTION_SMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function_sms"
          }
        },
        "FUNCTION_PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function_push"
          }
        },
        "DELAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delay"
          }
        },
        "WAIT_UNTIL_CONDITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wait_until_condition"
          }
        },
        "WAIT_UNTIL_TIME_WINDOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wait_until_time_window"
          }
        },
        "CONDITIONAL_BRANCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conditional_branch"
          }
        },
        "RANDOM_COHORT_BRANCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "random_cohort_branch"
          }
        },
        "EXIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exit"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `trigger` - trigger\n* `function` - function\n* `function_email` - function_email\n* `function_sms` - function_sms\n* `function_push` - function_push\n* `delay` - delay\n* `wait_until_condition` - wait_until_condition\n* `wait_until_time_window` - wait_until_time_window\n* `conditional_branch` - conditional_branch\n* `random_cohort_branch` - random_cohort_branch\n* `exit` - exit"
      }
    },
    "com.posthog.hog_flows#HogFlowActionConfigCase0Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Config for every action type except wait_until_condition — see the field description for per-type shapes."
      }
    },
    "com.posthog.hog_flows#HogFlowActionConfigCase1Condition": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.posthog.hog_flows#HogFunctionFilters",
          "traits": {
            "smithy.api#documentation": "Property conditions, e.g. {properties: [{key, value, operator, type}]}.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional display name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Property-based wait condition; continues when the person matches. A condition with no property filters is ignored — the wait then relies on 'events' and the max_wait_duration timeout."
      }
    },
    "com.posthog.hog_flows#HogFlowActionConfigCase1EventsItem": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.posthog.hog_flows#HogFunctionFilters",
          "traits": {
            "smithy.api#documentation": "Event/action filters; the workflow wakes when a matching event fires. Must target at least one event or action (entries targeting neither are dropped).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional display name."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowActionConfigCase1EventsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowActionConfigCase1EventsItem"
      },
      "traits": {
        "smithy.api#documentation": "Events to wait for: continues when ANY entry fires (OR'd with 'condition'). Each entry: {filters: {events: [{id, name, type: 'events'}], actions?: [...]}, name?}."
      }
    },
    "com.posthog.hog_flows#HogFlowActionConfigCase1": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.posthog.hog_flows#HogFlowActionConfigCase1Condition",
          "traits": {
            "smithy.api#documentation": "Property-based wait condition; continues when the person matches. A condition with no property filters is ignored — the wait then relies on 'events' and the max_wait_duration timeout."
          }
        },
        "events": {
          "target": "com.posthog.hog_flows#HogFlowActionConfigCase1EventsList",
          "traits": {
            "smithy.api#documentation": "Events to wait for: continues when ANY entry fires (OR'd with 'condition'). Each entry: {filters: {events: [{id, name, type: 'events'}], actions?: [...]}, name?}."
          }
        },
        "max_wait_duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "'<number><unit>' with unit s|m|h|d, e.g. '30m' (same rules as delay).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for type='wait_until_condition'. Provide 'condition' and/or 'events' — an events-only wait (no condition) is valid."
      }
    },
    "com.posthog.hog_flows#HogFlowActionConfig": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.hog_flows#HogFlowActionConfigCase0Map"
        },
        "Case1": {
          "target": "com.posthog.hog_flows#HogFlowActionConfigCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Type-specific config keyed by action type. trigger: {type: event|webhook|manual|batch|schedule|tracking_pixel|internal-event, filters?}. An active event trigger must name at least one event, action or property filter; with filters.source 'person-updates' that means at least one property filter. internal-event requires filters.events naming one or more allowed event ids, and runs once for each matching event on the internal-events stream. Runs are person-less, so person-dependent steps are rejected. $slack_message_received takes filters: {properties: [<cond>]} over the message properties (channel, user, bot_id, text, subtype, is_thread_reply), and requires an exact-match channel filter; without one it runs on every message in every connected channel. $github_event_received takes filters: {properties: [<cond>]} over the delivery properties (repository, event_type, action, sender, bot_sender, own_app, author_association, actor_access, title, body, review_state, branch, repository_visibility), and requires exact-match repository and event_type filters; without them it runs on every delivery from every connected repository. webhook and manual triggers also require template_id: 'template-source-webhook', and tracking_pixel requires template_id: 'template-source-webhook-pixel'. filters shape: {events: [{id, name, type:'events', properties:[<cond>]}], properties:[<cond>], actions:[...], filter_test_accounts:<bool>}. <cond>: {key, value, operator, type: event|person|group}, or {key: 'id', type: 'cohort', value: <cohort_id>, operator: 'in'} to reference a cohort. batch triggers may set filters.audience_type: 'persons' (default) or 'accounts'. An accounts audience fans out one run per customer analytics account and takes account filters instead: properties entries of type 'account_custom_property' (key = definition id), plus tag_names: [<str>], assignment_status: 'all'|'assigned'|'unassigned', and assigned_to_user_ids: [<int>] when assignment_status is 'assigned'. all_roles_unassigned remains accepted for workflows saved before assignment_status was added. function*: {template_id, inputs: {<key>: {value: <str>}}}. Wrap values in {value:...} to enable hog templating ({person.x}, {event.x}); flat strings won't interpolate. function_email also accepts tracking_enabled?: <bool> (default true) - when false, no open pixel is injected, links are not rewritten, and the send skips ESP-level open/click tracking, so opens and clicks are not recorded for that step (delivery/bounce/unsubscribe still are). Dictionary input values are template strings too — write booleans/numbers as single-expression templates ('{true}', '{42}'), which evaluate to the typed value. delay: waits a fixed span or until a per-person/-event date — set EXACTLY ONE of delay_duration or delay_until. {delay_duration: '<number><unit>'} where unit is s|m|h|d. Fractions OK ('1.5d'=36h). Per-unit max s<=60, m<=60, h<=24, d<=30; values above are SILENTLY CLAMPED. Max 30d. delay_until: {expression: '<SQL>', offset?: '<±number><unit>'} waits until the date expression evaluates to (an ISO string, unix seconds, or a date value all resolve to the same instant); offset is a signed duration shifting it ('-1d' a day before, '2h' two hours after). expression is compiled server-side, so any bytecode sent with it is discarded. A person property is person.properties.<key>; an event property is properties.<key>, as the 'event.' prefix resolves to nothing and aborts the run. Optional timezone (IANA name), use_person_timezone (read $geoip_time_zone) and fallback_timezone decide which zone a date with no offset of its own is read in; a date that states an offset, and unix seconds, ignore them. Default UTC. Optional sibling max_delay_duration (default 30d, same '<number><unit>' format) caps how far past the step's start the wait may run. conditional_branch: {conditions: [{filters}, ...]}. Index N matches the 'branch' edge with index:N. random_cohort_branch: {cohorts: [{percentage: <number>, name?}, ...]}. Index N matches the 'branch' edge with index:N; percentages are relative weights, so they should sum to 100 but a total above or below that still splits traffic in the given proportions. wait_until_condition: {condition: {filters}, events?: [{filters: {events: [{id, name, type: 'events'}], actions?: [...]}, name?}], max_wait_duration: <duration>} (same rules as delay). Continues when condition.filters match OR any events entry fires; each events entry must target at least one event or action. On resolution (a condition match or any events entry firing) it advances via the 'branch' edge with index:0; the max_wait_duration timeout falls through the 'continue' edge. exit: {reason}."
      }
    },
    "com.posthog.hog_flows#CreateHogFlowRequestActionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowAction"
      },
      "traits": {
        "smithy.api#documentation": "Ordered action nodes. Exactly one type='trigger' required. Typically one type='exit' too."
      }
    },
    "com.posthog.hog_flows#CreateHogFlowRequestVariablesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Variable: {key, type: string|number|boolean, default}."
      }
    },
    "com.posthog.hog_flows#CreateHogFlowRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#CreateHogFlowRequestVariablesItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Workflow vars (key, type, default). Total <5KB."
      }
    },
    "com.posthog.hog_flows#CreateHogFlowRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Workflow name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description."
          }
        },
        "status": {
          "target": "com.posthog.hog_flows#HogFlowStateEnum",
          "traits": {
            "smithy.api#documentation": "draft (no execution), active (live), archived (disabled).\n\n* `draft` - Draft\n* `active` - Active\n* `archived` - Archived"
          }
        },
        "origin_product": {
          "target": "com.posthog.hog_flows#HogFlowOriginProductEnum",
          "traits": {
            "smithy.api#documentation": "Product surface that owns this workflow (e.g. `loops` for Desktop loops). Set only when creating a workflow. Filter the list with `?origin_product=`.\n\n* `loops` - Loops\n* `broadcasts` - Broadcasts",
            "com.distilled.openapi#nullable": {}
          }
        },
        "trigger_masking": {
          "target": "com.posthog.hog_flows#HogFlowMasking",
          "traits": {
            "smithy.api#documentation": "Optional dedup/throttle on an already-matched trigger: {hash: <HogQL template>, ttl: <seconds, 60-94608000>, threshold?: <int>}. Without threshold: fire once per hash, then suppress repeats within ttl (hash '{person.id}' = once per person per ttl). With threshold N: fire once per N matches of the same hash — a sampler, the 1st then every Nth. Throttles an already-qualifying trigger; it doesn't decide who enters. Server compiles bytecode from hash; omit to disable.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conversion": {
          "target": "com.posthog.hog_flows#HogFlowConversion",
          "traits": {
            "smithy.api#documentation": "Conversion goal. filters: ARRAY of property conditions [{key, value, operator, type: event|person|group}]; events: event-based goals [{filters: {events: [...]}}]; window: how long after entry a conversion counts, as a duration string such as '7d' or '12h', maximum '365d'. Required for exit_on_conversion / exit_on_trigger_not_matched_or_conversion. bytecode compiled server-side.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "exit_condition": {
          "target": "com.posthog.hog_flows#ExitConditionEnum",
          "traits": {
            "smithy.api#documentation": "exit_only_at_end: only at exit node (default). exit_on_conversion: also on conversion (needs 'conversion'; silent no-op otherwise). exit_on_trigger_not_matched: also when trigger filter stops matching. exit_on_trigger_not_matched_or_conversion: both (needs 'conversion').\n\n* `exit_on_conversion` - Conversion\n* `exit_on_trigger_not_matched` - Trigger Not Matched\n* `exit_on_trigger_not_matched_or_conversion` - Trigger Not Matched Or Conversion\n* `exit_only_at_end` - Only At End"
          }
        },
        "email_sending_rate_limit": {
          "target": "com.posthog.hog_flows#HogFlowEmailSendingRateLimit",
          "traits": {
            "smithy.api#documentation": "Optional email pacing for deliverability: {count, period: 'minute' | 'hour'}. The email worker spreads this workflow's sends to stay under the limit; over-limit sends wait for capacity instead of failing. Null disables pacing.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "edges": {
          "target": "com.posthog.hog_flows#CreateHogFlowRequestEdgesList",
          "traits": {
            "smithy.api#documentation": "Graph edges: [{from, to, type: 'continue'|'branch', index?}]. 'continue' = fall-through (sequential, or no-match path of conditional_branch). 'branch' requires 'index': matches config.conditions[index] on conditional_branch / wait_until_condition. Every non-exit action needs a reachable next action ('No next action found' otherwise)."
          }
        },
        "actions": {
          "target": "com.posthog.hog_flows#CreateHogFlowRequestActionsList",
          "traits": {
            "smithy.api#documentation": "Ordered action nodes. Exactly one type='trigger' required. Typically one type='exit' too."
          }
        },
        "variables": {
          "target": "com.posthog.hog_flows#CreateHogFlowRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Workflow vars (key, type, default). Total <5KB."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.hog_flows#HogFlow": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Workflow name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description."
          }
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "status": {
          "target": "com.posthog.hog_flows#HogFlowStateEnum",
          "traits": {
            "smithy.api#documentation": "draft (no execution), active (live), archived (disabled).\n\n* `draft` - Draft\n* `active` - Active\n* `archived` - Archived"
          }
        },
        "origin_product": {
          "target": "com.posthog.hog_flows#HogFlowOriginProductEnum",
          "traits": {
            "smithy.api#documentation": "Product surface that owns this workflow (e.g. `loops` for Desktop loops). Set only when creating a workflow. Filter the list with `?origin_product=`.\n\n* `loops` - Loops\n* `broadcasts` - Broadcasts",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.hog_flows#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "trigger": {
          "target": "smithy.api#Document"
        },
        "trigger_masking": {
          "target": "com.posthog.hog_flows#HogFlowMasking",
          "traits": {
            "smithy.api#documentation": "Optional dedup/throttle on an already-matched trigger: {hash: <HogQL template>, ttl: <seconds, 60-94608000>, threshold?: <int>}. Without threshold: fire once per hash, then suppress repeats within ttl (hash '{person.id}' = once per person per ttl). With threshold N: fire once per N matches of the same hash — a sampler, the 1st then every Nth. Throttles an already-qualifying trigger; it doesn't decide who enters. Server compiles bytecode from hash; omit to disable.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conversion": {
          "target": "com.posthog.hog_flows#HogFlowConversion",
          "traits": {
            "smithy.api#documentation": "Conversion goal. filters: ARRAY of property conditions [{key, value, operator, type: event|person|group}]; events: event-based goals [{filters: {events: [...]}}]; window: how long after entry a conversion counts, as a duration string such as '7d' or '12h', maximum '365d'. Required for exit_on_conversion / exit_on_trigger_not_matched_or_conversion. bytecode compiled server-side.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "exit_condition": {
          "target": "com.posthog.hog_flows#ExitConditionEnum",
          "traits": {
            "smithy.api#documentation": "exit_only_at_end: only at exit node (default). exit_on_conversion: also on conversion (needs 'conversion'; silent no-op otherwise). exit_on_trigger_not_matched: also when trigger filter stops matching. exit_on_trigger_not_matched_or_conversion: both (needs 'conversion').\n\n* `exit_on_conversion` - Conversion\n* `exit_on_trigger_not_matched` - Trigger Not Matched\n* `exit_on_trigger_not_matched_or_conversion` - Trigger Not Matched Or Conversion\n* `exit_only_at_end` - Only At End"
          }
        },
        "email_sending_rate_limit": {
          "target": "com.posthog.hog_flows#HogFlowEmailSendingRateLimit",
          "traits": {
            "smithy.api#documentation": "Optional email pacing for deliverability: {count, period: 'minute' | 'hour'}. The email worker spreads this workflow's sends to stay under the limit; over-limit sends wait for capacity instead of failing. Null disables pacing.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "edges": {
          "target": "com.posthog.hog_flows#HogFlowEdgesList",
          "traits": {
            "smithy.api#documentation": "Graph edges: [{from, to, type: 'continue'|'branch', index?}]. 'continue' = fall-through (sequential, or no-match path of conditional_branch). 'branch' requires 'index': matches config.conditions[index] on conditional_branch / wait_until_condition. Every non-exit action needs a reachable next action ('No next action found' otherwise)."
          }
        },
        "actions": {
          "target": "com.posthog.hog_flows#HogFlowActionsList",
          "traits": {
            "smithy.api#documentation": "Ordered action nodes. Exactly one type='trigger' required. Typically one type='exit' too."
          }
        },
        "abort_action": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "variables": {
          "target": "com.posthog.hog_flows#HogFlowVariablesList",
          "traits": {
            "smithy.api#documentation": "Workflow vars (key, type, default). Total <5KB."
          }
        },
        "billable_action_types": {
          "target": "smithy.api#Document"
        },
        "schedules": {
          "target": "com.posthog.hog_flows#HogFlowSchedulesList",
          "traits": {
            "smithy.api#documentation": "Recurring schedules attached to this workflow (read-only here; manage via the schedules sub-resource). A batch/schedule workflow only fires when it's active AND has an active schedule. Empty for non-scheduled workflows."
          }
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        },
        "draft": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Staged content changes awaiting publish — a full snapshot of the workflow's actions, edges and settings. Null when there's nothing staged. Test it with a use_draft test run, then promote it with the publish endpoint or throw it away with discard_draft."
          }
        },
        "draft_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the draft was last written; null when there's no staged draft. Pass this to publish (and as base_updated_at on further draft edits) so a concurrent editor's changes aren't clobbered — a mismatch returns 409.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "action_redirects": {
          "target": "com.posthog.hog_flows#HogFlowActionRedirectsMap",
          "traits": {
            "smithy.api#documentation": "Skip-forward map for deleted steps: {deleted_action_id: next surviving action_id}. Maintained automatically when a live graph edit deletes actions, so in-flight runs parked on a deleted step continue at its surviving successor instead of exiting. Null when no live deletions have occurred.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "email_sending_paused_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When PostHog paused this workflow's email automatically because its spam complaint or hard bounce rate crossed a threshold. Null when sending is not paused. Read-only: only the resume_email_sending endpoint clears a pause, so a normal update or publish can't lift it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "email_sending_paused_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain-language reason for the pause, naming the signal and the window. Empty when not paused."
          }
        },
        "email_sending_paused_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Who paused it: \"auto\" for the deliverability detector, \"staff\" for PostHog staff. A staff pause can only be resumed by staff, so the resume endpoint refuses it. Empty when not paused."
          }
        },
        "email_sending_pause_requires_support": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when only PostHog staff can lift the current pause: staff placed it, or it landed shortly after a resume, so another self-serve resume is not offered. False when not paused or when the resume endpoint would accept the caller."
          }
        },
        "email_sending_resumed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When sending was last resumed. Every detector window starts after this, so resuming does not immediately re-trip on the feedback that caused the pause. Null if never paused.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_run": {
          "target": "com.posthog.hog_flows#HogFlowLastRun",
          "traits": {
            "smithy.api#documentation": "Newest task this loop workflow created, as its last run. Null when the workflow is not a loop or has not run.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mixin for serializers to add user access control fields"
      }
    },
    "com.posthog.hog_flows#HogFlowEdgesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowEdge"
      },
      "traits": {
        "smithy.api#documentation": "Graph edges: [{from, to, type: 'continue'|'branch', index?}]. 'continue' = fall-through (sequential, or no-match path of conditional_branch). 'branch' requires 'index': matches config.conditions[index] on conditional_branch / wait_until_condition. Every non-exit action needs a reachable next action ('No next action found' otherwise)."
      }
    },
    "com.posthog.hog_flows#HogFlowActionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowAction"
      },
      "traits": {
        "smithy.api#documentation": "Ordered action nodes. Exactly one type='trigger' required. Typically one type='exit' too."
      }
    },
    "com.posthog.hog_flows#HogFlowVariablesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Variable: {key, type: string|number|boolean, default}."
      }
    },
    "com.posthog.hog_flows#HogFlowVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowVariablesItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Workflow vars (key, type, default). Total <5KB."
      }
    },
    "com.posthog.hog_flows#HogFlowSchedule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "rrule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "iCalendar RRULE string (e.g. 'FREQ=DAILY;INTERVAL=1'). Must produce occurrences at most once per hour."
          }
        },
        "starts_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 datetime the schedule starts from."
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IANA timezone for interpreting the RRULE (default 'UTC')."
          }
        },
        "variables": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Variable value overrides merged with the workflow defaults on each run."
          }
        },
        "status": {
          "target": "com.posthog.hog_flows#HogFlowScheduleStatusEnum",
          "traits": {
            "smithy.api#documentation": "active, paused, or completed (set once the RRULE's COUNT/UNTIL is exhausted).\n\n* `active` - Active\n* `paused` - Paused\n* `completed` - Completed"
          }
        },
        "next_run_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next scheduled fire time, computed by the scheduler.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowScheduleStatusEnum": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paused"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `active` - Active\n* `paused` - Paused\n* `completed` - Completed"
      }
    },
    "com.posthog.hog_flows#HogFlowSchedulesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowSchedule"
      },
      "traits": {
        "smithy.api#documentation": "Recurring schedules attached to this workflow (read-only here; manage via the schedules sub-resource). A batch/schedule workflow only fires when it's active AND has an active schedule. Empty for non-scheduled workflows."
      }
    },
    "com.posthog.hog_flows#HogFlowActionRedirectsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Skip-forward map for deleted steps: {deleted_action_id: next surviving action_id}. Maintained automatically when a live graph edit deletes actions, so in-flight runs parked on a deleted step continue at its surviving successor instead of exiting. Null when no live deletions have occurred."
      }
    },
    "com.posthog.hog_flows#CreateHogFlow": {
      "type": "operation",
      "input": {
        "target": "com.posthog.hog_flows#CreateHogFlowRequest"
      },
      "output": {
        "target": "com.posthog.hog_flows#HogFlow"
      },
      "errors": [
        {
          "target": "com.posthog.hog_flows#BadRequest"
        },
        {
          "target": "com.posthog.hog_flows#Forbidden"
        },
        {
          "target": "com.posthog.hog_flows#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/hog_flows/",
          "code": 200
        }
      }
    },
    "com.posthog.hog_flows#GetHogFlowRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this hog flow."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.hog_flows#GetHogFlow": {
      "type": "operation",
      "input": {
        "target": "com.posthog.hog_flows#GetHogFlowRequest"
      },
      "output": {
        "target": "com.posthog.hog_flows#HogFlow"
      },
      "errors": [
        {
          "target": "com.posthog.hog_flows#Forbidden"
        },
        {
          "target": "com.posthog.hog_flows#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/hog_flows/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.hog_flows#UpdateHogFlowRequestEdgesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowEdge"
      },
      "traits": {
        "smithy.api#documentation": "Graph edges: [{from, to, type: 'continue'|'branch', index?}]. 'continue' = fall-through (sequential, or no-match path of conditional_branch). 'branch' requires 'index': matches config.conditions[index] on conditional_branch / wait_until_condition. Every non-exit action needs a reachable next action ('No next action found' otherwise)."
      }
    },
    "com.posthog.hog_flows#UpdateHogFlowRequestActionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowAction"
      },
      "traits": {
        "smithy.api#documentation": "Ordered action nodes. Exactly one type='trigger' required. Typically one type='exit' too."
      }
    },
    "com.posthog.hog_flows#UpdateHogFlowRequestVariablesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Variable: {key, type: string|number|boolean, default}."
      }
    },
    "com.posthog.hog_flows#UpdateHogFlowRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#UpdateHogFlowRequestVariablesItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Workflow vars (key, type, default). Total <5KB."
      }
    },
    "com.posthog.hog_flows#UpdateHogFlowRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this hog flow."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Workflow name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description."
          }
        },
        "status": {
          "target": "com.posthog.hog_flows#HogFlowStateEnum",
          "traits": {
            "smithy.api#documentation": "draft (no execution), active (live), archived (disabled).\n\n* `draft` - Draft\n* `active` - Active\n* `archived` - Archived"
          }
        },
        "trigger_masking": {
          "target": "com.posthog.hog_flows#HogFlowMasking",
          "traits": {
            "smithy.api#documentation": "Optional dedup/throttle on an already-matched trigger: {hash: <HogQL template>, ttl: <seconds, 60-94608000>, threshold?: <int>}. Without threshold: fire once per hash, then suppress repeats within ttl (hash '{person.id}' = once per person per ttl). With threshold N: fire once per N matches of the same hash — a sampler, the 1st then every Nth. Throttles an already-qualifying trigger; it doesn't decide who enters. Server compiles bytecode from hash; omit to disable.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conversion": {
          "target": "com.posthog.hog_flows#HogFlowConversion",
          "traits": {
            "smithy.api#documentation": "Conversion goal. filters: ARRAY of property conditions [{key, value, operator, type: event|person|group}]; events: event-based goals [{filters: {events: [...]}}]; window: how long after entry a conversion counts, as a duration string such as '7d' or '12h', maximum '365d'. Required for exit_on_conversion / exit_on_trigger_not_matched_or_conversion. bytecode compiled server-side.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "exit_condition": {
          "target": "com.posthog.hog_flows#ExitConditionEnum",
          "traits": {
            "smithy.api#documentation": "exit_only_at_end: only at exit node (default). exit_on_conversion: also on conversion (needs 'conversion'; silent no-op otherwise). exit_on_trigger_not_matched: also when trigger filter stops matching. exit_on_trigger_not_matched_or_conversion: both (needs 'conversion').\n\n* `exit_on_conversion` - Conversion\n* `exit_on_trigger_not_matched` - Trigger Not Matched\n* `exit_on_trigger_not_matched_or_conversion` - Trigger Not Matched Or Conversion\n* `exit_only_at_end` - Only At End"
          }
        },
        "email_sending_rate_limit": {
          "target": "com.posthog.hog_flows#HogFlowEmailSendingRateLimit",
          "traits": {
            "smithy.api#documentation": "Optional email pacing for deliverability: {count, period: 'minute' | 'hour'}. The email worker spreads this workflow's sends to stay under the limit; over-limit sends wait for capacity instead of failing. Null disables pacing.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "edges": {
          "target": "com.posthog.hog_flows#UpdateHogFlowRequestEdgesList",
          "traits": {
            "smithy.api#documentation": "Graph edges: [{from, to, type: 'continue'|'branch', index?}]. 'continue' = fall-through (sequential, or no-match path of conditional_branch). 'branch' requires 'index': matches config.conditions[index] on conditional_branch / wait_until_condition. Every non-exit action needs a reachable next action ('No next action found' otherwise)."
          }
        },
        "actions": {
          "target": "com.posthog.hog_flows#UpdateHogFlowRequestActionsList",
          "traits": {
            "smithy.api#documentation": "Ordered action nodes. Exactly one type='trigger' required. Typically one type='exit' too.",
            "smithy.api#required": {}
          }
        },
        "variables": {
          "target": "com.posthog.hog_flows#UpdateHogFlowRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Workflow vars (key, type, default). Total <5KB."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.hog_flows#HogFlowUpdate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Workflow name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.hog_flows#HogFlowStateEnum",
          "traits": {
            "smithy.api#documentation": "draft (no execution), active (live), archived (disabled).\n\n* `draft` - Draft\n* `active` - Active\n* `archived` - Archived"
          }
        },
        "origin_product": {
          "target": "com.posthog.hog_flows#HogFlowOriginProductEnum",
          "traits": {
            "smithy.api#documentation": "Product surface that owns this workflow. This value cannot change after creation.\n\n* `loops` - Loops\n* `broadcasts` - Broadcasts",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.hog_flows#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trigger": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trigger_masking": {
          "target": "com.posthog.hog_flows#HogFlowMasking",
          "traits": {
            "smithy.api#documentation": "Optional dedup/throttle on an already-matched trigger: {hash: <HogQL template>, ttl: <seconds, 60-94608000>, threshold?: <int>}. Without threshold: fire once per hash, then suppress repeats within ttl (hash '{person.id}' = once per person per ttl). With threshold N: fire once per N matches of the same hash — a sampler, the 1st then every Nth. Throttles an already-qualifying trigger; it doesn't decide who enters. Server compiles bytecode from hash; omit to disable.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conversion": {
          "target": "com.posthog.hog_flows#HogFlowConversion",
          "traits": {
            "smithy.api#documentation": "Conversion goal. filters: ARRAY of property conditions [{key, value, operator, type: event|person|group}]; events: event-based goals [{filters: {events: [...]}}]; window: how long after entry a conversion counts, as a duration string such as '7d' or '12h', maximum '365d'. Required for exit_on_conversion / exit_on_trigger_not_matched_or_conversion. bytecode compiled server-side.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "exit_condition": {
          "target": "com.posthog.hog_flows#ExitConditionEnum",
          "traits": {
            "smithy.api#documentation": "exit_only_at_end: only at exit node (default). exit_on_conversion: also on conversion (needs 'conversion'; silent no-op otherwise). exit_on_trigger_not_matched: also when trigger filter stops matching. exit_on_trigger_not_matched_or_conversion: both (needs 'conversion').\n\n* `exit_on_conversion` - Conversion\n* `exit_on_trigger_not_matched` - Trigger Not Matched\n* `exit_on_trigger_not_matched_or_conversion` - Trigger Not Matched Or Conversion\n* `exit_only_at_end` - Only At End"
          }
        },
        "email_sending_rate_limit": {
          "target": "com.posthog.hog_flows#HogFlowEmailSendingRateLimit",
          "traits": {
            "smithy.api#documentation": "Optional email pacing for deliverability: {count, period: 'minute' | 'hour'}. The email worker spreads this workflow's sends to stay under the limit; over-limit sends wait for capacity instead of failing. Null disables pacing.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "edges": {
          "target": "com.posthog.hog_flows#HogFlowUpdateEdgesList",
          "traits": {
            "smithy.api#documentation": "Graph edges: [{from, to, type: 'continue'|'branch', index?}]. 'continue' = fall-through (sequential, or no-match path of conditional_branch). 'branch' requires 'index': matches config.conditions[index] on conditional_branch / wait_until_condition. Every non-exit action needs a reachable next action ('No next action found' otherwise)."
          }
        },
        "actions": {
          "target": "com.posthog.hog_flows#HogFlowUpdateActionsList",
          "traits": {
            "smithy.api#documentation": "Ordered action nodes. Exactly one type='trigger' required. Typically one type='exit' too.",
            "smithy.api#required": {}
          }
        },
        "abort_action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "variables": {
          "target": "com.posthog.hog_flows#HogFlowUpdateVariablesList",
          "traits": {
            "smithy.api#documentation": "Workflow vars (key, type, default). Total <5KB."
          }
        },
        "billable_action_types": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "schedules": {
          "target": "com.posthog.hog_flows#HogFlowUpdateSchedulesList",
          "traits": {
            "smithy.api#documentation": "Recurring schedules attached to this workflow (read-only here; manage via the schedules sub-resource). A batch/schedule workflow only fires when it's active AND has an active schedule. Empty for non-scheduled workflows.",
            "smithy.api#required": {}
          }
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "draft": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Staged content changes awaiting publish — a full snapshot of the workflow's actions, edges and settings. Null when there's nothing staged. Test it with a use_draft test run, then promote it with the publish endpoint or throw it away with discard_draft.",
            "smithy.api#required": {}
          }
        },
        "draft_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the draft was last written; null when there's no staged draft. Pass this to publish (and as base_updated_at on further draft edits) so a concurrent editor's changes aren't clobbered — a mismatch returns 409.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "action_redirects": {
          "target": "com.posthog.hog_flows#HogFlowUpdateActionRedirectsMap",
          "traits": {
            "smithy.api#documentation": "Skip-forward map for deleted steps: {deleted_action_id: next surviving action_id}. Maintained automatically when a live graph edit deletes actions, so in-flight runs parked on a deleted step continue at its surviving successor instead of exiting. Null when no live deletions have occurred.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "email_sending_paused_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When PostHog paused this workflow's email automatically because its spam complaint or hard bounce rate crossed a threshold. Null when sending is not paused. Read-only: only the resume_email_sending endpoint clears a pause, so a normal update or publish can't lift it.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "email_sending_paused_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain-language reason for the pause, naming the signal and the window. Empty when not paused.",
            "smithy.api#required": {}
          }
        },
        "email_sending_paused_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Who paused it: \"auto\" for the deliverability detector, \"staff\" for PostHog staff. A staff pause can only be resumed by staff, so the resume endpoint refuses it. Empty when not paused.",
            "smithy.api#required": {}
          }
        },
        "email_sending_pause_requires_support": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when only PostHog staff can lift the current pause: staff placed it, or it landed shortly after a resume, so another self-serve resume is not offered. False when not paused or when the resume endpoint would accept the caller.",
            "smithy.api#required": {}
          }
        },
        "email_sending_resumed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When sending was last resumed. Every detector window starts after this, so resuming does not immediately re-trip on the feedback that caused the pause. Null if never paused.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_run": {
          "target": "com.posthog.hog_flows#HogFlowLastRun",
          "traits": {
            "smithy.api#documentation": "Newest task this loop workflow created, as its last run. Null when the workflow is not a loop or has not run.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mixin for serializers to add user access control fields"
      }
    },
    "com.posthog.hog_flows#HogFlowUpdateEdgesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowEdge"
      },
      "traits": {
        "smithy.api#documentation": "Graph edges: [{from, to, type: 'continue'|'branch', index?}]. 'continue' = fall-through (sequential, or no-match path of conditional_branch). 'branch' requires 'index': matches config.conditions[index] on conditional_branch / wait_until_condition. Every non-exit action needs a reachable next action ('No next action found' otherwise)."
      }
    },
    "com.posthog.hog_flows#HogFlowUpdateActionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowAction"
      },
      "traits": {
        "smithy.api#documentation": "Ordered action nodes. Exactly one type='trigger' required. Typically one type='exit' too."
      }
    },
    "com.posthog.hog_flows#HogFlowUpdateVariablesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Variable: {key, type: string|number|boolean, default}."
      }
    },
    "com.posthog.hog_flows#HogFlowUpdateVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowUpdateVariablesItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Workflow vars (key, type, default). Total <5KB."
      }
    },
    "com.posthog.hog_flows#HogFlowUpdateSchedulesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowSchedule"
      },
      "traits": {
        "smithy.api#documentation": "Recurring schedules attached to this workflow (read-only here; manage via the schedules sub-resource). A batch/schedule workflow only fires when it's active AND has an active schedule. Empty for non-scheduled workflows."
      }
    },
    "com.posthog.hog_flows#HogFlowUpdateActionRedirectsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Skip-forward map for deleted steps: {deleted_action_id: next surviving action_id}. Maintained automatically when a live graph edit deletes actions, so in-flight runs parked on a deleted step continue at its surviving successor instead of exiting. Null when no live deletions have occurred."
      }
    },
    "com.posthog.hog_flows#UpdateHogFlow": {
      "type": "operation",
      "input": {
        "target": "com.posthog.hog_flows#UpdateHogFlowRequest"
      },
      "output": {
        "target": "com.posthog.hog_flows#HogFlowUpdate"
      },
      "errors": [
        {
          "target": "com.posthog.hog_flows#BadRequest"
        },
        {
          "target": "com.posthog.hog_flows#Forbidden"
        },
        {
          "target": "com.posthog.hog_flows#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/hog_flows/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.hog_flows#UpdateHogFlowsPartialRequestEdgesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowEdge"
      },
      "traits": {
        "smithy.api#documentation": "Graph edges: [{from, to, type: 'continue'|'branch', index?}]. 'continue' = fall-through (sequential, or no-match path of conditional_branch). 'branch' requires 'index': matches config.conditions[index] on conditional_branch / wait_until_condition. Every non-exit action needs a reachable next action ('No next action found' otherwise)."
      }
    },
    "com.posthog.hog_flows#UpdateHogFlowsPartialRequestActionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowAction"
      },
      "traits": {
        "smithy.api#documentation": "Ordered action nodes. Exactly one type='trigger' required. Typically one type='exit' too."
      }
    },
    "com.posthog.hog_flows#UpdateHogFlowsPartialRequestVariablesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Variable: {key, type: string|number|boolean, default}."
      }
    },
    "com.posthog.hog_flows#UpdateHogFlowsPartialRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#UpdateHogFlowsPartialRequestVariablesItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Workflow vars (key, type, default). Total <5KB."
      }
    },
    "com.posthog.hog_flows#UpdateHogFlowsPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this hog flow."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Workflow name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description."
          }
        },
        "status": {
          "target": "com.posthog.hog_flows#HogFlowStateEnum",
          "traits": {
            "smithy.api#documentation": "draft (no execution), active (live), archived (disabled).\n\n* `draft` - Draft\n* `active` - Active\n* `archived` - Archived"
          }
        },
        "trigger_masking": {
          "target": "com.posthog.hog_flows#HogFlowMasking",
          "traits": {
            "smithy.api#documentation": "Optional dedup/throttle on an already-matched trigger: {hash: <HogQL template>, ttl: <seconds, 60-94608000>, threshold?: <int>}. Without threshold: fire once per hash, then suppress repeats within ttl (hash '{person.id}' = once per person per ttl). With threshold N: fire once per N matches of the same hash — a sampler, the 1st then every Nth. Throttles an already-qualifying trigger; it doesn't decide who enters. Server compiles bytecode from hash; omit to disable.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conversion": {
          "target": "com.posthog.hog_flows#HogFlowConversion",
          "traits": {
            "smithy.api#documentation": "Conversion goal. filters: ARRAY of property conditions [{key, value, operator, type: event|person|group}]; events: event-based goals [{filters: {events: [...]}}]; window: how long after entry a conversion counts, as a duration string such as '7d' or '12h', maximum '365d'. Required for exit_on_conversion / exit_on_trigger_not_matched_or_conversion. bytecode compiled server-side.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "exit_condition": {
          "target": "com.posthog.hog_flows#ExitConditionEnum",
          "traits": {
            "smithy.api#documentation": "exit_only_at_end: only at exit node (default). exit_on_conversion: also on conversion (needs 'conversion'; silent no-op otherwise). exit_on_trigger_not_matched: also when trigger filter stops matching. exit_on_trigger_not_matched_or_conversion: both (needs 'conversion').\n\n* `exit_on_conversion` - Conversion\n* `exit_on_trigger_not_matched` - Trigger Not Matched\n* `exit_on_trigger_not_matched_or_conversion` - Trigger Not Matched Or Conversion\n* `exit_only_at_end` - Only At End"
          }
        },
        "email_sending_rate_limit": {
          "target": "com.posthog.hog_flows#HogFlowEmailSendingRateLimit",
          "traits": {
            "smithy.api#documentation": "Optional email pacing for deliverability: {count, period: 'minute' | 'hour'}. The email worker spreads this workflow's sends to stay under the limit; over-limit sends wait for capacity instead of failing. Null disables pacing.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "edges": {
          "target": "com.posthog.hog_flows#UpdateHogFlowsPartialRequestEdgesList",
          "traits": {
            "smithy.api#documentation": "Graph edges: [{from, to, type: 'continue'|'branch', index?}]. 'continue' = fall-through (sequential, or no-match path of conditional_branch). 'branch' requires 'index': matches config.conditions[index] on conditional_branch / wait_until_condition. Every non-exit action needs a reachable next action ('No next action found' otherwise)."
          }
        },
        "actions": {
          "target": "com.posthog.hog_flows#UpdateHogFlowsPartialRequestActionsList",
          "traits": {
            "smithy.api#documentation": "Ordered action nodes. Exactly one type='trigger' required. Typically one type='exit' too."
          }
        },
        "variables": {
          "target": "com.posthog.hog_flows#UpdateHogFlowsPartialRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Workflow vars (key, type, default). Total <5KB."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.hog_flows#UpdateHogFlowsPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.hog_flows#UpdateHogFlowsPartialRequest"
      },
      "output": {
        "target": "com.posthog.hog_flows#HogFlowUpdate"
      },
      "errors": [
        {
          "target": "com.posthog.hog_flows#BadRequest"
        },
        {
          "target": "com.posthog.hog_flows#Forbidden"
        },
        {
          "target": "com.posthog.hog_flows#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/hog_flows/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.hog_flows#HogFlowsDestroyRequest": {
[...]
