{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.integrations#ListIntegrationsRequestKind": {
      "type": "enum",
      "members": {
        "ANTHROPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic"
          }
        },
        "APNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apns"
          }
        },
        "AWS_REDSHIFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws-redshift"
          }
        },
        "AWS_S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws-s3"
          }
        },
        "AZURE_BLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "azure-blob"
          }
        },
        "BING_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bing-ads"
          }
        },
        "CLICKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickup"
          }
        },
        "CUSTOMERIO_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customerio-app"
          }
        },
        "CUSTOMERIO_TRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customerio-track"
          }
        },
        "CUSTOMERIO_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customerio-webhook"
          }
        },
        "DATABRICKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "databricks"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "FIREBASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebase"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "GOOGLE_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-ads"
          }
        },
        "GOOGLE_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-analytics"
          }
        },
        "GOOGLE_CALENDAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-calendar"
          }
        },
        "GOOGLE_CLOUD_SERVICE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-cloud-service-account"
          }
        },
        "GOOGLE_CLOUD_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-cloud-storage"
          }
        },
        "GOOGLE_PUBSUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-pubsub"
          }
        },
        "GOOGLE_SEARCH_CONSOLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-search-console"
          }
        },
        "GOOGLE_SHEETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-sheets"
          }
        },
        "HELPSCOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "helpscout"
          }
        },
        "HUBSPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hubspot"
          }
        },
        "INSTAGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "instagram"
          }
        },
        "INTERCOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "intercom"
          }
        },
        "JIRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jira"
          }
        },
        "LINEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linear"
          }
        },
        "LINKEDIN_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linkedin-ads"
          }
        },
        "META_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "meta-ads"
          }
        },
        "PARDOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pardot"
          }
        },
        "PINTEREST_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pinterest-ads"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "POSTHOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog"
          }
        },
        "REDDIT_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reddit-ads"
          }
        },
        "RESEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resend"
          }
        },
        "S3_COMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "s3-compatible"
          }
        },
        "SALESFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "salesforce"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        },
        "SLACK_POSTHOG_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack-posthog-code"
          }
        },
        "SNAPCHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snapchat"
          }
        },
        "SNOWFLAKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snowflake"
          }
        },
        "STRIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stripe"
          }
        },
        "TIKTOK_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tiktok-ads"
          }
        },
        "TWILIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "twilio"
          }
        },
        "TWITTER_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "twitter-ads"
          }
        },
        "VERCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vercel"
          }
        },
        "YOUTUBE_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "youtube-analytics"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#ListIntegrationsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "kind": {
          "target": "com.posthog.integrations#ListIntegrationsRequestKind",
          "traits": {
            "smithy.api#httpQuery": "kind",
            "smithy.api#documentation": "* `anthropic` - Anthropic\n* `apns` - Apple Push\n* `aws-redshift` - Aws Redshift\n* `aws-s3` - Aws S3\n* `azure-blob` - Azure Blob\n* `bing-ads` - Bing Ads\n* `clickup` - Clickup\n* `customerio-app` - Customerio App\n* `customerio-track` - Customerio Track\n* `customerio-webhook` - Customerio Webhook\n* `databricks` - Databricks\n* `email` - Email\n* `firebase` - Firebase\n* `github` - Github\n* `gitlab` - Gitlab\n* `google-ads` - Google Ads\n* `google-analytics` - Google Analytics\n* `google-calendar` - Google Calendar\n* `google-cloud-service-account` - Google Cloud Service Account\n* `google-cloud-storage` - Google Cloud Storage\n* `google-pubsub` - Google Pubsub\n* `google-search-console` - Google Search Console\n* `google-sheets` - Google Sheets\n* `helpscout` - Helpscout\n* `hubspot` - Hubspot\n* `instagram` - Instagram\n* `intercom` - Intercom\n* `jira` - Jira\n* `linear` - Linear\n* `linkedin-ads` - Linkedin Ads\n* `meta-ads` - Meta Ads\n* `pardot` - Pardot\n* `pinterest-ads` - Pinterest Ads\n* `postgresql` - Postgresql\n* `posthog` - Posthog\n* `reddit-ads` - Reddit Ads\n* `twitter-ads` - Twitter Ads\n* `resend` - Resend\n* `s3-compatible` - S3 Compatible\n* `salesforce` - Salesforce\n* `slack` - Slack\n* `slack-posthog-code` - Slack Posthog Code\n* `snapchat` - Snapchat\n* `snowflake` - Snowflake\n* `stripe` - Stripe\n* `tiktok-ads` - Tiktok Ads\n* `twilio` - Twilio\n* `vercel` - Vercel\n* `youtube-analytics` - Youtube Analytics"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#PaginatedIntegrationConfigList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.integrations#PaginatedIntegrationConfigListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#IntegrationConfig": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "kind": {
          "target": "com.posthog.integrations#IntegrationKindEnum"
        },
        "config": {
          "target": "smithy.api#Document"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.integrations#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "errors": {
          "target": "smithy.api#String"
        },
        "display_name": {
          "target": "smithy.api#String"
        },
        "files_write_requestable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Slack only: whether reconnecting can request the files:write scope."
          }
        },
        "installation_shared": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "GitHub only, null otherwise. Whether another project's GitHub integration references the same App installation. When false, disconnecting this integration also uninstalls the GitHub App from the connected account or organization and removes personal GitHub connections that share it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "installation_status": {
          "target": "com.posthog.integrations#InstallationStatusEnum",
          "traits": {
            "smithy.api#documentation": "GitHub only, null otherwise. `unavailable` means the App was uninstalled or suspended on GitHub and PostHog can no longer mint tokens for it; `connected` otherwise.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Standard Integration serializer."
      }
    },
    "com.posthog.integrations#IntegrationKindEnum": {
      "type": "enum",
      "members": {
        "ANTHROPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic"
          }
        },
        "APNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apns"
          }
        },
        "AWS_REDSHIFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws-redshift"
          }
        },
        "AWS_S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws-s3"
          }
        },
        "AZURE_BLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "azure-blob"
          }
        },
        "BING_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bing-ads"
          }
        },
        "CLICKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickup"
          }
        },
        "CUSTOMERIO_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customerio-app"
          }
        },
        "CUSTOMERIO_TRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customerio-track"
          }
        },
        "CUSTOMERIO_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customerio-webhook"
          }
        },
        "DATABRICKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "databricks"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "FIREBASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebase"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "GOOGLE_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-ads"
          }
        },
        "GOOGLE_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-analytics"
          }
        },
        "GOOGLE_CALENDAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-calendar"
          }
        },
        "GOOGLE_CLOUD_SERVICE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-cloud-service-account"
          }
        },
        "GOOGLE_CLOUD_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-cloud-storage"
          }
        },
        "GOOGLE_PUBSUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-pubsub"
          }
        },
        "GOOGLE_SEARCH_CONSOLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-search-console"
          }
        },
        "GOOGLE_SHEETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-sheets"
          }
        },
        "HELPSCOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "helpscout"
          }
        },
        "HUBSPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hubspot"
          }
        },
        "INSTAGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "instagram"
          }
        },
        "INTERCOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "intercom"
          }
        },
        "JIRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jira"
          }
        },
        "LINEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linear"
          }
        },
        "LINKEDIN_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linkedin-ads"
          }
        },
        "META_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "meta-ads"
          }
        },
        "PARDOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pardot"
          }
        },
        "PINTEREST_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pinterest-ads"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "POSTHOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog"
          }
        },
        "REDDIT_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reddit-ads"
          }
        },
        "TWITTER_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "twitter-ads"
          }
        },
        "RESEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resend"
          }
        },
        "S3_COMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "s3-compatible"
          }
        },
        "SALESFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "salesforce"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        },
        "SLACK_POSTHOG_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack-posthog-code"
          }
        },
        "SNAPCHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snapchat"
          }
        },
        "SNOWFLAKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snowflake"
          }
        },
        "STRIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stripe"
          }
        },
        "TIKTOK_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tiktok-ads"
          }
        },
        "TWILIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "twilio"
          }
        },
        "VERCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vercel"
          }
        },
        "YOUTUBE_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "youtube-analytics"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `anthropic` - Anthropic\n* `apns` - Apple Push\n* `aws-redshift` - Aws Redshift\n* `aws-s3` - Aws S3\n* `azure-blob` - Azure Blob\n* `bing-ads` - Bing Ads\n* `clickup` - Clickup\n* `customerio-app` - Customerio App\n* `customerio-track` - Customerio Track\n* `customerio-webhook` - Customerio Webhook\n* `databricks` - Databricks\n* `email` - Email\n* `firebase` - Firebase\n* `github` - Github\n* `gitlab` - Gitlab\n* `google-ads` - Google Ads\n* `google-analytics` - Google Analytics\n* `google-calendar` - Google Calendar\n* `google-cloud-service-account` - Google Cloud Service Account\n* `google-cloud-storage` - Google Cloud Storage\n* `google-pubsub` - Google Pubsub\n* `google-search-console` - Google Search Console\n* `google-sheets` - Google Sheets\n* `helpscout` - Helpscout\n* `hubspot` - Hubspot\n* `instagram` - Instagram\n* `intercom` - Intercom\n* `jira` - Jira\n* `linear` - Linear\n* `linkedin-ads` - Linkedin Ads\n* `meta-ads` - Meta Ads\n* `pardot` - Pardot\n* `pinterest-ads` - Pinterest Ads\n* `postgresql` - Postgresql\n* `posthog` - Posthog\n* `reddit-ads` - Reddit Ads\n* `twitter-ads` - Twitter Ads\n* `resend` - Resend\n* `s3-compatible` - S3 Compatible\n* `salesforce` - Salesforce\n* `slack` - Slack\n* `slack-posthog-code` - Slack Posthog Code\n* `snapchat` - Snapchat\n* `snowflake` - Snowflake\n* `stripe` - Stripe\n* `tiktok-ads` - Tiktok Ads\n* `twilio` - Twilio\n* `vercel` - Vercel\n* `youtube-analytics` - Youtube Analytics"
      }
    },
    "com.posthog.integrations#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.integrations#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.integrations#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.integrations#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.integrations#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.integrations#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.integrations#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#InstallationStatusEnum": {
      "type": "enum",
      "members": {
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connected"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unavailable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `connected` - connected\n* `unavailable` - unavailable"
      }
    },
    "com.posthog.integrations#PaginatedIntegrationConfigListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.integrations#IntegrationConfig"
      },
      "traits": {}
    },
    "com.posthog.integrations#ListIntegrations": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#ListIntegrationsRequest"
      },
      "output": {
        "target": "com.posthog.integrations#PaginatedIntegrationConfigList"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#BadRequest"
        },
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#CreateIntegrationRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "kind": {
          "target": "com.posthog.integrations#IntegrationKindEnum"
        },
        "config": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#CreateIntegration": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#CreateIntegrationRequest"
      },
      "output": {
        "target": "com.posthog.integrations#IntegrationConfig"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#BadRequest"
        },
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/integrations/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#GetIntegration": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationRequest"
      },
      "output": {
        "target": "com.posthog.integrations#IntegrationConfig"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#IntegrationsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#IntegrationsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#IntegrationsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/integrations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsAnthropicManagedAgentEnvRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#GetIntegrationsAnthropicManagedAgentEnv": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsAnthropicManagedAgentEnvRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/anthropic_managed_agent_environments/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsAnthropicManagedAgentVaultRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#GetIntegrationsAnthropicManagedAgentVault": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsAnthropicManagedAgentVaultRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/anthropic_managed_agent_vaults/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsAnthropicManagedAgentRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#GetIntegrationsAnthropicManagedAgent": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsAnthropicManagedAgentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/anthropic_managed_agents/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsChannelRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of channels to return per request (max 200)."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "Number of channels to skip before returning results."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Optional case-insensitive channel name or ID search query."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#SlackChannelsResponse": {
      "type": "structure",
      "members": {
        "channels": {
          "target": "com.posthog.integrations#SlackChannelsResponseChannelsList",
          "traits": {
            "smithy.api#documentation": "Slack channels visible to the PostHog Slack app.",
            "smithy.api#required": {}
          }
        },
        "lastRefreshedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timestamp of the last full Slack API refresh (only set on full lists, not single-channel lookups).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether more channels match the current search beyond this page."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#SlackChannel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack channel ID (e.g. C0123ABC) — pass to cdp-functions inputs.channel.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack channel name without the leading '#'.",
            "smithy.api#required": {}
          }
        },
        "is_private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the channel is private.",
            "smithy.api#required": {}
          }
        },
        "is_member": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the PostHog Slack app is a member of the channel and can post to it.",
            "smithy.api#required": {}
          }
        },
        "is_ext_shared": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the channel is shared with another Slack workspace.",
            "smithy.api#required": {}
          }
        },
        "is_private_without_access": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the channel is private and the PostHog Slack app cannot access it.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#SlackChannelsResponseChannelsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.integrations#SlackChannel"
      },
      "traits": {
        "smithy.api#documentation": "Slack channels visible to the PostHog Slack app."
      }
    },
    "com.posthog.integrations#GetIntegrationsChannel": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsChannelRequest"
      },
      "output": {
        "target": "com.posthog.integrations#SlackChannelsResponse"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/channels/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsClickupListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#GetIntegrationsClickupList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsClickupListRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/clickup_lists/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsClickupSpaceRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#GetIntegrationsClickupSpace": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsClickupSpaceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/clickup_spaces/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsClickupWorkspaceRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#GetIntegrationsClickupWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsClickupWorkspaceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/clickup_workspaces/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#UpdateIntegrationsEmailPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        },
        "kind": {
          "target": "com.posthog.integrations#IntegrationKindEnum"
        },
        "config": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#UpdateIntegrationsEmailPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#UpdateIntegrationsEmailPartialRequest"
      },
      "output": {
        "target": "com.posthog.integrations#IntegrationConfig"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#BadRequest"
        },
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/integrations/{id}/email/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#IntegrationsEmailVerifyCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        },
        "kind": {
          "target": "com.posthog.integrations#IntegrationKindEnum"
        },
        "config": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#IntegrationsEmailVerifyCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#IntegrationsEmailVerifyCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#BadRequest"
        },
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/integrations/{id}/email/verify/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsGithubBranchRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of branches to return"
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "Number of branches to skip"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#required": {},
            "smithy.api#documentation": "Repository in owner/repo format"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Optional case-insensitive branch name search query."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#GitHubBranchesResponse": {
      "type": "structure",
      "members": {
        "branches": {
          "target": "com.posthog.integrations#GitHubBranchesResponseBranchesList",
          "traits": {
            "smithy.api#documentation": "List of branch names"
          }
        },
        "default_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default branch of the repository",
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether more branches exist beyond the returned page"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#GitHubBranchesResponseBranchesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of branch names"
      }
    },
    "com.posthog.integrations#GetIntegrationsGithubBranch": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsGithubBranchRequest"
      },
      "output": {
        "target": "com.posthog.integrations#GitHubBranchesResponse"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#BadRequest"
        },
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/github_branches/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsGithubReposRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        },
        "compact": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "compact",
            "smithy.api#documentation": "When true, return only id, name, and full_name for each repository. Use it to list large rosters in fewer, smaller pages."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of repositories to return per request (max 500)."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "Number of repositories to skip before returning results."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Optional case-insensitive repository name search query."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#GitHubReposResponse": {
      "type": "structure",
      "members": {
        "repositories": {
          "target": "com.posthog.integrations#GitHubReposResponseRepositoriesList"
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether more repositories are available beyond this page."
          }
        },
        "next_offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The offset to pass to get the next page, or null when this page is the last one.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of repositories matching the search query, across all pages."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#GitHubRepo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "GitHub repository numeric identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository short name (without the owner prefix)."
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully-qualified repository name as 'owner/repo'."
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is private."
          }
        },
        "default_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repository's default branch (e.g. 'main')."
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary programming language GitHub detected for the repository."
          }
        },
        "pushed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timestamp of the most recent push, useful for sorting by recent activity."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is archived."
          }
        },
        "can_push": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the PostHog GitHub App has write access — required to open pull requests."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#GitHubReposResponseRepositoriesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.integrations#GitHubRepo"
      },
      "traits": {}
    },
    "com.posthog.integrations#GetIntegrationsGithubRepos": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsGithubReposRequest"
      },
      "output": {
        "target": "com.posthog.integrations#GitHubReposResponse"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#BadRequest"
        },
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/github_repos/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#IntegrationsGithubReposRefreshCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#GitHubReposRefreshResponse": {
      "type": "structure",
      "members": {
        "repositories": {
          "target": "com.posthog.integrations#GitHubReposRefreshResponseRepositoriesList",
          "traits": {
            "smithy.api#documentation": "The refreshed repository cache."
          }
        },
        "installation_status": {
          "target": "com.posthog.integrations#InstallationStatusEnum",
          "traits": {
            "smithy.api#documentation": "`unavailable` when GitHub reports the App installation as uninstalled or suspended, in which case `repositories` is the last cached list rather than a fresh one.\n\n* `connected` - connected\n* `unavailable` - unavailable"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#GitHubReposRefreshResponseRepositoriesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.integrations#GitHubRepo"
      },
      "traits": {
        "smithy.api#documentation": "The refreshed repository cache."
      }
    },
    "com.posthog.integrations#IntegrationsGithubReposRefreshCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#IntegrationsGithubReposRefreshCreateRequest"
      },
      "output": {
        "target": "com.posthog.integrations#GitHubReposRefreshResponse"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/integrations/{id}/github_repos/refresh/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsGithubTeamRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of teams to return per request (max 500)."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "Number of teams to skip before returning results."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Optional case-insensitive team name or slug search query."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#GitHubTeamsResponse": {
      "type": "structure",
      "members": {
        "teams": {
          "target": "com.posthog.integrations#GitHubTeamsResponseTeamsList",
          "traits": {
            "smithy.api#documentation": "List of GitHub teams available to the installation organization.",
            "smithy.api#required": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether more teams are available beyond this page.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#GitHubTeam": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "GitHub team numeric identifier.",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub team slug.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub team display name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#GitHubTeamsResponseTeamsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.integrations#GitHubTeam"
      },
      "traits": {
        "smithy.api#documentation": "List of GitHub teams available to the installation organization."
      }
    },
    "com.posthog.integrations#GetIntegrationsGithubTeam": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsGithubTeamRequest"
      },
      "output": {
        "target": "com.posthog.integrations#GitHubTeamsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/github_teams/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsGoogleAccessibleAccountRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#GetIntegrationsGoogleAccessibleAccount": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsGoogleAccessibleAccountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/google_accessible_accounts/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsGoogleConversionActionRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#GetIntegrationsGoogleConversionAction": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsGoogleConversionActionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/google_conversion_actions/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsJiraProjectRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#JiraProjectsResponse": {
      "type": "structure",
      "members": {
        "projects": {
          "target": "com.posthog.integrations#JiraProjectsResponseProjectsList",
          "traits": {
            "smithy.api#documentation": "Jira projects available to this integration.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#JiraProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Jira project ID.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Jira project key to pass as error tracking config.project_key.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Jira project display name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#JiraProjectsResponseProjectsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.integrations#JiraProject"
      },
      "traits": {
        "smithy.api#documentation": "Jira projects available to this integration."
      }
    },
    "com.posthog.integrations#GetIntegrationsJiraProject": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsJiraProjectRequest"
      },
      "output": {
        "target": "com.posthog.integrations#JiraProjectsResponse"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/jira_projects/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsLinearTeamRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#LinearTeamsResponse": {
      "type": "structure",
      "members": {
        "teams": {
          "target": "com.posthog.integrations#LinearTeamsResponseTeamsList",
          "traits": {
            "smithy.api#documentation": "Linear teams available to this integration.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#LinearTeam": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear team ID to pass as error tracking config.team_id.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear team display name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#LinearTeamsResponseTeamsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.integrations#LinearTeam"
      },
      "traits": {
        "smithy.api#documentation": "Linear teams available to this integration."
      }
    },
    "com.posthog.integrations#GetIntegrationsLinearTeam": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsLinearTeamRequest"
      },
      "output": {
        "target": "com.posthog.integrations#LinearTeamsResponse"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/linear_teams/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsLinkedinAdsAccountRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#GetIntegrationsLinkedinAdsAccount": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsLinkedinAdsAccountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/linkedin_ads_accounts/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsLinkedinAdsConversionRuleRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#GetIntegrationsLinkedinAdsConversionRule": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsLinkedinAdsConversionRuleRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/linkedin_ads_conversion_rules/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsTwilioPhoneNumberRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#GetIntegrationsTwilioPhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsTwilioPhoneNumberRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/twilio_phone_numbers/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsUserRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this integration."
          }
        },
        "force_refresh": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "force_refresh",
            "smithy.api#documentation": "Bypass the 1 hour member cache. Honored only for browser session callers; API key, OAuth, and MCP callers always read through the cache."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of members to return per request (max 200)."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "Number of members to skip before returning results."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Optional case-insensitive member name or ID search query."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "user_id",
            "smithy.api#documentation": "Look up one member directly by Slack member ID (e.g. U0123ABC). When set, `search`, `limit`, and `offset` are ignored and the response holds at most that member."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#SlackUsersResponse": {
      "type": "structure",
      "members": {
        "users": {
          "target": "com.posthog.integrations#SlackUsersResponseUsersList",
          "traits": {
            "smithy.api#documentation": "Human Slack workspace members the PostHog Slack app can DM.",
            "smithy.api#required": {}
          }
        },
        "lastRefreshedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timestamp of the last full Slack API refresh (only set on full lists, not single-member lookups).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether more members match the current search beyond this page."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#SlackUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack member ID (e.g. U0123ABC) — post to it to open a direct message.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack username (handle) without the leading '@'.",
            "smithy.api#required": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name to show in pickers: the member's display name, falling back to their real name or handle.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#SlackUsersResponseUsersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.integrations#SlackUser"
      },
      "traits": {
        "smithy.api#documentation": "Human Slack workspace members the PostHog Slack app can DM."
      }
    },
    "com.posthog.integrations#GetIntegrationsUser": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsUserRequest"
      },
      "output": {
        "target": "com.posthog.integrations#SlackUsersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/{id}/users/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#IntegrationsAuthorizeRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#IntegrationsAuthorizeRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#IntegrationsAuthorizeRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/authorize/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#IntegrationsDomainConnectApplyUrlCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "kind": {
          "target": "com.posthog.integrations#IntegrationKindEnum"
        },
        "config": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#IntegrationsDomainConnectApplyUrlCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#IntegrationsDomainConnectApplyUrlCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#BadRequest"
        },
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/integrations/domain-connect/apply-url/",
          "code": 200
        },
        "smithy.api#documentation": "Unified endpoint for generating Domain Connect apply URLs.\n\nAccepts a context (\"email\" or \"proxy\") and the relevant resource ID.\nThe backend resolves the domain, template variables, and service ID\nbased on context, then builds the signed apply URL."
      }
    },
    "com.posthog.integrations#IntegrationsDomainConnectCheckRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#IntegrationsDomainConnectCheckRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#IntegrationsDomainConnectCheckRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.integrations#Forbidden"
        },
        {
          "target": "com.posthog.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/domain-connect/check/",
          "code": 200
        }
      }
    },
    "com.posthog.integrations#GetIntegrationsGithubAvailableInstallationRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#GitHubAvailableInstallationsResponse": {
      "type": "structure",
      "members": {
        "discovery_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Correlation ID for this discovery response.",
            "smithy.api#required": {}
          }
        },
        "discovered_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time this discovery completed.",
            "smithy.api#required": {}
          }
        },
        "personal_github_login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub identity of the credential used for personal discovery.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "personal_discovery_status": {
          "target": "com.posthog.integrations#GitHubPersonalDiscoveryStatusEnum",
          "traits": {
            "smithy.api#documentation": "Whether personal discovery succeeded, has no connection, or is unavailable.\n\n* `ok` - Ok\n* `not_connected` - Not Connected\n* `unavailable` - Unavailable",
            "smithy.api#required": {}
          }
        },
        "installations": {
          "target": "com.posthog.integrations#GitHubAvailableInstallationsResponseInstallationsList",
          "traits": {
            "smithy.api#documentation": "GitHub installations available to link to this project: the organization's existing installations plus any the user's personal GitHub link can see but that aren't linked to any project yet.",
            "smithy.api#required": {}
          }
        },
        "personal_github_connected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the requesting user has a personal GitHub account linked (via Linked Accounts). Used to prompt for that link when it would surface more installations to adopt.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#GitHubPersonalDiscoveryStatusEnum": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "NOT_CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_connected"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unavailable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `ok` - Ok\n* `not_connected` - Not Connected\n* `unavailable` - Unavailable"
      }
    },
    "com.posthog.integrations#GitHubAvailableInstallation": {
      "type": "structure",
      "members": {
        "installation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub installation ID to pass to github/link_existing when linking this installation.",
            "smithy.api#required": {}
          }
        },
        "account_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub account (organization or user) the installation belongs to, for display in the picker.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "account_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub account type, e.g. 'Organization' or 'User'.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_team_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A project in the organization that already has this installation linked. Null when the installation isn't linked to any project yet — it was found via the user's personal GitHub link and can be adopted by linking it here.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_team_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the project in source_team_id, so the picker can say where the installation comes from. Null for an installation no project has linked yet.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#GitHubAvailableInstallationsResponseInstallationsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.integrations#GitHubAvailableInstallation"
      },
      "traits": {
        "smithy.api#documentation": "GitHub installations available to link to this project: the organization's existing installations plus any the user's personal GitHub link can see but that aren't linked to any project yet."
      }
    },
    "com.posthog.integrations#GetIntegrationsGithubAvailableInstallation": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#GetIntegrationsGithubAvailableInstallationRequest"
      },
      "output": {
        "target": "com.posthog.integrations#GitHubAvailableInstallationsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/integrations/github/available_installations/",
          "code": 200
        },
        "smithy.api#documentation": "List GitHub installations this project can link.\n\nA GitHub App installs once per organization, so a second project links an existing\ninstallation rather than reinstalling. This backs the picker: when more than one option\nexists, the client passes the chosen installation_id to github/link_existing. The list also\nincludes installations the user's personal GitHub link can see but that aren't linked to any\nproject yet (``source_team_id: null``) — orphan installations approved on GitHub outside\nPostHog's callback, which ``github/link_existing`` can adopt."
      }
    },
    "com.posthog.integrations#CreateIntegrationsGithubLinkExistingRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "discovery_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Discovery response ID for diagnostics only; grants no authority.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_team_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sibling team in the same organization whose GitHub installation should be reused.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "installation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub installation ID to link; resolved within the organization when source_team_id is omitted.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#CreateIntegrationsGithubLinkExisting": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#CreateIntegrationsGithubLinkExistingRequest"
      },
      "output": {
        "target": "com.posthog.integrations#IntegrationConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/integrations/github/link_existing/",
          "code": 200
        },
        "smithy.api#documentation": "Reuse a GitHub installation already linked to a sibling team in the same organization."
      }
    },
    "com.posthog.integrations#ConnectFromEnum": {
      "type": "enum",
      "members": {
        "POSTHOG_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog_code"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `posthog_code` - posthog_code"
      }
    },
    "com.posthog.integrations#IntegrationsGithubOauthAuthorizeCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "installation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub installation ID to carry through the User OAuth flow."
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative URL to redirect to after the OAuth flow completes."
          }
        },
        "connect_from": {
          "target": "com.posthog.integrations#ConnectFromEnum",
          "traits": {
            "smithy.api#documentation": "Originating surface for the connect flow; only 'posthog_code' is recognized.\n\n* `posthog_code` - posthog_code"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#GitHubOAuthAuthorizeResponse": {
      "type": "structure",
      "members": {
        "oauth_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub User OAuth URL the client should redirect to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.integrations#IntegrationsGithubOauthAuthorizeCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.integrations#IntegrationsGithubOauthAuthorizeCreateRequest"
      },
      "output": {
        "target": "com.posthog.integrations#GitHubOAuthAuthorizeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/integrations/github/oauth_authorize/",
          "code": 200
        },
        "smithy.api#documentation": "Mint a User OAuth URL to bootstrap a fresh `code` when the install flow returns without one."
      }
    },
    "com.posthog.integrations#CreateIntegrationsGithubPrepareCallbackRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative URL to redirect to after GitHub setup completes (e.g. account-connected for PostHog Desktop)."
          }
        },
        "installation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub installation ID being managed; binds the seeded update state so a callback can't swap in a different installation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.integrations#CreateIntegrationsGithubPrepareCallback": {
      "type": "operation",
      "input": {
[...]
