{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.llm_skills#ListLlmSkillsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "category",
            "smithy.api#documentation": "Filter skills to this exact category. Pass \"scout\" for Signals scouts, or an empty string to return only uncategorized skills. Omit the parameter entirely to return skills of every category."
          }
        },
        "created_by_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "created_by_id",
            "smithy.api#documentation": "Filter skills by the ID of the user who created them."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "owner_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "owner_id",
            "smithy.api#documentation": "Filter skills by the ID of a user who owns them. Ownership is keyed on the logical skill, so this is stable across versions — unlike created_by_id, which tracks whoever published the latest version."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Optional substring filter applied to skill names and descriptions."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#PaginatedLLMSkillListList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.llm_skills#PaginatedLLMSkillListListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#LLMSkillList": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique skill name. Lowercase letters, numbers, and hyphens only. Max 64 characters."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What this skill does and when to use it."
          }
        },
        "license": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "License name or reference to a bundled license file."
          }
        },
        "compatibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Environment requirements (intended product, system packages, network access, etc.)."
          }
        },
        "allowed_tools": {
          "target": "com.posthog.llm_skills#LLMSkillListAllowedToolsList",
          "traits": {
            "smithy.api#documentation": "Tools the skill asks to use. Tool names cannot contain whitespace. A harness that reads the skill from a file (zip export, git marketplace, a content=full bundle) treats the list as pre-approved. A harness that loads the skill over MCP, including the default content=stub bundle, ignores the list until the user approves that grant."
          }
        },
        "metadata": {
          "target": "com.posthog.llm_skills#LLMSkillListMetadataMap",
          "traits": {
            "smithy.api#documentation": "Arbitrary key-value metadata."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server-owned classification — set by the producing system (the Signals harness stamps \"scout\"), not writable via the API. Empty for an ordinary skill. Groups skills into their own surface (e.g. the Scouts tab) independently of the skill name."
          }
        },
        "owners": {
          "target": "com.posthog.llm_skills#LLMSkillListOwnersList",
          "traits": {
            "smithy.api#documentation": "Users who own this skill, seed-creator first. Ownership is keyed on the logical skill (not a version), so it's stable across edits. Prefer this over created_by to learn who to route reviews or questions to. Set via the owners field on create/update (a list of user UUIDs). Empty for scout sandbox fetches of skills that haven't opted into the report channel."
          }
        },
        "outline": {
          "target": "com.posthog.llm_skills#LLMSkillListOutlineList",
          "traits": {
            "smithy.api#documentation": "Flat list of markdown headings parsed from the skill body. Useful as a lightweight table of contents."
          }
        },
        "spec_problems": {
          "target": "com.posthog.llm_skills#LLMSkillListSpecProblemsList",
          "traits": {
            "smithy.api#documentation": "Why this skill is left out of the skills bundle and the plugin marketplace, as stable codes with author-facing messages. Empty when the skill packages cleanly."
          }
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "version_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional note describing what changed in this version. Set when the version is published.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.llm_skills#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        },
        "is_latest": {
          "target": "smithy.api#Boolean"
        },
        "latest_version": {
          "target": "smithy.api#Integer"
        },
        "version_count": {
          "target": "smithy.api#Integer"
        },
        "first_version_created_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "List serializer that omits body and file manifest — progressive disclosure (Level 1)."
      }
    },
    "com.posthog.llm_skills#LLMSkillListAllowedToolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tools the skill asks to use. Tool names cannot contain whitespace. A harness that reads the skill from a file (zip export, git marketplace, a content=full bundle) treats the list as pre-approved. A harness that loads the skill over MCP, including the default content=stub bundle, ignores the list until the user approves that grant."
      }
    },
    "com.posthog.llm_skills#LLMSkillListMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Arbitrary key-value metadata."
      }
    },
    "com.posthog.llm_skills#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.llm_skills#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.llm_skills#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.llm_skills#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.llm_skills#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.llm_skills#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.llm_skills#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#LLMSkillListOwnersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_skills#UserBasic"
      },
      "traits": {
        "smithy.api#documentation": "Users who own this skill, seed-creator first. Ownership is keyed on the logical skill (not a version), so it's stable across edits. Prefer this over created_by to learn who to route reviews or questions to. Set via the owners field on create/update (a list of user UUIDs). Empty for scout sandbox fetches of skills that haven't opted into the report channel."
      }
    },
    "com.posthog.llm_skills#LLMSkillOutlineEntry": {
      "type": "structure",
      "members": {
        "level": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Markdown heading level (1-6)."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Heading text."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#LLMSkillListOutlineList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_skills#LLMSkillOutlineEntry"
      },
      "traits": {
        "smithy.api#documentation": "Flat list of markdown headings parsed from the skill body. Useful as a lightweight table of contents."
      }
    },
    "com.posthog.llm_skills#LLMSkillSpecProblem": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable machine-readable code for the problem, e.g. description_too_long or file_path_collides.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What is wrong and what to change, written for the skill's author.",
            "smithy.api#required": {}
          }
        },
        "file_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The bundled file the problem is about. Null when it is about the skill itself.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#LLMSkillListSpecProblemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_skills#LLMSkillSpecProblem"
      },
      "traits": {
        "smithy.api#documentation": "Why this skill is left out of the skills bundle and the plugin marketplace, as stable codes with author-facing messages. Empty when the skill packages cleanly."
      }
    },
    "com.posthog.llm_skills#PaginatedLLMSkillListListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_skills#LLMSkillList"
      },
      "traits": {}
    },
    "com.posthog.llm_skills#ListLlmSkills": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#ListLlmSkillsRequest"
      },
      "output": {
        "target": "com.posthog.llm_skills#PaginatedLLMSkillListList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_skills/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_skills#CreateLlmSkillRequestAllowedToolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tools the skill asks to use. Tool names cannot contain whitespace. A harness that reads the skill from a file (zip export, git marketplace, a content=full bundle) treats the list as pre-approved. A harness that loads the skill over MCP, including the default content=stub bundle, ignores the list until the user approves that grant."
      }
    },
    "com.posthog.llm_skills#CreateLlmSkillRequestMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Arbitrary key-value metadata."
      }
    },
    "com.posthog.llm_skills#CreateLlmSkillRequestOwnersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User UUIDs to set as the skill's owners. Each must be a member of this project. Defaults to the creating user when omitted; pass an empty list to create with no owners."
      }
    },
    "com.posthog.llm_skills#LLMSkillFileInput": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File path relative to skill root, e.g. 'scripts/setup.sh' or 'references/guide.md'."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text content of the file."
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MIME type of the file content."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#CreateLlmSkillRequestFilesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_skills#LLMSkillFileInput"
      },
      "traits": {
        "smithy.api#documentation": "Bundled files to include with the initial version (scripts, references, assets)."
      }
    },
    "com.posthog.llm_skills#CreateLlmSkillRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique skill name. Lowercase letters, numbers, and hyphens only. Max 64 characters. Cannot be the name of a skill PostHog ships."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What this skill does and when to use it. Max 1024 characters."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKILL.md instruction content (markdown)."
          }
        },
        "license": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "License name or reference to a bundled license file."
          }
        },
        "compatibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Environment requirements (intended product, system packages, network access, etc.)."
          }
        },
        "allowed_tools": {
          "target": "com.posthog.llm_skills#CreateLlmSkillRequestAllowedToolsList",
          "traits": {
            "smithy.api#documentation": "Tools the skill asks to use. Tool names cannot contain whitespace. A harness that reads the skill from a file (zip export, git marketplace, a content=full bundle) treats the list as pre-approved. A harness that loads the skill over MCP, including the default content=stub bundle, ignores the list until the user approves that grant."
          }
        },
        "metadata": {
          "target": "com.posthog.llm_skills#CreateLlmSkillRequestMetadataMap",
          "traits": {
            "smithy.api#documentation": "Arbitrary key-value metadata."
          }
        },
        "owners": {
          "target": "com.posthog.llm_skills#CreateLlmSkillRequestOwnersList",
          "traits": {
            "smithy.api#documentation": "User UUIDs to set as the skill's owners. Each must be a member of this project. Defaults to the creating user when omitted; pass an empty list to create with no owners."
          }
        },
        "files": {
          "target": "com.posthog.llm_skills#CreateLlmSkillRequestFilesList",
          "traits": {
            "smithy.api#documentation": "Bundled files to include with the initial version (scripts, references, assets)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#LLMSkill": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique skill name. Lowercase letters, numbers, and hyphens only. Max 64 characters."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What this skill does and when to use it."
          }
        },
        "body_total_length": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total length of the full body in characters, independent of any body_offset/body_length paging. Compare against the length of the returned body to detect a truncated response."
          }
        },
        "body_next_offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "When body_length paging stops before the end of the body, the character offset to request next (pass as body_offset). Null when the returned body reaches the end.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKILL.md instruction content (markdown)."
          }
        },
        "license": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "License name or reference to a bundled license file."
          }
        },
        "compatibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Environment requirements (intended product, system packages, network access, etc.)."
          }
        },
        "allowed_tools": {
          "target": "com.posthog.llm_skills#LLMSkillAllowedToolsList",
          "traits": {
            "smithy.api#documentation": "Tools the skill asks to use. Tool names cannot contain whitespace. A harness that reads the skill from a file (zip export, git marketplace, a content=full bundle) treats the list as pre-approved. A harness that loads the skill over MCP, including the default content=stub bundle, ignores the list until the user approves that grant."
          }
        },
        "metadata": {
          "target": "com.posthog.llm_skills#LLMSkillMetadataMap",
          "traits": {
            "smithy.api#documentation": "Arbitrary key-value metadata."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server-owned classification — set by the producing system (the Signals harness stamps \"scout\"), not writable via the API. Empty for an ordinary skill. Groups skills into their own surface (e.g. the Scouts tab) independently of the skill name."
          }
        },
        "owners": {
          "target": "com.posthog.llm_skills#LLMSkillOwnersList",
          "traits": {
            "smithy.api#documentation": "Users who own this skill, seed-creator first. Ownership is keyed on the logical skill (not a version), so it's stable across edits. Prefer this over created_by to learn who to route reviews or questions to. Set via the owners field on create/update (a list of user UUIDs). Empty for scout sandbox fetches of skills that haven't opted into the report channel."
          }
        },
        "files": {
          "target": "com.posthog.llm_skills#LLMSkillFilesList",
          "traits": {
            "smithy.api#documentation": "Bundled files manifest. Each entry carries path, content_type, and line/char counts — no content; fetch content via /llm_skills/name/{name}/files/{path}/."
          }
        },
        "outline": {
          "target": "com.posthog.llm_skills#LLMSkillOutlineList",
          "traits": {
            "smithy.api#documentation": "Flat list of markdown headings parsed from the skill body. Useful as a lightweight table of contents."
          }
        },
        "spec_problems": {
          "target": "com.posthog.llm_skills#LLMSkillSpecProblemsList",
          "traits": {
            "smithy.api#documentation": "Why this skill is left out of the skills bundle and the plugin marketplace, as stable codes with author-facing messages. Empty when the skill packages cleanly."
          }
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "version_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional note describing what changed in this version. Set when the version is published.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.llm_skills#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        },
        "is_latest": {
          "target": "smithy.api#Boolean"
        },
        "latest_version": {
          "target": "smithy.api#Integer"
        },
        "version_count": {
          "target": "smithy.api#Integer"
        },
        "first_version_created_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#LLMSkillAllowedToolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tools the skill asks to use. Tool names cannot contain whitespace. A harness that reads the skill from a file (zip export, git marketplace, a content=full bundle) treats the list as pre-approved. A harness that loads the skill over MCP, including the default content=stub bundle, ignores the list until the user approves that grant."
      }
    },
    "com.posthog.llm_skills#LLMSkillMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Arbitrary key-value metadata."
      }
    },
    "com.posthog.llm_skills#LLMSkillOwnersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_skills#UserBasic"
      },
      "traits": {
        "smithy.api#documentation": "Users who own this skill, seed-creator first. Ownership is keyed on the logical skill (not a version), so it's stable across edits. Prefer this over created_by to learn who to route reviews or questions to. Set via the owners field on create/update (a list of user UUIDs). Empty for scout sandbox fetches of skills that haven't opted into the report channel."
      }
    },
    "com.posthog.llm_skills#LLMSkillFileManifest": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String"
        },
        "content_type": {
          "target": "smithy.api#String"
        },
        "line_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of lines in the file content."
          }
        },
        "char_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of characters in the file content."
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of the file content in bytes. Null on rows written before digests were stamped.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hex SHA-256 of the file content. Null on rows written before digests were stamped.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#LLMSkillFilesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_skills#LLMSkillFileManifest"
      },
      "traits": {
        "smithy.api#documentation": "Bundled files manifest. Each entry carries path, content_type, and line/char counts — no content; fetch content via /llm_skills/name/{name}/files/{path}/."
      }
    },
    "com.posthog.llm_skills#LLMSkillOutlineList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_skills#LLMSkillOutlineEntry"
      },
      "traits": {
        "smithy.api#documentation": "Flat list of markdown headings parsed from the skill body. Useful as a lightweight table of contents."
      }
    },
    "com.posthog.llm_skills#LLMSkillSpecProblemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_skills#LLMSkillSpecProblem"
      },
      "traits": {
        "smithy.api#documentation": "Why this skill is left out of the skills bundle and the plugin marketplace, as stable codes with author-facing messages. Empty when the skill packages cleanly."
      }
    },
    "com.posthog.llm_skills#CreateLlmSkill": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#CreateLlmSkillRequest"
      },
      "output": {
        "target": "com.posthog.llm_skills#LLMSkill"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_skills/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_skills#GetLlmSkillsBundleRequestContent": {
      "type": "enum",
      "members": {
        "STUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stub"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#GetLlmSkillsBundleRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "content": {
          "target": "com.posthog.llm_skills#GetLlmSkillsBundleRequestContent",
          "traits": {
            "smithy.api#httpQuery": "content",
            "smithy.api#documentation": "What each skill directory in the zip contains. 'stub' (default) writes a SKILL.md with the name, description and instructions to fetch the skill over the PostHog MCP when it is invoked. 'full' writes the rendered SKILL.md, every bundled file and the Codex sidecar.\n\n* `stub` - stub\n* `full` - full"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of skills in the zip, newest first; default 50, at most 100. Every skill in the zip costs the agent prompt context on each turn, so pick what the harness can usefully carry. Skills past the limit are reported in X-Skills-Dropped."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#GetLlmSkillsBundle": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#GetLlmSkillsBundleRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_skills/bundle/",
          "code": 200
        },
        "smithy.api#documentation": "One zip of the requesting user's store skills, for unpacking into a skills directory."
      }
    },
    "com.posthog.llm_skills#LlmSkillsImportCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A spec-compliant skill .zip (a SKILL.md plus optional bundled files under scripts/, references/, assets/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#LlmSkillsImportCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#LlmSkillsImportCreateRequest"
      },
      "output": {
        "target": "com.posthog.llm_skills#LLMSkill"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_skills/import/",
          "code": 200,
          "contentType": "form-urlencoded"
        },
        "com.distilled.openapi#contentType": "form-urlencoded"
      }
    },
    "com.posthog.llm_skills#LlmSkillsMarketplaceInstallCommandRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#LLMSkillMarketplaceCommand": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.posthog.llm_skills#LLMSkillMarketplaceCommandStatusEnum",
          "traits": {
            "smithy.api#documentation": "absent: no credential yet. exists: one already exists (no token returned). created: a new credential was just minted. rotated: the existing credential was rolled.\n\n* `absent` - absent\n* `exists` - exists\n* `created` - created\n* `rotated` - rotated",
            "smithy.api#required": {}
          }
        },
        "connected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this user already has a marketplace credential for the team's skill store.",
            "smithy.api#required": {}
          }
        },
        "plugin_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plugin name the command installs (Claude Code and Codex).",
            "smithy.api#required": {}
          }
        },
        "marketplace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The marketplace name, used by the Codex install command.",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label of this user's marketplace credential (a scoped Personal API Key).",
            "smithy.api#required": {}
          }
        },
        "repo_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The marketplace git repository URL, with no credential embedded.",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Claude Code: ready-to-paste `/plugin marketplace add` command with the live token embedded. Returned only when a token was just issued (status created/rotated); null otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "command_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Claude Code install command with a YOUR_PHS_TOKEN placeholder instead of a live token; always present.",
            "smithy.api#required": {}
          }
        },
        "codex_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OpenAI Codex: two-line `codex plugin marketplace add` + `codex plugin add` command with the live token embedded. Returned only when a token was just issued (status created/rotated); null otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "codex_command_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Codex install command with a YOUR_PHS_TOKEN placeholder instead of a live token; always present.",
            "smithy.api#required": {}
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The raw read-only `phx_` credential. Returned once, only when minted or rotated; it cannot be retrieved again afterwards.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "mask_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Masked preview of the existing credential (e.g. phx_...abcd).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the credential was created.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_rolled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the credential was last rotated.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#LLMSkillMarketplaceCommandStatusEnum": {
      "type": "enum",
      "members": {
        "ABSENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "absent"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "ROTATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rotated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `absent` - absent\n* `exists` - exists\n* `created` - created\n* `rotated` - rotated"
      }
    },
    "com.posthog.llm_skills#LlmSkillsMarketplaceInstallCommandRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#LlmSkillsMarketplaceInstallCommandRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.llm_skills#LLMSkillMarketplaceCommand"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_skills/marketplace/install-command/",
          "code": 200
        },
        "smithy.api#documentation": "Report whether the user already has a marketplace credential, without minting one.\n\nThe token is unrecoverable, so an existing credential returns its mask only — the UI shows\n\"already connected, existing setups keep working\" and offers an explicit rotate."
      }
    },
    "com.posthog.llm_skills#LlmSkillsMarketplaceInstallCommandCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "rotate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Roll the existing marketplace credential to issue a fresh token, replacing the old one (this invalidates any setup using the previous token). Ignored when no credential exists yet — the first call always mints one. Only affects this user's own credential."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#LlmSkillsMarketplaceInstallCommandCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#LlmSkillsMarketplaceInstallCommandCreateRequest"
      },
      "output": {
        "target": "com.posthog.llm_skills#LLMSkillMarketplaceCommand"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_skills/marketplace/install-command/",
          "code": 200
        },
        "smithy.api#documentation": "Mint the user's read-only marketplace credential (or rotate it) and return the install command.\n\nPer-user: rotating only ever invalidates this user's own credential, never a teammate's."
      }
    },
    "com.posthog.llm_skills#GetLlmSkillsNameRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "skill_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body_length": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "body_length",
            "smithy.api#documentation": "Maximum number of characters of the body to return starting at body_offset. Omit to return the whole body from the offset onwards. When the slice stops before the end, body_next_offset is the offset to request next."
          }
        },
        "body_offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "body_offset",
            "smithy.api#documentation": "Zero-based character offset to start the returned body from. Use with body_length to page through a large body that a client would otherwise truncate. Compare the returned body length against body_total_length to detect truncation, then re-fetch from body_next_offset. Defaults to 0 (start of body)."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "version",
            "smithy.api#documentation": "Specific skill version to fetch. If omitted, the latest version is returned."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#GetLlmSkillsName": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#GetLlmSkillsNameRequest"
      },
      "output": {
        "target": "com.posthog.llm_skills#LLMSkill"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_skills/name/{skill_name}/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_skills#LLMSkillEditOperation": {
      "type": "structure",
      "members": {
        "old": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text to find in the target content. Must match exactly once."
          }
        },
        "new": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Replacement text."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#UpdateLlmSkillsNamePartialRequestEditsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_skills#LLMSkillEditOperation"
      },
      "traits": {
        "smithy.api#documentation": "List of find/replace operations to apply to the current skill body. Each edit's 'old' text must match exactly once. Edits are applied sequentially. Mutually exclusive with body."
      }
    },
    "com.posthog.llm_skills#UpdateLlmSkillsNamePartialRequestAllowedToolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tools the skill asks to use. Tool names cannot contain whitespace. A harness that reads the skill from a file (zip export, git marketplace, a content=full bundle) treats the list as pre-approved. A harness that loads the skill over MCP, including the default content=stub bundle, ignores the list until the user approves that grant."
      }
    },
    "com.posthog.llm_skills#UpdateLlmSkillsNamePartialRequestMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Arbitrary key-value metadata."
      }
    },
    "com.posthog.llm_skills#UpdateLlmSkillsNamePartialRequestFilesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_skills#LLMSkillFileInput"
      },
      "traits": {
        "smithy.api#documentation": "Bundled files to include with this version. Replaces all files from the previous version. Mutually exclusive with file_edits."
      }
    },
    "com.posthog.llm_skills#LLMSkillFileEdit": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path of the bundled file to edit. Must match an existing file on the current skill version."
          }
        },
        "edits": {
          "target": "com.posthog.llm_skills#LLMSkillFileEditEditsList",
          "traits": {
            "smithy.api#documentation": "Sequential find/replace operations to apply to this file's content."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#LLMSkillFileEditEditsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_skills#LLMSkillEditOperation"
      },
      "traits": {
        "smithy.api#documentation": "Sequential find/replace operations to apply to this file's content."
      }
    },
    "com.posthog.llm_skills#UpdateLlmSkillsNamePartialRequestFileEditsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_skills#LLMSkillFileEdit"
      },
      "traits": {
        "smithy.api#documentation": "Per-file find/replace updates. Each entry targets one existing file by path and applies sequential edits to its content. Non-targeted files carry forward unchanged. Cannot add, remove, or rename files — use 'files' for that. Mutually exclusive with files."
      }
    },
    "com.posthog.llm_skills#UpdateLlmSkillsNamePartialRequestOwnersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Replace the skill's owners with these user UUIDs (each a member of this project). Omit to leave owners unchanged; pass an empty list to clear them. Owners are keyed on the logical skill, so setting them is independent of the version being published — a body edit alone never changes ownership."
      }
    },
    "com.posthog.llm_skills#UpdateLlmSkillsNamePartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "skill_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full skill body (SKILL.md instruction content) to publish as a new version. Mutually exclusive with edits."
          }
        },
        "edits": {
          "target": "com.posthog.llm_skills#UpdateLlmSkillsNamePartialRequestEditsList",
          "traits": {
            "smithy.api#documentation": "List of find/replace operations to apply to the current skill body. Each edit's 'old' text must match exactly once. Edits are applied sequentially. Mutually exclusive with body."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Updated description for the new version."
          }
        },
        "license": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "License name or reference."
          }
        },
        "compatibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Environment requirements."
          }
        },
        "allowed_tools": {
          "target": "com.posthog.llm_skills#UpdateLlmSkillsNamePartialRequestAllowedToolsList",
          "traits": {
            "smithy.api#documentation": "Tools the skill asks to use. Tool names cannot contain whitespace. A harness that reads the skill from a file (zip export, git marketplace, a content=full bundle) treats the list as pre-approved. A harness that loads the skill over MCP, including the default content=stub bundle, ignores the list until the user approves that grant."
          }
        },
        "metadata": {
          "target": "com.posthog.llm_skills#UpdateLlmSkillsNamePartialRequestMetadataMap",
          "traits": {
            "smithy.api#documentation": "Arbitrary key-value metadata."
          }
        },
        "files": {
          "target": "com.posthog.llm_skills#UpdateLlmSkillsNamePartialRequestFilesList",
          "traits": {
            "smithy.api#documentation": "Bundled files to include with this version. Replaces all files from the previous version. Mutually exclusive with file_edits."
          }
        },
        "file_edits": {
          "target": "com.posthog.llm_skills#UpdateLlmSkillsNamePartialRequestFileEditsList",
          "traits": {
            "smithy.api#documentation": "Per-file find/replace updates. Each entry targets one existing file by path and applies sequential edits to its content. Non-targeted files carry forward unchanged. Cannot add, remove, or rename files — use 'files' for that. Mutually exclusive with files."
          }
        },
        "owners": {
          "target": "com.posthog.llm_skills#UpdateLlmSkillsNamePartialRequestOwnersList",
          "traits": {
            "smithy.api#documentation": "Replace the skill's owners with these user UUIDs (each a member of this project). Omit to leave owners unchanged; pass an empty list to clear them. Owners are keyed on the logical skill, so setting them is independent of the version being published — a body edit alone never changes ownership."
          }
        },
        "base_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Latest version you are editing from. Used for optimistic concurrency checks. Required when publishing content changes; optional for an owner-only update (when omitted, owners are replaced without a concurrency check)."
          }
        },
        "version_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional note describing what changed in this version. Shown in the version history."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#UpdateLlmSkillsNamePartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#UpdateLlmSkillsNamePartialRequest"
      },
      "output": {
        "target": "com.posthog.llm_skills#LLMSkill"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/llm_skills/name/{skill_name}/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_skills#LlmSkillsNameArchiveCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "skill_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#LlmSkillsNameArchiveCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#LlmSkillsNameArchiveCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_skills/name/{skill_name}/archive/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_skills#LlmSkillsNameDuplicateCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "skill_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "new_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name for the duplicated skill. Must be unique, and cannot be the name of a skill PostHog ships."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#LlmSkillsNameDuplicateCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#LlmSkillsNameDuplicateCreateRequest"
      },
      "output": {
        "target": "com.posthog.llm_skills#LLMSkill"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_skills/name/{skill_name}/duplicate/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_skills#LlmSkillsNameExportRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "skill_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "version",
            "smithy.api#documentation": "Specific skill version to fetch. If omitted, the latest version is returned."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#LlmSkillsNameExportRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#LlmSkillsNameExportRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_skills/name/{skill_name}/export/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_skills#CreateLlmSkillsNameFileRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "skill_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File path relative to skill root, e.g. 'scripts/setup.sh' or 'references/guide.md'."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text content of the file."
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MIME type of the file content."
          }
        },
        "base_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Latest version you are editing from. If provided, the request fails with 409 when another write has landed in the meantime."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#CreateLlmSkillsNameFile": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#CreateLlmSkillsNameFileRequest"
      },
      "output": {
        "target": "com.posthog.llm_skills#LLMSkill"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_skills/name/{skill_name}/files/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_skills#LlmSkillsNameFilesRenameCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "skill_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "old_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current file path to rename."
          }
        },
        "new_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New file path. Must not already exist in the skill."
          }
        },
        "base_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Latest version you are editing from. If provided, the request fails with 409 when another write has landed in the meantime."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#LlmSkillsNameFilesRenameCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#LlmSkillsNameFilesRenameCreateRequest"
      },
      "output": {
        "target": "com.posthog.llm_skills#LLMSkill"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_skills/name/{skill_name}/files-rename/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_skills#GetLlmSkillsNameFileRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "skill_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "file_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "version",
            "smithy.api#documentation": "Specific skill version to fetch. If omitted, the latest version is returned."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#LLMSkillFile": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "content_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#GetLlmSkillsNameFile": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#GetLlmSkillsNameFileRequest"
      },
      "output": {
        "target": "com.posthog.llm_skills#LLMSkillFile"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_skills/name/{skill_name}/files/{file_path}/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_skills#LlmSkillsNameFilesDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "skill_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "file_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "base_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "base_version",
            "smithy.api#documentation": "Latest version you are editing from. If provided, the request fails with 409 when another write has landed in the meantime."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#LlmSkillsNameFilesDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#LlmSkillsNameFilesDestroyRequest"
      },
      "output": {
        "target": "com.posthog.llm_skills#LLMSkill"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/llm_skills/name/{skill_name}/files/{file_path}/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_skills#CommunitySkillScoutConfig": {
      "type": "structure",
      "members": {
        "run_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How often the scout runs, in minutes. Ignored when run_cron_schedule is set."
          }
        },
        "run_cron_schedule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Five-field cron expression for the scout's schedule, which takes precedence over the interval."
          }
        },
        "emit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the scout writes its reports to the inbox. False means it runs as a dry run."
          }
        },
        "tags": {
          "target": "com.posthog.llm_skills#CommunitySkillScoutConfigTagsList",
          "traits": {
            "smithy.api#documentation": "Tags used to group the scout in the fleet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The scout settings a published scout travels with. Every field is optional. An omitted field\nmeans the scout-create form's own default applies."
      }
    },
    "com.posthog.llm_skills#CommunitySkillScoutConfigTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags used to group the scout in the fleet."
      }
    },
    "com.posthog.llm_skills#LlmSkillsNamePublishCommunityCreateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags used for filtering and discovery in the marketplace, e.g. ['web-analytics', 'triage']."
      }
    },
    "com.posthog.llm_skills#LlmSkillsNamePublishCommunityCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "skill_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "expected_skill_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable ID of the skill version that the publisher reviewed.",
            "smithy.api#required": {}
          }
        },
        "expected_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Skill version that the publisher reviewed. The request returns 409 if the latest version changed.",
            "smithy.api#required": {}
          }
        },
        "expected_category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the skill the publisher reviewed. Registering a skill as a scout changes its category without raising its version, so the version alone would let a skill reviewed as an ordinary one publish as a scout. The request returns 409 if the category changed. Omit it to skip that check."
          }
        },
        "scout_config": {
          "target": "com.posthog.llm_skills#CommunitySkillScoutConfig",
          "traits": {
            "smithy.api#documentation": "Schedule, emit posture and tags to publish alongside a scout, so it arrives in another project with its cadence intact. Rejected for a skill that is not a scout."
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-friendly display name for the community listing. Defaults to a title-cased skill slug. Must be a single line: it is used as the pull request title and commit message."
          }
        },
        "tags": {
          "target": "com.posthog.llm_skills#LlmSkillsNamePublishCommunityCreateRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Tags used for filtering and discovery in the marketplace, e.g. ['web-analytics', 'triage']."
          }
        },
        "author_handle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher's GitHub username, used for public attribution on the listing and PR. Optional, and self-reported: it is not verified against the publisher's PostHog account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#CommunitySkillPublishResult": {
      "type": "structure",
      "members": {
        "pr_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the pull request opened in the community-skills repo for maintainer review.",
            "smithy.api#required": {}
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of the opened pull request.",
            "smithy.api#required": {}
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the branch created in the community-skills repo.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#LlmSkillsNamePublishCommunityCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#LlmSkillsNamePublishCommunityCreateRequest"
      },
      "output": {
        "target": "com.posthog.llm_skills#CommunitySkillPublishResult"
      },
      "errors": [
        {
          "target": "com.posthog.llm_skills#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_skills/name/{skill_name}/publish-community/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_skills#LlmSkillsNameRenameCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "skill_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "new_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New name for the skill. Must be unique in the project, cannot be the name of a skill PostHog ships, and must not start with 'signals-scout-' or 'review-hog-'.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#LlmSkillsNameRenameCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#LlmSkillsNameRenameCreateRequest"
      },
      "output": {
        "target": "com.posthog.llm_skills#LLMSkill"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_skills/name/{skill_name}/rename/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_skills#GetLlmSkillsNameSkillMdRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "skill_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "version",
            "smithy.api#documentation": "Specific skill version to fetch. If omitted, the latest version is returned."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#LLMSkillMarkdown": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the skill, which is also its directory name.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version of the skill that this SKILL.md was rendered from.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The complete SKILL.md file: the YAML frontmatter block, a blank line, then the skill body. Serve these bytes as the file; a digest must be taken over this exact string.",
            "smithy.api#required": {}
          }
        },
        "frontmatter": {
          "target": "com.posthog.llm_skills#LLMSkillMarkdownFrontmatter",
          "traits": {
            "smithy.api#documentation": "The frontmatter block of content as a JSON object. Equal to yaml.safe_load of that block, so a listing can carry the same fields the file carries.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#LLMSkillMarkdownFrontmatterMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.llm_skills#LLMSkillMarkdownFrontmatter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "license": {
          "target": "smithy.api#String"
        },
        "compatibility": {
          "target": "smithy.api#String"
        },
        "metadata": {
          "target": "com.posthog.llm_skills#LLMSkillMarkdownFrontmatterMetadataMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowed_tools": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "allowed-tools"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The frontmatter block of content as a JSON object. Equal to yaml.safe_load of that block, so a listing can carry the same fields the file carries."
      }
    },
    "com.posthog.llm_skills#GetLlmSkillsNameSkillMd": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#GetLlmSkillsNameSkillMdRequest"
      },
      "output": {
        "target": "com.posthog.llm_skills#LLMSkillMarkdown"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_skills/name/{skill_name}/skill-md/",
          "code": 200
        },
        "smithy.api#documentation": "The rendered SKILL.md plus its frontmatter as JSON, for a host that serves the file.\n\nBoth halves come from one renderer, so a digest a client takes over ``content`` still\ndescribes the fields it reads from ``frontmatter``."
      }
    },
    "com.posthog.llm_skills#GetLlmSkillsResolveNameRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "skill_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "before_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "before_version",
            "smithy.api#documentation": "Return versions older than this version number. Mutually exclusive with offset."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of versions to return per page (1-100)."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "Zero-based offset into version history for pagination. Mutually exclusive with before_version."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "version",
            "smithy.api#documentation": "Specific skill version to fetch. If omitted, the latest version is returned."
          }
        },
        "version_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "version_id",
            "smithy.api#documentation": "Exact skill version UUID to resolve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#LLMSkillResolveResponse": {
      "type": "structure",
      "members": {
        "skill": {
          "target": "com.posthog.llm_skills#LLMSkill"
        },
        "versions": {
          "target": "com.posthog.llm_skills#LLMSkillResolveResponseVersionsList"
        },
        "has_more": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#LLMSkillVersionSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "version_description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.llm_skills#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "is_latest": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#LLMSkillResolveResponseVersionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_skills#LLMSkillVersionSummary"
      },
      "traits": {}
    },
    "com.posthog.llm_skills#GetLlmSkillsResolveName": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#GetLlmSkillsResolveNameRequest"
      },
      "output": {
        "target": "com.posthog.llm_skills#LLMSkillResolveResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_skills/resolve/name/{skill_name}/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_skills#LlmSkillsSearchRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "query",
            "smithy.api#required": {},
            "smithy.api#documentation": "Case-insensitive substring to search across ordinary skill names, descriptions, bodies, file paths, and Markdown file contents."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_skills#LLMSkillSearchResponse": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of matching skills returned, capped at 10.",
            "smithy.api#required": {}
          }
        },
        "results": {
          "target": "com.posthog.llm_skills#LLMSkillSearchResponseResultsList",
          "traits": {
            "smithy.api#documentation": "Matching ordinary skills in relevance order.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#LLMSkillSearchResult": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique skill name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What this skill does and when to use it.",
            "smithy.api#required": {}
          }
        },
        "score": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Relevance score used to rank this result. Higher scores are more relevant.",
            "smithy.api#required": {}
          }
        },
        "matches": {
          "target": "com.posthog.llm_skills#LLMSkillSearchResultMatchesList",
          "traits": {
            "smithy.api#documentation": "Up to two locations that matched the search query, ordered by field relevance.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#LLMSkillSearchMatch": {
      "type": "structure",
      "members": {
        "matched_field": {
          "target": "com.posthog.llm_skills#MatchedFieldEnum",
          "traits": {
            "smithy.api#documentation": "Skill field that matched the search query.\n\n* `name` - name\n* `description` - description\n* `body` - body\n* `file_path` - file_path\n* `file_content` - file_content",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Skill-relative file path for body or bundled-file matches. Omitted for name and description matches."
          }
        },
        "line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "One-based line containing the match when the result came from a body or bundled file."
          }
        },
        "excerpt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short excerpt showing why this skill matched.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_skills#MatchedFieldEnum": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "DESCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "description"
          }
        },
        "BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "body"
          }
        },
        "FILE_PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file_path"
          }
        },
        "FILE_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file_content"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `name` - name\n* `description` - description\n* `body` - body\n* `file_path` - file_path\n* `file_content` - file_content"
      }
    },
    "com.posthog.llm_skills#LLMSkillSearchResultMatchesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_skills#LLMSkillSearchMatch"
      },
      "traits": {
        "smithy.api#documentation": "Up to two locations that matched the search query, ordered by field relevance."
      }
    },
    "com.posthog.llm_skills#LLMSkillSearchResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_skills#LLMSkillSearchResult"
      },
      "traits": {
        "smithy.api#documentation": "Matching ordinary skills in relevance order."
      }
    },
    "com.posthog.llm_skills#LlmSkillsSearchRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_skills#LlmSkillsSearchRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.llm_skills#LLMSkillSearchResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_skills/search/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_skills#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.posthog.llm_skills#LlmSkills": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.llm_skills#ListLlmSkills"
        },
        {
          "target": "com.posthog.llm_skills#CreateLlmSkill"
        },
        {
          "target": "com.posthog.llm_skills#GetLlmSkillsBundle"
        },
        {
          "target": "com.posthog.llm_skills#LlmSkillsImportCreate"
        },
        {
          "target": "com.posthog.llm_skills#LlmSkillsMarketplaceInstallCommandRetrieve"
        },
        {
          "target": "com.posthog.llm_skills#LlmSkillsMarketplaceInstallCommandCreate"
        },
        {
          "target": "com.posthog.llm_skills#GetLlmSkillsName"
        },
        {
          "target": "com.posthog.llm_skills#UpdateLlmSkillsNamePartial"
        },
        {
          "target": "com.posthog.llm_skills#LlmSkillsNameArchiveCreate"
        },
        {
          "target": "com.posthog.llm_skills#LlmSkillsNameDuplicateCreate"
        },
        {
          "target": "com.posthog.llm_skills#LlmSkillsNameExportRetrieve"
        },
        {
          "target": "com.posthog.llm_skills#CreateLlmSkillsNameFile"
        },
        {
          "target": "com.posthog.llm_skills#LlmSkillsNameFilesRenameCreate"
        },
        {
          "target": "com.posthog.llm_skills#GetLlmSkillsNameFile"
        },
        {
          "target": "com.posthog.llm_skills#LlmSkillsNameFilesDestroy"
        },
        {
          "target": "com.posthog.llm_skills#LlmSkillsNamePublishCommunityCreate"
        },
        {
          "target": "com.posthog.llm_skills#LlmSkillsNameRenameCreate"
        },
        {
          "target": "com.posthog.llm_skills#GetLlmSkillsNameSkillMd"
        },
        {
          "target": "com.posthog.llm_skills#GetLlmSkillsResolveName"
        },
        {
          "target": "com.posthog.llm_skills#LlmSkillsSearchRetrieve"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
