{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.llm_analytics#ListLlmAnalyticsClusteringConfigRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#ClusteringConfig": {
      "type": "structure",
      "members": {
        "event_filters": {
          "target": "com.posthog.llm_analytics#ClusteringConfigEventFiltersList",
          "traits": {
            "smithy.api#documentation": "PostHog property filters that scope automated clustering jobs. Empty array means no saved filters.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#ClusteringConfigEventFiltersItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#ClusteringConfigEventFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#ClusteringConfigEventFiltersItemMap"
      },
      "traits": {
        "smithy.api#documentation": "PostHog property filters that scope automated clustering jobs. Empty array means no saved filters."
      }
    },
    "com.posthog.llm_analytics#ListLlmAnalyticsClusteringConfig": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#ListLlmAnalyticsClusteringConfigRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#ClusteringConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/clustering_config/",
          "code": 200
        },
        "smithy.api#documentation": "Team-level clustering configuration (event filters for automated pipelines)."
      }
    },
    "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringConfigSetEventFilterRequestEventFiltersItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringConfigSetEventFilterRequestEventFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringConfigSetEventFilterRequestEventFiltersItemMap"
      },
      "traits": {
        "smithy.api#documentation": "PostHog property filters to save for automated clustering jobs. Pass an empty array to clear filters."
      }
    },
    "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringConfigSetEventFilterRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "event_filters": {
          "target": "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringConfigSetEventFilterRequestEventFiltersList",
          "traits": {
            "smithy.api#documentation": "PostHog property filters to save for automated clustering jobs. Pass an empty array to clear filters.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringConfigSetEventFilter": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringConfigSetEventFilterRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#ClusteringConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_analytics/clustering_config/set_event_filters/",
          "code": 200
        },
        "smithy.api#documentation": "Team-level clustering configuration (event filters for automated pipelines)."
      }
    },
    "com.posthog.llm_analytics#ListLlmAnalyticsClusteringJobsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#PaginatedClusteringJobList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.llm_analytics#PaginatedClusteringJobListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#ClusteringJob": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "analysis_level": {
          "target": "com.posthog.llm_analytics#AnalysisLevelEnum"
        },
        "event_filters": {
          "target": "com.posthog.llm_analytics#ClusteringJobEventFiltersList",
          "traits": {
            "smithy.api#documentation": "PostHog property filters that scope this clustering job. Empty array means no filters."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#AnalysisLevelEnum": {
      "type": "enum",
      "members": {
        "TRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trace"
          }
        },
        "GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "generation"
          }
        },
        "EVALUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "evaluation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `trace` - trace\n* `generation` - generation\n* `evaluation` - evaluation"
      }
    },
    "com.posthog.llm_analytics#ClusteringJobEventFiltersItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#ClusteringJobEventFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#ClusteringJobEventFiltersItemMap"
      },
      "traits": {
        "smithy.api#documentation": "PostHog property filters that scope this clustering job. Empty array means no filters."
      }
    },
    "com.posthog.llm_analytics#PaginatedClusteringJobListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#ClusteringJob"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#ListLlmAnalyticsClusteringJobs": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#ListLlmAnalyticsClusteringJobsRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#PaginatedClusteringJobList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/clustering_jobs/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for clustering job configurations (max 10 per team)."
      }
    },
    "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringJobRequestEventFiltersItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringJobRequestEventFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringJobRequestEventFiltersItemMap"
      },
      "traits": {
        "smithy.api#documentation": "PostHog property filters that scope this clustering job. Empty array means no filters."
      }
    },
    "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringJobRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "analysis_level": {
          "target": "com.posthog.llm_analytics#AnalysisLevelEnum"
        },
        "event_filters": {
          "target": "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringJobRequestEventFiltersList",
          "traits": {
            "smithy.api#documentation": "PostHog property filters that scope this clustering job. Empty array means no filters."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringJob": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringJobRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#ClusteringJob"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_analytics/clustering_jobs/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for clustering job configurations (max 10 per team)."
      }
    },
    "com.posthog.llm_analytics#GetLlmAnalyticsClusteringJobRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this clustering job."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#GetLlmAnalyticsClusteringJob": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#GetLlmAnalyticsClusteringJobRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#ClusteringJob"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/clustering_jobs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for clustering job configurations (max 10 per team)."
      }
    },
    "com.posthog.llm_analytics#UpdateLlmAnalyticsClusteringJobRequestEventFiltersItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#UpdateLlmAnalyticsClusteringJobRequestEventFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#UpdateLlmAnalyticsClusteringJobRequestEventFiltersItemMap"
      },
      "traits": {
        "smithy.api#documentation": "PostHog property filters that scope this clustering job. Empty array means no filters."
      }
    },
    "com.posthog.llm_analytics#UpdateLlmAnalyticsClusteringJobRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this clustering job."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "analysis_level": {
          "target": "com.posthog.llm_analytics#AnalysisLevelEnum"
        },
        "event_filters": {
          "target": "com.posthog.llm_analytics#UpdateLlmAnalyticsClusteringJobRequestEventFiltersList",
          "traits": {
            "smithy.api#documentation": "PostHog property filters that scope this clustering job. Empty array means no filters."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#UpdateLlmAnalyticsClusteringJob": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#UpdateLlmAnalyticsClusteringJobRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#ClusteringJob"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/llm_analytics/clustering_jobs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for clustering job configurations (max 10 per team)."
      }
    },
    "com.posthog.llm_analytics#UpdateLlmAnalyticsClusteringJobsPartialRequestEventFiltersItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#UpdateLlmAnalyticsClusteringJobsPartialRequestEventFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#UpdateLlmAnalyticsClusteringJobsPartialRequestEventFiltersItemMap"
      },
      "traits": {
        "smithy.api#documentation": "PostHog property filters that scope this clustering job. Empty array means no filters."
      }
    },
    "com.posthog.llm_analytics#UpdateLlmAnalyticsClusteringJobsPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this clustering job."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "analysis_level": {
          "target": "com.posthog.llm_analytics#AnalysisLevelEnum"
        },
        "event_filters": {
          "target": "com.posthog.llm_analytics#UpdateLlmAnalyticsClusteringJobsPartialRequestEventFiltersList",
          "traits": {
            "smithy.api#documentation": "PostHog property filters that scope this clustering job. Empty array means no filters."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#UpdateLlmAnalyticsClusteringJobsPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#UpdateLlmAnalyticsClusteringJobsPartialRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#ClusteringJob"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/llm_analytics/clustering_jobs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for clustering job configurations (max 10 per team)."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this clustering job."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/llm_analytics/clustering_jobs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for clustering job configurations (max 10 per team)."
      }
    },
    "com.posthog.llm_analytics#EmbeddingNormalizationEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "L2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `none` - none\n* `l2` - l2"
      }
    },
    "com.posthog.llm_analytics#DimensionalityReductionMethodEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "UMAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "umap"
          }
        },
        "PCA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pca"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `none` - none\n* `umap` - umap\n* `pca` - pca"
      }
    },
    "com.posthog.llm_analytics#ClusteringMethodEnum": {
      "type": "enum",
      "members": {
        "HDBSCAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hdbscan"
          }
        },
        "KMEANS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kmeans"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `hdbscan` - hdbscan\n* `kmeans` - kmeans"
      }
    },
    "com.posthog.llm_analytics#VisualizationMethodEnum": {
      "type": "enum",
      "members": {
        "UMAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "umap"
          }
        },
        "PCA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pca"
          }
        },
        "TSNE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tsne"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `umap` - umap\n* `pca` - pca\n* `tsne` - tsne"
      }
    },
    "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringRunRequestEventFiltersItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringRunRequestEventFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringRunRequestEventFiltersItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Property filters to scope which traces are included in clustering (PostHog standard format)"
      }
    },
    "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringRunRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "lookback_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of days to look back for traces"
          }
        },
        "max_samples": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of traces to sample for clustering"
          }
        },
        "embedding_normalization": {
          "target": "com.posthog.llm_analytics#EmbeddingNormalizationEnum",
          "traits": {
            "smithy.api#documentation": "Embedding normalization method: 'none' (raw embeddings) or 'l2' (L2 normalize before clustering)\n\n* `none` - none\n* `l2` - l2"
          }
        },
        "dimensionality_reduction_method": {
          "target": "com.posthog.llm_analytics#DimensionalityReductionMethodEnum",
          "traits": {
            "smithy.api#documentation": "Dimensionality reduction method: 'none' (cluster on raw), 'umap', or 'pca'\n\n* `none` - none\n* `umap` - umap\n* `pca` - pca"
          }
        },
        "dimensionality_reduction_ndims": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Target dimensions for dimensionality reduction (ignored if method is 'none')"
          }
        },
        "clustering_method": {
          "target": "com.posthog.llm_analytics#ClusteringMethodEnum",
          "traits": {
            "smithy.api#documentation": "Clustering algorithm: 'hdbscan' (density-based, auto-determines k) or 'kmeans' (centroid-based)\n\n* `hdbscan` - hdbscan\n* `kmeans` - kmeans"
          }
        },
        "min_cluster_size_fraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum cluster size as fraction of total samples (e.g., 0.02 = 2%)"
          }
        },
        "hdbscan_min_samples": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "HDBSCAN min_samples parameter (higher = more conservative clustering)"
          }
        },
        "kmeans_min_k": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of clusters to try for k-means"
          }
        },
        "kmeans_max_k": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of clusters to try for k-means"
          }
        },
        "run_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional label/tag for the clustering run (used as suffix in run_id for tracking experiments)"
          }
        },
        "visualization_method": {
          "target": "com.posthog.llm_analytics#VisualizationMethodEnum",
          "traits": {
            "smithy.api#documentation": "Method for 2D scatter plot visualization: 'umap', 'pca', or 'tsne'\n\n* `umap` - umap\n* `pca` - pca\n* `tsne` - tsne"
          }
        },
        "event_filters": {
          "target": "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringRunRequestEventFiltersList",
          "traits": {
            "smithy.api#documentation": "Property filters to scope which traces are included in clustering (PostHog standard format)"
          }
        },
        "clustering_job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If provided, use this clustering job's analysis_level and event_filters instead of request params",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#ClusteringRunRequest": {
      "type": "structure",
      "members": {
        "lookback_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of days to look back for traces"
          }
        },
        "max_samples": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of traces to sample for clustering"
          }
        },
        "embedding_normalization": {
          "target": "com.posthog.llm_analytics#EmbeddingNormalizationEnum",
          "traits": {
            "smithy.api#documentation": "Embedding normalization method: 'none' (raw embeddings) or 'l2' (L2 normalize before clustering)\n\n* `none` - none\n* `l2` - l2"
          }
        },
        "dimensionality_reduction_method": {
          "target": "com.posthog.llm_analytics#DimensionalityReductionMethodEnum",
          "traits": {
            "smithy.api#documentation": "Dimensionality reduction method: 'none' (cluster on raw), 'umap', or 'pca'\n\n* `none` - none\n* `umap` - umap\n* `pca` - pca"
          }
        },
        "dimensionality_reduction_ndims": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Target dimensions for dimensionality reduction (ignored if method is 'none')"
          }
        },
        "clustering_method": {
          "target": "com.posthog.llm_analytics#ClusteringMethodEnum",
          "traits": {
            "smithy.api#documentation": "Clustering algorithm: 'hdbscan' (density-based, auto-determines k) or 'kmeans' (centroid-based)\n\n* `hdbscan` - hdbscan\n* `kmeans` - kmeans"
          }
        },
        "min_cluster_size_fraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum cluster size as fraction of total samples (e.g., 0.02 = 2%)"
          }
        },
        "hdbscan_min_samples": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "HDBSCAN min_samples parameter (higher = more conservative clustering)"
          }
        },
        "kmeans_min_k": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of clusters to try for k-means"
          }
        },
        "kmeans_max_k": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of clusters to try for k-means"
          }
        },
        "run_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional label/tag for the clustering run (used as suffix in run_id for tracking experiments)"
          }
        },
        "visualization_method": {
          "target": "com.posthog.llm_analytics#VisualizationMethodEnum",
          "traits": {
            "smithy.api#documentation": "Method for 2D scatter plot visualization: 'umap', 'pca', or 'tsne'\n\n* `umap` - umap\n* `pca` - pca\n* `tsne` - tsne"
          }
        },
        "event_filters": {
          "target": "com.posthog.llm_analytics#ClusteringRunRequestEventFiltersList",
          "traits": {
            "smithy.api#documentation": "Property filters to scope which traces are included in clustering (PostHog standard format)"
          }
        },
        "clustering_job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If provided, use this clustering job's analysis_level and event_filters instead of request params",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Serializer for clustering workflow request parameters."
      }
    },
    "com.posthog.llm_analytics#ClusteringRunRequestEventFiltersItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#ClusteringRunRequestEventFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#ClusteringRunRequestEventFiltersItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Property filters to scope which traces are included in clustering (PostHog standard format)"
      }
    },
    "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringRun": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#CreateLlmAnalyticsClusteringRunRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#ClusteringRunRequest"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_analytics/clustering_runs/",
          "code": 200
        },
        "smithy.api#documentation": "Trigger a new clustering workflow run.\n\nThis endpoint validates the request parameters and starts a Temporal workflow\nto perform trace clustering with the specified configuration."
      }
    },
    "com.posthog.llm_analytics#GetLlmAnalyticsEvaluationConfigRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#EvaluationConfigOutput": {
      "type": "structure",
      "members": {
        "active_provider_key": {
          "target": "com.posthog.llm_analytics#LLMProviderKeyOutput",
          "traits": {
            "smithy.api#documentation": "Provider key used to run llm_judge evals; null if none configured yet.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the evaluation config row was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the evaluation config row was last modified.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#LLMProviderKeyOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "provider": {
          "target": "com.posthog.llm_analytics#LLMProviderEnum"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.posthog.llm_analytics#LLMProviderKeyStateEnum"
        },
        "error_message": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "api_key_masked": {
          "target": "smithy.api#String"
        },
        "base_url_display": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configured provider base URL (read-only, for display)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "system_one_model_display": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configured System One model ID.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "azure_endpoint_display": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure endpoint (read-only, for display)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "api_version_display": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure API version (read-only, for display)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.llm_analytics#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_used_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#LLMProviderEnum": {
      "type": "enum",
      "members": {
        "OPENAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai"
          }
        },
        "ANTHROPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic"
          }
        },
        "GEMINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gemini"
          }
        },
        "OPENROUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openrouter"
          }
        },
        "FIREWORKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fireworks"
          }
        },
        "AZURE_OPENAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "azure_openai"
          }
        },
        "TOGETHER_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "together_ai"
          }
        },
        "MINIMAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minimax"
          }
        },
        "ZEABUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zeabur"
          }
        },
        "SYSTEM_ONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system_one"
          }
        },
        "OPENAI_COMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai_compatible"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `openai` - Openai\n* `anthropic` - Anthropic\n* `gemini` - Gemini\n* `openrouter` - Openrouter\n* `fireworks` - Fireworks\n* `azure_openai` - Azure OpenAI\n* `together_ai` - Together AI\n* `minimax` - MiniMax\n* `zeabur` - Zeabur AI Hub\n* `system_one` - System One\n* `openai_compatible` - OpenAI-compatible"
      }
    },
    "com.posthog.llm_analytics#LLMProviderKeyStateEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `unknown` - Unknown\n* `ok` - Ok\n* `invalid` - Invalid\n* `error` - Error"
      }
    },
    "com.posthog.llm_analytics#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.llm_analytics#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.llm_analytics#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.llm_analytics#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.llm_analytics#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.llm_analytics#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#GetLlmAnalyticsEvaluationConfig": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#GetLlmAnalyticsEvaluationConfigRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#EvaluationConfigOutput"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_config/",
          "code": 200
        },
        "smithy.api#documentation": "Get the evaluation config for this team"
      }
    },
    "com.posthog.llm_analytics#CreateLlmAnalyticsEvaluationConfigSetActiveKeyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of an existing LLM provider key (state must be 'ok') to mark as the active key for running llm_judge evaluations team-wide.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#CreateLlmAnalyticsEvaluationConfigSetActiveKey": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#CreateLlmAnalyticsEvaluationConfigSetActiveKeyRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#EvaluationConfigOutput"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_config/set_active_key/",
          "code": 200
        },
        "smithy.api#documentation": "Set the active provider key for evaluations"
      }
    },
    "com.posthog.llm_analytics#ListLlmAnalyticsEvaluationReportsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "evaluation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "evaluation",
            "smithy.api#documentation": "Only return report configs for this evaluation UUID."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#PaginatedEvaluationReportList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.llm_analytics#PaginatedEvaluationReportListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#EvaluationReport": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "evaluation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the evaluation this report config belongs to."
          }
        },
        "frequency": {
          "target": "com.posthog.llm_analytics#EvaluationReportFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "How report generation is triggered. 'every_n' fires once N new evaluation results have accumulated (subject to cooldown_minutes and daily_run_cap). 'scheduled' fires on the cadence defined by rrule.\n\n* `scheduled` - Scheduled\n* `every_n` - Every N"
          }
        },
        "rrule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RFC 5545 recurrence rule string for scheduled reports. Only daily and weekly cadences are supported: use 'FREQ=DAILY' or 'FREQ=WEEKLY;BYDAY=MO,FR'. Required when frequency is 'scheduled'; ignored otherwise."
          }
        },
        "starts_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Read-only anchor datetime used to expand scheduled reports. The server sets this automatically when a report is switched to scheduled mode.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "timezone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Read-only timezone used for scheduled reports. Evaluation reports use UTC."
          }
        },
        "next_delivery_date": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "delivery_targets": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "List of delivery targets. Each entry is either {type: 'email', value: 'user@example.com'} or {type: 'slack', integration_id: <int>, channel: '<channel>'}. Slack integration_id must belong to this team."
          }
        },
        "max_sample_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of evaluation runs included in each report. Defaults to 200."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether report delivery is active. Disabled configs do not fire."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Read-only. Report configs are soft-deleted only when their evaluation is deleted. Use enabled=false to stop deliveries."
          }
        },
        "last_delivered_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "generated_report_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of reports generated from this evaluation report config."
          }
        },
        "last_generated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the most recent report was generated, or null if no reports have been generated.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "report_prompt_guidance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional custom instructions appended to the AI report prompt to steer focus, scope, or section choices without modifying the base prompt."
          }
        },
        "trigger_threshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of new evaluation results that triggers a report (every_n mode only). Min 100, max 10000. Defaults to 100. Required when frequency is 'every_n'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum minutes between count-triggered reports to prevent spam (every_n mode only). Min 60, max 1440 (24 hours). Defaults to 60."
          }
        },
        "daily_run_cap": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum count-triggered report runs per calendar day (UTC). Min 1, max 24 (one per cooldown window). Defaults to 10."
          }
        },
        "created_by": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#EvaluationReportFrequencyEnum": {
      "type": "enum",
      "members": {
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled"
          }
        },
        "EVERY_N": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "every_n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `scheduled` - Scheduled\n* `every_n` - Every N"
      }
    },
    "com.posthog.llm_analytics#PaginatedEvaluationReportListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#EvaluationReport"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#ListLlmAnalyticsEvaluationReports": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#ListLlmAnalyticsEvaluationReportsRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#PaginatedEvaluationReportList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_reports/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for evaluation report configurations + report run history."
      }
    },
    "com.posthog.llm_analytics#CreateLlmAnalyticsEvaluationReportRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "evaluation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the evaluation this report config belongs to."
          }
        },
        "frequency": {
          "target": "com.posthog.llm_analytics#EvaluationReportFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "How report generation is triggered. 'every_n' fires once N new evaluation results have accumulated (subject to cooldown_minutes and daily_run_cap). 'scheduled' fires on the cadence defined by rrule.\n\n* `scheduled` - Scheduled\n* `every_n` - Every N"
          }
        },
        "rrule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RFC 5545 recurrence rule string for scheduled reports. Only daily and weekly cadences are supported: use 'FREQ=DAILY' or 'FREQ=WEEKLY;BYDAY=MO,FR'. Required when frequency is 'scheduled'; ignored otherwise."
          }
        },
        "delivery_targets": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "List of delivery targets. Each entry is either {type: 'email', value: 'user@example.com'} or {type: 'slack', integration_id: <int>, channel: '<channel>'}. Slack integration_id must belong to this team."
          }
        },
        "max_sample_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of evaluation runs included in each report. Defaults to 200."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether report delivery is active. Disabled configs do not fire."
          }
        },
        "report_prompt_guidance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional custom instructions appended to the AI report prompt to steer focus, scope, or section choices without modifying the base prompt."
          }
        },
        "trigger_threshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of new evaluation results that triggers a report (every_n mode only). Min 100, max 10000. Defaults to 100. Required when frequency is 'every_n'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum minutes between count-triggered reports to prevent spam (every_n mode only). Min 60, max 1440 (24 hours). Defaults to 60."
          }
        },
        "daily_run_cap": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum count-triggered report runs per calendar day (UTC). Min 1, max 24 (one per cooldown window). Defaults to 10."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#CreateLlmAnalyticsEvaluationReport": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#CreateLlmAnalyticsEvaluationReportRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#EvaluationReport"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_reports/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for evaluation report configurations + report run history."
      }
    },
    "com.posthog.llm_analytics#GetLlmAnalyticsEvaluationReportRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this evaluation report."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#GetLlmAnalyticsEvaluationReport": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#GetLlmAnalyticsEvaluationReportRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#EvaluationReport"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_reports/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for evaluation report configurations + report run history."
      }
    },
    "com.posthog.llm_analytics#UpdateLlmAnalyticsEvaluationReportRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this evaluation report."
          }
        },
        "frequency": {
          "target": "com.posthog.llm_analytics#EvaluationReportFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "How report generation is triggered. 'every_n' fires once N new evaluation results have accumulated (subject to cooldown_minutes and daily_run_cap). 'scheduled' fires on the cadence defined by rrule.\n\n* `scheduled` - Scheduled\n* `every_n` - Every N"
          }
        },
        "rrule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RFC 5545 recurrence rule string for scheduled reports. Only daily and weekly cadences are supported: use 'FREQ=DAILY' or 'FREQ=WEEKLY;BYDAY=MO,FR'. Required when frequency is 'scheduled'; ignored otherwise."
          }
        },
        "delivery_targets": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "List of delivery targets. Each entry is either {type: 'email', value: 'user@example.com'} or {type: 'slack', integration_id: <int>, channel: '<channel>'}. Slack integration_id must belong to this team."
          }
        },
        "max_sample_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of evaluation runs included in each report. Defaults to 200."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether report delivery is active. Disabled configs do not fire."
          }
        },
        "report_prompt_guidance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional custom instructions appended to the AI report prompt to steer focus, scope, or section choices without modifying the base prompt."
          }
        },
        "trigger_threshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of new evaluation results that triggers a report (every_n mode only). Min 100, max 10000. Defaults to 100. Required when frequency is 'every_n'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum minutes between count-triggered reports to prevent spam (every_n mode only). Min 60, max 1440 (24 hours). Defaults to 60."
          }
        },
        "daily_run_cap": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum count-triggered report runs per calendar day (UTC). Min 1, max 24 (one per cooldown window). Defaults to 10."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#EvaluationReportUpdate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "evaluation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the evaluation this report config belongs to.",
            "smithy.api#required": {}
          }
        },
        "frequency": {
          "target": "com.posthog.llm_analytics#EvaluationReportFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "How report generation is triggered. 'every_n' fires once N new evaluation results have accumulated (subject to cooldown_minutes and daily_run_cap). 'scheduled' fires on the cadence defined by rrule.\n\n* `scheduled` - Scheduled\n* `every_n` - Every N"
          }
        },
        "rrule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RFC 5545 recurrence rule string for scheduled reports. Only daily and weekly cadences are supported: use 'FREQ=DAILY' or 'FREQ=WEEKLY;BYDAY=MO,FR'. Required when frequency is 'scheduled'; ignored otherwise."
          }
        },
        "starts_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Read-only anchor datetime used to expand scheduled reports. The server sets this automatically when a report is switched to scheduled mode.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "timezone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Read-only timezone used for scheduled reports. Evaluation reports use UTC.",
            "smithy.api#required": {}
          }
        },
        "next_delivery_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "delivery_targets": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "List of delivery targets. Each entry is either {type: 'email', value: 'user@example.com'} or {type: 'slack', integration_id: <int>, channel: '<channel>'}. Slack integration_id must belong to this team."
          }
        },
        "max_sample_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of evaluation runs included in each report. Defaults to 200."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether report delivery is active. Disabled configs do not fire."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Read-only. Report configs are soft-deleted only when their evaluation is deleted. Use enabled=false to stop deliveries.",
            "smithy.api#required": {}
          }
        },
        "last_delivered_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "generated_report_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of reports generated from this evaluation report config.",
            "smithy.api#required": {}
          }
        },
        "last_generated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the most recent report was generated, or null if no reports have been generated.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "report_prompt_guidance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional custom instructions appended to the AI report prompt to steer focus, scope, or section choices without modifying the base prompt."
          }
        },
        "trigger_threshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of new evaluation results that triggers a report (every_n mode only). Min 100, max 10000. Defaults to 100. Required when frequency is 'every_n'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum minutes between count-triggered reports to prevent spam (every_n mode only). Min 60, max 1440 (24 hours). Defaults to 60."
          }
        },
        "daily_run_cap": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum count-triggered report runs per calendar day (UTC). Min 1, max 24 (one per cooldown window). Defaults to 10."
          }
        },
        "created_by": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#UpdateLlmAnalyticsEvaluationReport": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#UpdateLlmAnalyticsEvaluationReportRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#EvaluationReportUpdate"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_reports/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for evaluation report configurations + report run history."
      }
    },
    "com.posthog.llm_analytics#UpdateLlmAnalyticsEvaluationReportsPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this evaluation report."
          }
        },
        "frequency": {
          "target": "com.posthog.llm_analytics#EvaluationReportFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "How report generation is triggered. 'every_n' fires once N new evaluation results have accumulated (subject to cooldown_minutes and daily_run_cap). 'scheduled' fires on the cadence defined by rrule.\n\n* `scheduled` - Scheduled\n* `every_n` - Every N"
          }
        },
        "rrule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RFC 5545 recurrence rule string for scheduled reports. Only daily and weekly cadences are supported: use 'FREQ=DAILY' or 'FREQ=WEEKLY;BYDAY=MO,FR'. Required when frequency is 'scheduled'; ignored otherwise."
          }
        },
        "delivery_targets": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "List of delivery targets. Each entry is either {type: 'email', value: 'user@example.com'} or {type: 'slack', integration_id: <int>, channel: '<channel>'}. Slack integration_id must belong to this team."
          }
        },
        "max_sample_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of evaluation runs included in each report. Defaults to 200."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether report delivery is active. Disabled configs do not fire."
          }
        },
        "report_prompt_guidance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional custom instructions appended to the AI report prompt to steer focus, scope, or section choices without modifying the base prompt."
          }
        },
        "trigger_threshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of new evaluation results that triggers a report (every_n mode only). Min 100, max 10000. Defaults to 100. Required when frequency is 'every_n'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum minutes between count-triggered reports to prevent spam (every_n mode only). Min 60, max 1440 (24 hours). Defaults to 60."
          }
        },
        "daily_run_cap": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum count-triggered report runs per calendar day (UTC). Min 1, max 24 (one per cooldown window). Defaults to 10."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#UpdateLlmAnalyticsEvaluationReportsPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#UpdateLlmAnalyticsEvaluationReportsPartialRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#EvaluationReportUpdate"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_reports/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for evaluation report configurations + report run history."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this evaluation report."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_reports/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Evaluation report configs are deleted only when their evaluation is deleted. Use PATCH enabled=false to stop delivery."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsGenerateCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this evaluation report."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsGenerateCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsGenerateCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_reports/{id}/generate/",
          "code": 200
        },
        "smithy.api#documentation": "Trigger immediate report generation."
      }
    },
    "com.posthog.llm_analytics#ListLlmAnalyticsEvaluationReportsRunsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this evaluation report."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#PaginatedEvaluationReportRunList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.llm_analytics#PaginatedEvaluationReportRunListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#EvaluationReportRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of this report run."
          }
        },
        "report": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the report config that generated this run."
          }
        },
        "content": {
          "target": "com.posthog.llm_analytics#EvaluationReportRunContent",
          "traits": {
            "smithy.api#documentation": "Structured report narrative, citations, and metrics. Legacy runs may contain only some fields."
          }
        },
        "metadata": {
          "target": "com.posthog.llm_analytics#EvaluationReportMetrics",
          "traits": {
            "smithy.api#documentation": "Legacy mirror of content.metrics. May contain partial boolean metrics on older runs.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "period_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of the evaluation window covered by this report."
          }
        },
        "period_end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of the evaluation window covered by this report."
          }
        },
        "delivery_status": {
          "target": "com.posthog.llm_analytics#EvaluationReportRunDeliveryStatusEnum",
          "traits": {
            "smithy.api#documentation": "Delivery result: 'pending', 'generated', 'delivered', 'partial_failure', or 'failed'.\n\n* `pending` - Pending\n* `generated` - Generated\n* `delivered` - Delivered\n* `partial_failure` - Partial Failure\n* `failed` - Failed"
          }
        },
        "delivery_errors": {
          "target": "com.posthog.llm_analytics#EvaluationReportRunDeliveryErrorsList",
          "traits": {
            "smithy.api#documentation": "Delivery error messages. Empty when all configured deliveries succeeded."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this report run was created."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#EvaluationReportRunContent": {
      "type": "structure",
      "members": {
        "evaluation_target": {
          "target": "com.posthog.llm_analytics#EvaluationTargetEnum",
          "traits": {
            "smithy.api#documentation": "Evaluation target analyzed by this report run. Legacy runs without this field targeted generations.\n\n* `generation` - Generation\n* `trace` - Trace\n* `session` - Session"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Agent-generated report headline."
          }
        },
        "sections": {
          "target": "com.posthog.llm_analytics#EvaluationReportRunContentSectionsList",
          "traits": {
            "smithy.api#documentation": "Ordered narrative sections in the report."
          }
        },
        "citations": {
          "target": "com.posthog.llm_analytics#EvaluationReportRunContentCitationsList",
          "traits": {
            "smithy.api#documentation": "References grounding findings in the report."
          }
        },
        "generation_status": {
          "target": "com.posthog.llm_analytics#GenerationStatusEnum",
          "traits": {
            "smithy.api#documentation": "Whether report generation completed or metrics were temporarily unavailable. Legacy runs without this field completed normally.\n\n* `completed` - completed\n* `metrics_unavailable` - metrics_unavailable"
          }
        },
        "metrics": {
          "target": "com.posthog.llm_analytics#EvaluationReportMetrics",
          "traits": {
            "smithy.api#documentation": "Structured metrics for completed reports, or null when metrics were temporarily unavailable.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#EvaluationTargetEnum": {
      "type": "enum",
      "members": {
        "GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "generation"
          }
        },
        "TRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trace"
          }
        },
        "SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `generation` - Generation\n* `trace` - Trace\n* `session` - Session"
      }
    },
    "com.posthog.llm_analytics#EvaluationReportSection": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Agent-generated section heading."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Markdown narrative for this section."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#EvaluationReportRunContentSectionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#EvaluationReportSection"
      },
      "traits": {
        "smithy.api#documentation": "Ordered narrative sections in the report."
      }
    },
    "com.posthog.llm_analytics#EvaluationReportCitation": {
      "type": "structure",
      "members": {
        "generation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional generation UUID for generation-target report citations."
          }
        },
        "trace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the trace cited by this report."
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional session identifier for session-target report citations."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short explanation of why this example is cited."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#EvaluationReportRunContentCitationsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#EvaluationReportCitation"
      },
      "traits": {
        "smithy.api#documentation": "References grounding findings in the report."
      }
    },
    "com.posthog.llm_analytics#GenerationStatusEnum": {
      "type": "enum",
      "members": {
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "METRICS_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "metrics_unavailable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `completed` - completed\n* `metrics_unavailable` - metrics_unavailable"
      }
    },
    "com.posthog.llm_analytics#EvaluationReportMetrics": {
      "type": "structure",
      "members": {
        "output_config": {
          "target": "com.posthog.llm_analytics#EvaluationReportMetricsOutputConfig",
          "traits": {
            "smithy.api#documentation": "Output configuration and passing rule used for both report periods."
          }
        },
        "output_type": {
          "target": "com.posthog.llm_analytics#OutputTypeEnum",
          "traits": {
            "smithy.api#documentation": "Evaluation result type. Stored metrics without this field represent boolean evaluations.\n\n* `boolean` - Boolean (Pass/Fail)\n* `numeric` - Numeric\n* `categorical` - Categorical\n* `sentiment` - Sentiment"
          }
        },
        "total_runs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of evaluation results in the report period."
          }
        },
        "result_counts": {
          "target": "com.posthog.llm_analytics#EvaluationReportMetricsResultCountsMap",
          "traits": {
            "smithy.api#documentation": "Count by output-specific result label, such as pass/fail/N/A or positive/neutral/negative."
          }
        },
        "result_rates": {
          "target": "com.posthog.llm_analytics#EvaluationReportMetricsResultRatesMap",
          "traits": {
            "smithy.api#documentation": "Percentage by output-specific result label, from 0 to 100."
          }
        },
        "period_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 start of the evaluation window represented by these metrics."
          }
        },
        "period_end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 end of the evaluation window represented by these metrics."
          }
        },
        "previous_total_runs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of evaluation results in the previous comparison period, or null when unavailable.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous_result_counts": {
          "target": "com.posthog.llm_analytics#EvaluationReportMetricsPreviousResultCountsMap",
          "traits": {
            "smithy.api#documentation": "Count by result label for the previous period, or null when unavailable.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous_result_rates": {
          "target": "com.posthog.llm_analytics#EvaluationReportMetricsPreviousResultRatesMap",
          "traits": {
            "smithy.api#documentation": "Percentage by result label for the previous period, or null when unavailable.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pass_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Pass percentage excluding N/A. With no applicable results, numeric and categorical reports return null; boolean reports return 0.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous_pass_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Pass percentage for boolean, numeric, or categorical results in the previous period, or null when unavailable.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#EvaluationReportMetricsOutputConfigOptionsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable category key.",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category display label.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#EvaluationReportMetricsOutputConfigOptionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#EvaluationReportMetricsOutputConfigOptionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Categorical output options. Keys identify stored results; labels are displayed to users."
      }
    },
    "com.posthog.llm_analytics#EvaluationReportMetricsOutputConfigSelectionMode": {
      "type": "enum",
      "members": {
        "SINGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "single"
          }
        },
        "MULTIPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiple"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Select one category or multiple categories. Multiple selection allows an empty result. Defaults to single."
      }
    },
    "com.posthog.llm_analytics#EvaluationReportMetricsOutputConfigPassingRuleCase0Operator": {
      "type": "enum",
      "members": {
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pass at or above (gte), or at or below (lte), the threshold."
      }
    },
    "com.posthog.llm_analytics#EvaluationReportMetricsOutputConfigPassingRuleCase0": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "com.posthog.llm_analytics#EvaluationReportMetricsOutputConfigPassingRuleCase0Operator",
          "traits": {
            "smithy.api#documentation": "Pass at or above (gte), or at or below (lte), the threshold.",
            "smithy.api#required": {}
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Finite passing threshold within any configured score bounds.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#EvaluationReportMetricsOutputConfigPassingRuleCase1CategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Passing category keys. With keys selected, results must be non-empty and contain only these keys. If no passing keys are selected, only an empty result passes."
      }
    },
    "com.posthog.llm_analytics#EvaluationReportMetricsOutputConfigPassingRuleCase1": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.posthog.llm_analytics#EvaluationReportMetricsOutputConfigPassingRuleCase1CategoriesList",
          "traits": {
            "smithy.api#documentation": "Passing category keys. With keys selected, results must be non-empty and contain only these keys. If no passing keys are selected, only an empty result passes.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#EvaluationReportMetricsOutputConfigPassingRule": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.llm_analytics#EvaluationReportMetricsOutputConfigPassingRuleCase0"
        },
        "Case1": {
          "target": "com.posthog.llm_analytics#EvaluationReportMetricsOutputConfigPassingRuleCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional numeric or categorical passing rule. Null removes the rule; historical results use the current rule."
      }
    },
    "com.posthog.llm_analytics#EvaluationReportMetricsOutputConfig": {
      "type": "structure",
      "members": {
        "allows_na": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the evaluation can return N/A for non-applicable generations."
          }
        },
        "true_is_failure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean output only. Omit for numeric, categorical, and sentiment output. Whether a true result means the evaluation found a problem. False (the default) suits pass/fail evaluations, where a true result satisfied the criteria. Set it to true for detector-style evaluations, so a true result is counted and labeled as a fail."
          }
        },
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Inclusive minimum numeric score. Omit for no lower bound. Required for System One numeric judges.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Inclusive maximum numeric score. Omit for no upper bound. Required for System One numeric judges and must exceed min.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "step": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional positive input increment. Does not round evaluation results.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "options": {
          "target": "com.posthog.llm_analytics#EvaluationReportMetricsOutputConfigOptionsList",
          "traits": {
            "smithy.api#documentation": "Categorical output options. Keys identify stored results; labels are displayed to users."
          }
        },
        "selection_mode": {
          "target": "com.posthog.llm_analytics#EvaluationReportMetricsOutputConfigSelectionMode",
          "traits": {
            "smithy.api#documentation": "Select one category or multiple categories. Multiple selection allows an empty result. Defaults to single."
          }
        },
        "passing_rule": {
          "target": "com.posthog.llm_analytics#EvaluationReportMetricsOutputConfigPassingRule",
          "traits": {
            "smithy.api#documentation": "Optional numeric or categorical passing rule. Null removes the rule; historical results use the current rule.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output configuration and passing rule used for both report periods."
      }
    },
    "com.posthog.llm_analytics#OutputTypeEnum": {
      "type": "enum",
      "members": {
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "NUMERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "numeric"
          }
        },
        "CATEGORICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "categorical"
          }
        },
        "SENTIMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sentiment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `boolean` - Boolean (Pass/Fail)\n* `numeric` - Numeric\n* `categorical` - Categorical\n* `sentiment` - Sentiment"
      }
    },
    "com.posthog.llm_analytics#EvaluationReportMetricsResultCountsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Count by output-specific result label, such as pass/fail/N/A or positive/neutral/negative."
      }
    },
    "com.posthog.llm_analytics#EvaluationReportMetricsResultRatesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "Percentage by output-specific result label, from 0 to 100."
      }
    },
    "com.posthog.llm_analytics#EvaluationReportMetricsPreviousResultCountsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Count by result label for the previous period, or null when unavailable."
      }
    },
    "com.posthog.llm_analytics#EvaluationReportMetricsPreviousResultRatesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "Percentage by result label for the previous period, or null when unavailable."
      }
    },
    "com.posthog.llm_analytics#EvaluationReportRunDeliveryStatusEnum": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "GENERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "generated"
          }
        },
        "DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delivered"
          }
        },
[...]
