{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.notebooks#ListNotebooksRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "contains",
            "smithy.api#documentation": "Filter for notebooks that match a provided filter.\n                Each match pair is separated by a colon,\n                multiple match pairs can be sent separated by a space or a comma"
          }
        },
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_by",
            "smithy.api#documentation": "The UUID of the Notebook's creator"
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_from",
            "smithy.api#documentation": "Filter for notebooks created after this date & time"
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_to",
            "smithy.api#documentation": "Filter for notebooks created before this date & time"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "user",
            "smithy.api#documentation": "If any value is provided for this parameter, return notebooks created by the logged in user."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#PaginatedNotebookMinimalListOutput": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.notebooks#PaginatedNotebookMinimalListOutputResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookMinimalOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the notebook."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short alphanumeric identifier used in URLs and API lookups."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.notebooks#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_modified_at": {
          "target": "smithy.api#String"
        },
        "last_modified_by": {
          "target": "com.posthog.notebooks#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.notebooks#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.notebooks#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.notebooks#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.notebooks#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.notebooks#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.notebooks#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#PaginatedNotebookMinimalListOutputResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookMinimalOutput"
      },
      "traits": {}
    },
    "com.posthog.notebooks#ListNotebooks": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#ListNotebooksRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#PaginatedNotebookMinimalListOutput"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/notebooks/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#NotebookVariable": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier the cell reads: `{name}` in a SQL cell, a plain global in a Python cell.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How to coerce the value: 'string', 'number', 'boolean', or 'date'. Unknown types read as 'string'.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The variable's current value. A 'date' is an absolute date or datetime in ISO 8601 form ('2025-01-31', '2025-01-31T09:00:00Z'); relative expressions such as '-7d' are rejected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One notebook-level variable. Shared by the notebook's own `variables` field and a run body."
      }
    },
    "com.posthog.notebooks#CreateNotebookRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
      }
    },
    "com.posthog.notebooks#CreateNotebookRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document. On create, the server stores it as a markdown notebook: one ph-markdown-notebook node that holds the converted markdown."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number for optimistic concurrency control. Must match the current version when updating content."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#CreateNotebookRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebookOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the notebook."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short alphanumeric identifier used in URLs and API lookups."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document. On create, the server stores it as a markdown notebook: one ph-markdown-notebook node that holds the converted markdown."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number for optimistic concurrency control. Must match the current version when updating content."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.notebooks#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_modified_at": {
          "target": "smithy.api#String"
        },
        "last_modified_by": {
          "target": "com.posthog.notebooks#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        },
        "parent_resource": {
          "target": "com.posthog.notebooks#NotebookOutputParentResource",
          "traits": {
            "smithy.api#documentation": "Parent resource this notebook is attached to, or `null`. Returns `{type: 'account', id: <uuid>}` for account-linked notebooks; used by the frontend to route breadcrumbs back to the resource's list.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#NotebookOutputVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookOutputParentResourceType": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookOutputParentResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.notebooks#NotebookOutputParentResourceType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parent resource this notebook is attached to, or `null`. Returns `{type: 'account', id: <uuid>}` for account-linked notebooks; used by the frontend to route breadcrumbs back to the resource's list."
      }
    },
    "com.posthog.notebooks#NotebookOutputVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
      }
    },
    "com.posthog.notebooks#CreateNotebook": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebookRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#NotebookOutput"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#ListNotebooksSharingRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "notebook_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#SharingConfiguration": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "access_token": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {},
            "smithy.api#sensitive": {}
          }
        },
        "settings": {
          "target": "smithy.api#Document"
        },
        "password_required": {
          "target": "smithy.api#Boolean"
        },
        "share_passwords": {
          "target": "com.posthog.notebooks#SharingConfigurationSharePasswordsList"
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mixin for serializers to add user access control fields"
      }
    },
    "com.posthog.notebooks#SharePassword": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by_email": {
          "target": "smithy.api#String"
        },
        "is_active": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#SharingConfigurationSharePasswordsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#SharePassword"
      },
      "traits": {}
    },
    "com.posthog.notebooks#ListNotebooksSharingResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#SharingConfiguration"
      },
      "traits": {}
    },
    "com.posthog.notebooks#ListNotebooksSharingResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.notebooks#ListNotebooksSharingResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.notebooks#ListNotebooksSharing": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#ListNotebooksSharingRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#ListNotebooksSharingResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/notebooks/{notebook_id}/sharing/",
          "code": 200
        }
      }
    },
    "com.posthog.notebooks#CreateNotebooksSharingPasswordRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "notebook_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "settings": {
          "target": "smithy.api#Document"
        },
        "password_required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#CreateNotebooksSharingPassword": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebooksSharingPasswordRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#SharingConfiguration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{notebook_id}/sharing/passwords/",
          "code": 200
        },
        "smithy.api#documentation": "Create a new password for the sharing configuration."
      }
    },
    "com.posthog.notebooks#NotebooksSharingPasswordsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "notebook_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "password_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebooksSharingPasswordsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#NotebooksSharingPasswordsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/notebooks/{notebook_id}/sharing/passwords/{password_id}/",
          "code": 200
        },
        "smithy.api#documentation": "Delete a password from the sharing configuration."
      }
    },
    "com.posthog.notebooks#NotebooksSharingRefreshCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "notebook_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "settings": {
          "target": "smithy.api#Document"
        },
        "password_required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebooksSharingRefreshCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#NotebooksSharingRefreshCreateRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#SharingConfiguration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{notebook_id}/sharing/refresh/",
          "code": 200
        }
      }
    },
    "com.posthog.notebooks#GetNotebookRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#GetNotebook": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#GetNotebookRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#NotebookOutput"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#UpdateNotebookRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
      }
    },
    "com.posthog.notebooks#UpdateNotebookRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document. On create, the server stores it as a markdown notebook: one ph-markdown-notebook node that holds the converted markdown."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number for optimistic concurrency control. Must match the current version when updating content."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#UpdateNotebookRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#UpdateNotebook": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#UpdateNotebookRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#NotebookOutput"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#UpdateNotebooksPartialRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
      }
    },
    "com.posthog.notebooks#UpdateNotebooksPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document. On create, the server stores it as a markdown notebook: one ph-markdown-notebook node that holds the converted markdown."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number for optimistic concurrency control. Must match the current version when updating content."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#UpdateNotebooksPartialRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#UpdateNotebooksPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#UpdateNotebooksPartialRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#NotebookOutput"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#NotebooksDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebooksDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#NotebooksDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/",
          "code": 200
        },
        "smithy.api#documentation": "Hard delete of this model is not allowed. Use a patch API call to set \"deleted\" to true"
      }
    },
    "com.posthog.notebooks#GetNotebooksActivityRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#GetNotebooksActivity": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#GetNotebooksActivityRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/activity/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#NotebookCollabCursor": {
      "type": "structure",
      "members": {
        "head": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ProseMirror selection head position (rich v1 notebooks)."
          }
        },
        "node_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Index of the caret's block node in the markdown notebook document (markdown notebooks)."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Caret offset in the plain text of the focused editable element, in UTF-16 code units."
          }
        },
        "list_item_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Index of the focused list item when the caret is inside a list block."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#CreateNotebooksCollabMarkdownSaveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the client session, used to skip self-echo on the update stream.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The notebook version the submitted content is based on (optimistic concurrency baseline).",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The full markdown notebook document: a ProseMirror doc wrapping a single markdown node.",
            "smithy.api#required": {}
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text for search indexing."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Updated notebook title."
          }
        },
        "cursor": {
          "target": "com.posthog.notebooks#NotebookCollabCursor",
          "traits": {
            "smithy.api#documentation": "The author's caret in the saved markdown, broadcast with the update so other clients can move the author's remote caret together with the text change."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#CreateNotebooksCollabMarkdownSave": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebooksCollabMarkdownSaveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/collab/markdown_save/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#CreateNotebooksCollabPresenceRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the client session, used to skip self-echo on the update stream.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The notebook version the cursor position is relative to.",
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "com.posthog.notebooks#NotebookCollabCursor",
          "traits": {
            "smithy.api#documentation": "The caller's caret position, broadcast to other clients on this notebook's collab stream.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#CreateNotebooksCollabPresence": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebooksCollabPresenceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/collab/presence/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#CreateNotebooksCollabSaveRequestStepsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "List of ProseMirror step JSON objects to apply."
      }
    },
    "com.posthog.notebooks#CreateNotebooksCollabSaveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the client session."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The collab version the client's steps are based on."
          }
        },
        "steps": {
          "target": "com.posthog.notebooks#CreateNotebooksCollabSaveRequestStepsList",
          "traits": {
            "smithy.api#documentation": "List of ProseMirror step JSON objects to apply."
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The resulting ProseMirror document after applying the steps locally."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text for search indexing."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Updated notebook title."
          }
        },
        "cursor_head": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ProseMirror cursor head position after applying steps.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#CreateNotebooksCollabSave": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebooksCollabSaveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/collab/save/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#GetNotebooksCollabStreamRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#GetNotebooksCollabStream": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#GetNotebooksCollabStreamRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/collab/stream/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#CreateNotebooksKernelCompleteRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full source of the cell being edited.",
            "smithy.api#required": {}
          }
        },
        "cursor_pos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Character offset of the cursor in `code`, counting from 0.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebookKernelCompleteResponse": {
      "type": "structure",
      "members": {
        "matches": {
          "target": "com.posthog.notebooks#NotebookKernelCompleteResponseMatchesList",
          "traits": {
            "smithy.api#documentation": "Completions from the live kernel's namespace. Empty when no kernel is running.",
            "smithy.api#required": {}
          }
        },
        "cursor_start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start offset of the text the completions replace.",
            "smithy.api#required": {}
          }
        },
        "cursor_end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End offset of the text the completions replace.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookKernelCompletion": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text that replaces `code[cursor_start:cursor_end]`.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What the match names, as the kernel reports it: 'function', 'module', 'instance', … or blank.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookKernelCompleteResponseMatchesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookKernelCompletion"
      },
      "traits": {
        "smithy.api#documentation": "Completions from the live kernel's namespace. Empty when no kernel is running."
      }
    },
    "com.posthog.notebooks#CreateNotebooksKernelComplete": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebooksKernelCompleteRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#NotebookKernelCompleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/kernel/complete/",
          "code": 200
        },
        "smithy.api#documentation": "Completions for the cursor position in a Python cell, from the notebook's running kernel. Returns no matches when no kernel is running or the kernel is busy, and never starts one."
      }
    },
    "com.posthog.notebooks#CreateNotebooksKernelConfigRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cpu_cores": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "CPU cores for the notebook's sandbox kernel; must be a supported option."
          }
        },
        "memory_gb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Memory in GB for the notebook's sandbox kernel; must be a supported option."
          }
        },
        "idle_timeout_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum lifetime of the sandbox kernel in seconds. It shuts down this long after it starts, even while in use. A running kernel keeps its current lifetime until it restarts."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebookKernelConfigResponse": {
      "type": "structure",
      "members": {
        "cpu_cores": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Configured CPU cores; null means the default applies.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "memory_gb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Configured memory in GB; null means the default applies.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "idle_timeout_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Configured maximum sandbox lifetime in seconds; null means the default.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "restarted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when this call restarted a live kernel to apply a new size. Restarting discards every materialized dataframe, so cells that referenced one must run again.",
            "smithy.api#required": {}
          }
        },
        "restart_required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when a kernel is live and this call did not restart it, so the running sandbox may not match the saved config. A resize restarts the kernel and reports False on success, or True if that restart fails. An idle-timeout change and a no-op on a live kernel also report True.",
            "smithy.api#required": {}
          }
        },
        "hourly_price": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "What this sandbox shape costs per hour in USD while it is alive, at this region's rates. It tracks the running sandbox while a kernel is live, otherwise the configured shape. After a failed resize this stays the running sandbox's rate, not the size that failed to apply.",
            "smithy.api#required": {}
          }
        },
        "preset_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Compute preset the configured shape matches, or null when it was tuned by hand.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#CreateNotebooksKernelConfig": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebooksKernelConfigRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#NotebookKernelConfigResponse"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/kernel/config/",
          "code": 200
        },
        "smithy.api#documentation": "Set the notebook's kernel compute configuration. Applies at sandbox provision time: a currently running kernel keeps its resources until restarted."
      }
    },
    "com.posthog.notebooks#NotebooksKernelExecuteCreateRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
      }
    },
    "com.posthog.notebooks#NotebooksKernelExecuteCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document. On create, the server stores it as a markdown notebook: one ph-markdown-notebook node that holds the converted markdown."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number for optimistic concurrency control. Must match the current version when updating content."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#NotebooksKernelExecuteCreateRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebooksKernelExecuteCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#NotebooksKernelExecuteCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/kernel/execute/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#CreateNotebooksKernelInspectRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full source of the cell being edited.",
            "smithy.api#required": {}
          }
        },
        "cursor_pos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Character offset of the cursor in `code`, counting from 0.",
            "smithy.api#required": {}
          }
        },
        "detail_level": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "0 for the signature and docstring, 1 to add the source when the kernel can find it."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebookKernelInspectResponse": {
      "type": "structure",
      "members": {
        "found": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the kernel found an object at the cursor.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object's signature and docstring as plain text. Blank when not found.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#CreateNotebooksKernelInspect": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebooksKernelInspectRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#NotebookKernelInspectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/kernel/inspect/",
          "code": 200
        },
        "smithy.api#documentation": "The signature and docstring of the name at the cursor in a Python cell, from the notebook's running kernel. Returns found=false when no kernel is running or the kernel is busy."
      }
    },
    "com.posthog.notebooks#NotebooksKernelRestartCreateRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
      }
    },
    "com.posthog.notebooks#NotebooksKernelRestartCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document. On create, the server stores it as a markdown notebook: one ph-markdown-notebook node that holds the converted markdown."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number for optimistic concurrency control. Must match the current version when updating content."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#NotebooksKernelRestartCreateRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebooksKernelRestartCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#NotebooksKernelRestartCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/kernel/restart/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#NotebooksKernelStartCreateRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
      }
    },
    "com.posthog.notebooks#NotebooksKernelStartCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document. On create, the server stores it as a markdown notebook: one ph-markdown-notebook node that holds the converted markdown."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number for optimistic concurrency control. Must match the current version when updating content."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#NotebooksKernelStartCreateRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebooksKernelStartCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#NotebooksKernelStartCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/kernel/start/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#GetNotebooksKernelStatusRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebookKernelStatusResponse": {
      "type": "structure",
      "members": {
        "backend": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sandbox backend the kernel runs on: 'modal' or 'docker'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Live-checked kernel state: 'starting', 'running', 'stopped', 'timed_out', 'discarded', or 'error'.",
            "smithy.api#required": {}
          }
        },
        "last_used_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the kernel last executed anything.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Most recent provisioning or runtime error, if any.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "runtime_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kernel runtime row identifier.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "kernel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Jupyter kernel identifier.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "kernel_pid": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Kernel process id inside the sandbox.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sandbox_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sandbox container identifier.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "frames": {
          "target": "com.posthog.notebooks#NotebookKernelStatusResponseFramesList",
          "traits": {
            "smithy.api#documentation": "Dataframes and DuckDB tables a cell can currently reference, with column names and types. Empty unless the kernel is running and the caller has query access.",
            "smithy.api#required": {}
          }
        },
        "cpu_cores": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "CPU cores the sandbox is configured with.",
            "smithy.api#required": {}
          }
        },
        "memory_gb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Memory in GB the sandbox is configured with.",
            "smithy.api#required": {}
          }
        },
        "disk_size_gb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Disk size in GB the sandbox is configured with.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "idle_timeout_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum lifetime of the sandbox in seconds. It shuts down this long after it starts, even while in use.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hourly_price": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "What this sandbox shape costs per hour in USD while it is alive, at this region's rates. Charged on the sandbox's lifetime, not on how much of it a cell uses. Resizing through the kernel config endpoint restarts a live kernel, so this tracks the running sandbox.",
            "smithy.api#required": {}
          }
        },
        "preset_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Compute preset for the shape hourly_price describes: the running sandbox while a kernel is live, otherwise the configured shape. Null when that shape was tuned by hand and matches no preset.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookSQLV2Frame": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name a SQL node can SELECT from.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where the object came from: 'frame' (a dataframe a node produced), or 'table'/'view' (created by SQL DDL in a DuckDB node).",
            "smithy.api#required": {}
          }
        },
        "columns": {
          "target": "com.posthog.notebooks#NotebookSQLV2FrameColumnsList",
          "traits": {
            "smithy.api#documentation": "DuckDB type per column, as [name, type] pairs."
          }
        },
        "row_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rows available, or null when counting would require a table scan (a DDL view).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "row_count_is_estimate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when row_count is DuckDB's optimizer estimate rather than a count. The estimate does not track deletes, so it must never be presented as exact."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookSQLV2FrameColumnsItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A [column name, DuckDB type] pair."
      }
    },
    "com.posthog.notebooks#NotebookSQLV2FrameColumnsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookSQLV2FrameColumnsItemList"
      },
      "traits": {
        "smithy.api#documentation": "DuckDB type per column, as [name, type] pairs."
      }
    },
    "com.posthog.notebooks#NotebookKernelStatusResponseFramesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookSQLV2Frame"
      },
      "traits": {
        "smithy.api#documentation": "Dataframes and DuckDB tables a cell can currently reference, with column names and types. Empty unless the kernel is running and the caller has query access."
      }
    },
    "com.posthog.notebooks#GetNotebooksKernelStatus": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#GetNotebooksKernelStatusRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#NotebookKernelStatusResponse"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/kernel/status/",
          "code": 200
        },
        "smithy.api#documentation": "Live-checked kernel runtime state for this notebook, its compute configuration, and the catalog of dataframes/tables a cell can currently reference (with column schemas)."
      }
    },
    "com.posthog.notebooks#NotebooksKernelStopCreateRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
      }
    },
    "com.posthog.notebooks#NotebooksKernelStopCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document. On create, the server stores it as a markdown notebook: one ph-markdown-notebook node that holds the converted markdown."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number for optimistic concurrency control. Must match the current version when updating content."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#NotebooksKernelStopCreateRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebooksKernelStopCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#NotebooksKernelStopCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/kernel/stop/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#CreateNotebooksRunRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Replace the notebook's variables with this list before the run starts, so the results match what the document declares. Omit it to run with the variables already saved."
      }
    },
    "com.posthog.notebooks#CreateNotebooksRunRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "include_prepared_insights": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include prepared embedded insights when refreshing a dashboard widget. Requires notebook widgets to be enabled."
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#CreateNotebooksRunRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Replace the notebook's variables with this list before the run starts, so the results match what the document declares. Omit it to run with the variables already saved."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebookRunStartResponse": {
      "type": "structure",
      "members": {
        "run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the whole-notebook run. Poll the run status endpoint with it until the status is terminal.",
            "smithy.api#required": {}
          }
        },
        "cell_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many cells the run will execute, frozen when it started.",
            "smithy.api#required": {}
          }
        },
        "starts_sandbox": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when this run has to provision a sandbox because it holds a Python cell and none is live for the caller. Tell the user what that costs.",
            "smithy.api#required": {}
          }
        },
        "sandbox_hourly_price": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "What the sandbox this run provisions costs per hour in USD. Null when the run needs no new sandbox, or when the backend is not charged.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#CreateNotebooksRun": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebooksRunRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#NotebookRunStartResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/runs/",
          "code": 200
        },
        "smithy.api#documentation": "Run every SQL and Python cell of a markdown notebook, in document order, stopping at the first cell that does not finish. Returns as soon as the run starts; poll the run status endpoint until the status is terminal. Flag-gated (revamped-py-notebooks)."
      }
    },
    "com.posthog.notebooks#GetNotebooksRunRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the whole-notebook run, as returned by the run endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebookRunStatusResponse": {
      "type": "structure",
      "members": {
        "run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the whole-notebook run.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Run state: 'running' (keep polling), or terminal — 'done', 'failed', or 'interrupted'.",
            "smithy.api#required": {}
          }
        },
        "trigger": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Which surface started the run: 'ui' or 'mcp'.",
            "smithy.api#required": {}
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#NotebookRunStatusResponseVariablesList",
          "traits": {
            "smithy.api#documentation": "The variable values this run bound, snapshotted when it started.",
            "smithy.api#required": {}
          }
        },
        "cell_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many cells the run executes.",
            "smithy.api#required": {}
          }
        },
        "current_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Position in the plan the run has reached, counting from 0.",
            "smithy.api#required": {}
          }
        },
        "current_node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cell the run is on; null once the plan is finished.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "failed_node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cell that stopped the run, when one did.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the run stopped, in one sentence a person can read.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cells": {
          "target": "com.posthog.notebooks#NotebookRunStatusResponseCellsList",
          "traits": {
            "smithy.api#documentation": "Every planned cell in run order, with the state of its run in this notebook run.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the run started.",
            "smithy.api#required": {}
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the run reached a terminal state; null while running.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookRunStatusResponseVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "The variable values this run bound, snapshotted when it started."
      }
    },
    "com.posthog.notebooks#NotebookRunCell": {
      "type": "structure",
      "members": {
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Durable cell identity, the same id the cell run endpoints take.",
            "smithy.api#required": {}
          }
        },
        "cell_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cell kind: 'sql' or 'python'.",
            "smithy.api#required": {}
          }
        },
        "dataframe_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name other cells reference this cell's result by; blank means display-only.",
            "smithy.api#required": {}
          }
        },
        "run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This cell's run in the whole-notebook run; null until the run reaches the cell.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cell's own state: 'running', 'done', 'failed', or 'interrupted'; null before it starts.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why this cell failed, when it did.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookRunStatusResponseCellsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookRunCell"
      },
      "traits": {
        "smithy.api#documentation": "Every planned cell in run order, with the state of its run in this notebook run."
      }
    },
    "com.posthog.notebooks#GetNotebooksRun": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#GetNotebooksRunRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#NotebookRunStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/runs/{run_id}/",
          "code": 200
        },
        "smithy.api#documentation": "Read a whole-notebook run: its state, which cell it is on, and one line per planned cell. Carries no result rows — fetch a cell's result from the cell run result endpoint. Flag-gated (revamped-py-notebooks)."
      }
    },
    "com.posthog.notebooks#CreateNotebooksRunsInterruptRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the whole-notebook run, as returned by the run endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebookRunInterruptResponse": {
      "type": "structure",
      "members": {
        "interrupted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when this call stopped the run. False when it had already finished, which is not an error.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The run's state after the call: 'done', 'failed', or 'interrupted'.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#CreateNotebooksRunsInterrupt": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebooksRunsInterruptRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#NotebookRunInterruptResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/runs/{run_id}/interrupt/",
          "code": 200
        },
        "smithy.api#documentation": "Stop a whole-notebook run and the cell it is on. Idempotent: stopping a run that already finished returns its outcome unchanged. Flag-gated (revamped-py-notebooks)."
      }
    },
    "com.posthog.notebooks#NotebookSQLV2NodeTypeEnum": {
      "type": "enum",
      "members": {
        "HOGQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hogql"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "python"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `hogql` - hogql\n* `python` - python"
      }
    },
    "com.posthog.notebooks#NotebookSQLV2Ref": {
      "type": "structure",
      "members": {
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ProseMirror node id of the upstream node this name points at.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.posthog.notebooks#NotebookSQLV2RefKindEnum",
          "traits": {
            "smithy.api#documentation": "What the name resolves to: 'hogql' is a SQL node's query definition (resolved to its last-run HogQL); 'local' is a dataframe a Python node bound in the kernel namespace.\n\n* `hogql` - hogql\n* `local` - local"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookSQLV2RefKindEnum": {
      "type": "enum",
      "members": {
        "HOGQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hogql"
          }
        },
        "LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "local"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `hogql` - hogql\n* `local` - local"
      }
    },
[...]
