{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.organizations#ListRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#PaginatedOrganizationList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.organizations#PaginatedOrganizationListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#Organization": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "slug": {
          "target": "smithy.api#String"
        },
        "logo_media_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "membership_level": {
          "target": "com.posthog.organizations#OrganizationMembershipLevelEnum"
        },
        "plugins_access_level": {
          "target": "com.posthog.organizations#OrganizationPluginsAccessLevelEnum"
        },
        "teams": {
          "target": "com.posthog.organizations#OrganizationTeamsList"
        },
        "projects": {
          "target": "com.posthog.organizations#OrganizationProjectsList"
        },
        "available_product_features": {
          "target": "com.posthog.organizations#OrganizationAvailableProductFeaturesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_member_join_email_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Legacy field; member-join emails are controlled per user in account notification settings."
          }
        },
        "metadata": {
          "target": "com.posthog.organizations#OrganizationMetadataMap"
        },
        "customer_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_2fa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_verified_domains": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, logins, signups, and invites for this organization are restricted to email addresses on its verified domains.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_invite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_create_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, organization members (below admin) are allowed to create new projects. Admins and owners can always create projects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_use_personal_api_keys": {
          "target": "smithy.api#Boolean"
        },
        "members_can_see_org_members": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When False, members (below admin) only see themselves in the members list and only project members in access control."
          }
        },
        "allow_publicly_shared_resources": {
          "target": "smithy.api#Boolean"
        },
        "read_only_mcp_access": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, requests through the PostHog MCP server can read but not change this organization's data.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "member_notice": {
          "target": "com.posthog.organizations#OrganizationMemberNotice",
          "traits": {
            "smithy.api#documentation": "Notice shown in a banner to every member of the organization. Set to null to remove it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "member_count": {
          "target": "smithy.api#Integer"
        },
        "is_ai_data_processing_approved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_training_opted_in": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, this organization allows its data to be used to train PostHog AI models.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_training_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, the AI training opt-out setting cannot be modified through the UI or API.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_training_cta_shown": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, in-app callouts inviting members to enable AI training are shown.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_signed_baa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the organization has a countersigned Business Associate Agreement on file. When true, AI training stays opted out and cannot be changed."
          }
        },
        "default_anonymize_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Default setting for 'Discard client IP data' for new projects in this organization."
          }
        },
        "default_role_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the role to automatically assign to new members joining the organization",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set this to 'No' to temporarily disable an organization.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_not_active_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "(optional) reason for why the organization has been de-activated. This will be displayed to users on the web app.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_pending_deletion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to True when org deletion has been initiated. Blocks all UI access until the async task completes.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "uses_most_specific_access_resolution": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, access controls resolve with the most specific matching rule. When False, the legacy resolution order applies.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationMembershipLevelEnum": {
      "type": "intEnum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 8
          }
        },
        "_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 15
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `1` - member\n* `8` - administrator\n* `15` - owner"
      }
    },
    "com.posthog.organizations#OrganizationPluginsAccessLevelEnum": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3
          }
        },
        "_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 6
          }
        },
        "_9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 9
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `0` - none\n* `3` - config\n* `6` - install\n* `9` - root"
      }
    },
    "com.posthog.organizations#OrganizationTeamsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationTeamsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#OrganizationTeamsItemMap"
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationProjectsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationProjectsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#OrganizationProjectsItemMap"
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationAvailableProductFeaturesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationMemberNotice": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTML shown in the banner. Supports formatting tags and links (<b>, <strong>, <i>, <em>, <u>, <s>, <code>, <br>, <p>, <span>, <ul>, <ol>, <li>, <a href>). Other tags, styles and scripts are removed.",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.posthog.organizations#OrganizationMemberNoticeAction",
          "traits": {
            "smithy.api#documentation": "Optional link button shown on the right of the banner.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationMemberNoticeAction": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text on the button shown next to the notice.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link the button opens in a new tab. Must use http or https.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#PaginatedOrganizationListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#Organization"
      },
      "traits": {}
    },
    "com.posthog.organizations#List": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#ListRequest"
      },
      "output": {
        "target": "com.posthog.organizations#PaginatedOrganizationList"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#CreateRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "logo_media_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_2fa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_verified_domains": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, logins, signups, and invites for this organization are restricted to email addresses on its verified domains.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_invite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_create_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, organization members (below admin) are allowed to create new projects. Admins and owners can always create projects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_use_personal_api_keys": {
          "target": "smithy.api#Boolean"
        },
        "members_can_see_org_members": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When False, members (below admin) only see themselves in the members list and only project members in access control."
          }
        },
        "allow_publicly_shared_resources": {
          "target": "smithy.api#Boolean"
        },
        "read_only_mcp_access": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, requests through the PostHog MCP server can read but not change this organization's data.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "member_notice": {
          "target": "com.posthog.organizations#OrganizationMemberNotice",
          "traits": {
            "smithy.api#documentation": "Notice shown in a banner to every member of the organization. Set to null to remove it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_data_processing_approved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_training_opted_in": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, this organization allows its data to be used to train PostHog AI models.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_anonymize_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Default setting for 'Discard client IP data' for new projects in this organization."
          }
        },
        "default_role_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the role to automatically assign to new members joining the organization",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#Create": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#CreateRequest"
      },
      "output": {
        "target": "com.posthog.organizations#Organization"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#GetRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#Get": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#GetRequest"
      },
      "output": {
        "target": "com.posthog.organizations#Organization"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#UpdateRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "logo_media_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_2fa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_verified_domains": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, logins, signups, and invites for this organization are restricted to email addresses on its verified domains.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_invite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_create_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, organization members (below admin) are allowed to create new projects. Admins and owners can always create projects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_use_personal_api_keys": {
          "target": "smithy.api#Boolean"
        },
        "members_can_see_org_members": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When False, members (below admin) only see themselves in the members list and only project members in access control."
          }
        },
        "allow_publicly_shared_resources": {
          "target": "smithy.api#Boolean"
        },
        "read_only_mcp_access": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, requests through the PostHog MCP server can read but not change this organization's data.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "member_notice": {
          "target": "com.posthog.organizations#OrganizationMemberNotice",
          "traits": {
            "smithy.api#documentation": "Notice shown in a banner to every member of the organization. Set to null to remove it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_data_processing_approved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_training_opted_in": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, this organization allows its data to be used to train PostHog AI models.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_anonymize_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Default setting for 'Discard client IP data' for new projects in this organization."
          }
        },
        "default_role_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the role to automatically assign to new members joining the organization",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#Update": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#UpdateRequest"
      },
      "output": {
        "target": "com.posthog.organizations#Organization"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/organizations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#UpdatePartialRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "logo_media_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_2fa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_verified_domains": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, logins, signups, and invites for this organization are restricted to email addresses on its verified domains.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_invite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_create_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, organization members (below admin) are allowed to create new projects. Admins and owners can always create projects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_use_personal_api_keys": {
          "target": "smithy.api#Boolean"
        },
        "members_can_see_org_members": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When False, members (below admin) only see themselves in the members list and only project members in access control."
          }
        },
        "allow_publicly_shared_resources": {
          "target": "smithy.api#Boolean"
        },
        "read_only_mcp_access": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, requests through the PostHog MCP server can read but not change this organization's data.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "member_notice": {
          "target": "com.posthog.organizations#OrganizationMemberNotice",
          "traits": {
            "smithy.api#documentation": "Notice shown in a banner to every member of the organization. Set to null to remove it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_data_processing_approved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_training_opted_in": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, this organization allows its data to be used to train PostHog AI models.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_anonymize_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Default setting for 'Discard client IP data' for new projects in this organization."
          }
        },
        "default_role_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the role to automatically assign to new members joining the organization",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#UpdatePartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#UpdatePartialRequest"
      },
      "output": {
        "target": "com.posthog.organizations#Organization"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/organizations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#DestroyRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#Destroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#DestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/organizations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#RemoveBlockedMembersAndEnforceVerifiedDomainsCreateRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#OrganizationRemoveBlockedMembersResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether verified-domain enforcement was turned on.",
            "smithy.api#required": {}
          }
        },
        "removed_members": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many members with an email outside the verified domains were removed from the organization. Owners are never removed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#RemoveBlockedMembersAndEnforceVerifiedDomainsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#RemoveBlockedMembersAndEnforceVerifiedDomainsCreateRequest"
      },
      "output": {
        "target": "com.posthog.organizations#OrganizationRemoveBlockedMembersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{id}/remove_blocked_members_and_enforce_verified_domains/",
          "code": 200
        },
        "smithy.api#documentation": "Remove the members whose email domain is outside the organization's verified domains and turn\n`enforce_verified_domains` on, in one transaction. Owners are never removed; they keep gated\naccess and can disable the setting themselves. Admin only.\n\nUse this only when the caller has confirmed the removals. To turn the setting on without\ntouching memberships, PATCH `enforce_verified_domains` on the organization instead."
      }
    },
    "com.posthog.organizations#CreateRequestAiAccessRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#OrganizationAIAccessRequestResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the access request was accepted and the organization admins were notified.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#CreateRequestAiAccess": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#CreateRequestAiAccessRequest"
      },
      "output": {
        "target": "com.posthog.organizations#OrganizationAIAccessRequestResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{id}/request_ai_access/",
          "code": 200
        },
        "smithy.api#documentation": "Notify organization admins that a member is requesting PostHog AI be enabled."
      }
    },
    "com.posthog.organizations#GetTeamsDataFreshnessRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#OrganizationDataFreshness": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.organizations#OrganizationDataFreshnessResultsList",
          "traits": {
            "smithy.api#documentation": "One entry per project the requesting user can see.",
            "smithy.api#required": {}
          }
        },
        "lookback_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many days back the check looks. Data older than this is not visible to the check.",
            "smithy.api#required": {}
          }
        },
        "quiet_after_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many days without data make a project or source count as quiet.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#DataFreshnessProject": {
      "type": "structure",
      "members": {
        "team_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the project this freshness verdict is for.",
            "smithy.api#required": {}
          }
        },
        "freshness": {
          "target": "com.posthog.organizations#FreshnessEnum",
          "traits": {
            "smithy.api#documentation": "`live` if data of any kind arrived within `quiet_after_days`, `stale` if none did, `never` if the project has never ingested anything at all.\n\n* `never` - never\n* `live` - live\n* `stale` - stale",
            "smithy.api#required": {}
          }
        },
        "last_data_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When data of any kind last reached the project, or null if nothing arrived within the lookback window.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "sources": {
          "target": "com.posthog.organizations#DataFreshnessProjectSourcesList",
          "traits": {
            "smithy.api#documentation": "Per-source breakdown, most recently active first.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#FreshnessEnum": {
      "type": "enum",
      "members": {
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        },
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stale"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `never` - never\n* `live` - live\n* `stale` - stale"
      }
    },
    "com.posthog.organizations#DataFreshnessSource": {
      "type": "structure",
      "members": {
        "data_source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product this timestamp is about, as a `ProductKey` (e.g. `session_replay`, `logs`). Not an enum: products declare their own data sources, so the set grows without an API change.",
            "smithy.api#required": {}
          }
        },
        "last_data_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When data of this kind last reached the project. Only sources with data inside the lookback window are listed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#DataFreshnessProjectSourcesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#DataFreshnessSource"
      },
      "traits": {
        "smithy.api#documentation": "Per-source breakdown, most recently active first."
      }
    },
    "com.posthog.organizations#OrganizationDataFreshnessResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#DataFreshnessProject"
      },
      "traits": {
        "smithy.api#documentation": "One entry per project the requesting user can see."
      }
    },
    "com.posthog.organizations#GetTeamsDataFreshness": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#GetTeamsDataFreshnessRequest"
      },
      "output": {
        "target": "com.posthog.organizations#OrganizationDataFreshness"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{id}/teams/data_freshness/",
          "code": 200
        },
        "smithy.api#documentation": "When each project in the organization last received data, broken down by kind of data."
      }
    },
    "com.posthog.organizations#GetBillingFeatureRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#BillingFeatures": {
      "type": "structure",
      "members": {
        "available_product_features": {
          "target": "com.posthog.organizations#BillingFeaturesAvailableProductFeaturesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#ProductFeature": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_plan_default": {
          "target": "smithy.api#Boolean"
        },
        "entitlement_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingFeaturesAvailableProductFeaturesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#ProductFeature"
      },
      "traits": {}
    },
    "com.posthog.organizations#GetBillingFeature": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#GetBillingFeatureRequest"
      },
      "output": {
        "target": "com.posthog.organizations#BillingFeatures"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/billing/features/",
          "code": 200
        },
        "smithy.api#documentation": "Get the features the organization's plans include\n\nIn beta: the organization billing API is behind the organization-billing-api feature flag and answers 403 without it, so ask support for access. Its shapes may change while it is in beta."
      }
    },
    "com.posthog.organizations#GetBillingForecastRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#BillingForecast": {
      "type": "structure",
      "members": {
        "billing_period": {
          "target": "com.posthog.organizations#BillingPeriod",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "projected_total_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "projected_total_amount_usd_with_limit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "projected_total_amount_usd_after_discount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "projected_total_amount_usd_with_limit_after_discount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "products": {
          "target": "com.posthog.organizations#BillingForecastProductsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "computed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingPeriod": {
      "type": "structure",
      "members": {
        "current_period_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "current_period_end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "interval": {
          "target": "com.posthog.organizations#BillingPeriodIntervalEnum",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingPeriodIntervalEnum": {
      "type": "enum",
      "members": {
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `month` - month\n* `year` - year"
      }
    },
    "com.posthog.organizations#ProductForecast": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.posthog.organizations#CatalogKindEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "usage_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "projected_usage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "projected_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "projected_amount_usd_with_limit": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tier_forecast": {
          "target": "com.posthog.organizations#ProductForecastTierForecastList",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "addons": {
          "target": "com.posthog.organizations#ProductForecastAddonsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#CatalogKindEnum": {
      "type": "enum",
      "members": {
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "ADDON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addon"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `product` - Product\n* `addon` - Addon"
      }
    },
    "com.posthog.organizations#TierForecast": {
      "type": "structure",
      "members": {
        "up_to": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "projected_usage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "projected_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#ProductForecastTierForecastList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#TierForecast"
      },
      "traits": {}
    },
    "com.posthog.organizations#ForecastItem": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.posthog.organizations#CatalogKindEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "usage_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "projected_usage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "projected_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "projected_amount_usd_with_limit": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tier_forecast": {
          "target": "com.posthog.organizations#ForecastItemTierForecastList",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#ForecastItemTierForecastList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#TierForecast"
      },
      "traits": {}
    },
    "com.posthog.organizations#ProductForecastAddonsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#ForecastItem"
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingForecastProductsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#ProductForecast"
      },
      "traits": {}
    },
    "com.posthog.organizations#GetBillingForecast": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#GetBillingForecastRequest"
      },
      "output": {
        "target": "com.posthog.organizations#BillingForecast"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/billing/forecast/",
          "code": 200
        },
        "smithy.api#documentation": "Get the forecast for the rest of the billing period\n\nIn beta: the organization billing API is behind the organization-billing-api feature flag and answers 403 without it, so ask support for access. Its shapes may change while it is in beta."
      }
    },
    "com.posthog.organizations#ListBillingInvoicesRequestStatus": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "PAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paid"
          }
        },
        "UNCOLLECTIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uncollectible"
          }
        },
        "VOID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "void"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#ListBillingInvoicesRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "The cursor from a previous page."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Invoices per page."
          }
        },
        "status": {
          "target": "com.posthog.organizations#ListBillingInvoicesRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Only invoices in this state.\n\n* `open` - open\n* `paid` - paid\n* `uncollectible` - uncollectible\n* `void` - void"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#BillingInvoices": {
      "type": "structure",
      "members": {
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.organizations#BillingInvoicesResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingInvoice": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.posthog.organizations#BillingInvoiceStatusEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "subtotal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "amount_due": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "amount_paid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "period_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "period_end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "due_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingInvoiceStatusEnum": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "PAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paid"
          }
        },
        "UNCOLLECTIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uncollectible"
          }
        },
        "VOID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "void"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `open` - open\n* `paid` - paid\n* `uncollectible` - uncollectible\n* `void` - void"
      }
    },
    "com.posthog.organizations#BillingInvoicesResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#BillingInvoice"
      },
      "traits": {}
    },
    "com.posthog.organizations#ListBillingInvoices": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#ListBillingInvoicesRequest"
      },
      "output": {
        "target": "com.posthog.organizations#BillingInvoices"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/billing/invoices/",
          "code": 200
        },
        "smithy.api#documentation": "List the organization's invoices\n\nIn beta: the organization billing API is behind the organization-billing-api feature flag and answers 403 without it, so ask support for access. Its shapes may change while it is in beta."
      }
    },
    "com.posthog.organizations#GetBillingInvoicesContentRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "invoice_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The invoice's id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#GetBillingInvoicesContent": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#GetBillingInvoicesContentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/billing/invoices/{invoice_id}/content/",
          "code": 200
        },
        "smithy.api#documentation": "Download an invoice as PDF\n\nIn beta: the organization billing API is behind the organization-billing-api feature flag and answers 403 without it, so ask support for access. Its shapes may change while it is in beta."
      }
    },
    "com.posthog.organizations#GetBillingLimitRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#BillingLimits": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.organizations#BillingLimitsResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#ProductLimit": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limit_usd": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_period_limit_usd": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "spend_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "reached": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingLimitsResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#ProductLimit"
      },
      "traits": {}
    },
    "com.posthog.organizations#GetBillingLimit": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#GetBillingLimitRequest"
      },
      "output": {
        "target": "com.posthog.organizations#BillingLimits"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/billing/limits/",
          "code": 200
        },
        "smithy.api#documentation": "Get the organization's spend limits\n\nIn beta: the organization billing API is behind the organization-billing-api feature flag and answers 403 without it, so ask support for access. Its shapes may change while it is in beta."
      }
    },
    "com.posthog.organizations#ListBillingProductsRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "include_plans": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_plans",
            "smithy.api#documentation": "Add the `plans` list to each product and add-on. Most of the payload."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#BillingProducts": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.organizations#BillingProductsResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingProduct": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.posthog.organizations#CatalogKindEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "usage_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "price_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "icon_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "docs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "subscribed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "inclusion_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contact_support": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "legacy_product": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "free_allocation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "usage_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_decimals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_divisor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tiered": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unit_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tiers": {
          "target": "com.posthog.organizations#BillingProductTiersList",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "plans": {
          "target": "com.posthog.organizations#BillingProductPlansList"
        },
        "features": {
          "target": "com.posthog.organizations#BillingProductFeaturesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trial": {
          "target": "com.posthog.organizations#ProductTrialConfig",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "headline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "screenshot_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "addons": {
          "target": "com.posthog.organizations#BillingProductAddonsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#PriceTier": {
      "type": "structure",
      "members": {
        "flat_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unit_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "up_to": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingProductTiersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#PriceTier"
      },
      "traits": {}
    },
    "com.posthog.organizations#ProductPlan": {
      "type": "structure",
      "members": {
        "product_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "plan_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "docs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "flat_rate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tiers": {
          "target": "com.posthog.organizations#ProductPlanTiersList",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "free_allocation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "features": {
          "target": "com.posthog.organizations#ProductPlanFeaturesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "included_if": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "contact_support": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "unit_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "current_plan": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "initial_billing_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#ProductPlanTiersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#PriceTier"
      },
      "traits": {}
    },
    "com.posthog.organizations#ProductPlanFeaturesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#ProductFeature"
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingProductPlansList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#ProductPlan"
      },
      "traits": {}
    },
    "com.posthog.organizations#ProductBaseFeature": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "images": {
          "target": "smithy.api#Document"
        },
        "icon_key": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingProductFeaturesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#ProductBaseFeature"
      },
      "traits": {}
    },
    "com.posthog.organizations#ProductTrialConfig": {
      "type": "structure",
      "members": {
        "length": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingAddon": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.posthog.organizations#CatalogKindEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "usage_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "price_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "icon_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "docs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "subscribed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "inclusion_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contact_support": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "legacy_product": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "free_allocation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "usage_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_decimals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_divisor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tiered": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unit_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tiers": {
          "target": "com.posthog.organizations#BillingAddonTiersList",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "plans": {
          "target": "com.posthog.organizations#BillingAddonPlansList"
        },
        "features": {
          "target": "com.posthog.organizations#BillingAddonFeaturesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trial": {
          "target": "com.posthog.organizations#ProductTrialConfig",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "included_with_main_product": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "included_if": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_unit_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingAddonTiersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#PriceTier"
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingAddonPlansList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#ProductPlan"
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingAddonFeaturesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#ProductBaseFeature"
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingProductAddonsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#BillingAddon"
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingProductsResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#BillingProduct"
      },
      "traits": {}
    },
    "com.posthog.organizations#ListBillingProducts": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#ListBillingProductsRequest"
      },
      "output": {
        "target": "com.posthog.organizations#BillingProducts"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/billing/products/",
          "code": 200
        },
        "smithy.api#documentation": "List the organization's products\n\nIn beta: the organization billing API is behind the organization-billing-api feature flag and answers 403 without it, so ask support for access. Its shapes may change while it is in beta."
      }
    },
    "com.posthog.organizations#GetBillingProductRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "product_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The product's key."
          }
        },
        "include_plans": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_plans",
            "smithy.api#documentation": "Add the `plans` list to each product and add-on. Most of the payload."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#GetBillingProduct": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#GetBillingProductRequest"
      },
      "output": {
        "target": "com.posthog.organizations#BillingProduct"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/billing/products/{product_key}/",
          "code": 200
        },
        "smithy.api#documentation": "Get one product\n\nIn beta: the organization billing API is behind the organization-billing-api feature flag and answers 403 without it, so ask support for access. Its shapes may change while it is in beta."
      }
    },
    "com.posthog.organizations#GetBillingProductsSummaryRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#BillingProductsSummary": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.organizations#BillingProductsSummaryResultsList",
          "traits": {
            "smithy.api#documentation": "Every product, add-ons included.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingProductsSummaryProduct": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product key. Pass it to the product route for prices and plans.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product name, as the billing page shows it.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What the product does.",
            "smithy.api#required": {}
          }
        },
        "subscribed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the organization subscribes to the product. Null for an inclusion-only product that carries no price of its own, such as Platform and support, where the plan the organization is on is what counts.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "addons": {
          "target": "com.posthog.organizations#BillingProductsSummaryProductAddonsList",
          "traits": {
            "smithy.api#documentation": "The product's add-ons.",
            "smithy.api#required": {}
          }
        },
        "features": {
          "target": "com.posthog.organizations#BillingProductsSummaryProductFeaturesList",
          "traits": {
            "smithy.api#documentation": "The features the product and its add-ons carry, each one listed once.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingProductsSummaryAddon": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The add-on key.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The add-on name, as the billing page shows it.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What the add-on does.",
            "smithy.api#required": {}
          }
        },
        "subscribed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the organization subscribes to the add-on.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingProductsSummaryProductAddonsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#BillingProductsSummaryAddon"
      },
      "traits": {
        "smithy.api#documentation": "The product's add-ons."
      }
    },
    "com.posthog.organizations#BillingProductsSummaryFeature": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The feature key.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The feature name, as the billing page shows it.",
            "smithy.api#required": {}
          }
        },
        "included": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the feature is available to the organization, trials and overrides included.",
            "smithy.api#required": {}
          }
        },
        "addon_keys": {
          "target": "com.posthog.organizations#BillingProductsSummaryFeatureAddonKeysList",
          "traits": {
            "smithy.api#documentation": "The add-ons of this product that carry the feature. Empty when only the product carries it.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingProductsSummaryFeatureAddonKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The add-ons of this product that carry the feature. Empty when only the product carries it."
      }
    },
    "com.posthog.organizations#BillingProductsSummaryProductFeaturesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#BillingProductsSummaryFeature"
      },
      "traits": {
        "smithy.api#documentation": "The features the product and its add-ons carry, each one listed once."
      }
    },
    "com.posthog.organizations#BillingProductsSummaryResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#BillingProductsSummaryProduct"
      },
      "traits": {
        "smithy.api#documentation": "Every product, add-ons included."
      }
    },
    "com.posthog.organizations#GetBillingProductsSummary": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#GetBillingProductsSummaryRequest"
      },
      "output": {
        "target": "com.posthog.organizations#BillingProductsSummary"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/billing/products/summary/",
          "code": 200
        },
        "smithy.api#documentation": "Get every product in summary\n\nIn beta: the organization billing API is behind the organization-billing-api feature flag and answers 403 without it, so ask support for access. Its shapes may change while it is in beta."
      }
    },
    "com.posthog.organizations#ListBillingProjectRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#BillingProjects": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.organizations#BillingProjectsResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project's name, or null when the organization deleted the project after it reported usage.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingProjectsResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#BillingProject"
      },
      "traits": {}
    },
    "com.posthog.organizations#ListBillingProject": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#ListBillingProjectRequest"
      },
      "output": {
        "target": "com.posthog.organizations#BillingProjects"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/billing/projects/",
          "code": 200
        },
        "smithy.api#documentation": "List the projects with usage\n\nIn beta: the organization billing API is behind the organization-billing-api feature flag and answers 403 without it, so ask support for access. Its shapes may change while it is in beta. Every project the organization has reported usage for, deleted ones included, so a caller knows which ids a project breakdown or a team_ids filter can name. Below full billing access the list is the projects the caller can see."
      }
    },
    "com.posthog.organizations#GetBillingSpendSummaryRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#BillingSpendSummary": {
      "type": "structure",
      "members": {
        "billing_period": {
          "target": "com.posthog.organizations#BillingPeriod",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "usage_reported_through": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "current_total_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "current_total_amount_usd_after_discount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "products": {
          "target": "com.posthog.organizations#BillingSpendSummaryProductsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#ProductSpend": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.posthog.organizations#CatalogKindEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "usage_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "current_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "current_amount_usd_before_addons": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tier_spend": {
          "target": "com.posthog.organizations#ProductSpendTierSpendList",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "addons": {
          "target": "com.posthog.organizations#ProductSpendAddonsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#TierSpend": {
      "type": "structure",
      "members": {
        "up_to": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "current_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#ProductSpendTierSpendList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#TierSpend"
      },
      "traits": {}
    },
    "com.posthog.organizations#SpendItem": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.posthog.organizations#CatalogKindEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "usage_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "current_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "current_amount_usd_before_addons": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tier_spend": {
          "target": "com.posthog.organizations#SpendItemTierSpendList",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#SpendItemTierSpendList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#TierSpend"
      },
      "traits": {}
    },
    "com.posthog.organizations#ProductSpendAddonsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#SpendItem"
      },
      "traits": {}
    },
    "com.posthog.organizations#BillingSpendSummaryProductsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#ProductSpend"
      },
      "traits": {}
    },
    "com.posthog.organizations#GetBillingSpendSummary": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#GetBillingSpendSummaryRequest"
      },
      "output": {
        "target": "com.posthog.organizations#BillingSpendSummary"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/billing/spend/",
          "code": 200
        },
        "smithy.api#documentation": "Get spend so far this billing period\n\nIn beta: the organization billing API is behind the organization-billing-api feature flag and answers 403 without it, so ask support for access. Its shapes may change while it is in beta."
      }
    },
    "com.posthog.organizations#BillingSpendExportDownloadRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
[...]
