{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.platform_alerts#ListPlatformAlertsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.platform_alerts#PaginatedPlatformAlertConfigurationList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.platform_alerts#PaginatedPlatformAlertConfigurationListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.platform_alerts#PlatformAlertConfiguration": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the alert configuration.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the alert.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert is evaluated on schedule.",
            "smithy.api#required": {}
          }
        },
        "source_kind": {
          "target": "com.posthog.platform_alerts#PlatformAlertConfigurationSourceKindEnum",
          "traits": {
            "smithy.api#documentation": "Product whose data the alert evaluates.\n\n* `logs` - Logs",
            "smithy.api#required": {}
          }
        },
        "source_config": {
          "target": "com.posthog.platform_alerts#PlatformAlertConfigurationSourceConfigMap",
          "traits": {
            "smithy.api#documentation": "Source-specific query settings. The shape depends on source_kind.",
            "smithy.api#required": {}
          }
        },
        "threshold_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count the evaluated value is compared against.",
            "smithy.api#required": {}
          }
        },
        "threshold_operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comparison operator applied between the value and threshold_count.",
            "smithy.api#required": {}
          }
        },
        "window_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Length of the evaluated time window, in minutes.",
            "smithy.api#required": {}
          }
        },
        "check_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes between scheduled checks. Applies when recurrence_unit is null.",
            "smithy.api#required": {}
          }
        },
        "recurrence_unit": {
          "target": "com.posthog.platform_alerts#CalendarUnitEnum",
          "traits": {
            "smithy.api#documentation": "Calendar unit the alert recurs on. Null means it recurs on check_interval_minutes.\n\n* `day` - Day\n* `week` - Week\n* `month` - Month",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "anchor_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Local time (HH:MM in the project timezone) a calendar recurrence lands on. Null means the default anchor for the unit.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "evaluation_periods": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of recent checks considered when deciding to fire.",
            "smithy.api#required": {}
          }
        },
        "datapoints_to_alarm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of breaching checks within evaluation_periods required to fire.",
            "smithy.api#required": {}
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum minutes between notifications for the same alert.",
            "smithy.api#required": {}
          }
        },
        "schedule_restriction": {
          "target": "com.posthog.platform_alerts#AlertScheduleRestriction",
          "traits": {
            "smithy.api#documentation": "Blocked local time windows (HH:MM in the project timezone) when the alert does not run. Null means no quiet hours.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_check_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the next check is due. Null when no check is scheduled.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "consecutive_failures": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of checks in a row that failed to evaluate.",
            "smithy.api#required": {}
          }
        },
        "legacy_configuration_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the legacy source configuration this row was backfilled from. Null for alerts created on the platform.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the configuration was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the configuration was last changed.",
            "smithy.api#required": {}
          }
        },
        "alerts": {
          "target": "com.posthog.platform_alerts#PlatformAlertConfigurationAlertsList",
          "traits": {
            "smithy.api#documentation": "Runtime state for each result group of this configuration.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.platform_alerts#PlatformAlertConfigurationSourceKindEnum": {
      "type": "enum",
      "members": {
        "LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "logs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `logs` - Logs"
      }
    },
    "com.posthog.platform_alerts#PlatformAlertConfigurationSourceConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Source-specific query settings. The shape depends on source_kind."
      }
    },
    "com.posthog.platform_alerts#CalendarUnitEnum": {
      "type": "enum",
      "members": {
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `day` - Day\n* `week` - Week\n* `month` - Month"
      }
    },
    "com.posthog.platform_alerts#AlertScheduleRestriction": {
      "type": "structure",
      "members": {
        "blocked_windows": {
          "target": "com.posthog.platform_alerts#AlertScheduleRestrictionBlockedWindowsList",
          "traits": {
            "smithy.api#documentation": "Blocked local time windows when the alert must not run. Overlapping or identical windows are merged when saved. At most five windows before normalization; empty array clears quiet hours."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.platform_alerts#AlertScheduleRestrictionWindow": {
      "type": "structure",
      "members": {
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time HH:MM (24-hour, project timezone). Inclusive. Each window must span ≥ 30 minutes on the local daily timeline (half-open [start, end))."
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time HH:MM (24-hour). Exclusive (half-open interval). Each window must span ≥ 30 minutes locally."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.platform_alerts#AlertScheduleRestrictionBlockedWindowsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.platform_alerts#AlertScheduleRestrictionWindow"
      },
      "traits": {
        "smithy.api#documentation": "Blocked local time windows when the alert must not run. Overlapping or identical windows are merged when saved. At most five windows before normalization; empty array clears quiet hours."
      }
    },
    "com.posthog.platform_alerts#PlatformAlert": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of this alert instance.",
            "smithy.api#required": {}
          }
        },
        "grouping_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key of the result group this instance tracks. Empty when the source does not group results.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.posthog.platform_alerts#BillingAlertConfigurationStateEnum",
          "traits": {
            "smithy.api#documentation": "Current state of this alert instance.\n\n* `not_firing` - Not firing\n* `firing` - Firing\n* `errored` - Errored\n* `snoozed` - Snoozed\n* `broken` - Broken",
            "smithy.api#required": {}
          }
        },
        "firing_started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the current firing started. Null when the instance is not firing.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_notified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When a notification was last sent for this instance.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "snooze_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time until which notifications are snoozed. Null when not snoozed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.platform_alerts#BillingAlertConfigurationStateEnum": {
      "type": "enum",
      "members": {
        "NOT_FIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_firing"
          }
        },
        "FIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firing"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errored"
          }
        },
        "SNOOZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snoozed"
          }
        },
        "BROKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "broken"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `not_firing` - Not firing\n* `firing` - Firing\n* `errored` - Errored\n* `snoozed` - Snoozed\n* `broken` - Broken"
      }
    },
    "com.posthog.platform_alerts#PlatformAlertConfigurationAlertsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.platform_alerts#PlatformAlert"
      },
      "traits": {
        "smithy.api#documentation": "Runtime state for each result group of this configuration."
      }
    },
    "com.posthog.platform_alerts#PaginatedPlatformAlertConfigurationListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.platform_alerts#PlatformAlertConfiguration"
      },
      "traits": {}
    },
    "com.posthog.platform_alerts#ListPlatformAlerts": {
      "type": "operation",
      "input": {
        "target": "com.posthog.platform_alerts#ListPlatformAlertsRequest"
      },
      "output": {
        "target": "com.posthog.platform_alerts#PaginatedPlatformAlertConfigurationList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/platform_alerts/",
          "code": 200
        }
      }
    },
    "com.posthog.platform_alerts#GetPlatformAlertRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.platform_alerts#GetPlatformAlert": {
      "type": "operation",
      "input": {
        "target": "com.posthog.platform_alerts#GetPlatformAlertRequest"
      },
      "output": {
        "target": "com.posthog.platform_alerts#PlatformAlertConfiguration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/platform_alerts/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.platform_alerts#PlatformAlerts": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.platform_alerts#ListPlatformAlerts"
        },
        {
          "target": "com.posthog.platform_alerts#GetPlatformAlert"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
