{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.signals#ListSignalsConfigRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalTeamConfig": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "autostart_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Master switch for autonomous inbox PRs. Null (never set) leaves autostart on; set false to opt out, so actionable reports still generate and notify but the team never auto-starts an implementation task or opens a PR — reviewers open PRs manually.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_autostart_priority": {
          "target": "com.posthog.signals#AutonomyPriorityEnum"
        },
        "default_slack_notification_channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default Slack channel for this team's signal inbox notifications, in the same `channel_id|#channel-name` shape PostHog uses elsewhere (only the channel id is required). Null means no team-level default; per-user channels still apply.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "autostart_base_branches": {
          "target": "com.posthog.signals#SignalTeamConfigAutostartBaseBranchesMap",
          "traits": {
            "smithy.api#documentation": "Per-repository base branch overrides for auto-started inbox PRs, keyed by 'organization/repository'. The branch is what the auto-PR targets; omit a repo (or send {}) to keep targeting the repo default branch."
          }
        },
        "issue_tracking_integration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Connected GitHub, GitLab, Linear, or Jira integration that self-driving opens a tracker issue in for each pull request it makes. Null turns tracker issues off, which is the default.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "issue_tracking_config": {
          "target": "com.posthog.signals#SignalTeamConfigIssueTrackingConfigMap",
          "traits": {
            "smithy.api#documentation": "Where in the tracker the issues land. Required keys depend on the integration kind: github -> {repository}; linear -> {team_id}; jira -> {project_key}; gitlab needs none, because its integration is already bound to one project. An optional 'label' is applied to created GitHub issues."
          }
        },
        "max_reports_per_day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Daily cap on new reports surfacing to the inbox, counted per calendar day in the project's timezone. Once reached, signal ingestion, scout runs, and report research pause until local midnight. Null means unlimited.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_open_pull_request_ready": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether self-driving pull requests open ready for review instead of draft, so the full CI matrix starts when the pull request is created. False by default. A reviewer's own github_open_pull_request_ready overrides this for reports that suggest them as reviewer."
          }
        },
        "github_issue_writeback_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether self-driving comments back on a GitHub issue that raised a report, linking to the report so everybody watching the issue knows it is being researched. The comment is public on the issue thread and carries a link only, never report content. False by default. Needs a GitHub integration that can reach the issue's repository."
          }
        },
        "pull_request_label_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether self-driving adds a label to every pull request it opens, so GitHub search, saved searches, and notification rules can separate them from other automation on the repository. False by default. Needs a GitHub integration that can reach the repository."
          }
        },
        "pull_request_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label name self-driving applies, at most 50 characters. Null or blank means 'self-driving'. The label is created in the repository when it does not exist yet. Only used while pull_request_label_enabled is true.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "reports_generated_today": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many reports first became visible in the inbox during the current project-timezone day. This is the count the daily report limit compares against.",
            "smithy.api#required": {}
          }
        },
        "daily_report_limit_reached": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the team hit its daily report limit, pausing new report generation until local midnight. Always false when max_reports_per_day is null.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#AutonomyPriorityEnum": {
      "type": "enum",
      "members": {
        "P0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P0"
          }
        },
        "P1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P1"
          }
        },
        "P2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P2"
          }
        },
        "P3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P3"
          }
        },
        "P4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P4"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `P0` - P0\n* `P1` - P1\n* `P2` - P2\n* `P3` - P3\n* `P4` - P4"
      }
    },
    "com.posthog.signals#SignalTeamConfigAutostartBaseBranchesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Per-repository base branch overrides for auto-started inbox PRs, keyed by 'organization/repository'. The branch is what the auto-PR targets; omit a repo (or send {}) to keep targeting the repo default branch."
      }
    },
    "com.posthog.signals#SignalTeamConfigIssueTrackingConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Where in the tracker the issues land. Required keys depend on the integration kind: github -> {repository}; linear -> {team_id}; jira -> {project_key}; gitlab needs none, because its integration is already bound to one project. An optional 'label' is applied to created GitHub issues."
      }
    },
    "com.posthog.signals#ListSignalsConfig": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#ListSignalsConfigRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalTeamConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/config/",
          "code": 200
        },
        "smithy.api#documentation": "Read the project's signals config\n\nTeam-level signal autonomy config (singleton per team).\n\nGET  /signals/config/  → retrieve\nPOST /signals/config/  → update"
      }
    },
    "com.posthog.signals#CreateSignalsConfigRequestAutostartBaseBranchesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Per-repository base branch overrides for auto-started inbox PRs, keyed by 'organization/repository'. The branch is what the auto-PR targets; omit a repo (or send {}) to keep targeting the repo default branch."
      }
    },
    "com.posthog.signals#CreateSignalsConfigRequestIssueTrackingConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Where in the tracker the issues land. Required keys depend on the integration kind: github -> {repository}; linear -> {team_id}; jira -> {project_key}; gitlab needs none, because its integration is already bound to one project. An optional 'label' is applied to created GitHub issues."
      }
    },
    "com.posthog.signals#CreateSignalsConfigRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "autostart_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Master switch for autonomous inbox PRs. Null (never set) leaves autostart on; set false to opt out, so actionable reports still generate and notify but the team never auto-starts an implementation task or opens a PR — reviewers open PRs manually.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_autostart_priority": {
          "target": "com.posthog.signals#AutonomyPriorityEnum"
        },
        "default_slack_notification_channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default Slack channel for this team's signal inbox notifications, in the same `channel_id|#channel-name` shape PostHog uses elsewhere (only the channel id is required). Null means no team-level default; per-user channels still apply.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "autostart_base_branches": {
          "target": "com.posthog.signals#CreateSignalsConfigRequestAutostartBaseBranchesMap",
          "traits": {
            "smithy.api#documentation": "Per-repository base branch overrides for auto-started inbox PRs, keyed by 'organization/repository'. The branch is what the auto-PR targets; omit a repo (or send {}) to keep targeting the repo default branch."
          }
        },
        "issue_tracking_integration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Connected GitHub, GitLab, Linear, or Jira integration that self-driving opens a tracker issue in for each pull request it makes. Null turns tracker issues off, which is the default.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "issue_tracking_config": {
          "target": "com.posthog.signals#CreateSignalsConfigRequestIssueTrackingConfigMap",
          "traits": {
            "smithy.api#documentation": "Where in the tracker the issues land. Required keys depend on the integration kind: github -> {repository}; linear -> {team_id}; jira -> {project_key}; gitlab needs none, because its integration is already bound to one project. An optional 'label' is applied to created GitHub issues."
          }
        },
        "max_reports_per_day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Daily cap on new reports surfacing to the inbox, counted per calendar day in the project's timezone. Once reached, signal ingestion, scout runs, and report research pause until local midnight. Null means unlimited.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_open_pull_request_ready": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether self-driving pull requests open ready for review instead of draft, so the full CI matrix starts when the pull request is created. False by default. A reviewer's own github_open_pull_request_ready overrides this for reports that suggest them as reviewer."
          }
        },
        "github_issue_writeback_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether self-driving comments back on a GitHub issue that raised a report, linking to the report so everybody watching the issue knows it is being researched. The comment is public on the issue thread and carries a link only, never report content. False by default. Needs a GitHub integration that can reach the issue's repository."
          }
        },
        "pull_request_label_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether self-driving adds a label to every pull request it opens, so GitHub search, saved searches, and notification rules can separate them from other automation on the repository. False by default. Needs a GitHub integration that can reach the repository."
          }
        },
        "pull_request_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label name self-driving applies, at most 50 characters. Null or blank means 'self-driving'. The label is created in the repository when it does not exist yet. Only used while pull_request_label_enabled is true.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#CreateSignalsConfig": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#CreateSignalsConfigRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalTeamConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/signals/config/",
          "code": 200
        },
        "smithy.api#documentation": "Update the project's signals config\n\nPartial update of the per-project singleton. Omitted fields keep their value."
      }
    },
    "com.posthog.signals#ListSignalsProcessingRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#PaginatedPauseStateResponseList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.signals#PaginatedPauseStateResponseListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.signals#PauseStateResponse": {
      "type": "structure",
      "members": {
        "paused_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp the pipeline is paused until, or null if not paused/not running.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#PaginatedPauseStateResponseListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#PauseStateResponse"
      },
      "traits": {}
    },
    "com.posthog.signals#ListSignalsProcessing": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#ListSignalsProcessingRequest"
      },
      "output": {
        "target": "com.posthog.signals#PaginatedPauseStateResponseList"
      },
      "errors": [
        {
          "target": "com.posthog.signals#BadRequest"
        },
        {
          "target": "com.posthog.signals#Forbidden"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/processing/",
          "code": 200
        },
        "smithy.api#documentation": "Return current processing state including pause status."
      }
    },
    "com.posthog.signals#UpdateSignalsProcessingPauseRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pause the grouping pipeline until this timestamp (ISO 8601)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#PauseResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always 'paused'."
          }
        },
        "paused_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp the pipeline is paused until."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#UpdateSignalsProcessingPause": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#UpdateSignalsProcessingPauseRequest"
      },
      "output": {
        "target": "com.posthog.signals#PauseResponse"
      },
      "errors": [
        {
          "target": "com.posthog.signals#BadRequest"
        },
        {
          "target": "com.posthog.signals#Forbidden"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/signals/processing/pause/",
          "code": 200
        },
        "smithy.api#documentation": "View and control signal processing pipeline state for a team."
      }
    },
    "com.posthog.signals#PauseSignalsProcessingDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#PauseSignalsProcessingDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#PauseSignalsProcessingDestroyRequest"
      },
      "output": {
        "target": "com.posthog.signals#PauseResponse"
      },
      "errors": [
        {
          "target": "com.posthog.signals#Forbidden"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/signals/processing/pause/",
          "code": 200
        },
        "smithy.api#documentation": "View and control signal processing pipeline state for a team."
      }
    },
    "com.posthog.signals#ListSignalsReportsRequestAssignee": {
      "type": "enum",
      "members": {
        "ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "me"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#ListSignalsReportsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "actionability": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "actionability",
            "smithy.api#documentation": "Comma-separated actionability judgments to include. Valid values: immediately_actionable, requires_human_input, not_actionable. Reports without a judgment are excluded."
          }
        },
        "already_addressed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "already_addressed",
            "smithy.api#documentation": "Filter by whether the latest actionability judgment says the issue is already being handled. False also includes older reports where that judgment did not record a value."
          }
        },
        "assignee": {
          "target": "com.posthog.signals#ListSignalsReportsRequestAssignee",
          "traits": {
            "smithy.api#httpQuery": "assignee",
            "smithy.api#documentation": "Use 'me' to return reports claimed by the current user, task, or MCP agent."
          }
        },
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "channel_id",
            "smithy.api#documentation": "Narrow to reports assigned to one space (channel). Absent or empty means all reports regardless of assignment."
          }
        },
        "count_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "count_only",
            "smithy.api#documentation": "Return the filtered total with an empty results page. Skips report ordering, serialization, and decorative metadata lookups. Defaults to false."
          }
        },
        "created_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_after",
            "smithy.api#documentation": "ISO 8601 datetime. Keeps reports created at or after this time."
          }
        },
        "has_implementation_pr": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "has_implementation_pr",
            "smithy.api#documentation": "Filter reports by whether an implementation pull request is attached. 'true' keeps only reports with a PR; 'false' keeps only those without. Pair with count_only=true to return only the filtered total."
          }
        },
        "include_all_statuses": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_all_statuses",
            "smithy.api#documentation": "When true, the list includes reports in every status with no default exclusions applied — currently that adds suppressed (dismissed) reports, which are otherwise hidden. Use it to see the full inbox state (e.g. deduplicating before creating a report) and read each row's status (plus dismissal_reason/dismissal_note on dismissed rows) before acting. Deleted reports are terminal and never returned. Defaults to false, which keeps the existing default exclusions. Ignored when an explicit 'status' filter is set — that filter alone decides which statuses are returned."
          }
        },
        "include_source_metadata": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_source_metadata",
            "smithy.api#documentation": "Fill `source_products` and `scout_name` on each row. These come from ClickHouse, so pass false to skip that lookup and get the page from Postgres only: rows then carry an empty `source_products` and a null `scout_name`. Load them after with `source_metadata`. Defaults to true."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "ordering": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ordering",
            "smithy.api#documentation": "Comma-separated ordering clauses. Each clause is a field name optionally prefixed with '-' for descending. Allowed fields: status, is_suggested_reviewer, signal_count, total_weight, priority, created_at, updated_at, id, ranking_pr_merged, ranking_pr_created, ranking_action, ranking_open. Defaults to '-is_suggested_reviewer,status,-updated_at'. The ranking_* fields sort by the served ranking model's probability for that outcome head, with unscored reports last in either direction. They are staff only: other users get a 400."
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "priority",
            "smithy.api#documentation": "Comma-separated list of priorities to include. Valid values: P0, P1, P2, P3, P4. Reports without a priority assignment are excluded when this filter is set."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "scope",
            "smithy.api#documentation": "Reviewer scope: for_me, entire_project, or teammate. Pass teammate_uuid with teammate."
          }
        },
        "scout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "scout",
            "smithy.api#documentation": "Comma-separated list of scout skill_name slugs (e.g. signals-scout-error-tracking). Reports are kept if at least one of their contributing signals was authored by one of these scouts. Combines with source_product as an AND."
          }
        },
        "scout_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "scout_prefix",
            "smithy.api#documentation": "Scout skill_name prefix (e.g. signals-scout-customer-analytics). Reports are kept if at least one of their contributing signals was authored by a scout whose skill_name starts with this prefix — new scouts in the family match without callers listing every name. Combines with the other filters as an AND."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Case-insensitive substring match against report title and summary."
          }
        },
        "sort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Inbox sort preset: priority, last_updated, newest, or oldest. Ignored when ordering is supplied."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Comma-separated list of source record ids. Reports are kept if at least one of their contributing signals came from one of these records — e.g. pass a support ticket's UUID to see what the inbox already found for that ticket. Requires exactly one source_product, since a source id is only unique within its product."
          }
        },
        "source_product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_product",
            "smithy.api#documentation": "Comma-separated list of source products to include. Reports are kept if at least one of their contributing signals comes from one of these products (e.g. error_tracking, session_replay)."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Comma-separated list of statuses to include. Valid values: potential, candidate, in_progress, pending_input, ready, resolved, failed, suppressed. Defaults to all statuses except suppressed."
          }
        },
        "suggested_reviewers": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "suggested_reviewers",
            "smithy.api#documentation": "Comma-separated list of PostHog user UUIDs. Reports are kept if their suggested reviewers include any of the given users."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "task_id",
            "smithy.api#documentation": "Only reports associated with this task (via the report's task associations)."
          }
        },
        "teammate_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teammate_uuid",
            "smithy.api#documentation": "PostHog user UUID used when scope=teammate."
          }
        },
        "unclaimed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "unclaimed",
            "smithy.api#documentation": "Filter by whether the report has no owner and no draft, open, or unknown PR. Resolved reports are never unclaimed."
          }
        },
        "unread": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "unread",
            "smithy.api#documentation": "Filter by the current user's report read state."
          }
        },
        "use_priority_preference": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "use_priority_preference",
            "smithy.api#documentation": "When true and priority is omitted, include priorities at or above the requesting user's personal PR-generation threshold, falling back to the project threshold."
          }
        },
        "view": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "view",
            "smithy.api#documentation": "Apply an inbox view: actionable, needs_input, needs_decision, monitoring, resolved, dismissed, not_actionable, or all. Each view applies the corresponding status, actionability, and implementation-PR filters. needs_decision also includes failed reports without a judgment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#PaginatedSignalReportListList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.signals#PaginatedSignalReportListListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportList": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "summary_lead": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The opening of `summary` as plain text on one line: the text before its first section heading, with chart links removed and other links reduced to their text. At most 450 characters.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.signals#SignalReportStatusEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "signal_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "signals_at_run": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "collapsed_note_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many scout notes this report received beyond the few its work log keeps as entries. 0 when nothing was dropped. These say the finding still holds, so the count is shown in place of the entries.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "artefact_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "charts": {
          "target": "com.posthog.signals#SignalReportListChartsList",
          "traits": {
            "smithy.api#documentation": "Charts the report shows, in the order they were written. The summary places one with a `[label](chart:<chart_id>)` link; the rest render below it.",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.posthog.signals#SignalReportListMetricsList",
          "traits": {
            "smithy.api#documentation": "Snapshot-only impact measurements for inbox rows. Live query definitions and authored comparisons are available from the report detail endpoint.",
            "smithy.api#required": {}
          }
        },
        "suggested_prompts": {
          "target": "com.posthog.signals#SignalReportListSuggestedPromptsList",
          "traits": {
            "smithy.api#documentation": "Follow-up prompts the report's author suggests sending about it (questions to ask, or next-step actions to request), in the order they were written. The inbox offers them above the `Ask AI` box; clicking one fills the box with it.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "P0–P4 from the latest priority judgment artefact (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "actionability": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Actionability choice from the latest actionability judgment artefact (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "already_addressed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the issue is already being handled — fixed in recent changes, or with a fix in flight (an open PR, a recently active branch, an assigned / in-progress issue or agent task) — from the actionability judgment artefact.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissal_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason code from the latest dismissal artefact, set when the report was suppressed (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissal_note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form note captured alongside the dismissal reason (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "repo_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`organization/repository` the report's work targets, from the latest repo-selection artefact (when present). Lets list cards show repository context without a per-card fetch.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_suggested_reviewer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source_products": {
          "target": "com.posthog.signals#SignalReportListSourceProductsList",
          "traits": {
            "smithy.api#documentation": "Distinct source products contributing signals to this report (from ClickHouse).",
            "smithy.api#required": {}
          }
        },
        "scout_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "skill_name slug of the scout that authored this report, when scout-authored (from ClickHouse); null otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "implementation_pr_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request attached to this report's claim, if available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "pull_requests": {
          "target": "com.posthog.signals#SignalReportListPullRequestsList",
          "traits": {
            "smithy.api#documentation": "All distinct PRs linked to this report across work attempts.",
            "smithy.api#required": {}
          }
        },
        "implementation_pr_state": {
          "target": "com.posthog.signals#SignalReportAssignmentPrStateEnum",
          "traits": {
            "smithy.api#documentation": "Latest known pull request state: unknown, draft, open, closed, or merged.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "implementation_pr_merged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether that implementation PR is merged, per the GitHub webhook. False when there is no PR or it hasn't merged. Report status doesn't imply this: a resolved report may have been resolved directly, without a merged PR.",
            "smithy.api#required": {}
          }
        },
        "tracker_issue_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the issue self-driving opened in the team's tracker for this report's pull request. Null when the team tracks no issues, or the issue could not be opened.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tracker_issue_reference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How that tracker issue reads in its provider, for example '#12' or 'ENG-123'. Null when there is no tracker issue.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tracker_issue_error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the tracker issue could not be opened, for a team that wants one. Null when the issue exists or the team tracks no issues.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "work_state": {
          "target": "com.posthog.signals#SignalReportWorkStateEnum",
          "traits": {
            "smithy.api#documentation": "Derived remediation state: unclaimed, working, in_review, or done.",
            "smithy.api#required": {}
          }
        },
        "assignee": {
          "target": "com.posthog.signals#SignalReportAssignee",
          "traits": {
            "smithy.api#documentation": "Current user, internal task, or external agent claim owner. Null when unclaimed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "refund": {
          "target": "com.posthog.signals#SignalReportRefund",
          "traits": {
            "smithy.api#documentation": "The report's PR refund, when one exists. One refund per report, ever.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "refund_ineligibility_reason": {
          "target": "com.posthog.signals#RefundIneligibilityReasonEnum",
          "traits": {
            "smithy.api#documentation": "Why refunding this report's PR would be rejected right now, or null when a refund would be accepted (see the field's schema for the reason values).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "billing_exempt_reason": {
          "target": "com.posthog.signals#SignalReportBillingExemptReasonEnum",
          "traits": {
            "smithy.api#documentation": "Non-null when this report is system-marked never-billable (PostHog-system origin, e.g. a health-check scout finding) — its implementation PRs are free and cannot be refunded because nothing was charged.\n\n* `posthog_health_check` - PostHog health check\n* `posthog_onboarding` - PostHog onboarding\n* `posthog_system` - PostHog system",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The space (task channel) this report is assigned to, or null when unassigned. The general view lists every report regardless of this value.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ranking": {
          "target": "com.posthog.signals#ReportRanking",
          "traits": {
            "smithy.api#documentation": "The served model's score from the latest ranking score artefact. Staff only: null for other users, and null when the report has no score.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportStatusEnum": {
      "type": "enum",
      "members": {
        "POTENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "potential"
          }
        },
        "CANDIDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "candidate"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "PENDING_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_input"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolved"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "SUPPRESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suppressed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `potential` - Potential\n* `candidate` - Candidate\n* `in_progress` - In Progress\n* `pending_input` - Pending Input\n* `ready` - Ready\n* `resolved` - Resolved\n* `failed` - Failed\n* `deleted` - Deleted\n* `suppressed` - Suppressed"
      }
    },
    "com.posthog.signals#ReportChart": {
      "type": "structure",
      "members": {
        "chart_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable slug for this chart within the report (lowercase letters, numbers, underscores, hyphens; must start with a letter or number). Reference it from `summary` as a markdown link with a `chart:` target — `[Daily signups](chart:signups-drop)` — to place the chart at that point in the body. A chart you don't reference still renders, below the summary.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short heading shown above the chart.",
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The query node to render. `kind` must be `InsightVizNode` (an ad-hoc product analytics chart), `DataVisualizationNode` (a SQL series — a `HogQLQuery` source plus a `display`), or `SavedInsightNode` (an existing insight by `shortId`). Pin the window to absolute dates where the node supports it, so the reader sees the data you wrote about rather than whatever a relative range resolves to when they open the report.",
            "smithy.api#required": {}
          }
        },
        "caption": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional one-line note on what to look at in the chart.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "size": {
          "target": "com.posthog.signals#SizeEnum",
          "traits": {
            "smithy.api#documentation": "How much height the chart gets: `small` for a single number or a short series, `medium` for an ordinary graph, `large` when there are rows or a grid to read (retention, paths, a wide breakdown). Leave it out unless the default looks wrong — the inbox sizes a chart from its query, and two charts referenced from the same paragraph sit side by side.\n\n* `small` - small\n* `medium` - medium\n* `large` - large",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One chart attached to a report — rendered in the inbox and referenceable from the summary."
      }
    },
    "com.posthog.signals#SizeEnum": {
      "type": "enum",
      "members": {
        "SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "small"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "large"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `small` - small\n* `medium` - medium\n* `large` - large"
      }
    },
    "com.posthog.signals#SignalReportListChartsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#ReportChart"
      },
      "traits": {
        "smithy.api#documentation": "Charts the report shows, in the order they were written. The summary places one with a `[label](chart:<chart_id>)` link; the rest render below it."
      }
    },
    "com.posthog.signals#ReportMetricList": {
      "type": "structure",
      "members": {
        "metric_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable slug for this metric within the report: lowercase letters, numbers, underscores, and hyphens, starting with a letter or number.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short human-readable label for the measurement.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.posthog.signals#ReportMetricKindEnum",
          "traits": {
            "smithy.api#documentation": "What the value measures, independent of how it is formatted or drawn.\n\n* `affected_users` - affected_users\n* `affected_sessions` - affected_sessions\n* `occurrences` - occurrences\n* `conversion_rate` - conversion_rate\n* `error_rate` - error_rate\n* `duration` - duration\n* `revenue` - revenue\n* `custom` - custom",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.posthog.signals#RoleEnum",
          "traits": {
            "smithy.api#documentation": "`primary` for the report's key observation, otherwise `supporting`.\n\n* `primary` - primary\n* `supporting` - supporting"
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latest saved snapshot, initially observed during authoring and replaced when a person opens the inbox or the report. Null means no snapshot is available to this viewer; it never means zero. The required live query remains the source of truth.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "value_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the visible snapshot value was measured; null when value is null.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "series": {
          "target": "com.posthog.signals#ReportMetricListSeriesList",
          "traits": {
            "smithy.api#documentation": "Trailing per-bucket values of the live query, oldest first, saved with the value snapshot so a list row can draw the trend without running the query; at most 14 points. Null when no snapshot series is available to this viewer.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "value_format": {
          "target": "com.posthog.signals#ValueFormatEnum",
          "traits": {
            "smithy.api#documentation": "How to format the numeric value; semantic meaning remains in kind. `percentage` uses percentage points, so 34 renders as 34%; `percentage_scaled` uses a 0–1 ratio, so 0.34 renders as 34%. Sessions and occurrences use count; duration uses duration with an ms/s unit; revenue uses currency with an ISO currency unit.\n\n* `number` - number\n* `count` - count\n* `percentage` - percentage\n* `percentage_scaled` - percentage_scaled\n* `duration` - duration\n* `currency` - currency"
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional short suffix or currency code, such as `users`, `ms`, or `USD`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "caption": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional context the tile cannot show, such as a filter that narrows the count or a caveat on the data. Omit it rather than restate the title, unit, or window.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "goal_value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Proposed threshold after release. Informational only; does not schedule a check.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "goal_direction": {
          "target": "com.posthog.signals#GoalDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Whether success means at most or at least goal_value.\n\n* `at_most` - at_most\n* `at_least` - at_least",
            "com.distilled.openapi#nullable": {}
          }
        },
        "goal_grain": {
          "target": "com.posthog.signals#GoalGrainEnum",
          "traits": {
            "smithy.api#documentation": "Whether the goal compares with the whole query window or each chart bucket.\n\n* `whole_window` - whole_window\n* `per_interval` - per_interval"
          }
        },
        "decision_window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Suggested days after release before assessing impact, not a monitoring schedule.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "minimum_data_points": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional number of qualifying observations before assessing impact.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Snapshot-only metric shape for report lists.\n\nOmitting query definitions keeps the paginated inbox payload bounded."
      }
    },
    "com.posthog.signals#ReportMetricKindEnum": {
      "type": "enum",
      "members": {
        "AFFECTED_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "affected_users"
          }
        },
        "AFFECTED_SESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "affected_sessions"
          }
        },
        "OCCURRENCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "occurrences"
          }
        },
        "CONVERSION_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conversion_rate"
          }
        },
        "ERROR_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error_rate"
          }
        },
        "DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duration"
          }
        },
        "REVENUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revenue"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `affected_users` - affected_users\n* `affected_sessions` - affected_sessions\n* `occurrences` - occurrences\n* `conversion_rate` - conversion_rate\n* `error_rate` - error_rate\n* `duration` - duration\n* `revenue` - revenue\n* `custom` - custom"
      }
    },
    "com.posthog.signals#RoleEnum": {
      "type": "enum",
      "members": {
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "primary"
          }
        },
        "SUPPORTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "supporting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `primary` - primary\n* `supporting` - supporting"
      }
    },
    "com.posthog.signals#ReportMetricListSeriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "Trailing per-bucket values of the live query, oldest first, saved with the value snapshot so a list row can draw the trend without running the query; at most 14 points. Null when no snapshot series is available to this viewer."
      }
    },
    "com.posthog.signals#ValueFormatEnum": {
      "type": "enum",
      "members": {
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "PERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percentage"
          }
        },
        "PERCENTAGE_SCALED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percentage_scaled"
          }
        },
        "DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duration"
          }
        },
        "CURRENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "currency"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `number` - number\n* `count` - count\n* `percentage` - percentage\n* `percentage_scaled` - percentage_scaled\n* `duration` - duration\n* `currency` - currency"
      }
    },
    "com.posthog.signals#GoalDirectionEnum": {
      "type": "enum",
      "members": {
        "AT_MOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "at_most"
          }
        },
        "AT_LEAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "at_least"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `at_most` - at_most\n* `at_least` - at_least"
      }
    },
    "com.posthog.signals#GoalGrainEnum": {
      "type": "enum",
      "members": {
        "WHOLE_WINDOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whole_window"
          }
        },
        "PER_INTERVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "per_interval"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `whole_window` - whole_window\n* `per_interval` - per_interval"
      }
    },
    "com.posthog.signals#SignalReportListMetricsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#ReportMetricList"
      },
      "traits": {
        "smithy.api#documentation": "Snapshot-only impact measurements for inbox rows. Live query definitions and authored comparisons are available from the report detail endpoint."
      }
    },
    "com.posthog.signals#SignalReportListSuggestedPromptsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Follow-up prompts the report's author suggests sending about it (questions to ask, or next-step actions to request), in the order they were written. The inbox offers them above the `Ask AI` box; clicking one fills the box with it."
      }
    },
    "com.posthog.signals#SignalReportListSourceProductsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Distinct source products contributing signals to this report (from ClickHouse)."
      }
    },
    "com.posthog.signals#SignalReportPullRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PR selection ID. Task-output links use a deterministic ID until attached as an artefact.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub pull request URL.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.posthog.signals#SignalReportAssignmentPrStateEnum",
          "traits": {
            "smithy.api#documentation": "Latest known GitHub state.\n\n* `unknown` - Unknown\n* `draft` - Draft\n* `open` - Open\n* `closed` - Closed\n* `merged` - Merged",
            "smithy.api#required": {}
          }
        },
        "merged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this PR merged.",
            "smithy.api#required": {}
          }
        },
        "review_decision": {
          "target": "com.posthog.signals#SignalReportPullRequestReviewDecisionEnum",
          "traits": {
            "smithy.api#documentation": "Current GitHub code review decision: approved, changes_requested, or review_required. Null when GitHub does not provide a review decision.\n\n* `approved` - Approved\n* `changes_requested` - Changes requested\n* `review_required` - Review required",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "merged_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When GitHub reports that this pull request merged. Null when it has not merged or the time is unavailable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "attached_by": {
          "target": "com.posthog.signals#SignalReportPullRequestAttachedBy",
          "traits": {
            "smithy.api#documentation": "Who first attached this PR to the report, not necessarily its GitHub author. Task-output links identify the originating task.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "claim_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Originating work claim. Null for legacy links without a recorded claim.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "attached_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the first PR link was recorded. For backfilled links this is the import time; null for an unmigrated link.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportAssignmentPrStateEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        },
        "MERGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "merged"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportPullRequestReviewDecisionEnum": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "CHANGES_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "changes_requested"
          }
        },
        "REVIEW_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "review_required"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `approved` - Approved\n* `changes_requested` - Changes requested\n* `review_required` - Review required"
      }
    },
    "com.posthog.signals#SignalReportPullRequestAttachedBy": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.posthog.signals#SignalActorKindEnum",
          "traits": {
            "smithy.api#documentation": "Kind of actor who attached the PR. Null when legacy attribution is unknown.\n\n* `user` - User\n* `task` - Task\n* `agent` - Agent\n* `system` - System",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "user": {
          "target": "com.posthog.signals#User",
          "traits": {
            "smithy.api#documentation": "Authenticated principal who attached the PR, when recorded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "agent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External agent client name, when recorded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Internal task that attached the PR, when recorded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalActorKindEnum": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "TASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "task"
          }
        },
        "AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#User": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportListPullRequestsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#SignalReportPullRequest"
      },
      "traits": {
        "smithy.api#documentation": "All distinct PRs linked to this report across work attempts."
      }
    },
    "com.posthog.signals#SignalReportWorkStateEnum": {
      "type": "enum",
      "members": {
        "UNCLAIMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unclaimed"
          }
        },
        "WORKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "working"
          }
        },
        "IN_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_review"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "done"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportAssignee": {
      "type": "structure",
      "members": {
        "claim_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the active work attempt.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "kind": {
          "target": "com.posthog.signals#SignalActorKindEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.posthog.signals#User",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "agent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "claimed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportRefund": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.posthog.signals#SignalReportRefundReasonEnum",
          "traits": {
            "smithy.api#documentation": "Why the user refunded this PR (feeds the refund review).\n\n* `pr_incorrect` - PR incorrect\n* `pr_not_useful` - PR not useful\n* `duplicate` - Duplicate\n* `other` - Other",
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional free-form note captured with the refund.",
            "smithy.api#required": {}
          }
        },
        "billing_path": {
          "target": "com.posthog.signals#SignalReportRefundBillingPathEnum",
          "traits": {
            "smithy.api#documentation": "How the refund was executed, frozen at refund time: 'excluded' (same UTC day as the billable PR run — the report never reaches billing) or 'credited' (billing issues a Stripe customer-balance credit).\n\n* `excluded` - Excluded\n* `credited` - Credited",
            "smithy.api#required": {}
          }
        },
        "credits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Signals credits refunded (flat per-PR charge snapshot; 1 credit = $0.01).",
            "smithy.api#required": {}
          }
        },
        "pr_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The refunded implementation PR's GitHub URL, snapshotted at refund time.",
            "smithy.api#required": {}
          }
        },
        "pr_run_created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the first billable PR run was created — the charge this reverses.",
            "smithy.api#required": {}
          }
        },
        "credit_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "USD amount the billing service credited (credited path only). Null until the sync completes; '0.00' is a legitimate outcome (e.g. the PR was inside the free tier).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "billing_synced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the billing service has acknowledged this refund. Always relevant for the credited path (the Stripe credit is issued asynchronously); excluded-path refunds need no billing sync and report false.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the refund was created.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportRefundReasonEnum": {
      "type": "enum",
      "members": {
        "PR_INCORRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pr_incorrect"
          }
        },
        "PR_NOT_USEFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pr_not_useful"
          }
        },
        "DUPLICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duplicate"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `pr_incorrect` - PR incorrect\n* `pr_not_useful` - PR not useful\n* `duplicate` - Duplicate\n* `other` - Other"
      }
    },
    "com.posthog.signals#SignalReportRefundBillingPathEnum": {
      "type": "enum",
      "members": {
        "EXCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "excluded"
          }
        },
        "CREDITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "credited"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `excluded` - Excluded\n* `credited` - Credited"
      }
    },
    "com.posthog.signals#RefundIneligibilityReasonEnum": {
      "type": "enum",
      "members": {
        "ALREADY_REFUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "already_refunded"
          }
        },
        "BILLING_EXEMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing_exempt"
          }
        },
        "NO_BILLABLE_PR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_billable_pr"
          }
        },
        "OUT_OF_PERIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "out_of_period"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportBillingExemptReasonEnum": {
      "type": "enum",
      "members": {
        "POSTHOG_HEALTH_CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog_health_check"
          }
        },
        "POSTHOG_ONBOARDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog_onboarding"
          }
        },
        "POSTHOG_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog_system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `posthog_health_check` - PostHog health check\n* `posthog_onboarding` - PostHog onboarding\n* `posthog_system` - PostHog system"
      }
    },
    "com.posthog.signals#ReportRanking": {
      "type": "structure",
      "members": {
        "served_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key of the served model in the scoring pass, as `<model_name>@<model_version>`.",
            "smithy.api#required": {}
          }
        },
        "model_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature family of the served model.",
            "smithy.api#required": {}
          }
        },
        "model_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Training partition of the served model, as `YYYY-MM-DD`.",
            "smithy.api#required": {}
          }
        },
        "manifest_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the serving manifest that chose the model.",
            "smithy.api#required": {}
          }
        },
        "scored_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the scoring sweep scored the report.",
            "smithy.api#required": {}
          }
        },
        "scores": {
          "target": "com.posthog.signals#ReportRankingScoresMap",
          "traits": {
            "smithy.api#documentation": "Outcome head name to its calibrated probability. Empty when the served model skipped the report.",
            "smithy.api#required": {}
          }
        },
        "lifts": {
          "target": "com.posthog.signals#ReportRankingLiftsMap",
          "traits": {
            "smithy.api#documentation": "Outcome head name to its probability divided by the head's training base rate, e.g. 2.7 means 2.7x as likely as the average report. A head without a saved base rate has no entry.",
            "smithy.api#required": {}
          }
        },
        "readable_heads": {
          "target": "com.posthog.signals#ReportRankingReadableHeadsList",
          "traits": {
            "smithy.api#documentation": "Heads whose holdout AUC the training run could read. Treat scores of other heads with caution.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#ReportRankingScoresMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "Outcome head name to its calibrated probability. Empty when the served model skipped the report."
      }
    },
    "com.posthog.signals#ReportRankingLiftsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "Outcome head name to its probability divided by the head's training base rate, e.g. 2.7 means 2.7x as likely as the average report. A head without a saved base rate has no entry."
      }
    },
    "com.posthog.signals#ReportRankingReadableHeadsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Heads whose holdout AUC the training run could read. Treat scores of other heads with caution."
      }
    },
    "com.posthog.signals#PaginatedSignalReportListListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#SignalReportList"
      },
      "traits": {}
    },
    "com.posthog.signals#ListSignalsReports": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#ListSignalsReportsRequest"
      },
      "output": {
        "target": "com.posthog.signals#PaginatedSignalReportListList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/reports/",
          "code": 200
        }
      }
    },
    "com.posthog.signals#GetSignalsReportRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalReport": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "summary_lead": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The opening of `summary` as plain text on one line: the text before its first section heading, with chart links removed and other links reduced to their text. At most 450 characters.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.signals#SignalReportStatusEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "signal_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "signals_at_run": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "collapsed_note_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many scout notes this report received beyond the few its work log keeps as entries. 0 when nothing was dropped. These say the finding still holds, so the count is shown in place of the entries.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "artefact_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "charts": {
          "target": "com.posthog.signals#SignalReportChartsList",
          "traits": {
            "smithy.api#documentation": "Charts the report shows, in the order they were written. The summary places one with a `[label](chart:<chart_id>)` link; the rest render below it.",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.posthog.signals#SignalReportMetricsList",
          "traits": {
            "smithy.api#documentation": "Typed impact measurements in display order. At most one is primary. Live metric values and history come from their query; value/value_at are the latest saved fallback snapshots.",
            "smithy.api#required": {}
          }
        },
        "suggested_prompts": {
          "target": "com.posthog.signals#SignalReportSuggestedPromptsList",
          "traits": {
            "smithy.api#documentation": "Follow-up prompts the report's author suggests sending about it (questions to ask, or next-step actions to request), in the order they were written. The inbox offers them above the `Ask AI` box; clicking one fills the box with it.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "P0–P4 from the latest priority judgment artefact (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "actionability": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Actionability choice from the latest actionability judgment artefact (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "already_addressed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the issue is already being handled — fixed in recent changes, or with a fix in flight (an open PR, a recently active branch, an assigned / in-progress issue or agent task) — from the actionability judgment artefact.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissal_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason code from the latest dismissal artefact, set when the report was suppressed (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissal_note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form note captured alongside the dismissal reason (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "repo_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`organization/repository` the report's work targets, from the latest repo-selection artefact (when present). Lets list cards show repository context without a per-card fetch.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_suggested_reviewer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source_products": {
          "target": "com.posthog.signals#SignalReportSourceProductsList",
          "traits": {
            "smithy.api#documentation": "Distinct source products contributing signals to this report (from ClickHouse).",
            "smithy.api#required": {}
          }
        },
        "scout_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "skill_name slug of the scout that authored this report, when scout-authored (from ClickHouse); null otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "implementation_pr_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request attached to this report's claim, if available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "pull_requests": {
          "target": "com.posthog.signals#SignalReportPullRequestsList",
          "traits": {
            "smithy.api#documentation": "All distinct PRs linked to this report across work attempts.",
            "smithy.api#required": {}
          }
        },
        "implementation_pr_state": {
          "target": "com.posthog.signals#SignalReportAssignmentPrStateEnum",
          "traits": {
            "smithy.api#documentation": "Latest known pull request state: unknown, draft, open, closed, or merged.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "implementation_pr_merged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether that implementation PR is merged, per the GitHub webhook. False when there is no PR or it hasn't merged. Report status doesn't imply this: a resolved report may have been resolved directly, without a merged PR.",
            "smithy.api#required": {}
          }
        },
        "tracker_issue_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the issue self-driving opened in the team's tracker for this report's pull request. Null when the team tracks no issues, or the issue could not be opened.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tracker_issue_reference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How that tracker issue reads in its provider, for example '#12' or 'ENG-123'. Null when there is no tracker issue.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tracker_issue_error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the tracker issue could not be opened, for a team that wants one. Null when the issue exists or the team tracks no issues.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "work_state": {
          "target": "com.posthog.signals#SignalReportWorkStateEnum",
          "traits": {
            "smithy.api#documentation": "Derived remediation state: unclaimed, working, in_review, or done.",
            "smithy.api#required": {}
          }
        },
        "assignee": {
          "target": "com.posthog.signals#SignalReportAssignee",
          "traits": {
            "smithy.api#documentation": "Current user, internal task, or external agent claim owner. Null when unclaimed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "refund": {
          "target": "com.posthog.signals#SignalReportRefund",
          "traits": {
            "smithy.api#documentation": "The report's PR refund, when one exists. One refund per report, ever.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "refund_ineligibility_reason": {
          "target": "com.posthog.signals#RefundIneligibilityReasonEnum",
          "traits": {
            "smithy.api#documentation": "Why refunding this report's PR would be rejected right now, or null when a refund would be accepted (see the field's schema for the reason values).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "billing_exempt_reason": {
          "target": "com.posthog.signals#SignalReportBillingExemptReasonEnum",
          "traits": {
            "smithy.api#documentation": "Non-null when this report is system-marked never-billable (PostHog-system origin, e.g. a health-check scout finding) — its implementation PRs are free and cannot be refunded because nothing was charged.\n\n* `posthog_health_check` - PostHog health check\n* `posthog_onboarding` - PostHog onboarding\n* `posthog_system` - PostHog system",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The space (task channel) this report is assigned to, or null when unassigned. The general view lists every report regardless of this value.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ranking": {
          "target": "com.posthog.signals#ReportRanking",
          "traits": {
            "smithy.api#documentation": "The served model's score from the latest ranking score artefact. Staff only: null for other users, and null when the report has no score.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportChartsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#ReportChart"
      },
      "traits": {
        "smithy.api#documentation": "Charts the report shows, in the order they were written. The summary places one with a `[label](chart:<chart_id>)` link; the rest render below it."
      }
    },
    "com.posthog.signals#ReportMetric": {
      "type": "structure",
      "members": {
        "metric_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable slug for this metric within the report: lowercase letters, numbers, underscores, and hyphens, starting with a letter or number.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short human-readable label for the measurement.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.posthog.signals#ReportMetricKindEnum",
          "traits": {
            "smithy.api#documentation": "What the value measures, independent of how it is formatted or drawn.\n\n* `affected_users` - affected_users\n* `affected_sessions` - affected_sessions\n* `occurrences` - occurrences\n* `conversion_rate` - conversion_rate\n* `error_rate` - error_rate\n* `duration` - duration\n* `revenue` - revenue\n* `custom` - custom",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.posthog.signals#RoleEnum",
          "traits": {
            "smithy.api#documentation": "`primary` for the report's key observation, otherwise `supporting`.\n\n* `primary` - primary\n* `supporting` - supporting"
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latest saved snapshot, initially observed during authoring and replaced when a person opens the inbox or the report. Null means no snapshot is available to this viewer; it never means zero. The required live query remains the source of truth.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "value_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the visible snapshot value was measured; null when value is null.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "series": {
          "target": "com.posthog.signals#ReportMetricSeriesList",
          "traits": {
            "smithy.api#documentation": "Trailing per-bucket values of the live query, oldest first, saved with the value snapshot so a list row can draw the trend without running the query; at most 14 points. Null when no snapshot series is available to this viewer.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "value_format": {
          "target": "com.posthog.signals#ValueFormatEnum",
          "traits": {
[...]
