{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.stamphog#ListStamphogDigestRunsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "slack_channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slack_channel_id",
            "smithy.api#documentation": "Filter by the Slack channel the digest was posted to, e.g. 'C012AB3CD'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#PaginatedDigestRunList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.stamphog#PaginatedDigestRunListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.stamphog#DigestRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "audience_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Digest bucket this run drained, e.g. a team slug or 'repo:PostHog/posthog'.",
            "smithy.api#required": {}
          }
        },
        "slack_channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack channel this digest was posted to, e.g. 'C012AB3CD'.",
            "smithy.api#required": {}
          }
        },
        "slack_channel_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of that channel, for display.",
            "smithy.api#required": {}
          }
        },
        "resolution_source": {
          "target": "com.posthog.stamphog#ResolutionSourceEnum",
          "traits": {
            "smithy.api#documentation": "Why the digest went to this channel: 'slack_name_match' (no declaration anywhere, so the audience_key matched a same-named Slack channel), 'stamphog_config' (the channel the repo declared under 'digest:' in .stamphog/policy.yml), 'owners_contact' (a teams: entry in a root owners.yaml named it), or 'manual' (no longer produced).\n\n* `manual` - MANUAL\n* `slack_name_match` - SLACK_NAME_MATCH\n* `stamphog_config` - STAMPHOG_CONFIG\n* `owners_contact` - OWNERS_CONTACT",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.stamphog#DigestRunStatusEnum",
          "traits": {
            "smithy.api#documentation": "Current state of the digest run (pending, completed, failed).\n\n* `pending` - PENDING\n* `completed` - COMPLETED\n* `failed` - FAILED",
            "smithy.api#required": {}
          }
        },
        "pr_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of merged PRs included in the posted digest.",
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "com.posthog.stamphog#DigestSummary",
          "traits": {
            "smithy.api#documentation": "What the digest posted: its headline and the merged pull requests it listed. Both are empty on a run with nothing to post, and on runs stored before this format.",
            "smithy.api#required": {}
          }
        },
        "slack_message_ts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack message timestamp of the posted digest, if posted.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message if the run failed, blank otherwise.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the digest run was created.",
            "smithy.api#required": {}
          }
        },
        "posted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the digest was posted to Slack, if it was.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.stamphog#ResolutionSourceEnum": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "SLACK_NAME_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack_name_match"
          }
        },
        "STAMPHOG_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stamphog_config"
          }
        },
        "OWNERS_CONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owners_contact"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `manual` - MANUAL\n* `slack_name_match` - SLACK_NAME_MATCH\n* `stamphog_config` - STAMPHOG_CONFIG\n* `owners_contact` - OWNERS_CONTACT"
      }
    },
    "com.posthog.stamphog#DigestRunStatusEnum": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `pending` - PENDING\n* `completed` - COMPLETED\n* `failed` - FAILED"
      }
    },
    "com.posthog.stamphog#DigestSummary": {
      "type": "structure",
      "members": {
        "headline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prose about the merges with real consequence. Blank when the digest led with its first line.",
            "smithy.api#required": {}
          }
        },
        "prs": {
          "target": "com.posthog.stamphog#DigestSummaryPrsList",
          "traits": {
            "smithy.api#documentation": "The merged pull requests the digest listed, in the order it listed them.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "What the digest posted to Slack: the headline and the pull requests it listed."
      }
    },
    "com.posthog.stamphog#DigestSummaryPR": {
      "type": "structure",
      "members": {
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pull request number on GitHub.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request title.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full URL to the pull request on GitHub.",
            "smithy.api#required": {}
          }
        },
        "author_login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub login of the pull request author.",
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The one-line summary of the change that the digest posted.",
            "smithy.api#required": {}
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository full name, e.g. 'PostHog/posthog'. Blank on older runs.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One merged pull request as the digest listed it."
      }
    },
    "com.posthog.stamphog#DigestSummaryPrsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.stamphog#DigestSummaryPR"
      },
      "traits": {
        "smithy.api#documentation": "The merged pull requests the digest listed, in the order it listed them."
      }
    },
    "com.posthog.stamphog#PaginatedDigestRunListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.stamphog#DigestRun"
      },
      "traits": {}
    },
    "com.posthog.stamphog#ListStamphogDigestRuns": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#ListStamphogDigestRunsRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#PaginatedDigestRunList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/digest_runs/",
          "code": 200
        },
        "smithy.api#documentation": "Read-only history of posted (or attempted) digests, filterable by Slack channel."
      }
    },
    "com.posthog.stamphog#GetStamphogDigestRunRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#GetStamphogDigestRun": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#GetStamphogDigestRunRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#DigestRun"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/digest_runs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Read-only history of posted (or attempted) digests, filterable by Slack channel."
      }
    },
    "com.posthog.stamphog#ListStamphogPullRequestsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "merged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "merged",
            "smithy.api#documentation": "Filter by merge state: true for merged pull requests, false for unmerged."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pr_number",
            "smithy.api#documentation": "Filter by pull request number."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#PaginatedStamphogPullRequestList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.stamphog#PaginatedStamphogPullRequestListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.stamphog#StamphogPullRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full name of the repository this pull request belongs to.",
            "smithy.api#required": {}
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pull request number on GitHub.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request title, refreshed on every relevant webhook delivery.",
            "smithy.api#required": {}
          }
        },
        "author_login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub login of the pull request author.",
            "smithy.api#required": {}
          }
        },
        "pr_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full URL to the pull request on GitHub.",
            "smithy.api#required": {}
          }
        },
        "head_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Branch name of the PR head.",
            "smithy.api#required": {}
          }
        },
        "merged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this pull request has merged (merged_at is set).",
            "smithy.api#required": {}
          }
        },
        "merged_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the pull request merged, null if it hasn't.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "merge_commit_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Merge commit SHA, blank until the pull request merges.",
            "smithy.api#required": {}
          }
        },
        "additions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lines added, recorded when the pull request merges.",
            "smithy.api#required": {}
          }
        },
        "deletions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lines deleted, recorded when the pull request merges.",
            "smithy.api#required": {}
          }
        },
        "changed_files": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Files changed, recorded when the pull request merges.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this pull request was first captured.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this pull request was last updated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.stamphog#PaginatedStamphogPullRequestListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.stamphog#StamphogPullRequest"
      },
      "traits": {}
    },
    "com.posthog.stamphog#ListStamphogPullRequests": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#ListStamphogPullRequestsRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#PaginatedStamphogPullRequestList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/pull_requests/",
          "code": 200
        },
        "smithy.api#documentation": "Read-only pull requests stamphog knows about, filterable by PR number and merge state."
      }
    },
    "com.posthog.stamphog#GetStamphogPullRequestRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#GetStamphogPullRequest": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#GetStamphogPullRequestRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#StamphogPullRequest"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/pull_requests/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Read-only pull requests stamphog knows about, filterable by PR number and merge state."
      }
    },
    "com.posthog.stamphog#ListStamphogRepoConfigsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#PaginatedStamphogRepoConfigList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.stamphog#PaginatedStamphogRepoConfigListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.stamphog#StamphogRepoConfig": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SCM provider this config talks to. Defaults to 'github'."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository full name, e.g. 'PostHog/posthog'.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether stamphog actively reviews pull requests for this repo.",
            "smithy.api#required": {}
          }
        },
        "installation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider app installation ID that authorizes API calls for this repo. Set only by the verified sync_installation flow; ignored on direct writes.",
            "smithy.api#required": {}
          }
        },
        "digest_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether merged PRs on this repo are captured for the daily Slack digest. Requires 'enabled', since the digest reports what stamphog approved."
          }
        },
        "review_mode": {
          "target": "com.posthog.stamphog#ReviewModeEnum",
          "traits": {
            "smithy.api#documentation": "When reviews run: 'all' reviews every pull request (the default); 'label' reviews only pull requests carrying the trigger label, mirroring the Action's opt-in flow.\n\n* `all` - all\n* `label` - label",
            "smithy.api#required": {}
          }
        },
        "trigger_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request label that triggers a review when review_mode is 'label'. Defaults to 'stamphog'."
          }
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The caller's access level on the stamphog resource, resolved for the team that owns this row. 'editor' can turn reviews on. 'manager' is required to turn them off or to change review_mode or trigger_label.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.stamphog#ReviewModeEnum": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "label"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `all` - all\n* `label` - label"
      }
    },
    "com.posthog.stamphog#PaginatedStamphogRepoConfigListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.stamphog#StamphogRepoConfig"
      },
      "traits": {}
    },
    "com.posthog.stamphog#ListStamphogRepoConfigs": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#ListStamphogRepoConfigsRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#PaginatedStamphogRepoConfigList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/repo_configs/",
          "code": 200
        },
        "smithy.api#documentation": "Per-repo stamphog settings — enable/disable review, GitHub App installation, policy overrides."
      }
    },
    "com.posthog.stamphog#CreateStamphogRepoConfigRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SCM provider this config talks to. Defaults to 'github'."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository full name, e.g. 'PostHog/posthog'.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether stamphog actively reviews pull requests for this repo."
          }
        },
        "digest_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether merged PRs on this repo are captured for the daily Slack digest."
          }
        },
        "review_mode": {
          "target": "com.posthog.stamphog#ReviewModeEnum",
          "traits": {
            "smithy.api#documentation": "When reviews run: 'all' reviews every pull request (the default); 'label' reviews only pull requests carrying the trigger label, mirroring the Action's opt-in flow.\n\n* `all` - all\n* `label` - label"
          }
        },
        "trigger_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request label that triggers a review when review_mode is 'label'. Defaults to 'stamphog'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#CreateStamphogRepoConfig": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#CreateStamphogRepoConfigRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#StamphogRepoConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/stamphog/repo_configs/",
          "code": 200
        },
        "smithy.api#documentation": "Per-repo stamphog settings — enable/disable review, GitHub App installation, policy overrides."
      }
    },
    "com.posthog.stamphog#GetStamphogRepoConfigRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#GetStamphogRepoConfig": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#GetStamphogRepoConfigRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#StamphogRepoConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/repo_configs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Per-repo stamphog settings — enable/disable review, GitHub App installation, policy overrides."
      }
    },
    "com.posthog.stamphog#UpdateStamphogRepoConfigRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SCM provider this config talks to. Defaults to 'github'."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository full name, e.g. 'PostHog/posthog'.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether stamphog actively reviews pull requests for this repo."
          }
        },
        "digest_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether merged PRs on this repo are captured for the daily Slack digest."
          }
        },
        "review_mode": {
          "target": "com.posthog.stamphog#ReviewModeEnum",
          "traits": {
            "smithy.api#documentation": "When reviews run: 'all' reviews every pull request (the default); 'label' reviews only pull requests carrying the trigger label, mirroring the Action's opt-in flow.\n\n* `all` - all\n* `label` - label"
          }
        },
        "trigger_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request label that triggers a review when review_mode is 'label'. Defaults to 'stamphog'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#UpdateStamphogRepoConfig": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#UpdateStamphogRepoConfigRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#StamphogRepoConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/stamphog/repo_configs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Per-repo stamphog settings — enable/disable review, GitHub App installation, policy overrides."
      }
    },
    "com.posthog.stamphog#UpdateStamphogRepoConfigsPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SCM provider this config talks to. Defaults to 'github'."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository full name, e.g. 'PostHog/posthog'."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether stamphog actively reviews pull requests for this repo."
          }
        },
        "digest_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether merged PRs on this repo are captured for the daily Slack digest."
          }
        },
        "review_mode": {
          "target": "com.posthog.stamphog#ReviewModeEnum",
          "traits": {
            "smithy.api#documentation": "When reviews run: 'all' reviews every pull request (the default); 'label' reviews only pull requests carrying the trigger label, mirroring the Action's opt-in flow.\n\n* `all` - all\n* `label` - label"
          }
        },
        "trigger_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request label that triggers a review when review_mode is 'label'. Defaults to 'stamphog'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#UpdateStamphogRepoConfigsPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#UpdateStamphogRepoConfigsPartialRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#StamphogRepoConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/stamphog/repo_configs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Per-repo stamphog settings — enable/disable review, GitHub App installation, policy overrides."
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#StamphogRepoConfigsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/stamphog/repo_configs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Per-repo stamphog settings — enable/disable review, GitHub App installation, policy overrides."
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsAddRepositoryCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository full name, e.g. 'PostHog/posthog'. It must be in one of the project's connected GitHub installations, as available_repositories lists them. A repository the project already has is turned back on.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsAddRepositoryCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#StamphogRepoConfigsAddRepositoryCreateRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#StamphogRepoConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/stamphog/repo_configs/add_repository/",
          "code": 200
        },
        "smithy.api#documentation": "Turn reviews on for a repository from the project's connected GitHub installations. Creates the repo config, or turns an existing one back on. Needs the editor level on stamphog."
      }
    },
    "com.posthog.stamphog#GetStamphogRepoConfigsAvailableRepositoryRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of repositories to return. Defaults to 50, at most 200."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Case-insensitive substring to match against the repository full name, e.g. 'posthog'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#StamphogAvailableRepositories": {
      "type": "structure",
      "members": {
        "repositories": {
          "target": "com.posthog.stamphog#StamphogAvailableRepositoriesRepositoriesList",
          "traits": {
            "smithy.api#documentation": "Repository full names the team can add, sorted by name and capped by limit. Only repositories a project member proved access to on GitHub are listed, and never one another project already holds under the same installation.",
            "smithy.api#required": {}
          }
        },
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many repositories match the search in total, before limit applies.",
            "smithy.api#required": {}
          }
        },
        "has_installation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a project member connected a GitHub installation yet. False means GitHub must be connected before any repository can be added. True with a total_count of 0 and no search means no repository is left to add.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Repositories from the team's connected GitHub installations that are not added to stamphog yet."
      }
    },
    "com.posthog.stamphog#StamphogAvailableRepositoriesRepositoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Repository full names the team can add, sorted by name and capped by limit. Only repositories a project member proved access to on GitHub are listed, and never one another project already holds under the same installation."
      }
    },
    "com.posthog.stamphog#GetStamphogRepoConfigsAvailableRepository": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#GetStamphogRepoConfigsAvailableRepositoryRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#StamphogAvailableRepositories"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/repo_configs/available_repositories/",
          "code": 200
        },
        "smithy.api#documentation": "List repositories from the project's connected GitHub installations that are not added to stamphog yet, so they can be added with add_repository."
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsInstallInfoRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#StamphogInstallInfo": {
      "type": "structure",
      "members": {
        "app_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL-friendly slug of the dedicated Stamphog GitHub App, or blank if unconfigured.",
            "smithy.api#required": {}
          }
        },
        "install_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub install URL (github.com/apps/<slug>/installations/new) the 'Connect' button opens. The user picks a GitHub account there and chooses which repositories the App can reach, including an account where the App is already installed. Blank if the App slug is unconfigured.",
            "smithy.api#required": {}
          }
        },
        "authorize_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub authorize URL (github.com/login/oauth/authorize). GitHub's redirect after configuring an existing installation carries no OAuth code, so the client passes through this URL once: an installed App redirects straight back with a code, which sync_installation uses to prove ownership. Blank if the App client id is unconfigured.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Static info the frontend needs to render the 'Connect a repository' button."
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsInstallInfoRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#StamphogRepoConfigsInstallInfoRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#StamphogInstallInfo"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/repo_configs/install_info/",
          "code": 200
        },
        "smithy.api#documentation": "Per-repo stamphog settings — enable/disable review, GitHub App installation, policy overrides."
      }
    },
    "com.posthog.stamphog#CreateStamphogRepoConfigsSyncInstallationRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "installation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub App installation ID from the fresh-install Setup URL redirect. Optional: absent or blank means discover the caller's installations from the OAuth code instead (authorize-first flow). The id is not trusted on its own — ownership is always proven via the code."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub user-to-server OAuth code from the post-install redirect (present when the App has 'Request user authorization during installation' enabled). Exchanged server-side to prove the caller owns the installation before its repos are bound.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Signed state token minted by install_info and round-tripped through GitHub's install redirect. Binds the callback to the team and user that started the flow, so a stolen installation_id + code can't be replayed against another team's session.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#StamphogSyncInstallationResponse": {
      "type": "structure",
      "members": {
        "synced": {
          "target": "com.posthog.stamphog#StamphogSyncInstallationResponseSyncedList",
          "traits": {
            "smithy.api#documentation": "Repo configs this team already had for the installation's repositories, now bound to it. A sync creates no repo config: use add_repository to turn reviews on for a repository.",
            "smithy.api#required": {}
          }
        },
        "skipped": {
          "target": "com.posthog.stamphog#StamphogSyncInstallationResponseSkippedList",
          "traits": {
            "smithy.api#documentation": "Repository full names skipped because another team already owns them under this installation.",
            "smithy.api#required": {}
          }
        },
        "available_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many repositories this team can add after the sync, across all its connected installations. List them with available_repositories.",
            "smithy.api#required": {}
          }
        },
        "app_not_installed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True only on the discovery path (no installation_id) when the caller can reach no installation of this App — it isn't installed anywhere they can see. The frontend should route the user to the GitHub install page (install_url). Always false on the explicit installation_id path.",
            "smithy.api#required": {}
          }
        },
        "installations": {
          "target": "com.posthog.stamphog#StamphogSyncInstallationResponseInstallationsList",
          "traits": {
            "smithy.api#documentation": "Populated only on the discovery path when the caller can reach MORE than one installation of this App: nothing was bound, and the user must pick which installation to connect. The frontend re-runs the authorize flow and calls back with the chosen installation_id, which the explicit path verifies. Empty whenever a bind happened (or nothing was found).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of syncing an installation: the team's rows bound to it, and what the team can add now."
      }
    },
    "com.posthog.stamphog#StamphogSyncInstallationResponseSyncedList": {
      "type": "list",
      "member": {
        "target": "com.posthog.stamphog#StamphogRepoConfig"
      },
      "traits": {
        "smithy.api#documentation": "Repo configs this team already had for the installation's repositories, now bound to it. A sync creates no repo config: use add_repository to turn reviews on for a repository."
      }
    },
    "com.posthog.stamphog#StamphogSyncInstallationResponseSkippedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Repository full names skipped because another team already owns them under this installation."
      }
    },
    "com.posthog.stamphog#StamphogDiscoveredInstallation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub installation id, as a string.",
            "smithy.api#required": {}
          }
        },
        "account_login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login of the org or user account the installation lives on.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One installation of the App the authorizing user can reach, offered for an explicit pick."
      }
    },
    "com.posthog.stamphog#StamphogSyncInstallationResponseInstallationsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.stamphog#StamphogDiscoveredInstallation"
      },
      "traits": {
        "smithy.api#documentation": "Populated only on the discovery path when the caller can reach MORE than one installation of this App: nothing was bound, and the user must pick which installation to connect. The frontend re-runs the authorize flow and calls back with the chosen installation_id, which the explicit path verifies. Empty whenever a bind happened (or nothing was found)."
      }
    },
    "com.posthog.stamphog#CreateStamphogRepoConfigsSyncInstallation": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#CreateStamphogRepoConfigsSyncInstallationRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#StamphogSyncInstallationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/stamphog/repo_configs/sync_installation/",
          "code": 200
        },
        "smithy.api#documentation": "Per-repo stamphog settings — enable/disable review, GitHub App installation, policy overrides."
      }
    },
    "com.posthog.stamphog#ListStamphogReviewRunsRequestTrigger": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "label"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "SELF_DRIVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "self_driving"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.stamphog#ListStamphogReviewRunsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pr_number",
            "smithy.api#documentation": "Filter by pull request number."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repository",
            "smithy.api#documentation": "Filter by repository full name, e.g. 'PostHog/posthog'."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter by review run status."
          }
        },
        "trigger": {
          "target": "com.posthog.stamphog#ListStamphogReviewRunsRequestTrigger",
          "traits": {
            "smithy.api#httpQuery": "trigger",
            "smithy.api#documentation": "Filter by what caused the run. Leave it unset to include runs from every trigger. 'all' is not a wildcard: it matches only runs in repos that review every pull request event. The other values: 'label' (the repo's trigger label opted the PR in), 'manual' (someone requested the review through the API or MCP), and 'self_driving' (stamphog reviewed a bot-authored PR from the inbox)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#PaginatedReviewRunList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.stamphog#PaginatedReviewRunListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.stamphog#ReviewRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pull_request": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the pull request this review run belongs to.",
            "smithy.api#required": {}
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full name of the repository this review run belongs to.",
            "smithy.api#required": {}
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pull request number on GitHub.",
            "smithy.api#required": {}
          }
        },
        "pr_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full URL to the pull request on GitHub.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request title as of the last webhook delivery applied.",
            "smithy.api#required": {}
          }
        },
        "author_login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub login of the pull request author.",
            "smithy.api#required": {}
          }
        },
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commit SHA of the PR head at the time this run started.",
            "smithy.api#required": {}
          }
        },
        "head_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Branch name of the PR head.",
            "smithy.api#required": {}
          }
        },
        "delivery_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub webhook delivery ID that triggered this run, used for deduplication.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "trigger": {
          "target": "com.posthog.stamphog#ReviewRunTriggerEnum",
          "traits": {
            "smithy.api#documentation": "What caused this run to exist: self-driving inbox provenance, a manual request through the API, the repo's trigger label, or the repo reviewing every PR event.\n\n* `self_driving` - SELF_DRIVING\n* `manual` - MANUAL\n* `label` - LABEL\n* `all` - ALL",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.stamphog#ReviewRunStatusEnum",
          "traits": {
            "smithy.api#documentation": "Current stage of the review run's lifecycle.\n\n* `queued` - QUEUED\n* `gated` - GATED\n* `reviewing` - REVIEWING\n* `completed` - COMPLETED\n* `failed` - FAILED\n* `superseded` - SUPERSEDED",
            "smithy.api#required": {}
          }
        },
        "verdict": {
          "target": "com.posthog.stamphog#ReviewRunVerdictEnum",
          "traits": {
            "smithy.api#documentation": "Final verdict reached by the reviewer, if any.\n\n* `none` - NONE\n* `approved` - APPROVED\n* `refused` - REFUSED\n* `escalate` - ESCALATE\n* `wait` - WAIT\n* `error` - ERROR",
            "smithy.api#required": {}
          }
        },
        "gate_result": {
          "target": "com.posthog.stamphog#GateResultSummary",
          "traits": {
            "smithy.api#documentation": "Allowlisted deterministic gate outcome (gate_blocked, final_verdict). The nested gate, classification, and policy sub-objects are excluded — they carry changed-file paths and policy scopes, repository content a project member without repo access must not read.",
            "smithy.api#required": {}
          }
        },
        "output": {
          "target": "com.posthog.stamphog#ReviewOutputSummary",
          "traits": {
            "smithy.api#documentation": "Allowlisted subset of the reviewer output blob (stamphog version, reviewer exit code). The raw reviewer stdout, PR payload, changed-file patches, and policy file contents are excluded. The reviewer's reasoning, the text stamphog posts on GitHub, is in `reasoning` instead.",
            "smithy.api#required": {}
          }
        },
        "reasoning": {
          "target": "com.posthog.stamphog#ReviewReasoning",
          "traits": {
            "smithy.api#documentation": "The reviewer's reasoning, the same text stamphog posts as its GitHub review. Returned only when retrieving a single run, and null in list results. Its fields are null until the reviewer has run.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message if the run failed, blank otherwise.",
            "smithy.api#required": {}
          }
        },
        "posted_review_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the GitHub review this run posted, null if it never posted one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "verdict_posted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this run's verdict reached GitHub, null if it never did.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "approval_dismissed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this run's GitHub approval was retracted because the head moved, null if it wasn't.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the review run was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the review run was last updated.",
            "smithy.api#required": {}
          }
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the review run reached a terminal state, if it has.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.stamphog#ReviewRunTriggerEnum": {
      "type": "enum",
      "members": {
        "SELF_DRIVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "self_driving"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "label"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `self_driving` - SELF_DRIVING\n* `manual` - MANUAL\n* `label` - LABEL\n* `all` - ALL"
      }
    },
    "com.posthog.stamphog#ReviewRunStatusEnum": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "GATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gated"
          }
        },
        "REVIEWING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reviewing"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "SUPERSEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "superseded"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `queued` - QUEUED\n* `gated` - GATED\n* `reviewing` - REVIEWING\n* `completed` - COMPLETED\n* `failed` - FAILED\n* `superseded` - SUPERSEDED"
      }
    },
    "com.posthog.stamphog#ReviewRunVerdictEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "REFUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refused"
          }
        },
        "ESCALATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "escalate"
          }
        },
        "WAIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wait"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `none` - NONE\n* `approved` - APPROVED\n* `refused` - REFUSED\n* `escalate` - ESCALATE\n* `wait` - WAIT\n* `error` - ERROR"
      }
    },
    "com.posthog.stamphog#GateResultSummary": {
      "type": "structure",
      "members": {
        "gate_blocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the deterministic gates blocked auto-review before the reviewer ran.",
            "smithy.api#required": {}
          }
        },
        "final_verdict": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The engine's raw final-verdict token, if the run reached a verdict.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allowlisted, content-free slice of ``ReviewRun.gate_result``.\n\nThe raw gate blob nests ``gates``, ``classification``, and ``policy`` sub-objects that carry\nrepository content — changed-file paths (``safe_migration_files``, ``invalid_folder_files``),\nmanifest gate messages, and declared ``policy.scopes`` — which a project member without repo\naccess must not read. Only the terminal decision is exposed."
      }
    },
    "com.posthog.stamphog#ReviewOutputSummary": {
      "type": "structure",
      "members": {
        "stamphog_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the stamphog engine that produced this review, if it reported one.",
            "smithy.api#required": {}
          }
        },
        "reviewer_exit_code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Exit code of the reviewer process in the sandbox, if the run reached the sandbox stage.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allowlisted, non-sensitive slice of ``ReviewRun.output``.\n\nThe raw ``output`` blob also holds the reviewer's stdout, the full PR payload, changed-file patches,\nand default-branch policy file contents, none of which the API returns. The reviewer's reasoning,\nthe text stamphog posts on GitHub, is parsed out of the stdout and returned as ``reasoning``."
      }
    },
    "com.posthog.stamphog#ReviewReasoning": {
      "type": "structure",
      "members": {
        "reasoning": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reviewer's explanation of its verdict.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "showstoppers": {
          "target": "com.posthog.stamphog#ReviewReasoningShowstoppersList",
          "traits": {
            "smithy.api#documentation": "Issues the reviewer found that block approval.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "review_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The review text stamphog posts on GitHub: the reasoning, the judgment points, and the gate outcome.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "change_summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A plain-language summary of what the change does.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reviewer's reasoning for one run, the same text stamphog posts as its GitHub review."
      }
    },
    "com.posthog.stamphog#ReviewReasoningShowstoppersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Issues the reviewer found that block approval."
      }
    },
    "com.posthog.stamphog#PaginatedReviewRunListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.stamphog#ReviewRun"
      },
      "traits": {}
    },
    "com.posthog.stamphog#ListStamphogReviewRuns": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#ListStamphogReviewRunsRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#PaginatedReviewRunList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/review_runs/",
          "code": 200
        },
        "smithy.api#documentation": "History of stamphog review runs, filterable by repository, PR number, and status, plus manual review requests."
      }
    },
    "com.posthog.stamphog#CreateStamphogReviewRunRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full name of the GitHub repository, e.g. 'PostHog/posthog'. It must be connected and enabled in Stamphog.",
            "smithy.api#required": {}
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pull request number on GitHub.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#ReviewRequestResponse": {
      "type": "structure",
      "members": {
        "run": {
          "target": "com.posthog.stamphog#ReviewRun",
          "traits": {
            "smithy.api#documentation": "The review run for the pull request's current head. Poll it by id until status is terminal (completed, gated, failed, or superseded).",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when this request queued a new run. False when a queued, running, or finished run already covered the current head, which is returned instead.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The review run a request points at."
      }
    },
    "com.posthog.stamphog#CreateStamphogReviewRun": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#CreateStamphogReviewRunRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#ReviewRequestResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/stamphog/review_runs/",
          "code": 200
        },
        "smithy.api#documentation": "History of stamphog review runs, filterable by repository, PR number, and status, plus manual review requests."
      }
    },
    "com.posthog.stamphog#GetStamphogReviewRunRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#GetStamphogReviewRun": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#GetStamphogReviewRunRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#ReviewRun"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/review_runs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "History of stamphog review runs, filterable by repository, PR number, and status, plus manual review requests."
      }
    },
    "com.posthog.stamphog#Stamphog": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.stamphog#ListStamphogDigestRuns"
        },
        {
          "target": "com.posthog.stamphog#GetStamphogDigestRun"
        },
        {
          "target": "com.posthog.stamphog#ListStamphogPullRequests"
        },
        {
          "target": "com.posthog.stamphog#GetStamphogPullRequest"
        },
        {
          "target": "com.posthog.stamphog#ListStamphogRepoConfigs"
        },
        {
          "target": "com.posthog.stamphog#CreateStamphogRepoConfig"
        },
        {
          "target": "com.posthog.stamphog#GetStamphogRepoConfig"
        },
        {
          "target": "com.posthog.stamphog#UpdateStamphogRepoConfig"
        },
        {
          "target": "com.posthog.stamphog#UpdateStamphogRepoConfigsPartial"
        },
        {
          "target": "com.posthog.stamphog#StamphogRepoConfigsDestroy"
        },
        {
          "target": "com.posthog.stamphog#StamphogRepoConfigsAddRepositoryCreate"
        },
        {
          "target": "com.posthog.stamphog#GetStamphogRepoConfigsAvailableRepository"
        },
        {
          "target": "com.posthog.stamphog#StamphogRepoConfigsInstallInfoRetrieve"
        },
        {
          "target": "com.posthog.stamphog#CreateStamphogRepoConfigsSyncInstallation"
        },
        {
          "target": "com.posthog.stamphog#ListStamphogReviewRuns"
        },
        {
          "target": "com.posthog.stamphog#CreateStamphogReviewRun"
        },
        {
          "target": "com.posthog.stamphog#GetStamphogReviewRun"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
