{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.subscriptions#ListSubscriptionsRequestResourceType": {
      "type": "enum",
      "members": {
        "AI_PROMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_prompt"
          }
        },
        "DASHBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dashboard"
          }
        },
        "INSIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "insight"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#ListSubscriptionsRequestTargetType": {
      "type": "enum",
      "members": {
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        },
        "TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teams"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#ListSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_by",
            "smithy.api#documentation": "Filter by creator user UUID."
          }
        },
        "dashboard": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "dashboard",
            "smithy.api#documentation": "Filter by dashboard ID."
          }
        },
        "dashboard_tiles": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "dashboard_tiles",
            "smithy.api#documentation": "Filter to subscriptions on insights that are tiles of the given dashboard ID."
          }
        },
        "insight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "insight",
            "smithy.api#documentation": "Filter by insight ID."
          }
        },
        "insights": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "insights",
            "smithy.api#documentation": "Filter by a comma-separated list of insight IDs."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "ordering": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ordering",
            "smithy.api#documentation": "Which field to use when ordering the results."
          }
        },
        "resource_type": {
          "target": "com.posthog.subscriptions#ListSubscriptionsRequestResourceType",
          "traits": {
            "smithy.api#httpQuery": "resource_type",
            "smithy.api#documentation": "Filter by subscription resource: insight, dashboard export, or AI report."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "A search term."
          }
        },
        "target_type": {
          "target": "com.posthog.subscriptions#ListSubscriptionsRequestTargetType",
          "traits": {
            "smithy.api#httpQuery": "target_type",
            "smithy.api#documentation": "Filter by delivery channel: email, Slack, or Microsoft Teams."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.subscriptions#PaginatedSubscriptionListOutput": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.subscriptions#PaginatedSubscriptionListOutputResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#SubscriptionOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "resource_type": {
          "target": "com.posthog.subscriptions#SubscriptionResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "What the subscription delivers: 'insight' (snapshot of one insight), 'dashboard' (snapshot of one dashboard), or 'ai_prompt' (LLM-generated report). Read-only — derived from the populated target (insight → insight, dashboard → dashboard, prompt → ai_prompt).\n\n* `insight` - Insight\n* `dashboard` - Dashboard\n* `ai_prompt` - AI prompt"
          }
        },
        "dashboard": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Dashboard ID to subscribe to (mutually exclusive with insight on create).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "insight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Insight ID to subscribe to (mutually exclusive with dashboard on create).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "insight_short_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "resource_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "dashboard_export_insights": {
          "target": "com.posthog.subscriptions#SubscriptionOutputDashboardExportInsightsList",
          "traits": {
            "smithy.api#documentation": "List of insight IDs from the dashboard to include. Required for dashboard subscriptions, max 10."
          }
        },
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-text prompt that drives the AI-generated report. Required when resource_type is 'ai_prompt'. Max 4000 characters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ai_prompt_config": {
          "target": "com.posthog.subscriptions#AIPromptConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for AI report subscriptions (analysis window, future knobs). Only valid when resource_type is 'ai_prompt'. Replaced wholesale on writes."
          }
        },
        "contexts": {
          "target": "com.posthog.subscriptions#SubscriptionOutputContextsList",
          "traits": {
            "smithy.api#documentation": "Dashboards and insights that ground this AI report. Deleted resources are omitted."
          }
        },
        "ai_query_plan_status": {
          "target": "com.posthog.subscriptions#AIQueryPlanStatusEnum",
          "traits": {
            "smithy.api#documentation": "Query plan reuse state for AI prompt subscriptions: frozen, not_frozen, or planner_updated. Null for other subscription types.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "target_type": {
          "target": "com.posthog.subscriptions#SubscriptionTargetEnum",
          "traits": {
            "smithy.api#documentation": "Delivery channel: email, slack, or teams.\n\n* `email` - Email\n* `slack` - Slack\n* `teams` - Microsoft Teams"
          }
        },
        "target_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recipient(s): comma-separated email addresses for email, Slack channel name/ID for slack, or a Microsoft Teams webhook URL for teams. A Teams webhook URL is only ever returned as its host, because the URL authorizes a post to the channel by itself. On update, omit the field to keep the stored URL, or send a full URL to replace it."
          }
        },
        "frequency": {
          "target": "com.posthog.subscriptions#RecurrenceIntervalEnum",
          "traits": {
            "smithy.api#documentation": "How often to deliver: daily, weekly, monthly, or yearly.\n\n* `daily` - Daily\n* `weekly` - Weekly\n* `monthly` - Monthly\n* `yearly` - Yearly"
          }
        },
        "interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Interval multiplier (e.g. 2 with weekly frequency means every 2 weeks). Required on create; must be 1 or greater."
          }
        },
        "byweekday": {
          "target": "com.posthog.subscriptions#SubscriptionOutputByweekdayList",
          "traits": {
            "smithy.api#documentation": "Days of week for daily or weekly subscriptions: monday, tuesday, wednesday, thursday, friday, saturday, sunday.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bysetpos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Position within byweekday set for monthly frequency (e.g. 1 for first, -1 for last).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of deliveries before the subscription stops. Null for unlimited.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When to start delivering (ISO 8601 datetime). The date anchors the recurrence and may be in the past. Deliveries run on half-hour cycles at :00 and :30. Other minute values are accepted for backward compatibility, but delivery happens during the next cycle instead of at that exact minute."
          }
        },
        "until_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When to stop delivering (ISO 8601 datetime). Null for indefinite.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.subscriptions#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to soft-delete. Subscriptions cannot be hard-deleted."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the subscription is active. Set to false to pause delivery without deleting. Auto-set to false when the delivery integration becomes invalid."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this subscription.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable schedule summary, e.g. 'sent daily'."
          }
        },
        "next_delivery_date": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "integration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of a connected Slack integration. Required when target_type is slack.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "invite_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional message included in the invitation email when adding new recipients.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "summary_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to attach an AI-generated summary to each delivery (insight and dashboard subscriptions only). Requires the organization to have approved AI data processing, and is subject to the org's active-summary cap and AI credit budget; otherwise the write is rejected. Not applicable to prompt subscriptions, which are themselves AI-generated."
          }
        },
        "summary_prompt_guide": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional free-text guidance (max 500 chars) steering the AI summary, e.g. which metrics to emphasize. Only settable when AI summary context is enabled for the organization; clearing it (empty string) is always allowed."
          }
        },
        "delivery_config": {
          "target": "com.posthog.subscriptions#DeliveryConfig",
          "traits": {
            "smithy.api#documentation": "Per-delivery rendering options. Every option applies to one subscription kind or delivery target only, and each option's own description says where it applies and whether a mismatch is rejected or ignored. Omit this field unless the user asks for one of the options."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Standard Subscription serializer."
      }
    },
    "com.posthog.subscriptions#SubscriptionResourceTypeEnum": {
      "type": "enum",
      "members": {
        "INSIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "insight"
          }
        },
        "DASHBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dashboard"
          }
        },
        "AI_PROMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_prompt"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `insight` - Insight\n* `dashboard` - Dashboard\n* `ai_prompt` - AI prompt"
      }
    },
    "com.posthog.subscriptions#SubscriptionOutputDashboardExportInsightsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "List of insight IDs from the dashboard to include. Required for dashboard subscriptions, max 10."
      }
    },
    "com.posthog.subscriptions#AIPromptConfig": {
      "type": "structure",
      "members": {
        "window": {
          "target": "com.posthog.subscriptions#AIWindowConfig",
          "traits": {
            "smithy.api#documentation": "Analysis window for the report. Omitted = 'since_last_sent' (everything since the previous scheduled delivery)."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#AIWindowConfig": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.posthog.subscriptions#SubscriptionAIWindowModeEnum",
          "traits": {
            "smithy.api#documentation": "What the report analyzes each run:\n* `since_last_sent` (default) — everything since the previous successful scheduled delivery (gap-free; test/manual sends don't move the anchor)\n* `last_n_days` — a fixed trailing window of start_days_ago days\n* `days_ago_range` — the explicit range from start_days_ago to end_days_ago days ago\n\n* `since_last_sent` - Since last report\n* `last_n_days` - Last N days\n* `days_ago_range` - Between X and Y days ago"
          }
        },
        "start_days_ago": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lower bound of the analysis window, in days before the run. Required for 'last_n_days' (the N) and 'days_ago_range'; ignored for 'since_last_sent'. 1-365.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "end_days_ago": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Upper bound of the analysis window, in days before the run (0 = now). Required for 'days_ago_range' and must be less than start_days_ago; ignored for other modes. 0-365.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#SubscriptionAIWindowModeEnum": {
      "type": "enum",
      "members": {
        "SINCE_LAST_SENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "since_last_sent"
          }
        },
        "LAST_N_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "last_n_days"
          }
        },
        "DAYS_AGO_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "days_ago_range"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `since_last_sent` - Since last report\n* `last_n_days` - Last N days\n* `days_ago_range` - Between X and Y days ago"
      }
    },
    "com.posthog.subscriptions#SubscriptionContext": {
      "type": "union",
      "members": {
        "SubscriptionDashboardContext": {
          "target": "com.posthog.subscriptions#SubscriptionDashboardContext"
        },
        "SubscriptionInsightContext": {
          "target": "com.posthog.subscriptions#SubscriptionInsightContext"
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#SubscriptionDashboardContext": {
      "type": "structure",
      "members": {
        "dashboard_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Dashboard ID used to open the context dashboard.",
            "smithy.api#required": {}
          }
        },
        "dashboard_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current display name of the context dashboard.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#SubscriptionInsightContext": {
      "type": "structure",
      "members": {
        "insight_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Database ID of the context insight.",
            "smithy.api#required": {}
          }
        },
        "insight_short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable insight identifier used to open the context insight.",
            "smithy.api#required": {}
          }
        },
        "insight_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current display name of the context insight.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#SubscriptionOutputContextsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.subscriptions#SubscriptionContext"
      },
      "traits": {
        "smithy.api#documentation": "Dashboards and insights that ground this AI report. Deleted resources are omitted."
      }
    },
    "com.posthog.subscriptions#AIQueryPlanStatusEnum": {
      "type": "enum",
      "members": {
        "FROZEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "frozen"
          }
        },
        "NOT_FROZEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_frozen"
          }
        },
        "PLANNER_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "planner_updated"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#SubscriptionTargetEnum": {
      "type": "enum",
      "members": {
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        },
        "TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teams"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `email` - Email\n* `slack` - Slack\n* `teams` - Microsoft Teams"
      }
    },
    "com.posthog.subscriptions#RecurrenceIntervalEnum": {
      "type": "enum",
      "members": {
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "daily"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weekly"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monthly"
          }
        },
        "YEARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yearly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `daily` - Daily\n* `weekly` - Weekly\n* `monthly` - Monthly\n* `yearly` - Yearly"
      }
    },
    "com.posthog.subscriptions#SubscriptionOutputByweekdayItem": {
      "type": "enum",
      "members": {
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monday"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tuesday"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wednesday"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thursday"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "friday"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saturday"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sunday"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `monday` - Monday\n* `tuesday` - Tuesday\n* `wednesday` - Wednesday\n* `thursday` - Thursday\n* `friday` - Friday\n* `saturday` - Saturday\n* `sunday` - Sunday"
      }
    },
    "com.posthog.subscriptions#SubscriptionOutputByweekdayList": {
      "type": "list",
      "member": {
        "target": "com.posthog.subscriptions#SubscriptionOutputByweekdayItem"
      },
      "traits": {
        "smithy.api#documentation": "Days of week for daily or weekly subscriptions: monday, tuesday, wednesday, thursday, friday, saturday, sunday."
      }
    },
    "com.posthog.subscriptions#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.subscriptions#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.subscriptions#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.subscriptions#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.subscriptions#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.subscriptions#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.subscriptions#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#DeliveryConfig": {
      "type": "structure",
      "members": {
        "post_all_insights_in_main_message": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Slack insight and dashboard subscriptions only: when true, upload all insight images together in the main Slack message instead of posting the first image in the main message and the rest as threaded replies. Defaults to false. The request is rejected when target_type is not 'slack', when the subscription sets prompt instead of insight or dashboard, or when the Slack integration does not hold the files:write permission. Omit it unless the user asks for one combined message."
          }
        },
        "include_images": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prompt subscriptions only: include generated chart images. Defaults to true when omitted. The request is rejected when the subscription sets insight or dashboard instead of prompt. It does not control the AI summary on an insight or dashboard subscription: use summary_enabled and summary_prompt_guide for that."
          }
        },
        "include_feedback": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prompt subscriptions only: include report feedback links. Defaults to true when omitted. The request is rejected when the subscription sets insight or dashboard instead of prompt. It does not control the AI summary on an insight or dashboard subscription: use summary_enabled and summary_prompt_guide for that."
          }
        },
        "include_manage_link": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prompt subscriptions only: include a link to manage the subscription. Defaults to true when omitted. The request is rejected when the subscription sets insight or dashboard instead of prompt. It does not control the AI summary on an insight or dashboard subscription: use summary_enabled and summary_prompt_guide for that."
          }
        },
        "include_posthog_hint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prompt subscriptions only: include PostHog product guidance. Defaults to true when omitted. Only a Slack report renders the guidance. Email and Microsoft Teams reports leave it out and accept the option without an error, unlike post_all_insights_in_main_message. The request is rejected when the subscription sets insight or dashboard instead of prompt. It does not control the AI summary on an insight or dashboard subscription: use summary_enabled and summary_prompt_guide for that."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Typed view over the Subscription.delivery_config JSON blob."
      }
    },
    "com.posthog.subscriptions#PaginatedSubscriptionListOutputResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.subscriptions#SubscriptionOutput"
      },
      "traits": {}
    },
    "com.posthog.subscriptions#ListSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.posthog.subscriptions#ListSubscriptionsRequest"
      },
      "output": {
        "target": "com.posthog.subscriptions#PaginatedSubscriptionListOutput"
      },
      "errors": [
        {
          "target": "com.posthog.subscriptions#BadRequest"
        },
        {
          "target": "com.posthog.subscriptions#Forbidden"
        },
        {
          "target": "com.posthog.subscriptions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/subscriptions/",
          "code": 200
        }
      }
    },
    "com.posthog.subscriptions#CreateSubscriptionRequestDashboardExportInsightsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "List of insight IDs from the dashboard to include. Required for dashboard subscriptions, max 10."
      }
    },
    "com.posthog.subscriptions#CreateSubscriptionRequestContextsItemCase0": {
      "type": "structure",
      "members": {
        "dashboard_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#CreateSubscriptionRequestContextsItemCase1": {
      "type": "structure",
      "members": {
        "insight_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#CreateSubscriptionRequestContextsItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.subscriptions#CreateSubscriptionRequestContextsItemCase0"
        },
        "Case1": {
          "target": "com.posthog.subscriptions#CreateSubscriptionRequestContextsItemCase1"
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#CreateSubscriptionRequestContextsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.subscriptions#CreateSubscriptionRequestContextsItem"
      },
      "traits": {
        "smithy.api#documentation": "Complete dashboard and insight context for an AI report. Omit on PATCH to preserve, pass an empty list to clear, or pass up to 3 items to replace all contexts."
      }
    },
    "com.posthog.subscriptions#CreateSubscriptionRequestByweekdayItem": {
      "type": "enum",
      "members": {
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monday"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tuesday"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wednesday"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thursday"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "friday"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saturday"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sunday"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `monday` - Monday\n* `tuesday` - Tuesday\n* `wednesday` - Wednesday\n* `thursday` - Thursday\n* `friday` - Friday\n* `saturday` - Saturday\n* `sunday` - Sunday"
      }
    },
    "com.posthog.subscriptions#CreateSubscriptionRequestByweekdayList": {
      "type": "list",
      "member": {
        "target": "com.posthog.subscriptions#CreateSubscriptionRequestByweekdayItem"
      },
      "traits": {
        "smithy.api#documentation": "Days of week for daily or weekly subscriptions: monday, tuesday, wednesday, thursday, friday, saturday, sunday."
      }
    },
    "com.posthog.subscriptions#CreateSubscriptionRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dashboard": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Dashboard ID to subscribe to (mutually exclusive with insight on create).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "insight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Insight ID to subscribe to (mutually exclusive with dashboard on create).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dashboard_export_insights": {
          "target": "com.posthog.subscriptions#CreateSubscriptionRequestDashboardExportInsightsList",
          "traits": {
            "smithy.api#documentation": "List of insight IDs from the dashboard to include. Required for dashboard subscriptions, max 10."
          }
        },
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-text prompt that drives the AI-generated report. Required when resource_type is 'ai_prompt'. Max 4000 characters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ai_prompt_config": {
          "target": "com.posthog.subscriptions#AIPromptConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for AI report subscriptions (analysis window, future knobs). Only valid when resource_type is 'ai_prompt'. Replaced wholesale on writes."
          }
        },
        "contexts": {
          "target": "com.posthog.subscriptions#CreateSubscriptionRequestContextsList",
          "traits": {
            "smithy.api#documentation": "Complete dashboard and insight context for an AI report. Omit on PATCH to preserve, pass an empty list to clear, or pass up to 3 items to replace all contexts."
          }
        },
        "target_type": {
          "target": "com.posthog.subscriptions#SubscriptionTargetEnum",
          "traits": {
            "smithy.api#documentation": "Delivery channel: email, slack, or teams.\n\n* `email` - Email\n* `slack` - Slack\n* `teams` - Microsoft Teams",
            "smithy.api#required": {}
          }
        },
        "target_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recipient(s): comma-separated email addresses for email, Slack channel name/ID for slack, or a Microsoft Teams webhook URL for teams. A Teams webhook URL is only ever returned as its host, because the URL authorizes a post to the channel by itself. On update, omit the field to keep the stored URL, or send a full URL to replace it.",
            "smithy.api#required": {}
          }
        },
        "frequency": {
          "target": "com.posthog.subscriptions#RecurrenceIntervalEnum",
          "traits": {
            "smithy.api#documentation": "How often to deliver: daily, weekly, monthly, or yearly.\n\n* `daily` - Daily\n* `weekly` - Weekly\n* `monthly` - Monthly\n* `yearly` - Yearly",
            "smithy.api#required": {}
          }
        },
        "interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Interval multiplier (e.g. 2 with weekly frequency means every 2 weeks). Required on create; must be 1 or greater.",
            "smithy.api#required": {}
          }
        },
        "byweekday": {
          "target": "com.posthog.subscriptions#CreateSubscriptionRequestByweekdayList",
          "traits": {
            "smithy.api#documentation": "Days of week for daily or weekly subscriptions: monday, tuesday, wednesday, thursday, friday, saturday, sunday.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bysetpos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Position within byweekday set for monthly frequency (e.g. 1 for first, -1 for last).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of deliveries before the subscription stops. Null for unlimited.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When to start delivering (ISO 8601 datetime). The date anchors the recurrence and may be in the past. Deliveries run on half-hour cycles at :00 and :30. Other minute values are accepted for backward compatibility, but delivery happens during the next cycle instead of at that exact minute.",
            "smithy.api#required": {}
          }
        },
        "until_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When to stop delivering (ISO 8601 datetime). Null for indefinite.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to soft-delete. Subscriptions cannot be hard-deleted."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the subscription is active. Set to false to pause delivery without deleting. Auto-set to false when the delivery integration becomes invalid."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this subscription.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "integration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of a connected Slack integration. Required when target_type is slack.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "invite_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional message included in the invitation email when adding new recipients.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "send_test_now": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to immediately deliver the subscription once on save so the editor can confirm it looks right. Defaults to true on create. When omitted on update, a delivery is sent only if the edit changed what gets delivered (recipient, channel, source) or re-enabled the subscription. The recurring schedule is unaffected."
          }
        },
        "summary_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to attach an AI-generated summary to each delivery (insight and dashboard subscriptions only). Requires the organization to have approved AI data processing, and is subject to the org's active-summary cap and AI credit budget; otherwise the write is rejected. Not applicable to prompt subscriptions, which are themselves AI-generated."
          }
        },
        "summary_prompt_guide": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional free-text guidance (max 500 chars) steering the AI summary, e.g. which metrics to emphasize. Only settable when AI summary context is enabled for the organization; clearing it (empty string) is always allowed."
          }
        },
        "delivery_config": {
          "target": "com.posthog.subscriptions#DeliveryConfig",
          "traits": {
            "smithy.api#documentation": "Per-delivery rendering options. Every option applies to one subscription kind or delivery target only, and each option's own description says where it applies and whether a mismatch is rejected or ignored. Omit this field unless the user asks for one of the options."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.subscriptions#CreateSubscription": {
      "type": "operation",
      "input": {
        "target": "com.posthog.subscriptions#CreateSubscriptionRequest"
      },
      "output": {
        "target": "com.posthog.subscriptions#SubscriptionOutput"
      },
      "errors": [
        {
          "target": "com.posthog.subscriptions#BadRequest"
        },
        {
          "target": "com.posthog.subscriptions#Forbidden"
        },
        {
          "target": "com.posthog.subscriptions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/subscriptions/",
          "code": 200
        }
      }
    },
    "com.posthog.subscriptions#GetSubscriptionRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this subscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.subscriptions#GetSubscription": {
      "type": "operation",
      "input": {
        "target": "com.posthog.subscriptions#GetSubscriptionRequest"
      },
      "output": {
        "target": "com.posthog.subscriptions#SubscriptionOutput"
      },
      "errors": [
        {
          "target": "com.posthog.subscriptions#Forbidden"
        },
        {
          "target": "com.posthog.subscriptions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/subscriptions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.subscriptions#UpdateSubscriptionRequestDashboardExportInsightsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "List of insight IDs from the dashboard to include. Required for dashboard subscriptions, max 10."
      }
    },
    "com.posthog.subscriptions#UpdateSubscriptionRequestContextsItemCase0": {
      "type": "structure",
      "members": {
        "dashboard_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#UpdateSubscriptionRequestContextsItemCase1": {
      "type": "structure",
      "members": {
        "insight_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#UpdateSubscriptionRequestContextsItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.subscriptions#UpdateSubscriptionRequestContextsItemCase0"
        },
        "Case1": {
          "target": "com.posthog.subscriptions#UpdateSubscriptionRequestContextsItemCase1"
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#UpdateSubscriptionRequestContextsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.subscriptions#UpdateSubscriptionRequestContextsItem"
      },
      "traits": {
        "smithy.api#documentation": "Complete dashboard and insight context for an AI report. Omit on PATCH to preserve, pass an empty list to clear, or pass up to 3 items to replace all contexts."
      }
    },
    "com.posthog.subscriptions#UpdateSubscriptionRequestByweekdayItem": {
      "type": "enum",
      "members": {
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monday"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tuesday"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wednesday"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thursday"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "friday"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saturday"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sunday"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `monday` - Monday\n* `tuesday` - Tuesday\n* `wednesday` - Wednesday\n* `thursday` - Thursday\n* `friday` - Friday\n* `saturday` - Saturday\n* `sunday` - Sunday"
      }
    },
    "com.posthog.subscriptions#UpdateSubscriptionRequestByweekdayList": {
      "type": "list",
      "member": {
        "target": "com.posthog.subscriptions#UpdateSubscriptionRequestByweekdayItem"
      },
      "traits": {
        "smithy.api#documentation": "Days of week for daily or weekly subscriptions: monday, tuesday, wednesday, thursday, friday, saturday, sunday."
      }
    },
    "com.posthog.subscriptions#UpdateSubscriptionRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this subscription."
          }
        },
        "dashboard": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Dashboard ID to subscribe to (mutually exclusive with insight on create).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "insight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Insight ID to subscribe to (mutually exclusive with dashboard on create).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dashboard_export_insights": {
          "target": "com.posthog.subscriptions#UpdateSubscriptionRequestDashboardExportInsightsList",
          "traits": {
            "smithy.api#documentation": "List of insight IDs from the dashboard to include. Required for dashboard subscriptions, max 10."
          }
        },
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-text prompt that drives the AI-generated report. Required when resource_type is 'ai_prompt'. Max 4000 characters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ai_prompt_config": {
          "target": "com.posthog.subscriptions#AIPromptConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for AI report subscriptions (analysis window, future knobs). Only valid when resource_type is 'ai_prompt'. Replaced wholesale on writes."
          }
        },
        "contexts": {
          "target": "com.posthog.subscriptions#UpdateSubscriptionRequestContextsList",
          "traits": {
            "smithy.api#documentation": "Complete dashboard and insight context for an AI report. Omit on PATCH to preserve, pass an empty list to clear, or pass up to 3 items to replace all contexts."
          }
        },
        "target_type": {
          "target": "com.posthog.subscriptions#SubscriptionTargetEnum",
          "traits": {
            "smithy.api#documentation": "Delivery channel: email, slack, or teams.\n\n* `email` - Email\n* `slack` - Slack\n* `teams` - Microsoft Teams",
            "smithy.api#required": {}
          }
        },
        "target_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recipient(s): comma-separated email addresses for email, Slack channel name/ID for slack, or a Microsoft Teams webhook URL for teams. A Teams webhook URL is only ever returned as its host, because the URL authorizes a post to the channel by itself. On update, omit the field to keep the stored URL, or send a full URL to replace it.",
            "smithy.api#required": {}
          }
        },
        "frequency": {
          "target": "com.posthog.subscriptions#RecurrenceIntervalEnum",
          "traits": {
            "smithy.api#documentation": "How often to deliver: daily, weekly, monthly, or yearly.\n\n* `daily` - Daily\n* `weekly` - Weekly\n* `monthly` - Monthly\n* `yearly` - Yearly",
            "smithy.api#required": {}
          }
        },
        "interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Interval multiplier (e.g. 2 with weekly frequency means every 2 weeks). Required on create; must be 1 or greater.",
            "smithy.api#required": {}
          }
        },
        "byweekday": {
          "target": "com.posthog.subscriptions#UpdateSubscriptionRequestByweekdayList",
          "traits": {
            "smithy.api#documentation": "Days of week for daily or weekly subscriptions: monday, tuesday, wednesday, thursday, friday, saturday, sunday.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bysetpos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Position within byweekday set for monthly frequency (e.g. 1 for first, -1 for last).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of deliveries before the subscription stops. Null for unlimited.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When to start delivering (ISO 8601 datetime). The date anchors the recurrence and may be in the past. Deliveries run on half-hour cycles at :00 and :30. Other minute values are accepted for backward compatibility, but delivery happens during the next cycle instead of at that exact minute.",
            "smithy.api#required": {}
          }
        },
        "until_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When to stop delivering (ISO 8601 datetime). Null for indefinite.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to soft-delete. Subscriptions cannot be hard-deleted."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the subscription is active. Set to false to pause delivery without deleting. Auto-set to false when the delivery integration becomes invalid."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this subscription.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "integration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of a connected Slack integration. Required when target_type is slack.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "invite_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional message included in the invitation email when adding new recipients.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "send_test_now": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to immediately deliver the subscription once on save so the editor can confirm it looks right. Defaults to true on create. When omitted on update, a delivery is sent only if the edit changed what gets delivered (recipient, channel, source) or re-enabled the subscription. The recurring schedule is unaffected."
          }
        },
        "summary_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to attach an AI-generated summary to each delivery (insight and dashboard subscriptions only). Requires the organization to have approved AI data processing, and is subject to the org's active-summary cap and AI credit budget; otherwise the write is rejected. Not applicable to prompt subscriptions, which are themselves AI-generated."
          }
        },
        "summary_prompt_guide": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional free-text guidance (max 500 chars) steering the AI summary, e.g. which metrics to emphasize. Only settable when AI summary context is enabled for the organization; clearing it (empty string) is always allowed."
          }
        },
        "delivery_config": {
          "target": "com.posthog.subscriptions#DeliveryConfig",
          "traits": {
            "smithy.api#documentation": "Per-delivery rendering options. Every option applies to one subscription kind or delivery target only, and each option's own description says where it applies and whether a mismatch is rejected or ignored. Omit this field unless the user asks for one of the options."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.subscriptions#UpdateSubscription": {
      "type": "operation",
      "input": {
        "target": "com.posthog.subscriptions#UpdateSubscriptionRequest"
      },
      "output": {
        "target": "com.posthog.subscriptions#SubscriptionOutput"
      },
      "errors": [
        {
          "target": "com.posthog.subscriptions#BadRequest"
        },
        {
          "target": "com.posthog.subscriptions#Forbidden"
        },
        {
          "target": "com.posthog.subscriptions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/subscriptions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.subscriptions#UpdateSubscriptionsPartialRequestDashboardExportInsightsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "List of insight IDs from the dashboard to include. Required for dashboard subscriptions, max 10."
      }
    },
    "com.posthog.subscriptions#UpdateSubscriptionsPartialRequestContextsItemCase0": {
      "type": "structure",
      "members": {
        "dashboard_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#UpdateSubscriptionsPartialRequestContextsItemCase1": {
      "type": "structure",
      "members": {
        "insight_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#UpdateSubscriptionsPartialRequestContextsItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.subscriptions#UpdateSubscriptionsPartialRequestContextsItemCase0"
        },
        "Case1": {
          "target": "com.posthog.subscriptions#UpdateSubscriptionsPartialRequestContextsItemCase1"
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#UpdateSubscriptionsPartialRequestContextsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.subscriptions#UpdateSubscriptionsPartialRequestContextsItem"
      },
      "traits": {
        "smithy.api#documentation": "Complete dashboard and insight context for an AI report. Omit on PATCH to preserve, pass an empty list to clear, or pass up to 3 items to replace all contexts."
      }
    },
    "com.posthog.subscriptions#UpdateSubscriptionsPartialRequestByweekdayItem": {
      "type": "enum",
      "members": {
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monday"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tuesday"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wednesday"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thursday"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "friday"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saturday"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sunday"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `monday` - Monday\n* `tuesday` - Tuesday\n* `wednesday` - Wednesday\n* `thursday` - Thursday\n* `friday` - Friday\n* `saturday` - Saturday\n* `sunday` - Sunday"
      }
    },
    "com.posthog.subscriptions#UpdateSubscriptionsPartialRequestByweekdayList": {
      "type": "list",
      "member": {
        "target": "com.posthog.subscriptions#UpdateSubscriptionsPartialRequestByweekdayItem"
      },
      "traits": {
        "smithy.api#documentation": "Days of week for daily or weekly subscriptions: monday, tuesday, wednesday, thursday, friday, saturday, sunday."
      }
    },
    "com.posthog.subscriptions#UpdateSubscriptionsPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this subscription."
          }
        },
        "dashboard": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Dashboard ID to subscribe to (mutually exclusive with insight on create).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "insight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Insight ID to subscribe to (mutually exclusive with dashboard on create).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dashboard_export_insights": {
          "target": "com.posthog.subscriptions#UpdateSubscriptionsPartialRequestDashboardExportInsightsList",
          "traits": {
            "smithy.api#documentation": "List of insight IDs from the dashboard to include. Required for dashboard subscriptions, max 10."
          }
        },
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-text prompt that drives the AI-generated report. Required when resource_type is 'ai_prompt'. Max 4000 characters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ai_prompt_config": {
          "target": "com.posthog.subscriptions#AIPromptConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for AI report subscriptions (analysis window, future knobs). Only valid when resource_type is 'ai_prompt'. Replaced wholesale on writes."
          }
        },
        "contexts": {
          "target": "com.posthog.subscriptions#UpdateSubscriptionsPartialRequestContextsList",
          "traits": {
            "smithy.api#documentation": "Complete dashboard and insight context for an AI report. Omit on PATCH to preserve, pass an empty list to clear, or pass up to 3 items to replace all contexts."
          }
        },
        "target_type": {
          "target": "com.posthog.subscriptions#SubscriptionTargetEnum",
          "traits": {
            "smithy.api#documentation": "Delivery channel: email, slack, or teams.\n\n* `email` - Email\n* `slack` - Slack\n* `teams` - Microsoft Teams"
          }
        },
        "target_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recipient(s): comma-separated email addresses for email, Slack channel name/ID for slack, or a Microsoft Teams webhook URL for teams. A Teams webhook URL is only ever returned as its host, because the URL authorizes a post to the channel by itself. On update, omit the field to keep the stored URL, or send a full URL to replace it."
          }
        },
        "frequency": {
          "target": "com.posthog.subscriptions#RecurrenceIntervalEnum",
          "traits": {
            "smithy.api#documentation": "How often to deliver: daily, weekly, monthly, or yearly.\n\n* `daily` - Daily\n* `weekly` - Weekly\n* `monthly` - Monthly\n* `yearly` - Yearly"
          }
        },
        "interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Interval multiplier (e.g. 2 with weekly frequency means every 2 weeks). Required on create; must be 1 or greater."
          }
        },
        "byweekday": {
          "target": "com.posthog.subscriptions#UpdateSubscriptionsPartialRequestByweekdayList",
          "traits": {
            "smithy.api#documentation": "Days of week for daily or weekly subscriptions: monday, tuesday, wednesday, thursday, friday, saturday, sunday.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bysetpos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Position within byweekday set for monthly frequency (e.g. 1 for first, -1 for last).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of deliveries before the subscription stops. Null for unlimited.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When to start delivering (ISO 8601 datetime). The date anchors the recurrence and may be in the past. Deliveries run on half-hour cycles at :00 and :30. Other minute values are accepted for backward compatibility, but delivery happens during the next cycle instead of at that exact minute."
          }
        },
        "until_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When to stop delivering (ISO 8601 datetime). Null for indefinite.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to soft-delete. Subscriptions cannot be hard-deleted."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the subscription is active. Set to false to pause delivery without deleting. Auto-set to false when the delivery integration becomes invalid."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this subscription.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "integration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of a connected Slack integration. Required when target_type is slack.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "invite_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional message included in the invitation email when adding new recipients.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "send_test_now": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to immediately deliver the subscription once on save so the editor can confirm it looks right. Defaults to true on create. When omitted on update, a delivery is sent only if the edit changed what gets delivered (recipient, channel, source) or re-enabled the subscription. The recurring schedule is unaffected."
          }
        },
        "summary_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to attach an AI-generated summary to each delivery (insight and dashboard subscriptions only). Requires the organization to have approved AI data processing, and is subject to the org's active-summary cap and AI credit budget; otherwise the write is rejected. Not applicable to prompt subscriptions, which are themselves AI-generated."
          }
        },
        "summary_prompt_guide": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional free-text guidance (max 500 chars) steering the AI summary, e.g. which metrics to emphasize. Only settable when AI summary context is enabled for the organization; clearing it (empty string) is always allowed."
          }
        },
        "delivery_config": {
          "target": "com.posthog.subscriptions#DeliveryConfig",
          "traits": {
            "smithy.api#documentation": "Per-delivery rendering options. Every option applies to one subscription kind or delivery target only, and each option's own description says where it applies and whether a mismatch is rejected or ignored. Omit this field unless the user asks for one of the options."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.subscriptions#UpdateSubscriptionsPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.subscriptions#UpdateSubscriptionsPartialRequest"
      },
      "output": {
        "target": "com.posthog.subscriptions#SubscriptionOutput"
      },
      "errors": [
        {
          "target": "com.posthog.subscriptions#BadRequest"
        },
        {
          "target": "com.posthog.subscriptions#Forbidden"
        },
        {
          "target": "com.posthog.subscriptions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/subscriptions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.subscriptions#SubscriptionsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this subscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.subscriptions#SubscriptionsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.subscriptions#SubscriptionsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.subscriptions#Forbidden"
        },
        {
          "target": "com.posthog.subscriptions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/subscriptions/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Hard delete of this model is not allowed. Use a patch API call to set \"deleted\" to true"
      }
    },
    "com.posthog.subscriptions#CreateSubscriptionsTestDeliveryRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this subscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.subscriptions#CreateSubscriptionsTestDelivery": {
      "type": "operation",
      "input": {
        "target": "com.posthog.subscriptions#CreateSubscriptionsTestDeliveryRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.subscriptions#Forbidden"
        },
        {
          "target": "com.posthog.subscriptions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/subscriptions/{id}/test-delivery/",
          "code": 200
        }
      }
    },
    "com.posthog.subscriptions#ListSubscriptionsDeliveriesRequestStatus": {
      "type": "enum",
      "members": {
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starting"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#ListSubscriptionsDeliveriesRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "subscription_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "The pagination cursor value."
          }
        },
        "status": {
          "target": "com.posthog.subscriptions#ListSubscriptionsDeliveriesRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Return only deliveries in this run status (starting, completed, failed, or skipped)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.subscriptions#PaginatedSubscriptionDeliveryList": {
      "type": "structure",
      "members": {
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.subscriptions#PaginatedSubscriptionDeliveryListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#SubscriptionDelivery": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary key for this delivery row."
          }
        },
        "subscription": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Parent subscription id."
          }
        },
        "temporal_workflow_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Temporal workflow id for this delivery run."
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dedupes activity retries for the same logical run."
          }
        },
        "trigger_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the run started (e.g. scheduled, manual, subscription update)."
          }
        },
        "scheduled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Planned send time when applicable.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "target_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Channel snapshot at send time: email, slack, or teams."
          }
        },
        "target_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination snapshot at send time: the email list, the Slack channel id, or the host of the Microsoft Teams webhook. The webhook URL itself is never returned."
          }
        },
        "exported_asset_ids": {
          "target": "com.posthog.subscriptions#SubscriptionDeliveryExportedAssetIdsList",
          "traits": {
            "smithy.api#documentation": "ExportedAsset ids generated for this send."
          }
        },
        "content_snapshot": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Snapshot at send time: dashboard metadata, total_insight_count, and per-exported-insight entries (id, short_id, name, query_hash, cache_key, query_results, optional query_error)."
          }
        },
        "recipient_results": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Per-destination outcomes; items use status success, failed, or partial."
          }
        },
        "status": {
          "target": "com.posthog.subscriptions#SubscriptionDeliveryStatusEnum",
          "traits": {
            "smithy.api#documentation": "Overall run status: starting, completed, failed, or skipped.\n\n* `starting` - Starting\n* `completed` - Completed\n* `failed` - Failed\n* `skipped` - Skipped"
          }
        },
        "error": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Top-level failure payload when status is failed, if any."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the delivery row was created."
          }
        },
        "last_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last ORM update to this row."
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the run finished, if applicable.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "change_summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AI-generated summary included in this delivery, when one was produced.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ai_report": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AI-generated report markdown delivered by this run. Null for non-AI deliveries or runs without a persisted report.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ai_report_diagnostics": {
          "target": "com.posthog.subscriptions#SubscriptionDeliveryAiReportDiagnosticsList",
          "traits": {
            "smithy.api#documentation": "Per-step query diagnostics (generated HogQL + failure type) for this report. Null for non-AI deliveries or runs without persisted diagnostics.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ai_report_charts": {
          "target": "com.posthog.subscriptions#SubscriptionDeliveryAiReportChartsList",
          "traits": {
            "smithy.api#documentation": "Charts rendered for this report, in the order they were delivered. Empty when the report had no charts. Null for non-AI deliveries and for deliveries recorded before charts existed.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ai_report_prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subscription's prompt as it was when this report was generated. Null for older deliveries and non-AI deliveries.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ai_query_plan_status": {
          "target": "com.posthog.subscriptions#AIQueryPlanStatusEnum",
          "traits": {
            "smithy.api#documentation": "Query plan state recorded for this delivery: frozen, not_frozen, or planner_updated. Null for older deliveries and non-AI deliveries.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#SubscriptionDeliveryExportedAssetIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "ExportedAsset ids generated for this send."
      }
    },
    "com.posthog.subscriptions#SubscriptionDeliveryStatusEnum": {
      "type": "enum",
      "members": {
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starting"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `starting` - Starting\n* `completed` - Completed\n* `failed` - Failed\n* `skipped` - Skipped"
      }
    },
    "com.posthog.subscriptions#AIReportQueryDiagnostic": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What this query step was meant to compute.",
            "smithy.api#required": {}
          }
        },
        "hogql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HogQL the assistant generated for this step.",
            "smithy.api#required": {}
          }
        },
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the query ran successfully.",
            "smithy.api#required": {}
          }
        },
        "error_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exception class name when the query failed; null on success.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "error_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable query API error code when available; null on success and for unclassified errors.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "human_readable_error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable failure reason, present only for query errors safe to surface to the subscription owner (e.g. an unresolved field name); null on success and for internal errors, which expose error_type only.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#SubscriptionDeliveryAiReportDiagnosticsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.subscriptions#AIReportQueryDiagnostic"
      },
      "traits": {
        "smithy.api#documentation": "Per-step query diagnostics (generated HogQL + failure type) for this report. Null for non-AI deliveries or runs without persisted diagnostics."
      }
    },
    "com.posthog.subscriptions#AIReportChart": {
      "type": "structure",
      "members": {
        "export_asset_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of the rendered PNG export backing this chart.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Chart caption, taken from the plan step it illustrates.",
            "smithy.api#required": {}
          }
        },
        "step_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Index of the plan step this chart came from.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.subscriptions#SubscriptionDeliveryAiReportChartsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.subscriptions#AIReportChart"
      },
      "traits": {
        "smithy.api#documentation": "Charts rendered for this report, in the order they were delivered. Empty when the report had no charts. Null for non-AI deliveries and for deliveries recorded before charts existed."
      }
    },
    "com.posthog.subscriptions#PaginatedSubscriptionDeliveryListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.subscriptions#SubscriptionDelivery"
      },
      "traits": {}
    },
    "com.posthog.subscriptions#ListSubscriptionsDeliveries": {
      "type": "operation",
      "input": {
        "target": "com.posthog.subscriptions#ListSubscriptionsDeliveriesRequest"
      },
      "output": {
        "target": "com.posthog.subscriptions#PaginatedSubscriptionDeliveryList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/subscriptions/{subscription_id}/deliveries/",
          "code": 200
        },
        "smithy.api#documentation": "List subscription deliveries\n\nPaginated delivery history for a subscription. Requires premium subscriptions."
      }
    },
    "com.posthog.subscriptions#GetSubscriptionsDeliveryRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "subscription_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this subscription delivery."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.subscriptions#GetSubscriptionsDelivery": {
      "type": "operation",
      "input": {
        "target": "com.posthog.subscriptions#GetSubscriptionsDeliveryRequest"
      },
      "output": {
        "target": "com.posthog.subscriptions#SubscriptionDelivery"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/subscriptions/{subscription_id}/deliveries/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve subscription delivery\n\nFetch one delivery row by id."
      }
    },
    "com.posthog.subscriptions#GetSubscriptionsSummaryQuotaRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.subscriptions#GetSubscriptionsSummaryQuotaResponse": {
      "type": "structure",
      "members": {
        "active_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "at_limit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.subscriptions#GetSubscriptionsSummaryQuota": {
      "type": "operation",
      "input": {
        "target": "com.posthog.subscriptions#GetSubscriptionsSummaryQuotaRequest"
      },
      "output": {
        "target": "com.posthog.subscriptions#GetSubscriptionsSummaryQuotaResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/subscriptions/summary_quota/",
          "code": 200
        }
      }
    },
    "com.posthog.subscriptions#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.posthog.subscriptions#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.posthog.subscriptions#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.posthog.subscriptions#Subscriptions": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.subscriptions#ListSubscriptions"
        },
        {
          "target": "com.posthog.subscriptions#CreateSubscription"
        },
        {
          "target": "com.posthog.subscriptions#GetSubscription"
        },
        {
          "target": "com.posthog.subscriptions#UpdateSubscription"
        },
        {
          "target": "com.posthog.subscriptions#UpdateSubscriptionsPartial"
        },
        {
          "target": "com.posthog.subscriptions#SubscriptionsDestroy"
        },
        {
          "target": "com.posthog.subscriptions#CreateSubscriptionsTestDelivery"
        },
        {
          "target": "com.posthog.subscriptions#ListSubscriptionsDeliveries"
        },
        {
          "target": "com.posthog.subscriptions#GetSubscriptionsDelivery"
        },
        {
          "target": "com.posthog.subscriptions#GetSubscriptionsSummaryQuota"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
