{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.task_channels#ListTaskChannelsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#PaginatedChannelDTOList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.task_channels#PaginatedChannelDTOListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_channels#ChannelDTO": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "channel_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "github_integration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "repositories": {
          "target": "com.posthog.task_channels#ChannelDTORepositoriesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "auto_archive_after_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.task_channels#TaskUserBasicInfo",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "starred": {
          "target": "smithy.api#Boolean"
        },
        "system_role": {
          "target": "com.posthog.task_channels#ChannelSystemRoleEnum",
          "traits": {
            "smithy.api#documentation": "Identifies this channel as one of the two system-provisioned spaces ('personal' for the user's own #me space, 'general' for the team's shared #general space). Null for an ordinary channel.\n\n* `personal` - Personal\n* `general` - General",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for a task channel, read from a frozen ``ChannelDTO``."
      }
    },
    "com.posthog.task_channels#ChannelDTORepositoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.task_channels#TaskUserBasicInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.task_channels#TaskUserBasicInfoHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for a task creator, mirroring core ``UserBasicSerializer`` output."
      }
    },
    "com.posthog.task_channels#TaskUserBasicInfoHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.task_channels#ChannelSystemRoleEnum": {
      "type": "enum",
      "members": {
        "PERSONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "personal"
          }
        },
        "GENERAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "general"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `personal` - Personal\n* `general` - General"
      }
    },
    "com.posthog.task_channels#PaginatedChannelDTOListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_channels#ChannelDTO"
      },
      "traits": {}
    },
    "com.posthog.task_channels#ListTaskChannels": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#ListTaskChannelsRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#PaginatedChannelDTOList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/task_channels/",
          "code": 200
        },
        "smithy.api#documentation": "List channels\n\nList channels the requester can access, sorted by name and ID. Includes public channels, their personal #me channel, and private channels they belong to. Call provision_defaults to create missing default channels. Send limit and offset to get a page with count, next, previous, and results. Without limit, the response is an array of all accessible channels."
      }
    },
    "com.posthog.task_channels#TaskChannelWriteTypeEnum": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `public` - public\n* `private` - private"
      }
    },
    "com.posthog.task_channels#CreateTaskChannelRequestMemberIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "User IDs to add to a private channel. The requester is always a member. The endpoint ignores this field for public channels and skips users without project access."
      }
    },
    "com.posthog.task_channels#CreateTaskChannelRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Channel name, shown as #<name>. Uses lowercase letters and hyphens.",
            "smithy.api#required": {}
          }
        },
        "channel_type": {
          "target": "com.posthog.task_channels#TaskChannelWriteTypeEnum",
          "traits": {
            "smithy.api#documentation": "Use 'public' for access by all project members. Use 'private' for access by channel members only. Defaults to 'public'. This endpoint cannot create personal #me spaces.\n\n* `public` - public\n* `private` - private"
          }
        },
        "member_ids": {
          "target": "com.posthog.task_channels#CreateTaskChannelRequestMemberIdsList",
          "traits": {
            "smithy.api#documentation": "User IDs to add to a private channel. The requester is always a member. The endpoint ignores this field for public channels and skips users without project access."
          }
        },
        "star": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Star a new channel for the requester. This field does not change stars on an existing channel."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#CreateTaskChannel": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#CreateTaskChannelRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#ChannelDTO"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/task_channels/",
          "code": 200
        },
        "smithy.api#documentation": "Create a channel\n\nCreate a channel. Public channels use lowercase names with hyphens. If a public channel has that name, return it. The name general returns the project's general space. Private channels always get a new ID, even if another channel has the same name. The requester and users in member_ids with project access become members. New channels are starred for the requester unless star is false. The names \"me\" and \"personal\" are reserved."
      }
    },
    "com.posthog.task_channels#ListTaskChannelsFeedRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#PaginatedChannelFeedMessageDTOList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.task_channels#PaginatedChannelFeedMessageDTOListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_channels#ChannelFeedMessageDTO": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "com.posthog.task_channels#TaskUserBasicInfo",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "author_kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "payload": {
          "target": "com.posthog.task_channels#ChannelFeedMessageDTOPayloadMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for one system announcement in a channel's feed."
      }
    },
    "com.posthog.task_channels#ChannelFeedMessageDTOPayloadMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.task_channels#PaginatedChannelFeedMessageDTOListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_channels#ChannelFeedMessageDTO"
      },
      "traits": {}
    },
    "com.posthog.task_channels#ListTaskChannelsFeed": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#ListTaskChannelsFeedRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#PaginatedChannelFeedMessageDTOList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/task_channels/{channel_id}/feed/",
          "code": 200
        },
        "smithy.api#documentation": "List channel feed messages\n\nA channel's system announcements in chronological order."
      }
    },
    "com.posthog.task_channels#EventEnum": {
      "type": "enum",
      "members": {
        "CONTEXT_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "context_created"
          }
        },
        "CONTEXT_MD_BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "context_md_building"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `context_created` - context_created\n* `context_md_building` - context_md_building"
      }
    },
    "com.posthog.task_channels#CreateTaskChannelsFeedRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "event": {
          "target": "com.posthog.task_channels#EventEnum",
          "traits": {
            "smithy.api#documentation": "Lifecycle event key.\n\n* `context_created` - context_created\n* `context_md_building` - context_md_building",
            "smithy.api#required": {}
          }
        },
        "payload": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Structured event data, e.g. {\"context_name\": \"mobile\"}. At most 8 KB of JSON."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional explicit timestamp (within 10 minutes of now), so a client can order a burst of announcements."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#CreateTaskChannelsFeed": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#CreateTaskChannelsFeedRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#ChannelFeedMessageDTO"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/task_channels/{channel_id}/feed/",
          "code": 200
        },
        "smithy.api#documentation": "Post a channel feed message\n\nAPI for a channel's system-announcement feed — durable \"PostHog agent\" rows\n(context created, CONTEXT.md being built) rendered alongside the channel's task\ncards. Read by any team member for a public channel; personal channels are owner-only."
      }
    },
    "com.posthog.task_channels#GetTaskChannelRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#GetTaskChannel": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#GetTaskChannelRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#ChannelDTO"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/task_channels/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Get a channel"
      }
    },
    "com.posthog.task_channels#UpdateTaskChannelsPartialRequestRepositoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "GitHub repositories inherited by new tasks in this channel."
      }
    },
    "com.posthog.task_channels#UpdateTaskChannelsPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Channel name, rendered as #<name>. Normalized to lowercase-dashed."
          }
        },
        "github_integration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Team GitHub integration used for repositories linked to this channel.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "repositories": {
          "target": "com.posthog.task_channels#UpdateTaskChannelsPartialRequestRepositoriesList",
          "traits": {
            "smithy.api#documentation": "GitHub repositories inherited by new tasks in this channel."
          }
        },
        "auto_archive_after_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Days of inactivity before tasks in this channel are archived. Accepts 1 through 365. Null disables automatic archiving.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "channel_type": {
          "target": "com.posthog.task_channels#TaskChannelWriteTypeEnum",
          "traits": {
            "smithy.api#documentation": "Switch a shared space between 'public' and 'private'. Making a space private keeps only the creator and the requester as members. Making it public removes its member list. Personal #me spaces cannot change.\n\n* `public` - public\n* `private` - private"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#UpdateTaskChannelsPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#UpdateTaskChannelsPartialRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#ChannelDTO"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/task_channels/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Update a channel"
      }
    },
    "com.posthog.task_channels#TaskChannelsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#TaskChannelsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#TaskChannelsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.task_channels#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/task_channels/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Delete a channel"
      }
    },
    "com.posthog.task_channels#GetTaskChannelsContextGenerationRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#ChannelContextGeneration": {
      "type": "structure",
      "members": {
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The task currently generating this channel's CONTEXT.md, or null."
      }
    },
    "com.posthog.task_channels#GetTaskChannelsContextGeneration": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#GetTaskChannelsContextGenerationRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#ChannelContextGeneration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/task_channels/{id}/context_generation/",
          "code": 200
        },
        "smithy.api#documentation": "Get the channel's CONTEXT.md generation task"
      }
    },
    "com.posthog.task_channels#UpdateTaskChannelsContextGenerationRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#UpdateTaskChannelsContextGeneration": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#UpdateTaskChannelsContextGenerationRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#ChannelContextGeneration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/task_channels/{id}/context_generation/",
          "code": 200
        },
        "smithy.api#documentation": "Set or clear the channel's CONTEXT.md generation task"
      }
    },
    "com.posthog.task_channels#GetTaskChannelsInstructionRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#ChannelInstructionsDTO": {
      "type": "structure",
      "members": {
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.task_channels#TaskUserBasicInfo",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for a channel's CONTEXT.md instructions version."
      }
    },
    "com.posthog.task_channels#GetTaskChannelsInstruction": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#GetTaskChannelsInstructionRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#ChannelInstructionsDTO"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/task_channels/{id}/instructions/",
          "code": 200
        },
        "smithy.api#documentation": "Get channel instructions\n\nThe channel's latest CONTEXT.md instructions. A channel with no published instructions reads as a blank version 0 — publish against base_version 0 to create version 1."
      }
    },
    "com.posthog.task_channels#UpdateTaskChannelsInstructionRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The complete markdown instructions (CONTEXT.md) for the channel.",
            "smithy.api#required": {}
          }
        },
        "base_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optimistic-concurrency guard: the version the edit is based on (0 for a channel with no instructions yet). A stale base is rejected with 409; omit to publish unguarded.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#UpdateTaskChannelsInstruction": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#UpdateTaskChannelsInstructionRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#ChannelInstructionsDTO"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/task_channels/{id}/instructions/",
          "code": 200
        },
        "smithy.api#documentation": "Publish channel instructions\n\nPublish a new version of the channel's CONTEXT.md instructions. Pass base_version (the version you read) so a concurrent edit is rejected with 409 instead of overwritten."
      }
    },
    "com.posthog.task_channels#UpdateTaskChannelsInstructionsPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The complete markdown instructions (CONTEXT.md) for the channel."
          }
        },
        "base_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optimistic-concurrency guard: the version the edit is based on (0 for a channel with no instructions yet). A stale base is rejected with 409; omit to publish unguarded.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#UpdateTaskChannelsInstructionsPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#UpdateTaskChannelsInstructionsPartialRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#ChannelInstructionsDTO"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/task_channels/{id}/instructions/",
          "code": 200
        },
        "smithy.api#documentation": "Publish channel instructions\n\nPublish a new version of the channel's CONTEXT.md instructions. Pass base_version (the version you read) so a concurrent edit is rejected with 409 instead of overwritten."
      }
    },
    "com.posthog.task_channels#TaskChannelsInstructionsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#TaskChannelsInstructionsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#TaskChannelsInstructionsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/task_channels/{id}/instructions/",
          "code": 200
        },
        "smithy.api#documentation": "Delete channel instructions"
      }
    },
    "com.posthog.task_channels#GetTaskChannelsInstructionsVersionRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#PaginatedChannelInstructionsDTOList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.task_channels#PaginatedChannelInstructionsDTOListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_channels#PaginatedChannelInstructionsDTOListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_channels#ChannelInstructionsDTO"
      },
      "traits": {}
    },
    "com.posthog.task_channels#GetTaskChannelsInstructionsVersion": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#GetTaskChannelsInstructionsVersionRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#PaginatedChannelInstructionsDTOList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/task_channels/{id}/instructions/versions/",
          "code": 200
        },
        "smithy.api#documentation": "List channel instruction versions"
      }
    },
    "com.posthog.task_channels#GetTaskChannelsMemberRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#GetTaskChannelsMemberResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_channels#TaskUserBasicInfo"
      },
      "traits": {}
    },
    "com.posthog.task_channels#GetTaskChannelsMemberResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.task_channels#GetTaskChannelsMemberResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.task_channels#GetTaskChannelsMember": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#GetTaskChannelsMemberRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#GetTaskChannelsMemberResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/task_channels/{id}/members/",
          "code": 200
        },
        "smithy.api#documentation": "List a channel's members\n\nList the members of a private channel. Return an empty list for public and personal channels. Return 404 if the requester cannot access the channel."
      }
    },
    "com.posthog.task_channels#UpdateTaskChannelsMemberRequestUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Required list of member user IDs. This list replaces the current members. The creator remains a member. Send an empty list to remove all other members. Each submitted user must have project access."
      }
    },
    "com.posthog.task_channels#UpdateTaskChannelsMemberRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "user_ids": {
          "target": "com.posthog.task_channels#UpdateTaskChannelsMemberRequestUserIdsList",
          "traits": {
            "smithy.api#documentation": "Required list of member user IDs. This list replaces the current members. The creator remains a member. Send an empty list to remove all other members. Each submitted user must have project access.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#UpdateTaskChannelsMemberResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_channels#TaskUserBasicInfo"
      },
      "traits": {}
    },
    "com.posthog.task_channels#UpdateTaskChannelsMemberResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.task_channels#UpdateTaskChannelsMemberResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.task_channels#UpdateTaskChannelsMember": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#UpdateTaskChannelsMemberRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#UpdateTaskChannelsMemberResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/task_channels/{id}/members/",
          "code": 200
        },
        "smithy.api#documentation": "Replace a private channel's members\n\nReplace the members of a private channel. Any member can update this list. The creator remains a member. Return 400 for public and personal channels."
      }
    },
    "com.posthog.task_channels#SpaceSetupKindEnum": {
      "type": "enum",
      "members": {
        "GOAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "goal"
          }
        },
        "FEATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feature"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `goal` - Goal\n* `feature` - Feature"
      }
    },
    "com.posthog.task_channels#SpaceGoalWrite": {
      "type": "structure",
      "members": {
        "statement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The goal in one or two sentences, e.g. 'Increase the weekly activation rate'.",
            "smithy.api#required": {}
          }
        },
        "period": {
          "target": "com.posthog.task_channels#CalendarUnitEnum",
          "traits": {
            "smithy.api#documentation": "How often the metric is measured.\n\n* `day` - Day\n* `week` - Week\n* `month` - Month"
          }
        },
        "direction": {
          "target": "com.posthog.task_channels#SpaceGoalDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Whether the target is a floor ('at_least') or a ceiling ('at_most').\n\n* `at_least` - At least\n* `at_most` - At most"
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target value as typed, e.g. '20%' or '1500'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deadline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date the target should be reached.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "insight_short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short id of an existing insight that measures the goal, when there is one.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metric a goal space should move."
      }
    },
    "com.posthog.task_channels#CalendarUnitEnum": {
      "type": "enum",
      "members": {
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `day` - Day\n* `week` - Week\n* `month` - Month"
      }
    },
    "com.posthog.task_channels#SpaceGoalDirectionEnum": {
      "type": "enum",
      "members": {
        "AT_LEAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "at_least"
          }
        },
        "AT_MOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "at_most"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `at_least` - At least\n* `at_most` - At most"
      }
    },
    "com.posthog.task_channels#SpaceFeatureWrite": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature name as people call it.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What the feature does, in a sentence."
          }
        },
        "flag_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key of the feature flag that gates it, if any.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The feature a feature space is set up around."
      }
    },
    "com.posthog.task_channels#CreateTaskChannelsSetupRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.posthog.task_channels#SpaceSetupKindEnum",
          "traits": {
            "smithy.api#documentation": "What the space is set up for.\n\n* `goal` - Goal\n* `feature` - Feature",
            "smithy.api#required": {}
          }
        },
        "goal": {
          "target": "com.posthog.task_channels#SpaceGoalWrite",
          "traits": {
            "smithy.api#documentation": "Required when kind is 'goal'."
          }
        },
        "feature": {
          "target": "com.posthog.task_channels#SpaceFeatureWrite",
          "traits": {
            "smithy.api#documentation": "Required when kind is 'feature'."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository the loops work in, as 'owner/name'. Defaults to the channel's first repository.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#SpaceSetupStartedDTO": {
      "type": "structure",
      "members": {
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The setup task that was started for the channel."
      }
    },
    "com.posthog.task_channels#CreateTaskChannelsSetup": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#CreateTaskChannelsSetupRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#SpaceSetupStartedDTO"
      },
      "errors": [
        {
          "target": "com.posthog.task_channels#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/task_channels/{id}/setup/",
          "code": 200
        },
        "smithy.api#documentation": "Set a space up for a goal or a feature\n\nStarts one unattended task in the channel that resolves the metric, writes the context page and, for a goal, creates the tracking canvas and the loops. The task becomes the channel's context generation task."
      }
    },
    "com.posthog.task_channels#CreateTaskChannelsStarRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "starred": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#CreateTaskChannelsStar": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#CreateTaskChannelsStarRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/task_channels/{id}/star/",
          "code": 200
        },
        "smithy.api#documentation": "Star or unstar a channel for the requesting user"
      }
    },
    "com.posthog.task_channels#GetTaskChannelsContributorRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#ChannelContributorsDTO": {
      "type": "structure",
      "members": {
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The channel these people worked in.",
            "smithy.api#required": {}
          }
        },
        "people": {
          "target": "com.posthog.task_channels#ChannelContributorsDTOPeopleList",
          "traits": {
            "smithy.api#documentation": "Everyone who owns at least one task or canvas in the channel, most recently active first. Deleted tasks and canvases do not count.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The people who own at least one task or canvas in a channel."
      }
    },
    "com.posthog.task_channels#ChannelContributorsDTOPeopleList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_channels#TaskUserBasicInfo"
      },
      "traits": {
        "smithy.api#documentation": "Everyone who owns at least one task or canvas in the channel, most recently active first. Deleted tasks and canvases do not count."
      }
    },
    "com.posthog.task_channels#GetTaskChannelsContributorResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_channels#ChannelContributorsDTO"
      },
      "traits": {}
    },
    "com.posthog.task_channels#GetTaskChannelsContributorResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.task_channels#GetTaskChannelsContributorResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.task_channels#GetTaskChannelsContributor": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#GetTaskChannelsContributorRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#GetTaskChannelsContributorResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/task_channels/contributors/",
          "code": 200
        },
        "smithy.api#documentation": "List who worked in each channel\n\nFor each channel the requester can access, list the people who own at least one task or canvas in it, most recently active first. Channels with no owners are left out."
      }
    },
    "com.posthog.task_channels#CreateTaskChannelsOnboardingSessionRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#OnboardingSession": {
      "type": "structure",
      "members": {
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The agent session opened in the team's #general space.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The first-run session that was started for the requester."
      }
    },
    "com.posthog.task_channels#CreateTaskChannelsOnboardingSession": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#CreateTaskChannelsOnboardingSessionRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#OnboardingSession"
      },
      "errors": [
        {
          "target": "com.posthog.task_channels#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/task_channels/onboarding_session/",
          "code": 200
        },
        "smithy.api#documentation": "Start a first-run onboarding session\n\nOpen the agent session a new user lands in, in the team's #general space. Reads the company's homepage, so it takes a few seconds and is deliberately not part of provisioning, which blocks the app opening. Callers fire it without awaiting it when provision_defaults reports personal_created."
      }
    },
    "com.posthog.task_channels#CreateTaskChannelsOnboardingSessionTestRequestOtherMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Display names of other Desktop users in the organization."
      }
    },
    "com.posthog.task_channels#CreateTaskChannelsOnboardingSessionTestRequestSourcesEnabledList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Signal sources that were already enabled."
      }
    },
    "com.posthog.task_channels#CreateTaskChannelsOnboardingSessionTestRequestSourcesWatchingList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Signal sources the onboarding flow is watching."
      }
    },
    "com.posthog.task_channels#CreateTaskChannelsOnboardingSessionTestRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional LLM model identifier for the test session. Omit to use the plan default.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "company_domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Company domain to research. Blank simulates a personal email address."
          }
        },
        "joining_existing_organization": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user is joining an organization that already has shared context."
          }
        },
        "has_events": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the project has ingested events."
          }
        },
        "signal_reports_waiting": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of findings waiting in #general."
          }
        },
        "other_members": {
          "target": "com.posthog.task_channels#CreateTaskChannelsOnboardingSessionTestRequestOtherMembersList",
          "traits": {
            "smithy.api#documentation": "Display names of other Desktop users in the organization."
          }
        },
        "sources_enabled": {
          "target": "com.posthog.task_channels#CreateTaskChannelsOnboardingSessionTestRequestSourcesEnabledList",
          "traits": {
            "smithy.api#documentation": "Signal sources that were already enabled."
          }
        },
        "sources_watching": {
          "target": "com.posthog.task_channels#CreateTaskChannelsOnboardingSessionTestRequestSourcesWatchingList",
          "traits": {
            "smithy.api#documentation": "Signal sources the onboarding flow is watching."
          }
        },
        "sources_newly_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether onboarding enabled any signal sources."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#OnboardingSessionTestResponse": {
      "type": "structure",
      "members": {
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The agent session opened in the team's #general space.",
            "smithy.api#required": {}
          }
        },
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The requester's personal space containing the session.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The first-run session that was started for the requester."
      }
    },
    "com.posthog.task_channels#CreateTaskChannelsOnboardingSessionTest": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#CreateTaskChannelsOnboardingSessionTestRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#OnboardingSessionTestResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/task_channels/onboarding_session_test/",
          "code": 200
        },
        "smithy.api#documentation": "Start a test first-run onboarding session\n\nFeature-flagged test path that creates a repeatable session from explicit prompt-building inputs, in the requester's personal space."
      }
    },
    "com.posthog.task_channels#CreateTaskChannelsProvisionDefaultRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#ProvisionedChannels": {
      "type": "structure",
      "members": {
        "channels": {
          "target": "com.posthog.task_channels#ProvisionedChannelsChannelsList",
          "traits": {
            "smithy.api#documentation": "The full channel list after provisioning, same shape as the list endpoint.",
            "smithy.api#required": {}
          }
        },
        "personal_created": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this call created the requester's personal #me channel.",
            "smithy.api#required": {}
          }
        },
        "general_created": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this call created the team's shared #general channel. True only for the first user to provision it, so clients can branch first-user setup on it.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The requester's default channels, plus whether this call is what created them."
      }
    },
    "com.posthog.task_channels#ProvisionedChannelsChannelsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_channels#ChannelDTO"
      },
      "traits": {
        "smithy.api#documentation": "The full channel list after provisioning, same shape as the list endpoint."
      }
    },
    "com.posthog.task_channels#CreateTaskChannelsProvisionDefault": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#CreateTaskChannelsProvisionDefaultRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#ProvisionedChannels"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/task_channels/provision_defaults/",
          "code": 200
        },
        "smithy.api#documentation": "Provision default channels\n\nGet-or-create the requester's personal #me channel and the team's shared #general channel, and report which of the two this call created. Idempotent."
      }
    },
    "com.posthog.task_channels#CreateTaskChannelsTeachingCanvasTestRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_channels#TeachingCanvas": {
      "type": "structure",
      "members": {
        "canvas_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The teaching canvas that was resolved or created.",
            "smithy.api#required": {}
          }
        },
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The requester's personal space containing the canvas.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_channels#CreateTaskChannelsTeachingCanvasTest": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_channels#CreateTaskChannelsTeachingCanvasTestRequest"
      },
      "output": {
        "target": "com.posthog.task_channels#TeachingCanvas"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/task_channels/teaching_canvas_test/",
          "code": 200
        },
        "smithy.api#documentation": "Create the teaching canvas for testing\n\nFeature-flagged test path that resolves or creates the teaching canvas in the requester's personal space."
      }
    },
    "com.posthog.task_channels#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.posthog.task_channels#TaskChannels": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.task_channels#ListTaskChannels"
        },
        {
          "target": "com.posthog.task_channels#CreateTaskChannel"
        },
        {
          "target": "com.posthog.task_channels#ListTaskChannelsFeed"
        },
        {
          "target": "com.posthog.task_channels#CreateTaskChannelsFeed"
        },
        {
          "target": "com.posthog.task_channels#GetTaskChannel"
        },
        {
          "target": "com.posthog.task_channels#UpdateTaskChannelsPartial"
        },
        {
          "target": "com.posthog.task_channels#TaskChannelsDestroy"
        },
        {
          "target": "com.posthog.task_channels#GetTaskChannelsContextGeneration"
        },
        {
          "target": "com.posthog.task_channels#UpdateTaskChannelsContextGeneration"
        },
        {
          "target": "com.posthog.task_channels#GetTaskChannelsInstruction"
        },
        {
          "target": "com.posthog.task_channels#UpdateTaskChannelsInstruction"
        },
        {
          "target": "com.posthog.task_channels#UpdateTaskChannelsInstructionsPartial"
        },
        {
          "target": "com.posthog.task_channels#TaskChannelsInstructionsDestroy"
        },
        {
          "target": "com.posthog.task_channels#GetTaskChannelsInstructionsVersion"
        },
        {
          "target": "com.posthog.task_channels#GetTaskChannelsMember"
        },
        {
          "target": "com.posthog.task_channels#UpdateTaskChannelsMember"
        },
        {
          "target": "com.posthog.task_channels#CreateTaskChannelsSetup"
        },
        {
          "target": "com.posthog.task_channels#CreateTaskChannelsStar"
        },
        {
          "target": "com.posthog.task_channels#GetTaskChannelsContributor"
        },
        {
          "target": "com.posthog.task_channels#CreateTaskChannelsOnboardingSession"
        },
        {
          "target": "com.posthog.task_channels#CreateTaskChannelsOnboardingSessionTest"
        },
        {
          "target": "com.posthog.task_channels#CreateTaskChannelsProvisionDefault"
        },
        {
          "target": "com.posthog.task_channels#CreateTaskChannelsTeachingCanvasTest"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
