{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.tasks#LegacyDesktopAccessResponse": {
      "type": "structure",
      "members": {
        "has_access": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current project can use PostHog Desktop.",
            "smithy.api#required": {}
          }
        },
        "has_loops_access": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the independent Loops feature is enabled.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tasks#GetCodeInvitesCheckAccess": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.posthog.tasks#LegacyDesktopAccessResponse"
      },
      "errors": [
        {
          "target": "com.posthog.tasks#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/code/invites/check-access/",
          "code": 200
        },
        "smithy.api#documentation": "Check PostHog Desktop access\n\nCompatibility endpoint for released PostHog Desktop clients."
      }
    },
    "com.posthog.tasks#GetDesktopAccessRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tasks#DesktopAccessResponse": {
      "type": "structure",
      "members": {
        "allowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the selected project can use PostHog Desktop.",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.posthog.tasks#DesktopAccessReasonEnum",
          "traits": {
            "smithy.api#documentation": "Why Desktop access is blocked, or null when access is allowed.\n\n* `startup_plan` - startup_plan\n* `prepaid_credits` - prepaid_credits",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tasks#DesktopAccessReasonEnum": {
      "type": "enum",
      "members": {
        "STARTUP_PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startup_plan"
          }
        },
        "PREPAID_CREDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prepaid_credits"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `startup_plan` - startup_plan\n* `prepaid_credits` - prepaid_credits"
      }
    },
    "com.posthog.tasks#GetDesktopAccess": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tasks#GetDesktopAccessRequest"
      },
      "output": {
        "target": "com.posthog.tasks#DesktopAccessResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/desktop/access/",
          "code": 200
        },
        "smithy.api#documentation": "Check PostHog Desktop access\n\nEvaluate Desktop access for the selected project and organization."
      }
    },
    "com.posthog.tasks#ListTasksRequestArchived": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tasks#ListTasksRequestCiStatus": {
      "type": "enum",
      "members": {
        "PASSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "passing"
          }
        },
        "FAILING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failing"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tasks#ListTasksRequestClientProvenance": {
      "type": "enum",
      "members": {
        "POSTHOG_DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog_desktop"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tasks#ListTasksRequestExcludeOriginProduct": {
      "type": "enum",
      "members": {
        "ONBOARDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "onboarding"
          }
        },
        "ERROR_TRACKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error_tracking"
          }
        },
        "EVAL_CLUSTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eval_clusters"
          }
        },
        "USER_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_created"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        },
        "SUPPORT_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "support_queue"
          }
        },
        "SESSION_SUMMARIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session_summaries"
          }
        },
        "POSTHOG_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog_ai"
          }
        },
        "EXPERIMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "experiments"
          }
        },
        "SIGNAL_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signal_report"
          }
        },
        "AUTORESEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autoresearch"
          }
        },
        "SIGNALS_SCOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signals_scout"
          }
        },
        "SCOUT_SUGGESTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scout_suggestions"
          }
        },
        "SUPPORT_REPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "support_reply"
          }
        },
        "HOGDESK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hogdesk"
          }
        },
        "REVIEW_HOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "review_hog"
          }
        },
        "IMAGE_BUILDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_builder"
          }
        },
        "LOOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "loop"
          }
        },
        "MCP_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mcp_analytics"
          }
        },
        "SIGNALS_CHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signals_chat"
          }
        },
        "TASK_ANALYSIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "task_analysis"
          }
        },
        "WORKFLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workflow"
          }
        },
        "SPACE_SETUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space_setup"
          }
        },
        "BUSINESS_KNOWLEDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "business_knowledge"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tasks#ListTasksRequestInternal": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tasks#ListTasksRequestOrdering": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-created_at"
          }
        },
        "LAST_ACTIVITY_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-last_activity_at"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tasks#ListTasksRequestPrState": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "MERGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "merged"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tasks#ListTasksRequestStatus": {
      "type": "enum",
      "members": {
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_started"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tasks#ListTasksRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "all_team_tasks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "all_team_tasks",
            "smithy.api#documentation": "Local development only. With ph_debug=true, list all project tasks for debugging. Ignored outside local development."
          }
        },
        "archived": {
          "target": "com.posthog.tasks#ListTasksRequestArchived",
          "traits": {
            "smithy.api#httpQuery": "archived",
            "smithy.api#documentation": "Filter by archived state. Defaults to excluding archived tasks. Use 'true' to list only archived tasks, 'false' for the default, or 'all' to include both.\n\n* `true` - true\n* `false` - false\n* `all` - all"
          }
        },
        "basic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "basic",
            "smithy.api#documentation": "With true, return basic list rows for summary surfaces: each row omits the full description and includes description_preview, its first 1000 characters. Defaults to false, which returns full task rows with description. The search parameter still matches description text server-side."
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "channel",
            "smithy.api#documentation": "Filter tasks to a channel's feed."
          }
        },
        "ci_status": {
          "target": "com.posthog.tasks#ListTasksRequestCiStatus",
          "traits": {
            "smithy.api#httpQuery": "ci_status",
            "smithy.api#documentation": "Filter tasks by the CI check rollup on their most recent run's pull request, as last observed from GitHub. 'none' means the PR has no checks.\n\n* `passing` - passing\n* `failing` - failing\n* `pending` - pending\n* `none` - none"
          }
        },
        "client_provenance": {
          "target": "com.posthog.tasks#ListTasksRequestClientProvenance",
          "traits": {
            "smithy.api#httpQuery": "client_provenance",
            "smithy.api#documentation": "Filter by the client that created the task\n\n* `posthog_desktop` - PostHog Desktop"
          }
        },
        "commented_by": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "commented_by",
            "smithy.api#documentation": "Filter to tasks carrying a thread comment written by this user ID."
          }
        },
        "created_by": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "created_by",
            "smithy.api#documentation": "Filter by creator user ID"
          }
        },
        "exclude_origin_product": {
          "target": "com.posthog.tasks#ListTasksRequestExcludeOriginProduct",
          "traits": {
            "smithy.api#httpQuery": "exclude_origin_product",
            "smithy.api#documentation": "Exclude tasks with this origin product from the results\n\n* `onboarding` - Onboarding\n* `error_tracking` - Error Tracking\n* `eval_clusters` - Eval Clusters\n* `user_created` - User Created\n* `slack` - Slack\n* `support_queue` - Support Queue\n* `session_summaries` - Session Summaries\n* `posthog_ai` - PostHog AI\n* `experiments` - Experiments\n* `signal_report` - Signal Report\n* `autoresearch` - Autoresearch\n* `signals_scout` - Signals Scout\n* `scout_suggestions` - Signals Scout Suggestions\n* `support_reply` - Support Reply\n* `hogdesk` - HogDesk\n* `review_hog` - ReviewHog\n* `image_builder` - Image Builder\n* `loop` - Loop\n* `mcp_analytics` - MCP Analytics\n* `signals_chat` - Signals Chat\n* `task_analysis` - Task Analysis\n* `workflow` - Workflow\n* `space_setup` - Space Setup\n* `business_knowledge` - Business Knowledge"
          }
        },
        "hog_flow_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "hog_flow_id",
            "smithy.api#documentation": "Filter tasks to the runs spawned by this workflow's 'Create AI task' action."
          }
        },
        "internal": {
          "target": "com.posthog.tasks#ListTasksRequestInternal",
          "traits": {
            "smithy.api#httpQuery": "internal",
            "smithy.api#documentation": "Filter by the internal flag, which controls whether a task is shown by default, not whether it is accessible. Defaults to excluding internal tasks. Use 'all' to include both internal and user-facing tasks, or 'true' to list only internal tasks. All values are available to any team member; access stays governed by task visibility.\n\n* `true` - true\n* `false` - false\n* `all` - all"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "mentions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "mentions",
            "smithy.api#documentation": "Filter to tasks whose thread mentions this user ID."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "ordering": {
          "target": "com.posthog.tasks#ListTasksRequestOrdering",
          "traits": {
            "smithy.api#httpQuery": "ordering",
            "smithy.api#documentation": "Sort order. '-last_activity_at' is newest activity first, where activity means a thread message or a run starting, streaming, or finishing. Defaults to '-created_at'.\n\n* `-created_at` - -created_at\n* `-last_activity_at` - -last_activity_at"
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "organization",
            "smithy.api#documentation": "Filter by repository organization"
          }
        },
        "origin_product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "origin_product",
            "smithy.api#documentation": "Filter by origin product"
          }
        },
        "pinned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "pinned",
            "smithy.api#documentation": "With true, only tasks the requesting user has pinned."
          }
        },
        "pr_state": {
          "target": "com.posthog.tasks#ListTasksRequestPrState",
          "traits": {
            "smithy.api#httpQuery": "pr_state",
            "smithy.api#documentation": "Filter tasks by the state of their most recent run's pull request, as last observed from GitHub (webhooks plus the CI follow-up snapshot).\n\n* `open` - open\n* `draft` - draft\n* `merged` - merged\n* `closed` - closed"
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repository",
            "smithy.api#documentation": "Filter by repository name (can include org/repo format)"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Case-insensitive substring search over task title and description. A numeric value also matches the task number. An empty value disables the filter."
          }
        },
        "stage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "stage",
            "smithy.api#documentation": "Filter by task run stage"
          }
        },
        "status": {
          "target": "com.posthog.tasks#ListTasksRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter tasks by the status of their most recent run.\n\n* `not_started` - not_started\n* `queued` - queued\n* `in_progress` - in_progress\n* `completed` - completed\n* `failed` - failed\n* `cancelled` - cancelled"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tasks#PaginatedTaskListItemList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.tasks#PaginatedTaskListItemListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tasks#TaskListItem": {
      "type": "union",
      "members": {
        "TaskDetailDTO": {
          "target": "com.posthog.tasks#TaskDetailDTO"
        },
        "TaskBasic": {
          "target": "com.posthog.tasks#TaskBasic"
        }
      },
      "traits": {}
    },
    "com.posthog.tasks#TaskDetailDTO": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "task_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title_manually_set": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "origin_product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "runtime": {
          "target": "com.posthog.tasks#TaskRuntimeEnum",
          "traits": {
            "smithy.api#documentation": "Agent protocol and harness used for this task's runs.\n\n* `acp` - ACP\n* `pi` - Pi",
            "smithy.api#required": {}
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "repositories": {
          "target": "com.posthog.tasks#TaskDetailDTORepositoriesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "github_integration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "github_user_integration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "signal_report": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "json_schema": {
          "target": "com.posthog.tasks#TaskDetailDTOJsonSchemaMap",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "internal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archived_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latest_run": {
          "target": "com.posthog.tasks#TaskRunDetailDTO",
          "traits": {
            "smithy.api#documentation": "Latest run details for this task",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_activity_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.tasks#TaskUserBasicInfo",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ci_prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "slack_thread_references": {
          "target": "com.posthog.tasks#TaskDetailDTOSlackThreadReferencesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "origin_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable key of the server-side flow that created this task, e.g. `desktop_onboarding_session:<user_id>`. Null for tasks people create themselves.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detail response for a task.\n\nReads from a frozen ``TaskDetailDTO`` produced by the facade. ``github_integration`` /\n``github_user_integration`` are integration ids, ``signal_report`` is the report id, and\n``latest_run`` nests the run-detail shape. ``created_by`` mirrors core ``UserBasicSerializer``."
      }
    },
    "com.posthog.tasks#TaskRuntimeEnum": {
      "type": "enum",
      "members": {
        "ACP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acp"
          }
        },
        "PI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pi"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `acp` - ACP\n* `pi` - Pi"
      }
    },
    "com.posthog.tasks#TaskDetailDTORepositoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.tasks#TaskDetailDTOJsonSchemaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.tasks#TaskRunDetailDTO": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent task id this run belongs to.",
            "smithy.api#required": {}
          }
        },
        "stage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "runtime_adapter": {
          "target": "com.posthog.tasks#RuntimeAdapterEnum",
          "traits": {
            "smithy.api#documentation": "Configured runtime adapter for this run, such as 'claude' or 'codex'.\n\n* `claude` - claude\n* `codex` - codex",
            "com.distilled.openapi#nullable": {}
          }
        },
        "provider": {
          "target": "com.posthog.tasks#TaskRunDetailDTOProviderEnum",
          "traits": {
            "smithy.api#documentation": "Configured LLM provider for this run, such as 'anthropic' or 'openai'.\n\n* `anthropic` - anthropic\n* `openai` - openai",
            "com.distilled.openapi#nullable": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configured LLM model identifier for this run.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "reasoning_effort": {
          "target": "com.posthog.tasks#TaskRunReasoningEffortEnum",
          "traits": {
            "smithy.api#documentation": "Configured reasoning effort for this run when the selected model supports it.\n\n* `off` - off\n* `minimal` - minimal\n* `low` - low\n* `medium` - medium\n* `high` - high\n* `xhigh` - xhigh\n* `max` - max\n* `ultracode` - ultracode",
            "com.distilled.openapi#nullable": {}
          }
        },
        "log_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Presigned S3 URL for log access (valid for 1 hour).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "error_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "output": {
          "target": "com.posthog.tasks#TaskRunDetailDTOOutputMap",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "task_summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Latest summary for this task, including a summary inherited from an earlier run.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "task_tags": {
          "target": "com.posthog.tasks#TaskRunDetailDTOTaskTagsList",
          "traits": {
            "smithy.api#documentation": "Latest slug tags for this task, including tags inherited from an earlier run.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.posthog.tasks#TaskRunDetailDTOStateMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "artifacts": {
          "target": "com.posthog.tasks#TaskRunDetailDTOArtifactsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "scheduled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Earliest start time in UTC. Null for runs without a schedule.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "preview_available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when this run's sandbox serves a dev stack preview, so clients can offer the preview link. Open it through the run's `preview/` endpoint, which mints a fresh access token on every request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detail response for a task run.\n\nReads from a frozen ``TaskRunDetailDTO`` produced by the facade mapper (which computes the\npresigned ``log_url`` and parses ``runtime_adapter`` / ``provider`` / ``model`` /\n``reasoning_effort`` off the run state). ``task`` is the parent task id. Reused as the nested\n``latest_run`` shape by the task detail response."
      }
    },
    "com.posthog.tasks#RuntimeAdapterEnum": {
      "type": "enum",
      "members": {
        "CLAUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "claude"
          }
        },
        "CODEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "codex"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `claude` - claude\n* `codex` - codex"
      }
    },
    "com.posthog.tasks#TaskRunDetailDTOProviderEnum": {
      "type": "enum",
      "members": {
        "ANTHROPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic"
          }
        },
        "OPENAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `anthropic` - anthropic\n* `openai` - openai"
      }
    },
    "com.posthog.tasks#TaskRunReasoningEffortEnum": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minimal"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "ULTRACODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ultracode"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `off` - off\n* `minimal` - minimal\n* `low` - low\n* `medium` - medium\n* `high` - high\n* `xhigh` - xhigh\n* `max` - max\n* `ultracode` - ultracode"
      }
    },
    "com.posthog.tasks#TaskRunDetailDTOOutputMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.tasks#TaskRunDetailDTOTaskTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Latest slug tags for this task, including tags inherited from an earlier run."
      }
    },
    "com.posthog.tasks#TaskRunDetailDTOStateMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.tasks#TaskRunArtifactResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable identifier for the artifact within this run"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artifact file name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artifact classification (plan, context, etc.)"
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source of the artifact, such as agent_output or user_attachment"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Artifact size in bytes"
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional MIME type"
          }
        },
        "metadata": {
          "target": "com.posthog.tasks#TaskRunArtifactMetadata",
          "traits": {
            "smithy.api#documentation": "Structured metadata for a skill bundle or a PostHog object reference."
          }
        },
        "storage_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "S3 object key for file artifacts. Reference artifacts do not have one."
          }
        },
        "uploaded_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the artifact was uploaded or registered"
          }
        },
        "uploaded_by": {
          "target": "com.posthog.tasks#UploadedByEnum",
          "traits": {
            "smithy.api#documentation": "Whether the artifact version was uploaded by the task agent or an interactive user.\n\n* `agent` - agent\n* `user` - user"
          }
        },
        "uploaded_by_user_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "User id for an interactive user upload. Absent for agent uploads and legacy entries."
          }
        },
        "dismissed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when a user dismissed the artifact. Absent while the artifact is shown."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable download URL for the artifact. Populated on the finalize-upload response so the caller can link to the file; it redirects to a fresh presigned URL on each request and is not persisted on the manifest."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tasks#TaskRunArtifactMetadata": {
      "type": "union",
      "members": {
        "TaskRunSkillBundleMetadata": {
          "target": "com.posthog.tasks#TaskRunSkillBundleMetadata"
        },
        "TaskRunPostHogReferenceMetadata": {
          "target": "com.posthog.tasks#TaskRunPostHogReferenceMetadata"
        }
      },
      "traits": {}
    },
    "com.posthog.tasks#TaskRunSkillBundleMetadata": {
      "type": "structure",
      "members": {
        "skill_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the local skill included in a skill_bundle artifact.",
            "smithy.api#required": {}
          }
        },
        "skill_source": {
          "target": "com.posthog.tasks#SkillSourceEnum",
          "traits": {
            "smithy.api#documentation": "Local source for the uploaded skill bundle, such as user or repo.\n\n* `user` - user\n* `repo` - repo\n* `marketplace` - marketplace\n* `codex` - codex",
            "smithy.api#required": {}
          }
        },
        "content_sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SHA-256 hex digest of the uploaded skill bundle bytes.",
            "smithy.api#required": {}
          }
        },
        "bundle_format": {
          "target": "com.posthog.tasks#BundleFormatEnum",
          "traits": {
            "smithy.api#documentation": "Archive format used for the local skill bundle.\n\n* `zip` - zip",
            "smithy.api#required": {}
          }
        },
        "schema_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version of the local skill bundle metadata schema.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tasks#SkillSourceEnum": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo"
          }
        },
        "MARKETPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketplace"
          }
        },
        "CODEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "codex"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `user` - user\n* `repo` - repo\n* `marketplace` - marketplace\n* `codex` - codex"
      }
    },
    "com.posthog.tasks#BundleFormatEnum": {
      "type": "enum",
      "members": {
        "ZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zip"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `zip` - zip"
      }
    },
    "com.posthog.tasks#TaskRunPostHogReferenceMetadata": {
      "type": "structure",
      "members": {
        "reference_type": {
          "target": "com.posthog.tasks#ReferenceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Reference metadata type. posthog_object identifies a live PostHog object.\n\n* `posthog_object` - posthog_object",
            "smithy.api#required": {}
          }
        },
        "object_kind": {
          "target": "com.posthog.tasks#ObjectKindEnum",
          "traits": {
            "smithy.api#documentation": "PostHog object kind used to resolve the reference.\n\n* `insight` - insight\n* `hogql` - hogql\n* `dashboard` - dashboard\n* `error` - error\n* `replay` - replay\n* `flag` - flag\n* `experiment` - experiment\n* `survey` - survey\n* `ticket` - ticket\n* `report` - report\n* `trace` - trace\n* `eval` - eval\n* `event` - event\n* `cohort` - cohort\n* `action` - action\n* `person` - person",
            "smithy.api#required": {}
          }
        },
        "object_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exact PostHog object identifier, flag key, event name, or SQL query.",
            "smithy.api#required": {}
          }
        },
        "source_message_ids": {
          "target": "com.posthog.tasks#TaskRunPostHogReferenceMetadataSourceMessageIdsList",
          "traits": {
            "smithy.api#documentation": "Completed assistant message identifiers that referenced the object.",
            "smithy.api#required": {}
          }
        },
        "occurrence_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of distinct completed assistant messages that referenced the object.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tasks#ReferenceTypeEnum": {
      "type": "enum",
      "members": {
        "POSTHOG_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog_object"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `posthog_object` - posthog_object"
      }
    },
    "com.posthog.tasks#ObjectKindEnum": {
      "type": "enum",
      "members": {
        "INSIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "insight"
          }
        },
        "HOGQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hogql"
          }
        },
        "DASHBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dashboard"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "REPLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "replay"
          }
        },
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag"
          }
        },
        "EXPERIMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "experiment"
          }
        },
        "SURVEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "survey"
          }
        },
        "TICKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ticket"
          }
        },
        "REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "report"
          }
        },
        "TRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trace"
          }
        },
        "EVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eval"
          }
        },
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event"
          }
        },
        "COHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cohort"
          }
        },
        "ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action"
          }
        },
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `insight` - insight\n* `hogql` - hogql\n* `dashboard` - dashboard\n* `error` - error\n* `replay` - replay\n* `flag` - flag\n* `experiment` - experiment\n* `survey` - survey\n* `ticket` - ticket\n* `report` - report\n* `trace` - trace\n* `eval` - eval\n* `event` - event\n* `cohort` - cohort\n* `action` - action\n* `person` - person"
      }
    },
    "com.posthog.tasks#TaskRunPostHogReferenceMetadataSourceMessageIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Completed assistant message identifiers that referenced the object."
      }
    },
    "com.posthog.tasks#UploadedByEnum": {
      "type": "enum",
      "members": {
        "AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `agent` - agent\n* `user` - user"
      }
    },
    "com.posthog.tasks#TaskRunDetailDTOArtifactsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tasks#TaskRunArtifactResponse"
      },
      "traits": {}
    },
    "com.posthog.tasks#TaskUserBasicInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.tasks#TaskUserBasicInfoHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for a task creator, mirroring core ``UserBasicSerializer`` output."
      }
    },
    "com.posthog.tasks#TaskUserBasicInfoHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.tasks#SlackThreadReferenceDTO": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tasks#TaskDetailDTOSlackThreadReferencesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tasks#SlackThreadReferenceDTO"
      },
      "traits": {}
    },
    "com.posthog.tasks#TaskBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "task_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title_manually_set": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "origin_product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "runtime": {
          "target": "com.posthog.tasks#TaskRuntimeEnum",
          "traits": {
            "smithy.api#documentation": "Agent protocol and harness used for this task's runs.\n\n* `acp` - ACP\n* `pi` - Pi",
            "smithy.api#required": {}
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "repositories": {
          "target": "com.posthog.tasks#TaskBasicRepositoriesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "github_integration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "github_user_integration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "signal_report": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "json_schema": {
          "target": "com.posthog.tasks#TaskBasicJsonSchemaMap",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "internal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archived_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latest_run": {
          "target": "com.posthog.tasks#TaskRunDetailDTO",
          "traits": {
            "smithy.api#documentation": "Latest run details for this task",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_activity_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.tasks#TaskUserBasicInfo",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ci_prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "slack_thread_references": {
          "target": "com.posthog.tasks#TaskBasicSlackThreadReferencesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "origin_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable key of the server-side flow that created this task, e.g. `desktop_onboarding_session:<user_id>`. Null for tasks people create themselves.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description_preview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First 1000 characters of the description, so a summary surface can show a prompt snippet without the full body. Open the task for the complete text.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Basic list response for a task, returned when the list is asked for ``basic=true``.\n\nA surface that renders only a summary of each task asks for the basic payload and gets this\nsmaller shape. It drops the full ``description`` body, which dominates the list payload, and\nreplaces it with ``description_preview`` (the first characters) so a feed can still show a\nprompt snippet. The default list response keeps the full ``description``, and ``retrieve``\nalways returns it. A client uses the ``search`` query parameter to match description text\nserver-side."
      }
    },
    "com.posthog.tasks#TaskBasicRepositoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.tasks#TaskBasicJsonSchemaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.tasks#TaskBasicSlackThreadReferencesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tasks#SlackThreadReferenceDTO"
      },
      "traits": {}
    },
    "com.posthog.tasks#PaginatedTaskListItemListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tasks#TaskListItem"
      },
      "traits": {}
    },
    "com.posthog.tasks#ListTasks": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tasks#ListTasksRequest"
      },
      "output": {
        "target": "com.posthog.tasks#PaginatedTaskListItemList"
      },
      "errors": [
        {
          "target": "com.posthog.tasks#BadRequest"
        },
        {
          "target": "com.posthog.tasks#Forbidden"
        },
        {
          "target": "com.posthog.tasks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/tasks/",
          "code": 200
        },
        "smithy.api#documentation": "List tasks\n\nGet a list of tasks for the current project, with optional filtering by origin product, stage, organization, repository, created_by, and the workflow (hog_flow_id) that created the task. By default, each row includes description. Pass basic=true for a summary row that omits description and includes description_preview, its first 1000 characters. Use the search parameter to match description text server-side."
      }
    },
    "com.posthog.tasks#TaskOriginProductEnum": {
      "type": "enum",
      "members": {
        "ONBOARDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "onboarding"
          }
        },
        "ERROR_TRACKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error_tracking"
          }
        },
        "EVAL_CLUSTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eval_clusters"
          }
        },
        "USER_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_created"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        },
        "SUPPORT_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "support_queue"
          }
        },
        "SESSION_SUMMARIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session_summaries"
          }
        },
        "POSTHOG_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog_ai"
          }
        },
        "EXPERIMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "experiments"
          }
        },
        "SIGNAL_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signal_report"
          }
        },
        "AUTORESEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autoresearch"
          }
        },
        "SIGNALS_SCOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signals_scout"
          }
        },
        "SCOUT_SUGGESTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scout_suggestions"
          }
        },
        "SUPPORT_REPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "support_reply"
          }
        },
        "HOGDESK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hogdesk"
          }
        },
        "REVIEW_HOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "review_hog"
          }
        },
        "IMAGE_BUILDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_builder"
          }
        },
        "LOOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "loop"
          }
        },
        "MCP_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mcp_analytics"
          }
        },
        "SIGNALS_CHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signals_chat"
          }
        },
        "TASK_ANALYSIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "task_analysis"
          }
        },
        "WORKFLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workflow"
          }
        },
        "SPACE_SETUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space_setup"
          }
        },
        "BUSINESS_KNOWLEDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "business_knowledge"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `onboarding` - Onboarding\n* `error_tracking` - Error Tracking\n* `eval_clusters` - Eval Clusters\n* `user_created` - User Created\n* `slack` - Slack\n* `support_queue` - Support Queue\n* `session_summaries` - Session Summaries\n* `posthog_ai` - PostHog AI\n* `experiments` - Experiments\n* `signal_report` - Signal Report\n* `autoresearch` - Autoresearch\n* `signals_scout` - Signals Scout\n* `scout_suggestions` - Signals Scout Suggestions\n* `support_reply` - Support Reply\n* `hogdesk` - HogDesk\n* `review_hog` - ReviewHog\n* `image_builder` - Image Builder\n* `loop` - Loop\n* `mcp_analytics` - MCP Analytics\n* `signals_chat` - Signals Chat\n* `task_analysis` - Task Analysis\n* `workflow` - Workflow\n* `space_setup` - Space Setup\n* `business_knowledge` - Business Knowledge"
      }
    },
    "com.posthog.tasks#CreateTaskRequestRepositoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "GitHub repositories available to this task, each in `organization/repo` format."
      }
    },
    "com.posthog.tasks#ReasoningEffortEnum": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "ULTRACODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ultracode"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `low` - low\n* `medium` - medium\n* `high` - high\n* `xhigh` - xhigh\n* `max` - max\n* `ultracode` - ultracode"
      }
    },
    "com.posthog.tasks#TaskRunBootstrapCreateRequestInitialPermissionModeEnum": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "ACCEPTEDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acceptEdits"
          }
        },
        "PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plan"
          }
        },
        "BYPASSPERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypassPermissions"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read-only"
          }
        },
        "FULL_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full-access"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `default` - default\n* `acceptEdits` - acceptEdits\n* `plan` - plan\n* `bypassPermissions` - bypassPermissions\n* `auto` - auto\n* `read-only` - read-only\n* `full-access` - full-access"
      }
    },
    "com.posthog.tasks#CreateTaskRequestPendingUserArtifactIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Run artifact ids (already uploaded to the pre-warmed Run) to attach to the forwarded first message when creation reuses that warm Run, e.g. skill bundles or file attachments. If any id is missing from the warm Run's manifest, warm reuse is skipped and the task is created cold. Ignored when no warm Run is matched. Not supported when start_run is true."
      }
    },
    "com.posthog.tasks#CreateTaskRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short human-readable title. Auto-generated from `description` when omitted."
          }
        },
        "title_manually_set": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the title was set by a human (vs auto-generated from the description)."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form description of the work to be done. Used as the prompt passed to the agent."
          }
        },
        "origin_product": {
          "target": "com.posthog.tasks#TaskOriginProductEnum",
          "traits": {
            "smithy.api#documentation": "PostHog product or surface that created this task (e.g. error_tracking, slack, user_created). Origins reserved for server-created agents cannot be set through this API.\n\n* `onboarding` - Onboarding\n* `error_tracking` - Error Tracking\n* `eval_clusters` - Eval Clusters\n* `user_created` - User Created\n* `slack` - Slack\n* `support_queue` - Support Queue\n* `session_summaries` - Session Summaries\n* `posthog_ai` - PostHog AI\n* `experiments` - Experiments\n* `signal_report` - Signal Report\n* `autoresearch` - Autoresearch\n* `signals_scout` - Signals Scout\n* `scout_suggestions` - Signals Scout Suggestions\n* `support_reply` - Support Reply\n* `hogdesk` - HogDesk\n* `review_hog` - ReviewHog\n* `image_builder` - Image Builder\n* `loop` - Loop\n* `mcp_analytics` - MCP Analytics\n* `signals_chat` - Signals Chat\n* `task_analysis` - Task Analysis\n* `workflow` - Workflow\n* `space_setup` - Space Setup\n* `business_knowledge` - Business Knowledge"
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target GitHub repository in `organization/repo` format (e.g. `posthog/posthog-js`).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "repositories": {
          "target": "com.posthog.tasks#CreateTaskRequestRepositoriesList",
          "traits": {
            "smithy.api#documentation": "GitHub repositories available to this task, each in `organization/repo` format."
          }
        },
        "github_integration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "GitHub integration for this task.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "github_user_integration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-scoped GitHub integration to use for user-authored cloud runs.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "signal_report": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Signal report this task implements, when created from a report.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "signal_report_task_relationship": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How the created task relates to the signal report (e.g. 'implementation', 'discussion'). Recorded as a signals task_run work-log entry; 'implementation' also opens the auto-start spend gate. Any routing-safe identifier (lowercase letters, numbers, '_', '-') is accepted except labels reserved for server-created tasks ('research', 'repo_selection', 'scout'). Non-implementation labels count toward the report's discussion task limit."
          }
        },
        "json_schema": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "JSON schema used to validate the output of the task."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the task is hidden from default list responses."
          }
        },
        "ci_prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom prompt for CI fixes. If blank, a default prompt will be used.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base branch for the first run when start_run is true, or for matching a pre-warmed run. Omit to use the repository's default branch. Write-only and not persisted on the task.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "runtime_adapter": {
          "target": "com.posthog.tasks#RuntimeAdapterEnum",
          "traits": {
            "smithy.api#documentation": "Runtime adapter ('claude' or 'codex') for the first run when start_run is true, or for matching a pre-warmed run. A different adapter prevents warm reuse. Write-only and not persisted on the task.\n\n* `claude` - claude\n* `codex` - codex",
            "com.distilled.openapi#nullable": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "LLM model for the first run when start_run is true, or for matching a pre-warmed run. Write-only.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "reasoning_effort": {
          "target": "com.posthog.tasks#ReasoningEffortEnum",
          "traits": {
            "smithy.api#documentation": "Reasoning effort for the first run when start_run is true, or for matching a pre-warmed run. Write-only.\n\n* `low` - low\n* `medium` - medium\n* `high` - high\n* `xhigh` - xhigh\n* `max` - max\n* `ultracode` - ultracode",
            "com.distilled.openapi#nullable": {}
          }
        },
        "initial_permission_mode": {
          "target": "com.posthog.tasks#TaskRunBootstrapCreateRequestInitialPermissionModeEnum",
          "traits": {
            "smithy.api#documentation": "Agent permission mode for the first run when start_run is true, or for matching a pre-warmed run. Omit to match any warm permission mode. Write-only.\n\n* `default` - default\n* `acceptEdits` - acceptEdits\n* `plan` - plan\n* `bypassPermissions` - bypassPermissions\n* `auto` - auto\n* `read-only` - read-only\n* `full-access` - full-access",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pending_user_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First user message when start_run is true or creation reuses a pre-warmed run. This message can differ from description. Ignored if creation does not start a run. Write-only and not persisted on the task.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pending_user_artifact_ids": {
          "target": "com.posthog.tasks#CreateTaskRequestPendingUserArtifactIdsList",
          "traits": {
            "smithy.api#documentation": "Run artifact ids (already uploaded to the pre-warmed Run) to attach to the forwarded first message when creation reuses that warm Run, e.g. skill bundles or file attachments. If any id is missing from the warm Run's manifest, warm reuse is skipped and the task is created cold. Ignored when no warm Run is matched. Not supported when start_run is true."
          }
        },
        "auto_publish": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the agent pushes its work and opens a draft pull request on completion without an explicit request. Applies when start_run is true or creation reuses a pre-warmed run. Resumed runs keep this setting. Ignored if creation does not start a run. Write-only and not persisted on the task.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Channel this task is owned by (the channel it was kicked off in).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scheduled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Earliest start time for a one-off cloud run, in ISO 8601 format. Must be in the future and within 30 days. Times without an offset use UTC. Omit or send null to start immediately.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "start_run": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Create the first cloud run. It starts immediately unless scheduled_at is set."
          }
        },
        "signal_report_discussion_question": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Question to forward to the signal report's scout when creating a discussion task. Send an empty string when there is no question. Omit only for older clients that embed the question in the task description. Not persisted on the task."
          }
        },
        "naming_source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text the server generates the title from instead of `description`. Lets a client whose `description` is only an attachment summary (e.g. pasted text stored as a file) supply the real content for naming, so `description` (the prompt passed to the agent) stays unchanged. Not persisted."
          }
        },
        "sandbox_environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sandbox environment for the first run when start_run is true, or for matching a pre-warmed run. Not persisted on the task.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "custom_image_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom image for the first run when start_run is true, or for matching a pre-warmed run. Not persisted on the task.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "runtime": {
          "target": "com.posthog.tasks#TaskRuntimeEnum",
          "traits": {
            "smithy.api#documentation": "Agent protocol and harness used for this task's runs. Defaults to ACP when omitted.\n\n* `acp` - ACP\n* `pi` - Pi"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tasks#TaskCreateResponseDTO": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "task_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title_manually_set": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "origin_product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "runtime": {
          "target": "com.posthog.tasks#TaskRuntimeEnum",
          "traits": {
            "smithy.api#documentation": "Agent protocol and harness used for this task's runs.\n\n* `acp` - ACP\n* `pi` - Pi",
            "smithy.api#required": {}
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "repositories": {
          "target": "com.posthog.tasks#TaskCreateResponseDTORepositoriesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "github_integration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "github_user_integration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "signal_report": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "json_schema": {
          "target": "com.posthog.tasks#TaskCreateResponseDTOJsonSchemaMap",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "internal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archived_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latest_run": {
          "target": "com.posthog.tasks#TaskRunDetailDTO",
          "traits": {
            "smithy.api#documentation": "Latest run details for this task",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_activity_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.tasks#TaskUserBasicInfo",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ci_prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "slack_thread_references": {
          "target": "com.posthog.tasks#TaskCreateResponseDTOSlackThreadReferencesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "origin_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable key of the server-side flow that created this task, e.g. `desktop_onboarding_session:<user_id>`. Null for tasks people create themselves.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "run_error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error returned when the task was created but its first run could not start."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detail response for a task.\n\nReads from a frozen ``TaskDetailDTO`` produced by the facade. ``github_integration`` /\n``github_user_integration`` are integration ids, ``signal_report`` is the report id, and\n``latest_run`` nests the run-detail shape. ``created_by`` mirrors core ``UserBasicSerializer``."
      }
    },
    "com.posthog.tasks#TaskCreateResponseDTORepositoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.tasks#TaskCreateResponseDTOJsonSchemaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.tasks#TaskCreateResponseDTOSlackThreadReferencesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tasks#SlackThreadReferenceDTO"
      },
      "traits": {}
    },
    "com.posthog.tasks#CreateTask": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tasks#CreateTaskRequest"
      },
      "output": {
        "target": "com.posthog.tasks#TaskCreateResponseDTO"
      },
      "errors": [
        {
          "target": "com.posthog.tasks#BadRequest"
        },
        {
          "target": "com.posthog.tasks#Forbidden"
        },
        {
          "target": "com.posthog.tasks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tasks/",
          "code": 200
        },
        "smithy.api#documentation": "API for managing tasks within a project. Tasks represent units of work to be performed by an agent."
      }
    },
    "com.posthog.tasks#GetTaskRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tasks#GetTask": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tasks#GetTaskRequest"
      },
      "output": {
        "target": "com.posthog.tasks#TaskDetailDTO"
      },
      "errors": [
        {
          "target": "com.posthog.tasks#Forbidden"
        },
        {
          "target": "com.posthog.tasks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/tasks/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Get task\n\nRetrieve a single task by ID."
      }
    },
    "com.posthog.tasks#UpdateTaskRequestRepositoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "GitHub repositories available to this task, each in `organization/repo` format."
      }
    },
    "com.posthog.tasks#UpdateTaskRequestPendingUserArtifactIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Run artifact ids (already uploaded to the pre-warmed Run) to attach to the forwarded first message when creation reuses that warm Run, e.g. skill bundles or file attachments. If any id is missing from the warm Run's manifest, warm reuse is skipped and the task is created cold. Ignored when no warm Run is matched. Not supported when start_run is true."
      }
    },
    "com.posthog.tasks#UpdateTaskRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short human-readable title. Auto-generated from `description` when omitted."
          }
        },
        "title_manually_set": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the title was set by a human (vs auto-generated from the description)."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form description of the work to be done. Used as the prompt passed to the agent."
          }
        },
        "origin_product": {
          "target": "com.posthog.tasks#TaskOriginProductEnum",
          "traits": {
            "smithy.api#documentation": "PostHog product or surface that created this task (e.g. error_tracking, slack, user_created). Origins reserved for server-created agents cannot be set through this API.\n\n* `onboarding` - Onboarding\n* `error_tracking` - Error Tracking\n* `eval_clusters` - Eval Clusters\n* `user_created` - User Created\n* `slack` - Slack\n* `support_queue` - Support Queue\n* `session_summaries` - Session Summaries\n* `posthog_ai` - PostHog AI\n* `experiments` - Experiments\n* `signal_report` - Signal Report\n* `autoresearch` - Autoresearch\n* `signals_scout` - Signals Scout\n* `scout_suggestions` - Signals Scout Suggestions\n* `support_reply` - Support Reply\n* `hogdesk` - HogDesk\n* `review_hog` - ReviewHog\n* `image_builder` - Image Builder\n* `loop` - Loop\n* `mcp_analytics` - MCP Analytics\n* `signals_chat` - Signals Chat\n* `task_analysis` - Task Analysis\n* `workflow` - Workflow\n* `space_setup` - Space Setup\n* `business_knowledge` - Business Knowledge"
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target GitHub repository in `organization/repo` format (e.g. `posthog/posthog-js`).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "repositories": {
          "target": "com.posthog.tasks#UpdateTaskRequestRepositoriesList",
          "traits": {
            "smithy.api#documentation": "GitHub repositories available to this task, each in `organization/repo` format."
          }
        },
        "github_integration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "GitHub integration for this task.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "github_user_integration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-scoped GitHub integration to use for user-authored cloud runs.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "signal_report": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Signal report this task implements, when created from a report.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "signal_report_task_relationship": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How the created task relates to the signal report (e.g. 'implementation', 'discussion'). Recorded as a signals task_run work-log entry; 'implementation' also opens the auto-start spend gate. Any routing-safe identifier (lowercase letters, numbers, '_', '-') is accepted except labels reserved for server-created tasks ('research', 'repo_selection', 'scout'). Non-implementation labels count toward the report's discussion task limit."
          }
        },
        "json_schema": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "JSON schema used to validate the output of the task."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the task is hidden from default list responses."
          }
        },
        "ci_prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom prompt for CI fixes. If blank, a default prompt will be used.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base branch for the first run when start_run is true, or for matching a pre-warmed run. Omit to use the repository's default branch. Write-only and not persisted on the task.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "runtime_adapter": {
          "target": "com.posthog.tasks#RuntimeAdapterEnum",
          "traits": {
            "smithy.api#documentation": "Runtime adapter ('claude' or 'codex') for the first run when start_run is true, or for matching a pre-warmed run. A different adapter prevents warm reuse. Write-only and not persisted on the task.\n\n* `claude` - claude\n* `codex` - codex",
            "com.distilled.openapi#nullable": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "LLM model for the first run when start_run is true, or for matching a pre-warmed run. Write-only.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "reasoning_effort": {
          "target": "com.posthog.tasks#ReasoningEffortEnum",
          "traits": {
            "smithy.api#documentation": "Reasoning effort for the first run when start_run is true, or for matching a pre-warmed run. Write-only.\n\n* `low` - low\n* `medium` - medium\n* `high` - high\n* `xhigh` - xhigh\n* `max` - max\n* `ultracode` - ultracode",
            "com.distilled.openapi#nullable": {}
          }
        },
        "initial_permission_mode": {
          "target": "com.posthog.tasks#TaskRunBootstrapCreateRequestInitialPermissionModeEnum",
          "traits": {
            "smithy.api#documentation": "Agent permission mode for the first run when start_run is true, or for matching a pre-warmed run. Omit to match any warm permission mode. Write-only.\n\n* `default` - default\n* `acceptEdits` - acceptEdits\n* `plan` - plan\n* `bypassPermissions` - bypassPermissions\n* `auto` - auto\n* `read-only` - read-only\n* `full-access` - full-access",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pending_user_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First user message when start_run is true or creation reuses a pre-warmed run. This message can differ from description. Ignored if creation does not start a run. Write-only and not persisted on the task.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pending_user_artifact_ids": {
          "target": "com.posthog.tasks#UpdateTaskRequestPendingUserArtifactIdsList",
          "traits": {
            "smithy.api#documentation": "Run artifact ids (already uploaded to the pre-warmed Run) to attach to the forwarded first message when creation reuses that warm Run, e.g. skill bundles or file attachments. If any id is missing from the warm Run's manifest, warm reuse is skipped and the task is created cold. Ignored when no warm Run is matched. Not supported when start_run is true."
          }
        },
        "auto_publish": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the agent pushes its work and opens a draft pull request on completion without an explicit request. Applies when start_run is true or creation reuses a pre-warmed run. Resumed runs keep this setting. Ignored if creation does not start a run. Write-only and not persisted on the task.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Channel this task is owned by (the channel it was kicked off in).",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tasks#UpdateTask": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tasks#UpdateTaskRequest"
      },
      "output": {
        "target": "com.posthog.tasks#TaskDetailDTO"
      },
      "errors": [
        {
          "target": "com.posthog.tasks#BadRequest"
        },
        {
          "target": "com.posthog.tasks#Forbidden"
        },
        {
          "target": "com.posthog.tasks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/tasks/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "API for managing tasks within a project. Tasks represent units of work to be performed by an agent."
      }
    },
    "com.posthog.tasks#UpdateTasksPartialRequestRepositoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "GitHub repositories available to this task, each in `organization/repo` format."
      }
    },
    "com.posthog.tasks#UpdateTasksPartialRequestPendingUserArtifactIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Run artifact ids (already uploaded to the pre-warmed Run) to attach to the forwarded first message when creation reuses that warm Run, e.g. skill bundles or file attachments. If any id is missing from the warm Run's manifest, warm reuse is skipped and the task is created cold. Ignored when no warm Run is matched. Not supported when start_run is true."
      }
    },
    "com.posthog.tasks#UpdateTasksPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
[...]
