{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.task_runs#ListTasksRunsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_runs#PaginatedTaskRunDetailDTOList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.task_runs#PaginatedTaskRunDetailDTOListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_runs#TaskRunDetailDTO": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent task id this run belongs to.",
            "smithy.api#required": {}
          }
        },
        "stage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "runtime_adapter": {
          "target": "com.posthog.task_runs#RuntimeAdapterEnum",
          "traits": {
            "smithy.api#documentation": "Configured runtime adapter for this run, such as 'claude' or 'codex'.\n\n* `claude` - claude\n* `codex` - codex",
            "com.distilled.openapi#nullable": {}
          }
        },
        "provider": {
          "target": "com.posthog.task_runs#TaskRunDetailDTOProviderEnum",
          "traits": {
            "smithy.api#documentation": "Configured LLM provider for this run, such as 'anthropic' or 'openai'.\n\n* `anthropic` - anthropic\n* `openai` - openai",
            "com.distilled.openapi#nullable": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configured LLM model identifier for this run.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "reasoning_effort": {
          "target": "com.posthog.task_runs#TaskRunReasoningEffortEnum",
          "traits": {
            "smithy.api#documentation": "Configured reasoning effort for this run when the selected model supports it.\n\n* `off` - off\n* `minimal` - minimal\n* `low` - low\n* `medium` - medium\n* `high` - high\n* `xhigh` - xhigh\n* `max` - max\n* `ultracode` - ultracode",
            "com.distilled.openapi#nullable": {}
          }
        },
        "log_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Presigned S3 URL for log access (valid for 1 hour).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "error_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "output": {
          "target": "com.posthog.task_runs#TaskRunDetailDTOOutputMap",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "task_summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Latest summary for this task, including a summary inherited from an earlier run.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "task_tags": {
          "target": "com.posthog.task_runs#TaskRunDetailDTOTaskTagsList",
          "traits": {
            "smithy.api#documentation": "Latest slug tags for this task, including tags inherited from an earlier run.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.posthog.task_runs#TaskRunDetailDTOStateMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "artifacts": {
          "target": "com.posthog.task_runs#TaskRunDetailDTOArtifactsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "scheduled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Earliest start time in UTC. Null for runs without a schedule.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "preview_available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when this run's sandbox serves a dev stack preview, so clients can offer the preview link. Open it through the run's `preview/` endpoint, which mints a fresh access token on every request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detail response for a task run.\n\nReads from a frozen ``TaskRunDetailDTO`` produced by the facade mapper (which computes the\npresigned ``log_url`` and parses ``runtime_adapter`` / ``provider`` / ``model`` /\n``reasoning_effort`` off the run state). ``task`` is the parent task id. Reused as the nested\n``latest_run`` shape by the task detail response."
      }
    },
    "com.posthog.task_runs#RuntimeAdapterEnum": {
      "type": "enum",
      "members": {
        "CLAUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "claude"
          }
        },
        "CODEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "codex"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `claude` - claude\n* `codex` - codex"
      }
    },
    "com.posthog.task_runs#TaskRunDetailDTOProviderEnum": {
      "type": "enum",
      "members": {
        "ANTHROPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic"
          }
        },
        "OPENAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `anthropic` - anthropic\n* `openai` - openai"
      }
    },
    "com.posthog.task_runs#TaskRunReasoningEffortEnum": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minimal"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "ULTRACODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ultracode"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `off` - off\n* `minimal` - minimal\n* `low` - low\n* `medium` - medium\n* `high` - high\n* `xhigh` - xhigh\n* `max` - max\n* `ultracode` - ultracode"
      }
    },
    "com.posthog.task_runs#TaskRunDetailDTOOutputMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.task_runs#TaskRunDetailDTOTaskTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Latest slug tags for this task, including tags inherited from an earlier run."
      }
    },
    "com.posthog.task_runs#TaskRunDetailDTOStateMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.task_runs#TaskRunArtifactResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable identifier for the artifact within this run"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artifact file name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artifact classification (plan, context, etc.)"
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source of the artifact, such as agent_output or user_attachment"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Artifact size in bytes"
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional MIME type"
          }
        },
        "metadata": {
          "target": "com.posthog.task_runs#TaskRunArtifactMetadata",
          "traits": {
            "smithy.api#documentation": "Structured metadata for a skill bundle or a PostHog object reference."
          }
        },
        "storage_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "S3 object key for file artifacts. Reference artifacts do not have one."
          }
        },
        "uploaded_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the artifact was uploaded or registered"
          }
        },
        "uploaded_by": {
          "target": "com.posthog.task_runs#UploadedByEnum",
          "traits": {
            "smithy.api#documentation": "Whether the artifact version was uploaded by the task agent or an interactive user.\n\n* `agent` - agent\n* `user` - user"
          }
        },
        "uploaded_by_user_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "User id for an interactive user upload. Absent for agent uploads and legacy entries."
          }
        },
        "dismissed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when a user dismissed the artifact. Absent while the artifact is shown."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable download URL for the artifact. Populated on the finalize-upload response so the caller can link to the file; it redirects to a fresh presigned URL on each request and is not persisted on the manifest."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_runs#TaskRunArtifactMetadata": {
      "type": "union",
      "members": {
        "TaskRunSkillBundleMetadata": {
          "target": "com.posthog.task_runs#TaskRunSkillBundleMetadata"
        },
        "TaskRunPostHogReferenceMetadata": {
          "target": "com.posthog.task_runs#TaskRunPostHogReferenceMetadata"
        }
      },
      "traits": {}
    },
    "com.posthog.task_runs#TaskRunSkillBundleMetadata": {
      "type": "structure",
      "members": {
        "skill_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the local skill included in a skill_bundle artifact.",
            "smithy.api#required": {}
          }
        },
        "skill_source": {
          "target": "com.posthog.task_runs#SkillSourceEnum",
          "traits": {
            "smithy.api#documentation": "Local source for the uploaded skill bundle, such as user or repo.\n\n* `user` - user\n* `repo` - repo\n* `marketplace` - marketplace\n* `codex` - codex",
            "smithy.api#required": {}
          }
        },
        "content_sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SHA-256 hex digest of the uploaded skill bundle bytes.",
            "smithy.api#required": {}
          }
        },
        "bundle_format": {
          "target": "com.posthog.task_runs#BundleFormatEnum",
          "traits": {
            "smithy.api#documentation": "Archive format used for the local skill bundle.\n\n* `zip` - zip",
            "smithy.api#required": {}
          }
        },
        "schema_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version of the local skill bundle metadata schema.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_runs#SkillSourceEnum": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo"
          }
        },
        "MARKETPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketplace"
          }
        },
        "CODEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "codex"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `user` - user\n* `repo` - repo\n* `marketplace` - marketplace\n* `codex` - codex"
      }
    },
    "com.posthog.task_runs#BundleFormatEnum": {
      "type": "enum",
      "members": {
        "ZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zip"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `zip` - zip"
      }
    },
    "com.posthog.task_runs#TaskRunPostHogReferenceMetadata": {
      "type": "structure",
      "members": {
        "reference_type": {
          "target": "com.posthog.task_runs#ReferenceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Reference metadata type. posthog_object identifies a live PostHog object.\n\n* `posthog_object` - posthog_object",
            "smithy.api#required": {}
          }
        },
        "object_kind": {
          "target": "com.posthog.task_runs#ObjectKindEnum",
          "traits": {
            "smithy.api#documentation": "PostHog object kind used to resolve the reference.\n\n* `insight` - insight\n* `hogql` - hogql\n* `dashboard` - dashboard\n* `error` - error\n* `replay` - replay\n* `flag` - flag\n* `experiment` - experiment\n* `survey` - survey\n* `ticket` - ticket\n* `report` - report\n* `trace` - trace\n* `eval` - eval\n* `event` - event\n* `cohort` - cohort\n* `action` - action\n* `person` - person",
            "smithy.api#required": {}
          }
        },
        "object_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exact PostHog object identifier, flag key, event name, or SQL query.",
            "smithy.api#required": {}
          }
        },
        "source_message_ids": {
          "target": "com.posthog.task_runs#TaskRunPostHogReferenceMetadataSourceMessageIdsList",
          "traits": {
            "smithy.api#documentation": "Completed assistant message identifiers that referenced the object.",
            "smithy.api#required": {}
          }
        },
        "occurrence_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of distinct completed assistant messages that referenced the object.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_runs#ReferenceTypeEnum": {
      "type": "enum",
      "members": {
        "POSTHOG_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog_object"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `posthog_object` - posthog_object"
      }
    },
    "com.posthog.task_runs#ObjectKindEnum": {
      "type": "enum",
      "members": {
        "INSIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "insight"
          }
        },
        "HOGQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hogql"
          }
        },
        "DASHBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dashboard"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "REPLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "replay"
          }
        },
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag"
          }
        },
        "EXPERIMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "experiment"
          }
        },
        "SURVEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "survey"
          }
        },
        "TICKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ticket"
          }
        },
        "REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "report"
          }
        },
        "TRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trace"
          }
        },
        "EVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eval"
          }
        },
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event"
          }
        },
        "COHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cohort"
          }
        },
        "ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action"
          }
        },
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `insight` - insight\n* `hogql` - hogql\n* `dashboard` - dashboard\n* `error` - error\n* `replay` - replay\n* `flag` - flag\n* `experiment` - experiment\n* `survey` - survey\n* `ticket` - ticket\n* `report` - report\n* `trace` - trace\n* `eval` - eval\n* `event` - event\n* `cohort` - cohort\n* `action` - action\n* `person` - person"
      }
    },
    "com.posthog.task_runs#TaskRunPostHogReferenceMetadataSourceMessageIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Completed assistant message identifiers that referenced the object."
      }
    },
    "com.posthog.task_runs#UploadedByEnum": {
      "type": "enum",
      "members": {
        "AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `agent` - agent\n* `user` - user"
      }
    },
    "com.posthog.task_runs#TaskRunDetailDTOArtifactsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_runs#TaskRunArtifactResponse"
      },
      "traits": {}
    },
    "com.posthog.task_runs#PaginatedTaskRunDetailDTOListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_runs#TaskRunDetailDTO"
      },
      "traits": {}
    },
    "com.posthog.task_runs#ListTasksRuns": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_runs#ListTasksRunsRequest"
      },
      "output": {
        "target": "com.posthog.task_runs#PaginatedTaskRunDetailDTOList"
      },
      "errors": [
        {
          "target": "com.posthog.task_runs#BadRequest"
        },
        {
          "target": "com.posthog.task_runs#Forbidden"
        },
        {
          "target": "com.posthog.task_runs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/tasks/{task_id}/runs/",
          "code": 200
        },
        "smithy.api#documentation": "List task runs\n\nGet a list of runs for a specific task."
      }
    },
    "com.posthog.task_runs#ImportedMcpServer": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.task_runs#ImportedMcpServerTypeEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "com.posthog.task_runs#ImportedMcpServerHeadersList"
        }
      },
      "traits": {
        "smithy.api#documentation": "One client-imported MCP server, in the agent server's --mcpServers entry shape."
      }
    },
    "com.posthog.task_runs#ImportedMcpServerTypeEnum": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "SSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sse"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `http` - http\n* `sse` - sse"
      }
    },
    "com.posthog.task_runs#ImportedMcpServerHeader": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_runs#ImportedMcpServerHeadersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_runs#ImportedMcpServerHeader"
      },
      "traits": {}
    },
    "com.posthog.task_runs#CreateTasksRunRequestImportedMcpServersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_runs#ImportedMcpServer"
      },
      "traits": {
        "smithy.api#documentation": "Local url-based MCP servers from the creating client (PostHog Desktop) to make available inside the cloud sandbox. Header values are treated as credentials: stored encrypted and never returned by the API."
      }
    },
    "com.posthog.task_runs#RelayedMcpServer": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One desktop-only MCP server relayed into the run — a name only, never configuration."
      }
    },
    "com.posthog.task_runs#CreateTasksRunRequestRelayedMcpServersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_runs#RelayedMcpServer"
      },
      "traits": {
        "smithy.api#documentation": "Names of desktop-only MCP servers the creating client (PostHog Desktop) relays into the cloud sandbox over the durable event/command channel. Names only — the server configuration (command, env, URL, headers) never crosses the wire."
      }
    },
    "com.posthog.task_runs#ModelAccessEnum": {
      "type": "enum",
      "members": {
        "POSTHOG_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog-gateway"
          }
        },
        "OWN_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "own-subscription"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `posthog-gateway` - posthog-gateway\n* `own-subscription` - own-subscription"
      }
    },
    "com.posthog.task_runs#RunEnvironmentEnum": {
      "type": "enum",
      "members": {
        "LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "local"
          }
        },
        "CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloud"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `local` - local\n* `cloud` - cloud"
      }
    },
    "com.posthog.task_runs#TaskExecutionModeEnum": {
      "type": "enum",
      "members": {
        "INTERACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "interactive"
          }
        },
        "BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "background"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `interactive` - interactive\n* `background` - background"
      }
    },
    "com.posthog.task_runs#PrAuthorshipModeEnum": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "BOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bot"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `user` - user\n* `bot` - bot"
      }
    },
    "com.posthog.task_runs#TaskBootstrapRunSourceEnum": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "SIGNAL_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signal_report"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `manual` - manual\n* `signal_report` - signal_report"
      }
    },
    "com.posthog.task_runs#ContextWindowEnum": {
      "type": "enum",
      "members": {
        "_200K": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "200k"
          }
        },
        "_1M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1m"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `200k` - 200k\n* `1m` - 1m"
      }
    },
    "com.posthog.task_runs#TaskRunBootstrapCreateRequestInitialPermissionModeEnum": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "ACCEPTEDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acceptEdits"
          }
        },
        "PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plan"
          }
        },
        "BYPASSPERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypassPermissions"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read-only"
          }
        },
        "FULL_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full-access"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `default` - default\n* `acceptEdits` - acceptEdits\n* `plan` - plan\n* `bypassPermissions` - bypassPermissions\n* `auto` - auto\n* `read-only` - read-only\n* `full-access` - full-access"
      }
    },
    "com.posthog.task_runs#CreateTasksRunRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "imported_mcp_servers": {
          "target": "com.posthog.task_runs#CreateTasksRunRequestImportedMcpServersList",
          "traits": {
            "smithy.api#documentation": "Local url-based MCP servers from the creating client (PostHog Desktop) to make available inside the cloud sandbox. Header values are treated as credentials: stored encrypted and never returned by the API.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "relayed_mcp_servers": {
          "target": "com.posthog.task_runs#CreateTasksRunRequestRelayedMcpServersList",
          "traits": {
            "smithy.api#documentation": "Names of desktop-only MCP servers the creating client (PostHog Desktop) relays into the cloud sandbox over the durable event/command channel. Names only — the server configuration (command, env, URL, headers) never crosses the wire.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "rtk_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether rtk command-output compression is enabled for this run. Omitted or null follows the server-side default (enabled); false opts this run out.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "benjamin_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Benjamin-Plus token-efficiency instruction applies to this run. Omitted or null lets the server decide from the feature flag; true or false pins the choice for this run.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "claude_model_access": {
          "target": "com.posthog.task_runs#ModelAccessEnum",
          "traits": {
            "smithy.api#documentation": "How the Claude runtime pays for model use. 'own-subscription' makes the sandbox request a Claude token from whoever started the run; Desktop relays it interactively and an API key caller relays it unattended. The token is sent in flight and never stored on PostHog servers. Only PostHog Desktop and API keys can select 'own-subscription'; other callers get a 400. If omitted or null, resumed runs keep their billing choice and new runs use the PostHog gateway.\n\n* `posthog-gateway` - posthog-gateway\n* `own-subscription` - own-subscription",
            "com.distilled.openapi#nullable": {}
          }
        },
        "codex_model_access": {
          "target": "com.posthog.task_runs#ModelAccessEnum",
          "traits": {
            "smithy.api#documentation": "How the Codex runtime pays for model use. 'own-subscription' makes the sandbox fetch a ChatGPT access token from the PostHog API, refreshed from the ChatGPT account the run owner connected in Desktop settings. If omitted or null, resumed runs keep their billing choice and new runs use the PostHog gateway.\n\n* `posthog-gateway` - posthog-gateway\n* `own-subscription` - own-subscription",
            "com.distilled.openapi#nullable": {}
          }
        },
        "environment": {
          "target": "com.posthog.task_runs#RunEnvironmentEnum",
          "traits": {
            "smithy.api#documentation": "Execution environment for the new run. Use 'cloud' for remote sandbox runs and 'local' for desktop sessions.\n\n* `local` - local\n* `cloud` - cloud"
          }
        },
        "mode": {
          "target": "com.posthog.task_runs#TaskExecutionModeEnum",
          "traits": {
            "smithy.api#documentation": "Execution mode: 'interactive' for user-connected runs, 'background' for autonomous runs\n\n* `interactive` - interactive\n* `background` - background"
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch to checkout in the sandbox",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sandbox_environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional sandbox environment to apply for this cloud run."
          }
        },
        "custom_image_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional custom base image for this cloud run's sandbox (Modal VM runtime only); takes precedence over the environment's image."
          }
        },
        "pr_authorship_mode": {
          "target": "com.posthog.task_runs#PrAuthorshipModeEnum",
          "traits": {
            "smithy.api#documentation": "Whether pull requests for this run should be authored by the user or the bot.\n\n* `user` - user\n* `bot` - bot"
          }
        },
        "auto_publish": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the cloud run agent pushes its work and opens a draft pull request on completion without waiting for an explicit ask.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "run_source": {
          "target": "com.posthog.task_runs#TaskBootstrapRunSourceEnum",
          "traits": {
            "smithy.api#documentation": "High-level source that triggered this run, used to distinguish manual and signal-based cloud runs.\n\n* `manual` - manual\n* `signal_report` - signal_report"
          }
        },
        "signal_report_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional signal report identifier when this run was started from Inbox."
          }
        },
        "runtime_adapter": {
          "target": "com.posthog.task_runs#RuntimeAdapterEnum",
          "traits": {
            "smithy.api#documentation": "Agent runtime adapter to launch for this run. Use 'claude' for the Claude runtime or 'codex' for the Codex runtime.\n\n* `claude` - claude\n* `codex` - codex"
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "LLM model identifier to run in the selected runtime."
          }
        },
        "reasoning_effort": {
          "target": "com.posthog.task_runs#TaskRunReasoningEffortEnum",
          "traits": {
            "smithy.api#documentation": "Reasoning effort to request for models that expose an effort control.\n\n* `off` - off\n* `minimal` - minimal\n* `low` - low\n* `medium` - medium\n* `high` - high\n* `xhigh` - xhigh\n* `max` - max\n* `ultracode` - ultracode"
          }
        },
        "context_window": {
          "target": "com.posthog.task_runs#ContextWindowEnum",
          "traits": {
            "smithy.api#documentation": "Context window size for models that support the 1M window.\n\n* `200k` - 200k\n* `1m` - 1m"
          }
        },
        "fast_mode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable fast mode for models that support it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "github_user_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ephemeral GitHub user token from PostHog Desktop for user-authored cloud pull requests."
          }
        },
        "initial_permission_mode": {
          "target": "com.posthog.task_runs#TaskRunBootstrapCreateRequestInitialPermissionModeEnum",
          "traits": {
            "smithy.api#documentation": "Initial permission mode for the agent session. Claude runtimes accept PostHog permission presets like 'plan'. Codex runtimes accept native Codex modes like 'plan', 'auto', and 'read-only'.\n\n* `default` - default\n* `acceptEdits` - acceptEdits\n* `plan` - plan\n* `bypassPermissions` - bypassPermissions\n* `auto` - auto\n* `read-only` - read-only\n* `full-access` - full-access"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_runs#CreateTasksRun": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_runs#CreateTasksRunRequest"
      },
      "output": {
        "target": "com.posthog.task_runs#TaskRunDetailDTO"
      },
      "errors": [
        {
          "target": "com.posthog.task_runs#BadRequest"
        },
        {
          "target": "com.posthog.task_runs#Forbidden"
        },
        {
          "target": "com.posthog.task_runs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tasks/{task_id}/runs/",
          "code": 200
        },
        "smithy.api#documentation": "Create task run\n\nCreate a new run for a specific task without starting execution."
      }
    },
    "com.posthog.task_runs#GetTasksRunRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_runs#GetTasksRun": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_runs#GetTasksRunRequest"
      },
      "output": {
        "target": "com.posthog.task_runs#TaskRunDetailDTO"
      },
      "errors": [
        {
          "target": "com.posthog.task_runs#Forbidden"
        },
        {
          "target": "com.posthog.task_runs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/tasks/{task_id}/runs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Get task run\n\nRetrieve a single run for a specific task."
      }
    },
    "com.posthog.task_runs#RunStatusEnum": {
      "type": "enum",
      "members": {
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_started"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `not_started` - not_started\n* `queued` - queued\n* `in_progress` - in_progress\n* `completed` - completed\n* `failed` - failed\n* `cancelled` - cancelled"
      }
    },
    "com.posthog.task_runs#UpdateTasksRunsPartialRequestStateMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "State of the run"
      }
    },
    "com.posthog.task_runs#UpdateTasksRunsPartialRequestStateRemoveKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "State keys to remove atomically before applying any state updates."
      }
    },
    "com.posthog.task_runs#UpdateTasksRunsPartialRequestStateAppendMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "State keys whose value to append to the list stored at that key, atomically under the row lock. Use instead of sending the whole list back through `state`, which loses concurrent appends to a read-modify-write race."
      }
    },
    "com.posthog.task_runs#UpdateTasksRunsPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.task_runs#RunStatusEnum",
          "traits": {
            "smithy.api#documentation": "Current execution status\n\n* `not_started` - not_started\n* `queued` - queued\n* `in_progress` - in_progress\n* `completed` - completed\n* `failed` - failed\n* `cancelled` - cancelled"
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch name to associate with the task",
            "com.distilled.openapi#nullable": {}
          }
        },
        "stage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current stage of the run (e.g. research, plan, build)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "output": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Output from the run"
          }
        },
        "state": {
          "target": "com.posthog.task_runs#UpdateTasksRunsPartialRequestStateMap",
          "traits": {
            "smithy.api#documentation": "State of the run"
          }
        },
        "state_remove_keys": {
          "target": "com.posthog.task_runs#UpdateTasksRunsPartialRequestStateRemoveKeysList",
          "traits": {
            "smithy.api#documentation": "State keys to remove atomically before applying any state updates."
          }
        },
        "state_append": {
          "target": "com.posthog.task_runs#UpdateTasksRunsPartialRequestStateAppendMap",
          "traits": {
            "smithy.api#documentation": "State keys whose value to append to the list stored at that key, atomically under the row lock. Use instead of sending the whole list back through `state`, which loses concurrent appends to a read-modify-write race."
          }
        },
        "error_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message if execution failed",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_runs#UpdateTasksRunsPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_runs#UpdateTasksRunsPartialRequest"
      },
      "output": {
        "target": "com.posthog.task_runs#TaskRunDetailDTO"
      },
      "errors": [
        {
          "target": "com.posthog.task_runs#BadRequest"
        },
        {
          "target": "com.posthog.task_runs#Forbidden"
        },
        {
          "target": "com.posthog.task_runs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/tasks/{task_id}/runs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Update task run\n\nAPI for managing task runs. Each run represents an execution of a task."
      }
    },
    "com.posthog.task_runs#TaskAnalysisGoalKindEnum": {
      "type": "enum",
      "members": {
        "ORIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orient"
          }
        },
        "EXPLORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "explore"
          }
        },
        "GATHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gather"
          }
        },
        "PRODUCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "produce"
          }
        },
        "VERIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verify"
          }
        },
        "SETUP_ENV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "setup_env"
          }
        },
        "SHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ship"
          }
        },
        "WAIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wait"
          }
        },
        "OPERATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "operate"
          }
        },
        "DELIVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deliver"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `orient` - orient\n* `explore` - explore\n* `gather` - gather\n* `produce` - produce\n* `verify` - verify\n* `setup_env` - setup_env\n* `ship` - ship\n* `wait` - wait\n* `operate` - operate\n* `deliver` - deliver"
      }
    },
    "com.posthog.task_runs#TaskAnalysisOutcomeEnum": {
      "type": "enum",
      "members": {
        "WORKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worked"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "ABANDONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abandoned"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `worked` - worked\n* `failed` - failed\n* `abandoned` - abandoned\n* `unknown` - unknown"
      }
    },
    "com.posthog.task_runs#TaskAnalysisBlockerKindEnum": {
      "type": "enum",
      "members": {
        "MISSING_BINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "missing_binary"
          }
        },
        "MISSING_PACKAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "missing_package"
          }
        },
        "SERVICE_DOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "service_down"
          }
        },
        "MISSING_BUILD_ARTIFACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "missing_build_artifact"
          }
        },
        "MISSING_CREDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "missing_credential"
          }
        },
        "MEMORY_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "memory_limit"
          }
        },
        "NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "network"
          }
        },
        "SHALLOW_GIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shallow_git"
          }
        },
        "TOOL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tool_error"
          }
        },
        "TOOL_SYNTAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tool_syntax"
          }
        },
        "API_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api_error"
          }
        },
        "MISSING_FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "missing_flag"
          }
        },
        "UNCLEAR_INSTRUCTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unclear_instructions"
          }
        },
        "USER_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_redirect"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `missing_binary` - missing_binary\n* `missing_package` - missing_package\n* `service_down` - service_down\n* `missing_build_artifact` - missing_build_artifact\n* `missing_credential` - missing_credential\n* `memory_limit` - memory_limit\n* `network` - network\n* `shallow_git` - shallow_git\n* `tool_error` - tool_error\n* `tool_syntax` - tool_syntax\n* `api_error` - api_error\n* `missing_flag` - missing_flag\n* `unclear_instructions` - unclear_instructions\n* `user_redirect` - user_redirect"
      }
    },
    "com.posthog.task_runs#CreateTasksRunsAnalysisActivityRequestCommandsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Command heads run in the activity, in order, adjacent duplicates removed."
      }
    },
    "com.posthog.task_runs#CreateTasksRunsAnalysisActivityRequestGuidanceReadList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Skills, AGENTS.md files, templates, and wiki pages the agent read in the activity."
      }
    },
    "com.posthog.task_runs#CreateTasksRunsAnalysisActivityRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "goal_kind": {
          "target": "com.posthog.task_runs#TaskAnalysisGoalKindEnum",
          "traits": {
            "smithy.api#documentation": "Which kind of work the agent did in this span.\n\n* `orient` - orient\n* `explore` - explore\n* `gather` - gather\n* `produce` - produce\n* `verify` - verify\n* `setup_env` - setup_env\n* `ship` - ship\n* `wait` - wait\n* `operate` - operate\n* `deliver` - deliver",
            "smithy.api#required": {}
          }
        },
        "goal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What the agent tried, in 3 to 8 words.",
            "smithy.api#required": {}
          }
        },
        "outcome": {
          "target": "com.posthog.task_runs#TaskAnalysisOutcomeEnum",
          "traits": {
            "smithy.api#documentation": "How the activity ended for the agent.\n\n* `worked` - worked\n* `failed` - failed\n* `abandoned` - abandoned\n* `unknown` - unknown",
            "smithy.api#required": {}
          }
        },
        "blocker_kind": {
          "target": "com.posthog.task_runs#TaskAnalysisBlockerKindEnum",
          "traits": {
            "smithy.api#documentation": "What stopped the agent, when something did. Omit for healthy work.\n\n* `missing_binary` - missing_binary\n* `missing_package` - missing_package\n* `service_down` - service_down\n* `missing_build_artifact` - missing_build_artifact\n* `missing_credential` - missing_credential\n* `memory_limit` - memory_limit\n* `network` - network\n* `shallow_git` - shallow_git\n* `tool_error` - tool_error\n* `tool_syntax` - tool_syntax\n* `api_error` - api_error\n* `missing_flag` - missing_flag\n* `unclear_instructions` - unclear_instructions\n* `user_redirect` - user_redirect",
            "com.distilled.openapi#nullable": {}
          }
        },
        "blocker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The exact binary, package, service, file, flag, or error the blocker names. Required with blocker_kind.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "repair": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The command or step that removed the blocker, when the agent found one. Requires blocker_kind.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "evidence": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "One exact quote from the run log inside the activity's line range.",
            "smithy.api#required": {}
          }
        },
        "start_line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "First log line of the activity, 1-based.",
            "smithy.api#required": {}
          }
        },
        "end_line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Last log line of the activity, 1-based.",
            "smithy.api#required": {}
          }
        },
        "tool_calls": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Distinct tool calls started inside the line range.",
            "smithy.api#required": {}
          }
        },
        "failed_calls": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Tool calls started inside the line range that ended as failed.",
            "smithy.api#required": {}
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Wall-clock seconds from the last timestamp before the line range to the last timestamp inside it.",
            "smithy.api#required": {}
          }
        },
        "idle_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of the gaps longer than 4 minutes between those consecutive timestamps.",
            "smithy.api#required": {}
          }
        },
        "commands": {
          "target": "com.posthog.task_runs#CreateTasksRunsAnalysisActivityRequestCommandsList",
          "traits": {
            "smithy.api#documentation": "Command heads run in the activity, in order, adjacent duplicates removed."
          }
        },
        "guidance_read": {
          "target": "com.posthog.task_runs#CreateTasksRunsAnalysisActivityRequestGuidanceReadList",
          "traits": {
            "smithy.api#documentation": "Skills, AGENTS.md files, templates, and wiki pages the agent read in the activity."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_runs#TaskRunAnalysisActivityResponse": {
      "type": "structure",
      "members": {
        "activity_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Zero-based position of the stored activity on the run.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_runs#CreateTasksRunsAnalysisActivity": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_runs#CreateTasksRunsAnalysisActivityRequest"
      },
      "output": {
        "target": "com.posthog.task_runs#TaskRunAnalysisActivityResponse"
      },
      "errors": [
        {
          "target": "com.posthog.task_runs#BadRequest"
        },
        {
          "target": "com.posthog.task_runs#Forbidden"
        },
        {
          "target": "com.posthog.task_runs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tasks/{task_id}/runs/{id}/analysis-activity/",
          "code": 200
        },
        "smithy.api#documentation": "Report an analysis activity\n\nStore one activity record on a task-analysis run. Only the run's own task-bound sandbox agent may call it, and only on a task-analysis run. Activities arrive in log order and do not overlap. An exact repeat of a stored activity returns its index without storing it again. The activities list is server-owned: it is not writable through the run update endpoint."
      }
    },
    "com.posthog.task_runs#CreateTasksRunsAnalyzeRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_runs#TaskRunAnalyzeResponse": {
      "type": "structure",
      "members": {
        "analysis_task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the analysis task to navigate to.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when a new analysis task was created; false when an existing analysis for this run was returned.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_runs#CreateTasksRunsAnalyze": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_runs#CreateTasksRunsAnalyzeRequest"
      },
      "output": {
        "target": "com.posthog.task_runs#TaskRunAnalyzeResponse"
      },
      "errors": [
        {
          "target": "com.posthog.task_runs#BadRequest"
        },
        {
          "target": "com.posthog.task_runs#Forbidden"
        },
        {
          "target": "com.posthog.task_runs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tasks/{task_id}/runs/{id}/analyze/",
          "code": 200
        },
        "smithy.api#documentation": "Analyze this run\n\nCreate a PostHog-funded analysis task that reviews this run's transcript for inefficiencies and reports findings. Idempotent per run: if an analysis task already exists for this run, it is returned instead of creating another. The analysis is not billed to the customer."
      }
    },
    "com.posthog.task_runs#CreateTasksRunsAppendLogRequestEntriesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.task_runs#CreateTasksRunsAppendLogRequestEntriesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_runs#CreateTasksRunsAppendLogRequestEntriesItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Array of log entry dictionaries to append"
      }
    },
    "com.posthog.task_runs#CreateTasksRunsAppendLogRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "entries": {
          "target": "com.posthog.task_runs#CreateTasksRunsAppendLogRequestEntriesList",
          "traits": {
            "smithy.api#documentation": "Array of log entry dictionaries to append"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_runs#CreateTasksRunsAppendLog": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_runs#CreateTasksRunsAppendLogRequest"
      },
      "output": {
        "target": "com.posthog.task_runs#TaskRunDetailDTO"
      },
      "errors": [
        {
          "target": "com.posthog.task_runs#BadRequest"
        },
        {
          "target": "com.posthog.task_runs#Forbidden"
        },
        {
          "target": "com.posthog.task_runs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tasks/{task_id}/runs/{id}/append_log/",
          "code": 200
        },
        "smithy.api#documentation": "Append log entries\n\nAppend one or more log entries to the task run log array"
      }
    },
    "com.posthog.task_runs#TaskRunArtifactUpload": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File name to associate with the artifact"
          }
        },
        "type": {
          "target": "com.posthog.task_runs#TaskRunArtifactTypeEnum",
          "traits": {
            "smithy.api#documentation": "Classification for the artifact\n\n* `plan` - plan\n* `context` - context\n* `reference` - reference\n* `output` - output\n* `artifact` - artifact\n* `tree_snapshot` - tree_snapshot\n* `user_attachment` - user_attachment\n* `skill_bundle` - skill_bundle"
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional source label for the artifact, such as agent_output or user_attachment"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artifact contents encoded according to content_encoding. Artifacts above 14 MB must use prepare_upload instead."
          }
        },
        "content_encoding": {
          "target": "com.posthog.task_runs#ContentEncodingEnum",
          "traits": {
            "smithy.api#documentation": "Encoding used for content. Use base64 for binary files and utf-8 for text payloads.\n\n* `utf-8` - utf-8\n* `base64` - base64"
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional MIME type for the artifact"
          }
        },
        "metadata": {
          "target": "com.posthog.task_runs#TaskRunSkillBundleMetadata",
          "traits": {
            "smithy.api#documentation": "Skill bundle metadata, required when the artifact type is skill_bundle."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_runs#TaskRunArtifactTypeEnum": {
      "type": "enum",
      "members": {
        "PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plan"
          }
        },
        "CONTEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "context"
          }
        },
        "REFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reference"
          }
        },
        "OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "output"
          }
        },
        "ARTIFACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "artifact"
          }
        },
        "TREE_SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tree_snapshot"
          }
        },
        "USER_ATTACHMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_attachment"
          }
        },
        "SKILL_BUNDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skill_bundle"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `plan` - plan\n* `context` - context\n* `reference` - reference\n* `output` - output\n* `artifact` - artifact\n* `tree_snapshot` - tree_snapshot\n* `user_attachment` - user_attachment\n* `skill_bundle` - skill_bundle"
      }
    },
    "com.posthog.task_runs#ContentEncodingEnum": {
      "type": "enum",
      "members": {
        "UTF_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utf-8"
          }
        },
        "BASE64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "base64"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `utf-8` - utf-8\n* `base64` - base64"
      }
    },
    "com.posthog.task_runs#CreateTasksRunsArtifactRequestArtifactsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_runs#TaskRunArtifactUpload"
      },
      "traits": {
        "smithy.api#documentation": "Array of artifacts to upload"
      }
    },
    "com.posthog.task_runs#CreateTasksRunsArtifactRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "artifacts": {
          "target": "com.posthog.task_runs#CreateTasksRunsArtifactRequestArtifactsList",
          "traits": {
            "smithy.api#documentation": "Array of artifacts to upload"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_runs#TaskRunArtifactsUploadResponse": {
      "type": "structure",
      "members": {
        "artifacts": {
          "target": "com.posthog.task_runs#TaskRunArtifactsUploadResponseArtifactsList",
          "traits": {
            "smithy.api#documentation": "Updated list of artifacts on the run"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_runs#TaskRunArtifactsUploadResponseArtifactsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_runs#TaskRunArtifactResponse"
      },
      "traits": {
        "smithy.api#documentation": "Updated list of artifacts on the run"
      }
    },
    "com.posthog.task_runs#CreateTasksRunsArtifact": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_runs#CreateTasksRunsArtifactRequest"
      },
      "output": {
        "target": "com.posthog.task_runs#TaskRunArtifactsUploadResponse"
      },
      "errors": [
        {
          "target": "com.posthog.task_runs#BadRequest"
        },
        {
          "target": "com.posthog.task_runs#Forbidden"
        },
        {
          "target": "com.posthog.task_runs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tasks/{task_id}/runs/{id}/artifacts/",
          "code": 200
        },
        "smithy.api#documentation": "Upload artifacts for a task run\n\nPersist task artifacts to S3 and attach them to the run manifest."
      }
    },
    "com.posthog.task_runs#TasksRunsArtifactsDownloadRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "artifact_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Manifest id of the artifact to download"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_runs#TasksRunsArtifactsDownloadRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_runs#TasksRunsArtifactsDownloadRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.task_runs#BadRequest"
        },
        {
          "target": "com.posthog.task_runs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/tasks/{task_id}/runs/{id}/artifacts/{artifact_id}/download/",
          "code": 200
        },
        "smithy.api#documentation": "Download a task run artifact by id\n\nRedirects to a short-lived presigned URL for the artifact, so callers can share a stable link instead of a raw presigned URL."
      }
    },
    "com.posthog.task_runs#CreateTasksRunsArtifactsDismissRequestArtifactIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Manifest ids of the artifacts to update. Pass every version of a file together so the whole file is dismissed rather than a single upload of it."
      }
    },
    "com.posthog.task_runs#CreateTasksRunsArtifactsDismissRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "artifact_ids": {
          "target": "com.posthog.task_runs#CreateTasksRunsArtifactsDismissRequestArtifactIdsList",
          "traits": {
            "smithy.api#documentation": "Manifest ids of the artifacts to update. Pass every version of a file together so the whole file is dismissed rather than a single upload of it.",
            "smithy.api#required": {}
          }
        },
        "dismissed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True to hide the artifacts from clients, false to show them again."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_runs#TaskRunArtifactsDismissResponse": {
      "type": "structure",
      "members": {
        "artifacts": {
          "target": "com.posthog.task_runs#TaskRunArtifactsDismissResponseArtifactsList",
          "traits": {
            "smithy.api#documentation": "Updated list of artifacts on the run",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_runs#TaskRunArtifactsDismissResponseArtifactsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_runs#TaskRunArtifactResponse"
      },
      "traits": {
        "smithy.api#documentation": "Updated list of artifacts on the run"
      }
    },
    "com.posthog.task_runs#CreateTasksRunsArtifactsDismiss": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_runs#CreateTasksRunsArtifactsDismissRequest"
      },
      "output": {
        "target": "com.posthog.task_runs#TaskRunArtifactsDismissResponse"
      },
      "errors": [
        {
          "target": "com.posthog.task_runs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tasks/{task_id}/runs/{id}/artifacts/dismiss/",
          "code": 200
        },
        "smithy.api#documentation": "Dismiss or restore task run artifacts\n\nHides artifacts from clients without deleting them from storage, so a file dismissed by mistake can be restored."
      }
    },
    "com.posthog.task_runs#TasksRunsArtifactsDownloadCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "storage_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "S3 storage path returned in the artifact manifest"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_runs#TasksRunsArtifactsDownloadCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_runs#TasksRunsArtifactsDownloadCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.task_runs#BadRequest"
        },
        {
          "target": "com.posthog.task_runs#Forbidden"
        },
        {
          "target": "com.posthog.task_runs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tasks/{task_id}/runs/{id}/artifacts/download/",
          "code": 200
        },
        "smithy.api#documentation": "Download an artifact through the backend\n\nStreams artifact content for a task run artifact after validating that it belongs to the run."
      }
    },
    "com.posthog.task_runs#TaskRunArtifactFinalizeUpload": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable identifier returned by the prepare upload endpoint"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File name associated with the artifact"
          }
        },
        "type": {
          "target": "com.posthog.task_runs#TaskRunArtifactTypeEnum",
          "traits": {
            "smithy.api#documentation": "Classification for the artifact\n\n* `plan` - plan\n* `context` - context\n* `reference` - reference\n* `output` - output\n* `artifact` - artifact\n* `tree_snapshot` - tree_snapshot\n* `user_attachment` - user_attachment\n* `skill_bundle` - skill_bundle"
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional source label for the artifact, such as agent_output or user_attachment"
          }
        },
        "storage_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "S3 object key returned by the prepare step"
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional MIME type recorded for the artifact"
          }
        },
        "metadata": {
          "target": "com.posthog.task_runs#TaskRunSkillBundleMetadata",
          "traits": {
            "smithy.api#documentation": "Skill bundle metadata, required when the artifact type is skill_bundle."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_runs#TasksRunsArtifactsFinalizeUploadCreateRequestArtifactsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_runs#TaskRunArtifactFinalizeUpload"
      },
      "traits": {
        "smithy.api#documentation": "Array of uploaded artifacts to finalize"
      }
    },
    "com.posthog.task_runs#TasksRunsArtifactsFinalizeUploadCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "artifacts": {
          "target": "com.posthog.task_runs#TasksRunsArtifactsFinalizeUploadCreateRequestArtifactsList",
          "traits": {
            "smithy.api#documentation": "Array of uploaded artifacts to finalize"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_runs#TaskRunArtifactsFinalizeUploadResponse": {
      "type": "structure",
      "members": {
        "artifacts": {
          "target": "com.posthog.task_runs#TaskRunArtifactsFinalizeUploadResponseArtifactsList",
          "traits": {
            "smithy.api#documentation": "Updated list of artifacts on the run"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_runs#TaskRunArtifactsFinalizeUploadResponseArtifactsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_runs#TaskRunArtifactResponse"
      },
      "traits": {
        "smithy.api#documentation": "Updated list of artifacts on the run"
      }
    },
    "com.posthog.task_runs#TasksRunsArtifactsFinalizeUploadCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_runs#TasksRunsArtifactsFinalizeUploadCreateRequest"
      },
      "output": {
        "target": "com.posthog.task_runs#TaskRunArtifactsFinalizeUploadResponse"
      },
      "errors": [
        {
          "target": "com.posthog.task_runs#BadRequest"
        },
        {
          "target": "com.posthog.task_runs#Forbidden"
        },
        {
          "target": "com.posthog.task_runs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tasks/{task_id}/runs/{id}/artifacts/finalize_upload/",
          "code": 200
        },
        "smithy.api#documentation": "Finalize direct uploads for task run artifacts\n\nVerify directly uploaded S3 objects and attach them to the run artifact manifest."
      }
    },
    "com.posthog.task_runs#TaskRunArtifactPrepareUpload": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File name to associate with the artifact"
          }
        },
        "type": {
          "target": "com.posthog.task_runs#TaskRunArtifactTypeEnum",
          "traits": {
            "smithy.api#documentation": "Classification for the artifact\n\n* `plan` - plan\n* `context` - context\n* `reference` - reference\n* `output` - output\n* `artifact` - artifact\n* `tree_snapshot` - tree_snapshot\n* `user_attachment` - user_attachment\n* `skill_bundle` - skill_bundle"
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional source label for the artifact, such as agent_output or user_attachment"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Expected upload size in bytes (max 31457280 bytes)"
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional MIME type for the artifact upload"
          }
        },
        "metadata": {
          "target": "com.posthog.task_runs#TaskRunSkillBundleMetadata",
          "traits": {
            "smithy.api#documentation": "Skill bundle metadata, required when the artifact type is skill_bundle."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_runs#TasksRunsArtifactsPrepareUploadCreateRequestArtifactsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_runs#TaskRunArtifactPrepareUpload"
      },
      "traits": {
        "smithy.api#documentation": "Array of artifacts to prepare"
      }
    },
    "com.posthog.task_runs#TasksRunsArtifactsPrepareUploadCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "artifacts": {
          "target": "com.posthog.task_runs#TasksRunsArtifactsPrepareUploadCreateRequestArtifactsList",
          "traits": {
            "smithy.api#documentation": "Array of artifacts to prepare"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_runs#TaskRunArtifactsPrepareUploadResponse": {
      "type": "structure",
      "members": {
        "artifacts": {
          "target": "com.posthog.task_runs#TaskRunArtifactsPrepareUploadResponseArtifactsList",
          "traits": {
            "smithy.api#documentation": "Prepared uploads for the requested artifacts"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_runs#TaskRunArtifactPrepareUploadResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable identifier for the prepared artifact within this run"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artifact file name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artifact classification (plan, context, etc.)"
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source of the artifact, such as agent_output or user_attachment"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Expected upload size in bytes"
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional MIME type"
          }
        },
        "metadata": {
          "target": "com.posthog.task_runs#TaskRunSkillBundleMetadata",
          "traits": {
            "smithy.api#documentation": "Skill bundle metadata, required when the artifact type is skill_bundle."
          }
        },
        "storage_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "S3 object key reserved for the artifact"
          }
        },
        "expires_in": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Presigned POST expiry in seconds"
          }
        },
        "presigned_post": {
          "target": "com.posthog.task_runs#S3PresignedPost",
          "traits": {
            "smithy.api#documentation": "Presigned S3 POST configuration for uploading the file"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_runs#S3PresignedPost": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Presigned S3 POST URL"
          }
        },
        "fields": {
          "target": "com.posthog.task_runs#S3PresignedPostFieldsMap",
          "traits": {
            "smithy.api#documentation": "Form fields that must be submitted verbatim with the file upload"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_runs#S3PresignedPostFieldsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Form fields that must be submitted verbatim with the file upload"
      }
    },
    "com.posthog.task_runs#TaskRunArtifactsPrepareUploadResponseArtifactsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_runs#TaskRunArtifactPrepareUploadResponse"
      },
      "traits": {
        "smithy.api#documentation": "Prepared uploads for the requested artifacts"
      }
    },
    "com.posthog.task_runs#TasksRunsArtifactsPrepareUploadCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_runs#TasksRunsArtifactsPrepareUploadCreateRequest"
      },
      "output": {
        "target": "com.posthog.task_runs#TaskRunArtifactsPrepareUploadResponse"
      },
      "errors": [
        {
          "target": "com.posthog.task_runs#BadRequest"
        },
        {
          "target": "com.posthog.task_runs#Forbidden"
        },
        {
          "target": "com.posthog.task_runs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tasks/{task_id}/runs/{id}/artifacts/prepare_upload/",
          "code": 200
        },
        "smithy.api#documentation": "Prepare direct uploads for task run artifacts\n\nReserve S3 object keys for task artifacts and return presigned POST forms for direct uploads."
      }
    },
    "com.posthog.task_runs#CreateTasksRunsArtifactsPresignRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "storage_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "S3 storage path returned in the artifact manifest"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_runs#TaskRunArtifactPresignResponse": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Presigned URL for downloading the artifact"
          }
        },
        "expires_in": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "URL expiry in seconds"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_runs#CreateTasksRunsArtifactsPresign": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_runs#CreateTasksRunsArtifactsPresignRequest"
      },
      "output": {
        "target": "com.posthog.task_runs#TaskRunArtifactPresignResponse"
      },
      "errors": [
        {
          "target": "com.posthog.task_runs#BadRequest"
        },
        {
          "target": "com.posthog.task_runs#Forbidden"
        },
        {
          "target": "com.posthog.task_runs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tasks/{task_id}/runs/{id}/artifacts/presign/",
          "code": 200
        },
        "smithy.api#documentation": "Generate presigned URL for an artifact\n\nReturns a temporary, signed URL that can be used to download a specific artifact."
      }
    },
    "com.posthog.task_runs#TaskRunPostHogReference": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fallback display name for the referenced object.",
            "smithy.api#required": {}
          }
        },
        "object_kind": {
          "target": "com.posthog.task_runs#ObjectKindEnum",
          "traits": {
            "smithy.api#documentation": "PostHog object kind used to resolve the reference.\n\n* `insight` - insight\n* `hogql` - hogql\n* `dashboard` - dashboard\n* `error` - error\n* `replay` - replay\n* `flag` - flag\n* `experiment` - experiment\n* `survey` - survey\n* `ticket` - ticket\n* `report` - report\n* `trace` - trace\n* `eval` - eval\n* `event` - event\n* `cohort` - cohort\n* `action` - action\n* `person` - person",
            "smithy.api#required": {}
          }
        },
        "object_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exact PostHog object identifier, flag key, event name, or SQL query.",
            "smithy.api#required": {}
          }
        },
        "source_message_id": {
          "target": "smithy.api#String",
          "traits": {
[...]
