{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.tracing#ListTracingRetentionRulesRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#PaginatedTracesRetentionRuleList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.tracing#PaginatedTracesRetentionRuleListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracesRetentionRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this retention rule.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-visible label for this rule.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When false, the rule is ignored by ingestion and listing UIs that show active rules only."
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lower numbers are evaluated first; the first matching rule wins. Omit to append after existing rules.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "config": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Retention rule JSON. Required keys: `retention_days` (integer — how long matching logs are kept; must be a tier the organization is entitled to, same as the team-wide Logs retention setting) and `filter_group` (PropertyGroupFilter shape — an AND/OR tree of property predicates evaluated per record to decide which logs this rule matches). Example: `{\"retention_days\":30,\"filter_group\":{\"type\":\"AND\",\"values\":[{\"type\":\"AND\",\"values\":[{\"key\":\"service.name\",\"operator\":\"exact\",\"value\":\"api\"}]}]}}`. Logs matching no enabled rule keep the environment's default retention.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Incremented on each update for worker cache coherency.",
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#PaginatedTracesRetentionRuleListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#TracesRetentionRule"
      },
      "traits": {}
    },
    "com.posthog.tracing#ListTracingRetentionRules": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#ListTracingRetentionRulesRequest"
      },
      "output": {
        "target": "com.posthog.tracing#PaginatedTracesRetentionRuleList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/tracing/retention_rules/",
          "code": 200
        },
        "smithy.api#documentation": "Span retention rules.\n\nShares the logs implementation over its own model. Only the model, the access-control scope and\nthe feature flag differ."
      }
    },
    "com.posthog.tracing#CreateTracingRetentionRuleRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-visible label for this rule.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When false, the rule is ignored by ingestion and listing UIs that show active rules only."
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lower numbers are evaluated first; the first matching rule wins. Omit to append after existing rules.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "config": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Retention rule JSON. Required keys: `retention_days` (integer — how long matching logs are kept; must be a tier the organization is entitled to, same as the team-wide Logs retention setting) and `filter_group` (PropertyGroupFilter shape — an AND/OR tree of property predicates evaluated per record to decide which logs this rule matches). Example: `{\"retention_days\":30,\"filter_group\":{\"type\":\"AND\",\"values\":[{\"type\":\"AND\",\"values\":[{\"key\":\"service.name\",\"operator\":\"exact\",\"value\":\"api\"}]}]}}`. Logs matching no enabled rule keep the environment's default retention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#CreateTracingRetentionRule": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingRetentionRuleRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracesRetentionRule"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/retention_rules/",
          "code": 200
        },
        "smithy.api#documentation": "Span retention rules.\n\nShares the logs implementation over its own model. Only the model, the access-control scope and\nthe feature flag differ."
      }
    },
    "com.posthog.tracing#GetTracingRetentionRuleRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this traces retention rule."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#GetTracingRetentionRule": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#GetTracingRetentionRuleRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracesRetentionRule"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/tracing/retention_rules/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Span retention rules.\n\nShares the logs implementation over its own model. Only the model, the access-control scope and\nthe feature flag differ."
      }
    },
    "com.posthog.tracing#UpdateTracingRetentionRuleRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this traces retention rule."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-visible label for this rule.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When false, the rule is ignored by ingestion and listing UIs that show active rules only."
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lower numbers are evaluated first; the first matching rule wins. Omit to append after existing rules.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "config": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Retention rule JSON. Required keys: `retention_days` (integer — how long matching logs are kept; must be a tier the organization is entitled to, same as the team-wide Logs retention setting) and `filter_group` (PropertyGroupFilter shape — an AND/OR tree of property predicates evaluated per record to decide which logs this rule matches). Example: `{\"retention_days\":30,\"filter_group\":{\"type\":\"AND\",\"values\":[{\"type\":\"AND\",\"values\":[{\"key\":\"service.name\",\"operator\":\"exact\",\"value\":\"api\"}]}]}}`. Logs matching no enabled rule keep the environment's default retention.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#UpdateTracingRetentionRule": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#UpdateTracingRetentionRuleRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracesRetentionRule"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/tracing/retention_rules/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Span retention rules.\n\nShares the logs implementation over its own model. Only the model, the access-control scope and\nthe feature flag differ."
      }
    },
    "com.posthog.tracing#UpdateTracingRetentionRulesPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this traces retention rule."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-visible label for this rule."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When false, the rule is ignored by ingestion and listing UIs that show active rules only."
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lower numbers are evaluated first; the first matching rule wins. Omit to append after existing rules.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "config": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Retention rule JSON. Required keys: `retention_days` (integer — how long matching logs are kept; must be a tier the organization is entitled to, same as the team-wide Logs retention setting) and `filter_group` (PropertyGroupFilter shape — an AND/OR tree of property predicates evaluated per record to decide which logs this rule matches). Example: `{\"retention_days\":30,\"filter_group\":{\"type\":\"AND\",\"values\":[{\"type\":\"AND\",\"values\":[{\"key\":\"service.name\",\"operator\":\"exact\",\"value\":\"api\"}]}]}}`. Logs matching no enabled rule keep the environment's default retention."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#UpdateTracingRetentionRulesPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#UpdateTracingRetentionRulesPartialRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracesRetentionRule"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/tracing/retention_rules/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Span retention rules.\n\nShares the logs implementation over its own model. Only the model, the access-control scope and\nthe feature flag differ."
      }
    },
    "com.posthog.tracing#TracingRetentionRulesDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this traces retention rule."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingRetentionRulesDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#TracingRetentionRulesDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/tracing/retention_rules/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Span retention rules.\n\nShares the logs implementation over its own model. Only the model, the access-control scope and\nthe feature flag differ."
      }
    },
    "com.posthog.tracing#CreateTracingRetentionRulesReorderRequestOrderedIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Rule IDs in the desired evaluation order (first element is highest priority / lowest order index)."
      }
    },
    "com.posthog.tracing#CreateTracingRetentionRulesReorderRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "ordered_ids": {
          "target": "com.posthog.tracing#CreateTracingRetentionRulesReorderRequestOrderedIdsList",
          "traits": {
            "smithy.api#documentation": "Rule IDs in the desired evaluation order (first element is highest priority / lowest order index).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#CreateTracingRetentionRulesReorder": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingRetentionRulesReorderRequest"
      },
      "output": {
        "target": "com.posthog.tracing#PaginatedTracesRetentionRuleList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/retention_rules/reorder/",
          "code": 200
        },
        "smithy.api#documentation": "Atomically reassign priorities so the given ID order maps to ascending priorities (0..n-1)."
      }
    },
    "com.posthog.tracing#CreateTracingRetentionRulesSuggestNameRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "retention_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Retention tier the rule would assign, in days.",
            "smithy.api#required": {}
          }
        },
        "filter_group": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "PropertyGroupFilter tree the rule would match on.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#LogsRetentionRuleNameSuggestion": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Suggested rule name. Empty when no suggestion could be generated — clients hide the hint.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#CreateTracingRetentionRulesSuggestName": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingRetentionRulesSuggestNameRequest"
      },
      "output": {
        "target": "com.posthog.tracing#LogsRetentionRuleNameSuggestion"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/retention_rules/suggest_name/",
          "code": 200
        },
        "smithy.api#documentation": "Suggest a human-readable name for a retention rule from its retention tier and filter group. Used by the create form as an auto-suggest; nothing is persisted. Returns an empty name when a suggestion can't be generated."
      }
    },
    "com.posthog.tracing#TracingAggregationQueryBody": {
      "type": "structure",
      "members": {
        "dateRange": {
          "target": "com.posthog.tracing#TracingDateRange",
          "traits": {
            "smithy.api#documentation": "Date range for the primary window. Defaults to last hour."
          }
        },
        "compareFilter": {
          "target": "com.posthog.tracing#CompareFilter",
          "traits": {
            "smithy.api#documentation": "Optional comparison-window configuration. When omitted, only the primary window is returned."
          }
        },
        "serviceNames": {
          "target": "com.posthog.tracing#TracingAggregationQueryBodyServiceNamesList",
          "traits": {
            "smithy.api#documentation": "Filter by service names."
          }
        },
        "filterGroup": {
          "target": "com.posthog.tracing#TracingAggregationQueryBodyFilterGroupList",
          "traits": {
            "smithy.api#documentation": "Property filters applied to spans in both windows."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max rows to return, ordered by total_duration_nano DESC. Defaults to 100; hard max 5000. Keep this small to bound the response size — a high value on high-cardinality span names (e.g. untemplated URL paths) returns a very large payload. Prefer narrowing with `serviceNames`/`filterGroup` over raising the limit."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Row offset for pagination. Combine with `limit` and the `next_offset` returned in the response to page through results beyond the first page."
          }
        },
        "includeImpact": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Also return the sessions and people behind each operation. Off by default because it reads the span and resource attribute maps, which the rest of the aggregation never touches."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingDateRange": {
      "type": "structure",
      "members": {
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of the date range. Accepts ISO 8601 timestamps or relative formats: -1h, -6h, -1d, -7d, etc.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of the date range. Same format as date_from. Omit or null for \"now\".",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#CompareFilter": {
      "type": "structure",
      "members": {
        "compare": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, also fetch results for a comparison window and return them under `compare`."
          }
        },
        "compare_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative date offset for the comparison window (e.g. '-1h', '-1d', '-7d'). Defaults to the immediately previous period of equal length.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingAggregationQueryBodyServiceNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Filter by service names."
      }
    },
    "com.posthog.tracing#SpanPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Attribute key. For type \"span\", use built-in fields (trace_id, span_id, duration, name, kind, status_code, is_root_span). For \"span_attribute\"/\"span_resource_attribute\", use the attribute key (e.g. \"http.method\").",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.posthog.tracing#SpanPropertyTypeEnum",
          "traits": {
            "smithy.api#documentation": "\"span\" filters built-in span fields. \"span_attribute\" filters span-level attributes. \"span_resource_attribute\" filters resource-level attributes.\n\n* `span` - span\n* `span_attribute` - span_attribute\n* `span_resource_attribute` - span_resource_attribute",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.posthog.tracing#SpanPropertyFilterOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Comparison operator.\n\n* `exact` - exact\n* `is_not` - is_not\n* `icontains` - icontains\n* `not_icontains` - not_icontains\n* `starts_with` - starts_with\n* `not_starts_with` - not_starts_with\n* `ends_with` - ends_with\n* `not_ends_with` - not_ends_with\n* `regex` - regex\n* `not_regex` - not_regex\n* `gt` - gt\n* `lt` - lt\n* `is_set` - is_set\n* `is_not_set` - is_not_set",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare against. String, number, or array of strings. Omit for is_set/is_not_set operators."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#SpanPropertyTypeEnum": {
      "type": "enum",
      "members": {
        "SPAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span"
          }
        },
        "SPAN_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span_attribute"
          }
        },
        "SPAN_RESOURCE_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span_resource_attribute"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `span` - span\n* `span_attribute` - span_attribute\n* `span_resource_attribute` - span_resource_attribute"
      }
    },
    "com.posthog.tracing#SpanPropertyFilterOperatorEnum": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains"
          }
        },
        "NOT_ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "NOT_STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "NOT_ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_ends_with"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "NOT_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_regex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "IS_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_set"
          }
        },
        "IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `exact` - exact\n* `is_not` - is_not\n* `icontains` - icontains\n* `not_icontains` - not_icontains\n* `starts_with` - starts_with\n* `not_starts_with` - not_starts_with\n* `ends_with` - ends_with\n* `not_ends_with` - not_ends_with\n* `regex` - regex\n* `not_regex` - not_regex\n* `gt` - gt\n* `lt` - lt\n* `is_set` - is_set\n* `is_not_set` - is_not_set"
      }
    },
    "com.posthog.tracing#TracingAggregationQueryBodyFilterGroupList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#SpanPropertyFilter"
      },
      "traits": {
        "smithy.api#documentation": "Property filters applied to spans in both windows."
      }
    },
    "com.posthog.tracing#CreateTracingSpansAggregateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "query": {
          "target": "com.posthog.tracing#TracingAggregationQueryBody",
          "traits": {
            "smithy.api#documentation": "The span aggregation query to execute.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingAggregationResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.tracing#TracingAggregationResponseResultsList",
          "traits": {
            "smithy.api#documentation": "One row per (service_name, name) group, ordered by total_duration_nano descending.",
            "smithy.api#required": {}
          }
        },
        "compare": {
          "target": "com.posthog.tracing#TracingAggregationResponseCompareList",
          "traits": {
            "smithy.api#documentation": "Rows for the comparison window when compareFilter.compare is true, else null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when more rows exist beyond this page — page further with `next_offset`, or narrow the query.",
            "smithy.api#required": {}
          }
        },
        "next_offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Offset to request the next page, or null when this is the last page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#AggregatedSpanRow": {
      "type": "structure",
      "members": {
        "service_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service that emitted the spans in this group.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Span name (operation) for this group.",
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of spans matched in this group.",
            "smithy.api#required": {}
          }
        },
        "total_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sum of span durations in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "avg_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Average span duration in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "p50_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Median span duration in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "p95_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "95th percentile span duration in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "p99_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "99th percentile span duration in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "p999_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "99.9th percentile span duration in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "error_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Spans with OTel status code Error (status_code = 2).",
            "smithy.api#required": {}
          }
        },
        "sessions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Estimated unique session IDs across this group's spans (HyperLogLog, about 1-2% error). Null unless the query set `includeImpact`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "users": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Estimated unique person distinct IDs across this group's spans (HyperLogLog, about 1-2% error). Null unless the query set `includeImpact`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "spans_with_session_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many of this group's spans carry a session ID under the team's configured or conventional attribute keys. Null unless the query set `includeImpact`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "spans_with_distinct_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many of this group's spans carry a person distinct ID under the team's configured or conventional attribute keys. Null unless the query set `includeImpact`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingAggregationResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#AggregatedSpanRow"
      },
      "traits": {
        "smithy.api#documentation": "One row per (service_name, name) group, ordered by total_duration_nano descending."
      }
    },
    "com.posthog.tracing#TracingAggregationResponseCompareList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#AggregatedSpanRow"
      },
      "traits": {
        "smithy.api#documentation": "Rows for the comparison window when compareFilter.compare is true, else null."
      }
    },
    "com.posthog.tracing#CreateTracingSpansAggregate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingSpansAggregateRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingAggregationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/spans/aggregate/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingAttributeBreakdownQueryBody": {
      "type": "structure",
      "members": {
        "breakdownKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Attribute key to group by (e.g. \"server.address\", \"http.response.status_code\"). Discover keys with apm-attributes-list. For the \"span\" breakdown type, must be one of the allowlisted top-level columns: \"service_name\", \"status_code\".",
            "smithy.api#required": {}
          }
        },
        "breakdownType": {
          "target": "com.posthog.tracing#SpanPropertyTypeEnum",
          "traits": {
            "smithy.api#documentation": "Where the key lives: \"span\" for allowlisted top-level span columns, \"span_attribute\" for span-level attributes, \"span_resource_attribute\" for resource-level attributes.\n\n* `span` - span\n* `span_attribute` - span_attribute\n* `span_resource_attribute` - span_resource_attribute",
            "smithy.api#required": {}
          }
        },
        "excludeBreakdownFilter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Drop filters targeting the breakdown key itself (including serviceNames for a service_name breakdown), so a facet's value list stays complete while one of its values is selected."
          }
        },
        "facetSearch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type-ahead filter over the breakdown field's own values (case-insensitive substring match). An empty string means no filter. Lets a facet's value search reach past the row limit."
          }
        },
        "orderBy": {
          "target": "com.posthog.tracing#TracingAttributeBreakdownQueryBodyOrderByEnum",
          "traits": {
            "smithy.api#documentation": "Order rows by span count or error count, descending. Defaults to count.\n\n* `count` - count\n* `error_count` - error_count"
          }
        },
        "dateRange": {
          "target": "com.posthog.tracing#TracingDateRange",
          "traits": {
            "smithy.api#documentation": "Date range for the primary window. Defaults to last hour."
          }
        },
        "compareFilter": {
          "target": "com.posthog.tracing#CompareFilter",
          "traits": {
            "smithy.api#documentation": "Optional comparison-window configuration. When omitted, only the primary window is returned."
          }
        },
        "serviceNames": {
          "target": "com.posthog.tracing#TracingAttributeBreakdownQueryBodyServiceNamesList",
          "traits": {
            "smithy.api#documentation": "Filter by service names."
          }
        },
        "filterGroup": {
          "target": "com.posthog.tracing#TracingAttributeBreakdownQueryBodyFilterGroupList",
          "traits": {
            "smithy.api#documentation": "Property filters scoping the spans the breakdown runs over (e.g. only error spans)."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingAttributeBreakdownQueryBodyOrderByEnum": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "ERROR_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error_count"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `count` - count\n* `error_count` - error_count"
      }
    },
    "com.posthog.tracing#TracingAttributeBreakdownQueryBodyServiceNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Filter by service names."
      }
    },
    "com.posthog.tracing#TracingAttributeBreakdownQueryBodyFilterGroupList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#SpanPropertyFilter"
      },
      "traits": {
        "smithy.api#documentation": "Property filters scoping the spans the breakdown runs over (e.g. only error spans)."
      }
    },
    "com.posthog.tracing#CreateTracingSpansAttributeBreakdownRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "query": {
          "target": "com.posthog.tracing#TracingAttributeBreakdownQueryBody",
          "traits": {
            "smithy.api#documentation": "The attribute breakdown query to execute.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingAttributeBreakdownResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.tracing#TracingAttributeBreakdownResponseResultsList",
          "traits": {
            "smithy.api#documentation": "One row per distinct attribute value, ordered by the requested column descending.",
            "smithy.api#required": {}
          }
        },
        "compare": {
          "target": "com.posthog.tracing#TracingAttributeBreakdownResponseCompareList",
          "traits": {
            "smithy.api#documentation": "Rows for the comparison window when compareFilter.compare is true, else null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingAttributeBreakdownRow": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The attribute's value for this group. Spans without the attribute group under ''.",
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of matching spans with this value.",
            "smithy.api#required": {}
          }
        },
        "error_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of matching error spans (status_code = 2).",
            "smithy.api#required": {}
          }
        },
        "p50_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Median span duration in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "p95_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "95th percentile span duration in nanoseconds.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingAttributeBreakdownResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#TracingAttributeBreakdownRow"
      },
      "traits": {
        "smithy.api#documentation": "One row per distinct attribute value, ordered by the requested column descending."
      }
    },
    "com.posthog.tracing#TracingAttributeBreakdownResponseCompareList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#TracingAttributeBreakdownRow"
      },
      "traits": {
        "smithy.api#documentation": "Rows for the comparison window when compareFilter.compare is true, else null."
      }
    },
    "com.posthog.tracing#CreateTracingSpansAttributeBreakdown": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingSpansAttributeBreakdownRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingAttributeBreakdownResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/spans/attribute-breakdown/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#GetTracingSpansAttributeRequestAttributeType": {
      "type": "enum",
      "members": {
        "SPAN_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span_attribute"
          }
        },
        "SPAN_RESOURCE_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span_resource_attribute"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#GetTracingSpansAttributeRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "attribute_type": {
          "target": "com.posthog.tracing#GetTracingSpansAttributeRequestAttributeType",
          "traits": {
            "smithy.api#httpQuery": "attribute_type",
            "smithy.api#documentation": "Type of attributes: \"span_attribute\" for span-level attributes, \"span_resource_attribute\" for resource-level attributes.\n\n* `span_attribute` - span_attribute\n* `span_resource_attribute` - span_resource_attribute"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Max results (default: 100)."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "Pagination offset (default: 0)."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search filter for attribute names."
          }
        },
        "search_values": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "search_values",
            "smithy.api#documentation": "When true, the search query also matches attribute values (not just keys), so a value such as a trace_id finds the key holding it."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingAttributesResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.tracing#TracingAttributesResponseResultsList",
          "traits": {
            "smithy.api#documentation": "Available attribute keys matching the filters.",
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total attribute keys matched (lower bound when searching values).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingAttributeEntry": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Attribute key name.",
            "smithy.api#required": {}
          }
        },
        "propertyFilterType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property filter type: \"span_attribute\" or \"span_resource_attribute\". Use this as the `type` field when filtering.",
            "smithy.api#required": {}
          }
        },
        "matchedOn": {
          "target": "com.posthog.tracing#MatchedOnEnum",
          "traits": {
            "smithy.api#documentation": "How the search query matched this row: \"key\" if the attribute key matched, \"value\" if a value matched.\n\n* `key` - key\n* `value` - value",
            "smithy.api#required": {}
          }
        },
        "matchedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sample matching value — only set when matchedOn is \"value\".",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#MatchedOnEnum": {
      "type": "enum",
      "members": {
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "key"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "value"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `key` - key\n* `value` - value"
      }
    },
    "com.posthog.tracing#TracingAttributesResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#TracingAttributeEntry"
      },
      "traits": {
        "smithy.api#documentation": "Available attribute keys matching the filters."
      }
    },
    "com.posthog.tracing#GetTracingSpansAttribute": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#GetTracingSpansAttributeRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingAttributesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/tracing/spans/attributes/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingCountBody": {
      "type": "structure",
      "members": {
        "dateRange": {
          "target": "com.posthog.tracing#TracingDateRange",
          "traits": {
            "smithy.api#documentation": "Date range for the count. Defaults to last hour."
          }
        },
        "serviceNames": {
          "target": "com.posthog.tracing#TracingCountBodyServiceNamesList",
          "traits": {
            "smithy.api#documentation": "Filter by service names."
          }
        },
        "statusCodes": {
          "target": "com.posthog.tracing#TracingCountBodyStatusCodesList",
          "traits": {
            "smithy.api#documentation": "Filter by OTel span status codes (0 Unset, 1 OK, 2 Error) — not HTTP status codes. Use [2] to select error spans."
          }
        },
        "filterGroup": {
          "target": "com.posthog.tracing#TracingCountBodyFilterGroup",
          "traits": {
            "smithy.api#documentation": "Property filters for the count. Either a flat list of filters or a nested filter group."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingCountBodyServiceNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Filter by service names."
      }
    },
    "com.posthog.tracing#TracingCountBodyStatusCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Filter by OTel span status codes (0 Unset, 1 OK, 2 Error) — not HTTP status codes. Use [2] to select error spans."
      }
    },
    "com.posthog.tracing#TracingCountBodyFilterGroupCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#SpanPropertyFilter"
      },
      "traits": {
        "smithy.api#documentation": "A flat list of filters, combined with AND."
      }
    },
    "com.posthog.tracing#TracingCountBodyFilterGroupCase1Type": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How the inner groups combine."
      }
    },
    "com.posthog.tracing#TracingCountBodyFilterGroupCase1ValuesItemType": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How the filters in this group combine."
      }
    },
    "com.posthog.tracing#TracingCountBodyFilterGroupCase1ValuesItemValuesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#SpanPropertyFilter"
      },
      "traits": {
        "smithy.api#documentation": "The property filters in this group."
      }
    },
    "com.posthog.tracing#TracingCountBodyFilterGroupCase1ValuesItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.tracing#TracingCountBodyFilterGroupCase1ValuesItemType",
          "traits": {
            "smithy.api#documentation": "How the filters in this group combine.",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.posthog.tracing#TracingCountBodyFilterGroupCase1ValuesItemValuesList",
          "traits": {
            "smithy.api#documentation": "The property filters in this group.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingCountBodyFilterGroupCase1ValuesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#TracingCountBodyFilterGroupCase1ValuesItem"
      },
      "traits": {
        "smithy.api#documentation": "The inner filter groups."
      }
    },
    "com.posthog.tracing#TracingCountBodyFilterGroupCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.tracing#TracingCountBodyFilterGroupCase1Type",
          "traits": {
            "smithy.api#documentation": "How the inner groups combine.",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.posthog.tracing#TracingCountBodyFilterGroupCase1ValuesList",
          "traits": {
            "smithy.api#documentation": "The inner filter groups.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A nested group of filter groups, as the UI filter editor builds it."
      }
    },
    "com.posthog.tracing#TracingCountBodyFilterGroup": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.tracing#TracingCountBodyFilterGroupCase0List"
        },
        "Case1": {
          "target": "com.posthog.tracing#TracingCountBodyFilterGroupCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Property filters for the count. Either a flat list of filters or a nested filter group."
      }
    },
    "com.posthog.tracing#CreateTracingSpansCountRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "query": {
          "target": "com.posthog.tracing#TracingCountBody",
          "traits": {
            "smithy.api#documentation": "The span count query to execute.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingCountResponse": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of spans matching the filters.",
            "smithy.api#required": {}
          }
        },
        "traceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of distinct traces whose root span matches the filters — the trace count shown in the Traces view.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#CreateTracingSpansCount": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingSpansCountRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingCountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/spans/count/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingDurationHistogramQueryBody": {
      "type": "structure",
      "members": {
        "dateRange": {
          "target": "com.posthog.tracing#TracingDateRange",
          "traits": {
            "smithy.api#documentation": "Date range for the query. Defaults to last hour."
          }
        },
        "serviceNames": {
          "target": "com.posthog.tracing#TracingDurationHistogramQueryBodyServiceNamesList",
          "traits": {
            "smithy.api#documentation": "Filter by service names."
          }
        },
        "statusCodes": {
          "target": "com.posthog.tracing#TracingDurationHistogramQueryBodyStatusCodesList",
          "traits": {
            "smithy.api#documentation": "Filter by OTel span status codes (0 Unset, 1 OK, 2 Error) — not HTTP status codes. Use [2] to select error spans."
          }
        },
        "filterGroup": {
          "target": "com.posthog.tracing#TracingDurationHistogramQueryBodyFilterGroupList",
          "traits": {
            "smithy.api#documentation": "Property filters for the query."
          }
        },
        "rootSpans": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true (default), bucket root-span durations only — a distribution of traces. When false, bucket every matching span — used with a span name filter for operation-scoped distributions."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingDurationHistogramQueryBodyServiceNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Filter by service names."
      }
    },
    "com.posthog.tracing#TracingDurationHistogramQueryBodyStatusCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Filter by OTel span status codes (0 Unset, 1 OK, 2 Error) — not HTTP status codes. Use [2] to select error spans."
      }
    },
    "com.posthog.tracing#TracingDurationHistogramQueryBodyFilterGroupList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#SpanPropertyFilter"
      },
      "traits": {
        "smithy.api#documentation": "Property filters for the query."
      }
    },
    "com.posthog.tracing#CreateTracingSpansDurationHistogramRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "query": {
          "target": "com.posthog.tracing#TracingDurationHistogramQueryBody",
          "traits": {
            "smithy.api#documentation": "The duration-histogram query to execute.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingDurationHistogramResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.tracing#TracingDurationHistogramResponseResultsList",
          "traits": {
            "smithy.api#documentation": "One row per duration bucket and service.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingDurationHistogramRow": {
      "type": "structure",
      "members": {
        "bucket_ns": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lower bound of the duration bucket in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service the count belongs to.",
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Spans in this bucket for this service.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingDurationHistogramResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#TracingDurationHistogramRow"
      },
      "traits": {
        "smithy.api#documentation": "One row per duration bucket and service."
      }
    },
    "com.posthog.tracing#CreateTracingSpansDurationHistogram": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingSpansDurationHistogramRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingDurationHistogramResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/spans/duration-histogram/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#CreateTracingSpansErrorCountRequestTraceIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Hex trace IDs to count exceptions for, matched against the exception's `$trace_id` property. Case insensitive. At most 200 per request."
      }
    },
    "com.posthog.tracing#CreateTracingSpansErrorCountRequestSpanIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Hex span IDs to count exceptions for, matched against the exception's `$span_id` property. Only counted within the requested traces, so `traceIds` is required alongside. At most 200 per request."
      }
    },
    "com.posthog.tracing#CreateTracingSpansErrorCountRequestSessionIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Session IDs to count exceptions for. The fallback for exceptions that carry no trace ID. At most 200 per request."
      }
    },
    "com.posthog.tracing#CreateTracingSpansErrorCountRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "traceIds": {
          "target": "com.posthog.tracing#CreateTracingSpansErrorCountRequestTraceIdsList",
          "traits": {
            "smithy.api#documentation": "Hex trace IDs to count exceptions for, matched against the exception's `$trace_id` property. Case insensitive. At most 200 per request."
          }
        },
        "spanIds": {
          "target": "com.posthog.tracing#CreateTracingSpansErrorCountRequestSpanIdsList",
          "traits": {
            "smithy.api#documentation": "Hex span IDs to count exceptions for, matched against the exception's `$span_id` property. Only counted within the requested traces, so `traceIds` is required alongside. At most 200 per request."
          }
        },
        "sessionIds": {
          "target": "com.posthog.tracing#CreateTracingSpansErrorCountRequestSessionIdsList",
          "traits": {
            "smithy.api#documentation": "Session IDs to count exceptions for. The fallback for exceptions that carry no trace ID. At most 200 per request."
          }
        },
        "dateFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of the window the exceptions must fall in. ISO 8601.",
            "smithy.api#required": {}
          }
        },
        "dateTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of the window the exceptions must fall in. ISO 8601.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingErrorCountsResponse": {
      "type": "structure",
      "members": {
        "traceResults": {
          "target": "com.posthog.tracing#TracingErrorCountsResponseTraceResultsList",
          "traits": {
            "smithy.api#documentation": "One entry per requested trace that had exceptions. Traces with none are omitted.",
            "smithy.api#required": {}
          }
        },
        "spanResults": {
          "target": "com.posthog.tracing#TracingErrorCountsResponseSpanResultsList",
          "traits": {
            "smithy.api#documentation": "One entry per requested span that had exceptions. Spans with none are omitted.",
            "smithy.api#required": {}
          }
        },
        "sessionResults": {
          "target": "com.posthog.tracing#TracingErrorCountsResponseSessionResultsList",
          "traits": {
            "smithy.api#documentation": "One entry per requested session that had exceptions. Sessions with none are omitted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingTraceErrorCount": {
      "type": "structure",
      "members": {
        "exceptions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Exception events in the window that error tracking linked to an issue.",
            "smithy.api#required": {}
          }
        },
        "trace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The trace the exceptions belong to, lowercase hex.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingErrorCountsResponseTraceResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#TracingTraceErrorCount"
      },
      "traits": {
        "smithy.api#documentation": "One entry per requested trace that had exceptions. Traces with none are omitted."
      }
    },
    "com.posthog.tracing#TracingSpanErrorCount": {
      "type": "structure",
      "members": {
        "exceptions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Exception events in the window that error tracking linked to an issue.",
            "smithy.api#required": {}
          }
        },
        "span_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The span the exceptions belong to, lowercase hex.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingErrorCountsResponseSpanResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#TracingSpanErrorCount"
      },
      "traits": {
        "smithy.api#documentation": "One entry per requested span that had exceptions. Spans with none are omitted."
      }
    },
    "com.posthog.tracing#TracingSessionErrorCount": {
      "type": "structure",
      "members": {
        "exceptions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Exception events in the window that error tracking linked to an issue.",
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The session the exceptions belong to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingErrorCountsResponseSessionResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#TracingSessionErrorCount"
      },
      "traits": {
        "smithy.api#documentation": "One entry per requested session that had exceptions. Sessions with none are omitted."
      }
    },
    "com.posthog.tracing#CreateTracingSpansErrorCount": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingSpansErrorCountRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingErrorCountsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/spans/error-counts/",
          "code": 200
        },
        "smithy.api#documentation": "Count the exceptions the spans in view hit, by trace, by span and by session, for the\nspan list's error badges.\n\nA caller asks about the id kinds it has, and each kind is a separate lookup."
      }
    },
    "com.posthog.tracing#GetTracingSpansHasSpanRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#HasSpansResponse": {
      "type": "structure",
      "members": {
        "hasSpans": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the team has ingested any tracing spans yet. Used to gate the onboarding empty state.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#GetTracingSpansHasSpan": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#GetTracingSpansHasSpanRequest"
      },
      "output": {
        "target": "com.posthog.tracing#HasSpansResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/tracing/spans/has_spans/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#CreateTracingSpansImpactRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "query": {
          "target": "com.posthog.tracing#TracingCountBody",
          "traits": {
            "smithy.api#documentation": "The impact query to execute. Takes the same filters as the count query.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingImpactResponse": {
      "type": "structure",
      "members": {
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of spans matching the filters.",
            "smithy.api#required": {}
          }
        },
        "spansWithSessionId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many of the matching spans carry a session ID under the team's configured or conventional attribute keys.",
            "smithy.api#required": {}
          }
        },
        "sessions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Estimated number of unique session IDs across the matching spans (HyperLogLog, about 1-2% error).",
            "smithy.api#required": {}
          }
        },
        "spansWithDistinctId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many of the matching spans carry a person distinct ID under the team's configured or conventional attribute keys.",
            "smithy.api#required": {}
          }
        },
        "users": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Estimated number of unique distinct IDs across the matching spans (HyperLogLog, about 1-2% error).",
            "smithy.api#required": {}
          }
        },
        "topSessions": {
          "target": "com.posthog.tracing#TracingImpactResponseTopSessionsList",
          "traits": {
            "smithy.api#documentation": "Top session IDs on the matching spans, ordered by span count descending (topK, at most 5).",
            "smithy.api#required": {}
          }
        },
        "topUsers": {
          "target": "com.posthog.tracing#TracingImpactResponseTopUsersList",
          "traits": {
            "smithy.api#documentation": "Top person distinct IDs on the matching spans, ordered by span count descending (topK, at most 5).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingImpactTopValue": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The session ID or person distinct ID.",
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Approximate number of matching spans that carry this value (topK estimate).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingImpactResponseTopSessionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#TracingImpactTopValue"
      },
      "traits": {
        "smithy.api#documentation": "Top session IDs on the matching spans, ordered by span count descending (topK, at most 5)."
      }
    },
    "com.posthog.tracing#TracingImpactResponseTopUsersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#TracingImpactTopValue"
      },
      "traits": {
        "smithy.api#documentation": "Top person distinct IDs on the matching spans, ordered by span count descending (topK, at most 5)."
      }
    },
    "com.posthog.tracing#CreateTracingSpansImpact": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingSpansImpactRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingImpactResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/spans/impact/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#CreateTracingSpansLatencyHeatmapRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "query": {
          "target": "com.posthog.tracing#TracingDurationHistogramQueryBody",
          "traits": {
            "smithy.api#documentation": "The latency-heatmap query to execute.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingLatencyHeatmapResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.tracing#TracingLatencyHeatmapResponseResultsList",
          "traits": {
            "smithy.api#documentation": "Sparse heatmap cells ordered by time then duration bucket. Every time bucket in the window appears in at least one row, so the full x axis can be derived from the response.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingLatencyHeatmapCell": {
      "type": "structure",
      "members": {
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 UTC start of the time bucket.",
            "smithy.api#required": {}
          }
        },
        "bucket_ns": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lower edge of the 1-2-5 series duration bucket in nanoseconds (1ms, 2ms, 5ms, 10ms, ...). 0 on the sentinel row that enumerates a time bucket with no matching spans.",
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Traces in this cell, bucketed by root-span duration (the default, rootSpans=true). When rootSpans is false, every matching span is counted instead. 0 only on sentinel rows.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingLatencyHeatmapResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#TracingLatencyHeatmapCell"
      },
      "traits": {
        "smithy.api#documentation": "Sparse heatmap cells ordered by time then duration bucket. Every time bucket in the window appears in at least one row, so the full x axis can be derived from the response."
      }
    },
    "com.posthog.tracing#CreateTracingSpansLatencyHeatmap": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingSpansLatencyHeatmapRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingLatencyHeatmapResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/spans/latency-heatmap/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingQueryBody": {
      "type": "structure",
      "members": {
        "dateRange": {
          "target": "com.posthog.tracing#TracingDateRange",
          "traits": {
            "smithy.api#documentation": "Date range for the query. Defaults to last hour."
          }
        },
        "serviceNames": {
          "target": "com.posthog.tracing#TracingQueryBodyServiceNamesList",
          "traits": {
            "smithy.api#documentation": "Filter by service names."
          }
        },
        "statusCodes": {
          "target": "com.posthog.tracing#TracingQueryBodyStatusCodesList",
          "traits": {
            "smithy.api#documentation": "Filter by OTel span status codes (0 Unset, 1 OK, 2 Error) — not HTTP status codes. Use [2] to select error spans."
          }
        },
        "orderBy": {
          "target": "com.posthog.tracing#TracingQueryBodyOrderByEnum",
          "traits": {
            "smithy.api#documentation": "Column to order by. Defaults to timestamp. Ordering by timestamp paginates via the keyset cursor ('after'); ordering by duration paginates via 'offset'.\n\n* `timestamp` - timestamp\n* `duration` - duration"
          }
        },
        "orderDirection": {
          "target": "com.posthog.tracing#OrderDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Order direction. Defaults to DESC (e.g. timestamp+DESC = newest first, duration+DESC = slowest first).\n\n* `ASC` - ASC\n* `DESC` - DESC"
          }
        },
        "filterGroup": {
          "target": "com.posthog.tracing#TracingQueryBodyFilterGroupList",
          "traits": {
            "smithy.api#documentation": "Property filters for the query."
          }
        },
        "traceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter to a specific trace ID (hex string)."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max results (1-1000). Defaults to 100."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Keyset pagination cursor from a previous timestamp-ordered response."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pagination offset, used when ordering by a column (e.g. duration). Defaults to 0."
          }
        },
        "rootSpans": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Filter to root spans only. Defaults to true."
          }
        },
        "flatSpans": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Return the matching spans themselves, one row per span (root and child), instead of collapsing to traces. Use this to search by a child-span attribute (e.g. code.filepath) without the whole-trace grouping. Distinct from rootSpans. Defaults to false."
          }
        },
        "prefetchSpans": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of child spans to prefetch per trace (1-100)."
          }
        },
        "excludeAttributes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Omit the per-span attributes and resource attributes maps from results to keep payloads compact. Defaults to false."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingQueryBodyServiceNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Filter by service names."
      }
    },
    "com.posthog.tracing#TracingQueryBodyStatusCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Filter by OTel span status codes (0 Unset, 1 OK, 2 Error) — not HTTP status codes. Use [2] to select error spans."
      }
    },
    "com.posthog.tracing#TracingQueryBodyOrderByEnum": {
      "type": "enum",
      "members": {
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timestamp"
          }
        },
        "DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `timestamp` - timestamp\n* `duration` - duration"
      }
    },
    "com.posthog.tracing#OrderDirectionEnum": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASC"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESC"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `ASC` - ASC\n* `DESC` - DESC"
      }
    },
    "com.posthog.tracing#TracingQueryBodyFilterGroupList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#SpanPropertyFilter"
      },
      "traits": {
        "smithy.api#documentation": "Property filters for the query."
      }
    },
    "com.posthog.tracing#CreateTracingSpansQueryRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "query": {
          "target": "com.posthog.tracing#TracingQueryBody",
          "traits": {
            "smithy.api#documentation": "The tracing spans query to execute.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingQueryResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.tracing#TracingQueryResponseResultsList",
          "traits": {
            "smithy.api#documentation": "Matching spans, ordered by the requested column.",
            "smithy.api#required": {}
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a further page exists.",
            "smithy.api#required": {}
          }
        },
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for the next page, or null on the last page. Pass it back as the query's `after`. Always null when ordering by duration, which pages by offset instead.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#Span": {
      "type": "structure",
      "members": {
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Span's own UUID.",
            "smithy.api#required": {}
          }
        },
        "trace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trace this span belongs to.",
            "smithy.api#required": {}
          }
        },
        "span_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Span's ID within the trace.",
            "smithy.api#required": {}
          }
        },
        "parent_span_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent span's ID. Empty for a root span.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Span name, which is the operation it represents.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "OpenTelemetry span kind.",
            "smithy.api#required": {}
          }
        },
        "service_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service that emitted the span.",
            "smithy.api#required": {}
          }
        },
        "status_code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "OpenTelemetry status code: 0 unset, 1 ok, 2 error.",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the span started.",
            "smithy.api#required": {}
          }
        },
        "end_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the span ended.",
            "smithy.api#required": {}
          }
        },
        "duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Span duration in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "is_root_span": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the span has no parent in the trace.",
            "smithy.api#required": {}
          }
        },
        "matched_filter": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "1 when this span matched the request's filters, 0 when it is included as context. The query selects it as an expression, so it arrives as a number rather than a boolean.",
            "smithy.api#required": {}
          }
        },
        "trace_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of the whole trace, for ordering traces by recency.",
            "smithy.api#required": {}
          }
        },
        "trace_duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Duration of the whole trace in nanoseconds. Falls back to this span's duration.",
            "smithy.api#required": {}
          }
        },
        "attributes": {
          "target": "com.posthog.tracing#SpanAttributesMap",
          "traits": {
            "smithy.api#documentation": "Span attributes. Keys are whatever the instrumentation set.",
            "smithy.api#required": {}
          }
        },
        "resource_attributes": {
          "target": "com.posthog.tracing#SpanResourceAttributesMap",
          "traits": {
            "smithy.api#documentation": "Resource attributes of the emitting service. Keys are whatever the instrumentation set.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One span row as the query and trace actions return it.\n\nThe runner assembles these from HogQL result columns by position, so the key set is fixed even\nthough the values come from a query. `trace_start` and `trace_duration` are the sort keys the\ntrace list orders on, carried in the row rather than recomputed by the caller."
      }
    },
    "com.posthog.tracing#SpanAttributesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Span attributes. Keys are whatever the instrumentation set."
      }
    },
    "com.posthog.tracing#SpanResourceAttributesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource attributes of the emitting service. Keys are whatever the instrumentation set."
      }
    },
    "com.posthog.tracing#TracingQueryResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#Span"
      },
      "traits": {
        "smithy.api#documentation": "Matching spans, ordered by the requested column."
      }
    },
    "com.posthog.tracing#CreateTracingSpansQuery": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingSpansQueryRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingQueryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/spans/query/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#GetTracingSpansServiceNameRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dateRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dateRange",
            "smithy.api#documentation": "JSON-encoded date range, e.g. '{\"date_from\": \"-1h\"}'."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search filter for service names."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingServiceNamesResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.tracing#TracingServiceNamesResponseResultsList",
          "traits": {
            "smithy.api#documentation": "Services that emitted spans in the window.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingServiceName": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingServiceNamesResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#TracingServiceName"
      },
      "traits": {
        "smithy.api#documentation": "Services that emitted spans in the window."
      }
    },
    "com.posthog.tracing#GetTracingSpansServiceName": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#GetTracingSpansServiceNameRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingServiceNamesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/tracing/spans/service-names/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingSparklineQueryBody": {
      "type": "structure",
      "members": {
        "dateRange": {
          "target": "com.posthog.tracing#TracingDateRange",
          "traits": {
            "smithy.api#documentation": "Date range for the query. Defaults to last hour."
          }
        },
        "serviceNames": {
          "target": "com.posthog.tracing#TracingSparklineQueryBodyServiceNamesList",
          "traits": {
            "smithy.api#documentation": "Filter by service names."
          }
        },
        "statusCodes": {
          "target": "com.posthog.tracing#TracingSparklineQueryBodyStatusCodesList",
          "traits": {
            "smithy.api#documentation": "Filter by OTel span status codes (0 Unset, 1 OK, 2 Error) — not HTTP status codes. Use [2] to select error spans."
          }
        },
        "filterGroup": {
          "target": "com.posthog.tracing#TracingSparklineQueryBodyFilterGroupList",
          "traits": {
            "smithy.api#documentation": "Property filters for the query."
          }
        },
        "rootSpans": {
          "target": "smithy.api#Boolean",
          "traits": {
[...]
