{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.vision#ListVisionAlertsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "scanner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "scanner_id",
            "smithy.api#documentation": "Only return alerts on this scanner."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#PaginatedVisionAlertConfigurationList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.vision#PaginatedVisionAlertConfigurationListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionAlertConfiguration": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this alert.",
            "smithy.api#required": {}
          }
        },
        "scanner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scanner whose observations this alert watches. Immutable after creation.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this alert. Defaults to 'Untitled alert' on create when omitted."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert is active. Disabling a metric alert resets its state to not_firing."
          }
        },
        "kind": {
          "target": "com.posthog.vision#VisionAlertKindEnum",
          "traits": {
            "smithy.api#documentation": "'metric' fires when a metric crosses a threshold over a rolling window; 'match' fires on every observation that matches the selection. Immutable after creation.\n\n* `metric` - Metric\n* `match` - Match",
            "smithy.api#required": {}
          }
        },
        "selection": {
          "target": "com.posthog.vision#VisionAlertSelection",
          "traits": {
            "smithy.api#documentation": "Which observations count. Empty matches every observation of the scanner."
          }
        },
        "metric": {
          "target": "com.posthog.vision#VisionAlertMetricEnum",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: what to measure over the window. 'avg_score' requires a scorer scanner.\n\n* `count` - Count matching observations\n* `avg_score` - Average score"
          }
        },
        "direction": {
          "target": "com.posthog.vision#VisionAlertDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: whether the alert fires at or above, or at or below, the threshold.\n\n* `above` - At or above\n* `below` - At or below"
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: the threshold value. Required for metric alerts, must be omitted for match alerts.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: rolling window in days. Allowed values: [1, 3, 7, 14, 30]."
          }
        },
        "check_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: evaluation cadence in minutes, at least 15."
          }
        },
        "state": {
          "target": "com.posthog.vision#LogsAlertConfigurationStateEnum",
          "traits": {
            "smithy.api#documentation": "Current lifecycle state. Always not_firing for match alerts. Server-managed.\n\n* `not_firing` - Not firing\n* `firing` - Firing\n* `pending_resolve` - Pending resolve\n* `errored` - Errored\n* `snoozed` - Snoozed\n* `broken` - Broken",
            "smithy.api#required": {}
          }
        },
        "evaluation_periods": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: total check periods in the sliding evaluation window (M in N-of-M)."
          }
        },
        "datapoints_to_alarm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: how many periods must breach to fire (N in N-of-M)."
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: minimum minutes between repeated notifications. 0 means no cooldown."
          }
        },
        "schedule_restriction": {
          "target": "com.posthog.vision#AlertScheduleRestriction",
          "traits": {
            "smithy.api#documentation": "Blocked local time windows when the alert must not notify. Times use the project timezone. Null disables quiet hours.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "snooze_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timestamp until which the alert is snoozed. Set to null to unsnooze.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_check_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the next evaluation is scheduled. Server-managed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_notified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the last notification was sent. Server-managed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_checked_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was last evaluated. Server-managed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "consecutive_failures": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Consecutive evaluation failures. Resets on success. Server-managed.",
            "smithy.api#required": {}
          }
        },
        "first_enabled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was first enabled. Null means still a draft.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was created.",
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.vision#UserBasic",
          "traits": {
            "smithy.api#documentation": "User who created the alert; null once that user is deleted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was last modified.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionAlertKindEnum": {
      "type": "enum",
      "members": {
        "METRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "metric"
          }
        },
        "MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "match"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `metric` - Metric\n* `match` - Match"
      }
    },
    "com.posthog.vision#VisionAlertSelection": {
      "type": "structure",
      "members": {
        "verdict": {
          "target": "com.posthog.vision#VisionAlertSelectionVerdictList",
          "traits": {
            "smithy.api#documentation": "Monitor verdicts to match, e.g. ['yes']."
          }
        },
        "tags": {
          "target": "com.posthog.vision#VisionAlertSelectionTagsList",
          "traits": {
            "smithy.api#documentation": "Classifier tags to match; an observation matches when it carries any of them."
          }
        },
        "min_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum scorer score (inclusive)."
          }
        },
        "max_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum scorer score (inclusive)."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionAlertSelectionVerdictList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Monitor verdicts to match, e.g. ['yes']."
      }
    },
    "com.posthog.vision#VisionAlertSelectionTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Classifier tags to match; an observation matches when it carries any of them."
      }
    },
    "com.posthog.vision#VisionAlertMetricEnum": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "AVG_SCORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "avg_score"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `count` - Count matching observations\n* `avg_score` - Average score"
      }
    },
    "com.posthog.vision#VisionAlertDirectionEnum": {
      "type": "enum",
      "members": {
        "ABOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "above"
          }
        },
        "BELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "below"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `above` - At or above\n* `below` - At or below"
      }
    },
    "com.posthog.vision#LogsAlertConfigurationStateEnum": {
      "type": "enum",
      "members": {
        "NOT_FIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_firing"
          }
        },
        "FIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firing"
          }
        },
        "PENDING_RESOLVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_resolve"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errored"
          }
        },
        "SNOOZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snoozed"
          }
        },
        "BROKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "broken"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `not_firing` - Not firing\n* `firing` - Firing\n* `pending_resolve` - Pending resolve\n* `errored` - Errored\n* `snoozed` - Snoozed\n* `broken` - Broken"
      }
    },
    "com.posthog.vision#AlertScheduleRestriction": {
      "type": "structure",
      "members": {
        "blocked_windows": {
          "target": "com.posthog.vision#AlertScheduleRestrictionBlockedWindowsList",
          "traits": {
            "smithy.api#documentation": "Blocked local time windows when the alert must not run. Overlapping or identical windows are merged when saved. At most five windows before normalization; empty array clears quiet hours."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#AlertScheduleRestrictionWindow": {
      "type": "structure",
      "members": {
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time HH:MM (24-hour, project timezone). Inclusive. Each window must span ≥ 30 minutes on the local daily timeline (half-open [start, end))."
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time HH:MM (24-hour). Exclusive (half-open interval). Each window must span ≥ 30 minutes locally."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#AlertScheduleRestrictionBlockedWindowsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#AlertScheduleRestrictionWindow"
      },
      "traits": {
        "smithy.api#documentation": "Blocked local time windows when the alert must not run. Overlapping or identical windows are merged when saved. At most five windows before normalization; empty array clears quiet hours."
      }
    },
    "com.posthog.vision#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.vision#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.vision#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.vision#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.vision#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.vision#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.vision#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.vision#PaginatedVisionAlertConfigurationListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#VisionAlertConfiguration"
      },
      "traits": {}
    },
    "com.posthog.vision#ListVisionAlerts": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#ListVisionAlertsRequest"
      },
      "output": {
        "target": "com.posthog.vision#PaginatedVisionAlertConfigurationList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/vision/alerts/",
          "code": 200
        }
      }
    },
    "com.posthog.vision#CreateVisionAlertRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "scanner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scanner whose observations this alert watches. Immutable after creation.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this alert. Defaults to 'Untitled alert' on create when omitted."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert is active. Disabling a metric alert resets its state to not_firing."
          }
        },
        "kind": {
          "target": "com.posthog.vision#VisionAlertKindEnum",
          "traits": {
            "smithy.api#documentation": "'metric' fires when a metric crosses a threshold over a rolling window; 'match' fires on every observation that matches the selection. Immutable after creation.\n\n* `metric` - Metric\n* `match` - Match",
            "smithy.api#required": {}
          }
        },
        "selection": {
          "target": "com.posthog.vision#VisionAlertSelection",
          "traits": {
            "smithy.api#documentation": "Which observations count. Empty matches every observation of the scanner."
          }
        },
        "metric": {
          "target": "com.posthog.vision#VisionAlertMetricEnum",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: what to measure over the window. 'avg_score' requires a scorer scanner.\n\n* `count` - Count matching observations\n* `avg_score` - Average score"
          }
        },
        "direction": {
          "target": "com.posthog.vision#VisionAlertDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: whether the alert fires at or above, or at or below, the threshold.\n\n* `above` - At or above\n* `below` - At or below"
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: the threshold value. Required for metric alerts, must be omitted for match alerts.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: rolling window in days. Allowed values: [1, 3, 7, 14, 30]."
          }
        },
        "check_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: evaluation cadence in minutes, at least 15."
          }
        },
        "evaluation_periods": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: total check periods in the sliding evaluation window (M in N-of-M)."
          }
        },
        "datapoints_to_alarm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: how many periods must breach to fire (N in N-of-M)."
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: minimum minutes between repeated notifications. 0 means no cooldown."
          }
        },
        "schedule_restriction": {
          "target": "com.posthog.vision#AlertScheduleRestriction",
          "traits": {
            "smithy.api#documentation": "Blocked local time windows when the alert must not notify. Times use the project timezone. Null disables quiet hours.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "snooze_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timestamp until which the alert is snoozed. Set to null to unsnooze.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#CreateVisionAlert": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#CreateVisionAlertRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionAlertConfiguration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/vision/alerts/",
          "code": 200
        }
      }
    },
    "com.posthog.vision#GetVisionAlertRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision alert configuration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionAlertConfigurationDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this alert.",
            "smithy.api#required": {}
          }
        },
        "scanner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scanner whose observations this alert watches. Immutable after creation.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this alert. Defaults to 'Untitled alert' on create when omitted."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert is active. Disabling a metric alert resets its state to not_firing."
          }
        },
        "kind": {
          "target": "com.posthog.vision#VisionAlertKindEnum",
          "traits": {
            "smithy.api#documentation": "'metric' fires when a metric crosses a threshold over a rolling window; 'match' fires on every observation that matches the selection. Immutable after creation.\n\n* `metric` - Metric\n* `match` - Match",
            "smithy.api#required": {}
          }
        },
        "selection": {
          "target": "com.posthog.vision#VisionAlertSelection",
          "traits": {
            "smithy.api#documentation": "Which observations count. Empty matches every observation of the scanner."
          }
        },
        "metric": {
          "target": "com.posthog.vision#VisionAlertMetricEnum",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: what to measure over the window. 'avg_score' requires a scorer scanner.\n\n* `count` - Count matching observations\n* `avg_score` - Average score"
          }
        },
        "direction": {
          "target": "com.posthog.vision#VisionAlertDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: whether the alert fires at or above, or at or below, the threshold.\n\n* `above` - At or above\n* `below` - At or below"
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: the threshold value. Required for metric alerts, must be omitted for match alerts.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: rolling window in days. Allowed values: [1, 3, 7, 14, 30]."
          }
        },
        "check_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: evaluation cadence in minutes, at least 15."
          }
        },
        "state": {
          "target": "com.posthog.vision#LogsAlertConfigurationStateEnum",
          "traits": {
            "smithy.api#documentation": "Current lifecycle state. Always not_firing for match alerts. Server-managed.\n\n* `not_firing` - Not firing\n* `firing` - Firing\n* `pending_resolve` - Pending resolve\n* `errored` - Errored\n* `snoozed` - Snoozed\n* `broken` - Broken",
            "smithy.api#required": {}
          }
        },
        "evaluation_periods": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: total check periods in the sliding evaluation window (M in N-of-M)."
          }
        },
        "datapoints_to_alarm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: how many periods must breach to fire (N in N-of-M)."
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: minimum minutes between repeated notifications. 0 means no cooldown."
          }
        },
        "schedule_restriction": {
          "target": "com.posthog.vision#AlertScheduleRestriction",
          "traits": {
            "smithy.api#documentation": "Blocked local time windows when the alert must not notify. Times use the project timezone. Null disables quiet hours.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "snooze_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timestamp until which the alert is snoozed. Set to null to unsnooze.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_check_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the next evaluation is scheduled. Server-managed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_notified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the last notification was sent. Server-managed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_checked_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was last evaluated. Server-managed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "consecutive_failures": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Consecutive evaluation failures. Resets on success. Server-managed.",
            "smithy.api#required": {}
          }
        },
        "first_enabled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was first enabled. Null means still a draft.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was created.",
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.vision#UserBasic",
          "traits": {
            "smithy.api#documentation": "User who created the alert; null once that user is deleted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was last modified.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "destinations": {
          "target": "com.posthog.vision#VisionAlertConfigurationDetailDestinationsList",
          "traits": {
            "smithy.api#documentation": "This alert's notification destinations, one entry per destination, with credential-bearing URL parts removed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionAlertDestinationConfig": {
      "type": "structure",
      "members": {
        "hog_function_ids": {
          "target": "com.posthog.vision#VisionAlertDestinationConfigHogFunctionIdsList",
          "traits": {
            "smithy.api#documentation": "HogFunctions backing the created destination, one per event kind.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.posthog.vision#VisionAlertDestinationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Notification destination type.\n\n* `slack` - slack\n* `webhook` - webhook",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether every HogFunction in the group is enabled, so the destination notifies on every event kind.",
            "smithy.api#required": {}
          }
        },
        "slack_workspace_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Integration ID of the Slack workspace, for Slack destinations."
          }
        },
        "slack_channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack channel ID, for Slack destinations."
          }
        },
        "webhook_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Webhook endpoint reduced to scheme and host, because the path, query and userinfo can carry a secret."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionAlertDestinationConfigHogFunctionIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "HogFunctions backing the created destination, one per event kind."
      }
    },
    "com.posthog.vision#VisionAlertDestinationTypeEnum": {
      "type": "enum",
      "members": {
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        },
        "WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webhook"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `slack` - slack\n* `webhook` - webhook"
      }
    },
    "com.posthog.vision#VisionAlertConfigurationDetailDestinationsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#VisionAlertDestinationConfig"
      },
      "traits": {
        "smithy.api#documentation": "This alert's notification destinations, one entry per destination, with credential-bearing URL parts removed."
      }
    },
    "com.posthog.vision#GetVisionAlert": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#GetVisionAlertRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionAlertConfigurationDetail"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/vision/alerts/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.vision#UpdateVisionAlertRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision alert configuration."
          }
        },
        "scanner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scanner whose observations this alert watches. Immutable after creation.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this alert. Defaults to 'Untitled alert' on create when omitted."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert is active. Disabling a metric alert resets its state to not_firing."
          }
        },
        "kind": {
          "target": "com.posthog.vision#VisionAlertKindEnum",
          "traits": {
            "smithy.api#documentation": "'metric' fires when a metric crosses a threshold over a rolling window; 'match' fires on every observation that matches the selection. Immutable after creation.\n\n* `metric` - Metric\n* `match` - Match",
            "smithy.api#required": {}
          }
        },
        "selection": {
          "target": "com.posthog.vision#VisionAlertSelection",
          "traits": {
            "smithy.api#documentation": "Which observations count. Empty matches every observation of the scanner."
          }
        },
        "metric": {
          "target": "com.posthog.vision#VisionAlertMetricEnum",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: what to measure over the window. 'avg_score' requires a scorer scanner.\n\n* `count` - Count matching observations\n* `avg_score` - Average score"
          }
        },
        "direction": {
          "target": "com.posthog.vision#VisionAlertDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: whether the alert fires at or above, or at or below, the threshold.\n\n* `above` - At or above\n* `below` - At or below"
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: the threshold value. Required for metric alerts, must be omitted for match alerts.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: rolling window in days. Allowed values: [1, 3, 7, 14, 30]."
          }
        },
        "check_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: evaluation cadence in minutes, at least 15."
          }
        },
        "evaluation_periods": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: total check periods in the sliding evaluation window (M in N-of-M)."
          }
        },
        "datapoints_to_alarm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: how many periods must breach to fire (N in N-of-M)."
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: minimum minutes between repeated notifications. 0 means no cooldown."
          }
        },
        "schedule_restriction": {
          "target": "com.posthog.vision#AlertScheduleRestriction",
          "traits": {
            "smithy.api#documentation": "Blocked local time windows when the alert must not notify. Times use the project timezone. Null disables quiet hours.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "snooze_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timestamp until which the alert is snoozed. Set to null to unsnooze.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#UpdateVisionAlert": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#UpdateVisionAlertRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionAlertConfiguration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/vision/alerts/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.vision#UpdateVisionAlertsPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision alert configuration."
          }
        },
        "scanner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scanner whose observations this alert watches. Immutable after creation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this alert. Defaults to 'Untitled alert' on create when omitted."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert is active. Disabling a metric alert resets its state to not_firing."
          }
        },
        "kind": {
          "target": "com.posthog.vision#VisionAlertKindEnum",
          "traits": {
            "smithy.api#documentation": "'metric' fires when a metric crosses a threshold over a rolling window; 'match' fires on every observation that matches the selection. Immutable after creation.\n\n* `metric` - Metric\n* `match` - Match"
          }
        },
        "selection": {
          "target": "com.posthog.vision#VisionAlertSelection",
          "traits": {
            "smithy.api#documentation": "Which observations count. Empty matches every observation of the scanner."
          }
        },
        "metric": {
          "target": "com.posthog.vision#VisionAlertMetricEnum",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: what to measure over the window. 'avg_score' requires a scorer scanner.\n\n* `count` - Count matching observations\n* `avg_score` - Average score"
          }
        },
        "direction": {
          "target": "com.posthog.vision#VisionAlertDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: whether the alert fires at or above, or at or below, the threshold.\n\n* `above` - At or above\n* `below` - At or below"
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: the threshold value. Required for metric alerts, must be omitted for match alerts.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: rolling window in days. Allowed values: [1, 3, 7, 14, 30]."
          }
        },
        "check_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: evaluation cadence in minutes, at least 15."
          }
        },
        "evaluation_periods": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: total check periods in the sliding evaluation window (M in N-of-M)."
          }
        },
        "datapoints_to_alarm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: how many periods must breach to fire (N in N-of-M)."
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: minimum minutes between repeated notifications. 0 means no cooldown."
          }
        },
        "schedule_restriction": {
          "target": "com.posthog.vision#AlertScheduleRestriction",
          "traits": {
            "smithy.api#documentation": "Blocked local time windows when the alert must not notify. Times use the project timezone. Null disables quiet hours.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "snooze_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timestamp until which the alert is snoozed. Set to null to unsnooze.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#UpdateVisionAlertsPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#UpdateVisionAlertsPartialRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionAlertConfiguration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/vision/alerts/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.vision#VisionAlertsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision alert configuration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionAlertsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionAlertsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/vision/alerts/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.vision#CreateVisionAlertsDestinationRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision alert configuration."
          }
        },
        "type": {
          "target": "com.posthog.vision#VisionAlertDestinationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Notification destination type.\n\n* `slack` - slack\n* `webhook` - webhook",
            "smithy.api#required": {}
          }
        },
        "slack_workspace_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Integration ID for the Slack workspace. Required when type=slack."
          }
        },
        "slack_channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack channel ID. Required when type=slack."
          }
        },
        "slack_channel_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable channel name for display."
          }
        },
        "webhook_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTPS endpoint to post to. Required when type=webhook."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionAlertDestinationResponse": {
      "type": "structure",
      "members": {
        "hog_function_ids": {
          "target": "com.posthog.vision#VisionAlertDestinationResponseHogFunctionIdsList",
          "traits": {
            "smithy.api#documentation": "HogFunctions backing the created destination, one per event kind.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionAlertDestinationResponseHogFunctionIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "HogFunctions backing the created destination, one per event kind."
      }
    },
    "com.posthog.vision#CreateVisionAlertsDestination": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#CreateVisionAlertsDestinationRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionAlertDestinationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/vision/alerts/{id}/destinations/",
          "code": 200
        },
        "smithy.api#documentation": "Create a notification destination for this alert. One HogFunction is created per alert event kind atomically."
      }
    },
    "com.posthog.vision#VisionAlertsDestinationsDeleteCreateRequestHogFunctionIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "HogFunction IDs to delete as one atomic destination group."
      }
    },
    "com.posthog.vision#VisionAlertsDestinationsDeleteCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision alert configuration."
          }
        },
        "hog_function_ids": {
          "target": "com.posthog.vision#VisionAlertsDestinationsDeleteCreateRequestHogFunctionIdsList",
          "traits": {
            "smithy.api#documentation": "HogFunction IDs to delete as one atomic destination group.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionAlertsDestinationsDeleteCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionAlertsDestinationsDeleteCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/vision/alerts/{id}/destinations/delete/",
          "code": 200
        },
        "smithy.api#documentation": "Delete a notification destination by deleting its HogFunction group atomically."
      }
    },
    "com.posthog.vision#ListVisionAlertsEventsRequestKind": {
      "type": "enum",
      "members": {
        "CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "check"
          }
        },
        "DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable"
          }
        },
        "ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enable"
          }
        },
        "RESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reset"
          }
        },
        "SNOOZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snooze"
          }
        },
        "THRESHOLD_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "threshold_change"
          }
        },
        "UNSNOOZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsnooze"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#ListVisionAlertsEventsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision alert configuration."
          }
        },
        "kind": {
          "target": "com.posthog.vision#ListVisionAlertsEventsRequestKind",
          "traits": {
            "smithy.api#httpQuery": "kind",
            "smithy.api#documentation": "Narrow the history to one event kind."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#PaginatedVisionAlertEventList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.vision#PaginatedVisionAlertEventListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionAlertEvent": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.posthog.vision#VisionAlertEventKindEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "threshold_breached": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metric_value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "error_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionAlertEventKindEnum": {
      "type": "enum",
      "members": {
        "CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "check"
          }
        },
        "RESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reset"
          }
        },
        "ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enable"
          }
        },
        "DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable"
          }
        },
        "SNOOZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snooze"
          }
        },
        "UNSNOOZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsnooze"
          }
        },
        "THRESHOLD_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "threshold_change"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `check` - Check\n* `reset` - Reset\n* `enable` - Enable\n* `disable` - Disable\n* `snooze` - Snooze\n* `unsnooze` - Unsnooze\n* `threshold_change` - Threshold change"
      }
    },
    "com.posthog.vision#PaginatedVisionAlertEventListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#VisionAlertEvent"
      },
      "traits": {}
    },
    "com.posthog.vision#ListVisionAlertsEvents": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#ListVisionAlertsEventsRequest"
      },
      "output": {
        "target": "com.posthog.vision#PaginatedVisionAlertEventList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/vision/alerts/{id}/events/",
          "code": 200
        },
        "smithy.api#documentation": "Paginated event history for this alert, newest first. Quiet no-op check rows (no state change, no error) are filtered out. Optional `?kind=...` narrows to one kind."
      }
    },
    "com.posthog.vision#VisionAlertsResetCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision alert configuration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionAlertsResetCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionAlertsResetCreateRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionAlertConfiguration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/vision/alerts/{id}/reset/",
          "code": 200
        },
        "smithy.api#documentation": "Reset a broken alert. Clears the consecutive-failure counter and schedules an immediate recheck."
      }
    },
    "com.posthog.vision#ListVisionObservationsRequestOrderBy": {
      "type": "enum",
      "members": {
        "COMPLETED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-completed_at"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-created_at"
          }
        },
        "LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-label"
          }
        },
        "RECORDING_SUBJECT_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-recording_subject_email"
          }
        },
        "RESULT_CONFIDENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-result_confidence"
          }
        },
        "RESULT_SCORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-result_score"
          }
        },
        "RESULT_VERDICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-result_verdict"
          }
        },
        "SCANNER_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-scanner_version"
          }
        },
        "STARTED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-started_at"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-status"
          }
        },
        "COMPLETED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed_at"
          }
        },
        "CREATED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "LABEL_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "label"
          }
        },
        "RECORDING_SUBJECT_EMAIL_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recording_subject_email"
          }
        },
        "RESULT_CONFIDENCE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "result_confidence"
          }
        },
        "RESULT_SCORE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "result_score"
          }
        },
        "RESULT_VERDICT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "result_verdict"
          }
        },
        "SCANNER_VERSION_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scanner_version"
          }
        },
        "STARTED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started_at"
          }
        },
        "STATUS_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#ListVisionObservationsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "order_by": {
          "target": "com.posthog.vision#ListVisionObservationsRequestOrderBy",
          "traits": {
            "smithy.api#httpQuery": "order_by",
            "smithy.api#documentation": "Sort observations. Plain keys: created_at, started_at, completed_at, status, recording_subject_email. JSONB keys: result_score (scorer), result_verdict (monitor), result_confidence, scanner_version. Prefix with `-` for descending; nullable keys sort nulls last either way."
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "session_id",
            "smithy.api#required": {},
            "smithy.api#documentation": "Session recording id to return observations for."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#PaginatedReplayObservationList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.vision#PaginatedReplayObservationListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#ReplayObservation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scanner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scanner that produced this observation.",
            "smithy.api#required": {}
          }
        },
        "scanner_origin": {
          "target": "com.posthog.vision#ScannerOriginEnum",
          "traits": {
            "smithy.api#documentation": "Where the producing scanner came from. `configured` scanners are saved, named, and have a detail page; `inline` ones are throwaways minted for a one-off scan and are not addressable, so callers must not link to them.\n\n* `configured` - Configured\n* `inline` - Inline",
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Session recording id this scanner was applied to.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.vision#ObservationStatusEnum",
          "traits": {
            "smithy.api#documentation": "Observation status (pending, running, succeeded, failed, ineligible).\n\n* `pending` - Pending\n* `running` - Running\n* `succeeded` - Succeeded\n* `failed` - Failed\n* `ineligible` - Ineligible",
            "smithy.api#required": {}
          }
        },
        "error_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Populated on terminal non-success statuses; formatted as `kind:human-readable message`. For `ineligible`, kind is one of no_recording / too_short / too_inactive / too_long / no_events / no_snapshots / too_large / not_exposed / experiment_unresolved. For `failed`, kind is one of provider_transient / provider_rejected / rasterization_failed / validation_failed / infra_transient / internal_error / orphaned / pii_detected.",
            "smithy.api#required": {}
          }
        },
        "workflow_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Temporal workflow id for progress queries and debugging. Empty until the workflow starts.",
            "smithy.api#required": {}
          }
        },
        "scanner_snapshot": {
          "target": "com.posthog.vision#ScannerSnapshot",
          "traits": {
            "smithy.api#documentation": "Frozen view of the scanner at run time; scanner edits do not retroactively mutate this observation.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "scanner_result": {
          "target": "com.posthog.vision#ScannerResult",
          "traits": {
            "smithy.api#documentation": "Result data persisted on success; null until the observation succeeds.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "prompt_question": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scanner's prompt condensed into the one question it answers about a session. Null when the prompt has changed since this observation was scanned, since the question then describes a different prompt; read `scanner_snapshot.scanner_config.prompt` instead.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "triggered_by": {
          "target": "com.posthog.vision#ObservationTriggerEnum",
          "traits": {
            "smithy.api#documentation": "Whether this observation came from the schedule, an on-demand request, a retry of a failed or ineligible observation, or a historical backfill.\n\n* `schedule` - Schedule\n* `on_demand` - On demand\n* `retry` - Retry\n* `backfill` - Backfill",
            "smithy.api#required": {}
          }
        },
        "triggered_by_user": {
          "target": "com.posthog.vision#UserBasic",
          "traits": {
            "smithy.api#documentation": "User who triggered an on-demand observation; null for scheduled observations.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "backfill_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Backfill that dispatched this observation; null for live, on-demand, and retry triggers.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinct id of the person in the recorded session (the subject being watched); null if unknown.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "recording_subject_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the person in the recorded session (the subject being watched, not the user who triggered the observation), captured at scan time. Null when the session had no identified person.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous_observation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the preceding sibling observation for the same scanner (prev/next nav), honoring any list filters and ordering passed to retrieve; only set on retrieve, null at the start of the set.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_observation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the following sibling observation for the same scanner (prev/next nav), honoring any list filters and ordering passed to retrieve; only set on retrieve, null at the end of the set.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "label": {
          "target": "com.posthog.vision#ReplayObservationLabel",
          "traits": {
            "smithy.api#documentation": "The team's shared label on this observation (correct/incorrect + feedback), or null if unlabeled.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "viewed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the calling user has opened this observation.",
            "smithy.api#required": {}
          }
        },
        "media": {
          "target": "com.posthog.vision#ReplayObservationMediaList",
          "traits": {
            "smithy.api#documentation": "Thumbnails and clips illustrating this observation, in order. Empty until the media render finishes.",
            "smithy.api#required": {}
          }
        },
        "summary_line": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "One line of plain text saying what the scanner found: its verdict, score, tags or title, then its own words, with markdown flattened and the text truncated. An observation that produced no result carries the reason instead, and one still in flight carries an empty string. Read this in place of `scanner_result` when you scan a list of observations.",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#ScannerOriginEnum": {
      "type": "enum",
      "members": {
        "CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "configured"
          }
        },
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inline"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `configured` - Configured\n* `inline` - Inline"
      }
    },
    "com.posthog.vision#ObservationStatusEnum": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "INELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ineligible"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `pending` - Pending\n* `running` - Running\n* `succeeded` - Succeeded\n* `failed` - Failed\n* `ineligible` - Ineligible"
      }
    },
    "com.posthog.vision#ScannerSnapshot": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scanner name at run time.",
            "smithy.api#required": {}
          }
        },
        "scanner_type": {
          "target": "com.posthog.vision#ScannerTypeEnum",
          "traits": {
            "smithy.api#documentation": "Scanner type (monitor, classifier, scorer, summarizer, experiment) at run time.\n\n* `monitor` - Monitor\n* `classifier` - Classifier\n* `scorer` - Scorer\n* `summarizer` - Summarizer\n* `experiment` - Experiment",
            "smithy.api#required": {}
          }
        },
        "scanner_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The `ReplayScanner.scanner_version` value at the moment the workflow ran.",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Concrete model that ran the observation; historical rows may carry since-retired model ids.",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Concrete provider that ran the observation; historical rows may carry since-retired providers.",
            "smithy.api#required": {}
          }
        },
        "emits_signals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the observation was run with Signal emission enabled.",
            "smithy.api#required": {}
          }
        },
        "scanner_config": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Scanner-type-specific configuration at run time (prompt, tags, scale, etc.).",
            "smithy.api#required": {}
          }
        },
        "variant_sampling_rates": {
          "target": "com.posthog.vision#ScannerSnapshotVariantSamplingRatesMap",
          "traits": {
            "smithy.api#documentation": "Experiment scanners with balanced sampling: the 0..1 rate each watched variant was sampled at by the tick that dispatched this scan. Null otherwise, so even per-variant counts can be read against the rates that produced them.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mirrors `temporal.types.ScannerSnapshot` for OpenAPI generation."
      }
    },
    "com.posthog.vision#ScannerTypeEnum": {
      "type": "enum",
      "members": {
        "MONITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monitor"
          }
        },
        "CLASSIFIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "classifier"
          }
        },
        "SCORER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scorer"
          }
        },
        "SUMMARIZER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "summarizer"
          }
        },
        "EXPERIMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "experiment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `monitor` - Monitor\n* `classifier` - Classifier\n* `scorer` - Scorer\n* `summarizer` - Summarizer\n* `experiment` - Experiment"
      }
    },
    "com.posthog.vision#ScannerSnapshotVariantSamplingRatesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "Experiment scanners with balanced sampling: the 0..1 rate each watched variant was sampled at by the tick that dispatched this scan. Null otherwise, so even per-variant counts can be read against the rates that produced them."
      }
    },
    "com.posthog.vision#ScannerResult": {
      "type": "structure",
      "members": {
        "model_output": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Validated scanner output. Shape depends on `scanner_snapshot.scanner_type`; always carries `confidence` and `scanner_type`.",
            "smithy.api#required": {}
          }
        },
        "signals_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of PostHog Signals emitted from this observation.",
            "smithy.api#required": {}
          }
        },
        "experiment_variant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Experiment scanners only: the variant the exposure data attributes this session's person to. Null on the other types and on rows scanned before variant attribution shipped.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "session_duration_s": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Experiment scanners only: the scanned session's duration in seconds.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mirrors `temporal.types.ScannerResult` for OpenAPI generation."
      }
    },
    "com.posthog.vision#ObservationTriggerEnum": {
      "type": "enum",
      "members": {
        "SCHEDULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "schedule"
          }
        },
        "ON_DEMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on_demand"
          }
        },
        "RETRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retry"
          }
        },
        "BACKFILL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backfill"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `schedule` - Schedule\n* `on_demand` - On demand\n* `retry` - Retry\n* `backfill` - Backfill"
      }
    },
    "com.posthog.vision#ReplayObservationLabel": {
      "type": "structure",
      "members": {
        "is_correct": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the scanner scored this session correctly, false if not.",
            "smithy.api#required": {}
          }
        },
        "feedback": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional written context on the rating, for thumbs-up and thumbs-down alike: what the scanner got right or wrong, or what it should have concluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The team's shared judgement on whether the scanner scored this session correctly."
      }
    },
    "com.posthog.vision#ReplayObservationMedia": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of this media entry.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.posthog.vision#ReplayObservationMediaKindEnum",
          "traits": {
            "smithy.api#documentation": "`thumbnail` for the single frame that illustrates the observation, `chapter` for the frame of one summary chapter, `clip` for a short video.\n\n* `thumbnail` - Thumbnail\n* `clip` - Clip\n* `chapter` - Chapter",
            "smithy.api#required": {}
          }
        },
        "position": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Order among media of the same kind. For a `chapter` frame, the index into `model_output.chapters`.",
            "smithy.api#required": {}
          }
        },
        "asset_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Export asset holding the bytes; fetch it from the export content endpoint.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "One sentence saying what the clip shows. Null for thumbnails.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "video_start_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Where this media starts in the analysis video, in milliseconds.",
            "smithy.api#required": {}
          }
        },
        "video_end_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Where a clip ends in the analysis video, in milliseconds. Null for thumbnails.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One thumbnail or clip illustrating an observation."
      }
    },
    "com.posthog.vision#ReplayObservationMediaKindEnum": {
      "type": "enum",
      "members": {
        "THUMBNAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thumbnail"
          }
        },
        "CLIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clip"
          }
        },
        "CHAPTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chapter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `thumbnail` - Thumbnail\n* `clip` - Clip\n* `chapter` - Chapter"
      }
    },
    "com.posthog.vision#ReplayObservationMediaList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#ReplayObservationMedia"
      },
      "traits": {
        "smithy.api#documentation": "Thumbnails and clips illustrating this observation, in order. Empty until the media render finishes."
      }
    },
    "com.posthog.vision#PaginatedReplayObservationListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#ReplayObservation"
      },
      "traits": {}
    },
    "com.posthog.vision#ListVisionObservations": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#ListVisionObservationsRequest"
      },
      "output": {
        "target": "com.posthog.vision#PaginatedReplayObservationList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/vision/observations/",
          "code": 200
        },
        "smithy.api#documentation": "A session's observations across every scanner the caller can read, plus the team-level semantic\n`search` action, which resolves its own scanner scope instead of this queryset."
      }
    },
    "com.posthog.vision#GetVisionObservationRequestOrderBy": {
      "type": "enum",
      "members": {
        "COMPLETED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-completed_at"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-created_at"
          }
        },
        "LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-label"
          }
        },
        "RECORDING_SUBJECT_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-recording_subject_email"
          }
        },
        "RESULT_CONFIDENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-result_confidence"
          }
        },
        "RESULT_SCORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-result_score"
          }
        },
        "RESULT_VERDICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-result_verdict"
          }
        },
        "SCANNER_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-scanner_version"
          }
        },
        "STARTED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-started_at"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-status"
          }
        },
        "COMPLETED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed_at"
          }
        },
        "CREATED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "LABEL_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "label"
          }
        },
        "RECORDING_SUBJECT_EMAIL_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recording_subject_email"
          }
        },
        "RESULT_CONFIDENCE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "result_confidence"
          }
        },
        "RESULT_SCORE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "result_score"
          }
        },
        "RESULT_VERDICT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "result_verdict"
          }
        },
        "SCANNER_VERSION_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scanner_version"
          }
        },
        "STARTED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started_at"
          }
        },
        "STATUS_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#GetVisionObservationRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this replay observation."
          }
        },
        "backfill_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "backfill_id",
            "smithy.api#documentation": "Only observations dispatched by this backfill."
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_from",
            "smithy.api#documentation": "Only observations created at or after this time. Accepts ISO 8601, a relative date like `-7d`, or `now`; values without an explicit offset are interpreted in the project's timezone."
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_to",
            "smithy.api#documentation": "Only observations created at or before this time. Accepts ISO 8601, a relative date like `-1d`, or `now` for the current time; omit it to query through the current time. Date-only values include the whole day, interpreted in the project's timezone."
          }
        },
        "labeled": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "labeled",
            "smithy.api#documentation": "When true, return only observations that have a shared label (thumbs up or down); when false, only unlabeled observations."
          }
        },
        "max_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "max_score",
            "smithy.api#documentation": "Filter scorer observations to those scoring at or below this value. Rows with no numeric score (other scanner types, failed or in-flight runs) are excluded."
          }
        },
        "min_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "min_score",
            "smithy.api#documentation": "Filter scorer observations to those scoring at or above this value. Rows with no numeric score (other scanner types, failed or in-flight runs) are excluded."
          }
        },
        "order_by": {
          "target": "com.posthog.vision#GetVisionObservationRequestOrderBy",
          "traits": {
            "smithy.api#httpQuery": "order_by",
            "smithy.api#documentation": "Sort observations. Plain keys: created_at, started_at, completed_at, status, recording_subject_email. JSONB keys: result_score (scorer), result_verdict (monitor), result_confidence, scanner_version. Prefix with `-` for descending; nullable keys sort nulls last either way."
          }
        },
        "recording_subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "recording_subject",
            "smithy.api#documentation": "Filter to observations whose person email contains this value (case-insensitive)."
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "session_id",
            "smithy.api#documentation": "Filter to observations of one or more session recordings. Accepts a comma-separated list."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter by observation status. Accepts a comma-separated list."
          }
        },
        "tags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "tags",
            "smithy.api#documentation": "Filter classifier observations whose fixed or freeform tags include any of the given values (comma-separated). Matches if the tag appears in either `tags` or `tags_freeform`."
          }
        },
        "triggered_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "triggered_by",
            "smithy.api#documentation": "Filter by trigger source (schedule, on_demand, retry, or backfill). Accepts a comma-separated list."
          }
        },
        "variant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "variant",
            "smithy.api#documentation": "Experiment scanners only: filter to observations attributed to any of the given variant keys (comma-separated). `__unattributed__` matches observations with no attributed variant."
          }
        },
        "verdict": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "verdict",
            "smithy.api#documentation": "Filter monitor observations by verdict. Accepts a comma-separated list (e.g. `yes,inconclusive`)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#GetVisionObservation": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#GetVisionObservationRequest"
      },
      "output": {
        "target": "com.posthog.vision#ReplayObservation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
[...]
