{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.posthog.visual_review#ListVisualReviewReposRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#PaginatedRepoList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.visual_review#PaginatedRepoListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#Repo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "team_id": {
          "target": "smithy.api#Integer"
        },
        "repo_external_id": {
          "target": "smithy.api#Integer"
        },
        "repo_full_name": {
          "target": "smithy.api#String"
        },
        "baseline_file_paths": {
          "target": "com.posthog.visual_review#RepoBaselineFilePathsMap"
        },
        "enable_pr_comments": {
          "target": "smithy.api#Boolean"
        },
        "debt_digest_enabled": {
          "target": "smithy.api#Boolean"
        },
        "created_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#RepoBaselineFilePathsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.visual_review#PaginatedRepoListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.visual_review#Repo"
      },
      "traits": {}
    },
    "com.posthog.visual_review#ListVisualReviewRepos": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#ListVisualReviewReposRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#PaginatedRepoList"
      },
      "errors": [
        {
          "target": "com.posthog.visual_review#BadRequest"
        },
        {
          "target": "com.posthog.visual_review#Forbidden"
        },
        {
          "target": "com.posthog.visual_review#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/visual_review/repos/",
          "code": 200
        },
        "smithy.api#documentation": "List all projects for the team."
      }
    },
    "com.posthog.visual_review#CreateVisualReviewReposRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "repo_full_name": {
          "target": "smithy.api#String"
        },
        "repo_external_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#CreateVisualReviewRepos": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#CreateVisualReviewReposRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#Repo"
      },
      "errors": [
        {
          "target": "com.posthog.visual_review#BadRequest"
        },
        {
          "target": "com.posthog.visual_review#Forbidden"
        },
        {
          "target": "com.posthog.visual_review#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/visual_review/repos/",
          "code": 200
        },
        "smithy.api#documentation": "Create a new repo."
      }
    },
    "com.posthog.visual_review#GetVisualReviewReposRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#GetVisualReviewRepos": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#GetVisualReviewReposRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#Repo"
      },
      "errors": [
        {
          "target": "com.posthog.visual_review#Forbidden"
        },
        {
          "target": "com.posthog.visual_review#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/visual_review/repos/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Get a repo by ID."
      }
    },
    "com.posthog.visual_review#UpdateVisualReviewReposPartialRequestBaselineFilePathsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.visual_review#UpdateVisualReviewReposPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "baseline_file_paths": {
          "target": "com.posthog.visual_review#UpdateVisualReviewReposPartialRequestBaselineFilePathsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enable_pr_comments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Post a pull request comment when a run finds visual changes to review.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "debt_digest_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Post the visual review debt digest to the Slack channels of the teams that own the snapshots. Off by default. The digest goes out every Monday morning.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#UpdateVisualReviewReposPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#UpdateVisualReviewReposPartialRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#Repo"
      },
      "errors": [
        {
          "target": "com.posthog.visual_review#BadRequest"
        },
        {
          "target": "com.posthog.visual_review#Forbidden"
        },
        {
          "target": "com.posthog.visual_review#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/visual_review/repos/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Update a repo's settings."
      }
    },
    "com.posthog.visual_review#GetVisualReviewReposBaselineRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#BaselineOverview": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.posthog.visual_review#BaselineOverviewEntriesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "totals": {
          "target": "com.posthog.visual_review#BaselineTotals",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "generated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#BaselineEntry": {
      "type": "structure",
      "members": {
        "quarantine": {
          "target": "com.posthog.visual_review#BaselineQuarantineSummary",
          "traits": {
            "smithy.api#documentation": "Active quarantine details when `is_quarantined` is true. Null otherwise.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "active_variants_current_baseline": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Accepted variants still recorded against this baseline's current hash. Unlike the 30-day and 90-day counts, this has no time window: an accepted variant keeps matching without a new record. A baseline change resets it to zero.",
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "run_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "browser": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "thumbnail_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tolerate_count_30d": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tolerate_count_90d": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_quarantined": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_run_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "baseline_change_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "recent_drift_avg": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#BaselineQuarantineSummary": {
      "type": "structure",
      "members": {
        "created_by": {
          "target": "com.posthog.visual_review#UserBasicInfo",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_run": {
          "target": "com.posthog.visual_review#QuarantineSourceRun",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#UserBasicInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#QuarantineSourceRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commit_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#BaselineOverviewEntriesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.visual_review#BaselineEntry"
      },
      "traits": {}
    },
    "com.posthog.visual_review#BaselineTotals": {
      "type": "structure",
      "members": {
        "by_run_type": {
          "target": "com.posthog.visual_review#BaselineTotalsByRunTypeMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variant_pileups": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Baselines carrying three or more accepted variants of their current hash.",
            "smithy.api#required": {}
          }
        },
        "all_snapshots": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "recently_tolerated": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "frequently_tolerated": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "currently_quarantined": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#BaselineTotalsByRunTypeMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.posthog.visual_review#GetVisualReviewReposBaseline": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#GetVisualReviewReposBaselineRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#BaselineOverview"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/visual_review/repos/{id}/baselines/",
          "code": 200
        },
        "smithy.api#documentation": "Snapshots overview for a repo: every identifier with a current baseline (latest non-superseded master/main run per run_type), plus tolerate counts, active quarantine state, and a 30-day stability sparkline. Capped at 7500 entries — sets `truncated` and returns the most recently active when exceeded. Filtering / faceting / search are all done client-side; this endpoint takes no filter query params."
      }
    },
    "com.posthog.visual_review#GetVisualReviewReposFlakinessRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#FlakinessOverview": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.posthog.visual_review#FlakinessOverviewEntriesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "totals": {
          "target": "com.posthog.visual_review#FlakinessTotals",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "generated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#FlakinessEntry": {
      "type": "structure",
      "members": {
        "variant_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Distinct alternate hashes the classifier can still match for this snapshot's current baseline. Reads as how many different images this snapshot is currently allowed to produce. Resets when the baseline moves, because tolerations recorded against an old baseline hash can never match again.",
            "smithy.api#required": {}
          }
        },
        "hard_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Default-branch runs in the last 7 days where this snapshot failed the gate, so somebody could not merge until it was resolved. Counts every result that is not `unchanged`: a diff over a threshold, a baseline that was never committed or was dropped, and a baseline whose story no longer renders.",
            "smithy.api#required": {}
          }
        },
        "soft_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Default-branch runs in the last 7 days where this snapshot rendered differently from its baseline and a toleration absorbed it, blocking nobody.",
            "smithy.api#required": {}
          }
        },
        "window_runs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Completed default-branch runs of this run type in the last 7 days. The rate denominator, so a reader can tell 2 failures out of 3 runs from 2 out of 300.",
            "smithy.api#required": {}
          }
        },
        "hard_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "`hard_count` over `window_runs`. The denominator counts every run of this run type, so a snapshot that only started rendering partway through the window reads lower than it is.",
            "smithy.api#required": {}
          }
        },
        "soft_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "`soft_count` over `window_runs`.",
            "smithy.api#required": {}
          }
        },
        "last_flaked_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last default-branch run in the last 30 days that rendered this snapshot differently from its baseline, whether the gate failed or a toleration absorbed it. Reads over the full window rather than the rate span, so a snapshot that stopped failing still reports when it last did. Null when nothing happened at all.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "avg_diff_percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Mean fraction of pixels that differed across the live variants. Separates sub-pixel noise from a small but real rendering change.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "worst_soft_diff_percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Largest pixel diff any absorbed run in the last 30 days produced. Reads the full window rather than the rate span, because it asks for the worst case a snapshot can produce and more days are better evidence of that. Null when nothing was absorbed.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "headroom": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Fraction of the 2.5% pixel threshold that `worst_soft_diff_percentage` leaves free. A snapshot is absorbed only while it stays under the threshold, so this is what says whether it will keep doing so: 1.0 means it rendered identically every time it was absorbed, 0.0 means it reached the line and only luck kept it on the passing side. Null when nothing was absorbed, which is not the same as full headroom.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "baseline_age_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Days since the first default-branch run that compared against the current baseline, which is when that baseline took effect. Reads too new for a `broken` snapshot, which records a change against an unmoved baseline on every run.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "daily_hard_counts": {
          "target": "com.posthog.visual_review#FlakinessEntryDailyHardCountsList",
          "traits": {
            "smithy.api#documentation": "Gate-failing runs per day over the last 30 days, oldest first. Always that length, so a fixed time axis can be rendered.",
            "smithy.api#required": {}
          }
        },
        "daily_soft_counts": {
          "target": "com.posthog.visual_review#FlakinessEntryDailySoftCountsList",
          "traits": {
            "smithy.api#documentation": "Absorbed runs per day over the same 30 days, oldest first.",
            "smithy.api#required": {}
          }
        },
        "baseline_moved_day_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Index into the daily series where the baseline moved. Null when it moved before the window opened, which is the common case.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "flakiness_state": {
          "target": "com.posthog.visual_review#FlakinessStateEnum",
          "traits": {
            "smithy.api#documentation": "An urgency ladder, where each rung asks for a different fix. `broken` fails nearly every run, so its baseline is wrong and quarantining it only hides that. `unstable` fails some runs and not others, the classic flake. `at_risk` never fails, but its worst absorbed diff is already touching the threshold, so the next unrelated change turns it red. `noisy` renders variants and absorbs them with room to spare. `clean` matched its baseline on every run in the window.\n\n* `broken` - broken\n* `unstable` - unstable\n* `at_risk` - at_risk\n* `noisy` - noisy\n* `clean` - clean",
            "smithy.api#required": {}
          }
        },
        "needs_decision": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when an active quarantine has run out, is about to, or covers a snapshot that has stopped failing the gate. All three mean a human has to extend it or lift it.",
            "smithy.api#required": {}
          }
        },
        "quarantine": {
          "target": "com.posthog.visual_review#BaselineQuarantineSummary",
          "traits": {
            "smithy.api#documentation": "Active quarantine details when `is_quarantined` is true. Null otherwise.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "owner_team": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slug of the team that owns the file this snapshot's story lives in, from the repository's ownership files. `unowned` when no entry covers the file. Null when ownership is unknown: the snapshot is not a Storybook snapshot, the newest default-branch run sent no story index, the story is not in it, or the ownership files could not be read.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "run_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "browser": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "thumbnail_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_quarantined": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#FlakinessEntryDailyHardCountsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Gate-failing runs per day over the last 30 days, oldest first. Always that length, so a fixed time axis can be rendered."
      }
    },
    "com.posthog.visual_review#FlakinessEntryDailySoftCountsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Absorbed runs per day over the same 30 days, oldest first."
      }
    },
    "com.posthog.visual_review#FlakinessStateEnum": {
      "type": "enum",
      "members": {
        "BROKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "broken"
          }
        },
        "UNSTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unstable"
          }
        },
        "AT_RISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "at_risk"
          }
        },
        "NOISY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "noisy"
          }
        },
        "CLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clean"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `broken` - broken\n* `unstable` - unstable\n* `at_risk` - at_risk\n* `noisy` - noisy\n* `clean` - clean"
      }
    },
    "com.posthog.visual_review#FlakinessOverviewEntriesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.visual_review#FlakinessEntry"
      },
      "traits": {}
    },
    "com.posthog.visual_review#FlakinessTotals": {
      "type": "structure",
      "members": {
        "listed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Identifiers with an entry in `entries`.",
            "smithy.api#required": {}
          }
        },
        "tracked": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Identifiers with a current baseline, listed or not. The denominator that says how much of the repo renders consistently.",
            "smithy.api#required": {}
          }
        },
        "broken": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Identifiers whose `flakiness_state` is `broken`.",
            "smithy.api#required": {}
          }
        },
        "unstable": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Identifiers whose `flakiness_state` is `unstable`.",
            "smithy.api#required": {}
          }
        },
        "at_risk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Identifiers whose `flakiness_state` is `at_risk`.",
            "smithy.api#required": {}
          }
        },
        "noisy": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Identifiers whose `flakiness_state` is `noisy`.",
            "smithy.api#required": {}
          }
        },
        "clean": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Identifiers whose `flakiness_state` is `clean`. They are listed because they carry live variants or older history, and reported here so every listed entry is reachable.",
            "smithy.api#required": {}
          }
        },
        "by_run_type": {
          "target": "com.posthog.visual_review#FlakinessTotalsByRunTypeMap",
          "traits": {
            "smithy.api#documentation": "Listed identifiers per run type, so one suite's noise can be told from another's.",
            "smithy.api#required": {}
          }
        },
        "quarantined": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "needs_decision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#FlakinessTotalsByRunTypeMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Listed identifiers per run type, so one suite's noise can be told from another's."
      }
    },
    "com.posthog.visual_review#GetVisualReviewReposFlakiness": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#GetVisualReviewReposFlakinessRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#FlakinessOverview"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/visual_review/repos/{id}/flakiness/",
          "code": 200
        },
        "smithy.api#documentation": "Snapshots in a repo whose rendering cannot be trusted: those that failed the gate or were absorbed by a toleration on a recent default-branch run, and those under an active quarantine. Everything else is omitted, so this is far smaller than the baselines universe; `totals.tracked` gives the full denominator. Each entry carries the share of the last 7 days of default-branch runs that failed the gate (`hard_rate`) and the share a toleration absorbed (`soft_rate`), plus `headroom`, the fraction of the diff threshold its worst absorbed run leaves free. Capped at 2000 entries, which sets `truncated`. Filtering, faceting and search are done client-side; this endpoint takes no filter query params."
      }
    },
    "com.posthog.visual_review#ListVisualReviewReposQuarantineRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "identifier",
            "smithy.api#documentation": "Filter by identifier (returns full history)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "run_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "run_type",
            "smithy.api#documentation": "Filter by run type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#PaginatedQuarantinedIdentifierEntryList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.visual_review#PaginatedQuarantinedIdentifierEntryListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#QuarantinedIdentifierEntry": {
      "type": "structure",
      "members": {
        "created_by": {
          "target": "com.posthog.visual_review#UserBasicInfo",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_run": {
          "target": "com.posthog.visual_review#QuarantineSourceRun",
          "traits": {
            "smithy.api#documentation": "Run whose failing snapshot prompted this quarantine. Null when quarantine was created without run context.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "identifier": {
          "target": "smithy.api#String"
        },
        "run_type": {
          "target": "smithy.api#String"
        },
        "reason": {
          "target": "smithy.api#String"
        },
        "source": {
          "target": "smithy.api#String"
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#PaginatedQuarantinedIdentifierEntryListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.visual_review#QuarantinedIdentifierEntry"
      },
      "traits": {}
    },
    "com.posthog.visual_review#ListVisualReviewReposQuarantine": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#ListVisualReviewReposQuarantineRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#PaginatedQuarantinedIdentifierEntryList"
      },
      "errors": [
        {
          "target": "com.posthog.visual_review#BadRequest"
        },
        {
          "target": "com.posthog.visual_review#Forbidden"
        },
        {
          "target": "com.posthog.visual_review#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/visual_review/repos/{id}/quarantine/",
          "code": 200
        },
        "smithy.api#documentation": "List quarantined identifiers. Without filter: active only. With identifier: full history."
      }
    },
    "com.posthog.visual_review#CreateVisualReviewReposQuarantineRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "run_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Snapshot identifier to quarantine."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why this snapshot is being quarantined."
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the quarantine lifts itself, as an ISO 8601 datetime. Through MCP an omitted or later expiry becomes 30 days from now; anywhere else omitting it means no expiry.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional pointer to the run whose failing snapshot prompted this quarantine — used to surface a 'view the failing run' link later.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "notify_owners": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Post the quarantine to the Slack channel of the team that owns the story, naming the user who quarantined it. Only Storybook snapshots have an owning team. Best effort: skipped when the story has no owning team or the project has no Slack integration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#CreateVisualReviewReposQuarantine": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#CreateVisualReviewReposQuarantineRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#QuarantinedIdentifierEntry"
      },
      "errors": [
        {
          "target": "com.posthog.visual_review#BadRequest"
        },
        {
          "target": "com.posthog.visual_review#Forbidden"
        },
        {
          "target": "com.posthog.visual_review#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/visual_review/repos/{id}/quarantine/{run_type}/",
          "code": 200
        },
        "smithy.api#documentation": "Quarantine a snapshot identifier for a specific run type."
      }
    },
    "com.posthog.visual_review#CreateVisualReviewReposQuarantineExpireRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "run_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Snapshot identifier to unquarantine",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#CreateVisualReviewReposQuarantineExpire": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#CreateVisualReviewReposQuarantineExpireRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.visual_review#BadRequest"
        },
        {
          "target": "com.posthog.visual_review#Forbidden"
        },
        {
          "target": "com.posthog.visual_review#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/visual_review/repos/{id}/quarantine/{run_type}/expire/",
          "code": 200
        },
        "smithy.api#documentation": "Expire all active quarantine entries for an identifier."
      }
    },
    "com.posthog.visual_review#GetVisualReviewReposThumbnailRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "run_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "run_type",
            "smithy.api#documentation": "Narrow the lookup to one run type. The same identifier under two run types is two different images, so omit this only when the caller shows one run type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#GetVisualReviewReposThumbnail": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#GetVisualReviewReposThumbnailRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/visual_review/repos/{id}/thumbnails/{identifier}/",
          "code": 200
        },
        "smithy.api#documentation": "Serve a snapshot thumbnail by identifier. Returns WebP with ETag caching."
      }
    },
    "com.posthog.visual_review#GetVisualReviewReposTolerationPileupRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "include_quarantined": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_quarantined",
            "smithy.api#documentation": "Keep snapshots that an active quarantine already covers. They are marked with `is_quarantined`. Set to false to see only piles nobody has acted on yet."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of snapshots to return. `total` and `truncated` say whether more matched."
          }
        },
        "min_automatic_tolerations": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "min_automatic_tolerations",
            "smithy.api#documentation": "Also list a snapshot when it collected at least this many automatic tolerations in the window. An automatic toleration is a rendering under both diff thresholds, so it never blocked anybody; many of them still mean the story is unstable. Omit to ignore automatic tolerations when deciding what to list. With 10, the list matches the Tolerate dialog's quarantine suggestion."
          }
        },
        "min_tolerations": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "min_tolerations",
            "smithy.api#documentation": "List a snapshot when a person or agent tolerated it at least this many times in the window. The default, 3, is the weekly debt digest's rule. Lower it to see snapshots that are starting to pile up, raise it to see only the worst ones."
          }
        },
        "run_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "run_type",
            "smithy.api#documentation": "Only list snapshots of this run type, for example `storybook` or `playwright`."
          }
        },
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "window_days",
            "smithy.api#documentation": "How many days back to count tolerations. Defaults to 30."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#TolerationPileups": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.posthog.visual_review#TolerationPileupsEntriesList",
          "traits": {
            "smithy.api#documentation": "Matching snapshots, most manual tolerations first.",
            "smithy.api#required": {}
          }
        },
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Length of the counting window in days that was applied.",
            "smithy.api#required": {}
          }
        },
        "min_tolerations": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Manual toleration threshold that was applied.",
            "smithy.api#required": {}
          }
        },
        "min_automatic_tolerations": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Automatic toleration threshold that was applied, or null when none was.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many snapshots matched before `limit` was applied.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when `limit` cut the list short.",
            "smithy.api#required": {}
          }
        },
        "generated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the list was computed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#TolerationPileupEntry": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Snapshot identifier, for example a Storybook story id plus theme.",
            "smithy.api#required": {}
          }
        },
        "run_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Run type the snapshot belongs to, for example `storybook`.",
            "smithy.api#required": {}
          }
        },
        "intentional_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Tolerations a person or agent recorded for this snapshot in the window, across every baseline. Each one accepted a different exact rendering, so a high count means the snapshot renders differently from run to run.",
            "smithy.api#required": {}
          }
        },
        "automatic_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Automatic tolerations in the window: renderings that came in under both diff thresholds.",
            "smithy.api#required": {}
          }
        },
        "is_quarantined": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether an active quarantine already covers this snapshot, so it no longer blocks pull requests.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#TolerationPileupsEntriesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.visual_review#TolerationPileupEntry"
      },
      "traits": {
        "smithy.api#documentation": "Matching snapshots, most manual tolerations first."
      }
    },
    "com.posthog.visual_review#GetVisualReviewReposTolerationPileup": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#GetVisualReviewReposTolerationPileupRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#TolerationPileups"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/visual_review/repos/{id}/toleration-pileups/",
          "code": 200
        },
        "smithy.api#documentation": "Snapshots that keep getting tolerated, counted across baselines, most manual tolerations first. A toleration accepts one exact rendering, so a snapshot that keeps needing them renders differently from run to run, and the fix belongs in the story. With no parameters this is the weekly debt digest's rule (3 or more tolerations by a person or agent in 30 days), except that quarantined snapshots are kept and marked with `is_quarantined`. The list is small and returns fast; start here to find flaky stories worth fixing, then read one snapshot's history with the per-snapshot tools."
      }
    },
    "com.posthog.visual_review#ListVisualReviewReposRunsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "repo_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "review_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "review_state",
            "smithy.api#documentation": "Filter by review state"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Free-text search over branch, commit SHA, run type, and PR number"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#PaginatedRunList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.visual_review#PaginatedRunListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#Run": {
      "type": "structure",
      "members": {
        "approved_by": {
          "target": "com.posthog.visual_review#UserBasicInfo",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "purpose": {
          "target": "com.posthog.visual_review#PurposeEnum",
          "traits": {
            "smithy.api#documentation": "Why CI submitted the run. `review` runs gate the PR and need approval. `observe` runs are tracking-only, for example default-branch pushes and merge-queue runs, and can never be approved.\n\n* `review` - review\n* `observe` - observe"
          }
        },
        "search_match_type": {
          "target": "com.posthog.visual_review#SearchMatchTypeEnum",
          "traits": {
            "smithy.api#documentation": "How this row matched the `search` query parameter: `exact` (the term is a case-insensitive substring of branch/run type, a commit SHA prefix, or an exact PR number) or `similar` (a fuzzy trigram match, returned only when no exact match exists). Null when the list is not filtered by `search`.\n\n* `exact` - exact\n* `similar` - similar",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "repo_id": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String"
        },
        "run_type": {
          "target": "smithy.api#String"
        },
        "commit_sha": {
          "target": "smithy.api#String"
        },
        "branch": {
          "target": "smithy.api#String"
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "approved": {
          "target": "smithy.api#Boolean"
        },
        "approved_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "summary": {
          "target": "com.posthog.visual_review#RunSummary"
        },
        "error_message": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_stale": {
          "target": "smithy.api#Boolean"
        },
        "superseded_by_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.posthog.visual_review#RunMetadataMap"
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#PurposeEnum": {
      "type": "enum",
      "members": {
        "REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "review"
          }
        },
        "OBSERVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "observe"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `review` - review\n* `observe` - observe"
      }
    },
    "com.posthog.visual_review#SearchMatchTypeEnum": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "SIMILAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "similar"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#RunSummary": {
      "type": "structure",
      "members": {
        "total": {
          "target": "smithy.api#Integer"
        },
        "changed": {
          "target": "smithy.api#Integer"
        },
        "new": {
          "target": "smithy.api#Integer"
        },
        "removed": {
          "target": "smithy.api#Integer"
        },
        "unchanged": {
          "target": "smithy.api#Integer"
        },
        "unresolved": {
          "target": "smithy.api#Integer"
        },
        "tolerated_matched": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#RunMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.visual_review#PaginatedRunListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.visual_review#Run"
      },
      "traits": {}
    },
    "com.posthog.visual_review#ListVisualReviewReposRuns": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#ListVisualReviewReposRunsRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#PaginatedRunList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/visual_review/repos/{repo_id}/runs/",
          "code": 200
        },
        "smithy.api#documentation": "List runs in this repo, optionally filtered by review state and free-text search."
      }
    },
    "com.posthog.visual_review#GetVisualReviewReposRunsCountRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "repo_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#ReviewStateCounts": {
      "type": "structure",
      "members": {
        "needs_review": {
          "target": "smithy.api#Integer"
        },
        "clean": {
          "target": "smithy.api#Integer"
        },
        "processing": {
          "target": "smithy.api#Integer"
        },
        "stale": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#GetVisualReviewReposRunsCount": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#GetVisualReviewReposRunsCountRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#ReviewStateCounts"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/visual_review/repos/{repo_id}/runs/counts/",
          "code": 200
        },
        "smithy.api#documentation": "Review state counts for runs in this repo."
      }
    },
    "com.posthog.visual_review#ListVisualReviewReposSnapshotsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "repo_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "run_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Run type (storybook, playwright)"
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Snapshot identifier; clients must percent-encode before sending"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#PaginatedSnapshotHistoryEntryList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.visual_review#PaginatedSnapshotHistoryEntryListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#SnapshotHistoryEntry": {
      "type": "structure",
      "members": {
        "current_artifact": {
          "target": "com.posthog.visual_review#Artifact",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "row_shift": {
          "target": "com.posthog.visual_review#RowShift",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "run_id": {
          "target": "smithy.api#String"
        },
        "snapshot_id": {
          "target": "smithy.api#String"
        },
        "result": {
          "target": "smithy.api#String"
        },
        "branch": {
          "target": "smithy.api#String"
        },
        "commit_sha": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "diff_percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "review_state": {
          "target": "smithy.api#String"
        },
        "ssim_score": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "change_kind": {
          "target": "smithy.api#String"
        },
        "size_mismatch": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#Artifact": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "content_hash": {
          "target": "smithy.api#String"
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "download_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#RowShift": {
      "type": "structure",
      "members": {
        "bands": {
          "target": "com.posthog.visual_review#RowShiftBandsList",
          "traits": {
            "smithy.api#documentation": "Where the shift happened, in current-image coordinates.",
            "smithy.api#required": {}
          }
        },
        "inserted_rows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rows the current image gained.",
            "smithy.api#required": {}
          }
        },
        "deleted_rows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rows the current image lost.",
            "smithy.api#required": {}
          }
        },
        "residual_percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage of pixels that differ inside the rows present in both images, 0 to 100. Excludes the shift itself. The stored diff_percentage adds the area of the rows the shift added or removed, and that combined number is what the pixel threshold judges.",
            "smithy.api#required": {}
          }
        },
        "raw_diff_percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage of pixels that differ without alignment, which is what the shift would have cost.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#ShiftBand": {
      "type": "structure",
      "members": {
        "y": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "First row of the band, in current-image coordinates.",
            "smithy.api#required": {}
          }
        },
        "rows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many rows the band covers.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.posthog.visual_review#ShiftBandKindEnum",
          "traits": {
            "smithy.api#documentation": "'inserted' when the current image gained these rows, 'deleted' when it lost them. A deleted band has no rows of its own in the current image, so its y is the seam the removed rows left behind.\n\n* `inserted` - inserted\n* `deleted` - deleted",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#ShiftBandKindEnum": {
      "type": "enum",
      "members": {
        "INSERTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inserted"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `inserted` - inserted\n* `deleted` - deleted"
      }
    },
    "com.posthog.visual_review#RowShiftBandsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.visual_review#ShiftBand"
      },
      "traits": {
        "smithy.api#documentation": "Where the shift happened, in current-image coordinates."
      }
    },
    "com.posthog.visual_review#PaginatedSnapshotHistoryEntryListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.visual_review#SnapshotHistoryEntry"
      },
      "traits": {}
    },
    "com.posthog.visual_review#ListVisualReviewReposSnapshots": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#ListVisualReviewReposSnapshotsRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#PaginatedSnapshotHistoryEntryList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/visual_review/repos/{repo_id}/snapshots/{run_type}/{identifier}/",
          "code": 200
        },
        "smithy.api#documentation": "Deduped baseline timeline for a snapshot identity. Newest first."
      }
    },
    "com.posthog.visual_review#ListVisualReviewRunsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "branch",
            "smithy.api#documentation": "Filter by branch name"
          }
        },
        "commit_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "commit_sha",
            "smithy.api#documentation": "Filter by full commit SHA"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pr_number",
            "smithy.api#documentation": "Filter by GitHub PR number"
          }
        },
        "review_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "review_state",
            "smithy.api#documentation": "Filter by review state"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Free-text search over branch, commit SHA, run type, and PR number"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#ListVisualReviewRuns": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#ListVisualReviewRunsRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#PaginatedRunList"
      },
      "errors": [
        {
          "target": "com.posthog.visual_review#BadRequest"
        },
        {
          "target": "com.posthog.visual_review#Forbidden"
        },
        {
          "target": "com.posthog.visual_review#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/visual_review/runs/",
          "code": 200
        },
        "smithy.api#documentation": "List runs for the team, optionally filtered by review state, PR number, commit SHA, branch, or free-text search."
      }
    },
    "com.posthog.visual_review#SnapshotManifestItem": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String"
        },
        "content_hash": {
          "target": "smithy.api#String"
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.posthog.visual_review#SnapshotManifestItemMetadataMap"
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#SnapshotManifestItemMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.visual_review#CreateVisualReviewRunRequestSnapshotsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.visual_review#SnapshotManifestItem"
      },
      "traits": {}
    },
    "com.posthog.visual_review#CreateVisualReviewRunRequestBaselineHashesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.visual_review#CreateVisualReviewRunRequestRemovedIdentifiersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.visual_review#CreateVisualReviewRunRequestMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.visual_review#CreateVisualReviewRunRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "repo_id": {
          "target": "smithy.api#String"
        },
        "run_type": {
          "target": "smithy.api#String"
        },
        "commit_sha": {
          "target": "smithy.api#String"
        },
        "branch": {
          "target": "smithy.api#String"
        },
        "snapshots": {
          "target": "com.posthog.visual_review#CreateVisualReviewRunRequestSnapshotsList"
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "baseline_hashes": {
          "target": "com.posthog.visual_review#CreateVisualReviewRunRequestBaselineHashesMap"
        },
        "unchanged_count": {
          "target": "smithy.api#Integer"
        },
        "removed_identifiers": {
          "target": "com.posthog.visual_review#CreateVisualReviewRunRequestRemovedIdentifiersList"
        },
        "purpose": {
          "target": "smithy.api#String"
        },
        "metadata": {
          "target": "com.posthog.visual_review#CreateVisualReviewRunRequestMetadataMap"
        },
        "is_partial": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#CreateRunResult": {
      "type": "structure",
      "members": {
        "run_id": {
          "target": "smithy.api#String"
        },
        "uploads": {
          "target": "com.posthog.visual_review#CreateRunResultUploadsList"
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#UploadTarget": {
      "type": "structure",
      "members": {
        "content_hash": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "fields": {
          "target": "com.posthog.visual_review#UploadTargetFieldsMap"
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#UploadTargetFieldsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.visual_review#CreateRunResultUploadsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.visual_review#UploadTarget"
      },
      "traits": {}
    },
    "com.posthog.visual_review#CreateVisualReviewRun": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#CreateVisualReviewRunRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#CreateRunResult"
      },
      "errors": [
        {
          "target": "com.posthog.visual_review#BadRequest"
        },
        {
          "target": "com.posthog.visual_review#Forbidden"
        },
        {
          "target": "com.posthog.visual_review#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/visual_review/runs/",
          "code": 200
        },
        "smithy.api#documentation": "Create a new run from a CI manifest."
      }
    },
    "com.posthog.visual_review#GetVisualReviewRunRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#GetVisualReviewRun": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#GetVisualReviewRunRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#Run"
      },
      "errors": [
        {
          "target": "com.posthog.visual_review#Forbidden"
        },
        {
          "target": "com.posthog.visual_review#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/visual_review/runs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Get run status and summary."
      }
    },
    "com.posthog.visual_review#VisualReviewRunsAddSnapshotsCreateRequestSnapshotsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.visual_review#SnapshotManifestItem"
      },
      "traits": {}
    },
    "com.posthog.visual_review#VisualReviewRunsAddSnapshotsCreateRequestBaselineHashesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.visual_review#VisualReviewRunsAddSnapshotsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "snapshots": {
          "target": "com.posthog.visual_review#VisualReviewRunsAddSnapshotsCreateRequestSnapshotsList"
        },
        "baseline_hashes": {
          "target": "com.posthog.visual_review#VisualReviewRunsAddSnapshotsCreateRequestBaselineHashesMap"
        },
        "story_index_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SHA-256 of the story-to-file map the CLI built from the Storybook index.json of this run's build. Every shard of a run sends the same value. Empty when the run sends no map."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#AddSnapshotsResult": {
      "type": "structure",
      "members": {
        "story_index_upload": {
          "target": "com.posthog.visual_review#UploadTarget",
          "traits": {
            "smithy.api#documentation": "Where to upload the story-to-file map, as a presigned POST with a JSON body. Null when the request sent no map, or the store already holds a map with that hash.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "added": {
          "target": "smithy.api#Integer"
        },
        "uploads": {
          "target": "com.posthog.visual_review#AddSnapshotsResultUploadsList"
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#AddSnapshotsResultUploadsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.visual_review#UploadTarget"
      },
      "traits": {}
    },
    "com.posthog.visual_review#VisualReviewRunsAddSnapshotsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#VisualReviewRunsAddSnapshotsCreateRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#AddSnapshotsResult"
      },
      "errors": [
        {
          "target": "com.posthog.visual_review#BadRequest"
        },
        {
          "target": "com.posthog.visual_review#Forbidden"
        },
        {
          "target": "com.posthog.visual_review#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/visual_review/runs/{id}/add-snapshots/",
          "code": 200
        },
        "smithy.api#documentation": "Add a batch of snapshots to a pending run (shard-based flow)."
      }
    },
    "com.posthog.visual_review#ApproveSnapshotInput": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The snapshot identifier to approve (e.g. Storybook story id plus theme)."
          }
        },
        "new_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content hash of the new baseline image to record for this identifier."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#VisualReviewRunsApproveCreateRequestSnapshotsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.visual_review#ApproveSnapshotInput"
      },
      "traits": {
        "smithy.api#documentation": "Snapshots to mark reviewed, each with `identifier` and `new_hash`. This only records the review in the database (the per-snapshot \"Accept change\" action) — it does not change the baseline or the GitHub gate. Commit the baseline and green the gate with the finalize endpoint."
      }
    },
    "com.posthog.visual_review#VisualReviewRunsApproveCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "snapshots": {
          "target": "com.posthog.visual_review#VisualReviewRunsApproveCreateRequestSnapshotsList",
          "traits": {
            "smithy.api#documentation": "Snapshots to mark reviewed, each with `identifier` and `new_hash`. This only records the review in the database (the per-snapshot \"Accept change\" action) — it does not change the baseline or the GitHub gate. Commit the baseline and green the gate with the finalize endpoint.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#VisualReviewRunsApproveCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#VisualReviewRunsApproveCreateRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#Run"
      },
      "errors": [
        {
          "target": "com.posthog.visual_review#BadRequest"
        },
        {
          "target": "com.posthog.visual_review#Forbidden"
        },
        {
          "target": "com.posthog.visual_review#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/visual_review/runs/{id}/approve/",
          "code": 200
        },
        "smithy.api#documentation": "Mark snapshots reviewed (DB only).\n\nRecords the per-snapshot \"Accept change\" decision. Does not commit the baseline\nor change the GitHub gate — call finalize to ship the run. Works on a quarantined\nsnapshot too: a quarantined snapshot approved here is committed by finalize, which\nupdates a quarantined story's baseline entry without lifting the quarantine."
      }
    },
    "com.posthog.visual_review#CreateVisualReviewRunsCompleteRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "check_run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Numeric GitHub Actions job ID of the CI job that completes the run, from `${{ job.check_run_id }}`. Recompute re-runs this job, so it re-reads the verdict without capturing the snapshots again. Omit it outside GitHub Actions."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#CreateVisualReviewRunsComplete": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#CreateVisualReviewRunsCompleteRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#Run"
      },
      "errors": [
        {
          "target": "com.posthog.visual_review#Forbidden"
        },
        {
          "target": "com.posthog.visual_review#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/visual_review/runs/{id}/complete/",
          "code": 200
        },
        "smithy.api#documentation": "Complete a run: detect removals, verify uploads, trigger diff processing."
      }
    },
    "com.posthog.visual_review#CreateVisualReviewRunsFinalizeRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "approve_all": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Approve every still-pending changed and new snapshot before finalizing (tolerated snapshots are left untouched). Leave false to finalize a run you've already reviewed — finalizing fails if any changed/new snapshot is still unreviewed."
          }
        },
        "commit_to_github": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the server commits the approved baseline to the PR branch and greens the gate (the normal path — leave true). Set false only for tooling that commits the baseline itself: the server skips the commit and returns the signed YAML in `baseline_content` instead. With false, the gate is NOT greened, `metadata.baseline_commit_sha` is absent, and no post-approval PR comment is posted."
          }
        },
        "add_images_to_comment_on_pr": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to embed the before/after snapshot images in the post-approval PR comment. The comment itself is posted when the repo has PR comments enabled and `commit_to_github` is true: it updates the run's review prompt when the run has one, and posts a new comment when it does not. This flag only controls the images. Defaults false — the comment stays a text summary unless the reviewer opts in to attach the snapshots."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#FinalizeResult": {
      "type": "structure",
      "members": {
        "run": {
          "target": "com.posthog.visual_review#Run",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "baseline_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.visual_review#CreateVisualReviewRunsFinalize": {
      "type": "operation",
      "input": {
        "target": "com.posthog.visual_review#CreateVisualReviewRunsFinalizeRequest"
      },
      "output": {
        "target": "com.posthog.visual_review#FinalizeResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/visual_review/runs/{id}/finalize/",
          "code": 200
        },
        "smithy.api#documentation": "Finalize a fully-reviewed run: commit the approved baseline and green the gate.\n\nCommits exactly the snapshots approved in the DB (tolerated ones keep their baseline)\nand only succeeds once every changed/new snapshot is resolved. With approve_all=true,\nany still-pending changed/new snapshot is approved first; quarantined snapshots are\nskipped, but a quarantined snapshot approved by identifier is still committed.\nWith commit_to_github=false the server returns the signed baseline YAML instead of\ncommitting it."
      }
    },
    "com.posthog.visual_review#CreateVisualReviewRunsLiftOnMergeRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a quarantined snapshot in this run, such as a Storybook story ID. The snapshot's picture is what a default-branch run must render for the quarantine to lift. An unchanged snapshot uses its baseline. A changed or new snapshot must be approved first, because requesting a lift never approves a picture.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.visual_review#QuarantineLiftEntry": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the lift request.",
            "smithy.api#required": {}
          }
        },
        "quarantine_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the quarantine event this request lifts. A later quarantine of the same snapshot is a different event.",
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Snapshot identifier under quarantine.",
            "smithy.api#required": {}
          }
        },
        "run_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Run type of the quarantine, for example storybook.",
            "smithy.api#required": {}
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pull request whose merge the lift waits for.",
            "smithy.api#required": {}
          }
        },
        "expected_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content hash a default-branch run must render, against a baseline entry with the same hash, for the lift to apply.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.posthog.visual_review#QuarantineLiftStateEnum",
          "traits": {
[...]
