{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.vercel.microfrontends#GetMicrofrontendsGroupsRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsGroupsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsGroups": {
      "type": "operation",
      "input": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsGroupsRequest"
      },
      "output": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsGroupsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.microfrontends#BadRequest"
        },
        {
          "target": "com.vercel.microfrontends#Forbidden"
        },
        {
          "target": "com.vercel.microfrontends#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/microfrontends/groups",
          "code": 200
        },
        "smithy.api#documentation": "List microfrontends groups\n\nGet the microfrontends group IDs for a team."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupRequest": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemConfiguredBy": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "DNS_01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns-01"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentAliasList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentAliasAssigned": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentAliasError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentAutomaticAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentBranchMatcherType": {
      "type": "enum",
      "members": {
        "ENDSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endsWith"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "STARTSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startsWith"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of matching to perform"
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentBranchMatcher": {
      "type": "structure",
      "members": {
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pattern to match against branch names",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentBranchMatcherType",
          "traits": {
            "smithy.api#documentation": "The type of matching to perform",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentBuildsItem": {
      "type": "structure",
      "members": {
        "dest": {
          "target": "smithy.api#String"
        },
        "src": {
          "target": "smithy.api#String"
        },
        "use": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentBuildsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentBuildsItem"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentChecksConclusion": {
      "type": "enum",
      "members": {
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentChecksState": {
      "type": "enum",
      "members": {
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "REGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registered"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentCreator": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "githubLogin": {
          "target": "smithy.api#String"
        },
        "gitlabLogin": {
          "target": "smithy.api#String"
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentOidcTokenClaimsMfeGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentOidcTokenClaims": {
      "type": "structure",
      "members": {
        "aud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "custom_environment_id": {
          "target": "smithy.api#String"
        },
        "deployment_id": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "iss": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mfe_group_ids": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentOidcTokenClaimsMfeGroupIdsList"
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "plan": {
          "target": "smithy.api#String"
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sub": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentPlan": {
      "type": "enum",
      "members": {
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "HOBBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hobby"
          }
        },
        "PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pro"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentReadyState": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentReadySubstate": {
      "type": "enum",
      "members": {
        "PROMOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTED"
          }
        },
        "ROLLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLING"
          }
        },
        "STAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGED"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentType": {
      "type": "enum",
      "members": {
        "LAMBDAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAMBDAS"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeployment": {
      "type": "structure",
      "members": {
        "alias": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentAliasList"
        },
        "aliasAssigned": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentAliasAssigned",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "aliasError": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentAliasError",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "aliasFinal": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "automaticAliases": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentAutomaticAliasesList"
        },
        "branchMatcher": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentBranchMatcher"
        },
        "buildingAt": {
          "target": "smithy.api#Double"
        },
        "builds": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentBuildsList"
        },
        "checksConclusion": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentChecksConclusion"
        },
        "checksState": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentChecksState"
        },
        "connectBuildsEnabled": {
          "target": "smithy.api#Boolean"
        },
        "connectConfigurationId": {
          "target": "smithy.api#String"
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdIn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "creator": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentCreator",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "deletedAt": {
          "target": "smithy.api#Double"
        },
        "deploymentHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "forced": {
          "target": "smithy.api#Boolean"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentMetaMap"
        },
        "monorepoManager": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "oidcTokenClaims": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentOidcTokenClaims"
        },
        "plan": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentPlan",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "previewCommentsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not preview comments are enabled for the deployment"
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "readyAt": {
          "target": "smithy.api#Double"
        },
        "readyState": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentReadyState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "readySubstate": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentReadySubstate"
        },
        "requestedAt": {
          "target": "smithy.api#Double"
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present for user creators; omitted for app/integration/system creators."
          }
        },
        "withCache": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemEnvironment": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemRedirectStatusCode": {
      "type": "intEnum",
      "members": {
        "_301": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 301
          }
        },
        "_302": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 302
          }
        },
        "_307": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 307
          }
        },
        "_308": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 308
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemTarget": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCTION"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGING"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItem": {
      "type": "structure",
      "members": {
        "configuredBy": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemConfiguredBy",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "configuredChangedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "deployment": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeployment",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemEnvironment",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitBranch": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirect": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirectStatusCode": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemRedirectStatusCode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "target": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemTarget",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItem"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAnalytics": {
      "type": "structure",
      "members": {
        "canceledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "disabledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "paidAt": {
          "target": "smithy.api#Double"
        },
        "sampleRatePercent": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "spendLimitInDollars": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemBlobs": {
      "type": "structure",
      "members": {
        "isDefaultApp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Marks the team-level, Vercel-managed default blob project (`vercel-blob-default-project`) that orphan blob stores are scoped to when connected without an explicit project. Set only by internal storage flows and immutable after creation — guards rely on it to protect the connected stores from being lost when the project is deleted or transferred."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItemAwsSubnetIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItemAws": {
      "type": "structure",
      "members": {
        "securityGroupId": {
          "target": "smithy.api#String"
        },
        "subnetIds": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItemAwsSubnetIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItemEnvIdCase1": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItemEnvId": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItemEnvIdCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItem": {
      "type": "structure",
      "members": {
        "aws": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItemAws"
        },
        "buildsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "connectConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dc": {
          "target": "smithy.api#String"
        },
        "envId": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItemEnvId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "passive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItem"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0Type": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase0App": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The protocol-facing OAuth client ID. This may differ from {@link id} when Client ID Metadata Documents (CIMD) are used."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The internal ID of the Vercel App backing this principal.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase0Type": {
      "type": "enum",
      "members": {
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase0": {
      "type": "structure",
      "members": {
        "app": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase0App",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set when a Vercel App or Integration acts on behalf of a {@link User}. Captures user-consented OAuth delegation that the ACL layer may inspect to evaluate scope restrictions. This is NOT for impersonation or token-exchange provenance — those live on `auth.token`, not on the principal."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase1Integration": {
      "type": "structure",
      "members": {
        "configurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase1Type": {
      "type": "enum",
      "members": {
        "INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase1": {
      "type": "structure",
      "members": {
        "integration": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase1Integration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set when a Vercel App or Integration acts on behalf of a {@link User}. Captures user-consented OAuth delegation that the ACL layer may inspect to evaluate scope restrictions. This is NOT for impersonation or token-exchange provenance — those live on `auth.token`, not on the principal."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0Via": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase0"
        },
        "Case1": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0User": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "via": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0Via",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "user": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0User",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase1App": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The protocol-facing OAuth client ID. This may differ from {@link id} when Client ID Metadata Documents (CIMD) are used."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The internal ID of the Vercel App backing this principal.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase1Type": {
      "type": "enum",
      "members": {
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase1": {
      "type": "structure",
      "members": {
        "app": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase1App",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase2Integration": {
      "type": "structure",
      "members": {
        "configurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase2Type": {
      "type": "enum",
      "members": {
        "INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase2": {
      "type": "structure",
      "members": {
        "integration": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase2Integration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase2Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase3Type": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase3Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreator": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0"
        },
        "Case1": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase1"
        },
        "Case2": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase2"
        },
        "Case3": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase3"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCronsDefinitionsItemSource": {
      "type": "enum",
      "members": {
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The origin of this definition. 'api' means created via the API. Undefined means it originated from a deployment (vercel.json)."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCronsDefinitionsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of what this cron job does."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that should be used.",
            "smithy.api#required": {}
          }
        },
        "hostInferred": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the host was inferred from the production deployment URL rather than explicitly provided."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path that should be called for the cronjob.",
            "smithy.api#required": {}
          }
        },
        "schedule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cron expression.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCronsDefinitionsItemSource",
          "traits": {
            "smithy.api#documentation": "The origin of this definition. 'api' means created via the API. Undefined means it originated from a deployment (vercel.json)."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCronsDefinitionsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCronsDefinitionsItem"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCrons": {
      "type": "structure",
      "members": {
        "definitions": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCronsDefinitionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Deployment from which the definitions originated.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "disabledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time the feature was disabled for this project.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "enabledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time the feature was enabled for this project. Note: It enables automatically with the first Deployment that outputs cronjobs.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemBranchMatcherType": {
      "type": "enum",
      "members": {
        "ENDSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endsWith"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "STARTSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startsWith"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of matching to perform"
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemBranchMatcher": {
      "type": "structure",
      "members": {
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pattern to match against branch names",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemBranchMatcherType",
          "traits": {
            "smithy.api#documentation": "The type of matching to perform",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for matching git branches to this environment"
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemCurrentDeploymentAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of aliases for the current deployment"
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsItemRedirectStatusCode": {
      "type": "intEnum",
      "members": {
        "_301": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 301
          }
        },
        "_302": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 302
          }
        },
        "_307": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 307
          }
        },
        "_308": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 308
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsItemVerificationItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsItemVerificationList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsItemVerificationItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsItem": {
      "type": "structure",
      "members": {
        "apexName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "customEnvironmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "gitBranch": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "redirect": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirectStatusCode": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsItemRedirectStatusCode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double"
        },
        "verification": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsItemVerificationList",
          "traits": {
            "smithy.api#documentation": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "`true` if the domain is verified for use with the project. If `false` it will not be used as an alias on this project until the challenge in `verification` is completed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of domains associated with this environment"
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsItem"
      },
      "traits": {
        "smithy.api#documentation": "List of domains associated with this environment"
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemType": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of environment (production, preview, or development)"
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItem": {
      "type": "structure",
      "members": {
        "branchMatcher": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemBranchMatcher",
          "traits": {
            "smithy.api#documentation": "Configuration for matching git branches to this environment"
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp when the environment was created",
            "smithy.api#required": {}
          }
        },
        "currentDeploymentAliases": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemCurrentDeploymentAliasesList",
          "traits": {
            "smithy.api#documentation": "List of aliases for the current deployment"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the environment's purpose"
          }
        },
        "domains": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsList",
          "traits": {
            "smithy.api#documentation": "List of domains associated with this environment"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the custom environment (format: env_*)",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL-friendly name of the environment",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemType",
          "traits": {
            "smithy.api#documentation": "The type of environment (production, preview, or development)",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp when the environment was last updated",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Internal representation of a custom environment with all required properties"
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItem"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDataCache": {
      "type": "structure",
      "members": {
        "storageSizeBytes": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "unlimited": {
          "target": "smithy.api#Boolean"
        },
        "userDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfigBuildMachineElasticReason": {
      "type": "enum",
      "members": {
        "BASIC_FLOOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic-floor"
          }
        },
        "BUILD_TIMEOUT_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "build-timeout-failure"
          }
        },
        "ENOSPC_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enospc-failure"
          }
        },
        "ENTERPRISE_FLOOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise-floor"
          }
        },
        "HIGH_PEAK_DISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high-peak-disk"
          }
        },
        "HIGH_PEAK_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high-peak-memory"
          }
        },
        "LONG_BUILD_DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "long-build-duration"
          }
        },
        "OOM_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oom-failure"
          }
        },
        "SHORT_BUILD_DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "short-build-duration"
          }
        },
        "SUSTAINED_HIGH_CPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sustained-high-cpu"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfigBuildMachineElasticTransitionDirection": {
      "type": "enum",
      "members": {
        "DOWNGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "downgrade"
          }
        },
        "UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "upgrade"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfigBuildMachineElasticTransition": {
      "type": "structure",
      "members": {
        "algorithmVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "at": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfigBuildMachineElasticTransitionDirection",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfigBuildMachineSelection": {
      "type": "enum",
      "members": {
        "ELASTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elastic"
          }
        },
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfigBuildMachineType": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic"
          }
        },
        "ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enhanced"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "TURBO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "turbo"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfigBuildQueueConfiguration": {
      "type": "enum",
      "members": {
        "SKIP_NAMESPACE_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIP_NAMESPACE_QUEUE"
          }
        },
        "WAIT_FOR_NAMESPACE_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAIT_FOR_NAMESPACE_QUEUE"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfigBuildQueue": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfigBuildQueueConfiguration"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfigFunctionDefaultMemoryType": {
      "type": "enum",
      "members": {
        "PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "performance"
          }
        },
        "PERFORMANCE_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "performance_xl"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "STANDARD_LEGACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard_legacy"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfigFunctionDefaultRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfig": {
      "type": "structure",
      "members": {
        "buildMachineElasticLastUpdated": {
          "target": "smithy.api#Double"
        },
        "buildMachineElasticReason": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfigBuildMachineElasticReason"
        },
        "buildMachineElasticTransition": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfigBuildMachineElasticTransition"
        },
        "buildMachineSelection": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfigBuildMachineSelection"
        },
        "buildMachineType": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfigBuildMachineType"
        },
        "buildQueue": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfigBuildQueue"
        },
        "elasticConcurrencyEnabled": {
          "target": "smithy.api#Boolean"
        },
        "enableFunctionsBeta": {
          "target": "smithy.api#Boolean"
        },
        "fluid": {
          "target": "smithy.api#Boolean"
        },
        "functionDefaultMemoryType": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfigFunctionDefaultMemoryType"
        },
        "functionDefaultRegions": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDefaultResourceConfigFunctionDefaultRegionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "functionDefaultTimeout": {
          "target": "smithy.api#Double"
        },
        "functionZeroConfigFailover": {
          "target": "smithy.api#Boolean"
        },
        "isNSNBDisabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentExpiration": {
      "type": "structure",
      "members": {
        "deploymentsToKeep": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum number of production deployments to keep for this project, even if they are over the production expiration limit."
          }
        },
        "expirationDays": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep non-production deployments (mostly preview deployments) before soft deletion."
          }
        },
        "expirationDaysCanceled": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep canceled deployments before soft deletion."
          }
        },
        "expirationDaysErrored": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep errored deployments before soft deletion."
          }
        },
        "expirationDaysProduction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep production deployments before soft deletion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Retention policies for deployments. These are enforced at the project level, but we also maintain an instance of this at the team level as a default policy that gets applied to new projects."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItemEnvironmentsItemCase0Target": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItemEnvironmentsItemCase0Type": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItemEnvironmentsItemCase0": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItemEnvironmentsItemCase0Target",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItemEnvironmentsItemCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItemEnvironmentsItemCase1Type": {
      "type": "enum",
      "members": {
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItemEnvironmentsItemCase1": {
      "type": "structure",
      "members": {
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItemEnvironmentsItemCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItemEnvironmentsItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItemEnvironmentsItemCase0"
        },
        "Case1": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItemEnvironmentsItemCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItemEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItemEnvironmentsItem"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItemSourcesItem": {
      "type": "enum",
      "members": {
        "CLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cli"
          }
        },
        "DEPLOY_HOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deploy-hook"
          }
        },
        "GIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git"
          }
        },
        "INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration"
          }
        },
        "REST_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rest-api"
          }
        },
        "V0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customer-configurable deployment sources. Every deploy classifies to exactly one. JSON schema in `packages/deployment-policy/schemas/body.ts` enumerates exactly these values. - `'git'` — git provider webhook. - `'cli'` — Vercel CLI (legacy classic-token CLI and SIWV CLI both). - `'rest-api'` — direct user/team-token REST upload. Does NOT cover deploy hooks, Marketplace integrations, or first-party app tokens. - `'deploy-hook'` — project deploy-hook URL. The URL is the credential. - `'integration'` — third-party Marketplace actor: Marketplace integration token, user-delegated OAuth from a Marketplace app, or an unrecognized third-party Vercel App. First-party Vercel Apps are never `'integration'`. - `'v0'` — the v0 product surface (entitlement-gated). v0 deploys through the CLI under the hood, but classifies as its own source so a team can allow or deny v0 independently of `'cli'`. First-party Vercel apps (Toolbar, etc.) classify as `'first-party'` — see `ClassifiedSource` in `./checks`. They're not in this union because they aren't customer-configurable; they bypass `checkDeploymentSources` entirely. v0 is intentionally NOT among them: like the CLI, it's a real product surface and is policy-controllable."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItemSourcesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItemSourcesItem"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItem": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environments": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItemEnvironmentsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sources": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItemSourcesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`enabled: true` with empty `sources` is deny-all."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesItem"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemEnvironmentsItemCase0Target": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemEnvironmentsItemCase0Type": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemEnvironmentsItemCase0": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemEnvironmentsItemCase0Target",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemEnvironmentsItemCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemEnvironmentsItemCase1Type": {
      "type": "enum",
      "members": {
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemEnvironmentsItemCase1": {
      "type": "structure",
      "members": {
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemEnvironmentsItemCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemEnvironmentsItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemEnvironmentsItemCase0"
        },
        "Case1": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemEnvironmentsItemCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemEnvironmentsItem"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemSourcesItemCase0Provider": {
      "type": "enum",
      "members": {
        "BITBUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitbucket"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemSourcesItemCase0": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemSourcesItemCase0Provider",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Allowlist entry for GitHub and Bitbucket, whose repos are identified by a flat `org`/`repo` (Bitbucket's workspace/owner maps to `org`, its repo slug to `repo`). Omit `repo` to match any repo in the org. Org is matched case-insensitively."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemSourcesItemCase1Provider": {
      "type": "enum",
      "members": {
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemSourcesItemCase1": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "smithy.api#String"
        },
        "provider": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemSourcesItemCase1Provider",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allowlist entry for GitLab, which uses nested groups rather than a flat org/repo. `namespace` is the full group path (e.g. `group` or `group/subgroup`); `project` is the leaf project name. Omit `project` to match any project under the namespace. Namespace is matched case-insensitively."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemSourcesItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemSourcesItemCase0"
        },
        "Case1": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemSourcesItemCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemSourcesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemSourcesItem"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItem": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environments": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemEnvironmentsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sources": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItemSourcesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`enabled: true` with empty `sources` is deny-all."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesItem"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicy": {
      "type": "structure",
      "members": {
        "deploymentSources": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyDeploymentSourcesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "gitSources": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentPolicyGitSourcesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Project shape. `null` on a rule list clears the project's override for that rule type (fall back to team for every env); omitting is equivalent. Setting `deploymentPolicy` itself to `null` clears every override at once. Kept structurally distinct from {@link TeamDeploymentPolicy} so the two storage locations don't share a type by accident."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDismissedToastsItemAction": {
      "type": "enum",
      "members": {
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        },
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancel"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDismissedToastsItemValueCase2CurrentValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDismissedToastsItemValueCase2PreviousValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDismissedToastsItemValueCase2": {
      "type": "structure",
      "members": {
        "currentValue": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDismissedToastsItemValueCase2CurrentValue",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "previousValue": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDismissedToastsItemValueCase2PreviousValue",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDismissedToastsItemValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDismissedToastsItemValueCase2"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDismissedToastsItem": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDismissedToastsItemAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dismissedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDismissedToastsItemValue",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDismissedToastsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDismissedToastsItem"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase0Type": {
      "type": "enum",
      "members": {
        "REDIS_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redis-url"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase0": {
      "type": "structure",
      "members": {
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase1Type": {
      "type": "enum",
      "members": {
        "REDIS_REST_API_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redis-rest-api-url"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase1": {
      "type": "structure",
      "members": {
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase2Type": {
      "type": "enum",
      "members": {
        "REDIS_REST_API_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redis-rest-api-token"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase2": {
      "type": "structure",
      "members": {
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase2Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase3Type": {
      "type": "enum",
      "members": {
        "REDIS_REST_API_READ_ONLY_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redis-rest-api-read-only-token"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase3": {
      "type": "structure",
      "members": {
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase3Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase4Type": {
      "type": "enum",
      "members": {
        "BLOB_READ_WRITE_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blob-read-write-token"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase4": {
      "type": "structure",
      "members": {
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase4Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase5Type": {
      "type": "enum",
      "members": {
        "BLOB_STORE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blob-store-id"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase5": {
      "type": "structure",
      "members": {
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase5Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase6Type": {
      "type": "enum",
      "members": {
        "BLOB_WEBHOOK_PUBLIC_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blob-webhook-public-key"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase6": {
      "type": "structure",
      "members": {
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase6Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase7Type": {
      "type": "enum",
      "members": {
        "POSTGRES_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-url"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase7": {
      "type": "structure",
      "members": {
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase7Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase8Type": {
      "type": "enum",
      "members": {
        "POSTGRES_URL_NON_POOLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-url-non-pooling"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase8": {
      "type": "structure",
      "members": {
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase8Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase9Type": {
      "type": "enum",
      "members": {
        "POSTGRES_PRISMA_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-prisma-url"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase9": {
      "type": "structure",
      "members": {
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase9Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase10Type": {
      "type": "enum",
      "members": {
        "POSTGRES_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-user"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase10": {
      "type": "structure",
      "members": {
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase10Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase11Type": {
      "type": "enum",
      "members": {
        "POSTGRES_HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-host"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase11": {
      "type": "structure",
      "members": {
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase11Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase12Type": {
      "type": "enum",
      "members": {
        "POSTGRES_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-password"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase12": {
      "type": "structure",
      "members": {
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase12Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase13Type": {
      "type": "enum",
      "members": {
        "POSTGRES_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-database"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase13": {
      "type": "structure",
      "members": {
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase13Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase14Type": {
      "type": "enum",
      "members": {
        "POSTGRES_URL_NO_SSL": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
