{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.vercel.user#ListUserEventsRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of items which may be returned."
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#documentation": "Timestamp to only include items created since then."
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "until",
            "smithy.api#documentation": "Timestamp to only include items created until then."
          }
        },
        "types": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "types",
            "smithy.api#documentation": "Comma-delimited list of event \"types\" to filter the results by."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "userId",
            "smithy.api#documentation": "Deprecated. Use `principalId` instead. If `principalId` and `userId` both exist, `principalId` will be used."
          }
        },
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "principalId",
            "smithy.api#documentation": "When retrieving events for a Team, the `principalId` parameter may be specified to filter events generated by a specific principal."
          }
        },
        "projectIds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectIds",
            "smithy.api#documentation": "Comma-delimited list of project IDs to filter the results by."
          }
        },
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "entityId",
            "smithy.api#documentation": "Filters events to those associated with a specific entity (matched against `payload.id`). For example, a connector ID."
          }
        },
        "withPayload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "withPayload",
            "smithy.api#documentation": "When set to `true`, the response will include the `payload` field for each event."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.user#UserEvent": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.vercel.user#UserEventCategoriesList",
          "traits": {
            "smithy.api#documentation": "The categories that group this event with related event types. An event can belong to multiple categories (e.g. a firewall event is both Firewall and Security). The first entry is the \"primary\" category. Use the `/events/types` endpoint to discover the full list of categories."
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the event was generated.",
            "smithy.api#required": {}
          }
        },
        "entities": {
          "target": "com.vercel.user#UserEventEntitiesList",
          "traits": {
            "smithy.api#documentation": "A list of \"entities\" within the event `text`. Useful for enhancing the displayed text with additional styling and links.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Event.",
            "smithy.api#required": {}
          }
        },
        "payload": {
          "target": "com.vercel.user#UserEventPayload"
        },
        "principal": {
          "target": "com.vercel.user#UserEventPrincipal"
        },
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the principal who generated the event. The principal is typically a user, but it could also be an app, an integration, etc. The principal may have delegated its authority to an acting party, and so {@link viaIds} should be checked as well.",
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String"
        },
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the session that the principal's token belongs to, when it belongs to one."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable text of the Event.",
            "smithy.api#required": {}
          }
        },
        "tokenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The public ID of the token that the principal authenticated with, when the request behind this event carried one."
          }
        },
        "type": {
          "target": "com.vercel.user#UserEventType",
          "traits": {
            "smithy.api#documentation": "The type of the event."
          }
        },
        "user": {
          "target": "com.vercel.user#UserEventUser",
          "traits": {
            "smithy.api#documentation": "Metadata for {@link userId}."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the principal who generated the event is a user, this is their ID; otherwise, it is empty."
          }
        },
        "via": {
          "target": "com.vercel.user#UserEventViaList",
          "traits": {
            "smithy.api#documentation": "Metadata for {@link viaIds}."
          }
        },
        "viaIds": {
          "target": "com.vercel.user#UserEventViaIdsList",
          "traits": {
            "smithy.api#documentation": "If the principal delegated its authority (for example, a user delegating to an app), then this array contains the ID of the current actor. For example, if `principalId` is \"user123\" and `viaIds` is `[\"app456\"]`, we can say the event was triggered by - \"app456 on behalf of user123\", or - \"user123 via app4556\". Both are equivalent. Arbitrarily long chains of delegation can be represented. For example, if `principalId` is \"user123\" and `viaIds` is `[\"service1\", \"service2\"]`, we can say the event was triggered by \"user123 via service1 via service2\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Array of events generated by the User."
      }
    },
    "com.vercel.user#UserEventCategoriesItem": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        },
        "AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai"
          }
        },
        "AI_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway"
          }
        },
        "BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing"
          }
        },
        "CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect"
          }
        },
        "DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment"
          }
        },
        "DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain"
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge"
          }
        },
        "ENV_VARIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env-variable"
          }
        },
        "FEATURE_FLAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feature-flags"
          }
        },
        "FIREWALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firewall"
          }
        },
        "INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration"
          }
        },
        "MICROFRONTENDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "microfrontends"
          }
        },
        "NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "network"
          }
        },
        "OBSERVABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "observability"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        },
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "security"
          }
        },
        "STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storage"
          }
        },
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "V0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0"
          }
        },
        "VERCEL_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vercel-app"
          }
        },
        "WORKFLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workflow"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The categories that group this event with related event types. An event can belong to multiple categories (e.g. a firewall event is both Firewall and Security). The first entry is the \"primary\" category. Use the `/events/types` endpoint to discover the full list of categories."
      }
    },
    "com.vercel.user#UserEventCategoriesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.user#UserEventCategoriesItem"
      },
      "traits": {
        "smithy.api#documentation": "The categories that group this event with related event types. An event can belong to multiple categories (e.g. a firewall event is both Firewall and Security). The first entry is the \"primary\" category. Use the `/events/types` endpoint to discover the full list of categories."
      }
    },
    "com.vercel.user#UserEventEntitiesItemType": {
      "type": "enum",
      "members": {
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app"
          }
        },
        "AUTHOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "author"
          }
        },
        "BITBUCKET_LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitbucket_login"
          }
        },
        "BOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bold"
          }
        },
        "DEPLOYMENT_HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment_host"
          }
        },
        "DEPLOYMENT_INSPECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment_inspector"
          }
        },
        "DNS_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_record"
          }
        },
        "EDGE_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-config"
          }
        },
        "ENV_VAR_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env_var_name"
          }
        },
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag"
          }
        },
        "FLAGS_SEGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags-segment"
          }
        },
        "FLAGS_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags-settings"
          }
        },
        "GIT_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git_link"
          }
        },
        "GITHUB_LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github_login"
          }
        },
        "GITLAB_LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab_login"
          }
        },
        "HOOK_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hook_name"
          }
        },
        "INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration"
          }
        },
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "link"
          }
        },
        "PROJECT_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project_name"
          }
        },
        "SCALING_RULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scaling_rules"
          }
        },
        "STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "store"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "TARGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "target"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of entity."
      }
    },
    "com.vercel.user#UserEventEntitiesItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The index of where the entity ends within the `text` (non-inclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The index of where the entity begins within the `text` (inclusive).",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.user#UserEventEntitiesItemType",
          "traits": {
            "smithy.api#documentation": "The type of entity.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of \"entities\" within the event `text`. Useful for enhancing the displayed text with additional styling and links."
      }
    },
    "com.vercel.user#UserEventEntitiesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.user#UserEventEntitiesItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of \"entities\" within the event `text`. Useful for enhancing the displayed text with additional styling and links."
      }
    },
    "com.vercel.user#UserEventPayloadCase1": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slackConfigured": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase2Action": {
      "type": "enum",
      "members": {
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "UNARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unarchived"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase2": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.vercel.user#UserEventPayloadCase2Action",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectName": {
          "target": "smithy.api#String"
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase3Action": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "TRANSITIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transitioned"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase3": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.vercel.user#UserEventPayloadCase3Action",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectName": {
          "target": "smithy.api#String"
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase4Action": {
      "type": "enum",
      "members": {
        "ADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "added"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "ROTATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rotated"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase4": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.vercel.user#UserEventPayloadCase4Action",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String"
        },
        "projectId": {
          "target": "smithy.api#String"
        },
        "projectName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase5Action": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase5EnvironmentList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase5": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.vercel.user#UserEventPayloadCase5Action",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "com.vercel.user#UserEventPayloadCase5EnvironmentList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String"
        },
        "projectName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase6": {
      "type": "structure",
      "members": {
        "policyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase7": {
      "type": "structure",
      "members": {
        "boardId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase8": {
      "type": "structure",
      "members": {
        "boardId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase9Provider": {
      "type": "enum",
      "members": {
        "CHATGPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chatgpt"
          }
        },
        "STRIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stripe"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Present on new events only. Equivalent to \"stripe\" when absent."
      }
    },
    "com.vercel.user#UserEventPayloadCase9": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.vercel.user#UserEventPayloadCase9Provider",
          "traits": {
            "smithy.api#documentation": "Present on new events only. Equivalent to \"stripe\" when absent."
          }
        },
        "providerAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present on new events only. Equivalent to `stripeAccount` when absent."
          }
        },
        "stripeAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present when `provider` is \"stripe\". Equivalent to `providerAccount`."
          }
        },
        "stripeOrganisation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present when `provider` is \"stripe\"."
          }
        },
        "accountRequestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase10Provider": {
      "type": "enum",
      "members": {
        "CHATGPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chatgpt"
          }
        },
        "STRIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stripe"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Present on new events only. Equivalent to \"stripe\" when absent."
      }
    },
    "com.vercel.user#UserEventPayloadCase10": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.vercel.user#UserEventPayloadCase10Provider",
          "traits": {
            "smithy.api#documentation": "Present on new events only. Equivalent to \"stripe\" when absent."
          }
        },
        "providerAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present on new events only. Equivalent to `stripeAccount` when absent."
          }
        },
        "stripeAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present when `provider` is \"stripe\". Equivalent to `providerAccount`."
          }
        },
        "stripeOrganisation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present when `provider` is \"stripe\"."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase11Provider": {
      "type": "enum",
      "members": {
        "CHATGPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chatgpt"
          }
        },
        "STRIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stripe"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Present on new events only. Equivalent to \"stripe\" when absent."
      }
    },
    "com.vercel.user#UserEventPayloadCase11": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.vercel.user#UserEventPayloadCase11Provider",
          "traits": {
            "smithy.api#documentation": "Present on new events only. Equivalent to \"stripe\" when absent."
          }
        },
        "providerAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present on new events only. Equivalent to `stripeAccount` when absent."
          }
        },
        "stripeAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present when `provider` is \"stripe\". Equivalent to `providerAccount`."
          }
        },
        "stripeOrganisation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present when `provider` is \"stripe\"."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teamSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase12Provider": {
      "type": "enum",
      "members": {
        "CHATGPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chatgpt"
          }
        },
        "STRIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stripe"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Present on new events only. Equivalent to \"stripe\" when absent."
      }
    },
    "com.vercel.user#UserEventPayloadCase12": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.vercel.user#UserEventPayloadCase12Provider",
          "traits": {
            "smithy.api#documentation": "Present on new events only. Equivalent to \"stripe\" when absent."
          }
        },
        "providerAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present on new events only. Equivalent to `stripeAccount` when absent."
          }
        },
        "stripeAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present when `provider` is \"stripe\". Equivalent to `providerAccount`."
          }
        },
        "stripeOrganisation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present when `provider` is \"stripe\"."
          }
        },
        "blockCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase13Provider": {
      "type": "enum",
      "members": {
        "CHATGPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chatgpt"
          }
        },
        "STRIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stripe"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Present on new events only. Equivalent to \"stripe\" when absent."
      }
    },
    "com.vercel.user#UserEventPayloadCase13": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.vercel.user#UserEventPayloadCase13Provider",
          "traits": {
            "smithy.api#documentation": "Present on new events only. Equivalent to \"stripe\" when absent."
          }
        },
        "providerAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present on new events only. Equivalent to `stripeAccount` when absent."
          }
        },
        "stripeAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present when `provider` is \"stripe\". Equivalent to `providerAccount`."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase14Provider": {
      "type": "enum",
      "members": {
        "CHATGPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chatgpt"
          }
        },
        "STRIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stripe"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Present on new events only. Equivalent to \"stripe\" when absent."
      }
    },
    "com.vercel.user#UserEventPayloadCase14ActorType": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase14": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.vercel.user#UserEventPayloadCase14Provider",
          "traits": {
            "smithy.api#documentation": "Present on new events only. Equivalent to \"stripe\" when absent."
          }
        },
        "providerAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present on new events only. Equivalent to `stripeAccount` when absent."
          }
        },
        "stripeAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present when `provider` is \"stripe\". Equivalent to `providerAccount`."
          }
        },
        "stripeOrganisation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present when `provider` is \"stripe\"."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "actorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Okta user id.",
            "smithy.api#required": {}
          }
        },
        "actorName": {
          "target": "smithy.api#String"
        },
        "actorType": {
          "target": "com.vercel.user#UserEventPayloadCase14ActorType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase15Provider": {
      "type": "enum",
      "members": {
        "CHATGPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chatgpt"
          }
        },
        "STRIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stripe"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Present on new events only. Equivalent to \"stripe\" when absent."
      }
    },
    "com.vercel.user#UserEventPayloadCase15FromPlan": {
      "type": "enum",
      "members": {
        "HOBBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hobby"
          }
        },
        "PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pro"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase15ToPlan": {
      "type": "enum",
      "members": {
        "HOBBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hobby"
          }
        },
        "PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pro"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase15": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.vercel.user#UserEventPayloadCase15Provider",
          "traits": {
            "smithy.api#documentation": "Present on new events only. Equivalent to \"stripe\" when absent."
          }
        },
        "providerAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present on new events only. Equivalent to `stripeAccount` when absent."
          }
        },
        "stripeAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present when `provider` is \"stripe\". Equivalent to `providerAccount`."
          }
        },
        "stripeOrganisation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present when `provider` is \"stripe\"."
          }
        },
        "fromPlan": {
          "target": "com.vercel.user#UserEventPayloadCase15FromPlan",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "toPlan": {
          "target": "com.vercel.user#UserEventPayloadCase15ToPlan",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase16AccessPolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase16": {
      "type": "structure",
      "members": {
        "accessPolicy": {
          "target": "com.vercel.user#UserEventPayloadCase16AccessPolicy",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase17AccessPolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase17": {
      "type": "structure",
      "members": {
        "accessPolicy": {
          "target": "com.vercel.user#UserEventPayloadCase17AccessPolicy",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "previousName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase18AccessPolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase18MemberKind": {
      "type": "enum",
      "members": {
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project"
          }
        },
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase18Member": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.vercel.user#UserEventPayloadCase18MemberKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase18": {
      "type": "structure",
      "members": {
        "accessPolicy": {
          "target": "com.vercel.user#UserEventPayloadCase18AccessPolicy",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "member": {
          "target": "com.vercel.user#UserEventPayloadCase18Member",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase19ApiKey": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase19BudgetAlertThresholdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase19BudgetRefreshPeriod": {
      "type": "enum",
      "members": {
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "daily"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monthly"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weekly"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase19Budget": {
      "type": "structure",
      "members": {
        "alertThresholds": {
          "target": "com.vercel.user#UserEventPayloadCase19BudgetAlertThresholdsList"
        },
        "limitAmount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Spend cap, in dollars.",
            "smithy.api#required": {}
          }
        },
        "refreshPeriod": {
          "target": "com.vercel.user#UserEventPayloadCase19BudgetRefreshPeriod",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Spend budget on an AI Gateway API key, as surfaced in activity messages. Defined locally (rather than imported from `@api/pubsub-types`) because `@api/pubsub-types` already depends on `@api/events`; importing it here would create a circular dependency. Must stay structurally aligned with `APIKeyBudget` in `@api/pubsub-types/event-payloads/api-keys`."
      }
    },
    "com.vercel.user#UserEventPayloadCase19": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "com.vercel.user#UserEventPayloadCase19ApiKey",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "budget": {
          "target": "com.vercel.user#UserEventPayloadCase19Budget",
          "traits": {
            "smithy.api#documentation": "Spend budget on an AI Gateway API key, as surfaced in activity messages. Defined locally (rather than imported from `@api/pubsub-types`) because `@api/pubsub-types` already depends on `@api/events`; importing it here would create a circular dependency. Must stay structurally aligned with `APIKeyBudget` in `@api/pubsub-types/event-payloads/api-keys`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bypassAll": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the key was created to bypass all of the team's restrictions (the ZDR-only model restriction and the provider/model allowlist)."
          }
        },
        "zdrExemption": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the key was created with a ZDR exemption."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase20ApiKey": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase20": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "com.vercel.user#UserEventPayloadCase20ApiKey",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase21ApiKey": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase21BudgetAlertThresholdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase21BudgetRefreshPeriod": {
      "type": "enum",
      "members": {
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "daily"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monthly"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weekly"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase21Budget": {
      "type": "structure",
      "members": {
        "alertThresholds": {
          "target": "com.vercel.user#UserEventPayloadCase21BudgetAlertThresholdsList"
        },
        "limitAmount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Spend cap, in dollars.",
            "smithy.api#required": {}
          }
        },
        "refreshPeriod": {
          "target": "com.vercel.user#UserEventPayloadCase21BudgetRefreshPeriod",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Spend budget on an AI Gateway API key, as surfaced in activity messages. Defined locally (rather than imported from `@api/pubsub-types`) because `@api/pubsub-types` already depends on `@api/events`; importing it here would create a circular dependency. Must stay structurally aligned with `APIKeyBudget` in `@api/pubsub-types/event-payloads/api-keys`."
      }
    },
    "com.vercel.user#UserEventPayloadCase21Change": {
      "type": "enum",
      "members": {
        "DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable"
          }
        },
        "ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enable"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remove"
          }
        },
        "SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "set"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase21": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "com.vercel.user#UserEventPayloadCase21ApiKey",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "budget": {
          "target": "com.vercel.user#UserEventPayloadCase21Budget",
          "traits": {
            "smithy.api#documentation": "Spend budget on an AI Gateway API key, as surfaced in activity messages. Defined locally (rather than imported from `@api/pubsub-types`) because `@api/pubsub-types` already depends on `@api/events`; importing it here would create a circular dependency. Must stay structurally aligned with `APIKeyBudget` in `@api/pubsub-types/event-payloads/api-keys`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "change": {
          "target": "com.vercel.user#UserEventPayloadCase21Change",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase22Change": {
      "type": "enum",
      "members": {
        "DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable"
          }
        },
        "DISABLE_COMMITMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable-commitment"
          }
        },
        "ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enable"
          }
        },
        "ENABLE_COMMITMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enable-commitment"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase22Commitment": {
      "type": "structure",
      "members": {
        "deferredInvoiceTargetBalance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "maximumMonthlySpend": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase22Previous": {
      "type": "structure",
      "members": {
        "maximumMonthlySpend": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "minimumBalance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetBalance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase22Settings": {
      "type": "structure",
      "members": {
        "maximumMonthlySpend": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "minimumBalance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetBalance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase22": {
      "type": "structure",
      "members": {
        "change": {
          "target": "com.vercel.user#UserEventPayloadCase22Change",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commitment": {
          "target": "com.vercel.user#UserEventPayloadCase22Commitment"
        },
        "previous": {
          "target": "com.vercel.user#UserEventPayloadCase22Previous"
        },
        "settings": {
          "target": "com.vercel.user#UserEventPayloadCase22Settings"
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase23BudgetAlertThresholdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase23BudgetRefreshPeriod": {
      "type": "enum",
      "members": {
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "daily"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monthly"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weekly"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase23Budget": {
      "type": "structure",
      "members": {
        "alertThresholds": {
          "target": "com.vercel.user#UserEventPayloadCase23BudgetAlertThresholdsList"
        },
        "limitAmount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Spend cap, in dollars.",
            "smithy.api#required": {}
          }
        },
        "refreshPeriod": {
          "target": "com.vercel.user#UserEventPayloadCase23BudgetRefreshPeriod",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Spend budget on an AI Gateway API key, as surfaced in activity messages. Defined locally (rather than imported from `@api/pubsub-types`) because `@api/pubsub-types` already depends on `@api/events`; importing it here would create a circular dependency. Must stay structurally aligned with `APIKeyBudget` in `@api/pubsub-types/event-payloads/api-keys`."
      }
    },
    "com.vercel.user#UserEventPayloadCase23Change": {
      "type": "enum",
      "members": {
        "DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable"
          }
        },
        "ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enable"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remove"
          }
        },
        "SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "set"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase23ScopeType": {
      "type": "enum",
      "members": {
        "API_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api-key"
          }
        },
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project"
          }
        },
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase23": {
      "type": "structure",
      "members": {
        "budget": {
          "target": "com.vercel.user#UserEventPayloadCase23Budget",
          "traits": {
            "smithy.api#documentation": "Spend budget on an AI Gateway API key, as surfaced in activity messages. Defined locally (rather than imported from `@api/pubsub-types`) because `@api/pubsub-types` already depends on `@api/events`; importing it here would create a circular dependency. Must stay structurally aligned with `APIKeyBudget` in `@api/pubsub-types/event-payloads/api-keys`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "change": {
          "target": "com.vercel.user#UserEventPayloadCase23Change",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scopeType": {
          "target": "com.vercel.user#UserEventPayloadCase23ScopeType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase24BudgetAlertThresholdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase24BudgetRefreshPeriod": {
      "type": "enum",
      "members": {
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "daily"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monthly"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weekly"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase24Budget": {
      "type": "structure",
      "members": {
        "alertThresholds": {
          "target": "com.vercel.user#UserEventPayloadCase24BudgetAlertThresholdsList"
        },
        "limitAmount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Spend cap, in dollars.",
            "smithy.api#required": {}
          }
        },
        "refreshPeriod": {
          "target": "com.vercel.user#UserEventPayloadCase24BudgetRefreshPeriod",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Spend budget on an AI Gateway API key, as surfaced in activity messages. Defined locally (rather than imported from `@api/pubsub-types`) because `@api/pubsub-types` already depends on `@api/events`; importing it here would create a circular dependency. Must stay structurally aligned with `APIKeyBudget` in `@api/pubsub-types/event-payloads/api-keys`."
      }
    },
    "com.vercel.user#UserEventPayloadCase24Change": {
      "type": "enum",
      "members": {
        "DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable"
          }
        },
        "ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enable"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remove"
          }
        },
        "SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "set"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase24ScopeType": {
      "type": "enum",
      "members": {
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project"
          }
        },
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase24": {
      "type": "structure",
      "members": {
        "budget": {
          "target": "com.vercel.user#UserEventPayloadCase24Budget",
          "traits": {
            "smithy.api#documentation": "Spend budget on an AI Gateway API key, as surfaced in activity messages. Defined locally (rather than imported from `@api/pubsub-types`) because `@api/pubsub-types` already depends on `@api/events`; importing it here would create a circular dependency. Must stay structurally aligned with `APIKeyBudget` in `@api/pubsub-types/event-payloads/api-keys`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "change": {
          "target": "com.vercel.user#UserEventPayloadCase24Change",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Associates the event with a project for filtering; not rendered."
          }
        },
        "projectName": {
          "target": "smithy.api#String"
        },
        "scopeType": {
          "target": "com.vercel.user#UserEventPayloadCase24ScopeType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Associates the event with a member for filtering; not rendered."
          }
        },
        "userName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase25Credential": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase25": {
      "type": "structure",
      "members": {
        "credential": {
          "target": "com.vercel.user#UserEventPayloadCase25Credential",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase26AddedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase26ChangedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase26Credential": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase26RemovedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase26": {
      "type": "structure",
      "members": {
        "added": {
          "target": "com.vercel.user#UserEventPayloadCase26AddedList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "changed": {
          "target": "com.vercel.user#UserEventPayloadCase26ChangedList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "credential": {
          "target": "com.vercel.user#UserEventPayloadCase26Credential",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "removed": {
          "target": "com.vercel.user#UserEventPayloadCase26RemovedList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase27": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase28": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "purchaseIntentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase29AddedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase29RemovedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase29": {
      "type": "structure",
      "members": {
        "added": {
          "target": "com.vercel.user#UserEventPayloadCase29AddedList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "removed": {
          "target": "com.vercel.user#UserEventPayloadCase29RemovedList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase30PrivateModel": {
      "type": "structure",
      "members": {
        "providerSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase30": {
      "type": "structure",
      "members": {
        "privateModel": {
          "target": "com.vercel.user#UserEventPayloadCase30PrivateModel",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase31PrivateModel": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase31": {
      "type": "structure",
      "members": {
        "privateModel": {
          "target": "com.vercel.user#UserEventPayloadCase31PrivateModel",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase32PrivateProvider": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase32": {
      "type": "structure",
      "members": {
        "privateProvider": {
          "target": "com.vercel.user#UserEventPayloadCase32PrivateProvider",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase33PiiRedaction": {
      "type": "structure",
      "members": {
        "from": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "to": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase33PoliciesAddedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase33PoliciesModifiedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase33PoliciesRemovedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase33": {
      "type": "structure",
      "members": {
        "moderationPolicyCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "piiRedaction": {
          "target": "com.vercel.user#UserEventPayloadCase33PiiRedaction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policiesAdded": {
          "target": "com.vercel.user#UserEventPayloadCase33PoliciesAddedList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policiesModified": {
          "target": "com.vercel.user#UserEventPayloadCase33PoliciesModifiedList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policiesRemoved": {
          "target": "com.vercel.user#UserEventPayloadCase33PoliciesRemovedList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase34RegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase34": {
      "type": "structure",
      "members": {
        "regions": {
          "target": "com.vercel.user#UserEventPayloadCase34RegionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase35RetentionCeilingMode": {
      "type": "enum",
      "members": {
        "DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "days"
          }
        },
        "UNTIL_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "until-requested"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase35RetentionDefaultMode": {
      "type": "enum",
      "members": {
        "DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "days"
          }
        },
        "UNTIL_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "until-requested"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase35Retention": {
      "type": "structure",
      "members": {
        "ceilingDays": {
          "target": "smithy.api#Double"
        },
        "ceilingMode": {
          "target": "com.vercel.user#UserEventPayloadCase35RetentionCeilingMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "defaultDays": {
          "target": "smithy.api#Double"
        },
        "defaultMode": {
          "target": "com.vercel.user#UserEventPayloadCase35RetentionDefaultMode",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase35": {
      "type": "structure",
      "members": {
        "retention": {
          "target": "com.vercel.user#UserEventPayloadCase35Retention",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase36Rule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String"
        },
        "rewriteModel": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase36": {
      "type": "structure",
      "members": {
        "rule": {
          "target": "com.vercel.user#UserEventPayloadCase36Rule",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase37Rule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase37": {
      "type": "structure",
      "members": {
        "rule": {
          "target": "com.vercel.user#UserEventPayloadCase37Rule",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase38Rule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase38": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "rule": {
          "target": "com.vercel.user#UserEventPayloadCase38Rule",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase39VirtualModelConfig": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modelSlug": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase39": {
      "type": "structure",
      "members": {
        "virtualModelConfig": {
          "target": "com.vercel.user#UserEventPayloadCase39VirtualModelConfig",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase40ChangedFieldsItem": {
      "type": "enum",
      "members": {
        "ALLOWFALLBACKFROMFAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allowFallbackFromFast"
          }
        },
        "BASEURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "baseUrl"
          }
        },
        "BYOKCREDENTIALIDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "byokCredentialIds"
          }
        },
        "CACHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caching"
          }
        },
        "DESCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "description"
          }
        },
        "DISALLOWPROMPTTRAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disallowPromptTraining"
          }
        },
        "DISPLAYNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "displayName"
          }
        },
        "HAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "has"
          }
        },
        "HIPAACOMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hipaaCompliant"
          }
        },
        "INFERENCEREGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inferenceRegion"
          }
        },
        "MODELSLUG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "modelSlug"
          }
        },
        "MODELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "models"
          }
        },
        "OBSERVABILITYTAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "observabilityTags"
          }
        },
        "PROVIDERONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "providerOnly"
          }
        },
        "PROVIDEROPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "providerOptions"
          }
        },
        "PROVIDERORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "providerOrder"
          }
        },
        "PROVIDERTIMEOUTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "providerTimeouts"
          }
        },
        "SELECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "selector"
          }
        },
        "SELECTOROPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "selectorOptions"
          }
        },
        "SERVICETIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "serviceTier"
          }
        },
        "SORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sort"
          }
        },
        "SPEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "speed"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        },
        "VISIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visibility"
          }
        },
        "ZERODATARETENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zeroDataRetention"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase40ChangedFieldsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.user#UserEventPayloadCase40ChangedFieldsItem"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase40VirtualModelConfig": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modelSlug": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase40": {
      "type": "structure",
      "members": {
        "changedFields": {
          "target": "com.vercel.user#UserEventPayloadCase40ChangedFieldsList"
        },
        "virtualModelConfig": {
          "target": "com.vercel.user#UserEventPayloadCase40VirtualModelConfig",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase41AccessGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase41EntitlementsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase41TeamPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase41TeamRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase41": {
      "type": "structure",
      "members": {
        "accessGroup": {
          "target": "com.vercel.user#UserEventPayloadCase41AccessGroup",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "entitlements": {
          "target": "com.vercel.user#UserEventPayloadCase41EntitlementsList"
        },
        "teamPermissions": {
          "target": "com.vercel.user#UserEventPayloadCase41TeamPermissionsList"
        },
        "teamRoles": {
          "target": "com.vercel.user#UserEventPayloadCase41TeamRolesList"
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase42AccessGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase42": {
      "type": "structure",
      "members": {
        "accessGroup": {
          "target": "com.vercel.user#UserEventPayloadCase42AccessGroup",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase43AccessGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase43NextRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "PROJECT_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_DEVELOPER"
          }
        },
        "PROJECT_GUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_GUEST"
          }
        },
        "PROJECT_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_VIEWER"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase43PreviousRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "PROJECT_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_DEVELOPER"
          }
        },
        "PROJECT_GUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_GUEST"
          }
        },
        "PROJECT_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_VIEWER"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase43Project": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase43": {
      "type": "structure",
      "members": {
        "accessGroup": {
          "target": "com.vercel.user#UserEventPayloadCase43AccessGroup",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next_role": {
          "target": "com.vercel.user#UserEventPayloadCase43NextRole",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous_role": {
          "target": "com.vercel.user#UserEventPayloadCase43PreviousRole"
        },
        "project": {
          "target": "com.vercel.user#UserEventPayloadCase43Project",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase44AccessGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase44EntitlementsAddedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase44EntitlementsRemovedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase44PreviousTeamPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase44PreviousTeamRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase44TeamPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase44TeamRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase44": {
      "type": "structure",
      "members": {
        "accessGroup": {
          "target": "com.vercel.user#UserEventPayloadCase44AccessGroup",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "entitlementsAdded": {
          "target": "com.vercel.user#UserEventPayloadCase44EntitlementsAddedList"
        },
        "entitlementsRemoved": {
          "target": "com.vercel.user#UserEventPayloadCase44EntitlementsRemovedList"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "previousName": {
          "target": "smithy.api#String"
        },
        "previousTeamPermissions": {
          "target": "com.vercel.user#UserEventPayloadCase44PreviousTeamPermissionsList"
        },
        "previousTeamRoles": {
          "target": "com.vercel.user#UserEventPayloadCase44PreviousTeamRolesList"
        },
        "teamPermissions": {
          "target": "com.vercel.user#UserEventPayloadCase44TeamPermissionsList"
        },
        "teamRoles": {
          "target": "com.vercel.user#UserEventPayloadCase44TeamRolesList"
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase45AccessGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase45User": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase45": {
      "type": "structure",
      "members": {
        "accessGroup": {
          "target": "com.vercel.user#UserEventPayloadCase45AccessGroup",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "directoryType": {
          "target": "smithy.api#String"
        },
        "user": {
          "target": "com.vercel.user#UserEventPayloadCase45User",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase46": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String"
        },
        "price": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of the event, if requested."
      }
    },
    "com.vercel.user#UserEventPayloadCase47DeploymentAllowListedReadyStateReasonInternal": {
      "type": "enum",
      "members": {
        "EARLY_IGNORE_STEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_IGNORE_STEP"
          }
        },
        "IGNORE_STEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IGNORE_STEP"
          }
        },
        "NAMESPACE_PRUNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMESPACE_PRUNED"
          }
        },
        "UNAFFECTED_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAFFECTED_PROJECT"
          }
        },
        "UNVERIFIED_COMMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNVERIFIED_COMMIT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A narrowed subset of the deployment's `readyStateReasonInternal` — only values in the public allowlist are permitted here. Callers should run their raw reason through `toAllowListedReadyStateReasonInternal` from `@api/events` before assigning. This keeps abuse / moderation / admin reasons out of the public activity log."
      }
    },
    "com.vercel.user#UserEventPayloadCase47DeploymentMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.user#UserEventPayloadCase47Deployment": {
      "type": "structure",
      "members": {
        "allowListedReadyStateReasonInternal": {
          "target": "com.vercel.user#UserEventPayloadCase47DeploymentAllowListedReadyStateReasonInternal",
          "traits": {
            "smithy.api#documentation": "A narrowed subset of the deployment's `readyStateReasonInternal` — only values in the public allowlist are permitted here. Callers should run their raw reason through `toAllowListedReadyStateReasonInternal` from `@api/events` before assigning. This keeps abuse / moderation / admin reasons out of the public activity log."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
[...]
