{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.vercel.web_analytics#CreateSpeedInsightsToggleRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.web_analytics#CreateSpeedInsightsToggleResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.web_analytics#CreateSpeedInsightsToggle": {
      "type": "operation",
      "input": {
        "target": "com.vercel.web_analytics#CreateSpeedInsightsToggleRequest"
      },
      "output": {
        "target": "com.vercel.web_analytics#CreateSpeedInsightsToggleResponse"
      },
      "errors": [
        {
          "target": "com.vercel.web_analytics#BadRequest"
        },
        {
          "target": "com.vercel.web_analytics#PaymentRequired"
        },
        {
          "target": "com.vercel.web_analytics#Forbidden"
        },
        {
          "target": "com.vercel.web_analytics#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/speed-insights/toggle",
          "code": 200
        }
      }
    },
    "com.vercel.web_analytics#CreateWebInsightsToggleRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.web_analytics#CreateWebInsightsToggleResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.web_analytics#CreateWebInsightsToggle": {
      "type": "operation",
      "input": {
        "target": "com.vercel.web_analytics#CreateWebInsightsToggleRequest"
      },
      "output": {
        "target": "com.vercel.web_analytics#CreateWebInsightsToggleResponse"
      },
      "errors": [
        {
          "target": "com.vercel.web_analytics#BadRequest"
        },
        {
          "target": "com.vercel.web_analytics#Forbidden"
        },
        {
          "target": "com.vercel.web_analytics#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/web/insights/toggle",
          "code": 200
        }
      }
    },
    "com.vercel.web_analytics#AggregatePageviewsRequestByItemCase0": {
      "type": "enum",
      "members": {
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        },
        "DEVICETYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deviceType"
          }
        },
        "ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "environment"
          }
        },
        "REQUESTPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requestPath"
          }
        },
        "REFERRERHOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referrerHostname"
          }
        },
        "OSNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "osName"
          }
        },
        "BROWSERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "browserName"
          }
        },
        "ROUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "route"
          }
        },
        "UTMSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmSource"
          }
        },
        "UTMMEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmMedium"
          }
        },
        "UTMCAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmCampaign"
          }
        },
        "UTMCONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmContent"
          }
        },
        "UTMTERM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmTerm"
          }
        },
        "FLAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsRequestByItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.web_analytics#AggregatePageviewsRequestByItemCase0"
        },
        "Case1": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsRequestByList": {
      "type": "list",
      "member": {
        "target": "com.vercel.web_analytics#AggregatePageviewsRequestByItem"
      },
      "traits": {
        "smithy.api#documentation": "Up to two dimensions used to break down results.\n\nAt most one time granularity is allowed: hour, day, week, month, year.\n\nOther dimensions: country, deviceType, environment, requestPath, referrerHostname, osName, browserName, route, utmSource, utmMedium, utmCampaign, utmContent, utmTerm.\n\nJSON dimensions: flags. Used bare, it breaks down results by key, for example flags returns one group per flag name. With a key, it breaks down results by that key's value, for example flags/beta_banner. Wrap keys containing characters other than letters, digits, and underscores in single quotes, for example flags/'my-flag'."
      }
    },
    "com.vercel.web_analytics#AggregatePageviewsRequestSince": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data from (including) this date and time.\nWill be adjusted according to the desired time granularity."
      }
    },
    "com.vercel.web_analytics#AggregatePageviewsRequestUntil": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data until (including) this date.\nWill be adjusted according to the desired time granularity."
      }
    },
    "com.vercel.web_analytics#AggregatePageviewsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {},
            "smithy.api#documentation": "The project identifier or the project name"
          }
        },
        "by": {
          "target": "com.vercel.web_analytics#AggregatePageviewsRequestByList",
          "traits": {
            "smithy.api#httpQuery": "by",
            "smithy.api#required": {},
            "smithy.api#documentation": "Up to two dimensions used to break down results.\n\nAt most one time granularity is allowed: hour, day, week, month, year.\n\nOther dimensions: country, deviceType, environment, requestPath, referrerHostname, osName, browserName, route, utmSource, utmMedium, utmCampaign, utmContent, utmTerm.\n\nJSON dimensions: flags. Used bare, it breaks down results by key, for example flags returns one group per flag name. With a key, it breaks down results by that key's value, for example flags/beta_banner. Wrap keys containing characters other than letters, digits, and underscores in single quotes, for example flags/'my-flag'."
          }
        },
        "since": {
          "target": "com.vercel.web_analytics#AggregatePageviewsRequestSince",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#required": {},
            "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data from (including) this date and time.\nWill be adjusted according to the desired time granularity."
          }
        },
        "until": {
          "target": "com.vercel.web_analytics#AggregatePageviewsRequestUntil",
          "traits": {
            "smithy.api#httpQuery": "until",
            "smithy.api#required": {},
            "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data until (including) this date.\nWill be adjusted according to the desired time granularity."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of distinct results, default to 10. Other results are grouped into \"Others\" group."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter",
            "smithy.api#documentation": "OData-compliant filter. Encode the value when sending it in a URL.\n\nAllows filtering on one or multiple dimensions. By default, filters for production environment only.\n\nSupported dimensions: country, deviceType, environment, requestPath, referrerHostname, osName, browserName, route, utmSource, utmMedium, utmCampaign, utmContent, utmTerm.\n\nJSON dimensions filtered by key: flags/<name>, for example flags/beta_banner eq 'true'. Wrap keys containing characters other than letters, digits, and underscores in single quotes, for example flags/'my-flag' eq 'true'.\n\nSupported operations include eq, ne, in, and logical operators and, or, not with parentheses. Functions such as startswith are supported by the OData parser."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.web_analytics#AggregatePageviewsResponseDataCase0Item": {
      "type": "structure",
      "members": {
        "browserName": {
          "target": "smithy.api#String"
        },
        "country": {
          "target": "smithy.api#String"
        },
        "deviceType": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "flags": {
          "target": "smithy.api#String"
        },
        "osName": {
          "target": "smithy.api#String"
        },
        "projectId": {
          "target": "smithy.api#String"
        },
        "projectName": {
          "target": "smithy.api#String"
        },
        "referrerHostname": {
          "target": "smithy.api#String"
        },
        "requestHostname": {
          "target": "smithy.api#String"
        },
        "requestPath": {
          "target": "smithy.api#String"
        },
        "route": {
          "target": "smithy.api#String"
        },
        "utmCampaign": {
          "target": "smithy.api#String"
        },
        "utmContent": {
          "target": "smithy.api#String"
        },
        "utmMedium": {
          "target": "smithy.api#String"
        },
        "utmSource": {
          "target": "smithy.api#String"
        },
        "utmTerm": {
          "target": "smithy.api#String"
        },
        "visitorId": {
          "target": "smithy.api#String"
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsResponseDataCase0List": {
      "type": "list",
      "member": {
        "target": "com.vercel.web_analytics#AggregatePageviewsResponseDataCase0Item"
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsResponseDataCase1Item": {
      "type": "structure",
      "members": {
        "browserName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deviceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "flags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "osName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "referrerHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "route": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmCampaign": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmMedium": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmTerm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "visitorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsResponseDataCase1List": {
      "type": "list",
      "member": {
        "target": "com.vercel.web_analytics#AggregatePageviewsResponseDataCase1Item"
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsResponseData": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.web_analytics#AggregatePageviewsResponseDataCase0List"
        },
        "Case1": {
          "target": "com.vercel.web_analytics#AggregatePageviewsResponseDataCase1List"
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsResponseQueryGroupByItemCase1": {
      "type": "enum",
      "members": {
        "BROWSERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "browserName"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        },
        "DEVICETYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deviceType"
          }
        },
        "ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "environment"
          }
        },
        "FLAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags"
          }
        },
        "OSNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "osName"
          }
        },
        "REFERRERHOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referrerHostname"
          }
        },
        "REQUESTPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requestPath"
          }
        },
        "ROUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "route"
          }
        },
        "UTMCAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmCampaign"
          }
        },
        "UTMCONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmContent"
          }
        },
        "UTMMEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmMedium"
          }
        },
        "UTMSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmSource"
          }
        },
        "UTMTERM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmTerm"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsResponseQueryGroupByItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.web_analytics#AggregatePageviewsResponseQueryGroupByItemCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsResponseQueryGroupByList": {
      "type": "list",
      "member": {
        "target": "com.vercel.web_analytics#AggregatePageviewsResponseQueryGroupByItem"
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsResponseQuery": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String"
        },
        "groupBy": {
          "target": "com.vercel.web_analytics#AggregatePageviewsResponseQueryGroupByList"
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.vercel.web_analytics#AggregatePageviewsResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "com.vercel.web_analytics#AggregatePageviewsResponseQuery",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.web_analytics#AggregatePageviews": {
      "type": "operation",
      "input": {
        "target": "com.vercel.web_analytics#AggregatePageviewsRequest"
      },
      "output": {
        "target": "com.vercel.web_analytics#AggregatePageviewsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.web_analytics#BadRequest"
        },
        {
          "target": "com.vercel.web_analytics#PaymentRequired"
        },
        {
          "target": "com.vercel.web_analytics#Forbidden"
        },
        {
          "target": "com.vercel.web_analytics#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/query/web-analytics/visits/aggregate",
          "code": 200
        },
        "smithy.api#documentation": "Aggregates page views\n\nCounts pageviews on a project, within the requested date range. Results are either aggregated or broken down over time. Results can additionally be broken down by one dimension, and filtered by multiple dimensions."
      }
    },
    "com.vercel.web_analytics#AggregateEventsRequestByItemCase0": {
      "type": "enum",
      "members": {
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        },
        "DEVICETYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deviceType"
          }
        },
        "ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "environment"
          }
        },
        "REQUESTPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requestPath"
          }
        },
        "REFERRERHOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referrerHostname"
          }
        },
        "OSNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "osName"
          }
        },
        "BROWSERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "browserName"
          }
        },
        "ROUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "route"
          }
        },
        "UTMSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmSource"
          }
        },
        "UTMMEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmMedium"
          }
        },
        "UTMCAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmCampaign"
          }
        },
        "UTMCONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmContent"
          }
        },
        "UTMTERM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmTerm"
          }
        },
        "EVENTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventName"
          }
        },
        "FLAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags"
          }
        },
        "EVENTDATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventData"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregateEventsRequestByItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.web_analytics#AggregateEventsRequestByItemCase0"
        },
        "Case1": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregateEventsRequestByList": {
      "type": "list",
      "member": {
        "target": "com.vercel.web_analytics#AggregateEventsRequestByItem"
      },
      "traits": {
        "smithy.api#documentation": "Up to two dimensions used to break down results.\n\nAt most one time granularity is allowed: hour, day, week, month, year.\n\nOther dimensions: country, deviceType, environment, requestPath, referrerHostname, osName, browserName, route, utmSource, utmMedium, utmCampaign, utmContent, utmTerm, eventName.\n\nJSON dimensions: flags, eventData. Used bare, they break down results by key, for example flags returns one group per flag name. With a key, they break down results by that key's value, for example eventData/plan. Wrap keys containing characters other than letters, digits, and underscores in single quotes, for example flags/'my-flag'."
      }
    },
    "com.vercel.web_analytics#AggregateEventsRequestSince": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data from (including) this date and time.\nWill be adjusted according to the desired time granularity."
      }
    },
    "com.vercel.web_analytics#AggregateEventsRequestUntil": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data until (including) this date.\nWill be adjusted according to the desired time granularity."
      }
    },
    "com.vercel.web_analytics#AggregateEventsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {},
            "smithy.api#documentation": "The project identifier or the project name"
          }
        },
        "by": {
          "target": "com.vercel.web_analytics#AggregateEventsRequestByList",
          "traits": {
            "smithy.api#httpQuery": "by",
            "smithy.api#required": {},
            "smithy.api#documentation": "Up to two dimensions used to break down results.\n\nAt most one time granularity is allowed: hour, day, week, month, year.\n\nOther dimensions: country, deviceType, environment, requestPath, referrerHostname, osName, browserName, route, utmSource, utmMedium, utmCampaign, utmContent, utmTerm, eventName.\n\nJSON dimensions: flags, eventData. Used bare, they break down results by key, for example flags returns one group per flag name. With a key, they break down results by that key's value, for example eventData/plan. Wrap keys containing characters other than letters, digits, and underscores in single quotes, for example flags/'my-flag'."
          }
        },
        "since": {
          "target": "com.vercel.web_analytics#AggregateEventsRequestSince",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#required": {},
            "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data from (including) this date and time.\nWill be adjusted according to the desired time granularity."
          }
        },
        "until": {
          "target": "com.vercel.web_analytics#AggregateEventsRequestUntil",
          "traits": {
            "smithy.api#httpQuery": "until",
            "smithy.api#required": {},
            "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data until (including) this date.\nWill be adjusted according to the desired time granularity."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of distinct results, default to 10. Other results are grouped into \"Others\" group."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter",
            "smithy.api#documentation": "OData-compliant filter. Encode the value when sending it in a URL.\n\nAllows filtering on one or multiple dimensions. By default, filters for production environment only.\n\nSupported dimensions: country, deviceType, environment, requestPath, referrerHostname, osName, browserName, route, utmSource, utmMedium, utmCampaign, utmContent, utmTerm, eventName.\n\nJSON dimensions filtered by key: flags/<name>, eventData/<property>, for example eventData/plan eq 'pro'. Wrap keys containing characters other than letters, digits, and underscores in single quotes, for example flags/'my-flag' eq 'true'.\n\nSupported operations include eq, ne, in, and logical operators and, or, not with parentheses. Functions such as startswith are supported by the OData parser."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.web_analytics#AggregateEventsResponseDataCase0Item": {
      "type": "structure",
      "members": {
        "browserName": {
          "target": "smithy.api#String"
        },
        "country": {
          "target": "smithy.api#String"
        },
        "deviceType": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "eventData": {
          "target": "smithy.api#String"
        },
        "eventName": {
          "target": "smithy.api#String"
        },
        "flags": {
          "target": "smithy.api#String"
        },
        "osName": {
          "target": "smithy.api#String"
        },
        "projectId": {
          "target": "smithy.api#String"
        },
        "projectName": {
          "target": "smithy.api#String"
        },
        "referrerHostname": {
          "target": "smithy.api#String"
        },
        "requestHostname": {
          "target": "smithy.api#String"
        },
        "requestPath": {
          "target": "smithy.api#String"
        },
        "route": {
          "target": "smithy.api#String"
        },
        "utmCampaign": {
          "target": "smithy.api#String"
        },
        "utmContent": {
          "target": "smithy.api#String"
        },
        "utmMedium": {
          "target": "smithy.api#String"
        },
        "utmSource": {
          "target": "smithy.api#String"
        },
        "utmTerm": {
          "target": "smithy.api#String"
        },
        "visitorId": {
          "target": "smithy.api#String"
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregateEventsResponseDataCase0List": {
      "type": "list",
      "member": {
        "target": "com.vercel.web_analytics#AggregateEventsResponseDataCase0Item"
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregateEventsResponseDataCase1Item": {
      "type": "structure",
      "members": {
        "browserName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deviceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "eventData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "eventName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "flags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "osName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "referrerHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "route": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmCampaign": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmMedium": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmTerm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "visitorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregateEventsResponseDataCase1List": {
      "type": "list",
      "member": {
        "target": "com.vercel.web_analytics#AggregateEventsResponseDataCase1Item"
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregateEventsResponseData": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.web_analytics#AggregateEventsResponseDataCase0List"
        },
        "Case1": {
          "target": "com.vercel.web_analytics#AggregateEventsResponseDataCase1List"
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregateEventsResponseQueryGroupByItemCase1": {
      "type": "enum",
      "members": {
        "BROWSERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "browserName"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        },
        "DEVICETYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deviceType"
          }
        },
        "ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "environment"
          }
        },
        "EVENTDATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventData"
          }
        },
        "EVENTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventName"
          }
        },
        "FLAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags"
          }
        },
        "OSNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "osName"
          }
        },
        "REFERRERHOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referrerHostname"
          }
        },
        "REQUESTPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requestPath"
          }
        },
        "ROUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "route"
          }
        },
        "UTMCAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmCampaign"
          }
        },
        "UTMCONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmContent"
          }
        },
        "UTMMEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmMedium"
          }
        },
        "UTMSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmSource"
          }
        },
        "UTMTERM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmTerm"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregateEventsResponseQueryGroupByItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.web_analytics#AggregateEventsResponseQueryGroupByItemCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregateEventsResponseQueryGroupByList": {
      "type": "list",
      "member": {
        "target": "com.vercel.web_analytics#AggregateEventsResponseQueryGroupByItem"
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregateEventsResponseQuery": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String"
        },
        "groupBy": {
          "target": "com.vercel.web_analytics#AggregateEventsResponseQueryGroupByList"
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregateEventsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.vercel.web_analytics#AggregateEventsResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "com.vercel.web_analytics#AggregateEventsResponseQuery",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.web_analytics#AggregateEvents": {
      "type": "operation",
      "input": {
        "target": "com.vercel.web_analytics#AggregateEventsRequest"
      },
      "output": {
        "target": "com.vercel.web_analytics#AggregateEventsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.web_analytics#BadRequest"
        },
        {
          "target": "com.vercel.web_analytics#PaymentRequired"
        },
        {
          "target": "com.vercel.web_analytics#Forbidden"
        },
        {
          "target": "com.vercel.web_analytics#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/query/web-analytics/events/aggregate",
          "code": 200
        },
        "smithy.api#documentation": "Aggregates custom events\n\nCounts custom events on a project, within the requested date range. Results are either aggregated or broken down over time. Results can additionally be broken down by one dimension, and filtered by multiple dimensions."
      }
    },
    "com.vercel.web_analytics#CountPageviewsRequestSince": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data from (including) this date and time.\nWill be adjusted according to the desired time granularity."
      }
    },
    "com.vercel.web_analytics#CountPageviewsRequestUntil": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data until (including) this date.\nWill be adjusted according to the desired time granularity."
      }
    },
    "com.vercel.web_analytics#CountPageviewsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {},
            "smithy.api#documentation": "The project identifier or the project name"
          }
        },
        "since": {
          "target": "com.vercel.web_analytics#CountPageviewsRequestSince",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data from (including) this date and time.\nWill be adjusted according to the desired time granularity."
          }
        },
        "until": {
          "target": "com.vercel.web_analytics#CountPageviewsRequestUntil",
          "traits": {
            "smithy.api#httpQuery": "until",
            "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data until (including) this date.\nWill be adjusted according to the desired time granularity."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter",
            "smithy.api#documentation": "OData-compliant filter. Encode the value when sending it in a URL.\n\nAllows filtering on one or multiple dimensions.\n\nSupported dimensions: country, deviceType, environment, requestPath, referrerHostname, osName, browserName, route, utmSource, utmMedium, utmCampaign, utmContent, utmTerm.\n\nJSON dimensions filtered by key: flags/<name>, for example flags/beta_banner eq 'true'. Wrap keys containing characters other than letters, digits, and underscores in single quotes, for example flags/'my-flag' eq 'true'.\n\nSupported operations include eq, ne, in, and logical operators and, or, not with parentheses. Functions such as startswith are supported by the OData parser."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.web_analytics#CountPageviewsResponseDataCase0": {
      "type": "structure",
      "members": {
        "browserName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deviceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "flags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "osName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "referrerHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "route": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmCampaign": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmMedium": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmTerm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "visitorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#CountPageviewsResponseDataCase1": {
      "type": "structure",
      "members": {
        "pageviews": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "visitors": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#CountPageviewsResponseData": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.web_analytics#CountPageviewsResponseDataCase0"
        },
        "Case1": {
          "target": "com.vercel.web_analytics#CountPageviewsResponseDataCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#CountPageviewsResponseQuery": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String"
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#CountPageviewsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.vercel.web_analytics#CountPageviewsResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "com.vercel.web_analytics#CountPageviewsResponseQuery",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.web_analytics#CountPageviews": {
      "type": "operation",
      "input": {
        "target": "com.vercel.web_analytics#CountPageviewsRequest"
      },
      "output": {
        "target": "com.vercel.web_analytics#CountPageviewsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.web_analytics#BadRequest"
        },
        {
          "target": "com.vercel.web_analytics#PaymentRequired"
        },
        {
          "target": "com.vercel.web_analytics#Forbidden"
        },
        {
          "target": "com.vercel.web_analytics#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/query/web-analytics/visits/count",
          "code": 200
        },
        "smithy.api#documentation": "Counts page views\n\nCounts the number of page views on a project (production only), since Web Analytics was enabled. Results can be filtered on supported dimensions."
      }
    },
    "com.vercel.web_analytics#CountEventsRequestSince": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data from (including) this date and time.\nWill be adjusted according to the desired time granularity."
      }
    },
    "com.vercel.web_analytics#CountEventsRequestUntil": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data until (including) this date.\nWill be adjusted according to the desired time granularity."
      }
    },
    "com.vercel.web_analytics#CountEventsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {},
            "smithy.api#documentation": "The project identifier or the project name"
          }
        },
        "since": {
          "target": "com.vercel.web_analytics#CountEventsRequestSince",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data from (including) this date and time.\nWill be adjusted according to the desired time granularity."
          }
        },
        "until": {
          "target": "com.vercel.web_analytics#CountEventsRequestUntil",
          "traits": {
            "smithy.api#httpQuery": "until",
            "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data until (including) this date.\nWill be adjusted according to the desired time granularity."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter",
            "smithy.api#documentation": "OData-compliant filter. Encode the value when sending it in a URL.\n\nAllows filtering on one or multiple dimensions.\n\nSupported dimensions: country, deviceType, environment, requestPath, referrerHostname, osName, browserName, route, utmSource, utmMedium, utmCampaign, utmContent, utmTerm, eventName.\n\nJSON dimensions filtered by key: flags/<name>, eventData/<property>, for example eventData/plan eq 'pro'. Wrap keys containing characters other than letters, digits, and underscores in single quotes, for example flags/'my-flag' eq 'true'.\n\nSupported operations include eq, ne, in, and logical operators and, or, not with parentheses. Functions such as startswith are supported by the OData parser."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.web_analytics#CountEventsResponseDataCase0": {
      "type": "structure",
      "members": {
        "browserName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deviceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "eventData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "eventName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "flags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "osName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "referrerHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "route": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmCampaign": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmMedium": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmTerm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "visitorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#CountEventsResponseDataCase1": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "visitors": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#CountEventsResponseData": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.web_analytics#CountEventsResponseDataCase0"
        },
        "Case1": {
          "target": "com.vercel.web_analytics#CountEventsResponseDataCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#CountEventsResponseQuery": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String"
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#CountEventsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.vercel.web_analytics#CountEventsResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "com.vercel.web_analytics#CountEventsResponseQuery",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.web_analytics#CountEvents": {
      "type": "operation",
      "input": {
        "target": "com.vercel.web_analytics#CountEventsRequest"
      },
      "output": {
        "target": "com.vercel.web_analytics#CountEventsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.web_analytics#BadRequest"
        },
        {
          "target": "com.vercel.web_analytics#PaymentRequired"
        },
        {
          "target": "com.vercel.web_analytics#Forbidden"
        },
        {
          "target": "com.vercel.web_analytics#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/query/web-analytics/events/count",
          "code": 200
        },
        "smithy.api#documentation": "Counts custom events\n\nCounts the number of custom events on a project (production only), since Web Analytics was enabled. Results can be filtered on supported dimensions."
      }
    },
    "com.vercel.web_analytics#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.vercel.web_analytics#PaymentRequired": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 402,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 402
          }
        ]
      }
    },
    "com.vercel.web_analytics#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.vercel.web_analytics#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.vercel.web_analytics#WebAnalytics": {
      "type": "service",
      "version": "0.0.1",
      "operations": [
        {
          "target": "com.vercel.web_analytics#CreateSpeedInsightsToggle"
        },
        {
          "target": "com.vercel.web_analytics#CreateWebInsightsToggle"
        },
        {
          "target": "com.vercel.web_analytics#AggregatePageviews"
        },
        {
          "target": "com.vercel.web_analytics#AggregateEvents"
        },
        {
          "target": "com.vercel.web_analytics#CountPageviews"
        },
        {
          "target": "com.vercel.web_analytics#CountEvents"
        }
      ],
      "traits": {
        "smithy.api#title": "Vercel API",
        "smithy.api#documentation": "Vercel combines the best developer experience with an obsessive focus on end-user performance. Our platform enables frontend teams to do their best work."
      }
    }
  }
}
