{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.openai.codex#InitializeCapabilities": {
      "type": "structure",
      "members": {
        "experimentalApi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Opt into receiving experimental API methods and fields."
          }
        },
        "explicitGatewayOauth": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use explicit gateway OAuth login instead of automatic browser authorization. Applies to this app-server's gateway runtime; later connections cannot undo it."
          }
        },
        "extensions": {
          "target": "com.openai.codex#InitializeCapabilitiesExtensionsMap",
          "traits": {
            "smithy.api#documentation": "MCP extension settings declared by the app-server client.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "mcpServerOpenaiFormElicitation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Legacy opt-in for the `openai/form` MCP extension.\n\nNew clients should declare `openai/form` in [`Self::extensions`]."
          }
        },
        "optOutNotificationMethods": {
          "target": "com.openai.codex#InitializeCapabilitiesOptOutNotificationMethodsList",
          "traits": {
            "smithy.api#documentation": "Exact notification method names that should be suppressed for this connection (for example `thread/started`).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "requestAttestation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Opt into `attestation/generate` requests for upstream `x-oai-attestation`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Client-declared capabilities negotiated during initialize."
      }
    },
    "com.openai.codex#InitializeCapabilitiesExtensionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "MCP extension settings declared by the app-server client."
      }
    },
    "com.openai.codex#InitializeCapabilitiesOptOutNotificationMethodsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Exact notification method names that should be suppressed for this connection (for example `thread/started`)."
      }
    },
    "com.openai.codex#ClientInfo": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#InitializeRequest": {
      "type": "structure",
      "members": {
        "capabilities": {
          "target": "com.openai.codex#InitializeCapabilities",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "clientInfo": {
          "target": "com.openai.codex#ClientInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.codex#InitializeResponse": {
      "type": "structure",
      "members": {
        "codexHome": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Absolute path to the server's $CODEX_HOME directory.",
            "smithy.api#required": {}
          }
        },
        "platformFamily": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Platform family for the running app-server target, for example `\"unix\"` or `\"windows\"`.",
            "smithy.api#required": {}
          }
        },
        "platformOs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operating system for the running app-server target, for example `\"macos\"`, `\"linux\"`, or `\"windows\"`.",
            "smithy.api#required": {}
          }
        },
        "userAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#Initialize": {
      "type": "operation",
      "input": {
        "target": "com.openai.codex#InitializeRequest"
      },
      "output": {
        "target": "com.openai.codex#InitializeResponse"
      },
      "traits": {
        "com.distilled.jsonrpc#method": "initialize"
      }
    },
    "com.openai.codex#AskForApproval": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.openai.codex#AskForApprovalCase0"
        },
        "GranularAskForApproval": {
          "target": "com.openai.codex#AskForApprovalGranularAskForApproval"
        }
      },
      "traits": {}
    },
    "com.openai.codex#AskForApprovalCase0": {
      "type": "enum",
      "members": {
        "UNTRUSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "untrusted"
          }
        },
        "ON_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on-request"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#AskForApprovalGranularAskForApprovalGranular": {
      "type": "structure",
      "members": {
        "mcp_elicitations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "request_permissions": {
          "target": "smithy.api#Boolean"
        },
        "rules": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sandbox_approval": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "skill_approval": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.openai.codex#AskForApprovalGranularAskForApproval": {
      "type": "structure",
      "members": {
        "granular": {
          "target": "com.openai.codex#AskForApprovalGranularAskForApprovalGranular",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ApprovalsReviewer": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "AUTO_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto_review"
          }
        },
        "GUARDIAN_SUBAGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "guardian_subagent"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures who approval requests are routed to for review. Examples include sandbox escapes, blocked network access, MCP approval prompts, and ARC escalations. Defaults to `user`. `auto_review` uses a carefully prompted subagent to gather relevant context and apply a risk-based decision framework before approving or denying the request. The legacy value `guardian_subagent` is accepted for compatibility."
      }
    },
    "com.openai.codex#ThreadStartRequestConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.openai.codex#Personality": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "FRIENDLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "friendly"
          }
        },
        "PRAGMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pragmatic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: `friendly` and `pragmatic` no longer select a style."
      }
    },
    "com.openai.codex#SandboxMode": {
      "type": "enum",
      "members": {
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read-only"
          }
        },
        "WORKSPACE_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workspace-write"
          }
        },
        "DANGER_FULL_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "danger-full-access"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadStartSource": {
      "type": "enum",
      "members": {
        "STARTUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startup"
          }
        },
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadStartRequest": {
      "type": "structure",
      "members": {
        "approvalPolicy": {
          "target": "com.openai.codex#AskForApproval",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "approvalsReviewer": {
          "target": "com.openai.codex#ApprovalsReviewer",
          "traits": {
            "smithy.api#documentation": "Override where approval requests are routed for review on this thread and subsequent turns.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "baseInstructions": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "config": {
          "target": "com.openai.codex#ThreadStartRequestConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "cwd": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "developerInstructions": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ephemeral": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "modelProvider": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "personality": {
          "target": "com.openai.codex#Personality",
          "traits": {
            "smithy.api#documentation": "@deprecated `friendly` and `pragmatic` no longer select a style.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sandbox": {
          "target": "com.openai.codex#SandboxMode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "serviceTier": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "sessionStartSource": {
          "target": "com.openai.codex#ThreadStartSource",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "threadSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional client-supplied analytics source classification for this thread.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.openai.codex#ThreadStartResponse": {
      "type": "structure",
      "members": {
        "approvalPolicy": {
          "target": "com.openai.codex#AskForApproval",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "approvalsReviewer": {
          "target": "com.openai.codex#ApprovalsReviewer",
          "traits": {
            "smithy.api#documentation": "Reviewer currently used for approval requests on this thread.",
            "smithy.api#required": {}
          }
        },
        "cwd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "disabledPluginIds": {
          "target": "com.openai.codex#ThreadStartResponseDisabledPluginIdsList",
          "traits": {
            "smithy.api#documentation": "Saved list of disabled plugin IDs. Does not yet filter plugin capabilities."
          }
        },
        "instructionSources": {
          "target": "com.openai.codex#ThreadStartResponseInstructionSourcesList",
          "traits": {
            "smithy.api#documentation": "Environment-native paths to instruction source files currently loaded for this thread."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modelProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reasoningEffort": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "sandbox": {
          "target": "com.openai.codex#SandboxPolicy",
          "traits": {
            "smithy.api#documentation": "Legacy sandbox policy retained for compatibility. Experimental clients should prefer `activePermissionProfile` for profile provenance.",
            "smithy.api#required": {}
          }
        },
        "serviceTier": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "thread": {
          "target": "com.openai.codex#Thread",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadStartResponseDisabledPluginIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Saved list of disabled plugin IDs. Does not yet filter plugin capabilities."
      }
    },
    "com.openai.codex#ThreadStartResponseInstructionSourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Environment-native paths to instruction source files currently loaded for this thread."
      }
    },
    "com.openai.codex#SandboxPolicy": {
      "type": "union",
      "members": {
        "DangerFullAccessSandboxPolicy": {
          "target": "com.openai.codex#SandboxPolicyDangerFullAccessSandboxPolicy"
        },
        "ReadOnlySandboxPolicy": {
          "target": "com.openai.codex#SandboxPolicyReadOnlySandboxPolicy"
        },
        "ExternalSandboxSandboxPolicy": {
          "target": "com.openai.codex#SandboxPolicyExternalSandboxSandboxPolicy"
        },
        "WorkspaceWriteSandboxPolicy": {
          "target": "com.openai.codex#SandboxPolicyWorkspaceWriteSandboxPolicy"
        }
      },
      "traits": {}
    },
    "com.openai.codex#SandboxPolicyDangerFullAccessSandboxPolicyType": {
      "type": "enum",
      "members": {
        "DANGERFULLACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dangerFullAccess"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#SandboxPolicyDangerFullAccessSandboxPolicy": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.codex#SandboxPolicyDangerFullAccessSandboxPolicyType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#SandboxPolicyReadOnlySandboxPolicyType": {
      "type": "enum",
      "members": {
        "READONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "readOnly"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#SandboxPolicyReadOnlySandboxPolicy": {
      "type": "structure",
      "members": {
        "networkAccess": {
          "target": "smithy.api#Boolean"
        },
        "type": {
          "target": "com.openai.codex#SandboxPolicyReadOnlySandboxPolicyType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#NetworkAccess": {
      "type": "enum",
      "members": {
        "RESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restricted"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#SandboxPolicyExternalSandboxSandboxPolicyType": {
      "type": "enum",
      "members": {
        "EXTERNALSANDBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "externalSandbox"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#SandboxPolicyExternalSandboxSandboxPolicy": {
      "type": "structure",
      "members": {
        "networkAccess": {
          "target": "com.openai.codex#NetworkAccess"
        },
        "type": {
          "target": "com.openai.codex#SandboxPolicyExternalSandboxSandboxPolicyType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#SandboxPolicyWorkspaceWriteSandboxPolicyType": {
      "type": "enum",
      "members": {
        "WORKSPACEWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workspaceWrite"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#SandboxPolicyWorkspaceWriteSandboxPolicyWritableRootsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.openai.codex#SandboxPolicyWorkspaceWriteSandboxPolicy": {
      "type": "structure",
      "members": {
        "excludeSlashTmp": {
          "target": "smithy.api#Boolean"
        },
        "excludeTmpdirEnvVar": {
          "target": "smithy.api#Boolean"
        },
        "networkAccess": {
          "target": "smithy.api#Boolean"
        },
        "type": {
          "target": "com.openai.codex#SandboxPolicyWorkspaceWriteSandboxPolicyType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "writableRoots": {
          "target": "com.openai.codex#SandboxPolicyWorkspaceWriteSandboxPolicyWritableRootsList"
        }
      },
      "traits": {}
    },
    "com.openai.codex#Thread": {
      "type": "structure",
      "members": {
        "agentNickname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional random unique nickname assigned to an AgentControl-spawned sub-agent.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "agentRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional role (agent_role) assigned to an AgentControl-spawned sub-agent.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cliVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the CLI that created the thread.",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp (in seconds) when the thread was created.",
            "smithy.api#required": {}
          }
        },
        "cwd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Working directory captured for the thread.",
            "smithy.api#required": {}
          }
        },
        "ephemeral": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the thread is ephemeral and should not be materialized on disk.",
            "smithy.api#required": {}
          }
        },
        "forkedFromId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source thread id when this thread was created by forking another thread.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "gitInfo": {
          "target": "com.openai.codex#GitInfo",
          "traits": {
            "smithy.api#documentation": "Optional Git metadata captured when the thread was created.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "historyMode": {
          "target": "com.openai.codex#ThreadHistoryMode",
          "traits": {
            "smithy.api#documentation": "Persisted thread history contract selected when this thread was created."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for this thread. Codex-generated thread IDs are UUIDv7.",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current configured model when loaded, otherwise the latest persisted model. Null when unavailable. This is not per-turn execution telemetry.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "modelProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Model provider used for this thread (for example, 'openai').",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional user-facing thread title.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "originator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Originator recorded when the thread was created, independent of its current client or executor. Null when the recorded originator is unavailable.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "parentThreadId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the parent thread. This will only be set if this thread is a subagent.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[UNSTABLE] Path to the thread on disk.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "preview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Usually the first user message in the thread, if available.",
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Canonical project assignment owned by app-server, if any.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "reasoningEffort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current configured reasoning effort when loaded, otherwise the latest persisted effort. Null when unset or unavailable. This is not per-turn execution telemetry.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "recencyAt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp (in seconds) used for thread recency ordering.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "section": {
          "target": "com.openai.codex#ThreadSection",
          "traits": {
            "smithy.api#documentation": "The independently persisted section selected for this thread, if any.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sectionEnteredAt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in seconds when the thread entered its current section.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Session id shared by threads that belong to the same session tree.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.openai.codex#SessionSource",
          "traits": {
            "smithy.api#documentation": "Origin of the thread (CLI, VSCode, codex exec, codex app-server, etc.).",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.codex#ThreadStatus",
          "traits": {
            "smithy.api#documentation": "Current runtime status for the thread.",
            "smithy.api#required": {}
          }
        },
        "threadSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional analytics source classification for this thread.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "turns": {
          "target": "com.openai.codex#ThreadTurnsList",
          "traits": {
            "smithy.api#documentation": "Only populated on `thread/resume`, `thread/fork`, and `thread/read` (when `includeTurns` is true) responses. For all other responses and notifications returning a Thread, the turns field will be an empty list.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp (in seconds) when the thread was last updated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#GitInfo": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "originUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "sha": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadHistoryMode": {
      "type": "enum",
      "members": {
        "LEGACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legacy"
          }
        },
        "PAGINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paginated"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadSection": {
      "type": "structure",
      "members": {
        "appearance": {
          "target": "com.openai.codex#ThreadSectionAppearance",
          "traits": {
            "smithy.api#documentation": "Optional appearance synchronized across clients.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque UUIDv7 identity that remains stable when the section is renamed.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current user-visible section name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An independently persisted, user-visible thread section."
      }
    },
    "com.openai.codex#ThreadSectionAppearance": {
      "type": "structure",
      "members": {
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Extensible visual presentation for a custom thread section."
      }
    },
    "com.openai.codex#SessionSource": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.openai.codex#SessionSourceCase0"
        },
        "CustomSessionSource": {
          "target": "com.openai.codex#SessionSourceCustomSessionSource"
        },
        "SubAgentSessionSource": {
          "target": "com.openai.codex#SessionSourceSubAgentSessionSource"
        }
      },
      "traits": {}
    },
    "com.openai.codex#SessionSourceCase0": {
      "type": "enum",
      "members": {
        "CLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cli"
          }
        },
        "VSCODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vscode"
          }
        },
        "EXEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exec"
          }
        },
        "APPSERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "appServer"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#SessionSourceCustomSessionSource": {
      "type": "structure",
      "members": {
        "custom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#SubAgentSource": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.openai.codex#SubAgentSourceCase0"
        },
        "ThreadSpawnSubAgentSource": {
          "target": "com.openai.codex#SubAgentSourceThreadSpawnSubAgentSource"
        },
        "OtherSubAgentSource": {
          "target": "com.openai.codex#SubAgentSourceOtherSubAgentSource"
        }
      },
      "traits": {}
    },
    "com.openai.codex#SubAgentSourceCase0": {
      "type": "enum",
      "members": {
        "REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "review"
          }
        },
        "COMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "compact"
          }
        },
        "MEMORY_CONSOLIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "memory_consolidation"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#SubAgentSourceThreadSpawnSubAgentSourceThreadSpawn": {
      "type": "structure",
      "members": {
        "agent_nickname": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "agent_path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "agent_role": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "depth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent_thread_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#SubAgentSourceThreadSpawnSubAgentSource": {
      "type": "structure",
      "members": {
        "thread_spawn": {
          "target": "com.openai.codex#SubAgentSourceThreadSpawnSubAgentSourceThreadSpawn",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#SubAgentSourceOtherSubAgentSource": {
      "type": "structure",
      "members": {
        "other": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#SessionSourceSubAgentSessionSource": {
      "type": "structure",
      "members": {
        "subAgent": {
          "target": "com.openai.codex#SubAgentSource",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadStatus": {
      "type": "union",
      "members": {
        "NotLoadedThreadStatus": {
          "target": "com.openai.codex#ThreadStatusNotLoadedThreadStatus"
        },
        "IdleThreadStatus": {
          "target": "com.openai.codex#ThreadStatusIdleThreadStatus"
        },
        "SystemErrorThreadStatus": {
          "target": "com.openai.codex#ThreadStatusSystemErrorThreadStatus"
        },
        "ActiveThreadStatus": {
          "target": "com.openai.codex#ThreadStatusActiveThreadStatus"
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadStatusNotLoadedThreadStatusType": {
      "type": "enum",
      "members": {
        "NOTLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notLoaded"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadStatusNotLoadedThreadStatus": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.codex#ThreadStatusNotLoadedThreadStatusType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadStatusIdleThreadStatusType": {
      "type": "enum",
      "members": {
        "IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "idle"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadStatusIdleThreadStatus": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.codex#ThreadStatusIdleThreadStatusType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadStatusSystemErrorThreadStatusType": {
      "type": "enum",
      "members": {
        "SYSTEMERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "systemError"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadStatusSystemErrorThreadStatus": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.codex#ThreadStatusSystemErrorThreadStatusType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadActiveFlag": {
      "type": "enum",
      "members": {
        "WAITINGONAPPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waitingOnApproval"
          }
        },
        "WAITINGONUSERINPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waitingOnUserInput"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadStatusActiveThreadStatusActiveFlagsList": {
      "type": "list",
      "member": {
        "target": "com.openai.codex#ThreadActiveFlag"
      },
      "traits": {}
    },
    "com.openai.codex#ThreadStatusActiveThreadStatusType": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadStatusActiveThreadStatus": {
      "type": "structure",
      "members": {
        "activeFlags": {
          "target": "com.openai.codex#ThreadStatusActiveThreadStatusActiveFlagsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.codex#ThreadStatusActiveThreadStatusType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#Turn": {
      "type": "structure",
      "members": {
        "completedAt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp (in seconds) when the turn completed.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "durationMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Duration between turn start and completion in milliseconds, if known.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "error": {
          "target": "com.openai.codex#TurnError",
          "traits": {
            "smithy.api#documentation": "Error associated with a failed or interrupted turn.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for this turn. Codex-generated turn IDs are UUIDv7.",
            "smithy.api#required": {}
          }
        },
        "items": {
          "target": "com.openai.codex#TurnItemsList",
          "traits": {
            "smithy.api#documentation": "Thread items currently included in this turn payload.",
            "smithy.api#required": {}
          }
        },
        "itemsView": {
          "target": "com.openai.codex#TurnItemsView",
          "traits": {
            "smithy.api#documentation": "Describes how much of `items` has been loaded for this turn."
          }
        },
        "startedAt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp (in seconds) when the turn started.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.openai.codex#TurnStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#TurnError": {
      "type": "structure",
      "members": {
        "additionalDetails": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "codexErrorInfo": {
          "target": "com.openai.codex#CodexErrorInfo",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "misalignment": {
          "target": "com.openai.codex#MisalignmentErrorDetails",
          "traits": {
            "smithy.api#documentation": "Optional public explanation and continuation instruction for a misalignment block.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#CodexErrorInfo": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.openai.codex#CodexErrorInfoCase0"
        },
        "HttpConnectionFailedCodexErrorInfo": {
          "target": "com.openai.codex#CodexErrorInfoHttpConnectionFailedCodexErrorInfo"
        },
        "ResponseStreamConnectionFailedCodexErrorInfo": {
          "target": "com.openai.codex#CodexErrorInfoResponseStreamConnectionFailedCodexErrorInfo"
        },
        "ResponseStreamDisconnectedCodexErrorInfo": {
          "target": "com.openai.codex#CodexErrorInfoResponseStreamDisconnectedCodexErrorInfo"
        },
        "ResponseTooManyFailedAttemptsCodexErrorInfo": {
          "target": "com.openai.codex#CodexErrorInfoResponseTooManyFailedAttemptsCodexErrorInfo"
        },
        "ActiveTurnNotSteerableCodexErrorInfo": {
          "target": "com.openai.codex#CodexErrorInfoActiveTurnNotSteerableCodexErrorInfo"
        },
        "Case6": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#documentation": "This translation layer make sure that we expose codex error code in camel case.\n\nWhen an upstream HTTP status is available (for example, from the Responses API or a provider), it is forwarded in `httpStatusCode` on the relevant `codexErrorInfo` variant."
      }
    },
    "com.openai.codex#CodexErrorInfoCase0": {
      "type": "enum",
      "members": {
        "CONTEXTWINDOWEXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contextWindowExceeded"
          }
        },
        "SESSIONBUDGETEXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sessionBudgetExceeded"
          }
        },
        "USAGELIMITEXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usageLimitExceeded"
          }
        },
        "RATELIMITEXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rateLimitExceeded"
          }
        },
        "FLEXUNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flexUnavailable"
          }
        },
        "SERVEROVERLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "serverOverloaded"
          }
        },
        "CYBERPOLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cyberPolicy"
          }
        },
        "MISALIGNMENTPOLICYVIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "misalignmentPolicyViolation"
          }
        },
        "TOOMANYDENIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tooManyDenials"
          }
        },
        "INTERNALSERVERERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internalServerError"
          }
        },
        "UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthorized"
          }
        },
        "BADREQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "badRequest"
          }
        },
        "THREADROLLBACKFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "threadRollbackFailed"
          }
        },
        "SANDBOXERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sandboxError"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#CodexErrorInfoHttpConnectionFailedCodexErrorInfoHttpConnectionFailed": {
      "type": "structure",
      "members": {
        "httpStatusCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#CodexErrorInfoHttpConnectionFailedCodexErrorInfo": {
      "type": "structure",
      "members": {
        "httpConnectionFailed": {
          "target": "com.openai.codex#CodexErrorInfoHttpConnectionFailedCodexErrorInfoHttpConnectionFailed",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#CodexErrorInfoResponseStreamConnectionFailedCodexErrorInfoResponseStreamConnectionFailed": {
      "type": "structure",
      "members": {
        "httpStatusCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#CodexErrorInfoResponseStreamConnectionFailedCodexErrorInfo": {
      "type": "structure",
      "members": {
        "responseStreamConnectionFailed": {
          "target": "com.openai.codex#CodexErrorInfoResponseStreamConnectionFailedCodexErrorInfoResponseStreamConnectionFailed",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Failed to connect to the response SSE stream."
      }
    },
    "com.openai.codex#CodexErrorInfoResponseStreamDisconnectedCodexErrorInfoResponseStreamDisconnected": {
      "type": "structure",
      "members": {
        "httpStatusCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#CodexErrorInfoResponseStreamDisconnectedCodexErrorInfo": {
      "type": "structure",
      "members": {
        "responseStreamDisconnected": {
          "target": "com.openai.codex#CodexErrorInfoResponseStreamDisconnectedCodexErrorInfoResponseStreamDisconnected",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response SSE stream disconnected in the middle of a turn before completion."
      }
    },
    "com.openai.codex#CodexErrorInfoResponseTooManyFailedAttemptsCodexErrorInfoResponseTooManyFailedAttempts": {
      "type": "structure",
      "members": {
        "httpStatusCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#CodexErrorInfoResponseTooManyFailedAttemptsCodexErrorInfo": {
      "type": "structure",
      "members": {
        "responseTooManyFailedAttempts": {
          "target": "com.openai.codex#CodexErrorInfoResponseTooManyFailedAttemptsCodexErrorInfoResponseTooManyFailedAttempts",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reached the retry limit for responses."
      }
    },
    "com.openai.codex#NonSteerableTurnKind": {
      "type": "enum",
      "members": {
        "REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "review"
          }
        },
        "COMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "compact"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#CodexErrorInfoActiveTurnNotSteerableCodexErrorInfoActiveTurnNotSteerable": {
      "type": "structure",
      "members": {
        "turnKind": {
          "target": "com.openai.codex#NonSteerableTurnKind",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#CodexErrorInfoActiveTurnNotSteerableCodexErrorInfo": {
      "type": "structure",
      "members": {
        "activeTurnNotSteerable": {
          "target": "com.openai.codex#CodexErrorInfoActiveTurnNotSteerableCodexErrorInfoActiveTurnNotSteerable",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returned when `turn/start` or `turn/steer` is submitted while the current active turn cannot accept same-turn steering, for example `/review` or manual `/compact`."
      }
    },
    "com.openai.codex#MisalignmentErrorDetails": {
      "type": "structure",
      "members": {
        "detailedExplanation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A substantive localized explanation is required before offering continuation.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "errorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Open-ended classification; clients must accept categories added by Responses.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "reviewTarget": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque server-issued block target. Presence alone does not enable target-based continuation.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "steer": {
          "target": "com.openai.codex#MisalignmentSteer",
          "traits": {
            "smithy.api#documentation": "Instruction to submit as the next turn's user input if continuation is confirmed.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#MisalignmentSteer": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItem": {
      "type": "union",
      "members": {
        "UserMessageThreadItem": {
          "target": "com.openai.codex#ThreadItemUserMessageThreadItem"
        },
        "HookPromptThreadItem": {
          "target": "com.openai.codex#ThreadItemHookPromptThreadItem"
        },
        "AgentMessageThreadItem": {
          "target": "com.openai.codex#ThreadItemAgentMessageThreadItem"
        },
        "FunctionCallOutputThreadItem": {
          "target": "com.openai.codex#ThreadItemFunctionCallOutputThreadItem"
        },
        "PlanThreadItem": {
          "target": "com.openai.codex#ThreadItemPlanThreadItem"
        },
        "ReasoningThreadItem": {
          "target": "com.openai.codex#ThreadItemReasoningThreadItem"
        },
        "CommandExecutionThreadItem": {
          "target": "com.openai.codex#ThreadItemCommandExecutionThreadItem"
        },
        "FileChangeThreadItem": {
          "target": "com.openai.codex#ThreadItemFileChangeThreadItem"
        },
        "McpToolCallThreadItem": {
          "target": "com.openai.codex#ThreadItemMcpToolCallThreadItem"
        },
        "DynamicToolCallThreadItem": {
          "target": "com.openai.codex#ThreadItemDynamicToolCallThreadItem"
        },
        "CollabAgentToolCallThreadItem": {
          "target": "com.openai.codex#ThreadItemCollabAgentToolCallThreadItem"
        },
        "SubAgentActivityThreadItem": {
          "target": "com.openai.codex#ThreadItemSubAgentActivityThreadItem"
        },
        "WebSearchThreadItem": {
          "target": "com.openai.codex#ThreadItemWebSearchThreadItem"
        },
        "ImageViewThreadItem": {
          "target": "com.openai.codex#ThreadItemImageViewThreadItem"
        },
        "SleepThreadItem": {
          "target": "com.openai.codex#ThreadItemSleepThreadItem"
        },
        "ImageGenerationThreadItem": {
          "target": "com.openai.codex#ThreadItemImageGenerationThreadItem"
        },
        "EnteredReviewModeThreadItem": {
          "target": "com.openai.codex#ThreadItemEnteredReviewModeThreadItem"
        },
        "ExitedReviewModeThreadItem": {
          "target": "com.openai.codex#ThreadItemExitedReviewModeThreadItem"
        },
        "ContextCompactionThreadItem": {
          "target": "com.openai.codex#ThreadItemContextCompactionThreadItem"
        }
      },
      "traits": {}
    },
    "com.openai.codex#UserInput": {
      "type": "union",
      "members": {
        "TextUserInput": {
          "target": "com.openai.codex#UserInputTextUserInput"
        },
        "ImageUserInput": {
          "target": "com.openai.codex#UserInputImageUserInput"
        },
        "LocalImageUserInput": {
          "target": "com.openai.codex#UserInputLocalImageUserInput"
        },
        "AudioUserInput": {
          "target": "com.openai.codex#UserInputAudioUserInput"
        },
        "LocalAudioUserInput": {
          "target": "com.openai.codex#UserInputLocalAudioUserInput"
        },
        "SkillUserInput": {
          "target": "com.openai.codex#UserInputSkillUserInput"
        },
        "MentionUserInput": {
          "target": "com.openai.codex#UserInputMentionUserInput"
        }
      },
      "traits": {}
    },
    "com.openai.codex#TextElement": {
      "type": "structure",
      "members": {
        "byteRange": {
          "target": "com.openai.codex#ByteRange",
          "traits": {
            "smithy.api#documentation": "Byte range in the parent `text` buffer that this element occupies.",
            "smithy.api#required": {}
          }
        },
        "placeholder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional human-readable placeholder for the element, displayed in the UI.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ByteRange": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#UserInputTextUserInputTextElementsList": {
      "type": "list",
      "member": {
        "target": "com.openai.codex#TextElement"
      },
      "traits": {
        "smithy.api#documentation": "UI-defined spans within `text` used to render or persist special elements."
      }
    },
    "com.openai.codex#UserInputTextUserInputType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#UserInputTextUserInput": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text_elements": {
          "target": "com.openai.codex#UserInputTextUserInputTextElementsList",
          "traits": {
            "smithy.api#documentation": "UI-defined spans within `text` used to render or persist special elements."
          }
        },
        "type": {
          "target": "com.openai.codex#UserInputTextUserInputType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ImageDetail": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "ORIGINAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "original"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#UserInputImageUserInputUrlUserInputType": {
      "type": "enum",
      "members": {
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#UserInputImageUserInputUrlUserInput": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "com.openai.codex#ImageDetail",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.openai.codex#UserInputImageUserInputUrlUserInputType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#UserInputImageUserInputFileIdUserInputType": {
      "type": "enum",
      "members": {
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#UserInputImageUserInputFileIdUserInput": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "com.openai.codex#ImageDetail",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.openai.codex#UserInputImageUserInputFileIdUserInputType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#UserInputImageUserInput": {
      "type": "union",
      "members": {
        "UrlUserInput": {
          "target": "com.openai.codex#UserInputImageUserInputUrlUserInput"
        },
        "FileIdUserInput": {
          "target": "com.openai.codex#UserInputImageUserInputFileIdUserInput"
        }
      },
      "traits": {}
    },
    "com.openai.codex#UserInputLocalImageUserInputType": {
      "type": "enum",
      "members": {
        "LOCALIMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "localImage"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#UserInputLocalImageUserInput": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "com.openai.codex#ImageDetail",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.codex#UserInputLocalImageUserInputType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#UserInputAudioUserInputType": {
      "type": "enum",
      "members": {
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audio"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#UserInputAudioUserInput": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.codex#UserInputAudioUserInputType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#UserInputLocalAudioUserInputType": {
      "type": "enum",
      "members": {
        "LOCALAUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "localAudio"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#UserInputLocalAudioUserInput": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.codex#UserInputLocalAudioUserInputType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#UserInputSkillUserInputType": {
      "type": "enum",
      "members": {
        "SKILL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skill"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#UserInputSkillUserInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.codex#UserInputSkillUserInputType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#UserInputMentionUserInputType": {
      "type": "enum",
      "members": {
        "MENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mention"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#UserInputMentionUserInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.codex#UserInputMentionUserInputType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemUserMessageThreadItemContentList": {
      "type": "list",
      "member": {
        "target": "com.openai.codex#UserInput"
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemUserMessageThreadItemType": {
      "type": "enum",
      "members": {
        "USERMESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "userMessage"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemUserMessageThreadItem": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "com.openai.codex#ThreadItemUserMessageThreadItemContentList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.codex#ThreadItemUserMessageThreadItemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#HookPromptFragment": {
      "type": "structure",
      "members": {
        "hookRunId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemHookPromptThreadItemFragmentsList": {
      "type": "list",
      "member": {
        "target": "com.openai.codex#HookPromptFragment"
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemHookPromptThreadItemType": {
      "type": "enum",
      "members": {
        "HOOKPROMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hookPrompt"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemHookPromptThreadItem": {
      "type": "structure",
      "members": {
        "fragments": {
          "target": "com.openai.codex#ThreadItemHookPromptThreadItemFragmentsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.codex#ThreadItemHookPromptThreadItemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#AgentMessageDelivery": {
      "type": "enum",
      "members": {
        "ASYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "async"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#MemoryCitation": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.openai.codex#MemoryCitationEntriesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "threadIds": {
          "target": "com.openai.codex#MemoryCitationThreadIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#MemoryCitationEntry": {
      "type": "structure",
      "members": {
        "lineEnd": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lineStart": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#MemoryCitationEntriesList": {
      "type": "list",
      "member": {
        "target": "com.openai.codex#MemoryCitationEntry"
      },
      "traits": {}
    },
    "com.openai.codex#MemoryCitationThreadIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.openai.codex#MessagePhase": {
      "type": "enum",
      "members": {
        "COMMENTARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "commentary"
          }
        },
        "PARTIAL_ANSWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partial_answer"
          }
        },
        "FINAL_ANSWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "final_answer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Classifies assistant text as commentary, a partial answer, or a terminal answer.\n\nProviders do not emit this consistently, so callers must treat `None` as \"phase unknown\" and keep compatibility behavior for legacy models."
      }
    },
    "com.openai.codex#AsyncUserInputQuestion": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.openai.codex#AsyncUserInputQuestionOptionsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#AsyncUserInputQuestionOptionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemAgentMessageThreadItemQuestionsList": {
      "type": "list",
      "member": {
        "target": "com.openai.codex#AsyncUserInputQuestion"
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemAgentMessageThreadItemType": {
      "type": "enum",
      "members": {
        "AGENTMESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agentMessage"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemAgentMessageThreadItem": {
      "type": "structure",
      "members": {
        "delivery": {
          "target": "com.openai.codex#AgentMessageDelivery",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "memoryCitation": {
          "target": "com.openai.codex#MemoryCitation",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "phase": {
          "target": "com.openai.codex#MessagePhase",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "questions": {
          "target": "com.openai.codex#ThreadItemAgentMessageThreadItemQuestionsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.codex#ThreadItemAgentMessageThreadItemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#FunctionCallOutputBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.openai.codex#FunctionCallOutputBodyCase1List"
        }
      },
      "traits": {}
    },
    "com.openai.codex#FunctionCallOutputContentItem": {
      "type": "union",
      "members": {
        "InputTextFunctionCallOutputContentItem": {
          "target": "com.openai.codex#FunctionCallOutputContentItemInputTextFunctionCallOutputContentItem"
        },
        "InputImageFunctionCallOutputContentItem": {
          "target": "com.openai.codex#FunctionCallOutputContentItemInputImageFunctionCallOutputContentItem"
        },
        "InputAudioFunctionCallOutputContentItem": {
          "target": "com.openai.codex#FunctionCallOutputContentItemInputAudioFunctionCallOutputContentItem"
        },
        "EncryptedContentFunctionCallOutputContentItem": {
          "target": "com.openai.codex#FunctionCallOutputContentItemEncryptedContentFunctionCallOutputContentItem"
        }
      },
      "traits": {
        "smithy.api#documentation": "Responses API compatible content items that can be returned by a tool call. This is a subset of ContentItem with the types we support as function call outputs."
      }
    },
    "com.openai.codex#FunctionCallOutputContentItemInputTextFunctionCallOutputContentItemType": {
      "type": "enum",
      "members": {
        "INPUT_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_text"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#FunctionCallOutputContentItemInputTextFunctionCallOutputContentItem": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.codex#FunctionCallOutputContentItemInputTextFunctionCallOutputContentItemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#FunctionCallOutputContentItemInputImageFunctionCallOutputContentItemImageUrlFunctionCallOutputContentItemType": {
      "type": "enum",
      "members": {
        "INPUT_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_image"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#FunctionCallOutputContentItemInputImageFunctionCallOutputContentItemImageUrlFunctionCallOutputContentItem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "com.openai.codex#ImageDetail",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.openai.codex#FunctionCallOutputContentItemInputImageFunctionCallOutputContentItemImageUrlFunctionCallOutputContentItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#FunctionCallOutputContentItemInputImageFunctionCallOutputContentItemFileIdFunctionCallOutputContentItemType": {
      "type": "enum",
      "members": {
        "INPUT_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_image"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#FunctionCallOutputContentItemInputImageFunctionCallOutputContentItemFileIdFunctionCallOutputContentItem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "com.openai.codex#ImageDetail",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.openai.codex#FunctionCallOutputContentItemInputImageFunctionCallOutputContentItemFileIdFunctionCallOutputContentItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#FunctionCallOutputContentItemInputImageFunctionCallOutputContentItem": {
      "type": "union",
      "members": {
        "ImageUrlFunctionCallOutputContentItem": {
          "target": "com.openai.codex#FunctionCallOutputContentItemInputImageFunctionCallOutputContentItemImageUrlFunctionCallOutputContentItem"
        },
        "FileIdFunctionCallOutputContentItem": {
          "target": "com.openai.codex#FunctionCallOutputContentItemInputImageFunctionCallOutputContentItemFileIdFunctionCallOutputContentItem"
        }
      },
      "traits": {}
    },
    "com.openai.codex#FunctionCallOutputContentItemInputAudioFunctionCallOutputContentItemType": {
      "type": "enum",
      "members": {
        "INPUT_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_audio"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#FunctionCallOutputContentItemInputAudioFunctionCallOutputContentItem": {
      "type": "structure",
      "members": {
        "audio_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.codex#FunctionCallOutputContentItemInputAudioFunctionCallOutputContentItemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#FunctionCallOutputContentItemEncryptedContentFunctionCallOutputContentItemType": {
      "type": "enum",
      "members": {
        "ENCRYPTED_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encrypted_content"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#FunctionCallOutputContentItemEncryptedContentFunctionCallOutputContentItem": {
      "type": "structure",
      "members": {
        "encrypted_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.codex#FunctionCallOutputContentItemEncryptedContentFunctionCallOutputContentItemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#FunctionCallOutputBodyCase1List": {
      "type": "list",
      "member": {
        "target": "com.openai.codex#FunctionCallOutputContentItem"
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemFunctionCallOutputThreadItemType": {
      "type": "enum",
      "members": {
        "FUNCTIONCALLOUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "functionCallOutput"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemFunctionCallOutputThreadItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "output": {
          "target": "com.openai.codex#FunctionCallOutputBody",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.codex#ThreadItemFunctionCallOutputThreadItemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemPlanThreadItemType": {
      "type": "enum",
      "members": {
        "PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plan"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemPlanThreadItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.codex#ThreadItemPlanThreadItemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EXPERIMENTAL - proposed plan item content. The completed plan item is authoritative and may not match the concatenation of `PlanDelta` text."
      }
    },
    "com.openai.codex#ThreadItemReasoningThreadItemContentList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemReasoningThreadItemSummaryList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemReasoningThreadItemType": {
      "type": "enum",
      "members": {
        "REASONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reasoning"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemReasoningThreadItem": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.openai.codex#ThreadItemReasoningThreadItemContentList"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "com.openai.codex#ThreadItemReasoningThreadItemSummaryList"
        },
        "type": {
          "target": "com.openai.codex#ThreadItemReasoningThreadItemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#CommandAction": {
      "type": "union",
      "members": {
        "ReadCommandAction": {
          "target": "com.openai.codex#CommandActionReadCommandAction"
        },
        "ListFilesCommandAction": {
          "target": "com.openai.codex#CommandActionListFilesCommandAction"
        },
        "SearchCommandAction": {
          "target": "com.openai.codex#CommandActionSearchCommandAction"
        },
        "UnknownCommandAction": {
          "target": "com.openai.codex#CommandActionUnknownCommandAction"
        }
      },
      "traits": {}
    },
    "com.openai.codex#CommandActionReadCommandActionType": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#CommandActionReadCommandAction": {
      "type": "structure",
      "members": {
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.codex#CommandActionReadCommandActionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#CommandActionListFilesCommandActionType": {
      "type": "enum",
      "members": {
        "LISTFILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "listFiles"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#CommandActionListFilesCommandAction": {
      "type": "structure",
      "members": {
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.openai.codex#CommandActionListFilesCommandActionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#CommandActionSearchCommandActionType": {
      "type": "enum",
      "members": {
        "SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "search"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#CommandActionSearchCommandAction": {
      "type": "structure",
      "members": {
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.openai.codex#CommandActionSearchCommandActionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#CommandActionUnknownCommandActionType": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#CommandActionUnknownCommandAction": {
      "type": "structure",
      "members": {
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.codex#CommandActionUnknownCommandActionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemCommandExecutionThreadItemCommandActionsList": {
      "type": "list",
      "member": {
        "target": "com.openai.codex#CommandAction"
      },
      "traits": {
        "smithy.api#documentation": "A best-effort parsing of the command to understand the action(s) it will perform. This returns a list of CommandAction objects because a single shell command may be composed of many commands piped together."
      }
    },
    "com.openai.codex#CommandExecutionSource": {
      "type": "enum",
      "members": {
        "AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent"
          }
        },
        "USERSHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "userShell"
          }
        },
        "UNIFIEDEXECSTARTUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unifiedExecStartup"
          }
        },
        "UNIFIEDEXECINTERACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unifiedExecInteraction"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#CommandExecutionStatus": {
      "type": "enum",
      "members": {
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inProgress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "declined"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemCommandExecutionThreadItemType": {
      "type": "enum",
      "members": {
        "COMMANDEXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "commandExecution"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemCommandExecutionThreadItem": {
      "type": "structure",
      "members": {
        "aggregatedOutput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The command's output, aggregated from stdout and stderr.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The command to be executed.",
            "smithy.api#required": {}
          }
        },
        "commandActions": {
          "target": "com.openai.codex#ThreadItemCommandExecutionThreadItemCommandActionsList",
          "traits": {
            "smithy.api#documentation": "A best-effort parsing of the command to understand the action(s) it will perform. This returns a list of CommandAction objects because a single shell command may be composed of many commands piped together.",
            "smithy.api#required": {}
          }
        },
        "cwd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The command's working directory.",
            "smithy.api#required": {}
          }
        },
        "durationMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The duration of the command execution in milliseconds.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "exitCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The command's exit code.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pluginId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trusted first-party plugin id when this command resolves to one plugin script.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "processId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the underlying PTY process (when available).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scriptPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Safe plugin-relative path when this command resolves to one plugin script.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source": {
          "target": "com.openai.codex#CommandExecutionSource"
        },
        "status": {
          "target": "com.openai.codex#CommandExecutionStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.codex#ThreadItemCommandExecutionThreadItemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#FileUpdateChange": {
      "type": "structure",
      "members": {
        "diff": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.openai.codex#PatchChangeKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#PatchChangeKind": {
      "type": "union",
      "members": {
        "AddPatchChangeKind": {
          "target": "com.openai.codex#PatchChangeKindAddPatchChangeKind"
        },
        "DeletePatchChangeKind": {
          "target": "com.openai.codex#PatchChangeKindDeletePatchChangeKind"
        },
        "UpdatePatchChangeKind": {
          "target": "com.openai.codex#PatchChangeKindUpdatePatchChangeKind"
        }
      },
      "traits": {}
    },
    "com.openai.codex#PatchChangeKindAddPatchChangeKindType": {
      "type": "enum",
      "members": {
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "add"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#PatchChangeKindAddPatchChangeKind": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.codex#PatchChangeKindAddPatchChangeKindType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#PatchChangeKindDeletePatchChangeKindType": {
      "type": "enum",
      "members": {
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#PatchChangeKindDeletePatchChangeKind": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.openai.codex#PatchChangeKindDeletePatchChangeKindType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#PatchChangeKindUpdatePatchChangeKindType": {
      "type": "enum",
      "members": {
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#PatchChangeKindUpdatePatchChangeKind": {
      "type": "structure",
      "members": {
        "move_path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.openai.codex#PatchChangeKindUpdatePatchChangeKindType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemFileChangeThreadItemChangesList": {
      "type": "list",
      "member": {
        "target": "com.openai.codex#FileUpdateChange"
      },
      "traits": {}
    },
    "com.openai.codex#PatchApplyStatus": {
      "type": "enum",
      "members": {
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inProgress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "declined"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemFileChangeThreadItemType": {
      "type": "enum",
      "members": {
        "FILECHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fileChange"
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#ThreadItemFileChangeThreadItem": {
      "type": "structure",
      "members": {
        "changes": {
          "target": "com.openai.codex#ThreadItemFileChangeThreadItemChangesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.openai.codex#PatchApplyStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.openai.codex#ThreadItemFileChangeThreadItemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#McpToolCallAppContext": {
      "type": "structure",
      "members": {
        "actionName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "appName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "connectorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "linkId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.openai.codex#McpToolCallError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
[...]
