{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.customerio.api#TriggerBroadcastRequestBodyCase0DataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Contains information you want to use to populate your broadcast."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase0": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase0DataMap",
          "traits": {
            "smithy.api#documentation": "Contains information you want to use to populate your broadcast."
          }
        },
        "email_add_duplicates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "an email address associated with more than one profile id is an error."
          }
        },
        "email_ignore_missing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If false, a missing email causes the broadcast to error and fail. If true, the broadcast will skip over any people in your audience who don't have emails, and continue sending to the rest of your audience."
          }
        },
        "expires_after": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds after the send starts that the broadcast should stop sending. Omit or set to `0` if you don't want the broadcast to expire. If the broadcast expires before it finishes sending, Customer.io discards the messages that haven't gone out yet instead of delivering them late. The window runs from `scheduled_at` when you schedule the send, and from the time we receive this request when you don't.\n"
          }
        },
        "id_ignore_missing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If false, a missing customer ID causes the broadcast to error and fail. If true, the broadcast will skip over any people in your audience who don't have IDs, and continue sending to the rest of your audience."
          }
        },
        "scheduled_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp (in seconds) when the broadcast will send. Omit it or set it to `0` to send right away. We reject a timestamp more than 5 minutes in the past. Scheduling also changes when we work out your audience: `ids`, `emails`, `per_user_data`, and `data_file_url` set a fixed audience when you make this request, while a `recipients` filter runs when the send fires.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Send your broadcast to the default set of recipients defined in the UI."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemAttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemAttribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemAttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase0AndItemCase0Segment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase0AndItemCase0": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase0AndItemCase0Segment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter for people who belong to a segment."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase0AndItemCase1AttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase0AndItemCase1Attribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase0AndItemCase1AttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase0AndItemCase1": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase0AndItemCase1Attribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "filter for people who have an attribute or an attribute value."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase0AndItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase0AndItemCase0"
        },
        "Case1": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase0AndItemCase1"
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase0AndList": {
      "type": "list",
      "member": {
        "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase0AndItem"
      },
      "traits": {
        "smithy.api#documentation": "Match *all* conditions to return results."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase0": {
      "type": "structure",
      "members": {
        "and": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase0AndList",
          "traits": {
            "smithy.api#documentation": "Match *all* conditions to return results."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase1OrItemCase0Segment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase1OrItemCase0": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase1OrItemCase0Segment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter for people who belong to a segment."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase1OrItemCase1AttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase1OrItemCase1Attribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase1OrItemCase1AttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase1OrItemCase1": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase1OrItemCase1Attribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "filter for people who have an attribute or an attribute value."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase1OrItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase1OrItemCase0"
        },
        "Case1": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase1OrItemCase1"
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase1OrList": {
      "type": "list",
      "member": {
        "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase1OrItem"
      },
      "traits": {
        "smithy.api#documentation": "Match *any* condition to return results."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase1": {
      "type": "structure",
      "members": {
        "or": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase1OrList",
          "traits": {
            "smithy.api#documentation": "Match *any* condition to return results."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase2Segment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase2": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase2Segment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase3AttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase3Attribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase3AttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase3": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase3Attribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNot": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase0"
        },
        "Case1": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase1"
        },
        "Case2": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase2"
        },
        "Case3": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNotCase3"
        }
      },
      "traits": {
        "smithy.api#documentation": "Returns results if a condition is false. While and/or support an array of items, `not` supports a single filter object."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemOrItemCase0Segment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemOrItemCase0": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemOrItemCase0Segment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter for people who belong to a segment."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemOrItemCase1AttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemOrItemCase1Attribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemOrItemCase1AttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemOrItemCase1": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemOrItemCase1Attribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "filter for people who have an attribute or an attribute value."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemOrItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemOrItemCase0"
        },
        "Case1": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemOrItemCase1"
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemOrList": {
      "type": "list",
      "member": {
        "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemOrItem"
      },
      "traits": {
        "smithy.api#documentation": "Returns results matching *any* conditions."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemSegment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItem": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemAttribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        },
        "not": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemNot",
          "traits": {
            "smithy.api#documentation": "Returns results if a condition is false. While and/or support an array of items, `not` supports a single filter object."
          }
        },
        "or": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemOrList",
          "traits": {
            "smithy.api#documentation": "Returns results matching *any* conditions."
          }
        },
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItemSegment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndList": {
      "type": "list",
      "member": {
        "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndItem"
      },
      "traits": {
        "smithy.api#documentation": "Match *all* conditions to return results."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0": {
      "type": "structure",
      "members": {
        "and": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase0AndList",
          "traits": {
            "smithy.api#documentation": "Match *all* conditions to return results."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemAndItemCase0Segment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemAndItemCase0": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemAndItemCase0Segment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter for people who belong to a segment."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemAndItemCase1AttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemAndItemCase1Attribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemAndItemCase1AttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemAndItemCase1": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemAndItemCase1Attribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "filter for people who have an attribute or an attribute value."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemAndItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemAndItemCase0"
        },
        "Case1": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemAndItemCase1"
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemAndList": {
      "type": "list",
      "member": {
        "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemAndItem"
      },
      "traits": {
        "smithy.api#documentation": "Returns results matching *all* conditions."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemAttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemAttribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemAttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase0AndItemCase0Segment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase0AndItemCase0": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase0AndItemCase0Segment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter for people who belong to a segment."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase0AndItemCase1AttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase0AndItemCase1Attribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase0AndItemCase1AttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase0AndItemCase1": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase0AndItemCase1Attribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "filter for people who have an attribute or an attribute value."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase0AndItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase0AndItemCase0"
        },
        "Case1": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase0AndItemCase1"
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase0AndList": {
      "type": "list",
      "member": {
        "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase0AndItem"
      },
      "traits": {
        "smithy.api#documentation": "Match *all* conditions to return results."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase0": {
      "type": "structure",
      "members": {
        "and": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase0AndList",
          "traits": {
            "smithy.api#documentation": "Match *all* conditions to return results."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase1OrItemCase0Segment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase1OrItemCase0": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase1OrItemCase0Segment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter for people who belong to a segment."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase1OrItemCase1AttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase1OrItemCase1Attribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase1OrItemCase1AttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase1OrItemCase1": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase1OrItemCase1Attribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "filter for people who have an attribute or an attribute value."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase1OrItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase1OrItemCase0"
        },
        "Case1": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase1OrItemCase1"
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase1OrList": {
      "type": "list",
      "member": {
        "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase1OrItem"
      },
      "traits": {
        "smithy.api#documentation": "Match *any* condition to return results."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase1": {
      "type": "structure",
      "members": {
        "or": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase1OrList",
          "traits": {
            "smithy.api#documentation": "Match *any* condition to return results."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase2Segment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase2": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase2Segment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase3AttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase3Attribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase3AttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase3": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase3Attribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNot": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase0"
        },
        "Case1": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase1"
        },
        "Case2": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase2"
        },
        "Case3": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNotCase3"
        }
      },
      "traits": {
        "smithy.api#documentation": "Returns results if a condition is false. While and/or support an array of items, `not` supports a single filter object."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemSegment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItem": {
      "type": "structure",
      "members": {
        "and": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemAndList",
          "traits": {
            "smithy.api#documentation": "Returns results matching *all* conditions."
          }
        },
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemAttribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        },
        "not": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemNot",
          "traits": {
            "smithy.api#documentation": "Returns results if a condition is false. While and/or support an array of items, `not` supports a single filter object."
          }
        },
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItemSegment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrList": {
      "type": "list",
      "member": {
        "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrItem"
      },
      "traits": {
        "smithy.api#documentation": "Match *any* condition to return results."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1": {
      "type": "structure",
      "members": {
        "or": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase1OrList",
          "traits": {
            "smithy.api#documentation": "Match *any* condition to return results."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemAndItemCase0Segment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemAndItemCase0": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemAndItemCase0Segment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter for people who belong to a segment."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemAndItemCase1AttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemAndItemCase1Attribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemAndItemCase1AttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemAndItemCase1": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemAndItemCase1Attribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "filter for people who have an attribute or an attribute value."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemAndItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemAndItemCase0"
        },
        "Case1": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemAndItemCase1"
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemAndList": {
      "type": "list",
      "member": {
        "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemAndItem"
      },
      "traits": {
        "smithy.api#documentation": "Returns results matching *all* conditions."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemAttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemAttribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemAttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase0AndItemCase0Segment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase0AndItemCase0": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase0AndItemCase0Segment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter for people who belong to a segment."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase0AndItemCase1AttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase0AndItemCase1Attribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase0AndItemCase1AttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase0AndItemCase1": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase0AndItemCase1Attribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "filter for people who have an attribute or an attribute value."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase0AndItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase0AndItemCase0"
        },
        "Case1": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase0AndItemCase1"
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase0AndList": {
      "type": "list",
      "member": {
        "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase0AndItem"
      },
      "traits": {
        "smithy.api#documentation": "Match *all* conditions to return results."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase0": {
      "type": "structure",
      "members": {
        "and": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase0AndList",
          "traits": {
            "smithy.api#documentation": "Match *all* conditions to return results."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase1OrItemCase0Segment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase1OrItemCase0": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase1OrItemCase0Segment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter for people who belong to a segment."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase1OrItemCase1AttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase1OrItemCase1Attribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase1OrItemCase1AttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase1OrItemCase1": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase1OrItemCase1Attribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "filter for people who have an attribute or an attribute value."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase1OrItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase1OrItemCase0"
        },
        "Case1": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase1OrItemCase1"
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase1OrList": {
      "type": "list",
      "member": {
        "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase1OrItem"
      },
      "traits": {
        "smithy.api#documentation": "Match *any* condition to return results."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase1": {
      "type": "structure",
      "members": {
        "or": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase1OrList",
          "traits": {
            "smithy.api#documentation": "Match *any* condition to return results."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase2Segment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase2": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase2Segment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase3AttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase3Attribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase3AttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase3": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase3Attribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNot": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase0"
        },
        "Case1": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase1"
        },
        "Case2": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase2"
        },
        "Case3": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNotCase3"
        }
      },
      "traits": {
        "smithy.api#documentation": "Returns results if a condition is false. While and/or support an array of items, `not` supports a single filter object."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemOrItemCase0Segment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemOrItemCase0": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemOrItemCase0Segment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter for people who belong to a segment."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemOrItemCase1AttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemOrItemCase1Attribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemOrItemCase1AttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemOrItemCase1": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemOrItemCase1Attribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "filter for people who have an attribute or an attribute value."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemOrItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemOrItemCase0"
        },
        "Case1": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemOrItemCase1"
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemOrList": {
      "type": "list",
      "member": {
        "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemOrItem"
      },
      "traits": {
        "smithy.api#documentation": "Returns results matching *any* conditions."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemSegment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItem": {
      "type": "structure",
      "members": {
        "and": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemAndList",
          "traits": {
            "smithy.api#documentation": "Returns results matching *all* conditions."
          }
        },
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemAttribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        },
        "not": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemNot",
          "traits": {
            "smithy.api#documentation": "Returns results if a condition is false. While and/or support an array of items, `not` supports a single filter object."
          }
        },
        "or": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemOrList",
          "traits": {
            "smithy.api#documentation": "Returns results matching *any* conditions."
          }
        },
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItemSegment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter people with `and`, `or`, and `not` groups made from `segment` and `attribute` conditions."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndList": {
      "type": "list",
      "member": {
        "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndItem"
      },
      "traits": {
        "smithy.api#documentation": "Match *all* conditions to return results."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0": {
      "type": "structure",
      "members": {
        "and": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case0AndList",
          "traits": {
            "smithy.api#documentation": "Match *all* conditions to return results."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemAndItemCase0Segment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemAndItemCase0": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemAndItemCase0Segment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter for people who belong to a segment."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemAndItemCase1AttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemAndItemCase1Attribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemAndItemCase1AttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemAndItemCase1": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemAndItemCase1Attribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "filter for people who have an attribute or an attribute value."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemAndItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemAndItemCase0"
        },
        "Case1": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemAndItemCase1"
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemAndList": {
      "type": "list",
      "member": {
        "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemAndItem"
      },
      "traits": {
        "smithy.api#documentation": "Returns results matching *all* conditions."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemAttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemAttribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemAttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase0AndItemCase0Segment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase0AndItemCase0": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase0AndItemCase0Segment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter for people who belong to a segment."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase0AndItemCase1AttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase0AndItemCase1Attribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase0AndItemCase1AttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase0AndItemCase1": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase0AndItemCase1Attribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "filter for people who have an attribute or an attribute value."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase0AndItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase0AndItemCase0"
        },
        "Case1": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase0AndItemCase1"
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase0AndList": {
      "type": "list",
      "member": {
        "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase0AndItem"
      },
      "traits": {
        "smithy.api#documentation": "Match *all* conditions to return results."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase0": {
      "type": "structure",
      "members": {
        "and": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase0AndList",
          "traits": {
            "smithy.api#documentation": "Match *all* conditions to return results."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase1OrItemCase0Segment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase1OrItemCase0": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase1OrItemCase0Segment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter for people who belong to a segment."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase1OrItemCase1AttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase1OrItemCase1Attribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase1OrItemCase1AttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase1OrItemCase1": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase1OrItemCase1Attribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "filter for people who have an attribute or an attribute value."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase1OrItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase1OrItemCase0"
        },
        "Case1": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase1OrItemCase1"
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase1OrList": {
      "type": "list",
      "member": {
        "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase1OrItem"
      },
      "traits": {
        "smithy.api#documentation": "Match *any* condition to return results."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase1": {
      "type": "structure",
      "members": {
        "or": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase1OrList",
          "traits": {
            "smithy.api#documentation": "Match *any* condition to return results."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase2Segment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase2": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase2Segment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase3AttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase3Attribute": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute you want to filter against.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase3AttributeOperator",
          "traits": {
            "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you want to match for this attribute. You must include a value if you use the `eq` operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter your audience by attribute."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase3": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase3Attribute",
          "traits": {
            "smithy.api#documentation": "Filter your audience by attribute."
          }
        }
      },
      "traits": {}
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNot": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase0"
        },
        "Case1": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase1"
        },
        "Case2": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase2"
        },
        "Case3": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemNotCase3"
        }
      },
      "traits": {
        "smithy.api#documentation": "Returns results if a condition is false. While and/or support an array of items, `not` supports a single filter object."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemOrItemCase0Segment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the segment you want to return people from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemOrItemCase0": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemOrItemCase0Segment",
          "traits": {
            "smithy.api#documentation": "Provide the `id` of a segment containing people you want to search for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter for people who belong to a segment."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemOrItemCase1AttributeOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify."
      }
    },
    "com.customerio.api#TriggerBroadcastRequestBodyCase1RecipientsCase2Case1OrItemOrItemCase1Attribute": {
      "type": "structure",
      "members": {
        "field": {
[...]
