{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.workos.api#PaginationOrder": {
      "type": "enum",
      "members": {
        "NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "normal"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        },
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#ListAgentBlueprintsControllerRequest": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list. For example, if you make a list request and receive 100 objects, ending with `\"obj_123\"`, your subsequent call can include `before=\"obj_123\"` to fetch a new batch of objects before `\"obj_123\"`."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list. For example, if you make a list request and receive 100 objects, ending with `\"obj_123\"`, your subsequent call can include `after=\"obj_123\"` to fetch a new batch of objects after `\"obj_123\"`."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Upper limit on the number of objects to return, between `1` and `100`."
          }
        },
        "order": {
          "target": "com.workos.api#PaginationOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Order the results by the creation time. Supported values are `\"asc\"` (ascending), `\"desc\"` (descending), and `\"normal\"` (descending with reversed cursor semantics where `before` fetches older records and `after` fetches newer records). Defaults to `normal`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#ListAgentBlueprintsControllerResponseListMetadata": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the start of the list.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pagination cursors for navigating between pages of results."
      }
    },
    "com.workos.api#AgentBlueprint": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguishes the agent blueprint object.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the agent blueprint.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the agent blueprint.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of the agent blueprint.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "permissions": {
          "target": "com.workos.api#AgentBlueprintPermissionsList",
          "traits": {
            "smithy.api#documentation": "Permission slugs forming the ceiling on what sessions minted from this blueprint may do.",
            "smithy.api#required": {}
          }
        },
        "invocable_by": {
          "target": "com.workos.api#AgentBlueprintInvocableBy",
          "traits": {
            "smithy.api#documentation": "Who may mint sessions from this blueprint.",
            "smithy.api#required": {}
          }
        },
        "invocable_as": {
          "target": "com.workos.api#AgentBlueprintInvocableAs",
          "traits": {
            "smithy.api#documentation": "How sessions may be minted from this blueprint.",
            "smithy.api#required": {}
          }
        },
        "session_settings": {
          "target": "com.workos.api#AgentBlueprintSessionSettings",
          "traits": {
            "smithy.api#documentation": "Token and session lifetimes for sessions minted from this blueprint.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the agent blueprint was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the agent blueprint was last updated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AgentBlueprintPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Permission slugs forming the ceiling on what sessions minted from this blueprint may do."
      }
    },
    "com.workos.api#AgentBlueprintInvocableByRoleSlugsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Role slugs whose members may mint user-delegated sessions from this blueprint."
      }
    },
    "com.workos.api#AgentBlueprintInvocableByOrganizationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Organizations in which sessions may be minted from this blueprint, enforced on user-delegated, autonomous, and agent-delegated mints."
      }
    },
    "com.workos.api#AgentBlueprintInvocableBy": {
      "type": "structure",
      "members": {
        "role_slugs": {
          "target": "com.workos.api#AgentBlueprintInvocableByRoleSlugsList",
          "traits": {
            "smithy.api#documentation": "Role slugs whose members may mint user-delegated sessions from this blueprint.",
            "smithy.api#required": {}
          }
        },
        "organization_ids": {
          "target": "com.workos.api#AgentBlueprintInvocableByOrganizationIdsList",
          "traits": {
            "smithy.api#documentation": "Organizations in which sessions may be minted from this blueprint, enforced on user-delegated, autonomous, and agent-delegated mints.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Who may mint sessions from this blueprint."
      }
    },
    "com.workos.api#AgentBlueprintInvocableAsInstanceTypesItem": {
      "type": "enum",
      "members": {
        "DELEGATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delegated"
          }
        },
        "AUTONOMOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autonomous"
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AgentBlueprintInvocableAsInstanceTypesList": {
      "type": "list",
      "member": {
        "target": "com.workos.api#AgentBlueprintInvocableAsInstanceTypesItem"
      },
      "traits": {
        "smithy.api#documentation": "Instance types that may be minted from this blueprint: `delegated` and/or `autonomous`."
      }
    },
    "com.workos.api#AgentBlueprintInvocableAs": {
      "type": "structure",
      "members": {
        "instance_types": {
          "target": "com.workos.api#AgentBlueprintInvocableAsInstanceTypesList",
          "traits": {
            "smithy.api#documentation": "Instance types that may be minted from this blueprint: `delegated` and/or `autonomous`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How sessions may be minted from this blueprint."
      }
    },
    "com.workos.api#AgentBlueprintSessionSettings": {
      "type": "structure",
      "members": {
        "max_age_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum lifetime of a session in seconds; refreshes never extend a session past this.",
            "smithy.api#required": {}
          }
        },
        "access_token_ttl_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lifetime of each minted access token in seconds.",
            "smithy.api#required": {}
          }
        },
        "refresh_token_ttl_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lifetime of each rotated refresh token in seconds.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Token and session lifetimes for sessions minted from this blueprint."
      }
    },
    "com.workos.api#ListAgentBlueprintsControllerResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.workos.api#AgentBlueprint"
      },
      "traits": {
        "smithy.api#documentation": "The list of records for the current page."
      }
    },
    "com.workos.api#ListAgentBlueprintsControllerResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates this is a list response."
          }
        },
        "list_metadata": {
          "target": "com.workos.api#ListAgentBlueprintsControllerResponseListMetadata",
          "traits": {
            "smithy.api#documentation": "Pagination cursors for navigating between pages of results."
          }
        },
        "data": {
          "target": "com.workos.api#ListAgentBlueprintsControllerResponseDataList",
          "traits": {
            "smithy.api#documentation": "The list of records for the current page."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.workos.api#ListAgentBlueprintsController": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#ListAgentBlueprintsControllerRequest"
      },
      "output": {
        "target": "com.workos.api#ListAgentBlueprintsControllerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/agents/blueprints",
          "code": 200
        },
        "smithy.api#documentation": "List agent blueprints\n\nLists the agent blueprints in the current environment."
      }
    },
    "com.workos.api#CreateAgentBlueprintsControllerRequestPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Permission slugs forming the ceiling on what sessions minted from this blueprint may do. Each slug must exist in the environment."
      }
    },
    "com.workos.api#CreateAgentBlueprintsControllerRequestInvocableByRoleSlugsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Role slugs whose members may mint user-delegated sessions from this blueprint. An empty list allows any member."
      }
    },
    "com.workos.api#CreateAgentBlueprintsControllerRequestInvocableByOrganizationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Organizations in which sessions may be minted from this blueprint, enforced on user-delegated, autonomous, and agent-delegated mints. An empty list allows any organization in the environment."
      }
    },
    "com.workos.api#CreateAgentBlueprintsControllerRequestInvocableBy": {
      "type": "structure",
      "members": {
        "role_slugs": {
          "target": "com.workos.api#CreateAgentBlueprintsControllerRequestInvocableByRoleSlugsList",
          "traits": {
            "smithy.api#documentation": "Role slugs whose members may mint user-delegated sessions from this blueprint. An empty list allows any member."
          }
        },
        "organization_ids": {
          "target": "com.workos.api#CreateAgentBlueprintsControllerRequestInvocableByOrganizationIdsList",
          "traits": {
            "smithy.api#documentation": "Organizations in which sessions may be minted from this blueprint, enforced on user-delegated, autonomous, and agent-delegated mints. An empty list allows any organization in the environment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Who may mint sessions from this blueprint."
      }
    },
    "com.workos.api#CreateAgentBlueprintsControllerRequestInvocableAsInstanceTypesItem": {
      "type": "enum",
      "members": {
        "DELEGATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delegated"
          }
        },
        "AUTONOMOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autonomous"
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#CreateAgentBlueprintsControllerRequestInvocableAsInstanceTypesList": {
      "type": "list",
      "member": {
        "target": "com.workos.api#CreateAgentBlueprintsControllerRequestInvocableAsInstanceTypesItem"
      },
      "traits": {
        "smithy.api#documentation": "Instance types that may be minted from this blueprint: `delegated` (a user-delegated session, minted with a user access token) and/or `autonomous` (a session acting as the agent itself, minted with an agent registration credential). Agent-delegated chaining and refreshes are checked against the type of the presenting instance. Defaults to both."
      }
    },
    "com.workos.api#CreateAgentBlueprintsControllerRequestInvocableAs": {
      "type": "structure",
      "members": {
        "instance_types": {
          "target": "com.workos.api#CreateAgentBlueprintsControllerRequestInvocableAsInstanceTypesList",
          "traits": {
            "smithy.api#documentation": "Instance types that may be minted from this blueprint: `delegated` (a user-delegated session, minted with a user access token) and/or `autonomous` (a session acting as the agent itself, minted with an agent registration credential). Agent-delegated chaining and refreshes are checked against the type of the presenting instance. Defaults to both."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How sessions may be minted from this blueprint."
      }
    },
    "com.workos.api#CreateAgentBlueprintsControllerRequestSessionSettings": {
      "type": "structure",
      "members": {
        "max_age_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum lifetime of a session in seconds; refreshes never extend a session past this. At most 31,536,000 (365 days).",
            "smithy.api#required": {}
          }
        },
        "access_token_ttl_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lifetime of each minted access token in seconds. At most 3,600 (1 hour).",
            "smithy.api#required": {}
          }
        },
        "refresh_token_ttl_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lifetime of each rotated refresh token in seconds. At most 5,184,000 (60 days).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Token and session lifetimes for sessions minted from this blueprint."
      }
    },
    "com.workos.api#CreateAgentBlueprintsControllerRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the agent blueprint.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of the agent blueprint."
          }
        },
        "permissions": {
          "target": "com.workos.api#CreateAgentBlueprintsControllerRequestPermissionsList",
          "traits": {
            "smithy.api#documentation": "Permission slugs forming the ceiling on what sessions minted from this blueprint may do. Each slug must exist in the environment."
          }
        },
        "invocable_by": {
          "target": "com.workos.api#CreateAgentBlueprintsControllerRequestInvocableBy",
          "traits": {
            "smithy.api#documentation": "Who may mint sessions from this blueprint."
          }
        },
        "invocable_as": {
          "target": "com.workos.api#CreateAgentBlueprintsControllerRequestInvocableAs",
          "traits": {
            "smithy.api#documentation": "How sessions may be minted from this blueprint."
          }
        },
        "session_settings": {
          "target": "com.workos.api#CreateAgentBlueprintsControllerRequestSessionSettings",
          "traits": {
            "smithy.api#documentation": "Token and session lifetimes for sessions minted from this blueprint."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#CreateAgentBlueprintsController": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#CreateAgentBlueprintsControllerRequest"
      },
      "output": {
        "target": "com.workos.api#AgentBlueprint"
      },
      "errors": [
        {
          "target": "com.workos.api#BadRequest"
        },
        {
          "target": "com.workos.api#Conflict"
        },
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/agents/blueprints",
          "code": 200
        },
        "smithy.api#documentation": "Create an agent blueprint\n\nCreates an agent blueprint: the template describing what an agent may do (its permission ceiling), who may invoke it, and the lifetimes of its sessions."
      }
    },
    "com.workos.api#GetAgentBlueprintsControllerRequest": {
      "type": "structure",
      "members": {
        "agent_blueprint_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the agent blueprint."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#GetAgentBlueprintsController": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#GetAgentBlueprintsControllerRequest"
      },
      "output": {
        "target": "com.workos.api#AgentBlueprint"
      },
      "errors": [
        {
          "target": "com.workos.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/agents/blueprints/{agent_blueprint_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get an agent blueprint\n\nRetrieves an agent blueprint by ID."
      }
    },
    "com.workos.api#UpdateAgentBlueprintsControllerRequestPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Permission slugs forming the ceiling on what sessions minted from this blueprint may do. Each slug must exist in the environment."
      }
    },
    "com.workos.api#UpdateAgentBlueprintsControllerRequestInvocableByRoleSlugsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Role slugs whose members may mint user-delegated sessions from this blueprint. An empty list allows any member."
      }
    },
    "com.workos.api#UpdateAgentBlueprintsControllerRequestInvocableByOrganizationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Organizations in which sessions may be minted from this blueprint, enforced on user-delegated, autonomous, and agent-delegated mints. An empty list allows any organization in the environment."
      }
    },
    "com.workos.api#UpdateAgentBlueprintsControllerRequestInvocableBy": {
      "type": "structure",
      "members": {
        "role_slugs": {
          "target": "com.workos.api#UpdateAgentBlueprintsControllerRequestInvocableByRoleSlugsList",
          "traits": {
            "smithy.api#documentation": "Role slugs whose members may mint user-delegated sessions from this blueprint. An empty list allows any member."
          }
        },
        "organization_ids": {
          "target": "com.workos.api#UpdateAgentBlueprintsControllerRequestInvocableByOrganizationIdsList",
          "traits": {
            "smithy.api#documentation": "Organizations in which sessions may be minted from this blueprint, enforced on user-delegated, autonomous, and agent-delegated mints. An empty list allows any organization in the environment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Who may mint sessions from this blueprint. Omitted lists are left unchanged."
      }
    },
    "com.workos.api#UpdateAgentBlueprintsControllerRequestInvocableAsInstanceTypesItem": {
      "type": "enum",
      "members": {
        "DELEGATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delegated"
          }
        },
        "AUTONOMOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autonomous"
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#UpdateAgentBlueprintsControllerRequestInvocableAsInstanceTypesList": {
      "type": "list",
      "member": {
        "target": "com.workos.api#UpdateAgentBlueprintsControllerRequestInvocableAsInstanceTypesItem"
      },
      "traits": {
        "smithy.api#documentation": "Instance types that may be minted from this blueprint: `delegated` and/or `autonomous`. At least one is required; existing sessions of a removed type are refused at their next refresh."
      }
    },
    "com.workos.api#UpdateAgentBlueprintsControllerRequestInvocableAs": {
      "type": "structure",
      "members": {
        "instance_types": {
          "target": "com.workos.api#UpdateAgentBlueprintsControllerRequestInvocableAsInstanceTypesList",
          "traits": {
            "smithy.api#documentation": "Instance types that may be minted from this blueprint: `delegated` and/or `autonomous`. At least one is required; existing sessions of a removed type are refused at their next refresh."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How sessions may be minted from this blueprint. Omitted lists are left unchanged."
      }
    },
    "com.workos.api#UpdateAgentBlueprintsControllerRequestSessionSettings": {
      "type": "structure",
      "members": {
        "max_age_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum lifetime of a session in seconds; refreshes never extend a session past this. At most 31,536,000 (365 days)."
          }
        },
        "access_token_ttl_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lifetime of each minted access token in seconds. At most 3,600 (1 hour)."
          }
        },
        "refresh_token_ttl_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lifetime of each rotated refresh token in seconds. At most 5,184,000 (60 days)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Token and session lifetimes for sessions minted from this blueprint. Omitted fields are left unchanged."
      }
    },
    "com.workos.api#UpdateAgentBlueprintsControllerRequest": {
      "type": "structure",
      "members": {
        "agent_blueprint_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the agent blueprint."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the agent blueprint."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of the agent blueprint. Pass `null` to clear it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "permissions": {
          "target": "com.workos.api#UpdateAgentBlueprintsControllerRequestPermissionsList",
          "traits": {
            "smithy.api#documentation": "Permission slugs forming the ceiling on what sessions minted from this blueprint may do. Each slug must exist in the environment."
          }
        },
        "invocable_by": {
          "target": "com.workos.api#UpdateAgentBlueprintsControllerRequestInvocableBy",
          "traits": {
            "smithy.api#documentation": "Who may mint sessions from this blueprint. Omitted lists are left unchanged."
          }
        },
        "invocable_as": {
          "target": "com.workos.api#UpdateAgentBlueprintsControllerRequestInvocableAs",
          "traits": {
            "smithy.api#documentation": "How sessions may be minted from this blueprint. Omitted lists are left unchanged."
          }
        },
        "session_settings": {
          "target": "com.workos.api#UpdateAgentBlueprintsControllerRequestSessionSettings",
          "traits": {
            "smithy.api#documentation": "Token and session lifetimes for sessions minted from this blueprint. Omitted fields are left unchanged."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#UpdateAgentBlueprintsController": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#UpdateAgentBlueprintsControllerRequest"
      },
      "output": {
        "target": "com.workos.api#AgentBlueprint"
      },
      "errors": [
        {
          "target": "com.workos.api#BadRequest"
        },
        {
          "target": "com.workos.api#NotFound"
        },
        {
          "target": "com.workos.api#Conflict"
        },
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/agents/blueprints/{agent_blueprint_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update an agent blueprint\n\nUpdates an agent blueprint. Omitted fields are left unchanged; provided lists replace the existing configuration."
      }
    },
    "com.workos.api#DeleteAgentBlueprintsControllerRequest": {
      "type": "structure",
      "members": {
        "agent_blueprint_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the agent blueprint."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#DeleteAgentBlueprintsController": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#DeleteAgentBlueprintsControllerRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.workos.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/agents/blueprints/{agent_blueprint_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an agent blueprint\n\nDeletes an agent blueprint along with its configuration, instances, and sessions."
      }
    },
    "com.workos.api#AgentBlueprintsTokenControllerMintTokenRequestBodyCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How the session is minted: `user_delegated`, `autonomous`, `agent_delegated`, or `refresh`.",
            "smithy.api#required": {}
          }
        },
        "user_access_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The access token of the user delegating to the agent. The token identifies the user and organization; effective permissions are resolved server-side.",
            "smithy.api#required": {}
          }
        },
        "intent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional caller-supplied context, echoed as an object with a `text` field in the `intent` claim of the minted access token."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AgentBlueprintsTokenControllerMintTokenRequestBodyCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How the session is minted: `user_delegated`, `autonomous`, `agent_delegated`, or `refresh`.",
            "smithy.api#required": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organization the agent acts within when operating as itself.",
            "smithy.api#required": {}
          }
        },
        "intent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional caller-supplied context, echoed as an object with a `text` field in the `intent` claim of the minted access token."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AgentBlueprintsTokenControllerMintTokenRequestBodyCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How the session is minted: `user_delegated`, `autonomous`, `agent_delegated`, or `refresh`.",
            "smithy.api#required": {}
          }
        },
        "agent_access_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The agent's own access token to exchange for a new session on the same instance. The token must have been minted from this blueprint; permissions are re-derived from current authority.",
            "smithy.api#required": {}
          }
        },
        "intent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional caller-supplied context, echoed as an object with a `text` field in the `intent` claim of the minted access token."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AgentBlueprintsTokenControllerMintTokenRequestBodyCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How the session is minted: `user_delegated`, `autonomous`, `agent_delegated`, or `refresh`.",
            "smithy.api#required": {}
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The refresh token issued with a previous agent access token. Refresh tokens are single-use: each refresh rotates it.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "intent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional caller-supplied context, echoed as an object with a `text` field in the `intent` claim of the minted access token."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AgentBlueprintsTokenControllerMintTokenRequestBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.workos.api#AgentBlueprintsTokenControllerMintTokenRequestBodyCase0"
        },
        "Case1": {
          "target": "com.workos.api#AgentBlueprintsTokenControllerMintTokenRequestBodyCase1"
        },
        "Case2": {
          "target": "com.workos.api#AgentBlueprintsTokenControllerMintTokenRequestBodyCase2"
        },
        "Case3": {
          "target": "com.workos.api#AgentBlueprintsTokenControllerMintTokenRequestBodyCase3"
        }
      },
      "traits": {
        "smithy.api#documentation": "How to mint the agent session, discriminated by `type`. `intent` is optional on every variant."
      }
    },
    "com.workos.api#AgentBlueprintsTokenControllerMintTokenRequest": {
      "type": "structure",
      "members": {
        "agent_blueprint_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the agent blueprint."
          }
        },
        "body": {
          "target": "com.workos.api#AgentBlueprintsTokenControllerMintTokenRequestBody",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AgentToken": {
      "type": "structure",
      "members": {
        "access_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The agent access token (a JWT) carrying the effective permissions.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "token_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `Bearer`.",
            "smithy.api#required": {}
          }
        },
        "expires_in": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds until the access token expires.",
            "smithy.api#required": {}
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Single-use refresh token for rotating the access token within the session lifetime.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "agent_instance_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The agent instance the session belongs to.",
            "smithy.api#required": {}
          }
        },
        "new_instance": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this mint created the agent instance: `true` only for the mint that inserted the row, `false` when an existing instance was reused (including when a concurrent mint inserted it first).",
            "smithy.api#required": {}
          }
        },
        "agent_instance_session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The backing agent instance session.",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.workos.api#AgentTokenPermissionsList",
          "traits": {
            "smithy.api#documentation": "The effective permission slugs carried by the token.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AgentTokenPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The effective permission slugs carried by the token."
      }
    },
    "com.workos.api#AgentBlueprintsTokenControllerMintToken": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AgentBlueprintsTokenControllerMintTokenRequest"
      },
      "output": {
        "target": "com.workos.api#AgentToken"
      },
      "errors": [
        {
          "target": "com.workos.api#BadRequest"
        },
        {
          "target": "com.workos.api#Forbidden"
        },
        {
          "target": "com.workos.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/agents/blueprints/{agent_blueprint_id}/tokens",
          "code": 200
        },
        "smithy.api#documentation": "Mint an agent token\n\nMint an agent access token (and backing session) from an agent blueprint. The session can be user-delegated (exchanging a user access token), autonomous (the agent acting as itself in an organization), agent-delegated (the agent exchanging its own access token for a new session on the same instance), or a refresh of a previously issued refresh token."
      }
    },
    "com.workos.api#ValidateAgentBlueprintsTokenControllerTokenRequest": {
      "type": "structure",
      "members": {
        "agent_blueprint_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the agent blueprint."
          }
        },
        "agent_access_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The agent access token (a JWT) to validate.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AgentTokenValidation": {
      "type": "structure",
      "members": {
        "valid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true`: an invalid token is reported as an error with a stable code, never as a `200`.",
            "smithy.api#required": {}
          }
        },
        "agent_instance_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The agent instance the token was minted for.",
            "smithy.api#required": {}
          }
        },
        "agent_instance_session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The agent instance session backing the token.",
            "smithy.api#required": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organization the agent acts within.",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.workos.api#AgentTokenValidationPermissionsList",
          "traits": {
            "smithy.api#documentation": "The effective permission slugs carried by the token.",
            "smithy.api#required": {}
          }
        },
        "intent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The caller-supplied context echoed into the token at mint time, or `null` when none was given.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "acting_user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The delegating user carried in the `act.sub` claim of the token, or `null` for autonomous sessions.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "session_expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the backing agent instance session expires.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AgentTokenValidationPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The effective permission slugs carried by the token."
      }
    },
    "com.workos.api#ValidateAgentBlueprintsTokenControllerToken": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#ValidateAgentBlueprintsTokenControllerTokenRequest"
      },
      "output": {
        "target": "com.workos.api#AgentTokenValidation"
      },
      "errors": [
        {
          "target": "com.workos.api#BadRequest"
        },
        {
          "target": "com.workos.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/agents/blueprints/{agent_blueprint_id}/tokens/validate",
          "code": 200
        },
        "smithy.api#documentation": "Validate an agent token\n\nValidates an agent access token: verifies its signature against the environment, that it was minted under this blueprint, and that the backing session is live (not revoked or expired, and — for delegated sessions — that the delegating user session has not ended). Returns the token claims and session metadata when valid; invalid tokens are reported as errors with stable codes."
      }
    },
    "com.workos.api#AgentAdminControllerLinkClaimAttemptToExternalUserRequestUser": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the user.",
            "smithy.api#required": {}
          }
        },
        "external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The external ID of the user.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user to attach to the claim attempt, identified by email and external ID."
      }
    },
    "com.workos.api#AgentAdminControllerLinkClaimAttemptToExternalUserRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation to perform on the claim attempt. Currently only `link_external_user` is supported.",
            "smithy.api#required": {}
          }
        },
        "claim_attempt_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token identifying the claim attempt.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.workos.api#AgentAdminControllerLinkClaimAttemptToExternalUserRequestUser",
          "traits": {
            "smithy.api#documentation": "The user to attach to the claim attempt, identified by email and external ID.",
            "smithy.api#required": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organization to place the agent in. Required when the user belongs to more than one organization."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#ClaimViewResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The agent registration ID.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.workos.api#ClaimViewResponseStatus",
          "traits": {
            "smithy.api#documentation": "Current status of the agent registration.",
            "smithy.api#required": {}
          }
        },
        "user_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user code the agent needs to complete the claim.",
            "smithy.api#required": {}
          }
        },
        "organizations": {
          "target": "com.workos.api#ClaimViewResponseOrganizationsList",
          "traits": {
            "smithy.api#documentation": "Organizations the user belongs to, offered as placement choices.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#ClaimViewResponseStatus": {
      "type": "enum",
      "members": {
        "UNVERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unverified"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revoked"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current status of the agent registration."
      }
    },
    "com.workos.api#ClaimViewResponseOrganizationsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organization ID.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organization name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#ClaimViewResponseOrganizationsList": {
      "type": "list",
      "member": {
        "target": "com.workos.api#ClaimViewResponseOrganizationsItem"
      },
      "traits": {
        "smithy.api#documentation": "Organizations the user belongs to, offered as placement choices."
      }
    },
    "com.workos.api#AgentAdminControllerLinkClaimAttemptToExternalUser": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AgentAdminControllerLinkClaimAttemptToExternalUserRequest"
      },
      "output": {
        "target": "com.workos.api#ClaimViewResponse"
      },
      "errors": [
        {
          "target": "com.workos.api#BadRequest"
        },
        {
          "target": "com.workos.api#Forbidden"
        },
        {
          "target": "com.workos.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/agents/claims/attempts",
          "code": 200
        },
        "smithy.api#documentation": "Link a claim attempt to an external user\n\nLink an external user to a claim attempt and retrieve the code needed for the agent to complete the claim. The user is looked up by external ID; if no user exists, one is created. When the user belongs to multiple organizations, an explicit organization must be provided."
      }
    },
    "com.workos.api#ValidateAgentAdminControllerCredentialRequestBodyCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of credential being validated — an agent API key or an agent access token.",
            "smithy.api#required": {}
          }
        },
        "credential": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The credential value to validate: the API key value for `api_key`, or the access token (JWT) for `access_token`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#ValidateAgentAdminControllerCredentialRequestBodyCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of credential being validated — an agent API key or an agent access token.",
            "smithy.api#required": {}
          }
        },
        "credential": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The credential value to validate: the API key value for `api_key`, or the access token (JWT) for `access_token`.",
            "smithy.api#required": {}
          }
        },
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When provided, the access token's `aud` claim is verified against this value. Tokens issued for a different resource are rejected."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#ValidateAgentAdminControllerCredentialRequestBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.workos.api#ValidateAgentAdminControllerCredentialRequestBodyCase0"
        },
        "Case1": {
          "target": "com.workos.api#ValidateAgentAdminControllerCredentialRequestBodyCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The agent credential to validate. Either an `api_key` or an `access_token`, discriminated by `type`."
      }
    },
    "com.workos.api#ValidateAgentAdminControllerCredentialRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.workos.api#ValidateAgentAdminControllerCredentialRequestBody",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AgentCredentialValidation": {
      "type": "structure",
      "members": {
        "valid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the presented credential is valid.",
            "smithy.api#required": {}
          }
        },
        "registration_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the agent registration the credential belongs to, or `null` when the credential is invalid.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the credential expires, or `null` when the credential is invalid.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#ValidateAgentAdminControllerCredential": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#ValidateAgentAdminControllerCredentialRequest"
      },
      "output": {
        "target": "com.workos.api#AgentCredentialValidation"
      },
      "errors": [
        {
          "target": "com.workos.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/agents/credentials/validate",
          "code": 200
        },
        "smithy.api#documentation": "Validate an agent credential\n\nValidate an agent credential — an API key or access token — against the environment of the API key used to authenticate the request. This is a read-only check: it never consumes or mutates the credential."
      }
    },
    "com.workos.api#ListAgentInstancesControllerRequest": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list. For example, if you make a list request and receive 100 objects, ending with `\"obj_123\"`, your subsequent call can include `before=\"obj_123\"` to fetch a new batch of objects before `\"obj_123\"`."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list. For example, if you make a list request and receive 100 objects, ending with `\"obj_123\"`, your subsequent call can include `after=\"obj_123\"` to fetch a new batch of objects after `\"obj_123\"`."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Upper limit on the number of objects to return, between `1` and `100`."
          }
        },
        "order": {
          "target": "com.workos.api#PaginationOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Order the results by the creation time. Supported values are `\"asc\"` (ascending), `\"desc\"` (descending), and `\"normal\"` (descending with reversed cursor semantics where `before` fetches older records and `after` fetches newer records). Defaults to `normal`."
          }
        },
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "organization_id",
            "smithy.api#documentation": "Only return instances acting within this organization."
          }
        },
        "agent_blueprint_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "agent_blueprint_id",
            "smithy.api#documentation": "Only return instances minted from this blueprint."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#ListAgentInstancesControllerResponseListMetadata": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the start of the list.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pagination cursors for navigating between pages of results."
      }
    },
    "com.workos.api#AgentInstance": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguishes the agent instance object.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the agent instance.",
            "smithy.api#required": {}
          }
        },
        "agent_blueprint_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The blueprint this instance was minted from.",
            "smithy.api#required": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organization the instance acts within.",
            "smithy.api#required": {}
          }
        },
        "organization_membership_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organization membership of the delegating user; `null` for autonomous instances.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.workos.api#AgentInstanceType",
          "traits": {
            "smithy.api#documentation": "Whether the instance acts on behalf of a specific user (`delegated`) or as itself (`autonomous`).",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the agent instance was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the agent instance was last updated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AgentInstanceType": {
      "type": "enum",
      "members": {
        "DELEGATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delegated"
          }
        },
        "AUTONOMOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autonomous"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the instance acts on behalf of a specific user (`delegated`) or as itself (`autonomous`)."
      }
    },
    "com.workos.api#ListAgentInstancesControllerResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.workos.api#AgentInstance"
      },
      "traits": {
        "smithy.api#documentation": "The list of records for the current page."
      }
    },
    "com.workos.api#ListAgentInstancesControllerResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates this is a list response."
          }
        },
        "list_metadata": {
          "target": "com.workos.api#ListAgentInstancesControllerResponseListMetadata",
          "traits": {
            "smithy.api#documentation": "Pagination cursors for navigating between pages of results."
          }
        },
        "data": {
          "target": "com.workos.api#ListAgentInstancesControllerResponseDataList",
          "traits": {
            "smithy.api#documentation": "The list of records for the current page."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.workos.api#ListAgentInstancesController": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#ListAgentInstancesControllerRequest"
      },
      "output": {
        "target": "com.workos.api#ListAgentInstancesControllerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/agents/instances",
          "code": 200
        },
        "smithy.api#documentation": "List agent instances\n\nLists the agent instances in the current environment. Instances are created implicitly when tokens are minted."
      }
    },
    "com.workos.api#GetAgentInstancesControllerRequest": {
      "type": "structure",
      "members": {
        "agent_instance_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the agent instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#GetAgentInstancesController": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#GetAgentInstancesControllerRequest"
      },
      "output": {
        "target": "com.workos.api#AgentInstance"
      },
      "errors": [
        {
          "target": "com.workos.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/agents/instances/{agent_instance_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get an agent instance\n\nRetrieves an agent instance by ID."
      }
    },
    "com.workos.api#DeleteAgentInstancesControllerRequest": {
      "type": "structure",
      "members": {
        "agent_instance_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the agent instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#DeleteAgentInstancesController": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#DeleteAgentInstancesControllerRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.workos.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/agents/instances/{agent_instance_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an agent instance\n\nDeletes an agent instance along with its sessions, invalidating their refresh tokens."
      }
    },
    "com.workos.api#GetAgentAdminControllerRegistrationRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the agent registration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AgentRegistration": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the agent registration.",
            "smithy.api#required": {}
          }
        },
        "agent_identity": {
          "target": "com.workos.api#AgentRegistrationAgentIdentity",
          "traits": {
            "smithy.api#documentation": "The agent identity associated with this registration.",
            "smithy.api#required": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the organization the agent is registered to.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.workos.api#AgentRegistrationStatus",
          "traits": {
            "smithy.api#documentation": "The current verification status of the registration.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.workos.api#AgentRegistrationKind",
          "traits": {
            "smithy.api#documentation": "The kind of agent registration.",
            "smithy.api#required": {}
          }
        },
        "claim": {
          "target": "com.workos.api#AgentRegistrationClaim",
          "traits": {
            "smithy.api#documentation": "The claim associated with this registration, or `null` if the registration has no claim.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the registration was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the registration was last updated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AgentRegistrationAgentIdentity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the agent identity.",
            "smithy.api#required": {}
          }
        },
        "userland_user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the AuthKit user the agent identity is bound to, or `null` when the agent is not associated with a user.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the agent identity was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the agent identity was last updated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The agent identity associated with this registration."
      }
    },
    "com.workos.api#AgentRegistrationStatus": {
      "type": "enum",
      "members": {
        "UNVERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unverified"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revoked"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current verification status of the registration."
      }
    },
    "com.workos.api#AgentRegistrationKind": {
      "type": "enum",
      "members": {
        "ANONYMOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anonymous"
          }
        },
        "SERVICE_AUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "service_auth"
          }
        },
        "IDENTITY_ASSERTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "identity_assertion"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of agent registration."
      }
    },
    "com.workos.api#AgentRegistrationClaimClaimCompletion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the claim completion.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the claim completion was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the claim completion was last updated.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the claim completion expires.",
            "smithy.api#required": {}
          }
        },
        "claimed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the claim was completed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AgentRegistrationClaim": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the claim.",
            "smithy.api#required": {}
          }
        },
        "claim_completion": {
          "target": "com.workos.api#AgentRegistrationClaimClaimCompletion",
          "traits": {
            "smithy.api#documentation": "The completion record for the claim, or `null` if the claim has not been completed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the claim was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the claim was last updated.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the claim expires.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#GetAgentAdminControllerRegistration": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#GetAgentAdminControllerRegistrationRequest"
      },
      "output": {
        "target": "com.workos.api#AgentRegistration"
      },
      "errors": [
        {
          "target": "com.workos.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/agents/registrations/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get an agent registration\n\nRetrieve the details of an agent registration by ID. The registration is scoped to the environment of the API key used to authenticate the request."
      }
    },
    "com.workos.api#ListAgentInstanceSessionsControllerRequest": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list. For example, if you make a list request and receive 100 objects, ending with `\"obj_123\"`, your subsequent call can include `before=\"obj_123\"` to fetch a new batch of objects before `\"obj_123\"`."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list. For example, if you make a list request and receive 100 objects, ending with `\"obj_123\"`, your subsequent call can include `after=\"obj_123\"` to fetch a new batch of objects after `\"obj_123\"`."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Upper limit on the number of objects to return, between `1` and `100`."
          }
        },
        "order": {
          "target": "com.workos.api#PaginationOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Order the results by the creation time. Supported values are `\"asc\"` (ascending), `\"desc\"` (descending), and `\"normal\"` (descending with reversed cursor semantics where `before` fetches older records and `after` fetches newer records). Defaults to `normal`."
          }
        },
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "organization_id",
            "smithy.api#documentation": "Only return sessions of instances acting within this organization."
          }
        },
        "agent_blueprint_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "agent_blueprint_id",
            "smithy.api#documentation": "Only return sessions of instances minted from this blueprint."
          }
        },
        "agent_instance_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "agent_instance_id",
            "smithy.api#documentation": "Only return sessions belonging to this agent instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#ListAgentInstanceSessionsControllerResponseListMetadata": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the start of the list.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pagination cursors for navigating between pages of results."
      }
    },
    "com.workos.api#AgentInstanceSession": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguishes the agent instance session object.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the agent instance session.",
            "smithy.api#required": {}
          }
        },
        "agent_instance_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The agent instance the session belongs to.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.workos.api#AgentInstanceSessionStatus",
          "traits": {
            "smithy.api#documentation": "Derived from `revoked_at` and `expires_at` at read time; a revoked session stays `revoked` even after it expires.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the session expires.",
            "smithy.api#required": {}
          }
        },
        "revoked_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the session was revoked; `null` if it has not been revoked.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the session was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the session was last updated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AgentInstanceSessionStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revoked"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Derived from `revoked_at` and `expires_at` at read time; a revoked session stays `revoked` even after it expires."
      }
    },
    "com.workos.api#ListAgentInstanceSessionsControllerResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.workos.api#AgentInstanceSession"
      },
      "traits": {
        "smithy.api#documentation": "The list of records for the current page."
      }
    },
    "com.workos.api#ListAgentInstanceSessionsControllerResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates this is a list response."
          }
        },
        "list_metadata": {
          "target": "com.workos.api#ListAgentInstanceSessionsControllerResponseListMetadata",
          "traits": {
            "smithy.api#documentation": "Pagination cursors for navigating between pages of results."
          }
        },
        "data": {
          "target": "com.workos.api#ListAgentInstanceSessionsControllerResponseDataList",
          "traits": {
            "smithy.api#documentation": "The list of records for the current page."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.workos.api#ListAgentInstanceSessionsController": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#ListAgentInstanceSessionsControllerRequest"
      },
      "output": {
        "target": "com.workos.api#ListAgentInstanceSessionsControllerResponse"
      },
      "errors": [
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/agents/sessions",
          "code": 200
        },
        "smithy.api#documentation": "List agent instance sessions\n\nLists the agent instance sessions in the current environment. Sessions are created when tokens are minted."
      }
    },
    "com.workos.api#GetAgentInstanceSessionsControllerRequest": {
      "type": "structure",
      "members": {
        "agent_instance_session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the agent instance session."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#GetAgentInstanceSessionsController": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#GetAgentInstanceSessionsControllerRequest"
      },
      "output": {
        "target": "com.workos.api#AgentInstanceSession"
      },
      "errors": [
        {
          "target": "com.workos.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/agents/sessions/{agent_instance_session_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get an agent instance session\n\nRetrieves an agent instance session by ID."
      }
    },
    "com.workos.api#RevokeAgentInstanceSessionsControllerRequest": {
      "type": "structure",
      "members": {
        "agent_instance_session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the agent instance session."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#RevokeAgentInstanceSessionsController": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#RevokeAgentInstanceSessionsControllerRequest"
      },
      "output": {
        "target": "com.workos.api#AgentInstanceSession"
      },
      "errors": [
        {
          "target": "com.workos.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/agents/sessions/{agent_instance_session_id}/revoke",
          "code": 200
        },
        "smithy.api#documentation": "Revoke an agent instance session\n\nRevokes an agent instance session, invalidating its refresh token and every access token minted under it. Revocation is idempotent: revoking an already-revoked session keeps the original `revoked_at`, and revoking an already-expired session returns the session with `status: expired` and a null `revoked_at`."
      }
    },
    "com.workos.api#ValidateApiKeysControllerApiKeyRequest": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value for an API key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#ApiKeyValidationResponse": {
      "type": "structure",
      "members": {
        "api_key": {
          "target": "com.workos.api#ApiKey",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "agent_registration_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the agent registration this API Key was issued for. Present only when the API Key is assigned to an agent registration."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#ApiKey": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguishes the API Key object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the API Key."
          }
        },
        "owner": {
          "target": "com.workos.api#ApiKeyOwner",
          "traits": {
            "smithy.api#documentation": "The entity that owns the API Key."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A descriptive name for the API Key."
          }
        },
        "obfuscated_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An obfuscated representation of the API Key value."
          }
        },
        "last_used_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the API Key was last used.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the API Key expires. Null means the key does not expire.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "permissions": {
          "target": "com.workos.api#ApiKeyPermissionsList",
          "traits": {
            "smithy.api#documentation": "The permission slugs assigned to the API Key."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#ApiKeyOwnerCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the API Key owner.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the API Key owner.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#ApiKeyOwnerCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the API Key owner.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the API Key owner.",
            "smithy.api#required": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the organization the API Key can access.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#ApiKeyOwner": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.workos.api#ApiKeyOwnerCase0"
        },
        "Case1": {
          "target": "com.workos.api#ApiKeyOwnerCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The entity that owns the API Key."
      }
    },
    "com.workos.api#ApiKeyPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The permission slugs assigned to the API Key."
      }
    },
    "com.workos.api#ValidateApiKeysControllerApiKey": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#ValidateApiKeysControllerApiKeyRequest"
      },
      "output": {
        "target": "com.workos.api#ApiKeyValidationResponse"
      },
      "errors": [
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api_keys/validations",
          "code": 200
        },
        "smithy.api#documentation": "Validate API key\n\nValidate an API key value and return the API key object if valid."
      }
    },
    "com.workos.api#DeleteApiKeysControllerRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the API key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#DeleteApiKeysController": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#DeleteApiKeysControllerRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.workos.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api_keys/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an API key\n\nPermanently deletes an API key. This action cannot be undone. Once deleted, any requests using this API key will fail authentication."
      }
    },
    "com.workos.api#ApiKeysControllerExpireRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the API key."
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the API key should expire. If omitted or in the past, the key expires immediately. Use null to clear a scheduled future expiration.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#ApiKeysControllerExpire": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#ApiKeysControllerExpireRequest"
      },
      "output": {
        "target": "com.workos.api#ApiKey"
      },
      "errors": [
        {
          "target": "com.workos.api#NotFound"
        },
        {
          "target": "com.workos.api#Conflict"
        },
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api_keys/{id}/expire",
          "code": 200
        },
        "smithy.api#documentation": "Expire an API key\n\nExpire an API key immediately, schedule a future expiration, or clear a scheduled future expiration."
      }
    },
    "com.workos.api#ListAuditLogValidatorsControllerRequest": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Upper limit on the number of objects to return, between `1` and `100`."
          }
        },
        "order": {
          "target": "com.workos.api#PaginationOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Order the results by the creation time. Defaults to `normal`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#ListAuditLogValidatorsControllerResponseListMetadata": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the start of the list.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pagination cursors for navigating between pages of results."
      }
    },
    "com.workos.api#AuditLogActionJson": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguishes the Audit Log Action object."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of what action was taken."
          }
        },
        "schema": {
          "target": "com.workos.api#AuditLogSchemaJson",
          "traits": {
            "smithy.api#documentation": "The schema associated with the action."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuditLogSchemaJson": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguishes the Audit Log Schema object."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The version of the schema."
          }
        },
        "actor": {
          "target": "com.workos.api#AuditLogSchemaJsonActor",
          "traits": {
            "smithy.api#documentation": "The metadata schema for the actor."
          }
        },
        "targets": {
          "target": "com.workos.api#AuditLogSchemaJsonTargetsList",
          "traits": {
            "smithy.api#documentation": "The list of targets for the schema."
          }
        },
        "metadata": {
          "target": "com.workos.api#AuditLogSchemaJsonMetadataMap",
          "traits": {
            "smithy.api#documentation": "Additional data associated with the event or entity."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the Audit Log Schema was created."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuditLogSchemaJsonActorMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The JSON Schema definition for actor metadata."
      }
    },
    "com.workos.api#AuditLogSchemaJsonActor": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.workos.api#AuditLogSchemaJsonActorMetadataMap",
          "traits": {
            "smithy.api#documentation": "The JSON Schema definition for actor metadata.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata schema for the actor."
      }
    },
    "com.workos.api#AuditLogSchemaJsonTargetsItemMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Additional data associated with the event or entity."
      }
    },
    "com.workos.api#AuditLogSchemaJsonTargetsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the target resource.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.workos.api#AuditLogSchemaJsonTargetsItemMetadataMap",
          "traits": {
            "smithy.api#documentation": "Additional data associated with the event or entity."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuditLogSchemaJsonTargetsList": {
      "type": "list",
      "member": {
        "target": "com.workos.api#AuditLogSchemaJsonTargetsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of targets for the schema."
      }
    },
    "com.workos.api#AuditLogSchemaJsonMetadataMap": {
[...]
