{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.mailchimp.transactional#AddAllowlistEntryRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "an email address to add to the allowlist",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "an optional description of why the email was added to the allowlist"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#AddAllowlistEntryResponse": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the email address you provided"
          }
        },
        "added": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the operation succeeded"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#AddAllowlistEntry": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#AddAllowlistEntryRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#AddAllowlistEntryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/allowlists/add",
          "code": 200
        },
        "smithy.api#documentation": "Add email to allowlist\n\nAdds an email to your email rejection allowlist. If the address is currently on your denylist, that denylist entry will be removed automatically."
      }
    },
    "com.mailchimp.transactional#ListAllowlistEntriesRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "an optional email address or prefix to search by"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#ListAllowlistEntriesResponseBodyItem": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the email that is allowlisted"
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a description of why the email was allowlisted"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "when the email was added to the allowlist"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "the information for each allowlist entry"
      }
    },
    "com.mailchimp.transactional#ListAllowlistEntriesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.mailchimp.transactional#ListAllowlistEntriesResponseBodyItem"
      },
      "traits": {
        "smithy.api#documentation": "up to 1000 allowlist entries"
      }
    },
    "com.mailchimp.transactional#ListAllowlistEntriesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.mailchimp.transactional#ListAllowlistEntriesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#ListAllowlistEntries": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#ListAllowlistEntriesRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#ListAllowlistEntriesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/allowlists/list",
          "code": 200
        },
        "smithy.api#documentation": "List allowlisted emails\n\nRetrieves your email rejection allowlist. You can provide an email address or search prefix to limit the results. Returns up to 1000 results."
      }
    },
    "com.mailchimp.transactional#DeleteAllowlistEntryRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the email address to remove from the allowlist",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#DeleteAllowlistEntryResponse": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the email address that was removed from the denylist"
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the address was deleted successfully"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#DeleteAllowlistEntry": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#DeleteAllowlistEntryRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#DeleteAllowlistEntryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/allowlists/delete",
          "code": 200
        },
        "smithy.api#documentation": "Remove email from allowlist\n\nRemoves an email address from the allowlist."
      }
    },
    "com.mailchimp.transactional#GetExportRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "an export job identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#GetExportResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the unique identifier for this Export. Use this identifier when checking the export job's status"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the type of the export job - activity, reject, or allowlist"
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the export job's state - waiting, working, complete, error, or expired."
          }
        },
        "result_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the url for the export job's results, if the job is completed."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#GetExport": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#GetExportRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#GetExportResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/exports/info",
          "code": 200
        },
        "smithy.api#documentation": "View export info\n\nReturns information about an export job. If the export job's state is 'complete', the returned data will include a URL you can use to fetch the results. Every export job produces a zip archive, but the format of the archive is distinct for each job type. The api calls that initiate exports include more details about the output format for that job type."
      }
    },
    "com.mailchimp.transactional#ListExportsResponseBodyItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the unique identifier for this Export. Use this identifier when checking the export job's status"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the type of the export job - activity, reject, or allowlist"
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the export job's state - waiting, working, complete, error, or expired."
          }
        },
        "result_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the url for the export job's results, if the job is completed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "the individual export info"
      }
    },
    "com.mailchimp.transactional#ListExportsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.mailchimp.transactional#ListExportsResponseBodyItem"
      },
      "traits": {
        "smithy.api#documentation": "the account's exports"
      }
    },
    "com.mailchimp.transactional#ListExportsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.mailchimp.transactional#ListExportsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#ListExports": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.mailchimp.transactional#ListExportsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/exports/list",
          "code": 200
        },
        "smithy.api#documentation": "List exports\n\nReturns a list of your exports."
      }
    },
    "com.mailchimp.transactional#ExportRejectsRequest": {
      "type": "structure",
      "members": {
        "notify_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "an optional email address to notify when the export job has finished."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#ExportRejectsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the unique identifier for this Export. Use this identifier when checking the export job's status"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the type of the export job - activity, reject, or whitelist"
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the export job's state - waiting, working, complete, error, or expired."
          }
        },
        "result_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the url for the export job's results, if the job is completed."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#ExportRejects": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#ExportRejectsRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#ExportRejectsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/exports/rejects",
          "code": 200
        },
        "smithy.api#documentation": "Export denylist\n\nBegins an export of your rejection denylist. The denylist will be exported to a zip archive containing a single file named rejects.csv that includes the following fields: email, reason, detail, created_at, expires_at, last_event_at, expires_at."
      }
    },
    "com.mailchimp.transactional#ExportWhitelistRequest": {
      "type": "structure",
      "members": {
        "notify_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "an optional email address to notify when the export job has finished."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#ExportWhitelistResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the unique identifier for this Export. Use this identifier when checking the export job's status"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the type of the export job"
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run"
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the export job's state"
          }
        },
        "result_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the url for the export job's results, if the job is complete"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#ExportWhitelist": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#ExportWhitelistRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#ExportWhitelistResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/exports/whitelist",
          "code": 200
        },
        "smithy.api#documentation": "Export Allowlist\n\nBegins an export of your rejection allowlist. The allowlist will be exported to a zip archive containing a single file named allowlist.csv that includes the following fields: email, detail, created_at."
      }
    },
    "com.mailchimp.transactional#ExportAllowlistRequest": {
      "type": "structure",
      "members": {
        "notify_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "an optional email address to notify when the export job has finished."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#ExportAllowlistResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the unique identifier for this Export. Use this identifier when checking the export job's status"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the type of the export job"
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run"
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the export job's state"
          }
        },
        "result_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the url for the export job's results, if the job is complete"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#ExportAllowlist": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#ExportAllowlistRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#ExportAllowlistResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/exports/allowlist",
          "code": 200
        },
        "smithy.api#documentation": "Export Allowlist\n\nBegins an export of your rejection allowlist. The allowlist will be exported to a zip archive containing a single file named allowlist.csv that includes the following fields: email, detail, created_at."
      }
    },
    "com.mailchimp.transactional#ExportActivityRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "an array of tag names to narrow the export to; will match messages that contain ANY of the tags"
      }
    },
    "com.mailchimp.transactional#ExportActivityRequestSendersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "an array of senders to narrow the export to"
      }
    },
    "com.mailchimp.transactional#ExportActivityRequestStatesItem": {
      "type": "enum",
      "members": {
        "SENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sent"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "BOUNCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bounced"
          }
        },
        "SOFT_BOUNCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "soft-bounced"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spam"
          }
        },
        "UNSUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsub"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "a message state"
      }
    },
    "com.mailchimp.transactional#ExportActivityRequestStatesList": {
      "type": "list",
      "member": {
        "target": "com.mailchimp.transactional#ExportActivityRequestStatesItem"
      },
      "traits": {
        "smithy.api#documentation": "an array of message states to narrow the export to; messages with ANY of the states will be included"
      }
    },
    "com.mailchimp.transactional#ExportActivityRequestApiKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "an array of api keys to narrow the export to; messsagse sent with ANY of the keys will be included"
      }
    },
    "com.mailchimp.transactional#ExportActivityRequest": {
      "type": "structure",
      "members": {
        "notify_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "an optional email address to notify when the export job has finished"
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "start date as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "end date as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "tags": {
          "target": "com.mailchimp.transactional#ExportActivityRequestTagsList",
          "traits": {
            "smithy.api#documentation": "an array of tag names to narrow the export to; will match messages that contain ANY of the tags"
          }
        },
        "senders": {
          "target": "com.mailchimp.transactional#ExportActivityRequestSendersList",
          "traits": {
            "smithy.api#documentation": "an array of senders to narrow the export to"
          }
        },
        "states": {
          "target": "com.mailchimp.transactional#ExportActivityRequestStatesList",
          "traits": {
            "smithy.api#documentation": "an array of message states to narrow the export to; messages with ANY of the states will be included"
          }
        },
        "api_keys": {
          "target": "com.mailchimp.transactional#ExportActivityRequestApiKeysList",
          "traits": {
            "smithy.api#documentation": "an array of api keys to narrow the export to; messsagse sent with ANY of the keys will be included"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#ExportActivityResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the unique identifier for this Export. Use this identifier when checking the export job's status"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the type of the export job"
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run"
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the export job's state"
          }
        },
        "result_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the url for the export job's results, if the job is complete"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#ExportActivity": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#ExportActivityRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#ExportActivityResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/exports/activity",
          "code": 200
        },
        "smithy.api#documentation": "Export activity history\n\nBegins an export of your activity history. The activity will be exported to a zip archive containing a single file named activity.csv in the same format as you would be able to export from your account's activity view. It includes the following fields: Date, Email Address, Sender, Subject, Status, Tags, Opens, Clicks, Bounce Detail. If you have configured any custom metadata fields, they will be included in the exported data."
      }
    },
    "com.mailchimp.transactional#ListInboundDomainsResponseBodyItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the domain name that is accepting mail"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the inbound domain was added as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "valid_mx": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "true if this inbound domain has successfully set up an MX record to deliver mail to the Mandrill servers"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "the individual domain info"
      }
    },
    "com.mailchimp.transactional#ListInboundDomainsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.mailchimp.transactional#ListInboundDomainsResponseBodyItem"
      },
      "traits": {
        "smithy.api#documentation": "the inbound domains associated with the account"
      }
    },
    "com.mailchimp.transactional#ListInboundDomainsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.mailchimp.transactional#ListInboundDomainsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#ListInboundDomains": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.mailchimp.transactional#ListInboundDomainsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/inbound/domains",
          "code": 200
        },
        "smithy.api#documentation": "List inbound domains\n\nList the domains that have been configured for inbound delivery."
      }
    },
    "com.mailchimp.transactional#AddInboundDomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a domain name; Validation: strip_tags, required",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#AddInboundDomainResponse": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the domain name that is accepting mail"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the inbound domain was added as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "valid_mx": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "true if this inbound domain has successfully set up an MX record to deliver mail to the Mandrill servers"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#AddInboundDomain": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#AddInboundDomainRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#AddInboundDomainResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/inbound/add-domain",
          "code": 200
        },
        "smithy.api#documentation": "Add inbound domain\n\nAdd an inbound domain to your account."
      }
    },
    "com.mailchimp.transactional#CheckInboundDomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "an existing inbound domain",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#CheckInboundDomainResponse": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the domain name that is accepting mail"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the inbound domain was added as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "valid_mx": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "true if this inbound domain has successfully set up an MX record to deliver mail to the Mandrill servers"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#CheckInboundDomain": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#CheckInboundDomainRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#CheckInboundDomainResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/inbound/check-domain",
          "code": 200
        },
        "smithy.api#documentation": "Check domain settings\n\nCheck the MX settings for an inbound domain. The domain must have already been added with the add-domain call."
      }
    },
    "com.mailchimp.transactional#DeleteInboundDomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "an existing inbound domain",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#DeleteInboundDomainResponse": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the domain name that is accepting mail"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the inbound domain was added as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "valid_mx": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "true if this inbound domain has successfully set up an MX record to deliver mail to the Mandrill servers"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#DeleteInboundDomain": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#DeleteInboundDomainRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#DeleteInboundDomainResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/inbound/delete-domain",
          "code": 200
        },
        "smithy.api#documentation": "Delete inbound domain\n\nDelete an inbound domain from the account. All mail will stop routing for this domain immediately."
      }
    },
    "com.mailchimp.transactional#ListInboundRoutesRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain to check (required if phone is not provided)"
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SMS program phone number (required if domain is not provided)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#ListInboundRoutesResponseBodyItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the unique identifier of the route"
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the search pattern that the mailbox name should match"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the webhook URL where inbound messages will be published"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "the individual mailbox route"
      }
    },
    "com.mailchimp.transactional#ListInboundRoutesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.mailchimp.transactional#ListInboundRoutesResponseBodyItem"
      },
      "traits": {
        "smithy.api#documentation": "the routes associated with the domain"
      }
    },
    "com.mailchimp.transactional#ListInboundRoutesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.mailchimp.transactional#ListInboundRoutesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#ListInboundRoutes": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#ListInboundRoutesRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#ListInboundRoutesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/inbound/routes",
          "code": 200
        },
        "smithy.api#documentation": "List routes\n\nList the routes defined for an inbound domain or SMS program. Provide either domain or phone (not both)."
      }
    },
    "com.mailchimp.transactional#AddInboundRouteRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An existing inbound domain (required if phone is not provided)"
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SMS program phone number - the TO number that receives inbound SMS (required if domain is not provided)"
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For email: the mailbox pattern (e.g., \"mailbox-*\"). For SMS: not used, the phone number is the pattern."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the webhook URL where the inbound messages will be published",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#AddInboundRouteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the unique identifier of the route"
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the search pattern that the mailbox name should match"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the webhook URL where inbound messages will be published"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#AddInboundRoute": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#AddInboundRouteRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#AddInboundRouteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/inbound/add-route",
          "code": 200
        },
        "smithy.api#documentation": "Add route\n\nAdd a new route to an inbound domain or SMS program. Provide either domain or phone (not both)."
      }
    },
    "com.mailchimp.transactional#UpdateInboundRouteRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the unique identifier of an existing mailbox route",
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For email: The search pattern that the mailbox name should match. For SMS: the sender's phone number (FROM number).  Null to leave unchanged"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the webhook URL where the inbound messages will be published; Validation: webhookexists"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#UpdateInboundRouteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the unique identifier of the route"
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the search pattern that the mailbox name should match"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the webhook URL where inbound messages will be published"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#UpdateInboundRoute": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#UpdateInboundRouteRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#UpdateInboundRouteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/inbound/update-route",
          "code": 200
        },
        "smithy.api#documentation": "Update mailbox route\n\nUpdate the pattern or webhook of an existing inbound mailbox route. If null is provided for any fields, the values will remain unchanged."
      }
    },
    "com.mailchimp.transactional#DeleteInboundRouteRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the unique identifier of an existing route",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#DeleteInboundRouteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the unique identifier of the route"
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the search pattern that the mailbox name should match"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the webhook URL where inbound messages will be published"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#DeleteInboundRoute": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#DeleteInboundRouteRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#DeleteInboundRouteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/inbound/delete-route",
          "code": 200
        },
        "smithy.api#documentation": "Delete mailbox route\n\nDelete an existing inbound mailbox route."
      }
    },
    "com.mailchimp.transactional#SendRawInboundRequestToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "optionally define the recipients to receive the message - otherwise we'll use the To, Cc, and Bcc headers provided in the document"
      }
    },
    "com.mailchimp.transactional#SendRawInboundRequest": {
      "type": "structure",
      "members": {
        "raw_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the full MIME document of an email message",
            "smithy.api#required": {}
          }
        },
        "to": {
          "target": "com.mailchimp.transactional#SendRawInboundRequestToList",
          "traits": {
            "smithy.api#documentation": "optionally define the recipients to receive the message - otherwise we'll use the To, Cc, and Bcc headers provided in the document"
          }
        },
        "mail_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the address specified in the MAIL FROM stage of the SMTP conversation. Required for the SPF check."
          }
        },
        "helo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the identification provided by the client mta in the MTA state of the SMTP conversation. Required for the SPF check."
          }
        },
        "client_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the remote MTA's ip address. Optional; required for the SPF check."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#SendRawInboundResponseBodyItem": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the email address of the matching recipient"
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the mailbox route pattern that the recipient matched"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the webhook URL that the message was posted to"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "the individual recipient information"
      }
    },
    "com.mailchimp.transactional#SendRawInboundResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.mailchimp.transactional#SendRawInboundResponseBodyItem"
      },
      "traits": {
        "smithy.api#documentation": "an array of the information for each recipient in the message (usually one) that matched an inbound route"
      }
    },
    "com.mailchimp.transactional#SendRawInboundResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.mailchimp.transactional#SendRawInboundResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#SendRawInbound": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#SendRawInboundRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#SendRawInboundResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/inbound/send-raw",
          "code": 200
        },
        "smithy.api#documentation": "Send mime document\n\nTake a raw MIME document destined for a domain with inbound domains set up, and send it to the inbound hook exactly as if it had been sent over SMTP."
      }
    },
    "com.mailchimp.transactional#ListIpsResponseBodyItemCustomDns": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "a boolean indicating whether custom dns has been configured for this ip"
          }
        },
        "valid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the ip's custom dns is currently valid"
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "if the ip's custom dns is invalid, this will include details about the error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about the ip's custom dns, if it has been configured"
      }
    },
    "com.mailchimp.transactional#ListIpsResponseBodyItemWarmup": {
      "type": "structure",
      "members": {
        "warming_up": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the ip is currently in warmup mode"
          }
        },
        "start_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "end_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about the ip's warmup status"
      }
    },
    "com.mailchimp.transactional#ListIpsResponseBodyItem": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the ip address"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the name of the pool that this dedicated IP belongs to"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the domain name (reverse dns) of this dedicated IP"
          }
        },
        "custom_dns": {
          "target": "com.mailchimp.transactional#ListIpsResponseBodyItemCustomDns",
          "traits": {
            "smithy.api#documentation": "information about the ip's custom dns, if it has been configured"
          }
        },
        "warmup": {
          "target": "com.mailchimp.transactional#ListIpsResponseBodyItemWarmup",
          "traits": {
            "smithy.api#documentation": "information about the ip's warmup status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about a single dedicated IP"
      }
    },
    "com.mailchimp.transactional#ListIpsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.mailchimp.transactional#ListIpsResponseBodyItem"
      },
      "traits": {
        "smithy.api#documentation": "an array of objects for each dedicated IP"
      }
    },
    "com.mailchimp.transactional#ListIpsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.mailchimp.transactional#ListIpsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#ListIps": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.mailchimp.transactional#ListIpsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ips/list",
          "code": 200
        },
        "smithy.api#documentation": "List ip addresses\n\nLists your dedicated IPs."
      }
    },
    "com.mailchimp.transactional#GetIpRequest": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a dedicated IP address"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#GetIpResponseCustomDns": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "a boolean indicating whether custom dns has been configured for this ip"
          }
        },
        "valid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the ip's custom dns is currently valid"
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "if the ip's custom dns is invalid, this will include details about the error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about the ip's custom dns, if it has been configured"
      }
    },
    "com.mailchimp.transactional#GetIpResponseWarmup": {
      "type": "structure",
      "members": {
        "warming_up": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the ip is currently in warmup mode"
          }
        },
        "start_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "end_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about the ip's warmup status"
      }
    },
    "com.mailchimp.transactional#GetIpResponse": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the ip address"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the name of the pool that this dedicated IP belongs to"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the domain name (reverse dns) of this dedicated IP"
          }
        },
        "custom_dns": {
          "target": "com.mailchimp.transactional#GetIpResponseCustomDns",
          "traits": {
            "smithy.api#documentation": "information about the ip's custom dns, if it has been configured"
          }
        },
        "warmup": {
          "target": "com.mailchimp.transactional#GetIpResponseWarmup",
          "traits": {
            "smithy.api#documentation": "information about the ip's warmup status"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#GetIp": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#GetIpRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#GetIpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ips/info",
          "code": 200
        },
        "smithy.api#documentation": "Get ip info\n\nRetrieves information about a single dedicated IP."
      }
    },
    "com.mailchimp.transactional#ProvisionIpRequest": {
      "type": "structure",
      "members": {
        "warmup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether to enable warmup mode for the ip"
          }
        },
        "pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the id of the pool to add the dedicated ip to, or null to use your account's default pool"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#ProvisionIpResponse": {
      "type": "structure",
      "members": {
        "requested_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the request was created as a UTC timestamp in YYYY-MM-DD HH:MM:SS format"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#ProvisionIp": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#ProvisionIpRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#ProvisionIpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ips/provision",
          "code": 200
        },
        "smithy.api#documentation": "Request additional ip\n\nRequests an additional dedicated IP for your account. Accounts may have one outstanding request at any time, and provisioning requests are processed within 24 hours."
      }
    },
    "com.mailchimp.transactional#StartIpWarmupRequest": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a dedicated ip address",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#StartIpWarmupResponseCustomDns": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "a boolean indicating whether custom dns has been configured for this ip"
          }
        },
        "valid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the ip's custom dns is currently valid"
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "if the ip's custom dns is invalid, this will include details about the error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about the ip's custom dns, if it has been configured"
      }
    },
    "com.mailchimp.transactional#StartIpWarmupResponseWarmup": {
      "type": "structure",
      "members": {
        "warming_up": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the ip is currently in warmup mode"
          }
        },
        "start_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "end_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about the ip's warmup status"
      }
    },
    "com.mailchimp.transactional#StartIpWarmupResponse": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the ip address"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the name of the pool that this dedicated IP belongs to"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the domain name (reverse dns) of this dedicated IP"
          }
        },
        "custom_dns": {
          "target": "com.mailchimp.transactional#StartIpWarmupResponseCustomDns",
          "traits": {
            "smithy.api#documentation": "information about the ip's custom dns, if it has been configured"
          }
        },
        "warmup": {
          "target": "com.mailchimp.transactional#StartIpWarmupResponseWarmup",
          "traits": {
            "smithy.api#documentation": "information about the ip's warmup status"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#StartIpWarmup": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#StartIpWarmupRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#StartIpWarmupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ips/start-warmup",
          "code": 200
        },
        "smithy.api#documentation": "Start ip warmup\n\nBegins the warmup process for a dedicated IP. During the warmup process, the Transactional API will gradually increase the percentage of your mail that is sent over the warming-up IP, over a period of roughly 30 days. The rest of your mail will be sent over shared IPs or other dedicated IPs in the same pool."
      }
    },
    "com.mailchimp.transactional#CancelIpWarmupRequest": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a dedicated ip address",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#CancelIpWarmupResponseCustomDns": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "a boolean indicating whether custom dns has been configured for this ip"
          }
        },
        "valid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the ip's custom dns is currently valid"
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "if the ip's custom dns is invalid, this will include details about the error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about the ip's custom dns, if it has been configured"
      }
    },
    "com.mailchimp.transactional#CancelIpWarmupResponseWarmup": {
      "type": "structure",
      "members": {
        "warming_up": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the ip is currently in warmup mode"
          }
        },
        "start_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "end_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about the ip's warmup status"
      }
    },
    "com.mailchimp.transactional#CancelIpWarmupResponse": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the ip address"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the name of the pool that this dedicated IP belongs to"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the domain name (reverse dns) of this dedicated IP"
          }
        },
        "custom_dns": {
          "target": "com.mailchimp.transactional#CancelIpWarmupResponseCustomDns",
          "traits": {
            "smithy.api#documentation": "information about the ip's custom dns, if it has been configured"
          }
        },
        "warmup": {
          "target": "com.mailchimp.transactional#CancelIpWarmupResponseWarmup",
          "traits": {
            "smithy.api#documentation": "information about the ip's warmup status"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#CancelIpWarmup": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#CancelIpWarmupRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#CancelIpWarmupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ips/cancel-warmup",
          "code": 200
        },
        "smithy.api#documentation": "Cancel ip warmup\n\nCancels the warmup process for a dedicated IP."
      }
    },
    "com.mailchimp.transactional#SetIpPoolRequest": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a dedicated ip address",
            "smithy.api#required": {}
          }
        },
        "pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the name of the new pool to add the dedicated ip to",
            "smithy.api#required": {}
          }
        },
        "create_pool": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether to create the pool if it does not exist; if false and the pool does not exist, an Unknown_Pool will be thrown."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#SetIpPoolResponseCustomDns": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "a boolean indicating whether custom dns has been configured for this ip"
          }
        },
        "valid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the ip's custom dns is currently valid"
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "if the ip's custom dns is invalid, this will include details about the error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about the ip's custom dns, if it has been configured"
      }
    },
    "com.mailchimp.transactional#SetIpPoolResponseWarmup": {
      "type": "structure",
      "members": {
        "warming_up": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the ip is currently in warmup mode"
          }
        },
        "start_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "end_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about the ip's warmup status"
      }
    },
    "com.mailchimp.transactional#SetIpPoolResponse": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the ip address"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the name of the pool that this dedicated IP belongs to"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the domain name (reverse dns) of this dedicated IP"
          }
        },
        "custom_dns": {
          "target": "com.mailchimp.transactional#SetIpPoolResponseCustomDns",
          "traits": {
            "smithy.api#documentation": "information about the ip's custom dns, if it has been configured"
          }
        },
        "warmup": {
          "target": "com.mailchimp.transactional#SetIpPoolResponseWarmup",
          "traits": {
            "smithy.api#documentation": "information about the ip's warmup status"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#SetIpPool": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#SetIpPoolRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#SetIpPoolResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ips/set-pool",
          "code": 200
        },
        "smithy.api#documentation": "Move ip to different pool\n\nMoves a dedicated IP to a different pool."
      }
    },
    "com.mailchimp.transactional#DeleteIpRequest": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the dedicated ip to remove from your account",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#DeleteIpResponse": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the ip address"
          }
        },
        "deleted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a boolean indicating whether the ip was successfully deleted"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#DeleteIp": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#DeleteIpRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#DeleteIpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ips/delete",
          "code": 200
        },
        "smithy.api#documentation": "Delete ip address\n\nDeletes a dedicated IP. This is permanent and cannot be undone."
      }
    },
    "com.mailchimp.transactional#ListIpPoolsResponseBodyItemIpsItemCustomDns": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "a boolean indicating whether custom dns has been configured for this ip"
          }
        },
        "valid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the ip's custom dns is currently valid"
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "if the ip's custom dns is invalid, this will include details about the error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about the ip's custom dns, if it has been configured"
      }
    },
    "com.mailchimp.transactional#ListIpPoolsResponseBodyItemIpsItemWarmup": {
      "type": "structure",
      "members": {
        "warming_up": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the ip is currently in warmup mode"
          }
        },
        "start_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "end_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about the ip's warmup status"
      }
    },
    "com.mailchimp.transactional#ListIpPoolsResponseBodyItemIpsItem": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the ip address"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the name of the pool that this dedicated IP belongs to"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the domain name (reverse dns) of this dedicated IP"
          }
        },
        "custom_dns": {
          "target": "com.mailchimp.transactional#ListIpPoolsResponseBodyItemIpsItemCustomDns",
          "traits": {
            "smithy.api#documentation": "information about the ip's custom dns, if it has been configured"
          }
        },
        "warmup": {
          "target": "com.mailchimp.transactional#ListIpPoolsResponseBodyItemIpsItemWarmup",
          "traits": {
            "smithy.api#documentation": "information about the ip's warmup status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about each dedicated IP"
      }
    },
    "com.mailchimp.transactional#ListIpPoolsResponseBodyItemIpsList": {
      "type": "list",
      "member": {
        "target": "com.mailchimp.transactional#ListIpPoolsResponseBodyItemIpsItem"
      },
      "traits": {
        "smithy.api#documentation": "the dedicated IPs in this pool"
      }
    },
    "com.mailchimp.transactional#ListIpPoolsResponseBodyItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "this pool's name"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that this pool was created as a UTC timestamp in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "ips": {
          "target": "com.mailchimp.transactional#ListIpPoolsResponseBodyItemIpsList",
          "traits": {
            "smithy.api#documentation": "the dedicated IPs in this pool"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about each dedicated IP pool"
      }
    },
    "com.mailchimp.transactional#ListIpPoolsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.mailchimp.transactional#ListIpPoolsResponseBodyItem"
      },
      "traits": {
        "smithy.api#documentation": "the dedicated IP pools for your account, up to a maximum of 1,000"
      }
    },
    "com.mailchimp.transactional#ListIpPoolsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.mailchimp.transactional#ListIpPoolsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#ListIpPools": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.mailchimp.transactional#ListIpPoolsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ips/list-pools",
          "code": 200
        },
        "smithy.api#documentation": "List ip pools\n\nLists your dedicated IP pools."
      }
    },
    "com.mailchimp.transactional#GetIpPoolRequest": {
      "type": "structure",
      "members": {
        "pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a pool name",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#GetIpPoolResponseIpsItemCustomDns": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "a boolean indicating whether custom dns has been configured for this ip"
          }
        },
        "valid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the ip's custom dns is currently valid"
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "if the ip's custom dns is invalid, this will include details about the error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about the ip's custom dns, if it has been configured"
      }
    },
    "com.mailchimp.transactional#GetIpPoolResponseIpsItemWarmup": {
      "type": "structure",
      "members": {
        "warming_up": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the ip is currently in warmup mode"
          }
        },
        "start_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "end_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about the ip's warmup status"
      }
    },
    "com.mailchimp.transactional#GetIpPoolResponseIpsItem": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the ip address"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the name of the pool that this dedicated IP belongs to"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the domain name (reverse dns) of this dedicated IP"
          }
        },
        "custom_dns": {
          "target": "com.mailchimp.transactional#GetIpPoolResponseIpsItemCustomDns",
          "traits": {
            "smithy.api#documentation": "information about the ip's custom dns, if it has been configured"
          }
        },
        "warmup": {
          "target": "com.mailchimp.transactional#GetIpPoolResponseIpsItemWarmup",
          "traits": {
            "smithy.api#documentation": "information about the ip's warmup status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about each dedicated IP"
      }
    },
    "com.mailchimp.transactional#GetIpPoolResponseIpsList": {
      "type": "list",
      "member": {
        "target": "com.mailchimp.transactional#GetIpPoolResponseIpsItem"
      },
      "traits": {
        "smithy.api#documentation": "the dedicated IPs in this pool"
      }
    },
    "com.mailchimp.transactional#GetIpPoolResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "this pool's name"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that this pool was created as a UTC timestamp in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "ips": {
          "target": "com.mailchimp.transactional#GetIpPoolResponseIpsList",
          "traits": {
            "smithy.api#documentation": "the dedicated IPs in this pool"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#GetIpPool": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#GetIpPoolRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#GetIpPoolResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ips/pool-info",
          "code": 200
        },
        "smithy.api#documentation": "Get ip pool info\n\nDescribes a single dedicated IP pool."
      }
    },
    "com.mailchimp.transactional#CreateIpPoolRequest": {
      "type": "structure",
      "members": {
        "pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the name of a pool to create",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#CreateIpPoolResponseIpsItemCustomDns": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "a boolean indicating whether custom dns has been configured for this ip"
          }
        },
        "valid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the ip's custom dns is currently valid"
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "if the ip's custom dns is invalid, this will include details about the error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about the ip's custom dns, if it has been configured"
      }
    },
    "com.mailchimp.transactional#CreateIpPoolResponseIpsItemWarmup": {
      "type": "structure",
      "members": {
        "warming_up": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the ip is currently in warmup mode"
          }
        },
        "start_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "end_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about the ip's warmup status"
      }
    },
    "com.mailchimp.transactional#CreateIpPoolResponseIpsItem": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the ip address"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the name of the pool that this dedicated IP belongs to"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the domain name (reverse dns) of this dedicated IP"
          }
        },
        "custom_dns": {
          "target": "com.mailchimp.transactional#CreateIpPoolResponseIpsItemCustomDns",
          "traits": {
            "smithy.api#documentation": "information about the ip's custom dns, if it has been configured"
          }
        },
        "warmup": {
          "target": "com.mailchimp.transactional#CreateIpPoolResponseIpsItemWarmup",
          "traits": {
            "smithy.api#documentation": "information about the ip's warmup status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about each dedicated IP"
      }
    },
    "com.mailchimp.transactional#CreateIpPoolResponseIpsList": {
      "type": "list",
      "member": {
        "target": "com.mailchimp.transactional#CreateIpPoolResponseIpsItem"
      },
      "traits": {
        "smithy.api#documentation": "the dedicated IPs in this pool"
      }
    },
    "com.mailchimp.transactional#CreateIpPoolResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "this pool's name"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that this pool was created as a UTC timestamp in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "ips": {
          "target": "com.mailchimp.transactional#CreateIpPoolResponseIpsList",
          "traits": {
            "smithy.api#documentation": "the dedicated IPs in this pool"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#CreateIpPool": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#CreateIpPoolRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#CreateIpPoolResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ips/create-pool",
          "code": 200
        },
        "smithy.api#documentation": "Add ip pool\n\nCreates a pool and returns it. If a pool already exists with this name, no action will be performed."
      }
    },
    "com.mailchimp.transactional#DeleteIpPoolRequest": {
      "type": "structure",
      "members": {
        "pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the name of the pool to delete",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#DeleteIpPoolResponse": {
      "type": "structure",
      "members": {
        "pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the name of the pool"
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the pool was deleted"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#DeleteIpPool": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#DeleteIpPoolRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#DeleteIpPoolResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ips/delete-pool",
          "code": 200
        },
        "smithy.api#documentation": "Delete ip pool\n\nDeletes a pool. A pool must be empty before you can delete it, and you cannot delete your default pool."
      }
    },
    "com.mailchimp.transactional#CheckIpCustomDnsRequest": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a dedicated ip address",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the domain name to test",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#CheckIpCustomDnsResponse": {
      "type": "structure",
      "members": {
        "valid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "whether the domain name has a correctly-configured A record pointing to the ip address"
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "if valid is false, this will contain details about why the domain's A record is incorrect"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#CheckIpCustomDns": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#CheckIpCustomDnsRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#CheckIpCustomDnsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ips/check-custom-dns",
          "code": 200
        },
        "smithy.api#documentation": "Test custom dns\n\nTests whether a domain name is valid for use as the custom reverse DNS for a dedicated IP."
      }
    },
    "com.mailchimp.transactional#SetIpCustomDnsRequest": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a dedicated ip address",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a domain name to set as the dedicated IP's custom dns name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#SetIpCustomDnsResponseCustomDns": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "a boolean indicating whether custom dns has been configured for this ip"
          }
        },
        "valid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the ip's custom dns is currently valid"
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "if the ip's custom dns is invalid, this will include details about the error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about the ip's custom dns, if it has been configured"
      }
    },
    "com.mailchimp.transactional#SetIpCustomDnsResponseWarmup": {
      "type": "structure",
      "members": {
        "warming_up": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the ip is currently in warmup mode"
          }
        },
        "start_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "end_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "information about the ip's warmup status"
      }
    },
    "com.mailchimp.transactional#SetIpCustomDnsResponse": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the ip address"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the name of the pool that this dedicated IP belongs to"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the domain name (reverse dns) of this dedicated IP"
          }
        },
        "custom_dns": {
          "target": "com.mailchimp.transactional#SetIpCustomDnsResponseCustomDns",
          "traits": {
            "smithy.api#documentation": "information about the ip's custom dns, if it has been configured"
          }
        },
        "warmup": {
          "target": "com.mailchimp.transactional#SetIpCustomDnsResponseWarmup",
          "traits": {
            "smithy.api#documentation": "information about the ip's warmup status"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.mailchimp.transactional#SetIpCustomDns": {
      "type": "operation",
      "input": {
        "target": "com.mailchimp.transactional#SetIpCustomDnsRequest"
      },
      "output": {
        "target": "com.mailchimp.transactional#SetIpCustomDnsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ips/set-custom-dns",
          "code": 200
        },
        "smithy.api#documentation": "Set custom dns\n\nConfigures the custom DNS name for a dedicated IP."
      }
    },
    "com.mailchimp.transactional#GetMcTemplateRequest": {
      "type": "structure",
      "members": {
        "mc_template_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the id of the Mailchimp template",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mailchimp.transactional#GetMcTemplateResponseLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of labels (always empty for transactional templates)"
      }
    },
    "com.mailchimp.transactional#GetMcTemplateResponse": {
      "type": "structure",
      "members": {
        "mc_template_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Mailchimp template ID"
          }
        },
        "mc_template_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Template name"
          }
        },
        "labels": {
          "target": "com.mailchimp.transactional#GetMcTemplateResponseLabelsList",
          "traits": {
            "smithy.api#documentation": "Array of labels (always empty for transactional templates)"
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Template HTML (draft version)"
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default subject line"
          }
        },
        "from_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default sending address"
          }
        },
        "from_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default from name"
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Template text (draft version)"
          }
        },
        "publish_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Template HTML (published version)"
          }
        },
        "publish_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Template text (published version)"
          }
        },
        "published_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date and time when template was published in UTC YYYY-MM-DD HH:MM:SS format"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
[...]
