{
  "smithy": "2.0",
  "metadata": {
    "service": "agentregistry",
    "version": "v1alpha",
    "title": "Agent Registry API",
    "baseUrl": "https://agentregistry.googleapis.com/",
    "distilled.finalized": true
  },
  "shapes": {
    "com.gcp.agentregistry_v1alpha#SearchAgentsRequest": {
      "type": "structure",
      "members": {
        "searchString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Search criteria used to select the Agents to return. If no search criteria is specified then all accessible Agents will be returned. Search expressions can be used to restrict results based upon searchable fields, where the operators can be used along with the suffix wildcard symbol `*`. See [instructions](https://docs.cloud.google.com/agent-registry/search-agents-and-tools) for more details. Allowed operators: `=`, `:`, `NOT`, `AND`, `OR`, and `()`. Searchable fields: | Field | `=` | `:` | `*` | Keyword Search | |--------------------|-----|-----|-----|----------------| | agentId | Yes | Yes | Yes | Included | | name | No | Yes | Yes | Included | | displayName | No | Yes | Yes | Included | | description | No | Yes | No | Included | | skills | No | Yes | No | Included | | skills.id | No | Yes | No | Included | | skills.name | No | Yes | No | Included | | skills.description | No | Yes | No | Included | | skills.tags | No | Yes | No | Included | | skills.examples | No | Yes | No | Included | Examples: * `agentId=\"urn:agent:projects-123:projects:123:locations:us-central1:reasoningEngines:1234\"` to find the agent with the specified agent ID. * `name:important` to find agents whose name contains `important` as a word. * `displayName:works*` to find agents whose display name contains words that start with `works`. * `skills.tags:test` to find agents whose skills tags contain `test`. * `planner OR booking` to find agents whose metadata contains the words `planner` or `booking`."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If present, retrieve the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of all other method parameters, must be identical to those in the previous call."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of search results to return per page. The page size is capped at `100`, even if a larger value is specified. A negative value will result in an `INVALID_ARGUMENT` error. If unspecified or set to `0`, a default value of `20` will be used. The server may return fewer results than requested."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for searching Agents"
      }
    },
    "com.gcp.agentregistry_v1alpha#Tool": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.gcp.agentregistry_v1alpha#Annotations",
          "traits": {
            "smithy.api#documentation": "Output only. Annotations associated with the tool."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Description of what the tool does."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable name of the tool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single tool provided by an MCP Server."
      }
    },
    "com.gcp.agentregistry_v1alpha#ListPublishersResponse": {
      "type": "structure",
      "members": {
        "publishers": {
          "target": "com.gcp.agentregistry_v1alpha#PublisherList",
          "traits": {
            "smithy.api#documentation": "The returned list of Publishers."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page offset continuation token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response listing Publishers."
      }
    },
    "com.gcp.agentregistry_v1alpha#PublisherList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Publisher"
      }
    },
    "com.gcp.agentregistry_v1alpha#SearchMcpServersRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If present, retrieve the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of all other method parameters, must be identical to those in the previous call."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of search results to return per page. The page size is capped at `100`, even if a larger value is specified. A negative value will result in an `INVALID_ARGUMENT` error. If unspecified or set to `0`, a default value of `20` will be used. The server may return fewer results than requested."
          }
        },
        "searchString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Search criteria used to select the MCP Servers to return. If no search criteria is specified then all accessible MCP Servers will be returned. Search expressions can be used to restrict results based upon searchable fields, where the operators can be used along with the suffix wildcard symbol `*`. See [instructions](https://docs.cloud.google.com/agent-registry/search-agents-and-tools) for more details. Allowed operators: `=`, `:`, `NOT`, `AND`, `OR`, and `()`. Searchable fields: | Field | `=` | `:` | `*` | Keyword Search | |--------------------|-----|-----|-----|----------------| | mcpServerId | Yes | Yes | Yes | Included | | name | No | Yes | Yes | Included | | displayName | No | Yes | Yes | Included | Examples: * `mcpServerId=\"urn:mcp:projects-123:projects:123:locations:us-central1:agentregistry:services:service-id\"` to find the MCP Server with the specified MCP Server ID. * `name:important` to find MCP Servers whose name contains `important` as a word. * `displayName:works*` to find MCP Servers whose display name contains words that start with `works`. * `planner OR booking` to find MCP Servers whose metadata contains the words `planner` or `booking`. * `mcpServerId:service-id AND (displayName:planner OR displayName:booking)` to find MCP Servers whose MCP Server ID contains `service-id` and whose display name contains `planner` or `booking`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for searching MCP Servers"
      }
    },
    "com.gcp.agentregistry_v1alpha#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.agentregistry_v1alpha#AuthProviderBinding": {
      "type": "structure",
      "members": {
        "authProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the target AuthProvider. Format: * `projects/{project}/locations/{location}/authProviders/{auth_provider}`"
          }
        },
        "continueUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The continue URI of the AuthProvider. The URI is used to reauthenticate the user and finalize the managed OAuth flow."
          }
        },
        "scopes": {
          "target": "com.gcp.agentregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of OAuth2 scopes of the AuthProvider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The AuthProvider of the Binding."
      }
    },
    "com.gcp.agentregistry_v1alpha#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.agentregistry_v1alpha#Skill": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The publisher resource associated with this skill. Format: `projects/{project}/locations/{location}/publishers/{publisher}` The publisher dictates the allowed namespace prefixes for the skill's name and logical `skill_id` (e.g., Publisher `google` authorizes the `google-*` prefix)."
          }
        },
        "frontmatter": {
          "target": "com.gcp.agentregistry_v1alpha#Frontmatter",
          "traits": {
            "smithy.api#documentation": "Output only. Lightweight frontmatter metadata attributes copied from the default revision."
          }
        },
        "state": {
          "target": "com.gcp.agentregistry_v1alpha#SkillStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The system-managed state of the skill."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Brief summary describing the capabilities of the skill. Maximum length is 2048 characters."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the Skill. Format: `projects/{project}/locations/{location}/skills/{skill}` The `{skill}` segment acts as the resource ID. If the skill is associated with a Publisher, this segment typically uses a hyphenated namespace prefix corresponding to the publisher (e.g., `google-workspace-create-docs`)."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        },
        "type": {
          "target": "com.gcp.agentregistry_v1alpha#SkillTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Structural deployment type (SIMPLE leaf vs COMPOSITE bundle)."
          }
        },
        "defaultRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The full resource name of the revision currently served by default (floating track). Format: `projects/{project}/locations/{location}/skills/{skill}/revisions/{revision}`"
          }
        },
        "initialRevision": {
          "target": "com.gcp.agentregistry_v1alpha#SkillRevision",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Optional nested initial revision payload to support standard one-shot creation. The server processes this field on input during creation but must never return it in responses."
          }
        },
        "skillId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A stable, globally unique logical identifier for the skill. It is securely constructed by the backend by combining the associated `publisher`'s verified namespace and the skill's resource ID to enforce strict ownership. For example, the prefix `google-` is reserved exclusively for first-party Google publishers to prevent namespace squatting. Example: `urn:skill:google-workspace:create-docs`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Human-readable display name of the skill. Maximum length is 128 characters."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Universally unique identifier (UUID4) for the logical container."
          }
        },
        "targetState": {
          "target": "com.gcp.agentregistry_v1alpha#SkillTargetStateEnum",
          "traits": {
            "smithy.api#documentation": "Required. User-managed target state of the skill."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an Executable Agent Skill or a Composite Tool Suite (Bundle). Sibling resource with Agent and McpServer under agentregistry.googleapis.com."
      }
    },
    "com.gcp.agentregistry_v1alpha#SkillStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STATE_CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_CREATING"
          }
        },
        "STATE_DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_DRAFT"
          }
        },
        "STATE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_ACTIVE"
          }
        },
        "STATE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_DISABLED"
          }
        },
        "STATE_DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_DEPRECATED"
          }
        },
        "STATE_DECOMMISSIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_DECOMMISSIONED"
          }
        },
        "STATE_DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_DELETING"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#SkillTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "SIMPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIMPLE"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#SkillTargetStateEnum": {
      "type": "enum",
      "members": {
        "TARGET_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_STATE_UNSPECIFIED"
          }
        },
        "TARGET_STATE_DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_STATE_DRAFT"
          }
        },
        "TARGET_STATE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_STATE_ACTIVE"
          }
        },
        "TARGET_STATE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_STATE_DISABLED"
          }
        },
        "TARGET_STATE_DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_STATE_DEPRECATED"
          }
        },
        "TARGET_STATE_DECOMMISSIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_STATE_DECOMMISSIONED"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.agentregistry_v1alpha#GoogleIamV1TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.agentregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.agentregistry_v1alpha#SearchSkillsResponse": {
      "type": "structure",
      "members": {
        "skills": {
          "target": "com.gcp.agentregistry_v1alpha#SkillList",
          "traits": {
            "smithy.api#documentation": "Matched Skills list."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Query page offset continuation token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response listing searched Skills."
      }
    },
    "com.gcp.agentregistry_v1alpha#SkillList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Skill"
      }
    },
    "com.gcp.agentregistry_v1alpha#Annotations": {
      "type": "structure",
      "members": {
        "readOnlyHint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, the tool does not modify its environment. Default: false"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A human-readable title for the tool."
          }
        },
        "openWorldHint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, this tool may interact with an \"open world\" of external entities. If false, the tool's domain of interaction is closed. For example, the world of a web search tool is open, whereas that of a memory tool is not. Default: true"
          }
        },
        "destructiveHint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, the tool may perform destructive updates to its environment. If false, the tool performs only additive updates. NOTE: This property is meaningful only when `read_only_hint == false` Default: true"
          }
        },
        "idempotentHint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, calling the tool repeatedly with the same arguments will have no additional effect on its environment. NOTE: This property is meaningful only when `read_only_hint == false` Default: false"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Annotations describing the characteristics and behavior of a tool or operation."
      }
    },
    "com.gcp.agentregistry_v1alpha#ListServicesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return. Used in page_token."
          }
        },
        "services": {
          "target": "com.gcp.agentregistry_v1alpha#ServiceList",
          "traits": {
            "smithy.api#documentation": "The list of Service resources matching the parent and filter criteria in the request. Each Service resource follows the format: `projects/{project}/locations/{location}/services/{service}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Services"
      }
    },
    "com.gcp.agentregistry_v1alpha#ServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Service"
      }
    },
    "com.gcp.agentregistry_v1alpha#Card": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Output only. The content of the agent card."
          }
        },
        "type": {
          "target": "com.gcp.agentregistry_v1alpha#CardTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of agent card."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Full Agent Card payload, often obtained from the A2A Agent Card."
      }
    },
    "com.gcp.agentregistry_v1alpha#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.agentregistry_v1alpha#CardTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "A2A_AGENT_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2A_AGENT_CARD"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#Interface": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The destination URL."
          }
        },
        "protocolBinding": {
          "target": "com.gcp.agentregistry_v1alpha#InterfaceProtocolBindingEnum",
          "traits": {
            "smithy.api#documentation": "Required. The protocol binding of the interface."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the connection details for an Agent or MCP Server."
      }
    },
    "com.gcp.agentregistry_v1alpha#InterfaceProtocolBindingEnum": {
      "type": "enum",
      "members": {
        "PROTOCOL_BINDING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOCOL_BINDING_UNSPECIFIED"
          }
        },
        "JSONRPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSONRPC"
          }
        },
        "GRPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRPC"
          }
        },
        "HTTP_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_JSON"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#Frontmatter": {
      "type": "structure",
      "members": {
        "license": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. License."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Functional description."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the skill."
          }
        },
        "compatibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Environmental dependencies or local sidecars."
          }
        },
        "metadata": {
          "target": "com.gcp.agentregistry_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Extensible flattened map mapping custom tags, authors, and version parameters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structured metadata attributes extracted from the package's local SKILL.md frontmatter."
      }
    },
    "com.gcp.agentregistry_v1alpha#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.agentregistry_v1alpha#EndpointSpec": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.agentregistry_v1alpha#EndpointSpecTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the endpoint spec content."
          }
        },
        "content": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. The content of the endpoint spec. Reserved for future use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The spec of the endpoint."
      }
    },
    "com.gcp.agentregistry_v1alpha#EndpointSpecTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "NO_SPEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SPEC"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#GoogleIamV1SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.agentregistry_v1alpha#GoogleIamV1Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.agentregistry_v1alpha#Protocol": {
      "type": "structure",
      "members": {
        "protocolVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The version of the protocol, for example, the A2A Agent Card version."
          }
        },
        "interfaces": {
          "target": "com.gcp.agentregistry_v1alpha#InterfaceList",
          "traits": {
            "smithy.api#documentation": "Output only. The connection details for the Agent."
          }
        },
        "type": {
          "target": "com.gcp.agentregistry_v1alpha#ProtocolTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the protocol."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the protocol of an Agent."
      }
    },
    "com.gcp.agentregistry_v1alpha#InterfaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Interface"
      }
    },
    "com.gcp.agentregistry_v1alpha#ProtocolTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "A2A_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2A_AGENT"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#A2ASkill": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.gcp.agentregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Keywords describing the skill."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A unique identifier for the agent's skill."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A more detailed description of the skill."
          }
        },
        "examples": {
          "target": "com.gcp.agentregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Example prompts or scenarios this skill can handle."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A human-readable name for the agent's skill."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the skills of an Agent."
      }
    },
    "com.gcp.agentregistry_v1alpha#FetchAvailableBindingsResponse": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.agentregistry_v1alpha#BindingList",
          "traits": {
            "smithy.api#documentation": "The list of Bindings."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to fetching available Bindings."
      }
    },
    "com.gcp.agentregistry_v1alpha#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Binding"
      }
    },
    "com.gcp.agentregistry_v1alpha#OperationMetadata": {
      "type": "structure",
      "members": {
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.agentregistry_v1alpha#Source": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the source Agent. Format: * `urn:agent:{publisher}:{namespace}:{name}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The source of the Binding."
      }
    },
    "com.gcp.agentregistry_v1alpha#ListSkillsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page continuation continuation token."
          }
        },
        "unreachable": {
          "target": "com.gcp.agentregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable locations or failures."
          }
        },
        "skills": {
          "target": "com.gcp.agentregistry_v1alpha#SkillList",
          "traits": {
            "smithy.api#documentation": "Returned container list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response structure listing logical Skills."
      }
    },
    "com.gcp.agentregistry_v1alpha#ListAgentsResponse": {
      "type": "structure",
      "members": {
        "agents": {
          "target": "com.gcp.agentregistry_v1alpha#AgentList",
          "traits": {
            "smithy.api#documentation": "The list of Agents."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Agents"
      }
    },
    "com.gcp.agentregistry_v1alpha#AgentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Agent"
      }
    },
    "com.gcp.agentregistry_v1alpha#GoogleIamV1AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.agentregistry_v1alpha#GoogleIamV1AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.agentregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.agentregistry_v1alpha#GoogleIamV1AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.agentregistry_v1alpha#GoogleIamV1Policy": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.agentregistry_v1alpha#GoogleIamV1BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.agentregistry_v1alpha#GoogleIamV1AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.agentregistry_v1alpha#GoogleIamV1BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#GoogleIamV1Binding"
      }
    },
    "com.gcp.agentregistry_v1alpha#GoogleIamV1AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#GoogleIamV1AuditConfig"
      }
    },
    "com.gcp.agentregistry_v1alpha#Operation": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "response": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "error": {
          "target": "com.gcp.agentregistry_v1alpha#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.agentregistry_v1alpha#GcsSource": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Cloud Storage object URI. Format: `gs://{bucket_name}/{object_name}`"
          }
        },
        "generation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Cloud Storage object generation ID. If not specified, the latest generation is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifications for Cloud Storage objects."
      }
    },
    "com.gcp.agentregistry_v1alpha#ListSkillRevisionsResponse": {
      "type": "structure",
      "members": {
        "skillRevisions": {
          "target": "com.gcp.agentregistry_v1alpha#SkillRevisionList",
          "traits": {
            "smithy.api#documentation": "Returned version snapshot list."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page offset continuation token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response listing Revisions."
      }
    },
    "com.gcp.agentregistry_v1alpha#SkillRevisionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#SkillRevision"
      }
    },
    "com.gcp.agentregistry_v1alpha#McpServer": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the MCP Server. Format: `projects/{project}/locations/{location}/mcpServers/{mcp_server}`."
          }
        },
        "mcpServerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A stable, globally unique identifier for MCP Servers."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        },
        "attributes": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "Output only. Attributes of the MCP Server. Valid values: * `agentregistry.googleapis.com/system/RuntimeIdentity`: {\"principal\": \"principal://...\"} - the runtime identity associated with the MCP Server. * `agentregistry.googleapis.com/system/RuntimeReference`: {\"uri\": \"//...\"} - the URI of the underlying resource hosting the MCP Server, for example, the GKE Deployment."
          }
        },
        "tools": {
          "target": "com.gcp.agentregistry_v1alpha#ToolList",
          "traits": {
            "smithy.api#documentation": "Output only. Tools provided by the MCP Server."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the MCP Server."
          }
        },
        "interfaces": {
          "target": "com.gcp.agentregistry_v1alpha#InterfaceList",
          "traits": {
            "smithy.api#documentation": "Output only. The connection details for the MCP Server."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The description of the MCP Server."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an MCP (Model Context Protocol) Server."
      }
    },
    "com.gcp.agentregistry_v1alpha#DocumentMapMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.agentregistry_v1alpha#DocumentMap"
      }
    },
    "com.gcp.agentregistry_v1alpha#ToolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Tool"
      }
    },
    "com.gcp.agentregistry_v1alpha#Service": {
      "type": "structure",
      "members": {
        "mcpServerSpec": {
          "target": "com.gcp.agentregistry_v1alpha#McpServerSpec",
          "traits": {
            "smithy.api#documentation": "Optional. The spec of the MCP Server. When `mcp_server_spec` is set, the type of the service is MCP Server."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        },
        "registryResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the resulting Agent, MCP Server, or Endpoint. Format: * `projects/{project}/locations/{location}/mcpServers/{mcp_server}` * `projects/{project}/locations/{location}/agents/{agent}` * `projects/{project}/locations/{location}/endpoints/{endpoint}`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined display name for the Service. Can have a maximum length of `63` characters."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined description of an Service. Can have a maximum length of `2048` characters."
          }
        },
        "endpointSpec": {
          "target": "com.gcp.agentregistry_v1alpha#EndpointSpec",
          "traits": {
            "smithy.api#documentation": "Optional. The spec of the Endpoint. When `endpoint_spec` is set, the type of the service is Endpoint."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the Service. Format: `projects/{project}/locations/{location}/services/{service}`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        },
        "agentSpec": {
          "target": "com.gcp.agentregistry_v1alpha#AgentSpec",
          "traits": {
            "smithy.api#documentation": "Optional. The spec of the Agent. When `agent_spec` is set, the type of the service is Agent."
          }
        },
        "interfaces": {
          "target": "com.gcp.agentregistry_v1alpha#InterfaceList",
          "traits": {
            "smithy.api#documentation": "Optional. The connection details for the Service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a user-defined Service."
      }
    },
    "com.gcp.agentregistry_v1alpha#Target": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the target Agent, MCP Server, or Endpoint. Format: * `urn:agent:{publisher}:{namespace}:{name}` * `urn:mcp:{publisher}:{namespace}:{name}` * `urn:endpoint:{publisher}:{namespace}:{name}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The target of the Binding."
      }
    },
    "com.gcp.agentregistry_v1alpha#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.agentregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "operations": {
          "target": "com.gcp.agentregistry_v1alpha#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.agentregistry_v1alpha#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Operation"
      }
    },
    "com.gcp.agentregistry_v1alpha#GoogleIamV1AuditConfig": {
      "type": "structure",
      "members": {
        "auditLogConfigs": {
          "target": "com.gcp.agentregistry_v1alpha#GoogleIamV1AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.agentregistry_v1alpha#GoogleIamV1AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#GoogleIamV1AuditLogConfig"
      }
    },
    "com.gcp.agentregistry_v1alpha#SearchAgentsResponse": {
      "type": "structure",
      "members": {
        "agents": {
          "target": "com.gcp.agentregistry_v1alpha#AgentList",
          "traits": {
            "smithy.api#documentation": "A list of Agents that match the `search_string`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to searching Agents"
      }
    },
    "com.gcp.agentregistry_v1alpha#AgentSpec": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.agentregistry_v1alpha#AgentSpecTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the agent spec content."
          }
        },
        "content": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. The content of the Agent spec in the JSON format. This payload is validated against the schema for the specified type. The content size is limited to `10KB`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The spec of the agent."
      }
    },
    "com.gcp.agentregistry_v1alpha#AgentSpecTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "NO_SPEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SPEC"
          }
        },
        "A2A_AGENT_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2A_AGENT_CARD"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#GoogleIamV1TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.agentregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.agentregistry_v1alpha#Endpoint": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Description of an Endpoint."
          }
        },
        "endpointId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A stable, globally unique identifier for Endpoint."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display name for the Endpoint."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        },
        "attributes": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "Output only. Attributes of the Endpoint. Valid values: * `agentregistry.googleapis.com/system/RuntimeReference`: {\"uri\": \"//...\"} - the URI of the underlying resource hosting the Endpoint, for example, the GKE Deployment."
          }
        },
        "interfaces": {
          "target": "com.gcp.agentregistry_v1alpha#InterfaceList",
          "traits": {
            "smithy.api#documentation": "Required. The connection details for the Endpoint."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the Endpoint. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an Endpoint."
      }
    },
    "com.gcp.agentregistry_v1alpha#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.agentregistry_v1alpha#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#DocumentMap"
      }
    },
    "com.gcp.agentregistry_v1alpha#Publisher": {
      "type": "structure",
      "members": {
        "supportUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. URI pointing to the support portal or email."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the publisher. Format: `projects/{project}/locations/{location}/publishers/{publisher}`"
          }
        },
        "verifiedPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The verified prefix (e.g. \"snowflake-\", \"google-\") associated with this publisher. The system uses this prefix to enforce name-squatting rules during Skill registration. Must be globally unique across all publishers."
          }
        },
        "publisherTier": {
          "target": "com.gcp.agentregistry_v1alpha#PublisherPublisherTierEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The curation tier of the publisher."
          }
        },
        "documentationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. URI pointing to official publisher documentation."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human readable display name of the publisher."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a verified Publisher of Skills. Prepopulated publishers include `publishers/cloud.google.com` and `publishers/workspace.google.com`."
      }
    },
    "com.gcp.agentregistry_v1alpha#PublisherPublisherTierEnum": {
      "type": "enum",
      "members": {
        "PUBLISHER_TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHER_TIER_UNSPECIFIED"
          }
        },
        "FIRST_PARTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRST_PARTY"
          }
        },
        "THIRD_PARTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIRD_PARTY"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#SearchMcpServersResponse": {
      "type": "structure",
      "members": {
        "mcpServers": {
          "target": "com.gcp.agentregistry_v1alpha#McpServerList",
          "traits": {
            "smithy.api#documentation": "A list of McpServers that match the `search_string`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to searching MCP Servers"
      }
    },
    "com.gcp.agentregistry_v1alpha#McpServerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#McpServer"
      }
    },
    "com.gcp.agentregistry_v1alpha#ListBindingsResponse": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.agentregistry_v1alpha#BindingList",
          "traits": {
            "smithy.api#documentation": "The list of Binding resources matching the parent and filter criteria in the request. Each Binding resource follows the format: `projects/{project}/locations/{location}/bindings/{binding}`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return. Used in page_token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Bindings"
      }
    },
    "com.gcp.agentregistry_v1alpha#ListEndpointsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return. Used in page_token."
          }
        },
        "endpoints": {
          "target": "com.gcp.agentregistry_v1alpha#EndpointList",
          "traits": {
            "smithy.api#documentation": "The list of Endpoint resources matching the parent and filter criteria in the request. Each Endpoint resource follows the format: `projects/{project}/locations/{location}/endpoints/{endpoint}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Endpoints"
      }
    },
    "com.gcp.agentregistry_v1alpha#EndpointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Endpoint"
      }
    },
    "com.gcp.agentregistry_v1alpha#ArchiveUploadSource": {
      "type": "structure",
      "members": {
        "archiveContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. Write-only raw ZIP/TAR archive payload bytes containing the skill package."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Direct write-only raw archive payload upload."
      }
    },
    "com.gcp.agentregistry_v1alpha#Agent": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The location where agent is hosted. The value is defined by the hosting environment (i.e. cloud provider)."
          }
        },
        "protocols": {
          "target": "com.gcp.agentregistry_v1alpha#ProtocolList",
          "traits": {
            "smithy.api#documentation": "Output only. The connection details for the Agent."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of an Agent. Format: `projects/{project}/locations/{location}/agents/{agent}`."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The version of the Agent, often obtained from the A2A Agent Card. Empty if Agent Card has no version or agent is not an A2A Agent."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The description of the Agent, often obtained from the A2A Agent Card. Empty if Agent Card has no description."
          }
        },
        "card": {
          "target": "com.gcp.agentregistry_v1alpha#Card",
          "traits": {
            "smithy.api#documentation": "Output only. Full Agent Card payload, when available."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        },
        "attributes": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "Output only. Attributes of the Agent. Valid values: * `agentregistry.googleapis.com/system/Framework`: {\"framework\": \"google-adk\"} - the agent framework used to develop the Agent. Example values: \"google-adk\", \"langchain\", \"custom\". * `agentregistry.googleapis.com/system/RuntimeIdentity`: {\"principal\": \"principal://...\"} - the runtime identity associated with the Agent. * `agentregistry.googleapis.com/system/RuntimeReference`: {\"uri\": \"//...\"} - the URI of the underlying resource hosting the Agent, for example, the Reasoning Engine URI."
          }
        },
        "skills": {
          "target": "com.gcp.agentregistry_v1alpha#A2ASkillList",
          "traits": {
            "smithy.api#documentation": "Output only. Skills the agent possesses, often obtained from the A2A Agent Card."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A universally unique identifier for the Agent."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the agent, often obtained from the A2A Agent Card."
          }
        },
        "agentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A stable, globally unique identifier for agents."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an Agent. \"A2A\" below refers to the Agent-to-Agent protocol."
      }
    },
    "com.gcp.agentregistry_v1alpha#ProtocolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Protocol"
      }
    },
    "com.gcp.agentregistry_v1alpha#A2ASkillList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#A2ASkill"
      }
    },
    "com.gcp.agentregistry_v1alpha#Location": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "labels": {
          "target": "com.gcp.agentregistry_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.agentregistry_v1alpha#ListMcpServersResponse": {
      "type": "structure",
      "members": {
        "mcpServers": {
          "target": "com.gcp.agentregistry_v1alpha#McpServerList",
          "traits": {
            "smithy.api#documentation": "The list of McpServers."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing McpServers"
      }
    },
    "com.gcp.agentregistry_v1alpha#SkillRevision": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Revision creation timestamp."
          }
        },
        "frontmatter": {
          "target": "com.gcp.agentregistry_v1alpha#Frontmatter",
          "traits": {
            "smithy.api#documentation": "Output only. Extracted YAML frontmatter configuration snapshot."
          }
        },
        "sizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Size of the compiled zip payload in bytes (assists client download progress)."
          }
        },
        "state": {
          "target": "com.gcp.agentregistry_v1alpha#SkillRevisionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The system-managed lifecycle state of this revision."
          }
        },
        "sha256Hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Cryptographic SHA-256 integrity and deduplication digest of the payload zip."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Universally unique identifier (UUID4) for the skill revision."
          }
        },
        "archiveUploadSource": {
          "target": "com.gcp.agentregistry_v1alpha#ArchiveUploadSource",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Direct write-only raw archive upload source."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the SkillRevision. Format: `projects/{project}/locations/{location}/skills/{skill}/revisions/{revision}`"
          }
        },
        "gcsSource": {
          "target": "com.gcp.agentregistry_v1alpha#GcsSource",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Cloud Storage object generation URI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an immutable, versioned snapshot of a Skill package."
      }
    },
    "com.gcp.agentregistry_v1alpha#SkillRevisionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#GoogleIamV1Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "condition": {
          "target": "com.gcp.agentregistry_v1alpha#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "members": {
          "target": "com.gcp.agentregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.agentregistry_v1alpha#Binding": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.gcp.agentregistry_v1alpha#Source",
          "traits": {
            "smithy.api#documentation": "Required. The target Agent of the Binding."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this binding was last updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. The resource name of the Binding. Format: `projects/{project}/locations/{location}/bindings/{binding}`."
          }
        },
        "target": {
          "target": "com.gcp.agentregistry_v1alpha#Target",
          "traits": {
            "smithy.api#documentation": "Required. The target Agent Registry Resource of the Binding."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this binding was created."
          }
        },
        "authProviderBinding": {
          "target": "com.gcp.agentregistry_v1alpha#AuthProviderBinding",
          "traits": {
            "smithy.api#documentation": "The binding for AuthProvider."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined display name for the Binding. Can have a maximum length of `63` characters."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined description of a Binding. Can have a maximum length of `2048` characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a user-defined Binding."
      }
    },
    "com.gcp.agentregistry_v1alpha#McpServerSpec": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. The content of the MCP Server spec. This payload is validated against the schema for the specified type. The content size is limited to `10KB`."
          }
        },
        "type": {
          "target": "com.gcp.agentregistry_v1alpha#McpServerSpecTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the MCP Server spec content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The spec of the MCP Server."
      }
    },
    "com.gcp.agentregistry_v1alpha#McpServerSpecTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "NO_SPEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SPEC"
          }
        },
        "TOOL_SPEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOOL_SPEC"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.agentregistry_v1alpha#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.agentregistry_v1alpha#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Location"
      }
    },
    "com.gcp.agentregistry_v1alpha#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.agentregistry_v1alpha#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.agentregistry_v1alpha#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1alpha#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1alpha#Location"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.agentregistry_v1alpha#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.agentregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1alpha#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1alpha#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#SetIamPolicyProjectsLocationsAiApplicationsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.agentregistry_v1alpha#GoogleIamV1SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.agentregistry_v1alpha#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.agentregistry_v1alpha#SetIamPolicyProjectsLocationsAiApplications": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1alpha#SetIamPolicyProjectsLocationsAiApplicationsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1alpha#GoogleIamV1Policy"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
      }
    },
    "com.gcp.agentregistry_v1alpha#GetIamPolicyProjectsLocationsAiApplicationsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#GetIamPolicyProjectsLocationsAiApplications": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1alpha#GetIamPolicyProjectsLocationsAiApplicationsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1alpha#GoogleIamV1Policy"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
      }
    },
    "com.gcp.agentregistry_v1alpha#TestIamPermissionsProjectsLocationsAiApplicationsRequest": {
      "type": "structure",
[...]
