{
  "smithy": "2.0",
  "metadata": {
    "service": "backupdr",
    "version": "v1beta",
    "title": "Backup and DR Service API",
    "baseUrl": "https://backupdr.googleapis.com/",
    "distilled.finalized": true
  },
  "shapes": {
    "com.gcp.backupdr_v1beta#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.backupdr_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.backupdr_v1beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.backupdr_v1beta#BackupPlanAssociation": {
      "type": "structure",
      "members": {
        "filestoreInstanceBackupPlanAssociationProperties": {
          "target": "com.gcp.backupdr_v1beta#FilestoreInstanceBackupPlanAssociationProperties",
          "traits": {
            "smithy.api#documentation": "Output only. Filestore instance's backup plan association properties."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The resource name of BackupPlanAssociation in below format Format : projects/{project}/locations/{location}/backupPlanAssociations/{backupPlanAssociationId}"
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Resource type of workload on which backupplan is applied"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Resource name of workload on which the backup plan is applied. The format can either be the resource name (e.g., \"projects/my-project/zones/us-central1-a/instances/my-instance\") or the full resource URI (e.g., \"https://www.googleapis.com/compute/v1/projects/my-project/zones/us-central1-a/instances/my-instance\")."
          }
        },
        "backupPlanRevisionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource id of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision_id}`"
          }
        },
        "cloudSqlInstanceBackupPlanAssociationProperties": {
          "target": "com.gcp.backupdr_v1beta#CloudSqlInstanceBackupPlanAssociationProperties",
          "traits": {
            "smithy.api#documentation": "Output only. Cloud SQL instance's backup plan association properties."
          }
        },
        "backupPlanRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc."
          }
        },
        "state": {
          "target": "com.gcp.backupdr_v1beta#BackupPlanAssociationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The BackupPlanAssociation resource state."
          }
        },
        "autoProtectionPolicyBinding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the `AutoProtectionPolicyBinding` that manages this association, if any. Format: `projects/{project}/locations/{location}/autoProtectionPolicies/{policy}/bindings/{binding}`."
          }
        },
        "rulesConfigInfo": {
          "target": "com.gcp.backupdr_v1beta#RuleConfigInfoList",
          "traits": {
            "smithy.api#documentation": "Output only. The config info related to backup rules."
          }
        },
        "dataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of data source which will be used as storage location for backups taken. Format : projects/{project}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the instance was created."
          }
        },
        "alloydbClusterBackupPlanAssociationProperties": {
          "target": "com.gcp.backupdr_v1beta#AlloyDBClusterBackupPlanAssociationProperties",
          "traits": {
            "smithy.api#documentation": "Output only. AlloyDB cluster's backup plan association properties."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the instance was updated."
          }
        },
        "backupPlan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of backup plan which needs to be applied on workload. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A BackupPlanAssociation represents a single BackupPlanAssociation which contains details like workload, backup plan etc"
      }
    },
    "com.gcp.backupdr_v1beta#BackupPlanAssociationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#RuleConfigInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1beta#RuleConfigInfo"
      }
    },
    "com.gcp.backupdr_v1beta#FetchAccessTokenRequest": {
      "type": "structure",
      "members": {
        "generationId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The generation of the backup to update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for FetchAccessToken."
      }
    },
    "com.gcp.backupdr_v1beta#StandardSchedule": {
      "type": "structure",
      "members": {
        "recurrenceType": {
          "target": "com.gcp.backupdr_v1beta#StandardScheduleRecurrenceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Specifies the `RecurrenceType` for the schedule."
          }
        },
        "daysOfMonth": {
          "target": "com.gcp.backupdr_v1beta#IntegerList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies days of months like 1, 5, or 14 on which jobs will run. Values for `days_of_month` are only applicable for `recurrence_type`, `MONTHLY` and `YEARLY`. A validation error will occur if other values are supplied."
          }
        },
        "backupWindow": {
          "target": "com.gcp.backupdr_v1beta#BackupWindow",
          "traits": {
            "smithy.api#documentation": "Required. A BackupWindow defines the window of day during which backup jobs will run. Jobs are queued at the beginning of the window and will be marked as `NOT_RUN` if they do not start by the end of the window. Note: running jobs will not be cancelled at the end of the window."
          }
        },
        "weekDayOfMonth": {
          "target": "com.gcp.backupdr_v1beta#WeekDayOfMonth",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies a week day of the month like, FIRST SUNDAY or LAST MONDAY, on which jobs will run. This will be specified by two fields in `WeekDayOfMonth`, one for the day, e.g. `MONDAY`, and one for the week, e.g. `LAST`. This field is only applicable for `recurrence_type`, `MONTHLY` and `YEARLY`. A validation error will occur if other values are supplied."
          }
        },
        "months": {
          "target": "com.gcp.backupdr_v1beta#StandardScheduleMonthsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the months of year, like `FEBRUARY` and/or `MAY`, on which jobs will run. This field is only applicable when `recurrence_type` is `YEARLY`. A validation error will occur if other values are supplied."
          }
        },
        "daysOfWeek": {
          "target": "com.gcp.backupdr_v1beta#StandardScheduleDaysOfWeekItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies days of week like, MONDAY or TUESDAY, on which jobs will run. This is required for `recurrence_type`, `WEEKLY` and is not applicable otherwise. A validation error will occur if a value is supplied and `recurrence_type` is not `WEEKLY`."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The time zone to be used when interpreting the schedule. The value of this field must be a time zone name from the IANA tz database. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for the list of valid timezone names. For e.g., Europe/Paris."
          }
        },
        "hourlyFrequency": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies frequency for hourly backups. A hourly frequency of 2 means jobs will run every 2 hours from start time till end time defined. This is required for `recurrence_type`, `HOURLY` and is not applicable otherwise. A validation error will occur if a value is supplied and `recurrence_type` is not `HOURLY`. The supported values for each resource type are as follows: * `compute.googleapis.com/Instance`: 1-23 * `compute.googleapis.com/Disk`: 1-23 * `sqladmin.googleapis.com/Instance`: 6-23 * `alloydb.googleapis.com/Cluster`: 1-23 * `file.googleapis.com/Instance`: 1-23 Refer to link https://cloud.google.com/backup-disaster-recovery/docs/concepts/cloud_best_practices for more details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`StandardSchedule` defines a schedule that run within the confines of a defined window of days. We can define recurrence type for schedule as HOURLY, DAILY, WEEKLY, MONTHLY or YEARLY."
      }
    },
    "com.gcp.backupdr_v1beta#StandardScheduleRecurrenceTypeEnum": {
      "type": "enum",
      "members": {
        "RECURRENCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECURRENCE_TYPE_UNSPECIFIED"
          }
        },
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        },
        "YEARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YEARLY"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.backupdr_v1beta#StandardScheduleMonthsItemEnum": {
      "type": "enum",
      "members": {
        "MONTH_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTH_UNSPECIFIED"
          }
        },
        "JANUARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JANUARY"
          }
        },
        "FEBRUARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEBRUARY"
          }
        },
        "MARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MARCH"
          }
        },
        "APRIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APRIL"
          }
        },
        "MAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAY"
          }
        },
        "JUNE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JUNE"
          }
        },
        "JULY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JULY"
          }
        },
        "AUGUST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUGUST"
          }
        },
        "SEPTEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEPTEMBER"
          }
        },
        "OCTOBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OCTOBER"
          }
        },
        "NOVEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOVEMBER"
          }
        },
        "DECEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECEMBER"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#StandardScheduleMonthsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1beta#StandardScheduleMonthsItemEnum"
      }
    },
    "com.gcp.backupdr_v1beta#StandardScheduleDaysOfWeekItemEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#StandardScheduleDaysOfWeekItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1beta#StandardScheduleDaysOfWeekItemEnum"
      }
    },
    "com.gcp.backupdr_v1beta#Trial": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.backupdr_v1beta#TrialStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the trial."
          }
        },
        "endReason": {
          "target": "com.gcp.backupdr_v1beta#TrialEndReasonEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The reason for ending the trial."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the trial will expire."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the trial. Format: projects/{project}/locations/{location}/trial"
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the trial was subscribed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Trial for a project."
      }
    },
    "com.gcp.backupdr_v1beta#TrialStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "SUBSCRIBED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIBED"
          }
        },
        "UNSUBSCRIBED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUBSCRIBED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELIGIBLE"
          }
        },
        "NOT_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ELIGIBLE"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#TrialEndReasonEnum": {
      "type": "enum",
      "members": {
        "END_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_REASON_UNSPECIFIED"
          }
        },
        "MOVE_TO_PAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE_TO_PAID"
          }
        },
        "DISCONTINUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCONTINUED"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#ListResourceBackupConfigsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "resourceBackupConfigs": {
          "target": "com.gcp.backupdr_v1beta#ResourceBackupConfigList",
          "traits": {
            "smithy.api#documentation": "The list of ResourceBackupConfigs for the specified scope."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListResourceBackupConfigs."
      }
    },
    "com.gcp.backupdr_v1beta#ResourceBackupConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1beta#ResourceBackupConfig"
      }
    },
    "com.gcp.backupdr_v1beta#SchedulingDuration": {
      "type": "structure",
      "members": {
        "seconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Span of time at a resolution of a second."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Span of time that's a fraction of a second at nanosecond resolution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A SchedulingDuration represents a fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like \"day\" or \"month\". Range is approximately 10,000 years."
      }
    },
    "com.gcp.backupdr_v1beta#BackupDrPlanRule": {
      "type": "structure",
      "members": {
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique Id of the backup rule."
          }
        },
        "lastSuccessfulBackupTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp of the latest successful backup created via this backup rule."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BackupDrPlanRule has rule specific information of the backup plan resource."
      }
    },
    "com.gcp.backupdr_v1beta#BackupWindow": {
      "type": "structure",
      "members": {
        "startHourOfDay": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The hour of day (0-23) when the window starts for e.g. if value of start hour of day is 6 that mean backup window start at 6:00."
          }
        },
        "endHourOfDay": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The hour of day (1-24) when the window end for e.g. if value of end hour of day is 10 that mean backup window end time is 10:00. End hour of day should be greater than start hour of day. 0 <= start_hour_of_day < end_hour_of_day <= 24 End hour of day is not include in backup window that mean if end_hour_of_day= 10 jobs should start before 10:00."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`BackupWindow` defines a window of the day during which backup jobs will run."
      }
    },
    "com.gcp.backupdr_v1beta#AppliedAutoProtectionPolicy": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.backupdr_v1beta#AppliedAutoProtectionPolicyStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The status of the applied auto protection policy."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp indicating when the binding was last created."
          }
        },
        "criteria": {
          "target": "com.gcp.backupdr_v1beta#Criteria",
          "traits": {
            "smithy.api#documentation": "Output only. The criteria resources must meet for this rule to apply. From AutoProtectionPolicy.criteria."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp indicating when the binding was last modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Canonical resource name. Format: projects/{workload-project-number}/locations/{location}/appliedAutoProtectionPolicies/{id}."
          }
        },
        "sourceBinding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full resource name of the AutoProtectionPolicyBinding that applies the source policy to a scope including this workload project. e.g., projects/{admin-project}/locations/{location}/autoProtectionPolicies/{policy_id}/autoProtectionPolicyBindings/{binding_id}."
          }
        },
        "bindingEvaluationSummary": {
          "target": "com.gcp.backupdr_v1beta#BindingEvaluationSummary",
          "traits": {
            "smithy.api#documentation": "Output only. The summary of the last policy application when the job has run."
          }
        },
        "backupPlanDetails": {
          "target": "com.gcp.backupdr_v1beta#BackupPlanDetailList",
          "traits": {
            "smithy.api#documentation": "Output only. The set of backup plan configurations, mirroring the backup_plan_details from the source AutoProtectionPolicy. Each element specifies a backup plan for a given resource type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AppliedAutoProtectionPolicy is a read-only view of AutoProtectionPolicy and AutoProtectionPolicyBinding resources that apply to a given workload project."
      }
    },
    "com.gcp.backupdr_v1beta#AppliedAutoProtectionPolicyStatusEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETION_INITIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETION_INITIATED"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#BackupPlanDetailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1beta#BackupPlanDetail"
      }
    },
    "com.gcp.backupdr_v1beta#ManagementURI": {
      "type": "structure",
      "members": {
        "webUi": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ManagementServer AGM/RD WebUI URL."
          }
        },
        "api": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ManagementServer AGM/RD API URL."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ManagementURI for the Management Server resource."
      }
    },
    "com.gcp.backupdr_v1beta#RegionDiskTargetEnvironment": {
      "type": "structure",
      "members": {
        "useProjectServiceAccount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to use the project service account for the disk restore."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Target region for the disk."
          }
        },
        "replicaZones": {
          "target": "com.gcp.backupdr_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Target URLs of the replica zones for the disk."
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Target project for the disk."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RegionDiskTargetEnvironment represents the target environment for the disk."
      }
    },
    "com.gcp.backupdr_v1beta#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.backupdr_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.backupdr_v1beta#ListAppliedAutoProtectionPoliciesResponse": {
      "type": "structure",
      "members": {
        "appliedAutoProtectionPolicies": {
          "target": "com.gcp.backupdr_v1beta#AppliedAutoProtectionPolicyList",
          "traits": {
            "smithy.api#documentation": "A list of the AppliedAutoProtectionPolicy resources found."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page."
          }
        },
        "unreachable": {
          "target": "com.gcp.backupdr_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListAppliedAutoProtectionPolicies."
      }
    },
    "com.gcp.backupdr_v1beta#AppliedAutoProtectionPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1beta#AppliedAutoProtectionPolicy"
      }
    },
    "com.gcp.backupdr_v1beta#BackupVault": {
      "type": "structure",
      "members": {
        "backupMinimumEnforcedRetentionDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The default and minimum enforced retention for each backup within the backup vault. The enforced retention for each backup can be extended. Note: Longer minimum enforced retention period impacts potential storage costs post introductory trial. We recommend starting with a short duration of 3 days or less."
          }
        },
        "effectiveTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Time after which the BackupVault resource is locked."
          }
        },
        "labels": {
          "target": "com.gcp.backupdr_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata. No labels currently defined:"
          }
        },
        "state": {
          "target": "com.gcp.backupdr_v1beta#BackupVaultStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The BackupVault resource instance state."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Service account used by the BackupVault Service for this BackupVault. The user should grant this account permissions in their workload project to enable the service to run backups and restores there."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. Name of the backup vault to create. It must have the format`\"projects/{project}/locations/{location}/backupVaults/{backupvault}\"`. `{backupvault}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the project and location."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the BackupVault instance (2048 characters or less)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Server specified ETag for the backup vault resource to prevent simultaneous updates from overwiting each other."
          }
        },
        "deletable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Set to true when there are no backups nested under this resource."
          }
        },
        "totalStoredBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total size of the storage used by all backup resources."
          }
        },
        "annotations": {
          "target": "com.gcp.backupdr_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User annotations. See https://google.aip.dev/128#annotations Stores small amounts of arbitrary data."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Immutable after resource creation until resource deletion."
          }
        },
        "accessRestriction": {
          "target": "com.gcp.backupdr_v1beta#BackupVaultAccessRestrictionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Restricts access to certain sources and destinations for data being sent into, or restored from, the backup vault. Defaults to WITHIN_ORGANIZATION if not provided during creation."
          }
        },
        "encryptionConfig": {
          "target": "com.gcp.backupdr_v1beta#EncryptionConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The encryption config of the backup vault."
          }
        },
        "backupCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of backups in this backup vault."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the instance was updated."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the instance was created."
          }
        },
        "backupRetentionInheritance": {
          "target": "com.gcp.backupdr_v1beta#BackupVaultBackupRetentionInheritanceEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Setting for how a backup's enforced retention end time is inherited."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing a BackupVault object."
      }
    },
    "com.gcp.backupdr_v1beta#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.backupdr_v1beta#BackupVaultStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#BackupVaultAccessRestrictionEnum": {
      "type": "enum",
      "members": {
        "ACCESS_RESTRICTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_RESTRICTION_UNSPECIFIED"
          }
        },
        "WITHIN_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WITHIN_PROJECT"
          }
        },
        "WITHIN_ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WITHIN_ORGANIZATION"
          }
        },
        "UNRESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNRESTRICTED"
          }
        },
        "WITHIN_ORG_BUT_UNRESTRICTED_FOR_BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WITHIN_ORG_BUT_UNRESTRICTED_FOR_BA"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#BackupVaultBackupRetentionInheritanceEnum": {
      "type": "enum",
      "members": {
        "BACKUP_RETENTION_INHERITANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_RETENTION_INHERITANCE_UNSPECIFIED"
          }
        },
        "INHERIT_VAULT_RETENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INHERIT_VAULT_RETENTION"
          }
        },
        "MATCH_BACKUP_EXPIRE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_BACKUP_EXPIRE_TIME"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#AccessConfig": {
      "type": "structure",
      "members": {
        "networkTier": {
          "target": "com.gcp.backupdr_v1beta#AccessConfigNetworkTierEnum",
          "traits": {
            "smithy.api#documentation": "Optional. This signifies the networking tier used for configuring this access"
          }
        },
        "type": {
          "target": "com.gcp.backupdr_v1beta#AccessConfigTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. In accessConfigs (IPv4), the default and only option is ONE_TO_ONE_NAT. In ipv6AccessConfigs, the default and only option is DIRECT_IPV6."
          }
        },
        "natIP": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The external IP address of this access configuration."
          }
        },
        "externalIpv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The external IPv6 address of this access configuration."
          }
        },
        "setPublicPtr": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether a public DNS 'PTR' record should be created to map the external IP address of the instance to a DNS domain name."
          }
        },
        "externalIpv6PrefixLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The prefix length of the external IPv6 range."
          }
        },
        "publicPtrDomainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The DNS domain name for the public PTR record."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of this access configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An access configuration attached to an instance's network interface. Only one access config per instance is supported."
      }
    },
    "com.gcp.backupdr_v1beta#AccessConfigNetworkTierEnum": {
      "type": "enum",
      "members": {
        "NETWORK_TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_TIER_UNSPECIFIED"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREMIUM"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#AccessConfigTypeEnum": {
      "type": "enum",
      "members": {
        "ACCESS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_TYPE_UNSPECIFIED"
          }
        },
        "ONE_TO_ONE_NAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_TO_ONE_NAT"
          }
        },
        "DIRECT_IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT_IPV6"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#ListBindingMatchingResourcesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token which may be sent as page_token in a subsequent `ListBindingMatchingResources` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return."
          }
        },
        "matchingResources": {
          "target": "com.gcp.backupdr_v1beta#BindingMatchingResourceList",
          "traits": {
            "smithy.api#documentation": "The list of `BindingMatchingResources` in the project,location for the specified binding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for getting a list of `BindingMatchingResources`."
      }
    },
    "com.gcp.backupdr_v1beta#BindingMatchingResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1beta#BindingMatchingResource"
      }
    },
    "com.gcp.backupdr_v1beta#WeekDayOfMonth": {
      "type": "structure",
      "members": {
        "weekOfMonth": {
          "target": "com.gcp.backupdr_v1beta#WeekDayOfMonthWeekOfMonthEnum",
          "traits": {
            "smithy.api#documentation": "Required. Specifies the week of the month."
          }
        },
        "dayOfWeek": {
          "target": "com.gcp.backupdr_v1beta#WeekDayOfMonthDayOfWeekEnum",
          "traits": {
            "smithy.api#documentation": "Required. Specifies the day of the week."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`WeekDayOfMonth` defines the week day of the month on which the backups will run. The message combines a `WeekOfMonth` and `DayOfWeek` to produce values like `FIRST`/`MONDAY` or `LAST`/`FRIDAY`."
      }
    },
    "com.gcp.backupdr_v1beta#WeekDayOfMonthWeekOfMonthEnum": {
      "type": "enum",
      "members": {
        "WEEK_OF_MONTH_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK_OF_MONTH_UNSPECIFIED"
          }
        },
        "FIRST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRST"
          }
        },
        "SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECOND"
          }
        },
        "THIRD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIRD"
          }
        },
        "FOURTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOURTH"
          }
        },
        "LAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#WeekDayOfMonthDayOfWeekEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#FilestoreInstanceDataSourceProperties": {
      "type": "structure",
      "members": {
        "instanceCreateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The instance creation timestamp."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the Filestore instance backed up by the datasource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FilestoreInstanceDataSourceProperties represents the properties of a Filestore resource that are stored in the DataSource. ."
      }
    },
    "com.gcp.backupdr_v1beta#SetInternalStatusRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        },
        "backupConfigState": {
          "target": "com.gcp.backupdr_v1beta#SetInternalStatusRequestBackupConfigStateEnum",
          "traits": {
            "smithy.api#documentation": "Required. Output only. The new BackupConfigState to set for the DataSource."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The value required for this method to work. This field must be the 32-byte SHA256 hash of the DataSourceID. The DataSourceID used here is only the final piece of the fully qualified resource path for this DataSource (i.e. the part after '.../dataSources/'). This field exists to make this method difficult to call since it is intended for use only by Backup Appliances."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SetStatusInternal method."
      }
    },
    "com.gcp.backupdr_v1beta#SetInternalStatusRequestBackupConfigStateEnum": {
      "type": "enum",
      "members": {
        "BACKUP_CONFIG_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_CONFIG_STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "PASSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSIVE"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#FetchBackupPlanAssociationsForResourceTypeResponse": {
      "type": "structure",
      "members": {
        "backupPlanAssociations": {
          "target": "com.gcp.backupdr_v1beta#BackupPlanAssociationList",
          "traits": {
            "smithy.api#documentation": "Output only. The BackupPlanAssociations from the specified parent."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the FetchBackupPlanAssociationsForResourceType method."
      }
    },
    "com.gcp.backupdr_v1beta#BackupPlanAssociationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1beta#BackupPlanAssociation"
      }
    },
    "com.gcp.backupdr_v1beta#FinalizeBackupRequest": {
      "type": "structure",
      "members": {
        "recoveryRangeEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The latest timestamp of data available in this Backup. This will be set on the newly created Backup."
          }
        },
        "recoveryRangeStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The earliest timestamp of data available in this Backup. This will set on the newly created Backup."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        },
        "backupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource ID of the Backup resource to be finalized. This must be the same backup_id that was used in the InitiateBackupRequest."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This will be assigned to the description field of the newly created Backup."
          }
        },
        "retentionDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ExpireTime on the backup will be set to FinalizeTime plus this duration. If the resulting ExpireTime is less than EnforcedRetentionEndTime, then ExpireTime is set to EnforcedRetentionEndTime."
          }
        },
        "consistencyTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The point in time when this backup was captured from the source. This will be assigned to the consistency_time field of the newly created Backup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for finalizing a Backup."
      }
    },
    "com.gcp.backupdr_v1beta#ComputeInstanceBackupProperties": {
      "type": "structure",
      "members": {
        "guestFlush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether to perform a guest flush operation before taking a compute backup. When set to false, the system will create crash-consistent backups. Default value is false."
          }
        },
        "canIpForward": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables instances created based on these properties to send packets with source IP addresses other than their own and receive packets with destination IP addresses other than their own. If these instances will be used as an IP gateway or it will be set as the next-hop in a Route resource, specify `true`. If unsure, leave this set to `false`. See the https://cloud.google.com/vpc/docs/using-routes#canipforward documentation for more information."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional text description for the instances that are created from these properties."
          }
        },
        "sourceInstance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source instance used to create this backup. This can be a partial or full URL to the resource. For example, the following are valid values: -https://www.googleapis.com/compute/v1/projects/project/zones/zone/instances/instance -projects/project/zones/zone/instances/instance"
          }
        },
        "keyRevocationActionType": {
          "target": "com.gcp.backupdr_v1beta#ComputeInstanceBackupPropertiesKeyRevocationActionTypeEnum",
          "traits": {
            "smithy.api#documentation": "KeyRevocationActionType of the instance. Supported options are \"STOP\" and \"NONE\". The default value is \"NONE\" if it is not specified."
          }
        },
        "labels": {
          "target": "com.gcp.backupdr_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels to apply to instances that are created from these properties."
          }
        },
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The machine type to use for instances that are created from these properties."
          }
        },
        "networkInterface": {
          "target": "com.gcp.backupdr_v1beta#NetworkInterfaceList",
          "traits": {
            "smithy.api#documentation": "An array of network access configurations for this interface."
          }
        },
        "tags": {
          "target": "com.gcp.backupdr_v1beta#Tags",
          "traits": {
            "smithy.api#documentation": "A list of tags to apply to the instances that are created from these properties. The tags identify valid sources or targets for network firewalls. The setTags method can modify this list of tags. Each tag within the list must comply with RFC1035 (https://www.ietf.org/rfc/rfc1035.txt)."
          }
        },
        "metadata": {
          "target": "com.gcp.backupdr_v1beta#Metadata",
          "traits": {
            "smithy.api#documentation": "The metadata key/value pairs to assign to instances that are created from these properties. These pairs can consist of custom metadata or predefined keys. See https://cloud.google.com/compute/docs/metadata/overview for more information."
          }
        },
        "serviceAccount": {
          "target": "com.gcp.backupdr_v1beta#ServiceAccountList",
          "traits": {
            "smithy.api#documentation": "A list of service accounts with specified scopes. Access tokens for these service accounts are available to the instances that are created from these properties. Use metadata queries to obtain the access tokens for these instances."
          }
        },
        "guestAccelerator": {
          "target": "com.gcp.backupdr_v1beta#AcceleratorConfigList",
          "traits": {
            "smithy.api#documentation": "A list of guest accelerator cards' type and count to use for instances created from these properties."
          }
        },
        "minCpuPlatform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minimum cpu/platform to be used by instances. The instance may be scheduled on the specified or newer cpu/platform. Applicable values are the friendly names of CPU platforms, such as `minCpuPlatform: Intel Haswell` or `minCpuPlatform: Intel Sandy Bridge`. For more information, read https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform."
          }
        },
        "disk": {
          "target": "com.gcp.backupdr_v1beta#AttachedDiskList",
          "traits": {
            "smithy.api#documentation": "An array of disks that are associated with the instances that are created from these properties."
          }
        },
        "scheduling": {
          "target": "com.gcp.backupdr_v1beta#Scheduling",
          "traits": {
            "smithy.api#documentation": "Specifies the scheduling options for the instances that are created from these properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ComputeInstanceBackupProperties represents Compute Engine instance backup properties."
      }
    },
    "com.gcp.backupdr_v1beta#ComputeInstanceBackupPropertiesKeyRevocationActionTypeEnum": {
      "type": "enum",
      "members": {
        "KEY_REVOCATION_ACTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_REVOCATION_ACTION_TYPE_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOP"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#NetworkInterfaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1beta#NetworkInterface"
      }
    },
    "com.gcp.backupdr_v1beta#ServiceAccountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1beta#ServiceAccount"
      }
    },
    "com.gcp.backupdr_v1beta#AcceleratorConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1beta#AcceleratorConfig"
      }
    },
    "com.gcp.backupdr_v1beta#AttachedDiskList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1beta#AttachedDisk"
      }
    },
    "com.gcp.backupdr_v1beta#FetchUsableBackupVaultsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.backupdr_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "backupVaults": {
          "target": "com.gcp.backupdr_v1beta#BackupVaultList",
          "traits": {
            "smithy.api#documentation": "The list of BackupVault instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup vaults in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for fetching usable BackupVaults."
      }
    },
    "com.gcp.backupdr_v1beta#BackupVaultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1beta#BackupVault"
      }
    },
    "com.gcp.backupdr_v1beta#AlloyDBClusterBackupPlanAssociationProperties": {
      "type": "structure",
      "members": {
        "clusterUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The cluster UID of the AlloyDB cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties for an AlloyDB cluster backup plan association."
      }
    },
    "com.gcp.backupdr_v1beta#AlloyDbPitrWindow": {
      "type": "structure",
      "members": {
        "logRetentionDays": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Log retention days for the PITR window."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The end time of the PITR window. It is not set if the corresponding Backup Plan Association is active."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The start time of the PITR window."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Point in time recovery window for an AlloyDB cluster."
      }
    },
    "com.gcp.backupdr_v1beta#AutoProtectionPolicyBinding": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Resource Id of target container on which policy will be applied. Format: projects/{project_id}"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The etag for the binding. If this is provided on update, it must match the server's etag."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the AutoProtectionPolicyBinding. Format: `projects/{project}/locations/{location}/autoProtectionPolicies/{auto_protection_policy}/bindings/{binding}`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the binding was last updated."
          }
        },
        "bindingEvaluationSummary": {
          "target": "com.gcp.backupdr_v1beta#BindingEvaluationSummary",
          "traits": {
            "smithy.api#documentation": "Output only. Summaries of the last policy application when the job has run, with one entry per resource type specified in the AutoProtectionPolicy."
          }
        },
        "state": {
          "target": "com.gcp.backupdr_v1beta#AutoProtectionPolicyBindingStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the AutoProtectionPolicyBinding."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A description of the binding."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the binding was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An AutoprotectionPolicyBinding (APPA) acts as the bridge between an AutoprotectionPolicy and the scope (Project, Folder, or Organization) where the policy should be applied."
      }
    },
    "com.gcp.backupdr_v1beta#AutoProtectionPolicyBindingStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETION_INITIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETION_INITIATED"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#AutoProtectionDetails": {
      "type": "structure",
      "members": {
        "backupPlanAssociation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of backup plan association linked to the resource, if any. Format: projects/{project}/locations/{location}/backupPlanAssociations/{backupPlanAssociationId}"
          }
        },
        "state": {
          "target": "com.gcp.backupdr_v1beta#AutoProtectionDetailsStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Protection state of the resource from the current binding's perspective. Output only."
          }
        },
        "dataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the datasource linked to the resource, if any. Format: projects/{project}/locations/{location}/backupVaults/{backupVaultId}/dataSources/{dataSourceId}"
          }
        },
        "error": {
          "target": "com.gcp.backupdr_v1beta#Status",
          "traits": {
            "smithy.api#documentation": "Output only. Error during last sync for protection/unprotection, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AutoProtectionDetails contains the protection details of a resource from the current binding's perspective."
      }
    },
    "com.gcp.backupdr_v1beta#AutoProtectionDetailsStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTED"
          }
        },
        "PROTECTION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTION_FAILED"
          }
        },
        "UNPROTECTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNPROTECTING"
          }
        },
        "UNPROTECTION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNPROTECTION_FAILED"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#BackupApplianceLockInfo": {
      "type": "structure",
      "members": {
        "backupImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The image name that depends on this Backup."
          }
        },
        "backupApplianceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the backup/recovery appliance that created this lock."
          }
        },
        "backupApplianceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the backup/recovery appliance that created this lock."
          }
        },
        "slaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SLA on the backup/recovery appliance that owns the lock."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The job name on the backup/recovery appliance that created this lock."
          }
        },
        "lockReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The reason for the lock: e.g. MOUNT/RESTORE/BACKUP/etc. The value of this string is only meaningful to the client and it is not interpreted by the BackupVault service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BackupApplianceLockInfo contains metadata about the backupappliance that created the lock."
      }
    },
    "com.gcp.backupdr_v1beta#BackupRule": {
      "type": "structure",
      "members": {
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The unique id of this `BackupRule`. The `rule_id` is unique per `BackupPlan`.The `rule_id` must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens. Pattern, /a-z{,62}/."
          }
        },
        "backupRetentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Configures the duration for which backup data will be kept. It is defined in “days”. The value should be greater than or equal to minimum enforced retention of the backup vault. Minimum value is 1 and maximum value is 36159 for custom retention on-demand backup. Minimum and maximum values are workload specific for all other rules. Note: Longer retention can lead to higher storage costs post introductory trial. We recommend starting with a short duration of 3 days or less."
          }
        },
        "standardSchedule": {
          "target": "com.gcp.backupdr_v1beta#StandardSchedule",
          "traits": {
            "smithy.api#documentation": "Optional. Defines a schedule that runs within the confines of a defined window of time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`BackupRule` binds the backup schedule to a retention policy."
      }
    },
    "com.gcp.backupdr_v1beta#Entry": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Value for the metadata entry. These are free-form strings, and only have meaning as interpreted by the image running in the instance. The only restriction placed on values is that their size must be less than or equal to 262144 bytes (256 KiB)."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Key for the metadata entry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A key/value pair to be used for storing metadata."
      }
    },
    "com.gcp.backupdr_v1beta#BindingEvaluationSummary": {
      "type": "structure",
      "members": {
        "matchingResourceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of resources that currently match the policy's criteria."
          }
        },
        "protectedResourceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of matching resources that are successfully protected."
          }
        },
        "failedResourceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of matching resources whose protection failed during job run."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BindingEvaluationSummary contains the summary of the last run of job that applies policy to matching resources for a given binding."
      }
    },
    "com.gcp.backupdr_v1beta#Backup": {
      "type": "structure",
      "members": {
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Reserved for future use."
          }
        },
        "consistencyTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The point in time when this backup was captured from the source."
          }
        },
        "labels": {
          "target": "com.gcp.backupdr_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata. No labels currently defined."
          }
        },
        "alloyDbBackupProperties": {
          "target": "com.gcp.backupdr_v1beta#AlloyDbClusterBackupProperties",
          "traits": {
            "smithy.api#documentation": "Output only. AlloyDB specific backup properties."
          }
        },
        "resourceSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. source resource size in bytes at the time of the backup."
          }
        },
        "cloudSqlInstanceBackupProperties": {
          "target": "com.gcp.backupdr_v1beta#CloudSqlInstanceBackupProperties",
          "traits": {
            "smithy.api#documentation": "Output only. Cloud SQL specific backup properties."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The description of the Backup instance (2048 characters or less)."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the instance was created."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Server specified ETag to prevent updates from overwriting each other."
          }
        },
        "diskBackupProperties": {
          "target": "com.gcp.backupdr_v1beta#DiskBackupProperties",
          "traits": {
            "smithy.api#documentation": "Output only. Disk specific backup properties."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. Name of the backup to create. It must have the format`\"projects//locations//backupVaults//dataSources/{datasource}/backups/{backup}\"`. `{backup}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the datasource."
          }
        },
        "backupApplianceLocks": {
          "target": "com.gcp.backupdr_v1beta#BackupLockList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of BackupLocks taken by the accessor Backup Appliance."
          }
        },
        "enforcedRetentionEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The backup can not be deleted before this time."
          }
        },
        "state": {
          "target": "com.gcp.backupdr_v1beta#BackupStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The Backup resource instance state."
          }
        },
        "kmsKeyVersions": {
          "target": "com.gcp.backupdr_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The list of KMS key versions used to encrypt the backup."
          }
        },
        "gcpResource": {
          "target": "com.gcp.backupdr_v1beta#BackupGcpResource",
          "traits": {
            "smithy.api#documentation": "Output only. Unique identifier of the GCP resource that is being backed up."
          }
        },
        "computeInstanceBackupProperties": {
          "target": "com.gcp.backupdr_v1beta#ComputeInstanceBackupProperties",
          "traits": {
            "smithy.api#documentation": "Output only. Compute Engine specific backup properties."
          }
        },
        "filestoreInstanceBackupProperties": {
          "target": "com.gcp.backupdr_v1beta#FilestoreInstanceBackupProperties",
          "traits": {
            "smithy.api#documentation": "Output only. Filestore specific backup properties."
          }
        },
        "backupType": {
          "target": "com.gcp.backupdr_v1beta#BackupBackupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of the backup, unspecified, scheduled or ondemand."
          }
        },
        "gcpBackupPlanInfo": {
          "target": "com.gcp.backupdr_v1beta#GCPBackupPlanInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Configuration for a Google Cloud resource."
          }
        },
        "serviceLocks": {
          "target": "com.gcp.backupdr_v1beta#BackupLockList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of BackupLocks taken by the service to prevent the deletion of the backup."
          }
        },
        "backupApplianceBackupProperties": {
          "target": "com.gcp.backupdr_v1beta#BackupApplianceBackupProperties",
          "traits": {
            "smithy.api#documentation": "Output only. Backup Appliance specific backup properties."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Reserved for future use."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the instance was updated."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. When this backup is automatically expired."
          }
        },
        "backupRetentionInheritance": {
          "target": "com.gcp.backupdr_v1beta#BackupBackupRetentionInheritanceEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Setting for how the enforced retention end time is inherited. This value is copied from this backup's BackupVault."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing a Backup object."
      }
    },
    "com.gcp.backupdr_v1beta#BackupLockList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1beta#BackupLock"
      }
    },
    "com.gcp.backupdr_v1beta#BackupStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "UPLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPLOADING"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#BackupBackupTypeEnum": {
      "type": "enum",
      "members": {
        "BACKUP_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_TYPE_UNSPECIFIED"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED"
          }
        },
        "ON_DEMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEMAND"
          }
        },
        "ON_DEMAND_OPERATIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEMAND_OPERATIONAL"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#BackupBackupRetentionInheritanceEnum": {
      "type": "enum",
      "members": {
        "BACKUP_RETENTION_INHERITANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_RETENTION_INHERITANCE_UNSPECIFIED"
          }
        },
        "INHERIT_VAULT_RETENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INHERIT_VAULT_RETENTION"
          }
        },
        "MATCH_BACKUP_EXPIRE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_BACKUP_EXPIRE_TIME"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#ComputeInstanceDataSourceProperties": {
      "type": "structure",
      "members": {
        "totalDiskCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total number of disks attached to the Instance."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the Compute Engine instance."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the compute instance backed up by the datasource."
          }
        },
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The machine type of the instance."
          }
        },
        "totalDiskSizeGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sum of all the disk sizes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ComputeInstanceDataSourceProperties represents the properties of a ComputeEngine resource that are stored in the DataSource."
      }
    },
    "com.gcp.backupdr_v1beta#AcceleratorConfig": {
      "type": "structure",
      "members": {
        "acceleratorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Full or partial URL of the accelerator type resource to attach to this instance."
          }
        },
        "acceleratorCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of the guest accelerator cards exposed to this instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A specification of the type and number of accelerator cards attached to the instance."
      }
    },
    "com.gcp.backupdr_v1beta#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.backupdr_v1beta#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.backupdr_v1beta#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1beta#AuditLogConfig"
      }
    },
    "com.gcp.backupdr_v1beta#BackupDrPlanConfig": {
      "type": "structure",
      "members": {
        "backupDrPlanRules": {
          "target": "com.gcp.backupdr_v1beta#BackupDrPlanRuleList",
          "traits": {
            "smithy.api#documentation": "Backup rules of the backup plan resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BackupDrPlanConfig has additional information about Google Cloud Backup and DR's Plan backup configuration."
      }
    },
    "com.gcp.backupdr_v1beta#BackupDrPlanRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1beta#BackupDrPlanRule"
      }
    },
    "com.gcp.backupdr_v1beta#Metadata": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.backupdr_v1beta#EntryList",
          "traits": {
            "smithy.api#documentation": "Optional. Array of key/value pairs. The total size of all keys and values must be less than 512 KB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A metadata key/value entry."
      }
    },
    "com.gcp.backupdr_v1beta#EntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1beta#Entry"
      }
    },
    "com.gcp.backupdr_v1beta#ComputeInstanceTargetEnvironment": {
      "type": "structure",
      "members": {
        "useProjectServiceAccount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to use the project service account for the Compute Engine instance restore."
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Target project for the Compute Engine instance."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The zone of the Compute Engine instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ComputeInstanceTargetEnvironment represents Compute Engine target environment to be used during restore."
      }
    },
    "com.gcp.backupdr_v1beta#NetworkPerformanceConfig": {
      "type": "structure",
      "members": {
        "totalEgressBandwidthTier": {
          "target": "com.gcp.backupdr_v1beta#NetworkPerformanceConfigTotalEgressBandwidthTierEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The tier of the total egress bandwidth."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network performance configuration."
      }
    },
    "com.gcp.backupdr_v1beta#NetworkPerformanceConfigTotalEgressBandwidthTierEnum": {
      "type": "enum",
      "members": {
        "TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_UNSPECIFIED"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "TIER_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_1"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#DataSourceGcpResourceInfo": {
      "type": "structure",
      "members": {
        "filestoreInstanceProperties": {
          "target": "com.gcp.backupdr_v1beta#FilestoreInstanceDataSourceReferenceProperties",
          "traits": {
            "smithy.api#documentation": "Output only. The properties of the Filestore instance."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the Google Cloud resource. Ex: compute.googleapis.com/Instance"
          }
        },
        "cloudSqlInstanceProperties": {
          "target": "com.gcp.backupdr_v1beta#CloudSqlInstanceDataSourceReferenceProperties",
          "traits": {
            "smithy.api#documentation": "Output only. The properties of the Cloud SQL instance."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The location of the Google Cloud resource. Ex: //\"global\"/\"unspecified\""
          }
        },
        "gcpResourcename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the Google Cloud resource. Ex: projects/{project}/zones/{zone}/instances/{instance}"
          }
        },
        "alloyDbClusterProperties": {
          "target": "com.gcp.backupdr_v1beta#AlloyDBClusterDataSourceReferenceProperties",
          "traits": {
            "smithy.api#documentation": "Output only. The properties of the AlloyDB cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Google Cloud resource that the DataSource is associated with."
      }
    },
    "com.gcp.backupdr_v1beta#SubscribeTrialRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for subscribing to a trial."
      }
    },
    "com.gcp.backupdr_v1beta#ListBackupPlanAssociationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.backupdr_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "backupPlanAssociations": {
          "target": "com.gcp.backupdr_v1beta#BackupPlanAssociationList",
          "traits": {
            "smithy.api#documentation": "The list of Backup Plan Associations in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup plan associations in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for List BackupPlanAssociation"
      }
    },
    "com.gcp.backupdr_v1beta#LocationMetadata": {
      "type": "structure",
      "members": {
        "unsupportedFeatures": {
          "target": "com.gcp.backupdr_v1beta#LocationMetadataUnsupportedFeaturesItemEnumList",
          "traits": {
            "smithy.api#documentation": "List of features that are not supported in the location."
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#LocationMetadataUnsupportedFeaturesItemEnum": {
      "type": "enum",
      "members": {
        "FEATURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURE_UNSPECIFIED"
          }
        },
        "MANAGEMENT_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_SERVER"
          }
        },
        "COMPUTE_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_INSTANCE"
          }
        },
        "PROTECTION_SUMMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTION_SUMMARY"
          }
        },
        "DISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISK"
          }
        },
        "CLOUD_SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SQL"
          }
        },
        "ALLOY_DB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOY_DB"
          }
        },
        "FILESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILESTORE"
          }
        },
        "BV_AF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BV_AF"
          }
        },
        "GOOGLE_CLOUD_NETAPP_VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_CLOUD_NETAPP_VOLUME"
          }
        },
        "CEP_MONITORING_COMPUTE_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CEP_MONITORING_COMPUTE_INSTANCE"
          }
        },
        "CEP_MONITORING_DISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CEP_MONITORING_DISK"
          }
        },
        "BV_CUSTOM_PROBERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BV_CUSTOM_PROBERS"
          }
        },
        "FT_CUSTOM_PROBERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FT_CUSTOM_PROBERS"
          }
        }
      }
    },
    "com.gcp.backupdr_v1beta#LocationMetadataUnsupportedFeaturesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1beta#LocationMetadataUnsupportedFeaturesItemEnum"
      }
    },
    "com.gcp.backupdr_v1beta#BackupApplianceBackupConfig": {
      "type": "structure",
      "members": {
        "backupApplianceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the backup appliance."
          }
        },
        "slpName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SLP associated with the application."
          }
        },
        "hostName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the host where the application is running."
          }
        },
        "slaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the SLA of this application."
          }
        },
        "backupApplianceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the backup appliance."
          }
        },
        "sltName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SLT associated with the application."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the application."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BackupApplianceBackupConfig captures the backup configuration for applications that are protected by Backup Appliances."
      }
    },
    "com.gcp.backupdr_v1beta#DisplayDevice": {
      "type": "structure",
      "members": {
        "enableDisplay": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enables display for the Compute Engine VM"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of Display Device options"
      }
    },
    "com.gcp.backupdr_v1beta#NetworkInterface": {
      "type": "structure",
      "members": {
        "networkAttachment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The URL of the network attachment that this interface should connect to in the following format: projects/{project_number}/regions/{region_name}/networkAttachments/{network_attachment_name}."
          }
        },
        "nicType": {
          "target": "com.gcp.backupdr_v1beta#NetworkInterfaceNicTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of vNIC to be used on this interface. This may be gVNIC or VirtioNet."
          }
        },
        "ipv6Address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An IPv6 internal network address for this network interface. To use a static internal IP address, it must be unused and in the same region as the instance's zone. If not specified, Google Cloud will automatically assign an internal IPv6 address from the instance's subnetwork."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output Only] The name of the network interface, which is generated by the server."
[...]
