{
  "smithy": "2.0",
  "metadata": {
    "service": "recommender",
    "version": "v1beta1",
    "title": "Recommender API",
    "baseUrl": "https://recommender.googleapis.com/",
    "distilled.finalized": true
  },
  "shapes": {
    "com.gcp.recommender_v1beta1#GoogleCloudLocationListLocationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "locations": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudLocationLocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudLocationLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudLocationLocation"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Operation": {
      "type": "structure",
      "members": {
        "sourcePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Can be set with action 'copy' or 'move' to indicate the source field within resource or source_resource, ignored if provided for other operation types."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains the fully qualified resource name. This field is always populated. ex: //cloudresourcemanager.googleapis.com/projects/foo."
          }
        },
        "sourceResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Can be set with action 'copy' to copy resource configuration across different resources of the same type. Example: A resource clone can be done via action = 'copy', path = \"/\", from = \"/\", source_resource = and resource_name = . This field is empty for all other values of `action`."
          }
        },
        "pathValueMatchers": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ValueMatcherMap",
          "traits": {
            "smithy.api#documentation": "Similar to path_filters, this contains set of filters to apply if `path` field refers to array elements. This is meant to support value matching beyond exact match. To perform exact match, use path_filters. When both path_filters and path_value_matchers are set, an implicit AND must be performed."
          }
        },
        "valueMatcher": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ValueMatcher",
          "traits": {
            "smithy.api#documentation": "Can be set for action 'test' for advanced matching for the value of 'path' field. Either this or `value` will be set for 'test' operation."
          }
        },
        "pathFilters": {
          "target": "com.gcp.recommender_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Set of filters to apply if `path` refers to array elements or nested array elements in order to narrow down to a single unique element that is being tested/modified. This is intended to be an exact match per filter. To perform advanced matching, use path_value_matchers. * Example: ``` { \"/versions/*/name\" : \"it-123\" \"/versions/*/targetSize/percent\": 20 } ``` * Example: ``` { \"/bindings/*/role\": \"roles/owner\" \"/bindings/*/condition\" : null } ``` * Example: ``` { \"/bindings/*/role\": \"roles/owner\" \"/bindings/*/members/*\" : [\"x@example.com\", \"y@example.com\"] } ``` When both path_filters and path_value_matchers are set, an implicit AND must be performed."
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value for the `path` field. Will be set for actions:'add'/'replace'. Maybe set for action: 'test'. Either this or `value_matcher` will be set for 'test' operation. An exact match must be performed."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of GCP resource being modified/tested. This field is always populated. Example: cloudresourcemanager.googleapis.com/Project, compute.googleapis.com/Instance"
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of this operation. Contains one of 'add', 'remove', 'replace', 'move', 'copy', 'test' and 'custom' operations. This field is case-insensitive and always populated."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the target field being operated on. If the operation is at the resource level, then path should be \"/\". This field is always populated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains an operation for a resource loosely based on the JSON-PATCH format with support for: * Custom filters for describing partial array patch. * Extended path values for describing nested arrays. * Custom fields for describing the resource for which the operation is being described. * Allows extension to custom operations not natively supported by RFC6902. See https://tools.ietf.org/html/rfc6902 for details on the original RFC."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ValueMatcherMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ValueMatcher"
      }
    },
    "com.gcp.recommender_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ListInsightsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be used to request the next page of results. This field is empty if there are no additional results."
          }
        },
        "insights": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightList",
          "traits": {
            "smithy.api#documentation": "The set of insights for the `parent` resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to the `ListInsights` method."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Insight"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommenderConfig": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.gcp.recommender_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
          }
        },
        "recommenderGenerationConfig": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommenderGenerationConfig",
          "traits": {
            "smithy.api#documentation": "RecommenderGenerationConfig which configures the Generation of recommendations for this recommender."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fingerprint of the RecommenderConfig. Provides optimistic locking when updating."
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-settable field to provide a human-readable name to be used in user interfaces."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time when the config was updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a Recommender."
      }
    },
    "com.gcp.recommender_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.recommender_v1beta1#CloudRecommendationsRecommendersDatabasesV1CtaConfig": {
      "type": "structure",
      "members": {
        "label": {
          "target": "com.gcp.recommender_v1beta1#CloudRecommendationsRecommendersDatabasesV1CtaConfigLabelEnum",
          "traits": {
            "smithy.api#documentation": "Enum used to map to the string to be shown in the UI for the button."
          }
        },
        "redirectPage": {
          "target": "com.gcp.recommender_v1beta1#CloudRecommendationsRecommendersDatabasesV1CtaConfigRedirectPageEnum"
        },
        "isPrimary": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.recommender_v1beta1#CloudRecommendationsRecommendersDatabasesV1CtaConfigLabelEnum": {
      "type": "enum",
      "members": {
        "STRING_KEY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_UNSPECIFIED"
          }
        },
        "STRING_KEY_VIEW_INSTANCE_CTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_VIEW_INSTANCE_CTA"
          }
        },
        "STRING_KEY_EDIT_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_EDIT_INSTANCE"
          }
        },
        "STRING_KEY_EDIT_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_EDIT_USERS"
          }
        },
        "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN"
          }
        },
        "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION"
          }
        },
        "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES"
          }
        },
        "STRING_KEY_CONFIGURE_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CONFIGURE_AUTHENTICATION"
          }
        },
        "STRING_KEY_CONFIGURE_DATABASE_FLAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CONFIGURE_DATABASE_FLAGS"
          }
        },
        "STRING_KEY_AVERAGE_CPU_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_AVERAGE_CPU_USAGE"
          }
        },
        "STRING_KEY_OBSERVATION_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_OBSERVATION_TIME"
          }
        },
        "STRING_KEY_CONFIGURE_AUTOSCALING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CONFIGURE_AUTOSCALING"
          }
        },
        "STRING_KEY_VIEW_CLUSTER_CTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_VIEW_CLUSTER_CTA"
          }
        },
        "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS"
          }
        },
        "STRING_KEY_ENABLE_SCHEDULED_BACKUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ENABLE_SCHEDULED_BACKUPS"
          }
        },
        "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY"
          }
        },
        "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT"
          }
        },
        "STRING_KEY_PITR_ENABLEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_PITR_ENABLEMENT"
          }
        },
        "STRING_KEY_INSECURE_RULES_DETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_INSECURE_RULES_DETECTED"
          }
        },
        "STRING_KEY_EXPIRING_RULES_DETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_EXPIRING_RULES_DETECTED"
          }
        },
        "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES"
          }
        },
        "STRING_KEY_EDIT_FIREBASE_RULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_EDIT_FIREBASE_RULES"
          }
        },
        "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS"
          }
        },
        "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER"
          }
        },
        "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER"
          }
        },
        "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT"
          }
        },
        "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT"
          }
        },
        "STRING_KEY_ABOUT_MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ABOUT_MAINTENANCE"
          }
        },
        "STRING_KEY_ABOUT_SCALING_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ABOUT_SCALING_UP"
          }
        },
        "STRING_KEY_CURRENT_MEMORY_SIZE_GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CURRENT_MEMORY_SIZE_GB"
          }
        },
        "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB"
          }
        },
        "STRING_KEY_PEAK_MEMORY_USAGE_RATIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_PEAK_MEMORY_USAGE_RATIO"
          }
        },
        "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT"
          }
        },
        "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT"
          }
        },
        "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER"
          }
        },
        "STRING_KEY_ABOUT_SCALING_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ABOUT_SCALING_OUT"
          }
        },
        "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS"
          }
        },
        "STRING_KEY_CURRENT_NUMBER_OF_SHARDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CURRENT_NUMBER_OF_SHARDS"
          }
        },
        "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS"
          }
        },
        "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS"
          }
        },
        "STRING_KEY_EXPENSIVE_COMMANDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_EXPENSIVE_COMMANDS"
          }
        },
        "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION"
          }
        },
        "STRING_KEY_ENABLE_DATA_CACHE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ENABLE_DATA_CACHE"
          }
        },
        "STRING_KEY_OBSERVATION_PERIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_OBSERVATION_PERIOD"
          }
        },
        "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME"
          }
        },
        "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT"
          }
        },
        "STRING_KEY_USE_AUTO_MSM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_USE_AUTO_MSM"
          }
        },
        "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB"
          }
        },
        "STRING_KEY_AUTOSCALING_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_AUTOSCALING_CONFIGURATION"
          }
        },
        "STRING_KEY_SCALING_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SCALING_DOCS"
          }
        },
        "STRING_KEY_MODIFY_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MODIFY_INSTANCE"
          }
        },
        "STRING_KEY_HOTSPOTS_AFFECTED_TABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_HOTSPOTS_AFFECTED_TABLES"
          }
        },
        "STRING_KEY_HOT_TABLETS_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_HOT_TABLETS_DOCS"
          }
        },
        "STRING_KEY_KEY_VISUALIZER_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_KEY_VISUALIZER_DOCS"
          }
        },
        "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS"
          }
        },
        "STRING_KEY_VIEW_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_VIEW_USERS"
          }
        },
        "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS"
          }
        },
        "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS"
          }
        },
        "STRING_KEY_SPANNER_BACKUPS_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_BACKUPS_DOCS"
          }
        },
        "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS"
          }
        },
        "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS"
          }
        },
        "STRING_KEY_SPANNER_PANTHEON_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_PANTHEON_INSTANCE"
          }
        },
        "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS"
          }
        },
        "STRING_KEY_SPANNER_AFFECTED_DATABASES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_AFFECTED_DATABASES"
          }
        },
        "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS"
          }
        },
        "STRING_KEY_CLOUD_SQL_EDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CLOUD_SQL_EDITIONS"
          }
        },
        "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS"
          }
        },
        "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS"
          }
        },
        "STRING_KEY_VIEW_BACKUP_POLICY_CTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_VIEW_BACKUP_POLICY_CTA"
          }
        },
        "STRING_KEY_ALLOYDB_BACKUP_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ALLOYDB_BACKUP_COUNT"
          }
        },
        "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE"
          }
        },
        "STRING_KEY_DATA_CACHE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_DATA_CACHE"
          }
        },
        "STRING_KEY_BACKUP_AND_RESTORE_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BACKUP_AND_RESTORE_DATA"
          }
        },
        "STRING_KEY_POINT_IN_TIME_RECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_POINT_IN_TIME_RECOVERY"
          }
        },
        "STRING_KEY_EDIT_BACKUP_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_EDIT_BACKUP_SETTINGS"
          }
        },
        "STRING_KEY_GO_TO_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_GO_TO_RESOURCE"
          }
        },
        "STRING_KEY_OBSERVATION_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_OBSERVATION_START"
          }
        },
        "STRING_KEY_OBSERVATION_END": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_OBSERVATION_END"
          }
        },
        "STRING_KEY_STORAGE_UTILIZATION_RATIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_STORAGE_UTILIZATION_RATIO"
          }
        },
        "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT"
          }
        },
        "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT"
          }
        },
        "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW"
          }
        },
        "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS"
          }
        },
        "STRING_KEY_MAXMEMORY_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MAXMEMORY_POLICY"
          }
        },
        "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO"
          }
        },
        "STRING_KEY_FAILED_SNAPSHOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_FAILED_SNAPSHOTS"
          }
        },
        "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE"
          }
        },
        "STRING_KEY_OOM_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_OOM_COUNT"
          }
        },
        "STRING_KEY_EDIT_RESOURCE_CTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_EDIT_RESOURCE_CTA"
          }
        },
        "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES"
          }
        },
        "STRING_KEY_MEMORYSTORE_REDIS_CRASHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MEMORYSTORE_REDIS_CRASHES"
          }
        },
        "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD"
          }
        },
        "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT"
          }
        },
        "STRING_KEY_BIGTABLE_CUD_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_CUD_DOCS"
          }
        },
        "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS"
          }
        },
        "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS"
          }
        },
        "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT"
          }
        },
        "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL"
          }
        },
        "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION"
          }
        },
        "STRING_KEY_INSECURE_RULES_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_INSECURE_RULES_AUTHENTICATION"
          }
        },
        "STRING_KEY_KEY_VISUALIZER_CTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_KEY_VISUALIZER_CTA"
          }
        },
        "STRING_KEY_SPANNER_SCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_SCHEMA"
          }
        },
        "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES"
          }
        },
        "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE"
          }
        },
        "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA"
          }
        },
        "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE"
          }
        },
        "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES"
          }
        },
        "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS"
          }
        },
        "STRING_KEY_SPANNER_QUERY_INSIGHTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_QUERY_INSIGHTS"
          }
        },
        "STRING_KEY_SPANNER_USE_INDEX_ADVISOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_USE_INDEX_ADVISOR"
          }
        },
        "STRING_KEY_SPANNER_SEARCH_INDEXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_SEARCH_INDEXES"
          }
        },
        "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES"
          }
        },
        "STRING_KEY_SPANNER_FOREIGN_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_FOREIGN_KEYS"
          }
        },
        "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS"
          }
        },
        "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY"
          }
        },
        "STRING_KEY_SPANNER_DATABASE_SPLITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_DATABASE_SPLITS"
          }
        },
        "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS"
          }
        },
        "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS"
          }
        },
        "STRING_KEY_SPANNER_VIEW_OBJECT_CTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_VIEW_OBJECT_CTA"
          }
        },
        "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA"
          }
        },
        "STRING_KEY_SPANNER_MONITORING_CTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_MONITORING_CTA"
          }
        },
        "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION"
          }
        },
        "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION"
          }
        },
        "STRING_KEY_BIGTABLE_APP_PROFILE_IDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_APP_PROFILE_IDS"
          }
        },
        "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE"
          }
        },
        "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS"
          }
        },
        "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES"
          }
        },
        "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS"
          }
        },
        "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES"
          }
        },
        "STRING_KEY_BIGTABLE_DATABOOST_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_DATABOOST_DOCS"
          }
        },
        "STRING_KEY_INSTANCE_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_INSTANCE_NAME"
          }
        },
        "STRING_KEY_APP_PROFILE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_APP_PROFILE_ID"
          }
        },
        "STRING_KEY_CREATE_APP_PROFILE_CTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CREATE_APP_PROFILE_CTA"
          }
        },
        "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS"
          }
        },
        "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS"
          }
        },
        "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE"
          }
        },
        "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE"
          }
        },
        "STRING_KEY_ENABLE_DATABASE_AUDITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ENABLE_DATABASE_AUDITING"
          }
        },
        "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE"
          }
        },
        "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE"
          }
        },
        "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE"
          }
        },
        "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE"
          }
        },
        "STRING_KEY_NUMBER_OF_TABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_NUMBER_OF_TABLES"
          }
        },
        "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK"
          }
        },
        "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE"
          }
        },
        "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE"
          }
        },
        "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE"
          }
        },
        "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE"
          }
        },
        "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE"
          }
        },
        "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE"
          }
        },
        "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE"
          }
        },
        "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE"
          }
        },
        "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE"
          }
        },
        "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE"
          }
        },
        "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE"
          }
        },
        "STRING_KEY_DAYS_TO_WRAPAROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_DAYS_TO_WRAPAROUND"
          }
        },
        "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK"
          }
        },
        "STRING_KEY_MAX_CPU_UTILIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MAX_CPU_UTILIZATION"
          }
        },
        "STRING_KEY_MAX_MEMORY_UTILIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MAX_MEMORY_UTILIZATION"
          }
        },
        "STRING_KEY_DISK_USAGE_BYTES_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_DISK_USAGE_BYTES_CHANGE"
          }
        },
        "STRING_KEY_MAX_DISK_READ_OPS_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MAX_DISK_READ_OPS_COUNT"
          }
        },
        "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT"
          }
        },
        "STRING_KEY_SQL_IDLE_PLAYBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SQL_IDLE_PLAYBOOK"
          }
        },
        "STRING_KEY_CURRENT_STORAGE_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CURRENT_STORAGE_USAGE"
          }
        },
        "STRING_KEY_CURRENT_STORAGE_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CURRENT_STORAGE_LIMIT"
          }
        },
        "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD"
          }
        },
        "STRING_KEY_CURRENT_MACHINE_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CURRENT_MACHINE_TYPE"
          }
        },
        "STRING_KEY_RECOMMENDED_MACHINE_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_RECOMMENDED_MACHINE_TYPE"
          }
        },
        "STRING_KEY_CURRENT_CORES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CURRENT_CORES"
          }
        },
        "STRING_KEY_RECOMMENDED_CORES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_RECOMMENDED_CORES"
          }
        },
        "STRING_KEY_REVIEW_ORG_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_REVIEW_ORG_POLICY"
          }
        },
        "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS"
          }
        },
        "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS"
          }
        },
        "STRING_KEY_ROTATE_SERVER_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ROTATE_SERVER_CERTIFICATE"
          }
        },
        "STRING_KEY_MANAGE_SERVER_CERTIFICATES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MANAGE_SERVER_CERTIFICATES"
          }
        },
        "STRING_KEY_PUBLIC_IP_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_PUBLIC_IP_ENABLED"
          }
        },
        "STRING_KEY_PRIVATE_IP_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_PRIVATE_IP_ENABLED"
          }
        },
        "STRING_KEY_CONFIGURE_PRIVATE_IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CONFIGURE_PRIVATE_IP"
          }
        },
        "STRING_KEY_DISABLE_PUBLIC_IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_DISABLE_PUBLIC_IP"
          }
        },
        "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA"
          }
        },
        "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP"
          }
        },
        "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA"
          }
        },
        "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP"
          }
        },
        "STRING_KEY_ESTIMATED_OOM_PROBABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ESTIMATED_OOM_PROBABILITY"
          }
        },
        "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE"
          }
        },
        "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#CloudRecommendationsRecommendersDatabasesV1CtaConfigRedirectPageEnum": {
      "type": "enum",
      "members": {
        "REDIRECT_PAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_PAGE_UNSPECIFIED"
          }
        },
        "REDIRECT_PAGE_CUSTOM_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_PAGE_CUSTOM_URL"
          }
        },
        "REDIRECT_PAGE_RESOURCE_OVERVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_PAGE_RESOURCE_OVERVIEW"
          }
        },
        "REDIRECT_PAGE_EDIT_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_PAGE_EDIT_RESOURCE"
          }
        },
        "REDIRECT_PAGE_BACKUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_PAGE_BACKUPS"
          }
        },
        "REDIRECT_PAGE_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_PAGE_USERS"
          }
        },
        "REDIRECT_PAGE_SECURITY_RULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_PAGE_SECURITY_RULES"
          }
        },
        "REDIRECT_PAGE_KEY_VISUALIZER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_PAGE_KEY_VISUALIZER"
          }
        },
        "REDIRECT_PAGE_SYSTEM_INSIGHTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_PAGE_SYSTEM_INSIGHTS"
          }
        },
        "REDIRECT_PAGE_CONNECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_PAGE_CONNECTIONS"
          }
        },
        "REDIRECT_PAGE_CONNECTIONS_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_PAGE_CONNECTIONS_SECURITY"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest": {
      "type": "structure",
      "members": {
        "stateMetadata": {
          "target": "com.gcp.recommender_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. State properties user wish to include with this state. Full replace of the current state_metadata."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Fingerprint of the Insight. Provides optimistic locking."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `MarkInsightAccepted` method."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ValueMatcher": {
      "type": "structure",
      "members": {
        "matchesPattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "To be used for full regex matching. The regular expression is using the Google RE2 syntax (https://github.com/google/re2/wiki/Syntax), so to be used with RE2::FullMatch"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains various matching options for values for a GCP resource field."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1OperationGroup": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1OperationList",
          "traits": {
            "smithy.api#documentation": "List of operations across one or more resources that belong to this group. Loosely based on RFC6902 and should be performed in the order they appear."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Group of operations that need to be performed atomically."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Operation"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightStateInfo": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightStateInfoStateEnum",
          "traits": {
            "smithy.api#documentation": "Insight state."
          }
        },
        "stateMetadata": {
          "target": "com.gcp.recommender_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "A map of metadata for the state, provided by user or automations systems."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information related to insight state."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightStateInfoStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPTED"
          }
        },
        "DISMISSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISMISSED"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Recommendation": {
      "type": "structure",
      "members": {
        "associatedInsights": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationInsightReferenceList",
          "traits": {
            "smithy.api#documentation": "Insights that led to this recommendation."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fingerprint of the Recommendation. Provides optimistic locking when updating states."
          }
        },
        "priority": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationPriorityEnum",
          "traits": {
            "smithy.api#documentation": "Recommendation's priority."
          }
        },
        "lastRefreshTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time this recommendation was refreshed by the system that created it in the first place."
          }
        },
        "primaryImpact": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Impact",
          "traits": {
            "smithy.api#documentation": "The primary impact that this recommendation can have while trying to optimize for one category."
          }
        },
        "content": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationContent",
          "traits": {
            "smithy.api#documentation": "Content of the recommendation describing recommended changes to resources."
          }
        },
        "targetResources": {
          "target": "com.gcp.recommender_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource names that this recommendation is targeting."
          }
        },
        "xorGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Corresponds to a mutually exclusive group ID within a recommender. A non-empty ID indicates that the recommendation belongs to a mutually exclusive group. This means that only one recommendation within the group is suggested to be applied."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form human readable summary in English. The maximum length is 500 characters."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of recommendation."
          }
        },
        "recommenderSubtype": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains an identifier for a subtype of recommendations produced for the same recommender. Subtype is a function of content and impact, meaning a new subtype might be added when significant changes to `content` or `primary_impact.category` are introduced. See the Recommenders section to see a list of subtypes for a given Recommender. Examples: For recommender = \"google.iam.policy.Recommender\", recommender_subtype can be one of \"REMOVE_ROLE\"/\"REPLACE_ROLE\""
          }
        },
        "additionalImpact": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ImpactList",
          "traits": {
            "smithy.api#documentation": "Optional set of additional impact that this recommendation may have when trying to optimize for the primary category. These may be positive or negative."
          }
        },
        "stateInfo": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationStateInfo",
          "traits": {
            "smithy.api#documentation": "Information for state. Contains state and metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A recommendation along with a suggested action. E.g., a rightsizing recommendation for an underutilized VM, IAM role recommendations, etc"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationInsightReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationInsightReference"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationPriorityEnum": {
      "type": "enum",
      "members": {
        "PRIORITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_UNSPECIFIED"
          }
        },
        "P4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P4"
          }
        },
        "P3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P3"
          }
        },
        "P2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P2"
          }
        },
        "P1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P1"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ImpactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Impact"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ListInsightTypesResponse": {
      "type": "structure",
      "members": {
        "insightTypes": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightTypeList",
          "traits": {
            "smithy.api#documentation": "The set of recommenders available"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListInsightTypes` method. Next ID: 3"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightType"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Impact": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service that this impact is associated with."
          }
        },
        "costProjection": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1CostProjection",
          "traits": {
            "smithy.api#documentation": "Use with CategoryType.COST"
          }
        },
        "securityProjection": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1SecurityProjection",
          "traits": {
            "smithy.api#documentation": "Use with CategoryType.SECURITY"
          }
        },
        "reliabilityProjection": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ReliabilityProjection",
          "traits": {
            "smithy.api#documentation": "Use with CategoryType.RELIABILITY"
          }
        },
        "sustainabilityProjection": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1SustainabilityProjection",
          "traits": {
            "smithy.api#documentation": "Use with CategoryType.SUSTAINABILITY"
          }
        },
        "category": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ImpactCategoryEnum",
          "traits": {
            "smithy.api#documentation": "Category that is being targeted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the impact a recommendation can have for a given category."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ImpactCategoryEnum": {
      "type": "enum",
      "members": {
        "CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_UNSPECIFIED"
          }
        },
        "COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COST"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMANCE"
          }
        },
        "MANAGEABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEABILITY"
          }
        },
        "SUSTAINABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSTAINABILITY"
          }
        },
        "RELIABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELIABILITY"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightTypeGenerationConfig": {
      "type": "structure",
      "members": {
        "params": {
          "target": "com.gcp.recommender_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Parameters for this InsightTypeGenerationConfig. These configs can be used by or are applied to all subtypes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A configuration to customize the generation of insights. Eg, customizing the lookback period considered when generating a insight."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationInsightReference": {
      "type": "structure",
      "members": {
        "insight": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Insight resource name, e.g. projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/insights/[INSIGHT_ID]"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to an associated insight."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightType": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The insight_type's name in format insightTypes/{insight_type} eg: insightTypes/google.iam.policy.Insight"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of insight."
      }
    },
    "com.gcp.recommender_v1beta1#CloudRecommendationsRecommendersDatabasesV1Table": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.gcp.recommender_v1beta1#CloudRecommendationsRecommendersDatabasesV1TableHeadersItemEnumList",
          "traits": {
            "smithy.api#documentation": "Headers for the table. IMPORTANT: Each header defines a column and its title. All Headers must be unique and shouldn't be used more than once within the same list."
          }
        },
        "rows": {
          "target": "com.gcp.recommender_v1beta1#CloudRecommendationsRecommendersDatabasesV1TableRowList",
          "traits": {
            "smithy.api#documentation": "Rows for the table. Ensure that the order of the cells in the row matches the order of the headers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Field for adding custom complex table"
      }
    },
    "com.gcp.recommender_v1beta1#CloudRecommendationsRecommendersDatabasesV1TableHeadersItemEnum": {
      "type": "enum",
      "members": {
        "STRING_KEY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_UNSPECIFIED"
          }
        },
        "STRING_KEY_VIEW_INSTANCE_CTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_VIEW_INSTANCE_CTA"
          }
        },
        "STRING_KEY_EDIT_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_EDIT_INSTANCE"
          }
        },
        "STRING_KEY_EDIT_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_EDIT_USERS"
          }
        },
        "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN"
          }
        },
        "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION"
          }
        },
        "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES"
          }
        },
        "STRING_KEY_CONFIGURE_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CONFIGURE_AUTHENTICATION"
          }
        },
        "STRING_KEY_CONFIGURE_DATABASE_FLAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CONFIGURE_DATABASE_FLAGS"
          }
        },
        "STRING_KEY_AVERAGE_CPU_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_AVERAGE_CPU_USAGE"
          }
        },
        "STRING_KEY_OBSERVATION_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_OBSERVATION_TIME"
          }
        },
        "STRING_KEY_CONFIGURE_AUTOSCALING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CONFIGURE_AUTOSCALING"
          }
        },
        "STRING_KEY_VIEW_CLUSTER_CTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_VIEW_CLUSTER_CTA"
          }
        },
        "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS"
          }
        },
        "STRING_KEY_ENABLE_SCHEDULED_BACKUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ENABLE_SCHEDULED_BACKUPS"
          }
        },
        "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY"
          }
        },
        "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT"
          }
        },
        "STRING_KEY_PITR_ENABLEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_PITR_ENABLEMENT"
          }
        },
        "STRING_KEY_INSECURE_RULES_DETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_INSECURE_RULES_DETECTED"
          }
        },
        "STRING_KEY_EXPIRING_RULES_DETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_EXPIRING_RULES_DETECTED"
          }
        },
        "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES"
          }
        },
        "STRING_KEY_EDIT_FIREBASE_RULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_EDIT_FIREBASE_RULES"
          }
        },
        "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS"
          }
        },
        "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER"
          }
        },
        "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER"
          }
        },
        "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT"
          }
        },
        "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT"
          }
        },
        "STRING_KEY_ABOUT_MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ABOUT_MAINTENANCE"
          }
        },
        "STRING_KEY_ABOUT_SCALING_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ABOUT_SCALING_UP"
          }
        },
        "STRING_KEY_CURRENT_MEMORY_SIZE_GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CURRENT_MEMORY_SIZE_GB"
          }
        },
        "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB"
          }
        },
        "STRING_KEY_PEAK_MEMORY_USAGE_RATIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_PEAK_MEMORY_USAGE_RATIO"
          }
        },
        "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT"
          }
        },
        "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT"
          }
        },
        "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER"
          }
        },
        "STRING_KEY_ABOUT_SCALING_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ABOUT_SCALING_OUT"
          }
        },
        "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS"
          }
        },
        "STRING_KEY_CURRENT_NUMBER_OF_SHARDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CURRENT_NUMBER_OF_SHARDS"
          }
        },
        "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS"
          }
        },
        "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS"
          }
        },
        "STRING_KEY_EXPENSIVE_COMMANDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_EXPENSIVE_COMMANDS"
          }
        },
        "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION"
          }
        },
        "STRING_KEY_ENABLE_DATA_CACHE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ENABLE_DATA_CACHE"
          }
        },
        "STRING_KEY_OBSERVATION_PERIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_OBSERVATION_PERIOD"
          }
        },
        "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME"
          }
        },
        "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT"
          }
        },
        "STRING_KEY_USE_AUTO_MSM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_USE_AUTO_MSM"
          }
        },
        "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB"
          }
        },
        "STRING_KEY_AUTOSCALING_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_AUTOSCALING_CONFIGURATION"
          }
        },
        "STRING_KEY_SCALING_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SCALING_DOCS"
          }
        },
        "STRING_KEY_MODIFY_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MODIFY_INSTANCE"
          }
        },
        "STRING_KEY_HOTSPOTS_AFFECTED_TABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_HOTSPOTS_AFFECTED_TABLES"
          }
        },
        "STRING_KEY_HOT_TABLETS_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_HOT_TABLETS_DOCS"
          }
        },
        "STRING_KEY_KEY_VISUALIZER_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_KEY_VISUALIZER_DOCS"
          }
        },
        "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS"
          }
        },
        "STRING_KEY_VIEW_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_VIEW_USERS"
          }
        },
        "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS"
          }
        },
        "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS"
          }
        },
        "STRING_KEY_SPANNER_BACKUPS_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_BACKUPS_DOCS"
          }
        },
        "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS"
          }
        },
        "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS"
          }
        },
        "STRING_KEY_SPANNER_PANTHEON_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_PANTHEON_INSTANCE"
          }
        },
        "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS"
          }
        },
        "STRING_KEY_SPANNER_AFFECTED_DATABASES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_AFFECTED_DATABASES"
          }
        },
        "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS"
          }
        },
        "STRING_KEY_CLOUD_SQL_EDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CLOUD_SQL_EDITIONS"
          }
        },
        "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS"
          }
        },
        "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS"
          }
        },
        "STRING_KEY_VIEW_BACKUP_POLICY_CTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_VIEW_BACKUP_POLICY_CTA"
          }
        },
        "STRING_KEY_ALLOYDB_BACKUP_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ALLOYDB_BACKUP_COUNT"
          }
        },
        "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE"
          }
        },
        "STRING_KEY_DATA_CACHE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_DATA_CACHE"
          }
        },
        "STRING_KEY_BACKUP_AND_RESTORE_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BACKUP_AND_RESTORE_DATA"
          }
        },
        "STRING_KEY_POINT_IN_TIME_RECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_POINT_IN_TIME_RECOVERY"
          }
        },
        "STRING_KEY_EDIT_BACKUP_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_EDIT_BACKUP_SETTINGS"
          }
        },
        "STRING_KEY_GO_TO_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_GO_TO_RESOURCE"
          }
        },
        "STRING_KEY_OBSERVATION_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_OBSERVATION_START"
          }
        },
        "STRING_KEY_OBSERVATION_END": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_OBSERVATION_END"
          }
        },
        "STRING_KEY_STORAGE_UTILIZATION_RATIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_STORAGE_UTILIZATION_RATIO"
          }
        },
        "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT"
          }
        },
        "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT"
          }
        },
        "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW"
          }
        },
        "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS"
          }
        },
        "STRING_KEY_MAXMEMORY_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MAXMEMORY_POLICY"
          }
        },
        "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO"
          }
        },
        "STRING_KEY_FAILED_SNAPSHOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_FAILED_SNAPSHOTS"
          }
        },
        "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE"
          }
        },
        "STRING_KEY_OOM_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_OOM_COUNT"
          }
        },
        "STRING_KEY_EDIT_RESOURCE_CTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_EDIT_RESOURCE_CTA"
          }
        },
        "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES"
          }
        },
        "STRING_KEY_MEMORYSTORE_REDIS_CRASHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MEMORYSTORE_REDIS_CRASHES"
          }
        },
        "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD"
          }
        },
        "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT"
          }
        },
        "STRING_KEY_BIGTABLE_CUD_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_CUD_DOCS"
          }
        },
        "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS"
          }
        },
        "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS"
          }
        },
        "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT"
          }
        },
        "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL"
          }
        },
        "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION"
          }
        },
        "STRING_KEY_INSECURE_RULES_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_INSECURE_RULES_AUTHENTICATION"
          }
        },
        "STRING_KEY_KEY_VISUALIZER_CTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_KEY_VISUALIZER_CTA"
          }
        },
        "STRING_KEY_SPANNER_SCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_SCHEMA"
          }
        },
        "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES"
          }
        },
        "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE"
          }
        },
        "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA"
          }
        },
        "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE"
          }
        },
        "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES"
          }
        },
        "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS"
          }
        },
        "STRING_KEY_SPANNER_QUERY_INSIGHTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_QUERY_INSIGHTS"
          }
        },
        "STRING_KEY_SPANNER_USE_INDEX_ADVISOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_USE_INDEX_ADVISOR"
          }
        },
        "STRING_KEY_SPANNER_SEARCH_INDEXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_SEARCH_INDEXES"
          }
        },
        "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES"
          }
        },
        "STRING_KEY_SPANNER_FOREIGN_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_FOREIGN_KEYS"
          }
        },
        "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS"
          }
        },
        "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY"
          }
        },
        "STRING_KEY_SPANNER_DATABASE_SPLITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_DATABASE_SPLITS"
          }
        },
        "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS"
          }
        },
        "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS"
          }
        },
        "STRING_KEY_SPANNER_VIEW_OBJECT_CTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_VIEW_OBJECT_CTA"
          }
        },
        "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA"
          }
        },
        "STRING_KEY_SPANNER_MONITORING_CTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_SPANNER_MONITORING_CTA"
          }
        },
        "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION"
          }
        },
        "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION"
          }
        },
        "STRING_KEY_BIGTABLE_APP_PROFILE_IDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_APP_PROFILE_IDS"
          }
        },
        "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE"
          }
        },
        "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS"
          }
        },
        "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES"
          }
        },
        "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS"
          }
        },
        "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES"
          }
        },
        "STRING_KEY_BIGTABLE_DATABOOST_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_DATABOOST_DOCS"
          }
        },
        "STRING_KEY_INSTANCE_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_INSTANCE_NAME"
          }
        },
        "STRING_KEY_APP_PROFILE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_APP_PROFILE_ID"
          }
        },
        "STRING_KEY_CREATE_APP_PROFILE_CTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_CREATE_APP_PROFILE_CTA"
          }
        },
        "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS"
          }
        },
        "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS"
          }
        },
        "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE"
          }
        },
        "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE"
          }
        },
        "STRING_KEY_ENABLE_DATABASE_AUDITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_ENABLE_DATABASE_AUDITING"
          }
        },
        "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE"
          }
        },
        "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE"
          }
        },
        "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE"
          }
        },
        "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE"
          }
        },
        "STRING_KEY_NUMBER_OF_TABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_NUMBER_OF_TABLES"
          }
        },
        "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK"
          }
        },
        "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE"
          }
        },
        "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE"
          }
        },
        "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE"
          }
        },
        "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE"
          }
        },
[...]
