{
  "smithy": "2.0",
  "metadata": {
    "service": "agentregistry",
    "version": "v1",
    "title": "Agent Registry API",
    "baseUrl": "https://agentregistry.googleapis.com/",
    "distilled.finalized": true
  },
  "shapes": {
    "com.gcp.agentregistry_v1#GoogleIamV1AuditConfig": {
      "type": "structure",
      "members": {
        "auditLogConfigs": {
          "target": "com.gcp.agentregistry_v1#GoogleIamV1AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.agentregistry_v1#GoogleIamV1AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1#GoogleIamV1AuditLogConfig"
      }
    },
    "com.gcp.agentregistry_v1#GoogleIamV1SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        },
        "policy": {
          "target": "com.gcp.agentregistry_v1#GoogleIamV1Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.agentregistry_v1#SearchMcpServersRequest": {
      "type": "structure",
      "members": {
        "searchString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Search criteria used to select the MCP Servers to return. If no search criteria is specified then all accessible MCP Servers will be returned. Search expressions can be used to restrict results based upon searchable fields, where the operators can be used along with the suffix wildcard symbol `*`. See [instructions](https://docs.cloud.google.com/agent-registry/search-agents-and-tools) for more details. Allowed operators: `=`, `:`, `NOT`, `AND`, `OR`, and `()`. Searchable fields: | Field | `=` | `:` | `*` | Keyword Search | |--------------------|-----|-----|-----|----------------| | mcpServerId | Yes | Yes | Yes | Included | | name | No | Yes | Yes | Included | | displayName | No | Yes | Yes | Included | Examples: * `mcpServerId=\"urn:mcp:projects-123:projects:123:locations:us-central1:agentregistry:services:service-id\"` to find the MCP Server with the specified MCP Server ID. * `name:important` to find MCP Servers whose name contains `important` as a word. * `displayName:works*` to find MCP Servers whose display name contains words that start with `works`. * `planner OR booking` to find MCP Servers whose metadata contains the words `planner` or `booking`. * `mcpServerId:service-id AND (displayName:planner OR displayName:booking)` to find MCP Servers whose MCP Server ID contains `service-id` and whose display name contains `planner` or `booking`."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of search results to return per page. The page size is capped at `100`, even if a larger value is specified. A negative value will result in an `INVALID_ARGUMENT` error. If unspecified or set to `0`, a default value of `20` will be used. The server may return fewer results than requested."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If present, retrieve the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of all other method parameters, must be identical to those in the previous call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for searching MCP Servers"
      }
    },
    "com.gcp.agentregistry_v1#Service": {
      "type": "structure",
      "members": {
        "registryResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the resulting Agent, MCP Server, or Endpoint. Format: * `projects/{project}/locations/{location}/mcpServers/{mcp_server}` * `projects/{project}/locations/{location}/agents/{agent}` * `projects/{project}/locations/{location}/endpoints/{endpoint}`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined display name for the Service. Can have a maximum length of `63` characters."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the Service. Format: `projects/{project}/locations/{location}/services/{service}`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        },
        "endpointSpec": {
          "target": "com.gcp.agentregistry_v1#EndpointSpec",
          "traits": {
            "smithy.api#documentation": "Optional. The spec of the Endpoint. When `endpoint_spec` is set, the type of the service is Endpoint."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined description of an Service. Can have a maximum length of `2048` characters."
          }
        },
        "agentSpec": {
          "target": "com.gcp.agentregistry_v1#AgentSpec",
          "traits": {
            "smithy.api#documentation": "Optional. The spec of the Agent. When `agent_spec` is set, the type of the service is Agent."
          }
        },
        "interfaces": {
          "target": "com.gcp.agentregistry_v1#InterfaceList",
          "traits": {
            "smithy.api#documentation": "Optional. The connection details for the Service."
          }
        },
        "mcpServerSpec": {
          "target": "com.gcp.agentregistry_v1#McpServerSpec",
          "traits": {
            "smithy.api#documentation": "Optional. The spec of the MCP Server. When `mcp_server_spec` is set, the type of the service is MCP Server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a user-defined Service."
      }
    },
    "com.gcp.agentregistry_v1#InterfaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1#Interface"
      }
    },
    "com.gcp.agentregistry_v1#ListMcpServersResponse": {
      "type": "structure",
      "members": {
        "mcpServers": {
          "target": "com.gcp.agentregistry_v1#McpServerList",
          "traits": {
            "smithy.api#documentation": "The list of McpServers."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing McpServers"
      }
    },
    "com.gcp.agentregistry_v1#McpServerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1#McpServer"
      }
    },
    "com.gcp.agentregistry_v1#Protocol": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.agentregistry_v1#ProtocolTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the protocol."
          }
        },
        "interfaces": {
          "target": "com.gcp.agentregistry_v1#InterfaceList",
          "traits": {
            "smithy.api#documentation": "Output only. The connection details for the Agent."
          }
        },
        "protocolVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The version of the protocol, for example, the A2A Agent Card version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the protocol of an Agent."
      }
    },
    "com.gcp.agentregistry_v1#ProtocolTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "A2A_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2A_AGENT"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.agentregistry_v1#GoogleIamV1Binding": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.agentregistry_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "members": {
          "target": "com.gcp.agentregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.agentregistry_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.agentregistry_v1#SearchAgentsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of search results to return per page. The page size is capped at `100`, even if a larger value is specified. A negative value will result in an `INVALID_ARGUMENT` error. If unspecified or set to `0`, a default value of `20` will be used. The server may return fewer results than requested."
          }
        },
        "searchString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Search criteria used to select the Agents to return. If no search criteria is specified then all accessible Agents will be returned. Search expressions can be used to restrict results based upon searchable fields, where the operators can be used along with the suffix wildcard symbol `*`. See [instructions](https://docs.cloud.google.com/agent-registry/search-agents-and-tools) for more details. Allowed operators: `=`, `:`, `NOT`, `AND`, `OR`, and `()`. Searchable fields: | Field | `=` | `:` | `*` | Keyword Search | |--------------------|-----|-----|-----|----------------| | agentId | Yes | Yes | Yes | Included | | name | No | Yes | Yes | Included | | displayName | No | Yes | Yes | Included | | description | No | Yes | No | Included | | skills | No | Yes | No | Included | | skills.id | No | Yes | No | Included | | skills.name | No | Yes | No | Included | | skills.description | No | Yes | No | Included | | skills.tags | No | Yes | No | Included | | skills.examples | No | Yes | No | Included | Examples: * `agentId=\"urn:agent:projects-123:projects:123:locations:us-central1:reasoningEngines:1234\"` to find the agent with the specified agent ID. * `name:important` to find agents whose name contains `important` as a word. * `displayName:works*` to find agents whose display name contains words that start with `works`. * `skills.tags:test` to find agents whose skills tags contain `test`. * `planner OR booking` to find agents whose metadata contains the words `planner` or `booking`."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If present, retrieve the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of all other method parameters, must be identical to those in the previous call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for searching Agents"
      }
    },
    "com.gcp.agentregistry_v1#Interface": {
      "type": "structure",
      "members": {
        "protocolBinding": {
          "target": "com.gcp.agentregistry_v1#InterfaceProtocolBindingEnum",
          "traits": {
            "smithy.api#documentation": "Required. The protocol binding of the interface."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The destination URL."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the connection details for an Agent or MCP Server."
      }
    },
    "com.gcp.agentregistry_v1#InterfaceProtocolBindingEnum": {
      "type": "enum",
      "members": {
        "PROTOCOL_BINDING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOCOL_BINDING_UNSPECIFIED"
          }
        },
        "JSONRPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSONRPC"
          }
        },
        "GRPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRPC"
          }
        },
        "HTTP_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_JSON"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#Endpoint": {
      "type": "structure",
      "members": {
        "interfaces": {
          "target": "com.gcp.agentregistry_v1#InterfaceList",
          "traits": {
            "smithy.api#documentation": "Required. The connection details for the Endpoint."
          }
        },
        "attributes": {
          "target": "com.gcp.agentregistry_v1#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "Output only. Attributes of the Endpoint. Valid values: * `agentregistry.googleapis.com/system/RuntimeReference`: {\"uri\": \"//...\"} - the URI of the underlying resource hosting the Endpoint, for example, the GKE Deployment."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the Endpoint. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display name for the Endpoint."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Description of an Endpoint."
          }
        },
        "endpointId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A stable, globally unique identifier for Endpoint."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an Endpoint."
      }
    },
    "com.gcp.agentregistry_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.agentregistry_v1#DocumentMapMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.agentregistry_v1#DocumentMap"
      }
    },
    "com.gcp.agentregistry_v1#Annotations": {
      "type": "structure",
      "members": {
        "idempotentHint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, calling the tool repeatedly with the same arguments will have no additional effect on its environment. NOTE: This property is meaningful only when `read_only_hint == false` Default: false"
          }
        },
        "openWorldHint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, this tool may interact with an \"open world\" of external entities. If false, the tool's domain of interaction is closed. For example, the world of a web search tool is open, whereas that of a memory tool is not. Default: true"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A human-readable title for the tool."
          }
        },
        "readOnlyHint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, the tool does not modify its environment. Default: false"
          }
        },
        "destructiveHint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, the tool may perform destructive updates to its environment. If false, the tool performs only additive updates. NOTE: This property is meaningful only when `read_only_hint == false` Default: true"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Annotations describing the characteristics and behavior of a tool or operation."
      }
    },
    "com.gcp.agentregistry_v1#Target": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the target Agent, MCP Server, or Endpoint. Format: * `urn:agent:{publisher}:{namespace}:{name}` * `urn:mcp:{publisher}:{namespace}:{name}` * `urn:endpoint:{publisher}:{namespace}:{name}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The target of the Binding."
      }
    },
    "com.gcp.agentregistry_v1#Source": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the source Agent. Format: * `urn:agent:{publisher}:{namespace}:{name}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The source of the Binding."
      }
    },
    "com.gcp.agentregistry_v1#McpServer": {
      "type": "structure",
      "members": {
        "tools": {
          "target": "com.gcp.agentregistry_v1#ToolList",
          "traits": {
            "smithy.api#documentation": "Output only. Tools provided by the MCP Server."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the MCP Server. Format: `projects/{project}/locations/{location}/mcpServers/{mcp_server}`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the MCP Server."
          }
        },
        "interfaces": {
          "target": "com.gcp.agentregistry_v1#InterfaceList",
          "traits": {
            "smithy.api#documentation": "Output only. The connection details for the MCP Server."
          }
        },
        "attributes": {
          "target": "com.gcp.agentregistry_v1#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "Output only. Attributes of the MCP Server. Valid values: * `agentregistry.googleapis.com/system/RuntimeIdentity`: {\"principal\": \"principal://...\"} - the runtime identity associated with the MCP Server. * `agentregistry.googleapis.com/system/RuntimeReference`: {\"uri\": \"//...\"} - the URI of the underlying resource hosting the MCP Server, for example, the GKE Deployment."
          }
        },
        "mcpServerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A stable, globally unique identifier for MCP Servers."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The description of the MCP Server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an MCP (Model Context Protocol) Server."
      }
    },
    "com.gcp.agentregistry_v1#ToolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1#Tool"
      }
    },
    "com.gcp.agentregistry_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.agentregistry_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.agentregistry_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1#Location"
      }
    },
    "com.gcp.agentregistry_v1#SearchAgentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        },
        "agents": {
          "target": "com.gcp.agentregistry_v1#AgentList",
          "traits": {
            "smithy.api#documentation": "A list of Agents that match the `search_string`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to searching Agents"
      }
    },
    "com.gcp.agentregistry_v1#AgentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1#Agent"
      }
    },
    "com.gcp.agentregistry_v1#GoogleIamV1TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.agentregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.agentregistry_v1#GoogleIamV1TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.agentregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.agentregistry_v1#A2ASkill": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A human-readable name for the agent's skill."
          }
        },
        "tags": {
          "target": "com.gcp.agentregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Keywords describing the skill."
          }
        },
        "examples": {
          "target": "com.gcp.agentregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Example prompts or scenarios this skill can handle."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A more detailed description of the skill."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A unique identifier for the agent's skill."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the skills of an Agent."
      }
    },
    "com.gcp.agentregistry_v1#Location": {
      "type": "structure",
      "members": {
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "metadata": {
          "target": "com.gcp.agentregistry_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.agentregistry_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.agentregistry_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.agentregistry_v1#Agent": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A universally unique identifier for the Agent."
          }
        },
        "skills": {
          "target": "com.gcp.agentregistry_v1#A2ASkillList",
          "traits": {
            "smithy.api#documentation": "Output only. Skills the agent possesses, often obtained from the A2A Agent Card."
          }
        },
        "protocols": {
          "target": "com.gcp.agentregistry_v1#ProtocolList",
          "traits": {
            "smithy.api#documentation": "Output only. The connection details for the Agent."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the agent, often obtained from the A2A Agent Card."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        },
        "agentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A stable, globally unique identifier for agents."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The description of the Agent, often obtained from the A2A Agent Card. Empty if Agent Card has no description."
          }
        },
        "attributes": {
          "target": "com.gcp.agentregistry_v1#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "Output only. Attributes of the Agent. Valid values: * `agentregistry.googleapis.com/system/Framework`: {\"framework\": \"google-adk\"} - the agent framework used to develop the Agent. Example values: \"google-adk\", \"langchain\", \"custom\". * `agentregistry.googleapis.com/system/RuntimeIdentity`: {\"principal\": \"principal://...\"} - the runtime identity associated with the Agent. * `agentregistry.googleapis.com/system/RuntimeReference`: {\"uri\": \"//...\"} - the URI of the underlying resource hosting the Agent, for example, the Reasoning Engine URI."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of an Agent. Format: `projects/{project}/locations/{location}/agents/{agent}`."
          }
        },
        "card": {
          "target": "com.gcp.agentregistry_v1#Card",
          "traits": {
            "smithy.api#documentation": "Output only. Full Agent Card payload, when available."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The location where agent is hosted. The value is defined by the hosting environment (i.e. cloud provider)."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The version of the Agent, often obtained from the A2A Agent Card. Empty if Agent Card has no version or agent is not an A2A Agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an Agent. \"A2A\" below refers to the Agent-to-Agent protocol."
      }
    },
    "com.gcp.agentregistry_v1#A2ASkillList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1#A2ASkill"
      }
    },
    "com.gcp.agentregistry_v1#ProtocolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1#Protocol"
      }
    },
    "com.gcp.agentregistry_v1#GoogleIamV1AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.agentregistry_v1#GoogleIamV1AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.agentregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.agentregistry_v1#GoogleIamV1AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.agentregistry_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.agentregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.agentregistry_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1#Operation"
      }
    },
    "com.gcp.agentregistry_v1#Binding": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.gcp.agentregistry_v1#Target",
          "traits": {
            "smithy.api#documentation": "Required. The target Agent Registry Resource of the Binding."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined description of a Binding. Can have a maximum length of `2048` characters."
          }
        },
        "source": {
          "target": "com.gcp.agentregistry_v1#Source",
          "traits": {
            "smithy.api#documentation": "Required. The target Agent of the Binding."
          }
        },
        "authProviderBinding": {
          "target": "com.gcp.agentregistry_v1#AuthProviderBinding",
          "traits": {
            "smithy.api#documentation": "The binding for AuthProvider."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined display name for the Binding. Can have a maximum length of `63` characters."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. The resource name of the Binding. Format: `projects/{project}/locations/{location}/bindings/{binding}`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this binding was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this binding was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a user-defined Binding."
      }
    },
    "com.gcp.agentregistry_v1#EndpointSpec": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.agentregistry_v1#EndpointSpecTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the endpoint spec content."
          }
        },
        "content": {
          "target": "com.gcp.agentregistry_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. The content of the endpoint spec. Reserved for future use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The spec of the endpoint."
      }
    },
    "com.gcp.agentregistry_v1#EndpointSpecTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "NO_SPEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SPEC"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#ListAgentsResponse": {
      "type": "structure",
      "members": {
        "agents": {
          "target": "com.gcp.agentregistry_v1#AgentList",
          "traits": {
            "smithy.api#documentation": "The list of Agents."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Agents"
      }
    },
    "com.gcp.agentregistry_v1#ListBindingsResponse": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.agentregistry_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "The list of Binding resources matching the parent and filter criteria in the request. Each Binding resource follows the format: `projects/{project}/locations/{location}/bindings/{binding}`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return. Used in page_token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Bindings"
      }
    },
    "com.gcp.agentregistry_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1#Binding"
      }
    },
    "com.gcp.agentregistry_v1#GoogleIamV1Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.agentregistry_v1#GoogleIamV1BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.agentregistry_v1#GoogleIamV1AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.agentregistry_v1#GoogleIamV1BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1#GoogleIamV1Binding"
      }
    },
    "com.gcp.agentregistry_v1#GoogleIamV1AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1#GoogleIamV1AuditConfig"
      }
    },
    "com.gcp.agentregistry_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.agentregistry_v1#Card": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.agentregistry_v1#CardTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of agent card."
          }
        },
        "content": {
          "target": "com.gcp.agentregistry_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Output only. The content of the agent card."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Full Agent Card payload, often obtained from the A2A Agent Card."
      }
    },
    "com.gcp.agentregistry_v1#CardTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "A2A_AGENT_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2A_AGENT_CARD"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#FetchAvailableBindingsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "bindings": {
          "target": "com.gcp.agentregistry_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "The list of Bindings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to fetching available Bindings."
      }
    },
    "com.gcp.agentregistry_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.agentregistry_v1#ListEndpointsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return. Used in page_token."
          }
        },
        "endpoints": {
          "target": "com.gcp.agentregistry_v1#EndpointList",
          "traits": {
            "smithy.api#documentation": "The list of Endpoint resources matching the parent and filter criteria in the request. Each Endpoint resource follows the format: `projects/{project}/locations/{location}/endpoints/{endpoint}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Endpoints"
      }
    },
    "com.gcp.agentregistry_v1#EndpointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1#Endpoint"
      }
    },
    "com.gcp.agentregistry_v1#Operation": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "response": {
          "target": "com.gcp.agentregistry_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "error": {
          "target": "com.gcp.agentregistry_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "metadata": {
          "target": "com.gcp.agentregistry_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.agentregistry_v1#AgentSpec": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.gcp.agentregistry_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. The content of the Agent spec in the JSON format. This payload is validated against the schema for the specified type. The content size is limited to `10KB`."
          }
        },
        "type": {
          "target": "com.gcp.agentregistry_v1#AgentSpecTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the agent spec content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The spec of the agent."
      }
    },
    "com.gcp.agentregistry_v1#AgentSpecTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "NO_SPEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SPEC"
          }
        },
        "A2A_AGENT_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2A_AGENT_CARD"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#ListServicesResponse": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.gcp.agentregistry_v1#ServiceList",
          "traits": {
            "smithy.api#documentation": "The list of Service resources matching the parent and filter criteria in the request. Each Service resource follows the format: `projects/{project}/locations/{location}/services/{service}`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return. Used in page_token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Services"
      }
    },
    "com.gcp.agentregistry_v1#ServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1#Service"
      }
    },
    "com.gcp.agentregistry_v1#AuthProviderBinding": {
      "type": "structure",
      "members": {
        "scopes": {
          "target": "com.gcp.agentregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of OAuth2 scopes of the AuthProvider."
          }
        },
        "continueUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The continue URI of the AuthProvider. The URI is used to reauthenticate the user and finalize the managed OAuth flow."
          }
        },
        "authProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the target AuthProvider. Format: * `projects/{project}/locations/{location}/authProviders/{auth_provider}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The AuthProvider of the Binding."
      }
    },
    "com.gcp.agentregistry_v1#McpServerSpec": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.agentregistry_v1#McpServerSpecTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the MCP Server spec content."
          }
        },
        "content": {
          "target": "com.gcp.agentregistry_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. The content of the MCP Server spec. This payload is validated against the schema for the specified type. The content size is limited to `10KB`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The spec of the MCP Server."
      }
    },
    "com.gcp.agentregistry_v1#McpServerSpecTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "NO_SPEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SPEC"
          }
        },
        "TOOL_SPEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOOL_SPEC"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#Tool": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.gcp.agentregistry_v1#Annotations",
          "traits": {
            "smithy.api#documentation": "Output only. Annotations associated with the tool."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Description of what the tool does."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable name of the tool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single tool provided by an MCP Server."
      }
    },
    "com.gcp.agentregistry_v1#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.agentregistry_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.agentregistry_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1#DocumentMap"
      }
    },
    "com.gcp.agentregistry_v1#SearchMcpServersResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        },
        "mcpServers": {
          "target": "com.gcp.agentregistry_v1#McpServerList",
          "traits": {
            "smithy.api#documentation": "A list of McpServers that match the `search_string`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to searching MCP Servers"
      }
    },
    "com.gcp.agentregistry_v1#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.agentregistry_v1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.agentregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.agentregistry_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.agentregistry_v1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1#ServiceDisabled"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.agentregistry_v1#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1#ServiceDisabled"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.agentregistry_v1#GetIamPolicyProjectsLocationsAiApplicationsRequest": {
      "type": "structure",
      "members": {
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#GetIamPolicyProjectsLocationsAiApplications": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1#GetIamPolicyProjectsLocationsAiApplicationsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1#GoogleIamV1Policy"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
      }
    },
    "com.gcp.agentregistry_v1#TestIamPermissionsProjectsLocationsAiApplicationsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.agentregistry_v1#GoogleIamV1TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.agentregistry_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.agentregistry_v1#TestIamPermissionsProjectsLocationsAiApplications": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1#TestIamPermissionsProjectsLocationsAiApplicationsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1#GoogleIamV1TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1#BadRequest"
        },
        {
          "target": "com.gcp.agentregistry_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
      }
    },
    "com.gcp.agentregistry_v1#SetIamPolicyProjectsLocationsAiApplicationsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.agentregistry_v1#GoogleIamV1SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#SetIamPolicyProjectsLocationsAiApplications": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1#SetIamPolicyProjectsLocationsAiApplicationsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1#GoogleIamV1Policy"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1#BadRequest"
        },
        {
          "target": "com.gcp.agentregistry_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
      }
    },
    "com.gcp.agentregistry_v1#GetProjectsLocationsEndpointsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the endpoint to retrieve. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#GetProjectsLocationsEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1#GetProjectsLocationsEndpointsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1#Endpoint"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1#ServiceDisabled"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single Endpoint."
      }
    },
    "com.gcp.agentregistry_v1#ListProjectsLocationsEndpointsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The project and location to list endpoints in. Expected format: `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token identifying a page of results the server should return.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A query string used to filter the list of endpoints returned. The filter expression must follow AIP-160 syntax. Filtering is supported on the `name`, `display_name`, `description`, `version`, and `interfaces` fields. Some examples: * `name = \"projects/p1/locations/l1/endpoints/e1\"` * `display_name = \"my-endpoint\"` * `description = \"my-endpoint-description\"` * `version = \"v1\"` * `interfaces.transport = \"HTTP_JSON\"`",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#ListProjectsLocationsEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1#ListProjectsLocationsEndpointsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1#ListEndpointsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1#ServiceDisabled"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/endpoints"
        },
        "smithy.api#documentation": "Lists Endpoints in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.agentregistry_v1#GetProjectsLocationsMcpServersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the resource",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#GetProjectsLocationsMcpServers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1#GetProjectsLocationsMcpServersRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1#McpServer"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1#ServiceDisabled"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single McpServer."
      }
    },
    "com.gcp.agentregistry_v1#SearchProjectsLocationsMcpServersRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Parent value for SearchMcpServersRequest. Format: `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.agentregistry_v1#SearchMcpServersRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#SearchProjectsLocationsMcpServers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1#SearchProjectsLocationsMcpServersRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1#SearchMcpServersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1#BadRequest"
        },
        {
          "target": "com.gcp.agentregistry_v1#Conflict"
        },
        {
          "target": "com.gcp.agentregistry_v1#ServiceDisabled"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/mcpServers:search"
        },
        "smithy.api#documentation": "Searches McpServers in a given project and location."
      }
    },
    "com.gcp.agentregistry_v1#ListProjectsLocationsMcpServersRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token identifying a page of results the server should return.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filtering results",
            "smithy.api#httpQuery": "filter"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Hint for how to order the results",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Parent value for ListMcpServersRequest. Format: `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#ListProjectsLocationsMcpServers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1#ListProjectsLocationsMcpServersRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1#ListMcpServersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1#ServiceDisabled"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/mcpServers"
        },
        "smithy.api#documentation": "Lists McpServers in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.agentregistry_v1#SearchProjectsLocationsAgentsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Parent value for SearchAgentsRequest. Format: `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.agentregistry_v1#SearchAgentsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#SearchProjectsLocationsAgents": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1#SearchProjectsLocationsAgentsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1#SearchAgentsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1#BadRequest"
        },
        {
          "target": "com.gcp.agentregistry_v1#Conflict"
        },
        {
          "target": "com.gcp.agentregistry_v1#ServiceDisabled"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/agents:search"
        },
        "smithy.api#documentation": "Searches Agents in a given project and location."
      }
    },
    "com.gcp.agentregistry_v1#ListProjectsLocationsAgentsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filtering results",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token identifying a page of results the server should return.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Hint for how to order the results",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Parent value for ListAgentsRequest",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#ListProjectsLocationsAgents": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1#ListProjectsLocationsAgentsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1#ListAgentsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1#ServiceDisabled"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/agents"
        },
        "smithy.api#documentation": "Lists Agents in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.agentregistry_v1#GetProjectsLocationsAgentsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the resource",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#GetProjectsLocationsAgents": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1#GetProjectsLocationsAgentsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1#Agent"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1#ServiceDisabled"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single Agent."
      }
    },
    "com.gcp.agentregistry_v1#GetProjectsLocationsServicesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the Service. Format: `projects/{project}/locations/{location}/services/{service}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#GetProjectsLocationsServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1#GetProjectsLocationsServicesRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1#Service"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1#ServiceDisabled"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single Service."
      }
    },
    "com.gcp.agentregistry_v1#DeleteProjectsLocationsServicesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the Service. Format: `projects/{project}/locations/{location}/services/{service}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1#DeleteProjectsLocationsServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1#DeleteProjectsLocationsServicesRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1#BadRequest"
        },
        {
          "target": "com.gcp.agentregistry_v1#Conflict"
        },
        {
          "target": "com.gcp.agentregistry_v1#ServiceDisabled"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a single Service."
      }
    },
    "com.gcp.agentregistry_v1#ListProjectsLocationsServicesRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
[...]
