{
  "smithy": "2.0",
  "metadata": {
    "service": "billingbudgets",
    "version": "v1",
    "title": "Cloud Billing Budget API",
    "baseUrl": "https://billingbudgets.googleapis.com/",
    "distilled.finalized": true
  },
  "shapes": {
    "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1LastPeriodAmount": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Describes a budget amount targeted to the last Filter.calendar_period spend. At this time, the amount is automatically 100% of the last calendar period's spend; that is, there are no other options yet. LastPeriodAmount cannot be set for a budget configured with a Filter.custom_period."
      }
    },
    "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1ThresholdRule": {
      "type": "structure",
      "members": {
        "spendBasis": {
          "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1ThresholdRuleSpendBasisEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of basis used to determine if spend has passed the threshold. Behavior defaults to CURRENT_SPEND if not set. When `spend_cap` is set on the budget, must be `CURRENT_SPEND` or `BASIS_UNSPECIFIED`. `FORECASTED_SPEND` is not supported."
          }
        },
        "thresholdPercent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. Send an alert when this threshold is exceeded. This is a 1.0-based percentage, so 0.5 = 50%. Validation: non-negative number. When `spend_cap` is set on the budget, `threshold_rules` must contain exactly three rules with `threshold_percent` values of `0.5`, `0.8`, and `1.0` (50%, 80%, and 100%)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ThresholdRule contains the definition of a threshold. Threshold rules define the triggering events used to generate a budget notification email. When a threshold is crossed (spend exceeds the specified percentages of the budget), budget alert emails are sent to the email recipients you specify in the [NotificationsRule](#notificationsrule). Threshold rules also affect the fields included in the [JSON data object](https://docs.cloud.google.com/billing/docs/how-to/budgets-programmatic-notifications#notification-format) sent to a Pub/Sub topic. Threshold rules are _required_ if using email notifications. Threshold rules are _optional_ if only setting a [`pubsubTopic` NotificationsRule](#NotificationsRule), unless you want your JSON data object to include data about the thresholds you set. For more information, see [set budget threshold rules and actions](https://docs.cloud.google.com/billing/docs/how-to/budgets#budget-actions)."
      }
    },
    "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1ThresholdRuleSpendBasisEnum": {
      "type": "enum",
      "members": {
        "BASIS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIS_UNSPECIFIED"
          }
        },
        "CURRENT_SPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURRENT_SPEND"
          }
        },
        "FORECASTED_SPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORECASTED_SPEND"
          }
        }
      }
    },
    "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1Budget": {
      "type": "structure",
      "members": {
        "notificationsRule": {
          "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1NotificationsRule",
          "traits": {
            "smithy.api#documentation": "Optional. Rules to apply to notifications sent based on budget spend and thresholds. Must be set when `spend_cap` is set. For spend caps, `enable_project_level_recipients` must be set to `true`, `disable_default_iam_recipients` must be `false` (or unset), and `pubsub_topic` and `monitoring_notification_channels` must be empty."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Etag to validate that the object is unchanged for a read-modify-write operation. An empty etag causes an update to overwrite other changes."
          }
        },
        "budgetFilter": {
          "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1Filter",
          "traits": {
            "smithy.api#documentation": "Optional. Filters that define which resources are used to compute the actual spend against the budget amount, such as projects, services, and the budget's time period, as well as other filters. Must be set when `spend_cap` is set. See `Filter` fields for spend cap restrictions."
          }
        },
        "thresholdRules": {
          "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1ThresholdRuleList",
          "traits": {
            "smithy.api#documentation": "Optional. Rules that trigger alerts (notifications of thresholds being crossed) when spend exceeds the specified percentages of the budget. Optional for `pubsubTopic` notifications. Required if using email notifications. Must be set when `spend_cap` is set. Spend caps must have exactly three `CURRENT_SPEND` threshold rules with `threshold_percent` values of `0.5`, `0.8`, and `1.0` (50%, 80%, and 100%). `FORECASTED_SPEND` threshold rules are not supported for spend caps."
          }
        },
        "amount": {
          "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1BudgetAmount",
          "traits": {
            "smithy.api#documentation": "Required. Budgeted amount. When `spend_cap` is set, `specified_amount` must be set to a non-negative amount (>= 0); `last_period_amount` is not supported."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User data for display name in UI. The name must be less than or equal to 60 characters."
          }
        },
        "ownershipScope": {
          "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1BudgetOwnershipScopeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. When `spend_cap` is set, must be `OWNERSHIP_SCOPE_UNSPECIFIED` or `ALL_USERS`. `BILLING_ACCOUNT` is not supported for spend caps."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the budget. The resource name implies the scope of a budget. Values are of the form `billingAccounts/{billingAccountId}/budgets/{budgetId}`."
          }
        },
        "spendCap": {
          "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1SpendCap",
          "traits": {
            "smithy.api#documentation": "Optional. The spend cap configured for this budget. When `spend_cap` is set, strict field restrictions apply to the budget (see field-level comments on `ownership_scope`, `budget_filter`, `amount`, `threshold_rules`, and `notifications_rule`). When `spend_cap.output_state` is `ENFORCED`, only `spend_cap.input_state` can be modified in an `UpdateBudget` request (e.g., setting `input_state` to `AWAITING_NEXT_PERIOD` to lift the cap); modifying any other budget field while enforced will fail with `FAILED_PRECONDITION`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A budget is a plan that describes what you expect to spend on Cloud projects, plus the rules to execute as spend is tracked against that plan, (for example, send an alert when 90% of the target spend is met, or pause usage of the specified service when a spend cap budget is enforced). For alerts-only budgets, the budget time period is configurable, with options such as month (default), quarter, year, or custom time period. For spend cap budgets, the budget time period is limited to month."
      }
    },
    "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1ThresholdRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1ThresholdRule"
      }
    },
    "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1BudgetOwnershipScopeEnum": {
      "type": "enum",
      "members": {
        "OWNERSHIP_SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_SCOPE_UNSPECIFIED"
          }
        },
        "ALL_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_USERS"
          }
        },
        "BILLING_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_ACCOUNT"
          }
        }
      }
    },
    "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1SpendCap": {
      "type": "structure",
      "members": {
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the server is actively processing a state transition or async workflow."
          }
        },
        "inputState": {
          "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1SpendCapInputStateEnum",
          "traits": {
            "smithy.api#documentation": "Required. The desired state specified by the user. Valid values for mutation: - `CONFIGURED`: Must be set when creating a spend cap (`CreateBudget`). Also valid when updating (`UpdateBudget`) to activate the spend cap. - `AWAITING_NEXT_PERIOD`: Valid only when updating (`UpdateBudget`) to explicitly lift an enforced cap. Supplying any other value will result in an INVALID_ARGUMENT error."
          }
        },
        "outputState": {
          "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1SpendCapOutputStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The actual resting state of the spend cap."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SpendCap defines the spend cap configuration and state."
      }
    },
    "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1SpendCapInputStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIGURED"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCED"
          }
        },
        "AWAITING_NEXT_PERIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWAITING_NEXT_PERIOD"
          }
        }
      }
    },
    "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1SpendCapOutputStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIGURED"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCED"
          }
        },
        "AWAITING_NEXT_PERIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWAITING_NEXT_PERIOD"
          }
        }
      }
    },
    "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1Filter": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.gcp.billingbudgets_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A set of services of the form `services/{service_id}`, specifying that usage from only this set of services should be included in the budget. If omitted, the report includes usage for all the services. The service names are available through the Catalog API: https://docs.cloud.google.com/billing/v1/how-tos/catalog-api. When `spend_cap` is set, the services filter must be set and must contain exactly one service from this list of eligible services: https://docs.cloud.google.com/billing/docs/how-to/budgets-spend-caps#eligible-services."
          }
        },
        "calendarPeriod": {
          "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1FilterCalendarPeriodEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies to track usage for recurring calendar period. For example, assume that CalendarPeriod.QUARTER is set. The budget tracks usage from April 1 to June 30, when the current calendar month is April, May, June. After that, it tracks usage from July 1 to September 30 when the current calendar month is July, August, September, so on. When `spend_cap` is set, must be `MONTH` (or `usage_period` left unset, which defaults to `MONTH`). `QUARTER` and `YEAR` are not supported for spend caps."
          }
        },
        "labels": {
          "target": "com.gcp.billingbudgets_v1#DocumentListMap",
          "traits": {
            "smithy.api#documentation": "Optional. A single label and value pair specifying that usage from only this set of labeled resources should be included in the budget. If omitted, the report includes all labeled and unlabeled usage. An object containing a single `\"key\": value` pair. Example: `{ \"name\": \"wrench\" }`. _Currently, multiple entries or multiple values per entry are not allowed._ Not supported when `spend_cap` is set; must be empty."
          }
        },
        "creditTypesTreatment": {
          "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1FilterCreditTypesTreatmentEnum",
          "traits": {
            "smithy.api#documentation": "Optional. If not set, default behavior is `INCLUDE_ALL_CREDITS`. Must be set to `EXCLUDE_ALL_CREDITS` when `spend_cap` is set."
          }
        },
        "creditTypes": {
          "target": "com.gcp.billingbudgets_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. If Filter.credit_types_treatment is INCLUDE_SPECIFIED_CREDITS, this is a list of credit types to be subtracted from gross cost to determine the spend for threshold calculations. See [a list of acceptable credit type values](https://docs.cloud.google.com/billing/docs/how-to/export-data-bigquery-tables/detailed-usage#credits-type). If Filter.credit_types_treatment is **not** INCLUDE_SPECIFIED_CREDITS, this field must be empty. Not supported when `spend_cap` is set; must be empty."
          }
        },
        "resourceAncestors": {
          "target": "com.gcp.billingbudgets_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A set of folder and organization names of the form `folders/{folderId}` or `organizations/{organizationId}`, specifying that usage from only this set of folders and organizations should be included in the budget. If omitted, the budget includes all usage that the billing account pays for. If the folder or organization contains projects that are paid for by a different Cloud Billing account, the budget *doesn't* apply to those projects. Not supported when `spend_cap` is set; must be empty."
          }
        },
        "subaccounts": {
          "target": "com.gcp.billingbudgets_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A set of subaccounts of the form `billingAccounts/{account_id}`, specifying that usage from only this set of subaccounts should be included in the budget. If a subaccount is set to the name of the parent account, usage from the parent account is included. If the field is omitted, the report includes usage from the parent account and all subaccounts, if they exist. Not supported when `spend_cap` is set; must be empty."
          }
        },
        "projects": {
          "target": "com.gcp.billingbudgets_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A set of projects of the form `projects/{project}`, specifying that usage from only this set of projects should be included in the budget. If omitted, the report includes all usage for the billing account, regardless of which project the usage occurred on. Must be set when `spend_cap` is set; must contain exactly one project."
          }
        },
        "customPeriod": {
          "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1CustomPeriod",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies to track usage from any start date (required) to any end date (optional). This time period is static, it does not recur. Not supported when `spend_cap` is set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter for a budget, limiting the scope of the cost to calculate."
      }
    },
    "com.gcp.billingbudgets_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1FilterCalendarPeriodEnum": {
      "type": "enum",
      "members": {
        "CALENDAR_PERIOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALENDAR_PERIOD_UNSPECIFIED"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTH"
          }
        },
        "QUARTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUARTER"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YEAR"
          }
        }
      }
    },
    "com.gcp.billingbudgets_v1#DocumentList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.billingbudgets_v1#DocumentListMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.billingbudgets_v1#DocumentList"
      }
    },
    "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1FilterCreditTypesTreatmentEnum": {
      "type": "enum",
      "members": {
        "CREDIT_TYPES_TREATMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDIT_TYPES_TREATMENT_UNSPECIFIED"
          }
        },
        "INCLUDE_ALL_CREDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCLUDE_ALL_CREDITS"
          }
        },
        "EXCLUDE_ALL_CREDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCLUDE_ALL_CREDITS"
          }
        },
        "INCLUDE_SPECIFIED_CREDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCLUDE_SPECIFIED_CREDITS"
          }
        }
      }
    },
    "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1NotificationsRule": {
      "type": "structure",
      "members": {
        "monitoringNotificationChannels": {
          "target": "com.gcp.billingbudgets_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Email targets to send notifications to when a threshold is exceeded. This is in addition to the `DefaultIamRecipients` who receive alert emails based on their billing account IAM role. The value is the full REST resource name of a Cloud Monitoring email notification channel with the form `projects/{project_id}/notificationChannels/{channel_id}`. A maximum of 5 email notifications are allowed. To customize budget alert email recipients with monitoring notification channels, you _must create the monitoring notification channels before you link them to a budget_. For guidance on setting up notification channels to use with budgets, see [Customize budget alert email recipients](https://docs.cloud.google.com/billing/docs/how-to/budgets-notification-recipients). For Cloud Billing budget alerts, you _must use email notification channels_. The other types of notification channels are _not_ supported, such as Slack, SMS, or PagerDuty. If you want to [send budget notifications to Slack](https://docs.cloud.google.com/billing/docs/how-to/send-notifications-to-slack), use a pubsubTopic and configure [programmatic notifications](https://docs.cloud.google.com/billing/docs/how-to/budgets-programmatic-notifications). Not supported when `spend_cap` is set; must be empty."
          }
        },
        "schemaVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Required when NotificationsRule.pubsub_topic is set. The schema version of the notification sent to NotificationsRule.pubsub_topic. Only \"1.0\" is accepted. It represents the JSON schema as defined in https://docs.cloud.google.com/billing/docs/how-to/budgets-programmatic-notifications#notification-format."
          }
        },
        "disableDefaultIamRecipients": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When set to true, disables default notifications sent when a threshold is exceeded. Default notifications are sent to those with Billing Account Administrator and Billing Account User IAM roles for the target account. Must be `false` (or unset) when `spend_cap` is set; default notifications cannot be disabled for spend caps."
          }
        },
        "enableProjectLevelRecipients": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When set to true, and when the budget has a single project configured, notifications will be sent to project level recipients of that project. This field will be ignored if the budget has multiple or no project configured. Currently, project level recipients are the users with `Owner` role on a cloud project. Must be set to `true` when `spend_cap` is set."
          }
        },
        "pubsubTopic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the Pub/Sub topic where budget-related messages are published, in the form `projects/{project_id}/topics/{topic_id}`. Updates are sent to the topic at regular intervals; the timing of the updates is not dependent on the [threshold rules](#thresholdrule) you've set. Note that if you want your [Pub/Sub JSON object](https://docs.cloud.google.com/billing/docs/how-to/budgets-programmatic-notifications#notification-format) to contain data for `alertThresholdExceeded`, you need at least one [alert threshold rule](#thresholdrule). When you set threshold rules, you must also enable at least one of the email notification options, either using the default IAM recipients or Cloud Monitoring email notification channels. To use Pub/Sub topics with budgets, you must do the following: 1. Create the Pub/Sub topic before connecting it to your budget. For guidance, see [Manage programmatic budget alert notifications](https://docs.cloud.google.com/billing/docs/how-to/budgets-programmatic-notifications). 2. Grant the API caller the `pubsub.topics.setIamPolicy` permission on the Pub/Sub topic. If not set, the API call fails with PERMISSION_DENIED. For additional details on Pub/Sub roles and permissions, see [Permissions required for this task](https://docs.cloud.google.com/billing/docs/how-to/budgets-programmatic-notifications#permissions). Not supported when `spend_cap` is set; must be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NotificationsRule defines notifications that are sent based on budget spend and thresholds."
      }
    },
    "com.gcp.billingbudgets_v1#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1BudgetAmount": {
      "type": "structure",
      "members": {
        "specifiedAmount": {
          "target": "com.gcp.billingbudgets_v1#GoogleTypeMoney",
          "traits": {
            "smithy.api#documentation": "A specified amount to use as the budget. `currency_code` is optional. If specified when creating a budget, it must match the currency of the billing account. If specified when updating a budget, it must match the currency_code of the existing budget. The `currency_code` is provided on output. Must be set when `spend_cap` is set; must be non-negative (>= 0)."
          }
        },
        "lastPeriodAmount": {
          "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1LastPeriodAmount",
          "traits": {
            "smithy.api#documentation": "Use the last period's actual spend as the budget for the present period. LastPeriodAmount can only be set when the budget's time period is a Filter.calendar_period. It cannot be set in combination with Filter.custom_period. Not supported when `spend_cap` is set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The budgeted amount for each usage period."
      }
    },
    "com.gcp.billingbudgets_v1#GoogleTypeMoney": {
      "type": "structure",
      "members": {
        "units": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-letter currency code defined in ISO 4217."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount of money with its currency type."
      }
    },
    "com.gcp.billingbudgets_v1#GoogleTypeDate": {
      "type": "structure",
      "members": {
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1CustomPeriod": {
      "type": "structure",
      "members": {
        "endDate": {
          "target": "com.gcp.billingbudgets_v1#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "Optional. The end date of the time period. Budgets with elapsed end date won't be processed. If unset, specifies to track all usage incurred since the start_date."
          }
        },
        "startDate": {
          "target": "com.gcp.billingbudgets_v1#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "Required. The start date must be after January 1, 2017."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All date times begin at 12 AM US and Canadian Pacific Time (UTC-8)."
      }
    },
    "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1ListBudgetsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not empty, indicates that there may be more budgets that match the request; this value should be passed in a new `ListBudgetsRequest`."
          }
        },
        "budgets": {
          "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1BudgetList",
          "traits": {
            "smithy.api#documentation": "List of the budgets owned by the requested billing account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListBudgets"
      }
    },
    "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1BudgetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1Budget"
      }
    },
    "com.gcp.billingbudgets_v1#ListBillingAccountsBudgetsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of billing account to list budgets under. Values are of the form `billingAccounts/{billingAccountId}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Set the scope of the budgets to be returned, in the format of the resource name. The scope of a budget is the cost that it tracks, such as costs for a single project, or the costs for all projects in a folder. Only project scope (in the format of \"projects/project-id\" or \"projects/123\") is supported in this field. When this field is set to a project's resource name, the budgets returned are tracking the costs for that project.",
            "smithy.api#httpQuery": "scope"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The value returned by the last `ListBudgetsResponse` which indicates that this is a continuation of a prior `ListBudgets` call, and that the system should return the next page of data.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of budgets to return per page. The default and maximum value are 100.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.billingbudgets_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.billingbudgets_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.billingbudgets_v1#ListBillingAccountsBudgets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.billingbudgets_v1#ListBillingAccountsBudgetsRequest"
      },
      "output": {
        "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1ListBudgetsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.billingbudgets_v1#NotFound"
        },
        {
          "target": "com.gcp.billingbudgets_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/budgets"
        },
        "smithy.api#documentation": "Returns a list of budgets for a billing account. WARNING: There are some fields exposed on the Google Cloud Console that aren't available on this API. When reading from the API, you will not see these fields in the return value, though they may have been set in the Cloud Console.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.billingbudgets_v1#CreateBillingAccountsBudgetsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the billing account to create the budget in. Values are of the form `billingAccounts/{billingAccountId}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1Budget",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.billingbudgets_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.billingbudgets_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.billingbudgets_v1#CreateBillingAccountsBudgets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.billingbudgets_v1#CreateBillingAccountsBudgetsRequest"
      },
      "output": {
        "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1Budget"
      },
      "errors": [
        {
          "target": "com.gcp.billingbudgets_v1#NotFound"
        },
        {
          "target": "com.gcp.billingbudgets_v1#Forbidden"
        },
        {
          "target": "com.gcp.billingbudgets_v1#BadRequest"
        },
        {
          "target": "com.gcp.billingbudgets_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/budgets"
        },
        "smithy.api#documentation": "Creates a new budget. See [Quotas and limits](https://cloud.google.com/billing/quotas) for more information on the limits of the number of budgets you can create."
      }
    },
    "com.gcp.billingbudgets_v1#GetBillingAccountsBudgetsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of budget to get. Values are of the form `billingAccounts/{billingAccountId}/budgets/{budgetId}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.billingbudgets_v1#GetBillingAccountsBudgets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.billingbudgets_v1#GetBillingAccountsBudgetsRequest"
      },
      "output": {
        "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1Budget"
      },
      "errors": [
        {
          "target": "com.gcp.billingbudgets_v1#NotFound"
        },
        {
          "target": "com.gcp.billingbudgets_v1#Forbidden"
        },
        {
          "target": "com.gcp.billingbudgets_v1#BudgetNotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Returns a budget. WARNING: There are some fields exposed on the Google Cloud Console that aren't available on this API. When reading from the API, you will not see these fields in the return value, though they may have been set in the Cloud Console."
      }
    },
    "com.gcp.billingbudgets_v1#PatchBillingAccountsBudgetsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the budget. The resource name implies the scope of a budget. Values are of the form `billingAccounts/{billingAccountId}/budgets/{budgetId}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates which fields in the provided budget to update. Read-only fields (such as `name`) cannot be changed. If this is not provided, then only fields with non-default values from the request are updated. See https://developers.google.com/protocol-buffers/docs/proto3#default for more details about default values.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1Budget",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.billingbudgets_v1#PatchBillingAccountsBudgets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.billingbudgets_v1#PatchBillingAccountsBudgetsRequest"
      },
      "output": {
        "target": "com.gcp.billingbudgets_v1#GoogleCloudBillingBudgetsV1Budget"
      },
      "errors": [
        {
          "target": "com.gcp.billingbudgets_v1#NotFound"
        },
        {
          "target": "com.gcp.billingbudgets_v1#Forbidden"
        },
        {
          "target": "com.gcp.billingbudgets_v1#BadRequest"
        },
        {
          "target": "com.gcp.billingbudgets_v1#Conflict"
        },
        {
          "target": "com.gcp.billingbudgets_v1#BudgetNotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates a budget and returns the updated budget. WARNING: There are some fields exposed on the Google Cloud Console that aren't available on this API. Budget fields that are not exposed in this API will not be changed by this method."
      }
    },
    "com.gcp.billingbudgets_v1#DeleteBillingAccountsBudgetsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the budget to delete. Values are of the form `billingAccounts/{billingAccountId}/budgets/{budgetId}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.billingbudgets_v1#DeleteBillingAccountsBudgets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.billingbudgets_v1#DeleteBillingAccountsBudgetsRequest"
      },
      "output": {
        "target": "com.gcp.billingbudgets_v1#GoogleProtobufEmpty"
      },
      "errors": [
        {
          "target": "com.gcp.billingbudgets_v1#NotFound"
        },
        {
          "target": "com.gcp.billingbudgets_v1#Forbidden"
        },
        {
          "target": "com.gcp.billingbudgets_v1#BadRequest"
        },
        {
          "target": "com.gcp.billingbudgets_v1#Conflict"
        },
        {
          "target": "com.gcp.billingbudgets_v1#BudgetNotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a budget. Returns successfully if already deleted."
      }
    },
    "com.gcp.billingbudgets_v1#BudgetNotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "smithy.api#documentation": "The budget does not exist (or is outside the caller's billing scope). The Budget API answers HTTP 403 'The caller does not have permission' for a missing budget id instead of 404.",
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403,
            "message": {
              "includes": "The caller does not have permission"
            }
          }
        ]
      }
    }
  }
}
