{
  "smithy": "2.0",
  "metadata": {
    "service": "ces",
    "version": "v1",
    "title": "Gemini Enterprise for Customer Experience API",
    "baseUrl": "https://ces.googleapis.com/",
    "distilled.finalized": true
  },
  "shapes": {
    "com.gcp.ces_v1#ChannelProfileWebWidgetConfigSecuritySettings": {
      "type": "structure",
      "members": {
        "enableRecaptcha": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled."
          }
        },
        "enablePublicAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent."
          }
        },
        "allowedOrigins": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\""
          }
        },
        "enableOriginCheck": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Security settings for the web widget."
      }
    },
    "com.gcp.ces_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.ces_v1#SecuritySettings": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Etag of the security settings."
          }
        },
        "endpointControlPolicy": {
          "target": "com.gcp.ces_v1#EndpointControlPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. Endpoint control related settings."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update time of the security settings."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time of the security settings."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The unique identifier of the security settings. Format: `projects/{project}/locations/{location}/securitySettings`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Project/Location level security settings for CES."
      }
    },
    "com.gcp.ces_v1#AmbientSoundConfig": {
      "type": "structure",
      "members": {
        "volumeGainDb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that."
          }
        },
        "prebuiltAmbientNoise": {
          "target": "com.gcp.ces_v1#AmbientSoundConfigPrebuiltAmbientNoiseEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`."
          }
        },
        "prebuiltAmbientSound": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\""
          }
        },
        "gcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation."
      }
    },
    "com.gcp.ces_v1#AmbientSoundConfigPrebuiltAmbientNoiseEnum": {
      "type": "enum",
      "members": {
        "PREBUILT_AMBIENT_NOISE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREBUILT_AMBIENT_NOISE_UNSPECIFIED"
          }
        },
        "RETAIL_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETAIL_STORE"
          }
        },
        "CONVENTION_HALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVENTION_HALL"
          }
        },
        "OUTDOOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTDOOR"
          }
        }
      }
    },
    "com.gcp.ces_v1#AgentRemoteDialogflowAgent": {
      "type": "structure",
      "members": {
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The environment ID of the Dialogflow agent to be used for the agent execution. If not specified, the draft environment will be used."
          }
        },
        "agent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The [Dialogflow](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent resource name. Format: `projects/{project}/locations/{location}/agents/{agent}`"
          }
        },
        "inputVariableMapping": {
          "target": "com.gcp.ces_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The mapping of the app variables names to the Dialogflow session parameters names to be sent to the Dialogflow agent as input."
          }
        },
        "flowId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The flow ID of the flow in the Dialogflow agent."
          }
        },
        "outputVariableMapping": {
          "target": "com.gcp.ces_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The mapping of the Dialogflow session parameters names to the app variables names to be sent back to the CES agent after the Dialogflow agent execution ends."
          }
        },
        "respectResponseInterruptionSettings": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether to respect the message-level interruption settings configured in the Dialogflow agent. * If false: all response messages from the Dialogflow agent follow the app-level barge-in settings. * If true: only response messages with [`allow_playback_interruption`](https://docs.cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#text) set to true will be interruptable, all other messages follow the app-level barge-in settings."
          }
        },
        "languageCodeVariable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the variable that contains the language code to be used for the Dialogflow session. If unspecified, the default language code of the Dialogflow agent will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The agent which will transfer execution to a remote [Dialogflow CX](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent. The Dialogflow agent will process subsequent user queries until the session ends or flow ends, and the control is transferred back to the parent CES agent."
      }
    },
    "com.gcp.ces_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.ces_v1#LfA2aV1AgentCapabilities": {
      "type": "structure",
      "members": {
        "streaming": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the agent supports streaming responses."
          }
        },
        "extendedAgentCard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the agent supports providing an extended agent card when authenticated."
          }
        },
        "extensions": {
          "target": "com.gcp.ces_v1#LfA2aV1AgentExtensionList",
          "traits": {
            "smithy.api#documentation": "A list of protocol extensions supported by the agent."
          }
        },
        "pushNotifications": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the agent supports sending push notifications for asynchronous task updates."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines optional capabilities supported by an agent."
      }
    },
    "com.gcp.ces_v1#LfA2aV1AgentExtensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#LfA2aV1AgentExtension"
      }
    },
    "com.gcp.ces_v1#LfA2aV1TaskStatusUpdateEvent": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Metadata associated with the task update."
          }
        },
        "contextId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the context that the task belongs to."
          }
        },
        "status": {
          "target": "com.gcp.ces_v1#LfA2aV1TaskStatus",
          "traits": {
            "smithy.api#documentation": "Required. The new status of the task."
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the task that has changed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event sent by the agent to notify the client of a change in a task's status."
      }
    },
    "com.gcp.ces_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.ces_v1#DataStoreToolModalityConfig": {
      "type": "structure",
      "members": {
        "snippetsConfig": {
          "target": "com.gcp.ces_v1#DataStoreToolSnippetsConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The snippets configuration."
          }
        },
        "rewriterConfig": {
          "target": "com.gcp.ces_v1#DataStoreToolRewriterConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The rewriter config."
          }
        },
        "groundingConfig": {
          "target": "com.gcp.ces_v1#DataStoreToolGroundingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The grounding configuration."
          }
        },
        "modalityType": {
          "target": "com.gcp.ces_v1#DataStoreToolModalityConfigModalityTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The modality type."
          }
        },
        "summarizationConfig": {
          "target": "com.gcp.ces_v1#DataStoreToolSummarizationConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The summarization config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If specified, will apply the given configuration for the specified modality."
      }
    },
    "com.gcp.ces_v1#DataStoreToolModalityConfigModalityTypeEnum": {
      "type": "enum",
      "members": {
        "MODALITY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODALITY_TYPE_UNSPECIFIED"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT"
          }
        },
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO"
          }
        }
      }
    },
    "com.gcp.ces_v1#AssistantConfirmationResponse": {
      "type": "structure",
      "members": {
        "confirmed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Binary answer: true approves the paused action, false declines it."
          }
        },
        "answerText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The chosen option's submit_text, or free-form user text. The paused action is cancelled and the text is handed to the agent to act on."
          }
        },
        "confirmationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The AssistantConfirmationRequest.confirmation_id being answered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user's answer to an AssistantConfirmationRequest, sent on the next SessionService.StreamChatAiAssistant call to resume the paused agent."
      }
    },
    "com.gcp.ces_v1#ChannelProfileWebWidgetConfig": {
      "type": "structure",
      "members": {
        "modality": {
          "target": "com.gcp.ces_v1#ChannelProfileWebWidgetConfigModalityEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The modality of the web widget."
          }
        },
        "theme": {
          "target": "com.gcp.ces_v1#ChannelProfileWebWidgetConfigThemeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The theme of the web widget."
          }
        },
        "webWidgetTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The title of the web widget."
          }
        },
        "securitySettings": {
          "target": "com.gcp.ces_v1#ChannelProfileWebWidgetConfigSecuritySettings",
          "traits": {
            "smithy.api#documentation": "Optional. The security settings of the web widget."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for configuration for the web widget."
      }
    },
    "com.gcp.ces_v1#ChannelProfileWebWidgetConfigModalityEnum": {
      "type": "enum",
      "members": {
        "MODALITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODALITY_UNSPECIFIED"
          }
        },
        "CHAT_AND_VOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT_AND_VOICE"
          }
        },
        "VOICE_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOICE_ONLY"
          }
        },
        "CHAT_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT_ONLY"
          }
        },
        "CHAT_VOICE_AND_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT_VOICE_AND_VIDEO"
          }
        }
      }
    },
    "com.gcp.ces_v1#ChannelProfileWebWidgetConfigThemeEnum": {
      "type": "enum",
      "members": {
        "THEME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THEME_UNSPECIFIED"
          }
        },
        "LIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIGHT"
          }
        },
        "DARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DARK"
          }
        }
      }
    },
    "com.gcp.ces_v1#ConnectorToolset": {
      "type": "structure",
      "members": {
        "authConfig": {
          "target": "com.gcp.ces_v1#EndUserAuthConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override"
          }
        },
        "connectorActions": {
          "target": "com.gcp.ces_v1#ActionList",
          "traits": {
            "smithy.api#documentation": "Required. The list of connector actions/entity operations to generate tools for."
          }
        },
        "connection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A toolset that generates tools from an Integration Connectors Connection."
      }
    },
    "com.gcp.ces_v1#ActionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Action"
      }
    },
    "com.gcp.ces_v1#EndpointControlPolicy": {
      "type": "structure",
      "members": {
        "allowedOrigins": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The allowed HTTP(s) origins that tools in the App are able to directly call. The enforcement depends on the value of enforcement_scope and the VPC-SC status of the project. If a port number is not provided, all ports will be allowed. Otherwise, the port number must match exactly. For example, \"https://example.com\" will match \"https://example.com:443\" and any other port. \"https://example.com:443\" will only match \"https://example.com:443\"."
          }
        },
        "enforcementScope": {
          "target": "com.gcp.ces_v1#EndpointControlPolicyEnforcementScopeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The scope in which this policy's allowed_origins list is enforced."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines project/location level endpoint control policy."
      }
    },
    "com.gcp.ces_v1#EndpointControlPolicyEnforcementScopeEnum": {
      "type": "enum",
      "members": {
        "ENFORCEMENT_SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCEMENT_SCOPE_UNSPECIFIED"
          }
        },
        "VPCSC_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPCSC_ONLY"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALWAYS"
          }
        }
      }
    },
    "com.gcp.ces_v1#StreamChatAiAssistantRequest": {
      "type": "structure",
      "members": {
        "clientCapabilities": {
          "target": "com.gcp.ces_v1#StreamChatAiAssistantRequestClientCapabilitiesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Response features this client can render. The server only emits events that need a capability (e.g. `confirmation_request`) when the capability is declared, so older clients never receive events they would silently drop."
          }
        },
        "attachedGcsUris": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Cloud Storage URIs for files uploaded by the user during this turn. Example: \"gs://cxas-transient-uploads/uuid/prd.pdf\""
          }
        },
        "resumeFromSequenceNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional cursor to resume and replay events from an in-flight or completed turn."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The message to send to the assistant agent. May be empty when `confirmation_response` is set (answering a pending confirmation without adding a new message); at least one of the two must be provided."
          }
        },
        "operationCompletedEvent": {
          "target": "com.gcp.ces_v1#OperationCompletedEvent",
          "traits": {
            "smithy.api#documentation": "Optional. Resumes an assistant session paused waiting for a client-managed long-running operation to complete."
          }
        },
        "confirmationResponse": {
          "target": "com.gcp.ces_v1#AssistantConfirmationResponse",
          "traits": {
            "smithy.api#documentation": "Optional. The user's answer to a pending AssistantConfirmationRequest. When set, the server resumes the paused agent with this answer instead of (or in addition to) starting a new prompt turn."
          }
        },
        "attachOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Optional flag to attach to an existing in-flight turn without submitting a new message."
          }
        },
        "contextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Opaque onboarding context token returned by SessionService.GenerateOnboardingSuggestions. When set and still fresh, the server reuses the onboarding snapshot computed for the zero state instead of recomputing it for the first conversation turn."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SessionService.StreamChatAiAssistant."
      }
    },
    "com.gcp.ces_v1#StreamChatAiAssistantRequestClientCapabilitiesItemEnum": {
      "type": "enum",
      "members": {
        "CLIENT_CAPABILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_CAPABILITY_UNSPECIFIED"
          }
        },
        "CONFIRMATION_CARDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIRMATION_CARDS"
          }
        },
        "CLIENT_MANAGED_LRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_MANAGED_LRO"
          }
        }
      }
    },
    "com.gcp.ces_v1#StreamChatAiAssistantRequestClientCapabilitiesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#StreamChatAiAssistantRequestClientCapabilitiesItemEnum"
      }
    },
    "com.gcp.ces_v1#ListGuardrailsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
          }
        },
        "guardrails": {
          "target": "com.gcp.ces_v1#GuardrailList",
          "traits": {
            "smithy.api#documentation": "The list of guardrails."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AgentService.ListGuardrails."
      }
    },
    "com.gcp.ces_v1#GuardrailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Guardrail"
      }
    },
    "com.gcp.ces_v1#DataStoreToolSnippetsConfig": {
      "type": "structure",
      "members": {
        "maxSnippets": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Number of snippets to return per query. If unset, returns all snippets from the service by default."
          }
        },
        "enableSnippets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether snippets are enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Snippets configuration."
      }
    },
    "com.gcp.ces_v1#SystemTool": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the system tool."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The description of the system tool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pre-defined system tool."
      }
    },
    "com.gcp.ces_v1#AssistantConfirmationRequest": {
      "type": "structure",
      "members": {
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time after which this confirmation can no longer be answered. An expired card renders as inactive, and the server declines the confirmation on the next turn so the paused agent does not wait indefinitely."
          }
        },
        "tool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the tool call the agent paused on (e.g. \"update_app\"), for the card header. Unset for pure questions."
          }
        },
        "questions": {
          "target": "com.gcp.ces_v1#OptionQuestionsChunkQuestionList",
          "traits": {
            "smithy.api#documentation": "Multi-choice form of the confirmation. When populated, the card renders a selectable option list and the chosen option's submit_text (or free-form user text) is returned as AssistantConfirmationResponse.answer_text."
          }
        },
        "context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Context describing what is being confirmed (e.g. the action the agent wants to take, or the question it needs answered). Rendered as plain text, not Markdown."
          }
        },
        "negativeLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label for the declining action of a binary confirmation (e.g. \"Not yet\"). Unset when `questions` is populated."
          }
        },
        "agentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display label of the agent that raised the confirmation (e.g. `\"Contract Architect\"`), for the card header."
          }
        },
        "positiveLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label for the approving action of a binary confirmation (e.g. \"Publish\"). Unset when `questions` is populated."
          }
        },
        "confirmationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier correlating this request with its response. Opaque to clients; must be echoed verbatim on the answering request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A blocking question or confirmation the assistant needs answered before an agent action can proceed. The requesting agent is paused and resumes only when the answer arrives on a later StreamChatAiAssistantRequest.confirmation_response."
      }
    },
    "com.gcp.ces_v1#OptionQuestionsChunkQuestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#OptionQuestionsChunkQuestion"
      }
    },
    "com.gcp.ces_v1#CitationsInlineCitation": {
      "type": "structure",
      "members": {
        "citedChunkIndices": {
          "target": "com.gcp.ces_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "The indices of the cited chunks that back this text segment. Indices refer to the elements in `cited_chunks`."
          }
        },
        "startIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The starting index (in bytes) of the text segment in the agent response."
          }
        },
        "endIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ending index (in bytes) of the text segment in the agent response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An inline citation in the response text."
      }
    },
    "com.gcp.ces_v1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.ces_v1#GenerateOnboardingSuggestionsResponse": {
      "type": "structure",
      "members": {
        "suggestions": {
          "target": "com.gcp.ces_v1#AssistantSuggestionList",
          "traits": {
            "smithy.api#documentation": "Personalized suggestions, ranked most relevant first."
          }
        },
        "userProfile": {
          "target": "com.gcp.ces_v1#GenerateOnboardingSuggestionsResponseUserProfileEnum",
          "traits": {
            "smithy.api#documentation": "Classification of the requesting user's history."
          }
        },
        "contextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque token capturing the onboarding snapshot used to generate these suggestions. Clients echo it on the first StreamChatAiAssistantRequest so the server can reuse the snapshot."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SessionService.GenerateOnboardingSuggestions."
      }
    },
    "com.gcp.ces_v1#AssistantSuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#AssistantSuggestion"
      }
    },
    "com.gcp.ces_v1#GenerateOnboardingSuggestionsResponseUserProfileEnum": {
      "type": "enum",
      "members": {
        "USER_PROFILE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_PROFILE_UNSPECIFIED"
          }
        },
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "EXPLORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLORING"
          }
        },
        "RETURNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETURNING"
          }
        }
      }
    },
    "com.gcp.ces_v1#ConversationLoggingSettings": {
      "type": "structure",
      "members": {
        "disableConversationLogging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to disable conversation logging for the sessions."
          }
        },
        "retentionWindow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Controls the retention window for the conversation. If not set, the conversation will be retained for 365 days."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings to describe the conversation logging behaviors for the app."
      }
    },
    "com.gcp.ces_v1#ActionEntityOperation": {
      "type": "structure",
      "members": {
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the entity."
          }
        },
        "operation": {
          "target": "com.gcp.ces_v1#ActionEntityOperationOperationEnum",
          "traits": {
            "smithy.api#documentation": "Required. Operation to perform on the entity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entity CRUD operation specification."
      }
    },
    "com.gcp.ces_v1#ActionEntityOperationOperationEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIST"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        }
      }
    },
    "com.gcp.ces_v1#LfA2aV1PasswordOAuthFlow": {
      "type": "structure",
      "members": {
        "scopes": {
          "target": "com.gcp.ces_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty."
          }
        },
        "tokenUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
          }
        },
        "refreshUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: Use Authorization Code + PKCE or Device Code."
      }
    },
    "com.gcp.ces_v1#AgentRegistryDeployment": {
      "type": "structure",
      "members": {
        "agentRegistryServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The resource name of the deployed Agent Registry service. Format: `projects/{project}/locations/{location}/services/{service}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration and status for Agent Registry deployment."
      }
    },
    "com.gcp.ces_v1#TlsConfig": {
      "type": "structure",
      "members": {
        "caCerts": {
          "target": "com.gcp.ces_v1#TlsConfigCaCertList",
          "traits": {
            "smithy.api#documentation": "Required. Specifies a list of allowed custom CA certificates for HTTPS verification."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The TLS configuration."
      }
    },
    "com.gcp.ces_v1#TlsConfigCaCertList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#TlsConfigCaCert"
      }
    },
    "com.gcp.ces_v1#DataStoreSettingsEngine": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
          }
        },
        "type": {
          "target": "com.gcp.ces_v1#DataStoreSettingsEngineTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the engine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction."
      }
    },
    "com.gcp.ces_v1#DataStoreSettingsEngineTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "ENGINE_TYPE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_TYPE_SEARCH"
          }
        },
        "ENGINE_TYPE_CHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_TYPE_CHAT"
          }
        }
      }
    },
    "com.gcp.ces_v1#McpTool": {
      "type": "structure",
      "members": {
        "tlsConfig": {
          "target": "com.gcp.ces_v1#TlsConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust."
          }
        },
        "apiAuthentication": {
          "target": "com.gcp.ces_v1#ApiAuthentication",
          "traits": {
            "smithy.api#documentation": "Optional. Authentication information required to execute the tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the MCP tool."
          }
        },
        "outputSchema": {
          "target": "com.gcp.ces_v1#Ces_Schema",
          "traits": {
            "smithy.api#documentation": "Optional. The schema of the output arguments of the MCP tool."
          }
        },
        "serverAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The server address of the MCP server, e.g., \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. This is the same as the server_address in the McpToolset. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details."
          }
        },
        "customHeaders": {
          "target": "com.gcp.ces_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details."
          }
        },
        "inputSchema": {
          "target": "com.gcp.ces_v1#Ces_Schema",
          "traits": {
            "smithy.api#documentation": "Optional. The schema of the input arguments of the MCP tool."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the MCP tool."
          }
        },
        "state": {
          "target": "com.gcp.ces_v1#McpToolStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The dynamic availability state of the tool on the external server."
          }
        },
        "nameOverride": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name override of the MCP tool. This is populated if the name was overridden by a Toolset override."
          }
        },
        "serviceDirectoryConfig": {
          "target": "com.gcp.ces_v1#ServiceDirectoryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An MCP tool. See https://modelcontextprotocol.io/specification/2025-06-18/server/tools for more details."
      }
    },
    "com.gcp.ces_v1#McpToolStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STALE"
          }
        }
      }
    },
    "com.gcp.ces_v1#RedactionConfig": {
      "type": "structure",
      "members": {
        "enableRedaction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording."
          }
        },
        "inspectTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`"
          }
        },
        "deidentifyTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration to instruct how sensitive data should be handled."
      }
    },
    "com.gcp.ces_v1#EvaluationMetricsThresholdsToolMatchingSettings": {
      "type": "structure",
      "members": {
        "extraToolCallBehavior": {
          "target": "com.gcp.ces_v1#EvaluationMetricsThresholdsToolMatchingSettingsExtraToolCallBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Behavior for extra tool calls. Defaults to FAIL."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for matching tool calls."
      }
    },
    "com.gcp.ces_v1#EvaluationMetricsThresholdsToolMatchingSettingsExtraToolCallBehaviorEnum": {
      "type": "enum",
      "members": {
        "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAIL"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        }
      }
    },
    "com.gcp.ces_v1#SynthesizeSpeechConfig": {
      "type": "structure",
      "members": {
        "instruction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The instruction used to synthesize speech when using a generative model."
          }
        },
        "voice": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The model used to synthesize audio. Currently supported values: - \"gemini-3.1-flash-tts-preview\" If empty, Chirp3-HD is used."
          }
        },
        "speakingRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for how the agent response should be synthesized."
      }
    },
    "com.gcp.ces_v1#WhatsAppCredentials": {
      "type": "structure",
      "members": {
        "businessAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Business Account ID to use for the phone number."
          }
        },
        "phoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The phone number to register with WhatsApp."
          }
        },
        "conversationProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Conversation Profile ID to use for the deployment."
          }
        },
        "wabaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The WhatsApp Business Account ID."
          }
        },
        "pin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The 6-digit PIN created by the user for two-step verification."
          }
        },
        "authCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Meta auth code provided by the embedded signup flow."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ephemeral Meta credentials for WhatsApp native integration."
      }
    },
    "com.gcp.ces_v1#Operation": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "response": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "error": {
          "target": "com.gcp.ces_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.ces_v1#RemoteA2aConfig": {
      "type": "structure",
      "members": {
        "contextId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If not empty, interactions with the remote A2A agent will use this context ID. This context_id field can refer to a session variable like `$context.variables.order_agent_session_id`."
          }
        },
        "inputVariableMapping": {
          "target": "com.gcp.ces_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Mapping of input variable names of remote agent to GECX variable names."
          }
        },
        "apiAuthentication": {
          "target": "com.gcp.ces_v1#ApiAuthentication",
          "traits": {
            "smithy.api#documentation": "Optional. Authentication configuration for calling the remote agent. Optional if the registry reference already handles authentication."
          }
        },
        "agentRegistry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to the agent in the Agent Registry. Format: `projects/{project}/locations/{location}/agents/{agent}`"
          }
        },
        "streamingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether streaming is enabled for the remote agent."
          }
        },
        "outputVariableMapping": {
          "target": "com.gcp.ces_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Mapping of output variable names of remote agent to GECX variable names."
          }
        },
        "agentCard": {
          "target": "com.gcp.ces_v1#AgentCard",
          "traits": {
            "smithy.api#documentation": "Optional. The full agent card defined inline."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Shared configuration for connecting to a remote [A2A](https://github.com/a2aproject/A2A) agent."
      }
    },
    "com.gcp.ces_v1#Deployment": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this deployment was last updated."
          }
        },
        "modelSettings": {
          "target": "com.gcp.ces_v1#ModelSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Model settings for the deployment. Overrides model settings configured at the app/agent levels. Note: Deployment-level model settings override is gated behind an allowlist. Contact the CXAS team to enable this field."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this deployment was created."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
          }
        },
        "channelProfile": {
          "target": "com.gcp.ces_v1#ChannelProfile",
          "traits": {
            "smithy.api#documentation": "Required. The channel profile used in the deployment."
          }
        },
        "appVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app."
          }
        },
        "modality": {
          "target": "com.gcp.ces_v1#DeploymentModalityEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The modality of the deployment. Note: Deployment-level modality override is gated behind an allowlist. Contact the CXAS team to enable this field."
          }
        },
        "agentRegistryDeployment": {
          "target": "com.gcp.ces_v1#AgentRegistryDeployment",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for deploying this deployment to Agent Registry. If present, this deployment will be published to Agent Registry."
          }
        },
        "whatsappCredentials": {
          "target": "com.gcp.ces_v1#WhatsAppCredentials",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Ephemeral WhatsApp credentials required when configuring a WhatsApp channel profile."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
          }
        },
        "experimentConfig": {
          "target": "com.gcp.ces_v1#ExperimentConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Experiment configuration for the deployment."
          }
        },
        "instagramCredentials": {
          "target": "com.gcp.ces_v1#InstagramCredentials",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Ephemeral Instagram credentials required when configuring a Instagram channel profile."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Display name of the deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile."
      }
    },
    "com.gcp.ces_v1#DeploymentModalityEnum": {
      "type": "enum",
      "members": {
        "MODALITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODALITY_UNSPECIFIED"
          }
        },
        "MODALITY_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODALITY_TEXT"
          }
        },
        "MODALITY_VOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODALITY_VOICE"
          }
        },
        "MODALITY_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODALITY_VIDEO"
          }
        }
      }
    },
    "com.gcp.ces_v1#ServiceAgentIdTokenAuthConfig": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configurations for authentication with [ID token](https://cloud.google.com/docs/authentication/token-types#id) generated from service agent."
      }
    },
    "com.gcp.ces_v1#Action": {
      "type": "structure",
      "members": {
        "connectionActionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of a Connection action for the tool to use."
          }
        },
        "outputFields": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned."
          }
        },
        "entityOperation": {
          "target": "com.gcp.ces_v1#ActionEntityOperation",
          "traits": {
            "smithy.api#documentation": "Entity operation configuration for the tool to use."
          }
        },
        "inputFields": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details."
      }
    },
    "com.gcp.ces_v1#ListAppsResponse": {
      "type": "structure",
      "members": {
        "apps": {
          "target": "com.gcp.ces_v1#AppList",
          "traits": {
            "smithy.api#documentation": "The list of apps."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AgentService.ListApps."
      }
    },
    "com.gcp.ces_v1#AppList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#App"
      }
    },
    "com.gcp.ces_v1#TriggerAction": {
      "type": "structure",
      "members": {
        "respondImmediately": {
          "target": "com.gcp.ces_v1#TriggerActionRespondImmediately",
          "traits": {
            "smithy.api#documentation": "Optional. Immediately respond with a preconfigured response."
          }
        },
        "transferAgent": {
          "target": "com.gcp.ces_v1#TriggerActionTransferAgent",
          "traits": {
            "smithy.api#documentation": "Optional. Transfer the conversation to a different agent."
          }
        },
        "generativeAnswer": {
          "target": "com.gcp.ces_v1#TriggerActionGenerativeAnswer",
          "traits": {
            "smithy.api#documentation": "Optional. Respond with a generative answer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Action that is taken when a certain precondition is met."
      }
    },
    "com.gcp.ces_v1#ListAgentsResponse": {
      "type": "structure",
      "members": {
        "agents": {
          "target": "com.gcp.ces_v1#AgentList",
          "traits": {
            "smithy.api#documentation": "The list of agents."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AgentService.ListAgents."
      }
    },
    "com.gcp.ces_v1#AgentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Agent"
      }
    },
    "com.gcp.ces_v1#GuardrailModelSafety": {
      "type": "structure",
      "members": {
        "safetySettings": {
          "target": "com.gcp.ces_v1#GuardrailModelSafetySafetySettingList",
          "traits": {
            "smithy.api#documentation": "Required. List of safety settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Model safety settings overrides. When this is set, it will override the default settings and trigger the guardrail if the response is considered unsafe."
      }
    },
    "com.gcp.ces_v1#GuardrailModelSafetySafetySettingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#GuardrailModelSafetySafetySetting"
      }
    },
    "com.gcp.ces_v1#Ces_Schema": {
      "type": "structure",
      "members": {
        "minimum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Minimum value for Type.INTEGER and Type.NUMBER."
          }
        },
        "nullable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the value may be null."
          }
        },
        "uniqueItems": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicate the items in the array must be unique. Only applies to TYPE.ARRAY."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The title of the schema."
          }
        },
        "minItems": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Minimum number of the elements for Type.ARRAY."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the data."
          }
        },
        "maximum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum value for Type.INTEGER and Type.NUMBER."
          }
        },
        "properties": {
          "target": "com.gcp.ces_v1#Ces_SchemaMap",
          "traits": {
            "smithy.api#documentation": "Optional. Properties of Type.OBJECT."
          }
        },
        "required": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Required properties of Type.OBJECT."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Allows indirect references between schema nodes. The value should be a valid reference to a child of the root `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": ``` type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string ``` The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring."
          }
        },
        "maxItems": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum number of the elements for Type.ARRAY."
          }
        },
        "defs": {
          "target": "com.gcp.ces_v1#Ces_SchemaMap",
          "traits": {
            "smithy.api#documentation": "Optional. A map of definitions for use by `ref`. Only allowed at the root of the schema."
          }
        },
        "prefixItems": {
          "target": "com.gcp.ces_v1#Ces_SchemaList",
          "traits": {
            "smithy.api#documentation": "Optional. Schemas of initial elements of Type.ARRAY."
          }
        },
        "anyOf": {
          "target": "com.gcp.ces_v1#Ces_SchemaList",
          "traits": {
            "smithy.api#documentation": "Optional. The value should be validated against any (one or more) of the subschemas in the list."
          }
        },
        "items": {
          "target": "com.gcp.ces_v1#Ces_Schema",
          "traits": {
            "smithy.api#documentation": "Optional. Schema of the elements of Type.ARRAY."
          }
        },
        "additionalProperties": {
          "target": "com.gcp.ces_v1#Ces_Schema",
          "traits": {
            "smithy.api#documentation": "Optional. Can either be a boolean or an object, controls the presence of additional properties."
          }
        },
        "default": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional. Default value of the data."
          }
        },
        "type": {
          "target": "com.gcp.ces_v1#Ces_SchemaTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the data."
          }
        },
        "enum": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Possible values of the element of primitive type with enum format. Examples: 1. We can define direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]} 2. We can define apartment number as : {type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a select subset of an OpenAPI 3.0 schema object."
      }
    },
    "com.gcp.ces_v1#Ces_SchemaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.ces_v1#Ces_Schema"
      }
    },
    "com.gcp.ces_v1#Ces_SchemaList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Ces_Schema"
      }
    },
    "com.gcp.ces_v1#Ces_SchemaTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMBER"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN"
          }
        },
        "OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT"
          }
        },
        "ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRAY"
          }
        }
      }
    },
    "com.gcp.ces_v1#AgentLlmAgent": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Default agent type. The agent uses instructions and callbacks specified in the agent to perform the task using a large language model."
      }
    },
    "com.gcp.ces_v1#GuardrailLlmPromptSecurity": {
      "type": "structure",
      "members": {
        "defaultSettings": {
          "target": "com.gcp.ces_v1#GuardrailLlmPromptSecurityDefaultSecuritySettings",
          "traits": {
            "smithy.api#documentation": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response."
          }
        },
        "failOpen": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration."
          }
        },
        "customPolicy": {
          "target": "com.gcp.ces_v1#GuardrailLlmPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. Use a user-defined LlmPolicy to configure the security guardrail."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification."
      }
    },
    "com.gcp.ces_v1#LfA2aV1AgentCardSignature": {
      "type": "structure",
      "members": {
        "protected": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The computed signature, base64url-encoded."
          }
        },
        "header": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The unprotected JWS header values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS)."
      }
    },
    "com.gcp.ces_v1#Conversation": {
      "type": "structure",
      "members": {
        "channelType": {
          "target": "com.gcp.ces_v1#ConversationChannelTypeEnum",
          "traits": {
            "smithy.api#documentation": "DEPRECATED. Please use input_types instead."
          }
        },
        "entryAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`"
          }
        },
        "appVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The language code of the conversation."
          }
        },
        "turns": {
          "target": "com.gcp.ces_v1#ConversationTurnList",
          "traits": {
            "smithy.api#documentation": "Required. The turns in the conversation."
          }
        },
        "turnCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of turns in the conversation."
          }
        },
        "messages": {
          "target": "com.gcp.ces_v1#MessageList",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use turns instead."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the conversation was created."
          }
        },
        "deployment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
          }
        },
        "inputTypes": {
          "target": "com.gcp.ces_v1#ConversationInputTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. The input types of the conversation."
          }
        },
        "source": {
          "target": "com.gcp.ces_v1#ConversationSourceEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicate the source of the conversation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the conversation was completed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A conversation represents an interaction between an end user and the CES app."
      }
    },
    "com.gcp.ces_v1#ConversationChannelTypeEnum": {
      "type": "enum",
      "members": {
        "CHANNEL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANNEL_TYPE_UNSPECIFIED"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT"
          }
        },
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO"
          }
        },
        "MULTIMODAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIMODAL"
          }
        }
      }
    },
    "com.gcp.ces_v1#ConversationTurnList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#ConversationTurn"
      }
    },
    "com.gcp.ces_v1#MessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Message"
      }
    },
    "com.gcp.ces_v1#ConversationInputTypesItemEnum": {
      "type": "enum",
      "members": {
        "INPUT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_TYPE_UNSPECIFIED"
          }
        },
        "INPUT_TYPE_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_TYPE_TEXT"
          }
        },
        "INPUT_TYPE_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_TYPE_EVENT"
          }
        },
        "INPUT_TYPE_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_TYPE_AUDIO"
          }
        },
        "INPUT_TYPE_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_TYPE_IMAGE"
          }
        },
        "INPUT_TYPE_BLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_TYPE_BLOB"
          }
        },
        "INPUT_TYPE_TOOL_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_TYPE_TOOL_RESPONSE"
          }
        },
        "INPUT_TYPE_VARIABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_TYPE_VARIABLES"
          }
        }
      }
    },
    "com.gcp.ces_v1#ConversationInputTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#ConversationInputTypesItemEnum"
      }
    },
    "com.gcp.ces_v1#ConversationSourceEnum": {
      "type": "enum",
      "members": {
        "SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_UNSPECIFIED"
          }
        },
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIVE"
          }
        },
        "SIMULATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIMULATOR"
          }
        },
        "EVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVAL"
          }
        },
        "AGENT_TOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_TOOL"
          }
        }
      }
    },
    "com.gcp.ces_v1#OpenApiTool": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`."
          }
        },
        "openApiSchema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The OpenAPI schema in JSON or YAML format."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema."
          }
        },
        "ignoreUnknownFields": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the agent will ignore unknown fields in the API response."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`."
          }
        },
        "apiAuthentication": {
          "target": "com.gcp.ces_v1#ApiAuthentication",
          "traits": {
            "smithy.api#documentation": "Optional. Authentication information required by the API."
          }
        },
        "serviceDirectoryConfig": {
          "target": "com.gcp.ces_v1#ServiceDirectoryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Service Directory configuration."
          }
        },
        "tlsConfig": {
          "target": "com.gcp.ces_v1#TlsConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A remote API tool defined by an OpenAPI schema."
      }
    },
    "com.gcp.ces_v1#AgentSkill": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique identifier for the agent's skill."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A human-readable name for the skill."
          }
        },
        "tags": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. A set of keywords describing the skill's capabilities."
          }
        },
        "inputModes": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of supported input media types for this skill, overriding the agent's defaults."
          }
        },
        "outputModes": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of supported output media types for this skill, overriding the agent's defaults."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A detailed description of the skill."
          }
        },
        "examples": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Example prompts or scenarios that this skill can handle."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a distinct capability or function that an agent can perform."
      }
    },
    "com.gcp.ces_v1#ClientCertificateSettings": {
      "type": "structure",
      "members": {
        "tlsCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines."
          }
        },
        "privateKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
          }
        },
        "passphrase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for custom client certificates."
      }
    },
    "com.gcp.ces_v1#SessionInput": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Text data from the end user."
          }
        },
        "image": {
          "target": "com.gcp.ces_v1#Image",
          "traits": {
            "smithy.api#documentation": "Optional. Image data from the end user."
          }
        },
        "event": {
          "target": "com.gcp.ces_v1#Event",
          "traits": {
            "smithy.api#documentation": "Optional. Event input."
          }
        },
        "dtmf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. DTMF digits from the end user."
          }
        },
        "blob": {
          "target": "com.gcp.ces_v1#Blob",
          "traits": {
            "smithy.api#documentation": "Optional. Blob data from the end user."
          }
        },
        "willContinue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. A flag to indicate if the current message is a fragment of a larger input in the bidi streaming session. When set to `true`, the agent defers processing until it receives a subsequent message where `will_continue` is `false`, or until the system detects an endpoint in the audio input. NOTE: This field does not apply to audio and DTMF inputs, as they are always processed automatically based on the endpointing signal."
          }
        },
        "toolResponses": {
          "target": "com.gcp.ces_v1#ToolResponses",
          "traits": {
            "smithy.api#documentation": "Optional. Execution results for the tool calls from the client."
          }
        },
        "variables": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Contextual variables for the session, keyed by name. Only variables declared in the app will be used by the CES agent. Unrecognized variables will still be sent to the Dialogflow agent as additional session parameters."
          }
        },
        "audio": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Audio data from the end user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for the session."
      }
    },
    "com.gcp.ces_v1#LfA2aV1AgentInterface": {
      "type": "structure",
      "members": {
        "protocolBinding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`."
          }
        },
        "tenant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An opaque string used for routing requests to a specific agent or tenant when multiple agents are served behind a single A2A endpoint. When set, clients MUST include this value in the `tenant` field of all request messages sent to this interface. The server is responsible for interpreting the value and routing requests accordingly; the protocol does not define its format or semantics."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\""
          }
        },
        "protocolVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms."
      }
    },
    "com.gcp.ces_v1#Image": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Raw bytes of the image."
          }
        },
        "altText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The alternative text for the image."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an image input or output in the conversation."
      }
    },
    "com.gcp.ces_v1#CloudLoggingSettings": {
      "type": "structure",
      "members": {
        "enableCloudLogging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to enable Cloud Logging for the sessions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings to describe the Cloud Logging behaviors for the app."
      }
    },
    "com.gcp.ces_v1#ImportAppResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the app that was imported."
          }
        },
        "warnings": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Warning messages generated during the import process. If errors occur for specific resources, they will not be included in the imported app and the error will be mentioned here."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AgentService.ImportApp."
      }
    },
    "com.gcp.ces_v1#LfA2aV1AgentExtension": {
      "type": "structure",
      "members": {
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the client must understand and comply with the extension's requirements."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique URI identifying the extension."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of how this agent uses the extension."
          }
        },
        "params": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Extension-specific configuration parameters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A declaration of a protocol extension supported by an Agent."
      }
    },
    "com.gcp.ces_v1#ToolCall": {
      "type": "structure",
      "members": {
        "tool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
          }
        },
        "agentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable name of the agent that issued this call, e.g. \"Contract Architect\". Empty when the root agent issued it."
          }
        },
        "parentToolCallId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The id of the tool call that caused this one, when it was issued by a sub-agent working on behalf of a parent call. Empty for top-level calls. Lets a client group a sub-agent's work under the call that started it instead of rendering every step as a sibling."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The unique identifier of the tool call. If populated, the client should return the execution result with the matching ID in ToolResponse."
          }
        },
        "toolsetTool": {
          "target": "com.gcp.ces_v1#ToolsetTool",
          "traits": {
            "smithy.api#documentation": "Optional. The toolset tool to execute."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display name of the tool."
          }
        },
        "args": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. The input parameters and values for the tool in JSON object format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the client or the agent to execute the specified tool."
      }
    },
    "com.gcp.ces_v1#ChannelProfile": {
      "type": "structure",
      "members": {
        "profileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The unique identifier of the channel profile."
          }
        },
        "instagramConfig": {
          "target": "com.gcp.ces_v1#ChannelProfileInstagramConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration specific to Instagram deployments."
          }
        },
        "personaProperty": {
          "target": "com.gcp.ces_v1#ChannelProfilePersonaProperty",
          "traits": {
            "smithy.api#documentation": "Optional. The persona property of the channel profile."
          }
        },
        "webWidgetConfig": {
          "target": "com.gcp.ces_v1#ChannelProfileWebWidgetConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration for the web widget."
          }
        },
        "disableDtmf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to disable DTMF (dual-tone multi-frequency)."
          }
        },
        "disableBargeInControl": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to disable user barge-in control in the conversation. - **true**: User interruptions are disabled while the agent is speaking. - **false**: The agent retains automatic control over when the user can interrupt."
          }
        },
        "channelType": {
          "target": "com.gcp.ces_v1#ChannelProfileChannelTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of the channel profile."
          }
        },
        "whatsappConfig": {
          "target": "com.gcp.ces_v1#ChannelProfileWhatsAppConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration specific to WhatsApp deployments."
          }
        },
        "noiseSuppressionLevel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The noise suppression level of the channel profile. Available values are \"low\", \"moderate\", \"high\", \"very_high\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ChannelProfile configures the agent's behavior for a specific communication channel, such as web UI or telephony."
      }
    },
    "com.gcp.ces_v1#ChannelProfileChannelTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "WEB_UI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEB_UI"
          }
        },
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API"
          }
        },
        "TWILIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWILIO"
          }
        },
        "GOOGLE_TELEPHONY_PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_TELEPHONY_PLATFORM"
          }
        },
        "CONTACT_CENTER_AS_A_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTACT_CENTER_AS_A_SERVICE"
          }
        },
        "CONTACT_CENTER_AS_A_SERVICE_CHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTACT_CENTER_AS_A_SERVICE_CHAT"
          }
        },
        "FIVE9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIVE9"
          }
        },
        "CONTACT_CENTER_INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTACT_CENTER_INTEGRATION"
          }
        },
        "WHATSAPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WHATSAPP"
          }
        },
        "INSTAGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTAGRAM"
          }
        }
      }
    },
    "com.gcp.ces_v1#Chunk": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Text data."
          }
        },
        "updatedVariables": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "A struct represents variables that were updated in the conversation, keyed by variable names."
          }
        },
        "image": {
          "target": "com.gcp.ces_v1#Image",
          "traits": {
            "smithy.api#documentation": "Optional. Image data."
          }
        },
        "transcript": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Transcript associated with the audio."
          }
        },
        "payload": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Custom payload data."
          }
        },
        "toolCall": {
[...]
