{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudbilling",
    "version": "v1",
    "title": "Cloud Billing API",
    "baseUrl": "https://cloudbilling.googleapis.com/",
    "distilled.finalized": true
  },
  "shapes": {
    "com.gcp.cloudbilling_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudbilling_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudbilling_v1#StringList_": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudbilling_v1#Message": {
      "type": "structure",
      "members": {
        "contextId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The context id of the message. This is optional and if set, the message will be associated with the given context."
          }
        },
        "role": {
          "target": "com.gcp.cloudbilling_v1#MessageRoleEnum",
          "traits": {
            "smithy.api#documentation": "A role for the message."
          }
        },
        "content": {
          "target": "com.gcp.cloudbilling_v1#PartList",
          "traits": {
            "smithy.api#documentation": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Content is the container of the message content."
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The task id of the message. This is optional and if set, the message will be associated with the given task."
          }
        },
        "metadata": {
          "target": "com.gcp.cloudbilling_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED Any optional metadata to provide along with the message."
          }
        },
        "extensions": {
          "target": "com.gcp.cloudbilling_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "The URIs of extensions that are present or contributed to this Message."
          }
        },
        "messageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (e.g. UUID)of the message. This is required and created by the message creator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message is one unit of communication between client and server. It is associated with a context and optionally a task. Since the server is responsible for the context definition, it must always provide a context_id in its messages. The client can optionally provide the context_id if it knows the context to associate the message to. Similarly for task_id, except the server decides if a task is created and whether to include the task_id."
      }
    },
    "com.gcp.cloudbilling_v1#MessageRoleEnum": {
      "type": "enum",
      "members": {
        "ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_UNSPECIFIED"
          }
        },
        "ROLE_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_USER"
          }
        },
        "ROLE_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_AGENT"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#PartList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#Part"
      }
    },
    "com.gcp.cloudbilling_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudbilling_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.cloudbilling_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.cloudbilling_v1#Artifact": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.cloudbilling_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional metadata included with the artifact."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable description of the artifact, optional."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable name for the artifact."
          }
        },
        "artifactId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier (e.g. UUID) for the artifact. It must be at least unique within a task."
          }
        },
        "extensions": {
          "target": "com.gcp.cloudbilling_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "The URIs of extensions that are present or contributed to this Artifact."
          }
        },
        "parts": {
          "target": "com.gcp.cloudbilling_v1#PartList",
          "traits": {
            "smithy.api#documentation": "The content of the artifact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Artifacts are the container for task completed results. These are similar to Messages but are intended to be the product of a task, as opposed to point-to-point communication."
      }
    },
    "com.gcp.cloudbilling_v1#AggregationInfo": {
      "type": "structure",
      "members": {
        "aggregationInterval": {
          "target": "com.gcp.cloudbilling_v1#AggregationInfoAggregationIntervalEnum"
        },
        "aggregationLevel": {
          "target": "com.gcp.cloudbilling_v1#AggregationInfoAggregationLevelEnum"
        },
        "aggregationCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of intervals to aggregate over. Example: If aggregation_level is \"DAILY\" and aggregation_count is 14, aggregation will be over 14 days."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the aggregation level and interval for pricing of a single SKU."
      }
    },
    "com.gcp.cloudbilling_v1#AggregationInfoAggregationIntervalEnum": {
      "type": "enum",
      "members": {
        "AGGREGATION_INTERVAL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATION_INTERVAL_UNSPECIFIED"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#AggregationInfoAggregationLevelEnum": {
      "type": "enum",
      "members": {
        "AGGREGATION_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATION_LEVEL_UNSPECIFIED"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT"
          }
        },
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#ClientCredentialsOAuthFlow": {
      "type": "structure",
      "members": {
        "refreshUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
          }
        },
        "scopes": {
          "target": "com.gcp.cloudbilling_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty."
          }
        },
        "tokenUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudbilling_v1#TaskPushNotificationConfig": {
      "type": "structure",
      "members": {
        "pushNotificationConfig": {
          "target": "com.gcp.cloudbilling_v1#PushNotificationConfig",
          "traits": {
            "smithy.api#documentation": "The push notification configuration details."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the config. Format: tasks/{task_id}/pushNotificationConfigs/{config_id}"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#StreamResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.gcp.cloudbilling_v1#Message"
        },
        "statusUpdate": {
          "target": "com.gcp.cloudbilling_v1#TaskStatusUpdateEvent"
        },
        "artifactUpdate": {
          "target": "com.gcp.cloudbilling_v1#TaskArtifactUpdateEvent"
        },
        "task": {
          "target": "com.gcp.cloudbilling_v1#Task"
        }
      },
      "traits": {
        "smithy.api#documentation": "The stream response for a message. The stream should be one of the following sequences: If the response is a message, the stream should contain one, and only one, message and then close If the response is a task lifecycle, the first response should be a Task object followed by zero or more TaskStatusUpdateEvents and TaskArtifactUpdateEvents. The stream should complete when the Task if in an interrupted or terminal state. A stream that ends before these conditions are met are"
      }
    },
    "com.gcp.cloudbilling_v1#Binding": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.cloudbilling_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.cloudbilling_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.cloudbilling_v1#SendMessageRequest": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "com.gcp.cloudbilling_v1#SendMessageConfiguration",
          "traits": {
            "smithy.api#documentation": "Configuration for the send request."
          }
        },
        "tenant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
          }
        },
        "metadata": {
          "target": "com.gcp.cloudbilling_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional metadata for the request."
          }
        },
        "message": {
          "target": "com.gcp.cloudbilling_v1#Message",
          "traits": {
            "smithy.api#documentation": "Required. The message to send to the agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "/////////// Request Messages ///////////"
      }
    },
    "com.gcp.cloudbilling_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.cloudbilling_v1#Sku": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable description of the SKU, has a maximum length of 256 characters."
          }
        },
        "geoTaxonomy": {
          "target": "com.gcp.cloudbilling_v1#GeoTaxonomy",
          "traits": {
            "smithy.api#documentation": "The geographic taxonomy for this sku."
          }
        },
        "serviceRegions": {
          "target": "com.gcp.cloudbilling_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "List of service regions this SKU is offered at. Example: \"asia-east1\" Service regions can be found at https://cloud.google.com/about/locations/"
          }
        },
        "pricingInfo": {
          "target": "com.gcp.cloudbilling_v1#PricingInfoList",
          "traits": {
            "smithy.api#documentation": "A timeline of pricing info for this SKU in chronological order."
          }
        },
        "category": {
          "target": "com.gcp.cloudbilling_v1#Category",
          "traits": {
            "smithy.api#documentation": "The category hierarchy of this SKU, purely for organizational purpose."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name for the SKU. Example: \"services/6F81-5844-456A/skus/D041-B8A1-6E0B\""
          }
        },
        "skuId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the SKU. Example: \"D041-B8A1-6E0B\""
          }
        },
        "serviceProviderName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the service provider. This is 'Google' for first party services in Google Cloud Platform."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates a single SKU in Google Cloud"
      }
    },
    "com.gcp.cloudbilling_v1#PricingInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#PricingInfo"
      }
    },
    "com.gcp.cloudbilling_v1#DataPart": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.gcp.cloudbilling_v1#DocumentMap"
        }
      },
      "traits": {
        "smithy.api#documentation": "DataPart represents a structured blob. This is most commonly a JSON payload."
      }
    },
    "com.gcp.cloudbilling_v1#ListProjectBillingInfoResponse": {
      "type": "structure",
      "members": {
        "projectBillingInfo": {
          "target": "com.gcp.cloudbilling_v1#ProjectBillingInfoList",
          "traits": {
            "smithy.api#documentation": "A list of `ProjectBillingInfo` resources representing the projects associated with the billing account."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. To retrieve the next page, call `ListProjectBillingInfo` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `ListProjectBillingInfoResponse`."
      }
    },
    "com.gcp.cloudbilling_v1#ProjectBillingInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#ProjectBillingInfo"
      }
    },
    "com.gcp.cloudbilling_v1#PushNotificationConfig": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier (e.g. UUID) for this push notification."
          }
        },
        "authentication": {
          "target": "com.gcp.cloudbilling_v1#AuthenticationInfo",
          "traits": {
            "smithy.api#documentation": "Information about the authentication to sent with the notification"
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token unique for this task/session"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Url to send the notification too"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for setting up push notifications for task updates."
      }
    },
    "com.gcp.cloudbilling_v1#StringList": {
      "type": "structure",
      "members": {
        "list": {
          "target": "com.gcp.cloudbilling_v1#StringList_"
        }
      },
      "traits": {
        "smithy.api#documentation": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED"
      }
    },
    "com.gcp.cloudbilling_v1#AuthorizationCodeOAuthFlow": {
      "type": "structure",
      "members": {
        "authorizationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS"
          }
        },
        "tokenUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
          }
        },
        "refreshUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
          }
        },
        "scopes": {
          "target": "com.gcp.cloudbilling_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty."
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#GeoTaxonomy": {
      "type": "structure",
      "members": {
        "regions": {
          "target": "com.gcp.cloudbilling_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "The list of regions associated with a sku. Empty for Global skus, which are associated with all Google Cloud regions."
          }
        },
        "type": {
          "target": "com.gcp.cloudbilling_v1#GeoTaxonomyTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of Geo Taxonomy: GLOBAL, REGIONAL, or MULTI_REGIONAL."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates the geographic taxonomy data for a sku."
      }
    },
    "com.gcp.cloudbilling_v1#GeoTaxonomyTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "GLOBAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLOBAL"
          }
        },
        "REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL"
          }
        },
        "MULTI_REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_REGIONAL"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#Security": {
      "type": "structure",
      "members": {
        "schemes": {
          "target": "com.gcp.cloudbilling_v1#StringListMap"
        }
      }
    },
    "com.gcp.cloudbilling_v1#StringListMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.cloudbilling_v1#StringList"
      }
    },
    "com.gcp.cloudbilling_v1#BillingAccount": {
      "type": "structure",
      "members": {
        "masterBillingAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If this account is a [subaccount](https://cloud.google.com/billing/docs/concepts), then this will be the resource name of the parent billing account that it is being resold through. Otherwise this will be empty."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name given to the billing account, such as `My Billing Account`. This name is displayed in the Google Cloud Console."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF` would be the resource name for billing account `012345-567890-ABCDEF`."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The billing account's parent resource identifier. Use the `MoveBillingAccount` method to update the account's parent resource if it is a organization. Format: - `organizations/{organization_id}`, for example, `organizations/12345678` - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`"
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The currency in which the billing account is billed and charged, represented as an ISO 4217 code such as `USD`. Billing account currency is determined at the time of billing account creation and cannot be updated subsequently, so this field should not be set on update requests. In addition, a subaccount always matches the currency of its parent billing account, so this field should not be set on subaccount creation requests. Clients can read this field to determine the currency of an existing billing account."
          }
        },
        "open": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if the billing account is open, and will therefore be charged for any usage on associated projects. False if the billing account is closed, and therefore projects associated with it are unable to use paid services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A billing account in the [Google Cloud Console](https://console.cloud.google.com/). You can assign a billing account to one or more projects."
      }
    },
    "com.gcp.cloudbilling_v1#AgentCard": {
      "type": "structure",
      "members": {
        "signatures": {
          "target": "com.gcp.cloudbilling_v1#AgentCardSignatureList",
          "traits": {
            "smithy.api#documentation": "JSON Web Signatures computed for this AgentCard."
          }
        },
        "supportsAuthenticatedExtendedCard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the agent supports providing an extended agent card when the user is authenticated, i.e. is the card from .well-known different than the card from GetAgentCard."
          }
        },
        "defaultInputModes": {
          "target": "com.gcp.cloudbilling_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED The set of interaction modes that the agent supports across all skills. This can be overridden per skill. Defined as mime types."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable name for the agent. Example: \"Recipe Agent\""
          }
        },
        "protocolVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the A2A protocol this agent supports."
          }
        },
        "defaultOutputModes": {
          "target": "com.gcp.cloudbilling_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "The mime types supported as outputs from this agent."
          }
        },
        "security": {
          "target": "com.gcp.cloudbilling_v1#SecurityList",
          "traits": {
            "smithy.api#documentation": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Security requirements for contacting the agent. This list can be seen as an OR of ANDs. Each object in the list describes one possible set of security requirements that must be present on a request. This allows specifying, for example, \"callers must either use OAuth OR an API Key AND mTLS.\" Example: security { schemes { key: \"oauth\" value { list: [\"read\"] } } } security { schemes { key: \"api-key\" } schemes { key: \"mtls\" } }"
          }
        },
        "skills": {
          "target": "com.gcp.cloudbilling_v1#AgentSkillList",
          "traits": {
            "smithy.api#documentation": "Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at."
          }
        },
        "capabilities": {
          "target": "com.gcp.cloudbilling_v1#AgentCapabilities",
          "traits": {
            "smithy.api#documentation": "A2A Capability set supported by the agent."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the agent. Example: \"1.0.0\""
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL to the address the agent is hosted at. This represents the preferred endpoint as declared by the agent."
          }
        },
        "provider": {
          "target": "com.gcp.cloudbilling_v1#AgentProvider",
          "traits": {
            "smithy.api#documentation": "The service provider of the agent."
          }
        },
        "documentationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A url to provide additional documentation about the agent."
          }
        },
        "iconUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional URL to an icon for the agent."
          }
        },
        "preferredTransport": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The transport of the preferred endpoint. If empty, defaults to JSONRPC."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the agent's domain of action/solution space. Example: \"Agent that helps users with recipes and cooking.\""
          }
        },
        "additionalInterfaces": {
          "target": "com.gcp.cloudbilling_v1#AgentInterfaceList",
          "traits": {
            "smithy.api#documentation": "Announcement of additional supported transports. Client can use any of the supported transports."
          }
        },
        "securitySchemes": {
          "target": "com.gcp.cloudbilling_v1#SecuritySchemeMap",
          "traits": {
            "smithy.api#documentation": "The security scheme details used for authenticating with this agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AgentCard conveys key information: - Overall details (version, name, description, uses) - Skills; a set of actions/solutions the agent can perform - Default modalities/content types supported by the agent. - Authentication requirements Next ID: 19"
      }
    },
    "com.gcp.cloudbilling_v1#AgentCardSignatureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#AgentCardSignature"
      }
    },
    "com.gcp.cloudbilling_v1#SecurityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#Security"
      }
    },
    "com.gcp.cloudbilling_v1#AgentSkillList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#AgentSkill"
      }
    },
    "com.gcp.cloudbilling_v1#AgentInterfaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#AgentInterface"
      }
    },
    "com.gcp.cloudbilling_v1#SecuritySchemeMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.cloudbilling_v1#SecurityScheme"
      }
    },
    "com.gcp.cloudbilling_v1#TaskStatus": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\""
          }
        },
        "message": {
          "target": "com.gcp.cloudbilling_v1#Message",
          "traits": {
            "smithy.api#documentation": "A message associated with the status."
          }
        },
        "state": {
          "target": "com.gcp.cloudbilling_v1#TaskStatusStateEnum",
          "traits": {
            "smithy.api#documentation": "The current state of this task"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A container for the status of a task"
      }
    },
    "com.gcp.cloudbilling_v1#TaskStatusStateEnum": {
      "type": "enum",
      "members": {
        "TASK_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_UNSPECIFIED"
          }
        },
        "TASK_STATE_SUBMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_SUBMITTED"
          }
        },
        "TASK_STATE_WORKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_WORKING"
          }
        },
        "TASK_STATE_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_COMPLETED"
          }
        },
        "TASK_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_FAILED"
          }
        },
        "TASK_STATE_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_CANCELLED"
          }
        },
        "TASK_STATE_INPUT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_INPUT_REQUIRED"
          }
        },
        "TASK_STATE_REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_REJECTED"
          }
        },
        "TASK_STATE_AUTH_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_AUTH_REQUIRED"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#TaskStatusUpdateEvent": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the task that is changed"
          }
        },
        "metadata": {
          "target": "com.gcp.cloudbilling_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional metadata to associate with the task update."
          }
        },
        "status": {
          "target": "com.gcp.cloudbilling_v1#TaskStatus",
          "traits": {
            "smithy.api#documentation": "The new status of the task."
          }
        },
        "contextId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the context that the task belongs to"
          }
        },
        "final": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this is the last status update expected for this task."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TaskStatusUpdateEvent is a delta even on a task indicating that a task has changed."
      }
    },
    "com.gcp.cloudbilling_v1#ListSkusResponse": {
      "type": "structure",
      "members": {
        "skus": {
          "target": "com.gcp.cloudbilling_v1#SkuList",
          "traits": {
            "smithy.api#documentation": "The list of public SKUs of the given service."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. To retrieve the next page, call `ListSkus` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `ListSkus`."
      }
    },
    "com.gcp.cloudbilling_v1#SkuList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#Sku"
      }
    },
    "com.gcp.cloudbilling_v1#Part": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        },
        "file": {
          "target": "com.gcp.cloudbilling_v1#FilePart"
        },
        "data": {
          "target": "com.gcp.cloudbilling_v1#DataPart"
        },
        "metadata": {
          "target": "com.gcp.cloudbilling_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional metadata associated with this part."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Part represents a container for a section of communication content. Parts can be purely textual, some sort of file (image, video, etc) or a structured data blob (i.e. JSON)."
      }
    },
    "com.gcp.cloudbilling_v1#CancelTaskRequest": {
      "type": "structure",
      "members": {
        "tenant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.cloudbilling_v1#OpenIdConnectSecurityScheme": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of this security scheme."
          }
        },
        "openIdConnectUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Well-known URL to discover the [[OpenID-Connect-Discovery]] provider metadata."
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#TierRate": {
      "type": "structure",
      "members": {
        "startUsageAmount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Usage is priced at this rate only after this amount. Example: start_usage_amount of 10 indicates that the usage will be priced at the unit_price after the first 10 usage_units."
          }
        },
        "unitPrice": {
          "target": "com.gcp.cloudbilling_v1#Money",
          "traits": {
            "smithy.api#documentation": "The price per unit of usage. Example: unit_price of amount $10 indicates that each unit will cost $10."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The price rate indicating starting usage and its corresponding price."
      }
    },
    "com.gcp.cloudbilling_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudbilling_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudbilling_v1#AgentCardSignature": {
      "type": "structure",
      "members": {
        "header": {
          "target": "com.gcp.cloudbilling_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The unprotected JWS header values."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The computed signature, base64url-encoded. Required."
          }
        },
        "protected": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object. Required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS)."
      }
    },
    "com.gcp.cloudbilling_v1#AgentSkill": {
      "type": "structure",
      "members": {
        "examples": {
          "target": "com.gcp.cloudbilling_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "A set of example queries that this skill is designed to address. These examples should help the caller to understand how to craft requests to the agent to achieve specific goals. Example: [\"I need a recipe for bread\"]"
          }
        },
        "inputModes": {
          "target": "com.gcp.cloudbilling_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "Possible input modalities supported."
          }
        },
        "security": {
          "target": "com.gcp.cloudbilling_v1#SecurityList",
          "traits": {
            "smithy.api#documentation": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Security schemes necessary for the agent to leverage this skill. As in the overall AgentCard.security, this list represents a logical OR of security requirement objects. Each object is a set of security schemes that must be used together (a logical AND). protolint:enable REPEATED_FIELD_NAMES_PLURALIZED"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human (or llm) readable description of the skill details and behaviors."
          }
        },
        "tags": {
          "target": "com.gcp.cloudbilling_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "A set of tags for the skill to enhance categorization/utilization. Example: [\"cooking\", \"customer support\", \"billing\"]"
          }
        },
        "outputModes": {
          "target": "com.gcp.cloudbilling_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "Possible output modalities produced"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable name for the skill."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the skill within this agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AgentSkill represents a unit of action/solution that the agent can perform. One can think of this as a type of highly reliable solution that an agent can be tasked to provide. Agents have the autonomy to choose how and when to use specific skills, but clients should have confidence that if the skill is defined that unit of action can be reliably performed."
      }
    },
    "com.gcp.cloudbilling_v1#APIKeySecurityScheme": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of this security scheme."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the header, query or cookie parameter to be used."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the API key, valid values are \"query\", \"header\", or \"cookie\""
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#ListBillingAccountsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. To retrieve the next page, call `ListBillingAccounts` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve."
          }
        },
        "billingAccounts": {
          "target": "com.gcp.cloudbilling_v1#BillingAccountList",
          "traits": {
            "smithy.api#documentation": "A list of billing accounts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `ListBillingAccounts`."
      }
    },
    "com.gcp.cloudbilling_v1#BillingAccountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#BillingAccount"
      }
    },
    "com.gcp.cloudbilling_v1#MoveBillingAccountRequest": {
      "type": "structure",
      "members": {
        "destinationParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Organization to move the billing account under. Must be of the form `organizations/{organization_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `MoveBillingAccount` RPC."
      }
    },
    "com.gcp.cloudbilling_v1#AgentExtension": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of how this agent uses this extension. Example: \"Google OAuth 2.0 authentication\""
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the client must follow specific requirements of the extension. Example: false"
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the extension. Example: \"https://developers.google.com/identity/protocols/oauth2\""
          }
        },
        "params": {
          "target": "com.gcp.cloudbilling_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional configuration for the extension."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A declaration of an extension supported by an Agent."
      }
    },
    "com.gcp.cloudbilling_v1#ListTaskPushNotificationConfigResponse": {
      "type": "structure",
      "members": {
        "configs": {
          "target": "com.gcp.cloudbilling_v1#TaskPushNotificationConfigList",
          "traits": {
            "smithy.api#documentation": "The list of push notification configurations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#TaskPushNotificationConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#TaskPushNotificationConfig"
      }
    },
    "com.gcp.cloudbilling_v1#OAuth2SecurityScheme": {
      "type": "structure",
      "members": {
        "flows": {
          "target": "com.gcp.cloudbilling_v1#OAuthFlows",
          "traits": {
            "smithy.api#documentation": "An object containing configuration information for the flow types supported"
          }
        },
        "oauth2MetadataUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to the oauth2 authorization server metadata [RFC8414](https://datatracker.ietf.org/doc/html/rfc8414). TLS is required."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of this security scheme."
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#Task": {
      "type": "structure",
      "members": {
        "contextId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages). Created by the A2A server."
          }
        },
        "metadata": {
          "target": "com.gcp.cloudbilling_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier (e.g. UUID) for the task, generated by the server for a new task."
          }
        },
        "artifacts": {
          "target": "com.gcp.cloudbilling_v1#ArtifactList",
          "traits": {
            "smithy.api#documentation": "A set of output artifacts for a Task."
          }
        },
        "history": {
          "target": "com.gcp.cloudbilling_v1#MessageList",
          "traits": {
            "smithy.api#documentation": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a task."
          }
        },
        "status": {
          "target": "com.gcp.cloudbilling_v1#TaskStatus",
          "traits": {
            "smithy.api#documentation": "The current status of a Task, including state and a message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Task is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history."
      }
    },
    "com.gcp.cloudbilling_v1#ArtifactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#Artifact"
      }
    },
    "com.gcp.cloudbilling_v1#MessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#Message"
      }
    },
    "com.gcp.cloudbilling_v1#SecurityScheme": {
      "type": "structure",
      "members": {
        "oauth2SecurityScheme": {
          "target": "com.gcp.cloudbilling_v1#OAuth2SecurityScheme"
        },
        "apiKeySecurityScheme": {
          "target": "com.gcp.cloudbilling_v1#APIKeySecurityScheme"
        },
        "httpAuthSecurityScheme": {
          "target": "com.gcp.cloudbilling_v1#HTTPAuthSecurityScheme"
        },
        "mtlsSecurityScheme": {
          "target": "com.gcp.cloudbilling_v1#MutualTlsSecurityScheme"
        },
        "openIdConnectSecurityScheme": {
          "target": "com.gcp.cloudbilling_v1#OpenIdConnectSecurityScheme"
        }
      }
    },
    "com.gcp.cloudbilling_v1#PricingInfo": {
      "type": "structure",
      "members": {
        "pricingExpression": {
          "target": "com.gcp.cloudbilling_v1#PricingExpression",
          "traits": {
            "smithy.api#documentation": "Expresses the pricing formula. See `PricingExpression` for an example."
          }
        },
        "currencyConversionRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Conversion rate used for currency conversion, from USD to the currency specified in the request. This includes any surcharge collected for billing in non USD currency. If a currency is not specified in the request this defaults to 1.0. Example: USD * currency_conversion_rate = JPY"
          }
        },
        "effectiveTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp from which this pricing was effective within the requested time range. This is guaranteed to be greater than or equal to the start_time field in the request and less than the end_time field in the request. If a time range was not specified in the request this field will be equivalent to a time within the last 12 hours, indicating the latest pricing info."
          }
        },
        "aggregationInfo": {
          "target": "com.gcp.cloudbilling_v1#AggregationInfo",
          "traits": {
            "smithy.api#documentation": "Aggregation Info. This can be left unspecified if the pricing expression doesn't require aggregation."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional human readable summary of the pricing information, has a maximum length of 256 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the pricing information for a SKU at a single point of time."
      }
    },
    "com.gcp.cloudbilling_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "exemptedMembers": {
          "target": "com.gcp.cloudbilling_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        },
        "logType": {
          "target": "com.gcp.cloudbilling_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.cloudbilling_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#OAuthFlows": {
      "type": "structure",
      "members": {
        "password": {
          "target": "com.gcp.cloudbilling_v1#PasswordOAuthFlow"
        },
        "authorizationCode": {
          "target": "com.gcp.cloudbilling_v1#AuthorizationCodeOAuthFlow"
        },
        "clientCredentials": {
          "target": "com.gcp.cloudbilling_v1#ClientCredentialsOAuthFlow"
        },
        "implicit": {
          "target": "com.gcp.cloudbilling_v1#ImplicitOAuthFlow"
        }
      }
    },
    "com.gcp.cloudbilling_v1#Category": {
      "type": "structure",
      "members": {
        "usageType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents how the SKU is consumed. Example: \"OnDemand\", \"Preemptible\", \"Commit1Mo\", \"Commit1Yr\" etc."
          }
        },
        "serviceDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the service this SKU belongs to."
          }
        },
        "resourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A group classification for related SKUs. Example: \"RAM\", \"GPU\", \"Prediction\", \"Ops\", \"GoogleEgress\" etc."
          }
        },
        "resourceFamily": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of product the SKU refers to. Example: \"Compute\", \"Storage\", \"Network\", \"ApplicationServices\" etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the category hierarchy of a SKU."
      }
    },
    "com.gcp.cloudbilling_v1#PasswordOAuthFlow": {
      "type": "structure",
      "members": {
        "tokenUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
          }
        },
        "refreshUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
          }
        },
        "scopes": {
          "target": "com.gcp.cloudbilling_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty."
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#AgentCapabilities": {
      "type": "structure",
      "members": {
        "streaming": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the agent will support streaming responses"
          }
        },
        "extensions": {
          "target": "com.gcp.cloudbilling_v1#AgentExtensionList",
          "traits": {
            "smithy.api#documentation": "Extensions supported by this agent."
          }
        },
        "pushNotifications": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the agent can send push notifications to the clients webhook"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the A2A feature set supported by the agent"
      }
    },
    "com.gcp.cloudbilling_v1#AgentExtensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#AgentExtension"
      }
    },
    "com.gcp.cloudbilling_v1#Service": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name for the service. Example: \"services/6F81-5844-456A\""
          }
        },
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the service. Example: \"6F81-5844-456A\""
          }
        },
        "businessEntityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The business under which the service is offered. Ex. \"businessEntities/GCP\", \"businessEntities/Maps\""
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable display name for this service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates a single service in Google Cloud Platform."
      }
    },
    "com.gcp.cloudbilling_v1#Policy": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.cloudbilling_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.cloudbilling_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.cloudbilling_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#Binding"
      }
    },
    "com.gcp.cloudbilling_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#AuditConfig"
      }
    },
    "com.gcp.cloudbilling_v1#TaskArtifactUpdateEvent": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.cloudbilling_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional metadata associated with the artifact update."
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the task for this artifact"
          }
        },
        "append": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this should be appended to a prior one produced"
          }
        },
        "lastChunk": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this represents the last part of an artifact"
          }
        },
        "artifact": {
          "target": "com.gcp.cloudbilling_v1#Artifact",
          "traits": {
            "smithy.api#documentation": "The artifact itself"
          }
        },
        "contextId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the context that this task belongs too"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TaskArtifactUpdateEvent represents a task delta where an artifact has been generated."
      }
    },
    "com.gcp.cloudbilling_v1#AgentInterface": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url this interface is found at."
          }
        },
        "tenant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tenant to be set in the request when calling the agent. Experimental, might still change for 1.0 release."
          }
        },
        "transport": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The transport supported this url. This is an open form string, to be easily extended for many transport protocols. The core ones officially supported are JSONRPC, GRPC and HTTP+JSON."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines additional transport information for the agent."
      }
    },
    "com.gcp.cloudbilling_v1#ListServicesResponse": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.gcp.cloudbilling_v1#ServiceList",
          "traits": {
            "smithy.api#documentation": "A list of services."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. To retrieve the next page, call `ListServices` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `ListServices`."
      }
    },
    "com.gcp.cloudbilling_v1#ServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#Service"
      }
    },
    "com.gcp.cloudbilling_v1#SendMessageResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.gcp.cloudbilling_v1#Message"
        },
        "task": {
          "target": "com.gcp.cloudbilling_v1#Task"
        }
      },
      "traits": {
        "smithy.api#documentation": "////// Response Messages ///////////"
      }
    },
    "com.gcp.cloudbilling_v1#Money": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-letter currency code defined in ISO 4217."
          }
        },
        "units": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount of money with its currency type."
      }
    },
    "com.gcp.cloudbilling_v1#SendMessageConfiguration": {
      "type": "structure",
      "members": {
        "blocking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the message will be blocking until the task is completed. If false, the message will be non-blocking and the task will be returned immediately. It is the caller's responsibility to check for any task updates."
          }
        },
        "acceptedOutputModes": {
          "target": "com.gcp.cloudbilling_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "The output modes that the agent is expected to respond with."
          }
        },
        "historyLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in the history. if 0, the history will be unlimited."
          }
        },
        "pushNotification": {
          "target": "com.gcp.cloudbilling_v1#PushNotificationConfig",
          "traits": {
            "smithy.api#documentation": "A configuration of a webhook that can be used to receive updates"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of a send message request."
      }
    },
    "com.gcp.cloudbilling_v1#FilePart": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "fileWithBytes": {
          "target": "smithy.api#String"
        },
        "mimeType": {
          "target": "smithy.api#String"
        },
        "fileWithUri": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "FilePart represents the different ways files can be provided. If files are small, directly feeding the bytes is supported via file_with_bytes. If the file is large, the agent should read the content as appropriate directly from the file_with_uri source."
      }
    },
    "com.gcp.cloudbilling_v1#AgentProvider": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The providers reference url Example: \"https://ai.google.dev\""
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The providers organization name Example: \"Google\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents information about the service provider of an agent."
      }
    },
    "com.gcp.cloudbilling_v1#AuthenticationInfo": {
      "type": "structure",
      "members": {
        "schemes": {
          "target": "com.gcp.cloudbilling_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "Supported authentication schemes - e.g. Basic, Bearer, etc"
          }
        },
        "credentials": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional credentials"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines authentication details, used for push notifications."
      }
    },
    "com.gcp.cloudbilling_v1#ImplicitOAuthFlow": {
      "type": "structure",
      "members": {
        "scopes": {
          "target": "com.gcp.cloudbilling_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty."
          }
        },
        "refreshUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
          }
        },
        "authorizationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#AuditConfig": {
      "type": "structure",
      "members": {
        "auditLogConfigs": {
          "target": "com.gcp.cloudbilling_v1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.cloudbilling_v1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#AuditLogConfig"
      }
    },
    "com.gcp.cloudbilling_v1#PricingExpression": {
      "type": "structure",
      "members": {
        "tieredRates": {
          "target": "com.gcp.cloudbilling_v1#TierRateList",
          "traits": {
            "smithy.api#documentation": "The list of tiered rates for this pricing. The total cost is computed by applying each of the tiered rates on usage. This repeated list is sorted by ascending order of start_usage_amount."
          }
        },
        "displayQuantity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The recommended quantity of units for displaying pricing info. When displaying pricing info it is recommended to display: (unit_price * display_quantity) per display_quantity usage_unit. This field does not affect the pricing formula and is for display purposes only. Example: If the unit_price is \"0.0001 USD\", the usage_unit is \"GB\" and the display_quantity is \"1000\" then the recommended way of displaying the pricing info is \"0.10 USD per 1000 GB\""
          }
        },
        "baseUnitDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base unit in human readable form. Example: \"byte\"."
          }
        },
        "usageUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short hand for unit of usage this pricing is specified in. Example: usage_unit of \"GiBy\" means that usage is specified in \"Gibi Byte\"."
          }
        },
        "usageUnitDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unit of usage in human readable form. Example: \"gibi byte\"."
          }
        },
        "baseUnitConversionFactor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Conversion factor for converting from price per usage_unit to price per base_unit, and start_usage_amount to start_usage_amount in base_unit. unit_price / base_unit_conversion_factor = price per base_unit. start_usage_amount * base_unit_conversion_factor = start_usage_amount in base_unit."
          }
        },
        "baseUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base unit for the SKU which is the unit used in usage exports. Example: \"By\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Expresses a mathematical pricing formula. For Example:- `usage_unit: GBy` `tiered_rates:` `[start_usage_amount: 20, unit_price: $10]` `[start_usage_amount: 100, unit_price: $5]` The above expresses a pricing formula where the first 20GB is free, the next 80GB is priced at $10 per GB followed by $5 per GB for additional usage."
      }
    },
    "com.gcp.cloudbilling_v1#TierRateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#TierRate"
      }
    },
    "com.gcp.cloudbilling_v1#ProjectBillingInfo": {
      "type": "structure",
      "members": {
        "billingAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the billing account associated with the project, if any. For example, `billingAccounts/012345-567890-ABCDEF`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name for the `ProjectBillingInfo`; has the form `projects/{project_id}/billingInfo`. For example, the resource name for the billing information for project `tokyo-rain-123` would be `projects/tokyo-rain-123/billingInfo`."
          }
        },
        "billingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if the project is associated with an open billing account, to which usage on the project is charged. False if the project is associated with a closed billing account, or no billing account at all, and therefore cannot use paid services."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the project that this `ProjectBillingInfo` represents, such as `tokyo-rain-123`. This is a convenience field so that you don't need to parse the `name` field to obtain a project ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulation of billing information for a Google Cloud Console project. A project has at most one associated billing account at a time (but a billing account can be assigned to multiple projects)."
      }
    },
    "com.gcp.cloudbilling_v1#MutualTlsSecurityScheme": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of this security scheme."
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#HTTPAuthSecurityScheme": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of this security scheme."
          }
        },
        "scheme": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the HTTP Authentication scheme to be used in the Authorization header as defined in RFC7235. The values used SHOULD be registered in the IANA Authentication Scheme registry. The value is case-insensitive, as defined in RFC7235."
          }
        },
        "bearerFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hint to the client to identify how the bearer token is formatted. Bearer tokens are usually generated by an authorization server, so this information is primarily for documentation purposes."
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#CancelTasksRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the task to cancel. Format: tasks/{task_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudbilling_v1#CancelTaskRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.cloudbilling_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.cloudbilling_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.cloudbilling_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.cloudbilling_v1#CancelTasks": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#CancelTasksRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#Task"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudbilling_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:cancel"
        },
        "smithy.api#documentation": "Cancel a task from the agent. If supported one should expect no more task updates for the task."
      }
    },
    "com.gcp.cloudbilling_v1#GetTasksRequest": {
      "type": "structure",
      "members": {
        "historyLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of most recent messages from the task's history to retrieve.",
            "smithy.api#httpQuery": "historyLength"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the task. Format: tasks/{task_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tenant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
            "smithy.api#httpQuery": "tenant"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#GetTasks": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#GetTasksRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#Task"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Get the current state of a task from the agent."
      }
    },
    "com.gcp.cloudbilling_v1#SubscribeTasksRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the task to subscribe to. Format: tasks/{task_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tenant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
            "smithy.api#httpQuery": "tenant"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#SubscribeTasks": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#SubscribeTasksRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#StreamResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}:subscribe"
        },
        "smithy.api#documentation": "TaskSubscription is a streaming call that will return a stream of task update events. This attaches the stream to an existing in process task. If the task is complete the stream will return the completed task (like GetTask) and close the stream."
      }
    },
    "com.gcp.cloudbilling_v1#GetTasksPushNotificationConfigsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the config to retrieve. Format: tasks/{task_id}/pushNotificationConfigs/{config_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tenant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
            "smithy.api#httpQuery": "tenant"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#GetTasksPushNotificationConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#GetTasksPushNotificationConfigsRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#TaskPushNotificationConfig"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Get a push notification config for a task."
      }
    },
    "com.gcp.cloudbilling_v1#CreateTasksPushNotificationConfigsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent task resource for this config. Format: tasks/{task_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "configId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID for the new config.",
            "smithy.api#httpQuery": "configId"
          }
        },
        "tenant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
            "smithy.api#httpQuery": "tenant"
          }
        },
        "body": {
          "target": "com.gcp.cloudbilling_v1#TaskPushNotificationConfig",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#CreateTasksPushNotificationConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#CreateTasksPushNotificationConfigsRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#TaskPushNotificationConfig"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudbilling_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}"
        },
        "smithy.api#documentation": "Set a push notification config for a task."
      }
    },
    "com.gcp.cloudbilling_v1#DeleteTasksPushNotificationConfigsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the config to delete. Format: tasks/{task_id}/pushNotificationConfigs/{config_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tenant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
            "smithy.api#httpQuery": "tenant"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#DeleteTasksPushNotificationConfigs": {
      "type": "operation",
      "input": {
[...]
