{
  "smithy": "2.0",
  "metadata": {
    "service": "datamanager",
    "version": "v1",
    "title": "Data Manager API",
    "baseUrl": "https://datamanager.googleapis.com/",
    "distilled.finalized": true
  },
  "shapes": {
    "com.gcp.datamanager_v1#CartData": {
      "type": "structure",
      "members": {
        "merchantId": {
          "target": "smithy.api#String"
        },
        "couponCodes": {
          "target": "com.gcp.datamanager_v1#StringList"
        },
        "transactionDiscount": {
          "target": "smithy.api#Double"
        },
        "merchantFeedLanguageCode": {
          "target": "smithy.api#String"
        },
        "items": {
          "target": "com.gcp.datamanager_v1#ItemList"
        },
        "merchantFeedLabel": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.datamanager_v1#ItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#Item"
      }
    },
    "com.gcp.datamanager_v1#MarketingDataInsight": {
      "type": "structure",
      "members": {
        "dimension": {
          "target": "com.gcp.datamanager_v1#MarketingDataInsightDimensionEnum"
        },
        "attributes": {
          "target": "com.gcp.datamanager_v1#MarketingDataInsightsAttributeList"
        }
      }
    },
    "com.gcp.datamanager_v1#MarketingDataInsightDimensionEnum": {
      "type": "enum",
      "members": {
        "AUDIENCE_INSIGHTS_DIMENSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_INSIGHTS_DIMENSION_UNSPECIFIED"
          }
        },
        "AUDIENCE_INSIGHTS_DIMENSION_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_INSIGHTS_DIMENSION_UNKNOWN"
          }
        },
        "AFFINITY_USER_INTEREST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFFINITY_USER_INTEREST"
          }
        },
        "IN_MARKET_USER_INTEREST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_MARKET_USER_INTEREST"
          }
        },
        "AGE_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE"
          }
        },
        "GENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENDER"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#MarketingDataInsightsAttributeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#MarketingDataInsightsAttribute"
      }
    },
    "com.gcp.datamanager_v1#PartnerLinkMetadata": {
      "type": "structure",
      "members": {
        "implicitAccounts": {
          "target": "com.gcp.datamanager_v1#PartnerCustomerAccountList"
        }
      }
    },
    "com.gcp.datamanager_v1#PartnerCustomerAccountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#PartnerCustomerAccount"
      }
    },
    "com.gcp.datamanager_v1#RemovePairDataStatus": {
      "type": "structure",
      "members": {
        "pairIdCount": {
          "target": "smithy.api#String"
        },
        "recordCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#RemovePpidDataStatus": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String"
        },
        "ppidCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#PartnerLink": {
      "type": "structure",
      "members": {
        "partnerCustomerAccount": {
          "target": "com.gcp.datamanager_v1#PartnerCustomerAccount"
        },
        "partnerAccount": {
          "target": "com.gcp.datamanager_v1#ProductAccount"
        },
        "owningAccount": {
          "target": "com.gcp.datamanager_v1#ProductAccount"
        },
        "partnerLinkId": {
          "target": "smithy.api#String"
        },
        "featureSet": {
          "target": "com.gcp.datamanager_v1#PartnerLinkFeatureSetEnum"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "partnerLinkMetadata": {
          "target": "com.gcp.datamanager_v1#PartnerLinkMetadata"
        }
      }
    },
    "com.gcp.datamanager_v1#PartnerLinkFeatureSetEnum": {
      "type": "enum",
      "members": {
        "FEATURE_SET_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURE_SET_UNSPECIFIED"
          }
        },
        "FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT"
          }
        },
        "FEATURE_SET_AD_EVENT_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURE_SET_AD_EVENT_MANAGEMENT"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#IngestUserIdDataStatus": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String"
        },
        "userIdCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#EncryptionInfo": {
      "type": "structure",
      "members": {
        "gcpWrappedKeyInfo": {
          "target": "com.gcp.datamanager_v1#GcpWrappedKeyInfo"
        },
        "awsWrappedKeyInfo": {
          "target": "com.gcp.datamanager_v1#AwsWrappedKeyInfo"
        },
        "coordinatorKeyInfo": {
          "target": "com.gcp.datamanager_v1#CoordinatorKeyInfo"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestAdEventsRequest": {
      "type": "structure",
      "members": {
        "adEvents": {
          "target": "com.gcp.datamanager_v1#AdEventList"
        },
        "validateOnly": {
          "target": "smithy.api#Boolean"
        },
        "encryptionInfo": {
          "target": "com.gcp.datamanager_v1#EncryptionInfo"
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#AdEvent"
      }
    },
    "com.gcp.datamanager_v1#MobileIdInfo": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String"
        },
        "keySpace": {
          "target": "com.gcp.datamanager_v1#MobileIdInfoKeySpaceEnum"
        },
        "dataSourceType": {
          "target": "com.gcp.datamanager_v1#MobileIdInfoDataSourceTypeEnum"
        }
      }
    },
    "com.gcp.datamanager_v1#MobileIdInfoKeySpaceEnum": {
      "type": "enum",
      "members": {
        "KEY_SPACE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_SPACE_UNSPECIFIED"
          }
        },
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IOS"
          }
        },
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROID"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#MobileIdInfoDataSourceTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_SOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_UNSPECIFIED"
          }
        },
        "DATA_SOURCE_TYPE_FIRST_PARTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_FIRST_PARTY"
          }
        },
        "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU"
          }
        },
        "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE"
          }
        },
        "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#SearchPartnerLinksResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "partnerLinks": {
          "target": "com.gcp.datamanager_v1#PartnerLinkList"
        }
      }
    },
    "com.gcp.datamanager_v1#PartnerLinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#PartnerLink"
      }
    },
    "com.gcp.datamanager_v1#RemoveAllAudienceMembersStatus": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.datamanager_v1#IngestedUserListInfo": {
      "type": "structure",
      "members": {
        "uploadKeyTypes": {
          "target": "com.gcp.datamanager_v1#IngestedUserListInfoUploadKeyTypesItemEnumList"
        },
        "partnerAudienceInfo": {
          "target": "com.gcp.datamanager_v1#PartnerAudienceInfo"
        },
        "mobileIdInfo": {
          "target": "com.gcp.datamanager_v1#MobileIdInfo"
        },
        "contactIdInfo": {
          "target": "com.gcp.datamanager_v1#ContactIdInfo"
        },
        "pairIdInfo": {
          "target": "com.gcp.datamanager_v1#PairIdInfo"
        },
        "pseudonymousIdInfo": {
          "target": "com.gcp.datamanager_v1#PseudonymousIdInfo"
        },
        "userIdInfo": {
          "target": "com.gcp.datamanager_v1#UserIdInfo"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestedUserListInfoUploadKeyTypesItemEnum": {
      "type": "enum",
      "members": {
        "UPLOAD_KEY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPLOAD_KEY_TYPE_UNSPECIFIED"
          }
        },
        "CONTACT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTACT_ID"
          }
        },
        "MOBILE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_ID"
          }
        },
        "USER_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_ID"
          }
        },
        "PAIR_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAIR_ID"
          }
        },
        "PSEUDONYMOUS_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSEUDONYMOUS_ID"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#IngestedUserListInfoUploadKeyTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#IngestedUserListInfoUploadKeyTypesItemEnum"
      }
    },
    "com.gcp.datamanager_v1#ErrorInfo": {
      "type": "structure",
      "members": {
        "errorCounts": {
          "target": "com.gcp.datamanager_v1#ErrorCountList"
        }
      }
    },
    "com.gcp.datamanager_v1#ErrorCountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#ErrorCount"
      }
    },
    "com.gcp.datamanager_v1#IngestUsersRequest": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.gcp.datamanager_v1#DestinationList"
        },
        "validateOnly": {
          "target": "smithy.api#Boolean"
        },
        "encryptionInfo": {
          "target": "com.gcp.datamanager_v1#EncryptionInfo"
        },
        "users": {
          "target": "com.gcp.datamanager_v1#UserList_"
        },
        "encoding": {
          "target": "com.gcp.datamanager_v1#IngestUsersRequestEncodingEnum"
        }
      }
    },
    "com.gcp.datamanager_v1#DestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#Destination"
      }
    },
    "com.gcp.datamanager_v1#UserList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#User"
      }
    },
    "com.gcp.datamanager_v1#IngestUsersRequestEncodingEnum": {
      "type": "enum",
      "members": {
        "ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCODING_UNSPECIFIED"
          }
        },
        "HEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEX"
          }
        },
        "BASE64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE64"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#RemoveUsersRequest": {
      "type": "structure",
      "members": {
        "encryptionInfo": {
          "target": "com.gcp.datamanager_v1#EncryptionInfo"
        },
        "userData": {
          "target": "com.gcp.datamanager_v1#UserDataList"
        },
        "encoding": {
          "target": "com.gcp.datamanager_v1#RemoveUsersRequestEncodingEnum"
        },
        "destinations": {
          "target": "com.gcp.datamanager_v1#DestinationList"
        },
        "validateOnly": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.datamanager_v1#UserDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#UserData"
      }
    },
    "com.gcp.datamanager_v1#RemoveUsersRequestEncodingEnum": {
      "type": "enum",
      "members": {
        "ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCODING_UNSPECIFIED"
          }
        },
        "HEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEX"
          }
        },
        "BASE64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE64"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#RemoveCompositeDataStatus": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String"
        },
        "dataTypeCounts": {
          "target": "com.gcp.datamanager_v1#DataTypeCountList"
        }
      }
    },
    "com.gcp.datamanager_v1#DataTypeCountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#DataTypeCount"
      }
    },
    "com.gcp.datamanager_v1#RemoveAllAudienceMembersRequest": {
      "type": "structure",
      "members": {
        "removeAsOfTime": {
          "target": "smithy.api#String"
        },
        "destinations": {
          "target": "com.gcp.datamanager_v1#DestinationList"
        },
        "validateOnly": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestPpidDataStatus": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String"
        },
        "ppidCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#ListUserListGlobalLicenseCustomerInfosResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "userListGlobalLicenseCustomerInfos": {
          "target": "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfoList"
        }
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfo"
      }
    },
    "com.gcp.datamanager_v1#ExperimentalField": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#EventParameter": {
      "type": "structure",
      "members": {
        "parameterName": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestPairDataStatus": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String"
        },
        "pairIdCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#RetrieveInsightsResponse": {
      "type": "structure",
      "members": {
        "marketingDataInsights": {
          "target": "com.gcp.datamanager_v1#MarketingDataInsightList"
        }
      }
    },
    "com.gcp.datamanager_v1#MarketingDataInsightList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#MarketingDataInsight"
      }
    },
    "com.gcp.datamanager_v1#CompositeData": {
      "type": "structure",
      "members": {
        "ipData": {
          "target": "com.gcp.datamanager_v1#IpDataList"
        },
        "userData": {
          "target": "com.gcp.datamanager_v1#UserData"
        }
      }
    },
    "com.gcp.datamanager_v1#IpDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#IpData"
      }
    },
    "com.gcp.datamanager_v1#FieldWarning": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "com.gcp.datamanager_v1#FieldWarningReasonEnum"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "field": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#FieldWarningReasonEnum": {
      "type": "enum",
      "members": {
        "WARNING_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_UNSPECIFIED"
          }
        },
        "WARNING_REASON_CUSTOM_VARIABLE_NOT_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_CUSTOM_VARIABLE_NOT_ENABLED"
          }
        },
        "WARNING_REASON_CUSTOM_VARIABLE_NOT_PREDEFINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_CUSTOM_VARIABLE_NOT_PREDEFINED"
          }
        },
        "WARNING_REASON_CART_DATA_NOT_SUPPORTED_WITH_GBRAID_OR_WBRAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_CART_DATA_NOT_SUPPORTED_WITH_GBRAID_OR_WBRAID"
          }
        },
        "WARNING_REASON_CART_DATA_ITEM_MERCHANT_PRODUCT_ID_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_CART_DATA_ITEM_MERCHANT_PRODUCT_ID_MISSING"
          }
        },
        "WARNING_REASON_CART_DATA_ITEM_UNIT_PRICE_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_CART_DATA_ITEM_UNIT_PRICE_MISSING"
          }
        },
        "WARNING_REASON_GENERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_GENERIC"
          }
        },
        "WARNING_REASON_INVALID_CLIENT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_INVALID_CLIENT_ID"
          }
        },
        "WARNING_REASON_INVALID_SUBDIVISION_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_INVALID_SUBDIVISION_CODE"
          }
        },
        "WARNING_REASON_INVALID_REGION_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_INVALID_REGION_CODE"
          }
        },
        "WARNING_REASON_INVALID_SUBCONTINENT_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_INVALID_SUBCONTINENT_CODE"
          }
        },
        "WARNING_REASON_INVALID_CONTINENT_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_INVALID_CONTINENT_CODE"
          }
        },
        "WARNING_REASON_INVALID_DEVICE_CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_INVALID_DEVICE_CATEGORY"
          }
        },
        "WARNING_REASON_INVALID_DEVICE_SCREEN_RESOLUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_INVALID_DEVICE_SCREEN_RESOLUTION"
          }
        },
        "WARNING_REASON_INVALID_MERCHANT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_INVALID_MERCHANT_ID"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#RetrieveInsightsRequest": {
      "type": "structure",
      "members": {
        "baseline": {
          "target": "com.gcp.datamanager_v1#Baseline"
        },
        "userListId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#RemoveGoogleUserIdDataStatus": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String"
        },
        "googleUserIdCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#PairData": {
      "type": "structure",
      "members": {
        "pairIds": {
          "target": "com.gcp.datamanager_v1#StringList"
        }
      }
    },
    "com.gcp.datamanager_v1#Baseline": {
      "type": "structure",
      "members": {
        "baselineLocation": {
          "target": "com.gcp.datamanager_v1#Location"
        },
        "locationAutoDetectionEnabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.datamanager_v1#UserListLicensePricing": {
      "type": "structure",
      "members": {
        "costType": {
          "target": "com.gcp.datamanager_v1#UserListLicensePricingCostTypeEnum"
        },
        "maxCostMicros": {
          "target": "smithy.api#String"
        },
        "currencyCode": {
          "target": "smithy.api#String"
        },
        "buyerApprovalState": {
          "target": "com.gcp.datamanager_v1#UserListLicensePricingBuyerApprovalStateEnum"
        },
        "startTime": {
          "target": "smithy.api#String"
        },
        "endTime": {
          "target": "smithy.api#String"
        },
        "pricingActive": {
          "target": "smithy.api#Boolean"
        },
        "pricingId": {
          "target": "smithy.api#String"
        },
        "costMicros": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#UserListLicensePricingCostTypeEnum": {
      "type": "enum",
      "members": {
        "USER_LIST_PRICING_COST_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_PRICING_COST_TYPE_UNSPECIFIED"
          }
        },
        "CPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CPC"
          }
        },
        "CPM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CPM"
          }
        },
        "MEDIA_SHARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_SHARE"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserListLicensePricingBuyerApprovalStateEnum": {
      "type": "enum",
      "members": {
        "USER_LIST_PRICING_BUYER_APPROVAL_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_PRICING_BUYER_APPROVAL_STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserProperty": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String"
        },
        "propertyName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#RemoveAudienceMembersStatus": {
      "type": "structure",
      "members": {
        "googleUserIdDataRemovalStatus": {
          "target": "com.gcp.datamanager_v1#RemoveGoogleUserIdDataStatus"
        },
        "compositeDataRemovalStatus": {
          "target": "com.gcp.datamanager_v1#RemoveCompositeDataStatus"
        },
        "userDataRemovalStatus": {
          "target": "com.gcp.datamanager_v1#RemoveUserDataStatus"
        },
        "pairDataRemovalStatus": {
          "target": "com.gcp.datamanager_v1#RemovePairDataStatus"
        },
        "partnerProvidedIdDataRemovalStatus": {
          "target": "com.gcp.datamanager_v1#RemovePartnerProvidedIdDataStatus"
        },
        "mobileDataRemovalStatus": {
          "target": "com.gcp.datamanager_v1#RemoveMobileDataStatus"
        },
        "userIdDataRemovalStatus": {
          "target": "com.gcp.datamanager_v1#RemoveUserIdDataStatus"
        },
        "ppidDataRemovalStatus": {
          "target": "com.gcp.datamanager_v1#RemovePpidDataStatus"
        }
      }
    },
    "com.gcp.datamanager_v1#AudienceMember": {
      "type": "structure",
      "members": {
        "compositeData": {
          "target": "com.gcp.datamanager_v1#CompositeData"
        },
        "userData": {
          "target": "com.gcp.datamanager_v1#UserData"
        },
        "ppidData": {
          "target": "com.gcp.datamanager_v1#PpidData"
        },
        "googleUserIdData": {
          "target": "com.gcp.datamanager_v1#GoogleUserIdData"
        },
        "mobileData": {
          "target": "com.gcp.datamanager_v1#MobileData"
        },
        "destinationReferences": {
          "target": "com.gcp.datamanager_v1#StringList"
        },
        "userIdData": {
          "target": "com.gcp.datamanager_v1#UserIdData"
        },
        "consent": {
          "target": "com.gcp.datamanager_v1#Consent"
        },
        "pairData": {
          "target": "com.gcp.datamanager_v1#PairData"
        },
        "partnerProvidedIdData": {
          "target": "com.gcp.datamanager_v1#PartnerProvidedIdData"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestAudienceMembersResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String"
        },
        "fieldWarnings": {
          "target": "com.gcp.datamanager_v1#FieldWarningList"
        }
      }
    },
    "com.gcp.datamanager_v1#FieldWarningList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#FieldWarning"
      }
    },
    "com.gcp.datamanager_v1#UserIdData": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#ViewabilityInfo": {
      "type": "structure",
      "members": {
        "viewableDuration": {
          "target": "smithy.api#String"
        },
        "mediaQuartile": {
          "target": "com.gcp.datamanager_v1#ViewabilityInfoMediaQuartileEnum"
        },
        "viewType": {
          "target": "com.gcp.datamanager_v1#ViewabilityInfoViewTypeEnum"
        },
        "playbackDuration": {
          "target": "smithy.api#String"
        },
        "mediaVolumePercent": {
          "target": "smithy.api#Integer"
        },
        "mediaDuration": {
          "target": "smithy.api#String"
        },
        "viewablePercent": {
          "target": "smithy.api#Integer"
        },
        "mediaSkippable": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.datamanager_v1#ViewabilityInfoMediaQuartileEnum": {
      "type": "enum",
      "members": {
        "MEDIA_QUARTILE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_QUARTILE_UNSPECIFIED"
          }
        },
        "MEDIA_QUARTILE_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_QUARTILE_START"
          }
        },
        "MEDIA_QUARTILE_FIRST_QUARTILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_QUARTILE_FIRST_QUARTILE"
          }
        },
        "MEDIA_QUARTILE_MIDPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_QUARTILE_MIDPOINT"
          }
        },
        "MEDIA_QUARTILE_THIRD_QUARTILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_QUARTILE_THIRD_QUARTILE"
          }
        },
        "MEDIA_QUARTILE_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_QUARTILE_COMPLETE"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#ViewabilityInfoViewTypeEnum": {
      "type": "enum",
      "members": {
        "VIEW_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW_TYPE_UNSPECIFIED"
          }
        },
        "VIEW_TYPE_MRC_VIEWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW_TYPE_MRC_VIEWED"
          }
        },
        "VIEW_TYPE_MRC_RENDERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW_TYPE_MRC_RENDERED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#IngestCompositeDataStatus": {
      "type": "structure",
      "members": {
        "uploadMatchRateRange": {
          "target": "com.gcp.datamanager_v1#IngestCompositeDataStatusUploadMatchRateRangeEnum"
        },
        "recordCount": {
          "target": "smithy.api#String"
        },
        "dataTypeCounts": {
          "target": "com.gcp.datamanager_v1#DataTypeCountList"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestCompositeDataStatusUploadMatchRateRangeEnum": {
      "type": "enum",
      "members": {
        "MATCH_RATE_RANGE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_UNKNOWN"
          }
        },
        "MATCH_RATE_RANGE_NOT_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_NOT_ELIGIBLE"
          }
        },
        "MATCH_RATE_RANGE_LESS_THAN_20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_LESS_THAN_20"
          }
        },
        "MATCH_RATE_RANGE_20_TO_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_20_TO_30"
          }
        },
        "MATCH_RATE_RANGE_31_TO_40": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_31_TO_40"
          }
        },
        "MATCH_RATE_RANGE_41_TO_50": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_41_TO_50"
          }
        },
        "MATCH_RATE_RANGE_51_TO_60": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_51_TO_60"
          }
        },
        "MATCH_RATE_RANGE_61_TO_70": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_61_TO_70"
          }
        },
        "MATCH_RATE_RANGE_71_TO_80": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_71_TO_80"
          }
        },
        "MATCH_RATE_RANGE_81_TO_90": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_81_TO_90"
          }
        },
        "MATCH_RATE_RANGE_91_TO_100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_91_TO_100"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#ErrorCount": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "com.gcp.datamanager_v1#ErrorCountReasonEnum"
        },
        "recordCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#ErrorCountReasonEnum": {
      "type": "enum",
      "members": {
        "PROCESSING_ERROR_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_UNSPECIFIED"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_CUSTOM_VARIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_CUSTOM_VARIABLE"
          }
        },
        "PROCESSING_ERROR_REASON_CUSTOM_VARIABLE_NOT_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_CUSTOM_VARIABLE_NOT_ENABLED"
          }
        },
        "PROCESSING_ERROR_REASON_EVENT_TOO_OLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_EVENT_TOO_OLD"
          }
        },
        "PROCESSING_ERROR_REASON_DENIED_CONSENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DENIED_CONSENT"
          }
        },
        "PROCESSING_ERROR_REASON_NO_CONSENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_NO_CONSENT"
          }
        },
        "PROCESSING_ERROR_REASON_UNKNOWN_CONSENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_UNKNOWN_CONSENT"
          }
        },
        "PROCESSING_ERROR_REASON_DUPLICATE_GCLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DUPLICATE_GCLID"
          }
        },
        "PROCESSING_ERROR_REASON_DUPLICATE_TRANSACTION_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DUPLICATE_TRANSACTION_ID"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_GBRAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_GBRAID"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_GCLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_GCLID"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_MERCHANT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_MERCHANT_ID"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_WBRAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_WBRAID"
          }
        },
        "PROCESSING_ERROR_REASON_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INTERNAL_ERROR"
          }
        },
        "PROCESSING_ERROR_REASON_DESTINATION_ACCOUNT_ENHANCED_CONVERSIONS_TERMS_NOT_SIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DESTINATION_ACCOUNT_ENHANCED_CONVERSIONS_TERMS_NOT_SIGNED"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_EVENT"
          }
        },
        "PROCESSING_ERROR_REASON_INSUFFICIENT_MATCHED_TRANSACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INSUFFICIENT_MATCHED_TRANSACTIONS"
          }
        },
        "PROCESSING_ERROR_REASON_INSUFFICIENT_TRANSACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INSUFFICIENT_TRANSACTIONS"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_FORMAT"
          }
        },
        "PROCESSING_ERROR_REASON_DECRYPTION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DECRYPTION_ERROR"
          }
        },
        "PROCESSING_ERROR_REASON_DEK_DECRYPTION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DEK_DECRYPTION_ERROR"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_WIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_WIP"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_KEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_KEK"
          }
        },
        "PROCESSING_ERROR_REASON_WIP_AUTH_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_WIP_AUTH_FAILED"
          }
        },
        "PROCESSING_ERROR_REASON_KEK_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_KEK_PERMISSION_DENIED"
          }
        },
        "PROCESSING_ERROR_REASON_AWS_AUTH_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_AWS_AUTH_FAILED"
          }
        },
        "PROCESSING_ERROR_REASON_USER_IDENTIFIER_DECRYPTION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_USER_IDENTIFIER_DECRYPTION_ERROR"
          }
        },
        "PROCESSING_ERROR_OPERATING_ACCOUNT_MISMATCH_FOR_AD_IDENTIFIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_OPERATING_ACCOUNT_MISMATCH_FOR_AD_IDENTIFIER"
          }
        },
        "PROCESSING_ERROR_REASON_ONE_PER_CLICK_CONVERSION_ACTION_NOT_PERMITTED_WITH_BRAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_ONE_PER_CLICK_CONVERSION_ACTION_NOT_PERMITTED_WITH_BRAID"
          }
        },
        "PROCESSING_ERROR_REASON_MATCH_ID_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_MATCH_ID_NOT_FOUND"
          }
        },
        "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_MATCH_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_MATCH_ID"
          }
        },
        "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_GCLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_GCLID"
          }
        },
        "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_DCLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_DCLID"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_AD_IDENTIFIERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_AD_IDENTIFIERS"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_MOBILE_ID_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_MOBILE_ID_FORMAT"
          }
        },
        "PROCESSING_ERROR_REASON_ORIGINAL_CONVERSIONS_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_ORIGINAL_CONVERSIONS_NOT_FOUND"
          }
        },
        "PROCESSING_ERROR_REASON_EVENT_ID_DECODE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_EVENT_ID_DECODE_ERROR"
          }
        },
        "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_IMPRESSION_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_IMPRESSION_ID"
          }
        },
        "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND"
          }
        },
        "PROCESSING_ERROR_REASON_CONVERSION_PRECEDES_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_CONVERSION_PRECEDES_CLICK"
          }
        },
        "PROCESSING_ERROR_REASON_TOO_RECENT_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_TOO_RECENT_CLICK"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_CLICK"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_OPERATING_ACCOUNT_FOR_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_OPERATING_ACCOUNT_FOR_CLICK"
          }
        },
        "PROCESSING_ERROR_REASON_CLICK_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_CLICK_NOT_FOUND"
          }
        },
        "PROCESSING_ERROR_REASON_EXTERNAL_ATTRIBUTION_DATA_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_EXTERNAL_ATTRIBUTION_DATA_MISSING"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#WarningCount": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String"
        },
        "reason": {
          "target": "com.gcp.datamanager_v1#WarningCountReasonEnum"
        }
      }
    },
    "com.gcp.datamanager_v1#WarningCountReasonEnum": {
      "type": "enum",
      "members": {
        "PROCESSING_WARNING_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_UNSPECIFIED"
          }
        },
        "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED"
          }
        },
        "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR"
          }
        },
        "PROCESSING_WARNING_REASON_DECRYPTION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_DECRYPTION_ERROR"
          }
        },
        "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED"
          }
        },
        "PROCESSING_WARNING_REASON_INVALID_WIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_INVALID_WIP"
          }
        },
        "PROCESSING_WARNING_REASON_INVALID_KEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_INVALID_KEK"
          }
        },
        "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR"
          }
        },
        "PROCESSING_WARNING_REASON_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_INTERNAL_ERROR"
          }
        },
        "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#PartnerAudienceInfo": {
      "type": "structure",
      "members": {
        "commercePartner": {
          "target": "smithy.api#String"
        },
        "partnerAudienceSource": {
          "target": "com.gcp.datamanager_v1#PartnerAudienceInfoPartnerAudienceSourceEnum"
        }
      }
    },
    "com.gcp.datamanager_v1#PartnerAudienceInfoPartnerAudienceSourceEnum": {
      "type": "enum",
      "members": {
        "PARTNER_AUDIENCE_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_AUDIENCE_SOURCE_UNSPECIFIED"
          }
        },
        "COMMERCE_AUDIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMERCE_AUDIENCE"
          }
        },
        "LINEAR_TV_AUDIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINEAR_TV_AUDIENCE"
          }
        },
        "AGENCY_PROVIDER_AUDIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENCY_PROVIDER_AUDIENCE"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserListDirectLicense": {
      "type": "structure",
      "members": {
        "clientAccountId": {
          "target": "smithy.api#String"
        },
        "clientAccountDisplayName": {
          "target": "smithy.api#String"
        },
        "pricing": {
          "target": "com.gcp.datamanager_v1#UserListLicensePricing"
        },
        "historicalPricings": {
          "target": "com.gcp.datamanager_v1#UserListLicensePricingList"
        },
        "userListId": {
          "target": "smithy.api#String"
        },
        "metrics": {
          "target": "com.gcp.datamanager_v1#UserListLicenseMetrics"
        },
        "clientAccountType": {
          "target": "com.gcp.datamanager_v1#UserListDirectLicenseClientAccountTypeEnum"
        },
        "status": {
          "target": "com.gcp.datamanager_v1#UserListDirectLicenseStatusEnum"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "userListDisplayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#UserListLicensePricingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#UserListLicensePricing"
      }
    },
    "com.gcp.datamanager_v1#UserListDirectLicenseClientAccountTypeEnum": {
      "type": "enum",
      "members": {
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN"
          }
        },
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS"
          }
        },
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER"
          }
        },
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER"
          }
        },
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserListDirectLicenseStatusEnum": {
      "type": "enum",
      "members": {
        "USER_LIST_LICENSE_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_STATUS_UNSPECIFIED"
          }
        },
        "USER_LIST_LICENSE_STATUS_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_STATUS_ENABLED"
          }
        },
        "USER_LIST_LICENSE_STATUS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_STATUS_DISABLED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#Item": {
      "type": "structure",
      "members": {
        "customVariables": {
          "target": "com.gcp.datamanager_v1#ItemCustomVariableList"
        },
        "quantity": {
          "target": "smithy.api#String"
        },
        "unitPrice": {
          "target": "smithy.api#Double"
        },
        "merchantFeedLabel": {
          "target": "smithy.api#String"
        },
        "merchantProductId": {
          "target": "smithy.api#String"
        },
        "itemId": {
          "target": "smithy.api#String"
        },
        "merchantId": {
          "target": "smithy.api#String"
        },
        "conversionValue": {
          "target": "smithy.api#Double"
        },
        "merchantFeedLanguageCode": {
          "target": "smithy.api#String"
        },
        "additionalItemParameters": {
          "target": "com.gcp.datamanager_v1#ItemParameterList"
        }
      }
    },
    "com.gcp.datamanager_v1#ItemCustomVariableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#ItemCustomVariable"
      }
    },
    "com.gcp.datamanager_v1#ItemParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#ItemParameter"
      }
    },
    "com.gcp.datamanager_v1#IngestEventsResponse": {
      "type": "structure",
      "members": {
        "fieldWarnings": {
          "target": "com.gcp.datamanager_v1#FieldWarningList"
        },
        "requestId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#TargetNetworkInfo": {
      "type": "structure",
      "members": {
        "eligibleForDisplay": {
          "target": "smithy.api#Boolean"
        },
        "eligibleForSearch": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.datamanager_v1#RemoveUsersResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#WarningInfo": {
      "type": "structure",
      "members": {
        "warningCounts": {
          "target": "com.gcp.datamanager_v1#WarningCountList"
        }
      }
    },
    "com.gcp.datamanager_v1#WarningCountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#WarningCount"
      }
    },
    "com.gcp.datamanager_v1#Consent": {
      "type": "structure",
      "members": {
        "adUserData": {
          "target": "com.gcp.datamanager_v1#ConsentAdUserDataEnum"
        },
        "adPersonalization": {
          "target": "com.gcp.datamanager_v1#ConsentAdPersonalizationEnum"
        }
      }
    },
    "com.gcp.datamanager_v1#ConsentAdUserDataEnum": {
      "type": "enum",
      "members": {
        "CONSENT_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSENT_STATUS_UNSPECIFIED"
          }
        },
        "CONSENT_GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSENT_GRANTED"
          }
        },
        "CONSENT_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSENT_DENIED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#ConsentAdPersonalizationEnum": {
      "type": "enum",
      "members": {
        "CONSENT_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSENT_STATUS_UNSPECIFIED"
          }
        },
        "CONSENT_GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSENT_GRANTED"
          }
        },
        "CONSENT_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSENT_DENIED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#RemoveUserDataStatus": {
      "type": "structure",
      "members": {
        "userIdentifierCount": {
          "target": "smithy.api#String"
        },
        "recordCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#DeviceInfo": {
      "type": "structure",
      "members": {
        "browserVersion": {
          "target": "smithy.api#String"
        },
        "operatingSystem": {
          "target": "smithy.api#String"
        },
        "screenWidth": {
          "target": "smithy.api#Integer"
        },
        "brand": {
          "target": "smithy.api#String"
        },
        "operatingSystemVersion": {
          "target": "smithy.api#String"
        },
        "userAgent": {
          "target": "smithy.api#String"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "screenHeight": {
          "target": "smithy.api#Integer"
        },
        "languageCode": {
          "target": "smithy.api#String"
        },
        "category": {
          "target": "smithy.api#String"
        },
        "browser": {
          "target": "smithy.api#String"
        },
        "ipAddress": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestUsersResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#PpidData": {
      "type": "structure",
      "members": {
        "ppids": {
          "target": "com.gcp.datamanager_v1#StringList"
        }
      }
    },
    "com.gcp.datamanager_v1#UserProperties": {
      "type": "structure",
      "members": {
        "additionalUserProperties": {
          "target": "com.gcp.datamanager_v1#UserPropertyList"
        },
        "customerValueBucket": {
          "target": "com.gcp.datamanager_v1#UserPropertiesCustomerValueBucketEnum"
        },
        "customerType": {
          "target": "com.gcp.datamanager_v1#UserPropertiesCustomerTypeEnum"
        }
      }
    },
    "com.gcp.datamanager_v1#UserPropertyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#UserProperty"
      }
    },
    "com.gcp.datamanager_v1#UserPropertiesCustomerValueBucketEnum": {
      "type": "enum",
      "members": {
        "CUSTOMER_VALUE_BUCKET_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_VALUE_BUCKET_UNSPECIFIED"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserPropertiesCustomerTypeEnum": {
      "type": "enum",
      "members": {
        "CUSTOMER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_TYPE_UNSPECIFIED"
          }
        },
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "RETURNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETURNING"
          }
        },
        "REENGAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REENGAGED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserIdInfo": {
      "type": "structure",
      "members": {
        "dataSourceType": {
          "target": "com.gcp.datamanager_v1#UserIdInfoDataSourceTypeEnum"
        }
      }
    },
    "com.gcp.datamanager_v1#UserIdInfoDataSourceTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_SOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_UNSPECIFIED"
          }
        },
        "DATA_SOURCE_TYPE_FIRST_PARTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_FIRST_PARTY"
          }
        },
        "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU"
          }
        },
        "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE"
          }
        },
        "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#CustomVariable": {
      "type": "structure",
      "members": {
        "destinationReferences": {
          "target": "com.gcp.datamanager_v1#StringList"
        },
        "value": {
          "target": "smithy.api#String"
        },
        "variable": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#ListUserListDirectLicensesResponse": {
      "type": "structure",
      "members": {
        "userListDirectLicenses": {
          "target": "com.gcp.datamanager_v1#UserListDirectLicenseList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#UserListDirectLicenseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#UserListDirectLicense"
      }
    },
    "com.gcp.datamanager_v1#AdEvent": {
      "type": "structure",
      "members": {
        "deviceInfo": {
          "target": "com.gcp.datamanager_v1#DeviceInfo"
        },
        "adGroupId": {
          "target": "smithy.api#String"
        },
        "targetingType": {
          "target": "com.gcp.datamanager_v1#AdEventTargetingTypeEnum"
        },
        "viewabilityInfo": {
          "target": "com.gcp.datamanager_v1#ViewabilityInfo"
        },
        "platformType": {
          "target": "com.gcp.datamanager_v1#AdEventPlatformTypeEnum"
        },
        "userData": {
          "target": "com.gcp.datamanager_v1#UserData"
        },
        "adPlacementString": {
          "target": "smithy.api#String"
        },
        "platformString": {
          "target": "smithy.api#String"
        },
        "medium": {
          "target": "smithy.api#String"
        },
        "eventType": {
          "target": "com.gcp.datamanager_v1#AdEventEventTypeEnum"
        },
        "campaignId": {
          "target": "smithy.api#String"
        },
        "regionCode": {
          "target": "smithy.api#String"
        },
        "timestamp": {
          "target": "smithy.api#String"
        },
        "adWidth": {
          "target": "smithy.api#Integer"
        },
        "advertiserId": {
          "target": "smithy.api#String"
        },
        "ipAddress": {
          "target": "smithy.api#String"
        },
        "eventSubtypeString": {
          "target": "smithy.api#String"
        },
        "targetingTypeString": {
          "target": "smithy.api#String"
        },
        "adId": {
          "target": "smithy.api#String"
        },
        "adTypeString": {
          "target": "smithy.api#String"
        },
        "platformTypeString": {
          "target": "smithy.api#String"
        },
        "eventSubtype": {
          "target": "com.gcp.datamanager_v1#AdEventEventSubtypeEnum"
        },
        "attributionHint": {
          "target": "com.gcp.datamanager_v1#AdEventAttributionHintEnum"
        },
        "adType": {
          "target": "com.gcp.datamanager_v1#AdEventAdTypeEnum"
        },
        "campaignName": {
          "target": "smithy.api#String"
        },
        "adFormat": {
          "target": "com.gcp.datamanager_v1#AdEventAdFormatEnum"
        },
        "mobileDeviceId": {
          "target": "smithy.api#String"
        },
        "eventId": {
          "target": "smithy.api#String"
        },
        "source": {
          "target": "smithy.api#String"
        },
        "measurementAllowed": {
          "target": "smithy.api#Boolean"
        },
        "adFormatString": {
          "target": "smithy.api#String"
        },
        "adPlacement": {
          "target": "com.gcp.datamanager_v1#AdEventAdPlacementEnum"
        },
        "platform": {
          "target": "com.gcp.datamanager_v1#AdEventPlatformEnum"
        },
        "adHeight": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventTargetingTypeEnum": {
      "type": "enum",
      "members": {
        "TARGETING_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_UNSPECIFIED"
          }
        },
        "TARGETING_TYPE_AUDIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_AUDIENCE"
          }
        },
        "TARGETING_TYPE_CONTEXTUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_CONTEXTUAL"
          }
        },
        "TARGETING_TYPE_DEMOGRAPHIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_DEMOGRAPHIC"
          }
        },
        "TARGETING_TYPE_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_DEVICE"
          }
        },
        "TARGETING_TYPE_GEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_GEO"
          }
        },
        "TARGETING_TYPE_INTEREST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_INTEREST"
          }
        },
        "TARGETING_TYPE_PURCHASE_INTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_PURCHASE_INTENT"
          }
        },
        "TARGETING_TYPE_REMARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_REMARKETING"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventPlatformTypeEnum": {
      "type": "enum",
      "members": {
        "PLATFORM_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_TYPE_UNSPECIFIED"
          }
        },
        "PLATFORM_TYPE_MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_TYPE_MOBILE"
          }
        },
        "PLATFORM_TYPE_DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_TYPE_DESKTOP"
          }
        },
        "PLATFORM_TYPE_CTV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_TYPE_CTV"
          }
        },
        "PLATFORM_TYPE_PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_TYPE_PHONE"
          }
        },
        "PLATFORM_TYPE_TABLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_TYPE_TABLET"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventEventTypeEnum": {
      "type": "enum",
      "members": {
        "EVENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_UNSPECIFIED"
          }
        },
        "EVENT_TYPE_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_VIEW"
          }
        },
        "EVENT_TYPE_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_CLICK"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventEventSubtypeEnum": {
      "type": "enum",
      "members": {
        "EVENT_SUBTYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_SUBTYPE_UNSPECIFIED"
          }
        },
        "EVENT_SUBTYPE_IMPRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_SUBTYPE_IMPRESSION"
          }
        },
        "EVENT_SUBTYPE_ENGAGED_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_SUBTYPE_ENGAGED_VIEW"
          }
        },
        "EVENT_SUBTYPE_ONSITE_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_SUBTYPE_ONSITE_CLICK"
          }
        },
        "EVENT_SUBTYPE_OUTBOUND_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_SUBTYPE_OUTBOUND_CLICK"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventAttributionHintEnum": {
      "type": "enum",
      "members": {
        "ATTRIBUTION_HINT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTION_HINT_UNSPECIFIED"
          }
        },
        "ATTRIBUTION_HINT_CONVERTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTION_HINT_CONVERTED"
          }
        },
        "ATTRIBUTION_HINT_NOT_CONVERTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTION_HINT_NOT_CONVERTED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventAdTypeEnum": {
      "type": "enum",
      "members": {
        "AD_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE_UNSPECIFIED"
          }
        },
        "AD_TYPE_DISPLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE_DISPLAY"
          }
        },
        "AD_TYPE_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE_TEXT"
          }
        },
        "AD_TYPE_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE_IMAGE"
          }
        },
        "AD_TYPE_RICH_MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE_RICH_MEDIA"
          }
        },
        "AD_TYPE_HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE_HTML"
          }
        },
        "AD_TYPE_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE_AUDIO"
          }
        },
        "AD_TYPE_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE_VIDEO"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventAdFormatEnum": {
      "type": "enum",
      "members": {
        "AD_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_UNSPECIFIED"
          }
        },
        "AD_FORMAT_AR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_AR"
          }
        },
        "AD_FORMAT_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_AUDIO"
          }
        },
        "AD_FORMAT_BANNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_BANNER"
          }
        },
        "AD_FORMAT_BUMPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_BUMPER"
          }
        },
        "AD_FORMAT_CAROUSEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_CAROUSEL"
          }
        },
        "AD_FORMAT_COLLECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_COLLECTION"
          }
        },
        "AD_FORMAT_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_IMAGE"
          }
        },
        "AD_FORMAT_INTERACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_INTERACTIVE"
          }
        },
        "AD_FORMAT_INTERSTITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_INTERSTITIAL"
          }
        },
        "AD_FORMAT_IN_FEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_IN_FEED"
          }
        },
        "AD_FORMAT_IN_STREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_IN_STREAM"
          }
        },
        "AD_FORMAT_IN_STREAM_SKIPPABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_IN_STREAM_SKIPPABLE"
          }
        },
        "AD_FORMAT_IN_STREAM_NON_SKIPPABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_IN_STREAM_NON_SKIPPABLE"
          }
        },
        "AD_FORMAT_NATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_NATIVE"
          }
        },
        "AD_FORMAT_SHORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_SHORTS"
          }
        },
        "AD_FORMAT_STORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_STORY"
          }
        },
        "AD_FORMAT_SPONSORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_SPONSORED"
          }
        },
        "AD_FORMAT_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_VIDEO"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventAdPlacementEnum": {
      "type": "enum",
      "members": {
        "AD_PLACEMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_UNSPECIFIED"
          }
        },
        "AD_PLACEMENT_DISCOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_DISCOVER"
          }
        },
        "AD_PLACEMENT_FEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_FEED"
          }
        },
        "AD_PLACEMENT_FOOTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_FOOTER"
          }
        },
        "AD_PLACEMENT_HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_HEADER"
          }
        },
        "AD_PLACEMENT_HOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_HOME"
          }
        },
        "AD_PLACEMENT_IN_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_IN_CONTENT"
          }
        },
        "AD_PLACEMENT_PROMOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_PROMOTED"
          }
        },
        "AD_PLACEMENT_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_SEARCH"
          }
        },
        "AD_PLACEMENT_STORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_STORY"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventPlatformEnum": {
      "type": "enum",
      "members": {
        "PLATFORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_UNSPECIFIED"
          }
        },
        "PLATFORM_IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_IOS"
          }
        },
        "PLATFORM_ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_ANDROID"
          }
        },
        "PLATFORM_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_WEB"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#EventLocation": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String"
        },
        "continentCode": {
          "target": "smithy.api#String"
        },
        "storeId": {
          "target": "smithy.api#String"
        },
        "subcontinentCode": {
          "target": "smithy.api#String"
        },
        "regionCode": {
          "target": "smithy.api#String"
        },
        "subdivisionCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#UserIdentifier": {
      "type": "structure",
      "members": {
        "phoneNumber": {
          "target": "smithy.api#String"
        },
        "emailAddress": {
          "target": "smithy.api#String"
        },
        "address": {
          "target": "com.gcp.datamanager_v1#AddressInfo"
        }
      }
    },
    "com.gcp.datamanager_v1#Destination": {
      "type": "structure",
      "members": {
        "operatingAccount": {
          "target": "com.gcp.datamanager_v1#ProductAccount"
        },
        "reference": {
          "target": "smithy.api#String"
        },
        "loginAccount": {
          "target": "com.gcp.datamanager_v1#ProductAccount"
        },
        "linkedAccount": {
          "target": "com.gcp.datamanager_v1#ProductAccount"
        },
        "productDestinationId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#TermsOfService": {
      "type": "structure",
      "members": {
        "customerMatchTermsOfServiceStatus": {
          "target": "com.gcp.datamanager_v1#TermsOfServiceCustomerMatchTermsOfServiceStatusEnum"
        }
      }
    },
    "com.gcp.datamanager_v1#TermsOfServiceCustomerMatchTermsOfServiceStatusEnum": {
      "type": "enum",
      "members": {
        "TERMS_OF_SERVICE_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMS_OF_SERVICE_STATUS_UNSPECIFIED"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPTED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#RemoveAudienceMembersResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#GetRequestStatusResponse": {
      "type": "structure",
      "members": {
        "requestStatusPerDestination": {
          "target": "com.gcp.datamanager_v1#RequestStatusPerDestinationList"
        }
      }
    },
    "com.gcp.datamanager_v1#RequestStatusPerDestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#RequestStatusPerDestination"
      }
    },
    "com.gcp.datamanager_v1#AddressInfo": {
      "type": "structure",
      "members": {
        "regionCode": {
          "target": "smithy.api#String"
        },
        "administrativeArea": {
          "target": "smithy.api#String"
        },
        "city": {
          "target": "smithy.api#String"
        },
        "addressLine": {
          "target": "smithy.api#String"
        },
        "familyName": {
          "target": "smithy.api#String"
        },
        "givenName": {
          "target": "smithy.api#String"
        },
        "postalCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#PartnerProvidedIdData": {
      "type": "structure",
      "members": {
        "partnerProvidedIds": {
          "target": "com.gcp.datamanager_v1#StringList"
        }
      }
    },
    "com.gcp.datamanager_v1#PartnerCustomerAccount": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String"
        },
        "accountName": {
          "target": "smithy.api#String"
        },
        "accountType": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfo": {
      "type": "structure",
      "members": {
        "clientAccountDisplayName": {
          "target": "smithy.api#String"
        },
        "clientAccountId": {
          "target": "smithy.api#String"
        },
        "metrics": {
          "target": "com.gcp.datamanager_v1#UserListLicenseMetrics"
        },
        "clientAccountType": {
          "target": "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfoClientAccountTypeEnum"
        },
        "status": {
          "target": "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfoStatusEnum"
        },
        "userListDisplayName": {
          "target": "smithy.api#String"
        },
        "userListId": {
          "target": "smithy.api#String"
        },
        "licenseType": {
          "target": "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfoLicenseTypeEnum"
        },
        "pricing": {
          "target": "com.gcp.datamanager_v1#UserListLicensePricing"
        },
        "historicalPricings": {
          "target": "com.gcp.datamanager_v1#UserListLicensePricingList"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfoClientAccountTypeEnum": {
      "type": "enum",
      "members": {
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN"
          }
        },
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS"
          }
        },
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER"
          }
        },
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER"
          }
        },
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfoStatusEnum": {
      "type": "enum",
      "members": {
        "USER_LIST_LICENSE_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_STATUS_UNSPECIFIED"
          }
        },
        "USER_LIST_LICENSE_STATUS_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_STATUS_ENABLED"
          }
        },
        "USER_LIST_LICENSE_STATUS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_STATUS_DISABLED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfoLicenseTypeEnum": {
      "type": "enum",
      "members": {
        "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED"
          }
        },
        "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER"
          }
        },
        "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE"
          }
        },
        "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AwsWrappedKeyInfo": {
      "type": "structure",
      "members": {
        "encryptedDek": {
          "target": "smithy.api#String"
        },
        "keyType": {
          "target": "com.gcp.datamanager_v1#AwsWrappedKeyInfoKeyTypeEnum"
        },
        "kekUri": {
          "target": "smithy.api#String"
        },
        "roleArn": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#AwsWrappedKeyInfoKeyTypeEnum": {
      "type": "enum",
      "members": {
        "KEY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_TYPE_UNSPECIFIED"
          }
        },
        "XCHACHA20_POLY1305": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XCHACHA20_POLY1305"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#IpData": {
      "type": "structure",
      "members": {
        "observeEndTime": {
          "target": "smithy.api#String"
        },
        "observeStartTime": {
          "target": "smithy.api#String"
        },
        "ipAddress": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestAdEventsResponse": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.datamanager_v1#RemovePartnerProvidedIdDataStatus": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String"
        },
        "partnerProvidedIdCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#User": {
      "type": "structure",
      "members": {
        "userData": {
          "target": "com.gcp.datamanager_v1#UserData"
        },
        "mobileData": {
          "target": "com.gcp.datamanager_v1#MobileData"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestAudienceMembersStatus": {
      "type": "structure",
      "members": {
        "pairDataIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestPairDataStatus"
        },
        "userIdDataIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestUserIdDataStatus"
        },
        "googleUserIdDataIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestGoogleUserIdDataStatus"
        },
        "partnerProvidedIdDataIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestPartnerProvidedIdDataStatus"
        },
        "compositeDataIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestCompositeDataStatus"
        },
        "mobileDataIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestMobileDataStatus"
        },
        "ppidDataIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestPpidDataStatus"
        },
        "userDataIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestUserDataStatus"
        }
      }
    },
    "com.gcp.datamanager_v1#ItemCustomVariable": {
      "type": "structure",
      "members": {
        "destinationReferences": {
          "target": "com.gcp.datamanager_v1#StringList"
        },
        "variable": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#ListUserListGlobalLicensesResponse": {
      "type": "structure",
      "members": {
        "userListGlobalLicenses": {
          "target": "com.gcp.datamanager_v1#UserListGlobalLicenseList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicenseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#UserListGlobalLicense"
      }
    },
    "com.gcp.datamanager_v1#GoogleUserIdData": {
      "type": "structure",
      "members": {
        "googleUserIds": {
          "target": "com.gcp.datamanager_v1#StringList"
        }
      }
    },
    "com.gcp.datamanager_v1#MobileData": {
      "type": "structure",
      "members": {
        "mobileIds": {
          "target": "com.gcp.datamanager_v1#StringList"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestGoogleUserIdDataStatus": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String"
        },
        "googleUserIdCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#DataTypeCount": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.datamanager_v1#DataTypeCountTypeEnum"
        },
        "count": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#DataTypeCountTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL"
          }
        },
        "PHONE_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE_NUMBER"
          }
        },
        "ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDRESS"
          }
        },
        "IP_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP_ADDRESS"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AdIdentifiers": {
      "type": "structure",
      "members": {
        "gclid": {
          "target": "smithy.api#String"
        },
        "dclid": {
          "target": "smithy.api#String"
        },
        "impressionId": {
          "target": "smithy.api#String"
        },
        "wbraid": {
          "target": "smithy.api#String"
        },
        "mobileDeviceId": {
          "target": "smithy.api#String"
        },
        "gbraid": {
          "target": "smithy.api#String"
        },
        "sessionAttributes": {
          "target": "smithy.api#String"
        },
        "visitorPpid": {
          "target": "smithy.api#String"
        },
        "matchId": {
          "target": "smithy.api#String"
        },
        "encryptedUserIds": {
          "target": "com.gcp.datamanager_v1#EncryptedUserIdList"
        },
        "ppid": {
          "target": "smithy.api#String"
        },
        "landingPageDeviceInfo": {
          "target": "com.gcp.datamanager_v1#DeviceInfo"
        }
      }
    },
    "com.gcp.datamanager_v1#EncryptedUserIdList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#EncryptedUserId"
      }
    },
    "com.gcp.datamanager_v1#IngestPartnerProvidedIdDataStatus": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String"
        },
        "partnerProvidedIdCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#PseudonymousIdInfo": {
      "type": "structure",
      "members": {
        "syncStatus": {
          "target": "com.gcp.datamanager_v1#PseudonymousIdInfoSyncStatusEnum"
        },
        "billableRecordCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#PseudonymousIdInfoSyncStatusEnum": {
      "type": "enum",
      "members": {
        "SYNC_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNC_STATUS_UNSPECIFIED"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "READY_FOR_USE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY_FOR_USE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#RequestStatusPerDestination": {
      "type": "structure",
      "members": {
        "audienceMembersIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestAudienceMembersStatus"
        },
        "audienceMembersRemovalStatus": {
          "target": "com.gcp.datamanager_v1#RemoveAudienceMembersStatus"
        },
        "requestStatus": {
          "target": "com.gcp.datamanager_v1#RequestStatusPerDestinationRequestStatusEnum"
        },
        "destination": {
          "target": "com.gcp.datamanager_v1#Destination"
        },
        "eventsIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestEventsStatus"
        },
        "removeAllAudienceMembersStatus": {
          "target": "com.gcp.datamanager_v1#RemoveAllAudienceMembersStatus"
        },
        "warningInfo": {
          "target": "com.gcp.datamanager_v1#WarningInfo"
        },
        "errorInfo": {
          "target": "com.gcp.datamanager_v1#ErrorInfo"
        }
      }
    },
    "com.gcp.datamanager_v1#RequestStatusPerDestinationRequestStatusEnum": {
      "type": "enum",
      "members": {
        "REQUEST_STATUS_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_STATUS_UNKNOWN"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "PARTIAL_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_SUCCESS"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#Location": {
      "type": "structure",
      "members": {
        "regionCodes": {
          "target": "com.gcp.datamanager_v1#StringList"
        }
      }
    },
    "com.gcp.datamanager_v1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "code": {
          "target": "smithy.api#Integer"
        },
        "details": {
          "target": "com.gcp.datamanager_v1#DocumentMapList"
        }
      }
    },
    "com.gcp.datamanager_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.datamanager_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#DocumentMap"
      }
    },
    "com.gcp.datamanager_v1#RemoveAllAudienceMembersResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#ItemParameter": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String"
        },
        "parameterName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#PairIdInfo": {
      "type": "structure",
      "members": {
        "publisherId": {
          "target": "smithy.api#String"
        },
        "cleanRoomIdentifier": {
          "target": "smithy.api#String"
        },
        "publisherName": {
          "target": "smithy.api#String"
        },
        "advertiserIdentifierCount": {
          "target": "smithy.api#String"
        },
        "matchRatePercentage": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.datamanager_v1#RemoveUserIdDataStatus": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String"
        },
        "userIdCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestEventsRequest": {
      "type": "structure",
      "members": {
        "encryptionInfo": {
          "target": "com.gcp.datamanager_v1#EncryptionInfo"
        },
        "events": {
          "target": "com.gcp.datamanager_v1#EventList"
        },
        "consent": {
          "target": "com.gcp.datamanager_v1#Consent"
        },
        "destinations": {
          "target": "com.gcp.datamanager_v1#DestinationList"
        },
        "validateOnly": {
          "target": "smithy.api#Boolean"
        },
        "encoding": {
          "target": "com.gcp.datamanager_v1#IngestEventsRequestEncodingEnum"
        }
      }
    },
    "com.gcp.datamanager_v1#EventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#Event"
      }
    },
    "com.gcp.datamanager_v1#IngestEventsRequestEncodingEnum": {
      "type": "enum",
      "members": {
        "ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCODING_UNSPECIFIED"
          }
        },
        "HEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEX"
          }
        },
        "BASE64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE64"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#CoordinatorKeyInfo": {
      "type": "structure",
      "members": {
        "keyId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicense": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.datamanager_v1#UserListGlobalLicenseStatusEnum"
        },
        "pricing": {
          "target": "com.gcp.datamanager_v1#UserListLicensePricing"
        },
        "userListId": {
[...]
