{
  "smithy": "2.0",
  "metadata": {
    "service": "datamanager",
    "version": "v1",
    "title": "Data Manager API",
    "baseUrl": "https://datamanager.googleapis.com/",
    "distilled.finalized": true
  },
  "shapes": {
    "com.gcp.datamanager_v1#EncryptionInfo": {
      "type": "structure",
      "members": {
        "awsWrappedKeyInfo": {
          "target": "com.gcp.datamanager_v1#AwsWrappedKeyInfo"
        },
        "gcpWrappedKeyInfo": {
          "target": "com.gcp.datamanager_v1#GcpWrappedKeyInfo"
        },
        "coordinatorKeyInfo": {
          "target": "com.gcp.datamanager_v1#CoordinatorKeyInfo"
        }
      }
    },
    "com.gcp.datamanager_v1#ErrorInfo": {
      "type": "structure",
      "members": {
        "errorCounts": {
          "target": "com.gcp.datamanager_v1#ErrorCountList"
        }
      }
    },
    "com.gcp.datamanager_v1#ErrorCountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#ErrorCount"
      }
    },
    "com.gcp.datamanager_v1#Item": {
      "type": "structure",
      "members": {
        "conversionValue": {
          "target": "smithy.api#Double"
        },
        "additionalItemParameters": {
          "target": "com.gcp.datamanager_v1#ItemParameterList"
        },
        "merchantFeedLabel": {
          "target": "smithy.api#String"
        },
        "quantity": {
          "target": "smithy.api#String"
        },
        "merchantProductId": {
          "target": "smithy.api#String"
        },
        "unitPrice": {
          "target": "smithy.api#Double"
        },
        "itemId": {
          "target": "smithy.api#String"
        },
        "customVariables": {
          "target": "com.gcp.datamanager_v1#ItemCustomVariableList"
        },
        "merchantFeedLanguageCode": {
          "target": "smithy.api#String"
        },
        "merchantId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#ItemParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#ItemParameter"
      }
    },
    "com.gcp.datamanager_v1#ItemCustomVariableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#ItemCustomVariable"
      }
    },
    "com.gcp.datamanager_v1#ListUserListsResponse": {
      "type": "structure",
      "members": {
        "userLists": {
          "target": "com.gcp.datamanager_v1#UserListList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#UserListList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#UserList"
      }
    },
    "com.gcp.datamanager_v1#RemovePairDataStatus": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String"
        },
        "pairIdCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestUserDataStatus": {
      "type": "structure",
      "members": {
        "uploadMatchRateRange": {
          "target": "com.gcp.datamanager_v1#IngestUserDataStatusUploadMatchRateRangeEnum"
        },
        "userIdentifierCount": {
          "target": "smithy.api#String"
        },
        "recordCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestUserDataStatusUploadMatchRateRangeEnum": {
      "type": "enum",
      "members": {
        "MATCH_RATE_RANGE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_UNKNOWN"
          }
        },
        "MATCH_RATE_RANGE_NOT_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_NOT_ELIGIBLE"
          }
        },
        "MATCH_RATE_RANGE_LESS_THAN_20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_LESS_THAN_20"
          }
        },
        "MATCH_RATE_RANGE_20_TO_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_20_TO_30"
          }
        },
        "MATCH_RATE_RANGE_31_TO_40": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_31_TO_40"
          }
        },
        "MATCH_RATE_RANGE_41_TO_50": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_41_TO_50"
          }
        },
        "MATCH_RATE_RANGE_51_TO_60": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_51_TO_60"
          }
        },
        "MATCH_RATE_RANGE_61_TO_70": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_61_TO_70"
          }
        },
        "MATCH_RATE_RANGE_71_TO_80": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_71_TO_80"
          }
        },
        "MATCH_RATE_RANGE_81_TO_90": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_81_TO_90"
          }
        },
        "MATCH_RATE_RANGE_91_TO_100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_91_TO_100"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#PairIdInfo": {
      "type": "structure",
      "members": {
        "matchRatePercentage": {
          "target": "smithy.api#Integer"
        },
        "cleanRoomIdentifier": {
          "target": "smithy.api#String"
        },
        "publisherId": {
          "target": "smithy.api#String"
        },
        "advertiserIdentifierCount": {
          "target": "smithy.api#String"
        },
        "publisherName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#RemoveAudienceMembersResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#RemoveUsersRequest": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.gcp.datamanager_v1#DestinationList"
        },
        "encoding": {
          "target": "com.gcp.datamanager_v1#RemoveUsersRequestEncodingEnum"
        },
        "encryptionInfo": {
          "target": "com.gcp.datamanager_v1#EncryptionInfo"
        },
        "validateOnly": {
          "target": "smithy.api#Boolean"
        },
        "userData": {
          "target": "com.gcp.datamanager_v1#UserDataList"
        }
      }
    },
    "com.gcp.datamanager_v1#DestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#Destination"
      }
    },
    "com.gcp.datamanager_v1#RemoveUsersRequestEncodingEnum": {
      "type": "enum",
      "members": {
        "ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCODING_UNSPECIFIED"
          }
        },
        "HEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEX"
          }
        },
        "BASE64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE64"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#UserData"
      }
    },
    "com.gcp.datamanager_v1#UserProperty": {
      "type": "structure",
      "members": {
        "propertyName": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestAudienceMembersRequest": {
      "type": "structure",
      "members": {
        "audienceMembers": {
          "target": "com.gcp.datamanager_v1#AudienceMemberList"
        },
        "encoding": {
          "target": "com.gcp.datamanager_v1#IngestAudienceMembersRequestEncodingEnum"
        },
        "destinations": {
          "target": "com.gcp.datamanager_v1#DestinationList"
        },
        "consent": {
          "target": "com.gcp.datamanager_v1#Consent"
        },
        "termsOfService": {
          "target": "com.gcp.datamanager_v1#TermsOfService"
        },
        "validateOnly": {
          "target": "smithy.api#Boolean"
        },
        "encryptionInfo": {
          "target": "com.gcp.datamanager_v1#EncryptionInfo"
        }
      }
    },
    "com.gcp.datamanager_v1#AudienceMemberList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#AudienceMember"
      }
    },
    "com.gcp.datamanager_v1#IngestAudienceMembersRequestEncodingEnum": {
      "type": "enum",
      "members": {
        "ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCODING_UNSPECIFIED"
          }
        },
        "HEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEX"
          }
        },
        "BASE64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE64"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#CompositeData": {
      "type": "structure",
      "members": {
        "ipData": {
          "target": "com.gcp.datamanager_v1#IpDataList"
        },
        "userData": {
          "target": "com.gcp.datamanager_v1#UserData"
        }
      }
    },
    "com.gcp.datamanager_v1#IpDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#IpData"
      }
    },
    "com.gcp.datamanager_v1#CoordinatorKeyInfo": {
      "type": "structure",
      "members": {
        "keyId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#MarketingDataInsight": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.gcp.datamanager_v1#MarketingDataInsightsAttributeList"
        },
        "dimension": {
          "target": "com.gcp.datamanager_v1#MarketingDataInsightDimensionEnum"
        }
      }
    },
    "com.gcp.datamanager_v1#MarketingDataInsightsAttributeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#MarketingDataInsightsAttribute"
      }
    },
    "com.gcp.datamanager_v1#MarketingDataInsightDimensionEnum": {
      "type": "enum",
      "members": {
        "AUDIENCE_INSIGHTS_DIMENSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_INSIGHTS_DIMENSION_UNSPECIFIED"
          }
        },
        "AUDIENCE_INSIGHTS_DIMENSION_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_INSIGHTS_DIMENSION_UNKNOWN"
          }
        },
        "AFFINITY_USER_INTEREST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFFINITY_USER_INTEREST"
          }
        },
        "IN_MARKET_USER_INTEREST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_MARKET_USER_INTEREST"
          }
        },
        "AGE_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE"
          }
        },
        "GENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENDER"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#IngestPartnerProvidedIdDataStatus": {
      "type": "structure",
      "members": {
        "partnerProvidedIdCount": {
          "target": "smithy.api#String"
        },
        "recordCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicense": {
      "type": "structure",
      "members": {
        "userListDisplayName": {
          "target": "smithy.api#String"
        },
        "pricing": {
          "target": "com.gcp.datamanager_v1#UserListLicensePricing"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "historicalPricings": {
          "target": "com.gcp.datamanager_v1#UserListLicensePricingList"
        },
        "userListId": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.gcp.datamanager_v1#UserListGlobalLicenseStatusEnum"
        },
        "metrics": {
          "target": "com.gcp.datamanager_v1#UserListLicenseMetrics"
        },
        "licenseType": {
          "target": "com.gcp.datamanager_v1#UserListGlobalLicenseLicenseTypeEnum"
        }
      }
    },
    "com.gcp.datamanager_v1#UserListLicensePricingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#UserListLicensePricing"
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicenseStatusEnum": {
      "type": "enum",
      "members": {
        "USER_LIST_LICENSE_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_STATUS_UNSPECIFIED"
          }
        },
        "USER_LIST_LICENSE_STATUS_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_STATUS_ENABLED"
          }
        },
        "USER_LIST_LICENSE_STATUS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_STATUS_DISABLED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicenseLicenseTypeEnum": {
      "type": "enum",
      "members": {
        "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED"
          }
        },
        "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER"
          }
        },
        "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE"
          }
        },
        "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#RetrieveInsightsRequest": {
      "type": "structure",
      "members": {
        "userListId": {
          "target": "smithy.api#String"
        },
        "baseline": {
          "target": "com.gcp.datamanager_v1#Baseline"
        }
      }
    },
    "com.gcp.datamanager_v1#DataTypeCount": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.datamanager_v1#DataTypeCountTypeEnum"
        },
        "count": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#DataTypeCountTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL"
          }
        },
        "PHONE_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE_NUMBER"
          }
        },
        "ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDRESS"
          }
        },
        "IP_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP_ADDRESS"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#DeviceInfo": {
      "type": "structure",
      "members": {
        "browser": {
          "target": "smithy.api#String"
        },
        "screenWidth": {
          "target": "smithy.api#Integer"
        },
        "userAgent": {
          "target": "smithy.api#String"
        },
        "operatingSystemVersion": {
          "target": "smithy.api#String"
        },
        "screenHeight": {
          "target": "smithy.api#Integer"
        },
        "ipAddress": {
          "target": "smithy.api#String"
        },
        "browserVersion": {
          "target": "smithy.api#String"
        },
        "operatingSystem": {
          "target": "smithy.api#String"
        },
        "brand": {
          "target": "smithy.api#String"
        },
        "category": {
          "target": "smithy.api#String"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "languageCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#GoogleUserIdData": {
      "type": "structure",
      "members": {
        "googleUserIds": {
          "target": "com.gcp.datamanager_v1#StringList"
        }
      }
    },
    "com.gcp.datamanager_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.datamanager_v1#ItemCustomVariable": {
      "type": "structure",
      "members": {
        "destinationReferences": {
          "target": "com.gcp.datamanager_v1#StringList"
        },
        "value": {
          "target": "smithy.api#String"
        },
        "variable": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#UserIdentifier": {
      "type": "structure",
      "members": {
        "emailAddress": {
          "target": "smithy.api#String"
        },
        "phoneNumber": {
          "target": "smithy.api#String"
        },
        "address": {
          "target": "com.gcp.datamanager_v1#AddressInfo"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestEventsRequest": {
      "type": "structure",
      "members": {
        "events": {
          "target": "com.gcp.datamanager_v1#EventList"
        },
        "destinations": {
          "target": "com.gcp.datamanager_v1#DestinationList"
        },
        "consent": {
          "target": "com.gcp.datamanager_v1#Consent"
        },
        "encoding": {
          "target": "com.gcp.datamanager_v1#IngestEventsRequestEncodingEnum"
        },
        "validateOnly": {
          "target": "smithy.api#Boolean"
        },
        "encryptionInfo": {
          "target": "com.gcp.datamanager_v1#EncryptionInfo"
        }
      }
    },
    "com.gcp.datamanager_v1#EventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#Event"
      }
    },
    "com.gcp.datamanager_v1#IngestEventsRequestEncodingEnum": {
      "type": "enum",
      "members": {
        "ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCODING_UNSPECIFIED"
          }
        },
        "HEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEX"
          }
        },
        "BASE64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE64"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#RetrieveInsightsResponse": {
      "type": "structure",
      "members": {
        "marketingDataInsights": {
          "target": "com.gcp.datamanager_v1#MarketingDataInsightList"
        }
      }
    },
    "com.gcp.datamanager_v1#MarketingDataInsightList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#MarketingDataInsight"
      }
    },
    "com.gcp.datamanager_v1#IngestPpidDataStatus": {
      "type": "structure",
      "members": {
        "ppidCount": {
          "target": "smithy.api#String"
        },
        "recordCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#GcpWrappedKeyInfo": {
      "type": "structure",
      "members": {
        "encryptedDek": {
          "target": "smithy.api#String"
        },
        "wipProvider": {
          "target": "smithy.api#String"
        },
        "keyType": {
          "target": "com.gcp.datamanager_v1#GcpWrappedKeyInfoKeyTypeEnum"
        },
        "kekUri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#GcpWrappedKeyInfoKeyTypeEnum": {
      "type": "enum",
      "members": {
        "KEY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_TYPE_UNSPECIFIED"
          }
        },
        "XCHACHA20_POLY1305": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XCHACHA20_POLY1305"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#IngestEventsResponse": {
      "type": "structure",
      "members": {
        "fieldWarnings": {
          "target": "com.gcp.datamanager_v1#FieldWarningList"
        },
        "requestId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#FieldWarningList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#FieldWarning"
      }
    },
    "com.gcp.datamanager_v1#UserProperties": {
      "type": "structure",
      "members": {
        "customerValueBucket": {
          "target": "com.gcp.datamanager_v1#UserPropertiesCustomerValueBucketEnum"
        },
        "customerType": {
          "target": "com.gcp.datamanager_v1#UserPropertiesCustomerTypeEnum"
        },
        "additionalUserProperties": {
          "target": "com.gcp.datamanager_v1#UserPropertyList"
        }
      }
    },
    "com.gcp.datamanager_v1#UserPropertiesCustomerValueBucketEnum": {
      "type": "enum",
      "members": {
        "CUSTOMER_VALUE_BUCKET_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_VALUE_BUCKET_UNSPECIFIED"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserPropertiesCustomerTypeEnum": {
      "type": "enum",
      "members": {
        "CUSTOMER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_TYPE_UNSPECIFIED"
          }
        },
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "RETURNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETURNING"
          }
        },
        "REENGAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REENGAGED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserPropertyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#UserProperty"
      }
    },
    "com.gcp.datamanager_v1#FieldWarning": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "com.gcp.datamanager_v1#FieldWarningReasonEnum"
        },
        "field": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#FieldWarningReasonEnum": {
      "type": "enum",
      "members": {
        "WARNING_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_UNSPECIFIED"
          }
        },
        "WARNING_REASON_CUSTOM_VARIABLE_NOT_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_CUSTOM_VARIABLE_NOT_ENABLED"
          }
        },
        "WARNING_REASON_CUSTOM_VARIABLE_NOT_PREDEFINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_CUSTOM_VARIABLE_NOT_PREDEFINED"
          }
        },
        "WARNING_REASON_CART_DATA_NOT_SUPPORTED_WITH_GBRAID_OR_WBRAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_CART_DATA_NOT_SUPPORTED_WITH_GBRAID_OR_WBRAID"
          }
        },
        "WARNING_REASON_CART_DATA_ITEM_MERCHANT_PRODUCT_ID_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_CART_DATA_ITEM_MERCHANT_PRODUCT_ID_MISSING"
          }
        },
        "WARNING_REASON_CART_DATA_ITEM_UNIT_PRICE_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_CART_DATA_ITEM_UNIT_PRICE_MISSING"
          }
        },
        "WARNING_REASON_GENERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_GENERIC"
          }
        },
        "WARNING_REASON_INVALID_CLIENT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_INVALID_CLIENT_ID"
          }
        },
        "WARNING_REASON_INVALID_SUBDIVISION_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_INVALID_SUBDIVISION_CODE"
          }
        },
        "WARNING_REASON_INVALID_REGION_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_INVALID_REGION_CODE"
          }
        },
        "WARNING_REASON_INVALID_SUBCONTINENT_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_INVALID_SUBCONTINENT_CODE"
          }
        },
        "WARNING_REASON_INVALID_CONTINENT_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_INVALID_CONTINENT_CODE"
          }
        },
        "WARNING_REASON_INVALID_DEVICE_CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_INVALID_DEVICE_CATEGORY"
          }
        },
        "WARNING_REASON_INVALID_DEVICE_SCREEN_RESOLUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_INVALID_DEVICE_SCREEN_RESOLUTION"
          }
        },
        "WARNING_REASON_INVALID_MERCHANT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_REASON_INVALID_MERCHANT_ID"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AwsWrappedKeyInfo": {
      "type": "structure",
      "members": {
        "roleArn": {
          "target": "smithy.api#String"
        },
        "kekUri": {
          "target": "smithy.api#String"
        },
        "keyType": {
          "target": "com.gcp.datamanager_v1#AwsWrappedKeyInfoKeyTypeEnum"
        },
        "encryptedDek": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#AwsWrappedKeyInfoKeyTypeEnum": {
      "type": "enum",
      "members": {
        "KEY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_TYPE_UNSPECIFIED"
          }
        },
        "XCHACHA20_POLY1305": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XCHACHA20_POLY1305"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#CartData": {
      "type": "structure",
      "members": {
        "couponCodes": {
          "target": "com.gcp.datamanager_v1#StringList"
        },
        "merchantFeedLanguageCode": {
          "target": "smithy.api#String"
        },
        "merchantId": {
          "target": "smithy.api#String"
        },
        "transactionDiscount": {
          "target": "smithy.api#Double"
        },
        "items": {
          "target": "com.gcp.datamanager_v1#ItemList"
        },
        "merchantFeedLabel": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#ItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#Item"
      }
    },
    "com.gcp.datamanager_v1#IngestAudienceMembersStatus": {
      "type": "structure",
      "members": {
        "mobileDataIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestMobileDataStatus"
        },
        "userIdDataIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestUserIdDataStatus"
        },
        "partnerProvidedIdDataIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestPartnerProvidedIdDataStatus"
        },
        "userDataIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestUserDataStatus"
        },
        "pairDataIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestPairDataStatus"
        },
        "ppidDataIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestPpidDataStatus"
        },
        "compositeDataIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestCompositeDataStatus"
        },
        "googleUserIdDataIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestGoogleUserIdDataStatus"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestUsersRequest": {
      "type": "structure",
      "members": {
        "encryptionInfo": {
          "target": "com.gcp.datamanager_v1#EncryptionInfo"
        },
        "users": {
          "target": "com.gcp.datamanager_v1#UserList_"
        },
        "destinations": {
          "target": "com.gcp.datamanager_v1#DestinationList"
        },
        "encoding": {
          "target": "com.gcp.datamanager_v1#IngestUsersRequestEncodingEnum"
        },
        "validateOnly": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.datamanager_v1#UserList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#User"
      }
    },
    "com.gcp.datamanager_v1#IngestUsersRequestEncodingEnum": {
      "type": "enum",
      "members": {
        "ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCODING_UNSPECIFIED"
          }
        },
        "HEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEX"
          }
        },
        "BASE64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE64"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#IngestAdEventsRequest": {
      "type": "structure",
      "members": {
        "adEvents": {
          "target": "com.gcp.datamanager_v1#AdEventList"
        },
        "validateOnly": {
          "target": "smithy.api#Boolean"
        },
        "encryptionInfo": {
          "target": "com.gcp.datamanager_v1#EncryptionInfo"
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#AdEvent"
      }
    },
    "com.gcp.datamanager_v1#Event": {
      "type": "structure",
      "members": {
        "eventName": {
          "target": "smithy.api#String"
        },
        "userId": {
          "target": "smithy.api#String"
        },
        "conversionCount": {
          "target": "smithy.api#Double"
        },
        "eventSource": {
          "target": "com.gcp.datamanager_v1#EventEventSourceEnum"
        },
        "userProperties": {
          "target": "com.gcp.datamanager_v1#UserProperties"
        },
        "thirdPartyUserData": {
          "target": "com.gcp.datamanager_v1#UserData"
        },
        "currency": {
          "target": "smithy.api#String"
        },
        "clientId": {
          "target": "smithy.api#String"
        },
        "customVariables": {
          "target": "com.gcp.datamanager_v1#CustomVariableList"
        },
        "appInstanceId": {
          "target": "smithy.api#String"
        },
        "eventTimestamp": {
          "target": "smithy.api#String"
        },
        "cartData": {
          "target": "com.gcp.datamanager_v1#CartData"
        },
        "conversionValue": {
          "target": "smithy.api#Double"
        },
        "lastUpdatedTimestamp": {
          "target": "smithy.api#String"
        },
        "experimentalFields": {
          "target": "com.gcp.datamanager_v1#ExperimentalFieldList"
        },
        "userData": {
          "target": "com.gcp.datamanager_v1#UserData"
        },
        "additionalEventParameters": {
          "target": "com.gcp.datamanager_v1#EventParameterList"
        },
        "adIdentifiers": {
          "target": "com.gcp.datamanager_v1#AdIdentifiers"
        },
        "consent": {
          "target": "com.gcp.datamanager_v1#Consent"
        },
        "eventLocation": {
          "target": "com.gcp.datamanager_v1#EventLocation"
        },
        "destinationReferences": {
          "target": "com.gcp.datamanager_v1#StringList"
        },
        "eventDeviceInfo": {
          "target": "com.gcp.datamanager_v1#DeviceInfo"
        },
        "transactionId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#EventEventSourceEnum": {
      "type": "enum",
      "members": {
        "EVENT_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_SOURCE_UNSPECIFIED"
          }
        },
        "WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEB"
          }
        },
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP"
          }
        },
        "IN_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_STORE"
          }
        },
        "PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE"
          }
        },
        "MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#CustomVariableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#CustomVariable"
      }
    },
    "com.gcp.datamanager_v1#ExperimentalFieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#ExperimentalField"
      }
    },
    "com.gcp.datamanager_v1#EventParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#EventParameter"
      }
    },
    "com.gcp.datamanager_v1#Consent": {
      "type": "structure",
      "members": {
        "adUserData": {
          "target": "com.gcp.datamanager_v1#ConsentAdUserDataEnum"
        },
        "adPersonalization": {
          "target": "com.gcp.datamanager_v1#ConsentAdPersonalizationEnum"
        }
      }
    },
    "com.gcp.datamanager_v1#ConsentAdUserDataEnum": {
      "type": "enum",
      "members": {
        "CONSENT_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSENT_STATUS_UNSPECIFIED"
          }
        },
        "CONSENT_GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSENT_GRANTED"
          }
        },
        "CONSENT_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSENT_DENIED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#ConsentAdPersonalizationEnum": {
      "type": "enum",
      "members": {
        "CONSENT_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSENT_STATUS_UNSPECIFIED"
          }
        },
        "CONSENT_GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSENT_GRANTED"
          }
        },
        "CONSENT_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSENT_DENIED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#IngestUsersResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#Location": {
      "type": "structure",
      "members": {
        "regionCodes": {
          "target": "com.gcp.datamanager_v1#StringList"
        }
      }
    },
    "com.gcp.datamanager_v1#RemovePpidDataStatus": {
      "type": "structure",
      "members": {
        "ppidCount": {
          "target": "smithy.api#String"
        },
        "recordCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#ListUserListDirectLicensesResponse": {
      "type": "structure",
      "members": {
        "userListDirectLicenses": {
          "target": "com.gcp.datamanager_v1#UserListDirectLicenseList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#UserListDirectLicenseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#UserListDirectLicense"
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfo": {
      "type": "structure",
      "members": {
        "userListId": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfoStatusEnum"
        },
        "clientAccountId": {
          "target": "smithy.api#String"
        },
        "clientAccountDisplayName": {
          "target": "smithy.api#String"
        },
        "historicalPricings": {
          "target": "com.gcp.datamanager_v1#UserListLicensePricingList"
        },
        "userListDisplayName": {
          "target": "smithy.api#String"
        },
        "pricing": {
          "target": "com.gcp.datamanager_v1#UserListLicensePricing"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "metrics": {
          "target": "com.gcp.datamanager_v1#UserListLicenseMetrics"
        },
        "clientAccountType": {
          "target": "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfoClientAccountTypeEnum"
        },
        "licenseType": {
          "target": "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfoLicenseTypeEnum"
        }
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfoStatusEnum": {
      "type": "enum",
      "members": {
        "USER_LIST_LICENSE_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_STATUS_UNSPECIFIED"
          }
        },
        "USER_LIST_LICENSE_STATUS_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_STATUS_ENABLED"
          }
        },
        "USER_LIST_LICENSE_STATUS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_STATUS_DISABLED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfoClientAccountTypeEnum": {
      "type": "enum",
      "members": {
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN"
          }
        },
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS"
          }
        },
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER"
          }
        },
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER"
          }
        },
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfoLicenseTypeEnum": {
      "type": "enum",
      "members": {
        "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED"
          }
        },
        "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER"
          }
        },
        "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE"
          }
        },
        "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#RemoveMobileDataStatus": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String"
        },
        "mobileIdCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#RequestStatusPerDestination": {
      "type": "structure",
      "members": {
        "requestStatus": {
          "target": "com.gcp.datamanager_v1#RequestStatusPerDestinationRequestStatusEnum"
        },
        "warningInfo": {
          "target": "com.gcp.datamanager_v1#WarningInfo"
        },
        "audienceMembersRemovalStatus": {
          "target": "com.gcp.datamanager_v1#RemoveAudienceMembersStatus"
        },
        "removeAllAudienceMembersStatus": {
          "target": "com.gcp.datamanager_v1#RemoveAllAudienceMembersStatus"
        },
        "audienceMembersIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestAudienceMembersStatus"
        },
        "destination": {
          "target": "com.gcp.datamanager_v1#Destination"
        },
        "eventsIngestionStatus": {
          "target": "com.gcp.datamanager_v1#IngestEventsStatus"
        },
        "errorInfo": {
          "target": "com.gcp.datamanager_v1#ErrorInfo"
        }
      }
    },
    "com.gcp.datamanager_v1#RequestStatusPerDestinationRequestStatusEnum": {
      "type": "enum",
      "members": {
        "REQUEST_STATUS_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_STATUS_UNKNOWN"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "PARTIAL_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_SUCCESS"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#PartnerProvidedIdData": {
      "type": "structure",
      "members": {
        "partnerProvidedIds": {
          "target": "com.gcp.datamanager_v1#StringList"
        }
      }
    },
    "com.gcp.datamanager_v1#UserIdInfo": {
      "type": "structure",
      "members": {
        "dataSourceType": {
          "target": "com.gcp.datamanager_v1#UserIdInfoDataSourceTypeEnum"
        }
      }
    },
    "com.gcp.datamanager_v1#UserIdInfoDataSourceTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_SOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_UNSPECIFIED"
          }
        },
        "DATA_SOURCE_TYPE_FIRST_PARTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_FIRST_PARTY"
          }
        },
        "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU"
          }
        },
        "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE"
          }
        },
        "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#IpData": {
      "type": "structure",
      "members": {
        "ipAddress": {
          "target": "smithy.api#String"
        },
        "observeStartTime": {
          "target": "smithy.api#String"
        },
        "observeEndTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#ViewabilityInfo": {
      "type": "structure",
      "members": {
        "mediaQuartile": {
          "target": "com.gcp.datamanager_v1#ViewabilityInfoMediaQuartileEnum"
        },
        "mediaVolumePercent": {
          "target": "smithy.api#Integer"
        },
        "viewableDuration": {
          "target": "smithy.api#String"
        },
        "viewablePercent": {
          "target": "smithy.api#Integer"
        },
        "viewType": {
          "target": "com.gcp.datamanager_v1#ViewabilityInfoViewTypeEnum"
        },
        "mediaDuration": {
          "target": "smithy.api#String"
        },
        "mediaSkippable": {
          "target": "smithy.api#Boolean"
        },
        "playbackDuration": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#ViewabilityInfoMediaQuartileEnum": {
      "type": "enum",
      "members": {
        "MEDIA_QUARTILE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_QUARTILE_UNSPECIFIED"
          }
        },
        "MEDIA_QUARTILE_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_QUARTILE_START"
          }
        },
        "MEDIA_QUARTILE_FIRST_QUARTILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_QUARTILE_FIRST_QUARTILE"
          }
        },
        "MEDIA_QUARTILE_MIDPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_QUARTILE_MIDPOINT"
          }
        },
        "MEDIA_QUARTILE_THIRD_QUARTILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_QUARTILE_THIRD_QUARTILE"
          }
        },
        "MEDIA_QUARTILE_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_QUARTILE_COMPLETE"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#ViewabilityInfoViewTypeEnum": {
      "type": "enum",
      "members": {
        "VIEW_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW_TYPE_UNSPECIFIED"
          }
        },
        "VIEW_TYPE_MRC_VIEWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW_TYPE_MRC_VIEWED"
          }
        },
        "VIEW_TYPE_MRC_RENDERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW_TYPE_MRC_RENDERED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#EventParameter": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String"
        },
        "parameterName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#TargetNetworkInfo": {
      "type": "structure",
      "members": {
        "eligibleForDisplay": {
          "target": "smithy.api#Boolean"
        },
        "eligibleForSearch": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.datamanager_v1#PairData": {
      "type": "structure",
      "members": {
        "pairIds": {
          "target": "com.gcp.datamanager_v1#StringList"
        }
      }
    },
    "com.gcp.datamanager_v1#ListUserListGlobalLicenseCustomerInfosResponse": {
      "type": "structure",
      "members": {
        "userListGlobalLicenseCustomerInfos": {
          "target": "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfoList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#UserListGlobalLicenseCustomerInfo"
      }
    },
    "com.gcp.datamanager_v1#ListUserListGlobalLicensesResponse": {
      "type": "structure",
      "members": {
        "userListGlobalLicenses": {
          "target": "com.gcp.datamanager_v1#UserListGlobalLicenseList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicenseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#UserListGlobalLicense"
      }
    },
    "com.gcp.datamanager_v1#IngestUserIdDataStatus": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String"
        },
        "userIdCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#UserIdData": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#ItemParameter": {
      "type": "structure",
      "members": {
        "parameterName": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#WarningCount": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String"
        },
        "reason": {
          "target": "com.gcp.datamanager_v1#WarningCountReasonEnum"
        }
      }
    },
    "com.gcp.datamanager_v1#WarningCountReasonEnum": {
      "type": "enum",
      "members": {
        "PROCESSING_WARNING_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_UNSPECIFIED"
          }
        },
        "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED"
          }
        },
        "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR"
          }
        },
        "PROCESSING_WARNING_REASON_DECRYPTION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_DECRYPTION_ERROR"
          }
        },
        "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED"
          }
        },
        "PROCESSING_WARNING_REASON_INVALID_WIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_INVALID_WIP"
          }
        },
        "PROCESSING_WARNING_REASON_INVALID_KEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_INVALID_KEK"
          }
        },
        "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR"
          }
        },
        "PROCESSING_WARNING_REASON_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_INTERNAL_ERROR"
          }
        },
        "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#PartnerCustomerAccount": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String"
        },
        "accountName": {
          "target": "smithy.api#String"
        },
        "accountType": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#RemoveUsersResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestedUserListInfo": {
      "type": "structure",
      "members": {
        "partnerAudienceInfo": {
          "target": "com.gcp.datamanager_v1#PartnerAudienceInfo"
        },
        "pairIdInfo": {
          "target": "com.gcp.datamanager_v1#PairIdInfo"
        },
        "mobileIdInfo": {
          "target": "com.gcp.datamanager_v1#MobileIdInfo"
        },
        "contactIdInfo": {
          "target": "com.gcp.datamanager_v1#ContactIdInfo"
        },
        "pseudonymousIdInfo": {
          "target": "com.gcp.datamanager_v1#PseudonymousIdInfo"
        },
        "userIdInfo": {
          "target": "com.gcp.datamanager_v1#UserIdInfo"
        },
        "uploadKeyTypes": {
          "target": "com.gcp.datamanager_v1#IngestedUserListInfoUploadKeyTypesItemEnumList"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestedUserListInfoUploadKeyTypesItemEnum": {
      "type": "enum",
      "members": {
        "UPLOAD_KEY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPLOAD_KEY_TYPE_UNSPECIFIED"
          }
        },
        "CONTACT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTACT_ID"
          }
        },
        "MOBILE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_ID"
          }
        },
        "USER_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_ID"
          }
        },
        "PAIR_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAIR_ID"
          }
        },
        "PSEUDONYMOUS_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSEUDONYMOUS_ID"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#IngestedUserListInfoUploadKeyTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#IngestedUserListInfoUploadKeyTypesItemEnum"
      }
    },
    "com.gcp.datamanager_v1#ContactIdInfo": {
      "type": "structure",
      "members": {
        "dataSourceType": {
          "target": "com.gcp.datamanager_v1#ContactIdInfoDataSourceTypeEnum"
        },
        "matchRatePercentage": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.datamanager_v1#ContactIdInfoDataSourceTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_SOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_UNSPECIFIED"
          }
        },
        "DATA_SOURCE_TYPE_FIRST_PARTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_FIRST_PARTY"
          }
        },
        "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU"
          }
        },
        "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE"
          }
        },
        "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserListDirectLicense": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.datamanager_v1#UserListDirectLicenseStatusEnum"
        },
        "userListId": {
          "target": "smithy.api#String"
        },
        "clientAccountId": {
          "target": "smithy.api#String"
        },
        "clientAccountType": {
          "target": "com.gcp.datamanager_v1#UserListDirectLicenseClientAccountTypeEnum"
        },
        "metrics": {
          "target": "com.gcp.datamanager_v1#UserListLicenseMetrics"
        },
        "clientAccountDisplayName": {
          "target": "smithy.api#String"
        },
        "historicalPricings": {
          "target": "com.gcp.datamanager_v1#UserListLicensePricingList"
        },
        "pricing": {
          "target": "com.gcp.datamanager_v1#UserListLicensePricing"
        },
        "userListDisplayName": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#UserListDirectLicenseStatusEnum": {
      "type": "enum",
      "members": {
        "USER_LIST_LICENSE_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_STATUS_UNSPECIFIED"
          }
        },
        "USER_LIST_LICENSE_STATUS_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_STATUS_ENABLED"
          }
        },
        "USER_LIST_LICENSE_STATUS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_STATUS_DISABLED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserListDirectLicenseClientAccountTypeEnum": {
      "type": "enum",
      "members": {
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN"
          }
        },
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS"
          }
        },
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER"
          }
        },
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER"
          }
        },
        "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#PseudonymousIdInfo": {
      "type": "structure",
      "members": {
        "syncStatus": {
          "target": "com.gcp.datamanager_v1#PseudonymousIdInfoSyncStatusEnum"
        },
        "billableRecordCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#PseudonymousIdInfoSyncStatusEnum": {
      "type": "enum",
      "members": {
        "SYNC_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNC_STATUS_UNSPECIFIED"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "READY_FOR_USE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY_FOR_USE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#RemoveUserIdDataStatus": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String"
        },
        "userIdCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#Baseline": {
      "type": "structure",
      "members": {
        "baselineLocation": {
          "target": "com.gcp.datamanager_v1#Location"
        },
        "locationAutoDetectionEnabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.datamanager_v1#User": {
      "type": "structure",
      "members": {
        "mobileData": {
          "target": "com.gcp.datamanager_v1#MobileData"
        },
        "userData": {
          "target": "com.gcp.datamanager_v1#UserData"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestMobileDataStatus": {
      "type": "structure",
      "members": {
        "mobileIdCount": {
          "target": "smithy.api#String"
        },
        "recordCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#WarningInfo": {
      "type": "structure",
      "members": {
        "warningCounts": {
          "target": "com.gcp.datamanager_v1#WarningCountList"
        }
      }
    },
    "com.gcp.datamanager_v1#WarningCountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#WarningCount"
      }
    },
    "com.gcp.datamanager_v1#RemoveAllAudienceMembersStatus": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.datamanager_v1#ExperimentalField": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#UserData": {
      "type": "structure",
      "members": {
        "userIdentifiers": {
          "target": "com.gcp.datamanager_v1#UserIdentifierList"
        }
      }
    },
    "com.gcp.datamanager_v1#UserIdentifierList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#UserIdentifier"
      }
    },
    "com.gcp.datamanager_v1#RemoveAllAudienceMembersResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestAudienceMembersResponse": {
      "type": "structure",
      "members": {
        "fieldWarnings": {
          "target": "com.gcp.datamanager_v1#FieldWarningList"
        },
        "requestId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#UserList": {
      "type": "structure",
      "members": {
        "accessReason": {
          "target": "com.gcp.datamanager_v1#UserListAccessReasonEnum"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "integrationCode": {
          "target": "smithy.api#String"
        },
        "closingReason": {
          "target": "com.gcp.datamanager_v1#UserListClosingReasonEnum"
        },
        "membershipDuration": {
          "target": "smithy.api#String"
        },
        "sizeInfo": {
          "target": "com.gcp.datamanager_v1#SizeInfo"
        },
        "membershipStatus": {
          "target": "com.gcp.datamanager_v1#UserListMembershipStatusEnum"
        },
        "accountAccessStatus": {
          "target": "com.gcp.datamanager_v1#UserListAccountAccessStatusEnum"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "targetNetworkInfo": {
          "target": "com.gcp.datamanager_v1#TargetNetworkInfo"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "ingestedUserListInfo": {
          "target": "com.gcp.datamanager_v1#IngestedUserListInfo"
        },
        "readOnly": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.datamanager_v1#UserListAccessReasonEnum": {
      "type": "enum",
      "members": {
        "ACCESS_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_REASON_UNSPECIFIED"
          }
        },
        "OWNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNED"
          }
        },
        "SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED"
          }
        },
        "LICENSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSED"
          }
        },
        "SUBSCRIBED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIBED"
          }
        },
        "AFFILIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFFILIATED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserListClosingReasonEnum": {
      "type": "enum",
      "members": {
        "CLOSING_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOSING_REASON_UNSPECIFIED"
          }
        },
        "UNUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNUSED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserListMembershipStatusEnum": {
      "type": "enum",
      "members": {
        "MEMBERSHIP_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP_STATUS_UNSPECIFIED"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOSED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserListAccountAccessStatusEnum": {
      "type": "enum",
      "members": {
        "ACCESS_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_STATUS_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#Destination": {
      "type": "structure",
      "members": {
        "reference": {
          "target": "smithy.api#String"
        },
        "productDestinationId": {
          "target": "smithy.api#String"
        },
        "loginAccount": {
          "target": "com.gcp.datamanager_v1#ProductAccount"
        },
        "operatingAccount": {
          "target": "com.gcp.datamanager_v1#ProductAccount"
        },
        "linkedAccount": {
          "target": "com.gcp.datamanager_v1#ProductAccount"
        }
      }
    },
    "com.gcp.datamanager_v1#MobileData": {
      "type": "structure",
      "members": {
        "mobileIds": {
          "target": "com.gcp.datamanager_v1#StringList"
        }
      }
    },
    "com.gcp.datamanager_v1#SearchPartnerLinksResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "partnerLinks": {
          "target": "com.gcp.datamanager_v1#PartnerLinkList"
        }
      }
    },
    "com.gcp.datamanager_v1#PartnerLinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#PartnerLink"
      }
    },
    "com.gcp.datamanager_v1#GetRequestStatusResponse": {
      "type": "structure",
      "members": {
        "requestStatusPerDestination": {
          "target": "com.gcp.datamanager_v1#RequestStatusPerDestinationList"
        }
      }
    },
    "com.gcp.datamanager_v1#RequestStatusPerDestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#RequestStatusPerDestination"
      }
    },
    "com.gcp.datamanager_v1#MarketingDataInsightsAttribute": {
      "type": "structure",
      "members": {
        "ageRange": {
          "target": "com.gcp.datamanager_v1#MarketingDataInsightsAttributeAgeRangeEnum"
        },
        "gender": {
          "target": "com.gcp.datamanager_v1#MarketingDataInsightsAttributeGenderEnum"
        },
        "userInterestId": {
          "target": "smithy.api#String"
        },
        "lift": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.datamanager_v1#MarketingDataInsightsAttributeAgeRangeEnum": {
      "type": "enum",
      "members": {
        "AGE_RANGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE_UNSPECIFIED"
          }
        },
        "AGE_RANGE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE_UNKNOWN"
          }
        },
        "AGE_RANGE_18_24": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE_18_24"
          }
        },
        "AGE_RANGE_25_34": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE_25_34"
          }
        },
        "AGE_RANGE_35_44": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE_35_44"
          }
        },
        "AGE_RANGE_45_54": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE_45_54"
          }
        },
        "AGE_RANGE_55_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE_55_64"
          }
        },
        "AGE_RANGE_65_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE_65_UP"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#MarketingDataInsightsAttributeGenderEnum": {
      "type": "enum",
      "members": {
        "GENDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENDER_UNSPECIFIED"
          }
        },
        "GENDER_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENDER_UNKNOWN"
          }
        },
        "GENDER_MALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENDER_MALE"
          }
        },
        "GENDER_FEMALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENDER_FEMALE"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#PartnerLink": {
      "type": "structure",
      "members": {
        "partnerAccount": {
          "target": "com.gcp.datamanager_v1#ProductAccount"
        },
        "featureSet": {
          "target": "com.gcp.datamanager_v1#PartnerLinkFeatureSetEnum"
        },
        "partnerLinkId": {
          "target": "smithy.api#String"
        },
        "owningAccount": {
          "target": "com.gcp.datamanager_v1#ProductAccount"
        },
        "partnerCustomerAccount": {
          "target": "com.gcp.datamanager_v1#PartnerCustomerAccount"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "partnerLinkMetadata": {
          "target": "com.gcp.datamanager_v1#PartnerLinkMetadata"
        }
      }
    },
    "com.gcp.datamanager_v1#PartnerLinkFeatureSetEnum": {
      "type": "enum",
      "members": {
        "FEATURE_SET_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURE_SET_UNSPECIFIED"
          }
        },
        "FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT"
          }
        },
        "FEATURE_SET_AD_EVENT_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURE_SET_AD_EVENT_MANAGEMENT"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AudienceMember": {
      "type": "structure",
      "members": {
        "destinationReferences": {
          "target": "com.gcp.datamanager_v1#StringList"
        },
        "partnerProvidedIdData": {
          "target": "com.gcp.datamanager_v1#PartnerProvidedIdData"
        },
        "googleUserIdData": {
          "target": "com.gcp.datamanager_v1#GoogleUserIdData"
        },
        "userData": {
          "target": "com.gcp.datamanager_v1#UserData"
        },
        "pairData": {
          "target": "com.gcp.datamanager_v1#PairData"
        },
        "mobileData": {
          "target": "com.gcp.datamanager_v1#MobileData"
        },
        "ppidData": {
          "target": "com.gcp.datamanager_v1#PpidData"
        },
        "consent": {
          "target": "com.gcp.datamanager_v1#Consent"
        },
        "compositeData": {
          "target": "com.gcp.datamanager_v1#CompositeData"
        },
        "userIdData": {
          "target": "com.gcp.datamanager_v1#UserIdData"
        }
      }
    },
    "com.gcp.datamanager_v1#RemoveCompositeDataStatus": {
      "type": "structure",
      "members": {
        "dataTypeCounts": {
          "target": "com.gcp.datamanager_v1#DataTypeCountList"
        },
        "recordCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#DataTypeCountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#DataTypeCount"
      }
    },
    "com.gcp.datamanager_v1#SizeInfo": {
      "type": "structure",
      "members": {
        "gmailMembersCount": {
          "target": "smithy.api#String"
        },
        "youtubeMembersCount": {
          "target": "smithy.api#String"
        },
        "displayNetworkMembersCount": {
          "target": "smithy.api#String"
        },
        "searchNetworkMembersCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestCompositeDataStatus": {
      "type": "structure",
      "members": {
        "uploadMatchRateRange": {
          "target": "com.gcp.datamanager_v1#IngestCompositeDataStatusUploadMatchRateRangeEnum"
        },
        "recordCount": {
          "target": "smithy.api#String"
        },
        "dataTypeCounts": {
          "target": "com.gcp.datamanager_v1#DataTypeCountList"
        }
      }
    },
    "com.gcp.datamanager_v1#IngestCompositeDataStatusUploadMatchRateRangeEnum": {
      "type": "enum",
      "members": {
        "MATCH_RATE_RANGE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_UNKNOWN"
          }
        },
        "MATCH_RATE_RANGE_NOT_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_NOT_ELIGIBLE"
          }
        },
        "MATCH_RATE_RANGE_LESS_THAN_20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_LESS_THAN_20"
          }
        },
        "MATCH_RATE_RANGE_20_TO_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_20_TO_30"
          }
        },
        "MATCH_RATE_RANGE_31_TO_40": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_31_TO_40"
          }
        },
        "MATCH_RATE_RANGE_41_TO_50": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_41_TO_50"
          }
        },
        "MATCH_RATE_RANGE_51_TO_60": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_51_TO_60"
          }
        },
        "MATCH_RATE_RANGE_61_TO_70": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_61_TO_70"
          }
        },
        "MATCH_RATE_RANGE_71_TO_80": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_71_TO_80"
          }
        },
        "MATCH_RATE_RANGE_81_TO_90": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_81_TO_90"
          }
        },
        "MATCH_RATE_RANGE_91_TO_100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE_RANGE_91_TO_100"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#RemoveAudienceMembersStatus": {
      "type": "structure",
      "members": {
        "userIdDataRemovalStatus": {
          "target": "com.gcp.datamanager_v1#RemoveUserIdDataStatus"
        },
        "userDataRemovalStatus": {
          "target": "com.gcp.datamanager_v1#RemoveUserDataStatus"
        },
        "pairDataRemovalStatus": {
          "target": "com.gcp.datamanager_v1#RemovePairDataStatus"
        },
        "ppidDataRemovalStatus": {
          "target": "com.gcp.datamanager_v1#RemovePpidDataStatus"
        },
        "compositeDataRemovalStatus": {
          "target": "com.gcp.datamanager_v1#RemoveCompositeDataStatus"
        },
        "googleUserIdDataRemovalStatus": {
          "target": "com.gcp.datamanager_v1#RemoveGoogleUserIdDataStatus"
        },
        "mobileDataRemovalStatus": {
          "target": "com.gcp.datamanager_v1#RemoveMobileDataStatus"
        },
        "partnerProvidedIdDataRemovalStatus": {
          "target": "com.gcp.datamanager_v1#RemovePartnerProvidedIdDataStatus"
        }
      }
    },
    "com.gcp.datamanager_v1#TermsOfService": {
      "type": "structure",
      "members": {
        "customerMatchTermsOfServiceStatus": {
          "target": "com.gcp.datamanager_v1#TermsOfServiceCustomerMatchTermsOfServiceStatusEnum"
        }
      }
    },
    "com.gcp.datamanager_v1#TermsOfServiceCustomerMatchTermsOfServiceStatusEnum": {
      "type": "enum",
      "members": {
        "TERMS_OF_SERVICE_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMS_OF_SERVICE_STATUS_UNSPECIFIED"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPTED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#RemovePartnerProvidedIdDataStatus": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String"
        },
        "partnerProvidedIdCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#EncryptedUserId": {
      "type": "structure",
      "members": {
        "entityType": {
          "target": "com.gcp.datamanager_v1#EncryptedUserIdEntityTypeEnum"
        },
        "source": {
          "target": "com.gcp.datamanager_v1#EncryptedUserIdSourceEnum"
        },
        "entityId": {
          "target": "smithy.api#String"
        },
        "encryptedId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#EncryptedUserIdEntityTypeEnum": {
      "type": "enum",
      "members": {
        "ENCRYPTION_ENTITY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_ENTITY_TYPE_UNSPECIFIED"
          }
        },
        "CAMPAIGN_MANAGER_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAMPAIGN_MANAGER_ACCOUNT"
          }
        },
        "CAMPAIGN_MANAGER_ADVERTISER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAMPAIGN_MANAGER_ADVERTISER"
          }
        },
        "DISPLAY_VIDEO_PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_VIDEO_PARTNER"
          }
        },
        "DISPLAY_VIDEO_ADVERTISER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_VIDEO_ADVERTISER"
          }
        },
        "GOOGLE_ADS_CUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_ADS_CUSTOMER"
          }
        },
        "GOOGLE_AD_MANAGER_NETWORK_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_AD_MANAGER_NETWORK_CODE"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#EncryptedUserIdSourceEnum": {
      "type": "enum",
      "members": {
        "ENCRYPTION_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_SOURCE_UNSPECIFIED"
          }
        },
        "AD_SERVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_SERVING"
          }
        },
        "DATA_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TRANSFER"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#IngestGoogleUserIdDataStatus": {
      "type": "structure",
      "members": {
        "googleUserIdCount": {
          "target": "smithy.api#String"
        },
        "recordCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#RemoveAudienceMembersRequest": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.gcp.datamanager_v1#DestinationList"
        },
        "encryptionInfo": {
          "target": "com.gcp.datamanager_v1#EncryptionInfo"
        },
        "audienceMembers": {
          "target": "com.gcp.datamanager_v1#AudienceMemberList"
        },
        "validateOnly": {
          "target": "smithy.api#Boolean"
        },
        "encoding": {
          "target": "com.gcp.datamanager_v1#RemoveAudienceMembersRequestEncodingEnum"
        }
      }
    },
    "com.gcp.datamanager_v1#RemoveAudienceMembersRequestEncodingEnum": {
      "type": "enum",
      "members": {
        "ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCODING_UNSPECIFIED"
          }
        },
        "HEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEX"
          }
        },
        "BASE64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE64"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "details": {
          "target": "com.gcp.datamanager_v1#DocumentMapList"
        },
        "code": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.datamanager_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.datamanager_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#DocumentMap"
      }
    },
    "com.gcp.datamanager_v1#ErrorCount": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String"
        },
        "reason": {
          "target": "com.gcp.datamanager_v1#ErrorCountReasonEnum"
        }
      }
    },
    "com.gcp.datamanager_v1#ErrorCountReasonEnum": {
      "type": "enum",
      "members": {
        "PROCESSING_ERROR_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_UNSPECIFIED"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_CUSTOM_VARIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_CUSTOM_VARIABLE"
          }
        },
        "PROCESSING_ERROR_REASON_CUSTOM_VARIABLE_NOT_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_CUSTOM_VARIABLE_NOT_ENABLED"
          }
        },
        "PROCESSING_ERROR_REASON_EVENT_TOO_OLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_EVENT_TOO_OLD"
          }
        },
        "PROCESSING_ERROR_REASON_DENIED_CONSENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DENIED_CONSENT"
          }
        },
        "PROCESSING_ERROR_REASON_NO_CONSENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_NO_CONSENT"
          }
        },
        "PROCESSING_ERROR_REASON_UNKNOWN_CONSENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_UNKNOWN_CONSENT"
          }
        },
        "PROCESSING_ERROR_REASON_DUPLICATE_GCLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DUPLICATE_GCLID"
          }
        },
        "PROCESSING_ERROR_REASON_DUPLICATE_TRANSACTION_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DUPLICATE_TRANSACTION_ID"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_GBRAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_GBRAID"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_GCLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_GCLID"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_MERCHANT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_MERCHANT_ID"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_WBRAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_WBRAID"
          }
        },
        "PROCESSING_ERROR_REASON_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INTERNAL_ERROR"
          }
        },
        "PROCESSING_ERROR_REASON_DESTINATION_ACCOUNT_ENHANCED_CONVERSIONS_TERMS_NOT_SIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DESTINATION_ACCOUNT_ENHANCED_CONVERSIONS_TERMS_NOT_SIGNED"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_EVENT"
          }
        },
        "PROCESSING_ERROR_REASON_INSUFFICIENT_MATCHED_TRANSACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INSUFFICIENT_MATCHED_TRANSACTIONS"
          }
        },
        "PROCESSING_ERROR_REASON_INSUFFICIENT_TRANSACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INSUFFICIENT_TRANSACTIONS"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_FORMAT"
          }
        },
        "PROCESSING_ERROR_REASON_DECRYPTION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DECRYPTION_ERROR"
          }
        },
        "PROCESSING_ERROR_REASON_DEK_DECRYPTION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DEK_DECRYPTION_ERROR"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_WIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_WIP"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_KEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_KEK"
          }
        },
        "PROCESSING_ERROR_REASON_WIP_AUTH_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_WIP_AUTH_FAILED"
          }
        },
        "PROCESSING_ERROR_REASON_KEK_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_KEK_PERMISSION_DENIED"
          }
        },
        "PROCESSING_ERROR_REASON_AWS_AUTH_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_AWS_AUTH_FAILED"
          }
        },
        "PROCESSING_ERROR_REASON_USER_IDENTIFIER_DECRYPTION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_USER_IDENTIFIER_DECRYPTION_ERROR"
          }
        },
        "PROCESSING_ERROR_OPERATING_ACCOUNT_MISMATCH_FOR_AD_IDENTIFIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_OPERATING_ACCOUNT_MISMATCH_FOR_AD_IDENTIFIER"
          }
        },
        "PROCESSING_ERROR_REASON_ONE_PER_CLICK_CONVERSION_ACTION_NOT_PERMITTED_WITH_BRAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_ONE_PER_CLICK_CONVERSION_ACTION_NOT_PERMITTED_WITH_BRAID"
          }
        },
        "PROCESSING_ERROR_REASON_MATCH_ID_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_MATCH_ID_NOT_FOUND"
          }
        },
        "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_MATCH_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_MATCH_ID"
          }
        },
        "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_GCLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_GCLID"
          }
        },
        "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_DCLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_DCLID"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_AD_IDENTIFIERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_AD_IDENTIFIERS"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_MOBILE_ID_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_MOBILE_ID_FORMAT"
          }
        },
        "PROCESSING_ERROR_REASON_ORIGINAL_CONVERSIONS_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_ORIGINAL_CONVERSIONS_NOT_FOUND"
          }
        },
        "PROCESSING_ERROR_REASON_EVENT_ID_DECODE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_EVENT_ID_DECODE_ERROR"
          }
        },
        "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_IMPRESSION_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_IMPRESSION_ID"
          }
        },
        "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND"
          }
        },
        "PROCESSING_ERROR_REASON_CONVERSION_PRECEDES_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_CONVERSION_PRECEDES_CLICK"
          }
        },
        "PROCESSING_ERROR_REASON_TOO_RECENT_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_TOO_RECENT_CLICK"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_CLICK"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_OPERATING_ACCOUNT_FOR_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_OPERATING_ACCOUNT_FOR_CLICK"
          }
        },
        "PROCESSING_ERROR_REASON_CLICK_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_CLICK_NOT_FOUND"
          }
        },
        "PROCESSING_ERROR_REASON_EXTERNAL_ATTRIBUTION_DATA_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_EXTERNAL_ATTRIBUTION_DATA_MISSING"
          }
        },
        "PROCESSING_ERROR_REASON_DESTINATION_TOO_RECENTLY_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DESTINATION_TOO_RECENTLY_CREATED"
          }
        },
        "PROCESSING_ERROR_REASON_EXPIRED_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_EXPIRED_CLICK"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#PartnerAudienceInfo": {
      "type": "structure",
      "members": {
        "partnerAudienceSource": {
          "target": "com.gcp.datamanager_v1#PartnerAudienceInfoPartnerAudienceSourceEnum"
        },
        "commercePartner": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.datamanager_v1#PartnerAudienceInfoPartnerAudienceSourceEnum": {
      "type": "enum",
      "members": {
        "PARTNER_AUDIENCE_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_AUDIENCE_SOURCE_UNSPECIFIED"
          }
        },
        "COMMERCE_AUDIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
