{
  "smithy": "2.0",
  "metadata": {
    "service": "devicerun",
    "version": "v1alpha",
    "title": "Device Run API",
    "baseUrl": "https://devicerun.googleapis.com/",
    "distilled.finalized": true
  },
  "shapes": {
    "com.gcp.devicerun_v1alpha#JobAction": {
      "type": "structure",
      "members": {
        "androidInstrumentationTest": {
          "target": "com.gcp.devicerun_v1alpha#AndroidInstrumentationTest",
          "traits": {
            "smithy.api#documentation": "Android instrumentation test."
          }
        },
        "androidNativeBinary": {
          "target": "com.gcp.devicerun_v1alpha#AndroidNativeBinary",
          "traits": {
            "smithy.api#documentation": "Android native binary execution."
          }
        },
        "iosXcTest": {
          "target": "com.gcp.devicerun_v1alpha#IosXcTest",
          "traits": {
            "smithy.api#documentation": "iOS XCTest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The action to be performed in a job."
      }
    },
    "com.gcp.devicerun_v1alpha#AndroidDumpsysDeviceAction": {
      "type": "structure",
      "members": {
        "collectOnPass": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to deliver the dumpsys when the test passes. If false, the dumpsys is skipped on pass to save time (default behavior). If true, the dumpsys is always delivered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Captures dumpsys output from the device. The output will be written to a file named `dumpsys.log` in the execution output directory."
      }
    },
    "com.gcp.devicerun_v1alpha#IosInstallPackagesDeviceAction": {
      "type": "structure",
      "members": {
        "ipas": {
          "target": "com.gcp.devicerun_v1alpha#InputFileList",
          "traits": {
            "smithy.api#documentation": "Required. Additional iOS packages (IPAs) to install on the device. Limits: - A maximum of 20 IPAs are allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Installs iOS packages on the device."
      }
    },
    "com.gcp.devicerun_v1alpha#InputFileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#InputFile"
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogScreenMetrics": {
      "type": "structure",
      "members": {
        "heightPx": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Height in pixels."
          }
        },
        "widthPx": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Width in pixels."
          }
        },
        "densityDpi": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Pixel density in dots per inch (dpi)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Screen measurements of a device."
      }
    },
    "com.gcp.devicerun_v1alpha#AndroidSwitchLocaleDeviceAction": {
      "type": "structure",
      "members": {
        "localeCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The locale (language and region) to switch the device to. The format is `language-region`, e.g. \"en-US\", \"zh-CN\", etc. The typical language value is a two or three-letter language code as defined in ISO639. The typical region value is a two-letter ISO 3166 code or a three-digit UN M.49 area code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Switches the locale (language and region) of the device."
      }
    },
    "com.gcp.devicerun_v1alpha#GoogleLongrunningCancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.devicerun_v1alpha#AndroidOrientationDeviceAction": {
      "type": "structure",
      "members": {
        "orientation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The orientation to set the device to. One of `portrait` or `landscape`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sets the orientation of the device."
      }
    },
    "com.gcp.devicerun_v1alpha#DeviceRequirement": {
      "type": "structure",
      "members": {
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device ID of a device in the catalog. The device ID is the last part of a device's resource name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The requirement of a device."
      }
    },
    "com.gcp.devicerun_v1alpha#Session": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the session. Format: `projects/{project}/locations/{location}/sessions/{session}`."
          }
        },
        "sessionConfig": {
          "target": "com.gcp.devicerun_v1alpha#SessionConfig",
          "traits": {
            "smithy.api#documentation": "Required. Configuration used to create the session."
          }
        },
        "sessionReport": {
          "target": "com.gcp.devicerun_v1alpha#SessionReport",
          "traits": {
            "smithy.api#documentation": "Output only. The runtime information and result report of the session."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A session resource in the AutomationSession API. At a high level, `Session` describes the configuration of one or multiple jobs, the state transitions it goes through, and the results."
      }
    },
    "com.gcp.devicerun_v1alpha#LatLng": {
      "type": "structure",
      "members": {
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
      }
    },
    "com.gcp.devicerun_v1alpha#IosXcTest": {
      "type": "structure",
      "members": {
        "xcodeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Xcode version that should be used for the test. If not set, a system-default Xcode version is used. The available Xcode versions can be retrieved from the catalog service."
          }
        },
        "testsZip": {
          "target": "com.gcp.devicerun_v1alpha#InputFile",
          "traits": {
            "smithy.api#documentation": "Required. The .zip containing the .xctestrun file and the contents of the DerivedData/Build/Products directory."
          }
        },
        "xcTestTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The timeout of the test. Default value: 5 min. Range: [1 min, 3 hours]."
          }
        },
        "xctestrun": {
          "target": "com.gcp.devicerun_v1alpha#InputFile",
          "traits": {
            "smithy.api#documentation": "Optional. An .xctestrun file that will override the .xctestrun file in the tests zip."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of an iOS XCTest."
      }
    },
    "com.gcp.devicerun_v1alpha#IosSwitchLocaleDeviceAction": {
      "type": "structure",
      "members": {
        "localeCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The locale (language and region) to switch the app to. The format is `language-region` or `language`, e.g. \"en-US\", \"zh-CN\", \"ja\", etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Switches the locale (language and region) of the iOS application."
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogSupportedProduct": {
      "type": "structure",
      "members": {
        "automation": {
          "target": "com.gcp.devicerun_v1alpha#CatalogAutomationSupport",
          "traits": {
            "smithy.api#documentation": "Output only. Represents Automation, which is DeviceRun-backed automated test execution."
          }
        },
        "deviceStreaming": {
          "target": "com.gcp.devicerun_v1alpha#CatalogDeviceStreamingSupport",
          "traits": {
            "smithy.api#documentation": "Output only. Represents DeviceStreaming, which is interactive remote device streaming."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Declares that a device supports a given Device Cloud product, with optional per-product metadata. Discriminated by which product-specific message is set; adding a new product = new oneof arm + new per-product message."
      }
    },
    "com.gcp.devicerun_v1alpha#GoogleLongrunningListOperationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "operations": {
          "target": "com.gcp.devicerun_v1alpha#GoogleLongrunningOperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "unreachable": {
          "target": "com.gcp.devicerun_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.devicerun_v1alpha#GoogleLongrunningOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#GoogleLongrunningOperation"
      }
    },
    "com.gcp.devicerun_v1alpha#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.devicerun_v1alpha#IosPushFilesDeviceAction": {
      "type": "structure",
      "members": {
        "fileConfigs": {
          "target": "com.gcp.devicerun_v1alpha#IosPushFilesDeviceActionFileConfigList",
          "traits": {
            "smithy.api#documentation": "Required. Configs of pushing files to the device. Limits: - A maximum of 50 files are allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pushes files to the iOS device sandbox at the beginning of the run."
      }
    },
    "com.gcp.devicerun_v1alpha#IosPushFilesDeviceActionFileConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#IosPushFilesDeviceActionFileConfig"
      }
    },
    "com.gcp.devicerun_v1alpha#AndroidPullFilesDeviceAction": {
      "type": "structure",
      "members": {
        "paths": {
          "target": "com.gcp.devicerun_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Absolute directory or file paths to pull from the device. Limits: - A maximum of 10 paths are allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pulls directories and files from the device at the end of the run. Files will be copied to the '/artifacts' directory, with the absolute path structure preserved. Note that: 1. A clean device is provided for the run. 2. Any existing files in the output directory may be overwritten. 3. Pulling files is best effort. Will skip files if they don't exist on the device."
      }
    },
    "com.gcp.devicerun_v1alpha#AndroidRecordVideoDeviceAction": {
      "type": "structure",
      "members": {
        "discardOnPass": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to discard and not upload the recording when the test passes. Default is false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Records a video of the device screen during the run. The video will be written to a file named `video.mp4` in the execution output directory."
      }
    },
    "com.gcp.devicerun_v1alpha#IosPullFilesDeviceAction": {
      "type": "structure",
      "members": {
        "paths": {
          "target": "com.gcp.devicerun_v1alpha#IosPullFilesDeviceActionPathConfigList",
          "traits": {
            "smithy.api#documentation": "Required. Absolute directory or file paths to pull from the device. Limits: - A maximum of 10 paths are allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pulls directories and files from the iOS device sandbox at the end of the run."
      }
    },
    "com.gcp.devicerun_v1alpha#IosPullFilesDeviceActionPathConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#IosPullFilesDeviceActionPathConfig"
      }
    },
    "com.gcp.devicerun_v1alpha#DeviceAction": {
      "type": "structure",
      "members": {
        "iosSwitchLocale": {
          "target": "com.gcp.devicerun_v1alpha#IosSwitchLocaleDeviceAction",
          "traits": {
            "smithy.api#documentation": "Switches the locale (language and region) of the iOS application."
          }
        },
        "iosAppPrivacyReport": {
          "target": "com.gcp.devicerun_v1alpha#IosAppPrivacyReportDeviceAction",
          "traits": {
            "smithy.api#documentation": "Collects the exported iOS App Privacy Report during the run."
          }
        },
        "androidPullFiles": {
          "target": "com.gcp.devicerun_v1alpha#AndroidPullFilesDeviceAction",
          "traits": {
            "smithy.api#documentation": "Pulls directories and files from the device at the end of the run."
          }
        },
        "iosRecordVideo": {
          "target": "com.gcp.devicerun_v1alpha#IosRecordVideoDeviceAction",
          "traits": {
            "smithy.api#documentation": "Records a video of the iOS device screen during the run."
          }
        },
        "androidMockLocation": {
          "target": "com.gcp.devicerun_v1alpha#AndroidMockLocationDeviceAction",
          "traits": {
            "smithy.api#documentation": "Mocks the location of the device."
          }
        },
        "androidLogcat": {
          "target": "com.gcp.devicerun_v1alpha#AndroidLogcatDeviceAction",
          "traits": {
            "smithy.api#documentation": "Collects logcat output from the device."
          }
        },
        "iosInstallPackages": {
          "target": "com.gcp.devicerun_v1alpha#IosInstallPackagesDeviceAction",
          "traits": {
            "smithy.api#documentation": "Installs additional iOS packages on the device."
          }
        },
        "androidDumpsys": {
          "target": "com.gcp.devicerun_v1alpha#AndroidDumpsysDeviceAction",
          "traits": {
            "smithy.api#documentation": "Captures a dumpsys from the device."
          }
        },
        "iosPushFiles": {
          "target": "com.gcp.devicerun_v1alpha#IosPushFilesDeviceAction",
          "traits": {
            "smithy.api#documentation": "Pushes files to the iOS device sandbox at the beginning of the run."
          }
        },
        "androidPushFiles": {
          "target": "com.gcp.devicerun_v1alpha#AndroidPushFilesDeviceAction",
          "traits": {
            "smithy.api#documentation": "Pushes files to the device at the beginning of the run."
          }
        },
        "androidInstallPackages": {
          "target": "com.gcp.devicerun_v1alpha#AndroidInstallPackagesDeviceAction",
          "traits": {
            "smithy.api#documentation": "Installs Android packages on the device."
          }
        },
        "androidSwitchLocale": {
          "target": "com.gcp.devicerun_v1alpha#AndroidSwitchLocaleDeviceAction",
          "traits": {
            "smithy.api#documentation": "Switches the locale (language and region) of the device."
          }
        },
        "androidBugreport": {
          "target": "com.gcp.devicerun_v1alpha#AndroidBugreportDeviceAction",
          "traits": {
            "smithy.api#documentation": "Captures a bugreport from the device unless the test result is pass."
          }
        },
        "androidOrientation": {
          "target": "com.gcp.devicerun_v1alpha#AndroidOrientationDeviceAction",
          "traits": {
            "smithy.api#documentation": "Sets the orientation of the device."
          }
        },
        "androidRecordVideo": {
          "target": "com.gcp.devicerun_v1alpha#AndroidRecordVideoDeviceAction",
          "traits": {
            "smithy.api#documentation": "Records a video of the device screen during the run."
          }
        },
        "iosPullFiles": {
          "target": "com.gcp.devicerun_v1alpha#IosPullFilesDeviceAction",
          "traits": {
            "smithy.api#documentation": "Pulls directories and files from the iOS device sandbox at the end of the run."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The action to be performed on a device."
      }
    },
    "com.gcp.devicerun_v1alpha#IosAppPrivacyReportDeviceAction": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Collects the exported iOS App Privacy Report during the test run. When enabled, the iOS device records application activity (such as network access, domain requests, and sensitive resource access like photos, camera, or location) and exports Apple's official App Privacy Report. The report will be written to a file named `AppActivityReport.ndjson` in the execution output directory."
      }
    },
    "com.gcp.devicerun_v1alpha#GcsPath": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Google Cloud Storage path of the file or directory. Format: `gs:///`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A path to a file or directory in Google Cloud Storage."
      }
    },
    "com.gcp.devicerun_v1alpha#OutputFile": {
      "type": "structure",
      "members": {
        "gcsOutputFile": {
          "target": "com.gcp.devicerun_v1alpha#GcsPath",
          "traits": {
            "smithy.api#documentation": "An output file in Google Cloud Storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output file."
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogAndroidxTestOrchestratorDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "AndroidX Test Orchestrator-specific attributes. Reserved for future orchestrator-only fields."
      }
    },
    "com.gcp.devicerun_v1alpha#SessionConfigSessionNotificationConfig": {
      "type": "structure",
      "members": {
        "pubsubTopic": {
          "target": "com.gcp.devicerun_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The Pub/Sub topics to which session events are published. Format: `projects/{project}/topics/{topic}`. See https://cloud.google.com/pubsub/docs/admin#topic_and_subscription_name_restrictions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config to control session notification."
      }
    },
    "com.gcp.devicerun_v1alpha#ListSessionsResponse": {
      "type": "structure",
      "members": {
        "sessions": {
          "target": "com.gcp.devicerun_v1alpha#SessionList",
          "traits": {
            "smithy.api#documentation": "The list of sessions."
          }
        },
        "unreachable": {
          "target": "com.gcp.devicerun_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Sessions that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to receive the next page of sessions. This will be absent if the end of the response list has been reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response including listed sessions."
      }
    },
    "com.gcp.devicerun_v1alpha#SessionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#Session"
      }
    },
    "com.gcp.devicerun_v1alpha#InputFile": {
      "type": "structure",
      "members": {
        "gcsInputFile": {
          "target": "com.gcp.devicerun_v1alpha#GcsPath",
          "traits": {
            "smithy.api#documentation": "An input file in Google Cloud Storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input file."
      }
    },
    "com.gcp.devicerun_v1alpha#Result": {
      "type": "structure",
      "members": {
        "resultType": {
          "target": "com.gcp.devicerun_v1alpha#ResultResultTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The result type of the session/job/execution."
          }
        },
        "cause": {
          "target": "com.gcp.devicerun_v1alpha#ResultCause",
          "traits": {
            "smithy.api#documentation": "Output only. Detailed result cause diagnostics. Set if type is not PASSED."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a session/job/execution."
      }
    },
    "com.gcp.devicerun_v1alpha#ResultResultTypeEnum": {
      "type": "enum",
      "members": {
        "RESULT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESULT_TYPE_UNSPECIFIED"
          }
        },
        "PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMED_OUT"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.devicerun_v1alpha#SessionReport": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.devicerun_v1alpha#Status",
          "traits": {
            "smithy.api#documentation": "Output only. The status of the session."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The end time of the session."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the session."
          }
        },
        "jobReports": {
          "target": "com.gcp.devicerun_v1alpha#JobReportList",
          "traits": {
            "smithy.api#documentation": "Output only. Reports of the jobs in the session."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The start time of the session."
          }
        },
        "result": {
          "target": "com.gcp.devicerun_v1alpha#Result",
          "traits": {
            "smithy.api#documentation": "Output only. The result of the session."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The runtime information and result report of a session."
      }
    },
    "com.gcp.devicerun_v1alpha#JobReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#JobReport"
      }
    },
    "com.gcp.devicerun_v1alpha#AndroidNativeBinary": {
      "type": "structure",
      "members": {
        "executionTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The timeout of the execution. Default value: 5 min. Range: [1 min, 3 hours]."
          }
        },
        "envVars": {
          "target": "com.gcp.devicerun_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. A map of environment variables to set for the binary process. The keys are the variable names and the values are the variable values. Limits: - Maximum number of entries: 32 - Maximum key size: 64 bytes (UTF-8) - Key regex: `a-zA-Z_*` - Maximum value size: 1024 bytes (UTF-8)"
          }
        },
        "androidNativeBinary": {
          "target": "com.gcp.devicerun_v1alpha#InputFile",
          "traits": {
            "smithy.api#documentation": "Required. The file path of the Android native binary."
          }
        },
        "args": {
          "target": "com.gcp.devicerun_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Arguments for running the binary file. The flags will be appended to the command line that invokes the binary. Limits: - Maximum number of entries: 64 - Maximum entry size: 1024 bytes (UTF-8)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of an Android native binary execution."
      }
    },
    "com.gcp.devicerun_v1alpha#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogSoftwareVersion": {
      "type": "structure",
      "members": {
        "androidxTestOrchestratorDetails": {
          "target": "com.gcp.devicerun_v1alpha#CatalogAndroidxTestOrchestratorDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Contains AndroidX Test Orchestrator-specific attributes (set when software_type == ANDROIDX_TEST_ORCHESTRATOR)."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the version identifier, e.g. \"1.4.1\". Unique within a `software_type`."
          }
        },
        "lifecycle": {
          "target": "com.gcp.devicerun_v1alpha#CatalogLifecycle",
          "traits": {
            "smithy.api#documentation": "Output only. The version lifecycle (maturity stage and removal date)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Identifies the software version resource. Format: `projects/{project}/locations/{location}/softwareVersions/{software_version}`. The {software_version} segment is an opaque, stable string. Clients must not parse it to derive or assume the version."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Provides a human-readable name for this version, e.g. \"AndroidX Test Orchestrator 1.4.1\"."
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the system uses this version when a request does not select one explicitly. Exactly one version per `software_type` is the default, and it may change over time."
          }
        },
        "softwareType": {
          "target": "com.gcp.devicerun_v1alpha#CatalogSoftwareVersionSoftwareTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies which software this is a version of. Filter on this field to narrow the collection to a single kind of software, for example `software_type = \"ANDROIDX_TEST_ORCHESTRATOR\"`."
          }
        },
        "xcodeDetails": {
          "target": "com.gcp.devicerun_v1alpha#CatalogXcodeDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Contains Xcode-specific attributes (set when software_type == XCODE)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single software version in the catalog."
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogSoftwareVersionSoftwareTypeEnum": {
      "type": "enum",
      "members": {
        "SOFTWARE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE_TYPE_UNSPECIFIED"
          }
        },
        "ANDROIDX_TEST_ORCHESTRATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROIDX_TEST_ORCHESTRATOR"
          }
        },
        "XCODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XCODE"
          }
        }
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogLabInfo": {
      "type": "structure",
      "members": {
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Unicode country/region code (CLDR) of the lab where the device is hosted, e.g. \"US\" for United States, \"KR\" for South Korea. Empty when the hosting region is not published."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display name of the lab where the device is hosted. If empty, the device is hosted in a Google owned lab."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The lab hosting a device."
      }
    },
    "com.gcp.devicerun_v1alpha#AndroidInstrumentationTestUniformSharding": {
      "type": "structure",
      "members": {
        "shardCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The total number of shards to create. This must always be a positive number that is no greater than the total number of test cases. Limits: - For physical devices, the number of shards must be <= 20. - For virtual devices, the number of shards must be <= 200."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Uniformly shards test cases given a total number of shards. It will be translated to `-e numShard` and `-e shardIndex` AndroidJUnitRunner arguments. With uniform sharding enabled, specifying either of these sharding arguments via `environment_variables` is invalid. Based on the sharding mechanism AndroidJUnitRunner uses, there is no guarantee that test cases will be distributed uniformly across all shards."
      }
    },
    "com.gcp.devicerun_v1alpha#AndroidPushFilesDeviceAction": {
      "type": "structure",
      "members": {
        "fileConfigs": {
          "target": "com.gcp.devicerun_v1alpha#AndroidPushFilesDeviceActionFileConfigList",
          "traits": {
            "smithy.api#documentation": "Required. Configs of pushing files to the device. Limits: - A maximum of 50 files are allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pushes files to the device at the beginning of the run. Files are overwritten if a file with the same path already exists on the device, if device permissions allow."
      }
    },
    "com.gcp.devicerun_v1alpha#AndroidPushFilesDeviceActionFileConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#AndroidPushFilesDeviceActionFileConfig"
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogListDevicesResponse": {
      "type": "structure",
      "members": {
        "devices": {
          "target": "com.gcp.devicerun_v1alpha#CatalogDeviceList",
          "traits": {
            "smithy.api#documentation": "The list of devices."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to receive the next page of devices. This will be absent if the end of the response list has been reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response including listed devices."
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogDeviceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#CatalogDevice"
      }
    },
    "com.gcp.devicerun_v1alpha#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogDevice": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Identifies the device resource. Format: `projects/{project}/locations/{location}/devices/{device}`. The {device} segment is an opaque, stable string. Clients must not parse it to derive or assume device-specific details."
          }
        },
        "androidDetails": {
          "target": "com.gcp.devicerun_v1alpha#CatalogAndroidDeviceDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Contains Android-specific attributes (set when platform == ANDROID)."
          }
        },
        "lifecycle": {
          "target": "com.gcp.devicerun_v1alpha#CatalogLifecycle",
          "traits": {
            "smithy.api#documentation": "Output only. The device lifecycle (maturity stage and removal date)."
          }
        },
        "accessDeniedReasons": {
          "target": "com.gcp.devicerun_v1alpha#CatalogDeviceAccessDeniedReasonsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. Reasons for access denial. This model is accessible/usable if this list is empty, otherwise the model is viewable only."
          }
        },
        "hardwareType": {
          "target": "com.gcp.devicerun_v1alpha#CatalogDeviceHardwareTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the device is physical or virtual."
          }
        },
        "manufacturer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the hardware manufacturer of the device."
          }
        },
        "labels": {
          "target": "com.gcp.devicerun_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information. Informational only. May change over the lifecycle of a device."
          }
        },
        "formFactor": {
          "target": "com.gcp.devicerun_v1alpha#CatalogDeviceFormFactorEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the form factor of the device."
          }
        },
        "osVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the OS version, e.g. \"30\" (Android API level) or \"17.4\" (iOS)."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Provides a human-readable display name, e.g. \"Pixel 5\"."
          }
        },
        "supportedProducts": {
          "target": "com.gcp.devicerun_v1alpha#CatalogSupportedProductList",
          "traits": {
            "smithy.api#documentation": "Output only. Products/Services supported by this device."
          }
        },
        "primaryScreen": {
          "target": "com.gcp.devicerun_v1alpha#CatalogScreenMetrics",
          "traits": {
            "smithy.api#documentation": "Output only. Measurements of the primary device screen. Informational only. Unset for devices without a screen (e.g. some wearables)."
          }
        },
        "availability": {
          "target": "com.gcp.devicerun_v1alpha#CatalogDeviceAvailability",
          "traits": {
            "smithy.api#documentation": "Output only. Reports the current fleet availability for this device configuration."
          }
        },
        "iosDetails": {
          "target": "com.gcp.devicerun_v1alpha#CatalogIosDeviceDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Contains iOS-specific attributes (set when platform == IOS)."
          }
        },
        "labInfo": {
          "target": "com.gcp.devicerun_v1alpha#CatalogLabInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The lab hosting this device."
          }
        },
        "platform": {
          "target": "com.gcp.devicerun_v1alpha#CatalogDevicePlatformEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the platform of the device."
          }
        },
        "modelCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Provides a human-readable model identifier for this device, independent of OS version. May be empty. Platform-dependent: * Android physical: hardware codename (android.os.Build.DEVICE), e.g. \"shiba\". * Android virtual: AVD model identifier, e.g. \"MediumPhone.arm\". * iOS: model identifier, e.g. \"iphone14pro\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single routable device configuration in the catalog."
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogDeviceAccessDeniedReasonsItemEnum": {
      "type": "enum",
      "members": {
        "ACCESS_DENIED_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_DENIED_REASON_UNSPECIFIED"
          }
        },
        "EULA_NOT_ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EULA_NOT_ACCEPTED"
          }
        }
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogDeviceAccessDeniedReasonsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#CatalogDeviceAccessDeniedReasonsItemEnum"
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogDeviceHardwareTypeEnum": {
      "type": "enum",
      "members": {
        "HARDWARE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARDWARE_TYPE_UNSPECIFIED"
          }
        },
        "PHYSICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHYSICAL"
          }
        },
        "VIRTUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIRTUAL"
          }
        }
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogDeviceFormFactorEnum": {
      "type": "enum",
      "members": {
        "FORM_FACTOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORM_FACTOR_UNSPECIFIED"
          }
        },
        "PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE"
          }
        },
        "TABLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLET"
          }
        },
        "WEARABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEARABLE"
          }
        },
        "TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TV"
          }
        }
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogSupportedProductList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#CatalogSupportedProduct"
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogDevicePlatformEnum": {
      "type": "enum",
      "members": {
        "PLATFORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_UNSPECIFIED"
          }
        },
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROID"
          }
        },
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IOS"
          }
        }
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogDeviceStreamingSupport": {
      "type": "structure",
      "members": {
        "minimumAndroidStudioVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the minimum Android Studio version that supports this device. Optional; only set when the device is known to work only at or above a certain Android Studio version. Expected format \"major.minor.micro.patch\", e.g. \"5921.22.2211.8881706\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Per-product metadata for the DeviceStreaming product."
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogIosDeviceDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "iOS-specific device attributes. Reserved for future iOS-only fields."
      }
    },
    "com.gcp.devicerun_v1alpha#Status": {
      "type": "structure",
      "members": {
        "statusType": {
          "target": "com.gcp.devicerun_v1alpha#StatusStatusTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The status type of the session/job/execution."
          }
        },
        "progressMessages": {
          "target": "com.gcp.devicerun_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable, detailed descriptions of the session/job/execution's progress. For example: \"Provisioning a device\", \"Starting Test\". Each message should contain only one line of text. During the course of execution new data may be appended to the end of progress_messages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of a session/job/execution."
      }
    },
    "com.gcp.devicerun_v1alpha#StatusStatusTypeEnum": {
      "type": "enum",
      "members": {
        "STATUS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_TYPE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        }
      }
    },
    "com.gcp.devicerun_v1alpha#OperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.devicerun_v1alpha#DeviceConfig": {
      "type": "structure",
      "members": {
        "requirement": {
          "target": "com.gcp.devicerun_v1alpha#DeviceRequirement",
          "traits": {
            "smithy.api#documentation": "Required. The requirement of the device."
          }
        },
        "actions": {
          "target": "com.gcp.devicerun_v1alpha#DeviceActionList",
          "traits": {
            "smithy.api#documentation": "Optional. The actions to be performed on the device. Actions will be executed in the order they are specified in the list. Each action type can at most have 1 instance in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of a run on a device."
      }
    },
    "com.gcp.devicerun_v1alpha#DeviceActionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#DeviceAction"
      }
    },
    "com.gcp.devicerun_v1alpha#CancelSessionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request to cancel a session."
      }
    },
    "com.gcp.devicerun_v1alpha#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.devicerun_v1alpha#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.devicerun_v1alpha#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.devicerun_v1alpha#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#DocumentMap"
      }
    },
    "com.gcp.devicerun_v1alpha#AndroidMockLocationDeviceAction": {
      "type": "structure",
      "members": {
        "location": {
          "target": "com.gcp.devicerun_v1alpha#LatLng",
          "traits": {
            "smithy.api#documentation": "Required. The mock location to set on the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mocks the location of the Android device."
      }
    },
    "com.gcp.devicerun_v1alpha#Devicerun_Date": {
      "type": "structure",
      "members": {
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.devicerun_v1alpha#JobReport": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.devicerun_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. The original labels provided by the user during job creation."
          }
        },
        "outputFiles": {
          "target": "com.gcp.devicerun_v1alpha#OutputFileList",
          "traits": {
            "smithy.api#documentation": "Output only. The output files of the job."
          }
        },
        "warnings": {
          "target": "com.gcp.devicerun_v1alpha#WarningList",
          "traits": {
            "smithy.api#documentation": "Output only. Non-fatal warnings collected during the job."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the job."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display_name set by users in the JobConfig."
          }
        },
        "status": {
          "target": "com.gcp.devicerun_v1alpha#Status",
          "traits": {
            "smithy.api#documentation": "Output only. The status of the job."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The end time of the job."
          }
        },
        "result": {
          "target": "com.gcp.devicerun_v1alpha#Result",
          "traits": {
            "smithy.api#documentation": "Output only. The result of the job."
          }
        },
        "executionReports": {
          "target": "com.gcp.devicerun_v1alpha#ExecutionReportList",
          "traits": {
            "smithy.api#documentation": "Output only. Reports of the execution attempts of the job."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The start time of the job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The runtime information and result report of a job."
      }
    },
    "com.gcp.devicerun_v1alpha#OutputFileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#OutputFile"
      }
    },
    "com.gcp.devicerun_v1alpha#WarningList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#Warning"
      }
    },
    "com.gcp.devicerun_v1alpha#ExecutionReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#ExecutionReport"
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogListSoftwareVersionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to receive the next page of software versions. This will be absent if the end of the response list has been reached."
          }
        },
        "softwareVersions": {
          "target": "com.gcp.devicerun_v1alpha#CatalogSoftwareVersionList",
          "traits": {
            "smithy.api#documentation": "The list of software versions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response including listed software versions."
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogSoftwareVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#CatalogSoftwareVersion"
      }
    },
    "com.gcp.devicerun_v1alpha#IosPushFilesDeviceActionFileConfig": {
      "type": "structure",
      "members": {
        "bundleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The bundle ID of the application sandbox."
          }
        },
        "sourceFile": {
          "target": "com.gcp.devicerun_v1alpha#InputFile",
          "traits": {
            "smithy.api#documentation": "Required. The file to be pushed."
          }
        },
        "destinationPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The destination path relative to the app sandbox, e.g. \"/Documents/file.txt\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of pushing a file to the iOS device."
      }
    },
    "com.gcp.devicerun_v1alpha#GoogleLongrunningOperation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.devicerun_v1alpha#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "metadata": {
          "target": "com.gcp.devicerun_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "response": {
          "target": "com.gcp.devicerun_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogXcodeDetails": {
      "type": "structure",
      "members": {
        "supportedIosVersions": {
          "target": "com.gcp.devicerun_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Lists the iOS versions this Xcode can run tests against, e.g. \"16.6\". This is a property of the toolchain, so it says nothing about whether a device on that iOS version is available; list the `Device` collection to find out."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Xcode-specific attributes."
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogDeviceAvailability": {
      "type": "structure",
      "members": {
        "available": {
          "target": "com.gcp.devicerun_v1alpha#CatalogDeviceAvailabilityAvailableEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the current availability bucket (idle, immediately allocatable devices) for this device configuration. This is a best-effort snapshot, refreshed periodically. It fluctuates depending on traffic as other requests allocate devices."
          }
        },
        "capacity": {
          "target": "com.gcp.devicerun_v1alpha#CatalogDeviceAvailabilityCapacityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the current capacity bucket for this device configuration. Represents the total number of online devices (idle or in use)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Fleet availability for a device configuration."
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogDeviceAvailabilityAvailableEnum": {
      "type": "enum",
      "members": {
        "AVAILABILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABILITY_UNSPECIFIED"
          }
        },
        "AVAILABILITY_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABILITY_NONE"
          }
        },
        "AVAILABILITY_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABILITY_LOW"
          }
        },
        "AVAILABILITY_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABILITY_MEDIUM"
          }
        },
        "AVAILABILITY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABILITY_HIGH"
          }
        }
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogDeviceAvailabilityCapacityEnum": {
      "type": "enum",
      "members": {
        "CAPACITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPACITY_UNSPECIFIED"
          }
        },
        "CAPACITY_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPACITY_NONE"
          }
        },
        "CAPACITY_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPACITY_LOW"
          }
        },
        "CAPACITY_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPACITY_MEDIUM"
          }
        },
        "CAPACITY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPACITY_HIGH"
          }
        }
      }
    },
    "com.gcp.devicerun_v1alpha#IssueSummary": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The reason of the issue. This is a constant value that identifies the proximate cause of the issue. This should be at most 63 characters and match a regular expression of `A-Z*[A-Z0-9]`, which represents UPPER_SNAKE_CASE."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable explanation of the issue in English."
          }
        },
        "type": {
          "target": "com.gcp.devicerun_v1alpha#IssueSummaryTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The issue classification based on responsibility."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the summary of an issue (error or warning) with structured details."
      }
    },
    "com.gcp.devicerun_v1alpha#IssueSummaryTypeEnum": {
      "type": "enum",
      "members": {
        "ISSUE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUE_TYPE_UNSPECIFIED"
          }
        },
        "INFRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRA"
          }
        },
        "CUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER"
          }
        }
      }
    },
    "com.gcp.devicerun_v1alpha#ExecutionReport": {
      "type": "structure",
      "members": {
        "outputFiles": {
          "target": "com.gcp.devicerun_v1alpha#OutputFileList",
          "traits": {
            "smithy.api#documentation": "Output only. The output files of the execution."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The start time of the execution."
          }
        },
        "result": {
          "target": "com.gcp.devicerun_v1alpha#Result",
          "traits": {
            "smithy.api#documentation": "Output only. The result of the execution."
          }
        },
        "status": {
          "target": "com.gcp.devicerun_v1alpha#Status",
          "traits": {
            "smithy.api#documentation": "Output only. The status of the execution."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the execution."
          }
        },
        "warnings": {
          "target": "com.gcp.devicerun_v1alpha#WarningList",
          "traits": {
            "smithy.api#documentation": "Output only. Non-fatal warnings collected during the execution."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The end time of the execution."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display_name set by users in the ExecutionConfig."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The runtime information and result report of a single on-device execution attempt."
      }
    },
    "com.gcp.devicerun_v1alpha#IosPullFilesDeviceActionPathConfig": {
      "type": "structure",
      "members": {
        "bundleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The bundle ID of the application sandbox."
          }
        },
        "devicePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The device path relative to the app sandbox, e.g. \"/Documents/output/\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of pulling a file or directory from the iOS device."
      }
    },
    "com.gcp.devicerun_v1alpha#AndroidInstallable": {
      "type": "structure",
      "members": {
        "files": {
          "target": "com.gcp.devicerun_v1alpha#InputFileList",
          "traits": {
            "smithy.api#documentation": "Required. Files that make up the package. Supported formats are distinguished by their file extension: - APK: One or more files with extension `.apk`. - App Bundle: A single file with extension `.aab`. - APK Set: A single file with extension `.apks`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Android Installable represents the file(s) for installing an Android package on a device. This can be an APK, an Android App Bundle (AAB), or an APK Set."
      }
    },
    "com.gcp.devicerun_v1alpha#AndroidInstrumentationTestSmartSharding": {
      "type": "structure",
      "members": {
        "maxShardCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of shards to create. If unset or less than 1, system-defined max limits are used. This limit takes precedence if the targeted_shard_duration cannot be satisfied. Limits: - For physical devices, the number of shards must be <= 20. - For virtual devices, the number of shards must be <= 200."
          }
        },
        "timingRecord": {
          "target": "com.gcp.devicerun_v1alpha#InputFile",
          "traits": {
            "smithy.api#documentation": "Required. The timing record file to use for smart sharding. If the file does not exist, smart sharding will use default test time (30s) for each test method to shard the job into multiple shards. This file will be overwritten with the latest timing record after the job is completed."
          }
        },
        "targetedShardDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The targeted duration of each shard. Limits: - Must be at least 2 minutes. - Must be at most 3 hours. Shard duration is not guaranteed because smart sharding uses test case history and default durations which may not be accurate. Durations are calculated based on the following inputs: - Timing records from previous runs of the same test case. - For new test cases, the average duration of other known test cases. - A system-chosen, default duration if there are no previous timing records available. Because the actual shard duration can exceed the targeted shard duration, we recommend that you set the targeted value at least 5 minutes less than the maximum allowed instrumentation timeout. This approach avoids cancelling the shard before all tests can finish."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The smart sharding strategy to split the job into multiple shards based on the test methods and their recorded execution time."
      }
    },
    "com.gcp.devicerun_v1alpha#AndroidInstrumentationTest": {
      "type": "structure",
      "members": {
        "additionalTestOptions": {
          "target": "com.gcp.devicerun_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Additional test options to pass to the test runner. Passed to `am instrument` command as `-e` options, which will be passed to the instrumentation test runner using its `onCreate()` method. Formats supported in test_targets are not allowed to be used here. Limits: - Maximum number of entries: 32. - Maximum key size: 64 bytes (UTF-8). - Maximum value size: 1024 bytes (UTF-8)."
          }
        },
        "orchestratorVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The version of the Android Test Orchestrator to use for the test. The available orchestrator versions can be retrieved from the catalog service. If set to \"auto\", the default orchestrator is used. If not set, no orchestrator is used."
          }
        },
        "instrumentationTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The timeout of the instrumentation test. Default value: 5 min. Range: [1 min, 3 hours]."
          }
        },
        "testRunnerClass": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Full class name of the test runner class. The class must be `androidx.test.runner.AndroidJUnitRunner` or a subclass of it. The default value is determined by examining the application's manifest. If multiple instrumentations are found, the first one in the manifest will be used."
          }
        },
        "enableCodeCoverage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to enable code coverage collection for the test. A coverage file `coverage.ec` will be uploaded to the results folder. For this to work, your classes have to be instrumented offline (build time) by EMMA/JaCoCo."
          }
        },
        "testTargets": {
          "target": "com.gcp.devicerun_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of test targets or target filters to run. Each target must be fully qualified with the package name or class name, in one of these formats: - `package package_name` - `notPackage com.package.to.skip` - `class package_name.class_name` - `class package_name.class_name#method_name` - `notClass com.foo.ClassToSkip` - `notClass com.foo.ClassName#testMethodToSkip` - `annotation com.foo.AnnotationToRun` - `notAnnotation com.foo.AnnotationToSkip` - `size [small|medium|large]` Formats like `testfile` or `notTestfile` won't be supported. If empty, all targets in the module will be run. Limits: - Maximum number of entries: 1024."
          }
        },
        "testInstallable": {
          "target": "com.gcp.devicerun_v1alpha#AndroidInstallable",
          "traits": {
            "smithy.api#documentation": "Required. The test package to install and run the test."
          }
        },
        "smartSharding": {
          "target": "com.gcp.devicerun_v1alpha#AndroidInstrumentationTestSmartSharding",
          "traits": {
            "smithy.api#documentation": "Optional. Smart sharding strategy to split the job into multiple shards based on the test methods and their execution time."
          }
        },
        "uniformSharding": {
          "target": "com.gcp.devicerun_v1alpha#AndroidInstrumentationTestUniformSharding",
          "traits": {
            "smithy.api#documentation": "Optional. Uniform sharding strategy to split the job into multiple shards with equal number of test methods."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of an Android instrumentation test. See https://developer.android.com/training/testing/instrumented-tests for more information on Android instrumentation tests."
      }
    },
    "com.gcp.devicerun_v1alpha#AndroidBugreportDeviceAction": {
      "type": "structure",
      "members": {
        "collectOnPass": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to deliver the bugreport when the test passes. If false, the bugreport is skipped on pass to save time (default behavior). If true, the bugreport is always delivered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Captures a bugreport from the device. The output will be written to a file named `bugreport.zip` in the execution output directory."
      }
    },
    "com.gcp.devicerun_v1alpha#AndroidPushFilesDeviceActionFileConfig": {
      "type": "structure",
      "members": {
        "destinationPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The destination path on the device."
          }
        },
        "sourceFile": {
          "target": "com.gcp.devicerun_v1alpha#InputFile",
          "traits": {
            "smithy.api#documentation": "Required. The file to be pushed to the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of pushing a file to the device."
      }
    },
    "com.gcp.devicerun_v1alpha#CancelSessionResponse": {
      "type": "structure",
      "members": {
        "cancelResult": {
          "target": "com.gcp.devicerun_v1alpha#CancelSessionResponseCancelResultEnum",
          "traits": {
            "smithy.api#documentation": "The result of the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the cancel session request."
      }
    },
    "com.gcp.devicerun_v1alpha#CancelSessionResponseCancelResultEnum": {
      "type": "enum",
      "members": {
        "CANCEL_RESULT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL_RESULT_UNSPECIFIED"
          }
        },
        "SESSION_MARKED_AS_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SESSION_MARKED_AS_CANCELLED"
          }
        },
        "SESSION_FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SESSION_FINISHED"
          }
        }
      }
    },
    "com.gcp.devicerun_v1alpha#JobSettings": {
      "type": "structure",
      "members": {
        "retrySettings": {
          "target": "com.gcp.devicerun_v1alpha#RetrySettings",
          "traits": {
            "smithy.api#documentation": "Optional. The retry settings of the job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Job settings to control the job execution."
      }
    },
    "com.gcp.devicerun_v1alpha#IosRecordVideoDeviceAction": {
      "type": "structure",
      "members": {
        "discardOnPass": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to discard the video if the test passes. If not specified, the default is false (always keep the video)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Records a video of the iOS device screen during the run. The video will be written to a file named `video.mp4` in the execution output directory."
      }
    },
    "com.gcp.devicerun_v1alpha#ResultCause": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "com.gcp.devicerun_v1alpha#IssueSummary",
          "traits": {
            "smithy.api#documentation": "Output only. Structured cause detail."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the cause of the non-passed result occurred during the execution."
      }
    },
    "com.gcp.devicerun_v1alpha#AndroidInstallPackagesDeviceAction": {
      "type": "structure",
      "members": {
        "targetApp": {
          "target": "com.gcp.devicerun_v1alpha#AndroidInstallable",
          "traits": {
            "smithy.api#documentation": "Optional. The primary Android package to install, serving as the target package for subsequent actions and as the installation ordering anchor. Whether this package is treated as the application under test depends on the job action: - Actions that require an explicit target package (such as performance metrics collection, or accessibility scans) use this package to identify the application to inspect or drive. - Actions that discover or manage targets independently (such as Android instrumentation tests, where target packages are defined in the test runner manifest) treat this field primarily as an installation order anchor between pre- and post-installables. Optional. If omitted, all packages in `pre_target_app_installables` and `post_target_app_installables` are installed without a designated target package."
          }
        },
        "postTargetAppInstallables": {
          "target": "com.gcp.devicerun_v1alpha#AndroidInstallableList",
          "traits": {
            "smithy.api#documentation": "Optional. The Android packages to install on the device after `target_app` (if specified) is installed. The installation will be performed in the order specified."
          }
        },
        "preTargetAppInstallables": {
          "target": "com.gcp.devicerun_v1alpha#AndroidInstallableList",
          "traits": {
            "smithy.api#documentation": "Optional. The Android packages to install on the device before `target_app` (if specified) is installed. The installation will be performed in the order specified."
          }
        },
        "installables": {
          "target": "com.gcp.devicerun_v1alpha#AndroidInstallableList",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: use `pre_target_app_installables`, `target_app` and `post_target_app_installables` instead. The Android packages to install on the device. The installation will be performed in the order specified, before the installables of all other fields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Installs Android packages on the device. At least one installable is specified when using this device action. Limits: - A maximum of 20 installables in total are allowed. - A maximum of 100 files are allowed in total across all installables."
      }
    },
    "com.gcp.devicerun_v1alpha#AndroidInstallableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#AndroidInstallable"
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogLifecycle": {
      "type": "structure",
      "members": {
        "removalDate": {
          "target": "com.gcp.devicerun_v1alpha#Devicerun_Date",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the date the resource is scheduled to be removed from the catalog. Only set when `state == DEPRECATED`."
          }
        },
        "state": {
          "target": "com.gcp.devicerun_v1alpha#CatalogLifecycleStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the current maturity state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Catalog resource lifecycle: maturity state plus key lifecycle dates."
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogLifecycleStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.devicerun_v1alpha#SessionConfig": {
      "type": "structure",
      "members": {
        "jobConfigs": {
          "target": "com.gcp.devicerun_v1alpha#JobConfigList",
          "traits": {
            "smithy.api#documentation": "Required. Configs of the jobs in the session."
          }
        },
        "notificationConfig": {
          "target": "com.gcp.devicerun_v1alpha#SessionConfigSessionNotificationConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Notification config for the session."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-settable, human-readable name for the session. Maximum size is 63 bytes when encoded as UTF-8. If set, must match regex: `^A-Za-z0-9*$`."
          }
        },
        "outputDirectoryConfig": {
          "target": "com.gcp.devicerun_v1alpha#SessionConfigSessionOutputFileDirectoryConfig",
          "traits": {
            "smithy.api#documentation": "Required. Output file directory config for the session."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SessionConfig is used to create a session."
      }
    },
    "com.gcp.devicerun_v1alpha#JobConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#JobConfig"
      }
    },
    "com.gcp.devicerun_v1alpha#RetrySettings": {
      "type": "structure",
      "members": {
        "flakyTestRetryStrategy": {
          "target": "com.gcp.devicerun_v1alpha#RetrySettingsFlakyTestRetryStrategy",
          "traits": {
            "smithy.api#documentation": "Optional. The default retry strategy. Allows an Execution to retry on test failures and infrastructure errors."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Retry settings."
      }
    },
    "com.gcp.devicerun_v1alpha#SessionConfigSessionOutputFileDirectoryConfig": {
      "type": "structure",
      "members": {
        "gcsOutputDirectory": {
          "target": "com.gcp.devicerun_v1alpha#GcsPath",
          "traits": {
            "smithy.api#documentation": "The Google Cloud Storage path of the output directory (e.g. `gs://my-bucket/output`). The bucket must exist. If the bucket is located in another project or uses fine-grained access controls, ensure the Device Run Service Agent of the project (`service-@gcp-sa-devicerun.iam.gserviceaccount.com`) is granted access to the bucket (such as `roles/storage.objectUser`)."
          }
        },
        "flatDirectoryStructure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to write output files directly under the output directory instead of nesting them under service-generated subdirectories. By default (`false`), output files are stored under `////`. When `true`, the session ID subdirectory is never appended, and the job display name subdirectory is appended only when the session has more than one job. Output files are therefore stored under: - `//` for a single-job session. - `///` for a multi-job session. Set this to `true` when the output directory is already unique per session (for example, when a CI system generates it), to avoid redundant nesting."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config to control session output file directory."
      }
    },
    "com.gcp.devicerun_v1alpha#AndroidLogcatDeviceAction": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Collects logcat output from the device. The output will be written to a file named `logcat.txt` in the execution output directory."
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogAutomationSupport": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Per-product metadata for the Automation (DeviceRun) product."
      }
    },
    "com.gcp.devicerun_v1alpha#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.devicerun_v1alpha#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.devicerun_v1alpha#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#Location"
      }
    },
    "com.gcp.devicerun_v1alpha#Warning": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "com.gcp.devicerun_v1alpha#IssueSummary",
          "traits": {
            "smithy.api#documentation": "Output only. Detailed warning summary."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Non-fatal operational anomaly, lint observation, or execution insight."
      }
    },
    "com.gcp.devicerun_v1alpha#Location": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.devicerun_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.devicerun_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.devicerun_v1alpha#AllocationConfig": {
      "type": "structure",
      "members": {
        "deviceConfigs": {
          "target": "com.gcp.devicerun_v1alpha#DeviceConfigList",
          "traits": {
            "smithy.api#documentation": "Required. At least one device config is required. If more than one device config is required, the multiple devices are allocated to each shard of the OmniLab job to run multi-device-interaction tests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allocation config."
      }
    },
    "com.gcp.devicerun_v1alpha#DeviceConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.devicerun_v1alpha#DeviceConfig"
      }
    },
    "com.gcp.devicerun_v1alpha#RetrySettingsFlakyTestRetryStrategy": {
      "type": "structure",
      "members": {
        "flakyTestAttempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The total attempts for flaky tests, including the initial run. Default value: 1 (no retry). Range: [1, 5]."
          }
        },
        "parallelRetry": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to retry the test failures in parallel. By default, the test is retried sequentially. If true, when the initial attempt fails, (flaky_test_attempts - 1) attempts will be triggered at the same time to run in parallel."
          }
        },
        "testReductionMode": {
          "target": "com.gcp.devicerun_v1alpha#RetrySettingsFlakyTestRetryStrategyTestReductionModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The mode of test reduction for retry. If the test runner doesn't support the specified test reduction mode, the request will be rejected with an `INVALID_ARGUMENT` error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default retry strategy. It will retry on test failures for up to flaky_test_attempts (including the initial run). It also retries on infra issues for up to 2 attempts (including the initial run). So in total, an execution can run up to flaky_test_attempts * 2 times in the worst case."
      }
    },
    "com.gcp.devicerun_v1alpha#RetrySettingsFlakyTestRetryStrategyTestReductionModeEnum": {
      "type": "enum",
      "members": {
        "TEST_REDUCTION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST_REDUCTION_MODE_UNSPECIFIED"
          }
        },
        "NO_REDUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_REDUCTION"
          }
        },
        "REDUCE_TO_FAILED_TEST_CASES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDUCE_TO_FAILED_TEST_CASES"
          }
        }
      }
    },
    "com.gcp.devicerun_v1alpha#CatalogAndroidDeviceDetails": {
      "type": "structure",
      "members": {
        "supportedAbis": {
          "target": "com.gcp.devicerun_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Lists ABIs supported by the device (android.os.Build.SUPPORTED_ABIS), most preferred first, e.g. \"arm64-v8a\"."
          }
        },
        "buildType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Mirrors the AOSP `ro.build.type` property, e.g. \"user\", \"userdebug\", \"eng\". Empty if unknown."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Android-specific device attributes."
      }
    },
    "com.gcp.devicerun_v1alpha#JobConfig": {
      "type": "structure",
      "members": {
        "settings": {
          "target": "com.gcp.devicerun_v1alpha#JobSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Job settings."
          }
        },
        "allocationConfig": {
          "target": "com.gcp.devicerun_v1alpha#AllocationConfig",
          "traits": {
            "smithy.api#documentation": "Required. Allocation config."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-settable, human-readable name for the job. If set, it must be unique within the session. If not set, the display name will default to `job-`, where `` is the 0-based index of the job in the session formatted as three digits (e.g., job-000, job-001, ...). Maximum size is 63 bytes when encoded as UTF-8. If set, must match regex: `^A-Za-z0-9*$`."
          }
        },
        "labels": {
          "target": "com.gcp.devicerun_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined metadata for tracking or categorization. These labels do not affect job execution and are surfaced in the JobReport. Limits: - Maximum number of entries: 16. - Maximum key size: 32 bytes (UTF-8). - Maximum value size: 1024 bytes (UTF-8)."
          }
        },
        "action": {
          "target": "com.gcp.devicerun_v1alpha#JobAction",
          "traits": {
            "smithy.api#documentation": "Required. Job action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of a job."
      }
    },
    "com.gcp.devicerun_v1alpha#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.devicerun_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        }
      }
    },
    "com.gcp.devicerun_v1alpha#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.devicerun_v1alpha#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.devicerun_v1alpha#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.devicerun_v1alpha#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.devicerun_v1alpha#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.devicerun_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.devicerun_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.devicerun_v1alpha#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.devicerun_v1alpha#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.devicerun_v1alpha#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.devicerun_v1alpha#Location"
      },
      "errors": [
        {
          "target": "com.gcp.devicerun_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.devicerun_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.devicerun_v1alpha#ListProjectsLocationsDevicesRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
[...]
