{
  "smithy": "2.0",
  "metadata": {
    "service": "integrations",
    "version": "v2",
    "title": "Application Integration API",
    "baseUrl": "https://integrations.googleapis.com/",
    "distilled.finalized": true
  },
  "shapes": {
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetBooleanParameterArray": {
      "type": "structure",
      "members": {
        "booleanValues": {
          "target": "com.gcp.integrations_v2#BooleanList",
          "traits": {
            "smithy.api#documentation": "Boolean array."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message only contains a field of boolean array."
      }
    },
    "com.gcp.integrations_v2#BooleanList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Boolean"
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoProtoParameterArray": {
      "type": "structure",
      "members": {
        "protoValues": {
          "target": "com.gcp.integrations_v2#DocumentMapList"
        }
      }
    },
    "com.gcp.integrations_v2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.integrations_v2#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v2#DocumentMap"
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoMappedField": {
      "type": "structure",
      "members": {
        "outputField": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoField",
          "traits": {
            "smithy.api#documentation": "The output field being mapped to."
          }
        },
        "inputField": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoField",
          "traits": {
            "smithy.api#documentation": "The input field being mapped from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mapped field is a pair of input field and output field."
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoIntFunction": {
      "type": "structure",
      "members": {
        "functionName": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoIntFunctionFunctionNameEnum"
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoIntFunctionFunctionNameEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD"
          }
        },
        "SUBTRACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBTRACT"
          }
        },
        "MULTIPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPLY"
          }
        },
        "DIVIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIVIDE"
          }
        },
        "EXPONENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPONENT"
          }
        },
        "GREATER_THAN_EQUAL_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN_EQUAL_TO"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        },
        "LESS_THAN_EQUAL_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_EQUAL_TO"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "TO_DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_DOUBLE"
          }
        },
        "TO_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_STRING"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS"
          }
        },
        "TO_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_JSON"
          }
        },
        "MOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOD"
          }
        },
        "EPOCH_TO_HUMAN_READABLE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EPOCH_TO_HUMAN_READABLE_TIME"
          }
        }
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetJavascriptRecommendation": {
      "type": "structure",
      "members": {
        "explanation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The explanation of the Javascript code."
          }
        },
        "taskConfig": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetTaskConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The task config of the Javascript task."
          }
        },
        "integrationParameters": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationParameterList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of the new integration parameters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Individual Javascript recommendation containing the task config with the new code, integration parameters and the explanation."
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationParameter"
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmFrontendsEventbusProtoParameterMap": {
      "type": "structure",
      "members": {
        "valueType": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmFrontendsEventbusProtoParameterMapValueTypeEnum"
        },
        "entries": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmFrontendsEventbusProtoParameterMapEntryList"
        },
        "keyType": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmFrontendsEventbusProtoParameterMapKeyTypeEnum",
          "traits": {
            "smithy.api#documentation": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified."
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmFrontendsEventbusProtoParameterMapValueTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "STRING_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_VALUE"
          }
        },
        "INT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT_VALUE"
          }
        },
        "DOUBLE_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE_VALUE"
          }
        },
        "BOOLEAN_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN_VALUE"
          }
        },
        "PROTO_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_VALUE"
          }
        },
        "SERIALIZED_OBJECT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERIALIZED_OBJECT_VALUE"
          }
        },
        "STRING_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_ARRAY"
          }
        },
        "INT_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT_ARRAY"
          }
        },
        "DOUBLE_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE_ARRAY"
          }
        },
        "PROTO_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_ARRAY"
          }
        },
        "PROTO_ENUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_ENUM"
          }
        },
        "BOOLEAN_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN_ARRAY"
          }
        },
        "PROTO_ENUM_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_ENUM_ARRAY"
          }
        },
        "BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYTES"
          }
        },
        "BYTES_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYTES_ARRAY"
          }
        },
        "NON_SERIALIZABLE_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_SERIALIZABLE_OBJECT"
          }
        },
        "JSON_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON_VALUE"
          }
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmFrontendsEventbusProtoParameterMapEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v2#EnterpriseCrmFrontendsEventbusProtoParameterMapEntry"
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmFrontendsEventbusProtoParameterMapKeyTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "STRING_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_VALUE"
          }
        },
        "INT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT_VALUE"
          }
        },
        "DOUBLE_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE_VALUE"
          }
        },
        "BOOLEAN_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN_VALUE"
          }
        },
        "PROTO_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_VALUE"
          }
        },
        "SERIALIZED_OBJECT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERIALIZED_OBJECT_VALUE"
          }
        },
        "STRING_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_ARRAY"
          }
        },
        "INT_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT_ARRAY"
          }
        },
        "DOUBLE_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE_ARRAY"
          }
        },
        "PROTO_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_ARRAY"
          }
        },
        "PROTO_ENUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_ENUM"
          }
        },
        "BOOLEAN_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN_ARRAY"
          }
        },
        "PROTO_ENUM_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_ENUM_ARRAY"
          }
        },
        "BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYTES"
          }
        },
        "BYTES_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYTES_ARRAY"
          }
        },
        "NON_SERIALIZABLE_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_SERIALIZABLE_OBJECT"
          }
        },
        "JSON_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON_VALUE"
          }
        }
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetGenerateIntegrationDocumentResponse": {
      "type": "structure",
      "members": {
        "document": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the integration returned by Duet AI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message containing generated integration documentation text."
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoTransformExpression": {
      "type": "structure",
      "members": {
        "initialValue": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoBaseValue",
          "traits": {
            "smithy.api#documentation": "Initial value upon which to perform transformations."
          }
        },
        "transformationFunctions": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoFunctionList",
          "traits": {
            "smithy.api#documentation": "Transformations to be applied sequentially."
          }
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoFunctionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoFunction"
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetGenerateJavascriptRequest": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User prompt."
          }
        },
        "javascriptRequest": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetJavascriptRequest",
          "traits": {
            "smithy.api#documentation": "Required. The javascript request payload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for generating data mapping Javascript."
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationDocumentRequest": {
      "type": "structure",
      "members": {
        "integrationVersion": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationVersion",
          "traits": {
            "smithy.api#documentation": "Required. The current integrtion on the canvas."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for generating description of an integration."
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoBaseValue": {
      "type": "structure",
      "members": {
        "literalValue": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoParameterValueType",
          "traits": {
            "smithy.api#documentation": "Start with a literal value."
          }
        },
        "baseFunction": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoFunction",
          "traits": {
            "smithy.api#documentation": "Start with a function that does not build on existing values. Eg. CurrentTime, Min, Max, Exists, etc."
          }
        },
        "referenceValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start with a reference value to dereference."
          }
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray": {
      "type": "structure",
      "members": {
        "doubleValues": {
          "target": "com.gcp.integrations_v2#DoubleList"
        }
      }
    },
    "com.gcp.integrations_v2#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoSuspensionExpiration": {
      "type": "structure",
      "members": {
        "remindAfterMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Milliseconds after which the previous suspension action reminder, if any, is sent using the selected notification option, for a suspension which is still PENDING_UNSPECIFIED."
          }
        },
        "expireAfterMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Milliseconds after which the suspension expires, if no action taken."
          }
        },
        "liftWhenExpired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the suspension will be REJECTED or LIFTED upon expiration. REJECTED is the default behavior."
          }
        }
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetGenerateIntegrationResponse": {
      "type": "structure",
      "members": {
        "skeletonIntegrations": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationSkeletonList",
          "traits": {
            "smithy.api#documentation": "The list of integration skeletons returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for generating an integration."
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationSkeletonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationSkeleton"
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoDoubleParameterArray": {
      "type": "structure",
      "members": {
        "doubleValues": {
          "target": "com.gcp.integrations_v2#DoubleList"
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity": {
      "type": "structure",
      "members": {
        "emailAddress": {
          "target": "smithy.api#String"
        },
        "gaiaId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationBranch": {
      "type": "structure",
      "members": {
        "branchCondition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The condition for the branch."
          }
        },
        "explanation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explanation of why this integration branch was generated."
          }
        },
        "taskConfigs": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetTaskConfigList",
          "traits": {
            "smithy.api#documentation": "The newly generated tasks which can be branched into the current integration."
          }
        },
        "integrationParameters": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationParameterList",
          "traits": {
            "smithy.api#documentation": "The newly generated workflow parameters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An integration branch skeleton containing basic fields which can be used to create an integration branch on the UI."
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetTaskConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetTaskConfig"
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoSuspensionResolutionInfo": {
      "type": "structure",
      "members": {
        "suspensionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary key for the SuspensionResolutionInfoTable."
          }
        },
        "externalTraffic": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoExternalTraffic",
          "traits": {
            "smithy.api#documentation": "The origin of the suspension for periodic notifications."
          }
        },
        "status": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoSuspensionResolutionInfoStatusEnum"
        },
        "taskNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Task number of the associated SuspensionTask."
          }
        },
        "createdTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto-generated."
          }
        },
        "lastModifiedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto-generated."
          }
        },
        "suspensionConfig": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "cloudKmsConfig": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoCloudKmsConfig",
          "traits": {
            "smithy.api#documentation": "KMS info, used by cmek/gmek integration"
          }
        },
        "workflowName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the originating workflow."
          }
        },
        "audit": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
        },
        "eventExecutionInfoId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the associated execution."
          }
        },
        "wrappedDek": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Wrapped dek"
          }
        },
        "product": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoSuspensionResolutionInfoProductEnum",
          "traits": {
            "smithy.api#documentation": "Which Google product the suspension belongs to. If not set, the suspension belongs to Integration Platform by default."
          }
        },
        "encryptedSuspensionResolutionInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encrypted SuspensionResolutionInfo"
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event data user sends as request."
          }
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoSuspensionResolutionInfoStatusEnum": {
      "type": "enum",
      "members": {
        "PENDING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_UNSPECIFIED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "LIFTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFTED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoSuspensionResolutionInfoProductEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED_PRODUCT"
          }
        },
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP"
          }
        },
        "APIGEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APIGEE"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoIntParameterArray": {
      "type": "structure",
      "members": {
        "intValues": {
          "target": "com.gcp.integrations_v2#StringList"
        }
      }
    },
    "com.gcp.integrations_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetTriggerConfig": {
      "type": "structure",
      "members": {
        "triggerType": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetTriggerConfigTriggerTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of trigger"
          }
        },
        "properties": {
          "target": "com.gcp.integrations_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Configurable properties of the trigger, not to be confused with integration parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Pub/sub triggers."
          }
        },
        "trigger": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the trigger. Example: \"API Trigger\", \"Cloud Pub Sub Trigger\" When set will be sent out to monitoring dashabord for tracking purpose."
          }
        },
        "inputVariables": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetTriggerConfigVariables",
          "traits": {
            "smithy.api#documentation": "Optional. List of input variables for the api trigger."
          }
        },
        "triggerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The backend trigger ID."
          }
        },
        "errorCatcherId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional Error catcher id of the error catch flow which will be executed when execution error happens in the task"
          }
        },
        "outputVariables": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetTriggerConfigVariables",
          "traits": {
            "smithy.api#documentation": "Optional. List of output variables for the api trigger."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-provided description intended to give additional business context about the task."
          }
        },
        "cloudSchedulerConfig": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetCloudSchedulerConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Cloud Scheduler Trigger related metadata"
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The user created label for a particular trigger."
          }
        },
        "startTasks": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetNextTaskList",
          "traits": {
            "smithy.api#documentation": "Optional. Set of tasks numbers from where the integration execution is started by this trigger. If this is empty, then integration is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same integration execution graph)."
          }
        },
        "triggerNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A number to uniquely identify each trigger config within the integration on UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration detail of a trigger."
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetTriggerConfigTriggerTypeEnum": {
      "type": "enum",
      "members": {
        "TRIGGER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIGGER_TYPE_UNSPECIFIED"
          }
        },
        "CRON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRON"
          }
        },
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API"
          }
        },
        "SFDC_CHANNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SFDC_CHANNEL"
          }
        },
        "CLOUD_PUBSUB_EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PUBSUB_EXTERNAL"
          }
        },
        "SFDC_CDC_CHANNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SFDC_CDC_CHANNEL"
          }
        },
        "CLOUD_SCHEDULER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SCHEDULER"
          }
        },
        "INTEGRATION_CONNECTOR_TRIGGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRATION_CONNECTOR_TRIGGER"
          }
        },
        "PRIVATE_TRIGGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_TRIGGER"
          }
        }
      }
    },
    "com.gcp.integrations_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetNextTaskList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetNextTask"
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoBooleanParameterArray": {
      "type": "structure",
      "members": {
        "booleanValues": {
          "target": "com.gcp.integrations_v2#BooleanList"
        }
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationParameter": {
      "type": "structure",
      "members": {
        "defaultValue": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetValueType",
          "traits": {
            "smithy.api#documentation": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\"."
          }
        },
        "inputOutputType": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationParameterInputOutputTypeEnum",
          "traits": {
            "smithy.api#documentation": "Specifies the input/output type for the parameter."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the parameter."
          }
        },
        "isTransient": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this parameter is a transient parameter."
          }
        },
        "jsonSchema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This schema will be used to validate runtime JSON-typed values of this parameter."
          }
        },
        "dataType": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationParameterDataTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the parameter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Integration Parameter is defined in the integration config and are used to provide information about data types of the expected parameters and provide any default values if needed. They can also be used to add custom attributes. These are static in nature and should not be used for dynamic event definition."
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationParameterInputOutputTypeEnum": {
      "type": "enum",
      "members": {
        "IN_OUT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_OUT_TYPE_UNSPECIFIED"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT"
          }
        },
        "IN_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_OUT"
          }
        }
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationParameterDataTypeEnum": {
      "type": "enum",
      "members": {
        "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED"
          }
        },
        "STRING_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_VALUE"
          }
        },
        "INT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT_VALUE"
          }
        },
        "DOUBLE_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE_VALUE"
          }
        },
        "BOOLEAN_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN_VALUE"
          }
        },
        "STRING_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_ARRAY"
          }
        },
        "INT_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT_ARRAY"
          }
        },
        "DOUBLE_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE_ARRAY"
          }
        },
        "BOOLEAN_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN_ARRAY"
          }
        },
        "JSON_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON_VALUE"
          }
        },
        "PROTO_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_VALUE"
          }
        },
        "PROTO_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_ARRAY"
          }
        }
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetJavascriptRequest": {
      "type": "structure",
      "members": {
        "copilotEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If this request is for copilot."
          }
        },
        "useCurrentScript": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to use the current javascript task config (JS code) to generate the Javascript code."
          }
        },
        "integrationVersion": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationVersion",
          "traits": {
            "smithy.api#documentation": "Required. The integration version which contains all the integration parameters, all triggers and tasks including the Javascript task."
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The task id of the Javascript task."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for Javascript Task using Gemini."
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoAddress": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "tokens": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoTokenList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Email address along with optional name and tokens. These tokens will be substituted for the variables in the form of [{var_name}], where var_name could be any string of no more than 32 bytes."
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoTokenList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoToken"
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoStringArrayFunction": {
      "type": "structure",
      "members": {
        "functionName": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoStringArrayFunctionFunctionNameEnum"
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoStringArrayFunctionFunctionNameEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "APPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEND"
          }
        },
        "SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIZE"
          }
        },
        "TO_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_SET"
          }
        },
        "APPEND_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEND_ALL"
          }
        },
        "TO_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_JSON"
          }
        },
        "SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SET"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE"
          }
        },
        "REMOVE_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE_AT"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "FOR_EACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOR_EACH"
          }
        },
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILTER"
          }
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoFunctionType": {
      "type": "structure",
      "members": {
        "doubleFunction": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoDoubleFunction"
        },
        "booleanFunction": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoBooleanFunction"
        },
        "protoFunction": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoProtoFunction"
        },
        "baseFunction": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoBaseFunction",
          "traits": {
            "smithy.api#documentation": "LINT.IfChange"
          }
        },
        "jsonFunction": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoJsonFunction"
        },
        "intFunction": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoIntFunction"
        },
        "stringFunction": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoStringFunction"
        },
        "intArrayFunction": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoIntArrayFunction"
        },
        "booleanArrayFunction": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoBooleanArrayFunction"
        },
        "protoArrayFunction": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoProtoArrayFunction"
        },
        "stringArrayFunction": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoStringArrayFunction"
        },
        "doubleArrayFunction": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoDoubleArrayFunction"
        }
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetReplaceTaskRequest": {
      "type": "structure",
      "members": {
        "taskTypes": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetReplaceTaskRequestTaskTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "The list of task types."
          }
        },
        "taskConfig": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetTaskConfig",
          "traits": {
            "smithy.api#documentation": "Required. The current task selected on the UI."
          }
        },
        "copilotEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If this request is for copilot."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for Replace Task Scenario."
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetReplaceTaskRequestTaskTypesItemEnum": {
      "type": "enum",
      "members": {
        "TASK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_TYPE_UNSPECIFIED"
          }
        },
        "CONNECTOR_TASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTOR_TASK"
          }
        },
        "REST_TASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REST_TASK"
          }
        }
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetReplaceTaskRequestTaskTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetReplaceTaskRequestTaskTypesItemEnum"
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetTaskResponseStatus": {
      "type": "structure",
      "members": {
        "taskType": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetTaskResponseStatusTaskTypeEnum",
          "traits": {
            "smithy.api#documentation": "The task type."
          }
        },
        "httpCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The http code of the task response."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message of the task response in case of failure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for task response status."
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetTaskResponseStatusTaskTypeEnum": {
      "type": "enum",
      "members": {
        "TASK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_TYPE_UNSPECIFIED"
          }
        },
        "CONNECTOR_TASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTOR_TASK"
          }
        },
        "REST_TASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REST_TASK"
          }
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoProtoFunction": {
      "type": "structure",
      "members": {
        "functionName": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoProtoFunctionFunctionNameEnum"
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoProtoFunctionFunctionNameEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "GET_STRING_SUBFIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_STRING_SUBFIELD"
          }
        },
        "GET_INT_SUBFIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_INT_SUBFIELD"
          }
        },
        "GET_DOUBLE_SUBFIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_DOUBLE_SUBFIELD"
          }
        },
        "GET_BOOLEAN_SUBFIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_BOOLEAN_SUBFIELD"
          }
        },
        "GET_STRING_ARRAY_SUBFIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_STRING_ARRAY_SUBFIELD"
          }
        },
        "GET_INT_ARRAY_SUBFIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_INT_ARRAY_SUBFIELD"
          }
        },
        "GET_DOUBLE_ARRAY_SUBFIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_DOUBLE_ARRAY_SUBFIELD"
          }
        },
        "GET_BOOLEAN_ARRAY_SUBFIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_BOOLEAN_ARRAY_SUBFIELD"
          }
        },
        "GET_PROTO_ARRAY_SUBFIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_PROTO_ARRAY_SUBFIELD"
          }
        },
        "GET_PROTO_SUBFIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_PROTO_SUBFIELD"
          }
        },
        "TO_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_JSON"
          }
        },
        "GET_BYTES_SUBFIELD_AS_UTF_8_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_BYTES_SUBFIELD_AS_UTF_8_STRING"
          }
        },
        "GET_BYTES_SUBFIELD_AS_PROTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_BYTES_SUBFIELD_AS_PROTO"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS"
          }
        }
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2TaskExecutionTaskExecutionMetadata": {
      "type": "structure",
      "members": {
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The task name associated with this execution."
          }
        },
        "taskLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The task label associated with this execution."
          }
        },
        "ancestorTaskNumbers": {
          "target": "com.gcp.integrations_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Ancestor task number for the task (it will only be non-empty if the task is under 'private integration')."
          }
        },
        "taskNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The task number associated with this execution."
          }
        },
        "executionAttempt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The execution attempt number this execution belongs to."
          }
        },
        "ancestorIterationNumbers": {
          "target": "com.gcp.integrations_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Ancestor iteration number for the task (it will only be non-empty if the task is under 'private integration')."
          }
        },
        "taskAttempt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The task attempt number this execution belongs to."
          }
        },
        "privateIntegrationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The direct integration which the execution belongs to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of the task execution."
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfigOperationEnum",
          "traits": {
            "smithy.api#documentation": "Operation to perform using the configured connection."
          }
        },
        "connection": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoConnectorsConnection",
          "traits": {
            "smithy.api#documentation": "User-selected connection."
          }
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfigOperationEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "EXECUTE_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTE_ACTION"
          }
        },
        "LIST_ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIST_ENTITIES"
          }
        },
        "GET_ENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_ENTITY"
          }
        },
        "CREATE_ENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_ENTITY"
          }
        },
        "UPDATE_ENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_ENTITY"
          }
        },
        "DELETE_ENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_ENTITY"
          }
        },
        "EXECUTE_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTE_QUERY"
          }
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoNotification": {
      "type": "structure",
      "members": {
        "escalatorQueue": {
          "target": "smithy.api#String"
        },
        "buganizerNotification": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoBuganizerNotification"
        },
        "pubsubTopic": {
          "target": "smithy.api#String"
        },
        "request": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoCustomSuspensionRequest",
          "traits": {
            "smithy.api#documentation": "If the out-of-the-box email/pubsub notifications are not suitable and custom logic is required, fire a workflow containing all info needed to notify users to resume execution."
          }
        },
        "emailAddress": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoAddress"
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray": {
      "type": "structure",
      "members": {
        "booleanValues": {
          "target": "com.gcp.integrations_v2#BooleanList"
        }
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetGenerateJavascriptResponse": {
      "type": "structure",
      "members": {
        "recommendations": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetJavascriptRecommendationList",
          "traits": {
            "smithy.api#documentation": "List of the Javascript recommendations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message containing generated Javascript code recommendations."
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetJavascriptRecommendationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetJavascriptRecommendation"
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoField": {
      "type": "structure",
      "members": {
        "transformExpression": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoTransformExpression",
          "traits": {
            "smithy.api#documentation": "This is the transform expression to fetch the input field value. for e.g. $param1$.CONCAT('test'). Keep points - 1. Only input field can have a transform expression. 2. If a transform expression is provided, reference_key will be ignored. 3. If no value is returned after evaluation of transform expression, default_value can be mapped if provided. 4. The field_type should be the type of the final object returned after the transform expression is evaluated. Scrubs the transform expression before logging as value provided by user so may or may not contain PII or SPII data."
          }
        },
        "cardinality": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoFieldCardinalityEnum",
          "traits": {
            "smithy.api#documentation": "By default, if the cardinality is unspecified the field is considered required while mapping."
          }
        },
        "fieldType": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoFieldFieldTypeEnum",
          "traits": {
            "smithy.api#documentation": "Specifies the data type of the field."
          }
        },
        "defaultValue": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoParameterValueType",
          "traits": {
            "smithy.api#documentation": "This holds the default values for the fields. This value is supplied by user so may or may not contain PII or SPII data."
          }
        },
        "protoDefPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The fully qualified proto name (e.g. enterprise.crm.storage.Account). Required for output field of type PROTO_VALUE or PROTO_ARRAY. For e.g., if input field_type is BYTES and output field_type is PROTO_VALUE, then fully qualified proto type url should be provided to parse the input bytes. If field_type is *_ARRAY, then all the converted protos are of the same type."
          }
        },
        "referenceKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This holds the reference key of the workflow or task parameter. 1. Any workflow parameter, for e.g. $workflowParam1$. 2. Any task input or output parameter, for e.g. $task1_param1$. 3. Any workflow or task parameters with subfield references, for e.g., $task1_param1.employee.id$"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the value and type of the field."
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoFieldCardinalityEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONAL"
          }
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoFieldFieldTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "STRING_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_VALUE"
          }
        },
        "INT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT_VALUE"
          }
        },
        "DOUBLE_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE_VALUE"
          }
        },
        "BOOLEAN_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN_VALUE"
          }
        },
        "PROTO_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_VALUE"
          }
        },
        "SERIALIZED_OBJECT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERIALIZED_OBJECT_VALUE"
          }
        },
        "STRING_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_ARRAY"
          }
        },
        "INT_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT_ARRAY"
          }
        },
        "DOUBLE_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE_ARRAY"
          }
        },
        "PROTO_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_ARRAY"
          }
        },
        "PROTO_ENUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_ENUM"
          }
        },
        "BOOLEAN_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN_ARRAY"
          }
        },
        "PROTO_ENUM_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_ENUM_ARRAY"
          }
        },
        "BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYTES"
          }
        },
        "BYTES_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYTES_ARRAY"
          }
        },
        "NON_SERIALIZABLE_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_SERIALIZABLE_OBJECT"
          }
        },
        "JSON_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON_VALUE"
          }
        }
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetStringParameterArray": {
      "type": "structure",
      "members": {
        "stringValues": {
          "target": "com.gcp.integrations_v2#StringList",
          "traits": {
            "smithy.api#documentation": "String array."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message only contains a field of string array."
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmFrontendsEventbusProtoProtoParameterArray": {
      "type": "structure",
      "members": {
        "protoValues": {
          "target": "com.gcp.integrations_v2#DocumentMapList"
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoBaseFunction": {
      "type": "structure",
      "members": {
        "functionName": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoBaseFunctionFunctionNameEnum"
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoBaseFunctionFunctionNameEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "NOW_IN_MILLIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOW_IN_MILLIS"
          }
        },
        "INT_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT_LIST"
          }
        },
        "ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT"
          }
        },
        "GET_EXECUTION_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_EXECUTION_ID"
          }
        },
        "GET_INTEGRATION_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_INTEGRATION_NAME"
          }
        },
        "GET_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_REGION"
          }
        },
        "GET_UUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_UUID"
          }
        },
        "GET_PROJECT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_PROJECT_ID"
          }
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmFrontendsEventbusProtoStringParameterArray": {
      "type": "structure",
      "members": {
        "stringValues": {
          "target": "com.gcp.integrations_v2#StringList"
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoExecutionTraceInfo": {
      "type": "structure",
      "members": {
        "parentEventExecutionInfoId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent event execution info id that triggers the current execution through SubWorkflowExecutorTask."
          }
        },
        "traceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Used to aggregate ExecutionTraceInfo."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message that helps aggregate all sub-executions triggered by one execution and keeps track of child-parent relationships."
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoProtoArrayFunction": {
      "type": "structure",
      "members": {
        "functionName": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoProtoArrayFunctionFunctionNameEnum"
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoProtoArrayFunctionFunctionNameEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "APPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEND"
          }
        },
        "SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIZE"
          }
        },
        "TO_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_SET"
          }
        },
        "APPEND_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEND_ALL"
          }
        },
        "TO_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_JSON"
          }
        },
        "SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SET"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE"
          }
        },
        "REMOVE_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE_AT"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "FOR_EACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOR_EACH"
          }
        },
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILTER"
          }
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoFunction": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoTransformExpressionList",
          "traits": {
            "smithy.api#documentation": "List of parameters required for the transformation."
          }
        },
        "functionType": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoFunctionType",
          "traits": {
            "smithy.api#documentation": "The name of the function to perform."
          }
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoTransformExpressionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoTransformExpression"
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoBuganizerNotification": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the issue to be created. Required."
          }
        },
        "templateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the buganizer template to use. Optional."
          }
        },
        "componentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the buganizer component within which to create a new issue. Required."
          }
        },
        "assigneeEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whom to assign the new bug. Optional."
          }
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoSerializedObjectParameter": {
      "type": "structure",
      "members": {
        "objectValue": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetDoubleParameterArray": {
      "type": "structure",
      "members": {
        "doubleValues": {
          "target": "com.gcp.integrations_v2#DoubleList",
          "traits": {
            "smithy.api#documentation": "Double number array."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message only contains a field of double number array."
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetNextTask": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-provided label that is attached to this edge in the UI."
          }
        },
        "taskConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the next task."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-provided description intended to give additional business context about the task."
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task number of the next task."
          }
        },
        "condition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Standard filter expression for this task to become an eligible next task."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The task that is next in line to be executed, if the condition specified evaluated to true."
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmFrontendsEventbusProtoParameterMapEntry": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        },
        "value": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        }
      },
      "traits": {
        "smithy.api#documentation": "Entry is a pair of key and value."
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoDoubleArrayFunction": {
      "type": "structure",
      "members": {
        "functionName": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoDoubleArrayFunctionFunctionNameEnum"
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoDoubleArrayFunctionFunctionNameEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "APPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEND"
          }
        },
        "SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIZE"
          }
        },
        "SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUM"
          }
        },
        "AVG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVG"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIN"
          }
        },
        "TO_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_SET"
          }
        },
        "APPEND_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEND_ALL"
          }
        },
        "TO_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_JSON"
          }
        },
        "SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SET"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE"
          }
        },
        "REMOVE_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE_AT"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "FOR_EACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOR_EACH"
          }
        },
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILTER"
          }
        }
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetCloudSchedulerConfig": {
      "type": "structure",
      "members": {
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations"
          }
        },
        "cronTab": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The cron tab of cloud scheduler trigger."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The location where associated cloud scheduler job will be created"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cloud Scheduler Trigger configuration"
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2ListExecutionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for retrieving the next page of results."
          }
        },
        "executions": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2ExecutionList",
          "traits": {
            "smithy.api#documentation": "Required. The list of executions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for listing the Integration executions."
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2ExecutionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2Execution"
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetGenerateIntegrationBranchRequest": {
      "type": "structure",
      "members": {
        "integrationBranchRequest": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationBranchRequest",
          "traits": {
            "smithy.api#documentation": "Required. The integration branch request payload."
          }
        },
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. User prompt."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for generating an integration branch containing tasks."
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoConnectorsConnection": {
      "type": "structure",
      "members": {
        "connectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection name Format: projects/{project}/locations/{location}/connections/{connection}"
          }
        },
        "connectorVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connector version Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version}"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service name Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}"
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hostname of the Service Directory service with TLS if used."
          }
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoParameterEntry": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition."
          }
        },
        "value": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoParameterValueType",
          "traits": {
            "smithy.api#documentation": "Values for the defined keys. Each value can either be string, int, double or any proto message."
          }
        },
        "masked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if this parameter should be masked in the logs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Key-value pair of EventBus parameters."
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetTaskConfig": {
      "type": "structure",
      "members": {
        "errorCatcherId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional Error catcher id of the error catch flow which will be executed when execution error happens in the task"
          }
        },
        "parameters": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetEventParameterMap",
          "traits": {
            "smithy.api#documentation": "Optional. The customized parameters the user can pass to this task."
          }
        },
        "nextTasks": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetNextTaskList",
          "traits": {
            "smithy.api#documentation": "Optional. The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true."
          }
        },
        "externalTaskType": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetTaskConfigExternalTaskTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. External task type of the task"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-provided description intended to give additional business context about the task."
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_id`)."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-provided label that is attached to this TaskConfig in the UI."
          }
        },
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name for the task."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task."
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetEventParameterMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetEventParameter"
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetTaskConfigExternalTaskTypeEnum": {
      "type": "enum",
      "members": {
        "EXTERNAL_TASK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_TASK_TYPE_UNSPECIFIED"
          }
        },
        "NORMAL_TASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NORMAL_TASK"
          }
        },
        "ERROR_TASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_TASK"
          }
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoCloudKmsConfig": {
      "type": "structure",
      "members": {
        "keyRingName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A key ring organizes keys in a specific Google Cloud location and allows you to manage access control on groups of keys. A key ring's name does not need to be unique across a Google Cloud project, but must be unique within a given location."
          }
        },
        "keyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloud KMS key is a named object containing one or more key versions, along with metadata for the key. A key exists on exactly one key ring tied to a specific location."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The service account used for authentication of this KMS key. If this is not provided, the service account in Client.clientSource will be used."
          }
        },
        "locationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location name of the key ring, e.g. \"us-west1\"."
          }
        },
        "gcpProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The id of GCP project where the KMS key is stored. If not provided, assume the key is stored in the same GCP project defined in Client (tag 14)."
          }
        },
        "keyVersionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Each version of a key contains key material used for encryption or signing. A key's version is represented by an integer, starting at 1. To decrypt data or verify a signature, you must use the same key version that was used to encrypt or sign the data."
          }
        }
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationSkeleton": {
      "type": "structure",
      "members": {
        "explanation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explanation of why this integration was generated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the integration."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicate the strategy/methodology used to generate the integration."
          }
        },
        "integrationVersion": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationVersion",
          "traits": {
            "smithy.api#documentation": "The integration version containing basic triggers and tasks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An integration skeleton containing basic fields which can be used to create an integration on the UI."
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoIntArrayFunction": {
      "type": "structure",
      "members": {
        "functionName": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoIntArrayFunctionFunctionNameEnum"
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoIntArrayFunctionFunctionNameEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "APPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEND"
          }
        },
        "SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIZE"
          }
        },
        "SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUM"
          }
        },
        "AVG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVG"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIN"
          }
        },
        "TO_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_SET"
          }
        },
        "APPEND_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEND_ALL"
          }
        },
        "TO_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_JSON"
          }
        },
        "SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SET"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE"
          }
        },
        "REMOVE_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE_AT"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "FOR_EACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOR_EACH"
          }
        },
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILTER"
          }
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoStringParameterArray": {
      "type": "structure",
      "members": {
        "stringValues": {
          "target": "com.gcp.integrations_v2#StringList"
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoEventParameters": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoParameterEntryList",
          "traits": {
            "smithy.api#documentation": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see"
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoParameterEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoParameterEntry"
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetValueType": {
      "type": "structure",
      "members": {
        "intArray": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntParameterArray",
          "traits": {
            "smithy.api#documentation": "Integer Array."
          }
        },
        "stringArray": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetStringParameterArray",
          "traits": {
            "smithy.api#documentation": "String Array."
          }
        },
        "doubleValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Double Number."
          }
        },
        "doubleArray": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetDoubleParameterArray",
          "traits": {
            "smithy.api#documentation": "Double Number Array."
          }
        },
        "booleanValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String."
          }
        },
        "booleanArray": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetBooleanParameterArray",
          "traits": {
            "smithy.api#documentation": "Boolean Array."
          }
        },
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Integer."
          }
        },
        "jsonValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Json."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the parameter."
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationConfigParameter": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetValueType",
          "traits": {
            "smithy.api#documentation": "Values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
          }
        },
        "parameter": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationParameter",
          "traits": {
            "smithy.api#documentation": "Optional. Integration Parameter to provide the default value, data type and attributes required for the Integration config variables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Integration Config Parameter is defined in the integration config and are used to provide external configuration for integration. It provide information about data types of the expected parameters and provide any default values or value. They can also be used to add custom attributes."
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoStringFunction": {
      "type": "structure",
      "members": {
        "functionName": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoStringFunctionFunctionNameEnum"
        }
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoStringFunctionFunctionNameEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "CONCAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONCAT"
          }
        },
        "TO_UPPERCASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_UPPERCASE"
          }
        },
        "TO_LOWERCASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_LOWERCASE"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "SPLIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPLIT"
          }
        },
        "LENGTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LENGTH"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS"
          }
        },
        "TO_INT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_INT"
          }
        },
        "TO_DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_DOUBLE"
          }
        },
        "TO_BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_BOOLEAN"
          }
        },
        "TO_BASE_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_BASE_64"
          }
        },
        "TO_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_JSON"
          }
        },
        "EQUALS_IGNORE_CASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS_IGNORE_CASE"
          }
        },
        "REPLACE_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLACE_ALL"
          }
        },
        "SUBSTRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSTRING"
          }
        },
        "RESOLVE_TEMPLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLVE_TEMPLATE"
          }
        },
        "DECODE_BASE64_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECODE_BASE64_STRING"
          }
        }
      }
    },
    "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetGenerateIntegrationBranchResponse": {
      "type": "structure",
      "members": {
        "integrationBranch": {
          "target": "com.gcp.integrations_v2#GoogleCloudIntegrationsV2DuetIntegrationBranch",
          "traits": {
            "smithy.api#documentation": "The integration branch returned by Duet"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message containing the generated integration branch data."
      }
    },
    "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoParameterMap": {
      "type": "structure",
      "members": {
        "keyType": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoParameterMapKeyTypeEnum",
          "traits": {
            "smithy.api#documentation": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this."
          }
        },
        "entries": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoParameterMapEntryList"
        },
        "valueType": {
          "target": "com.gcp.integrations_v2#EnterpriseCrmEventbusProtoParameterMapValueTypeEnum"
        }
      },
      "traits": {
[...]
