{
  "smithy": "2.0",
  "metadata": {
    "service": "lustre",
    "version": "v1",
    "title": "Google Cloud Managed Lustre API",
    "baseUrl": "https://lustre.googleapis.com/",
    "distilled.finalized": true
  },
  "shapes": {
    "com.gcp.lustre_v1#Lustre_Date": {
      "type": "structure",
      "members": {
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.lustre_v1#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.lustre_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "bindings": {
          "target": "com.gcp.lustre_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.lustre_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.lustre_v1#AuditConfig"
      }
    },
    "com.gcp.lustre_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.lustre_v1#Binding"
      }
    },
    "com.gcp.lustre_v1#LustrePath": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The root directory path to the Managed Lustre file system. Must start with `/`. Default is `/`. If you're importing data into Managed Lustre, any path other than the default must already exist on the file system."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The root directory path to the Lustre file system."
      }
    },
    "com.gcp.lustre_v1#TimeOfDay": {
      "type": "structure",
      "members": {
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        },
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
      }
    },
    "com.gcp.lustre_v1#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.lustre_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of a long-running operation."
      }
    },
    "com.gcp.lustre_v1#ExportDataRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. UUID to identify requests."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-specified service account used to perform the transfer. If unspecified, the Managed Lustre service agent is used. Use one of the following formats: * `{EMAIL_ADDRESS_OR_UNIQUE_ID}` * `projects/{PROJECT_ID}/serviceAccounts/{EMAIL_ADDRESS_OR_UNIQUE_ID}` * `projects/-/serviceAccounts/{EMAIL_ADDRESS_OR_UNIQUE_ID}`"
          }
        },
        "lustrePath": {
          "target": "com.gcp.lustre_v1#LustrePath",
          "traits": {
            "smithy.api#documentation": "The root directory path to the Managed Lustre file system. Must start with `/`. Default is `/`."
          }
        },
        "gcsPath": {
          "target": "com.gcp.lustre_v1#GcsPath",
          "traits": {
            "smithy.api#documentation": "The URI to a Cloud Storage bucket, or a path within a bucket, using the format `gs:////`. If a path inside the bucket is specified, it must end with a forward slash (`/`)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Export data from Managed Lustre to a Cloud Storage bucket."
      }
    },
    "com.gcp.lustre_v1#AccessRulesOptions": {
      "type": "structure",
      "members": {
        "defaultSquashGid": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The user squash GID for the default access rule. This user squash GID applies to all root users connecting from clients that are not matched by any of the access rules. If not set, the default is 0 (no GID squash)."
          }
        },
        "defaultSquashMode": {
          "target": "com.gcp.lustre_v1#AccessRulesOptionsDefaultSquashModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The squash mode for the default access rule."
          }
        },
        "accessRules": {
          "target": "com.gcp.lustre_v1#AccessRuleList",
          "traits": {
            "smithy.api#documentation": "Optional. The access rules for the instance."
          }
        },
        "defaultSquashUid": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The user squash UID for the default access rule. This user squash UID applies to all root users connecting from clients that are not matched by any of the access rules. If not set, the default is 0 (no UID squash)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP-based access rules for the Managed Lustre instance. These options define the root user squash configuration."
      }
    },
    "com.gcp.lustre_v1#AccessRulesOptionsDefaultSquashModeEnum": {
      "type": "enum",
      "members": {
        "SQUASH_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQUASH_MODE_UNSPECIFIED"
          }
        },
        "NO_SQUASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SQUASH"
          }
        },
        "ROOT_SQUASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROOT_SQUASH"
          }
        }
      }
    },
    "com.gcp.lustre_v1#AccessRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.lustre_v1#AccessRule"
      }
    },
    "com.gcp.lustre_v1#Mirror": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.lustre_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels to apply to the mirror."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique ID of the resource."
          }
        },
        "lustrePath": {
          "target": "com.gcp.lustre_v1#LustrePath",
          "traits": {
            "smithy.api#documentation": "Required. Can be dir/subDir."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the mirror."
          }
        },
        "state": {
          "target": "com.gcp.lustre_v1#MirrorStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] The current state of the mirror."
          }
        },
        "gcsPath": {
          "target": "com.gcp.lustre_v1#GcsPath",
          "traits": {
            "smithy.api#documentation": "Required. URI to a Cloud Storage bucket, or a path within a bucket. gs://// path must end with '/'."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Update time stamp."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the mirror. Format: projects/{project}/locations/{location}/instances/{instance}/mirrors/{mirror}"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Create time stamp."
          }
        },
        "deletedFilesRetained": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, files will be retained in lustre after the corresponding files are deleted from cloud storage. Default is false."
          }
        },
        "direction": {
          "target": "com.gcp.lustre_v1#MirrorDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Required. Represents the direction of the mirror."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a mirror of a Lustre instance."
      }
    },
    "com.gcp.lustre_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.lustre_v1#MirrorStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "INITIAL_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIAL_SYNC"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        }
      }
    },
    "com.gcp.lustre_v1#MirrorDirectionEnum": {
      "type": "enum",
      "members": {
        "DIRECTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTION_UNSPECIFIED"
          }
        },
        "FROM_CLOUD_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FROM_CLOUD_STORAGE"
          }
        }
      }
    },
    "com.gcp.lustre_v1#ListMirrorsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.lustre_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        },
        "mirrors": {
          "target": "com.gcp.lustre_v1#MirrorList",
          "traits": {
            "smithy.api#documentation": "List of mirrors."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListMirrors."
      }
    },
    "com.gcp.lustre_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.lustre_v1#MirrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.lustre_v1#Mirror"
      }
    },
    "com.gcp.lustre_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.lustre_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.lustre_v1#ReconciliationOperationMetadata": {
      "type": "structure",
      "members": {
        "deleteResource": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "DEPRECATED. Use exclusive_action instead."
          }
        },
        "exclusiveAction": {
          "target": "com.gcp.lustre_v1#ReconciliationOperationMetadataExclusiveActionEnum",
          "traits": {
            "smithy.api#documentation": "Excluisive action returned by the CLH."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation metadata returned by the CLH during resource state reconciliation."
      }
    },
    "com.gcp.lustre_v1#ReconciliationOperationMetadataExclusiveActionEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_REPAIR_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_REPAIR_ACTION"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "RETRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY"
          }
        }
      }
    },
    "com.gcp.lustre_v1#DirectoryPolicy": {
      "type": "structure",
      "members": {
        "directoryPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The lustre instance filesystem full path of the directory. It must start with a slash. e.g. /lustre/testFolder"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. The resource name of the directory policy. DirectoryPolicy names have the form `projects/{project}/locations/{location}/instances/{instance}/directoryPolicies/{id}`. {id} is user provided."
          }
        },
        "state": {
          "target": "com.gcp.lustre_v1#DirectoryPolicyStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the directory policy."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique ID of the resource."
          }
        },
        "lustreProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The lustre project ID assigned for the directory by the service. This read-only ID can be used to manage quotas. See more details in https://docs.cloud.google.com/managed-lustre/docs/file-system-quotas#set_quotas"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A directory policy for a Managed Lustre instance."
      }
    },
    "com.gcp.lustre_v1#DirectoryPolicyStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.lustre_v1#Operation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.lustre_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "metadata": {
          "target": "com.gcp.lustre_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "response": {
          "target": "com.gcp.lustre_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.lustre_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.lustre_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.lustre_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.lustre_v1#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "metadata": {
          "target": "com.gcp.lustre_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "labels": {
          "target": "com.gcp.lustre_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.lustre_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.lustre_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "operations": {
          "target": "com.gcp.lustre_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.lustre_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.lustre_v1#Operation"
      }
    },
    "com.gcp.lustre_v1#Binding": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.lustre_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.lustre_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.lustre_v1#GcsPath": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URI to a Cloud Storage bucket, or a path within a bucket, using the format `gs:////`. If a path inside the bucket is specified, it must end with a forward slash (`/`)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies a Cloud Storage bucket and, optionally, a path inside the bucket."
      }
    },
    "com.gcp.lustre_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "exemptedMembers": {
          "target": "com.gcp.lustre_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        },
        "logType": {
          "target": "com.gcp.lustre_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.lustre_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.lustre_v1#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.lustre_v1#Instance": {
      "type": "structure",
      "members": {
        "gkeSupportEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: No longer required for GKE instance creation. Indicates whether you want to enable support for GKE clients. By default, GKE clients are not supported."
          }
        },
        "filesystem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The filesystem name for this instance. This name is used by client-side tools, including when mounting the instance. Must be eight characters or less and can only contain letters and numbers."
          }
        },
        "labels": {
          "target": "com.gcp.lustre_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs."
          }
        },
        "dynamicTierOptions": {
          "target": "com.gcp.lustre_v1#DynamicTierOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Specifies whether the instance is on the Dynamic tier. See [Performance tiers](https://docs.cloud.google.com/managed-lustre/docs/performance-tiers) for more information."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique ID of the resource. This is unrelated to the access rules which allow specifying the root squash uid."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A user-readable description of the instance."
          }
        },
        "state": {
          "target": "com.gcp.lustre_v1#InstanceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the instance."
          }
        },
        "effectiveVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The effective version of the instance. Format: `Lustre_YYYYMMDD.NN_pXX`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the instance was created."
          }
        },
        "availableVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The available version that this instance can be upgraded to. Format: `Lustre_YYYYMMDD.NN_pXX`"
          }
        },
        "upcomingMaintenanceSchedule": {
          "target": "com.gcp.lustre_v1#MaintenanceSchedule",
          "traits": {
            "smithy.api#documentation": "Output only. Date and time of upcoming maintenance for the instance, if a maintenance policy is set."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The full name of the VPC network to which the instance is connected. Must be in the format `projects/{project_id}/global/networks/{network_name}`."
          }
        },
        "kmsKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The Cloud KMS key name to use for data encryption. If not set, the instance will use Google-managed encryption keys. If set, the instance will use customer-managed encryption keys. The key must be in the same region as the instance. The key format is: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}"
          }
        },
        "maintenancePolicy": {
          "target": "com.gcp.lustre_v1#MaintenancePolicy",
          "traits": {
            "smithy.api#documentation": "Optional. The maintenance policy for the instance to determine when to allow or exclude the instance from maintenance updates."
          }
        },
        "placementPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The placement policy name for the instance in the format of projects/{project}/locations/{location}/resourcePolicies/{resource_policy}"
          }
        },
        "perUnitStorageThroughput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The throughput of the instance in MBps per TiB. Valid values are 0, 125, 250, 500, 1000. See [Performance tiers](https://docs.cloud.google.com/managed-lustre/docs/performance-tiers) for more information. If the instance is using the Dynamic tier, this field must not be set or must be set to zero."
          }
        },
        "mountPoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Mount point of the instance in the format `IP_ADDRESS@tcp:/FILESYSTEM`."
          }
        },
        "capacityGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The storage capacity of the instance in gibibytes (GiB). Allowed values depend on the `perUnitStorageThroughput`. See [Performance tiers](https://docs.cloud.google.com/managed-lustre/docs/performance-tiers) for specific minimums, maximums, and step sizes for each performance tier."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the instance was last updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the instance."
          }
        },
        "accessRulesOptions": {
          "target": "com.gcp.lustre_v1#AccessRulesOptions",
          "traits": {
            "smithy.api#documentation": "Optional. The access rules options for the instance."
          }
        },
        "targetVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The target version of the instance. Setting this field triggers a self-service update to the specified version. Format: `Lustre_YYYYMMDD.NN_pXX` or `latest`"
          }
        },
        "stateReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The reason why the instance is in a certain state (e.g. SUSPENDED)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Managed Lustre instance."
      }
    },
    "com.gcp.lustre_v1#InstanceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPGRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADING"
          }
        },
        "REPAIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPAIRING"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        }
      }
    },
    "com.gcp.lustre_v1#DynamicTierOptions": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.lustre_v1#DynamicTierOptionsModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The dynamic tier mode of the instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dynamic tier options for a Managed Lustre instance."
      }
    },
    "com.gcp.lustre_v1#DynamicTierOptionsModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "DEFAULT_CACHE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_CACHE"
          }
        }
      }
    },
    "com.gcp.lustre_v1#RescheduleMaintenanceRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A unique identifier for this request. A random UUID is recommended. This request is only idempotent if a `request_id` is provided."
          }
        },
        "reschedule": {
          "target": "com.gcp.lustre_v1#Reschedule",
          "traits": {
            "smithy.api#documentation": "Required. The desired reschedule settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for requesting to reschedule a maintenance event for a specific instance."
      }
    },
    "com.gcp.lustre_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.lustre_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.lustre_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.lustre_v1#Location"
      }
    },
    "com.gcp.lustre_v1#MaintenanceExclusionWindow": {
      "type": "structure",
      "members": {
        "time": {
          "target": "com.gcp.lustre_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Required. Time in UTC when the exclusion window starts on start_date and ends on end_date. This can be: * Full time OR * All zeros for 00:00:00 UTC"
          }
        },
        "startDate": {
          "target": "com.gcp.lustre_v1#Lustre_Date",
          "traits": {
            "smithy.api#documentation": "Required. Start date of the exclusion period in UTC time zone. This date is inclusive."
          }
        },
        "endDate": {
          "target": "com.gcp.lustre_v1#Lustre_Date",
          "traits": {
            "smithy.api#documentation": "Required. End date of the exclusion period in UTC time zone. This date is inclusive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exclusion period when maintenance updates should not occur. An exclusion window can be in either of the following two formats: * Non-recurring : A full date, with non-zero year, month and day values. * Recurring : A month and day value, with a zero year. Time zone is UTC."
      }
    },
    "com.gcp.lustre_v1#MaintenancePolicy": {
      "type": "structure",
      "members": {
        "maintenanceExclusionWindow": {
          "target": "com.gcp.lustre_v1#MaintenanceExclusionWindowList",
          "traits": {
            "smithy.api#documentation": "Optional. The exclusion windows for the instance. Currently limited to 1 window."
          }
        },
        "weeklyMaintenanceWindows": {
          "target": "com.gcp.lustre_v1#WeeklyMaintenanceWindowList",
          "traits": {
            "smithy.api#documentation": "Required. The weekly maintenance windows for the instance. Currently limited to 1 window."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a maintenance policy for a resource."
      }
    },
    "com.gcp.lustre_v1#MaintenanceExclusionWindowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.lustre_v1#MaintenanceExclusionWindow"
      }
    },
    "com.gcp.lustre_v1#WeeklyMaintenanceWindowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.lustre_v1#WeeklyMaintenanceWindow"
      }
    },
    "com.gcp.lustre_v1#Reschedule": {
      "type": "structure",
      "members": {
        "scheduleTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Required if reschedule_type is BY_TIME. Timestamp when the maintenance shall be rescheduled to. This time must be within 28 days of the original scheduled maintenance start time."
          }
        },
        "rescheduleType": {
          "target": "com.gcp.lustre_v1#RescheduleRescheduleTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of rescheduling."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The desired reschedule settings."
      }
    },
    "com.gcp.lustre_v1#RescheduleRescheduleTypeEnum": {
      "type": "enum",
      "members": {
        "RESCHEDULE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESCHEDULE_TYPE_UNSPECIFIED"
          }
        },
        "IMMEDIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMMEDIATE"
          }
        },
        "NEXT_AVAILABLE_WINDOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_AVAILABLE_WINDOW"
          }
        },
        "BY_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BY_TIME"
          }
        }
      }
    },
    "com.gcp.lustre_v1#WeeklyMaintenanceWindow": {
      "type": "structure",
      "members": {
        "dayOfWeek": {
          "target": "com.gcp.lustre_v1#WeeklyMaintenanceWindowDayOfWeekEnum",
          "traits": {
            "smithy.api#documentation": "Required. Day of the week for the maintenance window."
          }
        },
        "startTime": {
          "target": "com.gcp.lustre_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Required. Start time of the maintenance window in UTC time zone."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Weekly time window in which maintenance updates may occur. Duration of the window is currently fixed at 1 hour. Time zone is UTC."
      }
    },
    "com.gcp.lustre_v1#WeeklyMaintenanceWindowDayOfWeekEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.lustre_v1#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.lustre_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        },
        "instances": {
          "target": "com.gcp.lustre_v1#InstanceList",
          "traits": {
            "smithy.api#documentation": "Response from ListInstances."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Instances"
      }
    },
    "com.gcp.lustre_v1#InstanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.lustre_v1#Instance"
      }
    },
    "com.gcp.lustre_v1#ImportDataRequest": {
      "type": "structure",
      "members": {
        "gcsPath": {
          "target": "com.gcp.lustre_v1#GcsPath",
          "traits": {
            "smithy.api#documentation": "The Cloud Storage source bucket and, optionally, path inside the bucket. If a path inside the bucket is specified, it must end with a forward slash (`/`)."
          }
        },
        "lustrePath": {
          "target": "com.gcp.lustre_v1#LustrePath",
          "traits": {
            "smithy.api#documentation": "Lustre path destination."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-specified service account used to perform the transfer. If unspecified, the default Managed Lustre service agent will be used. Use one of the following formats: * `{EMAIL_ADDRESS_OR_UNIQUE_ID}` * `projects/{PROJECT_ID}/serviceAccounts/{EMAIL_ADDRESS_OR_UNIQUE_ID}` * `projects/-/serviceAccounts/{EMAIL_ADDRESS_OR_UNIQUE_ID}`"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. UUID to identify requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for importing data to Lustre."
      }
    },
    "com.gcp.lustre_v1#AccessRule": {
      "type": "structure",
      "members": {
        "ipAddressRanges": {
          "target": "com.gcp.lustre_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The IP address ranges to which to apply this access rule. Accepts non-overlapping CIDR ranges (e.g., `192.168.1.0/24`) and IP addresses (e.g., `192.168.1.0`)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the access rule policy group. Must be 16 characters or less and include only alphanumeric characters or '_'."
          }
        },
        "squashMode": {
          "target": "com.gcp.lustre_v1#AccessRuleSquashModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Squash mode for the access rule."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single policy group with IP-based access rules for the Managed Lustre instance."
      }
    },
    "com.gcp.lustre_v1#AccessRuleSquashModeEnum": {
      "type": "enum",
      "members": {
        "SQUASH_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQUASH_MODE_UNSPECIFIED"
          }
        },
        "NO_SQUASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SQUASH"
          }
        },
        "ROOT_SQUASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROOT_SQUASH"
          }
        }
      }
    },
    "com.gcp.lustre_v1#AuditConfig": {
      "type": "structure",
      "members": {
        "auditLogConfigs": {
          "target": "com.gcp.lustre_v1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.lustre_v1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.lustre_v1#AuditLogConfig"
      }
    },
    "com.gcp.lustre_v1#ListDirectoryPoliciesResponse": {
      "type": "structure",
      "members": {
        "directoryPolicies": {
          "target": "com.gcp.lustre_v1#DirectoryPolicyList",
          "traits": {
            "smithy.api#documentation": "The list of DirectoryPolicies."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListDirectoryPolicies."
      }
    },
    "com.gcp.lustre_v1#DirectoryPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.lustre_v1#DirectoryPolicy"
      }
    },
    "com.gcp.lustre_v1#MaintenanceSchedule": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The scheduled start time for the maintenance."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The scheduled end time for the maintenance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a scheduled maintenance event."
      }
    },
    "com.gcp.lustre_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.lustre_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.lustre_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.lustre_v1#DocumentMap"
      }
    },
    "com.gcp.lustre_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        },
        "policy": {
          "target": "com.gcp.lustre_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.lustre_v1#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.lustre_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.lustre_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.lustre_v1#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.lustre_v1#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.lustre_v1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.lustre_v1#NotFound"
        },
        {
          "target": "com.gcp.lustre_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.lustre_v1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.lustre_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.lustre_v1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.lustre_v1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.lustre_v1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.lustre_v1#NotFound"
        },
        {
          "target": "com.gcp.lustre_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.lustre_v1#SetIamPolicyProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.lustre_v1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.lustre_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.lustre_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.lustre_v1#SetIamPolicyProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.lustre_v1#SetIamPolicyProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.lustre_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.lustre_v1#NotFound"
        },
        {
          "target": "com.gcp.lustre_v1#Forbidden"
        },
        {
          "target": "com.gcp.lustre_v1#BadRequest"
        },
        {
          "target": "com.gcp.lustre_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
      }
    },
    "com.gcp.lustre_v1#GetIamPolicyProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.lustre_v1#GetIamPolicyProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.lustre_v1#GetIamPolicyProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.lustre_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.lustre_v1#NotFound"
        },
        {
          "target": "com.gcp.lustre_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
      }
    },
    "com.gcp.lustre_v1#DeleteProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the instance to delete, in the format `projects/{projectId}/locations/{location}/instances/{instanceId}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, any sub-resources from this instance will also be deleted. Otherwise, the request will only work if the instance has no sub-resources.",
            "smithy.api#httpQuery": "force"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        }
      }
    },
    "com.gcp.lustre_v1#DeleteProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.lustre_v1#DeleteProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.lustre_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.lustre_v1#NotFound"
        },
        {
          "target": "com.gcp.lustre_v1#Forbidden"
        },
        {
          "target": "com.gcp.lustre_v1#BadRequest"
        },
        {
          "target": "com.gcp.lustre_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a single instance."
      }
    },
    "com.gcp.lustre_v1#GetProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The instance resource name, in the format `projects/{projectId}/locations/{location}/instances/{instanceId}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.lustre_v1#GetProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.lustre_v1#GetProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.lustre_v1#Instance"
      },
      "errors": [
        {
          "target": "com.gcp.lustre_v1#NotFound"
        },
        {
          "target": "com.gcp.lustre_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single instance."
      }
    },
    "com.gcp.lustre_v1#TestIamPermissionsProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.lustre_v1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.lustre_v1#TestIamPermissionsProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.lustre_v1#TestIamPermissionsProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.lustre_v1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.lustre_v1#NotFound"
        },
        {
          "target": "com.gcp.lustre_v1#Forbidden"
        },
        {
          "target": "com.gcp.lustre_v1#BadRequest"
        },
        {
          "target": "com.gcp.lustre_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
      }
    },
    "com.gcp.lustre_v1#RescheduleMaintenanceProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Format: projects/{project}/locations/{location}/instances/{instance}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.lustre_v1#RescheduleMaintenanceRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.lustre_v1#RescheduleMaintenanceProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.lustre_v1#RescheduleMaintenanceProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.lustre_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.lustre_v1#NotFound"
        },
        {
          "target": "com.gcp.lustre_v1#Forbidden"
        },
        {
          "target": "com.gcp.lustre_v1#BadRequest"
        },
        {
          "target": "com.gcp.lustre_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:rescheduleMaintenance"
        },
        "smithy.api#documentation": "Reschedules a planned maintenance event for a specific instance."
      }
    },
    "com.gcp.lustre_v1#CreateProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The instance's project and location, in the format `projects/{project}/locations/{location}`. Locations map to Google Cloud zones; for example, `us-west1-b`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the Managed Lustre instance. * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter.",
            "smithy.api#httpQuery": "instanceId"
          }
        },
        "body": {
          "target": "com.gcp.lustre_v1#Instance",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.lustre_v1#CreateProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.lustre_v1#CreateProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.lustre_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.lustre_v1#NotFound"
        },
        {
          "target": "com.gcp.lustre_v1#Forbidden"
        },
        {
          "target": "com.gcp.lustre_v1#BadRequest"
        },
        {
          "target": "com.gcp.lustre_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/instances"
        },
        "smithy.api#documentation": "Creates a new instance in a given project and location."
      }
    },
    "com.gcp.lustre_v1#ListProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. Server might return fewer items than requested. If unspecified, the server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Desired order of results.",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token identifying a page of results the server should return.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The project and location for which to retrieve a list of instances, in the format `projects/{projectId}/locations/{location}`. To retrieve instance information for all locations, use \"-\" as the value of `{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filtering results.",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.lustre_v1#ListProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.lustre_v1#ListProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.lustre_v1#ListInstancesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.lustre_v1#NotFound"
        },
        {
          "target": "com.gcp.lustre_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/instances"
        },
        "smithy.api#documentation": "Lists instances in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.lustre_v1#PatchProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the instance.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the fields to be overwritten in the instance resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If no mask is provided then all fields present in the request are overwritten.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.lustre_v1#Instance",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.lustre_v1#PatchProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.lustre_v1#PatchProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.lustre_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.lustre_v1#NotFound"
        },
        {
          "target": "com.gcp.lustre_v1#Forbidden"
        },
        {
          "target": "com.gcp.lustre_v1#BadRequest"
        },
        {
          "target": "com.gcp.lustre_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates the parameters of a single instance."
      }
    },
    "com.gcp.lustre_v1#ImportDataProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the Managed Lustre instance in the format `projects/{project}/locations/{location}/instances/{instance}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.lustre_v1#ImportDataRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.lustre_v1#ImportDataProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.lustre_v1#ImportDataProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.lustre_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.lustre_v1#NotFound"
        },
        {
          "target": "com.gcp.lustre_v1#Forbidden"
        },
        {
          "target": "com.gcp.lustre_v1#BadRequest"
        },
        {
          "target": "com.gcp.lustre_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:importData"
        },
        "smithy.api#documentation": "Imports data from Cloud Storage to a Managed Lustre instance."
      }
    },
    "com.gcp.lustre_v1#ExportDataProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the Managed Lustre instance in the format `projects/{project}/locations/{location}/instances/{instance}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.lustre_v1#ExportDataRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.lustre_v1#ExportDataProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.lustre_v1#ExportDataProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.lustre_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.lustre_v1#NotFound"
        },
        {
          "target": "com.gcp.lustre_v1#Forbidden"
        },
        {
          "target": "com.gcp.lustre_v1#BadRequest"
        },
        {
          "target": "com.gcp.lustre_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:exportData"
        },
        "smithy.api#documentation": "Exports data from a Managed Lustre instance to Cloud Storage."
      }
    },
    "com.gcp.lustre_v1#ListProjectsLocationsInstancesMirrorsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filtering results.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. The server might return fewer items than requested. If unspecified, the default page size is 10. The maximum value is 1000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Desired order of results.",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Parent instance resource where the mirrors will be listed, in the format: projects/{project}/locations/{location}/instances/{instance}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `ListMirrors` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMirrors` must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.lustre_v1#ListProjectsLocationsInstancesMirrors": {
      "type": "operation",
      "input": {
        "target": "com.gcp.lustre_v1#ListProjectsLocationsInstancesMirrorsRequest"
      },
      "output": {
        "target": "com.gcp.lustre_v1#ListMirrorsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.lustre_v1#NotFound"
        },
        {
          "target": "com.gcp.lustre_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/mirrors"
        },
        "smithy.api#documentation": "Gets details of multiple mirrors under a given instance.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.lustre_v1#CreateProjectsLocationsInstancesMirrorsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Parent instance resource where the mirror will be created, in the format: projects/{project}/locations/{location}/instances/{instance}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The unique ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate mirrors for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate mirrors. The request ID must be a valid UUID version 4 with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`). This request is only idempotent if a `request_id` is provided.",
            "smithy.api#httpQuery": "requestId"
          }
[...]
