{
  "smithy": "2.0",
  "metadata": {
    "service": "readerrevenuesubscriptionlinking",
    "version": "v1",
    "title": "Reader Revenue Subscription Linking API",
    "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
    "distilled.finalized": true
  },
  "shapes": {
    "com.gcp.readerrevenuesubscriptionlinking_v1#ReaderEntitlements": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the singleton."
          }
        },
        "entitlements": {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#EntitlementList",
          "traits": {
            "smithy.api#documentation": "All of the entitlements for a publication reader."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A singleton containing all of a reader's entitlements for a publication."
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#EntitlementList": {
      "type": "list",
      "member": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#Entitlement"
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#Reader": {
      "type": "structure",
      "members": {
        "originatingPublicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The SwG publication id that the reader's subscription linking was originating from."
          }
        },
        "ppid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The publisher provided id of the reader."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the publication reader was created and associated with a Google user."
          }
        },
        "publicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The SwG publication id that the reader has linked their subscription to."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reader of a publication."
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#DeleteReaderResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response to deleting a reader of a publication."
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#ListReaderEntitlementsResponse": {
      "type": "structure",
      "members": {
        "readerEntitlements": {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#ReaderEntitlementsList",
          "traits": {
            "smithy.api#documentation": "The collection of ReaderEntitlements found across the scoped child publications. Every element's `name` field will contain the canonical sub-publication path, never the wildcard dash."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing the aggregated collection of matching ReaderEntitlements objects."
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#ReaderEntitlementsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#ReaderEntitlements"
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#Entitlement": {
      "type": "structure",
      "members": {
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Expiration time of the entitlement. If unset, the entitlement does not expire (indefinite entitlement). We need to support indefinite entitlements for platform publishers. dd: go/rrm-sl-notedotcom Entitlements that have expired over 30 days will be purged."
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit."
          }
        },
        "subscriptionToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single entitlement for a publication reader"
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#UpdateEntitlementsPublicationsReadersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the singleton.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The list of fields to update. Defaults to all fields.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#ReaderEntitlements",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#UpdateEntitlementsPublicationsReaders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#UpdateEntitlementsPublicationsReadersRequest"
      },
      "output": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#ReaderEntitlements"
      },
      "errors": [
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#NotFound"
        },
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#Forbidden"
        },
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#BadRequest"
        },
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist."
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#GetPublicationsReadersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#GetPublicationsReaders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#GetPublicationsReadersRequest"
      },
      "output": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#Reader"
      },
      "errors": [
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#NotFound"
        },
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist."
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#DeletePublicationsReadersRequest": {
      "type": "structure",
      "members": {
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, any entitlements under the reader will also be purged.",
            "smithy.api#httpQuery": "force"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#DeletePublicationsReaders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#DeletePublicationsReadersRequest"
      },
      "output": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#DeleteReaderResponse"
      },
      "errors": [
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#NotFound"
        },
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#Forbidden"
        },
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#BadRequest"
        },
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present."
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#GetEntitlementsPublicationsReadersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#GetEntitlementsPublicationsReaders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#GetEntitlementsPublicationsReadersRequest"
      },
      "output": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#ReaderEntitlements"
      },
      "errors": [
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#NotFound"
        },
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist."
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#ListPublications_ReadersEntitlementsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `ListReaderEntitlements` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReaderEntitlements` must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of entitlements to return. The service may return fewer than this value. If unspecified, at most 50 entitlements will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent reader scope. Format: \"publications/-/readers/{reader_id}\"",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#ListPublications_ReadersEntitlements": {
      "type": "operation",
      "input": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#ListPublications_ReadersEntitlementsRequest"
      },
      "output": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#ListReaderEntitlementsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#NotFound"
        },
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/entitlements"
        },
        "smithy.api#documentation": "Lists reader entitlements across parent publications via wildcard. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    }
  }
}
