{
  "smithy": "2.0",
  "metadata": {
    "service": "threatintelligence",
    "version": "v1beta",
    "title": "Threat Intelligence API",
    "baseUrl": "https://threatintelligence.googleapis.com/",
    "distilled.finalized": true
  },
  "shapes": {
    "com.gcp.threatintelligence_v1beta#ProductFix": {
      "type": "structure",
      "members": {
        "sourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The source ID of the fix. Ex: \"APPSEC-1420\"."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The URI of the fix."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the fix. Ex: \"Magento\"."
          }
        },
        "publishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The published time of the fix."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains details about a product fix."
      }
    },
    "com.gcp.threatintelligence_v1beta#Facet": {
      "type": "structure",
      "members": {
        "minValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339."
          }
        },
        "facetType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string."
          }
        },
        "facet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the facet. This is also the string that needs to be used in the filtering expression."
          }
        },
        "totalCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total number of records that contain this facet with ANY value."
          }
        },
        "maxValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value."
          }
        },
        "facetCounts": {
          "target": "com.gcp.threatintelligence_v1beta#FacetCountList",
          "traits": {
            "smithy.api#documentation": "List of counts for the facet (if categorical)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI."
      }
    },
    "com.gcp.threatintelligence_v1beta#FacetCountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.threatintelligence_v1beta#FacetCount"
      }
    },
    "com.gcp.threatintelligence_v1beta#DomainMonitoringGtiDetails": {
      "type": "structure",
      "members": {
        "threatClassification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The threat classification of the domain, obtained from the domain report (e.g. DomainMonitoring)."
          }
        },
        "domainPermutation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The permutation technique used for the domain (e.g., dictionary, homoglyph)."
          }
        },
        "gtiScore": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The GTI score of the domain. The threat score is a number between 0 and 100."
          }
        },
        "verdict": {
          "target": "com.gcp.threatintelligence_v1beta#DomainMonitoringGtiDetailsVerdictEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The verdict of the domain."
          }
        },
        "gtiDomainUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The GTI link for the domain."
          }
        },
        "avDetections": {
          "target": "com.gcp.threatintelligence_v1beta#AVDetections",
          "traits": {
            "smithy.api#documentation": "Optional. Detection counts across vendor feeds."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The GTI details of the domain."
      }
    },
    "com.gcp.threatintelligence_v1beta#DomainMonitoringGtiDetailsVerdictEnum": {
      "type": "enum",
      "members": {
        "DOMAIN_MONITORING_GTI_VERDICT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_MONITORING_GTI_VERDICT_UNSPECIFIED"
          }
        },
        "DOMAIN_MONITORING_GTI_VERDICT_BENIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_MONITORING_GTI_VERDICT_BENIGN"
          }
        },
        "DOMAIN_MONITORING_GTI_VERDICT_UNDETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_MONITORING_GTI_VERDICT_UNDETECTED"
          }
        },
        "DOMAIN_MONITORING_GTI_VERDICT_SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_MONITORING_GTI_VERDICT_SUSPICIOUS"
          }
        },
        "DOMAIN_MONITORING_GTI_VERDICT_MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_MONITORING_GTI_VERDICT_MALICIOUS"
          }
        },
        "DOMAIN_MONITORING_GTI_VERDICT_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_MONITORING_GTI_VERDICT_UNKNOWN"
          }
        }
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileCompany": {
      "type": "structure",
      "members": {
        "citationIds": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The citation ids for the company."
          }
        },
        "company": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the company."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Company information for the customer profile."
      }
    },
    "com.gcp.threatintelligence_v1beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.threatintelligence_v1beta#DomainMonitoringDomainDetails": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The domain name to match against."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details specific to a monitored domain."
      }
    },
    "com.gcp.threatintelligence_v1beta#AlertDocumentTranslation": {
      "type": "structure",
      "members": {
        "translatedTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The translated title of the document."
          }
        },
        "translatedContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The translated content of the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The translation of an alert document."
      }
    },
    "com.gcp.threatintelligence_v1beta#InsiderThreatFindingDetail": {
      "type": "structure",
      "members": {
        "documentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Use `discovery_document` instead. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis."
          }
        },
        "discoveryDocument": {
          "target": "com.gcp.threatintelligence_v1beta#DiscoveryDocument",
          "traits": {
            "smithy.api#documentation": "Optional. The discovery document associated with the Insider Threat finding."
          }
        },
        "severity": {
          "target": "com.gcp.threatintelligence_v1beta#InsiderThreatFindingDetailSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat."
          }
        },
        "matchScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A detail object for a InsiderThreat finding."
      }
    },
    "com.gcp.threatintelligence_v1beta#InsiderThreatFindingDetailSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        }
      }
    },
    "com.gcp.threatintelligence_v1beta#DomainSetting": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.threatintelligence_v1beta#DomainSettingStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The verification state of the domain."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The domain name to match against."
          }
        },
        "domainMonitoringConfig": {
          "target": "com.gcp.threatintelligence_v1beta#DomainMonitoringFeatureConfig",
          "traits": {
            "smithy.api#documentation": "Optional. If not present, Domain Monitoring is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Feature settings and toggles for a single specific domain."
      }
    },
    "com.gcp.threatintelligence_v1beta#DomainSettingStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFIED"
          }
        }
      }
    },
    "com.gcp.threatintelligence_v1beta#DomainMonitoringUrlDetails": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URL to match against."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details specific to a monitored URL."
      }
    },
    "com.gcp.threatintelligence_v1beta#GetPasswordResponse": {
      "type": "structure",
      "members": {
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The decrypted cleartext password for the compromised credential."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for GetPassword."
      }
    },
    "com.gcp.threatintelligence_v1beta#Evidence": {
      "type": "structure",
      "members": {
        "commonThemes": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict."
          }
        },
        "distinctThemes": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "A list of semantic themes or descriptions unique to one source or semantically distant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details the evidence used to determine the relevance verdict."
      }
    },
    "com.gcp.threatintelligence_v1beta#Association": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.threatintelligence_v1beta#AssociationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the association."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the association."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an association with a vulnerability."
      }
    },
    "com.gcp.threatintelligence_v1beta#AssociationTypeEnum": {
      "type": "enum",
      "members": {
        "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED"
          }
        },
        "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR"
          }
        },
        "THREAT_INTEL_OBJECT_TYPE_MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_INTEL_OBJECT_TYPE_MALWARE"
          }
        },
        "THREAT_INTEL_OBJECT_TYPE_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_INTEL_OBJECT_TYPE_REPORT"
          }
        },
        "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN"
          }
        },
        "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION"
          }
        },
        "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS"
          }
        },
        "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY"
          }
        }
      }
    },
    "com.gcp.threatintelligence_v1beta#TargetTechnologyAlertDetail": {
      "type": "structure",
      "members": {
        "vulnerabilityMatch": {
          "target": "com.gcp.threatintelligence_v1beta#VulnerabilityMatch",
          "traits": {
            "smithy.api#documentation": "Optional. The vulnerability match details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains details for a technology watchlist alert."
      }
    },
    "com.gcp.threatintelligence_v1beta#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.threatintelligence_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.threatintelligence_v1beta#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.threatintelligence_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.threatintelligence_v1beta#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileCitedString": {
      "type": "structure",
      "members": {
        "citationIds": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The citation ids for the string."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The value of the string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A string with citation ids."
      }
    },
    "com.gcp.threatintelligence_v1beta#ListFindingsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token."
          }
        },
        "findings": {
          "target": "com.gcp.threatintelligence_v1beta#FindingList",
          "traits": {
            "smithy.api#documentation": "List of findings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListFindings."
      }
    },
    "com.gcp.threatintelligence_v1beta#FindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.threatintelligence_v1beta#Finding"
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileLocation": {
      "type": "structure",
      "members": {
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The brand of the location."
          }
        },
        "facilityType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The type of location."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The address of the location."
          }
        },
        "citationIds": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The citation ids for the location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location information for the customer profile."
      }
    },
    "com.gcp.threatintelligence_v1beta#ConfigurationRevision": {
      "type": "structure",
      "members": {
        "snapshot": {
          "target": "com.gcp.threatintelligence_v1beta#Configuration",
          "traits": {
            "smithy.api#documentation": "The snapshot of the configuration"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the Revision was created"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable."
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomThreatScenarioConfig": {
      "type": "structure",
      "members": {
        "scenarioType": {
          "target": "com.gcp.threatintelligence_v1beta#CustomThreatScenarioConfigScenarioTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The custom threat scenario type used to create this configuration."
          }
        },
        "documentQuery": {
          "target": "com.gcp.threatintelligence_v1beta#DocumentQuery",
          "traits": {
            "smithy.api#documentation": "Optional. The query used to match documents."
          }
        },
        "documentCondition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The condition driving the scenario, stored as a stringified JSON. This is used to query/filter documents."
          }
        },
        "legacyMonitorMetadata": {
          "target": "com.gcp.threatintelligence_v1beta#LegacyMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Legacy metadata associated with this scenario/monitor."
          }
        },
        "compiledLuceneQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The compiled Lucene query string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomThreatScenarioConfig represents a user-defined threat scenario configuration."
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomThreatScenarioConfigScenarioTypeEnum": {
      "type": "enum",
      "members": {
        "CUSTOM_THREAT_SCENARIO_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_THREAT_SCENARIO_TYPE_UNSPECIFIED"
          }
        },
        "DATA_LEAKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_LEAKS"
          }
        },
        "DEEP_DARK_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEEP_DARK_WEB"
          }
        },
        "DOMAIN_PROTECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_PROTECTION"
          }
        },
        "RANSOMWARE_THREATS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RANSOMWARE_THREATS"
          }
        },
        "INITIAL_ACCESS_BROKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIAL_ACCESS_BROKER"
          }
        },
        "NETBLOCKS_AND_DOMAIN_MENTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETBLOCKS_AND_DOMAIN_MENTIONS"
          }
        },
        "SUPPLY_CHAIN_COMPROMISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUPPLY_CHAIN_COMPROMISE"
          }
        },
        "CARD_SHOPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARD_SHOPS"
          }
        },
        "CUSTOM_MONITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_MONITOR"
          }
        }
      }
    },
    "com.gcp.threatintelligence_v1beta#DiscoveryDocument": {
      "type": "structure",
      "members": {
        "documentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The identifier of the discovery document."
          }
        },
        "documentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The classification/type of the document (e.g. `COMMUNICATION`, `DDW_COMMUNICATION`, `message`)."
          }
        },
        "communicationContext": {
          "target": "com.gcp.threatintelligence_v1beta#CommunicationContext",
          "traits": {
            "smithy.api#documentation": "Optional. Detailed communication context metadata for documents originating from deep and dark web communication channels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Replaces the raw string ID to hold associated metadata."
      }
    },
    "com.gcp.threatintelligence_v1beta#ConfigurationDetail": {
      "type": "structure",
      "members": {
        "customThreatScenario": {
          "target": "com.gcp.threatintelligence_v1beta#CustomThreatScenarioConfig",
          "traits": {
            "smithy.api#documentation": "Custom Threat Scenario detail config."
          }
        },
        "domainConfiguration": {
          "target": "com.gcp.threatintelligence_v1beta#DomainConfiguration",
          "traits": {
            "smithy.api#documentation": "Domain Configuration detail config."
          }
        },
        "domainMonitoring": {
          "target": "com.gcp.threatintelligence_v1beta#DomainMonitoringConfig",
          "traits": {
            "smithy.api#documentation": "Domain Monitoring detail config."
          }
        },
        "detailType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
          }
        },
        "technologyWatchlist": {
          "target": "com.gcp.threatintelligence_v1beta#TechnologyWatchListConfig",
          "traits": {
            "smithy.api#documentation": "Technology Watchlist detail config."
          }
        },
        "customerProfile": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileConfig",
          "traits": {
            "smithy.api#documentation": "Customer Profile detail config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper class that contains the union struct for all the various configuration detail specific classes."
      }
    },
    "com.gcp.threatintelligence_v1beta#DocumentQuery": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The query string."
          }
        },
        "queryType": {
          "target": "com.gcp.threatintelligence_v1beta#DocumentQueryQueryTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a query to match documents."
      }
    },
    "com.gcp.threatintelligence_v1beta#DocumentQueryQueryTypeEnum": {
      "type": "enum",
      "members": {
        "QUERY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_TYPE_UNSPECIFIED"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        }
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileProduct": {
      "type": "structure",
      "members": {
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The brand of the product."
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the product."
          }
        },
        "citationIds": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The citation ids for the product."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Product information for the customer profile."
      }
    },
    "com.gcp.threatintelligence_v1beta#MarkAlertAsBenignRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for MarkAlertAsBenign."
      }
    },
    "com.gcp.threatintelligence_v1beta#InitialAccessBrokerFindingDetail": {
      "type": "structure",
      "members": {
        "documentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Use `discovery_document` instead. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis."
          }
        },
        "matchScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations."
          }
        },
        "discoveryDocument": {
          "target": "com.gcp.threatintelligence_v1beta#DiscoveryDocument",
          "traits": {
            "smithy.api#documentation": "Optional. The discovery document associated with the IAB finding."
          }
        },
        "severity": {
          "target": "com.gcp.threatintelligence_v1beta#InitialAccessBrokerFindingDetailSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Required. The severity of the IAB finding. This indicates the potential impact of the threat."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A detail object for an Initial Access Broker (IAB) finding."
      }
    },
    "com.gcp.threatintelligence_v1beta#InitialAccessBrokerFindingDetailSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        }
      }
    },
    "com.gcp.threatintelligence_v1beta#CertificateDetails": {
      "type": "structure",
      "members": {
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The SSL certificate issuer."
          }
        },
        "subjectAlternativeNames": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The SSL subject alternative names."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details regarding the SSL certificate configuration."
      }
    },
    "com.gcp.threatintelligence_v1beta#ListAlertsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token."
          }
        },
        "alerts": {
          "target": "com.gcp.threatintelligence_v1beta#AlertList",
          "traits": {
            "smithy.api#documentation": "List of alerts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListAlerts."
      }
    },
    "com.gcp.threatintelligence_v1beta#AlertList": {
      "type": "list",
      "member": {
        "target": "com.gcp.threatintelligence_v1beta#Alert"
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileContactInfo": {
      "type": "structure",
      "members": {
        "citationIds": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The citation ids for the contact information."
          }
        },
        "other": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The other contact information."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the contact."
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phone number of the contact."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the contact."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address of the contact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contact information for the customer profile."
      }
    },
    "com.gcp.threatintelligence_v1beta#MarkAlertAsResolvedRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for MarkAlertAsResolved."
      }
    },
    "com.gcp.threatintelligence_v1beta#DataLeakAlertDetail": {
      "type": "structure",
      "members": {
        "discoveryDocuments": {
          "target": "com.gcp.threatintelligence_v1beta#DiscoveryDocumentList",
          "traits": {
            "smithy.api#documentation": "Output only. New structured metadata payload."
          }
        },
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
          }
        },
        "discoveryDocumentIds": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Use `discovery_documents` instead. Array of ids to accommodate multiple discovery documents."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Captures the specific details of Data Leak alert."
      }
    },
    "com.gcp.threatintelligence_v1beta#DiscoveryDocumentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.threatintelligence_v1beta#DiscoveryDocument"
      }
    },
    "com.gcp.threatintelligence_v1beta#Audit": {
      "type": "structure",
      "members": {
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Agent that created or updated the record, could be a UserId or a JobId."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time of creation or last update."
          }
        },
        "updater": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Agent that last updated the record, could be a UserId or a JobId."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time of creation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tracks basic CRUD facts."
      }
    },
    "com.gcp.threatintelligence_v1beta#MarkAlertAsEscalatedRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for MarkAlertAsEscalated."
      }
    },
    "com.gcp.threatintelligence_v1beta#MarkAlertAsNotActionableRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for MarkAlertAsNotActionable."
      }
    },
    "com.gcp.threatintelligence_v1beta#TargetTechnologyFindingDetail": {
      "type": "structure",
      "members": {
        "vulnerabilityMatch": {
          "target": "com.gcp.threatintelligence_v1beta#VulnerabilityMatch",
          "traits": {
            "smithy.api#documentation": "Optional. The vulnerability match details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains details for a technology watchlist finding."
      }
    },
    "com.gcp.threatintelligence_v1beta#SeverityAnalysis": {
      "type": "structure",
      "members": {
        "severityLevel": {
          "target": "com.gcp.threatintelligence_v1beta#SeverityAnalysisSeverityLevelEnum",
          "traits": {
            "smithy.api#documentation": "The level of severity."
          }
        },
        "confidence": {
          "target": "com.gcp.threatintelligence_v1beta#SeverityAnalysisConfidenceEnum",
          "traits": {
            "smithy.api#documentation": "The level of confidence in the given verdict."
          }
        },
        "reasoning": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structured severity analysis for a threat."
      }
    },
    "com.gcp.threatintelligence_v1beta#SeverityAnalysisSeverityLevelEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_LEVEL_UNSPECIFIED"
          }
        },
        "SEVERITY_LEVEL_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_LEVEL_LOW"
          }
        },
        "SEVERITY_LEVEL_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_LEVEL_MEDIUM"
          }
        },
        "SEVERITY_LEVEL_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_LEVEL_HIGH"
          }
        }
      }
    },
    "com.gcp.threatintelligence_v1beta#SeverityAnalysisConfidenceEnum": {
      "type": "enum",
      "members": {
        "CONFIDENCE_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIDENCE_LEVEL_UNSPECIFIED"
          }
        },
        "CONFIDENCE_LEVEL_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIDENCE_LEVEL_LOW"
          }
        },
        "CONFIDENCE_LEVEL_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIDENCE_LEVEL_MEDIUM"
          }
        },
        "CONFIDENCE_LEVEL_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIDENCE_LEVEL_HIGH"
          }
        }
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileConfig": {
      "type": "structure",
      "members": {
        "executives": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfilePersonList",
          "traits": {
            "smithy.api#documentation": "Optional. Executives of the organization."
          }
        },
        "summary": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileSummary",
          "traits": {
            "smithy.api#documentation": "Optional. A summarized version of the customer profile."
          }
        },
        "technologies": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileTechnologyList",
          "traits": {
            "smithy.api#documentation": "Optional. Technologies associated with the organization."
          }
        },
        "locations": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileLocationList",
          "traits": {
            "smithy.api#documentation": "Optional. Locations the organization is present or conducts business in."
          }
        },
        "securityConsiderations": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileSecurityConsiderations",
          "traits": {
            "smithy.api#documentation": "Optional. Security considerations for the organization."
          }
        },
        "parentCompanies": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileCompanyList",
          "traits": {
            "smithy.api#documentation": "Optional. The parent companies of the organization."
          }
        },
        "webPresences": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileWebPresenceList",
          "traits": {
            "smithy.api#documentation": "Optional. Web presence of the organization."
          }
        },
        "citations": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileCitationList",
          "traits": {
            "smithy.api#documentation": "Optional. Citations for the organization profile."
          }
        },
        "industries": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileIndustryList",
          "traits": {
            "smithy.api#documentation": "Optional. The industries the organization is involved in."
          }
        },
        "contactInfo": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileContactInfoList",
          "traits": {
            "smithy.api#documentation": "Optional. Contact information for the organization."
          }
        },
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the organization."
          }
        },
        "products": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileProductList",
          "traits": {
            "smithy.api#documentation": "Optional. Product information for the organization."
          }
        },
        "technologyPresence": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Technology presence of the organization."
          }
        },
        "orgSummary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A summary of the organization."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomerProfileConfig is the configuration for the customer profile."
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfilePersonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.threatintelligence_v1beta#CustomerProfilePerson"
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileTechnologyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.threatintelligence_v1beta#CustomerProfileTechnology"
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.threatintelligence_v1beta#CustomerProfileLocation"
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileCompanyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.threatintelligence_v1beta#CustomerProfileCompany"
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileWebPresenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.threatintelligence_v1beta#CustomerProfileWebPresence"
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileCitationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.threatintelligence_v1beta#CustomerProfileCitation"
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileIndustryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.threatintelligence_v1beta#CustomerProfileIndustry"
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileContactInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.threatintelligence_v1beta#CustomerProfileContactInfo"
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileProductList": {
      "type": "list",
      "member": {
        "target": "com.gcp.threatintelligence_v1beta#CustomerProfileProduct"
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileWebPresence": {
      "type": "structure",
      "members": {
        "citationIds": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The citation ids for the web presence."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The domain name of the web presence."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Web presence information for the customer profile."
      }
    },
    "com.gcp.threatintelligence_v1beta#AlertDocument": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Source of the intel item, e.g. DarkMarket."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The content of the document."
          }
        },
        "translation": {
          "target": "com.gcp.threatintelligence_v1beta#AlertDocumentTranslation",
          "traits": {
            "smithy.api#documentation": "Output only. The translation of the document, if available."
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The author of the document."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp of the original external publication of the document."
          }
        },
        "sourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URI of the intel item from the source."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The title of the document, if available."
          }
        },
        "aiSummary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. AI summary of the document."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The language code of the document."
          }
        },
        "ingestTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when GTI received the intel."
          }
        },
        "sourceUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the intel was last updated by the source."
          }
        },
        "collectionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the origin source collected the intel."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A document that is associated with an alert."
      }
    },
    "com.gcp.threatintelligence_v1beta#FindingDetail": {
      "type": "structure",
      "members": {
        "targetTechnology": {
          "target": "com.gcp.threatintelligence_v1beta#TargetTechnologyFindingDetail",
          "traits": {
            "smithy.api#documentation": "Technology Watchlist finding detail type."
          }
        },
        "insiderThreat": {
          "target": "com.gcp.threatintelligence_v1beta#InsiderThreatFindingDetail",
          "traits": {
            "smithy.api#documentation": "Insider Threat finding detail type."
          }
        },
        "domainMonitoring": {
          "target": "com.gcp.threatintelligence_v1beta#DomainMonitoringFindingDetail",
          "traits": {
            "smithy.api#documentation": "Domain Monitoring finding detail type."
          }
        },
        "detailType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
          }
        },
        "dataLeak": {
          "target": "com.gcp.threatintelligence_v1beta#DataLeakFindingDetail",
          "traits": {
            "smithy.api#documentation": "Data Leak finding detail type."
          }
        },
        "initialAccessBroker": {
          "target": "com.gcp.threatintelligence_v1beta#InitialAccessBrokerFindingDetail",
          "traits": {
            "smithy.api#documentation": "Initial Access Broker finding detail type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper class that contains the union struct for all the various findings detail specific classes."
      }
    },
    "com.gcp.threatintelligence_v1beta#LegacyMetadata": {
      "type": "structure",
      "members": {
        "staleTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the legacy monitor was considered stale."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the tenant owning the monitor."
          }
        },
        "emailNotificationImmediate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: Whether email notifications are intermediate/immediate. This field will not be used as email notifications are handled through the GTI Mail Hub."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Version of the monitor configuration."
          }
        },
        "conditionVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Version of the condition schema."
          }
        },
        "templateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the template this monitor was created from."
          }
        },
        "aggregationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether aggregation is enabled for alerts from this monitor."
          }
        },
        "disabledCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Code indicating why the monitor is disabled (if applicable)."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Description of the legacy monitor."
          }
        },
        "updaterUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. User ID who last updated the monitor."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the legacy monitor."
          }
        },
        "disabledReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Reason why the monitor is disabled (if applicable)."
          }
        },
        "legacyMonitorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique identifier of the legacy monitor."
          }
        },
        "emailNotificationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: Whether email notifications are enabled. This field will not be used as email notifications are handled through the GTI Mail Hub."
          }
        },
        "creatorUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. User ID who created the monitor."
          }
        },
        "aggregationSimilarity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Similarity threshold for aggregation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Legacy metadata associated with this scenario/monitor."
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileSecurityConsiderations": {
      "type": "structure",
      "members": {
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A note about the security considerations."
          }
        },
        "considerations": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Security considerations for the customer profile."
      }
    },
    "com.gcp.threatintelligence_v1beta#InitialAccessBrokerAlertDetail": {
      "type": "structure",
      "members": {
        "discoveryDocumentIds": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Use `discovery_documents` instead. Array of ids to accommodate multiple discovery documents."
          }
        },
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
          }
        },
        "discoveryDocuments": {
          "target": "com.gcp.threatintelligence_v1beta#DiscoveryDocumentList",
          "traits": {
            "smithy.api#documentation": "Output only. New structured metadata payload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Captures the specific details of InitialAccessBroker (IAB) alert."
      }
    },
    "com.gcp.threatintelligence_v1beta#MarkAlertAsTrackedExternallyRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for MarkAlertAsTrackedExternally."
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileTechnology": {
      "type": "structure",
      "members": {
        "citationIds": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The citation ids for the technology."
          }
        },
        "technology": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the technology."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Technology information for the customer profile."
      }
    },
    "com.gcp.threatintelligence_v1beta#ListConfigurationRevisionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "revisions": {
          "target": "com.gcp.threatintelligence_v1beta#ConfigurationRevisionList",
          "traits": {
            "smithy.api#documentation": "The Configuration Revisions associated with the specified Configuration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListConfigurationRevisions."
      }
    },
    "com.gcp.threatintelligence_v1beta#ConfigurationRevisionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.threatintelligence_v1beta#ConfigurationRevision"
      }
    },
    "com.gcp.threatintelligence_v1beta#SearchFindingsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token."
          }
        },
        "findings": {
          "target": "com.gcp.threatintelligence_v1beta#FindingList",
          "traits": {
            "smithy.api#documentation": "List of findings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SearchFindings."
      }
    },
    "com.gcp.threatintelligence_v1beta#DomainMonitoringFindingDetail": {
      "type": "structure",
      "members": {
        "gtiDetails": {
          "target": "com.gcp.threatintelligence_v1beta#DomainMonitoringGtiDetails",
          "traits": {
            "smithy.api#documentation": "Optional. The GTI details of the domain or URL."
          }
        },
        "infrastructure": {
          "target": "com.gcp.threatintelligence_v1beta#Infrastructure",
          "traits": {
            "smithy.api#documentation": "Optional. The infrastructure of the domain or URL."
          }
        },
        "threatAttributionDetails": {
          "target": "com.gcp.threatintelligence_v1beta#ThreatAttributionDetails",
          "traits": {
            "smithy.api#documentation": "Optional. The threat attribution details of the domain or URL."
          }
        },
        "registrationDetails": {
          "target": "com.gcp.threatintelligence_v1beta#DnsRegistrationDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Extracted WHOIS and DNS registration details."
          }
        },
        "protectedBrand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The protected brand name that triggered the alert."
          }
        },
        "domainDetails": {
          "target": "com.gcp.threatintelligence_v1beta#DomainMonitoringDomainDetails",
          "traits": {
            "smithy.api#documentation": "Details specific to a monitored domain."
          }
        },
        "dnsDetails": {
          "target": "com.gcp.threatintelligence_v1beta#DomainMonitoringDnsDetails",
          "traits": {
            "smithy.api#documentation": "Optional. The DNS details of the domain or URL."
          }
        },
        "protectedDomain": {
          "target": "com.gcp.threatintelligence_v1beta#DomainMonitoringDomainDetails",
          "traits": {
            "smithy.api#documentation": "The protected domain that triggered the alert."
          }
        },
        "matchedDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The matched domain."
          }
        },
        "whoisDetails": {
          "target": "com.gcp.threatintelligence_v1beta#DomainMonitoringWhoIsDetails",
          "traits": {
            "smithy.api#documentation": "Optional. The whois details of the domain or URL."
          }
        },
        "urlDetails": {
          "target": "com.gcp.threatintelligence_v1beta#DomainMonitoringUrlDetails",
          "traits": {
            "smithy.api#documentation": "Details specific to a monitored URL."
          }
        },
        "relationships": {
          "target": "com.gcp.threatintelligence_v1beta#Relationships",
          "traits": {
            "smithy.api#documentation": "Optional. The relationships of the domain or URL."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A detailed object for a Domain or URL finding."
      }
    },
    "com.gcp.threatintelligence_v1beta#Finding": {
      "type": "structure",
      "members": {
        "reoccurrenceTimes": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. When identical finding (same labels and same details) has re-occurred."
          }
        },
        "relevanceAnalysis": {
          "target": "com.gcp.threatintelligence_v1beta#RelevanceAnalysis",
          "traits": {
            "smithy.api#documentation": "Output only. High-Precision Relevance Analysis verdict for the finding."
          }
        },
        "detail": {
          "target": "com.gcp.threatintelligence_v1beta#FindingDetail",
          "traits": {
            "smithy.api#documentation": "Required. Holder of the domain specific details of the finding."
          }
        },
        "alert": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the alert that this finding is bound to."
          }
        },
        "severityAnalysis": {
          "target": "com.gcp.threatintelligence_v1beta#SeverityAnalysis",
          "traits": {
            "smithy.api#documentation": "Output only. High-Precision Severity Analysis verdict for the finding."
          }
        },
        "audit": {
          "target": "com.gcp.threatintelligence_v1beta#Audit",
          "traits": {
            "smithy.api#documentation": "Output only. Audit data about the finding."
          }
        },
        "aiSummary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. AI summary of the finding."
          }
        },
        "configurations": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration names that are bound to this finding."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}"
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Logical source of this finding (name of the sub-engine)."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\"."
          }
        },
        "severity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ‘stateless’ and a point in time event that a check produced a result of interest."
      }
    },
    "com.gcp.threatintelligence_v1beta#DataLeakFindingDetail": {
      "type": "structure",
      "members": {
        "discoveryDocument": {
          "target": "com.gcp.threatintelligence_v1beta#DiscoveryDocument",
          "traits": {
            "smithy.api#documentation": "Optional. The discovery document associated with the Data Leak finding."
          }
        },
        "matchScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations."
          }
        },
        "severity": {
          "target": "com.gcp.threatintelligence_v1beta#DataLeakFindingDetailSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat."
          }
        },
        "documentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Use `discovery_document` instead. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A detail object for a Data Leak finding."
      }
    },
    "com.gcp.threatintelligence_v1beta#DataLeakFindingDetailSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        }
      }
    },
    "com.gcp.threatintelligence_v1beta#Configuration": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A user-manipulatable version. Does not adhere to a specific format"
          }
        },
        "state": {
          "target": "com.gcp.threatintelligence_v1beta#ConfigurationStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. State of the configuration."
          }
        },
        "detail": {
          "target": "com.gcp.threatintelligence_v1beta#ConfigurationDetail",
          "traits": {
            "smithy.api#documentation": "Required. Domain specific details for the configuration."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A description of the configuration."
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the service that provides the configuration."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If included when updating a configuration, this should be set to the current etag of the configuration. If the etags do not match, the update will be rejected and an ABORTED error will be returned."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human readable name for the configuration."
          }
        },
        "audit": {
          "target": "com.gcp.threatintelligence_v1beta#Audit",
          "traits": {
            "smithy.api#documentation": "Output only. Audit information for the configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A configuration represents a behavior an engine should follow when producing new findings."
      }
    },
    "com.gcp.threatintelligence_v1beta#ConfigurationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.threatintelligence_v1beta#DomainConfiguration": {
      "type": "structure",
      "members": {
        "domainSettings": {
          "target": "com.gcp.threatintelligence_v1beta#DomainSettingList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of settings for individual domains."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration holding settings for one or more monitored domains."
      }
    },
    "com.gcp.threatintelligence_v1beta#DomainSettingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.threatintelligence_v1beta#DomainSetting"
      }
    },
    "com.gcp.threatintelligence_v1beta#ListConfigurationsResponse": {
      "type": "structure",
      "members": {
        "configurations": {
          "target": "com.gcp.threatintelligence_v1beta#ConfigurationList",
          "traits": {
            "smithy.api#documentation": "List of configurations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListConfigurations."
      }
    },
    "com.gcp.threatintelligence_v1beta#ConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.threatintelligence_v1beta#Configuration"
      }
    },
    "com.gcp.threatintelligence_v1beta#PublicExploit": {
      "type": "structure",
      "members": {
        "exploitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\"."
          }
        },
        "exploitGrade": {
          "target": "com.gcp.threatintelligence_v1beta#PublicExploitExploitGradeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The grade of the exploit. Ex: \"non-weaponized\"."
          }
        },
        "sizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The size of the exploit."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The URI of the exploit."
          }
        },
        "releaseTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The release time of the exploit."
          }
        },
        "exploitReliability": {
          "target": "com.gcp.threatintelligence_v1beta#PublicExploitExploitReliabilityEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The reliability of the exploit. Ex: \"Unreviewed\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains details about a public exploit."
      }
    },
    "com.gcp.threatintelligence_v1beta#PublicExploitExploitGradeEnum": {
      "type": "enum",
      "members": {
        "EXPLOIT_GRADE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOIT_GRADE_UNSPECIFIED"
          }
        },
        "UNEVALUATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNEVALUATED"
          }
        },
        "PROOF_OF_CONCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROOF_OF_CONCEPT"
          }
        },
        "NON_WEAPONIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_WEAPONIZED"
          }
        },
        "WEAPONIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEAPONIZED"
          }
        },
        "SCANNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCANNER"
          }
        },
        "FAKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAKE"
          }
        }
      }
    },
    "com.gcp.threatintelligence_v1beta#PublicExploitExploitReliabilityEnum": {
      "type": "enum",
      "members": {
        "EXPLOIT_RELIABILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOIT_RELIABILITY_UNSPECIFIED"
          }
        },
        "UNREVIEWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNREVIEWED"
          }
        },
        "REVIEWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVIEWED"
          }
        },
        "TESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TESTED"
          }
        }
      }
    },
    "com.gcp.threatintelligence_v1beta#DomainMonitoringDnsDetails": {
      "type": "structure",
      "members": {
        "dnsRecords": {
          "target": "com.gcp.threatintelligence_v1beta#DomainMonitoringDnsRecordList",
          "traits": {
            "smithy.api#documentation": "Optional. The DNS records of the domain."
          }
        },
        "retrievalTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The time the DNS details were retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The DNS details of the domain."
      }
    },
    "com.gcp.threatintelligence_v1beta#DomainMonitoringDnsRecordList": {
      "type": "list",
      "member": {
        "target": "com.gcp.threatintelligence_v1beta#DomainMonitoringDnsRecord"
      }
    },
    "com.gcp.threatintelligence_v1beta#AVDetections": {
      "type": "structure",
      "members": {
        "totalVendorCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Total number of vendors."
          }
        },
        "detectedVendorCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Number of vendors that detected the threat."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the detection vendors."
      }
    },
    "com.gcp.threatintelligence_v1beta#Alert": {
      "type": "structure",
      "members": {
        "audit": {
          "target": "com.gcp.threatintelligence_v1beta#Audit",
          "traits": {
            "smithy.api#documentation": "Output only. Audit information for the alert."
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates."
          }
        },
        "configurations": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}"
          }
        },
        "severityAnalysis": {
          "target": "com.gcp.threatintelligence_v1beta#SeverityAnalysis",
          "traits": {
            "smithy.api#documentation": "Output only. High-Precision Severity Analysis for the alert."
          }
        },
        "detail": {
          "target": "com.gcp.threatintelligence_v1beta#AlertDetail",
          "traits": {
            "smithy.api#documentation": "Output only. Details object for the alert, not all alerts will have a details object."
          }
        },
        "duplicatedBy": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}"
          }
        },
        "findings": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Findings that are covered by this alert."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}"
          }
        },
        "findingCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of findings associated with this alert."
          }
        },
        "aiSummary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. AI summary of the alert."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned."
          }
        },
        "priorityAnalysis": {
          "target": "com.gcp.threatintelligence_v1beta#PriorityAnalysis",
          "traits": {
            "smithy.api#documentation": "Output only. High-Precision Priority Analysis for the alert."
          }
        },
        "duplicateOf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}"
          }
        },
        "relevanceAnalysis": {
          "target": "com.gcp.threatintelligence_v1beta#RelevanceAnalysis",
          "traits": {
            "smithy.api#documentation": "Output only. High-Precision Relevance Analysis verdict for the alert."
          }
        },
        "state": {
          "target": "com.gcp.threatintelligence_v1beta#AlertStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the alert."
          }
        },
        "tags": {
          "target": "com.gcp.threatintelligence_v1beta#AlertTagsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. System taxonomy tags associated with this alert."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A short title for the alert."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet."
      }
    },
    "com.gcp.threatintelligence_v1beta#AlertStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ"
          }
        },
        "TRIAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIAGED"
          }
        },
        "ESCALATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESCALATED"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLVED"
          }
        },
        "DUPLICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DUPLICATE"
          }
        },
        "FALSE_POSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FALSE_POSITIVE"
          }
        },
        "NOT_ACTIONABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ACTIONABLE"
          }
        },
        "BENIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BENIGN"
          }
        },
        "TRACKED_EXTERNALLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACKED_EXTERNALLY"
          }
        }
      }
    },
    "com.gcp.threatintelligence_v1beta#AlertTagsItemEnum": {
      "type": "enum",
      "members": {
        "ALERT_TAG_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT_TAG_UNSPECIFIED"
          }
        },
        "ALERT_TAG_PASSWORD_LENGTH_UNDER_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT_TAG_PASSWORD_LENGTH_UNDER_8"
          }
        },
        "ALERT_TAG_PASSWORD_LENGTH_8_TO_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT_TAG_PASSWORD_LENGTH_8_TO_11"
          }
        },
        "ALERT_TAG_PASSWORD_LENGTH_12_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT_TAG_PASSWORD_LENGTH_12_PLUS"
          }
        },
        "ALERT_TAG_PASSWORD_HAS_LOWERCASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT_TAG_PASSWORD_HAS_LOWERCASE"
          }
        },
        "ALERT_TAG_PASSWORD_HAS_UPPERCASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT_TAG_PASSWORD_HAS_UPPERCASE"
          }
        },
        "ALERT_TAG_PASSWORD_HAS_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT_TAG_PASSWORD_HAS_NUMBER"
          }
        },
        "ALERT_TAG_PASSWORD_HAS_SPECIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT_TAG_PASSWORD_HAS_SPECIAL"
          }
        },
        "ALERT_TAG_MATCH_LOGIN_EMAIL_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT_TAG_MATCH_LOGIN_EMAIL_DOMAIN"
          }
        },
        "ALERT_TAG_MATCH_SERVICE_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT_TAG_MATCH_SERVICE_DOMAIN"
          }
        }
      }
    },
    "com.gcp.threatintelligence_v1beta#AlertTagsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.threatintelligence_v1beta#AlertTagsItemEnum"
      }
    },
    "com.gcp.threatintelligence_v1beta#TechnologyWatchListConfig": {
      "type": "structure",
      "members": {
        "technologies": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*"
          }
        },
        "alertThreshold": {
          "target": "com.gcp.threatintelligence_v1beta#TechnologyWatchListAlertThreshold",
          "traits": {
            "smithy.api#documentation": "Optional. Alert thresholds to effectively reduce noise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TechnologyWatchListConfig is the configuration for the technology watchlist."
      }
    },
    "com.gcp.threatintelligence_v1beta#DomainMonitoringFeatureConfig": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the Domain Monitoring feature is disabled for the domain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specific configuration for the Domain Monitoring feature."
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileSummary": {
      "type": "structure",
      "members": {
        "servicesSummary": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileCitedString",
          "traits": {
            "smithy.api#documentation": "Optional. A narrative summary of services."
          }
        },
        "founded": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileCitedString",
          "traits": {
            "smithy.api#documentation": "Optional. The date the customer was founded."
          }
        },
        "title": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileCitedString",
          "traits": {
            "smithy.api#documentation": "Optional. The official name of the customer."
          }
        },
        "areaServed": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileCitedString",
          "traits": {
            "smithy.api#documentation": "Optional. The area the customer serves."
          }
        },
        "headquarters": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileCitedString",
          "traits": {
            "smithy.api#documentation": "Optional. The headquarters of the customer."
          }
        },
        "parentCompany": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileCitedString",
          "traits": {
            "smithy.api#documentation": "Optional. The parent company of the customer."
          }
        },
        "brands": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileCitedString",
          "traits": {
            "smithy.api#documentation": "Optional. A narrative summary of brands."
          }
        },
        "keyPeopleSummary": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileCitedString",
          "traits": {
            "smithy.api#documentation": "Optional. A narrative summary of key people."
          }
        },
        "productsSummary": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileCitedString",
          "traits": {
            "smithy.api#documentation": "Optional. A narrative summary of products."
          }
        },
        "entityType": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileCitedString",
          "traits": {
            "smithy.api#documentation": "Optional. The entity type of the customer."
          }
        },
        "industry": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileCitedString",
          "traits": {
            "smithy.api#documentation": "Optional. The industry the customer is in."
          }
        },
        "primaryWebsite": {
          "target": "com.gcp.threatintelligence_v1beta#CustomerProfileCitedString",
          "traits": {
            "smithy.api#documentation": "Optional. The primary website of the customer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A summarized version of the customer profile. Generated by the backend."
      }
    },
    "com.gcp.threatintelligence_v1beta#DnsRegistrationDetails": {
      "type": "structure",
      "members": {
        "registrantCountry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The country code of the registrant (e.g., US). Use ISO 3166-1 alpha-2 codes"
          }
        },
        "registrationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The specific timestamp when the domain registration was created."
          }
        },
        "privateRegistration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether private registration is enabled on the WHOIS record."
          }
        },
        "registrar": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The registrar where the domain was registered (e.g., NameCheap)."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The specific timestamp when the current domain registration expires."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Extracted WHOIS and DNS registration details of the domain."
      }
    },
    "com.gcp.threatintelligence_v1beta#UpsertConfigurationResponse": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Created configuration ID with server assigned id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for UpsertConfiguration."
      }
    },
    "com.gcp.threatintelligence_v1beta#AlertDetail": {
      "type": "structure",
      "members": {
        "insiderThreat": {
          "target": "com.gcp.threatintelligence_v1beta#InsiderThreatAlertDetail",
          "traits": {
            "smithy.api#documentation": "Insider Threat alert detail type."
          }
        },
        "dataLeak": {
          "target": "com.gcp.threatintelligence_v1beta#DataLeakAlertDetail",
          "traits": {
            "smithy.api#documentation": "Data Leak alert detail type."
          }
        },
        "targetTechnology": {
          "target": "com.gcp.threatintelligence_v1beta#TargetTechnologyAlertDetail",
          "traits": {
            "smithy.api#documentation": "Technology Watchlist alert detail type."
          }
        },
        "domainMonitoring": {
          "target": "com.gcp.threatintelligence_v1beta#DomainMonitoringAlertDetail",
          "traits": {
            "smithy.api#documentation": "Domain Monitoring alert detail type."
          }
        },
        "detailType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
          }
        },
        "initialAccessBroker": {
          "target": "com.gcp.threatintelligence_v1beta#InitialAccessBrokerAlertDetail",
          "traits": {
            "smithy.api#documentation": "Initial Access Broker alert detail type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container for different types of alert details."
      }
    },
    "com.gcp.threatintelligence_v1beta#Relationships": {
      "type": "structure",
      "members": {
        "subdomains": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Subdomains associated with the target domain or URL."
          }
        },
        "siblingDomains": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Sibling domains sharing the same IP address."
          }
        },
        "relatedUrls": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Related URLs associated with the domain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Related entities and domains observed for the target."
      }
    },
    "com.gcp.threatintelligence_v1beta#CustomerProfileIndustry": {
      "type": "structure",
      "members": {
        "citationIds": {
          "target": "com.gcp.threatintelligence_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The citation ids for the industry."
          }
        },
        "industry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the industry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Industry information for the customer profile."
      }
    },
    "com.gcp.threatintelligence_v1beta#DomainMonitoringDnsRecord": {
      "type": "structure",
      "members": {
        "resolvedIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resolved IP address."
          }
        },
        "asnHosting": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ASN hosting the domain."
          }
        },
        "ipRegionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The region code associated with the resolved IP. Use ISO 3166-1 alpha-2 codes."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The type of the DNS record."
          }
        },
        "asnRegionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The region code of the ASN. Use ISO 3166-1 alpha-2 codes."
          }
        },
        "recordData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The value of the DNS record."
[...]
