{
  "smithy": "2.0",
  "metadata": {
    "service": "workspaceevents",
    "version": "v1",
    "title": "Google Workspace Events API",
    "baseUrl": "https://workspaceevents.googleapis.com/",
    "distilled.finalized": true
  },
  "shapes": {
    "com.gcp.workspaceevents_v1#Operation": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.workspaceevents_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "metadata": {
          "target": "com.gcp.workspaceevents_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "response": {
          "target": "com.gcp.workspaceevents_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.workspaceevents_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.workspaceevents_v1#DriveOptions": {
      "type": "structure",
      "members": {
        "includeDescendants": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. For subscriptions to Google Drive events, whether to receive events about Drive files that are children of the target folder or shared drive. This field must be `true` for subscriptions on shared drives. * If `false`, the subscription only receives events about changes to the folder or shared drive that's specified as the `targetResource`. * If `true`, the `mimeType` field of the `file` resource must be set to `application/vnd.google-apps.folder`. For details, see [Google Drive event types](https://developers.google.com/workspace/events/guides/events-drive#event-types)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional supported options for serving Drive events."
      }
    },
    "com.gcp.workspaceevents_v1#ReactivateSubscriptionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for SubscriptionsService.ReactivateSubscription."
      }
    },
    "com.gcp.workspaceevents_v1#NotificationEndpoint": {
      "type": "structure",
      "members": {
        "pubsubTopic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The Pub/Sub topic that receives events for the subscription. Format: `projects/{project}/topics/{topic}` You must create the topic in the same Google Cloud project where you create this subscription. Note: The Google Workspace Events API uses [ordering keys](https://cloud.google.com/pubsub/docs/ordering) for the benefit of sequential events. If the Cloud Pub/Sub topic has a [message storage policy](https://cloud.google.com/pubsub/docs/resource-location-restriction#exceptions) configured to exclude the nearest Google Cloud region, publishing events with ordering keys will fail. When the topic receives events, the events are encoded as Pub/Sub messages. For details, see the [Google Cloud Pub/Sub Protocol Binding for CloudEvents](https://github.com/googleapis/google-cloudevents/blob/main/docs/spec/pubsub.md)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The endpoint where the subscription delivers events."
      }
    },
    "com.gcp.workspaceevents_v1#Subscription": {
      "type": "structure",
      "members": {
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Non-empty default. The timestamp in UTC when the subscription expires. Always displayed on output, regardless of what was used on input."
          }
        },
        "eventTypes": {
          "target": "com.gcp.workspaceevents_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Unordered list. Input for creating a subscription. Otherwise, output only. One or more types of events to receive about the target resource. Formatted according to the CloudEvents specification. The supported event types depend on the target resource of your subscription. For details, see [Supported Google Workspace events](https://developers.google.com/workspace/events/guides#supported-events). By default, you also receive events about the [lifecycle of your subscription](https://developers.google.com/workspace/events/guides/events-lifecycle). You don't need to specify lifecycle events for this field. If you specify an event type that doesn't exist for the target resource, the request returns an HTTP `400 Bad Request` status code."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The time-to-live (TTL) or duration for the subscription. If unspecified or set to `0`, uses the maximum possible duration."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the subscription is created."
          }
        },
        "notificationEndpoint": {
          "target": "com.gcp.workspaceevents_v1#NotificationEndpoint",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The endpoint where the subscription delivers events, such as a Pub/Sub topic."
          }
        },
        "payloadOptions": {
          "target": "com.gcp.workspaceevents_v1#PayloadOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Options about what data to include in the event payload. Only supported for Google Chat and Google Drive events."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the subscription. Format: `subscriptions/{subscription}`"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System-assigned unique identifier for the subscription."
          }
        },
        "userAuthority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user who authorized the creation of the subscription. The user must be able to view the `target_resource`. For Google Workspace users, the `{user}` value is the [`user.id`](https://developers.google.com/workspace/admin/directory/reference/rest/v1/users#User.FIELDS.id) field from the Directory API. Format: `users/{user}`"
          }
        },
        "suspensionReason": {
          "target": "com.gcp.workspaceevents_v1#SubscriptionSuspensionReasonEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The error that suspended the subscription. To reactivate the subscription, resolve the error and call the `ReactivateSubscription` method."
          }
        },
        "targetResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The Google Workspace resource that's monitored for events, formatted as the [full resource name](https://google.aip.dev/122#full-resource-names). To learn about target resources and the events that they support, see [Supported Google Workspace events](https://developers.google.com/workspace/events#supported-events). A user can only authorize your app to create one subscription for a given target resource. If your app tries to create another subscription with the same user credentials, the request returns an `ALREADY_EXISTS` error."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If `true`, the subscription is in the process of being updated."
          }
        },
        "state": {
          "target": "com.gcp.workspaceevents_v1#SubscriptionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the subscription. Determines whether the subscription can receive events and deliver them to the notification endpoint."
          }
        },
        "driveOptions": {
          "target": "com.gcp.workspaceevents_v1#DriveOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Features that are supported only for subscriptions on Drive resources."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This checksum is computed by the server based on the value of other fields, and might be sent on update requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "authority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user who authorized the creation of the subscription. When a user authorizes the subscription, this field and the `user_authority` field have the same value and the format is: Format: `users/{user}` For Google Workspace users, the `{user}` value is the [`user.id`](https://developers.google.com/admin-sdk/directory/reference/rest/v1/users#User.FIELDS.ids) field from the Directory API. When a Chat app authorizes the subscription, only `service_account_authority` field populates and this field is empty."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last time that the subscription is updated."
          }
        },
        "serviceAccountAuthority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The service account that was used to authorize the creation of the subscription. This service account must be owned by the same Google Cloud project where you created this subscription. Format: `projects/{project_id}/serviceAccounts/{service_account_id}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A subscription to receive events about a Google Workspace resource. To learn more about subscriptions, see the [Google Workspace Events API overview](https://developers.google.com/workspace/events)."
      }
    },
    "com.gcp.workspaceevents_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.workspaceevents_v1#SubscriptionSuspensionReasonEnum": {
      "type": "enum",
      "members": {
        "ERROR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_TYPE_UNSPECIFIED"
          }
        },
        "USER_SCOPE_REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_SCOPE_REVOKED"
          }
        },
        "APP_SCOPE_REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_SCOPE_REVOKED"
          }
        },
        "RESOURCE_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_DELETED"
          }
        },
        "USER_AUTHORIZATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_AUTHORIZATION_FAILURE"
          }
        },
        "APP_AUTHORIZATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_AUTHORIZATION_FAILURE"
          }
        },
        "ENDPOINT_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_PERMISSION_DENIED"
          }
        },
        "ENDPOINT_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_NOT_FOUND"
          }
        },
        "ENDPOINT_RESOURCE_EXHAUSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_RESOURCE_EXHAUSTED"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.gcp.workspaceevents_v1#SubscriptionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.workspaceevents_v1#ListSubscriptionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "subscriptions": {
          "target": "com.gcp.workspaceevents_v1#SubscriptionList",
          "traits": {
            "smithy.api#documentation": "List of subscriptions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for SubscriptionsService.ListSubscriptions."
      }
    },
    "com.gcp.workspaceevents_v1#SubscriptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workspaceevents_v1#Subscription"
      }
    },
    "com.gcp.workspaceevents_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.workspaceevents_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.workspaceevents_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workspaceevents_v1#DocumentMap"
      }
    },
    "com.gcp.workspaceevents_v1#PayloadOptions": {
      "type": "structure",
      "members": {
        "fieldMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If `include_resource` is set to `true`, the list of fields to include in the event payload. Separate fields with a comma. For example, to include a Google Chat message's sender and create time, enter `message.sender,message.createTime`. If omitted, the payload includes all fields for the resource. If you specify a field that doesn't exist for the resource, the system ignores the field."
          }
        },
        "includeResource": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the event payload includes data about the resource that changed. For example, for an event where a Google Chat message was created, whether the payload contains data about the [`Message`](https://developers.google.com/chat/api/reference/rest/v1/spaces.messages) resource. If false, the event payload only includes the name of the changed resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options about what data to include in the event payload. Only supported for Google Chat and Google Drive events."
      }
    },
    "com.gcp.workspaceevents_v1#GetOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.workspaceevents_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.workspaceevents_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.workspaceevents_v1#GetOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.workspaceevents_v1#GetOperationsRequest"
      },
      "output": {
        "target": "com.gcp.workspaceevents_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.workspaceevents_v1#NotFound"
        },
        {
          "target": "com.gcp.workspaceevents_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
      }
    },
    "com.gcp.workspaceevents_v1#ReactivateSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of the subscription. Format: `subscriptions/{subscription}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.workspaceevents_v1#ReactivateSubscriptionRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.workspaceevents_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.workspaceevents_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.workspaceevents_v1#ReactivateSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.workspaceevents_v1#ReactivateSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.workspaceevents_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.workspaceevents_v1#NotFound"
        },
        {
          "target": "com.gcp.workspaceevents_v1#Forbidden"
        },
        {
          "target": "com.gcp.workspaceevents_v1#BadRequest"
        },
        {
          "target": "com.gcp.workspaceevents_v1#Conflict"
        },
        {
          "target": "com.gcp.workspaceevents_v1#WorkspaceEventsScopeInsufficient"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:reactivate"
        },
        "smithy.api#documentation": "Reactivates a suspended Google Workspace subscription. This method resets your subscription's `State` field to `ACTIVE`. Before you use this method, you must fix the error that suspended the subscription. This method will ignore or reject any subscription that isn't currently in a suspended state. To learn how to use this method, see [Reactivate a Google Workspace subscription](https://developers.google.com/workspace/events/guides/reactivate-subscription). For a subscription on a [Chat target resource](https://developers.google.com/workspace/events/guides/events-chat), you can reactivate a subscription as: - A Chat app subscribing to space events where the app is a member by specifying an authorization scope that begins with `chat.app` and getting one-time administrator approval. To learn more, see [Authorize as a Chat app with administrator approval](https://developers.google.com/workspace/chat/authenticate-authorize-chat-app). - [Developer Preview](https://developers.google.com/workspace/preview): A Chat app subscribing to all events in a Google Workspace organization by specifying an authorization scope that begins with `chat.app.all` and getting one-time administrator approval. To learn more, see [Subscribe to all Google Chat events in a Workspace organization ](https://developers.google.com/workspace/events/guides/create-subscription#customer-subscription). - A user by specifying an authorization scope that doesn't include `app` in its name. To learn more, see [Authorize as a Chat user](https://developers.google.com/workspace/chat/authenticate-authorize-chat-user)."
      }
    },
    "com.gcp.workspaceevents_v1#ListSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of subscriptions to return. The service might return fewer than this value. If unspecified or set to `0`, up to 50 subscriptions are returned. The maximum value is 100. If you specify a value more than 100, the system only returns 100 subscriptions.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A query filter. You can filter subscriptions by event type (`event_types`) and target resource (`target_resource`). You must specify at least one event type in your query. To filter for multiple event types, use the `OR` operator. To filter by both event type and target resource, use the `AND` operator and specify the full resource name, such as `//chat.googleapis.com/spaces/{space}`. For example, the following queries are valid: ``` event_types:\"google.workspace.chat.membership.v1.updated\" OR event_types:\"google.workspace.chat.message.v1.created\" event_types:\"google.workspace.chat.message.v1.created\" AND target_resource=\"//chat.googleapis.com/spaces/{space}\" ( event_types:\"google.workspace.chat.membership.v1.updated\" OR event_types:\"google.workspace.chat.message.v1.created\" ) AND target_resource=\"//chat.googleapis.com/spaces/{space}\" ``` The following query is available in [Developer Preview](https://developers.google.com/workspace/preview): ``` event_types:\"google.workspace.chat.message.v1.created\" AND target_resource=\"//admin.googleapis.com/customers/my_customer\" ``` The server rejects invalid queries with an `INVALID_ARGUMENT` error.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous list subscriptions call. Provide this parameter to retrieve the subsequent page. When paginating, the filter value should match the call that provided the page token. Passing a different value might lead to unexpected results.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.workspaceevents_v1#ListSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.workspaceevents_v1#ListSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.workspaceevents_v1#ListSubscriptionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.workspaceevents_v1#NotFound"
        },
        {
          "target": "com.gcp.workspaceevents_v1#Forbidden"
        },
        {
          "target": "com.gcp.workspaceevents_v1#WorkspaceEventsScopeInsufficient"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/subscriptions"
        },
        "smithy.api#documentation": "Lists Google Workspace subscriptions. To learn how to use this method, see [List Google Workspace subscriptions](https://developers.google.com/workspace/events/guides/list-subscriptions).",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.workspaceevents_v1#GetSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of the subscription. Format: `subscriptions/{subscription}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.workspaceevents_v1#GetSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.workspaceevents_v1#GetSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.workspaceevents_v1#Subscription"
      },
      "errors": [
        {
          "target": "com.gcp.workspaceevents_v1#NotFound"
        },
        {
          "target": "com.gcp.workspaceevents_v1#Forbidden"
        },
        {
          "target": "com.gcp.workspaceevents_v1#WorkspaceEventsScopeInsufficient"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets details about a Google Workspace subscription. To learn how to use this method, see [Get details about a Google Workspace subscription](https://developers.google.com/workspace/events/guides/get-subscription)."
      }
    },
    "com.gcp.workspaceevents_v1#PatchSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the subscription. Format: `subscriptions/{subscription}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The field to update. If omitted, updates any fields included in the request. You can update one of the following fields in a subscription: * `expire_time`: The timestamp when the subscription expires. * `ttl`: The time-to-live (TTL) or duration of the subscription. * `event_types`: The list of event types to receive about the target resource. When using the `*` wildcard (equivalent to `PUT`), omitted fields are set to empty values and rejected if they're invalid.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to `true`, validates and previews the request, but doesn't update the subscription.",
            "smithy.api#httpQuery": "validateOnly"
          }
        },
        "body": {
          "target": "com.gcp.workspaceevents_v1#Subscription",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.workspaceevents_v1#PatchSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.workspaceevents_v1#PatchSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.workspaceevents_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.workspaceevents_v1#NotFound"
        },
        {
          "target": "com.gcp.workspaceevents_v1#Forbidden"
        },
        {
          "target": "com.gcp.workspaceevents_v1#BadRequest"
        },
        {
          "target": "com.gcp.workspaceevents_v1#Conflict"
        },
        {
          "target": "com.gcp.workspaceevents_v1#WorkspaceEventsScopeInsufficient"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates or renews a Google Workspace subscription. To learn how to use this method, see [Update or renew a Google Workspace subscription](https://developers.google.com/workspace/events/guides/update-subscription). For a subscription on a [Chat target resource](https://developers.google.com/workspace/events/guides/events-chat), you can update a subscription as: - A Chat app subscribing to space events where the app is a member by specifying an authorization scope that begins with `chat.app` and getting one-time administrator approval. To learn more, see [Authorize as a Chat app with administrator approval](https://developers.google.com/workspace/chat/authenticate-authorize-chat-app). - [Developer Preview](https://developers.google.com/workspace/preview): A Chat app subscribing to all events in a Google Workspace organization by specifying an authorization scope that begins with `chat.app.all` and getting one-time administrator approval. To learn more, see [Subscribe to all Google Chat events in a Workspace organization ](https://developers.google.com/workspace/events/guides/create-subscription#customer-subscription). - A user by specifying an authorization scope that doesn't include `app` in its name. To learn more, see [Authorize as a Chat user](https://developers.google.com/workspace/chat/authenticate-authorize-chat-user)."
      }
    },
    "com.gcp.workspaceevents_v1#DeleteSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to `true`, validates and previews the request, but doesn't delete the subscription.",
            "smithy.api#httpQuery": "validateOnly"
          }
        },
        "allowMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to `true` and the subscription isn't found, the request succeeds but doesn't delete the subscription.",
            "smithy.api#httpQuery": "allowMissing"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of the subscription to delete. Format: `subscriptions/{subscription}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Etag of the subscription. If present, it must match with the server's etag. Otherwise, request fails with the status `ABORTED`.",
            "smithy.api#httpQuery": "etag"
          }
        }
      }
    },
    "com.gcp.workspaceevents_v1#DeleteSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.workspaceevents_v1#DeleteSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.workspaceevents_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.workspaceevents_v1#NotFound"
        },
        {
          "target": "com.gcp.workspaceevents_v1#Forbidden"
        },
        {
          "target": "com.gcp.workspaceevents_v1#BadRequest"
        },
        {
          "target": "com.gcp.workspaceevents_v1#Conflict"
        },
        {
          "target": "com.gcp.workspaceevents_v1#WorkspaceEventsScopeInsufficient"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a Google Workspace subscription. To learn how to use this method, see [Delete a Google Workspace subscription](https://developers.google.com/workspace/events/guides/delete-subscription)."
      }
    },
    "com.gcp.workspaceevents_v1#CreateSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to `true`, validates and previews the request, but doesn't create the subscription.",
            "smithy.api#httpQuery": "validateOnly"
          }
        },
        "body": {
          "target": "com.gcp.workspaceevents_v1#Subscription",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.workspaceevents_v1#CreateSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.workspaceevents_v1#CreateSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.workspaceevents_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.workspaceevents_v1#NotFound"
        },
        {
          "target": "com.gcp.workspaceevents_v1#Forbidden"
        },
        {
          "target": "com.gcp.workspaceevents_v1#BadRequest"
        },
        {
          "target": "com.gcp.workspaceevents_v1#Conflict"
        },
        {
          "target": "com.gcp.workspaceevents_v1#WorkspaceEventsScopeInsufficient"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/subscriptions"
        },
        "smithy.api#documentation": "Creates a Google Workspace subscription. To learn how to use this method, see [Create a Google Workspace subscription](https://developers.google.com/workspace/events/guides/create-subscription). For a subscription on a [Chat target resource](https://developers.google.com/workspace/events/guides/events-chat), you can create a subscription as: - A Chat app subscribing to space events where the app is a member by specifying an authorization scope that begins with `chat.app` and getting one-time administrator approval. To learn more, see [Authorize as a Chat app with administrator approval](https://developers.google.com/workspace/chat/authenticate-authorize-chat-app). - [Developer Preview](https://developers.google.com/workspace/preview): A Chat app subscribing to all events in a Google Workspace organization by specifying an authorization scope that begins with `chat.app.all` and obtaining one-time administrator approval. To learn more, see [Subscribe to all Google Chat events in a Workspace organization ](https://developers.google.com/workspace/events/guides/create-subscription#customer-subscription). - A user by specifying an authorization scope that doesn't include `app` in its name. To learn more, see [Authorize as a Chat user](https://developers.google.com/workspace/chat/authenticate-authorize-chat-user)."
      }
    },
    "com.gcp.workspaceevents_v1#WorkspaceEventsScopeInsufficient": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "smithy.api#documentation": "The access token lacks a Workspace Events OAuth scope for the subscribed resource (HTTP 403 PERMISSION_DENIED, reason ACCESS_TOKEN_SCOPE_INSUFFICIENT: 'Request had insufficient authentication scopes.'). A `cloud-platform` token is not enough. Not retryable.",
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403,
            "message": {
              "includes": "insufficient authentication scopes"
            }
          }
        ]
      }
    }
  }
}
