{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.boat.api#GetCurrentUserResponseUserConnectionMethod": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "service"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The login method the account was created with."
      }
    },
    "com.boat.api#GetCurrentUserResponseUserConnectionMethodsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Every login method linked to the account."
      }
    },
    "com.boat.api#GetCurrentUserResponseUserAccountStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#GetCurrentUserResponseUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your account id."
          }
        },
        "login": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "connectionMethod": {
          "target": "com.boat.api#GetCurrentUserResponseUserConnectionMethod",
          "traits": {
            "smithy.api#documentation": "The login method the account was created with."
          }
        },
        "connectionMethods": {
          "target": "com.boat.api#GetCurrentUserResponseUserConnectionMethodsList",
          "traits": {
            "smithy.api#documentation": "Every login method linked to the account."
          }
        },
        "accountPlan": {
          "target": "smithy.api#String"
        },
        "serviceAccount": {
          "target": "smithy.api#Boolean"
        },
        "accountStatus": {
          "target": "com.boat.api#GetCurrentUserResponseUserAccountStatus"
        },
        "suspended": {
          "target": "smithy.api#Boolean"
        },
        "suspendedAt": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "suspendedReason": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "closed": {
          "target": "smithy.api#Boolean"
        },
        "closedAt": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "purgeAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When a closed account's data is scheduled for deletion.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "purgedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When a closed account's data was deleted.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "closureContactEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address to contact about a suspended or closed account."
          }
        },
        "zeroDataRetention": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether archived sandbox data is configured for deletion instead of retention."
          }
        },
        "zeroDataRetentionEnabledAt": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#GetCurrentUserResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.boat.api#GetCurrentUserResponseUser",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#GetCurrentUser": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.boat.api#GetCurrentUserResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/me",
          "code": 200
        },
        "smithy.api#documentation": "Get current Boat user\n\nReturns GitHub identity for the authenticated Boat account."
      }
    },
    "com.boat.api#Org": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your account id for the personal row, `team_…` for an organization.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Accepted wherever an org is passed, like the id.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.boat.api#OrgType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.boat.api#OrgRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "memberCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscriptionStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stripe status of the organization's plan; absent on the personal row."
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The wallet new sandboxes bill when a request names none.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#OrgType": {
      "type": "enum",
      "members": {
        "PERSONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "personal"
          }
        },
        "ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org"
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#OrgRole": {
      "type": "enum",
      "members": {
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "member"
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#ListOrganizationsResponseOrgsList": {
      "type": "list",
      "member": {
        "target": "com.boat.api#Org"
      },
      "traits": {}
    },
    "com.boat.api#ListOrganizationsResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "activeWalletChosen": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this account ever set its active wallet. `false` means personal by default, never a choice.",
            "smithy.api#required": {}
          }
        },
        "orgs": {
          "target": "com.boat.api#ListOrganizationsResponseOrgsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#ListOrganizations": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.boat.api#ListOrganizationsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs",
          "code": 200
        },
        "smithy.api#documentation": "List organizations\n\nThe wallets this account can bill: your personal account first, then every organization you belong to, each with its id and name. Either spelling works wherever an org is passed (`org`, `X-Boat-Org`, `teamId`). `active` marks the wallet new sandboxes bill when a request names none; change it with `PATCH /orgs/active`."
      }
    },
    "com.boat.api#SetActiveOrganizationRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization id or name you belong to; `personal`, your own id or `null` for personal.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.boat.api#SetActiveOrganizationResponseActiveType": {
      "type": "enum",
      "members": {
        "PERSONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "personal"
          }
        },
        "ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org"
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#SetActiveOrganizationResponseActive": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.boat.api#SetActiveOrganizationResponseActiveType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#SetActiveOrganizationResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "active": {
          "target": "com.boat.api#SetActiveOrganizationResponseActive",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#SetActiveOrganization": {
      "type": "operation",
      "input": {
        "target": "com.boat.api#SetActiveOrganizationRequest"
      },
      "output": {
        "target": "com.boat.api#SetActiveOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.boat.api#BadRequest"
        },
        {
          "target": "com.boat.api#Forbidden"
        },
        {
          "target": "com.boat.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/orgs/active",
          "code": 200
        },
        "smithy.api#documentation": "Set the active organization\n\nSet the wallet new sandboxes bill when a request names none, for this account on every client: the API, the CLI (`boat org switch` sets the same value) and the dashboard. Pass an organization id or name you belong to, or `personal` (or `null`) for your own account. `GET /limits` follows it. Sandboxes already running keep the wallet they were created with; leaving or deleting the organization resets the account to personal."
      }
    },
    "com.boat.api#GetDataRetentionResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabledAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "queuedSandboxes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Archived Sandboxes newly queued for deletion by this policy update."
          }
        },
        "acceptedDeletionOperationsIrreversible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always true on updates. Disabling the policy does not cancel accepted deletion operations."
          }
        },
        "snapshotsOff": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, every new sandbox of this account is created with snapshots off."
          }
        },
        "snapshotsOffAt": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#GetDataRetention": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.boat.api#GetDataRetentionResponse"
      },
      "errors": [
        {
          "target": "com.boat.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/account/data-retention",
          "code": 200
        },
        "smithy.api#documentation": "Get account data-retention policy\n\nReturns the current zero-data-retention policy. Per-Boat API keys cannot access this account-wide setting. Responses are never cached."
      }
    },
    "com.boat.api#UpdateDataRetentionRequest": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "snapshotsOff": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Turn snapshots off for every sandbox created from now on. Existing sandboxes keep their setting. While on, a create or fork that passes `snapshots: true` is refused with 409 `snapshots_off_for_account`."
          }
        },
        "confirmation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required when enabling and must exactly equal `delete archived sandbox data`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.boat.api#UpdateDataRetentionResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabledAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "queuedSandboxes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Archived Sandboxes newly queued for deletion by this policy update."
          }
        },
        "acceptedDeletionOperationsIrreversible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always true on updates. Disabling the policy does not cancel accepted deletion operations."
          }
        },
        "snapshotsOff": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, every new sandbox of this account is created with snapshots off."
          }
        },
        "snapshotsOffAt": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#UpdateDataRetention": {
      "type": "operation",
      "input": {
        "target": "com.boat.api#UpdateDataRetentionRequest"
      },
      "output": {
        "target": "com.boat.api#UpdateDataRetentionResponse"
      },
      "errors": [
        {
          "target": "com.boat.api#BadRequest"
        },
        {
          "target": "com.boat.api#Forbidden"
        },
        {
          "target": "com.boat.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/account/data-retention",
          "code": 200
        },
        "smithy.api#documentation": "Update account data-retention policy\n\nRequires an interactive sandbox session; API keys and legacy permanent tokens are refused. Enabling requires the exact confirmation phrase `delete archived sandbox data`. Disabling affects future archives only and cannot cancel deletion operations already accepted."
      }
    },
    "com.boat.api#GetDeletionOperationRequest": {
      "type": "structure",
      "members": {
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Deletion operation id returned by an accepted delete request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.boat.api#DeletionOperation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.boat.api#DeletionOperationKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.boat.api#DeletionOperationReason",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.boat.api#DeletionOperationStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "stage": {
          "target": "com.boat.api#DeletionOperationStage",
          "traits": {
            "smithy.api#documentation": "What the background purge is doing. The target is already gone from every list, restore and fork once the operation exists. `waiting_for_uploads`: stored data is erased once the last upload URL issued for it expires (`expectedBy`). `kept_for_newer_snapshots`: a newer snapshot you kept is built on this one; its data goes when they go. `waiting_for_restore`: a sandbox is still restoring from it. `retrying`: a transient fault, retried automatically."
          }
        },
        "expectedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When `waiting_for_uploads` ends.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "attemptCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "completedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#DeletionOperationKind": {
      "type": "enum",
      "members": {
        "SANDBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sandbox"
          }
        },
        "SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snapshot"
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#DeletionOperationReason": {
      "type": "enum",
      "members": {
        "EXPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "explicit"
          }
        },
        "ZDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zdr"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#DeletionOperationStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#DeletionOperationStage": {
      "type": "enum",
      "members": {
        "REMOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removing"
          }
        },
        "WAITING_FOR_UPLOADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waiting_for_uploads"
          }
        },
        "KEPT_FOR_NEWER_SNAPSHOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kept_for_newer_snapshots"
          }
        },
        "WAITING_FOR_RESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waiting_for_restore"
          }
        },
        "RETRYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retrying"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "What the background purge is doing. The target is already gone from every list, restore and fork once the operation exists. `waiting_for_uploads`: stored data is erased once the last upload URL issued for it expires (`expectedBy`). `kept_for_newer_snapshots`: a newer snapshot you kept is built on this one; its data goes when they go. `waiting_for_restore`: a sandbox is still restoring from it. `retrying`: a transient fault, retried automatically."
      }
    },
    "com.boat.api#GetDeletionOperationResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "operation": {
          "target": "com.boat.api#DeletionOperation",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#GetDeletionOperation": {
      "type": "operation",
      "input": {
        "target": "com.boat.api#GetDeletionOperationRequest"
      },
      "output": {
        "target": "com.boat.api#GetDeletionOperationResponse"
      },
      "errors": [
        {
          "target": "com.boat.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/deletion-operations/{operationId}",
          "code": 200
        },
        "smithy.api#documentation": "Get deletion operation\n\nPoll an accepted Boat or snapshot deletion. Only operations owned by the authenticated account are returned. Responses are never cached."
      }
    },
    "com.boat.api#GetLimitsRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "org",
            "smithy.api#documentation": "Billing wallet for this request: an organization you belong to, by id (`team_…`) or by name as `GET /orgs` lists it (case-insensitive), or `personal`. Omitted, the account's active wallet applies (`PATCH /orgs/active`; personal until set). Two organizations sharing the name answer `409 ambiguous_org` and need the id. Sandboxes, snapshots, and environments stay creator-private."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "Legacy alias for `org`. Takes precedence over `org` / `X-Boat-Org` when set."
          }
        },
        "xBoatOrg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "X-Boat-Org",
            "smithy.api#documentation": "Same as the `org` query parameter. Query wins when both are set."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.boat.api#GetLimitsResponseCurrentLimits": {
      "type": "structure",
      "members": {
        "activeSandboxes": {
          "target": "smithy.api#Integer"
        },
        "creationRatePerMinute": {
          "target": "smithy.api#Integer"
        },
        "creationRequestsPerHour": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "creationRequestsPerDay": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#GetLimitsResponseStandardLimits": {
      "type": "structure",
      "members": {
        "activeSandboxes": {
          "target": "smithy.api#Integer"
        },
        "creationRatePerMinute": {
          "target": "smithy.api#Integer"
        },
        "creationRequestsPerHour": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "creationRequestsPerDay": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#GetLimitsResponseTrialLimits": {
      "type": "structure",
      "members": {
        "activeSandboxes": {
          "target": "smithy.api#Integer"
        },
        "creationRatePerMinute": {
          "target": "smithy.api#Integer"
        },
        "creationRequestsPerHour": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "creationRequestsPerDay": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#GetLimitsResponseUpgradeEffectsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.boat.api#GetLimitsResponseActiveStatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.boat.api#GetLimitsResponseStartLimits": {
      "type": "structure",
      "members": {
        "perMinute": {
          "target": "smithy.api#Integer"
        },
        "perHour": {
          "target": "smithy.api#Integer"
        },
        "perDay": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Plan caps for machine starts. Null on unlimited accounts. Create, fork and resume each count as one start."
      }
    },
    "com.boat.api#StartWindowUsage": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer"
        },
        "used": {
          "target": "smithy.api#Integer"
        },
        "remaining": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "One rolling start window. Null when the account is unlimited."
      }
    },
    "com.boat.api#GetLimitsResponseStarts": {
      "type": "structure",
      "members": {
        "unlimited": {
          "target": "smithy.api#Boolean"
        },
        "minute": {
          "target": "com.boat.api#StartWindowUsage",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hour": {
          "target": "com.boat.api#StartWindowUsage",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "day": {
          "target": "com.boat.api#StartWindowUsage",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Remaining machine starts in the rolling minute, hour and day windows. Null windows mean the account is unlimited."
      }
    },
    "com.boat.api#GetLimitsResponsePackageMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.boat.api#GetLimitsResponseSandboxPlanTiersItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "dollars": {
          "target": "smithy.api#Double"
        },
        "displayPrice": {
          "target": "smithy.api#String"
        },
        "maxActiveSandboxes": {
          "target": "smithy.api#Integer"
        },
        "startsPerMinute": {
          "target": "smithy.api#Integer"
        },
        "startsPerHour": {
          "target": "smithy.api#Integer"
        },
        "startsPerDay": {
          "target": "smithy.api#Integer"
        },
        "includedSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Machine time included each month."
          }
        },
        "purchasable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this tier can be bought right now."
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#GetLimitsResponseSandboxPlanTiersList": {
      "type": "list",
      "member": {
        "target": "com.boat.api#GetLimitsResponseSandboxPlanTiersItem"
      },
      "traits": {
        "smithy.api#documentation": "Every plan tier and its limits."
      }
    },
    "com.boat.api#GetLimitsResponseGiftLimit": {
      "type": "structure",
      "members": {
        "maxActiveSandboxes": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxTtlSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "line": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The caps in one readable line.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The same text shown when a cap is hit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Fair-use caps on a gifted account, or null when there are none."
      }
    },
    "com.boat.api#GetLimitsResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "accessTier": {
          "target": "smithy.api#String"
        },
        "blockedReason": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "currentLimits": {
          "target": "com.boat.api#GetLimitsResponseCurrentLimits"
        },
        "standardLimits": {
          "target": "com.boat.api#GetLimitsResponseStandardLimits"
        },
        "trialLimits": {
          "target": "com.boat.api#GetLimitsResponseTrialLimits"
        },
        "upgradeEffects": {
          "target": "com.boat.api#GetLimitsResponseUpgradeEffectsMap"
        },
        "canStart": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the authenticated account can create or operate sandboxes right now.",
            "smithy.api#required": {}
          }
        },
        "checkoutRequired": {
          "target": "smithy.api#Boolean"
        },
        "startBlockedReason": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "contactMessage": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "activeSandboxes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "activeStates": {
          "target": "com.boat.api#GetLimitsResponseActiveStatesList"
        },
        "maxActiveSandboxes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "maxCreationRequestsPerMinute": {
          "target": "smithy.api#Integer"
        },
        "maxCreationRequestsPerDay": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "startLimits": {
          "target": "com.boat.api#GetLimitsResponseStartLimits",
          "traits": {
            "smithy.api#documentation": "Plan caps for machine starts. Null on unlimited accounts. Create, fork and resume each count as one start.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "starts": {
          "target": "com.boat.api#GetLimitsResponseStarts",
          "traits": {
            "smithy.api#documentation": "Remaining machine starts in the rolling minute, hour and day windows. Null windows mean the account is unlimited."
          }
        },
        "creditBalanceHours": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Remaining machine time in hours (`creditBalanceSeconds / 3600`). Null on unlimited accounts.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "packBalanceHours": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Remaining purchased credit packs in hours."
          }
        },
        "packBalanceDollars": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Remaining purchased credit packs in dollars."
          }
        },
        "hasPaymentHistory": {
          "target": "smithy.api#Boolean"
        },
        "package": {
          "target": "com.boat.api#GetLimitsResponsePackageMap"
        },
        "subscriptionQuotaSeconds": {
          "target": "smithy.api#Integer"
        },
        "subscriptionRemainingSeconds": {
          "target": "smithy.api#Integer"
        },
        "packBalanceSeconds": {
          "target": "smithy.api#Integer"
        },
        "creditPurchasedSeconds": {
          "target": "smithy.api#Integer"
        },
        "creditUsedSeconds": {
          "target": "smithy.api#Integer"
        },
        "liveUsageSeconds": {
          "target": "smithy.api#Integer"
        },
        "creditSecondsPerDollar": {
          "target": "smithy.api#Integer"
        },
        "sandboxPlanKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current plan key, or `trial` before any payment."
          }
        },
        "sandboxPlanDollars": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Monthly price of the current plan in dollars."
          }
        },
        "sandboxPlanTiers": {
          "target": "com.boat.api#GetLimitsResponseSandboxPlanTiersList",
          "traits": {
            "smithy.api#documentation": "Every plan tier and its limits."
          }
        },
        "accountPlan": {
          "target": "smithy.api#String"
        },
        "plan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`service` for service accounts, otherwise null.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "planName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`Service` for service accounts, otherwise null.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "serviceAccount": {
          "target": "smithy.api#Boolean"
        },
        "unlimited": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the account has no machine-time or start limits."
          }
        },
        "hasSeatPlan": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when an organization has an active per-seat plan."
          }
        },
        "last24hUsageSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Machine time used in the last 24 hours, in seconds. Useful to estimate how long the balance lasts."
          }
        },
        "trialComputeCapSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lifetime machine-time allowance for a trial that never paid. Null once the account has paid or has a plan.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "trialLine": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The trial limits in one readable line. Null on paid accounts.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "giftLimit": {
          "target": "com.boat.api#GetLimitsResponseGiftLimit",
          "traits": {
            "smithy.api#documentation": "Fair-use caps on a gifted account, or null when there are none.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "billingStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account access state returned by the current backend. Billing endpoints are not part of v1.",
            "smithy.api#required": {}
          }
        },
        "subscriptionStatus": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "subscriptionCancelAtPeriodEnd": {
          "target": "smithy.api#Boolean"
        },
        "hasSubscription": {
          "target": "smithy.api#Boolean"
        },
        "subscriptionTrialEndsAt": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "subscriptionCurrentPeriodEnd": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "creditBalanceSeconds": {
          "target": "smithy.api#Integer"
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present when limits were read for a team wallet (`?teamId=`, `?org=`, or `X-Boat-Org`)."
          }
        },
        "teamRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Caller's role on that team when `teamId` is present."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#GetLimits": {
      "type": "operation",
      "input": {
        "target": "com.boat.api#GetLimitsRequest"
      },
      "output": {
        "target": "com.boat.api#GetLimitsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/limits",
          "code": 200
        },
        "smithy.api#documentation": "Get Boat limits\n\nCheck remaining machine starts, compute time, credits, access readiness, and concurrent-sandbox capacity for the wallet a create would bill: the `org` / `X-Boat-Org` you pass (id or name), else the account's active wallet, else personal. The response carries `teamId` when an organization wallet was read."
      }
    },
    "com.boat.api#ListReposRequestSort": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#ListReposRequest": {
      "type": "structure",
      "members": {
        "sync": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "sync",
            "smithy.api#documentation": "When true, sync from GitHub before returning repository groups."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum items to return."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Opaque pagination cursor returned as `pageInfo.nextCursor`."
          }
        },
        "sort": {
          "target": "com.boat.api#ListReposRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Sort direction for cursor pagination."
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q",
            "smithy.api#documentation": "Case-insensitive repository name/fullName filter."
          }
        },
        "selected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "selected",
            "smithy.api#documentation": "Filter to selected or unselected repositories."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.boat.api#RepositoryInstallation": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "accountLogin": {
          "target": "smithy.api#String"
        },
        "accountAvatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "repositories": {
          "target": "com.boat.api#RepositoryInstallationRepositoriesList"
        }
      },
      "traits": {}
    },
    "com.boat.api#Repository": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "GitHub repository id."
          }
        },
        "databaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Internal repository id used when selecting repositories."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "fullName": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String"
        },
        "private": {
          "target": "smithy.api#Boolean"
        },
        "permissions": {
          "target": "smithy.api#String"
        },
        "pushedAt": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastUserCommitAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reserved; always null.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#RepositoryInstallationRepositoriesList": {
      "type": "list",
      "member": {
        "target": "com.boat.api#Repository"
      },
      "traits": {}
    },
    "com.boat.api#ListReposResponseInstallationsList": {
      "type": "list",
      "member": {
        "target": "com.boat.api#RepositoryInstallation"
      },
      "traits": {}
    },
    "com.boat.api#SelectedRepository": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "GitHub repository id."
          }
        },
        "databaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Internal repository id used when selecting repositories."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "fullName": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String"
        },
        "private": {
          "target": "smithy.api#Boolean"
        },
        "permissions": {
          "target": "smithy.api#String"
        },
        "pushedAt": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastUserCommitAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reserved; always null.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "baseBranch": {
          "target": "smithy.api#String"
        },
        "setupRoutineId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "setupScript": {
          "target": "smithy.api#String"
        },
        "setupBlocking": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.boat.api#ListReposResponseSelectedRepositoriesList": {
      "type": "list",
      "member": {
        "target": "com.boat.api#SelectedRepository"
      },
      "traits": {}
    },
    "com.boat.api#PageInfo": {
      "type": "structure",
      "members": {
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#ListReposResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "installations": {
          "target": "com.boat.api#ListReposResponseInstallationsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subenvironmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the default environment. `environmentId` is the id of its latest version.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "selectedRepositories": {
          "target": "com.boat.api#ListReposResponseSelectedRepositoriesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pageInfo": {
          "target": "com.boat.api#PageInfo"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#ListRepos": {
      "type": "operation",
      "input": {
        "target": "com.boat.api#ListReposRequest"
      },
      "output": {
        "target": "com.boat.api#ListReposResponse"
      },
      "errors": [
        {
          "target": "com.boat.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos",
          "code": 200
        },
        "smithy.api#documentation": "List GitHub repositories available to Boat\n\nReturns GitHub repositories grouped by installation plus the current selected repositories for new Sandboxes."
      }
    },
    "com.boat.api#SelectRepoRequest": {
      "type": "structure",
      "members": {
        "repositoryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Internal repository `databaseId` returned by `GET /repos`.",
            "smithy.api#required": {}
          }
        },
        "baseBranch": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.boat.api#SelectRepoResponseSelectedRepositoriesList": {
      "type": "list",
      "member": {
        "target": "com.boat.api#SelectedRepository"
      },
      "traits": {}
    },
    "com.boat.api#SelectRepoResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subenvironmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the default environment. `environmentId` is the id of its new version.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "selectedRepositories": {
          "target": "com.boat.api#SelectRepoResponseSelectedRepositoriesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#SelectRepo": {
      "type": "operation",
      "input": {
        "target": "com.boat.api#SelectRepoRequest"
      },
      "output": {
        "target": "com.boat.api#SelectRepoResponse"
      },
      "errors": [
        {
          "target": "com.boat.api#BadRequest"
        },
        {
          "target": "com.boat.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/repos",
          "code": 200
        },
        "smithy.api#documentation": "Select repository for sandboxes\n\nIdempotently selects one repository for the sandbox environment. Use `databaseId` from `GET /repos` as `repositoryId`; selecting an already-selected repository updates its `baseBranch`."
      }
    },
    "com.boat.api#ApiKey": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "credentialLane": {
          "target": "com.boat.api#ApiKeyCredentialLane",
          "traits": {
            "smithy.api#documentation": "Credential storage lane. Scoped secrets are never stored in the legacy hash column.",
            "smithy.api#required": {}
          }
        },
        "keyPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keyLastFour": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sandbox ID for a platform-managed machine key, or null for a user-created key.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastUsedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "usage": {
          "target": "com.boat.api#ApiKeyRequestUsage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.boat.api#ApiKeyResourceTotals",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "expired": {
          "target": "smithy.api#Boolean"
        },
        "expiringSoon": {
          "target": "smithy.api#Boolean"
        },
        "scope": {
          "target": "com.boat.api#ApiKeyScope"
        }
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyCredentialLane": {
      "type": "enum",
      "members": {
        "LEGACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legacy"
          }
        },
        "SCOPED_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scoped-v1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Credential storage lane. Scoped secrets are never stored in the legacy hash column."
      }
    },
    "com.boat.api#ApiKeyRequestUsage": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Requests authenticated with this key during the current UTC day and the previous 29 UTC days.",
            "smithy.api#required": {}
          }
        },
        "windowDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyResourceTotals": {
      "type": "structure",
      "members": {
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sandboxes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agents": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyScopeActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyScopeSandboxesCase0": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*"
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyScopeSandboxesCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyScopeSandboxes": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.boat.api#ApiKeyScopeSandboxesCase0"
        },
        "Case1": {
          "target": "com.boat.api#ApiKeyScopeSandboxesCase1List"
        }
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyScopeEnvironmentsCase0": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*"
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyScopeEnvironmentsCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyScopeEnvironments": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.boat.api#ApiKeyScopeEnvironmentsCase0"
        },
        "Case1": {
          "target": "com.boat.api#ApiKeyScopeEnvironmentsCase1List"
        }
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyScope": {
      "type": "structure",
      "members": {
        "expiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "actions": {
          "target": "com.boat.api#ApiKeyScopeActionsList"
        },
        "sandboxes": {
          "target": "com.boat.api#ApiKeyScopeSandboxes"
        },
        "environments": {
          "target": "com.boat.api#ApiKeyScopeEnvironments"
        },
        "grandfathered": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.boat.api#ListApiKeysResponseApiKeysList": {
      "type": "list",
      "member": {
        "target": "com.boat.api#ApiKey"
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyCatalog": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.boat.api#ApiKeyCatalogActionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "presets": {
          "target": "com.boat.api#ApiKeyCatalogPresetsMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "defaultTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "maxTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scopedCreationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether POST /api-keys/scoped currently accepts creation requests.",
            "smithy.api#required": {}
          }
        },
        "scopeResources": {
          "target": "com.boat.api#ApiKeyCatalogScopeResources",
          "traits": {
            "smithy.api#documentation": "Session-only selector resources. Omitted when the caller authenticates with an API key."
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyCatalogActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyCatalogPresetsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyCatalogPresetsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.boat.api#ApiKeyCatalogPresetsValueList"
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyScopeResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyCatalogScopeResourcesSandboxesList": {
      "type": "list",
      "member": {
        "target": "com.boat.api#ApiKeyScopeResource"
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyCatalogScopeResourcesEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.boat.api#ApiKeyScopeResource"
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyCatalogScopeResources": {
      "type": "structure",
      "members": {
        "sandboxes": {
          "target": "com.boat.api#ApiKeyCatalogScopeResourcesSandboxesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environments": {
          "target": "com.boat.api#ApiKeyCatalogScopeResourcesEnvironmentsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Session-only selector resources. Omitted when the caller authenticates with an API key."
      }
    },
    "com.boat.api#ListApiKeysResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "apiKeys": {
          "target": "com.boat.api#ListApiKeysResponseApiKeysList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "catalog": {
          "target": "com.boat.api#ApiKeyCatalog",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#ListApiKeys": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.boat.api#ListApiKeysResponse"
      },
      "errors": [
        {
          "target": "com.boat.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api-keys",
          "code": 200
        },
        "smithy.api#documentation": "List API keys\n\nLists API key metadata only. Raw key secrets are not returned after creation/rotation. Results include expiry and scope. A restricted API-key caller receives `apiKeys: []`; only an unrestricted account key or browser/CLI session receives the account inventory. Bearer header is unchanged; scope lives on the key."
      }
    },
    "com.boat.api#CreateScopedApiKeyRequestPreset": {
      "type": "enum",
      "members": {
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read-only"
          }
        },
        "FULL_SANDBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full-sandbox"
          }
        },
        "CI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ci"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#CreateScopedApiKeyRequestActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.boat.api#CreateScopedApiKeyRequestSandboxIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.boat.api#CreateScopedApiKeyRequestEnvironmentIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.boat.api#CreateScopedApiKeyRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration such as 90d, 24h, or seconds. Max 365d."
          }
        },
        "preset": {
          "target": "com.boat.api#CreateScopedApiKeyRequestPreset"
        },
        "actions": {
          "target": "com.boat.api#CreateScopedApiKeyRequestActionsList"
        },
        "sandboxIds": {
          "target": "com.boat.api#CreateScopedApiKeyRequestSandboxIdsList"
        },
        "environmentIds": {
          "target": "com.boat.api#CreateScopedApiKeyRequestEnvironmentIdsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.boat.api#CreateScopedApiKeyResponseApiKeysList": {
      "type": "list",
      "member": {
        "target": "com.boat.api#ApiKey"
      },
      "traits": {}
    },
    "com.boat.api#CreateScopedApiKeyResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "apiKey": {
          "target": "com.boat.api#ApiKey",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw secret returned once. Store it before closing the response.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "apiKeys": {
          "target": "com.boat.api#CreateScopedApiKeyResponseApiKeysList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#CreateScopedApiKey": {
      "type": "operation",
      "input": {
        "target": "com.boat.api#CreateScopedApiKeyRequest"
      },
      "output": {
        "target": "com.boat.api#CreateScopedApiKeyResponse"
      },
      "errors": [
        {
          "target": "com.boat.api#BadRequest"
        },
        {
          "target": "com.boat.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api-keys/scoped",
          "code": 200
        },
        "smithy.api#documentation": "Create a scoped API key\n\nCreates a scoped, expiring API key. Requires a dashboard/CLI session or an admin-scoped token. The secret is returned once. This dedicated path returns a typed 503 until scoped credential creation is activated."
      }
    },
    "com.boat.api#RevokeApiKeyRequest": {
      "type": "structure",
      "members": {
        "apiKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.boat.api#RevokeApiKeyResponseApiKeysList": {
      "type": "list",
      "member": {
        "target": "com.boat.api#ApiKey"
      },
      "traits": {}
    },
    "com.boat.api#RevokeApiKeyResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "apiKeys": {
          "target": "com.boat.api#RevokeApiKeyResponseApiKeysList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#RevokeApiKey": {
      "type": "operation",
      "input": {
        "target": "com.boat.api#RevokeApiKeyRequest"
      },
      "output": {
        "target": "com.boat.api#RevokeApiKeyResponse"
      },
      "errors": [
        {
          "target": "com.boat.api#Forbidden"
        },
        {
          "target": "com.boat.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api-keys/{apiKeyId}",
          "code": 200
        },
        "smithy.api#documentation": "Revoke an API key\n\nRevokes the key immediately. Requires a dashboard or CLI session."
      }
    },
    "com.boat.api#RotateApiKeyRequest": {
      "type": "structure",
      "members": {
        "apiKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.boat.api#RotateApiKeyResponseApiKeysList": {
      "type": "list",
      "member": {
        "target": "com.boat.api#ApiKey"
      },
      "traits": {}
    },
    "com.boat.api#RotateApiKeyResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "apiKey": {
          "target": "com.boat.api#ApiKey",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw secret returned once. Store it before closing the response.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "apiKeys": {
          "target": "com.boat.api#RotateApiKeyResponseApiKeysList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#RotateApiKey": {
      "type": "operation",
      "input": {
        "target": "com.boat.api#RotateApiKeyRequest"
      },
      "output": {
        "target": "com.boat.api#RotateApiKeyResponse"
      },
      "errors": [
        {
          "target": "com.boat.api#Forbidden"
        },
        {
          "target": "com.boat.api#NotFound"
        },
        {
          "target": "com.boat.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api-keys/{apiKeyId}/rotate",
          "code": 200
        },
        "smithy.api#documentation": "Rotate an API key\n\nReplaces the raw secret without changing expiry or scope. Requires a dashboard or CLI session."
      }
    },
    "com.boat.api#GetApiKeyUsageRequest": {
      "type": "structure",
      "members": {
        "apiKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "API key ID returned by `GET /api-keys`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.boat.api#GetApiKeyUsageResponseCredentialLane": {
      "type": "enum",
      "members": {
        "LEGACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legacy"
          }
        },
        "SCOPED_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scoped-v1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Credential storage lane. Scoped secrets are never stored in the legacy hash column."
      }
    },
    "com.boat.api#GetApiKeyUsageResponseScopeActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.boat.api#GetApiKeyUsageResponseScopeSandboxesCase0": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*"
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#GetApiKeyUsageResponseScopeSandboxesCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.boat.api#GetApiKeyUsageResponseScopeSandboxes": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.boat.api#GetApiKeyUsageResponseScopeSandboxesCase0"
        },
        "Case1": {
          "target": "com.boat.api#GetApiKeyUsageResponseScopeSandboxesCase1List"
        }
      },
      "traits": {}
    },
    "com.boat.api#GetApiKeyUsageResponseScopeEnvironmentsCase0": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*"
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#GetApiKeyUsageResponseScopeEnvironmentsCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.boat.api#GetApiKeyUsageResponseScopeEnvironments": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.boat.api#GetApiKeyUsageResponseScopeEnvironmentsCase0"
        },
        "Case1": {
          "target": "com.boat.api#GetApiKeyUsageResponseScopeEnvironmentsCase1List"
        }
      },
      "traits": {}
    },
    "com.boat.api#GetApiKeyUsageResponseScope": {
      "type": "structure",
      "members": {
        "expiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "actions": {
          "target": "com.boat.api#GetApiKeyUsageResponseScopeActionsList"
        },
        "sandboxes": {
          "target": "com.boat.api#GetApiKeyUsageResponseScopeSandboxes"
        },
        "environments": {
          "target": "com.boat.api#GetApiKeyUsageResponseScopeEnvironments"
        },
        "grandfathered": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyCreatedResource": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.boat.api#ApiKeyCreatedResourceKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#ApiKeyCreatedResourceKind": {
      "type": "enum",
      "members": {
        "SANDBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sandbox"
          }
        },
        "AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent"
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#GetApiKeyUsageResponseCreatedResourcesList": {
      "type": "list",
      "member": {
        "target": "com.boat.api#ApiKeyCreatedResource"
      },
      "traits": {}
    },
    "com.boat.api#GetApiKeyUsageResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "credentialLane": {
          "target": "com.boat.api#GetApiKeyUsageResponseCredentialLane",
          "traits": {
            "smithy.api#documentation": "Credential storage lane. Scoped secrets are never stored in the legacy hash column.",
            "smithy.api#required": {}
          }
        },
        "keyPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keyLastFour": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sandboxId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sandbox ID for a platform-managed machine key, or null for a user-created key.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastUsedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "usage": {
          "target": "com.boat.api#ApiKeyRequestUsage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.boat.api#ApiKeyResourceTotals",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "expired": {
          "target": "smithy.api#Boolean"
        },
        "expiringSoon": {
          "target": "smithy.api#Boolean"
        },
        "scope": {
          "target": "com.boat.api#GetApiKeyUsageResponseScope"
        },
        "createdResources": {
          "target": "com.boat.api#GetApiKeyUsageResponseCreatedResourcesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#GetApiKeyUsage": {
      "type": "operation",
      "input": {
        "target": "com.boat.api#GetApiKeyUsageRequest"
      },
      "output": {
        "target": "com.boat.api#GetApiKeyUsageResponse"
      },
      "errors": [
        {
          "target": "com.boat.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api-keys/{apiKeyId}/usage",
          "code": 200
        },
        "smithy.api#documentation": "Get API key usage\n\nReturns the key's request total for the 30-day UTC window and the sandboxes and Agents it created that still exist, including sandboxes that never got a sandbox row. Works for revoked keys owned by the authenticated account."
      }
    },
    "com.boat.api#Webhook": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public HTTPS endpoint on port 443.",
            "smithy.api#required": {}
          }
        },
        "events": {
          "target": "com.boat.api#WebhookEventsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#WebhookEventType": {
      "type": "enum",
      "members": {
        "SANDBOX_READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sandbox.ready"
          }
        },
        "SANDBOX_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sandbox.error"
          }
        },
        "SANDBOX_ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sandbox.archived"
          }
        },
        "SANDBOX_HYDRATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sandbox.hydrated"
          }
        },
        "SANDBOX_DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sandbox.degraded"
          }
        },
        "SANDBOX_RECOVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sandbox.recovered"
          }
        }
      },
      "traits": {}
    },
    "com.boat.api#WebhookEventsList": {
      "type": "list",
      "member": {
        "target": "com.boat.api#WebhookEventType"
      },
      "traits": {}
    },
    "com.boat.api#ListWebhooksResponseWebhooksList": {
      "type": "list",
      "member": {
        "target": "com.boat.api#Webhook"
      },
      "traits": {}
    },
    "com.boat.api#ListWebhooksResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "webhooks": {
          "target": "com.boat.api#ListWebhooksResponseWebhooksList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#ListWebhooks": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.boat.api#ListWebhooksResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/webhooks",
          "code": 200
        },
        "smithy.api#documentation": "List webhooks\n\nLists account-wide sandbox lifecycle webhook endpoints. Signing secrets are never included."
      }
    },
    "com.boat.api#CreateWebhookRequestEventsList": {
      "type": "list",
      "member": {
        "target": "com.boat.api#WebhookEventType"
      },
      "traits": {}
    },
    "com.boat.api#CreateWebhookRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events": {
          "target": "com.boat.api#CreateWebhookRequestEventsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.boat.api#CreateWebhookResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "webhook": {
          "target": "com.boat.api#Webhook",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Signing secret returned only when created or rotated.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#CreateWebhook": {
      "type": "operation",
      "input": {
        "target": "com.boat.api#CreateWebhookRequest"
      },
      "output": {
        "target": "com.boat.api#CreateWebhookResponse"
      },
      "errors": [
        {
          "target": "com.boat.api#BadRequest"
        },
        {
          "target": "com.boat.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/webhooks",
          "code": 200
        },
        "smithy.api#documentation": "Create webhook\n\nRegisters an account-wide endpoint for sandbox lifecycle events. The endpoint must use HTTPS on port 443 and resolve only to public addresses. Redirects are not followed during delivery.\n\nThe signing secret is returned only in this response. An account can register at most 10 unique endpoint URLs."
      }
    },
    "com.boat.api#GetWebhookRequest": {
      "type": "structure",
      "members": {
        "webhookId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.boat.api#GetWebhookResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "webhook": {
          "target": "com.boat.api#Webhook",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#GetWebhook": {
      "type": "operation",
      "input": {
        "target": "com.boat.api#GetWebhookRequest"
      },
      "output": {
        "target": "com.boat.api#GetWebhookResponse"
      },
      "errors": [
        {
          "target": "com.boat.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/webhooks/{webhookId}",
          "code": 200
        },
        "smithy.api#documentation": "Get webhook\n\nReturns webhook metadata without the signing secret."
      }
    },
    "com.boat.api#UpdateWebhookRequestEventsList": {
      "type": "list",
      "member": {
        "target": "com.boat.api#WebhookEventType"
      },
      "traits": {}
    },
    "com.boat.api#UpdateWebhookRequest": {
      "type": "structure",
      "members": {
        "webhookId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String"
        },
        "events": {
          "target": "com.boat.api#UpdateWebhookRequestEventsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.boat.api#UpdateWebhookResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "webhook": {
          "target": "com.boat.api#Webhook",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#UpdateWebhook": {
      "type": "operation",
      "input": {
        "target": "com.boat.api#UpdateWebhookRequest"
      },
      "output": {
        "target": "com.boat.api#UpdateWebhookResponse"
      },
      "errors": [
        {
          "target": "com.boat.api#BadRequest"
        },
        {
          "target": "com.boat.api#NotFound"
        },
        {
          "target": "com.boat.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/webhooks/{webhookId}",
          "code": 200
        },
        "smithy.api#documentation": "Update webhook\n\nUpdates the name, endpoint URL, or subscribed events without changing the signing secret."
      }
    },
    "com.boat.api#DeleteWebhookRequest": {
      "type": "structure",
      "members": {
        "webhookId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.boat.api#DeleteWebhookResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#DeleteWebhook": {
      "type": "operation",
      "input": {
        "target": "com.boat.api#DeleteWebhookRequest"
      },
      "output": {
        "target": "com.boat.api#DeleteWebhookResponse"
      },
      "errors": [
        {
          "target": "com.boat.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/webhooks/{webhookId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete webhook\n\nDeletes the endpoint and its queued deliveries. An attempt already in flight can still arrive."
      }
    },
    "com.boat.api#RotateWebhookSigningSecretRequest": {
      "type": "structure",
      "members": {
        "webhookId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.boat.api#RotateWebhookSigningSecretResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable success envelope discriminator added by v1.",
            "smithy.api#required": {}
          }
        },
        "webhook": {
          "target": "com.boat.api#Webhook",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Signing secret returned only when created or rotated.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.boat.api#RotateWebhookSigningSecret": {
      "type": "operation",
      "input": {
        "target": "com.boat.api#RotateWebhookSigningSecretRequest"
      },
      "output": {
        "target": "com.boat.api#RotateWebhookSigningSecretResponse"
      },
      "errors": [
        {
          "target": "com.boat.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/webhooks/{webhookId}/rotate",
          "code": 200
        },
[...]
