{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.stackit.iaas#ListKeyPairsRequest": {
      "type": "structure",
      "members": {
        "label_selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "label_selector",
            "smithy.api#documentation": "Filter resources by labels."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#KeyPairListResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.stackit.iaas#KeyPairList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SSH keypair list response."
      }
    },
    "com.stackit.iaas#KeyPairList": {
      "type": "list",
      "member": {
        "target": "com.stackit.iaas#Keypair"
      },
      "traits": {
        "smithy.api#documentation": "A list of SSH keypairs."
      }
    },
    "com.stackit.iaas#Keypair": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String"
        },
        "fingerprint": {
          "target": "smithy.api#String"
        },
        "labels": {
          "target": "smithy.api#Document"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "publicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Object that represents the public key of an SSH keypair and its name."
      }
    },
    "com.stackit.iaas#ListKeyPairs": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#ListKeyPairsRequest"
      },
      "output": {
        "target": "com.stackit.iaas#KeyPairListResponse"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/keypairs",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "List all SSH keypairs for the requesting user.\n\nGet a list of all SSH keypairs assigned to the requesting user."
      }
    },
    "com.stackit.iaas#CreateKeyPairRequest": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "smithy.api#Document"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "publicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#CreateKeyPair": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#CreateKeyPairRequest"
      },
      "output": {
        "target": "com.stackit.iaas#Keypair"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        },
        {
          "target": "com.stackit.iaas#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/keypairs",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Import a public key.\n\nImport a new public key for the requesting user based on provided public key material. The creation will fail if an SSH keypair with the same name already exists. If a name is not provided it is autogenerated form the ssh-pubkey comment section. If that is also not present it will be the the MD5 fingerprint of the key. For autogenerated names invalid characters will be removed."
      }
    },
    "com.stackit.iaas#GetKeyPairRequest": {
      "type": "structure",
      "members": {
        "keypairName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of an SSH keypair."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#GetKeyPair": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#GetKeyPairRequest"
      },
      "output": {
        "target": "com.stackit.iaas#Keypair"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/keypairs/{keypairName}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Get SSH keypair details.\n\nGet details about an SSH keypair."
      }
    },
    "com.stackit.iaas#UpdateKeyPairRequest": {
      "type": "structure",
      "members": {
        "keypairName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of an SSH keypair."
          }
        },
        "labels": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#UpdateKeyPair": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#UpdateKeyPairRequest"
      },
      "output": {
        "target": "com.stackit.iaas#Keypair"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/keypairs/{keypairName}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Update information of an SSH keypair.\n\nUpdate labels of the SSH keypair."
      }
    },
    "com.stackit.iaas#DeleteKeyPairRequest": {
      "type": "structure",
      "members": {
        "keypairName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of an SSH keypair."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#DeleteKeyPair": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#DeleteKeyPairRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/keypairs/{keypairName}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Delete an SSH keypair.\n\nDelete an SSH keypair from a user."
      }
    },
    "com.stackit.iaas#PublicNetworkListResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.stackit.iaas#PublicNetworkList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public network list response."
      }
    },
    "com.stackit.iaas#PublicNetworkList": {
      "type": "list",
      "member": {
        "target": "com.stackit.iaas#PublicNetwork"
      },
      "traits": {
        "smithy.api#documentation": "A list of public networks."
      }
    },
    "com.stackit.iaas#PublicNetwork": {
      "type": "structure",
      "members": {
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public network."
      }
    },
    "com.stackit.iaas#ListPublicIPRanges": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.stackit.iaas#PublicNetworkListResponse"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/networks/public-ip-ranges",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "List all public IP ranges.\n\nGet a list of all public IP ranges that STACKIT uses."
      }
    },
    "com.stackit.iaas#ListNetworkAreasRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "label_selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "label_selector",
            "smithy.api#documentation": "Filter resources by labels."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#NetworkAreaListResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.stackit.iaas#NetworkAreaList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network area list response."
      }
    },
    "com.stackit.iaas#NetworkAreaList": {
      "type": "list",
      "member": {
        "target": "com.stackit.iaas#NetworkArea"
      },
      "traits": {
        "smithy.api#documentation": "A list of network areas."
      }
    },
    "com.stackit.iaas#NetworkArea": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "labels": {
          "target": "smithy.api#Document"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectCount": {
          "target": "smithy.api#Integer"
        },
        "updatedAt": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Object that represents a network area."
      }
    },
    "com.stackit.iaas#ListNetworkAreas": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#ListNetworkAreasRequest"
      },
      "output": {
        "target": "com.stackit.iaas#NetworkAreaListResponse"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/organizations/{organizationId}/network-areas",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "List all network areas in an organization.\n\nGet a list of all visible network areas defined in an organization."
      }
    },
    "com.stackit.iaas#CreateNetworkAreaRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "labels": {
          "target": "smithy.api#Document"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#CreateNetworkArea": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#CreateNetworkAreaRequest"
      },
      "output": {
        "target": "com.stackit.iaas#NetworkArea"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/organizations/{organizationId}/network-areas",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Create new network area in an organization.\n\nCreate a new network area in an organization. You can specify `\"preview/routingtables\"=\"true\"` as a label to enable the preview routing tables feature. This feature cannot be enabled or disabled afterwards."
      }
    },
    "com.stackit.iaas#GetNetworkAreaRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#GetNetworkArea": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#GetNetworkAreaRequest"
      },
      "output": {
        "target": "com.stackit.iaas#NetworkArea"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Get details about a network area.\n\nGet details about a network area in an organization."
      }
    },
    "com.stackit.iaas#PartialUpdateNetworkAreaRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "labels": {
          "target": "smithy.api#Document"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#PartialUpdateNetworkArea": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#PartialUpdateNetworkAreaRequest"
      },
      "output": {
        "target": "com.stackit.iaas#NetworkArea"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Update network area settings.\n\nUpdate the settings of a network area in an organization."
      }
    },
    "com.stackit.iaas#DeleteNetworkAreaRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#DeleteNetworkArea": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#DeleteNetworkAreaRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        },
        {
          "target": "com.stackit.iaas#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Delete a network area.\n\nDelete an existing network area in an organization. This is only possible if no projects are using the area anymore."
      }
    },
    "com.stackit.iaas#ListNetworkAreaProjectsRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#ProjectListResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.stackit.iaas#ProjectList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Project list response."
      }
    },
    "com.stackit.iaas#ProjectList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of STACKIT projects."
      }
    },
    "com.stackit.iaas#ListNetworkAreaProjects": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#ListNetworkAreaProjectsRequest"
      },
      "output": {
        "target": "com.stackit.iaas#ProjectListResponse"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/projects",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "List all projects using a network area.\n\nGet a list of all projects using a network area."
      }
    },
    "com.stackit.iaas#ListNetworkAreaRegionsRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#RegionalAreaListResponse": {
      "type": "structure",
      "members": {
        "regions": {
          "target": "com.stackit.iaas#RegionalAreaListResponseRegionsMap",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Regional area list response."
      }
    },
    "com.stackit.iaas#RegionalArea": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "com.stackit.iaas#RegionalAreaIPv4"
        },
        "status": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The basic properties of a regional network area."
      }
    },
    "com.stackit.iaas#RegionalAreaIPv4": {
      "type": "structure",
      "members": {
        "defaultNameservers": {
          "target": "com.stackit.iaas#RegionalAreaIPv4DefaultNameserversList"
        },
        "defaultPrefixLen": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "maxPrefixLen": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "minPrefixLen": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "networkRanges": {
          "target": "com.stackit.iaas#NetworkRangeList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transferNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The regional IPv4 config of a network area."
      }
    },
    "com.stackit.iaas#RegionalAreaIPv4DefaultNameserversList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.iaas#NetworkRangeList": {
      "type": "list",
      "member": {
        "target": "com.stackit.iaas#NetworkRange"
      },
      "traits": {
        "smithy.api#documentation": "A list of network area network ranges."
      }
    },
    "com.stackit.iaas#NetworkRange": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Object that represents a network range of a network area."
      }
    },
    "com.stackit.iaas#RegionalAreaListResponseRegionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.stackit.iaas#RegionalArea"
      },
      "traits": {}
    },
    "com.stackit.iaas#ListNetworkAreaRegions": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#ListNetworkAreaRegionsRequest"
      },
      "output": {
        "target": "com.stackit.iaas#RegionalAreaListResponse"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "List all configured regions in a network area.\n\nGet a list of all configured regions."
      }
    },
    "com.stackit.iaas#GetNetworkAreaRegionRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#GetNetworkAreaRegion": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#GetNetworkAreaRegionRequest"
      },
      "output": {
        "target": "com.stackit.iaas#RegionalArea"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Get details about a configured region.\n\nGet details about a configured region in a network area."
      }
    },
    "com.stackit.iaas#RegionalAreaIPv4Input": {
      "type": "structure",
      "members": {
        "defaultNameservers": {
          "target": "com.stackit.iaas#RegionalAreaIPv4InputDefaultNameserversList"
        },
        "defaultPrefixLen": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "maxPrefixLen": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "minPrefixLen": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "networkRanges": {
          "target": "com.stackit.iaas#NetworkRangeListInput",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transferNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The regional IPv4 config of a network area."
      }
    },
    "com.stackit.iaas#RegionalAreaIPv4InputDefaultNameserversList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.iaas#NetworkRangeListInput": {
      "type": "list",
      "member": {
        "target": "com.stackit.iaas#NetworkRangeInput"
      },
      "traits": {
        "smithy.api#documentation": "A list of network area network ranges."
      }
    },
    "com.stackit.iaas#NetworkRangeInput": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object that represents a network range of a network area."
      }
    },
    "com.stackit.iaas#CreateNetworkAreaRegionRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "ipv4": {
          "target": "com.stackit.iaas#RegionalAreaIPv4Input"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#CreateNetworkAreaRegion": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#CreateNetworkAreaRegionRequest"
      },
      "output": {
        "target": "com.stackit.iaas#RegionalArea"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        },
        {
          "target": "com.stackit.iaas#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Configure a region for a network area.\n\nConfigure a new region for a network area."
      }
    },
    "com.stackit.iaas#UpdateRegionalAreaIPv4": {
      "type": "structure",
      "members": {
        "defaultNameservers": {
          "target": "com.stackit.iaas#UpdateRegionalAreaIPv4DefaultNameserversList"
        },
        "defaultPrefixLen": {
          "target": "smithy.api#Integer"
        },
        "maxPrefixLen": {
          "target": "smithy.api#Integer"
        },
        "minPrefixLen": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Object that represents the request body for a regional network area IPv4 configuration update."
      }
    },
    "com.stackit.iaas#UpdateRegionalAreaIPv4DefaultNameserversList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.iaas#UpdateNetworkAreaRegionRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "ipv4": {
          "target": "com.stackit.iaas#UpdateRegionalAreaIPv4"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#UpdateNetworkAreaRegion": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#UpdateNetworkAreaRegionRequest"
      },
      "output": {
        "target": "com.stackit.iaas#RegionalArea"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        },
        {
          "target": "com.stackit.iaas#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Update a region for a network area.\n\nUpdate a new region for a network area."
      }
    },
    "com.stackit.iaas#DeleteNetworkAreaRegionRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#DeleteNetworkAreaRegion": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#DeleteNetworkAreaRegionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        },
        {
          "target": "com.stackit.iaas#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Delete a configuration of region for a network area.\n\nDelete a current configuration of region for a network area."
      }
    },
    "com.stackit.iaas#ListNetworkAreaRangesRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#NetworkRangeListResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.stackit.iaas#NetworkRangeList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network Range list response of a network area."
      }
    },
    "com.stackit.iaas#ListNetworkAreaRanges": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#ListNetworkAreaRangesRequest"
      },
      "output": {
        "target": "com.stackit.iaas#NetworkRangeListResponse"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/network-ranges",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "List all network ranges in a network area.\n\nGet a list of all network ranges in a network area."
      }
    },
    "com.stackit.iaas#CreateNetworkAreaRangeRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "ipv4": {
          "target": "com.stackit.iaas#NetworkRangeListInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#CreateNetworkAreaRange": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#CreateNetworkAreaRangeRequest"
      },
      "output": {
        "target": "com.stackit.iaas#NetworkRangeListResponse"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        },
        {
          "target": "com.stackit.iaas#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/network-ranges",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Create new network range in a network area.\n\nCreate a new network range in an existing network area."
      }
    },
    "com.stackit.iaas#GetNetworkAreaRangeRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "networkRangeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Range."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#GetNetworkAreaRange": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#GetNetworkAreaRangeRequest"
      },
      "output": {
        "target": "com.stackit.iaas#NetworkRange"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/network-ranges/{networkRangeId}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Get details about a network range.\n\nGet details about a network range in a network area."
      }
    },
    "com.stackit.iaas#DeleteNetworkAreaRangeRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "networkRangeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Range."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#DeleteNetworkAreaRange": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#DeleteNetworkAreaRangeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        },
        {
          "target": "com.stackit.iaas#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/network-ranges/{networkRangeId}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Delete a network range.\n\nDelete a network range of a network area. The deletion will fail if the network range is still used."
      }
    },
    "com.stackit.iaas#ListNetworkAreaRoutesRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "label_selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "label_selector",
            "smithy.api#documentation": "Filter resources by labels."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#RouteListResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.stackit.iaas#RouteList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Route list response."
      }
    },
    "com.stackit.iaas#RouteList": {
      "type": "list",
      "member": {
        "target": "com.stackit.iaas#Route"
      },
      "traits": {
        "smithy.api#documentation": "A list of routes."
      }
    },
    "com.stackit.iaas#Route": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String"
        },
        "destination": {
          "target": "com.stackit.iaas#RouteDestination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "labels": {
          "target": "smithy.api#Document"
        },
        "nexthop": {
          "target": "com.stackit.iaas#RouteNexthop",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Object represents a network route."
      }
    },
    "com.stackit.iaas#DestinationCIDRv4": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.stackit.iaas#DestinationCIDRv4Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An CIDRv4 string.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IPv4 Classless Inter-Domain Routing (CIDR) Object."
      }
    },
    "com.stackit.iaas#DestinationCIDRv4Type": {
      "type": "enum",
      "members": {
        "CIDRV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cidrv4"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.iaas#DestinationCIDRv6": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.stackit.iaas#DestinationCIDRv6Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An CIDRv6 string.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IPv6 Classless Inter-Domain Routing (CIDR) Object."
      }
    },
    "com.stackit.iaas#DestinationCIDRv6Type": {
      "type": "enum",
      "members": {
        "CIDRV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cidrv6"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.iaas#RouteDestination": {
      "type": "union",
      "members": {
        "DestinationCIDRv4": {
          "target": "com.stackit.iaas#DestinationCIDRv4"
        },
        "DestinationCIDRv6": {
          "target": "com.stackit.iaas#DestinationCIDRv6"
        }
      },
      "traits": {}
    },
    "com.stackit.iaas#NexthopIPv4": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.stackit.iaas#NexthopIPv4Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IPv4 address.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object that represents an IPv4 address."
      }
    },
    "com.stackit.iaas#NexthopIPv4Type": {
      "type": "enum",
      "members": {
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv4"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.iaas#NexthopIPv6": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.stackit.iaas#NexthopIPv6Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IPv6 address.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object that represents an IPv6 address."
      }
    },
    "com.stackit.iaas#NexthopIPv6Type": {
      "type": "enum",
      "members": {
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv6"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.iaas#NexthopInternet": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.stackit.iaas#NexthopInternetType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object that represents a route to the internet."
      }
    },
    "com.stackit.iaas#NexthopInternetType": {
      "type": "enum",
      "members": {
        "INTERNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internet"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.iaas#NexthopBlackhole": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.stackit.iaas#NexthopBlackholeType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object that represents a blackhole route."
      }
    },
    "com.stackit.iaas#NexthopBlackholeType": {
      "type": "enum",
      "members": {
        "BLACKHOLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blackhole"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.iaas#RouteNexthop": {
      "type": "union",
      "members": {
        "NexthopIPv4": {
          "target": "com.stackit.iaas#NexthopIPv4"
        },
        "NexthopIPv6": {
          "target": "com.stackit.iaas#NexthopIPv6"
        },
        "NexthopInternet": {
          "target": "com.stackit.iaas#NexthopInternet"
        },
        "NexthopBlackhole": {
          "target": "com.stackit.iaas#NexthopBlackhole"
        }
      },
      "traits": {}
    },
    "com.stackit.iaas#ListNetworkAreaRoutes": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#ListNetworkAreaRoutesRequest"
      },
      "output": {
        "target": "com.stackit.iaas#RouteListResponse"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/routes",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "List all network routes in a network area.\n\nGet a list of all network routes defined in a network area."
      }
    },
    "com.stackit.iaas#RouteListInput": {
      "type": "list",
      "member": {
        "target": "com.stackit.iaas#RouteInput"
      },
      "traits": {
        "smithy.api#documentation": "A list of routes."
      }
    },
    "com.stackit.iaas#RouteInput": {
      "type": "structure",
      "members": {
        "destination": {
          "target": "com.stackit.iaas#RouteInputDestination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "smithy.api#Document"
        },
        "nexthop": {
          "target": "com.stackit.iaas#RouteInputNexthop",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object represents a network route."
      }
    },
    "com.stackit.iaas#RouteInputDestination": {
      "type": "union",
      "members": {
        "DestinationCIDRv4": {
          "target": "com.stackit.iaas#DestinationCIDRv4"
        },
        "DestinationCIDRv6": {
          "target": "com.stackit.iaas#DestinationCIDRv6"
        }
      },
      "traits": {}
    },
    "com.stackit.iaas#RouteInputNexthop": {
      "type": "union",
      "members": {
        "NexthopIPv4": {
          "target": "com.stackit.iaas#NexthopIPv4"
        },
        "NexthopIPv6": {
          "target": "com.stackit.iaas#NexthopIPv6"
        },
        "NexthopInternet": {
          "target": "com.stackit.iaas#NexthopInternet"
        },
        "NexthopBlackhole": {
          "target": "com.stackit.iaas#NexthopBlackhole"
        }
      },
      "traits": {}
    },
    "com.stackit.iaas#CreateNetworkAreaRouteRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "items": {
          "target": "com.stackit.iaas#RouteListInput",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#CreateNetworkAreaRoute": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#CreateNetworkAreaRouteRequest"
      },
      "output": {
        "target": "com.stackit.iaas#RouteListResponse"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        },
        {
          "target": "com.stackit.iaas#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/routes",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Create new network routes.\n\nCreate one or several new network routes in a network area."
      }
    },
    "com.stackit.iaas#GetNetworkAreaRouteRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "routeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Route."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#GetNetworkAreaRoute": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#GetNetworkAreaRouteRequest"
      },
      "output": {
        "target": "com.stackit.iaas#Route"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/routes/{routeId}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Get details about a network route.\n\nGet details about a network route defined in a network area."
      }
    },
    "com.stackit.iaas#UpdateNetworkAreaRouteRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "routeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Route."
          }
        },
        "labels": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#UpdateNetworkAreaRoute": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#UpdateNetworkAreaRouteRequest"
      },
      "output": {
        "target": "com.stackit.iaas#Route"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/routes/{routeId}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Update a network route.\n\nUpdate a network route defined in a network area."
      }
    },
    "com.stackit.iaas#DeleteNetworkAreaRouteRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "routeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Route."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#DeleteNetworkAreaRoute": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#DeleteNetworkAreaRouteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/routes/{routeId}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Delete a network route.\n\nDelete a network route of a network area."
      }
    },
    "com.stackit.iaas#ListRoutingTablesOfAreaRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "label_selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "label_selector",
            "smithy.api#documentation": "Filter resources by labels."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#RoutingTableListResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.stackit.iaas#RoutingTablesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Routing table response."
      }
    },
    "com.stackit.iaas#RoutingTablesList": {
      "type": "list",
      "member": {
        "target": "com.stackit.iaas#RoutingTable"
      },
      "traits": {
        "smithy.api#documentation": "A list of routing tables."
      }
    },
    "com.stackit.iaas#RoutingTable": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String"
        },
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This is the default routing table. It can't be deleted and is used if the user does not specify it otherwise."
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "dynamicRoutes": {
          "target": "smithy.api#Boolean"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "labels": {
          "target": "smithy.api#Document"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "systemRoutes": {
          "target": "smithy.api#Boolean"
        },
        "updatedAt": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "An object representing a routing table. Filterable Fields: `dynamicRoutes`, `systemRoutes`."
      }
    },
    "com.stackit.iaas#ListRoutingTablesOfArea": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#ListRoutingTablesOfAreaRequest"
      },
      "output": {
        "target": "com.stackit.iaas#RoutingTableListResponse"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/routing-tables",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "List all routing tables in a network area.\n\nGet a list of all routing tables in a network area."
      }
    },
    "com.stackit.iaas#AddRoutingTableToAreaRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "dynamicRoutes": {
          "target": "smithy.api#Boolean"
        },
        "labels": {
          "target": "smithy.api#Document"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "systemRoutes": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#AddRoutingTableToArea": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#AddRoutingTableToAreaRequest"
      },
      "output": {
        "target": "com.stackit.iaas#RoutingTable"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        },
        {
          "target": "com.stackit.iaas#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/routing-tables",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Create new routing table in a network area.\n\nCreate a new routing table in an existing network area."
      }
    },
    "com.stackit.iaas#GetRoutingTableOfAreaRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "routingTableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Routing Table."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#GetRoutingTableOfArea": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#GetRoutingTableOfAreaRequest"
      },
      "output": {
        "target": "com.stackit.iaas#RoutingTable"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/routing-tables/{routingTableId}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Get details about a routing table.\n\nGet details about a routing table defined in a network area."
      }
    },
    "com.stackit.iaas#UpdateRoutingTableOfAreaRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "routingTableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Routing Table."
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "dynamicRoutes": {
          "target": "smithy.api#Boolean"
        },
        "labels": {
          "target": "smithy.api#Document"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "systemRoutes": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#UpdateRoutingTableOfArea": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#UpdateRoutingTableOfAreaRequest"
      },
      "output": {
        "target": "com.stackit.iaas#RoutingTable"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/routing-tables/{routingTableId}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Update a routing table.\n\nUpdate a routing table defined in a network area."
      }
    },
    "com.stackit.iaas#DeleteRoutingTableFromAreaRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "routingTableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Routing Table."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#DeleteRoutingTableFromArea": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#DeleteRoutingTableFromAreaRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/routing-tables/{routingTableId}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Delete a routing table.\n\nDelete a routing table of a network area."
      }
    },
    "com.stackit.iaas#ListRoutesOfRoutingTableRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "routingTableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Routing Table."
          }
        },
        "label_selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "label_selector",
            "smithy.api#documentation": "Filter resources by labels."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#ListRoutesOfRoutingTable": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#ListRoutesOfRoutingTableRequest"
      },
      "output": {
        "target": "com.stackit.iaas#RouteListResponse"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/routing-tables/{routingTableId}/routes",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "List all routes in a routing table.\n\nGet a list of all routes in a routing table."
      }
    },
    "com.stackit.iaas#AddRoutesToRoutingTableRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "routingTableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Routing Table."
          }
        },
        "items": {
          "target": "com.stackit.iaas#RouteListInput",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#AddRoutesToRoutingTable": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#AddRoutesToRoutingTableRequest"
      },
      "output": {
        "target": "com.stackit.iaas#RouteListResponse"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        },
        {
          "target": "com.stackit.iaas#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/routing-tables/{routingTableId}/routes",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Create new routes in a routing table.\n\nCreate new routes in an existing routing table."
      }
    },
    "com.stackit.iaas#GetRouteOfRoutingTableRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "routingTableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Routing Table."
          }
        },
        "routeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Route."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#GetRouteOfRoutingTable": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#GetRouteOfRoutingTableRequest"
      },
      "output": {
        "target": "com.stackit.iaas#Route"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/routing-tables/{routingTableId}/routes/{routeId}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Get details about a route of a routing table.\n\nGet details about a route defined in a routing table."
      }
    },
    "com.stackit.iaas#UpdateRouteOfRoutingTableRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "routingTableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Routing Table."
          }
        },
        "routeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Route."
          }
        },
        "labels": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#UpdateRouteOfRoutingTable": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#UpdateRouteOfRoutingTableRequest"
      },
      "output": {
        "target": "com.stackit.iaas#Route"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/routing-tables/{routingTableId}/routes/{routeId}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Update a route of a routing table.\n\nUpdate a route defined in a routing table."
      }
    },
    "com.stackit.iaas#DeleteRouteFromRoutingTableRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "areaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Network Area."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        },
        "routingTableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Routing Table."
          }
        },
        "routeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Route."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#DeleteRouteFromRoutingTable": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#DeleteRouteFromRoutingTableRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/organizations/{organizationId}/network-areas/{areaId}/regions/{region}/routing-tables/{routingTableId}/routes/{routeId}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Delete a route in a routing table.\n\nDelete a route in an existing routing table."
      }
    },
    "com.stackit.iaas#GetOrganizationRequestRequest": {
      "type": "structure",
      "members": {
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Organization."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#Request": {
      "type": "structure",
      "members": {
        "details": {
          "target": "smithy.api#String"
        },
        "requestAction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.stackit.iaas#RequestResourcesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object that represents a request."
      }
    },
    "com.stackit.iaas#RequestResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object that represents a resource as part of a request."
      }
    },
    "com.stackit.iaas#RequestResourcesList": {
      "type": "list",
      "member": {
        "target": "com.stackit.iaas#RequestResource"
      },
      "traits": {}
    },
    "com.stackit.iaas#GetOrganizationRequest": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#GetOrganizationRequestRequest"
      },
      "output": {
        "target": "com.stackit.iaas#Request"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/organizations/{organizationId}/requests/{requestId}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Lookup an organization request ID.\n\nLookup an organization request ID from a previous request. This allows to find resource IDs of resources generated during a organization request."
      }
    },
    "com.stackit.iaas#GetProjectDetailsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Project."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#Project": {
      "type": "structure",
      "members": {
        "areaId": {
          "target": "com.stackit.iaas#AreaId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "internetAccess": {
          "target": "smithy.api#Boolean"
        },
        "projectType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Possible values: `Schwarz`, `Public`, `SNA`, `VPC`."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String"
        },
        "vpcId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Object that represents a STACKIT project."
      }
    },
    "com.stackit.iaas#AreaId": {
      "type": "union",
      "members": {
        "UUID": {
          "target": "smithy.api#String"
        },
        "StaticAreaID": {
          "target": "com.stackit.iaas#StaticAreaID"
        }
      },
      "traits": {
        "smithy.api#documentation": "The identifier (ID) of an area."
      }
    },
    "com.stackit.iaas#StaticAreaID": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC"
          }
        },
        "SCHWARZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHWARZ"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identifier (ID) of a static area."
      }
    },
    "com.stackit.iaas#GetProjectDetails": {
      "type": "operation",
      "input": {
        "target": "com.stackit.iaas#GetProjectDetailsRequest"
      },
      "output": {
        "target": "com.stackit.iaas#Project"
      },
      "errors": [
        {
          "target": "com.stackit.iaas#BadRequest"
        },
        {
          "target": "com.stackit.iaas#Forbidden"
        },
        {
          "target": "com.stackit.iaas#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}",
          "code": 200,
          "baseUrl": "https://iaas.api.stackit.cloud"
        },
        "smithy.api#documentation": "Get project details.\n\nGet details about a STACKIT project."
      }
    },
    "com.stackit.iaas#ListAffinityGroupsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier (ID) of a STACKIT Project."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT Region of the resources."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.iaas#AffinityGroupListResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.stackit.iaas#AffinityGroupList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response object for affinity group list request."
      }
    },
    "com.stackit.iaas#AffinityGroupList": {
      "type": "list",
      "member": {
        "target": "com.stackit.iaas#AffinityGroup"
      },
      "traits": {
        "smithy.api#documentation": "A list of affinity groups."
      }
    },
    "com.stackit.iaas#AffinityGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "members": {
          "target": "com.stackit.iaas#AffinityGroupMembersList",
          "traits": {
            "smithy.api#documentation": "The servers that are part of the affinity group."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of an affinity group."
      }
    },
    "com.stackit.iaas#AffinityGroupMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
[...]
