{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.stackit.observability#ListInstancesRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.observability#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "instances": {
          "target": "com.stackit.observability#ListInstancesResponseInstancesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#ProjectInstanceFull": {
      "type": "structure",
      "members": {
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "instance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "planName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.stackit.observability#ProjectInstanceFullStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#ProjectInstanceFullStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "CREATE_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_SUCCEEDED"
          }
        },
        "CREATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FAILED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETE_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_SUCCEEDED"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "UPDATE_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_SUCCEEDED"
          }
        },
        "UPDATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FAILED"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#ListInstancesResponseInstancesList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#ProjectInstanceFull"
      },
      "traits": {}
    },
    "com.stackit.observability#ListInstances": {
      "type": "operation",
      "input": {
        "target": "com.stackit.observability#ListInstancesRequest"
      },
      "output": {
        "target": "com.stackit.observability#ListInstancesResponse"
      },
      "errors": [
        {
          "target": "com.stackit.observability#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/instances",
          "code": 200,
          "baseUrl": "https://argus.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Get all instances for a project."
      }
    },
    "com.stackit.observability#CreateInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "grafanaAdminEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, a default Grafana server admin user is created. It's recommended to set this to\nfalse and use STACKIT SSO (`Owner` or `Observability Grafana Server Admin` role) instead.\nIt is still possible to manually create a new Grafana admin user via the Grafana UI later."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the service"
          }
        },
        "parameter": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Additional parameters"
          }
        },
        "planId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the plan to create/update",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.observability#CreateInstanceResponse": {
      "type": "structure",
      "members": {
        "dashboardUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#CreateInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.observability#CreateInstanceRequest"
      },
      "output": {
        "target": "com.stackit.observability#CreateInstanceResponse"
      },
      "errors": [
        {
          "target": "com.stackit.observability#BadRequest"
        },
        {
          "target": "com.stackit.observability#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/projects/{projectId}/instances",
          "code": 200,
          "baseUrl": "https://argus.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Create new instance."
      }
    },
    "com.stackit.observability#GetInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.observability#GetInstanceResponse": {
      "type": "structure",
      "members": {
        "dashboardUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "instance": {
          "target": "com.stackit.observability#InstanceSensitiveData",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isUpdatable": {
          "target": "smithy.api#Boolean"
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.stackit.observability#GetInstanceResponseParametersMap"
        },
        "planId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "planName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "planSchema": {
          "target": "smithy.api#String"
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.stackit.observability#GetInstanceResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#InstanceSensitiveData": {
      "type": "structure",
      "members": {
        "alertingUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "grafanaAdminEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "grafanaAdminPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "grafanaAdminUser": {
          "target": "smithy.api#String"
        },
        "grafanaPublicReadAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "grafanaUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "grafanaUseStackitSso": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "instance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "jaegerHttpTracesUrl": {
          "target": "smithy.api#String"
        },
        "jaegerHttpUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "jaegerTracesUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "jaegerUiUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logsPushUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logsUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metricsEndpointUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metricsRetentionTime1h": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metricsRetentionTime5m": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metricsRetentionTimeRaw": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metricsUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "otlpGrpcTracesUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "otlpHttpLogsUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "otlpHttpTracesUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "otlpTracesUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "plan": {
          "target": "com.stackit.observability#PlanModel",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pushMetricsUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetsUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zipkinSpansUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#PlanModel": {
      "type": "structure",
      "members": {
        "alertMatchers": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alertReceivers": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alertRules": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "amount": {
          "target": "smithy.api#Double"
        },
        "bucketSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "grafanaGlobalDashboards": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "grafanaGlobalOrgs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "grafanaGlobalSessions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "grafanaGlobalUsers": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logsAlert": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logsStorage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "planId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "samplesPerScrape": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "totalMetricSamples": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tracesStorage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#GetInstanceResponseParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String",
        "traits": {
          "com.distilled.openapi#nullable": {}
        }
      },
      "traits": {}
    },
    "com.stackit.observability#GetInstanceResponseStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "CREATE_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_SUCCEEDED"
          }
        },
        "CREATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FAILED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETE_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_SUCCEEDED"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "UPDATE_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_SUCCEEDED"
          }
        },
        "UPDATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FAILED"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#GetInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.observability#GetInstanceRequest"
      },
      "output": {
        "target": "com.stackit.observability#GetInstanceResponse"
      },
      "errors": [
        {
          "target": "com.stackit.observability#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}",
          "code": 200,
          "baseUrl": "https://argus.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Get instance information."
      }
    },
    "com.stackit.observability#UpdateInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "grafanaAdminEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to false, the Grafana server admin created during provisioning will be deleted.\nIt's recommended to set this to false and use STACKIT SSO (`Owner` or `Observability Grafana\nServer Admin` role) instead. It is still possible to manually create a new Grafana admin user \nvia the Grafana UI later. Once set to false, it is not possible to set it to true again."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the service"
          }
        },
        "parameter": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Additional parameters"
          }
        },
        "planId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the plan to update"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.observability#InstanceResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#UpdateInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.observability#UpdateInstanceRequest"
      },
      "output": {
        "target": "com.stackit.observability#InstanceResponse"
      },
      "errors": [
        {
          "target": "com.stackit.observability#BadRequest"
        },
        {
          "target": "com.stackit.observability#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}",
          "code": 200,
          "baseUrl": "https://argus.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Update instance."
      }
    },
    "com.stackit.observability#DeleteInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.observability#DeleteInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.observability#DeleteInstanceRequest"
      },
      "output": {
        "target": "com.stackit.observability#InstanceResponse"
      },
      "errors": [
        {
          "target": "com.stackit.observability#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}",
          "code": 200,
          "baseUrl": "https://argus.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Delete instance."
      }
    },
    "com.stackit.observability#ListACLRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.observability#ListACLResponse": {
      "type": "structure",
      "members": {
        "acl": {
          "target": "com.stackit.observability#ListACLResponseAclList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#ListACLResponseAclList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.observability#ListACL": {
      "type": "operation",
      "input": {
        "target": "com.stackit.observability#ListACLRequest"
      },
      "output": {
        "target": "com.stackit.observability#ListACLResponse"
      },
      "errors": [
        {
          "target": "com.stackit.observability#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/acl",
          "code": 200,
          "baseUrl": "https://argus.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Get acl for instance."
      }
    },
    "com.stackit.observability#UpdateACLRequestAclList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "list of cidr"
      }
    },
    "com.stackit.observability#UpdateACLRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "acl": {
          "target": "com.stackit.observability#UpdateACLRequestAclList",
          "traits": {
            "smithy.api#documentation": "list of cidr",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.observability#Message": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#UpdateACL": {
      "type": "operation",
      "input": {
        "target": "com.stackit.observability#UpdateACLRequest"
      },
      "output": {
        "target": "com.stackit.observability#Message"
      },
      "errors": [
        {
          "target": "com.stackit.observability#BadRequest"
        },
        {
          "target": "com.stackit.observability#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/acl",
          "code": 200,
          "baseUrl": "https://argus.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Update acl config."
      }
    },
    "com.stackit.observability#GetAlertConfigsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.observability#GetAlertConfigsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.stackit.observability#Alert",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#Alert": {
      "type": "structure",
      "members": {
        "global": {
          "target": "com.stackit.observability#Global"
        },
        "inhibitRules": {
          "target": "com.stackit.observability#AlertInhibitRulesList"
        },
        "receivers": {
          "target": "com.stackit.observability#AlertReceiversList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "route": {
          "target": "com.stackit.observability#Route",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#Global": {
      "type": "structure",
      "members": {
        "opsgenieApiKey": {
          "target": "smithy.api#String"
        },
        "opsgenieApiUrl": {
          "target": "smithy.api#String"
        },
        "resolveTimeout": {
          "target": "smithy.api#String"
        },
        "smtpAuthIdentity": {
          "target": "smithy.api#String"
        },
        "smtpAuthPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "smtpAuthUsername": {
          "target": "smithy.api#String"
        },
        "smtpFrom": {
          "target": "smithy.api#String"
        },
        "smtpSmarthost": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.stackit.observability#InhibitRules": {
      "type": "structure",
      "members": {
        "equal": {
          "target": "com.stackit.observability#InhibitRulesEqualList"
        },
        "sourceMatch": {
          "target": "com.stackit.observability#InhibitRulesSourceMatchMap"
        },
        "sourceMatchRe": {
          "target": "com.stackit.observability#InhibitRulesSourceMatchReMap"
        },
        "sourceMatchers": {
          "target": "com.stackit.observability#InhibitRulesSourceMatchersList"
        },
        "targetMatch": {
          "target": "com.stackit.observability#InhibitRulesTargetMatchMap"
        },
        "targetMatchRe": {
          "target": "com.stackit.observability#InhibitRulesTargetMatchReMap"
        },
        "targetMatchers": {
          "target": "com.stackit.observability#InhibitRulesTargetMatchersList"
        }
      },
      "traits": {}
    },
    "com.stackit.observability#InhibitRulesEqualList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.observability#InhibitRulesSourceMatchMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.observability#InhibitRulesSourceMatchReMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.observability#InhibitRulesSourceMatchersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.observability#InhibitRulesTargetMatchMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.observability#InhibitRulesTargetMatchReMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.observability#InhibitRulesTargetMatchersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.observability#AlertInhibitRulesList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#InhibitRules"
      },
      "traits": {}
    },
    "com.stackit.observability#Receivers": {
      "type": "structure",
      "members": {
        "emailConfigs": {
          "target": "com.stackit.observability#ReceiversEmailConfigsList"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "opsgenieConfigs": {
          "target": "com.stackit.observability#ReceiversOpsgenieConfigsList"
        },
        "webHookConfigs": {
          "target": "com.stackit.observability#ReceiversWebHookConfigsList"
        }
      },
      "traits": {}
    },
    "com.stackit.observability#EmailConfig": {
      "type": "structure",
      "members": {
        "authIdentity": {
          "target": "smithy.api#String"
        },
        "authPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "authUsername": {
          "target": "smithy.api#String"
        },
        "from": {
          "target": "smithy.api#String"
        },
        "sendResolved": {
          "target": "smithy.api#Boolean"
        },
        "smarthost": {
          "target": "smithy.api#String"
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#ReceiversEmailConfigsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#EmailConfig"
      },
      "traits": {}
    },
    "com.stackit.observability#OpsgenieConfig": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "apiUrl": {
          "target": "smithy.api#String"
        },
        "priority": {
          "target": "smithy.api#String"
        },
        "sendResolved": {
          "target": "smithy.api#Boolean"
        },
        "tags": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.stackit.observability#ReceiversOpsgenieConfigsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#OpsgenieConfig"
      },
      "traits": {}
    },
    "com.stackit.observability#WebHook": {
      "type": "structure",
      "members": {
        "googleChat": {
          "target": "smithy.api#Boolean"
        },
        "msTeams": {
          "target": "smithy.api#Boolean"
        },
        "sendResolved": {
          "target": "smithy.api#Boolean"
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#ReceiversWebHookConfigsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#WebHook"
      },
      "traits": {}
    },
    "com.stackit.observability#AlertReceiversList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#Receivers"
      },
      "traits": {}
    },
    "com.stackit.observability#Route": {
      "type": "structure",
      "members": {
        "continue": {
          "target": "smithy.api#Boolean"
        },
        "groupBy": {
          "target": "com.stackit.observability#RouteGroupByList"
        },
        "groupInterval": {
          "target": "smithy.api#String"
        },
        "groupWait": {
          "target": "smithy.api#String"
        },
        "match": {
          "target": "com.stackit.observability#RouteMatchMap"
        },
        "matchRe": {
          "target": "com.stackit.observability#RouteMatchReMap"
        },
        "matchers": {
          "target": "com.stackit.observability#RouteMatchersList"
        },
        "receiver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repeatInterval": {
          "target": "smithy.api#String"
        },
        "routes": {
          "target": "com.stackit.observability#RouteRoutesList"
        }
      },
      "traits": {}
    },
    "com.stackit.observability#RouteGroupByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.observability#RouteMatchMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.observability#RouteMatchReMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.observability#RouteMatchersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.observability#RouteSerializer": {
      "type": "structure",
      "members": {
        "continue": {
          "target": "smithy.api#Boolean"
        },
        "groupBy": {
          "target": "com.stackit.observability#RouteSerializerGroupByList"
        },
        "groupInterval": {
          "target": "smithy.api#String"
        },
        "groupWait": {
          "target": "smithy.api#String"
        },
        "match": {
          "target": "com.stackit.observability#RouteSerializerMatchMap"
        },
        "matchRe": {
          "target": "com.stackit.observability#RouteSerializerMatchReMap"
        },
        "matchers": {
          "target": "com.stackit.observability#RouteSerializerMatchersList"
        },
        "receiver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repeatInterval": {
          "target": "smithy.api#String"
        },
        "routes": {
          "target": "com.stackit.observability#RouteSerializerRoutesList"
        }
      },
      "traits": {}
    },
    "com.stackit.observability#RouteSerializerGroupByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.observability#RouteSerializerMatchMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.observability#RouteSerializerMatchReMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.observability#RouteSerializerMatchersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.observability#RouteSerializerRoutesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String",
        "traits": {
          "com.distilled.openapi#nullable": {}
        }
      },
      "traits": {}
    },
    "com.stackit.observability#RouteSerializerRoutesList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#RouteSerializerRoutesItemMap"
      },
      "traits": {}
    },
    "com.stackit.observability#RouteRoutesList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#RouteSerializer"
      },
      "traits": {}
    },
    "com.stackit.observability#GetAlertConfigs": {
      "type": "operation",
      "input": {
        "target": "com.stackit.observability#GetAlertConfigsRequest"
      },
      "output": {
        "target": "com.stackit.observability#GetAlertConfigsResponse"
      },
      "errors": [
        {
          "target": "com.stackit.observability#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/alertconfigs",
          "code": 200,
          "baseUrl": "https://argus.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Get alert config."
      }
    },
    "com.stackit.observability#UpdateAlertConfigsRequestGlobal": {
      "type": "structure",
      "members": {
        "opsgenieApiKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opsgenie api key\n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9-"
          }
        },
        "opsgenieApiUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opsgenie api url\n`Additional Validators:`\n* must be a syntactically valid url address"
          }
        },
        "resolveTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ResolveTimeout is the default value used by alertmanager if the alert does not include EndsAt, after this time passes it can declare the alert as resolved if it has not been updated. This has no impact on alerts from Prometheus, as they always include EndsAt. \n`Additional Validators:`\n* must be a valid time format"
          }
        },
        "smtpAuthIdentity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auth identity.\n`Additional Validators:`\n* must be a syntactically valid email address"
          }
        },
        "smtpAuthPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMTP Auth using LOGIN and PLAIN.",
            "smithy.api#sensitive": {}
          }
        },
        "smtpAuthUsername": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMTP Auth using CRAM-MD5, LOGIN and PLAIN. If empty, Alertmanager doesn't authenticate to the SMTP server."
          }
        },
        "smtpFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default SMTP From header field. \n`Additional Validators:`\n* must be a syntactically valid email address"
          }
        },
        "smtpSmarthost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default SMTP smarthost used for sending emails, including port number. Port number usually is 25, or 587 for SMTP over TLS (sometimes referred to as STARTTLS). Example: smtp.example.org:587 \n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9_./@&?:-"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Global config. If nothing passed the default argus config will be used. It is only possible to update the entire global part, not individual attributes."
      }
    },
    "com.stackit.observability#UpdateAlertConfigsRequestInhibitRulesEqualList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Labels that must have an equal value in the source and target alert for the inhibition to take effect.\n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9_./@&?:-"
      }
    },
    "com.stackit.observability#UpdateAlertConfigsRequestInhibitRules": {
      "type": "structure",
      "members": {
        "equal": {
          "target": "com.stackit.observability#UpdateAlertConfigsRequestInhibitRulesEqualList",
          "traits": {
            "smithy.api#documentation": "Labels that must have an equal value in the source and target alert for the inhibition to take effect.\n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9_./@&?:-"
          }
        },
        "sourceMatch": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "map of key:value. Matchers for which one or more alerts have to exist for the inhibition to take effect.\n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not have more than 200 characters\n* each key and value should only include the characters: a-zA-Z0-9_./@&?:-"
          }
        },
        "sourceMatchRe": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "map of key:value. Regex match\n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not have more than 200 characters"
          }
        },
        "targetMatch": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "map of key:value. Matchers that have to be fulfilled in the alerts to be muted.\n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not have more than 200 characters\n* each key and value should only include the characters: a-zA-Z0-9_./@&?:-"
          }
        },
        "targetMatchRe": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "map of key:value. Matchers that have to be fulfilled in the alerts to be muted. Regex.\n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not have more than 200 characters"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of inhibition rules."
      }
    },
    "com.stackit.observability#UpdateAlertConfigsRequestReceiversItemEmailConfigsItem": {
      "type": "structure",
      "members": {
        "authIdentity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMTP authentication information.\n`Additional Validators:`\n* must be a syntactically valid email address"
          }
        },
        "authPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMTP authentication information.",
            "smithy.api#sensitive": {}
          }
        },
        "authUsername": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMTP authentication information."
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sender address.\n`Additional Validators:`\n* must be a syntactically valid email address"
          }
        },
        "sendResolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to notify about resolved alerts."
          }
        },
        "smarthost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SMTP host through which emails are sent.\n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9_./@&?:-"
          }
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address to send notifications to.\n`Additional Validators:`\n* must be a syntactically valid email address"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#UpdateAlertConfigsRequestReceiversItemEmailConfigsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#UpdateAlertConfigsRequestReceiversItemEmailConfigsItem"
      },
      "traits": {
        "smithy.api#documentation": "Email configurations"
      }
    },
    "com.stackit.observability#UpdateAlertConfigsRequestReceiversItemOpsgenieConfigsItem": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API key to use when talking to the OpsGenie API.\n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9-",
            "smithy.api#sensitive": {}
          }
        },
        "apiUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The host to send OpsGenie API requests to.\n`Additional Validators:`\n* must be a syntactically valid url address"
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Priority level of alert. Possible values are P1, P2, P3, P4, and P5."
          }
        },
        "sendResolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to notify about resolved alerts."
          }
        },
        "tags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma separated list of tags attached to the notifications."
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#UpdateAlertConfigsRequestReceiversItemOpsgenieConfigsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#UpdateAlertConfigsRequestReceiversItemOpsgenieConfigsItem"
      },
      "traits": {
        "smithy.api#documentation": "Configuration for ops genie."
      }
    },
    "com.stackit.observability#UpdateAlertConfigsRequestReceiversItemWebHookConfigsItem": {
      "type": "structure",
      "members": {
        "googleChat": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Google Chat webhooks require special handling. If you set this property to true, it is treated as such. `Additional Validators:` * When set to true, msTeams must be false."
          }
        },
        "msTeams": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Microsoft Teams webhooks require special handling. If you set this property to true, it is treated as such. `Additional Validators:` * When set to true, googleChat must be false."
          }
        },
        "sendResolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to notify about resolved alerts."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The endpoint to send HTTP POST requests to.\n`Additional Validators:`\n* must be a syntactically valid url address"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#UpdateAlertConfigsRequestReceiversItemWebHookConfigsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#UpdateAlertConfigsRequestReceiversItemWebHookConfigsItem"
      },
      "traits": {}
    },
    "com.stackit.observability#UpdateAlertConfigsRequestReceiversItem": {
      "type": "structure",
      "members": {
        "emailConfigs": {
          "target": "com.stackit.observability#UpdateAlertConfigsRequestReceiversItemEmailConfigsList",
          "traits": {
            "smithy.api#documentation": "Email configurations"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`Additional Validators:`\n* must be unique\n* should only include the characters: a-zA-Z0-9-",
            "smithy.api#required": {}
          }
        },
        "opsgenieConfigs": {
          "target": "com.stackit.observability#UpdateAlertConfigsRequestReceiversItemOpsgenieConfigsList",
          "traits": {
            "smithy.api#documentation": "Configuration for ops genie."
          }
        },
        "webHookConfigs": {
          "target": "com.stackit.observability#UpdateAlertConfigsRequestReceiversItemWebHookConfigsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Receivers"
      }
    },
    "com.stackit.observability#UpdateAlertConfigsRequestReceiversList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#UpdateAlertConfigsRequestReceiversItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of notification receivers."
      }
    },
    "com.stackit.observability#UpdateAlertConfigsRequestRouteGroupByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The labels by which incoming alerts are grouped together. For example, multiple alerts coming in for cluster=A and alertname=LatencyHigh would be batched into a single group. To aggregate by all possible labels use the special value '...' as the sole label name, for example: group_by: ['...']. This effectively disables aggregation entirely, passing through all alerts as-is. This is unlikely to be what you want, unless you have a very low alert volume or your upstream notification system performs its own grouping."
      }
    },
    "com.stackit.observability#UpdateAlertConfigsRequestRouteRoutesItemGroupByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.observability#UpdateAlertConfigsRequestRouteRoutesItemMatchersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of matchers that an alert has to fulfill to match the node. A matcher is a string with a syntax inspired by PromQL and OpenMetrics. The syntax of a matcher consists of three tokens:\n* A valid Prometheus label name.\n* One of =, !=, =~, or !~. = means equals, != means that the strings are not equal, =~ is used for equality of regex expressions and !~ is used for un-equality of regex expressions. They have the same meaning as known from PromQL selectors.\n* A UTF-8 string, which may be enclosed in double quotes. Before or after each token, there may be any amount of whitespace.\n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not be longer than 200 characters"
      }
    },
    "com.stackit.observability#UpdateAlertConfigsRequestRouteRoutesItemRoutesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Another child routes"
      }
    },
    "com.stackit.observability#UpdateAlertConfigsRequestRouteRoutesItem": {
      "type": "structure",
      "members": {
        "continue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether an alert should continue matching subsequent sibling nodes."
          }
        },
        "groupBy": {
          "target": "com.stackit.observability#UpdateAlertConfigsRequestRouteRoutesItemGroupByList"
        },
        "groupInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "As in one level above"
          }
        },
        "groupWait": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "As in one level above"
          }
        },
        "match": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "As in one level above"
          }
        },
        "matchRe": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "As in one level above"
          }
        },
        "matchers": {
          "target": "com.stackit.observability#UpdateAlertConfigsRequestRouteRoutesItemMatchersList",
          "traits": {
            "smithy.api#documentation": "A list of matchers that an alert has to fulfill to match the node. A matcher is a string with a syntax inspired by PromQL and OpenMetrics. The syntax of a matcher consists of three tokens:\n* A valid Prometheus label name.\n* One of =, !=, =~, or !~. = means equals, != means that the strings are not equal, =~ is used for equality of regex expressions and !~ is used for un-equality of regex expressions. They have the same meaning as known from PromQL selectors.\n* A UTF-8 string, which may be enclosed in double quotes. Before or after each token, there may be any amount of whitespace.\n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not be longer than 200 characters"
          }
        },
        "receiver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "As in one level above"
          }
        },
        "repeatInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "As in one level above"
          }
        },
        "routes": {
          "target": "com.stackit.observability#UpdateAlertConfigsRequestRouteRoutesItemRoutesList",
          "traits": {
            "smithy.api#documentation": "Another child routes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "As in one level above"
      }
    },
    "com.stackit.observability#UpdateAlertConfigsRequestRouteRoutesList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#UpdateAlertConfigsRequestRouteRoutesItem"
      },
      "traits": {
        "smithy.api#documentation": "Zero or more child routes."
      }
    },
    "com.stackit.observability#UpdateAlertConfigsRequestRoute": {
      "type": "structure",
      "members": {
        "continue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The continue parameter cannot be set to true on the root route because there are no subsequent sibling nodes to match. It must always be false."
          }
        },
        "groupBy": {
          "target": "com.stackit.observability#UpdateAlertConfigsRequestRouteGroupByList",
          "traits": {
            "smithy.api#documentation": "The labels by which incoming alerts are grouped together. For example, multiple alerts coming in for cluster=A and alertname=LatencyHigh would be batched into a single group. To aggregate by all possible labels use the special value '...' as the sole label name, for example: group_by: ['...']. This effectively disables aggregation entirely, passing through all alerts as-is. This is unlikely to be what you want, unless you have a very low alert volume or your upstream notification system performs its own grouping."
          }
        },
        "groupInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How long to wait before sending a notification about new alerts that are added to a group of alerts for which an initial notification has already been sent. (Usually ~5m or more.)\n`Additional Validators:`\n* must be a valid time format"
          }
        },
        "groupWait": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How long to initially wait to send a notification for a group of alerts. Allows to wait for an inhibiting alert to arrive or collect more initial alerts for the same group. (Usually ~0s to few minutes.)\n`Additional Validators:`\n* must be a valid time format"
          }
        },
        "match": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "map of key:value. A set of equality matchers an alert has to fulfill to match the node. \n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not be longer than 200 characters\n* key and values should only include the characters: a-zA-Z0-9_./@&?:-"
          }
        },
        "matchRe": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "map of key:value. A set of regex-matchers an alert has to fulfill to match the node. \n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not be longer than 200 characters"
          }
        },
        "receiver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Receiver that should be one item of receivers\n`Additional Validators:`\n* must be a in name of receivers",
            "smithy.api#required": {}
          }
        },
        "repeatInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How long to wait before sending a notification again if it has already been sent successfully for an alert. (Usually ~3h or more).\n`Additional Validators:`\n* must be a valid time format"
          }
        },
        "routes": {
          "target": "com.stackit.observability#UpdateAlertConfigsRequestRouteRoutesList",
          "traits": {
            "smithy.api#documentation": "Zero or more child routes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The root node of the routing tree."
      }
    },
    "com.stackit.observability#UpdateAlertConfigsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "global": {
          "target": "com.stackit.observability#UpdateAlertConfigsRequestGlobal",
          "traits": {
            "smithy.api#documentation": "Global config. If nothing passed the default argus config will be used. It is only possible to update the entire global part, not individual attributes."
          }
        },
        "inhibitRules": {
          "target": "com.stackit.observability#UpdateAlertConfigsRequestInhibitRules",
          "traits": {
            "smithy.api#documentation": "A list of inhibition rules."
          }
        },
        "receivers": {
          "target": "com.stackit.observability#UpdateAlertConfigsRequestReceiversList",
          "traits": {
            "smithy.api#documentation": "A list of notification receivers.",
            "smithy.api#required": {}
          }
        },
        "route": {
          "target": "com.stackit.observability#UpdateAlertConfigsRequestRoute",
          "traits": {
            "smithy.api#documentation": "The root node of the routing tree.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.observability#UpdateAlertConfigsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.stackit.observability#Alert",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#UpdateAlertConfigs": {
      "type": "operation",
      "input": {
        "target": "com.stackit.observability#UpdateAlertConfigsRequest"
      },
      "output": {
        "target": "com.stackit.observability#UpdateAlertConfigsResponse"
      },
      "errors": [
        {
          "target": "com.stackit.observability#BadRequest"
        },
        {
          "target": "com.stackit.observability#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/alertconfigs",
          "code": 200,
          "baseUrl": "https://argus.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Update alert config."
      }
    },
    "com.stackit.observability#ListAlertConfigReceiversRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.observability#AlertConfigReceiversResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.stackit.observability#AlertConfigReceiversResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#AlertConfigReceiversResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#Receivers"
      },
      "traits": {}
    },
    "com.stackit.observability#ListAlertConfigReceivers": {
      "type": "operation",
      "input": {
        "target": "com.stackit.observability#ListAlertConfigReceiversRequest"
      },
      "output": {
        "target": "com.stackit.observability#AlertConfigReceiversResponse"
      },
      "errors": [
        {
          "target": "com.stackit.observability#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/alertconfigs/receivers",
          "code": 200,
          "baseUrl": "https://argus.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Get alert config receivers."
      }
    },
    "com.stackit.observability#CreateAlertConfigReceiverRequestEmailConfigsItem": {
      "type": "structure",
      "members": {
        "authIdentity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMTP authentication information.\n`Additional Validators:`\n* must be a syntactically valid email address"
          }
        },
        "authPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMTP authentication information.",
            "smithy.api#sensitive": {}
          }
        },
        "authUsername": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMTP authentication information."
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sender address.\n`Additional Validators:`\n* must be a syntactically valid email address"
          }
        },
        "sendResolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to notify about resolved alerts."
          }
        },
        "smarthost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SMTP host through which emails are sent.\n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9_./@&?:-"
          }
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address to send notifications to.\n`Additional Validators:`\n* must be a syntactically valid email address"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#CreateAlertConfigReceiverRequestEmailConfigsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#CreateAlertConfigReceiverRequestEmailConfigsItem"
      },
      "traits": {
        "smithy.api#documentation": "Email configurations"
      }
    },
    "com.stackit.observability#CreateAlertConfigReceiverRequestOpsgenieConfigsItem": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API key to use when talking to the OpsGenie API.\n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9-",
            "smithy.api#sensitive": {}
          }
        },
        "apiUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The host to send OpsGenie API requests to.\n`Additional Validators:`\n* must be a syntactically valid url address"
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Priority level of alert. Possible values are P1, P2, P3, P4, and P5."
          }
        },
        "sendResolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to notify about resolved alerts."
          }
        },
        "tags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma separated list of tags attached to the notifications."
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#CreateAlertConfigReceiverRequestOpsgenieConfigsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#CreateAlertConfigReceiverRequestOpsgenieConfigsItem"
      },
      "traits": {
        "smithy.api#documentation": "Configuration for ops genie."
      }
    },
    "com.stackit.observability#CreateAlertConfigReceiverRequestWebHookConfigsItem": {
      "type": "structure",
      "members": {
        "googleChat": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Google Chat webhooks require special handling. If you set this property to true, it is treated as such. `Additional Validators:` * When set to true, msTeams must be false."
          }
        },
        "msTeams": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Microsoft Teams webhooks require special handling. If you set this property to true, it is treated as such. `Additional Validators:` * When set to true, googleChat must be false."
          }
        },
        "sendResolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to notify about resolved alerts."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The endpoint to send HTTP POST requests to.\n`Additional Validators:`\n* must be a syntactically valid url address"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#CreateAlertConfigReceiverRequestWebHookConfigsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#CreateAlertConfigReceiverRequestWebHookConfigsItem"
      },
      "traits": {}
    },
    "com.stackit.observability#CreateAlertConfigReceiverRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "emailConfigs": {
          "target": "com.stackit.observability#CreateAlertConfigReceiverRequestEmailConfigsList",
          "traits": {
            "smithy.api#documentation": "Email configurations"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`Additional Validators:`\n* must be unique\n* should only include the characters: a-zA-Z0-9-",
            "smithy.api#required": {}
          }
        },
        "opsgenieConfigs": {
          "target": "com.stackit.observability#CreateAlertConfigReceiverRequestOpsgenieConfigsList",
          "traits": {
            "smithy.api#documentation": "Configuration for ops genie."
          }
        },
        "webHookConfigs": {
          "target": "com.stackit.observability#CreateAlertConfigReceiverRequestWebHookConfigsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.observability#CreateAlertConfigReceiver": {
      "type": "operation",
      "input": {
        "target": "com.stackit.observability#CreateAlertConfigReceiverRequest"
      },
      "output": {
        "target": "com.stackit.observability#AlertConfigReceiversResponse"
      },
      "errors": [
        {
          "target": "com.stackit.observability#BadRequest"
        },
        {
          "target": "com.stackit.observability#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/alertconfigs/receivers",
          "code": 200,
          "baseUrl": "https://argus.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Create alert config receiver."
      }
    },
    "com.stackit.observability#GetAlertConfigReceiverRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "receiver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.observability#Receiver": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.stackit.observability#Receivers",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#GetAlertConfigReceiver": {
      "type": "operation",
      "input": {
        "target": "com.stackit.observability#GetAlertConfigReceiverRequest"
      },
      "output": {
        "target": "com.stackit.observability#Receiver"
      },
      "errors": [
        {
          "target": "com.stackit.observability#Forbidden"
        },
        {
          "target": "com.stackit.observability#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/alertconfigs/receivers/{receiver}",
          "code": 200,
          "baseUrl": "https://argus.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Get alert config receivers."
      }
    },
    "com.stackit.observability#UpdateAlertConfigReceiverRequestEmailConfigsItem": {
      "type": "structure",
      "members": {
        "authIdentity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMTP authentication information.\n`Additional Validators:`\n* must be a syntactically valid email address"
          }
        },
        "authPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMTP authentication information.",
            "smithy.api#sensitive": {}
          }
        },
        "authUsername": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMTP authentication information."
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sender address.\n`Additional Validators:`\n* must be a syntactically valid email address"
          }
        },
        "sendResolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to notify about resolved alerts."
          }
        },
        "smarthost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SMTP host through which emails are sent.\n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9_./@&?:-"
          }
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address to send notifications to.\n`Additional Validators:`\n* must be a syntactically valid email address"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#UpdateAlertConfigReceiverRequestEmailConfigsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#UpdateAlertConfigReceiverRequestEmailConfigsItem"
      },
      "traits": {
        "smithy.api#documentation": "Email configurations"
      }
    },
    "com.stackit.observability#UpdateAlertConfigReceiverRequestOpsgenieConfigsItem": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API key to use when talking to the OpsGenie API.\n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9-",
            "smithy.api#sensitive": {}
          }
        },
        "apiUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The host to send OpsGenie API requests to.\n`Additional Validators:`\n* must be a syntactically valid url address"
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Priority level of alert. Possible values are P1, P2, P3, P4, and P5."
          }
        },
        "sendResolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to notify about resolved alerts."
          }
        },
        "tags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma separated list of tags attached to the notifications."
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#UpdateAlertConfigReceiverRequestOpsgenieConfigsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#UpdateAlertConfigReceiverRequestOpsgenieConfigsItem"
      },
      "traits": {
        "smithy.api#documentation": "Configuration for ops genie."
      }
    },
    "com.stackit.observability#UpdateAlertConfigReceiverRequestWebHookConfigsItem": {
      "type": "structure",
      "members": {
        "googleChat": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Google Chat webhooks require special handling. If you set this property to true, it is treated as such. `Additional Validators:` * When set to true, msTeams must be false."
          }
        },
        "msTeams": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Microsoft Teams webhooks require special handling. If you set this property to true, it is treated as such. `Additional Validators:` * When set to true, googleChat must be false."
          }
        },
        "sendResolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to notify about resolved alerts."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The endpoint to send HTTP POST requests to.\n`Additional Validators:`\n* must be a syntactically valid url address"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#UpdateAlertConfigReceiverRequestWebHookConfigsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#UpdateAlertConfigReceiverRequestWebHookConfigsItem"
      },
      "traits": {}
    },
    "com.stackit.observability#UpdateAlertConfigReceiverRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "receiver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "emailConfigs": {
          "target": "com.stackit.observability#UpdateAlertConfigReceiverRequestEmailConfigsList",
          "traits": {
            "smithy.api#documentation": "Email configurations"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`Additional Validators:`\n* must be unique\n* should only include the characters: a-zA-Z0-9-",
            "smithy.api#required": {}
          }
        },
        "opsgenieConfigs": {
          "target": "com.stackit.observability#UpdateAlertConfigReceiverRequestOpsgenieConfigsList",
          "traits": {
            "smithy.api#documentation": "Configuration for ops genie."
          }
        },
        "webHookConfigs": {
          "target": "com.stackit.observability#UpdateAlertConfigReceiverRequestWebHookConfigsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.observability#UpdateAlertConfigReceiver": {
      "type": "operation",
      "input": {
        "target": "com.stackit.observability#UpdateAlertConfigReceiverRequest"
      },
      "output": {
        "target": "com.stackit.observability#AlertConfigReceiversResponse"
      },
      "errors": [
        {
          "target": "com.stackit.observability#BadRequest"
        },
        {
          "target": "com.stackit.observability#Forbidden"
        },
        {
          "target": "com.stackit.observability#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/alertconfigs/receivers/{receiver}",
          "code": 200,
          "baseUrl": "https://argus.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Update alert config receiver."
      }
    },
    "com.stackit.observability#DeleteAlertConfigReceiverRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "receiver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.observability#DeleteAlertConfigReceiver": {
      "type": "operation",
      "input": {
        "target": "com.stackit.observability#DeleteAlertConfigReceiverRequest"
      },
      "output": {
        "target": "com.stackit.observability#AlertConfigReceiversResponse"
      },
      "errors": [
        {
          "target": "com.stackit.observability#Forbidden"
        },
        {
          "target": "com.stackit.observability#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/alertconfigs/receivers/{receiver}",
          "code": 200,
          "baseUrl": "https://argus.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Delete alert config receiver."
      }
    },
    "com.stackit.observability#ListAlertConfigRoutesRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.observability#AlertConfigRouteResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.stackit.observability#Route",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.observability#ListAlertConfigRoutes": {
      "type": "operation",
      "input": {
        "target": "com.stackit.observability#ListAlertConfigRoutesRequest"
      },
      "output": {
        "target": "com.stackit.observability#AlertConfigRouteResponse"
      },
      "errors": [
        {
          "target": "com.stackit.observability#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/alertconfigs/routes",
          "code": 200,
          "baseUrl": "https://argus.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Get alert config route."
      }
    },
    "com.stackit.observability#CreateAlertConfigRouteRequestGroupByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The labels by which incoming alerts are grouped together. For example, multiple alerts coming in for cluster=A and alertname=LatencyHigh would be batched into a single group. To aggregate by all possible labels use the special value '...' as the sole label name, for example: group_by: ['...']. This effectively disables aggregation entirely, passing through all alerts as-is. This is unlikely to be what you want, unless you have a very low alert volume or your upstream notification system performs its own grouping."
      }
    },
    "com.stackit.observability#CreateAlertConfigRouteRequestMatchersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of matchers that an alert has to fulfill to match the node. A matcher is a string with a syntax inspired by PromQL and OpenMetrics. The syntax of a matcher consists of three tokens:\n* A valid Prometheus label name.\n* One of =, !=, =~, or !~. = means equals, != means that the strings are not equal, =~ is used for equality of regex expressions and !~ is used for un-equality of regex expressions. They have the same meaning as known from PromQL selectors.\n* A UTF-8 string, which may be enclosed in double quotes. Before or after each token, there may be any amount of whitespace.\n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not be longer than 200 characters"
      }
    },
    "com.stackit.observability#CreateAlertConfigRouteRequestRoutesItemGroupByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.observability#CreateAlertConfigRouteRequestRoutesItemMatchersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "As in one level above"
      }
    },
    "com.stackit.observability#CreateAlertConfigRouteRequestRoutesItemRoutesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Another child routes"
      }
    },
    "com.stackit.observability#CreateAlertConfigRouteRequestRoutesItem": {
      "type": "structure",
      "members": {
        "continue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether an alert should continue matching subsequent sibling nodes."
          }
        },
        "groupBy": {
          "target": "com.stackit.observability#CreateAlertConfigRouteRequestRoutesItemGroupByList"
        },
        "groupInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "As in one level above"
          }
        },
        "groupWait": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "As in one level above"
          }
        },
        "match": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "As in one level above"
          }
        },
        "matchRe": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "As in one level above"
          }
        },
        "matchers": {
          "target": "com.stackit.observability#CreateAlertConfigRouteRequestRoutesItemMatchersList",
          "traits": {
            "smithy.api#documentation": "As in one level above"
          }
        },
        "receiver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "As in one level above"
          }
        },
        "repeatInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "As in one level above"
          }
        },
        "routes": {
          "target": "com.stackit.observability#CreateAlertConfigRouteRequestRoutesItemRoutesList",
          "traits": {
            "smithy.api#documentation": "Another child routes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "As in one level above"
      }
    },
    "com.stackit.observability#CreateAlertConfigRouteRequestRoutesList": {
      "type": "list",
      "member": {
        "target": "com.stackit.observability#CreateAlertConfigRouteRequestRoutesItem"
      },
      "traits": {
        "smithy.api#documentation": "Zero or more child routes."
      }
    },
    "com.stackit.observability#CreateAlertConfigRouteRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "continue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The continue parameter cannot be set to true on the root route because there are no subsequent sibling nodes to match. It must always be false."
          }
        },
        "groupBy": {
          "target": "com.stackit.observability#CreateAlertConfigRouteRequestGroupByList",
          "traits": {
            "smithy.api#documentation": "The labels by which incoming alerts are grouped together. For example, multiple alerts coming in for cluster=A and alertname=LatencyHigh would be batched into a single group. To aggregate by all possible labels use the special value '...' as the sole label name, for example: group_by: ['...']. This effectively disables aggregation entirely, passing through all alerts as-is. This is unlikely to be what you want, unless you have a very low alert volume or your upstream notification system performs its own grouping."
          }
        },
        "groupInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How long to wait before sending a notification about new alerts that are added to a group of alerts for which an initial notification has already been sent. (Usually ~5m or more.)\n`Additional Validators:`\n* must be a valid time format"
          }
        },
        "groupWait": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How long to initially wait to send a notification for a group of alerts. Allows to wait for an inhibiting alert to arrive or collect more initial alerts for the same group. (Usually ~0s to few minutes.)\n`Additional Validators:`\n* must be a valid time format"
          }
        },
        "match": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "map of key:value. A set of equality matchers an alert has to fulfill to match the node. \n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not be longer than 200 characters\n* key and values should only include the characters: a-zA-Z0-9_./@&?:-"
          }
        },
        "matchRe": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "map of key:value. A set of regex-matchers an alert has to fulfill to match the node. \n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not be longer than 200 characters"
          }
        },
        "matchers": {
          "target": "com.stackit.observability#CreateAlertConfigRouteRequestMatchersList",
          "traits": {
            "smithy.api#documentation": "A list of matchers that an alert has to fulfill to match the node. A matcher is a string with a syntax inspired by PromQL and OpenMetrics. The syntax of a matcher consists of three tokens:\n* A valid Prometheus label name.\n* One of =, !=, =~, or !~. = means equals, != means that the strings are not equal, =~ is used for equality of regex expressions and !~ is used for un-equality of regex expressions. They have the same meaning as known from PromQL selectors.\n* A UTF-8 string, which may be enclosed in double quotes. Before or after each token, there may be any amount of whitespace.\n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not be longer than 200 characters"
          }
        },
        "receiver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Receiver that should be one item of receivers\n`Additional Validators:`\n* must be a in name of receivers",
            "smithy.api#required": {}
          }
        },
        "repeatInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How long to wait before sending a notification again if it has already been sent successfully for an alert. (Usually ~3h or more).\n`Additional Validators:`\n* must be a valid time format"
          }
        },
        "routes": {
          "target": "com.stackit.observability#CreateAlertConfigRouteRequestRoutesList",
          "traits": {
            "smithy.api#documentation": "Zero or more child routes."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.observability#CreateAlertConfigRoute": {
      "type": "operation",
      "input": {
        "target": "com.stackit.observability#CreateAlertConfigRouteRequest"
      },
      "output": {
        "target": "com.stackit.observability#AlertConfigRouteResponse"
      },
      "errors": [
        {
          "target": "com.stackit.observability#BadRequest"
        },
        {
          "target": "com.stackit.observability#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/alertconfigs/routes",
          "code": 200,
          "baseUrl": "https://argus.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Create alert config route in routes of route."
      }
    },
    "com.stackit.observability#GetAlertConfigRouteRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "receiver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.observability#GetAlertConfigRoute": {
      "type": "operation",
      "input": {
        "target": "com.stackit.observability#GetAlertConfigRouteRequest"
      },
      "output": {
        "target": "com.stackit.observability#AlertConfigRouteResponse"
      },
      "errors": [
        {
          "target": "com.stackit.observability#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/alertconfigs/routes/{receiver}",
          "code": 200,
          "baseUrl": "https://argus.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Get alert receiver for route."
      }
    },
    "com.stackit.observability#UpdateAlertConfigRouteRequestGroupByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
[...]
