{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.stackit.opensearch#ListInstancesRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "instances": {
          "target": "com.stackit.opensearch#ListInstancesResponseInstancesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#Instance": {
      "type": "structure",
      "members": {
        "cfGuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cfOrganizationGuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cfSpaceGuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dashboardUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "imageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String"
        },
        "lastOperation": {
          "target": "com.stackit.opensearch#InstanceLastOperation",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "offeringName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "offeringVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "planId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "planName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.stackit.opensearch#InstanceStatus"
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#InstanceLastOperation": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.stackit.opensearch#InstanceLastOperationState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.stackit.opensearch#InstanceLastOperationType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#InstanceLastOperationState": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in progress"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#InstanceLastOperationType": {
      "type": "enum",
      "members": {
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#InstanceStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updating"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#ListInstancesResponseInstancesList": {
      "type": "list",
      "member": {
        "target": "com.stackit.opensearch#Instance"
      },
      "traits": {}
    },
    "com.stackit.opensearch#ListInstances": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#ListInstancesRequest"
      },
      "output": {
        "target": "com.stackit.opensearch#ListInstancesResponse"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        },
        {
          "target": "com.stackit.opensearch#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "get service instances list\n\nGet a list of available instances"
      }
    },
    "com.stackit.opensearch#InstanceParameters": {
      "type": "structure",
      "members": {
        "enable_monitoring": {
          "target": "smithy.api#Boolean"
        },
        "graphite": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If you want to monitor your service with Graphite, you can set the custom parameter graphite. It expects the host and port where the Graphite metrics should be sent to."
          }
        },
        "java_garbage_collector": {
          "target": "com.stackit.opensearch#InstanceParametersJavaGarbageCollector"
        },
        "java_heapspace": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Default: not set, 46% of available memory will be used. The amount of memory (in MB) allocated as heap by the JVM for OpenSearch."
          }
        },
        "java_maxmetaspace": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The amount of memory (in MB) used by the JVM to store metadata for OpenSearch."
          }
        },
        "max_disk_threshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This component monitors ephemeral and persistent disk usage. If one of these disk usages reaches the default configured threshold of 80%, the a9s Parachute stops all processes on that node."
          }
        },
        "metrics_frequency": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Frequency of metrics being emitted in seconds"
          }
        },
        "metrics_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Depending on your graphite provider, you might need to prefix the metrics with a certain value, like an API key for example."
          }
        },
        "monitoring_instance_id": {
          "target": "smithy.api#String"
        },
        "plugins": {
          "target": "com.stackit.opensearch#InstanceParametersPluginsList",
          "traits": {
            "smithy.api#documentation": "The plugins repository-s3 and repository-azure are enabled by default and cannot be disabled."
          }
        },
        "sgw_acl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma separated list of IP networks in CIDR notation which are allowed to access this instance."
          }
        },
        "syslog": {
          "target": "com.stackit.opensearch#InstanceParametersSyslogList"
        },
        "tls_ciphers": {
          "target": "com.stackit.opensearch#InstanceParametersTlsCiphersList",
          "traits": {
            "smithy.api#documentation": "This property is deprecated and will be removed in a future release.",
            "smithy.api#jsonName": "tls-ciphers"
          }
        },
        "tls_protocols": {
          "target": "com.stackit.opensearch#InstanceParametersTlsProtocolsList",
          "traits": {
            "smithy.api#documentation": "This property is deprecated and will be removed in a future release.",
            "smithy.api#jsonName": "tls-protocols"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#InstanceParametersJavaGarbageCollector": {
      "type": "enum",
      "members": {
        "USESERIALGC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UseSerialGC"
          }
        },
        "USEPARALLELGC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UseParallelGC"
          }
        },
        "USEPARALLELOLDGC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UseParallelOldGC"
          }
        },
        "USEG1GC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UseG1GC"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#InstanceParametersPluginsItem": {
      "type": "enum",
      "members": {
        "REPOSITORY_S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repository-s3"
          }
        },
        "REPOSITORY_AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repository-azure"
          }
        },
        "ANALYSIS_PHONETIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "analysis-phonetic"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#InstanceParametersPluginsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.opensearch#InstanceParametersPluginsItem"
      },
      "traits": {
        "smithy.api#documentation": "The plugins repository-s3 and repository-azure are enabled by default and cannot be disabled."
      }
    },
    "com.stackit.opensearch#InstanceParametersSyslogList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.opensearch#InstanceParametersTlsCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "This property is deprecated and will be removed in a future release."
      }
    },
    "com.stackit.opensearch#InstanceParametersTlsProtocolsItem": {
      "type": "enum",
      "members": {
        "TLSV1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TLSv1.2"
          }
        },
        "TLSV1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TLSv1.3"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#InstanceParametersTlsProtocolsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.opensearch#InstanceParametersTlsProtocolsItem"
      },
      "traits": {
        "smithy.api#documentation": "This property is deprecated and will be removed in a future release."
      }
    },
    "com.stackit.opensearch#CreateInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "com.stackit.opensearch#InstanceParameters"
        },
        "planId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#CreateInstanceResponse": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#CreateInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#CreateInstanceRequest"
      },
      "output": {
        "target": "com.stackit.opensearch#CreateInstanceResponse"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        },
        {
          "target": "com.stackit.opensearch#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "provision\n\nProvision a service instance."
      }
    },
    "com.stackit.opensearch#GetInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#GetInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#GetInstanceRequest"
      },
      "output": {
        "target": "com.stackit.opensearch#Instance"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        },
        {
          "target": "com.stackit.opensearch#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "get a service instance\n\nget a service instance"
      }
    },
    "com.stackit.opensearch#PartialUpdateInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        },
        "instanceName": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.stackit.opensearch#InstanceParameters"
        },
        "planId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#PartialUpdateInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#PartialUpdateInstanceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        },
        {
          "target": "com.stackit.opensearch#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "update a service instance\n\nUpdate a service instance. This could be a sgw acl update or a plan upgrade."
      }
    },
    "com.stackit.opensearch#DeleteInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#DeleteInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#DeleteInstanceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        },
        {
          "target": "com.stackit.opensearch#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "delete service instance\n\nDeprovision a service instance."
      }
    },
    "com.stackit.opensearch#ListBackupsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#ListBackupsResponse": {
      "type": "list",
      "member": {
        "target": "com.stackit.opensearch#Backup"
      },
      "traits": {}
    },
    "com.stackit.opensearch#Backup": {
      "type": "structure",
      "members": {
        "downloadable": {
          "target": "smithy.api#Boolean"
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer"
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "triggered_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#ListBackupsResponse2": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.stackit.opensearch#ListBackupsResponse",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.stackit.opensearch#ListBackups": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#ListBackupsRequest"
      },
      "output": {
        "target": "com.stackit.opensearch#ListBackupsResponse2"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        },
        {
          "target": "com.stackit.opensearch#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/backups",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "get latest backup information for provided instanceId"
      }
    },
    "com.stackit.opensearch#CreateBackupRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#CreateBackupResponseItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#CreateBackup": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#CreateBackupRequest"
      },
      "output": {
        "target": "com.stackit.opensearch#CreateBackupResponseItem"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        },
        {
          "target": "com.stackit.opensearch#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/backups",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "create a backup"
      }
    },
    "com.stackit.opensearch#UpdateBackupsConfigRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        },
        "encryption_key": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#UpdateBackupsConfigResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#UpdateBackupsConfig": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#UpdateBackupsConfigRequest"
      },
      "output": {
        "target": "com.stackit.opensearch#UpdateBackupsConfigResponse"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        },
        {
          "target": "com.stackit.opensearch#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/backups-config",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "backups configuration update\n\nUpdate the configuration for backups for your instance."
      }
    },
    "com.stackit.opensearch#DownloadBackupRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        },
        "backupId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Backup id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#DownloadBackup": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#DownloadBackupRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        },
        {
          "target": "com.stackit.opensearch#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/backups/{backupId}/download",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "download backup"
      }
    },
    "com.stackit.opensearch#TriggerRestoreRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        },
        "backupId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Backup id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#TriggerRestoreResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#TriggerRestore": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#TriggerRestoreRequest"
      },
      "output": {
        "target": "com.stackit.opensearch#TriggerRestoreResponse"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        },
        {
          "target": "com.stackit.opensearch#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/backups/{backupId}/restore",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "trigger a restore"
      }
    },
    "com.stackit.opensearch#ListCredentialsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#ListCredentialsResponse": {
      "type": "structure",
      "members": {
        "credentialsList": {
          "target": "com.stackit.opensearch#ListCredentialsResponseCredentialsListList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#CredentialsListItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#ListCredentialsResponseCredentialsListList": {
      "type": "list",
      "member": {
        "target": "com.stackit.opensearch#CredentialsListItem"
      },
      "traits": {}
    },
    "com.stackit.opensearch#ListCredentials": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#ListCredentialsRequest"
      },
      "output": {
        "target": "com.stackit.opensearch#ListCredentialsResponse"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        },
        {
          "target": "com.stackit.opensearch#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/credentials",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "get list of credentials ids\n\nget list all credentials ids for instance"
      }
    },
    "com.stackit.opensearch#CreateCredentialsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        },
        "parameters": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#CredentialsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "raw": {
          "target": "com.stackit.opensearch#RawCredentials"
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#RawCredentials": {
      "type": "structure",
      "members": {
        "credentials": {
          "target": "com.stackit.opensearch#Credentials",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#Credentials": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hosts": {
          "target": "com.stackit.opensearch#CredentialsHostsList"
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer"
        },
        "scheme": {
          "target": "smithy.api#String"
        },
        "uri": {
          "target": "smithy.api#String"
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#CredentialsHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.opensearch#CreateCredentials": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#CreateCredentialsRequest"
      },
      "output": {
        "target": "com.stackit.opensearch#CredentialsResponse"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/credentials",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "create new credentials\n\nCreate new service credentials"
      }
    },
    "com.stackit.opensearch#GetCredentialsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        },
        "credentialsId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Credentials id of credentials to fetch"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#GetCredentials": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#GetCredentialsRequest"
      },
      "output": {
        "target": "com.stackit.opensearch#CredentialsResponse"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        },
        {
          "target": "com.stackit.opensearch#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/credentials/{credentialsId}",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "get credentials by id\n\nget a service credentials by credentials id"
      }
    },
    "com.stackit.opensearch#DeleteCredentialsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        },
        "credentialsId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of the credentials being deleted"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#DeleteCredentials": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#DeleteCredentialsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        },
        {
          "target": "com.stackit.opensearch#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/credentials/{credentialsId}",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "delete credentials by id\n\nDelete a service credentials."
      }
    },
    "com.stackit.opensearch#GetMetricsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#GetMetricsResponse": {
      "type": "structure",
      "members": {
        "cpuIdleTime": {
          "target": "smithy.api#Integer"
        },
        "cpuLoadPercent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cpuSystemTime": {
          "target": "smithy.api#Integer"
        },
        "cpuUserTime": {
          "target": "smithy.api#Integer"
        },
        "diskEphemeralTotal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "diskEphemeralUsed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "diskPersistentTotal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "diskPersistentUsed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "load1": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "load15": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "load5": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "memoryTotal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "memoryUsed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskEphemeralActivated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskEphemeralTotal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskEphemeralUsed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskEphemeralUsedPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskEphemeralUsedThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskPersistentActivated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskPersistentTotal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskPersistentUsed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskPersistentUsedPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskPersistentUsedThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#GetMetrics": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#GetMetricsRequest"
      },
      "output": {
        "target": "com.stackit.opensearch#GetMetricsResponse"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        },
        {
          "target": "com.stackit.opensearch#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/metrics",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "get latest metrics for cpu load, memory and disk usage"
      }
    },
    "com.stackit.opensearch#TriggerRecreateRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#TriggerRecreate": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#TriggerRecreateRequest"
      },
      "output": {
        "target": "com.stackit.opensearch#CreateInstanceResponse"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        },
        {
          "target": "com.stackit.opensearch#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/recreate",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "trigger a recreate"
      }
    },
    "com.stackit.opensearch#TriggerRestartRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#TriggerRestart": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#TriggerRestartRequest"
      },
      "output": {
        "target": "com.stackit.opensearch#CreateInstanceResponse"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        },
        {
          "target": "com.stackit.opensearch#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/restart",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "trigger a restart"
      }
    },
    "com.stackit.opensearch#ListRestoresRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#ListRestoresResponse": {
      "type": "structure",
      "members": {
        "instanceRestores": {
          "target": "com.stackit.opensearch#ListRestoresResponseInstanceRestoresList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#Restore": {
      "type": "structure",
      "members": {
        "backup_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "triggered_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#ListRestoresResponseInstanceRestoresList": {
      "type": "list",
      "member": {
        "target": "com.stackit.opensearch#Restore"
      },
      "traits": {}
    },
    "com.stackit.opensearch#ListRestores": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#ListRestoresRequest"
      },
      "output": {
        "target": "com.stackit.opensearch#ListRestoresResponse"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        },
        {
          "target": "com.stackit.opensearch#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/restores",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "get latest restore information for provided instanceId"
      }
    },
    "com.stackit.opensearch#ListOfferingsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.opensearch#ListOfferingsResponse": {
      "type": "structure",
      "members": {
        "offerings": {
          "target": "com.stackit.opensearch#ListOfferingsResponseOfferingsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#Offering": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "imageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "latest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lifecycle": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "plans": {
          "target": "com.stackit.opensearch#OfferingPlansList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "quotaCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "schema": {
          "target": "com.stackit.opensearch#InstanceSchema"
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#Plan": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "free": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "skuName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#OfferingPlansList": {
      "type": "list",
      "member": {
        "target": "com.stackit.opensearch#Plan"
      },
      "traits": {}
    },
    "com.stackit.opensearch#InstanceSchema": {
      "type": "structure",
      "members": {
        "create": {
          "target": "com.stackit.opensearch#Schema",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "update": {
          "target": "com.stackit.opensearch#Schema",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#Schema": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.opensearch#ListOfferingsResponseOfferingsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.opensearch#Offering"
      },
      "traits": {}
    },
    "com.stackit.opensearch#ListOfferings": {
      "type": "operation",
      "input": {
        "target": "com.stackit.opensearch#ListOfferingsRequest"
      },
      "output": {
        "target": "com.stackit.opensearch#ListOfferingsResponse"
      },
      "errors": [
        {
          "target": "com.stackit.opensearch#BadRequest"
        },
        {
          "target": "com.stackit.opensearch#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/offerings",
          "code": 200,
          "baseUrl": "https://opensearch.api.stackit.cloud"
        },
        "smithy.api#documentation": "get the service offerings\n\nGet the service offerings that the service broker offers."
      }
    },
    "com.stackit.opensearch#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.stackit.opensearch#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.stackit.opensearch#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.stackit.opensearch#Opensearch": {
      "type": "service",
      "version": "2.1.0",
      "operations": [
        {
          "target": "com.stackit.opensearch#ListInstances"
        },
        {
          "target": "com.stackit.opensearch#CreateInstance"
        },
        {
          "target": "com.stackit.opensearch#GetInstance"
        },
        {
          "target": "com.stackit.opensearch#PartialUpdateInstance"
        },
        {
          "target": "com.stackit.opensearch#DeleteInstance"
        },
        {
          "target": "com.stackit.opensearch#ListBackups"
        },
        {
          "target": "com.stackit.opensearch#CreateBackup"
        },
        {
          "target": "com.stackit.opensearch#UpdateBackupsConfig"
        },
        {
          "target": "com.stackit.opensearch#DownloadBackup"
        },
        {
          "target": "com.stackit.opensearch#TriggerRestore"
        },
        {
          "target": "com.stackit.opensearch#ListCredentials"
        },
        {
          "target": "com.stackit.opensearch#CreateCredentials"
        },
        {
          "target": "com.stackit.opensearch#GetCredentials"
        },
        {
          "target": "com.stackit.opensearch#DeleteCredentials"
        },
        {
          "target": "com.stackit.opensearch#GetMetrics"
        },
        {
          "target": "com.stackit.opensearch#TriggerRecreate"
        },
        {
          "target": "com.stackit.opensearch#TriggerRestart"
        },
        {
          "target": "com.stackit.opensearch#ListRestores"
        },
        {
          "target": "com.stackit.opensearch#ListOfferings"
        }
      ],
      "traits": {
        "smithy.api#title": "STACKIT Opensearch API",
        "smithy.api#documentation": "The STACKIT Opensearch API provides endpoints to list service offerings, manage service instances and service credentials within STACKIT portal projects."
      }
    }
  }
}
