{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.stackit.postgres_flex#ListFlavorsRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#FlavorSort": {
      "type": "enum",
      "members": {
        "CPU_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu.desc"
          }
        },
        "CPU_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu.asc"
          }
        },
        "FLAVOR_DESCRIPTION_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flavor_description.asc"
          }
        },
        "FLAVOR_DESCRIPTION_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flavor_description.desc"
          }
        },
        "ID_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id.desc"
          }
        },
        "ID_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id.asc"
          }
        },
        "SIZE_MAX_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "size_max.desc"
          }
        },
        "SIZE_MAX_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "size_max.asc"
          }
        },
        "RAM_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ram.desc"
          }
        },
        "RAM_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ram.asc"
          }
        },
        "SIZE_MIN_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "size_min.desc"
          }
        },
        "SIZE_MIN_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "size_min.asc"
          }
        },
        "STORAGE_CLASS_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storage_class.asc"
          }
        },
        "STORAGE_CLASS_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storage_class.desc"
          }
        },
        "NODE_TYPE_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "node_type.asc"
          }
        },
        "NODE_TYPE_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "node_type.desc"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#ListFlavorsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#ListFlavorsRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Number of the page of items list to be returned."
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "size",
            "smithy.api#documentation": "Number of items to be returned on each page."
          }
        },
        "sort": {
          "target": "com.stackit.postgres_flex#FlavorSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Sorting of the flavors to be returned on each page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#ListFlavorsResponse": {
      "type": "structure",
      "members": {
        "flavors": {
          "target": "com.stackit.postgres_flex#ListFlavorsResponseFlavorsList",
          "traits": {
            "smithy.api#documentation": "List of flavors available for the project.",
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.stackit.postgres_flex#Pagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#ListFlavors": {
      "type": "structure",
      "members": {
        "cpu": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "maxGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "memory": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "minGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "nodeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storageClasses": {
          "target": "com.stackit.postgres_flex#FlavorStorageClasses",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The flavor of the instance containing the technical features."
      }
    },
    "com.stackit.postgres_flex#FlavorStorageClasses": {
      "type": "list",
      "member": {
        "target": "com.stackit.postgres_flex#FlavorStorageClassesStorageClass"
      },
      "traits": {
        "smithy.api#documentation": "maximum storage which can be ordered for the flavor in Gigabyte."
      }
    },
    "com.stackit.postgres_flex#FlavorStorageClassesStorageClass": {
      "type": "structure",
      "members": {
        "class": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "maxIoPerSec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "maxThroughInMb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "a storageClass defines how efficient the storage can work"
      }
    },
    "com.stackit.postgres_flex#ListFlavorsResponseFlavorsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.postgres_flex#ListFlavors"
      },
      "traits": {
        "smithy.api#documentation": "List of flavors available for the project."
      }
    },
    "com.stackit.postgres_flex#Pagination": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "totalPages": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "totalRows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#ListFlavors2": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#ListFlavorsRequest"
      },
      "output": {
        "target": "com.stackit.postgres_flex#ListFlavorsResponse"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/projects/{projectId}/regions/{region}/flavors",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "Get Flavors\n\nGet all available flavors for a project."
      }
    },
    "com.stackit.postgres_flex#ListInstancesRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#InstanceSort": {
      "type": "enum",
      "members": {
        "ID_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id.desc"
          }
        },
        "ID_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id.asc"
          }
        },
        "IS_DELETABLE_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_deletable.desc"
          }
        },
        "IS_DELETABLE_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_deletable.asc"
          }
        },
        "NAME_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name.asc"
          }
        },
        "NAME_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name.desc"
          }
        },
        "STATE_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "state.asc"
          }
        },
        "STATE_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "state.desc"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#ListInstancesRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#ListInstancesRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Number of the page of items list to be returned."
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "size",
            "smithy.api#documentation": "Number of items to be returned on each page."
          }
        },
        "sort": {
          "target": "com.stackit.postgres_flex#InstanceSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Sorting of the items to be returned on each page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "instances": {
          "target": "com.stackit.postgres_flex#ListInstancesResponseInstancesList",
          "traits": {
            "smithy.api#documentation": "List of owned instances and their current state.",
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.stackit.postgres_flex#Pagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#ListInstance": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDeletable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.stackit.postgres_flex#State",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#State": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "PROGRESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROGRESSING"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "TERMINATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATING"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current state of the instance."
      }
    },
    "com.stackit.postgres_flex#ListInstancesResponseInstancesList": {
      "type": "list",
      "member": {
        "target": "com.stackit.postgres_flex#ListInstance"
      },
      "traits": {
        "smithy.api#documentation": "List of owned instances and their current state."
      }
    },
    "com.stackit.postgres_flex#ListInstances": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#ListInstancesRequest"
      },
      "output": {
        "target": "com.stackit.postgres_flex#ListInstancesResponse"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "List Instances\n\nList all available instances for your project."
      }
    },
    "com.stackit.postgres_flex#CreateInstanceRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#InstanceEncryption": {
      "type": "structure",
      "members": {
        "kekKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encryption-key key identifier",
            "smithy.api#required": {}
          }
        },
        "kekKeyRingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encryption-key keyring identifier",
            "smithy.api#required": {}
          }
        },
        "kekKeyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encryption-key version",
            "smithy.api#required": {}
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration for instance's volume and backup storage encryption.\n\n⚠️ **Note:** This feature is in private preview. Supplying this object is only permitted for enabled accounts. If your account does not have access, the request will be rejected.\n"
      }
    },
    "com.stackit.postgres_flex#Labels": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String",
        "traits": {
          "com.distilled.openapi#nullable": {}
        }
      },
      "traits": {
        "smithy.api#documentation": "Key-value pairs, 63 characters max, begin and end with an alphanumerical character,\nmay contain dashes (-), underscores (_), dots (.), and alphanumerics between. Key MUST be at least 1 character.\nMax 64 labels\nRegex for keys: ^(?=.{1,63}$)([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9]$\nRegex for values: ^(?=.{0,63}$)(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])*$\nThe stackit- prefix is reserved and cannot be used for Keys.\n"
      }
    },
    "com.stackit.postgres_flex#InstanceNetworkCreate": {
      "type": "structure",
      "members": {
        "accessScope": {
          "target": "com.stackit.postgres_flex#InstanceNetworkAccessScope"
        },
        "acl": {
          "target": "com.stackit.postgres_flex#Acl",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The access configuration of the instance"
      }
    },
    "com.stackit.postgres_flex#InstanceNetworkAccessScope": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC"
          }
        },
        "SNA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNA"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The access scope of the instance. It defines if the instance is public or airgapped.\n\n⚠️ **Note:** \"SNA\" value for the \"network.accessScope\" field is only permitted for enabled accounts. If your account does not have access, the request will be rejected.\n"
      }
    },
    "com.stackit.postgres_flex#Acl": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPV4 cidr."
      }
    },
    "com.stackit.postgres_flex#StorageCreate": {
      "type": "structure",
      "members": {
        "class": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object containing information about the storage size and class."
      }
    },
    "com.stackit.postgres_flex#CreateInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#CreateInstanceRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "backupSchedule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "encryption": {
          "target": "com.stackit.postgres_flex#InstanceEncryption"
        },
        "flavorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.stackit.postgres_flex#Labels"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.stackit.postgres_flex#InstanceNetworkCreate",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "storage": {
          "target": "com.stackit.postgres_flex#StorageCreate",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#CreateInstanceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#CreateInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#CreateInstanceRequest"
      },
      "output": {
        "target": "com.stackit.postgres_flex#CreateInstanceResponse"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        },
        {
          "target": "com.stackit.postgres_flex#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "Create Instance\n\nCreate a new instance of a postgres database instance."
      }
    },
    "com.stackit.postgres_flex#GetInstanceRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#GetInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#GetInstanceRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#GetInstanceResponse": {
      "type": "structure",
      "members": {
        "backupSchedule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "connectionInfo": {
          "target": "com.stackit.postgres_flex#InstanceConnectionInfo",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "encryption": {
          "target": "com.stackit.postgres_flex#InstanceEncryption"
        },
        "flavorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDeletable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.stackit.postgres_flex#Labels"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.stackit.postgres_flex#InstanceNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "com.stackit.postgres_flex#State",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storage": {
          "target": "com.stackit.postgres_flex#Storage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#InstanceConnectionInfo": {
      "type": "structure",
      "members": {
        "write": {
          "target": "com.stackit.postgres_flex#InstanceConnectionInfoWrite",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The connection information of the instance"
      }
    },
    "com.stackit.postgres_flex#InstanceConnectionInfoWrite": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The host of the instance.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The port of the instance.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The DNS name and port in the instance overview"
      }
    },
    "com.stackit.postgres_flex#InstanceNetwork": {
      "type": "structure",
      "members": {
        "accessScope": {
          "target": "com.stackit.postgres_flex#InstanceNetworkAccessScope"
        },
        "acl": {
          "target": "com.stackit.postgres_flex#Acl",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "instanceAddress": {
          "target": "smithy.api#String"
        },
        "routerAddress": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The access configuration of the instance"
      }
    },
    "com.stackit.postgres_flex#Storage": {
      "type": "structure",
      "members": {
        "class": {
          "target": "smithy.api#String"
        },
        "size": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "The object containing information about the storage size and class."
      }
    },
    "com.stackit.postgres_flex#GetInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#GetInstanceRequest"
      },
      "output": {
        "target": "com.stackit.postgres_flex#GetInstanceResponse"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "Get Specific Instance\n\nGet information about a specific available instance"
      }
    },
    "com.stackit.postgres_flex#UpdateInstanceRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#InstanceNetworkUpdate": {
      "type": "structure",
      "members": {
        "acl": {
          "target": "com.stackit.postgres_flex#Acl",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The access configuration of the instance"
      }
    },
    "com.stackit.postgres_flex#StorageUpdate": {
      "type": "structure",
      "members": {
        "size": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "The object containing information about the storage size and class."
      }
    },
    "com.stackit.postgres_flex#UpdateInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#UpdateInstanceRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        },
        "backupSchedule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "flavorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.stackit.postgres_flex#Labels"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.stackit.postgres_flex#InstanceNetworkUpdate",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "storage": {
          "target": "com.stackit.postgres_flex#StorageUpdate",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#UpdateInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#UpdateInstanceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        },
        {
          "target": "com.stackit.postgres_flex#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "Update Instance\n\nUpdates an available instance of a postgres database"
      }
    },
    "com.stackit.postgres_flex#PartialUpdateInstanceRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#InstanceNetworkOpt": {
      "type": "structure",
      "members": {
        "acl": {
          "target": "com.stackit.postgres_flex#AclOpt"
        }
      },
      "traits": {
        "smithy.api#documentation": "The access configuration of the instance"
      }
    },
    "com.stackit.postgres_flex#AclOpt": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPV4 cidr."
      }
    },
    "com.stackit.postgres_flex#PartialUpdateInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#PartialUpdateInstanceRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        },
        "backupSchedule": {
          "target": "smithy.api#String"
        },
        "flavorId": {
          "target": "smithy.api#String"
        },
        "labels": {
          "target": "com.stackit.postgres_flex#Labels"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "network": {
          "target": "com.stackit.postgres_flex#InstanceNetworkOpt"
        },
        "retentionDays": {
          "target": "smithy.api#Integer"
        },
        "storage": {
          "target": "com.stackit.postgres_flex#StorageUpdate"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#PartialUpdateInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#PartialUpdateInstanceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        },
        {
          "target": "com.stackit.postgres_flex#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "Update Instance Partially\n\nUpdate an available instance of a postgres database. No fields are required."
      }
    },
    "com.stackit.postgres_flex#DeleteInstanceRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#DeleteInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#DeleteInstanceRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#DeleteInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#DeleteInstanceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "Delete Instance\n\nDelete an available postgres instance."
      }
    },
    "com.stackit.postgres_flex#ListBackupsRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#BackupSort": {
      "type": "enum",
      "members": {
        "COMPLETION_TIME_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completion_time.desc"
          }
        },
        "COMPLETION_TIME_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completion_time.asc"
          }
        },
        "END_TIME_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "end_time.desc"
          }
        },
        "END_TIME_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "end_time.asc"
          }
        },
        "NAME_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name.desc"
          }
        },
        "NAME_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name.asc"
          }
        },
        "RETAINED_UNTIL_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retained_until.desc"
          }
        },
        "RETAINED_UNTIL_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retained_until.asc"
          }
        },
        "SIZE_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "size.desc"
          }
        },
        "SIZE_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "size.asc"
          }
        },
        "TYPE_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "type.desc"
          }
        },
        "TYPE_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "type.asc"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#ListBackupsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#ListBackupsRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Number of the page of items list to be returned."
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "size",
            "smithy.api#documentation": "Number of items to be returned on each page."
          }
        },
        "sort": {
          "target": "com.stackit.postgres_flex#BackupSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Sorting of the backups to be returned on each page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#ListBackupsResponse": {
      "type": "structure",
      "members": {
        "backups": {
          "target": "com.stackit.postgres_flex#ListBackupsResponseBackupsList",
          "traits": {
            "smithy.api#documentation": "The list containing the information about the backups.",
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.stackit.postgres_flex#Pagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#BackupData": {
      "type": "structure",
      "members": {
        "completionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retainedUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#ListBackupsResponseBackupsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.postgres_flex#BackupData"
      },
      "traits": {
        "smithy.api#documentation": "The list containing the information about the backups."
      }
    },
    "com.stackit.postgres_flex#ListBackups": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#ListBackupsRequest"
      },
      "output": {
        "target": "com.stackit.postgres_flex#ListBackupsResponse"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}/backups",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "List backups\n\nList all backups which are available for a specific instance."
      }
    },
    "com.stackit.postgres_flex#GetBackupRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#GetBackupRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#GetBackupRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        },
        "backupId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the backup."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#GetBackup": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#GetBackupRequest"
      },
      "output": {
        "target": "com.stackit.postgres_flex#BackupData"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}/backups/{backupId}",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "Get specific backup\n\nGet information about a specific backup for an instance."
      }
    },
    "com.stackit.postgres_flex#CloneInstanceRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#CloneInstanceOverrides": {
      "type": "structure",
      "members": {
        "class": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#CloneInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#CloneInstanceRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        },
        "instanceOverrides": {
          "target": "com.stackit.postgres_flex#CloneInstanceOverrides",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointInTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#CloneInstanceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#CloneInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#CloneInstanceRequest"
      },
      "output": {
        "target": "com.stackit.postgres_flex#CloneInstanceResponse"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        },
        {
          "target": "com.stackit.postgres_flex#Conflict"
        },
        {
          "target": "com.stackit.postgres_flex#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}/clone",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "Clone Instance\n\nClone Instance"
      }
    },
    "com.stackit.postgres_flex#ListCollationsRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#ListCollationsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#ListCollationsRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#ListCollationsResponse": {
      "type": "structure",
      "members": {
        "collations": {
          "target": "com.stackit.postgres_flex#ListCollationsResponseCollationsList",
          "traits": {
            "smithy.api#documentation": "List of collations available for the instance.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#ListCollationsResponseCollationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of collations available for the instance."
      }
    },
    "com.stackit.postgres_flex#ListCollations": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#ListCollationsRequest"
      },
      "output": {
        "target": "com.stackit.postgres_flex#ListCollationsResponse"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}/collations",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "Get Collations for an Instance\n\nGet available collations for an instance"
      }
    },
    "com.stackit.postgres_flex#ListDatabasesRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#DatabaseSort": {
      "type": "enum",
      "members": {
        "CREATED_AT_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at.desc"
          }
        },
        "CREATED_AT_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at.asc"
          }
        },
        "DATABASE_ID_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database_id.desc"
          }
        },
        "DATABASE_ID_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database_id.asc"
          }
        },
        "DATABASE_NAME_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database_name.desc"
          }
        },
        "DATABASE_NAME_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database_name.asc"
          }
        },
        "DATABASE_OWNER_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database_owner.desc"
          }
        },
        "DATABASE_OWNER_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database_owner.asc"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#ListDatabasesRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#ListDatabasesRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Number of the page of items list to be returned."
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "size",
            "smithy.api#documentation": "Number of items to be returned on each page."
          }
        },
        "sort": {
          "target": "com.stackit.postgres_flex#DatabaseSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Sorting of the databases to be returned on each page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#ListDatabasesResponse": {
      "type": "structure",
      "members": {
        "databases": {
          "target": "com.stackit.postgres_flex#ListDatabasesResponseDatabasesList",
          "traits": {
            "smithy.api#documentation": "A list containing all databases for the instance.",
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.stackit.postgres_flex#Pagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#ListDatabase": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#ListDatabasesResponseDatabasesList": {
      "type": "list",
      "member": {
        "target": "com.stackit.postgres_flex#ListDatabase"
      },
      "traits": {
        "smithy.api#documentation": "A list containing all databases for the instance."
      }
    },
    "com.stackit.postgres_flex#ListDatabases": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#ListDatabasesRequest"
      },
      "output": {
        "target": "com.stackit.postgres_flex#ListDatabasesResponse"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}/databases",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "List Databases\n\nList available databases for an instance."
      }
    },
    "com.stackit.postgres_flex#CreateDatabaseRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#CreateDatabaseRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#CreateDatabaseRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#CreateDatabaseResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#CreateDatabase": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#CreateDatabaseRequest"
      },
      "output": {
        "target": "com.stackit.postgres_flex#CreateDatabaseResponse"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        },
        {
          "target": "com.stackit.postgres_flex#Conflict"
        },
        {
          "target": "com.stackit.postgres_flex#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}/databases",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "Create Database\n\nCreate database for a user. Note: The name of a valid user must be provided in the 'options' map field using the key 'owner'"
      }
    },
    "com.stackit.postgres_flex#GetDatabaseRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#GetDatabaseRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#GetDatabaseRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        },
        "databaseId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the database."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#GetDatabaseResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#GetDatabase": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#GetDatabaseRequest"
      },
      "output": {
        "target": "com.stackit.postgres_flex#GetDatabaseResponse"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}/databases/{databaseId}",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "Get Specific Database\n\nGet information about a specific database in an instance."
      }
    },
    "com.stackit.postgres_flex#UpdateDatabaseRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#UpdateDatabaseRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#UpdateDatabaseRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        },
        "databaseId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the database."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#UpdateDatabase": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#UpdateDatabaseRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        },
        {
          "target": "com.stackit.postgres_flex#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}/databases/{databaseId}",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "Update Database\n\nUpdate a database in an instance."
      }
    },
    "com.stackit.postgres_flex#PartialUpdateDatabaseRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#PartialUpdateDatabaseRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#PartialUpdateDatabaseRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        },
        "databaseId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the database."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "owner": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#PartialUpdateDatabase": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#PartialUpdateDatabaseRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        },
        {
          "target": "com.stackit.postgres_flex#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}/databases/{databaseId}",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "Update Database partially\n\nUpdate a database partially in an instance."
      }
    },
    "com.stackit.postgres_flex#DeleteDatabaseRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#DeleteDatabaseRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#DeleteDatabaseRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        },
        "databaseId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the database."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#DeleteDatabase": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#DeleteDatabaseRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}/databases/{databaseId}",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "Delete Database\n\nDelete database for an instance."
      }
    },
    "com.stackit.postgres_flex#UpdateInstanceProtectionRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#UpdateInstanceProtectionRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#UpdateInstanceProtectionRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        },
        "isDeletable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#UpdateInstanceProtectionResponse": {
      "type": "structure",
      "members": {
        "isDeletable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#UpdateInstanceProtection": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#UpdateInstanceProtectionRequest"
      },
      "output": {
        "target": "com.stackit.postgres_flex#UpdateInstanceProtectionResponse"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        },
        {
          "target": "com.stackit.postgres_flex#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}/protections",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "Toggle Instance Protection\n\nToggle the deletion protection for an instance."
      }
    },
    "com.stackit.postgres_flex#ListRolesRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#ListRolesRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#ListRolesRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#ListRolesResponse": {
      "type": "structure",
      "members": {
        "roles": {
          "target": "com.stackit.postgres_flex#ListRolesResponseRolesList",
          "traits": {
            "smithy.api#documentation": "List of all role names available in the instance",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#ListRolesResponseRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of all role names available in the instance"
      }
    },
    "com.stackit.postgres_flex#ListRoles": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#ListRolesRequest"
      },
      "output": {
        "target": "com.stackit.postgres_flex#ListRolesResponse"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}/roles",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "List Roles\n\nList available roles for an instance."
      }
    },
    "com.stackit.postgres_flex#ListUsersRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#UserSort": {
      "type": "enum",
      "members": {
        "ID_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id.asc"
          }
        },
        "ID_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id.desc"
          }
        },
        "NAME_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name.desc"
          }
        },
        "NAME_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name.asc"
          }
        },
        "STATE_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "state.desc"
          }
        },
        "STATE_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "state.asc"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#ListUsersRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#ListUsersRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Number of the page of items list to be returned."
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "size",
            "smithy.api#documentation": "Number of items to be returned on each page."
          }
        },
        "sort": {
          "target": "com.stackit.postgres_flex#UserSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Sorting of the users to be returned on each page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#ListUsersResponse": {
      "type": "structure",
      "members": {
        "pagination": {
          "target": "com.stackit.postgres_flex#Pagination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "users": {
          "target": "com.stackit.postgres_flex#ListUsersResponseUsersList",
          "traits": {
            "smithy.api#documentation": "List of all users inside an instance",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#ListUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#ListUsersResponseUsersList": {
      "type": "list",
      "member": {
        "target": "com.stackit.postgres_flex#ListUser"
      },
      "traits": {
        "smithy.api#documentation": "List of all users inside an instance"
      }
    },
    "com.stackit.postgres_flex#ListUsers": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#ListUsersRequest"
      },
      "output": {
        "target": "com.stackit.postgres_flex#ListUsersResponse"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}/users",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "List Users\n\nList available users for an instance."
      }
    },
    "com.stackit.postgres_flex#CreateUserRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#CreateUserRequestRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list containing the user roles for the instance. Please refer to the List Roles endpoint for a list of all available Roles."
      }
    },
    "com.stackit.postgres_flex#CreateUserRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#CreateUserRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "roles": {
          "target": "com.stackit.postgres_flex#CreateUserRequestRolesList",
          "traits": {
            "smithy.api#documentation": "A list containing the user roles for the instance. Please refer to the List Roles endpoint for a list of all available Roles."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#CreateUserResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#CreateUserRequest"
      },
      "output": {
        "target": "com.stackit.postgres_flex#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        },
        {
          "target": "com.stackit.postgres_flex#Conflict"
        },
        {
          "target": "com.stackit.postgres_flex#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}/users",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "Create User\n\nCreate user for an instance."
      }
    },
    "com.stackit.postgres_flex#GetUserRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#GetUserRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#GetUserRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        },
        "userId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the user."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#GetUserResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "roles": {
          "target": "com.stackit.postgres_flex#GetUserResponseRolesList",
          "traits": {
            "smithy.api#documentation": "A list of user roles.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#GetUserResponseRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of user roles."
      }
    },
    "com.stackit.postgres_flex#GetUser": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#GetUserRequest"
      },
      "output": {
        "target": "com.stackit.postgres_flex#GetUserResponse"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/projects/{projectId}/regions/{region}/instances/{instanceId}/users/{userId}",
          "code": 200,
          "baseUrl": "https://postgres-flex-service.api.stackit.cloud"
        },
        "smithy.api#documentation": "Get User\n\nGet a specific available user for an instance."
      }
    },
    "com.stackit.postgres_flex#UpdateUserRequestRegion": {
      "type": "enum",
      "members": {
        "EU01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu01"
          }
        },
        "EU02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu02"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.postgres_flex#UpdateUserRequestRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list containing the user roles for the instance. Please refer to the List Roles endpoint for a list of all available Roles."
      }
    },
    "com.stackit.postgres_flex#UpdateUserRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT project ID."
          }
        },
        "region": {
          "target": "com.stackit.postgres_flex#UpdateUserRequestRegion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The region which should be addressed"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the instance."
          }
        },
        "userId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the user."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "roles": {
          "target": "com.stackit.postgres_flex#UpdateUserRequestRolesList",
          "traits": {
            "smithy.api#documentation": "A list containing the user roles for the instance. Please refer to the List Roles endpoint for a list of all available Roles.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.postgres_flex#UpdateUser": {
      "type": "operation",
      "input": {
        "target": "com.stackit.postgres_flex#UpdateUserRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.postgres_flex#BadRequest"
        },
        {
          "target": "com.stackit.postgres_flex#Forbidden"
        },
        {
          "target": "com.stackit.postgres_flex#NotFound"
        },
        {
          "target": "com.stackit.postgres_flex#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
[...]
