{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.stackit.secrets_manager#ListInstancesRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "instances": {
          "target": "com.stackit.secrets_manager#ListInstancesResponseInstancesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.secrets_manager#Instance": {
      "type": "structure",
      "members": {
        "apiUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API endpoint for connecting to the secrets engine.",
            "smithy.api#required": {}
          }
        },
        "creationFinishedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the creation of the Secrets Manager instance was finished."
          }
        },
        "creationStartDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the creation of the Secrets Manager instance was triggered.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A auto generated unique id which identifies the secrets manager instances.",
            "smithy.api#required": {}
          }
        },
        "kmsKey": {
          "target": "com.stackit.secrets_manager#KmsKeyPayload"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user chosen name to distinguish multiple secrets manager instances.",
            "smithy.api#required": {}
          }
        },
        "secretCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of secrets currently stored inside of the instance. This value will be updated once per hour.",
            "smithy.api#required": {}
          }
        },
        "secretsEngine": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secrets engine.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current state of the Secrets Manager instance.",
            "smithy.api#required": {}
          }
        },
        "updateFinishedDate": {
          "target": "smithy.api#String"
        },
        "updateStartDate": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.stackit.secrets_manager#KmsKeyPayload": {
      "type": "structure",
      "members": {
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key UUID.",
            "smithy.api#required": {}
          }
        },
        "keyRingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key ring UUID the key is part of.",
            "smithy.api#required": {}
          }
        },
        "keyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Key version number.",
            "smithy.api#required": {}
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Service account email that will consume the key. Must be in the same project as the Secrets Manager instance.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The key for secret encryption and decryption."
      }
    },
    "com.stackit.secrets_manager#ListInstancesResponseInstancesList": {
      "type": "list",
      "member": {
        "target": "com.stackit.secrets_manager#Instance"
      },
      "traits": {}
    },
    "com.stackit.secrets_manager#ListInstances": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#ListInstancesRequest"
      },
      "output": {
        "target": "com.stackit.secrets_manager#ListInstancesResponse"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/instances",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Returns a list of all Secrets Manager instances within the project."
      }
    },
    "com.stackit.secrets_manager#CreateInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "kmsKey": {
          "target": "com.stackit.secrets_manager#KmsKeyPayload"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user chosen name to distinguish multiple secrets manager instances.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#CreateInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#CreateInstanceRequest"
      },
      "output": {
        "target": "com.stackit.secrets_manager#Instance"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/projects/{projectId}/instances",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Creates a new Secrets Manager instance within the project."
      }
    },
    "com.stackit.secrets_manager#GetInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#GetInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#GetInstanceRequest"
      },
      "output": {
        "target": "com.stackit.secrets_manager#Instance"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Returns the details for the given Secrets Manager instance."
      }
    },
    "com.stackit.secrets_manager#UpdateInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "kmsKey": {
          "target": "com.stackit.secrets_manager#KmsKeyPayload"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user chosen name to distinguish multiple secrets manager instances.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#UpdateInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#UpdateInstanceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Updates the given Secrets Manager instance."
      }
    },
    "com.stackit.secrets_manager#DeleteInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#DeleteInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#DeleteInstanceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Deletes the given Secrets Manager instance."
      }
    },
    "com.stackit.secrets_manager#ListACLsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#ListACLsResponse": {
      "type": "structure",
      "members": {
        "acls": {
          "target": "com.stackit.secrets_manager#ListACLsResponseAclsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.secrets_manager#ACL": {
      "type": "structure",
      "members": {
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The given IP/IP Range that is permitted to access.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A auto generated unique id which identifies the acl.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.secrets_manager#ListACLsResponseAclsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.secrets_manager#ACL"
      },
      "traits": {}
    },
    "com.stackit.secrets_manager#ListACLs": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#ListACLsRequest"
      },
      "output": {
        "target": "com.stackit.secrets_manager#ListACLsResponse"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/acls",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Returns the acls for the given Secrets Manager instance."
      }
    },
    "com.stackit.secrets_manager#CreateACLRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The given IP/IP Range that is permitted to access.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#CreateACL": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#CreateACLRequest"
      },
      "output": {
        "target": "com.stackit.secrets_manager#ACL"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        },
        {
          "target": "com.stackit.secrets_manager#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/acls",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Creates a new Secrets Manager acl within the project."
      }
    },
    "com.stackit.secrets_manager#UpdateACLPayload": {
      "type": "structure",
      "members": {
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The given IP/IP Range that is permitted to access.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.secrets_manager#UpdateACLsRequestCidrsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.secrets_manager#UpdateACLPayload"
      },
      "traits": {}
    },
    "com.stackit.secrets_manager#UpdateACLsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "cidrs": {
          "target": "com.stackit.secrets_manager#UpdateACLsRequestCidrsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#UpdateACLs": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#UpdateACLsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        },
        {
          "target": "com.stackit.secrets_manager#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/acls",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Changes a list of ACLs within the project."
      }
    },
    "com.stackit.secrets_manager#GetACLRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "aclId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The acl UUID of the Secrets Manager instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#GetACL": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#GetACLRequest"
      },
      "output": {
        "target": "com.stackit.secrets_manager#ACL"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/acls/{aclId}",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Returns the details for the given acl."
      }
    },
    "com.stackit.secrets_manager#UpdateACLRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "aclId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The acl UUID of the Secrets Manager instance."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The given IP/IP Range that is permitted to access.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#UpdateACL": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#UpdateACLRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/acls/{aclId}",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Updates the ip ranges for the acl."
      }
    },
    "com.stackit.secrets_manager#DeleteACLRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "aclId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The acl UUID of the Secrets Manager instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#DeleteACL": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#DeleteACLRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/acls/{aclId}",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Deletes the given acl."
      }
    },
    "com.stackit.secrets_manager#GetApprolesRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#ApproleList": {
      "type": "structure",
      "members": {
        "approles": {
          "target": "com.stackit.secrets_manager#ApproleListApprolesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.secrets_manager#Approle": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user chosen description to differentiate between multiple approles.",
            "smithy.api#required": {}
          }
        },
        "role_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier used for authentication",
            "smithy.api#required": {}
          }
        },
        "secret_id_num_uses": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secret_id_ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token TTL in time.Duration format (eg 15m for 15 minutes, 1h for 1 hour).",
            "smithy.api#required": {}
          }
        },
        "write": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is true if the approle has write access to the secrets engine. Is false for a read-only approle.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.secrets_manager#ApproleListApprolesList": {
      "type": "list",
      "member": {
        "target": "com.stackit.secrets_manager#Approle"
      },
      "traits": {}
    },
    "com.stackit.secrets_manager#GetApproles": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#GetApprolesRequest"
      },
      "output": {
        "target": "com.stackit.secrets_manager#ApproleList"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/approles",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Returns the approles for the given Secrets Manager instance."
      }
    },
    "com.stackit.secrets_manager#CreateApproleRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user chosen description to differentiate between multiple approles."
          }
        },
        "secret_id_num_uses": {
          "target": "smithy.api#Integer"
        },
        "secret_id_ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token TTL in time.Duration format (eg 15m for 15 minutes, 1h for 1 hour)."
          }
        },
        "write": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is true if the approle has write access to the secrets engine. Is false for a read-only approle."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#CreateApprole": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#CreateApproleRequest"
      },
      "output": {
        "target": "com.stackit.secrets_manager#Approle"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        },
        {
          "target": "com.stackit.secrets_manager#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/approles",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Creates a new approle for the given Secrets Manager instance."
      }
    },
    "com.stackit.secrets_manager#GetApproleRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "roleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The approle with permissions on the Secrets Manager instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#GetApprole": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#GetApproleRequest"
      },
      "output": {
        "target": "com.stackit.secrets_manager#Approle"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/approles/{roleId}",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Returns the details for the given approle."
      }
    },
    "com.stackit.secrets_manager#UpdateApproleRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "roleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The approle with permissions on the Secrets Manager instance."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user chosen description to differentiate between multiple approles."
          }
        },
        "secret_id_num_uses": {
          "target": "smithy.api#Integer"
        },
        "secret_id_ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token TTL in time.Duration format (eg 15m for 15 minutes, 1h for 1 hour)."
          }
        },
        "write": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is true if the approle has write access to the secrets engine. Is false for a read-only approle."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#UpdateApprole": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#UpdateApproleRequest"
      },
      "output": {
        "target": "com.stackit.secrets_manager#Approle"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/approles/{roleId}",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Updates the details for the given approle."
      }
    },
    "com.stackit.secrets_manager#DeleteApproleRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "roleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The approle with permissions on the Secrets Manager instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#DeleteApprole": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#DeleteApproleRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/approles/{roleId}",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Deletes the given approle."
      }
    },
    "com.stackit.secrets_manager#ListApproleSecretIdsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "roleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The approle with permissions on the Secrets Manager instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#ApproleSecretList": {
      "type": "structure",
      "members": {
        "secretIds": {
          "target": "com.stackit.secrets_manager#ApproleSecretListSecretIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.secrets_manager#ApproleSecret": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user chosen description to differentiate between multiple approle secrets.",
            "smithy.api#required": {}
          }
        },
        "num_uses": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secret_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier used for authentication, returned only at creation"
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token TTL in time.Duration format (eg 15m for 15 minutes, 1h for 1 hour).",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Accessor used for handling secrets",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.secrets_manager#ApproleSecretListSecretIdsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.secrets_manager#ApproleSecret"
      },
      "traits": {}
    },
    "com.stackit.secrets_manager#ListApproleSecretIds": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#ListApproleSecretIdsRequest"
      },
      "output": {
        "target": "com.stackit.secrets_manager#ApproleSecretList"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/approles/{roleId}/secretids",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Returns the secret id list for the given Secrets Manager instance and approle."
      }
    },
    "com.stackit.secrets_manager#CreateApproleSecretIdRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "roleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The approle with permissions on the Secrets Manager instance."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user chosen description to differentiate between multiple approle secrets."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#CreateApproleSecretId": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#CreateApproleSecretIdRequest"
      },
      "output": {
        "target": "com.stackit.secrets_manager#ApproleSecret"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/approles/{roleId}/secretids",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Generate new secret id for the given approle."
      }
    },
    "com.stackit.secrets_manager#GetApproleSecretIdRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "roleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The approle with permissions on the Secrets Manager instance."
          }
        },
        "secretIdVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The version of the secret id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#GetApproleSecretId": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#GetApproleSecretIdRequest"
      },
      "output": {
        "target": "com.stackit.secrets_manager#ApproleSecret"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/approles/{roleId}/secretids/{secretIdVersion}",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Read the properties of a given secret id by its given version."
      }
    },
    "com.stackit.secrets_manager#UpdateApproleSecretIdRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "roleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The approle with permissions on the Secrets Manager instance."
          }
        },
        "secretIdVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The version of the secret id."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user chosen description to differentiate between multiple approle secrets."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#UpdateApproleSecretId": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#UpdateApproleSecretIdRequest"
      },
      "output": {
        "target": "com.stackit.secrets_manager#ApproleSecret"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/approles/{roleId}/secretids/{secretIdVersion}",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Update the description of a secret id by its given version."
      }
    },
    "com.stackit.secrets_manager#DeleteApproleSecretIdRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "roleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The approle with permissions on the Secrets Manager instance."
          }
        },
        "secretIdVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The version of the secret id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#DeleteApproleSecretId": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#DeleteApproleSecretIdRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/approles/{roleId}/secretids/{secretIdVersion}",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Deletes the secret id by its given version."
      }
    },
    "com.stackit.secrets_manager#ListUsersRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#ListUsersResponse": {
      "type": "structure",
      "members": {
        "users": {
          "target": "com.stackit.secrets_manager#ListUsersResponseUsersList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.secrets_manager#User": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user chosen description to differentiate between multiple users.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A auto generated unique id which identifies the users.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A auto generated password for logging in with the user.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A auto generated username for logging in with the user.",
            "smithy.api#required": {}
          }
        },
        "write": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is true if the user has write access to the secrets engine. Is false for a read-only user.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.secrets_manager#ListUsersResponseUsersList": {
      "type": "list",
      "member": {
        "target": "com.stackit.secrets_manager#User"
      },
      "traits": {}
    },
    "com.stackit.secrets_manager#ListUsers": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#ListUsersRequest"
      },
      "output": {
        "target": "com.stackit.secrets_manager#ListUsersResponse"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/users",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Returns the users for the given Secrets Manager instance."
      }
    },
    "com.stackit.secrets_manager#CreateUserRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user chosen description to differentiate between multiple users.",
            "smithy.api#required": {}
          }
        },
        "write": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is true if the user has write access to the secrets engine. Is false for a read-only user.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#CreateUserRequest"
      },
      "output": {
        "target": "com.stackit.secrets_manager#User"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        },
        {
          "target": "com.stackit.secrets_manager#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/users",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Creates a new user for the given Secrets Manager instance."
      }
    },
    "com.stackit.secrets_manager#GetUserRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The user UUID with permissions on the Secrets Manager instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#GetUser": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#GetUserRequest"
      },
      "output": {
        "target": "com.stackit.secrets_manager#User"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/users/{userId}",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Returns the details for the given user."
      }
    },
    "com.stackit.secrets_manager#UpdateUserRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The user UUID with permissions on the Secrets Manager instance."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user chosen description to differentiate between multiple users."
          }
        },
        "write": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is true if the user has write access to the secrets engine. Is false for a read-only user."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#UpdateUser": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#UpdateUserRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/users/{userId}",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Updates the details for the given user."
      }
    },
    "com.stackit.secrets_manager#DeleteUserRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The STACKIT portal project UUID the Secrets Manager instance is part of."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Secrets Manager instance UUID."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The user UUID with permissions on the Secrets Manager instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.secrets_manager#DeleteUser": {
      "type": "operation",
      "input": {
        "target": "com.stackit.secrets_manager#DeleteUserRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.secrets_manager#BadRequest"
        },
        {
          "target": "com.stackit.secrets_manager#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/projects/{projectId}/instances/{instanceId}/users/{userId}",
          "code": 200,
          "baseUrl": "https://secrets-manager.api.{region}stackit.cloud"
        },
        "smithy.api#documentation": "Deletes the given user."
      }
    },
    "com.stackit.secrets_manager#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.stackit.secrets_manager#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.stackit.secrets_manager#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.stackit.secrets_manager#SecretsManager": {
      "type": "service",
      "version": "1.4.3",
      "operations": [
        {
          "target": "com.stackit.secrets_manager#ListInstances"
        },
        {
          "target": "com.stackit.secrets_manager#CreateInstance"
        },
        {
          "target": "com.stackit.secrets_manager#GetInstance"
        },
        {
          "target": "com.stackit.secrets_manager#UpdateInstance"
        },
        {
          "target": "com.stackit.secrets_manager#DeleteInstance"
        },
        {
          "target": "com.stackit.secrets_manager#ListACLs"
        },
        {
          "target": "com.stackit.secrets_manager#CreateACL"
        },
        {
          "target": "com.stackit.secrets_manager#UpdateACLs"
        },
        {
          "target": "com.stackit.secrets_manager#GetACL"
        },
        {
          "target": "com.stackit.secrets_manager#UpdateACL"
        },
        {
          "target": "com.stackit.secrets_manager#DeleteACL"
        },
        {
          "target": "com.stackit.secrets_manager#GetApproles"
        },
        {
          "target": "com.stackit.secrets_manager#CreateApprole"
        },
        {
          "target": "com.stackit.secrets_manager#GetApprole"
        },
        {
          "target": "com.stackit.secrets_manager#UpdateApprole"
        },
        {
          "target": "com.stackit.secrets_manager#DeleteApprole"
        },
        {
          "target": "com.stackit.secrets_manager#ListApproleSecretIds"
        },
        {
          "target": "com.stackit.secrets_manager#CreateApproleSecretId"
        },
        {
          "target": "com.stackit.secrets_manager#GetApproleSecretId"
        },
        {
          "target": "com.stackit.secrets_manager#UpdateApproleSecretId"
        },
        {
          "target": "com.stackit.secrets_manager#DeleteApproleSecretId"
        },
        {
          "target": "com.stackit.secrets_manager#ListUsers"
        },
        {
          "target": "com.stackit.secrets_manager#CreateUser"
        },
        {
          "target": "com.stackit.secrets_manager#GetUser"
        },
        {
          "target": "com.stackit.secrets_manager#UpdateUser"
        },
        {
          "target": "com.stackit.secrets_manager#DeleteUser"
        }
      ],
      "traits": {
        "smithy.api#title": "STACKIT Secrets Manager API",
        "smithy.api#documentation": "This API provides endpoints for managing the Secrets-Manager."
      }
    }
  }
}
