{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.stackit.service_account#CreateShortLivedAccessTokenRequestGrantType": {
      "type": "enum",
      "members": {
        "URN_IETF_PARAMS_OAUTH_GRANT_TYPE_JWT_BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "urn:ietf:params:oauth:grant-type:jwt-bearer"
          }
        },
        "REFRESH_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refresh_token"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always use URL encoded values. E.g. urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer"
      }
    },
    "com.stackit.service_account#CreateShortLivedAccessTokenRequest": {
      "type": "structure",
      "members": {
        "assertion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The self signed JWT. Must be given when grant_type is urn:ietf:params:oauth:grant-type:jwt-bearer"
          }
        },
        "grant_type": {
          "target": "com.stackit.service_account#CreateShortLivedAccessTokenRequestGrantType",
          "traits": {
            "smithy.api#documentation": "Always use URL encoded values. E.g. urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer",
            "smithy.api#required": {}
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Refresh token provided by a previous call with a self signed token. Must be given when grant_type is refresh_token",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.service_account#CreateShortLivedAccessTokenResponse": {
      "type": "structure",
      "members": {
        "access_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short lived token that can be used for API access",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "expires_in": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Refresh token that can be used to request a new access token when it expires (and before refresh token expires). Tokens are rotated.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "scope field of the self signed token",
            "smithy.api#required": {}
          }
        },
        "token_type": {
          "target": "com.stackit.service_account#CreateShortLivedAccessTokenResponseTokenType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#CreateShortLivedAccessTokenResponseTokenType": {
      "type": "enum",
      "members": {
        "BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Bearer"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#CreateShortLivedAccessToken": {
      "type": "operation",
      "input": {
        "target": "com.stackit.service_account#CreateShortLivedAccessTokenRequest"
      },
      "output": {
        "target": "com.stackit.service_account#CreateShortLivedAccessTokenResponse"
      },
      "errors": [
        {
          "target": "com.stackit.service_account#BadRequest"
        },
        {
          "target": "com.stackit.service_account#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/token",
          "code": 200,
          "baseUrl": "https://service-account.api.stackit.cloud"
        },
        "smithy.api#documentation": "Request short lived API access token (OAUTH2).\n\nRequest a short lived API access token with OAUTH2. Compatible with [Using JWTs as Authorization Grants](https://www.rfc-editor.org/rfc/rfc7523.html#section-2.1)\nYou can request a token with a self signed token, or with a refresh token.",
        "com.distilled.openapi#contentType": "form-urlencoded"
      }
    },
    "com.stackit.service_account#ListServiceAccountsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.service_account#ListServiceAccountsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.stackit.service_account#ListServiceAccountsResponseItemsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#ServiceAccount2": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the service account in format of an email address generated by the service containing the prefix provided by the user during creation.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID of the service account. It is also used in the 'sub' field of the service accounts access tokens.",
            "smithy.api#required": {}
          }
        },
        "internal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag indicating internal service accounts",
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the related project",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#ListServiceAccountsResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.service_account#ServiceAccount2"
      },
      "traits": {}
    },
    "com.stackit.service_account#ListServiceAccounts": {
      "type": "operation",
      "input": {
        "target": "com.stackit.service_account#ListServiceAccountsRequest"
      },
      "output": {
        "target": "com.stackit.service_account#ListServiceAccountsResponse"
      },
      "errors": [
        {
          "target": "com.stackit.service_account#BadRequest"
        },
        {
          "target": "com.stackit.service_account#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/service-accounts",
          "code": 200,
          "baseUrl": "https://service-account.api.stackit.cloud"
        },
        "smithy.api#documentation": "List all Service Accounts\n\nList all Service Account resources in a project. Returns the service account resources, not the service accounts that has access to the project."
      }
    },
    "com.stackit.service_account#CreateServiceAccountRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The requested name of the service account. The service will generate a unique email from this name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.service_account#CreateServiceAccount": {
      "type": "operation",
      "input": {
        "target": "com.stackit.service_account#CreateServiceAccountRequest"
      },
      "output": {
        "target": "com.stackit.service_account#ServiceAccount2"
      },
      "errors": [
        {
          "target": "com.stackit.service_account#BadRequest"
        },
        {
          "target": "com.stackit.service_account#Forbidden"
        },
        {
          "target": "com.stackit.service_account#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/projects/{projectId}/service-accounts",
          "code": 200,
          "baseUrl": "https://service-account.api.stackit.cloud"
        },
        "smithy.api#documentation": "Create a new Service Account\n\nCreate a new Service Account in a project. The service account only resides in the project, and initially has no roles or permissions on any resources. After creation, the service account can be assigned to this project, other projects in the parent organization or to the parent organization."
      }
    },
    "com.stackit.service_account#DeleteServiceAccountRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The email of the Service Account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.service_account#DeleteServiceAccount": {
      "type": "operation",
      "input": {
        "target": "com.stackit.service_account#DeleteServiceAccountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.service_account#BadRequest"
        },
        {
          "target": "com.stackit.service_account#Forbidden"
        },
        {
          "target": "com.stackit.service_account#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/projects/{projectId}/service-accounts/{serviceAccountEmail}",
          "code": 200,
          "baseUrl": "https://service-account.api.stackit.cloud"
        },
        "smithy.api#documentation": "Delete Service Account\n\nDelete a Service Account."
      }
    },
    "com.stackit.service_account#ListFederatedIdentityProvidersRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The email of the service account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.service_account#FederatedListFederatedIdentityProvidersResponse": {
      "type": "structure",
      "members": {
        "itemsPerPage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.stackit.service_account#FederatedListFederatedIdentityProvidersResponseResourcesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startIndex": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "totalResults": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#FederatedIdentityProvider": {
      "type": "structure",
      "members": {
        "assertions": {
          "target": "com.stackit.service_account#FederatedIdentityProviderAssertionsList",
          "traits": {
            "smithy.api#documentation": "list of assertions of the federated identity provider",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the federated identity provider.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID of the federated identity provider."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Issuer of the federated identity provider.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique name of the federated identity provider.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last update time of the federated identity provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#FederatedIdentityProviderAssertionsItem": {
      "type": "structure",
      "members": {
        "item": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Item to compare",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operator for the comparison",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value which the item is compared to",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#FederatedIdentityProviderAssertionsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.service_account#FederatedIdentityProviderAssertionsItem"
      },
      "traits": {
        "smithy.api#documentation": "list of assertions of the federated identity provider"
      }
    },
    "com.stackit.service_account#FederatedListFederatedIdentityProvidersResponseResourcesList": {
      "type": "list",
      "member": {
        "target": "com.stackit.service_account#FederatedIdentityProvider"
      },
      "traits": {}
    },
    "com.stackit.service_account#ListFederatedIdentityProviders": {
      "type": "operation",
      "input": {
        "target": "com.stackit.service_account#ListFederatedIdentityProvidersRequest"
      },
      "output": {
        "target": "com.stackit.service_account#FederatedListFederatedIdentityProvidersResponse"
      },
      "errors": [
        {
          "target": "com.stackit.service_account#BadRequest"
        },
        {
          "target": "com.stackit.service_account#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/service-accounts/{serviceAccountEmail}/federations",
          "code": 200,
          "baseUrl": "https://service-account.api.stackit.cloud"
        },
        "smithy.api#documentation": "List all federated identity providers\n\nList all the identity providers the service account is federated with."
      }
    },
    "com.stackit.service_account#CreateFederatedIdentityProviderRequestAssertionsItem": {
      "type": "structure",
      "members": {
        "item": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Item to compare"
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operator for the comparison"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value which the item is compared to"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#CreateFederatedIdentityProviderRequestAssertionsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.service_account#CreateFederatedIdentityProviderRequestAssertionsItem"
      },
      "traits": {
        "smithy.api#documentation": "list of assertions of the federated identity provider"
      }
    },
    "com.stackit.service_account#CreateFederatedIdentityProviderRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The email of the service account."
          }
        },
        "assertions": {
          "target": "com.stackit.service_account#CreateFederatedIdentityProviderRequestAssertionsList",
          "traits": {
            "smithy.api#documentation": "list of assertions of the federated identity provider"
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Issuer of the federated identity provider.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique name used as identifier of the federated identity provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.service_account#CreateFederatedIdentityProvider": {
      "type": "operation",
      "input": {
        "target": "com.stackit.service_account#CreateFederatedIdentityProviderRequest"
      },
      "output": {
        "target": "com.stackit.service_account#FederatedIdentityProvider"
      },
      "errors": [
        {
          "target": "com.stackit.service_account#BadRequest"
        },
        {
          "target": "com.stackit.service_account#Forbidden"
        },
        {
          "target": "com.stackit.service_account#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/projects/{projectId}/service-accounts/{serviceAccountEmail}/federations",
          "code": 200,
          "baseUrl": "https://service-account.api.stackit.cloud"
        },
        "smithy.api#documentation": "Create a new Federated Identity Provider\n\nFederate the service account with an identity provider."
      }
    },
    "com.stackit.service_account#GetFederatedIdentityProviderRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The email of the service account."
          }
        },
        "federationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Federated Identity Provider."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.service_account#GetFederatedIdentityProvider": {
      "type": "operation",
      "input": {
        "target": "com.stackit.service_account#GetFederatedIdentityProviderRequest"
      },
      "output": {
        "target": "com.stackit.service_account#FederatedIdentityProvider"
      },
      "errors": [
        {
          "target": "com.stackit.service_account#BadRequest"
        },
        {
          "target": "com.stackit.service_account#Forbidden"
        },
        {
          "target": "com.stackit.service_account#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/service-accounts/{serviceAccountEmail}/federations/{federationId}",
          "code": 200,
          "baseUrl": "https://service-account.api.stackit.cloud"
        },
        "smithy.api#documentation": "Get a service account Federated Identity Provider\n\nGet a Federated Identity Provider of the service account by its ID."
      }
    },
    "com.stackit.service_account#PartialUpdateServiceAccountFederatedIdentityProviderRequestAssertionsItem": {
      "type": "structure",
      "members": {
        "item": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Item to compare"
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operator for the comparison"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value which the item is compared to"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#PartialUpdateServiceAccountFederatedIdentityProviderRequestAssertionsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.service_account#PartialUpdateServiceAccountFederatedIdentityProviderRequestAssertionsItem"
      },
      "traits": {
        "smithy.api#documentation": "list of assertions of the federated identity provider"
      }
    },
    "com.stackit.service_account#PartialUpdateServiceAccountFederatedIdentityProviderRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The email of the service account."
          }
        },
        "federationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Federated Identity Provider."
          }
        },
        "assertions": {
          "target": "com.stackit.service_account#PartialUpdateServiceAccountFederatedIdentityProviderRequestAssertionsList",
          "traits": {
            "smithy.api#documentation": "list of assertions of the federated identity provider"
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Issuer of the federated identity provider.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique name used as identifier of the federated identity provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.service_account#PartialUpdateServiceAccountFederatedIdentityProvider": {
      "type": "operation",
      "input": {
        "target": "com.stackit.service_account#PartialUpdateServiceAccountFederatedIdentityProviderRequest"
      },
      "output": {
        "target": "com.stackit.service_account#FederatedIdentityProvider"
      },
      "errors": [
        {
          "target": "com.stackit.service_account#BadRequest"
        },
        {
          "target": "com.stackit.service_account#Forbidden"
        },
        {
          "target": "com.stackit.service_account#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/projects/{projectId}/service-accounts/{serviceAccountEmail}/federations/{federationId}",
          "code": 200,
          "baseUrl": "https://service-account.api.stackit.cloud"
        },
        "smithy.api#documentation": "Update Service Account Federated Identity Provider\n\nUpdate a Federated Identity Provider."
      }
    },
    "com.stackit.service_account#DeleteServiceFederatedIdentityProviderRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The email of the service account."
          }
        },
        "federationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Federated Identity Provider."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.service_account#DeleteServiceFederatedIdentityProvider": {
      "type": "operation",
      "input": {
        "target": "com.stackit.service_account#DeleteServiceFederatedIdentityProviderRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.service_account#BadRequest"
        },
        {
          "target": "com.stackit.service_account#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/projects/{projectId}/service-accounts/{serviceAccountEmail}/federations/{federationId}",
          "code": 200,
          "baseUrl": "https://service-account.api.stackit.cloud"
        },
        "smithy.api#documentation": "Delete a service account Federated Identity Provider\n\nDelete a Federated Identity Provider"
      }
    },
    "com.stackit.service_account#ListServiceAccountKeysRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The email of the service account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.service_account#ListServiceAccountKeysResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.stackit.service_account#ListServiceAccountKeysResponseItemsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#ServiceAccountKeyListResponse": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the key",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID of the key.",
            "smithy.api#required": {}
          }
        },
        "keyAlgorithm": {
          "target": "com.stackit.service_account#ServiceAccountKeyListResponseKeyAlgorithm",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keyOrigin": {
          "target": "com.stackit.service_account#ServiceAccountKeyListResponseKeyOrigin",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keyType": {
          "target": "com.stackit.service_account#ServiceAccountKeyListResponseKeyType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If specified, the timestamp until the key is active. May be null"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#ServiceAccountKeyListResponseKeyAlgorithm": {
      "type": "enum",
      "members": {
        "RSA_2048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_2048"
          }
        },
        "RSA_4096": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_4096"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#ServiceAccountKeyListResponseKeyOrigin": {
      "type": "enum",
      "members": {
        "USER_PROVIDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_PROVIDED"
          }
        },
        "GENERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERATED"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#ServiceAccountKeyListResponseKeyType": {
      "type": "enum",
      "members": {
        "USER_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_MANAGED"
          }
        },
        "SYSTEM_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_MANAGED"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#ListServiceAccountKeysResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.service_account#ServiceAccountKeyListResponse"
      },
      "traits": {}
    },
    "com.stackit.service_account#ListServiceAccountKeys": {
      "type": "operation",
      "input": {
        "target": "com.stackit.service_account#ListServiceAccountKeysRequest"
      },
      "output": {
        "target": "com.stackit.service_account#ListServiceAccountKeysResponse"
      },
      "errors": [
        {
          "target": "com.stackit.service_account#BadRequest"
        },
        {
          "target": "com.stackit.service_account#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/service-accounts/{serviceAccountEmail}/keys",
          "code": 200,
          "baseUrl": "https://service-account.api.stackit.cloud"
        },
        "smithy.api#documentation": "List all keys that belong to the service account\n\nList all keys that belong to the service account"
      }
    },
    "com.stackit.service_account#CreateServiceAccountKeyRequestAlgorithm": {
      "type": "enum",
      "members": {
        "RSA_2048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_2048"
          }
        },
        "RSA_4096": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_4096"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional, key algorithm of the generated key-pair. Used only if publicKey attribute is not specified, otherwise the algorithm is derived from the public key."
      }
    },
    "com.stackit.service_account#CreateServiceAccountKeyRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The email of the service account."
          }
        },
        "algorithm": {
          "target": "com.stackit.service_account#CreateServiceAccountKeyRequestAlgorithm",
          "traits": {
            "smithy.api#documentation": "Optional, key algorithm of the generated key-pair. Used only if publicKey attribute is not specified, otherwise the algorithm is derived from the public key."
          }
        },
        "publicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional, public key part of the user generated RSA key-pair wrapped in a [X.509 v3 certificate](https://www.rfc-editor.org/rfc/rfc5280)"
          }
        },
        "validUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional, date of key expiration. When omitted, key is valid until deleted"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.service_account#CreateServiceAccountKeyResponse": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the key",
            "smithy.api#required": {}
          }
        },
        "credentials": {
          "target": "com.stackit.service_account#CreateServiceAccountKeyResponseCredentials",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID of the key.",
            "smithy.api#required": {}
          }
        },
        "keyAlgorithm": {
          "target": "com.stackit.service_account#CreateServiceAccountKeyResponseKeyAlgorithm",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keyOrigin": {
          "target": "com.stackit.service_account#CreateServiceAccountKeyResponseKeyOrigin",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keyType": {
          "target": "com.stackit.service_account#CreateServiceAccountKeyResponseKeyType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "publicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public key, that was provider, or was generated by the service account API",
            "smithy.api#required": {}
          }
        },
        "validUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If specified, the timestamp until the key is active. May be null"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#CreateServiceAccountKeyResponseCredentials": {
      "type": "structure",
      "members": {
        "aud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Audience - service account API URL",
            "smithy.api#required": {}
          }
        },
        "iss": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service account email",
            "smithy.api#required": {}
          }
        },
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key id to use",
            "smithy.api#required": {}
          }
        },
        "privateKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Private key. Only present, if the service account API was generating the key. Not recoverable later.",
            "smithy.api#sensitive": {}
          }
        },
        "sub": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service account id",
            "smithy.api#required": {}
          }
        },
        "tokenEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Endpoint used to obtain access tokens for the service account."
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#CreateServiceAccountKeyResponseKeyAlgorithm": {
      "type": "enum",
      "members": {
        "RSA_2048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_2048"
          }
        },
        "RSA_4096": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_4096"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#CreateServiceAccountKeyResponseKeyOrigin": {
      "type": "enum",
      "members": {
        "USER_PROVIDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_PROVIDED"
          }
        },
        "GENERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERATED"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#CreateServiceAccountKeyResponseKeyType": {
      "type": "enum",
      "members": {
        "USER_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_MANAGED"
          }
        },
        "SYSTEM_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_MANAGED"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#CreateServiceAccountKey": {
      "type": "operation",
      "input": {
        "target": "com.stackit.service_account#CreateServiceAccountKeyRequest"
      },
      "output": {
        "target": "com.stackit.service_account#CreateServiceAccountKeyResponse"
      },
      "errors": [
        {
          "target": "com.stackit.service_account#BadRequest"
        },
        {
          "target": "com.stackit.service_account#Forbidden"
        },
        {
          "target": "com.stackit.service_account#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/projects/{projectId}/service-accounts/{serviceAccountEmail}/keys",
          "code": 200,
          "baseUrl": "https://service-account.api.stackit.cloud"
        },
        "smithy.api#documentation": "Create a new Service Account key\n\nCreate a new key to the service account. You can generate an RSA keypair, and post the PUBLIC part of the keypair, or leave empty, then the service will generate a pair. Maximum of 10 key can be added. A new key cannot be created using the same service account (authenticated using the short lived token of another key of the same service account)."
      }
    },
    "com.stackit.service_account#GetServiceAccountKeyRequestFormat": {
      "type": "enum",
      "members": {
        "X509_PEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X509_PEM"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#GetServiceAccountKeyRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The email of the service account."
          }
        },
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the key."
          }
        },
        "format": {
          "target": "com.stackit.service_account#GetServiceAccountKeyRequestFormat",
          "traits": {
            "smithy.api#httpQuery": "format",
            "smithy.api#documentation": "Requested format for the public key"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.service_account#GetServiceAccountKeyResponse": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the key",
            "smithy.api#required": {}
          }
        },
        "credentials": {
          "target": "com.stackit.service_account#GetServiceAccountKeyResponseCredentials",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID of the key.",
            "smithy.api#required": {}
          }
        },
        "keyAlgorithm": {
          "target": "com.stackit.service_account#GetServiceAccountKeyResponseKeyAlgorithm",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keyOrigin": {
          "target": "com.stackit.service_account#GetServiceAccountKeyResponseKeyOrigin",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keyType": {
          "target": "com.stackit.service_account#GetServiceAccountKeyResponseKeyType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "publicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public key, in the requested format"
          }
        },
        "validUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If specified, the timestamp until the key is active. May be null"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#GetServiceAccountKeyResponseCredentials": {
      "type": "structure",
      "members": {
        "aud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Audience - service account API URL",
            "smithy.api#required": {}
          }
        },
        "iss": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service account email",
            "smithy.api#required": {}
          }
        },
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key id to use",
            "smithy.api#required": {}
          }
        },
        "sub": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service account id",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#GetServiceAccountKeyResponseKeyAlgorithm": {
      "type": "enum",
      "members": {
        "RSA_2048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_2048"
          }
        },
        "RSA_4096": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_4096"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#GetServiceAccountKeyResponseKeyOrigin": {
      "type": "enum",
      "members": {
        "USER_PROVIDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_PROVIDED"
          }
        },
        "GENERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERATED"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#GetServiceAccountKeyResponseKeyType": {
      "type": "enum",
      "members": {
        "USER_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_MANAGED"
          }
        },
        "SYSTEM_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_MANAGED"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#GetServiceAccountKey": {
      "type": "operation",
      "input": {
        "target": "com.stackit.service_account#GetServiceAccountKeyRequest"
      },
      "output": {
        "target": "com.stackit.service_account#GetServiceAccountKeyResponse"
      },
      "errors": [
        {
          "target": "com.stackit.service_account#BadRequest"
        },
        {
          "target": "com.stackit.service_account#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/service-accounts/{serviceAccountEmail}/keys/{keyId}",
          "code": 200,
          "baseUrl": "https://service-account.api.stackit.cloud"
        },
        "smithy.api#documentation": "Get service account key details\n\nGet key details"
      }
    },
    "com.stackit.service_account#PartialUpdateServiceAccountKeyRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The email of the service account."
          }
        },
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the key."
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Active keys are valid, while inactive keys are temporarily deactivated."
          }
        },
        "validUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional, date of key expiration. To disable, set time to \"9999-01-01T01:01:01Z\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.service_account#PartialUpdateServiceAccountKeyResponse": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the key",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID of the key.",
            "smithy.api#required": {}
          }
        },
        "keyAlgorithm": {
          "target": "com.stackit.service_account#PartialUpdateServiceAccountKeyResponseKeyAlgorithm",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keyOrigin": {
          "target": "com.stackit.service_account#PartialUpdateServiceAccountKeyResponseKeyOrigin",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keyType": {
          "target": "com.stackit.service_account#PartialUpdateServiceAccountKeyResponseKeyType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If specified, the timestamp until the key is active. May be null"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#PartialUpdateServiceAccountKeyResponseKeyAlgorithm": {
      "type": "enum",
      "members": {
        "RSA_2048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_2048"
          }
        },
        "RSA_4096": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_4096"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#PartialUpdateServiceAccountKeyResponseKeyOrigin": {
      "type": "enum",
      "members": {
        "USER_PROVIDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_PROVIDED"
          }
        },
        "GENERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERATED"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#PartialUpdateServiceAccountKeyResponseKeyType": {
      "type": "enum",
      "members": {
        "USER_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_MANAGED"
          }
        },
        "SYSTEM_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_MANAGED"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#PartialUpdateServiceAccountKey": {
      "type": "operation",
      "input": {
        "target": "com.stackit.service_account#PartialUpdateServiceAccountKeyRequest"
      },
      "output": {
        "target": "com.stackit.service_account#PartialUpdateServiceAccountKeyResponse"
      },
      "errors": [
        {
          "target": "com.stackit.service_account#BadRequest"
        },
        {
          "target": "com.stackit.service_account#Forbidden"
        },
        {
          "target": "com.stackit.service_account#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/projects/{projectId}/service-accounts/{serviceAccountEmail}/keys/{keyId}",
          "code": 200,
          "baseUrl": "https://service-account.api.stackit.cloud"
        },
        "smithy.api#documentation": "Update Service Account key\n\nUpdate a key. You can activate or deactivate a key, or set/delete validUntil. The key cannot be updated using the same service account (authenticated using the short lived token of the key)."
      }
    },
    "com.stackit.service_account#DeleteServiceAccountKeyRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the project."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The email of the service account."
          }
        },
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.service_account#DeleteServiceAccountKey": {
      "type": "operation",
      "input": {
        "target": "com.stackit.service_account#DeleteServiceAccountKeyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.service_account#BadRequest"
        },
        {
          "target": "com.stackit.service_account#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/projects/{projectId}/service-accounts/{serviceAccountEmail}/keys/{keyId}",
          "code": 200,
          "baseUrl": "https://service-account.api.stackit.cloud"
        },
        "smithy.api#documentation": "Delete a service account key\n\nDelete a key"
      }
    },
    "com.stackit.service_account#GetJWKSRequest": {
      "type": "structure",
      "members": {
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The email of the service account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.service_account#JWKS": {
      "type": "structure",
      "members": {
        "keys": {
          "target": "com.stackit.service_account#JWKSKeysList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.service_account#JWK": {
      "type": "structure",
      "members": {
        "alg": {
          "target": "smithy.api#String"
        },
        "e": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kid": {
          "target": "smithy.api#String"
        },
        "ks": {
          "target": "smithy.api#String"
        },
        "n": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ops": {
          "target": "smithy.api#String"
        },
        "use": {
          "target": "smithy.api#String"
        },
        "x5c": {
          "target": "smithy.api#String"
        },
        "x5t": {
          "target": "smithy.api#String"
        },
        "x5t256": {
          "target": "smithy.api#String"
        },
        "x5u": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON Web Key according to https://datatracker.ietf.org/doc/html/rfc7517#section-4"
      }
    },
    "com.stackit.service_account#JWKSKeysList": {
      "type": "list",
      "member": {
        "target": "com.stackit.service_account#JWK"
      },
      "traits": {}
    },
    "com.stackit.service_account#GetJWKS": {
      "type": "operation",
      "input": {
        "target": "com.stackit.service_account#GetJWKSRequest"
      },
      "output": {
        "target": "com.stackit.service_account#JWKS"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/service-accounts/public/jwk/{serviceAccountEmail}",
          "code": 200,
          "baseUrl": "https://service-account.api.stackit.cloud"
        },
        "smithy.api#documentation": "Get JSON Web Key set of the service account\n\nGet JSON Web Key set of the service account"
      }
    },
    "com.stackit.service_account#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.stackit.service_account#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.stackit.service_account#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.stackit.service_account#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.stackit.service_account#ServiceAccount": {
      "type": "service",
      "version": "2.0",
      "operations": [
        {
          "target": "com.stackit.service_account#CreateShortLivedAccessToken"
        },
        {
          "target": "com.stackit.service_account#ListServiceAccounts"
        },
        {
          "target": "com.stackit.service_account#CreateServiceAccount"
        },
        {
          "target": "com.stackit.service_account#DeleteServiceAccount"
        },
        {
          "target": "com.stackit.service_account#ListFederatedIdentityProviders"
        },
        {
          "target": "com.stackit.service_account#CreateFederatedIdentityProvider"
        },
        {
          "target": "com.stackit.service_account#GetFederatedIdentityProvider"
        },
        {
          "target": "com.stackit.service_account#PartialUpdateServiceAccountFederatedIdentityProvider"
        },
        {
          "target": "com.stackit.service_account#DeleteServiceFederatedIdentityProvider"
        },
        {
          "target": "com.stackit.service_account#ListServiceAccountKeys"
        },
        {
          "target": "com.stackit.service_account#CreateServiceAccountKey"
        },
        {
          "target": "com.stackit.service_account#GetServiceAccountKey"
        },
        {
          "target": "com.stackit.service_account#PartialUpdateServiceAccountKey"
        },
        {
          "target": "com.stackit.service_account#DeleteServiceAccountKey"
        },
        {
          "target": "com.stackit.service_account#GetJWKS"
        }
      ],
      "traits": {
        "smithy.api#title": "STACKIT Service Account API",
        "smithy.api#documentation": "API to manage Service Accounts and their Access Tokens.\n\n### System for Cross-domain Identity Management (SCIM)\nService Account Service offers SCIM APIs to query state. The SCIM protocol was created as standard for\n automating the exchange of user identity information between identity domains, or IT systems. Service accounts\n are be handled as indentites similar to SCIM users. A custom SCIM schema has been created: `/ServiceAccounts`\n\n#### Syntax\n##### Attribute operators\n\n##### Logical operators\n\n##### Grouping operators\n\n##### Example\n```\nfilter=email eq \"my-service-account-aBc2defg@sa.stackit.cloud\"\nfilter=email ne \"my-service-account-aBc2defg@sa.stackit.cloud\"\nfilter=email co \"my-service-account\"\nfilter=name sw \"my\"\nfilter=name ew \"account\"\nfilter=email co \"my-service-account\" and name sw \"my\"\nfilter=email co \"my-service-account\" and (name sw \"my\" or name ew \"account\")\n```\n\n#### Sorting\n\n> Sorting is optional\n\n\n#### Pagination"
      }
    }
  }
}
