{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.stackit.valkey#ListInstancesRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "instances": {
          "target": "com.stackit.valkey#ListInstancesResponseInstancesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#Instance": {
      "type": "structure",
      "members": {
        "cfGuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cfOrganizationGuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cfSpaceGuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dashboardUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "imageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String"
        },
        "lastOperation": {
          "target": "com.stackit.valkey#InstanceLastOperation",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "offeringName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "offeringVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "planId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "planName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.stackit.valkey#InstanceStatus"
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#InstanceLastOperation": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.stackit.valkey#InstanceLastOperationState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.stackit.valkey#InstanceLastOperationType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#InstanceLastOperationState": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in progress"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#InstanceLastOperationType": {
      "type": "enum",
      "members": {
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#InstanceStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updating"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#ListInstancesResponseInstancesList": {
      "type": "list",
      "member": {
        "target": "com.stackit.valkey#Instance"
      },
      "traits": {}
    },
    "com.stackit.valkey#ListInstances": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#ListInstancesRequest"
      },
      "output": {
        "target": "com.stackit.valkey#ListInstancesResponse"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        },
        {
          "target": "com.stackit.valkey#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "get service instances list\n\nGet a list of available instances"
      }
    },
    "com.stackit.valkey#InstanceParameters": {
      "type": "structure",
      "members": {
        "down_after_milliseconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The unit is milliseconds.",
            "smithy.api#jsonName": "down-after-milliseconds"
          }
        },
        "enable_monitoring": {
          "target": "smithy.api#Boolean"
        },
        "failover_timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The unit is milliseconds.",
            "smithy.api#jsonName": "failover-timeout"
          }
        },
        "graphite": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If you want to monitor your service with Graphite, you can set the custom parameter graphite. It expects the host and port where the Graphite metrics should be sent to."
          }
        },
        "lazyfree_lazy_eviction": {
          "target": "com.stackit.valkey#InstanceParametersLazyfreeLazyEviction",
          "traits": {
            "smithy.api#jsonName": "lazyfree-lazy-eviction"
          }
        },
        "lazyfree_lazy_expire": {
          "target": "com.stackit.valkey#InstanceParametersLazyfreeLazyExpire",
          "traits": {
            "smithy.api#jsonName": "lazyfree-lazy-expire"
          }
        },
        "lua_time_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "lua-time-limit"
          }
        },
        "max_disk_threshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This component monitors ephemeral and persistent disk usage. If one of these disk usages reaches the default configured threshold of 80%, the a9s Parachute stops all processes on that node."
          }
        },
        "maxclients": {
          "target": "smithy.api#Integer"
        },
        "maxmemory_policy": {
          "target": "com.stackit.valkey#InstanceParametersMaxmemoryPolicy",
          "traits": {
            "smithy.api#jsonName": "maxmemory-policy"
          }
        },
        "maxmemory_samples": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "maxmemory-samples"
          }
        },
        "metrics_frequency": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Frequency of metrics being emitted in seconds"
          }
        },
        "metrics_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Depending on your graphite provider, you might need to prefix the metrics with a certain value, like an API key for example."
          }
        },
        "min_replicas_to_write": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The amount of connected replicas that are required for the primary to accept write operations. It can be set to 0 to disable it. Should not be greater than the number of nodes (e.g. 1 or 3).",
            "smithy.api#jsonName": "min-replicas-to-write"
          }
        },
        "min_replicas_max_lag": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The unit is seconds."
          }
        },
        "monitoring_instance_id": {
          "target": "smithy.api#String"
        },
        "notify_keyspace_events": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The allowed value must include the following characters only: [K,E,g,$,l,s,h,z,x,e,A,t]",
            "smithy.api#jsonName": "notify-keyspace-events"
          }
        },
        "repl_backlog_size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the replication backlog size for the cluster.",
            "smithy.api#jsonName": "repl-backlog-size"
          }
        },
        "sgw_acl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma separated list of IP networks in CIDR notation which are allowed to access this instance."
          }
        },
        "snapshot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This setting must follow the original Redis configuration for RDB."
          }
        },
        "syslog": {
          "target": "com.stackit.valkey#InstanceParametersSyslogList"
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#InstanceParametersLazyfreeLazyEviction": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#InstanceParametersLazyfreeLazyExpire": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#InstanceParametersMaxmemoryPolicy": {
      "type": "enum",
      "members": {
        "VOLATILE_LRU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "volatile-lru"
          }
        },
        "ALLKEYS_LRU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allkeys-lru"
          }
        },
        "VOLATILE_RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "volatile-random"
          }
        },
        "ALLKEYS_RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allkeys-random"
          }
        },
        "VOLATILE_TTL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "volatile-ttl"
          }
        },
        "NOEVICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "noeviction"
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#InstanceParametersSyslogList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.valkey#CreateInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "com.stackit.valkey#InstanceParameters"
        },
        "planId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#CreateInstanceResponse": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#CreateInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#CreateInstanceRequest"
      },
      "output": {
        "target": "com.stackit.valkey#CreateInstanceResponse"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        },
        {
          "target": "com.stackit.valkey#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "provision\n\nProvision a service instance."
      }
    },
    "com.stackit.valkey#GetInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#GetInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#GetInstanceRequest"
      },
      "output": {
        "target": "com.stackit.valkey#Instance"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        },
        {
          "target": "com.stackit.valkey#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "get a service instance\n\nget a service instance"
      }
    },
    "com.stackit.valkey#PartialUpdateInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        },
        "instanceName": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.stackit.valkey#InstanceParameters"
        },
        "planId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#PartialUpdateInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#PartialUpdateInstanceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        },
        {
          "target": "com.stackit.valkey#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "update a service instance\n\nUpdate a service instance. This could be a sgw acl update or a plan upgrade."
      }
    },
    "com.stackit.valkey#DeleteInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#DeleteInstance": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#DeleteInstanceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        },
        {
          "target": "com.stackit.valkey#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "delete service instance\n\nDeprovision a service instance."
      }
    },
    "com.stackit.valkey#ListBackupsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#ListBackupsResponse": {
      "type": "list",
      "member": {
        "target": "com.stackit.valkey#Backup"
      },
      "traits": {}
    },
    "com.stackit.valkey#Backup": {
      "type": "structure",
      "members": {
        "downloadable": {
          "target": "smithy.api#Boolean"
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer"
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "triggered_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#ListBackupsResponse2": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.stackit.valkey#ListBackupsResponse",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.stackit.valkey#ListBackups": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#ListBackupsRequest"
      },
      "output": {
        "target": "com.stackit.valkey#ListBackupsResponse2"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        },
        {
          "target": "com.stackit.valkey#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/backups",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "get latest backup information for provided instanceId"
      }
    },
    "com.stackit.valkey#CreateBackupRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#CreateBackupResponseItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#CreateBackup": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#CreateBackupRequest"
      },
      "output": {
        "target": "com.stackit.valkey#CreateBackupResponseItem"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        },
        {
          "target": "com.stackit.valkey#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/backups",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "create a backup"
      }
    },
    "com.stackit.valkey#UpdateBackupsConfigRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        },
        "encryption_key": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#UpdateBackupsConfigResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#UpdateBackupsConfig": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#UpdateBackupsConfigRequest"
      },
      "output": {
        "target": "com.stackit.valkey#UpdateBackupsConfigResponse"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        },
        {
          "target": "com.stackit.valkey#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/backups-config",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "backups configuration update\n\nUpdate the configuration for backups for your instance."
      }
    },
    "com.stackit.valkey#DownloadBackupRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        },
        "backupId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Backup id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#DownloadBackup": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#DownloadBackupRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        },
        {
          "target": "com.stackit.valkey#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/backups/{backupId}/download",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "download backup"
      }
    },
    "com.stackit.valkey#TriggerRestoreRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        },
        "backupId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Backup id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#TriggerRestoreResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#TriggerRestore": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#TriggerRestoreRequest"
      },
      "output": {
        "target": "com.stackit.valkey#TriggerRestoreResponse"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        },
        {
          "target": "com.stackit.valkey#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/backups/{backupId}/restore",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "trigger a restore"
      }
    },
    "com.stackit.valkey#ListCredentialsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#ListCredentialsResponse": {
      "type": "structure",
      "members": {
        "credentialsList": {
          "target": "com.stackit.valkey#ListCredentialsResponseCredentialsListList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#CredentialsListItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#ListCredentialsResponseCredentialsListList": {
      "type": "list",
      "member": {
        "target": "com.stackit.valkey#CredentialsListItem"
      },
      "traits": {}
    },
    "com.stackit.valkey#ListCredentials": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#ListCredentialsRequest"
      },
      "output": {
        "target": "com.stackit.valkey#ListCredentialsResponse"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        },
        {
          "target": "com.stackit.valkey#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/credentials",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "get list of credentials ids\n\nget list all credentials ids for instance"
      }
    },
    "com.stackit.valkey#CreateCredentialsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        },
        "parameters": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#CredentialsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "raw": {
          "target": "com.stackit.valkey#RawCredentials"
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#RawCredentials": {
      "type": "structure",
      "members": {
        "credentials": {
          "target": "com.stackit.valkey#Credentials",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#Credentials": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hosts": {
          "target": "com.stackit.valkey#CredentialsHostsList"
        },
        "load_balanced_host": {
          "target": "smithy.api#String"
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer"
        },
        "uri": {
          "target": "smithy.api#String"
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#CredentialsHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.stackit.valkey#CreateCredentials": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#CreateCredentialsRequest"
      },
      "output": {
        "target": "com.stackit.valkey#CredentialsResponse"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/credentials",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "create new credentials\n\nCreate new service credentials"
      }
    },
    "com.stackit.valkey#GetCredentialsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        },
        "credentialsId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Credentials id of credentials to fetch"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#GetCredentials": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#GetCredentialsRequest"
      },
      "output": {
        "target": "com.stackit.valkey#CredentialsResponse"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        },
        {
          "target": "com.stackit.valkey#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/credentials/{credentialsId}",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "get credentials by id\n\nget a service credentials by credentials id"
      }
    },
    "com.stackit.valkey#DeleteCredentialsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        },
        "credentialsId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of the credentials being deleted"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#DeleteCredentials": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#DeleteCredentialsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        },
        {
          "target": "com.stackit.valkey#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/credentials/{credentialsId}",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "delete credentials by id\n\nDelete a service credentials."
      }
    },
    "com.stackit.valkey#GetMetricsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#GetMetricsResponse": {
      "type": "structure",
      "members": {
        "cpuIdleTime": {
          "target": "smithy.api#Integer"
        },
        "cpuLoadPercent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cpuSystemTime": {
          "target": "smithy.api#Integer"
        },
        "cpuUserTime": {
          "target": "smithy.api#Integer"
        },
        "diskEphemeralTotal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "diskEphemeralUsed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "diskPersistentTotal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "diskPersistentUsed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "load1": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "load15": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "load5": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "memoryTotal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "memoryUsed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskEphemeralActivated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskEphemeralTotal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskEphemeralUsed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskEphemeralUsedPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskEphemeralUsedThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskPersistentActivated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskPersistentTotal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskPersistentUsed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskPersistentUsedPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parachuteDiskPersistentUsedThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#GetMetrics": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#GetMetricsRequest"
      },
      "output": {
        "target": "com.stackit.valkey#GetMetricsResponse"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        },
        {
          "target": "com.stackit.valkey#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/metrics",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "get latest metrics for cpu load, memory and disk usage"
      }
    },
    "com.stackit.valkey#TriggerRecreateRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#TriggerRecreate": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#TriggerRecreateRequest"
      },
      "output": {
        "target": "com.stackit.valkey#CreateInstanceResponse"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        },
        {
          "target": "com.stackit.valkey#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/recreate",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "trigger a recreate"
      }
    },
    "com.stackit.valkey#TriggerRestartRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#TriggerRestart": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#TriggerRestartRequest"
      },
      "output": {
        "target": "com.stackit.valkey#CreateInstanceResponse"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        },
        {
          "target": "com.stackit.valkey#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/restart",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "trigger a restart"
      }
    },
    "com.stackit.valkey#ListRestoresRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#ListRestoresResponse": {
      "type": "structure",
      "members": {
        "instanceRestores": {
          "target": "com.stackit.valkey#ListRestoresResponseInstanceRestoresList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#Restore": {
      "type": "structure",
      "members": {
        "backup_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "triggered_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#ListRestoresResponseInstanceRestoresList": {
      "type": "list",
      "member": {
        "target": "com.stackit.valkey#Restore"
      },
      "traits": {}
    },
    "com.stackit.valkey#ListRestores": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#ListRestoresRequest"
      },
      "output": {
        "target": "com.stackit.valkey#ListRestoresResponse"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        },
        {
          "target": "com.stackit.valkey#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/instances/{instanceId}/restores",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "get latest restore information for provided instanceId"
      }
    },
    "com.stackit.valkey#ListOfferingsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project id on which user has permissions"
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "region in which the project resides"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.stackit.valkey#ListOfferingsResponse": {
      "type": "structure",
      "members": {
        "offerings": {
          "target": "com.stackit.valkey#ListOfferingsResponseOfferingsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#Offering": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "imageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "latest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lifecycle": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "plans": {
          "target": "com.stackit.valkey#OfferingPlansList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "quotaCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "schema": {
          "target": "com.stackit.valkey#InstanceSchema"
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#Plan": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "free": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "skuName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#OfferingPlansList": {
      "type": "list",
      "member": {
        "target": "com.stackit.valkey#Plan"
      },
      "traits": {}
    },
    "com.stackit.valkey#InstanceSchema": {
      "type": "structure",
      "members": {
        "create": {
          "target": "com.stackit.valkey#Schema",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "update": {
          "target": "com.stackit.valkey#Schema",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#Schema": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.stackit.valkey#ListOfferingsResponseOfferingsList": {
      "type": "list",
      "member": {
        "target": "com.stackit.valkey#Offering"
      },
      "traits": {}
    },
    "com.stackit.valkey#ListOfferings": {
      "type": "operation",
      "input": {
        "target": "com.stackit.valkey#ListOfferingsRequest"
      },
      "output": {
        "target": "com.stackit.valkey#ListOfferingsResponse"
      },
      "errors": [
        {
          "target": "com.stackit.valkey#BadRequest"
        },
        {
          "target": "com.stackit.valkey#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectId}/regions/{regionId}/offerings",
          "code": 200,
          "baseUrl": "https://valkey.api.stackit.cloud"
        },
        "smithy.api#documentation": "get the service offerings\n\nGet the service offerings that the service broker offers."
      }
    },
    "com.stackit.valkey#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.stackit.valkey#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.stackit.valkey#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.stackit.valkey#Valkey": {
      "type": "service",
      "version": "2.1",
      "operations": [
        {
          "target": "com.stackit.valkey#ListInstances"
        },
        {
          "target": "com.stackit.valkey#CreateInstance"
        },
        {
          "target": "com.stackit.valkey#GetInstance"
        },
        {
          "target": "com.stackit.valkey#PartialUpdateInstance"
        },
        {
          "target": "com.stackit.valkey#DeleteInstance"
        },
        {
          "target": "com.stackit.valkey#ListBackups"
        },
        {
          "target": "com.stackit.valkey#CreateBackup"
        },
        {
          "target": "com.stackit.valkey#UpdateBackupsConfig"
        },
        {
          "target": "com.stackit.valkey#DownloadBackup"
        },
        {
          "target": "com.stackit.valkey#TriggerRestore"
        },
        {
          "target": "com.stackit.valkey#ListCredentials"
        },
        {
          "target": "com.stackit.valkey#CreateCredentials"
        },
        {
          "target": "com.stackit.valkey#GetCredentials"
        },
        {
          "target": "com.stackit.valkey#DeleteCredentials"
        },
        {
          "target": "com.stackit.valkey#GetMetrics"
        },
        {
          "target": "com.stackit.valkey#TriggerRecreate"
        },
        {
          "target": "com.stackit.valkey#TriggerRestart"
        },
        {
          "target": "com.stackit.valkey#ListRestores"
        },
        {
          "target": "com.stackit.valkey#ListOfferings"
        }
      ],
      "traits": {
        "smithy.api#title": "STACKIT Key Value Store API",
        "smithy.api#documentation": "The STACKIT Key Value Store API provides endpoints to list service offerings, manage service instances and service credentials within STACKIT portal projects."
      }
    }
  }
}
