{
  "smithy": "2.0",
  "metadata": {
    "service": "docs",
    "version": "v1",
    "title": "Google Docs API",
    "baseUrl": "https://docs.googleapis.com/",
    "distilled.finalized": true
  },
  "shapes": {
    "com.googleworkspace.docs_v1#DeleteDropdownDefinitionRequest": {
      "type": "structure",
      "members": {
        "dropdownDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the DropdownDefinition to delete."
          }
        },
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the tab that contains the dropdown definition to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deletes a DropdownDefinition. If the dropdown definition is referenced by any dropdown instances (chips) in the document, a 400 bad request error is returned."
      }
    },
    "com.googleworkspace.docs_v1#InsertTableRowRequest": {
      "type": "structure",
      "members": {
        "insertBelow": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to insert new row below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell."
          }
        },
        "tableCellLocation": {
          "target": "com.googleworkspace.docs_v1#TableCellLocation",
          "traits": {
            "smithy.api#documentation": "The reference table cell location from which rows will be inserted. A new row will be inserted above (or below) the row where the reference cell is. If the reference cell is a merged cell, a new row will be inserted above (or below) the merged cell."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inserts an empty row into a table."
      }
    },
    "com.googleworkspace.docs_v1#CreateFootnoteResponse": {
      "type": "structure",
      "members": {
        "footnoteId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the created footnote."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of creating a footnote."
      }
    },
    "com.googleworkspace.docs_v1#DeleteParagraphBulletsRequest": {
      "type": "structure",
      "members": {
        "range": {
          "target": "com.googleworkspace.docs_v1#Range",
          "traits": {
            "smithy.api#documentation": "The range to delete bullets from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deletes bullets from all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph."
      }
    },
    "com.googleworkspace.docs_v1#TableRowStyle": {
      "type": "structure",
      "members": {
        "preventOverflow": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the row cannot overflow across page or column boundaries."
          }
        },
        "minRowHeight": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The minimum height of the row. The row will be rendered in the Docs editor at a height equal to or greater than this value in order to show all the content in the row's cells."
          }
        },
        "tableHeader": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the row is a table header."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Styles that apply to a table row."
      }
    },
    "com.googleworkspace.docs_v1#UpdateTextStyleRequest": {
      "type": "structure",
      "members": {
        "range": {
          "target": "com.googleworkspace.docs_v1#Range",
          "traits": {
            "smithy.api#documentation": "The range of text to style. The range may be extended to include adjacent newlines. If the range fully contains a paragraph belonging to a list, the paragraph's bullet is also updated with the matching text style. Ranges cannot be inserted inside a relative UpdateTextStyleRequest."
          }
        },
        "textStyle": {
          "target": "com.googleworkspace.docs_v1#TextStyle",
          "traits": {
            "smithy.api#documentation": "The styles to set on the text. If the value for a particular style matches that of the parent, that style will be set to inherit. Certain text style changes may cause other changes in order to to mirror the behavior of the Docs editor. See the documentation of TextStyle for more information."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `text_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to `\"bold\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Update the styling of text."
      }
    },
    "com.googleworkspace.docs_v1#ParagraphBorder": {
      "type": "structure",
      "members": {
        "color": {
          "target": "com.googleworkspace.docs_v1#OptionalColor",
          "traits": {
            "smithy.api#documentation": "The color of the border."
          }
        },
        "padding": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The padding of the border."
          }
        },
        "width": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The width of the border."
          }
        },
        "dashStyle": {
          "target": "com.googleworkspace.docs_v1#ParagraphBorderDashStyleEnum",
          "traits": {
            "smithy.api#documentation": "The dash style of the border."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A border around a paragraph."
      }
    },
    "com.googleworkspace.docs_v1#ParagraphBorderDashStyleEnum": {
      "type": "enum",
      "members": {
        "DASH_STYLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DASH_STYLE_UNSPECIFIED"
          }
        },
        "SOLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLID"
          }
        },
        "DOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOT"
          }
        },
        "DASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DASH"
          }
        }
      }
    },
    "com.googleworkspace.docs_v1#CreateFooterRequest": {
      "type": "structure",
      "members": {
        "sectionBreakLocation": {
          "target": "com.googleworkspace.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "The location of the SectionBreak immediately preceding the section whose SectionStyle this footer should belong to. If this is unset or refers to the first section break in the document, the footer applies to the document style."
          }
        },
        "type": {
          "target": "com.googleworkspace.docs_v1#CreateFooterRequestTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of footer to create."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates a Footer. The new footer is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a footer of the specified type already exists, a 400 bad request error is returned."
      }
    },
    "com.googleworkspace.docs_v1#CreateFooterRequestTypeEnum": {
      "type": "enum",
      "members": {
        "HEADER_FOOTER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADER_FOOTER_TYPE_UNSPECIFIED"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        }
      }
    },
    "com.googleworkspace.docs_v1#DeleteTabRequest": {
      "type": "structure",
      "members": {
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the tab to delete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deletes a tab. If the tab has child tabs, they are deleted as well."
      }
    },
    "com.googleworkspace.docs_v1#HorizontalRule": {
      "type": "structure",
      "members": {
        "textStyle": {
          "target": "com.googleworkspace.docs_v1#TextStyle",
          "traits": {
            "smithy.api#documentation": "The text style of this HorizontalRule. Similar to text content, like text runs and footnote references, the text style of a horizontal rule can affect content layout as well as the styling of text inserted next to it."
          }
        },
        "suggestedTextStyleChanges": {
          "target": "com.googleworkspace.docs_v1#SuggestedTextStyleMap",
          "traits": {
            "smithy.api#documentation": "The suggested text style changes to this HorizontalRule, keyed by suggestion ID."
          }
        },
        "suggestedInsertionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion."
          }
        },
        "suggestedDeletionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ParagraphElement representing a horizontal line."
      }
    },
    "com.googleworkspace.docs_v1#SuggestedTextStyleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.googleworkspace.docs_v1#SuggestedTextStyle"
      }
    },
    "com.googleworkspace.docs_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.googleworkspace.docs_v1#TableRow": {
      "type": "structure",
      "members": {
        "endIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The zero-based end index of this row, exclusive, in UTF-16 code units."
          }
        },
        "suggestedTableRowStyleChanges": {
          "target": "com.googleworkspace.docs_v1#SuggestedTableRowStyleMap",
          "traits": {
            "smithy.api#documentation": "The suggested style changes to this row, keyed by suggestion ID."
          }
        },
        "startIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The zero-based start index of this row, in UTF-16 code units."
          }
        },
        "tableCells": {
          "target": "com.googleworkspace.docs_v1#TableCellList",
          "traits": {
            "smithy.api#documentation": "The contents and style of each cell in this row. It's possible for a table to be non-rectangular, so some rows may have a different number of cells than other rows in the same table."
          }
        },
        "suggestedInsertionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested insertion IDs. A TableRow may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
          }
        },
        "suggestedDeletionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        },
        "tableRowStyle": {
          "target": "com.googleworkspace.docs_v1#TableRowStyle",
          "traits": {
            "smithy.api#documentation": "The style of the table row."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The contents and style of a row in a Table."
      }
    },
    "com.googleworkspace.docs_v1#SuggestedTableRowStyleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.googleworkspace.docs_v1#SuggestedTableRowStyle"
      }
    },
    "com.googleworkspace.docs_v1#TableCellList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.docs_v1#TableCell"
      }
    },
    "com.googleworkspace.docs_v1#CreateDropdownDefinitionResponse": {
      "type": "structure",
      "members": {
        "dropdownDefinition": {
          "target": "com.googleworkspace.docs_v1#DropdownDefinition",
          "traits": {
            "smithy.api#documentation": "The newly-created DropdownDefinition."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for creating a dropdown definition."
      }
    },
    "com.googleworkspace.docs_v1#SuggestedNamedStyles": {
      "type": "structure",
      "members": {
        "namedStylesSuggestionState": {
          "target": "com.googleworkspace.docs_v1#NamedStylesSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields on the base NamedStyles have been changed in this suggestion."
          }
        },
        "namedStyles": {
          "target": "com.googleworkspace.docs_v1#NamedStyles",
          "traits": {
            "smithy.api#documentation": "A NamedStyles that only includes the changes made in this suggestion. This can be used along with the named_styles_suggestion_state to see which fields have changed and their new values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A suggested change to the NamedStyles."
      }
    },
    "com.googleworkspace.docs_v1#OptionalColor": {
      "type": "structure",
      "members": {
        "color": {
          "target": "com.googleworkspace.docs_v1#Color",
          "traits": {
            "smithy.api#documentation": "If set, this will be used as an opaque color. If unset, this represents a transparent color."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A color that can either be fully opaque or fully transparent."
      }
    },
    "com.googleworkspace.docs_v1#UpdateTableCellStyleRequest": {
      "type": "structure",
      "members": {
        "tableRange": {
          "target": "com.googleworkspace.docs_v1#TableRange",
          "traits": {
            "smithy.api#documentation": "The table range representing the subset of the table to which the updates are applied."
          }
        },
        "tableStartLocation": {
          "target": "com.googleworkspace.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "The location where the table starts in the document. When specified, the updates are applied to all the cells in the table."
          }
        },
        "tableCellStyle": {
          "target": "com.googleworkspace.docs_v1#TableCellStyle",
          "traits": {
            "smithy.api#documentation": "The style to set on the table cells. When updating borders, if a cell shares a border with an adjacent cell, the corresponding border property of the adjacent cell is updated as well. Borders that are merged and invisible are not updated. Since updating a border shared by adjacent cells in the same request can cause conflicting border updates, border updates are applied in the following order: - `border_right` - `border_left` - `border_bottom` - `border_top`"
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `tableCellStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background color, set `fields` to `\"backgroundColor\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the style of a range of table cells."
      }
    },
    "com.googleworkspace.docs_v1#UpdateTableRowStyleRequest": {
      "type": "structure",
      "members": {
        "tableRowStyle": {
          "target": "com.googleworkspace.docs_v1#TableRowStyle",
          "traits": {
            "smithy.api#documentation": "The styles to be set on the rows."
          }
        },
        "rowIndices": {
          "target": "com.googleworkspace.docs_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "The list of zero-based row indices whose style should be updated. If no indices are specified, all rows will be updated."
          }
        },
        "tableStartLocation": {
          "target": "com.googleworkspace.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "The location where the table starts in the document."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `tableRowStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the minimum row height, set `fields` to `\"min_row_height\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the TableRowStyle of rows in a table."
      }
    },
    "com.googleworkspace.docs_v1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.googleworkspace.docs_v1#DateElementPropertiesSuggestionState": {
      "type": "structure",
      "members": {
        "timestampSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to timestamp."
          }
        },
        "localeSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to locale."
          }
        },
        "timeZoneIdSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to time_zone_id."
          }
        },
        "dateFormatSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to date_format."
          }
        },
        "timeFormatSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to time_format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.googleworkspace.docs_v1#BackgroundSuggestionState": {
      "type": "structure",
      "members": {
        "backgroundColorSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the current background color has been modified in this suggestion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base Background have been changed in this suggestion. For any field set to true, the Backgound has a new suggested value."
      }
    },
    "com.googleworkspace.docs_v1#UpdateSectionStyleRequest": {
      "type": "structure",
      "members": {
        "range": {
          "target": "com.googleworkspace.docs_v1#Range",
          "traits": {
            "smithy.api#documentation": "The range overlapping the sections to style. Because section breaks can only be inserted inside the body, the segment ID field must be empty."
          }
        },
        "sectionStyle": {
          "target": "com.googleworkspace.docs_v1#SectionStyle",
          "traits": {
            "smithy.api#documentation": "The styles to be set on the section. Certain section style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of SectionStyle for more information."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `section_style` is implied and must not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the left margin, set `fields` to `\"margin_left\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the SectionStyle."
      }
    },
    "com.googleworkspace.docs_v1#NamedStyleSuggestionState": {
      "type": "structure",
      "members": {
        "textStyleSuggestionState": {
          "target": "com.googleworkspace.docs_v1#TextStyleSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields in text style have been changed in this suggestion."
          }
        },
        "namedStyleType": {
          "target": "com.googleworkspace.docs_v1#NamedStyleSuggestionStateNamedStyleTypeEnum",
          "traits": {
            "smithy.api#documentation": "The named style type that this suggestion state corresponds to. This field is provided as a convenience for matching the NamedStyleSuggestionState with its corresponding NamedStyle."
          }
        },
        "paragraphStyleSuggestionState": {
          "target": "com.googleworkspace.docs_v1#ParagraphStyleSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields in paragraph style have been changed in this suggestion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A suggestion state of a NamedStyle message."
      }
    },
    "com.googleworkspace.docs_v1#NamedStyleSuggestionStateNamedStyleTypeEnum": {
      "type": "enum",
      "members": {
        "NAMED_STYLE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMED_STYLE_TYPE_UNSPECIFIED"
          }
        },
        "NORMAL_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NORMAL_TEXT"
          }
        },
        "TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TITLE"
          }
        },
        "SUBTITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBTITLE"
          }
        },
        "HEADING_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_1"
          }
        },
        "HEADING_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_2"
          }
        },
        "HEADING_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_3"
          }
        },
        "HEADING_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_4"
          }
        },
        "HEADING_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_5"
          }
        },
        "HEADING_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_6"
          }
        }
      }
    },
    "com.googleworkspace.docs_v1#SuggestedPositionedObjectProperties": {
      "type": "structure",
      "members": {
        "positionedObjectProperties": {
          "target": "com.googleworkspace.docs_v1#PositionedObjectProperties",
          "traits": {
            "smithy.api#documentation": "A PositionedObjectProperties that only includes the changes made in this suggestion. This can be used along with the positioned_object_properties_suggestion_state to see which fields have changed and their new values."
          }
        },
        "positionedObjectPropertiesSuggestionState": {
          "target": "com.googleworkspace.docs_v1#PositionedObjectPropertiesSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A suggested change to PositionedObjectProperties."
      }
    },
    "com.googleworkspace.docs_v1#DeleteContentRangeRequest": {
      "type": "structure",
      "members": {
        "range": {
          "target": "com.googleworkspace.docs_v1#Range",
          "traits": {
            "smithy.api#documentation": "The range of content to delete. Deleting text that crosses a paragraph boundary may result in changes to paragraph styles, lists, positioned objects and bookmarks as the two paragraphs are merged. Attempting to delete certain ranges can result in an invalid document structure in which case a 400 bad request error is returned. Some examples of invalid delete requests include: * Deleting one code unit of a surrogate pair. * Deleting the last newline character of a Body, Header, Footer, Footnote, TableCell or TableOfContents. * Deleting the start or end of a Table, TableOfContents or Equation without deleting the entire element. * Deleting the newline character before a Table, TableOfContents or SectionBreak without deleting the element. * Deleting individual rows or cells of a table. Deleting the content within a table cell is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deletes content from the document."
      }
    },
    "com.googleworkspace.docs_v1#RgbColor": {
      "type": "structure",
      "members": {
        "red": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The red component of the color, from 0.0 to 1.0."
          }
        },
        "green": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The green component of the color, from 0.0 to 1.0."
          }
        },
        "blue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The blue component of the color, from 0.0 to 1.0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An RGB color."
      }
    },
    "com.googleworkspace.docs_v1#Size": {
      "type": "structure",
      "members": {
        "height": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The height of the object."
          }
        },
        "width": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The width of the object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A width and height."
      }
    },
    "com.googleworkspace.docs_v1#Person": {
      "type": "structure",
      "members": {
        "textStyle": {
          "target": "com.googleworkspace.docs_v1#TextStyle",
          "traits": {
            "smithy.api#documentation": "The text style of this Person."
          }
        },
        "suggestedTextStyleChanges": {
          "target": "com.googleworkspace.docs_v1#SuggestedTextStyleMap",
          "traits": {
            "smithy.api#documentation": "The suggested text style changes to this Person, keyed by suggestion ID."
          }
        },
        "personProperties": {
          "target": "com.googleworkspace.docs_v1#PersonProperties",
          "traits": {
            "smithy.api#documentation": "Output only. The properties of this Person. This field is always present."
          }
        },
        "suggestedDeletionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "IDs for suggestions that remove this person link from the document. A Person might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion."
          }
        },
        "personId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique ID of this link."
          }
        },
        "suggestedInsertionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "IDs for suggestions that insert this person link into the document. A Person might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person or email address mentioned in a document. These mentions behave as a single, immutable element containing the person's name or email address."
      }
    },
    "com.googleworkspace.docs_v1#DropdownOption": {
      "type": "structure",
      "members": {
        "displayValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display value of this dropdown option."
          }
        },
        "optionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of this dropdown option. If you specify an ID, it must be unique among all options in this dropdown definition. The ID must start with `dropdownItem.` and match regex `^dropdownItem\\.[a-zA-Z0-9_-]{2,14}$` (length 15-27 chars). If you don't specify an ID, a unique one is generated."
          }
        },
        "textStyle": {
          "target": "com.googleworkspace.docs_v1#TextStyle",
          "traits": {
            "smithy.api#documentation": "The text style of this dropdown option. Currently, only the `foreground_color` and `background_color` properties are supported. If other properties are set, a 400 bad request error is returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An option in a Dropdown."
      }
    },
    "com.googleworkspace.docs_v1#SuggestedBullet": {
      "type": "structure",
      "members": {
        "bulletSuggestionState": {
          "target": "com.googleworkspace.docs_v1#BulletSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion."
          }
        },
        "bullet": {
          "target": "com.googleworkspace.docs_v1#Bullet",
          "traits": {
            "smithy.api#documentation": "A Bullet that only includes the changes made in this suggestion. This can be used along with the bullet_suggestion_state to see which fields have changed and their new values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A suggested change to a Bullet."
      }
    },
    "com.googleworkspace.docs_v1#ImageProperties": {
      "type": "structure",
      "members": {
        "contentUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URI to the image with a default lifetime of 30 minutes. This URI is tagged with the account of the requester. Anyone with the URI effectively accesses the image as the original requester. Access to the image may be lost if the document's sharing settings change."
          }
        },
        "transparency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The transparency effect of the image. The value should be in the interval [0.0, 1.0], where 0 means no effect and 1 means transparent."
          }
        },
        "contrast": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The contrast effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect."
          }
        },
        "angle": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The clockwise rotation angle of the image, in radians."
          }
        },
        "brightness": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The brightness effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect."
          }
        },
        "sourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source URI is the URI used to insert the image. The source URI can be empty."
          }
        },
        "cropProperties": {
          "target": "com.googleworkspace.docs_v1#CropProperties",
          "traits": {
            "smithy.api#documentation": "The crop properties of the image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of an image."
      }
    },
    "com.googleworkspace.docs_v1#SuggestedTableCellStyle": {
      "type": "structure",
      "members": {
        "tableCellStyleSuggestionState": {
          "target": "com.googleworkspace.docs_v1#TableCellStyleSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion."
          }
        },
        "tableCellStyle": {
          "target": "com.googleworkspace.docs_v1#TableCellStyle",
          "traits": {
            "smithy.api#documentation": "A TableCellStyle that only includes the changes made in this suggestion. This can be used along with the table_cell_style_suggestion_state to see which fields have changed and their new values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A suggested change to a TableCellStyle."
      }
    },
    "com.googleworkspace.docs_v1#UpdateDropdownPropertiesRequest": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `dropdown_properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
          }
        },
        "dropdownProperties": {
          "target": "com.googleworkspace.docs_v1#DropdownProperties",
          "traits": {
            "smithy.api#documentation": "The properties to update."
          }
        },
        "dropdownId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Dropdown ID."
          }
        },
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the tab that contains the dropdown to update. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the properties of a Dropdown."
      }
    },
    "com.googleworkspace.docs_v1#BulletSuggestionState": {
      "type": "structure",
      "members": {
        "nestingLevelSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to the nesting_level."
          }
        },
        "textStyleSuggestionState": {
          "target": "com.googleworkspace.docs_v1#TextStyleSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields in text style have been changed in this suggestion."
          }
        },
        "listIdSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to the list_id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.googleworkspace.docs_v1#InsertDropdownRequest": {
      "type": "structure",
      "members": {
        "selectedOptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional initial value for the dropdown. If this field is not specified, the new dropdown will default to selecting the first option defined in the dropdown definition. If this field is specified but does not reference a valid option in the dropdown definition, a 400 bad request error is returned."
          }
        },
        "location": {
          "target": "com.googleworkspace.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "The Location in the document to insert the dropdown at."
          }
        },
        "endOfSegmentLocation": {
          "target": "com.googleworkspace.docs_v1#EndOfSegmentLocation",
          "traits": {
            "smithy.api#documentation": "The EndOfSegmentLocation in the document to insert the dropdown at."
          }
        },
        "dropdownDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The DropdownDefinition ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inserts a Dropdown at the specified location."
      }
    },
    "com.googleworkspace.docs_v1#UpdateParagraphStyleRequest": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `paragraph_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the paragraph style's alignment property, set `fields` to `\"alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
          }
        },
        "paragraphStyle": {
          "target": "com.googleworkspace.docs_v1#ParagraphStyle",
          "traits": {
            "smithy.api#documentation": "The styles to set on the paragraphs. Certain paragraph style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of ParagraphStyle for more information."
          }
        },
        "range": {
          "target": "com.googleworkspace.docs_v1#Range",
          "traits": {
            "smithy.api#documentation": "The range overlapping the paragraphs to style."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Update the styling of all paragraphs that overlap with the given range."
      }
    },
    "com.googleworkspace.docs_v1#DocumentStyle": {
      "type": "structure",
      "members": {
        "useCustomHeaderFooterMargins": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether DocumentStyle margin_header, SectionStyle margin_header and DocumentStyle margin_footer, SectionStyle margin_footer are respected. When false, the default values in the Docs editor for header and footer margin is used. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "firstPageHeaderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the header used only for the first page. If not set then a unique header for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_header_id or this value for the header on the first page. If not set, there's no first page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "defaultHeaderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the default header. If not set, there's no default header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "useEvenPageHeaderFooter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether to use the even page header / footer IDs for the even pages. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "marginHeader": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The amount of space between the top of the page and the contents of the header. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "pageNumberStart": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The page number from which to start counting the number of pages. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "flipPageOrientation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether to flip the dimensions of the page_size, which allows changing the page orientation between portrait and landscape. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "background": {
          "target": "com.googleworkspace.docs_v1#Background",
          "traits": {
            "smithy.api#documentation": "The background of the document. Documents cannot have a transparent background color."
          }
        },
        "evenPageHeaderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the header used only for even pages. The value of use_even_page_header_footer determines whether to use the default_header_id or this value for the header on even pages. If not set, there's no even page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "defaultFooterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the default footer. If not set, there's no default footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "evenPageFooterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the footer used only for even pages. The value of use_even_page_header_footer determines whether to use the default_footer_id or this value for the footer on even pages. If not set, there's no even page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "marginLeft": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The left page margin. Updating the left page margin on the document style clears the left page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "pageSize": {
          "target": "com.googleworkspace.docs_v1#Size",
          "traits": {
            "smithy.api#documentation": "The size of a page in the document. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "marginFooter": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The amount of space between the bottom of the page and the contents of the footer. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "documentFormat": {
          "target": "com.googleworkspace.docs_v1#DocumentFormat",
          "traits": {
            "smithy.api#documentation": "Specifies document-level format settings, such as the document mode (pages vs pageless)."
          }
        },
        "firstPageFooterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the footer used only for the first page. If not set then a unique footer for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_footer_id or this value for the footer on the first page. If not set, there's no first page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "marginBottom": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The bottom page margin. Updating the bottom page margin on the document style clears the bottom page margin on all section styles. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "useFirstPageHeaderFooter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether to use the first page header / footer IDs for the first page. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "marginTop": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The top page margin. Updating the top page margin on the document style clears the top page margin on all section styles. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "marginRight": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The right page margin. Updating the right page margin on the document style clears the right page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The style of the document."
      }
    },
    "com.googleworkspace.docs_v1#InsertInlineSheetsChartResponse": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of the inserted chart."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of inserting an embedded Google Sheets chart."
      }
    },
    "com.googleworkspace.docs_v1#TableRowStyleSuggestionState": {
      "type": "structure",
      "members": {
        "minRowHeightSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to min_row_height."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.googleworkspace.docs_v1#AddCommentReplyResponse": {
      "type": "structure",
      "members": {
        "post": {
          "target": "com.googleworkspace.docs_v1#Post",
          "traits": {
            "smithy.api#documentation": "The newly-inserted reply Post."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for adding a reply. [Developer Preview](https://developers.google.com/workspace/preview)."
      }
    },
    "com.googleworkspace.docs_v1#PositionedObjectPositioningSuggestionState": {
      "type": "structure",
      "members": {
        "leftOffsetSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to left_offset."
          }
        },
        "layoutSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to layout."
          }
        },
        "topOffsetSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to top_offset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base PositionedObjectPositioning have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.googleworkspace.docs_v1#Paragraph": {
      "type": "structure",
      "members": {
        "suggestedBulletChanges": {
          "target": "com.googleworkspace.docs_v1#SuggestedBulletMap",
          "traits": {
            "smithy.api#documentation": "The suggested changes to this paragraph's bullet."
          }
        },
        "positionedObjectIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The IDs of the positioned objects tethered to this paragraph."
          }
        },
        "paragraphStyle": {
          "target": "com.googleworkspace.docs_v1#ParagraphStyle",
          "traits": {
            "smithy.api#documentation": "The style of this paragraph."
          }
        },
        "elements": {
          "target": "com.googleworkspace.docs_v1#ParagraphElementList",
          "traits": {
            "smithy.api#documentation": "The content of the paragraph, broken down into its component parts."
          }
        },
        "bullet": {
          "target": "com.googleworkspace.docs_v1#Bullet",
          "traits": {
            "smithy.api#documentation": "The bullet for this paragraph. If not present, the paragraph does not belong to a list."
          }
        },
        "suggestedParagraphStyleChanges": {
          "target": "com.googleworkspace.docs_v1#SuggestedParagraphStyleMap",
          "traits": {
            "smithy.api#documentation": "The suggested paragraph style changes to this paragraph, keyed by suggestion ID."
          }
        },
        "suggestedPositionedObjectIds": {
          "target": "com.googleworkspace.docs_v1#ObjectReferencesMap",
          "traits": {
            "smithy.api#documentation": "The IDs of the positioned objects suggested to be attached to this paragraph, keyed by suggestion ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A StructuralElement representing a paragraph. A paragraph is a range of content that's terminated with a newline character."
      }
    },
    "com.googleworkspace.docs_v1#SuggestedBulletMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.googleworkspace.docs_v1#SuggestedBullet"
      }
    },
    "com.googleworkspace.docs_v1#ParagraphElementList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.docs_v1#ParagraphElement"
      }
    },
    "com.googleworkspace.docs_v1#SuggestedParagraphStyleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.googleworkspace.docs_v1#SuggestedParagraphStyle"
      }
    },
    "com.googleworkspace.docs_v1#ObjectReferencesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.googleworkspace.docs_v1#ObjectReferences"
      }
    },
    "com.googleworkspace.docs_v1#Location": {
      "type": "structure",
      "members": {
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The zero-based index, in UTF-16 code units. The index is relative to the beginning of the segment specified by segment_id."
          }
        },
        "segmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body."
          }
        },
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A particular location in the document."
      }
    },
    "com.googleworkspace.docs_v1#CropPropertiesSuggestionState": {
      "type": "structure",
      "members": {
        "offsetLeftSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to offset_left."
          }
        },
        "offsetTopSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to offset_top."
          }
        },
        "offsetBottomSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to offset_bottom."
          }
        },
        "offsetRightSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to offset_right."
          }
        },
        "angleSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to angle."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base CropProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.googleworkspace.docs_v1#InsertCommentResponse": {
      "type": "structure",
      "members": {
        "commentThread": {
          "target": "com.googleworkspace.docs_v1#CommentThread",
          "traits": {
            "smithy.api#documentation": "The newly-inserted comment thread."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for inserting a comment. [Developer Preview](https://developers.google.com/workspace/preview)."
      }
    },
    "com.googleworkspace.docs_v1#EmbeddedObjectBorder": {
      "type": "structure",
      "members": {
        "propertyState": {
          "target": "com.googleworkspace.docs_v1#EmbeddedObjectBorderPropertyStateEnum",
          "traits": {
            "smithy.api#documentation": "The property state of the border property."
          }
        },
        "width": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The width of the border."
          }
        },
        "color": {
          "target": "com.googleworkspace.docs_v1#OptionalColor",
          "traits": {
            "smithy.api#documentation": "The color of the border."
          }
        },
        "dashStyle": {
          "target": "com.googleworkspace.docs_v1#EmbeddedObjectBorderDashStyleEnum",
          "traits": {
            "smithy.api#documentation": "The dash style of the border."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A border around an EmbeddedObject."
      }
    },
    "com.googleworkspace.docs_v1#EmbeddedObjectBorderPropertyStateEnum": {
      "type": "enum",
      "members": {
        "RENDERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENDERED"
          }
        },
        "NOT_RENDERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_RENDERED"
          }
        }
      }
    },
    "com.googleworkspace.docs_v1#EmbeddedObjectBorderDashStyleEnum": {
      "type": "enum",
      "members": {
        "DASH_STYLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DASH_STYLE_UNSPECIFIED"
          }
        },
        "SOLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLID"
          }
        },
        "DOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOT"
          }
        },
        "DASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DASH"
          }
        }
      }
    },
    "com.googleworkspace.docs_v1#InsertInlineImageRequest": {
      "type": "structure",
      "members": {
        "objectSize": {
          "target": "com.googleworkspace.docs_v1#Size",
          "traits": {
            "smithy.api#documentation": "The size that the image should appear as in the document. This property is optional and the final size of the image in the document is determined by the following rules: * If neither width nor height is specified, then a default size of the image is calculated based on its resolution. * If one dimension is specified then the other dimension is calculated to preserve the aspect ratio of the image. * If both width and height are specified, the image is scaled to fit within the provided dimensions while maintaining its aspect ratio."
          }
        },
        "endOfSegmentLocation": {
          "target": "com.googleworkspace.docs_v1#EndOfSegmentLocation",
          "traits": {
            "smithy.api#documentation": "Inserts the text at the end of a header, footer or the document body. Inline images cannot be inserted inside a footnote."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The image URI. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URI must be publicly accessible and at most 2 kB in length. The URI itself is saved with the image, and exposed via the ImageProperties.content_uri field."
          }
        },
        "location": {
          "target": "com.googleworkspace.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "Inserts the image at a specific index in the document. The image must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Inline images cannot be inserted inside a footnote or equation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inserts an InlineObject containing an image at the given location."
      }
    },
    "com.googleworkspace.docs_v1#DeleteTableRowRequest": {
      "type": "structure",
      "members": {
        "tableCellLocation": {
          "target": "com.googleworkspace.docs_v1#TableCellLocation",
          "traits": {
            "smithy.api#documentation": "The reference table cell location from which the row will be deleted. The row this cell spans will be deleted. If this is a merged cell that spans multiple rows, all rows that the cell spans will be deleted. If no rows remain in the table after this deletion, the whole table is deleted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deletes a row from a table."
      }
    },
    "com.googleworkspace.docs_v1#AddDocumentTabResponse": {
      "type": "structure",
      "members": {
        "tabProperties": {
          "target": "com.googleworkspace.docs_v1#TabProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the newly added tab."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of adding a document tab."
      }
    },
    "com.googleworkspace.docs_v1#WeightedFontFamily": {
      "type": "structure",
      "members": {
        "fontFamily": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The font family of the text. The font family can be any font from the Font menu in Docs or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`."
          }
        },
        "weight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The weight of the font. This field can have any value that's a multiple of `100` between `100` and `900`, inclusive. This range corresponds to the numerical values described in the CSS 2.1 Specification, [section 15.6](https://www.w3.org/TR/CSS21/fonts.html#font-boldness), with non-numerical values disallowed. The default value is `400` (\"normal\"). The font weight makes up just one component of the rendered font weight. A combination of the `weight` and the text style's resolved `bold` value determine the rendered weight, after accounting for inheritance: * If the text is bold and the weight is less than `400`, the rendered weight is 400. * If the text is bold and the weight is greater than or equal to `400` but is less than `700`, the rendered weight is `700`. * If the weight is greater than or equal to `700`, the rendered weight is equal to the weight. * If the text is not bold, the rendered weight is equal to the weight."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a font family and weight of text."
      }
    },
    "com.googleworkspace.docs_v1#CreateFootnoteRequest": {
      "type": "structure",
      "members": {
        "endOfSegmentLocation": {
          "target": "com.googleworkspace.docs_v1#EndOfSegmentLocation",
          "traits": {
            "smithy.api#documentation": "Inserts the footnote reference at the end of the document body. Footnote references cannot be inserted inside a header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty."
          }
        },
        "location": {
          "target": "com.googleworkspace.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "Inserts the footnote reference at a specific index in the document. The footnote reference must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Footnote references cannot be inserted inside an equation, header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates a Footnote segment and inserts a new FootnoteReference to it at the given location. The new Footnote segment will contain a space followed by a newline character."
      }
    },
    "com.googleworkspace.docs_v1#StructuralElement": {
      "type": "structure",
      "members": {
        "startIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The zero-based start index of this structural element, in UTF-16 code units."
          }
        },
        "table": {
          "target": "com.googleworkspace.docs_v1#Table",
          "traits": {
            "smithy.api#documentation": "A table type of structural element."
          }
        },
        "tableOfContents": {
          "target": "com.googleworkspace.docs_v1#TableOfContents",
          "traits": {
            "smithy.api#documentation": "A table of contents type of structural element."
          }
        },
        "sectionBreak": {
          "target": "com.googleworkspace.docs_v1#SectionBreak",
          "traits": {
            "smithy.api#documentation": "A section break type of structural element."
          }
        },
        "paragraph": {
          "target": "com.googleworkspace.docs_v1#Paragraph",
          "traits": {
            "smithy.api#documentation": "A paragraph type of structural element."
          }
        },
        "endIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The zero-based end index of this structural element, exclusive, in UTF-16 code units."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A StructuralElement describes content that provides structure to the document."
      }
    },
    "com.googleworkspace.docs_v1#Link": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An external URL."
          }
        },
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of a tab in this document."
          }
        },
        "bookmarkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of a bookmark in this document. Legacy field: Instead, set includeTabsContent to `true` and use Link.bookmark for read and write operations. This field is only returned when includeTabsContent is set to `false` in documents containing a single tab and links to a bookmark within the singular tab. Otherwise, Link.bookmark is returned. If this field is used in a write request, the bookmark is considered to be from the tab ID specified in the request. If a tab ID is not specified in the request, it is considered to be from the first tab in the document."
          }
        },
        "bookmark": {
          "target": "com.googleworkspace.docs_v1#BookmarkLink",
          "traits": {
            "smithy.api#documentation": "A bookmark in this document. In documents containing a single tab, links to bookmarks within the singular tab continue to return Link.bookmarkId when the includeTabsContent parameter is set to `false` or unset. Otherwise, this field is returned."
          }
        },
        "heading": {
          "target": "com.googleworkspace.docs_v1#HeadingLink",
          "traits": {
            "smithy.api#documentation": "A heading in this document. In documents containing a single tab, links to headings within the singular tab continue to return Link.headingId when the includeTabsContent parameter is set to `false` or unset. Otherwise, this field is returned."
          }
        },
        "headingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of a heading in this document. Legacy field: Instead, set includeTabsContent to `true` and use Link.heading for read and write operations. This field is only returned when includeTabsContent is set to `false` in documents containing a single tab and links to a heading within the singular tab. Otherwise, Link.heading is returned. If this field is used in a write request, the heading is considered to be from the tab ID specified in the request. If a tab ID is not specified in the request, it is considered to be from the first tab in the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to another portion of a document or an external URL resource."
      }
    },
    "com.googleworkspace.docs_v1#BatchUpdateDocumentRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.googleworkspace.docs_v1#RequestList",
          "traits": {
            "smithy.api#documentation": "A list of updates to apply to the document."
          }
        },
        "writeControl": {
          "target": "com.googleworkspace.docs_v1#WriteControl",
          "traits": {
            "smithy.api#documentation": "Provides control over how write requests are executed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for BatchUpdateDocument."
      }
    },
    "com.googleworkspace.docs_v1#RequestList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.docs_v1#Request"
      }
    },
    "com.googleworkspace.docs_v1#TabProperties": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-visible name of the tab."
          }
        },
        "parentTabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID of the parent tab. Empty when the current tab is a root-level tab, which means it doesn't have any parents."
          }
        },
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The immutable ID of the tab."
          }
        },
        "iconEmoji": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The emoji icon displayed with the tab. A valid emoji icon is represented by a non-empty Unicode string. Any set of characters that don't represent a single emoji is invalid. If an emoji is invalid, a 400 bad request error is returned. If this value is unset or empty, the tab will display the default tab icon."
          }
        },
        "nestingLevel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The depth of the tab within the document. Root-level tabs start at 0."
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The zero-based index of the tab within the parent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a tab."
      }
    },
    "com.googleworkspace.docs_v1#Color": {
      "type": "structure",
      "members": {
        "rgbColor": {
          "target": "com.googleworkspace.docs_v1#RgbColor",
          "traits": {
            "smithy.api#documentation": "The RGB color value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A solid color."
      }
    },
    "com.googleworkspace.docs_v1#ImagePropertiesSuggestionState": {
      "type": "structure",
      "members": {
        "contentUriSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to content_uri."
          }
        },
        "brightnessSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to brightness."
          }
        },
        "cropPropertiesSuggestionState": {
          "target": "com.googleworkspace.docs_v1#CropPropertiesSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields in crop_properties have been changed in this suggestion."
          }
        },
        "contrastSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to contrast."
          }
        },
        "transparencySuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to transparency."
          }
        },
        "sourceUriSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to source_uri."
          }
        },
        "angleSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to angle."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.googleworkspace.docs_v1#EmbeddedDrawingPropertiesSuggestionState": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base EmbeddedDrawingProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.googleworkspace.docs_v1#SuggestedTableRowStyle": {
      "type": "structure",
      "members": {
        "tableRowStyleSuggestionState": {
          "target": "com.googleworkspace.docs_v1#TableRowStyleSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion."
          }
        },
        "tableRowStyle": {
          "target": "com.googleworkspace.docs_v1#TableRowStyle",
          "traits": {
            "smithy.api#documentation": "A TableRowStyle that only includes the changes made in this suggestion. This can be used along with the table_row_style_suggestion_state to see which fields have changed and their new values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A suggested change to a TableRowStyle."
      }
    },
    "com.googleworkspace.docs_v1#CreateDropdownDefinitionRequest": {
      "type": "structure",
      "members": {
        "dropdownDefinition": {
          "target": "com.googleworkspace.docs_v1#DropdownDefinition",
          "traits": {
            "smithy.api#documentation": "Required. The DropdownDefinition to create."
          }
        },
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the tab to create the dropdown definition in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates a new DropdownDefinition in the document."
      }
    },
    "com.googleworkspace.docs_v1#TextRun": {
      "type": "structure",
      "members": {
        "textStyle": {
          "target": "com.googleworkspace.docs_v1#TextStyle",
          "traits": {
            "smithy.api#documentation": "The text style of this run."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text of this run. Any non-text elements in the run are replaced with the Unicode character U+E907."
          }
        },
        "suggestedDeletionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        },
        "suggestedInsertionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested insertion IDs. A TextRun may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
          }
        },
        "suggestedTextStyleChanges": {
          "target": "com.googleworkspace.docs_v1#SuggestedTextStyleMap",
          "traits": {
            "smithy.api#documentation": "The suggested text style changes to this run, keyed by suggestion ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ParagraphElement that represents a run of text that all has the same styling."
      }
    },
    "com.googleworkspace.docs_v1#ObjectReferences": {
      "type": "structure",
      "members": {
        "objectIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The object IDs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of object IDs."
      }
    },
    "com.googleworkspace.docs_v1#DeleteSuggestionRequest": {
      "type": "structure",
      "members": {
        "suggestionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the suggestion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deletes a suggestion. Returns a 403 forbidden error if the requesting user is not the author of the suggestion. [Developer Preview](https://developers.google.com/workspace/preview)."
      }
    },
    "com.googleworkspace.docs_v1#PositionedObjectProperties": {
      "type": "structure",
      "members": {
        "positioning": {
          "target": "com.googleworkspace.docs_v1#PositionedObjectPositioning",
          "traits": {
            "smithy.api#documentation": "The positioning of this positioned object relative to the newline of the Paragraph that references this positioned object."
          }
        },
        "embeddedObject": {
          "target": "com.googleworkspace.docs_v1#EmbeddedObject",
          "traits": {
            "smithy.api#documentation": "The embedded object of this positioned object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a PositionedObject."
      }
    },
    "com.googleworkspace.docs_v1#DeleteFooterRequest": {
      "type": "structure",
      "members": {
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tab that contains the footer to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
          }
        },
        "footerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the footer to delete. If this footer is defined on DocumentStyle, the reference to this footer is removed, resulting in no footer of that type for the first section of the document. If this footer is defined on a SectionStyle, the reference to this footer is removed and the footer of that type is now continued from the previous section."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deletes a Footer from the document."
      }
    },
    "com.googleworkspace.docs_v1#EndOfSegmentLocation": {
      "type": "structure",
      "members": {
        "segmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body."
          }
        },
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location at the end of a body, header, footer or footnote. The location is immediately before the last newline in the document segment."
      }
    },
    "com.googleworkspace.docs_v1#PersonProperties": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address linked to this Person. This field is always present."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the person if it's displayed in the link text instead of the person's email address."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties specific to a linked Person."
      }
    },
    "com.googleworkspace.docs_v1#BatchUpdateDocumentResponse": {
      "type": "structure",
      "members": {
        "suggestionResponses": {
          "target": "com.googleworkspace.docs_v1#SuggestionResponseList",
          "traits": {
            "smithy.api#documentation": "The suggestions which were affected by each update. This maps 1:1 with the updates. [Developer Preview](https://developers.google.com/workspace/preview)."
          }
        },
        "writeControl": {
          "target": "com.googleworkspace.docs_v1#WriteControl",
          "traits": {
            "smithy.api#documentation": "The updated write control after applying the request."
          }
        },
        "documentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the document to which the updates were applied to."
          }
        },
        "replies": {
          "target": "com.googleworkspace.docs_v1#ResponseList",
          "traits": {
            "smithy.api#documentation": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty."
          }
        },
        "commentUpdateState": {
          "target": "com.googleworkspace.docs_v1#BatchUpdateDocumentResponseCommentUpdateStateEnum",
          "traits": {
            "smithy.api#documentation": "Whether comment updates were applied in the batch request. [Developer Preview](https://developers.google.com/workspace/preview)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message from a BatchUpdateDocument request."
      }
    },
    "com.googleworkspace.docs_v1#SuggestionResponseList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.docs_v1#SuggestionResponse"
      }
    },
    "com.googleworkspace.docs_v1#ResponseList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.docs_v1#Response"
      }
    },
    "com.googleworkspace.docs_v1#BatchUpdateDocumentResponseCommentUpdateStateEnum": {
      "type": "enum",
      "members": {
        "COMMENT_UPDATE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMENT_UPDATE_STATE_UNSPECIFIED"
          }
        },
        "NO_UPDATES_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_UPDATES_REQUESTED"
          }
        },
        "ALL_SAVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_SAVED"
          }
        },
        "ALL_FAILED_UNKNOWN_REASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_FAILED_UNKNOWN_REASON"
          }
        }
      }
    },
    "com.googleworkspace.docs_v1#ReplaceAllTextResponse": {
      "type": "structure",
      "members": {
        "occurrencesChanged": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of occurrences changed by replacing all text."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of replacing text."
      }
    },
    "com.googleworkspace.docs_v1#PositionedObject": {
      "type": "structure",
      "members": {
        "suggestedDeletionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        },
        "suggestedInsertionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suggested insertion ID. If empty, then this is not a suggested insertion."
          }
        },
        "suggestedPositionedObjectPropertiesChanges": {
          "target": "com.googleworkspace.docs_v1#SuggestedPositionedObjectPropertiesMap",
          "traits": {
            "smithy.api#documentation": "The suggested changes to the positioned object properties, keyed by suggestion ID."
          }
        },
        "positionedObjectProperties": {
          "target": "com.googleworkspace.docs_v1#PositionedObjectProperties",
          "traits": {
            "smithy.api#documentation": "The properties of this positioned object."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of this positioned object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that's tethered to a Paragraph and positioned relative to the beginning of the paragraph. A PositionedObject contains an EmbeddedObject such as an image."
      }
    },
    "com.googleworkspace.docs_v1#SuggestedPositionedObjectPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.googleworkspace.docs_v1#SuggestedPositionedObjectProperties"
      }
    },
    "com.googleworkspace.docs_v1#SuggestedListProperties": {
      "type": "structure",
      "members": {
        "listPropertiesSuggestionState": {
          "target": "com.googleworkspace.docs_v1#ListPropertiesSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion."
          }
        },
        "listProperties": {
          "target": "com.googleworkspace.docs_v1#ListProperties",
          "traits": {
            "smithy.api#documentation": "A ListProperties that only includes the changes made in this suggestion. This can be used along with the list_properties_suggestion_state to see which fields have changed and their new values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A suggested change to ListProperties."
      }
    },
    "com.googleworkspace.docs_v1#SuggestedDateElementProperties": {
      "type": "structure",
      "members": {
        "dateElementPropertiesSuggestionState": {
          "target": "com.googleworkspace.docs_v1#DateElementPropertiesSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion."
          }
        },
        "dateElementProperties": {
          "target": "com.googleworkspace.docs_v1#DateElementProperties",
          "traits": {
            "smithy.api#documentation": "DateElementProperties that only includes the changes made in this suggestion. This can be used along with the date_element_properties_suggestion_state to see which fields have changed and their new values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A suggested change to a DateElementProperties."
      }
    },
    "com.googleworkspace.docs_v1#InsertTableRequest": {
      "type": "structure",
      "members": {
        "location": {
          "target": "com.googleworkspace.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "Inserts the table at a specific model index. A newline character will be inserted before the inserted table, therefore the table start index will be at the specified location index + 1. The table must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph). Tables cannot be inserted inside a footnote or equation."
          }
        },
        "endOfSegmentLocation": {
          "target": "com.googleworkspace.docs_v1#EndOfSegmentLocation",
          "traits": {
            "smithy.api#documentation": "Inserts the table at the end of the given header, footer or document body. A newline character will be inserted before the inserted table. Tables cannot be inserted inside a footnote."
          }
        },
        "rows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of rows in the table."
          }
        },
        "columns": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of columns in the table."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inserts a table at the specified location. A newline character will be inserted before the inserted table."
      }
    },
    "com.googleworkspace.docs_v1#Header": {
      "type": "structure",
      "members": {
        "headerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the header."
          }
        },
        "content": {
          "target": "com.googleworkspace.docs_v1#StructuralElementList",
          "traits": {
            "smithy.api#documentation": "The contents of the header. The indexes for a header's content begin at zero."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A document header."
      }
    },
    "com.googleworkspace.docs_v1#StructuralElementList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.docs_v1#StructuralElement"
      }
    },
    "com.googleworkspace.docs_v1#InsertDateRequest": {
      "type": "structure",
      "members": {
        "location": {
          "target": "com.googleworkspace.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "Inserts the date at a specific index in the document. The date must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph)."
          }
        },
        "dateElementProperties": {
          "target": "com.googleworkspace.docs_v1#DateElementProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the date to insert."
          }
        },
        "endOfSegmentLocation": {
          "target": "com.googleworkspace.docs_v1#EndOfSegmentLocation",
          "traits": {
            "smithy.api#documentation": "Inserts the date at the end of the given header, footer or document body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inserts a date at the specified location."
      }
    },
    "com.googleworkspace.docs_v1#Table": {
      "type": "structure",
      "members": {
        "columns": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of columns in the table. It's possible for a table to be non-rectangular, so some rows may have a different number of cells."
          }
        },
        "suggestedDeletionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        },
        "suggestedInsertionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested insertion IDs. A Table may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
          }
        },
        "tableStyle": {
          "target": "com.googleworkspace.docs_v1#TableStyle",
          "traits": {
            "smithy.api#documentation": "The style of the table."
          }
        },
        "rows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of rows in the table."
          }
        },
        "tableRows": {
          "target": "com.googleworkspace.docs_v1#TableRowList",
          "traits": {
            "smithy.api#documentation": "The contents and style of each row."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A StructuralElement representing a table."
      }
    },
    "com.googleworkspace.docs_v1#TableRowList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.docs_v1#TableRow"
      }
    },
    "com.googleworkspace.docs_v1#UpdateNamedStyleRequest": {
      "type": "structure",
      "members": {
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The document tab to update. By default, the update is applied to the first tab."
          }
        },
        "namedStyle": {
          "target": "com.googleworkspace.docs_v1#NamedStyle",
          "traits": {
            "smithy.api#documentation": "The document style to update."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The NamedStyle fields that should be updated. At least `named_style_type` must be specified. The root `named_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to include `\"text_style\"` and `\"text_style.bold\"`. To update the paragraph style's alignment property, set `fields` to include `\"paragraph_style\"` and `\"paragraph_style.alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset. Specifying `\"text_style\"` or `\"paragraph_style\"` with an empty TextStyle or ParagraphStyle will reset all of its nested fields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates a named style."
      }
    },
    "com.googleworkspace.docs_v1#CreateNamedRangeRequest": {
      "type": "structure",
      "members": {
        "range": {
          "target": "com.googleworkspace.docs_v1#Range",
          "traits": {
            "smithy.api#documentation": "The range to apply the name to."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the NamedRange. Names do not need to be unique. Names must be at least 1 character and no more than 256 characters, measured in UTF-16 code units."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates a NamedRange referencing the given range."
      }
    },
[...]
