{
  "smithy": "2.0",
  "metadata": {
    "service": "drive",
    "version": "v3",
    "title": "Google Drive API",
    "baseUrl": "https://www.googleapis.com/drive/v3/",
    "distilled.finalized": true
  },
  "shapes": {
    "com.googleworkspace.drive_v3#LabelList": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
          }
        },
        "labels": {
          "target": "com.googleworkspace.drive_v3#LabelList_",
          "traits": {
            "smithy.api#documentation": "The list of labels."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `\"drive#labelList\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of labels applied to a file."
      }
    },
    "com.googleworkspace.drive_v3#LabelList_": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v3#Label"
      }
    },
    "com.googleworkspace.drive_v3#StartPageToken": {
      "type": "structure",
      "members": {
        "startPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The starting page token for listing future changes. The page token doesn't expire."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`."
          }
        }
      }
    },
    "com.googleworkspace.drive_v3#ModifyLabelsResponse": {
      "type": "structure",
      "members": {
        "modifiedLabels": {
          "target": "com.googleworkspace.drive_v3#LabelList_",
          "traits": {
            "smithy.api#documentation": "The list of labels which were added or updated by the request."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `\"drive#modifyLabelsResponse\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to a `ModifyLabels` request. This contains only those labels which were added or updated by the request."
      }
    },
    "com.googleworkspace.drive_v3#ChangeList": {
      "type": "structure",
      "members": {
        "changes": {
          "target": "com.googleworkspace.drive_v3#ChangeList_",
          "traits": {
            "smithy.api#documentation": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
          }
        },
        "newStartPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached. The page token doesn't expire."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. The page token doesn't expire."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"drive#changeList\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of changes for a user."
      }
    },
    "com.googleworkspace.drive_v3#ChangeList_": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v3#Change"
      }
    },
    "com.googleworkspace.drive_v3#LabelField": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Only present if `valueType` is `text`."
          }
        },
        "valueType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always drive#labelField."
          }
        },
        "integer": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Only present if `valueType` is `integer`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of this label field."
          }
        },
        "dateString": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD."
          }
        },
        "selection": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Only present if `valueType` is `selection`"
          }
        },
        "user": {
          "target": "com.googleworkspace.drive_v3#UserList",
          "traits": {
            "smithy.api#documentation": "Only present if `valueType` is `user`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of field, which is a typed key-value pair."
      }
    },
    "com.googleworkspace.drive_v3#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.googleworkspace.drive_v3#UserList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v3#User"
      }
    },
    "com.googleworkspace.drive_v3#ApprovalList": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of approvals. This is absent if the end of the approvals list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
          }
        },
        "items": {
          "target": "com.googleworkspace.drive_v3#ApprovalList_",
          "traits": {
            "smithy.api#documentation": "The list of approvals. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always drive#approvalList"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of an approvals list request."
      }
    },
    "com.googleworkspace.drive_v3#ApprovalList_": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v3#Approval"
      }
    },
    "com.googleworkspace.drive_v3#Reply": {
      "type": "structure",
      "members": {
        "mentionedEmailAddresses": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the reply has been deleted. A deleted reply has no content."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plain text content of the reply. This field is used for setting the content, while `htmlContent` should be displayed. This field is required by the `create` method if no `action` value is specified."
          }
        },
        "htmlContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The content of the reply with HTML formatting."
          }
        },
        "modifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the reply was modified (RFC 3339 date-time)."
          }
        },
        "createdTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the reply was created (RFC 3339 date-time)."
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The action the reply performed to the parent comment. The supported values are: * `resolve` * `reopen`"
          }
        },
        "assigneeEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the reply."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#reply\"`."
          }
        },
        "author": {
          "target": "com.googleworkspace.drive_v3#User",
          "traits": {
            "smithy.api#documentation": "Output only. The author of the reply. The author's email address and permission ID won't be populated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reply to a comment on a file. Some resource methods (such as `replies.update`) require a `replyId`. Use the `replies.list` method to retrieve the ID for a reply."
      }
    },
    "com.googleworkspace.drive_v3#Approval": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always drive#approval."
          }
        },
        "approvalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The approval ID."
          }
        },
        "status": {
          "target": "com.googleworkspace.drive_v3#ApprovalStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The status of the approval at the time this resource was requested."
          }
        },
        "targetFileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target file id of the approval."
          }
        },
        "dueTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the approval is due."
          }
        },
        "fileContentChangeBehavior": {
          "target": "com.googleworkspace.drive_v3#ApprovalFileContentChangeBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The behavior of the approval when the file content changes."
          }
        },
        "reviewerResponses": {
          "target": "com.googleworkspace.drive_v3#ReviewerResponseList",
          "traits": {
            "smithy.api#documentation": "The responses made on the approval by reviewers."
          }
        },
        "initiator": {
          "target": "com.googleworkspace.drive_v3#User",
          "traits": {
            "smithy.api#documentation": "The user that requested the approval."
          }
        },
        "completeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the approval was completed."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the approval was created."
          }
        },
        "modifyTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The most recent time the approval was modified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for an approval. An approval is a review or approve process for a Drive item."
      }
    },
    "com.googleworkspace.drive_v3#ApprovalStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECLINED"
          }
        }
      }
    },
    "com.googleworkspace.drive_v3#ApprovalFileContentChangeBehaviorEnum": {
      "type": "enum",
      "members": {
        "FILE_CONTENT_CHANGE_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_CONTENT_CHANGE_BEHAVIOR_UNSPECIFIED"
          }
        },
        "RESET_APPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESET_APPROVAL"
          }
        },
        "NO_APPROVAL_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_APPROVAL_ACTION"
          }
        }
      }
    },
    "com.googleworkspace.drive_v3#ReviewerResponseList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v3#ReviewerResponse"
      }
    },
    "com.googleworkspace.drive_v3#AppList": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.googleworkspace.drive_v3#AppList_",
          "traits": {
            "smithy.api#documentation": "The list of apps."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#appList\"."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link back to this list."
          }
        },
        "defaultAppIds": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The list of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of third-party applications which the user has installed or given access to Google Drive."
      }
    },
    "com.googleworkspace.drive_v3#AppList_": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v3#App"
      }
    },
    "com.googleworkspace.drive_v3#GeneratedIds": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"drive#generatedIds\"`."
          }
        },
        "space": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of file that can be created with these IDs."
          }
        },
        "ids": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The IDs generated for the requesting user in the specified space."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of generated file IDs which can be provided in create requests."
      }
    },
    "com.googleworkspace.drive_v3#LabelFieldModification": {
      "type": "structure",
      "members": {
        "setDateValues": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `\"drive#labelFieldModification\"`."
          }
        },
        "unsetValues": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Unsets the values for this field."
          }
        },
        "fieldId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the field to be modified."
          }
        },
        "setTextValues": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Sets the value of a `text` field."
          }
        },
        "setIntegerValues": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Replaces the value of an `integer` field with these new values."
          }
        },
        "setSelectionValues": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Replaces a `selection` field with these new values."
          }
        },
        "setUserValues": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Replaces a `user` field with these new values. The values must be a valid email addresses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A modification to a label's field."
      }
    },
    "com.googleworkspace.drive_v3#ResolveAccessProposalRequest": {
      "type": "structure",
      "members": {
        "role": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The roles that the approver has allowed, if any. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles). Note: This field is required for the `ACCEPT` action."
          }
        },
        "view": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates the view for this access proposal. This should only be set when the proposal belongs to a view. Only `published` is supported."
          }
        },
        "action": {
          "target": "com.googleworkspace.drive_v3#ResolveAccessProposalRequestActionEnum",
          "traits": {
            "smithy.api#documentation": "Required. The action to take on the access proposal."
          }
        },
        "sendNotification": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to send an email to the requester when the access proposal is denied or accepted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for resolving an AccessProposal on a file."
      }
    },
    "com.googleworkspace.drive_v3#ResolveAccessProposalRequestActionEnum": {
      "type": "enum",
      "members": {
        "ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_UNSPECIFIED"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPT"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        }
      }
    },
    "com.googleworkspace.drive_v3#ReassignApprovalRequest": {
      "type": "structure",
      "members": {
        "addReviewers": {
          "target": "com.googleworkspace.drive_v3#AddReviewerList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of reviewers to add."
          }
        },
        "replaceReviewers": {
          "target": "com.googleworkspace.drive_v3#ReplaceReviewerList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of reviewer replacements."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A message to send to the new reviewers. This message is included in notifications for the action and in the approval activity log."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for reassigning an approval. Reviewers can be added or replaced, but not removed."
      }
    },
    "com.googleworkspace.drive_v3#AddReviewerList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v3#AddReviewer"
      }
    },
    "com.googleworkspace.drive_v3#ReplaceReviewerList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v3#ReplaceReviewer"
      }
    },
    "com.googleworkspace.drive_v3#TeamDriveList": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of Team Drives. This will be absent if the end of the Team Drives list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
          }
        },
        "teamDrives": {
          "target": "com.googleworkspace.drive_v3#TeamDriveList_",
          "traits": {
            "smithy.api#documentation": "The list of Team Drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDriveList\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of Team Drives."
      }
    },
    "com.googleworkspace.drive_v3#TeamDriveList_": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v3#TeamDrive"
      }
    },
    "com.googleworkspace.drive_v3#Channel": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A UUID or similar unique string that identifies this channel."
          }
        },
        "payload": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A Boolean value to indicate whether payload is wanted. Optional."
          }
        },
        "params": {
          "target": "com.googleworkspace.drive_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Additional parameters controlling delivery channel behavior. Optional."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address where notifications are delivered for this channel."
          }
        },
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A version-specific identifier for the watched resource."
          }
        },
        "expiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A notification channel used to watch for resource changes."
      }
    },
    "com.googleworkspace.drive_v3#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.googleworkspace.drive_v3#Revision": {
      "type": "structure",
      "members": {
        "publishedOutsideDomain": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this revision is published outside the domain. This is only applicable to Docs Editors files."
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The size of the revision's content in bytes. This is only applicable to files with binary content in Drive."
          }
        },
        "originalFilename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The original filename used to create this revision. This is only applicable to files with binary content in Drive."
          }
        },
        "publishedLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A link to the published revision. This is only populated for Docs Editors files."
          }
        },
        "keepForever": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to keep this revision forever, even if it is no longer the head revision. If not set, the revision will be automatically purged 30 days after newer content is uploaded. This can be set on a maximum of 200 revisions for a file. This field is only applicable to files with binary content in Drive."
          }
        },
        "lastModifyingUser": {
          "target": "com.googleworkspace.drive_v3#User",
          "traits": {
            "smithy.api#documentation": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the revision."
          }
        },
        "modifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the revision was modified (RFC 3339 date-time)."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The MIME type of the revision."
          }
        },
        "publishAuto": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether subsequent revisions will be automatically republished. This is only applicable to Docs Editors files."
          }
        },
        "exportLinks": {
          "target": "com.googleworkspace.drive_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Links for exporting Docs Editors files to specific formats."
          }
        },
        "md5Checksum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The MD5 checksum of the revision's content. This is only applicable to files with binary content in Drive."
          }
        },
        "published": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this revision is published. This is only applicable to Docs Editors files."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#revision\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for a revision to a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision."
      }
    },
    "com.googleworkspace.drive_v3#AccessProposalRoleAndView": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role that was proposed by the requester. The supported values are: * `writer` * `commenter` * `reader`"
          }
        },
        "view": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the view for this access proposal. Only populated for proposals that belong to a view. Only `published` is supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles)."
      }
    },
    "com.googleworkspace.drive_v3#ApproveApprovalRequest": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A message to accompany the reviewer response on the approval. This message is included in notifications for the action and in the approval activity log."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for approving an approval as a reviewer."
      }
    },
    "com.googleworkspace.drive_v3#LabelModification": {
      "type": "structure",
      "members": {
        "removeLabel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the label will be removed from the file."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `\"drive#labelModification\"`."
          }
        },
        "labelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the label to modify."
          }
        },
        "fieldModifications": {
          "target": "com.googleworkspace.drive_v3#LabelFieldModificationList",
          "traits": {
            "smithy.api#documentation": "The list of modifications to this label's fields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A modification to a label on a file. A `LabelModification` can be used to apply a label to a file, update an existing label on a file, or remove a label from a file."
      }
    },
    "com.googleworkspace.drive_v3#LabelFieldModificationList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v3#LabelFieldModification"
      }
    },
    "com.googleworkspace.drive_v3#ContentRestriction": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`."
          }
        },
        "restrictingUser": {
          "target": "com.googleworkspace.drive_v3#User",
          "traits": {
            "smithy.api#documentation": "Output only. The user who set the content restriction. Only populated if `readOnly=true`."
          }
        },
        "systemRestricted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions."
          }
        },
        "ownerRestricted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`."
          }
        },
        "restrictionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true."
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A restriction for accessing the content of the file."
      }
    },
    "com.googleworkspace.drive_v3#AccessProposal": {
      "type": "structure",
      "members": {
        "fileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file ID that the proposal for access is on."
          }
        },
        "requesterEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the requesting user."
          }
        },
        "recipientEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the user that will receive permissions, if accepted."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation time."
          }
        },
        "rolesAndViews": {
          "target": "com.googleworkspace.drive_v3#AccessProposalRoleAndViewList",
          "traits": {
            "smithy.api#documentation": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles)."
          }
        },
        "requestMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message that the requester added to the proposal."
          }
        },
        "proposalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the access proposal."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Manage outstanding access proposals on a file."
      }
    },
    "com.googleworkspace.drive_v3#AccessProposalRoleAndViewList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v3#AccessProposalRoleAndView"
      }
    },
    "com.googleworkspace.drive_v3#DeclineApprovalRequest": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A message to accompany the reviewer response on the approval. This message is included in notifications for the action and in the approval activity log."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for declining an approval as a reviewer."
      }
    },
    "com.googleworkspace.drive_v3#AppIcons": {
      "type": "structure",
      "members": {
        "iconUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the icon."
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of the icon. Represented as the maximum of the width and height."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the icon. Allowed values are: * `application` - The icon for the application. * `document` - The icon for a file associated with the app. * `documentShared` - The icon for a shared file associated with the app."
          }
        }
      }
    },
    "com.googleworkspace.drive_v3#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.googleworkspace.drive_v3#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.googleworkspace.drive_v3#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.googleworkspace.drive_v3#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v3#DocumentMap"
      }
    },
    "com.googleworkspace.drive_v3#DecryptionMetadata": {
      "type": "structure",
      "members": {
        "encryptionResourceKeyHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL-safe Base64 encoded HMAC-SHA256 digest of the resource metadata with its DEK (Data Encryption Key); see https://developers.google.com/workspace/cse/reference"
          }
        },
        "kaclsId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the KACLS (Key ACL Service) used to encrypt the file."
          }
        },
        "kaclsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the KACLS (Key ACL Service) used to encrypt the file."
          }
        },
        "aes256GcmChunkSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Chunk size used if content was encrypted with the AES 256 GCM Cipher. Possible values are: - default - small "
          }
        },
        "keyFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key format for the unwrapped key. Must be `tinkAesGcmKey`."
          }
        },
        "wrappedKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL-safe Base64 encoded wrapped key used to encrypt the contents of the file."
          }
        },
        "jwt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signed JSON Web Token (JWT) which can be used to authorize the requesting user with the Key ACL Service (KACLS). The JWT asserts that the requesting user has at least read permissions on the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of the CSE DecryptionMetadata."
      }
    },
    "com.googleworkspace.drive_v3#CommentApprovalRequest": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A message to comment on the approval. This message is included in notifications for the action and in the approval activity log."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for commenting on an approval."
      }
    },
    "com.googleworkspace.drive_v3#App": {
      "type": "structure",
      "members": {
        "productUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to the product listing for this app."
          }
        },
        "supportsImport": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this app supports importing from Google Docs."
          }
        },
        "longDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A long description of the app."
          }
        },
        "primaryFileExtensions": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The list of primary file extensions."
          }
        },
        "icons": {
          "target": "com.googleworkspace.drive_v3#AppIconsList",
          "traits": {
            "smithy.api#documentation": "The various icons for the app."
          }
        },
        "supportsCreate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this app supports creating objects."
          }
        },
        "secondaryFileExtensions": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The list of secondary file extensions."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#app\"."
          }
        },
        "shortDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the app."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the product listing for this app."
          }
        },
        "secondaryMimeTypes": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The list of secondary MIME types."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the app."
          }
        },
        "supportsMultiOpen": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this app supports opening more than one file."
          }
        },
        "createInFolderTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The template URL to create a file with this app in a given folder. The template contains the {folderId} to be replaced by the folder ID house the new file."
          }
        },
        "useByDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the app is selected as the default handler for the types it supports."
          }
        },
        "createUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to create a file with this app."
          }
        },
        "supportsOfflineCreate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this app supports creating files when offline."
          }
        },
        "openUrlTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The template URL for opening files with this app. The template contains {ids} or {exportIds} to be replaced by the actual file IDs. For more information, see Open Files for the full documentation."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the app."
          }
        },
        "installed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the app is installed."
          }
        },
        "hasDriveWideScope": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the app has Drive-wide scope. An app with Drive-wide scope can access all files in the user's Drive."
          }
        },
        "objectType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of object this app creates such as a Chart. If empty, the app name should be used instead."
          }
        },
        "primaryMimeTypes": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The list of primary MIME types."
          }
        },
        "authorized": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the app is authorized to access data on the user's Drive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `apps` resource provides a list of apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application."
      }
    },
    "com.googleworkspace.drive_v3#AppIconsList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v3#AppIcons"
      }
    },
    "com.googleworkspace.drive_v3#DriveList": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
          }
        },
        "drives": {
          "target": "com.googleworkspace.drive_v3#DriveList_",
          "traits": {
            "smithy.api#documentation": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"drive#driveList\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of shared drives."
      }
    },
    "com.googleworkspace.drive_v3#DriveList_": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v3#Drive"
      }
    },
    "com.googleworkspace.drive_v3#DownloadRestriction": {
      "type": "structure",
      "members": {
        "restrictedForReaders": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether download and copy is restricted for readers."
          }
        },
        "restrictedForWriters": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether download and copy is restricted for writers. If true, download is also restricted for readers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A restriction for copy and download of the file."
      }
    },
    "com.googleworkspace.drive_v3#Permission": {
      "type": "structure",
      "members": {
        "teamDrivePermissionDetails": {
          "target": "com.googleworkspace.drive_v3#PermissionTeamDrivePermissionDetailsItemList",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: Output only. Use `permissionDetails` instead."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the grantee. Supported values include: * `user` * `group` * `domain` * `anyone` When creating a permission, if `type` is `user` or `group`, you must provide an `emailAddress` for the user or group. If `type` is `domain`, you must provide a `domain`. If `type` is `anyone`, no extra information is required."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to permissions of type `user` or `group`."
          }
        },
        "pendingOwner": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account associated with this permission is a pending owner. Only populated for permissions of type `user` for files that aren't in a shared drive."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The domain to which this permission refers."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of this permission. This is a unique identifier for the grantee, and is published in the [User resource](https://developers.google.com/workspace/drive/api/reference/rest/v3/User) as `permissionId`. IDs should be treated as opaque values."
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which this permission will expire (RFC 3339 date-time). Expiration times have the following restrictions: - They can only be set on user and group permissions - The time must be in the future - The time cannot be more than a year in the future"
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role granted by this permission. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles)."
          }
        },
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The email address of the user or group to which this permission refers."
          }
        },
        "view": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the view for this permission. Only populated for permissions that belong to a view. The only supported values are `published` and `metadata`: * `published`: The permission's role is `publishedReader`. * `metadata`: The item is only visible to the `metadata` view because the item has limited access and the scope has at least read access to the parent. The `metadata` view is only supported on folders. For more information, see [Views](https://developers.google.com/workspace/drive/api/guides/ref-roles#views)."
          }
        },
        "permissionDetails": {
          "target": "com.googleworkspace.drive_v3#PermissionPermissionDetailsItemList",
          "traits": {
            "smithy.api#documentation": "Output only. Details of whether the permissions on this item are inherited or are directly on this item."
          }
        },
        "photoLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A link to the user's profile photo, if available."
          }
        },
        "inheritedPermissionsDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When `true`, only organizers, owners, and users with permissions added directly on the item can access it."
          }
        },
        "allowFileDiscovery": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type `domain` or `anyone`."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#permission\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The \"pretty\" name of the value of the permission. The following is a list of examples for each type of permission: * `user` - User's full name, as defined for their Google Account, such as \"Dana A.\" * `group` - Name of the Google Group, such as \"The Company Administrators.\" * `domain` - String domain name, such as \"cymbalgroup.com.\" * `anyone` - No `displayName` is present."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). By default, permission requests only return a subset of fields. Permission `kind`, `ID`, `type`, and `role` are always returned. To retrieve specific fields, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter). Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive."
      }
    },
    "com.googleworkspace.drive_v3#PermissionTeamDrivePermissionDetailsItem": {
      "type": "structure",
      "members": {
        "inherited": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only. Use `permissionDetails/inherited` instead."
          }
        },
        "inheritedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only. Use `permissionDetails/inheritedFrom` instead."
          }
        },
        "teamDrivePermissionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only. Use `permissionDetails/permissionType` instead."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only. Use `permissionDetails/role` instead."
          }
        }
      }
    },
    "com.googleworkspace.drive_v3#PermissionTeamDrivePermissionDetailsItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v3#PermissionTeamDrivePermissionDetailsItem"
      }
    },
    "com.googleworkspace.drive_v3#PermissionPermissionDetailsItem": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The primary role for this user. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles)."
          }
        },
        "permissionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The permission type for this user. Supported values include: * `file` * `member`"
          }
        },
        "inheritedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives."
          }
        },
        "inherited": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether this permission is inherited. This field is always populated. This is an output-only field."
          }
        }
      }
    },
    "com.googleworkspace.drive_v3#PermissionPermissionDetailsItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v3#PermissionPermissionDetailsItem"
      }
    },
    "com.googleworkspace.drive_v3#File": {
      "type": "structure",
      "members": {
        "clientEncryptionDetails": {
          "target": "com.googleworkspace.drive_v3#ClientEncryptionDetails",
          "traits": {
            "smithy.api#documentation": "Client Side Encryption related details. Contains details about the encryption state of the file and details regarding the encryption mechanism that clients need to use when decrypting the contents of this item. This will only be present on files and not on folders or shortcuts."
          }
        },
        "createdTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the file was created (RFC 3339 date-time)."
          }
        },
        "viewedByMeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the file was viewed by the user (RFC 3339 date-time)."
          }
        },
        "viewedByMe": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the file has been viewed by this user."
          }
        },
        "sha256Checksum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files."
          }
        },
        "trashed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file, but other users can still access the file in the owner's trash until it's permanently deleted."
          }
        },
        "driveId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives."
          }
        },
        "explicitlyTrashed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the file has been explicitly trashed, as opposed to recursively trashed from a parent folder."
          }
        },
        "permissions": {
          "target": "com.googleworkspace.drive_v3#PermissionList_",
          "traits": {
            "smithy.api#documentation": "Output only. The full list of permissions for the file. This is only available if the requesting user can share the file. Not populated for items in shared drives."
          }
        },
        "headRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the file's head revision. This is currently only available for files with binary content in Google Drive."
          }
        },
        "starred": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user has starred the file."
          }
        },
        "teamDriveId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only. Use `driveId` instead."
          }
        },
        "writersCanShare": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether users with only `writer` permission can modify the file's permissions. Not populated for items in shared drives."
          }
        },
        "owners": {
          "target": "com.googleworkspace.drive_v3#UserList",
          "traits": {
            "smithy.api#documentation": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives."
          }
        },
        "contentHints": {
          "target": "com.googleworkspace.drive_v3#FileContentHints",
          "traits": {
            "smithy.api#documentation": "Additional information about the content of the file. These fields are never populated in responses."
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Size in bytes of blobs and Google Workspace editor files. Won't be populated for files that have no size, like shortcuts and folders."
          }
        },
        "sha1Checksum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files."
          }
        },
        "viewersCanCopyContent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `copyRequiresWriterPermission` instead."
          }
        },
        "trashingUser": {
          "target": "com.googleworkspace.drive_v3#User",
          "traits": {
            "smithy.api#documentation": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives."
          }
        },
        "sharedWithMeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the file was shared with the user, if applicable (RFC 3339 date-time)."
          }
        },
        "hasThumbnail": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether this file has a thumbnail. This doesn't indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field."
          }
        },
        "shortcutDetails": {
          "target": "com.googleworkspace.drive_v3#FileShortcutDetails",
          "traits": {
            "smithy.api#documentation": "Information about a shortcut file."
          }
        },
        "isAppAuthorized": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the file was created or opened by the requesting app."
          }
        },
        "folderColorRgb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The color for a folder or a shortcut to a folder as an RGB hex string. The supported colors are published in the `folderColorPalette` field of the [`about`](/workspace/drive/api/reference/rest/v3/about) resource. If an unsupported color is specified, the closest color in the palette is used instead."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the user."
          }
        },
        "linkShareMetadata": {
          "target": "com.googleworkspace.drive_v3#FileLinkShareMetadata",
          "traits": {
            "smithy.api#documentation": "Contains details about the link URLs that clients are using to refer to this item."
          }
        },
        "permissionIds": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. List of permission IDs for users with access to this file."
          }
        },
        "downloadRestrictions": {
          "target": "com.googleworkspace.drive_v3#DownloadRestrictionsMetadata",
          "traits": {
            "smithy.api#documentation": "Download restrictions applied on the file."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the file."
          }
        },
        "webContentLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A link for downloading the content of the file in a browser. This is only available for files with binary content in Google Drive."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of the file. Google Drive attempts to automatically detect an appropriate value from uploaded content, if no value is provided. The value cannot be changed unless a new revision is uploaded. If a file is created with a Google Doc MIME type, the uploaded content is imported, if possible. The supported import formats are published in the [`about`](/workspace/drive/api/reference/rest/v3/about) resource."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the file."
          }
        },
        "exportLinks": {
          "target": "com.googleworkspace.drive_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Links for exporting Docs Editors files to specific formats."
          }
        },
        "properties": {
          "target": "com.googleworkspace.drive_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "A collection of arbitrary key-value pairs which are visible to all apps.\nEntries with null values are cleared in update and copy requests."
          }
        },
        "hasAugmentedPermissions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives."
          }
        },
        "thumbnailVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The thumbnail version for use in thumbnail cache invalidation."
          }
        },
        "modifiedByMe": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the file has been modified by this user."
          }
        },
        "iconLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A static, unauthenticated link to the file's icon."
          }
        },
        "labelInfo": {
          "target": "com.googleworkspace.drive_v3#FileLabelInfo",
          "traits": {
            "smithy.api#documentation": "Label information on the file."
          }
        },
        "originalFilename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original filename of the uploaded content if available, or else the original value of the `name` field. This is only available for files with binary content in Google Drive."
          }
        },
        "videoMediaMetadata": {
          "target": "com.googleworkspace.drive_v3#FileVideoMediaMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Additional metadata about video media. This may not be available immediately upon upload."
          }
        },
        "fullFileExtension": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full file extension extracted from the `name` field. May contain multiple concatenated extensions, such as \"tar.gz\". This is only available for files with binary content in Google Drive. This is automatically updated when the `name` field changes, however it's not cleared if the new name doesn't contain a valid extension."
          }
        },
        "lastModifyingUser": {
          "target": "com.googleworkspace.drive_v3#User",
          "traits": {
            "smithy.api#documentation": "Output only. The last user to modify the file. This field is only populated when the last modification was performed by a signed-in user."
          }
        },
        "modifiedByMeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the file was modified by the user (RFC 3339 date-time)."
          }
        },
        "thumbnailLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) policies. Consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `files.thumbnailLink` must be fetched using a credentialed request."
          }
        },
        "appProperties": {
          "target": "com.googleworkspace.drive_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "A collection of arbitrary key-value pairs which are private to the requesting app.\nEntries with null values are cleared in update and copy requests. These properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the file. This isn't necessarily unique within a folder. Note that for immutable items such as the top-level folders of shared drives, the My Drive root folder, and the Application Data folder, the name is constant."
          }
        },
        "md5Checksum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The MD5 checksum for the content of the file. This is only applicable to files with binary content in Google Drive."
          }
        },
        "fileExtension": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The final component of `fullFileExtension`. This is only available for files with binary content in Google Drive."
          }
        },
        "ownedByMe": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the user owns the file. Not populated for items in shared drives."
          }
        },
        "sharingUser": {
          "target": "com.googleworkspace.drive_v3#User",
          "traits": {
            "smithy.api#documentation": "Output only. The user who shared the file with the requesting user, if applicable."
          }
        },
        "parents": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of a create request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list."
          }
        },
        "webViewLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A link for opening the file in a relevant Google editor or viewer in a browser."
          }
        },
        "contentRestrictions": {
          "target": "com.googleworkspace.drive_v3#ContentRestrictionList",
          "traits": {
            "smithy.api#documentation": "Restrictions for accessing the content of the file. Only populated if such a restriction exists."
          }
        },
        "trashedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the item was trashed (RFC 3339 date-time). Only populated for items in shared drives."
          }
        },
        "resourceKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A key needed to access the item via a shared link."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#file\"`."
          }
        },
        "spaces": {
          "target": "com.googleworkspace.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of spaces which contain the file. The currently supported values are `drive`, `appDataFolder`, and `photos`."
          }
        },
        "capabilities": {
          "target": "com.googleworkspace.drive_v3#FileCapabilities",
          "traits": {
            "smithy.api#documentation": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take. For more information, see [Understand file capabilities](https://developers.google.com/workspace/drive/api/guides/manage-sharing#capabilities)."
          }
        },
        "shared": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the file has been shared. Not populated for items in shared drives."
          }
        },
        "quotaBytesUsed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of storage quota bytes used by the file. This includes the head revision as well as previous revisions with `keepForever` enabled."
          }
        },
        "modifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "he last time the file was modified by anyone (RFC 3339 date-time). Note that setting modifiedTime will also update modifiedByMeTime for the user."
          }
        },
        "copyRequiresWriterPermission": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the options to copy, print, or download this file should be disabled for readers and commenters."
          }
        },
        "inheritedPermissionsDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default."
          }
        },
        "imageMediaMetadata": {
          "target": "com.googleworkspace.drive_v3#FileImageMediaMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Additional metadata about image media, if available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file."
      }
    },
    "com.googleworkspace.drive_v3#PermissionList_": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v3#Permission"
      }
    },
    "com.googleworkspace.drive_v3#FileContentHints": {
      "type": "structure",
      "members": {
        "indexableText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text to be indexed for the file to improve fullText queries. This is limited to 128 KB in length and may contain HTML elements."
          }
        },
        "thumbnail": {
          "target": "com.googleworkspace.drive_v3#FileContentHintsThumbnail",
          "traits": {
            "smithy.api#documentation": "A thumbnail for the file. This will only be used if Google Drive cannot generate a standard thumbnail."
          }
        }
      }
    },
    "com.googleworkspace.drive_v3#FileContentHintsThumbnail": {
      "type": "structure",
      "members": {
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The thumbnail data encoded with URL-safe Base64 ([RFC 4648 section 5](https://datatracker.ietf.org/doc/html/rfc4648#section-5))."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of the thumbnail."
          }
        }
      }
    },
    "com.googleworkspace.drive_v3#FileShortcutDetails": {
      "type": "structure",
      "members": {
        "targetMimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created."
          }
        },
        "targetResourceKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The `resourceKey` for the target file."
          }
        },
        "targetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the file that this shortcut points to. Can only be set on `files.create` requests."
          }
        }
      }
    },
    "com.googleworkspace.drive_v3#FileLinkShareMetadata": {
      "type": "structure",
      "members": {
        "securityUpdateEligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the file is eligible for security update."
          }
        },
        "securityUpdateEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the security update is enabled for this file."
          }
        }
      }
    },
    "com.googleworkspace.drive_v3#FileLabelInfo": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.googleworkspace.drive_v3#LabelList_",
          "traits": {
            "smithy.api#documentation": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned."
          }
        }
      }
    },
    "com.googleworkspace.drive_v3#FileVideoMediaMetadata": {
      "type": "structure",
      "members": {
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The width of the video in pixels."
          }
        },
        "durationMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The duration of the video in milliseconds."
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The height of the video in pixels."
          }
        }
      }
    },
    "com.googleworkspace.drive_v3#ContentRestrictionList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v3#ContentRestriction"
      }
    },
    "com.googleworkspace.drive_v3#FileCapabilities": {
      "type": "structure",
      "members": {
        "canMoveChildrenWithinTeamDrive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only. Use `canMoveChildrenWithinDrive` instead."
          }
        },
        "canMoveChildrenOutOfTeamDrive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only. Use `canMoveChildrenOutOfDrive` instead."
          }
        },
        "canMoveItemWithinDrive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that's being added and the parent that is being removed."
          }
        },
        "canTrash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can move this file to trash."
          }
        },
        "canModifyEditorContentRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted."
          }
        },
        "canMoveItemWithinTeamDrive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only. Use `canMoveItemWithinDrive` instead."
          }
        },
        "canStartApproval": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can start an approval on the file."
          }
        },
        "canMoveTeamDriveItem": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only. Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead."
          }
        },
        "canDisableInheritedPermissions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a user can disable inherited permissions."
          }
        },
        "canModifyContent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can modify the content of this file."
          }
        },
        "canDelete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can delete this file."
          }
        },
        "canAccessViaGenAi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can access this file via Gen AI features. For more information, see [Drive MCP file eligibility](https://developers.google.com/workspace/drive/api/guides/drive-mcp-server-file-eligibility)."
          }
        },
        "canMoveChildrenOutOfDrive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is `false` when the item isn't a folder. Only populated for items in shared drives."
          }
        },
        "canMoveItemOutOfDrive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that's being added."
          }
        },
        "canListChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can list the children of this folder. This is always `false` when the item isn't a folder."
          }
        },
        "canChangeCopyRequiresWriterPermission": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file."
          }
        },
        "canModifyContentRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction`, or `canRemoveContentRestriction`."
          }
        },
        "canDownload": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can download this file."
          }
        },
        "canAddFolderFromAnotherDrive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives."
          }
        },
        "canMoveItemIntoTeamDrive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead."
          }
        },
        "canReadLabels": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can read the labels on the file."
          }
        },
        "canMoveItemOutOfTeamDrive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead."
          }
        },
        "canAddChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can add children to this folder. This is always `false` when the item isn't a folder."
          }
        },
        "canShare": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can modify the sharing settings for this file."
          }
        },
        "canChangeItemDownloadRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can change the owner or organizer-applied download restrictions of the file."
          }
        },
        "canRename": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can rename this file."
          }
        },
        "canAddMyDriveParent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files."
          }
        },
        "canChangeSecurityUpdateEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can change the `securityUpdateEnabled` field on link share metadata."
          }
        },
        "canCopy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item if it's not a folder."
          }
        },
        "canReadTeamDrive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only. Use `canReadDrive` instead."
          }
        },
        "canTrashChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can trash children of this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives."
          }
        },
        "canModifyLabels": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can modify the labels on the file."
          }
        },
        "canRemoveContentRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether there's a content restriction on the file that can be removed by the current user."
          }
        },
        "canMoveChildrenWithinDrive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can move children of this folder within this drive. This is `false` when the item isn't a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder."
          }
        },
        "canAcceptOwnership": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files."
          }
        },
        "canComment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can comment on this file."
          }
        },
        "canReadRevisions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item if it's not a folder, can be read."
          }
        },
        "canChangeViewersCanCopyContent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only."
          }
        },
        "canReadDrive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives."
          }
        },
        "canModifyOwnerContentRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can add or modify content restrictions which are owner restricted."
          }
        },
        "canRemoveMyDriveParent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files."
          }
        },
        "canEdit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`."
          }
        },
        "canUntrash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can restore this file from trash."
          }
        },
        "canRemoveChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can remove children from this folder. This is always `false` when the item isn't a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead."
          }
        },
        "canEnableInheritedPermissions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a user can re-enable inherited permissions."
          }
        },
        "canDeleteChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can delete children of this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives."
          }
        }
      }
    },
    "com.googleworkspace.drive_v3#FileImageMediaMetadata": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The height of the image in pixels."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The date and time the photo was taken (EXIF DateTime)."
          }
        },
        "meteringMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The metering mode used to create the photo."
          }
        },
        "lens": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The lens used to create the photo."
          }
        },
        "focalLength": {
          "target": "smithy.api#Double",
          "traits": {
[...]
