{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.prisma#GetAgentApprovalRequest": {
      "type": "structure",
      "members": {
        "approvalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#GetAgentApprovalResponseStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "APPROVED_WINDOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved_window"
          }
        },
        "DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "denied"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "CONSUMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "consumed"
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetAgentApprovalResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.prisma#GetAgentApprovalResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "windowExpiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "decidedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hint": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#GetAgentApproval": {
      "type": "operation",
      "input": {
        "target": "com.prisma#GetAgentApprovalRequest"
      },
      "output": {
        "target": "com.prisma#GetAgentApprovalResponse"
      },
      "errors": [
        {
          "target": "com.prisma#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/agent-approvals/{approvalId}",
          "code": 200
        },
        "smithy.api#documentation": "Poll an approval\n\nReports where an approval stands, so an agent holding an approval_required response can wait for the sponsor's decision and retry. Only the agent the approval belongs to can read it."
      }
    },
    "com.prisma#GetServicesRequest": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId"
          }
        },
        "logicalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "logicalId"
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "branchId"
          }
        },
        "branchGitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "branchGitName"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#GetServicesResponseDataItemRegion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetServicesResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.prisma#GetServicesResponseDataItemRegion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latestDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "appEndpointDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logicalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetServicesResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.prisma#GetServicesResponseDataItem"
      },
      "traits": {}
    },
    "com.prisma#GetServicesResponsePagination": {
      "type": "structure",
      "members": {
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next cursor to continue pagination",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there are more items to paginate",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetServicesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#GetServicesResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.prisma#GetServicesResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#GetServices": {
      "type": "operation",
      "input": {
        "target": "com.prisma#GetServicesRequest"
      },
      "output": {
        "target": "com.prisma#GetServicesResponse"
      },
      "errors": [
        {
          "target": "com.prisma#Forbidden"
        },
        {
          "target": "com.prisma#NotFound"
        },
        {
          "target": "com.prisma#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/services",
          "code": 200
        },
        "smithy.api#documentation": "List services\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns all services the token has access to, ordered by creation time (oldest first). Optionally filter by project ID. Supports cursor-based pagination."
      }
    },
    "com.prisma#CreateServiceRequestRegionId": {
      "type": "enum",
      "members": {
        "US_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-1"
          }
        },
        "US_WEST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-1"
          }
        },
        "EU_WEST_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-3"
          }
        },
        "EU_CENTRAL_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-1"
          }
        },
        "AP_NORTHEAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-northeast-1"
          }
        },
        "AP_SOUTHEAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-1"
          }
        }
      },
      "traits": {}
    },
    "com.prisma#CreateServiceRequest": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "regionId": {
          "target": "com.prisma#CreateServiceRequestRegionId"
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "branchGitName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logicalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Declared identity of the resource, unique within its branch. Set by the tool that declares the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#CreateServiceResponseDataRegion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#CreateServiceResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.prisma#CreateServiceResponseDataRegion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latestDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "appEndpointDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logicalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#CreateServiceResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#CreateServiceResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#CreateService": {
      "type": "operation",
      "input": {
        "target": "com.prisma#CreateServiceRequest"
      },
      "output": {
        "target": "com.prisma#CreateServiceResponse"
      },
      "errors": [
        {
          "target": "com.prisma#Forbidden"
        },
        {
          "target": "com.prisma#NotFound"
        },
        {
          "target": "com.prisma#Conflict"
        },
        {
          "target": "com.prisma#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/services",
          "code": 200
        },
        "smithy.api#documentation": "Create service\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nCreates a new service under the specified project. The `projectId` is required in the request body. The service is placed in the given region, or the project's default region if omitted (falling back to us-east-1). Returns `409 Conflict` when a service already occupies the slot on the resolved branch, either by name or by `logicalId`; the body includes the existing service's id, name, branch, and logical id, and `conflict` says which attribute clashed. The name is checked first. `logicalId` cannot be combined with `branchGitName`; pass `branchId` instead."
      }
    },
    "com.prisma#GetServiceRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#GetServiceResponseDataRegion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetServiceResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.prisma#GetServiceResponseDataRegion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latestDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "appEndpointDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logicalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetServiceResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#GetServiceResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#GetService": {
      "type": "operation",
      "input": {
        "target": "com.prisma#GetServiceRequest"
      },
      "output": {
        "target": "com.prisma#GetServiceResponse"
      },
      "errors": [
        {
          "target": "com.prisma#Forbidden"
        },
        {
          "target": "com.prisma#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/services/{serviceId}",
          "code": 200
        },
        "smithy.api#documentation": "Get service\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns a service by ID, including its region and active promoted deployment reference."
      }
    },
    "com.prisma#UpdateServiceRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "logicalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Declared identity of the resource, unique within its branch. Set by the tool that declares the resource."
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "branchGitName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#UpdateServiceResponseDataRegion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#UpdateServiceResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.prisma#UpdateServiceResponseDataRegion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latestDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "appEndpointDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logicalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#UpdateServiceResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#UpdateServiceResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#UpdateService": {
      "type": "operation",
      "input": {
        "target": "com.prisma#UpdateServiceRequest"
      },
      "output": {
        "target": "com.prisma#UpdateServiceResponse"
      },
      "errors": [
        {
          "target": "com.prisma#Forbidden"
        },
        {
          "target": "com.prisma#NotFound"
        },
        {
          "target": "com.prisma#Conflict"
        },
        {
          "target": "com.prisma#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/services/{serviceId}",
          "code": 200
        },
        "smithy.api#documentation": "Update service\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nUpdates the display name, logical id, or branch of a service. `logicalId` cannot be combined with `branchId` or `branchGitName` in one request; move the service first, then set its `logicalId`."
      }
    },
    "com.prisma#DeleteServiceRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#DeleteService": {
      "type": "operation",
      "input": {
        "target": "com.prisma#DeleteServiceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.prisma#Forbidden"
        },
        {
          "target": "com.prisma#NotFound"
        },
        {
          "target": "com.prisma#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/services/{serviceId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete service\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nDeletes a service. Deployments under the service are deleted before the service is deleted."
      }
    },
    "com.prisma#CreateServicePromoteRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "deploymentId": {
          "target": "smithy.api#String"
        },
        "versionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use `deploymentId` instead. Ignored when `deploymentId` is also present."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#CreateServicePromoteResponseData": {
      "type": "structure",
      "members": {
        "appEndpointDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reassignedDomains": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#CreateServicePromoteResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#CreateServicePromoteResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#CreateServicePromote": {
      "type": "operation",
      "input": {
        "target": "com.prisma#CreateServicePromoteRequest"
      },
      "output": {
        "target": "com.prisma#CreateServicePromoteResponse"
      },
      "errors": [
        {
          "target": "com.prisma#Forbidden"
        },
        {
          "target": "com.prisma#NotFound"
        },
        {
          "target": "com.prisma#Conflict"
        },
        {
          "target": "com.prisma#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/services/{serviceId}/promote",
          "code": 200
        },
        "smithy.api#documentation": "Promote deployment\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nPromotes a deployment to be the active deployment behind the service's stable endpoint. The deployment must be running. Returns the service endpoint domain."
      }
    },
    "com.prisma#CreateServiceRollbackRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "deploymentId": {
          "target": "smithy.api#String"
        },
        "versionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use `deploymentId` instead. Ignored when `deploymentId` is also present."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#CreateServiceRollbackResponseData": {
      "type": "structure",
      "members": {
        "appEndpointDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reassignedDomains": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#CreateServiceRollbackResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#CreateServiceRollbackResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#CreateServiceRollback": {
      "type": "operation",
      "input": {
        "target": "com.prisma#CreateServiceRollbackRequest"
      },
      "output": {
        "target": "com.prisma#CreateServiceRollbackResponse"
      },
      "errors": [
        {
          "target": "com.prisma#Forbidden"
        },
        {
          "target": "com.prisma#NotFound"
        },
        {
          "target": "com.prisma#Conflict"
        },
        {
          "target": "com.prisma#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/services/{serviceId}/rollback",
          "code": 200
        },
        "smithy.api#documentation": "Roll a service back to an existing deployment\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nMakes any eligible existing deployment live behind the service's stable endpoint (rollback or roll-forward). Unlike promote, a stopped target is started and waited until it is running before the endpoint is switched, so the currently-live deployment keeps serving with zero downtime. Returns the service endpoint domain."
      }
    },
    "com.prisma#GetServiceDomainsRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#GetServiceDomainsResponseDataItemStatus": {
      "type": "enum",
      "members": {
        "PENDING_DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_dns"
          }
        },
        "VERIFYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verifying"
          }
        },
        "VERIFIED_ROUTING_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified_routing_blocked"
          }
        },
        "PROVISIONING_TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning_tls"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "REMOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removing"
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetServiceDomainsResponseDataItemFailureCategory": {
      "type": "enum",
      "members": {
        "DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns"
          }
        },
        "ACME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acme"
          }
        },
        "STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storage"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetServiceDomainsResponseDataItemDnsRecordsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetServiceDomainsResponseDataItemDnsRecordsList": {
      "type": "list",
      "member": {
        "target": "com.prisma#GetServiceDomainsResponseDataItemDnsRecordsItem"
      },
      "traits": {}
    },
    "com.prisma#GetServiceDomainsResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "computeServiceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use `appId` instead.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.prisma#GetServiceDomainsResponseDataItemStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "foundryStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "failureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "failureCategory": {
          "target": "com.prisma#GetServiceDomainsResponseDataItemFailureCategory",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "certExpiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dnsRecords": {
          "target": "com.prisma#GetServiceDomainsResponseDataItemDnsRecordsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetServiceDomainsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.prisma#GetServiceDomainsResponseDataItem"
      },
      "traits": {}
    },
    "com.prisma#GetServiceDomainsResponsePagination": {
      "type": "structure",
      "members": {
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "nextCursor": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetServiceDomainsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#GetServiceDomainsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.prisma#GetServiceDomainsResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#GetServiceDomains": {
      "type": "operation",
      "input": {
        "target": "com.prisma#GetServiceDomainsRequest"
      },
      "output": {
        "target": "com.prisma#GetServiceDomainsResponse"
      },
      "errors": [
        {
          "target": "com.prisma#Forbidden"
        },
        {
          "target": "com.prisma#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/services/{serviceId}/domains",
          "code": 200
        },
        "smithy.api#documentation": "List custom domains for a service\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns all custom domains attached to any deployment of the service. Domains are aggregated across all deployments since Foundry lists per deployment."
      }
    },
    "com.prisma#CreateServiceDomainRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#CreateServiceDomainResponseDataStatus": {
      "type": "enum",
      "members": {
        "PENDING_DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_dns"
          }
        },
        "VERIFYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verifying"
          }
        },
        "VERIFIED_ROUTING_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified_routing_blocked"
          }
        },
        "PROVISIONING_TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning_tls"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "REMOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removing"
          }
        }
      },
      "traits": {}
    },
    "com.prisma#CreateServiceDomainResponseDataFailureCategory": {
      "type": "enum",
      "members": {
        "DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns"
          }
        },
        "ACME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acme"
          }
        },
        "STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storage"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.prisma#CreateServiceDomainResponseDataDnsRecordsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#CreateServiceDomainResponseDataDnsRecordsList": {
      "type": "list",
      "member": {
        "target": "com.prisma#CreateServiceDomainResponseDataDnsRecordsItem"
      },
      "traits": {}
    },
    "com.prisma#CreateServiceDomainResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "computeServiceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use `appId` instead.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.prisma#CreateServiceDomainResponseDataStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "foundryStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "failureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "failureCategory": {
          "target": "com.prisma#CreateServiceDomainResponseDataFailureCategory",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "certExpiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dnsRecords": {
          "target": "com.prisma#CreateServiceDomainResponseDataDnsRecordsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#CreateServiceDomainResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#CreateServiceDomainResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#CreateServiceDomain": {
      "type": "operation",
      "input": {
        "target": "com.prisma#CreateServiceDomainRequest"
      },
      "output": {
        "target": "com.prisma#CreateServiceDomainResponse"
      },
      "errors": [
        {
          "target": "com.prisma#BadRequest"
        },
        {
          "target": "com.prisma#Forbidden"
        },
        {
          "target": "com.prisma#NotFound"
        },
        {
          "target": "com.prisma#Conflict"
        },
        {
          "target": "com.prisma#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/services/{serviceId}/domains",
          "code": 200
        },
        "smithy.api#documentation": "Create a custom domain\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nRegisters a custom hostname for the service. The hostname must CNAME to the regional switchboard target before DNS verification can succeed. Returns 429 if the service has reached its domain quota (default: 3)."
      }
    },
    "com.prisma#GetServiceDeploymentsRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#GetServiceDeploymentsResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "foundryVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetServiceDeploymentsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.prisma#GetServiceDeploymentsResponseDataItem"
      },
      "traits": {}
    },
    "com.prisma#GetServiceDeploymentsResponsePagination": {
      "type": "structure",
      "members": {
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next cursor to continue pagination",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there are more items to paginate",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetServiceDeploymentsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#GetServiceDeploymentsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.prisma#GetServiceDeploymentsResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#GetServiceDeployments": {
      "type": "operation",
      "input": {
        "target": "com.prisma#GetServiceDeploymentsRequest"
      },
      "output": {
        "target": "com.prisma#GetServiceDeploymentsResponse"
      },
      "errors": [
        {
          "target": "com.prisma#Forbidden"
        },
        {
          "target": "com.prisma#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/services/{serviceId}/deployments",
          "code": 200
        },
        "smithy.api#documentation": "List deployments\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns all deployments belonging to a service, ordered by creation time (newest first). Supports cursor-based pagination."
      }
    },
    "com.prisma#CreateServiceDeploymentRequestPortMapping": {
      "type": "structure",
      "members": {
        "http": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#CreateServiceDeploymentRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "portMapping": {
          "target": "com.prisma#CreateServiceDeploymentRequestPortMapping"
        },
        "skipCodeUpload": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#CreateServiceDeploymentResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "foundryVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "uploadUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#CreateServiceDeploymentResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#CreateServiceDeploymentResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#CreateServiceDeployment": {
      "type": "operation",
      "input": {
        "target": "com.prisma#CreateServiceDeploymentRequest"
      },
      "output": {
        "target": "com.prisma#CreateServiceDeploymentResponse"
      },
      "errors": [
        {
          "target": "com.prisma#Forbidden"
        },
        {
          "target": "com.prisma#NotFound"
        },
        {
          "target": "com.prisma#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/services/{serviceId}/deployments",
          "code": 200
        },
        "smithy.api#documentation": "Create deployment\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nCreates a new deployment under the specified service. Returns a pre-signed upload URL for the artifact unless `skipCodeUpload` is set (which forks the active promoted deployment's artifact). Environment variables are resolved automatically from the service's attached Branch (production-class templates for the production Branch; preview-class templates for preview Branches). Manage env vars via the `/v1/environment-variables` endpoints, not as part of the deploy payload."
      }
    },
    "com.prisma#GetProjectBranchesRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "gitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "gitName"
          }
        },
        "gitNameContains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "gitNameContains"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#GetProjectBranchesResponseDataItemRole": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetProjectBranchesResponseDataItemProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/apps?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\")."
      }
    },
    "com.prisma#GetProjectBranchesResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.prisma#GetProjectBranchesResponseDataItemRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma#GetProjectBranchesResponseDataItemProject",
          "traits": {
            "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/apps?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\").",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetProjectBranchesResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.prisma#GetProjectBranchesResponseDataItem"
      },
      "traits": {}
    },
    "com.prisma#GetProjectBranchesResponsePagination": {
      "type": "structure",
      "members": {
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetProjectBranchesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#GetProjectBranchesResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.prisma#GetProjectBranchesResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#GetProjectBranches": {
      "type": "operation",
      "input": {
        "target": "com.prisma#GetProjectBranchesRequest"
      },
      "output": {
        "target": "com.prisma#GetProjectBranchesResponse"
      },
      "errors": [
        {
          "target": "com.prisma#NotFound"
        },
        {
          "target": "com.prisma#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/branches",
          "code": 200
        },
        "smithy.api#documentation": "List branches in a project\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns the live Branches of a Project. Supports two mutually exclusive filters: ?gitName= (exact match — at most one row), ?gitNameContains= (case-sensitive substring). Soft-deleted Branches are not returned. Ordered by createdAt ascending."
      }
    },
    "com.prisma#CreateProjectBranchRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "gitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#CreateProjectBranchResponseDataRole": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      },
      "traits": {}
    },
    "com.prisma#CreateProjectBranchResponseDataProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/apps?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\")."
      }
    },
    "com.prisma#CreateProjectBranchResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.prisma#CreateProjectBranchResponseDataRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma#CreateProjectBranchResponseDataProject",
          "traits": {
            "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/apps?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\").",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#CreateProjectBranchResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#CreateProjectBranchResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#CreateProjectBranch": {
      "type": "operation",
      "input": {
        "target": "com.prisma#CreateProjectBranchRequest"
      },
      "output": {
        "target": "com.prisma#CreateProjectBranchResponse"
      },
      "errors": [
        {
          "target": "com.prisma#NotFound"
        },
        {
          "target": "com.prisma#Conflict"
        },
        {
          "target": "com.prisma#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/projects/{projectId}/branches",
          "code": 200
        },
        "smithy.api#documentation": "Create a branch\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nCreates a Branch under the specified Project. The first Branch in a Project is always created with isDefault=true and role=production regardless of the body value. Later Branches are created with role=preview. Setting isDefault=true while another Branch already holds the default atomically swaps the default flag only."
      }
    },
    "com.prisma#GetBranchRequest": {
      "type": "structure",
      "members": {
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#GetBranchResponseDataRole": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetBranchResponseDataProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/apps?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\")."
      }
    },
    "com.prisma#GetBranchResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.prisma#GetBranchResponseDataRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma#GetBranchResponseDataProject",
          "traits": {
            "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/apps?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\").",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetBranchResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#GetBranchResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#GetBranch": {
      "type": "operation",
      "input": {
        "target": "com.prisma#GetBranchRequest"
      },
      "output": {
        "target": "com.prisma#GetBranchResponse"
      },
      "errors": [
        {
          "target": "com.prisma#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/branches/{branchId}",
          "code": 200
        },
        "smithy.api#documentation": "Get a branch\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns a single Branch by ID. Member resources are not inlined — list them via /v1/databases?branchId= and /v1/apps?branchId=."
      }
    },
    "com.prisma#UpdateBranchRequest": {
      "type": "structure",
      "members": {
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#UpdateBranchResponseDataRole": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      },
      "traits": {}
    },
    "com.prisma#UpdateBranchResponseDataProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/apps?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\")."
      }
    },
    "com.prisma#UpdateBranchResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.prisma#UpdateBranchResponseDataRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma#UpdateBranchResponseDataProject",
          "traits": {
            "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/apps?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\").",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#UpdateBranchResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#UpdateBranchResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#UpdateBranch": {
      "type": "operation",
      "input": {
        "target": "com.prisma#UpdateBranchRequest"
      },
      "output": {
        "target": "com.prisma#UpdateBranchResponse"
      },
      "errors": [
        {
          "target": "com.prisma#NotFound"
        },
        {
          "target": "com.prisma#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/branches/{branchId}",
          "code": 200
        },
        "smithy.api#documentation": "Update a branch\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nPromotes a Branch to be the Project's default. Only isDefault is mutable — gitName rename and role changes are rejected."
      }
    },
    "com.prisma#DeleteBranchRequest": {
      "type": "structure",
      "members": {
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#DeleteBranch": {
      "type": "operation",
      "input": {
        "target": "com.prisma#DeleteBranchRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.prisma#NotFound"
        },
        {
          "target": "com.prisma#Conflict"
        },
        {
          "target": "com.prisma#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/branches/{branchId}",
          "code": 200
        },
        "smithy.api#documentation": "Soft-delete a branch\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nSoft-deletes a Branch (sets deletedAt). Refuses if the Branch is the Project's current default, the Project's production Branch, or has live members."
      }
    },
    "com.prisma#GetBucketsRequest": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId"
          }
        },
        "logicalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "logicalId"
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "branchId"
          }
        },
        "branchGitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "branchGitName"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#GetBucketsResponseDataItemProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetBucketsResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma#GetBucketsResponseDataItemProject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "logicalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetBucketsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.prisma#GetBucketsResponseDataItem"
      },
      "traits": {}
    },
    "com.prisma#GetBucketsResponsePagination": {
      "type": "structure",
      "members": {
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next cursor to continue pagination",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there are more items to paginate",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetBucketsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#GetBucketsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.prisma#GetBucketsResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#GetBuckets": {
      "type": "operation",
      "input": {
        "target": "com.prisma#GetBucketsRequest"
      },
      "output": {
        "target": "com.prisma#GetBucketsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/buckets",
          "code": 200
        },
        "smithy.api#documentation": "List buckets\n\nReturns all object-store buckets the token has access to. Optionally filter by project ID."
      }
    },
    "com.prisma#CreateBucketRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the project to create the bucket in",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the bucket. Generated if omitted."
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the branch to associate the bucket with. Mutually exclusive with branchGitName."
          }
        },
        "branchGitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git name of the branch to associate the bucket with. Mutually exclusive with branchId."
          }
        },
        "logicalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Declared identity of the resource, unique within its branch. Set by the tool that declares the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#CreateBucketResponseDataProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#CreateBucketResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma#CreateBucketResponseDataProject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "logicalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#CreateBucketResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#CreateBucketResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#CreateBucket": {
      "type": "operation",
      "input": {
        "target": "com.prisma#CreateBucketRequest"
      },
      "output": {
        "target": "com.prisma#CreateBucketResponse"
      },
      "errors": [
        {
          "target": "com.prisma#BadRequest"
        },
        {
          "target": "com.prisma#Forbidden"
        },
        {
          "target": "com.prisma#NotFound"
        },
        {
          "target": "com.prisma#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/buckets",
          "code": 200
        },
        "smithy.api#documentation": "Create bucket\n\nCreates a new object-store bucket in the specified project."
      }
    },
    "com.prisma#GetBucketRequest": {
      "type": "structure",
      "members": {
        "bucketId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#GetBucketResponseDataProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetBucketResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma#GetBucketResponseDataProject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "logicalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetBucketResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#GetBucketResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#GetBucket": {
      "type": "operation",
      "input": {
        "target": "com.prisma#GetBucketRequest"
      },
      "output": {
        "target": "com.prisma#GetBucketResponse"
      },
      "errors": [
        {
          "target": "com.prisma#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/buckets/{bucketId}",
          "code": 200
        },
        "smithy.api#documentation": "Get bucket\n\nReturns the bucket with the given ID."
      }
    },
    "com.prisma#UpdateBucketRequest": {
      "type": "structure",
      "members": {
        "bucketId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New display name for the bucket. A label only: the provider bucket name does not change."
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the branch to move the bucket to. Mutually exclusive with branchGitName."
          }
        },
        "branchGitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git name of the branch to move the bucket to; the branch is created when it does not exist. Mutually exclusive with branchId."
          }
        },
        "logicalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Declared identity of the resource, unique within its branch. Set by the tool that declares the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#UpdateBucketResponseDataProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#UpdateBucketResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma#UpdateBucketResponseDataProject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "logicalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#UpdateBucketResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#UpdateBucketResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#UpdateBucket": {
      "type": "operation",
      "input": {
        "target": "com.prisma#UpdateBucketRequest"
      },
      "output": {
        "target": "com.prisma#UpdateBucketResponse"
      },
      "errors": [
        {
          "target": "com.prisma#NotFound"
        },
        {
          "target": "com.prisma#Conflict"
        },
        {
          "target": "com.prisma#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/buckets/{bucketId}",
          "code": 200
        },
        "smithy.api#documentation": "Update bucket\n\nUpdates the display name, logical id, or branch of the bucket with the given ID. The display name is a label only: the provider bucket name, the objects, and the access keys do not change. `logicalId` cannot be combined with `branchId` or `branchGitName` in one request; move the bucket first, then set its `logicalId`."
      }
    },
    "com.prisma#DeleteBucketRequest": {
      "type": "structure",
      "members": {
        "bucketId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#DeleteBucket": {
      "type": "operation",
      "input": {
        "target": "com.prisma#DeleteBucketRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.prisma#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/buckets/{bucketId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete bucket\n\nPermanently deletes the bucket with the given ID, all objects stored in it, and all its access keys. This action cannot be undone."
      }
    },
    "com.prisma#GetBucketKeysRequest": {
      "type": "structure",
      "members": {
        "bucketId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#GetBucketKeysResponseDataItemRole": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read_write"
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetBucketKeysResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "valueHint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.prisma#GetBucketKeysResponseDataItemRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetBucketKeysResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.prisma#GetBucketKeysResponseDataItem"
      },
      "traits": {}
    },
    "com.prisma#GetBucketKeysResponsePagination": {
      "type": "structure",
      "members": {
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next cursor to continue pagination",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there are more items to paginate",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma#GetBucketKeysResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma#GetBucketKeysResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.prisma#GetBucketKeysResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma#GetBucketKeys": {
      "type": "operation",
      "input": {
        "target": "com.prisma#GetBucketKeysRequest"
      },
      "output": {
        "target": "com.prisma#GetBucketKeysResponse"
      },
      "errors": [
        {
          "target": "com.prisma#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/buckets/{bucketId}/keys",
          "code": 200
        },
        "smithy.api#documentation": "List bucket keys\n\nReturns all access keys for the given bucket."
      }
    },
    "com.prisma#CreateBucketKeyRequestRole": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read_write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Access role for the key: \"read\" or \"read_write\"."
      }
    },
    "com.prisma#CreateBucketKeyRequest": {
      "type": "structure",
      "members": {
        "bucketId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the key. Generated if omitted."
          }
        },
        "role": {
          "target": "com.prisma#CreateBucketKeyRequestRole",
          "traits": {
            "smithy.api#documentation": "Access role for the key: \"read\" or \"read_write\".",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma#CreateBucketKeyResponseDataRole": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read_write"
          }
        }
      },
      "traits": {}
    },
    "com.prisma#CreateBucketKeyResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "valueHint": {
[...]
