{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.slack.canvases#DeleteAccessRequestChannelIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of channels you wish to update access for"
      }
    },
    "com.slack.canvases#DeleteAccessRequestUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of users you wish to update access for"
      }
    },
    "com.slack.canvases#DeleteAccessRequest": {
      "type": "structure",
      "members": {
        "canvas_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the canvas",
            "smithy.api#required": {}
          }
        },
        "channel_ids": {
          "target": "com.slack.canvases#DeleteAccessRequestChannelIdsList",
          "traits": {
            "smithy.api#documentation": "List of channels you wish to update access for"
          }
        },
        "user_ids": {
          "target": "com.slack.canvases#DeleteAccessRequestUserIdsList",
          "traits": {
            "smithy.api#documentation": "List of users you wish to update access for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.canvases#DeleteAccessResponseFailedToUpdateChannelIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The channel IDs that could not be updated"
      }
    },
    "com.slack.canvases#DeleteAccessResponseFailedToUpdateUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The user IDs that could not be updated"
      }
    },
    "com.slack.canvases#DeleteAccessResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "failed_to_update_channel_ids": {
          "target": "com.slack.canvases#DeleteAccessResponseFailedToUpdateChannelIdsList",
          "traits": {
            "smithy.api#documentation": "The channel IDs that could not be updated"
          }
        },
        "failed_to_update_user_ids": {
          "target": "com.slack.canvases#DeleteAccessResponseFailedToUpdateUserIdsList",
          "traits": {
            "smithy.api#documentation": "The user IDs that could not be updated"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.canvases#DeleteAccess": {
      "type": "operation",
      "input": {
        "target": "com.slack.canvases#DeleteAccessRequest"
      },
      "output": {
        "target": "com.slack.canvases#DeleteAccessResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/canvases.access.delete",
          "code": 200
        },
        "smithy.api#documentation": "Remove access to a canvas for specified entities\n\nRequired scopes — bot: `canvases:write`; user: `canvases:write`\n\nRate limit tier: 3\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `canvas_not_found` — The canvas you wish to revoke permissions for is not available.\n  - `restricted_action` — User does not have permission to perform this action.\n  - `canvas_disabled_user_team` — Canvas is disabled on user's team.\n  - `invalid_parameters` — One of user_ids and channel_ids must be defined.\n  - `channel_not_found` — A channel could not be found.\n  - `user_not_found` — A user could not be found.\n\nSee https://docs.slack.dev/reference/methods/canvases.access.delete"
      }
    },
    "com.slack.canvases#SetAccessRequestChannelIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of channels you wish to update access for. Can only be used if user_ids is not provided."
      }
    },
    "com.slack.canvases#SetAccessRequestUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of users you wish to update access for. Can only be used if channel_ids is not provided."
      }
    },
    "com.slack.canvases#SetAccessRequest": {
      "type": "structure",
      "members": {
        "canvas_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the canvas",
            "smithy.api#required": {}
          }
        },
        "access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Desired level of access",
            "smithy.api#required": {}
          }
        },
        "channel_ids": {
          "target": "com.slack.canvases#SetAccessRequestChannelIdsList",
          "traits": {
            "smithy.api#documentation": "List of channels you wish to update access for. Can only be used if user_ids is not provided."
          }
        },
        "user_ids": {
          "target": "com.slack.canvases#SetAccessRequestUserIdsList",
          "traits": {
            "smithy.api#documentation": "List of users you wish to update access for. Can only be used if channel_ids is not provided."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.canvases#SetAccessResponseFailedToUpdateChannelIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The channel IDs that could not be updated"
      }
    },
    "com.slack.canvases#SetAccessResponseFailedToUpdateUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The user IDs that could not be updated"
      }
    },
    "com.slack.canvases#SetAccessResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "failed_to_update_channel_ids": {
          "target": "com.slack.canvases#SetAccessResponseFailedToUpdateChannelIdsList",
          "traits": {
            "smithy.api#documentation": "The channel IDs that could not be updated"
          }
        },
        "failed_to_update_user_ids": {
          "target": "com.slack.canvases#SetAccessResponseFailedToUpdateUserIdsList",
          "traits": {
            "smithy.api#documentation": "The user IDs that could not be updated"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.canvases#SetAccess": {
      "type": "operation",
      "input": {
        "target": "com.slack.canvases#SetAccessRequest"
      },
      "output": {
        "target": "com.slack.canvases#SetAccessResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/canvases.access.set",
          "code": 200
        },
        "smithy.api#documentation": "Sets the access level to a canvas for specified entities\n\nRequired scopes — bot: `canvases:write`; user: `canvases:write`\n\nRate limit tier: 3\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `canvas_disabled_user_team` — Canvas is disabled on user's team\n  - `canvas_not_found` — The canvas you wish to update permissions for is not available.\n  - `channel_not_found` — A channel could not be found.\n  - `failed_to_update_user_ids` — Failed to update the specified user_ids.\n  - `invalid_parameters` — One of user_ids or channel_ids must be defined, but not both.\n  - `restricted_action` — User does not have permission to perform this action.\n  - `user_not_found` — A user could not be found.\n\nSee https://docs.slack.dev/reference/methods/canvases.access.set"
      }
    },
    "com.slack.canvases#CreateCanvaseRequest": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the newly created canvas"
          }
        },
        "document_content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Structure describing the type and value of the content to create. The markdown content is limited to 1 MiB (1,048,576 characters)."
          }
        },
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Channel ID of the channel the canvas will be tabbed in. This is a required field for free teams."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.canvases#CreateCanvaseResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "canvas_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the canvas",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.canvases#CreateCanvase": {
      "type": "operation",
      "input": {
        "target": "com.slack.canvases#CreateCanvaseRequest"
      },
      "output": {
        "target": "com.slack.canvases#CreateCanvaseResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/canvases.create",
          "code": 200
        },
        "smithy.api#documentation": "Create canvas for a user\n\nRequired scopes — bot: `canvases:write`; user: `canvases:write`; seamless_user: `seamless.user`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `canvas_disabled_user_team` — Canvas is disabled on user's team\n  - `restricted_action` — User does not have permission to perform this action.\n  - `canvas_creation_failed` — Canvas was unable to be created.\n  - `free_team_canvas_tab_already_exists` — Free teams are limited to one canvas tab per channel\n  - `free_teams_cannot_create_standalone_canvases` — Free teams cannot create standalone canvases\n\nSee https://docs.slack.dev/reference/methods/canvases.create"
      }
    },
    "com.slack.canvases#DeleteCanvaseRequest": {
      "type": "structure",
      "members": {
        "canvas_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the canvas",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.canvases#DeleteCanvaseResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.canvases#DeleteCanvase": {
      "type": "operation",
      "input": {
        "target": "com.slack.canvases#DeleteCanvaseRequest"
      },
      "output": {
        "target": "com.slack.canvases#DeleteCanvaseResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/canvases.delete",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a canvas\n\nRequired scopes — bot: `canvases:write`; user: `canvases:write`\n\nRate limit tier: 3\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `canvas_deleting_disabled` — This functionality is disabled.\n  - `canvas_not_found` — The canvas does not exist, or is not visible to the calling user.\n  - `restricted_action` — User does not have permission to perform this action.\n\nSee https://docs.slack.dev/reference/methods/canvases.delete"
      }
    },
    "com.slack.canvases#EditCanvaseRequestChangesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "List of changes to apply on the specified canvas. The markdown content of each change is limited to 1 MiB (1,048,576 characters)."
      }
    },
    "com.slack.canvases#EditCanvaseRequest": {
      "type": "structure",
      "members": {
        "canvas_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the canvas",
            "smithy.api#required": {}
          }
        },
        "changes": {
          "target": "com.slack.canvases#EditCanvaseRequestChangesList",
          "traits": {
            "smithy.api#documentation": "List of changes to apply on the specified canvas. The markdown content of each change is limited to 1 MiB (1,048,576 characters).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.canvases#EditCanvaseResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.canvases#EditCanvase": {
      "type": "operation",
      "input": {
        "target": "com.slack.canvases#EditCanvaseRequest"
      },
      "output": {
        "target": "com.slack.canvases#EditCanvaseResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/canvases.edit",
          "code": 200
        },
        "smithy.api#documentation": "Update an existing canvas\n\nRequired scopes — bot: `canvases:write`; user: `canvases:write`; seamless_user: `seamless.user`\n\nRate limit tier: 3\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `canvas_not_found` — The canvas you wish to apply changes to is not available.\n  - `canvas_disabled_user_team` — Canvas is disabled on user's team\n  - `free_teams_cannot_edit_standalone_canvases` — Free teams cannot edit standalone canvases\n  - `restricted_action` — User does not have permission to perform this action.\n  - `canvas_editing_failed` — The changes to the canvas failed to be applied.\n  - `canvas_editing_locked` — Another edit to this canvas is currently in progress. Please retry after a short delay.\n  - `canvas_too_large` — The canvas is too large to apply the requested changes. Reduce the size of the canvas or the edit and try again.\n\nSee https://docs.slack.dev/reference/methods/canvases.edit"
      }
    },
    "com.slack.canvases#GetContentRequestContentType": {
      "type": "enum",
      "members": {
        "HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "html"
          }
        },
        "MARKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "markdown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Format in which to return the canvas content. Defaults to markdown."
      }
    },
    "com.slack.canvases#GetContentRequest": {
      "type": "structure",
      "members": {
        "canvas_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the canvas",
            "smithy.api#required": {}
          }
        },
        "content_type": {
          "target": "com.slack.canvases#GetContentRequestContentType",
          "traits": {
            "smithy.api#documentation": "Format in which to return the canvas content. Defaults to markdown."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.canvases#GetContentResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the canvas in the requested content_type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.canvases#GetContent": {
      "type": "operation",
      "input": {
        "target": "com.slack.canvases#GetContentRequest"
      },
      "output": {
        "target": "com.slack.canvases#GetContentResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/canvases.getContent",
          "code": 200
        },
        "smithy.api#documentation": "Get the content of a canvas as markdown (default) or HTML.\n\nRequired scopes — bot: `canvases:read`; user: `canvases:read`\n\nRate limit tier: 3\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `canvas_disabled_user_team` — Canvas is disabled on user's team\n  - `canvas_not_found` — The canvas does not exist, or is not visible to the calling user.\n\nSee https://docs.slack.dev/reference/methods/canvases.getContent"
      }
    },
    "com.slack.canvases#LookupSectionRequest": {
      "type": "structure",
      "members": {
        "canvas_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the canvas",
            "smithy.api#required": {}
          }
        },
        "criteria": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Filtering criteria",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.canvases#LookupSectionResponseSectionsItemChildSectionIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "IDs of child sections within a layout container (blockquote, callout, flexbox, or table)."
      }
    },
    "com.slack.canvases#LookupSectionResponseSectionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "child_section_ids": {
          "target": "com.slack.canvases#LookupSectionResponseSectionsItemChildSectionIdsList",
          "traits": {
            "smithy.api#documentation": "IDs of child sections within a layout container (blockquote, callout, flexbox, or table)."
          }
        }
      },
      "traits": {}
    },
    "com.slack.canvases#LookupSectionResponseSectionsList": {
      "type": "list",
      "member": {
        "target": "com.slack.canvases#LookupSectionResponseSectionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Sections in the canvas that match the provided criteria"
      }
    },
    "com.slack.canvases#LookupSectionResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "sections": {
          "target": "com.slack.canvases#LookupSectionResponseSectionsList",
          "traits": {
            "smithy.api#documentation": "Sections in the canvas that match the provided criteria",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.canvases#LookupSection": {
      "type": "operation",
      "input": {
        "target": "com.slack.canvases#LookupSectionRequest"
      },
      "output": {
        "target": "com.slack.canvases#LookupSectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/canvases.sections.lookup",
          "code": 200
        },
        "smithy.api#documentation": "Find sections matching the provided criteria\n\nRequired scopes — bot: `canvases:read`; user: `canvases:read`\n\nRate limit tier: 3\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `canvas_deleted` — The canvas you wish to search is not available.\n  - `canvas_disabled_user_team` — Canvas is disabled on user's team.\n  - `canvas_not_found` — The canvas you wish to search for is not available.\n  - `internal_error` — Something went wrong on our end, please try again.\n\nSee https://docs.slack.dev/reference/methods/canvases.sections.lookup"
      }
    },
    "com.slack.canvases#Canvases": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.slack.canvases#DeleteAccess"
        },
        {
          "target": "com.slack.canvases#SetAccess"
        },
        {
          "target": "com.slack.canvases#CreateCanvase"
        },
        {
          "target": "com.slack.canvases#DeleteCanvase"
        },
        {
          "target": "com.slack.canvases#EditCanvase"
        },
        {
          "target": "com.slack.canvases#GetContent"
        },
        {
          "target": "com.slack.canvases#LookupSection"
        }
      ],
      "traits": {
        "smithy.api#title": "Slack Web API — canvases"
      }
    }
  }
}
