{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.agentclientprotocol.acp#RequestId": {
      "type": "union",
      "members": {
        "Number": {
          "target": "smithy.api#Integer"
        },
        "Str": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON RPC Request Id\n\nAn identifier established by the Client that MUST contain a String, Number, or NULL value if included. If it is not included it is assumed to be a notification. The value SHOULD normally not be Null \\[1\\] and Numbers SHOULD NOT contain fractional parts \\[2\\]\n\nThe Server MUST reply with the same value in the Response object if included. This member is used to correlate the context between the two objects.\n\n\\[1\\] The use of Null as a value for the id member in a Request object is discouraged, because this specification uses a value of Null for Responses with an unknown id. Also, because JSON-RPC 1.0 uses an id value of Null for Notifications this could cause confusion in handling.\n\n\\[2\\] Fractional parts may be problematic, since many decimal fractions cannot be represented exactly as binary fractions."
      }
    },
    "com.agentclientprotocol.acp#CancelRequestRequestMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#CancelRequestRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.agentclientprotocol.acp#RequestId",
          "traits": {
            "smithy.api#documentation": "The ID of the request to cancel.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#CancelRequestRequestMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.agentclientprotocol.acp#CancelRequest": {
      "type": "operation",
      "input": {
        "target": "com.agentclientprotocol.acp#CancelRequestRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#documentation": "Notification to cancel an ongoing request.\n\nSee protocol docs: [Cancellation](https://agentclientprotocol.com/protocol/cancellation)",
        "com.distilled.jsonrpc#method": "$/cancel_request",
        "com.distilled.jsonrpc#notification": {}
      }
    },
    "com.agentclientprotocol.acp#CancelRequestReceivedRequestMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#CancelRequestReceivedRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.agentclientprotocol.acp#RequestId",
          "traits": {
            "smithy.api#documentation": "The ID of the request to cancel.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#CancelRequestReceivedRequestMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.agentclientprotocol.acp#CancelRequestReceived": {
      "type": "operation",
      "input": {
        "target": "com.agentclientprotocol.acp#CancelRequestReceivedRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#documentation": "Notification to cancel an ongoing request.\n\nSee protocol docs: [Cancellation](https://agentclientprotocol.com/protocol/cancellation)",
        "com.distilled.jsonrpc#method": "$/cancel_request",
        "com.distilled.jsonrpc#notification": {},
        "com.distilled.jsonrpc#inbound": {}
      }
    },
    "com.agentclientprotocol.acp#AuthenticateRequestMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#AuthenticateRequest": {
      "type": "structure",
      "members": {
        "methodId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the authentication method to use.\nMust be one of the methods advertised in the initialize response.",
            "smithy.api#required": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#AuthenticateRequestMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.agentclientprotocol.acp#AuthenticateResponse": {
      "type": "structure",
      "members": {
        "_meta": {
          "target": "com.agentclientprotocol.acp#AuthenticateResponseMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to the `authenticate` method."
      }
    },
    "com.agentclientprotocol.acp#AuthenticateResponseMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#Authenticate": {
      "type": "operation",
      "input": {
        "target": "com.agentclientprotocol.acp#AuthenticateRequest"
      },
      "output": {
        "target": "com.agentclientprotocol.acp#AuthenticateResponse"
      },
      "traits": {
        "smithy.api#documentation": "Request parameters for the authenticate method.\n\nSpecifies which authentication method to use.",
        "com.distilled.jsonrpc#method": "authenticate"
      }
    },
    "com.agentclientprotocol.acp#ElicitationCompleteRequestMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#ElicitationCompleteRequest": {
      "type": "structure",
      "members": {
        "elicitationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the elicitation that completed.",
            "smithy.api#required": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#ElicitationCompleteRequestMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.agentclientprotocol.acp#ElicitationComplete": {
      "type": "operation",
      "input": {
        "target": "com.agentclientprotocol.acp#ElicitationCompleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#documentation": "Notification sent by the agent when a URL-based elicitation is complete.",
        "com.distilled.jsonrpc#method": "elicitation/complete",
        "com.distilled.jsonrpc#notification": {},
        "com.distilled.jsonrpc#inbound": {}
      }
    },
    "com.agentclientprotocol.acp#CreateElicitationRequest": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.agentclientprotocol.acp#CreateElicitationRequestCase0"
        },
        "Case1": {
          "target": "com.agentclientprotocol.acp#CreateElicitationRequestCase1"
        },
        "Other": {
          "target": "com.agentclientprotocol.acp#CreateElicitationRequestOther"
        }
      },
      "traits": {
        "smithy.api#documentation": "Request from the agent to elicit structured user input.\n\nThe agent sends this to the client to request information from the user,\neither via a form or by directing them to a URL.\nElicitations are tied to a session (optionally a tool call) or a request."
      }
    },
    "com.agentclientprotocol.acp#ElicitationSchema": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.agentclientprotocol.acp#ElicitationSchemaType",
          "traits": {
            "smithy.api#documentation": "Type discriminator. Always `\"object\"`."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional title for the schema.\n\nOptional. Omitted and `null` are equivalent and mean no title is provided.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "com.agentclientprotocol.acp#ElicitationSchemaPropertiesMap",
          "traits": {
            "smithy.api#documentation": "Property definitions (must be primitive types)."
          }
        },
        "required": {
          "target": "com.agentclientprotocol.acp#ElicitationSchemaRequiredList",
          "traits": {
            "smithy.api#documentation": "List of required property names.\n\nOptional. Omitted and `null` are equivalent and mean no property names are required.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of what this schema represents.\n\nOptional. Omitted and `null` are equivalent and mean no schema description is provided.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#ElicitationSchemaMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type-safe elicitation schema for requesting structured user input.\n\nThis represents a JSON Schema object with primitive-typed properties,\nas required by the elicitation specification."
      }
    },
    "com.agentclientprotocol.acp#ElicitationSchemaType": {
      "type": "enum",
      "members": {
        "OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "object"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object schema type."
      }
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchema": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaCase0"
        },
        "Case1": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaCase1"
        },
        "Case2": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaCase2"
        },
        "Case3": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaCase3"
        },
        "Case4": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaCase4"
        },
        "Other": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaOther"
        }
      },
      "traits": {
        "smithy.api#documentation": "Property schema for elicitation form fields.\n\nEach variant corresponds to a JSON Schema `\"type\"` value.\nSingle-select enums use the `String` variant with `enum` or `oneOf` set.\nMulti-select enums use the `Array` variant."
      }
    },
    "com.agentclientprotocol.acp#StringFormat": {
      "type": "enum",
      "members": {
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "URI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uri"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date"
          }
        },
        "DATE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "String format types for string properties in elicitation schemas."
      }
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaCase0EnumList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Enum values for untitled single-select enums.\nOptional. Omitted and `null` are equivalent and mean no untitled single-select choices are\ndeclared by `enum`."
      }
    },
    "com.agentclientprotocol.acp#EnumOption": {
      "type": "structure",
      "members": {
        "const": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The constant value for this option.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable title for this option.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description.\n\nOptional. Omitted and `null` are equivalent and mean no description is provided.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#EnumOptionMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A titled enum option with a const value, human-readable title, and optional description."
      }
    },
    "com.agentclientprotocol.acp#EnumOptionMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaCase0OneOfList": {
      "type": "list",
      "member": {
        "target": "com.agentclientprotocol.acp#EnumOption"
      },
      "traits": {
        "smithy.api#documentation": "Titled enum options for titled single-select enums.\nOptional. Omitted and `null` are equivalent and mean no titled single-select choices are\ndeclared by `oneOf`."
      }
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaCase0MetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaCase0Type": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        }
      },
      "traits": {}
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaCase0": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional title for the property.\n\nOptional. Omitted and `null` are equivalent and mean no title is provided.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description.\n\nOptional. Omitted and `null` are equivalent and mean no description is provided.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "minLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum string length.\n\nOptional. Omitted and `null` are equivalent and mean there is no minimum length constraint.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum string length.\n\nOptional. Omitted and `null` are equivalent and mean there is no maximum length constraint.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pattern the string must match.\n\nOptional. Omitted and `null` are equivalent and mean there is no pattern constraint.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "format": {
          "target": "com.agentclientprotocol.acp#StringFormat",
          "traits": {
            "smithy.api#documentation": "String format.\n\nOptional. Omitted and `null` are equivalent and mean there is no format constraint.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default value.\n\nOptional. Omitted and `null` are equivalent and mean no default value is provided.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "enum": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaCase0EnumList",
          "traits": {
            "smithy.api#documentation": "Enum values for untitled single-select enums.\nOptional. Omitted and `null` are equivalent and mean no untitled single-select choices are\ndeclared by `enum`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "oneOf": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaCase0OneOfList",
          "traits": {
            "smithy.api#documentation": "Titled enum options for titled single-select enums.\nOptional. Omitted and `null` are equivalent and mean no titled single-select choices are\ndeclared by `oneOf`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaCase0MetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "String property (or single-select enum when `enum`/`oneOf` is set)."
      }
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaCase1MetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaCase1Type": {
      "type": "enum",
      "members": {
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        }
      },
      "traits": {}
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaCase1": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional title for the property.\n\nOptional. Omitted and `null` are equivalent and mean no title is provided.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description.\n\nOptional. Omitted and `null` are equivalent and mean no description is provided.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "minimum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum value (inclusive).\n\nOptional. Omitted and `null` are equivalent and mean there is no inclusive lower bound.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "maximum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum value (inclusive).\n\nOptional. Omitted and `null` are equivalent and mean there is no inclusive upper bound.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Default value.\n\nOptional. Omitted and `null` are equivalent and mean no default value is provided.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaCase1MetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Number (floating-point) property."
      }
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaCase2MetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaCase2Type": {
      "type": "enum",
      "members": {
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integer"
          }
        }
      },
      "traits": {}
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaCase2": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional title for the property.\n\nOptional. Omitted and `null` are equivalent and mean no title is provided.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description.\n\nOptional. Omitted and `null` are equivalent and mean no description is provided.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "minimum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum value (inclusive).\n\nOptional. Omitted and `null` are equivalent and mean there is no inclusive lower bound.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "maximum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum value (inclusive).\n\nOptional. Omitted and `null` are equivalent and mean there is no inclusive upper bound.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Default value.\n\nOptional. Omitted and `null` are equivalent and mean no default value is provided.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaCase2MetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaCase2Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Integer property."
      }
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaCase3MetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaCase3Type": {
      "type": "enum",
      "members": {
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        }
      },
      "traits": {}
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaCase3": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional title for the property.\n\nOptional. Omitted and `null` are equivalent and mean no title is provided.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description.\n\nOptional. Omitted and `null` are equivalent and mean no description is provided.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Default value.\n\nOptional. Omitted and `null` are equivalent and mean no default value is provided.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaCase3MetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaCase3Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Boolean property."
      }
    },
    "com.agentclientprotocol.acp#MultiSelectItems": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.agentclientprotocol.acp#MultiSelectItemsCase0"
        },
        "Other": {
          "target": "com.agentclientprotocol.acp#MultiSelectItemsOther"
        },
        "Titled": {
          "target": "com.agentclientprotocol.acp#TitledMultiSelectItems"
        }
      },
      "traits": {
        "smithy.api#documentation": "Items for a multi-select (array) property schema."
      }
    },
    "com.agentclientprotocol.acp#MultiSelectItemsCase0EnumList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed enum values."
      }
    },
    "com.agentclientprotocol.acp#MultiSelectItemsCase0MetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#MultiSelectItemsCase0Type": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        }
      },
      "traits": {}
    },
    "com.agentclientprotocol.acp#MultiSelectItemsCase0": {
      "type": "structure",
      "members": {
        "enum": {
          "target": "com.agentclientprotocol.acp#MultiSelectItemsCase0EnumList",
          "traits": {
            "smithy.api#documentation": "Allowed enum values.",
            "smithy.api#required": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#MultiSelectItemsCase0MetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.agentclientprotocol.acp#MultiSelectItemsCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Multi-select string items with plain string values."
      }
    },
    "com.agentclientprotocol.acp#MultiSelectItemsOther": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom or future multi-select item type.\n\nValues beginning with `_` are reserved for implementation-specific\nextensions. Unknown values that do not begin with `_` are reserved for\nfuture ACP variants.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom or future typed multi-select items."
      }
    },
    "com.agentclientprotocol.acp#TitledMultiSelectItems": {
      "type": "structure",
      "members": {
        "anyOf": {
          "target": "com.agentclientprotocol.acp#TitledMultiSelectItemsAnyOfList",
          "traits": {
            "smithy.api#documentation": "Titled enum options.",
            "smithy.api#required": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#TitledMultiSelectItemsMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Items definition for titled multi-select enum properties."
      }
    },
    "com.agentclientprotocol.acp#TitledMultiSelectItemsAnyOfList": {
      "type": "list",
      "member": {
        "target": "com.agentclientprotocol.acp#EnumOption"
      },
      "traits": {
        "smithy.api#documentation": "Titled enum options."
      }
    },
    "com.agentclientprotocol.acp#TitledMultiSelectItemsMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaCase4DefaultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Default selected values.\n\nOptional. Omitted and `null` are equivalent and mean no default selections are provided."
      }
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaCase4MetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaCase4Type": {
      "type": "enum",
      "members": {
        "ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "array"
          }
        }
      },
      "traits": {}
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaCase4": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional title for the property.\n\nOptional. Omitted and `null` are equivalent and mean no title is provided.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description.\n\nOptional. Omitted and `null` are equivalent and mean no description is provided.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "minItems": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of items to select.\n\nOptional. Omitted and `null` are equivalent and mean there is no minimum selection count.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxItems": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of items to select.\n\nOptional. Omitted and `null` are equivalent and mean there is no maximum selection count.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "items": {
          "target": "com.agentclientprotocol.acp#MultiSelectItems",
          "traits": {
            "smithy.api#documentation": "The items definition describing allowed values.",
            "smithy.api#required": {}
          }
        },
        "default": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaCase4DefaultList",
          "traits": {
            "smithy.api#documentation": "Default selected values.\n\nOptional. Omitted and `null` are equivalent and mean no default selections are provided.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaCase4MetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.agentclientprotocol.acp#ElicitationPropertySchemaCase4Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Multi-select array property."
      }
    },
    "com.agentclientprotocol.acp#ElicitationPropertySchemaOther": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom or future elicitation property schema type.\n\nValues beginning with `_` are reserved for implementation-specific\nextensions. Unknown values that do not begin with `_` are reserved for\nfuture ACP variants.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom or future elicitation property schema.\n\nValues beginning with `_` are reserved for implementation-specific\nextensions. Unknown values that do not begin with `_` are reserved for\nfuture ACP variants.\n\nClients that do not understand this property schema type should preserve\nthe raw schema when storing, replaying, proxying, or forwarding\nelicitation requests. They MUST NOT render it as a known input control."
      }
    },
    "com.agentclientprotocol.acp#ElicitationSchemaPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.agentclientprotocol.acp#ElicitationPropertySchema"
      },
      "traits": {
        "smithy.api#documentation": "Property definitions (must be primitive types)."
      }
    },
    "com.agentclientprotocol.acp#ElicitationSchemaRequiredList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of required property names.\n\nOptional. Omitted and `null` are equivalent and mean no property names are required."
      }
    },
    "com.agentclientprotocol.acp#ElicitationSchemaMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#CreateElicitationRequestCase0MetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#CreateElicitationRequestCase0Mode": {
      "type": "enum",
      "members": {
        "FORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "form"
          }
        }
      },
      "traits": {}
    },
    "com.agentclientprotocol.acp#CreateElicitationRequestCase0": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The session this elicitation is tied to."
          }
        },
        "toolCallId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional tool call within the session.\n\nOptional. Omitted and `null` are equivalent and mean the elicitation is scoped to the\nsession without a specific tool call.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "requestedSchema": {
          "target": "com.agentclientprotocol.acp#ElicitationSchema",
          "traits": {
            "smithy.api#documentation": "A JSON Schema describing the form fields to present to the user."
          }
        },
        "requestId": {
          "target": "com.agentclientprotocol.acp#RequestId",
          "traits": {
            "smithy.api#documentation": "The request this elicitation is tied to.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable message describing what input is needed.",
            "smithy.api#required": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#CreateElicitationRequestCase0MetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "mode": {
          "target": "com.agentclientprotocol.acp#CreateElicitationRequestCase0Mode",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Form-based elicitation where the client renders a form from the provided schema."
      }
    },
    "com.agentclientprotocol.acp#CreateElicitationRequestCase1MetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#CreateElicitationRequestCase1Mode": {
      "type": "enum",
      "members": {
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        }
      },
      "traits": {}
    },
    "com.agentclientprotocol.acp#CreateElicitationRequestCase1": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The session this elicitation is tied to."
          }
        },
        "toolCallId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional tool call within the session.\n\nOptional. Omitted and `null` are equivalent and mean the elicitation is scoped to the\nsession without a specific tool call.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "elicitationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for this elicitation."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to direct the user to."
          }
        },
        "requestId": {
          "target": "com.agentclientprotocol.acp#RequestId",
          "traits": {
            "smithy.api#documentation": "The request this elicitation is tied to.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable message describing what input is needed.",
            "smithy.api#required": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#CreateElicitationRequestCase1MetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "mode": {
          "target": "com.agentclientprotocol.acp#CreateElicitationRequestCase1Mode",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "URL-based elicitation where the client directs the user to a URL."
      }
    },
    "com.agentclientprotocol.acp#CreateElicitationRequestOtherSession": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The session this elicitation is tied to.",
            "smithy.api#required": {}
          }
        },
        "toolCallId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional tool call within the session.\n\nOptional. Omitted and `null` are equivalent and mean the elicitation is scoped to the\nsession without a specific tool call.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom or future elicitation mode.\n\nValues beginning with `_` are reserved for implementation-specific\nextensions. Unknown values that do not begin with `_` are reserved for\nfuture ACP variants.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tied to a session, optionally to a specific tool call within that session."
      }
    },
    "com.agentclientprotocol.acp#CreateElicitationRequestOtherRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.agentclientprotocol.acp#RequestId",
          "traits": {
            "smithy.api#documentation": "The request this elicitation is tied to.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom or future elicitation mode.\n\nValues beginning with `_` are reserved for implementation-specific\nextensions. Unknown values that do not begin with `_` are reserved for\nfuture ACP variants.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tied to a specific JSON-RPC request outside of a session\n(e.g., during auth/configuration phases before any session is started)."
      }
    },
    "com.agentclientprotocol.acp#CreateElicitationRequestOther": {
      "type": "union",
      "members": {
        "Session": {
          "target": "com.agentclientprotocol.acp#CreateElicitationRequestOtherSession"
        },
        "Request": {
          "target": "com.agentclientprotocol.acp#CreateElicitationRequestOtherRequest"
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom or future elicitation mode.\n\nValues beginning with `_` are reserved for implementation-specific\nextensions. Unknown values that do not begin with `_` are reserved for\nfuture ACP variants.\n\nClients that do not understand this mode should preserve the raw payload\nwhen storing, replaying, proxying, or forwarding elicitation requests.\nThey MUST NOT render it as a known elicitation mode."
      }
    },
    "com.agentclientprotocol.acp#ElicitationCreateRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.agentclientprotocol.acp#CreateElicitationRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.agentclientprotocol.acp#CreateElicitationResponse": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.agentclientprotocol.acp#CreateElicitationResponseCase0"
        },
        "Case1": {
          "target": "com.agentclientprotocol.acp#CreateElicitationResponseCase1"
        },
        "Case2": {
          "target": "com.agentclientprotocol.acp#CreateElicitationResponseCase2"
        },
        "Other": {
          "target": "com.agentclientprotocol.acp#CreateElicitationResponseOther"
        }
      },
      "traits": {
        "smithy.api#documentation": "Response from the client to an elicitation request."
      }
    },
    "com.agentclientprotocol.acp#ElicitationContentValue": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Integer": {
          "target": "smithy.api#Integer"
        },
        "Number": {
          "target": "smithy.api#Double"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        },
        "StringArray": {
          "target": "com.agentclientprotocol.acp#ElicitationContentValueStringArrayList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Allowed wire representations for [`ElicitationContentValue`]."
      }
    },
    "com.agentclientprotocol.acp#ElicitationContentValueStringArrayList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "String array value accepted in elicitation response content."
      }
    },
    "com.agentclientprotocol.acp#CreateElicitationResponseCase0ContentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.agentclientprotocol.acp#ElicitationContentValue"
      },
      "traits": {
        "smithy.api#documentation": "The user-provided content, if any, as an object matching the requested schema."
      }
    },
    "com.agentclientprotocol.acp#CreateElicitationResponseCase0MetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#CreateElicitationResponseCase0Action": {
      "type": "enum",
      "members": {
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      },
      "traits": {}
    },
    "com.agentclientprotocol.acp#CreateElicitationResponseCase0": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.agentclientprotocol.acp#CreateElicitationResponseCase0ContentMap",
          "traits": {
            "smithy.api#documentation": "The user-provided content, if any, as an object matching the requested schema.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#CreateElicitationResponseCase0MetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "action": {
          "target": "com.agentclientprotocol.acp#CreateElicitationResponseCase0Action",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user accepted and provided content."
      }
    },
    "com.agentclientprotocol.acp#CreateElicitationResponseCase1MetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#CreateElicitationResponseCase1Action": {
      "type": "enum",
      "members": {
        "DECLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "decline"
          }
        }
      },
      "traits": {}
    },
    "com.agentclientprotocol.acp#CreateElicitationResponseCase1": {
      "type": "structure",
      "members": {
        "_meta": {
          "target": "com.agentclientprotocol.acp#CreateElicitationResponseCase1MetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "action": {
          "target": "com.agentclientprotocol.acp#CreateElicitationResponseCase1Action",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user declined the elicitation."
      }
    },
    "com.agentclientprotocol.acp#CreateElicitationResponseCase2MetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#CreateElicitationResponseCase2Action": {
      "type": "enum",
      "members": {
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancel"
          }
        }
      },
      "traits": {}
    },
    "com.agentclientprotocol.acp#CreateElicitationResponseCase2": {
      "type": "structure",
      "members": {
        "_meta": {
          "target": "com.agentclientprotocol.acp#CreateElicitationResponseCase2MetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "action": {
          "target": "com.agentclientprotocol.acp#CreateElicitationResponseCase2Action",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The elicitation was cancelled."
      }
    },
    "com.agentclientprotocol.acp#CreateElicitationResponseOtherMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#CreateElicitationResponseOther": {
      "type": "structure",
      "members": {
        "_meta": {
          "target": "com.agentclientprotocol.acp#CreateElicitationResponseOtherMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom or future elicitation action.\n\nValues beginning with `_` are reserved for implementation-specific\nextensions. Unknown values that do not begin with `_` are reserved for\nfuture ACP variants.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom or future elicitation action.\n\nValues beginning with `_` are reserved for implementation-specific\nextensions. Unknown values that do not begin with `_` are reserved for\nfuture ACP variants.\n\nAgents that do not understand this action should preserve the raw\npayload when storing, replaying, proxying, or forwarding elicitation\nresponses. They MUST NOT treat it as a known elicitation action."
      }
    },
    "com.agentclientprotocol.acp#ElicitationCreateResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.agentclientprotocol.acp#CreateElicitationResponse",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.agentclientprotocol.acp#ElicitationCreate": {
      "type": "operation",
      "input": {
        "target": "com.agentclientprotocol.acp#CreateElicitationRequest"
      },
      "output": {
        "target": "com.agentclientprotocol.acp#ElicitationCreateResponse"
      },
      "traits": {
        "smithy.api#documentation": "Request from the agent to elicit structured user input.\n\nThe agent sends this to the client to request information from the user,\neither via a form or by directing them to a URL.\nElicitations are tied to a session (optionally a tool call) or a request.",
        "com.distilled.jsonrpc#method": "elicitation/create",
        "com.distilled.jsonrpc#inbound": {}
      }
    },
    "com.agentclientprotocol.acp#FsReadTextFileRequestMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#FsReadTextFileRequest": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The session ID for this request.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Absolute path to the file to read.",
            "smithy.api#required": {}
          }
        },
        "line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Line number to start reading from (1-based).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of lines to read.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#FsReadTextFileRequestMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.agentclientprotocol.acp#ReadTextFileResponse": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content payload returned by this response.",
            "smithy.api#required": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#ReadTextFileResponseMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing the contents of a text file."
      }
    },
    "com.agentclientprotocol.acp#ReadTextFileResponseMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#FsReadTextFile": {
      "type": "operation",
      "input": {
        "target": "com.agentclientprotocol.acp#FsReadTextFileRequest"
      },
      "output": {
        "target": "com.agentclientprotocol.acp#ReadTextFileResponse"
      },
      "traits": {
        "smithy.api#documentation": "Request to read content from a text file.\n\nOnly available if the client supports the `fs.readTextFile` capability.",
        "com.distilled.jsonrpc#method": "fs/read_text_file",
        "com.distilled.jsonrpc#inbound": {}
      }
    },
    "com.agentclientprotocol.acp#FsWriteTextFileRequestMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#FsWriteTextFileRequest": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The session ID for this request.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Absolute path to the file to write.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text content to write to the file.",
            "smithy.api#required": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#FsWriteTextFileRequestMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.agentclientprotocol.acp#WriteTextFileResponse": {
      "type": "structure",
      "members": {
        "_meta": {
          "target": "com.agentclientprotocol.acp#WriteTextFileResponseMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to `fs/write_text_file`"
      }
    },
    "com.agentclientprotocol.acp#WriteTextFileResponseMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#FsWriteTextFile": {
      "type": "operation",
      "input": {
        "target": "com.agentclientprotocol.acp#FsWriteTextFileRequest"
      },
      "output": {
        "target": "com.agentclientprotocol.acp#WriteTextFileResponse"
      },
      "traits": {
        "smithy.api#documentation": "Request to write content to a text file.\n\nOnly available if the client supports the `fs.writeTextFile` capability.",
        "com.distilled.jsonrpc#method": "fs/write_text_file",
        "com.distilled.jsonrpc#inbound": {}
      }
    },
    "com.agentclientprotocol.acp#ClientCapabilities": {
      "type": "structure",
      "members": {
        "fs": {
          "target": "com.agentclientprotocol.acp#FileSystemCapabilities",
          "traits": {
            "smithy.api#documentation": "File system capabilities supported by the client.\nDetermines which file operations the agent can request."
          }
        },
        "terminal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Client support all `terminal/*` methods."
          }
        },
        "session": {
          "target": "com.agentclientprotocol.acp#ClientSessionCapabilities",
          "traits": {
            "smithy.api#documentation": "Session-related capabilities supported by the client.\n\nOptional. Omitted or `null` both mean the client does not advertise any\nsession-related extensions.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "auth": {
          "target": "com.agentclientprotocol.acp#AuthCapabilities",
          "traits": {
            "smithy.api#documentation": "Authentication capabilities supported by the client.\nDetermines which authentication method types the agent may include\nin its `InitializeResponse`."
          }
        },
        "elicitation": {
          "target": "com.agentclientprotocol.acp#ElicitationCapabilities",
          "traits": {
            "smithy.api#documentation": "Elicitation capabilities supported by the client.\nDetermines which elicitation modes the agent may use.\n\nOptional. Omitted or `null` both mean the client does not advertise\nelicitation support.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#ClientCapabilitiesMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Capabilities supported by the client.\n\nAdvertised during initialization to inform the agent about\navailable features and methods.\n\nSee protocol docs: [Client Capabilities](https://agentclientprotocol.com/protocol/initialization#client-capabilities)"
      }
    },
    "com.agentclientprotocol.acp#FileSystemCapabilities": {
      "type": "structure",
      "members": {
        "readTextFile": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Client supports `fs/read_text_file` requests."
          }
        },
        "writeTextFile": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Client supports `fs/write_text_file` requests."
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#FileSystemCapabilitiesMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "File system capabilities that a client may support.\n\nSee protocol docs: [FileSystem](https://agentclientprotocol.com/protocol/initialization#filesystem)"
      }
    },
    "com.agentclientprotocol.acp#FileSystemCapabilitiesMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#ClientSessionCapabilities": {
      "type": "structure",
      "members": {
        "configOptions": {
          "target": "com.agentclientprotocol.acp#SessionConfigOptionsCapabilities",
          "traits": {
            "smithy.api#documentation": "Config option capabilities supported by the client.\n\nOmitted or `null` both mean the client does not advertise support for any\nconfig option extensions.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#ClientSessionCapabilitiesMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Session-related capabilities supported by the client."
      }
    },
    "com.agentclientprotocol.acp#SessionConfigOptionsCapabilities": {
      "type": "structure",
      "members": {
        "boolean": {
          "target": "com.agentclientprotocol.acp#BooleanConfigOptionCapabilities",
          "traits": {
            "smithy.api#documentation": "Whether the client supports boolean session configuration options.\n\nOptional. Omitted or `null` both mean the client does not advertise support.\nSupplying `{}` means agents may include `type: \"boolean\"` entries in\n`configOptions`, and the client may send `session/set_config_option`\nrequests with `type: \"boolean\"` and a boolean `value`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#SessionConfigOptionsCapabilitiesMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Session configuration option capabilities supported by the client."
      }
    },
    "com.agentclientprotocol.acp#BooleanConfigOptionCapabilities": {
      "type": "structure",
      "members": {
        "_meta": {
          "target": "com.agentclientprotocol.acp#BooleanConfigOptionCapabilitiesMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Capabilities for boolean session configuration options.\n\nSupplying `{}` means the client supports boolean session configuration options."
      }
    },
    "com.agentclientprotocol.acp#BooleanConfigOptionCapabilitiesMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#SessionConfigOptionsCapabilitiesMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#ClientSessionCapabilitiesMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#AuthCapabilities": {
      "type": "structure",
      "members": {
        "terminal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the client supports `terminal` authentication methods.\n\nThe client should set this to `true` only when it can reproduce the\nconfigured agent invocation in an interactive terminal. When `true`, the\nagent may include `terminal` entries in its authentication methods."
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#AuthCapabilitiesMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authentication capabilities supported by the client.\n\nAdvertised during initialization to inform the agent which authentication\nmethod types the client can handle. This governs opt-in types that require\nadditional client-side support."
      }
    },
    "com.agentclientprotocol.acp#AuthCapabilitiesMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#ElicitationCapabilities": {
      "type": "structure",
      "members": {
        "form": {
          "target": "com.agentclientprotocol.acp#ElicitationFormCapabilities",
          "traits": {
            "smithy.api#documentation": "Whether the client supports form-based elicitation.\n\nOptional. Omitted and `null` are equivalent and mean form support is not advertised.\nSupplying `{}` explicitly advertises form support.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "com.agentclientprotocol.acp#ElicitationUrlCapabilities",
          "traits": {
            "smithy.api#documentation": "Whether the client supports URL-based elicitation.\n\nOptional. Omitted or `null` both mean the client does not advertise support.\nSupplying `{}` means the client supports URL-based elicitation.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#ElicitationCapabilitiesMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Elicitation capabilities supported by the client."
      }
    },
    "com.agentclientprotocol.acp#ElicitationFormCapabilities": {
      "type": "structure",
      "members": {
        "_meta": {
          "target": "com.agentclientprotocol.acp#ElicitationFormCapabilitiesMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Form-based elicitation capabilities.\n\nSupplying `{}` means the client supports form-based elicitation."
      }
    },
    "com.agentclientprotocol.acp#ElicitationFormCapabilitiesMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#ElicitationUrlCapabilities": {
      "type": "structure",
      "members": {
        "_meta": {
          "target": "com.agentclientprotocol.acp#ElicitationUrlCapabilitiesMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "URL-based elicitation capabilities.\n\nSupplying `{}` means the client supports URL-based elicitation."
      }
    },
    "com.agentclientprotocol.acp#ElicitationUrlCapabilitiesMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#ElicitationCapabilitiesMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nOptional. Omitted and `null` are equivalent and mean no metadata.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#ClientCapabilitiesMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#Implementation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Intended for programmatic or logical use, but can be used as a display\nname fallback if title isn’t present.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Intended for UI and end-user contexts — optimized to be human-readable\nand easily understood.\n\nIf not provided, the name should be used for display.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the implementation. Can be displayed to the user or used\nfor debugging or metrics purposes. (e.g. \"1.0.0\").",
            "smithy.api#required": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#ImplementationMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about the implementation of the client or agent.\nDescribes the name and version of an ACP implementation, with an optional\ntitle for UI representation."
      }
    },
    "com.agentclientprotocol.acp#ImplementationMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#InitializeRequestMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)"
      }
    },
    "com.agentclientprotocol.acp#InitializeRequest": {
      "type": "structure",
      "members": {
        "protocolVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The latest protocol version supported by the client.",
            "smithy.api#required": {}
          }
        },
        "clientCapabilities": {
          "target": "com.agentclientprotocol.acp#ClientCapabilities",
          "traits": {
            "smithy.api#documentation": "Capabilities supported by the client."
          }
        },
        "clientInfo": {
          "target": "com.agentclientprotocol.acp#Implementation",
          "traits": {
            "smithy.api#documentation": "Information about the Client name and version sent to the Agent.\n\nNote: in future versions of the protocol, this will be required.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "_meta": {
          "target": "com.agentclientprotocol.acp#InitializeRequestMetaMap",
          "traits": {
            "smithy.api#documentation": "The _meta property is reserved by ACP to allow clients and agents to attach additional\nmetadata to their interactions. Implementations MUST NOT make assumptions about values at\nthese keys.\n\nSee protocol docs: [Extensibility](https://agentclientprotocol.com/protocol/extensibility)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.agentclientprotocol.acp#InitializeResponse": {
      "type": "structure",
      "members": {
        "protocolVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The protocol version the client specified if supported by the agent,\nor the latest protocol version supported by the agent.\n\nThe client should disconnect, if it doesn't support this version.",
            "smithy.api#required": {}
          }
        },
        "agentCapabilities": {
          "target": "com.agentclientprotocol.acp#AgentCapabilities",
          "traits": {
            "smithy.api#documentation": "Capabilities supported by the agent."
          }
        },
        "authMethods": {
          "target": "com.agentclientprotocol.acp#InitializeResponseAuthMethodsList",
          "traits": {
            "smithy.api#documentation": "Authentication methods supported by the agent."
          }
        },
        "agentInfo": {
          "target": "com.agentclientprotocol.acp#Implementation",
          "traits": {
[...]
