{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.whop.accounts#ListAccountsRequestOrder": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "volume"
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#ListAccountsRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#ListAccountsRequestStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#ListAccountsRequest": {
      "type": "structure",
      "members": {
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "Number of results to return from the start of the range."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Return results after this cursor. Use `page_info.end_cursor` from the previous response to fetch the next page."
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last",
            "smithy.api#documentation": "Number of results to return from the end of the range."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "Return results before this cursor. Use `page_info.start_cursor` from the previous response to fetch the previous page."
          }
        },
        "order": {
          "target": "com.whop.accounts#ListAccountsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "The field to sort accounts by. `volume` requires `stats:read` on the parent account."
          }
        },
        "direction": {
          "target": "com.whop.accounts#ListAccountsRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "Sort direction."
          }
        },
        "status": {
          "target": "com.whop.accounts#ListAccountsRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Return only accounts with this status: `active` (includes accounts that have not entered payments review) or `suspended`."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "query",
            "smithy.api#documentation": "Free-text filter on account title or ID. `%` and `_` match literally."
          }
        },
        "created_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_after",
            "smithy.api#documentation": "Return only accounts created after this ISO 8601 timestamp."
          }
        },
        "created_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_before",
            "smithy.api#documentation": "Return only accounts created before this ISO 8601 timestamp."
          }
        },
        "volume_min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "volume_min",
            "smithy.api#documentation": "Return only accounts whose lifetime USD volume is at least this value. Requires `stats:read` on the parent account."
          }
        },
        "volume_max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "volume_max",
            "smithy.api#documentation": "Return only accounts whose lifetime USD volume is at most this value. Requires `stats:read` on the parent account."
          }
        },
        "parent_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "parent_account_id",
            "smithy.api#documentation": "For platforms: the parent account ID whose direct connected accounts to return. Requires `payout:account:read` on the parent account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.accounts#Account": {
      "type": "structure",
      "members": {
        "balances": {
          "target": "com.whop.accounts#AccountBalancesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "banner_image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account banner image URL.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "business_address": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Account business address used to calculate tax, with `line1`, `line2`, `city`, `state`, `postal_code`, and `country`. `null` when no address is set.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "business_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account's legal business name used with its tax address.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "business_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "High-level business category for the account. See the [business types and industries glossary](/api-reference/beta/accounts/account#business-types-and-industries-glossary) for valid values.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "can_transfer_pending_balance_to_children": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether pending funds may be transferred from this platform account to its connected accounts.",
            "smithy.api#required": {}
          }
        },
        "cancellation_policy": {
          "target": "com.whop.accounts#File",
          "traits": {
            "smithy.api#documentation": "The account's cancellation policy document, or `null` if they have not published one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "capabilities": {
          "target": "com.whop.accounts#AccountCapabilities",
          "traits": {
            "smithy.api#documentation": "Payment rails enabled for this account, each `active`, `inactive`, or `pending` (onboarding or review in progress). Computed only on `retrieve` and `me` for callers with `company:balance:read` scope; `null` otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cards": {
          "target": "com.whop.accounts#AccountCards",
          "traits": {
            "smithy.api#documentation": "Whop Cards application details for the account. Returned on `list`, `retrieve`, and `me` for callers with `company:balance:read` scope; `null` otherwise, or when the account has no card application or blocking application review.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "collect_vat_id": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether checkout shows a VAT/tax ID field for buyers to optionally enter. Does not require a VAT ID to purchase.",
            "smithy.api#required": {}
          }
        },
        "company_formation": {
          "target": "com.whop.accounts#AccountCompanyFormation",
          "traits": {
            "smithy.api#documentation": "Company formation state for the account, managed through [Form Company](/api-reference/beta/accounts/form-company). A `draft` `status` until the formation checkout is paid, then filing progress with downloadable documents and signatures awaiting action. Empty when the formation state is temporarily unavailable.",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country where the account is located.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the account was created, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account promotional description.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dispute_fighter_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Whop assembles and files dispute evidence for this account. Enabling it opts the account into the success fee charged on disputes it wins.",
            "smithy.api#required": {}
          }
        },
        "economic_intelligence": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Economic Intelligence is on for the account. It turns off automatically when its committed period ends.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account owner email address.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "eula": {
          "target": "com.whop.accounts#File",
          "traits": {
            "smithy.api#documentation": "The account's end-user license agreement document, or `null` if they have not published one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "home_preferences": {
          "target": "com.whop.accounts#AccountHomePreferencesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID, prefixed `biz_`.",
            "smithy.api#required": {}
          }
        },
        "industry_group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account industry group. See the [business types and industries glossary](/api-reference/beta/accounts/account#business-types-and-industries-glossary) for valid values.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "industry_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specific industry vertical for the account. See the [business types and industries glossary](/api-reference/beta/accounts/account#business-types-and-industries-glossary) for valid values.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "invoice_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix used for account invoices.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "logo_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account logo image URL.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Arbitrary key/value metadata supplied at account creation.",
            "smithy.api#required": {}
          }
        },
        "onboarding_type": {
          "target": "com.whop.accounts#AccountOnboardingType",
          "traits": {
            "smithy.api#documentation": "Type of onboarding the account has completed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "opengraph_image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Open Graph image URL.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "opengraph_image_variant": {
          "target": "com.whop.accounts#AccountOpengraphImageVariant",
          "traits": {
            "smithy.api#documentation": "Account Open Graph image variant.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "orchestration_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether payment orchestration is enabled for this account.",
            "smithy.api#required": {}
          }
        },
        "other_business_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Business type details when business_type is `other`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "other_industry_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Industry details when industry_type is `other`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "owner": {
          "target": "com.whop.accounts#UserSummary",
          "traits": {
            "smithy.api#documentation": "The single user who owns the account, whose email is the `email` above. Distinct from the `owner` role on team members, which any number of them can hold.",
            "smithy.api#required": {}
          }
        },
        "parent_account": {
          "target": "com.whop.accounts#AccountParent",
          "traits": {
            "smithy.api#documentation": "Parent account for connected accounts, or `null` for standalone accounts.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "partner": {
          "target": "com.whop.accounts#AccountPartner",
          "traits": {
            "smithy.api#documentation": "The account's active first-tier partner. Present on retrieve responses; null when no active first-tier partner is attributed to the account. Omitted from other responses.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "payment_controls": {
          "target": "com.whop.accounts#AccountPaymentControls",
          "traits": {
            "smithy.api#documentation": "Payment health controls currently applied to the account. Computed only on `retrieve` and `me` for callers with `company:balance:read` scope; `null` otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "privacy_policy": {
          "target": "com.whop.accounts#File",
          "traits": {
            "smithy.api#documentation": "The account's privacy policy document, or `null` if they have not published one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "product_tax_code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Tax classification code applied by default to the account's products, with `id`, `name`, and `product_type`. `null` when no default is set.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "recommended_actions": {
          "target": "com.whop.accounts#AccountRecommendedActionsList",
          "traits": {
            "smithy.api#documentation": "DEPRECATED: Use the `GET /economic_intelligence?account_id={account_id}` endpoint instead.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "require_2fa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether authorized users must enable two-factor authentication.",
            "smithy.api#required": {}
          }
        },
        "required_actions": {
          "target": "com.whop.accounts#AccountRequiredActionsList",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "return_policy": {
          "target": "com.whop.accounts#File",
          "traits": {
            "smithy.api#documentation": "The account's return policy document, or `null` if they have not published one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "rewards": {
          "target": "com.whop.accounts#AccountRewardsList"
        },
        "route": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account public route identifier.",
            "smithy.api#required": {}
          }
        },
        "send_customer_emails": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Whop sends transactional emails to customers on behalf of this account.",
            "smithy.api#required": {}
          }
        },
        "shipping_policy": {
          "target": "com.whop.accounts#File",
          "traits": {
            "smithy.api#documentation": "The account's shipping policy document, or `null` if they have not published one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "show_joined_whops": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account appears in joined whops on other accounts.",
            "smithy.api#required": {}
          }
        },
        "show_reviews_dtc": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether reviews are displayed on direct-to-consumer product pages.",
            "smithy.api#required": {}
          }
        },
        "show_user_directory": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account shows users in the user directory.",
            "smithy.api#required": {}
          }
        },
        "social_links": {
          "target": "com.whop.accounts#AccountSocialLinksList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "stablecoin_rails": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account settles on stablecoin rails — its balance is held on-chain as USDT and paid out over crypto, rather than as fiat cash.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whether the account can operate on Whop: `active` or `suspended`. Computed on `list`, `retrieve`, `me`, and `suspend`; `null` otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the account was suspended, as the label shown to the account owner, such as `Suspended - Fraudulent payment activity`. Computed on `retrieve`, `me`, and `suspend`; `null` otherwise, when `status` is not `suspended`, and when the suspension was recorded without a reason.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "store_page_config": {
          "target": "com.whop.accounts#AccountStorePageConfig",
          "traits": {
            "smithy.api#documentation": "Account store page display configuration.",
            "smithy.api#required": {}
          }
        },
        "target_audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target audience for this account.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tax_collection_enabled_states": {
          "target": "com.whop.accounts#AccountTaxCollectionEnabledStatesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tax_identifiers": {
          "target": "com.whop.accounts#AccountTaxIdentifiersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tax_remitted_by": {
          "target": "com.whop.accounts#AccountTaxRemittedBy",
          "traits": {
            "smithy.api#documentation": "Who calculates and remits tax for the account: `whop` (Whop calculates and remits), `self` (Whop calculates; the account collects and remits), or `none` (neither; the account is responsible). `null` until the account enrolls in the Whop tax service.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tax_type": {
          "target": "com.whop.accounts#AccountTaxType",
          "traits": {
            "smithy.api#documentation": "How tax is applied to the account's prices: `inclusive` (tax included in the listed price) or `exclusive` (tax added on top). Defaults to `exclusive` when unset; `null` only when the account has no payment connection.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "terms_of_service": {
          "target": "com.whop.accounts#File",
          "traits": {
            "smithy.api#documentation": "The account's terms of service document, or `null` if they have not published one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "three_ds_level": {
          "target": "com.whop.accounts#AccountThreeDsLevel",
          "traits": {
            "smithy.api#documentation": "3D Secure behavior for supported on-session card payments. `mandate_challenge` requires a 3DS challenge before payment processing; `mandate_if_required` mandates a challenge only when the payment processor requires it; `frictionless_if_required` uses the regular frictionless 3DS flow. Payments of $1,000 or more use `mandate_if_required` unless `mandate_challenge` is selected. Risk and authentication recovery requirements can override the preference. `null` uses the standard checkout flow.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account display name.",
            "smithy.api#required": {}
          }
        },
        "total_earned_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Account lifetime sales, normalized to USD. Computed only on `retrieve` and `me` for callers with `stats:read` scope; `null` otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "total_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total USD value across balances with known exchange rates. Computed only on single-account reads (`retrieve` and `me`); `null` on list responses, writes, missing balance-read permission, or unavailable balance source.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "trading": {
          "target": "com.whop.accounts#TradingAccount",
          "traits": {
            "smithy.api#documentation": "Live trading state. Opt in with `include_trading=true` on single-account reads; `null` otherwise, without trading permission, or without an Ethereum wallet. Provider failures return an error, not a zero balance.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "use_logo_as_opengraph_image_fallback": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account uses its logo as the fallback Open Graph image.",
            "smithy.api#required": {}
          }
        },
        "verification": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Account identity verification status for the `individual` (KYC) and `business` (KYB) profiles. Each is `null` until created, otherwise a `status` of `not_started`, `pending`, `manual_review`, `approved`, or `rejected`.",
            "smithy.api#required": {}
          }
        },
        "volume_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Lifetime volume through the account — sales plus transfers received — normalized to USD. Computed only on `list` for callers with `stats:read` on the account; `null` otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "wallet": {
          "target": "com.whop.accounts#AccountWallet",
          "traits": {
            "smithy.api#documentation": "Account primary crypto wallet, or `null` if none has been provisioned.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "website": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account's business website URL, or `null` if none has been provided. Setting it also adds a `website` entry to `social_links`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountBalanceToken": {
      "type": "structure",
      "members": {
        "balance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total amount held in native units, as a decimal string.",
            "smithy.api#required": {}
          }
        },
        "breakdown": {
          "target": "com.whop.accounts#AccountBalanceBreakdown",
          "traits": {
            "smithy.api#documentation": "Balance split into available, pending, and reserve amounts, as native-unit decimal strings, with the days the pending amount is expected to settle. On-chain crypto is entirely available; good_funds and fiat cash can have pending or reserve portions.",
            "smithy.api#required": {}
          }
        },
        "icon_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Holding icon URL.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The holding's display name",
            "smithy.api#required": {}
          }
        },
        "price_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "USD price per unit, or `null` when no exchange rate is available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "symbol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Holding display symbol, such as `USDT`, `cbBTC`, or `EUR`.",
            "smithy.api#required": {}
          }
        },
        "value_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Holding USD value, or `null` when no exchange rate is available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountBalanceBreakdown": {
      "type": "structure",
      "members": {
        "available": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount you can spend, send, or withdraw now, in native units, as a decimal string.",
            "smithy.api#required": {}
          }
        },
        "in_transit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount moving between the account's own destinations, such as a treasury sweep to its crypto wallet or a card top-up. In native units, as a decimal string.",
            "smithy.api#required": {}
          }
        },
        "pending": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount from recent payments still settling, in native units, as a decimal string.",
            "smithy.api#required": {}
          }
        },
        "pending_settlements": {
          "target": "com.whop.accounts#AccountBalanceBreakdownPendingSettlementsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reserve": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount held back, in native units, as a decimal string. Retrieve the account's reserves for why it is held and when it unlocks.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountBalanceSettlement": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount expected that day, in native units, as a decimal string.",
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The day this money is expected to finish settling, as an ISO 8601 date.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountBalanceBreakdownPendingSettlementsList": {
      "type": "list",
      "member": {
        "target": "com.whop.accounts#AccountBalanceSettlement"
      },
      "traits": {}
    },
    "com.whop.accounts#AccountBalancesList": {
      "type": "list",
      "member": {
        "target": "com.whop.accounts#AccountBalanceToken"
      },
      "traits": {}
    },
    "com.whop.accounts#File": {
      "type": "structure",
      "members": {
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file's MIME type, e.g. `application/pdf`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the file was created, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original filename, including its extension.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file's ID, prefixed `file_`.",
            "smithy.api#required": {}
          }
        },
        "multipart_chunk_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The byte size each part (except the last) must be. Present only on create, and only for multipart uploads.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "multipart_upload_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the multipart upload, passed back to `complete`. Present only on create, and only for multipart uploads.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "multipart_upload_urls": {
          "target": "com.whop.accounts#FileMultipartUploadUrlsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of this object, always `file`.",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The file size in bytes. `null` until the upload has finished.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "upload_headers": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Headers to send with the upload PUT. Present only on create."
          }
        },
        "upload_status": {
          "target": "com.whop.accounts#FileUploadStatus",
          "traits": {
            "smithy.api#documentation": "Where the file is in its upload lifecycle.",
            "smithy.api#required": {}
          }
        },
        "upload_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Presigned URL to PUT the file's bytes to. Present only on create, and only for single-part uploads.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL to download the file: a permanent CDN URL for public files, a signed expiring URL for private ones. `null` until the upload has finished.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "visibility": {
          "target": "com.whop.accounts#FileVisibility",
          "traits": {
            "smithy.api#documentation": "`public` files are served via an unsigned CDN URL; `private` files via a signed, expiring URL.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#FileMultipartUrl": {
      "type": "structure",
      "members": {
        "part_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The 1-based index of this part within the multipart upload.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The presigned URL to PUT this part's bytes to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#FileMultipartUploadUrlsList": {
      "type": "list",
      "member": {
        "target": "com.whop.accounts#FileMultipartUrl"
      },
      "traits": {}
    },
    "com.whop.accounts#FileUploadStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where the file is in its upload lifecycle."
      }
    },
    "com.whop.accounts#FileVisibility": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`public` files are served via an unsigned CDN URL; `private` files via a signed, expiring URL."
      }
    },
    "com.whop.accounts#AccountCapabilities": {
      "type": "structure",
      "members": {
        "accept_bank_payments": {
          "target": "com.whop.accounts#AccountCapabilitiesAcceptBankPayments",
          "traits": {
            "smithy.api#documentation": "Bank payins: debits, transfers, and local bank rails",
            "smithy.api#required": {}
          }
        },
        "accept_bnpl_payments": {
          "target": "com.whop.accounts#AccountCapabilitiesAcceptBnplPayments",
          "traits": {
            "smithy.api#documentation": "Buy-now-pay-later payins; requires approval",
            "smithy.api#required": {}
          }
        },
        "accept_card_payments": {
          "target": "com.whop.accounts#AccountCapabilitiesAcceptCardPayments",
          "traits": {
            "smithy.api#documentation": "Card payins, including Apple Pay and Google Pay",
            "smithy.api#required": {}
          }
        },
        "bank_deposit": {
          "target": "com.whop.accounts#AccountCapabilitiesBankDeposit",
          "traits": {
            "smithy.api#documentation": "Deposits by bank wire or ACH to the account's virtual bank account",
            "smithy.api#required": {}
          }
        },
        "card_deposit": {
          "target": "com.whop.accounts#AccountCapabilitiesCardDeposit",
          "traits": {
            "smithy.api#documentation": "Balance top-ups by charging a stored payment method",
            "smithy.api#required": {}
          }
        },
        "card_issuing": {
          "target": "com.whop.accounts#AccountCapabilitiesCardIssuing",
          "traits": {
            "smithy.api#documentation": "Issuing Whop cards; requires card application approval",
            "smithy.api#required": {}
          }
        },
        "crypto_deposit": {
          "target": "com.whop.accounts#AccountCapabilitiesCryptoDeposit",
          "traits": {
            "smithy.api#documentation": "On-chain deposits to the account's crypto wallet",
            "smithy.api#required": {}
          }
        },
        "crypto_payout": {
          "target": "com.whop.accounts#AccountCapabilitiesCryptoPayout",
          "traits": {
            "smithy.api#documentation": "On-chain payouts to a crypto wallet",
            "smithy.api#required": {}
          }
        },
        "instant_payout": {
          "target": "com.whop.accounts#AccountCapabilitiesInstantPayout",
          "traits": {
            "smithy.api#documentation": "Instant payouts to an eligible payout destination",
            "smithy.api#required": {}
          }
        },
        "run_ads": {
          "target": "com.whop.accounts#AccountCapabilitiesRunAds",
          "traits": {
            "smithy.api#documentation": "Launching ad campaigns through Whop Ads. `inactive` while a requested ads services agreement is awaiting the account's signature.",
            "smithy.api#required": {}
          }
        },
        "standard_payout": {
          "target": "com.whop.accounts#AccountCapabilitiesStandardPayout",
          "traits": {
            "smithy.api#documentation": "Standard payouts to an external payout destination",
            "smithy.api#required": {}
          }
        },
        "transfer": {
          "target": "com.whop.accounts#AccountCapabilitiesTransfer",
          "traits": {
            "smithy.api#documentation": "Transfers to other accounts",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountCapabilitiesAcceptBankPayments": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Bank payins: debits, transfers, and local bank rails"
      }
    },
    "com.whop.accounts#AccountCapabilitiesAcceptBnplPayments": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Buy-now-pay-later payins; requires approval"
      }
    },
    "com.whop.accounts#AccountCapabilitiesAcceptCardPayments": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Card payins, including Apple Pay and Google Pay"
      }
    },
    "com.whop.accounts#AccountCapabilitiesBankDeposit": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deposits by bank wire or ACH to the account's virtual bank account"
      }
    },
    "com.whop.accounts#AccountCapabilitiesCardDeposit": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Balance top-ups by charging a stored payment method"
      }
    },
    "com.whop.accounts#AccountCapabilitiesCardIssuing": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Issuing Whop cards; requires card application approval"
      }
    },
    "com.whop.accounts#AccountCapabilitiesCryptoDeposit": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "On-chain deposits to the account's crypto wallet"
      }
    },
    "com.whop.accounts#AccountCapabilitiesCryptoPayout": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "On-chain payouts to a crypto wallet"
      }
    },
    "com.whop.accounts#AccountCapabilitiesInstantPayout": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instant payouts to an eligible payout destination"
      }
    },
    "com.whop.accounts#AccountCapabilitiesRunAds": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Launching ad campaigns through Whop Ads. `inactive` while a requested ads services agreement is awaiting the account's signature."
      }
    },
    "com.whop.accounts#AccountCapabilitiesStandardPayout": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Standard payouts to an external payout destination"
      }
    },
    "com.whop.accounts#AccountCapabilitiesTransfer": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Transfers to other accounts"
      }
    },
    "com.whop.accounts#AccountCards": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.whop.accounts#AccountCardsKind",
          "traits": {
            "smithy.api#documentation": "Whether the card application verifies a business (`business`, KYB) or a person (`individual`, consumer identity). `null` when the application is not yet linked to a verification.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.whop.accounts#AccountCardsStatus",
          "traits": {
            "smithy.api#documentation": "Where the card application stands. `approved` means cards can be issued. `needs_verification` means the applicant has not completed identity verification yet; `needs_information` means they did, but the documents were rejected for a fixable reason and must be resubmitted. `pending` and `manual_review` are in flight. `denied`, `locked`, and `canceled` are terminal.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountCardsKind": {
      "type": "enum",
      "members": {
        "INDIVIDUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "individual"
          }
        },
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "business"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the card application verifies a business (`business`, KYB) or a person (`individual`, consumer identity). `null` when the application is not yet linked to a verification."
      }
    },
    "com.whop.accounts#AccountCardsStatus": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "MANUAL_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual_review"
          }
        },
        "DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "denied"
          }
        },
        "LOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "locked"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "NEEDS_VERIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needs_verification"
          }
        },
        "NEEDS_INFORMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needs_information"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where the card application stands. `approved` means cards can be issued. `needs_verification` means the applicant has not completed identity verification yet; `needs_information` means they did, but the documents were rejected for a fixable reason and must be resubmitted. `pending` and `manual_review` are in flight. `denied`, `locked`, and `canceled` are terminal."
      }
    },
    "com.whop.accounts#AccountCompanyFormation": {
      "type": "structure",
      "members": {
        "documents": {
          "target": "com.whop.accounts#AccountCompanyFormationDocumentsList"
        },
        "ein_registered": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the company's EIN has been issued by the IRS. Present once `status` leaves `draft`."
          }
        },
        "legal_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Registered company name including the entity ending, for example `Acme, LLC`. Present once `status` leaves `draft`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "signatures": {
          "target": "com.whop.accounts#AccountCompanyFormationSignatures",
          "traits": {
            "smithy.api#documentation": "IRS forms still awaiting a founder's signature, each with a hosted signing URL. Present once `status` leaves `draft`; empty when nothing needs signing."
          }
        },
        "state_registered": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the state formation filing is complete. Present once `status` leaves `draft`."
          }
        },
        "status": {
          "target": "com.whop.accounts#AccountCompanyFormationStatus"
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountCompanyFormationDocument": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Document ID, prefixed `file_`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable document name, such as `Articles of Organization`.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Document category: `articles_of_organization`, `operating_agreement`, `ein_letter`, `signed_ss4`, `signed_form8821`, or `mail` for postal correspondence received on the company's behalf.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CDN URL for downloading the document.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountCompanyFormationDocumentsList": {
      "type": "list",
      "member": {
        "target": "com.whop.accounts#AccountCompanyFormationDocument"
      },
      "traits": {}
    },
    "com.whop.accounts#AccountCompanyFormationSignatures": {
      "type": "structure",
      "members": {
        "form8821": {
          "target": "com.whop.accounts#AccountCompanyFormationSignatureRequest",
          "traits": {
            "smithy.api#documentation": "Signature state for IRS Form 8821, the tax information authorization. Present only while the form still needs the founder's action."
          }
        },
        "ss4": {
          "target": "com.whop.accounts#AccountCompanyFormationSignatureRequest",
          "traits": {
            "smithy.api#documentation": "Signature state for IRS Form SS-4, the EIN application. Present only while the form still needs the founder's action."
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountCompanyFormationSignatureRequest": {
      "type": "structure",
      "members": {
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the signing URL expires, as an ISO 8601 timestamp. Present only when the signing URL is included."
          }
        },
        "status": {
          "target": "com.whop.accounts#AccountCompanyFormationSignatureRequestStatus",
          "traits": {
            "smithy.api#documentation": "`pending` when a signing session is ready for the founder; `unknown` when the signature state could not be determined.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hosted signing URL where the founder completes the form. Present while `status` is `pending` and the caller has `incorporation:write`. Omitted from webhooks."
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountCompanyFormationSignatureRequestStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`pending` when a signing session is ready for the founder; `unknown` when the signature state could not be determined."
      }
    },
    "com.whop.accounts#AccountCompanyFormationStatus": {
      "type": "enum",
      "members": {
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "FILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filed"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountHomePreferencesItem": {
      "type": "enum",
      "members": {
        "HIDE_MEMBER_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hide_member_count"
          }
        },
        "HIDE_MEMBERS_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hide_members_card"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public account home page preferences."
      }
    },
    "com.whop.accounts#AccountHomePreferencesList": {
      "type": "list",
      "member": {
        "target": "com.whop.accounts#AccountHomePreferencesItem"
      },
      "traits": {}
    },
    "com.whop.accounts#AccountOnboardingType": {
      "type": "enum",
      "members": {
        "PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "platform"
          }
        },
        "SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "seller"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of onboarding the account has completed."
      }
    },
    "com.whop.accounts#AccountOpengraphImageVariant": {
      "type": "enum",
      "members": {
        "WHITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "white"
          }
        },
        "BLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "black"
          }
        },
        "ORANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orange"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Account Open Graph image variant."
      }
    },
    "com.whop.accounts#UserSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User ID, prefixed `user_`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "profile_picture": {
          "target": "com.whop.accounts#UserProfilePicture",
          "traits": {
            "smithy.api#documentation": "Avatar wrapper; its `url` is always present, using a generated placeholder when the user set no picture.",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public username.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#UserProfilePicture": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Avatar image URL. Always present — a generated placeholder when the user set no picture.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountParent": {
      "type": "structure",
      "members": {
        "fees": {
          "target": "com.whop.accounts#AccountParentFeesMap",
          "traits": {
            "smithy.api#documentation": "Markup rates this parent charges the connected account being read, keyed by fee type (for example `crypto_deposit_markup`), each with `percentage_fee` and `fixed_fee_usd`. Resolved with the connected account's own overrides winning over the platform default."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID, prefixed `biz_`.",
            "smithy.api#required": {}
          }
        },
        "logo_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account logo image URL.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "route": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account public route identifier.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account display name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountParentFeesValue": {
      "type": "structure",
      "members": {
        "fixed_fee_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Fixed markup in US dollars per transaction.",
            "smithy.api#required": {}
          }
        },
        "percentage_fee": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage of the transaction charged as markup.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountParentFeesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.whop.accounts#AccountParentFeesValue"
      },
      "traits": {
        "smithy.api#documentation": "Markup rates this parent charges the connected account being read, keyed by fee type (for example `crypto_deposit_markup`), each with `percentage_fee` and `fixed_fee_usd`. Resolved with the connected account's own overrides winning over the platform default."
      }
    },
    "com.whop.accounts#AccountPartner": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address for contacting the partner. Null when the partner has not added their own email address.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User ID, prefixed `user_`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "profile_picture": {
          "target": "com.whop.accounts#UserProfilePicture",
          "traits": {
            "smithy.api#documentation": "Avatar wrapper; its `url` is always present, using a generated placeholder when the user set no picture.",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public username.",
            "smithy.api#required": {}
          }
        },
        "whop_partner_verified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the user became a verified Whop Partner, as an ISO 8601 timestamp. Null if not verified.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountPaymentControls": {
      "type": "structure",
      "members": {
        "dispute_alert_auto_refund": {
          "target": "com.whop.accounts#AccountDisputeAlertAutoRefundControl",
          "traits": {
            "smithy.api#documentation": "Automatic refund settings for pre-chargeback dispute alerts.",
            "smithy.api#required": {}
          }
        },
        "dispute_alert_fee_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Fee charged for each dispute alert in USD. `null` when unavailable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_3ds": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether 3-D Secure is forced on every card payment at checkout. The account cannot bypass it while set.",
            "smithy.api#required": {}
          }
        },
        "financing_disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether payment health controls explicitly disable financing. This is independent of financing approval in `capabilities.accept_bnpl_payments`.",
            "smithy.api#required": {}
          }
        },
        "high_risk_processing_fee_percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Additional processing fee percentage for high-risk processing.",
            "smithy.api#required": {}
          }
        },
        "pending_auto_topup_fee_percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage fee charged when pending, not-yet-settled balance is advanced to fund the account's cards balance, where `2` means 2%. `0` when the account is exempt.",
            "smithy.api#required": {}
          }
        },
        "pending_balance_delay_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Additional days payments remain pending before becoming available.",
            "smithy.api#required": {}
          }
        },
        "reserve": {
          "target": "com.whop.accounts#AccountReserveControl",
          "traits": {
            "smithy.api#documentation": "Reserve currently applied to incoming payment volume.",
            "smithy.api#required": {}
          }
        },
        "resolution_center_auto_refund": {
          "target": "com.whop.accounts#AccountResolutionCenterAutoRefundControl",
          "traits": {
            "smithy.api#documentation": "Automatic refund settings for resolution center cases.",
            "smithy.api#required": {}
          }
        },
        "restricted_payment_methods": {
          "target": "com.whop.accounts#AccountPaymentControlsRestrictedPaymentMethodsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "undated_pending_reason": {
          "target": "com.whop.accounts#AccountPaymentControlsUndatedPendingReason",
          "traits": {
            "smithy.api#documentation": "Why pending funds without a settlement date aren't moving yet. `kyc_incomplete` and `pending_information_request` are things the merchant can act on. `withdrawals_disabled` means Whop has blocked withdrawals, so these funds cannot become available. `null` when there's no reason to show — still clearing, or held for a reason that isn't named here.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "withdrawal_schedule": {
          "target": "com.whop.accounts#AccountWithdrawalScheduleControl",
          "traits": {
            "smithy.api#documentation": "How the account's balance automatically withdraws.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountDisputeAlertAutoRefundControl": {
      "type": "structure",
      "members": {
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account owner is prevented from changing this threshold.",
            "smithy.api#required": {}
          }
        },
        "threshold_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum dispute alert amount automatically refunded in USD. `null` when automatic refunds are disabled.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountReserveControl": {
      "type": "structure",
      "members": {
        "hold_period_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of days reserved funds are held before release.",
            "smithy.api#required": {}
          }
        },
        "percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage of incoming payment volume held in reserve. `null` when no reserve is applied.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountResolutionCenterAutoRefundControl": {
      "type": "structure",
      "members": {
        "card_threshold_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum card-funded resolution center case amount automatically refunded in USD. `null` when automatic refunds are disabled for cards.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "financing_threshold_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum financing-funded resolution center case amount automatically refunded in USD. `null` when automatic refunds are disabled for financing.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account owner is prevented from changing these thresholds.",
            "smithy.api#required": {}
          }
        },
        "paypal_threshold_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum PayPal-funded resolution center case amount automatically refunded in USD. `null` when automatic refunds are disabled for PayPal.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountPaymentControlsRestrictedPaymentMethodsItem": {
      "type": "enum",
      "members": {
        "CARD_VISA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_visa"
          }
        },
        "CARD_MASTERCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_mastercard"
          }
        },
        "CARD_AMERICAN_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_american_express"
          }
        },
        "CARD_DISCOVER_GLOBAL_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_discover_global_network"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Card brands blocked at checkout for this account. Empty when none are blocked. The account cannot re-enable them itself."
      }
    },
    "com.whop.accounts#AccountPaymentControlsRestrictedPaymentMethodsList": {
      "type": "list",
      "member": {
        "target": "com.whop.accounts#AccountPaymentControlsRestrictedPaymentMethodsItem"
      },
      "traits": {}
    },
    "com.whop.accounts#AccountPaymentControlsUndatedPendingReason": {
      "type": "enum",
      "members": {
        "KYC_INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kyc_incomplete"
          }
        },
        "PENDING_INFORMATION_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_information_request"
          }
        },
        "WITHDRAWALS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "withdrawals_disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Why pending funds without a settlement date aren't moving yet. `kyc_incomplete` and `pending_information_request` are things the merchant can act on. `withdrawals_disabled` means Whop has blocked withdrawals, so these funds cannot become available. `null` when there's no reason to show — still clearing, or held for a reason that isn't named here."
      }
    },
    "com.whop.accounts#AccountWithdrawalScheduleControl": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day the automatic withdrawal runs on: 0-6 (Sunday-Saturday) for `weekly`, 1-31 for `monthly`. `null` for `manual` and `daily`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "frequency": {
          "target": "com.whop.accounts#AccountWithdrawalScheduleControlFrequency",
          "traits": {
            "smithy.api#documentation": "How often the account's balance automatically withdraws.",
            "smithy.api#required": {}
          }
        },
        "next_payout_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next date the automatic withdrawal is scheduled to run, as an ISO 8601 date. `null` for `manual` and `daily`, where no single next date applies.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountWithdrawalScheduleControlFrequency": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "daily"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weekly"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monthly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How often the account's balance automatically withdraws."
      }
    },
    "com.whop.accounts#AccountRecommendedAction": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.whop.accounts#AccountRecommendedActionAction",
          "traits": {
            "smithy.api#documentation": "The recommendation; new values may be added, so handle unknown actions gracefully",
            "smithy.api#required": {}
          }
        },
        "blocked_capabilities": {
          "target": "com.whop.accounts#AccountRecommendedActionBlockedCapabilitiesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cta": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL the call-to-action links to",
            "smithy.api#required": {}
          }
        },
        "cta_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Button label",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Supporting copy, or empty",
            "smithy.api#required": {}
          }
        },
        "icon_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Illustration icon URL, or `null`",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "impact_score": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Estimated impact from 0-100, or `null` when not ranked",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "reasoning": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why this action was recommended, or `null`",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.whop.accounts#AccountRecommendedActionStatus",
          "traits": {
            "smithy.api#documentation": "Always optional — never blocking",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Headline for the recommendation",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountRecommendedActionAction": {
      "type": "enum",
      "members": {
        "THEME_BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "theme_business"
          }
        },
        "CREATE_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create_product"
          }
        },
        "CREATE_PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create_plan"
          }
        },
        "VERIFY_IDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verify_identity"
          }
        },
        "CONNECT_AFFILIATE_PROGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect_affiliate_program"
          }
        },
        "CREATE_PROMOTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create_promotion"
          }
        },
        "MIGRATE_FROM_STRIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "migrate_from_stripe"
          }
        },
        "ACCEPT_FIRST_PAYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept_first_payment"
          }
        },
        "LAUNCH_FIRST_AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "launch_first_ad"
          }
        },
        "LAUNCH_DRAFT_CAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "launch_draft_campaign"
          }
        },
        "INCREASE_AD_BUDGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "increase_ad_budget"
          }
        },
        "REFRESH_AD_CREATIVES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refresh_ad_creatives"
          }
        },
        "FIX_AD_BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fix_ad_billing"
          }
        },
        "EXCLUDE_CUSTOMERS_FROM_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exclude_customers_from_ads"
          }
        },
        "RETARGET_ABANDONED_CHECKOUTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retarget_abandoned_checkouts"
          }
        },
        "FIX_FUNNEL_DROPOFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fix_funnel_dropoff"
          }
        },
        "INVITE_TEAM_MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invite_team_member"
          }
        },
        "ENABLE_TAX_COLLECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enable_tax_collection"
          }
        },
        "CREATE_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create_card"
          }
        },
        "APPLY_FOR_FINANCING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apply_for_financing"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The recommendation; new values may be added, so handle unknown actions gracefully"
      }
    },
    "com.whop.accounts#AccountRecommendedActionBlockedCapabilitiesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.accounts#AccountRecommendedActionStatus": {
      "type": "enum",
      "members": {
        "OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optional"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always optional — never blocking"
      }
    },
    "com.whop.accounts#AccountRecommendedActionsList": {
      "type": "list",
      "member": {
        "target": "com.whop.accounts#AccountRecommendedAction"
      },
      "traits": {
        "smithy.api#documentation": "DEPRECATED: Use the `GET /economic_intelligence?account_id={account_id}` endpoint instead."
      }
    },
    "com.whop.accounts#AccountRequiredAction": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.whop.accounts#AccountRequiredActionAction",
          "traits": {
            "smithy.api#documentation": "What the holder must do; new values may be added, so handle unknown actions gracefully",
            "smithy.api#required": {}
          }
        },
        "blocked_capabilities": {
          "target": "com.whop.accounts#AccountRequiredActionBlockedCapabilitiesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cta": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL the call-to-action links to, or null when there is no button",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cta_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Button label, or empty when there is no button",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Supporting copy, or empty",
            "smithy.api#required": {}
          }
        },
        "icon_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the action's illustration icon, or null if it has none",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.whop.accounts#AccountRequiredActionStatus",
          "traits": {
            "smithy.api#documentation": "required (act now) or pending (under review)",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Headline for the action",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountRequiredActionAction": {
      "type": "enum",
      "members": {
        "DEPOSIT_FUNDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deposit_funds"
          }
        },
        "REVIEW_HELD_PAYMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "review_held_payments"
          }
        },
        "SUBMIT_INFORMATION_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "submit_information_request"
          }
        },
        "UPDATE_AUTOMATIC_WITHDRAWAL_METHOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update_automatic_withdrawal_method"
          }
        },
        "REAUTHORIZE_PAYOUT_METHODS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reauthorize_payout_methods"
          }
        },
        "UPDATE_PAYOUT_PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update_payout_profile"
          }
        },
        "CARD_USAGE_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_usage_review"
          }
        },
        "VERIFY_IDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verify_identity"
          }
        },
        "SCALE_ACCOUNT_SETUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scale_account_setup"
          }
        },
        "SIGN_FORMATION_DOCUMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sign_formation_documents"
          }
        },
        "CONNECT_FULFILLMENT_TRACKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect_fulfillment_tracker"
          }
        },
        "SETUP_APPLE_PAY_DOMAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "setup_apple_pay_domains"
          }
        },
        "CONFIGURE_TAX_REMITTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "configure_tax_remitter"
          }
        },
        "ADD_VAT_REGISTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "add_vat_registration"
          }
        },
        "ACCEPT_PAYOUT_TERMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept_payout_terms"
          }
        },
        "ENABLE_TWO_FACTOR_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enable_two_factor_authentication"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "What the holder must do; new values may be added, so handle unknown actions gracefully"
      }
    },
    "com.whop.accounts#AccountRequiredActionBlockedCapabilitiesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.accounts#AccountRequiredActionStatus": {
      "type": "enum",
      "members": {
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "required (act now) or pending (under review)"
      }
    },
    "com.whop.accounts#AccountRequiredActionsList": {
      "type": "list",
      "member": {
        "target": "com.whop.accounts#AccountRequiredAction"
      },
      "traits": {}
    },
    "com.whop.accounts#AccountPartnerReward": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reward definition ID, prefixed `prwd_`. Progress and status apply to the containing account.",
            "smithy.api#required": {}
          }
        },
        "qualification_amount": {
          "target": "com.whop.accounts#Money",
          "traits": {
            "smithy.api#documentation": "Qualifying USD volume required to earn this reward.",
            "smithy.api#required": {}
          }
        },
        "qualification_progress": {
          "target": "com.whop.accounts#Money",
          "traits": {
            "smithy.api#documentation": "Qualifying USD volume for the reward’s activity accumulated by this account since attribution, calculated using the fulfillment rules.",
            "smithy.api#required": {}
          }
        },
        "qualification_type": {
          "target": "com.whop.accounts#AccountPartnerRewardQualificationType",
          "traits": {
            "smithy.api#documentation": "Activity that qualifies this account for the reward.",
            "smithy.api#required": {}
          }
        },
        "reward_amount": {
          "target": "com.whop.accounts#Money",
          "traits": {
            "smithy.api#documentation": "USD balance credit for this reward. Uses the saved grant amount once fulfillment has started.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.whop.accounts#AccountPartnerRewardStatus",
          "traits": {
            "smithy.api#documentation": "This account's reward state. Credited requires a posted ledger entry; processing includes a met requirement awaiting fulfillment. Reversing and reversed reflect a subsequent reward reversal.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#Money": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount in major units, as an exact decimal string — `\"10.00\"` is ten dollars. A string so no float rounds it in transit.",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Three-letter ISO 4217 currency code, lowercase.",
            "smithy.api#required": {}
          }
        },
        "decimals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many decimal places the amount CARRIES — the precision the charge itself runs at.",
            "smithy.api#required": {}
          }
        },
        "display_decimals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many decimal places to SHOW. Usually equal to `decimals`, and deliberately not always: COP is charged in centavos but written in whole pesos, so it is `2` and `0`. Format the number in your own locale using this.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountPartnerRewardQualificationType": {
      "type": "enum",
      "members": {
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "AD_SPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ad_spend"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Activity that qualifies this account for the reward."
      }
    },
    "com.whop.accounts#AccountPartnerRewardStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "CREDITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "credited"
          }
        },
        "REVERSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reversing"
          }
        },
        "REVERSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reversed"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unavailable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This account's reward state. Credited requires a posted ledger entry; processing includes a met requirement awaiting fulfillment. Reversing and reversed reflect a subsequent reward reversal."
      }
    },
    "com.whop.accounts#AccountRewardsList": {
      "type": "list",
      "member": {
        "target": "com.whop.accounts#AccountPartnerReward"
      },
      "traits": {}
    },
    "com.whop.accounts#AccountSocialLink": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the social link",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The optional display title for the social link",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The social link URL",
            "smithy.api#required": {}
          }
        },
        "website": {
          "target": "com.whop.accounts#AccountSocialLinkWebsite",
          "traits": {
            "smithy.api#documentation": "The social platform for this link",
            "smithy.api#required": {}
[...]
