{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.whop.api_logs#ListApiLogsRequestHttpMethod": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        }
      },
      "traits": {}
    },
    "com.whop.api_logs#ListApiLogsRequestStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {}
    },
    "com.whop.api_logs#ListApiLogsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#documentation": "The account (biz_*) whose API logs to list. Defaults to the authenticated account."
          }
        },
        "created_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_after",
            "smithy.api#documentation": "Only return requests served at or after this ISO 8601 timestamp. Defaults to 7 days before created_before, or 7 days ago."
          }
        },
        "created_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_before",
            "smithy.api#documentation": "Only return requests served before this ISO 8601 timestamp."
          }
        },
        "operation_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "operation_name",
            "smithy.api#documentation": "Only return requests for this operation, matched exactly against the operation_name shown on each log row (for example api/v1/products#create)."
          }
        },
        "http_method": {
          "target": "com.whop.api_logs#ListApiLogsRequestHttpMethod",
          "traits": {
            "smithy.api#httpQuery": "http_method",
            "smithy.api#documentation": "Only return requests made with this HTTP method."
          }
        },
        "status": {
          "target": "com.whop.api_logs#ListApiLogsRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Only return requests that finished with this status."
          }
        },
        "api_key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "api_key_id",
            "smithy.api#documentation": "Only return requests made with this API key (apik_…)."
          }
        },
        "min_duration_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "min_duration_ms",
            "smithy.api#documentation": "Only return requests that took at least this many milliseconds."
          }
        },
        "max_duration_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "max_duration_ms",
            "smithy.api#documentation": "Only return requests that took at most this many milliseconds."
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "Number of results to return from the start of the range."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Return results after this cursor. Use `page_info.end_cursor` from the previous response to fetch the next page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.api_logs#ListApiLogsResponseDataItemHttpMethod": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        }
      },
      "traits": {}
    },
    "com.whop.api_logs#ListApiLogsResponseDataItemStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {}
    },
    "com.whop.api_logs#ListApiLogsResponseDataItem": {
      "type": "structure",
      "members": {
        "api_key_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "duration_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "http_method": {
          "target": "com.whop.api_logs#ListApiLogsResponseDataItemHttpMethod",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "http_path": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ip_address": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operation_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.whop.api_logs#ListApiLogsResponseDataItemStatus",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "status_code": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "user_agent": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.api_logs#ListApiLogsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.api_logs#ListApiLogsResponseDataItem"
      },
      "traits": {}
    },
    "com.whop.api_logs#ListApiLogsResponsePageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.api_logs#ListApiLogsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.api_logs#ListApiLogsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.api_logs#ListApiLogsResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.api_logs#ListApiLogs": {
      "type": "operation",
      "input": {
        "target": "com.whop.api_logs#ListApiLogsRequest"
      },
      "output": {
        "target": "com.whop.api_logs#ListApiLogsResponse"
      },
      "errors": [
        {
          "target": "com.whop.api_logs#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api_logs",
          "code": 200
        },
        "smithy.api#documentation": "List Api Logs\n\nLists the requests served by Whop's API with the account's API keys, newest first — every surface (GraphQL, REST, and native /api/v1), reads and failed requests included.",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.api_logs#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.whop.api_logs#ApiLogs": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.api_logs#ListApiLogs"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
