{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.whop.audiences#ListAudiencesRequestAudienceType": {
      "type": "enum",
      "members": {
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "LOOKALIKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lookalike"
          }
        }
      },
      "traits": {}
    },
    "com.whop.audiences#ListAudiencesRequestSourceType": {
      "type": "enum",
      "members": {
        "CSV_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv_upload"
          }
        },
        "PEOPLE_FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "people_filter"
          }
        },
        "ENGAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engagement"
          }
        }
      },
      "traits": {}
    },
    "com.whop.audiences#ListAudiencesRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#required": {},
            "smithy.api#documentation": "Account ID, prefixed `biz_`."
          }
        },
        "audience_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "audience_id",
            "smithy.api#documentation": "Audience ID, prefixed `adaud_`, used to filter the response to one audience."
          }
        },
        "audience_type": {
          "target": "com.whop.audiences#ListAudiencesRequestAudienceType",
          "traits": {
            "smithy.api#httpQuery": "audience_type",
            "smithy.api#documentation": "Filter by custom or lookalike audiences."
          }
        },
        "source_type": {
          "target": "com.whop.audiences#ListAudiencesRequestSourceType",
          "traits": {
            "smithy.api#httpQuery": "source_type",
            "smithy.api#documentation": "Filter by uploaded customer lists, Whop People filters, or social engagement."
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "Number of results to return from the start of the range."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Return results after this cursor. Use `page_info.end_cursor` from the previous response to fetch the next page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.audiences#Audience": {
      "type": "structure",
      "members": {
        "audience_type": {
          "target": "com.whop.audiences#AudienceAudienceType",
          "traits": {
            "smithy.api#documentation": "Whether the audience targets a defined group of people or people similar to an existing audience.",
            "smithy.api#required": {}
          }
        },
        "auto_refresh": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Whop rebuilds membership from saved People filters twice a day. When `false`, People audiences keep the members matched at creation. Always `false` for uploaded lists, lookalikes, and engagement audiences. Engagement membership is maintained by Meta.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the audience was created, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "engagement": {
          "target": "com.whop.audiences#AudienceEngagement",
          "traits": {
            "smithy.api#documentation": "Social engagement rules maintained by the ad platform. `null` for other audience sources.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "error_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Processing error message. `null` unless processing is partial or failed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "filters": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Saved Whop People filters that define membership, using the same keys as `GET /people`. `null` for uploaded lists, engagement audiences, and lookalikes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Audience ID, prefixed `adaud_`.",
            "smithy.api#required": {}
          }
        },
        "last_refreshed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the audience membership was last rebuilt, as an ISO 8601 timestamp. `null` until the first build completes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "lookalike_ratio": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "For lookalikes: the upper bound of the similarity band as a fraction (0.02 = top 2%). `null` for custom audiences.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "lookalike_starting_ratio": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "For lookalikes: the lower bound of the similarity band as a fraction. `null` for custom audiences and first-tier lookalikes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "match_rates": {
          "target": "com.whop.audiences#AudienceMatchRatesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "matched_rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Members successfully uploaded to connected ad accounts. Always 0 for lookalikes and engagement audiences.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Audience display name.",
            "smithy.api#required": {}
          }
        },
        "platform_audience_ids": {
          "target": "com.whop.audiences#AudiencePlatformAudienceIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "processed_rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Members processed from the source so far. Always 0 for lookalikes and engagement audiences.",
            "smithy.api#required": {}
          }
        },
        "progress_percent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Processing progress from 0 to 100.",
            "smithy.api#required": {}
          }
        },
        "source_audience_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For lookalikes: the audience this lookalike was built from. `null` for custom audiences.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_type": {
          "target": "com.whop.audiences#AudienceSourceType",
          "traits": {
            "smithy.api#documentation": "Membership source: an uploaded CSV, Whop People filters, or social engagement.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.whop.audiences#AudienceStatus",
          "traits": {
            "smithy.api#documentation": "Current state of audience creation. For engagement audiences, `ready` means the rules were created on Meta; membership may still be populating. `syncing` means Whop is sending matched rows to connected ad accounts. When status is `partial` or `failed`, `error_message` explains what went wrong.",
            "smithy.api#required": {}
          }
        },
        "total_rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total members detected in the source — CSV rows for uploaded lists, matching people for automatic audiences. Always 0 for lookalikes and engagement audiences.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the audience was last updated, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.audiences#AudienceAudienceType": {
      "type": "enum",
      "members": {
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "LOOKALIKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lookalike"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the audience targets a defined group of people or people similar to an existing audience."
      }
    },
    "com.whop.audiences#AudienceEngagement": {
      "type": "structure",
      "members": {
        "exclude": {
          "target": "com.whop.audiences#AudienceEngagementExcludeList",
          "traits": {
            "smithy.api#documentation": "Exclude anyone matching any exclusion rule. Supply 0–10 rules. Video audiences do not support exclusions; use a separate audience in ad-group exclusions.",
            "smithy.api#required": {}
          }
        },
        "include": {
          "target": "com.whop.audiences#AudienceEngagementIncludeList",
          "traits": {
            "smithy.api#documentation": "Match any inclusion rule. Supply 1–10 rules. Video rules must share a retention window and cannot be combined with other sources.",
            "smithy.api#required": {}
          }
        },
        "platform": {
          "target": "com.whop.audiences#AudienceEngagementPlatform",
          "traits": {
            "smithy.api#documentation": "Ad platform that maintains membership.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.audiences#AudienceEngagementRule": {
      "type": "union",
      "members": {
        "AudienceEngagementVideoRule": {
          "target": "com.whop.audiences#AudienceEngagementVideoRule"
        },
        "AudienceEngagementLeadFormRule": {
          "target": "com.whop.audiences#AudienceEngagementLeadFormRule"
        },
        "AudienceEngagementInstagramProfileRule": {
          "target": "com.whop.audiences#AudienceEngagementInstagramProfileRule"
        },
        "AudienceEngagementFacebookPageRule": {
          "target": "com.whop.audiences#AudienceEngagementFacebookPageRule"
        }
      },
      "traits": {}
    },
    "com.whop.audiences#AudienceEngagementVideoRule": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.whop.audiences#AudienceEngagementVideoRuleEvent",
          "traits": {
            "smithy.api#documentation": "Interaction that qualifies a person for this rule.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "com.whop.audiences#AudienceEngagementVideoRuleObject",
          "traits": {
            "smithy.api#documentation": "Engagement source.",
            "smithy.api#required": {}
          }
        },
        "platform_video_ids": {
          "target": "com.whop.audiences#AudienceEngagementVideoRulePlatformVideoIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retention_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rolling membership window in days, from 1 to 365.",
            "smithy.api#required": {}
          }
        },
        "social_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connected social account ID, prefixed `sacc_`, with advertising access.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.audiences#AudienceEngagementVideoRuleEvent": {
      "type": "enum",
      "members": {
        "WATCHED_3_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "watched_3_seconds"
          }
        },
        "WATCHED_10_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "watched_10_seconds"
          }
        },
        "WATCHED_15_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "watched_15_seconds"
          }
        },
        "WATCHED_25_PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "watched_25_percent"
          }
        },
        "WATCHED_50_PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "watched_50_percent"
          }
        },
        "WATCHED_75_PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "watched_75_percent"
          }
        },
        "WATCHED_95_PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "watched_95_percent"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Interaction that qualifies a person for this rule."
      }
    },
    "com.whop.audiences#AudienceEngagementVideoRuleObject": {
      "type": "enum",
      "members": {
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Engagement source."
      }
    },
    "com.whop.audiences#AudienceEngagementVideoRulePlatformVideoIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.audiences#AudienceEngagementLeadFormRule": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.whop.audiences#AudienceEngagementLeadFormRuleEvent",
          "traits": {
            "smithy.api#documentation": "Interaction that qualifies a person for this rule.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "com.whop.audiences#AudienceEngagementLeadFormRuleObject",
          "traits": {
            "smithy.api#documentation": "Engagement source.",
            "smithy.api#required": {}
          }
        },
        "platform_form_ids": {
          "target": "com.whop.audiences#AudienceEngagementLeadFormRulePlatformFormIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retention_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rolling membership window in days, from 1 to 90.",
            "smithy.api#required": {}
          }
        },
        "social_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connected social account ID, prefixed `sacc_`, with advertising access.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.audiences#AudienceEngagementLeadFormRuleEvent": {
      "type": "enum",
      "members": {
        "OPENED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opened"
          }
        },
        "SUBMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "submitted"
          }
        },
        "NOT_SUBMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_submitted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Interaction that qualifies a person for this rule."
      }
    },
    "com.whop.audiences#AudienceEngagementLeadFormRuleObject": {
      "type": "enum",
      "members": {
        "LEAD_FORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lead_form"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Engagement source."
      }
    },
    "com.whop.audiences#AudienceEngagementLeadFormRulePlatformFormIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.audiences#AudienceEngagementInstagramProfileRule": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.whop.audiences#AudienceEngagementInstagramProfileRuleEvent",
          "traits": {
            "smithy.api#documentation": "Interaction that qualifies a person for this rule.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "com.whop.audiences#AudienceEngagementInstagramProfileRuleObject",
          "traits": {
            "smithy.api#documentation": "Engagement source.",
            "smithy.api#required": {}
          }
        },
        "retention_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rolling membership window in days, from 1 to 730.",
            "smithy.api#required": {}
          }
        },
        "social_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connected social account ID, prefixed `sacc_`, with advertising access.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.audiences#AudienceEngagementInstagramProfileRuleEvent": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "ENGAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engaged"
          }
        },
        "VISITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visited"
          }
        },
        "MESSAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "messaged"
          }
        },
        "SAVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saved"
          }
        },
        "AD_LIKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ad_liked"
          }
        },
        "AD_COMMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ad_commented"
          }
        },
        "AD_SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ad_shared"
          }
        },
        "AD_SAVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ad_saved"
          }
        },
        "AD_CTA_CLICKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ad_cta_clicked"
          }
        },
        "AD_CAROUSEL_SWIPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ad_carousel_swiped"
          }
        },
        "ORGANIC_LIKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organic_liked"
          }
        },
        "ORGANIC_COMMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organic_commented"
          }
        },
        "ORGANIC_SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organic_shared"
          }
        },
        "ORGANIC_SAVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organic_saved"
          }
        },
        "ORGANIC_SWIPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organic_swiped"
          }
        },
        "ORGANIC_CAROUSEL_SWIPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organic_carousel_swiped"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Interaction that qualifies a person for this rule."
      }
    },
    "com.whop.audiences#AudienceEngagementInstagramProfileRuleObject": {
      "type": "enum",
      "members": {
        "INSTAGRAM_PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "instagram_profile"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Engagement source."
      }
    },
    "com.whop.audiences#AudienceEngagementFacebookPageRule": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.whop.audiences#AudienceEngagementFacebookPageRuleEvent",
          "traits": {
            "smithy.api#documentation": "Interaction that qualifies a person for this rule.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "com.whop.audiences#AudienceEngagementFacebookPageRuleObject",
          "traits": {
            "smithy.api#documentation": "Engagement source.",
            "smithy.api#required": {}
          }
        },
        "retention_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rolling membership window in days, from 1 to 730. Use 0 for `liked`, which tracks current likes and cannot be combined with other events.",
            "smithy.api#required": {}
          }
        },
        "social_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connected social account ID, prefixed `sacc_`, with advertising access.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.audiences#AudienceEngagementFacebookPageRuleEvent": {
      "type": "enum",
      "members": {
        "ENGAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engaged"
          }
        },
        "VISITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visited"
          }
        },
        "LIKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "liked"
          }
        },
        "MESSAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "messaged"
          }
        },
        "CTA_CLICKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cta_clicked"
          }
        },
        "SAVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saved"
          }
        },
        "POST_INTERACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "post_interaction"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Interaction that qualifies a person for this rule."
      }
    },
    "com.whop.audiences#AudienceEngagementFacebookPageRuleObject": {
      "type": "enum",
      "members": {
        "FACEBOOK_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "facebook_page"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Engagement source."
      }
    },
    "com.whop.audiences#AudienceEngagementExcludeList": {
      "type": "list",
      "member": {
        "target": "com.whop.audiences#AudienceEngagementRule"
      },
      "traits": {
        "smithy.api#documentation": "Exclude anyone matching any exclusion rule. Supply 0–10 rules. Video audiences do not support exclusions; use a separate audience in ad-group exclusions."
      }
    },
    "com.whop.audiences#AudienceEngagementIncludeList": {
      "type": "list",
      "member": {
        "target": "com.whop.audiences#AudienceEngagementRule"
      },
      "traits": {
        "smithy.api#documentation": "Match any inclusion rule. Supply 1–10 rules. Video rules must share a retention window and cannot be combined with other sources."
      }
    },
    "com.whop.audiences#AudienceEngagementPlatform": {
      "type": "enum",
      "members": {
        "META": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "meta"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ad platform that maintains membership."
      }
    },
    "com.whop.audiences#AudienceMatchRate": {
      "type": "structure",
      "members": {
        "lower_bound": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Lower bound of the estimated match rate percentage. `null` until available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "platform": {
          "target": "com.whop.audiences#AudienceMatchRatePlatform",
          "traits": {
            "smithy.api#documentation": "The ad platform that provided the match-rate estimate.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.whop.audiences#AudienceMatchRateStatus",
          "traits": {
            "smithy.api#documentation": "Availability of the estimated match rate.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "upper_bound": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Upper bound of the estimated match rate percentage. `null` until available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.audiences#AudienceMatchRatePlatform": {
      "type": "enum",
      "members": {
        "META": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "meta"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ad platform that provided the match-rate estimate."
      }
    },
    "com.whop.audiences#AudienceMatchRateStatus": {
      "type": "enum",
      "members": {
        "CALCULATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "calculating"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unavailable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Availability of the estimated match rate."
      }
    },
    "com.whop.audiences#AudienceMatchRatesList": {
      "type": "list",
      "member": {
        "target": "com.whop.audiences#AudienceMatchRate"
      },
      "traits": {}
    },
    "com.whop.audiences#AudiencePlatformAudienceIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.audiences#AudienceSourceType": {
      "type": "enum",
      "members": {
        "CSV_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv_upload"
          }
        },
        "PEOPLE_FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "people_filter"
          }
        },
        "ENGAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engagement"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Membership source: an uploaded CSV, Whop People filters, or social engagement."
      }
    },
    "com.whop.audiences#AudienceStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "SYNCING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syncing"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partial"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current state of audience creation. For engagement audiences, `ready` means the rules were created on Meta; membership may still be populating. `syncing` means Whop is sending matched rows to connected ad accounts. When status is `partial` or `failed`, `error_message` explains what went wrong."
      }
    },
    "com.whop.audiences#ListAudiencesResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.audiences#Audience"
      },
      "traits": {}
    },
    "com.whop.audiences#ListAudiencesResponsePageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.audiences#ListAudiencesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.audiences#ListAudiencesResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.audiences#ListAudiencesResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.audiences#ListAudiences": {
      "type": "operation",
      "input": {
        "target": "com.whop.audiences#ListAudiencesRequest"
      },
      "output": {
        "target": "com.whop.audiences#ListAudiencesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/audiences",
          "code": 200
        },
        "smithy.api#documentation": "List Audiences\n\nList custom and lookalike audiences for an account. Pass `audience_id` to return a specific audience.",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.audiences#CreateAudienceRequestAudienceType": {
      "type": "enum",
      "members": {
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "LOOKALIKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lookalike"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audience type. Defaults to `custom`."
      }
    },
    "com.whop.audiences#CreateAudienceRequestColumnMapping": {
      "type": "structure",
      "members": {
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CSV header for ISO 3166-1 alpha-2 country codes, such as `US`."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CSV header for email addresses."
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CSV header for first names."
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CSV header for last names."
          }
        },
        "ltv": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CSV header for each customer's lifetime value — a non-negative number, currency symbols allowed. When mapped, Meta creates the audience as value-based, so lookalikes built from it favor people similar to the highest-value customers."
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CSV header for phone numbers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CSV audiences only. Maps supported identity fields to CSV column headers. Map at least one of `email` or `phone`."
      }
    },
    "com.whop.audiences#CreateAudienceRequestEngagementExcludeList": {
      "type": "list",
      "member": {
        "target": "com.whop.audiences#AudienceEngagementRule"
      },
      "traits": {
        "smithy.api#documentation": "Exclude anyone matching any exclusion rule. Defaults to an empty array. Video audiences do not support exclusions; use a separate audience in ad-group exclusions."
      }
    },
    "com.whop.audiences#CreateAudienceRequestEngagementIncludeList": {
      "type": "list",
      "member": {
        "target": "com.whop.audiences#AudienceEngagementRule"
      },
      "traits": {
        "smithy.api#documentation": "Match any inclusion rule. Video rules must share a retention window and cannot be combined with other sources."
      }
    },
    "com.whop.audiences#CreateAudienceRequestEngagementPlatform": {
      "type": "enum",
      "members": {
        "META": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "meta"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ad platform that maintains membership."
      }
    },
    "com.whop.audiences#CreateAudienceRequestEngagement": {
      "type": "structure",
      "members": {
        "exclude": {
          "target": "com.whop.audiences#CreateAudienceRequestEngagementExcludeList",
          "traits": {
            "smithy.api#documentation": "Exclude anyone matching any exclusion rule. Defaults to an empty array. Video audiences do not support exclusions; use a separate audience in ad-group exclusions."
          }
        },
        "include": {
          "target": "com.whop.audiences#CreateAudienceRequestEngagementIncludeList",
          "traits": {
            "smithy.api#documentation": "Match any inclusion rule. Video rules must share a retention window and cannot be combined with other sources.",
            "smithy.api#required": {}
          }
        },
        "platform": {
          "target": "com.whop.audiences#CreateAudienceRequestEngagementPlatform",
          "traits": {
            "smithy.api#documentation": "Ad platform that maintains membership.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rules for membership based on social engagement. Requires a connected social account with advertising access."
      }
    },
    "com.whop.audiences#CreateAudienceRequestSourceType": {
      "type": "enum",
      "members": {
        "CSV_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv_upload"
          }
        },
        "PEOPLE_FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "people_filter"
          }
        },
        "ENGAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engagement"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom audience source. Inferred from `engagement`, then `filters`, otherwise defaults to `csv_upload`. Supply only the fields for the selected source."
      }
    },
    "com.whop.audiences#CreateAudienceRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID, prefixed `biz_`.",
            "smithy.api#required": {}
          }
        },
        "audience_type": {
          "target": "com.whop.audiences#CreateAudienceRequestAudienceType",
          "traits": {
            "smithy.api#documentation": "Audience type. Defaults to `custom`."
          }
        },
        "auto_refresh": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Filter audiences only, and set only at creation. `true` (the default) rebuilds membership from the filters twice a day. `false` keeps whoever matched at creation and never rebuilds."
          }
        },
        "column_mapping": {
          "target": "com.whop.audiences#CreateAudienceRequestColumnMapping",
          "traits": {
            "smithy.api#documentation": "CSV audiences only. Maps supported identity fields to CSV column headers. Map at least one of `email` or `phone`."
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lookalikes only. Number of lookalike audiences to create (1–6)."
          }
        },
        "engagement": {
          "target": "com.whop.audiences#CreateAudienceRequestEngagement",
          "traits": {
            "smithy.api#documentation": "Rules for membership based on social engagement. Requires a connected social account with advertising access."
          }
        },
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CSV audiences only. The uploaded customer CSV — a file id (`file_...`) returned by `POST /files`."
          }
        },
        "filters": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Filter audiences only. The People filters that define membership, keyed exactly as `GET /people` accepts them — for example `{\"os\": \"iOS\", \"country\": \"US\"}`. Activity dates `event_from` and `event_to` are inclusive and remain fixed on refresh. Use `event_within_days`, `first_seen_within_days` or `last_seen_within_days` for a rolling window. Source values are canonical source paths (`whop:<campaign>:<group>:<ad>`, `ext:<platform>:...`, `referrer:<domain>`, `direct`), exact or with a trailing `:*` wildcard."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Audience display name. Required for custom audiences; lookalike names are generated from the source audience."
          }
        },
        "percentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lookalikes only. Total similarity reach as a whole percent (1–20), sliced evenly across `count` — must be divisible by `count`. For example, 3 audiences at 6% creates 0–2%, 2–4%, and 4–6% bands."
          }
        },
        "source_audience_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lookalikes only. The ready custom audience (`adaud_`) to build from; uploaded and People audiences need at least 100 matched people. Meta validates engagement audience eligibility when creating the lookalike."
          }
        },
        "source_type": {
          "target": "com.whop.audiences#CreateAudienceRequestSourceType",
          "traits": {
            "smithy.api#documentation": "Custom audience source. Inferred from `engagement`, then `filters`, otherwise defaults to `csv_upload`. Supply only the fields for the selected source."
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique key that makes this request safe to retry. See [Idempotent requests](https://docs.whop.com/developer/api/idempotency)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.audiences#CreateAudienceResponseBodyCase1DataList": {
      "type": "list",
      "member": {
        "target": "com.whop.audiences#Audience"
      },
      "traits": {}
    },
    "com.whop.audiences#CreateAudienceResponseBodyCase1": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.audiences#CreateAudienceResponseBodyCase1DataList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.audiences#CreateAudienceResponseBody": {
      "type": "union",
      "members": {
        "Audience": {
          "target": "com.whop.audiences#Audience"
        },
        "Case1": {
          "target": "com.whop.audiences#CreateAudienceResponseBodyCase1"
        }
      },
      "traits": {}
    },
    "com.whop.audiences#CreateAudienceResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.whop.audiences#CreateAudienceResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.audiences#CreateAudience": {
      "type": "operation",
      "input": {
        "target": "com.whop.audiences#CreateAudienceRequest"
      },
      "output": {
        "target": "com.whop.audiences#CreateAudienceResponse"
      },
      "errors": [
        {
          "target": "com.whop.audiences#BadRequest"
        },
        {
          "target": "com.whop.audiences#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/audiences",
          "code": 200
        },
        "smithy.api#documentation": "Create Audience\n\nCreate an audience from a customer list, your account's Whop People data, or engagement with videos, lead forms, Instagram profiles, or Facebook pages. Create lookalike audiences to reach people similar to an existing audience. Processing runs asynchronously. Custom creation returns one audience; lookalike creation returns the requested similarity bands in `data`."
      }
    },
    "com.whop.audiences#UpdateAudienceRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Audience ID, prefixed `adaud_`."
          }
        },
        "filters": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Replaces the People filters that define membership. The whole definition is replaced rather than merged, so send every filter you want to keep — a filter you leave out stops applying. Keys and values are the ones `GET /people` accepts, such as an `os` of `iOS` or a `country` of `US`, and at least one filter is required. Date filters must be rolling windows — `first_seen_within_days` or `last_seen_within_days` — so the audience re-anchors every time it rebuilds; fixed dates such as `first_seen_after` are rejected, as is `audience_id`. An array value holds at most 500 items, and each value at most 10 KB. Only an audience with a `source_type` of `people_filter` and `auto_refresh` of `true` accepts filters: an uploaded list has no filters to replace, and with auto refresh off the audience keeps the people it matched when it was built, so create a new audience instead."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New audience display name. A blank value is ignored rather than clearing the name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.audiences#UpdateAudience": {
      "type": "operation",
      "input": {
        "target": "com.whop.audiences#UpdateAudienceRequest"
      },
      "output": {
        "target": "com.whop.audiences#Audience"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/audiences/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update Audience\n\nRenames an audience. For an audience built from People filters that keeps itself up to date, pass `filters` to replace them, which rebuilds membership immediately. Whether an audience auto refreshes is set when it is created."
      }
    },
    "com.whop.audiences#DeleteAudienceRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Audience ID, prefixed `adaud_`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.audiences#DeleteAudienceResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.audiences#DeleteAudience": {
      "type": "operation",
      "input": {
        "target": "com.whop.audiences#DeleteAudienceRequest"
      },
      "output": {
        "target": "com.whop.audiences#DeleteAudienceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/audiences/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete Audience\n\nDeletes an audience so it is no longer available for targeting."
      }
    },
    "com.whop.audiences#AddAudiencePeopleRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Audience ID, prefixed `adaud_`."
          }
        },
        "file_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new customer CSV — a file id (`file_...`) returned by `POST /files`. Its headers must match the audience's saved column mapping.",
            "smithy.api#required": {}
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique key that makes this request safe to retry. See [Idempotent requests](https://docs.whop.com/developer/api/idempotency)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.audiences#AddAudiencePeople": {
      "type": "operation",
      "input": {
        "target": "com.whop.audiences#AddAudiencePeopleRequest"
      },
      "output": {
        "target": "com.whop.audiences#Audience"
      },
      "errors": [
        {
          "target": "com.whop.audiences#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/audiences/{id}/add_people",
          "code": 200
        },
        "smithy.api#documentation": "Add People\n\nAdds users from a new CSV file to an existing uploaded custom audience. The file uses the audience's saved column mapping, processing happens in the background, and existing audience members remain unchanged."
      }
    },
    "com.whop.audiences#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.whop.audiences#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.whop.audiences#Audiences": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.audiences#ListAudiences"
        },
        {
          "target": "com.whop.audiences#CreateAudience"
        },
        {
          "target": "com.whop.audiences#UpdateAudience"
        },
        {
          "target": "com.whop.audiences#DeleteAudience"
        },
        {
          "target": "com.whop.audiences#AddAudiencePeople"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
