{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.whop.cashback_rules#CreateCashbackRuleRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the rule.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exclusive end, strictly later than starts_at. Omit or set null for no expiration.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "merchant_category_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Four-digit MCC, including leading zeros. Null matches any MCC. When both merchant filters are absent, scoped_account_id is required.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "merchant_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw merchant name reported by the card provider, not the enriched display name. Omit or set null to match any merchant name. Supplied names must contain a non-whitespace character and match together with any MCC filter.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "rate_bps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cashback rate in basis points: 500 means 5%.",
            "smithy.api#required": {}
          }
        },
        "scoped_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID prefixed biz_ belonging to a direct connected account. Required when both merchant filters are omitted or null. Otherwise, omit or set null to designate all direct connected accounts.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "starts_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Inclusive start, strictly later than the current time, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "Client-generated key for replaying the same request safely for 24 hours."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.cashback_rules#CashbackRule": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the rule was created, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the cashback rule.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "discarded_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the rule was discarded, as an ISO 8601 timestamp. Null means it has not been discarded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exclusive end of the eligibility window, as an ISO 8601 timestamp. Null means no expiration.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "funding_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Platform account designated to fund cashback, prefixed `biz_`. Derived from the authenticated credential.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cashback rule ID, prefixed `cicbr_`.",
            "smithy.api#required": {}
          }
        },
        "merchant_category_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Four-digit merchant category code. Null matches any MCC. When both merchant filters are null, scoped_account_id is required.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "merchant_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw merchant name reported by the card provider. Null matches any merchant name. When set, matches together with any MCC filter; not a substring or enriched display-name match.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "rate_bps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cashback rate in basis points. 100 means 1%, and 10000 means 100%.",
            "smithy.api#required": {}
          }
        },
        "scoped_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connected account ID, prefixed `biz_`. Null designates all direct connected accounts of the funding platform.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "starts_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Inclusive start of the rule's eligibility window, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the rule was last updated, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.cashback_rules#CreateCashbackRule": {
      "type": "operation",
      "input": {
        "target": "com.whop.cashback_rules#CreateCashbackRuleRequest"
      },
      "output": {
        "target": "com.whop.cashback_rules#CashbackRule"
      },
      "errors": [
        {
          "target": "com.whop.cashback_rules#BadRequest"
        },
        {
          "target": "com.whop.cashback_rules#Forbidden"
        },
        {
          "target": "com.whop.cashback_rules#NotFound"
        },
        {
          "target": "com.whop.cashback_rules#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cashback_rule",
          "code": 200
        },
        "smithy.api#documentation": "Create Cashback Rule\n\nCreates a future-dated card cashback rule funded by the authenticated platform account. Requires payout:transfer_funds. Merchant name and MCC are optional. Every supplied merchant filter must match. When both are omitted or null, scoped_account_id is required and all eligible transactions for that account match. Optionally limit the rule to one direct connected account. The funding account is derived from the credential and cannot be supplied. Creation does not transfer funds. Supports Idempotency-Key for safe retries."
      }
    },
    "com.whop.cashback_rules#ListCashbackRulesRequestOrder": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        }
      },
      "traits": {}
    },
    "com.whop.cashback_rules#ListCashbackRulesRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.whop.cashback_rules#ListCashbackRulesRequest": {
      "type": "structure",
      "members": {
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "Number of results to return from the start of the range."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Return results after this cursor. Use `page_info.end_cursor` from the previous response to fetch the next page."
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last",
            "smithy.api#documentation": "Number of results to return from the end of the range."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "Return results before this cursor. Use `page_info.start_cursor` from the previous response to fetch the previous page."
          }
        },
        "order": {
          "target": "com.whop.cashback_rules#ListCashbackRulesRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Field to sort by. Defaults to created_at."
          }
        },
        "direction": {
          "target": "com.whop.cashback_rules#ListCashbackRulesRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "Sort direction. Defaults to desc."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.cashback_rules#ListCashbackRulesResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.cashback_rules#CashbackRule"
      },
      "traits": {}
    },
    "com.whop.cashback_rules#ListCashbackRulesResponsePageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.cashback_rules#ListCashbackRulesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.cashback_rules#ListCashbackRulesResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.cashback_rules#ListCashbackRulesResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.cashback_rules#ListCashbackRules": {
      "type": "operation",
      "input": {
        "target": "com.whop.cashback_rules#ListCashbackRulesRequest"
      },
      "output": {
        "target": "com.whop.cashback_rules#ListCashbackRulesResponse"
      },
      "errors": [
        {
          "target": "com.whop.cashback_rules#BadRequest"
        },
        {
          "target": "com.whop.cashback_rules#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cashback_rules",
          "code": 200
        },
        "smithy.api#documentation": "List Cashback Rules\n\nLists all cashback rules funded by the authenticated platform account. Includes scheduled, expired, and discarded rules. Requires payout:transfer:read. Account-scoped credentials are required; there is no caller-supplied funding-account filter.",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.cashback_rules#PayoutCashbackRulesRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pay only this direct connected account.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cashback_rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pay only transactions whose winning cashback rule has this ID and is funded by the authenticated platform.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "transaction_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pay only this card transaction belonging to a direct connected account.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "Client-generated key for replaying the same request safely for 24 hours."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.cashback_rules#CashbackPayout": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connected account filter from the request, prefixed `biz_`. Omitted when not supplied.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cashback_rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cashback rule filter from the request, prefixed `cicbr_`. Omitted when not supplied.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.whop.cashback_rules#CashbackPayoutStatus",
          "traits": {
            "smithy.api#documentation": "Request status. `processing` means background processing was queued, not that payment completed. `failed` means the queue rejected the request. Subsequent transaction failures retry automatically.",
            "smithy.api#required": {}
          }
        },
        "transaction_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Card transaction filter from the request, prefixed `citx_`. Omitted when not supplied.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.cashback_rules#CashbackPayoutStatus": {
      "type": "enum",
      "members": {
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request status. `processing` means background processing was queued, not that payment completed. `failed` means the queue rejected the request. Subsequent transaction failures retry automatically."
      }
    },
    "com.whop.cashback_rules#PayoutCashbackRules": {
      "type": "operation",
      "input": {
        "target": "com.whop.cashback_rules#PayoutCashbackRulesRequest"
      },
      "output": {
        "target": "com.whop.cashback_rules#CashbackPayout"
      },
      "errors": [
        {
          "target": "com.whop.cashback_rules#BadRequest"
        },
        {
          "target": "com.whop.cashback_rules#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cashback_rules/payout",
          "code": 200
        },
        "smithy.api#documentation": "Pay Out Cashback\n\nDistributes cashback on demand from the authenticated platform's available USD balance to its direct connected accounts. Requires payout:transfer_funds. Optional filters combine; an empty body includes all eligible transactions. Only completed, unpaid transactions created before this request are considered. The latest matching rule wins; its funding account must be the authenticated platform. Amounts are calculated when processed. Returns status `processing` and echoes supplied filters when background processing is queued. Status `failed` with HTTP 200 means the queue rejected the request. This is not a payment confirmation. Failed transaction jobs retry automatically; insufficient funds requires adding USD to the funding wallet. Supports Idempotency-Key, and overlapping requests cannot pay the same card transaction twice."
      }
    },
    "com.whop.cashback_rules#UpdateCashbackRuleRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the cashback rule, prefixed cicbr_."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the rule. Set null to clear it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exclusive end as an ISO 8601 timestamp, strictly later than the original starts_at. May be in the past to end an active rule. Set null to remove the expiration.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "merchant_category_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Four-digit MCC, including leading zeros. Null matches any MCC. When both merchant filters are absent, scoped_account_id is required.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "merchant_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw merchant name reported by the card provider. Set null to match any merchant name. Supplied names must contain a non-whitespace character and match together with any MCC filter. Clearing both filters requires an existing scoped_account_id.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.cashback_rules#UpdateCashbackRule": {
      "type": "operation",
      "input": {
        "target": "com.whop.cashback_rules#UpdateCashbackRuleRequest"
      },
      "output": {
        "target": "com.whop.cashback_rules#CashbackRule"
      },
      "errors": [
        {
          "target": "com.whop.cashback_rules#BadRequest"
        },
        {
          "target": "com.whop.cashback_rules#Forbidden"
        },
        {
          "target": "com.whop.cashback_rules#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/cashback_rules/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update Cashback Rule\n\nUpdates a cashback rule funded by the authenticated platform account. Requires payout:transfer_funds. Only merchant_name, merchant_category_code, description, and expires_at can change; starts_at, rate_bps, funding_account_id, and scoped_account_id are immutable. Omitted fields stay unchanged. Scheduled, active, and expired rules can be updated; discarded rules cannot. Updating a rule does not transfer funds."
      }
    },
    "com.whop.cashback_rules#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.whop.cashback_rules#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.whop.cashback_rules#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.whop.cashback_rules#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.whop.cashback_rules#CashbackRules": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.cashback_rules#CreateCashbackRule"
        },
        {
          "target": "com.whop.cashback_rules#ListCashbackRules"
        },
        {
          "target": "com.whop.cashback_rules#PayoutCashbackRules"
        },
        {
          "target": "com.whop.cashback_rules#UpdateCashbackRule"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
