{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.whop.domains#ListDomainsRequestStatus": {
      "type": "enum",
      "members": {
        "PENDING_VERIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_verification"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action_required"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removed"
          }
        }
      },
      "traits": {}
    },
    "com.whop.domains#ListDomainsRequestOrder": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        }
      },
      "traits": {}
    },
    "com.whop.domains#ListDomainsRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.whop.domains#ListDomainsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#documentation": "Only domains belonging to this account, prefixed biz_."
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "app_id",
            "smithy.api#documentation": "Only domains assigned to this app, prefixed app_."
          }
        },
        "status": {
          "target": "com.whop.domains#ListDomainsRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Only domains with this lifecycle status."
          }
        },
        "order": {
          "target": "com.whop.domains#ListDomainsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Field to sort by."
          }
        },
        "direction": {
          "target": "com.whop.domains#ListDomainsRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "Sort direction."
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "Number of results to return from the start of the range."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Return results after this cursor. Use `page_info.end_cursor` from the previous response to fetch the next page."
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last",
            "smithy.api#documentation": "Number of results to return from the end of the range."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "Return results before this cursor. Use `page_info.start_cursor` from the previous response to fetch the previous page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.domains#Domain": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the account claiming or owning this domain, prefixed `biz_`.",
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the app assigned to this domain, prefixed `app_`.",
            "smithy.api#required": {}
          }
        },
        "certificate_status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare's latest certificate issuance status.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the domain claim was created, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "dns_records": {
          "target": "com.whop.domains#DomainDnsRecordsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dns_status": {
          "target": "com.whop.domains#DomainDnsStatus",
          "traits": {
            "smithy.api#documentation": "Result of the most recent DNS routing check. Ownership is verified separately.",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Normalized hostname, such as checkout.example.com.",
            "smithy.api#required": {}
          }
        },
        "hostname_status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare's latest hostname activation status.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain ID, prefixed `dom_`.",
            "smithy.api#required": {}
          }
        },
        "issues": {
          "target": "com.whop.domains#DomainIssuesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_checked_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When DNS and provider state were last checked, as an ISO 8601 timestamp.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.whop.domains#DomainMetadataMap",
          "traits": {
            "smithy.api#documentation": "Custom string keys and values attached to this domain.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.whop.domains#DomainStatus",
          "traits": {
            "smithy.api#documentation": "Domain lifecycle. Only active domains resolve to their app.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the domain was last updated, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "verification_expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When an unverified claim is automatically deleted, 48 hours after creation, as an ISO 8601 timestamp.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "verified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When Whop verified the ownership TXT record, as an ISO 8601 timestamp.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.domains#DomainDnsRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full hostname where the record must be published.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.whop.domains#DomainDnsRecordType",
          "traits": {
            "smithy.api#documentation": "DNS record type.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record content.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.domains#DomainDnsRecordType": {
      "type": "enum",
      "members": {
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DNS record type."
      }
    },
    "com.whop.domains#DomainDnsRecordsList": {
      "type": "list",
      "member": {
        "target": "com.whop.domains#DomainDnsRecord"
      },
      "traits": {}
    },
    "com.whop.domains#DomainDnsStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "valid"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of the most recent DNS routing check. Ownership is verified separately."
      }
    },
    "com.whop.domains#DomainIssue": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source of the setup issue.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What needs attention before the domain can serve the website.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.domains#DomainIssuesList": {
      "type": "list",
      "member": {
        "target": "com.whop.domains#DomainIssue"
      },
      "traits": {}
    },
    "com.whop.domains#DomainMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Custom string keys and values attached to this domain."
      }
    },
    "com.whop.domains#DomainStatus": {
      "type": "enum",
      "members": {
        "PENDING_VERIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_verification"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action_required"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Domain lifecycle. Only active domains resolve to their app."
      }
    },
    "com.whop.domains#ListDomainsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.domains#Domain"
      },
      "traits": {}
    },
    "com.whop.domains#ListDomainsResponsePageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.domains#ListDomainsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.domains#ListDomainsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.domains#ListDomainsResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.domains#ListDomains": {
      "type": "operation",
      "input": {
        "target": "com.whop.domains#ListDomainsRequest"
      },
      "output": {
        "target": "com.whop.domains#ListDomainsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domains",
          "code": 200
        },
        "smithy.api#documentation": "List Domains\n\nLists the caller's domain claims and assignments. Filter by account, app, or lifecycle status.",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.domains#CreateDomainRequestMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Custom string keys and values."
      }
    },
    "com.whop.domains#CreateDomainRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID, prefixed biz_. Required for user credentials; otherwise defaults to the credential's account."
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App ID, prefixed app_. The app must belong to the account.",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bare hostname, such as example.com or checkout.example.com. Wildcards, paths, schemes, and ports are not accepted.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.whop.domains#CreateDomainRequestMetadataMap",
          "traits": {
            "smithy.api#documentation": "Custom string keys and values."
          }
        },
        "replace_existing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Explicitly transfer a domain from its current owner after publishing this new claim's TXT proof. Create the claim after the current owner verified."
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique key that makes this request safe to retry. See [Idempotent requests](https://docs.whop.com/developer/api/idempotency)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.domains#CreateDomain": {
      "type": "operation",
      "input": {
        "target": "com.whop.domains#CreateDomainRequest"
      },
      "output": {
        "target": "com.whop.domains#Domain"
      },
      "errors": [
        {
          "target": "com.whop.domains#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains",
          "code": 200
        },
        "smithy.api#documentation": "Create Domain\n\nCreates an unverified claim and returns DNS instructions. A claim does not reserve the hostname globally. Publish its unique TXT record; ownership verification, DNS checks, and certificate provisioning run automatically. Unverified claims are deleted after 48 hours."
      }
    },
    "com.whop.domains#GetDomainRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain ID, prefixed dom_."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.domains#GetDomain": {
      "type": "operation",
      "input": {
        "target": "com.whop.domains#GetDomainRequest"
      },
      "output": {
        "target": "com.whop.domains#Domain"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domains/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve Domain\n\nRetrieves the claim, app assignment, DNS instructions, and the latest hostname and certificate state. For domains still connecting, needing attention, or being deleted, requests an immediate background check."
      }
    },
    "com.whop.domains#UpdateDomainRequestMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Replacement custom string keys and values."
      }
    },
    "com.whop.domains#UpdateDomainRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain ID, prefixed dom_."
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App ID, prefixed app_. Must belong to the same account."
          }
        },
        "metadata": {
          "target": "com.whop.domains#UpdateDomainRequestMetadataMap",
          "traits": {
            "smithy.api#documentation": "Replacement custom string keys and values."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.domains#UpdateDomain": {
      "type": "operation",
      "input": {
        "target": "com.whop.domains#UpdateDomainRequest"
      },
      "output": {
        "target": "com.whop.domains#Domain"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/domains/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update Domain\n\nReassigns a domain to another app in the same account or replaces its metadata. The hostname and owning account cannot be edited."
      }
    },
    "com.whop.domains#DeleteDomainRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain ID, prefixed dom_."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.domains#DeleteDomain": {
      "type": "operation",
      "input": {
        "target": "com.whop.domains#DeleteDomainRequest"
      },
      "output": {
        "target": "com.whop.domains#Domain"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/domains/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete Domain\n\nStops resolving the domain to its app and queues Cloudflare cleanup. The response is deleting; retrieve the resource until it is removed."
      }
    },
    "com.whop.domains#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.whop.domains#Domains": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.domains#ListDomains"
        },
        {
          "target": "com.whop.domains#CreateDomain"
        },
        {
          "target": "com.whop.domains#GetDomain"
        },
        {
          "target": "com.whop.domains#UpdateDomain"
        },
        {
          "target": "com.whop.domains#DeleteDomain"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
