{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.whop.partner_referral_requests#ListPartnerReferralRequestsRequestStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "denied"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        }
      },
      "traits": {}
    },
    "com.whop.partner_referral_requests#ListPartnerReferralRequestsRequestRequestType": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "OWNERSHIP_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ownership_transfer"
          }
        },
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "link"
          }
        }
      },
      "traits": {}
    },
    "com.whop.partner_referral_requests#ListPartnerReferralRequestsRequestOrder": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        }
      },
      "traits": {}
    },
    "com.whop.partner_referral_requests#ListPartnerReferralRequestsRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.whop.partner_referral_requests#ListPartnerReferralRequestsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#documentation": "Only requests for this business ID, prefixed `biz_`."
          }
        },
        "target_user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "target_user_id",
            "smithy.api#documentation": "Only requests received by this user ID, prefixed `user_`."
          }
        },
        "partner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "partner_id",
            "smithy.api#documentation": "Only requests sent by this partner's user ID, prefixed `user_`."
          }
        },
        "status": {
          "target": "com.whop.partner_referral_requests#ListPartnerReferralRequestsRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Only requests with this approval status."
          }
        },
        "request_type": {
          "target": "com.whop.partner_referral_requests#ListPartnerReferralRequestsRequestRequestType",
          "traits": {
            "smithy.api#httpQuery": "request_type",
            "smithy.api#documentation": "Only requests initiated in this way."
          }
        },
        "order": {
          "target": "com.whop.partner_referral_requests#ListPartnerReferralRequestsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Field used to sort requests."
          }
        },
        "direction": {
          "target": "com.whop.partner_referral_requests#ListPartnerReferralRequestsRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "Sort direction."
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "Number of results to return from the start of the range."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Return results after this cursor. Use `page_info.end_cursor` from the previous response to fetch the next page."
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last",
            "smithy.api#documentation": "Number of results to return from the end of the range."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "Return results before this cursor. Use `page_info.start_cursor` from the previous response to fetch the previous page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.partner_referral_requests#PartnerReferralRequest": {
      "type": "structure",
      "members": {
        "account": {
          "target": "com.whop.partner_referral_requests#AccountSummary",
          "traits": {
            "smithy.api#documentation": "Business receiving the request, when one is assigned.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique referral code, when assigned.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the request was created, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Partner referral request ID, prefixed `prfr_`.",
            "smithy.api#required": {}
          }
        },
        "max_redemptions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum permitted redemptions, when limited.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "partner": {
          "target": "com.whop.partner_referral_requests#UserSummary",
          "traits": {
            "smithy.api#documentation": "Public profile of the requesting partner.",
            "smithy.api#required": {}
          }
        },
        "request_type": {
          "target": "com.whop.partner_referral_requests#PartnerReferralRequestRequestType",
          "traits": {
            "smithy.api#documentation": "How the referral request was initiated.",
            "smithy.api#required": {}
          }
        },
        "rewards": {
          "target": "com.whop.partner_referral_requests#PartnerReferralRequestRewardsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.whop.partner_referral_requests#PartnerReferralRequestStatus",
          "traits": {
            "smithy.api#documentation": "The approval state, or null for requests without an approval process.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the request last changed, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.whop.partner_referral_requests#UserSummary",
          "traits": {
            "smithy.api#documentation": "User receiving the attribution request, or null for a business request or referral link.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.partner_referral_requests#AccountSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID, prefixed `biz_`.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account display name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.partner_referral_requests#UserSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User ID, prefixed `user_`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "profile_picture": {
          "target": "com.whop.partner_referral_requests#UserProfilePicture",
          "traits": {
            "smithy.api#documentation": "Avatar wrapper; its `url` is always present, using a generated placeholder when the user set no picture.",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public username.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.partner_referral_requests#UserProfilePicture": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Avatar image URL. Always present — a generated placeholder when the user set no picture.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.partner_referral_requests#PartnerReferralRequestRequestType": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "OWNERSHIP_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ownership_transfer"
          }
        },
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "link"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How the referral request was initiated."
      }
    },
    "com.whop.partner_referral_requests#PartnerReferralReward": {
      "type": "structure",
      "members": {
        "bot_qualification_type": {
          "target": "com.whop.partner_referral_requests#PartnerReferralRewardBotQualificationType",
          "traits": {
            "smithy.api#documentation": "Activity that qualifies for this reward, when specified.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Partner reward ID, prefixed `prwd_`.",
            "smithy.api#required": {}
          }
        },
        "qualification_amount": {
          "target": "com.whop.partner_referral_requests#Money",
          "traits": {
            "smithy.api#documentation": "USD amount of qualifying activity required to earn the reward.",
            "smithy.api#required": {}
          }
        },
        "recipient": {
          "target": "com.whop.partner_referral_requests#PartnerReferralRewardRecipient",
          "traits": {
            "smithy.api#documentation": "Reward recipient's role, or null for a fixed user who is not the requesting partner.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "recipient_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Concrete recipient's user or business ID, or null until a business redeems the offer.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "reward_amount": {
          "target": "com.whop.partner_referral_requests#Money",
          "traits": {
            "smithy.api#documentation": "USD amount granted after qualification.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.partner_referral_requests#PartnerReferralRewardBotQualificationType": {
      "type": "enum",
      "members": {
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "AD_SPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ad_spend"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Activity that qualifies for this reward, when specified."
      }
    },
    "com.whop.partner_referral_requests#Money": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount in major units, as an exact decimal string — `\"10.00\"` is ten dollars. A string so no float rounds it in transit.",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Three-letter ISO 4217 currency code, lowercase.",
            "smithy.api#required": {}
          }
        },
        "decimals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many decimal places the amount CARRIES — the precision the charge itself runs at.",
            "smithy.api#required": {}
          }
        },
        "display_decimals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many decimal places to SHOW. Usually equal to `decimals`, and deliberately not always: COP is charged in centavos but written in whole pesos, so it is `2` and `0`. Format the number in your own locale using this.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.partner_referral_requests#PartnerReferralRewardRecipient": {
      "type": "enum",
      "members": {
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "business"
          }
        },
        "PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partner"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reward recipient's role, or null for a fixed user who is not the requesting partner."
      }
    },
    "com.whop.partner_referral_requests#PartnerReferralRequestRewardsList": {
      "type": "list",
      "member": {
        "target": "com.whop.partner_referral_requests#PartnerReferralReward"
      },
      "traits": {}
    },
    "com.whop.partner_referral_requests#PartnerReferralRequestStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "denied"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The approval state, or null for requests without an approval process."
      }
    },
    "com.whop.partner_referral_requests#ListPartnerReferralRequestsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.partner_referral_requests#PartnerReferralRequest"
      },
      "traits": {}
    },
    "com.whop.partner_referral_requests#ListPartnerReferralRequestsResponsePageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.partner_referral_requests#ListPartnerReferralRequestsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.partner_referral_requests#ListPartnerReferralRequestsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.partner_referral_requests#ListPartnerReferralRequestsResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.partner_referral_requests#ListPartnerReferralRequests": {
      "type": "operation",
      "input": {
        "target": "com.whop.partner_referral_requests#ListPartnerReferralRequestsRequest"
      },
      "output": {
        "target": "com.whop.partner_referral_requests#ListPartnerReferralRequestsResponse"
      },
      "errors": [
        {
          "target": "com.whop.partner_referral_requests#BadRequest"
        },
        {
          "target": "com.whop.partner_referral_requests#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/partner_referral_requests",
          "code": 200
        },
        "smithy.api#documentation": "List partner referral requests\n\nLists your referral links and attribution requests, including incoming requests for you or businesses you own, with filters for recipient, partner, type, and status.",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.partner_referral_requests#CreatePartnerReferralRequestRequestBodyCase0": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Business to request attribution for, prefixed `biz_`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.partner_referral_requests#CreatePartnerReferralRequestRequestBodyCase1": {
      "type": "structure",
      "members": {
        "account_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP or HTTPS Whop business or product link.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.partner_referral_requests#CreatePartnerReferralRequestRequestBodyCase2": {
      "type": "structure",
      "members": {
        "target_user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enrolled partner to request attribution for, prefixed `user_`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.partner_referral_requests#CreatePartnerReferralRequestRequestBodyCase3": {
      "type": "structure",
      "members": {
        "target_username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Username of the user to request attribution for, with or without a leading @.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.partner_referral_requests#CreatePartnerReferralRequestRequestBodyCase4RequestType": {
      "type": "enum",
      "members": {
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "link"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Create or retrieve a reusable referral link without requesting attribution for an existing business."
      }
    },
    "com.whop.partner_referral_requests#CreatePartnerReferralRequestRequestBodyCase4": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Case-insensitive referral code containing letters, numbers, and single hyphens. New codes are stored in lowercase. Omit to generate six random letters, or reuse a saved link when no configuration is supplied."
          }
        },
        "max_redemptions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum permitted redemptions, or null for no configured limit.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "partner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional authenticated partner ID, prefixed `user_`. Ordinary credentials cannot select another partner. Staff must supply the enrolled, non-suspended partner receiving attribution."
          }
        },
        "request_type": {
          "target": "com.whop.partner_referral_requests#CreatePartnerReferralRequestRequestBodyCase4RequestType",
          "traits": {
            "smithy.api#documentation": "Create or retrieve a reusable referral link without requesting attribution for an existing business.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Create your own referral link with an optional custom code and redemption limit. Without configuration, returns your oldest saved link or creates one with a random code. Only authorized staff can configure rewards or select another partner."
      }
    },
    "com.whop.partner_referral_requests#CreatePartnerReferralRequestRequestBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.whop.partner_referral_requests#CreatePartnerReferralRequestRequestBodyCase0"
        },
        "Case1": {
          "target": "com.whop.partner_referral_requests#CreatePartnerReferralRequestRequestBodyCase1"
        },
        "Case2": {
          "target": "com.whop.partner_referral_requests#CreatePartnerReferralRequestRequestBodyCase2"
        },
        "Case3": {
          "target": "com.whop.partner_referral_requests#CreatePartnerReferralRequestRequestBodyCase3"
        },
        "Case4": {
          "target": "com.whop.partner_referral_requests#CreatePartnerReferralRequestRequestBodyCase4"
        }
      },
      "traits": {}
    },
    "com.whop.partner_referral_requests#CreatePartnerReferralRequestRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.whop.partner_referral_requests#CreatePartnerReferralRequestRequestBody",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique key that makes this request safe to retry. See [Idempotent requests](https://docs.whop.com/developer/api/idempotency)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.partner_referral_requests#CreatePartnerReferralRequest": {
      "type": "operation",
      "input": {
        "target": "com.whop.partner_referral_requests#CreatePartnerReferralRequestRequest"
      },
      "output": {
        "target": "com.whop.partner_referral_requests#PartnerReferralRequest"
      },
      "errors": [
        {
          "target": "com.whop.partner_referral_requests#BadRequest"
        },
        {
          "target": "com.whop.partner_referral_requests#Forbidden"
        },
        {
          "target": "com.whop.partner_referral_requests#NotFound"
        },
        {
          "target": "com.whop.partner_referral_requests#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/partner_referral_requests",
          "code": 200
        },
        "smithy.api#documentation": "Create a partner referral request\n\nCreates a referral link or sends a verified partner's attribution request to an existing business or enrolled partner for approval."
      }
    },
    "com.whop.partner_referral_requests#GetPartnerReferralRequestRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Partner referral request ID, prefixed `prfr_`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.partner_referral_requests#GetPartnerReferralRequest": {
      "type": "operation",
      "input": {
        "target": "com.whop.partner_referral_requests#GetPartnerReferralRequestRequest"
      },
      "output": {
        "target": "com.whop.partner_referral_requests#PartnerReferralRequest"
      },
      "errors": [
        {
          "target": "com.whop.partner_referral_requests#Forbidden"
        },
        {
          "target": "com.whop.partner_referral_requests#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/partner_referral_requests/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a partner referral request\n\nRetrieves a referral link or attribution request by ID, including its partner, recipient, approval status, and referral code when present."
      }
    },
    "com.whop.partner_referral_requests#AcceptPartnerReferralRequestRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Partner referral request ID, prefixed `prfr_`."
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique key that makes this request safe to retry. See [Idempotent requests](https://docs.whop.com/developer/api/idempotency)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.partner_referral_requests#AcceptPartnerReferralRequest": {
      "type": "operation",
      "input": {
        "target": "com.whop.partner_referral_requests#AcceptPartnerReferralRequestRequest"
      },
      "output": {
        "target": "com.whop.partner_referral_requests#PartnerReferralRequest"
      },
      "errors": [
        {
          "target": "com.whop.partner_referral_requests#Forbidden"
        },
        {
          "target": "com.whop.partner_referral_requests#NotFound"
        },
        {
          "target": "com.whop.partner_referral_requests#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/partner_referral_requests/{id}/accept",
          "code": 200
        },
        "smithy.api#documentation": "Accept a partner referral request\n\nAccepts a pending attribution request as the receiving user or business owner, assigning the requesting partner as that user's or business's referrer."
      }
    },
    "com.whop.partner_referral_requests#CancelPartnerReferralRequestRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Partner referral request ID, prefixed `prfr_`."
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique key that makes this request safe to retry. See [Idempotent requests](https://docs.whop.com/developer/api/idempotency)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.partner_referral_requests#CancelPartnerReferralRequest": {
      "type": "operation",
      "input": {
        "target": "com.whop.partner_referral_requests#CancelPartnerReferralRequestRequest"
      },
      "output": {
        "target": "com.whop.partner_referral_requests#PartnerReferralRequest"
      },
      "errors": [
        {
          "target": "com.whop.partner_referral_requests#Forbidden"
        },
        {
          "target": "com.whop.partner_referral_requests#NotFound"
        },
        {
          "target": "com.whop.partner_referral_requests#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/partner_referral_requests/{id}/cancel",
          "code": 200
        },
        "smithy.api#documentation": "Cancel a partner referral request\n\nCancels a pending attribution request you sent so the recipient can no longer accept it, and returns the cancelled request."
      }
    },
    "com.whop.partner_referral_requests#DeclinePartnerReferralRequestRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Partner referral request ID, prefixed `prfr_`."
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique key that makes this request safe to retry. See [Idempotent requests](https://docs.whop.com/developer/api/idempotency)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.partner_referral_requests#DeclinePartnerReferralRequest": {
      "type": "operation",
      "input": {
        "target": "com.whop.partner_referral_requests#DeclinePartnerReferralRequestRequest"
      },
      "output": {
        "target": "com.whop.partner_referral_requests#PartnerReferralRequest"
      },
      "errors": [
        {
          "target": "com.whop.partner_referral_requests#Forbidden"
        },
        {
          "target": "com.whop.partner_referral_requests#NotFound"
        },
        {
          "target": "com.whop.partner_referral_requests#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/partner_referral_requests/{id}/decline",
          "code": 200
        },
        "smithy.api#documentation": "Decline a partner referral request\n\nDeclines a pending attribution request for you or a business you own, marking it as denied without assigning the requesting partner as a referrer."
      }
    },
    "com.whop.partner_referral_requests#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.whop.partner_referral_requests#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.whop.partner_referral_requests#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.whop.partner_referral_requests#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.whop.partner_referral_requests#PartnerReferralRequests": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.partner_referral_requests#ListPartnerReferralRequests"
        },
        {
          "target": "com.whop.partner_referral_requests#CreatePartnerReferralRequest"
        },
        {
          "target": "com.whop.partner_referral_requests#GetPartnerReferralRequest"
        },
        {
          "target": "com.whop.partner_referral_requests#AcceptPartnerReferralRequest"
        },
        {
          "target": "com.whop.partner_referral_requests#CancelPartnerReferralRequest"
        },
        {
          "target": "com.whop.partner_referral_requests#DeclinePartnerReferralRequest"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
