{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.whop.payments#ListPaymentsRequestStatus": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "AUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authorized"
          }
        },
        "PAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paid"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "UNCOLLECTIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uncollectible"
          }
        },
        "UNRESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unresolved"
          }
        },
        "VOID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "void"
          }
        }
      },
      "traits": {}
    },
    "com.whop.payments#ListPaymentsRequestBillingReason": {
      "type": "enum",
      "members": {
        "SUBSCRIPTION_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription_create"
          }
        },
        "SUBSCRIPTION_CYCLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription_cycle"
          }
        },
        "SUBSCRIPTION_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription_update"
          }
        },
        "ONE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "one_time"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription"
          }
        }
      },
      "traits": {}
    },
    "com.whop.payments#ListPaymentsRequestOrder": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "PAID_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paid_at"
          }
        }
      },
      "traits": {}
    },
    "com.whop.payments#ListPaymentsRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.whop.payments#ListPaymentsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#documentation": "Only payments charged by this account, prefixed `biz_`."
          }
        },
        "status": {
          "target": "com.whop.payments#ListPaymentsRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Only payments in this lifecycle state."
          }
        },
        "billing_reason": {
          "target": "com.whop.payments#ListPaymentsRequestBillingReason",
          "traits": {
            "smithy.api#httpQuery": "billing_reason",
            "smithy.api#documentation": "Only payments charged for this reason."
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "currency",
            "smithy.api#documentation": "Only payments presented in this three-letter currency, such as `usd`."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "user_id",
            "smithy.api#documentation": "Only payments made by this buyer, prefixed `user_`. Payments are listed for the accounts the caller manages, so `me` is not accepted; list the caller's own purchases with `GET /memberships?user_id=me`."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "query",
            "smithy.api#documentation": "Search payments by user ID, membership ID, user email, name, or username. Email filtering requires the member:email:read permission."
          }
        },
        "member_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "member_id",
            "smithy.api#documentation": "Only payments made by this member, prefixed `mber_`."
          }
        },
        "membership_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "membership_id",
            "smithy.api#documentation": "Only payments billed under this membership, prefixed `mem_`."
          }
        },
        "product_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "product_id",
            "smithy.api#documentation": "Only payments for this product, prefixed `prod_`."
          }
        },
        "plan_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "plan_id",
            "smithy.api#documentation": "Only payments priced by this plan, prefixed `plan_`."
          }
        },
        "created_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_before",
            "smithy.api#documentation": "Only payments created before this ISO 8601 timestamp."
          }
        },
        "created_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_after",
            "smithy.api#documentation": "Only payments created after this ISO 8601 timestamp."
          }
        },
        "order": {
          "target": "com.whop.payments#ListPaymentsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "The field to sort by."
          }
        },
        "direction": {
          "target": "com.whop.payments#ListPaymentsRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "The sort direction."
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "Number of results to return from the start of the range."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Return results after this cursor. Use `page_info.end_cursor` from the previous response to fetch the next page."
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last",
            "smithy.api#documentation": "Number of results to return from the end of the range."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "Return results before this cursor. Use `page_info.start_cursor` from the previous response to fetch the previous page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.payments#Payment": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account that received the payment, prefixed `biz_`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "amount_after_fees": {
          "target": "com.whop.payments#Money",
          "traits": {
            "smithy.api#documentation": "What the account keeps: the total less Whop's fees.",
            "smithy.api#required": {}
          }
        },
        "auto_refunded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when Whop refunded the payment automatically, for example on a dispute alert.",
            "smithy.api#required": {}
          }
        },
        "billing_address": {
          "target": "com.whop.payments#PaymentAddress",
          "traits": {
            "smithy.api#documentation": "The billing address the buyer entered, or null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "billing_reason": {
          "target": "com.whop.payments#BillingReasons",
          "traits": {
            "smithy.api#documentation": "Why the charge was created: a first purchase, a renewal, a one-time payment, or a manual charge.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "checkout_configuration_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The checkout configuration the buyer paid through, prefixed `ch_`, or null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The credential a buyer's surface presents to poll this payment and set its return URL. Only on payments created from a confirmation token, and always null in list responses — retrieve the payment for it.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {},
            "smithy.api#sensitive": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the payment was created, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "com.whop.payments#Currencies",
          "traits": {
            "smithy.api#documentation": "The currency the payment settles in, lowercase ISO 4217. Every money field below is stated in it unless it says otherwise.",
            "smithy.api#required": {}
          }
        },
        "customer_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The buyer's email address. Null without `member:email:read` on the account or when the buyer has no assigned email.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "customer_phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phone number the buyer gave at checkout, when one was collected.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "decline_code": {
          "target": "com.whop.payments#PaymentDeclineCodes",
          "traits": {
            "smithy.api#documentation": "The normalized decline reason of the most recent failed attempt, or null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dispute_alerted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When an issuer warned that this payment will be disputed, or null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "failure_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the most recent attempt failed, in plain words, or null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "financing_installments_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "For installment methods, how many payments the charge splits into.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "holds": {
          "target": "com.whop.payments#PaymentHoldsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Payment ID, prefixed `pay_`.",
            "smithy.api#required": {}
          }
        },
        "last_payment_attempt_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the most recent charge attempt ran, or null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "line_items": {
          "target": "com.whop.payments#PaymentLineItemsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "member_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The buyer's member record on the account, prefixed `mber_`. Null without the member:basic:read permission.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "membership_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The membership this payment is billed against, prefixed `mem_`. Null for one-off purchases or without the member:basic:read permission.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Your own key-value data attached when the payment was created.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "needs_tracking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when funds are held until the order ships and no tracking number has been added yet. Null without the shipment:basic:read permission.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_payment_attempt_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the next automatic retry is scheduled, or null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "paid_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the money was collected, or null while it has not been.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "payment_instrument": {
          "target": "com.whop.payments#PaymentInstrument",
          "traits": {
            "smithy.api#documentation": "The instrument shaped for display: a buyer-facing name, the standard icon set, and the card's brand, last four and issuer identification number when it was a card.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "payment_method_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stored payment method that was charged, prefixed `payt_`. Null when the method was not saved.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "payment_method_type": {
          "target": "com.whop.payments#PaymentMethodTypes",
          "traits": {
            "smithy.api#documentation": "The kind of instrument used, for example `card`, `apple_pay`, `klarna`, or `us_bank_account`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "payment_rule_matches": {
          "target": "com.whop.payments#PaymentPaymentRuleMatchesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "payments_failed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How many charge attempts have failed on this payment.",
            "smithy.api#required": {}
          }
        },
        "plan_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plan that was charged, prefixed `plan_`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "presentment_total": {
          "target": "com.whop.payments#Money",
          "traits": {
            "smithy.api#documentation": "The account-facing total in the currency presented to the buyer, before conversion into the settlement currency. Excludes buyer fees.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "product_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product the plan belongs to, prefixed `prod_`. Null for a plan with no product.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "promo_code_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The promo code applied at checkout, prefixed `promo_`, or null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "recovery_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whop-hosted URL where the buyer can sign in and complete 3D Secure for an off-session charge the bank challenged — a subscription renewal or a saved-card payment. Null when recovery is unavailable, you lack `member:basic:read`, or in list responses. Retrieve the payment for it.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "refundable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the payment is `paid`, not yet fully refunded, and its processor supports refunds.",
            "smithy.api#required": {}
          }
        },
        "refunded_amount": {
          "target": "com.whop.payments#Money",
          "traits": {
            "smithy.api#documentation": "How much has been refunded so far, as it settled — refunds convert at the rate in force when each one was issued, not the payment's original rate.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "refunded_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the payment was refunded, or null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "retryable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the payment is `open` and Whop can attempt the charge again — see `POST /payments/{id}/retry`.",
            "smithy.api#required": {}
          }
        },
        "risk_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Whop's published risk index from 0 (lowest) to 100 (highest), including enforced decision floors. This is not a fraud probability. Null when no score is available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "risk_signals": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Deprecated. Risk score explanations are no longer provided; always null.\nDEPRECATED: Risk score explanations are no longer provided. Always null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "settlement_time_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the portion not listed in `holds` posts to the account's available balance, at midnight UTC. The `financial_activity.funds_available` webhook's `posted_at` carries the same value when the settlement that clears it posts. Null until the payment is paid, and always null in list responses — retrieve the payment for it.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "shipment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The shipment fulfilling this payment, prefixed `ship_`. Null when nothing ships or without the shipment:basic:read permission.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "shipping_address": {
          "target": "com.whop.payments#PaymentAddress",
          "traits": {
            "smithy.api#documentation": "The shipping address for physical goods, or null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.whop.payments#ReceiptStatus",
          "traits": {
            "smithy.api#documentation": "The lifecycle state of the charge: `open` while collection is outstanding, `paid` once the money moved, `pending` while a settlement rail clears, `void`/`uncollectible` when it ended without collecting.",
            "smithy.api#required": {}
          }
        },
        "substatus": {
          "target": "com.whop.payments#FriendlyReceiptStatus",
          "traits": {
            "smithy.api#documentation": "The dashboard's finer-grained reading of the payment, folding in refunds, disputes and Resolution Center cases.",
            "smithy.api#required": {}
          }
        },
        "subtotal": {
          "target": "com.whop.payments#Money",
          "traits": {
            "smithy.api#documentation": "The price before discounts, tax and fees.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tax_amount": {
          "target": "com.whop.payments#Money",
          "traits": {
            "smithy.api#documentation": "The sales tax or VAT collected. Null when no tax applied.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tax_behavior": {
          "target": "com.whop.payments#ReceiptTaxBehaviors",
          "traits": {
            "smithy.api#documentation": "Whether `tax_amount` was added on top of the price (`exclusive`) or was already inside it (`inclusive`).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tax_refunded_amount": {
          "target": "com.whop.payments#Money",
          "traits": {
            "smithy.api#documentation": "How much of the collected tax has been returned to the buyer so far. Zero when the payment carried no tax, or when nothing has been refunded.",
            "smithy.api#required": {}
          }
        },
        "three_ds_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the buyer completed 3D Secure for this payment.",
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "com.whop.payments#Money",
          "traits": {
            "smithy.api#documentation": "The account-facing total: the price after discounts, plus any tax added on top. Excludes buyer fees, which the buyer pays above this amount — so this is not necessarily what the buyer's statement shows.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the payment last changed, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "usd_total": {
          "target": "com.whop.payments#Money",
          "traits": {
            "smithy.api#documentation": "The total converted to USD at the time of the charge, for reporting across currencies. Excludes the adaptive pricing FX markup, which the account does not keep.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "user": {
          "target": "com.whop.payments#UserSummary",
          "traits": {
            "smithy.api#documentation": "The buyer. Null when the payment belongs to a company buyer rather than a user.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "verification_checks": {
          "target": "com.whop.payments#PaymentVerificationChecks",
          "traits": {
            "smithy.api#documentation": "The Address Verification Service (AVS), cardholder name, and Card Verification Value (CVV/CVC) results, or null when the processor returned none.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "voidable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the payment can be voided or canceled. The request is rejected if the payment is no longer eligible — see `POST /payments/{id}/void`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.payments#Money": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount in major units, as an exact decimal string — `\"10.00\"` is ten dollars. A string so no float rounds it in transit.",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Three-letter ISO 4217 currency code, lowercase.",
            "smithy.api#required": {}
          }
        },
        "decimals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many decimal places the amount CARRIES — the precision the charge itself runs at.",
            "smithy.api#required": {}
          }
        },
        "display_decimals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many decimal places to SHOW. Usually equal to `decimals`, and deliberately not always: COP is charged in centavos but written in whole pesos, so it is `2` and `0`. Format the number in your own locale using this.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.payments#PaymentAddress": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The city.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO 3166-1 alpha-2 country code.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "line1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first street address line.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "line2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The second street address line.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name on the address.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "postal_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The postal or ZIP code.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The state, province or region.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.payments#BillingReasons": {
      "type": "enum",
      "members": {
        "SUBSCRIPTION_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription_create"
          }
        },
        "SUBSCRIPTION_CYCLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription_cycle"
          }
        },
        "SUBSCRIPTION_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription_update"
          }
        },
        "ONE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "one_time"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason why a specific payment was billed"
      }
    },
    "com.whop.payments#Currencies": {
      "type": "enum",
      "members": {
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usd"
          }
        },
        "SGD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sgd"
          }
        },
        "INR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inr"
          }
        },
        "AUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aud"
          }
        },
        "BRL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brl"
          }
        },
        "CAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cad"
          }
        },
        "DKK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dkk"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eur"
          }
        },
        "NOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nok"
          }
        },
        "GBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gbp"
          }
        },
        "SEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sek"
          }
        },
        "CHF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chf"
          }
        },
        "HKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hkd"
          }
        },
        "HUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "huf"
          }
        },
        "JPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpy"
          }
        },
        "MXN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mxn"
          }
        },
        "MYR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "myr"
          }
        },
        "PLN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pln"
          }
        },
        "CZK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "czk"
          }
        },
        "NZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nzd"
          }
        },
        "AED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aed"
          }
        },
        "ETH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eth"
          }
        },
        "APE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ape"
          }
        },
        "COP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cop"
          }
        },
        "RON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ron"
          }
        },
        "THB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thb"
          }
        },
        "BGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bgn"
          }
        },
        "IDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "idr"
          }
        },
        "DOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dop"
          }
        },
        "PHP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "php"
          }
        },
        "TRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "try"
          }
        },
        "KRW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "krw"
          }
        },
        "TWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "twd"
          }
        },
        "VND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vnd"
          }
        },
        "PKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pkr"
          }
        },
        "CLP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clp"
          }
        },
        "UYU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uyu"
          }
        },
        "ARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ars"
          }
        },
        "ZAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zar"
          }
        },
        "DZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dzd"
          }
        },
        "TND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tnd"
          }
        },
        "MAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mad"
          }
        },
        "KES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kes"
          }
        },
        "KWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kwd"
          }
        },
        "JOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jod"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "XCD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xcd"
          }
        },
        "AMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amd"
          }
        },
        "BSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bsd"
          }
        },
        "BHD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhd"
          }
        },
        "BOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bob"
          }
        },
        "BAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bam"
          }
        },
        "KHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "khr"
          }
        },
        "CRC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crc"
          }
        },
        "XOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xof"
          }
        },
        "EGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "egp"
          }
        },
        "ETB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "etb"
          }
        },
        "GMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gmd"
          }
        },
        "GHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ghs"
          }
        },
        "GTQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gtq"
          }
        },
        "GYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gyd"
          }
        },
        "ILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ils"
          }
        },
        "JMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jmd"
          }
        },
        "MOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mop"
          }
        },
        "MGA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mga"
          }
        },
        "MUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mur"
          }
        },
        "MDL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mdl"
          }
        },
        "MNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mnt"
          }
        },
        "NAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nad"
          }
        },
        "NGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ngn"
          }
        },
        "MKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mkd"
          }
        },
        "OMR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "omr"
          }
        },
        "PYG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pyg"
          }
        },
        "PEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pen"
          }
        },
        "QAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "qar"
          }
        },
        "RWF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rwf"
          }
        },
        "SAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sar"
          }
        },
        "RSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rsd"
          }
        },
        "LKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lkr"
          }
        },
        "TZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tzs"
          }
        },
        "TTD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ttd"
          }
        },
        "UZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uzs"
          }
        },
        "RUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rub"
          }
        },
        "BTC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "btc"
          }
        },
        "CNY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cny"
          }
        },
        "USDT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usdt"
          }
        },
        "KZT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kzt"
          }
        },
        "AWG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "awg"
          }
        },
        "WHOP_USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whop_usd"
          }
        },
        "XAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xau"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The available currencies on the platform"
      }
    },
    "com.whop.payments#PaymentDeclineCodes": {
      "type": "enum",
      "members": {
        "INSUFFICIENT_FUNDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "insufficient_funds"
          }
        },
        "LOST_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lost_card"
          }
        },
        "STOLEN_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stolen_card"
          }
        },
        "EXPIRED_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired_card"
          }
        },
        "SUSPECTED_FRAUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspected_fraud"
          }
        },
        "INVALID_CARD_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid_card_number"
          }
        },
        "INVALID_CVC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid_cvc"
          }
        },
        "INVALID_CVC_OR_EXPIRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid_cvc_or_expiration"
          }
        },
        "INCORRECT_PIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incorrect_pin"
          }
        },
        "AUTHENTICATION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authentication_required"
          }
        },
        "CARD_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_not_supported"
          }
        },
        "CURRENCY_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "currency_not_supported"
          }
        },
        "DUPLICATE_TRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duplicate_transaction"
          }
        },
        "GENERIC_DECLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "generic_decline"
          }
        },
        "INVALID_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid_account"
          }
        },
        "INVALID_AMOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid_amount"
          }
        },
        "PROCESSING_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing_error"
          }
        },
        "RESTRICTED_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restricted_card"
          }
        },
        "CARD_VELOCITY_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_velocity_exceeded"
          }
        },
        "CONTACT_ISSUER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contact_issuer"
          }
        },
        "BANK_DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_declined"
          }
        },
        "REGULATORY_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regulatory_blocked"
          }
        },
        "TRANSACTION_NOT_PERMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transaction_not_permitted"
          }
        },
        "TRANSACTION_STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transaction_stopped"
          }
        },
        "CARD_TYPE_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_type_not_supported"
          }
        },
        "ISSUER_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issuer_not_found"
          }
        },
        "CLOSED_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed_account"
          }
        },
        "ISSUER_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issuer_unavailable"
          }
        },
        "INVALID_ZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid_zip"
          }
        },
        "INVALID_EXPIRY_MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid_expiry_month"
          }
        },
        "INVALID_EXPIRY_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid_expiry_year"
          }
        },
        "INVALID_EXPIRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid_expiry"
          }
        },
        "INVALID_TRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid_transaction"
          }
        },
        "CANNOT_AUTHORIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cannot_authorize"
          }
        },
        "PIN_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pin_required"
          }
        },
        "PIN_TRY_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pin_try_exceeded"
          }
        },
        "PROVIDER_DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provider_declined"
          }
        },
        "HIGH_RISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high_risk"
          }
        },
        "TEST_MODE_DECLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "test_mode_decline"
          }
        },
        "MERCHANT_BLACKLIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "merchant_blacklist"
          }
        },
        "REENTER_TRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reenter_transaction"
          }
        },
        "INVALID_PIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid_pin"
          }
        },
        "PIN_REQUIRED_AS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pin_required_as"
          }
        },
        "WITHDRAWAL_COUNT_LIMIT_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "withdrawal_count_limit_exceeded"
          }
        },
        "INVALID_COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid_country"
          }
        },
        "ISSUER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issuer_error"
          }
        },
        "INVALID_CARD_HOLDER_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid_card_holder_name"
          }
        },
        "NO_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_accounts"
          }
        },
        "TRANSACTION_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transaction_cancelled"
          }
        },
        "THREE_D_SECURE_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "three_d_secure_success"
          }
        },
        "THREE_D_SECURE_CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "three_d_secure_canceled"
          }
        },
        "THREE_D_SECURE_INVALID_CARD_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "three_d_secure_invalid_card_number"
          }
        },
        "THREE_D_SECURE_GENERIC_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "three_d_secure_generic_error"
          }
        },
        "THREE_D_SECURE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "three_d_secure_timeout"
          }
        },
        "THREE_D_SECURE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "three_d_secure_failed"
          }
        },
        "THREE_D_SECURE_CARD_NOT_ENROLLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "three_d_secure_card_not_enrolled"
          }
        },
        "THREE_D_SECURE_FRAUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "three_d_secure_fraud"
          }
        },
        "THREE_D_SECURE_TOO_MANY_ATTEMPTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "three_d_secure_too_many_attempts"
          }
        },
        "THREE_D_SECURE_REJECTED_BY_BANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "three_d_secure_rejected_by_bank"
          }
        },
        "THREE_D_SECURE_REPORTED_LOST_OR_STOLEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "three_d_secure_reported_lost_or_stolen"
          }
        },
        "BLOCKED_BY_CARDHOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked_by_cardholder"
          }
        },
        "TEST_MODE_TEST_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "test_mode_test_card"
          }
        },
        "TRY_AGAIN_LATER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "try_again_later"
          }
        },
        "TRANSACTION_NOT_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transaction_not_allowed"
          }
        },
        "BANK_INSUFFICIENT_FUNDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_insufficient_funds"
          }
        },
        "BANK_ACCOUNT_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_account_not_found"
          }
        },
        "BANK_ACCOUNT_CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_account_closed"
          }
        },
        "BANK_ACCOUNT_FROZEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_account_frozen"
          }
        },
        "BANK_INVALID_ROUTING_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_invalid_routing_number"
          }
        },
        "BANK_NON_TRANSACTION_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_non_transaction_account"
          }
        },
        "BANK_AUTHORIZATION_REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_authorization_revoked"
          }
        },
        "BANK_PAYMENT_STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_payment_stopped"
          }
        },
        "BANK_NOT_AUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_not_authorized"
          }
        },
        "BANK_ACCOUNT_HOLDER_DECEASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_account_holder_deceased"
          }
        },
        "BANK_DUPLICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_duplicate"
          }
        },
        "BANK_AMOUNT_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_amount_error"
          }
        },
        "BANK_REGULATORY_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_regulatory_blocked"
          }
        },
        "BANK_DETAILS_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_details_invalid"
          }
        },
        "BANK_PROCESSING_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_processing_error"
          }
        },
        "BANK_GENERIC_DECLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_generic_decline"
          }
        },
        "SEPA_INVALID_IBAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sepa_invalid_iban"
          }
        },
        "SEPA_NO_MANDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sepa_no_mandate"
          }
        },
        "SEPA_MANDATE_DATA_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sepa_mandate_data_invalid"
          }
        },
        "SEPA_DISPUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sepa_disputed"
          }
        },
        "SEPA_REFUSED_BY_CUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sepa_refused_by_customer"
          }
        },
        "SEPA_GENERIC_DECLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sepa_generic_decline"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason a payment was declined."
      }
    },
    "com.whop.payments#PaymentHold": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "com.whop.payments#Money",
          "traits": {
            "smithy.api#documentation": "The amount currently held, in the hold's currency.",
            "smithy.api#required": {}
          }
        },
        "percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The reserve percentage recorded when the hold was created, for example 3.5 for 3.5%. Null for other hold types or when no percentage was recorded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "release_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the held funds are scheduled to become available, as an ISO 8601 timestamp. Never earlier than the payment's settlement date. Null when release depends on an event, such as shipment resolution, rather than a date.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.whop.payments#PaymentHoldType",
          "traits": {
            "smithy.api#documentation": "The reason funds are held: `reserve`, `bnpl`, `sequra`, `fraud_hold`, or `preshipment_hold`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.payments#PaymentHoldType": {
      "type": "enum",
      "members": {
        "RESERVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reserve"
          }
        },
        "BNPL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bnpl"
          }
        },
        "SEQURA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sequra"
          }
        },
        "FRAUD_HOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fraud_hold"
          }
        },
        "PRESHIPMENT_HOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preshipment_hold"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason funds are held: `reserve`, `bnpl`, `sequra`, `fraud_hold`, or `preshipment_hold`."
      }
    },
    "com.whop.payments#PaymentHoldsList": {
      "type": "list",
      "member": {
        "target": "com.whop.payments#PaymentHold"
      },
      "traits": {}
    },
    "com.whop.payments#ReceiptLineItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Line item ID, prefixed `li_`. Null when the payment predates item snapshots and the item is read from the payment's plan.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The item's name as shown at checkout — the product title, else the plan title.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "plan_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plan bought, prefixed `plan_`. Null when the plan has since been deleted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "plan_title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plan's current title, or `null` when the plan has been deleted or has no title.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "product_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product the plan belongs to, prefixed `prod_`. On a payment that predates item snapshots this falls back to the plan's product, so it can be set where the parent's own `product_id` is null. Null for a plan with no product.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "product_title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product's current title, or `null` when the item has no product.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "quantity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How many units were bought.",
            "smithy.api#required": {}
          }
        },
        "subtotal": {
          "target": "com.whop.payments#Money",
          "traits": {
            "smithy.api#documentation": "The recorded amount for this item's full quantity, before discounts, tax, and fees, in its purchase currency. Returns `null` when no item amount was recorded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.payments#PaymentLineItemsList": {
      "type": "list",
      "member": {
        "target": "com.whop.payments#ReceiptLineItem"
      },
      "traits": {}
    },
    "com.whop.payments#PaymentInstrument": {
      "type": "structure",
      "members": {
        "card": {
          "target": "com.whop.payments#PaymentInstrumentCard",
          "traits": {
            "smithy.api#documentation": "Card payments only: the card's network, last four, and issuer identification number.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Buyer-facing instrument name — \"Visa •••• 4242\" when the card surfaced, else the method's own name (\"Klarna\").",
            "smithy.api#required": {}
          }
        },
        "icons": {
          "target": "com.whop.payments#PaymentMethodIcons",
          "traits": {
            "smithy.api#documentation": "The standard icon set: square and card shapes, each in light and dark colorways.",
            "smithy.api#required": {}
          }
        },
        "installment_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Installment methods only: how many payments the charge splits into. Data, not copy — compose and translate the label client-side.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "payment_method_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The payment method type identifier, e.g. `card`, `klarna`, `apple_pay`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.payments#PaymentInstrumentCard": {
      "type": "structure",
      "members": {
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The network identifier (`visa`, `amex`, …), matching `card.networks` entries and saved card payment methods. Null when the vault did not record the network.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "exp_month": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The card's expiry month, 1 to 12. Null when the vault did not record it.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "exp_year": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The card's four-digit expiry year. Null when the vault did not record it.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "issuer_identification_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issuer identification number, also called the BIN: the card's leading six or eight digits, which identify the issuing bank. Null when the processor did not report it.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The card's last four digits, when captured.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.payments#PaymentMethodIcons": {
      "type": "structure",
      "members": {
        "card": {
          "target": "com.whop.payments#PaymentMethodIconVariants",
          "traits": {
            "smithy.api#documentation": "The credit-card-proportioned tile (48x30).",
            "smithy.api#required": {}
          }
        },
        "square": {
          "target": "com.whop.payments#PaymentMethodIconVariants",
          "traits": {
            "smithy.api#documentation": "The square tile (32x32).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.payments#PaymentMethodIconVariants": {
      "type": "structure",
      "members": {
        "dark": {
          "target": "com.whop.payments#PaymentMethodIconFiles",
          "traits": {
            "smithy.api#documentation": "The colorway for dark surfaces.",
            "smithy.api#required": {}
          }
        },
        "light": {
          "target": "com.whop.payments#PaymentMethodIconFiles",
          "traits": {
            "smithy.api#documentation": "The colorway for light surfaces.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.payments#PaymentMethodIconFiles": {
      "type": "structure",
      "members": {
        "png_1x": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raster fallback at the shape's native size.",
            "smithy.api#required": {}
          }
        },
        "png_2x": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raster fallback at double density.",
            "smithy.api#required": {}
          }
        },
        "png_4x": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raster fallback at quadruple density.",
            "smithy.api#required": {}
          }
        },
        "svg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The vector file. Prefer this everywhere SVG renders.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.payments#PaymentMethodTypes": {
      "type": "enum",
      "members": {
        "ACSS_DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acss_debit"
          }
        },
        "ADDI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addi"
          }
        },
        "AFFIRM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "affirm"
          }
        },
        "AFTERPAY_CLEARPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "afterpay_clearpay"
          }
        },
        "ALIPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alipay"
          }
        },
        "ALIPAYHK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alipayhk"
          }
        },
        "ALMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alma"
          }
        },
        "AMAZON_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amazon_pay"
          }
        },
        "APPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apple"
          }
        },
        "APPLE_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apple_pay"
          }
        },
        "AU_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "au_bank_transfer"
          }
        },
        "AU_BECS_DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "au_becs_debit"
          }
        },
        "BACS_DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bacs_debit"
          }
        },
        "BANCOLOMBIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bancolombia"
          }
        },
        "BANCONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bancontact"
          }
        },
        "BANK_WIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_wire"
          }
        },
        "BILLIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billie"
          }
        },
        "BLIK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blik"
          }
        },
        "BOLETO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boleto"
          }
        },
        "BRE_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bre_b"
          }
        },
        "CA_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca_bank_transfer"
          }
        },
        "CAPCHASE_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "capchase_pay"
          }
        },
        "CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card"
          }
        },
        "CARD_INSTALLMENTS_THREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_installments_three"
          }
        },
        "CARD_INSTALLMENTS_SIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_installments_six"
          }
        },
        "CARD_INSTALLMENTS_TWELVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_installments_twelve"
          }
        },
        "CASHAPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cashapp"
          }
        },
        "CLARITYPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "claritypay"
          }
        },
        "COINBASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coinbase"
          }
        },
        "CRYPTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crypto"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "CUSTOMER_BALANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customer_balance"
          }
        },
        "DEMO_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "demo_pay"
          }
        },
        "EFECTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "efecty"
          }
        },
        "EPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eps"
          }
        },
        "EU_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu_bank_transfer"
          }
        },
        "FPX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fpx"
          }
        },
        "FLEX_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flex_pay"
          }
        },
        "GB_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gb_bank_transfer"
          }
        },
        "GCASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcash"
          }
        },
        "GIROPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "giropay"
          }
        },
        "GOOGLE_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google_pay"
          }
        },
        "GOPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gopay"
          }
        },
        "GRABPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grabpay"
          }
        },
        "ID_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id_bank_transfer"
          }
        },
        "IDEAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ideal"
          }
        },
        "INTERAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "interac"
          }
        },
        "KAKAO_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kakao_pay"
          }
        },
        "KLARNA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "klarna"
          }
        },
        "KLARNA_PAY_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "klarna_pay_now"
          }
        },
        "KONBINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "konbini"
          }
        },
        "KR_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kr_card"
          }
        },
        "KR_MARKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kr_market"
          }
        },
        "KRIYA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kriya"
          }
        },
        "KUESKI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kueski"
          }
        },
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "link"
          }
        },
        "MB_WAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mb_way"
          }
        },
        "M_PESA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "m_pesa"
          }
        },
        "MERCADO_PAGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mercado_pago"
          }
        },
        "MERCADO_PAGO_AR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mercado_pago_ar"
          }
        },
        "MERCADO_PAGO_MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mercado_pago_mx"
          }
        },
        "MOBILEPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mobilepay"
          }
        },
        "MODO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "modo"
          }
        },
        "MONDU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mondu"
          }
        },
        "MULTIBANCO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multibanco"
          }
        },
        "NAVER_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "naver_pay"
          }
        },
        "NEQUI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nequi"
          }
        },
        "NETBANKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "netbanking"
          }
        },
        "NG_BANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng_bank"
          }
        },
        "NG_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng_bank_transfer"
          }
        },
        "NG_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng_card"
          }
        },
        "NG_MARKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng_market"
          }
        },
        "NG_USSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng_ussd"
          }
        },
        "NG_WALLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng_wallet"
          }
        },
        "NUPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nupay"
          }
        },
        "NZ_BANK_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nz_bank_account"
          }
        },
        "ONEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oney"
          }
        },
        "ONEY_3X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oney_3x"
          }
        },
        "ONEY_4X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oney_4x"
          }
        },
        "OPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opay"
          }
        },
        "OXXO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oxxo"
          }
        },
        "P24": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p24"
          }
        },
        "PAGO_EFECTIVO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pago_efectivo"
          }
        },
        "PSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pse"
          }
        },
        "PAY_BY_BANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pay_by_bank"
          }
        },
        "PAYCO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "payco"
          }
        },
        "PAYNOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paynow"
          }
        },
        "PAYPAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paypal"
          }
        },
        "PAYPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paypay"
          }
        },
        "PAYTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "payto"
          }
        },
        "PIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pix"
          }
        },
        "PLATFORM_BALANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "platform_balance"
          }
        },
        "PROMPTPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "promptpay"
          }
        },
        "QRIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "qris"
          }
        },
        "RAPIPAGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rapipago"
          }
        },
        "RECHNUNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rechnung"
          }
        },
        "REVOLUT_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revolut_pay"
          }
        },
        "SAMSUNG_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "samsung_pay"
          }
        },
        "SATISPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "satispay"
          }
        },
        "SCALAPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scalapay"
          }
        },
        "SENCILLITO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sencillito"
          }
        },
        "SEPA_DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sepa_debit"
          }
        },
        "SEQURA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sequra"
          }
        },
        "SERVIPAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "servipag"
          }
        },
        "SEZZLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sezzle"
          }
        },
        "SHOP_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shop_pay"
          }
        },
        "SHOPEEPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shopeepay"
          }
        },
        "SOFORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sofort"
          }
        },
        "SOUTH_KOREA_MARKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "south_korea_market"
          }
        },
        "SPEI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spei"
          }
        },
        "SPLITIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "splitit"
          }
        },
        "SUNBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sunbit"
          }
        },
        "SWISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "swish"
          }
        },
        "TABBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tabby"
          }
        },
        "TAMARA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tamara"
          }
        },
        "TOUCH_N_GO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "touch_n_go"
          }
        },
        "TWINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "twint"
          }
        },
        "UPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "upi"
          }
        },
        "US_BANK_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us_bank_account"
          }
        },
        "US_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us_bank_transfer"
          }
        },
        "VENMO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "venmo"
          }
        },
        "VERVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verve"
          }
        },
        "VIPPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vipps"
          }
        },
        "WEBPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webpay"
          }
        },
        "WECHAT_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wechat_pay"
          }
        },
        "YAPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yape"
          }
        },
        "ZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zip"
          }
        },
        "COINFLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coinflow"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The different types of payment methods that can be used."
      }
    },
    "com.whop.payments#PaymentRuleMatch": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.whop.payments#PaymentRuleMatchAction",
          "traits": {
            "smithy.api#documentation": "What the rule asked for.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Payment rule ID, prefixed `prule_`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rule's name when it matched. Renaming the rule afterwards does not rewrite this.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.payments#PaymentRuleMatchAction": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "review"
          }
        },
        "ENFORCE_3DS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enforce_3ds"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "What the rule asked for."
      }
    },
    "com.whop.payments#PaymentPaymentRuleMatchesList": {
      "type": "list",
      "member": {
        "target": "com.whop.payments#PaymentRuleMatch"
      },
      "traits": {}
    },
    "com.whop.payments#ReceiptStatus": {
      "type": "enum",
      "members": {
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "AUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authorized"
          }
        },
        "PAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paid"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "UNCOLLECTIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uncollectible"
          }
        },
        "UNRESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unresolved"
          }
        },
        "VOID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "void"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of a receipt"
      }
    },
    "com.whop.payments#FriendlyReceiptStatus": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "REQUIRES_CAPTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_capture"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        },
        "PAST_DUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "past_due"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "PRICE_TOO_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "price_too_low"
          }
        },
        "UNCOLLECTIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uncollectible"
          }
        },
        "REFUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refunded"
          }
        },
        "AUTO_REFUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto_refunded"
          }
        },
        "PARTIALLY_REFUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partially_refunded"
          }
        },
        "DISPUTE_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dispute_warning"
          }
        },
        "DISPUTE_NEEDS_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dispute_needs_response"
          }
        },
        "DISPUTE_WARNING_NEEDS_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dispute_warning_needs_response"
          }
        },
        "RESOLUTION_NEEDS_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolution_needs_response"
          }
        },
        "DISPUTE_UNDER_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dispute_under_review"
          }
        },
        "DISPUTE_WARNING_UNDER_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dispute_warning_under_review"
          }
        },
        "RESOLUTION_UNDER_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolution_under_review"
          }
        },
        "DISPUTE_WON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dispute_won"
          }
        },
        "DISPUTE_WARNING_CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dispute_warning_closed"
          }
        },
        "RESOLUTION_WON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolution_won"
          }
        },
        "DISPUTE_LOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dispute_lost"
          }
        },
        "DISPUTE_CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dispute_closed"
          }
        },
        "RESOLUTION_LOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolution_lost"
          }
        },
        "DRAFTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drafted"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
[...]
