{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.whop.refunds#ListRefundsRequestOrder": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        }
      },
      "traits": {}
    },
    "com.whop.refunds#ListRefundsRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.whop.refunds#ListRefundsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#documentation": "Only refunds issued by this account, prefixed `biz_`."
          }
        },
        "payment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "payment_id",
            "smithy.api#documentation": "Only refunds of this payment, prefixed `pay_`."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "user_id",
            "smithy.api#documentation": "Only refunds to this buyer, prefixed `user_`."
          }
        },
        "created_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_before",
            "smithy.api#documentation": "Only refunds requested before this ISO 8601 timestamp."
          }
        },
        "created_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_after",
            "smithy.api#documentation": "Only refunds requested after this ISO 8601 timestamp."
          }
        },
        "order": {
          "target": "com.whop.refunds#ListRefundsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "The field to sort by."
          }
        },
        "direction": {
          "target": "com.whop.refunds#ListRefundsRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "The sort direction."
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "Number of results to return from the start of the range."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Return results after this cursor. Use `page_info.end_cursor` from the previous response to fetch the next page."
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last",
            "smithy.api#documentation": "Number of results to return from the end of the range."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "Return results before this cursor. Use `page_info.start_cursor` from the previous response to fetch the previous page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.refunds#Refund": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account that issued the refund, prefixed `biz_`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "amount": {
          "target": "com.whop.refunds#Money",
          "traits": {
            "smithy.api#documentation": "The refunded amount as it settled, in the payment's settlement currency, so pages of refunds net against the payment's `refunded_amount`. Converted at the rate in force when the refund was issued, not the payment's original rate. Null only when no exchange rate is recorded for a legacy multi-currency payment.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the refund was requested, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "failure_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provider's own explanation of the failure, or null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "failure_reason": {
          "target": "com.whop.refunds#RefundFailureReason",
          "traits": {
            "smithy.api#documentation": "Why the refund failed, normalized across providers. Null unless the refund failed or was canceled.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Refund ID, prefixed `rf_`.",
            "smithy.api#required": {}
          }
        },
        "original_amount": {
          "target": "com.whop.refunds#Money",
          "traits": {
            "smithy.api#documentation": "The refunded amount in the currency the processor moved.",
            "smithy.api#required": {}
          }
        },
        "payment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The payment this refund reverses, prefixed `pay_`.",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The payment provider that processed the refund, such as `paypal` or `coinbase`.",
            "smithy.api#required": {}
          }
        },
        "provider_created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the provider created the refund, as an ISO 8601 timestamp.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "reason": {
          "target": "com.whop.refunds#RefundReason",
          "traits": {
            "smithy.api#documentation": "Why the refund was issued, when recorded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "reference_status": {
          "target": "com.whop.refunds#RefundReferenceStatus",
          "traits": {
            "smithy.api#documentation": "Whether a banking-network tracking reference is available for this refund.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "reference_type": {
          "target": "com.whop.refunds#RefundReferenceType",
          "traits": {
            "smithy.api#documentation": "The kind of tracking reference, such as an acquirer reference number.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "reference_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tracking reference the buyer's bank can trace the refund by.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.whop.refunds#RefundStatus",
          "traits": {
            "smithy.api#documentation": "Where the refund stands with the processor: `pending`, `requires_action`, `succeeded`, `failed`, or `canceled`.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the refund last changed, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "visa_rdr": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the card network initiated the refund through Rapid Dispute Resolution.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.refunds#Money": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount in major units, as an exact decimal string — `\"10.00\"` is ten dollars. A string so no float rounds it in transit.",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Three-letter ISO 4217 currency code, lowercase.",
            "smithy.api#required": {}
          }
        },
        "decimals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many decimal places the amount CARRIES — the precision the charge itself runs at.",
            "smithy.api#required": {}
          }
        },
        "display_decimals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many decimal places to SHOW. Usually equal to `decimals`, and deliberately not always: COP is charged in centavos but written in whole pesos, so it is `2` and `0`. Format the number in your own locale using this.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.refunds#RefundFailureReason": {
      "type": "enum",
      "members": {
        "BANK_DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_declined"
          }
        },
        "EXPIRED_OR_CANCELED_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired_or_canceled_card"
          }
        },
        "LOST_OR_STOLEN_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lost_or_stolen_card"
          }
        },
        "INSUFFICIENT_FUNDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "insufficient_funds"
          }
        },
        "CHARGE_DISPUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "charge_disputed"
          }
        },
        "NOT_REFUNDABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_refundable"
          }
        },
        "MERCHANT_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "merchant_request"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Why the refund failed, normalized across providers. Null unless the refund failed or was canceled."
      }
    },
    "com.whop.refunds#RefundReason": {
      "type": "enum",
      "members": {
        "DUPLICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duplicate"
          }
        },
        "FRAUDULENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fraudulent"
          }
        },
        "REQUESTED_BY_CUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requested_by_customer"
          }
        },
        "EXPIRED_UNCAPTURED_CHARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired_uncaptured_charge"
          }
        },
        "DISPUTE_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dispute_alert"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Why the refund was issued, when recorded."
      }
    },
    "com.whop.refunds#RefundReferenceStatus": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unavailable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether a banking-network tracking reference is available for this refund."
      }
    },
    "com.whop.refunds#RefundReferenceType": {
      "type": "enum",
      "members": {
        "ACQUIRER_REFERENCE_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acquirer_reference_number"
          }
        },
        "RETRIEVAL_REFERENCE_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retrieval_reference_number"
          }
        },
        "SYSTEM_TRACE_AUDIT_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system_trace_audit_number"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of tracking reference, such as an acquirer reference number."
      }
    },
    "com.whop.refunds#RefundStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where the refund stands with the processor: `pending`, `requires_action`, `succeeded`, `failed`, or `canceled`."
      }
    },
    "com.whop.refunds#ListRefundsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.refunds#Refund"
      },
      "traits": {}
    },
    "com.whop.refunds#ListRefundsResponsePageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.refunds#ListRefundsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.refunds#ListRefundsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.refunds#ListRefundsResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.refunds#ListRefunds": {
      "type": "operation",
      "input": {
        "target": "com.whop.refunds#ListRefundsRequest"
      },
      "output": {
        "target": "com.whop.refunds#ListRefundsResponse"
      },
      "errors": [
        {
          "target": "com.whop.refunds#BadRequest"
        },
        {
          "target": "com.whop.refunds#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/refunds",
          "code": 200
        },
        "smithy.api#documentation": "List Refunds\n\nLists refunds, newest first. Without filters this is every refund the caller can read; narrow it to one payment with `payment_id`, one account with `account_id`, or one buyer with `user_id`.",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.refunds#GetRefundRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The refund to retrieve, prefixed `rf_`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.refunds#GetRefund": {
      "type": "operation",
      "input": {
        "target": "com.whop.refunds#GetRefundRequest"
      },
      "output": {
        "target": "com.whop.refunds#Refund"
      },
      "errors": [
        {
          "target": "com.whop.refunds#Forbidden"
        },
        {
          "target": "com.whop.refunds#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/refunds/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve Refund\n\nReturns one refund."
      }
    },
    "com.whop.refunds#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.whop.refunds#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.whop.refunds#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.whop.refunds#Refunds": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.refunds#ListRefunds"
        },
        {
          "target": "com.whop.refunds#GetRefund"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
