{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.whop.setup_intents#ListSetupIntentsRequestStatus": {
      "type": "enum",
      "members": {
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#ListSetupIntentsRequestOrder": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#ListSetupIntentsRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#ListSetupIntentsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#documentation": "Only setup intents for this account, prefixed `biz_`."
          }
        },
        "status": {
          "target": "com.whop.setup_intents#ListSetupIntentsRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Only setup intents in this state."
          }
        },
        "created_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_before",
            "smithy.api#documentation": "Only setup intents created before this ISO 8601 timestamp."
          }
        },
        "created_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_after",
            "smithy.api#documentation": "Only setup intents created after this ISO 8601 timestamp."
          }
        },
        "order": {
          "target": "com.whop.setup_intents#ListSetupIntentsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "The field to sort by."
          }
        },
        "direction": {
          "target": "com.whop.setup_intents#ListSetupIntentsRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "The sort direction."
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "Number of results to return from the start of the range."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Return results after this cursor. Use `page_info.end_cursor` from the previous response to fetch the next page."
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last",
            "smithy.api#documentation": "Number of results to return from the end of the range."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "Return results before this cursor. Use `page_info.start_cursor` from the previous response to fetch the previous page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.setup_intents#SetupIntent": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account the payment method is saved for, prefixed `biz_`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "checkout_configuration_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The checkout configuration this setup was created through, prefixed `ch_`. Null for a setup created through this API rather than a hosted checkout.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The credential a buyer's surface presents to poll this setup and set its return URL — hand it to the elements' `handleNextAction`. Only on setups created through this API, and always null in list responses — retrieve the setup intent for it.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {},
            "smithy.api#sensitive": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the setup intent was created, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Setup intent ID, prefixed `sint_`.",
            "smithy.api#required": {}
          }
        },
        "last_setup_error": {
          "target": "com.whop.setup_intents#SetupLastSetupError",
          "traits": {
            "smithy.api#documentation": "Why the setup ended where it did, or `null` when nothing has failed. Present on `canceled` — a buyer who abandoned carries no code, one refused by the provider does. Dropped once the setup succeeds.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "member_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The buyer's member record on the account, prefixed `mber_`. Null without the member:basic:read permission, unless the caller is the buyer.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Your own key-value data attached when the setup intent was created.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "payment_instrument": {
          "target": "com.whop.setup_intents#PaymentInstrument",
          "traits": {
            "smithy.api#documentation": "The method behind this setup shaped for display: a buyer-facing name, the standard icon set, and the card's brand, last four, issuer identification number, and expiry when it was a card. Null until a method was collected.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "payment_method_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The saved payment method, prefixed `payt_`, ready to charge with Create Payment. Null until the setup has `succeeded`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "payment_method_type": {
          "target": "com.whop.setup_intents#PaymentMethodTypes",
          "traits": {
            "smithy.api#documentation": "The kind of instrument being saved, for example `card` or `us_bank_account`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "return_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where the buyer lands after completing an off-site step, or `null` to leave them where they are.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.whop.setup_intents#SetupIntentStatus",
          "traits": {
            "smithy.api#documentation": "How far the setup has got. **A 201 or 200 means we answered, not that the method was saved — always branch on this.** `requires_action` — the buyer has a step outstanding; hand `client_secret` to the elements or poll Retrieve setup status. `processing` — the processor is deciding. `succeeded` — the method is saved, and only this one means saved. `canceled` — abandoned or refused; see `last_setup_error`.",
            "smithy.api#required": {}
          }
        },
        "three_ds_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the buyer completed 3D Secure while saving this payment method.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the setup intent was last updated, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.whop.setup_intents#UserSummary",
          "traits": {
            "smithy.api#documentation": "The user saving the payment method. Null when the buyer is a company rather than a user.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#SetupLastSetupError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A machine-readable classification of the failure, e.g. `enrollment_declined`. Absent when the buyer simply abandoned the setup.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable explanation of the failure.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentInstrument": {
      "type": "structure",
      "members": {
        "card": {
          "target": "com.whop.setup_intents#PaymentInstrumentCard",
          "traits": {
            "smithy.api#documentation": "Card payments only: the card's network, last four, and issuer identification number.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Buyer-facing instrument name — \"Visa •••• 4242\" when the card surfaced, else the method's own name (\"Klarna\").",
            "smithy.api#required": {}
          }
        },
        "icons": {
          "target": "com.whop.setup_intents#PaymentMethodIcons",
          "traits": {
            "smithy.api#documentation": "The standard icon set: square and card shapes, each in light and dark colorways.",
            "smithy.api#required": {}
          }
        },
        "installment_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Installment methods only: how many payments the charge splits into. Data, not copy — compose and translate the label client-side.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "payment_method_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The payment method type identifier, e.g. `card`, `klarna`, `apple_pay`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentInstrumentCard": {
      "type": "structure",
      "members": {
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The network identifier (`visa`, `amex`, …), matching `card.networks` entries and saved card payment methods. Null when the vault did not record the network.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "exp_month": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The card's expiry month, 1 to 12. Null when the vault did not record it.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "exp_year": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The card's four-digit expiry year. Null when the vault did not record it.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "issuer_identification_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issuer identification number, also called the BIN: the card's leading six or eight digits, which identify the issuing bank. Null when the processor did not report it.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The card's last four digits, when captured.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentMethodIcons": {
      "type": "structure",
      "members": {
        "card": {
          "target": "com.whop.setup_intents#PaymentMethodIconVariants",
          "traits": {
            "smithy.api#documentation": "The credit-card-proportioned tile (48x30).",
            "smithy.api#required": {}
          }
        },
        "square": {
          "target": "com.whop.setup_intents#PaymentMethodIconVariants",
          "traits": {
            "smithy.api#documentation": "The square tile (32x32).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentMethodIconVariants": {
      "type": "structure",
      "members": {
        "dark": {
          "target": "com.whop.setup_intents#PaymentMethodIconFiles",
          "traits": {
            "smithy.api#documentation": "The colorway for dark surfaces.",
            "smithy.api#required": {}
          }
        },
        "light": {
          "target": "com.whop.setup_intents#PaymentMethodIconFiles",
          "traits": {
            "smithy.api#documentation": "The colorway for light surfaces.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentMethodIconFiles": {
      "type": "structure",
      "members": {
        "png_1x": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raster fallback at the shape's native size.",
            "smithy.api#required": {}
          }
        },
        "png_2x": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raster fallback at double density.",
            "smithy.api#required": {}
          }
        },
        "png_4x": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raster fallback at quadruple density.",
            "smithy.api#required": {}
          }
        },
        "svg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The vector file. Prefer this everywhere SVG renders.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentMethodTypes": {
      "type": "enum",
      "members": {
        "ACSS_DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acss_debit"
          }
        },
        "ADDI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addi"
          }
        },
        "AFFIRM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "affirm"
          }
        },
        "AFTERPAY_CLEARPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "afterpay_clearpay"
          }
        },
        "ALIPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alipay"
          }
        },
        "ALIPAYHK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alipayhk"
          }
        },
        "ALMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alma"
          }
        },
        "AMAZON_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amazon_pay"
          }
        },
        "APPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apple"
          }
        },
        "APPLE_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apple_pay"
          }
        },
        "AU_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "au_bank_transfer"
          }
        },
        "AU_BECS_DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "au_becs_debit"
          }
        },
        "BACS_DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bacs_debit"
          }
        },
        "BANCOLOMBIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bancolombia"
          }
        },
        "BANCONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bancontact"
          }
        },
        "BANK_WIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_wire"
          }
        },
        "BILLIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billie"
          }
        },
        "BLIK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blik"
          }
        },
        "BOLETO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boleto"
          }
        },
        "BRE_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bre_b"
          }
        },
        "CA_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca_bank_transfer"
          }
        },
        "CAPCHASE_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "capchase_pay"
          }
        },
        "CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card"
          }
        },
        "CARD_INSTALLMENTS_THREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_installments_three"
          }
        },
        "CARD_INSTALLMENTS_SIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_installments_six"
          }
        },
        "CARD_INSTALLMENTS_TWELVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_installments_twelve"
          }
        },
        "CASHAPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cashapp"
          }
        },
        "CLARITYPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "claritypay"
          }
        },
        "COINBASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coinbase"
          }
        },
        "CRYPTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crypto"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "CUSTOMER_BALANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customer_balance"
          }
        },
        "DEMO_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "demo_pay"
          }
        },
        "EFECTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "efecty"
          }
        },
        "EPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eps"
          }
        },
        "EU_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu_bank_transfer"
          }
        },
        "FPX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fpx"
          }
        },
        "FLEX_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flex_pay"
          }
        },
        "GB_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gb_bank_transfer"
          }
        },
        "GCASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcash"
          }
        },
        "GIROPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "giropay"
          }
        },
        "GOOGLE_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google_pay"
          }
        },
        "GOPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gopay"
          }
        },
        "GRABPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grabpay"
          }
        },
        "ID_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id_bank_transfer"
          }
        },
        "IDEAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ideal"
          }
        },
        "INTERAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "interac"
          }
        },
        "KAKAO_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kakao_pay"
          }
        },
        "KLARNA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "klarna"
          }
        },
        "KLARNA_PAY_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "klarna_pay_now"
          }
        },
        "KONBINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "konbini"
          }
        },
        "KR_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kr_card"
          }
        },
        "KR_MARKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kr_market"
          }
        },
        "KRIYA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kriya"
          }
        },
        "KUESKI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kueski"
          }
        },
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "link"
          }
        },
        "MB_WAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mb_way"
          }
        },
        "M_PESA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "m_pesa"
          }
        },
        "MERCADO_PAGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mercado_pago"
          }
        },
        "MERCADO_PAGO_AR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mercado_pago_ar"
          }
        },
        "MERCADO_PAGO_MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mercado_pago_mx"
          }
        },
        "MOBILEPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mobilepay"
          }
        },
        "MODO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "modo"
          }
        },
        "MONDU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mondu"
          }
        },
        "MULTIBANCO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multibanco"
          }
        },
        "NAVER_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "naver_pay"
          }
        },
        "NEQUI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nequi"
          }
        },
        "NETBANKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "netbanking"
          }
        },
        "NG_BANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng_bank"
          }
        },
        "NG_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng_bank_transfer"
          }
        },
        "NG_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng_card"
          }
        },
        "NG_MARKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng_market"
          }
        },
        "NG_USSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng_ussd"
          }
        },
        "NG_WALLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng_wallet"
          }
        },
        "NUPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nupay"
          }
        },
        "NZ_BANK_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nz_bank_account"
          }
        },
        "ONEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oney"
          }
        },
        "ONEY_3X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oney_3x"
          }
        },
        "ONEY_4X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oney_4x"
          }
        },
        "OPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opay"
          }
        },
        "OXXO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oxxo"
          }
        },
        "P24": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p24"
          }
        },
        "PAGO_EFECTIVO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pago_efectivo"
          }
        },
        "PSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pse"
          }
        },
        "PAY_BY_BANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pay_by_bank"
          }
        },
        "PAYCO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "payco"
          }
        },
        "PAYNOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paynow"
          }
        },
        "PAYPAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paypal"
          }
        },
        "PAYPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paypay"
          }
        },
        "PAYTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "payto"
          }
        },
        "PIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pix"
          }
        },
        "PLATFORM_BALANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "platform_balance"
          }
        },
        "PROMPTPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "promptpay"
          }
        },
        "QRIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "qris"
          }
        },
        "RAPIPAGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rapipago"
          }
        },
        "RECHNUNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rechnung"
          }
        },
        "REVOLUT_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revolut_pay"
          }
        },
        "SAMSUNG_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "samsung_pay"
          }
        },
        "SATISPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "satispay"
          }
        },
        "SCALAPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scalapay"
          }
        },
        "SENCILLITO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sencillito"
          }
        },
        "SEPA_DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sepa_debit"
          }
        },
        "SEQURA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sequra"
          }
        },
        "SERVIPAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "servipag"
          }
        },
        "SEZZLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sezzle"
          }
        },
        "SHOP_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shop_pay"
          }
        },
        "SHOPEEPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shopeepay"
          }
        },
        "SOFORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sofort"
          }
        },
        "SOUTH_KOREA_MARKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "south_korea_market"
          }
        },
        "SPEI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spei"
          }
        },
        "SPLITIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "splitit"
          }
        },
        "SUNBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sunbit"
          }
        },
        "SWISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "swish"
          }
        },
        "TABBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tabby"
          }
        },
        "TAMARA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tamara"
          }
        },
        "TOUCH_N_GO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "touch_n_go"
          }
        },
        "TWINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "twint"
          }
        },
        "UPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "upi"
          }
        },
        "US_BANK_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us_bank_account"
          }
        },
        "US_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us_bank_transfer"
          }
        },
        "VENMO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "venmo"
          }
        },
        "VERVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verve"
          }
        },
        "VIPPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vipps"
          }
        },
        "WEBPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webpay"
          }
        },
        "WECHAT_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wechat_pay"
          }
        },
        "YAPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yape"
          }
        },
        "ZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zip"
          }
        },
        "COINFLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coinflow"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The different types of payment methods that can be used."
      }
    },
    "com.whop.setup_intents#SetupIntentStatus": {
      "type": "enum",
      "members": {
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How far the setup has got. **A 201 or 200 means we answered, not that the method was saved — always branch on this.** `requires_action` — the buyer has a step outstanding; hand `client_secret` to the elements or poll Retrieve setup status. `processing` — the processor is deciding. `succeeded` — the method is saved, and only this one means saved. `canceled` — abandoned or refused; see `last_setup_error`."
      }
    },
    "com.whop.setup_intents#UserSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User ID, prefixed `user_`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "profile_picture": {
          "target": "com.whop.setup_intents#UserProfilePicture",
          "traits": {
            "smithy.api#documentation": "Avatar wrapper; its `url` is always present, using a generated placeholder when the user set no picture.",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public username.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#UserProfilePicture": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Avatar image URL. Always present — a generated placeholder when the user set no picture.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#ListSetupIntentsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.setup_intents#SetupIntent"
      },
      "traits": {}
    },
    "com.whop.setup_intents#ListSetupIntentsResponsePageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#ListSetupIntentsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.setup_intents#ListSetupIntentsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.setup_intents#ListSetupIntentsResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.setup_intents#ListSetupIntents": {
      "type": "operation",
      "input": {
        "target": "com.whop.setup_intents#ListSetupIntentsRequest"
      },
      "output": {
        "target": "com.whop.setup_intents#ListSetupIntentsResponse"
      },
      "errors": [
        {
          "target": "com.whop.setup_intents#BadRequest"
        },
        {
          "target": "com.whop.setup_intents#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/setup_intents",
          "code": 200
        },
        "smithy.api#documentation": "List Setup Intents\n\nLists setup intents newest first. An account API key lists its own account; a user token lists every account it can read, or one account with `account_id`. `client_secret` is always null on list rows — retrieve the setup intent for it.",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.setup_intents#CreateSetupIntentRequestMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Custom metadata to attach to the setup intent. Returned on the setup intent and its webhooks."
      }
    },
    "com.whop.setup_intents#CreateSetupIntentRequestPurpose": {
      "type": "enum",
      "members": {
        "ADS_BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ads_billing"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "What the saved payment method will pay for. Set to `ads_billing` when saving a card to pay for Whop Ads on `account_id`: the card is verified by Whop Ads, the merchant that charges it, which helps minimize security declines on ad payments, and it requires `ad_campaign:create` on `account_id`. Omit it for any other payment method."
      }
    },
    "com.whop.setup_intents#CreateSetupIntentRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account to save the payment method for, prefixed `biz_`.",
            "smithy.api#required": {}
          }
        },
        "confirmation_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A confirmation token describing a payment method the buyer just supplied, collected by the payment elements in setup mode. Provide this or `payment_method_id`, not both. The buyer is resolved from the token's billing email, or from `email`, and may still have a step to complete — poll Retrieve setup status for what to do next.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The currency the saved payment method will be used with, as a lowercase ISO 4217 code. Controls which currency-specific payment methods are available. Defaults to `usd`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Overrides the buyer email carried on the confirmation token, resolving or creating the user the method belongs to. Ignored unless `confirmation_token` is provided, and when the token was created by a signed-in buyer or the caller is the buyer.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.whop.setup_intents#CreateSetupIntentRequestMetadataMap",
          "traits": {
            "smithy.api#documentation": "Custom metadata to attach to the setup intent. Returned on the setup intent and its webhooks.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "payment_method_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An existing payment method to re-verify and save, prefixed `payt_`. Provide this or `confirmation_token`, not both. Not available to a buyer credential.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "purpose": {
          "target": "com.whop.setup_intents#CreateSetupIntentRequestPurpose",
          "traits": {
            "smithy.api#documentation": "What the saved payment method will pay for. Set to `ads_billing` when saving a card to pay for Whop Ads on `account_id`: the card is verified by Whop Ads, the merchant that charges it, which helps minimize security declines on ad payments, and it requires `ad_campaign:create` on `account_id`. Omit it for any other payment method.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "return_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where the buyer continues after completing an off-site step. An absolute https URL without credentials, at most 2,048 characters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique key that makes this request safe to retry. See [Idempotent requests](https://docs.whop.com/developer/api/idempotency)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.setup_intents#CreateSetupIntent": {
      "type": "operation",
      "input": {
        "target": "com.whop.setup_intents#CreateSetupIntentRequest"
      },
      "output": {
        "target": "com.whop.setup_intents#SetupIntent"
      },
      "errors": [
        {
          "target": "com.whop.setup_intents#BadRequest"
        },
        {
          "target": "com.whop.setup_intents#Forbidden"
        },
        {
          "target": "com.whop.setup_intents#NotFound"
        },
        {
          "target": "com.whop.setup_intents#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/setup_intents",
          "code": 200
        },
        "smithy.api#documentation": "Create Setup Intent\n\nSaves a buyer's payment method for later without charging it. Pass a `confirmation_token` for a method the buyer just supplied through the payment elements in setup mode, or a `payment_method_id` already on file to re-verify it. The response is the setup intent as created, not its outcome: while it is `requires_action` the buyer still has a step, so hand `client_secret` to the elements' `handleNextAction` or poll Retrieve setup status. A buyer's own token holding `member:payment_methods:use` may create a setup intent for itself from a confirmation token."
      }
    },
    "com.whop.setup_intents#GetSetupIntentRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The setup intent to retrieve, prefixed `sint_`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.setup_intents#GetSetupIntent": {
      "type": "operation",
      "input": {
        "target": "com.whop.setup_intents#GetSetupIntentRequest"
      },
      "output": {
        "target": "com.whop.setup_intents#SetupIntent"
      },
      "errors": [
        {
          "target": "com.whop.setup_intents#Forbidden"
        },
        {
          "target": "com.whop.setup_intents#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/setup_intents/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve Setup Intent\n\nReturns one setup intent. Related records are ids — once `status` is `succeeded`, `payment_method_id` is the saved method to charge or retrieve. The buyer's own token may retrieve a setup intent that belongs to it."
      }
    },
    "com.whop.setup_intents#UpdateReturnUrlSetupIntentRequest": {
      "type": "structure",
      "members": {
        "setup_intent_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the setup intent."
          }
        },
        "return_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where the buyer continues after completing an off-site step. Must be an absolute https URL without credentials (http is allowed for localhost), at most 2,048 characters.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.setup_intents#SetupStatus": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The setup this status describes, prefixed `sint_`.",
            "smithy.api#required": {}
          }
        },
        "last_setup_error": {
          "target": "com.whop.setup_intents#SetupLastSetupError",
          "traits": {
            "smithy.api#documentation": "Why the setup ended where it did, or `null` when nothing has failed. Present on `canceled` — a buyer who abandoned carries no code, one refused by the provider does.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_action": {
          "target": "com.whop.setup_intents#PaymentNextAction",
          "traits": {
            "smithy.api#documentation": "What the buyer must do next while `status` is `requires_action`, otherwise `null`. `type` picks the shape and each variant carries only its own `data`, so switching on `type` gives you exactly that step's payload.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `setup_status`.",
            "smithy.api#required": {}
          }
        },
        "return_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where to send the buyer once the setup reaches a resting state, or `null` to leave them where they are.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.whop.setup_intents#SetupStatusStatus",
          "traits": {
            "smithy.api#documentation": "How far the setup has got. **A 200 means we answered, not that the method was saved — always branch on this.** `requires_action` — the buyer has a step outstanding; see `next_action`. `processing` — the buyer has done their part and the processor is deciding. `succeeded` — the payment method is saved, and only this one means saved. `canceled` — abandoned or refused; see `last_setup_error` to tell which.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentNextAction": {
      "type": "union",
      "members": {
        "PaymentNextActionRedirect": {
          "target": "com.whop.setup_intents#PaymentNextActionRedirect"
        },
        "PaymentNextActionDisplayInstructions": {
          "target": "com.whop.setup_intents#PaymentNextActionDisplayInstructions"
        },
        "PaymentNextActionAwaitConfirmation": {
          "target": "com.whop.setup_intents#PaymentNextActionAwaitConfirmation"
        }
      },
      "traits": {
        "smithy.api#documentation": "What the buyer must do to finish. `type` picks the shape and each type carries only its own `data`, so switching on `type` gives you exactly that step's payload."
      }
    },
    "com.whop.setup_intents#PaymentNextActionRedirect": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.setup_intents#PaymentNextActionRedirectData",
          "traits": {
            "smithy.api#documentation": "Where to send the buyer.",
            "smithy.api#required": {}
          }
        },
        "render": {
          "target": "com.whop.setup_intents#PaymentNextActionRedirectRenderList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.whop.setup_intents#PaymentNextActionRedirectType",
          "traits": {
            "smithy.api#documentation": "Always `redirect`: send the buyer to `data.url`. The provider hands them back to `return_url` when they are done.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentNextActionRedirectData": {
      "type": "structure",
      "members": {
        "frame_max_width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The widest the provider's page lays out usefully, in CSS pixels — cap a frame or dialog presenting it at this width. `null` when the page fills whatever width it is given.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provider's page for this payment, as an absolute URL — take the buyer there.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentNextActionRedirectRenderItem": {
      "type": "enum",
      "members": {
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inline"
          }
        },
        "FULL_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full_page"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where this step can be presented: `inline` inside your own page, `full_page` as a top-level navigation. Pick whichever listed mode suits your surface."
      }
    },
    "com.whop.setup_intents#PaymentNextActionRedirectRenderList": {
      "type": "list",
      "member": {
        "target": "com.whop.setup_intents#PaymentNextActionRedirectRenderItem"
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentNextActionRedirectType": {
      "type": "enum",
      "members": {
        "REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redirect"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always `redirect`: send the buyer to `data.url`. The provider hands them back to `return_url` when they are done."
      }
    },
    "com.whop.setup_intents#PaymentNextActionDisplayInstructions": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.setup_intents#PaymentInstructions",
          "traits": {
            "smithy.api#documentation": "The instructions. `kind` picks the shape, and the details sit under the key named for it: `voucher`, `qr`, or `bank_transfer`.",
            "smithy.api#required": {}
          }
        },
        "render": {
          "target": "com.whop.setup_intents#PaymentNextActionDisplayInstructionsRenderList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.whop.setup_intents#PaymentNextActionDisplayInstructionsType",
          "traits": {
            "smithy.api#documentation": "Always `display_instructions`: show the buyer `data` — what to pay, where, and by when. The payment completes once they pay and the rail confirms it, so keep polling `status`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentInstructions": {
      "type": "union",
      "members": {
        "PaymentVoucherInstructions": {
          "target": "com.whop.setup_intents#PaymentVoucherInstructions"
        },
        "PaymentQrInstructions": {
          "target": "com.whop.setup_intents#PaymentQrInstructions"
        },
        "PaymentBankTransferInstructions": {
          "target": "com.whop.setup_intents#PaymentBankTransferInstructions"
        }
      },
      "traits": {
        "smithy.api#documentation": "What to show the buyer so they can pay. `kind` picks the shape and the details sit under the key named for it, so switching on `kind` gives you exactly that kind's payload. Every detail field is optional — the rails behind these methods publish them unevenly — but a kind that arrives with `document_url` can always fall back to sending the buyer to that hosted copy of the instructions."
      }
    },
    "com.whop.setup_intents#PaymentVoucherInstructions": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.whop.setup_intents#PaymentVoucherInstructionsKind",
          "traits": {
            "smithy.api#documentation": "Always `voucher`: a code the buyer pays in person, at a convenience store or bank counter.",
            "smithy.api#required": {}
          }
        },
        "voucher": {
          "target": "com.whop.setup_intents#PaymentVoucher",
          "traits": {
            "smithy.api#documentation": "The voucher to show.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentVoucherInstructionsKind": {
      "type": "enum",
      "members": {
        "VOUCHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "voucher"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always `voucher`: a code the buyer pays in person, at a convenience store or bank counter."
      }
    },
    "com.whop.setup_intents#PaymentVoucher": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "com.whop.setup_intents#Money",
          "traits": {
            "smithy.api#documentation": "Exactly what the buyer must pay, in the charged currency."
          }
        },
        "barcode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The barcode's contents, when the voucher carries one — render it in the symbology named by `barcode_format`."
          }
        },
        "barcode_format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The symbology `barcode` is encoded in, such as `CODE_128`."
          }
        },
        "company_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Who the payment is made out to."
          }
        },
        "document_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hosted page with the complete, printable instructions. If you would rather not render the details yourself, send the buyer here."
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the voucher stops being payable, as an ISO 8601 timestamp."
          }
        },
        "provider_logo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of that network's logo."
          }
        },
        "provider_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The network the buyer pays at, such as OXXO."
          }
        },
        "reference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The voucher's number — what the buyer reads out or types at the counter to pay."
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#Money": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount in major units, as an exact decimal string — `\"10.00\"` is ten dollars. A string so no float rounds it in transit.",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Three-letter ISO 4217 currency code, lowercase.",
            "smithy.api#required": {}
          }
        },
        "decimals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many decimal places the amount CARRIES — the precision the charge itself runs at.",
            "smithy.api#required": {}
          }
        },
        "display_decimals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many decimal places to SHOW. Usually equal to `decimals`, and deliberately not always: COP is charged in centavos but written in whole pesos, so it is `2` and `0`. Format the number in your own locale using this.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentQrInstructions": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.whop.setup_intents#PaymentQrInstructionsKind",
          "traits": {
            "smithy.api#documentation": "Always `qr`: a code the buyer scans with their banking app.",
            "smithy.api#required": {}
          }
        },
        "qr": {
          "target": "com.whop.setup_intents#PaymentQr",
          "traits": {
            "smithy.api#documentation": "The code to show.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentQrInstructionsKind": {
      "type": "enum",
      "members": {
        "QR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "qr"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always `qr`: a code the buyer scans with their banking app."
      }
    },
    "com.whop.setup_intents#PaymentQr": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "com.whop.setup_intents#Money",
          "traits": {
            "smithy.api#documentation": "Exactly what the buyer must pay, in the charged currency."
          }
        },
        "document_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hosted page with the complete, printable instructions. If you would rather not render the details yourself, send the buyer here."
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the code stops being payable, as an ISO 8601 timestamp."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An account key the buyer can pay to directly (Colombia's Bre-B llave), for apps that take a key instead of a scan."
          }
        },
        "qr_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The QR code's contents, ready to render as a scannable image — `qr_format` says how it is encoded."
          }
        },
        "qr_format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How `qr_code` is encoded."
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentBankTransferInstructions": {
      "type": "structure",
      "members": {
        "bank_transfer": {
          "target": "com.whop.setup_intents#PaymentBankTransfer",
          "traits": {
            "smithy.api#documentation": "The account details to show.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.whop.setup_intents#PaymentBankTransferInstructionsKind",
          "traits": {
            "smithy.api#documentation": "Always `bank_transfer`: account details the buyer sends money to from their own bank.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentBankTransfer": {
      "type": "structure",
      "members": {
        "account_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account to send to, in the local scheme's format — `account_number_label` says what to call it."
          }
        },
        "account_number_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What to call `account_number` when showing it, in the local scheme's own terms — `CLABE` in Mexico, for example."
          }
        },
        "amount": {
          "target": "com.whop.setup_intents#Money",
          "traits": {
            "smithy.api#documentation": "Exactly what the buyer must send, in the charged currency."
          }
        },
        "bank_account_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of account receiving the transfer, such as a checking account, in the local system's own vocabulary."
          }
        },
        "bank_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The receiving bank's address."
          }
        },
        "bank_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The receiving branch, where the local system routes by branch."
          }
        },
        "bank_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The code that identifies the receiving bank — its code in the local clearing system, or its SWIFT/BIC on a transfer that crosses borders."
          }
        },
        "bank_code_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What to call `bank_code` when showing it, in the scheme's own terms — `SWIFT / BIC` on an international wire, for example."
          }
        },
        "bank_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The receiving bank's name."
          }
        },
        "beneficiary_document": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account holder's tax or identity document number, where the local system needs it to send."
          }
        },
        "beneficiary_document_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What kind of document `beneficiary_document` is, in the local system's own vocabulary."
          }
        },
        "beneficiary_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Who the account belongs to — the name the buyer's bank may ask them to confirm."
          }
        },
        "document_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hosted page with the complete, printable instructions. If you would rather not render the details yourself, send the buyer here."
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When these details stop being payable, as an ISO 8601 timestamp."
          }
        },
        "instructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rail's own step-by-step payment text, when it supplies one."
          }
        },
        "reference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reference the buyer must attach to the transfer so it can be matched to this payment."
          }
        },
        "routing_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The receiving bank's routing number for US transfers."
          }
        },
        "secondary_account_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A second account number, where the rail publishes the same destination in more than one format."
          }
        },
        "secondary_account_number_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What to call `secondary_account_number` when showing it."
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentBankTransferInstructionsKind": {
      "type": "enum",
      "members": {
        "BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_transfer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always `bank_transfer`: account details the buyer sends money to from their own bank."
      }
    },
    "com.whop.setup_intents#PaymentNextActionDisplayInstructionsRenderItem": {
      "type": "enum",
      "members": {
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inline"
          }
        },
        "FULL_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full_page"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where this step can be presented: `inline` inside your own page, `full_page` as a top-level navigation. Pick whichever listed mode suits your surface."
      }
    },
    "com.whop.setup_intents#PaymentNextActionDisplayInstructionsRenderList": {
      "type": "list",
      "member": {
        "target": "com.whop.setup_intents#PaymentNextActionDisplayInstructionsRenderItem"
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentNextActionDisplayInstructionsType": {
      "type": "enum",
      "members": {
        "DISPLAY_INSTRUCTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "display_instructions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always `display_instructions`: show the buyer `data` — what to pay, where, and by when. The payment completes once they pay and the rail confirms it, so keep polling `status`."
      }
    },
    "com.whop.setup_intents#PaymentNextActionAwaitConfirmation": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.setup_intents#PaymentNextActionAwaitConfirmationData",
          "traits": {
            "smithy.api#documentation": "How long the wait can last.",
            "smithy.api#required": {}
          }
        },
        "render": {
          "target": "com.whop.setup_intents#PaymentNextActionAwaitConfirmationRenderList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.whop.setup_intents#PaymentNextActionAwaitConfirmationType",
          "traits": {
            "smithy.api#documentation": "Always `await_confirmation`: nothing to show — the buyer has done their part and the rail settles out of band. Poll `status` until it moves.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentNextActionAwaitConfirmationData": {
      "type": "structure",
      "members": {
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the confirmation window closes, as an ISO 8601 timestamp. A payment still unconfirmed by then will not succeed — watch `status` for the failed attempt.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentNextActionAwaitConfirmationRenderItem": {
      "type": "enum",
      "members": {
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inline"
          }
        },
        "FULL_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full_page"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where this step can be presented: `inline` inside your own page, `full_page` as a top-level navigation. Pick whichever listed mode suits your surface."
      }
    },
    "com.whop.setup_intents#PaymentNextActionAwaitConfirmationRenderList": {
      "type": "list",
      "member": {
        "target": "com.whop.setup_intents#PaymentNextActionAwaitConfirmationRenderItem"
      },
      "traits": {}
    },
    "com.whop.setup_intents#PaymentNextActionAwaitConfirmationType": {
      "type": "enum",
      "members": {
        "AWAIT_CONFIRMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "await_confirmation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always `await_confirmation`: nothing to show — the buyer has done their part and the rail settles out of band. Poll `status` until it moves."
      }
    },
    "com.whop.setup_intents#SetupStatusStatus": {
      "type": "enum",
      "members": {
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How far the setup has got. **A 200 means we answered, not that the method was saved — always branch on this.** `requires_action` — the buyer has a step outstanding; see `next_action`. `processing` — the buyer has done their part and the processor is deciding. `succeeded` — the payment method is saved, and only this one means saved. `canceled` — abandoned or refused; see `last_setup_error` to tell which."
      }
    },
    "com.whop.setup_intents#UpdateReturnUrlSetupIntent": {
      "type": "operation",
      "input": {
        "target": "com.whop.setup_intents#UpdateReturnUrlSetupIntentRequest"
      },
      "output": {
        "target": "com.whop.setup_intents#SetupStatus"
      },
      "errors": [
        {
          "target": "com.whop.setup_intents#BadRequest"
        },
        {
          "target": "com.whop.setup_intents#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/setup_intents/{setup_intent_id}/return_url",
          "code": 200
        },
        "smithy.api#documentation": "Update setup return URL\n\nChanges where the buyer lands after completing an off-site step, up until they return. Accepts either a secret key or the setup's own `client_secret`, so the surface that knows the final destination can set it."
      }
    },
    "com.whop.setup_intents#GetStatusSetupIntentRequest": {
      "type": "structure",
      "members": {
        "setup_intent_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the setup intent."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.setup_intents#GetStatusSetupIntent": {
      "type": "operation",
      "input": {
        "target": "com.whop.setup_intents#GetStatusSetupIntentRequest"
      },
      "output": {
        "target": "com.whop.setup_intents#SetupStatus"
      },
      "errors": [
        {
          "target": "com.whop.setup_intents#Forbidden"
        },
        {
          "target": "com.whop.setup_intents#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/setup_intents/{setup_intent_id}/status",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve setup status\n\nRetrieves how far a setup has got and what the buyer must do next, if anything. Collection runs in the background, so poll this rather than reading the create response. Accepts either a secret key or the setup's own `client_secret`, so the surface collecting the payment method can poll it directly."
      }
    },
    "com.whop.setup_intents#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.whop.setup_intents#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.whop.setup_intents#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.whop.setup_intents#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.whop.setup_intents#SetupIntents": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.setup_intents#ListSetupIntents"
        },
        {
          "target": "com.whop.setup_intents#CreateSetupIntent"
        },
        {
          "target": "com.whop.setup_intents#GetSetupIntent"
        },
        {
          "target": "com.whop.setup_intents#UpdateReturnUrlSetupIntent"
        },
        {
          "target": "com.whop.setup_intents#GetStatusSetupIntent"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
