{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.whop.stats#ListMetricsResponseDataItemBreakdownsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Supported breakdown_by values when they differ from the filter properties."
      }
    },
    "com.whop.stats#ListMetricsResponseDataItemPropertiesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The properties you can use with this metric — pass one as a filter (property=value) to narrow the series, or as breakdown_by=property to split it."
      }
    },
    "com.whop.stats#ListMetricsResponseDataItemUnit": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "CURRENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "currency"
          }
        },
        "PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percent"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How to read the metric's values: count is an integer, currency is a decimal amount, and percent is a number where 1.6 means 1.6%."
      }
    },
    "com.whop.stats#ListMetricsResponseDataItemWindowsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Snapshot metrics only: the trailing windows you can pass as snapshot_window, for example 30d. Absent on live metrics, which use from/to instead."
      }
    },
    "com.whop.stats#ListMetricsResponseDataItem": {
      "type": "structure",
      "members": {
        "breakdowns": {
          "target": "com.whop.stats#ListMetricsResponseDataItemBreakdownsList",
          "traits": {
            "smithy.api#documentation": "Supported breakdown_by values when they differ from the filter properties."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of what the metric measures.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The metric's key. Pass it to GET /stats/{metric} to query its values.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable display name for the metric.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.whop.stats#ListMetricsResponseDataItemPropertiesList",
          "traits": {
            "smithy.api#documentation": "The properties you can use with this metric — pass one as a filter (property=value) to narrow the series, or as breakdown_by=property to split it.",
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "com.whop.stats#ListMetricsResponseDataItemUnit",
          "traits": {
            "smithy.api#documentation": "How to read the metric's values: count is an integer, currency is a decimal amount, and percent is a number where 1.6 means 1.6%.",
            "smithy.api#required": {}
          }
        },
        "windows": {
          "target": "com.whop.stats#ListMetricsResponseDataItemWindowsList",
          "traits": {
            "smithy.api#documentation": "Snapshot metrics only: the trailing windows you can pass as snapshot_window, for example 30d. Absent on live metrics, which use from/to instead."
          }
        }
      },
      "traits": {}
    },
    "com.whop.stats#ListMetricsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.stats#ListMetricsResponseDataItem"
      },
      "traits": {
        "smithy.api#documentation": "The available metrics."
      }
    },
    "com.whop.stats#ListMetricsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.stats#ListMetricsResponseDataList",
          "traits": {
            "smithy.api#documentation": "The available metrics.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.stats#ListMetrics": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.whop.stats#ListMetricsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/stats",
          "code": 200
        },
        "smithy.api#documentation": "List Metrics\n\nLists every metric you can query, with its unit and the properties you can filter or break it down by."
      }
    },
    "com.whop.stats#GetMetricRequestInterval": {
      "type": "enum",
      "members": {
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minute"
          }
        },
        "FIVE_MINUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "five_minutes"
          }
        },
        "THIRTY_MINUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thirty_minutes"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        }
      },
      "traits": {}
    },
    "com.whop.stats#GetMetricRequestEventType": {
      "type": "enum",
      "members": {
        "PAGE_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "page_view"
          }
        },
        "CHECKOUT_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "checkout_start"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {}
    },
    "com.whop.stats#GetMetricRequestAdCampaignIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.stats#GetMetricRequestAdGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.stats#GetMetricRequestAdIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.stats#GetMetricRequestSnapshotWindow": {
      "type": "enum",
      "members": {
        "_7D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "7d"
          }
        },
        "_28D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "28d"
          }
        },
        "_30D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "30d"
          }
        }
      },
      "traits": {}
    },
    "com.whop.stats#FunnelStep": {
      "type": "structure",
      "members": {
        "app_build_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Whop app build ID attached to the event. Comma-separated alternatives are ORed; different filters are ANDed."
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event's app id. Comma-separated alternatives are ORed; different filters are ANDed."
          }
        },
        "browser": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event's browser. Comma-separated alternatives are ORed; different filters are ANDed."
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event's city. Comma-separated alternatives are ORed; different filters are ANDed."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event's country. Comma-separated alternatives are ORed; different filters are ANDed."
          }
        },
        "custom_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The custom event name. Requires event=pixel.custom. Comma-separated alternatives are ORed; different filters are ANDed."
          }
        },
        "device": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event's device. Comma-separated alternatives are ORed; different filters are ANDed."
          }
        },
        "event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event name, such as pixel.page, pixel.custom, experiment.exposure, or payment.completed. Exactly one event per step.",
            "smithy.api#required": {}
          }
        },
        "experiment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An experiment ID owned by account_id. Requires event=experiment.exposure. Comma-separated alternatives are ORed; different filters are ANDed."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event's hostname. Comma-separated alternatives are ORed; different filters are ANDed."
          }
        },
        "os": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event's os. Comma-separated alternatives are ORed; different filters are ANDed."
          }
        },
        "page": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pathname. Use * to match zero or more characters, including slashes. Other characters match literally. Missing pages do not match. Comma-separated alternatives are ORed; different filters are ANDed."
          }
        },
        "plan_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plan ID attached to the event. Comma-separated alternatives are ORed; different filters are ANDed."
          }
        },
        "product_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product ID attached to the event. Comma-separated alternatives are ORed; different filters are ANDed."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Whop ad-click source of this page view, not conversion attribution. Use whop:* for any Whop ad click, whop:<campaign>:* for a campaign, or whop:<campaign>:<group>:<ad> for an exact ad. Only ad-click page-view events support source. With breakdown_by=source, trailing :* levels select campaign, ad-group, or ad detail. Comma-separated alternatives are ORed; different filters are ANDed."
          }
        },
        "utm_source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event's utm source. Comma-separated alternatives are ORed; different filters are ANDed."
          }
        },
        "variant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The exposed variant name. Requires event=experiment.exposure. Comma-separated alternatives are ORed; different filters are ANDed."
          }
        }
      },
      "traits": {}
    },
    "com.whop.stats#GetMetricRequestSteps": {
      "type": "structure",
      "members": {
        "_1": {
          "target": "com.whop.stats#FunnelStep",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "1"
          }
        },
        "_2": {
          "target": "com.whop.stats#FunnelStep",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "2"
          }
        },
        "_3": {
          "target": "com.whop.stats#FunnelStep",
          "traits": {
            "smithy.api#jsonName": "3"
          }
        },
        "_4": {
          "target": "com.whop.stats#FunnelStep",
          "traits": {
            "smithy.api#jsonName": "4"
          }
        },
        "_5": {
          "target": "com.whop.stats#FunnelStep",
          "traits": {
            "smithy.api#jsonName": "5"
          }
        },
        "_6": {
          "target": "com.whop.stats#FunnelStep",
          "traits": {
            "smithy.api#jsonName": "6"
          }
        },
        "_7": {
          "target": "com.whop.stats#FunnelStep",
          "traits": {
            "smithy.api#jsonName": "7"
          }
        },
        "_8": {
          "target": "com.whop.stats#FunnelStep",
          "traits": {
            "smithy.api#jsonName": "8"
          }
        },
        "_9": {
          "target": "com.whop.stats#FunnelStep",
          "traits": {
            "smithy.api#jsonName": "9"
          }
        },
        "_10": {
          "target": "com.whop.stats#FunnelStep",
          "traits": {
            "smithy.api#jsonName": "10"
          }
        }
      },
      "traits": {}
    },
    "com.whop.stats#GetMetricRequest": {
      "type": "structure",
      "members": {
        "metric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The metric to retrieve, for example net_revenue. Use GET /stats to see every metric key. The metric sets the unit and the properties you can filter or break down by."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#documentation": "The account this query concerns, for example biz_AbC123."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "user_id",
            "smithy.api#documentation": "The user this query concerns, for example user_AbC123. Available on metrics that support user subjects, such as account_balance."
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "from",
            "smithy.api#required": {},
            "smithy.api#documentation": "Start of the range — a date (YYYY-MM-DD), expanded to the start of that day, or an ISO 8601 timestamp (for example 2026-07-16T16:37:00Z), used exactly."
          }
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "to",
            "smithy.api#required": {},
            "smithy.api#documentation": "End of the range — a date (YYYY-MM-DD), expanded to the end of that day, or an ISO 8601 timestamp (for example 2026-07-17T16:37:00Z), used exactly. Funnel entry ranges cannot exceed 90 days."
          }
        },
        "interval": {
          "target": "com.whop.stats#GetMetricRequestInterval",
          "traits": {
            "smithy.api#httpQuery": "interval",
            "smithy.api#documentation": "How wide each point is. Defaults to day. Snapshot metrics are day-only. Funnels support at most 2,000 first-entry cohort buckets."
          }
        },
        "breakdown_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "breakdown_by",
            "smithy.api#documentation": "Split the metric out by one of its properties — each point gets a breakdown array. For example breakdown_by=currency returns an entry for usd, an entry for eur, and so on. Funnels use a property of the first matched event, with at most 300 groups. experiment_id and variant require an exposure as step 1. For funnel source breakdowns, steps[1][source]=whop:* groups by campaign, whop:<campaign>:* by ad group, and whop:<campaign>:<group>:* by ad. See the metric catalog for supported breakdowns."
          }
        },
        "convert_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "convert_to",
            "smithy.api#documentation": "Display currency for money metrics — every amount is converted into this ISO currency using the exchange rate on each period's date. Defaults to usd. For the ads metrics (ad_spend, ad_delivery), pass the account's ads reporting currency to match the ad entity endpoints. On transaction metrics, it is ignored when you filter or break down by currency (those report the original transaction currency, unconverted)."
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "currency",
            "smithy.api#documentation": "Select the source currency or asset on metrics that list currency. For transaction metrics, for example currency=eur, values are reported without conversion. For market_prices, use btc or xaut and convert_to=usd. Pair with breakdown_by=currency to split a metric by currency."
          }
        },
        "time_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "time_zone",
            "smithy.api#documentation": "IANA time zone to bucket the series in, for example America/New_York. Defaults to UTC. Not accepted by snapshot metrics, which are UTC only."
          }
        },
        "payment_method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "payment_method",
            "smithy.api#documentation": "Filter to a single payment method, for example card or crypto. Available on metrics that list payment_method."
          }
        },
        "card_network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "card_network",
            "smithy.api#documentation": "Filter to a single card brand, for example visa. A refinement of payment_method=card. Available on metrics that list card_network."
          }
        },
        "dispute_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dispute_reason",
            "smithy.api#documentation": "Filter disputes to a normalized reason, for example product_not_received. Pair with breakdown_by=dispute_reason to split dispute counts by reason."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source",
            "smithy.api#documentation": "Filter to a single GMV source, for example payments — or, on the traffic metrics, a visit source (whop_ads, direct, or a utm_source value). Pair with breakdown_by=source to split by source. Available on metrics that list source."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "hostname",
            "smithy.api#documentation": "Filter traffic metrics to one website hostname, for example shop.example.com. Pair with breakdown_by=hostname to split by website."
          }
        },
        "page": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Filter traffic metrics to one page — a hostname plus normalized path, for example shop.example.com/pricing. Pair with breakdown_by=page to split by page."
          }
        },
        "device_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "device_type",
            "smithy.api#documentation": "Filter traffic metrics to one device type: desktop, mobile, tablet, or unknown. Pair with breakdown_by=device_type to split by device."
          }
        },
        "country_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "country_code",
            "smithy.api#documentation": "Filter traffic metrics to one visitor country (uppercase ISO 3166-1 alpha-2, for example US). Pair with breakdown_by=country_code to split by country."
          }
        },
        "event_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "event_name",
            "smithy.api#documentation": "Filter the events metric to one tracked event name, for example pixel.page or pixel.custom. Pair with breakdown_by=event_name to split by event."
          }
        },
        "event_type": {
          "target": "com.whop.stats#GetMetricRequestEventType",
          "traits": {
            "smithy.api#httpQuery": "event_type",
            "smithy.api#documentation": "Filter the events metric to a canonical group of events: page_view (pixel page views plus whop.com store views), checkout_start (hosted and embedded checkout views), or other. Pair with breakdown_by=event_type to split by group."
          }
        },
        "custom_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "custom_name",
            "smithy.api#documentation": "Filter the events metric to one merchant-defined custom event name. Only valid alongside event_name=pixel.custom. Pair with breakdown_by=custom_name to split custom events by name."
          }
        },
        "segment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "segment",
            "smithy.api#documentation": "Filter to a single wallet-balance segment, for example available. Pair with breakdown_by=segment to split the balance. Available on metrics that list segment."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "category",
            "smithy.api#documentation": "Filter to a single balance-activity category, for example payments. Pair with breakdown_by=category to split the activity. Available on metrics that list category."
          }
        },
        "merchant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "merchant",
            "smithy.api#documentation": "Filter to a single cashback merchant bucket, for example whop-ads. Pair with breakdown_by=merchant to split cashback by merchant. Available on metrics that list merchant."
          }
        },
        "fee_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fee_type",
            "smithy.api#documentation": "Filter to a single fee type. Pair with breakdown_by=fee_type to split fees by type. Available on metrics that list fee_type."
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "product",
            "smithy.api#documentation": "Filter to a single product (access pass id), for example prod_AbC123. Pair with breakdown_by=product. Available on metrics that list product."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter to a single membership status. Pair with breakdown_by=status. Available on metrics that list status."
          }
        },
        "access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "access_level",
            "smithy.api#documentation": "Filter to a single access level. Pair with breakdown_by=access_level. Available on metrics that list access_level."
          }
        },
        "most_recent_action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "most_recent_action",
            "smithy.api#documentation": "Filter to a single most-recent member action. Pair with breakdown_by=most_recent_action. Available on metrics that list most_recent_action."
          }
        },
        "referred_user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "referred_user_id",
            "smithy.api#documentation": "Filter a referral metric to the businesses attributed to one person you referred, for example user_AbC123. Available on metrics that list referred_user_id."
          }
        },
        "ad_campaign_ids": {
          "target": "com.whop.stats#GetMetricRequestAdCampaignIdsList",
          "traits": {
            "smithy.api#httpQuery": "ad_campaign_ids",
            "smithy.api#documentation": "Ad campaign ids (adcamp_...) to scope the report to; stats are summed across them. Available on metrics that list ad_campaign_ids."
          }
        },
        "ad_group_ids": {
          "target": "com.whop.stats#GetMetricRequestAdGroupIdsList",
          "traits": {
            "smithy.api#httpQuery": "ad_group_ids",
            "smithy.api#documentation": "Ad group ids (adgrp_...) to scope the report to; stats are summed across them. Available on metrics that list ad_group_ids."
          }
        },
        "ad_ids": {
          "target": "com.whop.stats#GetMetricRequestAdIdsList",
          "traits": {
            "smithy.api#httpQuery": "ad_ids",
            "smithy.api#documentation": "Ad ids (ad_...) to scope the report to; stats are summed across them. Available on metrics that list ad_ids."
          }
        },
        "snapshot_window": {
          "target": "com.whop.stats#GetMetricRequestSnapshotWindow",
          "traits": {
            "smithy.api#httpQuery": "snapshot_window",
            "smithy.api#documentation": "Window used by a snapshot metric. Ordinary snapshots accept 30d as their trailing activity window. Cohorted dispute metrics accept 7d or 28d as the sales-transaction pool; their attribution window is fixed in the metric name. Each metric lists its accepted values in the catalog."
          }
        },
        "event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "event",
            "smithy.api#documentation": "Filter the events metric to one or more full event names, for example payment.completed or pixel.lead. Comma-separated names match any listed event. Use group_by=event for separate groups. Available on metrics that list event."
          }
        },
        "conversion_window": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "conversion_window",
            "smithy.api#documentation": "Funnel only. Time allowed from the first event to the final event: integer minutes, hours, or days, up to 30d."
          }
        },
        "mature_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "mature_only",
            "smithy.api#documentation": "Funnel only. Include only entrants whose full conversion window has elapsed. Required for confidence intervals and comparisons."
          }
        },
        "steps": {
          "target": "com.whop.stats#GetMetricRequestSteps",
          "traits": {
            "smithy.api#httpQuery": "steps",
            "smithy.api#documentation": "Funnel only. Required when metric=funnel. Consecutive one-based steps encoded as steps[1][event], steps[1][page], steps[2][event], and so on. Values are scalar strings, never JSON."
          }
        },
        "compare_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "compare_to",
            "smithy.api#documentation": "Funnel only. The breakdown value to use as baseline for whole-window final conversion. Requires breakdown_by and mature_only=true; defaults confidence_level to 0.95."
          }
        },
        "confidence_level": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "confidence_level",
            "smithy.api#documentation": "Funnel only. Confidence level for whole-window final conversion intervals, for example 0.95. Requires mature_only=true. Exposure steps must each filter one user-randomized experiment."
          }
        },
        "contactable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "contactable",
            "smithy.api#documentation": "People metric only: contactable equals this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "has_purchased": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "has_purchased",
            "smithy.api#documentation": "People metric only: has_purchased equals this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "first_seen_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "first_seen_after",
            "smithy.api#documentation": "People metric only: first_seen_at greater than or equal this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "first_seen_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "first_seen_before",
            "smithy.api#documentation": "People metric only: first_seen_at less than this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "last_seen_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "last_seen_after",
            "smithy.api#documentation": "People metric only: last_seen_at greater than or equal this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "last_seen_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "last_seen_before",
            "smithy.api#documentation": "People metric only: last_seen_at less than this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "first_seen_within_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first_seen_within_days",
            "smithy.api#documentation": "People metric only: first_seen_at within this many days of now. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "last_seen_within_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last_seen_within_days",
            "smithy.api#documentation": "People metric only: last_seen_at within this many days of now. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "known": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "known",
            "smithy.api#documentation": "People metric only: known equals this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "has_email": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "has_email",
            "smithy.api#documentation": "People metric only: has_email equals this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "has_phone": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "has_phone",
            "smithy.api#documentation": "People metric only: has_phone equals this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "ltv_gt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "ltv_gt",
            "smithy.api#documentation": "People metric only: ltv greater than this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "ltv_gte": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "ltv_gte",
            "smithy.api#documentation": "People metric only: ltv greater than or equal this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "ltv_lt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "ltv_lt",
            "smithy.api#documentation": "People metric only: ltv less than this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "ltv_lte": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "ltv_lte",
            "smithy.api#documentation": "People metric only: ltv less than or equal this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "aov_gt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "aov_gt",
            "smithy.api#documentation": "People metric only: aov greater than this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "aov_gte": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "aov_gte",
            "smithy.api#documentation": "People metric only: aov greater than or equal this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "aov_lt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "aov_lt",
            "smithy.api#documentation": "People metric only: aov less than this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "aov_lte": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "aov_lte",
            "smithy.api#documentation": "People metric only: aov less than or equal this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "purchase_count_gt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "purchase_count_gt",
            "smithy.api#documentation": "People metric only: purchase_count greater than this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "purchase_count_gte": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "purchase_count_gte",
            "smithy.api#documentation": "People metric only: purchase_count greater than or equal this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "purchase_count_lt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "purchase_count_lt",
            "smithy.api#documentation": "People metric only: purchase_count less than this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "purchase_count_lte": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "purchase_count_lte",
            "smithy.api#documentation": "People metric only: purchase_count less than or equal this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "event_count_gt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "event_count_gt",
            "smithy.api#documentation": "People metric only: event_count greater than this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "event_count_gte": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "event_count_gte",
            "smithy.api#documentation": "People metric only: event_count greater than or equal this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "event_count_lt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "event_count_lt",
            "smithy.api#documentation": "People metric only: event_count less than this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        },
        "event_count_lte": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "event_count_lte",
            "smithy.api#documentation": "People metric only: event_count less than or equal this value. Applies to the current person profile for every time bucket. LTV and AOV are in USD. Not accepted by the Events metric."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.stats#FunnelStepResult": {
      "type": "structure",
      "members": {
        "conversion_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentage of first-step entrants reaching this step; null when there are no entrants.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of distinct people reaching this step.",
            "smithy.api#required": {}
          }
        },
        "step": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The one-based step number.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.stats#GetMetricResponseDataPointsItemBreakdownItemStepsList": {
      "type": "list",
      "member": {
        "target": "com.whop.stats#FunnelStepResult"
      },
      "traits": {
        "smithy.api#documentation": "Present for the funnel metric. People reaching each step in order, starting with the entry step."
      }
    },
    "com.whop.stats#GetMetricResponseDataPointsItemBreakdownItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The property value, for example usd or visa.",
            "smithy.api#required": {}
          }
        },
        "steps": {
          "target": "com.whop.stats#GetMetricResponseDataPointsItemBreakdownItemStepsList",
          "traits": {
            "smithy.api#documentation": "Present for the funnel metric. People reaching each step in order, starting with the entry step."
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The metric's value for this entry.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.stats#GetMetricResponseDataPointsItemBreakdownList": {
      "type": "list",
      "member": {
        "target": "com.whop.stats#GetMetricResponseDataPointsItemBreakdownItem"
      },
      "traits": {
        "smithy.api#documentation": "Present only when broken down: one entry per property value in this period."
      }
    },
    "com.whop.stats#GetMetricResponseDataPointsItemStepsList": {
      "type": "list",
      "member": {
        "target": "com.whop.stats#FunnelStepResult"
      },
      "traits": {
        "smithy.api#documentation": "Present for the funnel metric. People reaching each step in order, starting with the entry step."
      }
    },
    "com.whop.stats#GetMetricResponseDataPointsItem": {
      "type": "structure",
      "members": {
        "breakdown": {
          "target": "com.whop.stats#GetMetricResponseDataPointsItemBreakdownList",
          "traits": {
            "smithy.api#documentation": "Present only when broken down: one entry per property value in this period."
          }
        },
        "steps": {
          "target": "com.whop.stats#GetMetricResponseDataPointsItemStepsList",
          "traits": {
            "smithy.api#documentation": "Present for the funnel metric. People reaching each step in order, starting with the entry step."
          }
        },
        "timestamp": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp (seconds) of the period start.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The metric's value for this period, in the metric's unit.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.stats#GetMetricResponseDataPointsList": {
      "type": "list",
      "member": {
        "target": "com.whop.stats#GetMetricResponseDataPointsItem"
      },
      "traits": {
        "smithy.api#documentation": "One entry per period, oldest first."
      }
    },
    "com.whop.stats#FunnelConfidenceInterval": {
      "type": "structure",
      "members": {
        "lower": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The lower confidence bound, in percent or percentage points for a difference.",
            "smithy.api#required": {}
          }
        },
        "upper": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The upper confidence bound, in percent or percentage points for a difference.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.stats#FunnelComparison": {
      "type": "structure",
      "members": {
        "baseline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reference group's name.",
            "smithy.api#required": {}
          }
        },
        "difference_confidence_interval": {
          "target": "com.whop.stats#FunnelConfidenceInterval",
          "traits": {
            "smithy.api#documentation": "Adjusted Wald interval for the difference in percentage points, with Bonferroni correction across comparisons.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "difference_percentage_points": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This group's conversion percentage minus the baseline's.",
            "smithy.api#required": {}
          }
        },
        "relative_lift_percent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Relative conversion improvement in percent; null if baseline conversion is zero.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.stats#GetMetricResponseDataTotalsItemStepsList": {
      "type": "list",
      "member": {
        "target": "com.whop.stats#FunnelStepResult"
      },
      "traits": {
        "smithy.api#documentation": "Present for the funnel metric. People reaching each step in order, starting with the entry step."
      }
    },
    "com.whop.stats#GetMetricResponseDataTotalsItem": {
      "type": "structure",
      "members": {
        "comparison": {
          "target": "com.whop.stats#FunnelComparison",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "confidence_interval": {
          "target": "com.whop.stats#FunnelConfidenceInterval",
          "traits": {
            "smithy.api#documentation": "Funnel only. The Wilson interval for final conversion, present when confidence_level or compare_to is supplied.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The property value this total is for, or the metric's name when it isn't split by a property.",
            "smithy.api#required": {}
          }
        },
        "steps": {
          "target": "com.whop.stats#GetMetricResponseDataTotalsItemStepsList",
          "traits": {
            "smithy.api#documentation": "Present for the funnel metric. People reaching each step in order, starting with the entry step."
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The metric's whole-window value for this entry.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.stats#GetMetricResponseDataTotalsList": {
      "type": "list",
      "member": {
        "target": "com.whop.stats#GetMetricResponseDataTotalsItem"
      },
      "traits": {
        "smithy.api#documentation": "Whole-window aggregates, present when the metric computes them. Don't derive these from `points`: a rate is measured across the whole window, not averaged across its points, and whole-window unique people are distinct across every bucket."
      }
    },
    "com.whop.stats#GetMetricResponseData": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO currency the values are denominated in. Present for currency-unit metrics: the convert_to currency, or usd.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "points": {
          "target": "com.whop.stats#GetMetricResponseDataPointsList",
          "traits": {
            "smithy.api#documentation": "One entry per period, oldest first.",
            "smithy.api#required": {}
          }
        },
        "totals": {
          "target": "com.whop.stats#GetMetricResponseDataTotalsList",
          "traits": {
            "smithy.api#documentation": "Whole-window aggregates, present when the metric computes them. Don't derive these from `points`: a rate is measured across the whole window, not averaged across its points, and whole-window unique people are distinct across every bucket.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.stats#GetMetricResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.stats#GetMetricResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.stats#GetMetric": {
      "type": "operation",
      "input": {
        "target": "com.whop.stats#GetMetricRequest"
      },
      "output": {
        "target": "com.whop.stats#GetMetricResponse"
      },
      "errors": [
        {
          "target": "com.whop.stats#BadRequest"
        },
        {
          "target": "com.whop.stats#Forbidden"
        },
        {
          "target": "com.whop.stats#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/stats/{metric}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve Metric\n\nRetrieves a metric as a time series of points for an account or user over a time range. The `market_prices` metric is public and requires no authentication. The `funnel` metric measures 2 to 10 ordered events per person. Its first matching event inside from/to anchors the cohort, breakdown and conversion window; later entries do not restart it. Intervening events are allowed, and conversions may occur after to. Funnel values are final conversion percentages; steps include counts and cumulative conversion percentages. Experiment funnels use experiment.exposure as step 1 and breakdown_by=variant. Pass steps using bracket parameters such as steps[1][event]=pixel.page&steps[1][page]=/pricing*&steps[2][event]=payment.completed."
      }
    },
    "com.whop.stats#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.whop.stats#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.whop.stats#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.whop.stats#Stats": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.stats#ListMetrics"
        },
        {
          "target": "com.whop.stats#GetMetric"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
