{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.whop.verifications#ListVerificationsRequestOrder": {
      "type": "enum",
      "members": {
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        }
      },
      "traits": {}
    },
    "com.whop.verifications#ListVerificationsRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.whop.verifications#ListVerificationsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#documentation": "Business account whose verifications you want to list, prefixed `biz_`. Provide this or `user_id`."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "user_id",
            "smithy.api#documentation": "The caller's own user ID, prefixed `user_`, to list personal verifications. Provide this or `account_id`."
          }
        },
        "order": {
          "target": "com.whop.verifications#ListVerificationsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Field used to sort returned verifications."
          }
        },
        "direction": {
          "target": "com.whop.verifications#ListVerificationsRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "Sort direction for returned verifications."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.verifications#ListVerificationsResponseDataItemAddress": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter ISO 3166-1 country code, for example `US`, `DE`, or `GB`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "line1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First line of the street address."
          }
        },
        "line2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Second line of the street address.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "postal_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal or ZIP code.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State, province, or region code, for example `CA`.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Address on the verification profile. `null` when no address is set."
      }
    },
    "com.whop.verifications#ListVerificationsResponseDataItemKind": {
      "type": "enum",
      "members": {
        "INDIVIDUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "individual"
          }
        },
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "business"
          }
        }
      },
      "traits": {}
    },
    "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationItemDetailsVisibleForList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Selected option values that make the follow-up prompt visible."
      }
    },
    "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationItemErrorsItem": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable error code."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why it was rejected."
          }
        }
      },
      "traits": {}
    },
    "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationItemErrorsList": {
      "type": "list",
      "member": {
        "target": "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationItemErrorsItem"
      },
      "traits": {
        "smithy.api#documentation": "Present after a rejected submission."
      }
    },
    "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationItemOptionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The values `value` may take on a `select` item. On an `id_document` item these are the ID types accepted, and the chosen one decides which `documents` slots to send. Absent when the item has no choice to make."
      }
    },
    "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationItemResponseType": {
      "type": "enum",
      "members": {
        "YES_NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes_no"
          }
        },
        "YES_NO_NA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes_no_na"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "TEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tel"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional native input format for a text response."
      }
    },
    "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationItemSelectionMode": {
      "type": "enum",
      "members": {
        "SINGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "single"
          }
        },
        "MULTIPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiple"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether a question with `options` accepts one value or multiple values."
      }
    },
    "com.whop.verifications#File": {
      "type": "structure",
      "members": {
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file's MIME type, e.g. `application/pdf`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the file was created, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original filename, including its extension.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file's ID, prefixed `file_`.",
            "smithy.api#required": {}
          }
        },
        "multipart_chunk_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The byte size each part (except the last) must be. Present only on create, and only for multipart uploads.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "multipart_upload_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the multipart upload, passed back to `complete`. Present only on create, and only for multipart uploads.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "multipart_upload_urls": {
          "target": "com.whop.verifications#FileMultipartUploadUrlsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of this object, always `file`.",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The file size in bytes. `null` until the upload has finished.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "upload_headers": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Headers to send with the upload PUT. Present only on create."
          }
        },
        "upload_status": {
          "target": "com.whop.verifications#FileUploadStatus",
          "traits": {
            "smithy.api#documentation": "Where the file is in its upload lifecycle.",
            "smithy.api#required": {}
          }
        },
        "upload_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Presigned URL to PUT the file's bytes to. Present only on create, and only for single-part uploads.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL to download the file: a permanent CDN URL for public files, a signed expiring URL for private ones. `null` until the upload has finished.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "visibility": {
          "target": "com.whop.verifications#FileVisibility",
          "traits": {
            "smithy.api#documentation": "`public` files are served via an unsigned CDN URL; `private` files via a signed, expiring URL.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.verifications#FileMultipartUrl": {
      "type": "structure",
      "members": {
        "part_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The 1-based index of this part within the multipart upload.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The presigned URL to PUT this part's bytes to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.verifications#FileMultipartUploadUrlsList": {
      "type": "list",
      "member": {
        "target": "com.whop.verifications#FileMultipartUrl"
      },
      "traits": {}
    },
    "com.whop.verifications#FileUploadStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where the file is in its upload lifecycle."
      }
    },
    "com.whop.verifications#FileVisibility": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`public` files are served via an unsigned CDN URL; `private` files via a signed, expiring URL."
      }
    },
    "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationItemSupportingDocumentsList": {
      "type": "list",
      "member": {
        "target": "com.whop.verifications#File"
      },
      "traits": {
        "smithy.api#documentation": "Documents supplied with the requirement for context."
      }
    },
    "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationItemSupportingFilesVisibleForList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Selected option values that make the supporting-file input visible."
      }
    },
    "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationItem": {
      "type": "structure",
      "members": {
        "action_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for a related action, such as completing liveness verification or viewing a payment. Absent when no action is available."
          }
        },
        "details_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Follow-up prompt shown with this requirement."
          }
        },
        "details_required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the follow-up response is required when visible."
          }
        },
        "details_visible_for": {
          "target": "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationItemDetailsVisibleForList",
          "traits": {
            "smithy.api#documentation": "Selected option values that make the follow-up prompt visible."
          }
        },
        "errors": {
          "target": "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationItemErrorsList",
          "traits": {
            "smithy.api#documentation": "Present after a rejected submission."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requested information item ID, prefixed `inrqi_`.",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instruction to show the user. Carries the reviewer's note verbatim when there is one.",
            "smithy.api#required": {}
          }
        },
        "optional": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "`true` when the item can be skipped."
          }
        },
        "options": {
          "target": "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationItemOptionsList",
          "traits": {
            "smithy.api#documentation": "The values `value` may take on a `select` item. On an `id_document` item these are the ID types accepted, and the chosen one decides which `documents` slots to send. Absent when the item has no choice to make."
          }
        },
        "requirement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What is needed: a document name such as `bank_statement`, or a field key such as `ssn` or `identity_document`. Handle unrecognized values by `type`.",
            "smithy.api#required": {}
          }
        },
        "response_type": {
          "target": "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationItemResponseType",
          "traits": {
            "smithy.api#documentation": "Optional native input format for a text response."
          }
        },
        "selection_mode": {
          "target": "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationItemSelectionMode",
          "traits": {
            "smithy.api#documentation": "Whether a question with `options` accepts one value or multiple values."
          }
        },
        "supporting_documents": {
          "target": "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationItemSupportingDocumentsList",
          "traits": {
            "smithy.api#documentation": "Documents supplied with the requirement for context."
          }
        },
        "supporting_files_explanation_allowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a written explanation may replace required supporting files."
          }
        },
        "supporting_files_required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this requirement also needs supporting files."
          }
        },
        "supporting_files_visible_for": {
          "target": "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationItemSupportingFilesVisibleForList",
          "traits": {
            "smithy.api#documentation": "Selected option values that make the supporting-file input visible."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What to send as the answer, so you never have to infer it: `files` (a document, as a list of its pages), `id_document` (send `documents` with the slot keys for the ID you are uploading), `text`, `date`, `phone` or `select` (send `value`), `text_with_files` (send `value` and optional `files`), `address` (send `address`), or `liveness` (open `action_url`, then send `value` as `true` after completion).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationList": {
      "type": "list",
      "member": {
        "target": "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationItem"
      },
      "traits": {
        "smithy.api#documentation": "What Whop still needs before review can continue — one requirement per entry. Answer with Update Verification; nothing from the response is echoed back. Keys that don't apply are omitted."
      }
    },
    "com.whop.verifications#ListVerificationsResponseDataItemRequiredDocumentsItemStatus": {
      "type": "enum",
      "members": {
        "PENDING_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_upload"
          }
        },
        "SUBMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "submitted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`pending_upload` until the document has been relayed for review; `submitted` afterwards."
      }
    },
    "com.whop.verifications#ListVerificationsResponseDataItemRequiredDocumentsItem": {
      "type": "structure",
      "members": {
        "document": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Document slot key, such as `id_card_front`, `id_card_back`, or `selfie`."
          }
        },
        "rejection_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the previous submission was rejected, when the provider requested new documents or declined the verification.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.whop.verifications#ListVerificationsResponseDataItemRequiredDocumentsItemStatus",
          "traits": {
            "smithy.api#documentation": "`pending_upload` until the document has been relayed for review; `submitted` afterwards."
          }
        }
      },
      "traits": {}
    },
    "com.whop.verifications#ListVerificationsResponseDataItemRequiredDocumentsList": {
      "type": "list",
      "member": {
        "target": "com.whop.verifications#ListVerificationsResponseDataItemRequiredDocumentsItem"
      },
      "traits": {
        "smithy.api#documentation": "Documents for a document-upload verification and their progress. Present only on verifications created by sending `documents`. `pending_upload` documents were not accepted yet — send the full set again with another Create Verification call."
      }
    },
    "com.whop.verifications#ListVerificationsResponseDataItemStatus": {
      "type": "enum",
      "members": {
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_started"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "MANUAL_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual_review"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action_required"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current verification state. `not_started` before any session exists; `pending` while a session needs the user's input; `processing` while the provider's automated checks run on a fresh submission; `action_required` when `requested_information` needs answers; `manual_review` while information already sent is under review — an audit answer, or a document the payout provider holds — nothing to submit, usually done within 3 business days; `approved` on success; `rejected` on failure. Call Create Verification again to start a new session."
      }
    },
    "com.whop.verifications#ListVerificationsResponseDataItem": {
      "type": "structure",
      "members": {
        "address": {
          "target": "com.whop.verifications#ListVerificationsResponseDataItemAddress",
          "traits": {
            "smithy.api#documentation": "Address on the verification profile. `null` when no address is set.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "business_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legal business name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "business_structure": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legal entity structure of the business, such as `private_corporation` or `sole_proprietorship`. Supported values vary by country of incorporation — see [Business structures](/developer/verification/business-structures).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter ISO 3166-1 country code, for example `US`, `DE`, or `GB`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the verification profile was created, as an ISO 8601 timestamp."
          }
        },
        "date_of_birth": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Formatted as `YYYY-MM-DD`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address on the verification profile.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Verification profile ID, prefixed `idpf_`."
          }
        },
        "kind": {
          "target": "com.whop.verifications#ListVerificationsResponseDataItemKind"
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number on the verification profile.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "requested_information": {
          "target": "com.whop.verifications#ListVerificationsResponseDataItemRequestedInformationList",
          "traits": {
            "smithy.api#documentation": "What Whop still needs before review can continue — one requirement per entry. Answer with Update Verification; nothing from the response is echoed back. Keys that don't apply are omitted."
          }
        },
        "required_documents": {
          "target": "com.whop.verifications#ListVerificationsResponseDataItemRequiredDocumentsList",
          "traits": {
            "smithy.api#documentation": "Documents for a document-upload verification and their progress. Present only on verifications created by sending `documents`. `pending_upload` documents were not accepted yet — send the full set again with another Create Verification call."
          }
        },
        "session_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hosted verification session URL for the user to complete identity checks. Expires 7 days after creation.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.whop.verifications#ListVerificationsResponseDataItemStatus",
          "traits": {
            "smithy.api#documentation": "Current verification state. `not_started` before any session exists; `pending` while a session needs the user's input; `processing` while the provider's automated checks run on a fresh submission; `action_required` when `requested_information` needs answers; `manual_review` while information already sent is under review — an audit answer, or a document the payout provider holds — nothing to submit, usually done within 3 business days; `approved` on success; `rejected` on failure. Call Create Verification again to start a new session."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the verification profile was last updated, as an ISO 8601 timestamp."
          }
        }
      },
      "traits": {}
    },
    "com.whop.verifications#ListVerificationsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.verifications#ListVerificationsResponseDataItem"
      },
      "traits": {}
    },
    "com.whop.verifications#ListVerificationsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.verifications#ListVerificationsResponseDataList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.verifications#ListVerifications": {
      "type": "operation",
      "input": {
        "target": "com.whop.verifications#ListVerificationsRequest"
      },
      "output": {
        "target": "com.whop.verifications#ListVerificationsResponse"
      },
      "errors": [
        {
          "target": "com.whop.verifications#BadRequest"
        },
        {
          "target": "com.whop.verifications#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/verifications",
          "code": 200
        },
        "smithy.api#documentation": "List Verifications\n\nReturns verifications for an account, including their status and any required actions."
      }
    },
    "com.whop.verifications#CreateVerificationRequestBodyCase0Address": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter ISO 3166-1 country code, for example `US`, `DE`, or `GB`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "line1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First line of the street address.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "line2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Second line of the street address.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "postal_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal or ZIP code.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State, province, or region code, for example `CA`.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Every value accepts `null`, so a form seeded from a previous response can round-trip unset fields unchanged."
      }
    },
    "com.whop.verifications#CreateVerificationRequestBodyCase0DocumentType": {
      "type": "enum",
      "members": {
        "ID_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ID_CARD"
          }
        },
        "DRIVERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVERS"
          }
        },
        "RESIDENCE_PERMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESIDENCE_PERMIT"
          }
        },
        "PASSPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSPORT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity document being sent, when verifying with `documents`. Decides exactly which file slots to send: `ID_CARD` → `id_card_front` + `id_card_back` + `selfie`; `DRIVERS` → `drivers_front` + `drivers_back` + `selfie`; `RESIDENCE_PERMIT` → `residence_permit_front` + `residence_permit_back` + `selfie`; `PASSPORT` → `passport_front` + `selfie`. See [Identity documents](/developer/verification/identity-documents)."
      }
    },
    "com.whop.verifications#CreateVerificationRequestBodyCase0Documents": {
      "type": "structure",
      "members": {
        "drivers_back": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Back of the driver's license, base64-encoded. Required when `document_type` is `DRIVERS`."
          }
        },
        "drivers_front": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Front of the driver's license, base64-encoded. Required when `document_type` is `DRIVERS`."
          }
        },
        "id_card_back": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Back of the ID card, base64-encoded. Required when `document_type` is `ID_CARD`."
          }
        },
        "id_card_front": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Front of the ID card, base64-encoded. Required when `document_type` is `ID_CARD`."
          }
        },
        "passport_front": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Photo page of the passport, base64-encoded. Required when `document_type` is `PASSPORT`."
          }
        },
        "residence_permit_back": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Back of the residence permit, base64-encoded. Required when `document_type` is `RESIDENCE_PERMIT`."
          }
        },
        "residence_permit_front": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Front of the residence permit, base64-encoded. Required when `document_type` is `RESIDENCE_PERMIT`."
          }
        },
        "selfie": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Photo of the person's face, base64-encoded. Always required, with every document type. Must be JPEG or PNG."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity document files, each value the file's raw bytes base64-encoded (JPEG, PNG, or PDF, up to 5MB per file before encoding). Sending this object verifies the person from the files in this request instead of a hosted session — individual verifications only, and the request must also carry `document_type`, `first_name`, `last_name`, `date_of_birth`, `country`, `phone`, `tax_identification_number`, and an `address` with `line1`, `city`, `state`, and `postal_code`. Send every slot for your `document_type` — a missing or rejected file fails the whole request and nothing is submitted; review starts automatically once every document is accepted. See [Identity documents](/developer/verification/identity-documents) for a full walkthrough."
      }
    },
    "com.whop.verifications#CreateVerificationRequestBodyCase0Kind": {
      "type": "enum",
      "members": {
        "INDIVIDUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "individual"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Verification type. Defaults to `individual`."
      }
    },
    "com.whop.verifications#CreateVerificationRequestBodyCase0": {
      "type": "structure",
      "members": {
        "address": {
          "target": "com.whop.verifications#CreateVerificationRequestBodyCase0Address",
          "traits": {
            "smithy.api#documentation": "Every value accepts `null`, so a form seeded from a previous response can round-trip unset fields unchanged."
          }
        },
        "business_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legal business name for a sole proprietor or single-member LLC."
          }
        },
        "business_structure": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Entity type for sole proprietors, such as `single_member_llc`. Supported values vary by country of incorporation — see [Business structures](/developer/verification/business-structures)."
          }
        },
        "business_tax_identification_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The business ID number of the company, as appropriate for the company's country. Examples are an Employer Identification Number (EIN) in the US, a Business Number in Canada, or a Company Number in the UK."
          }
        },
        "business_website": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Business website URL. Whop store pages are not accepted."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter ISO 3166-1 country code, for example `US`, `DE`, or `GB`."
          }
        },
        "date_of_birth": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Formatted as `YYYY-MM-DD`."
          }
        },
        "document_type": {
          "target": "com.whop.verifications#CreateVerificationRequestBodyCase0DocumentType",
          "traits": {
            "smithy.api#documentation": "Identity document being sent, when verifying with `documents`. Decides exactly which file slots to send: `ID_CARD` → `id_card_front` + `id_card_back` + `selfie`; `DRIVERS` → `drivers_front` + `drivers_back` + `selfie`; `RESIDENCE_PERMIT` → `residence_permit_front` + `residence_permit_back` + `selfie`; `PASSPORT` → `passport_front` + `selfie`. See [Identity documents](/developer/verification/identity-documents)."
          }
        },
        "documents": {
          "target": "com.whop.verifications#CreateVerificationRequestBodyCase0Documents",
          "traits": {
            "smithy.api#documentation": "Identity document files, each value the file's raw bytes base64-encoded (JPEG, PNG, or PDF, up to 5MB per file before encoding). Sending this object verifies the person from the files in this request instead of a hosted session — individual verifications only, and the request must also carry `document_type`, `first_name`, `last_name`, `date_of_birth`, `country`, `phone`, `tax_identification_number`, and an `address` with `line1`, `city`, `state`, and `postal_code`. Send every slot for your `document_type` — a missing or rejected file fails the whole request and nothing is submitted; review starts automatically once every document is accepted. See [Identity documents](/developer/verification/identity-documents) for a full walkthrough."
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "kind": {
          "target": "com.whop.verifications#CreateVerificationRequestBodyCase0Kind",
          "traits": {
            "smithy.api#documentation": "Verification type. Defaults to `individual`."
          }
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "phone": {
          "target": "smithy.api#String"
        },
        "share_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sumsub share token for a person a partner has already verified, generated by their Sumsub account for Whop's client ID. Reuses that verification instead of collecting anything: Whop imports the shared identity, rechecks it against its own requirements, and returns `approved` when it satisfies them, or `pending` with a `session_url` covering only what is still missing. Requires a Reusable KYC agreement between the partner's Sumsub account and Whop's. Each token works once, and cannot be combined with `documents` or `document_type`."
          }
        },
        "tax_identification_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The government-issued ID number of the person being verified — the individual for a KYC verification, or the business representative for a KYB verification — as appropriate for their country. Examples are a Social Security Number (SSN) in the US, or a Social Insurance Number in Canada."
          }
        },
        "verification_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of an `approved` verification to reuse on this account instead of verifying the person again, for example `idpf_XXXXXXXX`. The verification becomes this account's current one for its kind — replacing whichever verification of that kind the account already has, and carrying its payout account across — and the response is that same verification, unchanged. Only the signed-in Whop user who started the original verification can reuse it: API keys, OAuth tokens, and onboarding links are refused. `kind` is the only other field it accepts, and must match the reused verification. An account whose verification was denied or is still under review cannot reuse one."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request body for an individual (KYC) verification. Omit `kind` or set it to `individual`. KYC is required to pay out funds and is a prerequisite for Whop Card access. Accepting payments does not require verification until a business reaches $5000 in payments.\n\nAdd `business_name` and `business_structure` if the individual operates under a business entity — this enables payouts to be received by a business bank account. `country` is always the individual's own country, and the supported `business_structure` values vary by it — see [Business structures](/developer/verification/business-structures)."
      }
    },
    "com.whop.verifications#CreateVerificationRequestBodyCase1Address": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter ISO 3166-1 country code, for example `US`, `DE`, or `GB`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "line1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First line of the street address.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "line2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Second line of the street address.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "postal_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal or ZIP code.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State, province, or region code, for example `CA`.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Every value accepts `null`, so a form seeded from a previous response can round-trip unset fields unchanged."
      }
    },
    "com.whop.verifications#CreateVerificationRequestBodyCase1Kind": {
      "type": "enum",
      "members": {
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "business"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Must be `business` to start a KYB verification."
      }
    },
    "com.whop.verifications#CreateVerificationRequestBodyCase1": {
      "type": "structure",
      "members": {
        "address": {
          "target": "com.whop.verifications#CreateVerificationRequestBodyCase1Address",
          "traits": {
            "smithy.api#documentation": "Every value accepts `null`, so a form seeded from a previous response can round-trip unset fields unchanged."
          }
        },
        "business_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legal business name."
          }
        },
        "business_structure": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legal entity structure of the business, such as `private_corporation` or `sole_proprietorship`. Supported values vary by country of incorporation — see [Business structures](/developer/verification/business-structures)."
          }
        },
        "business_tax_identification_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The business ID number of the company, as appropriate for the company's country. Examples are an Employer Identification Number (EIN) in the US, a Business Number in Canada, or a Company Number in the UK."
          }
        },
        "business_website": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Business website URL. Whop store pages are not accepted."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country of incorporation as a two-letter ISO 3166-1 country code."
          }
        },
        "date_of_birth": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Business representative's date of birth, formatted as `YYYY-MM-DD`."
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First name of the business representative, used to prefill the verification session."
          }
        },
        "kind": {
          "target": "com.whop.verifications#CreateVerificationRequestBodyCase1Kind",
          "traits": {
            "smithy.api#documentation": "Must be `business` to start a KYB verification."
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last name of the business representative, used to prefill the verification session."
          }
        },
        "place_of_incorporation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State or region where the business is incorporated."
          }
        },
        "share_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sumsub share token for a person a partner has already verified, generated by their Sumsub account for Whop's client ID. Reuses that verification instead of collecting anything: Whop imports the shared identity, rechecks it against its own requirements, and returns `approved` when it satisfies them, or `pending` with a `session_url` covering only what is still missing. Requires a Reusable KYC agreement between the partner's Sumsub account and Whop's. Each token works once, and cannot be combined with `documents` or `document_type`."
          }
        },
        "tax_identification_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The government-issued ID number of the person being verified — the individual for a KYC verification, or the business representative for a KYB verification — as appropriate for their country. Examples are a Social Security Number (SSN) in the US, or a Social Insurance Number in Canada."
          }
        },
        "verification_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of an `approved` verification to reuse on this account instead of verifying the person again, for example `idpf_XXXXXXXX`. The verification becomes this account's current one for its kind — replacing whichever verification of that kind the account already has, and carrying its payout account across — and the response is that same verification, unchanged. Only the signed-in Whop user who started the original verification can reuse it: API keys, OAuth tokens, and onboarding links are refused. `kind` is the only other field it accepts, and must match the reused verification. An account whose verification was denied or is still under review cannot reuse one."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request body for a business entity (KYB) verification. Set `kind` to `business`. KYB includes everything KYC provides and additionally unlocks financing options for payments and business Whop Cards."
      }
    },
    "com.whop.verifications#CreateVerificationRequestBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.whop.verifications#CreateVerificationRequestBodyCase0"
        },
        "Case1": {
          "target": "com.whop.verifications#CreateVerificationRequestBodyCase1"
        }
      },
      "traits": {}
    },
    "com.whop.verifications#CreateVerificationRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#documentation": "Business account whose identity you want to verify, prefixed `biz_`. Provide this or `user_id`."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "user_id",
            "smithy.api#documentation": "The caller's own user ID, prefixed `user_`, for a personal verification. Provide this or `account_id`."
          }
        },
        "body": {
          "target": "com.whop.verifications#CreateVerificationRequestBody",
          "traits": {
            "smithy.api#httpPayload": {}
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique key that makes this request safe to retry. See [Idempotent requests](https://docs.whop.com/developer/api/idempotency)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.verifications#CreateVerificationResponseAddress": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter ISO 3166-1 country code, for example `US`, `DE`, or `GB`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "line1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First line of the street address."
          }
        },
        "line2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Second line of the street address.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "postal_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal or ZIP code.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State, province, or region code, for example `CA`.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Address on the verification profile. `null` when no address is set."
      }
    },
    "com.whop.verifications#CreateVerificationResponseKind": {
      "type": "enum",
      "members": {
        "INDIVIDUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "individual"
          }
        },
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "business"
          }
        }
      },
      "traits": {}
    },
    "com.whop.verifications#CreateVerificationResponseRequestedInformationItemDetailsVisibleForList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Selected option values that make the follow-up prompt visible."
      }
    },
    "com.whop.verifications#CreateVerificationResponseRequestedInformationItemErrorsItem": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable error code."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why it was rejected."
          }
        }
      },
      "traits": {}
    },
    "com.whop.verifications#CreateVerificationResponseRequestedInformationItemErrorsList": {
      "type": "list",
      "member": {
        "target": "com.whop.verifications#CreateVerificationResponseRequestedInformationItemErrorsItem"
      },
      "traits": {
        "smithy.api#documentation": "Present after a rejected submission."
      }
    },
    "com.whop.verifications#CreateVerificationResponseRequestedInformationItemOptionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The values `value` may take on a `select` item. On an `id_document` item these are the ID types accepted, and the chosen one decides which `documents` slots to send. Absent when the item has no choice to make."
      }
    },
    "com.whop.verifications#CreateVerificationResponseRequestedInformationItemResponseType": {
      "type": "enum",
      "members": {
        "YES_NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes_no"
          }
        },
        "YES_NO_NA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes_no_na"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "TEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tel"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional native input format for a text response."
      }
    },
    "com.whop.verifications#CreateVerificationResponseRequestedInformationItemSelectionMode": {
      "type": "enum",
      "members": {
        "SINGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "single"
          }
        },
        "MULTIPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiple"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether a question with `options` accepts one value or multiple values."
      }
    },
    "com.whop.verifications#CreateVerificationResponseRequestedInformationItemSupportingDocumentsList": {
      "type": "list",
      "member": {
        "target": "com.whop.verifications#File"
      },
      "traits": {
        "smithy.api#documentation": "Documents supplied with the requirement for context."
      }
    },
    "com.whop.verifications#CreateVerificationResponseRequestedInformationItemSupportingFilesVisibleForList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Selected option values that make the supporting-file input visible."
      }
    },
    "com.whop.verifications#CreateVerificationResponseRequestedInformationItem": {
      "type": "structure",
      "members": {
        "action_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for a related action, such as completing liveness verification or viewing a payment. Absent when no action is available."
          }
        },
        "details_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Follow-up prompt shown with this requirement."
          }
        },
        "details_required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the follow-up response is required when visible."
          }
        },
        "details_visible_for": {
          "target": "com.whop.verifications#CreateVerificationResponseRequestedInformationItemDetailsVisibleForList",
          "traits": {
            "smithy.api#documentation": "Selected option values that make the follow-up prompt visible."
          }
        },
        "errors": {
          "target": "com.whop.verifications#CreateVerificationResponseRequestedInformationItemErrorsList",
          "traits": {
            "smithy.api#documentation": "Present after a rejected submission."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requested information item ID, prefixed `inrqi_`.",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instruction to show the user. Carries the reviewer's note verbatim when there is one.",
            "smithy.api#required": {}
          }
        },
        "optional": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "`true` when the item can be skipped."
          }
        },
        "options": {
          "target": "com.whop.verifications#CreateVerificationResponseRequestedInformationItemOptionsList",
          "traits": {
            "smithy.api#documentation": "The values `value` may take on a `select` item. On an `id_document` item these are the ID types accepted, and the chosen one decides which `documents` slots to send. Absent when the item has no choice to make."
          }
        },
        "requirement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What is needed: a document name such as `bank_statement`, or a field key such as `ssn` or `identity_document`. Handle unrecognized values by `type`.",
            "smithy.api#required": {}
          }
        },
        "response_type": {
          "target": "com.whop.verifications#CreateVerificationResponseRequestedInformationItemResponseType",
          "traits": {
            "smithy.api#documentation": "Optional native input format for a text response."
          }
        },
        "selection_mode": {
          "target": "com.whop.verifications#CreateVerificationResponseRequestedInformationItemSelectionMode",
          "traits": {
            "smithy.api#documentation": "Whether a question with `options` accepts one value or multiple values."
          }
        },
        "supporting_documents": {
          "target": "com.whop.verifications#CreateVerificationResponseRequestedInformationItemSupportingDocumentsList",
          "traits": {
            "smithy.api#documentation": "Documents supplied with the requirement for context."
          }
        },
        "supporting_files_explanation_allowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a written explanation may replace required supporting files."
          }
        },
        "supporting_files_required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this requirement also needs supporting files."
          }
        },
        "supporting_files_visible_for": {
          "target": "com.whop.verifications#CreateVerificationResponseRequestedInformationItemSupportingFilesVisibleForList",
          "traits": {
            "smithy.api#documentation": "Selected option values that make the supporting-file input visible."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What to send as the answer, so you never have to infer it: `files` (a document, as a list of its pages), `id_document` (send `documents` with the slot keys for the ID you are uploading), `text`, `date`, `phone` or `select` (send `value`), `text_with_files` (send `value` and optional `files`), `address` (send `address`), or `liveness` (open `action_url`, then send `value` as `true` after completion).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.verifications#CreateVerificationResponseRequestedInformationList": {
      "type": "list",
      "member": {
        "target": "com.whop.verifications#CreateVerificationResponseRequestedInformationItem"
      },
      "traits": {
        "smithy.api#documentation": "What Whop still needs before review can continue — one requirement per entry. Answer with Update Verification; nothing from the response is echoed back. Keys that don't apply are omitted."
      }
    },
    "com.whop.verifications#CreateVerificationResponseRequiredDocumentsItemStatus": {
      "type": "enum",
      "members": {
        "PENDING_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_upload"
          }
        },
        "SUBMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "submitted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`pending_upload` until the document has been relayed for review; `submitted` afterwards."
      }
    },
    "com.whop.verifications#CreateVerificationResponseRequiredDocumentsItem": {
      "type": "structure",
      "members": {
        "document": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Document slot key, such as `id_card_front`, `id_card_back`, or `selfie`."
          }
        },
        "rejection_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the previous submission was rejected, when the provider requested new documents or declined the verification.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.whop.verifications#CreateVerificationResponseRequiredDocumentsItemStatus",
          "traits": {
            "smithy.api#documentation": "`pending_upload` until the document has been relayed for review; `submitted` afterwards."
          }
        }
      },
      "traits": {}
    },
    "com.whop.verifications#CreateVerificationResponseRequiredDocumentsList": {
      "type": "list",
      "member": {
        "target": "com.whop.verifications#CreateVerificationResponseRequiredDocumentsItem"
      },
      "traits": {
        "smithy.api#documentation": "Documents for a document-upload verification and their progress. Present only on verifications created by sending `documents`. `pending_upload` documents were not accepted yet — send the full set again with another Create Verification call."
      }
    },
    "com.whop.verifications#CreateVerificationResponseStatus": {
      "type": "enum",
      "members": {
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_started"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "MANUAL_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual_review"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action_required"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current verification state. `not_started` before any session exists; `pending` while a session needs the user's input; `processing` while the provider's automated checks run on a fresh submission; `action_required` when `requested_information` needs answers; `manual_review` while information already sent is under review — an audit answer, or a document the payout provider holds — nothing to submit, usually done within 3 business days; `approved` on success; `rejected` on failure. Call Create Verification again to start a new session."
      }
    },
    "com.whop.verifications#CreateVerificationResponse": {
      "type": "structure",
      "members": {
        "address": {
          "target": "com.whop.verifications#CreateVerificationResponseAddress",
          "traits": {
            "smithy.api#documentation": "Address on the verification profile. `null` when no address is set.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "business_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legal business name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "business_structure": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legal entity structure of the business, such as `private_corporation` or `sole_proprietorship`. Supported values vary by country of incorporation — see [Business structures](/developer/verification/business-structures).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter ISO 3166-1 country code, for example `US`, `DE`, or `GB`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the verification profile was created, as an ISO 8601 timestamp."
          }
        },
        "date_of_birth": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Formatted as `YYYY-MM-DD`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address on the verification profile.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Verification profile ID, prefixed `idpf_`."
          }
        },
        "kind": {
          "target": "com.whop.verifications#CreateVerificationResponseKind"
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number on the verification profile.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "requested_information": {
          "target": "com.whop.verifications#CreateVerificationResponseRequestedInformationList",
          "traits": {
            "smithy.api#documentation": "What Whop still needs before review can continue — one requirement per entry. Answer with Update Verification; nothing from the response is echoed back. Keys that don't apply are omitted."
          }
        },
        "required_documents": {
          "target": "com.whop.verifications#CreateVerificationResponseRequiredDocumentsList",
          "traits": {
            "smithy.api#documentation": "Documents for a document-upload verification and their progress. Present only on verifications created by sending `documents`. `pending_upload` documents were not accepted yet — send the full set again with another Create Verification call."
          }
        },
        "session_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hosted verification session URL for the user to complete identity checks. Expires 7 days after creation.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.whop.verifications#CreateVerificationResponseStatus",
          "traits": {
            "smithy.api#documentation": "Current verification state. `not_started` before any session exists; `pending` while a session needs the user's input; `processing` while the provider's automated checks run on a fresh submission; `action_required` when `requested_information` needs answers; `manual_review` while information already sent is under review — an audit answer, or a document the payout provider holds — nothing to submit, usually done within 3 business days; `approved` on success; `rejected` on failure. Call Create Verification again to start a new session."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the verification profile was last updated, as an ISO 8601 timestamp."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.verifications#CreateVerification": {
      "type": "operation",
      "input": {
        "target": "com.whop.verifications#CreateVerificationRequest"
      },
      "output": {
        "target": "com.whop.verifications#CreateVerificationResponse"
      },
      "errors": [
        {
          "target": "com.whop.verifications#BadRequest"
        },
        {
          "target": "com.whop.verifications#Forbidden"
        },
        {
          "target": "com.whop.verifications#NotFound"
        },
        {
          "target": "com.whop.verifications#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/verifications",
          "code": 200
        },
        "smithy.api#documentation": "Create Verification\n\nStarts a hosted verification session for an account or user, or returns the active session when one already exists. Any fields you include in the request body are used to prefill the session. Send `documents` (with `document_type`) to instead verify the person from identity documents included in this request — no hosted session involved. Send `share_token` to reuse a verification another Sumsub account has already completed for this person, instead of verifying them again. Send `verification_id` to reuse a verification the signed-in user already completed on Whop. Every mode except `verification_id` is rejected once the account has an `approved` verification — unlink it first to start a new one — while `verification_id` replaces whichever verification of that kind the account currently has."
      }
    },
    "com.whop.verifications#GetVerificationRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Verification profile ID, prefixed `idpf_`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.verifications#GetVerificationResponseAddress": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter ISO 3166-1 country code, for example `US`, `DE`, or `GB`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "line1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First line of the street address."
          }
        },
        "line2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Second line of the street address.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "postal_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal or ZIP code.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State, province, or region code, for example `CA`.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Address on the verification profile. `null` when no address is set."
      }
    },
    "com.whop.verifications#GetVerificationResponseKind": {
      "type": "enum",
      "members": {
        "INDIVIDUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "individual"
          }
        },
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "business"
          }
        }
      },
      "traits": {}
    },
    "com.whop.verifications#GetVerificationResponseRequestedInformationItemDetailsVisibleForList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Selected option values that make the follow-up prompt visible."
      }
    },
    "com.whop.verifications#GetVerificationResponseRequestedInformationItemErrorsItem": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable error code."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why it was rejected."
          }
        }
      },
      "traits": {}
    },
    "com.whop.verifications#GetVerificationResponseRequestedInformationItemErrorsList": {
      "type": "list",
      "member": {
        "target": "com.whop.verifications#GetVerificationResponseRequestedInformationItemErrorsItem"
      },
      "traits": {
        "smithy.api#documentation": "Present after a rejected submission."
      }
    },
    "com.whop.verifications#GetVerificationResponseRequestedInformationItemOptionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The values `value` may take on a `select` item. On an `id_document` item these are the ID types accepted, and the chosen one decides which `documents` slots to send. Absent when the item has no choice to make."
      }
    },
    "com.whop.verifications#GetVerificationResponseRequestedInformationItemResponseType": {
      "type": "enum",
      "members": {
        "YES_NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes_no"
          }
        },
        "YES_NO_NA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes_no_na"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "TEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tel"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional native input format for a text response."
      }
    },
    "com.whop.verifications#GetVerificationResponseRequestedInformationItemSelectionMode": {
      "type": "enum",
      "members": {
        "SINGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "single"
          }
        },
        "MULTIPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiple"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether a question with `options` accepts one value or multiple values."
      }
    },
    "com.whop.verifications#GetVerificationResponseRequestedInformationItemSupportingDocumentsList": {
      "type": "list",
      "member": {
        "target": "com.whop.verifications#File"
      },
      "traits": {
        "smithy.api#documentation": "Documents supplied with the requirement for context."
      }
    },
    "com.whop.verifications#GetVerificationResponseRequestedInformationItemSupportingFilesVisibleForList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Selected option values that make the supporting-file input visible."
      }
    },
    "com.whop.verifications#GetVerificationResponseRequestedInformationItem": {
      "type": "structure",
      "members": {
        "action_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for a related action, such as completing liveness verification or viewing a payment. Absent when no action is available."
          }
        },
        "details_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Follow-up prompt shown with this requirement."
          }
        },
        "details_required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the follow-up response is required when visible."
          }
        },
        "details_visible_for": {
          "target": "com.whop.verifications#GetVerificationResponseRequestedInformationItemDetailsVisibleForList",
          "traits": {
            "smithy.api#documentation": "Selected option values that make the follow-up prompt visible."
          }
        },
        "errors": {
          "target": "com.whop.verifications#GetVerificationResponseRequestedInformationItemErrorsList",
          "traits": {
            "smithy.api#documentation": "Present after a rejected submission."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requested information item ID, prefixed `inrqi_`.",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instruction to show the user. Carries the reviewer's note verbatim when there is one.",
            "smithy.api#required": {}
          }
        },
        "optional": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "`true` when the item can be skipped."
          }
        },
        "options": {
          "target": "com.whop.verifications#GetVerificationResponseRequestedInformationItemOptionsList",
          "traits": {
            "smithy.api#documentation": "The values `value` may take on a `select` item. On an `id_document` item these are the ID types accepted, and the chosen one decides which `documents` slots to send. Absent when the item has no choice to make."
          }
        },
        "requirement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What is needed: a document name such as `bank_statement`, or a field key such as `ssn` or `identity_document`. Handle unrecognized values by `type`.",
            "smithy.api#required": {}
          }
        },
        "response_type": {
          "target": "com.whop.verifications#GetVerificationResponseRequestedInformationItemResponseType",
          "traits": {
            "smithy.api#documentation": "Optional native input format for a text response."
          }
        },
        "selection_mode": {
          "target": "com.whop.verifications#GetVerificationResponseRequestedInformationItemSelectionMode",
          "traits": {
            "smithy.api#documentation": "Whether a question with `options` accepts one value or multiple values."
          }
        },
        "supporting_documents": {
          "target": "com.whop.verifications#GetVerificationResponseRequestedInformationItemSupportingDocumentsList",
          "traits": {
            "smithy.api#documentation": "Documents supplied with the requirement for context."
          }
        },
        "supporting_files_explanation_allowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a written explanation may replace required supporting files."
          }
        },
        "supporting_files_required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this requirement also needs supporting files."
          }
        },
        "supporting_files_visible_for": {
          "target": "com.whop.verifications#GetVerificationResponseRequestedInformationItemSupportingFilesVisibleForList",
          "traits": {
            "smithy.api#documentation": "Selected option values that make the supporting-file input visible."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What to send as the answer, so you never have to infer it: `files` (a document, as a list of its pages), `id_document` (send `documents` with the slot keys for the ID you are uploading), `text`, `date`, `phone` or `select` (send `value`), `text_with_files` (send `value` and optional `files`), `address` (send `address`), or `liveness` (open `action_url`, then send `value` as `true` after completion).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.verifications#GetVerificationResponseRequestedInformationList": {
      "type": "list",
      "member": {
        "target": "com.whop.verifications#GetVerificationResponseRequestedInformationItem"
      },
      "traits": {
        "smithy.api#documentation": "What Whop still needs before review can continue — one requirement per entry. Answer with Update Verification; nothing from the response is echoed back. Keys that don't apply are omitted."
      }
    },
    "com.whop.verifications#GetVerificationResponseRequiredDocumentsItemStatus": {
      "type": "enum",
      "members": {
        "PENDING_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_upload"
          }
        },
        "SUBMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "submitted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`pending_upload` until the document has been relayed for review; `submitted` afterwards."
      }
    },
    "com.whop.verifications#GetVerificationResponseRequiredDocumentsItem": {
      "type": "structure",
      "members": {
        "document": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Document slot key, such as `id_card_front`, `id_card_back`, or `selfie`."
          }
        },
        "rejection_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the previous submission was rejected, when the provider requested new documents or declined the verification.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.whop.verifications#GetVerificationResponseRequiredDocumentsItemStatus",
          "traits": {
            "smithy.api#documentation": "`pending_upload` until the document has been relayed for review; `submitted` afterwards."
          }
        }
      },
      "traits": {}
    },
    "com.whop.verifications#GetVerificationResponseRequiredDocumentsList": {
      "type": "list",
      "member": {
        "target": "com.whop.verifications#GetVerificationResponseRequiredDocumentsItem"
      },
      "traits": {
        "smithy.api#documentation": "Documents for a document-upload verification and their progress. Present only on verifications created by sending `documents`. `pending_upload` documents were not accepted yet — send the full set again with another Create Verification call."
      }
    },
    "com.whop.verifications#GetVerificationResponseStatus": {
      "type": "enum",
      "members": {
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_started"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "MANUAL_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual_review"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action_required"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current verification state. `not_started` before any session exists; `pending` while a session needs the user's input; `processing` while the provider's automated checks run on a fresh submission; `action_required` when `requested_information` needs answers; `manual_review` while information already sent is under review — an audit answer, or a document the payout provider holds — nothing to submit, usually done within 3 business days; `approved` on success; `rejected` on failure. Call Create Verification again to start a new session."
      }
    },
    "com.whop.verifications#GetVerificationResponse": {
      "type": "structure",
      "members": {
        "address": {
          "target": "com.whop.verifications#GetVerificationResponseAddress",
          "traits": {
            "smithy.api#documentation": "Address on the verification profile. `null` when no address is set.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "business_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legal business name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "business_structure": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legal entity structure of the business, such as `private_corporation` or `sole_proprietorship`. Supported values vary by country of incorporation — see [Business structures](/developer/verification/business-structures).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter ISO 3166-1 country code, for example `US`, `DE`, or `GB`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the verification profile was created, as an ISO 8601 timestamp."
          }
        },
        "date_of_birth": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Formatted as `YYYY-MM-DD`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address on the verification profile.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Verification profile ID, prefixed `idpf_`."
          }
        },
        "kind": {
          "target": "com.whop.verifications#GetVerificationResponseKind"
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number on the verification profile.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "requested_information": {
          "target": "com.whop.verifications#GetVerificationResponseRequestedInformationList",
          "traits": {
            "smithy.api#documentation": "What Whop still needs before review can continue — one requirement per entry. Answer with Update Verification; nothing from the response is echoed back. Keys that don't apply are omitted."
          }
        },
        "required_documents": {
          "target": "com.whop.verifications#GetVerificationResponseRequiredDocumentsList",
          "traits": {
            "smithy.api#documentation": "Documents for a document-upload verification and their progress. Present only on verifications created by sending `documents`. `pending_upload` documents were not accepted yet — send the full set again with another Create Verification call."
          }
        },
        "session_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hosted verification session URL for the user to complete identity checks. Expires 7 days after creation.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.whop.verifications#GetVerificationResponseStatus",
          "traits": {
            "smithy.api#documentation": "Current verification state. `not_started` before any session exists; `pending` while a session needs the user's input; `processing` while the provider's automated checks run on a fresh submission; `action_required` when `requested_information` needs answers; `manual_review` while information already sent is under review — an audit answer, or a document the payout provider holds — nothing to submit, usually done within 3 business days; `approved` on success; `rejected` on failure. Call Create Verification again to start a new session."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the verification profile was last updated, as an ISO 8601 timestamp."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.verifications#GetVerification": {
      "type": "operation",
      "input": {
        "target": "com.whop.verifications#GetVerificationRequest"
      },
      "output": {
        "target": "com.whop.verifications#GetVerificationResponse"
      },
      "errors": [
        {
          "target": "com.whop.verifications#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/verifications/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve Verification\n\nReturns verifications for an account, including their status and any required actions."
      }
    },
    "com.whop.verifications#UpdateVerificationRequestBodyCase0PersonalAddress": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter ISO 3166-1 country code, for example `US`, `DE`, or `GB`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "line1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First line of the street address.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "line2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Second line of the street address.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "postal_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal or ZIP code.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State, province, or region code, for example `CA`.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Personal address for the individual."
      }
    },
    "com.whop.verifications#UpdateVerificationRequestBodyCase0RequestedInformationItemAddress": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter ISO 3166-1 country code, for example `US`, `DE`, or `GB`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "line1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First line of the street address.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "line2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Second line of the street address.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "postal_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal or ZIP code.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State, province, or region code, for example `CA`.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Answer for `address` items."
      }
    },
[...]
