{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.huggingface.collections#GetCollectionRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.collections#GetCollectionResponseGatingCase1Case1": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseGatingCase1Case2NotificationsMode": {
      "type": "enum",
      "members": {
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bulk"
          }
        },
        "REAL_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "real-time"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseGatingCase1Case2Notifications": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.huggingface.collections#GetCollectionResponseGatingCase1Case2NotificationsMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseGatingCase1Case2": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notifications": {
          "target": "com.huggingface.collections#GetCollectionResponseGatingCase1Case2Notifications",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseGatingCase1": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "com.huggingface.collections#GetCollectionResponseGatingCase1Case1"
        },
        "Case2": {
          "target": "com.huggingface.collections#GetCollectionResponseGatingCase1Case2"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseGating": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "com.huggingface.collections#GetCollectionResponseGatingCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseOwnerCase0Plan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseOwnerCase0": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "plan": {
          "target": "com.huggingface.collections#GetCollectionResponseOwnerCase0Plan"
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseOwnerCase1PrimaryOrgPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseOwnerCase1PrimaryOrgUserRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseOwnerCase1PrimaryOrg": {
      "type": "structure",
      "members": {
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "plan": {
          "target": "com.huggingface.collections#GetCollectionResponseOwnerCase1PrimaryOrgPlan"
        },
        "details": {
          "target": "smithy.api#String"
        },
        "hasPrivateMembersList": {
          "target": "smithy.api#Boolean"
        },
        "userRole": {
          "target": "com.huggingface.collections#GetCollectionResponseOwnerCase1PrimaryOrgUserRole"
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseOwnerCase1": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPro": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        },
        "primaryOrg": {
          "target": "com.huggingface.collections#GetCollectionResponseOwnerCase1PrimaryOrg"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseOwner": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.collections#GetCollectionResponseOwnerCase0"
        },
        "Case1": {
          "target": "com.huggingface.collections#GetCollectionResponseOwnerCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseTheme": {
      "type": "enum",
      "members": {
        "ORANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orange"
          }
        },
        "BLUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blue"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "PURPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purple"
          }
        },
        "PINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pink"
          }
        },
        "INDIGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "indigo"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseResourceGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase0Note": {
      "type": "structure",
      "members": {
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase0GalleryList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase0DatasetsServerInfoViewer": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "VIEWER_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "viewer-partial"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "viewer"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase0DatasetsServerInfoLibrariesItem": {
      "type": "enum",
      "members": {
        "MLCROISSANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mlcroissant"
          }
        },
        "WEBDATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webdataset"
          }
        },
        "DATASETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "datasets"
          }
        },
        "PANDAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pandas"
          }
        },
        "DASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dask"
          }
        },
        "DISTILABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "distilabel"
          }
        },
        "FIFTYONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fiftyone"
          }
        },
        "LANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lance"
          }
        },
        "ARGILLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "argilla"
          }
        },
        "POLARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "polars"
          }
        },
        "DUCKDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duckdb"
          }
        },
        "DATADESIGNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "datadesigner"
          }
        },
        "HARBOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "harbor"
          }
        },
        "VERIFIERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verifiers"
          }
        },
        "OPENENV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openenv"
          }
        },
        "NEMO_GYM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nemo-gym"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase0DatasetsServerInfoLibrariesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase0DatasetsServerInfoLibrariesItem"
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase0DatasetsServerInfoFormatsItem": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv"
          }
        },
        "PARQUET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "parquet"
          }
        },
        "IMAGEFOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "imagefolder"
          }
        },
        "AUDIOFOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audiofolder"
          }
        },
        "WEBDATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webdataset"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arrow"
          }
        },
        "OPTIMIZED_PARQUET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optimized-parquet"
          }
        },
        "AGENT_TRACES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent-traces"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase0DatasetsServerInfoFormatsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase0DatasetsServerInfoFormatsItem"
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase0DatasetsServerInfoModalitiesItem": {
      "type": "enum",
      "members": {
        "_3D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "3d"
          }
        },
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audio"
          }
        },
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "document"
          }
        },
        "GEOSPATIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geospatial"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        },
        "TABULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tabular"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "TIMESERIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timeseries"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase0DatasetsServerInfoModalitiesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase0DatasetsServerInfoModalitiesItem"
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase0DatasetsServerInfo": {
      "type": "structure",
      "members": {
        "viewer": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase0DatasetsServerInfoViewer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numRows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "libraries": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase0DatasetsServerInfoLibrariesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "formats": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase0DatasetsServerInfoFormatsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modalities": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase0DatasetsServerInfoModalitiesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase0GatedCase1": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase0Gated": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase0GatedCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase0ResourceGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase0": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase0Note"
        },
        "gallery": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase0GalleryList"
        },
        "position": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isLikedByUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "likes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "datasetsServerInfo": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase0DatasetsServerInfo"
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repoType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "downloads": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gated": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase0Gated",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceGroup": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase0ResourceGroup"
        },
        "isBenchmark": {
          "target": "smithy.api#Boolean"
        },
        "isTraces": {
          "target": "smithy.api#Boolean"
        },
        "isEnvironment": {
          "target": "smithy.api#Boolean"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1Note": {
      "type": "structure",
      "members": {
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1GalleryList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1AvailableInferenceProvidersItemProvider": {
      "type": "enum",
      "members": {
        "BASETEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "baseten"
          }
        },
        "CEREBRAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras"
          }
        },
        "COHERE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cohere"
          }
        },
        "DEEPINFRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deepinfra"
          }
        },
        "FAL_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fal-ai"
          }
        },
        "FEATHERLESS_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "featherless-ai"
          }
        },
        "FIREWORKS_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fireworks-ai"
          }
        },
        "GROQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groq"
          }
        },
        "HF_INFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hf-inference"
          }
        },
        "NOVITA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "novita"
          }
        },
        "NSCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nscale"
          }
        },
        "OPENAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai"
          }
        },
        "OVHCLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ovhcloud"
          }
        },
        "PUBLICAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "publicai"
          }
        },
        "REPLICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "replicate"
          }
        },
        "SCALEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scaleway"
          }
        },
        "TOGETHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "together"
          }
        },
        "WAVESPEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wavespeed"
          }
        },
        "ZAI_ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zai-org"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1AvailableInferenceProvidersItemProviderStatus": {
      "type": "enum",
      "members": {
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1AvailableInferenceProvidersItemModelStatus": {
      "type": "enum",
      "members": {
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1AvailableInferenceProvidersItemTask": {
      "type": "enum",
      "members": {
        "TEXT_CLASSIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-classification"
          }
        },
        "TOKEN_CLASSIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token-classification"
          }
        },
        "TABLE_QUESTION_ANSWERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "table-question-answering"
          }
        },
        "QUESTION_ANSWERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "question-answering"
          }
        },
        "ZERO_SHOT_CLASSIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-shot-classification"
          }
        },
        "TRANSLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "translation"
          }
        },
        "SUMMARIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "summarization"
          }
        },
        "FEATURE_EXTRACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feature-extraction"
          }
        },
        "TEXT_GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-generation"
          }
        },
        "FILL_MASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fill-mask"
          }
        },
        "SENTENCE_SIMILARITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sentence-similarity"
          }
        },
        "TEXT_TO_SPEECH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-to-speech"
          }
        },
        "TEXT_TO_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-to-audio"
          }
        },
        "AUTOMATIC_SPEECH_RECOGNITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic-speech-recognition"
          }
        },
        "AUDIO_TO_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audio-to-audio"
          }
        },
        "AUDIO_CLASSIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audio-classification"
          }
        },
        "AUDIO_TEXT_TO_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audio-text-to-text"
          }
        },
        "VOICE_ACTIVITY_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "voice-activity-detection"
          }
        },
        "DEPTH_ESTIMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "depth-estimation"
          }
        },
        "IMAGE_CLASSIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-classification"
          }
        },
        "OBJECT_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "object-detection"
          }
        },
        "IMAGE_SEGMENTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-segmentation"
          }
        },
        "TEXT_TO_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-to-image"
          }
        },
        "IMAGE_TO_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-to-text"
          }
        },
        "IMAGE_TO_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-to-image"
          }
        },
        "IMAGE_TO_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-to-video"
          }
        },
        "UNCONDITIONAL_IMAGE_GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unconditional-image-generation"
          }
        },
        "VIDEO_CLASSIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video-classification"
          }
        },
        "REINFORCEMENT_LEARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reinforcement-learning"
          }
        },
        "ROBOTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "robotics"
          }
        },
        "TABULAR_CLASSIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tabular-classification"
          }
        },
        "TABULAR_REGRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tabular-regression"
          }
        },
        "TABULAR_TO_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tabular-to-text"
          }
        },
        "TABLE_TO_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "table-to-text"
          }
        },
        "MULTIPLE_CHOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiple-choice"
          }
        },
        "TEXT_RANKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-ranking"
          }
        },
        "TEXT_RETRIEVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-retrieval"
          }
        },
        "TIME_SERIES_FORECASTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "time-series-forecasting"
          }
        },
        "TEXT_TO_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-to-video"
          }
        },
        "IMAGE_TEXT_TO_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-text-to-text"
          }
        },
        "IMAGE_TEXT_TO_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-text-to-image"
          }
        },
        "IMAGE_TEXT_TO_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-text-to-video"
          }
        },
        "VISUAL_QUESTION_ANSWERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visual-question-answering"
          }
        },
        "DOCUMENT_QUESTION_ANSWERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "document-question-answering"
          }
        },
        "ZERO_SHOT_IMAGE_CLASSIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-shot-image-classification"
          }
        },
        "GRAPH_ML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "graph-ml"
          }
        },
        "MASK_GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mask-generation"
          }
        },
        "ZERO_SHOT_OBJECT_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-shot-object-detection"
          }
        },
        "TEXT_TO_3D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-to-3d"
          }
        },
        "IMAGE_TO_3D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-to-3d"
          }
        },
        "IMAGE_FEATURE_EXTRACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-feature-extraction"
          }
        },
        "VIDEO_TEXT_TO_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video-text-to-text"
          }
        },
        "KEYPOINT_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keypoint-detection"
          }
        },
        "VISUAL_DOCUMENT_RETRIEVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visual-document-retrieval"
          }
        },
        "ANY_TO_ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any-to-any"
          }
        },
        "VIDEO_TO_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video-to-video"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        },
        "CONVERSATIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conversational"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1AvailableInferenceProvidersItemFeatures": {
      "type": "structure",
      "members": {
        "toolCalling": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1AvailableInferenceProvidersItem": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1AvailableInferenceProvidersItemProvider",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerStatus": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1AvailableInferenceProvidersItemProviderStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modelStatus": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1AvailableInferenceProvidersItemModelStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "task": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1AvailableInferenceProvidersItemTask",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "adapterType": {
          "target": "smithy.api#String"
        },
        "adapterWeightsPath": {
          "target": "smithy.api#String"
        },
        "features": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1AvailableInferenceProvidersItemFeatures"
        },
        "isCheapestPricingOutput": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isFastestThroughput": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isModelAuthor": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tokensPerSecond": {
          "target": "smithy.api#Double"
        },
        "pricingOutput": {
          "target": "smithy.api#Double"
        },
        "freeUntil": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1AvailableInferenceProvidersList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1AvailableInferenceProvidersItem"
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1GatedCase1": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1Gated": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1GatedCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1ResourceGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1AuthorDataCase0Plan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1AuthorDataCase0": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "plan": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1AuthorDataCase0Plan"
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1AuthorDataCase1PrimaryOrgPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1AuthorDataCase1PrimaryOrgUserRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1AuthorDataCase1PrimaryOrg": {
      "type": "structure",
      "members": {
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "plan": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1AuthorDataCase1PrimaryOrgPlan"
        },
        "details": {
          "target": "smithy.api#String"
        },
        "hasPrivateMembersList": {
          "target": "smithy.api#Boolean"
        },
        "userRole": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1AuthorDataCase1PrimaryOrgUserRole"
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1AuthorDataCase1": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPro": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        },
        "primaryOrg": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1AuthorDataCase1PrimaryOrg"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1AuthorData": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1AuthorDataCase0"
        },
        "Case1": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1AuthorDataCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1WidgetOutputUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase1": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1Note"
        },
        "gallery": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1GalleryList"
        },
        "position": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "downloads": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "availableInferenceProviders": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1AvailableInferenceProvidersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isLikedByUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "likes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pipeline_tag": {
          "target": "smithy.api#String"
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repoType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gated": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1Gated",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceGroup": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1ResourceGroup"
        },
        "numParameters": {
          "target": "smithy.api#Double"
        },
        "authorData": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1AuthorData"
        },
        "widgetOutputUrls": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase1WidgetOutputUrlsList"
        },
        "isPreRelease": {
          "target": "smithy.api#Boolean"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2Note": {
      "type": "structure",
      "members": {
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2GalleryList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2Sdk": {
      "type": "enum",
      "members": {
        "GRADIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gradio"
          }
        },
        "DOCKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docker"
          }
        },
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "static"
          }
        },
        "STREAMLIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "streamlit"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeStage": {
      "type": "enum",
      "members": {
        "NO_APP_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_APP_FILE"
          }
        },
        "CONFIG_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_ERROR"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "BUILD_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILD_ERROR"
          }
        },
        "APP_STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STARTING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "RUNNING_BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING_BUILDING"
          }
        },
        "RUNNING_APP_STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING_APP_STARTING"
          }
        },
        "RUNTIME_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNTIME_ERROR"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "SLEEPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SLEEPING"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeHardwareCurrent": {
      "type": "enum",
      "members": {
        "CPU_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-basic"
          }
        },
        "CPU_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-upgrade"
          }
        },
        "CPU_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-performance"
          }
        },
        "CPU_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-xl"
          }
        },
        "SPRX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sprx8"
          }
        },
        "ZERO_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-a10g"
          }
        },
        "T4_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-small"
          }
        },
        "T4_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-medium"
          }
        },
        "L4X1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x1"
          }
        },
        "L4X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x4"
          }
        },
        "L40SX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx1"
          }
        },
        "L40SX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx4"
          }
        },
        "L40SX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx8"
          }
        },
        "A10G_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-small"
          }
        },
        "A10G_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-large"
          }
        },
        "A10G_LARGEX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex2"
          }
        },
        "A10G_LARGEX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex4"
          }
        },
        "A100_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100-large"
          }
        },
        "A100X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x4"
          }
        },
        "A100X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x8"
          }
        },
        "H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200"
          }
        },
        "H200X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x2"
          }
        },
        "H200X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x4"
          }
        },
        "H200X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x8"
          }
        },
        "RTX_PRO_6000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000"
          }
        },
        "RTX_PRO_6000X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x2"
          }
        },
        "RTX_PRO_6000X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x4"
          }
        },
        "RTX_PRO_6000X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x8"
          }
        },
        "INF2X6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inf2x6"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeHardwareRequested": {
      "type": "enum",
      "members": {
        "CPU_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-basic"
          }
        },
        "CPU_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-upgrade"
          }
        },
        "CPU_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-performance"
          }
        },
        "CPU_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-xl"
          }
        },
        "SPRX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sprx8"
          }
        },
        "ZERO_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-a10g"
          }
        },
        "T4_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-small"
          }
        },
        "T4_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-medium"
          }
        },
        "L4X1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x1"
          }
        },
        "L4X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x4"
          }
        },
        "L40SX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx1"
          }
        },
        "L40SX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx4"
          }
        },
        "L40SX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx8"
          }
        },
        "A10G_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-small"
          }
        },
        "A10G_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-large"
          }
        },
        "A10G_LARGEX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex2"
          }
        },
        "A10G_LARGEX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex4"
          }
        },
        "A100_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100-large"
          }
        },
        "A100X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x4"
          }
        },
        "A100X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x8"
          }
        },
        "H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200"
          }
        },
        "H200X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x2"
          }
        },
        "H200X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x4"
          }
        },
        "H200X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x8"
          }
        },
        "RTX_PRO_6000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000"
          }
        },
        "RTX_PRO_6000X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x2"
          }
        },
        "RTX_PRO_6000X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x4"
          }
        },
        "RTX_PRO_6000X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x8"
          }
        },
        "INF2X6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inf2x6"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeHardware": {
      "type": "structure",
      "members": {
        "current": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeHardwareCurrent",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "requested": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeHardwareRequested",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeReplicasRequested": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeReplicas": {
      "type": "structure",
      "members": {
        "current": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "requested": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeReplicasRequested",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeDomainsItemStage": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "PENDING_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_CHALLENGE"
          }
        },
        "EXPIRED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED_CHALLENGE"
          }
        },
        "MISCONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISCONFIGURED"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeDomainsItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isCustom": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "stage": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeDomainsItemStage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeDomainsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeDomainsItem"
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeHotReloadingReplicaStatusesItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeHotReloadingReplicaStatusesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeHotReloadingReplicaStatusesItemList"
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeHotReloading": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "replicaStatuses": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeHotReloadingReplicaStatusesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2Runtime": {
      "type": "structure",
      "members": {
        "stage": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeStage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hardware": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeHardware",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "errorMessage": {
          "target": "smithy.api#String"
        },
        "gcTimeout": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "replicas": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeReplicas",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "devMode": {
          "target": "smithy.api#Boolean"
        },
        "domains": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeDomainsList"
        },
        "sha": {
          "target": "smithy.api#String"
        },
        "hotReloading": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2RuntimeHotReloading"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2OriginRepoAuthorCase0Plan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2OriginRepoAuthorCase0": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "plan": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2OriginRepoAuthorCase0Plan"
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2OriginRepoAuthorCase1PrimaryOrgPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2OriginRepoAuthorCase1PrimaryOrgUserRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2OriginRepoAuthorCase1PrimaryOrg": {
      "type": "structure",
      "members": {
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "plan": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2OriginRepoAuthorCase1PrimaryOrgPlan"
        },
        "details": {
          "target": "smithy.api#String"
        },
        "hasPrivateMembersList": {
          "target": "smithy.api#Boolean"
        },
        "userRole": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2OriginRepoAuthorCase1PrimaryOrgUserRole"
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2OriginRepoAuthorCase1": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPro": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        },
        "primaryOrg": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2OriginRepoAuthorCase1PrimaryOrg"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2OriginRepoAuthor": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2OriginRepoAuthorCase0"
        },
        "Case1": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2OriginRepoAuthorCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2OriginRepo": {
      "type": "structure",
      "members": {
        "author": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2OriginRepoAuthor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2ResourceGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2TagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2AuthorDataCase0Plan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2AuthorDataCase0": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "plan": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2AuthorDataCase0Plan"
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2AuthorDataCase1PrimaryOrgPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2AuthorDataCase1PrimaryOrgUserRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2AuthorDataCase1PrimaryOrg": {
      "type": "structure",
      "members": {
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "plan": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2AuthorDataCase1PrimaryOrgPlan"
        },
        "details": {
          "target": "smithy.api#String"
        },
        "hasPrivateMembersList": {
          "target": "smithy.api#Boolean"
        },
        "userRole": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2AuthorDataCase1PrimaryOrgUserRole"
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2AuthorDataCase1": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPro": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        },
        "primaryOrg": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2AuthorDataCase1PrimaryOrg"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2AuthorData": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2AuthorDataCase0"
        },
        "Case1": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2AuthorDataCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2Visibility": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protected"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase2": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2Note"
        },
        "gallery": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2GalleryList"
        },
        "position": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "colorFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "colorTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "emoji": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isLikedByUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "likes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pinned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repoType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sdk": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2Sdk"
        },
        "runtime": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2Runtime",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "originRepo": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2OriginRepo"
        },
        "ai_short_description": {
          "target": "smithy.api#String"
        },
        "ai_category": {
          "target": "smithy.api#String"
        },
        "trendingScore": {
          "target": "smithy.api#Double"
        },
        "resourceGroup": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2ResourceGroup"
        },
        "tags": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2TagsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "authorData": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2AuthorData"
        },
        "shortDescription": {
          "target": "smithy.api#String"
        },
        "semanticRelevancyScore": {
          "target": "smithy.api#Double"
        },
        "featured": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "visibility": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase2Visibility",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase3Note": {
      "type": "structure",
      "members": {
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase3GalleryList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.collections#GetCollectionResponseItemsItemCase3": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase3Note"
        },
        "gallery": {
          "target": "com.huggingface.collections#GetCollectionResponseItemsItemCase3GalleryList"
        },
        "position": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
[...]
