{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.huggingface.containers#RegistryTokenRequestScopeCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.containers#RegistryTokenRequestScope": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.huggingface.containers#RegistryTokenRequestScopeCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Docker Distribution scope(s), e.g. `repository:org/img:push,pull`. May be repeated."
      }
    },
    "com.huggingface.containers#RegistryTokenRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "service",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.huggingface.containers#RegistryTokenRequestScope",
          "traits": {
            "smithy.api#httpQuery": "scope"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.containers#RegistryTokenResponse": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "EdDSA JWT signed by the moon JWT key, carrying `access[]`.",
            "smithy.api#required": {}
          }
        },
        "access_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identical to `token` — Docker Distribution v2 accepts either field.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "expires_in": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "JWT lifetime in seconds.",
            "smithy.api#required": {}
          }
        },
        "issued_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 timestamp at which the JWT was minted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.containers#RegistryToken": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.containers#RegistryTokenRequest"
      },
      "output": {
        "target": "com.huggingface.containers#RegistryTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/registry/token",
          "code": 200
        },
        "smithy.api#documentation": "Registry token\n\nMints a short-lived EdDSA JWT for the HuggingFace container registry, verifiable via the JWK at `/api/keys/jwt`."
      }
    },
    "com.huggingface.containers#XetWriteTokenRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.containers#XetWriteTokenResponse": {
      "type": "structure",
      "members": {
        "casUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "exp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "accessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.containers#XetWriteToken": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.containers#XetWriteTokenRequest"
      },
      "output": {
        "target": "com.huggingface.containers#XetWriteTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/containers/{namespace}/{repo}/xet-write-token",
          "code": 200
        },
        "smithy.api#documentation": "Xet write token\n\nGet a write short-lived access token for XET upload"
      }
    },
    "com.huggingface.containers#XetReadTokenRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.containers#XetReadTokenResponse": {
      "type": "structure",
      "members": {
        "casUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "exp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "accessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.containers#XetReadToken": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.containers#XetReadTokenRequest"
      },
      "output": {
        "target": "com.huggingface.containers#XetReadTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/containers/{namespace}/{repo}/xet-read-token",
          "code": 200
        },
        "smithy.api#documentation": "Xet read token\n\nGet a read short-lived access token for XET"
      }
    },
    "com.huggingface.containers#GetBucketDetailsRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.containers#GetBucketDetailsResponseRepoType": {
      "type": "enum",
      "members": {
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#GetBucketDetailsResponseAdminTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.containers#GetBucketDetailsResponseDisabled": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hideReadme": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#GetBucketDetailsResponseCdnRegionsItemProvider": {
      "type": "enum",
      "members": {
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcp"
          }
        },
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#GetBucketDetailsResponseCdnRegionsItemRegion": {
      "type": "enum",
      "members": {
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#GetBucketDetailsResponseCdnRegionsItem": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.huggingface.containers#GetBucketDetailsResponseCdnRegionsItemProvider",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.huggingface.containers#GetBucketDetailsResponseCdnRegionsItemRegion",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#GetBucketDetailsResponseCdnRegionsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.containers#GetBucketDetailsResponseCdnRegionsItem"
      },
      "traits": {}
    },
    "com.huggingface.containers#GetBucketDetailsResponseResourceGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#GetBucketDetailsResponse": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-text description of the bucket / container image",
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Moves on every successful change to the bucket's files. Poll it to know when to re-list instead of re-listing every path.",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of storage used by the bucket in bytes",
            "smithy.api#required": {}
          }
        },
        "totalFiles": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total number of files in the bucket",
            "smithy.api#required": {}
          }
        },
        "repoType": {
          "target": "com.huggingface.containers#GetBucketDetailsResponseRepoType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "adminTags": {
          "target": "com.huggingface.containers#GetBucketDetailsResponseAdminTagsList"
        },
        "disabled": {
          "target": "com.huggingface.containers#GetBucketDetailsResponseDisabled"
        },
        "cdnRegions": {
          "target": "com.huggingface.containers#GetBucketDetailsResponseCdnRegionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceGroup": {
          "target": "com.huggingface.containers#GetBucketDetailsResponseResourceGroup"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.containers#GetBucketDetails": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.containers#GetBucketDetailsRequest"
      },
      "output": {
        "target": "com.huggingface.containers#GetBucketDetailsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/containers/{namespace}/{repo}",
          "code": 200
        },
        "smithy.api#documentation": "Get bucket details"
      }
    },
    "com.huggingface.containers#CreateBucketRequestVisibility": {
      "type": "enum",
      "members": {
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Bucket visibility. Cannot be specified along with private."
      }
    },
    "com.huggingface.containers#CreateBucketRequestCdnItemProvider": {
      "type": "enum",
      "members": {
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcp"
          }
        },
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#CreateBucketRequestCdnItemRegion": {
      "type": "enum",
      "members": {
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#CreateBucketRequestCdnItem": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.huggingface.containers#CreateBucketRequestCdnItemProvider",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.huggingface.containers#CreateBucketRequestCdnItemRegion",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#CreateBucketRequestCdnList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.containers#CreateBucketRequestCdnItem"
      },
      "traits": {
        "smithy.api#documentation": "CDN pre-warming regions"
      }
    },
    "com.huggingface.containers#CreateBucketRequestRegion": {
      "type": "enum",
      "members": {
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The region where the bucket is hosted."
      }
    },
    "com.huggingface.containers#CreateBucketRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Bucket visibility. Defaults to public. Cannot be specified along with visibility.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "visibility": {
          "target": "com.huggingface.containers#CreateBucketRequestVisibility",
          "traits": {
            "smithy.api#documentation": "Bucket visibility. Cannot be specified along with private."
          }
        },
        "resourceGroupId": {
          "target": "smithy.api#String"
        },
        "cdn": {
          "target": "com.huggingface.containers#CreateBucketRequestCdnList",
          "traits": {
            "smithy.api#documentation": "CDN pre-warming regions"
          }
        },
        "region": {
          "target": "com.huggingface.containers#CreateBucketRequestRegion",
          "traits": {
            "smithy.api#documentation": "The region where the bucket is hosted."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-text description."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.containers#CreateBucketResponse": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.containers#CreateBucket": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.containers#CreateBucketRequest"
      },
      "output": {
        "target": "com.huggingface.containers#CreateBucketResponse"
      },
      "errors": [
        {
          "target": "com.huggingface.containers#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/containers/{namespace}/{repo}",
          "code": 200
        },
        "smithy.api#documentation": "Create bucket"
      }
    },
    "com.huggingface.containers#DeleteBucketRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.containers#DeleteBucket": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.containers#DeleteBucketRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/containers/{namespace}/{repo}",
          "code": 200
        },
        "smithy.api#documentation": "Delete bucket"
      }
    },
    "com.huggingface.containers#UpdateBucketSettingsRequestCdnRegionsItemProvider": {
      "type": "enum",
      "members": {
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcp"
          }
        },
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#UpdateBucketSettingsRequestCdnRegionsItemRegion": {
      "type": "enum",
      "members": {
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#UpdateBucketSettingsRequestCdnRegionsItem": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.huggingface.containers#UpdateBucketSettingsRequestCdnRegionsItemProvider",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.huggingface.containers#UpdateBucketSettingsRequestCdnRegionsItemRegion",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#UpdateBucketSettingsRequestCdnRegionsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.containers#UpdateBucketSettingsRequestCdnRegionsItem"
      },
      "traits": {}
    },
    "com.huggingface.containers#UpdateBucketSettingsRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Document"
        },
        "cdnRegions": {
          "target": "com.huggingface.containers#UpdateBucketSettingsRequestCdnRegionsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.containers#UpdateBucketSettingsResponseCdnRegionsItemProvider": {
      "type": "enum",
      "members": {
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcp"
          }
        },
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#UpdateBucketSettingsResponseCdnRegionsItemRegion": {
      "type": "enum",
      "members": {
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#UpdateBucketSettingsResponseCdnRegionsItem": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.huggingface.containers#UpdateBucketSettingsResponseCdnRegionsItemProvider",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.huggingface.containers#UpdateBucketSettingsResponseCdnRegionsItemRegion",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#UpdateBucketSettingsResponseCdnRegionsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.containers#UpdateBucketSettingsResponseCdnRegionsItem"
      },
      "traits": {}
    },
    "com.huggingface.containers#UpdateBucketSettingsResponse": {
      "type": "structure",
      "members": {
        "private": {
          "target": "smithy.api#Boolean"
        },
        "cdnRegions": {
          "target": "com.huggingface.containers#UpdateBucketSettingsResponseCdnRegionsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.containers#UpdateBucketSettings": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.containers#UpdateBucketSettingsRequest"
      },
      "output": {
        "target": "com.huggingface.containers#UpdateBucketSettingsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/containers/{namespace}/{repo}/settings",
          "code": 200
        },
        "smithy.api#documentation": "Update bucket settings"
      }
    },
    "com.huggingface.containers#ListNamespaceBucketsRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.containers#ListNamespaceBucketsResponseBodyItemRepoType": {
      "type": "enum",
      "members": {
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#ListNamespaceBucketsResponseBodyItemAdminTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.containers#ListNamespaceBucketsResponseBodyItemDisabled": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hideReadme": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#ListNamespaceBucketsResponseBodyItemCdnRegionsItemProvider": {
      "type": "enum",
      "members": {
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcp"
          }
        },
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#ListNamespaceBucketsResponseBodyItemCdnRegionsItemRegion": {
      "type": "enum",
      "members": {
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#ListNamespaceBucketsResponseBodyItemCdnRegionsItem": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.huggingface.containers#ListNamespaceBucketsResponseBodyItemCdnRegionsItemProvider",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.huggingface.containers#ListNamespaceBucketsResponseBodyItemCdnRegionsItemRegion",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#ListNamespaceBucketsResponseBodyItemCdnRegionsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.containers#ListNamespaceBucketsResponseBodyItemCdnRegionsItem"
      },
      "traits": {}
    },
    "com.huggingface.containers#ListNamespaceBucketsResponseBodyItemResourceGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#ListNamespaceBucketsResponseBodyItem": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-text description of the bucket / container image",
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Moves on every successful change to the bucket's files. Poll it to know when to re-list instead of re-listing every path.",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of storage used by the bucket in bytes",
            "smithy.api#required": {}
          }
        },
        "totalFiles": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total number of files in the bucket",
            "smithy.api#required": {}
          }
        },
        "repoType": {
          "target": "com.huggingface.containers#ListNamespaceBucketsResponseBodyItemRepoType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "adminTags": {
          "target": "com.huggingface.containers#ListNamespaceBucketsResponseBodyItemAdminTagsList"
        },
        "disabled": {
          "target": "com.huggingface.containers#ListNamespaceBucketsResponseBodyItemDisabled"
        },
        "cdnRegions": {
          "target": "com.huggingface.containers#ListNamespaceBucketsResponseBodyItemCdnRegionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceGroup": {
          "target": "com.huggingface.containers#ListNamespaceBucketsResponseBodyItemResourceGroup"
        }
      },
      "traits": {
        "smithy.api#documentation": "Bucket overview information"
      }
    },
    "com.huggingface.containers#ListNamespaceBucketsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.containers#ListNamespaceBucketsResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.containers#ListNamespaceBucketsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.containers#ListNamespaceBucketsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.containers#ListNamespaceBuckets": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.containers#ListNamespaceBucketsRequest"
      },
      "output": {
        "target": "com.huggingface.containers#ListNamespaceBucketsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/containers/{namespace}",
          "code": 200
        },
        "smithy.api#documentation": "List namespace buckets"
      }
    },
    "com.huggingface.containers#GetFileMetadataRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "noContentDisposition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "noContentDisposition"
          }
        },
        "download": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "download"
          }
        },
        "accept": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Accept"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.containers#GetFileMetadataResponse": {
      "type": "structure",
      "members": {
        "hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The XET hash of the file",
            "smithy.api#required": {}
          }
        },
        "refreshUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The XET auth URL for the file",
            "smithy.api#required": {}
          }
        },
        "reconstructionUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The XET reconstruction URL for the file",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the file",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the file",
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type of the file"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.containers#GetFileMetadata": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.containers#GetFileMetadataRequest"
      },
      "output": {
        "target": "com.huggingface.containers#GetFileMetadataResponse"
      },
      "errors": [
        {
          "target": "com.huggingface.containers#BadRequest"
        },
        {
          "target": "com.huggingface.containers#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/containers/{namespace}/{repo}/resolve/{path}",
          "code": 200
        },
        "smithy.api#documentation": "Get file metadata\n\nReturns file metadata including size, hash, and links to XET authentication"
      }
    },
    "com.huggingface.containers#BatchFileOperationsRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.containers#BatchFileOperationsResponseFailedItem": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File path that failed",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#BatchFileOperationsResponseFailedList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.containers#BatchFileOperationsResponseFailedItem"
      },
      "traits": {
        "smithy.api#documentation": "List of failed operations"
      }
    },
    "com.huggingface.containers#BatchFileOperationsResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if all operations succeeded",
            "smithy.api#required": {}
          }
        },
        "processed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of operations attempted",
            "smithy.api#required": {}
          }
        },
        "succeeded": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of successful operations",
            "smithy.api#required": {}
          }
        },
        "failed": {
          "target": "com.huggingface.containers#BatchFileOperationsResponseFailedList",
          "traits": {
            "smithy.api#documentation": "List of failed operations",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.containers#BatchFileOperations": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.containers#BatchFileOperationsRequest"
      },
      "output": {
        "target": "com.huggingface.containers#BatchFileOperationsResponse"
      },
      "errors": [
        {
          "target": "com.huggingface.containers#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/containers/{namespace}/{repo}/batch",
          "code": 200
        },
        "smithy.api#documentation": "Batch file operations\n\nAccepts NDJSON (newline-delimited JSON) where each line is an addFile, copyFile, or deleteFile instruction.\nAll add/copy operations must come before all delete operations.\n\nJSON-lines payload:\n```json\n\t'{\"type\":\"addFile\",\"path\":\"...\",\"xetHash\":\"...\",\"mtime\":...,\"mtimeNanos\":...,\"contentType\":\"...\"}' +\n\t'{\"type\":\"copyFile\",\"path\":\"...\",\"xetHash\":\"...\",\"sourceRepoType\":\"...\",\"sourceRepoId\":\"...\",\"mtime\":...,\"mtimeNanos\":...,\"contentType\":\"...\"}' +\n\t'{\"type\":\"deleteFile\",\"path\":\"...\"}'\n```"
      }
    },
    "com.huggingface.containers#ListFilesRequestSort": {
      "type": "enum",
      "members": {
        "PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "path"
          }
        },
        "UPLOADEDAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uploadedAt"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sort order. `path` (default) sorts lexicographically; `uploadedAt` sorts by most recent upload first. In recursive mode `uploadedAt` is only supported at the bucket root (no path prefix). In non-recursive mode, only supported at root or exact folder prefixes."
      }
    },
    "com.huggingface.containers#ListFilesRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sort direction. Defaults to `asc` for `path` and `desc` for `uploadedAt`."
      }
    },
    "com.huggingface.containers#ListFilesRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "recursive": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "recursive"
          }
        },
        "sort": {
          "target": "com.huggingface.containers#ListFilesRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort"
          }
        },
        "direction": {
          "target": "com.huggingface.containers#ListFilesRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.containers#ListFilesResponseBodyItemType": {
      "type": "enum",
      "members": {
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file"
          }
        },
        "DIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "directory"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#ListFilesResponseBodyItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.huggingface.containers#ListFilesResponseBodyItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer"
        },
        "xetHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Not defined for directories"
          }
        },
        "mtime": {
          "target": "smithy.api#String"
        },
        "mtimeNanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sub-millisecond remainder of mtime, in nanoseconds (0–999_999)"
          }
        },
        "uploadedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#ListFilesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.containers#ListFilesResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.containers#ListFilesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.containers#ListFilesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.containers#ListFiles": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.containers#ListFilesRequest"
      },
      "output": {
        "target": "com.huggingface.containers#ListFilesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/containers/{namespace}/{repo}/tree/{path}",
          "code": 200
        },
        "smithy.api#documentation": "List files"
      }
    },
    "com.huggingface.containers#ListPathsInfoRequestPathsCase0List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.containers#ListPathsInfoRequestPaths": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.containers#ListPathsInfoRequestPathsCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#ListPathsInfoRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "paths": {
          "target": "com.huggingface.containers#ListPathsInfoRequestPaths",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.containers#ListPathsInfoResponseBodyItemType": {
      "type": "enum",
      "members": {
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file"
          }
        },
        "DIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "directory"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#ListPathsInfoResponseBodyItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.huggingface.containers#ListPathsInfoResponseBodyItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer"
        },
        "xetHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Not defined for directories"
          }
        },
        "mtime": {
          "target": "smithy.api#String"
        },
        "mtimeNanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sub-millisecond remainder of mtime, in nanoseconds (0–999_999)"
          }
        },
        "uploadedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.containers#ListPathsInfoResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.containers#ListPathsInfoResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.containers#ListPathsInfoResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.containers#ListPathsInfoResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.containers#ListPathsInfo": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.containers#ListPathsInfoRequest"
      },
      "output": {
        "target": "com.huggingface.containers#ListPathsInfoResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/containers/{namespace}/{repo}/paths-info",
          "code": 200
        },
        "smithy.api#documentation": "List paths info"
      }
    },
    "com.huggingface.containers#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.huggingface.containers#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.huggingface.containers#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.huggingface.containers#UnprocessableEntity": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 422,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 422
          }
        ]
      }
    },
    "com.huggingface.containers#Containers": {
      "type": "service",
      "version": "0.0.1",
      "operations": [
        {
          "target": "com.huggingface.containers#RegistryToken"
        },
        {
          "target": "com.huggingface.containers#XetWriteToken"
        },
        {
          "target": "com.huggingface.containers#XetReadToken"
        },
        {
          "target": "com.huggingface.containers#GetBucketDetails"
        },
        {
          "target": "com.huggingface.containers#CreateBucket"
        },
        {
          "target": "com.huggingface.containers#DeleteBucket"
        },
        {
          "target": "com.huggingface.containers#UpdateBucketSettings"
        },
        {
          "target": "com.huggingface.containers#ListNamespaceBuckets"
        },
        {
          "target": "com.huggingface.containers#GetFileMetadata"
        },
        {
          "target": "com.huggingface.containers#BatchFileOperations"
        },
        {
          "target": "com.huggingface.containers#ListFiles"
        },
        {
          "target": "com.huggingface.containers#ListPathsInfo"
        }
      ],
      "traits": {
        "smithy.api#title": "Hub API Endpoints",
        "smithy.api#documentation": "We have open endpoints that you can use to retrieve information from the Hub as well as perform certain actions such as creating model, dataset or Space repos. We offer a wrapper Python client, [`huggingface_hub`](https://github.com/huggingface/huggingface_hub), and a JS client, [`huggingface.js`](https://github.com/huggingface/huggingface.js), that allow easy access to these endpoints. We also provide [webhooks](https://huggingface.co/docs/hub/webhooks) to receive real-time incremental info about repos. Enjoy!\n\nThe base URL for those endpoints below is `https://huggingface.co`. For example, to construct the `/api/models` call below, one can call the URL [https://huggingface.co/api/models](https://huggingface.co/api/models).\n\nIf you're an Agent, you might prefer the [markdown version OpenAPI spec](https://huggingface.co/.well-known/openapi.md)."
      }
    }
  }
}
