{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.huggingface.users#GetMcpToolsResponseBuiltInToolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.users#GetMcpToolsResponseSpaceToolsItem": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "emoji": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subdomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.users#GetMcpToolsResponseSpaceToolsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.users#GetMcpToolsResponseSpaceToolsItem"
      },
      "traits": {}
    },
    "com.huggingface.users#GetMcpToolsResponse": {
      "type": "structure",
      "members": {
        "builtInTools": {
          "target": "com.huggingface.users#GetMcpToolsResponseBuiltInToolsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spaceTools": {
          "target": "com.huggingface.users#GetMcpToolsResponseSpaceToolsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.users#GetMcpTools": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.huggingface.users#GetMcpToolsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/settings/mcp",
          "code": 200
        },
        "smithy.api#documentation": "Get MCP tools\n\nGet the MCP tools for the current user"
      }
    },
    "com.huggingface.users#ListUserRepositoriesRequestType": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter by repository type"
      }
    },
    "com.huggingface.users#ListUserRepositoriesRequestSort": {
      "type": "enum",
      "members": {
        "STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storage"
          }
        },
        "UPDATEDAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updatedAt"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sort field (default: storage)"
      }
    },
    "com.huggingface.users#ListUserRepositoriesRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sort direction (default: desc)"
      }
    },
    "com.huggingface.users#ListUserRepositoriesRequest": {
      "type": "structure",
      "members": {
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search"
          }
        },
        "type": {
          "target": "com.huggingface.users#ListUserRepositoriesRequestType",
          "traits": {
            "smithy.api#httpQuery": "type"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "sort": {
          "target": "com.huggingface.users#ListUserRepositoriesRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort"
          }
        },
        "direction": {
          "target": "com.huggingface.users#ListUserRepositoriesRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.users#ListUserRepositoriesResponseBodyItemType": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.users#ListUserRepositoriesResponseBodyItemVisibility": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protected"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.users#ListUserRepositoriesResponseBodyItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.users#ListUserRepositoriesResponseBodyItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "visibility": {
          "target": "com.huggingface.users#ListUserRepositoriesResponseBodyItemVisibility",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storagePercent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.users#ListUserRepositoriesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.users#ListUserRepositoriesResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.users#ListUserRepositoriesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.users#ListUserRepositoriesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.users#ListUserRepositories": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.users#ListUserRepositoriesRequest"
      },
      "output": {
        "target": "com.huggingface.users#ListUserRepositoriesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/settings/repositories",
          "code": 200
        },
        "smithy.api#documentation": "List user repositories"
      }
    },
    "com.huggingface.users#GetUserUsageV2Request": {
      "type": "structure",
      "members": {
        "startDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "startDate",
            "smithy.api#required": {}
          }
        },
        "endDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "endDate",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.users#GetUserUsageV2": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.users#GetUserUsageV2Request"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/settings/billing/usage-v2",
          "code": 200
        },
        "smithy.api#documentation": "Get user usage\n\nGet user usage for a given period"
      }
    },
    "com.huggingface.users#GetSessionInferenceUsageRequest": {
      "type": "structure",
      "members": {
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "startDate"
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "endDate"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.users#GetSessionInferenceUsageResponsePeriodsItemSessionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "costCents": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.users#GetSessionInferenceUsageResponsePeriodsItemSessionsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.users#GetSessionInferenceUsageResponsePeriodsItemSessionsItem"
      },
      "traits": {}
    },
    "com.huggingface.users#GetSessionInferenceUsageResponsePeriodsItem": {
      "type": "structure",
      "members": {
        "period": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sessions": {
          "target": "com.huggingface.users#GetSessionInferenceUsageResponsePeriodsItemSessionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.users#GetSessionInferenceUsageResponsePeriodsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.users#GetSessionInferenceUsageResponsePeriodsItem"
      },
      "traits": {}
    },
    "com.huggingface.users#GetSessionInferenceUsageResponse": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "periods": {
          "target": "com.huggingface.users#GetSessionInferenceUsageResponsePeriodsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.users#GetSessionInferenceUsage": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.users#GetSessionInferenceUsageRequest"
      },
      "output": {
        "target": "com.huggingface.users#GetSessionInferenceUsageResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/settings/billing/usage-by-inference-session",
          "code": 200
        },
        "smithy.api#documentation": "Session inference usage\n\nGet user inference-provider usage broken down per session id"
      }
    },
    "com.huggingface.users#GetJobsUsageResponseUsageJobDetailsItem": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hardwareFlavor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "totalMinutes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "totalCostMicroUsd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "completedAt": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.users#GetJobsUsageResponseUsageJobDetailsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.users#GetJobsUsageResponseUsageJobDetailsItem"
      },
      "traits": {}
    },
    "com.huggingface.users#GetJobsUsageResponseUsage": {
      "type": "structure",
      "members": {
        "usedMicroUsd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "totalMinutes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "periodStart": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "periodEnd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "jobDetails": {
          "target": "com.huggingface.users#GetJobsUsageResponseUsageJobDetailsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.users#GetJobsUsageResponse": {
      "type": "structure",
      "members": {
        "usage": {
          "target": "com.huggingface.users#GetJobsUsageResponseUsage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.users#GetJobsUsage": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.huggingface.users#GetJobsUsageResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/settings/billing/usage/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Get jobs usage\n\nGet user Jobs usage for current subscription period"
      }
    },
    "com.huggingface.users#StreamUserUsage": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/settings/billing/usage/live",
          "code": 200
        },
        "smithy.api#documentation": "Stream usage\n\nGet live usage for user"
      }
    },
    "com.huggingface.users#StreamMetrics": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/settings/metrics/live",
          "code": 200
        },
        "smithy.api#documentation": "Stream metrics\n\nGet live usage and running jobs count for the logged-in user, over a single SSE connection"
      }
    },
    "com.huggingface.users#StreamUserUsageByUsernameRequest": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.users#StreamUserUsageByUsername": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.users#StreamUserUsageByUsernameRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/users/{username}/billing/usage/live",
          "code": 200
        },
        "smithy.api#documentation": "Stream usage\n\nGet live usage for user"
      }
    },
    "com.huggingface.users#UserOverviewRequest": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.users#UserOverviewResponseOrgsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.users#UserOverviewResponseOrgsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.users#UserOverviewResponseOrgsItem"
      },
      "traits": {}
    },
    "com.huggingface.users#UserOverviewResponseServiceAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "orgAvatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Set when the user is a service account"
      }
    },
    "com.huggingface.users#UserOverviewResponseHardwareItemsItemSkuList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Hardware SKU as [type, vendor, model]"
      }
    },
    "com.huggingface.users#UserOverviewResponseHardwareItemsItem": {
      "type": "structure",
      "members": {
        "sku": {
          "target": "com.huggingface.users#UserOverviewResponseHardwareItemsItemSkuList",
          "traits": {
            "smithy.api#documentation": "Hardware SKU as [type, vendor, model]",
            "smithy.api#required": {}
          }
        },
        "mem": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Memory in GB",
            "smithy.api#required": {}
          }
        },
        "num": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of units",
            "smithy.api#required": {}
          }
        },
        "isPrimary": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.users#UserOverviewResponseHardwareItemsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.users#UserOverviewResponseHardwareItemsItem"
      },
      "traits": {
        "smithy.api#documentation": "The user's hardware items, unless the user set them as private"
      }
    },
    "com.huggingface.users#UserOverviewResponse": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "orgs": {
          "target": "com.huggingface.users#UserOverviewResponseOrgsList"
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPro": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numModels": {
          "target": "smithy.api#Double"
        },
        "numDatasets": {
          "target": "smithy.api#Double"
        },
        "numSpaces": {
          "target": "smithy.api#Double"
        },
        "numBuckets": {
          "target": "smithy.api#Double"
        },
        "numKernels": {
          "target": "smithy.api#Double"
        },
        "numDiscussions": {
          "target": "smithy.api#Double"
        },
        "numPapers": {
          "target": "smithy.api#Double"
        },
        "numUpvotes": {
          "target": "smithy.api#Double"
        },
        "numLikes": {
          "target": "smithy.api#Double"
        },
        "numFollowers": {
          "target": "smithy.api#Double"
        },
        "numFollowing": {
          "target": "smithy.api#Double"
        },
        "numFollowingOrgs": {
          "target": "smithy.api#Double"
        },
        "details": {
          "target": "smithy.api#String"
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "reasonToFollow": {
          "target": "smithy.api#String"
        },
        "primaryOrgAvatarUrl": {
          "target": "smithy.api#String"
        },
        "serviceAccount": {
          "target": "com.huggingface.users#UserOverviewResponseServiceAccount",
          "traits": {
            "smithy.api#documentation": "Set when the user is a service account"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hardwareItems": {
          "target": "com.huggingface.users#UserOverviewResponseHardwareItemsList",
          "traits": {
            "smithy.api#documentation": "The user's hardware items, unless the user set them as private"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.users#UserOverview": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.users#UserOverviewRequest"
      },
      "output": {
        "target": "com.huggingface.users#UserOverviewResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/users/{username}/overview",
          "code": 200
        },
        "smithy.api#documentation": "User overview"
      }
    },
    "com.huggingface.users#GetSocialHandlesRequest": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.users#GetSocialHandlesResponseSocialHandles": {
      "type": "structure",
      "members": {
        "twitter": {
          "target": "smithy.api#String"
        },
        "github": {
          "target": "smithy.api#String"
        },
        "linkedin": {
          "target": "smithy.api#String"
        },
        "bluesky": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.users#GetSocialHandlesResponse": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "socialHandles": {
          "target": "com.huggingface.users#GetSocialHandlesResponseSocialHandles",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.users#GetSocialHandles": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.users#GetSocialHandlesRequest"
      },
      "output": {
        "target": "com.huggingface.users#GetSocialHandlesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/users/{username}/socials",
          "code": 200
        },
        "smithy.api#documentation": "Get social handles\n\nGet a user's social media handles"
      }
    },
    "com.huggingface.users#GetUserAvatarRequest": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "redirect": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "redirect"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.users#GetUserAvatarResponse": {
      "type": "structure",
      "members": {
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.users#GetUserAvatar": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.users#GetUserAvatarRequest"
      },
      "output": {
        "target": "com.huggingface.users#GetUserAvatarResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/users/{username}/avatar",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve user avatar\n\nThis endpoint returns a JSON with the avatar URL for the user.\n\nIf called with the `Sec-Fetch-Dest: image` header, it instead redirects to the avatar URL"
      }
    },
    "com.huggingface.users#ListUserLikesRequest": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.users#ListUserLikesResponseBodyItemRepoType": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.users#ListUserLikesResponseBodyItemRepo": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.users#ListUserLikesResponseBodyItemRepoType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.users#ListUserLikesResponseBodyItem": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "com.huggingface.users#ListUserLikesResponseBodyItemRepo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.users#ListUserLikesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.users#ListUserLikesResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.users#ListUserLikesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.users#ListUserLikesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.users#ListUserLikes": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.users#ListUserLikesRequest"
      },
      "output": {
        "target": "com.huggingface.users#ListUserLikesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/users/{username}/likes",
          "code": 200
        },
        "smithy.api#documentation": "List user likes\n\nList public repos liked by a user"
      }
    },
    "com.huggingface.users#ListUserFollowersRequestExpandItem": {
      "type": "enum",
      "members": {
        "FOLLOWEDAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "followedAt"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.users#ListUserFollowersRequestExpandList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.users#ListUserFollowersRequestExpandItem"
      },
      "traits": {}
    },
    "com.huggingface.users#ListUserFollowersRequest": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "expand": {
          "target": "com.huggingface.users#ListUserFollowersRequestExpandList",
          "traits": {
            "smithy.api#httpQuery": "expand"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.users#ListUserFollowersResponseBodyItemCase0OrgsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.users#ListUserFollowersResponseBodyItemCase0OrgsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.users#ListUserFollowersResponseBodyItemCase0OrgsItem"
      },
      "traits": {}
    },
    "com.huggingface.users#ListUserFollowersResponseBodyItemCase0ServiceAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "orgAvatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Set when the user is a service account"
      }
    },
    "com.huggingface.users#ListUserFollowersResponseBodyItemCase0": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "orgs": {
          "target": "com.huggingface.users#ListUserFollowersResponseBodyItemCase0OrgsList"
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPro": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numModels": {
          "target": "smithy.api#Double"
        },
        "numDatasets": {
          "target": "smithy.api#Double"
        },
        "numSpaces": {
          "target": "smithy.api#Double"
        },
        "numBuckets": {
          "target": "smithy.api#Double"
        },
        "numKernels": {
          "target": "smithy.api#Double"
        },
        "numDiscussions": {
          "target": "smithy.api#Double"
        },
        "numPapers": {
          "target": "smithy.api#Double"
        },
        "numUpvotes": {
          "target": "smithy.api#Double"
        },
        "numLikes": {
          "target": "smithy.api#Double"
        },
        "numFollowers": {
          "target": "smithy.api#Double"
        },
        "numFollowing": {
          "target": "smithy.api#Double"
        },
        "numFollowingOrgs": {
          "target": "smithy.api#Double"
        },
        "details": {
          "target": "smithy.api#String"
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "reasonToFollow": {
          "target": "smithy.api#String"
        },
        "primaryOrgAvatarUrl": {
          "target": "smithy.api#String"
        },
        "serviceAccount": {
          "target": "com.huggingface.users#ListUserFollowersResponseBodyItemCase0ServiceAccount",
          "traits": {
            "smithy.api#documentation": "Set when the user is a service account"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.users#ListUserFollowersResponseBodyItemCase1": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "followedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returned when `expand=followedAt` is set"
      }
    },
    "com.huggingface.users#ListUserFollowersResponseBodyItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.users#ListUserFollowersResponseBodyItemCase0"
        },
        "Case1": {
          "target": "com.huggingface.users#ListUserFollowersResponseBodyItemCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.users#ListUserFollowersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.users#ListUserFollowersResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.users#ListUserFollowersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.users#ListUserFollowersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.users#ListUserFollowers": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.users#ListUserFollowersRequest"
      },
      "output": {
        "target": "com.huggingface.users#ListUserFollowersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/users/{username}/followers",
          "code": 200
        },
        "smithy.api#documentation": "List user followers"
      }
    },
    "com.huggingface.users#ListFollowedUsersRequest": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.users#ListFollowedUsersResponseBodyItemOrgsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.users#ListFollowedUsersResponseBodyItemOrgsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.users#ListFollowedUsersResponseBodyItemOrgsItem"
      },
      "traits": {}
    },
    "com.huggingface.users#ListFollowedUsersResponseBodyItemServiceAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "orgAvatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Set when the user is a service account"
      }
    },
    "com.huggingface.users#ListFollowedUsersResponseBodyItem": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "orgs": {
          "target": "com.huggingface.users#ListFollowedUsersResponseBodyItemOrgsList"
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPro": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numModels": {
          "target": "smithy.api#Double"
        },
        "numDatasets": {
          "target": "smithy.api#Double"
        },
        "numSpaces": {
          "target": "smithy.api#Double"
        },
        "numBuckets": {
          "target": "smithy.api#Double"
        },
        "numKernels": {
          "target": "smithy.api#Double"
        },
        "numDiscussions": {
          "target": "smithy.api#Double"
        },
        "numPapers": {
          "target": "smithy.api#Double"
        },
        "numUpvotes": {
          "target": "smithy.api#Double"
        },
        "numLikes": {
          "target": "smithy.api#Double"
        },
        "numFollowers": {
          "target": "smithy.api#Double"
        },
        "numFollowing": {
          "target": "smithy.api#Double"
        },
        "numFollowingOrgs": {
          "target": "smithy.api#Double"
        },
        "details": {
          "target": "smithy.api#String"
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "reasonToFollow": {
          "target": "smithy.api#String"
        },
        "primaryOrgAvatarUrl": {
          "target": "smithy.api#String"
        },
        "serviceAccount": {
          "target": "com.huggingface.users#ListFollowedUsersResponseBodyItemServiceAccount",
          "traits": {
            "smithy.api#documentation": "Set when the user is a service account"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.users#ListFollowedUsersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.users#ListFollowedUsersResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.users#ListFollowedUsersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.users#ListFollowedUsersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.users#ListFollowedUsers": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.users#ListFollowedUsersRequest"
      },
      "output": {
        "target": "com.huggingface.users#ListFollowedUsersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/users/{username}/following",
          "code": 200
        },
        "smithy.api#documentation": "List followed users"
      }
    },
    "com.huggingface.users#ListFollowedOrganizationsRequest": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.users#ListFollowedOrganizationsResponseBodyItemOrgType": {
      "type": "enum",
      "members": {
        "COMPANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "company"
          }
        },
        "UNIVERSITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "university"
          }
        },
        "CLASSROOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "classroom"
          }
        },
        "NON_PROFIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non-profit"
          }
        },
        "GOVERNMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "government"
          }
        },
        "COMMUNITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "community"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.users#ListFollowedOrganizationsResponseBodyItemPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.users#ListFollowedOrganizationsResponseBodyItemEmailDomainsItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "verified": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.users#ListFollowedOrganizationsResponseBodyItemEmailDomainsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.users#ListFollowedOrganizationsResponseBodyItemEmailDomainsItem"
      },
      "traits": {}
    },
    "com.huggingface.users#ListFollowedOrganizationsResponseBodyItem": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "orgType": {
          "target": "com.huggingface.users#ListFollowedOrganizationsResponseBodyItemOrgType"
        },
        "plan": {
          "target": "com.huggingface.users#ListFollowedOrganizationsResponseBodyItemPlan"
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "numModels": {
          "target": "smithy.api#Double"
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "reasonToFollow": {
          "target": "smithy.api#String"
        },
        "emailDomains": {
          "target": "com.huggingface.users#ListFollowedOrganizationsResponseBodyItemEmailDomainsList"
        }
      },
      "traits": {}
    },
    "com.huggingface.users#ListFollowedOrganizationsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.users#ListFollowedOrganizationsResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.users#ListFollowedOrganizationsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.users#ListFollowedOrganizationsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.users#ListFollowedOrganizations": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.users#ListFollowedOrganizationsRequest"
      },
      "output": {
        "target": "com.huggingface.users#ListFollowedOrganizationsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/users/{username}/following/orgs",
          "code": 200
        },
        "smithy.api#documentation": "List followed organizations"
      }
    },
    "com.huggingface.users#GetAvatarRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.users#GetAvatar": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.users#GetAvatarRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/avatars/{namespace}",
          "code": 200
        },
        "smithy.api#documentation": "Get avatar\n\nDisplay the avatar for any user or organization. This endpoint redirects to the avatar URL for either a user or an organization"
      }
    },
    "com.huggingface.users#Users": {
      "type": "service",
      "version": "0.0.1",
      "operations": [
        {
          "target": "com.huggingface.users#GetMcpTools"
        },
        {
          "target": "com.huggingface.users#ListUserRepositories"
        },
        {
          "target": "com.huggingface.users#GetUserUsageV2"
        },
        {
          "target": "com.huggingface.users#GetSessionInferenceUsage"
        },
        {
          "target": "com.huggingface.users#GetJobsUsage"
        },
        {
          "target": "com.huggingface.users#StreamUserUsage"
        },
        {
          "target": "com.huggingface.users#StreamMetrics"
        },
        {
          "target": "com.huggingface.users#StreamUserUsageByUsername"
        },
        {
          "target": "com.huggingface.users#UserOverview"
        },
        {
          "target": "com.huggingface.users#GetSocialHandles"
        },
        {
          "target": "com.huggingface.users#GetUserAvatar"
        },
        {
          "target": "com.huggingface.users#ListUserLikes"
        },
        {
          "target": "com.huggingface.users#ListUserFollowers"
        },
        {
          "target": "com.huggingface.users#ListFollowedUsers"
        },
        {
          "target": "com.huggingface.users#ListFollowedOrganizations"
        },
        {
          "target": "com.huggingface.users#GetAvatar"
        }
      ],
      "traits": {
        "smithy.api#title": "Hub API Endpoints",
        "smithy.api#documentation": "We have open endpoints that you can use to retrieve information from the Hub as well as perform certain actions such as creating model, dataset or Space repos. We offer a wrapper Python client, [`huggingface_hub`](https://github.com/huggingface/huggingface_hub), and a JS client, [`huggingface.js`](https://github.com/huggingface/huggingface.js), that allow easy access to these endpoints. We also provide [webhooks](https://huggingface.co/docs/hub/webhooks) to receive real-time incremental info about repos. Enjoy!\n\nThe base URL for those endpoints below is `https://huggingface.co`. For example, to construct the `/api/models` call below, one can call the URL [https://huggingface.co/api/models](https://huggingface.co/api/models).\n\nIf you're an Agent, you might prefer the [markdown version OpenAPI spec](https://huggingface.co/.well-known/openapi.md)."
      }
    }
  }
}
