{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase0EnvironmentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase0ArgumentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase0CommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase0Flavor": {
      "type": "enum",
      "members": {
        "CPU_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-basic"
          }
        },
        "CPU_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-upgrade"
          }
        },
        "CPU_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-performance"
          }
        },
        "CPU_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-xl"
          }
        },
        "SPRX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sprx8"
          }
        },
        "ZERO_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-a10g"
          }
        },
        "T4_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-small"
          }
        },
        "T4_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-medium"
          }
        },
        "L4X1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x1"
          }
        },
        "L4X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x4"
          }
        },
        "L40SX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx1"
          }
        },
        "L40SX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx4"
          }
        },
        "L40SX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx8"
          }
        },
        "A10G_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-small"
          }
        },
        "A10G_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-large"
          }
        },
        "A10G_LARGEX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex2"
          }
        },
        "A10G_LARGEX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex4"
          }
        },
        "A100_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100-large"
          }
        },
        "A100X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x4"
          }
        },
        "A100X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x8"
          }
        },
        "H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200"
          }
        },
        "H200X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x2"
          }
        },
        "H200X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x4"
          }
        },
        "H200X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x8"
          }
        },
        "RTX_PRO_6000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000"
          }
        },
        "RTX_PRO_6000X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x2"
          }
        },
        "RTX_PRO_6000X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x4"
          }
        },
        "RTX_PRO_6000X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x8"
          }
        },
        "INF2X6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inf2x6"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase0LabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dashes, and underscores."
      }
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase0SecretsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase0": {
      "type": "structure",
      "members": {
        "dockerImage": {
          "target": "smithy.api#String"
        },
        "spaceId": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase0EnvironmentMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "arguments": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase0ArgumentsList"
        },
        "command": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase0CommandList"
        },
        "flavor": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase0Flavor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "labels": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase0LabelsMap",
          "traits": {
            "smithy.api#documentation": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dashes, and underscores."
          }
        },
        "secrets": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase0SecretsList"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase1EnvironmentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase1ArgumentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase1CommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase1Flavor": {
      "type": "enum",
      "members": {
        "CPU_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-basic"
          }
        },
        "CPU_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-upgrade"
          }
        },
        "CPU_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-performance"
          }
        },
        "CPU_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-xl"
          }
        },
        "SPRX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sprx8"
          }
        },
        "ZERO_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-a10g"
          }
        },
        "T4_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-small"
          }
        },
        "T4_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-medium"
          }
        },
        "L4X1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x1"
          }
        },
        "L4X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x4"
          }
        },
        "L40SX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx1"
          }
        },
        "L40SX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx4"
          }
        },
        "L40SX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx8"
          }
        },
        "A10G_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-small"
          }
        },
        "A10G_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-large"
          }
        },
        "A10G_LARGEX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex2"
          }
        },
        "A10G_LARGEX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex4"
          }
        },
        "A100_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100-large"
          }
        },
        "A100X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x4"
          }
        },
        "A100X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x8"
          }
        },
        "H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200"
          }
        },
        "H200X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x2"
          }
        },
        "H200X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x4"
          }
        },
        "H200X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x8"
          }
        },
        "RTX_PRO_6000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000"
          }
        },
        "RTX_PRO_6000X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x2"
          }
        },
        "RTX_PRO_6000X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x4"
          }
        },
        "RTX_PRO_6000X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x8"
          }
        },
        "INF2X6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inf2x6"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase1LabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dashes, and underscores."
      }
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase1SecretsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase1": {
      "type": "structure",
      "members": {
        "dockerImage": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spaceId": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase1EnvironmentMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "arguments": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase1ArgumentsList"
        },
        "command": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase1CommandList"
        },
        "flavor": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase1Flavor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "labels": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase1LabelsMap",
          "traits": {
            "smithy.api#documentation": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dashes, and underscores."
          }
        },
        "secrets": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase1SecretsList"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemJob": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase0"
        },
        "Case1": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemJobCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemDisabled": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemWatchedItemType": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemWatchedItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemWatchedItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemWatchedList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemWatchedItem"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemDomainsItem": {
      "type": "enum",
      "members": {
        "REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo"
          }
        },
        "DISCUSSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discussion"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItemDomainsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemDomainsItem"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String"
        },
        "job": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemJob"
        },
        "jobSourceId": {
          "target": "smithy.api#String"
        },
        "disabled": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemDisabled",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "watched": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemWatchedList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasSecret": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the webhook has a secret (the secret itself is never returned)",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItemDomainsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastTriggerAt": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.webhooks#ListWebhooksResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#ListWebhooksResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.webhooks#ListWebhooksResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.webhooks#ListWebhooks": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.huggingface.webhooks#ListWebhooksResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/settings/webhooks",
          "code": 200
        },
        "smithy.api#documentation": "List webhooks"
      }
    },
    "com.huggingface.webhooks#CreateWebhookRequestWatchedItemType": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestWatchedItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestWatchedItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestWatchedList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.webhooks#CreateWebhookRequestWatchedItem"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase0ArgumentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase0CommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase0EnvironmentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase0SecretsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase0Flavor": {
      "type": "enum",
      "members": {
        "CPU_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-basic"
          }
        },
        "CPU_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-upgrade"
          }
        },
        "CPU_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-performance"
          }
        },
        "CPU_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-xl"
          }
        },
        "SPRX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sprx8"
          }
        },
        "ZERO_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-a10g"
          }
        },
        "T4_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-small"
          }
        },
        "T4_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-medium"
          }
        },
        "L4X1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x1"
          }
        },
        "L4X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x4"
          }
        },
        "L40SX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx1"
          }
        },
        "L40SX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx4"
          }
        },
        "L40SX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx8"
          }
        },
        "A10G_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-small"
          }
        },
        "A10G_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-large"
          }
        },
        "A10G_LARGEX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex2"
          }
        },
        "A10G_LARGEX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex4"
          }
        },
        "A100_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100-large"
          }
        },
        "A100X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x4"
          }
        },
        "A100X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x8"
          }
        },
        "H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200"
          }
        },
        "H200X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x2"
          }
        },
        "H200X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x4"
          }
        },
        "H200X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x8"
          }
        },
        "RTX_PRO_6000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000"
          }
        },
        "RTX_PRO_6000X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x2"
          }
        },
        "RTX_PRO_6000X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x4"
          }
        },
        "RTX_PRO_6000X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x8"
          }
        },
        "INF2X6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inf2x6"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase0Arch": {
      "type": "enum",
      "members": {
        "AMD64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amd64"
          }
        },
        "ARM64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arm64"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase0LabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dashes, and underscores."
      }
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase0VolumesItemType": {
      "type": "enum",
      "members": {
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase0VolumesItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase0VolumesItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source identifier, e.g. 'username/my-bucket' or 'username/my-model'",
            "smithy.api#required": {}
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mount path inside the container, e.g. '/data'",
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git revision (only for repos, defaults to 'main')"
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Read-only mount (true for repos, false default for buckets)"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subfolder prefix inside the bucket/repo to mount, e.g. 'path/to/dir'"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase0VolumesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase0VolumesItem"
      },
      "traits": {
        "smithy.api#documentation": "HuggingFace Buckets or Repos to mount as volumes in the job container."
      }
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase0ExposePortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase0ExposePortsPublicList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Subset of `ports` reachable without any authentication."
      }
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase0Expose": {
      "type": "structure",
      "members": {
        "ports": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase0ExposePortsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "portsPublic": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase0ExposePortsPublicList",
          "traits": {
            "smithy.api#documentation": "Subset of `ports` reachable without any authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ports to expose publicly through the jobs proxy. Each port is reachable at `https://<job_id>--<port>.<jobs-public-domain>`. Access requires a HF token with read access to the job's namespace, except for ports also listed in `portsPublic`."
      }
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase0Ssh": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "When `enabled`, the job's container is reachable over SSH at `ssh <job_id>@ssh.hf.jobs`. Only the job's owner is allowed in, authenticated by an SSH public key registered on the Hub."
      }
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase0NetworkAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Roles this job answers to. An alias names a role, not a job: several members may claim the same alias, which then resolves to all of them, and a member may claim several. Peers get the hostname by appending the alias to the `HF_NETWORK_GROUP_PREFIX` environment variable, which already ends with a separator."
      }
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase0Network": {
      "type": "structure",
      "members": {
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Group name, scoped to the job's owner and resource group.",
            "smithy.api#required": {}
          }
        },
        "aliases": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase0NetworkAliasesList",
          "traits": {
            "smithy.api#documentation": "Roles this job answers to. An alias names a role, not a job: several members may claim the same alias, which then resolves to all of them, and a member may claim several. Peers get the hostname by appending the alias to the `HF_NETWORK_GROUP_PREFIX` environment variable, which already ends with a separator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Opt-in network group. Jobs of the same owner and resource group sharing a group are placed together and reach each other on every port. Two environment variables are set in the container: `HF_NETWORK_GROUP_HOSTNAME`, a hostname resolving to every member of the group, and `HF_NETWORK_GROUP_PREFIX`, to which an alias is appended to get that alias' hostname."
      }
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase0": {
      "type": "structure",
      "members": {
        "spaceId": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dockerImage": {
          "target": "smithy.api#String"
        },
        "arguments": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase0ArgumentsList"
        },
        "command": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase0CommandList"
        },
        "environment": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase0EnvironmentMap"
        },
        "secrets": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase0SecretsMap"
        },
        "flavor": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase0Flavor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "arch": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase0Arch"
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "attempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max number of attempts to make. For example, if you set this to 3, the job will be retried up to 2 times if it fails."
          }
        },
        "labels": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase0LabelsMap",
          "traits": {
            "smithy.api#documentation": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dashes, and underscores."
          }
        },
        "volumes": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase0VolumesList",
          "traits": {
            "smithy.api#documentation": "HuggingFace Buckets or Repos to mount as volumes in the job container."
          }
        },
        "expose": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase0Expose",
          "traits": {
            "smithy.api#documentation": "Ports to expose publicly through the jobs proxy. Each port is reachable at `https://<job_id>--<port>.<jobs-public-domain>`. Access requires a HF token with read access to the job's namespace, except for ports also listed in `portsPublic`."
          }
        },
        "ssh": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase0Ssh",
          "traits": {
            "smithy.api#documentation": "When `enabled`, the job's container is reachable over SSH at `ssh <job_id>@ssh.hf.jobs`. Only the job's owner is allowed in, authenticated by an SSH public key registered on the Hub."
          }
        },
        "network": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase0Network",
          "traits": {
            "smithy.api#documentation": "Opt-in network group. Jobs of the same owner and resource group sharing a group are placed together and reach each other on every port. Two environment variables are set in the container: `HF_NETWORK_GROUP_HOSTNAME`, a hostname resolving to every member of the group, and `HF_NETWORK_GROUP_PREFIX`, to which an alias is appended to get that alias' hostname."
          }
        },
        "resourceGroupId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase1ArgumentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase1CommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase1EnvironmentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase1SecretsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase1Flavor": {
      "type": "enum",
      "members": {
        "CPU_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-basic"
          }
        },
        "CPU_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-upgrade"
          }
        },
        "CPU_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-performance"
          }
        },
        "CPU_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-xl"
          }
        },
        "SPRX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sprx8"
          }
        },
        "ZERO_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-a10g"
          }
        },
        "T4_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-small"
          }
        },
        "T4_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-medium"
          }
        },
        "L4X1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x1"
          }
        },
        "L4X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x4"
          }
        },
        "L40SX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx1"
          }
        },
        "L40SX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx4"
          }
        },
        "L40SX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx8"
          }
        },
        "A10G_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-small"
          }
        },
        "A10G_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-large"
          }
        },
        "A10G_LARGEX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex2"
          }
        },
        "A10G_LARGEX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex4"
          }
        },
        "A100_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100-large"
          }
        },
        "A100X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x4"
          }
        },
        "A100X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x8"
          }
        },
        "H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200"
          }
        },
        "H200X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x2"
          }
        },
        "H200X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x4"
          }
        },
        "H200X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x8"
          }
        },
        "RTX_PRO_6000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000"
          }
        },
        "RTX_PRO_6000X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x2"
          }
        },
        "RTX_PRO_6000X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x4"
          }
        },
        "RTX_PRO_6000X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x8"
          }
        },
        "INF2X6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inf2x6"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase1Arch": {
      "type": "enum",
      "members": {
        "AMD64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amd64"
          }
        },
        "ARM64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arm64"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase1LabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dashes, and underscores."
      }
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase1VolumesItemType": {
      "type": "enum",
      "members": {
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase1VolumesItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase1VolumesItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source identifier, e.g. 'username/my-bucket' or 'username/my-model'",
            "smithy.api#required": {}
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mount path inside the container, e.g. '/data'",
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git revision (only for repos, defaults to 'main')"
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Read-only mount (true for repos, false default for buckets)"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subfolder prefix inside the bucket/repo to mount, e.g. 'path/to/dir'"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase1VolumesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase1VolumesItem"
      },
      "traits": {
        "smithy.api#documentation": "HuggingFace Buckets or Repos to mount as volumes in the job container."
      }
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase1ExposePortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase1ExposePortsPublicList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Subset of `ports` reachable without any authentication."
      }
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase1Expose": {
      "type": "structure",
      "members": {
        "ports": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase1ExposePortsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "portsPublic": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase1ExposePortsPublicList",
          "traits": {
            "smithy.api#documentation": "Subset of `ports` reachable without any authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ports to expose publicly through the jobs proxy. Each port is reachable at `https://<job_id>--<port>.<jobs-public-domain>`. Access requires a HF token with read access to the job's namespace, except for ports also listed in `portsPublic`."
      }
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase1Ssh": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "When `enabled`, the job's container is reachable over SSH at `ssh <job_id>@ssh.hf.jobs`. Only the job's owner is allowed in, authenticated by an SSH public key registered on the Hub."
      }
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase1NetworkAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Roles this job answers to. An alias names a role, not a job: several members may claim the same alias, which then resolves to all of them, and a member may claim several. Peers get the hostname by appending the alias to the `HF_NETWORK_GROUP_PREFIX` environment variable, which already ends with a separator."
      }
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase1Network": {
      "type": "structure",
      "members": {
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Group name, scoped to the job's owner and resource group.",
            "smithy.api#required": {}
          }
        },
        "aliases": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase1NetworkAliasesList",
          "traits": {
            "smithy.api#documentation": "Roles this job answers to. An alias names a role, not a job: several members may claim the same alias, which then resolves to all of them, and a member may claim several. Peers get the hostname by appending the alias to the `HF_NETWORK_GROUP_PREFIX` environment variable, which already ends with a separator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Opt-in network group. Jobs of the same owner and resource group sharing a group are placed together and reach each other on every port. Two environment variables are set in the container: `HF_NETWORK_GROUP_HOSTNAME`, a hostname resolving to every member of the group, and `HF_NETWORK_GROUP_PREFIX`, to which an alias is appended to get that alias' hostname."
      }
    },
    "com.huggingface.webhooks#CreateWebhookRequestJobCase1": {
      "type": "structure",
      "members": {
        "spaceId": {
          "target": "smithy.api#String"
        },
        "dockerImage": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "arguments": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase1ArgumentsList"
        },
        "command": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase1CommandList"
        },
        "environment": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase1EnvironmentMap"
        },
        "secrets": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase1SecretsMap"
        },
        "flavor": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase1Flavor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "arch": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase1Arch"
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "attempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max number of attempts to make. For example, if you set this to 3, the job will be retried up to 2 times if it fails."
          }
        },
        "labels": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase1LabelsMap",
          "traits": {
            "smithy.api#documentation": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dashes, and underscores."
          }
        },
        "volumes": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase1VolumesList",
          "traits": {
            "smithy.api#documentation": "HuggingFace Buckets or Repos to mount as volumes in the job container."
          }
        },
        "expose": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase1Expose",
          "traits": {
            "smithy.api#documentation": "Ports to expose publicly through the jobs proxy. Each port is reachable at `https://<job_id>--<port>.<jobs-public-domain>`. Access requires a HF token with read access to the job's namespace, except for ports also listed in `portsPublic`."
          }
        },
        "ssh": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase1Ssh",
          "traits": {
            "smithy.api#documentation": "When `enabled`, the job's container is reachable over SSH at `ssh <job_id>@ssh.hf.jobs`. Only the job's owner is allowed in, authenticated by an SSH public key registered on the Hub."
          }
        },
        "network": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase1Network",
          "traits": {
            "smithy.api#documentation": "Opt-in network group. Jobs of the same owner and resource group sharing a group are placed together and reach each other on every port. Two environment variables are set in the container: `HF_NETWORK_GROUP_HOSTNAME`, a hostname resolving to every member of the group, and `HF_NETWORK_GROUP_PREFIX`, to which an alias is appended to get that alias' hostname."
          }
        },
        "resourceGroupId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestJob": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase0"
        },
        "Case1": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJobCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestSecretsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Secrets of the job started by the webhook, used together with `jobSourceId`: the source job's own secrets are never copied. On update, listed keys are replaced, an empty value removes a secret, and omitted keys keep their stored value."
      }
    },
    "com.huggingface.webhooks#CreateWebhookRequestDomainsItem": {
      "type": "enum",
      "members": {
        "REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo"
          }
        },
        "DISCUSSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discussion"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequestDomainsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.webhooks#CreateWebhookRequestDomainsItem"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookRequest": {
      "type": "structure",
      "members": {
        "watched": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestWatchedList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String"
        },
        "job": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestJob"
        },
        "jobSourceId": {
          "target": "smithy.api#String"
        },
        "secrets": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestSecretsMap",
          "traits": {
            "smithy.api#documentation": "Secrets of the job started by the webhook, used together with `jobSourceId`: the source job's own secrets are never copied. On update, listed keys are replaced, an empty value removes a secret, and omitted keys keep their stored value."
          }
        },
        "domains": {
          "target": "com.huggingface.webhooks#CreateWebhookRequestDomainsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase0EnvironmentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase0ArgumentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase0CommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase0Flavor": {
      "type": "enum",
      "members": {
        "CPU_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-basic"
          }
        },
        "CPU_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-upgrade"
          }
        },
        "CPU_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-performance"
          }
        },
        "CPU_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-xl"
          }
        },
        "SPRX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sprx8"
          }
        },
        "ZERO_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-a10g"
          }
        },
        "T4_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-small"
          }
        },
        "T4_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-medium"
          }
        },
        "L4X1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x1"
          }
        },
        "L4X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x4"
          }
        },
        "L40SX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx1"
          }
        },
        "L40SX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx4"
          }
        },
        "L40SX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx8"
          }
        },
        "A10G_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-small"
          }
        },
        "A10G_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-large"
          }
        },
        "A10G_LARGEX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex2"
          }
        },
        "A10G_LARGEX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex4"
          }
        },
        "A100_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100-large"
          }
        },
        "A100X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x4"
          }
        },
        "A100X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x8"
          }
        },
        "H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200"
          }
        },
        "H200X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x2"
          }
        },
        "H200X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x4"
          }
        },
        "H200X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x8"
          }
        },
        "RTX_PRO_6000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000"
          }
        },
        "RTX_PRO_6000X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x2"
          }
        },
        "RTX_PRO_6000X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x4"
          }
        },
        "RTX_PRO_6000X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x8"
          }
        },
        "INF2X6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inf2x6"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase0LabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dashes, and underscores."
      }
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase0SecretsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase0": {
      "type": "structure",
      "members": {
        "dockerImage": {
          "target": "smithy.api#String"
        },
        "spaceId": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase0EnvironmentMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "arguments": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase0ArgumentsList"
        },
        "command": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase0CommandList"
        },
        "flavor": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase0Flavor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "labels": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase0LabelsMap",
          "traits": {
            "smithy.api#documentation": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dashes, and underscores."
          }
        },
        "secrets": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase0SecretsList"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase1EnvironmentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase1ArgumentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase1CommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase1Flavor": {
      "type": "enum",
      "members": {
        "CPU_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-basic"
          }
        },
        "CPU_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-upgrade"
          }
        },
        "CPU_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-performance"
          }
        },
        "CPU_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-xl"
          }
        },
        "SPRX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sprx8"
          }
        },
        "ZERO_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-a10g"
          }
        },
        "T4_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-small"
          }
        },
        "T4_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-medium"
          }
        },
        "L4X1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x1"
          }
        },
        "L4X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x4"
          }
        },
        "L40SX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx1"
          }
        },
        "L40SX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx4"
          }
        },
        "L40SX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx8"
          }
        },
        "A10G_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-small"
          }
        },
        "A10G_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-large"
          }
        },
        "A10G_LARGEX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex2"
          }
        },
        "A10G_LARGEX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex4"
          }
        },
        "A100_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100-large"
          }
        },
        "A100X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x4"
          }
        },
        "A100X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x8"
          }
        },
        "H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200"
          }
        },
        "H200X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x2"
          }
        },
        "H200X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x4"
          }
        },
        "H200X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x8"
          }
        },
        "RTX_PRO_6000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000"
          }
        },
        "RTX_PRO_6000X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x2"
          }
        },
        "RTX_PRO_6000X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x4"
          }
        },
        "RTX_PRO_6000X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x8"
          }
        },
        "INF2X6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inf2x6"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase1LabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dashes, and underscores."
      }
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase1SecretsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase1": {
      "type": "structure",
      "members": {
        "dockerImage": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spaceId": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase1EnvironmentMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "arguments": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase1ArgumentsList"
        },
        "command": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase1CommandList"
        },
        "flavor": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase1Flavor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "labels": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase1LabelsMap",
          "traits": {
            "smithy.api#documentation": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dashes, and underscores."
          }
        },
        "secrets": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase1SecretsList"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookJob": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase0"
        },
        "Case1": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookJobCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookDisabled": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookWatchedItemType": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookWatchedItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookWatchedItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookWatchedList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookWatchedItem"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookDomainsItem": {
      "type": "enum",
      "members": {
        "REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo"
          }
        },
        "DISCUSSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discussion"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhookDomainsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookDomainsItem"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponseWebhook": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String"
        },
        "job": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookJob"
        },
        "jobSourceId": {
          "target": "smithy.api#String"
        },
        "disabled": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookDisabled",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "watched": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookWatchedList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasSecret": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the webhook has a secret (the secret itself is never returned)",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhookDomainsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastTriggerAt": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#CreateWebhookResponse": {
      "type": "structure",
      "members": {
        "webhook": {
          "target": "com.huggingface.webhooks#CreateWebhookResponseWebhook",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.webhooks#CreateWebhook": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.webhooks#CreateWebhookRequest"
      },
      "output": {
        "target": "com.huggingface.webhooks#CreateWebhookResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/settings/webhooks",
          "code": 200
        },
        "smithy.api#documentation": "Create webhook"
      }
    },
    "com.huggingface.webhooks#GetWebhookRequest": {
      "type": "structure",
      "members": {
        "webhookId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase0EnvironmentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase0ArgumentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase0CommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase0Flavor": {
      "type": "enum",
      "members": {
        "CPU_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-basic"
          }
        },
        "CPU_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-upgrade"
          }
        },
        "CPU_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-performance"
          }
        },
        "CPU_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-xl"
          }
        },
        "SPRX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sprx8"
          }
        },
        "ZERO_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-a10g"
          }
        },
        "T4_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-small"
          }
        },
        "T4_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-medium"
          }
        },
        "L4X1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x1"
          }
        },
        "L4X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x4"
          }
        },
        "L40SX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx1"
          }
        },
        "L40SX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx4"
          }
        },
        "L40SX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx8"
          }
        },
        "A10G_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-small"
          }
        },
        "A10G_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-large"
          }
        },
        "A10G_LARGEX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex2"
          }
        },
        "A10G_LARGEX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex4"
          }
        },
        "A100_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100-large"
          }
        },
        "A100X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x4"
          }
        },
        "A100X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x8"
          }
        },
        "H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200"
          }
        },
        "H200X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x2"
          }
        },
        "H200X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x4"
          }
        },
        "H200X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x8"
          }
        },
        "RTX_PRO_6000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000"
          }
        },
        "RTX_PRO_6000X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x2"
          }
        },
        "RTX_PRO_6000X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x4"
          }
        },
        "RTX_PRO_6000X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x8"
          }
        },
        "INF2X6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inf2x6"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase0LabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dashes, and underscores."
      }
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase0SecretsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase0": {
      "type": "structure",
      "members": {
        "dockerImage": {
          "target": "smithy.api#String"
        },
        "spaceId": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase0EnvironmentMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "arguments": {
          "target": "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase0ArgumentsList"
        },
        "command": {
          "target": "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase0CommandList"
        },
        "flavor": {
          "target": "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase0Flavor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "labels": {
          "target": "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase0LabelsMap",
          "traits": {
            "smithy.api#documentation": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dashes, and underscores."
          }
        },
        "secrets": {
          "target": "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase0SecretsList"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase1EnvironmentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase1ArgumentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase1CommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase1Flavor": {
      "type": "enum",
      "members": {
        "CPU_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-basic"
          }
        },
        "CPU_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-upgrade"
          }
        },
        "CPU_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-performance"
          }
        },
        "CPU_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-xl"
          }
        },
        "SPRX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sprx8"
          }
        },
        "ZERO_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-a10g"
          }
        },
        "T4_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-small"
          }
        },
        "T4_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-medium"
          }
        },
        "L4X1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x1"
          }
        },
        "L4X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x4"
          }
        },
        "L40SX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx1"
          }
        },
        "L40SX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx4"
          }
        },
        "L40SX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx8"
          }
        },
        "A10G_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-small"
          }
        },
        "A10G_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-large"
          }
        },
        "A10G_LARGEX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex2"
          }
        },
        "A10G_LARGEX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex4"
          }
        },
        "A100_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100-large"
          }
        },
        "A100X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x4"
          }
        },
        "A100X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x8"
          }
        },
        "H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200"
          }
        },
        "H200X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x2"
          }
        },
        "H200X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x4"
          }
        },
        "H200X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x8"
          }
        },
        "RTX_PRO_6000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000"
          }
        },
        "RTX_PRO_6000X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x2"
          }
        },
        "RTX_PRO_6000X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x4"
          }
        },
        "RTX_PRO_6000X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x8"
          }
        },
        "INF2X6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inf2x6"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase1LabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dashes, and underscores."
      }
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase1SecretsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase1": {
      "type": "structure",
      "members": {
        "dockerImage": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spaceId": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase1EnvironmentMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "arguments": {
          "target": "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase1ArgumentsList"
        },
        "command": {
          "target": "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase1CommandList"
        },
        "flavor": {
          "target": "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase1Flavor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "labels": {
          "target": "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase1LabelsMap",
          "traits": {
            "smithy.api#documentation": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dashes, and underscores."
          }
        },
        "secrets": {
          "target": "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase1SecretsList"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookJob": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase0"
        },
        "Case1": {
          "target": "com.huggingface.webhooks#GetWebhookResponseWebhookJobCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookDisabled": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookWatchedItemType": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookWatchedItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.webhooks#GetWebhookResponseWebhookWatchedItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookWatchedList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.webhooks#GetWebhookResponseWebhookWatchedItem"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookDomainsItem": {
      "type": "enum",
      "members": {
        "REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo"
          }
        },
        "DISCUSSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discussion"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhookDomainsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.webhooks#GetWebhookResponseWebhookDomainsItem"
      },
      "traits": {}
    },
    "com.huggingface.webhooks#GetWebhookResponseWebhook": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hex string of 24 characters representing an ObjectId.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String"
        },
        "job": {
          "target": "com.huggingface.webhooks#GetWebhookResponseWebhookJob"
        },
        "jobSourceId": {
          "target": "smithy.api#String"
        },
        "disabled": {
          "target": "com.huggingface.webhooks#GetWebhookResponseWebhookDisabled",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "watched": {
[...]
