{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "acceptedUrlCount": "accepted_url_count",
      "activeCount": "active_count",
      "agentName": "agent_name",
      "destinationIps": "destination_ips",
      "effectiveDate": "effective_date",
      "entityId": "entity_id",
      "entityType": "entity_type",
      "externalHostNotified": "external_host_notified",
      "hostNotification": "host_notification",
      "inReviewCount": "in_review_count",
      "mitigationSummary": "mitigation_summary",
      "ncmecNotification": "ncmec_notification",
      "ncseiSubjectRepresentation": "ncsei_subject_representation",
      "originalWork": "original_work",
      "ownerNotification": "owner_notification",
      "pendingCount": "pending_count",
      "perPage": "per_page",
      "portsProtocols": "ports_protocols",
      "regWhoAuthorizationStatement": "reg_who_authorization_statement",
      "regWhoGoodFaithAffirmation": "reg_who_good_faith_affirmation",
      "regWhoLawfulProcessingAgreement": "reg_who_lawful_processing_agreement",
      "regWhoLegalBasis": "reg_who_legal_basis",
      "regWhoRequest": "reg_who_request",
      "regWhoRequestType": "reg_who_request_type",
      "regWhoRequestedDataElements": "reg_who_requested_data_elements",
      "regWhoRequestorType": "reg_who_requestor_type",
      "reportedCountry": "reported_country",
      "reportedUserAgent": "reported_user_agent",
      "resultInfo": "result_info",
      "sourceIps": "source_ips",
      "totalCount": "total_count",
      "trademarkNumber": "trademark_number",
      "trademarkOffice": "trademark_office",
      "trademarkSymbol": "trademark_symbol"
    },
    "distilled.finalized": true
  },
  "shapes": {
    "com.cloudflare.abuse_reports#CreateRequestAct": {
      "type": "enum",
      "members": {
        "ABUSE_DMCA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abuse_dmca"
          }
        },
        "ABUSE_TRADEMARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abuse_trademark"
          }
        },
        "ABUSE_GENERAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abuse_general"
          }
        },
        "ABUSE_PHISHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abuse_phishing"
          }
        },
        "ABUSE_CHILDREN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abuse_children"
          }
        },
        "ABUSE_THREAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abuse_threat"
          }
        },
        "ABUSE_REGISTRAR_WHOIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abuse_registrar_whois"
          }
        },
        "ABUSE_NCSEI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abuse_ncsei"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#CreateRequestAgree": {
      "type": "intEnum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#CreateRequestHostNotificationAbuseGeneral": {
      "type": "enum",
      "members": {
        "SEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "send"
          }
        },
        "SEND_ANON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "send-anon"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#CreateRequestHostNotificationEnum": {
      "type": "enum",
      "members": {
        "SEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "send"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#CreateRequestHostNotification": {
      "type": "union",
      "members": {
        "CreateRequestHostNotificationEnum": {
          "target": "com.cloudflare.abuse_reports#CreateRequestHostNotificationEnum"
        },
        "AbuseGeneral": {
          "target": "com.cloudflare.abuse_reports#CreateRequestHostNotificationAbuseGeneral"
        }
      }
    },
    "com.cloudflare.abuse_reports#CreateRequestOwnerNotificationAbuseGeneral": {
      "type": "enum",
      "members": {
        "SEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "send"
          }
        },
        "SEND_ANON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "send-anon"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#CreateRequestOwnerNotificationAbuseChildren": {
      "type": "enum",
      "members": {
        "SEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "send"
          }
        },
        "SEND_ANON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "send-anon"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#CreateRequestOwnerNotificationEnum": {
      "type": "enum",
      "members": {
        "SEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "send"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#CreateRequestOwnerNotification": {
      "type": "union",
      "members": {
        "CreateRequestOwnerNotificationEnum": {
          "target": "com.cloudflare.abuse_reports#CreateRequestOwnerNotificationEnum"
        },
        "AbuseGeneral": {
          "target": "com.cloudflare.abuse_reports#CreateRequestOwnerNotificationAbuseGeneral"
        },
        "AbuseChildren": {
          "target": "com.cloudflare.abuse_reports#CreateRequestOwnerNotificationAbuseChildren"
        }
      }
    },
    "com.cloudflare.abuse_reports#CreateRequestNcmecNotification": {
      "type": "enum",
      "members": {
        "SEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "send"
          }
        },
        "SEND_ANON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "send-anon"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#CreateRequestRegWhoRequestRegWhoRequestType": {
      "type": "enum",
      "members": {
        "DISCLOSURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disclosure"
          }
        },
        "INVALID_WHOIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid_whois"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#CreateRequestRegWhoRequestRegWhoRequestedDataElementsItem": {
      "type": "enum",
      "members": {
        "REGISTRANT_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registrant_name"
          }
        },
        "REGISTRANT_ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registrant_organization"
          }
        },
        "REGISTRANT_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registrant_email"
          }
        },
        "REGISTRANT_PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registrant_phone"
          }
        },
        "REGISTRANT_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registrant_address"
          }
        },
        "REGISTRANT_ADDRESS_COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registrant_address_country"
          }
        },
        "REGISTRANT_ADDRESS_POSTAL_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registrant_address_postal_code"
          }
        },
        "ADMIN_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_name"
          }
        },
        "ADMIN_ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_organization"
          }
        },
        "ADMIN_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_email"
          }
        },
        "ADMIN_PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_phone"
          }
        },
        "ADMIN_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_address"
          }
        },
        "TECH_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tech_name"
          }
        },
        "TECH_ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tech_organization"
          }
        },
        "TECH_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tech_email"
          }
        },
        "TECH_PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tech_phone"
          }
        },
        "TECH_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tech_address"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#CreateRequestRegWhoRequestRegWhoRequestedDataElementsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.abuse_reports#CreateRequestRegWhoRequestRegWhoRequestedDataElementsItem"
      }
    },
    "com.cloudflare.abuse_reports#CreateRequestRegWhoRequestRegWhoRequestorType": {
      "type": "enum",
      "members": {
        "GOVERNMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "government"
          }
        },
        "CORPORATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "corporation"
          }
        },
        "INDIVIDUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "individual"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#CreateRequestRegWhoRequest": {
      "type": "structure",
      "members": {
        "reg_who_good_faith_affirmation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Affirmation that the request is made in good faith per RDP 10.2.4. Must be true.",
            "smithy.api#required": {}
          }
        },
        "reg_who_lawful_processing_agreement": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Agreement to process data lawfully per RDP 10.2.5. Must be true.",
            "smithy.api#required": {}
          }
        },
        "reg_who_legal_basis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legal rights and rationale for the request per RDP 10.2.3. Required for all WHOIS requests.",
            "smithy.api#required": {}
          }
        },
        "reg_who_request_type": {
          "target": "com.cloudflare.abuse_reports#CreateRequestRegWhoRequestRegWhoRequestType",
          "traits": {
            "smithy.api#documentation": "The type of WHOIS data request per RDP procedure.",
            "smithy.api#required": {}
          }
        },
        "reg_who_requested_data_elements": {
          "target": "com.cloudflare.abuse_reports#CreateRequestRegWhoRequestRegWhoRequestedDataElementsList",
          "traits": {
            "smithy.api#documentation": "The specific WHOIS data elements being requested per RDP 10.2.2. Required for all WHOIS requests.",
            "smithy.api#required": {}
          }
        },
        "reg_who_authorization_statement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional authorization statement or power of attorney per RDP 10.2.1.3."
          }
        },
        "reg_who_requestor_type": {
          "target": "com.cloudflare.abuse_reports#CreateRequestRegWhoRequestRegWhoRequestorType",
          "traits": {
            "smithy.api#documentation": "The nature of the requestor per RDP 10.2.1.2."
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#GetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "report_param": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.abuse_reports#GetResponseMitigationSummary": {
      "type": "structure",
      "members": {
        "accepted_url_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How many of the reported URLs were confirmed as abusive.",
            "smithy.api#required": {}
          }
        },
        "active_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How many mitigations are active.",
            "smithy.api#required": {}
          }
        },
        "external_host_notified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the report has been forwarded to an external hosting provider.",
            "smithy.api#required": {}
          }
        },
        "in_review_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How many mitigations are under review.",
            "smithy.api#required": {}
          }
        },
        "pending_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How many mitigations are pending their effective date.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#GetResponseStatus": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "IN_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_review"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#GetResponseType": {
      "type": "enum",
      "members": {
        "PHISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHISH"
          }
        },
        "GEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEN"
          }
        },
        "THREAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT"
          }
        },
        "DMCA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DMCA"
          }
        },
        "EMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMER"
          }
        },
        "TM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TM"
          }
        },
        "REG_WHO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REG_WHO"
          }
        },
        "NCSEI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NCSEI"
          }
        },
        "NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#GetResponseSubmitter": {
      "type": "structure",
      "members": {
        "company": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "telephone": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.abuse_reports#GetResponseUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.abuse_reports#GetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public facing ID of abuse report, aka abuse_rand.",
            "smithy.api#required": {}
          }
        },
        "cdate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of report. Time in RFC 3339 format (https://www.rfc-editor.org/rfc/rfc3339.html)",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain that relates to the report.",
            "smithy.api#required": {}
          }
        },
        "mitigation_summary": {
          "target": "com.cloudflare.abuse_reports#GetResponseMitigationSummary",
          "traits": {
            "smithy.api#documentation": "A summary of the mitigations related to this report.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.abuse_reports#GetResponseStatus",
          "traits": {
            "smithy.api#documentation": "An enum value that represents the status of an abuse record",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.abuse_reports#GetResponseType",
          "traits": {
            "smithy.api#documentation": "The abuse report type",
            "smithy.api#required": {}
          }
        },
        "justification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Justification for the report."
          }
        },
        "original_work": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Original work / Targeted brand in the alleged abuse."
          }
        },
        "submitter": {
          "target": "com.cloudflare.abuse_reports#GetResponseSubmitter",
          "traits": {
            "smithy.api#documentation": "Information about the submitter of the report."
          }
        },
        "urls": {
          "target": "com.cloudflare.abuse_reports#GetResponseUrlsList"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.abuse_reports#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.abuse_reports#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.abuse_reports#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/abuse-reports/{report_param}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve the details of an abuse report.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.abuse_reports#ListRequestMitigationStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "IN_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_review"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removed"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#ListRequestStatus": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "IN_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_review"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#ListRequestType": {
      "type": "enum",
      "members": {
        "PHISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHISH"
          }
        },
        "GEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEN"
          }
        },
        "THREAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT"
          }
        },
        "DMCA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DMCA"
          }
        },
        "EMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMER"
          }
        },
        "TM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TM"
          }
        },
        "REG_WHO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REG_WHO"
          }
        },
        "NCSEI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NCSEI"
          }
        },
        "NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#ListResponseReportsItemMitigationSummary": {
      "type": "structure",
      "members": {
        "accepted_url_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How many of the reported URLs were confirmed as abusive.",
            "smithy.api#required": {}
          }
        },
        "active_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How many mitigations are active.",
            "smithy.api#required": {}
          }
        },
        "external_host_notified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the report has been forwarded to an external hosting provider.",
            "smithy.api#required": {}
          }
        },
        "in_review_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How many mitigations are under review.",
            "smithy.api#required": {}
          }
        },
        "pending_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How many mitigations are pending their effective date.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#ListResponseReportsItemStatus": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "IN_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_review"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#ListResponseReportsItemType": {
      "type": "enum",
      "members": {
        "PHISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHISH"
          }
        },
        "GEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEN"
          }
        },
        "THREAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT"
          }
        },
        "DMCA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DMCA"
          }
        },
        "EMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMER"
          }
        },
        "TM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TM"
          }
        },
        "REG_WHO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REG_WHO"
          }
        },
        "NCSEI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NCSEI"
          }
        },
        "NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#ListResponseReportsItemSubmitter": {
      "type": "structure",
      "members": {
        "company": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "telephone": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.abuse_reports#ListResponseReportsItemUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.abuse_reports#ListResponseReportsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public facing ID of abuse report, aka abuse_rand.",
            "smithy.api#required": {}
          }
        },
        "cdate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of report. Time in RFC 3339 format (https://www.rfc-editor.org/rfc/rfc3339.html)",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain that relates to the report.",
            "smithy.api#required": {}
          }
        },
        "mitigation_summary": {
          "target": "com.cloudflare.abuse_reports#ListResponseReportsItemMitigationSummary",
          "traits": {
            "smithy.api#documentation": "A summary of the mitigations related to this report.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.abuse_reports#ListResponseReportsItemStatus",
          "traits": {
            "smithy.api#documentation": "An enum value that represents the status of an abuse record",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.abuse_reports#ListResponseReportsItemType",
          "traits": {
            "smithy.api#documentation": "The abuse report type",
            "smithy.api#required": {}
          }
        },
        "justification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Justification for the report."
          }
        },
        "original_work": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Original work / Targeted brand in the alleged abuse."
          }
        },
        "submitter": {
          "target": "com.cloudflare.abuse_reports#ListResponseReportsItemSubmitter",
          "traits": {
            "smithy.api#documentation": "Information about the submitter of the report."
          }
        },
        "urls": {
          "target": "com.cloudflare.abuse_reports#ListResponseReportsItemUrlsList"
        }
      }
    },
    "com.cloudflare.abuse_reports#ListResponseReportsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.abuse_reports#ListResponseReportsItem"
      }
    },
    "com.cloudflare.abuse_reports#MitigationsListRequestEntityType": {
      "type": "enum",
      "members": {
        "URL_PATTERN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url_pattern"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        },
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        },
        "CUSTOM_EXPRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_expression"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#MitigationsListRequestSort": {
      "type": "enum",
      "members": {
        "TYPE_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "type,asc"
          }
        },
        "TYPE_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "type,desc"
          }
        },
        "EFFECTIVE_DATE_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "effective_date,asc"
          }
        },
        "EFFECTIVE_DATE_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "effective_date,desc"
          }
        },
        "STATUS_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status,asc"
          }
        },
        "STATUS_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status,desc"
          }
        },
        "ENTITY_TYPE_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "entity_type,asc"
          }
        },
        "ENTITY_TYPE_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "entity_type,desc"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#MitigationsListRequestStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "IN_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_review"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removed"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#MitigationsListResponseMitigationsItemEntityType": {
      "type": "enum",
      "members": {
        "URL_PATTERN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url_pattern"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        },
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        },
        "CUSTOM_EXPRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_expression"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#MitigationsListResponseMitigationsItemStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "IN_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_review"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removed"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#MitigationsListResponseMitigationsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of remediation.",
            "smithy.api#required": {}
          }
        },
        "effective_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date when the mitigation will become active. Time in RFC 3339 format (https://www.rfc-editor.org/rfc/rfc3339.html)",
            "smithy.api#required": {}
          }
        },
        "entity_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "entity_type": {
          "target": "com.cloudflare.abuse_reports#MitigationsListResponseMitigationsItemEntityType",
          "traits": {
            "smithy.api#documentation": "The type of entity targeted by a mitigation.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.abuse_reports#MitigationsListResponseMitigationsItemStatus",
          "traits": {
            "smithy.api#documentation": "The status of a mitigation",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of mitigation applied to a reported entity.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#MitigationsListResponseMitigationsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.abuse_reports#MitigationsListResponseMitigationsItem"
      }
    },
    "com.cloudflare.abuse_reports#MitigationsReviewRequestAppealsItemReason": {
      "type": "enum",
      "members": {
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removed"
          }
        },
        "MISCLASSIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "misclassified"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#MitigationsReviewRequestAppealsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the mitigation to appeal.",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.cloudflare.abuse_reports#MitigationsReviewRequestAppealsItemReason",
          "traits": {
            "smithy.api#documentation": "Reason why the customer is appealing.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#MitigationsReviewRequestAppealsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.abuse_reports#MitigationsReviewRequestAppealsItem"
      }
    },
    "com.cloudflare.abuse_reports#MitigationsReviewRequestDataUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.abuse_reports#MitigationsReviewRequestData": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "jurisdiction_consent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "perjury_attestation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "phone_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "street_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "urls": {
          "target": "com.cloudflare.abuse_reports#MitigationsReviewRequestDataUrlsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zip_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "company": {
          "target": "smithy.api#String"
        },
        "counter_notice_response": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.abuse_reports#MitigationsReviewRequestType": {
      "type": "enum",
      "members": {
        "COUNTER_NOTICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "counter_notice"
          }
        },
        "CONTENT_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "content_removed"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#MitigationsReviewResultItemEntityType": {
      "type": "enum",
      "members": {
        "URL_PATTERN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url_pattern"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        },
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        },
        "CUSTOM_EXPRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_expression"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#MitigationsReviewResultItemStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "IN_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_review"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removed"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#MitigationsReviewResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of remediation.",
            "smithy.api#required": {}
          }
        },
        "effective_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date when the mitigation will become active. Time in RFC 3339 format (https://www.rfc-editor.org/rfc/rfc3339.html)",
            "smithy.api#required": {}
          }
        },
        "entity_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "entity_type": {
          "target": "com.cloudflare.abuse_reports#MitigationsReviewResultItemEntityType",
          "traits": {
            "smithy.api#documentation": "The type of entity targeted by a mitigation.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.abuse_reports#MitigationsReviewResultItemStatus",
          "traits": {
            "smithy.api#documentation": "The status of a mitigation",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of mitigation applied to a reported entity.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#MitigationsReviewResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.abuse_reports#MitigationsReviewResultItem"
      }
    },
    "com.cloudflare.abuse_reports#GetSubmittedRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "report_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.abuse_reports#GetSubmittedResponseDenialReason": {
      "type": "enum",
      "members": {
        "UNABLE_TO_CONFIRM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unable_to_confirm"
          }
        },
        "INCOMPLETE_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete_report"
          }
        },
        "NOT_ON_CLOUDFLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_on_cloudflare"
          }
        },
        "DUPLICATE_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duplicate_report"
          }
        },
        "CONTENT_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "content_removed"
          }
        },
        "REPORT_DETAILS_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "report_details_mismatch"
          }
        },
        "NO_ABUSE_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_abuse_found"
          }
        },
        "MISSING_ORIGINAL_WORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "missing_original_work"
          }
        },
        "DIRECT_URL_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "direct_url_required"
          }
        },
        "WRONG_REPORT_CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wrong_report_category"
          }
        },
        "CONTENT_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "content_unavailable"
          }
        },
        "LAW_ENFORCEMENT_REFERRAL_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "law_enforcement_referral_required"
          }
        },
        "DOMAIN_DISPUTE_PROCESS_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_dispute_process_required"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#GetSubmittedResponseStatus": {
      "type": "enum",
      "members": {
        "SUBMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "submitted"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "denied"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#GetSubmittedResponseType": {
      "type": "enum",
      "members": {
        "PHISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHISH"
          }
        },
        "GEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEN"
          }
        },
        "THREAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT"
          }
        },
        "DMCA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DMCA"
          }
        },
        "EMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMER"
          }
        },
        "TM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TM"
          }
        },
        "REG_WHO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REG_WHO"
          }
        },
        "NCSEI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NCSEI"
          }
        },
        "NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#GetSubmittedResponseUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.abuse_reports#GetSubmittedResponseDestinationIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.abuse_reports#GetSubmittedResponsePortsProtocolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.abuse_reports#GetSubmittedResponseRegWhoRequestRegWhoRequestType": {
      "type": "enum",
      "members": {
        "DISCLOSURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disclosure"
          }
        },
        "INVALID_WHOIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid_whois"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#GetSubmittedResponseRegWhoRequestRegWhoRequestedDataElementsItem": {
      "type": "enum",
      "members": {
        "REGISTRANT_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registrant_name"
          }
        },
        "REGISTRANT_ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registrant_organization"
          }
        },
        "REGISTRANT_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registrant_email"
          }
        },
        "REGISTRANT_PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registrant_phone"
          }
        },
        "REGISTRANT_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registrant_address"
          }
        },
        "REGISTRANT_ADDRESS_COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registrant_address_country"
          }
        },
        "REGISTRANT_ADDRESS_POSTAL_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registrant_address_postal_code"
          }
        },
        "ADMIN_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_name"
          }
        },
        "ADMIN_ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_organization"
          }
        },
        "ADMIN_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_email"
          }
        },
        "ADMIN_PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_phone"
          }
        },
        "ADMIN_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_address"
          }
        },
        "TECH_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tech_name"
          }
        },
        "TECH_ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tech_organization"
          }
        },
        "TECH_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tech_email"
          }
        },
        "TECH_PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tech_phone"
          }
        },
        "TECH_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tech_address"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#GetSubmittedResponseRegWhoRequestRegWhoRequestedDataElementsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.abuse_reports#GetSubmittedResponseRegWhoRequestRegWhoRequestedDataElementsItem"
      }
    },
    "com.cloudflare.abuse_reports#GetSubmittedResponseRegWhoRequestRegWhoRequestorType": {
      "type": "enum",
      "members": {
        "GOVERNMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "government"
          }
        },
        "CORPORATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "corporation"
          }
        },
        "INDIVIDUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "individual"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#GetSubmittedResponseRegWhoRequest": {
      "type": "structure",
      "members": {
        "reg_who_good_faith_affirmation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Affirmation that the request is made in good faith per RDP 10.2.4. Must be true.",
            "smithy.api#required": {}
          }
        },
        "reg_who_lawful_processing_agreement": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Agreement to process data lawfully per RDP 10.2.5. Must be true.",
            "smithy.api#required": {}
          }
        },
        "reg_who_legal_basis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legal rights and rationale for the request per RDP 10.2.3. Required for all WHOIS requests.",
            "smithy.api#required": {}
          }
        },
        "reg_who_request_type": {
          "target": "com.cloudflare.abuse_reports#GetSubmittedResponseRegWhoRequestRegWhoRequestType",
          "traits": {
            "smithy.api#documentation": "The type of WHOIS data request per RDP procedure.",
            "smithy.api#required": {}
          }
        },
        "reg_who_requested_data_elements": {
          "target": "com.cloudflare.abuse_reports#GetSubmittedResponseRegWhoRequestRegWhoRequestedDataElementsList",
          "traits": {
            "smithy.api#documentation": "The specific WHOIS data elements being requested per RDP 10.2.2. Required for all WHOIS requests.",
            "smithy.api#required": {}
          }
        },
        "reg_who_authorization_statement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional authorization statement or power of attorney per RDP 10.2.1.3."
          }
        },
        "reg_who_requestor_type": {
          "target": "com.cloudflare.abuse_reports#GetSubmittedResponseRegWhoRequestRegWhoRequestorType",
          "traits": {
            "smithy.api#documentation": "The nature of the requestor per RDP 10.2.1.2."
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#GetSubmittedResponseSourceIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.abuse_reports#GetSubmittedResponseSubmitter": {
      "type": "structure",
      "members": {
        "company": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "telephone": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.abuse_reports#GetSubmittedResponseSubtypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.abuse_reports#GetSubmittedResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public report code.",
            "smithy.api#required": {}
          }
        },
        "cdate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the report was submitted.",
            "smithy.api#required": {}
          }
        },
        "denial_reason": {
          "target": "com.cloudflare.abuse_reports#GetSubmittedResponseDenialReason",
          "traits": {
            "smithy.api#documentation": "Submitter-safe reason for a denied report. Null when unavailable.",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain identified in the report.",
            "smithy.api#required": {}
          }
        },
        "dsa_attestation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the submitter provided the Digital Services Act attestation.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.abuse_reports#GetSubmittedResponseStatus",
          "traits": {
            "smithy.api#documentation": "Status visible to the account that submitted the report.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.abuse_reports#GetSubmittedResponseType",
          "traits": {
            "smithy.api#documentation": "The abuse report type",
            "smithy.api#required": {}
          }
        },
        "urls": {
          "target": "com.cloudflare.abuse_reports#GetSubmittedResponseUrlsList",
          "traits": {
            "smithy.api#documentation": "URLs supplied with the report.",
            "smithy.api#required": {}
          }
        },
        "agent_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authorized agent name supplied with the report."
          }
        },
        "comments": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional comments supplied with the report."
          }
        },
        "court": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string \"on\" when a court proceeding applies to the report; otherwise omitted."
          }
        },
        "destination_ips": {
          "target": "com.cloudflare.abuse_reports#GetSubmittedResponseDestinationIpsList",
          "traits": {
            "smithy.api#documentation": "Destination IP addresses supplied with a network abuse report."
          }
        },
        "host_notification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Submitter preference for notifying the hosting provider."
          }
        },
        "justification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Evidence supplied with the report."
          }
        },
        "ncmec_notification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Submitter preference for notifying NCMEC."
          }
        },
        "ncsei_subject_representation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Representation supplied for an NCSEI report."
          }
        },
        "original_work": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Original work or targeted brand supplied with the report."
          }
        },
        "owner_notification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Submitter preference for notifying the content owner."
          }
        },
        "ports_protocols": {
          "target": "com.cloudflare.abuse_reports#GetSubmittedResponsePortsProtocolsList",
          "traits": {
            "smithy.api#documentation": "Ports and protocols supplied with a network abuse report."
          }
        },
        "reg_who_request": {
          "target": "com.cloudflare.abuse_reports#GetSubmittedResponseRegWhoRequest",
          "traits": {
            "smithy.api#documentation": "RDP-mandated fields for registrar WHOIS data disclosure requests."
          }
        },
        "reported_country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country associated with the reported activity."
          }
        },
        "reported_user_agent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User agent associated with the reported activity."
          }
        },
        "source_ips": {
          "target": "com.cloudflare.abuse_reports#GetSubmittedResponseSourceIpsList",
          "traits": {
            "smithy.api#documentation": "Source IP addresses supplied with a network abuse report."
          }
        },
        "submitter": {
          "target": "com.cloudflare.abuse_reports#GetSubmittedResponseSubmitter",
          "traits": {
            "smithy.api#documentation": "Information about the submitter of the report."
          }
        },
        "subtypes": {
          "target": "com.cloudflare.abuse_reports#GetSubmittedResponseSubtypesList",
          "traits": {
            "smithy.api#documentation": "Additional abuse classifications supplied with the report."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title supplied with the report."
          }
        },
        "udrp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string \"on\" when a UDRP proceeding applies to the report; otherwise omitted."
          }
        },
        "urs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string \"on\" when a URS proceeding applies to the report; otherwise omitted."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.abuse_reports#GetSubmitted": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.abuse_reports#GetSubmittedRequest"
      },
      "output": {
        "target": "com.cloudflare.abuse_reports#GetSubmittedResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/abuse-reports/submitted/{report_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a report submitted by the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.abuse_reports#ListSubmittedRequestDomainList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.abuse_reports#ListSubmittedRequestStatus": {
      "type": "enum",
      "members": {
        "SUBMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "submitted"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "denied"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#ListSubmittedRequestStatusList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.abuse_reports#ListSubmittedRequestStatus"
      }
    },
    "com.cloudflare.abuse_reports#ListSubmittedRequestType": {
      "type": "enum",
      "members": {
        "PHISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHISH"
          }
        },
        "GEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEN"
          }
        },
        "THREAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT"
          }
        },
        "DMCA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DMCA"
          }
        },
        "EMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMER"
          }
        },
        "TM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TM"
          }
        },
        "REG_WHO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REG_WHO"
          }
        },
        "NCSEI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NCSEI"
          }
        },
        "NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#ListSubmittedRequestTypeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.abuse_reports#ListSubmittedRequestType"
      }
    },
    "com.cloudflare.abuse_reports#ListSubmittedRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter by report code.",
            "smithy.api#httpQuery": "id"
          }
        },
        "created_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return reports submitted after this time.",
            "smithy.api#httpQuery": "created_after"
          }
        },
        "created_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return reports submitted before this time.",
            "smithy.api#httpQuery": "created_before"
          }
        },
        "domain": {
          "target": "com.cloudflare.abuse_reports#ListSubmittedRequestDomainList",
          "traits": {
            "smithy.api#documentation": "Filter by reported domain. This parameter can be specified multiple times.",
            "smithy.api#httpQuery": "domain"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page of submitted reports to return.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of submitted reports per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "sort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A property and direction to sort by (id, cdate, domain, type, status).",
            "smithy.api#httpQuery": "sort"
          }
        },
        "status": {
          "target": "com.cloudflare.abuse_reports#ListSubmittedRequestStatusList",
          "traits": {
            "smithy.api#documentation": "Filter by submitter-facing status. This parameter can be specified multiple times.",
            "smithy.api#httpQuery": "status"
          }
        },
        "type": {
          "target": "com.cloudflare.abuse_reports#ListSubmittedRequestTypeList",
          "traits": {
            "smithy.api#documentation": "Filter by report type. This parameter can be specified multiple times.",
            "smithy.api#httpQuery": "type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.abuse_reports#ListSubmittedResponseReportsItemDenialReason": {
      "type": "enum",
      "members": {
        "UNABLE_TO_CONFIRM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unable_to_confirm"
          }
        },
        "INCOMPLETE_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete_report"
          }
        },
        "NOT_ON_CLOUDFLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_on_cloudflare"
          }
        },
        "DUPLICATE_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duplicate_report"
          }
        },
        "CONTENT_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "content_removed"
          }
        },
        "REPORT_DETAILS_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "report_details_mismatch"
          }
        },
        "NO_ABUSE_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_abuse_found"
          }
        },
        "MISSING_ORIGINAL_WORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "missing_original_work"
          }
        },
        "DIRECT_URL_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "direct_url_required"
          }
        },
        "WRONG_REPORT_CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wrong_report_category"
          }
        },
        "CONTENT_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "content_unavailable"
          }
        },
        "LAW_ENFORCEMENT_REFERRAL_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "law_enforcement_referral_required"
          }
        },
        "DOMAIN_DISPUTE_PROCESS_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_dispute_process_required"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#ListSubmittedResponseReportsItemStatus": {
      "type": "enum",
      "members": {
        "SUBMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "submitted"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "denied"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#ListSubmittedResponseReportsItemType": {
      "type": "enum",
      "members": {
        "PHISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHISH"
          }
        },
        "GEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEN"
          }
        },
        "THREAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT"
          }
        },
        "DMCA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DMCA"
          }
        },
        "EMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMER"
          }
        },
        "TM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TM"
          }
        },
        "REG_WHO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REG_WHO"
          }
        },
        "NCSEI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NCSEI"
          }
        },
        "NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK"
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#ListSubmittedResponseReportsItemSubmitter": {
      "type": "structure",
      "members": {
        "company": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "telephone": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.abuse_reports#ListSubmittedResponseReportsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public report code.",
            "smithy.api#required": {}
          }
        },
        "cdate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the report was submitted.",
            "smithy.api#required": {}
          }
        },
        "denial_reason": {
          "target": "com.cloudflare.abuse_reports#ListSubmittedResponseReportsItemDenialReason",
          "traits": {
            "smithy.api#documentation": "Submitter-safe reason for a denied report. Null when unavailable.",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain identified in the report.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.abuse_reports#ListSubmittedResponseReportsItemStatus",
          "traits": {
            "smithy.api#documentation": "Status visible to the account that submitted the report.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.abuse_reports#ListSubmittedResponseReportsItemType",
          "traits": {
            "smithy.api#documentation": "The abuse report type",
            "smithy.api#required": {}
          }
        },
        "submitter": {
          "target": "com.cloudflare.abuse_reports#ListSubmittedResponseReportsItemSubmitter",
          "traits": {
            "smithy.api#documentation": "Information about the submitter of the report."
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#ListSubmittedResponseReportsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.abuse_reports#ListSubmittedResponseReportsItem"
      }
    },
    "com.cloudflare.abuse_reports#ListSubmittedResponse": {
      "type": "structure",
      "members": {
        "reports": {
          "target": "com.cloudflare.abuse_reports#ListSubmittedResponseReportsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.abuse_reports#ListSubmitted": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.abuse_reports#ListSubmittedRequest"
      },
      "output": {
        "target": "com.cloudflare.abuse_reports#ListSubmittedResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/abuse-reports/submitted",
          "code": 200
        },
        "smithy.api#documentation": "List abuse reports submitted by the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.abuse_reports#ListSubmittedEmailsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "report_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number to retrieve (default 1).",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of emails per page (default 20, max 100).",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.abuse_reports#ListSubmittedEmailsResponseEmailsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the email.",
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Body content of the email.",
            "smithy.api#required": {}
          }
        },
        "recipient": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the recipient.",
            "smithy.api#required": {}
          }
        },
        "sent_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the email was sent. Time in RFC 3339 format (https://www.rfc-editor.org/rfc/rfc3339.html)",
            "smithy.api#required": {}
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subject line of the email.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.abuse_reports#ListSubmittedEmailsResponseEmailsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.abuse_reports#ListSubmittedEmailsResponseEmailsItem"
      }
    },
    "com.cloudflare.abuse_reports#ListSubmittedEmailsResponse": {
      "type": "structure",
      "members": {
        "emails": {
          "target": "com.cloudflare.abuse_reports#ListSubmittedEmailsResponseEmailsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.abuse_reports#ListSubmittedEmails": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.abuse_reports#ListSubmittedEmailsRequest"
      },
      "output": {
        "target": "com.cloudflare.abuse_reports#ListSubmittedEmailsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/abuse-reports/submitted/{report_id}/emails",
          "code": 200
        },
        "smithy.api#documentation": "List successful emails sent to the submitter of a report submitted by the account. Does not include emails sent to customers or hosts.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.abuse_reports#AbuseReports": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.abuse_reports#Get"
        },
        {
          "target": "com.cloudflare.abuse_reports#GetSubmitted"
        },
        {
          "target": "com.cloudflare.abuse_reports#ListSubmitted"
        },
        {
          "target": "com.cloudflare.abuse_reports#ListSubmittedEmails"
        },
        {
          "target": "com.cloudflare.abuse_reports#CreateAbuseReport"
        },
        {
          "target": "com.cloudflare.abuse_reports#ListAbuseReports"
        },
        {
          "target": "com.cloudflare.abuse_reports#ListMitigations"
        },
        {
          "target": "com.cloudflare.abuse_reports#ReviewMitigation"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare AbuseReports",
        "smithy.api#documentation": "Cloudflare API — abuse_reports resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    },
    "com.cloudflare.abuse_reports#InvalidAccountId": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 7003
          }
        ],
        "smithy.api#httpError": 400
      }
    },
    "com.cloudflare.abuse_reports#InvalidRequest": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 7003
          }
        ],
        "smithy.api#httpError": 400
      }
    },
    "com.cloudflare.abuse_reports#CreateAbuseReport": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.abuse_reports#CreateAbuseReportRequest"
      },
      "output": {
        "target": "com.cloudflare.abuse_reports#CreateAbuseReportResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/abuse-reports/{report_param}",
          "code": 200
        },
        "smithy.api#documentation": "Submit an abuse report of a particular type. Requires the abuse-reports entitlement on the account (Enterprise accounts have it by default; other accounts must request access) and an API token with the `Account > Abuse Reports > Edit` permission. If the account is not entitled, the request is rejected with an HTTP `401` response (see below)."
      },
      "errors": [
        {
          "target": "com.cloudflare.abuse_reports#InvalidRequest"
        }
      ]
    },
    "com.cloudflare.abuse_reports#CreateAbuseReportRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "report_param": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The report type for submitted reports.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "act": {
          "target": "com.cloudflare.abuse_reports#CreateRequestAct",
          "traits": {
            "smithy.api#documentation": "The report type for submitted reports.",
            "smithy.api#required": {}
          }
        },
        "address1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text not exceeding 100 characters. This field may be released by Cloudflare to third parties such as the Lumen Database (https://lumendatabase.org/)."
          }
        },
        "agent_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the copyright holder. Text not exceeding 60 characters. This field may be released by Cloudflare to third parties such as the Lumen Database (https://lumendatabase.org/)."
          }
        },
        "agree": {
          "target": "com.cloudflare.abuse_reports#CreateRequestAgree",
          "traits": {
            "smithy.api#documentation": "Can be `0` for false or `1` for true. Must be value: 1 for DMCA reports"
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text not exceeding 255 characters. This field may be released by Cloudflare to third parties such as the Lumen Database (https://lumendatabase.org/)."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text not exceeding 255 characters. This field may be released by Cloudflare to third parties such as the Lumen Database (https://lumendatabase.org/)."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid email of the abuse reporter. This field may be released by Cloudflare to third parties such as the Lumen Database (https://lumendatabase.org/).",
            "smithy.api#required": {}
          }
        },
        "email2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Should match the value provided in `email`",
            "smithy.api#required": {}
          }
        },
        "host_notification": {
          "target": "com.cloudflare.abuse_reports#CreateRequestHostNotification",
          "traits": {
            "smithy.api#documentation": "Notification type based on the abuse type. NOTE: Copyright (DMCA) and Trademark reports cannot be anonymous."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text not exceeding 255 characters. This field may be released by Cloudflare to third parties such as the Lumen Database (https://lumendatabase.org/).",
            "smithy.api#required": {}
          }
        },
        "original_work": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text not exceeding 255 characters. This field may be released by Cloudflare to third parties such as the Lumen Database (https://lumendatabase.org/)."
          }
        },
        "owner_notification": {
          "target": "com.cloudflare.abuse_reports#CreateRequestOwnerNotification",
          "traits": {
            "smithy.api#documentation": "Notification type based on the abuse type. NOTE: Copyright (DMCA) and Trademark reports cannot be anonymous.",
            "smithy.api#required": {}
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required for DMCA reports, should be same as Name. An affirmation that all information in the report is true and accurate while agreeing to the policies of Cloudflare's abuse reports"
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text not exceeding 255 characters. This field may be released by Cloudflare to third parties such as the Lumen Database (https://lumendatabase.org/)."
          }
        },
        "urls": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A list of valid URLs separated by '\\n' (new line character). The list of the URLs should not exceed 250 URLs. All URLs should have the same hostname. Each URL should be unique. This field may be released by Cloudflare to third parties such as the Lumen Database (https://lumendatabase.org/).",
            "smithy.api#required": {}
          }
        },
        "comments": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Any additional comments about the infringement not exceeding 2000 characters"
          }
        },
        "company": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text not exceeding 100 characters. This field may be released by Cloudflare to third parties such as the Lumen Database (https://lumendatabase.org/)."
          }
        },
        "reported_country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text containing 2 characters"
          }
        },
        "reported_user_agent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text not exceeding 255 characters"
          }
        },
        "tele": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text not exceeding 20 characters. This field may be released by Cloudflare to third parties such as the Lumen Database (https://lumendatabase.org/)."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text not exceeding 255 characters"
          }
        },
        "justification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A detailed description of the infringement, including any necessary access details and the exact steps needed to view the content, not exceeding 5000 characters."
          }
        },
        "trademark_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text not exceeding 1000 characters"
          }
        },
        "trademark_office": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text not exceeding 1000 characters"
          }
        },
        "trademark_symbol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text not exceeding 1000 characters"
          }
        },
        "destination_ips": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A list of IP addresses separated by '\\n' (new line character). The list of destination IPs should not exceed 30 IP addresses. Each one of the IP addresses ought to be unique."
          }
        },
        "ports_protocols": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma separated list of ports and protocols e.g. 80/TCP, 22/UDP. The total size of the field should not exceed 2000 characters. Each individual port/protocol should not exceed 100 characters. The list should not have more than 30 unique ports and protocols."
          }
        },
        "source_ips": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A list of IP addresses separated by '\\n' (new line character). The list of source IPs should not exceed 30 IP addresses. Each one of the IP addresses ought to be unique."
          }
        },
        "ncmec_notification": {
          "target": "com.cloudflare.abuse_reports#CreateRequestNcmecNotification",
          "traits": {
            "smithy.api#documentation": "Notification type based on the abuse type. NOTE: Copyright (DMCA) and Trademark reports cannot be anonymous."
          }
        },
        "reg_who_request": {
          "target": "com.cloudflare.abuse_reports#CreateRequestRegWhoRequest",
          "traits": {
            "smithy.api#documentation": "RDP-mandated fields for registrar WHOIS data disclosure requests."
          }
        },
        "ncsei_subject_representation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the submitter is the target of NCSEI in the URLs of the abuse report."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.abuse_reports#CreateAbuseReportResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.abuse_reports#ListAbuseReports": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.abuse_reports#ListAbuseReportsRequest"
      },
      "output": {
        "target": "com.cloudflare.abuse_reports#ListAbuseReportsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/abuse-reports",
          "code": 200
        },
        "smithy.api#documentation": "List the abuse reports for a given account",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "resultInfo.page",
          "items": "result.items",
          "pageSize": "perPage"
        }
      },
      "errors": [
        {
          "target": "com.cloudflare.abuse_reports#InvalidAccountId"
        }
      ]
    },
    "com.cloudflare.abuse_reports#ListAbuseReportsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "created_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Returns reports created after the specified date",
            "smithy.api#httpQuery": "created_after"
          }
        },
        "created_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Returns reports created before the specified date",
            "smithy.api#httpQuery": "created_before"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter by domain name related to the abuse report",
            "smithy.api#httpQuery": "domain"
          }
        },
        "mitigation_status": {
          "target": "com.cloudflare.abuse_reports#ListRequestMitigationStatus",
          "traits": {
            "smithy.api#documentation": "Filter reports that have any mitigations in the given status.",
            "smithy.api#httpQuery": "mitigation_status"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Where in pagination to start listing abuse reports",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How many abuse reports per page to list",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "sort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A property to sort by, followed by the order (id, cdate, domain, type, status)",
            "smithy.api#httpQuery": "sort"
          }
        },
        "status": {
          "target": "com.cloudflare.abuse_reports#ListRequestStatus",
          "traits": {
            "smithy.api#documentation": "Filter by the status of the report.",
            "smithy.api#httpQuery": "status"
          }
        },
        "type": {
          "target": "com.cloudflare.abuse_reports#ListRequestType",
          "traits": {
            "smithy.api#documentation": "Filter by the type of the report.",
            "smithy.api#httpQuery": "type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.abuse_reports#ListAbuseReportsResponse": {
      "type": "structure",
      "members": {
        "reports": {
          "target": "com.cloudflare.abuse_reports#ListResponseReportsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.abuse_reports#ListMitigations": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.abuse_reports#ListMitigationsRequest"
      },
      "output": {
        "target": "com.cloudflare.abuse_reports#ListMitigationsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/abuse-reports/{report_id}/mitigations",
          "code": 200
        },
        "smithy.api#documentation": "List mitigations done to remediate the abuse report.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "resultInfo.page",
          "items": "result.items",
          "pageSize": "perPage"
        }
      }
    },
    "com.cloudflare.abuse_reports#ListMitigationsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "report_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "effective_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Returns mitigation that were dispatched after the given date",
[...]
