{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "accountId": "account_id",
      "anniversaryDate": "anniversary_date",
      "completedAfter": "completed_after",
      "completedBefore": "completed_before",
      "contentType": "content_type",
      "createdAfter": "created_after",
      "createdBefore": "created_before",
      "documentationUrl": "documentation_url",
      "fileType": "file_type",
      "messageTokens": "message_tokens",
      "perPage": "per_page",
      "quarterAnniversaryDate": "quarter_anniversary_date",
      "readableId": "readable_id",
      "requestType": "request_type",
      "sortBy": "sort_by",
      "sortOrder": "sort_order"
    },
    "distilled.finalized": true
  },
  "shapes": {
    "com.cloudflare.cloudforce_one#RequestsConstantsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsConstantsResponsePriorityItem": {
      "type": "enum",
      "members": {
        "ROUTINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "routine"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "URGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "urgent"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsConstantsResponsePriorityList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#RequestsConstantsResponsePriorityItem"
      }
    },
    "com.cloudflare.cloudforce_one#RequestsConstantsResponseStatusItem": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "REPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reported"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "declined"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsConstantsResponseStatusList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#RequestsConstantsResponseStatusItem"
      }
    },
    "com.cloudflare.cloudforce_one#RequestsConstantsResponseTlpItem": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsConstantsResponseTlpList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#RequestsConstantsResponseTlpItem"
      }
    },
    "com.cloudflare.cloudforce_one#RequestsConstantsResponse": {
      "type": "structure",
      "members": {
        "priority": {
          "target": "com.cloudflare.cloudforce_one#RequestsConstantsResponsePriorityList"
        },
        "status": {
          "target": "com.cloudflare.cloudforce_one#RequestsConstantsResponseStatusList"
        },
        "tlp": {
          "target": "com.cloudflare.cloudforce_one#RequestsConstantsResponseTlpList"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsConstants": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsConstantsRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsConstantsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/constants",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves constant values used in Cloudforce One requests, including valid statuses and types.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsCreateRequestTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsCreateResponseTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsCreateResponseStatus": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "REPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reported"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "declined"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#DeleteRequestRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#DeleteRequest": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#DeleteRequestRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/{request_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a Cloudforce One intelligence request and all associated data.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsGetResponseTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsGetResponseStatus": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "REPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reported"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "declined"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ListRequestsRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ListRequestsRequestStatus": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "REPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reported"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "declined"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ListRequestsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of results.",
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of results per page.",
            "smithy.api#required": {}
          }
        },
        "completed_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Retrieve requests completed after this time."
          }
        },
        "completed_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Retrieve requests completed before this time."
          }
        },
        "created_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Retrieve requests created after this time."
          }
        },
        "created_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Retrieve requests created before this time."
          }
        },
        "request_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requested information from request."
          }
        },
        "sort_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Field to sort results by."
          }
        },
        "sort_order": {
          "target": "com.cloudflare.cloudforce_one#ListRequestsRequestSortOrder",
          "traits": {
            "smithy.api#documentation": "Sort order (asc or desc)."
          }
        },
        "status": {
          "target": "com.cloudflare.cloudforce_one#ListRequestsRequestStatus",
          "traits": {
            "smithy.api#documentation": "Request Status."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#ListRequestsResultItemPriority": {
      "type": "enum",
      "members": {
        "ROUTINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "routine"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "URGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "urgent"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ListRequestsResultItemTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ListRequestsResultItemStatus": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "REPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reported"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "declined"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ListRequestsResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request creation time.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "com.cloudflare.cloudforce_one#ListRequestsResultItemPriority",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "request": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requested information from request.",
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Brief description of the request.",
            "smithy.api#required": {}
          }
        },
        "tlp": {
          "target": "com.cloudflare.cloudforce_one#ListRequestsResultItemTlp",
          "traits": {
            "smithy.api#documentation": "The CISA defined Traffic Light Protocol (TLP).",
            "smithy.api#required": {}
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request last updated time.",
            "smithy.api#required": {}
          }
        },
        "completed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request completion time."
          }
        },
        "message_tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tokens for the request messages."
          }
        },
        "readable_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Readable Request ID."
          }
        },
        "status": {
          "target": "com.cloudflare.cloudforce_one#ListRequestsResultItemStatus",
          "traits": {
            "smithy.api#documentation": "Request Status."
          }
        },
        "tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tokens for the request."
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ListRequestsResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#ListRequestsResultItem"
      }
    },
    "com.cloudflare.cloudforce_one#ListRequestsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.cloudforce_one#ListRequestsResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.cloudforce_one#ListRequests": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#ListRequestsRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#ListRequestsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/cloudforce-one/requests",
          "code": 200
        },
        "smithy.api#documentation": "Lists Cloudforce One intelligence requests with filtering and pagination."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsQuotaRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsQuotaResponse": {
      "type": "structure",
      "members": {
        "anniversary_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Anniversary date is when annual quota limit is refreshed."
          }
        },
        "quarter_anniversary_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Quarter anniversary date is when quota limit is refreshed each quarter."
          }
        },
        "quota": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tokens for the quarter."
          }
        },
        "remaining": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tokens remaining for the quarter."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsQuota": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsQuotaRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsQuotaResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/quota",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves quota usage for Cloudforce One standard requests.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsTypesRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsTypesResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#RequestsTypesResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.cloudforce_one#RequestsTypesResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsTypes": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsTypesRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsTypesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/types",
          "code": 200
        },
        "smithy.api#documentation": "Lists available request types for Cloudforce One intelligence requests.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.cloudforce_one#UpdateRequestRequestTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#UpdateRequestRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request content."
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Priority for analyzing the request."
          }
        },
        "request_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requested information from request."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Brief description of the request."
          }
        },
        "tlp": {
          "target": "com.cloudflare.cloudforce_one#UpdateRequestRequestTlp",
          "traits": {
            "smithy.api#documentation": "The CISA defined Traffic Light Protocol (TLP)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#UpdateRequestResponseTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#UpdateRequestResponseStatus": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "REPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reported"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "declined"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#UpdateRequestResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request content.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "request": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requested information from request.",
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Brief description of the request.",
            "smithy.api#required": {}
          }
        },
        "tlp": {
          "target": "com.cloudflare.cloudforce_one#UpdateRequestResponseTlp",
          "traits": {
            "smithy.api#documentation": "The CISA defined Traffic Light Protocol (TLP).",
            "smithy.api#required": {}
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "completed": {
          "target": "smithy.api#String"
        },
        "message_tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tokens for the request messages."
          }
        },
        "readable_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Readable Request ID."
          }
        },
        "status": {
          "target": "com.cloudflare.cloudforce_one#UpdateRequestResponseStatus",
          "traits": {
            "smithy.api#documentation": "Request Status."
          }
        },
        "tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tokens for the request."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.cloudforce_one#UpdateRequest": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#UpdateRequestRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#UpdateRequestResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/{request_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updating a request alters the request in the Cloudforce One queue. This API may be used to update any attributes of the request after the initial submission. Only fields that you choose to update need to be add to the request body.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsCreateResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Asset ID.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset name.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the asset creation time."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset description."
          }
        },
        "file_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset file type."
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsCreateResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#RequestsAssetsCreateResultItem"
      }
    },
    "com.cloudflare.cloudforce_one#GetRequestsAssetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "asset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#GetRequestsAssetResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Asset ID.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset name.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the asset creation time."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset description."
          }
        },
        "file_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset file type."
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#GetRequestsAssetResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#GetRequestsAssetResultItem"
      }
    },
    "com.cloudflare.cloudforce_one#GetRequestsAssetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.cloudforce_one#GetRequestsAssetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.cloudforce_one#GetRequestsAsset": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#GetRequestsAssetRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#GetRequestsAssetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/{request_id}/asset/{asset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves an asset attached to a Cloudforce One intelligence request.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageGetRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageGetResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Message ID.",
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Author of message.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of message.",
            "smithy.api#required": {}
          }
        },
        "is_follow_on_request": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the message is a follow-on request.",
            "smithy.api#required": {}
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the message last updated time.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the message creation time."
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageGetResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#RequestsMessageGetResultItem"
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityCreateRequestLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityCreateRequestTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityCreateResponseLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityCreateResponseTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityGetResponseTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityGetResponseStatus": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "REPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reported"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "declined"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityUpdateRequestLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityUpdateRequestTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityUpdateResponseTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityUpdateResponseStatus": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "REPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reported"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "declined"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ScansConfigCreateRequestIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ScansConfigCreateRequestPortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ScansConfigCreateResponseIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ScansConfigCreateResponsePortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ScansConfigEditRequestIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ScansConfigEditRequestPortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ScansConfigEditResponseIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ScansConfigEditResponsePortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ScansConfigListResultItemIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ScansConfigListResultItemPortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ScansConfigListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Config ID.",
            "smithy.api#required": {}
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "frequency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the number of days between each scan (0 = One-off scan).",
            "smithy.api#required": {}
          }
        },
        "ips": {
          "target": "com.cloudflare.cloudforce_one#ScansConfigListResultItemIpsList",
          "traits": {
            "smithy.api#documentation": "Defines a list of IP addresses or CIDR blocks to scan. The maximum number of total IP addresses allowed is 5000.",
            "smithy.api#required": {}
          }
        },
        "ports": {
          "target": "com.cloudflare.cloudforce_one#ScansConfigListResultItemPortsList",
          "traits": {
            "smithy.api#documentation": "Defines a list of ports to scan. Valid values are:\"default\", \"all\", or a comma-separated list of ports or range of ports (e.g. [\"1-80\", \"443\"]). \"default\" scans the 100 most commonly open ports.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ScansConfigListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#ScansConfigListResultItem"
      }
    },
    "com.cloudflare.cloudforce_one#ScansResultsGetResponse1111Item": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#Double"
        },
        "proto": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.cloudforce_one#ScansResultsGetResponse1111List": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#ScansResultsGetResponse1111Item"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRequestDataItemRawDataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRequestDataItemRaw": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRequestDataItemRawDataMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String"
        },
        "tlp": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRequestDataItemIndicatorsItem": {
      "type": "structure",
      "members": {
        "indicatorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of indicator (e.g., DOMAIN, IP, JA3, HASH)",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The indicator value (e.g., domain name, IP address, hash)",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRequestDataItemIndicatorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRequestDataItemIndicatorsItem"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRequestDataItemTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRequestDataItem": {
      "type": "structure",
      "members": {
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "raw": {
          "target": "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRequestDataItemRaw",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tlp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "accountId": {
          "target": "smithy.api#Double"
        },
        "attacker": {
          "target": "smithy.api#String"
        },
        "attackerCountry": {
          "target": "smithy.api#String"
        },
        "datasetId": {
          "target": "smithy.api#String"
        },
        "indicator": {
          "target": "smithy.api#String"
        },
        "indicators": {
          "target": "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRequestDataItemIndicatorsList",
          "traits": {
            "smithy.api#documentation": "Array of indicators for this event. Supports multiple indicators per event for complex scenarios."
          }
        },
        "indicatorType": {
          "target": "smithy.api#String"
        },
        "insight": {
          "target": "smithy.api#String"
        },
        "tags": {
          "target": "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRequestDataItemTagsList"
        },
        "targetCountry": {
          "target": "smithy.api#String"
        },
        "targetIndustry": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRequestDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRequestDataItem"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateResponseCreatedEventsItem": {
      "type": "structure",
      "members": {
        "eventIndex": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Original index in the input data array",
            "smithy.api#required": {}
          }
        },
        "shardId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dataset ID of the shard where the event was created",
            "smithy.api#required": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the created event",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateResponseCreatedEventsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateResponseCreatedEventsItem"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationshipsRequestDataItemRawDataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationshipsRequestDataItemRaw": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationshipsRequestDataItemRawDataMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String"
        },
        "tlp": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationshipsRequestDataItemIndicatorsItem": {
      "type": "structure",
      "members": {
        "indicatorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of indicator (e.g., DOMAIN, IP, JA3, HASH)",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The indicator value (e.g., domain name, IP address, hash)",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationshipsRequestDataItemIndicatorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationshipsRequestDataItemIndicatorsItem"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationshipsRequestDataItemTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationshipsRequestDataItem": {
      "type": "structure",
      "members": {
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "raw": {
          "target": "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationshipsRequestDataItemRaw",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tlp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "accountId": {
          "target": "smithy.api#Double"
        },
        "attacker": {
          "target": "smithy.api#String"
        },
        "attackerCountry": {
          "target": "smithy.api#String"
        },
        "datasetId": {
          "target": "smithy.api#String"
        },
        "indicator": {
          "target": "smithy.api#String"
        },
        "indicators": {
          "target": "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationshipsRequestDataItemIndicatorsList",
          "traits": {
            "smithy.api#documentation": "Array of indicators for this event. Supports multiple indicators per event for complex scenarios."
          }
        },
        "indicatorType": {
          "target": "smithy.api#String"
        },
        "insight": {
          "target": "smithy.api#String"
        },
        "tags": {
          "target": "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationshipsRequestDataItemTagsList"
        },
        "targetCountry": {
          "target": "smithy.api#String"
        },
        "targetIndustry": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationshipsRequestDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationshipsRequestDataItem"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationshipsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationshipsRequestDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationshipsResponse": {
      "type": "structure",
      "members": {
        "createdEventsCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of events created",
            "smithy.api#required": {}
          }
        },
        "createdIndicatorsCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of indicators created",
            "smithy.api#required": {}
          }
        },
        "createdRelationshipsCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of relationships created",
            "smithy.api#required": {}
          }
        },
        "errorCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of errors encountered",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationships": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationshipsRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#ThreatEventsBulkCreateRelationshipsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/cloudforce-one/events/create/bulk/relationships",
          "code": 200
        },
        "smithy.api#documentation": "This method is deprecated. Please use `event_create_bulk` instead"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCreateRequestRawDataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCreateRequestRaw": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.cloudforce_one#ThreatEventsCreateRequestRawDataMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String"
        },
        "tlp": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCreateRequestIndicatorsItem": {
      "type": "structure",
      "members": {
        "indicatorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of indicator (e.g., DOMAIN, IP, JA3, HASH)",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The indicator value (e.g., domain name, IP address, hash)",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCreateRequestIndicatorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#ThreatEventsCreateRequestIndicatorsItem"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCreateRequestSourceResourceType": {
      "type": "enum",
      "members": {
        "ARTICLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "article"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCreateRequestSourceSystem": {
      "type": "enum",
      "members": {
        "THREAT_SIGNALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "threat-signals"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCreateRequestSource": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.cloudflare.cloudforce_one#ThreatEventsCreateRequestSourceResourceType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "system": {
          "target": "com.cloudflare.cloudforce_one#ThreatEventsCreateRequestSourceSystem",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCreateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCreateResponseMitreAttackList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCreateResponseMitreCapecList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCreateResponseReferencedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCreateResponseReferencedIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCreateResponseReferencesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCreateResponseReferencesIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCreateResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsEditRequestRawDataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsEditRequestRaw": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.cloudforce_one#ThreatEventsEditRequestRawDataMap"
        },
        "source": {
          "target": "smithy.api#String"
        },
        "tlp": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsEditResponseMitreAttackList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsEditResponseMitreCapecList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsEditResponseReferencedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsEditResponseReferencedIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsEditResponseReferencesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsEditResponseReferencesIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsEditResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsGetResponseMitreAttackList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsGetResponseMitreCapecList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsGetResponseReferencedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsGetResponseReferencedIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsGetResponseReferencesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsGetResponseReferencesIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsGetResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsListRequestCache": {
      "type": "enum",
      "members": {
        "FROM_GRAPH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "from-graph"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsListRequestDatasetIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsListRequestFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "STIX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stix2"
          }
        },
        "TAXII": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "taxii"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsListRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsListRequestSearchList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsListResponseMitreAttackList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsListResponseMitreCapecList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsListResponseReferencedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsListResponseReferencedIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsListResponseReferencesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsListResponseReferencesIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsListResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ListThreatEventsAggregateRequestDatasetIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ListThreatEventsAggregateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "aggregateBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column(s) to aggregate by - single column or comma-separated list (e.g., 'attacker', 'targetIndustry', 'attacker,targetIndustry')",
            "smithy.api#httpQuery": "aggregateBy",
            "smithy.api#required": {}
          }
        },
        "datasetId": {
          "target": "com.cloudflare.cloudforce_one#ListThreatEventsAggregateRequestDatasetIdList",
          "traits": {
            "smithy.api#documentation": "Dataset UUIDs to filter by, or one standalone scope value: 'all'/'*' for all accessible non-analytics event datasets (analytics datasets are silently excluded), 'analytics' for isAnalytics=true datasets, or 'operational' for isAnalytics=false datasets. If not provided, uses the default dataset.",
            "smithy.api#httpQuery": "datasetId"
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date for filtering (ISO 8601 format, e.g., '2024-12-31')",
            "smithy.api#httpQuery": "endDate"
          }
        },
        "groupByDate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to group results by date (daily aggregation)",
            "smithy.api#httpQuery": "groupByDate"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of results to return",
            "smithy.api#httpQuery": "limit"
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date for filtering (ISO 8601 format, e.g., '2024-01-01')",
            "smithy.api#httpQuery": "startDate"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#ListThreatEventsAggregateResponseAggregationsItem": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of events for this aggregation",
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date (if groupByDate is true)"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ListThreatEventsAggregateResponseAggregationsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#ListThreatEventsAggregateResponseAggregationsItem"
      }
    },
    "com.cloudflare.cloudforce_one#ListThreatEventsAggregateResponseDateRange": {
      "type": "structure",
      "members": {
        "endDate": {
          "target": "smithy.api#String"
        },
        "startDate": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.cloudforce_one#ListThreatEventsAggregateResponse": {
      "type": "structure",
      "members": {
        "aggregateBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column(s) that were aggregated by",
            "smithy.api#required": {}
          }
        },
        "aggregations": {
          "target": "com.cloudflare.cloudforce_one#ListThreatEventsAggregateResponseAggregationsList",
          "traits": {
            "smithy.api#documentation": "Array of aggregation results with dynamic fields based on aggregateBy columns",
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of events in the aggregation",
            "smithy.api#required": {}
          }
        },
        "dateRange": {
          "target": "com.cloudflare.cloudforce_one#ListThreatEventsAggregateResponseDateRange",
          "traits": {
            "smithy.api#documentation": "Date range used for filtering"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.cloudforce_one#ListThreatEventsAggregate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#ListThreatEventsAggregateRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#ListThreatEventsAggregateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cloudforce-one/events/aggregate",
          "code": 200
        },
        "smithy.api#documentation": "Aggregate threat events by one or more columns (e.g., attacker, targetIndustry) with optional date filtering and daily grouping. Supports multi-dimensional aggregation for cross-analysis.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsAttackersListRequestDatasetIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsAttackersListResponseItems": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCategoriesCreateRequestMitreAttackList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCategoriesCreateRequestMitreCapecList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCategoriesCreateResponseMitreAttackList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCategoriesCreateResponseMitreCapecList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCategoriesEditRequestMitreAttackList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCategoriesEditRequestMitreCapecList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCategoriesEditResponseMitreAttackList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCategoriesEditResponseMitreCapecList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCategoriesGetResponseMitreAttackList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCategoriesGetResponseMitreCapecList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCategoriesListRequestDatasetIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCategoriesListResponseMitreAttackList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCategoriesListResponseMitreCapecList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ListThreatEventsCategoriesCatalogRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#ListThreatEventsCategoriesCatalogResponseMitreAttackList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ListThreatEventsCategoriesCatalogResponseMitreCapecList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ListThreatEventsCategoriesCatalogResponse": {
      "type": "structure",
      "members": {
        "killChain": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mitreAttack": {
          "target": "com.cloudflare.cloudforce_one#ListThreatEventsCategoriesCatalogResponseMitreAttackList"
        },
        "mitreCapec": {
          "target": "com.cloudflare.cloudforce_one#ListThreatEventsCategoriesCatalogResponseMitreCapecList"
        },
        "shortname": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.cloudforce_one#ListThreatEventsCategoriesCatalog": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#ListThreatEventsCategoriesCatalogRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#ListThreatEventsCategoriesCatalogResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cloudforce-one/events/categories/catalog",
          "code": 200
        },
        "smithy.api#documentation": "Lists categories",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCountriesListResultItem": {
      "type": "structure",
      "members": {
        "alpha2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alpha3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsCountriesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#ThreatEventsCountriesListResultItem"
      }
    },
    "com.cloudflare.cloudforce_one#DeleteThreatEventsDatasetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dataset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dataset ID to delete",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#DeleteThreatEventsDatasetResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.cloudforce_one#DeleteThreatEventsDataset": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#DeleteThreatEventsDatasetRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#DeleteThreatEventsDatasetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/cloudforce-one/events/dataset/{dataset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Soft-deletes a dataset given a datasetId.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsDatasetsListResponseIndicatorWriteMode": {
      "type": "enum",
      "members": {
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read_only"
          }
        },
        "CREATE_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create_only"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEventRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dataset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dataset ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "event_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEventResponseMitreAttackList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEventResponseMitreCapecList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEventResponseReferencedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEventResponseReferencedIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEventResponseReferencesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEventResponseReferencesIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEventResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEventResponse": {
      "type": "structure",
      "members": {
        "attacker": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attackerCountry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attackerCountryAlpha3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "indicator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "indicatorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "indicatorTypeId": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "killChain": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mitreAttack": {
          "target": "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEventResponseMitreAttackList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mitreCapec": {
          "target": "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEventResponseMitreCapecList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numReferenced": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numReferences": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rawId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "referenced": {
          "target": "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEventResponseReferencedList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "referencedIds": {
          "target": "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEventResponseReferencedIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "references": {
          "target": "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEventResponseReferencesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "referencesIds": {
          "target": "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEventResponseReferencesIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEventResponseTagsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetCountry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetCountryAlpha3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetIndustry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tlp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "insight": {
          "target": "smithy.api#String"
        },
        "releasabilityId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEvent": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEventRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#GetThreatEventsDatasetsEventResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cloudforce-one/events/dataset/{dataset_id}/events/{event_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves a specific event by its UUID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.cloudforce_one#ThreatEventsEventTagsCreateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ListThreatEventsGraphRequestDatasetIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ListThreatEventsGraphRequestExpandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ListThreatEventsGraphRequestRelationshipTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ListThreatEventsGraphRequestSeedsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.cloudforce_one#ListThreatEventsGraphRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque pagination token. Only valid when seeds has exactly 1 entry; 400 otherwise.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "datasetIds": {
          "target": "com.cloudflare.cloudforce_one#ListThreatEventsGraphRequestDatasetIdsList",
          "traits": {
            "smithy.api#documentation": "Comma-separated dataset UUIDs to restrict neighbor scope, or one standalone scope value: 'all'/'*', 'analytics' for isAnalytics=true datasets, or 'operational' for isAnalytics=false datasets. Intersected with access grants.",
            "smithy.api#httpQuery": "datasetIds"
          }
        },
        "direction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Edge direction relative to each seed: out (seed→neighbors), in (neighbors→seed), both (default).",
            "smithy.api#httpQuery": "direction"
          }
        },
        "expand": {
          "target": "com.cloudflare.cloudforce_one#ListThreatEventsGraphRequestExpandList",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of response sections to expand (hydrate). Allowed: `nodes`. Omitting `expand` returns identifier-only nodes.",
            "smithy.api#httpQuery": "expand"
          }
        },
        "hydration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hydration strategy for neighbor nodes when expand=nodes is set. r2_join (default): use R2 JOIN query + DO fallback. do_only: use plain R2 query + hydrate all neighbors via Durable Objects.",
            "smithy.api#httpQuery": "hydration"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Max neighbors per seed (default: 100, max: 1000). Values above 1000 return 400.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "max_nodes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total accumulated node cap across all seeds (default: 500, max: 1000). Values above 1000 return 400.",
            "smithy.api#httpQuery": "max_nodes"
          }
        },
        "relationshipTypes": {
          "target": "com.cloudflare.cloudforce_one#ListThreatEventsGraphRequestRelationshipTypesList",
          "traits": {
            "smithy.api#documentation": "Comma-separated relationship types to filter by. Allowed: tagged_with, appears_in, related_to, caused_by, attributed_to.",
            "smithy.api#httpQuery": "relationshipTypes"
          }
        },
        "seeds": {
          "target": "com.cloudflare.cloudforce_one#ListThreatEventsGraphRequestSeedsList",
          "traits": {
            "smithy.api#documentation": "Comma-separated compact seed ids (type:uuid). Example: seeds=event:550e8400-…,indicator:661fa920-… Provide 1–50 entries; omitting seeds returns 400.",
            "smithy.api#httpQuery": "seeds"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#ListThreatEventsGraphResponseEdgesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deterministic composite edge id (source→target:relationshipType)",
            "smithy.api#required": {}
          }
        },
        "relationshipType": {
          "target": "smithy.api#String",
[...]
