{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "approvedSources": "approved_sources",
      "bimiRecords": "bimi_records",
      "cnameDkimRecords": "cname_dkim_records",
      "cnameDmarcRecords": "cname_dmarc_records",
      "cnameSpfRecords": "cname_spf_records",
      "createdAt": "created_at",
      "dkimRecords": "dkim_records",
      "dmarcRecords": "dmarc_records",
      "modifiedAt": "modified_at",
      "ruaPrefix": "rua_prefix",
      "skipWizard": "skip_wizard",
      "spfRecords": "spf_records",
      "totalLookups": "total_lookups",
      "zoneId": "zone_id"
    },
    "distilled.finalized": true
  },
  "shapes": {
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItem": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `created_at` instead."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source domain"
          }
        },
        "ips": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemIpsList",
          "traits": {
            "smithy.api#documentation": "Resolved IP addresses from SPF"
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `modified_at` instead."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modification timestamp"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source name (typically same as domain)"
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL-friendly identifier"
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source UUID"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsBimiRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsBimiRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsBimiRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsBimiRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsBimiRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsCnameDkimRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsCnameDkimRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsCnameDkimRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsCnameDkimRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsCnameDkimRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsCnameDmarcRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsCnameDmarcRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsCnameDmarcRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsCnameDmarcRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsCnameDmarcRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsCnameSpfRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsCnameSpfRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsCnameSpfRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsCnameSpfRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsCnameSpfRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsDkimRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsDkimRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsDkimRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsDkimRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsDkimRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsDmarcRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsDmarcRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsDmarcRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsDmarcRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsDmarcRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsResolvedDmarcRecordsItem": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record value. The API joins all character-strings into a single string."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name the API queried."
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsResolvedDmarcRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsResolvedDmarcRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsSpfRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsSpfRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsSpfRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsSpfRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsSpfRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseRecords": {
      "type": "structure",
      "members": {
        "bimi_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsBimiRecordsList",
          "traits": {
            "smithy.api#documentation": "BIMI TXT records"
          }
        },
        "cname_dkim_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsCnameDkimRecordsList",
          "traits": {
            "smithy.api#documentation": "CNAME records for DKIM selectors. Each selector is resolved independently; when a selector's CNAME resolves to a DKIM TXT record, the API returns that record's content in the `resolved` field of the corresponding entry."
          }
        },
        "cname_dmarc_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsCnameDmarcRecordsList",
          "traits": {
            "smithy.api#documentation": "CNAME records at _dmarc. When such a CNAME resolves to a DMARC TXT record, the API returns that record's content in the `resolved` field of the corresponding entry."
          }
        },
        "cname_spf_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsCnameSpfRecordsList",
          "traits": {
            "smithy.api#documentation": "CNAME records at the zone apex. When such a CNAME resolves to an SPF TXT record, the API returns that record's content in the `resolved` field of the corresponding entry."
          }
        },
        "dkim_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsDkimRecordsList",
          "traits": {
            "smithy.api#documentation": "DKIM TXT records"
          }
        },
        "dmarc_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsDmarcRecordsList",
          "traits": {
            "smithy.api#documentation": "DMARC TXT records"
          }
        },
        "resolved_dmarc_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsResolvedDmarcRecordsList",
          "traits": {
            "smithy.api#documentation": "Use the `resolved` field on the corresponding entry in cname_dmarc_records instead."
          }
        },
        "spf_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecordsSpfRecordsList",
          "traits": {
            "smithy.api#documentation": "SPF TXT records"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseStatus": {
      "type": "enum",
      "members": {
        "MISSING_DMARC_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "missing-dmarc-report"
          }
        },
        "MULTIPLE_DMARC_REPORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiple-dmarc-reports"
          }
        },
        "MISSING_DMARC_RUA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "missing-dmarc-rua"
          }
        },
        "CNAME_ON_DMARC_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cname-on-dmarc-record"
          }
        },
        "UNAUTHORIZED_REPORTING_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthorized-reporting-domain"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItem": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `created_at` instead."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source domain"
          }
        },
        "ips": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemIpsList",
          "traits": {
            "smithy.api#documentation": "Resolved IP addresses from SPF"
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `modified_at` instead."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modification timestamp"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source name (typically same as domain)"
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL-friendly identifier"
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source UUID"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsBimiRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsBimiRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsBimiRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsBimiRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsBimiRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsCnameDkimRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsCnameDkimRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsCnameDkimRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsCnameDkimRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsCnameDkimRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsCnameDmarcRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsCnameDmarcRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsCnameDmarcRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsCnameDmarcRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsCnameDmarcRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsCnameSpfRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsCnameSpfRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsCnameSpfRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsCnameSpfRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsCnameSpfRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsDkimRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsDkimRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsDkimRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsDkimRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsDkimRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsDmarcRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsDmarcRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsDmarcRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsDmarcRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsDmarcRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsResolvedDmarcRecordsItem": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record value. The API joins all character-strings into a single string."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name the API queried."
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsResolvedDmarcRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsResolvedDmarcRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsSpfRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsSpfRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsSpfRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsSpfRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsSpfRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseRecords": {
      "type": "structure",
      "members": {
        "bimi_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsBimiRecordsList",
          "traits": {
            "smithy.api#documentation": "BIMI TXT records"
          }
        },
        "cname_dkim_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsCnameDkimRecordsList",
          "traits": {
            "smithy.api#documentation": "CNAME records for DKIM selectors. Each selector is resolved independently; when a selector's CNAME resolves to a DKIM TXT record, the API returns that record's content in the `resolved` field of the corresponding entry."
          }
        },
        "cname_dmarc_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsCnameDmarcRecordsList",
          "traits": {
            "smithy.api#documentation": "CNAME records at _dmarc. When such a CNAME resolves to a DMARC TXT record, the API returns that record's content in the `resolved` field of the corresponding entry."
          }
        },
        "cname_spf_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsCnameSpfRecordsList",
          "traits": {
            "smithy.api#documentation": "CNAME records at the zone apex. When such a CNAME resolves to an SPF TXT record, the API returns that record's content in the `resolved` field of the corresponding entry."
          }
        },
        "dkim_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsDkimRecordsList",
          "traits": {
            "smithy.api#documentation": "DKIM TXT records"
          }
        },
        "dmarc_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsDmarcRecordsList",
          "traits": {
            "smithy.api#documentation": "DMARC TXT records"
          }
        },
        "resolved_dmarc_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsResolvedDmarcRecordsList",
          "traits": {
            "smithy.api#documentation": "Use the `resolved` field on the corresponding entry in cname_dmarc_records instead."
          }
        },
        "spf_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecordsSpfRecordsList",
          "traits": {
            "smithy.api#documentation": "SPF TXT records"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseStatus": {
      "type": "enum",
      "members": {
        "MISSING_DMARC_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "missing-dmarc-report"
          }
        },
        "MULTIPLE_DMARC_REPORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiple-dmarc-reports"
          }
        },
        "MISSING_DMARC_RUA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "missing-dmarc-rua"
          }
        },
        "CNAME_ON_DMARC_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cname-on-dmarc-record"
          }
        },
        "UNAUTHORIZED_REPORTING_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthorized-reporting-domain"
          }
        }
      }
    },
    "com.cloudflare.email_auth#SpfInspectGetResponseComponentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.email_auth#SpfInspectGetResponseErrorsItem": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error code. Known values:",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain where the error occurred",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable error message",
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional error-specific details (optional)."
          }
        }
      }
    },
    "com.cloudflare.email_auth#SpfInspectGetResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#SpfInspectGetResponseErrorsItem"
      }
    },
    "com.cloudflare.email_auth#EmailAuth": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.email_auth#GetDmarcReport"
        },
        {
          "target": "com.cloudflare.email_auth#GetSpfInspect"
        },
        {
          "target": "com.cloudflare.email_auth#PatchDmarcReport"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare EmailAuth",
        "smithy.api#documentation": "Cloudflare API — email_auth resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    },
    "com.cloudflare.email_auth#GetDmarcReport": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_auth#GetDmarcReportRequest"
      },
      "output": {
        "target": "com.cloudflare.email_auth#GetDmarcReportResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/email/auth/dmarc-reports",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves the current DMARC report configuration and status for a zone. Returns the RUA prefix, enabled status, approved sources, and DNS records.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.email_auth#GetDmarcReportRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_auth#GetDmarcReportResponse": {
      "type": "structure",
      "members": {
        "approved_sources": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesList",
          "traits": {
            "smithy.api#documentation": "List of approved sending sources (omitted when empty)"
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `created_at` instead."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp"
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether DMARC reports are enabled"
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `modified_at` instead."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modification timestamp"
          }
        },
        "records": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseRecords",
          "traits": {
            "smithy.api#documentation": "Live DNS records for the zone, grouped by type"
          }
        },
        "rua_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix for DMARC RUA addresses (32-char hex string)"
          }
        },
        "skip_wizard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to skip the setup wizard"
          }
        },
        "status": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseStatus",
          "traits": {
            "smithy.api#documentation": "DMARC configuration status. The API omits this field when DMARC is correctly configured. If the zone lacks a DMARC TXT record of its own, the API resolves _dmarc.{zone} recursively and evaluates whatever that lookup returns. A CNAME at _dmarc.{zone} that points to a valid DMARC record is therefore healthy; the cname-on-dmarc-record value means the CNAME resolves to no DMARC record at all."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `zone_id` instead."
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone identifier"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_auth#GetSpfInspect": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_auth#GetSpfInspectRequest"
      },
      "output": {
        "target": "com.cloudflare.email_auth#GetSpfInspectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/email/auth/spf/inspect",
          "code": 200
        },
        "smithy.api#documentation": "Inspects a specific SPF TXT record and returns a parsed tree structure in the spflimit-worker format. The record ID must be provided via the `id` query parameter. Returns a recursive tree showing: - Parsed components with their qualifiers and types - Nested includes recursively resolved within components - Per-component and total lookup counts - Detailed error information with context",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.email_auth#GetSpfInspectRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID (rec_tag) to inspect",
            "smithy.api#httpQuery": "id",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_auth#GetSpfInspectResponse": {
      "type": "structure",
      "members": {
        "components": {
          "target": "com.cloudflare.email_auth#SpfInspectGetResponseComponentsList",
          "traits": {
            "smithy.api#documentation": "Parsed SPF components (mechanisms)",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain being inspected",
            "smithy.api#required": {}
          }
        },
        "record": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw SPF record content",
            "smithy.api#required": {}
          }
        },
        "total_lookups": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of DNS lookups performed across all includes",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.cloudflare.email_auth#SpfInspectGetResponseErrorsList",
          "traits": {
            "smithy.api#documentation": "All errors encountered during inspection, collected from the entire tree. This includes errors from nested includes at any depth, providing a quick overview of all issues without needing to traverse the nested structure. Each error includes a `domain` field to identify where it occurred. Empty array if no errors (omitted from JSON when empty)."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_auth#PatchDmarcReport": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_auth#PatchDmarcReportRequest"
      },
      "output": {
        "target": "com.cloudflare.email_auth#PatchDmarcReportResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/email/auth/dmarc-reports",
          "code": 200
        },
        "smithy.api#documentation": "Updates the DMARC report configuration for a zone. At least one of `enabled` or `skip_wizard` must be provided. When enabling, the handler will ensure the DMARC RUA record exists in DNS."
      }
    },
    "com.cloudflare.email_auth#PatchDmarcReportRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable or disable DMARC reports for this zone"
          }
        },
        "skip_wizard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Skip the DMARC setup wizard"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_auth#PatchDmarcReportResponse": {
      "type": "structure",
      "members": {
        "approved_sources": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesList",
          "traits": {
            "smithy.api#documentation": "List of approved sending sources (omitted when empty)"
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `created_at` instead."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp"
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether DMARC reports are enabled"
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `modified_at` instead."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modification timestamp"
          }
        },
        "records": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseRecords",
          "traits": {
            "smithy.api#documentation": "Live DNS records for the zone, grouped by type"
          }
        },
        "rua_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix for DMARC RUA addresses (32-char hex string)"
          }
        },
        "skip_wizard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to skip the setup wizard"
          }
        },
        "status": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseStatus",
          "traits": {
            "smithy.api#documentation": "DMARC configuration status. The API omits this field when DMARC is correctly configured. If the zone lacks a DMARC TXT record of its own, the API resolves _dmarc.{zone} recursively and evaluates whatever that lookup returns. A CNAME at _dmarc.{zone} that points to a valid DMARC record is therefore healthy; the cname-on-dmarc-record value means the CNAME resolves to no DMARC record at all."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `zone_id` instead."
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone identifier"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    }
  }
}
