{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "contentId": "content_id",
      "dkimSelector": "dkim_selector",
      "documentationUrl": "documentation_url",
      "messageId": "message_id",
      "mimeMessage": "mime_message",
      "permanentBounces": "permanent_bounces",
      "replyTo": "reply_to",
      "returnPathDomain": "return_path_domain"
    },
    "distilled.finalized": true
  },
  "shapes": {
    "com.cloudflare.email_sending#SendRequestFromEmailSendingEmailAddressObject": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address (e.g., '[user@example.com](mailto:user@example.com)').",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the email address (e.g., 'John Doe'). Optional; set to null or leave it unset to send the address on its own."
          }
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestFrom": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "EmailSendingEmailAddressObject": {
          "target": "com.cloudflare.email_sending#SendRequestFromEmailSendingEmailAddressObject"
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestAttachmentsItemInlineDisposition": {
      "type": "enum",
      "members": {
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inline"
          }
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestAttachmentsItemInline": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded content of the attachment.",
            "smithy.api#required": {}
          }
        },
        "content_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content ID used to reference this attachment in HTML via cid: URI (e.g., ![](cid:logo)).",
            "smithy.api#required": {}
          }
        },
        "disposition": {
          "target": "com.cloudflare.email_sending#SendRequestAttachmentsItemInlineDisposition",
          "traits": {
            "smithy.api#documentation": "Use 'inline' to embed the attachment in the email body.",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filename for the attachment.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MIME type of the attachment (e.g., 'image/png', 'text/plain').",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestAttachmentsItemAttachmentDisposition": {
      "type": "enum",
      "members": {
        "ATTACHMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attachment"
          }
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestAttachmentsItemAttachment": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded content of the attachment.",
            "smithy.api#required": {}
          }
        },
        "disposition": {
          "target": "com.cloudflare.email_sending#SendRequestAttachmentsItemAttachmentDisposition",
          "traits": {
            "smithy.api#documentation": "Use 'attachment' for a standard file attachment.",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filename for the attachment.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MIME type of the attachment (e.g., 'application/pdf', 'text/plain').",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestAttachmentsItem": {
      "type": "union",
      "members": {
        "Inline": {
          "target": "com.cloudflare.email_sending#SendRequestAttachmentsItemInline"
        },
        "Attachment": {
          "target": "com.cloudflare.email_sending#SendRequestAttachmentsItemAttachment"
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestAttachmentsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_sending#SendRequestAttachmentsItem"
      }
    },
    "com.cloudflare.email_sending#SendRequestBccEmailSendingEmailAddressObject": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address (e.g., '[user@example.com](mailto:user@example.com)').",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the email address (e.g., 'John Doe'). Optional; set to null or leave it unset to send the address on its own."
          }
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestBccCase2ItemEmailSendingEmailAddressObject": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address (e.g., '[user@example.com](mailto:user@example.com)').",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the email address (e.g., 'John Doe'). Optional; set to null or leave it unset to send the address on its own."
          }
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestBccCase2Item": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "EmailSendingEmailAddressObject": {
          "target": "com.cloudflare.email_sending#SendRequestBccCase2ItemEmailSendingEmailAddressObject"
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestBccCase2List": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_sending#SendRequestBccCase2Item"
      }
    },
    "com.cloudflare.email_sending#SendRequestBcc": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "EmailSendingEmailAddressObject": {
          "target": "com.cloudflare.email_sending#SendRequestBccEmailSendingEmailAddressObject"
        },
        "SendRequestBccCase2List": {
          "target": "com.cloudflare.email_sending#SendRequestBccCase2List"
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestCcEmailSendingEmailAddressObject": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address (e.g., '[user@example.com](mailto:user@example.com)').",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the email address (e.g., 'John Doe'). Optional; set to null or leave it unset to send the address on its own."
          }
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestCcCase2ItemEmailSendingEmailAddressObject": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address (e.g., '[user@example.com](mailto:user@example.com)').",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the email address (e.g., 'John Doe'). Optional; set to null or leave it unset to send the address on its own."
          }
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestCcCase2Item": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "EmailSendingEmailAddressObject": {
          "target": "com.cloudflare.email_sending#SendRequestCcCase2ItemEmailSendingEmailAddressObject"
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestCcCase2List": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_sending#SendRequestCcCase2Item"
      }
    },
    "com.cloudflare.email_sending#SendRequestCc": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "EmailSendingEmailAddressObject": {
          "target": "com.cloudflare.email_sending#SendRequestCcEmailSendingEmailAddressObject"
        },
        "SendRequestCcCase2List": {
          "target": "com.cloudflare.email_sending#SendRequestCcCase2List"
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_sending#SendRequestReplyToEmailSendingEmailAddressObject": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address (e.g., '[user@example.com](mailto:user@example.com)').",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the email address (e.g., 'John Doe'). Optional; set to null or leave it unset to send the address on its own."
          }
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestReplyTo": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "EmailSendingEmailAddressObject": {
          "target": "com.cloudflare.email_sending#SendRequestReplyToEmailSendingEmailAddressObject"
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestToEmailSendingEmailAddressObject": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address (e.g., '[user@example.com](mailto:user@example.com)').",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the email address (e.g., 'John Doe'). Optional; set to null or leave it unset to send the address on its own."
          }
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestToCase2ItemEmailSendingEmailAddressObject": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address (e.g., '[user@example.com](mailto:user@example.com)').",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the email address (e.g., 'John Doe'). Optional; set to null or leave it unset to send the address on its own."
          }
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestToCase2Item": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "EmailSendingEmailAddressObject": {
          "target": "com.cloudflare.email_sending#SendRequestToCase2ItemEmailSendingEmailAddressObject"
        }
      }
    },
    "com.cloudflare.email_sending#SendRequestToCase2List": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_sending#SendRequestToCase2Item"
      }
    },
    "com.cloudflare.email_sending#SendRequestTo": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "EmailSendingEmailAddressObject": {
          "target": "com.cloudflare.email_sending#SendRequestToEmailSendingEmailAddressObject"
        },
        "SendRequestToCase2List": {
          "target": "com.cloudflare.email_sending#SendRequestToCase2List"
        }
      }
    },
    "com.cloudflare.email_sending#SendResponseDeliveredList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_sending#SendResponsePermanentBouncesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_sending#SendResponseQueuedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_sending#SendResponseSuppressedRecipientsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_sending#SendRawRequestRecipientsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_sending#SendRawResponseDeliveredList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_sending#SendRawResponsePermanentBouncesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_sending#SendRawResponseQueuedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_sending#SendRawResponseSuppressedRecipientsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_sending#EditSubdomainRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "subdomain_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sending subdomain identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "drop_suppressed_recipients": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a send request that includes a recipient suppressed on this subdomain drops that recipient and still delivers to the rest, instead of failing the entire request."
          }
        },
        "preview_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether sent messages from this subdomain can be previewed in the activity log."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_sending#EditSubdomainResponse": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Email Sending is enabled on this subdomain.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The exact domain name or a leftmost wildcard such as `*.example.com`.",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sending subdomain identifier.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the destination address has been created."
          }
        },
        "dkim_selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The DKIM selector used for email signing. Wildcard rows publish the selector and sign with `d=&lt;base&gt;`."
          }
        },
        "drop_suppressed_recipients": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a send request that includes a recipient suppressed on this subdomain drops that recipient and still delivers to the rest, instead of failing the entire request."
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the destination address was last modified."
          }
        },
        "preview_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether sent messages from this subdomain can be previewed in the activity log."
          }
        },
        "return_path_domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The return-path domain used for bounce handling. Wildcard rows use `cf-bounce.&lt;base&gt;`."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_sending#EditSubdomain": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_sending#EditSubdomainRequest"
      },
      "output": {
        "target": "com.cloudflare.email_sending#EditSubdomainResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/email/sending/subdomains/{subdomain_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates the activity-log preview preference for a sending subdomain."
      }
    },
    "com.cloudflare.email_sending#SubdomainsListResultItem": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Email Sending is enabled on this subdomain.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The exact domain name or a leftmost wildcard such as `*.example.com`.",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sending subdomain identifier.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the destination address has been created."
          }
        },
        "dkim_selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The DKIM selector used for email signing. Wildcard rows publish the selector and sign with `d=&lt;base&gt;`."
          }
        },
        "drop_suppressed_recipients": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a send request that includes a recipient suppressed on this subdomain drops that recipient and still delivers to the rest, instead of failing the entire request."
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the destination address was last modified."
          }
        },
        "preview_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether sent messages from this subdomain can be previewed in the activity log."
          }
        },
        "return_path_domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The return-path domain used for bounce handling. Wildcard rows use `cf-bounce.&lt;base&gt;`."
          }
        }
      }
    },
    "com.cloudflare.email_sending#SubdomainsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_sending#SubdomainsListResultItem"
      }
    },
    "com.cloudflare.email_sending#SubdomainsDnsGetResultItemType": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        },
        "SRV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SRV"
          }
        },
        "LOC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOC"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NS"
          }
        },
        "CERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT"
          }
        },
        "DNSKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNSKEY"
          }
        },
        "DS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DS"
          }
        },
        "NAPTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAPTR"
          }
        },
        "SMIMEA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMIMEA"
          }
        },
        "SSHFP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSHFP"
          }
        },
        "SVCB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SVCB"
          }
        },
        "TLSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TLSA"
          }
        },
        "URI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URI"
          }
        }
      }
    },
    "com.cloudflare.email_sending#SubdomainsDnsGetResultItem": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record content."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name (or @ for the zone apex)."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required for MX, SRV and URI records. Unused by other record types. Records with lower priorities are preferred."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live, in seconds, of the DNS record. Must be between 60 and 86400, or 1 for 'automatic'."
          }
        },
        "type": {
          "target": "com.cloudflare.email_sending#SubdomainsDnsGetResultItemType",
          "traits": {
            "smithy.api#documentation": "DNS record type."
          }
        }
      }
    },
    "com.cloudflare.email_sending#SubdomainsDnsGetResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_sending#SubdomainsDnsGetResultItem"
      }
    },
    "com.cloudflare.email_sending#CreateSuppressionRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address to suppress.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expiration timestamp for the suppression. Omit or set to null for a permanent suppression that never expires."
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Advisory note for this suppression. Not enforced or validated beyond length."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_sending#CreateSuppressionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suppression's identifier.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_sending#CreateSuppression": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_sending#CreateSuppressionRequest"
      },
      "output": {
        "target": "com.cloudflare.email_sending#CreateSuppressionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/email/sending/suppressions",
          "code": 200
        },
        "smithy.api#documentation": "Creates an account-wide suppression. If a mutable legacy zone-linked row already exists, it is promoted without changing its identifier."
      }
    },
    "com.cloudflare.email_sending#DeleteSuppressionRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "suppression_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suppression's identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_sending#DeleteSuppressionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suppression's identifier.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_sending#DeleteSuppression": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_sending#DeleteSuppressionRequest"
      },
      "output": {
        "target": "com.cloudflare.email_sending#DeleteSuppressionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/email/sending/suppressions/{suppression_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes the suppression, its note, and every legacy internal zone membership, allowing future delivery attempts to the address.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.email_sending#EditSuppressionRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "suppression_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suppression's identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New expiry. Send `null` to make the suppression permanent; omit to leave it unchanged."
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Replacement advisory note. Send an empty string to clear it; omit to leave it unchanged."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_sending#EditSuppressionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this suppression.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the suppression was created.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suppressed email address.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the suppression expires. Null for a permanent suppression.",
            "smithy.api#required": {}
          }
        },
        "read_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether clients may mutate this suppression. This is determined by the server and must not be inferred from `reason`.",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the address is suppressed: `manual`, `complaint`, `hard_bounce`, `soft_bounce`, or `policy`.",
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Advisory note for this suppression, if any."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_sending#EditSuppression": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_sending#EditSuppressionRequest"
      },
      "output": {
        "target": "com.cloudflare.email_sending#EditSuppressionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/email/sending/suppressions/{suppression_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates expiry or advisory note fields without changing legacy internal zone memberships."
      }
    },
    "com.cloudflare.email_sending#GetSuppressionRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "suppression_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suppression's identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_sending#GetSuppressionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this suppression.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the suppression was created.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suppressed email address.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the suppression expires. Null for a permanent suppression.",
            "smithy.api#required": {}
          }
        },
        "read_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether clients may mutate this suppression. This is determined by the server and must not be inferred from `reason`.",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the address is suppressed: `manual`, `complaint`, `hard_bounce`, `soft_bounce`, or `policy`.",
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Advisory note for this suppression, if any."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_sending#GetSuppression": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_sending#GetSuppressionRequest"
      },
      "output": {
        "target": "com.cloudflare.email_sending#GetSuppressionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/email/sending/suppressions/{suppression_id}",
          "code": 200
        },
        "smithy.api#documentation": "Gets an Email Sending suppression owned by the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.email_sending#ImportSuppressionRequestItemsItem": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address to suppress.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expiration timestamp for the suppression. Omit or set to null for a permanent suppression that never expires."
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Advisory note for this suppression. Not enforced or validated beyond length."
          }
        }
      }
    },
    "com.cloudflare.email_sending#ImportSuppressionRequestItemsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_sending#ImportSuppressionRequestItemsItem"
      }
    },
    "com.cloudflare.email_sending#ImportSuppressionRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "items": {
          "target": "com.cloudflare.email_sending#ImportSuppressionRequestItemsList",
          "traits": {
            "smithy.api#documentation": "Suppressions to import. Items with a duplicate email address are deduplicated before processing.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_sending#ImportSuppressionResponseItemsItemStatus": {
      "type": "enum",
      "members": {
        "PROCESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processed"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        }
      }
    },
    "com.cloudflare.email_sending#ImportSuppressionResponseItemsItem": {
      "type": "structure",
      "members": {
        "index": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Zero-based index of this item in the request body.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.email_sending#ImportSuppressionResponseItemsItemStatus",
          "traits": {
            "smithy.api#documentation": "Outcome for this item.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The created or promoted suppression's identifier. Present when `status` is `processed`."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The submitted email address for this item."
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable error message. Present when `status` is `invalid`, `error`, or `skipped`."
          }
        }
      }
    },
    "com.cloudflare.email_sending#ImportSuppressionResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_sending#ImportSuppressionResponseItemsItem"
      }
    },
    "com.cloudflare.email_sending#ImportSuppressionResponse": {
      "type": "structure",
      "members": {
        "deduplicated": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of items dropped because their email address repeated an earlier item in this request. Counted once and excluded from `items`.",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of items that failed to import due to an unexpected error.",
            "smithy.api#required": {}
          }
        },
        "invalid": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of items with an invalid email address.",
            "smithy.api#required": {}
          }
        },
        "items": {
          "target": "com.cloudflare.email_sending#ImportSuppressionResponseItemsList",
          "traits": {
            "smithy.api#documentation": "Per-item results, in the same order as the request body.",
            "smithy.api#required": {}
          }
        },
        "processed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of items successfully created or promoted.",
            "smithy.api#required": {}
          }
        },
        "skipped": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of items skipped because the existing suppression is not customer-managed (for example, a read-only policy suppression).",
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of items in the request body, including duplicates.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_sending#ImportSuppression": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_sending#ImportSuppressionRequest"
      },
      "output": {
        "target": "com.cloudflare.email_sending#ImportSuppressionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/email/sending/suppressions/bulk",
          "code": 200
        },
        "smithy.api#documentation": "Imports up to 1,000 account-level Email Sending suppressions in one request."
      }
    },
    "com.cloudflare.email_sending#ListSuppressionsRequestReason": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "COMPLAINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "complaint"
          }
        },
        "HARD_BOUNCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hard_bounce"
          }
        },
        "SOFT_BOUNCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "soft_bounce"
          }
        },
        "POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "policy"
          }
        }
      }
    },
    "com.cloudflare.email_sending#ListSuppressionsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque pagination cursor returned as `result_info.next_cursor`. It carries the filters that produced it.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exact email-address filter.",
            "smithy.api#httpQuery": "email"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of suppressions to return per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "reason": {
          "target": "com.cloudflare.email_sending#ListSuppressionsRequestReason",
          "traits": {
            "smithy.api#documentation": "Filter to suppressions with this reason.",
            "smithy.api#httpQuery": "reason"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A complete address is an exact match; a value ending in `@` matches that username across every domain. Prefix searches may return short intermediate pages while the bounded account scan advances.",
            "smithy.api#httpQuery": "search"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_sending#ListSuppressionsResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this suppression.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the suppression was created.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suppressed email address.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the suppression expires. Null for a permanent suppression.",
            "smithy.api#required": {}
          }
        },
        "read_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether clients may mutate this suppression. This is determined by the server and must not be inferred from `reason`.",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the address is suppressed: `manual`, `complaint`, `hard_bounce`, `soft_bounce`, or `policy`.",
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Advisory note for this suppression, if any."
          }
        }
      }
    },
    "com.cloudflare.email_sending#ListSuppressionsResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_sending#ListSuppressionsResultItem"
      }
    },
    "com.cloudflare.email_sending#ListSuppressionsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.email_sending#ListSuppressionsResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.email_sending#ListSuppressions": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_sending#ListSuppressionsRequest"
      },
      "output": {
        "target": "com.cloudflare.email_sending#ListSuppressionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/email/sending/suppressions",
          "code": 200
        },
        "smithy.api#documentation": "Lists every active Email Sending suppression owned by the account, including legacy rows with internal zone memberships.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.email_sending#EmailSending": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.email_sending#EditSubdomain"
        },
        {
          "target": "com.cloudflare.email_sending#CreateSuppression"
        },
        {
          "target": "com.cloudflare.email_sending#DeleteSuppression"
        },
        {
          "target": "com.cloudflare.email_sending#EditSuppression"
        },
        {
          "target": "com.cloudflare.email_sending#GetSuppression"
        },
        {
          "target": "com.cloudflare.email_sending#ImportSuppression"
        },
        {
          "target": "com.cloudflare.email_sending#ListSuppressions"
        },
        {
          "target": "com.cloudflare.email_sending#CreateSubdomain"
        },
        {
          "target": "com.cloudflare.email_sending#DeleteSubdomain"
        },
        {
          "target": "com.cloudflare.email_sending#GetSubdomain"
        },
        {
          "target": "com.cloudflare.email_sending#GetSubdomainDns"
        },
        {
          "target": "com.cloudflare.email_sending#ListSubdomains"
        },
        {
          "target": "com.cloudflare.email_sending#SendEmailSending"
        },
        {
          "target": "com.cloudflare.email_sending#SendRawEmailSending"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare EmailSending",
        "smithy.api#documentation": "Cloudflare API — email_sending resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    },
    "com.cloudflare.email_sending#Forbidden": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.cloudflare.email_sending#SendingSubdomainAlreadyExists": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 2040
          }
        ]
      }
    },
    "com.cloudflare.email_sending#SendingSubdomainNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 2033
          }
        ]
      }
    },
    "com.cloudflare.email_sending#CreateSubdomain": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_sending#CreateSubdomainRequest"
      },
      "output": {
        "target": "com.cloudflare.email_sending#CreateSubdomainResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/email/sending/subdomains",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new sending subdomain or re-enables sending on an existing subdomain that had it disabled. If zone-level Email Sending has not been enabled yet, the zone flag is automatically set when the entitlement is present. A leftmost wildcard such as `*.example.com` is accepted only for accounts with wildcard Email Sending enabled. Wildcard senders share the base domain's DKIM signing identity and `cf-bounce.<base>` return path."
      },
      "errors": [
        {
          "target": "com.cloudflare.email_sending#Forbidden"
        },
        {
          "target": "com.cloudflare.email_sending#SendingSubdomainAlreadyExists"
        }
      ]
    },
    "com.cloudflare.email_sending#CreateSubdomainRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name within the zone. A wildcard is allowed only as the complete leftmost label (`*.example.com`) and requires the account wildcard Email Sending entitlement.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_sending#CreateSubdomainResponse": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Email Sending is enabled on this subdomain.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The exact domain name or a leftmost wildcard such as `*.example.com`.",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sending subdomain identifier.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the destination address has been created."
          }
        },
        "dkim_selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The DKIM selector used for email signing. Wildcard rows publish the selector and sign with `d=&lt;base&gt;`."
          }
        },
        "drop_suppressed_recipients": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a send request that includes a recipient suppressed on this subdomain drops that recipient and still delivers to the rest, instead of failing the entire request."
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the destination address was last modified."
          }
        },
        "preview_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether sent messages from this subdomain can be previewed in the activity log."
          }
        },
        "return_path_domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The return-path domain used for bounce handling. Wildcard rows use `cf-bounce.&lt;base&gt;`."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_sending#DeleteSubdomain": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_sending#DeleteSubdomainRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/email/sending/subdomains/{subdomain_id}",
          "code": 200
        },
        "smithy.api#documentation": "Disables sending on a subdomain and removes its DNS records. If routing is still active on the subdomain, only sending is disabled.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.email_sending#Forbidden"
        },
        {
          "target": "com.cloudflare.email_sending#SendingSubdomainNotFound"
        }
      ]
    },
    "com.cloudflare.email_sending#DeleteSubdomainRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "subdomain_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sending subdomain identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_sending#GetSubdomain": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_sending#GetSubdomainRequest"
      },
      "output": {
        "target": "com.cloudflare.email_sending#GetSubdomainResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/email/sending/subdomains/{subdomain_id}",
          "code": 200
        },
        "smithy.api#documentation": "Gets information for a specific sending subdomain.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.email_sending#Forbidden"
        },
        {
          "target": "com.cloudflare.email_sending#SendingSubdomainNotFound"
        }
      ]
    },
    "com.cloudflare.email_sending#GetSubdomainRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "subdomain_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sending subdomain identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_sending#GetSubdomainResponse": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Email Sending is enabled on this subdomain.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The exact domain name or a leftmost wildcard such as `*.example.com`.",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sending subdomain identifier.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the destination address has been created."
          }
        },
        "dkim_selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The DKIM selector used for email signing. Wildcard rows publish the selector and sign with `d=&lt;base&gt;`."
          }
        },
        "drop_suppressed_recipients": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a send request that includes a recipient suppressed on this subdomain drops that recipient and still delivers to the rest, instead of failing the entire request."
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the destination address was last modified."
          }
        },
        "preview_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether sent messages from this subdomain can be previewed in the activity log."
          }
        },
        "return_path_domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The return-path domain used for bounce handling. Wildcard rows use `cf-bounce.&lt;base&gt;`."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_sending#GetSubdomainDns": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_sending#GetSubdomainDnsRequest"
      },
      "output": {
        "target": "com.cloudflare.email_sending#GetSubdomainDnsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/email/sending/subdomains/{subdomain_id}/dns",
          "code": 200
        },
        "smithy.api#documentation": "Returns the expected DNS records for a sending subdomain.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "single",
          "items": "result"
        }
      }
    },
    "com.cloudflare.email_sending#GetSubdomainDnsRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "subdomain_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sending subdomain identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_sending#GetSubdomainDnsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.email_sending#SubdomainsDnsGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.email_sending#ListSubdomains": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_sending#ListSubdomainsRequest"
      },
      "output": {
        "target": "com.cloudflare.email_sending#ListSubdomainsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/email/sending/subdomains",
          "code": 200
        },
        "smithy.api#documentation": "Lists all sending-enabled subdomains for the zone.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "single",
          "items": "result"
        }
      },
      "errors": [
        {
          "target": "com.cloudflare.email_sending#Forbidden"
        }
      ]
    },
    "com.cloudflare.email_sending#ListSubdomainsRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_sending#ListSubdomainsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.email_sending#SubdomainsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.email_sending#SendEmailSending": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_sending#SendEmailSendingRequest"
      },
      "output": {
        "target": "com.cloudflare.email_sending#SendEmailSendingResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/email/sending/send",
          "code": 200
        },
        "smithy.api#documentation": "Send an email for the specified account using the structured builder. Provide the sender, recipients, subject, and at least one of text or html; attachments are optional."
      }
    },
    "com.cloudflare.email_sending#SendEmailSendingRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "from": {
          "target": "com.cloudflare.email_sending#SendRequestFrom",
          "traits": {
            "smithy.api#documentation": "Sender email address. Either a plain string or an object with address and name.",
            "smithy.api#required": {}
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email subject line.",
            "smithy.api#required": {}
          }
        },
        "attachments": {
          "target": "com.cloudflare.email_sending#SendRequestAttachmentsList",
          "traits": {
            "smithy.api#documentation": "File attachments and inline images."
          }
        },
        "bcc": {
          "target": "com.cloudflare.email_sending#SendRequestBcc",
          "traits": {
            "smithy.api#documentation": "Blind carbon copy recipient(s). Optional. A single email string, a named address object, or an array of either."
          }
        },
        "cc": {
          "target": "com.cloudflare.email_sending#SendRequestCc",
          "traits": {
            "smithy.api#documentation": "Carbon copy recipient(s). Optional. A single email string, a named address object, or an array of either."
          }
        },
        "headers": {
          "target": "com.cloudflare.email_sending#SendRequestHeadersMap",
          "traits": {
            "smithy.api#documentation": "Custom email headers as key-value pairs."
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTML body of the email. Provide at least one of text or html (non-empty)."
          }
        },
        "reply_to": {
          "target": "com.cloudflare.email_sending#SendRequestReplyTo",
          "traits": {
            "smithy.api#documentation": "Reply-to address. Either a plain string or an object with address and name."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text body of the email. Provide at least one of text or html (non-empty)."
          }
        },
        "to": {
          "target": "com.cloudflare.email_sending#SendRequestTo",
          "traits": {
            "smithy.api#documentation": "Recipient(s). Optional if cc or bcc is provided. A single email string, a named address object, or an array of either."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_sending#SendEmailSendingResponse": {
      "type": "structure",
      "members": {
        "delivered": {
          "target": "com.cloudflare.email_sending#SendResponseDeliveredList",
          "traits": {
            "smithy.api#documentation": "Email addresses to which the message was delivered immediately.",
            "smithy.api#required": {}
          }
        },
        "message_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message ID of the sent email.",
            "smithy.api#required": {}
          }
        },
        "permanent_bounces": {
          "target": "com.cloudflare.email_sending#SendResponsePermanentBouncesList",
          "traits": {
            "smithy.api#documentation": "Email addresses that permanently bounced.",
            "smithy.api#required": {}
          }
        },
        "queued": {
          "target": "com.cloudflare.email_sending#SendResponseQueuedList",
          "traits": {
            "smithy.api#documentation": "Email addresses for which delivery was queued for later.",
            "smithy.api#required": {}
          }
        },
        "suppressed_recipients": {
          "target": "com.cloudflare.email_sending#SendResponseSuppressedRecipientsList",
          "traits": {
            "smithy.api#documentation": "Email addresses dropped because they are on the suppression list. Returned when suppressed-recipient dropping is enabled for the sending subdomain; otherwise the request fails instead.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_sending#SendRawEmailSending": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_sending#SendRawEmailSendingRequest"
      },
      "output": {
        "target": "com.cloudflare.email_sending#SendRawEmailSendingResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/email/sending/send_raw",
          "code": 200
        },
        "smithy.api#documentation": "Send a raw RFC 5322 (MIME) email for the specified account. Provide the full MIME message plus the SMTP envelope (from and recipients)."
      }
    },
    "com.cloudflare.email_sending#SendRawEmailSendingRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sender email address.",
            "smithy.api#required": {}
          }
        },
        "mime_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full MIME-encoded email message. Should include standard RFC 5322 headers such as From, To, Subject, and Content-Type. The from and recipients fields in the request body control SMTP envelope routing; the From and To headers in the MIME message control what the recipient's email client displays.",
            "smithy.api#required": {}
          }
        },
        "recipients": {
          "target": "com.cloudflare.email_sending#SendRawRequestRecipientsList",
          "traits": {
            "smithy.api#documentation": "List of recipient email addresses.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_sending#SendRawEmailSendingResponse": {
      "type": "structure",
      "members": {
        "delivered": {
          "target": "com.cloudflare.email_sending#SendRawResponseDeliveredList",
          "traits": {
            "smithy.api#documentation": "Email addresses to which the message was delivered immediately.",
            "smithy.api#required": {}
          }
        },
        "message_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message ID of the sent email.",
            "smithy.api#required": {}
          }
        },
        "permanent_bounces": {
          "target": "com.cloudflare.email_sending#SendRawResponsePermanentBouncesList",
          "traits": {
            "smithy.api#documentation": "Email addresses that permanently bounced.",
            "smithy.api#required": {}
          }
        },
        "queued": {
          "target": "com.cloudflare.email_sending#SendRawResponseQueuedList",
          "traits": {
            "smithy.api#documentation": "Email addresses for which delivery was queued for later.",
            "smithy.api#required": {}
          }
        },
        "suppressed_recipients": {
          "target": "com.cloudflare.email_sending#SendRawResponseSuppressedRecipientsList",
          "traits": {
            "smithy.api#documentation": "Email addresses dropped because they are on the suppression list. Returned when suppressed-recipient dropping is enabled for the sending subdomain; otherwise the request fails instead.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    }
  }
}
