{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "accessClientId": "access_client_id",
      "accessClientSecret": "access_client_secret",
      "caCertificateId": "ca_certificate_id",
      "createdOn": "created_on",
      "maxAge": "max_age",
      "modifiedOn": "modified_on",
      "mtlsCertificateId": "mtls_certificate_id",
      "originConnectionLimit": "origin_connection_limit",
      "serviceId": "service_id",
      "staleWhileRevalidate": "stale_while_revalidate"
    },
    "distilled.finalized": true
  },
  "shapes": {
    "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginHyperdriveHyperdriveConfigCreateWithOriginPublicDatabaseScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginHyperdriveHyperdriveConfigCreateWithOriginPublicDatabase": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the publicly reachable hostname or IP of your origin database. Private, loopback, and link-local IP addresses are not allowed.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the port of your origin database. Defaults to 5432 for PostgreSQL or 3306 for MySQL if not specified.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginHyperdriveHyperdriveConfigCreateWithOriginPublicDatabaseScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginHyperdriveHyperdriveConfigCreateWithOriginAccessProtectedDatabaseBehindCloudflareTunnelScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginHyperdriveHyperdriveConfigCreateWithOriginAccessProtectedDatabaseBehindCloudflareTunnel": {
      "type": "structure",
      "members": {
        "access_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client ID of the Access token to use when connecting to the origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client Secret of the Access Token to use when connecting to the origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginHyperdriveHyperdriveConfigCreateWithOriginAccessProtectedDatabaseBehindCloudflareTunnelScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginHyperdriveHyperdriveConfigCreateWithOriginDatabaseReachableThroughAWorkersVPCScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginHyperdriveHyperdriveConfigCreateWithOriginDatabaseReachableThroughAWorkersVPC": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginHyperdriveHyperdriveConfigCreateWithOriginDatabaseReachableThroughAWorkersVPCScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Workers VPC Service to connect through. Hyperdrive will egress through the specified VPC Service to reach the origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginHyperdriveHyperdriveConfigCreateWithOrigin": {
      "type": "union",
      "members": {
        "PublicDatabase": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginHyperdriveHyperdriveConfigCreateWithOriginPublicDatabase"
        },
        "AccessProtectedDatabaseBehindCloudflareTunnel": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginHyperdriveHyperdriveConfigCreateWithOriginAccessProtectedDatabaseBehindCloudflareTunnel"
        },
        "DatabaseReachableThroughAWorkersVPC": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginHyperdriveHyperdriveConfigCreateWithOriginDatabaseReachableThroughAWorkersVPC"
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestCachingHyperdriveHyperdriveCachingCreateDisabled": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "max_age": {
          "target": "smithy.api#Double"
        },
        "stale_while_revalidate": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestCachingHyperdriveHyperdriveCachingCreateEnabled": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean"
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the maximum duration (in seconds) items should persist in the cache. Defaults to 60 seconds if not specified."
          }
        },
        "stale_while_revalidate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the number of seconds the cache may serve a stale response. Defaults to 15 seconds if not specified."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestCaching": {
      "type": "union",
      "members": {
        "HyperdriveHyperdriveCachingCreateDisabled": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestCachingHyperdriveHyperdriveCachingCreateDisabled"
        },
        "HyperdriveHyperdriveCachingCreateEnabled": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestCachingHyperdriveHyperdriveCachingCreateEnabled"
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestIntegrationHyperdriveHyperdriveConfigCreateWithIntegrationProvider": {
      "type": "enum",
      "members": {
        "PLANETSCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "planetscale"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestIntegrationHyperdriveHyperdriveConfigCreateWithIntegrationScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestIntegrationHyperdriveHyperdriveConfigCreateWithIntegration": {
      "type": "structure",
      "members": {
        "database_branch_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PlanetScale database branch.",
            "smithy.api#required": {}
          }
        },
        "database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PlanetScale database.",
            "smithy.api#required": {}
          }
        },
        "organization_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PlanetScale organization.",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestIntegrationHyperdriveHyperdriveConfigCreateWithIntegrationProvider",
          "traits": {
            "smithy.api#documentation": "The database integration provider used by this operation.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestIntegrationHyperdriveHyperdriveConfigCreateWithIntegrationScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "custom_database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The database name to use when connecting. Defaults to `postgres` for PostgreSQL and `mysql` for MySQL."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PostgreSQL accepts `require`, `verify-ca`, and `verify-full`. MySQL accepts `REQUIRED`, `VERIFY_CA`, and `VERIFY_IDENTITY`. The verify modes require a CA certificate; the require modes cannot be used with a CA certificate."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseCaching": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defines whether caching is disabled.",
            "smithy.api#required": {}
          }
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the maximum duration (in seconds) items persist in the cache."
          }
        },
        "stale_while_revalidate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the number of seconds the cache may serve a stale response."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginPublicDatabaseScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginPublicDatabase": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the publicly reachable hostname or IP of your origin database. Private, loopback, and link-local IP addresses are not allowed.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the port of your origin database. Defaults to 5432 for PostgreSQL or 3306 for MySQL if not specified.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginPublicDatabaseScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginAccessProtectedDatabaseBehindCloudflareTunnelScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginAccessProtectedDatabaseBehindCloudflareTunnel": {
      "type": "structure",
      "members": {
        "access_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client ID of the Access token to use when connecting to the origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client Secret of the Access Token to use when connecting to the origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginAccessProtectedDatabaseBehindCloudflareTunnelScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginDatabaseReachableThroughAWorkersVPCScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginDatabaseReachableThroughAWorkersVPC": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginDatabaseReachableThroughAWorkersVPCScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Workers VPC Service to connect through. Hyperdrive will egress through the specified VPC Service to reach the origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseOrigin": {
      "type": "union",
      "members": {
        "PublicDatabase": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginPublicDatabase"
        },
        "AccessProtectedDatabaseBehindCloudflareTunnel": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginAccessProtectedDatabaseBehindCloudflareTunnel"
        },
        "DatabaseReachableThroughAWorkersVPC": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginDatabaseReachableThroughAWorkersVPC"
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseIntegrationProvider": {
      "type": "enum",
      "members": {
        "PLANETSCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "planetscale"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseIntegrationScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseIntegration": {
      "type": "structure",
      "members": {
        "database_branch_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PlanetScale database branch.",
            "smithy.api#required": {}
          }
        },
        "database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PlanetScale database.",
            "smithy.api#required": {}
          }
        },
        "organization_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PlanetScale organization.",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateResponseIntegrationProvider",
          "traits": {
            "smithy.api#documentation": "The database integration provider used by this operation.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateResponseIntegrationScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "custom_database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The database name to use when connecting. Defaults to `postgres` for PostgreSQL and `mysql` for MySQL."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PostgreSQL accepts `require`, `verify-ca`, and `verify-full`. MySQL accepts `REQUIRED`, `VERIFY_CA`, and `VERIFY_IDENTITY`. The verify modes require a CA certificate; the require modes cannot be used with a CA certificate."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditRequestCachingHyperdriveHyperdriveCachingCommon": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditRequestCachingHyperdriveHyperdriveCachingEnabled": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false."
          }
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the maximum duration (in seconds) items should persist in the cache. Defaults to 60 seconds if not specified."
          }
        },
        "stale_while_revalidate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the number of seconds the cache may serve a stale response. Defaults to 15 seconds if not specified."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditRequestCaching": {
      "type": "union",
      "members": {
        "HyperdriveHyperdriveCachingCommon": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditRequestCachingHyperdriveHyperdriveCachingCommon"
        },
        "HyperdriveHyperdriveCachingEnabled": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditRequestCachingHyperdriveHyperdriveCachingEnabled"
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditRequestMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PostgreSQL accepts `require`, `verify-ca`, and `verify-full`. MySQL accepts `REQUIRED`, `VERIFY_CA`, and `VERIFY_IDENTITY`. The verify modes require a CA certificate; the require modes cannot be used with a CA certificate."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditRequestOriginHyperdriveHyperdriveDatabaseScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditRequestOriginHyperdriveHyperdriveDatabase": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value."
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditRequestOriginHyperdriveHyperdriveDatabaseScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database."
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditRequestOriginHyperdriveInternetOrigin": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the publicly reachable hostname or IP of your origin database. Private, loopback, and link-local IP addresses are not allowed.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the port of your origin database. Defaults to 5432 for PostgreSQL or 3306 for MySQL if not specified.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditRequestOriginHyperdriveOverAccessOrigin": {
      "type": "structure",
      "members": {
        "access_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client ID of the Access token to use when connecting to the origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client Secret of the Access Token to use when connecting to the origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditRequestOriginHyperdriveVPCServiceOrigin": {
      "type": "structure",
      "members": {
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Workers VPC Service to connect through. Hyperdrive will egress through the specified VPC Service to reach the origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditRequestOrigin": {
      "type": "union",
      "members": {
        "HyperdriveHyperdriveDatabase": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditRequestOriginHyperdriveHyperdriveDatabase"
        },
        "HyperdriveInternetOrigin": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditRequestOriginHyperdriveInternetOrigin"
        },
        "HyperdriveOverAccessOrigin": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditRequestOriginHyperdriveOverAccessOrigin"
        },
        "HyperdriveVPCServiceOrigin": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditRequestOriginHyperdriveVPCServiceOrigin"
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseCaching": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defines whether caching is disabled.",
            "smithy.api#required": {}
          }
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the maximum duration (in seconds) items persist in the cache."
          }
        },
        "stale_while_revalidate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the number of seconds the cache may serve a stale response."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseOriginPublicDatabaseScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseOriginPublicDatabase": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the publicly reachable hostname or IP of your origin database. Private, loopback, and link-local IP addresses are not allowed.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the port of your origin database. Defaults to 5432 for PostgreSQL or 3306 for MySQL if not specified.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditResponseOriginPublicDatabaseScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseOriginAccessProtectedDatabaseBehindCloudflareTunnelScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseOriginAccessProtectedDatabaseBehindCloudflareTunnel": {
      "type": "structure",
      "members": {
        "access_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client ID of the Access token to use when connecting to the origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client Secret of the Access Token to use when connecting to the origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditResponseOriginAccessProtectedDatabaseBehindCloudflareTunnelScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseOriginDatabaseReachableThroughAWorkersVPCScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseOriginDatabaseReachableThroughAWorkersVPC": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditResponseOriginDatabaseReachableThroughAWorkersVPCScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Workers VPC Service to connect through. Hyperdrive will egress through the specified VPC Service to reach the origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseOrigin": {
      "type": "union",
      "members": {
        "PublicDatabase": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditResponseOriginPublicDatabase"
        },
        "AccessProtectedDatabaseBehindCloudflareTunnel": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditResponseOriginAccessProtectedDatabaseBehindCloudflareTunnel"
        },
        "DatabaseReachableThroughAWorkersVPC": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditResponseOriginDatabaseReachableThroughAWorkersVPC"
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseIntegrationProvider": {
      "type": "enum",
      "members": {
        "PLANETSCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "planetscale"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseIntegrationScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseIntegration": {
      "type": "structure",
      "members": {
        "database_branch_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PlanetScale database branch.",
            "smithy.api#required": {}
          }
        },
        "database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PlanetScale database.",
            "smithy.api#required": {}
          }
        },
        "organization_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PlanetScale organization.",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditResponseIntegrationProvider",
          "traits": {
            "smithy.api#documentation": "The database integration provider used by this operation.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditResponseIntegrationScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "custom_database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The database name to use when connecting. Defaults to `postgres` for PostgreSQL and `mysql` for MySQL."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PostgreSQL accepts `require`, `verify-ca`, and `verify-full`. MySQL accepts `REQUIRED`, `VERIFY_CA`, and `VERIFY_IDENTITY`. The verify modes require a CA certificate; the require modes cannot be used with a CA certificate."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseCaching": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defines whether caching is disabled.",
            "smithy.api#required": {}
          }
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the maximum duration (in seconds) items persist in the cache."
          }
        },
        "stale_while_revalidate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the number of seconds the cache may serve a stale response."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseOriginPublicDatabaseScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseOriginPublicDatabase": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the publicly reachable hostname or IP of your origin database. Private, loopback, and link-local IP addresses are not allowed.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the port of your origin database. Defaults to 5432 for PostgreSQL or 3306 for MySQL if not specified.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsGetResponseOriginPublicDatabaseScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseOriginAccessProtectedDatabaseBehindCloudflareTunnelScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseOriginAccessProtectedDatabaseBehindCloudflareTunnel": {
      "type": "structure",
      "members": {
        "access_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client ID of the Access token to use when connecting to the origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client Secret of the Access Token to use when connecting to the origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsGetResponseOriginAccessProtectedDatabaseBehindCloudflareTunnelScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseOriginDatabaseReachableThroughAWorkersVPCScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseOriginDatabaseReachableThroughAWorkersVPC": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsGetResponseOriginDatabaseReachableThroughAWorkersVPCScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Workers VPC Service to connect through. Hyperdrive will egress through the specified VPC Service to reach the origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseOrigin": {
      "type": "union",
      "members": {
        "PublicDatabase": {
          "target": "com.cloudflare.hyperdrive#ConfigsGetResponseOriginPublicDatabase"
        },
        "AccessProtectedDatabaseBehindCloudflareTunnel": {
          "target": "com.cloudflare.hyperdrive#ConfigsGetResponseOriginAccessProtectedDatabaseBehindCloudflareTunnel"
        },
        "DatabaseReachableThroughAWorkersVPC": {
          "target": "com.cloudflare.hyperdrive#ConfigsGetResponseOriginDatabaseReachableThroughAWorkersVPC"
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseIntegrationProvider": {
      "type": "enum",
      "members": {
        "PLANETSCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "planetscale"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseIntegrationScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseIntegration": {
      "type": "structure",
      "members": {
        "database_branch_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PlanetScale database branch.",
            "smithy.api#required": {}
          }
        },
        "database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PlanetScale database.",
            "smithy.api#required": {}
          }
        },
        "organization_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PlanetScale organization.",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.cloudflare.hyperdrive#ConfigsGetResponseIntegrationProvider",
          "traits": {
            "smithy.api#documentation": "The database integration provider used by this operation.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsGetResponseIntegrationScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "custom_database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The database name to use when connecting. Defaults to `postgres` for PostgreSQL and `mysql` for MySQL."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PostgreSQL accepts `require`, `verify-ca`, and `verify-full`. MySQL accepts `REQUIRED`, `VERIFY_CA`, and `VERIFY_IDENTITY`. The verify modes require a CA certificate; the require modes cannot be used with a CA certificate."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemCaching": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defines whether caching is disabled.",
            "smithy.api#required": {}
          }
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the maximum duration (in seconds) items persist in the cache."
          }
        },
        "stale_while_revalidate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the number of seconds the cache may serve a stale response."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemOriginPublicDatabaseScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemOriginPublicDatabase": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the publicly reachable hostname or IP of your origin database. Private, loopback, and link-local IP addresses are not allowed.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the port of your origin database. Defaults to 5432 for PostgreSQL or 3306 for MySQL if not specified.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemOriginPublicDatabaseScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemOriginAccessProtectedDatabaseBehindCloudflareTunnelScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemOriginAccessProtectedDatabaseBehindCloudflareTunnel": {
      "type": "structure",
      "members": {
        "access_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client ID of the Access token to use when connecting to the origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client Secret of the Access Token to use when connecting to the origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemOriginAccessProtectedDatabaseBehindCloudflareTunnelScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemOriginDatabaseReachableThroughAWorkersVPCScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemOriginDatabaseReachableThroughAWorkersVPC": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemOriginDatabaseReachableThroughAWorkersVPCScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Workers VPC Service to connect through. Hyperdrive will egress through the specified VPC Service to reach the origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemOrigin": {
      "type": "union",
      "members": {
        "PublicDatabase": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemOriginPublicDatabase"
        },
        "AccessProtectedDatabaseBehindCloudflareTunnel": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemOriginAccessProtectedDatabaseBehindCloudflareTunnel"
        },
        "DatabaseReachableThroughAWorkersVPC": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemOriginDatabaseReachableThroughAWorkersVPC"
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemIntegrationProvider": {
      "type": "enum",
      "members": {
        "PLANETSCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "planetscale"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemIntegrationScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemIntegration": {
      "type": "structure",
      "members": {
        "database_branch_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PlanetScale database branch.",
            "smithy.api#required": {}
          }
        },
        "database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PlanetScale database.",
            "smithy.api#required": {}
          }
        },
        "organization_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PlanetScale organization.",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemIntegrationProvider",
          "traits": {
            "smithy.api#documentation": "The database integration provider used by this operation.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemIntegrationScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "custom_database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The database name to use when connecting. Defaults to `postgres` for PostgreSQL and `mysql` for MySQL."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PostgreSQL accepts `require`, `verify-ca`, and `verify-full`. MySQL accepts `REQUIRED`, `VERIFY_CA`, and `VERIFY_IDENTITY`. The verify modes require a CA certificate; the require modes cannot be used with a CA certificate."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#required": {}
          }
        },
        "caching": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemCaching",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hyperdrive configuration. Used to identify the configuration in the Cloudflare dashboard and API.",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemOrigin",
          "traits": {
            "smithy.api#documentation": "Combines database connection fields with exactly one supported network location.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the creation time of the Hyperdrive configuration."
          }
        },
        "integration": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemIntegration",
          "traits": {
            "smithy.api#documentation": "Connects to a PlanetScale database using credentials managed by Cloudflare. The Cloudflare account must already be linked to PlanetScale in the Hyperdrive dashboard."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last modified time of the Hyperdrive configuration."
          }
        },
        "mtls": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemMtls",
          "traits": {
            "smithy.api#documentation": "mTLS configuration for the origin connection. Cannot be used with VPC Service origins; TLS must be managed on the VPC Service."
          }
        },
        "origin_connection_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The (soft) maximum number of connections the Hyperdrive is allowed to make to the origin database."
          }
        },
        "restarted_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last time the Hyperdrive connection pool was explicitly restarted via the restart endpoint. Omitted if the pool has never been explicitly restarted."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.hyperdrive#ConfigsListResultItem"
      }
    },
    "com.cloudflare.hyperdrive#RestartConfigRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hyperdrive_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.hyperdrive#RestartConfigResponseCaching": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defines whether caching is disabled.",
            "smithy.api#required": {}
          }
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the maximum duration (in seconds) items persist in the cache."
          }
        },
        "stale_while_revalidate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the number of seconds the cache may serve a stale response."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#RestartConfigResponseOriginPublicDatabaseScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#RestartConfigResponseOriginPublicDatabase": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the publicly reachable hostname or IP of your origin database. Private, loopback, and link-local IP addresses are not allowed.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the port of your origin database. Defaults to 5432 for PostgreSQL or 3306 for MySQL if not specified.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#RestartConfigResponseOriginPublicDatabaseScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#RestartConfigResponseOriginAccessProtectedDatabaseBehindCloudflareTunnelScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#RestartConfigResponseOriginAccessProtectedDatabaseBehindCloudflareTunnel": {
      "type": "structure",
      "members": {
        "access_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client ID of the Access token to use when connecting to the origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client Secret of the Access Token to use when connecting to the origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#RestartConfigResponseOriginAccessProtectedDatabaseBehindCloudflareTunnelScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#RestartConfigResponseOriginDatabaseReachableThroughAWorkersVPCScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#RestartConfigResponseOriginDatabaseReachableThroughAWorkersVPC": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#RestartConfigResponseOriginDatabaseReachableThroughAWorkersVPCScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Workers VPC Service to connect through. Hyperdrive will egress through the specified VPC Service to reach the origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#RestartConfigResponseOrigin": {
      "type": "union",
      "members": {
        "PublicDatabase": {
          "target": "com.cloudflare.hyperdrive#RestartConfigResponseOriginPublicDatabase"
        },
        "AccessProtectedDatabaseBehindCloudflareTunnel": {
          "target": "com.cloudflare.hyperdrive#RestartConfigResponseOriginAccessProtectedDatabaseBehindCloudflareTunnel"
        },
        "DatabaseReachableThroughAWorkersVPC": {
          "target": "com.cloudflare.hyperdrive#RestartConfigResponseOriginDatabaseReachableThroughAWorkersVPC"
        }
      }
    },
    "com.cloudflare.hyperdrive#RestartConfigResponseIntegrationProvider": {
      "type": "enum",
      "members": {
        "PLANETSCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "planetscale"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#RestartConfigResponseIntegrationScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#RestartConfigResponseIntegration": {
      "type": "structure",
      "members": {
        "database_branch_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PlanetScale database branch.",
            "smithy.api#required": {}
          }
        },
        "database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PlanetScale database.",
            "smithy.api#required": {}
          }
        },
        "organization_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PlanetScale organization.",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.cloudflare.hyperdrive#RestartConfigResponseIntegrationProvider",
          "traits": {
            "smithy.api#documentation": "The database integration provider used by this operation.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#RestartConfigResponseIntegrationScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "custom_database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The database name to use when connecting. Defaults to `postgres` for PostgreSQL and `mysql` for MySQL."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#RestartConfigResponseMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PostgreSQL accepts `require`, `verify-ca`, and `verify-full`. MySQL accepts `REQUIRED`, `VERIFY_CA`, and `VERIFY_IDENTITY`. The verify modes require a CA certificate; the require modes cannot be used with a CA certificate."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#RestartConfigResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#required": {}
          }
        },
        "caching": {
          "target": "com.cloudflare.hyperdrive#RestartConfigResponseCaching",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hyperdrive configuration. Used to identify the configuration in the Cloudflare dashboard and API.",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.cloudflare.hyperdrive#RestartConfigResponseOrigin",
          "traits": {
            "smithy.api#documentation": "Combines database connection fields with exactly one supported network location.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the creation time of the Hyperdrive configuration."
          }
        },
        "integration": {
          "target": "com.cloudflare.hyperdrive#RestartConfigResponseIntegration",
          "traits": {
            "smithy.api#documentation": "Connects to a PlanetScale database using credentials managed by Cloudflare. The Cloudflare account must already be linked to PlanetScale in the Hyperdrive dashboard."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last modified time of the Hyperdrive configuration."
          }
        },
        "mtls": {
          "target": "com.cloudflare.hyperdrive#RestartConfigResponseMtls",
          "traits": {
            "smithy.api#documentation": "mTLS configuration for the origin connection. Cannot be used with VPC Service origins; TLS must be managed on the VPC Service."
          }
        },
        "origin_connection_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The (soft) maximum number of connections the Hyperdrive is allowed to make to the origin database."
          }
        },
        "restarted_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last time the Hyperdrive connection pool was explicitly restarted via the restart endpoint. Omitted if the pool has never been explicitly restarted."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.hyperdrive#RestartConfig": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.hyperdrive#RestartConfigRequest"
      },
      "output": {
        "target": "com.cloudflare.hyperdrive#RestartConfigResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/hyperdrive/configs/{hyperdrive_id}/restart",
          "code": 200
        },
        "smithy.api#documentation": "Restarts the connection pool for the specified Hyperdrive configuration without changing its configuration. Existing connections are drained and a new pool is established at the edge."
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginPublicDatabaseScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginPublicDatabase": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the publicly reachable hostname or IP of your origin database. Private, loopback, and link-local IP addresses are not allowed.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the port of your origin database. Defaults to 5432 for PostgreSQL or 3306 for MySQL if not specified.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginPublicDatabaseScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginAccessProtectedDatabaseBehindCloudflareTunnelScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginAccessProtectedDatabaseBehindCloudflareTunnel": {
      "type": "structure",
      "members": {
        "access_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client ID of the Access token to use when connecting to the origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client Secret of the Access Token to use when connecting to the origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginAccessProtectedDatabaseBehindCloudflareTunnelScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginDatabaseReachableThroughAWorkersVPCScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginDatabaseReachableThroughAWorkersVPC": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginDatabaseReachableThroughAWorkersVPCScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Workers VPC Service to connect through. Hyperdrive will egress through the specified VPC Service to reach the origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestOrigin": {
      "type": "union",
      "members": {
        "PublicDatabase": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginPublicDatabase"
        },
        "AccessProtectedDatabaseBehindCloudflareTunnel": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginAccessProtectedDatabaseBehindCloudflareTunnel"
        },
        "DatabaseReachableThroughAWorkersVPC": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginDatabaseReachableThroughAWorkersVPC"
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestCachingHyperdriveHyperdriveCachingCommon": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestCachingHyperdriveHyperdriveCachingEnabled": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false."
          }
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the maximum duration (in seconds) items should persist in the cache. Defaults to 60 seconds if not specified."
          }
        },
        "stale_while_revalidate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the number of seconds the cache may serve a stale response. Defaults to 15 seconds if not specified."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestCaching": {
      "type": "union",
      "members": {
        "HyperdriveHyperdriveCachingCommon": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequestCachingHyperdriveHyperdriveCachingCommon"
        },
        "HyperdriveHyperdriveCachingEnabled": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequestCachingHyperdriveHyperdriveCachingEnabled"
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PostgreSQL accepts `require`, `verify-ca`, and `verify-full`. MySQL accepts `REQUIRED`, `VERIFY_CA`, and `VERIFY_IDENTITY`. The verify modes require a CA certificate; the require modes cannot be used with a CA certificate."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateResponseCaching": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defines whether caching is disabled.",
            "smithy.api#required": {}
          }
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the maximum duration (in seconds) items persist in the cache."
          }
        },
        "stale_while_revalidate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the number of seconds the cache may serve a stale response."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateResponseOriginPublicDatabaseScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateResponseOriginPublicDatabase": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the publicly reachable hostname or IP of your origin database. Private, loopback, and link-local IP addresses are not allowed.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
[...]
