{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "expirationTtl": "expiration_ttl",
      "perPage": "per_page",
      "resultInfo": "result_info",
      "successfulKeyCount": "successful_key_count",
      "supportsUrlEncoding": "supports_url_encoding",
      "totalCount": "total_count",
      "unsuccessfulKeys": "unsuccessful_keys"
    },
    "opAliases": [
      {
        "alias": "bulkDeleteNamespaceKeys",
        "target": "bulkDeleteNamespaces"
      },
      {
        "alias": "bulkGetNamespaceKeys",
        "target": "bulkGetNamespaces"
      },
      {
        "alias": "bulkPutNamespaceKeys",
        "target": "bulkPutNamespaces"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.cloudflare.kv#NamespacesBulkDeleteRequestBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.kv#NamespacesBulkDeleteResponseUnsuccessfulKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.kv#NamespacesBulkGetRequestKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.kv#NamespacesBulkGetRequestType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultValuesCase3Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultValues": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Double": {
          "target": "smithy.api#Double"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        },
        "NamespacesBulkGetResultWorkersKVBulkGetResultValuesCase3Map": {
          "target": "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultValuesCase3Map"
        }
      }
    },
    "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResult": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultValues",
          "traits": {
            "smithy.api#documentation": "Requested keys are paired with their values in an object."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultWithMetadataValuesValue": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The metadata associated with the key.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The value associated with the key.",
            "smithy.api#required": {}
          }
        },
        "expiration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Expires the key at a certain time, measured in number of seconds since the UNIX epoch."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultWithMetadataValuesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultWithMetadataValuesValue"
      }
    },
    "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultWithMetadata": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultWithMetadataValuesMap",
          "traits": {
            "smithy.api#documentation": "Requested keys are paired with their values and metadata in an object."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesBulkGetResult": {
      "type": "union",
      "members": {
        "WorkersKVBulkGetResult": {
          "target": "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResult"
        },
        "WorkersKVBulkGetResultWithMetadata": {
          "target": "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultWithMetadata"
        }
      }
    },
    "com.cloudflare.kv#NamespacesBulkUpdateRequestBodyItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A key's name. The name may be at most 512 bytes. All printable, non-whitespace characters are valid.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A UTF-8 encoded string to be stored, up to 25 MiB in length.",
            "smithy.api#required": {}
          }
        },
        "base64": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether or not the server should base64 decode the value before storing it. Useful for writing values that wouldn't otherwise be valid JSON strings, such as images."
          }
        },
        "expiration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Expires the key at a certain time, measured in number of seconds since the UNIX epoch."
          }
        },
        "expiration_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds until the key expires. Must be at least 60. Takes precedence over `expiration` when both are specified."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Arbitrary JSON that is associated with a key."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesBulkUpdateRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.kv#NamespacesBulkUpdateRequestBodyItem"
      }
    },
    "com.cloudflare.kv#NamespacesBulkUpdateResponseUnsuccessfulKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.kv#NamespacesCreateRequestJurisdiction": {
      "type": "enum",
      "members": {
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        },
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesCreateRequestMode": {
      "type": "enum",
      "members": {
        "INSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "instant"
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesCreateResponseJurisdiction": {
      "type": "enum",
      "members": {
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        },
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesCreateResponseMode": {
      "type": "enum",
      "members": {
        "INSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "instant"
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesGetResponseJurisdiction": {
      "type": "enum",
      "members": {
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        },
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesGetResponseMode": {
      "type": "enum",
      "members": {
        "INSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "instant"
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesListRequestOrder": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "title"
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesListResultItemJurisdiction": {
      "type": "enum",
      "members": {
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        },
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesListResultItemMode": {
      "type": "enum",
      "members": {
        "INSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "instant"
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Workers KV namespace.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable string name for a Workers KV namespace.",
            "smithy.api#required": {}
          }
        },
        "jurisdiction": {
          "target": "com.cloudflare.kv#NamespacesListResultItemJurisdiction",
          "traits": {
            "smithy.api#documentation": "Specify the jurisdiction to restrict the KV namespace to durably store data within. Can only be set at namespace creation time."
          }
        },
        "mode": {
          "target": "com.cloudflare.kv#NamespacesListResultItemMode",
          "traits": {
            "smithy.api#documentation": "The mode of the Workers KV namespace. Specify `instant` when creating a namespace to create a KV Instant namespace. Omit this field when creating a namespace to create a classic namespace. Currently, `instant` is the only supported explicit value."
          }
        },
        "supports_url_encoding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if keys written on the URL will be URL-decoded before storing. For example, if set to \"true\", a key written on the URL as \"%3F\" will be stored as \"?\"."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.kv#NamespacesListResultItem"
      }
    },
    "com.cloudflare.kv#NamespacesUpdateResponseJurisdiction": {
      "type": "enum",
      "members": {
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        },
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesUpdateResponseMode": {
      "type": "enum",
      "members": {
        "INSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "instant"
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkDeleteRequestBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Cloudflare account that owns the Workers KV namespaces.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Workers KV namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkDeleteRequestBodyList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkDeleteResponseUnsuccessfulKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkDeleteResponse": {
      "type": "structure",
      "members": {
        "successful_key_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of keys successfully written or deleted by the bulk operation."
          }
        },
        "unsuccessful_keys": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkDeleteResponseUnsuccessfulKeysList",
          "traits": {
            "smithy.api#documentation": "Names of keys that failed to be written or deleted. Retry the operation for these keys."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#NamespacesKeysBulkDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#NamespacesKeysBulkDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/bulk/delete",
          "code": 200
        },
        "smithy.api#documentation": "Deletes up to 10,000 key-value pairs from the specified Workers KV namespace. Send a JSON array of the key names to delete. The result reports the number of successful deletions and any keys that failed and should be retried."
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidRequestBody"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetRequestKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetRequestType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Cloudflare account that owns the Workers KV namespaces.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Workers KV namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "keys": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkGetRequestKeysList",
          "traits": {
            "smithy.api#documentation": "Array of keys to retrieve (maximum of 100).",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkGetRequestType",
          "traits": {
            "smithy.api#documentation": "Return values as strings with `text`, or parse stored JSON values with `json`."
          }
        },
        "withMetadata": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to include metadata in the response."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultValuesCase3Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultValues": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Double": {
          "target": "smithy.api#Double"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        },
        "NamespacesKeysBulkGetResultWorkersKVBulkGetResultValuesCase3Map": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultValuesCase3Map"
        }
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResult": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultValues",
          "traits": {
            "smithy.api#documentation": "Requested keys are paired with their values in an object."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultWithMetadataValuesValue": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The metadata associated with the key.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The value associated with the key.",
            "smithy.api#required": {}
          }
        },
        "expiration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Expires the key at a certain time, measured in number of seconds since the UNIX epoch."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultWithMetadataValuesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultWithMetadataValuesValue"
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultWithMetadata": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultWithMetadataValuesMap",
          "traits": {
            "smithy.api#documentation": "Requested keys are paired with their values and metadata in an object."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetResult": {
      "type": "union",
      "members": {
        "WorkersKVBulkGetResult": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResult"
        },
        "WorkersKVBulkGetResultWithMetadata": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultWithMetadata"
        }
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkGetResult",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#NamespacesKeysBulkGetRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#NamespacesKeysBulkGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/bulk/get",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves the text-based values of up to 100 keys from the specified Workers KV namespace. The result maps each requested key to its value. Set `type` to `json` to parse JSON values instead of returning strings, and set `withMetadata` to `true` to include metadata with each value. Binary values are not supported by this operation."
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#InvalidRequestBody"
        },
        {
          "target": "com.cloudflare.kv#MinimumKeysRequired"
        },
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#NamespacesKeysBulkUpdateRequestBodyItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A key's name. The name may be at most 512 bytes. All printable, non-whitespace characters are valid.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A UTF-8 encoded string to be stored, up to 25 MiB in length.",
            "smithy.api#required": {}
          }
        },
        "base64": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether or not the server should base64 decode the value before storing it. Useful for writing values that wouldn't otherwise be valid JSON strings, such as images."
          }
        },
        "expiration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Expires the key at a certain time, measured in number of seconds since the UNIX epoch."
          }
        },
        "expiration_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds until the key expires. Must be at least 60. Takes precedence over `expiration` when both are specified."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Arbitrary JSON that is associated with a key."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkUpdateRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.kv#NamespacesKeysBulkUpdateRequestBodyItem"
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Cloudflare account that owns the Workers KV namespaces.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Workers KV namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkUpdateRequestBodyList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkUpdateResponseUnsuccessfulKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkUpdateResponse": {
      "type": "structure",
      "members": {
        "successful_key_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of keys successfully written or deleted by the bulk operation."
          }
        },
        "unsuccessful_keys": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkUpdateResponseUnsuccessfulKeysList",
          "traits": {
            "smithy.api#documentation": "Names of keys that failed to be written or deleted. Retry the operation for these keys."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#NamespacesKeysBulkUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#NamespacesKeysBulkUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/bulk",
          "code": 200
        },
        "smithy.api#documentation": "Writes up to 10,000 key-value pairs to the specified Workers KV namespace from a JSON array, with optional metadata and expiration settings for each pair. Existing values and expirations are overwritten. If neither `expiration` nor `expiration_ttl` is specified, the key-value pair will not expire. If both are set, `expiration_ttl` takes precedence. The entire request must be 100 megabytes or less. The result reports the number of successful writes and any keys that failed and should be retried.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#InvalidRequestBody"
        },
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#NamespacesKeysListResultItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A key's name. The name may be at most 512 bytes. All printable, non-whitespace characters are valid. Use percent-encoding to define key names as part of a URL.",
            "smithy.api#required": {}
          }
        },
        "expiration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time, measured in number of seconds since the UNIX epoch, at which the key will expire. This property is omitted for keys that will not expire."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Arbitrary JSON that is associated with a key."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesKeysListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.kv#NamespacesKeysListResultItem"
      }
    },
    "com.cloudflare.kv#Kv": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.kv#NamespacesKeysBulkDelete"
        },
        {
          "target": "com.cloudflare.kv#NamespacesKeysBulkGet"
        },
        {
          "target": "com.cloudflare.kv#NamespacesKeysBulkUpdate"
        },
        {
          "target": "com.cloudflare.kv#BulkDeleteNamespaces"
        },
        {
          "target": "com.cloudflare.kv#BulkGetNamespaces"
        },
        {
          "target": "com.cloudflare.kv#BulkPutNamespaces"
        },
        {
          "target": "com.cloudflare.kv#CreateNamespace"
        },
        {
          "target": "com.cloudflare.kv#DeleteNamespace"
        },
        {
          "target": "com.cloudflare.kv#DeleteNamespaceValue"
        },
        {
          "target": "com.cloudflare.kv#GetNamespace"
        },
        {
          "target": "com.cloudflare.kv#GetNamespaceMetadata"
        },
        {
          "target": "com.cloudflare.kv#GetNamespaceValue"
        },
        {
          "target": "com.cloudflare.kv#ListNamespaceKeys"
        },
        {
          "target": "com.cloudflare.kv#ListNamespaces"
        },
        {
          "target": "com.cloudflare.kv#PutNamespaceValue"
        },
        {
          "target": "com.cloudflare.kv#UpdateNamespace"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Kv",
        "smithy.api#documentation": "Cloudflare API — kv resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    },
    "com.cloudflare.kv#InvalidExpirationTtl": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 10034
          }
        ]
      }
    },
    "com.cloudflare.kv#InvalidObjectIdentifier": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 7003
          }
        ]
      }
    },
    "com.cloudflare.kv#InvalidRequestBody": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 10012
          }
        ]
      }
    },
    "com.cloudflare.kv#KeyNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 10009
          }
        ]
      }
    },
    "com.cloudflare.kv#MethodNotAllowed": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 10405,
            "message": {
              "includes": "not allowed"
            }
          },
          {
            "code": 10000,
            "message": {
              "includes": "not allowed"
            }
          }
        ]
      }
    },
    "com.cloudflare.kv#MinimumKeysRequired": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 10029
          }
        ]
      }
    },
    "com.cloudflare.kv#NamespaceNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 10013
          }
        ]
      }
    },
    "com.cloudflare.kv#NamespaceTitleAlreadyExists": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 10014
          }
        ]
      }
    },
    "com.cloudflare.kv#TitleRequired": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 10019
          }
        ]
      }
    },
    "com.cloudflare.kv#BulkDeleteNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#BulkDeleteNamespacesRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#BulkDeleteNamespacesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/bulk/delete",
          "code": 200
        },
        "smithy.api#documentation": "Deletes up to 10,000 key-value pairs from the specified Workers KV namespace. Send a JSON array of the key names to delete. The result reports the number of successful deletions and any keys that failed and should be retried."
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidRequestBody"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#BulkDeleteNamespacesRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Cloudflare account that owns the Workers KV namespaces.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Workers KV namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.kv#NamespacesBulkDeleteRequestBodyList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#BulkDeleteNamespacesResponse": {
      "type": "structure",
      "members": {
        "successful_key_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of keys successfully written or deleted by the bulk operation."
          }
        },
        "unsuccessful_keys": {
          "target": "com.cloudflare.kv#NamespacesBulkDeleteResponseUnsuccessfulKeysList",
          "traits": {
            "smithy.api#documentation": "Names of keys that failed to be written or deleted. Retry the operation for these keys."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.kv#BulkGetNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#BulkGetNamespacesRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#BulkGetNamespacesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/bulk/get",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves the text-based values of up to 100 keys from the specified Workers KV namespace. The result maps each requested key to its value. Set `type` to `json` to parse JSON values instead of returning strings, and set `withMetadata` to `true` to include metadata with each value. Binary values are not supported by this operation."
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#InvalidRequestBody"
        },
        {
          "target": "com.cloudflare.kv#MinimumKeysRequired"
        },
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#BulkGetNamespacesRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Cloudflare account that owns the Workers KV namespaces.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Workers KV namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "keys": {
          "target": "com.cloudflare.kv#NamespacesBulkGetRequestKeysList",
          "traits": {
            "smithy.api#documentation": "Array of keys to retrieve (maximum of 100).",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.kv#NamespacesBulkGetRequestType",
          "traits": {
            "smithy.api#documentation": "Return values as strings with `text`, or parse stored JSON values with `json`."
          }
        },
        "withMetadata": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to include metadata in the response."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#BulkGetNamespacesResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.kv#NamespacesBulkGetResult",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.kv#BulkPutNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#BulkPutNamespacesRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#BulkPutNamespacesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/bulk",
          "code": 200
        },
        "smithy.api#documentation": "Writes up to 10,000 key-value pairs to the specified Workers KV namespace from a JSON array, with optional metadata and expiration settings for each pair. Existing values and expirations are overwritten. If neither `expiration` nor `expiration_ttl` is specified, the key-value pair will not expire. If both are set, `expiration_ttl` takes precedence. The entire request must be 100 megabytes or less. The result reports the number of successful writes and any keys that failed and should be retried.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#InvalidRequestBody"
        },
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#BulkPutNamespacesRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Cloudflare account that owns the Workers KV namespaces.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Workers KV namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.kv#NamespacesBulkUpdateRequestBodyList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#BulkPutNamespacesResponse": {
      "type": "structure",
      "members": {
        "successful_key_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of keys successfully written or deleted by the bulk operation."
          }
        },
        "unsuccessful_keys": {
          "target": "com.cloudflare.kv#NamespacesBulkUpdateResponseUnsuccessfulKeysList",
          "traits": {
            "smithy.api#documentation": "Names of keys that failed to be written or deleted. Retry the operation for these keys."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.kv#CreateNamespace": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#CreateNamespaceRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#CreateNamespaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/storage/kv/namespaces",
          "code": 200
        },
        "smithy.api#documentation": "Creates a Workers KV namespace in the specified account with the given title. Returns `400` if the account already owns a namespace with that title; an existing namespace must be explicitly deleted before it can be replaced. An optional jurisdiction restricts where data is durably stored and can only be set at creation time."
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#TitleRequired"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        },
        {
          "target": "com.cloudflare.kv#NamespaceTitleAlreadyExists"
        }
      ]
    },
    "com.cloudflare.kv#CreateNamespaceRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Cloudflare account that owns the Workers KV namespaces.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable string name for a Workers KV namespace.",
            "smithy.api#required": {}
          }
        },
        "jurisdiction": {
          "target": "com.cloudflare.kv#NamespacesCreateRequestJurisdiction",
          "traits": {
            "smithy.api#documentation": "Specify the jurisdiction to restrict the KV namespace to durably store data within. Can only be set at namespace creation time."
          }
        },
        "mode": {
          "target": "com.cloudflare.kv#NamespacesCreateRequestMode",
          "traits": {
            "smithy.api#documentation": "The mode of the Workers KV namespace. Specify `instant` when creating a namespace to create a KV Instant namespace. Omit this field when creating a namespace to create a classic namespace. Currently, `instant` is the only supported explicit value."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#CreateNamespaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Workers KV namespace.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable string name for a Workers KV namespace.",
            "smithy.api#required": {}
          }
        },
        "jurisdiction": {
          "target": "com.cloudflare.kv#NamespacesCreateResponseJurisdiction",
          "traits": {
            "smithy.api#documentation": "Specify the jurisdiction to restrict the KV namespace to durably store data within. Can only be set at namespace creation time."
          }
        },
        "mode": {
          "target": "com.cloudflare.kv#NamespacesCreateResponseMode",
          "traits": {
            "smithy.api#documentation": "The mode of the Workers KV namespace. Specify `instant` when creating a namespace to create a KV Instant namespace. Omit this field when creating a namespace to create a classic namespace. Currently, `instant` is the only supported explicit value."
          }
        },
        "supports_url_encoding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if keys written on the URL will be URL-decoded before storing. For example, if set to \"true\", a key written on the URL as \"%3F\" will be stored as \"?\"."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.kv#DeleteNamespace": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#DeleteNamespaceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes the specified Workers KV namespace and its stored key-value pairs from the account.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#MethodNotAllowed"
        },
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#DeleteNamespaceRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Cloudflare account that owns the Workers KV namespaces.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Workers KV namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#DeleteNamespaceValue": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#DeleteNamespaceValueRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/values/{key_name}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes the specified key and its value from the Workers KV namespace. Use URL-encoding for special characters (for example, `:`, `!`, `%`) in the key name when constructing the request URL.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#DeleteNamespaceValueRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Cloudflare account that owns the Workers KV namespaces.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Workers KV namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "key_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A key's name. The name may be at most 512 bytes. All printable, non-whitespace characters are valid. Use percent-encoding to define key names as part of a URL.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#GetNamespace": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#GetNamespaceRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#GetNamespaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the Workers KV namespace for the specified account and namespace ID.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#GetNamespaceRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Cloudflare account that owns the Workers KV namespaces.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Workers KV namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#GetNamespaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Workers KV namespace.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable string name for a Workers KV namespace.",
            "smithy.api#required": {}
          }
        },
        "jurisdiction": {
          "target": "com.cloudflare.kv#NamespacesGetResponseJurisdiction",
          "traits": {
            "smithy.api#documentation": "Specify the jurisdiction to restrict the KV namespace to durably store data within. Can only be set at namespace creation time."
          }
        },
        "mode": {
          "target": "com.cloudflare.kv#NamespacesGetResponseMode",
          "traits": {
            "smithy.api#documentation": "The mode of the Workers KV namespace. Specify `instant` when creating a namespace to create a KV Instant namespace. Omit this field when creating a namespace to create a classic namespace. Currently, `instant` is the only supported explicit value."
          }
        },
        "supports_url_encoding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if keys written on the URL will be URL-decoded before storing. For example, if set to \"true\", a key written on the URL as \"%3F\" will be stored as \"?\"."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.kv#GetNamespaceMetadata": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#GetNamespaceMetadataRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#GetNamespaceMetadataResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/metadata/{key_name}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the JSON metadata associated with the specified key in the Workers KV namespace, without retrieving its value. Use URL-encoding for special characters (for example, `:`, `!`, `%`) in the key name when constructing the request URL.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#KeyNotFound"
        },
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#GetNamespaceMetadataRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Cloudflare account that owns the Workers KV namespaces.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Workers KV namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "key_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A key's name. The name may be at most 512 bytes. All printable, non-whitespace characters are valid. Use percent-encoding to define key names as part of a URL.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#GetNamespaceMetadataResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.kv#GetNamespaceValue": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#GetNamespaceValueRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#GetNamespaceValueResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/values/{key_name}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the value stored under the specified key in the Workers KV namespace as raw bytes. Use URL-encoding for special characters (for example, `:`, `!`, `%`) in the key name when constructing the request URL. If the key-value pair expires, the `expiration` response header contains its expiration time in seconds since the UNIX epoch.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#KeyNotFound"
        },
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#GetNamespaceValueRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Cloudflare account that owns the Workers KV namespaces.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Workers KV namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "key_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A key's name. The name may be at most 512 bytes. All printable, non-whitespace characters are valid. Use percent-encoding to define key names as part of a URL.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#ListNamespaceKeys": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#ListNamespaceKeysRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#ListNamespaceKeysResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/keys",
          "code": 200
        },
        "smithy.api#documentation": "Lists key names in the specified Workers KV namespace, with expiration times and metadata when present. Use `prefix` to filter names and `cursor` to request the next page. Values are not included.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "cursor",
          "outputToken": "resultInfo.cursor",
          "items": "result",
          "pageSize": "limit"
        }
      }
    },
    "com.cloudflare.kv#ListNamespaceKeysRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Cloudflare account that owns the Workers KV namespaces.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Workers KV namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque pagination token from `result_info.cursor` in the previous response. Pass it unchanged to request the next page of keys.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of keys to return in one response. Pass `result_info.cursor` from the response as `cursor` to request the next page.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters returned keys by a name prefix. Exact matches and any key names that begin with the prefix will be returned.",
            "smithy.api#httpQuery": "prefix"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#ListNamespaceKeysResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.kv#NamespacesKeysListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.kv#ListNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#ListNamespacesRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#ListNamespacesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/storage/kv/namespaces",
          "code": 200
        },
        "smithy.api#documentation": "Lists Workers KV namespaces owned by the specified account. Use `page` and `per_page` to select a page of results, and `order` and `direction` to control sorting.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "resultInfo.page",
          "items": "result",
          "pageSize": "perPage"
        }
      }
    },
    "com.cloudflare.kv#ListNamespacesRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Cloudflare account that owns the Workers KV namespaces.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.cloudflare.kv#NamespacesListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Sort namespaces in ascending (`asc`) or descending (`desc`) order.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "order": {
          "target": "com.cloudflare.kv#NamespacesListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Namespace field to sort by (`id` or `title`).",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#ListNamespacesResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.kv#NamespacesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.kv#PutNamespaceValue": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#PutNamespaceValueRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/values/{key_name}",
          "code": 200,
          "contentType": "multipart"
        },
        "smithy.api#documentation": "Writes a value under the specified key in the Workers KV namespace, creating the key-value pair or replacing its existing value, expiration, and metadata. Send the value as an `application/octet-stream` request body, or use `multipart/form-data` with a `value` part and an optional JSON `metadata` part. Use URL-encoding for special characters (for example, `:`, `!`, `%`) in the key name when constructing the request URL. If neither `expiration` nor `expiration_ttl` is specified, the key-value pair will not expire. If both are set, `expiration_ttl` takes precedence.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        },
        {
          "target": "com.cloudflare.kv#InvalidExpirationTtl"
        }
      ]
    },
    "com.cloudflare.kv#PutNamespaceValueRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Cloudflare account that owns the Workers KV namespaces.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Workers KV namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "key_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A key's name. The name may be at most 512 bytes. All printable, non-whitespace characters are valid. Use percent-encoding to define key names as part of a URL.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "expiration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Expires the key at a certain time, measured in number of seconds since the UNIX epoch.",
            "smithy.api#httpQuery": "expiration"
          }
        },
        "expiration_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds until the key expires. Must be at least 60. Takes precedence over `expiration` when both are specified.",
            "smithy.api#httpQuery": "expiration_ttl"
          }
        },
        "value": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "A byte sequence to be stored, up to 25 MiB in length."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Associates arbitrary JSON data with a key/value pair."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#UpdateNamespace": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#UpdateNamespaceRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#UpdateNamespaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}",
          "code": 200
        },
        "smithy.api#documentation": "Changes the title of the specified Workers KV namespace and returns the updated namespace. The namespace ID and stored key-value pairs are unchanged.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#TitleRequired"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        },
        {
          "target": "com.cloudflare.kv#NamespaceTitleAlreadyExists"
        }
      ]
    },
    "com.cloudflare.kv#UpdateNamespaceRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Cloudflare account that owns the Workers KV namespaces.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Workers KV namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable string name for a Workers KV namespace.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#UpdateNamespaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Workers KV namespace.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable string name for a Workers KV namespace.",
            "smithy.api#required": {}
          }
        },
        "jurisdiction": {
          "target": "com.cloudflare.kv#NamespacesUpdateResponseJurisdiction",
          "traits": {
            "smithy.api#documentation": "Specify the jurisdiction to restrict the KV namespace to durably store data within. Can only be set at namespace creation time."
          }
        },
        "mode": {
          "target": "com.cloudflare.kv#NamespacesUpdateResponseMode",
          "traits": {
            "smithy.api#documentation": "The mode of the Workers KV namespace. Specify `instant` when creating a namespace to create a KV Instant namespace. Omit this field when creating a namespace to create a classic namespace. Currently, `instant` is the only supported explicit value."
          }
        },
        "supports_url_encoding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if keys written on the URL will be URL-decoded before storing. For example, if set to \"true\", a key written on the URL as \"%3F\" will be stored as \"?\"."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.kv#GetNamespaceValueResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "com.cloudflare.protocols#binaryResponseBody": {},
            "smithy.api#documentation": "Raw value body as an Effect Stream."
          }
        },
        "expiration": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#httpHeader": "expiration",
            "smithy.api#documentation": "Expiration time of the KV pair, seconds since the UNIX epoch (set when the pair is set to expire)."
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "content-type",
            "smithy.api#documentation": "MIME type the value was stored with."
          }
        }
      }
    }
  }
}
