{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.cloudflare.leaked_credential_checks#DetectionsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines ehe ruleset expression to use in matching the password in a request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the ruleset expression to use in matching the username in a request."
          }
        }
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.leaked_credential_checks#DetectionsListResultItem"
      }
    },
    "com.cloudflare.leaked_credential_checks#LeakedCredentialChecks": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.leaked_credential_checks#CreateDetection"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#CreateLeakedCredentialCheck"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#DeleteDetection"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#GetDetection"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#GetLeakedCredentialCheck"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#ListDetections"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#UpdateDetection"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare LeakedCredentialChecks",
        "smithy.api#documentation": "Cloudflare API — leaked_credential_checks resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 11002
          }
        ]
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionQuotaExceeded": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 50001
          }
        ]
      }
    },
    "com.cloudflare.leaked_credential_checks#Forbidden": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.cloudflare.leaked_credential_checks#LeakedCredentialChecksDisabled": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 11001
          }
        ]
      }
    },
    "com.cloudflare.leaked_credential_checks#CreateDetection": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#CreateDetectionRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#CreateDetectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/leaked-credential-checks/detections",
          "code": 200
        },
        "smithy.api#documentation": "Create a detection location for credentials that the default scan locations do not cover, using Rules language expressions such as `lookup_json_string(http.request.body.raw, \"user\")`. Only the username expression is required, and Leaked Credential Checks must be enabled on the zone."
      },
      "errors": [
        {
          "target": "com.cloudflare.leaked_credential_checks#DetectionQuotaExceeded"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#LeakedCredentialChecksDisabled"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#Forbidden"
        }
      ]
    },
    "com.cloudflare.leaked_credential_checks#CreateDetectionRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines ehe ruleset expression to use in matching the password in a request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the ruleset expression to use in matching the username in a request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#CreateDetectionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines ehe ruleset expression to use in matching the password in a request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the ruleset expression to use in matching the username in a request."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.leaked_credential_checks#CreateLeakedCredentialCheck": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#CreateLeakedCredentialCheckRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#CreateLeakedCredentialCheckResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/leaked-credential-checks",
          "code": 200
        },
        "smithy.api#documentation": "Update the Leaked Credential Checks status for the zone, enabling or disabling the detection. While enabled, the detection populates the `cf.waf.credential_check.*` fields, which you can reference in custom rules and rate limiting rules to challenge or block requests carrying compromised credentials."
      },
      "errors": [
        {
          "target": "com.cloudflare.leaked_credential_checks#Forbidden"
        }
      ]
    },
    "com.cloudflare.leaked_credential_checks#CreateLeakedCredentialCheckRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether or not Leaked Credential Checks are enabled."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#CreateLeakedCredentialCheckResponse": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether or not Leaked Credential Checks are enabled."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.leaked_credential_checks#DeleteDetection": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#DeleteDetectionRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#DeleteDetectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/leaked-credential-checks/detections/{detection_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a user-defined detection location, identified by its detection ID. Incoming requests are then scanned using only the default scan locations and the detection locations that remain.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.leaked_credential_checks#DetectionNotFound"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#LeakedCredentialChecksDisabled"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#Forbidden"
        }
      ]
    },
    "com.cloudflare.leaked_credential_checks#DeleteDetectionRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "detection_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#DeleteDetectionResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#GetDetection": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#GetDetectionRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#GetDetectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/leaked-credential-checks/detections/{detection_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get the username and password expressions of a single user-defined detection location, identified by its detection ID.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.leaked_credential_checks#DetectionNotFound"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#LeakedCredentialChecksDisabled"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#Forbidden"
        }
      ]
    },
    "com.cloudflare.leaked_credential_checks#GetDetectionRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "detection_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#GetDetectionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines ehe ruleset expression to use in matching the password in a request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the ruleset expression to use in matching the username in a request."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.leaked_credential_checks#GetLeakedCredentialCheck": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#GetLeakedCredentialCheckRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#GetLeakedCredentialCheckResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/leaked-credential-checks",
          "code": 200
        },
        "smithy.api#documentation": "Get the current Leaked Credential Checks status for the zone. While enabled, Cloudflare scans incoming requests for usernames and passwords that were exposed in known data breaches.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.leaked_credential_checks#Forbidden"
        }
      ]
    },
    "com.cloudflare.leaked_credential_checks#GetLeakedCredentialCheckRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#GetLeakedCredentialCheckResponse": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether or not Leaked Credential Checks are enabled."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.leaked_credential_checks#ListDetections": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#ListDetectionsRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#ListDetectionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/leaked-credential-checks/detections",
          "code": 200
        },
        "smithy.api#documentation": "List the user-defined detection locations configured for Leaked Credential Checks, each with its own identifier. A custom detection location tells the WAF where to find the username and password in requests to your application.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "single",
          "items": "result"
        }
      },
      "errors": [
        {
          "target": "com.cloudflare.leaked_credential_checks#LeakedCredentialChecksDisabled"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#Forbidden"
        }
      ]
    },
    "com.cloudflare.leaked_credential_checks#ListDetectionsRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#ListDetectionsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.leaked_credential_checks#DetectionsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#UpdateDetection": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#UpdateDetectionRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#UpdateDetectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/leaked-credential-checks/detections/{detection_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update the username and password expressions of an existing detection location, identified by its detection ID. Both expressions are overwritten, so omitting the password expression clears it.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.leaked_credential_checks#DetectionNotFound"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#LeakedCredentialChecksDisabled"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#Forbidden"
        }
      ]
    },
    "com.cloudflare.leaked_credential_checks#UpdateDetectionRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "detection_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines ehe ruleset expression to use in matching the password in a request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the ruleset expression to use in matching the username in a request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#UpdateDetectionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines ehe ruleset expression to use in matching the password in a request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the ruleset expression to use in matching the username in a request."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    }
  }
}
