{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "lingeringSubscribe": "lingering_subscribe",
      "maxTimeoutMs": "max_timeout_ms",
      "originFallback": "origin_fallback",
      "tokenPublishSubscribe": "token_publish_subscribe",
      "tokenSubscribe": "token_subscribe"
    },
    "distilled.finalized": true
  },
  "shapes": {
    "com.cloudflare.moq#RelaysCreateResponseConfigUpstreamsUpstreamsItem": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Upstream MOQT server publisher URL. Must be an absolute URL with a host and a scheme the relay can dial: moqt:// (raw QUIC) or https:// (WebTransport). Validated on update (PUT); rejected with 21013.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysCreateResponseConfigUpstreamsUpstreamsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.moq#RelaysCreateResponseConfigUpstreamsUpstreamsItem"
      }
    },
    "com.cloudflare.moq#RelaysCreateResponseConfigUpstreams": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "upstreams": {
          "target": "com.cloudflare.moq#RelaysCreateResponseConfigUpstreamsUpstreamsList",
          "traits": {
            "smithy.api#documentation": "Ordered list of upstream MOQT server publishers. Each entry is an object (not a bare string) so per-upstream configuration can be added in the future without another breaking change."
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysCreateResponseConfig": {
      "type": "structure",
      "members": {
        "upstreams": {
          "target": "com.cloudflare.moq#RelaysCreateResponseConfigUpstreams",
          "traits": {
            "smithy.api#documentation": "Upstreams are external MOQT server publishers that a relay falls back to when it has no local publisher for a requested namespace/track."
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysCreateResponseIssuersItemCloudflareTokensItemOperationsItem": {
      "type": "enum",
      "members": {
        "PUBLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "publish"
          }
        },
        "SUBSCRIBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscribe"
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysCreateResponseIssuersItemCloudflareTokensItemOperationsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.moq#RelaysCreateResponseIssuersItemCloudflareTokensItemOperationsItem"
      }
    },
    "com.cloudflare.moq#RelaysCreateResponseIssuersItemCloudflareTokensItem": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expires": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mandatory; no more than 1 year after `created`.",
            "smithy.api#required": {}
          }
        },
        "jti": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identity and registry key (32 hex chars).",
            "smithy.api#required": {}
          }
        },
        "operations": {
          "target": "com.cloudflare.moq#RelaysCreateResponseIssuersItemCloudflareTokensItemOperationsList",
          "traits": {
            "smithy.api#documentation": "Signed allowlist of what the token may do. V1 coarse roles; the array form extends to fine-grained MoQT message names later without a breaking change.",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional, customer-set."
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signed JWT. Present ONLY in create / auto-create responses (shown once); never returned by list, never stored."
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysCreateResponseIssuersItemCloudflareTokensList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.moq#RelaysCreateResponseIssuersItemCloudflareTokensItem"
      }
    },
    "com.cloudflare.moq#RelaysCreateResponseIssuersItemIssuer": {
      "type": "enum",
      "members": {
        "CLOUDFLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare"
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysCreateResponseIssuersItemType": {
      "type": "enum",
      "members": {
        "CLOUDFLARE_JWT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare_jwt"
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysCreateResponseIssuersItem": {
      "type": "structure",
      "members": {
        "cloudflare_tokens": {
          "target": "com.cloudflare.moq#RelaysCreateResponseIssuersItemCloudflareTokensList",
          "traits": {
            "smithy.api#documentation": "Always present ([] when empty).",
            "smithy.api#required": {}
          }
        },
        "issuer": {
          "target": "com.cloudflare.moq#RelaysCreateResponseIssuersItemIssuer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.moq#RelaysCreateResponseIssuersItemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysCreateResponseIssuersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.moq#RelaysCreateResponseIssuersItem"
      }
    },
    "com.cloudflare.moq#RelaysGetResponseConfigUpstreamsUpstreamsItem": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Upstream MOQT server publisher URL. Must be an absolute URL with a host and a scheme the relay can dial: moqt:// (raw QUIC) or https:// (WebTransport). Validated on update (PUT); rejected with 21013.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysGetResponseConfigUpstreamsUpstreamsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.moq#RelaysGetResponseConfigUpstreamsUpstreamsItem"
      }
    },
    "com.cloudflare.moq#RelaysGetResponseConfigUpstreams": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "upstreams": {
          "target": "com.cloudflare.moq#RelaysGetResponseConfigUpstreamsUpstreamsList",
          "traits": {
            "smithy.api#documentation": "Ordered list of upstream MOQT server publishers. Each entry is an object (not a bare string) so per-upstream configuration can be added in the future without another breaking change."
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysGetResponseConfig": {
      "type": "structure",
      "members": {
        "upstreams": {
          "target": "com.cloudflare.moq#RelaysGetResponseConfigUpstreams",
          "traits": {
            "smithy.api#documentation": "Upstreams are external MOQT server publishers that a relay falls back to when it has no local publisher for a requested namespace/track."
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysGetResponseStatus": {
      "type": "enum",
      "members": {
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connected"
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysListResultItem": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.moq#RelaysListResultItem"
      }
    },
    "com.cloudflare.moq#RelaysUpdateRequestConfigUpstreamsUpstreamsItem": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Upstream MOQT server publisher URL. Must be an absolute URL with a host and a scheme the relay can dial: moqt:// (raw QUIC) or https:// (WebTransport). Validated on update (PUT); rejected with 21013.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysUpdateRequestConfigUpstreamsUpstreamsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.moq#RelaysUpdateRequestConfigUpstreamsUpstreamsItem"
      }
    },
    "com.cloudflare.moq#RelaysUpdateRequestConfigUpstreams": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "upstreams": {
          "target": "com.cloudflare.moq#RelaysUpdateRequestConfigUpstreamsUpstreamsList",
          "traits": {
            "smithy.api#documentation": "Ordered list of upstream MOQT server publishers. Each entry is an object (not a bare string) so per-upstream configuration can be added in the future without another breaking change."
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysUpdateRequestConfig": {
      "type": "structure",
      "members": {
        "upstreams": {
          "target": "com.cloudflare.moq#RelaysUpdateRequestConfigUpstreams",
          "traits": {
            "smithy.api#documentation": "Upstreams are external MOQT server publishers that a relay falls back to when it has no local publisher for a requested namespace/track."
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysUpdateResponseConfigUpstreamsUpstreamsItem": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Upstream MOQT server publisher URL. Must be an absolute URL with a host and a scheme the relay can dial: moqt:// (raw QUIC) or https:// (WebTransport). Validated on update (PUT); rejected with 21013.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysUpdateResponseConfigUpstreamsUpstreamsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.moq#RelaysUpdateResponseConfigUpstreamsUpstreamsItem"
      }
    },
    "com.cloudflare.moq#RelaysUpdateResponseConfigUpstreams": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "upstreams": {
          "target": "com.cloudflare.moq#RelaysUpdateResponseConfigUpstreamsUpstreamsList",
          "traits": {
            "smithy.api#documentation": "Ordered list of upstream MOQT server publishers. Each entry is an object (not a bare string) so per-upstream configuration can be added in the future without another breaking change."
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysUpdateResponseConfig": {
      "type": "structure",
      "members": {
        "upstreams": {
          "target": "com.cloudflare.moq#RelaysUpdateResponseConfigUpstreams",
          "traits": {
            "smithy.api#documentation": "Upstreams are external MOQT server publishers that a relay falls back to when it has no local publisher for a requested namespace/track."
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysUpdateResponseStatus": {
      "type": "enum",
      "members": {
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connected"
          }
        }
      }
    },
    "com.cloudflare.moq#CreateRelaysTokenRequestOperationsItem": {
      "type": "enum",
      "members": {
        "PUBLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "publish"
          }
        },
        "SUBSCRIBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscribe"
          }
        }
      }
    },
    "com.cloudflare.moq#CreateRelaysTokenRequestOperationsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.moq#CreateRelaysTokenRequestOperationsItem"
      }
    },
    "com.cloudflare.moq#CreateRelaysTokenRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "relay_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "operations": {
          "target": "com.cloudflare.moq#CreateRelaysTokenRequestOperationsList",
          "traits": {
            "smithy.api#documentation": "Non-empty subset of the V1 roles the token is allowed to perform. Signed into the token.",
            "smithy.api#required": {}
          }
        },
        "expires": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional expiry (RFC 3339). Defaults to 1 year from creation; rejected if more than 1 year in the future."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional, customer-set label."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.moq#CreateRelaysTokenResponseIssuersItemCloudflareTokensItemOperationsItem": {
      "type": "enum",
      "members": {
        "PUBLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "publish"
          }
        },
        "SUBSCRIBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscribe"
          }
        }
      }
    },
    "com.cloudflare.moq#CreateRelaysTokenResponseIssuersItemCloudflareTokensItemOperationsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.moq#CreateRelaysTokenResponseIssuersItemCloudflareTokensItemOperationsItem"
      }
    },
    "com.cloudflare.moq#CreateRelaysTokenResponseIssuersItemCloudflareTokensItem": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expires": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mandatory; no more than 1 year after `created`.",
            "smithy.api#required": {}
          }
        },
        "jti": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identity and registry key (32 hex chars).",
            "smithy.api#required": {}
          }
        },
        "operations": {
          "target": "com.cloudflare.moq#CreateRelaysTokenResponseIssuersItemCloudflareTokensItemOperationsList",
          "traits": {
            "smithy.api#documentation": "Signed allowlist of what the token may do. V1 coarse roles; the array form extends to fine-grained MoQT message names later without a breaking change.",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional, customer-set."
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signed JWT. Present ONLY in create / auto-create responses (shown once); never returned by list, never stored."
          }
        }
      }
    },
    "com.cloudflare.moq#CreateRelaysTokenResponseIssuersItemCloudflareTokensList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.moq#CreateRelaysTokenResponseIssuersItemCloudflareTokensItem"
      }
    },
    "com.cloudflare.moq#CreateRelaysTokenResponseIssuersItemIssuer": {
      "type": "enum",
      "members": {
        "CLOUDFLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare"
          }
        }
      }
    },
    "com.cloudflare.moq#CreateRelaysTokenResponseIssuersItemType": {
      "type": "enum",
      "members": {
        "CLOUDFLARE_JWT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare_jwt"
          }
        }
      }
    },
    "com.cloudflare.moq#CreateRelaysTokenResponseIssuersItem": {
      "type": "structure",
      "members": {
        "cloudflare_tokens": {
          "target": "com.cloudflare.moq#CreateRelaysTokenResponseIssuersItemCloudflareTokensList",
          "traits": {
            "smithy.api#documentation": "Always present ([] when empty).",
            "smithy.api#required": {}
          }
        },
        "issuer": {
          "target": "com.cloudflare.moq#CreateRelaysTokenResponseIssuersItemIssuer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.moq#CreateRelaysTokenResponseIssuersItemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.moq#CreateRelaysTokenResponseIssuersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.moq#CreateRelaysTokenResponseIssuersItem"
      }
    },
    "com.cloudflare.moq#CreateRelaysTokenResponse": {
      "type": "structure",
      "members": {
        "issuers": {
          "target": "com.cloudflare.moq#CreateRelaysTokenResponseIssuersList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.moq#CreateRelaysToken": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.moq#CreateRelaysTokenRequest"
      },
      "output": {
        "target": "com.cloudflare.moq#CreateRelaysTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/moq/relays/{relay_id}/tokens",
          "code": 200
        },
        "smithy.api#documentation": "Mints a new relay-scoped token and adds it to the relay's accepted-auth registry. The token value (secret) is shown once in the response. A relay may hold up to 10 tokens; creating an 11th is rejected."
      }
    },
    "com.cloudflare.moq#DeleteRelaysTokenRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "relay_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "jti": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.moq#DeleteRelaysToken": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.moq#DeleteRelaysTokenRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/moq/relays/{relay_id}/tokens/{jti}",
          "code": 200
        },
        "smithy.api#documentation": "Revokes a token by removing it from the set the relay accepts. Relays cache that set, so revocation takes effect within seconds rather than instantly, and connections already established with the token are not closed. Revoking an unknown token succeeds, so the call is idempotent.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.moq#ListRelaysTokensRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "relay_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.moq#ListRelaysTokensResponseIssuersItemCloudflareTokensItemOperationsItem": {
      "type": "enum",
      "members": {
        "PUBLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "publish"
          }
        },
        "SUBSCRIBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscribe"
          }
        }
      }
    },
    "com.cloudflare.moq#ListRelaysTokensResponseIssuersItemCloudflareTokensItemOperationsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.moq#ListRelaysTokensResponseIssuersItemCloudflareTokensItemOperationsItem"
      }
    },
    "com.cloudflare.moq#ListRelaysTokensResponseIssuersItemCloudflareTokensItem": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expires": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mandatory; no more than 1 year after `created`.",
            "smithy.api#required": {}
          }
        },
        "jti": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identity and registry key (32 hex chars).",
            "smithy.api#required": {}
          }
        },
        "operations": {
          "target": "com.cloudflare.moq#ListRelaysTokensResponseIssuersItemCloudflareTokensItemOperationsList",
          "traits": {
            "smithy.api#documentation": "Signed allowlist of what the token may do. V1 coarse roles; the array form extends to fine-grained MoQT message names later without a breaking change.",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional, customer-set."
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signed JWT. Present ONLY in create / auto-create responses (shown once); never returned by list, never stored."
          }
        }
      }
    },
    "com.cloudflare.moq#ListRelaysTokensResponseIssuersItemCloudflareTokensList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.moq#ListRelaysTokensResponseIssuersItemCloudflareTokensItem"
      }
    },
    "com.cloudflare.moq#ListRelaysTokensResponseIssuersItemIssuer": {
      "type": "enum",
      "members": {
        "CLOUDFLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare"
          }
        }
      }
    },
    "com.cloudflare.moq#ListRelaysTokensResponseIssuersItemType": {
      "type": "enum",
      "members": {
        "CLOUDFLARE_JWT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare_jwt"
          }
        }
      }
    },
    "com.cloudflare.moq#ListRelaysTokensResponseIssuersItem": {
      "type": "structure",
      "members": {
        "cloudflare_tokens": {
          "target": "com.cloudflare.moq#ListRelaysTokensResponseIssuersItemCloudflareTokensList",
          "traits": {
            "smithy.api#documentation": "Always present ([] when empty).",
            "smithy.api#required": {}
          }
        },
        "issuer": {
          "target": "com.cloudflare.moq#ListRelaysTokensResponseIssuersItemIssuer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.moq#ListRelaysTokensResponseIssuersItemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.moq#ListRelaysTokensResponseIssuersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.moq#ListRelaysTokensResponseIssuersItem"
      }
    },
    "com.cloudflare.moq#ListRelaysTokensResponse": {
      "type": "structure",
      "members": {
        "issuers": {
          "target": "com.cloudflare.moq#ListRelaysTokensResponseIssuersList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.moq#ListRelaysTokens": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.moq#ListRelaysTokensRequest"
      },
      "output": {
        "target": "com.cloudflare.moq#ListRelaysTokensResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/moq/relays/{relay_id}/tokens",
          "code": 200
        },
        "smithy.api#documentation": "Returns metadata for every token the relay accepts. Secrets are never returned, so a token that has been lost cannot be recovered here. There is no expiry filter: compare each token's `expires` to the current time to tell which ones have lapsed.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.moq#RelaysTokensRotateRequestType": {
      "type": "enum",
      "members": {
        "PUBLISH_SUBSCRIBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "publish_subscribe"
          }
        },
        "SUBSCRIBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscribe"
          }
        }
      }
    },
    "com.cloudflare.moq#RelaysTokensRotateResponseType": {
      "type": "enum",
      "members": {
        "PUBLISH_SUBSCRIBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "publish_subscribe"
          }
        },
        "SUBSCRIBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscribe"
          }
        }
      }
    },
    "com.cloudflare.moq#Moq": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.moq#CreateRelaysToken"
        },
        {
          "target": "com.cloudflare.moq#DeleteRelaysToken"
        },
        {
          "target": "com.cloudflare.moq#ListRelaysTokens"
        },
        {
          "target": "com.cloudflare.moq#CreateRelay"
        },
        {
          "target": "com.cloudflare.moq#DeleteRelay"
        },
        {
          "target": "com.cloudflare.moq#GetRelay"
        },
        {
          "target": "com.cloudflare.moq#ListRelays"
        },
        {
          "target": "com.cloudflare.moq#RotateRelayToken"
        },
        {
          "target": "com.cloudflare.moq#UpdateRelay"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Moq",
        "smithy.api#documentation": "Cloudflare API — moq resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    },
    "com.cloudflare.moq#CreateRelay": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.moq#CreateRelayRequest"
      },
      "output": {
        "target": "com.cloudflare.moq#CreateRelayResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/moq/relays",
          "code": 200
        },
        "smithy.api#documentation": "Provisions a new MoQ relay instance. Auto-creates a publish+subscribe token and a subscribe-only token. Token values are included in the response (shown once). Config is always set to defaults (upstreams off) and cannot be supplied here — sending a non-empty `config` is rejected (21014); `null` or `{}` is accepted as absent. Use PUT to configure the relay after it exists."
      }
    },
    "com.cloudflare.moq#CreateRelayRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for the relay.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.moq#CreateRelayResponse": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.cloudflare.moq#RelaysCreateResponseConfig",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issuers": {
          "target": "com.cloudflare.moq#RelaysCreateResponseIssuersList",
          "traits": {
            "smithy.api#documentation": "Token collection (discriminated union on `type`). On create this holds the auto-created default pair, each including its one-time secret.",
            "smithy.api#required": {}
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server-generated unique identifier (32 hex chars).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.moq#DeleteRelay": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.moq#DeleteRelayRequest"
      },
      "output": {
        "target": "com.cloudflare.moq#DeleteRelayResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/moq/relays/{relay_id}",
          "code": 200
        },
        "smithy.api#documentation": "Soft-deletes a MoQ relay. The relay ID goes in the URL path — `DELETE /accounts/{account_id}/moq/relays/{relay_id}` — not the request body; there is no collection-level delete endpoint.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.moq#DeleteRelayRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "relay_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.moq#DeleteRelayResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.moq#GetRelay": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.moq#GetRelayRequest"
      },
      "output": {
        "target": "com.cloudflare.moq#GetRelayResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/moq/relays/{relay_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves a single MoQ relay including config and status. Tokens are NOT included.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.moq#GetRelayRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "relay_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.moq#GetRelayResponse": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.cloudflare.moq#RelaysGetResponseConfig",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.moq#RelaysGetResponseStatus",
          "traits": {
            "smithy.api#documentation": "\"connected\" when active, omitted otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.moq#ListRelays": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.moq#ListRelaysRequest"
      },
      "output": {
        "target": "com.cloudflare.moq#ListRelaysResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/moq/relays",
          "code": 200
        },
        "smithy.api#documentation": "Lists all MoQ relays for the account. Returns only metadata. Config, status, and tokens are omitted. Results are cursor-paginated (keyset on the `created` timestamp). Use `created_before` / `created_after` with the `created` value of the first/last item in a page to fetch the adjacent page. `result_info` reports the page `count` and the `total` matching the cursor filters.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "single",
          "items": "result"
        }
      }
    },
    "com.cloudflare.moq#ListRelaysRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "asc": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Sort order by `created`. When true, results are returned oldest-first (ascending); otherwise newest-first (descending, the default).",
            "smithy.api#httpQuery": "asc"
          }
        },
        "created_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for pagination. Returns relays created strictly after this RFC 3339 timestamp (typically the `created` value of the last item on the current page, to fetch the next page).",
            "smithy.api#httpQuery": "created_after"
          }
        },
        "created_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for pagination. Returns relays created strictly before this RFC 3339 timestamp (typically the `created` value of the first item on the current page, to fetch the previous page).",
            "smithy.api#httpQuery": "created_before"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of relays to return per page. Values above the maximum are clamped to it rather than rejected.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.moq#ListRelaysResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.moq#RelaysListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.moq#RotateRelayToken": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.moq#RotateRelayTokenRequest"
      },
      "output": {
        "target": "com.cloudflare.moq#RotateRelayTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/moq/relays/{relay_id}/tokens/rotate",
          "code": 200
        },
        "smithy.api#documentation": "Generates a new token for the specified type. The old token is immediately invalidated. Token value is shown once in the response."
      }
    },
    "com.cloudflare.moq#RotateRelayTokenRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "relay_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.moq#RelaysTokensRotateRequestType",
          "traits": {
            "smithy.api#documentation": "Which token type to rotate.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.moq#RotateRelayTokenResponse": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New token value (shown once). Treat as sensitive.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.moq#RelaysTokensRotateResponseType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.moq#UpdateRelay": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.moq#UpdateRelayRequest"
      },
      "output": {
        "target": "com.cloudflare.moq#UpdateRelayResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/moq/relays/{relay_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a relay's name and/or configuration. The relay ID goes in the URL path — `PUT /accounts/{account_id}/moq/relays/{relay_id}` — not the request body; there is no collection-level update endpoint. This is also the only way to set a relay's config (config cannot be set at create time). Partial updates: omitted fields are preserved; config sub-objects replace as whole objects when present.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.moq#UpdateRelayRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "relay_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "com.cloudflare.moq#RelaysUpdateRequestConfig"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.moq#UpdateRelayResponse": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.cloudflare.moq#RelaysUpdateResponseConfig",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.moq#RelaysUpdateResponseStatus",
          "traits": {
            "smithy.api#documentation": "\"connected\" when active, omitted otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    }
  }
}
