{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "contentType": "content_type",
      "originTraffic": "origin_traffic",
      "perPage": "per_page",
      "resultInfo": "result_info",
      "totalCount": "total_count"
    },
    "distilled.finalized": true
  },
  "shapes": {
    "com.cloudflare.rate_limits#CreateRequestActionMode": {
      "type": "enum",
      "members": {
        "SIMULATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "simulate"
          }
        },
        "BAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ban"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.rate_limits#CreateRequestActionResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The response body to return. The value must conform to the configured content type."
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type of the body. Must be one of the following: `text/plain`, `text/xml`, or `application/json`."
          }
        }
      }
    },
    "com.cloudflare.rate_limits#CreateRequestAction": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.rate_limits#CreateRequestActionMode",
          "traits": {
            "smithy.api#documentation": "The action to perform."
          }
        },
        "response": {
          "target": "com.cloudflare.rate_limits#CreateRequestActionResponse",
          "traits": {
            "smithy.api#documentation": "A custom content type and reponse to return when the threshold is exceeded. The custom response configured in this object will override the custom error for the zone. This object is optional. Notes: If you omit this object, Cloudflare will use the default HTML error page. If \"mode\" is \"challenge\", \"managed_challenge\", or \"js_challenge\", Cloudflare will use the zone challenge pages and you should not provide the \"response\" object."
          }
        },
        "timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time in seconds during which Cloudflare will perform the mitigation action. Must be an integer value greater than or equal to the period. Notes: If \"mode\" is \"challenge\", \"managed_challenge\", or \"js_challenge\", Cloudflare will use the zone's Challenge Passage time and you should not provide this value."
          }
        }
      }
    },
    "com.cloudflare.rate_limits#CreateRequestMatchHeadersItemOp": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "NE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ne"
          }
        }
      }
    },
    "com.cloudflare.rate_limits#CreateRequestMatchHeadersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the response header to match."
          }
        },
        "op": {
          "target": "com.cloudflare.rate_limits#CreateRequestMatchHeadersItemOp",
          "traits": {
            "smithy.api#documentation": "The operator used when matching: `eq` means \"equal\" and `ne` means \"not equal\"."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the response header, which must match exactly."
          }
        }
      }
    },
    "com.cloudflare.rate_limits#CreateRequestMatchHeadersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rate_limits#CreateRequestMatchHeadersItem"
      }
    },
    "com.cloudflare.rate_limits#CreateRequestMatchRequestMethodsItem": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "_ALL_"
          }
        }
      }
    },
    "com.cloudflare.rate_limits#CreateRequestMatchRequestMethodsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rate_limits#CreateRequestMatchRequestMethodsItem"
      }
    },
    "com.cloudflare.rate_limits#CreateRequestMatchRequestSchemesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rate_limits#CreateRequestMatchRequest": {
      "type": "structure",
      "members": {
        "methods": {
          "target": "com.cloudflare.rate_limits#CreateRequestMatchRequestMethodsList",
          "traits": {
            "smithy.api#documentation": "The HTTP methods to match. You can specify a subset (for example, `['POST','PUT']`) or all methods (`['_ALL_']`). This field is optional when creating a rate limit."
          }
        },
        "schemes": {
          "target": "com.cloudflare.rate_limits#CreateRequestMatchRequestSchemesList",
          "traits": {
            "smithy.api#documentation": "The HTTP schemes to match. You can specify one scheme (`['HTTPS']`), both schemes (`['HTTP','HTTPS']`), or all schemes (`['_ALL_']`). This field is optional."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pattern to match, composed of a host and a path such as `example.org/path*`. Normalization is applied before the pattern is matched. `*` wildcards are expanded to match applicable traffic. Query strings are not matched. Set the value to `*` to match all traffic to your zone."
          }
        }
      }
    },
    "com.cloudflare.rate_limits#CreateRequestMatchResponse": {
      "type": "structure",
      "members": {
        "origin_traffic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, only the uncached traffic served from your origin servers will count towards rate limiting. In this case, any cached traffic served by Cloudflare will not count towards rate limiting. This field is optional. Notes: This field is deprecated. Instead, use response headers and set \"origin_traffic\" to \"false\" to avoid legacy behaviour interacting with the \"response_headers\" property."
          }
        }
      }
    },
    "com.cloudflare.rate_limits#CreateRequestMatch": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.cloudflare.rate_limits#CreateRequestMatchHeadersList"
        },
        "request": {
          "target": "com.cloudflare.rate_limits#CreateRequestMatchRequest"
        },
        "response": {
          "target": "com.cloudflare.rate_limits#CreateRequestMatchResponse"
        }
      }
    },
    "com.cloudflare.rate_limits#EditRequestActionMode": {
      "type": "enum",
      "members": {
        "SIMULATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "simulate"
          }
        },
        "BAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ban"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.rate_limits#EditRequestActionResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The response body to return. The value must conform to the configured content type."
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type of the body. Must be one of the following: `text/plain`, `text/xml`, or `application/json`."
          }
        }
      }
    },
    "com.cloudflare.rate_limits#EditRequestAction": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.rate_limits#EditRequestActionMode",
          "traits": {
            "smithy.api#documentation": "The action to perform."
          }
        },
        "response": {
          "target": "com.cloudflare.rate_limits#EditRequestActionResponse",
          "traits": {
            "smithy.api#documentation": "A custom content type and reponse to return when the threshold is exceeded. The custom response configured in this object will override the custom error for the zone. This object is optional. Notes: If you omit this object, Cloudflare will use the default HTML error page. If \"mode\" is \"challenge\", \"managed_challenge\", or \"js_challenge\", Cloudflare will use the zone challenge pages and you should not provide the \"response\" object."
          }
        },
        "timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time in seconds during which Cloudflare will perform the mitigation action. Must be an integer value greater than or equal to the period. Notes: If \"mode\" is \"challenge\", \"managed_challenge\", or \"js_challenge\", Cloudflare will use the zone's Challenge Passage time and you should not provide this value."
          }
        }
      }
    },
    "com.cloudflare.rate_limits#EditRequestMatchHeadersItemOp": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "NE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ne"
          }
        }
      }
    },
    "com.cloudflare.rate_limits#EditRequestMatchHeadersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the response header to match."
          }
        },
        "op": {
          "target": "com.cloudflare.rate_limits#EditRequestMatchHeadersItemOp",
          "traits": {
            "smithy.api#documentation": "The operator used when matching: `eq` means \"equal\" and `ne` means \"not equal\"."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the response header, which must match exactly."
          }
        }
      }
    },
    "com.cloudflare.rate_limits#EditRequestMatchHeadersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rate_limits#EditRequestMatchHeadersItem"
      }
    },
    "com.cloudflare.rate_limits#EditRequestMatchRequestMethodsItem": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "_ALL_"
          }
        }
      }
    },
    "com.cloudflare.rate_limits#EditRequestMatchRequestMethodsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rate_limits#EditRequestMatchRequestMethodsItem"
      }
    },
    "com.cloudflare.rate_limits#EditRequestMatchRequestSchemesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rate_limits#EditRequestMatchRequest": {
      "type": "structure",
      "members": {
        "methods": {
          "target": "com.cloudflare.rate_limits#EditRequestMatchRequestMethodsList",
          "traits": {
            "smithy.api#documentation": "The HTTP methods to match. You can specify a subset (for example, `['POST','PUT']`) or all methods (`['_ALL_']`). This field is optional when creating a rate limit."
          }
        },
        "schemes": {
          "target": "com.cloudflare.rate_limits#EditRequestMatchRequestSchemesList",
          "traits": {
            "smithy.api#documentation": "The HTTP schemes to match. You can specify one scheme (`['HTTPS']`), both schemes (`['HTTP','HTTPS']`), or all schemes (`['_ALL_']`). This field is optional."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pattern to match, composed of a host and a path such as `example.org/path*`. Normalization is applied before the pattern is matched. `*` wildcards are expanded to match applicable traffic. Query strings are not matched. Set the value to `*` to match all traffic to your zone."
          }
        }
      }
    },
    "com.cloudflare.rate_limits#EditRequestMatchResponse": {
      "type": "structure",
      "members": {
        "origin_traffic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, only the uncached traffic served from your origin servers will count towards rate limiting. In this case, any cached traffic served by Cloudflare will not count towards rate limiting. This field is optional. Notes: This field is deprecated. Instead, use response headers and set \"origin_traffic\" to \"false\" to avoid legacy behaviour interacting with the \"response_headers\" property."
          }
        }
      }
    },
    "com.cloudflare.rate_limits#EditRequestMatch": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.cloudflare.rate_limits#EditRequestMatchHeadersList"
        },
        "request": {
          "target": "com.cloudflare.rate_limits#EditRequestMatchRequest"
        },
        "response": {
          "target": "com.cloudflare.rate_limits#EditRequestMatchResponse"
        }
      }
    },
    "com.cloudflare.rate_limits#RateLimits": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.rate_limits#CreateRateLimit"
        },
        {
          "target": "com.cloudflare.rate_limits#DeleteRateLimit"
        },
        {
          "target": "com.cloudflare.rate_limits#EditRateLimit"
        },
        {
          "target": "com.cloudflare.rate_limits#GetRateLimit"
        },
        {
          "target": "com.cloudflare.rate_limits#ListRateLimits"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare RateLimits",
        "smithy.api#documentation": "Cloudflare API — rate_limits resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    },
    "com.cloudflare.rate_limits#CreateRateLimit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rate_limits#CreateRateLimitRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/rate_limits",
          "code": 200
        },
        "smithy.api#documentation": "**Deprecated**: This endpoint returns 410 Gone. Please use the Rulesets API instead."
      }
    },
    "com.cloudflare.rate_limits#CreateRateLimitRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.rate_limits#CreateRequestAction",
          "traits": {
            "smithy.api#documentation": "The action to perform when the threshold of matched traffic within the configured period is exceeded.",
            "smithy.api#required": {}
          }
        },
        "match": {
          "target": "com.cloudflare.rate_limits#CreateRequestMatch",
          "traits": {
            "smithy.api#documentation": "Determines which traffic the rate limit counts towards the threshold.",
            "smithy.api#required": {}
          }
        },
        "period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time in seconds (an integer value) to count matching traffic. If the count exceeds the configured threshold within this period, Cloudflare will perform the configured action.",
            "smithy.api#required": {}
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The threshold that will trigger the configured mitigation action. Configure this value along with the `period` property to establish a threshold per period.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rate_limits#DeleteRateLimit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rate_limits#DeleteRateLimitRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/rate_limits/{rate_limit_id}",
          "code": 200
        },
        "smithy.api#documentation": "**Deprecated**: This endpoint returns 410 Gone. Please use the Rulesets API instead.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rate_limits#DeleteRateLimitRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rate_limit_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique identifier of the rate limit.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rate_limits#EditRateLimit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rate_limits#EditRateLimitRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/rate_limits/{rate_limit_id}",
          "code": 200
        },
        "smithy.api#documentation": "**Deprecated**: This endpoint returns 410 Gone. Please use the Rulesets API instead.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rate_limits#EditRateLimitRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rate_limit_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique identifier of the rate limit.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.rate_limits#EditRequestAction",
          "traits": {
            "smithy.api#documentation": "The action to perform when the threshold of matched traffic within the configured period is exceeded.",
            "smithy.api#required": {}
          }
        },
        "match": {
          "target": "com.cloudflare.rate_limits#EditRequestMatch",
          "traits": {
            "smithy.api#documentation": "Determines which traffic the rate limit counts towards the threshold.",
            "smithy.api#required": {}
          }
        },
        "period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time in seconds (an integer value) to count matching traffic. If the count exceeds the configured threshold within this period, Cloudflare will perform the configured action.",
            "smithy.api#required": {}
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The threshold that will trigger the configured mitigation action. Configure this value along with the `period` property to establish a threshold per period.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rate_limits#GetRateLimit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rate_limits#GetRateLimitRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/rate_limits/{rate_limit_id}",
          "code": 200
        },
        "smithy.api#documentation": "**Deprecated**: This endpoint returns 410 Gone. Please use the Rulesets API instead.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rate_limits#GetRateLimitRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rate_limit_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique identifier of the rate limit.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rate_limits#ListRateLimits": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rate_limits#ListRateLimitsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/rate_limits",
          "code": 200
        },
        "smithy.api#documentation": "**Deprecated**: This endpoint returns 410 Gone. Please use the Rulesets API instead.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rate_limits#ListRateLimitsRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the maximum number of results per page. You can only set the value to `1` or to a multiple of 5 such as `5`, `10`, `15`, or `20`.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    }
  }
}
