{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "accessApplicationId": "access_application_id",
      "resourceId": "resource_id",
      "resourceType": "resource_type",
      "resultInfo": "result_info",
      "workerId": "worker_id",
      "zoneId": "zone_id"
    },
    "distilled.finalized": true
  },
  "shapes": {
    "com.cloudflare.resource_tagging#ListRequestIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListRequestTagList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListRequestType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application"
          }
        },
        "ACCESS_APPLICATION_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application_policy"
          }
        },
        "ACCESS_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_group"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        },
        "ACCOUNT_RULESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account_ruleset"
          }
        },
        "AI_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_gateway"
          }
        },
        "ALERTING_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alerting_policy"
          }
        },
        "ALERTING_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alerting_webhook"
          }
        },
        "API_GATEWAY_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api_gateway_operation"
          }
        },
        "CLOUDFLARED_TUNNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflared_tunnel"
          }
        },
        "CUSTOM_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_certificate"
          }
        },
        "CUSTOM_HOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_hostname"
          }
        },
        "CWS_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cws_deployment"
          }
        },
        "CWS_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cws_policy"
          }
        },
        "CWS_POLICY_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cws_policy_set"
          }
        },
        "CWS_WORKLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cws_workload"
          }
        },
        "D1_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "d1_database"
          }
        },
        "DNS_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_record"
          }
        },
        "DURABLE_OBJECT_NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "durable_object_namespace"
          }
        },
        "GATEWAY_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_list"
          }
        },
        "GATEWAY_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_rule"
          }
        },
        "HEALTHCHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "healthcheck"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        },
        "INFRASTRUCTURE_TARGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "infrastructure_target"
          }
        },
        "KV_NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kv_namespace"
          }
        },
        "LOAD_BALANCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load_balancer"
          }
        },
        "LOAD_BALANCER_MONITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load_balancer_monitor"
          }
        },
        "LOAD_BALANCER_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load_balancer_pool"
          }
        },
        "MANAGED_CLIENT_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_client_certificate"
          }
        },
        "PAGES_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pages_project"
          }
        },
        "QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queue"
          }
        },
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        },
        "RESOURCE_SHARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource_share"
          }
        },
        "STREAM_LIVE_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stream_live_input"
          }
        },
        "STREAM_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stream_video"
          }
        },
        "VECTORIZE_INDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vectorize_index"
          }
        },
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        },
        "WORKER_ROUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker_route"
          }
        },
        "WORKER_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker_version"
          }
        },
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        },
        "ZONE_RULESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone_ruleset"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListRequestTypeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.resource_tagging#ListRequestType"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccessApplicationTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccessApplicationType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccessApplication": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccessApplicationTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccessApplicationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccessApplicationPolicyTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccessApplicationPolicyType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application_policy"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccessApplicationPolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "access_application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Access application ID is required only for access_application_policy resources",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccessApplicationPolicyTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccessApplicationPolicyType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccessGroupTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccessGroupType": {
      "type": "enum",
      "members": {
        "ACCESS_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_group"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccessGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccessGroupTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccessGroupType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccountTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccountType": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccountTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccountType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccountRulesetTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccountRulesetType": {
      "type": "enum",
      "members": {
        "ACCOUNT_RULESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account_ruleset"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccountRuleset": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccountRulesetTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccountRulesetType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAIGatewayTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAIGatewayType": {
      "type": "enum",
      "members": {
        "AI_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_gateway"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAIGateway": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAIGatewayTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAIGatewayType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAlertingPolicyTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAlertingPolicyType": {
      "type": "enum",
      "members": {
        "ALERTING_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alerting_policy"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAlertingPolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAlertingPolicyTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAlertingPolicyType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAlertingWebhookTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAlertingWebhookType": {
      "type": "enum",
      "members": {
        "ALERTING_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alerting_webhook"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAlertingWebhook": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAlertingWebhookTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAlertingWebhookType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAPIGatewayOperationTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAPIGatewayOperationType": {
      "type": "enum",
      "members": {
        "API_GATEWAY_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api_gateway_operation"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAPIGatewayOperation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAPIGatewayOperationTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAPIGatewayOperationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCloudflaredTunnelTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCloudflaredTunnelType": {
      "type": "enum",
      "members": {
        "CLOUDFLARED_TUNNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflared_tunnel"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCloudflaredTunnel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCloudflaredTunnelTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCloudflaredTunnelType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCustomCertificateTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCustomCertificateType": {
      "type": "enum",
      "members": {
        "CUSTOM_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_certificate"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCustomCertificate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCustomCertificateTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCustomCertificateType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCustomHostnameTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCustomHostnameType": {
      "type": "enum",
      "members": {
        "CUSTOM_HOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_hostname"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCustomHostname": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCustomHostnameTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCustomHostnameType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCwsDeploymentTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCwsDeploymentType": {
      "type": "enum",
      "members": {
        "CWS_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cws_deployment"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCwsDeployment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCwsDeploymentTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCwsDeploymentType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCwsPolicyTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCwsPolicyType": {
      "type": "enum",
      "members": {
        "CWS_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cws_policy"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCwsPolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCwsPolicyTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCwsPolicyType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCwsPolicySetTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCwsPolicySetType": {
      "type": "enum",
      "members": {
        "CWS_POLICY_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cws_policy_set"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCwsPolicySet": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCwsPolicySetTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCwsPolicySetType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCwsWorkloadTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCwsWorkloadType": {
      "type": "enum",
      "members": {
        "CWS_WORKLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cws_workload"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCwsWorkload": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCwsWorkloadTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCwsWorkloadType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemD1DatabaseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemD1DatabaseType": {
      "type": "enum",
      "members": {
        "D1_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "d1_database"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemD1Database": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemD1DatabaseTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemD1DatabaseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemDNSRecordTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemDNSRecordType": {
      "type": "enum",
      "members": {
        "DNS_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_record"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemDNSRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemDNSRecordTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemDNSRecordType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemDurableObjectNamespaceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemDurableObjectNamespaceType": {
      "type": "enum",
      "members": {
        "DURABLE_OBJECT_NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "durable_object_namespace"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemDurableObjectNamespace": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemDurableObjectNamespaceTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemDurableObjectNamespaceType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemGatewayListTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemGatewayListType": {
      "type": "enum",
      "members": {
        "GATEWAY_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_list"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemGatewayList": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemGatewayListTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemGatewayListType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemGatewayRuleTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemGatewayRuleType": {
      "type": "enum",
      "members": {
        "GATEWAY_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_rule"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemGatewayRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemGatewayRuleTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemGatewayRuleType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemHealthcheckTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemHealthcheckType": {
      "type": "enum",
      "members": {
        "HEALTHCHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "healthcheck"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemHealthcheck": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemHealthcheckTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemHealthcheckType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemImageTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemImageType": {
      "type": "enum",
      "members": {
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemImage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemImageTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemImageType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemInfrastructureTargetTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemInfrastructureTargetType": {
      "type": "enum",
      "members": {
        "INFRASTRUCTURE_TARGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "infrastructure_target"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemInfrastructureTarget": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemInfrastructureTargetTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemInfrastructureTargetType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemKVNamespaceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemKVNamespaceType": {
      "type": "enum",
      "members": {
        "KV_NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kv_namespace"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemKVNamespace": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemKVNamespaceTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemKVNamespaceType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemLoadBalancerTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemLoadBalancerType": {
      "type": "enum",
      "members": {
        "LOAD_BALANCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load_balancer"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemLoadBalancer": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemLoadBalancerTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemLoadBalancerType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemLoadBalancerMonitorTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemLoadBalancerMonitorType": {
      "type": "enum",
      "members": {
        "LOAD_BALANCER_MONITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load_balancer_monitor"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemLoadBalancerMonitor": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemLoadBalancerMonitorTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemLoadBalancerMonitorType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemLoadBalancerPoolTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemLoadBalancerPoolType": {
      "type": "enum",
      "members": {
        "LOAD_BALANCER_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load_balancer_pool"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemLoadBalancerPool": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemLoadBalancerPoolTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemLoadBalancerPoolType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemManagedClientCertificateTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemManagedClientCertificateType": {
      "type": "enum",
      "members": {
        "MANAGED_CLIENT_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_client_certificate"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemManagedClientCertificate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemManagedClientCertificateTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemManagedClientCertificateType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemPagesProjectTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemPagesProjectType": {
      "type": "enum",
      "members": {
        "PAGES_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pages_project"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemPagesProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemPagesProjectTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemPagesProjectType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemQueueTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemQueueType": {
      "type": "enum",
      "members": {
        "QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queue"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemQueue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemQueueTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemQueueType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monotonic version of the resource's tags: the timestamp assigned when the tags were last written. Returned by read endpoints, by 2PC prepare (the version that will be assigned on commit, unless a concurrent write lands first, in which case a newer version is assigned), and by 2PC commit (the authoritative committed version). Omitted for untagged resources and delete commits: a deleted resource has no current version, and deletions are ordered by event order rather than by version."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemR2BucketTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemR2BucketType": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemR2Bucket": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:\" where the hash is the base64url-encoded SHA-256 (truncated to 128 bits) of the tags map canonicalized using RFC 8785 (JSON Canonicalization Scheme). Clients should treat ETags as opaque strings and pass them back via the If-Match header on write operations.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemR2BucketTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags. Keys may contain at most 256 characters. Values may contain at most 1024 characters and may be empty for key-only tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemR2BucketType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_updated_at": {
          "target": "smithy.api#String",
          "traits": {
[...]
