{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "abrLevel": "abr_level",
      "allowedDestinationAddresses": "allowed_destination_addresses",
      "allowedSenderAddresses": "allowed_sender_addresses",
      "appId": "app_id",
      "authorEmail": "author_email",
      "authorId": "author_id",
      "bodyPart": "body_part",
      "bucketName": "bucket_name",
      "bytesRead": "bytes_read",
      "cache": "cache_options",
      "capnpSchema": "capnp_schema",
      "certId": "cert_id",
      "certificateId": "certificate_id",
      "className": "class_name",
      "compatibilityDate": "compatibility_date",
      "compatibilityFlags": "compatibility_flags",
      "contentBase64": "content_base64",
      "contentType": "content_type",
      "cpuMs": "cpu_ms",
      "createdOn": "created_on",
      "crossAccountGrant": "cross_account_grant",
      "crossVersionCache": "cross_version_cache",
      "databaseId": "database_id",
      "defaultUsageModel": "default_usage_model",
      "deletedClasses": "deleted_classes",
      "deliveryDelay": "delivery_delay",
      "destinationAddress": "destination_address",
      "destinationConf": "destination_conf",
      "dispatchNamespace": "dispatch_namespace",
      "documentationUrl": "documentation_url",
      "enableTimer": "enable_timer",
      "entryPoint": "entry_point",
      "environmentIsDefault": "environment_is_default",
      "environmentName": "environment_name",
      "errorMessage": "error_message",
      "exchangeUrl": "exchange_url",
      "expiresAt": "expires_at",
      "fromScript": "from_script",
      "greenCompute": "green_compute",
      "hasAssets": "has_assets",
      "hasModules": "has_modules",
      "headSamplingRate": "head_sampling_rate",
      "htmlHandling": "html_handling",
      "indexName": "index_name",
      "instanceName": "instance_name",
      "invocationLogs": "invocation_logs",
      "keepAssets": "keep_assets",
      "keepBindings": "keep_bindings",
      "keyBase64": "key_base64",
      "keyJwk": "key_jwk",
      "lastAnalyzedAt": "last_analyzed_at",
      "lastComplete": "last_complete",
      "lastDeployedFrom": "last_deployed_from",
      "lastError": "last_error",
      "mainModule": "main_module",
      "migrationTag": "migration_tag",
      "minimalMode": "minimal_mode",
      "mitigationTimeout": "mitigation_timeout",
      "modifiedOn": "modified_on",
      "namedHandlers": "named_handlers",
      "namespaceId": "namespace_id",
      "networkId": "network_id",
      "newClasses": "new_classes",
      "newSqliteClasses": "new_sqlite_classes",
      "newTag": "new_tag",
      "notFoundHandling": "not_found_handling",
      "oldName": "old_name",
      "oldTag": "old_tag",
      "perPage": "per_page",
      "placementMode": "placement_mode",
      "placementStatus": "placement_status",
      "previewToken": "preview_token",
      "previewsEnabled": "previews_enabled",
      "propagationPolicy": "propagation_policy",
      "queueName": "queue_name",
      "renamedClasses": "renamed_classes",
      "resultInfo": "result_info",
      "rowsRead": "rows_read",
      "runWorkerFirst": "run_worker_first",
      "scriptName": "script_name",
      "scriptRuntime": "script_runtime",
      "secretName": "secret_name",
      "serveDirectly": "serve_directly",
      "serviceId": "service_id",
      "serviceName": "service_name",
      "startupTimeMs": "startup_time_ms",
      "storeId": "store_id",
      "streamingTailConsumers": "streaming_tail_consumers",
      "tailConsumers": "tail_consumers",
      "tailUrl": "tail_url",
      "totalCount": "total_count",
      "transferredClasses": "transferred_classes",
      "tunnelId": "tunnel_id",
      "usageModel": "usage_model",
      "versionId": "version_id",
      "versionTags": "version_tags",
      "workersAlias": "workers/alias",
      "workersDev": "workers_dev",
      "workersMessage": "workers/message",
      "workersTag": "workers/tag",
      "workersTriggeredBy": "workers/triggered_by",
      "workflowName": "workflow_name",
      "wranglerSessionConfig": "wrangler-session-config",
      "zoneId": "zone_id",
      "zoneName": "zone_name",
      "previewId": "preview_id",
      "previewName": "preview_name",
      "workerName": "worker_name",
      "ignoreBaseConfig": "ignore_base_config"
    },
    "distilled.finalized": true
  },
  "shapes": {
    "com.cloudflare.workers#AssetsUploadCreateRequestBodyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityIssues": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether real-time Issues are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled. Returns null when the trace propagation feature is not enabled for the account."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "issues": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityIssues",
          "traits": {
            "smithy.api#documentation": "Real-time Issues settings for the Worker."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "redact_query_string": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether query strings are removed from request URLs in logs and traces."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigCacheOptions": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether caching is enabled for this Worker.",
            "smithy.api#required": {}
          }
        },
        "cross_version_cache": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether cached responses are shared across Worker version uploads. This is independent of `enabled`. It can stay true while caching is off, so the preference survives turning caching off and back on."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigEnvValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigEnvMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigEnvValue"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigLimits": {
      "type": "structure",
      "members": {
        "cpu_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of CPU time this Worker can use in milliseconds."
          }
        },
        "subrequests": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of subrequests this Worker can make per request."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigObservabilityIssues": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether real-time Issues are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled. Returns null when the trace propagation feature is not enabled for the account."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "issues": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigObservabilityIssues",
          "traits": {
            "smithy.api#documentation": "Real-time Issues settings for the Worker."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "redact_query_string": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether query strings are removed from request URLs in logs and traces."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementModeMode": {
      "type": "enum",
      "members": {
        "SMART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smart"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementMode": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementModeMode",
          "traits": {
            "smithy.api#documentation": "Enables [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementRegion": {
      "type": "structure",
      "members": {
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region for targeted placement in format 'provider:region'.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementHostname": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP hostname for targeted placement.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementHost": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP host and port for targeted placement.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase4Mode": {
      "type": "enum",
      "members": {
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase4": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase4Mode",
          "traits": {
            "smithy.api#documentation": "Targeted placement mode.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region for targeted placement in format 'provider:region'.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase5Mode": {
      "type": "enum",
      "members": {
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase5": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP hostname for targeted placement.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase5Mode",
          "traits": {
            "smithy.api#documentation": "Targeted placement mode.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase6Mode": {
      "type": "enum",
      "members": {
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase6": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP host and port for targeted placement.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase6Mode",
          "traits": {
            "smithy.api#documentation": "Targeted placement mode.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase7Mode": {
      "type": "enum",
      "members": {
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase7TargetItemRegion": {
      "type": "structure",
      "members": {
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region in format 'provider:region'.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase7TargetItemHostname": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP hostname for targeted placement.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase7TargetItemHost": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP host:port for targeted placement.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase7TargetItem": {
      "type": "union",
      "members": {
        "Region": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase7TargetItemRegion"
        },
        "Hostname": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase7TargetItemHostname"
        },
        "Host": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase7TargetItemHost"
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase7TargetList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase7TargetItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase7": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase7Mode",
          "traits": {
            "smithy.api#documentation": "Targeted placement mode.",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase7TargetList",
          "traits": {
            "smithy.api#documentation": "Array of placement targets (currently limited to single target).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacement": {
      "type": "union",
      "members": {
        "Mode": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementMode"
        },
        "Region": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementRegion"
        },
        "Hostname": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementHostname"
        },
        "Host": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementHost"
        },
        "BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase4": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase4"
        },
        "BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase5": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase5"
        },
        "BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase6": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase6"
        },
        "BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase7": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacementCase7"
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfig": {
      "type": "structure",
      "members": {
        "cache_options": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigCacheOptions",
          "traits": {
            "smithy.api#documentation": "Cache options used when creating new Previews."
          }
        },
        "env": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigEnvMap",
          "traits": {
            "smithy.api#documentation": "Bindings used when creating new Previews, keyed by binding name."
          }
        },
        "limits": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigLimits",
          "traits": {
            "smithy.api#documentation": "Resource limits enforced at runtime for newly created Previews."
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logpush is enabled when creating new Previews."
          }
        },
        "observability": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings used when creating new Previews."
          }
        },
        "placement": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigPlacement",
          "traits": {
            "smithy.api#documentation": "Placement configuration used when creating new Previews."
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestPreviewsBaseConfigTailConsumersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that should consume logs from newly created Previews."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "preview_url_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prepend a version or preview prefix to this host suffix to form the *.workers.dev [preview URL](https://developers.cloudflare.com/workers/configuration/previews/) the Worker would serve on once previews are enabled, e.g. `https://&lt;prefix&gt;-my-worker.my-subdomain.workers.dev`. Present whenever the account owns a workers.dev subdomain, regardless of whether `previews_enabled` is true, so presence does not imply preview URLs are currently live. Absent only when the account owns no workers.dev subdomain."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address the Worker would serve on once its *.workers.dev subdomain is enabled. Present whenever the account owns a workers.dev subdomain, regardless of whether `enabled` is true, so presence does not imply the Worker is currently live at this URL. Absent only when the account owns no workers.dev subdomain."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateRequestTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityIssues": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether real-time Issues are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled. Returns null when the trace propagation feature is not enabled for the account."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "issues": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityIssues",
          "traits": {
            "smithy.api#documentation": "Real-time Issues settings for the Worker."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "redact_query_string": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether query strings are removed from request URLs in logs and traces."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDispatchNamespaceOutboundsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDispatchNamespaceOutboundsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDispatchNamespaceOutboundsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDomainsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the custom domain.",
            "smithy.api#required": {}
          }
        },
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the TLS certificate issued for the custom domain.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full hostname of the custom domain, including the zone name.",
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone.",
            "smithy.api#required": {}
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDomainsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDurableObjectsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDurableObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDurableObjectsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesQueuesItem": {
      "type": "structure",
      "members": {
        "queue_consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue consumer configuration.",
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue.",
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesQueuesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesQueuesItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesWorkersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the referencing Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referencing Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesWorkersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesWorkersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferences": {
      "type": "structure",
      "members": {
        "dispatch_namespace_outbounds": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDispatchNamespaceOutboundsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker as an outbound for a dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDomainsList",
          "traits": {
            "smithy.api#documentation": "Custom domains connected to the Worker.",
            "smithy.api#required": {}
          }
        },
        "durable_objects": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDurableObjectsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference Durable Object classes implemented by the Worker.",
            "smithy.api#required": {}
          }
        },
        "queues": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesQueuesList",
          "traits": {
            "smithy.api#documentation": "Queues that send messages to the Worker.",
            "smithy.api#required": {}
          }
        },
        "workers": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesWorkersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker using [service bindings](https://developers.cloudflare.com/workers/runtime-apis/bindings/service-bindings/).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "preview_url_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prepend a version or preview prefix to this host suffix to form the *.workers.dev [preview URL](https://developers.cloudflare.com/workers/configuration/previews/) the Worker would serve on once previews are enabled, e.g. `https://&lt;prefix&gt;-my-worker.my-subdomain.workers.dev`. Present whenever the account owns a workers.dev subdomain, regardless of whether `previews_enabled` is true, so presence does not imply preview URLs are currently live. Absent only when the account owns no workers.dev subdomain."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address the Worker would serve on once its *.workers.dev subdomain is enabled. Present whenever the account owns a workers.dev subdomain, regardless of whether `enabled` is true, so presence does not imply the Worker is currently live at this URL. Absent only when the account owns no workers.dev subdomain."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigCacheOptions": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether caching is enabled for this Worker.",
            "smithy.api#required": {}
          }
        },
        "cross_version_cache": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether cached responses are shared across Worker version uploads. This is independent of `enabled`. It can stay true while caching is off, so the preference survives turning caching off and back on."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigEnvValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigEnvMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigEnvValue"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigLimits": {
      "type": "structure",
      "members": {
        "cpu_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of CPU time this Worker can use in milliseconds."
          }
        },
        "subrequests": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of subrequests this Worker can make per request."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigObservabilityIssues": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether real-time Issues are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled. Returns null when the trace propagation feature is not enabled for the account."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "issues": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigObservabilityIssues",
          "traits": {
            "smithy.api#documentation": "Real-time Issues settings for the Worker."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "redact_query_string": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether query strings are removed from request URLs in logs and traces."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementModeMode": {
      "type": "enum",
      "members": {
        "SMART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smart"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementMode": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementModeMode",
          "traits": {
            "smithy.api#documentation": "Enables [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementRegion": {
      "type": "structure",
      "members": {
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region for targeted placement in format 'provider:region'.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementHostname": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP hostname for targeted placement.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementHost": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP host and port for targeted placement.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase4Mode": {
      "type": "enum",
      "members": {
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase4": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase4Mode",
          "traits": {
            "smithy.api#documentation": "Targeted placement mode.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region for targeted placement in format 'provider:region'.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase5Mode": {
      "type": "enum",
      "members": {
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase5": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP hostname for targeted placement.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase5Mode",
          "traits": {
            "smithy.api#documentation": "Targeted placement mode.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase6Mode": {
      "type": "enum",
      "members": {
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase6": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP host and port for targeted placement.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase6Mode",
          "traits": {
            "smithy.api#documentation": "Targeted placement mode.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase7Mode": {
      "type": "enum",
      "members": {
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase7TargetItemRegion": {
      "type": "structure",
      "members": {
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region in format 'provider:region'.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase7TargetItemHostname": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP hostname for targeted placement.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase7TargetItemHost": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP host:port for targeted placement.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase7TargetItem": {
      "type": "union",
      "members": {
        "Region": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase7TargetItemRegion"
        },
        "Hostname": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase7TargetItemHostname"
        },
        "Host": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase7TargetItemHost"
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase7TargetList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase7TargetItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase7": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase7Mode",
          "traits": {
            "smithy.api#documentation": "Targeted placement mode.",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase7TargetList",
          "traits": {
            "smithy.api#documentation": "Array of placement targets (currently limited to single target).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacement": {
      "type": "union",
      "members": {
        "Mode": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementMode"
        },
        "Region": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementRegion"
        },
        "Hostname": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementHostname"
        },
        "Host": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementHost"
        },
        "BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase4": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase4"
        },
        "BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase5": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase5"
        },
        "BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase6": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase6"
        },
        "BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase7": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacementCase7"
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfig": {
      "type": "structure",
      "members": {
        "cache_options": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigCacheOptions",
          "traits": {
            "smithy.api#documentation": "Cache options used when creating new Previews."
          }
        },
        "env": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigEnvMap",
          "traits": {
            "smithy.api#documentation": "Bindings used when creating new Previews, keyed by binding name."
          }
        },
        "limits": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigLimits",
          "traits": {
            "smithy.api#documentation": "Resource limits enforced at runtime for newly created Previews."
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logpush is enabled when creating new Previews."
          }
        },
        "observability": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings used when creating new Previews."
          }
        },
        "placement": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigPlacement",
          "traits": {
            "smithy.api#documentation": "Placement configuration used when creating new Previews."
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponsePreviewsBaseConfigTailConsumersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that should consume logs from newly created Previews."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityIssues": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether real-time Issues are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled. Returns null when the trace propagation feature is not enabled for the account."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "issues": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityIssues",
          "traits": {
            "smithy.api#documentation": "Real-time Issues settings for the Worker."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "redact_query_string": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether query strings are removed from request URLs in logs and traces."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "preview_url_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prepend a version or preview prefix to this host suffix to form the *.workers.dev [preview URL](https://developers.cloudflare.com/workers/configuration/previews/) the Worker would serve on once previews are enabled, e.g. `https://&lt;prefix&gt;-my-worker.my-subdomain.workers.dev`. Present whenever the account owns a workers.dev subdomain, regardless of whether `previews_enabled` is true, so presence does not imply preview URLs are currently live. Absent only when the account owns no workers.dev subdomain."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address the Worker would serve on once its *.workers.dev subdomain is enabled. Present whenever the account owns a workers.dev subdomain, regardless of whether `enabled` is true, so presence does not imply the Worker is currently live at this URL. Absent only when the account owns no workers.dev subdomain."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditRequestTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigCacheOptions": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether caching is enabled for this Worker.",
            "smithy.api#required": {}
          }
        },
        "cross_version_cache": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether cached responses are shared across Worker version uploads. This is independent of `enabled`. It can stay true while caching is off, so the preference survives turning caching off and back on."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigEnvValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigEnvMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigEnvValue"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigLimits": {
      "type": "structure",
      "members": {
        "cpu_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of CPU time this Worker can use in milliseconds."
          }
        },
        "subrequests": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of subrequests this Worker can make per request."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigObservabilityIssues": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether real-time Issues are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled. Returns null when the trace propagation feature is not enabled for the account."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "issues": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigObservabilityIssues",
          "traits": {
            "smithy.api#documentation": "Real-time Issues settings for the Worker."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "redact_query_string": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether query strings are removed from request URLs in logs and traces."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementModeMode": {
      "type": "enum",
      "members": {
        "SMART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smart"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementMode": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementModeMode",
          "traits": {
            "smithy.api#documentation": "Enables [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementRegion": {
      "type": "structure",
      "members": {
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region for targeted placement in format 'provider:region'.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementHostname": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP hostname for targeted placement.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementHost": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP host and port for targeted placement.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase4Mode": {
      "type": "enum",
      "members": {
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase4": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase4Mode",
          "traits": {
            "smithy.api#documentation": "Targeted placement mode.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region for targeted placement in format 'provider:region'.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase5Mode": {
      "type": "enum",
      "members": {
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase5": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP hostname for targeted placement.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase5Mode",
          "traits": {
            "smithy.api#documentation": "Targeted placement mode.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase6Mode": {
      "type": "enum",
      "members": {
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase6": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP host and port for targeted placement.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase6Mode",
          "traits": {
            "smithy.api#documentation": "Targeted placement mode.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase7Mode": {
      "type": "enum",
      "members": {
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase7TargetItemRegion": {
      "type": "structure",
      "members": {
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region in format 'provider:region'.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase7TargetItemHostname": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP hostname for targeted placement.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase7TargetItemHost": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP host:port for targeted placement.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase7TargetItem": {
      "type": "union",
      "members": {
        "Region": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase7TargetItemRegion"
        },
        "Hostname": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase7TargetItemHostname"
        },
        "Host": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase7TargetItemHost"
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase7TargetList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase7TargetItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase7": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase7Mode",
          "traits": {
            "smithy.api#documentation": "Targeted placement mode.",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase7TargetList",
          "traits": {
            "smithy.api#documentation": "Array of placement targets (currently limited to single target).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacement": {
      "type": "union",
      "members": {
        "Mode": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementMode"
        },
        "Region": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementRegion"
        },
        "Hostname": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementHostname"
        },
        "Host": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementHost"
        },
        "BetaWorkersEditRequestPreviewsBaseConfigPlacementCase4": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase4"
        },
        "BetaWorkersEditRequestPreviewsBaseConfigPlacementCase5": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase5"
        },
        "BetaWorkersEditRequestPreviewsBaseConfigPlacementCase6": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase6"
        },
        "BetaWorkersEditRequestPreviewsBaseConfigPlacementCase7": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacementCase7"
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfig": {
      "type": "structure",
      "members": {
        "cache_options": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigCacheOptions",
          "traits": {
            "smithy.api#documentation": "Cache options used when creating new Previews."
          }
        },
        "env": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigEnvMap",
          "traits": {
            "smithy.api#documentation": "Bindings used when creating new Previews, keyed by binding name."
          }
        },
        "limits": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigLimits",
          "traits": {
            "smithy.api#documentation": "Resource limits enforced at runtime for newly created Previews."
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logpush is enabled when creating new Previews."
          }
        },
        "observability": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings used when creating new Previews."
          }
        },
        "placement": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigPlacement",
          "traits": {
            "smithy.api#documentation": "Placement configuration used when creating new Previews."
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestPreviewsBaseConfigTailConsumersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that should consume logs from newly created Previews."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityIssues": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether real-time Issues are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityTracesPropagationPolicy",
          "traits": {
[...]
