{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "allowedDestinationAddresses": "allowed_destination_addresses",
      "allowedSenderAddresses": "allowed_sender_addresses",
      "appId": "app_id",
      "bodyPart": "body_part",
      "bucketName": "bucket_name",
      "certificateId": "certificate_id",
      "className": "class_name",
      "compatibilityDate": "compatibility_date",
      "compatibilityFlags": "compatibility_flags",
      "cpuMs": "cpu_ms",
      "createdBy": "created_by",
      "createdOn": "created_on",
      "databaseId": "database_id",
      "deletedClasses": "deleted_classes",
      "destinationAddress": "destination_address",
      "dispatchNamespace": "dispatch_namespace",
      "entryPoint": "entry_point",
      "fromScript": "from_script",
      "hasAssets": "has_assets",
      "hasModules": "has_modules",
      "headSamplingRate": "head_sampling_rate",
      "htmlHandling": "html_handling",
      "indexName": "index_name",
      "instanceName": "instance_name",
      "invocationLogs": "invocation_logs",
      "keepAssets": "keep_assets",
      "keepBindings": "keep_bindings",
      "keyBase64": "key_base64",
      "keyJwk": "key_jwk",
      "lastAnalyzedAt": "last_analyzed_at",
      "lastDeployedFrom": "last_deployed_from",
      "mainModule": "main_module",
      "migrationTag": "migration_tag",
      "mitigationTimeout": "mitigation_timeout",
      "modifiedBy": "modified_by",
      "modifiedOn": "modified_on",
      "namedHandlers": "named_handlers",
      "namespaceId": "namespace_id",
      "namespaceName": "namespace_name",
      "networkId": "network_id",
      "newClasses": "new_classes",
      "newSqliteClasses": "new_sqlite_classes",
      "newTag": "new_tag",
      "notFoundHandling": "not_found_handling",
      "oldName": "old_name",
      "oldTag": "old_tag",
      "placementMode": "placement_mode",
      "placementStatus": "placement_status",
      "propagationPolicy": "propagation_policy",
      "queueName": "queue_name",
      "renamedClasses": "renamed_classes",
      "runWorkerFirst": "run_worker_first",
      "scriptCount": "script_count",
      "scriptName": "script_name",
      "secretName": "secret_name",
      "serveDirectly": "serve_directly",
      "serviceId": "service_id",
      "startupTimeMs": "startup_time_ms",
      "storeId": "store_id",
      "tailConsumers": "tail_consumers",
      "transferredClasses": "transferred_classes",
      "trustedWorkers": "trusted_workers",
      "tunnelId": "tunnel_id",
      "usageModel": "usage_model",
      "versionId": "version_id",
      "versionTags": "version_tags",
      "workflowName": "workflow_name"
    },
    "distilled.finalized": true
  },
  "shapes": {
    "com.cloudflare.workers_for_platforms#DispatchNamespacesListResultItem": {
      "type": "structure",
      "members": {
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "modified_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API Resource UUID tag."
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace."
          }
        },
        "script_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The current number of scripts in this Dispatch Namespace."
          }
        },
        "trusted_workers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Workers in the namespace are executed in a \"trusted\" manner. When a Worker is trusted, it has access to the shared caches for the zone in the Cache API, and has access to the `request.cf` object on incoming Requests. When a Worker is untrusted, caches are not shared across the zone, and `request.cf` is undefined. By default, Workers in a namespace are \"untrusted\"."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesListResultItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptCacheOptions": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether caching is enabled for this Worker.",
            "smithy.api#required": {}
          }
        },
        "cross_version_cache": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether cached responses are shared across Worker version uploads. This is independent of `enabled`. It can stay true while caching is off, so the preference survives turning caching off and back on."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptCompatibilityFlagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkerCache": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether caching is enabled for this entrypoint.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkerState": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorker": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkerType",
          "traits": {
            "smithy.api#documentation": "Marks this entry as a Worker entrypoint export.",
            "smithy.api#required": {}
          }
        },
        "cache": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkerCache",
          "traits": {
            "smithy.api#documentation": "Cache override for this entrypoint. Overrides the Worker's global `cache_options.enabled` for this entrypoint only."
          }
        },
        "state": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkerState",
          "traits": {
            "smithy.api#documentation": "Live export. May be omitted; defaults to `created`."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectExportStorage": {
      "type": "enum",
      "members": {
        "SQLITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sqlite"
          }
        },
        "LEGACY_KV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legacy-kv"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectExportType": {
      "type": "enum",
      "members": {
        "DURABLE_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "durable-object"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectExportState": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectExport": {
      "type": "structure",
      "members": {
        "storage": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectExportStorage",
          "traits": {
            "smithy.api#documentation": "Durable Object storage backend. `sqlite` is the recommended (and only) backend for new namespaces. `legacy-kv` is accepted only for a class whose namespace already exists as KV-backed; the `exports` flow never provisions a new `legacy-kv` namespace.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectExportType",
          "traits": {
            "smithy.api#documentation": "Marks this entry as a Durable Object export.",
            "smithy.api#required": {}
          }
        },
        "container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the container (declared in the upload's `metadata.containers`) that backs this Durable Object. When set, the namespace is container-enabled. Valid only on live entries."
          }
        },
        "state": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectExportState",
          "traits": {
            "smithy.api#documentation": "Live export. May be omitted; defaults to `created`."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectDeletedExportState": {
      "type": "enum",
      "members": {
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectDeletedExportType": {
      "type": "enum",
      "members": {
        "DURABLE_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "durable-object"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectDeletedExport": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectDeletedExportState",
          "traits": {
            "smithy.api#documentation": "Tombstone that deletes the namespace.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectDeletedExportType",
          "traits": {
            "smithy.api#documentation": "Marks this entry as a Durable Object export.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectRenamedExportState": {
      "type": "enum",
      "members": {
        "RENAMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "renamed"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectRenamedExportType": {
      "type": "enum",
      "members": {
        "DURABLE_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "durable-object"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectRenamedExport": {
      "type": "structure",
      "members": {
        "renamed_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The destination class name. Must differ from the source class (the map key) and must be declared as a live (`created`) entry in the same `exports` map. Write-only: never present in GET responses.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectRenamedExportState",
          "traits": {
            "smithy.api#documentation": "Tombstone that renames the namespace's class.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectRenamedExportType",
          "traits": {
            "smithy.api#documentation": "Marks this entry as a Durable Object export.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectTransferredExportState": {
      "type": "enum",
      "members": {
        "TRANSFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transferred"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectTransferredExportType": {
      "type": "enum",
      "members": {
        "DURABLE_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "durable-object"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectTransferredExport": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectTransferredExportState",
          "traits": {
            "smithy.api#documentation": "Tombstone that transfers the namespace to another script.",
            "smithy.api#required": {}
          }
        },
        "transferred_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The destination script name. Must be in the same account and the same dispatch-namespace context (or both non-dispatch). Cross-dispatch-namespace transfers are rejected. Write-only: never present in GET responses.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectTransferredExportType",
          "traits": {
            "smithy.api#documentation": "Marks this entry as a Durable Object export.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectExpectingTransferExportState": {
      "type": "enum",
      "members": {
        "EXPECTING_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expecting-transfer"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectExpectingTransferExportStorage": {
      "type": "enum",
      "members": {
        "SQLITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sqlite"
          }
        },
        "LEGACY_KV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legacy-kv"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectExpectingTransferExportType": {
      "type": "enum",
      "members": {
        "DURABLE_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "durable-object"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectExpectingTransferExport": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectExpectingTransferExportState",
          "traits": {
            "smithy.api#documentation": "Target side of a two-phase transfer.",
            "smithy.api#required": {}
          }
        },
        "storage": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectExpectingTransferExportStorage",
          "traits": {
            "smithy.api#documentation": "Durable Object storage backend. `sqlite` is the recommended (and only) backend for new namespaces. `legacy-kv` is accepted only for a class whose namespace already exists as KV-backed; the `exports` flow never provisions a new `legacy-kv` namespace.",
            "smithy.api#required": {}
          }
        },
        "transfer_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source script name to receive the namespace from. Must be in the same account and dispatch-namespace context. Present on reads for `expecting-transfer` entries.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectExpectingTransferExportType",
          "traits": {
            "smithy.api#documentation": "Marks this entry as a Durable Object export.",
            "smithy.api#required": {}
          }
        },
        "container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the container (declared in the upload's `metadata.containers`) that backs this Durable Object once the transfer settles. Valid only on live entries."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValue": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorker"
        },
        "WorkersDurableObjectExport": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectExport"
        },
        "WorkersDurableObjectDeletedExport": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectDeletedExport"
        },
        "WorkersDurableObjectRenamedExport": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectRenamedExport"
        },
        "WorkersDurableObjectTransferredExport": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectTransferredExport"
        },
        "WorkersDurableObjectExpectingTransferExport": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValueWorkersDurableObjectExpectingTransferExport"
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsValue"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptHandlersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptNamedHandlersItemHandlersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptNamedHandlersItem": {
      "type": "structure",
      "members": {
        "handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptNamedHandlersItemHandlersList",
          "traits": {
            "smithy.api#documentation": "The names of handlers exported as part of the named export."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the export."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptNamedHandlersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptNamedHandlersItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityIssues": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether real-time Issues are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityLogs": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "destinations": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled. Returns null when the trace propagation feature is not enabled for the account."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for incoming requests. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "issues": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityIssues",
          "traits": {
            "smithy.api#documentation": "Real-time Issues settings for the Worker."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "redact_query_string": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether query strings are removed from request URLs in logs and traces."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase0Mode": {
      "type": "enum",
      "members": {
        "SMART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smart"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase0Status": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase0": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase0Mode",
          "traits": {
            "smithy.api#documentation": "Enables [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).",
            "smithy.api#required": {}
          }
        },
        "last_analyzed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the script was analyzed for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "status": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase0Status",
          "traits": {
            "smithy.api#documentation": "Status of [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase1Status": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase1": {
      "type": "structure",
      "members": {
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region for targeted placement in format 'provider:region'.",
            "smithy.api#required": {}
          }
        },
        "last_analyzed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the script was analyzed for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "status": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase1Status",
          "traits": {
            "smithy.api#documentation": "Status of [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase2Status": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase2": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP hostname for targeted placement.",
            "smithy.api#required": {}
          }
        },
        "last_analyzed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the script was analyzed for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "status": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase2Status",
          "traits": {
            "smithy.api#documentation": "Status of [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase3Status": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase3": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP host and port for targeted placement.",
            "smithy.api#required": {}
          }
        },
        "last_analyzed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the script was analyzed for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "status": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase3Status",
          "traits": {
            "smithy.api#documentation": "Status of [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase4Mode": {
      "type": "enum",
      "members": {
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase4Status": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase4": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase4Mode",
          "traits": {
            "smithy.api#documentation": "Targeted placement mode.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region for targeted placement in format 'provider:region'.",
            "smithy.api#required": {}
          }
        },
        "last_analyzed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the script was analyzed for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "status": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase4Status",
          "traits": {
            "smithy.api#documentation": "Status of [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase5Mode": {
      "type": "enum",
      "members": {
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase5Status": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase5": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP hostname for targeted placement.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase5Mode",
          "traits": {
            "smithy.api#documentation": "Targeted placement mode.",
            "smithy.api#required": {}
          }
        },
        "last_analyzed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the script was analyzed for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "status": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase5Status",
          "traits": {
            "smithy.api#documentation": "Status of [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase6Mode": {
      "type": "enum",
      "members": {
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase6Status": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase6": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP host and port for targeted placement.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase6Mode",
          "traits": {
            "smithy.api#documentation": "Targeted placement mode.",
            "smithy.api#required": {}
          }
        },
        "last_analyzed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the script was analyzed for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "status": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase6Status",
          "traits": {
            "smithy.api#documentation": "Status of [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase7Mode": {
      "type": "enum",
      "members": {
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase7TargetItemRegion": {
      "type": "structure",
      "members": {
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region in format 'provider:region'.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase7TargetItemHostname": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP hostname for targeted placement.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase7TargetItemHost": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP host:port for targeted placement.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase7TargetItem": {
      "type": "union",
      "members": {
        "Region": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase7TargetItemRegion"
        },
        "Hostname": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase7TargetItemHostname"
        },
        "Host": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase7TargetItemHost"
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase7TargetList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase7TargetItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase7Status": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase7": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase7Mode",
          "traits": {
            "smithy.api#documentation": "Targeted placement mode.",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase7TargetList",
          "traits": {
            "smithy.api#documentation": "Array of placement targets (currently limited to single target).",
            "smithy.api#required": {}
          }
        },
        "last_analyzed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the script was analyzed for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "status": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase7Status",
          "traits": {
            "smithy.api#documentation": "Status of [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacement": {
      "type": "union",
      "members": {
        "DispatchNamespacesScriptsGetResponseScriptPlacementCase0": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase0"
        },
        "DispatchNamespacesScriptsGetResponseScriptPlacementCase1": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase1"
        },
        "DispatchNamespacesScriptsGetResponseScriptPlacementCase2": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase2"
        },
        "DispatchNamespacesScriptsGetResponseScriptPlacementCase3": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase3"
        },
        "DispatchNamespacesScriptsGetResponseScriptPlacementCase4": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase4"
        },
        "DispatchNamespacesScriptsGetResponseScriptPlacementCase5": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase5"
        },
        "DispatchNamespacesScriptsGetResponseScriptPlacementCase6": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase6"
        },
        "DispatchNamespacesScriptsGetResponseScriptPlacementCase7": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementCase7"
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementMode": {
      "type": "enum",
      "members": {
        "SMART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smart"
          }
        },
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptTailConsumersItem": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of Worker that is to be the consumer.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional environment if the Worker utilizes one."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional dispatch namespace the script belongs to."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptTailConsumersItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptUsageModel": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "BUNDLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundled"
          }
        },
        "UNBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unbound"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScript": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name used to identify the script."
          }
        },
        "cache_options": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptCacheOptions",
          "traits": {
            "smithy.api#documentation": "Global CacheW configuration for the Worker. When caching is on, the platform provisions a `cloudflare.app` zone for the Worker. A `type: worker` entry in the `exports` map can override this value for a single entrypoint."
          }
        },
        "compatibility_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date indicating targeted support in the Workers runtime. Backwards incompatible fixes to the runtime following this date will not affect this Worker."
          }
        },
        "compatibility_flags": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptCompatibilityFlagsList",
          "traits": {
            "smithy.api#documentation": "Flags that enable or disable certain features in the Workers runtime. Used to enable upcoming features or opt in or out of specific changes not included in a `compatibility_date`."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hashed script content, can be used in a If-None-Match header when updating."
          }
        },
        "exports": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptExportsMap",
          "traits": {
            "smithy.api#documentation": "Declarative exports for the Worker's most recent version, including Durable Object classes (with their `storage` backend) and named Worker entrypoints. Tombstoned lifecycle entries are omitted, so only live exports (`created` and `expecting-transfer`) are returned."
          }
        },
        "handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptHandlersList",
          "traits": {
            "smithy.api#documentation": "The names of handlers exported as part of the default export."
          }
        },
        "has_assets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a Worker contains assets."
          }
        },
        "has_modules": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a Worker contains modules."
          }
        },
        "last_deployed_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client most recently used to deploy this Worker."
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Logpush is turned on for the Worker."
          }
        },
        "migration_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tag of the Durable Object migration that was most recently applied for this Worker."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "named_handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptNamedHandlersList",
          "traits": {
            "smithy.api#documentation": "Named exports, such as Durable Object class implementations and named entrypoints."
          }
        },
        "observability": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker."
          }
        },
        "placement": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacement",
          "traits": {
            "smithy.api#documentation": "Configuration for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement). Specify mode='smart' for Smart Placement, or one of region/hostname/host."
          }
        },
        "placement_mode": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementMode",
          "traits": {
            "smithy.api#documentation": "Configuration for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement). Specify mode='smart' for Smart Placement, or one of region/hostname/host."
          }
        },
        "placement_status": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementStatus",
          "traits": {
            "smithy.api#documentation": "Status of [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The immutable ID of the script."
          }
        },
        "tags": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker."
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptTailConsumersList",
          "traits": {
            "smithy.api#documentation": "List of Workers that will consume logs from the attached Worker."
          }
        },
        "usage_model": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptUsageModel",
          "traits": {
            "smithy.api#documentation": "Usage model for the Worker invocations."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestBindingsInherit": {
      "type": "enum",
      "members": {
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "strict"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataAssetsConfigHtmlHandling": {
      "type": "enum",
      "members": {
        "AUTO_TRAILING_SLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto-trailing-slash"
          }
        },
        "FORCE_TRAILING_SLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "force-trailing-slash"
          }
        },
        "DROP_TRAILING_SLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drop-trailing-slash"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataAssetsConfigNotFoundHandling": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "_404_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "404-page"
          }
        },
        "SINGLE_PAGE_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "single-page-application"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataAssetsConfigRunWorkerFirstCase0List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataAssetsConfigRunWorkerFirst": {
      "type": "union",
      "members": {
        "Boolean": {
          "target": "smithy.api#Boolean"
        },
        "DispatchNamespacesScriptsUpdateRequestMetadataAssetsConfigRunWorkerFirstCase0List": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataAssetsConfigRunWorkerFirstCase0List"
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataAssetsConfig": {
      "type": "structure",
      "members": {
        "_headers": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contents of a _headers file (used to attach custom headers on asset responses)."
          }
        },
        "_redirects": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contents of a _redirects file (used to apply redirects or proxy paths ahead of asset serving)."
          }
        },
        "base_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The public URL path prefix under which assets are served. A null request value resets it to `/`; responses represent the root as `/`. All versions in a gradual deployment must use the same canonical value. To change it, first deploy the version containing the change at 100%."
          }
        },
        "html_handling": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataAssetsConfigHtmlHandling",
          "traits": {
            "smithy.api#documentation": "Determines the redirects and rewrites of requests for HTML content."
          }
        },
        "not_found_handling": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataAssetsConfigNotFoundHandling",
          "traits": {
            "smithy.api#documentation": "Determines the response when a request does not match a static asset, and there is no Worker script."
          }
        },
        "run_worker_first": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataAssetsConfigRunWorkerFirst",
          "traits": {
            "smithy.api#documentation": "Contains a list path rules to control routing to either the Worker or assets. Glob (*) and negative (!) rules are supported. Rules must start with either '/' or '!/'. At least one non-negative rule must be provided, and negative rules have higher precedence than non-negative rules."
          }
        },
        "serve_directly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true and the incoming request matches an asset, that will be served instead of invoking the Worker script. When false, requests will always invoke the Worker script."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataAssets": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataAssetsConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for assets within a Worker."
          }
        },
        "jwt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token provided upon successful upload of all files from a registered manifest."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemAIType": {
      "type": "enum",
      "members": {
        "AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemAI": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemAIType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemAISearchType": {
      "type": "enum",
      "members": {
        "AI_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_search"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemAISearch": {
      "type": "structure",
      "members": {
        "instance_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-chosen instance name. Must exist at deploy time. The worker can search, chat, update, and manage items/jobs on this instance.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemAISearchType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The namespace the instance belongs to. Defaults to \"default\" if omitted. Customers who don't use namespaces can simply omit this field."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemAISearchNamespaceType": {
      "type": "enum",
      "members": {
        "AI_SEARCH_NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_search_namespace"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemAISearchNamespace": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-chosen namespace name. Must exist before deploy — Wrangler handles auto-creation on deploy failure (R2 bucket pattern). The \"default\" namespace is auto-created by config-api for new accounts. Grants full access (CRUD + search + chat) to all instances within the namespace.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemAISearchNamespaceType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemMessagingType": {
      "type": "enum",
      "members": {
        "MESSAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "messaging"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemMessaging": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Messaging namespace to bind to.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemMessagingType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemAnalyticsEngineType": {
      "type": "enum",
      "members": {
        "ANALYTICS_ENGINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "analytics_engine"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemAnalyticsEngine": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the dataset to bind to.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemAnalyticsEngineType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemArtifactsType": {
      "type": "enum",
      "members": {
        "ARTIFACTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "artifacts"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemArtifacts": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Artifacts namespace exposed to the Worker in the Worker's account. Must be 2-63 characters, start with an ASCII alphanumeric character, contain only ASCII alphanumeric characters, dots, underscores, and hyphens, and must not end with a hyphen. The namespace does not need to be created before binding it.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemArtifactsType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemAssetsType": {
      "type": "enum",
      "members": {
        "ASSETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assets"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemAssets": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemAssetsType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemBrowserType": {
      "type": "enum",
      "members": {
        "BROWSER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "browser"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemBrowser": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemBrowserType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemD1Type": {
      "type": "enum",
      "members": {
        "D1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "d1"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemD1": {
      "type": "structure",
      "members": {
        "database_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the D1 database to bind to.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemD1Type",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This property has been renamed to `database_id`."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemDataBlobType": {
      "type": "enum",
      "members": {
        "DATA_BLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data_blob"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemDataBlob": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "part": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the file containing the data content. Only accepted for `service worker syntax` Workers.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemDataBlobType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemDispatchNamespaceType": {
      "type": "enum",
      "members": {
        "DISPATCH_NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dispatch_namespace"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemDispatchNamespaceOutboundParamsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the parameter.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemDispatchNamespaceOutboundParamsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemDispatchNamespaceOutboundParamsItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemDispatchNamespaceOutboundWorker": {
      "type": "structure",
      "members": {
        "entrypoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Entrypoint to invoke on the outbound worker."
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Environment of the outbound worker."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the outbound worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemDispatchNamespaceOutbound": {
      "type": "structure",
      "members": {
        "params": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemDispatchNamespaceOutboundParamsList",
          "traits": {
            "smithy.api#documentation": "Pass information from the Dispatch Worker to the Outbound Worker through the parameters."
          }
        },
        "worker": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemDispatchNamespaceOutboundWorker",
          "traits": {
            "smithy.api#documentation": "Outbound worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemDispatchNamespace": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemDispatchNamespaceType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        },
        "outbound": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemDispatchNamespaceOutbound",
          "traits": {
            "smithy.api#documentation": "Outbound worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemDurableObjectNamespaceType": {
      "type": "enum",
      "members": {
        "DURABLE_OBJECT_NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "durable_object_namespace"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemDurableObjectNamespace": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemDurableObjectNamespaceType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        },
        "class_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The exported class name of the Durable Object."
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The dispatch namespace the Durable Object script belongs to."
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The environment of the script_name to bind to."
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag."
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The script where the Durable Object is defined, if it is external to this Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemHyperdriveType": {
      "type": "enum",
      "members": {
        "HYPERDRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hyperdrive"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemHyperdrive": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the Hyperdrive connection to bind to.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemHyperdriveType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemInheritType": {
      "type": "enum",
      "members": {
        "INHERIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inherit"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemInherit": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the inherited binding.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemInheritType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        },
        "old_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The old name of the inherited binding. If set, the binding will be renamed from `old_name` to `name` in the new version. If not set, the binding will keep the same name between versions."
          }
        },
        "version_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the version to inherit the binding from, which can be the version ID or the literal \"latest\" to inherit from the latest version. Defaults to inheriting the binding from the latest version."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemImagesType": {
      "type": "enum",
      "members": {
        "IMAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "images"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemImages": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemImagesType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemJsonType": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemJson": {
      "type": "structure",
      "members": {
        "json": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "JSON data to use.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemJsonType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemKVNamespaceType": {
      "type": "enum",
      "members": {
        "KV_NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kv_namespace"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemKVNamespace": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemKVNamespaceType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemMediaType": {
      "type": "enum",
      "members": {
        "MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemMedia": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemMediaType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemMTLSCertificateType": {
      "type": "enum",
      "members": {
        "MTLS_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mtls_certificate"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemMTLSCertificate": {
      "type": "structure",
      "members": {
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the certificate to bind to.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemMTLSCertificateType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemPlainTextType": {
      "type": "enum",
      "members": {
        "PLAIN_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain_text"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemPlainText": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text value to use.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemPlainTextType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemPipelinesType": {
      "type": "enum",
      "members": {
        "PIPELINES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pipelines"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemPipelines": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "pipeline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Pipeline to bind to.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemPipelinesType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemK2Type": {
      "type": "enum",
      "members": {
        "K2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "k2"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemK2": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "stream": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of a K2 stream owned by the account deploying the Worker.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemK2Type",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemQueueType": {
      "type": "enum",
      "members": {
        "QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queue"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemQueue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Queue to bind to.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemQueueType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemRatelimitSimple": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The limit (requests per period).",
            "smithy.api#required": {}
          }
        },
        "period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The period in seconds.",
            "smithy.api#required": {}
          }
        },
        "mitigation_timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Duration in seconds to apply the mitigation action after the rate limit is exceeded. Valid values are 0 (disabled), 10, or multiples of 60 up to 86400. Must be greater than or equal to the period when non-zero."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestMetadataBindingsItemRatelimitType": {
      "type": "enum",
      "members": {
        "RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ratelimit"
          }
        }
      }
    },
[...]
