{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "acceptAll": "accept_all",
      "confirmMyChoices": "confirm_my_choices",
      "rejectAll": "reject_all"
    },
    "distilled.finalized": true
  },
  "shapes": {
    "com.cloudflare.zaraz#UpdateRequestWorkflow": {
      "type": "enum",
      "members": {
        "REALTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "realtime"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      }
    },
    "com.cloudflare.zaraz#UpdateResult": {
      "type": "enum",
      "members": {
        "REALTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "realtime"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseSettingsContextEnricher": {
      "type": "structure",
      "members": {
        "escapedWorkerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workerTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseSettings": {
      "type": "structure",
      "members": {
        "autoInjectScript": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Automatic injection of Zaraz scripts enabled.",
            "smithy.api#required": {}
          }
        },
        "contextEnricher": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseSettingsContextEnricher",
          "traits": {
            "smithy.api#documentation": "Details of the worker that receives and edits Zaraz Context object."
          }
        },
        "cookieDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain Zaraz will use for writing and reading its cookies."
          }
        },
        "ecommerce": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ecommerce API enabled."
          }
        },
        "eventsApiPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for server-side track events."
          }
        },
        "hideExternalReferer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Hiding external referrer URL enabled."
          }
        },
        "hideIPAddress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Trimming IP address enabled."
          }
        },
        "hideQueryParams": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Removing URL query params enabled."
          }
        },
        "hideUserAgent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Removing sensitive data from User Agent string enabled."
          }
        },
        "initPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz init script."
          }
        },
        "injectIframes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Injection of Zaraz scripts into iframes enabled."
          }
        },
        "mcRootPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom path for Managed Components server functionalities."
          }
        },
        "scriptPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz main script."
          }
        },
        "trackPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz tracking requests."
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentDefaultFieldsValue": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentDefaultFieldsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentDefaultFieldsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentSettingsValue": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentSettingsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentType": {
      "type": "enum",
      "members": {
        "COMPONENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "component"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentActionsValueBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentActionsValueFiringTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentActionsValue": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool event type.",
            "smithy.api#required": {}
          }
        },
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentActionsValueBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking triggers IDs.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Event payload.",
            "smithy.api#required": {}
          }
        },
        "firingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentActionsValueFiringTriggersList",
          "traits": {
            "smithy.api#documentation": "List of firing triggers IDs.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentActionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentActionsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentNeoEventsItemBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentNeoEventsItemFiringTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentNeoEventsItem": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool event type.",
            "smithy.api#required": {}
          }
        },
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentNeoEventsItemBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking triggers IDs.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Event payload.",
            "smithy.api#required": {}
          }
        },
        "firingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentNeoEventsItemFiringTriggersList",
          "traits": {
            "smithy.api#documentation": "List of firing triggers IDs.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentNeoEventsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentNeoEventsItem"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponent": {
      "type": "structure",
      "members": {
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking trigger IDs.",
            "smithy.api#required": {}
          }
        },
        "component": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool's internal name.",
            "smithy.api#required": {}
          }
        },
        "defaultFields": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentDefaultFieldsMap",
          "traits": {
            "smithy.api#documentation": "Default fields for tool's actions.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether tool is enabled.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool's name defined by the user.",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentPermissionsList",
          "traits": {
            "smithy.api#documentation": "List of permissions granted to the component.",
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentSettingsMap",
          "traits": {
            "smithy.api#documentation": "Tool's settings.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentActionsMap",
          "traits": {
            "smithy.api#documentation": "Actions configured on a tool. Either this or neoEvents field is required."
          }
        },
        "defaultPurpose": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default consent purpose ID."
          }
        },
        "neoEvents": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponentNeoEventsList",
          "traits": {
            "smithy.api#documentation": "DEPRECATED - List of actions configured on a tool. Either this or actions field is required. If both are present, actions field will take precedence."
          }
        },
        "vendorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor name for TCF compliant consent modal, required for Custom Managed Components and Custom HTML tool with a defaultPurpose assigned."
          }
        },
        "vendorPolicyUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor's Privacy Policy URL for TCF compliant consent modal, required for Custom Managed Components and Custom HTML tool with a defaultPurpose assigned."
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerDefaultFieldsValue": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerDefaultFieldsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerDefaultFieldsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerSettingsValue": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerSettingsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerType": {
      "type": "enum",
      "members": {
        "CUSTOM_MC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom-mc"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerWorker": {
      "type": "structure",
      "members": {
        "escapedWorkerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workerTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerActionsValueBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerActionsValueFiringTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerActionsValue": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool event type.",
            "smithy.api#required": {}
          }
        },
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerActionsValueBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking triggers IDs.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Event payload.",
            "smithy.api#required": {}
          }
        },
        "firingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerActionsValueFiringTriggersList",
          "traits": {
            "smithy.api#documentation": "List of firing triggers IDs.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerActionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerActionsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerNeoEventsItemBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerNeoEventsItemFiringTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerNeoEventsItem": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool event type.",
            "smithy.api#required": {}
          }
        },
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerNeoEventsItemBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking triggers IDs.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Event payload.",
            "smithy.api#required": {}
          }
        },
        "firingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerNeoEventsItemFiringTriggersList",
          "traits": {
            "smithy.api#documentation": "List of firing triggers IDs.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerNeoEventsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerNeoEventsItem"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorker": {
      "type": "structure",
      "members": {
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking trigger IDs.",
            "smithy.api#required": {}
          }
        },
        "component": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool's internal name.",
            "smithy.api#required": {}
          }
        },
        "defaultFields": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerDefaultFieldsMap",
          "traits": {
            "smithy.api#documentation": "Default fields for tool's actions.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether tool is enabled.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool's name defined by the user.",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerPermissionsList",
          "traits": {
            "smithy.api#documentation": "List of permissions granted to the component.",
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerSettingsMap",
          "traits": {
            "smithy.api#documentation": "Tool's settings.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "worker": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerWorker",
          "traits": {
            "smithy.api#documentation": "Cloudflare worker that acts as a managed component.",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerActionsMap",
          "traits": {
            "smithy.api#documentation": "Actions configured on a tool. Either this or neoEvents field is required."
          }
        },
        "defaultPurpose": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default consent purpose ID."
          }
        },
        "neoEvents": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorkerNeoEventsList",
          "traits": {
            "smithy.api#documentation": "DEPRECATED - List of actions configured on a tool. Either this or actions field is required. If both are present, actions field will take precedence."
          }
        },
        "vendorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor name for TCF compliant consent modal, required for Custom Managed Components and Custom HTML tool with a defaultPurpose assigned."
          }
        },
        "vendorPolicyUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor's Privacy Policy URL for TCF compliant consent modal, required for Custom Managed Components and Custom HTML tool with a defaultPurpose assigned."
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsValue": {
      "type": "union",
      "members": {
        "ZarazManagedComponent": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueZarazManagedComponent"
        },
        "Worker": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValueWorker"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseToolsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazLoadRuleOp": {
      "type": "enum",
      "members": {
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTS_WITH"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDS_WITH"
          }
        },
        "MATCH_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_REGEX"
          }
        },
        "NOT_MATCH_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_MATCH_REGEX"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        },
        "GREATER_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN_OR_EQUAL"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "LESS_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_OR_EQUAL"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazLoadRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "match": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "op": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazLoadRuleOp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazClickListenerRuleAction": {
      "type": "enum",
      "members": {
        "CLICKLISTENER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickListener"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazClickListenerRuleSettingsType": {
      "type": "enum",
      "members": {
        "XPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xpath"
          }
        },
        "CSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "css"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazClickListenerRuleSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazClickListenerRuleSettingsType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "waitForTags": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazClickListenerRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazClickListenerRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazClickListenerRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazTimerRuleAction": {
      "type": "enum",
      "members": {
        "TIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timer"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazTimerRuleSettings": {
      "type": "structure",
      "members": {
        "interval": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazTimerRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazTimerRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazTimerRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazFormSubmissionRuleAction": {
      "type": "enum",
      "members": {
        "FORMSUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formSubmission"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazFormSubmissionRuleSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazFormSubmissionRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazFormSubmissionRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazFormSubmissionRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazVariableMatchRuleAction": {
      "type": "enum",
      "members": {
        "VARIABLEMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "variableMatch"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazVariableMatchRuleSettings": {
      "type": "structure",
      "members": {
        "match": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazVariableMatchRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazVariableMatchRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazVariableMatchRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazScrollDepthRuleAction": {
      "type": "enum",
      "members": {
        "SCROLLDEPTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scrollDepth"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazScrollDepthRuleSettings": {
      "type": "structure",
      "members": {
        "positions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazScrollDepthRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazScrollDepthRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazScrollDepthRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazElementVisibilityRuleAction": {
      "type": "enum",
      "members": {
        "ELEMENTVISIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elementVisibility"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazElementVisibilityRuleSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazElementVisibilityRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazElementVisibilityRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazElementVisibilityRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItem": {
      "type": "union",
      "members": {
        "ZarazLoadRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazLoadRule"
        },
        "ZarazClickListenerRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazClickListenerRule"
        },
        "ZarazTimerRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazTimerRule"
        },
        "ZarazFormSubmissionRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazFormSubmissionRule"
        },
        "ZarazVariableMatchRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazVariableMatchRule"
        },
        "ZarazScrollDepthRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazScrollDepthRule"
        },
        "ZarazElementVisibilityRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazElementVisibilityRule"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItem"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazLoadRuleOp": {
      "type": "enum",
      "members": {
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTS_WITH"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDS_WITH"
          }
        },
        "MATCH_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_REGEX"
          }
        },
        "NOT_MATCH_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_MATCH_REGEX"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        },
        "GREATER_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN_OR_EQUAL"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "LESS_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_OR_EQUAL"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazLoadRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "match": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "op": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazLoadRuleOp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazClickListenerRuleAction": {
      "type": "enum",
      "members": {
        "CLICKLISTENER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickListener"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazClickListenerRuleSettingsType": {
      "type": "enum",
      "members": {
        "XPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xpath"
          }
        },
        "CSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "css"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazClickListenerRuleSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazClickListenerRuleSettingsType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "waitForTags": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazClickListenerRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazClickListenerRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazClickListenerRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazTimerRuleAction": {
      "type": "enum",
      "members": {
        "TIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timer"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazTimerRuleSettings": {
      "type": "structure",
      "members": {
        "interval": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazTimerRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazTimerRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazTimerRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazFormSubmissionRuleAction": {
      "type": "enum",
      "members": {
        "FORMSUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formSubmission"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazFormSubmissionRuleSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazFormSubmissionRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazFormSubmissionRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazFormSubmissionRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazVariableMatchRuleAction": {
      "type": "enum",
      "members": {
        "VARIABLEMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "variableMatch"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazVariableMatchRuleSettings": {
      "type": "structure",
      "members": {
        "match": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazVariableMatchRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazVariableMatchRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazVariableMatchRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazScrollDepthRuleAction": {
      "type": "enum",
      "members": {
        "SCROLLDEPTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scrollDepth"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazScrollDepthRuleSettings": {
      "type": "structure",
      "members": {
        "positions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazScrollDepthRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazScrollDepthRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazScrollDepthRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazElementVisibilityRuleAction": {
      "type": "enum",
      "members": {
        "ELEMENTVISIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elementVisibility"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazElementVisibilityRuleSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazElementVisibilityRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazElementVisibilityRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazElementVisibilityRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItem": {
      "type": "union",
      "members": {
        "ZarazLoadRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazLoadRule"
        },
        "ZarazClickListenerRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazClickListenerRule"
        },
        "ZarazTimerRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazTimerRule"
        },
        "ZarazFormSubmissionRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazFormSubmissionRule"
        },
        "ZarazVariableMatchRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazVariableMatchRule"
        },
        "ZarazScrollDepthRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazScrollDepthRule"
        },
        "ZarazElementVisibilityRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazElementVisibilityRule"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItem"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueSystem": {
      "type": "enum",
      "members": {
        "PAGELOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pageload"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValue": {
      "type": "structure",
      "members": {
        "excludeRules": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesList",
          "traits": {
            "smithy.api#documentation": "Rules defining when the trigger is not fired.",
            "smithy.api#required": {}
          }
        },
        "loadRules": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesList",
          "traits": {
            "smithy.api#documentation": "Rules defining when the trigger is fired.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger description."
          }
        },
        "system": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueSystem"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValue"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseVariablesValueStringType": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseVariablesValueString": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseVariablesValueStringType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseVariablesValueSecretType": {
      "type": "enum",
      "members": {
        "SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseVariablesValueSecret": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseVariablesValueSecretType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseVariablesValueWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseVariablesValueWorkerValue": {
      "type": "structure",
      "members": {
        "escapedWorkerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workerTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseVariablesValueWorker": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseVariablesValueWorkerType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseVariablesValueWorkerValue",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseVariablesValue": {
      "type": "union",
      "members": {
        "String": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseVariablesValueString"
        },
        "Secret": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseVariablesValueSecret"
        },
        "Worker": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseVariablesValueWorker"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseVariablesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseVariablesValue"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseAnalytics": {
      "type": "structure",
      "members": {
        "defaultPurpose": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Consent purpose assigned to Monitoring."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Advanced Monitoring reports are enabled."
          }
        },
        "sessionExpTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Session expiration time (seconds)."
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentButtonTextTranslationsAcceptAllMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentButtonTextTranslationsConfirmMyChoicesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentButtonTextTranslationsRejectAllMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentButtonTextTranslations": {
      "type": "structure",
      "members": {
        "accept_all": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentButtonTextTranslationsAcceptAllMap",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "confirm_my_choices": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentButtonTextTranslationsConfirmMyChoicesMap",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "reject_all": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentButtonTextTranslationsRejectAllMap",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentConsentModalIntroHTMLWithTranslationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesValue": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesValue"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesWithTranslationsValueDescriptionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesWithTranslationsValueNameMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesWithTranslationsValue": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesWithTranslationsValueDescriptionMap",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesWithTranslationsValueNameMap",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesWithTranslationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesWithTranslationsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsent": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "buttonTextTranslations": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentButtonTextTranslations"
        },
        "companyEmail": {
          "target": "smithy.api#String"
        },
        "companyName": {
          "target": "smithy.api#String"
        },
        "companyStreetAddress": {
          "target": "smithy.api#String"
        },
        "consentModalIntroHTML": {
          "target": "smithy.api#String"
        },
        "consentModalIntroHTMLWithTranslations": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentConsentModalIntroHTMLWithTranslationsMap",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes."
          }
        },
        "cookieName": {
          "target": "smithy.api#String"
        },
        "customCSS": {
          "target": "smithy.api#String"
        },
        "customIntroDisclaimerDismissed": {
          "target": "smithy.api#Boolean"
        },
        "defaultLanguage": {
          "target": "smithy.api#String"
        },
        "hideModal": {
          "target": "smithy.api#Boolean"
        },
        "purposes": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesMap",
          "traits": {
            "smithy.api#documentation": "Object where keys are purpose alpha-numeric IDs."
          }
        },
        "purposesWithTranslations": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesWithTranslationsMap",
          "traits": {
            "smithy.api#documentation": "Object where keys are purpose alpha-numeric IDs."
          }
        },
        "tcfCompliant": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestSettingsContextEnricher": {
      "type": "structure",
      "members": {
        "escapedWorkerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workerTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestSettings": {
      "type": "structure",
      "members": {
        "autoInjectScript": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Automatic injection of Zaraz scripts enabled.",
            "smithy.api#required": {}
          }
        },
        "contextEnricher": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestSettingsContextEnricher",
          "traits": {
            "smithy.api#documentation": "Details of the worker that receives and edits Zaraz Context object."
          }
        },
        "cookieDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain Zaraz will use for writing and reading its cookies."
          }
        },
        "ecommerce": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ecommerce API enabled."
          }
        },
        "eventsApiPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for server-side track events."
          }
        },
        "hideExternalReferer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Hiding external referrer URL enabled."
          }
        },
        "hideIPAddress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Trimming IP address enabled."
          }
        },
        "hideQueryParams": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Removing URL query params enabled."
          }
        },
        "hideUserAgent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Removing sensitive data from User Agent string enabled."
          }
        },
        "initPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz init script."
          }
        },
        "injectIframes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Injection of Zaraz scripts into iframes enabled."
          }
        },
        "mcRootPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom path for Managed Components server functionalities."
          }
        },
        "scriptPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz main script."
          }
        },
        "trackPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz tracking requests."
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentDefaultFieldsValue": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentDefaultFieldsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentDefaultFieldsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentSettingsValue": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentSettingsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentType": {
      "type": "enum",
      "members": {
        "COMPONENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "component"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentActionsValueBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentActionsValueFiringTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentActionsValue": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool event type.",
            "smithy.api#required": {}
          }
        },
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentActionsValueBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking triggers IDs.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Event payload.",
            "smithy.api#required": {}
          }
        },
        "firingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentActionsValueFiringTriggersList",
          "traits": {
            "smithy.api#documentation": "List of firing triggers IDs.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentActionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentActionsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentNeoEventsItemBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentNeoEventsItemFiringTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentNeoEventsItem": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool event type.",
            "smithy.api#required": {}
          }
        },
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentNeoEventsItemBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking triggers IDs.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Event payload.",
            "smithy.api#required": {}
          }
        },
        "firingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentNeoEventsItemFiringTriggersList",
          "traits": {
            "smithy.api#documentation": "List of firing triggers IDs.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentNeoEventsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentNeoEventsItem"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponent": {
      "type": "structure",
      "members": {
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking trigger IDs.",
            "smithy.api#required": {}
          }
        },
        "component": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool's internal name.",
            "smithy.api#required": {}
          }
        },
        "defaultFields": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentDefaultFieldsMap",
          "traits": {
            "smithy.api#documentation": "Default fields for tool's actions.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether tool is enabled.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool's name defined by the user.",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentPermissionsList",
          "traits": {
            "smithy.api#documentation": "List of permissions granted to the component.",
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentSettingsMap",
          "traits": {
            "smithy.api#documentation": "Tool's settings.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentActionsMap",
          "traits": {
            "smithy.api#documentation": "Actions configured on a tool. Either this or neoEvents field is required."
          }
        },
        "defaultPurpose": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default consent purpose ID."
          }
        },
        "neoEvents": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponentNeoEventsList",
          "traits": {
            "smithy.api#documentation": "DEPRECATED - List of actions configured on a tool. Either this or actions field is required. If both are present, actions field will take precedence."
          }
        },
        "vendorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor name for TCF compliant consent modal, required for Custom Managed Components and Custom HTML tool with a defaultPurpose assigned."
          }
        },
        "vendorPolicyUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor's Privacy Policy URL for TCF compliant consent modal, required for Custom Managed Components and Custom HTML tool with a defaultPurpose assigned."
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerDefaultFieldsValue": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerDefaultFieldsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerDefaultFieldsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerSettingsValue": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerSettingsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerType": {
      "type": "enum",
      "members": {
        "CUSTOM_MC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom-mc"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerWorker": {
      "type": "structure",
      "members": {
        "escapedWorkerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workerTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerActionsValueBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerActionsValueFiringTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerActionsValue": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool event type.",
            "smithy.api#required": {}
          }
        },
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerActionsValueBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking triggers IDs.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Event payload.",
            "smithy.api#required": {}
          }
        },
        "firingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerActionsValueFiringTriggersList",
          "traits": {
            "smithy.api#documentation": "List of firing triggers IDs.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerActionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerActionsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerNeoEventsItemBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerNeoEventsItemFiringTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerNeoEventsItem": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool event type.",
            "smithy.api#required": {}
          }
        },
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerNeoEventsItemBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking triggers IDs.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Event payload.",
            "smithy.api#required": {}
          }
        },
        "firingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerNeoEventsItemFiringTriggersList",
          "traits": {
            "smithy.api#documentation": "List of firing triggers IDs.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerNeoEventsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerNeoEventsItem"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorker": {
      "type": "structure",
      "members": {
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking trigger IDs.",
            "smithy.api#required": {}
          }
        },
        "component": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool's internal name.",
            "smithy.api#required": {}
          }
        },
        "defaultFields": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerDefaultFieldsMap",
          "traits": {
            "smithy.api#documentation": "Default fields for tool's actions.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether tool is enabled.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool's name defined by the user.",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerPermissionsList",
          "traits": {
            "smithy.api#documentation": "List of permissions granted to the component.",
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerSettingsMap",
          "traits": {
            "smithy.api#documentation": "Tool's settings.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "worker": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerWorker",
          "traits": {
            "smithy.api#documentation": "Cloudflare worker that acts as a managed component.",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerActionsMap",
          "traits": {
            "smithy.api#documentation": "Actions configured on a tool. Either this or neoEvents field is required."
          }
        },
        "defaultPurpose": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default consent purpose ID."
          }
        },
        "neoEvents": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorkerNeoEventsList",
          "traits": {
            "smithy.api#documentation": "DEPRECATED - List of actions configured on a tool. Either this or actions field is required. If both are present, actions field will take precedence."
          }
        },
        "vendorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor name for TCF compliant consent modal, required for Custom Managed Components and Custom HTML tool with a defaultPurpose assigned."
          }
        },
        "vendorPolicyUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor's Privacy Policy URL for TCF compliant consent modal, required for Custom Managed Components and Custom HTML tool with a defaultPurpose assigned."
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsValue": {
      "type": "union",
      "members": {
        "ZarazManagedComponent": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueZarazManagedComponent"
        },
        "Worker": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValueWorker"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazLoadRuleOp": {
      "type": "enum",
      "members": {
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTS_WITH"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDS_WITH"
          }
        },
        "MATCH_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_REGEX"
          }
        },
        "NOT_MATCH_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_MATCH_REGEX"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        },
        "GREATER_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN_OR_EQUAL"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "LESS_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_OR_EQUAL"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazLoadRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "match": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "op": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazLoadRuleOp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazClickListenerRuleAction": {
      "type": "enum",
      "members": {
        "CLICKLISTENER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickListener"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazClickListenerRuleSettingsType": {
      "type": "enum",
      "members": {
        "XPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xpath"
          }
        },
        "CSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "css"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazClickListenerRuleSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazClickListenerRuleSettingsType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "waitForTags": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazClickListenerRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazClickListenerRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazClickListenerRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazTimerRuleAction": {
      "type": "enum",
      "members": {
        "TIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timer"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazTimerRuleSettings": {
      "type": "structure",
      "members": {
        "interval": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazTimerRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazTimerRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazTimerRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazFormSubmissionRuleAction": {
      "type": "enum",
      "members": {
        "FORMSUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formSubmission"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazFormSubmissionRuleSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazFormSubmissionRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazFormSubmissionRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazFormSubmissionRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazVariableMatchRuleAction": {
      "type": "enum",
      "members": {
        "VARIABLEMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "variableMatch"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazVariableMatchRuleSettings": {
      "type": "structure",
      "members": {
        "match": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazVariableMatchRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazVariableMatchRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazVariableMatchRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazScrollDepthRuleAction": {
      "type": "enum",
      "members": {
        "SCROLLDEPTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scrollDepth"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazScrollDepthRuleSettings": {
      "type": "structure",
      "members": {
        "positions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazScrollDepthRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazScrollDepthRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazScrollDepthRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazElementVisibilityRuleAction": {
      "type": "enum",
      "members": {
        "ELEMENTVISIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elementVisibility"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazElementVisibilityRuleSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazElementVisibilityRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazElementVisibilityRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazElementVisibilityRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItem": {
      "type": "union",
      "members": {
        "ZarazLoadRule": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazLoadRule"
        },
        "ZarazClickListenerRule": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazClickListenerRule"
        },
        "ZarazTimerRule": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazTimerRule"
        },
        "ZarazFormSubmissionRule": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazFormSubmissionRule"
        },
        "ZarazVariableMatchRule": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazVariableMatchRule"
        },
        "ZarazScrollDepthRule": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazScrollDepthRule"
        },
        "ZarazElementVisibilityRule": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazElementVisibilityRule"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItem"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueLoadRulesItemZarazLoadRuleOp": {
      "type": "enum",
      "members": {
        "CONTAINS": {
[...]
