{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.archil.api#ListDisksRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of items to return"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor from a previous response"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "Filter disks by exact name match."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#ApiResponseDiskList": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.archil.api#ApiResponseDiskListDataList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All API responses use a standard envelope with `success: boolean` and `data` (on success) or `error: string` (on failure). The ApiResponse_* schemas each define the specific `data` shape for their endpoint.\n"
      }
    },
    "com.archil.api#DiskResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk ID",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk name",
            "smithy.api#required": {}
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Owning organization ID",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.archil.api#DiskResponseStatus",
          "traits": {
            "smithy.api#documentation": "Disk status",
            "smithy.api#required": {}
          }
        },
        "fsHandlerStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filesystem handler status"
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud provider",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk region (e.g., aws-us-east-1, gcp-us-central1)",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp",
            "smithy.api#required": {}
          }
        },
        "lastAccessed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last access timestamp"
          }
        },
        "dataSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total data size in bytes"
          }
        },
        "monthlyUsage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monthly usage amount formatted as a currency string (e.g., \"$1.23\")"
          }
        },
        "mounts": {
          "target": "com.archil.api#DiskResponseMountsList"
        },
        "metrics": {
          "target": "com.archil.api#DiskMetrics"
        },
        "connectedClients": {
          "target": "com.archil.api#DiskResponseConnectedClientsList"
        },
        "authorizedUsers": {
          "target": "com.archil.api#DiskResponseAuthorizedUsersList"
        }
      },
      "traits": {}
    },
    "com.archil.api#DiskResponseStatus": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disk status"
      }
    },
    "com.archil.api#MountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mount identifier"
          }
        },
        "type": {
          "target": "com.archil.api#MountResponseType",
          "traits": {
            "smithy.api#documentation": "Storage backend type"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mount path"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bucket/container name"
          }
        },
        "accessMode": {
          "target": "com.archil.api#MountResponseAccessMode",
          "traits": {
            "smithy.api#documentation": "Access mode"
          }
        },
        "config": {
          "target": "com.archil.api#MountConfigResponse"
        },
        "connectionStatus": {
          "target": "com.archil.api#MountResponseConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Current connection status"
          }
        },
        "authError": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authentication error message (if disconnected)"
          }
        },
        "authorizationType": {
          "target": "com.archil.api#MountResponseAuthorizationType",
          "traits": {
            "smithy.api#documentation": "How the mount authenticates to the storage backend"
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#MountResponseType": {
      "type": "enum",
      "members": {
        "S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "s3"
          }
        },
        "GCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcs"
          }
        },
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        },
        "S3_COMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "s3-compatible"
          }
        },
        "AZURE_BLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "azure-blob"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage backend type"
      }
    },
    "com.archil.api#MountResponseAccessMode": {
      "type": "enum",
      "members": {
        "RW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rw"
          }
        },
        "RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ro"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Access mode"
      }
    },
    "com.archil.api#MountConfigResponse": {
      "type": "structure",
      "members": {
        "bucketName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bucket name"
          }
        },
        "bucketEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage endpoint URL"
          }
        },
        "bucketPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix within the bucket"
          }
        },
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Session identifier for IAM-authorized mounts"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mount configuration details (secrets omitted)"
      }
    },
    "com.archil.api#MountResponseConnectionStatus": {
      "type": "enum",
      "members": {
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current connection status"
      }
    },
    "com.archil.api#MountResponseAuthorizationType": {
      "type": "enum",
      "members": {
        "IAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "iam"
          }
        },
        "ACCESSKEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accessKeys"
          }
        },
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How the mount authenticates to the storage backend"
      }
    },
    "com.archil.api#DiskResponseMountsList": {
      "type": "list",
      "member": {
        "target": "com.archil.api#MountResponse"
      },
      "traits": {}
    },
    "com.archil.api#DiskMetrics": {
      "type": "structure",
      "members": {
        "dataTransfer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data transfer amount with unit (e.g., \"1.5 GB\")"
          }
        },
        "requests": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total request count as a formatted string (e.g., \"1,234\")"
          }
        },
        "avgResponseTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Average response time with unit (e.g., \"45ms\")"
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#ConnectedClient": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "ipAddress": {
          "target": "smithy.api#String"
        },
        "connectedAt": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.archil.api#DiskResponseConnectedClientsList": {
      "type": "list",
      "member": {
        "target": "com.archil.api#ConnectedClient"
      },
      "traits": {}
    },
    "com.archil.api#AuthorizedUser": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.archil.api#AuthorizedUserType"
        },
        "principal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use identifier instead. Only populated for awssts type (the IAM ARN).\n"
          }
        },
        "nickname": {
          "target": "smithy.api#String"
        },
        "tokenSuffix": {
          "target": "smithy.api#String"
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The generated disk token (used by clients when mounting the disk). Only present in the response when the server generates the token (i.e. principal was not provided). This value is shown exactly once and cannot be retrieved again.\n"
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable identifier for this user, returned in creation and list responses. Use this value with DELETE /api/disks/{id}/users/{type}?identifier={identifier} to remove the user. For awssts users, this is the IAM ARN.\n"
          }
        },
        "createdAt": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.archil.api#AuthorizedUserType": {
      "type": "enum",
      "members": {
        "TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token"
          }
        },
        "AWSSTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "awssts"
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#DiskResponseAuthorizedUsersList": {
      "type": "list",
      "member": {
        "target": "com.archil.api#AuthorizedUser"
      },
      "traits": {}
    },
    "com.archil.api#ApiResponseDiskListDataList": {
      "type": "list",
      "member": {
        "target": "com.archil.api#DiskResponse"
      },
      "traits": {}
    },
    "com.archil.api#ListDisks": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#ListDisksRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseDiskList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/disks",
          "code": 200
        },
        "smithy.api#documentation": "List all disks\n\nReturns all disks owned by the authenticated account."
      }
    },
    "com.archil.api#MountConfig": {
      "type": "union",
      "members": {
        "S3Mount": {
          "target": "com.archil.api#S3Mount"
        },
        "GCSMount": {
          "target": "com.archil.api#GCSMount"
        },
        "R2Mount": {
          "target": "com.archil.api#R2Mount"
        },
        "S3CompatibleMount": {
          "target": "com.archil.api#S3CompatibleMount"
        },
        "AzureBlobMount": {
          "target": "com.archil.api#AzureBlobMount"
        }
      },
      "traits": {}
    },
    "com.archil.api#S3Mount": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.archil.api#S3MountType",
          "traits": {
            "smithy.api#documentation": "Mount type identifier",
            "smithy.api#required": {}
          }
        },
        "bucketName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "S3 bucket name",
            "smithy.api#required": {}
          }
        },
        "accessKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AWS access key ID (optional for public buckets or IAM role auth)",
            "smithy.api#sensitive": {}
          }
        },
        "secretAccessKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AWS secret access key",
            "smithy.api#sensitive": {}
          }
        },
        "sessionToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Session token for temporary credentials",
            "smithy.api#sensitive": {}
          }
        },
        "bucketPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix within the bucket"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mount configuration for Amazon S3 buckets"
      }
    },
    "com.archil.api#S3MountType": {
      "type": "enum",
      "members": {
        "S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "s3"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mount type identifier"
      }
    },
    "com.archil.api#GCSMount": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.archil.api#GCSMountType",
          "traits": {
            "smithy.api#documentation": "Mount type identifier",
            "smithy.api#required": {}
          }
        },
        "bucketName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GCS bucket name",
            "smithy.api#required": {}
          }
        },
        "accessKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HMAC access key ID",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "secretAccessKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HMAC secret access key",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "bucketPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix within the bucket (optional)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mount configuration for Google Cloud Storage buckets"
      }
    },
    "com.archil.api#GCSMountType": {
      "type": "enum",
      "members": {
        "GCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mount type identifier"
      }
    },
    "com.archil.api#R2Mount": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.archil.api#R2MountType",
          "traits": {
            "smithy.api#documentation": "Mount type identifier",
            "smithy.api#required": {}
          }
        },
        "bucketName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "R2 bucket name",
            "smithy.api#required": {}
          }
        },
        "bucketEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "R2 endpoint URL",
            "smithy.api#required": {}
          }
        },
        "accessKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "R2 access key ID",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "secretAccessKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "R2 secret access key",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "bucketPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix within the bucket (optional)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mount configuration for Cloudflare R2 buckets"
      }
    },
    "com.archil.api#R2MountType": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mount type identifier"
      }
    },
    "com.archil.api#S3CompatibleMount": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.archil.api#S3CompatibleMountType",
          "traits": {
            "smithy.api#documentation": "Mount type identifier",
            "smithy.api#required": {}
          }
        },
        "bucketName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bucket name",
            "smithy.api#required": {}
          }
        },
        "bucketEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "S3-compatible endpoint URL",
            "smithy.api#required": {}
          }
        },
        "accessKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Access key ID",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "secretAccessKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret access key",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "bucketPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix within the bucket (optional)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mount configuration for S3-compatible storage (MinIO, Backblaze B2, etc.)"
      }
    },
    "com.archil.api#S3CompatibleMountType": {
      "type": "enum",
      "members": {
        "S3_COMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "s3-compatible"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mount type identifier"
      }
    },
    "com.archil.api#AzureBlobMount": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.archil.api#AzureBlobMountType",
          "traits": {
            "smithy.api#documentation": "Mount type identifier",
            "smithy.api#required": {}
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure blob container name",
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure blob endpoint URL (optional if storageAccountName provided)"
          }
        },
        "storageAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure storage account name (used to derive endpoint if not provided)"
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure AD tenant ID",
            "smithy.api#required": {}
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure AD application client ID",
            "smithy.api#required": {}
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure AD application client secret",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "bucketPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix within the container"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mount configuration for Azure Blob Storage containers"
      }
    },
    "com.archil.api#AzureBlobMountType": {
      "type": "enum",
      "members": {
        "AZURE_BLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "azure-blob"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mount type identifier"
      }
    },
    "com.archil.api#CreateDiskRequestMountsList": {
      "type": "list",
      "member": {
        "target": "com.archil.api#MountConfig"
      },
      "traits": {
        "smithy.api#documentation": "Storage mount to attach. Omit for archil-managed storage."
      }
    },
    "com.archil.api#DiskUser": {
      "type": "union",
      "members": {
        "TokenUser": {
          "target": "com.archil.api#TokenUser"
        },
        "AwsStsUser": {
          "target": "com.archil.api#AwsStsUser"
        }
      },
      "traits": {}
    },
    "com.archil.api#TokenUser": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.archil.api#TokenUserType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "principal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. Client-provided token. If omitted, the server generates a cryptographically secure token and returns it in the response.\n"
          }
        },
        "nickname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tokenSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. Last 4 characters of the token. Required when principal is provided; ignored when the server generates the token.\n"
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#TokenUserType": {
      "type": "enum",
      "members": {
        "TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token"
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#AwsStsUser": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.archil.api#AwsStsUserType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "principal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IAM principal ARN",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#AwsStsUserType": {
      "type": "enum",
      "members": {
        "AWSSTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "awssts"
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#CreateDiskRequestAuthMethodsList": {
      "type": "list",
      "member": {
        "target": "com.archil.api#DiskUser"
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. Use AddDiskUser after creation instead. When provided, suppresses the default auto-generated token user.\n"
      }
    },
    "com.archil.api#CreateDiskRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk name (alphanumeric, dashes, underscores)",
            "smithy.api#required": {}
          }
        },
        "mounts": {
          "target": "com.archil.api#CreateDiskRequestMountsList",
          "traits": {
            "smithy.api#documentation": "Storage mount to attach. Omit for archil-managed storage."
          }
        },
        "authMethods": {
          "target": "com.archil.api#CreateDiskRequestAuthMethodsList",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use AddDiskUser after creation instead. When provided, suppresses the default auto-generated token user.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#ApiResponseCreateDisk": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.archil.api#ApiResponseCreateDiskData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#ApiResponseCreateDiskDataAuthorizedUsersList": {
      "type": "list",
      "member": {
        "target": "com.archil.api#AuthorizedUser"
      },
      "traits": {}
    },
    "com.archil.api#ApiResponseCreateDiskData": {
      "type": "structure",
      "members": {
        "diskId": {
          "target": "smithy.api#String"
        },
        "authorizedUsers": {
          "target": "com.archil.api#ApiResponseCreateDiskDataAuthorizedUsersList"
        }
      },
      "traits": {}
    },
    "com.archil.api#CreateDisk": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#CreateDiskRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseCreateDisk"
      },
      "errors": [
        {
          "target": "com.archil.api#BadRequest"
        },
        {
          "target": "com.archil.api#Forbidden"
        },
        {
          "target": "com.archil.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/disks",
          "code": 200
        },
        "smithy.api#documentation": "Create a new disk\n\nCreates a new disk with the specified configuration. A default disk\ntoken user is automatically generated and returned in the response,\nso the disk is immediately mountable. The one-time disk token appears\nin `authorizedUsers[].token` and cannot be retrieved again. (This\ndisk token is scoped to the new disk and is separate from the API\nkey you used to make this request.)\n\nTo provide your own users instead, pass the deprecated `authMethods`\nfield or call AddDiskUser after creation."
      }
    },
    "com.archil.api#GetDiskRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Disk ID (format `dsk-{16 hex chars}`)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#ApiResponseDisk": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.archil.api#DiskResponse",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#GetDisk": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#GetDiskRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseDisk"
      },
      "errors": [
        {
          "target": "com.archil.api#BadRequest"
        },
        {
          "target": "com.archil.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/disks/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get disk details\n\nReturns detailed information about a specific disk."
      }
    },
    "com.archil.api#DeleteDiskRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Disk ID (format `dsk-{16 hex chars}`)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#ApiResponseEmpty": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#DeleteDisk": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#DeleteDiskRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseEmpty"
      },
      "errors": [
        {
          "target": "com.archil.api#BadRequest"
        },
        {
          "target": "com.archil.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/disks/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a disk\n\nDeletes a disk and all associated resources."
      }
    },
    "com.archil.api#CreateShareUrlRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Disk ID (format `dsk-{16 hex chars}`)"
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File key (path) within the disk.",
            "smithy.api#required": {}
          }
        },
        "expiresIn": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "URL lifetime in seconds. Any integer from 1 to 604800 (7 days).\nDefaults to 86400 (24 hours).\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#ApiResponseShareUrl": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.archil.api#ApiResponseShareUrlData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#ApiResponseShareUrlData": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signed, public download URL.",
            "smithy.api#required": {}
          }
        },
        "expiresIn": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "URL lifetime in seconds.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#CreateShareUrl": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#CreateShareUrlRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseShareUrl"
      },
      "errors": [
        {
          "target": "com.archil.api#BadRequest"
        },
        {
          "target": "com.archil.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/disks/{id}/share",
          "code": 200
        },
        "smithy.api#documentation": "Create a share URL for a file\n\nCreates a signed, time-limited URL for downloading a file without\nauthentication. The URL expires after 24 hours by default; pass\n`expiresIn` to set a custom lifetime up to 7 days.\n\nThe returned URL points to a public endpoint (`GET /api/shared/{token}`)\nthat verifies the signature, checks expiry, and streams the file with a\nsensible `Content-Type` and `Content-Disposition`. Range requests are\nsupported. No credentials are needed to open the URL."
      }
    },
    "com.archil.api#AddDiskUserRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Disk ID (format `dsk-{16 hex chars}`)"
          }
        },
        "body": {
          "target": "com.archil.api#DiskUser",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#ApiResponseAuthorizedUser": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.archil.api#AuthorizedUser",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#AddDiskUser": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#AddDiskUserRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseAuthorizedUser"
      },
      "errors": [
        {
          "target": "com.archil.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/disks/{id}/users",
          "code": 200
        },
        "smithy.api#documentation": "Add user to disk\n\nAdds an authorized user to a disk. Users can authenticate via:\n- **token**: A shared token with a nickname and 4-character suffix\n- **awssts**: AWS STS role assumption with an IAM principal ARN"
      }
    },
    "com.archil.api#RemoveDiskUserRequestUserType": {
      "type": "enum",
      "members": {
        "TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token"
          }
        },
        "AWSSTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "awssts"
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#RemoveDiskUserRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Disk ID (format `dsk-{16 hex chars}`)"
          }
        },
        "userType": {
          "target": "com.archil.api#RemoveDiskUserRequestUserType",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The type of user authentication"
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "identifier",
            "smithy.api#documentation": "Identifier of the user to remove, as returned in the creation or list response. For awssts users, this is the IAM ARN.\n"
          }
        },
        "principal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "principal",
            "smithy.api#documentation": "Use identifier instead."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#ApiResponseMessage": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.archil.api#ApiResponseMessageData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#ApiResponseMessageData": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.archil.api#RemoveDiskUser": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#RemoveDiskUserRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseMessage"
      },
      "errors": [
        {
          "target": "com.archil.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/disks/{id}/users/{userType}",
          "code": 200
        },
        "smithy.api#documentation": "Remove user from disk\n\nRemoves an authorized user from a disk."
      }
    },
    "com.archil.api#ExecDiskRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Disk ID (format `dsk-{16 hex chars}`)"
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shell command to execute inside the container",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#ApiResponseExecDisk": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.archil.api#ExecDiskResult",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#ExecDiskResult": {
      "type": "structure",
      "members": {
        "exitCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Exit code of the command (0 = success)",
            "smithy.api#required": {}
          }
        },
        "stdout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Standard output from the command",
            "smithy.api#required": {}
          }
        },
        "stderr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Standard error from the command",
            "smithy.api#required": {}
          }
        },
        "timing": {
          "target": "com.archil.api#ExecTiming",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#ExecTiming": {
      "type": "structure",
      "members": {
        "totalMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End-to-end wall clock measured on the server, from request arrival to response.\n",
            "smithy.api#required": {}
          }
        },
        "queueMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time spent queueing, scheduling, booting/claiming a VM, and mounting the filesystem before the command started running.\n",
            "smithy.api#required": {}
          }
        },
        "executeMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time the user's command itself ran, measured by the runtime.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server-measured timings for an exec request."
      }
    },
    "com.archil.api#ExecDisk": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#ExecDiskRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseExecDisk"
      },
      "errors": [
        {
          "target": "com.archil.api#BadRequest"
        },
        {
          "target": "com.archil.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/disks/{id}/exec",
          "code": 200
        },
        "smithy.api#documentation": "Execute a command on a disk\n\nLaunches a container with the specified disk mounted, runs the given\ncommand to completion, shuts down the container, and returns the command\nresult."
      }
    },
    "com.archil.api#GrepDiskRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Disk ID (format `dsk-{16 hex chars}`)"
          }
        },
        "directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Directory on the disk to search, relative to the disk root.\nAn empty string or \"/\" means the disk root.\n",
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Extended regular expression (passed to `grep -E`)",
            "smithy.api#required": {}
          }
        },
        "recursive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, walks subdirectories breadth-first."
          }
        },
        "maxDurationSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Wall-clock deadline for the entire request. Capped at 30\nseconds because the runtime exec container itself is bounded\nat ~30s; longer requests would have their workers killed\nmid-scan.\n"
          }
        },
        "concurrency": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of parallel grep workers. Higher values finish\nlarger datasets within the deadline but consume proportionally\nmore runtime capacity.\n"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Stop scanning once the aggregator has this many matches.\nReturned matches are a sample of whichever workers reported\nfirst, not the lexicographically first N.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#ApiResponseGrepDisk": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.archil.api#GrepDiskResult",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#GrepDiskResult": {
      "type": "structure",
      "members": {
        "matches": {
          "target": "com.archil.api#GrepDiskResultMatchesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "stoppedReason": {
          "target": "com.archil.api#GrepStoppedReason",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filesScanned": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Files actually fed to a grep container.",
            "smithy.api#required": {}
          }
        },
        "containersDispatched": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of grep containers started for this request.",
            "smithy.api#required": {}
          }
        },
        "computeSecondsUsed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sum of per-container execution time in seconds, measured by the\nruntime. Approximates billable container-seconds.\n",
            "smithy.api#required": {}
          }
        },
        "durationMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End-to-end wall clock measured by the server.",
            "smithy.api#required": {}
          }
        },
        "listingMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Wall-clock time spent enumerating files via listObjects, from\nthe request's start to the moment listing fully drained (or\nwas canceled). Listing and matching overlap, so listingMs +\ngrepMs typically exceeds durationMs.\n",
            "smithy.api#required": {}
          }
        },
        "grepMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Wall-clock time spent matching, from the first grep container\nbeing dispatched to the last container reporting results. 0 if\nno batches ran.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#GrepMatch": {
      "type": "structure",
      "members": {
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the file (relative to the disk root).",
            "smithy.api#required": {}
          }
        },
        "line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "1-based line number where the match occurred.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The matching line.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#GrepDiskResultMatchesList": {
      "type": "list",
      "member": {
        "target": "com.archil.api#GrepMatch"
      },
      "traits": {}
    },
    "com.archil.api#GrepStoppedReason": {
      "type": "enum",
      "members": {
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
          }
        },
        "MAX_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max_results"
          }
        },
        "DEADLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deadline"
          }
        },
        "LIST_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list_failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Why the search stopped.\n- `completed`: every file under the directory was scanned successfully.\n- `incomplete`: pipeline ran to its natural end but one or more\n  batches errored (invalid regex, unreadable file, runtime issue).\n  Results may be partial or wrong; do not rely on completeness.\n- `max_results`: hit `maxResults` before scanning everything.\n- `deadline`: hit `maxDurationSeconds`.\n- `list_failed`: directory listing failed; partial results\n  may be present.\n"
      }
    },
    "com.archil.api#GrepDisk": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#GrepDiskRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseGrepDisk"
      },
      "errors": [
        {
          "target": "com.archil.api#BadRequest"
        },
        {
          "target": "com.archil.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/disks/{id}/grep",
          "code": 200
        },
        "smithy.api#documentation": "Parallel grep over a directory on a disk\n\nSearches files under a directory on the disk for lines matching a\nregular expression. Listing and matching are fanned out across\nephemeral exec containers, so the request finishes within the user's\ntime budget regardless of the size of the directory.\n\nThe user controls cost and latency with three knobs:\n\n- `maxDurationSeconds` is the wall-clock deadline (capped at 30s).\n- `concurrency` is the maximum number of parallel grep workers.\n  Higher concurrency finishes larger datasets within the deadline,\n  at proportionally more compute.\n- `maxResults` causes the search to short-circuit after the\n  aggregator has collected this many matches.\n\nWith `recursive: false` only files directly under `directory` are\nsearched. With `recursive: true` subdirectories are walked\nbreadth-first and grep workers are dispatched as soon as each level\nfinishes listing — listing and matching overlap.\n\nThe matches returned when stopping early on `maxResults` are a sample\nof whichever workers reported first, not the lexicographically first\nN. The response surfaces `stoppedReason` so callers can distinguish\ncompletion from early termination."
      }
    },
    "com.archil.api#ExecMount": {
      "type": "structure",
      "members": {
        "disk": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk ID to mount at this relative path",
            "smithy.api#required": {}
          }
        },
        "subdirectory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subdirectory of the disk to expose at the mountpoint. Must be a\nrelative path with no `.` or `..` segments. When omitted, the\ndisk's root is exposed.\n"
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the disk is mounted read-only inside the container.\nWrites against the mount fail with EROFS.\n"
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#ExecRequestDisksValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "ExecMount": {
          "target": "com.archil.api#ExecMount"
        }
      },
      "traits": {}
    },
    "com.archil.api#ExecRequestDisksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.archil.api#ExecRequestDisksValue"
      },
      "traits": {
        "smithy.api#documentation": "Map of relative path under `/mnt/archil` to the disk to mount\nthere. At least one entry is required. Relative paths must be\nnon-empty, non-absolute, and contain no `.` or `..` segments.\n\nEach value is either a plain disk ID string (mounts the disk's\nroot, read-write) or an object that additionally selects a\nsubdirectory of the disk and/or marks the mount as read-only.\n"
      }
    },
    "com.archil.api#ExecRequest": {
      "type": "structure",
      "members": {
        "disks": {
          "target": "com.archil.api#ExecRequestDisksMap",
          "traits": {
            "smithy.api#documentation": "Map of relative path under `/mnt/archil` to the disk to mount\nthere. At least one entry is required. Relative paths must be\nnon-empty, non-absolute, and contain no `.` or `..` segments.\n\nEach value is either a plain disk ID string (mounts the disk's\nroot, read-write) or an object that additionally selects a\nsubdirectory of the disk and/or marks the mount as read-only.\n",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shell command to execute inside the container",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#ApiResponseExec": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.archil.api#ExecDiskResult",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#Exec": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#ExecRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseExec"
      },
      "errors": [
        {
          "target": "com.archil.api#BadRequest"
        },
        {
          "target": "com.archil.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/exec",
          "code": 200
        },
        "smithy.api#documentation": "Execute a command with multiple disks mounted\n\nLaunches a container with the supplied set of disks each mounted at its\nown relative path under `/mnt/archil`, runs the command to completion,\nand shuts down the container. Activation is atomic: every disk mounts\nor none of them do.\n\nRelative paths must be non-empty, non-absolute, and contain no `.` /\n`..` segments. Mounting two disks at the same relative path is an\nerror."
      }
    },
    "com.archil.api#ListSandboxesRequest": {
      "type": "structure",
      "members": {
        "filesystem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filesystem",
            "smithy.api#documentation": "Only sandboxes that mount this disk"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#ApiResponseSandboxList": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.archil.api#ApiResponseSandboxListData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#Sandbox": {
      "type": "structure",
      "members": {
        "sandbox_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sandbox name.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.archil.api#SandboxState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "vcpu_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mem_size_mib": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "max_ttl_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lifetime budget applied independently to each powered-on session. Expiry pauses the sandbox, preserving memory and processes for resume. Defaults to 24 hours and can be reset with the timeout endpoint.",
            "smithy.api#required": {}
          }
        },
        "idle_ttl_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds without a direct process connection before the sandbox pauses, preserving memory and processes for resume. Zero disables idle expiry.",
            "smithy.api#required": {}
          }
        },
        "max_concurrent_execs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrently attached process sessions. Detached processes and one-shot process controls do not count.",
            "smithy.api#required": {}
          }
        },
        "base_image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OCI reference requested when the sandbox was created.",
            "smithy.api#required": {}
          }
        },
        "platform": {
          "target": "com.archil.api#SandboxPlatform",
          "traits": {
            "smithy.api#documentation": "Sandbox CPU architecture."
          }
        },
        "endpoints": {
          "target": "com.archil.api#SandboxEndpointsList",
          "traits": {
            "smithy.api#documentation": "Public hostnames published by enabled sandbox services."
          }
        },
        "enable_service_ingress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether services inside the sandbox can expose ingress. Explicit API port exposure remains available regardless of this setting."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "running_at": {
          "target": "smithy.api#String"
        },
        "finished_at": {
          "target": "smithy.api#String"
        },
        "last_active_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "exit_reason": {
          "target": "smithy.api#String"
        },
        "checkpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk checkpoint the current session leaves behind. Present while\npausing, paused, stopping, or stopped, and committed once the\nsandbox is paused or stopped. Pass it to the fork endpoint to fork\nexactly this state.\n"
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#SandboxState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "PAUSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pausing"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paused"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopping"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        },
        "EXITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exited"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#SandboxPlatform": {
      "type": "enum",
      "members": {
        "ARM64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arm64"
          }
        },
        "AMD64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amd64"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sandbox CPU architecture."
      }
    },
    "com.archil.api#SandboxEndpoint": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#SandboxEndpointsList": {
      "type": "list",
      "member": {
        "target": "com.archil.api#SandboxEndpoint"
      },
      "traits": {
        "smithy.api#documentation": "Public hostnames published by enabled sandbox services."
      }
    },
    "com.archil.api#ApiResponseSandboxListDataSandboxesList": {
      "type": "list",
      "member": {
        "target": "com.archil.api#Sandbox"
      },
      "traits": {}
    },
    "com.archil.api#ApiResponseSandboxListData": {
      "type": "structure",
      "members": {
        "sandboxes": {
          "target": "com.archil.api#ApiResponseSandboxListDataSandboxesList"
        }
      },
      "traits": {}
    },
    "com.archil.api#ListSandboxes": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#ListSandboxesRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseSandboxList"
      },
      "errors": [
        {
          "target": "com.archil.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/sandboxes",
          "code": 200
        },
        "smithy.api#documentation": "List sandboxes\n\nAll the account's sandboxes, oldest first."
      }
    },
    "com.archil.api#CreateSandboxRequestPortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "TCP ports to expose publicly when the sandbox is created."
      }
    },
    "com.archil.api#CreateSandboxRequestEnvMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Environment variables applied to every process"
      }
    },
    "com.archil.api#SandboxNetwork": {
      "type": "structure",
      "members": {
        "egress": {
          "target": "com.archil.api#SandboxEgressPolicy"
        }
      },
      "traits": {
        "smithy.api#documentation": "Sandbox network policy. New sandboxes on free plans receive deny-all\negress with no allowlist exceptions. Start/resume and forks retain the\nstored policy. For paid accounts, egress is unrestricted when omitted.\n"
      }
    },
    "com.archil.api#SandboxEgressPolicy": {
      "type": "structure",
      "members": {
        "default": {
          "target": "com.archil.api#SandboxNetworkAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allow": {
          "target": "com.archil.api#SandboxEgressPolicyAllowList",
          "traits": {
            "smithy.api#documentation": "Allowed IPv4 addresses, CIDR ranges, exact domains, wildcard domains beginning with `*.`, or target objects with optional outbound HTTPS request transformations. A wildcard matches subdomains but not the apex domain, including when applying transformations."
          }
        },
        "deny": {
          "target": "com.archil.api#SandboxEgressPolicyDenyList",
          "traits": {
            "smithy.api#documentation": "Denied IPv4 addresses, CIDR ranges, exact domains, or wildcard domains beginning with `*.`. A wildcard matches subdomains but not the apex domain."
          }
        },
        "drain_on_pause": {
          "target": "com.archil.api#SandboxEgressPolicyDrainOnPauseList",
          "traits": {
            "smithy.api#documentation": "Optional hosts whose HTTP(S) requests should finish before pausing, regardless of URL path. Pausing gates new matching requests and waits up to ten minutes by default for active responses, including streams, before taking a snapshot. Errors stop counting, and expiry proceeds with the snapshot. This does not limit requests during normal operation. Selectors do not grant network access. Matching uses the original request host before transformations or forwarding. Only TCP ports 80 and 443 are supported. Connections may need to be retried after resume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deny targets take precedence when an address or domain matches both lists. When domain rules or drain selectors are present, TCP ports 80 and 443 are restricted to HTTP/1.1 or HTTP/2. Plaintext HTTP authority is enforced on port 80, but requests matching a transformation rule are rejected unless the rule also forwards. Port 443 is TLS-terminated; both TLS SNI and HTTP authority are evaluated, and the HTTP authority selects the upstream, any request transformations, and any request forwarding. DNS to the sandbox's configured resolvers is allowed and UDP port 443 is denied."
      }
    },
    "com.archil.api#SandboxNetworkAction": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#SandboxEgressRule": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target allowed by this rule. Effective transformations and forwarding require an exact or wildcard lowercase domain.",
            "smithy.api#required": {}
          }
        },
        "transform": {
          "target": "com.archil.api#SandboxEgressTransform"
        },
        "forward_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Absolute public HTTPS URL that receives this rule's permitted HTTP and HTTPS requests instead of their original upstream. The original path is appended to this URL, and Archil overwrites the archil-forwarded-host, archil-forwarded-scheme, archil-forwarded-port, archil-forwarded-path, and archil-sandbox-id headers with request metadata. A transform on the same rule is applied before forwarding, so the forwarded request carries the transformed headers. URLs containing credentials, a query, or a fragment are rejected."
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#SandboxEgressTransform": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.archil.api#SandboxEgressTransformHeadersMap",
          "traits": {
            "smithy.api#documentation": "Outbound HTTPS request headers to set, overwriting values supplied by the sandbox."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional outbound HTTPS request transformations. An omitted or empty transform leaves the rule as an ordinary allow without request mutations."
      }
    },
    "com.archil.api#SandboxEgressTransformHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Outbound HTTPS request headers to set, overwriting values supplied by the sandbox."
      }
    },
    "com.archil.api#SandboxEgressPolicyAllowItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "SandboxEgressRule": {
          "target": "com.archil.api#SandboxEgressRule"
        }
      },
      "traits": {}
    },
    "com.archil.api#SandboxEgressPolicyAllowList": {
      "type": "list",
      "member": {
        "target": "com.archil.api#SandboxEgressPolicyAllowItem"
      },
      "traits": {
        "smithy.api#documentation": "Allowed IPv4 addresses, CIDR ranges, exact domains, wildcard domains beginning with `*.`, or target objects with optional outbound HTTPS request transformations. A wildcard matches subdomains but not the apex domain, including when applying transformations."
      }
    },
    "com.archil.api#SandboxEgressPolicyDenyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Denied IPv4 addresses, CIDR ranges, exact domains, or wildcard domains beginning with `*.`. A wildcard matches subdomains but not the apex domain."
      }
    },
    "com.archil.api#SandboxEgressPolicyDrainOnPauseList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional hosts whose HTTP(S) requests should finish before pausing, regardless of URL path. Pausing gates new matching requests and waits up to ten minutes by default for active responses, including streams, before taking a snapshot. Errors stop counting, and expiry proceeds with the snapshot. This does not limit requests during normal operation. Selectors do not grant network access. Matching uses the original request host before transformations or forwarding. Only TCP ports 80 and 443 are supported. Connections may need to be retried after resume."
      }
    },
    "com.archil.api#CreateSandboxRequest": {
      "type": "structure",
      "members": {
        "wait": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "wait",
            "smithy.api#documentation": "Hold the request for a completed sandbox lifecycle transition"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sandbox name, unique within the account. A random word-list name is generated when omitted."
          }
        },
        "vcpu_count": {
          "target": "smithy.api#Integer"
        },
        "mem_size_mib": {
          "target": "smithy.api#Integer"
        },
        "base_image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public Linux OCI image reference. Docker shorthand and tags are accepted; the selected platform manifest is pinned at creation."
          }
        },
        "ports": {
          "target": "com.archil.api#CreateSandboxRequestPortsList",
          "traits": {
            "smithy.api#documentation": "TCP ports to expose publicly when the sandbox is created."
          }
        },
        "enable_service_ingress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow services inside the sandbox to expose ingress. When false, services still run but their ports must be exposed explicitly through the API. Retained across starts, resumes, and forks."
          }
        },
        "env": {
          "target": "com.archil.api#CreateSandboxRequestEnvMap",
          "traits": {
            "smithy.api#documentation": "Environment variables applied to every process"
          }
        },
        "network": {
          "target": "com.archil.api#SandboxNetwork"
        },
        "max_ttl_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lifetime budget applied independently to each powered-on session. Expiry pauses the sandbox, preserving memory and processes for resume."
          }
        },
        "idle_ttl_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pause after this many seconds without a direct process connection, preserving memory and processes for resume. Omit or set to zero to disable idle expiry."
          }
        },
        "max_concurrent_execs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrently attached process sessions. Detached processes and one-shot process controls do not count."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#CreateSandbox": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#CreateSandboxRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.archil.api#BadRequest"
        },
        {
          "target": "com.archil.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/sandboxes",
          "code": 200
        },
        "smithy.api#documentation": "Create a sandbox\n\nProvisions a sandbox VM with the requested shape and a dedicated,\npersistent Archil disk. By default the response reports `pending` after\nthe runtime accepts the start. Set `wait=true` to hold for `running`; if\nthe wait budget expires, the response remains `pending` and startup\ncontinues."
      }
    },
    "com.archil.api#GetSandboxRequest": {
      "type": "structure",
      "members": {
        "sid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox UUID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#ApiResponseSandbox": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.archil.api#Sandbox",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#GetSandbox": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#GetSandboxRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseSandbox"
      },
      "errors": [
        {
          "target": "com.archil.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/sandboxes/{sid}",
          "code": 200
        },
        "smithy.api#documentation": "Get a sandbox"
      }
    },
    "com.archil.api#DeleteSandboxRequest": {
      "type": "structure",
      "members": {
        "sid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox UUID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#DeleteSandbox": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#DeleteSandboxRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.archil.api#NotFound"
        },
        {
          "target": "com.archil.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/sandboxes/{sid}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a sandbox\n\nPermanently deletes a stopped, exited, or failed sandbox and its backing disk. A sandbox with child forks cannot be deleted until those children are deleted, starting with the deepest ones."
      }
    },
    "com.archil.api#CreateSandboxConnectionRequest": {
      "type": "structure",
      "members": {
        "sid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox UUID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#ApiResponseSandboxConnection": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.archil.api#SandboxConnection",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#SandboxConnection": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#CreateSandboxConnection": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#CreateSandboxConnectionRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseSandboxConnection"
      },
      "errors": [
        {
          "target": "com.archil.api#NotFound"
        },
        {
          "target": "com.archil.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/sandboxes/{sid}/connections",
          "code": 200
        },
        "smithy.api#documentation": "Create a sandbox process connection\n\nReturns a short-lived WebSocket URL used by the sandbox process API.\nThe URL contains a signed token that expires at `expires_at`; an open\nWebSocket can remain connected after the token expires."
      }
    },
    "com.archil.api#ListSandboxPortsRequest": {
      "type": "structure",
      "members": {
        "sid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox UUID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#ApiResponseSandboxPortList": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.archil.api#SandboxPortList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#SandboxPortList": {
      "type": "structure",
      "members": {
        "ports": {
          "target": "com.archil.api#SandboxPortListPortsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#SandboxPort": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#SandboxPortListPortsList": {
      "type": "list",
      "member": {
        "target": "com.archil.api#SandboxPort"
      },
      "traits": {}
    },
    "com.archil.api#ListSandboxPorts": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#ListSandboxPortsRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseSandboxPortList"
      },
      "errors": [
        {
          "target": "com.archil.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/sandboxes/{sid}/ports",
          "code": 200
        },
        "smithy.api#documentation": "List exposed sandbox ports\n\nLists the explicitly exposed public ports for the sandbox."
      }
    },
    "com.archil.api#ExposeSandboxPortRequest": {
      "type": "structure",
      "members": {
        "sid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox UUID"
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#ApiResponseSandboxPort": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.archil.api#SandboxPort",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#ExposeSandboxPort": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#ExposeSandboxPortRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseSandboxPort"
      },
      "errors": [
        {
          "target": "com.archil.api#BadRequest"
        },
        {
          "target": "com.archil.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/sandboxes/{sid}/ports/{port}",
          "code": 200
        },
        "smithy.api#documentation": "Expose a sandbox port\n\nCreates or returns public access to a TCP port in the sandbox."
      }
    },
    "com.archil.api#DeleteSandboxPortRequest": {
      "type": "structure",
      "members": {
        "sid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox UUID"
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#DeleteSandboxPort": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#DeleteSandboxPortRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.archil.api#BadRequest"
        },
        {
          "target": "com.archil.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/sandboxes/{sid}/ports/{port}",
          "code": 200
        },
        "smithy.api#documentation": "Stop exposing a sandbox port\n\nRemoves an explicitly exposed public port. An enabled sandbox service publishing the same TCP port remains publicly reachable."
      }
    },
    "com.archil.api#ListSandboxPortTokensRequest": {
      "type": "structure",
      "members": {
        "sid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox UUID"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of items to return"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor from a previous response"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#ApiResponseSandboxPortTokenList": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.archil.api#SandboxPortTokenList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set when more port tokens remain."
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#SandboxPortTokenList": {
      "type": "structure",
      "members": {
        "tokens": {
          "target": "com.archil.api#SandboxPortTokenListTokensList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#SandboxPortToken": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable token identifier used for get and revoke operations.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the token expires. Absent for a non-expiring token."
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#SandboxPortTokenListTokensList": {
      "type": "list",
      "member": {
        "target": "com.archil.api#SandboxPortToken"
      },
      "traits": {}
    },
    "com.archil.api#ListSandboxPortTokens": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#ListSandboxPortTokensRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseSandboxPortTokenList"
      },
      "errors": [
        {
          "target": "com.archil.api#BadRequest"
        },
        {
          "target": "com.archil.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/sandboxes/{sid}/port-tokens",
          "code": 200
        },
        "smithy.api#documentation": "List sandbox port tokens\n\nLists unexpired private port token metadata without returning raw tokens."
      }
    },
    "com.archil.api#CreateSandboxPortTokenRequest": {
      "type": "structure",
      "members": {
        "sid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox UUID"
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token lifetime as a Go duration string (for example, \"4m\", \"1h\",\nor \"24h\"). Maximum 365 days (\"8760h\"). Omit for no expiration.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#ApiResponseCreatedSandboxPortToken": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.archil.api#CreatedSandboxPortToken",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#CreatedSandboxPortToken": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable token identifier used for get and revoke operations.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the token expires. Absent for a non-expiring token."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable sandbox port hostname, shared with public access.",
            "smithy.api#required": {}
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw token returned only when the token is created.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#CreateSandboxPortToken": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#CreateSandboxPortTokenRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseCreatedSandboxPortToken"
      },
      "errors": [
        {
          "target": "com.archil.api#BadRequest"
        },
        {
          "target": "com.archil.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/sandboxes/{sid}/port-tokens",
          "code": 200
        },
        "smithy.api#documentation": "Create a private sandbox port token\n\nCreates token-authorized HTTP access to one port. Send the raw token returned\nby this request in the `X-Archil-Token` request header at the stable\n`<port>-<sandbox-route-id>.<zone>` hostname. Public ports accept connections\nwithout a token; otherwise a valid token for that sandbox and port is required.\nThe token is not returned again."
      }
    },
    "com.archil.api#GetSandboxPortTokenRequest": {
      "type": "structure",
      "members": {
        "sid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox UUID"
          }
        },
        "token_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#ApiResponseSandboxPortToken": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.archil.api#SandboxPortToken",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.archil.api#GetSandboxPortToken": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#GetSandboxPortTokenRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseSandboxPortToken"
      },
      "errors": [
        {
          "target": "com.archil.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/sandboxes/{sid}/port-tokens/{token_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a sandbox port token\n\nReturns token metadata without its raw token. Expired tokens return not found."
      }
    },
    "com.archil.api#DeleteSandboxPortTokenRequest": {
      "type": "structure",
      "members": {
        "sid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox UUID"
          }
        },
        "token_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#DeleteSandboxPortToken": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#DeleteSandboxPortTokenRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.archil.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/sandboxes/{sid}/port-tokens/{token_id}",
          "code": 200
        },
        "smithy.api#documentation": "Revoke a sandbox port token\n\nNew private connections using the token fail after this request\ncompletes; established connections remain open. Expired tokens return not found."
      }
    },
    "com.archil.api#PauseSandboxRequest": {
      "type": "structure",
      "members": {
        "sid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sandbox UUID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.archil.api#PauseSandbox": {
      "type": "operation",
      "input": {
        "target": "com.archil.api#PauseSandboxRequest"
      },
      "output": {
        "target": "com.archil.api#ApiResponseSandbox"
      },
      "errors": [
        {
          "target": "com.archil.api#BadRequest"
        },
        {
          "target": "com.archil.api#NotFound"
        },
        {
          "target": "com.archil.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/sandboxes/{sid}/pause",
          "code": 200
        },
[...]
