{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.doppler.api#ShareSecretEncryptedRequest": {
      "type": "structure",
      "members": {
        "encrypted_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ecrypted secret using AES-GCM with a symmetric key derived from a cryptographically random 64 character passphrase using PBKDF2. 1,000,000 salt rounds required. Then base64 encode the encrypted secret.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "hashed_password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SHA256 hash of the password. This is NOT the hash of the derived encryption key.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "expire_views": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of views before the link expires. Valid ranges: 1 to 50. -1 for unlimited."
          }
        },
        "expire_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of days before the link expires. Valid range: 1 to 90."
          }
        },
        "encryption_kdf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key derivation function used. Must by \"pbkdf2\".",
            "smithy.api#required": {}
          }
        },
        "encryption_salt_rounds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of salt rounds used by KDF. Must be \"1000000\".",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#ShareSecretEncryptedResponse": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String"
        },
        "success": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#ShareSecretEncrypted": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#ShareSecretEncryptedRequest"
      },
      "output": {
        "target": "com.doppler.api#ShareSecretEncryptedResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/share/secrets/encrypted",
          "code": 200
        },
        "smithy.api#documentation": "E2E Encrypted\n\nGenerate a Doppler Share link by sending an encrypted secret. The receive flow the user goes through will be end-to-end encrypted where the encrypted secret will be decrypted on the browser."
      }
    },
    "com.doppler.api#ShareSecretRequest": {
      "type": "structure",
      "members": {
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text secret to share.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "expire_views": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of views before the link expires. Valid ranges: 1 to 50. -1 for unlimited."
          }
        },
        "expire_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of days before the link expires. Valid range: 1 to 90."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#ShareSecretResponse": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String"
        },
        "authenticated_url": {
          "target": "smithy.api#String"
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "success": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#ShareSecret": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#ShareSecretRequest"
      },
      "output": {
        "target": "com.doppler.api#ShareSecretResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/share/secrets/plain",
          "code": 200
        },
        "smithy.api#documentation": "Plain Text\n\nGenerate a Doppler Share link by sending a plain text secret. This endpoint is not end-to-end encrypted as you are sending the secret in plain text. At no point do we store the plain text secret or the password in our systems. The receive flow the user goes through will be end-to-end encrypted where the encrypted secret will be decrypted on the browser."
      }
    },
    "com.doppler.api#AuthOidcRequest": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the OIDC token string from your OIDC provider (likely CI)",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identity ID from the Doppler Dashboard",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#AuthOidcResponse": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#AuthOidc": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#AuthOidcRequest"
      },
      "output": {
        "target": "com.doppler.api#AuthOidcResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/auth/oidc",
          "code": 200
        },
        "smithy.api#documentation": "OIDC (Service Account Identity)\n\nAuthenticate via a Service Account Identity with OIDC. Returns a short lived API token."
      }
    },
    "com.doppler.api#RevokeAuthRequest": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#RevokeAuth": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#RevokeAuthRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/auth/revoke",
          "code": 200
        },
        "smithy.api#documentation": "Revoke\n\nRevoke an auth token"
      }
    },
    "com.doppler.api#ListConfigsRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#required": {},
            "smithy.api#documentation": "The project's name"
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "environment",
            "smithy.api#documentation": "(optional) the environment from which to list configs"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number"
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Items per page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#ListConfigsResponseConfigsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "root": {
          "target": "smithy.api#Boolean"
        },
        "locked": {
          "target": "smithy.api#Boolean"
        },
        "initial_fetch_at": {
          "target": "smithy.api#String"
        },
        "last_fetch_at": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "project": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ListConfigsResponseConfigsList": {
      "type": "list",
      "member": {
        "target": "com.doppler.api#ListConfigsResponseConfigsItem"
      },
      "traits": {}
    },
    "com.doppler.api#ListConfigsResponse": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer"
        },
        "configs": {
          "target": "com.doppler.api#ListConfigsResponseConfigsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#ListConfigs": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#ListConfigsRequest"
      },
      "output": {
        "target": "com.doppler.api#ListConfigsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/configs",
          "code": 200
        },
        "smithy.api#documentation": "List\n\nFetch all configs."
      }
    },
    "com.doppler.api#CreateConfigRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the project object.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the environment object.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the new branch config.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#CreateConfigResponseConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "root": {
          "target": "smithy.api#Boolean"
        },
        "locked": {
          "target": "smithy.api#Boolean"
        },
        "initial_fetch_at": {
          "target": "smithy.api#String"
        },
        "last_fetch_at": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "project": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#CreateConfigResponse": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.doppler.api#CreateConfigResponseConfig"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#CreateConfig": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#CreateConfigRequest"
      },
      "output": {
        "target": "com.doppler.api#CreateConfigResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/configs",
          "code": 200
        },
        "smithy.api#documentation": "Create\n\nCreate a new branch config."
      }
    },
    "com.doppler.api#GetConfigRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for the project object."
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "config",
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the config object."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#GetConfigResponseConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "root": {
          "target": "smithy.api#Boolean"
        },
        "locked": {
          "target": "smithy.api#Boolean"
        },
        "initial_fetch_at": {
          "target": "smithy.api#String"
        },
        "last_fetch_at": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "project": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#GetConfigResponse": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.doppler.api#GetConfigResponseConfig"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#GetConfig": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#GetConfigRequest"
      },
      "output": {
        "target": "com.doppler.api#GetConfigResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/configs/config",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve\n\nFetch a config's details."
      }
    },
    "com.doppler.api#UpdateConfigRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the project object.",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the config object.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new name of config.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#UpdateConfigResponseConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "root": {
          "target": "smithy.api#Boolean"
        },
        "locked": {
          "target": "smithy.api#Boolean"
        },
        "initial_fetch_at": {
          "target": "smithy.api#String"
        },
        "last_fetch_at": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "project": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#UpdateConfigResponse": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.doppler.api#UpdateConfigResponseConfig"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#UpdateConfig": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#UpdateConfigRequest"
      },
      "output": {
        "target": "com.doppler.api#UpdateConfigResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/configs/config",
          "code": 200
        },
        "smithy.api#documentation": "Update\n\nModify an existing config."
      }
    },
    "com.doppler.api#DeleteConfigRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for the project."
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "config",
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the config."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#DeleteConfigResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#DeleteConfig": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#DeleteConfigRequest"
      },
      "output": {
        "target": "com.doppler.api#DeleteConfigResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v3/configs/config",
          "code": 200
        },
        "smithy.api#documentation": "Delete\n\nPermanently delete the config."
      }
    },
    "com.doppler.api#CloneConfigRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the project object.",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the branch config being cloned.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the new branch config.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#CloneConfigResponseConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "root": {
          "target": "smithy.api#Boolean"
        },
        "locked": {
          "target": "smithy.api#Boolean"
        },
        "initial_fetch_at": {
          "target": "smithy.api#String"
        },
        "last_fetch_at": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "project": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#CloneConfigResponse": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.doppler.api#CloneConfigResponseConfig"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#CloneConfig": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#CloneConfigRequest"
      },
      "output": {
        "target": "com.doppler.api#CloneConfigResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/configs/config/clone",
          "code": 200
        },
        "smithy.api#documentation": "Clone\n\nCreate a new branch config by cloning another. This duplicates a branch config and all its secrets."
      }
    },
    "com.doppler.api#DynamicSecretsIssueLeaseRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project where the dynamic secret is located",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The config where the dynamic secret is located",
            "smithy.api#required": {}
          }
        },
        "dynamic_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the dynamic secret for which to issue this lease",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "ttl_sec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of seconds until this lease is automatically revoked",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#DynamicSecretsIssueLeaseResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "expires_at": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#DynamicSecretsIssueLease": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#DynamicSecretsIssueLeaseRequest"
      },
      "output": {
        "target": "com.doppler.api#DynamicSecretsIssueLeaseResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/configs/config/dynamic_secrets/dynamic_secret/leases",
          "code": 200
        },
        "smithy.api#documentation": "Issue Lease\n\nIssue a lease for a dynamic secret"
      }
    },
    "com.doppler.api#DynamicSecretsRevokeLeaseRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project where the dynamic secret is located",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The config where the dynamic secret is located",
            "smithy.api#required": {}
          }
        },
        "dynamic_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the dynamic secret from which this lease was issued",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the lease to revoke",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#DynamicSecretsRevokeLeaseResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#DynamicSecretsRevokeLease": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#DynamicSecretsRevokeLeaseRequest"
      },
      "output": {
        "target": "com.doppler.api#DynamicSecretsRevokeLeaseResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v3/configs/config/dynamic_secrets/dynamic_secret/leases/lease",
          "code": 200
        },
        "smithy.api#documentation": "Revoke Lease"
      }
    },
    "com.doppler.api#ConfigsInheritableRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the project object.",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the config.",
            "smithy.api#required": {}
          }
        },
        "inheritable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean determining if the config is inheritable or not.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#ConfigsInheritableResponseConfigInheritsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.doppler.api#ConfigsInheritableResponseConfigInheritedByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.doppler.api#ConfigsInheritableResponseConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "root": {
          "target": "smithy.api#Boolean"
        },
        "inheritable": {
          "target": "smithy.api#Boolean"
        },
        "inheriting": {
          "target": "smithy.api#Boolean"
        },
        "inherits": {
          "target": "com.doppler.api#ConfigsInheritableResponseConfigInheritsList"
        },
        "inheritedBy": {
          "target": "com.doppler.api#ConfigsInheritableResponseConfigInheritedByList"
        },
        "locked": {
          "target": "smithy.api#Boolean"
        },
        "initial_fetch_at": {
          "target": "smithy.api#String"
        },
        "last_fetch_at": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "project": {
          "target": "smithy.api#String"
        },
        "slug": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ConfigsInheritableResponse": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.doppler.api#ConfigsInheritableResponseConfig"
        },
        "success": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#ConfigsInheritable": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#ConfigsInheritableRequest"
      },
      "output": {
        "target": "com.doppler.api#ConfigsInheritableResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/configs/config/inheritable",
          "code": 200
        },
        "smithy.api#documentation": "Inheritable\n\nUpdate the inheritability of a config."
      }
    },
    "com.doppler.api#ConfigsInheritsRequestInheritsItem": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the project object of the config being inherited.",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the config object being inherited.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.doppler.api#ConfigsInheritsRequestInheritsList": {
      "type": "list",
      "member": {
        "target": "com.doppler.api#ConfigsInheritsRequestInheritsItem"
      },
      "traits": {
        "smithy.api#documentation": "Array of objects indicating which configs are being inherited."
      }
    },
    "com.doppler.api#ConfigsInheritsRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the project object of the config doing the inheriting.",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the config object doing the inheriting.",
            "smithy.api#required": {}
          }
        },
        "inherits": {
          "target": "com.doppler.api#ConfigsInheritsRequestInheritsList",
          "traits": {
            "smithy.api#documentation": "Array of objects indicating which configs are being inherited.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#ConfigsInheritsResponseConfigInheritsItem": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String"
        },
        "config": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ConfigsInheritsResponseConfigInheritsList": {
      "type": "list",
      "member": {
        "target": "com.doppler.api#ConfigsInheritsResponseConfigInheritsItem"
      },
      "traits": {}
    },
    "com.doppler.api#ConfigsInheritsResponseConfigInheritedByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.doppler.api#ConfigsInheritsResponseConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "root": {
          "target": "smithy.api#Boolean"
        },
        "inheritable": {
          "target": "smithy.api#Boolean"
        },
        "inheriting": {
          "target": "smithy.api#Boolean"
        },
        "inherits": {
          "target": "com.doppler.api#ConfigsInheritsResponseConfigInheritsList"
        },
        "inheritedBy": {
          "target": "com.doppler.api#ConfigsInheritsResponseConfigInheritedByList"
        },
        "locked": {
          "target": "smithy.api#Boolean"
        },
        "initial_fetch_at": {
          "target": "smithy.api#String"
        },
        "last_fetch_at": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "project": {
          "target": "smithy.api#String"
        },
        "slug": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ConfigsInheritsResponse": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.doppler.api#ConfigsInheritsResponseConfig"
        },
        "success": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#ConfigsInherits": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#ConfigsInheritsRequest"
      },
      "output": {
        "target": "com.doppler.api#ConfigsInheritsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/configs/config/inherits",
          "code": 200
        },
        "smithy.api#documentation": "Inherits"
      }
    },
    "com.doppler.api#LockConfigRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the project object.",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the config.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#LockConfigResponseConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "root": {
          "target": "smithy.api#Boolean"
        },
        "locked": {
          "target": "smithy.api#Boolean"
        },
        "initial_fetch_at": {
          "target": "smithy.api#String"
        },
        "last_fetch_at": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "project": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#LockConfigResponse": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.doppler.api#LockConfigResponseConfig"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#LockConfig": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#LockConfigRequest"
      },
      "output": {
        "target": "com.doppler.api#LockConfigResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/configs/config/lock",
          "code": 200
        },
        "smithy.api#documentation": "Lock\n\nPrevent the config from being renamed or deleted."
      }
    },
    "com.doppler.api#ConfigLogsListRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for the project object."
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "config",
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the config object."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number"
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Items per page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#ConfigLogsListResponseLogsItemUser": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "username": {
          "target": "smithy.api#String"
        },
        "profile_image_url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ConfigLogsListResponseLogsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "html": {
          "target": "smithy.api#String"
        },
        "rollback": {
          "target": "smithy.api#Boolean"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "config": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "project": {
          "target": "smithy.api#String"
        },
        "user": {
          "target": "com.doppler.api#ConfigLogsListResponseLogsItemUser"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ConfigLogsListResponseLogsList": {
      "type": "list",
      "member": {
        "target": "com.doppler.api#ConfigLogsListResponseLogsItem"
      },
      "traits": {}
    },
    "com.doppler.api#ConfigLogsListResponse": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer"
        },
        "logs": {
          "target": "com.doppler.api#ConfigLogsListResponseLogsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#ConfigLogsList": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#ConfigLogsListRequest"
      },
      "output": {
        "target": "com.doppler.api#ConfigLogsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/configs/config/logs",
          "code": 200
        },
        "smithy.api#documentation": "List\n\nConfig Logs"
      }
    },
    "com.doppler.api#ConfigLogsGetRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for the project object."
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "config",
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the config object."
          }
        },
        "log": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "log",
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for the log object."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#ConfigLogsGetResponseLogDiffItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "added": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ConfigLogsGetResponseLogDiffList": {
      "type": "list",
      "member": {
        "target": "com.doppler.api#ConfigLogsGetResponseLogDiffItem"
      },
      "traits": {}
    },
    "com.doppler.api#ConfigLogsGetResponseLogUser": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "username": {
          "target": "smithy.api#String"
        },
        "profile_image_url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ConfigLogsGetResponseLog": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "html": {
          "target": "smithy.api#String"
        },
        "diff": {
          "target": "com.doppler.api#ConfigLogsGetResponseLogDiffList"
        },
        "rollback": {
          "target": "smithy.api#Boolean"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "config": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "project": {
          "target": "smithy.api#String"
        },
        "user": {
          "target": "com.doppler.api#ConfigLogsGetResponseLogUser"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ConfigLogsGetResponse": {
      "type": "structure",
      "members": {
        "log": {
          "target": "com.doppler.api#ConfigLogsGetResponseLog"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#ConfigLogsGet": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#ConfigLogsGetRequest"
      },
      "output": {
        "target": "com.doppler.api#ConfigLogsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/configs/config/logs/log",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve\n\nConfig Log"
      }
    },
    "com.doppler.api#ConfigLogsRollbackRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for the project object."
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "config",
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the config object."
          }
        },
        "log": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "log",
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for the log object."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#ConfigLogsRollbackResponseLogDiffItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "removed": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ConfigLogsRollbackResponseLogDiffList": {
      "type": "list",
      "member": {
        "target": "com.doppler.api#ConfigLogsRollbackResponseLogDiffItem"
      },
      "traits": {}
    },
    "com.doppler.api#ConfigLogsRollbackResponseLogUser": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "username": {
          "target": "smithy.api#String"
        },
        "profile_image_url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ConfigLogsRollbackResponseLog": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "html": {
          "target": "smithy.api#String"
        },
        "diff": {
          "target": "com.doppler.api#ConfigLogsRollbackResponseLogDiffList"
        },
        "rollback": {
          "target": "smithy.api#Boolean"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "config": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "project": {
          "target": "smithy.api#String"
        },
        "user": {
          "target": "com.doppler.api#ConfigLogsRollbackResponseLogUser"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ConfigLogsRollbackResponse": {
      "type": "structure",
      "members": {
        "log": {
          "target": "com.doppler.api#ConfigLogsRollbackResponseLog"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#ConfigLogsRollback": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#ConfigLogsRollbackRequest"
      },
      "output": {
        "target": "com.doppler.api#ConfigLogsRollbackResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/configs/config/logs/log/rollback",
          "code": 200
        },
        "smithy.api#documentation": "Rollback\n\nConfig Log"
      }
    },
    "com.doppler.api#GetSecretRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for the project object."
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "config",
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the config object."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the secret."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#GetSecretResponseValueRawVisibility": {
      "type": "enum",
      "members": {
        "UNMASKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unmasked"
          }
        },
        "MASKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "masked"
          }
        },
        "RESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restricted"
          }
        }
      },
      "traits": {}
    },
    "com.doppler.api#GetSecretResponseValueRawValueType": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#GetSecretResponseValueComputedValueType": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#GetSecretResponseValue": {
      "type": "structure",
      "members": {
        "raw": {
          "target": "smithy.api#String"
        },
        "computed": {
          "target": "smithy.api#String"
        },
        "note": {
          "target": "smithy.api#String"
        },
        "rawVisibility": {
          "target": "com.doppler.api#GetSecretResponseValueRawVisibility"
        },
        "computedVisibility": {
          "target": "smithy.api#String"
        },
        "rawValueType": {
          "target": "com.doppler.api#GetSecretResponseValueRawValueType"
        },
        "computedValueType": {
          "target": "com.doppler.api#GetSecretResponseValueComputedValueType"
        }
      },
      "traits": {}
    },
    "com.doppler.api#GetSecretResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.doppler.api#GetSecretResponseValue"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#GetSecret": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#GetSecretRequest"
      },
      "output": {
        "target": "com.doppler.api#GetSecretResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/configs/config/secret",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve\n\nSecret"
      }
    },
    "com.doppler.api#DeleteSecretRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for the project object."
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "config",
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the config object."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the secret."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#DeleteSecret": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#DeleteSecretRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v3/configs/config/secret",
          "code": 200
        },
        "smithy.api#documentation": "Delete\n\nSecret"
      }
    },
    "com.doppler.api#ListSecretsRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for the project object."
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "config",
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the config object."
          }
        },
        "include_dynamic_secrets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_dynamic_secrets",
            "smithy.api#documentation": "Whether or not to issue leases and include dynamic secret values for the config"
          }
        },
        "dynamic_secrets_ttl_sec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "dynamic_secrets_ttl_sec",
            "smithy.api#documentation": "The number of seconds until dynamic leases expire. Must be used with `include_dynamic_secrets`. Defaults to 1800 (30 minutes)."
          }
        },
        "secrets": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "secrets",
            "smithy.api#documentation": "A comma-separated list of secrets to include in the response"
          }
        },
        "include_managed_secrets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_managed_secrets",
            "smithy.api#documentation": "Whether to include Doppler's auto-generated (managed) secrets"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#ListSecretsResponseSecretsSTRIPERawVisibility": {
      "type": "enum",
      "members": {
        "UNMASKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unmasked"
          }
        },
        "MASKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "masked"
          }
        },
        "RESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restricted"
          }
        }
      },
      "traits": {}
    },
    "com.doppler.api#ListSecretsResponseSecretsSTRIPE": {
      "type": "structure",
      "members": {
        "raw": {
          "target": "smithy.api#String"
        },
        "computed": {
          "target": "smithy.api#String"
        },
        "note": {
          "target": "smithy.api#String"
        },
        "rawVisibility": {
          "target": "com.doppler.api#ListSecretsResponseSecretsSTRIPERawVisibility"
        },
        "computedVisibility": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ListSecretsResponseSecretsALGOLIARawVisibility": {
      "type": "enum",
      "members": {
        "UNMASKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unmasked"
          }
        },
        "MASKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "masked"
          }
        },
        "RESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restricted"
          }
        }
      },
      "traits": {}
    },
    "com.doppler.api#ListSecretsResponseSecretsALGOLIA": {
      "type": "structure",
      "members": {
        "raw": {
          "target": "smithy.api#String"
        },
        "computed": {
          "target": "smithy.api#String"
        },
        "note": {
          "target": "smithy.api#String"
        },
        "rawVisibility": {
          "target": "com.doppler.api#ListSecretsResponseSecretsALGOLIARawVisibility"
        },
        "computedVisibility": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ListSecretsResponseSecretsDATABASERawVisibility": {
      "type": "enum",
      "members": {
        "UNMASKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unmasked"
          }
        },
        "MASKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "masked"
          }
        },
        "RESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restricted"
          }
        }
      },
      "traits": {}
    },
    "com.doppler.api#ListSecretsResponseSecretsDATABASE": {
      "type": "structure",
      "members": {
        "raw": {
          "target": "smithy.api#String"
        },
        "computed": {
          "target": "smithy.api#String"
        },
        "note": {
          "target": "smithy.api#String"
        },
        "rawVisibility": {
          "target": "com.doppler.api#ListSecretsResponseSecretsDATABASERawVisibility"
        },
        "computedVisibility": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ListSecretsResponseSecretsUSERRawVisibility": {
      "type": "enum",
      "members": {
        "UNMASKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unmasked"
          }
        },
        "MASKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "masked"
          }
        },
        "RESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restricted"
          }
        }
      },
      "traits": {}
    },
    "com.doppler.api#ListSecretsResponseSecretsUSER": {
      "type": "structure",
      "members": {
        "raw": {
          "target": "smithy.api#String"
        },
        "computed": {
          "target": "smithy.api#String"
        },
        "note": {
          "target": "smithy.api#String"
        },
        "rawVisibility": {
          "target": "com.doppler.api#ListSecretsResponseSecretsUSERRawVisibility"
        },
        "computedVisibility": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ListSecretsResponseSecrets": {
      "type": "structure",
      "members": {
        "STRIPE": {
          "target": "com.doppler.api#ListSecretsResponseSecretsSTRIPE"
        },
        "ALGOLIA": {
          "target": "com.doppler.api#ListSecretsResponseSecretsALGOLIA"
        },
        "DATABASE": {
          "target": "com.doppler.api#ListSecretsResponseSecretsDATABASE"
        },
        "USER": {
          "target": "com.doppler.api#ListSecretsResponseSecretsUSER"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ListSecretsResponse": {
      "type": "structure",
      "members": {
        "secrets": {
          "target": "com.doppler.api#ListSecretsResponseSecrets"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#ListSecrets": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#ListSecretsRequest"
      },
      "output": {
        "target": "com.doppler.api#ListSecretsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/configs/config/secrets",
          "code": 200
        },
        "smithy.api#documentation": "List\n\nSecrets"
      }
    },
    "com.doppler.api#UpdateSecretRequestSecrets": {
      "type": "structure",
      "members": {
        "STRIPE": {
          "target": "smithy.api#String"
        },
        "ALGOLIA": {
          "target": "smithy.api#String"
        },
        "DATABASE": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Either `secrets` or `change_requests` is required (can't use both). Object of secrets you would like to save to the config. Try it with the sample secrets below."
      }
    },
    "com.doppler.api#UpdateSecretRequestChangeRequestsItemValueTypeType": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "JSON5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json5"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integer"
          }
        },
        "DECIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "decimal"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        },
        "UUIDV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uuidv4"
          }
        },
        "CUID2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cuid2"
          }
        },
        "ULID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ulid"
          }
        },
        "DATETIME8601": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "datetime8601"
          }
        },
        "DATE8601": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date8601"
          }
        },
        "YAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yaml"
          }
        }
      },
      "traits": {}
    },
    "com.doppler.api#UpdateSecretRequestChangeRequestsItemValueType": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.doppler.api#UpdateSecretRequestChangeRequestsItemValueTypeType"
        }
      },
      "traits": {
        "smithy.api#documentation": "The default valueType (string) will result in no validations being applied."
      }
    },
    "com.doppler.api#UpdateSecretRequestChangeRequestsItemOriginalValueTypeType": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "JSON5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json5"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integer"
          }
        },
        "DECIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "decimal"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        },
        "UUIDV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uuidv4"
          }
        },
        "CUID2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cuid2"
          }
        },
        "ULID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ulid"
          }
        },
        "DATETIME8601": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "datetime8601"
          }
        },
        "DATE8601": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date8601"
          }
        },
        "YAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yaml"
          }
        }
      },
      "traits": {}
    },
    "com.doppler.api#UpdateSecretRequestChangeRequestsItemOriginalValueType": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.doppler.api#UpdateSecretRequestChangeRequestsItemOriginalValueTypeType"
        }
      },
      "traits": {
        "smithy.api#documentation": "The valueType you expect the secret to have before `valueType` is applied. If specified, the request will only be processed if the provided valueType matches what's found in Doppler."
      }
    },
    "com.doppler.api#UpdateSecretRequestChangeRequestsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret.",
            "smithy.api#required": {}
          }
        },
        "originalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original name of the secret. Use `null` (an actual `null`, not the string `null`) or omit this parameter for new secrets. If it differs from `name` then a rename is inferred.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value the secret should have. Use `null` (an actual `null`, not the string `null`) to leave the existing secret value unchanged.",
            "smithy.api#required": {}
          }
        },
        "originalValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value you expect the secret to have before `name` is applied. If specified, the request will only be processed if the provided value matches what's found in Doppler."
          }
        },
        "visibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Must be set to either `masked`, `unmasked`, or `restricted`."
          }
        },
        "originalVisibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Must be set to either `masked`, `unmasked`, or `restricted`. The visibility you expect the secret to have before `visibility` is applied. If specified, the request will only be processed if the provided visibility matches what's found in Doppler."
          }
        },
        "shouldPromote": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defaults to `false`. Can only be set to `true` if the config being updated is a branch config. If set to `true`, the provided secret will be set in both the branch config as well as the root config in that environment."
          }
        },
        "shouldDelete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defaults to `false`. If set to `true`, will delete the secret matching the `name` field."
          }
        },
        "shouldConverge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defaults to `false`. Can only be set to `true` if the config being updated is a branch config and there is a secret with the same name in the root config. In this case, the branch secret will inherit the value and visibility type from the root secret."
          }
        },
        "valueType": {
          "target": "com.doppler.api#UpdateSecretRequestChangeRequestsItemValueType",
          "traits": {
            "smithy.api#documentation": "The default valueType (string) will result in no validations being applied."
          }
        },
        "originalValueType": {
          "target": "com.doppler.api#UpdateSecretRequestChangeRequestsItemOriginalValueType",
          "traits": {
            "smithy.api#documentation": "The valueType you expect the secret to have before `valueType` is applied. If specified, the request will only be processed if the provided valueType matches what's found in Doppler."
          }
        }
      },
      "traits": {}
    },
    "com.doppler.api#UpdateSecretRequestChangeRequestsList": {
      "type": "list",
      "member": {
        "target": "com.doppler.api#UpdateSecretRequestChangeRequestsItem"
      },
      "traits": {
        "smithy.api#documentation": "Either `secrets` or `change_requests` is required (can't use both). Object of secrets you would like to save to the config. Try it with the sample secrets below."
      }
    },
    "com.doppler.api#UpdateSecretRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the project object.",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the config object.",
            "smithy.api#required": {}
          }
        },
        "secrets": {
          "target": "com.doppler.api#UpdateSecretRequestSecrets",
          "traits": {
            "smithy.api#documentation": "Either `secrets` or `change_requests` is required (can't use both). Object of secrets you would like to save to the config. Try it with the sample secrets below."
          }
        },
        "change_requests": {
          "target": "com.doppler.api#UpdateSecretRequestChangeRequestsList",
          "traits": {
            "smithy.api#documentation": "Either `secrets` or `change_requests` is required (can't use both). Object of secrets you would like to save to the config. Try it with the sample secrets below."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#UpdateSecretResponseSecretsSTRIPE": {
      "type": "structure",
      "members": {
        "raw": {
          "target": "smithy.api#String"
        },
        "computed": {
          "target": "smithy.api#String"
        },
        "note": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#UpdateSecretResponseSecretsALGOLIA": {
      "type": "structure",
      "members": {
        "raw": {
          "target": "smithy.api#String"
        },
        "computed": {
          "target": "smithy.api#String"
        },
        "note": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#UpdateSecretResponseSecretsDATABASE": {
      "type": "structure",
      "members": {
        "raw": {
          "target": "smithy.api#String"
        },
        "computed": {
          "target": "smithy.api#String"
        },
        "note": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#UpdateSecretResponseSecrets": {
      "type": "structure",
      "members": {
        "STRIPE": {
          "target": "com.doppler.api#UpdateSecretResponseSecretsSTRIPE"
        },
        "ALGOLIA": {
          "target": "com.doppler.api#UpdateSecretResponseSecretsALGOLIA"
        },
        "DATABASE": {
          "target": "com.doppler.api#UpdateSecretResponseSecretsDATABASE"
        }
      },
      "traits": {}
    },
    "com.doppler.api#UpdateSecretResponse": {
      "type": "structure",
      "members": {
        "secrets": {
          "target": "com.doppler.api#UpdateSecretResponseSecrets"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#UpdateSecret": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#UpdateSecretRequest"
      },
      "output": {
        "target": "com.doppler.api#UpdateSecretResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/configs/config/secrets",
          "code": 200
        },
        "smithy.api#documentation": "Update\n\nSecrets"
      }
    },
    "com.doppler.api#DownloadSecretRequestFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "DOTNET_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dotnet-json"
          }
        },
        "ENV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env"
          }
        },
        "YAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yaml"
          }
        },
        "DOCKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docker"
          }
        },
        "ENV_NO_QUOTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env-no-quotes"
          }
        }
      },
      "traits": {}
    },
    "com.doppler.api#DownloadSecretRequestNameTransformer": {
      "type": "enum",
      "members": {
        "CAMEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "camel"
          }
        },
        "UPPER_CAMEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "upper-camel"
          }
        },
        "LOWER_SNAKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lower-snake"
          }
        },
        "TF_VAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tf-var"
          }
        },
        "DOTNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dotnet"
          }
        },
        "DOTNET_ENV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dotnet-env"
          }
        },
        "LOWER_KEBAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lower-kebab"
          }
        }
      },
      "traits": {}
    },
    "com.doppler.api#DownloadSecretRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#documentation": "Unique identifier for the project object. Not required if using a Service Token."
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "config",
            "smithy.api#documentation": "Name of the config object. Not required if using a Service Token."
          }
        },
        "format": {
          "target": "com.doppler.api#DownloadSecretRequestFormat",
          "traits": {
            "smithy.api#httpQuery": "format"
          }
        },
        "name_transformer": {
          "target": "com.doppler.api#DownloadSecretRequestNameTransformer",
          "traits": {
            "smithy.api#httpQuery": "name_transformer",
            "smithy.api#documentation": "Transform secret names to a different case"
          }
        },
        "include_dynamic_secrets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_dynamic_secrets",
            "smithy.api#documentation": "Whether or not to issue leases and include dynamic secret values for the config"
          }
        },
        "dynamic_secrets_ttl_sec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "dynamic_secrets_ttl_sec",
            "smithy.api#documentation": "The number of seconds until dynamic leases expire. Must be used with `include_dynamic_secrets`. Defaults to 1800 (30 minutes)."
          }
        },
        "secrets": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "secrets",
            "smithy.api#documentation": "Comma-delimited list of secrets to include in the download. Defaults to all secrets if left unspecified."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#DownloadSecretResponseBodyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.doppler.api#DownloadSecretResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.doppler.api#DownloadSecretResponseBodyMap",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#DownloadSecret": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#DownloadSecretRequest"
      },
      "output": {
        "target": "com.doppler.api#DownloadSecretResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/configs/config/secrets/download",
          "code": 200
        },
        "smithy.api#documentation": "Download\n\nDownload Secrets"
      }
    },
    "com.doppler.api#SecretsNamesRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for the project object."
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "config",
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the config object."
          }
        },
        "include_dynamic_secrets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_dynamic_secrets",
            "smithy.api#documentation": "Whether or not to issue leases and include dynamic secret values for the config"
          }
        },
        "include_managed_secrets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_managed_secrets",
            "smithy.api#documentation": "Whether to include Doppler's auto-generated (managed) secrets"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#SecretsNamesResponseNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.doppler.api#SecretsNamesResponse": {
      "type": "structure",
      "members": {
        "names": {
          "target": "com.doppler.api#SecretsNamesResponseNamesList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#SecretsNames": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#SecretsNamesRequest"
      },
      "output": {
        "target": "com.doppler.api#SecretsNamesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/configs/config/secrets/names",
          "code": 200
        },
        "smithy.api#documentation": "List Names\n\nSecret Names"
      }
    },
    "com.doppler.api#CreateSyncRequestImportOption": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "PREFER_DOPPLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prefer_doppler"
          }
        },
        "PREFER_INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prefer_integration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An option indicating if and how Doppler should attempt to import secrets from the sync destination"
      }
    },
    "com.doppler.api#CreateSyncRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#required": {},
            "smithy.api#documentation": "The project slug"
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "config",
            "smithy.api#required": {},
            "smithy.api#documentation": "The config slug"
          }
        },
        "integration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The integration slug which the sync will use",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Configuration data for the sync",
            "smithy.api#required": {}
          }
        },
        "import_option": {
          "target": "com.doppler.api#CreateSyncRequestImportOption",
          "traits": {
            "smithy.api#documentation": "An option indicating if and how Doppler should attempt to import secrets from the sync destination"
          }
        },
        "await_initial_sync": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Causes sync creation to wait for the initial sync to complete before returning."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#CreateSyncResponseSync": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String"
        },
        "integration": {
          "target": "smithy.api#String"
        },
        "project": {
          "target": "smithy.api#String"
        },
        "config": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "lastSyncedAt": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#CreateSyncResponse": {
      "type": "structure",
      "members": {
        "sync": {
          "target": "com.doppler.api#CreateSyncResponseSync"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#CreateSync": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#CreateSyncRequest"
      },
      "output": {
        "target": "com.doppler.api#CreateSyncResponse"
      },
      "errors": [
        {
          "target": "com.doppler.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/configs/config/syncs",
          "code": 200
        },
        "smithy.api#documentation": "Create\n\nCreate a new secrets sync."
      }
    },
    "com.doppler.api#GetSyncRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#required": {},
            "smithy.api#documentation": "The project slug"
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "config",
            "smithy.api#required": {},
            "smithy.api#documentation": "The config slug"
          }
        },
        "sync": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "sync",
            "smithy.api#required": {},
            "smithy.api#documentation": "The sync slug"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#GetSyncResponseSync": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String"
        },
        "integration": {
          "target": "smithy.api#String"
        },
        "project": {
          "target": "smithy.api#String"
        },
        "config": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "lastSyncedAt": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#GetSyncResponse": {
      "type": "structure",
      "members": {
        "sync": {
          "target": "com.doppler.api#GetSyncResponseSync"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#GetSync": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#GetSyncRequest"
      },
      "output": {
        "target": "com.doppler.api#GetSyncResponse"
      },
      "errors": [
        {
          "target": "com.doppler.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/configs/config/syncs/sync",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve\n\nRetrieve an existing secrets sync."
      }
    },
    "com.doppler.api#DeleteSyncRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#required": {},
            "smithy.api#documentation": "The project slug"
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "config",
            "smithy.api#required": {},
            "smithy.api#documentation": "The config slug"
          }
        },
        "sync": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "sync",
            "smithy.api#required": {},
            "smithy.api#documentation": "The sync slug"
          }
        },
        "delete_from_target": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "delete_from_target",
            "smithy.api#required": {},
            "smithy.api#documentation": "Whether or not to delete the synced data from the target integration"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#DeleteSyncResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#DeleteSync": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#DeleteSyncRequest"
      },
      "output": {
        "target": "com.doppler.api#DeleteSyncResponse"
      },
      "errors": [
        {
          "target": "com.doppler.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v3/configs/config/syncs/sync",
          "code": 200
        },
        "smithy.api#documentation": "Delete\n\nDelete an existing sync."
      }
    },
    "com.doppler.api#ServiceTokensListRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for the project object."
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "config",
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the config object."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#ServiceTokensListResponseTokensItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "slug": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "config": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "project": {
          "target": "smithy.api#String"
        },
        "expires_at": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ServiceTokensListResponseTokensList": {
      "type": "list",
      "member": {
        "target": "com.doppler.api#ServiceTokensListResponseTokensItem"
      },
      "traits": {}
    },
    "com.doppler.api#ServiceTokensListResponse": {
      "type": "structure",
      "members": {
        "tokens": {
          "target": "com.doppler.api#ServiceTokensListResponseTokensList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#ServiceTokensList": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#ServiceTokensListRequest"
      },
      "output": {
        "target": "com.doppler.api#ServiceTokensListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/configs/config/tokens",
          "code": 200
        },
        "smithy.api#documentation": "List\n\nService Tokens"
      }
    },
    "com.doppler.api#ServiceTokensCreateRequestAccess": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read/write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Token's capabilities."
      }
    },
    "com.doppler.api#ServiceTokensCreateRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the project object.",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the config object.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the service token.",
            "smithy.api#required": {}
          }
        },
        "expire_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unix timestamp of when token should expire."
          }
        },
        "access": {
          "target": "com.doppler.api#ServiceTokensCreateRequestAccess",
          "traits": {
            "smithy.api#documentation": "Token's capabilities."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#ServiceTokensCreateResponseToken": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "slug": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "key": {
          "target": "smithy.api#String"
        },
        "config": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "project": {
          "target": "smithy.api#String"
        },
        "expires_at": {
          "target": "smithy.api#Document"
        },
        "access": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.doppler.api#ServiceTokensCreateResponse": {
      "type": "structure",
      "members": {
        "token": {
          "target": "com.doppler.api#ServiceTokensCreateResponseToken"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#ServiceTokensCreate": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#ServiceTokensCreateRequest"
      },
      "output": {
        "target": "com.doppler.api#ServiceTokensCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/configs/config/tokens",
          "code": 200
        },
        "smithy.api#documentation": "Create\n\nService Token"
      }
    },
    "com.doppler.api#ServiceTokensDeleteRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the project object.",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the config object.",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the service token."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token value."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#ServiceTokensDeleteResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#ServiceTokensDelete": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#ServiceTokensDeleteRequest"
      },
      "output": {
        "target": "com.doppler.api#ServiceTokensDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v3/configs/config/tokens/token",
          "code": 200
        },
        "smithy.api#documentation": "Delete\n\nService Token"
      }
    },
    "com.doppler.api#ConfigsListTrustedIpsRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "config",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#ConfigsListTrustedIpsResponseIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.doppler.api#ConfigsListTrustedIpsResponse": {
      "type": "structure",
      "members": {
        "ips": {
          "target": "com.doppler.api#ConfigsListTrustedIpsResponseIpsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#ConfigsListTrustedIps": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#ConfigsListTrustedIpsRequest"
      },
      "output": {
        "target": "com.doppler.api#ConfigsListTrustedIpsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/configs/config/trusted_ips",
          "code": 200
        },
        "smithy.api#documentation": "List"
      }
    },
    "com.doppler.api#ConfigsAddTrustedIpRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "config",
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IP address or CIDR range",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#ConfigsAddTrustedIpResponse": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.doppler.api#ConfigsAddTrustedIp": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#ConfigsAddTrustedIpRequest"
      },
      "output": {
        "target": "com.doppler.api#ConfigsAddTrustedIpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/configs/config/trusted_ips",
          "code": 200
        },
        "smithy.api#documentation": "Add"
      }
    },
    "com.doppler.api#ConfigsDeleteTrustedIpRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "config",
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IP address or CIDR range",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#ConfigsDeleteTrustedIp": {
      "type": "operation",
      "input": {
        "target": "com.doppler.api#ConfigsDeleteTrustedIpRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.doppler.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v3/configs/config/trusted_ips",
          "code": 200
        },
        "smithy.api#documentation": "Delete"
      }
    },
    "com.doppler.api#UnlockConfigRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the project object.",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the config.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.doppler.api#UnlockConfigResponseConfig": {
      "type": "structure",
      "members": {
        "name": {
[...]
