{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "org.apache.iceberg.rest#GetConfigRequest": {
      "type": "structure",
      "members": {
        "warehouse": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "warehouse",
            "smithy.api#documentation": "Warehouse location or identifier to request from the service"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.iceberg.rest#CatalogConfig": {
      "type": "structure",
      "members": {
        "overrides": {
          "target": "org.apache.iceberg.rest#CatalogConfigOverridesMap",
          "traits": {
            "smithy.api#documentation": "Properties that should be used to override client configuration; applied after defaults and client configuration.",
            "smithy.api#required": {}
          }
        },
        "defaults": {
          "target": "org.apache.iceberg.rest#CatalogConfigDefaultsMap",
          "traits": {
            "smithy.api#documentation": "Properties that should be used as default configuration; applied before client configuration.",
            "smithy.api#required": {}
          }
        },
        "endpoints": {
          "target": "org.apache.iceberg.rest#CatalogConfigEndpointsList",
          "traits": {
            "smithy.api#documentation": "A list of endpoints that the server supports. The format of each endpoint must be \"<HTTP verb> <resource path from OpenAPI REST spec>\". The HTTP verb and the resource path must be separated by a space character."
          }
        },
        "idempotency_key_lifetime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client reuse window for an Idempotency-Key (ISO-8601 duration, e.g., PT30M, PT24H). Interpreted as the maximum time from the first submission using a key to the last retry during which a client may reuse that key. Servers SHOULD accept retries for at least this duration and MAY include a grace period to account for delays/clock skew. Clients SHOULD NOT reuse an Idempotency-Key after this window elapses; they SHOULD generate a new key for any subsequent attempt. Presence of this field indicates the server supports Idempotency-Key semantics for mutation endpoints. If absent, clients MUST assume idempotency is not supported.",
            "smithy.api#jsonName": "idempotency-key-lifetime"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server-provided configuration for the catalog."
      }
    },
    "org.apache.iceberg.rest#CatalogConfigOverridesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Properties that should be used to override client configuration; applied after defaults and client configuration."
      }
    },
    "org.apache.iceberg.rest#CatalogConfigDefaultsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Properties that should be used as default configuration; applied before client configuration."
      }
    },
    "org.apache.iceberg.rest#CatalogConfigEndpointsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of endpoints that the server supports. The format of each endpoint must be \"<HTTP verb> <resource path from OpenAPI REST spec>\". The HTTP verb and the resource path must be separated by a space character."
      }
    },
    "org.apache.iceberg.rest#GetConfig": {
      "type": "operation",
      "input": {
        "target": "org.apache.iceberg.rest#GetConfigRequest"
      },
      "output": {
        "target": "org.apache.iceberg.rest#CatalogConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/config",
          "code": 200
        },
        "smithy.api#documentation": "List all catalog configuration settings\n\nAll REST clients should first call this route to get catalog configuration properties from the server to configure the catalog and its HTTP client. Configuration from the server consists of two sets of key/value pairs.\n- defaults -  properties that should be used as default configuration; applied before client configuration\n- overrides - properties that should be used to override client configuration; applied after defaults and client configuration\n\nCatalog configuration is constructed by setting the defaults, then client- provided configuration, and finally overrides. The final property set is then used to configure the catalog.\n\nFor example, a default configuration property might set the size of the client pool, which can be replaced with a client-specific setting. An override might be used to set the warehouse location, which is stored on the server rather than in client configuration.\n\nCommon catalog configuration settings are documented at https://iceberg.apache.org/docs/latest/catalog-properties\n\nThe catalog configuration also holds an optional `endpoints` field that contains information about the endpoints supported by the server. If a server does not send the `endpoints` field, a default set of endpoints is assumed:\n- GET /v1/{prefix}/namespaces\n- POST /v1/{prefix}/namespaces\n- GET /v1/{prefix}/namespaces/{namespace}\n- DELETE /v1/{prefix}/namespaces/{namespace}\n- POST /v1/{prefix}/namespaces/{namespace}/properties\n- GET /v1/{prefix}/namespaces/{namespace}/tables\n- POST /v1/{prefix}/namespaces/{namespace}/tables\n- GET /v1/{prefix}/namespaces/{namespace}/tables/{table}\n- POST /v1/{prefix}/namespaces/{namespace}/tables/{table}\n- DELETE /v1/{prefix}/namespaces/{namespace}/tables/{table}\n- POST /v1/{prefix}/namespaces/{namespace}/register\n- POST /v1/{prefix}/namespaces/{namespace}/tables/{table}/metrics\n- POST /v1/{prefix}/tables/rename\n- POST /v1/{prefix}/transactions/commit"
      },
      "errors": [
        {
          "target": "org.apache.iceberg.rest#NoSuchWarehouseException"
        }
      ]
    },
    "org.apache.iceberg.rest#ListNamespacesRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "For servers that support pagination, this signals an upper bound of the number of results that a client will receive. For servers that do not support pagination, clients may receive results larger than the indicated `pageSize`."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "parent",
            "smithy.api#documentation": "An optional namespace, underneath which to list namespaces. If not provided, all top-level namespaces should be listed. For backward compatibility, empty string is treated as absent for now. If parent is a multipart namespace, the parts must be separated by the namespace separator as indicated via the /config override `namespace-separator`, which defaults to the unit separator `0x1F` byte (url encoded `%1F`). To be compatible with older clients, servers must use both the advertised separator and `0x1F` as valid separators when decoding namespaces. The `namespace-separator` should be provided in a url encoded form."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.iceberg.rest#ListNamespacesResponse": {
      "type": "structure",
      "members": {
        "next_page_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "next-page-token",
            "com.distilled.openapi#nullable": {}
          }
        },
        "namespaces": {
          "target": "org.apache.iceberg.rest#ListNamespacesResponseNamespacesList"
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#Namespace": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Reference to one or more levels of a namespace"
      }
    },
    "org.apache.iceberg.rest#ListNamespacesResponseNamespacesList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#Namespace"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#ListNamespaces": {
      "type": "operation",
      "input": {
        "target": "org.apache.iceberg.rest#ListNamespacesRequest"
      },
      "output": {
        "target": "org.apache.iceberg.rest#ListNamespacesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/namespaces",
          "code": 200
        },
        "smithy.api#documentation": "List namespaces, optionally providing a parent namespace to list underneath\n\nList all namespaces at a certain level, optionally starting from a given parent namespace. If table accounting.tax.paid.info exists, using 'SELECT NAMESPACE IN accounting' would translate into `GET /namespaces?parent=accounting` and must return a namespace, [\"accounting\", \"tax\"] only. Using 'SELECT NAMESPACE IN accounting.tax' would translate into `GET /namespaces?parent=accounting%1Ftax` and must return a namespace, [\"accounting\", \"tax\", \"paid\"]. If `parent` is not provided, all top-level namespaces should be listed.",
        "smithy.api#paginated": {
          "mode": "token",
          "inputToken": "pageToken",
          "outputToken": "next_page_token",
          "items": "namespaces",
          "pageSize": "pageSize"
        }
      },
      "errors": [
        {
          "target": "org.apache.iceberg.rest#NoSuchNamespaceException"
        }
      ]
    },
    "org.apache.iceberg.rest#CreateNamespaceRequestPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Configured string to string map of properties for the namespace"
      }
    },
    "org.apache.iceberg.rest#CreateNamespaceRequest": {
      "type": "structure",
      "members": {
        "idempotencyKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "Optional client-provided idempotency key for safe request retries.\n\nWhen present, the server ensures no additional effects for requests that carry the same\nIdempotency-Key. If a prior request with this key has been finalized, the server returns\nan equivalent final response without re-running the operation. The response body may\nreflect a newer state of the catalog than existed at the time of the commit.\n\nFinalization rules:\n- Finalize & replay: 200, 201, 204, and deterministic terminal 4xx (including 409\n  such as AlreadyExists, NamespaceNotEmpty, etc.)\n- Do not finalize (not stored/replayed): 5xx\n\nKey Requirements:\n- Key format: UUIDv7 in string form (RFC 9562).\n- The idempotency key must be globally unique (no reuse across different operations).\n- Catalogs SHOULD NOT expire keys before the end of the advertised token lifetime.\n- If Idempotency-Key is used, clients MUST reuse the same key when retrying the same\n  logical operation and MUST generate a new key for a different operation.\n"
          }
        },
        "namespace": {
          "target": "org.apache.iceberg.rest#Namespace",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "org.apache.iceberg.rest#CreateNamespaceRequestPropertiesMap",
          "traits": {
            "smithy.api#documentation": "Configured string to string map of properties for the namespace"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.iceberg.rest#CreateNamespaceResponse": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "org.apache.iceberg.rest#Namespace",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "org.apache.iceberg.rest#CreateNamespaceResponsePropertiesMap",
          "traits": {
            "smithy.api#documentation": "Properties stored on the namespace, if supported by the server."
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#CreateNamespaceResponsePropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Properties stored on the namespace, if supported by the server."
      }
    },
    "org.apache.iceberg.rest#CreateNamespace": {
      "type": "operation",
      "input": {
        "target": "org.apache.iceberg.rest#CreateNamespaceRequest"
      },
      "output": {
        "target": "org.apache.iceberg.rest#CreateNamespaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/namespaces",
          "code": 200
        },
        "smithy.api#documentation": "Create a namespace\n\nCreate a namespace, with an optional set of properties. The server might also add properties, such as `last_modified_time` etc."
      },
      "errors": [
        {
          "target": "org.apache.iceberg.rest#AlreadyExistsException"
        },
        {
          "target": "org.apache.iceberg.rest#UnsupportedOperationException"
        }
      ]
    },
    "org.apache.iceberg.rest#LoadNamespaceMetadataRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A namespace identifier as a single string. Multipart namespace parts must be separated by the namespace separator as indicated via the /config override `namespace-separator`, which defaults to the unit separator `0x1F` byte (url encoded `%1F`). To be compatible with older clients, servers must use both the advertised separator and `0x1F` as valid separators when decoding namespaces. The `namespace-separator` should be provided in a url encoded form."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.iceberg.rest#GetNamespaceResponse": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "org.apache.iceberg.rest#Namespace",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "org.apache.iceberg.rest#GetNamespaceResponsePropertiesMap",
          "traits": {
            "smithy.api#documentation": "Properties stored on the namespace, if supported by the server. If the server does not support namespace properties, it should return null for this field. If namespace properties are supported, but none are set, it should return an empty object.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#GetNamespaceResponsePropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Properties stored on the namespace, if supported by the server. If the server does not support namespace properties, it should return null for this field. If namespace properties are supported, but none are set, it should return an empty object."
      }
    },
    "org.apache.iceberg.rest#LoadNamespaceMetadata": {
      "type": "operation",
      "input": {
        "target": "org.apache.iceberg.rest#LoadNamespaceMetadataRequest"
      },
      "output": {
        "target": "org.apache.iceberg.rest#GetNamespaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/namespaces/{namespace}",
          "code": 200
        },
        "smithy.api#documentation": "Load the metadata properties for a namespace\n\nReturn all stored metadata properties for a given namespace"
      },
      "errors": [
        {
          "target": "org.apache.iceberg.rest#NoSuchNamespaceException"
        }
      ]
    },
    "org.apache.iceberg.rest#DropNamespaceRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A namespace identifier as a single string. Multipart namespace parts must be separated by the namespace separator as indicated via the /config override `namespace-separator`, which defaults to the unit separator `0x1F` byte (url encoded `%1F`). To be compatible with older clients, servers must use both the advertised separator and `0x1F` as valid separators when decoding namespaces. The `namespace-separator` should be provided in a url encoded form."
          }
        },
        "idempotencyKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "Optional client-provided idempotency key for safe request retries.\n\nWhen present, the server ensures no additional effects for requests that carry the same\nIdempotency-Key. If a prior request with this key has been finalized, the server returns\nan equivalent final response without re-running the operation. The response body may\nreflect a newer state of the catalog than existed at the time of the commit.\n\nFinalization rules:\n- Finalize & replay: 200, 201, 204, and deterministic terminal 4xx (including 409\n  such as AlreadyExists, NamespaceNotEmpty, etc.)\n- Do not finalize (not stored/replayed): 5xx\n\nKey Requirements:\n- Key format: UUIDv7 in string form (RFC 9562).\n- The idempotency key must be globally unique (no reuse across different operations).\n- Catalogs SHOULD NOT expire keys before the end of the advertised token lifetime.\n- If Idempotency-Key is used, clients MUST reuse the same key when retrying the same\n  logical operation and MUST generate a new key for a different operation.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.iceberg.rest#DropNamespace": {
      "type": "operation",
      "input": {
        "target": "org.apache.iceberg.rest#DropNamespaceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/namespaces/{namespace}",
          "code": 200
        },
        "smithy.api#documentation": "Drop a namespace from the catalog. Namespace must be empty."
      },
      "errors": [
        {
          "target": "org.apache.iceberg.rest#NamespaceNotEmptyException"
        },
        {
          "target": "org.apache.iceberg.rest#NoSuchNamespaceException"
        }
      ]
    },
    "org.apache.iceberg.rest#NamespaceExistsRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A namespace identifier as a single string. Multipart namespace parts must be separated by the namespace separator as indicated via the /config override `namespace-separator`, which defaults to the unit separator `0x1F` byte (url encoded `%1F`). To be compatible with older clients, servers must use both the advertised separator and `0x1F` as valid separators when decoding namespaces. The `namespace-separator` should be provided in a url encoded form."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.iceberg.rest#NamespaceExists": {
      "type": "operation",
      "input": {
        "target": "org.apache.iceberg.rest#NamespaceExistsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "HEAD",
          "uri": "/namespaces/{namespace}",
          "code": 200
        },
        "smithy.api#documentation": "Check if a namespace exists\n\nCheck if a namespace exists. The response does not contain a body."
      }
    },
    "org.apache.iceberg.rest#UpdatePropertiesRequestRemovalsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#UpdatePropertiesRequestUpdatesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#UpdatePropertiesRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A namespace identifier as a single string. Multipart namespace parts must be separated by the namespace separator as indicated via the /config override `namespace-separator`, which defaults to the unit separator `0x1F` byte (url encoded `%1F`). To be compatible with older clients, servers must use both the advertised separator and `0x1F` as valid separators when decoding namespaces. The `namespace-separator` should be provided in a url encoded form."
          }
        },
        "idempotencyKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "Optional client-provided idempotency key for safe request retries.\n\nWhen present, the server ensures no additional effects for requests that carry the same\nIdempotency-Key. If a prior request with this key has been finalized, the server returns\nan equivalent final response without re-running the operation. The response body may\nreflect a newer state of the catalog than existed at the time of the commit.\n\nFinalization rules:\n- Finalize & replay: 200, 201, 204, and deterministic terminal 4xx (including 409\n  such as AlreadyExists, NamespaceNotEmpty, etc.)\n- Do not finalize (not stored/replayed): 5xx\n\nKey Requirements:\n- Key format: UUIDv7 in string form (RFC 9562).\n- The idempotency key must be globally unique (no reuse across different operations).\n- Catalogs SHOULD NOT expire keys before the end of the advertised token lifetime.\n- If Idempotency-Key is used, clients MUST reuse the same key when retrying the same\n  logical operation and MUST generate a new key for a different operation.\n"
          }
        },
        "removals": {
          "target": "org.apache.iceberg.rest#UpdatePropertiesRequestRemovalsList"
        },
        "updates": {
          "target": "org.apache.iceberg.rest#UpdatePropertiesRequestUpdatesMap"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.iceberg.rest#UpdateNamespacePropertiesResponse": {
      "type": "structure",
      "members": {
        "updated": {
          "target": "org.apache.iceberg.rest#UpdateNamespacePropertiesResponseUpdatedList",
          "traits": {
            "smithy.api#documentation": "List of property keys that were added or updated",
            "smithy.api#required": {}
          }
        },
        "removed": {
          "target": "org.apache.iceberg.rest#UpdateNamespacePropertiesResponseRemovedList",
          "traits": {
            "smithy.api#documentation": "List of properties that were removed",
            "smithy.api#required": {}
          }
        },
        "missing": {
          "target": "org.apache.iceberg.rest#UpdateNamespacePropertiesResponseMissingList",
          "traits": {
            "smithy.api#documentation": "List of properties requested for removal that were not found in the namespace's properties. Represents a partial success response. Server's do not need to implement this.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#UpdateNamespacePropertiesResponseUpdatedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of property keys that were added or updated"
      }
    },
    "org.apache.iceberg.rest#UpdateNamespacePropertiesResponseRemovedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of properties that were removed"
      }
    },
    "org.apache.iceberg.rest#UpdateNamespacePropertiesResponseMissingList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of properties requested for removal that were not found in the namespace's properties. Represents a partial success response. Server's do not need to implement this."
      }
    },
    "org.apache.iceberg.rest#UpdateProperties": {
      "type": "operation",
      "input": {
        "target": "org.apache.iceberg.rest#UpdatePropertiesRequest"
      },
      "output": {
        "target": "org.apache.iceberg.rest#UpdateNamespacePropertiesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/namespaces/{namespace}/properties",
          "code": 200
        },
        "smithy.api#documentation": "Set or remove properties on a namespace\n\nSet and/or remove properties on a namespace. The request body specifies a list of properties to remove and a map of key value pairs to update.\nProperties that are not in the request are not modified or removed by this call.\nServer implementations are not required to support namespace properties."
      },
      "errors": [
        {
          "target": "org.apache.iceberg.rest#NoSuchNamespaceException"
        },
        {
          "target": "org.apache.iceberg.rest#UnprocessableEntityException"
        },
        {
          "target": "org.apache.iceberg.rest#UnsupportedOperationException"
        }
      ]
    },
    "org.apache.iceberg.rest#ListTablesRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A namespace identifier as a single string. Multipart namespace parts must be separated by the namespace separator as indicated via the /config override `namespace-separator`, which defaults to the unit separator `0x1F` byte (url encoded `%1F`). To be compatible with older clients, servers must use both the advertised separator and `0x1F` as valid separators when decoding namespaces. The `namespace-separator` should be provided in a url encoded form."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "For servers that support pagination, this signals an upper bound of the number of results that a client will receive. For servers that do not support pagination, clients may receive results larger than the indicated `pageSize`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.iceberg.rest#ListTablesResponse": {
      "type": "structure",
      "members": {
        "next_page_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "next-page-token",
            "com.distilled.openapi#nullable": {}
          }
        },
        "identifiers": {
          "target": "org.apache.iceberg.rest#ListTablesResponseIdentifiersList"
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#TableIdentifier": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "org.apache.iceberg.rest#Namespace",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#ListTablesResponseIdentifiersList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#TableIdentifier"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#ListTables": {
      "type": "operation",
      "input": {
        "target": "org.apache.iceberg.rest#ListTablesRequest"
      },
      "output": {
        "target": "org.apache.iceberg.rest#ListTablesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/namespaces/{namespace}/tables",
          "code": 200
        },
        "smithy.api#documentation": "List all table identifiers underneath a given namespace\n\nReturn all table identifiers under this namespace",
        "smithy.api#paginated": {
          "mode": "token",
          "inputToken": "pageToken",
          "outputToken": "next_page_token",
          "items": "identifiers",
          "pageSize": "pageSize"
        }
      },
      "errors": [
        {
          "target": "org.apache.iceberg.rest#NoSuchNamespaceException"
        }
      ]
    },
    "org.apache.iceberg.rest#CreateTableRequestXIcebergAccessDelegationItem": {
      "type": "enum",
      "members": {
        "VENDED_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vended-credentials"
          }
        },
        "REMOTE_SIGNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remote-signing"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#CreateTableRequestXIcebergAccessDelegationList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#CreateTableRequestXIcebergAccessDelegationItem"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#SchemaInput": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "org.apache.iceberg.rest#SchemaInputFieldsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "identifier_field_ids": {
          "target": "org.apache.iceberg.rest#SchemaInputIdentifierFieldIdsList",
          "traits": {
            "smithy.api#jsonName": "identifier-field-ids"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#StructField": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "org.apache.iceberg.rest#Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "doc": {
          "target": "smithy.api#String"
        },
        "initial_default": {
          "target": "org.apache.iceberg.rest#PrimitiveTypeValue",
          "traits": {
            "smithy.api#jsonName": "initial-default"
          }
        },
        "write_default": {
          "target": "org.apache.iceberg.rest#PrimitiveTypeValue",
          "traits": {
            "smithy.api#jsonName": "write-default"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#Type": {
      "type": "union",
      "members": {
        "VariantType": {
          "target": "smithy.api#String"
        },
        "StructType": {
          "target": "org.apache.iceberg.rest#StructType"
        },
        "ListType": {
          "target": "org.apache.iceberg.rest#ListType"
        },
        "MapType": {
          "target": "org.apache.iceberg.rest#MapType"
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#StructType": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "org.apache.iceberg.rest#StructTypeFieldsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#StructTypeFieldsList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#StructField"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#ListType": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "element_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "element-id"
          }
        },
        "element": {
          "target": "org.apache.iceberg.rest#Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "element_required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "element-required"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#MapType": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "key-id"
          }
        },
        "key": {
          "target": "org.apache.iceberg.rest#Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "value-id"
          }
        },
        "value": {
          "target": "org.apache.iceberg.rest#Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value_required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "value-required"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#PrimitiveTypeValue": {
      "type": "union",
      "members": {
        "BooleanTypeValue": {
          "target": "smithy.api#Boolean"
        },
        "IntegerTypeValue": {
          "target": "smithy.api#Integer"
        },
        "FloatTypeValue": {
          "target": "smithy.api#Double"
        },
        "DecimalTypeValue": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#SchemaInputFieldsList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#StructField"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#SchemaInputIdentifierFieldIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#PartitionSpecInput": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "org.apache.iceberg.rest#PartitionSpecInputFieldsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#PartitionField": {
      "type": "structure",
      "members": {
        "field_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "field-id"
          }
        },
        "source_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source-id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#PartitionSpecInputFieldsList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#PartitionField"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#SortOrderInput": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "org.apache.iceberg.rest#SortOrderInputFieldsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#SortField": {
      "type": "structure",
      "members": {
        "source_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source-id"
          }
        },
        "transform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "org.apache.iceberg.rest#SortDirection",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "null_order": {
          "target": "org.apache.iceberg.rest#NullOrder",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "null-order"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#SortDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#NullOrder": {
      "type": "enum",
      "members": {
        "NULLS_FIRST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nulls-first"
          }
        },
        "NULLS_LAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nulls-last"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#SortOrderInputFieldsList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#SortField"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#CreateTableRequestPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#CreateTableRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A namespace identifier as a single string. Multipart namespace parts must be separated by the namespace separator as indicated via the /config override `namespace-separator`, which defaults to the unit separator `0x1F` byte (url encoded `%1F`). To be compatible with older clients, servers must use both the advertised separator and `0x1F` as valid separators when decoding namespaces. The `namespace-separator` should be provided in a url encoded form."
          }
        },
        "xIcebergAccessDelegation": {
          "target": "org.apache.iceberg.rest#CreateTableRequestXIcebergAccessDelegationList",
          "traits": {
            "smithy.api#httpHeader": "X-Iceberg-Access-Delegation",
            "smithy.api#documentation": "Optional signal to the server that the client supports delegated access via a comma-separated list of access mechanisms.  The server may choose to supply access via any or none of the requested mechanisms.\n\nSpecific properties and handling for `vended-credentials` and `remote-signing` are documented in the `LoadTableResult` schema section of this spec document.\n"
          }
        },
        "idempotencyKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "Optional client-provided idempotency key for safe request retries.\n\nWhen present, the server ensures no additional effects for requests that carry the same\nIdempotency-Key. If a prior request with this key has been finalized, the server returns\nan equivalent final response without re-running the operation. The response body may\nreflect a newer state of the catalog than existed at the time of the commit.\n\nFinalization rules:\n- Finalize & replay: 200, 201, 204, and deterministic terminal 4xx (including 409\n  such as AlreadyExists, NamespaceNotEmpty, etc.)\n- Do not finalize (not stored/replayed): 5xx\n\nKey Requirements:\n- Key format: UUIDv7 in string form (RFC 9562).\n- The idempotency key must be globally unique (no reuse across different operations).\n- Catalogs SHOULD NOT expire keys before the end of the advertised token lifetime.\n- If Idempotency-Key is used, clients MUST reuse the same key when retrying the same\n  logical operation and MUST generate a new key for a different operation.\n"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String"
        },
        "schema": {
          "target": "org.apache.iceberg.rest#SchemaInput",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "partition_spec": {
          "target": "org.apache.iceberg.rest#PartitionSpecInput",
          "traits": {
            "smithy.api#jsonName": "partition-spec"
          }
        },
        "write_order": {
          "target": "org.apache.iceberg.rest#SortOrderInput",
          "traits": {
            "smithy.api#jsonName": "write-order"
          }
        },
        "stage_create": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "stage-create"
          }
        },
        "properties": {
          "target": "org.apache.iceberg.rest#CreateTableRequestPropertiesMap"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.iceberg.rest#LoadTableResult": {
      "type": "structure",
      "members": {
        "metadata_location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "May be null if the table is staged as part of a transaction",
            "smithy.api#jsonName": "metadata-location",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "org.apache.iceberg.rest#TableMetadata",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "org.apache.iceberg.rest#LoadTableResultConfigMap"
        },
        "storage_credentials": {
          "target": "org.apache.iceberg.rest#LoadTableResultStorageCredentialsList",
          "traits": {
            "smithy.api#jsonName": "storage-credentials"
          }
        },
        "remote_signing_config": {
          "target": "org.apache.iceberg.rest#RemoteSigningConfig",
          "traits": {
            "smithy.api#jsonName": "remote-signing-config"
          }
        },
        "read_restrictions": {
          "target": "org.apache.iceberg.rest#ReadRestrictions",
          "traits": {
            "smithy.api#jsonName": "read-restrictions"
          }
        },
        "labels": {
          "target": "org.apache.iceberg.rest#Labels"
        }
      },
      "traits": {
        "smithy.api#documentation": "Result used when a table is successfully loaded.\n\n\nThe table metadata JSON is returned in the `metadata` field. The corresponding file location of table metadata should be returned in the `metadata-location` field, unless the metadata is not yet committed. For example, a create transaction may return metadata that is staged but not committed.\nClients can check whether metadata has changed by comparing metadata locations after the table has been created.\n\n\nThe `config` map returns table-specific configuration for the table's resources, including its HTTP client and FileIO. For example, config may contain a specific FileIO implementation class for the table depending on its underlying storage.\n\n\nThe following configurations should be respected by clients:\n\n## General Configurations\n\n- `token`: Authorization bearer token to use for table requests if OAuth2 security is enabled\n- `scan-planning-mode`: Communicates to clients the supported planning mode. Clients should use this value to fail fast if the supported scanning mode is not available on the client. Valid values:\n  - `client`: Clients MUST use client-side scan planning\n  - `server`: Clients MUST use server-side scan planning via the `planTableScan` endpoint\n\n## AWS Configurations\n\nThe following configurations should be respected when working with tables stored in AWS S3\n - `client.region`: region to configure client for making requests to AWS\n - `s3.access-key-id`: id for credentials that provide access to the data in S3\n - `s3.secret-access-key`: secret for credentials that provide access to data in S3\n - `s3.session-token`: if present, this value should be used for as the session token\n - `s3.remote-signing-enabled`: if `true` remote signing should be performed as described in the `RemoteSignRequest` schema section of this spec document.\n - `s3.cross-region-access-enabled`: if `true`, S3 Cross-Region bucket access is enabled\n\n## Storage Credentials\n\nCredentials for ADLS / GCS / S3 / ... are provided through the `storage-credentials` field.\nClients must first check whether the respective credentials exist in the `storage-credentials` field before checking the `config` for credentials.\n\n## Remote Signing\n\nIf remote signing for a specific storage provider is enabled, the server SHOULD use the `remote-signing-config`\nfield to communicate all signer client settings. When the `remote-signing-config` field is present, clients\nSHOULD respect the provided configuration.\n\nFor backward compatibility, the following `config` properties are still supported but **DEPRECATED** and SHOULD NOT be used by clients able to consume the remote signing configuration:\n - `signer.endpoint` **DEPRECATED**.: the remote signer endpoint. Can either be a relative path (to be resolved against `signer.uri`) or an absolute URI.\n - `signer.uri` **DEPRECATED**.: the base URI to resolve `signer.endpoint` against. Only meaningful if `signer.endpoint` is a relative path. Defaults to the catalog's base URI if not set.\nIf any of these properties is present, clients SHOULD use them to compute the actual remote signing endpoint URI to contact.\nIf none of these properties is present, clients SHOULD contact the default remote signing endpoint using the catalog's base URI.\n"
      }
    },
    "org.apache.iceberg.rest#TableMetadata": {
      "type": "structure",
      "members": {
        "format_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "format-version"
          }
        },
        "table_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "table-uuid"
          }
        },
        "location": {
          "target": "smithy.api#String"
        },
        "last_updated_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "last-updated-ms"
          }
        },
        "next_row_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A long higher than all assigned row IDs; the next snapshot's first-row-id.",
            "smithy.api#jsonName": "next-row-id"
          }
        },
        "properties": {
          "target": "org.apache.iceberg.rest#TableMetadataPropertiesMap"
        },
        "schemas": {
          "target": "org.apache.iceberg.rest#TableMetadataSchemasList"
        },
        "current_schema_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "current-schema-id"
          }
        },
        "last_column_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "last-column-id"
          }
        },
        "partition_specs": {
          "target": "org.apache.iceberg.rest#TableMetadataPartitionSpecsList",
          "traits": {
            "smithy.api#jsonName": "partition-specs"
          }
        },
        "default_spec_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "default-spec-id"
          }
        },
        "last_partition_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "last-partition-id"
          }
        },
        "sort_orders": {
          "target": "org.apache.iceberg.rest#TableMetadataSortOrdersList",
          "traits": {
            "smithy.api#jsonName": "sort-orders"
          }
        },
        "default_sort_order_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "default-sort-order-id"
          }
        },
        "encryption_keys": {
          "target": "org.apache.iceberg.rest#TableMetadataEncryptionKeysList",
          "traits": {
            "smithy.api#jsonName": "encryption-keys"
          }
        },
        "snapshots": {
          "target": "org.apache.iceberg.rest#TableMetadataSnapshotsList"
        },
        "refs": {
          "target": "org.apache.iceberg.rest#SnapshotReferences"
        },
        "current_snapshot_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "current-snapshot-id"
          }
        },
        "last_sequence_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "last-sequence-number"
          }
        },
        "snapshot_log": {
          "target": "org.apache.iceberg.rest#SnapshotLog",
          "traits": {
            "smithy.api#jsonName": "snapshot-log"
          }
        },
        "metadata_log": {
          "target": "org.apache.iceberg.rest#MetadataLog",
          "traits": {
            "smithy.api#jsonName": "metadata-log"
          }
        },
        "statistics": {
          "target": "org.apache.iceberg.rest#TableMetadataStatisticsList"
        },
        "partition_statistics": {
          "target": "org.apache.iceberg.rest#TableMetadataPartitionStatisticsList",
          "traits": {
            "smithy.api#jsonName": "partition-statistics"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#TableMetadataPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#Schema": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "org.apache.iceberg.rest#SchemaFieldsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "schema_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "schema-id"
          }
        },
        "identifier_field_ids": {
          "target": "org.apache.iceberg.rest#SchemaIdentifierFieldIdsList",
          "traits": {
            "smithy.api#jsonName": "identifier-field-ids"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#SchemaFieldsList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#StructField"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#SchemaIdentifierFieldIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#TableMetadataSchemasList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#Schema"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#PartitionSpec": {
      "type": "structure",
      "members": {
        "spec_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "spec-id"
          }
        },
        "fields": {
          "target": "org.apache.iceberg.rest#PartitionSpecFieldsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#PartitionSpecFieldsList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#PartitionField"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#TableMetadataPartitionSpecsList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#PartitionSpec"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#SortOrder": {
      "type": "structure",
      "members": {
        "order_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "order-id"
          }
        },
        "fields": {
          "target": "org.apache.iceberg.rest#SortOrderFieldsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#SortOrderFieldsList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#SortField"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#TableMetadataSortOrdersList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#SortOrder"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#EncryptedKey": {
      "type": "structure",
      "members": {
        "key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "key-id"
          }
        },
        "encrypted_key_metadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "encrypted-key-metadata"
          }
        },
        "encrypted_by_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "encrypted-by-id"
          }
        },
        "properties": {
          "target": "org.apache.iceberg.rest#EncryptedKeyPropertiesMap"
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#EncryptedKeyPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#TableMetadataEncryptionKeysList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#EncryptedKey"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#Snapshot": {
      "type": "structure",
      "members": {
        "snapshot_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "snapshot-id"
          }
        },
        "parent_snapshot_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "parent-snapshot-id"
          }
        },
        "sequence_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "sequence-number"
          }
        },
        "timestamp_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "timestamp-ms"
          }
        },
        "manifest_list": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the snapshot's manifest list file",
            "smithy.api#required": {},
            "smithy.api#jsonName": "manifest-list"
          }
        },
        "first_row_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The first _row_id assigned to the first row in the first data file in the first manifest",
            "smithy.api#jsonName": "first-row-id"
          }
        },
        "added_rows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The upper bound of the number of rows with assigned row IDs",
            "smithy.api#jsonName": "added-rows"
          }
        },
        "summary": {
          "target": "org.apache.iceberg.rest#SnapshotSummary",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "schema_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "schema-id"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#SnapshotSummaryOperation": {
      "type": "enum",
      "members": {
        "APPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "append"
          }
        },
        "REPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "replace"
          }
        },
        "OVERWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "overwrite"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#SnapshotSummary": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "org.apache.iceberg.rest#SnapshotSummaryOperation",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#TableMetadataSnapshotsList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#Snapshot"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#SnapshotReferences": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "org.apache.iceberg.rest#SnapshotReference"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#SnapshotReference": {
      "type": "structure",
      "members": {
        "type": {
          "target": "org.apache.iceberg.rest#SnapshotReferenceType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "snapshot_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "snapshot-id"
          }
        },
        "max_ref_age_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "max-ref-age-ms"
          }
        },
        "max_snapshot_age_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "max-snapshot-age-ms"
          }
        },
        "min_snapshots_to_keep": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "min-snapshots-to-keep"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#SnapshotReferenceType": {
      "type": "enum",
      "members": {
        "TAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag"
          }
        },
        "BRANCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "branch"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#SnapshotLog": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#SnapshotLogItem"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#SnapshotLogItem": {
      "type": "structure",
      "members": {
        "snapshot_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "snapshot-id"
          }
        },
        "timestamp_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "timestamp-ms"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#MetadataLog": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#MetadataLogItem"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#MetadataLogItem": {
      "type": "structure",
      "members": {
        "metadata_file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "metadata-file"
          }
        },
        "timestamp_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "timestamp-ms"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#StatisticsFile": {
      "type": "structure",
      "members": {
        "snapshot_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "snapshot-id"
          }
        },
        "statistics_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "statistics-path"
          }
        },
        "file_size_in_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "file-size-in-bytes"
          }
        },
        "file_footer_size_in_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "file-footer-size-in-bytes"
          }
        },
        "blob_metadata": {
          "target": "org.apache.iceberg.rest#StatisticsFileBlobMetadataList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "blob-metadata"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#BlobMetadata": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "snapshot_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "snapshot-id"
          }
        },
        "sequence_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "sequence-number"
          }
        },
        "fields": {
          "target": "org.apache.iceberg.rest#BlobMetadataFieldsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "org.apache.iceberg.rest#BlobMetadataPropertiesMap"
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#BlobMetadataFieldsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#BlobMetadataPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#StatisticsFileBlobMetadataList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#BlobMetadata"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#TableMetadataStatisticsList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#StatisticsFile"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#PartitionStatisticsFile": {
      "type": "structure",
      "members": {
        "snapshot_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "snapshot-id"
          }
        },
        "statistics_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "statistics-path"
          }
        },
        "file_size_in_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "file-size-in-bytes"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#TableMetadataPartitionStatisticsList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#PartitionStatisticsFile"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#LoadTableResultConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#StorageCredential": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates a storage location prefix where the credential is relevant. Clients should choose the most specific prefix (by selecting the longest prefix) if several credentials of the same type are available.",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "org.apache.iceberg.rest#StorageCredentialConfigMap",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#StorageCredentialConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#LoadTableResultStorageCredentialsList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#StorageCredential"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#RemoteSigningConfig": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "org.apache.iceberg.rest#RemoteSigningConfigPropertiesMap",
          "traits": {
            "smithy.api#documentation": "Static key-value pairs the signer client MUST pass through unchanged in the `properties` field of every `RemoteSignRequest` sent to the signing endpoint.\n"
          }
        },
        "headers": {
          "target": "org.apache.iceberg.rest#MultiValuedMap",
          "traits": {
            "smithy.api#documentation": "Static headers the signer client MUST include unchanged in every request to the signing endpoint.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the remote signer client."
      }
    },
    "org.apache.iceberg.rest#RemoteSigningConfigPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Static key-value pairs the signer client MUST pass through unchanged in the `properties` field of every `RemoteSignRequest` sent to the signing endpoint.\n"
      }
    },
    "org.apache.iceberg.rest#MultiValuedMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "org.apache.iceberg.rest#MultiValuedMapValueList"
      },
      "traits": {
        "smithy.api#documentation": "A map of string keys where each key can map to multiple string values."
      }
    },
    "org.apache.iceberg.rest#MultiValuedMapValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#ReadRestrictions": {
      "type": "structure",
      "members": {
        "required_column_projections": {
          "target": "org.apache.iceberg.rest#ReadRestrictionsRequiredColumnProjectionsList",
          "traits": {
            "smithy.api#documentation": "A list of columns that require specific actions to be applied when reading. A server must not return an action for a column whose type is not listed in that action's \"Applicable to\" set. If absent or empty, no required actions apply; columns not listed are not subject to any required action.\n1. For each column listed, the reader must apply the specified action before\n  returning values for that column.\n\n2. The reader must replace all output references to the column with the result\n  of the action, presenting the result under the original field-id. For\n  example, if the action for field-id `9` is mask-alphanum, the reader must\n  return the masked value as field-id `9` in the query output.\n\n3. A server must not return more than one projection for the same field-id\n  in required-column-projections. If a duplicate field-id appears, the reader\n  must fail the query.\n\n4. A server must not return a projection that targets a map's key field-id;\n  a reader that receives one must fail the query. Applying an action to keys\n  can produce duplicate or null keys, which readers silently coalesce or\n  reject, causing data loss.\n\n5. A reader must enforce projections on the columns it is actually reading.\n  Projections referencing columns that are not being read do not apply.\n\n6. A server must not return projections on both a nested-typed field\n  (struct, list, or map) and any field-id nested within it at any depth.\n  A reader that receives such a response must fail the query.\n",
            "smithy.api#jsonName": "required-column-projections"
          }
        },
        "required_row_filter": {
          "target": "org.apache.iceberg.rest#Predicate",
          "traits": {
            "smithy.api#documentation": "An expression that limits which rows the reader may return.\n1. The expression must evaluate to a boolean (TRUE or FALSE; Iceberg predicates\n  never produce NULL). A reader must discard any row for which the filter\n  evaluates to FALSE, and no information derived from discarded rows may be\n  included in the query result.\n\n2. If this property is absent, null, or always true then no mandatory filtering is required.\n3. Column references within the expression must use field IDs (IdReference),\n  not column names. This ensures the filter remains valid across column renames,\n  consistent with required-column-projections which also reference columns by field-id.\n",
            "smithy.api#jsonName": "required-row-filter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Read restrictions for a table.\nA reader evaluates the row filter against original, untransformed column values, then applies required-column-projections to the surviving rows. Each action must produce a value of the same type as the input column. If a reader that supports read-restrictions cannot apply any returned restriction (a filter expression or an action), it must fail the query and must not silently return raw, partial, or empty results.\nA missing or empty ReadRestrictions object (no required-column-projections and no required-row-filter) imposes no restrictions.\n"
      }
    },
    "org.apache.iceberg.rest#Action": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Field ID of the column being projected.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "field-id"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#ReadRestrictionsRequiredColumnProjectionsList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#Action"
      },
      "traits": {
        "smithy.api#documentation": "A list of columns that require specific actions to be applied when reading. A server must not return an action for a column whose type is not listed in that action's \"Applicable to\" set. If absent or empty, no required actions apply; columns not listed are not subject to any required action.\n1. For each column listed, the reader must apply the specified action before\n  returning values for that column.\n\n2. The reader must replace all output references to the column with the result\n  of the action, presenting the result under the original field-id. For\n  example, if the action for field-id `9` is mask-alphanum, the reader must\n  return the masked value as field-id `9` in the query output.\n\n3. A server must not return more than one projection for the same field-id\n  in required-column-projections. If a duplicate field-id appears, the reader\n  must fail the query.\n\n4. A server must not return a projection that targets a map's key field-id;\n  a reader that receives one must fail the query. Applying an action to keys\n  can produce duplicate or null keys, which readers silently coalesce or\n  reject, causing data loss.\n\n5. A reader must enforce projections on the columns it is actually reading.\n  Projections referencing columns that are not being read do not apply.\n\n6. A server must not return projections on both a nested-typed field\n  (struct, list, or map) and any field-id nested within it at any depth.\n  A reader that receives such a response must fail the query.\n"
      }
    },
    "org.apache.iceberg.rest#Predicate": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "TrueExpression": {
          "target": "org.apache.iceberg.rest#TrueExpression"
        },
        "FalseExpression": {
          "target": "org.apache.iceberg.rest#FalseExpression"
        },
        "AndOrPredicate": {
          "target": "org.apache.iceberg.rest#AndOrPredicate"
        },
        "NotPredicate": {
          "target": "org.apache.iceberg.rest#NotPredicate"
        },
        "UnaryPredicate": {
          "target": "org.apache.iceberg.rest#UnaryPredicate"
        },
        "ComparisonPredicate": {
          "target": "org.apache.iceberg.rest#ComparisonPredicate"
        },
        "SetPredicate": {
          "target": "org.apache.iceberg.rest#SetPredicate"
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#TrueExpression": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. Use the bare boolean literal `true` as a predicate instead.\n"
      }
    },
    "org.apache.iceberg.rest#FalseExpression": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. Use the bare boolean literal `false` as a predicate instead.\n"
      }
    },
    "org.apache.iceberg.rest#AndOrPredicate": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "left": {
          "target": "org.apache.iceberg.rest#Predicate",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "right": {
          "target": "org.apache.iceberg.rest#Predicate",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#NotPredicate": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "child": {
          "target": "org.apache.iceberg.rest#Predicate",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#UnaryPredicate": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "child": {
          "target": "org.apache.iceberg.rest#ValueExpression"
        },
        "term": {
          "target": "org.apache.iceberg.rest#Term",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use 'child' instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A predicate that tests a single value expression. Accepts either 'child' (preferred) or 'term' (deprecated) to identify the operand.\n"
      }
    },
    "org.apache.iceberg.rest#ValueExpression": {
      "type": "union",
      "members": {
        "Literal": {
          "target": "org.apache.iceberg.rest#Literal"
        },
        "Reference": {
          "target": "org.apache.iceberg.rest#Reference"
        },
        "Apply": {
          "target": "org.apache.iceberg.rest#Apply"
        }
      },
      "traits": {
        "smithy.api#documentation": "A value expression: a literal, a field reference, or a function application.\n"
      }
    },
    "org.apache.iceberg.rest#Literal": {
      "type": "union",
      "members": {
        "PrimitiveTypeValue": {
          "target": "org.apache.iceberg.rest#PrimitiveTypeValue"
        },
        "Case1": {
          "target": "org.apache.iceberg.rest#LiteralCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "A literal is either a bare value, an untyped literal object, or a typed literal object.\n"
      }
    },
    "org.apache.iceberg.rest#LiteralCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "org.apache.iceberg.rest#PrimitiveTypeValue",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "data-type"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#Reference": {
      "type": "union",
      "members": {
        "IdReference": {
          "target": "org.apache.iceberg.rest#IdReference"
        },
        "NamedReference": {
          "target": "org.apache.iceberg.rest#NamedReference"
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a field. Either a bound reference (by field ID) or an unbound reference (by name). The context in which an expression is used determines which form is valid.\n"
      }
    },
    "org.apache.iceberg.rest#IdReference": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A bound reference to a field by field ID."
      }
    },
    "org.apache.iceberg.rest#NamedReference": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An unbound reference to a field by name."
      }
    },
    "org.apache.iceberg.rest#Apply": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "function": {
          "target": "org.apache.iceberg.rest#ApplyFunction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "arguments": {
          "target": "org.apache.iceberg.rest#ApplyArgumentsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A function application on zero or more value expressions or predicates.\n"
      }
    },
    "org.apache.iceberg.rest#CatalogObjectIdentifier": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Reference to a catalog object (for example, table, view, or namespace) as an ordered list of hierarchical levels. The object kind is determined by context (e.g. the endpoint or a companion type discriminator), not by the identifier structure alone."
      }
    },
    "org.apache.iceberg.rest#ApplyFunctionCase2": {
      "type": "structure",
      "members": {
        "catalog": {
          "target": "smithy.api#String"
        },
        "identifier": {
          "target": "org.apache.iceberg.rest#CatalogObjectIdentifier",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#ApplyFunction": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "CatalogObjectIdentifier": {
          "target": "org.apache.iceberg.rest#CatalogObjectIdentifier"
        },
        "Case2": {
          "target": "org.apache.iceberg.rest#ApplyFunctionCase2"
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#FunctionArgument": {
      "type": "union",
      "members": {
        "ValueExpression": {
          "target": "org.apache.iceberg.rest#ValueExpression"
        },
        "Predicate": {
          "target": "org.apache.iceberg.rest#Predicate"
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#ApplyArgumentsList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#FunctionArgument"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#Term": {
      "type": "union",
      "members": {
        "TermReference": {
          "target": "smithy.api#String"
        },
        "TransformTerm": {
          "target": "org.apache.iceberg.rest#TransformTerm"
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. Legacy term form used by older REST predicates. Use Reference or Apply instead.\n"
      }
    },
    "org.apache.iceberg.rest#TransformTerm": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "term": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. Legacy transform-applied-to-a-term form. Use Apply with a Reference argument instead.\n"
      }
    },
    "org.apache.iceberg.rest#ComparisonPredicate": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "left": {
          "target": "org.apache.iceberg.rest#ValueExpression"
        },
        "right": {
          "target": "org.apache.iceberg.rest#ValueExpression"
        },
        "term": {
          "target": "org.apache.iceberg.rest#Term",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use 'left' instead."
          }
        },
        "value": {
          "target": "org.apache.iceberg.rest#Literal",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use 'right' instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A predicate that compares two value expressions. Accepts either 'left'/'right' (preferred) or 'term'/'value' (deprecated).\n"
      }
    },
    "org.apache.iceberg.rest#SetPredicate": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "child": {
          "target": "org.apache.iceberg.rest#ValueExpression"
        },
        "term": {
          "target": "org.apache.iceberg.rest#Term",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use 'child' instead."
          }
        },
        "values": {
          "target": "org.apache.iceberg.rest#Literals",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A predicate that tests whether a value is in a set of literals. Accepts either 'child' (preferred) or 'term' (deprecated) to identify the operand.\n"
      }
    },
    "org.apache.iceberg.rest#Literals": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "org.apache.iceberg.rest#LiteralsCase0List"
        },
        "Case1": {
          "target": "org.apache.iceberg.rest#LiteralsCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Literals is either a bare array of literals or a typed object with an explicit data-type applied to all values.\n"
      }
    },
    "org.apache.iceberg.rest#LiteralsCase0List": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#Literal"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#LiteralsCase1ValuesList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#PrimitiveTypeValue"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#LiteralsCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "org.apache.iceberg.rest#LiteralsCase1ValuesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "data-type"
          }
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#Labels": {
      "type": "structure",
      "members": {
        "object_labels": {
          "target": "org.apache.iceberg.rest#CatalogObjectLabels",
          "traits": {
            "smithy.api#jsonName": "object-labels"
          }
        },
        "fields": {
          "target": "org.apache.iceberg.rest#LabelsFieldsList",
          "traits": {
            "smithy.api#documentation": "Field-level labels. Each entry identifies its field by field-id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Catalog-provided metadata enrichment (for example ownership,\nclassification, or cost attribution) returned with a table or view.\nLabels are catalog-provided and optional; clients may ignore them, and\nmay cache them following the response ETag.\nThe spec does not require how a catalog produces or stores labels, nor\nwhether they are persisted or versioned. `object-labels` carries\nlabels for the object as a whole; `fields` carries per-field labels,\neach identified by field-id.\n"
      }
    },
    "org.apache.iceberg.rest#CatalogObjectLabels": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Flat key-value labels attached to the object (table, view, ...) as a whole."
      }
    },
    "org.apache.iceberg.rest#FieldLabels": {
      "type": "structure",
      "members": {
        "field_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Field ID from the schema of the table or view",
            "smithy.api#required": {},
            "smithy.api#jsonName": "field-id"
          }
        },
        "labels": {
          "target": "org.apache.iceberg.rest#FieldLabelsLabelsMap",
          "traits": {
            "smithy.api#documentation": "Flat key-value labels for this field",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Labels attached to a single field, identified by field-id."
      }
    },
    "org.apache.iceberg.rest#FieldLabelsLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Flat key-value labels for this field"
      }
    },
    "org.apache.iceberg.rest#LabelsFieldsList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#FieldLabels"
      },
      "traits": {
        "smithy.api#documentation": "Field-level labels. Each entry identifies its field by field-id."
      }
    },
    "org.apache.iceberg.rest#CreateTable": {
      "type": "operation",
      "input": {
        "target": "org.apache.iceberg.rest#CreateTableRequest"
      },
      "output": {
        "target": "org.apache.iceberg.rest#LoadTableResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/namespaces/{namespace}/tables",
          "code": 200
        },
        "smithy.api#documentation": "Create a table in the given namespace\n\nCreate a table or start a create transaction, like atomic CTAS.\n\nIf `stage-create` is false, the table is created immediately.\n\nIf `stage-create` is true, the table is not created, but table metadata is initialized and returned. The service should prepare as needed for a commit to the table commit endpoint to complete the create transaction. The client uses the returned metadata to begin a transaction. To commit the transaction, the client sends all create and subsequent changes to the table commit route. Changes from the table create operation include changes like AddSchemaUpdate and SetCurrentSchemaUpdate that set the initial table state."
      },
      "errors": [
        {
          "target": "org.apache.iceberg.rest#AlreadyExistsException"
        },
        {
          "target": "org.apache.iceberg.rest#NoSuchNamespaceException"
        }
      ]
    },
    "org.apache.iceberg.rest#ListFunctionsRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A namespace identifier as a single string. Multipart namespace parts must be separated by the namespace separator as indicated via the /config override `namespace-separator`, which defaults to the unit separator `0x1F` byte (url encoded `%1F`). To be compatible with older clients, servers must use both the advertised separator and `0x1F` as valid separators when decoding namespaces. The `namespace-separator` should be provided in a url encoded form."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "For servers that support pagination, this signals an upper bound of the number of results that a client will receive. For servers that do not support pagination, clients may receive results larger than the indicated `pageSize`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.iceberg.rest#ListFunctionsResponse": {
      "type": "structure",
      "members": {
        "next_page_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "next-page-token",
            "com.distilled.openapi#nullable": {}
          }
        },
        "identifiers": {
          "target": "org.apache.iceberg.rest#ListFunctionsResponseIdentifiersList"
        }
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#ListFunctionsResponseIdentifiersList": {
      "type": "list",
      "member": {
        "target": "org.apache.iceberg.rest#CatalogObjectIdentifier"
      },
      "traits": {}
    },
    "org.apache.iceberg.rest#ListFunctions": {
      "type": "operation",
      "input": {
        "target": "org.apache.iceberg.rest#ListFunctionsRequest"
      },
      "output": {
        "target": "org.apache.iceberg.rest#ListFunctionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/namespaces/{namespace}/functions",
          "code": 200
        },
        "smithy.api#documentation": "List all functions underneath a given namespace\n\nReturn all function identifiers under this namespace",
        "smithy.api#paginated": {
          "mode": "token",
          "inputToken": "pageToken",
          "outputToken": "next_page_token",
          "items": "identifiers",
          "pageSize": "pageSize"
        }
      },
      "errors": [
        {
          "target": "org.apache.iceberg.rest#NoSuchNamespaceException"
        }
      ]
    },
    "org.apache.iceberg.rest#LoadFunctionRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A namespace identifier as a single string. Multipart namespace parts must be separated by the namespace separator as indicated via the /config override `namespace-separator`, which defaults to the unit separator `0x1F` byte (url encoded `%1F`). To be compatible with older clients, servers must use both the advertised separator and `0x1F` as valid separators when decoding namespaces. The `namespace-separator` should be provided in a url encoded form."
          }
        },
        "function": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A function name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.apache.iceberg.rest#LoadFunctionResult": {
      "type": "structure",
      "members": {
        "metadata_location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "metadata-location"
          }
        },
        "metadata": {
          "target": "org.apache.iceberg.rest#FunctionMetadata",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result returned when a function is loaded from the catalog.\n\n\nThe function metadata JSON is returned in the `metadata` field. The location of the metadata\nfile is returned in the `metadata-location` field, if available.\n"
      }
    },
    "org.apache.iceberg.rest#FunctionMetadata": {
      "type": "structure",
      "members": {
[...]
