{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.azure.cloudhealth#DeleteSignalDefinition": {
      "type": "operation",
      "input": {
        "target": "com.azure.cloudhealth#DeleteSignalDefinitionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/signaldefinitions/{signalDefinitionName}",
          "code": 200,
          "apiVersion": "2026-11-01"
        },
        "smithy.api#documentation": "Delete a SignalDefinition",
        "com.distilled.openapi#apiVersion": "2026-11-01"
      }
    },
    "com.azure.cloudhealth#DeleteSignalDefinitionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "healthModelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of health model resource"
          }
        },
        "signalDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the signal definition. Must be unique within a health model."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cloudhealth#SignalDefinitionsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cloudhealth#SignalDefinitionsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.cloudhealth#SignalDefinitionsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/signaldefinitions/{signalDefinitionName}",
          "code": 200,
          "apiVersion": "2026-11-01"
        },
        "smithy.api#documentation": "Create a SignalDefinition",
        "com.distilled.openapi#apiVersion": "2026-11-01"
      }
    },
    "com.azure.cloudhealth#SignalDefinitionsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cloudhealth#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cloudhealth#SignalDefinitionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cloudhealth#SignalDefinitionProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.cloudhealth#HealthModelProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name"
          }
        },
        "signalKind": {
          "target": "com.azure.cloudhealth#SignalKind",
          "traits": {
            "smithy.api#documentation": "Kind of the signal definition",
            "smithy.api#required": {}
          }
        },
        "refreshInterval": {
          "target": "com.azure.cloudhealth#SignalDefinitionPropertiesRefreshInterval",
          "traits": {
            "smithy.api#documentation": "Interval in which the signal is being evaluated. Defaults to PT1M (1 minute)."
          }
        },
        "tags": {
          "target": "com.azure.cloudhealth#SignalDefinitionPropertiesTagsMap",
          "traits": {
            "smithy.api#documentation": "Optional set of tags (key-value pairs)"
          }
        },
        "dataUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit of the signal result (e.g. Bytes, MilliSeconds, Percent, Count))"
          }
        },
        "evaluationRules": {
          "target": "com.azure.cloudhealth#EvaluationRule",
          "traits": {
            "smithy.api#documentation": "Evaluation rules for the signal definition",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SignalDefinition properties"
      }
    },
    "com.azure.cloudhealth#EvaluationRule": {
      "type": "structure",
      "members": {
        "degradedRule": {
          "target": "com.azure.cloudhealth#ThresholdRuleV2",
          "traits": {
            "smithy.api#documentation": "Degraded rule with static threshold."
          }
        },
        "unhealthyRule": {
          "target": "com.azure.cloudhealth#ThresholdRuleV2",
          "traits": {
            "smithy.api#documentation": "Unhealthy rule with static threshold.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Evaluation rule for a signal definition"
      }
    },
    "com.azure.cloudhealth#ThresholdRuleV2": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "com.azure.cloudhealth#SignalOperator",
          "traits": {
            "smithy.api#documentation": "Operator how to compare the signal value with the threshold",
            "smithy.api#required": {}
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Threshold value"
          }
        },
        "sensitivity": {
          "target": "com.azure.cloudhealth#DynamicThresholdSensitivity",
          "traits": {
            "smithy.api#documentation": "Sensitivity level for dynamic threshold detection. Only applicable when operator is Dynamic."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Threshold-based evaluation rule for a signal definition"
      }
    },
    "com.azure.cloudhealth#DynamicThresholdSensitivity": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "High"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sensitivity level for dynamic threshold detection"
      }
    },
    "com.azure.cloudhealth#SignalOperator": {
      "type": "enum",
      "members": {
        "GREATERTHAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GreaterThan"
          }
        },
        "LESSTHAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessThan"
          }
        },
        "LESSTHANOREQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessThanOrEqual"
          }
        },
        "GREATERTHANOREQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GreaterThanOrEqual"
          }
        },
        "EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Equal"
          }
        },
        "NOTEQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotEqual"
          }
        },
        "DYNAMIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dynamic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Signal operator"
      }
    },
    "com.azure.cloudhealth#SignalDefinitionPropertiesTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional set of tags (key-value pairs)"
      }
    },
    "com.azure.cloudhealth#SignalDefinitionPropertiesRefreshInterval": {
      "type": "enum",
      "members": {
        "PT1M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT1M"
          }
        },
        "PT5M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT5M"
          }
        },
        "PT10M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT10M"
          }
        },
        "PT15M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT15M"
          }
        },
        "PT30M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT30M"
          }
        },
        "PT1H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT1H"
          }
        },
        "PT2H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT2H"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Interval in which the signal is being evaluated. Defaults to PT1M (1 minute)."
      }
    },
    "com.azure.cloudhealth#SignalKind": {
      "type": "enum",
      "members": {
        "AZURERESOURCEMETRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureResourceMetric"
          }
        },
        "LOGANALYTICSQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LogAnalyticsQuery"
          }
        },
        "PROMETHEUSMETRICSQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PrometheusMetricsQuery"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "External"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Supported signal kinds as discriminator"
      }
    },
    "com.azure.cloudhealth#HealthModelProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Health Model provisioning states"
      }
    },
    "com.azure.cloudhealth#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.cloudhealth#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.cloudhealth#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.cloudhealth#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.cloudhealth#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.cloudhealth#SignalDefinitionsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "healthModelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of health model resource"
          }
        },
        "signalDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the signal definition. Must be unique within a health model."
          }
        },
        "properties": {
          "target": "com.azure.cloudhealth#SignalDefinitionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cloudhealth#SignalDefinitionPropertiesInput": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name"
          }
        },
        "signalKind": {
          "target": "com.azure.cloudhealth#SignalKind",
          "traits": {
            "smithy.api#documentation": "Kind of the signal definition",
            "smithy.api#required": {}
          }
        },
        "refreshInterval": {
          "target": "com.azure.cloudhealth#SignalDefinitionPropertiesInputRefreshInterval",
          "traits": {
            "smithy.api#documentation": "Interval in which the signal is being evaluated. Defaults to PT1M (1 minute)."
          }
        },
        "tags": {
          "target": "com.azure.cloudhealth#SignalDefinitionPropertiesInputTagsMap",
          "traits": {
            "smithy.api#documentation": "Optional set of tags (key-value pairs)"
          }
        },
        "dataUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit of the signal result (e.g. Bytes, MilliSeconds, Percent, Count))"
          }
        },
        "evaluationRules": {
          "target": "com.azure.cloudhealth#EvaluationRule",
          "traits": {
            "smithy.api#documentation": "Evaluation rules for the signal definition",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SignalDefinition properties"
      }
    },
    "com.azure.cloudhealth#SignalDefinitionPropertiesInputTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional set of tags (key-value pairs)"
      }
    },
    "com.azure.cloudhealth#SignalDefinitionPropertiesInputRefreshInterval": {
      "type": "enum",
      "members": {
        "PT1M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT1M"
          }
        },
        "PT5M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT5M"
          }
        },
        "PT10M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT10M"
          }
        },
        "PT15M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT15M"
          }
        },
        "PT30M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT30M"
          }
        },
        "PT1H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT1H"
          }
        },
        "PT2H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT2H"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Interval in which the signal is being evaluated. Defaults to PT1M (1 minute)."
      }
    },
    "com.azure.cloudhealth#GetSignalDefinition": {
      "type": "operation",
      "input": {
        "target": "com.azure.cloudhealth#GetSignalDefinitionRequest"
      },
      "output": {
        "target": "com.azure.cloudhealth#GetSignalDefinitionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/signaldefinitions/{signalDefinitionName}",
          "code": 200,
          "apiVersion": "2026-11-01"
        },
        "smithy.api#documentation": "Get a SignalDefinition",
        "com.distilled.openapi#apiVersion": "2026-11-01"
      }
    },
    "com.azure.cloudhealth#GetSignalDefinitionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cloudhealth#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cloudhealth#SignalDefinitionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cloudhealth#GetSignalDefinitionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "healthModelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of health model resource"
          }
        },
        "signalDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the signal definition. Must be unique within a health model."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cloudhealth#ListSignalDefinitionByHealthModel": {
      "type": "operation",
      "input": {
        "target": "com.azure.cloudhealth#ListSignalDefinitionByHealthModelRequest"
      },
      "output": {
        "target": "com.azure.cloudhealth#SignalDefinitionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/signaldefinitions",
          "code": 200,
          "apiVersion": "2026-11-01"
        },
        "smithy.api#documentation": "List SignalDefinition resources by HealthModel",
        "com.distilled.openapi#apiVersion": "2026-11-01"
      }
    },
    "com.azure.cloudhealth#SignalDefinitionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.cloudhealth#SignalDefinitionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The SignalDefinition items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a SignalDefinition list operation."
      }
    },
    "com.azure.cloudhealth#SignalDefinitionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cloudhealth#SignalDefinition"
      },
      "traits": {
        "smithy.api#documentation": "The SignalDefinition items on this page"
      }
    },
    "com.azure.cloudhealth#SignalDefinition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cloudhealth#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cloudhealth#SignalDefinitionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A signal definition in a health model"
      }
    },
    "com.azure.cloudhealth#ListSignalDefinitionByHealthModelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "healthModelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of health model resource"
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "timestamp",
            "smithy.api#documentation": "Timestamp to use for the operation. When specified, the version of the resource at this point in time is retrieved. If not specified, the latest version is used."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cloudhealth#DeleteRelationship": {
      "type": "operation",
      "input": {
        "target": "com.azure.cloudhealth#DeleteRelationshipRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/relationships/{relationshipName}",
          "code": 200,
          "apiVersion": "2026-11-01"
        },
        "smithy.api#documentation": "Delete a Relationship",
        "com.distilled.openapi#apiVersion": "2026-11-01"
      }
    },
    "com.azure.cloudhealth#DeleteRelationshipRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "healthModelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of health model resource"
          }
        },
        "relationshipName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the relationship. Must be unique within a health model. For example, a concatenation of parentEntityName and childEntityName can be used as the name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cloudhealth#RelationshipsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cloudhealth#RelationshipsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.cloudhealth#RelationshipsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/relationships/{relationshipName}",
          "code": 200,
          "apiVersion": "2026-11-01"
        },
        "smithy.api#documentation": "Create a Relationship",
        "com.distilled.openapi#apiVersion": "2026-11-01"
      }
    },
    "com.azure.cloudhealth#RelationshipsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cloudhealth#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cloudhealth#RelationshipProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cloudhealth#RelationshipProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.cloudhealth#HealthModelProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name"
          }
        },
        "parentEntityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the parent entity",
            "smithy.api#required": {}
          }
        },
        "childEntityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the child entity",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.cloudhealth#RelationshipPropertiesTagsMap",
          "traits": {
            "smithy.api#documentation": "Optional set of tags (key-value pairs)"
          }
        },
        "discoveredBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Discovered by which discovery rule. If set, the relationship cannot be deleted manually."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Relationship properties"
      }
    },
    "com.azure.cloudhealth#RelationshipPropertiesTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional set of tags (key-value pairs)"
      }
    },
    "com.azure.cloudhealth#RelationshipsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "healthModelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of health model resource"
          }
        },
        "relationshipName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the relationship. Must be unique within a health model. For example, a concatenation of parentEntityName and childEntityName can be used as the name."
          }
        },
        "properties": {
          "target": "com.azure.cloudhealth#RelationshipPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cloudhealth#RelationshipPropertiesInput": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name"
          }
        },
        "parentEntityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the parent entity",
            "smithy.api#required": {}
          }
        },
        "childEntityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the child entity",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.cloudhealth#RelationshipPropertiesInputTagsMap",
          "traits": {
            "smithy.api#documentation": "Optional set of tags (key-value pairs)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Relationship properties"
      }
    },
    "com.azure.cloudhealth#RelationshipPropertiesInputTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional set of tags (key-value pairs)"
      }
    },
    "com.azure.cloudhealth#GetRelationship": {
      "type": "operation",
      "input": {
        "target": "com.azure.cloudhealth#GetRelationshipRequest"
      },
      "output": {
        "target": "com.azure.cloudhealth#GetRelationshipResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/relationships/{relationshipName}",
          "code": 200,
          "apiVersion": "2026-11-01"
        },
        "smithy.api#documentation": "Get a Relationship",
        "com.distilled.openapi#apiVersion": "2026-11-01"
      }
    },
    "com.azure.cloudhealth#GetRelationshipResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cloudhealth#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cloudhealth#RelationshipProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cloudhealth#GetRelationshipRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "healthModelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of health model resource"
          }
        },
        "relationshipName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the relationship. Must be unique within a health model. For example, a concatenation of parentEntityName and childEntityName can be used as the name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cloudhealth#ListRelationshipByHealthModel": {
      "type": "operation",
      "input": {
        "target": "com.azure.cloudhealth#ListRelationshipByHealthModelRequest"
      },
      "output": {
        "target": "com.azure.cloudhealth#RelationshipListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/relationships",
          "code": 200,
          "apiVersion": "2026-11-01"
        },
        "smithy.api#documentation": "List Relationship resources by HealthModel",
        "com.distilled.openapi#apiVersion": "2026-11-01"
      }
    },
    "com.azure.cloudhealth#RelationshipListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.cloudhealth#RelationshipListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Relationship items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Relationship list operation."
      }
    },
    "com.azure.cloudhealth#RelationshipListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cloudhealth#Relationship"
      },
      "traits": {
        "smithy.api#documentation": "The Relationship items on this page"
      }
    },
    "com.azure.cloudhealth#Relationship": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cloudhealth#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cloudhealth#RelationshipProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A relationship (aka edge) between two entities in a health model"
      }
    },
    "com.azure.cloudhealth#ListRelationshipByHealthModelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "healthModelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of health model resource"
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "timestamp",
            "smithy.api#documentation": "Timestamp to use for the operation. When specified, the version of the resource at this point in time is retrieved. If not specified, the latest version is used."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cloudhealth#EntitiesIngestHealthReport": {
      "type": "operation",
      "input": {
        "target": "com.azure.cloudhealth#EntitiesIngestHealthReportRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/entities/{entityName}/ingestHealthReport",
          "code": 200,
          "apiVersion": "2026-11-01"
        },
        "smithy.api#documentation": "Ingest a health report for a specific signal on an entity (the entity must already exist)",
        "com.distilled.openapi#apiVersion": "2026-11-01"
      }
    },
    "com.azure.cloudhealth#EntitiesIngestHealthReportRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "healthModelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of health model resource"
          }
        },
        "entityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the entity. Must be unique within a health model."
          }
        },
        "signalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the entity signal to report health for",
            "smithy.api#required": {}
          }
        },
        "healthState": {
          "target": "com.azure.cloudhealth#HealthState",
          "traits": {
            "smithy.api#documentation": "Health state to report for the signal",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Reported value of the signal"
          }
        },
        "evaluationRules": {
          "target": "com.azure.cloudhealth#HealthReportEvaluationRule",
          "traits": {
            "smithy.api#documentation": "Evaluation rules that were used to determine the reported health state"
          }
        },
        "expiresInMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of minutes until the health report expires. Defaults to 60 (1 hour) if not specified."
          }
        },
        "additionalContext": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional additional context or description for the health report"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cloudhealth#HealthReportEvaluationRule": {
      "type": "structure",
      "members": {
        "degradedRule": {
          "target": "com.azure.cloudhealth#ThresholdRuleV2",
          "traits": {
            "smithy.api#documentation": "Degraded rule with static threshold."
          }
        },
        "unhealthyRule": {
          "target": "com.azure.cloudhealth#ThresholdRuleV2",
          "traits": {
            "smithy.api#documentation": "Unhealthy rule with static threshold.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Evaluation rules for the health report"
      }
    },
    "com.azure.cloudhealth#HealthState": {
      "type": "enum",
      "members": {
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Healthy"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Degraded"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unhealthy"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Health state of an entity"
      }
    },
    "com.azure.cloudhealth#GetEntitySignalRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.azure.cloudhealth#GetEntitySignalRecommendationsRequest"
      },
      "output": {
        "target": "com.azure.cloudhealth#GetSignalRecommendationsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/entities/{entityName}/getSignalRecommendations",
          "code": 200,
          "apiVersion": "2026-11-01"
        },
        "smithy.api#documentation": "Get recommended signal configurations for a given Entity (only applicable for Entities representing Azure resources)",
        "com.distilled.openapi#apiVersion": "2026-11-01"
      }
    },
    "com.azure.cloudhealth#GetSignalRecommendationsResponse": {
      "type": "structure",
      "members": {
        "recommendedSignals": {
          "target": "com.azure.cloudhealth#GetSignalRecommendationsResponseRecommendedSignalsList",
          "traits": {
            "smithy.api#documentation": "Signals that are broadly recommended to be enabled by default for health models monitoring an Entity of this resource type. Each entry is a complete signal configuration (metric, aggregation, thresholds) ready to be added to a health model. Independent of `recommendedConfigurations` — not paired by index.",
            "smithy.api#required": {}
          }
        },
        "recommendedConfigurations": {
          "target": "com.azure.cloudhealth#GetSignalRecommendationsResponseRecommendedConfigurationsList",
          "traits": {
            "smithy.api#documentation": "Additional signal configurations for metrics that are not broadly applicable to every health model for an Entity of this resource type, but if a caller chooses to monitor one of these metrics, the provided thresholds are suggested as a starting point. Independent of `recommendedSignals` — not paired by index.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response from `getSignalRecommendations` containing two independent suggestion streams for the Azure resource type represented by the target Entity. `recommendedSignals` lists signals broadly recommended to be enabled by default; `recommendedConfigurations` lists additional metrics that are not broadly applicable but, if a caller chooses to monitor one of them, ship with suggested starting-point thresholds. The two arrays are independent — items are not paired by index, and callers should treat them as two separate suggestion streams."
      }
    },
    "com.azure.cloudhealth#GetSignalRecommendationsResponseRecommendedConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.cloudhealth#SignalConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "Additional signal configurations for metrics that are not broadly applicable to every health model for an Entity of this resource type, but if a caller chooses to monitor one of these metrics, the provided thresholds are suggested as a starting point. Independent of `recommendedSignals` — not paired by index."
      }
    },
    "com.azure.cloudhealth#SignalConfiguration": {
      "type": "structure",
      "members": {
        "signalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the recommended signal configuration.",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the recommended signal configuration."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the recommended signal configuration."
          }
        },
        "applicableResourceTypes": {
          "target": "com.azure.cloudhealth#SignalConfigurationApplicableResourceTypesList",
          "traits": {
            "smithy.api#documentation": "Azure resource types to which the recommended signal configuration applies."
          }
        },
        "refreshInterval": {
          "target": "com.azure.cloudhealth#RefreshInterval",
          "traits": {
            "smithy.api#documentation": "Interval in which the recommended signal is evaluated."
          }
        },
        "dataUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit of the recommended signal result (e.g. Bytes, MilliSeconds, Percent, Count)."
          }
        },
        "configuration": {
          "target": "com.azure.cloudhealth#SignalRecommendationConfiguration",
          "traits": {
            "smithy.api#documentation": "Kind-specific settings for the recommended signal.",
            "smithy.api#required": {}
          }
        },
        "evaluationRules": {
          "target": "com.azure.cloudhealth#EvaluationRule",
          "traits": {
            "smithy.api#documentation": "Evaluation rules with recommended thresholds."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A signal configuration for an Azure resource type"
      }
    },
    "com.azure.cloudhealth#SignalRecommendationConfiguration": {
      "type": "structure",
      "members": {
        "signalKind": {
          "target": "com.azure.cloudhealth#SignalRecommendationKind",
          "traits": {
            "smithy.api#documentation": "Kind of the recommended signal.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kind-specific signal recommendation configuration."
      }
    },
    "com.azure.cloudhealth#SignalRecommendationKind": {
      "type": "enum",
      "members": {
        "AZURERESOURCEMETRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureResourceMetric"
          }
        },
        "LOGANALYTICSQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LogAnalyticsQuery"
          }
        },
        "PROMETHEUSMETRICSQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PrometheusMetricsQuery"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Supported signal recommendation kinds."
      }
    },
    "com.azure.cloudhealth#RefreshInterval": {
      "type": "enum",
      "members": {
        "PT1M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT1M"
          }
        },
        "PT5M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT5M"
          }
        },
        "PT10M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT10M"
          }
        },
        "PT15M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT15M"
          }
        },
        "PT30M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT30M"
          }
        },
        "PT1H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT1H"
          }
        },
        "PT2H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT2H"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Refresh interval in ISO duration format"
      }
    },
    "com.azure.cloudhealth#SignalConfigurationApplicableResourceTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Azure resource types to which the recommended signal configuration applies."
      }
    },
    "com.azure.cloudhealth#GetSignalRecommendationsResponseRecommendedSignalsList": {
      "type": "list",
      "member": {
        "target": "com.azure.cloudhealth#SignalConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "Signals that are broadly recommended to be enabled by default for health models monitoring an Entity of this resource type. Each entry is a complete signal configuration (metric, aggregation, thresholds) ready to be added to a health model. Independent of `recommendedConfigurations` — not paired by index."
      }
    },
    "com.azure.cloudhealth#GetEntitySignalRecommendationsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "healthModelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of health model resource"
          }
        },
        "entityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the entity. Must be unique within a health model."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cloudhealth#GetEntitySignalHistory": {
      "type": "operation",
      "input": {
        "target": "com.azure.cloudhealth#GetEntitySignalHistoryRequest"
      },
      "output": {
        "target": "com.azure.cloudhealth#SignalHistoryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/entities/{entityName}/getSignalHistory",
          "code": 200,
          "apiVersion": "2026-11-01"
        },
        "smithy.api#documentation": "Retrieve the time series history for a signal on an entity",
        "com.distilled.openapi#apiVersion": "2026-11-01"
      }
    },
    "com.azure.cloudhealth#SignalHistoryResponse": {
      "type": "structure",
      "members": {
        "entityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the entity",
            "smithy.api#required": {}
          }
        },
        "signalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the signal",
            "smithy.api#required": {}
          }
        },
        "history": {
          "target": "com.azure.cloudhealth#SignalHistoryResponseHistoryList",
          "traits": {
            "smithy.api#documentation": "Signal history data points",
            "smithy.api#required": {}
          }
        },
        "nextMarker": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string value that identifies the portion of the result set to be returned with the next operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing signal history"
      }
    },
    "com.azure.cloudhealth#SignalHistoryResponseHistoryList": {
      "type": "list",
      "member": {
        "target": "com.azure.cloudhealth#SignalHistoryDataPoint"
      },
      "traits": {
        "smithy.api#documentation": "Signal history data points"
      }
    },
    "com.azure.cloudhealth#SignalHistoryDataPoint": {
      "type": "structure",
      "members": {
        "occurredAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the data point",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Signal value at this point in time"
          }
        },
        "healthState": {
          "target": "com.azure.cloudhealth#HealthState",
          "traits": {
            "smithy.api#documentation": "Health state at this point in time",
            "smithy.api#required": {}
          }
        },
        "additionalContext": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional context as provided by the submitter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A data point in the signal time series"
      }
    },
    "com.azure.cloudhealth#GetEntitySignalHistoryRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "healthModelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of health model resource"
          }
        },
        "entityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the entity. Must be unique within a health model."
          }
        },
        "signalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the signal to get history for",
            "smithy.api#required": {}
          }
        },
        "startAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time for the history query. Defaults to 24 hours ago if not specified."
          }
        },
        "endAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time for the history query. Defaults to now if not specified."
          }
        },
        "top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of data points to return per page. Defaults to 1000."
          }
        },
        "nextMarker": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string value that identifies the portion of the result set to be returned with the next operation. Must not be combined with startAt or endAt."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cloudhealth#GetEntityHistory": {
      "type": "operation",
      "input": {
        "target": "com.azure.cloudhealth#GetEntityHistoryRequest"
      },
      "output": {
        "target": "com.azure.cloudhealth#EntityHistoryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/entities/{entityName}/getHistory",
          "code": 200,
          "apiVersion": "2026-11-01"
        },
        "smithy.api#documentation": "Retrieve the health state transition history for an entity",
        "com.distilled.openapi#apiVersion": "2026-11-01"
      }
    },
    "com.azure.cloudhealth#EntityHistoryResponse": {
      "type": "structure",
      "members": {
        "entityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the entity",
            "smithy.api#required": {}
          }
        },
        "history": {
          "target": "com.azure.cloudhealth#EntityHistoryResponseHistoryList",
          "traits": {
            "smithy.api#documentation": "List of health state transitions",
            "smithy.api#required": {}
          }
        },
        "nextMarker": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string value that identifies the portion of the result set to be returned with the next operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing entity health state transitions"
      }
    },
    "com.azure.cloudhealth#EntityHistoryResponseHistoryList": {
      "type": "list",
      "member": {
        "target": "com.azure.cloudhealth#HealthStateTransition"
      },
      "traits": {
        "smithy.api#documentation": "List of health state transitions"
      }
    },
    "com.azure.cloudhealth#HealthStateTransition": {
      "type": "structure",
      "members": {
        "previousState": {
          "target": "com.azure.cloudhealth#HealthState",
          "traits": {
            "smithy.api#documentation": "Previous health state before the transition",
            "smithy.api#required": {}
          }
        },
        "newState": {
          "target": "com.azure.cloudhealth#HealthState",
          "traits": {
            "smithy.api#documentation": "New health state after the transition",
            "smithy.api#required": {}
          }
        },
        "occurredAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the transition occurred",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason of the transition"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A health state transition record"
      }
    },
    "com.azure.cloudhealth#GetEntityHistoryRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "healthModelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of health model resource"
          }
        },
        "entityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the entity. Must be unique within a health model."
          }
        },
        "startAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time for the history query. Defaults to 24 hours ago if not specified."
          }
        },
        "endAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time for the history query. Defaults to now if not specified."
          }
        },
        "top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of health state transitions to return per page. Defaults to 1000."
          }
        },
        "nextMarker": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string value that identifies the portion of the result set to be returned with the next operation. Must not be combined with startAt or endAt."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cloudhealth#GetEntityDataAnnotations": {
      "type": "operation",
      "input": {
        "target": "com.azure.cloudhealth#GetEntityDataAnnotationsRequest"
      },
      "output": {
        "target": "com.azure.cloudhealth#GetDataAnnotationsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/entities/{entityName}/getDataAnnotations",
          "code": 200,
          "apiVersion": "2026-11-01"
        },
        "smithy.api#documentation": "Retrieve data annotations for an entity",
        "com.distilled.openapi#apiVersion": "2026-11-01"
      }
    },
    "com.azure.cloudhealth#GetDataAnnotationsResponse": {
      "type": "structure",
      "members": {
        "entityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the entity",
            "smithy.api#required": {}
          }
        },
        "annotations": {
          "target": "com.azure.cloudhealth#GetDataAnnotationsResponseAnnotationsList",
          "traits": {
            "smithy.api#documentation": "List of data annotations",
            "smithy.api#required": {}
          }
        },
        "nextMarker": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string value that identifies the portion of the result set to be returned with the next operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing data annotations for an entity"
      }
    },
    "com.azure.cloudhealth#GetDataAnnotationsResponseAnnotationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.cloudhealth#DataAnnotation"
      },
      "traits": {
        "smithy.api#documentation": "List of data annotations"
      }
    },
    "com.azure.cloudhealth#DataAnnotation": {
      "type": "structure",
      "members": {
        "annotationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto-assigned identifier for the annotation"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the annotation was created"
          }
        },
        "annotationDetails": {
          "target": "com.azure.cloudhealth#DataAnnotationAnnotationDetailsMap",
          "traits": {
            "smithy.api#documentation": "Annotation details as a dynamic key-value pair bag. Service-enforced limits: a maximum of 10 entries per annotation and a maximum value length of 256 characters. Requests exceeding these limits will be rejected with a 400 response.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the annotation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single data annotation on an entity"
      }
    },
    "com.azure.cloudhealth#DataAnnotationAnnotationDetailsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Annotation details as a dynamic key-value pair bag. Service-enforced limits: a maximum of 10 entries per annotation and a maximum value length of 256 characters. Requests exceeding these limits will be rejected with a 400 response."
      }
    },
    "com.azure.cloudhealth#GetEntityDataAnnotationsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "healthModelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of health model resource"
          }
        },
        "entityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the entity. Must be unique within a health model."
          }
        },
        "startAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of UTC time range. Defaults to 24 hours ago if not specified."
          }
        },
        "endAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of UTC time range. Defaults to now if not specified."
          }
        },
        "top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of annotations to return per page. Defaults to 100."
          }
        },
        "nextMarker": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string value that identifies the portion of the result set to be returned with the next operation. Must not be combined with startAt or endAt."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cloudhealth#AddEntityDataAnnotation": {
      "type": "operation",
      "input": {
        "target": "com.azure.cloudhealth#AddEntityDataAnnotationRequest"
      },
      "output": {
        "target": "com.azure.cloudhealth#DataAnnotation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/entities/{entityName}/addDataAnnotation",
          "code": 200,
          "apiVersion": "2026-11-01"
        },
        "smithy.api#documentation": "Add a data annotation to an entity",
        "com.distilled.openapi#apiVersion": "2026-11-01"
      }
    },
    "com.azure.cloudhealth#AddEntityDataAnnotationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "healthModelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of health model resource"
          }
        },
        "entityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the entity. Must be unique within a health model."
          }
        },
        "annotationDetails": {
          "target": "com.azure.cloudhealth#AddEntityDataAnnotationRequestAnnotationDetailsMap",
          "traits": {
            "smithy.api#documentation": "Annotation details as a dynamic key-value pair bag. Service-enforced limits: a maximum of 10 entries per annotation and a maximum value length of 256 characters. Requests exceeding these limits will be rejected with a 400 response.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the annotation"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cloudhealth#AddEntityDataAnnotationRequestAnnotationDetailsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Annotation details as a dynamic key-value pair bag. Service-enforced limits: a maximum of 10 entries per annotation and a maximum value length of 256 characters. Requests exceeding these limits will be rejected with a 400 response."
      }
    },
    "com.azure.cloudhealth#DeleteEntity": {
      "type": "operation",
      "input": {
        "target": "com.azure.cloudhealth#DeleteEntityRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/entities/{entityName}",
          "code": 200,
          "apiVersion": "2026-11-01"
        },
        "smithy.api#documentation": "Delete a Entity",
        "com.distilled.openapi#apiVersion": "2026-11-01"
      }
    },
    "com.azure.cloudhealth#DeleteEntityRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "healthModelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of health model resource"
          }
        },
        "entityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the entity. Must be unique within a health model."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cloudhealth#EntitiesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cloudhealth#EntitiesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.cloudhealth#EntitiesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/entities/{entityName}",
          "code": 200,
          "apiVersion": "2026-11-01"
        },
        "smithy.api#documentation": "Create a Entity",
        "com.distilled.openapi#apiVersion": "2026-11-01"
      }
    },
    "com.azure.cloudhealth#EntitiesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cloudhealth#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cloudhealth#EntityProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cloudhealth#EntityProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.cloudhealth#HealthModelProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name"
          }
        },
        "canvasPosition": {
          "target": "com.azure.cloudhealth#EntityCoordinates",
          "traits": {
            "smithy.api#documentation": "Positioning of the entity on the model canvas"
          }
        },
        "icon": {
          "target": "com.azure.cloudhealth#IconDefinition",
          "traits": {
            "smithy.api#documentation": "Visual icon definition. If not set, a default icon is used."
          }
        },
        "healthObjective": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Health objective as a percentage of time the entity should be healthy."
          }
        },
        "impact": {
          "target": "com.azure.cloudhealth#EntityPropertiesImpact",
          "traits": {
            "smithy.api#documentation": "Impact of the entity in health state propagation"
          }
        },
        "tags": {
          "target": "com.azure.cloudhealth#EntityPropertiesTagsMap",
          "traits": {
            "smithy.api#documentation": "Optional set of tags (key-value pairs)"
          }
        },
        "signalGroups": {
          "target": "com.azure.cloudhealth#SignalGroups",
          "traits": {
            "smithy.api#documentation": "Signal groups which are assigned to this entity"
          }
        },
        "signalAggregationGroups": {
          "target": "com.azure.cloudhealth#EntityPropertiesSignalAggregationGroupsList",
          "traits": {
            "smithy.api#documentation": "Logical aggregation groups over the signals on this entity. Overlap is allowed: the same signal may appear in more than one group's members. Each group is evaluated independently according to its strategy, and a shared signal can contribute to multiple group states and related per-group telemetry. Group states contribute alongside any ungrouped signals and the dependency-aggregated child health to the entity's overall worst-of composite."
          }
        },
        "discoveredBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Discovered by which discovery rule. If set, the entity cannot be deleted manually."
          }
        },
        "healthState": {
          "target": "com.azure.cloudhealth#HealthState",
          "traits": {
            "smithy.api#documentation": "Health state of this entity"
          }
        },
        "alerts": {
          "target": "com.azure.cloudhealth#EntityAlerts",
          "traits": {
            "smithy.api#documentation": "Alert configuration for this entity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties which are common across all kinds of entities"
      }
    },
    "com.azure.cloudhealth#EntityAlerts": {
      "type": "structure",
      "members": {
        "unhealthy": {
          "target": "com.azure.cloudhealth#AlertConfiguration",
          "traits": {
            "smithy.api#documentation": "Alert to be triggered on state change to unhealthy"
          }
        },
        "degraded": {
          "target": "com.azure.cloudhealth#AlertConfiguration",
          "traits": {
            "smithy.api#documentation": "Alert to be triggered on state change to degraded"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alert configuration for an entity"
      }
    },
    "com.azure.cloudhealth#AlertConfiguration": {
      "type": "structure",
      "members": {
        "severity": {
          "target": "com.azure.cloudhealth#AlertSeverity",
          "traits": {
            "smithy.api#documentation": "The severity of triggered alert.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alert rule description."
          }
        },
        "actionGroupIds": {
          "target": "com.azure.cloudhealth#AlertConfigurationActionGroupIdsList",
          "traits": {
            "smithy.api#documentation": "Optional list of action group resource IDs to be notified when the alert is triggered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alert configuration details"
      }
    },
    "com.azure.cloudhealth#AlertConfigurationActionGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional list of action group resource IDs to be notified when the alert is triggered."
      }
    },
    "com.azure.cloudhealth#AlertSeverity": {
      "type": "enum",
      "members": {
        "SEV0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sev0"
          }
        },
        "SEV1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sev1"
          }
        },
        "SEV2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sev2"
          }
        },
        "SEV3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sev3"
          }
        },
        "SEV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sev4"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Severity of an alert"
      }
    },
    "com.azure.cloudhealth#EntityPropertiesSignalAggregationGroupsList": {
      "type": "list",
      "member": {
        "target": "com.azure.cloudhealth#SignalAggregationGroup"
      },
      "traits": {
        "smithy.api#documentation": "Logical aggregation groups over the signals on this entity. Overlap is allowed: the same signal may appear in more than one group's members. Each group is evaluated independently according to its strategy, and a shared signal can contribute to multiple group states and related per-group telemetry. Group states contribute alongside any ungrouped signals and the dependency-aggregated child health to the entity's overall worst-of composite."
      }
    },
    "com.azure.cloudhealth#SignalAggregationGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the aggregation group. Unique within the entity.",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name"
          }
        },
        "aggregationType": {
          "target": "com.azure.cloudhealth#SignalAggregationGroupAggregationType",
          "traits": {
            "smithy.api#documentation": "Aggregation strategy applied across the members of this group."
          }
        },
        "members": {
          "target": "com.azure.cloudhealth#SignalAggregationGroupMembersList",
          "traits": {
            "smithy.api#documentation": "Names of signals on this entity which are members of the group. Members are matched by name; references to signals that do not currently exist on the entity are accepted (typically for pre-declared external signals) and surfaced via 'unresolvedMembers'. A signal may be listed in multiple groups; no duplicates within this list.",
            "smithy.api#required": {}
          }
        },
        "degradedThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Degraded threshold for threshold-bearing strategies (MinHealthy, MaxNotHealthy). For MinHealthy: group is degraded when the healthy member count/percentage falls to or below this value. For MaxNotHealthy: group is degraded when the not-healthy member count/percentage reaches or exceeds this value. Optional — if not set, the group transitions directly between Healthy and Unhealthy. MUST NOT be set when aggregationType is WorstOf or BestOf."
          }
        },
        "unhealthyThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unhealthy threshold for threshold-bearing strategies. Required when aggregationType is MinHealthy or MaxNotHealthy; MUST NOT be set otherwise."
          }
        },
        "unit": {
          "target": "com.azure.cloudhealth#AggregationUnit",
          "traits": {
            "smithy.api#documentation": "Unit type for the thresholds. Required when aggregationType is MinHealthy or MaxNotHealthy; MUST NOT be set otherwise."
          }
        },
        "ignoreUnknown": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true (default), members reporting Unknown are excluded from the aggregation. For MinHealthy and MaxNotHealthy this flag affects the denominator/count and is meaningful. For WorstOf and BestOf the flag has no observable effect: under WorstOf, Unknown=0 is the lowest severity and can never beat any non-Unknown member in a Max() so filtering it changes nothing observable; under BestOf, Unknown is unconditionally excluded by the strategy itself irrespective of the flag. The flag is retained on the contract for vocabulary symmetry across all four strategies."
          }
        },
        "aggregatedHealthState": {
          "target": "com.azure.cloudhealth#HealthState",
          "traits": {
            "smithy.api#documentation": "Computed aggregated health state of the group as of the last entity evaluation. Unknown if no resolvable members or all members filtered out."
          }
        },
        "unresolvedMembers": {
          "target": "com.azure.cloudhealth#SignalAggregationGroupUnresolvedMembersList",
          "traits": {
            "smithy.api#documentation": "Members listed in 'members' that do not currently resolve to a signal on this entity at the time of the last entity evaluation. Treated as Unknown during aggregation. Empty/omitted when every member resolves."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A logical group of signals on an entity, evaluated under a configurable aggregation strategy. Groups are independent even when they share members. Each group's aggregated state is one of the inputs to the entity's composite health computation alongside any signals not declared in any group's members[]."
      }
    },
    "com.azure.cloudhealth#SignalAggregationGroupUnresolvedMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Members listed in 'members' that do not currently resolve to a signal on this entity at the time of the last entity evaluation. Treated as Unknown during aggregation. Empty/omitted when every member resolves."
      }
    },
    "com.azure.cloudhealth#AggregationUnit": {
      "type": "enum",
      "members": {
        "ABSOLUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Absolute"
          }
        },
        "PERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Percentage"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Unit type for the thresholds used by threshold-bearing aggregation strategies."
      }
    },
    "com.azure.cloudhealth#SignalAggregationGroupMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Names of signals on this entity which are members of the group. Members are matched by name; references to signals that do not currently exist on the entity are accepted (typically for pre-declared external signals) and surfaced via 'unresolvedMembers'. A signal may be listed in multiple groups; no duplicates within this list."
      }
    },
    "com.azure.cloudhealth#SignalAggregationGroupAggregationType": {
      "type": "enum",
      "members": {
        "WORSTOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WorstOf"
          }
        },
        "BESTOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BestOf"
          }
        },
        "MINHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MinHealthy"
[...]
