{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.azure.gcpconnector#DeleteBigQueryDataset": {
      "type": "operation",
      "input": {
        "target": "com.azure.gcpconnector#DeleteBigQueryDatasetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GcpConnector/bigQueryDatasets/{name}",
          "code": 200,
          "apiVersion": "2027-01-01"
        },
        "smithy.api#documentation": "Delete a BigQueryDataset",
        "com.distilled.openapi#apiVersion": "2027-01-01"
      }
    },
    "com.azure.gcpconnector#DeleteBigQueryDatasetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of BigQueryDataset"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.gcpconnector#UpdateBigQueryDataset": {
      "type": "operation",
      "input": {
        "target": "com.azure.gcpconnector#UpdateBigQueryDatasetRequest"
      },
      "output": {
        "target": "com.azure.gcpconnector#UpdateBigQueryDatasetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GcpConnector/bigQueryDatasets/{name}",
          "code": 200,
          "apiVersion": "2027-01-01"
        },
        "smithy.api#documentation": "Update a BigQueryDataset",
        "com.distilled.openapi#apiVersion": "2027-01-01"
      }
    },
    "com.azure.gcpconnector#UpdateBigQueryDatasetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.gcpconnector#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.gcpconnector#UpdateBigQueryDatasetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.gcpconnector#BigQueryDatasetProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.gcpconnector#BigQueryDatasetProperties": {
      "type": "structure",
      "members": {
        "gcpProperties": {
          "target": "com.azure.gcpconnector#GcpBigQueryDatasetProperties",
          "traits": {
            "smithy.api#documentation": "GCP Properties"
          }
        },
        "publicCloudConnectorsResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public Cloud Connectors Resource ID"
          }
        },
        "gcpProjectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GCP Project Number"
          }
        },
        "gcpProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GCP Project Id"
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource name of the GCP resource"
          }
        },
        "publicCloudResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public Cloud Resource Name"
          }
        },
        "gcpSourceSchema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GCP Source Schema"
          }
        },
        "gcpRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GCP Region"
          }
        },
        "gcpTags": {
          "target": "com.azure.gcpconnector#BigQueryDatasetPropertiesGcpTagsMap",
          "traits": {
            "smithy.api#documentation": "GCP Tags"
          }
        },
        "provisioningState": {
          "target": "com.azure.gcpconnector#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of BigQueryDatasetProperties"
      }
    },
    "com.azure.gcpconnector#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of a resource."
      }
    },
    "com.azure.gcpconnector#BigQueryDatasetPropertiesGcpTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "GCP Tags"
      }
    },
    "com.azure.gcpconnector#GcpBigQueryDatasetProperties": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hash of this resource"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully-qualified, unique ID of the dataset"
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL that can be used to access this resource again"
          }
        },
        "datasetReference": {
          "target": "com.azure.gcpconnector#DatasetReference",
          "traits": {
            "smithy.api#documentation": "The reference to the dataset",
            "smithy.api#required": {}
          }
        },
        "friendlyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A descriptive name for the dataset"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-friendly description of the dataset"
          }
        },
        "labels": {
          "target": "com.azure.gcpconnector#GcpBigQueryDatasetPropertiesLabelsMap",
          "traits": {
            "smithy.api#documentation": "The labels associated with this dataset"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geographic location where the dataset resides"
          }
        },
        "defaultTableExpirationMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default expiration time for tables in milliseconds"
          }
        },
        "defaultPartitionExpirationMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default partition expiration time in milliseconds"
          }
        },
        "defaultEncryptionConfiguration": {
          "target": "com.azure.gcpconnector#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "The default encryption configuration for the dataset"
          }
        },
        "defaultCollation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default collation for new string fields"
          }
        },
        "defaultRoundingMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default rounding mode for decimal fields"
          }
        },
        "access": {
          "target": "com.azure.gcpconnector#GcpBigQueryDatasetPropertiesAccessList",
          "traits": {
            "smithy.api#documentation": "An array of objects that define dataset access for one or more entities"
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this dataset was created"
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this dataset was last modified"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the dataset"
          }
        },
        "linkedDatasetSource": {
          "target": "com.azure.gcpconnector#LinkedDatasetSource",
          "traits": {
            "smithy.api#documentation": "The linked dataset source"
          }
        },
        "linkedDatasetMetadata": {
          "target": "com.azure.gcpconnector#LinkedDatasetMetadata",
          "traits": {
            "smithy.api#documentation": "The linked dataset metadata"
          }
        },
        "externalDatasetReference": {
          "target": "com.azure.gcpconnector#ExternalDatasetReference",
          "traits": {
            "smithy.api#documentation": "The external dataset reference"
          }
        },
        "externalCatalogDatasetOptions": {
          "target": "com.azure.gcpconnector#ExternalCatalogDatasetOptions",
          "traits": {
            "smithy.api#documentation": "The external catalog dataset options"
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this dataset satisfies Protected Zone Shared requirements"
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this dataset satisfies Protected Zone Isolated requirements"
          }
        },
        "isCaseInsensitive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this dataset is case insensitive"
          }
        },
        "maxTimeTravelHours": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum time travel hours for this dataset"
          }
        },
        "tags": {
          "target": "com.azure.gcpconnector#GcpBigQueryDatasetPropertiesTagsList",
          "traits": {
            "smithy.api#documentation": "The resource tags associated with this dataset"
          }
        },
        "storageBillingModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The storage billing model for this dataset"
          }
        },
        "resourceTags": {
          "target": "com.azure.gcpconnector#GcpBigQueryDatasetPropertiesResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "The resource tags associated with this dataset"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of GcpBigQueryDatasetProperties"
      }
    },
    "com.azure.gcpconnector#GcpBigQueryDatasetPropertiesResourceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resource tags associated with this dataset"
      }
    },
    "com.azure.gcpconnector#GcpBigQueryDatasetPropertiesTagsList": {
      "type": "list",
      "member": {
        "target": "com.azure.gcpconnector#GcpTag"
      },
      "traits": {
        "smithy.api#documentation": "The resource tags associated with this dataset"
      }
    },
    "com.azure.gcpconnector#GcpTag": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tag key in format tag_key_id/tag_key_name"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tag value short name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of GcpTag"
      }
    },
    "com.azure.gcpconnector#ExternalCatalogDatasetOptions": {
      "type": "structure",
      "members": {
        "catalog": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The catalog name"
          }
        },
        "schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The schema name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of ExternalCatalogDatasetOptions"
      }
    },
    "com.azure.gcpconnector#ExternalDatasetReference": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source of the external dataset"
          }
        },
        "externalSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External source identifier"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of ExternalDatasetReference"
      }
    },
    "com.azure.gcpconnector#LinkedDatasetMetadata": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the linked dataset"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of LinkedDatasetMetadata"
      }
    },
    "com.azure.gcpconnector#LinkedDatasetSource": {
      "type": "structure",
      "members": {
        "sourceDataset": {
          "target": "com.azure.gcpconnector#DatasetReference",
          "traits": {
            "smithy.api#documentation": "Reference to the source dataset"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of LinkedDatasetSource"
      }
    },
    "com.azure.gcpconnector#DatasetReference": {
      "type": "structure",
      "members": {
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the dataset",
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project containing this dataset",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of DatasetReference"
      }
    },
    "com.azure.gcpconnector#GcpBigQueryDatasetPropertiesAccessList": {
      "type": "list",
      "member": {
        "target": "com.azure.gcpconnector#DatasetAccess"
      },
      "traits": {
        "smithy.api#documentation": "An array of objects that define dataset access for one or more entities"
      }
    },
    "com.azure.gcpconnector#DatasetAccess": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Access role granted to the entity"
          }
        },
        "userByEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User email address to grant access to"
          }
        },
        "groupByEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Group email address to grant access to"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain to grant access to"
          }
        },
        "specialGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Special group to grant access to"
          }
        },
        "iamMember": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IAM member to grant access to"
          }
        },
        "view": {
          "target": "com.azure.gcpconnector#TableReference",
          "traits": {
            "smithy.api#documentation": "A view defined in a different dataset to grant access to"
          }
        },
        "dataset": {
          "target": "com.azure.gcpconnector#DatasetAccessEntry",
          "traits": {
            "smithy.api#documentation": "The dataset this entry applies to"
          }
        },
        "routine": {
          "target": "com.azure.gcpconnector#RoutineReference",
          "traits": {
            "smithy.api#documentation": "The routine this entry applies to"
          }
        },
        "condition": {
          "target": "com.azure.gcpconnector#Expr",
          "traits": {
            "smithy.api#documentation": "An IAM Condition for this access entry"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of DatasetAccess"
      }
    },
    "com.azure.gcpconnector#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional title for the expression"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the expression"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional location of the expression"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of Expr"
      }
    },
    "com.azure.gcpconnector#RoutineReference": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project containing this routine",
            "smithy.api#required": {}
          }
        },
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the dataset containing this routine",
            "smithy.api#required": {}
          }
        },
        "routineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the routine",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of RoutineReference"
      }
    },
    "com.azure.gcpconnector#DatasetAccessEntry": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "com.azure.gcpconnector#DatasetReference",
          "traits": {
            "smithy.api#documentation": "The dataset this entry applies to"
          }
        },
        "targetTypes": {
          "target": "com.azure.gcpconnector#DatasetAccessEntryTargetTypesList",
          "traits": {
            "smithy.api#documentation": "Which resources in the dataset this entry applies to. Currently, only views are supported, but additional target types may be added in the future."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of DatasetAccessEntry"
      }
    },
    "com.azure.gcpconnector#DatasetAccessEntryTargetTypesList": {
      "type": "list",
      "member": {
        "target": "com.azure.gcpconnector#TargetTypes"
      },
      "traits": {
        "smithy.api#documentation": "Which resources in the dataset this entry applies to. Currently, only views are supported, but additional target types may be added in the future."
      }
    },
    "com.azure.gcpconnector#TargetTypes": {
      "type": "enum",
      "members": {
        "TARGET_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_TYPE_UNSPECIFIED"
          }
        },
        "VIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWS"
          }
        },
        "ROUTINES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROUTINES"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DatasetAccessEntry.targetTypes values, as defined by the Google Cloud API."
      }
    },
    "com.azure.gcpconnector#TableReference": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project containing this table",
            "smithy.api#required": {}
          }
        },
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the dataset containing this table",
            "smithy.api#required": {}
          }
        },
        "tableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the table",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of TableReference"
      }
    },
    "com.azure.gcpconnector#EncryptionConfiguration": {
      "type": "structure",
      "members": {
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud KMS key name used for encryption"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of EncryptionConfiguration"
      }
    },
    "com.azure.gcpconnector#GcpBigQueryDatasetPropertiesLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The labels associated with this dataset"
      }
    },
    "com.azure.gcpconnector#UpdateBigQueryDatasetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.gcpconnector#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.gcpconnector#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.gcpconnector#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.gcpconnector#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.gcpconnector#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.gcpconnector#UpdateBigQueryDatasetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of BigQueryDataset"
          }
        },
        "tags": {
          "target": "com.azure.gcpconnector#UpdateBigQueryDatasetRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.gcpconnector#UpdateBigQueryDatasetRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.gcpconnector#BigQueryDatasetsCreateOrReplace": {
      "type": "operation",
      "input": {
        "target": "com.azure.gcpconnector#BigQueryDatasetsCreateOrReplaceRequest"
      },
      "output": {
        "target": "com.azure.gcpconnector#BigQueryDatasetsCreateOrReplaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GcpConnector/bigQueryDatasets/{name}",
          "code": 200,
          "apiVersion": "2027-01-01"
        },
        "smithy.api#documentation": "Create a big query dataset. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "com.distilled.openapi#apiVersion": "2027-01-01"
      }
    },
    "com.azure.gcpconnector#BigQueryDatasetsCreateOrReplaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.gcpconnector#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.gcpconnector#BigQueryDatasetsCreateOrReplaceResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.gcpconnector#BigQueryDatasetProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.gcpconnector#BigQueryDatasetsCreateOrReplaceResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.gcpconnector#BigQueryDatasetsCreateOrReplaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of BigQueryDataset"
          }
        },
        "tags": {
          "target": "com.azure.gcpconnector#BigQueryDatasetsCreateOrReplaceRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.gcpconnector#BigQueryDatasetPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.gcpconnector#BigQueryDatasetPropertiesInput": {
      "type": "structure",
      "members": {
        "gcpProperties": {
          "target": "com.azure.gcpconnector#GcpBigQueryDatasetProperties",
          "traits": {
            "smithy.api#documentation": "GCP Properties"
          }
        },
        "publicCloudConnectorsResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public Cloud Connectors Resource ID"
          }
        },
        "gcpProjectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GCP Project Number"
          }
        },
        "gcpProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GCP Project Id"
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource name of the GCP resource"
          }
        },
        "publicCloudResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public Cloud Resource Name"
          }
        },
        "gcpSourceSchema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GCP Source Schema"
          }
        },
        "gcpRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GCP Region"
          }
        },
        "gcpTags": {
          "target": "com.azure.gcpconnector#BigQueryDatasetPropertiesInputGcpTagsMap",
          "traits": {
            "smithy.api#documentation": "GCP Tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of BigQueryDatasetProperties"
      }
    },
    "com.azure.gcpconnector#BigQueryDatasetPropertiesInputGcpTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "GCP Tags"
      }
    },
    "com.azure.gcpconnector#BigQueryDatasetsCreateOrReplaceRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.gcpconnector#GetBigQueryDataset": {
      "type": "operation",
      "input": {
        "target": "com.azure.gcpconnector#GetBigQueryDatasetRequest"
      },
      "output": {
        "target": "com.azure.gcpconnector#GetBigQueryDatasetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GcpConnector/bigQueryDatasets/{name}",
          "code": 200,
          "apiVersion": "2027-01-01"
        },
        "smithy.api#documentation": "Get a BigQueryDataset",
        "com.distilled.openapi#apiVersion": "2027-01-01"
      }
    },
    "com.azure.gcpconnector#GetBigQueryDatasetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.gcpconnector#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.gcpconnector#GetBigQueryDatasetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.gcpconnector#BigQueryDatasetProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.gcpconnector#GetBigQueryDatasetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.gcpconnector#GetBigQueryDatasetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of BigQueryDataset"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.gcpconnector#ListBigQueryDatasetByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.gcpconnector#ListBigQueryDatasetByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.gcpconnector#BigQueryDatasetListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GcpConnector/bigQueryDatasets",
          "code": 200,
          "apiVersion": "2027-01-01"
        },
        "smithy.api#documentation": "List BigQueryDataset resources by resource group",
        "com.distilled.openapi#apiVersion": "2027-01-01"
      }
    },
    "com.azure.gcpconnector#BigQueryDatasetListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.gcpconnector#BigQueryDatasetListResultValueList",
          "traits": {
            "smithy.api#documentation": "The BigQueryDataset items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a BigQueryDataset list operation."
      }
    },
    "com.azure.gcpconnector#BigQueryDatasetListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.gcpconnector#BigQueryDataset"
      },
      "traits": {
        "smithy.api#documentation": "The BigQueryDataset items on this page"
      }
    },
    "com.azure.gcpconnector#BigQueryDataset": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.gcpconnector#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.gcpconnector#BigQueryDatasetTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.gcpconnector#BigQueryDatasetProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Microsoft.GcpConnector resource"
      }
    },
    "com.azure.gcpconnector#BigQueryDatasetTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.gcpconnector#ListBigQueryDatasetByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.gcpconnector#ListBigQueryDatasetBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.gcpconnector#ListBigQueryDatasetBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.gcpconnector#BigQueryDatasetListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.GcpConnector/bigQueryDatasets",
          "code": 200,
          "apiVersion": "2027-01-01"
        },
        "smithy.api#documentation": "List BigQueryDataset resources by subscription ID",
        "com.distilled.openapi#apiVersion": "2027-01-01"
      }
    },
    "com.azure.gcpconnector#ListBigQueryDatasetBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.gcpconnector#DeleteCloudFunction": {
      "type": "operation",
      "input": {
        "target": "com.azure.gcpconnector#DeleteCloudFunctionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GcpConnector/cloudFunctions/{name}",
          "code": 200,
          "apiVersion": "2027-01-01"
        },
        "smithy.api#documentation": "Delete a CloudFunction",
        "com.distilled.openapi#apiVersion": "2027-01-01"
      }
    },
    "com.azure.gcpconnector#DeleteCloudFunctionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of CloudFunction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.gcpconnector#UpdateCloudFunction": {
      "type": "operation",
      "input": {
        "target": "com.azure.gcpconnector#UpdateCloudFunctionRequest"
      },
      "output": {
        "target": "com.azure.gcpconnector#UpdateCloudFunctionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GcpConnector/cloudFunctions/{name}",
          "code": 200,
          "apiVersion": "2027-01-01"
        },
        "smithy.api#documentation": "Update a CloudFunction",
        "com.distilled.openapi#apiVersion": "2027-01-01"
      }
    },
    "com.azure.gcpconnector#UpdateCloudFunctionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.gcpconnector#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.gcpconnector#UpdateCloudFunctionResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.gcpconnector#FunctionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.gcpconnector#FunctionProperties": {
      "type": "structure",
      "members": {
        "gcpProperties": {
          "target": "com.azure.gcpconnector#GcpFunctionProperties",
          "traits": {
            "smithy.api#documentation": "GCP Properties"
          }
        },
        "publicCloudConnectorsResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public Cloud Connectors Resource ID"
          }
        },
        "gcpProjectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GCP Project Number"
          }
        },
        "gcpProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GCP Project Id"
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource name of the GCP resource"
          }
        },
        "publicCloudResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public Cloud Resource Name"
          }
        },
        "gcpSourceSchema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GCP Source Schema"
          }
        },
        "gcpRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GCP Region"
          }
        },
        "gcpTags": {
          "target": "com.azure.gcpconnector#FunctionPropertiesGcpTagsMap",
          "traits": {
            "smithy.api#documentation": "GCP Tags"
          }
        },
        "provisioningState": {
          "target": "com.azure.gcpconnector#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of FunctionProperties"
      }
    },
    "com.azure.gcpconnector#FunctionPropertiesGcpTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "GCP Tags"
      }
    },
    "com.azure.gcpconnector#GcpFunctionProperties": {
      "type": "structure",
      "members": {
        "buildConfig": {
          "target": "com.azure.gcpconnector#BuildConfig",
          "traits": {
            "smithy.api#documentation": "Describes the Build step of the function that builds a container from the given source."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The create timestamp of a Cloud Function. This is only applicable to 2nd Gen functions."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-provided description of a function."
          }
        },
        "environment": {
          "target": "com.azure.gcpconnector#Environment",
          "traits": {
            "smithy.api#documentation": "Describe whether the function is 1st Gen or 2nd Gen."
          }
        },
        "eventTrigger": {
          "target": "com.azure.gcpconnector#EventTrigger",
          "traits": {
            "smithy.api#documentation": "An Eventarc trigger managed by Google Cloud Functions that fires events in response to a condition in another service."
          }
        },
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of a KMS crypto key (managed by the user) used to encrypt/decrypt function resources. It must match the pattern `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`."
          }
        },
        "labels": {
          "target": "com.azure.gcpconnector#GcpFunctionPropertiesLabelsMap",
          "traits": {
            "smithy.api#documentation": "Labels associated with this Cloud Function."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-defined name of the function. Function names must be unique globally and match pattern `projects/*/locations/*/functions/*`"
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "serviceConfig": {
          "target": "com.azure.gcpconnector#ServiceConfig",
          "traits": {
            "smithy.api#documentation": "Describes the Service being deployed. Currently deploys services to Cloud Run (fully managed)."
          }
        },
        "state": {
          "target": "com.azure.gcpconnector#GcpFunctionState",
          "traits": {
            "smithy.api#documentation": "Output only. State of the function."
          }
        },
        "stateMessages": {
          "target": "com.azure.gcpconnector#GcpFunctionPropertiesStateMessagesList",
          "traits": {
            "smithy.api#documentation": "Output only. State Messages for this Cloud Function."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update timestamp of a Cloud Function."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The deployed url for the function."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a Cloud Function that contains user computation executed in response to an event. It encapsulates function and trigger configurations."
      }
    },
    "com.azure.gcpconnector#GcpFunctionPropertiesStateMessagesList": {
      "type": "list",
      "member": {
        "target": "com.azure.gcpconnector#GoogleCloudFunctionsV2StateMessage"
      },
      "traits": {
        "smithy.api#documentation": "Output only. State Messages for this Cloud Function."
      }
    },
    "com.azure.gcpconnector#GoogleCloudFunctionsV2StateMessage": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message."
          }
        },
        "severity": {
          "target": "com.azure.gcpconnector#StateMessageSeverity",
          "traits": {
            "smithy.api#documentation": "Severity of the state message."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "One-word CamelCase type of the state message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Informational messages about the state of the Cloud Function or Operation."
      }
    },
    "com.azure.gcpconnector#StateMessageSeverity": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GoogleCloudFunctionsV2StateMessage.severity values, as defined by the Google Cloud API."
      }
    },
    "com.azure.gcpconnector#GcpFunctionState": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "DETACHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETACHING"
          }
        },
        "DETACH_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETACH_FAILED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GcpFunctionProperties.state values, as defined by the Google Cloud API."
      }
    },
    "com.azure.gcpconnector#ServiceConfig": {
      "type": "structure",
      "members": {
        "allTrafficOnLatestRevision": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether 100% of traffic is routed to the latest revision. On CreateFunction and UpdateFunction, when set to true, the revision being deployed will serve 100% of traffic, ignoring any traffic split settings, if any. On GetFunction, true will be returned if the latest revision is serving 100% of traffic."
          }
        },
        "availableCpu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of CPUs used in a single container instance. Default value is calculated from available memory. Supports the same values as Cloud Run, see https://cloud.google.com/run/docs/reference/rest/v1/Container#resourcerequirements Example: \"1\" indicates 1 vCPU"
          }
        },
        "availableMemory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of memory available for a function. Defaults to 256M. Supported units are k, M, G, Mi, Gi. If no unit is supplied the value is interpreted as bytes. See https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go a full description."
          }
        },
        "environmentVariables": {
          "target": "com.azure.gcpconnector#ServiceConfigEnvironmentVariablesMap",
          "traits": {
            "smithy.api#documentation": "Environment variables that shall be available during function execution."
          }
        },
        "ingressSettings": {
          "target": "com.azure.gcpconnector#IngressSettings",
          "traits": {
            "smithy.api#documentation": "The ingress settings for the function, controlling what traffic can reach it."
          }
        },
        "maxInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The limit on the maximum number of function instances that may coexist at a given time. In some cases, such as rapid traffic surges, Cloud Functions may, for a short period of time, create more instances than the specified max instances limit. If your function cannot tolerate this temporary behavior, you may want to factor in a safety margin and set a lower max instances value than your function can tolerate. See the [Max Instances](https://cloud.google.com/functions/docs/max-instances) Guide for more details."
          }
        },
        "maxInstanceRequestConcurrency": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sets the maximum number of concurrent requests that each instance can receive. Defaults to 1."
          }
        },
        "minInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The limit on the minimum number of function instances that may coexist at a given time. Function instances are kept in idle state for a short period after they finished executing the request to reduce cold start time for subsequent requests. Setting a minimum instance count will ensure that the given number of instances are kept running in idle state always. This can help with cold start times when jump in incoming request count occurs after the idle instance would have been stopped in the default case."
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of service revision."
          }
        },
        "secretEnvironmentVariables": {
          "target": "com.azure.gcpconnector#ServiceConfigSecretEnvironmentVariablesList",
          "traits": {
            "smithy.api#documentation": "Secret environment variables configuration."
          }
        },
        "secretVolumes": {
          "target": "com.azure.gcpconnector#ServiceConfigSecretVolumesList",
          "traits": {
            "smithy.api#documentation": "Secret volumes configuration."
          }
        },
        "securityLevel": {
          "target": "com.azure.gcpconnector#SecurityLevel",
          "traits": {
            "smithy.api#documentation": "Security level configure whether the function only accepts https. This configuration is only applicable to 1st Gen functions with Http trigger. By default https is optional for 1st Gen functions; 2nd Gen functions are https ONLY."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the service associated with a Function. The format of this field is `projects/{project}/locations/{region}/services/{service}`"
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the service's service account. If empty, defaults to `{project_number}-compute@developer.gserviceaccount.com`."
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The function execution timeout. Execution is considered failed and can be terminated if the function is not completed at the end of the timeout period. Defaults to 60 seconds."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URI of the Service deployed."
          }
        },
        "vpcConnector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Serverless VPC Access connector that this cloud function can connect to. The format of this field is `projects/*/locations/*/connectors/*`."
          }
        },
        "vpcConnectorEgressSettings": {
          "target": "com.azure.gcpconnector#VpcConnectorEgressSettings",
          "traits": {
            "smithy.api#documentation": "The egress settings for the connector, controlling what traffic is diverted through it."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the Service being deployed. Currently Supported : Cloud Run (fully managed)."
      }
    },
    "com.azure.gcpconnector#VpcConnectorEgressSettings": {
      "type": "enum",
      "members": {
        "VPC_CONNECTOR_EGRESS_SETTINGS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_CONNECTOR_EGRESS_SETTINGS_UNSPECIFIED"
          }
        },
        "PRIVATE_RANGES_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_RANGES_ONLY"
          }
        },
        "ALL_TRAFFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_TRAFFIC"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ServiceConfig.vpcConnectorEgressSettings values, as defined by the Google Cloud API."
      }
    },
    "com.azure.gcpconnector#SecurityLevel": {
      "type": "enum",
      "members": {
        "SECURITY_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_LEVEL_UNSPECIFIED"
          }
        },
        "SECURE_ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_ALWAYS"
          }
        },
        "SECURE_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_OPTIONAL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ServiceConfig.securityLevel values, as defined by the Google Cloud API."
      }
    },
    "com.azure.gcpconnector#ServiceConfigSecretVolumesList": {
      "type": "list",
      "member": {
        "target": "com.azure.gcpconnector#SecretVolume"
      },
      "traits": {
        "smithy.api#documentation": "Secret volumes configuration."
      }
    },
    "com.azure.gcpconnector#SecretVolume": {
      "type": "structure",
      "members": {
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path within the container to mount the secret volume. For example, setting the mount_path as `/etc/secrets` would mount the secret value files under the `/etc/secrets` directory. This directory will also be completely shadowed and unavailable to mount any other secrets. Recommended mount path: /etc/secrets"
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project identifier (preferably project number but can also be the project ID) of the project that contains the secret. If not set, it is assumed that the secret is in the same project as the function."
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the secret in secret manager (not the full resource name).",
            "smithy.api#sensitive": {}
          }
        },
        "versions": {
          "target": "com.azure.gcpconnector#SecretVolumeVersionsList",
          "traits": {
            "smithy.api#documentation": "List of secret versions to mount for this secret. If empty, the `latest` version of the secret will be made available in a file named after the secret under the mount point."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a secret volume. It has the information necessary to fetch the secret value from secret manager and make it available as files mounted at the requested paths within the application container."
      }
    },
    "com.azure.gcpconnector#SecretVolumeVersionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.gcpconnector#SecretVersion"
      },
      "traits": {
        "smithy.api#documentation": "List of secret versions to mount for this secret. If empty, the `latest` version of the secret will be made available in a file named after the secret under the mount point."
      }
    },
    "com.azure.gcpconnector#SecretVersion": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path of the file under the mount path where the secret value for this version will be fetched and made available. For example, setting the mount_path as '/etc/secrets' and path as `secret_foo` would mount the secret value file at `/etc/secrets/secret_foo`."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the secret (version number or the string 'latest'). It is preferable to use `latest` version with secret volumes as secret value changes are reflected immediately."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a single version."
      }
    },
    "com.azure.gcpconnector#ServiceConfigSecretEnvironmentVariablesList": {
      "type": "list",
      "member": {
        "target": "com.azure.gcpconnector#SecretEnvVar"
      },
      "traits": {
        "smithy.api#documentation": "Secret environment variables configuration."
      }
    },
    "com.azure.gcpconnector#SecretEnvVar": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the environment variable."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project identifier (preferably project number but can also be the project ID) of the project that contains the secret. If not set, it is assumed that the secret is in the same project as the function."
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the secret in secret manager (not the full resource name).",
            "smithy.api#sensitive": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the secret (version number or the string 'latest'). It is recommended to use a numeric version for secret environment variables as any updates to the secret value is not reflected until new instances start."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a secret environment variable. It has the information necessary to fetch the secret value from secret manager and expose it as an environment variable."
      }
    },
    "com.azure.gcpconnector#IngressSettings": {
      "type": "enum",
      "members": {
        "INGRESS_SETTINGS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGRESS_SETTINGS_UNSPECIFIED"
          }
        },
        "ALLOW_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_ALL"
          }
        },
        "ALLOW_INTERNAL_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_INTERNAL_ONLY"
          }
        },
        "ALLOW_INTERNAL_AND_GCLB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_INTERNAL_AND_GCLB"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ServiceConfig.ingressSettings values, as defined by the Google Cloud API."
      }
    },
    "com.azure.gcpconnector#ServiceConfigEnvironmentVariablesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Environment variables that shall be available during function execution."
      }
    },
    "com.azure.gcpconnector#GcpFunctionPropertiesLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Labels associated with this Cloud Function."
      }
    },
    "com.azure.gcpconnector#EventTrigger": {
      "type": "structure",
      "members": {
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the channel associated with the trigger in `projects/{project}/locations/{location}/channels/{channel}` format. You must provide a channel to receive events from Eventarc SaaS partners."
          }
        },
        "eventFilters": {
          "target": "com.azure.gcpconnector#EventTriggerEventFiltersList",
          "traits": {
            "smithy.api#documentation": "Criteria used to filter events."
          }
        },
        "eventType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The type of event to observe. For example: `google.cloud.audit.log.v1.written` or `google.cloud.pubsub.topic.v1.messagePublished`."
          }
        },
        "pubsubTopic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of a Pub/Sub topic in the same project that will be used as the transport topic for the event delivery. Format: `projects/{project}/topics/{topic}`. This is only valid for events of type `google.cloud.pubsub.topic.v1.messagePublished`. The topic provided here will not be deleted at function deletion."
          }
        },
        "retryPolicy": {
          "target": "com.azure.gcpconnector#RetryPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. If unset, then defaults to ignoring failures (i.e. not retrying them)."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The hostname of the service that 1st Gen function should be observed. If no string is provided, the default service implementing the API will be used. For example, `storage.googleapis.com` is the default for all event types in the `google.storage` namespace. The field is only applicable to 1st Gen functions."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The email of the trigger's service account. The service account must have permission to invoke Cloud Run services, the permission is `run.routes.invoke`. If empty, defaults to the Compute Engine default service account: `{project_number}-compute@developer.gserviceaccount.com`."
          }
        },
        "trigger": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the Eventarc trigger. The format of this field is `projects/{project}/locations/{region}/triggers/{trigger}`."
          }
        },
        "triggerRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region that the trigger will be in. The trigger will only receive events originating in this region. It can be the same region as the function, a different region or multi-region, or the global region. If not provided, defaults to the same region as the function."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes EventTrigger, used to request events to be sent from another service."
      }
    },
    "com.azure.gcpconnector#RetryPolicy": {
      "type": "enum",
      "members": {
        "RETRY_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_POLICY_UNSPECIFIED"
          }
        },
        "RETRY_POLICY_DO_NOT_RETRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_POLICY_DO_NOT_RETRY"
          }
        },
        "RETRY_POLICY_RETRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_POLICY_RETRY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EventTrigger.retryPolicy values, as defined by the Google Cloud API."
      }
    },
    "com.azure.gcpconnector#EventTriggerEventFiltersList": {
      "type": "list",
      "member": {
        "target": "com.azure.gcpconnector#EventFilter"
      },
      "traits": {
        "smithy.api#documentation": "Criteria used to filter events."
      }
    },
    "com.azure.gcpconnector#EventFilter": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of a CloudEvents attribute."
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The operator used for matching the events with the value of the filter. If not specified, only events that have an exact key-value pair specified in the filter are matched. The only allowed value is `match-path-pattern`."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The value for the attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filters events based on exact matches on the CloudEvents attributes."
      }
    },
    "com.azure.gcpconnector#Environment": {
      "type": "enum",
      "members": {
        "ENVIRONMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_UNSPECIFIED"
          }
        },
        "GEN_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEN_1"
          }
        },
        "GEN_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEN_2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GcpFunctionProperties.environment values, as defined by the Google Cloud API."
      }
    },
    "com.azure.gcpconnector#BuildConfig": {
      "type": "structure",
      "members": {
        "automaticUpdatePolicy": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "AutomaticUpdatePolicy of BuildConfig."
          }
        },
        "build": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Cloud Build name of the latest successful deployment of the function."
          }
        },
        "dockerRegistry": {
          "target": "com.azure.gcpconnector#DockerRegistry",
          "traits": {
            "smithy.api#documentation": "Docker Registry to use for this deployment. This configuration is only applicable to 1st Gen functions, 2nd Gen functions can only use Artifact Registry. If `docker_repository` field is specified, this field will be automatically set as `ARTIFACT_REGISTRY`. If unspecified, it currently defaults to `CONTAINER_REGISTRY`. This field may be overridden by the backend for eligible deployments."
          }
        },
        "dockerRepository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository in Artifact Registry to which the function docker image will be pushed after it is built by Cloud Build. If specified by user, it is created and managed by user with a customer managed encryption key. Otherwise, GCF will create and use a repository named 'gcf-artifacts' for every deployed region. It must match the pattern `projects/{project}/locations/{location}/repositories/{repository}`. Cross-project repositories are not supported. Cross-location repositories are not supported. Repository format must be 'DOCKER'."
          }
        },
        "entryPoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function (as defined in source code) that will be executed. Defaults to the resource name suffix, if not specified. For backward compatibility, if function with given name is not found, then the system will try to use function named \"function\". For Node.js this is name of a function exported by the module specified in `source_location`."
          }
        },
        "environmentVariables": {
          "target": "com.azure.gcpconnector#BuildConfigEnvironmentVariablesMap",
          "traits": {
            "smithy.api#documentation": "User-provided build-time environment variables for the function"
          }
        },
        "onDeployUpdatePolicy": {
          "target": "com.azure.gcpconnector#OnDeployUpdatePolicy",
          "traits": {
            "smithy.api#documentation": "OnDeployUpdatePolicy of BuildConfig."
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The runtime in which to run the function. Required when deploying a new function, optional when updating an existing function. For a complete list of possible choices, see the [`gcloud` command reference](https://cloud.google.com/sdk/gcloud/reference/functions/deploy#--runtime)."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service account to be used for building the container. The format of this field is `projects/{projectId}/serviceAccounts/{serviceAccountEmail}`."
          }
        },
        "source": {
          "target": "com.azure.gcpconnector#Source",
          "traits": {
            "smithy.api#documentation": "The location of the function source code."
          }
        },
        "sourceProvenance": {
          "target": "com.azure.gcpconnector#SourceProvenance",
          "traits": {
            "smithy.api#documentation": "Output only. A permanent fixed identifier for source."
          }
        },
        "sourceToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for Firebase function sources. Disclaimer: This field is only supported for Firebase function deployments."
          }
        },
        "workerPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Cloud Build Custom Worker Pool that should be used to build the function. The format of this field is `projects/{project}/locations/{region}/workerPools/{workerPool}` where {project} and {region} are the project id and region respectively where the worker pool is defined and {workerPool} is the short name of the worker pool. If the project id is not the same as the function, then the Cloud Functions Service Agent (service-@gcf-admin-robot.iam.gserviceaccount.com) must be granted the role Cloud Build Custom Workers Builder (roles/cloudbuild.customworkers.builder) in the project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the Build step of the function that builds a container from the given source."
      }
    },
    "com.azure.gcpconnector#SourceProvenance": {
      "type": "structure",
      "members": {
        "gitUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A copy of the build's `source.git_uri`, if exists, with any commits resolved."
          }
        },
        "resolvedRepoSource": {
          "target": "com.azure.gcpconnector#RepoSource",
          "traits": {
            "smithy.api#documentation": "A copy of the build's `source.repo_source`, if exists, with any revisions resolved."
          }
        },
        "resolvedStorageSource": {
          "target": "com.azure.gcpconnector#StorageSource",
          "traits": {
            "smithy.api#documentation": "A copy of the build's `source.storage_source`, if exists, with any generations resolved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provenance of the source. Ways to find the original source, or verify that some source was used for this build."
      }
    },
    "com.azure.gcpconnector#StorageSource": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements))."
          }
        },
        "generation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used."
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage object containing the source. This object must be a gzipped archive file (`.tar.gz`) containing source to build."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location of the source in an archive file in Google Cloud Storage."
      }
    },
    "com.azure.gcpconnector#RepoSource": {
      "type": "structure",
      "members": {
        "branchName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Regex matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
          }
        },
        "commitSha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explicit commit SHA to build."
          }
        },
        "dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution. eg. helloworld (no leading slash allowed)"
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the project that owns the Cloud Source Repository. If omitted, the project ID requesting the build is assumed."
          }
        },
        "repoName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Cloud Source Repository."
          }
        },
        "tagName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Regex matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location of the source in a Google Cloud Source Repository."
      }
    },
    "com.azure.gcpconnector#Source": {
      "type": "structure",
      "members": {
        "gitUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If provided, get the source from GitHub repository. This option is valid only for GCF 1st Gen function. Example: https://github.com///blob//"
          }
        },
        "repoSource": {
          "target": "com.azure.gcpconnector#RepoSource",
          "traits": {
            "smithy.api#documentation": "If provided, get the source from this location in a Cloud Source Repository."
          }
        },
        "storageSource": {
          "target": "com.azure.gcpconnector#StorageSource",
          "traits": {
            "smithy.api#documentation": "If provided, get the source from this location in Google Cloud Storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The location of the function source code."
      }
    },
    "com.azure.gcpconnector#OnDeployUpdatePolicy": {
      "type": "structure",
      "members": {
        "runtimeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. contains the runtime version which was used during latest function deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Security patches are only applied when a function is redeployed."
      }
    },
    "com.azure.gcpconnector#BuildConfigEnvironmentVariablesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-provided build-time environment variables for the function"
      }
    },
    "com.azure.gcpconnector#DockerRegistry": {
      "type": "enum",
      "members": {
        "DOCKER_REGISTRY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCKER_REGISTRY_UNSPECIFIED"
          }
        },
        "CONTAINER_REGISTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINER_REGISTRY"
          }
        },
        "ARTIFACT_REGISTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARTIFACT_REGISTRY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BuildConfig.dockerRegistry values, as defined by the Google Cloud API."
      }
    },
    "com.azure.gcpconnector#UpdateCloudFunctionResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.gcpconnector#UpdateCloudFunctionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of CloudFunction"
          }
        },
        "tags": {
          "target": "com.azure.gcpconnector#UpdateCloudFunctionRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.gcpconnector#UpdateCloudFunctionRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.gcpconnector#CloudFunctionsCreateOrReplace": {
      "type": "operation",
      "input": {
        "target": "com.azure.gcpconnector#CloudFunctionsCreateOrReplaceRequest"
      },
      "output": {
        "target": "com.azure.gcpconnector#CloudFunctionsCreateOrReplaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GcpConnector/cloudFunctions/{name}",
          "code": 200,
          "apiVersion": "2027-01-01"
        },
        "smithy.api#documentation": "Create a CloudFunction. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "com.distilled.openapi#apiVersion": "2027-01-01"
      }
    },
    "com.azure.gcpconnector#CloudFunctionsCreateOrReplaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.gcpconnector#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.gcpconnector#CloudFunctionsCreateOrReplaceResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.gcpconnector#FunctionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.gcpconnector#CloudFunctionsCreateOrReplaceResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
[...]
