{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.azure.planetarycomputer#DeleteGeoCatalog": {
      "type": "operation",
      "input": {
        "target": "com.azure.planetarycomputer#DeleteGeoCatalogRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/geoCatalogs/{catalogName}",
          "code": 200,
          "apiVersion": "2026-04-15"
        },
        "smithy.api#documentation": "Delete a GeoCatalog",
        "com.distilled.openapi#apiVersion": "2026-04-15"
      }
    },
    "com.azure.planetarycomputer#DeleteGeoCatalogRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the catalog"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.planetarycomputer#UpdateGeoCatalog": {
      "type": "operation",
      "input": {
        "target": "com.azure.planetarycomputer#UpdateGeoCatalogRequest"
      },
      "output": {
        "target": "com.azure.planetarycomputer#UpdateGeoCatalogResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/geoCatalogs/{catalogName}",
          "code": 200,
          "apiVersion": "2026-04-15"
        },
        "smithy.api#documentation": "Update a GeoCatalog",
        "com.distilled.openapi#apiVersion": "2026-04-15"
      }
    },
    "com.azure.planetarycomputer#UpdateGeoCatalogResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.planetarycomputer#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.planetarycomputer#UpdateGeoCatalogResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.planetarycomputer#GeoCatalogProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.planetarycomputer#UpdateGeoCatalogResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.planetarycomputer#UpdateGeoCatalogResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.planetarycomputer#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.planetarycomputer#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.planetarycomputer#UserAssignedIdentities": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.planetarycomputer#UserAssignedIdentity",
        "traits": {
          "com.distilled.openapi#nullable": {}
        }
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.planetarycomputer#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.planetarycomputer#ManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.planetarycomputer#GeoCatalogProperties": {
      "type": "structure",
      "members": {
        "tier": {
          "target": "com.azure.planetarycomputer#GeoCatalogPropertiesTier",
          "traits": {
            "smithy.api#documentation": "Tier of the catalog. This cannot be changed after the catalog is created. If not provided, defaults to Basic."
          }
        },
        "catalogUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the catalog management UI."
          }
        },
        "provisioningState": {
          "target": "com.azure.planetarycomputer#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        },
        "autoGeneratedDomainNameLabelScope": {
          "target": "com.azure.planetarycomputer#GeoCatalogPropertiesAutoGeneratedDomainNameLabelScope",
          "traits": {
            "smithy.api#documentation": "The scope of the auto-generated domain name label. If not provided, defaults to TenantReuse."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of the Microsoft Planetary Computer Pro GeoCatalog."
      }
    },
    "com.azure.planetarycomputer#GeoCatalogPropertiesAutoGeneratedDomainNameLabelScope": {
      "type": "enum",
      "members": {
        "NOREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NoReuse"
          }
        },
        "TENANTREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TenantReuse"
          }
        },
        "SUBSCRIPTIONREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SubscriptionReuse"
          }
        },
        "RESOURCEGROUPREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResourceGroupReuse"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The scope of the auto-generated domain name label. If not provided, defaults to TenantReuse."
      }
    },
    "com.azure.planetarycomputer#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the current operation."
      }
    },
    "com.azure.planetarycomputer#GeoCatalogPropertiesTier": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tier of the catalog. This cannot be changed after the catalog is created. If not provided, defaults to Basic."
      }
    },
    "com.azure.planetarycomputer#UpdateGeoCatalogResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.planetarycomputer#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.planetarycomputer#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.planetarycomputer#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.planetarycomputer#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.planetarycomputer#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.planetarycomputer#UpdateGeoCatalogRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the catalog"
          }
        },
        "tags": {
          "target": "com.azure.planetarycomputer#UpdateGeoCatalogRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "identity": {
          "target": "com.azure.planetarycomputer#ManagedServiceIdentityUpdateInput",
          "traits": {
            "smithy.api#documentation": "The managed service identity properties to update."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.planetarycomputer#ManagedServiceIdentityUpdateInput": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.planetarycomputer#ManagedServiceIdentityUpdateInputType",
          "traits": {
            "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.planetarycomputer#ManagedServiceIdentityUpdateInputUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The identities assigned to this resource by the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The template for adding optional properties."
      }
    },
    "com.azure.planetarycomputer#ManagedServiceIdentityUpdateInputUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.planetarycomputer#ManagedServiceIdentityUpdateInputUserAssignedIdentitiesValue"
      },
      "traits": {
        "smithy.api#documentation": "The identities assigned to this resource by the user."
      }
    },
    "com.azure.planetarycomputer#ManagedServiceIdentityUpdateInputUserAssignedIdentitiesValue": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.planetarycomputer#ManagedServiceIdentityUpdateInputType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.planetarycomputer#UpdateGeoCatalogRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.planetarycomputer#CreateGeoCatalog": {
      "type": "operation",
      "input": {
        "target": "com.azure.planetarycomputer#CreateGeoCatalogRequest"
      },
      "output": {
        "target": "com.azure.planetarycomputer#CreateGeoCatalogResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/geoCatalogs/{catalogName}",
          "code": 200,
          "apiVersion": "2026-04-15"
        },
        "smithy.api#documentation": "Create a GeoCatalog",
        "com.distilled.openapi#apiVersion": "2026-04-15"
      }
    },
    "com.azure.planetarycomputer#CreateGeoCatalogResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.planetarycomputer#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.planetarycomputer#CreateGeoCatalogResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.planetarycomputer#GeoCatalogProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.planetarycomputer#CreateGeoCatalogResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.planetarycomputer#CreateGeoCatalogResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.planetarycomputer#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.planetarycomputer#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.planetarycomputer#CreateGeoCatalogResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.planetarycomputer#CreateGeoCatalogRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the catalog"
          }
        },
        "tags": {
          "target": "com.azure.planetarycomputer#CreateGeoCatalogRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.planetarycomputer#GeoCatalogPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.planetarycomputer#CreateGeoCatalogRequestIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.planetarycomputer#CreateGeoCatalogRequestIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.planetarycomputer#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.planetarycomputer#UserAssignedIdentitiesInput"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.planetarycomputer#UserAssignedIdentitiesInput": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.planetarycomputer#UserAssignedIdentityInput",
        "traits": {
          "com.distilled.openapi#nullable": {}
        }
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.planetarycomputer#UserAssignedIdentityInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.planetarycomputer#GeoCatalogPropertiesInput": {
      "type": "structure",
      "members": {
        "tier": {
          "target": "com.azure.planetarycomputer#GeoCatalogPropertiesInputTier",
          "traits": {
            "smithy.api#documentation": "Tier of the catalog. This cannot be changed after the catalog is created. If not provided, defaults to Basic."
          }
        },
        "autoGeneratedDomainNameLabelScope": {
          "target": "com.azure.planetarycomputer#GeoCatalogPropertiesInputAutoGeneratedDomainNameLabelScope",
          "traits": {
            "smithy.api#documentation": "The scope of the auto-generated domain name label. If not provided, defaults to TenantReuse."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of the Microsoft Planetary Computer Pro GeoCatalog."
      }
    },
    "com.azure.planetarycomputer#GeoCatalogPropertiesInputAutoGeneratedDomainNameLabelScope": {
      "type": "enum",
      "members": {
        "NOREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NoReuse"
          }
        },
        "TENANTREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TenantReuse"
          }
        },
        "SUBSCRIPTIONREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SubscriptionReuse"
          }
        },
        "RESOURCEGROUPREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResourceGroupReuse"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The scope of the auto-generated domain name label. If not provided, defaults to TenantReuse."
      }
    },
    "com.azure.planetarycomputer#GeoCatalogPropertiesInputTier": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tier of the catalog. This cannot be changed after the catalog is created. If not provided, defaults to Basic."
      }
    },
    "com.azure.planetarycomputer#CreateGeoCatalogRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.planetarycomputer#GetGeoCatalog": {
      "type": "operation",
      "input": {
        "target": "com.azure.planetarycomputer#GetGeoCatalogRequest"
      },
      "output": {
        "target": "com.azure.planetarycomputer#GetGeoCatalogResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/geoCatalogs/{catalogName}",
          "code": 200,
          "apiVersion": "2026-04-15"
        },
        "smithy.api#documentation": "Get a GeoCatalog",
        "com.distilled.openapi#apiVersion": "2026-04-15"
      }
    },
    "com.azure.planetarycomputer#GetGeoCatalogResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.planetarycomputer#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.planetarycomputer#GetGeoCatalogResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.planetarycomputer#GeoCatalogProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.planetarycomputer#GetGeoCatalogResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.planetarycomputer#GetGeoCatalogResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.planetarycomputer#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.planetarycomputer#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.planetarycomputer#GetGeoCatalogResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.planetarycomputer#GetGeoCatalogRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the catalog"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.planetarycomputer#ListGeoCatalogByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.planetarycomputer#ListGeoCatalogByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.planetarycomputer#GeoCatalogListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/geoCatalogs",
          "code": 200,
          "apiVersion": "2026-04-15"
        },
        "smithy.api#documentation": "List GeoCatalog resources by resource group",
        "com.distilled.openapi#apiVersion": "2026-04-15"
      }
    },
    "com.azure.planetarycomputer#GeoCatalogListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.planetarycomputer#GeoCatalogListResultValueList",
          "traits": {
            "smithy.api#documentation": "The GeoCatalog items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a GeoCatalog list operation."
      }
    },
    "com.azure.planetarycomputer#GeoCatalogListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.planetarycomputer#GeoCatalog"
      },
      "traits": {
        "smithy.api#documentation": "The GeoCatalog items on this page"
      }
    },
    "com.azure.planetarycomputer#GeoCatalog": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.planetarycomputer#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.planetarycomputer#GeoCatalogTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.planetarycomputer#GeoCatalogProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.planetarycomputer#GeoCatalogIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Microsoft Planetary Computer Pro GeoCatalog resource"
      }
    },
    "com.azure.planetarycomputer#GeoCatalogIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.planetarycomputer#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.planetarycomputer#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.planetarycomputer#GeoCatalogTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.planetarycomputer#ListGeoCatalogByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.planetarycomputer#ListGeoCatalogBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.planetarycomputer#ListGeoCatalogBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.planetarycomputer#GeoCatalogListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Orbital/geoCatalogs",
          "code": 200,
          "apiVersion": "2026-04-15"
        },
        "smithy.api#documentation": "List GeoCatalog resources by subscription ID",
        "com.distilled.openapi#apiVersion": "2026-04-15"
      }
    },
    "com.azure.planetarycomputer#ListGeoCatalogBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.planetarycomputer#Planetarycomputer": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.azure.planetarycomputer#DeleteGeoCatalog"
        },
        {
          "target": "com.azure.planetarycomputer#UpdateGeoCatalog"
        },
        {
          "target": "com.azure.planetarycomputer#CreateGeoCatalog"
        },
        {
          "target": "com.azure.planetarycomputer#GetGeoCatalog"
        },
        {
          "target": "com.azure.planetarycomputer#ListGeoCatalogByResourceGroup"
        },
        {
          "target": "com.azure.planetarycomputer#ListGeoCatalogBySubscription"
        }
      ],
      "traits": {
        "smithy.api#title": "Azure Planetarycomputer",
        "smithy.api#documentation": "Azure Planetarycomputer API — merged from the planetarycomputer resource-manager specs (latest stable api-version per resource provider)."
      }
    }
  }
}
