{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.clerk.platform#ListApplicationsRequest": {
      "type": "structure",
      "members": {
        "include_secret_keys": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_secret_keys",
            "smithy.api#documentation": "Whether to include secret keys in the response."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#PlatformListApplicationsResponse": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#PlatformApplicationResponse"
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformApplicationResponse": {
      "type": "structure",
      "members": {
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the application.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the application.",
            "smithy.api#required": {}
          }
        },
        "instances": {
          "target": "com.clerk.platform#PlatformApplicationResponseInstancesList",
          "traits": {
            "smithy.api#documentation": "List of instances associated with this application.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformApplicationInstance": {
      "type": "structure",
      "members": {
        "instance_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for this instance. Use this ID when making API calls that target a specific instance.",
            "smithy.api#required": {}
          }
        },
        "environment_type": {
          "target": "com.clerk.platform#PlatformApplicationInstanceEnvironmentType",
          "traits": {
            "smithy.api#documentation": "The environment type of the instance. Determines whether this instance is used for development/testing or production workloads.",
            "smithy.api#required": {}
          }
        },
        "secret_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret key for authenticating server-side API requests to this instance. Keep this value secure and never expose it in client-side code.",
            "smithy.api#sensitive": {}
          }
        },
        "publishable_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publishable key for this instance. Safe to include in client-side code and used to initialize Clerk SDKs in the browser."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an instance (environment) within a Clerk application. Each application can have multiple instances, typically one for development and one for production."
      }
    },
    "com.clerk.platform#PlatformApplicationInstanceEnvironmentType": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The environment type of the instance. Determines whether this instance is used for development/testing or production workloads."
      }
    },
    "com.clerk.platform#PlatformApplicationResponseInstancesList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#PlatformApplicationInstance"
      },
      "traits": {
        "smithy.api#documentation": "List of instances associated with this application."
      }
    },
    "com.clerk.platform#ListApplicationsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.clerk.platform#PlatformListApplicationsResponse",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.clerk.platform#ListApplications": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#ListApplicationsRequest"
      },
      "output": {
        "target": "com.clerk.platform#ListApplicationsResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#BadRequest"
        },
        {
          "target": "com.clerk.platform#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/platform/applications",
          "code": 200
        },
        "smithy.api#documentation": "List applications\n\nList applications."
      }
    },
    "com.clerk.platform#CreateApplicationRequestEnvironmentTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of environment types to create instances for. Accepted values are \"development\" and \"production\". Defaults to \"development\" if not provided."
      }
    },
    "com.clerk.platform#CreateApplicationRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the application.",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain for the application (optional)."
          }
        },
        "proxy_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom proxy path for provider domains (e.g., \"/__clerk\"). Must start with a leading slash and be a single path segment. Defaults to \"/__clerk\" if not provided."
          }
        },
        "environment_types": {
          "target": "com.clerk.platform#CreateApplicationRequestEnvironmentTypesList",
          "traits": {
            "smithy.api#documentation": "List of environment types to create instances for. Accepted values are \"development\" and \"production\". Defaults to \"development\" if not provided."
          }
        },
        "template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Application template to use for configuring the application (e.g., \"b2b-saas\", \"b2c-saas\", \"waitlist\")."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#CreateApplication": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#CreateApplicationRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformApplicationResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#BadRequest"
        },
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/platform/applications",
          "code": 200
        },
        "smithy.api#documentation": "Create an application\n\nCreate a new application."
      }
    },
    "com.clerk.platform#GetApplicationRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        },
        "include_secret_keys": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_secret_keys",
            "smithy.api#documentation": "Whether to include secret keys in the response. If 'true', the response will include the secret keys for each instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#GetApplication": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#GetApplicationRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformApplicationResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#BadRequest"
        },
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/platform/applications/{applicationID}",
          "code": 200
        },
        "smithy.api#documentation": "Get an application\n\nGet application details."
      }
    },
    "com.clerk.platform#UpdateApplicationRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the application."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#UpdateApplication": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#UpdateApplicationRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformApplicationResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#BadRequest"
        },
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        },
        {
          "target": "com.clerk.platform#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/platform/applications/{applicationID}",
          "code": 200
        },
        "smithy.api#documentation": "Update an application\n\nUpdate an application."
      }
    },
    "com.clerk.platform#DeleteApplicationRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#PlatformDeletedObjectResponse": {
      "type": "structure",
      "members": {
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the object was deleted.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the deleted resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#DeleteApplication": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#DeleteApplicationRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformDeletedObjectResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#BadRequest"
        },
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/platform/applications/{applicationID}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an application\n\nDelete an application."
      }
    },
    "com.clerk.platform#UploadApplicationLogoRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        },
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#UploadApplicationLogo": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#UploadApplicationLogoRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformApplicationResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#BadRequest"
        },
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        },
        {
          "target": "com.clerk.platform#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/platform/applications/{applicationID}/logo",
          "code": 200,
          "contentType": "multipart"
        },
        "smithy.api#documentation": "Upload application logo\n\nSet or replace an application's logo by uploading an image file.",
        "com.distilled.openapi#contentType": "multipart"
      }
    },
    "com.clerk.platform#DeleteApplicationLogoRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#DeleteApplicationLogo": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#DeleteApplicationLogoRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformApplicationResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#BadRequest"
        },
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/platform/applications/{applicationID}/logo",
          "code": 200
        },
        "smithy.api#documentation": "Delete application logo\n\nDelete an application's logo."
      }
    },
    "com.clerk.platform#UploadApplicationFaviconRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        },
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#UploadApplicationFavicon": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#UploadApplicationFaviconRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformApplicationResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#BadRequest"
        },
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        },
        {
          "target": "com.clerk.platform#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/platform/applications/{applicationID}/favicon",
          "code": 200,
          "contentType": "multipart"
        },
        "smithy.api#documentation": "Upload application favicon\n\nSet or replace an application's favicon by uploading an image file.",
        "com.distilled.openapi#contentType": "multipart"
      }
    },
    "com.clerk.platform#DeleteApplicationFaviconRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#DeleteApplicationFavicon": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#DeleteApplicationFaviconRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformApplicationResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#BadRequest"
        },
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/platform/applications/{applicationID}/favicon",
          "code": 200
        },
        "smithy.api#documentation": "Delete application favicon\n\nDelete an application's favicon."
      }
    },
    "com.clerk.platform#UpdateApplicationDomainRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name.",
            "smithy.api#required": {}
          }
        },
        "proxy_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional proxy path for provider domains."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#PlatformDomainResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.clerk.platform#PlatformDomainResponseObject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the domain.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name.",
            "smithy.api#required": {}
          }
        },
        "is_satellite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this is a satellite domain."
          }
        },
        "is_provider_domain": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this is a provider domain."
          }
        },
        "frontend_api_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The frontend API URL.",
            "smithy.api#required": {}
          }
        },
        "development_origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The development origin.",
            "smithy.api#required": {}
          }
        },
        "accounts_portal_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The accounts portal URL."
          }
        },
        "proxy_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The proxy URL."
          }
        },
        "cname_targets": {
          "target": "com.clerk.platform#PlatformDomainResponseCnameTargetsList",
          "traits": {
            "smithy.api#documentation": "Legacy CNAME-only targets for the domain. New consumers should prefer `dns_targets` when present.\nOmitted for development domains, which do not use custom-domain DNS setup.\n"
          }
        },
        "dns_targets": {
          "target": "com.clerk.platform#PlatformDomainResponseDnsTargetsList",
          "traits": {
            "smithy.api#documentation": "The complete typed DNS contract for the domain. Consumers should use this field instead of merging it\nwith `cname_targets`. Omitted for development domains, which do not use custom-domain DNS setup.\n"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the domain was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the domain was last updated.",
            "smithy.api#required": {}
          }
        },
        "application": {
          "target": "com.clerk.platform#PlatformDomainApplicationSummary",
          "traits": {
            "smithy.api#documentation": "Included on workspace-wide domain endpoints (`GET /platform/domains`, `GET /platform/domains/{domainIDOrName}`)."
          }
        },
        "instance": {
          "target": "com.clerk.platform#PlatformDomainInstanceSummary",
          "traits": {
            "smithy.api#documentation": "Included on workspace-wide domain endpoints (`GET /platform/domains`, `GET /platform/domains/{domainIDOrName}`)."
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformDomainResponseObject": {
      "type": "enum",
      "members": {
        "DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformCNameTarget": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformDomainResponseCnameTargetsList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#PlatformCNameTarget"
      },
      "traits": {
        "smithy.api#documentation": "Legacy CNAME-only targets for the domain. New consumers should prefer `dns_targets` when present.\nOmitted for development domains, which do not use custom-domain DNS setup.\n"
      }
    },
    "com.clerk.platform#PlatformDNSTarget": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "record_type": {
          "target": "com.clerk.platform#PlatformDNSTargetRecordType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "automation_disposition": {
          "target": "com.clerk.platform#PlatformDNSTargetAutomationDisposition",
          "traits": {
            "smithy.api#documentation": "Provider-independent safety decision for automating this DNS record when available."
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformDNSTargetRecordType": {
      "type": "enum",
      "members": {
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformDNSTargetAutomationDisposition": {
      "type": "enum",
      "members": {
        "ALREADY_SATISFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "already_satisfied"
          }
        },
        "SAFE_TO_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe_to_create"
          }
        },
        "MANUAL_RESOLUTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual_resolution_required"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provider-independent safety decision for automating this DNS record when available."
      }
    },
    "com.clerk.platform#PlatformDomainResponseDnsTargetsList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#PlatformDNSTarget"
      },
      "traits": {
        "smithy.api#documentation": "The complete typed DNS contract for the domain. Consumers should use this field instead of merging it\nwith `cname_targets`. Omitted for development domains, which do not use custom-domain DNS setup.\n"
      }
    },
    "com.clerk.platform#PlatformDomainApplicationSummary": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.clerk.platform#PlatformDomainApplicationSummaryObject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformDomainApplicationSummaryObject": {
      "type": "enum",
      "members": {
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformDomainInstanceSummary": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.clerk.platform#PlatformDomainInstanceSummaryObject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment_type": {
          "target": "com.clerk.platform#PlatformDomainInstanceSummaryEnvironmentType",
          "traits": {
            "smithy.api#documentation": "Instance environment type.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformDomainInstanceSummaryObject": {
      "type": "enum",
      "members": {
        "INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "instance"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformDomainInstanceSummaryEnvironmentType": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance environment type."
      }
    },
    "com.clerk.platform#UpdateApplicationDomain": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#UpdateApplicationDomainRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformDomainResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#BadRequest"
        },
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        },
        {
          "target": "com.clerk.platform#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/platform/applications/{applicationID}/domain",
          "code": 200
        },
        "smithy.api#documentation": "Update application domain\n\nUpdate the production domain for an application."
      }
    },
    "com.clerk.platform#ListApplicationDomainsRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#PlatformListApplicationDomainsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.clerk.platform#PlatformListApplicationDomainsResponseDataList",
          "traits": {
            "smithy.api#documentation": "The list of application domains.",
            "smithy.api#required": {}
          }
        },
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of application domains for the application.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A paginated list of application domains."
      }
    },
    "com.clerk.platform#PlatformListApplicationDomainsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#PlatformDomainResponse"
      },
      "traits": {
        "smithy.api#documentation": "The list of application domains."
      }
    },
    "com.clerk.platform#ListApplicationDomains": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#ListApplicationDomainsRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformListApplicationDomainsResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/platform/applications/{applicationID}/domains",
          "code": 200
        },
        "smithy.api#documentation": "List application domains\n\nList all domains for an application's production instance."
      }
    },
    "com.clerk.platform#CreateApplicationDomainRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name.",
            "smithy.api#required": {}
          }
        },
        "proxy_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional proxy path for provider domains."
          }
        },
        "domain_intent_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional domain intent ID to complete into this domain."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#CreateApplicationDomain": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#CreateApplicationDomainRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformDomainResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#BadRequest"
        },
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        },
        {
          "target": "com.clerk.platform#Conflict"
        },
        {
          "target": "com.clerk.platform#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/platform/applications/{applicationID}/domains",
          "code": 200
        },
        "smithy.api#documentation": "Create application domain\n\nCreate a provider domain for an application's production instance."
      }
    },
    "com.clerk.platform#GetApplicationDomainRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        },
        "domainIDOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain ID or domain name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#GetApplicationDomain": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#GetApplicationDomainRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformDomainResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#BadRequest"
        },
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/platform/applications/{applicationID}/domains/{domainIDOrName}",
          "code": 200
        },
        "smithy.api#documentation": "Get application domain\n\nGet domain information for an application."
      }
    },
    "com.clerk.platform#DeleteApplicationDomainRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        },
        "domainIDOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain ID or domain name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#DeleteApplicationDomain": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#DeleteApplicationDomainRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformDeletedObjectResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#BadRequest"
        },
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        },
        {
          "target": "com.clerk.platform#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/platform/applications/{applicationID}/domains/{domainIDOrName}",
          "code": 200
        },
        "smithy.api#documentation": "Delete application domain\n\nDelete a provider domain from an application's production instance.\n\nOnly provider domains can be deleted. The primary domain cannot be deleted."
      }
    },
    "com.clerk.platform#GetApplicationDomainStatusRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        },
        "domainIDOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain ID or domain name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#PlatformDomainStatusResponse": {
      "type": "structure",
      "members": {
        "dns": {
          "target": "com.clerk.platform#DNSStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ssl": {
          "target": "com.clerk.platform#PlatformDomainStatusResponseSsl",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ssl_hosts": {
          "target": "com.clerk.platform#PlatformDomainStatusResponseSslHostsMap"
        },
        "mail": {
          "target": "com.clerk.platform#PlatformDomainStatusResponseMail"
        },
        "proxy": {
          "target": "com.clerk.platform#PlatformDomainStatusResponseProxy"
        },
        "status": {
          "target": "com.clerk.platform#PlatformDomainStatusResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#DNSStatus": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.clerk.platform#DNSStatusStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cnames": {
          "target": "com.clerk.platform#DNSStatusCnames",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#DNSStatusStatus": {
      "type": "enum",
      "members": {
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_started"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "complete"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#CNAMEStatus": {
      "type": "structure",
      "members": {
        "actual": {
          "target": "com.clerk.platform#CNAMEStatusActualList"
        },
        "clerk_subdomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "record_type": {
          "target": "com.clerk.platform#CNAMEStatusRecordType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "failure_hints": {
          "target": "com.clerk.platform#CNAMEStatusFailureHintsList",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#CNAMEStatusActualList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.clerk.platform#CNAMEStatusRecordType": {
      "type": "enum",
      "members": {
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#FailureHint": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#CNAMEStatusFailureHintsList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#FailureHint"
      },
      "traits": {}
    },
    "com.clerk.platform#DNSStatusCnames": {
      "type": "structure",
      "members": {
        "accounts": {
          "target": "com.clerk.platform#CNAMEStatus"
        },
        "clerk": {
          "target": "com.clerk.platform#CNAMEStatus"
        },
        "clk__domainkey": {
          "target": "com.clerk.platform#CNAMEStatus",
          "traits": {
            "smithy.api#jsonName": "clk._domainkey"
          }
        },
        "clk2__domainkey": {
          "target": "com.clerk.platform#CNAMEStatus",
          "traits": {
            "smithy.api#jsonName": "clk2._domainkey"
          }
        },
        "clkmail": {
          "target": "com.clerk.platform#CNAMEStatus"
        },
        "_dmarc": {
          "target": "com.clerk.platform#CNAMEStatus"
        }
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformDomainStatusResponseSslStatus": {
      "type": "enum",
      "members": {
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "complete"
          }
        },
        "IN_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_process"
          }
        },
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_started"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformDomainStatusResponseSslFailureHintsList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#FailureHint"
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformDomainStatusResponseSsl": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.clerk.platform#PlatformDomainStatusResponseSslStatus"
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "failure_hints": {
          "target": "com.clerk.platform#PlatformDomainStatusResponseSslFailureHintsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#SSLStatus": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "failure_hints": {
          "target": "com.clerk.platform#SSLStatusFailureHintsList",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#SSLStatusFailureHintsList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#FailureHint"
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformDomainStatusResponseSslHostsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.clerk.platform#SSLStatus"
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformDomainStatusResponseMail": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformDomainStatusResponseProxy": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformDomainStatusResponseStatus": {
      "type": "enum",
      "members": {
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "complete"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#GetApplicationDomainStatus": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#GetApplicationDomainStatusRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformDomainStatusResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#BadRequest"
        },
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/platform/applications/{applicationID}/domains/{domainIDOrName}/status",
          "code": 200
        },
        "smithy.api#documentation": "Get application domain status\n\nGet the status of a domain for an application."
      }
    },
    "com.clerk.platform#TriggerDNSCheckRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        },
        "domainIDOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain ID or domain name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#TriggerDNSCheckResponseSslStatus": {
      "type": "enum",
      "members": {
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "complete"
          }
        },
        "IN_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_process"
          }
        },
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_started"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#TriggerDNSCheckResponseSslFailureHintsList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#FailureHint"
      },
      "traits": {}
    },
    "com.clerk.platform#TriggerDNSCheckResponseSsl": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.clerk.platform#TriggerDNSCheckResponseSslStatus"
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "failure_hints": {
          "target": "com.clerk.platform#TriggerDNSCheckResponseSslFailureHintsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#TriggerDNSCheckResponseSslHostsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.clerk.platform#SSLStatus"
      },
      "traits": {}
    },
    "com.clerk.platform#TriggerDNSCheckResponseMail": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#TriggerDNSCheckResponseProxy": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#TriggerDNSCheckResponseStatus": {
      "type": "enum",
      "members": {
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "complete"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#TriggerDNSCheckResponse": {
      "type": "structure",
      "members": {
        "dns": {
          "target": "com.clerk.platform#DNSStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ssl": {
          "target": "com.clerk.platform#TriggerDNSCheckResponseSsl",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ssl_hosts": {
          "target": "com.clerk.platform#TriggerDNSCheckResponseSslHostsMap"
        },
        "mail": {
          "target": "com.clerk.platform#TriggerDNSCheckResponseMail"
        },
        "proxy": {
          "target": "com.clerk.platform#TriggerDNSCheckResponseProxy"
        },
        "status": {
          "target": "com.clerk.platform#TriggerDNSCheckResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the domain.",
            "smithy.api#required": {}
          }
        },
        "last_run_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The timestamp in epoch milliseconds of the last DNS check, if any.\nWill be `null` if no check has been performed yet.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.clerk.platform#TriggerDNSCheck": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#TriggerDNSCheckRequest"
      },
      "output": {
        "target": "com.clerk.platform#TriggerDNSCheckResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#BadRequest"
        },
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        },
        {
          "target": "com.clerk.platform#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/platform/applications/{applicationID}/domains/{domainIDOrName}/dns_check",
          "code": 200
        },
        "smithy.api#documentation": "Trigger DNS check\n\nTriggers a DNS check for a domain and returns the current domain status.\n\nThis endpoint ensures that at most one DNS check job is in-flight at any time.\nIf a check is already running or was recently performed, a 409 Conflict is returned.\n\nUse this endpoint to trigger a new DNS verification check after configuring DNS records."
      }
    },
    "com.clerk.platform#ListDomainsRequestIncludeDevelopment": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#ListDomainsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "Filter domains whose name contains this substring (case-insensitive)."
          }
        },
        "include_development": {
          "target": "com.clerk.platform#ListDomainsRequestIncludeDevelopment",
          "traits": {
            "smithy.api#httpQuery": "include_development",
            "smithy.api#documentation": "When `true`, include development instance domains. Defaults to production only."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page (1-500, default 10)."
          }
        },
        "starting_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "starting_after",
            "smithy.api#documentation": "Cursor for pagination. Provide the ID of the last domain from the\nprevious page to get the next page of results.\n"
          }
        },
        "ending_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ending_before",
            "smithy.api#documentation": "Cursor for pagination. Provide the ID of the first domain from the\nprevious page to get the previous page of results.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#PlatformListDomainsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.clerk.platform#PlatformListDomainsResponseDataList",
          "traits": {
            "smithy.api#documentation": "The list of domains.",
            "smithy.api#required": {}
          }
        },
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of domains matching the query.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A paginated list of domains across the workspace."
      }
    },
    "com.clerk.platform#PlatformWorkspaceDomainResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.clerk.platform#PlatformWorkspaceDomainResponseObject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the domain.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name.",
            "smithy.api#required": {}
          }
        },
        "is_satellite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this is a satellite domain."
          }
        },
        "is_provider_domain": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this is a provider domain."
          }
        },
        "frontend_api_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The frontend API URL.",
            "smithy.api#required": {}
          }
        },
        "development_origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The development origin.",
            "smithy.api#required": {}
          }
        },
        "accounts_portal_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The accounts portal URL."
          }
        },
        "proxy_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The proxy URL."
          }
        },
        "cname_targets": {
          "target": "com.clerk.platform#PlatformWorkspaceDomainResponseCnameTargetsList",
          "traits": {
            "smithy.api#documentation": "Legacy CNAME-only targets for the domain. New consumers should prefer `dns_targets` when present.\nOmitted for development domains, which do not use custom-domain DNS setup.\n"
          }
        },
        "dns_targets": {
          "target": "com.clerk.platform#PlatformWorkspaceDomainResponseDnsTargetsList",
          "traits": {
            "smithy.api#documentation": "The complete typed DNS contract for the domain. Consumers should use this field instead of merging it\nwith `cname_targets`. Omitted for development domains, which do not use custom-domain DNS setup.\n"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the domain was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the domain was last updated.",
            "smithy.api#required": {}
          }
        },
        "application": {
          "target": "com.clerk.platform#PlatformDomainApplicationSummary",
          "traits": {
            "smithy.api#documentation": "Included on workspace-wide domain endpoints (`GET /platform/domains`, `GET /platform/domains/{domainIDOrName}`).",
            "smithy.api#required": {}
          }
        },
        "instance": {
          "target": "com.clerk.platform#PlatformDomainInstanceSummary",
          "traits": {
            "smithy.api#documentation": "Included on workspace-wide domain endpoints (`GET /platform/domains`, `GET /platform/domains/{domainIDOrName}`).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformWorkspaceDomainResponseObject": {
      "type": "enum",
      "members": {
        "DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformWorkspaceDomainResponseCnameTargetsList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#PlatformCNameTarget"
      },
      "traits": {
        "smithy.api#documentation": "Legacy CNAME-only targets for the domain. New consumers should prefer `dns_targets` when present.\nOmitted for development domains, which do not use custom-domain DNS setup.\n"
      }
    },
    "com.clerk.platform#PlatformWorkspaceDomainResponseDnsTargetsList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#PlatformDNSTarget"
      },
      "traits": {
        "smithy.api#documentation": "The complete typed DNS contract for the domain. Consumers should use this field instead of merging it\nwith `cname_targets`. Omitted for development domains, which do not use custom-domain DNS setup.\n"
      }
    },
    "com.clerk.platform#PlatformListDomainsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#PlatformWorkspaceDomainResponse"
      },
      "traits": {
        "smithy.api#documentation": "The list of domains."
      }
    },
    "com.clerk.platform#ListDomains": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#ListDomainsRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformListDomainsResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/platform/domains",
          "code": 200
        },
        "smithy.api#documentation": "List domains\n\nList production instance domains for applications in the authenticated workspace.\nResults are sorted by domain creation time in descending order (most recent first).\n\nSet `include_development` to include development instance domains."
      }
    },
    "com.clerk.platform#GetDomainRequest": {
      "type": "structure",
      "members": {
        "domainIDOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain ID or domain name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#GetDomainResponseObject": {
      "type": "enum",
      "members": {
        "DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#GetDomainResponseCnameTargetsList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#PlatformCNameTarget"
      },
      "traits": {
        "smithy.api#documentation": "Legacy CNAME-only targets for the domain. New consumers should prefer `dns_targets` when present.\nOmitted for development domains, which do not use custom-domain DNS setup.\n"
      }
    },
    "com.clerk.platform#GetDomainResponseDnsTargetsList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#PlatformDNSTarget"
      },
      "traits": {
        "smithy.api#documentation": "The complete typed DNS contract for the domain. Consumers should use this field instead of merging it\nwith `cname_targets`. Omitted for development domains, which do not use custom-domain DNS setup.\n"
      }
    },
    "com.clerk.platform#GetDomainResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.clerk.platform#GetDomainResponseObject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the domain.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name.",
            "smithy.api#required": {}
          }
        },
        "is_satellite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this is a satellite domain."
          }
        },
        "is_provider_domain": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this is a provider domain."
          }
        },
        "frontend_api_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The frontend API URL.",
            "smithy.api#required": {}
          }
        },
        "development_origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The development origin.",
            "smithy.api#required": {}
          }
        },
        "accounts_portal_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The accounts portal URL."
          }
        },
        "proxy_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The proxy URL."
          }
        },
        "cname_targets": {
          "target": "com.clerk.platform#GetDomainResponseCnameTargetsList",
          "traits": {
            "smithy.api#documentation": "Legacy CNAME-only targets for the domain. New consumers should prefer `dns_targets` when present.\nOmitted for development domains, which do not use custom-domain DNS setup.\n"
          }
        },
        "dns_targets": {
          "target": "com.clerk.platform#GetDomainResponseDnsTargetsList",
          "traits": {
            "smithy.api#documentation": "The complete typed DNS contract for the domain. Consumers should use this field instead of merging it\nwith `cname_targets`. Omitted for development domains, which do not use custom-domain DNS setup.\n"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the domain was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the domain was last updated.",
            "smithy.api#required": {}
          }
        },
        "application": {
          "target": "com.clerk.platform#PlatformDomainApplicationSummary",
          "traits": {
            "smithy.api#documentation": "Included on workspace-wide domain endpoints (`GET /platform/domains`, `GET /platform/domains/{domainIDOrName}`).",
            "smithy.api#required": {}
          }
        },
        "instance": {
          "target": "com.clerk.platform#PlatformDomainInstanceSummary",
          "traits": {
            "smithy.api#documentation": "Included on workspace-wide domain endpoints (`GET /platform/domains`, `GET /platform/domains/{domainIDOrName}`).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.clerk.platform#GetDomain": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#GetDomainRequest"
      },
      "output": {
        "target": "com.clerk.platform#GetDomainResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/platform/domains/{domainIDOrName}",
          "code": 200
        },
        "smithy.api#documentation": "Get domain\n\nRetrieve a single domain by ID or name for the authenticated workspace."
      }
    },
    "com.clerk.platform#ListDomainIntentsRequestStatusItem": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#ListDomainIntentsRequestStatusList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#ListDomainIntentsRequestStatusItem"
      },
      "traits": {}
    },
    "com.clerk.platform#ListDomainIntentsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "Filter by exact domain name."
          }
        },
        "status": {
          "target": "com.clerk.platform#ListDomainIntentsRequestStatusList",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter by domain intent status. Multiple values can be provided by\nrepeating the parameter (e.g., `?status=pending&status=canceled`).\n"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page (1-500, default 10)."
          }
        },
        "starting_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "starting_after",
            "smithy.api#documentation": "Cursor for pagination. Provide the ID of the last domain intent from\nthe previous page to get the next page of results.\n"
          }
        },
        "ending_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ending_before",
            "smithy.api#documentation": "Cursor for pagination. Provide the ID of the first domain intent from\nthe previous page to get the previous page of results.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#PlatformListDomainIntentsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.clerk.platform#PlatformListDomainIntentsResponseDataList",
          "traits": {
            "smithy.api#documentation": "The list of domain intents.",
            "smithy.api#required": {}
          }
        },
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of domain intents matching the query.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A paginated list of domain intents."
      }
    },
    "com.clerk.platform#PlatformDomainIntentResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.clerk.platform#PlatformDomainIntentResponseObject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the domain intent.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.clerk.platform#PlatformDomainIntentResponseStatus",
          "traits": {
            "smithy.api#documentation": "The current status of the domain intent.",
            "smithy.api#required": {}
          }
        },
        "domain_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The completed domain ID, if the intent has been completed."
          }
        },
        "domain_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The intended domain name."
          }
        },
        "records": {
          "target": "com.clerk.platform#PlatformDomainIntentResponseRecordsList",
          "traits": {
            "smithy.api#documentation": "DNS records to configure before completion.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the intent to create a domain. Can later be completed into a real application domain."
      }
    },
    "com.clerk.platform#PlatformDomainIntentResponseObject": {
      "type": "enum",
      "members": {
        "DOMAIN_INTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_intent"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformDomainIntentResponseStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the domain intent."
      }
    },
    "com.clerk.platform#PlatformDomainIntentResponseRecordsList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#PlatformDNSTarget"
      },
      "traits": {
        "smithy.api#documentation": "DNS records to configure before completion."
      }
    },
    "com.clerk.platform#PlatformListDomainIntentsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#PlatformDomainIntentResponse"
      },
      "traits": {
        "smithy.api#documentation": "The list of domain intents."
      }
    },
    "com.clerk.platform#ListDomainIntents": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#ListDomainIntentsRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformListDomainIntentsResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/platform/domain_intents",
          "code": 200
        },
        "smithy.api#documentation": "List domain intents\n\nList all domain intents created by the authenticated workspace. Returns\nintents sorted by creation date in descending order (most recent first)."
      }
    },
    "com.clerk.platform#CreateDomainIntentRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name.",
            "smithy.api#required": {}
          }
        },
        "proxy_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional proxy path for the domain intent. Treated as a hint to determine optionality of DNS records in the response."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#CreateDomainIntent": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#CreateDomainIntentRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformDomainIntentResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#BadRequest"
        },
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/platform/domain_intents",
          "code": 200
        },
        "smithy.api#documentation": "Create a domain intent\n\nCreate a pending domain intent and receive DNS records for\nthe domain name."
      }
    },
    "com.clerk.platform#GetDomainIntentRequest": {
      "type": "structure",
      "members": {
        "domainIntentID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain intent ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#GetDomainIntent": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#GetDomainIntentRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformDomainIntentResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/platform/domain_intents/{domainIntentID}",
          "code": 200
        },
        "smithy.api#documentation": "Get a domain intent\n\nRetrieve a domain intent by ID."
      }
    },
    "com.clerk.platform#CancelDomainIntentRequest": {
      "type": "structure",
      "members": {
        "domainIntentID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain intent ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#CancelDomainIntent": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#CancelDomainIntentRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformDomainIntentResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#BadRequest"
        },
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/platform/domain_intents/{domainIntentID}",
          "code": 200
        },
        "smithy.api#documentation": "Cancel a domain intent\n\nCancel a pending domain intent."
      }
    },
    "com.clerk.platform#ListApplicationTransfersRequestStatusItem": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#ListApplicationTransfersRequestStatusList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#ListApplicationTransfersRequestStatusItem"
      },
      "traits": {}
    },
    "com.clerk.platform#ListApplicationTransfersRequest": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.clerk.platform#ListApplicationTransfersRequestStatusList",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter by transfer status. Multiple values can be provided by repeating\nthe parameter (e.g., `?status=pending&status=canceled`).\n"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page (1-500, default 10)."
          }
        },
        "starting_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "starting_after",
            "smithy.api#documentation": "Cursor for pagination. Provide the ID of the last transfer from the\nprevious page to get the next page of results.\n"
          }
        },
        "ending_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ending_before",
            "smithy.api#documentation": "Cursor for pagination. Provide the ID of the first transfer from the\nprevious page to get the previous page of results.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#PlatformListApplicationTransfersResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.clerk.platform#PlatformListApplicationTransfersResponseDataList",
          "traits": {
            "smithy.api#documentation": "The list of application transfers.",
            "smithy.api#required": {}
          }
        },
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of application transfers matching the query.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A paginated list of application transfers."
      }
    },
    "com.clerk.platform#PlatformApplicationTransferResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.clerk.platform#PlatformApplicationTransferResponseObject",
          "traits": {
            "smithy.api#documentation": "The object type.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the application transfer.",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique code for the transfer that can be shared with the recipient to claim the application through the clerk dashboard: https://dashboard.clerk.com/apps/transfer?code=<CODE>",
            "smithy.api#required": {}
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the application being transferred.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.clerk.platform#PlatformApplicationTransferResponseStatus",
          "traits": {
            "smithy.api#documentation": "The current status of the transfer.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the transfer expires if not completed.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the transfer was created.",
            "smithy.api#required": {}
          }
        },
        "canceled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the transfer was canceled, or null if not canceled.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the transfer was completed, or null if not completed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an application transfer request. Application transfers allow transferring ownership of an application from one organization to another."
      }
    },
    "com.clerk.platform#PlatformApplicationTransferResponseObject": {
      "type": "enum",
      "members": {
        "APPLICATION_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application_transfer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object type."
      }
    },
    "com.clerk.platform#PlatformApplicationTransferResponseStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the transfer."
      }
    },
    "com.clerk.platform#PlatformListApplicationTransfersResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#PlatformApplicationTransferResponse"
      },
      "traits": {
        "smithy.api#documentation": "The list of application transfers."
      }
    },
    "com.clerk.platform#ListApplicationTransfers": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#ListApplicationTransfersRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformListApplicationTransfersResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/platform/application_transfers",
          "code": 200
        },
        "smithy.api#documentation": "List application transfers\n\nList all transfer requests created by the authenticated workspace. Returns\ntransfers sorted by creation date in descending order (most recent first).\n\nUse the `status` parameter to filter by transfer status."
      }
    },
    "com.clerk.platform#CreateApplicationTransferRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#CreateApplicationTransfer": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#CreateApplicationTransferRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformApplicationTransferResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/platform/applications/{applicationID}/transfers",
          "code": 200
        },
        "smithy.api#documentation": "Create an application transfer\n\nCreate a new transfer request for an application. This initiates the process of\ntransferring ownership of the application to another workspace.\n\nOnly one pending transfer can exist for an application at a time. The transfer\nwill expire after 24 hours if not completed."
      }
    },
    "com.clerk.platform#GetApplicationTransferRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        },
        "transferID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application Transfer ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#GetApplicationTransfer": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#GetApplicationTransferRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformApplicationTransferResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/platform/applications/{applicationID}/transfers/{transferID}",
          "code": 200
        },
        "smithy.api#documentation": "Get an application transfer\n\nRetrieve details of an application transfer by its ID."
      }
    },
    "com.clerk.platform#CancelApplicationTransferRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        },
        "transferID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application Transfer ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#CancelApplicationTransfer": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#CancelApplicationTransferRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformApplicationTransferResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        },
        {
          "target": "com.clerk.platform#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/platform/applications/{applicationID}/transfers/{transferID}",
          "code": 200
        },
        "smithy.api#documentation": "Cancel an application transfer\n\nCancel an existing application transfer. Only transfers in 'pending' status can be canceled."
      }
    },
    "com.clerk.platform#RotateSecretKeysRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        },
        "delay_old_secrets_expiration_hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of hours to delay before the old secret keys are deleted. This allows for a graceful transition period where both old and new keys are valid."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for rotating the secret keys. This is stored for audit purposes."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.clerk.platform#PlatformRotateSecretKeysResponse": {
      "type": "structure",
      "members": {
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the application.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the application.",
            "smithy.api#required": {}
          }
        },
        "instances": {
          "target": "com.clerk.platform#PlatformRotateSecretKeysResponseInstancesList",
          "traits": {
            "smithy.api#documentation": "List of instances with their newly rotated secret keys.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.clerk.platform#PlatformRotateSecretKeysInstance": {
      "type": "structure",
      "members": {
        "instance_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for this instance.",
            "smithy.api#required": {}
          }
        },
        "environment_type": {
          "target": "com.clerk.platform#PlatformRotateSecretKeysInstanceEnvironmentType",
          "traits": {
            "smithy.api#documentation": "The environment type of the instance.",
            "smithy.api#required": {}
          }
        },
        "secret_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new secret key for authenticating server-side API requests to this instance. Keep this value secure and never expose it in client-side code.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an instance with a newly rotated secret key."
      }
    },
    "com.clerk.platform#PlatformRotateSecretKeysInstanceEnvironmentType": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The environment type of the instance."
      }
    },
    "com.clerk.platform#PlatformRotateSecretKeysResponseInstancesList": {
      "type": "list",
      "member": {
        "target": "com.clerk.platform#PlatformRotateSecretKeysInstance"
      },
      "traits": {
        "smithy.api#documentation": "List of instances with their newly rotated secret keys."
      }
    },
    "com.clerk.platform#RotateSecretKeys": {
      "type": "operation",
      "input": {
        "target": "com.clerk.platform#RotateSecretKeysRequest"
      },
      "output": {
        "target": "com.clerk.platform#PlatformRotateSecretKeysResponse"
      },
      "errors": [
        {
          "target": "com.clerk.platform#BadRequest"
        },
        {
          "target": "com.clerk.platform#Forbidden"
        },
        {
          "target": "com.clerk.platform#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/platform/applications/{applicationID}/rotate_secret_keys",
          "code": 200
        },
        "smithy.api#documentation": "Rotate application secret keys\n\nRotate the secret keys for an application's instances."
      }
    },
    "com.clerk.platform#RotateInstanceSecretKeysRequest": {
      "type": "structure",
      "members": {
        "applicationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID."
          }
        },
        "envOrInsID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
[...]
