{
  "openapi": "3.1.0",
  "info": {
    "description": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details.",
    "termsOfService": "https://whop.com/tos-developer-api/",
    "title": "Whop API",
    "version": "1.0.0",
    "x-api-version-date": "2026-08-25-2"
  },
  "servers": [
    {
      "description": "Production Whop API",
      "url": "https://api.whop.com/api/v1"
    },
    {
      "description": "Sandbox Whop API",
      "url": "https://sandbox-api.whop.com/api/v1"
    }
  ],
  "tags": [
    {
      "description": "An Account represents a person or business on Whop that can have its own profile, wallet, and account-scoped settings. Use accounts for customers, creators, merchants, sellers, or connected businesses your integration supports.\n\nUse the Accounts API to create accounts, list accounts visible to your credentials, retrieve or update an account, and retrieve the account associated with the current API key.\n",
      "name": "Accounts",
      "x-whop-summary": "A business on Whop: profile, wallet, capabilities, settings."
    },
    {
      "description": "A User represents a person on Whop. Users have a public profile and can buy products, join accounts, and access experiences.\n\nUse the Users API to search for users, retrieve or update profiles, and check whether a user has access to an account, product, or experience.\n",
      "name": "Users",
      "x-whop-summary": "A person on Whop: profile and connected identities."
    },
    {
      "description": "A Team Member is a member of an account's team: the link between a user and an account, carrying the role that controls what they can do. Roles are either system roles (like `admin` or `moderator`) or `custom` roles managed from the dashboard.\n\nUse the Team Members API to list an account's team, add a user to the team with a system role, change a member's role, and remove members. Adding a user who has not yet accepted sends an invitation instead.\n",
      "name": "Team Members",
      "x-whop-summary": "An account's team members and the roles that scope their access."
    },
    {
      "description": "A Member is one buyer's relationship with an account — one record per customer regardless of how many memberships they hold. It carries relationship-level state: whether they have joined or left, their access level (`customer`, `admin`, or `no_access`), when they joined, and when they last opened the account's content.\n\nUse the Members API to list an account's members with filtering by access level, status, join date, and name or username search, and to retrieve a single member. Member rows are created and maintained by the membership lifecycle; to grant or revoke access, work with memberships instead.\n",
      "name": "Members",
      "x-whop-summary": "One buyer's relationship with an account, across all their purchases."
    },
    {
      "name": "Webhooks",
      "x-whop-summary": "Event notifications pushed to your server as things happen."
    },
    {
      "description": "Stats represent aggregated activity for an account over time. They help you understand revenue, transactions, disputes, members, referrals, and advertising performance across reporting periods like days, weeks, or months.\n\nUse the Stats API to list available metrics and their filterable properties, then retrieve time-series values for a date range.\n",
      "name": "Stats",
      "x-whop-summary": "Aggregated financial, audience, and traffic reporting."
    },
    {
      "description": "A Verification represents a legal identity for a person or business. Accounts and users complete verification when Whop needs to confirm who they are before enabling payouts or compliance-sensitive workflows.\n\nUse the Verifications API to start or resume a hosted verification session, check review status, and submit requested details or documents. If `requested_information` contains items, submit answers with [Update Verification](/api-reference/beta/verifications/update-verification).\n",
      "name": "Verifications",
      "x-whop-summary": "Legal identity required before payouts and card issuing."
    },
    {
      "description": "An Export is an asynchronous CSV of one resource for one account — members, payments, disputes, ads, and the other tables the Whop dashboard can export. Generating a full table takes longer than a request, so an export is created in `pending`, moves through `processing`, and lands on `completed` with a download link. Each resource requires that resource's own export scope.\n\nUse the Exports API to start an export, poll it until `download_url` is set, and list the exports already requested for an account. Finished CSVs are retained for 30 days, after which the file is deleted and the export moves to `expired`.\n",
      "name": "Exports",
      "x-whop-summary": "Asynchronous CSV dumps of an account's dashboard data."
    },
    {
      "description": "A Notification is a message delivered to a user — a new post, a payment, a mention. Every notification comes from an experience the user belongs to or a team they are on, and users control what they receive with notification preferences.\n\nEvery notification belongs to a topic: the category it falls under, such as new sales or account activity. Topics carry a default, so a user only needs a preference row where they diverge from it. `GET /notifications/topics` lists the platform's visible topics, and a topic's `id` is what the notification preference endpoints take as `topic_id` — the catalog is the only place those ids come from, so read it rather than hardcoding. Each topic also carries an `identifier` such as `new-follower`, which is stable across environments and is the value to match on in code.\n\nUse the Notifications API to list the authenticated user's feed, read per-experience unread badges, mark an experience (or everything) as read, send notifications from your app to an experience's users or an account's team, and list the topic catalog.\n",
      "name": "Notifications",
      "x-whop-summary": "The user's notification feed: unread badges, mark-read, app sends, and the topic catalog."
    },
    {
      "description": "A Payment is one charge against a buyer. Create it with a payment method already on file, or with a `confirmation_token` describing a method the buyer has just supplied.\n\nCollection runs in the background, so the create response is not the outcome. Poll [Retrieve status](/api-reference/beta/payments/retrieve-status) for how far the payment has got and, while it is `requires_action`, what the buyer must do next — follow a redirect, complete 3D Secure, display transfer instructions, or link a bank account. Use the return_url operation to change where they land afterwards, up until they come back.\n",
      "name": "Payments",
      "x-whop-summary": "A charge against a buyer, and the step they still owe."
    },
    {
      "description": "A Setup Intent saves a buyer's payment method for later without taking money now. It runs the same collection flow a payment does, so the buyer may still owe a step — 3D Secure on a card, a hosted enrollment, or linking a bank account.\n\nPoll [Retrieve status](/api-reference/beta/setup-intents/retrieve-status) for how far the setup has got and what is outstanding. Once it reaches `succeeded` the method is on file and can be charged.\n",
      "name": "Setup Intents",
      "x-whop-summary": "Saving a buyer's payment method without charging it."
    },
    {
      "description": "A Ledger Activity row is a single financial event on an account's ledger — a payment, payout, refund, transfer, on-chain deposit, swap, or card transaction. Each row is derived from the underlying ledger lines and carries a typed `resource` and `source` so you can present and link the event without extra lookups.\n\nUse Ledger Activity to build a statement or transaction feed for an account or user. Reconcile against your own records with `amount` (signed, in the currency's smallest precision units) and `posted_at`, and use `available_at` to know when inflows became withdrawable.\n",
      "name": "Ledgers",
      "x-whop-summary": "The activity feed behind an account or user's balance."
    },
    {
      "description": "Payouts represent money sent from an account or user balance to an external destination, such as a bank account, wallet, or other saved payout method.\n\nUse the Payouts API to create and track payouts, manage saved payout methods, and show expected arrival details for funds leaving Whop.\n",
      "name": "Payouts",
      "x-whop-summary": "Send money from a balance to a bank or wallet."
    },
    {
      "description": "Cards represent Whop-issued virtual payment cards that spend from an account or user balance. Cards can be assigned to cardholders and configured with spending limits for controlled spending.\n\nUse the Cards API to issue cards, list cards for an account or user, and retrieve active card details such as the card number and CVC.\n",
      "name": "Cards",
      "x-whop-summary": "Issue cards that spend from a balance."
    },
    {
      "description": "Transfers move value between identities on Whop. They are used for account-to-account money movement, user payouts inside Whop, crypto transfers, and claim links depending on the destination type.\n\nUse the Transfers API to create a transfer, list previous transfers, and retrieve a transfer by ID when reconciling money movement between accounts or users.\n",
      "name": "Transfers",
      "x-whop-summary": "Move funds between Whop accounts and users."
    },
    {
      "description": "A Dispute is a chargeback a customer files against a payment through their bank, or an inquiry that may become one. It carries the disputed payment, a deadline to respond, your evidence, and the outcome once the processor rules.\n\nUse the Disputes API to list disputes, edit the evidence packet while a dispute is still contestable, and submit it for review.\n",
      "name": "Disputes",
      "x-whop-summary": "Chargebacks filed against an account, with evidence and outcomes."
    },
    {
      "description": "A Dispute alert is an early warning from a card issuer that a settled payment is being questioned, ahead of any chargeback. `type` separates fraud reports (`early_fraud_warning`), pre-dispute notices (`dispute_alert`), and Visa RDR cases the network already closed by refunding (`rapid_dispute_resolution`).\n\nUse the Dispute alerts API to list alerts for an account, filter them by type or payment, and read `actionable` to see whether refunding can still avoid the chargeback.\n",
      "name": "Dispute alerts",
      "x-whop-summary": "Issuer warnings that arrive before a chargeback does."
    },
    {
      "description": "Deposits describe ways to add funds to an account balance, including hosted deposit pages, bank deposit instructions, and supported crypto wallet addresses.\n\nUse the Deposits API to create deposit instructions for an account.\n",
      "name": "Deposits",
      "x-whop-summary": "Add funds to a balance."
    },
    {
      "description": "Swaps convert value between supported tokens, chains, or wallet destinations for an account. A swap quote describes the expected output, fees, and approval requirements before you create the swap.\n\nUse the Swaps API to quote a conversion, create the swap, list recent swaps, and retrieve status until the transaction completes.\n",
      "name": "Swaps",
      "x-whop-summary": "Convert a balance between currencies."
    },
    {
      "description": "A Resolution Center Case is opened by a buyer when something is wrong with a purchase — an unwanted renewal, an item that never arrived, or a charge they don't recognize. It is the step before a chargeback: the two sides work it out directly, and Whop decides the case if they can't. Each case carries a reason, a status naming which side it is waiting on, a timeline of events, and the actions available to whoever is reading it.\n\nUse the Resolution Center Cases API from either side: as the buyer, open a case, reply, appeal a decision, or withdraw it; as the merchant, accept it (refunding the payment), deny it, or ask the buyer for more information. Both sides read the same case, page its timeline, and summarize the cases they can see.\n",
      "name": "Resolution Center Cases",
      "x-whop-summary": "File or respond to a case against a payment, as the buyer or the merchant."
    },
    {
      "description": "A Product is a digital good or service sold on Whop. Products may contain plans for pricing and/or experiences for content delivery.\n\nUse the Products API to search the public marketplace, list an account's products, retrieve a product, and create, update, or delete products.\n",
      "name": "Products",
      "x-whop-summary": "The things you sell. Each owns plans and a store page."
    },
    {
      "description": "A Plan defines how customers buy a product. It controls pricing, billing cadence, availability, tax behavior, checkout fields, and purchase visibility.\n\nUse the Plans API to create plans for products, list existing plans, retrieve or update plan configuration, calculate tax for checkout, and delete plans that should no longer be offered.\n",
      "name": "Plans",
      "x-whop-summary": "Pricing for a product: one-time, recurring, trials, stock."
    },
    {
      "name": "Promo Codes",
      "x-whop-summary": "Discounts that creators configure for checkout."
    },
    {
      "description": "A Membership is a customer's purchase of a plan: the subscription or one-time grant that gives them access to a product. It tracks billing state (`active`, `trialing`, `past_due`, and so on), the current period, pending cancellations, custom metadata, and the software license key when the product includes licensing.\n\nUse the Memberships API to list an account's memberships or the caller's own, retrieve one by ID or license key, invite a recipient to join through a free plan, and manage the lifecycle: cancel immediately or at period end, reverse a scheduled period-end cancellation, pause and resume payment collection, extend with free days, generate a transfer link, and update metadata.\n",
      "name": "Memberships",
      "x-whop-summary": "A customer's purchase of a plan, from checkout through cancellation."
    },
    {
      "description": "A Checkout Configuration is a reusable checkout link owned by an account. In `payment` mode it sells a specific plan; in `setup` mode it collects and saves payment details without charging. Each configuration can also override which payment methods are accepted and how 3D Secure is enforced for that checkout.\n\nUse the Checkout Configurations API to create checkout links for an existing or inline plan, list configurations for an account, retrieve the configuration behind a checkout URL, and delete links that should no longer be used.\n",
      "name": "Checkout Configurations",
      "x-whop-summary": "Turn a plan into a shareable, prefilled checkout link."
    },
    {
      "description": "A Payment Method Domain registers a hostname with a wallet provider so its payment methods can appear at a checkout served from that domain. The domain proves ownership by hosting the provider's association file — for Apple Pay, at `/.well-known/apple-developer-merchantid-domain-association` — and `status` reports whether verification has completed.\n\nUse the Payment Method Domains API to register domains for your account or its connected accounts, retry verification once the association file is hosted, and remove domains that should no longer serve wallet payments. A domain a platform shares with its connected accounts at checkout is listed on the platform's account, not on each connected account.\n",
      "name": "Payment Method Domains",
      "x-whop-summary": "Domains verified to show wallet payment methods like Apple Pay at checkout."
    },
    {
      "description": "A Shipment attaches a carrier tracking number to a payment and follows the package from label creation to delivery, exposing the current delivery status and a customer-facing tracking URL.\n\nUse the Shipments API to list an account's shipments, retrieve one by its id or the payment it fulfills, attach a tracking number to a payment, and update the tracking number on an existing shipment.\n",
      "name": "Shipments",
      "x-whop-summary": "Track the delivery of an order by its carrier tracking number."
    },
    {
      "description": "The Partners API covers your Whop partner activity: the users you referred onto Whop, the businesses you referred and the earnings generated from their processing volume, and the partner leaderboard.\n\nUse it to enroll as a Whop partner, list the users you referred, list your referred businesses and review their earnings, and see the partner leaderboard.\n",
      "name": "Partners",
      "x-whop-summary": "The users and businesses you referred to Whop, and what you earn from them."
    },
    {
      "description": "A Bounty is a paid task posted by an account or user. The reward is held in escrow when the bounty publishes, workers submit proof of completed work, and each accepted submission is paid out until every winner slot fills.\n\nUse the Bounties API to create and publish a bounty, list an account's bounties for reporting or dashboards, list the bounties a user can work or has participated in, and retrieve a single bounty by ID.\n",
      "name": "Bounties",
      "x-whop-summary": "Paid tasks with reviewed submissions and escrowed rewards."
    },
    {
      "description": "A Bounty Submission is one worker's attempt on a bounty. It starts as an in-progress attempt, enters the review queue when proof is submitted, and ends approved (paid from the bounty's escrowed pool) or denied.\n\nUse the Bounty Submissions API to submit proof of completed work to a bounty, list the submissions you authored, and review the submissions on your bounties — across every bounty or narrowed to one.\n",
      "name": "Bounty Submissions",
      "x-whop-summary": "Work submitted to a bounty, from attempt to payout."
    },
    {
      "description": "A Person is an identity-linked profile of a visitor or customer of an account, assembled from every [event](/api-reference/beta/events/event) the person generated — pixel page views, ad clicks, leads, identifies, and payments. Each profile carries the person's known identities (names, emails, phones, user IDs), purchase history and LTV, geo/device profile, traffic sources, and the first and last marketing touches that reached them.\n\nUse the People API to list and segment the people of an account — filter by activity, purchases, traffic source, location, or marketing touch, and sort by value — or retrieve one person by person ID, user ID, email address, or phone number.\n",
      "name": "People",
      "x-whop-summary": "Visitors and customers of an account, with identity, purchase, and traffic profiles."
    },
    {
      "description": "An Event records conversion or engagement activity for an account, such as page views, purchases, or leads. Each event ties the action to the [person](/api-reference/beta/people/person) who took it, so activity can be attributed to the ads and links that drove it.\n\nUse the Events API to send new tracking events, list recent identity-linked events for an account, and inspect the events recorded for a person. The resource also exposes an anonymized read mode — the pulse feed — a platform-wide snapshot of recent purchases that carries nothing identifying. The pulse feed is public; other Events endpoints require authentication and are scoped to an account.\n\nEvents are only as good as the pixel sending them, so [Validate Pixel](/api-reference/beta/events/validate-pixel) answers whether an account's pixel is working: it reads the events the pixel has sent, and when you pass a `url` whose page hasn't sent any lately, it fetches that page and looks for the pixel in its source. Use it before launching an ad to confirm its destination is tracked, or in a setup flow to tell a merchant whether their install is live.\n",
      "name": "Events",
      "x-whop-summary": "Conversion and engagement events tracked for attribution."
    },
    {
      "description": "A Recommended Action Chain is a short, ordered sequence of dashboard actions — create a product, price it, publish it — suggested for an account based on what it already has. Seeded chains come from hand-written presets; generated chains, produced per account, share the same shape.\n\nUse the Recommended Actions API to list the chains recommended for an account and to record that a chain was run. Running a chain executes nothing server-side — the client follows each step's CTA itself; the run endpoint records the `recommended_action_chain.executed` analytics event.\n",
      "name": "Recommended Actions",
      "x-whop-summary": "Suggested next-step action chains for an account."
    },
    {
      "description": "An Ad is the individual creative unit delivered by an [ad group](/api-reference/beta/ad-groups/ad-group). It holds the copy, creative assets, and destination URL for one ad.\n\nUse the Ads API to list ads for an account, create ads inside ad groups, retrieve or update creative details, delete ads that should stop running, and pause or resume delivery.\n",
      "name": "Ads",
      "x-whop-summary": "The creative: copy, assets, and destination URL."
    },
    {
      "description": "An Ad Campaign is the top-level container for paid ads on an ad network. It sets the platform, objective, and budget strategy shared by its [ad groups](/api-reference/beta/ad-groups/ad-group) and ads.\n\nUse the Ad Campaigns API to create campaigns, list campaigns for an account, retrieve or update campaign settings, and pause or resume campaign delivery.\n",
      "name": "Ad Campaigns",
      "x-whop-summary": "Platform, objective, and budget for a set of ads."
    },
    {
      "description": "An Ad Group sits inside an [ad campaign](/api-reference/beta/ad-campaigns/ad-campaign) and controls delivery for [ads](/api-reference/beta/ads/ad). It sets the audience, placements, schedule, budget, and optimization goal for its ads.\n\nUse the Ad Groups API to create ad groups in campaigns, list or retrieve targeting and delivery settings, update budgets or targeting, delete groups that should stop running, and pause or resume delivery. It can also search the ad platform's targeting taxonomy for options to target and estimate how many people a draft targeting spec can reach.\n",
      "name": "Ad Groups",
      "x-whop-summary": "Audience, placements, and schedule within a campaign."
    },
    {
      "description": "An Audience represents a customer list uploaded to Whop for ad targeting. Audiences belong to an account and sync to supported ad platforms as custom audiences.\n\nUse the Audiences API to create audiences from CSV uploads, monitor processing status, and list or delete audiences for an account. Created audiences are usable for targeting after processing reaches `ready` or `partial`.\n",
      "name": "Audiences",
      "x-whop-summary": "Reusable targeting lists for ad groups."
    },
    {
      "description": "A File is an uploaded document or media object, identified by a `file_` ID. Creating a file returns a presigned destination; upload the bytes there and the file becomes `ready`.\n\nUse the Files API to create a file, upload its content directly to storage (in one PUT, or in parts for large files), and retrieve it while polling for readiness. A ready file's ID can be attached wherever Whop accepts files.\n",
      "name": "Files",
      "x-whop-summary": "Upload files and attach them wherever Whop accepts documents."
    },
    {
      "description": "A Media Asset is an AI-generated image or video created from a prompt and billed from an account balance. When generation finishes, the asset includes a file that can be attached anywhere Whop accepts files.\n\nUse the Media API to start a generation job and retrieve the asset while it processes or after it is ready.\n",
      "name": "Media",
      "x-whop-summary": "AI-generated assets, billed from a balance, attachable wherever files are accepted."
    },
    {
      "description": "A Social Account represents an external profile connected to a Whop account or user, such as a Facebook page or Instagram account. Connecting a social account lets Whop run [ads](/api-reference/beta/ads/ad) under that profile's identity and promote its existing posts.\n\nUse the Social Accounts API to list connected accounts, create a Whop-managed Facebook page, start an OAuth connection, disconnect a social account, and list a connected profile's posts or a Facebook page's lead forms.\n",
      "name": "Social Accounts",
      "x-whop-summary": "Connected Facebook and Instagram accounts that run ads."
    },
    {
      "description": "An App is software you build on Whop. It can be a hosted web app served at `<route>.whop.app` or an API integration installed as an experience, and it belongs to the account that owns its credentials, settings, builds, and runtime logs.\n\nUse the Apps API to manage app configuration, deploy an app's working copy and follow the run on the app's `deployment` field, and, for hosted apps, read server runtime logs for console output, uncaught exceptions, and failed requests. Logs are retained for 7 days and can be filtered by build, level, time window, and message text.\n\nApps are also reusable blueprints. List official blueprints with `app_type=website&verified=true&order=template_usage`, or community blueprints with `app_type=website&verified=false&recommended=true&order=template_usage`. Pass the returned App `id` as `blueprint_id` when creating an Account.\n",
      "name": "Apps",
      "x-whop-summary": "Apps you build on Whop: metadata, hosted builds, runtime logs."
    },
    {
      "description": "An App Build is a versioned artifact uploaded for an app — a hosted web archive, or an iOS/Android bundle. Builds start as drafts, go through review, and one approved build per platform is served to users as the production build.\n\nUse the App Builds API to upload a build for an app, list an app's builds with platform and status filters, retrieve a build, and promote a draft or approved build to production.\n",
      "name": "App Builds",
      "x-whop-summary": "Versioned build artifacts deployed to an app's platforms."
    },
    {
      "description": "An API Key is a programmatic credential owned by an account or app. Each key carries its own permissions policy — explicit permission statements or an inherited system role — and can be restricted with an expiration date and an IP allowlist.\n\nUse the API Keys API to list an account or app's keys, create a key (the full secret is returned once, on creation), inspect a key's effective grants, update its name or restrictions, rotate its secret, and revoke it. These endpoints require a user session — they cannot be called with an API key.\n",
      "name": "API Keys",
      "x-whop-summary": "Programmatic credentials for an account or app."
    },
    {
      "description": "A Permission is one action, such as `stats:read`, paired with whether your credential is granted it on a given resource. It answers for whatever you authenticated with, so you can decide what to show or attempt instead of discovering a `403`.\n\nUse the Permissions API to check an account, product, experience, or app, narrowing to the actions you care about. It reports only your own access — to manage who else can reach an account, use the Team Members API.\n",
      "name": "Permissions",
      "x-whop-summary": "What your credential is allowed to do on a resource."
    }
  ],
  "x-tagGroups": [
    {
      "description": "The accounts and people everything else hangs off.",
      "name": "Core Resources",
      "tags": [
        "Accounts",
        "Users",
        "Team Members",
        "Members",
        "Webhooks",
        "Stats",
        "Verifications",
        "Exports"
      ]
    },
    {
      "description": "What users get told about, and how they tune it.",
      "name": "Notifications",
      "tags": [
        "Notifications"
      ]
    },
    {
      "description": "Balances and every way funds move in or out.",
      "name": "Money",
      "tags": [
        "Payments",
        "Setup Intents",
        "Ledgers",
        "Payouts",
        "Cards",
        "Transfers",
        "Disputes",
        "Dispute alerts",
        "Deposits",
        "Swaps",
        "Resolution Center Cases"
      ]
    },
    {
      "description": "Sell products and get paid.",
      "name": "Commerce",
      "tags": [
        "Products",
        "Plans",
        "Promo Codes",
        "Memberships",
        "Checkout Configurations",
        "Payment Method Domains",
        "Shipments"
      ]
    },
    {
      "description": "Refer users and businesses to Whop and track what you earn.",
      "name": "Partners",
      "tags": [
        "Partners"
      ]
    },
    {
      "description": "Post paid tasks and pay people for completed work.",
      "name": "Workforce",
      "tags": [
        "Bounties",
        "Bounty Submissions"
      ]
    },
    {
      "description": "Who visits and what converts, captured by the pixel.",
      "name": "Tracking",
      "tags": [
        "People",
        "Events",
        "Reports",
        "Recommended Actions"
      ]
    },
    {
      "description": "Run and measure ad campaigns from your integration.",
      "name": "Ads",
      "tags": [
        "Ads",
        "Ad Campaigns",
        "Ad Groups",
        "Audiences"
      ]
    },
    {
      "description": "Generate media assets from your integration.",
      "name": "Media",
      "tags": [
        "Files",
        "Media"
      ]
    },
    {
      "description": "Accounts connected from other platforms.",
      "name": "Identity",
      "tags": [
        "Social Accounts"
      ]
    },
    {
      "description": "Build, host, and observe apps on the Whop platform.",
      "name": "Developer",
      "tags": [
        "Apps",
        "App Builds",
        "API Keys",
        "Permissions",
        "Experiments"
      ]
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "description": "Lists accounts visible to the credential. User tokens return the user's business accounts; Account API keys return the requesting account and its connected accounts. Pass `parent_account_id` to return only that parent account's connected accounts.",
        "operationId": "listAccounts",
        "parameters": [
          {
            "description": "The number of accounts to return (default 10, max 50).",
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A cursor; returns accounts after this position.",
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of accounts to return from the end of the range.",
            "in": "query",
            "name": "last",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A cursor; returns accounts before this position.",
            "in": "query",
            "name": "before",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The field to sort accounts by. `volume` requires `stats:read` on the parent account.",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "default": "created_at",
              "enum": [
                "created_at",
                "volume"
              ],
              "type": "string"
            }
          },
          {
            "description": "Sort direction.",
            "in": "query",
            "name": "direction",
            "required": false,
            "schema": {
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "description": "Return only accounts with this status: `active` (includes accounts that have not entered payments review) or `suspended`.",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "enum": [
                "active",
                "suspended"
              ],
              "type": "string"
            }
          },
          {
            "description": "Free-text filter on account title or ID. `%` and `_` match literally.",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Return only accounts created after this ISO 8601 timestamp.",
            "in": "query",
            "name": "created_after",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Return only accounts created before this ISO 8601 timestamp.",
            "in": "query",
            "name": "created_before",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Return only accounts whose lifetime USD volume is at least this value. Requires `stats:read` on the parent account.",
            "in": "query",
            "name": "volume_min",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Return only accounts whose lifetime USD volume is at most this value. Requires `stats:read` on the parent account.",
            "in": "query",
            "name": "volume_max",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "For platforms: the parent account ID whose direct connected accounts to return. Requires `payout:account:read` on the parent account.",
            "in": "query",
            "name": "parent_account_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      },
                      "type": "array"
                    },
                    "page_info": {
                      "properties": {
                        "end_cursor": {
                          "example": "WyJjdXJzb3IiLDFd",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "has_next_page": {
                          "example": false,
                          "type": "boolean"
                        },
                        "has_previous_page": {
                          "example": false,
                          "type": "boolean"
                        },
                        "start_cursor": {
                          "example": "WyJjdXJzb3IiLDFd",
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "end_cursor",
                        "start_cursor",
                        "has_next_page",
                        "has_previous_page"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "data",
                    "page_info"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "accounts listed"
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameters",
            "description": "invalid list parameters"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "missing or invalid authentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "credential lacks the required balance-read scope"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "bearerAuth": [
              "company:balance:read"
            ]
          }
        ],
        "summary": "List Accounts",
        "tags": [
          "Accounts"
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "List"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Whop from '@whop/sdk';\n\nconst client = new Whop({\n  apiKey: process.env['WHOP_API_KEY'], // This is the default and can be omitted\n});\n\n// Automatically fetches more pages as needed.\nfor await (const account of client.accounts.list()) {\n  console.log(account.id);\n}"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ApiVersionDate"
        }
      ],
      "post": {
        "description": "Creates an account. User tokens create business accounts; Account API keys create connected accounts. Tax fields (`tax_remitted_by`, `tax_type`, `product_tax_code_id`, `business_address`, `tax_identifiers`) are configured with Update Account, not at creation.",
        "operationId": "createAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "affiliate_code": {
                    "description": "The username, if any, of the partner who referred this account",
                    "example": "random-username-45-xxxxxxxx",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "blueprint_id": {
                    "description": "The blueprint App ID, prefixed `app_`. Creates a hosted website for the account and queues its deployment asynchronously; the Account response does not report deployment completion.",
                    "example": "app_xxxxxxxxxxxxxx",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "country": {
                    "description": "The ISO 3166-1 alpha-2 country code where the account's business is located (e.g. `US`). Defaults to the parent account's country for connected accounts.",
                    "example": "US",
                    "type": "string"
                  },
                  "email": {
                    "description": "The email address of the account owner. Required for Account API key requests.",
                    "example": "marcus@shinetime.example",
                    "type": "string"
                  },
                  "metadata": {
                    "additionalProperties": true,
                    "description": "Arbitrary key/value metadata to store on the account.",
                    "example": {
                      "external_id": "user_12345"
                    },
                    "type": "object"
                  },
                  "title": {
                    "description": "The display name of the account. Defaults to `metadata.external_id` or the owner's email when omitted.",
                    "example": "Shine Time Auto Detailing",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "account created"
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameters",
            "description": "the request body is invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "missing or invalid authentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "credential lacks the required connected-account creation scope"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        },
        "security": [
          {
            "bearerAuth": [
              "company:create"
            ]
          },
          {
            "bearerAuth": [
              "company:create_child"
            ]
          }
        ],
        "summary": "Create Account",
        "tags": [
          "Accounts"
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Create"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Whop from '@whop/sdk';\n\nconst client = new Whop({\n  apiKey: process.env['WHOP_API_KEY'], // This is the default and can be omitted\n});\n\nconst account = await client.accounts.create();\n\nconsole.log(account.id);"
          }
        ]
      }
    },
    "/accounts/{account_id}/preferences": {
      "get": {
        "description": "Retrieves the account's preferences: a singleton settings document keyed by preference name.",
        "operationId": "retrieveAccountPreferences",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "ads_agreement": {
                      "description": "The account's Whop Ads services and payment authorization agreement. While `pending_signature`, campaign launch is blocked; sign by answering `requested_information` via `PATCH /verifications/{id}`.",
                      "properties": {
                        "accepted_at": {
                          "description": "When the agreement was signed, as an ISO 8601 timestamp. `null` until signed.",
                          "example": "2026-01-01T12:00:00.000Z",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "agreement_version": {
                          "description": "The agreement version signed or awaiting signature, as an ISO date. `null` when no signature is required.",
                          "example": "2026-01-01",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "printed_name": {
                          "description": "The signer's printed full name. `null` until signed.",
                          "example": "Marcus Webb",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "status": {
                          "description": "Where the account's ads services agreement stands.",
                          "enum": [
                            "not_required",
                            "pending_signature",
                            "signed"
                          ],
                          "example": "signed",
                          "type": "string"
                        }
                      },
                      "required": [
                        "status",
                        "agreement_version",
                        "printed_name",
                        "accepted_at"
                      ],
                      "type": "object"
                    },
                    "ads_payment_methods": {
                      "description": "How the account pays for Whop Ads spend. `primary` is charged first; `backup` covers the charge when the primary fails. `null` until ads billing has been configured.",
                      "properties": {
                        "backup": {
                          "properties": {
                            "card_brand": {
                              "description": "Card brand, present for `card` entries.",
                              "example": "visa",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "exp_month": {
                              "description": "Expiration month, present for `card` entries.",
                              "example": 10,
                              "type": [
                                "integer",
                                "null"
                              ]
                            },
                            "exp_year": {
                              "description": "Expiration year, present for `card` entries.",
                              "example": 2031,
                              "type": [
                                "integer",
                                "null"
                              ]
                            },
                            "icon_url": {
                              "description": "Balance owner icon URL, present for `platform_balance` entries.",
                              "example": "https://whop-assets-example.s3.amazonaws.com/uploads/image/2026-01-01/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "id": {
                              "description": "The funding source ID: a Whop balance (`ldgr_`) for `platform_balance`, or a payment method (`payt_`) for `card`.",
                              "example": "ldgr_xxxxxxxxxxxxxx",
                              "type": "string"
                            },
                            "last4": {
                              "description": "Last four digits, present for `card` entries.",
                              "example": "4242",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "title": {
                              "description": "Balance name, present for account `platform_balance` entries (null for a personal balance).",
                              "example": "Shine Time Auto Detailing",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "type": {
                              "description": "The funding source kind: a Whop balance or a saved card.",
                              "enum": [
                                "platform_balance",
                                "card"
                              ],
                              "example": "platform_balance",
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "id"
                          ],
                          "type": [
                            "object",
                            "null"
                          ]
                        },
                        "primary": {
                          "properties": {
                            "card_brand": {
                              "description": "Card brand, present for `card` entries.",
                              "example": "visa",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "exp_month": {
                              "description": "Expiration month, present for `card` entries.",
                              "example": 10,
                              "type": [
                                "integer",
                                "null"
                              ]
                            },
                            "exp_year": {
                              "description": "Expiration year, present for `card` entries.",
                              "example": 2031,
                              "type": [
                                "integer",
                                "null"
                              ]
                            },
                            "icon_url": {
                              "description": "Balance owner icon URL, present for `platform_balance` entries.",
                              "example": "https://whop-assets-example.s3.amazonaws.com/uploads/image/2026-01-01/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "id": {
                              "description": "The funding source ID: a Whop balance (`ldgr_`) for `platform_balance`, or a payment method (`payt_`) for `card`.",
                              "example": "ldgr_xxxxxxxxxxxxxx",
                              "type": "string"
                            },
                            "last4": {
                              "description": "Last four digits, present for `card` entries.",
                              "example": "4242",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "title": {
                              "description": "Balance name, present for account `platform_balance` entries (null for a personal balance).",
                              "example": "Shine Time Auto Detailing",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "type": {
                              "description": "The funding source kind: a Whop balance or a saved card.",
                              "enum": [
                                "platform_balance",
                                "card"
                              ],
                              "example": "platform_balance",
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "id"
                          ],
                          "type": [
                            "object",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "primary",
                        "backup"
                      ],
                      "type": [
                        "object",
                        "null"
                      ]
                    },
                    "ads_reporting_currency": {
                      "description": "Lowercase ISO currency code, such as `usd` or `eur`, used to display ad spend and stats. Defaults to `usd`.",
                      "example": "usd",
                      "type": "string"
                    },
                    "ads_scheduling_timezone": {
                      "description": "IANA timezone (e.g. `America/New_York`) used to interpret campaign start/end times and to bucket reports. Defaults to `America/New_York` until explicitly overridden.",
                      "example": "America/New_York",
                      "type": "string"
                    },
                    "ads_triple_whale_integration": {
                      "description": "The account's Triple Whale integration, which pushes Whop ad spend to Triple Whale's Data-In API so it reports as a `whop` channel.",
                      "properties": {
                        "masked_api_key": {
                          "description": "The leading characters of the stored Data-In API key, followed by asterisks. The full key is never returned. `null` when no key is stored.",
                          "example": "tw_live_********",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "shop_domain": {
                          "description": "The connected Shopify store domain spend is reported for, such as `acme.myshopify.com`. `null` when no store is connected.",
                          "example": "shinetime.myshopify.com",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "status": {
                          "description": "Where the integration stands. `requires_shopify_store` means no Shopify store is connected — Triple Whale keys records by Shopify shop, so no spend is reported until one is.",
                          "enum": [
                            "connected",
                            "not_connected",
                            "requires_shopify_store"
                          ],
                          "example": "connected",
                          "type": "string"
                        }
                      },
                      "required": [
                        "status",
                        "masked_api_key",
                        "shop_domain"
                      ],
                      "type": "object"
                    },
                    "cards_auto_top_up": {
                      "description": "Whether incoming funds are automatically moved to the account's cards balance. `false` when the account has no cards balance.",
                      "example": false,
                      "type": "boolean"
                    },
                    "dispute_fighter_enabled": {
                      "description": "Whether Whop assembles and files the evidence response when this account's payments are disputed. Off by default; enabling it also opts the account into the success fee charged only on disputes it wins.",
                      "example": false,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ads_payment_methods",
                    "ads_reporting_currency",
                    "ads_scheduling_timezone",
                    "ads_agreement",
                    "ads_triple_whale_integration",
                    "cards_auto_top_up",
                    "dispute_fighter_enabled"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "preferences retrieved"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "account not found"
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ad_campaign:create"
            ]
          },
          {
            "bearerAuth": [
              "payout:account:update"
            ]
          }
        ],
        "summary": "Retrieve Account Preferences",
        "tags": [
          "Accounts"
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Retrieve Preferences"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Whop from '@whop/sdk';\n\nconst client = new Whop({\n  apiKey: process.env['WHOP_API_KEY'], // This is the default and can be omitted\n});\n\nconst preference = await client.accounts.preferences.retrieve('account_id');\n\nconsole.log(preference.ads_agreement);"
          }
        ]
      },
      "parameters": [
        {
          "description": "Account ID, prefixed `biz_`.",
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "patch": {
        "description": "Updates the account's preferences. Each top-level key present in the body is replaced as a whole; omitted keys are left untouched. `ads_triple_whale_integration` takes the Data-In API key to connect with, or `null` to disconnect. `ads_payment_methods` always requires a `primary` entry. `backup` is optional and any pairing is allowed — two cards, `card`+`platform_balance`, or a single method — so a card-only advertiser can fund ads without a platform balance. The `primary` and `backup` must be different sources. A `platform_balance` entry may omit `id` to use the account's default Whop balance. Configuring a `card` requires a user token; account API keys can set up platform-balance billing only.",
        "operationId": "updateAccountPreferences",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "ads_payment_methods": {
                    "description": "How the account pays for Whop Ads spend. `primary` is charged first; `backup` covers the charge when the primary fails.",
                    "properties": {
                      "backup": {
                        "description": "Optional second method charged if the primary fails. Any pairing is allowed (two cards, card+balance, balance+card); omit it to run on a single method. Must differ from the primary.",
                        "properties": {
                          "id": {
                            "description": "The funding source ID: a Whop balance (`ldgr_`) for `platform_balance`, or a payment method (`payt_`) for `card`. Optional for `platform_balance` — defaults to the account's default Whop balance. Required for `card`.",
                            "example": "payt_xxxxxxxxxxxxxx",
                            "type": "string"
                          },
                          "type": {
                            "description": "The funding source kind.",
                            "enum": [
                              "platform_balance",
                              "card"
                            ],
                            "example": "card",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "type": "object"
                      },
                      "primary": {
                        "properties": {
                          "id": {
                            "description": "The funding source ID: a Whop balance (`ldgr_`) for `platform_balance`, or a payment method (`payt_`) for `card`. Optional for `platform_balance` — defaults to the account's default Whop balance. Required for `card`.",
                            "example": "payt_xxxxxxxxxxxxxx",
                            "type": "string"
                          },
                          "type": {
                            "description": "The funding source kind.",
                            "enum": [
                              "platform_balance",
                              "card"
                            ],
                            "example": "platform_balance",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "type": "object"
                      }
                    },
                    "required": [
                      "primary"
                    ],
                    "type": "object"
                  },
                  "ads_reporting_currency": {
                    "description": "Lowercase ISO currency code, such as `usd` or `eur`, used to display ad spend and stats. Defaults to `usd`.",
                    "example": "eur",
                    "type": "string"
                  },
                  "ads_scheduling_timezone": {
                    "description": "IANA timezone (e.g. `America/New_York`) used to interpret campaign start/end times and to bucket reports. Cannot be cleared once set — pass a new value to change it.",
                    "example": "PST8PDT",
                    "type": "string"
                  },
                  "ads_triple_whale_integration": {
                    "description": "Connects or disconnects the Triple Whale integration. Requires a connected Shopify store, since Triple Whale keys spend records by Shopify shop.",
                    "properties": {
                      "api_key": {
                        "description": "A Triple Whale Data-In API key with the `Data-In Write: Ads` scope, validated against Triple Whale before it is stored. Pass `null` to disconnect. Connecting for the first time backfills the account's existing ad spend.",
                        "example": "tw_live_key_1234",
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "api_key"
                    ],
                    "type": "object"
                  },
                  "cards_auto_top_up": {
                    "description": "Whether incoming funds are automatically moved to the account's cards balance. Requires a cards balance on the account.",
                    "example": true,
                    "type": "boolean"
                  },
                  "dispute_fighter_enabled": {
                    "description": "Whether Whop assembles and files the evidence response when this account's payments are disputed. Off by default; enabling it also opts the account into the success fee charged only on disputes it wins.",
                    "example": true,
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "ads_agreement": {
                      "description": "The account's Whop Ads services and payment authorization agreement. While `pending_signature`, campaign launch is blocked; sign by answering `requested_information` via `PATCH /verifications/{id}`.",
                      "properties": {
                        "accepted_at": {
                          "description": "When the agreement was signed, as an ISO 8601 timestamp. `null` until signed.",
                          "example": "2026-01-01T12:00:00.000Z",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "agreement_version": {
                          "description": "The agreement version signed or awaiting signature, as an ISO date. `null` when no signature is required.",
                          "example": "2026-01-01",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "printed_name": {
                          "description": "The signer's printed full name. `null` until signed.",
                          "example": "Marcus Webb",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "status": {
                          "description": "Where the account's ads services agreement stands.",
                          "enum": [
                            "not_required",
                            "pending_signature",
                            "signed"
                          ],
                          "example": "not_required",
                          "type": "string"
                        }
                      },
                      "required": [
                        "status",
                        "agreement_version",
                        "printed_name",
                        "accepted_at"
                      ],
                      "type": "object"
                    },
                    "ads_payment_methods": {
                      "description": "How the account pays for Whop Ads spend. `primary` is charged first; `backup` covers the charge when the primary fails. `null` until ads billing has been configured.",
                      "properties": {
                        "backup": {
                          "properties": {
                            "card_brand": {
                              "description": "Card brand, present for `card` entries.",
                              "example": "visa",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "exp_month": {
                              "description": "Expiration month, present for `card` entries.",
                              "example": 10,
                              "type": [
                                "integer",
                                "null"
                              ]
                            },
                            "exp_year": {
                              "description": "Expiration year, present for `card` entries.",
                              "example": 2031,
                              "type": [
                                "integer",
                                "null"
                              ]
                            },
                            "icon_url": {
                              "description": "Balance owner icon URL, present for `platform_balance` entries.",
                              "example": "https://whop-assets-example.s3.amazonaws.com/uploads/image/2026-01-01/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "id": {
                              "description": "The funding source ID: a Whop balance (`ldgr_`) for `platform_balance`, or a payment method (`payt_`) for `card`.",
                              "example": "ldgr_xxxxxxxxxxxxxx",
                              "type": "string"
                            },
                            "last4": {
                              "description": "Last four digits, present for `card` entries.",
                              "example": "4242",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "title": {
                              "description": "Balance name, present for account `platform_balance` entries (null for a personal balance).",
                              "example": "Shine Time Auto Detailing",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "type": {
                              "description": "The funding source kind: a Whop balance or a saved card.",
                              "enum": [
                                "platform_balance",
                                "card"
                              ],
                              "example": "platform_balance",
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "id"
                          ],
                          "type": [
                            "object",
                            "null"
                          ]
                        },
                        "primary": {
                          "properties": {
                            "card_brand": {
                              "description": "Card brand, present for `card` entries.",
                              "example": "visa",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "exp_month": {
                              "description": "Expiration month, present for `card` entries.",
                              "example": 10,
                              "type": [
                                "integer",
                                "null"
                              ]
                            },
                            "exp_year": {
                              "description": "Expiration year, present for `card` entries.",
                              "example": 2031,
                              "type": [
                                "integer",
                                "null"
                              ]
                            },
                            "icon_url": {
                              "description": "Balance owner icon URL, present for `platform_balance` entries.",
                              "example": "https://whop-assets-example.s3.amazonaws.com/uploads/image/2026-01-01/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "id": {
                              "description": "The funding source ID: a Whop balance (`ldgr_`) for `platform_balance`, or a payment method (`payt_`) for `card`.",
                              "example": "ldgr_xxxxxxxxxxxxxx",
                              "type": "string"
                            },
                            "last4": {
                              "description": "Last four digits, present for `card` entries.",
                              "example": "4242",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "title": {
                              "description": "Balance name, present for account `platform_balance` entries (null for a personal balance).",
                              "example": "Shine Time Auto Detailing",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "type": {
                              "description": "The funding source kind: a Whop balance or a saved card.",
                              "enum": [
                                "platform_balance",
                                "card"
                              ],
                              "example": "platform_balance",
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "id"
                          ],
                          "type": [
                            "object",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "primary",
                        "backup"
                      ],
                      "type": [
                        "object",
                        "null"
                      ]
                    },
                    "ads_reporting_currency": {
                      "description": "Lowercase ISO currency code, such as `usd` or `eur`, used to display ad spend and stats. Defaults to `usd`.",
                      "example": "usd",
                      "type": "string"
                    },
                    "ads_scheduling_timezone": {
                      "description": "IANA timezone (e.g. `America/New_York`) used to interpret campaign start/end times and to bucket reports. Defaults to `America/New_York` until explicitly overridden.",
                      "example": "America/New_York",
                      "type": "string"
                    },
                    "ads_triple_whale_integration": {
                      "description": "The account's Triple Whale integration, which pushes Whop ad spend to Triple Whale's Data-In API so it reports as a `whop` channel.",
                      "properties": {
                        "masked_api_key": {
                          "description": "The leading characters of the stored Data-In API key, followed by asterisks. The full key is never returned. `null` when no key is stored.",
                          "example": "tw_live_********",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "shop_domain": {
                          "description": "The connected Shopify store domain spend is reported for, such as `acme.myshopify.com`. `null` when no store is connected.",
                          "example": "shinetime.myshopify.com",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "status": {
                          "description": "Where the integration stands. `requires_shopify_store` means no Shopify store is connected — Triple Whale keys records by Shopify shop, so no spend is reported until one is.",
                          "enum": [
                            "connected",
                            "not_connected",
                            "requires_shopify_store"
                          ],
                          "example": "requires_shopify_store",
                          "type": "string"
                        }
                      },
                      "required": [
                        "status",
                        "masked_api_key",
                        "shop_domain"
                      ],
                      "type": "object"
                    },
                    "cards_auto_top_up": {
                      "description": "Whether incoming funds are automatically moved to the account's cards balance. `false` when the account has no cards balance.",
                      "example": false,
                      "type": "boolean"
                    },
                    "dispute_fighter_enabled": {
                      "description": "Whether Whop assembles and files the evidence response when this account's payments are disputed. Off by default; enabling it also opts the account into the success fee charged only on disputes it wins.",
                      "example": false,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ads_payment_methods",
                    "ads_reporting_currency",
                    "ads_scheduling_timezone",
                    "ads_agreement",
                    "ads_triple_whale_integration",
                    "cards_auto_top_up",
                    "dispute_fighter_enabled"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "preferences updated"
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameters",
            "description": "invalid preferences"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "account not found"
          }
        },
        "security": [
          {
            "bearerAuth": [
              "ad_campaign:create"
            ]
          },
          {
            "bearerAuth": [
              "payout:account:update"
            ]
          }
        ],
        "summary": "Update Account Preferences",
        "tags": [
          "Accounts"
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Update Preferences"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Whop from '@whop/sdk';\n\nconst client = new Whop({\n  apiKey: process.env['WHOP_API_KEY'], // This is the default and can be omitted\n});\n\nconst preference = await client.accounts.preferences.update('account_id');\n\nconsole.log(preference.ads_agreement);"
          }
        ]
      }
    },
    "/accounts/{account_id}/reserves": {
      "get": {
        "description": "Lists what the account's held balance is made of, one entry per currency: the total held, why each part is held, and the days it unlocks.",
        "operationId": "listAccountReserves",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionDate"
          },
          {
            "description": "Account ID, prefixed `biz_`.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/components/schemas/AccountReserve"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "empty when nothing is held"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "missing or invalid authentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "credential lacks the required balance-read scope"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable",
            "description": "reserves could not be read right now"
          }
        },
        "security": [
          {
            "bearerAuth": [
              "company:balance:read"
            ]
          }
        ],
        "summary": "List Account Reserves",
        "tags": [
          "Accounts"
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "List Reserves"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Whop from '@whop/sdk';\n\nconst client = new Whop({\n  apiKey: process.env['WHOP_API_KEY'], // This is the default and can be omitted\n});\n\nconst reserves = await client.accounts.reserves.list('account_id');\n\nconsole.log(reserves.data);"
          }
        ]
      }
    },
    "/accounts/{id}": {
      "get": {
        "description": "Retrieves a single account by ID or public route when it is visible to the credential, including its crypto wallet. The reserved id `me` retrieves the account associated with the current Account API key; user tokens have no single account, so they must address one by ID or route.",
        "operationId": "retrieveAccount",
        "parameters": [
          {
            "description": "Account ID, prefixed `biz_`, its public route, or `me` for the account associated with the current API key.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "account settling on stablecoin rails"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "missing or invalid authentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "credential lacks the required balance-read scope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "no account with that ID is visible to the credential"
          }
        },
        "security": [
          {
            "bearerAuth": [
              "company:balance:read"
            ]
          }
        ],
        "summary": "Retrieve Account",
        "tags": [
          "Accounts"
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Retrieve"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Whop from '@whop/sdk';\n\nconst client = new Whop({\n  apiKey: process.env['WHOP_API_KEY'], // This is the default and can be omitted\n});\n\nconst account = await client.accounts.retrieve('id');\n\nconsole.log(account.id);"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ApiVersionDate"
        }
      ],
      "patch": {
        "description": "Updates an account. User tokens can update business accounts; Account API keys can update connected accounts. The reserved id `me` — accepted on Retrieve Account — resolves to the requesting account, which an Account API key cannot edit, so updates must name the connected account by its `biz_` id.",
        "operationId": "updateAccount",
        "parameters": [
          {
            "description": "Account ID, prefixed `biz_`.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "affiliate_application_required": {
                    "description": "Whether prospective affiliates must submit an application before promoting this account.",
                    "example": true,
                    "type": "boolean"
                  },
                  "affiliate_instructions": {
                    "description": "Guidelines shown to affiliates promoting this account.",
                    "example": "Send us your detailing content before promoting. No paid search on our brand terms.",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "banner_image": {
                    "additionalProperties": true,
                    "description": "Account banner image, used as the cover photo when creating a Whop-managed Facebook page. Image files up to 10 MB, except `image/gif`. Pass a JSON object containing an `id` from [Create File](/api-reference/files/create-file).",
                    "properties": {
                      "id": {
                        "description": "ID of a file from [Create File](/api-reference/files/create-file), prefixed `file_`.",
                        "example": "file_xxxxxxxxxxxxxx",
                        "type": "string"
                      }
                    },
                    "type": [
                      "object",
                      "null"
                    ]
                  },
                  "business_address": {
                    "description": "Account business address used to calculate tax. A complete address in a supported country is required when `tax_remitted_by` is `self`.",
                    "properties": {
                      "city": {
                        "description": "City name.",
                        "example": "Austin",
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "country": {
                        "description": "Two-letter ISO 3166-1 country code, for example `US`, `DE`, or `GB`.",
                        "example": "US",
                        "type": "string"
                      },
                      "line1": {
                        "description": "First line of the street address.",
                        "example": "4180 Burnet Rd",
                        "type": "string"
                      },
                      "line2": {
                        "description": "Second line of the street address.",
                        "example": "Suite 2",
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "postal_code": {
                        "description": "Postal or ZIP code.",
                        "example": "78756",
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "state": {
                        "description": "State, province, or region code, for example `CA`.",
                        "example": "TX",
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "type": "object"
                  },
                  "business_name": {
                    "description": "The legal business name used with the account's tax address.",
                    "example": "  Shine Time Auto Detailing, LLC  ",
                    "maxLength": 255,
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "business_type": {
                    "description": "High-level business category for the account. See the [business types and industries glossary](/api-reference/beta/accounts/account#business-types-and-industries-glossary) for valid values.",
                    "enum": [
                      "education_program",
                      "coaching",
                      "software",
                      "paid_group",
                      "newsletter",
                      "agency",
                      "physical_products",
                      "brick_and_mortar",
                      "events",
                      "coaching_and_courses",
                      "other",
                      "services",
                      "gig_economy",
                      "marketplace",
                      "telehealth",
                      "class_action_settlement",
                      "physical_product",
                      "saas",
                      "course",
                      "community",
                      null
                    ],
                    "example": "other",
                    "type": [
                      "string",
                      "null"
                    ],
                    "x-whop-hide-enum-values": true
                  },
                  "collect_vat_id": {
                    "description": "Whether checkout shows a VAT/tax ID field for buyers to optionally enter. Does not require a VAT ID to purchase.",
                    "example": true,
                    "type": "boolean"
                  },
                  "country": {
                    "description": "Country where the account is located.",
                    "example": "US",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "description": {
                    "description": "Account promotional description. When creating a Whop-managed Facebook page, it is truncated to 155 characters and used as the About text.",
                    "example": "Mobile ceramic coating, paint correction, and interior detailing across the Austin metro.",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "featured_affiliate_product_id": {
                    "description": "The ID of the product to feature for affiliates. Pass `null` to clear.",
                    "example": "prod_xxxxxxxxxxxxxx",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "home_preferences": {
                    "description": "Public account home page preferences.",
                    "items": {
                      "enum": [
                        "hide_member_count",
                        "hide_members_card"
                      ],
                      "example": "hide_member_count",
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "industry_group": {
                    "description": "Account industry group. See the [business types and industries glossary](/api-reference/beta/accounts/account#business-types-and-industries-glossary) for valid values.",
                    "enum": [
                      "academic_and_test_prep",
                      "accessories",
                      "agriculture_and_farming",
                      "ai_and_automation_agencies",
                      "ai_and_automation_software",
                      "arts_and_crafts",
                      "automotive",
                      "b2b_and_professional_marketplaces",
                      "baby_and_kids",
                      "bars_and_breweries",
                      "beauty_and_personal_care",
                      "beauty_and_wellness",
                      "business_and_entrepreneurship",
                      "business_and_money_groups",
                      "cafes_and_quick_service",
                      "career_and_professional",
                      "charity_and_cause_events",
                      "class_action_settlement",
                      "clothing_and_apparel",
                      "communication_and_messaging_software",
                      "community_and_education_software",
                      "conference_and_expo_events",
                      "consulting",
                      "content_and_clipping_agencies",
                      "creative_and_content_creation",
                      "creative_and_content_groups",
                      "creative_and_education",
                      "creative_gigs",
                      "creative_services",
                      "customer_support_agencies",
                      "dating_and_relationships",
                      "delivery_and_logistics",
                      "dental_and_vision",
                      "dermatology_and_skin",
                      "design_and_creative_agencies",
                      "developer_and_technical_tools",
                      "development_agencies",
                      "digital_and_education_marketplaces",
                      "digital_goods_and_accounts",
                      "e_commerce_software",
                      "education_and_childcare",
                      "educational_training_events",
                      "electronics_and_gadgets",
                      "entertainment_and_leisure",
                      "family_and_community_events",
                      "finance_and_investing",
                      "fitness_and_athletics",
                      "fitness_and_health_groups",
                      "fitness_and_recreation",
                      "fitness_equipment_and_gear",
                      "food_and_beverages",
                      "food_and_hospitality_marketplaces",
                      "funeral_and_death_care",
                      "gaming_and_entertainment_software",
                      "gaming_groups",
                      "genetic_and_specialized",
                      "government_and_public",
                      "health_and_wellness",
                      "health_and_wellness_services",
                      "healthcare",
                      "healthcare_and_wellness_software",
                      "hobbies_and_lifestyle",
                      "hobby_and_interest_groups",
                      "home_and_living",
                      "home_and_trade_services",
                      "home_and_trade_storefronts",
                      "home_improvement_and_tools",
                      "home_services_gigs",
                      "hospitality_and_lodging",
                      "industrial_and_manufacturing",
                      "industry_specific_software",
                      "language_and_communication",
                      "legal_and_compliance",
                      "lifestyle_and_culture",
                      "lifestyle_and_personal_growth",
                      "lifestyle_and_personal_growth_groups",
                      "lifestyle_and_wellness_events",
                      "logistics_and_transportation_services",
                      "marketing_agencies",
                      "marketing_and_advertising",
                      "marketing_and_sales_software",
                      "media_and_publishing_companies",
                      "mental_health_and_behavioral",
                      "miscellaneous",
                      "music_and_performing_arts",
                      "news_and_politics",
                      "nonprofit_and_charity",
                      "office_and_business_supplies",
                      "outdoor_and_sports",
                      "performance_and_show_events",
                      "personal_development",
                      "personal_finance",
                      "personal_services",
                      "pet_services",
                      "pets_and_animals",
                      "primary_and_general_care",
                      "product_marketplaces",
                      "productivity_and_business_ops",
                      "professional_gigs",
                      "professional_services",
                      "professional_services_storefront",
                      "publishing_and_info_products",
                      "real_estate",
                      "real_estate_software",
                      "recruiting_and_staffing",
                      "rehabilitation_and_therapy",
                      "religion_and_faith",
                      "rental_marketplaces",
                      "restaurants",
                      "retail",
                      "sales_agencies",
                      "sales_and_revenue",
                      "security_and_investigations",
                      "security_and_privacy_software",
                      "service_marketplaces",
                      "sleep_and_chronic_conditions",
                      "social_and_networking_events",
                      "social_entertainment_events",
                      "specialized_gigs",
                      "specialty_medical_care",
                      "spirituality_and_mindfulness",
                      "spirituality_and_personal_growth",
                      "sports_and_fitness_events",
                      "sports_betting_and_gambling",
                      "sports_betting_groups",
                      "supplements_and_nutrition",
                      "sustainability_and_eco_products",
                      "task_and_errands",
                      "tech_and_ai",
                      "tech_and_dev_groups",
                      "tech_and_development",
                      "trading_and_finance_software",
                      "trading_and_investing",
                      "trading_and_investing_groups",
                      "transportation",
                      "veterinary",
                      "video_games_and_esports",
                      "weight_and_metabolic_health",
                      "wellness_and_alternative",
                      "womens_and_mens_health",
                      null
                    ],
                    "example": "automotive",
                    "type": [
                      "string",
                      "null"
                    ],
                    "x-whop-hide-enum-values": true
                  },
                  "industry_type": {
[...]
