{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.freestyle.domains#ListCertificatesResponse": {
      "type": "structure",
      "members": {
        "certificates": {
          "target": "com.freestyle.domains#ListCertificatesResponseCertificatesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.freestyle.domains#CertificateInfo": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "generation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notAfter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "wildcard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.freestyle.domains#ListCertificatesResponseCertificatesList": {
      "type": "list",
      "member": {
        "target": "com.freestyle.domains#CertificateInfo"
      },
      "traits": {}
    },
    "com.freestyle.domains#ListCertificates": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.freestyle.domains#ListCertificatesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v5/certificates",
          "code": 200
        },
        "smithy.api#documentation": "List your certificates."
      }
    },
    "com.freestyle.domains#RequestWildcardRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.domains#RequestWildcard": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.domains#RequestWildcardRequest"
      },
      "output": {
        "target": "com.freestyle.domains#CertificateInfo"
      },
      "errors": [
        {
          "target": "com.freestyle.domains#BadRequest"
        },
        {
          "target": "com.freestyle.domains#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v5/certificates/wildcard",
          "code": 200
        },
        "smithy.api#documentation": "Request an ongoing `*.domain` certificate. Requires `_acme-challenge.<domain>` to be NS-delegated to Freestyle's nameservers, since wildcards can only be proven over DNS."
      }
    },
    "com.freestyle.domains#ListDomainsResponse": {
      "type": "structure",
      "members": {
        "domains": {
          "target": "com.freestyle.domains#ListDomainsResponseDomainsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.freestyle.domains#DomainOwnership": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.freestyle.domains#ListDomainsResponseDomainsList": {
      "type": "list",
      "member": {
        "target": "com.freestyle.domains#DomainOwnership"
      },
      "traits": {}
    },
    "com.freestyle.domains#ListDomains": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.freestyle.domains#ListDomainsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v5/domains",
          "code": 200
        },
        "smithy.api#documentation": "List the domains you hold — those you verified, and any Freestyle subdomain you have taken by publishing it."
      }
    },
    "com.freestyle.domains#PlaceholderBranding": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An https URL of the logo. The visitor's browser loads it directly.",
            "smithy.api#required": {}
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Named on the page in place of Freestyle. Null = logo only.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "What your placeholder pages wear: the edge's 404 for a hostname under one of\nyour verified domains that none of your TLS rules serve."
      }
    },
    "com.freestyle.domains#GetPlaceholderBranding": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.freestyle.domains#PlaceholderBranding"
      },
      "errors": [
        {
          "target": "com.freestyle.domains#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v5/domains/placeholder",
          "code": 200
        },
        "smithy.api#documentation": "The branding your placeholder pages wear. A placeholder page is what a browser sees for a hostname under one of your verified domains that none of your TLS rules serve."
      }
    },
    "com.freestyle.domains#SetPlaceholderBrandingRequest": {
      "type": "structure",
      "members": {
        "logoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An https URL of the logo, at most 2048 characters.",
            "smithy.api#required": {}
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Named on the page in place of Freestyle, at most 64 characters. Omit\nfor logo only.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.domains#SetPlaceholderBranding": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.domains#SetPlaceholderBrandingRequest"
      },
      "output": {
        "target": "com.freestyle.domains#PlaceholderBranding"
      },
      "errors": [
        {
          "target": "com.freestyle.domains#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v5/domains/placeholder",
          "code": 200
        },
        "smithy.api#documentation": "Set the branding for every placeholder page under your verified domains — including domains you verify later. The page keeps its behaviour (a 404 that reloads itself until a route appears); only the logo and the name change. Replaces any earlier setting."
      }
    },
    "com.freestyle.domains#DeletePlaceholderBranding": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.freestyle.domains#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v5/domains/placeholder",
          "code": 200
        },
        "smithy.api#documentation": "Remove your placeholder branding. Pages go back to the Freestyle default."
      }
    },
    "com.freestyle.domains#VerificationState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where a challenge stands. A challenge is not consumed by success: it\nbecomes the durable record of which user proved control."
      }
    },
    "com.freestyle.domains#ListVerificationsRequest": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.freestyle.domains#VerificationState",
          "traits": {
            "smithy.api#httpQuery": "state",
            "smithy.api#documentation": "Narrow to one state. Omit for every challenge the account holds,\nverified records included."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.domains#ListVerificationsResponse": {
      "type": "structure",
      "members": {
        "verifications": {
          "target": "com.freestyle.domains#ListVerificationsResponseVerificationsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.freestyle.domains#DomainVerification": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "recordName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Place `verificationCode` in a TXT record at this name, then verify.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.freestyle.domains#VerificationState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "verificationCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "verifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this challenge proved control; null while pending.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.freestyle.domains#ListVerificationsResponseVerificationsList": {
      "type": "list",
      "member": {
        "target": "com.freestyle.domains#DomainVerification"
      },
      "traits": {}
    },
    "com.freestyle.domains#ListVerifications": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.domains#ListVerificationsRequest"
      },
      "output": {
        "target": "com.freestyle.domains#ListVerificationsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v5/verifications",
          "code": 200
        },
        "smithy.api#documentation": "List your verification challenges."
      }
    },
    "com.freestyle.domains#CreateVerificationRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.domains#CreateVerification": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.domains#CreateVerificationRequest"
      },
      "output": {
        "target": "com.freestyle.domains#DomainVerification"
      },
      "errors": [
        {
          "target": "com.freestyle.domains#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v5/verifications",
          "code": 200
        },
        "smithy.api#documentation": "Issue a challenge. Publish the returned `verificationCode` as a TXT record at `recordName`, then PUT the verification to complete it."
      }
    },
    "com.freestyle.domains#GetVerificationRequest": {
      "type": "structure",
      "members": {
        "domainOrId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Verification id or the domain under verification"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.domains#GetVerification": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.domains#GetVerificationRequest"
      },
      "output": {
        "target": "com.freestyle.domains#DomainVerification"
      },
      "errors": [
        {
          "target": "com.freestyle.domains#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v5/verifications/{domainOrId}",
          "code": 200
        },
        "smithy.api#documentation": "Fetch a verification challenge by its id or its domain."
      }
    },
    "com.freestyle.domains#VerifyDomainRequest": {
      "type": "structure",
      "members": {
        "domainOrId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Verification id, or the domain to verify"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.domains#DomainVerified": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "verifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A successful verification: ownership, plus which challenge proved it.\nSeveral users may hold challenges for one domain, so `verifiedBy` names the\none whose code was published."
      }
    },
    "com.freestyle.domains#VerifyDomain": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.domains#VerifyDomainRequest"
      },
      "output": {
        "target": "com.freestyle.domains#DomainVerified"
      },
      "errors": [
        {
          "target": "com.freestyle.domains#BadRequest"
        },
        {
          "target": "com.freestyle.domains#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v5/verifications/{domainOrId}",
          "code": 200
        },
        "smithy.api#documentation": "Check DNS and record ownership. Addressed by id, only that challenge's own code counts, and the result names it. Use this when several people are verifying the same domain."
      }
    },
    "com.freestyle.domains#DeleteVerificationRequest": {
      "type": "structure",
      "members": {
        "domainOrId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Verification id or the domain under verification"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.domains#DeleteVerification": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.domains#DeleteVerificationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.freestyle.domains#NotFound"
        },
        {
          "target": "com.freestyle.domains#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v5/verifications/{domainOrId}",
          "code": 200
        },
        "smithy.api#documentation": "Withdraw outstanding challenges; by domain this drops all of them. A challenge that already verified is a permanent record and cannot be deleted."
      }
    },
    "com.freestyle.domains#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.freestyle.domains#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.freestyle.domains#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.freestyle.domains#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.freestyle.domains#Domains": {
      "type": "service",
      "version": "0.1.0",
      "operations": [
        {
          "target": "com.freestyle.domains#ListCertificates"
        },
        {
          "target": "com.freestyle.domains#RequestWildcard"
        },
        {
          "target": "com.freestyle.domains#ListDomains"
        },
        {
          "target": "com.freestyle.domains#GetPlaceholderBranding"
        },
        {
          "target": "com.freestyle.domains#SetPlaceholderBranding"
        },
        {
          "target": "com.freestyle.domains#DeletePlaceholderBranding"
        },
        {
          "target": "com.freestyle.domains#ListVerifications"
        },
        {
          "target": "com.freestyle.domains#CreateVerification"
        },
        {
          "target": "com.freestyle.domains#GetVerification"
        },
        {
          "target": "com.freestyle.domains#VerifyDomain"
        },
        {
          "target": "com.freestyle.domains#DeleteVerification"
        }
      ],
      "traits": {
        "smithy.api#title": "Freestyle",
        "smithy.api#documentation": "# Powerful Virtual Machines\n\nDocumentation: [freestyle.sh/docs](https://freestyle.sh/docs)\n\nFreestyle VMs are full Linux virtual machines designed for long running, complex tasks.\n\n## Key Features\n\n- **Instant Startup**: Freestyle VMs provision in milliseconds, with p99s under 400ms.\n- **Persistence**: Freestyle VMs can run forever, they can be hibernated with their exact memory in place and come back to life weeks later instantly, in that exact state.\n- **Powerful**: Freestyle VMs go up to 64GB of RAM for public tiers and much further for enterprise. Freestyle does high quality hardware virtualization supporting nested virtualization, FUSE, eBPF, full Linux networking and more. If it can run in an EC2, it can run in a Freestyle VM.\n- **Cheaply Snapshottable and Branchable**: Freestyle VMs are instantly and cheaply snapshottable (sub 1ms interruption, sub 50ms to snapshot ready). These snapshots can be used to create new VMs in the exact state of the original VM (memory and disk). This enables powerful workflows like branching, cloning, and rapid recovery from failures.\n\n## When to use Freestyle\n\n- **Long Running Agent Tasks**: When you have tasks that take hours, days, weeks or months to run, Freestyle VMs provide a persistent and powerful environment that your agent can work in to completion.\n- **Failure Prone/Experimental Exploration**: When your tasks involve branching, cloning or need time travel Freestyle VMs are ideal because of their cheap snapshottability and power that makes them great for experiments.\n- **Complex Coding Problems**: When you are tackling advanced coding problems in research or production codebases, poor virtualization and small sandboxes will not cut it. Freestyle VMs provide the necessary resources and environment to handle these challenges effectively.\n- **Multi Tenant Usage Patterns**: Freestyle VMs are intentionally built to be used by agent builders with multiple customers. The slug system allows for keying VMs by their user, the identity system allows for granular acccess control and permissioning, and the VPC system allows for multi-tenant network isolation. \n\n## When not to use it\n\n- **\"Run AI Code\"**: If your exclusively executing short lived Python scripts or other ephemeral tasks the benefits above aren't relevant. Freestyle VMs should still be benchmarked but there may be alternatives better suited.\n- **CPU Intensive CI/CD**: Freestyle VMs run on bare metal on data center CPUs. We also oversubscribe host resources. For workloads that require sustained high CPU usage like building the Linux Kernel or mining crypto prefer cloud providers that offer consumer CPU performance.\n- **Short Lived Tasks**: If your tasks are extremely short lived and do not benefit from persistence or powerful hardware. If your average task takes less than 15 minutes to complete then they are likely cheaply retryable and don't require the reliability and persistence that Freestyle VMs provide.\n- **Sole Application Hosting**: Freestyle VMs are designed as workbenches for development, experimentation and task execution. Not for hosting production applications. Hosting a minecraft server for some friends will work great on Freestyle, but we do not offer autoscaling, load balancers or CDNs and we don't plan to.\n\n## Emerging Use Cases\n\n- **RL Environments**: Freestyle VMs are well-suited for running reinforcement learning environments that require persistent state and complex setups. The ability to snapshot and branch VMs allows researchers to experiment with different strategies and record environment states efficiently.\n- **Auto Research Climbing**: Freestyle VMs are great for auto research as the snapshotting and fan out allows research agents to explore multiple strategies, review past results and iterate efficiently without ever losing progress.\n- **Environments for Development, Testing, Security and Pentesting**: Freestyle VMs are the only sandbox provider that offers full private VPC and networking which allows simulating full applications in production like staging environments. This can be used for testing, iteration, security assesments and penetration testing in a controlled and isolated environment.\n- **Connecting Agents to Production VPCs**: Freestyle VMs VPC system allows for connections to private production VPCs through secure Wireguard tunnels. If you want sandboxed agents to work on your/your users production infrastructure and they have requirements about not going through the public internet, Freestyle VMs provide a secure and compliant solution.\n\n## Private Offers (Enterprise)\n\n- **GPU Sandboxes**: Freestyle offers private GPU sandboxes for enterprise customers, providing direct access to frontier GPU hardware for high performance computing, machine learning and generally the above **Emerging Use Cases**.\n- **Colocated Bare Metal**: For users wanting sandboxes that work with especially weird requirements Freestyle can offer space in our racks for your dedicated bare metal servers. This can be useful for custom GPUs, video processing, or any other specialized hardware needs.\n- **Custom Pricing**: Freestyle can offer spot access, CPU Time billing, node based pricing and more. These deals can be tailored to the specific needs and usage patterns of enterprise customers.\n- **Custom Sandboxing**: Freestyle builds and maintains its own custom virtualization solutions which allows us to virtualize and sandbox workloads in ways that are not possible with standard options. This enables highly specialized and optimized environments for enterprise customers.\n- **Dedicated Support**: Enterprise customers can receive dedicated support from the Freestyle team, ensuring that any issues or custom requirements are addressed promptly and effectively.\n\nFor more information on Enterprise offerings contact our [sales team](https://cal.com/freestyle/enterprise-onboarding?overlayCalendar=true)\n\n### Relevant Links\n\n- [Freestyle Documentation](https://freestyle.sh/docs)\n- [Freestyle Dashboard](https://dash.freestyle.sh) — manage your account and API keys.\n\nAI agents can create their own API key with `npx -y freestyle@latest tokens create \"agent work\" --output json` using an existing CLI login. Run `npx -y freestyle@latest login` first if needed, then use the returned `token` as `FREESTYLE_API_KEY`."
      }
    }
  }
}
